openapi: 3.0.3
info:
  contact:
    email: support@example.com
    name: API Support
    url: http://example.com/support
  description: A simple API based for testing java-nullable-ref-using-all-of-schema.
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: http://example.com/terms/
  title: java-nullable-ref-using-all-of-schema API
  version: 1.0.0
  x-konfig-has-globally-required-security: true
servers:
- description: Live API server
  url: https://java-nullable-ref-using-all-of-schema.konfigthis.com
security:
- ApiKey: []
tags:
- name: Test
paths:
  /simple-endpoint:
    get:
      description: Provide an input parameter to receive a JSON value with properties.
      operationId: Test_fetch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TestFetchRequestWithAllOf'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestFetchResponse'
          description: Successful response
      summary: Fetches a JSON value based on input parameter
      tags:
      - Test
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--simple-endpoint
      x-content-type: application/json
      x-accepts: application/json
components:
  schemas:
    TestFetchRequestDataType:
      type: number
    TestFetchRequestWithAllOf:
      example:
        input: 0.8008281904610115
      properties:
        input:
          nullable: true
          type: number
      type: object
    TestFetchResponse:
      type: object
      x-konfig-is-used-in-successful-response: true
    konfig-generated-schema-single-parameter-schema-get--simple-endpoint:
      properties:
        input:
          $ref: '#/components/schemas/TestFetchRequestDataTypeNullable'
      type: object
      x-do-not-generate: true
      x-konfig-is-parameter: []
    TestFetchRequestDataTypeNullable:
      nullable: true
      type: number
  securitySchemes:
    ApiKey:
      in: header
      name: X-API-KEY
      type: apiKey
      x-konfig-globally-required-security: true

