openapi: 3.1.0
info:
  title: Production
  version: '1.0'
  description: >-
    Baremetrics provides real-time subscription metrics for teams built with
    Stripe, Shopify Partners, Braintree, Recurly, Chargebee, Google Play, and
    App Store Connect.


    In addition to metrics, Baremetrics provides tools that help you reduce
    churn and grow your business faster:


    Recover: Prevent failed charges and keep your hard-earned revenue with our
    100% automated toolkit.


    Cancellation insights: Learn exactly why your customers cancel, calculate
    lost revenue by cancellation reason, and send automated emails to win
    customers back.


    Flightpath: Plan for the future with flexible financial modeling tools built
    for growing SaaS companies.
servers:
  - url: https://api.baremetrics.com
components:
  securitySchemes:
    sec0:
      type: apiKey
      in: header
      name: Authorization
      x-bearer-format: bearer
      x-default: APIKEY
security:
  - sec0: []
paths:
  /v1/account:
    get:
      summary: Get Account
      description: ''
      operationId: get-account
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "account": {
                        "id": 'account_id',
                        "default_currency": {
                          "id": "usd",
                          "alternate_symbols": [
                            "US$"
                          ],
                          "decimal_mark": ".",
                          "disambiguate_symbol": "US$",
                          "html_entity": "$",
                          "iso_code": "USD",
                          "iso_numeric": "840",
                          "name": "United States Dollar",
                          "priority": 1,
                          "smallest_denomination": 1,
                          "subunit": "Cent",
                          "subunit_to_unit": 100,
                          "symbol": "$",
                          "symbol_first": true,
                          "thousands_separator": ","
                        },
                        "company": "Example Company",
                        "created_at": 123456789
                      }
                    }
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
  /v1/sources:
    get:
      summary: List Sources
      description: ''
      operationId: sources
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "sources": [
                        {
                          "id": "source_id",
                          "provider": "stripe",
                          "provider_id": "<stripe_account_id>"
                        },
                        {
                          "id": "source_id",
                          "provider": "baremetrics",
                          "provider_id": null
                        }
                      ]
                    }
              schema:
                type: object
                properties:
                  sources:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: source_id
                        provider:
                          type: string
                          example: stripe
                        provider_id:
                          type: string
                          example: <stripe_account_id>
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
  /v1/{source_id}/plans:
    get:
      summary: List Plans
      description: ''
      operationId: list-plans
      parameters:
        - name: search
          in: query
          description: Allows you to search based on the name or oid fields
          schema:
            type: string
        - name: source_id
          in: path
          description: Please see [Sources](ref:sources)
          required: true
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "plans": [
                        {
                          "oid": "plan_1",
                          "source_id": "123",
                          "source": "baremetrics",
                          "name": "Plan 1",
                          "interval": "year",
                          "interval_count": 1,
                          "trial_duration": null,
                          "trial_duration_unit": null,
                          "created": null,
                          "active": true,
                          "setup_fees": 0,
                          "amounts": [
                            {
                              "currency": "USD",
                              "symbol": "$",
                              "symbol_right": false,
                              "amount": 450000
                            }
                          ]
                        },
                        {
                          "oid": "plan_2",
                          "source_id": "123",
                          "source": "baremetrics",
                          "name": "Plan 2",
                          "interval": "year",
                          "interval_count": 1,
                          "trial_duration": null,
                          "trial_duration_unit": null,
                          "created": null,
                          "active": true,
                          "setup_fees": 0,
                          "amounts": [
                            {
                              "currency": "USD",
                              "symbol": "$",
                              "symbol_right": false,
                              "amount": 450000
                            }
                          ]
                        }
                      ]
                    }
              schema:
                type: object
                properties:
                  plans:
                    type: array
                    items:
                      type: object
                      properties:
                        oid:
                          type: string
                          example: plan_1
                        source_id:
                          type: string
                          example: '123'
                        source:
                          type: string
                          example: baremetrics
                        name:
                          type: string
                          example: Plan 1
                        interval:
                          type: string
                          example: year
                        interval_count:
                          type: integer
                          example: 1
                          default: 0
                        trial_duration: {}
                        trial_duration_unit: {}
                        created: {}
                        active:
                          type: boolean
                          example: true
                          default: true
                        setup_fees:
                          type: integer
                          example: 0
                          default: 0
                        amounts:
                          type: array
                          items:
                            type: object
                            properties:
                              currency:
                                type: string
                                example: USD
                              symbol:
                                type: string
                                example: $
                              symbol_right:
                                type: boolean
                                example: false
                                default: true
                              amount:
                                type: integer
                                example: 450000
                                default: 0
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
    post:
      summary: Create Plan
      description: >-
        Create a plan for use when
        [creating](https://developers.baremetrics.com/reference/introduction) or
        [updating](https://developers.baremetrics.com/reference/introduction)
        subscriptions.
      operationId: create-plan
      parameters:
        - name: source_id
          in: path
          description: Please see [Sources](ref:sources)
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - oid
                - name
                - currency
                - amount
                - interval
                - interval_count
              properties:
                oid:
                  type: string
                  description: Your unique ID for the plan
                name:
                  type: string
                  description: >-
                    Your internal name for this plan. This will be displayed in
                    the Plan Breakout section
                currency:
                  type: string
                  description: 'The ISO code of the currency of this plan. E.G: usd'
                amount:
                  type: integer
                  description: How much is this plan? (In cents)
                  format: int32
                interval:
                  type: string
                  description: day, month or year
                interval_count:
                  type: integer
                  format: int32
                trial_duration:
                  type: integer
                  description: >-
                    The duration of this trial. This is to be used in
                    conjunction with trial_duration_unit
                  default: 0
                  format: int32
                trial_duration_unit:
                  type: string
                  description: This is to be used in conjunction with trial_duration
                  default: day
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "plan": {
                        "oid": "plan_2",
                        "source_id": "123",
                        "source": "baremetrics",
                        "name": "Plan 2",
                        "interval": "year",
                        "interval_count": 1,
                        "trial_duration": null,
                        "trial_duration_unit": null,
                        "created": null,
                        "active": true,
                        "setup_fees": 0,
                        "amounts": [
                          {
                            "currency": "USD",
                            "symbol": "$",
                            "symbol_right": false,
                            "amount": 450000
                          }
                        ]
                      }
                    }
              schema:
                type: object
                properties:
                  plan:
                    type: object
                    properties:
                      oid:
                        type: string
                        example: plan_2
                      source_id:
                        type: string
                        example: '123'
                      source:
                        type: string
                        example: baremetrics
                      name:
                        type: string
                        example: Plan 2
                      interval:
                        type: string
                        example: year
                      interval_count:
                        type: integer
                        example: 1
                        default: 0
                      trial_duration: {}
                      trial_duration_unit: {}
                      created: {}
                      active:
                        type: boolean
                        example: true
                        default: true
                      setup_fees:
                        type: integer
                        example: 0
                        default: 0
                      amounts:
                        type: array
                        items:
                          type: object
                          properties:
                            currency:
                              type: string
                              example: USD
                            symbol:
                              type: string
                              example: $
                            symbol_right:
                              type: boolean
                              example: false
                              default: true
                            amount:
                              type: integer
                              example: 450000
                              default: 0
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n\t\"error\": \"Error message here\"\n}"
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Error message here
      deprecated: false
  /v1/{source_id}/plans/{oid}:
    get:
      summary: Show Plan
      description: ''
      operationId: show-plan
      parameters:
        - name: oid
          in: path
          required: true
          schema:
            type: string
        - name: source_id
          in: path
          description: Please see [Sources](ref:sources)
          required: true
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "plan": {
                        "oid": "plan_2",
                        "source_id": "123",
                        "source": "baremetrics",
                        "name": "Plan 2",
                        "interval": "year",
                        "interval_count": 1,
                        "trial_duration": null,
                        "trial_duration_unit": null,
                        "created": null,
                        "active": true,
                        "setup_fees": 0,
                        "amounts": [
                          {
                            "currency": "USD",
                            "symbol": "$",
                            "symbol_right": false,
                            "amount": 450000
                          }
                        ]
                      }
                    }
              schema:
                type: object
                properties:
                  plan:
                    type: object
                    properties:
                      oid:
                        type: string
                        example: plan_2
                      source_id:
                        type: string
                        example: '123'
                      source:
                        type: string
                        example: baremetrics
                      name:
                        type: string
                        example: Plan 2
                      interval:
                        type: string
                        example: year
                      interval_count:
                        type: integer
                        example: 1
                        default: 0
                      trial_duration: {}
                      trial_duration_unit: {}
                      created: {}
                      active:
                        type: boolean
                        example: true
                        default: true
                      setup_fees:
                        type: integer
                        example: 0
                        default: 0
                      amounts:
                        type: array
                        items:
                          type: object
                          properties:
                            currency:
                              type: string
                              example: USD
                            symbol:
                              type: string
                              example: $
                            symbol_right:
                              type: boolean
                              example: false
                              default: true
                            amount:
                              type: integer
                              example: 450000
                              default: 0
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
    delete:
      summary: Delete Plan
      description: ''
      operationId: delete-plan
      parameters:
        - name: oid
          in: path
          required: true
          schema:
            type: string
        - name: source_id
          in: path
          description: Please see [Sources](ref:sources)
          required: true
          schema:
            type: string
      responses:
        '202':
          description: '202'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
  /v1/{source_id}/plans/{plan_oid}:
    put:
      summary: Update Plan
      description: ''
      operationId: update-plan
      parameters:
        - name: plan_oid
          in: path
          description: Your interval plan id
          required: true
          schema:
            type: string
        - name: source_id
          in: path
          description: Please see [Sources](ref:sources)
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                  description: The new name of this plan
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "plan": {
                        "oid": "plan_2",
                        "source_id": "123",
                        "source": "baremetrics",
                        "name": "Plan 2",
                        "interval": "year",
                        "interval_count": 1,
                        "trial_duration": null,
                        "trial_duration_unit": null,
                        "created": null,
                        "active": true,
                        "setup_fees": 0,
                        "amounts": [
                          {
                            "currency": "USD",
                            "symbol": "$",
                            "symbol_right": false,
                            "amount": 450000
                          }
                        ]
                      }
                    }
              schema:
                type: object
                properties:
                  plan:
                    type: object
                    properties:
                      oid:
                        type: string
                        example: plan_2
                      source_id:
                        type: string
                        example: '123'
                      source:
                        type: string
                        example: baremetrics
                      name:
                        type: string
                        example: Plan 2
                      interval:
                        type: string
                        example: year
                      interval_count:
                        type: integer
                        example: 1
                        default: 0
                      trial_duration: {}
                      trial_duration_unit: {}
                      created: {}
                      active:
                        type: boolean
                        example: true
                        default: true
                      setup_fees:
                        type: integer
                        example: 0
                        default: 0
                      amounts:
                        type: array
                        items:
                          type: object
                          properties:
                            currency:
                              type: string
                              example: USD
                            symbol:
                              type: string
                              example: $
                            symbol_right:
                              type: boolean
                              example: false
                              default: true
                            amount:
                              type: integer
                              example: 450000
                              default: 0
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
  /v1/{source_id}/customers:
    get:
      summary: List Customers
      description: Fetch a list of all customers on your account
      operationId: list-customers
      parameters:
        - name: search
          in: query
          description: >-
            Allows you to search for a customer based on: oid, email, notes and
            name
          schema:
            type: string
        - name: source_id
          in: path
          description: Please see [Sources](ref:sources)
          required: true
          schema:
            type: string
        - name: sort
          in: query
          description: Allows you to sort the results. You can use ltv or created
          schema:
            type: string
            default: created
        - name: order
          in: query
          schema:
            type: string
            default: asc
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "customers": [
                        {
                          "oid": "customer_1",
                          "source_id": "source_1",
                          "source": "stripe",
                          "created": 1492605754,
                          "email": "customer_1@baremetrics.com",
                          "name": "Customer 1",
                          "display_image": "https://logo.clearbit.com/baremetrics.com",
                          "display_name": "Customer 1",
                          "notes": "Here are some notes",
                          "ltv": 50000,
                          "is_active": true,
                          "is_canceled": false,
                          "current_mrr": 1000,
                          "current_plans": [
                            {
                              "oid": "plan_1",
                              "source_id": "source_1",
                              "source": "stripe",
                              "name": "Plan 1",
                              "interval": "month",
                              "interval_count": 1,
                              "trial_duration": null,
                              "trial_duration_unit": null,
                              "created": 1492605754,
                              "active": true,
                              "setup_fees": 0,
                              "amounts": [
                                {
                                  "currency": "USD",
                                  "symbol": "$",
                                  "symbol_right": false,
                                  "amount": 1000
                                }
                              ]
                            }
                          ]
                        }
                      ]
                    }
              schema:
                type: object
                properties:
                  customers:
                    type: array
                    items:
                      type: object
                      properties:
                        oid:
                          type: string
                          example: customer_1
                        source_id:
                          type: string
                          example: source_1
                        source:
                          type: string
                          example: stripe
                        created:
                          type: integer
                          example: 1492605754
                          default: 0
                        email:
                          type: string
                          example: customer_1@baremetrics.com
                        name:
                          type: string
                          example: Customer 1
                        display_image:
                          type: string
                          example: https://logo.clearbit.com/baremetrics.com
                        display_name:
                          type: string
                          example: Customer 1
                        notes:
                          type: string
                          example: Here are some notes
                        ltv:
                          type: integer
                          example: 50000
                          default: 0
                        is_active:
                          type: boolean
                          example: true
                          default: true
                        is_canceled:
                          type: boolean
                          example: false
                          default: true
                        current_mrr:
                          type: integer
                          example: 1000
                          default: 0
                        current_plans:
                          type: array
                          items:
                            type: object
                            properties:
                              oid:
                                type: string
                                example: plan_1
                              source_id:
                                type: string
                                example: source_1
                              source:
                                type: string
                                example: stripe
                              name:
                                type: string
                                example: Plan 1
                              interval:
                                type: string
                                example: month
                              interval_count:
                                type: integer
                                example: 1
                                default: 0
                              trial_duration: {}
                              trial_duration_unit: {}
                              created:
                                type: integer
                                example: 1492605754
                                default: 0
                              active:
                                type: boolean
                                example: true
                                default: true
                              setup_fees:
                                type: integer
                                example: 0
                                default: 0
                              amounts:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    currency:
                                      type: string
                                      example: USD
                                    symbol:
                                      type: string
                                      example: $
                                    symbol_right:
                                      type: boolean
                                      example: false
                                      default: true
                                    amount:
                                      type: integer
                                      example: 1000
                                      default: 0
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
    post:
      summary: Create Customer
      description: >-
        This endpoint allows you to create a customer record. After you create
        the record, you will be able to create a
        [Subscription](https://developers.baremetrics.com/reference/introduction)
      operationId: create-customer
      parameters:
        - name: source_id
          in: path
          description: Please see [Sources](ref:sources)
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - oid
              properties:
                name:
                  type: string
                notes:
                  type: string
                  description: >-
                    Your own notes for this customer. These will be displayed in
                    the profile
                email:
                  type: string
                  description: >-
                    An email address for this customer. This is used to lookup
                    extra profile information
                oid:
                  type: string
                  description: Your unique ID for the customer
                created:
                  type: string
                  description: >-
                    A unix timestamp of when this customer was created. Defaults
                    to now.
                  default: NOW
                  format: date-time
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "customer": {
                        "oid": "customer_1",
                        "source_id": "source_1",
                        "source": "stripe",
                        "created": 1492605754,
                        "email": "customer_1@baremetrics.com",
                        "name": "Customer 1",
                        "display_image": "https://logo.clearbit.com/baremetrics.com",
                        "display_name": "Customer 1",
                        "notes": "Here are some notes",
                        "ltv": 0,
                        "is_active": false,
                        "is_canceled": false,
                        "current_mrr": 0,
                        "current_plans": []
                      }
                    }
              schema:
                type: object
                properties:
                  customer:
                    type: object
                    properties:
                      oid:
                        type: string
                        example: customer_1
                      source_id:
                        type: string
                        example: source_1
                      source:
                        type: string
                        example: stripe
                      created:
                        type: integer
                        example: 1492605754
                        default: 0
                      email:
                        type: string
                        example: customer_1@baremetrics.com
                      name:
                        type: string
                        example: Customer 1
                      display_image:
                        type: string
                        example: https://logo.clearbit.com/baremetrics.com
                      display_name:
                        type: string
                        example: Customer 1
                      notes:
                        type: string
                        example: Here are some notes
                      ltv:
                        type: integer
                        example: 0
                        default: 0
                      is_active:
                        type: boolean
                        example: false
                        default: true
                      is_canceled:
                        type: boolean
                        example: false
                        default: true
                      current_mrr:
                        type: integer
                        example: 0
                        default: 0
                      current_plans:
                        type: array
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n\t\"error\": \"Error message here\"\n}"
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Error message here
      deprecated: false
  /v1/{source_id}/customers/{oid}:
    get:
      summary: Show Customer
      description: ''
      operationId: show-customer
      parameters:
        - name: oid
          in: path
          required: true
          schema:
            type: string
        - name: source_id
          in: path
          description: Please see [Sources](ref:sources)
          required: true
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "customer": {
                        "oid": "customer_1",
                        "source_id": "source_1",
                        "source": "stripe",
                        "created": 1492605754,
                        "email": "customer_1@baremetrics.com",
                        "name": "Customer 1",
                        "display_image": "https://logo.clearbit.com/baremetrics.com",
                        "display_name": "Customer 1",
                        "notes": "Here are some notes",
                        "ltv": 50000,
                        "is_active": true,
                        "is_canceled": false,
                        "current_mrr": 1000,
                        "current_plans": [
                          {
                            "oid": "plan_1",
                            "source_id": "source_1",
                            "source": "stripe",
                            "name": "Plan 1",
                            "interval": "month",
                            "interval_count": 1,
                            "trial_duration": null,
                            "trial_duration_unit": null,
                            "created": 1492605754,
                            "active": true,
                            "setup_fees": 0,
                            "amounts": [
                              {
                                "currency": "USD",
                                "symbol": "$",
                                "symbol_right": false,
                                "amount": 1000
                              }
                            ]
                          }
                        ]
                      }
                    }
              schema:
                type: object
                properties:
                  customer:
                    type: object
                    properties:
                      oid:
                        type: string
                        example: customer_1
                      source_id:
                        type: string
                        example: source_1
                      source:
                        type: string
                        example: stripe
                      created:
                        type: integer
                        example: 1492605754
                        default: 0
                      email:
                        type: string
                        example: customer_1@baremetrics.com
                      name:
                        type: string
                        example: Customer 1
                      display_image:
                        type: string
                        example: https://logo.clearbit.com/baremetrics.com
                      display_name:
                        type: string
                        example: Customer 1
                      notes:
                        type: string
                        example: Here are some notes
                      ltv:
                        type: integer
                        example: 50000
                        default: 0
                      is_active:
                        type: boolean
                        example: true
                        default: true
                      is_canceled:
                        type: boolean
                        example: false
                        default: true
                      current_mrr:
                        type: integer
                        example: 1000
                        default: 0
                      current_plans:
                        type: array
                        items:
                          type: object
                          properties:
                            oid:
                              type: string
                              example: plan_1
                            source_id:
                              type: string
                              example: source_1
                            source:
                              type: string
                              example: stripe
                            name:
                              type: string
                              example: Plan 1
                            interval:
                              type: string
                              example: month
                            interval_count:
                              type: integer
                              example: 1
                              default: 0
                            trial_duration: {}
                            trial_duration_unit: {}
                            created:
                              type: integer
                              example: 1492605754
                              default: 0
                            active:
                              type: boolean
                              example: true
                              default: true
                            setup_fees:
                              type: integer
                              example: 0
                              default: 0
                            amounts:
                              type: array
                              items:
                                type: object
                                properties:
                                  currency:
                                    type: string
                                    example: USD
                                  symbol:
                                    type: string
                                    example: $
                                  symbol_right:
                                    type: boolean
                                    example: false
                                    default: true
                                  amount:
                                    type: integer
                                    example: 1000
                                    default: 0
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
    delete:
      summary: Delete Customer
      description: ''
      operationId: delete-customer
      parameters:
        - name: oid
          in: path
          required: true
          schema:
            type: string
        - name: source_id
          in: path
          description: Please see [Sources](ref:sources)
          required: true
          schema:
            type: string
      responses:
        '202':
          description: '202'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
  /v1/{source_id}/customers/{oid}/events:
    get:
      summary: List Customer Events
      description: ''
      operationId: list-customer-events
      parameters:
        - name: source_id
          in: path
          description: Please see [Sources](ref:sources)
          schema:
            type: string
          required: true
        - name: oid
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "events": [
                        {
                          "id": "id_1",
                          "event_type": "new_customer",
                          "source": "baremetrics",
                          "source_id": "baremetrics_1",
                          "timestamp": 1475452800
                        },
                        {
                          "id": "id_2",
                          "event_type": "charge",
                          "source": "baremetrics",
                          "source_id": "baremetrics_1",
                          "timestamp": 1475452800
                        }
                      ]
                    }
              schema:
                type: object
                properties:
                  events:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: id_1
                        event_type:
                          type: string
                          example: new_customer
                        source:
                          type: string
                          example: baremetrics
                        source_id:
                          type: string
                          example: baremetrics_1
                        timestamp:
                          type: integer
                          example: 1475452800
                          default: 0
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
  /v1/{source_id}/customers/{customer_oid}:
    put:
      summary: Update Customer
      description: >-
        This endpoint allows you to update the basic information stored on a
        Customer, such as first name, last name and notes
      operationId: update-customer
      parameters:
        - name: customer_oid
          in: path
          description: Your unique ID for the customer
          schema:
            type: string
          required: true
        - name: source_id
          in: path
          description: Please see [Sources](ref:sources)
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                notes:
                  type: string
                created:
                  type: string
                  description: Unix timestamp of when this customer was created
                  format: date-time
                email:
                  type: string
                  description: Email for this customer
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "customer": {
                        "oid": "customer_1",
                        "source_id": "source_1",
                        "source": "stripe",
                        "created": 1492605754,
                        "email": "customer_1@baremetrics.com",
                        "name": "Customer 1",
                        "display_image": "https://logo.clearbit.com/baremetrics.com",
                        "display_name": "Customer 1",
                        "notes": "Here are some notes",
                        "ltv": 50000,
                        "is_active": true,
                        "is_canceled": false,
                        "current_mrr": 1000,
                        "current_plans": [
                          {
                            "oid": "plan_1",
                            "source_id": "source_1",
                            "source": "stripe",
                            "name": "Plan 1",
                            "interval": "month",
                            "interval_count": 1,
                            "trial_duration": null,
                            "trial_duration_unit": null,
                            "created": 1492605754,
                            "active": true,
                            "setup_fees": 0,
                            "amounts": [
                              {
                                "currency": "USD",
                                "symbol": "$",
                                "symbol_right": false,
                                "amount": 1000
                              }
                            ]
                          }
                        ]
                      }
                    }
              schema:
                type: object
                properties:
                  customer:
                    type: object
                    properties:
                      oid:
                        type: string
                        example: customer_1
                      source_id:
                        type: string
                        example: source_1
                      source:
                        type: string
                        example: stripe
                      created:
                        type: integer
                        example: 1492605754
                        default: 0
                      email:
                        type: string
                        example: customer_1@baremetrics.com
                      name:
                        type: string
                        example: Customer 1
                      display_image:
                        type: string
                        example: https://logo.clearbit.com/baremetrics.com
                      display_name:
                        type: string
                        example: Customer 1
                      notes:
                        type: string
                        example: Here are some notes
                      ltv:
                        type: integer
                        example: 50000
                        default: 0
                      is_active:
                        type: boolean
                        example: true
                        default: true
                      is_canceled:
                        type: boolean
                        example: false
                        default: true
                      current_mrr:
                        type: integer
                        example: 1000
                        default: 0
                      current_plans:
                        type: array
                        items:
                          type: object
                          properties:
                            oid:
                              type: string
                              example: plan_1
                            source_id:
                              type: string
                              example: source_1
                            source:
                              type: string
                              example: stripe
                            name:
                              type: string
                              example: Plan 1
                            interval:
                              type: string
                              example: month
                            interval_count:
                              type: integer
                              example: 1
                              default: 0
                            trial_duration: {}
                            trial_duration_unit: {}
                            created:
                              type: integer
                              example: 1492605754
                              default: 0
                            active:
                              type: boolean
                              example: true
                              default: true
                            setup_fees:
                              type: integer
                              example: 0
                              default: 0
                            amounts:
                              type: array
                              items:
                                type: object
                                properties:
                                  currency:
                                    type: string
                                    example: USD
                                  symbol:
                                    type: string
                                    example: $
                                  symbol_right:
                                    type: boolean
                                    example: false
                                    default: true
                                  amount:
                                    type: integer
                                    example: 1000
                                    default: 0
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n\t\"error\": \"Error message here\"\n}"
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Error message here
      deprecated: false
  /v1/{source_id}/subscriptions:
    get:
      summary: List Subscriptions
      description: Get all subscriptions linked to this API Key.
      operationId: list-subscriptions
      parameters:
        - name: source_id
          in: path
          description: Please see [Sources](ref:sources)
          required: true
          schema:
            type: string
        - name: customer_oid
          in: query
          description: This allows you to return subscriptions for a given customer
          schema:
            type: string
        - name: order
          in: query
          description: >-
            Allows you to order subscriptions from newest to oldest `desc` or
            oldest to newest `asc`
          schema:
            type: string
            default: desc
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "subscriptions": [
                        {
                          "oid": "subscription_1",
                          "source_id": "source_1",
                          "source": "stripe",
                          "customer": {
                            "oid": "customer_1",
                            "source_id": "source_1",
                            "source": "stripe",
                            "created": 1492605754,
                            "email": "customer_1@baremetrics.com",
                            "name": "Customer 1",
                            "display_image": "https://logo.clearbit.com/baremetrics.com",
                            "display_name": "Customer 1",
                            "notes": "Here are some notes",
                            "ltv": 50000,
                          },
                          "canceled_at": null,
                          "started_at": 1492605754,
                          "processed": true,
                          "active": true,
                          "quantity": 1,
                          "discount": 0,
                          "plan": {
                            "oid": "plan_1",
                            "source_id": "source_1",
                            "source": "stripe",
                            "name": "Plan 1",
                            "interval": "month",
                            "interval_count": 1,
                            "trial_duration": null,
                            "trial_duration_unit": null,
                            "created": 1492605754,
                            "active": true,
                            "setup_fees": 0,
                            "amounts": [
                              {
                                "currency": "USD",
                                "symbol": "$",
                                "symbol_right": false,
                                "amount": 1000
                              }
                            ]
                          }
                        }
                      ]
                    }
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
    post:
      summary: Create Subscription
      description: This endpoint allows you to create a Subscription.
      operationId: create-subscription
      parameters:
        - name: source_id
          in: path
          description: Please see [Sources](ref:sources)
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - oid
                - started_at
                - plan_oid
                - customer_oid
              properties:
                oid:
                  type: string
                  description: Your unique ID for the subscription
                started_at:
                  type: string
                  description: A unix timestamp of when this subscription started
                  format: date-time
                canceled_at:
                  type: string
                  description: >-
                    A unix timestamp of when this subscription was, or should be
                    canceled. This cannot be changed, so only set this if you
                    are certain you know when the subscription will end.
                  format: date-time
                plan_oid:
                  type: string
                  description: Your unique ID for the plan
                customer_oid:
                  type: string
                  description: Your unique ID for the customer
                addons:
                  type: array
                  items:
                    properties:
                      oid:
                        type: string
                      amount:
                        type: integer
                        format: int32
                      quantity:
                        type: integer
                        format: int32
                    required:
                      - oid
                      - amount
                      - quantity
                    type: object
                quantity:
                  type: integer
                  default: 1
                  format: int32
                discount:
                  type: integer
                  description: Integer value (in the same currency as the plan)
                  format: int32
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "event": {
                        "id": "48X1ZZHtRaBtfN",
                        "type": "subscription.created",
                        "info": {
                          "oid": "subscription_51",
                          "started_at": 1474381618,
                          "plan_oid": "1476719008009",
                          "customer_oid": "1476719006346",
                          "canceled_at": null,
                          "quantity": 1,
                          "addons" : [
                            {
                              "oid": "addon_1",
                              "amount": 100,
                              "quantity": 1
                            },
                            {
                              "oid": "addon_2",
                              "amount": 50,
                              "quantity": 1
                            }
                          ]
                        },
                        "occurred_at": 1474381618,
                        "received_at": 1480421211
                      }
                    }
              schema:
                type: object
                properties:
                  event:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 48X1ZZHtRaBtfN
                      type:
                        type: string
                        example: subscription.created
                      info:
                        type: object
                        properties:
                          oid:
                            type: string
                            example: subscription_51
                          started_at:
                            type: integer
                            example: 1474381618
                            default: 0
                          plan_oid:
                            type: string
                            example: '1476719008009'
                          customer_oid:
                            type: string
                            example: '1476719006346'
                          canceled_at: {}
                          quantity:
                            type: integer
                            example: 1
                            default: 0
                          addons:
                            type: array
                            items:
                              type: object
                              properties:
                                oid:
                                  type: string
                                  example: addon_1
                                amount:
                                  type: integer
                                  example: 100
                                  default: 0
                                quantity:
                                  type: integer
                                  example: 1
                                  default: 0
                      occurred_at:
                        type: integer
                        example: 1474381618
                        default: 0
                      received_at:
                        type: integer
                        example: 1480421211
                        default: 0
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n\t\"error\": \"Error message here\"\n}"
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Error message here
      deprecated: false
  /v1/{source_id}/subscriptions/{oid}:
    get:
      summary: Show Subscription
      description: ''
      operationId: show-subscription
      parameters:
        - name: oid
          in: path
          required: true
          schema:
            type: string
        - name: source_id
          in: path
          description: Please see [Sources](ref:sources)
          required: true
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "subscription": {
                        "oid": "subscription_1",
                        "source_id": "source_1",
                        "source": "stripe",
                        "customer": {
                          "oid": "customer_1",
                          "source_id": "source_1",
                          "source": "stripe",
                          "created": 1492605754,
                          "email": "customer_1@baremetrics.com",
                          "name": "Customer 1",
                          "display_image": "https://logo.clearbit.com/baremetrics.com",
                          "display_name": "Customer 1",
                          "notes": "Here are some notes",
                          "ltv": 50000,
                        },
                        "canceled_at": null,
                        "started_at": 1492605754,
                        "processed": true,
                        "active": true,
                        "quantity": 1,
                        "discount": 0,
                        "plan": {
                          "oid": "plan_1",
                          "source_id": "source_1",
                          "source": "stripe",
                          "name": "Plan 1",
                          "interval": "month",
                          "interval_count": 1,
                          "trial_duration": null,
                          "trial_duration_unit": null,
                          "created": 1492605754,
                          "active": true,
                          "setup_fees": 0,
                          "amounts": [
                            {
                              "currency": "USD",
                              "symbol": "$",
                              "symbol_right": false,
                              "amount": 1000
                            }
                          ]
                        }
                      }
                    }
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
    delete:
      summary: Delete Subscription
      description: ''
      operationId: delete-subscription
      parameters:
        - name: oid
          in: path
          required: true
          schema:
            type: string
        - name: source_id
          in: path
          description: Please see [Sources](ref:sources)
          required: true
          schema:
            type: string
      responses:
        '202':
          description: '202'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
  /v1/{source_id}/subscriptions/{subscription_oid}:
    put:
      summary: Update Subscription
      description: >-
        This allows you to update a Subscription, such as changing plans and
        addons.
      operationId: update-subscription
      parameters:
        - name: subscription_oid
          in: path
          description: Your unique ID for the subscription
          required: true
          schema:
            type: string
        - name: source_id
          in: path
          description: Please see [Sources](ref:sources)
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - plan_oid
              properties:
                plan_oid:
                  type: string
                  description: Your unique ID for the plan
                occurred_at:
                  type: string
                  description: >-
                    A unix timestamp of when this change occurred. Defaults to
                    now
                  default: NOW
                  format: date-time
                addons:
                  type: array
                  description: In cents. The OID can be anything you want.
                  items:
                    properties:
                      oid:
                        type: string
                      amount:
                        type: integer
                        format: int32
                      quantity:
                        type: integer
                        format: int32
                    required:
                      - oid
                      - amount
                      - quantity
                    type: object
                quantity:
                  type: integer
                  default: 1
                  format: int32
                discount:
                  type: integer
                  description: Integer value (in the same currency as the plan)
                  format: int32
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "event": {
                        "id": "48X4cZ3T25MKkL",
                        "type": "subscription.updated",
                        "info": {
                          "plan_oid": "1476719008009",
                          "occurred_at": 1480421495,
                          "quantity": 1,
                          "addons" : [
                            {
                              "oid": "addon_1",
                              "amount": 100,
                              "quantity": 1
                            },
                            {
                              "oid": "addon_2",
                              "amount": 50,
                              "quantity": 1
                            },
                            {
                              "oid": "addon_3",
                              "amount": 25,
                              "quantity": 1
                            }
                          ]
                        },
                        "occurred_at": 1480421495,
                        "received_at": 1480421495
                      }
                    }
              schema:
                type: object
                properties:
                  event:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 48X4cZ3T25MKkL
                      type:
                        type: string
                        example: subscription.updated
                      info:
                        type: object
                        properties:
                          plan_oid:
                            type: string
                            example: '1476719008009'
                          occurred_at:
                            type: integer
                            example: 1480421495
                            default: 0
                          quantity:
                            type: integer
                            example: 1
                            default: 0
                          addons:
                            type: array
                            items:
                              type: object
                              properties:
                                oid:
                                  type: string
                                  example: addon_1
                                amount:
                                  type: integer
                                  example: 100
                                  default: 0
                                quantity:
                                  type: integer
                                  example: 1
                                  default: 0
                      occurred_at:
                        type: integer
                        example: 1480421495
                        default: 0
                      received_at:
                        type: integer
                        example: 1480421495
                        default: 0
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n\t\"error\": \"Error message here\"\n}"
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Error message here
      deprecated: false
  /v1/{source_id}/subscriptions/{subscription_oid}/cancel:
    put:
      summary: Cancel Subscription
      description: This endpoint allows you to cancel a subscription.
      operationId: cancel-subscription
      parameters:
        - name: subscription_oid
          in: path
          description: Your unique ID for the subscription
          required: true
          schema:
            type: string
        - name: source_id
          in: path
          description: Please see [Sources](ref:sources)
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - canceled_at
              properties:
                canceled_at:
                  type: string
                  description: >-
                    A unix timestamp of when this subscription was, or should be
                    canceled.
                  format: date-time
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "event": {
                        "id": "48X3C1W4w5vCbx",
                        "type": "subscription.canceled",
                        "info": {
                          "canceled_at": 1480421362,
                          "addons": []
                        },
                        "occurred_at": 1480421362,
                        "received_at": 1480421362
                      }
                    }
              schema:
                type: object
                properties:
                  event:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 48X3C1W4w5vCbx
                      type:
                        type: string
                        example: subscription.canceled
                      info:
                        type: object
                        properties:
                          canceled_at:
                            type: integer
                            example: 1480421362
                            default: 0
                          addons:
                            type: array
                      occurred_at:
                        type: integer
                        example: 1480421362
                        default: 0
                      received_at:
                        type: integer
                        example: 1480421362
                        default: 0
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n\t\"error\": \"Error message here\"\n}"
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Error message here
      deprecated: false
  /v1/annotations:
    get:
      summary: List Annotations
      description: ''
      operationId: list-annotations
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "annotations": [
                        {
                          "id": "our_unique_id",
                          "metric": "mrr",
                          "annotation": "New Feature 1",
                          "date": "2015-03-31",
                          "global": true,
                          "user": {
                            "id": "user_id",
                            "email": "user@baremetrics.com",
                            "admin": true,
                            "name": "User Name"
                          }
                        }
                      ]
                    }
              schema:
                type: object
                properties:
                  annotations:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: our_unique_id
                        metric:
                          type: string
                          example: mrr
                        annotation:
                          type: string
                          example: New Feature 1
                        date:
                          type: string
                          example: '2015-03-31'
                        global:
                          type: boolean
                          example: true
                          default: true
                        user:
                          type: object
                          properties:
                            id:
                              type: string
                              example: user_id
                            email:
                              type: string
                              example: user@baremetrics.com
                            admin:
                              type: boolean
                              example: true
                              default: true
                            name:
                              type: string
                              example: User Name
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
    post:
      summary: Create Annotation
      description: ''
      operationId: create-annotation
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - metric
                - annotation
                - date
                - global
                - user_id
              properties:
                metric:
                  type: string
                  description: Which metric is this for?
                annotation:
                  type: string
                  description: The annotation text
                date:
                  type: string
                  description: YYYY-MM-DD
                  format: date
                global:
                  type: boolean
                  description: Should this show on all graphs?
                user_id:
                  type: string
                  description: Who added this annotation?
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "annotation": {
                        "id": "our_unique_id",
                        "metric": "mrr",
                        "annotation": "New Feature 1",
                        "date": "2015-03-31",
                        "global": true,
                        "user": {
                          "id": "user_id",
                          "email": "user@baremetrics.com",
                          "admin": true,
                          "name": "User Name"
                        }
                      }
                    }
              schema:
                type: object
                properties:
                  annotation:
                    type: object
                    properties:
                      id:
                        type: string
                        example: our_unique_id
                      metric:
                        type: string
                        example: mrr
                      annotation:
                        type: string
                        example: New Feature 1
                      date:
                        type: string
                        example: '2015-03-31'
                      global:
                        type: boolean
                        example: true
                        default: true
                      user:
                        type: object
                        properties:
                          id:
                            type: string
                            example: user_id
                          email:
                            type: string
                            example: user@baremetrics.com
                          admin:
                            type: boolean
                            example: true
                            default: true
                          name:
                            type: string
                            example: User Name
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
  /v1/annotations/{id}:
    get:
      summary: Show Annotation
      description: ''
      operationId: show-annotation
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "annotation": {
                        "id": "our_unique_id",
                        "metric": "mrr",
                        "annotation": "New Feature 1",
                        "date": "2015-03-31",
                        "global": true,
                        "user": {
                          "id": "user_id",
                          "email": "user@baremetrics.com",
                          "admin": true,
                          "name": "User Name"
                        }
                      }
                    }
              schema:
                type: object
                properties:
                  annotation:
                    type: object
                    properties:
                      id:
                        type: string
                        example: our_unique_id
                      metric:
                        type: string
                        example: mrr
                      annotation:
                        type: string
                        example: New Feature 1
                      date:
                        type: string
                        example: '2015-03-31'
                      global:
                        type: boolean
                        example: true
                        default: true
                      user:
                        type: object
                        properties:
                          id:
                            type: string
                            example: user_id
                          email:
                            type: string
                            example: user@baremetrics.com
                          admin:
                            type: boolean
                            example: true
                            default: true
                          name:
                            type: string
                            example: User Name
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
    delete:
      summary: Delete Annotation
      description: ''
      operationId: delete-annotation
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '202':
          description: '202'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
  /v1/goals:
    get:
      summary: List Goals
      description: ''
      operationId: list-goals
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "goals": [
                        {
                          "id": "our_unique_id",
                          "metric": "mrr",
                          "end_amount": 2000,
                          "start_amount": 1000,
                          "end_date": "2016-06-30",
                          "start_date": "2016-01-02",
                          "name": "MRR Growth"
                        }
                      ]
                    }
              schema:
                type: object
                properties:
                  goals:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: our_unique_id
                        metric:
                          type: string
                          example: mrr
                        end_amount:
                          type: integer
                          example: 2000
                          default: 0
                        start_amount:
                          type: integer
                          example: 1000
                          default: 0
                        end_date:
                          type: string
                          example: '2016-06-30'
                        start_date:
                          type: string
                          example: '2016-01-02'
                        name:
                          type: string
                          example: MRR Growth
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
    post:
      summary: Create Goal
      description: ''
      operationId: create-goal
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - metric
                - start_amount
                - end_amount
                - start_date
                - end_date
                - name
              properties:
                metric:
                  type: string
                start_amount:
                  type: integer
                  description: In cents
                  format: int32
                end_amount:
                  type: integer
                  description: In cents
                  format: int32
                start_date:
                  type: string
                  format: date
                end_date:
                  type: string
                  format: date
                name:
                  type: string
                  description: The goal name
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "goal": {
                        "id": "our_unique_id",
                        "metric": "mrr",
                        "end_amount": 2000,
                        "start_amount": 1000,
                        "end_date": "2016-06-30",
                        "start_date": "2016-01-02",
                        "name": "Goal 1"
                      }
                    }
              schema:
                type: object
                properties:
                  goal:
                    type: object
                    properties:
                      id:
                        type: string
                        example: our_unique_id
                      metric:
                        type: string
                        example: mrr
                      end_amount:
                        type: integer
                        example: 2000
                        default: 0
                      start_amount:
                        type: integer
                        example: 1000
                        default: 0
                      end_date:
                        type: string
                        example: '2016-06-30'
                      start_date:
                        type: string
                        example: '2016-01-02'
                      name:
                        type: string
                        example: Goal 1
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
  /v1/goals/{id}:
    get:
      summary: Show Goal
      description: ''
      operationId: show-goal
      parameters:
        - name: id
          in: path
          description: Unique ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "goal": {
                        "id": "our_unique_id",
                        "metric": "mrr",
                        "end_amount": 2000,
                        "start_amount": 1000,
                        "end_date": "2016-06-30",
                        "start_date": "2016-01-02",
                        "name": "MRR Growth"
                      }
                    }
              schema:
                type: object
                properties:
                  goal:
                    type: object
                    properties:
                      id:
                        type: string
                        example: our_unique_id
                      metric:
                        type: string
                        example: mrr
                      end_amount:
                        type: integer
                        example: 2000
                        default: 0
                      start_amount:
                        type: integer
                        example: 1000
                        default: 0
                      end_date:
                        type: string
                        example: '2016-06-30'
                      start_date:
                        type: string
                        example: '2016-01-02'
                      name:
                        type: string
                        example: MRR Growth
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
    delete:
      summary: Delete Goal
      description: ''
      operationId: delete-goal
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '202':
          description: '202'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
  /v1/users:
    get:
      summary: List Users
      description: ''
      operationId: list-users
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "users": [
                        {
                          "id": "our_unique_id",
                          "email": "user@baremetrics.com",
                          "admin": true,
                          "name": "User Name"
                        }
                      ]
                    }
              schema:
                type: object
                properties:
                  users:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: our_unique_id
                        email:
                          type: string
                          example: user@baremetrics.com
                        admin:
                          type: boolean
                          example: true
                          default: true
                        name:
                          type: string
                          example: User Name
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
  /v1/users/{id}:
    get:
      summary: Show User
      description: ''
      operationId: show-user
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "user": {
                        "id": "our_unique_id",
                        "email": "user@baremetrics.com",
                        "admin": true,
                        "name": "User Name"
                      }
                    }
              schema:
                type: object
                properties:
                  user:
                    type: object
                    properties:
                      id:
                        type: string
                        example: our_unique_id
                      email:
                        type: string
                        example: user@baremetrics.com
                      admin:
                        type: boolean
                        example: true
                        default: true
                      name:
                        type: string
                        example: User Name
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
  /v1/{source_id}/charges:
    get:
      summary: List Charges
      description: ''
      operationId: list-charges
      parameters:
        - name: source_id
          in: path
          description: Please see [Sources](ref:sources)
          required: true
          schema:
            type: string
        - name: start
          in: query
          schema:
            type: string
            format: date-time
        - name: end
          in: query
          schema:
            type: string
            format: date-time
        - name: subscription_oid
          in: query
          schema:
            type: string
        - name: customer_oid
          in: query
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "charges": [
                        {
                          "oid": "your_unique_id",
                          "source_id": "source_id",
                          "source": "baremetrics",
                          "status": "paid",
                          "created": 1475452800,
                          "customer": {
                            "oid": "customer_1",
                            "source_id": "source_1",
                            "source": "stripe",
                            "created": 1492605754,
                            "email": "customer_1@baremetrics.com",
                            "name": "Customer 1",
                            "display_image": "https://logo.clearbit.com/baremetrics.com",
                            "display_name": "Customer 1",
                            "notes": "Here are some notes",
                            "ltv": 50000,
                          },
[...]
