openapi: 3.0.0
info:
  title: Alloy API
  version: 1.0.0
  description: hey hey hey, it's the Alloy API!
servers:
  - url: https://demo-qasandbox.alloy.co/v1
    description: Public documentation website endpoint
security:
  - oauth2: []
  - basic: []
components:
  securitySchemes:
    basic:
      type: http
      description: HTTP basic authorization using a workflow token and secret
      scheme: Basic
    oauth2:
      type: oauth2
      x-default: viSRrSuUJEid8u0l3dyRTj5ATsWpHX9ShD51TH3j
      description: Oauth2 using a workflow token and secret to generate a bearer token
      flows:
        clientCredentials:
          tokenUrl: /oauth/bearer
tags:
  - name: Accounts
    description: >-
      Manage accounts and account snapshots, aggregated and decisioned through
      Transaction Monitoring workflows and evaluations.
  - name: Batches
    description: >-
      The batch API allows you to run multiple evaluations with a single API
      call. First, CSV information is supplied to a POST route, and a batch
      token is returned. Then, you can supply this batch token to GET routes to
      get information related to the batch and get the evaluations that were
      run.
  - name: Cases
    description: >
      Cases are created within Alloy when an evaluation meets some criteria that
      needs human review. Usually this review is in the form of marking the tag
      that opened the case as a "false positive" (this is nothing) OR taking
      action on the account in question (closing it, cancelling the transaction,
      declining to open it). When severe enough, a SAR (suspicious activity
      report) may even be filed with the government to report said fraud. There
      can only be one open case per entity/type/environment combination. We
      expect many types of customers to only use one type, meaning for them only
      a single case can be open at a time, per customer. That said, this is
      entirely configurable and we can support many cases per entity.
  - name: Documents
    description: >-
      The document upload API is a two-step process. First, the metadata for the
      document is specified, and the API returns a file identifier so the file
      can be streamed directly to the next endpoint. You’ll need to look for the
      document_token returned in the response because that is necessary to pass
      to the next endpoint for streaming the file.
  - name: Entities
    description: >-
      Entities are the center of the Alloy world. All evaluations, manual
      reviews, and documents are related to an entity whether or not you
      explicitly link them together in your API requests. This endpoint provides
      the ability to query on an entity and get top-level details about that
      entity as well as an overview of all items associated with the entity. The
      tokens from linked evaluations, reviews, or documents can be passed to
      their own API endpoints for more information about those specific items.
  - name: Evaluations
    description: >-
      Evaluations are a core part of the Alloy world. In order to onboard a
      customer you can run an evaluation under a specific workflow, and that
      will create both the evaluation and, in most cases, the entity for that
      customer.
  - name: Events
    description: >-
      Events are how we receive ongoing data, including entities (persons,
      businesses), logins, bank accounts, and transactions.
  - name: Entity Feedback
    description: >-
      Entity feedback data is information about the status of an entity post
      account opening.
  - name: Groups
    description: >-
      Groups are a series of “Evaluations” and “Entities” that are linked
      together for a particular purpose.
  - name: Journeys
    description: >-
      A Journey is a decision configuration that allows you to run multiple
      workflows.
  - name: Lists
    description: >-
      Manage lists of applicant PII. These lists allow for allow-listing and
      deny-listing applicants based on their personal information.
  - name: OAuth
    description: >-
      These endpoints allow the API to be used by OAuth clients. They convert
      (application token) + (application secret) credentials into OAuth bearer
      tokens that can be used with any other API endpoint.
  - name: Portfolio Evaluations
    description: Endpoints allowing users to work with portfolio evaluations
  - name: Published Attributes
    description: >-
      Published attributes provide a mechanism to persist custom data on an
      entity then decision on that data throughout the entity's lifecycle.
  - name: Reviews
    description: >-
      Reviews are created when an agent in the dashboard manually approves or
      denies an entity for an application. You can also create them via API
      using the endpoints shown here.
  - name: Transactions
    description: >-
      Manage transactions. These transactions are aggregated and decisioned
      through Transaction Monitoring workflows and evaluations.
paths:
  /accounts:
    post:
      tags:
        - Accounts
      summary: Create an account
      requestBody:
        description: >
          The body must contain either an `external_account_id` or
          `account_number`.
        content:
          application/json:
            schema:
              type: object
              description: >
                The account that is being evaluated. Typically this is the
                account that is owned by your organization.

                The body must contain either an `external_account_id` or
                `account_number`.
              allOf:
                - allOf:
                    - properties:
                        bank_account_token:
                          description: Alloy-generated unique identifier for the account
                          type: string
                          readOnly: true
                        external_account_id:
                          description: >-
                            Unique identifier associated with the account. At
                            least one of `external_account_id` or
                            `account_number` must be provided.
                          type: string
                          maxLength: 60
                        account_number:
                          description: >-
                            Bank account number. At least one of
                            `account_number` or `external_account_id` must be
                            provided.
                          type: string
                        account_class:
                          description: >-
                            Allowed values are (`"deposit"`, `"credit"`,
                            `"brokerage"`).
                          type: string
                          enum:
                            - deposit
                            - credit
                            - brokerage
                        account_name:
                          description: Name of the account.
                          type: string
                        routing_number:
                          description: Routing number associated with the account.
                          type: string
                        account_type:
                          description: >-
                            Allowed values are (`"merchant account"`,
                            `"person"`, `null`).
                          type: string
                          enum:
                            - merchant account
                            - person
                          nullable: true
                        is_linked_account:
                          description: >-
                            Determines whether the account is a funding source
                            or linked account.
                          type: boolean
                          nullable: true
                        link_timestamp:
                          description: >-
                            ISO 8601 date. Required when `is_linked_account` is
                            true. Cannot be future-dated.
                          type: string
                          format: date-time
                          nullable: true
                        unlink_timestamp:
                          description: ISO 8601 date. Cannot be future-dated.
                          type: string
                          format: date-time
                          nullable: true
                        opening_date:
                          description: >-
                            UTC/ISO dates both accepted. Strings are converted
                            to ISO timestamps. Date the account was opened.
                          type: string
                          format: date
                          nullable: true
                        country_code:
                          type: string
                          description: >-
                            2-character ISO Code (mainly used for merchant
                            accounts).
                          maxLength: 2
                          nullable: true
                        account_snapshot:
                          type: object
                          description: >-
                            JSON object. Account snapshots are upserted
                            according to their `timestamp` value. If a snapshot
                            already exists for a given account and timestamp
                            value, it will be updated; otherwise, a new account
                            snapshot will be created.
                          $ref: >-
                            #/paths/~1transactions~1%7Btransaction_id%7D/patch/requestBody/content/application~1json/schema/allOf/0/properties/account_snapshot
                        product_code:
                          description: Identifier of the product name.
                          type: string
                          nullable: true
                        product_name:
                          description: Name of the product associated with the account.
                          type: string
                          nullable: true
                        product_number:
                          type: string
                          description: >-
                            Product number that corresponds to the product_name
                            associated with the account.
                          nullable: true
                        maturity_date:
                          description: >-
                            UTC/ISO dates are both accepted. Strings are
                            converted to ISO timestamps. Date on which the final
                            payment is due on a loan or other financial
                            instrument, such as a bond or term deposit, at which
                            point the principal is due to be paid.
                          type: string
                          format: date
                          nullable: true
                        closing_date:
                          description: >-
                            UTC/ISO dates both accepted. Strings are converted
                            to ISO timestamps. Date the account was closed.
                          type: string
                          format: date
                          nullable: true
                        cif_number:
                          type: string
                          description: >-
                            Unique identifier used by bank cores to refer to a
                            customer.
                          nullable: true
                        card_network:
                          type: string
                          description: >-
                            Card network of the card that was used in this
                            transaction.
                          maxLength: 20
                          nullable: true
                        expiration_date:
                          type: string
                          nullable: true
                        tokenization_method:
                          type: string
                          description: >-
                            method of tokenization used to anonymize account
                            information.
                          maxLength: 20
                          nullable: true
                        merchant_category_code:
                          type: string
                          description: >-
                            The merchant category code (MCC) is used to classify
                            a business by the purposes it serves or the products
                            it sells.
                          maxLength: 20
                          nullable: true
                        name_on_card:
                          type: string
                          description: ame on the card used in this transaction.
                          maxLength: 100
                          nullable: true
                        account_number_last4:
                          type: string
                          description: Last four digits of account number
                          maxLength: 4
                          nullable: true
                        avs:
                          type: string
                          description: >-
                            Verifies the numeric portions of the address against
                            the billing address.
                          maxLength: 20
                          nullable: true
                        currency:
                          type: string
                          description: ISO-4217 currency code.
                          maxLength: 4
                          nullable: true
                        meta:
                          description: >-
                            JSON object with any meta information related to the
                            account
                          type: object
                          nullable: true
                      example:
                        external_account_id: test-account-001
                        account_class: deposit
                        entities:
                          - external_entity_id: entity-01
                            account_holder_type: primary
                        account_snapshot:
                          timestamp: '2022-03-21T21:50:07.623Z'
                          details:
                            status: Active
                  properties:
                    entities:
                      description: >-
                        Array of objects wherein each object represents an
                        entity linked to the account. Each entity must already
                        have been created. (For PATCH /accounts calls, if
                        `entities` is passed in, the account's entities will be
                        replaced with the newly passed in entities. If no
                        `entities` field is passed in, the entities will not
                        change. If `entities` is an empty array, all entities
                        will be removed from the account.)
                      type: array
                      items:
                        type: object
                        required:
                          - account_holder_type
                        properties:
                          entity_token:
                            type: string
                            description: >-
                              Alloy entity token. Either `entity_token` or
                              `external_entity_id` must be provided, not both.
                          external_entity_id:
                            type: string
                            description: >-
                              Unique identifier associated with the entity.
                              Either `entity_token` or `external_entity_id` must
                              be provided, not both.
                          account_holder_type:
                            type: string
                            enum:
                              - primary
                              - secondary
              anyOf:
                - required:
                    - external_account_id
                - required:
                    - account_number
      responses:
        '201':
          x-summary: OK
          description: Account has been created
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: >-
                      #/paths/~1accounts/post/requestBody/content/application~1json/schema/allOf/0
                example:
                  status_code: 201
                  error: null
                  external_account_id: test-account-001
                  bank_account_token: A-P1HmBXO3a2lElibmotg7
                  account_class: deposit
                  entities:
                    - account_holder_type: primary
                      external_entity_id: entity-01
                      entity_token: P-MSBW0ff3TQG7IYPvaoHs
  /accounts/{bank_account_token}:
    parameters:
      - in: path
        name: bank_account_token
        schema:
          type: string
        required: true
    patch:
      tags:
        - Accounts
      summary: Update an account
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: >-
                    #/paths/~1accounts/post/requestBody/content/application~1json/schema/allOf/0
      responses:
        '200':
          x-summary: OK
          description: Account has been updated
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: >-
                      #/paths/~1accounts/post/requestBody/content/application~1json/schema/allOf/0
                example:
                  status_code: 200
                  error: null
                  external_account_id: test-account-001
                  bank_account_token: A-P1HmBXO3a2lElibmotg7
                  account_class: deposit
                  entities:
                    - account_holder_type: primary
                      external_entity_id: entity-01
                      entity_token: P-MSBW0ff3TQG7IYPvaoHs
                  account_number: null
                  cif_number: null
                  account_type: null
                  product_code: null
                  product_name: null
                  opening_date: null
                  maturity_date: null
                  closing_date: null
                  activation_date: null
                  expiration_date: null
                  meta: null
                  routing_number: null
                  card_network: null
                  account_name: null
                  tokenization_method: null
                  merchant_category_code: null
                  name_on_card: null
                  account_number_last4: null
                  avs: null
                  country_code: null
                  currency: USD
                  description: null
                  is_linked_account: false
                  link_timestamp: null
                  unlink_timestamp: null
  /batches/{batch_token}:
    get:
      tags:
        - Batches
      summary: Get Information Related to a Batch
      parameters:
        - in: path
          name: batch_token
          schema:
            type: string
          required: true
          description: Token of batch to retrieve
      responses:
        '200':
          x-summary: OK
          description: Batch
          content:
            application/json:
              schema:
                type: object
                properties:
                  _links:
                    type: object
                    properties:
                      self:
                        type: object
                        properties:
                          href:
                            type: string
                      evaluations:
                        type: object
                        $ref: >-
                          #/paths/~1batches~1%7Bbatch_token%7D/get/responses/200/content/application~1json/schema/properties/_links/properties/self
                  batch_token:
                    type: string
                  batch_status:
                    type: string
                  created_at:
                    type: number
                  completed_at:
                    type: number
                  summary:
                    type: object
                    properties:
                      total_records:
                        type: number
                      evaluation_status:
                        type: object
                        properties:
                          complete:
                            type: number
                          failed:
                            type: number
                          waiting:
                            type: number
                          webhook_pending:
                            type: number
                          other:
                            type: number
                          none:
                            type: number
                      evaluation_result:
                        type: object
                        properties:
                          partial:
                            type: number
                          success:
                            type: number
                          none:
                            type: number
                      row_status:
                        type: object
                        properties:
                          pending:
                            type: number
                          complete:
                            type: number
                          failed:
                            type: number
                          timed_out:
                            type: number
  /cases:
    get:
      tags:
        - Cases
      summary: Get a list of all possible cases created using Alloy Case Management.
      description: Retrieves the list of all cases, for the provided filter parameters
      responses:
        '200':
          x-summary: OK
          description: Case
          content:
            application/json:
              schema:
                type: array
                items:
                  properties:
                    status_code:
                      type: number
                      description: The standard HTTP status code for the request
                    error:
                      type: string
                      description: >-
                        A nullable string, indicated what went wrong for a
                        failed request
                    page:
                      type: number
                      description: The page itself, for the provided query
                    pages:
                      type: number
                      description: >-
                        The number of overall pages, for the provided filter
                        parameters
                    per_page:
                      type: number
                      description: >-
                        The max number of items per pages, for the provided
                        query
                    total:
                      type: number
                      description: >-
                        The total number of cases, for the provided filter
                        parameters
                    _embedded:
                      type: object
                      description: >-
                        A container for the cases themseleves, and their related
                        business objects
                      properties:
                        case_token:
                          type: string
                          description: >-
                            A unique identifier for the case itself, generated
                            by Alloy's internal system
                        entity_token:
                          type: string
                          description: >-
                            A unique identifier for the entity itself, generated
                            by Alloy's internal system. Currently, cases can
                            only have one entity related to it
                        status:
                          type: string
                          description: >-
                            The current status of the case. This is nullable, as
                            some cases may not have an initial status
                        closed:
                          type: boolean
                          description: This represents if the case is open or not
                        sandbox:
                          type: boolean
                          description: >-
                            This represents if the case is a "real" case, or if
                            has been used as a test. Similar to the
                            "environment" on evaluations
                        unread:
                          type: boolean
                          description: >-
                            This represents if the case has been read by a user,
                            since it's last update
                        created_at:
                          type: number
                          description: A Unix timestamp for when the case was created
                        updated_at:
                          type: number
                          description: A Unix timestamp for when the case was last updated
                        closed_at:
                          type: number
                          description: >-
                            A Unix timestamp for when the case was closed. This
                            is null if the case is still open
                        assigned_agent_email:
                          type: string
                          description: >-
                            If the case is currently assigned, this is the email
                            of that individual
                        assigned_agent_name:
                          type: string
                          description: >-
                            If the case is currently assigned, this is the full
                            name of that individual
                        program_name:
                          type: string
                        alerts:
                          type: array
                          description: >-
                            The tags related to the case. ALL of these tags MUST
                            be case generating, at the time they we linked to
                            the case. All of these tags must have the same type
                          items:
                            type: string
                        customer_tag_type_name:
                          type: string
                          description: >-
                            This is essentially the "Case Type." All tags
                            associated to a case, must have the same type as
                            this value tied to the case
                        customer_tag_type_description:
                          type: string
                          description: This is a extended description for the type itself
                        is_escalated:
                          type: boolean
                          description: >-
                            An indicator for if the case was escalated to a
                            different assignee. This is cleared out, upon a
                            different assignee being chosen
                        is_manual:
                          type: boolean
                          description: >-
                            Represents if the case was generated by Alloy's
                            internal system, or some kind of manual interaction
                        created_by_agent_email:
                          type: string
                          description: >-
                            If the case was manually generated, this is the full
                            name of who took that action
                        created_by_agent_name:
                          type: string
                          description: >-
                            If the case was manually generated, this is the
                            email of who took that action
                        _embedded:
                          type: object
                          properties:
                            entity:
                              type: object
                              description: >-
                                Relevant entity data, for the entity tied to
                                this case
                              properties:
                                name:
                                  type: string
                                entity_token:
                                  type: string
                                external_entity_id:
                                  type: string
                                type:
                                  type: string
                                _links:
                                  type: object
                                  properties:
                                    self:
                                      $ref: >-
                                        #/paths/~1cases~1%7Bcase_token%7D/get/responses/200/content/application~1json/schema/properties/_links/properties/self
                        _links:
                          type: object
                          properties:
                            self:
                              properties:
                                href:
                                  type: string
                            evidences:
                              $ref: >-
                                #/paths/~1cases~1%7Bcase_token%7D/get/responses/200/content/application~1json/schema/properties/_links/properties/self
                            works:
                              $ref: >-
                                #/paths/~1cases~1%7Bcase_token%7D/get/responses/200/content/application~1json/schema/properties/_links/properties/self
              example:
                status_code: 200
                error: null
                page: 1
                pages: 3
                per_page: 20
                _embedded:
                  - case_token: C-12345
                    entity_token: P-12234
                    status: Under Review
                    closed: false
                    sandbox: false
                    unread: false
                    created_at: 1691099355351
                    updated_at: 1691099355351
                    closed_at: null
                    assigned_agent_email: patrick@alloy.com
                    assigned_agent_name: Patrick Hickey
                    program_name: null
                    alerts:
                      - SSN Mismatch
                      - Phone Mismatch
                    customer_tag_type_name: PII Mismatch
                    customer_tag_type_description: null
                    is_escalated: false
                    is_manual: false
                    created_by_agent_email: null
                    created_by_agent_name: null
                    _embedded:
                      entity:
                        name: Christina Krysti
                        entity_token: P-12234
                        external_entity_id: 3406881_christina_krysti
                        type: person
  /cases/{case_token}:
    get:
      tags:
        - Cases
      summary: Get a case by a uniquely defined case token
      description: >-
        Retrieves a single case uniquely defined by a case token. Case tokens
        are alphanumeric characters that start with a prefix "C-".
      parameters:
        - in: path
          name: case_token
          schema:
            type: string
          required: true
          description: Token of case to get.
      responses:
        '200':
          x-summary: OK
          description: Case
          content:
            application/json:
              schema:
                type: object
                $ref: >-
                  #/paths/~1cases/get/responses/200/content/application~1json/schema/items/properties/_embedded
  /cases/{case_token}/evidences:
    get:
      tags:
        - Cases
      summary: Get case evidences by case token
      description: >-
        Retrieves a list of case evidences uniquely defined by a case token.
        Case tokens are alphanumeric characters that start with a prefix "C-".
      parameters:
        - in: path
          name: case_token
          schema:
            type: string
          required: true
          description: Token of case to get evidence for.
      responses:
        '200':
          x-summary: OK
          description: CaseEvidence
          content:
            application/json:
              schema:
                type: object
                properties:
                  status_code:
                    type: number
                  error:
                    type: string
                  _embedded:
                    properties:
                      evidences:
                        type: array
                        items:
                          properties:
                            created_at:
                              type: number
                              description: >-
                                A Unix timestamp, representing when the evidence
                                was created in Alloy's internal system
                            occurred_at:
                              type: number
                              description: >-
                                A Unix timestamp, representing when the evidence
                                occurred. For example, this could be a
                                transaction timestamp.
                            transaction_id:
                              type: string
                              description: >-
                                A nullable string, representing the identifier
                                for transaction linked to a case
                            evaluation_token:
                              type: string
                              description: >-
                                A nullable string, representing the evaluation
                                token linked to an evidence
                            is_manual:
                              type: boolean
                              description: >-
                                Indication of if the evidence was added manually
                                by a user
                            is_portfolio_eval:
                              type: boolean
                            portfolio_evaluation_token:
                              type: string
                              description: >-
                                A nullable string, representing the portfolio
                                evaluation token linked to an evidence
                            alerts:
                              type: array
                              description: >-
                                The alert(s) that were added as part of this
                                evidence
                              items:
                                type: string
                            _embedded:
                              type: object
                              properties:
                                transaction:
                                  properties:
                                    transaction_id:
                                      type: number
                                    amount:
                                      type: number
                                    currency_code:
                                      type: string
                            _links:
                              properties:
                                case:
                                  $ref: >-
                                    #/paths/~1cases~1%7Bcase_token%7D/get/responses/200/content/application~1json/schema/properties/_links/properties/self
                                self:
                                  $ref: >-
                                    #/paths/~1cases~1%7Bcase_token%7D/get/responses/200/content/application~1json/schema/properties/_links/properties/self
    post:
      tags:
        - Cases
      summary: Create a case evidence
      description: Create a new manual tag and/or line item associated to an existing case
      parameters:
        - in: path
          name: case_token
          schema:
            type: string
          required: true
          description: Token of case to create an evidence for.
      responses:
        '201':
          x-summary: OK
          description: CaseEvidence
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
                example:
                  error: null
                  message: Manual case evidence insertions were successful.
        '206':
          x-summary: OK
          description: CaseEvidence
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
                example:
                  error: null
                  message: Manual case evidence insertions were partially successful.
  /cases/{case_token}/works:
    get:
      tags:
        - Cases
      summary: Get case works for a case
      description: >
        Retrieves a list of case works defined for a given case by a case token.
        Case work is any action an agent takes on a case. Some examples of types
        of work are `closure` (close a case), `status` (change case status),
        `assignment_created` (assigning an agent), or `note` (leave a note on a
        case). All type of case work can have a note.
      parameters:
        - in: path
          name: case_token
          schema:
            type: string
          required: true
          description: Token of case to get works for.
      responses:
        '200':
          x-summary: OK
          description: CaseEvidence
          content:
            application/json:
              schema:
                type: object
                properties:
                  status_code:
                    type: number
                    description: The standard HTTP status code for the request
                  error:
                    type: string
                    description: >-
                      A nullable string, indicating what went wrong for a failed
                      request
                  _embedded:
                    type: object
                    properties:
                      works:
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              type: string
                              description: The specific type that an auditable action is
                              enum:
                                - status
                                - closure
                                - note
                                - read
                                - assignment_created
                                - assignment_removed
                                - manual_evidence_added
                                - case_escalation_created
                                - case_escalation_removed
                            note:
                              type: string
                              description: >-
                                An optional, user generated note describing why
                                they took an action
                            status:
                              type: string
                              description: The status that the case was changed to
                            closed:
                              type: boolean
                              description: >-
                                If the case was closed on this action, its value
                                will be true
                            reasons:
                              type: array
                              description: The reasons for taking a certain action
                              items:
                                type: string
                            assigned_agent:
                              type: string
                              description: The agent assigned during this action
                            tag_name:
                              type: string
                              description: >-
                                The tag that was manually added during this
                                action
                            created_at:
                              type: number
                              description: When this action was taken
                            _embedded:
                              type: object
                              properties:
                                created_by:
                                  type: object
                                  description: Represents who took this manual action
                                  properties:
                                    name:
                                      type: string
                                    email:
                                      type: string
                  _links:
                    type: object
                    properties:
                      self:
                        $ref: >-
                          #/paths/~1cases~1%7Bcase_token%7D/get/responses/200/content/application~1json/schema/properties/_links/properties/self
                      case:
                        $ref: >-
                          #/paths/~1cases~1%7Bcase_token%7D/get/responses/200/content/application~1json/schema/properties/_links/properties/self
              example:
                case_token: C-12345
                status_code: 200
                error: null
                _embedded:
                  - type: status
                    note: Investigating phone mismatch
                    status: Under Review
                    closed: null
                    reasons: []
                    assigned_agent: null
                    tag_name: null
                    created_at: 1691099355351
                  - type: manual_evidence_added
                    note: Further investigation required
                    status: null
                    closed: null
                    reasons: []
                    assigned_agent: null
                    tag_name: Phone Mismatch
                    created_at: 1690923036791
    post:
      tags:
        - Cases
      summary: Create a case work (single)
      description: >
        Enables an agent to take action on a single case at a time. There are
        nine types of actions that can be taken on an individual level:
        `assignment_created` (assigning a user to the cases),
        `assignment_removed` (unassigning a user to the cases), `status`
        (changing the statuses), `closure` (closing the cases), `note` (adding a
        note to a case), `read` (viewing a case after an update)
        `manual_evidence_added` (when a tag or line item is manually added to a
        case), `case_escalation_created` (a case was re-assigned and escalated),
        and finally `case_escalation_removed` (a case escalation was removed).
      parameters:
        - in: path
          name: case_token
          schema:
            type: string
          required: true
          description: Token of case to get works for.
      responses:
        '201':
          x-summary: OK
          description: Case
          content:
            application/json:
              schema:
                type: object
  /cases/multi/works:
    post:
      tags:
        - Cases
      summary: Create a case work (multi)
      description: >
        Enables an agent to take action on multiple cases at once. There are
        four types of actions that can be taken on a bulk level:
        `assignment_created` (assigning a user to the cases),
        `assignment_removed` (unassigning a user to the cases), `status`
        (changing the statuses), and `closure` (closing the cases).
      responses:
        '201':
          x-summary: OK
          description: Case
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  updated-cases:
                    type: array
                    description: An array of case tokens that were successfully updated
                    items:
                      type: string
                example:
                  message: All cases updated!
                  updated-cases:
                    - C-123
                    - C-456
  /cases/{case_token}/evidences/{evaluation_token}/alert:
    get:
      tags:
        - Cases
      summary: Show dataset related to a case-generating tag
      description: >
        When activity results in case creation through an evaluation, this will
        return activity data that meets the tag criteria. This can include
        transaction data, PII updates, account data, sanctions screening data,
        or even more.
      parameters:
        - in: path
          name: case_token
          schema:
            type: string
          required: true
          description: Token of case to fetch dataset for.
        - in: path
          name: evaluation_token
          schema:
            type: string
          required: true
          description: Token of the evaluation associated to the case to fetch dataset for.
      responses:
        '200':
          x-summary: OK
          description: Case
          content:
            application/json:
              schema:
                type: object
  /documents:
    post:
      tags:
        - Documents
      summary: Describe a Document Before an Entity is Created
      requestBody:
        content:
          application/json:
            schema:
              required:
                - name
                - extension
                - type
              properties:
                name:
                  type: string
                extension:
                  type: string
                type:
                  type: string
                note:
                  type: string
                note_author_agent_email:
                  type: string
              example:
                name: license_photo
                extension: jpg
                type: license
                note: This is a license photo
                note_author_agent_email: cool_agent@fakedomain.net
      responses:
        '200':
          x-summary: OK
          description: Document
          content:
            application/json:
              schema:
                type: object
                $ref: >-
                  #/paths/~1documents~1%7Bdocument_token%7D/put/responses/200/content/application~1json/schema/items
  /documents/{document_token}:
    parameters:
      - in: path
        name: document_token
        schema:
          type: string
        required: true
        description: Token associated with document.
    put:
      tags:
        - Documents
      summary: Submit a Document File Before an Entity is Created
      description: >-
        Now that that metadata for the file has been specified, you just need to
        stream the file to the location we’ve allocated for it. The response
        should be the same as for the preceding `POST` request endpoint except
        `uploaded` will be true.
      requestBody:
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
      responses:
        '200':
          x-summary: OK
          description: Document
          content:
            application/json:
              schema:
                type: array
                items:
                  properties:
                    document_token:
                      type: string
                    type:
                      type: string
                    name:
                      type: string
                    extension:
                      type: string
                    uploaded:
                      type: boolean
                    timestamp:
                      type: number
                    approved:
                      type: string
                    approval_agent_email:
                      type: string
                    approval_timestamp:
                      type: number
                    notes:
                      type: array
                      items:
                        properties:
                          note:
                            type: string
                          note_author_agent_email:
                            type: string
                          created_at:
                            type: number
                          updated_at:
                            type: number
  /entities/{entity_token}/documents:
    parameters:
      - in: path
        name: entity_token
        schema:
          type: string
        required: true
        description: Token of entity for associated documents.
    post:
      tags:
        - Documents
      summary: Describe a Document Before Uploading
      description: >-
        The document upload API is a two-step process. First, the metadata for
        the document is specified, and the API returns a file identifier so the
        file can be streamed directly to the next endpoint. You’ll need to look
        for the document_token returned in the response because that is
        necessary to pass to the next endpoint for streaming the file.
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/paths/~1documents/post/requestBody/content/application~1json/schema
      responses:
        '200':
          x-summary: OK
          description: Document
          content:
            application/json:
              schema:
                type: object
                $ref: >-
                  #/paths/~1documents~1%7Bdocument_token%7D/put/responses/200/content/application~1json/schema/items
    get:
      tags:
        - Documents
      summary: Get a List of All Documents for an Entity
      description: >-
        All documents for an entity can be queried using this endpoint. All
        metadata for the documents is available, but the documents themselves
        must be downloaded individually.
      responses:
        '200':
          x-summary: OK
          description: Document
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: >-
                    #/paths/~1documents~1%7Bdocument_token%7D/put/responses/200/content/application~1json/schema/items
  /entities/{entity_token}/documents/{document_token}:
    parameters:
      - in: path
        name: document_token
        schema:
          type: string
        required: true
        description: Token associated with document.
      - in: path
        name: entity_token
        schema:
          type: string
        required: true
        description: Token of entity for associated documents.
    put:
      tags:
        - Documents
      summary: Submit a Document File for an Entity
      description: >-
        Now that that metadata for the file has been specified, you just need to
        stream the file to the location we’ve allocated for it. The response
        should be the same as for the preceding `POST` request endpoint except
        `uploaded` will be true.
      requestBody:
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
      responses:
        '200':
          x-summary: OK
          description: Document
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: >-
                    #/paths/~1documents~1%7Bdocument_token%7D/put/responses/200/content/application~1json/schema/items
    patch:
      tags:
        - Documents
      summary: Update Document Metadata
      description: >-
        If you want to mark a document as “approved” or “denied” (if you have a
        document review process), or just change the name or type of a document,
        you can do so with the PATCH endpoint.
      requestBody:
        content:
          application/json:
            schema:
              required:
                - approved
                - type
                - approval_agent_email
                - name
              properties:
                approved:
                  type: boolean
                type:
                  type: string
                approval_agent_email:
                  type: string
                name:
                  type: string
      responses:
        '200':
          x-summary: OK
          description: Document
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: >-
                    #/paths/~1documents~1%7Bdocument_token%7D/put/responses/200/content/application~1json/schema/items
    get:
      tags:
        - Documents
      summary: Download a Document
      description: This endpoint will return a file stream of the requested document.
      responses:
        '200':
          x-summary: OK
          description: Document
          content:
            image:
              schema:
                type: string
                format: binary
  /entities/{entity_token}/documents/{document_token}/notes:
    parameters:
      - in: path
        name: document_token
        schema:
          type: string
        required: true
        description: Token associated with document.
      - in: path
        name: entity_token
        schema:
          type: string
        required: true
        description: Token of entity for associated documents.
    post:
      tags:
        - Documents
      summary: Add Notes to a Document
      description: >-
        You can add an unlimited amount of notes to a document to keep track of
        whatever information is needed. All you need is to pass the note along
        with the email of the author of the note (must be a user associated with
        your customer account) to this API endpoint.
      requestBody:
        content:
          application/json:
            schema:
              required:
                - note
                - note_author_agent_email
              properties:
                note:
                  type: string
                note_author_agent_email:
                  type: string
      responses:
        '200':
          x-summary: OK
          description: Document
          content:
            application/json:
              schema:
                type: object
                $ref: >-
                  #/paths/~1documents/post/responses/200/content/application~1json/schema/properties/notes/items
  /entities/{entity_token}:
    parameters:
      - in: path
        name: entity_token
        schema:
          type: string
        required: true
        description: Token associated with entity.
    get:
      tags:
        - Entities
      summary: Get Information Related to an Entity
      responses:
        '200':
          x-summary: OK
          description: Entity
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                  type:
                    type: string
                  entity_token:
                    type: string
                  archived:
                    type: boolean
                  created:
                    type: number
                  evaluations:
                    type: array
                    items:
                      $ref: >-
                        #/paths/~1groups~1%7Bentity_token%7D/get/responses/200/content/application~1json/schema/properties/evaluations/items
                  documents:
                    type: array
                    items:
                      $ref: >-
                        #/paths/~1groups~1%7Bentity_token%7D/get/responses/200/content/application~1json/schema/properties/documents/items
                  reviews:
                    type: array
                    items:
                      $ref: >-
                        #/paths/~1groups~1%7Bentity_token%7D/get/responses/200/content/application~1json/schema/properties/reviews/items
  /entities/{entity_token}/evaluations/{evaluation_token}:
    parameters:
      - in: path
        name: entity_token
        schema:
          type: string
        required: true
        description: Token associated with entity.
      - in: path
        name: evaluation_token
        schema:
          type: string
        required: true
        description: Token associated with evaluation.
    get:
      tags:
        - Entities
      summary: Get An Evaluation
      description: >-
        If you want to look up the result of a previously-run evaluation, you
        can use the API to get the exact same response that was returned from
        POST /evaluations originally. Here is the endpoint for getting that
        information.
      responses:
        '200':
          x-summary: OK
          description: Entity
          content:
            application/json:
              schema:
                type: object
                $ref: >-
                  #/paths/~1evaluations/post/responses/201/content/application~1json/schema
  /entities/{entity_token}/notes:
    parameters:
      - in: path
        name: entity_token
        schema:
          type: string
        required: true
        description: Token associated with entity.
    post:
      tags:
        - Entities
      summary: Add a Note for an Entity
      description: Adds a note to an existing entity.
      requestBody:
        content:
          application/json:
            schema:
              required:
                - note
                - note_author_agent_email
              properties:
                note:
                  type: string
                note_author_agent_email:
                  type: string
      responses:
        '200':
          x-summary: OK
          description: Entity
          content:
            application/json:
              schema:
                type: object
                properties:
                  entity_token:
                    type: string
                  external_entity_id:
                    type: string
                  note:
                    type: string
                  note_author_agent_email:
                    type: string
                  created_at:
                    type: number
                  updated_at:
                    type: number
  /entities/persons:
    post:
      tags:
        - Entities
      summary: Create a person entity
      description: Creates a person entity
      requestBody:
        content:
          application/json:
            schema:
              properties:
                external_entity_id:
                  type: string
                gender:
                  type: string
                birth_date:
                  type: string
                name_first:
                  type: string
                name_middle:
                  type: string
                name_last:
                  type: string
                document_ssn:
                  type: string
                document_id_card:
                  type: string
                document_license:
                  type: string
                document_passport:
                  type: string
                addresses:
                  type: array
                  items:
                    type: object
                emails:
                  type: array
                  items:
                    type: object
                    properties:
                      email_address:
                        type: string
                phones:
                  type: array
                  items:
                    type: object
                    properties:
                      phone_number:
                        type: string
                pii_status:
                  type: string
                  enum:
                    - successful
                    - failed
                    - pending
              example:
                external_entity_id: person-entity
                gender: male
                birth_date: '1998-02-03'
                name_first: John
                name_last: Doe
                document_ssn: '123456789'
                document_id_card: null
                document_license: null
                document_passport: null
                addresses:
                  - address_line_1: 41 E. 11th
                    address_city: New York
                    address_state: NY
                    address_postal_code: '10003'
                    address_country_code: US
                    type: primary
                emails:
                  - email_address: john@alloy.com
                phones:
                  - phone_number: 555-000-1234
                pii_status: successful
      responses:
        '201':
          x-summary: OK
          description: Entity
          content:
            application/json:
              schema:
                type: object
                properties:
                  status_code:
                    type: string
                  entity_token:
                    type: string
                  external_entity_id:
                    type: string
                  created_at:
                    type: string
                  gender:
                    type: string
                  birth_date:
                    type: string
                  name_first:
                    type: string
                  name_middle:
                    type: string
                  name_last:
                    type: string
                  document_ssn:
                    type: string
                  document_id_card:
                    type: string
                  document_license:
                    type: string
                  document_passport:
                    type: string
                  addresses:
                    type: array
                    items:
                      type: object
                  emails:
                    type: array
                    items:
                      type: object
                      properties:
                        email_address:
                          type: string
                  phones:
                    type: array
                    items:
                      type: object
                      properties:
                        phone_number:
                          type: string
                  type:
                    type: string
                    example: person
                  _embedded:
                    type: object
                  _links:
                    type: object
                example:
                  entity_token: P-asldkfhj
                  external_entity_id: person-entity
                  created_at: '1652195922608'
                  gender: male
                  birth_date: null
                  name_first: John
                  name_last: Doe
                  document_ssn: null
                  document_id_card: null
                  document_license: null
                  document_passport: null
                  addresses:
                    - address_line_1: 41 E. 11th
                      address_city: New York
                      address_state: NY
                      address_postal_code: '10003'
                      address_country_code: US
                      type: primary
                  emails:
                    - email_address: john@alloy.com
                  phones:
                    - phone_number: 555-000-1234
                  _embedded:
                    document_ssns: []
                    birth_dates: []
                  _links:
                    self:
                      href: /v1/entities/persons/P-asldkfhj
        '400':
          description: Missing required fields
          content:
            application/json:
              schema:
                type: object
                properties:
                  status_code:
                    type: string
                  error:
                    type: object
                  timestamp:
                    type: string
                  evaluation_token:
                    type: string
                  entity_token:
                    type: string
                  application_token:
                    type: string
                  application_version_id:
                    type: string
                example:
                  status_code: 400
                  error:
                    minor_code: 4002
                    type: Request Body Validation Failure
                    message: Your request body contained invalid field(s)
                    details:
                      message: >-
                        "value" must contain at least one of [name_first,
                        name_last]
                      path: value
                      type: object.missing
                      context:
                        peers:
                          - name_first
                          - name_last
                        peersWithLabels:
                          - name_first
                          - name_last
                        key: value
                    error_token: u82hfowjwl
                  timestamp: 1652205025227
                  evaluation_token: null
                  entity_token: null
                  application_token: 2ohfhwqoq2nm
                  application_version_id: null
  /entities/persons/{entity_token}:
    parameters:
      - in: path
        name: entity_token
        schema:
          type: string
        required: true
        description: Person token associated with entity.
    get:
      tags:
        - Entities
      summary: Get a person entity
      description: Retrieves information associated with specified person entity token
      responses:
        '200':
          x-summary: OK
          description: Entity
          content:
            application/json:
              schema:
                type: object
                $ref: >-
                  #/paths/~1entities~1persons/post/responses/201/content/application~1json/schema
        '400':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  status_code:
                    type: string
                  error:
                    type: object
                  timestamp:
                    type: string
                  evaluation_token:
                    type: string
                  entity_token:
                    type: string
                  application_token:
                    type: string
                  application_version_id:
                    type: string
                example:
                  status_code: 400
                  error:
                    minor_code: 4013
                    type: Authorization Error
                    message: >-
                      You are not authorized to operate on the specified object
                      or it does not exist.
                    details:
                      entity_token_or_external_id: provided-token
                    error_token: u82hfowjwl
                  timestamp: 1652205025227
                  evaluation_token: null
                  entity_token: null
                  application_token: 2ohfhwqoq2nm
                  application_version_id: null
    patch:
      tags:
        - Entities
      summary: Update a person entity
      description: Using a person entity token, update entity with provided information
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/paths/~1entities~1persons/post/requestBody/content/application~1json/schema
      responses:
        '200':
          x-summary: OK
          description: Entity
          content:
            application/json:
              schema:
                type: object
                $ref: >-
                  #/paths/~1entities~1persons/post/responses/201/content/application~1json/schema
  /entities/businesses:
    post:
      tags:
        - Entities
      summary: Create a business entity
      description: Creates a business entity
      requestBody:
        content:
          application/json:
            schema:
              properties:
                external_entity_id:
                  type: string
                business_name:
                  type: string
                business_alternate_name:
                  type: string
                business_registry_id:
                  type: string
                business_federal_ein:
                  type: string
                addresses:
                  type: array
                  items:
                    type: object
                emails:
                  type: array
                  items:
                    type: object
                    properties:
                      email_address:
                        type: string
                phones:
                  type: array
                  items:
                    type: object
                    properties:
                      phone_number:
                        type: string
                pii_status:
                  type: string
                  enum:
                    - successful
                    - failed
                    - pending
              example:
                external_entity_id: 087ac67e-17ab-4529-8d1a-a8b2214d305f
                business_name: Alloy
                business_alternate_name: DBA First Mile Group
                business_registry_id: '123456789'
                business_federal_ein: '987654321'
                addresses:
                  - address_line_1: 41 E. 11th
                    address_city: New York
                    address_state: NY
                    address_postal_code: '10003'
                    address_country_code: US
                    type: business_primary
                emails:
                  - email_address: safeandseamless@alloy.com
                phones:
                  - phone_number: 555-000-1234
                pii_status: successful
      responses:
        '201':
          x-summary: OK
          description: Entity
          content:
            application/json:
              schema:
                type: object
                properties:
                  status_code:
                    type: string
                  entity_token:
                    type: string
                  external_entity_id:
                    type: string
                  created_at:
                    type: string
                  business_name:
                    type: string
                  business_alternate_name:
                    type: string
                  business_registry_id:
                    type: string
                  business_federal_ein:
                    type: string
                  addresses:
                    type: array
                    items:
                      type: object
                  emails:
                    type: array
                    items:
                      type: object
                      properties:
                        email_address:
                          type: string
                  phones:
                    type: array
                    items:
                      type: object
                      properties:
                        phone_number:
                          type: string
                  type:
                    type: string
                    example: business
                  _links:
                    type: object
                example:
                  entity_token: B-aCF4FAkGKiTIZJFhproR
                  external_entity_id: 087ac67e-17ab-4529-8d1a-a8b2214d305f
                  created_at: '1652195922608'
                  business_name: Alloy
                  business_alternate_name: DBA First Mile Group
                  business_registry_id: '123456789'
                  business_federal_ein: '987654321'
                  addresses:
                    - address_line_1: 41 E. 11th
                      address_city: New York
                      address_state: NY
                      address_postal_code: '10003'
                      address_country_code: US
                      type: business_primary
                  emails:
                    - email_address: safeandseamless@alloy.com
                  phones:
                    - phone_number: '5550001234'
                  _links:
                    self:
                      href: /v1/entities/businesses/B-aCF4FAkGKiTIZJFhproR
        '400':
          description: Missing required fields
          content:
            application/json:
              schema:
                type: object
                properties:
                  status_code:
                    type: string
                  error:
                    type: object
                  timestamp:
                    type: string
                  evaluation_token:
                    type: string
                  entity_token:
                    type: string
                  application_token:
                    type: string
                  application_version_id:
                    type: string
                example:
                  status_code: 400
                  error:
                    minor_code: 4002
                    type: Request Body Validation Failure
                    message: Your request body contained invalid field(s)
                    details:
                      message: '"business_name" is required'
                      path: business_name
                      type: any.required
                      context:
                        key: business_name
                    error_token: u82hfowjwl
                  timestamp: 1652205025227
                  evaluation_token: null
                  entity_token: null
                  application_token: 2ohfhwqoq2nm
                  application_version_id: null
  /entities/businesses/{entity_token}:
    parameters:
      - in: path
        name: entity_token
        schema:
          type: string
        required: true
        description: Business token associated with entity.
    get:
      tags:
        - Entities
      summary: Get a business entity
      description: Retrieves information associated with specified business entity token
      responses:
        '200':
          x-summary: OK
          description: Entity
          content:
            application/json:
              schema:
                type: object
                $ref: >-
                  #/paths/~1entities~1businesses/post/responses/201/content/application~1json/schema
        '400':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  status_code:
                    type: string
                  error:
                    type: object
                  timestamp:
                    type: string
                  evaluation_token:
                    type: string
                  entity_token:
                    type: string
                  application_token:
                    type: string
                  application_version_id:
                    type: string
                example:
                  status_code: 400
                  error:
                    minor_code: 4013
                    type: Authorization Error
                    message: >-
                      You are not authorized to operate on the specified object
                      or it does not exist.
                    details:
                      entity_token_or_external_id: provided-token
                    error_token: u82hfowjwl
                  timestamp: 1652205025227
                  evaluation_token: null
                  entity_token: null
                  application_token: 2ohfhwqoq2nm
                  application_version_id: null
    patch:
      tags:
        - Entities
      summary: Update a business entity
      description: Using a business entity token, update entity with provided information
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/paths/~1entities~1businesses/post/requestBody/content/application~1json/schema
      responses:
        '200':
          x-summary: OK
          description: Entity
          content:
            application/json:
              schema:
                type: object
                $ref: >-
                  #/paths/~1entities~1businesses/post/responses/201/content/application~1json/schema
  /entity-feedback:
    post:
      tags:
        - Entity Feedback
      summary: Append entity feedback
      description: >-
        Insert a list of entity feedback while leaving the rest of the existing
        entity feedback intact
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  entity_token:
                    type: string
                  external_entity_identifier:
                    type: string
                  evaluation_token:
                    type: string
                  feedback_case_status:
                    type: string
                    description: >-
                      Allowed values are (`"open"`, `"closed"`, `"escalated"`,
                      `"pending_review"`)
                  feedback_case_reason:
                    type: string
                    description: >-
                      Allowed values are (`"aml"`, `"confirm_fraud"`,
                      `"suspected_fraud"`, `"no_issue"`, `"other"`)
                  feedback_fraud_type:
                    type: string
                    description: >-
                      Allowed values are (`"ato"`, `"first_party"`,
                      `"second_party"`, `"synthetic"`, `"check_fraud_deposit"`,
                      `"check_fraud_inclearing"`, `"check_fraud_cashed"`,
                      `"payment_fraud_wire"`, `"payment_fraud_ach"`,
                      `"payment_fraud_p2p"`, `"scam"`, `"mule"`,
                      `"identity_theft"`, `"other"`)
                  feedback_fraud_channel:
                    type: string
                    description: >-
                      Allowed values are (`"branch"`, `"atm"`, `"online"`,
                      `"mobile"`)
                  feedback_entity_status:
                    type: string
                    description: >-
                      Allowed values are (`"suspect"`, `"victim"`, `"witness"`,
                      `"other"`)
                  loss_amount:
                    type: number
                    format: double
                    description: Positive integer
                  exposure_amount:
                    type: number
                    format: double
                    description: Positive integer
                example:
                  entity_token: I-DyXtV1DTODmhZZjhiGG
                  feedback_case_status: closed
                  feedback_case_reason: confirm_fraud
                  feedback_fraud_type: first_party
                  feedback_fraud_channel: mobile
                  feedback_entity_status: victim
                  loss_amount: 500
                  exposure_amount: 500
      responses:
        '200':
          description: Successfully inserted entity feedback
          content:
            application/json:
              schema:
                $ref: >-
                  #/paths/~1entity-feedback/get/responses/200/content/application~1json/schema
              example:
                $ref: >-
                  #/paths/~1entity-feedback/get/responses/200/content/application~1json/example
    get:
      tags:
        - Entity Feedback
      summary: Get entity feedback
      description: Get a list of entity feedback
      responses:
        '200':
          description: Successfully inserted entity feedback
          content:
            application/json:
              schema:
                type: object
                properties:
                  status_code:
                    type: number
                  error:
                    type: object
                  timestamp:
                    type: integer
                  name:
                    type: string
                  data:
                    type: object
              example:
                status_code: 201
                error: null
                timestamp: 1557675468774
                name: EntityFeedback
                data:
                  inserted_entity_feedback:
                    - created_at: '2024-01-31T21:27:46.864Z'
                      entity_feedback_id: 34
                      entity_id: 2515720
                      exposure_amount: 500
                      feedback_case_reason_id: 2
                      feedback_case_status_id: null
                      feedback_entity_status_id: null
                      feedback_fraud_channel_id: null
                      feedback_fraud_type_id: null
                      loss_amount: 500
                  invalid_entity_feedback: []
  /evaluations:
    post:
      summary: Runs an evaluation
      description: >
        Given a workflow specified by the Authorization header, the API will run
        an evaluation with the provided payload. Alloy's API is dynamic, and
        thus the input parameters vary depending on which services are run and
        how the workflow is configured.
      tags:
        - Evaluations
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
            description: >
              Basic authorization header per the OAuth Client Authorization
              Header standard.


              The format is `Basic <auth_string>`, where `<auth_string>` is the
              base64 encode of the string `application_token:application_secret`
              (the application token and application secret, separated by a
              colon character).
        - in: header
          name: alloy-entity-token
          schema:
            type: string
            description: >
              If running an additional evaluation for an existing entity - the
              existing entity token can be provided to connect the new
              evaluation to the entity.
        - in: header
          name: alloy-external-entity-id
          schema:
            type: string
            description: >
              A string to identify the entity created by the evaluation in your
              system.
        - in: header
          name: alloy-parent-entity-token
          schema:
            type: string
            description: |
              A token of an entity to be used as a parent entity.
        - in: header
          name: alloy-entity-type
          schema:
            description: >
              For transactions workflows, specifies whether the entity
              associated with

              the evaluation is a `business` or `person` entity. Defaults to
              `person`.
            type: string
            enum:
              - business
              - person
        - in: header
          name: alloy-hydrate-counterparty-data
          schema:
            type: boolean
            description: >
              Optional boolean value, required to be true for using counterparty
              sanction screening in a transaction workflow.
        - in: header
          name: alloy-hydrate-entity-data
          schema:
            type: boolean
            description: >
              Optional boolean value, required to be true for using source
              entity sanction screening in a transaction workflow.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - title: Evaluation Body
                  type: object
                - title: Transaction Evaluation Body
                  allOf:
                    - type: object
                      allOf:
                        - $ref: >-
                            #/paths/~1transactions~1%7Btransaction_id%7D/patch/requestBody/content/application~1json/schema/allOf/0
                      required:
                        - transaction_id
                        - transaction_date
                        - amount
                        - source
                        - destination
                        - currency
      responses:
        '200':
          description: Evaluation missing required inputs
          content:
            application/json:
              schema:
                type: object
                properties:
                  status_code:
                    type: string
                  error:
                    type: object
                  timestamp:
                    type: number
                  evaluation_token:
                    type: string
                  entity_token:
                    type: string
                  application_token:
                    type: string
                  application_version_id:
                    type: number
                  required:
                    type: array
                    description: The required fields for this workflow
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                          example: name_first
                        type:
                          type: string
                          example: string
                        description:
                          type: string
                          example: First name
                        regex:
                          type: string
                          example: ^[^d]*$
                        properties:
                          type: object
                  optional:
                    type: array
                    description: The optional fields for this workflow
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                          example: email_address
                        type:
                          type: string
                          example: string
                        description:
                          type: string
                          example: Email address
                        regex:
                          type: string
                          example: ''
                        properties:
                          type: object
        '201':
          description: Evaluation created
          content:
            application/json:
              schema:
                properties:
                  status_code:
                    type: string
                  error:
                    type: object
                  timestamp:
                    type: number
                  evaluation_token:
                    type: string
                  entity_token:
                    type: string
                  application_token:
                    type: string
                  application_version_id:
                    type: number
                  summary:
                    type: object
                    properties:
                      result:
                        type: string
                      score:
                        type: number
                      tags:
                        type: array
                      outcome_reasons:
                        type: array
                      outcome:
                        type: string
                  supplied:
                    type: object
                  formatted:
                    type: object
                  matching:
                    type: object
                  diligence:
                    type: object
                  related_data:
                    type: object
                  raw_responses:
                    type: object
                  formatted_responses:
                    type: object
                  audit_archive:
                    type: object
  /parameters:
    get:
      summary: Returns a list of required and optional inputs
      description: >
        Given a workflow specified by the Authorization header, the API returns
        a list of required and optional inputs for running an evaluation through
        the designated workflow. Alloy's API is dynamic, and thus the input
        parameters vary depending on which services are run and how the workflow
        is configured. Hitting the `GET /parameters` endpoint will show exactly
        what your initial `POST /evaluations` request to the Alloy API should
        look like. All attributes will either be always required, conditionally
        required, or optional. For instance, in the example here, you either
        have to pass `document_ssn` OR both `document_license` and
        `document_license_state`. Note that this response body is just an
        example, and the exact parameters of your workflow version will vary.
      tags:
        - Evaluations
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  required:
                    type: array
                    description: The required fields for this workflow
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                          example: name_first
                        type:
                          type: string
                          example: string
                        description:
                          type: string
                          example: First name
                        regex:
                          type: string
                          example: ^[^d]*$
                        properties:
                          type: object
                  optional:
                    type: array
                    description: The optional fields for this workflow
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                          example: email_address
                        type:
                          type: string
                          example: string
                        description:
                          type: string
                          example: Email address
                        regex:
                          type: string
                          example: ''
                        properties:
                          type: object
                  or:
                    type: array
                    description: Fields that may be required for this workflow
                    items:
                      type: object
                      properties:
                        required:
                          type: array
                          items:
                            type: object
                            properties:
                              key:
                                type: string
                                example: document_license
                              type:
                                type: string
                                example: string
                              description:
                                type: string
                                example: US issued drivers license number
                              regex:
                                type: string
                                example: ''
                              properties:
                                type: object
  /evaluations/{evaluation_token}:
    parameters:
      - in: path
        name: evaluation_token
        schema:
          type: string
        required: true
        description: Token associated with evaluation.
        example: L-5zKNd6TaKRoUILGAFTD6
    get:
      tags:
        - Evaluations
      summary: View Evaluation
      responses:
        '201':
          x-summary: OK
          description: Evaluation
          content:
            application/json:
              schema:
                type: object
                $ref: >-
                  #/paths/~1evaluations/post/responses/201/content/application~1json/schema
  /groups/{entity_token}:
    parameters:
      - in: path
        name: entity_token
        schema:
          type: string
        required: true
        description: Token associated with entity.
    get:
      tags:
        - Groups
      summary: Get Information Related to a Group
      responses:
        '200':
          description: Get all information for a group
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                  type:
                    type: string
                  entity_token:
                    type: string
                  archived:
                    type: boolean
                  meta:
                    type: object
                  external_entity_id:
                    type: string
                  created:
                    type: number
                  identity_details:
                    type: object
                  evaluations:
                    type: array
                    items:
                      properties:
                        evaluation_token:
                          type: string
                        timestamp:
                          type: number
                        status:
                          type: string
                        application_name:
                          type: string
                        outcome:
                          type: string
                  documents:
                    type: array
                    items:
                      properties:
                        document_token:
                          type: string
                        timestamp:
                          type: number
                        type:
                          type: string
                        name:
                          type: string
                  reviews:
                    type: array
                    items:
                      properties:
                        review_token:
                          description: Unique ID for the Review.
                          type: string
                        entity_token:
                          description: >-
                            Unique ID for the Entity associated with the Review.
                            Depending on how the Review is created, this value
                            can also point to a Group Token.
                          type: string
                        group_token:
                          description: >-
                            Unique ID for the Group (of Entities) associated
                            with the Review.
                          type: string
                        application_token:
                          description: >-
                            Unique ID for the Application (Workflow) associated
                            with the Review. If Review is created via the API,
                            this is determined by the authentication tokens
                            used.
                          type: string
                        outcome:
                          description: >-
                            Outcome of the Review. Value should equal an Outcome
                            that's defined in your Alloy account settings.
                          type: string
                        application_name:
                          description: >-
                            Name of the Application (Workflow) associated with
                            this Review. If Review is created via the API, this
                            is determined by the authentication tokens used.
                          type: string
                        reviewer:
                          description: Email of the Agent that created the Review.
                          type: string
                        timestamp:
                          description: Unix timestamp when the Review was created.
                          type: number
                        reasons:
                          type: array
                          description: >-
                            Array of reasons for this Review and the Review's
                            Outcome. Value should should equal a Review Reason
                            that's defined in your Alloy account settings.
                          items:
                            type: string
                        agent:
                          type: object
[...]
