require '{{{gemName}}}'
{{#apiDocumentationAuthenticationPartial}}

{{{apiDocumentationAuthenticationPartial}}}
{{/apiDocumentationAuthenticationPartial}}
{{^apiDocumentationAuthenticationPartial}}
{{#authMethods}}
{{#isBasic}}
{{#isBasicBasic}}
{{moduleName}}.username = 'YOUR_USERNAME'
{{moduleName}}.password = 'YOUR_PASSWORD'
{{/isBasicBasic}}
{{#isBasicBearer}}
{{moduleName}}.access_token = 'YOUR_BEARER_TOKEN'
{{/isBasicBearer}}
{{/isBasic}}
{{#isApiKey}}
{{moduleName}}.{{> securityKeyName}} = 'YOUR API KEY'
{{/isApiKey}}
{{#isOAuth}}
{{moduleName}}.access_token = 'YOUR ACCESS TOKEN'
{{/isOAuth}}
{{/authMethods}}
{{/apiDocumentationAuthenticationPartial}}
{{> api_doc_example_execute_call}}