{{#isPrimitiveType}}**{{dataType}}**{{/isPrimitiveType}}{{^isPrimitiveType}}{{#isFile}}**{{dataType}}**{{/isFile}}{{^isFile}}[**{{dataType}}**](./lib/{{gemName}}/models/{{modelFilename}}.rb){{/isFile}}{{/isPrimitiveType}}