{{#returnType}}result = {{/returnType}}{{clientNameLowercase}}.{{> api_doc_example_method}}{{#hasParams}}(
  {{#allParamsWithRequestBodyProperties}}
  {{paramName}}: {{{example}}},
  {{/allParamsWithRequestBodyProperties}}
  {{#bodyParam}}
  {{^isStrictlyObject}}
  body: {{{example}}},
  {{/isStrictlyObject}}
  {{/bodyParam}}
){{/hasParams}}
{{#returnType}}
p result
{{/returnType}}