{{#readmeHeader}}
<div align="center">

# {{{title}}}

[![Visit {{{title}}}](./header.png)]({{{url}}})

{{> readme_badges}}

</div>
{{/readmeHeader}}
{{^readmeHeader}}
# {{npmName}}

{{> readme_badges}}
{{/readmeHeader}}

{{^omitInfoDescription}}{{{appDescription}}}
{{/omitInfoDescription}}

## Table of Contents

<!-- toc -->

## Installing

### npm
```
npm install {{npmName}} --save
```

### yarn
```
yarn add {{npmName}}
```

{{#readmeDescriptionSnippet}}
{{{readmeDescriptionSnippet}}}

{{/readmeDescriptionSnippet}}
## Getting Started

```typescript
{{#readmeSnippet}}
{{{.}}}
{{/readmeSnippet}}
{{^readmeSnippet}}
{{> api_doc_example_setup}}

{{#apiInfo}}
{{#hasTopLevelOperations}}
{{#topLevelOperations}}
{{> api_doc_example_execute}}
{{/topLevelOperations}}
{{/hasTopLevelOperations}}
{{^hasTopLevelOperations}}
{{#apis}}{{#-first}}{{#operations}}{{#operation}}{{#-first}}{{> api_doc_example_execute}}{{/-first}}{{/operation}}{{/operations}}{{/-first}}{{/apis}}
{{/hasTopLevelOperations}}
{{/apiInfo}}
{{/readmeSnippet}}
```
{{^omitApiDocumentation}}

## Documentation for API Endpoints

All URIs are relative to *{{basePath}}*

Tag | Method | HTTP request | Description
------------ | ------------- | ------------- | -------------
{{#apiInfo}}{{#apis}}{{#operations}}{{#operation}}*{{originalTag}}* | [**{{operationId}}**]({{apiDocPath}}{{classname}}.md#{{operationId}}) | **{{httpMethod}}** {{path}} | {{#useDescriptionInOperationTableDocumentation}}{{#notes}}{{notes}}{{/notes}}{{/useDescriptionInOperationTableDocumentation}}{{^useDescriptionInOperationTableDocumentation}}{{#summary}}{{summary}}{{/summary}}{{/useDescriptionInOperationTableDocumentation}}
{{/operation}}{{/operations}}{{/apis}}{{/apiInfo}}
{{/omitApiDocumentation}}
{{^removeKonfigBranding}}
## Author
This TypeScript package is automatically generated by [Konfig](https://konfigthis.com)
{{/removeKonfigBranding}}
