{{#useSecurityKeyParamNameAsPropertyName}}{{{keyParamName}}}{{/useSecurityKeyParamNameAsPropertyName}}{{^useSecurityKeyParamNameAsPropertyName}}{{{keyParamNameCamelCase}}}{{/useSecurityKeyParamNameAsPropertyName}}