{
  "openapi": "3.1.0",
  "info": {
    "title": "Shippo external API.",
    "version": "2018-02-08",
    "contact": {
      "name": "Shippo Developer Platform",
      "url": "https://goshippo.com/contact/"
    },
    "description": "Use this API to integrate with the Shippo service"
  },
  "servers": [
    {
      "url": "https://api.goshippo.com"
    }
  ],
  "security": [
    {
      "APIKeyHeader": []
    }
  ],
  "tags": [
    {
      "name": "Overview",
      "description": "<p style=\"text-align: center; background-color: #F2F3F4;\">\n  </br>First-time users and those looking for specific integration tutorials,\n  <a href=\"https://docs.goshippo.com\">see our full API documentation and guides.</a><br>\n  Download the <a href=\"https://docs.goshippo.com/spec/shippoapi/public-api.yaml\">API Specification yaml file</a>     \n</p>\n\n<h3>API Resources</h3>\nAll API URLs listed in this documentation are relative to <b>https://api.goshippo.com/</b>.\n\nFor example, the `/addresses/` resource is reachable at `https://api.goshippo.com/addresses/`.\n\n\n<h3>Authentication</h3>\nThe API requires Shippo's token HTTP Authentication with your Shippo token (live or test). \n\nIn order to authenticate properly, please put `Authorization: ShippoToken <token>` in your header. You can find your token on the \n<a href=\"https://goshippo.com/user/apikeys/\">Shippo API settings page</a>.\n\n\n\nFor more information about authentication and test mode, \n<a href=\"https://docs.goshippo.com/docs/guides_general/authentication/\">please visit our Authentication guide</a>.\n\nThe API is available via Secure Socket Layer (SSL) only. All requests to the Shippo API must use TLS version 1.2 or higher.\n\n<h3>Request & Response Data</h3>\nRequest data is passed to the API by <b>POSTing JSON objects</b> with the appropriate key/value-pairs to the respective \nresource. The documentation for each API resource contains more details on the values accepted by a given resource.\n\nResponse data also formatted as JSON object. You can specify how many results per page are to be returned. For instance, \n`/rates/?results=25` will return up to 25 results.\n\n<h3>REST & Disposable Objects</h3>\nThe Shippo API is built around <a href=\"http://en.wikipedia.org/wiki/Representational_State_Transfer\">REST principles</a>. \nUse POST requests to create objects, GET requests to retrieve objects, and PUT requests to update objects.\n\nOnly the Carrier Accounts object can be updated via PUT requests. All other objects such as Addresses, Parcels, \nShipments, Rates, Transactions, Refunds, Customs Items, and Customs Declarations are disposable. This means that \nonce you have created an object, you cannot change it. Instead, create a new one with the desired values.\n\n<h3>API Version</h3>\n\nThis reference guide supports the Shippo API version: `2018-02-08` . \n\nTo see reference guides for older API versions, see our <a href=\"https://docs.goshippo.com/docs/guides_general/legacy_reference/\">legacy reference guide</a>. \nFor more information about Shippo API versions, see our <a href=\"https://docs.goshippo.com/docs/api_concepts/apiversioning/\">API versions guide</a>."
    },
    {
      "name": "Addresses",
      "description": "Addresses are the locations a parcel is being shipped **from** and **to**. They represent company and residential places. Among other things, you can use address objects to create shipments, calculate shipping rates, and purchase shipping labels.\n<SchemaDefinition schemaRef=\"#/components/schemas/Address\"/>"
    },
    {
      "name": "Parcels",
      "description": "A parcel is an item you are shipping. The parcel object includes details about its physical make-up of the parcel. It includes dimensions and weight that Shippo uses to calculate rates. \n<SchemaDefinition schemaRef=\"#/components/schemas/Parcel\"/>\n\n# Parcel Extras\nThe following values are supported for the `extra` field of the parcel object.\n<SchemaDefinition schemaRef=\"#/components/schemas/ParcelExtra\"/>"
    },
    {
      "name": "Shipments",
      "description": "A shipment is the act of transporting goods. A shipment object contains **to** and **from** addresses, and the parcel details that you are shipping. You can use the shipment object to retrieve shipping rates and purchase a shipping label.\n<SchemaDefinition schemaRef=\"#/components/schemas/Shipment\"/>\n \n# Shipment Extras\nThe following values are supported for the `extra` field of the shipment object.\n<SchemaDefinition schemaRef=\"#/components/schemas/ShipmentExtra\"/>"
    },
    {
      "name": "Rates",
      "description": "A rate is the cost to ship a parcel from a carrier. The rate object details the service level including the cost and transit time. \n<SchemaDefinition schemaRef=\"#/components/schemas/Rate\"/>"
    },
    {
      "name": "Transactions",
      "x-displayName": "Transactions (shipping labels)",
      "description": "A transaction is the purchase of a shipping label from a shipping provider for a specific service. You can print purchased labels and used them to ship a parcel with a carrier, such as USPS or FedEx.\n<SchemaDefinition schemaRef=\"#/components/schemas/Transaction\"/>"
    },
    {
      "name": "Customs Items",
      "description": "Customs declarations are relevant information, including one or multiple customs items, you need to provide for customs clearance for your international shipments.\n<SchemaDefinition schemaRef=\"#/components/schemas/CustomsItem\"/>"
    },
    {
      "name": "Customs Declarations",
      "description": "Customs declarations are relevant information, including one or multiple customs items, you need to provide for \ncustoms clearance for your international shipments.\n<SchemaDefinition schemaRef=\"#/components/schemas/CustomsDeclaration\"/>"
    },
    {
      "name": "Refunds",
      "description": "Refunds are reimbursements for successfully created but unused shipping labels or other charges.\n<SchemaDefinition schemaRef=\"#/components/schemas/Refund\"/>"
    },
    {
      "name": "Manifests",
      "description": "A manifest is a single-page document with a barcode that carriers can scan to accept all packages into transit without the need to scan each item individually. \nThey are close-outs of shipping labels of a certain day. Some carriers require manifests to  process the shipments.\n\n<SchemaDefinition schemaRef=\"#/components/schemas/Manifest\"/>\n\n# Manifest Errors\nThe following codes and messages are the possible errors that may occur when creating Manifests.\n<SchemaDefinition schemaRef=\"#/components/schemas/ManifestErrors\"/>"
    },
    {
      "name": "Carrier Accounts",
      "description": "Carriers are the companies who deliver your package. Shippo uses Carrier account objects as credentials to retrieve shipping rates and purchase labels from shipping Carriers.\n\n<SchemaDefinition schemaRef=\"#/components/schemas/CarrierAccount\"/>"
    },
    {
      "name": "Tracking Status",
      "description": "<p style=\"text-align: center; background-color: #F2F3F4;\"></br>\nIf you purchased your shipping label through Shippo, you can also get all the tracking details of your Shipment \nfrom the <a href=\"#tag/Transactions\">Transaction</a> object.\n</br></br></p>\nA tracking status of a package is an indication of current location of a package in the supply chain. For example,  sorting, warehousing, or out for delivery. Use the tracking status object to track the location of your shipments.\n\nWhen using your <a href=\"https://docs.goshippo.com/docs/guides_general/authentication/\">Test</a> token for tracking, you need to use Shippo's \npredefined tokens for testing different tracking statuses. You can find more information in our \n<a href=\"https://docs.goshippo.com/docs/tracking/tracking/\">Tracking tutorial</a> on how to do this, and what the \npayloads look like.      \n<SchemaDefinition schemaRef=\"#/components/schemas/Track\"/>"
    },
    {
      "name": "Batches",
      "description": "A batch is a technique for creating multiple labels at once. Use the  batch object to create and purchase many shipments in two API calls. After creating the batch, retrieve the batch to verify that all shipments are valid. You can add and remove shipments after you have created the batch. When all shipments are valid you can purchase the batch and retrieve all the shipping labels.\n<SchemaDefinition schemaRef=\"#/components/schemas/Batch\"/>\n\n# Batch Shipment\nThe batch shipment object is a wrapper around a shipment object, which include shipment-specific information \nfor batch processing.\n\nNote: batch shipments can only be created on the batch endpoint, either when creating a batch object or by through \nthe `/batches/{BATCH_OBJECT_ID}/add_shipments` endpoint\n<SchemaDefinition schemaRef=\"#/components/schemas/BatchShipment\"/>"
    },
    {
      "name": "Orders",
      "x-displayName": "Orders (beta)",
      "description": "An order is a request from a customer to purchase goods from a merchant. \nUse the orders object to load orders from your system to the Shippo dashboard.\nYou can use the orders object to create, retrieve, list, and manage orders programmatically. \nYou can also retrieve shipping rates, purchase labels, and track shipments for each order.\n<SchemaDefinition schemaRef=\"#/components/schemas/Order\"/>\n\n# Line Item\n<p style=\"text-align: center; background-color: #F2F3F4;\">\n  </br>Line Items, and their corresponding abstract Products and Variants, might be exposed as a separate resource \n  in the future. Currently it's a nested object within the order resource.</br></br>\n</p>\n A line item is an individual object in an order. For example, if your order contains a t-shirt, shorts, and a jacket, each item is represented by a line item.\n<SchemaDefinition schemaRef=\"#/components/schemas/LineItem\"/>"
    },
    {
      "name": "Pickups",
      "description": "A pickup is when you schedule a carrier to collect a package for delivery.\nUse Shippo’s pickups endpoint to schedule pickups with USPS and DHL Express for eligible shipments that you have already created.\n<SchemaDefinition schemaRef=\"#/components/schemas/Pickup\"/>"
    },
    {
      "name": "Service Groups",
      "description": "A service group is a set of service levels grouped together. \nRates at checkout uses services groups to present available shipping options to customers in their shopping basket.\n<SchemaDefinition schemaRef=\"#/components/schemas/ServiceGroup\"/>"
    },
    {
      "name": "Carrier Parcel Templates",
      "description": "A carrier parcel template represents a package used for shipping that has preset dimensions defined by a carrier. Some examples of a carrier parcel template include USPS Flat Rate Box and Fedex Small Pak. When using a carrier parcel template, the rates returned may be limited to the carrier that provides the box. You can create user parcel templates using a carrier parcel template. Shippo takes the dimensions of the carrier parcel template but you must configure the weight.\n\n<SchemaDefinition schemaRef=\"#/components/schemas/CarrierParcelTemplate\"/>"
    },
    {
      "name": "User Parcel Templates",
      "description": "A user parcel template represents a package used for shipping that has preset dimensions and attributes defined \nby you. They are useful for capturing attributes of parcel-types you frequently use for shipping, allowing \nthem to be defined once and then used for many shipments. These parcel templates can also be used for live rates.\n\nUser parcel templates can also be created using a carrier parcel template, where the dimensions will be copied from \nthe carrier presets, but the weight can be configured by you.\n<SchemaDefinition schemaRef=\"#/components/schemas/UserParcelTemplate\"/>"
    },
    {
      "name": "Rates at Checkout",
      "description": "Rates at checkout is a tool for merchants to display up-to-date shipping estimates based on what's in their customers cart and where they’re shipping to.\nMerchants set up curated shipping options for customers in the checkout flow based on data in the shopping cart. The request must include the **to** address and item information. Optional fields are the **from** address and package information. If the optional fields are not included, the service will use the default address and/or package configured for rates at checkout. The response is a list of shipping options based on the Service Group configuration.\n(see <a href=\"#tag/Service-Groups\">Service Group configuration</a> for details).\n<SchemaDefinition schemaRef=\"#/components/schemas/LiveRate\"/>\n\n\n# Default Parcel Template\nAssign one of your user parcel templates to be the default used when generating Live Rates. This template will be used by default when generating Live Rates, unless you explicitly provide a parcel in the Live Rates request.\n<SchemaDefinition schemaRef=\"#/components/schemas/UserParcelTemplate\"/>"
    },
    {
      "name": "Carriers",
      "description": "<SchemaDefinition schemaRef=\"#/components/schemas/CarriersEnum\"/>"
    },
    {
      "name": "Service Levels",
      "description": "<SchemaDefinition schemaRef=\"#/components/schemas/ServiceLevelEnumSet\"/>"
    },
    {
      "name": "Parcel Templates",
      "description": "A predefined package used by one or multiple carriers.  See below for all available values and the corresponding tokens. \nWhen a template is given, the parcel dimensions do not have to be sent, the dimensions below will instead be used. \nThe parcel weight is not affected by the use of a template.\n<SchemaDefinition schemaRef=\"#/components/schemas/ParcelTemplateEnumSet\"/>"
    },
    {
      "name": "Shippo Accounts",
      "description": "Shippo Accounts are used by Shippo Platform Accounts to create and manage Managed Shippo Accounts. \nManaged Shippo Accounts are headless accounts that represent your customers. They are opaque to your end customers, meaning customers do not need to create their own Shippo login or have a billing relationship with Shippo. \nThey can be used by marketplaces, e-commerce platforms, and third-party logistics providers who want to offer, seamless, built-in shipping functionality to their customers. \n<SchemaDefinition schemaRef=\"#/components/schemas/ShippoAccount\"/>"
    }
  ],
  "paths": {
    "/addresses": {
      "get": {
        "description": "Returns a list of all address objects that have been created in this account.",
        "operationId": "ListAddresses",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageNumberQueryParam"
          },
          {
            "$ref": "#/components/parameters/ResultsPerPageDefault5QueryParam"
          },
          {
            "$ref": "#/components/parameters/ShippoApiVersionHeader"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/addressPaginatedResponse"
          }
        },
        "summary": "List all addresses",
        "tags": [
          "Addresses"
        ],
        "x-code-samples": [
          {
            "label": "cURL",
            "lang": "cURL",
            "source": "curl https://api.goshippo.com/addresses/ \\\n -H \"Authorization: ShippoToken shippo_test_3a47d23c032ca626fce863c48d0f93d63a394396\""
          },
          {
            "label": "Python",
            "lang": "Python",
            "source": "# List all addresses\nshippo.Address.all()"
          },
          {
            "label": "Ruby",
            "lang": "Ruby",
            "source": "# List all addresses\nShippo::Address.all()"
          },
          {
            "label": "Node",
            "lang": "Node",
            "source": "// List all addresses\nshippo.address.list();"
          },
          {
            "label": "PHP",
            "lang": "PHP",
            "source": "// List all addresses\nShippo_Address::all();"
          }
        ]
      },
      "post": {
        "description": "Creates a new address object. You can use address objects to create new shipments, calculate rates, and to create orders.",
        "operationId": "CreateAddress",
        "parameters": [
          {
            "$ref": "#/components/parameters/ShippoApiVersionHeader"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddressCreateRequest"
              }
            }
          },
          "description": "Address details."
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/addressResponse"
          }
        },
        "summary": "Create a new address",
        "tags": [
          "Addresses"
        ],
        "x-code-samples": [
          {
            "label": "cURL",
            "lang": "cURL",
            "source": "curl https://api.goshippo.com/addresses/ \\\n  -H \"Authorization: ShippoToken shippo_test_3a47d23c032ca626fce863c48d0f93d63a394396\" \\\n  -d name=\"Shawn Ippotle\" \\\n  -d company=\"Shippo\" \\\n  -d street1=\"215 Clayton St.\" \\\n  -d street2=\"\" \\\n  -d city=\"San Francisco\" \\\n  -d state=\"CA\" \\\n  -d zip=94117 \\\n  -d country=\"US\" \\\n  -d phone=\"+1 555 341 9393\" \\\n  -d email=\"shippotle@shippo.com\"\\\n  -d is_residential=True\\\n  -d metadata=\"Customer ID 123456\""
          },
          {
            "label": "Python",
            "lang": "Python",
            "source": "# Create address object\naddress_from = shippo.Address.create(\n    name=\"Shawn Ippotle\",\n    company=\"Shippo\",\n    street1=\"215 Clayton St.\",\n    city=\"San Francisco\",\n    state=\"CA\",\n    zip=\"94117\",\n    country=\"US\", # iso2 country code\n    phone=\"+1 555 341 9393\",\n    email=\"shippotle@shippo.com\"\n)"
          },
          {
            "label": "Ruby",
            "lang": "Ruby",
            "source": "# Create address object\naddress_from = Shippo::Address.create(\n    :name => \"Shawn Ippotle\",\n    :company => \"Shippo\",\n    :street1 => \"Clayton St.\",\n    :street_no => \"215\",\n    :street2 => \"\",\n    :city => \"San Francisco\",\n    :state => \"CA\",\n    :zip => \"94117\",\n    :country => \"US\",\n    :phone => \"+1 555 341 9393\",\n    :email => \"shippotle@shippo.com\"\n)"
          },
          {
            "label": "Node",
            "lang": "Node",
            "source": "// Create address object\nvar addressFrom  = shippo.address.create({\n    \"name\":\"Shawn Ippotle\",\n    \"company\":\"Shippo\",\n    \"street1\":\"215 Clayton St.\",\n    \"city\":\"San Francisco\",\n    \"state\":\"CA\",\n    \"zip\":\"94117\",\n    \"country\":\"US\", // iso2 country code\n    \"phone\":\"+1 555 341 9393\",\n    \"email\":\"shippotle@shippo.com\",\n})"
          },
          {
            "label": "PHP",
            "lang": "PHP",
            "source": "// Create address object\n$fromAddress = Shippo_Address::create( array(\n    \"name\" => \"Shawn Ippotle\",\n    \"company\" => \"Shippo\",\n    \"street1\" => \"215 Clayton St.\",\n    \"city\" => \"San Francisco\",\n    \"state\" => \"CA\",\n    \"zip\" => \"94117\",\n    \"country\" => \"US\",\n    \"phone\" => \"+1 555 341 9393\",\n    \"email\" => \"shippotle@shippo.com\" \n));"
          }
        ]
      }
    },
    "/addresses/{AddressId}": {
      "get": {
        "description": "Returns an existing address using an object ID.",
        "operationId": "GetAddress",
        "parameters": [
          {
            "description": "Object ID of the address",
            "in": "path",
            "name": "AddressId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ShippoApiVersionHeader"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/addressResponse"
          }
        },
        "summary": "Retrieve an address",
        "tags": [
          "Addresses"
        ],
        "x-code-samples": [
          {
            "label": "cURL",
            "lang": "cURL",
            "source": "curl https://api.goshippo.com/addresses/d799c2679e644279b59fe661ac8fa488/ \\\n  -H \"Authorization: ShippoToken shippo_test_3a47d23c032ca626fce863c48d0f93d63a394396\""
          },
          {
            "label": "Python",
            "lang": "Python",
            "source": "# Retrieve an existing address by object_id\nshippo.Address.retrieve(\"d799c2679e644279b59fe661ac8fa488\")"
          },
          {
            "label": "Ruby",
            "lang": "Ruby",
            "source": "# Retrieve an existing address by object_id\nShippo::Address.get('d799c2679e644279b59fe661ac8fa488')"
          },
          {
            "label": "Node",
            "lang": "Node",
            "source": "// Retrieve an existing address by object_id\nshippo.address.retrieve('d799c2679e644279b59fe661ac8fa488');"
          },
          {
            "label": "PHP",
            "lang": "PHP",
            "source": "// Retrieve an existing address by object_id\nShippo_Address::retrieve('d799c2679e644279b59fe661ac8fa488');"
          }
        ]
      }
    },
    "/addresses/{AddressId}/validate": {
      "get": {
        "description": "Validates an existing address using an object ID",
        "operationId": "ValidateAddress",
        "parameters": [
          {
            "description": "Object ID of the address",
            "in": "path",
            "name": "AddressId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ShippoApiVersionHeader"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/addressResponse"
          }
        },
        "summary": "Validate an address",
        "tags": [
          "Addresses"
        ],
        "x-code-samples": [
          {
            "label": "cURL",
            "lang": "cURL",
            "source": "curl https://api.goshippo.com/addresses/d799c2679e644279b59fe661ac8fa488/validate/ \\\n  -H \"Authorization: ShippoToken shippo_test_3a47d23c032ca626fce863c48d0f93d63a394396\""
          },
          {
            "label": "Python",
            "lang": "Python",
            "source": "# Validate an existing address by object_id\nshippo.Address.validate('d799c2679e644279b59fe661ac8fa488')"
          },
          {
            "label": "Ruby",
            "lang": "Ruby",
            "source": "# Validate an existing address by object_id\nShippo::Address.get(\"d799c2679e644279b59fe661ac8fa488\").validate()"
          },
          {
            "label": "Node",
            "lang": "Node",
            "source": "// Validate an existing address by object_id\nshippo.address.validate(\"d799c2679e644279b59fe661ac8fa488\", function(err, address) {\n  // asynchronously called\n});"
          },
          {
            "label": "PHP",
            "lang": "PHP",
            "source": "// Validate an existing address by object_id\nShippo_Address::validate('d799c2679e644279b59fe661ac8fa488');"
          }
        ],
        "x-speakeasy-name-override": "validate"
      }
    },
    "/batches": {
      "post": {
        "description": "Creates a new batch object for purchasing shipping labels for many shipments at once. Batches are created asynchronously. This means that the API response won't include your batch shipments yet. You need to retrieve the batch later to verify that all batch shipments are valid.",
        "operationId": "CreateBatch",
        "parameters": [
          {
            "$ref": "#/components/parameters/ShippoApiVersionHeader"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchCreateRequest"
              }
            }
          },
          "description": "Batch details."
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/batchResponse"
          }
        },
        "summary": "Create a batch",
        "tags": [
          "Batches"
        ],
        "x-code-samples": [
          {
            "label": "cURL",
            "lang": "cURL",
            "source": "curl https://api.goshippo.com/batches/  \\\n-H \"Authorization: ShippoToken shippo_test_3a47d23c032ca626fce863c48d0f93d63a394396\" \\\n-H \"Content-Type: application/json\"  \\\n-d '{\n      \"default_carrier_account\": \"078870331023437cb917f5187429b093\",\n      \"default_servicelevel_token\": \"usps_priority\",\n      \"label_filetype\": \"PDF_4x6\",\n      \"metadata\": \"BATCH #170\",\n      \"batch_shipments\": [\n        {\n          \"shipment\": {    \n            \"address_from\": {\n              \"name\": \"Mr Hippo\",\n              \"street1\": \"965 Mission St\",\n              \"street2\": \"Ste 201\",\n              \"city\": \"San Francisco\",\n              \"state\": \"CA\",\n              \"zip\": \"94103\",\n              \"country\": \"US\",\n              \"phone\": \"4151234567\",\n              \"email\": \"mrhippo@shippo.com\"\n            },\n            \"address_to\": {\n              \"name\": \"Mrs Hippo\",\n              \"company\": \"\",\n              \"street1\": \"Broadway 1\",\n              \"street2\": \"\",\n              \"city\": \"New York\",\n              \"state\": \"NY\",\n              \"zip\": \"10007\",\n              \"country\": \"US\",\n              \"phone\": \"4151234567\",\n              \"email\": \"mrshippo@shippo.com\"\n            },\n            \"parcels\": [{\n              \"length\": \"5\",\n              \"width\": \"5\",\n              \"height\": \"5\",\n              \"distance_unit\": \"in\",\n              \"weight\": \"2\",\n              \"mass_unit\": \"oz\"\n            }]\n          }\n        },\n        {\n          \"shipment\": {    \n            \"address_from\": {\n              \"name\": \"Mr Hippo\",\n              \"street1\": \"1092 Indian Summer Ct\",\n              \"city\": \"San Jose\",\n              \"state\": \"CA\",\n              \"zip\": \"95122\",\n              \"country\": \"US\",\n              \"phone\": \"4151234567\",\n              \"email\": \"mrhippo@shippo.com\"\n            },\n            \"address_to\": {\n              \"name\": \"Mrs Hippo\",\n              \"company\": \"\",\n              \"street1\": \"Broadway 1\",\n              \"street2\": \"\",\n              \"city\": \"New York\",\n              \"state\": \"NY\",\n              \"zip\": \"10007\",\n              \"country\": \"US\",\n              \"phone\": \"4151234567\",\n              \"email\": \"mrshippo@shippo.com\"\n            },\n            \"parcels\": [{\n              \"length\": \"5\",\n              \"width\": \"5\",\n              \"height\": \"5\",\n              \"distance_unit\": \"in\",\n              \"weight\": \"20\",\n              \"mass_unit\": \"lb\"\n            }]\n          },\n          \"carrier_account\": \"a4391cd4ab974f478f55dc08b5c8e3b3\",\n          \"servicelevel_token\": \"fedex_2_day\"\n        }\n      ]\n    }' "
          },
          {
            "label": "Python",
            "lang": "Python",
            "source": "batch = shippo.Batch.create(\n    default_carrier_account=\"078870331023437cb917f5187429b093\",\n    default_servicelevel_token=\"usps_priority\",\n    label_filetype=\"PDF_4x6\",\n    metadata=\"this is metadata\",\n    batch_shipments=[\n        {\n          \"shipment\": {\n            \"address_from\": {\n              \"name\": \"Mr Hippo\",\n              \"street1\": \"965 Mission St\",\n              \"street2\": \"Ste 201\",\n              \"city\": \"San Francisco\",\n              \"state\": \"CA\",\n              \"zip\": \"94103\",\n              \"country\": \"US\",\n              \"phone\": \"4151234567\",\n            },\n            \"address_to\": {\n              \"name\": \"Mrs Hippo\",\n              \"company\": \"\",\n              \"street1\": \"Broadway 1\",\n              \"street2\": \"\",\n              \"city\": \"New York\",\n              \"state\": \"NY\",\n              \"zip\": \"10007\",\n              \"country\": \"US\",\n              \"phone\": \"4151234567\",\n            },\n            \"parcels\": [{\n              \"length\": \"5\",\n              \"width\": \"5\",\n              \"height\": \"5\",\n              \"distance_unit\": \"in\",\n              \"weight\": \"2\",\n              \"mass_unit\": \"oz\"\n            }]\n          }\n        },\n        {\n          \"shipment\": {\n            \"address_from\": {\n              \"name\": \"Mr Hippo\",\n              \"street1\": \"1092 Indian Summer Ct\",\n              \"city\": \"San Jose\",\n              \"state\": \"CA\",\n              \"zip\": \"95122\",\n              \"country\": \"US\",\n              \"phone\": \"4151234567\",\n            },\n            \"address_to\": {\n              \"name\": \"Mrs Hippo\",\n              \"company\": \"\",\n              \"street1\": \"Broadway 1\",\n              \"street2\": \"\",\n              \"city\": \"New York\",\n              \"state\": \"NY\",\n              \"zip\": \"10007\",\n              \"country\": \"US\",\n              \"phone\": \"4151234567\",\n            },\n            \"parcels\": [{\n              \"length\": \"5\",\n              \"width\": \"5\",\n              \"height\": \"5\",\n              \"distance_unit\": \"in\",\n              \"weight\": \"20\",\n              \"mass_unit\": \"lb\"\n            }]\n          }\n        }\n    ]\n)"
          },
          {
            "label": "Ruby",
            "lang": "Ruby",
            "source": "Shippo::batch.create({\n    :default_carrier_account => DEFAULT_CARRIER_ACCOUNT,\n    :default_servicelevel_token => 'usps_priority',\n    :label_filetype => 'ZPLII',\n    :metadata => 'BATCH #170',\n    :batch_shipments => [\n      {\n        :shipment => {\n          :address_from   => address_from_one,\n          :address_to     => address_to_one,\n          :parcel         => parcel_one,\n          :async          => false\n        }\n      },\n      {\n        :shipment => {\n          :address_from   => address_from_two,\n          :address_to     => address_to_two,\n          :parcel         => parcel_two,\n          :async          => false\n        }\n      }\n    ]\n})"
          },
          {
            "label": "Node",
            "lang": "Node",
            "source": "var batch = shippo.batch.create({\n  \"default_carrier_account\": \"078870331023437cb917f5187429b093\",\n  \"default_servicelevel_token\": \"usps_priority\",\n  \"label_filetype\": \"PDF_4x6\",\n  \"metadata\": \"BATCH #170\",\n  \"batch_shipments\": [\n    {\n      \"shipment\": {\n        \"address_from\": addressFromOne,\n        \"address_to\": addressToOne,\n        \"parcels\": parcelsOne\n      }\n    },\n    {\n      \"shipment\": {\n        \"address_from\": addressFromTwo,\n        \"address_to\": addressToTwo,\n        \"parcels\": parcelsTwo\n      }\n    }\n  ]\n})"
          },
          {
            "label": "PHP",
            "lang": "PHP",
            "source": "$batch = Shippo_Batch::create(array(\n    'default_carrier_account' => $carrier,\n    'default_servicelevel_token' => 'usps_priority',\n    'label_filetype' => 'PDF_4x6',\n    'metadata' => '',\n    'batch_shipments' => array(\n        array(\n            'shipment' => array(\n                'address_from' => array(\n                    'name' => 'Mr Hippo',\n                    'street1' => '965 Mission St',\n                    'street2' => 'Ste 201',\n                    'city' => 'San Francisco',\n                    'state' => 'CA',\n                    'zip' => '94103',\n                    'country' => 'US',\n                    'phone' => '4151234567',\n                    'email' => 'mrhippo@shippo.com'\n                ),\n                'address_to' => array(\n                    'name' => 'Mrs Hippo',\n                    'company' => '',\n                    'street1' => 'Broadway 1',\n                    'street2' => '',\n                    'city' => 'New York',\n                    'state' => 'NY',\n                    'zip' => '10007',\n                    'country' => 'US',\n                    'phone' => '4151234567',\n                    'email' => 'mrshippo@shippo.com'\n                ),\n                'parcels' => array(\n                    array(\n                        'length' => '5',\n                        'width' => '5',\n                        'height' => '5',\n                        'distance_unit' => 'in',\n                        'weight' => '2',\n                        'mass_unit' => 'oz'\n                    )\n                )\n            )\n        )\n    )\n))"
          }
        ]
      }
    },
    "/batches/{BatchId}": {
      "get": {
        "description": "Returns a batch using an object ID. <br> Batch shipments are displayed 100 at a time.  You can iterate \nthrough each `page` using the `?page= query` parameter.  You can also filter based on batch shipment \nstatus, for example, by passing a query param like `?object_results=creation_failed`. <br> \nFor more details on filtering results, see our guide on <a href=\"https://docs.goshippo.com/docs/api_concepts/filtering/\" target=\"blank\"> filtering</a>.",
        "operationId": "GetBatch",
        "parameters": [
          {
            "description": "Object ID of the batch",
            "in": "path",
            "name": "BatchId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ShippoApiVersionHeader"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/batchResponse"
          }
        },
        "summary": "Retrieve a batch",
        "tags": [
          "Batches"
        ],
        "x-code-samples": [
          {
            "label": "cURL",
            "lang": "cURL",
            "source": "curl https://api.goshippo.com/batches/<BATCH OBJECT ID>?page=2&object_results=creation_failed \\\n-H \"Authorization: ShippoToken shippo_test_3a47d23c032ca626fce863c48d0f93d63a394396\""
          },
          {
            "label": "Python",
            "lang": "Python",
            "source": "shippo.Batch.retrieve(batch_object_id)"
          },
          {
            "label": "Ruby",
            "lang": "Ruby",
            "source": "Shippo::batch.retrieve(batch_object_id)"
          },
          {
            "label": "Node",
            "lang": "Node",
            "source": "shippo.batch.retrieve(batchObjectId)"
          },
          {
            "label": "PHP",
            "lang": "PHP",
            "source": "Shippo_Batch::retrieve($batch_object_id)"
          }
        ]
      }
    },
    "/batches/{BatchId}/add_shipments": {
      "post": {
        "description": "Adds batch shipments to an existing batch.",
        "operationId": "AddShipmentsToBatch",
        "parameters": [
          {
            "description": "Object ID of the batch",
            "in": "path",
            "name": "BatchId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ShippoApiVersionHeader"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "items": {
                  "$ref": "#/components/schemas/BatchShipmentCreateRequest"
                },
                "type": "array"
              }
            }
          },
          "description": "Array of shipments to add to the batch"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/batchResponse"
          }
        },
        "summary": "Add shipments to a batch",
        "tags": [
          "Batches"
        ],
        "x-code-samples": [
          {
            "label": "cURL",
            "lang": "cURL",
            "source": "curl -X POST https://api.goshippo.com/batches/<BATCH OBJECT ID>/add_shipments \\\n-H \"Authorization: ShippoToken shippo_test_3a47d23c032ca626fce863c48d0f93d63a394396\" \\\n-H \"Content-Type: application/json\"  \\\n-d '[\n        {\n          \"shipment\": {    \n            \"address_from\": {\n              \"name\": \"Mr Hippo\",\n              \"street1\": \"965 Mission St\",\n              \"street2\": \"Ste 201\",\n              \"city\": \"San Francisco\",\n              \"state\": \"CA\",\n              \"zip\": \"94103\",\n              \"country\": \"US\",\n              \"phone\": \"4151234567\",\n            },\n            \"address_to\": {\n              \"name\": \"Hippo Jr\",\n              \"street1\": \"915 Broadway\",\n              \"street2\": \"19th Floor\",\n              \"city\": \"New York\",\n              \"state\": \"NY\",\n              \"zip\": \"10010\",\n              \"country\": \"US\",\n              \"phone\": \"2129947880\",\n            },\n            \"parcels\": [{\n              \"length\": \"12\",\n              \"width\": \"12\",\n              \"height\": \"12\",\n              \"distance_unit\": \"in\",\n              \"weight\": \"12\",\n              \"mass_unit\": \"oz\"\n            }]\n          }\n        },\n        {\n          \"shipment\": {    \n            \"address_from\": {\n              \"name\": \"Ms Hippo\",\n              \"street1\": \"1092 Indian Summer Ct\",\n              \"city\": \"San Jose\",\n              \"state\": \"CA\",\n              \"zip\": \"95122\",\n              \"country\": \"US\",\n              \"phone\": \"4151234567\",\n            },\n            \"address_to\": {\n              \"name\": \"Mr Hippo\",\n              \"street1\": \"965 Mission St\",\n              \"street2\": \"Ste 201\",\n              \"city\": \"San Francisco\",\n              \"state\": \"CA\",\n              \"zip\": \"94103\",\n              \"country\": \"US\",\n              \"phone\": \"4151234567\",\n            },\n            \"parcels\": [{\n              \"length\": \"5\",\n              \"width\": \"5\",\n              \"height\": \"5\",\n              \"distance_unit\": \"in\",\n              \"weight\": \"2\",\n              \"mass_unit\": \"lb\"\n            }]\n          },\n          \"carrier_account\": \"a4391cd4ab974f478f55dc08b5c8e3b3\",\n          \"servicelevel_token\": \"fedex_2_day\"\n        }\n      ]'"
          }
        ],
        "x-speakeasy-name-override": "addShipments"
      }
    },
    "/batches/{BatchId}/purchase": {
      "post": {
        "description": "Purchases an existing batch with a status of `VALID`. \nOnce you send a POST request to the purchase endpoint the batch status will change to `PURCHASING`. \nWhen all the shipments are purchased, the status will change to `PURCHASED` and you will receive a \n`batch_purchased` webhook indicating that the batch has been purchased",
        "operationId": "PurchaseBatch",
        "parameters": [
          {
            "description": "Object ID of the batch",
            "in": "path",
            "name": "BatchId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ShippoApiVersionHeader"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/batchResponse"
          }
        },
        "summary": "Purchase a batch",
        "tags": [
          "Batches"
        ],
        "x-code-samples": [
          {
            "label": "cURL",
            "lang": "cURL",
            "source": "curl -X POST https://api.goshippo.com/batches/<BATCH OBJECT ID>/purchase \\\n-H \"Authorization: ShippoToken shippo_test_3a47d23c032ca626fce863c48d0f93d63a394396\""
          }
        ],
        "x-speakeasy-name-override": "purchase"
      }
    },
    "/batches/{BatchId}/remove_shipments": {
      "post": {
        "description": "Removes shipments from an existing batch shipment.",
        "operationId": "RemoveShipmentsFromBatch",
        "parameters": [
          {
            "description": "Object ID of the batch",
            "in": "path",
            "name": "BatchId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ShippoApiVersionHeader"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "items": {
                  "type": "string"
                },
                "type": "array"
              }
            }
          },
          "description": "Array of shipments object ids to remove from the batch"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/batchResponse"
          }
        },
        "summary": "Remove shipments from a batch",
        "tags": [
          "Batches"
        ],
        "x-code-samples": [
          {
            "label": "cURL",
            "lang": "cURL",
            "source": "curl -X POST https://api.goshippo.com/batches/<BATCH OBJECT ID>/remove_shipments \\\n-H \"Authorization: ShippoToken shippo_test_3a47d23c032ca626fce863c48d0f93d63a394396\" \\\n-H \"Content-Type: application/json\"  \\\n-d '[\n      \"aa7dea463a5a48b0b8fb21f90e72d779\",\n      \"f11b46440c144ce3b97fb5ddf02b8c71\",\n      \"5400f9078f764b1bbb121bcd08de127f\",\n      \"2ab2b452392545908d2cef8861a39c35\"\n    ]'"
          }
        ],
        "x-speakeasy-name-override": "removeShipments"
      }
    },
    "/carrier_accounts": {
      "get": {
        "description": "Returns a list of all carrier accounts connected to your Shippo account. These carrier accounts include both Shippo carrier accounts and your own carrier accounts that you have connected to your Shippo account.\n\nAdditionally, you can get information about the service levels associated with each carrier account by passing in the `?service_levels=true` query parameter. <br>\nUsing it appends the property `service_levels` to each carrier account. <br>\nBy default, if the query parameter is omitted, the `service_levels` property will not be included in the response.",
        "operationId": "ListCarrierAccounts",
        "parameters": [
          {
            "description": "Appends the property `service_levels` to each returned carrier account",
            "in": "query",
            "name": "service_levels",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Filter the response by the specified carrier",
            "in": "query",
            "name": "carrier",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/CarriersEnum"
            }
          },
          {
            "description": "Filter the response by the specified carrier account Id",
            "in": "query",
            "name": "account_id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/PageNumberQueryParam"
          },
          {
            "$ref": "#/components/parameters/ResultsPerPageDefault5QueryParam"
          },
          {
            "$ref": "#/components/parameters/ShippoApiVersionHeader"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/carrierAccountPaginatedResponse"
          }
        },
        "summary": "List all carrier accounts",
        "tags": [
          "Carrier Accounts"
        ],
        "x-code-samples": [
          {
            "label": "cURL",
            "lang": "cURL",
            "source": "curl https://api.goshippo.com/carrier_accounts?service_levels=true \\\n -H \"Authorization: ShippoToken shippo_test_3a47d23c032ca626fce863c48d0f93d63a394396\""
          },
          {
            "label": "Python",
            "lang": "Python",
            "source": "# List all carrier accounts\nshippo.CarrierAccount.all()"
          },
          {
            "label": "Ruby",
            "lang": "Ruby",
            "source": "# List all carrier accounts\nShippo::CarrierAccount.all()"
          },
          {
            "label": "Node",
            "lang": "Node",
            "source": "// List all carrier accounts\nshippo.carrieraccount.list();"
          },
          {
            "label": "PHP",
            "lang": "PHP",
            "source": "// List all carrier accounts\nShippo_CarrierAccount::all();"
          }
        ]
      },
      "post": {
        "description": "Creates a new carrier account or connects an existing carrier account to the Shippo account.",
        "operationId": "CreateCarrierAccount",
        "parameters": [
          {
            "$ref": "#/components/parameters/ShippoApiVersionHeader"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConnectExistingOwnAccountRequest"
              }
            }
          },
          "description": "Examples.",
          "x-examples": {
            "application/json": {
              "fedex-existing-account-example": {
                "summary": "Connect an existing Fedex account to Shippo",
                "value": {
                  "account_id": 321123,
                  "carrier": "fedex",
                  "metadata": "FedEx Account",
                  "parameters": {
                    "first_name": "Hippo",
                    "from_address_city": "San Francisco",
                    "from_address_country_iso2": "US",
                    "from_address_st": "250 Union St",
                    "from_address_state": "CA",
                    "from_address_zip": 94133,
                    "last_name": "Hippovich",
                    "meter": 118599345,
                    "phone_number": 1112223333,
                    "smartpost_id": 5902
                  },
                  "test": false
                }
              },
              "ups-existing-account-example": {
                "summary": "Connect an existing UPS account to Shippo",
                "value": {
                  "account_id": 123456,
                  "active": true,
                  "carrier": "ups",
                  "metadata": "UPS Account",
                  "parameters": {
                    "account_number": "94567e",
                    "aia_country_iso2": "US",
                    "billing_address_city": "San Francisco",
                    "billing_address_country_iso2": "US",
                    "billing_address_state": "CA",
                    "billing_address_street1": "731 Market St",
                    "billing_address_street2": "STE 200",
                    "billing_address_zip": 94103,
                    "collec_country_iso2": "US",
                    "collec_zip": 94103,
                    "company": "Shippo",
                    "currency_code": "USD",
                    "email": "hippo@shippo.com",
                    "full_name": "Shippo Meister",
                    "has_invoice": false,
                    "invoice_controlid": 1234,
                    "invoice_date": 20210529,
                    "invoice_number": 1112234,
                    "invoice_value": 11.23,
                    "phone": 1112223333,
                    "title": "Manager",
                    "ups_agreements": true
                  },
                  "test": false
                }
              },
              "ups-new-account-example": {
                "summary": "Create a new UPS account",
                "value": {
                  "account_id": 123456,
                  "active": true,
                  "carrier": "ups",
                  "metadata": "UPS Account",
                  "parameters": {
                    "billing_address_city": "San Francisco",
                    "billing_address_country_iso2": "US",
                    "billing_address_state": "CA",
                    "billing_address_street1": "731 Market St",
                    "billing_address_street2": "STE 200",
                    "billing_address_zip": 94103,
                    "company": "Shippo",
                    "email": "hippo@shippo.com",
                    "full_name": "Shippo Meister",
                    "phone": 1112223333,
                    "pickup_address_city": "San Francisco",
                    "pickup_address_country_iso2": "US",
                    "pickup_address_same_as_billing_address": false,
                    "pickup_address_state": "CA",
                    "pickup_address_street1": "731 Market St",
                    "pickup_address_street2": "STE 200",
                    "pickup_address_zip": 94103,
                    "ups_agreements": true
                  },
                  "test": false
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/carrierAccountResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequestWithDetailResponse"
          }
        },
        "summary": "Create a new carrier account",
        "tags": [
          "Carrier Accounts"
        ],
        "x-code-samples": [
          {
            "label": "cURL",
            "lang": "cURL",
            "source": "curl --location --request POST 'https://api.goshippo.com/carrier_accounts/' \\\n--header 'Authorization: ShippoToken {{token}}' \\\n--header 'Content-Type: application/json' \\\n--data-raw '{\n  \"account_id\": \"string\",\n  \"active\": true,\n  \"carrier\": \"ups\",\n  \"metadata\": \"UPS Account\",\n  \"parameters\": {\n    \"billing_address_city\": \"San Francisco\",\n    \"billing_address_country_iso2\": \"US\",\n    \"billing_address_state\": \"CA\",\n    \"billing_address_street1\": \"731 Market St\",\n    \"billing_address_street2\": \"STE 200\",\n    \"billing_address_zip\": \"94103\",\n    \"company\": \"Shippo\",\n    \"email\": \"hippo@shippo.com\",\n    \"full_name\": \"Thorn Hall\",\n    \"phone\": \"1112223333\",\n    \"pickup_address_city\": \"San Francisco\",\n    \"pickup_address_country_iso2\": \"US\",\n    \"pickup_address_same_as_billing_address\": false,\n    \"pickup_address_state\": \"CA\",\n    \"pickup_address_street1\": \"731 Market St\",\n    \"pickup_address_street2\": \"STE 200\",\n    \"pickup_address_zip\": \"94103\",\n    \"ups_agreements\": true\n  },\n  \"test\": false\n}'"
          },
          {
            "label": "Python",
            "lang": "Python",
            "source": "fedex_account = shippo.CarrierAccount.create(\n  carrier=\"fedex\",\n  account_id=\"321123\",\n  parameters={\"meter\" : \"789987\"},\n  active=True\n)"
          },
          {
            "label": "Ruby",
            "lang": "Ruby",
            "source": "# Create a carrier account\nfedex_account = Shippo::CarrierAccount.create(\n  :carrier => 'fedex',\n  :account_id => '321123',\n  :parameters => {:meter => '789987'},\n  :active => true)"
          },
          {
            "label": "Node",
            "lang": "Node",
            "source": "shippo.carrieraccount.create({\n    \"carrier\":\"fedex\", \n    \"account_id\":\"321123\", \n    \"parameters\":{\"meter\":\"789987\"},\n    \"active\":true\n}, function(err, account) {\n  // asynchronously called\n});"
          },
          {
            "label": "PHP",
            "lang": "PHP",
            "source": "$fedex_account = Shippo_CarrierAccount::create(array(\n    'carrier' => 'fedex',\n    'account_id' => '321123',\n    'parameters' => array('meter' => '789987'),\n    'active' => true\n));"
          }
        ]
      }
    },
    "/carrier_accounts/{CarrierAccountId}": {
      "get": {
        "description": "Returns an existing carrier account using an object ID.",
        "operationId": "GetCarrierAccount",
        "parameters": [
          {
            "description": "Object ID of the carrier account",
            "in": "path",
            "name": "CarrierAccountId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ShippoApiVersionHeader"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/carrierAccountResponse"
          }
        },
        "summary": "Retrieve a carrier account",
        "tags": [
          "Carrier Accounts"
        ],
        "x-code-samples": [
          {
            "label": "cURL",
            "lang": "cURL",
            "source": "curl https://api.goshippo.com/carrier_accounts/b741b99f95e841639b54272834bc478c \\\n-H \"Authorization: ShippoToken shippo_test_3a47d23c032ca626fce863c48d0f93d63a394396\""
          },
          {
            "label": "Python",
            "lang": "Python",
            "source": "# Retrieve an existing carrier account by object_id\nshippo.CarrierAccount.retrieve(\"b741b99f95e841639b54272834bc478c\")"
          },
          {
            "label": "Ruby",
            "lang": "Ruby",
            "source": "# Retrieve an existing carrier account by object_id\nShippo::CarrierAccount.get('b741b99f95e841639b54272834bc478c');"
          },
          {
            "label": "Node",
            "lang": "Node",
            "source": "// Retrieve an existing carrier account by object_id\nshippo.carrieraccount.retrieve('b741b99f95e841639b54272834bc478c');"
          },
          {
            "label": "PHP",
            "lang": "PHP",
            "source": "// Retrieve an existing carrier account by object_id\nShippo_CarrierAccount::retrieve('b741b99f95e841639b54272834bc478c');"
          }
        ]
      },
      "put": {
        "description": "Updates an existing carrier account object. The account_id and carrier can't be updated. This is because they form the unique identifier together.",
        "operationId": "UpdateCarrierAccount",
        "parameters": [
          {
            "description": "Object ID of the carrier account",
            "in": "path",
            "name": "CarrierAccountId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ShippoApiVersionHeader"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CarrierAccountUpdateRequest"
              }
            }
          },
          "description": "Examples.",
          "x-examples": {
            "application/json": {
              "update-carrier-account": {
                "summary": "Update a carrier account",
                "value": {
                  "account_id": 123356,
                  "active": true,
                  "carrier": "ups",
                  "parameters": {}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/carrierAccountResponse"
          }
        },
        "summary": "Update a carrier account",
        "tags": [
          "Carrier Accounts"
        ],
        "x-code-samples": [
          {
            "label": "cURL",
            "lang": "cURL",
            "source": "curl https://api.goshippo.com/carrier_accounts/b741b99f95e841639b54272834bc478c/ \\\n-X PUT  \\\n-H \"Authorization: ShippoToken shippo_test_3a47d23c032ca626fce863c48d0f93d63a394396\" \\\n-d parameters='{\n    \"meter\": \"123987\"\n}'"
          },
          {
            "label": "Python",
            "lang": "Python",
            "source": "# To update a carrier account we need the account's object_id. \n# If you haven't stored it in your system, retrieve it first.\n# You can list all your accounts like this.\naccounts = shippo.CarrierAccount.all()\nprint accounts\n\n# Now you can update the account with the corresponding object_id.\nfedex_account = shippo.CarrierAccount.update('b741b99f95e841639b54272834bc478c', active=True)"
          },
          {
            "label": "Ruby",
            "lang": "Ruby",
            "source": "# To update a carrier account we need the account's object_id. \n# If you haven't stored it in your system, retrieve it first.\n# You can list all your accounts like this.\naccounts = Shippo::CarrierAccount.all()\nputs accounts\n\n# Now you can update the account with the corresponding object_id.\nfedex_account = Shippo::CarrierAccount.update('b741b99f95e841639b54272834bc478c', :active => true)"
          },
          {
            "label": "Node",
            "lang": "Node",
            "source": "// To update a carrier account we need the account's object_id. \n// If you haven't stored it in your system, retrieve it first.\n// You can list all your accounts like this.\nvar accounts = shippo.carrieraccount.list();\nconsole.log(accounts);\n\n//  Now you can update the account with the corresponding object_id.\nvar fedex_account = shippo.carrieraccount.update(\"b741b99f95e841639b54272834bc478c\", {\"active\":true}, function(err, account) {\n  // asynchronously called\n});"
          },
          {
            "label": "PHP",
            "lang": "PHP",
            "source": "// To update a carrier account we need the account's object_id. \n// If you haven't stored it in your system, retrieve it first.\n// You can list all your accounts like this.\n$accounts = Shippo_CarrierAccount::all();\nvar_dump($accounts);\n\n//  Now you can update the account with the corresponding object_id.\n$fedex_account = Shippo_CarrierAccount::update('b741b99f95e841639b54272834bc478c', array('active' => true));"
          }
        ]
      }
    },
    "/carrier_accounts/{CarrierAccountObjectId}/signin/initiate": {
      "get": {
        "description": "Used by client applications to setup or reconnect an existing carrier account with carriers that support OAuth 2.0",
        "summary": "Connect an existing carrier account using OAuth 2.0",
        "operationId": "InitiateOauth2Signin",
        "parameters": [
          {
            "description": "The carrier account ID to start a signin process",
            "in": "path",
            "name": "CarrierAccountObjectId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Callback URL. The URL that tells the authorization server where to send the user back to after they approve the request.",
            "in": "query",
            "name": "redirect_uri",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uri"
            }
          },
          {
            "description": "A random string generated by the consuming application and included in the request to prevent CSRF attacks. The consuming application checks that the same value is returned after the user authorizes Shippo.",
            "in": "query",
            "name": "state",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ShippoApiVersionHeader"
          }
        ],
        "responses": {
          "302": {
            "description": "Redirects the browser to the carrier login page, with the needed parameters",
            "headers": {
              "Location": {
                "description": "Carrier login page URI, with the needed parameters set as query string",
                "schema": {
                  "type": "string",
                  "format": "uri"
                },
                "example": "https://www.ups.com/lasso/signin?client_id=testClientID&redirect_uri=https://client.example.com/cb&response_type=code&scope=read&type=ups_com_api"
              }
            }
          },
          "400": {
            "description": "Invalid parameters provided by the user",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "title": {
                      "type": "string",
                      "example": "Missing required parameter"
                    },
                    "detail": {
                      "type": "string",
                      "example": "redirect_uri"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid ShippoToken or unsupported carrier account provided by the user",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "title": {
                      "type": "string",
                      "example": "Unsupported OAuth Carrier Account"
                    },
                    "detail": {
                      "type": "string",
                      "example": "The carrier account 3c49f998b1234a2097ea0911a7e95bea does not support OAuth authorization"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Invalid carrier account provided by the user",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "title": {
                      "type": "string",
                      "example": "Carrier Account not found"
                    },
                    "detail": {
                      "type": "string",
                      "example": "Carrier Account not found for object_id: 3c49f998b1234a2097ea0911a7e95bea"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "label": "cURL",
            "lang": "cURL",
            "source": "curl \"https://api.goshippo.com/carrier_accounts/2ccf5af209bb484cb20190d9cadbb61c/signin/initiate?redirect_uri=https://client.example.com/cb&state=SplxlOBeZQQYbYS6WxSbIA\" \\\n-H \"Authorization: ShippoToken shippo_test_3a47d23c032ca626fce863c48d0f93d63a394396\""
          }
        ],
        "tags": [
          "Carrier Accounts"
        ]
      }
    },
    "/carrier_accounts/register/new": {
      "post": {
        "description": "Adds a Shippo carrier account",
        "operationId": "RegisterCarrierAccount",
        "parameters": [
          {
            "$ref": "#/components/parameters/ShippoApiVersionHeader"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/CarrierAccountCanadaPostCreateRequest"
                  },
                  {
                    "$ref": "#/components/schemas/CarrierAccountChronopostCreateRequest"
                  },
                  {
                    "$ref": "#/components/schemas/CarrierAccountColissimoCreateRequest"
                  },
                  {
                    "$ref": "#/components/schemas/CarrierAccountCorreosCreateRequest"
                  },
                  {
                    "$ref": "#/components/schemas/CarrierAccountDeutschePostCreateRequest"
                  },
                  {
                    "$ref": "#/components/schemas/CarrierAccountDHLExpressCreateRequest"
                  },
                  {
                    "$ref": "#/components/schemas/CarrierAccountDpdDeCreateRequest"
                  },
                  {
                    "$ref": "#/components/schemas/CarrierAccountDPDUKCreateRequest"
                  },
                  {
                    "$ref": "#/components/schemas/CarrierAccountFedExCreateRequest"
                  },
                  {
                    "$ref": "#/components/schemas/CarrierAccountHermesUKCreateRequest"
                  },
                  {
                    "$ref": "#/components/schemas/CarrierAccountMondialRelayCreateRequest"
                  },
                  {
                    "$ref": "#/components/schemas/CarrierAccountPosteItalianeCreateRequest"
                  },
                  {
                    "$ref": "#/components/schemas/CarrierAccountUPSCreateRequest"
                  },
                  {
                    "$ref": "#/components/schemas/CarrierAccountUSPSCreateRequest"
                  }
                ]
              }
            }
          },
          "description": "Examples."
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/carrierAccountResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequestWithErrorResponse"
          }
        },
        "summary": "Add a Shippo carrier account",
        "tags": [
          "Carrier Accounts"
        ],
        "x-codeSamples": [
          {
            "label": "CLI",
            "lang": "cURL",
            "source": "curl --location --request POST '/carrier_accounts/register/new' \\\n--header 'Authorization: ShippoToken {{token}}' \\\n--header 'Content-Type: application/json' \\\n--data-raw '{\n    \"carrier\": \"canada_post\",\n    \"parameters\": {\n        \"company\": \"Shippo\",\n        \"full_name\": \"Shippo Meister\",\n        \"email\": \"hippo@shippo.com\",\n        \"phone\": \"1112221122\",\n        \"canada_post_terms\": true\n    }\n}'"
          }
        ],
        "x-speakeasy-name-override": "register"
      }
    },
    "/carrier_accounts/reg-status": {
      "get": {
        "description": "Returns the registration status for the given account for the given carrier",
        "operationId": "GetCarrierRegistrationStatus",
        "parameters": [
          {
            "in": "query",
            "description": "filter by specific carrier",
            "name": "carrier",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "ups",
                "usps",
                "canada_post"
              ]
            }
          },
          {
            "$ref": "#/components/parameters/ShippoApiVersionHeader"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/carrierAccountRegistrationStatusResponse"
          }
        },
        "summary": "Get Carrier Registration status",
        "tags": [
          "Carrier Accounts"
        ],
        "x-speakeasy-name-override": "getRegistrationStatus"
      }
    },
    "/customs/declarations": {
      "get": {
        "description": "Returns a a list of all customs declaration objects",
        "operationId": "ListCustomsDeclarations",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageNumberQueryParam"
          },
          {
            "$ref": "#/components/parameters/ResultsPerPageDefault5QueryParam"
          },
          {
            "$ref": "#/components/parameters/ShippoApiVersionHeader"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/customsDeclarationPaginatedResponse"
          }
        },
        "summary": "List all customs declarations",
        "tags": [
          "Customs Declarations"
        ],
        "x-code-samples": [
          {
            "label": "cURL",
            "lang": "cURL",
            "source": "curl https://api.goshippo.com/customs/declarations/ \\\n-H \"Authorization: ShippoToken shippo_test_3a47d23c032ca626fce863c48d0f93d63a394396\""
          },
          {
            "label": "Python",
            "lang": "Python",
            "source": "# List all customs declarations\nshippo.CustomsDeclaration.all()"
          },
          {
            "label": "Ruby",
            "lang": "Ruby",
            "source": "# List all customs delcarations\nShippo::CustomsDeclaration.all()"
          },
          {
            "label": "Node",
            "lang": "Node",
            "source": "// List all customs declarations\nshippo.customsdeclaration.list();"
          },
          {
            "label": "PHP",
            "lang": "PHP",
            "source": "// List all customs declarations\nShippo_CustomsDeclaration::all();"
          }
        ]
      },
      "post": {
        "description": "Creates a new customs declaration object",
        "operationId": "CreateCustomsDeclaration",
        "parameters": [
          {
            "$ref": "#/components/parameters/ShippoApiVersionHeader"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomsDeclarationCreateRequest"
              }
            }
          },
          "description": "CustomsDeclaration details."
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/customsDeclarationResponse"
          }
        },
        "summary": "Create a new customs declaration",
        "tags": [
          "Customs Declarations"
        ],
        "x-code-samples": [
          {
            "label": "cURL",
            "lang": "cURL",
            "source": "curl https://api.goshippo.com/customs/declarations/ \\\n-H \"Authorization: ShippoToken \" \\\n-H \"Content-Type: application/json\"  \\\n-d '{          \n      \"contents_type\": \"MERCHANDISE\",\n      \"non_delivery_option\": \"RETURN\",\n      \"certify\": true,\n      \"certify_signer\": \"Simon Kreuz\",\n      \"incoterm\": \"DDU\",\n      \"items\": [{\n                \"description\": \"T-shirt\",\n                \"quantity\": 20,\n                \"net_weight\": \"5\",\n                \"mass_unit\": \"lb\",\n                \"value_amount\": \"200\",\n                \"value_currency\": \"USD\",\n                \"tariff_number\": \"\",\n                \"origin_country\": \"US\"\n        }]\n}'"
          },
          {
            "label": "Python",
            "lang": "Python",
            "source": "customs_item = {\n\"description\":\"T-Shirt\",\n\"quantity\":20,\n\"net_weight\":\"1\",\n\"mass_unit\":\"lb\",\n\"value_amount\":\"200\",\n\"value_currency\":\"USD\",\n\"origin_country\":\"US\",\n\"tariff_number\":\"\",\n}\n\ncustoms_declaration = shippo.CustomsDeclaration.create(\n    contents_type=\"MERCHANDISE\",\n    contents_explanation=\"T-Shirt purchase\",\n    non_delivery_option=\"RETURN\",\n    certify=True,\n    certify_signer=\"Simon Kreuz\",\n    items=[customs_item]\n)"
          },
          {
            "label": "Ruby",
            "lang": "Ruby",
            "source": "customs_item = {\n    :description => \"T-Shirt\",\n    :quantity => 20,\n    :net_weight => \"1\",\n    :mass_unit => \"lb\",\n    :value_amount => \"200\",\n    :value_currency => \"USD\",\n    :origin_country => \"US\"\n}\n\ncustoms_declaration = Shippo::CustomsDeclaration.create(\n    :contents_type => \"MERCHANDISE\",\n    :contents_explanation => \"T-Shirt purchase\",\n    :non_delivery_option => \"RETURN\",\n    :certify => true,\n    :certify_signer => \"Simon Kreuz\",\n    :items => [customs_item]\n)"
          },
          {
            "label": "Node",
            "lang": "Node",
            "source": "var customsItem = {\n    \"description\":\"T-Shirt\",\n    \"quantity\":20,\n    \"net_weight\":\"1\",\n    \"mass_unit\":\"lb\",\n    \"value_amount\":\"200\",\n    \"value_currency\":\"USD\",\n    \"origin_country\":\"US\",\n};\n\nshippo.customsdeclaration.create({\n    \"contents_type\": \"MERCHANDISE\",\n    \"contents_explanation\": \"T-Shirt purchase\",\n    \"non_delivery_option\": \"RETURN\",\n    \"certify\": true,\n    \"certify_signer\": \"Simon Kreuz\",\n    \"items\": [customsItem],\n}, function (err, customsDeclaration) {\n    // asynchronously called\n});"
          },
          {
            "label": "PHP",
            "lang": "PHP",
            "source": "$customs_item = array(\n    'description'=> 'T-Shirt',\n    'quantity'=> '20',\n    'net_weight'=> '1',\n    'mass_unit'=> 'lb',\n    'value_amount'=> '200',\n    'value_currency'=> 'USD',\n    'origin_country'=> 'US');\n\n$customs_declaration = Shippo_CustomsDeclaration::create(\narray(\n    'contents_type'=> 'MERCHANDISE',\n    'contents_explanation'=> 'T-Shirt purchase',\n    'non_delivery_option'=> 'RETURN',\n    'certify'=> 'true',\n    'certify_signer'=> 'Simon Kreuz',\n    'items'=> array($customs_item)\n));"
          }
        ]
      }
    },
    "/customs/declarations/{CustomsDeclarationId}": {
      "get": {
        "description": "Returns an existing customs declaration using an object ID",
        "operationId": "GetCustomsDeclaration",
        "parameters": [
          {
            "description": "Object ID of the customs declaration",
            "in": "path",
            "name": "CustomsDeclarationId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/PageNumberQueryParam"
          },
          {
            "$ref": "#/components/parameters/ShippoApiVersionHeader"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/customsDeclarationResponse"
          }
        },
        "summary": "Retrieve a customs declaration",
        "tags": [
          "Customs Declarations"
        ],
        "x-code-samples": [
          {
            "label": "cURL",
            "lang": "cURL",
            "source": "curl https://api.goshippo.com/customs/declarations/e2197a54da9d470480f4f8796cc419cb \\\n-H \"Authorization: ShippoToken shippo_test_3a47d23c032ca626fce863c48d0f93d63a394396\""
          },
          {
            "label": "Python",
            "lang": "Python",
            "source": "# Retrieve an existing customs declaration by object_id\nshippo.CustomsDeclaration.retrieve(\"b741b99f95e841639b54272834bc478c\")"
          },
          {
            "label": "Ruby",
            "lang": "Ruby",
            "source": "# Retrieve an existing customs declaration by object_id\nShippo::CustomsDeclaration.get('b741b99f95e841639b54272834bc478c')"
          },
          {
            "label": "Node",
            "lang": "Node",
            "source": "// Retrieve an existing customs declaration by object_id\nshippo.customsdeclaration.retrieve('e2197a54da9d470480f4f8796cc419cb');"
          },
          {
            "label": "PHP",
            "lang": "PHP",
            "source": "// Retrieve an existing customs declaration by object_id\nShippo_CustomsDeclaration::retrieve('e2197a54da9d470480f4f8796cc419cb');"
          }
        ]
      }
    },
    "/customs/items": {
      "get": {
        "description": "Returns a list all customs items objects.",
        "operationId": "ListCustomsItems",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageNumberQueryParam"
          },
          {
            "$ref": "#/components/parameters/ResultsPerPageQueryParam"
          },
          {
            "$ref": "#/components/parameters/ShippoApiVersionHeader"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/customsItemPaginatedResponse"
          }
        },
        "summary": "List all customs items",
        "tags": [
          "Customs Items"
        ],
        "x-code-samples": [
          {
            "label": "cURL",
            "lang": "cURL",
            "source": "curl  https://api.goshippo.com/customs/items/ \\\n-H \"Authorization: ShippoToken shippo_test_3a47d23c032ca626fce863c48d0f93d63a394396\""
          },
          {
            "label": "Python",
            "lang": "Python",
            "source": "# List all customs items\nshippo.CustomsItem.all()"
          },
          {
            "label": "Ruby",
            "lang": "Ruby",
            "source": "# List all customs items\nShippo::CustomsItem.all()"
          },
          {
            "label": "Node",
            "lang": "Node",
            "source": "// List all customs items\nshippo.customsitem.list();"
          },
          {
            "label": "PHP",
            "lang": "PHP",
            "source": "// List all customs items\nShippo_CustomsItem::all();"
          }
        ]
      },
      "post": {
        "description": "Creates a new customs item object.",
        "operationId": "CreateCustomsItem",
        "parameters": [
          {
            "$ref": "#/components/parameters/ShippoApiVersionHeader"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomsItemCreateRequest"
              }
            }
          },
          "description": "CustomsItem details."
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/customsItemResponse"
          }
        },
        "summary": "Create a new customs item",
        "tags": [
          "Customs Items"
        ],
        "x-code-samples": [
          {
            "label": "cURL",
            "lang": "cURL",
            "source": "curl  https://api.goshippo.com/customs/items/ \\\n-H \"Authorization: ShippoToken shippo_test_3a47d23c032ca626fce863c48d0f93d63a394396\" \\\n-d description=\"T-Shirt\" \\\n-d quantity=2 \\\n-d net_weight=\"400\" \\\n-d mass_unit=\"g\" \\\n-d value_amount=\"20\" \\\n-d value_currency=\"USD\" \\\n-d tariff_number=\"\" \\\n-d origin_country=\"US\" \\\n-d metadata=\"Order ID '123123'\""
          },
          {
            "label": "Python",
            "lang": "Python",
            "source": "# Create customs item\nshippo.CustomsItem.create(\n    description=\"T-Shirt\",\n    quantity=2,\n    net_weight=\"400\",\n    mass_unit=\"g\",\n    value_amount=\"20\",\n    value_currency=\"USD\",\n    tariff_number=\"\",\n    origin_country=\"US\",\n    metadata=\"Order ID #123123\"\n)"
          },
          {
            "label": "Node",
            "lang": "Node",
            "source": "// Create customs item\nshippo.customsitem.create({\n        \"description\": \"T-Shirt\",\n        \"quantity\": 2,\n        \"net_weight\": \"400\",\n        \"mass_unit\": \"g\",\n        \"value_amount\": \"20\",\n        \"value_currency\": \"USD\",\n        \"tariff_number\": \"\",\n        \"origin_country\": \"US\",\n        \"metadata\": \"Order ID #123123\"\n});"
          },
          {
            "label": "PHP",
            "lang": "PHP",
            "source": "// Create customs item\n$customs_item = Shippo_CustomsItem::create(\n  array(\n    \"description\" => 'T-Shirt',\n    \"quantity\" => 2,\n    \"net_weight\" => '400',\n    \"mass_unit\" => 'g',\n    \"value_amount\" => '20',\n    \"value_currency\" => 'USD',\n    \"tariff_number\" => '',\n    \"origin_country\" => 'US',\n    \"metadata\" => 'Order ID #123123'\n  )\n);"
          }
        ]
      }
    },
    "/customs/items/{CustomsItemId}": {
      "get": {
        "description": "Returns an existing customs item using an object ID",
        "operationId": "GetCustomsItem",
        "parameters": [
          {
            "description": "Object ID of the customs item",
            "in": "path",
            "name": "CustomsItemId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/PageNumberQueryParam"
          },
          {
            "$ref": "#/components/parameters/ShippoApiVersionHeader"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/customsItemResponse"
          }
        },
        "summary": "Retrieve a customs item",
        "tags": [
          "Customs Items"
        ],
        "x-code-samples": [
          {
            "label": "cURL",
            "lang": "cURL",
            "source": "curl  https://api.goshippo.com/customs/items/55358464c7b740aca199b395536981bd \\\n-H \"Authorization: ShippoToken shippo_test_3a47d23c032ca626fce863c48d0f93d63a394396\""
          },
          {
            "label": "Python",
            "lang": "Python",
            "source": "# Retrieve an existing customs item by object_id\nshippo.CustomsItem.retrieve(\"55358464c7b740aca199b395536981bd\")"
          },
          {
            "label": "Ruby",
            "lang": "Ruby",
            "source": "# Retrieve an existing customs item by object_id\nShippo::CustomsItem.get('55358464c7b740aca199b395536981bd')"
          },
          {
            "label": "Node",
            "lang": "Node",
            "source": "// Retrieve an existing customs item by object_id\nshippo.customsitem.retrieve('55358464c7b740aca199b395536981bd');"
          },
          {
            "label": "PHP",
            "lang": "PHP",
            "source": "// Retrieve an existing customs item by object_id\nShippo_CustomsItem::retrieve('55358464c7b740aca199b395536981bd');"
          }
        ]
      }
    },
    "/live-rates": {
      "post": {
        "description": "Initiates a live rates request. Include either the object ID for\nan existing address record or a fully formed address object when entering\nan address value. You can also enter the object ID of an existing user parcel\ntemplate or a fully formed user parcel template object as the parcel value.",
        "operationId": "CreateLiveRate",
        "parameters": [
          {
            "$ref": "#/components/parameters/ShippoApiVersionHeader"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LiveRateCreateRequest"
              }
            }
          },
          "description": "Generate rates at checkout"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/liveRatePaginatedResponse"
          }
        },
        "summary": "Generate a live rates request",
        "tags": [
          "Rates at Checkout"
        ],
        "x-codeSamples": [
          {
            "label": "cURL",
            "lang": "cURL",
            "source": "curl https://api.goshippo.com/live-rates \\\n  -H \"Authorization: ShippoToken <API_TOKEN>\" \\\n  -H \"Content-Type: application/json\"\n--data-raw '{\n    \"address_from\": {\n       \"name\": \"S. Hippo\",\n       \"company\": \"Shippo\",\n       \"street1\": \"731 Market St #200\",\n       \"street_no\": \"\",\n       \"street2\": \"\",\n       \"street3\": \"\",\n       \"city\": \"San Francisco\",\n       \"state\": \"CA\",\n       \"zip\": \"94103\",\n       \"country\": \"US\"\n    },\n    \"address_to\": {\n       \"name\": \"Bob Bloat\",\n       \"company\": \"SF Zoo\",\n       \"street1\": \"Sloat Blvd. & Upper Great Hwy.\",\n       \"street_no\": \"\",\n       \"street2\": \"\",\n       \"street3\": \"\",\n       \"city\": \"San Francisco\",\n       \"state\": \"CA\",\n       \"zip\": \"94132\",\n       \"country\": \"US\"\n    },\n    \"line_items\": [\n       {\n          \"quantity\": 1,\n          \"total_price\": \"12.00\",\n          \"currency\": \"USD\",\n          \"weight\": \"1.0\",\n          \"weight_unit\": \"lb\",\n          \"title\": \"Hippo Snax\",\n          \"manufacture_country\": \"US\",\n          \"sku\": \"HM-123\"\n       }\n   ],\n   \"parcel\": {\n      \"length\": \"10\",\n      \"width\": \"15\",\n      \"height\": \"10\",\n      \"distance_unit\": \"in\",\n      \"weight\": \"1\",\n      \"mass_unit\": \"lb\"\n   }\n}'"
          }
        ]
      }
    },
    "/live-rates/settings/parcel-template": {
      "get": {
        "description": "Retrieve and display the currently configured default parcel template for live rates.",
        "operationId": "GetDefaultParcelTemplate",
        "parameters": [
          {
            "$ref": "#/components/parameters/ShippoApiVersionHeader"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/defaultParcelTemplateResponse"
          }
        },
        "summary": "Show current default parcel template",
        "tags": [
          "Rates at Checkout"
        ],
        "x-codeSamples": [
          {
            "label": "cURL",
            "lang": "cURL",
            "source": "curl https://api.goshippo.com/live-rates/settings/parcel-template \\\n  -H \"Authorization: ShippoToken <API_TOKEN>\" \\\n  -H \"Content-Type: application/json\""
          }
        ],
        "x-speakeasy-name-override": "getDefaultParcelTemplate"
      },
      "put": {
        "description": "Update the currently configured default parcel template for live rates. The object_id in the request payload should identify the user parcel template to be the new default.",
        "operationId": "UpdateDefaultParcelTemplate",
        "parameters": [
          {
            "$ref": "#/components/parameters/ShippoApiVersionHeader"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DefaultParcelTemplateUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/defaultParcelTemplateResponse"
          }
        },
        "summary": "Update default parcel template",
        "tags": [
          "Rates at Checkout"
        ],
        "x-codeSamples": [
          {
            "label": "cURL",
            "lang": "cURL",
            "source": "curl -X PUT https://api.goshippo.com/live-rates/settings/parcel-template \\\n-H \"Authorization: ShippoToken shippo_test_3a47d23c032ca626fce863c48d0f93d63a394396\" \\\n-d '\n  {\n    \"object_id\": \"b958d3690bb04bb8b2986724872750f5\"\n  }\n'"
          }
        ],
        "x-speakeasy-name-override": "updateDefaultParcelTemplate"
      },
      "delete": {
        "description": "Clears the currently configured default parcel template for live rates.",
        "operationId": "DeleteDefaultParcelTemplate",
        "parameters": [
          {
            "$ref": "#/components/parameters/ShippoApiVersionHeader"
          }
        ],
        "responses": {
          "204": {
            "description": "The parcel template was successfully deleted."
          }
        },
        "summary": "Clear current default parcel template",
        "tags": [
          "Rates at Checkout"
        ],
        "x-codeSamples": [
          {
            "label": "cURL",
            "lang": "cURL",
            "source": "curl -X DELETE https://api.goshippo.com/live-rates/settings/parcel-template \\\n-H \"Authorization: ShippoToken shippo_test_3a47d23c032ca626fce863c48d0f93d63a394396\" \\"
          }
        ],
        "x-speakeasy-name-override": "deleteDefaultParcelTemplate"
      }
    },
    "/manifests": {
      "get": {
        "description": "Returns a list of all manifest objects.",
        "operationId": "ListManifests",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageNumberQueryParam"
          },
          {
            "$ref": "#/components/parameters/ResultsPerPageDefault5QueryParam"
          },
          {
            "$ref": "#/components/parameters/ShippoApiVersionHeader"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/manifestPaginatedResponse"
          }
        },
        "summary": "List all manifests",
        "tags": [
          "Manifests"
        ],
        "x-code-samples": [
          {
            "label": "cURL",
            "lang": "cURL",
            "source": "curl https://api.goshippo.com/manifests/ \\\n-H \"Authorization: ShippoToken shippo_test_3a47d23c032ca626fce863c48d0f93d63a394396\""
          },
          {
            "label": "Python",
            "lang": "Python",
            "source": "# List all manifests\nshippo.Manifest.all()"
          },
          {
            "label": "Ruby",
            "lang": "Ruby",
            "source": "# List all manifests\nShippo::Manifest.all()"
          },
          {
            "label": "Node",
            "lang": "Node",
            "source": "// List all manifests\nshippo.manifest.list();"
          },
          {
            "label": "PHP",
            "lang": "PHP",
            "source": "// List all manifests\nShippo_Manifest::all();"
          }
        ]
      },
      "post": {
        "description": "Creates a new manifest object.",
        "operationId": "CreateManifest",
        "parameters": [
          {
            "$ref": "#/components/parameters/ShippoApiVersionHeader"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ManifestCreateRequest"
              }
            }
          },
          "description": "Manifest details and contact info."
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/manifestResponse"
          }
        },
        "summary": "Create a new manifest",
        "tags": [
          "Manifests"
        ],
        "x-code-samples": [
          {
            "label": "cURL",
            "lang": "cURL",
            "source": "curl https://api.goshippo.com/manifests/ \\\n-H \"Authorization: ShippoToken shippo_test_3a47d23c032ca626fce863c48d0f93d63a394396\" \\\n-d carrier_account=\"b741b99f95e841639b54272834bc478c\", \\\n-d shipment_date=\"2014-05-16T23:59:59Z\" \\\n-d address_from=\"d799c2679e644279b59fe661ac8fa488\" \\\n-d transactions=[\"64bba01845ef40d29374032599f22588\", \"c169aa586a844cc49da00d0272b590e1\"] \\\n-d async=false"
          },
          {
            "label": "Python",
            "lang": "Python",
            "source": "manifest = shippo.Manifest.create(\n  carrier_account=\"b741b99f95e841639b54272834bc478c\",\n  shipment_date=\"2014-05-16T23:59:59Z\",\n  transactions=[\"64bba01845ef40d29374032599f22588\", \"c169aa586a844cc49da00d0272b590e1\"]\n)"
          },
          {
            "label": "Ruby",
            "lang": "Ruby",
            "source": "manifest = Shippo::Manifest.create(\n  :carrier_account => \"b741b99f95e841639b54272834bc478c\",\n  :shipment_date => \"2014-05-16T23:59:59Z\",\n  :transactions => [\"64bba01845ef40d29374032599f22588\", \"c169aa586a844cc49da00d0272b590e1\"]\n)"
          },
          {
            "label": "Node",
            "lang": "Node",
            "source": "shippo.manifest.create({\n    \"carrier_account\": \"b741b99f95e841639b54272834bc478c\",\n    \"shipment_date\": \"2014-05-16T23:59:59Z\",\n    \"transactions\": [\n        \"64bba01845ef40d29374032599f22588\",\n        \"c169aa586a844cc49da00d0272b590e1\"\n    ]\n}, function(err, manifest) {\n    // asynchronously called\n});"
          },
          {
            "label": "PHP",
            "lang": "PHP",
            "source": "$manifest = Shippo_Manifest::create(\n    array(\n        'carrier_account'=> 'b741b99f95e841639b54272834bc478c',\n        'shipment_date'=> '2014-05-16T23:59:59Z',\n        'transactions'=> array('64bba01845ef40d29374032599f22588', 'c169aa586a844cc49da00d0272b590e1')\n));"
          }
        ]
      }
    },
    "/manifests/{ManifestId}": {
      "get": {
        "description": "Returns an existing manifest using an object ID.",
        "operationId": "GetManifest",
        "parameters": [
          {
            "description": "Object ID of the manifest to update",
            "in": "path",
            "name": "ManifestId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ShippoApiVersionHeader"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/manifestResponse"
          }
        },
        "summary": "Retrieve a manifest",
        "tags": [
          "Manifests"
        ],
        "x-code-samples": [
          {
            "label": "cURL",
            "lang": "cURL",
            "source": "curl https://api.goshippo.com/manifests/0fadebf6f60c4aca95fa01bcc59c79ae \\\n-H \"Authorization: ShippoToken shippo_test_3a47d23c032ca626fce863c48d0f93d63a394396\""
          },
          {
            "label": "Python",
            "lang": "Python",
            "source": "# Retrieve an existing manifest by object_id\nshippo.Manifest.retrieve(\"0fadebf6f60c4aca95fa01bcc59c79ae\")"
          },
          {
            "label": "Ruby",
            "lang": "Ruby",
            "source": "# Retrieve an existing manifest by object_id\nShippo::Manifest.get('0fadebf6f60c4aca95fa01bcc59c79ae')"
          },
          {
            "label": "Node",
            "lang": "Node",
            "source": "// Retrieve an existing manifest by object_id\nshippo.manifest.retrieve('0fadebf6f60c4aca95fa01bcc59c79ae');"
          },
          {
            "label": "PHP",
            "lang": "PHP",
            "source": "// Retrieve an existing manifest by object_id\nShippo_Manifest::retrieve('0fadebf6f60c4aca95fa01bcc59c79ae');"
          }
        ]
      }
    },
    "/orders": {
      "get": {
        "description": "Returns a list of all order objects.",
        "operationId": "ListOrders",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageNumberQueryParam"
          },
          {
            "$ref": "#/components/parameters/ResultsPerPageQueryParam"
          },
          {
            "$ref": "#/components/parameters/ShippoApiVersionHeader"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/orderPaginatedResponse"
          }
        },
        "summary": "List all orders",
        "tags": [
          "Orders"
        ],
        "x-code-samples": [
          {
            "label": "cURL",
            "lang": "cURL",
            "source": "curl https://api.goshippo.com/orders/ \\\n-H \"Authorization: ShippoToken shippo_test_3a47d23c032ca626fce863c48d0f93d63a394396\""
          }
        ]
      },
      "post": {
        "description": "Creates a new order object.",
        "operationId": "CreateOrder",
        "parameters": [
          {
            "$ref": "#/components/parameters/ShippoApiVersionHeader"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderCreateRequest"
              }
            }
          },
          "description": "Order details."
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/orderResponse"
          }
        },
        "summary": "Create a new order",
        "tags": [
          "Orders"
        ],
        "x-code-samples": [
          {
            "label": "cURL",
            "lang": "cURL",
            "source": "curl https://api.goshippo.com/orders/ \\\n-H \"Authorization: ShippoToken shippo_test_3a47d23c032ca626fce863c48d0f93d63a394396\" \\\n-d '{\n        \"to_address\": {\n            \"city\": \"San Francisco\",\n            \"company\": \"Shippo\",\n            \"country\": \"US\",\n            \"email\": \"shippotle@shippo.com\",\n            \"name\": \"Mr Hippo\",\n            \"phone\": \"15553419393\",\n            \"state\": \"CA\",\n            \"street1\": \"215 Clayton St.\",\n            \"zip\": \"94117\"\n        },\n        \"line_items\": [\n            {\n                \"quantity\": 1,\n                \"sku\": \"HM-123\",\n                \"title\": \"Hippo Magazines\",\n                \"total_price\": \"12.10\",\n                \"currency\": \"USD\",\n                \"weight\": \"0.40\",\n                \"weight_unit\": \"lb\"\n            }\n        ],\n        \"placed_at\": \"2016-09-23T01:28:12Z\",\n        \"order_number\": \"#1068\",\n        \"order_status\": \"PAID\",\n        \"shipping_cost\": \"12.83\",\n        \"shipping_cost_currency\": \"USD\",\n        \"shipping_method\": \"USPS First Class Package\",\n        \"subtotal_price\": \"12.10\",\n        \"total_price\": \"24.93\",\n        \"total_tax\": \"0.00\",\n        \"currency\": \"USD\",\n        \"weight\": \"0.40\",\n        \"weight_unit\": \"lb\"\n    }'"
          }
        ]
      }
    },
    "/orders/{OrderId}": {
      "get": {
        "description": "Retrieves an existing order using an object ID.",
        "operationId": "GetOrder",
        "parameters": [
          {
            "description": "Object ID of the order",
            "in": "path",
            "name": "OrderId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ShippoApiVersionHeader"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/orderResponse"
          }
        },
        "summary": "Retrieve an order",
        "tags": [
          "Orders"
        ],
        "x-code-samples": [
          {
            "label": "cURL",
            "lang": "cURL",
            "source": "curl https://api.goshippo.com/orders/4f2bc588e4e5446cb3f9fdb7cd5e190b/ \\\n-H \"Authorization: ShippoToken shippo_test_3a47d23c032ca626fce863c48d0f93d63a394396\""
          }
        ]
      }
    },
    "/parcel-templates": {
      "get": {
        "description": "List all carrier parcel template objects. <br> Use the following query string params to filter the results as needed. <br> <ul> <li>`include=all` (the default). Includes templates from all carriers </li> <li>`include=user`. Includes templates only from carriers which the user has added (whether or not they're currently enabled) </li> <li>`include=enabled`. includes templates only for carriers which the user has added and enabled </li> <li>`carrier=*token*`. filter by specific carrier, e.g. fedex, usps </li> </ul>",
        "operationId": "ListCarrierParcelTemplates",
        "parameters": [
          {
            "name": "include",
            "description": "filter by user or enabled",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "user",
                "enabled"
              ]
            }
          },
          {
            "name": "carrier",
            "description": "filter by specific carrier",
            "example": "fedex",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ShippoApiVersionHeader"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/carrierParcelTemplateListResponse"
          }
        },
[...]
