{
  "openapi": "3.0.2",
  "info": {
    "title": "Humanloop API",
    "description": "The Humanloop API allows you to interact with Humanloop from your product or service.\n\nYou can do this through HTTP requests from any language or via our official Python or TypeScript SDK.\n\nTo install the official [Python SDK](https://pypi.org/project/humanloop/), run the following command:\n\n```bash\npip install humanloop\n```\n\nTo install the official [TypeScript SDK](https://www.npmjs.com/package/humanloop), run the following command:\n\n```bash\nnpm i humanloop\n```\n\n---\n\nGuides and further details about key concepts can be found in [our docs](https://docs.humanloop.com/).",
    "version": "4.0.1"
  },
  "servers": [
    {
      "url": "https://api.humanloop.com/v4",
      "description": "Production server"
    }
  ],
  "paths": {
    "/completion": {
      "post": {
        "tags": [
          "Completions"
        ],
        "summary": "Create",
        "description": "Create a completion by providing details of the model configuration in the request.",
        "operationId": "Completions_create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompletionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompletionResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/completion-deployed": {
      "post": {
        "tags": [
          "Completions"
        ],
        "summary": "Completion Deployed",
        "description": "Create a completion using the project's active deployment.\n\nThe active deployment can be a specific model configuration or an experiment.",
        "operationId": "Completions_createDeployed",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompletionDeployedRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompletionResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/completion-experiment": {
      "post": {
        "tags": [
          "Completions"
        ],
        "summary": "Completion Experiment",
        "description": "Create a completion for a specific experiment.",
        "operationId": "Completions_createExperiment",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompletionExperimentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompletionResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/completion-model-config": {
      "post": {
        "tags": [
          "Completions"
        ],
        "summary": "Completion Model Config",
        "description": "Create a completion for a specific model configuration.",
        "operationId": "Completions_createModelConfig",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompletionModelConfigRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompletionResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/chat": {
      "post": {
        "tags": [
          "Chats"
        ],
        "summary": "Chat",
        "description": "Get a chat response by providing details of the model configuration in the request.",
        "operationId": "Chats_create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/chat-deployed": {
      "post": {
        "tags": [
          "Chats"
        ],
        "summary": "Chat Deployed",
        "description": "Get a chat response using the project's active deployment.\n\nThe active deployment can be a specific model configuration or an experiment.",
        "operationId": "Chats_createDeployed",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatDeployedRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/chat-experiment": {
      "post": {
        "tags": [
          "Chats"
        ],
        "summary": "Chat Experiment",
        "description": "Get a chat response for a specific experiment.",
        "operationId": "Chats_createExperiment",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatExperimentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/chat-model-config": {
      "post": {
        "tags": [
          "Chats"
        ],
        "summary": "Chat Model Config",
        "description": "Get chat response for a specific model configuration.",
        "operationId": "Chats_createModelConfig",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatModelConfigRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/logs": {
      "get": {
        "tags": [
          "Logs"
        ],
        "summary": "Get Logs",
        "description": "Retrieve paginated logs from the server.\n\nSorting and filtering are supported through query params.\nSee docstring of get_sorted_filtered_project_data_from_query_params for more details.",
        "operationId": "Logs_list",
        "parameters": [
          {
            "required": true,
            "schema": {
              "type": "string",
              "title": "Project Id"
            },
            "name": "project_id",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "type": "string",
              "title": "Search"
            },
            "name": "search",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "type": "string",
              "title": "Metadata Search"
            },
            "name": "metadata_search",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "type": "string",
              "format": "date",
              "title": "Start Date"
            },
            "name": "start_date",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "type": "string",
              "format": "date",
              "title": "End Date"
            },
            "name": "end_date",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "type": "integer",
              "title": "Size",
              "default": 50
            },
            "name": "size",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "type": "integer",
              "title": "Page",
              "default": 0
            },
            "name": "page",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedData_LogResponse_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      },
      "post": {
        "tags": [
          "Logs"
        ],
        "summary": "Log",
        "description": "Log a datapoint or array of datapoints to your Humanloop project.",
        "operationId": "Logs_log",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "anyOf": [
                  {
                    "items": {
                      "$ref": "#/components/schemas/LogRequest"
                    },
                    "type": "array"
                  },
                  {
                    "$ref": "#/components/schemas/LogRequest"
                  }
                ],
                "title": "Log Request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "items": {
                        "$ref": "#/components/schemas/CreateLogResponse"
                      },
                      "type": "array"
                    },
                    {
                      "$ref": "#/components/schemas/CreateLogResponse"
                    }
                  ],
                  "title": "Response Logs Log"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Logs"
        ],
        "summary": "Delete Logs",
        "operationId": "Logs_delete",
        "parameters": [
          {
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array",
              "title": "Id"
            },
            "name": "id",
            "in": "query"
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Logs"
        ],
        "summary": "Update By Reference Id",
        "description": "Update a logged datapoint by its reference ID.\n\nThe `reference_id` query parameter must be provided, and refers to the\n`reference_id` of a previously-logged datapoint.",
        "operationId": "Logs_updateByRef",
        "parameters": [
          {
            "description": "A unique string to reference the datapoint. Identifies the logged datapoint created with the same `reference_id`.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Log reference ID",
              "description": "A unique string to reference the datapoint. Identifies the logged datapoint created with the same `reference_id`."
            },
            "name": "reference_id",
            "in": "query"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLogRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LogResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/logs/{id}": {
      "patch": {
        "tags": [
          "Logs"
        ],
        "summary": "Update",
        "description": "Update a logged datapoint in your Humanloop project.",
        "operationId": "Logs_update",
        "parameters": [
          {
            "description": "String ID of logged datapoint to return. Starts with `data_`.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Log ID",
              "description": "String ID of logged datapoint to return. Starts with `data_`."
            },
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLogRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LogResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/feedback": {
      "post": {
        "tags": [
          "Feedback"
        ],
        "summary": "Feedback",
        "description": "Submit an array of feedback for existing `data_ids`",
        "operationId": "Feedback_feedback",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "anyOf": [
                  {
                    "items": {
                      "$ref": "#/components/schemas/FeedbackRequest"
                    },
                    "type": "array"
                  },
                  {
                    "$ref": "#/components/schemas/FeedbackRequest"
                  }
                ],
                "title": "Feedback Request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "items": {
                        "$ref": "#/components/schemas/FeedbackResponse"
                      },
                      "type": "array"
                    },
                    {
                      "$ref": "#/components/schemas/FeedbackResponse"
                    }
                  ],
                  "title": "Response Feedback Feedback"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/projects": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "List",
        "description": "Get a paginated list of projects.",
        "operationId": "Projects_list",
        "parameters": [
          {
            "description": "Page offset for pagination.",
            "required": false,
            "schema": {
              "type": "integer",
              "title": "Page index",
              "description": "Page offset for pagination.",
              "default": 0
            },
            "name": "page",
            "in": "query"
          },
          {
            "description": "Page size for pagination. Number of projects to fetch.",
            "required": false,
            "schema": {
              "type": "integer",
              "title": "Page size",
              "description": "Page size for pagination. Number of projects to fetch.",
              "default": 10
            },
            "name": "size",
            "in": "query"
          },
          {
            "description": "Case-insensitive filter for project name.",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Project name filter",
              "description": "Case-insensitive filter for project name."
            },
            "name": "filter",
            "in": "query"
          },
          {
            "description": "Case-insensitive filter for users in the project. This filter matches against both email address and name of users.",
            "required": false,
            "schema": {
              "type": "string",
              "title": "User filter",
              "description": "Case-insensitive filter for users in the project. This filter matches against both email address and name of users."
            },
            "name": "user_filter",
            "in": "query"
          },
          {
            "description": "Field to sort projects by",
            "required": false,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ProjectSortBy"
                }
              ],
              "title": "Sort by",
              "description": "Field to sort projects by",
              "default": "created_at"
            },
            "name": "sort_by",
            "in": "query"
          },
          {
            "description": "Direction to sort by.",
            "required": false,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/SortOrder"
                }
              ],
              "title": "Sort order",
              "description": "Direction to sort by.",
              "default": "desc"
            },
            "name": "order",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedData_ProjectResponse_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      },
      "post": {
        "tags": [
          "Projects"
        ],
        "summary": "Create",
        "description": "Create a new project.",
        "operationId": "Projects_create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProjectRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/projects/{id}": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "Get",
        "description": "Get a specific project.",
        "operationId": "Projects_get",
        "parameters": [
          {
            "description": "String ID of project. Starts with `pr_`.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Project ID",
              "description": "String ID of project. Starts with `pr_`."
            },
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Projects"
        ],
        "summary": "Delete",
        "description": "Delete a specific project.",
        "operationId": "Projects_delete",
        "parameters": [
          {
            "description": "String ID of project. Starts with `pr_`.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Project ID",
              "description": "String ID of project. Starts with `pr_`."
            },
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Projects"
        ],
        "summary": "Update",
        "description": "Update a specific project.\n\nSet the project's active model config/experiment by passing either\n`active_experiment_id` or `active_model_config_id`.\nThese will be set to the Default environment unless a list of environments\nare also passed in specifically detailing which environments to assign the\nactive config or experiment.\n\nSet the feedback labels to be treated as positive user feedback used in\ncalculating top-level project metrics by passing a list of labels in\n`positive_labels`.",
        "operationId": "Projects_update",
        "parameters": [
          {
            "description": "String ID of project. Starts with `pr_`.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Project ID",
              "description": "String ID of project. Starts with `pr_`."
            },
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProjectRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/projects/{id}/configs": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "List Configs",
        "description": "Get an array of configs associated to your project.",
        "operationId": "Projects_listConfigs",
        "parameters": [
          {
            "description": "String ID of project. Starts with `pr_`.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Project ID",
              "description": "String ID of project. Starts with `pr_`."
            },
            "name": "id",
            "in": "path"
          },
          {
            "required": false,
            "schema": {
              "type": "boolean",
              "title": "Evaluation Aggregates"
            },
            "name": "evaluation_aggregates",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/ProjectConfigResponse"
                  },
                  "type": "array",
                  "title": "Response Projects Listconfigs"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/projects/{id}/active-config": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "Get Active Config",
        "description": "Retrieves a config to use to execute your model.\n\nA config will be selected based on the project's\nactive config/experiment settings.",
        "operationId": "Projects_getActiveConfig",
        "parameters": [
          {
            "description": "String ID of project. Starts with `pr_`.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Project ID",
              "description": "String ID of project. Starts with `pr_`."
            },
            "name": "id",
            "in": "path"
          },
          {
            "description": "Name for the environment. E.g. 'producton'. If not provided, will return the active config for the default environment.",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Environment name",
              "description": "Name for the environment. E.g. 'producton'. If not provided, will return the active config for the default environment."
            },
            "name": "environment",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetModelConfigResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Projects"
        ],
        "summary": "Deactivate Config",
        "description": "Remove the project's active config, if set.\n\nThis has no effect if the project does not have an active model config set.",
        "operationId": "Projects_deactivateConfig",
        "parameters": [
          {
            "description": "String ID of project. Starts with `pr_`.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Project ID",
              "description": "String ID of project. Starts with `pr_`."
            },
            "name": "id",
            "in": "path"
          },
          {
            "description": "Name for the environment. E.g. 'production'. If not provided, will delete the active config for the default environment.",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Environment name",
              "description": "Name for the environment. E.g. 'production'. If not provided, will delete the active config for the default environment."
            },
            "name": "environment",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/projects/{id}/active-experiment": {
      "delete": {
        "tags": [
          "Projects"
        ],
        "summary": "Deactivate Experiment",
        "description": "Remove the project's active experiment, if set.\n\nThis has no effect if the project does not have an active experiment set.",
        "operationId": "Projects_deactivateExperiment",
        "parameters": [
          {
            "description": "String ID of project. Starts with `pr_`.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Project ID",
              "description": "String ID of project. Starts with `pr_`."
            },
            "name": "id",
            "in": "path"
          },
          {
            "description": "Name for the environment. E.g. 'producton'. If not provided, will return the experiment for the default environment.",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Environment name",
              "description": "Name for the environment. E.g. 'producton'. If not provided, will return the experiment for the default environment."
            },
            "name": "environment",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/projects/{id}/feedback-types": {
      "post": {
        "tags": [
          "Projects"
        ],
        "summary": "Create Feedback Type",
        "operationId": "Projects_createFeedbackType",
        "parameters": [
          {
            "description": "String ID of project. Starts with `pr_`.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Project ID",
              "description": "String ID of project. Starts with `pr_`."
            },
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FeedbackTypeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeedbackTypeModel"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Projects"
        ],
        "summary": "Update Feedback Types",
        "description": "Update feedback types.\n\nAllows enabling the available feedback types and setting status of\nfeedback types/categorical values.\n\nThis behaves like an upsert; any feedback categorical values that do not\nalready exist in the project will be created.",
        "operationId": "Projects_updateFeedbackTypes",
        "parameters": [
          {
            "description": "String ID of project. Starts with `pr_`.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Project ID",
              "description": "String ID of project. Starts with `pr_`."
            },
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "items": {
                  "$ref": "#/components/schemas/FeedbackTypeRequest"
                },
                "type": "array",
                "title": "Feedback Types"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeedbackTypes"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/projects/{id}/export": {
      "post": {
        "tags": [
          "Projects"
        ],
        "summary": "Export",
        "description": "Export all logged datapoints associated to your project.\n\nResults are paginated and sorts the datapoints based on `created_at` in\ndescending order.",
        "operationId": "Projects_export",
        "parameters": [
          {
            "description": "String ID of project. Starts with `pr_`.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Project ID",
              "description": "String ID of project. Starts with `pr_`."
            },
            "name": "id",
            "in": "path"
          },
          {
            "description": "Page offset for pagination.",
            "required": false,
            "schema": {
              "type": "integer",
              "title": "Page index",
              "description": "Page offset for pagination.",
              "default": 0
            },
            "name": "page",
            "in": "query"
          },
          {
            "description": "Page size for pagination. Number of logs to export.",
            "required": false,
            "schema": {
              "type": "integer",
              "title": "Page size",
              "description": "Page size for pagination. Number of logs to export.",
              "default": 10
            },
            "name": "size",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedData_LogResponse_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/projects/{id}/deployed-configs": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "List Deployed Configs",
        "description": "Get an array of environments with the deployed configs associated to your project.",
        "operationId": "Projects_listDeployedConfigs",
        "parameters": [
          {
            "description": "String ID of project. Starts with `pr_`.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Project ID",
              "description": "String ID of project. Starts with `pr_`."
            },
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/EnvironmentProjectConfigResponse"
                  },
                  "type": "array",
                  "title": "Response Projects Listdeployedconfigs"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/projects/{project_id}/deploy-config": {
      "patch": {
        "tags": [
          "Projects"
        ],
        "summary": "Deploy Config",
        "description": "Deploy a model config to an environment.\n\nIf the environment already has a model config deployed, it will be replaced.",
        "operationId": "Projects_deployConfig",
        "parameters": [
          {
            "required": true,
            "schema": {
              "type": "string",
              "title": "Project Id"
            },
            "name": "project_id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnvironmentProjectConfigRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/EnvironmentProjectConfigResponse"
                  },
                  "type": "array",
                  "title": "Response Projects Deployconfig"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/projects/{project_id}/deployed-config/{environment_id}": {
      "delete": {
        "tags": [
          "Projects"
        ],
        "summary": "Delete Deployed Config",
        "description": "Remove the model config deployed to environment.\n\nThis has no effect if the project does not have an active model config set.",
        "operationId": "Projects_deleteDeployedConfig",
        "parameters": [
          {
            "required": true,
            "schema": {
              "type": "string",
              "title": "Project Id"
            },
            "name": "project_id",
            "in": "path"
          },
          {
            "required": true,
            "schema": {
              "type": "string",
              "title": "Environment Id"
            },
            "name": "environment_id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/model-configs": {
      "post": {
        "tags": [
          "Model Configs"
        ],
        "summary": "Register",
        "description": "Register a model config to a project and optionally add it to an\nexperiment.\n\nIf the project name provided does not exist, a new project will be created\nautomatically.\n\nIf an experiment name is provided, the specified experiment must already\nexist. Otherwise, an error will be raised.\n\nIf the model config is the first to be associated to the project, it will\nbe set as the active model config.",
        "operationId": "ModelConfigs_register",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectModelConfigRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectConfigResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/model-configs/{id}": {
      "get": {
        "tags": [
          "Model Configs"
        ],
        "summary": "Get",
        "description": "Get a specific model config by ID.",
        "operationId": "ModelConfigs_get",
        "parameters": [
          {
            "description": "String ID of the model config. Starts with `config_`.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Model config ID",
              "description": "String ID of the model config. Starts with `config_`."
            },
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelConfigResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/model-configs/{id}/export": {
      "post": {
        "tags": [
          "Model Configs"
        ],
        "summary": "Export by ID",
        "description": "Export a model config to a .prompt file by ID.",
        "operationId": "ModelConfigs_export",
        "parameters": [
          {
            "description": "String ID of the model config. Starts with `config_`.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Model config ID",
              "description": "String ID of the model config. Starts with `config_`."
            },
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "title": "Response Modelconfigs Export"
                }
              },
              "text/prompt": {
                "schema": {
                  "type": "string"
                },
                "example": "---\nmodel: gpt-4\ntemperature: 0.3\nmax_tokens: -1\nprovider: openai\nendpoint: chat\ntools: []\n---\n\n<system>\n  You are a friendly assistant.\n</system>"
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/model-configs/serialize": {
      "post": {
        "tags": [
          "Model Configs"
        ],
        "summary": "Serialize",
        "description": "Serialize a model config to a .prompt file format.",
        "operationId": "ModelConfigs_serialize",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "anyOf": [
                  {
                    "$ref": "#/components/schemas/ModelConfigChatRequest"
                  },
                  {
                    "$ref": "#/components/schemas/ModelConfigCompletionRequest"
                  }
                ],
                "title": "Config Request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "title": "Response Modelconfigs Serialize"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/model-configs/deserialize": {
      "post": {
        "tags": [
          "Model Configs"
        ],
        "summary": "Deserialize",
        "description": "Deserialize a model config from a .prompt file format.",
        "operationId": "ModelConfigs_deserialize",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Body_ModelConfigs_deserialize"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelConfigResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/projects/{project_id}/experiments": {
      "get": {
        "tags": [
          "Experiments"
        ],
        "summary": "List ",
        "description": "Get an array of experiments associated to your project.",
        "operationId": "Experiments_list",
        "parameters": [
          {
            "description": "String ID of project. Starts with `pr_`.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Project ID",
              "description": "String ID of project. Starts with `pr_`."
            },
            "name": "project_id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/ExperimentResponse"
                  },
                  "type": "array",
                  "title": "Response Experiments List"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      },
      "post": {
        "tags": [
          "Experiments"
        ],
        "summary": "Create",
        "description": "Create an experiment for your project.\n\nYou can optionally specify IDs of your project's model configs to include\nin the experiment, along with a set of labels to consider as positive feedback\nand whether the experiment should be set as active.",
        "operationId": "Experiments_create",
        "parameters": [
          {
            "description": "String ID of project. Starts with `pr_`.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Project ID",
              "description": "String ID of project. Starts with `pr_`."
            },
            "name": "project_id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateExperimentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExperimentResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/experiments/{experiment_id}": {
      "delete": {
        "tags": [
          "Experiments"
        ],
        "summary": "Delete",
        "description": "Delete the experiment with the specified ID.",
        "operationId": "Experiments_delete",
        "parameters": [
          {
            "description": "String ID of experiment. Starts with `exp_`.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Experiment ID",
              "description": "String ID of experiment. Starts with `exp_`."
            },
            "name": "experiment_id",
            "in": "path"
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Experiments"
        ],
        "summary": "Update",
        "description": "Update your experiment, including registering and de-registering\nmodel configs.",
        "operationId": "Experiments_update",
        "parameters": [
          {
            "description": "String ID of experiment. Starts with `exp_`.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Experiment ID",
              "description": "String ID of experiment. Starts with `exp_`."
            },
            "name": "experiment_id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateExperimentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExperimentResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/experiments/{experiment_id}/model-config": {
      "get": {
        "tags": [
          "Experiments"
        ],
        "summary": "Sample",
        "description": "Samples a model config from the experiment's active model configs.",
        "operationId": "Experiments_sample",
        "parameters": [
          {
            "description": "String ID of experiment. Starts with `exp_`.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Experiment ID",
              "description": "String ID of experiment. Starts with `exp_`."
            },
            "name": "experiment_id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetModelConfigResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/sessions": {
      "get": {
        "tags": [
          "Sessions"
        ],
        "summary": "List ",
        "description": "Get a page of sessions.",
        "operationId": "Sessions_list",
        "parameters": [
          {
            "description": "String ID of project to return sessions for. Sessions that contain any datapoints associated to this project will be returned. Starts with `pr_`.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Project ID",
              "description": "String ID of project to return sessions for. Sessions that contain any datapoints associated to this project will be returned. Starts with `pr_`."
            },
            "name": "project_id",
            "in": "query"
          },
          {
            "description": "Page to fetch. Starts from 1.",
            "required": false,
            "schema": {
              "type": "integer",
              "title": "Page number",
              "description": "Page to fetch. Starts from 1.",
              "default": 1
            },
            "name": "page",
            "in": "query"
          },
          {
            "description": "Number of sessions to retrieve.",
            "required": false,
            "schema": {
              "type": "integer",
              "title": "Page size",
              "description": "Number of sessions to retrieve.",
              "default": 10
            },
            "name": "size",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedData_SessionResponse_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      },
      "post": {
        "tags": [
          "Sessions"
        ],
        "summary": "Create",
        "description": "Create a new session.\n\nReturns a session ID that can be used to log datapoints to the session.",
        "operationId": "Sessions_create",
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSessionResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/sessions/{id}": {
      "get": {
        "tags": [
          "Sessions"
        ],
        "summary": "Get",
        "description": "Get a session by ID.",
        "operationId": "Sessions_get",
        "parameters": [
          {
            "description": "String ID of session to return. Starts with `sesh_`.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Session ID",
              "description": "String ID of session to return. Starts with `sesh_`."
            },
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/evaluators": {
      "get": {
        "tags": [
          "Evaluators"
        ],
        "summary": "List",
        "description": "Get all evaluators within your organization.",
        "operationId": "Evaluators_list",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/EvaluatorResponse"
                  },
                  "type": "array",
                  "title": "Response Evaluators List"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      },
      "post": {
        "tags": [
          "Evaluators"
        ],
        "summary": "Create",
        "description": "Create an evaluator within your organization.",
        "operationId": "Evaluators_create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEvaluatorRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvaluatorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/evaluators/{id}": {
      "get": {
        "tags": [
          "Evaluators"
        ],
        "summary": "Get",
        "description": "Get an evaluator within your organization.",
        "operationId": "Evaluators_get",
        "parameters": [
          {
            "required": true,
            "schema": {
              "type": "string",
              "title": "Id"
            },
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvaluatorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Evaluators"
        ],
        "summary": "Delete",
        "description": "Delete an evaluator within your organization.",
        "operationId": "Evaluators_delete",
        "parameters": [
          {
            "required": true,
            "schema": {
              "type": "string",
              "title": "Id"
            },
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Evaluators"
        ],
        "summary": "Update",
        "description": "Update an evaluator within your organization.",
        "operationId": "Evaluators_update",
        "parameters": [
          {
            "required": true,
            "schema": {
              "type": "string",
              "title": "Id"
            },
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateEvaluatorRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvaluatorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/datapoints/{id}": {
      "get": {
        "tags": [
          "Datapoints"
        ],
        "summary": "Get",
        "description": "Get a datapoint by ID.",
        "operationId": "Datapoints_get",
        "parameters": [
          {
            "description": "String ID of datapoint. Starts with `evtc_`.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Datapoint ID",
              "description": "String ID of datapoint. Starts with `evtc_`."
            },
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatapointResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Datapoints"
        ],
        "summary": "Update",
        "description": "Edit the input, messages and criteria fields of a datapoint.\nThe fields passed in the request are the ones edited.\n\nPassing `null` as a value for a field will delete that field. In order to\nsignify not changing a field, it should be omitted from the request body.",
        "operationId": "Datapoints_update",
        "parameters": [
          {
            "description": "String ID of datapoint. Starts with `evtc_`.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Datapoint ID",
              "description": "String ID of datapoint. Starts with `evtc_`."
            },
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDatapointRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatapointResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/datapoints": {
      "delete": {
        "tags": [
          "Datapoints"
        ],
        "summary": "Delete",
        "description": "Delete a list of testsets by their IDs.",
        "operationId": "Datapoints_delete",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "items": {
                  "type": "string"
                },
                "type": "array",
                "title": "Request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/projects/{project_id}/datasets": {
      "get": {
        "tags": [
          "Datasets"
        ],
        "summary": "List For Project",
        "description": "Get all datasets for a project.",
        "operationId": "Datasets_listAllForProject",
        "parameters": [
          {
            "required": true,
            "schema": {
              "type": "string",
              "title": "Project Id"
            },
            "name": "project_id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/DatasetResponse"
                  },
                  "type": "array",
                  "title": "Response Datasets Listallforproject"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      },
      "post": {
        "tags": [
          "Datasets"
        ],
        "summary": "Create",
        "description": "Create a new dataset for a project.",
        "operationId": "Datasets_create",
        "parameters": [
          {
            "required": true,
            "schema": {
              "type": "string",
              "title": "Project Id"
            },
            "name": "project_id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDatasetRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/datasets/{id}": {
      "get": {
        "tags": [
          "Datasets"
        ],
        "summary": "Get",
        "description": "Get a single dataset by ID.",
        "operationId": "Datasets_get",
        "parameters": [
          {
            "description": "String ID of dataset. Starts with `evts_`.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Dataset ID",
              "description": "String ID of dataset. Starts with `evts_`."
            },
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Datasets"
        ],
        "summary": "Delete",
        "description": "Delete a dataset by ID.",
        "operationId": "Datasets_delete",
        "parameters": [
          {
            "description": "String ID of dataset. Starts with `evts_`.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Dataset ID",
              "description": "String ID of dataset. Starts with `evts_`."
            },
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Datasets"
        ],
        "summary": "Update",
        "description": "Update a testset by ID.",
        "operationId": "Datasets_update",
        "parameters": [
          {
            "description": "String ID of testset. Starts with `evts_`.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Dataset ID",
              "description": "String ID of testset. Starts with `evts_`."
            },
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDatasetRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/datasets/{dataset_id}/datapoints": {
      "get": {
        "tags": [
          "Datasets"
        ],
        "summary": "Datapoints",
        "description": "Get datapoints for a dataset.",
        "operationId": "Datasets_listDatapoints",
        "parameters": [
          {
            "description": "String ID of dataset. Starts with `evts_`.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Dataset ID",
              "description": "String ID of dataset. Starts with `evts_`."
            },
            "name": "dataset_id",
            "in": "path"
          },
          {
            "required": false,
            "schema": {
              "type": "integer",
              "title": "Page",
              "default": 0
            },
            "name": "page",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "type": "integer",
              "title": "Size",
              "default": 50
            },
            "name": "size",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedData_DatapointResponse_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      },
      "post": {
        "tags": [
          "Datasets"
        ],
        "summary": "Create Datapoint",
        "description": "Create a new testcase for a testset.",
        "operationId": "Datasets_createDatapoint",
        "parameters": [
          {
            "description": "String ID of dataset. Starts with `evts_`.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Dataset ID",
              "description": "String ID of dataset. Starts with `evts_`."
            },
            "name": "dataset_id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "anyOf": [
                  {
                    "$ref": "#/components/schemas/CreateDatapointsByLogsRequest"
                  },
                  {
                    "$ref": "#/components/schemas/CreateDatapointRequest"
                  },
                  {
                    "items": {
                      "$ref": "#/components/schemas/CreateDatapointRequest"
                    },
                    "type": "array"
                  }
                ],
                "title": "Request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/DatapointResponse"
                  },
                  "type": "array",
                  "title": "Response Datasets Createdatapoint"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/evaluations/{id}": {
      "get": {
        "tags": [
          "Evaluations"
        ],
        "summary": "Get",
        "description": "Get evaluation by ID.",
        "operationId": "Evaluations_get",
        "parameters": [
          {
            "description": "String ID of evaluation run. Starts with `ev_`.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Evaluation ID",
              "description": "String ID of evaluation run. Starts with `ev_`."
            },
            "name": "id",
            "in": "path"
          },
          {
            "description": "Whether to include evaluator aggregates in the response.",
            "required": false,
            "schema": {
              "type": "boolean",
              "title": "Evaluator aggregates",
              "description": "Whether to include evaluator aggregates in the response."
            },
            "name": "evaluator_aggregates",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvaluationResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/evaluations/{id}/datapoints": {
      "get": {
        "tags": [
          "Evaluations"
        ],
        "summary": "List Datapoints",
        "description": "Get testcases by evaluation ID.",
        "operationId": "Evaluations_listDatapoints",
        "parameters": [
          {
            "description": "String ID of evaluation. Starts with `ev_`.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Evaluation ID",
              "description": "String ID of evaluation. Starts with `ev_`."
            },
            "name": "id",
            "in": "path"
          },
          {
            "description": "Page to fetch. Starts from 1.",
            "required": false,
            "schema": {
              "type": "integer",
              "title": "Page number",
              "description": "Page to fetch. Starts from 1.",
              "default": 1
            },
            "name": "page",
            "in": "query"
          },
          {
            "description": "Number of evaluation results to retrieve.",
            "required": false,
            "schema": {
              "type": "integer",
              "title": "Page size",
              "description": "Number of evaluation results to retrieve.",
              "default": 10
            },
            "name": "size",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedData_EvaluationDatapointSnapshotResponse_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/projects/{project_id}/evaluations": {
      "get": {
        "tags": [
          "Evaluations"
        ],
        "summary": "List For Project",
        "description": "Get all the evaluations associated with your project.",
        "operationId": "Evaluations_listAllForProject",
        "parameters": [
          {
            "description": "String ID of project. Starts with `pr_`.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Project ID",
              "description": "String ID of project. Starts with `pr_`."
            },
            "name": "project_id",
            "in": "path"
          },
          {
            "description": "Whether to include evaluator aggregates in the response.",
            "required": false,
            "schema": {
              "type": "boolean",
              "title": "Evaluator aggregates",
              "description": "Whether to include evaluator aggregates in the response."
            },
            "name": "evaluator_aggregates",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/EvaluationResponse"
                  },
                  "type": "array",
                  "title": "Response Evaluations Listallforproject"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      },
      "post": {
        "tags": [
          "Evaluations"
        ],
        "summary": "Create",
        "description": "Create an evaluation.",
        "operationId": "Evaluations_create",
        "parameters": [
          {
            "description": "String ID of project. Starts with `pr_`.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Project ID",
              "description": "String ID of project. Starts with `pr_`."
            },
            "name": "project_id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEvaluationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvaluationResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/evaluations/{evaluation_run_external_id}/result": {
      "post": {
        "tags": [
          "Evaluations"
        ],
        "summary": "Log Result",
        "description": "Log an evaluation result to an evaluation run.\n\nThe run must have status 'running' and the `evaluator_id` of the result must be one of the `evaluator_id`s associated with the run.",
        "operationId": "Evaluations_logResult",
        "parameters": [
          {
            "description": "ID of the evaluation run. Starts with `evrun_`.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Evaluation run ID",
              "description": "ID of the evaluation run. Starts with `evrun_`."
            },
            "name": "evaluation_run_external_id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEvaluationResultLogRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvaluationResultResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/evaluations/{id}/status": {
      "patch": {
        "tags": [
          "Evaluations"
        ],
        "summary": "Update Status",
        "description": "Update the status of an evaluation run.\n\nCan only be used to update the status of an evaluation run that uses external or human evaluators.\nThe evaluation must currently have status 'running' if swithcing to completed, or it must have status\n'completed' if switching back to 'running'.",
        "operationId": "Evaluations_updateStatus",
        "parameters": [
          {
            "description": "String ID of evaluation run. Starts with `ev_`.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Evaluation ID",
              "description": "String ID of evaluation run. Starts with `ev_`."
            },
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateEvaluationStatusRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
[...]
