publishJson:
  company: 2C2P
  serviceName: false
  sdkName: 2c2p-{language}-sdk
  clientName: TwoCTwoP
  metaDescription: >-
    2C2P is a global payments platform helping businesses securely accept
    payments across online, mobile and in-store channels. The company is
    headquartered in Singapore and operates across Southeast Asia, North Asia,
    Europe and the US. It is the preferred payments platform provider of
    regional airlines, travel companies and global retailers.
  apiStatusUrls: inherit
  homepage: 2c2p.com/
  developerDocumentation: developer.2c2p.com/
  categories:
    - finance
    - payments
    - online_payments
    - fintech
rawSpecString: |
  openapi: 3.0.1
  info:
    title: PGW Payment API 4.3
    description: Rest API for PGW payment purpose - LATEST
    version: '4.3'
  servers:
    - url: https://sandbox-pgw.2c2p.com
      description: Sandbox server
  paths:
    /payment/4.3/applepay/merchantvalidation:
      post:
        tags:
          - ApplePay
        summary: ''
        requestBody:
          description: ''
          content:
            application/json-patch+json:
              schema:
                $ref: '#/components/schemas/MerchantValidationApplePay'
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantValidationApplePay'
            text/json:
              schema:
                $ref: '#/components/schemas/MerchantValidationApplePay'
            application/*+json:
              schema:
                $ref: '#/components/schemas/MerchantValidationApplePay'
        responses:
          '200':
            description: Success
            content:
              text/plain:
                schema:
                  $ref: '#/components/schemas/MerchantValidationApplePayResponse'
              application/json:
                schema:
                  $ref: '#/components/schemas/MerchantValidationApplePayResponse'
              text/json:
                schema:
                  $ref: '#/components/schemas/MerchantValidationApplePayResponse'
    /payment/4.3/cache/cleancache:
      post:
        tags:
          - Cache
        summary: ''
        responses:
          '200':
            description: Success
    /payment/4.3/canceltransaction:
      post:
        tags:
          - CancelTransaction
        summary: ''
        requestBody:
          description: ''
          content:
            application/json-patch+json:
              schema:
                $ref: '#/components/schemas/PaymentBaseRequest'
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentBaseRequest'
            text/json:
              schema:
                $ref: '#/components/schemas/PaymentBaseRequest'
            application/*+json:
              schema:
                $ref: '#/components/schemas/PaymentBaseRequest'
        responses:
          '200':
            description: Success
            content:
              text/plain:
                schema:
                  $ref: '#/components/schemas/PaymentNonRedirectResponse'
              application/json:
                schema:
                  $ref: '#/components/schemas/PaymentNonRedirectResponse'
              text/json:
                schema:
                  $ref: '#/components/schemas/PaymentNonRedirectResponse'
    /payment/4.3/cardinstallmentplaninfo:
      post:
        tags:
          - CardInstallmentPlanInfo
        requestBody:
          content:
            application/json-patch+json:
              schema:
                $ref: '#/components/schemas/CardInstallmentPlanInfoRequest'
            application/json:
              schema:
                $ref: '#/components/schemas/CardInstallmentPlanInfoRequest'
            text/json:
              schema:
                $ref: '#/components/schemas/CardInstallmentPlanInfoRequest'
            application/*+json:
              schema:
                $ref: '#/components/schemas/CardInstallmentPlanInfoRequest'
        responses:
          '200':
            description: Success
            content:
              text/plain:
                schema:
                  $ref: '#/components/schemas/PaymentOptionDetailsResponse'
              application/json:
                schema:
                  $ref: '#/components/schemas/PaymentOptionDetailsResponse'
              text/json:
                schema:
                  $ref: '#/components/schemas/PaymentOptionDetailsResponse'
    /payment/4.3/cardtokeninfo:
      post:
        tags:
          - CardTokenInfo
        summary: ''
        requestBody:
          description: ''
          content:
            application/json-patch+json:
              schema:
                $ref: '#/components/schemas/PaymentBaseRequest'
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentBaseRequest'
            text/json:
              schema:
                $ref: '#/components/schemas/PaymentBaseRequest'
            application/*+json:
              schema:
                $ref: '#/components/schemas/PaymentBaseRequest'
        responses:
          '200':
            description: Success
            content:
              text/plain:
                schema:
                  $ref: '#/components/schemas/PaymentCardTokenResponseV43'
              application/json:
                schema:
                  $ref: '#/components/schemas/PaymentCardTokenResponseV43'
              text/json:
                schema:
                  $ref: '#/components/schemas/PaymentCardTokenResponseV43'
    /payment/4.3/exchangerate:
      post:
        tags:
          - ExchangeRate
        summary: ''
        requestBody:
          description: ''
          content:
            application/json-patch+json:
              schema:
                $ref: '#/components/schemas/PaymentExchangeRateConverterRequest'
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentExchangeRateConverterRequest'
            text/json:
              schema:
                $ref: '#/components/schemas/PaymentExchangeRateConverterRequest'
            application/*+json:
              schema:
                $ref: '#/components/schemas/PaymentExchangeRateConverterRequest'
        responses:
          '200':
            description: Success
            content:
              text/plain:
                schema:
                  $ref: '#/components/schemas/PaymentExchangeRateConverterResponse'
              application/json:
                schema:
                  $ref: '#/components/schemas/PaymentExchangeRateConverterResponse'
              text/json:
                schema:
                  $ref: '#/components/schemas/PaymentExchangeRateConverterResponse'
    /payment/4.3/exchangerate/secure:
      post:
        tags:
          - ExchangeRate
        summary: JWT Request Endpoint
        requestBody:
          description: ''
          content:
            application/json-patch+json:
              schema:
                $ref: '#/components/schemas/PayloadRequest'
            application/json:
              schema:
                $ref: '#/components/schemas/PayloadRequest'
            text/json:
              schema:
                $ref: '#/components/schemas/PayloadRequest'
            application/*+json:
              schema:
                $ref: '#/components/schemas/PayloadRequest'
        responses:
          '200':
            description: Success
            content:
              text/plain:
                schema:
                  $ref: '#/components/schemas/PayloadRequest'
              application/json:
                schema:
                  $ref: '#/components/schemas/PayloadRequest'
              text/json:
                schema:
                  $ref: '#/components/schemas/PayloadRequest'
    /payment/4.3/exchangerate/apmmccexchangerate:
      post:
        tags:
          - ExchangeRate
        summary: APM MCC Exchange Rate
        requestBody:
          content:
            application/json-patch+json:
              schema:
                $ref: '#/components/schemas/PaymentBaseRequest'
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentBaseRequest'
            text/json:
              schema:
                $ref: '#/components/schemas/PaymentBaseRequest'
            application/*+json:
              schema:
                $ref: '#/components/schemas/PaymentBaseRequest'
        responses:
          '200':
            description: Success
            content:
              text/plain:
                schema:
                  $ref: '#/components/schemas/PaymentApmMccExchangeRateResponse'
              application/json:
                schema:
                  $ref: '#/components/schemas/PaymentApmMccExchangeRateResponse'
              text/json:
                schema:
                  $ref: '#/components/schemas/PaymentApmMccExchangeRateResponse'
    /payment/4.3/initialization:
      post:
        tags:
          - Initialization
        summary: ''
        responses:
          '200':
            description: Success
            content:
              text/plain:
                schema:
                  $ref: '#/components/schemas/PaymentInitializationResponse'
              application/json:
                schema:
                  $ref: '#/components/schemas/PaymentInitializationResponse'
              text/json:
                schema:
                  $ref: '#/components/schemas/PaymentInitializationResponse'
    /payment/4.3/loyaltypointinfo:
      post:
        tags:
          - LoyaltyPointInfo
        summary: ''
        requestBody:
          description: ''
          content:
            application/json-patch+json:
              schema:
                $ref: '#/components/schemas/PaymentLoyaltyPointInfoRequest'
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentLoyaltyPointInfoRequest'
            text/json:
              schema:
                $ref: '#/components/schemas/PaymentLoyaltyPointInfoRequest'
            application/*+json:
              schema:
                $ref: '#/components/schemas/PaymentLoyaltyPointInfoRequest'
        responses:
          '200':
            description: Success
            content:
              text/plain:
                schema:
                  $ref: '#/components/schemas/PaymentLoyaltyPointInfoResponse'
              application/json:
                schema:
                  $ref: '#/components/schemas/PaymentLoyaltyPointInfoResponse'
              text/json:
                schema:
                  $ref: '#/components/schemas/PaymentLoyaltyPointInfoResponse'
    /payment/4.3/payment:
      post:
        tags:
          - Payment
        summary: ''
        requestBody:
          description: ''
          content:
            application/json-patch+json:
              schema:
                $ref: '#/components/schemas/PaymentRequestV43'
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentRequestV43'
            text/json:
              schema:
                $ref: '#/components/schemas/PaymentRequestV43'
            application/*+json:
              schema:
                $ref: '#/components/schemas/PaymentRequestV43'
        responses:
          '200':
            description: Success
            content:
              text/plain:
                schema:
                  $ref: '#/components/schemas/PaymentResponse'
              application/json:
                schema:
                  $ref: '#/components/schemas/PaymentResponse'
              text/json:
                schema:
                  $ref: '#/components/schemas/PaymentResponse'
    /payment/4.3/paymentinquiry:
      post:
        tags:
          - PaymentInquiry
        summary: ''
        requestBody:
          description: ''
          content:
            application/json-patch+json:
              schema:
                $ref: '#/components/schemas/PayloadRequest'
            application/json:
              schema:
                $ref: '#/components/schemas/PayloadRequest'
            text/json:
              schema:
                $ref: '#/components/schemas/PayloadRequest'
            application/*+json:
              schema:
                $ref: '#/components/schemas/PayloadRequest'
        responses:
          '200':
            description: Success
            content:
              text/plain:
                schema:
                  $ref: '#/components/schemas/PayloadRequest'
              application/json:
                schema:
                  $ref: '#/components/schemas/PayloadRequest'
              text/json:
                schema:
                  $ref: '#/components/schemas/PayloadRequest'
    /payment/4.3/paymentinstruction:
      post:
        tags:
          - PaymentInstruction
        summary: ''
        requestBody:
          description: ''
          content:
            application/json-patch+json:
              schema:
                $ref: '#/components/schemas/PayloadRequest'
            application/json:
              schema:
                $ref: '#/components/schemas/PayloadRequest'
            text/json:
              schema:
                $ref: '#/components/schemas/PayloadRequest'
            application/*+json:
              schema:
                $ref: '#/components/schemas/PayloadRequest'
        responses:
          '200':
            description: Success
            content:
              text/plain:
                schema:
                  $ref: '#/components/schemas/PayloadRequest'
              application/json:
                schema:
                  $ref: '#/components/schemas/PayloadRequest'
              text/json:
                schema:
                  $ref: '#/components/schemas/PayloadRequest'
    /payment/4.3/paymentnotification:
      post:
        tags:
          - PaymentNotification
        summary: ''
        requestBody:
          description: ''
          content:
            application/json-patch+json:
              schema:
                $ref: '#/components/schemas/PaymentNotificationRequest'
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentNotificationRequest'
            text/json:
              schema:
                $ref: '#/components/schemas/PaymentNotificationRequest'
            application/*+json:
              schema:
                $ref: '#/components/schemas/PaymentNotificationRequest'
        responses:
          '200':
            description: Success
            content:
              text/plain:
                schema:
                  $ref: '#/components/schemas/PaymentResponseBase'
              application/json:
                schema:
                  $ref: '#/components/schemas/PaymentResponseBase'
              text/json:
                schema:
                  $ref: '#/components/schemas/PaymentResponseBase'
    /payment/4.3/paymentoption:
      post:
        tags:
          - PaymentOption
        summary: ''
        requestBody:
          description: ''
          content:
            application/json-patch+json:
              schema:
                $ref: '#/components/schemas/PaymentBaseRequest'
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentBaseRequest'
            text/json:
              schema:
                $ref: '#/components/schemas/PaymentBaseRequest'
            application/*+json:
              schema:
                $ref: '#/components/schemas/PaymentBaseRequest'
        responses:
          '200':
            description: Success
            content:
              text/plain:
                schema:
                  $ref: '#/components/schemas/PaymentOptionResponse'
              application/json:
                schema:
                  $ref: '#/components/schemas/PaymentOptionResponse'
              text/json:
                schema:
                  $ref: '#/components/schemas/PaymentOptionResponse'
    /payment/4.3/paymentoptiondetails:
      post:
        tags:
          - PaymentOptionDetails
        summary: ''
        requestBody:
          description: ''
          content:
            application/json-patch+json:
              schema:
                $ref: '#/components/schemas/PaymentOptionDetailsRequest'
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentOptionDetailsRequest'
            text/json:
              schema:
                $ref: '#/components/schemas/PaymentOptionDetailsRequest'
            application/*+json:
              schema:
                $ref: '#/components/schemas/PaymentOptionDetailsRequest'
        responses:
          '200':
            description: Success
            content:
              text/plain:
                schema:
                  $ref: '#/components/schemas/PaymentOptionDetailsResponse'
              application/json:
                schema:
                  $ref: '#/components/schemas/PaymentOptionDetailsResponse'
              text/json:
                schema:
                  $ref: '#/components/schemas/PaymentOptionDetailsResponse'
    /payment/4.3/paymentsimulate:
      post:
        tags:
          - PaymentSimulate
        summary: ''
        requestBody:
          description: ''
          content:
            application/json-patch+json:
              schema:
                $ref: '#/components/schemas/PayloadRequest'
            application/json:
              schema:
                $ref: '#/components/schemas/PayloadRequest'
            text/json:
              schema:
                $ref: '#/components/schemas/PayloadRequest'
            application/*+json:
              schema:
                $ref: '#/components/schemas/PayloadRequest'
        responses:
          '200':
            description: Success
            content:
              text/plain:
                schema:
                  $ref: '#/components/schemas/PayloadRequest'
              application/json:
                schema:
                  $ref: '#/components/schemas/PayloadRequest'
              text/json:
                schema:
                  $ref: '#/components/schemas/PayloadRequest'
    /payment/4.3/paymenttoken:
      post:
        tags:
          - PaymentToken
        summary: ''
        requestBody:
          description: ''
          content:
            application/json-patch+json:
              schema:
                $ref: '#/components/schemas/PayloadRequest'
            application/json:
              schema:
                $ref: '#/components/schemas/PayloadRequest'
            text/json:
              schema:
                $ref: '#/components/schemas/PayloadRequest'
            application/*+json:
              schema:
                $ref: '#/components/schemas/PayloadRequest'
        responses:
          '200':
            description: Success
            content:
              text/plain:
                schema:
                  $ref: '#/components/schemas/PayloadRequest'
              application/json:
                schema:
                  $ref: '#/components/schemas/PayloadRequest'
              text/json:
                schema:
                  $ref: '#/components/schemas/PayloadRequest'
    /payment/4.3/redirectbackend:
      post:
        tags:
          - RedirectBackEnd
        summary: ''
        requestBody:
          content:
            multipart/form-data:
              schema:
                type: object
                properties:
                  paymentResponse:
                    type: string
                  isLeaveApp:
                    type: string
              encoding:
                paymentResponse:
                  style: form
                isLeaveApp:
                  style: form
        responses:
          '200':
            description: Success
    /payment/4.3/redirectfrontend:
      post:
        tags:
          - RedirectFrontEnd
        summary: ''
        requestBody:
          content:
            multipart/form-data:
              schema:
                type: object
                properties:
                  payResponse:
                    type: string
                  isLeaveApp:
                    type: string
              encoding:
                payResponse:
                  style: form
                isLeaveApp:
                  style: form
        responses:
          '200':
            description: Success
    /payment/4.3/transactionstatus:
      post:
        tags:
          - TransactionStatus
        summary: ''
        requestBody:
          description: ''
          content:
            application/json-patch+json:
              schema:
                $ref: '#/components/schemas/TransactionStatusRequest'
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionStatusRequest'
            text/json:
              schema:
                $ref: '#/components/schemas/TransactionStatusRequest'
            application/*+json:
              schema:
                $ref: '#/components/schemas/TransactionStatusRequest'
        responses:
          '200':
            description: Success
            content:
              text/plain:
                schema:
                  $ref: '#/components/schemas/TransactionStatusResponse'
              application/json:
                schema:
                  $ref: '#/components/schemas/TransactionStatusResponse'
              text/json:
                schema:
                  $ref: '#/components/schemas/TransactionStatusResponse'
    /payment/4.3/userpreference:
      post:
        tags:
          - UserPreference
        summary: ''
        requestBody:
          description: ''
          content:
            application/json-patch+json:
              schema:
                $ref: '#/components/schemas/PaymentBaseRequest'
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentBaseRequest'
            text/json:
              schema:
                $ref: '#/components/schemas/PaymentBaseRequest'
            application/*+json:
              schema:
                $ref: '#/components/schemas/PaymentBaseRequest'
        responses:
          '200':
            description: Success
            content:
              text/plain:
                schema:
                  $ref: '#/components/schemas/PaymentUserPreferenceResponse'
              application/json:
                schema:
                  $ref: '#/components/schemas/PaymentUserPreferenceResponse'
              text/json:
                schema:
                  $ref: '#/components/schemas/PaymentUserPreferenceResponse'
  components:
    schemas:
      Address:
        type: object
        properties:
          address1:
            type: string
            nullable: true
          address2:
            type: string
            nullable: true
          address3:
            type: string
            nullable: true
          postalCode:
            type: string
            nullable: true
          city:
            type: string
            nullable: true
          state:
            type: string
            nullable: true
          countryCode:
            type: string
            nullable: true
        additionalProperties: false
      BrowserDetails:
        type: object
        properties:
          deviceType:
            type: string
            nullable: true
          name:
            type: string
            nullable: true
          os:
            type: string
            nullable: true
          version:
            type: string
            nullable: true
        additionalProperties: false
      CardInstallmentPlanInfoRequest:
        required:
          - paymentToken
        type: object
        properties:
          cardNo:
            type: string
            nullable: true
          bankCode:
            type: string
            nullable: true
          paymentToken:
            type: string
          locale:
            type: string
            nullable: true
          clientID:
            type: string
            format: uuid
          browserDetails:
            $ref: '#/components/schemas/BrowserDetails'
        additionalProperties: false
      CreditCardTokenV43:
        type: object
        properties:
          token:
            type: string
            nullable: true
          accountNo:
            type: string
            nullable: true
          name:
            type: string
            nullable: true
          email:
            type: string
            nullable: true
          expiry:
            type: string
            nullable: true
          channelCode:
            type: string
            nullable: true
          subChannelCode:
            type: string
            nullable: true
          cardBrand:
            type: string
            nullable: true
          status:
            type: string
            nullable: true
          iconUrl:
            type: string
            nullable: true
          logoUrl:
            type: string
            nullable: true
        additionalProperties: false
      CurrencyAPMMCCFxRate:
        type: object
        properties:
          expire:
            type: integer
            format: int64
          sequenceNo:
            type: integer
            format: int32
          id:
            type: string
            nullable: true
          fx:
            type: number
            format: double
          currencyCode:
            type: string
            nullable: true
        additionalProperties: false
      CurrencyFxRate:
        type: object
        properties:
          name:
            type: string
            nullable: true
          iconUrl:
            type: string
            nullable: true
          amount:
            type: string
            nullable: true
          sequenceNo:
            type: integer
            format: int32
          id:
            type: string
            nullable: true
          fx:
            type: number
            format: double
          currencyCode:
            type: string
            nullable: true
        additionalProperties: false
      CustomerAddress:
        type: object
        properties:
          billing:
            $ref: '#/components/schemas/Address'
          shipping:
            $ref: '#/components/schemas/Address'
        additionalProperties: false
      IppPlan:
        type: object
        properties:
          sequenceNo:
            type: integer
            format: int32
          period:
            type: integer
            format: int32
          interestType:
            type: string
            nullable: true
          interestRate:
            type: number
            format: double
          monthlyAmount:
            type: number
            format: double
          monthlyInterest:
            type: number
            format: double
          currencyCode:
            type: string
            nullable: true
          label:
            type: string
            nullable: true
          terms:
            type: string
            nullable: true
          payLaterPeriod:
            type: integer
            format: int32
            nullable: true
        additionalProperties: false
      Locale:
        type: object
        properties:
          code:
            type: string
            nullable: true
          name:
            type: string
            nullable: true
          iconUrl:
            type: string
            nullable: true
        additionalProperties: false
      LoyaltyDetails:
        type: object
        properties:
          providerID:
            type: string
            nullable: true
          accountNo:
            type: string
            nullable: true
          accountAuthData:
            type: string
            nullable: true
          queryReferenceSpecified:
            type: boolean
            readOnly: true
          externalMerchantId:
            type: string
            nullable: true
          redeemAmount:
            type: number
            format: double
          rewards:
            type: array
            items:
              $ref: '#/components/schemas/LoyaltyRewards'
            nullable: true
        additionalProperties: false
      LoyaltyRewards:
        type: object
        properties:
          id:
            type: string
            nullable: true
          Quantity:
            type: number
            format: double
        additionalProperties: false
      MerchantConfiguration:
        type: object
        properties:
          payment:
            $ref: '#/components/schemas/MerchantConfigurationPayment'
          notification:
            $ref: '#/components/schemas/MerchantConfigurationNotification'
        additionalProperties: false
      MerchantConfigurationNotification:
        type: object
        properties:
          facebook:
            type: boolean
          whatsApp:
            type: boolean
          line:
            type: boolean
        additionalProperties: false
      MerchantConfigurationPayment:
        type: object
        properties:
          tokenize:
            type: boolean
          tokenizeOnly:
            type: boolean
          cardTokenOnly:
            type: boolean
          immediatePayment:
            type: boolean
          fx:
            $ref: '#/components/schemas/MerchantConfigurationPaymentFx'
        additionalProperties: false
      MerchantConfigurationPaymentFx:
        type: object
        properties:
          mcp:
            $ref: '#/components/schemas/MerchantConfigurationPaymentFxRate'
          dcc:
            $ref: '#/components/schemas/MerchantConfigurationPaymentFxRate'
          apmMcc:
            $ref: '#/components/schemas/MerchantConfigurationPaymentFxRate'
        additionalProperties: false
      MerchantConfigurationPaymentFxRate:
        type: object
        properties:
          active:
            type: boolean
          terms:
            type: string
            nullable: true
        additionalProperties: false
      MerchantDetails:
        type: object
        properties:
          id:
            type: string
            nullable: true
          name:
            type: string
            nullable: true
          address:
            type: string
            nullable: true
          email:
            type: string
            nullable: true
          logoUrl:
            type: string
            nullable: true
          bannerUrl:
            type: string
            nullable: true
        additionalProperties: false
      MerchantValidationApplePay:
        required:
          - paymentToken
        type: object
        properties:
          validationUrl:
            type: string
            nullable: true
          paymentToken:
            type: string
          locale:
            type: string
            nullable: true
          clientID:
            type: string
            format: uuid
          browserDetails:
            $ref: '#/components/schemas/BrowserDetails'
        additionalProperties: false
      MerchantValidationApplePayResponse:
        type: object
        properties:
          epochTimestamp:
            type: integer
            format: int64
          expiresAt:
            type: integer
            format: int64
          merchantSessionIdentifier:
            type: string
            nullable: true
          nonce:
            type: string
            nullable: true
          merchantIdentifier:
            type: string
            nullable: true
          domainName:
            type: string
            nullable: true
          displayName:
            type: string
            nullable: true
          signature:
            type: string
            nullable: true
          operationalAnalyticsIdentifier:
            type: string
            nullable: true
          retries:
            type: integer
            format: int32
          pspId:
            type: string
            nullable: true
          respCode:
            type: string
            nullable: true
          respDesc:
            type: string
            nullable: true
        additionalProperties: false
      PayloadRequest:
        type: object
        properties:
          payload:
            type: string
            nullable: true
        additionalProperties: false
      PaymentApmMccExchangeRateResponse:
        type: object
        properties:
          fxRates:
            type: array
            items:
              $ref: '#/components/schemas/CurrencyAPMMCCFxRate'
            nullable: true
          paymentToken:
            type: string
            nullable: true
          respCode:
            type: string
            nullable: true
          respDesc:
            type: string
            nullable: true
        additionalProperties: false
      PaymentBaseRequest:
        required:
          - paymentToken
        type: object
        properties:
          paymentToken:
            type: string
          locale:
            type: string
            nullable: true
          clientID:
            type: string
            format: uuid
          browserDetails:
            $ref: '#/components/schemas/BrowserDetails'
        additionalProperties: false
      PaymentCardTokenResponseV43:
        type: object
        properties:
          paymentToken:
            type: string
            nullable: true
          customerToken:
            type: array
            items:
              $ref: '#/components/schemas/CreditCardTokenV43'
            nullable: true
          respCode:
            type: string
            nullable: true
          respDesc:
            type: string
            nullable: true
        additionalProperties: false
      PaymentChannelCategory:
        type: object
        properties:
          groups:
            type: array
            items:
              $ref: '#/components/schemas/ResponsePaymentChannel'
            nullable: true
          id:
            type: integer
            format: int32
            nullable: true
          sequenceNo:
            type: integer
            format: int32
          name:
            type: string
            nullable: true
          code:
            type: string
            nullable: true
          iconUrl:
            type: string
            nullable: true
          logoUrl:
            type: string
            nullable: true
          default:
            type: boolean
          channelCode:
            type: string
            nullable: true
          agentChannelCode:
            type: string
            nullable: true
          optionName:
            type: string
            nullable: true
          paymentCode:
            type: string
            nullable: true
          qrType:
            type: string
            nullable: true
          expirationTimer:
            type: string
            nullable: true
          expirationDescription:
            type: string
            nullable: true
          expiration:
            type: boolean
        additionalProperties: false
      PaymentChannelPreference:
        type: object
        properties:
          sequenceNo:
            type: integer
            format: int32
          categoryCode:
            type: string
            nullable: true
          groupCode:
            type: string
            nullable: true
          name:
            type: string
            nullable: true
          channelCode:
            type: string
            nullable: true
          agentCode:
            type: string
            nullable: true
          agentChannelCode:
            type: string
            nullable: true
          iconUrl:
            type: string
            nullable: true
          logoUrl:
            type: string
            nullable: true
        additionalProperties: false
      PaymentExchangeRateConverterRequest:
        required:
          - paymentToken
        type: object
        properties:
          bin:
            type: string
            nullable: true
          paymentToken:
            type: string
          locale:
            type: string
            nullable: true
          clientID:
            type: string
            format: uuid
          browserDetails:
            $ref: '#/components/schemas/BrowserDetails'
        additionalProperties: false
      PaymentExchangeRateConverterResponse:
        type: object
        properties:
          fxRates:
            type: array
            items:
              $ref: '#/components/schemas/CurrencyFxRate'
            nullable: true
          providerCode:
            type: string
            nullable: true
          expire:
            type: integer
            format: int64
            nullable: true
          paymentToken:
            type: string
            nullable: true
          respCode:
            type: string
            nullable: true
          respDesc:
            type: string
            nullable: true
        additionalProperties: false
      PaymentInitialization:
        type: object
        properties:
          locale:
            type: array
            items:
              $ref: '#/components/schemas/Locale'
            nullable: true
        additionalProperties: false
      PaymentInitializationResponse:
        type: object
        properties:
          initialization:
            $ref: '#/components/schemas/PaymentInitialization'
          respCode:
            type: string
            nullable: true
          respDesc:
            type: string
            nullable: true
        additionalProperties: false
      PaymentItem:
        type: object
        properties:
          code:
            type: string
            nullable: true
          name:
            type: string
            nullable: true
          quantity:
            type: integer
            format: int32
          price:
            type: number
            format: double
        additionalProperties: false
      PaymentLoyaltyPointInfoRequest:
        required:
          - paymentToken
        type: object
        properties:
          providerID:
            type: string
            nullable: true
          profileID:
            type: string
            nullable: true
          referenceID:
            type: string
            nullable: true
          cardNo:
            type: string
            nullable: true
          expiryMonth:
            type: string
            nullable: true
          expiryYear:
            type: string
            nullable: true
          paymentToken:
            type: string
          locale:
            type: string
            nullable: true
          clientID:
            type: string
            format: uuid
          browserDetails:
            $ref: '#/components/schemas/BrowserDetails'
        additionalProperties: false
      PaymentLoyaltyPointInfoResponse:
        type: object
        properties:
          paymentToken:
            type: string
            nullable: true
          providerID:
            type: string
            nullable: true
          providerName:
            type: string
            nullable: true
          referenceID:
            type: string
            nullable: true
          providerType:
            type: string
            nullable: true
          terms:
            type: string
            nullable: true
          rewards:
            type: array
            items:
              $ref: '#/components/schemas/PaymentLoyaltyReward'
            nullable: true
          respCode:
            type: string
            nullable: true
          respDesc:
            type: string
            nullable: true
        additionalProperties: false
      PaymentLoyaltyReward:
        type: object
        properties:
          sequenceNo:
            type: integer
            format: int32
          id:
            type: string
            nullable: true
          currencyCode:
            type: string
            nullable: true
          totalPoints:
            type: number
            format: double
          label:
            type: string
            nullable: true
          point:
            type: number
            format: double
          forceToSelectReward:
            type: boolean
          name:
            type: string
            nullable: true
          type:
            type: string
            nullable: true
          amount:
            type: number
            format: double
          quantity:
            type: number
            format: double
          price:
            type: number
            format: double
        additionalProperties: false
      PaymentNonRedirectResponse:
        type: object
        properties:
          invoiceNo:
            type: string
            nullable: true
          channelCode:
            type: string
            nullable: true
          respCode:
            type: string
            nullable: true
          respDesc:
            type: string
            nullable: true
        additionalProperties: false
      PaymentNotificationRequest:
        required:
          - paymentToken
        type: object
        properties:
          plateform:
            type: string
            nullable: true
          recipientID:
            type: string
            nullable: true
          recipientName:
            type: string
            nullable: true
          paymentToken:
            type: string
          locale:
            type: string
            nullable: true
          clientID:
            type: string
            format: uuid
          browserDetails:
            $ref: '#/components/schemas/BrowserDetails'
        additionalProperties: false
      PaymentOptionDetailsChannel:
        type: object
        properties:
          sequenceNo:
            type: integer
            format: int32
          name:
            type: string
            nullable: true
          bankShortName:
            type: string
            nullable: true
          currencyCodes:
            type: array
            items:
              type: string
            nullable: true
          iconUrl:
            type: string
            nullable: true
          logoUrl:
            type: string
            nullable: true
          payment:
            $ref: '#/components/schemas/PaymentOptionDetailsPayment'
          isDown:
            type: boolean
          checkEligibleOption:
            type: boolean
          ippProviderCode:
            type: string
            nullable: true
          registrationStatus:
            type: string
            nullable: true
          partnerMerchantRefID:
            type: string
            nullable: true
        additionalProperties: false
      PaymentOptionDetailsCustomData:
        type: object
        properties:
          sequenceNo:
            type: integer
            format: int32
          type:
            type: string
            nullable: true
          data:
            type: string
            nullable: true
        additionalProperties: false
      PaymentOptionDetailsInfo:
        type: object
        properties:
          terms:
            type: string
            nullable: true
          promoUrl:
            type: string
            nullable: true
          plans:
            type: array
            items:
              $ref: '#/components/schemas/IppPlan'
            nullable: true
          customData:
            type: array
            items:
              $ref: '#/components/schemas/PaymentOptionDetailsCustomData'
            nullable: true
          provider:
            $ref: '#/components/schemas/PaymentOptionDetailsInfoProvider'
          learnMoreUrl:
            type: string
            nullable: true
          termsConsent:
            type: boolean
        additionalProperties: false
      PaymentOptionDetailsInfoProvider:
        type: object
        properties:
          id:
            type: string
            nullable: true
          channels:
            type: array
            items:
              type: string
            nullable: true
          merchantDetails:
            $ref: '#/components/schemas/PodInfoProviderMerchantDetails'
          transactionDetails:
            $ref: '#/components/schemas/PodInfoProviderTransactionDetails'
          terms:
            type: string
            nullable: true
          termsConsent:
            type: boolean
        additionalProperties: false
      PaymentOptionDetailsPayment:
        type: object
        properties:
          code:
            $ref: '#/components/schemas/PaymentOptionDetailsPaymentCode'
          input:
            type: object
            additionalProperties: {}
            nullable: true
          validation:
            type: object
            additionalProperties: {}
            nullable: true
          info:
            $ref: '#/components/schemas/PaymentOptionDetailsInfo'
        additionalProperties: false
      PaymentOptionDetailsPaymentCode:
        type: object
        properties:
          channelCode:
            type: string
            nullable: true
          agentCode:
            type: string
            nullable: true
          agentChannelCode:
            type: string
            nullable: true
        additionalProperties: false
      PaymentOptionDetailsRequest:
        required:
          - categoryCode
          - groupCode
          - paymentToken
        type: object
        properties:
          categoryCode:
            type: string
          groupCode:
            type: string
          paymentToken:
            type: string
          locale:
            type: string
            nullable: true
          clientID:
            type: string
            format: uuid
          browserDetails:
            $ref: '#/components/schemas/BrowserDetails'
        additionalProperties: false
      PaymentOptionDetailsResponse:
        type: object
        properties:
          totalChannel:
            type: integer
            format: int32
          name:
            type: string
            nullable: true
          categoryCode:
            type: string
            nullable: true
          groupCode:
            type: string
            nullable: true
          iconUrl:
            type: string
            nullable: true
          channels:
            type: array
            items:
              $ref: '#/components/schemas/PaymentOptionDetailsChannel'
            nullable: true
          validation:
            $ref: '#/components/schemas/PaymentOptionDetailsValidation'
          configuration:
            $ref: '#/components/schemas/MerchantConfiguration'
          respCode:
            type: string
            nullable: true
          respDesc:
            type: string
            nullable: true
        additionalProperties: false
      PaymentOptionDetailsValidation:
        type: object
        properties:
          cardNo:
            $ref: '#/components/schemas/PaymentOptionDetailsValidationCard'
          cardTypes:
            type: array
            items:
              $ref: '#/components/schemas/PaymentOptionDetailsValidationCardType'
            nullable: true
        additionalProperties: false
      PaymentOptionDetailsValidationCard:
        type: object
        properties:
          prefixes:
            type: array
            items:
              type: string
            nullable: true
          regex:
            type: string
            nullable: true
        additionalProperties: false
      PaymentOptionDetailsValidationCardType:
        type: object
        properties:
          sequenceNo:
            type: integer
            format: int32
          name:
            type: string
            nullable: true
          prefixes:
            type: array
            items:
              type: string
            nullable: true
          regex:
            type: string
            nullable: true
          iconUrl:
            type: string
            nullable: true
        additionalProperties: false
      PaymentOptionResponse:
        type: object
        properties:
          paymentToken:
            type: string
            nullable: true
          merchantDetails:
            $ref: '#/components/schemas/MerchantDetails'
          transactionDetails:
            $ref: '#/components/schemas/TransactionDetails'
          channelCategories:
            type: array
            items:
              $ref: '#/components/schemas/PaymentChannelCategory'
            nullable: true
          userDetails:
            $ref: '#/components/schemas/UserDetails'
          respCode:
            type: string
            nullable: true
          respDesc:
            type: string
            nullable: true
        additionalProperties: false
      PaymentParamsDataRequestV43:
        type: object
        properties:
          accountTokenization:
            type: boolean
          customerToken:
            type: string
            nullable: true
          name:
            type: string
            nullable: true
          email:
            type: string
            nullable: true
          mobileNo:
            type: string
            nullable: true
          accountNo:
            type: string
            nullable: true
          securePayToken:
            type: string
            nullable: true
          cardBank:
            type: string
            nullable: true
          cardCountry:
            type: string
            nullable: true
          installmentPeriod:
            type: integer
            format: int32
          payLaterPeriod:
            type: integer
            format: int32
            nullable: true
          interestType:
            type: string
            nullable: true
          securityCode:
            type: string
            nullable: true
          qrType:
            type: string
            nullable: true
          fxRateID:
            type: string
            nullable: true
          billingAddress1:
            type: string
            nullable: true
          billingAddress2:
            type: string
            nullable: true
          billingAddress3:
            type: string
            nullable: true
          billingCity:
            type: string
            nullable: true
          billingState:
            type: string
            nullable: true
          billingPostalCode:
            type: string
            nullable: true
          billingCountryCode:
            type: string
            nullable: true
          paymentExpiry:
            type: string
            nullable: true
          cardNo:
            type: string
            nullable: true
          expiryMonth:
            type: string
            nullable: true
          expiryYear:
            type: string
            nullable: true
          pin:
            type: string
            nullable: true
          loyaltyPoints:
            type: array
            items:
              $ref: '#/components/schemas/LoyaltyDetails'
            nullable: true
          customerNote:
            type: string
            nullable: true
          userAgent:
            type: string
            nullable: true
        additionalProperties: false
      PaymentParamsRequestV43:
        type: object
        properties:
          data:
            $ref: '#/components/schemas/PaymentParamsDataRequestV43'
          code:
            $ref: '#/components/schemas/PaymentOptionDetailsPaymentCode'
        additionalProperties: false
      PaymentRequestV43:
        required:
          - paymentToken
        type: object
        properties:
          payment:
            $ref: '#/components/schemas/PaymentParamsRequestV43'
          responseReturnUrl:
            type: string
            nullable: true
          clientIP:
            type: string
            nullable: true
          paymentToken:
            type: string
          locale:
            type: string
            nullable: true
          clientID:
            type: string
            format: uuid
          browserDetails:
            $ref: '#/components/schemas/BrowserDetails'
        additionalProperties: false
      PaymentResponse:
        type: object
        properties:
          channelCode:
            type: string
            nullable: true
          respCode:
            type: string
            nullable: true
          respDesc:
            type: string
            nullable: true
        additionalProperties: false
      PaymentResponseBase:
        type: object
        properties:
          respCode:
            type: string
            nullable: true
          respDesc:
            type: string
            nullable: true
        additionalProperties: false
      PaymentUserPreference:
        type: object
        properties:
          preference:
            $ref: '#/components/schemas/UserPreference'
          paymentChannels:
            type: array
            items:
              $ref: '#/components/schemas/PaymentChannelPreference'
            nullable: true
        additionalProperties: false
      PaymentUserPreferenceResponse:
        type: object
        properties:
          paymentToken:
            type: string
            nullable: true
          user:
            $ref: '#/components/schemas/PaymentUserPreference'
          respCode:
            type: string
            nullable: true
          respDesc:
            type: string
            nullable: true
        additionalProperties: false
      PodInfoProviderMerchantDetails:
        type: object
        properties:
          id:
            type: string
            nullable: true
          name:
            type: string
            nullable: true
          countryCode:
            type: string
            nullable: true
        additionalProperties: false
      PodInfoProviderTransactionDetails:
        type: object
        properties:
          amount:
            type: number
            format: double
          currencyCode:
            type: string
            nullable: true
          invoiceNo:
            type: string
            nullable: true
          description:
            type: string
            nullable: true
        additionalProperties: false
      Recurring:
        type: object
        properties:
          amount:
            type: string
            nullable: true
          interval:
            type: integer
            format: int32
          count:
            type: integer
            format: int32
          chargeNextDate:
            type: string
            nullable: true
          chargeOnDate:
            type: string
            nullable: true
        additionalProperties: false
      ResponsePaymentChannel:
        type: object
        properties:
          id:
            type: integer
            format: int32
            nullable: true
          sequenceNo:
            type: integer
            format: int32
          name:
            type: string
            nullable: true
          code:
            type: string
            nullable: true
          iconUrl:
            type: string
            nullable: true
          logoUrl:
            type: string
            nullable: true
          default:
            type: boolean
          channelCode:
            type: string
            nullable: true
          agentChannelCode:
            type: string
            nullable: true
          optionName:
            type: string
            nullable: true
          paymentCode:
            type: string
            nullable: true
          qrType:
            type: string
            nullable: true
          expirationTimer:
            type: string
            nullable: true
          expirationDescription:
            type: string
            nullable: true
          expiration:
            type: boolean
        additionalProperties: false
      TransactionDetails:
        type: object
        properties:
          amount:
            type: string
            nullable: true
          currencyCode:
            type: string
            nullable: true
          invoiceNo:
            type: string
            nullable: true
          description:
            type: string
            nullable: true
          recurring:
            $ref: '#/components/schemas/Recurring'
          dateTime:
            type: string
            nullable: true
          paymentItems:
            type: array
            items:
              $ref: '#/components/schemas/PaymentItem'
            nullable: true
          showFxRate:
            type: boolean
        additionalProperties: false
      TransactionStatusAdditionalInfo:
        type: object
        properties:
          merchantDetails:
            $ref: '#/components/schemas/TransactionStatusMerchant'
          transactionDetails:
            $ref: '#/components/schemas/TransactionStatusInfo'
          paymentResultDetails:
            $ref: '#/components/schemas/TransactionStatusPayment'
        additionalProperties: false
      TransactionStatusInfo:
        type: object
        properties:
          dateTime:
            type: string
            nullable: true
          agentCode:
            type: string
            nullable: true
          channelCode:
            type: string
            nullable: true
          data:
            type: string
            nullable: true
          amount:
            type: string
            nullable: true
          currencyCode:
            type: string
            nullable: true
          description:
            type: string
            nullable: true
          invoiceNo:
            type: string
            nullable: true
          installmentPeriod:
            type: integer
            format: int32
            nullable: true
          payLaterPeriod:
            type: integer
            format: int32
            nullable: true
          interestType:
            type: string
            nullable: true
          interestRate:
            type: number
            format: double
            nullable: true
          monthlyPayment:
            type: string
            nullable: true
          ippAdditionalInfo:
            type: string
            nullable: true
          remainderChargeMode:
            type: string
            nullable: true
          remainderChargeAmount:
            type: number
            format: double
            nullable: true
          loyaltyPoints:
            type: array
            items:
              $ref: '#/components/schemas/TransactionStatusLoyaltyInfo'
            nullable: true
        additionalProperties: false
      TransactionStatusLoyaltyInfo:
        type: object
        properties:
          paymentScheme:
            type: string
            nullable: true
          redeemAmount:
            type: number
            format: double
          rewards:
            type: array
            items:
              $ref: '#/components/schemas/TransactionStatusRewards'
            nullable: true
        additionalProperties: false
      TransactionStatusMerchant:
        type: object
        properties:
          name:
            type: string
            nullable: true
          address:
            type: string
            nullable: true
          email:
            type: string
            nullable: true
          logoUrl:
            type: string
            nullable: true
        additionalProperties: false
      TransactionStatusPayment:
        type: object
        properties:
          code:
            type: string
            nullable: true
          description:
            type: string
            nullable: true
          autoRedirect:
            type: boolean
          redirectImmediately:
            type: boolean
          autoRedirectionTimer:
            type: integer
            format: int32
          frontendReturnUrl:
            type: string
            nullable: true
          frontendReturnData:
            type: string
            nullable: true
        additionalProperties: false
      TransactionStatusRequest:
        required:
          - paymentToken
        type: object
        properties:
          additionalInfo:
            type: boolean
          paymentToken:
            type: string
          locale:
            type: string
            nullable: true
          clientID:
            type: string
            format: uuid
          browserDetails:
            $ref: '#/components/schemas/BrowserDetails'
        additionalProperties: false
      TransactionStatusResponse:
        type: object
        properties:
          locale:
            type: string
            nullable: true
          additionalInfo:
            $ref: '#/components/schemas/TransactionStatusAdditionalInfo'
          invoiceNo:
            type: string
            nullable: true
          channelCode:
            type: string
            nullable: true
          respCode:
            type: string
            nullable: true
          respDesc:
            type: string
            nullable: true
        additionalProperties: false
      TransactionStatusRewards:
        type: object
        properties:
          totalPrice:
            type: number
            format: double
          totalAmount:
            type: number
            format: double
          name:
            type: string
            nullable: true
          type:
            type: string
            nullable: true
          amount:
            type: number
            format: double
          quantity:
            type: number
            format: double
          price:
            type: number
            format: double
        additionalProperties: false
      UserDetails:
        type: object
        properties:
          address:
            $ref: '#/components/schemas/CustomerAddress'
        additionalProperties: false
      UserPreference:
        type: object
        properties:
          name:
            type: string
            nullable: true
          email:
            type: string
            nullable: true
          mobileNo:
            type: string
            nullable: true
          mobileNoPrefix:
            type: string
            nullable: true
          locale:
            type: string
            nullable: true
          currencyCode:
            type: string
            nullable: true
          countryCode:
            type: string
            nullable: true
        additionalProperties: false
  x-readme:
    explorer-enabled: true
    proxy-enabled: true
  _id: 64019360753e9d0068bfdaf1
konfigCliVersion: 1.38.61
