publishJson:
  company: 7shifts
  serviceName: false
  sdkName: 7-shifts-{language}-sdk
  clientName: Client7Shifts
  metaDescription: >-
    7shifts is a team management software designed for restaurants. We help
    managers and operators spend less time and effort scheduling their staff,
    reduce their monthly labor costs and improve team communication. The result
    is simplified team management, one shift at a time.


    7shifts also offers free mobile apps (iOS and Android) allowing managers and
    employees to have everything at their fingertips.


    Start your free trial or request a demo at www.7shifts.com.
  apiStatusUrls: inherit
  homepage: 7shifts.com
  developerDocumentation: developers.7shifts.com/reference/introduction
  categories:
    - team_management
    - restaurant
    - scheduling
    - labor_costs
    - team_communication
    - workforce_insights
    - hr_metrics
    - hr_analytics
    - hr_reporting
    - workforce_planning
    - human_capital_management
    - workforce_solutions
    - food_beverages
    - restaurants
    - staff_scheduling
    - restaurant_scheduling
    - restaurant_communication
    - scheduling_software
    - labor_tools
    - staff_management
rawSpecString: |
  openapi: 3.0.2
  info:
    title: 7shifts API
    contact:
      email: api-support@7shifts.com
    version: '2023-05-01'
  servers:
    - url: https://api.7shifts.com
      description: Production server
  paths:
    /oauth2/token:
      post:
        tags:
          - Authentication
        summary: Create OAuth Token
        operationId: oauthToken
        x-public-api: true
        security: []
        servers:
          - url: https://app.7shifts.com
            description: Override base path token generation
        requestBody:
          required: true
          content:
            application/x-www-form-urlencoded:
              schema:
                type: object
                properties:
                  grant_type:
                    description: >-
                      Token grant type. For Partner OAuth tokens specifying
                      client_credentials
                    type: string
                    enum:
                      - client_credentials
                      - password
                      - authorization_code
                      - refresh_token
                  client_id:
                    type: string
                  client_secret:
                    type: string
                  scope:
                    type: string
                    description: A space-delimited list of scopes.
                required:
                  - grant_type
                  - client_id
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    token_type:
                      type: string
                      enum:
                        - Bearer
                    expires_in:
                      type: integer
                      description: Number of seconds until token expires.
                    access_token:
                      type: string
                      description: Your authorization token
                    refresh_token:
                      type: string
                      description: Refresh token used to refresh access token, if available
                  required:
                    - token_type
                    - expires_in
                    - access_token
          '500':
            description: Unexpected error
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    error:
                      type: string
                      enum:
                        - invalid_request
                        - invalid_client
                        - invalid_scope
                        - invalid_credentials
                        - invalid_grant
                        - unsupported_grant_type
                        - access_denied
                        - server_error
                    error_description:
                      type: string
                    hint:
                      type: string
                    message:
                      type: string
    /v2/whoami:
      get:
        tags:
          - Authentication
        summary: Retrieve Identity
        operationId: whoAmI
        x-public-api: true
        parameters:
          - name: x-api-version
            in: header
            description: 7shifts API version
            required: false
            schema:
              type: string
              pattern: ^\d{4}-\d{2}-\d{2}$
              description: An API version
              example: '2022-05-01'
          - name: x-company-guid
            in: header
            description: Company GUID
            required: false
            schema:
              type: string
              format: uuid
            example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    object:
                      type: string
                      enum:
                        - whoami
                    data:
                      type: object
                      properties:
                        identity_id:
                          description: The identity ID for your authenticated user
                          type: integer
                        users:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: integer
                                description: User ID
                              identity_id:
                                type: integer
                                description: Internal use
                                nullable: true
                              company_id:
                                type: integer
                                description: Company ID
                              first_name:
                                type: string
                                description: First Name
                                maxLength: 80
                              last_name:
                                type: string
                                description: Last Name
                                maxLength: 80
                              preferred_first_name:
                                type: string
                                description: Preferred first name
                                maxLength: 150
                                nullable: true
                              preferred_last_name:
                                type: string
                                maxLength: 150
                                description: Preferred last name
                                nullable: true
                              pronouns:
                                type: string
                                description: Pronouns
                                maxLength: 80
                                nullable: true
                              email:
                                type: string
                                maxLength: 155
                                description: Email Address
                              mobile_number:
                                type: string
                                description: Mobile Number
                                nullable: true
                              home_number:
                                type: string
                                description: Home Number
                                nullable: true
                              birth_date:
                                type: string
                                format: date
                                description: Birthdate. Format YYYY-MM-DD
                                nullable: true
                              address:
                                type: string
                                nullable: true
                                description: Address
                                maxLength: 100
                              postal_zip:
                                type: string
                                description: Zip or postal code
                                maxLength: 20
                                nullable: true
                              city:
                                type: string
                                description: City
                                maxLength: 50
                                nullable: true
                              prov_state:
                                type: string
                                description: State or province
                                maxLength: 25
                                nullable: true
                              invite_status:
                                type: string
                                description: Invitation status to join 7shifts
                                enum:
                                  - accepted
                                  - pending
                                  - required
                                  - missing_contact_info
                              active:
                                type: boolean
                                description: >-
                                  If true user is active in allowed to login. If
                                  false the user has been deactivated/deleted
                              photo:
                                type: string
                                description: Photo url
                                nullable: true
                              notes:
                                type: string
                                description: User notes
                                nullable: true
                              hire_date:
                                type: string
                                format: date
                                description: Date hired. YYYY-MM-DD format
                                nullable: true
                              timezone:
                                type: string
                                description: Timezone.  Valid zone info name
                                example: America/Chicago
                                nullable: true
                              type:
                                type: string
                                description: User type
                                enum:
                                  - employee
                                  - asst_manager
                                  - manager
                                  - employer
                              employee_id:
                                type: string
                                description: Employee ID
                                maxLength: 190
                                nullable: true
                              max_weekly_hours:
                                type: string
                                description: Maximum weekly hours user is set to work
                              punch_id:
                                type: string
                                description: >-
                                  Value used during clock in/out in 7shifts
                                  applications
                                maxLength: 40
                                nullable: true
                              created:
                                type: string
                              modified:
                                type: string
                              invited:
                                type: string
                                description: >-
                                  The date that the user has been sent an
                                  invitation to join 7shifts, null if not invited.
                                nullable: true
                              invite_accepted:
                                type: string
                                description: >-
                                  The date that the user accepted their 7shifts
                                  invitation, null if not accepted.
                                nullable: true
                              is_new:
                                type: boolean
                                description: If true user is new
                              appear_as_employee:
                                type: boolean
                                description: >-
                                  If true user can be assigned shifts. This
                                  applies to managers, asst_manager and employers.
                              subscribe_to_updates:
                                type: boolean
                                description: >-
                                  If true this user is subscribed to updates from
                                  7shifts. This includes announcing new features
                                  for 7shifts
                              language:
                                type: string
                                description: Specified language. In ISO 639-1 format
                                example: en
                              push:
                                type: boolean
                                description: >-
                                  Are mobile push notifications enabled for the
                                  user
                              skill_level:
                                type: integer
                                description: Current assigned skill level
                                example: 2
                                nullable: true
                              hourly_wage:
                                type: integer
                                description: Users current hourly wage in cents
                                nullable: true
                              wage_type:
                                type: string
                                description: The type of wage the user will receive
                                example: salary
                                nullable: true
                              sms_me_schedules:
                                type: boolean
                                description: >-
                                  If the user should receive sms notifications for
                                  shifts
                                nullable: true
                              notify_ot_risk:
                                type: boolean
                                description: >-
                                  Should notifications be sent if the user is at
                                  risk of overtime hours
                                nullable: true
                              permissions_template_id:
                                nullable: true
                                type: integer
                                description: >-
                                  The ID of the permission template currently
                                  assigned to the user.
                              meta:
                                nullable: true
                                type: object
                                properties:
                                  readonly_fields:
                                    nullable: false
                                    type: array
                                    items:
                                      type: string
                            required:
                              - id
                              - company_id
                              - first_name
                              - photo
                              - active
                              - last_name
                              - email
                              - mobile_number
                              - home_number
                              - birth_date
                              - address
                              - postal_zip
                              - city
                              - prov_state
                              - invite_status
                              - last_login
                              - notes
                              - hire_date
                              - timezone
                              - type
                              - punch_id
                              - employee_id
                              - max_weekly_hours
                              - invited
                              - invite_accepted
                              - is_new
                      required:
                        - identity_id
                        - users
                  required:
                    - object
                    - data
          '401':
            description: Unauthorized
            content:
              application/problem+json:
                schema:
                  type: object
                  properties:
                    type:
                      type: string
                      description: >-
                        The primary identifier for the problem type (URI
                        reference).
                    title:
                      type: string
                      description: >-
                        A short, human-readable summary of the problem type. It
                        SHOULD NOT change from occurrence to occurrence of the
                        problem, except for purposes of localization.
                    status:
                      type: integer
                      description: The HTTP status code.
                    detail:
                      type: string
                      description: >-
                        A human-readable explanation specific to this occurrence
                        of the problem.
                    code:
                      type: integer
                      description: >-
                        The error code can be used to look up the reason why the
                        request failed.
                    param:
                      type: string
                      description: The request parameter that this error is related to.
                  required:
                    - type
                    - title
                    - status
                    - detail
          '500':
            description: Server Error
            content:
              application/problem+json:
                schema:
                  type: object
                  properties:
                    type:
                      type: string
                      description: >-
                        The primary identifier for the problem type (URI
                        reference).
                    title:
                      type: string
                      description: >-
                        A short, human-readable summary of the problem type. It
                        SHOULD NOT change from occurrence to occurrence of the
                        problem, except for purposes of localization.
                    status:
                      type: integer
                      description: The HTTP status code.
                    detail:
                      type: string
                      description: >-
                        A human-readable explanation specific to this occurrence
                        of the problem.
                    code:
                      type: integer
                      description: >-
                        The error code can be used to look up the reason why the
                        request failed.
                    param:
                      type: string
                      description: The request parameter that this error is related to.
                  required:
                    - type
                    - title
                    - status
                    - detail
    /v2/partner_company_creation:
      post:
        tags:
          - Account
        summary: Create Trial Account
        operationId: partnerCompanyCreation
        x-public-api: true
        parameters:
          - name: x-api-version
            in: header
            description: 7shifts API version
            required: false
            schema:
              type: string
              pattern: ^\d{4}-\d{2}-\d{2}$
              description: An API version
              example: '2022-05-01'
          - name: x-company-guid
            in: header
            description: Company GUID
            required: false
            schema:
              type: string
              format: uuid
            example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
        requestBody:
          required: true
          content:
            application/json:
              schema:
                type: object
                properties:
                  email:
                    description: The user's email
                    type: string
                    maxLength: 155
                  firstname:
                    description: The user's first name
                    type: string
                    maxLength: 80
                  lastname:
                    description: The user's last name
                    type: string
                    maxLength: 80
                  company_name:
                    description: The company's name
                    type: string
                    maxLength: 155
                  country:
                    description: The company's country
                    type: string
                    enum:
                      - CA
                      - US
                  mobile_phone:
                    description: The user's mobile phone
                    type: string
                    maxLength: 40
                    nullable: false
                  utm_campaign:
                    description: The UTM campaign
                    type: string
                    maxLength: 100
                    nullable: false
                  utm_content:
                    description: The UTM content
                    type: string
                    maxLength: 100
                    nullable: false
                  utm_medium:
                    description: The UTM medium
                    type: string
                    maxLength: 100
                    nullable: false
                  utm_source:
                    description: The UTM source
                    type: string
                    maxLength: 100
                  utm_term:
                    description: The UTM term
                    type: string
                    maxLength: 100
                    nullable: false
                required:
                  - email
                  - firstname
                  - lastname
                  - company_name
                  - country
                  - utm_source
        responses:
          '201':
            description: Created
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    object:
                      type: string
                      enum:
                        - partner_company
                    data:
                      type: object
                      properties:
                        company_id:
                          description: Company ID
                          type: integer
                          nullable: false
                        location_id:
                          description: Location ID
                          type: integer
                          nullable: false
                        user_id:
                          description: User ID
                          type: integer
                          nullable: false
                      required:
                        - company_id
                        - location_id
                        - user_id
                  required:
                    - object
                    - data
          '400':
            description: Bad Request
            content:
              application/problem+json:
                schema:
                  type: object
                  properties:
                    type:
                      type: string
                      description: >-
                        The primary identifier for the problem type (URI
                        reference).
                    title:
                      type: string
                      description: >-
                        A short, human-readable summary of the problem type. It
                        SHOULD NOT change from occurrence to occurrence of the
                        problem, except for purposes of localization.
                    status:
                      type: integer
                      description: The HTTP status code.
                    detail:
                      type: string
                      description: >-
                        A human-readable explanation specific to this occurrence
                        of the problem.
                    code:
                      type: integer
                      description: >-
                        The error code can be used to look up the reason why the
                        request failed.
                    param:
                      type: string
                      description: The request parameter that this error is related to.
                  required:
                    - type
                    - title
                    - status
                    - detail
          '401':
            description: Unauthorized
            content:
              application/problem+json:
                schema:
                  type: object
                  properties:
                    type:
                      type: string
                      description: >-
                        The primary identifier for the problem type (URI
                        reference).
                    title:
                      type: string
                      description: >-
                        A short, human-readable summary of the problem type. It
                        SHOULD NOT change from occurrence to occurrence of the
                        problem, except for purposes of localization.
                    status:
                      type: integer
                      description: The HTTP status code.
                    detail:
                      type: string
                      description: >-
                        A human-readable explanation specific to this occurrence
                        of the problem.
                    code:
                      type: integer
                      description: >-
                        The error code can be used to look up the reason why the
                        request failed.
                    param:
                      type: string
                      description: The request parameter that this error is related to.
                  required:
                    - type
                    - title
                    - status
                    - detail
          '403':
            description: Forbidden
            content:
              application/problem+json:
                schema:
                  type: object
                  properties:
                    type:
                      type: string
                      description: >-
                        The primary identifier for the problem type (URI
                        reference).
                    title:
                      type: string
                      description: >-
                        A short, human-readable summary of the problem type. It
                        SHOULD NOT change from occurrence to occurrence of the
                        problem, except for purposes of localization.
                    status:
                      type: integer
                      description: The HTTP status code.
                    detail:
                      type: string
                      description: >-
                        A human-readable explanation specific to this occurrence
                        of the problem.
                    code:
                      type: integer
                      description: >-
                        The error code can be used to look up the reason why the
                        request failed.
                    param:
                      type: string
                      description: The request parameter that this error is related to.
                  required:
                    - type
                    - title
                    - status
                    - detail
          '422':
            description: Unprocessable Entity
            content:
              application/problem+json:
                schema:
                  type: object
                  properties:
                    type:
                      type: string
                      description: >-
                        The primary identifier for the problem type (URI
                        reference).
                    title:
                      type: string
                      description: >-
                        A short, human-readable summary of the problem type. It
                        SHOULD NOT change from occurrence to occurrence of the
                        problem, except for purposes of localization.
                    status:
                      type: integer
                      description: The HTTP status code.
                    detail:
                      type: string
                      description: >-
                        A human-readable explanation specific to this occurrence
                        of the problem.
                    code:
                      type: integer
                      description: >-
                        The error code can be used to look up the reason why the
                        request failed.
                    param:
                      type: string
                      description: The request parameter that this error is related to.
                  required:
                    - type
                    - title
                    - status
                    - detail
          '500':
            description: Server Error
            content:
              application/problem+json:
                schema:
                  type: object
                  properties:
                    type:
                      type: string
                      description: >-
                        The primary identifier for the problem type (URI
                        reference).
                    title:
                      type: string
                      description: >-
                        A short, human-readable summary of the problem type. It
                        SHOULD NOT change from occurrence to occurrence of the
                        problem, except for purposes of localization.
                    status:
                      type: integer
                      description: The HTTP status code.
                    detail:
                      type: string
                      description: >-
                        A human-readable explanation specific to this occurrence
                        of the problem.
                    code:
                      type: integer
                      description: >-
                        The error code can be used to look up the reason why the
                        request failed.
                    param:
                      type: string
                      description: The request parameter that this error is related to.
                  required:
                    - type
                    - title
                    - status
                    - detail
    /v2/companies:
      get:
        tags:
          - Companies
        summary: List Companies
        operationId: listCompanies
        x-public-api: true
        parameters:
          - name: x-api-version
            in: header
            description: 7shifts API version
            required: false
            schema:
              type: string
              pattern: ^\d{4}-\d{2}-\d{2}$
              description: An API version
              example: '2022-05-01'
          - name: x-company-guid
            in: header
            description: Company GUID
            required: false
            schema:
              type: string
              format: uuid
            example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
          - name: modified_since
            in: query
            description: >-
              Return companies that have been modified since the specified date.
              Format YYYY-MM-DD
            required: false
            schema:
              type: string
              pattern: ^\d{4}-\d{2}-\d{2}$
            example: '2020-01-01'
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    data:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: number
                            nullable: false
                          name:
                            type: string
                            nullable: false
                          country:
                            type: string
                            nullable: false
                          photo:
                            type: string
                            nullable: true
                          plan_id:
                            type: string
                            nullable: false
                          created:
                            type: string
                            format: date-time
                            nullable: false
                          modified:
                            type: string
                            format: date-time
                            nullable: true
                          expires:
                            type: string
                            format: date-time
                            nullable: true
                          days_to_expire:
                            type: number
                            nullable: true
                          converted:
                            type: string
                            format: date-time
                            nullable: true
                          pos:
                            type: string
                            nullable: true
                          status:
                            type: string
                            enum:
                              - active
                              - trial
                              - cancelled
                              - delinquent
                              - expired
                              - unknown
                          start_week_on:
                            type: number
                            nullable: true
                          meta:
                            type: object
                            properties:
                              signup_utm_source:
                                type: string
                                nullable: true
                              utm_source:
                                type: string
                                nullable: true
                              signup_content_source:
                                type: string
                                nullable: true
                              buy_now:
                                type: boolean
                                nullable: false
                              trial_checklist_stored_locally:
                                type: boolean
                                nullable: false
                              employee_count_range:
                                type: string
                                nullable: true
                              api_key:
                                type: string
                                description: Company API key
                        required:
                          - id
                          - name
                          - country
                          - photo
                          - plan_id
                          - created
                          - modified
                          - expires
                          - days_to_expire
                          - converted
                          - pos
                          - status
                          - start_week_on
                    object:
                      type: string
                      enum:
                        - companies
                  required:
                    - data
                    - object
          '401':
            description: Unauthorized
            content:
              application/problem+json:
                schema:
                  type: object
                  properties:
                    type:
                      type: string
                      description: >-
                        The primary identifier for the problem type (URI
                        reference).
                    title:
                      type: string
                      description: >-
                        A short, human-readable summary of the problem type. It
                        SHOULD NOT change from occurrence to occurrence of the
                        problem, except for purposes of localization.
                    status:
                      type: integer
                      description: The HTTP status code.
                    detail:
                      type: string
                      description: >-
                        A human-readable explanation specific to this occurrence
                        of the problem.
                    code:
                      type: integer
                      description: >-
                        The error code can be used to look up the reason why the
                        request failed.
                    param:
                      type: string
                      description: The request parameter that this error is related to.
                  required:
                    - type
                    - title
                    - status
                    - detail
          '403':
            description: Forbidden
            content:
              application/problem+json:
                schema:
                  type: object
                  properties:
                    type:
                      type: string
                      description: >-
                        The primary identifier for the problem type (URI
                        reference).
                    title:
                      type: string
                      description: >-
                        A short, human-readable summary of the problem type. It
                        SHOULD NOT change from occurrence to occurrence of the
                        problem, except for purposes of localization.
                    status:
                      type: integer
                      description: The HTTP status code.
                    detail:
                      type: string
                      description: >-
                        A human-readable explanation specific to this occurrence
                        of the problem.
                    code:
                      type: integer
                      description: >-
                        The error code can be used to look up the reason why the
                        request failed.
                    param:
                      type: string
                      description: The request parameter that this error is related to.
                  required:
                    - type
                    - title
                    - status
                    - detail
          '500':
            description: Server Error
            content:
              application/problem+json:
                schema:
                  type: object
                  properties:
                    type:
                      type: string
                      description: >-
                        The primary identifier for the problem type (URI
                        reference).
                    title:
                      type: string
                      description: >-
                        A short, human-readable summary of the problem type. It
                        SHOULD NOT change from occurrence to occurrence of the
                        problem, except for purposes of localization.
                    status:
                      type: integer
                      description: The HTTP status code.
                    detail:
                      type: string
                      description: >-
                        A human-readable explanation specific to this occurrence
                        of the problem.
                    code:
                      type: integer
                      description: >-
                        The error code can be used to look up the reason why the
                        request failed.
                    param:
                      type: string
                      description: The request parameter that this error is related to.
                  required:
                    - type
                    - title
                    - status
                    - detail
    /v2/companies/{id}:
      get:
        tags:
          - Companies
        summary: Retrieve Company
        operationId: viewCompany
        x-public-api: true
        parameters:
          - name: x-api-version
            in: header
            description: 7shifts API version
            required: false
            schema:
              type: string
              pattern: ^\d{4}-\d{2}-\d{2}$
              description: An API version
              example: '2022-05-01'
          - name: x-company-guid
            in: header
            description: Company GUID
            required: false
            schema:
              type: string
              format: uuid
            example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
          - name: id
            in: path
            description: Company ID
            required: true
            schema:
              type: integer
              format: int64
            example: 8655
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    id:
                      type: number
                      nullable: false
                    name:
                      type: string
                      nullable: false
                    country:
                      type: string
                      nullable: false
                    photo:
                      type: string
                      nullable: true
                    plan_id:
                      type: string
                      nullable: false
                    created:
                      type: string
                      format: date-time
                      nullable: false
                    modified:
                      type: string
                      format: date-time
                      nullable: true
                    expires:
                      type: string
                      format: date-time
                      nullable: true
                    days_to_expire:
                      type: number
                      nullable: true
                    converted:
                      type: string
                      format: date-time
                      nullable: true
                    pos:
                      type: string
                      nullable: true
                    status:
                      type: string
                      enum:
                        - active
                        - trial
                        - cancelled
                        - delinquent
                        - expired
                        - unknown
                    start_week_on:
                      type: number
                      nullable: true
                    meta:
                      type: object
                      properties:
                        signup_utm_source:
                          type: string
                          nullable: true
                        utm_source:
                          type: string
                          nullable: true
                        signup_content_source:
                          type: string
                          nullable: true
                        buy_now:
                          type: boolean
                          nullable: false
                        trial_checklist_stored_locally:
                          type: boolean
                          nullable: false
                        employee_count_range:
                          type: string
                          nullable: true
                        api_key:
                          type: string
                          description: Company API key
                  required:
                    - id
                    - name
                    - country
                    - photo
                    - plan_id
                    - created
                    - modified
                    - expires
                    - days_to_expire
                    - converted
                    - pos
                    - status
                    - start_week_on
          '500':
            description: Server Error
            content:
              application/problem+json:
                schema:
                  type: object
                  properties:
                    type:
                      type: string
                      description: >-
                        The primary identifier for the problem type (URI
                        reference).
                    title:
                      type: string
                      description: >-
                        A short, human-readable summary of the problem type. It
                        SHOULD NOT change from occurrence to occurrence of the
                        problem, except for purposes of localization.
                    status:
                      type: integer
                      description: The HTTP status code.
                    detail:
                      type: string
                      description: >-
                        A human-readable explanation specific to this occurrence
                        of the problem.
                    code:
                      type: integer
                      description: >-
                        The error code can be used to look up the reason why the
                        request failed.
                    param:
                      type: string
                      description: The request parameter that this error is related to.
                  required:
                    - type
                    - title
                    - status
                    - detail
      patch:
        tags:
          - Companies
        summary: Update Company
        operationId: updateCompany
        x-public-api: true
        parameters:
          - name: x-api-version
            in: header
            description: 7shifts API version
            required: false
            schema:
              type: string
              pattern: ^\d{4}-\d{2}-\d{2}$
              description: An API version
              example: '2022-05-01'
          - name: x-company-guid
            in: header
            description: Company GUID
            required: false
            schema:
              type: string
              format: uuid
            example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
          - name: id
            in: path
            description: Company ID
            required: true
            schema:
              type: integer
              format: int64
        requestBody:
          required: true
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                    nullable: true
                  country:
                    type: string
                    nullable: true
                  photo:
                    type: string
                    nullable: true
                  pos:
                    type: string
                    nullable: true
        responses:
          '200':
            description: A company
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    id:
                      type: number
                      nullable: false
                    name:
                      type: string
                      nullable: false
                    country:
                      type: string
                      nullable: false
                    photo:
                      type: string
                      nullable: true
                    plan_id:
                      type: string
                      nullable: false
                    created:
                      type: string
                      format: date-time
                      nullable: false
                    modified:
                      type: string
                      format: date-time
                      nullable: true
                    expires:
                      type: string
                      format: date-time
                      nullable: true
                    days_to_expire:
                      type: number
                      nullable: true
                    converted:
                      type: string
                      format: date-time
                      nullable: true
                    pos:
                      type: string
                      nullable: true
                    status:
                      type: string
                      enum:
                        - active
                        - trial
                        - cancelled
                        - delinquent
                        - expired
                        - unknown
                    start_week_on:
                      type: number
                      nullable: true
                    meta:
                      type: object
                      properties:
                        signup_utm_source:
                          type: string
                          nullable: true
                        utm_source:
                          type: string
                          nullable: true
                        signup_content_source:
                          type: string
                          nullable: true
                        buy_now:
                          type: boolean
                          nullable: false
                        trial_checklist_stored_locally:
                          type: boolean
                          nullable: false
                        employee_count_range:
                          type: string
                          nullable: true
                        api_key:
                          type: string
                          description: Company API key
                  required:
                    - id
                    - name
                    - country
                    - photo
                    - plan_id
                    - created
                    - modified
                    - expires
                    - days_to_expire
                    - converted
                    - pos
                    - status
                    - start_week_on
          '403':
            description: Not authorized to update a company
            content:
              application/problem+json:
                schema:
                  type: object
                  properties:
                    type:
                      type: string
                      description: >-
                        The primary identifier for the problem type (URI
                        reference).
                    title:
                      type: string
                      description: >-
                        A short, human-readable summary of the problem type. It
                        SHOULD NOT change from occurrence to occurrence of the
                        problem, except for purposes of localization.
                    status:
                      type: integer
                      description: The HTTP status code.
                    detail:
                      type: string
                      description: >-
                        A human-readable explanation specific to this occurrence
                        of the problem.
                    code:
                      type: integer
                      description: >-
                        The error code can be used to look up the reason why the
                        request failed.
                    param:
                      type: string
                      description: The request parameter that this error is related to.
                  required:
                    - type
                    - title
                    - status
                    - detail
    /v2/company/{company_id}/labor_settings:
      get:
        tags:
          - Companies
        summary: Retrieve Labor Settings
        operationId: retrieveCompanyLaborSettings
        x-public-api: true
        parameters:
          - name: x-api-version
            in: header
            description: 7shifts API version
            required: false
            schema:
              type: string
              pattern: ^\d{4}-\d{2}-\d{2}$
              description: An API version
              example: '2022-05-01'
          - name: x-company-guid
            in: header
            description: Company GUID
            required: false
            schema:
              type: string
              format: uuid
            example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
          - name: company_id
            in: path
            description: Company ID
            required: true
            schema:
              type: integer
              format: int64
            example: 1234
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    object:
                      type: string
                      enum:
                        - labor_settings
                    data:
                      type: object
                      properties:
                        company_id:
                          type: integer
                        consecutive_days_threshold:
                          type: integer
                          description: >-
                            Number of consecutive days threshold an employee works
                            before overtime
                          nullable: true
                        consecutive_days_multiplier:
                          type: number
                          description: The overtime pay multiplier
                          nullable: true
                        regular_rate_of_pay_enabled:
                          type: boolean
                          description: >-
                            When true, the regular rate of pay considers the
                            number of hours worked at different pay rates while
                            calculating overtime
                        exception_cost_enabled:
                          type: boolean
                          description: When true, exception costs are displayed in reports
                        overtime_by_location_enabled:
                          type: boolean
                        auto_break_enabled:
                          type: boolean
                          description: >-
                            When true, use break conditions to alter labor costs
                            and hour
                        auto_break_hours:
                          type: number
                        auto_break_minutes:
                          type: integer
                        auto_break_hours_2:
                          type: number
                        auto_break_minutes_2:
                          type: integer
                        overtime_enabled:
                          type: boolean
                        daily_overtime_threshold:
                          type: number
                        daily_overtime_multiplier:
                          type: number
                        premium_overtime_threshold:
                          type: integer
                          nullable: true
                        premium_overtime_multiplier:
                          type: number
                          nullable: true
                        weekly_overtime_threshold:
                          type: number
                        weekly_overtime_multiplier:
                          type: number
                        ot_alerts_enabled:
                          type: boolean
                        ot_alerts_buffer_minutes:
                          type: integer
                          nullable: true
                        split_hours_on_holidays:
                          type: boolean
                        wage_based_roles_enabled:
                          type: boolean
                          description: >-
                            When true, allows employees to have a separate wage
                            for
                        jurisdiction:
                          type: string
                          nullable: true
                        is_custom:
                          type: boolean
                        use_jurisdiction_minimum_wage_for_ot:
                          type: boolean
                          description: >-
                            When true, minimum wage will be used when calculating
                            overtime pay
                      required:
                        - company_id
                        - consecutive_days_threshold
                        - consecutive_days_multiplier
                        - regular_rate_of_pay_enabled
                        - exception_cost_enabled
                        - overtime_by_location_enabled
                        - auto_break_enabled
                        - auto_break_hours
                        - auto_break_minutes
                        - auto_break_hours_2
                        - auto_break_minutes_2
                        - overtime_enabled
                        - daily_overtime_threshold
                        - daily_overtime_multiplier
                        - premium_overtime_threshold
                        - premium_overtime_multiplier
                        - weekly_overtime_threshold
                        - weekly_overtime_multiplier
                        - ot_alerts_enabled
                        - ot_alerts_buffer_minutes
                        - split_hours_on_holidays
                        - wage_based_roles_enabled
                        - jurisdiction
                        - is_custom
                        - use_jurisdiction_minimum_wage_for_ot
                  required:
                    - object
                    - data
          '401':
            description: Unauthorized
            content:
              application/problem+json:
                schema:
                  type: object
                  properties:
                    type:
                      type: string
                      description: >-
                        The primary identifier for the problem type (URI
                        reference).
                    title:
                      type: string
                      description: >-
                        A short, human-readable summary of the problem type. It
                        SHOULD NOT change from occurrence to occurrence of the
                        problem, except for purposes of localization.
                    status:
                      type: integer
                      description: The HTTP status code.
                    detail:
                      type: string
                      description: >-
                        A human-readable explanation specific to this occurrence
                        of the problem.
                    code:
                      type: integer
                      description: >-
                        The error code can be used to look up the reason why the
                        request failed.
                    param:
                      type: string
                      description: The request parameter that this error is related to.
                  required:
                    - type
                    - title
                    - status
                    - detail
          '403':
            description: Forbidden
            content:
              application/problem+json:
                schema:
                  type: object
                  properties:
                    type:
                      type: string
                      description: >-
                        The primary identifier for the problem type (URI
                        reference).
                    title:
                      type: string
                      description: >-
                        A short, human-readable summary of the problem type. It
                        SHOULD NOT change from occurrence to occurrence of the
                        problem, except for purposes of localization.
                    status:
                      type: integer
                      description: The HTTP status code.
                    detail:
                      type: string
                      description: >-
                        A human-readable explanation specific to this occurrence
                        of the problem.
                    code:
                      type: integer
                      description: >-
                        The error code can be used to look up the reason why the
                        request failed.
                    param:
                      type: string
                      description: The request parameter that this error is related to.
                  required:
                    - type
                    - title
                    - status
                    - detail
          '500':
            description: Server Error
            content:
              application/problem+json:
                schema:
                  type: object
                  properties:
                    type:
                      type: string
                      description: >-
                        The primary identifier for the problem type (URI
                        reference).
                    title:
                      type: string
                      description: >-
                        A short, human-readable summary of the problem type. It
                        SHOULD NOT change from occurrence to occurrence of the
                        problem, except for purposes of localization.
                    status:
                      type: integer
                      description: The HTTP status code.
                    detail:
                      type: string
                      description: >-
                        A human-readable explanation specific to this occurrence
                        of the problem.
                    code:
                      type: integer
                      description: >-
                        The error code can be used to look up the reason why the
                        request failed.
                    param:
                      type: string
                      description: The request parameter that this error is related to.
                  required:
                    - type
                    - title
                    - status
                    - detail
    /v2/company/{company_id}/inactive_reasons:
      get:
        tags:
          - Companies
        summary: List Inactive Reasons
        operationId: listInactiveReasons
        x-public-api: true
        parameters:
          - name: x-api-version
            in: header
            description: 7shifts API version
            required: false
            schema:
              type: string
              pattern: ^\d{4}-\d{2}-\d{2}$
              description: An API version
              example: '2022-05-01'
          - name: x-company-guid
            in: header
            description: Company GUID
            required: false
            schema:
              type: string
              format: uuid
            example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
          - name: company_id
            in: path
            description: Company ID
            required: true
            schema:
              type: integer
              format: int64
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    object:
                      type: string
                      enum:
                        - inactive_reason_enum
                    data:
                      type: array
                      items:
                        type: string
                  required:
                    - object
                    - data
          '400':
            description: Bad Request
            content:
              application/problem+json:
                schema:
                  type: object
                  properties:
                    type:
                      type: string
                      description: >-
                        The primary identifier for the problem type (URI
                        reference).
                    title:
                      type: string
                      description: >-
                        A short, human-readable summary of the problem type. It
                        SHOULD NOT change from occurrence to occurrence of the
                        problem, except for purposes of localization.
                    status:
                      type: integer
                      description: The HTTP status code.
                    detail:
                      type: string
                      description: >-
                        A human-readable explanation specific to this occurrence
                        of the problem.
                    code:
                      type: integer
                      description: >-
                        The error code can be used to look up the reason why the
                        request failed.
                    param:
                      type: string
                      description: The request parameter that this error is related to.
                  required:
                    - type
                    - title
                    - status
                    - detail
          '403':
            description: Forbidden
            content:
              application/problem+json:
                schema:
                  type: object
                  properties:
                    type:
                      type: string
                      description: >-
                        The primary identifier for the problem type (URI
                        reference).
                    title:
                      type: string
                      description: >-
                        A short, human-readable summary of the problem type. It
                        SHOULD NOT change from occurrence to occurrence of the
                        problem, except for purposes of localization.
                    status:
                      type: integer
                      description: The HTTP status code.
                    detail:
                      type: string
                      description: >-
                        A human-readable explanation specific to this occurrence
                        of the problem.
                    code:
                      type: integer
                      description: >-
                        The error code can be used to look up the reason why the
                        request failed.
                    param:
                      type: string
                      description: The request parameter that this error is related to.
                  required:
                    - type
                    - title
                    - status
                    - detail
          '500':
            description: Server Error
            content:
              application/problem+json:
                schema:
                  type: object
                  properties:
                    type:
                      type: string
                      description: >-
                        The primary identifier for the problem type (URI
                        reference).
                    title:
                      type: string
                      description: >-
                        A short, human-readable summary of the problem type. It
                        SHOULD NOT change from occurrence to occurrence of the
                        problem, except for purposes of localization.
                    status:
                      type: integer
                      description: The HTTP status code.
                    detail:
                      type: string
                      description: >-
                        A human-readable explanation specific to this occurrence
                        of the problem.
                    code:
                      type: integer
                      description: >-
                        The error code can be used to look up the reason why the
                        request failed.
                    param:
                      type: string
                      description: The request parameter that this error is related to.
                  required:
                    - type
                    - title
                    - status
                    - detail
    /v2/company/{company_id}/locations:
      get:
        tags:
          - Locations
        summary: List Locations
        operationId: getLocationListByCompany
        x-public-api: true
        parameters:
          - name: x-api-version
            in: header
            description: 7shifts API version
            required: false
            schema:
              type: string
              pattern: ^\d{4}-\d{2}-\d{2}$
              description: An API version
              example: '2022-05-01'
          - name: x-company-guid
            in: header
            description: Company GUID
            required: false
            schema:
              type: string
              format: uuid
            example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
          - name: company_id
            in: path
            description: Company ID
            required: true
            schema:
              type: integer
              format: int64
            example: 1234
          - name: modified_since
            in: query
            description: >-
              Return locations that have been modified since the specified date.
              Format YYYY-MM-DD
            required: false
            schema:
              type: string
              pattern: ^\d{4}-\d{2}-\d{2}$
            example: '2020-01-01'
          - name: deleted
            in: query
            description: When TRUE the search will return deleted locations
            schema:
              type: boolean
              default: false
            required: false
          - name: cursor
            in: query
            description: Cursor for the next or previous page of results.
            required: false
            schema:
              type: string
          - name: limit
            in: query
            description: The number of results desired per page.
            required: false
            schema:
              type: integer
              minimum: 1
              maximum: 500
              default: 100
              format: int64
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    object:
                      type: string
                      enum:
                        - locations
                    data:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1234
                            description: Location ID
                          company_id:
                            type: integer
                            example: 1234
                            description: Company ID
                          name:
                            type: string
                            example: Quackers
                            description: Location name
                          country:
                            type: string
                            example: CA
                            description: Country
                          state:
                            type: string
                            nullable: true
                            example: 'ON'
                            description: State or province
                          city:
                            type: string
                            nullable: true
                            example: Toronto
                            description: City
                          formatted_address:
                            type: string
                            nullable: true
                            example: 200 Bathurst Street, Toronto, ON, Canada
                            description: Full formatted address
                          lat:
                            type: number
                            example: 43.6478436
                            nullable: true
                            description: Latitude
                          lng:
                            type: number
                            example: -79.4043708
                            nullable: true
                            description: Longitude
                          place_id:
                            type: string
                            nullable: true
                            example: ChIJUyrhFOc0K4gRyuFq6AUlfmE
                            description: Internal use
                          timezone:
                            type: string
                            example: America/Chicago
                            description: Timezone. Valid zone info name
                          timezone_updated:
                            type: boolean
                            nullable: true
                            example: true
                            description: Internal use
                          hash:
                            type: string
                            description: Internal use
                          mapping_id:
                            nullable: true
                            type: string
                            description: Internal use
                          department_based_budget:
                            type: boolean
                            nullable: true
                            example: false
                            description: When true, department based budgeting is enabled
                          holiday_pay:
                            type: boolean
                            example: false
                            description: When true, holiday pay is enabled
                          auto_send_log_book_time:
                            type: string
                            nullable: true
                            example: '03:00'
                            description: Time the log book is automatically send
                          sun_hours_close:
                            default: '00:00:00'
                            description: Sunday closing time
                            type: string
                            pattern: ^(?:(?:([01]?\d|2[0-3]):)?([0-5]?\d):)?([0-5]?\d)$
                            example: 57030
                          mon_hours_close:
                            default: '00:00:00'
                            description: Monday closing time
                            type: string
                            pattern: ^(?:(?:([01]?\d|2[0-3]):)?([0-5]?\d):)?([0-5]?\d)$
                            example: 57030
                          tue_hours_close:
                            default: '00:00:00'
                            description: Tuesday closing time
                            type: string
                            pattern: ^(?:(?:([01]?\d|2[0-3]):)?([0-5]?\d):)?([0-5]?\d)$
                            example: 57030
                          wed_hours_close:
                            default: '00:00:00'
                            description: Wednesday closing time
                            type: string
                            pattern: ^(?:(?:([01]?\d|2[0-3]):)?([0-5]?\d):)?([0-5]?\d)$
                            example: 57030
                          thu_hours_close:
                            default: '00:00:00'
                            description: Thursday closing time
                            type: string
                            pattern: ^(?:(?:([01]?\d|2[0-3]):)?([0-5]?\d):)?([0-5]?\d)$
                            example: 57030
                          fri_hours_close:
                            default: '00:00:00'
                            description: Friday closing time
                            type: string
                            pattern: ^(?:(?:([01]?\d|2[0-3]):)?([0-5]?\d):)?([0-5]?\d)$
                            example: 57030
                          sat_hours_close:
                            default: '00:00:00'
                            description: Saturday closing time
                            type: string
                            pattern: ^(?:(?:([01]?\d|2[0-3]):)?([0-5]?\d):)?([0-5]?\d)$
                            example: 57030
                          sun_hours_open:
                            default: '07:00:00'
                            nullable: true
                            description: Sunday opening time
                            type: string
                            pattern: ^(?:(?:([01]?\d|2[0-3]):)?([0-5]?\d):)?([0-5]?\d)$
                            example: 57030
                          mon_hours_open:
                            default: '07:00:00'
                            nullable: true
                            description: Monday opening time
                            type: string
                            pattern: ^(?:(?:([01]?\d|2[0-3]):)?([0-5]?\d):)?([0-5]?\d)$
                            example: 57030
                          tue_hours_open:
                            default: '07:00:00'
                            nullable: true
                            description: Tuesday opening time
                            type: string
                            pattern: ^(?:(?:([01]?\d|2[0-3]):)?([0-5]?\d):)?([0-5]?\d)$
                            example: 57030
                          wed_hours_open:
                            default: '07:00:00'
                            nullable: true
                            description: Wednesday opening time
                            type: string
                            pattern: ^(?:(?:([01]?\d|2[0-3]):)?([0-5]?\d):)?([0-5]?\d)$
                            example: 57030
                          thu_hours_open:
                            default: '07:00:00'
                            nullable: true
                            description: Thursday opening time
                            type: string
                            pattern: ^(?:(?:([01]?\d|2[0-3]):)?([0-5]?\d):)?([0-5]?\d)$
                            example: 57030
                          fri_hours_open:
                            default: '07:00:00'
                            nullable: true
                            description: Friday opening time
                            type: string
                            pattern: ^(?:(?:([01]?\d|2[0-3]):)?([0-5]?\d):)?([0-5]?\d)$
                            example: 57030
                          sat_hours_open:
                            default: '07:00:00'
                            nullable: true
                            description: Saturday opening time
                            type: string
                            pattern: ^(?:(?:([01]?\d|2[0-3]):)?([0-5]?\d):)?([0-5]?\d)$
                            example: 57030
                          sun_is_closed:
                            type: boolean
                            nullable: true
                            example: true
                            description: If true, location is closed on Sunday
                          mon_is_closed:
                            type: boolean
                            nullable: true
                            example: true
                            description: If true, location is closed on Monday
                          tue_is_closed:
                            type: boolean
                            nullable: true
                            example: true
                            description: If true, location is closed on Tuesday
                          wed_is_closed:
                            type: boolean
                            nullable: true
                            example: true
                            description: If true, location is closed on Wednesday
                          thu_is_closed:
                            type: boolean
                            nullable: true
                            example: true
                            description: If true, location is closed on Thursday
                          fri_is_closed:
                            type: boolean
                            nullable: true
                            example: true
                            description: If true, location is closed on Friday
                          sat_is_closed:
                            type: boolean
                            nullable: true
                            example: true
                            description: If true, location is closed on Saturday
                          shift_feedback:
                            type: boolean
                            example: true
                            description: If true end of shift feedback requests are enabled
                          message:
                            type: string
                            nullable: true
                            example: msg
                            description: Message visible to all employees
                          deleted:
                            type: boolean
                            description: If true the location is deleted
                          created:
                            type: string
                            format: date-time
                            example: '2020-01-01T12:00:00+00:00'
                          modified:
                            type: string
                            format: date-time
                            example: '2020-01-02T12:00:00+00:00'
                        required:
                          - id
                          - company_id
                          - name
                          - country
                          - timezone
                          - hash
                          - sun_hours_close
                          - mon_hours_close
                          - tue_hours_close
                          - wed_hours_close
                          - thu_hours_close
                          - fri_hours_close
                          - sat_hours_close
                          - sun_hours_open
                          - mon_hours_open
                          - tue_hours_open
                          - wed_hours_open
                          - thu_hours_open
                          - fri_hours_open
                          - sat_hours_open
                          - sun_is_closed
                          - mon_is_closed
                          - tue_is_closed
                          - wed_is_closed
                          - thu_is_closed
                          - fri_is_closed
                          - sat_is_closed
                          - shift_feedback
                          - department_based_budget
                          - state
                          - city
                          - formatted_address
                          - place_id
                          - message
                          - created
                          - modified
                    meta:
                      type: object
                      properties:
                        cursor:
                          type: object
                          properties:
                            current:
                              type: string
                              description: The current cursor.
                              nullable: true
                            prev:
                              type: string
                              description: A cursor for navigating to the previous page.
                              nullable: true
                            next:
                              type: string
                              description: A cursor for navigating to the next page.
                              nullable: true
                            count:
                              type: integer
                              description: The total items in the current cursor.
                              nullable: true
                          required:
                            - current
                            - prev
                            - next
                            - count
                      required:
                        - cursor
                  required:
                    - object
                    - data
                    - meta
          '400':
            description: Bad Request
            content:
              application/problem+json:
                schema:
                  type: object
                  properties:
                    type:
                      type: string
                      description: >-
                        The primary identifier for the problem type (URI
                        reference).
                    title:
                      type: string
                      description: >-
                        A short, human-readable summary of the problem type. It
                        SHOULD NOT change from occurrence to occurrence of the
                        problem, except for purposes of localization.
                    status:
                      type: integer
                      description: The HTTP status code.
                    detail:
                      type: string
                      description: >-
                        A human-readable explanation specific to this occurrence
                        of the problem.
                    code:
                      type: integer
                      description: >-
                        The error code can be used to look up the reason why the
                        request failed.
                    param:
                      type: string
                      description: The request parameter that this error is related to.
                  required:
                    - type
                    - title
                    - status
                    - detail
          '403':
            description: Forbidden
            content:
              application/problem+json:
                schema:
                  type: object
                  properties:
                    type:
                      type: string
                      description: >-
                        The primary identifier for the problem type (URI
                        reference).
                    title:
                      type: string
                      description: >-
                        A short, human-readable summary of the problem type. It
                        SHOULD NOT change from occurrence to occurrence of the
                        problem, except for purposes of localization.
                    status:
                      type: integer
                      description: The HTTP status code.
                    detail:
                      type: string
                      description: >-
                        A human-readable explanation specific to this occurrence
                        of the problem.
                    code:
                      type: integer
                      description: >-
                        The error code can be used to look up the reason why the
                        request failed.
                    param:
                      type: string
                      description: The request parameter that this error is related to.
                  required:
                    - type
                    - title
                    - status
                    - detail
          '500':
            description: Server Error
            content:
              application/problem+json:
                schema:
                  type: object
                  properties:
                    type:
                      type: string
                      description: >-
                        The primary identifier for the problem type (URI
                        reference).
                    title:
                      type: string
                      description: >-
                        A short, human-readable summary of the problem type. It
                        SHOULD NOT change from occurrence to occurrence of the
                        problem, except for purposes of localization.
                    status:
                      type: integer
                      description: The HTTP status code.
                    detail:
                      type: string
                      description: >-
                        A human-readable explanation specific to this occurrence
                        of the problem.
                    code:
                      type: integer
                      description: >-
                        The error code can be used to look up the reason why the
                        request failed.
                    param:
                      type: string
                      description: The request parameter that this error is related to.
                  required:
                    - type
                    - title
                    - status
                    - detail
      post:
        tags:
          - Locations
        summary: Create Location
        operationId: createLocation
        x-public-api: true
        parameters:
          - name: x-api-version
            in: header
            description: 7shifts API version
            required: false
            schema:
              type: string
              pattern: ^\d{4}-\d{2}-\d{2}$
              description: An API version
              example: '2022-05-01'
          - name: x-company-guid
            in: header
            description: Company GUID
            required: false
            schema:
              type: string
              format: uuid
            example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
          - name: company_id
            in: path
            description: Company ID
            required: true
            schema:
              type: integer
              format: int64
            example: 1234
        requestBody:
          required: true
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                    example: Quackers
                    description: Location name
                  country:
                    type: string
                    description: Country two letter abbreviation
                    example: CA
                    maxLength: 2
                  formatted_address:
                    type: string
                    description: Full address
                    example: '701 Broadway Ave #200, MadeUpCity, SK SVN 1C3, Canada'
                  state:
                    type: string
                    nullable: true
                    example: 'ON'
                    description: State or province
                  city:
                    type: string
                    nullable: true
                    example: Toronto
                    description: City
                  latitude:
                    type: string
                    description: locations latitude coordinates
                  longitude:
                    type: string
                    description: locations longitude coordinates
                  place_id:
                    type: string
                    description: Google Places location Id
                  timezone:
                    type: string
                    example: America/Chicago
                    description: Timezone. Valid zone info name
                  holiday_pay:
                    type: boolean
                    example: false
                    description: When true, holiday pay is enabled
                  sun_hours_close:
                    default: '00:00:00'
                    description: Sunday closing time
                    type: string
                    pattern: ^(?:(?:([01]?\d|2[0-3]):)?([0-5]?\d):)?([0-5]?\d)$
                    example: 57030
                  mon_hours_close:
                    default: '00:00:00'
                    description: Monday closing time
                    type: string
                    pattern: ^(?:(?:([01]?\d|2[0-3]):)?([0-5]?\d):)?([0-5]?\d)$
                    example: 57030
                  tue_hours_close:
                    default: '00:00:00'
                    description: Tuesday closing time
                    type: string
                    pattern: ^(?:(?:([01]?\d|2[0-3]):)?([0-5]?\d):)?([0-5]?\d)$
                    example: 57030
                  wed_hours_close:
                    default: '00:00:00'
                    description: Wednesday closing time
                    type: string
                    pattern: ^(?:(?:([01]?\d|2[0-3]):)?([0-5]?\d):)?([0-5]?\d)$
                    example: 57030
                  thu_hours_close:
                    default: '00:00:00'
                    description: Thursday closing time
                    type: string
                    pattern: ^(?:(?:([01]?\d|2[0-3]):)?([0-5]?\d):)?([0-5]?\d)$
                    example: 57030
                  fri_hours_close:
                    default: '00:00:00'
                    description: Friday closing time
                    type: string
                    pattern: ^(?:(?:([01]?\d|2[0-3]):)?([0-5]?\d):)?([0-5]?\d)$
                    example: 57030
                  sat_hours_close:
                    default: '00:00:00'
                    description: Saturday closing time
                    type: string
                    pattern: ^(?:(?:([01]?\d|2[0-3]):)?([0-5]?\d):)?([0-5]?\d)$
                    example: 57030
                  sun_hours_open:
                    default: '07:00:00'
                    description: Sunday opening time
                    type: string
                    pattern: ^(?:(?:([01]?\d|2[0-3]):)?([0-5]?\d):)?([0-5]?\d)$
                    example: 57030
                  mon_hours_open:
                    default: '07:00:00'
                    nullable: true
                    description: Monday opening time
                    type: string
                    pattern: ^(?:(?:([01]?\d|2[0-3]):)?([0-5]?\d):)?([0-5]?\d)$
                    example: 57030
                  tue_hours_open:
                    default: '07:00:00'
                    nullable: true
                    description: Tuesday opening time
                    type: string
                    pattern: ^(?:(?:([01]?\d|2[0-3]):)?([0-5]?\d):)?([0-5]?\d)$
                    example: 57030
                  wed_hours_open:
                    default: '07:00:00'
                    nullable: true
                    description: Wednesday opening time
                    type: string
                    pattern: ^(?:(?:([01]?\d|2[0-3]):)?([0-5]?\d):)?([0-5]?\d)$
                    example: 57030
                  thu_hours_open:
                    default: '07:00:00'
                    nullable: true
                    description: Thursday opening time
                    type: string
                    pattern: ^(?:(?:([01]?\d|2[0-3]):)?([0-5]?\d):)?([0-5]?\d)$
                    example: 57030
                  fri_hours_open:
                    default: '07:00:00'
                    nullable: true
                    description: Friday opening time
                    type: string
                    pattern: ^(?:(?:([01]?\d|2[0-3]):)?([0-5]?\d):)?([0-5]?\d)$
                    example: 57030
                  sat_hours_open:
[...]
