publishJson:
  company: Baseten
  serviceName: false
  sdkName: baseten-{language}-sdk
  clientName: Baseten
  metaDescription: >-
    At Baseten we provide all the infrastructure you need to deploy and serve ML
    models performantly, scalably, and cost-efficiently.Get started in minutes,
    and avoid getting tangled in complex deployment processes. You can deploy
    best-in-class open-source models and take advantage of optimized serving for
    your own models.We also utilize horizontally scalable services that take you
    from prototype to production, with light-speed inference on infra that
    autoscales with your traffic.Best in class doesn't mean breaking the bank.
    Run your models on the best infrastructure without running up costs by
    taking advantage of our scaled-to-zero feature.
  apiStatusUrls: inherit
  homepage: baseten.co
  developerDocumentation: docs.baseten.co/welcome
  categories:
    - ai
    - ml
    - developer_tools
    - automation
    - collaboration
    - media
    - cloud
    - open_source
    - machine_learning
    - deployment
    - scalability
    - cost_efficiency
    - llm
    - stable_diffusion
    - tts
    - text_to_audio
    - text_to_speech
    - text_to_image
    - image_to_video
    - image_classification
    - text_embeddings
    - audio_to_text
    - image_to_text
rawSpecString: |
  info:
    description: REST API for management of Baseten resources
    title: Baseten management API
    version: 1.0.0
  servers:
    - url: https://api.baseten.co
  security:
    - ApiKeyAuth: []
  paths:
    /v1/secrets:
      get:
        summary: Gets all secrets
        responses:
          '200':
            description: A list of Baseten secrets.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/SecretsV1'
      post:
        summary: Upserts a secret
        description: >-
          Creates a new secret or updates an existing secret if one with the
          provided name already exists. The name and creation date of the created
          or updated secret is returned.
        requestBody:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpsertSecretRequestV1'
          required: true
        responses:
          '200':
            description: >-
              A Baseten secret. Note that we do not support retrieving secret
              values.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/SecretV1'
    /v1/models/{model_id}/deployments/development:
      get:
        summary: Gets a model's development deployment
        description: Gets a model's development deployment and returns the deployment.
        responses:
          '200':
            description: A deployment of a model.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/DeploymentV1'
      parameters:
        - $ref: '#/components/parameters/model_id'
    /v1/models/{model_id}/deployments/production:
      get:
        summary: Gets a model's production deployment
        description: Gets a model's production deployment and returns the deployment.
        responses:
          '200':
            description: A deployment of a model.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/DeploymentV1'
      parameters:
        - $ref: '#/components/parameters/model_id'
    /v1/models/{model_id}/deployments/{deployment_id}:
      get:
        summary: Gets a model's deployment by id
        description: Gets a model's deployment by id and returns the deployment.
        responses:
          '200':
            description: A deployment of a model.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/DeploymentV1'
      parameters:
        - $ref: '#/components/parameters/model_id'
        - $ref: '#/components/parameters/deployment_id'
    /v1/models/{model_id}/deployments/development/autoscaling_settings:
      patch:
        summary: Updates a development deployment's autoscaling settings
        description: >-
          Updates a development deployment's autoscaling settings and returns the
          update status.
        requestBody:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateAutoscalingSettingsV1'
          required: true
        responses:
          '200':
            description: The response to a request to update autoscaling settings.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/UpdateAutoscalingSettingsResponseV1'
      parameters:
        - $ref: '#/components/parameters/model_id'
    /v1/models/{model_id}/deployments/production/autoscaling_settings:
      patch:
        summary: Updates a production deployment's autoscaling settings
        description: >-
          Updates a production deployment's autoscaling settings and returns the
          update status.
        requestBody:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateAutoscalingSettingsV1'
          required: true
        responses:
          '200':
            description: The response to a request to update autoscaling settings.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/UpdateAutoscalingSettingsResponseV1'
      parameters:
        - $ref: '#/components/parameters/model_id'
    /v1/models/{model_id}/deployments/{deployment_id}/autoscaling_settings:
      patch:
        summary: Updates a deployment's autoscaling settings
        description: >-
          Updates a deployment's autoscaling settings and returns the update
          status.
        requestBody:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateAutoscalingSettingsV1'
          required: true
        responses:
          '200':
            description: The response to a request to update autoscaling settings.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/UpdateAutoscalingSettingsResponseV1'
      parameters:
        - $ref: '#/components/parameters/model_id'
        - $ref: '#/components/parameters/deployment_id'
  openapi: 3.0.2
  components:
    schemas:
      SecretV1:
        description: A Baseten secret. Note that we do not support retrieving secret values.
        properties:
          created:
            description: UTC time the secret was created
            format: date-time
            title: Created
            type: string
          name:
            description: Name of the secret
            title: Name
            type: string
        required:
          - created
          - name
        title: SecretV1
        type: object
      SecretsV1:
        description: A list of Baseten secrets.
        properties:
          secrets:
            items:
              $ref: '#/components/schemas/SecretV1'
            title: Secrets
            type: array
        required:
          - secrets
        title: SecretsV1
        type: object
      UpsertSecretRequestV1:
        description: A request to create or update a Baseten secret by name.
        properties:
          name:
            description: Name of the new or existing secret
            title: Name
            type: string
          value:
            description: Value of the secret
            title: Value
            type: string
        required:
          - name
          - value
        title: UpsertSecretRequestV1
        type: object
      AutoscalingSettingsV1:
        description: Autoscaling settings for a deployment.
        properties:
          min_replica:
            description: Minimum number of replicas
            title: Min Replica
            type: integer
          max_replica:
            description: Maximum number of replicas
            title: Max Replica
            type: integer
          autoscaling_window:
            description: Timeframe of traffic considered for autoscaling decisions
            title: Autoscaling Window
            type: integer
          scale_down_delay:
            description: Waiting period before scaling down any active replica
            title: Scale Down Delay
            type: integer
          concurrency_target:
            description: Number of requests per replica before scaling up
            title: Concurrency Target
            type: integer
        required:
          - min_replica
          - max_replica
          - autoscaling_window
          - scale_down_delay
          - concurrency_target
        title: AutoscalingSettingsV1
        type: object
      DeploymentStatusV1:
        description: The status of a deployment.
        enum:
          - BUILDING
          - DEPLOYING
          - DEPLOY_FAILED
          - LOADING_MODEL
          - ACTIVE
          - UNHEALTHY
          - BUILD_FAILED
          - BUILD_STOPPED
          - DEACTIVATING
          - INACTIVE
          - FAILED
          - UPDATING
          - SCALED_TO_ZERO
          - WAKING_UP
        title: DeploymentStatusV1
        type: string
      DeploymentV1:
        description: A deployment of a model.
        properties:
          id:
            description: Unique identifier of the deployment
            title: Id
            type: string
          created_at:
            description: UTC time the deployment was created
            format: date-time
            title: Created At
            type: string
          name:
            description: Name of the deployment
            title: Name
            type: string
          model_id:
            description: Unique identifier of the model
            title: Model Id
            type: string
          is_production:
            description: Whether the deployment is the production deployment of the model
            title: Is Production
            type: boolean
          is_development:
            description: Whether the deployment is the development deployment of the model
            title: Is Development
            type: boolean
          status:
            allOf:
              - $ref: '#/components/schemas/DeploymentStatusV1'
            description: Status of the deployment
          active_replicas:
            description: Number of active replicas
            title: Active Replicas
            type: integer
          autoscaling_settings:
            allOf:
              - $ref: '#/components/schemas/AutoscalingSettingsV1'
            description: Autoscaling settings for the deployment
        required:
          - id
          - created_at
          - name
          - model_id
          - is_production
          - is_development
          - status
          - active_replicas
          - autoscaling_settings
        title: DeploymentV1
        type: object
      UpdateAutoscalingSettingsV1:
        description: >-
          A request to update autoscaling settings for a deployment. All fields
          are optional, and we only update ones passed in.
        properties:
          min_replica:
            default: null
            description: Minimum number of replicas
            title: Min Replica
            type: integer
          max_replica:
            default: null
            description: Maximum number of replicas
            title: Max Replica
            type: integer
          autoscaling_window:
            default: null
            description: Timeframe of traffic considered for autoscaling decisions
            title: Autoscaling Window
            type: integer
          scale_down_delay:
            default: null
            description: Waiting period before scaling down any active replica
            title: Scale Down Delay
            type: integer
          concurrency_target:
            default: null
            description: Number of requests per replica before scaling up
            title: Concurrency Target
            type: integer
        title: UpdateAutoscalingSettingsV1
        type: object
      UpdateAutoscalingSettingsStatusV1:
        description: The status of a request to update autoscaling settings.
        enum:
          - ACCEPTED
          - QUEUED
          - UNCHANGED
        title: UpdateAutoscalingSettingsStatusV1
        type: string
      UpdateAutoscalingSettingsResponseV1:
        description: The response to a request to update autoscaling settings.
        properties:
          status:
            allOf:
              - $ref: '#/components/schemas/UpdateAutoscalingSettingsStatusV1'
            description: Status of the request to update autoscaling settings
          message:
            description: >-
              A message describing the status of the request to update autoscaling
              settings
            title: Message
            type: string
        required:
          - status
          - message
        title: UpdateAutoscalingSettingsResponseV1
        type: object
    parameters:
      model_id:
        schema:
          type: string
        name: model_id
        in: path
        required: true
      deployment_id:
        schema:
          type: string
        name: deployment_id
        in: path
        required: true
    securitySchemes:
      ApiKeyAuth:
        type: apiKey
        in: header
        name: Authorization
        description: >-
          You must use the specify the scheme 'Api-Key' in the Authorization
          header. For example, `Authorization: Api-Key <Your_Api_Key>`
konfigCliVersion: 1.38.30
