publishJson:
  company: Breezy HR
  serviceName: false
  sdkName: breezy-hr-{language}-sdk
  clientName: BreezyHr
  metaDescription: >-
    We specialize in sourcing high quality pilots to meet the needs of 135
    operators. Our team of highly skilled pilots and aviation experts seamlessly
    integrates with your operation to quickly provide you with world-class pilot
    candidates from our extensive network. All candidates are fully vetted and
    evaluated by Hire Up prior to being recommended to you.
  apiStatusUrls: inherit
  homepage: breezy.hr
  developerDocumentation: developer.breezy.hr/reference/overview
  categories:
    - talent_acquisition_analytics
    - recruiting
rawSpecString: |
  openapi: 3.1.0
  info:
    title: API Settings
    version: '3'
  servers:
    - url: https://api.breezy.hr
  components:
    securitySchemes:
      sec0:
        type: apiKey
        name: Authorization
        in: header
        x-default: 0000000-0000-0000-0000-00000000001
  security:
    - sec0: []
  paths:
    /v3/signin:
      post:
        summary: /signin
        description: >-
          Retrieve an access token. Use the access_token as part of the
          Authorization header.
        operationId: signin
        requestBody:
          content:
            application/json:
              schema:
                type: object
                required:
                  - email
                  - password
                properties:
                  email:
                    type: string
                    description: Email address of user
                  password:
                    type: string
                    description: Password of user
        responses:
          '200':
            description: '200'
            content:
              application/json:
                examples:
                  Result:
                    value: |-
                      {
                          "access_token": "00000000-0000-0000-0000-000000000000",
                          "user": { User }
                      }
          '400':
            description: '400'
            content:
              application/json:
                examples:
                  Missing Email Address:
                    value: |-
                      {
                          "error": {
                              "type": "signinEmailError",
                              "message": "email is null or empty"
                          }
                      }
                  Missing Password:
                    value: |-
                      {
                          "error": {
                              "type": "signinPasswordError",
                              "message": "password is null or empty"
                          }
                      }
                schema:
                  oneOf:
                    - title: Missing Email Address
                      type: object
                      properties:
                        error:
                          type: object
                          properties:
                            type:
                              type: string
                              example: signinEmailError
                            message:
                              type: string
                              example: email is null or empty
                    - title: Missing Password
                      type: object
                      properties:
                        error:
                          type: object
                          properties:
                            type:
                              type: string
                              example: signinPasswordError
                            message:
                              type: string
                              example: password is null or empty
          '401':
            description: '401'
            content:
              application/json:
                examples:
                  Signin Failure:
                    value: |-
                      {
                          "error": {
                              "type": "signinFailure",
                              "message": "email or password incorrect."
                          }
                      }
                schema:
                  type: object
                  properties:
                    error:
                      type: object
                      properties:
                        type:
                          type: string
                          example: signinFailure
                        message:
                          type: string
                          example: email or password incorrect.
          '500':
            description: '500'
            content:
              text/plain:
                examples:
                  Result:
                    value: |-
                      {
                          "error": {
                              "type": "accessTokenCreationError",
                              "message": "There was an error creating Access Token."
                          }
                      }
                schema:
                  type: object
                  properties:
                    error:
                      type: object
                      properties:
                        type:
                          type: string
                          example: accessTokenCreationError
                        message:
                          type: string
                          example: There was an error creating Access Token.
        deprecated: false
        x-readme:
          code-samples:
            - language: curl
              code: |-
                curl -H "Content-Type: application/json" \
                  -X POST \
                  -d '{"email":"user@emailaddress.com","password":"hunter2"}' \
                  https://api.breezy.hr/v3/signin
          samples-languages:
            - curl
    /v3/signout:
      get:
        summary: /signout
        description: This endpoint invalidates an access token.
        operationId: signout
        responses:
          '204':
            description: '204'
            content:
              application/json:
                examples:
                  Result:
                    value: ''
        deprecated: false
        x-readme:
          code-samples:
            - language: curl
              code: >-
                curl -H "Content-Type: application/json" -H "Authorization:
                00000000-0000-0000-0000-000000000000"
                https://api.breezy.hr/v3/signout
          samples-languages:
            - curl
    /v3/user:
      get:
        summary: /user
        description: Retrieve the authenticated user or another user by id
        operationId: user
        parameters:
          - name: user_id
            in: query
            description: user id to lookup (if blank look up by auth token)
            schema:
              type: string
        responses:
          '200':
            description: '200'
            content:
              application/json:
                examples:
                  Result:
                    value: '{ User }'
          '400':
            description: '400'
            content:
              application/json:
                examples:
                  Missing Access Token:
                    value: |-
                      {
                          "error": {
                              "type": "missingAccessToken",
                              "message": "access token is null or empty"
                          }
                      }
                schema:
                  type: object
                  properties:
                    error:
                      type: object
                      properties:
                        type:
                          type: string
                          example: missingAccessToken
                        message:
                          type: string
                          example: access token is null or empty
          '401':
            description: '401'
            content:
              application/json:
                examples:
                  Result:
                    value: |-
                      {
                          "error": {
                              "type": "invalidAccessToken",
                              "message": "access token is invalid"
                          }
                      }
                schema:
                  type: object
                  properties:
                    error:
                      type: object
                      properties:
                        type:
                          type: string
                          example: invalidAccessToken
                        message:
                          type: string
                          example: access token is invalid
          '404':
            description: '404'
            content:
              application/json:
                examples:
                  User Not Found:
                    value: |-
                      {
                          "error": {
                              "type": "userNotFound",
                              "message": "user not found."
                          }
                      }
                schema:
                  type: object
                  properties:
                    error:
                      type: object
                      properties:
                        type:
                          type: string
                          example: userNotFound
                        message:
                          type: string
                          example: user not found.
          '500':
            description: '500'
            content:
              application/json:
                examples:
                  Result:
                    value: |-
                      {
                          "error": {
                              "type": "getUserError",
                              "message": "there was an unknown error getting user."
                          }
                      }
                schema:
                  type: object
                  properties:
                    error:
                      type: object
                      properties:
                        type:
                          type: string
                          example: getUserError
                        message:
                          type: string
                          example: there was an unknown error getting user.
        deprecated: false
        x-readme:
          code-samples:
            - language: curl
              code: >-
                curl -H "Content-Type: application/json" -H "Authorization:
                00000000-0000-0000-0000-000000000000"
                https://api.breezy.hr/v3/user
          samples-languages:
            - curl
    /v3/user/details:
      get:
        summary: /user/details
        description: >-
          Retrieve the details for the configurations of each company the
          authenticated user belongs to.
        operationId: user-details
        responses:
          '200':
            description: '200'
            content:
              application/json:
                examples:
                  Result:
                    value: "[ \n\t\"<company_id>\": {\n\t\t\"company\": { Company },\n    \"messaging\": {\n\t\t\t\"questionnaire_template\": {\n        \"type\": String,\n        \"body\": String\n\t\t\t},\n      \"subject_template\": {\n        \"type\": String\n        \"body\": String\n      }\n\t\t},\n    \"reasons\": {\n    \t\"disposition\": [\n        {\n          \"name\": String,\n          \"_id\": String\n        }, . . .               \n      ],\n    \t\"creation_date\": Date,\n    \t\"updated_date\": Date\n    },\n    \"questionnaires\": [           \n    \t{ Questionnaire },\n      ...            \n    ],\n    \"pipelines\": {\n      \"<pipeline_id>\": { Pipeline },\n      ...           \n    },\n    \"interview_guides\": [\n      { Interview Guide },\n      ...\n    ],\n    \"templates\": [\n      { Template },\n      ...        \n    ],\n    \"tasks\": [\n      { Task },\n      ...        \n    ],\n    \"scorecards\": [\n      { Scorecard },\n      ... \n    ],\n    \"user_settings\": {\n      \"webcal_uri\": String \n    },\n    \"positions\": {\n      \"<position_id>\": { Position },\n      ...\n    },\n    \"members\": [\n      { User },\n      ...\n    ]\n  },\n\t...\n]"
          '400':
            description: '400'
            content:
              application/json:
                examples:
                  Missing Access Token:
                    value: |-
                      {
                          "error": {
                              "type": "missingAccessToken",
                              "message": "access token is null or empty"
                          }
                      }
                schema:
                  type: object
                  properties:
                    error:
                      type: object
                      properties:
                        type:
                          type: string
                          example: missingAccessToken
                        message:
                          type: string
                          example: access token is null or empty
          '401':
            description: '401'
            content:
              application/json:
                examples:
                  Result:
                    value: |-
                      {
                          "error": {
                              "type": "invalidAccessToken",
                              "message": "access token is invalid"
                          }
                      }
                schema:
                  type: object
                  properties:
                    error:
                      type: object
                      properties:
                        type:
                          type: string
                          example: invalidAccessToken
                        message:
                          type: string
                          example: access token is invalid
          '404':
            description: '404'
            content:
              application/json:
                examples:
                  User Not Found:
                    value: |-
                      {
                          "error": {
                              "type": "userNotFound",
                              "message": "user not found."
                          }
                      }
                schema:
                  type: object
                  properties:
                    error:
                      type: object
                      properties:
                        type:
                          type: string
                          example: userNotFound
                        message:
                          type: string
                          example: user not found.
          '500':
            description: '500'
            content:
              application/json:
                examples:
                  Result:
                    value: |-
                      {
                          "error": {
                              "type": "getUserCompaniesDetailError",
                              "message": "there was an unknown error getting user company details."
                          }
                      }
                schema:
                  type: object
                  properties:
                    error:
                      type: object
                      properties:
                        type:
                          type: string
                          example: getUserCompaniesDetailError
                        message:
                          type: string
                          example: >-
                            there was an unknown error getting user company
                            details.
        deprecated: false
        x-readme:
          code-samples:
            - language: curl
              code: >-
                curl -H "Content-Type: application/json" -H "Authorization:
                00000000-0000-0000-0000-000000000000"
                https://api.breezy.hr/v3/user/details
          samples-languages:
            - curl
    /v3/company/{company_id}:
      get:
        summary: /company/:id/
        description: >-
          Retrieve the company information associated with authenticated user and
          company id
        operationId: company
        parameters:
          - name: company_id
            in: path
            description: company id
            required: true
            schema:
              type: string
        responses:
          '200':
            description: '200'
            content:
              application/json:
                examples:
                  Result:
                    value: |-
                      { 
                        Company Object
                      }
          '400':
            description: '400'
            content:
              application/json:
                examples:
                  Missing Access Token:
                    value: |-
                      {
                          "error": {
                              "type": "missingAccessToken",
                              "message": "access token is null or empty"
                          }
                      }
                schema:
                  type: object
                  properties:
                    error:
                      type: object
                      properties:
                        type:
                          type: string
                          example: missingAccessToken
                        message:
                          type: string
                          example: access token is null or empty
          '401':
            description: '401'
            content:
              application/json:
                examples:
                  Result:
                    value: |-
                      {
                          "error": {
                              "type": "invalidAccessToken",
                              "message": "access token is invalid"
                          }
                      }
                schema:
                  type: object
                  properties:
                    error:
                      type: object
                      properties:
                        type:
                          type: string
                          example: invalidAccessToken
                        message:
                          type: string
                          example: access token is invalid
          '500':
            description: '500'
            content:
              application/json:
                examples:
                  Result:
                    value: |-
                      {
                          "error": {
                              "type": "getCompanyError",
                              "message": "there was an unknown error getting company."
                          }
                      }
                schema:
                  type: object
                  properties:
                    error:
                      type: object
                      properties:
                        type:
                          type: string
                          example: getCompanyError
                        message:
                          type: string
                          example: there was an unknown error getting company.
        deprecated: false
        x-readme:
          code-samples:
            - language: curl
              code: >-
                curl -H "Content-Type: application/json" -H "Authorization:
                00000000-0000-0000-0000-000000000000"
                https://api.breezy.hr/v3/company/000000000000
          samples-languages:
            - curl
    /v3/company/{company_id}/custom-attributes/candidate:
      get:
        summary: /company/:id/custom-attributes/candidate
        description: Retrieve all of the candidate specific custom attributes
        operationId: company-custom-attributes-candidate
        parameters:
          - name: company_id
            in: path
            description: company id
            required: true
            schema:
              type: string
        responses:
          '200':
            description: '200'
            content:
              application/json:
                examples:
                  Result:
                    value: "[\n  {\n  \t\"id\": String,\n\t\t\"name\": String,\n\t\t\"secure\": Boolean\n  },\n  ...\n],"
          '400':
            description: '400'
            content:
              application/json:
                examples:
                  Missing Access Token:
                    value: |-
                      {
                          "error": {
                              "type": "missingAccessToken",
                              "message": "access token is null or empty"
                          }
                      }
                schema:
                  type: object
                  properties:
                    error:
                      type: object
                      properties:
                        type:
                          type: string
                          example: missingAccessToken
                        message:
                          type: string
                          example: access token is null or empty
          '401':
            description: '401'
            content:
              application/json:
                examples:
                  Result:
                    value: |-
                      {
                          "error": {
                              "type": "invalidAccessToken",
                              "message": "access token is invalid"
                          }
                      }
                schema:
                  type: object
                  properties:
                    error:
                      type: object
                      properties:
                        type:
                          type: string
                          example: invalidAccessToken
                        message:
                          type: string
                          example: access token is invalid
          '500':
            description: '500'
            content:
              application/json:
                examples:
                  Result:
                    value: |-
                      {
                          "error": {
                              "type": "getCustomAttributesError",
                              "message": "there was an unknown error getting custom attributes."
                          }
                      }
                schema:
                  type: object
                  properties:
                    error:
                      type: object
                      properties:
                        type:
                          type: string
                          example: getCustomAttributesError
                        message:
                          type: string
                          example: there was an unknown error getting custom attributes.
        deprecated: false
        x-readme:
          code-samples:
            - language: curl
              code: >-
                curl -H "Content-Type: application/json" -H "Authorization:
                00000000-0000-0000-0000-000000000000"
                https://api.breezy.hr/v3/company/000000000000/custom-attributes/candidate
          samples-languages:
            - curl
    /v3/company/{company_id}/custom-attributes/position:
      get:
        summary: /company/:id/custom-attributes/position
        description: Retrieve all of the position specific custom attributes
        operationId: company-custom-attributes-position
        parameters:
          - name: company_id
            in: path
            description: company id
            required: true
            schema:
              type: string
        responses:
          '200':
            description: '200'
            content:
              application/json:
                examples:
                  Result:
                    value: "[\n  {\n  \t\"id\": String,\n\t\t\"name\": String,\n\t\t\"secure\": Boolean\n  },\n  ...\n],"
          '400':
            description: '400'
            content:
              application/json:
                examples:
                  Missing Access Token:
                    value: |-
                      {
                          "error": {
                              "type": "missingAccessToken",
                              "message": "access token is null or empty"
                          }
                      }
                schema:
                  type: object
                  properties:
                    error:
                      type: object
                      properties:
                        type:
                          type: string
                          example: missingAccessToken
                        message:
                          type: string
                          example: access token is null or empty
          '401':
            description: '401'
            content:
              application/json:
                examples:
                  Result:
                    value: |-
                      {
                          "error": {
                              "type": "invalidAccessToken",
                              "message": "access token is invalid"
                          }
                      }
                schema:
                  type: object
                  properties:
                    error:
                      type: object
                      properties:
                        type:
                          type: string
                          example: invalidAccessToken
                        message:
                          type: string
                          example: access token is invalid
          '500':
            description: '500'
            content:
              application/json:
                examples:
                  Result:
                    value: |-
                      {
                          "error": {
                              "type": "getCustomAttributesError",
                              "message": "there was an unknown error getting custom attributes."
                          }
                      }
                schema:
                  type: object
                  properties:
                    error:
                      type: object
                      properties:
                        type:
                          type: string
                          example: getCustomAttributesError
                        message:
                          type: string
                          example: there was an unknown error getting custom attributes.
        deprecated: false
        x-readme:
          code-samples:
            - language: curl
              code: >-
                curl -H "Content-Type: application/json" -H "Authorization:
                00000000-0000-0000-0000-000000000000"
                https://api.breezy.hr/v3/company/000000000000/custom-attributes/position
          samples-languages:
            - curl
    /v3/company/{company_id}/pipeline/{pipeline_id}:
      get:
        summary: /company/:id/pipeline/:id
        description: Retrieve pipeline stages by pipeline id
        operationId: company-pipeline
        parameters:
          - name: company_id
            in: path
            description: company id
            required: true
            schema:
              type: string
          - name: pipeline_id
            in: path
            description: pipeline id
            required: true
            schema:
              type: string
        responses:
          '200':
            description: '200'
            content:
              application/json:
                examples:
                  Result:
                    value: |-
                      [ // all stages on pipeline
                        {
                          "id": "applied",
                          "name": "Applied",
                          "icon": "user",
                          "action_count": 0,
                          "actions": {},
                          "type": "type",
                          "action": "action"
                        } . . .
                      ]
          '400':
            description: '400'
            content:
              application/json:
                examples:
                  Missing Access Token:
                    value: |-
                      {
                          "error": {
                              "type": "missingAccessToken",
                              "message": "access token is null or empty"
                          }
                      }
                schema:
                  type: object
                  properties:
                    error:
                      type: object
                      properties:
                        type:
                          type: string
                          example: missingAccessToken
                        message:
                          type: string
                          example: access token is null or empty
          '401':
            description: '401'
            content:
              application/json:
                examples:
                  Result:
                    value: |-
                      {
                          "error": {
                              "type": "invalidAccessToken",
                              "message": "access token is invalid"
                          }
                      }
                schema:
                  type: object
                  properties:
                    error:
                      type: object
                      properties:
                        type:
                          type: string
                          example: invalidAccessToken
                        message:
                          type: string
                          example: access token is invalid
          '500':
            description: '500'
            content:
              application/json:
                examples:
                  Result:
                    value: |-
                      {
                          "error": {
                              "type": "getPipelineError",
                              "message": "there was an unknown error getting pipeline."
                          }
                      }
                schema:
                  type: object
                  properties:
                    error:
                      type: object
                      properties:
                        type:
                          type: string
                          example: getPipelineError
                        message:
                          type: string
                          example: there was an unknown error getting pipeline.
        deprecated: false
        x-readme:
          code-samples:
            - language: curl
              code: >-
                curl -H "Content-Type: application/json" -H "Authorization:
                00000000-0000-0000-0000-000000000000"
                https://api.breezy.hr/v3/company/000000000000/pipeline/000000000000
          samples-languages:
            - curl
    /v3/company/{company_id}/pipelines:
      get:
        summary: /company/:id/pipelines
        description: Retrieve all of the company pipelines
        operationId: company-pipelines
        parameters:
          - name: company_id
            in: path
            description: company id
            required: true
            schema:
              type: string
        responses:
          '200':
            description: '200'
            content:
              application/json:
                examples:
                  Result:
                    value: "[\n\t\"<pipeline_id>\": {\n    Pipeline Object\n  },\n  ...\n]"
          '400':
            description: '400'
            content:
              application/json:
                examples:
                  Missing Access Token:
                    value: |-
                      {
                          "error": {
                              "type": "missingAccessToken",
                              "message": "access token is null or empty"
                          }
                      }
                schema:
                  type: object
                  properties:
                    error:
                      type: object
                      properties:
                        type:
                          type: string
                          example: missingAccessToken
                        message:
                          type: string
                          example: access token is null or empty
          '401':
            description: '401'
            content:
              application/json:
                examples:
                  Result:
                    value: |-
                      {
                          "error": {
                              "type": "invalidAccessToken",
                              "message": "access token is invalid"
                          }
                      }
                schema:
                  type: object
                  properties:
                    error:
                      type: object
                      properties:
                        type:
                          type: string
                          example: invalidAccessToken
                        message:
                          type: string
                          example: access token is invalid
          '500':
            description: '500'
            content:
              application/json:
                examples:
                  Result:
                    value: |-
                      {
                          "error": {
                              "type": "getPipelinesError",
                              "message": "there was an unknown error getting pipelines."
                          }
                      }
                schema:
                  type: object
                  properties:
                    error:
                      type: object
                      properties:
                        type:
                          type: string
                          example: getPipelinesError
                        message:
                          type: string
                          example: there was an unknown error getting pipelines.
        deprecated: false
        x-readme:
          code-samples:
            - language: curl
              code: >-
                curl -H "Content-Type: application/json" -H "Authorization:
                00000000-0000-0000-0000-000000000000"
                https://api.breezy.hr/v3/company/000000000000/pipelines
          samples-languages:
            - curl
    /v3/company/{company_id}/questionnaire/{questionnaire_id}:
      get:
        summary: /company/:id/questionnaire/:id
        description: Retrieve questionnaire by id
        operationId: company-questionnaire
        parameters:
          - name: company_id
            in: path
            required: true
            schema:
              type: string
          - name: questionnaire_id
            in: path
            required: true
            schema:
              type: string
        responses:
          '200':
            description: '200'
            content:
              application/json:
                examples:
                  Result:
                    value: |-
                      { 
                        Questionnaire Object
                      }
          '400':
            description: '400'
            content:
              application/json:
                examples:
                  Missing Access Token:
                    value: |-
                      {
                          "error": {
                              "type": "missingAccessToken",
                              "message": "access token is null or empty"
                          }
                      }
                schema:
                  type: object
                  properties:
                    error:
                      type: object
                      properties:
                        type:
                          type: string
                          example: missingAccessToken
                        message:
                          type: string
                          example: access token is null or empty
          '401':
            description: '401'
            content:
              application/json:
                examples:
                  Result:
                    value: |-
                      {
                          "error": {
                              "type": "invalidAccessToken",
                              "message": "access token is invalid"
                          }
                      }
                schema:
                  type: object
                  properties:
                    error:
                      type: object
                      properties:
                        type:
                          type: string
                          example: invalidAccessToken
                        message:
                          type: string
                          example: access token is invalid
          '500':
            description: '500'
            content:
              application/json:
                examples:
                  Result:
                    value: |-
                      {
                          "error": {
                              "type": "getTemplateError",
                              "message": "there was an unknown error getting questionnaire."
                          }
                      }
                schema:
                  type: object
                  properties:
                    error:
                      type: object
                      properties:
                        type:
                          type: string
                          example: getTemplateError
                        message:
                          type: string
                          example: there was an unknown error getting questionnaire.
        deprecated: false
        x-readme:
          code-samples:
            - language: curl
              code: >-
                curl -H "Content-Type: application/json" -H "Authorization:
                00000000-0000-0000-0000-000000000000"
                https://api.breezy.hr/v3/company/000000000000/questionnaire/000000000000
          samples-languages:
            - curl
    /v3/company/{company_id}/questionnaires:
      get:
        summary: /company/:id/questionnaires
        description: Retrieve all of the company questionnaires
        operationId: company-questionnaires
        parameters:
          - name: company_id
            in: path
            description: company id
            required: true
            schema:
              type: string
        responses:
          '200':
            description: '200'
            content:
              application/json:
                examples:
                  Result:
                    value: |-
                      [
                        { Questionnaire Object },
                        ...
                      ],
          '400':
            description: '400'
            content:
              application/json:
                examples:
                  Missing Access Token:
                    value: |-
                      {
                          "error": {
                              "type": "missingAccessToken",
                              "message": "access token is null or empty"
                          }
                      }
                schema:
                  type: object
                  properties:
                    error:
                      type: object
                      properties:
                        type:
                          type: string
                          example: missingAccessToken
                        message:
                          type: string
                          example: access token is null or empty
          '401':
            description: '401'
            content:
              application/json:
                examples:
                  Result:
                    value: |-
                      {
                          "error": {
                              "type": "invalidAccessToken",
                              "message": "access token is invalid"
                          }
                      }
                schema:
                  type: object
                  properties:
                    error:
                      type: object
                      properties:
                        type:
                          type: string
                          example: invalidAccessToken
                        message:
                          type: string
                          example: access token is invalid
          '500':
            description: '500'
            content:
              application/json:
                examples:
                  Result:
                    value: |-
                      {
                          "error": {
                              "type": "getTemplateError",
                              "message": "there was an unknown error getting questionnaires."
                          }
                      }
                schema:
                  type: object
                  properties:
                    error:
                      type: object
                      properties:
                        type:
                          type: string
                          example: getTemplateError
                        message:
                          type: string
                          example: there was an unknown error getting questionnaires.
        deprecated: false
        x-readme:
          code-samples:
            - language: curl
              code: >-
                curl -H "Content-Type: application/json" -H "Authorization:
                00000000-0000-0000-0000-000000000000"
                https://api.breezy.hr/v3/company/000000000000/questionnaires
          samples-languages:
            - curl
    /v3/company/{company_id}/template/{template_id}:
      get:
        summary: /company/:id/template/:id
        description: Retrieve email template by id
        operationId: company-template
        parameters:
          - name: company_id
            in: path
            description: company id
            required: true
            schema:
              type: string
          - name: template_id
            in: path
            description: template id
            required: true
            schema:
              type: string
        responses:
          '200':
            description: '200'
            content:
              application/json:
                examples:
                  Result:
                    value: |-
                      { 
                        Template Object
                      }
          '400':
            description: '400'
            content:
              application/json:
                examples:
                  Missing Access Token:
                    value: |-
                      {
                          "error": {
                              "type": "missingAccessToken",
                              "message": "access token is null or empty"
                          }
                      }
                schema:
                  type: object
                  properties:
                    error:
                      type: object
                      properties:
                        type:
                          type: string
                          example: missingAccessToken
                        message:
                          type: string
                          example: access token is null or empty
          '401':
            description: '401'
            content:
              application/json:
                examples:
                  Result:
                    value: |-
                      {
                          "error": {
                              "type": "invalidAccessToken",
                              "message": "access token is invalid"
                          }
                      }
                schema:
                  type: object
                  properties:
                    error:
                      type: object
                      properties:
                        type:
                          type: string
                          example: invalidAccessToken
                        message:
                          type: string
                          example: access token is invalid
          '500':
            description: '500'
            content:
              application/json:
                examples:
                  Result:
                    value: |-
                      {
                          "error": {
                              "type": "getTemplateError",
                              "message": "there was an unknown error getting template."
                          }
                      }
                schema:
                  type: object
                  properties:
                    error:
                      type: object
                      properties:
                        type:
                          type: string
                          example: getTemplateError
                        message:
                          type: string
                          example: there was an unknown error getting template.
        deprecated: false
        x-readme:
          code-samples:
            - language: curl
              code: >-
                curl -H "Content-Type: application/json" -H "Authorization:
                00000000-0000-0000-0000-000000000000"
                https://api.breezy.hr/v3/company/000000000000/template/000000000000
          samples-languages:
            - curl
    /v3/company/{company_id}/templates:
      get:
        summary: /company/:id/templates
        description: Retrieve all of the company email templates
        operationId: company-templates
        parameters:
          - name: company_id
            in: path
            description: company id
            required: true
            schema:
              type: string
        responses:
          '200':
            description: '200'
            content:
              application/json:
                examples:
                  Result:
                    value: |-
                      [
                        { Template Object },
                        ...
                      ],
          '400':
            description: '400'
            content:
              application/json:
                examples:
                  Missing Access Token:
                    value: |-
                      {
                          "error": {
                              "type": "missingAccessToken",
                              "message": "access token is null or empty"
                          }
                      }
                schema:
                  type: object
                  properties:
                    error:
                      type: object
                      properties:
                        type:
                          type: string
                          example: missingAccessToken
                        message:
                          type: string
                          example: access token is null or empty
          '401':
            description: '401'
            content:
              application/json:
                examples:
                  Result:
                    value: |-
                      {
                          "error": {
                              "type": "invalidAccessToken",
                              "message": "access token is invalid"
                          }
                      }
                schema:
                  type: object
                  properties:
                    error:
                      type: object
                      properties:
                        type:
                          type: string
                          example: invalidAccessToken
                        message:
                          type: string
                          example: access token is invalid
          '500':
            description: '500'
            content:
              application/json:
                examples:
                  Result:
                    value: |-
                      {
                          "error": {
                              "type": "getTemplateError",
                              "message": "there was an unknown error getting template."
                          }
                      }
                schema:
                  type: object
                  properties:
                    error:
                      type: object
                      properties:
                        type:
                          type: string
                          example: getTemplateError
                        message:
                          type: string
                          example: there was an unknown error getting template.
        deprecated: false
        x-readme:
          code-samples:
            - language: curl
              code: >-
                curl -H "Content-Type: application/json" -H "Authorization:
                00000000-0000-0000-0000-000000000000"
                https://api.breezy.hr/v3/company/000000000000/templates
          samples-languages:
            - curl
    /v3/companies:
      get:
        summary: /companies
        description: Retrieve the companies associated with the authenticated user
        operationId: companies
        responses:
          '200':
            description: '200'
            content:
              application/json:
                examples:
                  Result:
                    value: "[\n\t{ Company Object},\n  ...\n]"
          '400':
            description: '400'
            content:
              application/json:
                examples:
                  Missing Access Token:
                    value: |-
                      {
                          "error": {
                              "type": "missingAccessToken",
                              "message": "access token is null or empty"
                          }
                      }
                schema:
                  type: object
                  properties:
                    error:
                      type: object
                      properties:
                        type:
                          type: string
                          example: missingAccessToken
                        message:
                          type: string
                          example: access token is null or empty
          '401':
            description: '401'
            content:
              application/json:
                examples:
                  Result:
                    value: |-
                      {
                          "error": {
                              "type": "invalidAccessToken",
                              "message": "access token is invalid"
                          }
                      }
                schema:
                  type: object
                  properties:
                    error:
                      type: object
                      properties:
                        type:
                          type: string
                          example: invalidAccessToken
                        message:
                          type: string
                          example: access token is invalid
          '500':
            description: '500'
            content:
              application/json:
                examples:
                  Result:
                    value: |-
                      {
                          "error": {
                              "type": "getCompaniesError",
                              "message": "there was an unknown error getting companies."
                          }
                      }
                schema:
                  type: object
                  properties:
                    error:
                      type: object
                      properties:
                        type:
                          type: string
                          example: getCompaniesError
                        message:
                          type: string
                          example: there was an unknown error getting companies.
        deprecated: false
        x-readme:
          code-samples:
            - language: curl
              code: >-
                curl -H "Content-Type: application/json" -H "Authorization:
                00000000-0000-0000-0000-000000000000"
                https://api.breezy.hr/v3/companies
          samples-languages:
            - curl
    /v3/company/{company_id}/position/{position_id}:
      get:
        summary: ./position/:id
        description: Retrieve details for given position id
        operationId: company-position
        parameters:
          - name: company_id
            in: path
            description: company id
            required: true
            schema:
              type: string
          - name: position_id
            in: path
            description: position id
            required: true
            schema:
              type: string
        responses:
          '200':
            description: '200'
            content:
              application/json:
                examples:
                  Result:
                    value: |-
                      { 
                        Position Object      
                      }
          '400':
            description: '400'
            content:
              application/json:
                examples:
                  Missing Access Token:
                    value: |-
                      {
                          "error": {
                              "type": "missingAccessToken",
                              "message": "access token is null or empty"
                          }
                      }
                schema:
                  type: object
                  properties:
                    error:
                      type: object
                      properties:
                        type:
                          type: string
                          example: missingAccessToken
                        message:
                          type: string
                          example: access token is null or empty
          '401':
            description: '401'
            content:
              application/json:
                examples:
                  Result:
                    value: |-
                      {
                          "error": {
                              "type": "invalidAccessToken",
                              "message": "access token is invalid"
                          }
                      }
                schema:
                  type: object
                  properties:
                    error:
                      type: object
                      properties:
                        type:
                          type: string
                          example: invalidAccessToken
                        message:
                          type: string
                          example: access token is invalid
          '500':
            description: '500'
            content:
              application/json:
                examples:
                  Result:
                    value: |-
                      {
                          "error": {
                              "type": "getPositionError",
                              "message": "there was an unknown error getting position."
                          }
                      }
                schema:
                  type: object
                  properties:
                    error:
                      type: object
                      properties:
                        type:
                          type: string
                          example: getPositionError
                        message:
                          type: string
                          example: there was an unknown error getting position.
        deprecated: false
        x-readme:
          code-samples:
            - language: curl
              code: >-
                curl -H "Content-Type: application/json" -H "Authorization:
                00000000-0000-0000-0000-000000000000"
                https://api.breezy.hr/v3/company/000000000000/position/000000000000
          samples-languages:
            - curl
      put:
        summary: ./position/:id
        description: Update details for given position
        operationId: company-position-update
        parameters:
          - name: company_id
            in: path
            required: true
            schema:
              type: string
          - name: position_id
            in: path
            required: true
            schema:
              type: string
        requestBody:
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                  description:
                    type: string
                  type:
                    type: string
                    description: fullTime | partTime | contract | temporary | other
                  location:
                    type: object
                    properties: {}
                  department:
                    type: string
                  requisition_id:
                    type: string
                  category:
                    type: string
                    description: >-
                      software | design | product | sysadmin | devops | finance |
                      custserv | sales | marketing | pr | design-not-interactive |
                      hr | management | operations | other
                  experience:
                    type: string
                    description: >-
                      na | internship | entry-level | associate | mid-level |
                      senior-level | executive
                  education:
                    type: string
                    description: >-
                      unspecified | high-school | certification | vocational |
                      associate-degree | bachelor-degree | masters-degree |
                      doctorate | professional | some-college | vocational-diploma
                      | vocational-degree | some-high-school
                  custom_attributes:
                    type: array
                    description: >-
                      { name: String, value: String, secure: Boolean } - secure
                      determines if the value should be encrypted at rest
                  pipeline_id:
                    type: string
                  scorecard_id:
                    type: string
                  questionnaire_id:
                    type: string
                  tags:
                    type: array
                    items:
                      type: string
        responses:
          '200':
            description: '200'
            content:
              application/json:
                examples:
                  Result:
                    value: |-
                      {
                         Position Object
                      }
          '400':
            description: '400'
            content:
              application/json:
                examples:
                  Missing Access Token:
                    value: |-
                      {
                          "error": {
                              "type": "missingAccessToken",
                              "message": "access token is null or empty"
                          }
                      }
                  Missing Required Field:
                    value: |-
                      {
                          "error": {
                              "type": "addPosition<Field>Missing",
                              "message": "<field> is null or empty"
                          }
                      }
                  Result:
                    value: |-
                      {
                          "error": {
                              "type": "addPositionFieldInvalid",
                              "message": "<field>  must be one of the following values: <values>"
                          }
                      }
                schema:
                  oneOf:
                    - title: Missing Access Token
                      type: object
                      properties:
                        error:
                          type: object
                          properties:
                            type:
                              type: string
                              example: missingAccessToken
                            message:
                              type: string
                              example: access token is null or empty
                    - title: Missing Required Field
                      type: object
                      properties:
                        error:
                          type: object
                          properties:
                            type:
                              type: string
                              example: addPosition<Field>Missing
                            message:
                              type: string
                              example: <field> is null or empty
                    - type: object
                      properties:
                        error:
                          type: object
                          properties:
                            type:
                              type: string
                              example: addPositionFieldInvalid
                            message:
                              type: string
                              example: >-
                                <field>  must be one of the following values:
                                <values>
          '401':
            description: '401'
            content:
              application/json:
                examples:
                  Result:
                    value: |-
                      {
                          "error": {
                              "type": "invalidAccessToken",
                              "message": "access token is invalid"
                          }
                      }
                schema:
                  type: object
                  properties:
                    error:
                      type: object
                      properties:
                        type:
                          type: string
                          example: invalidAccessToken
                        message:
                          type: string
                          example: access token is invalid
          '500':
            description: '500'
            content:
              application/json:
                examples:
                  Result:
                    value: |-
                      {
                          "error": {
                              "type": "updatePositionError",
                              "message": "there was an unknown error updating position."
                          }
                      }
                schema:
                  type: object
                  properties:
                    error:
                      type: object
                      properties:
                        type:
                          type: string
                          example: updatePositionError
                        message:
                          type: string
                          example: there was an unknown error updating position.
        deprecated: false
        x-readme:
          code-samples:
            - language: http
              code: "PUT /v3/company/000000000000/position/000000000000 HTTP/1.1\nHost: api.breezy.hr\nAuthorization: 00000000-0000-0000-0000-000000000000\nContent-Type: application/json\n\n{\n  \"name\": \"New Job\",\n  \"type\": \"fullTime\",\n  \"description\": \"This is the job description\",\n  \"location\": {\n\t\t\"country\": \"US\",\n\t\t\"state\": \"FL\",\n\t\t\"city\": \"Jacksonville\",\n\t\t\"is_remote\": false\n  },\n  \"education\":\"high-school\",\n  \"category\": \"sysadmin\",\n  \"experience\": \"internship\",\n  \"custom_attributes\": [\n  \t{\n    \t\"name\": \"Max Salary\",\n      \"value\": \"1000000\",\n      \"secure\": true\n    }\n  ],\n  \"pipeline_id\": \"000000000000\", \n  \"scorecard_id\": \"000000000000\", \n  \"questionnaire_id\": \"000000000000\",\n  \"tags\": [\"technical\", \"junior\"]\n}"
            - language: curl
              code: >+
                curl -H "Content-Type: application/json" -H "Authorization:
                00000000-0000-0000-0000-000000000000" -X PUT -d '{ "name": "New
                Job", "type": "fullTime", "description": "This is the job
                description", "location": { "country": "US", "state": "FL",
                "city": "Jacksonville", "is_remote": false },
                "education":"high-school", "category": "sysadmin", "experience":
                "internship","custom_attributes": [ { "name": "Max Salary",
                "value": "1000000", "secure": true }], "pipeline_id":
                "000000000000", "scorecard_id": "000000000000",
                "questionnaire_id": "000000000000","tags": ["technical", "junior"]
                }'
                https://api.breezy.hr/v3/company/000000000000/position/000000000000

          samples-languages:
            - http
            - curl
    /v3/company/{company_id}/position/{position_id}/state:
      put:
        summary: ./position/:id/state
        description: Update details for given position
        operationId: company-position-state-update
        parameters:
          - name: company_id
            in: path
            required: true
            schema:
              type: string
          - name: position_id
            in: path
            required: true
            schema:
              type: string
        requestBody:
          content:
            application/json:
              schema:
                type: object
                required:
                  - state
                properties:
                  state:
                    type: string
                    description: published | draft | closed | archived
        responses:
          '204':
            description: '204'
            content:
              application/json:
                examples:
                  Result:
                    value: ''
          '400':
            description: '400'
            content:
              application/json:
                examples:
                  Missing Access Token:
                    value: |-
                      {
                          "error": {
                              "type": "missingAccessToken",
                              "message": "access token is null or empty"
                          }
                      }
                  Missing Required Field:
                    value: |-
                      {
                          "error": {
                              "type": "addPosition<Field>Missing",
                              "message": "<field> is null or empty"
                          }
                      }
                  Result:
                    value: |-
                      {
                          "error": {
                              "type": "addPositionFieldInvalid",
                              "message": "<field>  must be one of the following values: <values>"
                          }
                      }
                schema:
                  oneOf:
                    - title: Missing Access Token
                      type: object
                      properties:
                        error:
                          type: object
                          properties:
                            type:
                              type: string
                              example: missingAccessToken
                            message:
                              type: string
                              example: access token is null or empty
                    - title: Missing Required Field
                      type: object
                      properties:
                        error:
                          type: object
                          properties:
                            type:
                              type: string
                              example: addPosition<Field>Missing
                            message:
                              type: string
                              example: <field> is null or empty
                    - type: object
                      properties:
                        error:
                          type: object
                          properties:
                            type:
                              type: string
                              example: addPositionFieldInvalid
                            message:
                              type: string
                              example: >-
                                <field>  must be one of the following values:
                                <values>
          '401':
            description: '401'
            content:
              application/json:
                examples:
                  Result:
                    value: |-
                      {
                          "error": {
                              "type": "invalidAccessToken",
                              "message": "access token is invalid"
                          }
                      }
                schema:
                  type: object
                  properties:
                    error:
                      type: object
                      properties:
                        type:
                          type: string
                          example: invalidAccessToken
                        message:
                          type: string
                          example: access token is invalid
          '500':
            description: '500'
            content:
              application/json:
                examples:
                  Result:
                    value: |-
                      {
                          "error": {
                              "type": "updatePositionError",
                              "message": "there was an unknown error updating position."
                          }
                      }
                schema:
                  type: object
                  properties:
                    error:
                      type: object
                      properties:
                        type:
                          type: string
                          example: updatePositionError
                        message:
                          type: string
                          example: there was an unknown error updating position.
        deprecated: false
        x-readme:
          code-samples:
            - language: http
              code: |-
                PUT /v3/company/000000000000/position/000000000000/state HTTP/1.1
                Host: api.breezy.hr
                Authorization: 00000000-0000-0000-0000-000000000000
                Content-Type: application/json

                {
                  "state": "closed"  
                }
            - language: curl
              code: >+
                curl -H "Content-Type: application/json" -H "Authorization:
                00000000-0000-0000-0000-000000000000" -X PUT -d '{ "state":
                "closed" }'
                https://api.breezy.hr/v3/company/000000000000/position/000000000000/state

          samples-languages:
            - http
            - curl
    /v3/company/{company_id}/position/{position_id}/stream:
      get:
        summary: ./position/:id/stream
        description: Retrieve the last 30 activity stream events for the given position
        operationId: company-position-stream
        parameters:
          - name: company_id
            in: path
            description: company
            required: true
            schema:
              type: string
          - name: position_id
            in: path
            description: position id
            required: true
            schema:
              type: string
        responses:
          '200':
            description: '200'
            content:
              application/json:
                examples:
                  Result:
                    value: |-
                      [
                        {
                          "_id": String,            
                          "type": String,
                          "stream_id": String,
                          "object": {}, //the notification object specific to the notificationType above
                          "timestamp": Date
                        },
                        ...
                      ]
          '400':
            description: '400'
            content:
              application/json:
                examples:
                  Missing Access Token:
                    value: |-
                      {
                        "error": "No access token found"
                      }
                schema:
                  type: object
                  properties:
                    error:
                      type: string
                      example: No access token found
        deprecated: false
        x-readme:
          code-samples:
            - language: curl
              code: >-
                curl -H "Content-Type: application/json" -H "Authorization:
                00000000-0000-0000-0000-000000000000"
                https://api.breezy.hr/v3/company/000000000000/position/000000000000/stream
          samples-languages:
            - curl
    /v3/company/{company_id}/position/{position_id}/team:
      get:
        summary: ./position/:id/team
        description: Retrieve user objects of all position team members
        operationId: company-position-team
        parameters:
          - name: company_id
            in: path
            description: company id
            required: true
            schema:
              type: string
          - name: position_id
            in: path
            description: position id
            required: true
            schema:
              type: string
        responses:
          '200':
            description: '200'
            content:
              application/json:
                examples:
                  Result:
                    value: "[\n   {\n      \"_id\": String,\n      \"email_address\": String,\n      \"name\": String,\n      \"username\": String,\n      \"initial\": Char(1),\n      \"creation_date\": Date,\n      \"verified_email\": Boolean,\n      \"tz_offset\": String,\n      \"signature\": {\n        \"enabled\": Boolean,\n        \"body\": String\n      },\n      \"updated_date\": Date,\n      \"user_role\": {\n\t\t\t\t\"id\": \"member | hiring_manager\",\n\t\t\t\t\"name\": \"Hiring Team Member | Hiring Manager\"\n\t\t\t}\n   }\n]"
          '400':
            description: '400'
            content:
              application/json:
                examples:
                  Missing Access Token:
                    value: |-
                      {
                          "error": {
                              "type": "missingAccessToken",
                              "message": "access token is null or empty"
                          }
                      }
                schema:
                  type: object
                  properties:
                    error:
                      type: object
                      properties:
                        type:
                          type: string
                          example: missingAccessToken
                        message:
                          type: string
                          example: access token is null or empty
          '401':
            description: '401'
            content:
              application/json:
                examples:
                  Result:
                    value: |-
                      {
                          "error": {
                              "type": "invalidAccessToken",
                              "message": "access token is invalid"
                          }
                      }
                schema:
                  type: object
                  properties:
                    error:
                      type: object
                      properties:
                        type:
                          type: string
                          example: invalidAccessToken
                        message:
                          type: string
                          example: access token is invalid
          '500':
            description: '500'
            content:
              application/json:
                examples:
                  Result:
                    value: |-
                      {
                          "error": {
                              "type": "getPositionTeamError",
                              "message": "there was an unknown error getting position team."
                          }
                      }
                schema:
                  type: object
                  properties:
                    error:
                      type: object
                      properties:
                        type:
                          type: string
                          example: getPositionTeamError
                        message:
                          type: string
                          example: there was an unknown error getting position team.
        deprecated: false
        x-readme:
          code-samples:
            - language: curl
              code: >-
                curl -H "Content-Type: application/json" -H "Authorization:
                00000000-0000-0000-0000-000000000000"
                https://api.breezy.hr/v3/company/000000000000/position/000000000000/team
          samples-languages:
            - curl
    /v3/company/{company_id}/positions:
      get:
        summary: ./positions
        description: Retrieve all positions for given company in given state (status)
        operationId: company-positions
        parameters:
          - name: state
            in: query
            description: >-
              Specify an optional position state filter. e.g. draft, archived,
              published, closed, pending
            schema:
              type: string
              default: published
          - name: company_id
            in: path
            description: company id
            required: true
            schema:
              type: string
        responses:
          '200':
            description: '200'
            content:
              application/json:
                examples:
                  Result:
                    value: "[\n\t{ Position Object },\n  ...\n]"
          '400':
            description: '400'
            content:
              application/json:
                examples:
                  Missing Access Token:
                    value: |-
                      {
                          "error": {
                              "type": "missingAccessToken",
                              "message": "access token is null or empty"
                          }
                      }
                schema:
                  type: object
                  properties:
                    error:
                      type: object
                      properties:
                        type:
                          type: string
                          example: missingAccessToken
                        message:
                          type: string
                          example: access token is null or empty
          '401':
            description: '401'
            content:
              application/json:
                examples:
                  Result:
                    value: |-
                      {
                          "error": {
                              "type": "invalidAccessToken",
                              "message": "access token is invalid"
                          }
                      }
                schema:
                  type: object
                  properties:
                    error:
                      type: object
                      properties:
                        type:
                          type: string
                          example: invalidAccessToken
                        message:
                          type: string
                          example: access token is invalid
          '500':
            description: '500'
            content:
              application/json:
                examples:
                  Result:
                    value: |-
                      {
                          "error": {
                              "type": "getPositionsError",
                              "message": "there was an unknown error getting positions."
                          }
                      }
                schema:
                  type: object
                  properties:
                    error:
                      type: object
                      properties:
                        type:
                          type: string
                          example: getPositionsError
                        message:
                          type: string
                          example: there was an unknown error getting positions.
        deprecated: false
        x-readme:
          code-samples:
            - language: curl
              code: >-
                curl -H "Content-Type: application/json" -H "Authorization:
                00000000-0000-0000-0000-000000000000"
                https://api.breezy.hr/v3/company/000000000000/positions?state=published
          samples-languages:
            - curl
      post:
        summary: ./positions
        description: Create a new position
        operationId: company-positions-add
        parameters:
          - name: company_id
            in: path
            description: company id
            required: true
            schema:
              type: string
        requestBody:
          content:
            application/json:
              schema:
                type: object
                required:
                  - name
                  - description
                  - type
                  - location
                properties:
                  name:
                    type: string
                  description:
                    type: string
                  type:
                    type: string
                    description: fullTime | partTime | contract | temporary | other
                  location:
                    type: object
                    properties: {}
                  department:
                    type: string
                  requisition_id:
                    type: string
                  category:
                    type: string
                    description: >-
                      software | design | product | sysadmin | devops | finance |
                      custserv | sales | marketing | pr | design-not-interactive |
                      hr | management | operations | other
                  experience:
                    type: string
                    description: >-
                      na | internship | entry-level | associate | mid-level |
                      senior-level | executive
                  education:
                    type: string
                    description: >-
                      unspecified | high-school | certification | vocational |
                      associate-degree | bachelor-degree | masters-degree |
                      doctorate | professional | some-college | vocational-diploma
                      | vocational-degree | some-high-school
                  custom_attributes:
                    type: array
                    description: >-
                      { name: String, value: String, secure: Boolean } - secure
                      determines if the value should be encrypted at rest
                  pipeline_id:
                    type: string
                    default: default
                  scorecard_id:
                    type: string
                  questionnaire_id:
                    type: string
                  tags:
                    type: array
                    items:
                      type: string
        responses:
          '200':
            description: '200'
            content:
              application/json:
                examples:
                  Result:
                    value: |-
                      {
                         Position Object
                      }
          '400':
            description: '400'
            content:
              application/json:
                examples:
                  Missing Access Token:
                    value: |-
                      {
                          "error": {
                              "type": "missingAccessToken",
                              "message": "access token is null or empty"
                          }
                      }
                  Missing Required Field:
                    value: |-
                      {
                          "error": {
                              "type": "addPosition<Field>Missing",
                              "message": "<field> is null or empty"
                          }
                      }
                  Result:
                    value: |-
                      {
                          "error": {
                              "type": "addPositionFieldInvalid",
                              "message": "<field>  must be one of the following values: <values>"
                          }
                      }
                schema:
                  oneOf:
                    - title: Missing Access Token
                      type: object
                      properties:
                        error:
                          type: object
                          properties:
                            type:
                              type: string
                              example: missingAccessToken
                            message:
                              type: string
                              example: access token is null or empty
                    - title: Missing Required Field
                      type: object
                      properties:
                        error:
                          type: object
                          properties:
                            type:
                              type: string
                              example: addPosition<Field>Missing
                            message:
                              type: string
                              example: <field> is null or empty
                    - type: object
                      properties:
                        error:
                          type: object
                          properties:
                            type:
                              type: string
                              example: addPositionFieldInvalid
                            message:
                              type: string
                              example: >-
                                <field>  must be one of the following values:
                                <values>
          '401':
            description: '401'
            content:
              application/json:
                examples:
                  Result:
                    value: |-
                      {
                          "error": {
                              "type": "invalidAccessToken",
                              "message": "access token is invalid"
                          }
                      }
                schema:
                  type: object
                  properties:
                    error:
                      type: object
                      properties:
                        type:
                          type: string
                          example: invalidAccessToken
                        message:
                          type: string
                          example: access token is invalid
          '500':
            description: '500'
            content:
              application/json:
                examples:
                  Result:
                    value: |-
                      {
                          "error": {
                              "type": "addPositionError",
                              "message": "there was an unknown error creating position."
                          }
                      }
                schema:
                  type: object
                  properties:
                    error:
                      type: object
                      properties:
                        type:
                          type: string
                          example: addPositionError
                        message:
                          type: string
                          example: there was an unknown error creating position.
        deprecated: false
        x-readme:
          code-samples:
            - language: http
              code: "POST /v3/company/000000000000/positions HTTP/1.1\nHost: api.breezy.hr\nAuthorization: 00000000-0000-0000-0000-000000000000\nContent-Type: application/json\n\n{\n  \"name\": \"New Job\",\n  \"type\": \"fullTime\",\n  \"description\": \"This is the job description\",\n  \"location\": {\n\t\t\"country\": \"US\",\n\t\t\"state\": \"FL\",\n\t\t\"city\": \"Jacksonville\",\n\t\t\"is_remote\": false\n  },\n  \"education\":\"high-school\",\n  \"category\": \"sysadmin\",\n  \"experience\": \"internship\",\n  \"custom_attributes\": [\n  \t{\n    \t\"name\": \"Max Salary\",\n      \"value\": \"1000000\",\n      \"secure\": true\n    }\n  ],\n  \"pipeline_id\": \"000000000000\",\n  \"scorecard_id\": \"000000000000\",\n  \"questionnaire_id\": \"000000000000\",\n  \"tags\": [\"technical\", \"junior\"]\n}"
            - language: curl
              code: >+
                curl -H "Content-Type: application/json" -H "Authorization:
                00000000-0000-0000-0000-000000000000" -X POST -d '{ "name": "New
                Job", "type": "fullTime", "description": "This is the job
                description", "location": { "country": "US", "state": "FL",
                "city": "Jacksonville", "is_remote": false },
                "education":"high-school", "category": "sysadmin", "experience":
                "internship","custom_attributes": [ { "name": "Max Salary",
                "value": "1000000", "secure": true }], "pipeline_id":
                "000000000000", "scorecard_id": "000000000000",
                "questionnaire_id": "000000000000", "tags": ["technical",
                "junior"] }'
                https://api.breezy.hr/v3/company/000000000000/positions

          samples-languages:
            - http
            - curl
    /v3/company/{company_id}/position/{position_id}/custom-fields:
      get:
        summary: ./position/:id/custom-fields
        description: ''
        operationId: positionidcustom-fields
        parameters:
          - name: company_id
            in: path
            description: company id
            schema:
              type: string
            required: true
          - name: position_id
            in: path
            description: position id
            schema:
              type: string
            required: true
        responses:
          '200':
            description: '200'
            content:
              application/json:
                examples:
                  Result:
                    value: "[\n\tPosition Custom Field Object\n]"
          '400':
            description: '400'
            content:
              application/json:
                examples:
                  Missing Access Token:
                    value: |-
                      {
                          "error": {
                              "type": "missingAccessToken",
                              "message": "access token is null or empty"
                          }
                      }
                schema:
                  type: object
                  properties:
                    error:
                      type: object
                      properties:
                        type:
                          type: string
                          example: missingAccessToken
                        message:
                          type: string
                          example: access token is null or empty
          '401':
            description: '401'
            content:
              application/json:
                examples:
                  Result:
                    value: |-
                      {
                          "error": {
                              "type": "invalidAccessToken",
                              "message": "access token is invalid"
                          }
                      }
                schema:
                  type: object
                  properties:
                    error:
                      type: object
                      properties:
                        type:
                          type: string
                          example: invalidAccessToken
                        message:
                          type: string
                          example: access token is invalid
          '500':
            description: '500'
            content:
              application/json:
                examples:
                  Result:
                    value: |-
                      {
                          "error": {
                              "type": "getPositionCustomFieldsError",
                              "message": "there was an unknown error getting position custom fields."
                          }
                      }
                schema:
                  type: object
                  properties:
                    error:
                      type: object
                      properties:
                        type:
                          type: string
                          example: getPositionCustomFieldsError
                        message:
                          type: string
                          example: >-
                            there was an unknown error getting position custom
                            fields.
        deprecated: false
        x-readme:
          code-samples:
            - language: curl
              code: >-
                curl -H "Content-Type: application/json" -H "Authorization:
                00000000-0000-0000-0000-000000000000"
                https://api.breezy.hr/v3/company/000000000000/position/000000000000/custom-fields
          samples-languages:
            - curl
    /v3/company/{company_id}/position/{position_id}/custom-fields/{custom_field_id}:
      put:
        summary: ./position/:id/custom-fields/:id
        description: ''
        operationId: positionidcustom-fieldsid
        parameters:
          - name: company_id
            in: path
            description: company id
            schema:
              type: string
            required: true
          - name: position_id
            in: path
            description: position id
            schema:
              type: string
            required: true
          - name: custom_field_id
            in: path
            description: custom field id
            schema:
              type: string
            required: true
        requestBody:
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: string
        responses:
          '200':
            description: '200'
            content:
              application/json:
                examples:
                  Result:
                    value: "[\n\tPosition Custom Field Object\n]"
          '400':
            description: '400'
            content:
              application/json:
                examples:
                  Missing Access Token:
                    value: |-
                      {
                          "error": {
                              "type": "missingAccessToken",
                              "message": "access token is null or empty"
                          }
                      }
                schema:
                  type: object
                  properties:
                    error:
                      type: object
                      properties:
                        type:
                          type: string
                          example: missingAccessToken
                        message:
                          type: string
                          example: access token is null or empty
          '401':
            description: '401'
            content:
              application/json:
                examples:
                  Result:
                    value: |-
                      {
                          "error": {
                              "type": "invalidAccessToken",
                              "message": "access token is invalid"
                          }
                      }
                schema:
                  type: object
                  properties:
                    error:
                      type: object
                      properties:
                        type:
                          type: string
[...]
