publishJson:
  company: ChatKitty
  serviceName: false
  sdkName: chat-kitty-{language}-sdk
  clientName: ChatKitty
  metaDescription: >-
    ChatKitty gives you the tools to build real-time chat for web and mobile
    apps, complete with advanced features like moderation, offline messaging and
    analytics.
  apiStatusUrls: inherit
  homepage: chatkitty.com
  developerDocumentation: chatkitty.com/docs/api/reference
  categories:
    - communications_software
    - messaging
    - chat_platforms
    - chat_sdks
rawSpecString: |
  openapi: 3.0.1
  info:
    title: ChatKitty Platform API
    description: |-
      OpenAPI specification (OAS) for the ChatKitty Platform API.
      See the Interactive Docs to try ChatKitty API methods without writing code,
      and get the complete schema of resources exposed by the API.
    termsOfService: https://chatkitty.com/terms-of-service
    contact:
      name: Support
      url: mailto:support@chatkitty.com
    license:
      name: MIT
      url: https://opensource.org/licenses/MIT
    version: 2.58.3
  externalDocs:
    description: Platform API Interactive Docs
    url: https://api.chatkitty.com/docs/reference
  servers:
    - url: https://api.chatkitty.com
  tags:
    - name: analytics
      description: Export analytics data from your ChatKitty application
      x-displayName: Analytics
    - name: application
      description: Configure and manage your ChatKitty application
      x-displayName: Application
    - name: channels
      description: Operations to create, retrieve, update and delete channels
      x-displayName: Channels
    - name: chat-sessions
      description: Chat session operations
      x-displayName: Chat Sessions
    - name: function-versions
      description: Chat function version operations
      x-displayName: Chat Function Versions
    - name: functions
      description: Chat function operations
      x-displayName: Chat Functions
    - name: imports
      description: Import user, channel, message data into your ChatKitty application
      x-displayName: Imports
    - name: jobs
      description: >-
        Retrieve information about long running scheduled jobs like imports and
        exports
      x-displayName: Jobs
    - name: messages
      description: Operations to retrieve, update and delete messages
      x-displayName: Messages
    - name: runtime
      description: Chat runtime operations
      x-displayName: Chat Runtime
    - name: threads
      description: Message thread operations
      x-displayName: Threads
    - name: user-sessions
      description: User session operations
      x-displayName: User Sessions
    - name: users
      description: User operations
      x-displayName: Users
  paths:
    /v1/analytics/messages:
      post:
        tags:
          - analytics
        summary: Export message analytics
        description: Batch export message analytics data
        operationId: export-message-analytics
        responses:
          '202':
            description: Export job accepted
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ApplicationJobResource'
                example:
                  id: 203
                  type: MESSAGE_IMPORT
                  state: PENDING
                  createdTime: '2022-04-28T05:30:44.265Z'
                  endedTime: '2022-04-28T05:30:44.692Z'
                  _links:
                    self:
                      href: https://api.chatkitty.com/v1/applications/1/jobs/203
                    application:
                      href: https://api.chatkitty.com/v1/applications/1
              application/vnd.chatkitty+json:
                schema:
                  $ref: '#/components/schemas/ApplicationJobResource'
                example:
                  id: 203
                  type: MESSAGE_IMPORT
                  state: PENDING
                  createdTime: '2022-04-28T05:30:44.265Z'
                  endedTime: '2022-04-28T05:30:44.692Z'
                  _links:
                    self:
                      href: https://api.chatkitty.com/v1/applications/1/jobs/203
                    application:
                      href: https://api.chatkitty.com/v1/applications/1
              application/vnd.hal+json:
                schema:
                  $ref: '#/components/schemas/ApplicationJobResource'
                example:
                  id: 203
                  type: MESSAGE_IMPORT
                  state: PENDING
                  createdTime: '2022-04-28T05:30:44.265Z'
                  endedTime: '2022-04-28T05:30:44.692Z'
                  _links:
                    self:
                      href: https://api.chatkitty.com/v1/applications/1/jobs/203
                    application:
                      href: https://api.chatkitty.com/v1/applications/1
              application/hal+json:
                schema:
                  $ref: '#/components/schemas/ApplicationJobResource'
                example:
                  id: 203
                  type: MESSAGE_IMPORT
                  state: PENDING
                  createdTime: '2022-04-28T05:30:44.265Z'
                  endedTime: '2022-04-28T05:30:44.692Z'
                  _links:
                    self:
                      href: https://api.chatkitty.com/v1/applications/1/jobs/203
                    application:
                      href: https://api.chatkitty.com/v1/applications/1
          '400':
            description: Client error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ApiError'
                example:
                  error: ClientError
                  message: A client error occurred, check your request
                  timestamp: '2022-01-16T06:26:49.627204600Z'
          '401':
            description: >-
              Unauthorized: Full authentication is required to access this
              resource
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/AuthenticationError'
                example:
                  error: unauthorized
                  error_description: Full authentication is required to access this resource
          '403':
            description: Access is denied
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/AuthenticationError'
                example:
                  error: access_denied
                  error_description: Access is denied
          '404':
            description: Resource not found
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ApiError'
                example:
                  error: ResourceNotFoundError
                  message: Resource not found
                  timestamp: '2022-01-16T06:26:49.627204600Z'
        security:
          - application_authorization:
              - read:message
        x-codeSamples: []
    /v1/analytics/users:
      post:
        tags:
          - analytics
        summary: Export user analytics
        description: Batch export user analytics data
        operationId: export-user-analytics
        responses:
          '202':
            description: Export job accepted
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ApplicationJobResource'
                example:
                  id: 202
                  type: USER_IMPORT
                  state: PENDING
                  createdTime: '2022-03-28T05:30:44.265Z'
                  endedTime: '2022-03-28T05:30:44.692Z'
                  _links:
                    self:
                      href: https://api.chatkitty.com/v1/applications/1/jobs/202
                    application:
                      href: https://api.chatkitty.com/v1/applications/1
              application/vnd.chatkitty+json:
                schema:
                  $ref: '#/components/schemas/ApplicationJobResource'
                example:
                  id: 202
                  type: USER_IMPORT
                  state: PENDING
                  createdTime: '2022-03-28T05:30:44.265Z'
                  endedTime: '2022-03-28T05:30:44.692Z'
                  _links:
                    self:
                      href: https://api.chatkitty.com/v1/applications/1/jobs/202
                    application:
                      href: https://api.chatkitty.com/v1/applications/1
              application/vnd.hal+json:
                schema:
                  $ref: '#/components/schemas/ApplicationJobResource'
                example:
                  id: 202
                  type: USER_IMPORT
                  state: PENDING
                  createdTime: '2022-03-28T05:30:44.265Z'
                  endedTime: '2022-03-28T05:30:44.692Z'
                  _links:
                    self:
                      href: https://api.chatkitty.com/v1/applications/1/jobs/202
                    application:
                      href: https://api.chatkitty.com/v1/applications/1
              application/hal+json:
                schema:
                  $ref: '#/components/schemas/ApplicationJobResource'
                example:
                  id: 202
                  type: USER_IMPORT
                  state: PENDING
                  createdTime: '2022-03-28T05:30:44.265Z'
                  endedTime: '2022-03-28T05:30:44.692Z'
                  _links:
                    self:
                      href: https://api.chatkitty.com/v1/applications/1/jobs/202
                    application:
                      href: https://api.chatkitty.com/v1/applications/1
          '400':
            description: Client error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ApiError'
                example:
                  error: ClientError
                  message: A client error occurred, check your request
                  timestamp: '2022-01-16T06:26:49.627204600Z'
          '401':
            description: >-
              Unauthorized: Full authentication is required to access this
              resource
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/AuthenticationError'
                example:
                  error: unauthorized
                  error_description: Full authentication is required to access this resource
          '403':
            description: Access is denied
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/AuthenticationError'
                example:
                  error: access_denied
                  error_description: Access is denied
          '404':
            description: Resource not found
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ApiError'
                example:
                  error: ResourceNotFoundError
                  message: Resource not found
                  timestamp: '2022-01-16T06:26:49.627204600Z'
        security:
          - application_authorization:
              - read:user
        x-codeSamples: []
    /v1/application:
      get:
        tags:
          - application
        summary: Retrieve the authenticated application
        description: >-
          Returns the ChatKitty application associated with the authentication
          credentials used.


          You must use an **OAuth V2 Bearer token** to access this endpoint.
        operationId: retrieve-authenticated-application
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ApplicationResource'
              application/vnd.chatkitty+json:
                schema:
                  $ref: '#/components/schemas/ApplicationResource'
              application/vnd.hal+json:
                schema:
                  $ref: '#/components/schemas/ApplicationResource'
              application/hal+json:
                schema:
                  $ref: '#/components/schemas/ApplicationResource'
          '400':
            description: Client error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ApiError'
                example:
                  error: ClientError
                  message: A client error occurred, check your request
                  timestamp: '2022-01-16T06:26:49.627204600Z'
          '401':
            description: >-
              Unauthorized: Full authentication is required to access this
              resource
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/AuthenticationError'
                example:
                  error: unauthorized
                  error_description: Full authentication is required to access this resource
          '403':
            description: Access is denied
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/AuthenticationError'
                example:
                  error: access_denied
                  error_description: Access is denied
          '404':
            description: Resource not found
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ApiError'
                example:
                  error: ResourceNotFoundError
                  message: Resource not found
                  timestamp: '2022-01-16T06:26:49.627204600Z'
        security:
          - application_authorization:
              - read:application
        x-codeSamples:
          - lang: cURL
            source: |
              curl -X 'GET' \
                'https://api.chatkitty.com/v1/application' \
                -H 'accept: application/json' \
                -H 'Authorization: Bearer ACCESS-TOKEN'
          - lang: JavaScript
            source: |
              // npm install chatkitty-platform-sdk

              const chatkitty = new ChatKitty({
                clientId: 'CLIENT-ID',
                clientSecret: 'CLIENT-SECRET'
              })

              await chatkitty.Application.retrieveAuthenticatedApplication()
    /v1/application/settings:
      get:
        tags:
          - application
        summary: Retrieve the authenticated application settings
        description: Returns the current settings configuring this application
        operationId: retrieve-authenticated-application-settings
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ApplicationSettingsResource'
              application/vnd.chatkitty+json:
                schema:
                  $ref: '#/components/schemas/ApplicationSettingsResource'
              application/vnd.hal+json:
                schema:
                  $ref: '#/components/schemas/ApplicationSettingsResource'
              application/hal+json:
                schema:
                  $ref: '#/components/schemas/ApplicationSettingsResource'
          '400':
            description: Client error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ApiError'
                example:
                  error: ClientError
                  message: A client error occurred, check your request
                  timestamp: '2022-01-16T06:26:49.627204600Z'
          '401':
            description: >-
              Unauthorized: Full authentication is required to access this
              resource
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/AuthenticationError'
                example:
                  error: unauthorized
                  error_description: Full authentication is required to access this resource
          '403':
            description: Access is denied
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/AuthenticationError'
                example:
                  error: access_denied
                  error_description: Access is denied
          '404':
            description: Resource not found
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ApiError'
                example:
                  error: ResourceNotFoundError
                  message: Resource not found
                  timestamp: '2022-01-16T06:26:49.627204600Z'
        security:
          - application_authorization:
              - read:application
        x-codeSamples:
          - lang: cURL
            source: |
              curl -X 'GET' \
                'https://api.chatkitty.com/v1/application/settings' \
                -H 'accept: application/json' \
                -H 'Authorization: Bearer ACCESS-TOKEN'
          - lang: JavaScript
            source: >
              // npm install chatkitty-platform-sdk


              const chatkitty = new ChatKitty({
                clientId: 'CLIENT-ID',
                clientSecret: 'CLIENT-SECRET'
              })


              await
              chatkitty.Application.retrieveAuthenticatedApplicationSettings()
      put:
        tags:
          - application
        summary: Update the authenticated application settings
        description: Update the settings configuring this application
        operationId: update-authenticated-application-settings
        requestBody:
          content:
            application/vnd.chatkitty+json:
              schema:
                $ref: '#/components/schemas/ApplicationSettingsProperties'
          required: true
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ApplicationSettingsResource'
              application/vnd.chatkitty+json:
                schema:
                  $ref: '#/components/schemas/ApplicationSettingsResource'
              application/vnd.hal+json:
                schema:
                  $ref: '#/components/schemas/ApplicationSettingsResource'
              application/hal+json:
                schema:
                  $ref: '#/components/schemas/ApplicationSettingsResource'
          '400':
            description: Client error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ApiError'
                example:
                  error: ClientError
                  message: A client error occurred, check your request
                  timestamp: '2022-01-16T06:26:49.627204600Z'
          '401':
            description: >-
              Unauthorized: Full authentication is required to access this
              resource
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/AuthenticationError'
                example:
                  error: unauthorized
                  error_description: Full authentication is required to access this resource
          '403':
            description: Access is denied
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/AuthenticationError'
                example:
                  error: access_denied
                  error_description: Access is denied
          '404':
            description: Resource not found
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ApiError'
                example:
                  error: ResourceNotFoundError
                  message: Resource not found
                  timestamp: '2022-01-16T06:26:49.627204600Z'
        security:
          - application_authorization:
              - update:application
        x-codeSamples:
          - lang: cURL
            source: |
              curl -X 'PUT' \
                'https://api.chatkitty.com/v1/application/settings' \
                -H 'accept: application/json' \
                -H 'Authorization: Bearer ACCESS-TOKEN' \
                -H 'Content-Type: application/json' \
                -d '{
                "guestUsers": "DISABLED",
                "userCreatedChannels": "DISABLED"
              }'
          - lang: JavaScript
            source: |
              // npm install chatkitty-platform-sdk

              const chatkitty = new ChatKitty({
                clientId: 'CLIENT-ID',
                clientSecret: 'CLIENT-SECRET'
              })

              await chatkitty.Application.updateAuthenticatedApplicationSettings({
                guestUsers: 'DISABLED',
                userCreatedChannels: 'DISABLED'
              })
    /v1/channels:
      get:
        tags:
          - channels
        summary: List channels
        description: Returns a page of channels belonging to this application
        operationId: list-channels
        parameters:
          - name: page
            in: query
            description: Zero-based page index (0..N)
            required: false
            schema:
              minimum: 0
              type: integer
              default: 0
          - name: size
            in: query
            description: The size of the page to be returned
            required: false
            schema:
              minimum: 1
              type: integer
              default: 25
          - name: sort
            in: query
            description: >-
              Sorting criteria in the format: property,(asc|desc). Default sort
              order is ascending. Multiple sort criteria are supported.
            required: false
            schema:
              type: array
              items:
                type: string
          - name: type
            in: query
            description: Filters by channel type
            required: false
            schema:
              type: string
              description: The type of this channel
              enum:
                - DIRECT
                - PUBLIC
                - PRIVATE
          - name: members
            in: query
            description: Filters by channel members using their usernames
            required: false
            schema:
              uniqueItems: true
              type: array
              items:
                type: string
          - name: startTime
            in: query
            description: 'Filters for channels created within a time range: start time'
            required: false
            schema:
              type: string
              format: date-time
          - name: endTime
            in: query
            description: 'Filters for channels created within a time range: end time'
            required: false
            schema:
              type: string
              format: date-time
          - name: properties
            in: query
            description: Filters by channel custom properties
            required: false
            schema:
              type: string
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/PagedModelChannelResource'
              application/vnd.chatkitty+json:
                schema:
                  $ref: '#/components/schemas/PagedModelChannelResource'
              application/vnd.hal+json:
                schema:
                  $ref: '#/components/schemas/PagedModelChannelResource'
              application/hal+json:
                schema:
                  $ref: '#/components/schemas/PagedModelChannelResource'
          '400':
            description: Client error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ApiError'
                example:
                  error: ClientError
                  message: A client error occurred, check your request
                  timestamp: '2022-01-16T06:26:49.627204600Z'
          '401':
            description: >-
              Unauthorized: Full authentication is required to access this
              resource
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/AuthenticationError'
                example:
                  error: unauthorized
                  error_description: Full authentication is required to access this resource
          '403':
            description: Access is denied
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/AuthenticationError'
                example:
                  error: access_denied
                  error_description: Access is denied
          '404':
            description: Resource not found
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ApiError'
                example:
                  error: ResourceNotFoundError
                  message: Resource not found
                  timestamp: '2022-01-16T06:26:49.627204600Z'
        security:
          - application_authorization:
              - read:channel
        x-codeSamples:
          - lang: cURL
            source: |
              curl --location --request 'GET' \
                'https://api.chatkitty.com/v1/channels?page=0&size=5' \
                -H 'accept: application/json' \
                -H 'Authorization: Bearer ACCESS-TOKEN'
          - lang: JavaScript
            source: |
              // npm install chatkitty-platform-sdk

              const chatkitty = new ChatKitty({
                clientId: 'CLIENT-ID',
                clientSecret: 'CLIENT-SECRET'
              })

              await chatkitty.Channels.listChannels()
      post:
        tags:
          - channels
        summary: Create a channel
        description: Creates a new channel or returns an equivalent existing channel
        operationId: create-channel
        requestBody:
          content:
            application/vnd.chatkitty+json:
              schema:
                $ref: '#/components/schemas/CreateChannelResource'
          required: true
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ChannelResource'
              application/vnd.chatkitty+json:
                schema:
                  $ref: '#/components/schemas/ChannelResource'
              application/vnd.hal+json:
                schema:
                  $ref: '#/components/schemas/ChannelResource'
              application/hal+json:
                schema:
                  $ref: '#/components/schemas/ChannelResource'
          '400':
            description: Client error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ApiError'
                example:
                  error: ClientError
                  message: A client error occurred, check your request
                  timestamp: '2022-01-16T06:26:49.627204600Z'
          '401':
            description: >-
              Unauthorized: Full authentication is required to access this
              resource
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/AuthenticationError'
                example:
                  error: unauthorized
                  error_description: Full authentication is required to access this resource
          '403':
            description: Access is denied
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/AuthenticationError'
                example:
                  error: access_denied
                  error_description: Access is denied
          '404':
            description: Resource not found
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ApiError'
                example:
                  error: ResourceNotFoundError
                  message: Resource not found
                  timestamp: '2022-01-16T06:26:49.627204600Z'
        security:
          - application_authorization:
              - create:channel
        x-codeSamples:
          - lang: cURL
            source: |
              curl --location --request 'POST' \
                'https://api.chatkitty.com/v1/channels' \
                -H 'accept: application/json' \
                -H 'Authorization: Bearer ACCESS-TOKEN' \
                -H 'Content-Type: application/json' \
                -d '{
                "type": "PUBLIC",
                "name": "b0a0bd55-921a-4f72-8ee3-f26c6fda0bb7"
              }'
          - lang: JavaScript
            source: |
              // npm install chatkitty-platform-sdk

              const chatkitty = new ChatKitty({
                clientId: 'CLIENT-ID',
                clientSecret: 'CLIENT-SECRET'
              })

              await chatkitty.Channels.createChannel({
                type: "PUBLIC",
                name: "b0a0bd55-921a-4f72-8ee3-f26c6fda0bb7"
              })
    /v1/channels/{id}:
      get:
        tags:
          - channels
        summary: Retrieve a channel
        description: Returns a channel by ID
        operationId: retrieve-channel
        parameters:
          - name: id
            in: path
            description: Channel ID
            required: true
            schema:
              type: integer
              format: int64
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ChannelResource'
              application/vnd.chatkitty+json:
                schema:
                  $ref: '#/components/schemas/ChannelResource'
              application/vnd.hal+json:
                schema:
                  $ref: '#/components/schemas/ChannelResource'
              application/hal+json:
                schema:
                  $ref: '#/components/schemas/ChannelResource'
          '400':
            description: Client error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ApiError'
                example:
                  error: ClientError
                  message: A client error occurred, check your request
                  timestamp: '2022-01-16T06:26:49.627204600Z'
          '401':
            description: >-
              Unauthorized: Full authentication is required to access this
              resource
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/AuthenticationError'
                example:
                  error: unauthorized
                  error_description: Full authentication is required to access this resource
          '403':
            description: Access is denied
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/AuthenticationError'
                example:
                  error: access_denied
                  error_description: Access is denied
          '404':
            description: Resource not found
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ApiError'
                example:
                  error: ResourceNotFoundError
                  message: Resource not found
                  timestamp: '2022-01-16T06:26:49.627204600Z'
        security:
          - application_authorization:
              - read:channel
        x-codeSamples:
          - lang: cURL
            source: |
              curl --location --request 'GET' \
                'https://api.chatkitty.com/v1/channels/55913' \
                -H 'accept: application/json' \
                -H 'Authorization: Bearer ACCESS-TOKEN'
          - lang: JavaScript
            source: |
              // npm install chatkitty-platform-sdk

              const chatkitty = new ChatKitty({
                clientId: 'CLIENT-ID',
                clientSecret: 'CLIENT-SECRET'
              })

              await chatkitty.Channels.retrieveChannel(55913)
      delete:
        tags:
          - channels
        summary: Delete a channel
        description: Deletes a channel by ID
        operationId: delete-channel
        parameters:
          - name: id
            in: path
            description: Channel ID
            required: true
            schema:
              type: integer
              format: int64
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ApplicationResource'
              application/vnd.chatkitty+json:
                schema:
                  $ref: '#/components/schemas/ApplicationResource'
              application/vnd.hal+json:
                schema:
                  $ref: '#/components/schemas/ApplicationResource'
              application/hal+json:
                schema:
                  $ref: '#/components/schemas/ApplicationResource'
          '400':
            description: Client error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ApiError'
                example:
                  error: ClientError
                  message: A client error occurred, check your request
                  timestamp: '2022-01-16T06:26:49.627204600Z'
          '401':
            description: >-
              Unauthorized: Full authentication is required to access this
              resource
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/AuthenticationError'
                example:
                  error: unauthorized
                  error_description: Full authentication is required to access this resource
          '403':
            description: Access is denied
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/AuthenticationError'
                example:
                  error: access_denied
                  error_description: Access is denied
          '404':
            description: Resource not found
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ApiError'
                example:
                  error: ResourceNotFoundError
                  message: Resource not found
                  timestamp: '2022-01-16T06:26:49.627204600Z'
        security:
          - application_authorization:
              - read:channel
              - delete:channel
        x-codeSamples:
          - lang: cURL
            source: |
              curl --location --request 'DELETE' \
                'https://api.chatkitty.com/v1/channels/55913' \
                -H 'accept: application/json' \
                -H 'Authorization: Bearer ACCESS-TOKEN'
          - lang: JavaScript
            source: |
              // npm install chatkitty-platform-sdk

              const chatkitty = new ChatKitty({
                clientId: 'CLIENT-ID',
                clientSecret: 'CLIENT-SECRET'
              })

              await chatkitty.Channels.deleteChannel(55913)
      patch:
        tags:
          - channels
        summary: Update a channel
        description: Updates a channel properties
        operationId: update-channel
        parameters:
          - name: id
            in: path
            description: Channel ID
            required: true
            schema:
              type: integer
              format: int64
        requestBody:
          content:
            application/json+merge-patch:
              schema:
                $ref: '#/components/schemas/JsonMergePatch'
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ChannelResource'
              application/vnd.chatkitty+json:
                schema:
                  $ref: '#/components/schemas/ChannelResource'
              application/vnd.hal+json:
                schema:
                  $ref: '#/components/schemas/ChannelResource'
              application/hal+json:
                schema:
                  $ref: '#/components/schemas/ChannelResource'
          '400':
            description: Client error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ApiError'
                example:
                  error: ClientError
                  message: A client error occurred, check your request
                  timestamp: '2022-01-16T06:26:49.627204600Z'
          '401':
            description: >-
              Unauthorized: Full authentication is required to access this
              resource
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/AuthenticationError'
                example:
                  error: unauthorized
                  error_description: Full authentication is required to access this resource
          '403':
            description: Access is denied
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/AuthenticationError'
                example:
                  error: access_denied
                  error_description: Access is denied
          '404':
            description: Resource not found
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ApiError'
                example:
                  error: ResourceNotFoundError
                  message: Resource not found
                  timestamp: '2022-01-16T06:26:49.627204600Z'
        security:
          - application_authorization:
              - read:channel
              - update:channel
        x-codeSamples:
          - lang: cURL
            source: |
              curl --location --request 'PATCH' \
                'https://api.chatkitty.com/v1/channels/55913' \
                -H 'accept: application/json' \
                -H 'Authorization: Bearer ACCESS-TOKEN' \
                -H 'Content-Type: application/json+merge-patch' \
                -d '{
                "displayName": "A chatty channel"
              }'
          - lang: JavaScript
            source: |
              // npm install chatkitty-platform-sdk

              const chatkitty = new ChatKitty({
                clientId: 'CLIENT-ID',
                clientSecret: 'CLIENT-SECRET'
              })

              await chatkitty.Channels.updateChannel(55913, {
                displayName: "A chatty channel"
              })
    /v1/channels/{id}/events:
      post:
        tags:
          - channels
        summary: Send a channel event
        description: Sends a custom channel event
        operationId: send-channel-event
        parameters:
          - name: id
            in: path
            description: Channel ID
            required: true
            schema:
              type: integer
              format: int64
        requestBody:
          content:
            application/vnd.chatkitty+json:
              schema:
                $ref: '#/components/schemas/CreateChannelGenericEventResource'
          required: true
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ChannelGenericEventResource'
              application/vnd.chatkitty+json:
                schema:
                  $ref: '#/components/schemas/ChannelGenericEventResource'
              application/vnd.hal+json:
                schema:
                  $ref: '#/components/schemas/ChannelGenericEventResource'
              application/hal+json:
                schema:
                  $ref: '#/components/schemas/ChannelGenericEventResource'
          '400':
            description: Client error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ApiError'
                example:
                  error: ClientError
                  message: A client error occurred, check your request
                  timestamp: '2022-01-16T06:26:49.627204600Z'
          '401':
            description: >-
              Unauthorized: Full authentication is required to access this
              resource
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/AuthenticationError'
                example:
                  error: unauthorized
                  error_description: Full authentication is required to access this resource
          '403':
            description: Access is denied
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/AuthenticationError'
                example:
                  error: access_denied
                  error_description: Access is denied
          '404':
            description: Resource not found
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ApiError'
                example:
                  error: ResourceNotFoundError
                  message: Resource not found
                  timestamp: '2022-01-16T06:26:49.627204600Z'
        security:
          - application_authorization:
              - read:channel
              - create:channel_event
        x-codeSamples:
          - lang: cURL
            source: |
              curl --location --request 'POST' \
                'https://api.chatkitty.com/v1/channels/55913/events' \
                -H 'accept: application/json' \
                -H 'Authorization: Bearer ACCESS-TOKEN' \
                -H 'Content-Type: application/json' \
                -d '{
                "type": "My Custom Event",
                "properties": {
                  "payload": "Boom!",
                  "stuff": {
                    "favoriteNumber": 42,
                    "favoriteMovie": "Lilo and Stitch"
                  }
                }
              }'
          - lang: JavaScript
            source: |
              // npm install chatkitty-platform-sdk

              const chatkitty = new ChatKitty({
                clientId: 'CLIENT-ID',
                clientSecret: 'CLIENT-SECRET'
              })

              await chatkitty.Channels.sendChannelEvent(55913, {
                type: "My Custom Event",
                properties: {
                  payload: "Boom!",
                  stuff: {
                    "favoriteNumber": 42,
                    "favoriteMovie": "Lilo and Stitch"
                  }
                }
              })
    /v1/channels/{id}/invites:
      get:
        tags:
          - channels
        summary: List channel invites
        description: Returns a page of invites sent to join this channel
        operationId: list-channel-invites
        parameters:
          - name: id
            in: path
            description: Channel ID
            required: true
            schema:
              type: integer
              format: int64
          - name: page
            in: query
            description: Zero-based page index (0..N)
            required: false
            schema:
              minimum: 0
              type: integer
              default: 0
          - name: size
            in: query
            description: The size of the page to be returned
            required: false
            schema:
              minimum: 1
              type: integer
              default: 25
          - name: sort
            in: query
            description: >-
              Sorting criteria in the format: property,(asc|desc). Default sort
              order is ascending. Multiple sort criteria are supported.
            required: false
            schema:
              type: array
              items:
                type: string
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/PagedModelChannelInviteResource'
              application/vnd.chatkitty+json:
                schema:
                  $ref: '#/components/schemas/PagedModelChannelInviteResource'
              application/vnd.hal+json:
                schema:
                  $ref: '#/components/schemas/PagedModelChannelInviteResource'
              application/hal+json:
                schema:
                  $ref: '#/components/schemas/PagedModelChannelInviteResource'
          '400':
            description: Client error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ApiError'
                example:
                  error: ClientError
                  message: A client error occurred, check your request
                  timestamp: '2022-01-16T06:26:49.627204600Z'
          '401':
            description: >-
              Unauthorized: Full authentication is required to access this
              resource
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/AuthenticationError'
                example:
                  error: unauthorized
                  error_description: Full authentication is required to access this resource
          '403':
            description: Access is denied
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/AuthenticationError'
                example:
                  error: access_denied
                  error_description: Access is denied
          '404':
            description: Resource not found
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ApiError'
                example:
                  error: ResourceNotFoundError
                  message: Resource not found
                  timestamp: '2022-01-16T06:26:49.627204600Z'
        security:
          - application_authorization:
              - read:channel_invite
        x-codeSamples:
          - lang: cURL
            source: |
              curl --location --request 'GET' \
                'https://api.chatkitty.com/v1/channels/67026/invites?page=0&size=25' \
                -H 'accept: application/json' \
                -H 'Authorization: Bearer ACCESS-TOKEN'
          - lang: JavaScript
            source: |
              // npm install chatkitty-platform-sdk

              const chatkitty = new ChatKitty({
                clientId: 'CLIENT-ID',
                clientSecret: 'CLIENT-SECRET'
              })

              await chatkitty.Channels.listChannelInvites(67026)
      post:
        tags:
          - channels
        summary: Send a channel invite
        description: Sends a channel invite to user
        operationId: send-channel-invite
        parameters:
          - name: id
            in: path
            description: Channel ID
            required: true
            schema:
              type: integer
              format: int64
        requestBody:
          content:
            application/vnd.chatkitty+json:
              schema:
                $ref: '#/components/schemas/CreateChannelInviteResource'
          required: true
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ChannelInviteResource'
              application/vnd.chatkitty+json:
                schema:
                  $ref: '#/components/schemas/ChannelInviteResource'
              application/vnd.hal+json:
                schema:
                  $ref: '#/components/schemas/ChannelInviteResource'
              application/hal+json:
                schema:
                  $ref: '#/components/schemas/ChannelInviteResource'
          '400':
            description: Client error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ApiError'
                example:
                  error: ClientError
                  message: A client error occurred, check your request
                  timestamp: '2022-01-16T06:26:49.627204600Z'
          '401':
            description: >-
              Unauthorized: Full authentication is required to access this
              resource
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/AuthenticationError'
                example:
                  error: unauthorized
                  error_description: Full authentication is required to access this resource
          '403':
            description: Access is denied
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/AuthenticationError'
                example:
                  error: access_denied
                  error_description: Access is denied
          '404':
            description: Resource not found
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ApiError'
                example:
                  error: ResourceNotFoundError
                  message: Resource not found
                  timestamp: '2022-01-16T06:26:49.627204600Z'
        security:
          - application_authorization:
              - read:channel
              - read:user
              - create:channel_invite
        x-codeSamples:
          - lang: cURL
            source: |
              curl --location --request 'POST' \
                'https://api.chatkitty.com/v1/channels/67026/invites' \
                -H 'accept: application/json' \
                -H 'Authorization: Bearer ACCESS-TOKEN' \
                -H 'Content-Type: application/json' \
                -d '{
                user: {
                  "username": "jane@chatkitty.com"
                }
              }'
          - lang: JavaScript
            source: |
              // npm install chatkitty-platform-sdk

              const chatkitty = new ChatKitty({
                clientId: 'CLIENT-ID',
                clientSecret: 'CLIENT-SECRET'
              })

              await chatkitty.Channels.sendChannelInvite(67026, {
                user: {
                  username: "jane@chatkitty.com"
                }
              })
    /v1/channels/{id}/keystrokes:
      post:
        tags:
          - channels
        summary: Send channel keystrokes
        description: Sends keystrokes in this channel on behalf of a user
        operationId: send-channel-keystrokes
        parameters:
          - name: id
            in: path
            required: true
            schema:
              type: integer
              format: int64
        requestBody:
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/CreateDelegatedReplyThreadKeystrokesResource
          required: true
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ReplyThreadKeystrokesResource'
              application/vnd.chatkitty+json:
                schema:
                  $ref: '#/components/schemas/ReplyThreadKeystrokesResource'
              application/vnd.hal+json:
                schema:
                  $ref: '#/components/schemas/ReplyThreadKeystrokesResource'
              application/hal+json:
                schema:
                  $ref: '#/components/schemas/ReplyThreadKeystrokesResource'
          '400':
            description: Client error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ApiError'
                example:
                  error: ClientError
                  message: A client error occurred, check your request
                  timestamp: '2022-01-16T06:26:49.627204600Z'
          '401':
            description: >-
              Unauthorized: Full authentication is required to access this
              resource
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/AuthenticationError'
                example:
                  error: unauthorized
                  error_description: Full authentication is required to access this resource
          '403':
            description: Access is denied
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/AuthenticationError'
                example:
                  error: access_denied
                  error_description: Access is denied
          '404':
            description: Resource not found
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ApiError'
                example:
                  error: ResourceNotFoundError
                  message: Resource not found
                  timestamp: '2022-01-16T06:26:49.627204600Z'
        security:
          - application_authorization:
              - read:channel
              - read:user
              - create:keystrokes
        x-codeSamples: []
    /v1/channels/{id}/members:
      get:
        tags:
          - channels
        summary: List a channel's members
        description: Returns a page of channel members
        operationId: list-channel-members
        parameters:
          - name: id
            in: path
            description: Channel ID
            required: true
            schema:
              type: integer
              format: int64
          - name: page
            in: query
            description: Zero-based page index (0..N)
            required: false
            schema:
              minimum: 0
              type: integer
              default: 0
          - name: size
            in: query
            description: The size of the page to be returned
            required: false
            schema:
              minimum: 1
              type: integer
              default: 25
          - name: sort
            in: query
            description: >-
              Sorting criteria in the format: property,(asc|desc). Default sort
              order is ascending. Multiple sort criteria are supported.
            required: false
            schema:
              type: array
              items:
                type: string
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/PagedModelChatUserResource'
              application/vnd.chatkitty+json:
                schema:
                  $ref: '#/components/schemas/PagedModelChatUserResource'
              application/vnd.hal+json:
                schema:
                  $ref: '#/components/schemas/PagedModelChatUserResource'
              application/hal+json:
                schema:
                  $ref: '#/components/schemas/PagedModelChatUserResource'
          '400':
            description: Client error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ApiError'
                example:
                  error: ClientError
                  message: A client error occurred, check your request
                  timestamp: '2022-01-16T06:26:49.627204600Z'
          '401':
            description: >-
              Unauthorized: Full authentication is required to access this
              resource
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/AuthenticationError'
                example:
                  error: unauthorized
                  error_description: Full authentication is required to access this resource
          '403':
            description: Access is denied
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/AuthenticationError'
                example:
                  error: access_denied
                  error_description: Access is denied
          '404':
            description: Resource not found
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ApiError'
                example:
                  error: ResourceNotFoundError
                  message: Resource not found
                  timestamp: '2022-01-16T06:26:49.627204600Z'
        security:
          - application_authorization:
              - read:channel
              - read:channel_membership
        x-codeSamples:
          - lang: cURL
            source: |
              curl --location --request 'GET' \
                'https://api.chatkitty.com/v1/channels/67026/members?page=0&size=25' \
                -H 'accept: application/json' \
                -H 'Authorization: Bearer ACCESS-TOKEN'
          - lang: JavaScript
            source: |
              // npm install chatkitty-platform-sdk

              const chatkitty = new ChatKitty({
                clientId: 'CLIENT-ID',
                clientSecret: 'CLIENT-SECRET'
              })

              await chatkitty.Channels.listChannelMembers(67026)
      post:
        tags:
          - channels
        summary: Add a channel member
        description: Makes a user a group channel member
        operationId: add-channel-member
        parameters:
          - name: id
            in: path
            description: Channel ID
            required: true
            schema:
              type: integer
              format: int64
        requestBody:
          content:
            application/vnd.chatkitty+json:
              schema:
                $ref: '#/components/schemas/ChatUserReference'
          required: true
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ChannelResource'
              application/vnd.chatkitty+json:
                schema:
                  $ref: '#/components/schemas/ChannelResource'
              application/vnd.hal+json:
                schema:
                  $ref: '#/components/schemas/ChannelResource'
              application/hal+json:
                schema:
                  $ref: '#/components/schemas/ChannelResource'
          '400':
            description: Client error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ApiError'
                example:
                  error: ClientError
                  message: A client error occurred, check your request
                  timestamp: '2022-01-16T06:26:49.627204600Z'
          '401':
            description: >-
              Unauthorized: Full authentication is required to access this
              resource
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/AuthenticationError'
                example:
                  error: unauthorized
                  error_description: Full authentication is required to access this resource
          '403':
            description: Access is denied
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/AuthenticationError'
                example:
                  error: access_denied
                  error_description: Access is denied
          '404':
            description: Resource not found
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ApiError'
                example:
                  error: ResourceNotFoundError
                  message: Resource not found
                  timestamp: '2022-01-16T06:26:49.627204600Z'
        security:
          - application_authorization:
              - read:channel
              - read:user
              - create:channel_membership
        x-codeSamples:
          - lang: cURL
            source: |
              curl --location --request 'POST' \
                'https://api.chatkitty.com/v1/channels/55913/members' \
                -H 'accept: application/json' \
                -H 'Authorization: Bearer ACCESS-TOKEN' \
                -H 'Content-Type: application/json' \
                -d '{
                "username": "jane@chatkitty.com"
              }'
          - lang: JavaScript
            source: |
              // npm install chatkitty-platform-sdk

              const chatkitty = new ChatKitty({
                clientId: 'CLIENT-ID',
                clientSecret: 'CLIENT-SECRET'
              })

              await chatkitty.Channels.addChannelMember(55913, {
                username: "jane@chatkitty.com"
              })
    /v1/channels/{id}/members/{user_id}:
      delete:
        tags:
          - channels
        summary: Remove a channel member
        description: Removes a member from a group channel
        operationId: remove-channel-member
        parameters:
          - name: id
            in: path
            description: Channel ID
            required: true
            schema:
              type: integer
              format: int64
          - name: user_id
            in: path
            description: User ID of member to be removed
            required: true
            schema:
              type: integer
              format: int64
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ChannelResource'
              application/vnd.chatkitty+json:
                schema:
                  $ref: '#/components/schemas/ChannelResource'
              application/vnd.hal+json:
                schema:
                  $ref: '#/components/schemas/ChannelResource'
              application/hal+json:
                schema:
                  $ref: '#/components/schemas/ChannelResource'
          '400':
            description: Client error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ApiError'
                example:
                  error: ClientError
                  message: A client error occurred, check your request
                  timestamp: '2022-01-16T06:26:49.627204600Z'
          '401':
            description: >-
              Unauthorized: Full authentication is required to access this
              resource
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/AuthenticationError'
                example:
                  error: unauthorized
                  error_description: Full authentication is required to access this resource
          '403':
            description: Access is denied
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/AuthenticationError'
                example:
                  error: access_denied
                  error_description: Access is denied
          '404':
            description: Resource not found
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ApiError'
                example:
                  error: ResourceNotFoundError
                  message: Resource not found
                  timestamp: '2022-01-16T06:26:49.627204600Z'
        security:
          - application_authorization:
              - read:channel
              - read:user
              - delete:channel_membership
        x-codeSamples:
          - lang: cURL
            source: |
              curl --location --request 'DELETE' \
                'https://api.chatkitty.com/v1/channels/55913/members/14503' \
                -H 'accept: application/json' \
                -H 'Authorization: Bearer ACCESS-TOKEN'
          - lang: JavaScript
            source: |
              // npm install chatkitty-platform-sdk

              const chatkitty = new ChatKitty({
                clientId: 'CLIENT-ID',
                clientSecret: 'CLIENT-SECRET'
              })

              await chatkitty.Channels.removeChannelMember(55913, 14503)
    /v1/channels/{id}/memberships:
      get:
        tags:
          - channels
        summary: List channel memberships
        description: Returns a page of channel membership info for this channel
        operationId: list-channel-memberships
        parameters:
          - name: id
            in: path
            description: Channel ID
            required: true
            schema:
              type: integer
              format: int64
          - name: page
            in: query
            description: Zero-based page index (0..N)
            required: false
            schema:
              minimum: 0
              type: integer
              default: 0
          - name: size
            in: query
            description: The size of the page to be returned
            required: false
            schema:
              minimum: 1
              type: integer
              default: 25
          - name: sort
            in: query
            description: >-
              Sorting criteria in the format: property,(asc|desc). Default sort
              order is ascending. Multiple sort criteria are supported.
            required: false
            schema:
              type: array
              items:
                type: string
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/PagedModelChannelMembershipResource'
              application/vnd.chatkitty+json:
                schema:
                  $ref: '#/components/schemas/PagedModelChannelMembershipResource'
              application/vnd.hal+json:
                schema:
                  $ref: '#/components/schemas/PagedModelChannelMembershipResource'
              application/hal+json:
                schema:
                  $ref: '#/components/schemas/PagedModelChannelMembershipResource'
          '400':
            description: Client error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ApiError'
                example:
                  error: ClientError
                  message: A client error occurred, check your request
                  timestamp: '2022-01-16T06:26:49.627204600Z'
          '401':
            description: >-
              Unauthorized: Full authentication is required to access this
              resource
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/AuthenticationError'
                example:
                  error: unauthorized
                  error_description: Full authentication is required to access this resource
          '403':
            description: Access is denied
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/AuthenticationError'
                example:
                  error: access_denied
                  error_description: Access is denied
          '404':
            description: Resource not found
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ApiError'
                example:
                  error: ResourceNotFoundError
                  message: Resource not found
                  timestamp: '2022-01-16T06:26:49.627204600Z'
        security:
          - application_authorization:
              - read:channel
              - read:channel_membership
        x-codeSamples:
          - lang: cURL
            source: |
              curl --location --request 'GET' \
                'https://api.chatkitty.com/v1/channels/702/memberships?page=0&size=25' \
                -H 'accept: application/json' \
                -H 'Authorization: Bearer ACCESS-TOKEN'
          - lang: JavaScript
            source: |
              // npm install chatkitty-platform-sdk

              const chatkitty = new ChatKitty({
                clientId: 'CLIENT-ID',
                clientSecret: 'CLIENT-SECRET'
              })

              await chatkitty.Channels.listChannelMemberships(702)
    /v1/channels/{id}/messages:
      get:
        tags:
          - channels
        summary: List channel messages
        description: Returns a page of messages sent in this channel
        operationId: list-channel-messages
        parameters:
          - name: id
            in: path
            description: Channel ID
            required: true
            schema:
              type: integer
              format: int64
          - name: size
            in: query
            description: The size of the page to be returned
            required: false
            schema:
              type: integer
              format: int32
          - name: start
            in: query
            description: >-
              Start cursor value. Do not set manually. Provided by the Platform
              API pagination engine to fetch previous or next pages
            required: false
            schema:
              type: integer
              format: int64
          - name: next
            in: query
            description: >-
              Next page cursor value. Do not set manually. Provided by the
              Platform API pagination engine to fetch subsequent pages
            required: false
            schema:
              type: integer
              format: int64
          - name: relation
            in: query
            description: >-
              Page cursor relation. Do not set manually. Provided by the Platform
              API pagination engine to fetch previous or next pages
            required: false
            schema:
              type: string
              enum:
                - SELF
                - PREVIOUS
                - NEXT
          - name: username
            in: query
            required: false
            schema:
              type: string
          - name: query
            in: query
            required: false
            schema:
              type: string
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/CursorPagedModelMessageResource'
              application/vnd.chatkitty+json:
                schema:
                  $ref: '#/components/schemas/CursorPagedModelMessageResource'
              application/vnd.hal+json:
                schema:
                  $ref: '#/components/schemas/CursorPagedModelMessageResource'
              application/hal+json:
                schema:
                  $ref: '#/components/schemas/CursorPagedModelMessageResource'
          '400':
            description: Client error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ApiError'
                example:
                  error: ClientError
                  message: A client error occurred, check your request
                  timestamp: '2022-01-16T06:26:49.627204600Z'
          '401':
            description: >-
              Unauthorized: Full authentication is required to access this
              resource
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/AuthenticationError'
                example:
                  error: unauthorized
                  error_description: Full authentication is required to access this resource
          '403':
            description: Access is denied
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/AuthenticationError'
                example:
                  error: access_denied
                  error_description: Access is denied
          '404':
            description: Resource not found
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ApiError'
                example:
                  error: ResourceNotFoundError
                  message: Resource not found
                  timestamp: '2022-01-16T06:26:49.627204600Z'
        security:
          - application_authorization:
              - read:channel
              - read:message
        x-codeSamples:
          - lang: cURL
            source: |
              curl --location --request 'GET' \
                'https://api.chatkitty.com/v1/channels/702/messages' \
                -H 'accept: application/json' \
                -H 'Authorization: Bearer ACCESS-TOKEN'
          - lang: JavaScript
            source: |
              // npm install chatkitty-platform-sdk

              const chatkitty = new ChatKitty({
                clientId: 'CLIENT-ID',
                clientSecret: 'CLIENT-SECRET'
              })

              await chatkitty.Channels.listChannelMessages(702)
      post:
        tags:
          - channels
        summary: Send a channel message
        description: Sends a message in this channel as the system or on behalf of a user
        operationId: send-channel-message
        parameters:
          - name: id
            in: path
            description: Channel ID
            required: true
            schema:
              type: integer
              format: int64
        requestBody:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateMessageResource'
            multipart/form-data:
              schema:
                required:
                  - file
                type: object
                properties:
                  file:
                    type: string
                    format: binary
                  groupTag:
                    type: string
                  username:
                    type: string
                  properties:
                    type: string
          required: true
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/MessageResource'
              application/vnd.chatkitty+json:
                schema:
                  $ref: '#/components/schemas/MessageResource'
              application/vnd.hal+json:
                schema:
                  $ref: '#/components/schemas/MessageResource'
              application/hal+json:
                schema:
                  $ref: '#/components/schemas/MessageResource'
          '400':
            description: Client error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ApiError'
                example:
                  error: ClientError
                  message: A client error occurred, check your request
                  timestamp: '2022-01-16T06:26:49.627204600Z'
          '401':
            description: >-
              Unauthorized: Full authentication is required to access this
              resource
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/AuthenticationError'
                example:
                  error: unauthorized
                  error_description: Full authentication is required to access this resource
          '403':
            description: Access is denied
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/AuthenticationError'
                example:
                  error: access_denied
                  error_description: Access is denied
          '404':
            description: Resource not found
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ApiError'
                example:
                  error: ResourceNotFoundError
                  message: Resource not found
                  timestamp: '2022-01-16T06:26:49.627204600Z'
        security:
          - application_authorization:
              - read:channel
              - read:user
              - create:message
        x-codeSamples:
          - lang: cURL
            source: |
              curl --location --request 'POST' \
                'https://api.chatkitty.com/v1/channels/702/messages' \
                -H 'accept: application/json' \
                -H 'Authorization: Bearer ACCESS-TOKEN' \
                -H 'Content-Type: application/json' \
                -d '{
                  "type": "TEXT",
                  "body": "🌞"
              }'
          - lang: JavaScript
            source: |
              // npm install chatkitty-platform-sdk

              const chatkitty = new ChatKitty({
                clientId: 'CLIENT-ID',
                clientSecret: 'CLIENT-SECRET'
              })

              await chatkitty.Channels.sendChannelMessage(702, {
                "type": "TEXT",
                "body": "🌞"
              })
    /v1/channels/{id}/moderators:
      get:
        tags:
          - channels
        summary: Lists a channel's moderators
        description: Returns a page of channel moderators
        operationId: list-channel-moderators
        parameters:
          - name: id
            in: path
            description: Channel ID
            required: true
            schema:
              type: integer
              format: int64
          - name: page
            in: query
            description: Zero-based page index (0..N)
            required: false
            schema:
              minimum: 0
              type: integer
              default: 0
          - name: size
            in: query
            description: The size of the page to be returned
            required: false
            schema:
              minimum: 1
              type: integer
              default: 25
          - name: sort
            in: query
            description: >-
              Sorting criteria in the format: property,(asc|desc). Default sort
              order is ascending. Multiple sort criteria are supported.
            required: false
            schema:
              type: array
              items:
                type: string
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/PagedModelChatUserResource'
              application/vnd.chatkitty+json:
                schema:
                  $ref: '#/components/schemas/PagedModelChatUserResource'
              application/vnd.hal+json:
                schema:
                  $ref: '#/components/schemas/PagedModelChatUserResource'
              application/hal+json:
                schema:
                  $ref: '#/components/schemas/PagedModelChatUserResource'
          '400':
            description: Client error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ApiError'
                example:
                  error: ClientError
                  message: A client error occurred, check your request
                  timestamp: '2022-01-16T06:26:49.627204600Z'
          '401':
            description: >-
              Unauthorized: Full authentication is required to access this
              resource
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/AuthenticationError'
                example:
                  error: unauthorized
                  error_description: Full authentication is required to access this resource
          '403':
            description: Access is denied
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/AuthenticationError'
                example:
                  error: access_denied
                  error_description: Access is denied
          '404':
            description: Resource not found
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ApiError'
                example:
                  error: ResourceNotFoundError
                  message: Resource not found
                  timestamp: '2022-01-16T06:26:49.627204600Z'
        security:
          - application_authorization:
              - read:channel
              - read:channel_moderator
        x-codeSamples:
          - lang: cURL
            source: |
              curl --location --request 'GET' \
                'https://api.chatkitty.com/v1/channels/67026/moderators?page=0&size=25' \
                -H 'accept: application/json' \
                -H 'Authorization: Bearer ACCESS-TOKEN'
          - lang: JavaScript
            source: |
              // npm install chatkitty-platform-sdk

              const chatkitty = new ChatKitty({
                clientId: 'CLIENT-ID',
                clientSecret: 'CLIENT-SECRET'
              })

              await chatkitty.Channels.listChannelModerators(67026)
      post:
        tags:
          - channels
        summary: Add a channel moderator
        description: Makes a user a group channel moderator
        operationId: add-channel-moderator
        parameters:
          - name: id
            in: path
            description: Channel ID
            required: true
            schema:
              type: integer
              format: int64
        requestBody:
          content:
            application/vnd.chatkitty+json:
              schema:
                $ref: '#/components/schemas/ChatUserReference'
          required: true
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ChatUserResource'
              application/vnd.chatkitty+json:
                schema:
                  $ref: '#/components/schemas/ChatUserResource'
              application/vnd.hal+json:
                schema:
                  $ref: '#/components/schemas/ChatUserResource'
              application/hal+json:
                schema:
                  $ref: '#/components/schemas/ChatUserResource'
          '400':
            description: Client error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ApiError'
                example:
                  error: ClientError
                  message: A client error occurred, check your request
                  timestamp: '2022-01-16T06:26:49.627204600Z'
          '401':
            description: >-
              Unauthorized: Full authentication is required to access this
              resource
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/AuthenticationError'
                example:
                  error: unauthorized
                  error_description: Full authentication is required to access this resource
          '403':
            description: Access is denied
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/AuthenticationError'
                example:
                  error: access_denied
                  error_description: Access is denied
          '404':
            description: Resource not found
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ApiError'
                example:
                  error: ResourceNotFoundError
                  message: Resource not found
                  timestamp: '2022-01-16T06:26:49.627204600Z'
        security:
          - application_authorization:
              - read:channel
              - read:user
              - read:channel_membership
              - create:channel_moderator
        x-codeSamples:
          - lang: cURL
            source: |
              curl --location --request 'POST' \
                'https://api.chatkitty.com/v1/channels/55913/moderators' \
                -H 'accept: application/json' \
                -H 'Authorization: Bearer ACCESS-TOKEN' \
                -H 'Content-Type: application/json' \
                -d '{
                "username": "jane@chatkitty.com"
              }'
          - lang: JavaScript
            source: |
              // npm install chatkitty-platform-sdk

              const chatkitty = new ChatKitty({
                clientId: 'CLIENT-ID',
                clientSecret: 'CLIENT-SECRET'
              })

              await chatkitty.Channels.addChannelModerator(55913, {
                username: "jane@chatkitty.com"
              })
    /v1/channels/{id}/moderators/{user_id}:
      delete:
        tags:
          - channels
        summary: Remove a channel moderator
        description: Removes a moderator from a group channel
        operationId: remove-channel-moderator
        parameters:
          - name: id
            in: path
            description: Channel ID
            required: true
            schema:
              type: integer
              format: int64
          - name: user_id
            in: path
            description: User ID of moderator to be removed
            required: true
            schema:
              type: integer
              format: int64
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ChannelResource'
              application/vnd.chatkitty+json:
                schema:
                  $ref: '#/components/schemas/ChannelResource'
              application/vnd.hal+json:
                schema:
                  $ref: '#/components/schemas/ChannelResource'
              application/hal+json:
                schema:
                  $ref: '#/components/schemas/ChannelResource'
          '400':
            description: Client error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ApiError'
                example:
                  error: ClientError
                  message: A client error occurred, check your request
                  timestamp: '2022-01-16T06:26:49.627204600Z'
          '401':
            description: >-
              Unauthorized: Full authentication is required to access this
              resource
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/AuthenticationError'
                example:
                  error: unauthorized
                  error_description: Full authentication is required to access this resource
          '403':
            description: Access is denied
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/AuthenticationError'
                example:
                  error: access_denied
                  error_description: Access is denied
          '404':
            description: Resource not found
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ApiError'
                example:
                  error: ResourceNotFoundError
                  message: Resource not found
                  timestamp: '2022-01-16T06:26:49.627204600Z'
        security:
          - application_authorization:
              - read:channel
              - read:user
              - delete:channel_moderator
        x-codeSamples:
          - lang: cURL
            source: |
              curl --location --request 'DELETE' \
                'https://api.chatkitty.com/v1/channels/55913/moderators/14503' \
                -H 'accept: application/json' \
                -H 'Authorization: Bearer ACCESS-TOKEN'
          - lang: JavaScript
            source: |
              // npm install chatkitty-platform-sdk

              const chatkitty = new ChatKitty({
                clientId: 'CLIENT-ID',
                clientSecret: 'CLIENT-SECRET'
              })

              await chatkitty.Channels.removeChannelModerator(55913, 14503)
    /v1/channels/{id}/participants:
      get:
        tags:
          - channels
        summary: List channel participants
        description: >-
          Returns a page of channel active participants: members that currently
          online
        operationId: list-channel-participants
        parameters:
          - name: id
            in: path
            description: Channel ID
            required: true
            schema:
              type: integer
              format: int64
          - name: page
            in: query
            description: Zero-based page index (0..N)
            required: false
            schema:
              minimum: 0
              type: integer
              default: 0
          - name: size
            in: query
            description: The size of the page to be returned
            required: false
            schema:
              minimum: 1
              type: integer
              default: 25
          - name: sort
            in: query
            description: >-
              Sorting criteria in the format: property,(asc|desc). Default sort
              order is ascending. Multiple sort criteria are supported.
            required: false
            schema:
              type: array
              items:
                type: string
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/PagedModelChatUserResource'
              application/vnd.chatkitty+json:
                schema:
                  $ref: '#/components/schemas/PagedModelChatUserResource'
              application/vnd.hal+json:
                schema:
                  $ref: '#/components/schemas/PagedModelChatUserResource'
              application/hal+json:
                schema:
                  $ref: '#/components/schemas/PagedModelChatUserResource'
          '400':
            description: Client error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ApiError'
                example:
                  error: ClientError
                  message: A client error occurred, check your request
                  timestamp: '2022-01-16T06:26:49.627204600Z'
          '401':
            description: >-
              Unauthorized: Full authentication is required to access this
              resource
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/AuthenticationError'
                example:
                  error: unauthorized
                  error_description: Full authentication is required to access this resource
          '403':
            description: Access is denied
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/AuthenticationError'
                example:
                  error: access_denied
                  error_description: Access is denied
          '404':
            description: Resource not found
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ApiError'
                example:
                  error: ResourceNotFoundError
                  message: Resource not found
                  timestamp: '2022-01-16T06:26:49.627204600Z'
        security:
          - application_authorization:
              - read:channel
              - read:chat_session
        x-codeSamples:
          - lang: cURL
            source: |
              curl --location --request 'GET' \
                'https://api.chatkitty.com/v1/channels/702/participants?page=0&size=25' \
                -H 'accept: application/json' \
                -H 'Authorization: Bearer ACCESS-TOKEN'
          - lang: JavaScript
            source: |
              // npm install chatkitty-platform-sdk

              const chatkitty = new ChatKitty({
                clientId: 'CLIENT-ID',
                clientSecret: 'CLIENT-SECRET'
              })

              await chatkitty.Channels.listChannelParticipants(702)
    /v1/channels/{id}/reported-messages:
      get:
        tags:
          - channels
        summary: List channel reported messages
        description: Returns a page of reported messages in this channel
        operationId: list-channel-reported-messages
        parameters:
          - name: id
            in: path
            description: Channel ID
            required: true
            schema:
              type: integer
              format: int64
          - name: page
            in: query
            description: Zero-based page index (0..N)
            required: false
            schema:
              minimum: 0
              type: integer
              default: 0
          - name: size
            in: query
            description: The size of the page to be returned
            required: false
            schema:
              minimum: 1
              type: integer
              default: 25
          - name: sort
            in: query
            description: >-
              Sorting criteria in the format: property,(asc|desc). Default sort
              order is ascending. Multiple sort criteria are supported.
            required: false
            schema:
              type: array
              items:
                type: string
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/PagedModelMessageResource'
              application/vnd.chatkitty+json:
                schema:
                  $ref: '#/components/schemas/PagedModelMessageResource'
              application/vnd.hal+json:
                schema:
                  $ref: '#/components/schemas/PagedModelMessageResource'
              application/hal+json:
                schema:
                  $ref: '#/components/schemas/PagedModelMessageResource'
          '400':
            description: Client error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ApiError'
                example:
                  error: ClientError
                  message: A client error occurred, check your request
                  timestamp: '2022-01-16T06:26:49.627204600Z'
          '401':
            description: >-
              Unauthorized: Full authentication is required to access this
              resource
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/AuthenticationError'
                example:
                  error: unauthorized
                  error_description: Full authentication is required to access this resource
          '403':
            description: Access is denied
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/AuthenticationError'
                example:
                  error: access_denied
                  error_description: Access is denied
          '404':
            description: Resource not found
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ApiError'
                example:
                  error: ResourceNotFoundError
                  message: Resource not found
                  timestamp: '2022-01-16T06:26:49.627204600Z'
        security:
          - application_authorization:
              - read:channel
              - read:message_report
        x-codeSamples: []
    /v1/chat-sessions:
      get:
        tags:
          - chat-sessions
        summary: List chat sessions
        description: Returns a page of chat sessions belonging to this application
        operationId: list-chat-sessions
        parameters:
          - name: page
            in: query
            description: Zero-based page index (0..N)
            required: false
            schema:
              minimum: 0
              type: integer
              default: 0
          - name: size
            in: query
            description: The size of the page to be returned
            required: false
            schema:
              minimum: 1
              type: integer
              default: 25
          - name: sort
            in: query
            description: >-
              Sorting criteria in the format: property,(asc|desc). Default sort
              order is ascending. Multiple sort criteria are supported.
            required: false
            schema:
              type: array
              items:
                type: string
          - name: state
            in: query
            description: Filters by state
            required: false
            schema:
              type: string
[...]
