publishJson:
  company: ClickUp
  serviceName: false
  sdkName: click-up-{language}-sdk
  clientName: ClickUp
  metaDescription: >-
    ClickUp is a productivity platform that allows teams to manage tasks,
    documents, goals, and chat all in one place. With customizable features and
    integrations, ClickUp aims to streamline workflows and improve collaboration
    within organizations of all sizes.
  apiStatusUrls: inherit
  homepage: clickup.com
  developerDocumentation: clickup.com/api/
  categories:
    - productivity
    - collaboration
    - planning
    - agile
    - automation
    - docs
    - documentation
    - okr
    - goals
    - gantt
    - kanban
    - forms
    - wikis
    - roadmap
    - reporting
rawSpecString: |
  openapi: 3.1.0
  info:
    title: ClickUp API Reference
    description: >
      This is the ClickUp API Reference where you can learn about specific
      endpoints and parameters in detail.


      Browse the available endpoints using the sidebar on the left.


      **Not sure where to begin?**

      [Get Started with the ClickUp API](https://clickup.com/api)
    contact: {}
    version: '2.0'
  jsonSchemaDialect: https://json-schema.org/draft/2020-12/schema
  servers:
    - url: https://api.clickup.com/api/v2
      description: ClickUp
      variables: {}
    - url: https://a00fb6e0-339c-4201-972f-503b9932d17a.remockly.com
      description: Mock Server
      variables: {}
  paths:
    /task/{task_id}/attachment:
      post:
        summary: Create Task Attachment
        tags:
          - Attachments
        description: |-
          Upload a file to a task as an attachment. \
           \
          ***Note:** This request uses multipart/form-data as the content type.*
        operationId: CreateTaskAttachment
        parameters:
          - name: task_id
            in: path
            description: ''
            required: true
            style: simple
            schema:
              type: string
              examples:
                - 9hv
          - name: custom_task_ids
            in: query
            description: >-
              If you want to reference a task by it's custom task id, this value
              must be `true`.
            style: form
            explode: true
            schema:
              type: boolean
              examples:
                - true
          - name: team_id
            in: query
            description: |-
              Only used when the `custom_task_ids` parameter is set to `true`.\
               \
              For example: `custom_task_ids=true&team_id=123`.
            style: form
            explode: true
            schema:
              type: number
              contentEncoding: double
              examples:
                - 123
        requestBody:
          description: ''
          content:
            multipart/form-data:
              schema:
                properties:
                  attachment:
                    type: array
                    items: {}
          required: true
        responses:
          '200':
            description: ''
            headers: {}
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/CreateTaskAttachmentresponse'
                example:
                  id: ac434d4e-8b1c-4571-951b-866b6d9f2ee6.png
                  version: '0'
                  date: 1569988578766
                  title: image.png
                  extension: png
                  thumbnail_small: >-
                    https://attachments-public.clickup.com/ac434d4e-8b1c-4571-951b-866b6d9f2ee6/logo_small.png
                  thumbnail_large: >-
                    https://attachments-public.clickup.com/ac434d4e-8b1c-4571-951b-866b6d9f2ee6/logo_small.png
                  url: >-
                    https://attachments-public.clickup.com/ac434d4e-8b1c-4571-951b-866b6d9f2ee6/logo_small.png
        deprecated: false
      parameters: []
    /oauth/token:
      post:
        summary: Get Access Token
        tags:
          - Authorization
        description: >
          These are the routes for authing the API and going through the [OAuth
          flow](https://clickup.com/api).\
           \
          Applications utilizing a personal API token don't use this endpoint.\
           \
          ***Note:** OAuth tokens are not supported when using the [**Try It**
          feature](https://clickup.com/api) of our Reference docs. You can't try
          this endpoint from your web browser.*
        operationId: GetAccessToken
        parameters:
          - name: client_id
            in: query
            description: Oauth app client id
            required: true
            style: form
            explode: true
            schema:
              type: string
          - name: client_secret
            in: query
            description: Oauth app client secret
            required: true
            style: form
            explode: true
            schema:
              type: string
          - name: code
            in: query
            description: Code given in redirect url
            required: true
            style: form
            explode: true
            schema:
              type: string
        responses:
          '200':
            description: ''
            headers: {}
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/GetAccessTokenresponse'
                example:
                  access_token: access token
        deprecated: false
        security: []
        x-hideTryItPanel: true
      parameters: []
    /user:
      get:
        summary: Get Authorized User
        tags:
          - Authorization
        description: View the details of the authenticated user's ClickUp account.
        operationId: GetAuthorizedUser
        parameters: []
        responses:
          '200':
            description: ''
            headers: {}
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/GetAuthorizedUserresponse'
                example:
                  user:
                    id: 123
                    username: John Doe
                    color: '#000000'
                    profilePicture: https://clickup.com/avatar.jpg
        deprecated: false
      parameters: []
    /team:
      get:
        summary: Get Authorized Teams (Workspaces)
        tags:
          - Authorization
          - Teams - Workspaces
        description: View the Workspaces available to the authenticated user.
        operationId: GetAuthorizedTeams
        parameters: []
        responses:
          '200':
            description: ''
            headers: {}
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/GetAuthorizedTeamsresponse'
                example:
                  teams:
                    - id: '1234'
                      name: My ClickUp Workspace
                      color: '#000000'
                      avatar: https://clickup.com/avatar.jpg
                      members:
                        - user:
                            id: 123
                            username: John Doe
                            color: '#000000'
                            profilePicture: https://clickup.com/avatar.jpg
        deprecated: false
      parameters: []
    /task/{task_id}/checklist:
      post:
        summary: Create Checklist
        tags:
          - Task Checklists
        description: Add a new checklist to a task.
        operationId: CreateChecklist
        parameters:
          - name: task_id
            in: path
            description: ''
            required: true
            style: simple
            schema:
              type: string
              examples:
                - 9hz
          - name: custom_task_ids
            in: query
            description: >-
              If you want to reference a task by it's custom task id, this value
              must be `true`.
            style: form
            explode: true
            schema:
              type: boolean
              examples:
                - true
          - name: team_id
            in: query
            description: |-
              Only used when the `custom_task_ids` parameter is set to `true`.\
               \
              For example: `custom_task_ids=true&team_id=123`.
            style: form
            explode: true
            schema:
              type: number
              contentEncoding: double
              examples:
                - 123
        requestBody:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateChecklistrequest'
              example:
                name: Checklist
          required: true
        responses:
          '200':
            description: ''
            headers: {}
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/CreateChecklistresponse'
                example:
                  checklist:
                    id: b955c4dc-b8a8-48d8-a0c6-b4200788a683
                    task_id: 9hz
                    name: Checklist
                    orderindex: 0
                    resolved: 0
                    unresolved: 0
                    items: []
        deprecated: false
      parameters: []
    /checklist/{checklist_id}:
      put:
        summary: Edit Checklist
        tags:
          - Task Checklists
        description: >-
          Rename a task checklist, or reorder a checklist so it appears above or
          below other checklists on a task.
        operationId: EditChecklist
        parameters:
          - name: checklist_id
            in: path
            description: b8a8-48d8-a0c6-b4200788a683 (uuid)
            required: true
            style: simple
            schema:
              type: string
              examples:
                - b955c4dc
        requestBody:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EditChecklistrequest'
              example:
                name: Updated Checklist
                position: 1
          required: true
        responses:
          '200':
            description: ''
            headers: {}
            content:
              application/json:
                schema:
                  type: object
                  contentMediaType: application/json
        deprecated: false
      delete:
        summary: Delete Checklist
        tags:
          - Task Checklists
        description: Delete a checklist from a task.
        operationId: DeleteChecklist
        parameters:
          - name: checklist_id
            in: path
            description: b8a8-48d8-a0c6-b4200788a683 (uuid)
            required: true
            style: simple
            schema:
              type: string
              examples:
                - b955c4dc
        responses:
          '200':
            description: ''
            headers: {}
            content:
              application/json:
                schema:
                  type: object
                  examples:
                    - {}
                  contentMediaType: application/json
                example: {}
        deprecated: false
      parameters: []
    /checklist/{checklist_id}/checklist_item:
      post:
        summary: Create Checklist Item
        tags:
          - Task Checklists
        description: Add a line item to a task checklist.
        operationId: CreateChecklistItem
        parameters:
          - name: checklist_id
            in: path
            description: b8a8-48d8-a0c6-b4200788a683 (uuid)
            required: true
            style: simple
            schema:
              type: string
              examples:
                - b955c4dc
        requestBody:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateChecklistItemrequest'
              example:
                name: Checklist Item
                assignee: 183
          required: true
        responses:
          '200':
            description: ''
            headers: {}
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/CreateChecklistItemresponse'
                example:
                  checklist:
                    id: b955c4dc-b8a8-48d8-a0c6-b4200788a683
                    task_id: 9hv
                    name: Checklist
                    date_created: '1567711563204'
                    orderindex: 0
                    resolved: 0
                    unresolved: 1
                    items:
                      - id: 21e08dc8-e491-47f5-9fd8-d1dc4cedcc6f
                        name: Checklist Item
                        orderindex: 0
                        assignee:
                          id: 183
                          username: John Doe
                          email: example@email.com
                          color: '#827718'
                          initials: JD
                          profilePicture: >-
                            https://dev-attachments-public.clickup.com/profilePictures/183_nx1.jpg
                        resolved: false
                        parent: null
                        date_created: '1567711566859'
                        children: []
        deprecated: false
      parameters: []
    /checklist/{checklist_id}/checklist_item/{checklist_item_id}:
      put:
        summary: Edit Checklist Item
        tags:
          - Task Checklists
        description: >-
          Update an individual line item in a task checklist. \
           \
          You can rename it, set the assignee, mark it as resolved, or nest it
          under another checklist item.
        operationId: EditChecklistItem
        parameters:
          - name: checklist_id
            in: path
            description: b8a8-48d8-a0c6-b4200788a683 (uuid)
            required: true
            style: simple
            schema:
              type: string
              examples:
                - b955c4dc
          - name: checklist_item_id
            in: path
            description: e491-47f5-9fd8-d1dc4cedcc6f (uuid)
            required: true
            style: simple
            schema:
              type: string
              examples:
                - 21e08dc8
        requestBody:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EditChecklistItemrequest'
              example:
                name: Updated Checklist Item
                assignee: null
                resolved: true
                parent: null
          required: true
        responses:
          '200':
            description: ''
            headers: {}
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/EditChecklistItemresponse'
                example:
                  checklist:
                    id: b955c4dc-b8a8-48d8-a0c6-b4200788a683
                    task_id: 9hv
                    name: Checklist
                    date_created: '1567711563204'
                    orderindex: 0
                    resolved: 1
                    unresolved: 0
                    items:
                      - id: 21e08dc8-e491-47f5-9fd8-d1dc4cedcc6f
                        name: Updated Checklist Item
                        orderindex: 0
                        assignee: null
                        resolved: true
                        parent: null
                        date_created: '1567711566859'
                        children: []
        deprecated: false
      delete:
        summary: Delete Checklist Item
        tags:
          - Task Checklists
        description: Delete a line item from a task checklist.
        operationId: DeleteChecklistItem
        parameters:
          - name: checklist_id
            in: path
            description: b8a8-48d8-a0c6-b4200788a683 (uuid)
            required: true
            style: simple
            schema:
              type: string
              examples:
                - b955c4dc
          - name: checklist_item_id
            in: path
            description: e491-47f5-9fd8-d1dc4cedcc6f (uuid)
            required: true
            style: simple
            schema:
              type: string
              examples:
                - 21e08dc8
        responses:
          '200':
            description: ''
            headers: {}
            content:
              application/json:
                schema:
                  type: object
                  examples:
                    - {}
                  contentMediaType: application/json
                example: {}
        deprecated: false
      parameters: []
    /task/{task_id}/comment:
      get:
        summary: Get Task Comments
        description: >-
          View task comments. \
           \
          If you do not include the `start` and `start_id` parameters, this
          endpoint will return the most recent 25 comments.\
           \
          Use the `start` and `start id` parameters of the oldest comment to
          retrieve the next 25 comments.
        tags:
          - Comments
        operationId: GetTaskComments
        parameters:
          - name: task_id
            in: path
            description: ''
            required: true
            style: simple
            schema:
              type: string
              examples:
                - 9hz
          - name: custom_task_ids
            in: query
            description: >-
              If you want to reference a task by it's custom task id, this value
              must be `true`.
            style: form
            explode: true
            schema:
              type: boolean
              examples:
                - true
          - name: team_id
            in: query
            description: |-
              Only used when the `custom_task_ids` parameter is set to `true`.\
               \
              For example: `custom_task_ids=true&team_id=123`.
            style: form
            explode: true
            schema:
              type: number
              contentEncoding: double
              examples:
                - 123
          - name: start
            in: query
            description: Enter the `date` of a task comment using Unix time in milliseconds.
            style: form
            explode: true
            schema:
              type: integer
              contentEncoding: int32
          - name: start_id
            in: query
            description: Enter the Comment `id` of a task comment.
            style: form
            explode: true
            schema:
              type: string
        responses:
          '200':
            description: ''
            headers: {}
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/GetTaskCommentsresponse'
                example:
                  comments:
                    - id: '458'
                      comment:
                        - text: Task comment content
                      comment_text: Task comment content
                      user:
                        id: 183
                        username: John Doe
                        initials: JD
                        email: johndoe@gmail.com
                        color: '#827718'
                        profilePicture: >-
                          https://attachments-public.clickup.com/profilePictures/183_abc.jpg
                      resolved: false
                      assignee:
                        id: 183
                        username: John Doe
                        initials: JD
                        email: johndoe@gmail.com
                        color: '#827718'
                        profilePicture: >-
                          https://attachments-public.clickup.com/profilePictures/183_abc.jpg
                      assigned_by:
                        id: 183
                        username: John Doe
                        initials: JD
                        email: johndoe@gmail.com
                        color: '#827718'
                        profilePicture: >-
                          https://attachments-public.clickup.com/profilePictures/183_abc.jpg
                      reactions: []
                      date: '1568036964079'
        deprecated: false
      post:
        summary: Create Task Comment
        tags:
          - Comments
        description: Add a new comment to a task.
        operationId: CreateTaskComment
        parameters:
          - name: task_id
            in: path
            description: ''
            required: true
            style: simple
            schema:
              type: string
              examples:
                - 9hz
          - name: custom_task_ids
            in: query
            description: >-
              If you want to reference a task by it's custom task id, this value
              must be `true`.
            style: form
            explode: true
            schema:
              type: boolean
              examples:
                - true
          - name: team_id
            in: query
            description: |-
              Only used when the `custom_task_ids` parameter is set to `true`.\
               \
              For example: `custom_task_ids=true&team_id=123`.
            style: form
            explode: true
            schema:
              type: number
              contentEncoding: double
              examples:
                - 123
        requestBody:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateTaskCommentrequest'
              example:
                comment_text: Task comment content
                assignee: 183
                notify_all: true
          required: true
        responses:
          '200':
            description: ''
            headers: {}
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/CreateTaskCommentresponse'
                example:
                  id: '458'
                  hist_id: '26508'
                  date: 1568036964079
        deprecated: false
      parameters: []
    /view/{view_id}/comment:
      get:
        summary: Get Chat View Comments
        description: >-
          View comments from a Chat view. \
           \
          If you do not include the `start` and `start_id` parameters, this
          endpoint will return the most recent 25 comments.\
           \
          Use the `start` and `start id` parameters of the oldest comment to
          retrieve the next 25 comments.
        tags:
          - Comments
        operationId: GetChatViewComments
        parameters:
          - name: view_id
            in: path
            description: 105 (string)
            required: true
            style: simple
            schema:
              type: string
              examples:
                - 3c
          - name: start
            in: query
            description: >-
              Enter the `date` of a Chat view comment using Unix time in
              milliseconds.
            style: form
            explode: true
            schema:
              type: integer
              contentEncoding: int32
          - name: start_id
            in: query
            description: Enter the Comment `id` of a Chat view comment.
            style: form
            explode: true
            schema:
              type: string
        responses:
          '200':
            description: ''
            headers: {}
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/GetChatViewCommentsresponse'
                example:
                  comments:
                    - id: '459'
                      comment:
                        - text: View comment content
                      comment_text: View comment content
                      user:
                        id: 183
                        username: John Doe
                        initials: JD
                        email: johndoe@gmail.com
                        color: '#827718'
                        profilePicture: >-
                          https://attachments-public.clickup.com/profilePictures/183_abc.jpg
                      resolved: false
                      assignee: null
                      assigned_by: null
                      reactions: []
                      date: '1568036964079'
        deprecated: false
      post:
        summary: Create Chat View Comment
        tags:
          - Comments
        description: Add a new comment to a Chat view.
        operationId: CreateChatViewComment
        parameters:
          - name: view_id
            in: path
            description: 105 (string)
            required: true
            style: simple
            schema:
              type: string
              examples:
                - 3c
        requestBody:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateChatViewCommentrequest'
              example:
                comment_text: View comment content
                notify_all: true
          required: true
        responses:
          '200':
            description: ''
            headers: {}
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/CreateChatViewCommentresponse'
                example:
                  id: '459'
                  hist_id: 0a45e16e-4e2f-4a9e-99ec-3cf520b87eae
                  date: 1568037065216
        deprecated: false
      parameters: []
    /list/{list_id}/comment:
      get:
        summary: Get List Comments
        description: >-
          View the comments added to a List. \
           \
          If you do not include the `start` and `start_id` parameters, this
          endpoint will return the most recent 25 comments.\
           \
          Use the `start` and `start id` parameters of the oldest comment to
          retrieve the next 25 comments.
        tags:
          - Comments
        operationId: GetListComments
        parameters:
          - name: list_id
            in: path
            description: ''
            required: true
            style: simple
            schema:
              type: number
              contentEncoding: double
              examples:
                - 124
          - name: start
            in: query
            description: >-
              Enter the `date` of a List info comment using Unix time in
              milliseconds.
            style: form
            explode: true
            schema:
              type: integer
              contentEncoding: int32
          - name: start_id
            in: query
            description: Enter the Comment `id` of a List info comment.
            style: form
            explode: true
            schema:
              type: string
        responses:
          '200':
            description: ''
            headers: {}
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/GetListCommentsresponse'
                example:
                  comments:
                    - id: '462'
                      comment:
                        - text: List comment content
                      comment_text: List comment content
                      user:
                        id: 183
                        username: John Doe
                        initials: JD
                        email: johndoe@gmail.com
                        color: '#827718'
                        profilePicture: >-
                          https://attachments-public.clickup.com/profilePictures/183_abc.jpg
                      resolved: false
                      assignee:
                        id: 183
                        username: John Doe
                        initials: JD
                        email: johndoe@gmail.com
                        color: '#827718'
                        profilePicture: >-
                          https://attachments-public.clickup.com/profilePictures/183_abc.jpg
                      assigned_by:
                        id: 183
                        username: John Doe
                        initials: JD
                        email: johndoe@gmail.com
                        color: '#827718'
                        profilePicture: >-
                          https://attachments-public.clickup.com/profilePictures/183_abc.jpg
                      reactions: []
                      date: '1568036964079'
        deprecated: false
      post:
        summary: Create List Comment
        tags:
          - Comments
        description: Add a comment to a List.
        operationId: CreateListComment
        parameters:
          - name: list_id
            in: path
            description: ''
            required: true
            style: simple
            schema:
              type: number
              contentEncoding: double
              examples:
                - 124
        requestBody:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateListCommentrequest'
              example:
                comment_text: List comment content
                assignee: 183
                notify_all: true
          required: true
        responses:
          '200':
            description: ''
            headers: {}
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/CreateListCommentresponse'
                example:
                  id: '462'
                  hist_id: 5bbea9ad-7cc3-4038-a8bb-a89ac1337c08
                  date: 1568037341249
        deprecated: false
      parameters: []
    /comment/{comment_id}:
      put:
        summary: Update Comment
        tags:
          - Comments
        description: >-
          Replace the content of a task commment, assign a comment, and mark a
          comment as resolved.
        operationId: UpdateComment
        parameters:
          - name: comment_id
            in: path
            description: ''
            required: true
            style: simple
            schema:
              type: number
              contentEncoding: double
              examples:
                - 456
        requestBody:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateCommentrequest'
              example:
                comment_text: Updated comment content
                assignee: 183
                resolved: true
          required: true
        responses:
          '200':
            description: ''
            headers: {}
            content:
              application/json:
                schema:
                  type: object
                  examples:
                    - {}
                  contentMediaType: application/json
                example: {}
        deprecated: false
      delete:
        summary: Delete Comment
        tags:
          - Comments
        description: Delete a task comment.
        operationId: DeleteComment
        parameters:
          - name: comment_id
            in: path
            description: ''
            required: true
            style: simple
            schema:
              type: number
              contentEncoding: double
              examples:
                - 456
        responses:
          '200':
            description: ''
            headers: {}
            content:
              application/json:
                schema:
                  type: object
                  examples:
                    - {}
                  contentMediaType: application/json
                example: {}
        deprecated: false
      parameters: []
    /list/{list_id}/field:
      get:
        summary: Get Accessible Custom Fields
        tags:
          - Custom Fields
        description: View the Custom Fields available on tasks in a specific List.
        operationId: GetAccessibleCustomFields
        parameters:
          - name: list_id
            in: path
            description: ''
            required: true
            style: simple
            schema:
              type: number
              contentEncoding: double
              examples:
                - 123
          - name: Content-Type
            in: header
            description: ''
            required: true
            style: simple
            schema:
              const: application/json
              type: string
              examples:
                - application/json
        responses:
          '200':
            description: ''
            headers: {}
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/GetAccessibleCustomFieldsresponse'
        deprecated: false
      parameters: []
    /task/{task_id}/field/{field_id}:
      post:
        summary: Set Custom Field Value
        description: >-
          Add data to a Custom field on a task. \
           \
          You'll need to know the `task_id` of the task you want to update, and
          the universal unique identifier (UUID) `field_id` of the Custom Field
          you want to set. \
           \
          You can use [Get Accessible Custom Fields](https://clickup.com/api) or
          the [Get Task](https://clickup.com/api) endpoint to find the `field_id`.
        tags:
          - Custom Fields
        operationId: SetCustomFieldValue
        parameters:
          - name: task_id
            in: path
            description: Enter the task ID of the task you want to update.
            required: true
            style: simple
            schema:
              type: string
              examples:
                - 9hv
          - name: field_id
            in: path
            description: >-
              Enter the universal unique identifier (UUID) of the Custom Field you
              want to set.
            required: true
            style: simple
            schema:
              type: string
              examples:
                - b955c4dc
          - name: custom_task_ids
            in: query
            description: >-
              If you want to reference a task by its Custom Task ID, this value
              must be `true`.
            style: form
            explode: true
            schema:
              type: boolean
              examples:
                - true
          - name: team_id
            in: query
            description: |-
              Only used when the `custom_task_ids` parameter is set to `true`.\
               \
              For example: `custom_task_ids=true&team_id=123`.
            style: form
            explode: true
            schema:
              type: number
              contentEncoding: double
              examples:
                - 123
        requestBody:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SetCustomFieldValuerequest'
              examples:
                URL Custom Field:
                  value:
                    value: https://clickup.com/api
                Dropdown Custom Field:
                  value:
                    value: uuid1234
                Email Custom Field:
                  value:
                    value: user@company.com
                Phone Custom Field:
                  value:
                    value: +1 201 555 0123
                Date Custom Field:
                  value:
                    value: 1667367645000
                    value_options:
                      time: true
                Short or Long Text Custom Field:
                  value:
                    value: This is short or long text in a Custom Field.
                Number Custom Field:
                  value:
                    value: -28
                Money Custom Field:
                  value:
                    value: 8000
                Task Relationship Custom Field:
                  value:
                    value:
                      add:
                        - abcd1234
                        - efghi5678
                      rem:
                        - jklm9876
                        - yuiop5678
                People Custom Field:
                  value:
                    value:
                      add:
                        - 123
                        - 456
                      rem:
                        - 987
                        - 765
                Emoji (Rating) Custom Field:
                  value:
                    value: 4
                Manual Progress Custom Field:
                  value:
                    value:
                      current: 20
                Label Custom Field:
                  value:
                    value:
                      - uuid1234
                      - uuid9876
                Location Custom Field:
                  value:
                    value:
                      location:
                        lat: -28.016667
                        lng: 153.4
                      formatted_address: Gold Coast QLD, Australia
          required: true
        responses:
          '200':
            description: ''
            headers: {}
            content:
              application/json:
                schema:
                  type: object
                  examples:
                    - {}
                  contentMediaType: application/json
                example: {}
        deprecated: false
      delete:
        summary: Remove Custom Field Value
        tags:
          - Custom Fields
        description: >-
          Remove the data from a Custom Field on a task. This does not delete the
          option from the Custom Field.
        operationId: RemoveCustomFieldValue
        parameters:
          - name: task_id
            in: path
            description: ''
            required: true
            style: simple
            schema:
              type: string
              examples:
                - 9hv
          - name: field_id
            in: path
            description: b8a8-48d8-a0c6-b4200788a683 (uuid)
            required: true
            style: simple
            schema:
              type: string
              examples:
                - b955c4dc
          - name: custom_task_ids
            in: query
            description: >-
              If you want to reference a task by it's custom task id, this value
              must be `true`.
            style: form
            explode: true
            schema:
              type: boolean
              examples:
                - true
          - name: team_id
            in: query
            description: |-
              Only used when the `custom_task_ids` parameter is set to `true`.\
               \
              For example: `custom_task_ids=true&team_id=123`.
            style: form
            explode: true
            schema:
              type: number
              contentEncoding: double
              examples:
                - 123
        responses:
          '200':
            description: ''
            headers: {}
            content:
              application/json:
                schema:
                  type: object
                  examples:
                    - {}
                  contentMediaType: application/json
                example: {}
        deprecated: false
      parameters: []
    /task/{task_id}/dependency:
      post:
        summary: Add Dependency
        tags:
          - Task Relationships
        description: Set a task as waiting on or blocking another task.
        operationId: AddDependency
        parameters:
          - name: task_id
            in: path
            description: This is the task which is waiting on or blocking another task.
            required: true
            style: simple
            schema:
              type: string
              examples:
                - 9hv
          - name: custom_task_ids
            in: query
            description: >-
              If you want to reference a task by it's custom task id, this value
              must be `true`.
            style: form
            explode: true
            schema:
              type: boolean
              examples:
                - true
          - name: team_id
            in: query
            description: |-
              Only used when the `custom_task_ids` parameter is set to `true`.

              For example: `custom_task_ids=true&team_id=123`.
            style: form
            explode: true
            schema:
              type: number
              contentEncoding: double
              examples:
                - 123
        requestBody:
          description: >-
            Use the `depends_on` parameter in the request body to specify the task
            that must be completed before the task in the path parameter.\
             \
            Use the `dependency_of` parameter in the request body to specify the
            task that's waiting for the task in the path parameter to be
            completed.\
             \
            You can only use one per request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddDependencyrequest'
              example:
                depends_on: 9hw
          required: true
        responses:
          '200':
            description: ''
            headers: {}
            content:
              application/json:
                schema:
                  type: object
                  examples:
                    - {}
                  contentMediaType: application/json
                example: {}
        deprecated: false
      delete:
        summary: Delete Dependency
        tags:
          - Task Relationships
        description: Remove the dependency relationship between two or more tasks.
        operationId: DeleteDependency
        parameters:
          - name: task_id
            in: path
            description: ''
            required: true
            style: simple
            schema:
              type: string
              examples:
                - 9hv
          - name: depends_on
            in: query
            description: ''
            required: true
            style: form
            explode: true
            schema:
              type: string
              examples:
                - 9hz
          - name: dependency_of
            in: query
            description: ''
            required: true
            style: form
            explode: true
            schema:
              type: string
              examples:
                - 9hz
          - name: custom_task_ids
            in: query
            description: >-
              If you want to reference a task by it's custom task id, this value
              must be `true`.
            style: form
            explode: true
            schema:
              type: boolean
              examples:
                - true
          - name: team_id
            in: query
            description: |-
              Only used when the `custom_task_ids` parameter is set to `true`.\
               \
              For example: `custom_task_ids=true&team_id=123`.
            style: form
            explode: true
            schema:
              type: number
              contentEncoding: double
              examples:
                - 123
        responses:
          '200':
            description: ''
            headers: {}
            content:
              application/json:
                schema:
                  type: object
                  examples:
                    - {}
                  contentMediaType: application/json
                example: {}
        deprecated: false
      parameters: []
    /task/{task_id}/link/{links_to}:
      post:
        summary: Add Task Link
        tags:
          - Task Relationships
        description: Link two tasks together.
        operationId: AddTaskLink
        parameters:
          - name: task_id
            in: path
            description: ''
            required: true
            style: simple
            schema:
              type: string
              examples:
                - 9hv
          - name: links_to
            in: path
            description: ''
            required: true
            style: simple
            schema:
              type: string
              examples:
                - 9hz
          - name: custom_task_ids
            in: query
            description: >-
              If you want to reference a task by it's custom task id, this value
              must be `true`.
            style: form
            explode: true
            schema:
              type: boolean
              examples:
                - true
          - name: team_id
            in: query
            description: |-
              Only used when the `custom_task_ids` parameter is set to `true`.\
               \
              For example: `custom_task_ids=true&team_id=123`.
            style: form
            explode: true
            schema:
              type: number
              contentEncoding: double
              examples:
                - 123
        responses:
          '200':
            description: ''
            headers: {}
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/AddTaskLinkresponse'
                example:
                  task:
                    id: 9hv
                    name: Task Name
                    status:
                      status: in progress
                      color: '#d3d3d3'
                      orderindex: 1
                      type: custom
                    orderindex: '1.00000000000000000000000000000000'
                    date_created: '1567780450202'
                    date_updated: '1567780450202'
                    date_closed: null
                    creator:
                      id: 183
                      username: John Doe
                      color: '#827718'
                      profilePicture: >-
                        https://attachments-public.clickup.com/profilePictures/183_abc.jpg
                    assignees: []
                    checklists: []
                    tags: []
                    parent: null
                    priority: null
                    due_date: null
                    start_date: null
                    time_estimate: null
                    time_spent: null
                    list:
                      id: '123'
                    folder:
                      id: '456'
                    space:
                      id: '789'
                    linked_tasks:
                      - task_id: 9hv
                        link_id: 9hz
                        date_created: '1587571108988'
                        userid: '183'
                    url: https://app.clickup.com/t/9hx
        deprecated: false
      delete:
        summary: Delete Task Link
        tags:
          - Task Relationships
        description: Remove the link between two tasks.
        operationId: DeleteTaskLink
        parameters:
          - name: task_id
            in: path
            description: ''
            required: true
            style: simple
            schema:
              type: string
              examples:
                - 9hv
          - name: links_to
            in: path
            description: ''
            required: true
            style: simple
            schema:
              type: string
              examples:
                - 9hz
          - name: custom_task_ids
            in: query
            description: >-
              If you want to reference a task by it's custom task id, this value
              must be `true`.
            style: form
            explode: true
            schema:
              type: boolean
              examples:
                - true
          - name: team_id
            in: query
            description: |-
              Only used when the `custom_task_ids` parameter is set to `true`.\
               \
              For example: `custom_task_ids=true&team_id=123`.
            style: form
            explode: true
            schema:
              type: number
              contentEncoding: double
              examples:
                - 123
        responses:
          '200':
            description: ''
            headers: {}
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/DeleteTaskLinkresponse'
                example:
                  task:
                    id: 9hv
                    name: Task Name
                    status:
                      status: in progress
                      color: '#d3d3d3'
                      orderindex: 1
                      type: custom
                    orderindex: '1.00000000000000000000000000000000'
                    date_created: '1567780450202'
                    date_updated: '1567780450202'
                    date_closed: null
                    creator:
                      id: 183
                      username: John Doe
                      color: '#827718'
                      profilePicture: >-
                        https://attachments-public.clickup.com/profilePictures/183_abc.jpg
                    assignees: []
                    checklists: []
                    tags: []
                    parent: null
                    priority: null
                    due_date: null
                    start_date: null
                    time_estimate: null
                    time_spent: null
                    list:
                      id: '123'
                    folder:
                      id: '456'
                    space:
                      id: '789'
                    linked_tasks: []
                    url: https://app.clickup.com/t/9hx
        deprecated: false
      parameters: []
    /space/{space_id}/folder:
      get:
        summary: Get Folders
        tags:
          - Folders
        description: View the Folders in a Space.
        operationId: GetFolders
        parameters:
          - name: space_id
            in: path
            description: ''
            required: true
            style: simple
            schema:
              type: number
              contentEncoding: double
              examples:
                - 789
          - name: archived
            in: query
            description: ''
            style: form
            explode: true
            schema:
              type: boolean
              examples:
                - false
        responses:
          '200':
            description: ''
            headers: {}
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/GetFoldersresponse'
                  description: ''
                  examples:
                    - folders:
                        - id: '457'
                          name: Updated Folder Name
                          orderindex: 0
                          override_statuses: false
                          hidden: false
                          space:
                            id: '789'
                            name: Space Name
                            access: true
                          task_count: '0'
                          lists: []
                        - id: '458'
                          name: Second Folder Name
                          orderindex: 1
                          override_statuses: false
                          hidden: false
                          space:
                            id: '789'
                            name: Space Name
                            access: true
                          task_count: '0'
                          lists: []
                  contentMediaType: application/json
        deprecated: false
      post:
        summary: Create Folder
        tags:
          - Folders
        description: Add a new Folder to a Space.
        operationId: CreateFolder
        parameters:
          - name: space_id
            in: path
            description: ''
            required: true
            style: simple
            schema:
              type: number
              contentEncoding: double
              examples:
                - 789
        requestBody:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateFolderrequest'
              example:
                name: New Folder Name
          required: true
        responses:
          '200':
            description: ''
            headers: {}
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/CreateFolderresponse'
                example:
                  id: '457'
                  name: New Folder Name
                  orderindex: 0
                  override_statuses: false
                  hidden: false
                  space:
                    id: '789'
                    name: Space Name
                    access: true
                  task_count: '0'
        deprecated: false
      parameters: []
    /folder/{folder_id}:
      get:
        summary: Get Folder
        tags:
          - Folders
        description: View the Lists within a Folder.
        operationId: GetFolder
        parameters:
          - name: folder_id
            in: path
            description: ''
            required: true
            style: simple
            schema:
              type: number
              contentEncoding: double
              examples:
                - 457
        responses:
          '200':
            description: ''
            headers: {}
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/GetFolderresponse'
                example:
                  id: '457'
                  name: Updated Folder Name
                  orderindex: 0
                  override_statuses: false
                  hidden: false
                  space:
                    id: '789'
                    name: Space Name
                    access: true
                  task_count: '0'
                  lists: []
        deprecated: false
      put:
        summary: Update Folder
        tags:
          - Folders
        description: Rename a Folder.
        operationId: UpdateFolder
        parameters:
          - name: folder_id
            in: path
            description: ''
            required: true
            style: simple
            schema:
              type: number
              contentEncoding: double
              examples:
                - 457
        requestBody:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateFolderrequest'
              example:
                name: Updated Folder Name
          required: true
        responses:
          '200':
            description: ''
            headers: {}
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/UpdateFolderresponse'
                example:
                  id: '457'
                  name: Updated Folder Name
                  orderindex: 0
                  override_statuses: false
                  hidden: false
                  space:
                    id: '789'
                    name: Space Name
                    access: true
                  task_count: '0'
        deprecated: false
      delete:
        summary: Delete Folder
        tags:
          - Folders
        description: Delete a Folder from your Workspace.
        operationId: DeleteFolder
        parameters:
          - name: folder_id
            in: path
            description: ''
            required: true
            style: simple
            schema:
              type: number
              contentEncoding: double
              examples:
                - 457
        responses:
          '200':
            description: ''
            headers: {}
            content:
              application/json:
                schema:
                  type: object
                  examples:
                    - {}
                  contentMediaType: application/json
                example: {}
        deprecated: false
      parameters: []
    /team/{team_id}/goal:
      get:
        summary: Get Goals
        tags:
          - Goals
        description: View the Goals available in a Workspace.
        operationId: GetGoals
        parameters:
          - name: team_id
            in: path
            description: Team ID (Workspace)
            required: true
            style: simple
            schema:
              type: number
              contentEncoding: double
              examples:
                - 123
          - name: include_completed
            in: query
            description: ''
            style: form
            explode: true
            schema:
              type: boolean
              examples:
                - true
        responses:
          '200':
            description: ''
            headers: {}
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/GetGoalsresponse'
                example:
                  goals:
                    - id: e53a033c-900e-462d-a849-4a216b06d930
                      pretty_id: '6'
                      name: Goal ABC
                      team_id: '512'
                      creator: 182
                      owner: null
                      color: '#32a852'
                      date_created: '1568044355026'
                      start_date: null
                      due_date: '1568036964079'
                      description: Updated Goal Description
                      private: false
                      archived: false
                      multiple_owners: true
                      editor_token: >-
                        goal:792c3027-83a2-45de-be96-2f623b5f9078:1626303240249:38fd99e8-f989-4125-9a05-19ead0ed83a6:57bdc749-4ca6-4082-a78e-3485ed15e675
                      date_updated: '1626130440221'
                      last_update: '1626132992152'
                      folder_id: null
                      pinned: false
                      owners: []
                      key_result_count: 1
                      members:
                        - id: 182
                          username: Jane Doe
                          email: janedoe@gmail.com
                          color: '#827718'
                          permission_level: edit
                          profilePicture: >-
                            https://attachments-public.clickup.com/profilePictures/profile.jpg
                          initials: JD
                          isCreator: true
                      group_members: []
                      percent_completed: 0
                  folders:
                    - id: 05921253-7737-44af-a1aa-36fd11244e6f
                      name: Quarterly Goals
                      team_id: '512'
                      private: true
                      date_created: '1548802674671'
                      creator: 182
                      goal_count: 1
                      members:
                        - id: 182
                          email: janedoe@gmail.com
                          username: Jane Doe
                          color: '#827718'
                          permission_level: read
                          date_added: 1631599941928
                          added_by: 183
                          initials: JD
                          profilePicture: >-
                            https://attachments-public.clickup.com/profilePictures/profile.jpg
                      goals:
                        - id: e53a033c-900e-462d-a849-4a216b06d930
                          pretty_id: '8'
                          name: Q1 Goals
                          team_id: '512'
                          creator: 182
                          owner: null
                          color: '#32a852'
                          date_created: '1568044355026'
                          start_date: null
                          due_date: '1568036964079'
                          description: Goal for Q1
                          private: false
                          archived: false
                          multiple_owners: true
                          editor_token: >-
                            goal:792c3027-83b5-45de-be96-2f623b5f9078:1626303240249:38fd99e8-f989-4125-9a05-19ead0ed83a6:57bdc749-4ca6-4082-a78e-3485fc22d477
                          date_updated: '1626130440221'
                          last_update: '1626132992152'
                          folder_id: 05921253-7737-44af-a1aa-36fd11244e6f
                          folder_access: true
                          pinned: false
                          owners: []
                          key_result_count: 1
                          members:
                            - id: 182
                              username: Jane Doe
                              email: janedoe@gmail.com
                              color: '#827718'
                              permission_level: edit
                              profilePicture: >-
                                https://attachments-public.clickup.com/profilePictures/profile.jpg
                              initials: JD
                              isCreator: true
                          group_members: []
                          percent_completed: 1
        deprecated: false
      post:
        summary: Create Goal
        tags:
          - Goals
        description: Add a new Goal to a Workspace.
        operationId: CreateGoal
        parameters:
          - name: team_id
            in: path
            description: Team ID (Workspace)
            required: true
            style: simple
            schema:
              type: number
              contentEncoding: double
              examples:
                - 123
        requestBody:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateGoalrequest'
              example:
                name: Goal Name
                due_date: 1568036964079
                description: Goal Description
                multiple_owners: true
                owners:
                  - 183
                color: '#32a852'
          required: true
        responses:
          '200':
            description: ''
            headers: {}
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/CreateGoalresponse'
                example:
                  goal:
                    id: e53a033c-900e-462d-a849-4a216b06d930
                    name: Goal Name
                    team_id: '512'
                    date_created: '1568044355026'
                    start_date: null
                    due_date: '1568036964079'
                    description: Goal Description
                    private: false
                    archived: false
                    creator: 183
                    color: '#32a852'
                    pretty_id: '6'
                    multiple_owners: true
                    folder_id: null
                    members: []
                    owners:
                      - id: 183
                        username: John Doe
                        initials: JD
                        email: johndoe@gmail.com
                        color: '#827718'
                        profilePicture: >-
                          https://attachments-public.clickup.com/profilePictures/183_abc.jpg
                    key_results: []
                    percent_completed: 0
                    history: []
                    pretty_url: https://app.clickup.com/512/goals/6
        deprecated: false
      parameters: []
    /goal/{goal_id}:
      get:
        summary: Get Goal
        tags:
          - Goals
        description: View the details of a Goal including its Targets.
        operationId: GetGoal
        parameters:
          - name: goal_id
            in: path
            description: 900e-462d-a849-4a216b06d930 (uuid)
            required: true
            style: simple
            schema:
              type: string
              examples:
                - e53a033c
        responses:
          '200':
            description: ''
            headers: {}
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/GetGoalresponse'
                example:
                  goal:
                    id: e53a033c-900e-462d-a849-4a216b06d930
                    name: Updated Goal Name
                    team_id: '512'
                    date_created: '1568044355026'
                    start_date: null
                    due_date: '1568036964079'
                    description: Updated Goal Description
                    private: false
                    archived: false
                    creator: 183
                    color: '#32a852'
                    pretty_id: '6'
                    multiple_owners: true
                    folder_id: null
                    members: []
                    owners:
                      - id: 182
                        username: Jane Doe
                        initials: JD
                        email: janedoe@gmail.com
                        color: '#827718'
                        profilePicture: >-
                          https://attachments-public.clickup.com/profilePictures/182_abc.jpg
                    key_results: []
                    percent_completed: 0
                    history: []
                    pretty_url: https://app.clickup.com/512/goals/6
        deprecated: false
      put:
        summary: Update Goal
        tags:
          - Goals
        description: >-
          Rename a Goal, set the due date, replace the description, add or remove
          owners, and set the Goal color.
        operationId: UpdateGoal
        parameters:
          - name: goal_id
            in: path
            description: 900e-462d-a849-4a216b06d930 (uuid)
            required: true
            style: simple
            schema:
              type: string
              examples:
                - e53a033c
        requestBody:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateGoalrequest'
              example:
                name: Updated Goal Name
                due_date: 1568036964079
                description: Updated Goal Description
                rem_owners:
                  - 183
                add_owners:
                  - 184
                color: '#32a852'
          required: true
        responses:
          '200':
            description: ''
            headers: {}
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/UpdateGoalresponse'
                example:
                  goal:
                    id: e53a033c-900e-462d-a849-4a216b06d930
                    name: Updated Goal Name
                    team_id: '512'
                    date_created: '1568044355026'
                    start_date: null
                    due_date: '1568036964079'
                    description: Updated Goal Description
                    private: false
                    archived: false
                    creator: 183
                    color: '#32a852'
                    pretty_id: '6'
                    multiple_owners: true
                    folder_id: null
                    members: []
                    owners:
                      - id: 182
                        username: Jane Doe
                        initials: JD
                        email: janedoe@gmail.com
                        color: '#827718'
                        profilePicture: >-
                          https://attachments-public.clickup.com/profilePictures/182_abc.jpg
                    key_results: []
                    percent_completed: 0
                    history: []
                    pretty_url: https://app.clickup.com/512/goals/6
        deprecated: false
      delete:
        summary: Delete Goal
        tags:
          - Goals
        description: Remove a Goal from your Workspace.
        operationId: DeleteGoal
        parameters:
          - name: goal_id
            in: path
            description: 900e-462d-a849-4a216b06d930 (uuid)
            required: true
            style: simple
            schema:
              type: string
              examples:
                - e53a033c
          - name: Content-Type
            in: header
            description: ''
            required: true
            style: simple
            schema:
              const: application/json
              type: string
              examples:
                - application/json
        responses:
          '200':
            description: ''
            headers: {}
            content:
              application/json:
                schema:
                  type: object
                  examples:
                    - {}
                  contentMediaType: application/json
                example: {}
        deprecated: false
      parameters: []
    /goal/{goal_id}/key_result:
      post:
        summary: Create Key Result
        tags:
          - Goals
        description: Add a Target to a Goal.
        operationId: CreateKeyResult
        parameters:
          - name: goal_id
            in: path
            description: 900e-462d-a849-4a216b06d930 (uuid)
            required: true
            style: simple
            schema:
              type: string
              examples:
                - e53a033c
        requestBody:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateKeyResultrequest'
              example:
                name: New Key Result Name
                owners:
                  - 183
                type: number
                steps_start: 0
                steps_end: 10
                unit: km
                task_ids: []
                list_ids: []
          required: true
        responses:
          '200':
            description: ''
            headers: {}
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/CreateKeyResultresponse'
                example:
                  key_result:
                    id: 947d46ed-8480-49bc-8c57-e569747efe93
                    goal_id: e53a033c-900e-462d-a849-4a216b06d930
                    name: New Key Result Name
                    type: number
                    unit: km
                    creator: 183
                    date_created: '1568062902048'
                    goal_pretty_id: '6'
                    percent_completed: null
                    completed: false
                    task_ids: []
                    subcategory_ids: []
                    owners:
                      - id: 183
                        username: John Doe
                        email: example@email.com
                        color: '#827718'
                        profilePicture: >-
                          https://dev-attachments-public.clickup.com/profilePictures/183_nx1.jpg
                        initials: JK
                    last_action:
                      id: d3183d0f-5cbd-4158-b015-71465f1df269
                      key_result_id: 947d46ed-8480-49bc-8c57-e569747efe93
                      userid: 183
                      date_modified: '1568062902048'
                      steps_taken: null
                      note: Created Key Result
                      steps_before: null
                      steps_current: null
        deprecated: false
      parameters: []
    /key_result/{key_result_id}:
      put:
        summary: Edit Key Result
        tags:
          - Goals
        description: Update a Target.
        operationId: EditKeyResult
        parameters:
          - name: key_result_id
            in: path
            description: 8480-49bc-8c57-e569747efe93 (uuid)
            required: true
            style: simple
            schema:
              type: string
              examples:
                - 947d46ed
        requestBody:
          description: >-
            All properties available in the Create Key Result endpoint may also be
            used along with the additional properties below.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EditKeyResultrequest'
              example:
                steps_current: 5
                note: Target achieved
          required: true
        responses:
          '200':
            description: ''
            headers: {}
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/EditKeyResultresponse'
                example:
                  key_result:
                    id: 947d46ed-8480-49bc-8c57-e569747efe93
                    goal_id: e53a033c-900e-462d-a849-4a216b06d930
                    name: New Key Result Name
                    type: number
                    unit: km
                    creator: 183
                    date_created: '1568062902048'
                    goal_pretty_id: '6'
                    percent_completed: null
                    completed: false
                    task_ids: []
                    subcategory_ids: []
                    owners:
                      - id: 183
                        username: John Doe
                        email: example@email.com
                        color: '#827718'
                        profilePicture: >-
                          https://dev-attachments-public.clickup.com/profilePictures/183_nx1.jpg
                        initials: JK
                    last_action:
                      id: e889858b-a023-46cc-968a-cac32fd04c1e
                      key_result_id: 19c7a55e-537e-4bc9-b741-08df05a5bda8
                      userid: 183
                      date_modified: '1568122776851'
                      steps_taken: null
                      note: Target achieved
                      steps_before: null
                      steps_current: null
                      steps_before_float: 0
                      steps_taken_float: 5
                      steps_current_float: null
        deprecated: false
      delete:
        summary: Delete Key Result
        tags:
          - Goals
        description: Delete a target from a Goal.
        operationId: DeleteKeyResult
        parameters:
          - name: key_result_id
            in: path
            description: 8480-49bc-8c57-e569747efe93 (uuid)
            required: true
            style: simple
            schema:
              type: string
              examples:
                - 947d46ed
        responses:
          '200':
            description: ''
            headers: {}
            content:
              application/json:
                schema:
                  type: object
                  examples:
                    - {}
                  contentMediaType: application/json
                example: {}
        deprecated: false
      parameters: []
    /team/{team_id}/guest:
      post:
        summary: Invite Guest To Workspace
        tags:
          - Guests
        description: >-
          Invite a guest to join a Workspace. To invite a member to your
          Workspace, use the [Invite User to
          Workspace](https://clickup.com/api/clickupreference/operation/InviteUserToWorkspace/)
          endpoint. \
           \
          You'll also need to grant the guest access to specific items using the
          following endpoints: [Add Guest to
          Folder](clickupreference/operation/AddGuestToFolder/), [Add Guest to
          List](clickupreference/operation/AddGuestToList/), or [Add Guest to
          Task](clickupreference/operation/AddGuestToTask/). \
           \
          ***Note:** This endpoint is only available to Workspaces on our
          [Enterprise Plan](https://clickup.com/pricing).*
        operationId: InviteGuestToWorkspace
        parameters:
          - name: team_id
            in: path
            description: Team ID (Workspace)
            required: true
            style: simple
            schema:
              type: number
              contentEncoding: double
              examples:
                - 123
        requestBody:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InviteGuestToWorkspacerequest'
              example:
                email: guest@example.com
                can_edit_tags: true
                can_see_time_spent: true
                can_see_time_estimated: true
                can_create_views: true
                custom_role_id: 12345
          required: true
        responses:
          '200':
            description: ''
            headers: {}
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/InviteGuestToWorkspaceresponse'
                example:
                  team:
                    id: '333'
                    name: Team Name
                    color: '#8D00D4'
                    avatar: null
                    members:
                      - user:
                          id: 184
                          username: null
                          email: guest@example.com
                          color: null
                          profilePicture: null
                          initials: G
                          role: 4
                          custom_role:
                            id: 12345
                            name: guest custom
                          last_active: null
                          date_joined: null
                          date_invited: '1583358383412'
                        invited_by:
                          id: 183
                          color: '#827718'
                          username: Jerry
                          email: jerry@example.com
                          initials: J
                          profilePicture: >-
                            https://dev-attachments-public.clickup.com/profilePictures/profile.jpg
                        can_see_time_spent: true
                        can_see_time_estimated: true
                        can_edit_tags: true
                        can_create_views: true
                    roles:
                      - id: 1
                        name: owner
                        custom: false
                      - id: 2
                        name: admin
                        custom: false
                      - id: 3
                        name: member
                        custom: false
                      - id: 4
                        name: guest
                        custom: false
                      - id: 998877
                        name: member custom
                        inherited_role: 3
                        custom: true
                      - id: 112233
                        name: admin custom
                        inherited_role: 2
                        custom: true
                      - id: 12345
                        name: guest custom
                        inherited_role: 4
                        custom: true
        deprecated: false
      parameters: []
    /team/{team_id}/guest/{guest_id}:
      get:
        summary: Get Guest
        tags:
          - Guests
        description: >-
          View information about a guest. \
           \
          ***Note:** This endpoint is only available to Workspaces on our
          [Enterprise Plan](https://clickup.com/pricing).*
        operationId: GetGuest
        parameters:
          - name: team_id
            in: path
            description: Team ID (Workspace)
            required: true
            style: simple
            schema:
              type: number
              contentEncoding: double
              examples:
                - 123
          - name: guest_id
            in: path
            description: ''
            required: true
            style: simple
            schema:
              type: number
              contentEncoding: double
              examples:
                - 403
        responses:
          '200':
            description: ''
            headers: {}
            content:
              application/json:
                schema:
                  type: object
                  contentMediaType: application/json
        deprecated: false
      put:
        summary: Edit Guest On Workspace
        tags:
          - Guests
        description: >-
          Rename and configure options for a guest. \
           \
          ***Note:** This endpoint is only available to Workspaces on our
          [Enterprise Plan](https://clickup.com/pricing).*
        operationId: EditGuestOnWorkspace
        parameters:
          - name: team_id
            in: path
            description: Team ID (Workspace)
            required: true
            style: simple
            schema:
              type: number
              contentEncoding: double
              examples:
                - 123
          - name: guest_id
            in: path
            description: ''
            required: true
            style: simple
            schema:
              type: number
              contentEncoding: double
              examples:
                - 403
        requestBody:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EditGuestOnWorkspacerequest'
              example:
                username: Guest User
                can_edit_tags: true
                can_see_time_spent: true
                can_see_time_estimated: true
                can_create_views: true
                custom_role_id: 12345
          required: true
        responses:
          '200':
            description: ''
            headers: {}
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/EditGuestOnWorkspaceresponse'
                example:
                  guest:
                    user:
                      id: 184
                      username: null
                      email: guest@example.com
                      color: null
                      profilePicture: null
                      initials: G
                      role: 4
                      custom_role:
                        id: 12345
                        name: guest custom
                      last_active: null
                      date_joined: null
                      date_invited: '1583358383412'
                    invited_by:
                      id: 183
                      color: '#827718'
                      username: Jerry
                      email: jerry@example.com
                      initials: J
                      profilePicture: >-
                        https://dev-attachments-public.clickup.com/profilePictures/profile.jpg
                    can_see_time_spent: true
                    can_see_time_estimated: true
                    can_edit_tags: true
                    can_create_views: true
                    shared:
                      tasks: []
                      lists: []
                      folders: []
        deprecated: false
      delete:
        summary: Remove Guest From Workspace
        tags:
          - Guests
        description: >-
          Revoke a guest's access to a Workspace. \
           \
          ***Note:** This endpoint is only available to Workspaces on our
          [Enterprise Plan](https://clickup.com/pricing).*
        operationId: RemoveGuestFromWorkspace
        parameters:
          - name: team_id
            in: path
            description: Team ID (Workspace)
            required: true
            style: simple
            schema:
              type: number
              contentEncoding: double
              examples:
                - 123
          - name: guest_id
            in: path
            description: ''
            required: true
            style: simple
            schema:
              type: number
              contentEncoding: double
              examples:
                - 403
        responses:
          '200':
            description: ''
            headers: {}
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/RemoveGuestFromWorkspaceresponse'
                example:
                  team:
                    id: '333'
                    name: Team Name
                    color: '#8D00D4'
                    avatar: null
                    members: []
        deprecated: false
      parameters: []
    /task/{task_id}/guest/{guest_id}:
      post:
        summary: Add Guest To Task
        tags:
          - Guests
        description: >-
          Share a task with a guest. \
           \
          ***Note:** This endpoint is only available to Workspaces on our
          [Enterprise Plan](https://clickup.com/pricing).*
        operationId: AddGuestToTask
        parameters:
          - name: task_id
            in: path
            description: ''
            required: true
            style: simple
            schema:
              type: string
              examples:
                - c04
          - name: guest_id
            in: path
            description: ''
            required: true
            style: simple
            schema:
              type: number
              contentEncoding: double
              examples:
                - 403
          - name: include_shared
            in: query
            description: >-
              Exclude details of items shared with the guest by setting this
              parameter to `false`. By default this parameter is set to `true`.
            required: false
            style: form
            explode: true
            schema:
              type: boolean
              examples:
                - false
          - name: custom_task_ids
            in: query
            description: >-
              If you want to reference a task by it's custom task id, this value
              must be `true`.
            style: form
            explode: true
            schema:
              type: boolean
              examples:
                - true
          - name: team_id
            in: query
            description: |-
              Only used when the `custom_task_ids` parameter is set to `true`.\
               \
              For example: `custom_task_ids=true&team_id=123`.
            style: form
            explode: true
            schema:
              type: number
              contentEncoding: double
              examples:
                - 123
        requestBody:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddGuestToTaskrequest'
              example:
                permission_level: read
          required: true
        responses:
          '200':
            description: ''
            headers: {}
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/AddGuestToTaskresponse'
                example:
                  guest:
                    user:
                      id: 184
                      username: null
                      email: guest@example.com
                      color: null
                      profilePicture: null
                      initials: G
                      role: 4
                      last_active: null
                      date_joined: null
                      date_invited: '1583358383412'
                    invited_by:
                      id: 183
                      color: '#827718'
                      username: Jerry
                      email: jerry@example.com
                      initials: J
                      profilePicture: >-
                        https://dev-attachments-public.clickup.com/profilePictures/profile.jpg
                    can_see_time_spent: true
                    can_see_time_estimated: true
                    can_edit_tags: true
                    shared:
                      tasks:
                        - id: c04
                          name: Task Name
                          status:
                            status: Open
                            color: '#d3d3d3'
                            type: open
                            orderindex: 0
                          orderindex: '0'
                          date_created: '1574718405408'
                          date_updated: '1574722145869'
                          date_closed: null
                          archived: false
                          creator:
                            id: 183
                            username: Jerry
                            color: '#827718'
                            profilePicture: >-
                              https://dev-attachments-public.clickup.com/profilePictures/profile.jpg
                          assignees: []
                          checklists: []
                          tags: []
                          parent: null
                          priority:
                            id: '1'
                            priority: urgent
                            color: '#f50000'
                            orderindex: '1'
                          due_date: '1508369194377'
                          start_date: null
                          points: null
                          time_estimate: null
                          custom_fields: []
                          dependencies: []
                          team_id: '108'
                          url: https://app.clickup.com/t/c04
                          permission_level: read
                          list:
                            id: '1752'
                            name: Shared with me
                            access: false
                          folder:
                            id: '1217'
                            name: Shared with me
                            hidden: false
                            access: false
                          space:
                            id: '380'
                      lists: []
                      folders: []
        deprecated: false
      delete:
        summary: Remove Guest From Task
        tags:
          - Guests
        description: >-
          Revoke a guest's access to a task. \
           \
          ***Note:** This endpoint is only available to Workspaces on our
          [Enterprise Plan](https://clickup.com/pricing).*
        operationId: RemoveGuestFromTask
        parameters:
          - name: task_id
            in: path
            description: ''
            required: true
            style: simple
            schema:
              type: string
              examples:
                - c04
          - name: guest_id
            in: path
            description: ''
            required: true
            style: simple
            schema:
              type: number
              contentEncoding: double
              examples:
                - 403
          - name: include_shared
            in: query
            description: >-
              Exclude details of items shared with the guest by setting this
              parameter to `false`. By default this parameter is set to `true`.
            required: false
            style: form
            explode: true
            schema:
              type: boolean
              examples:
                - false
          - name: custom_task_ids
            in: query
            description: >-
              If you want to reference a task by it's custom task id, this value
              must be `true`.
            style: form
            explode: true
            schema:
              type: boolean
              examples:
                - true
          - name: team_id
            in: query
            description: |-
              Only used when the `custom_task_ids` parameter is set to `true`.\
               \
              For example: `custom_task_ids=true&team_id=123`.
            style: form
            explode: true
            schema:
              type: number
              contentEncoding: double
              examples:
                - 123
        responses:
          '200':
            description: ''
            headers: {}
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/RemoveGuestFromTaskresponse'
                example:
                  guest:
                    user:
                      id: 184
                      username: null
                      email: guest@example.com
                      color: null
                      profilePicture: null
                      initials: G
                      role: 4
                      last_active: null
                      date_joined: null
                      date_invited: '1583358383412'
                    invited_by:
                      id: 183
                      color: '#827718'
                      username: Jerry
                      email: jerry@example.com
                      initials: J
                      profilePicture: >-
                        https://dev-attachments-public.clickup.com/profilePictures/profile.jpg
                    can_see_time_spent: true
                    can_see_time_estimated: true
                    can_edit_tags: true
                    shared:
                      tasks: []
                      lists: []
                      folders: []
        deprecated: false
      parameters: []
    /list/{list_id}/guest/{guest_id}:
      post:
        summary: Add Guest To List
        tags:
          - Guests
        description: >-
          Share a List with a guest. \
           \
          ***Note:** This endpoint is only available to Workspaces on our
          [Enterprise Plan](https://clickup.com/pricing).*
        operationId: AddGuestToList
        parameters:
          - name: list_id
            in: path
            description: ''
            required: true
            style: simple
            schema:
              type: number
              contentEncoding: double
              examples:
                - 1427
          - name: guest_id
            in: path
            description: ''
            required: true
            style: simple
            schema:
              type: number
              contentEncoding: double
              examples:
                - 403
          - name: include_shared
            in: query
            description: >-
              Exclude details of items shared with the guest by setting this
              parameter to `false`. By default this parameter is set to `true`.
            required: false
            style: form
            explode: true
            schema:
              type: boolean
              examples:
                - false
        requestBody:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddGuestToListrequest'
              example:
                permission_level: read
          required: true
        responses:
          '200':
            description: ''
            headers: {}
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/AddGuestToListresponse'
                example:
                  guest:
                    user:
                      id: 184
                      username: null
                      email: guest@example.com
                      color: null
                      profilePicture: null
                      initials: G
                      role: 4
                      last_active: null
                      date_joined: null
                      date_invited: '1583358383412'
                    invited_by:
                      id: 183
                      color: '#827718'
                      username: Jerry
                      email: jerry@example.com
                      initials: J
                      profilePicture: >-
                        https://dev-attachments-public.clickup.com/profilePictures/profile.jpg
                    can_see_time_spent: true
                    can_see_time_estimated: true
                    can_edit_tags: true
                    shared:
                      tasks: []
                      lists:
                        - id: '1427'
                          name: List Name
                          orderindex: 1
                          status: null
                          priority: null
                          assignee: null
                          task_count: '5'
                          due_date: null
                          start_date: null
                          archived: false
                          override_statuses: true
                          statuses:
                            - status: Open
                              orderindex: 0
                              color: '#d3d3d3'
                              type: open
                            - status: Closed
                              orderindex: 5
                              color: '#6bc950'
                              type: closed
                          permission_level: read
                      folders: []
        deprecated: false
      delete:
        summary: Remove Guest From List
        tags:
          - Guests
        description: >-
          Revoke a guest's access to a List.\
           \
          ***Note:** This endpoint is only available to Workspaces on our
          [Enterprise Plan](https://clickup.com/pricing).*
[...]
