publishJson:
  company: Engrain
  serviceName: SightMap
  sdkName: engrain-sight-map-{language}-sdk
  clientName: EngrainSightMap
  metaDescription: >-
    Engrain is a recognized leader in next-generation interactive technology and
    data visualization software solutions for the multifamily, commercial,
    residential, storage, and retail real estate industries. The company is best
    known for its award-winning TouchTour® suite of products – including
    interactive sales kiosks, the TouchTour iPad application, and TouchTour
    Connect digital signage – which engage prospects and residents alike while
    empowering sales teams with actionable, real-time information.


    Through its innovative SightMap™ data visualization software platform,
    Engrain is poised to disrupt the real estate industry once again with a
    lightweight map format that displays unit-level data in a highly responsive
    and integrated way. SightMap can be embedded on virtually any website or
    application and is available on all Engrain's TouchTour products.  It is
    also available for license by individual companies as a powerful asset
    management tool, and third-party software providers for inclusion in
    marketing and operations dashboards, applications, analytics tools and
    websites via an SDK and Unit Map data API.
  apiStatusUrls: inherit
  homepage: www.engrain.com/sightmap
  developerDocumentation: api.sightmap.com/v1/openapi
  categories:
    - real_estate
    - data_visualization
    - real_estate_technology
    - real_estate_marketing
    - property_management
rawSpecString: |
  openapi: 3.0.3
  info:
    title: SightMap® REST API
    version: v1.20230828
    license:
      name: Engrain Terms of Service
      url: https://engrain.com/terms-and-conditions/
    contact:
      url: https://developers.sightmap.com
    x-logo:
      url: https://api.sightmap.com/v1/openapi/images/sightmap-logo.svg
      altText: SightMap® Logo
    description: >
      # Introduction


      The SightMap® API uses standard HTTP verbs to communicate and HTTP status

      codes to indicate status and errors. All responses come in standard JSON.

      The SightMap API is served over HTTPS to ensure data privacy; HTTP is not

      supported.


      # Versioning


      Versions are communicated as `VERSION.RELEASE-DATE`, where `VERSION` denotes

      the version number of the API and prefixed to all API request paths, such as

      `/v1/assets`. `RELEASE-DATE` denotes backwards-compatible changes to the

      API.


      When any non-backwards compatible additions must be made to the API, the

      version number will be incremented.


      ## Backwards-compatible changes


      We consider the following changes to be backwards-compatible:


      - Adding new API resources.

      - Adding new optional request parameters to existing API methods.

      - Adding new properties to existing API responses.

      - Changing the order of properties in existing API responses.

      - Changing the length or format of object IDs or other opaque strings.

      - You can safely assume object IDs we generate will never exceed 255
        characters, but you should be able to handle IDs of up to that length. If
        for example you’re using MySQL, you should store IDs in a `VARCHAR(255)
        COLLATE utf8_bin` column (the `COLLATE` configuration ensures
        case-sensitivity in lookups).

      # Authentication


      For requests which require Authentication, an API Key can be provided by

      either the `api-key` query parameter or `API-Key` header. We recommend the

      header over the query parameter as it avoids your API key from being stored

      in browser history and most server logs. If neither query parameter or

      header is provided, a `401` status code is returned with the following JSON:


      ```

      {
        "message": "No API key found in request"
      }

      ```


      If your API key cannot be validated, a `403` status code is returned with

      the following JSON:


      ```

      {
        "message": "Invalid authentication credentials"
      }

      ```


      <SecurityDefinitions />


      # Experimental features


      We provide new API features via experimental flags. This allows users to
      opt-in

      for new functionality and provide feedback prior to a feature becoming
      generally

      available (GA). We believe in stability without stagnation. This ability
      allows

      our team to build and ship best-in-class APIs faster while upholding

      backwards-compatibility on GA features.


      Experimental features are subject to change while undergoing development and

      feedback. Therefore, they are exempt from any backwards-compatibility
      guarantees

      until they reach GA. We do not expect nor recommend using experimental
      features

      in production environments unless a partnership has been established with
      our

      teams working closely together.


      Flags are provided via the `Experimental-Flags` header. A comma-separated
      list

      is expected in order to pass multiple flags on a single request.


      ```

      curl -i https://api.sightmap.com/v1/assets \
        -H "API-Key: 12345" \
        -H "Experimental-Flags: flag-1,flag-2"
      ```


      # Errors


      The SightMap API uses standard HTTP status codes to indicate the success or

      failure of the API request. The body of the response will be JSON in the

      following format:


      ```

      {
        "message": "Not found"
      }

      ```
  servers:
    - url: https://api.sightmap.com/v1
  tags:
    - name: accounts
      x-displayName: Accounts
    - name: accounts/assets
      x-displayName: Assets
    - name: accounts/embeds
      x-displayName: Embeds
    - name: assets
      x-displayName: Assets
    - name: assets/marker-descriptions
      x-displayName: Marker Descriptions
    - name: assets/buildings
      x-displayName: Buildings
    - name: assets/galleries
      x-displayName: Image Galleries
    - name: assets/filters
      x-displayName: Filters
    - name: assets/floors
      x-displayName: Floors
    - name: assets/floor-plans
      x-displayName: Floor Plans
    - name: assets/pricing
      x-displayName: Pricing & Availability
    - name: assets/maps
      x-displayName: Unit Maps
    - name: assets/caches
      x-displayName: Caches
    - name: assets/references
      description: |
        References provide asset ID mappings to other third-party systems.
      x-displayName: Asset References
    - name: assets/units
      x-displayName: Units
    - name: assets/units/descriptions
      x-displayName: Unit Descriptions
    - name: assets/units/outbound-links
      x-displayName: Unit Outbound Links
    - name: assets/outbound-links
      x-displayName: Asset Outbound Links
    - name: assets/landing-pages
      x-displayName: Landing Pages
    - name: assets/units/references
      description: |
        References provide unit ID mappings to other third-party systems.
      x-displayName: Unit References
  x-tagGroups:
    - name: Accounts
      tags:
        - accounts
        - accounts/embeds
        - accounts/assets
    - name: Assets
      tags:
        - assets
        - assets/units
        - assets/units/outbound-links
        - assets/outbound-links
        - assets/landing-pages
        - assets/units/descriptions
        - assets/filters
        - assets/floors
        - assets/floor-plans
        - assets/buildings
        - assets/marker-descriptions
        - assets/galleries
        - assets/maps
        - assets/caches
        - assets/references
        - assets/units/references
        - assets/pricing
  paths:
    /accounts:
      get:
        operationId: getAccounts
        summary: List accounts
        description: |
          Returns a list of accounts.
        parameters:
          - $ref: '#/components/parameters/Page'
          - $ref: '#/components/parameters/PerPage'
        responses:
          '200':
            description: Resource list returned
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    paging:
                      $ref: '#/components/schemas/Paging'
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/Account'
          '401':
            $ref: '#/components/responses/NoAPIKeyError'
          '403':
            $ref: '#/components/responses/AccessDeniedError'
          '404':
            $ref: '#/components/responses/ResourceNotFoundError'
          '429':
            $ref: '#/components/responses/RateLimitExceeded'
          '500':
            $ref: '#/components/responses/ServerError'
        security:
          - apiKey: []
        tags:
          - accounts
    /accounts/{account}:
      parameters:
        - $ref: '#/components/parameters/Account'
      get:
        operationId: getAccount
        summary: View an account
        description: |
          Returns a specific account.
        responses:
          '200':
            description: Resource returned
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Account'
          '401':
            $ref: '#/components/responses/NoAPIKeyError'
          '403':
            $ref: '#/components/responses/AccessDeniedError'
          '404':
            $ref: '#/components/responses/ResourceNotFoundError'
          '429':
            $ref: '#/components/responses/RateLimitExceeded'
          '500':
            $ref: '#/components/responses/ServerError'
        security:
          - apiKey: []
        tags:
          - accounts
    /accounts/{account}/embeds:
      parameters:
        - $ref: '#/components/parameters/Account'
      get:
        operationId: listEmbedsForAccount
        summary: List embeds
        description: >
          Returns a list of embeds for an account.


          Requires `sightmap.embeds.read` permission.


          **NOTICE:** This resource is experimental and requires the
          `embed-resource`

          [experimental flag](https://api.sightmap.com/v1/openapi).
        parameters:
          - $ref: '#/components/parameters/Page'
          - $ref: '#/components/parameters/PerPage'
          - name: asset
            in: query
            description: An asset ID to filter the list on.
            required: false
            schema:
              type: string
              format: id
              maxLength: 255
          - name: Experimental-Flags
            in: header
            description: >-
              This resource is experimental and requires the `embed-resource`
              [experimental flag](https://api.sightmap.com/v1/openapi).
            required: true
            schema:
              type: string
        responses:
          '200':
            description: Resource list returned
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    paging:
                      $ref: '#/components/schemas/Paging'
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/Embed'
          '401':
            $ref: '#/components/responses/NoAPIKeyError'
          '403':
            $ref: '#/components/responses/AccessDeniedError'
          '404':
            $ref: '#/components/responses/ResourceNotFoundError'
          '429':
            $ref: '#/components/responses/RateLimitExceeded'
          '500':
            $ref: '#/components/responses/ServerError'
        security:
          - apiKey: []
        tags:
          - accounts/embeds
    /accounts/{account}/embeds/{embed}:
      parameters:
        - $ref: '#/components/parameters/Account'
        - name: embed
          in: path
          description: An embed ID.
          required: true
          schema:
            type: string
            format: id
            maxLength: 255
      get:
        operationId: getEmbedForAccount
        summary: View an embed
        description: >
          Returns a specific embed.


          Requires `sightmap.embeds.read` permission.


          **NOTICE:** This resource is experimental and requires the

          `embed-resource` [experimental
          flag](https://api.sightmap.com/v1/openapi).
        parameters:
          - name: embed
            in: path
            description: An embed ID.
            required: true
            schema:
              type: string
              format: id
              maxLength: 255
          - name: Experimental-Flags
            in: header
            description: >-
              This resource is experimental and requires the `embed-resource`
              [experimental flag](https://api.sightmap.com/v1/openapi).
            required: true
            schema:
              type: string
        responses:
          '200':
            description: Resource returned
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Embed'
          '401':
            $ref: '#/components/responses/NoAPIKeyError'
          '403':
            $ref: '#/components/responses/AccessDeniedError'
          '404':
            $ref: '#/components/responses/ResourceNotFoundError'
          '429':
            $ref: '#/components/responses/RateLimitExceeded'
          '500':
            $ref: '#/components/responses/ServerError'
        security:
          - apiKey: []
        tags:
          - accounts/embeds
    /accounts/{account}/assets:
      parameters:
        - $ref: '#/components/parameters/Account'
      get:
        operationId: listAssetsOnAccount
        summary: List assets
        description: >
          Returns a list of allowed assets on an account.


          **NOTICE:** This resource is experimental and requires the
          `accounts-assets`

          [experimental flag](https://api.sightmap.com/v1/openapi).
        parameters:
          - $ref: '#/components/parameters/Page'
          - $ref: '#/components/parameters/PerPage'
          - name: asset
            in: query
            description: An asset ID to filter the list on.
            required: false
            schema:
              type: string
              format: id
              maxLength: 255
          - name: Experimental-Flags
            in: header
            description: >-
              This resource is experimental and requires the `accounts-assets`
              [experimental flag](https://api.sightmap.com/v1/openapi).
            required: true
            schema:
              type: string
        responses:
          '200':
            description: Resource list returned
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    paging:
                      $ref: '#/components/schemas/Paging'
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/Asset'
          '401':
            $ref: '#/components/responses/NoAPIKeyError'
          '403':
            $ref: '#/components/responses/AccessDeniedError'
          '404':
            $ref: '#/components/responses/ResourceNotFoundError'
          '429':
            $ref: '#/components/responses/RateLimitExceeded'
          '500':
            $ref: '#/components/responses/ServerError'
        tags:
          - accounts/assets
      put:
        operationId: assignAssetsToAccount
        summary: Assign assets
        description: >
          Assign one or more assets to an account.


          Requires `sightmap.accounts.update-assets` permission.


          **NOTICE:** This resource is experimental and requires the

          `accounts-assets` [experimental
          flag](https://api.sightmap.com/v1/openapi).
        requestBody:
          required: true
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AccountAssetRelation'
                required:
                  - data
                example:
                  data:
                    - account_id: '1'
                      asset_id: '1'
                    - account_id: '1'
                      asset_id: '2'
                    - account_id: '1'
                      asset_id: '3'
        responses:
          '204':
            description: Assets assigned successfully
          '401':
            $ref: '#/components/responses/NoAPIKeyError'
          '403':
            $ref: '#/components/responses/AccessDeniedError'
          '404':
            $ref: '#/components/responses/ResourceNotFoundError'
          '409':
            description: Resource conflict
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    message:
                      description: The error message.
                      type: string
                example:
                  message: Operation failed due to a foreign key constraint
          '422':
            $ref: '#/components/responses/ResourceValidationError'
          '429':
            $ref: '#/components/responses/RateLimitExceeded'
          '500':
            $ref: '#/components/responses/ServerError'
        security:
          - apiKey: []
        tags:
          - accounts/assets
    /accounts/{account}/assets/remove:
      parameters:
        - $ref: '#/components/parameters/Account'
      put:
        operationId: unassignAssetsFromAccount
        summary: Unassign assets
        description: >
          Unassign one or more assets from an account.


          Requires `sightmap.accounts.update-assets` permission.


          **NOTICE:** This resource is experimental and requires the

          `accounts-assets` [experimental
          flag](https://api.sightmap.com/v1/openapi).


          **WARNING**: When an asset is unassigned from an account, any embeds or

          other related data may be deleted and cannot be undone.
        requestBody:
          required: true
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AccountAssetRelation'
                required:
                  - data
                example:
                  data:
                    - account_id: '1'
                      asset_id: '1'
                    - account_id: '1'
                      asset_id: '2'
        responses:
          '204':
            description: Assets unassigned successfully
          '401':
            $ref: '#/components/responses/NoAPIKeyError'
          '403':
            $ref: '#/components/responses/AccessDeniedError'
          '404':
            $ref: '#/components/responses/ResourceNotFoundError'
          '409':
            description: Resource conflict
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    message:
                      description: The error message.
                      type: string
                example:
                  message: Operation failed due to a foreign key constraint
          '422':
            $ref: '#/components/responses/ResourceValidationError'
          '429':
            $ref: '#/components/responses/RateLimitExceeded'
          '500':
            $ref: '#/components/responses/ServerError'
        security:
          - apiKey: []
        tags:
          - accounts/assets
    /assets:
      get:
        operationId: listAssets
        summary: List assets
        description: |
          Returns a list of allowed assets.
        parameters:
          - $ref: '#/components/parameters/Page'
          - $ref: '#/components/parameters/PerPage'
        responses:
          '200':
            description: Resource list returned
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    paging:
                      $ref: '#/components/schemas/Paging'
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/Asset'
          '401':
            $ref: '#/components/responses/NoAPIKeyError'
          '403':
            $ref: '#/components/responses/AccessDeniedError'
          '404':
            $ref: '#/components/responses/ResourceNotFoundError'
          '429':
            $ref: '#/components/responses/RateLimitExceeded'
          '500':
            $ref: '#/components/responses/ServerError'
        security:
          - apiKey: []
        tags:
          - assets
      post:
        operationId: createAsset
        summary: Create an asset
        description: Requires `sightmap.assets.create` permission
        requestBody:
          required: true
          content:
            application/json:
              schema:
                type: object
                properties:
                  market:
                    type: string
                    enum:
                      - affordable_housing
                      - agriculture
                      - airplane
                      - airport
                      - build_to_rent
                      - camping
                      - cemetery
                      - condos
                      - coworking
                      - cruise_ship
                      - cultural
                      - data_center
                      - demo
                      - education
                      - entertainment
                      - gallery_museum
                      - geography
                      - government
                      - harbor_marina
                      - healthcare
                      - hospitality
                      - industrial
                      - infrastructure
                      - land
                      - logistics
                      - manufactured_housing
                      - master_planned
                      - military_housing
                      - mixed_use
                      - multifamily
                      - office
                      - oil_and_gas
                      - other
                      - parking
                      - rentable_items
                      - resort
                      - retail
                      - salon
                      - self_storage
                      - senior_living
                      - single_family
                      - spa
                      - stadium_arena
                      - student
                      - theme_park
                      - transit
                  name:
                    type: string
                    maxLength: 255
                  display_name:
                    type: string
                    maxLength: 255
                  description:
                    type: string
                    maxLength: 255
                    nullable: true
                  address_line1:
                    type: string
                    maxLength: 63
                  address_line2:
                    type: string
                    maxLength: 63
                    nullable: true
                  address_city:
                    type: string
                    maxLength: 63
                  address_state:
                    description: Two letter abbreviated state or province.
                    maxLength: 2
                    minLength: 2
                    type: string
                  address_country:
                    description: >
                      An [ISO 3166-1
                      alpha-3](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-3)
                      country code.
                    maxLength: 3
                    minLength: 3
                    type: string
                  address_postal_code:
                    type: string
                    maxLength: 15
                  address_latitude:
                    type: number
                    format: float
                    minimum: -90
                    maximum: 90
                    nullable: true
                  address_longitude:
                    type: number
                    format: float
                    minimum: -180
                    maximum: 180
                    nullable: true
                required:
                  - market
                  - name
                  - display_name
                  - address_line1
                  - address_city
                  - address_state
                  - address_country
                  - address_postal_code
                example:
                  market: multifamily
                  name: The Lofts at New Main
                  display_name: The Lofts at New Main
                  description: null
                  address_line1: 100 New Main St
                  address_line2: null
                  address_city: Cleveland
                  address_state: OH
                  address_country: USA
                  address_postal_code: '91801'
                  address_latitude: 41.433243
                  address_longitude: -81.3941872
        responses:
          '201':
            description: Resource created
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Asset'
          '401':
            $ref: '#/components/responses/NoAPIKeyError'
          '403':
            $ref: '#/components/responses/AccessDeniedError'
          '409':
            description: Resource conflict
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    message:
                      description: The error message.
                      type: string
                example:
                  message: A resource already exists with the given name and address
          '422':
            $ref: '#/components/responses/ResourceValidationError'
          '429':
            $ref: '#/components/responses/RateLimitExceeded'
          '500':
            $ref: '#/components/responses/ServerError'
        security:
          - apiKey: []
        tags:
          - assets
    /assets/{asset}:
      parameters:
        - $ref: '#/components/parameters/Asset'
      get:
        operationId: getAsset
        summary: View an asset
        responses:
          '200':
            description: Resource returned
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Asset'
          '401':
            $ref: '#/components/responses/NoAPIKeyError'
          '403':
            $ref: '#/components/responses/AccessDeniedError'
          '404':
            $ref: '#/components/responses/ResourceNotFoundError'
          '429':
            $ref: '#/components/responses/RateLimitExceeded'
          '500':
            $ref: '#/components/responses/ServerError'
        security:
          - apiKey: []
        tags:
          - assets
      put:
        operationId: updateAsset
        summary: Update an asset
        description: Requires `sightmap.assets.update` permission
        requestBody:
          required: true
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: id
                    maxLength: 255
                  market:
                    $ref: '#/components/schemas/AssetMarket'
                  name:
                    type: string
                    maxLength: 255
                  display_name:
                    type: string
                    maxLength: 255
                  description:
                    type: string
                    maxLength: 255
                    nullable: true
                  address_line1:
                    type: string
                    maxLength: 63
                  address_line2:
                    type: string
                    maxLength: 63
                    nullable: true
                  address_city:
                    type: string
                    maxLength: 63
                  address_state:
                    description: Two letter abbreviated state or province.
                    type: string
                    maxLength: 2
                    minLength: 2
                  address_country:
                    description: >-
                      An [ISO 3166-1
                      alpha-3](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-3)
                      country code.
                    type: string
                    maxLength: 3
                    minLength: 3
                  address_postal_code:
                    type: string
                    maxLength: 15
                  address_latitude:
                    type: number
                    format: float
                    minimum: -90
                    maximum: 90
                    nullable: true
                  address_longitude:
                    type: number
                    format: float
                    minimum: -180
                    maximum: 180
                    nullable: true
                required:
                  - id
                example:
                  id: '1323'
                  market: multifamily
                  name: The Lofts at New Main
                  display_name: The Lofts at New Main
                  address_line1: 100 New Main St
                  address_city: Cleveland
                  address_state: OH
                  address_country: USA
                  address_postal_code: '91801'
                  address_latitude: 41.433243
                  address_longitude: -81.3941872
        responses:
          '200':
            description: Resource returned
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Asset'
          '401':
            $ref: '#/components/responses/NoAPIKeyError'
          '403':
            $ref: '#/components/responses/AccessDeniedError'
          '404':
            $ref: '#/components/responses/ResourceNotFoundError'
          '409':
            description: Resource conflict
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    message:
                      description: The error message.
                      type: string
                example:
                  message: A resource already exists with the given name and address
          '422':
            $ref: '#/components/responses/ResourceValidationError'
          '429':
            $ref: '#/components/responses/RateLimitExceeded'
          '500':
            $ref: '#/components/responses/ServerError'
        security:
          - apiKey: []
        tags:
          - assets
    /assets/{asset}/multifamily/units:
      parameters:
        - $ref: '#/components/parameters/Asset'
      get:
        operationId: listUnitsForAsset
        summary: List units
        description: |
          Returns a list of units for an asset.

          Requires `sightmap.units.read` permission.
        parameters:
          - $ref: '#/components/parameters/Page'
          - $ref: '#/components/parameters/PerPage'
          - name: unit-number
            in: query
            description: A unit number to filter the list on.
            required: false
            schema:
              type: string
              maxLength: 255
        responses:
          '200':
            description: Resource list returned
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    paging:
                      $ref: '#/components/schemas/Paging'
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/Unit'
          '401':
            $ref: '#/components/responses/NoAPIKeyError'
          '403':
            $ref: '#/components/responses/AccessDeniedError'
          '404':
            $ref: '#/components/responses/ResourceNotFoundError'
          '429':
            $ref: '#/components/responses/RateLimitExceeded'
          '500':
            $ref: '#/components/responses/ServerError'
        security:
          - apiKey: []
        tags:
          - assets/units
      post:
        operationId: createUnitForAsset
        summary: Create a unit
        description: |
          Create a unit for an asset.

          Requires `sightmap.units.create` permission.
        requestBody:
          required: true
          content:
            application/json:
              schema:
                type: object
                properties:
                  asset_id:
                    description: The asset the unit belongs to.
                    type: string
                    format: id
                    maxLength: 255
                  building_id:
                    description: The building the unit is in.
                    type: string
                    format: id
                    maxLength: 255
                  floor_id:
                    description: The floor the unit is on.
                    type: string
                    format: id
                    maxLength: 255
                  floor_plan_id:
                    description: The floor plan of the unit.
                    type: string
                    format: id
                    maxLength: 255
                  unit_number:
                    description: The unit number.
                    type: string
                    maxLength: 255
                  area:
                    description: >-
                      The area of the unit represented as square footage or square
                      meters.
                    type: integer
                    format: int32
                    minimum: 0
                  is_affordable_housing_unit:
                    description: Determines if the unit is an affordable housing unit.
                    type: boolean
                    default: false
                required:
                  - asset_id
                  - building_id
                  - floor_id
                  - floor_plan_id
                  - unit_number
                  - area
                example:
                  asset_id: '1323'
                  building_id: '8265'
                  floor_id: '4730'
                  floor_plan_id: '14641'
                  unit_number: E13
                  area: 700
                  is_affordable_housing_unit: true
            multipart/form-data:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      asset_id:
                        description: The asset the unit belongs to.
                        type: string
                        format: id
                        maxLength: 255
                      building_id:
                        description: The building the unit is in.
                        type: string
                        format: id
                        maxLength: 255
                      floor_id:
                        description: The floor the unit is on.
                        type: string
                        format: id
                        maxLength: 255
                      floor_plan_id:
                        description: The floor plan of the unit.
                        type: string
                        format: id
                        maxLength: 255
                      unit_number:
                        description: The unit number.
                        type: string
                        maxLength: 255
                      area:
                        description: >-
                          The area of the unit represented as square footage or
                          square meters.
                        type: integer
                        format: int32
                        minimum: 0
                    required:
                      - asset_id
                      - building_id
                      - floor_id
                      - floor_plan_id
                      - unit_number
                      - area
                    example:
                      asset_id: '1323'
                      building_id: '8265'
                      floor_id: '4730'
                      floor_plan_id: '14641'
                      unit_number: E13
                      area: 700
                  view_image:
                    type: string
                    format: binary
                    description: >-
                      The primary view image of the unit. Must be a .gif, .jpg,
                      .jpeg, or .png file.
                  secondary_view_image:
                    type: string
                    format: binary
                    description: >-
                      The secondary view image of the unit. Must be a .gif, .jpg,
                      .jpeg, or .png file.
                required:
                  - data
        responses:
          '201':
            description: Resource created
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Unit'
          '401':
            $ref: '#/components/responses/NoAPIKeyError'
          '403':
            $ref: '#/components/responses/AccessDeniedError'
          '422':
            $ref: '#/components/responses/ResourceValidationError'
          '429':
            $ref: '#/components/responses/RateLimitExceeded'
          '500':
            $ref: '#/components/responses/ServerError'
        security:
          - apiKey: []
        tags:
          - assets/units
    /assets/{asset}/multifamily/units/{unit}:
      parameters:
        - $ref: '#/components/parameters/Asset'
        - name: unit
          in: path
          description: A unit ID.
          required: true
          schema:
            type: string
            format: id
            maxLength: 255
      get:
        operationId: getUnitForAsset
        summary: View a unit
        description: |
          Returns a specific unit.

          Requires `sightmap.units.read` permission.
        responses:
          '200':
            description: Resource returned
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Unit'
          '401':
            $ref: '#/components/responses/NoAPIKeyError'
          '403':
            $ref: '#/components/responses/AccessDeniedError'
          '404':
            $ref: '#/components/responses/ResourceNotFoundError'
          '429':
            $ref: '#/components/responses/RateLimitExceeded'
          '500':
            $ref: '#/components/responses/ServerError'
        security:
          - apiKey: []
        tags:
          - assets/units
      put:
        operationId: updateUnitForAsset
        summary: Update a unit
        description: Requires `sightmap.units.update` permission.
        requestBody:
          required: true
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: id
                    maxLength: 255
                  asset_id:
                    description: The asset the unit belongs to.
                    type: string
                    format: id
                    maxLength: 255
                  building_id:
                    description: The building the unit is in.
                    type: string
                    format: id
                    maxLength: 255
                  floor_id:
                    description: The floor the unit is on.
                    type: string
                    format: id
                    maxLength: 255
                  floor_plan_id:
                    description: The floor plan of the unit.
                    type: string
                    format: id
                    maxLength: 255
                  unit_number:
                    description: The unit number.
                    type: string
                    maxLength: 255
                  area:
                    description: >-
                      The area of the unit represented as square footage or square
                      meters.
                    type: integer
                    format: int32
                    minimum: 0
                  is_affordable_housing_unit:
                    description: Determines if the unit is an affordable housing unit.
                    type: boolean
                    default: false
                  view_image:
                    description: Delete the primary view image of the unit.
                    type: string
                    enum:
                      - delete
                  secondary_view_image:
                    description: Delete the secondary view image of the unit.
                    type: string
                    enum:
                      - delete
                required:
                  - id
                  - asset_id
                example:
                  id: '258670'
                  asset_id: '1323'
                  building_id: '8265'
                  floor_id: '4730'
                  floor_plan_id: '14641'
                  map_id: '258670'
                  unit_number: E13
                  area: 700
                  is_affordable_housing_unit: true
            multipart/form-data:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        format: id
                        maxLength: 255
                      asset_id:
                        description: The asset the unit belongs to.
                        type: string
                        format: id
                        maxLength: 255
                      building_id:
                        description: The building the unit is in.
                        type: string
                        format: id
                        maxLength: 255
                      floor_id:
                        description: The floor the unit is on.
                        type: string
                        format: id
                        maxLength: 255
                      floor_plan_id:
                        description: The floor plan of the unit.
                        type: string
                        format: id
                        maxLength: 255
                      unit_number:
                        description: The unit number.
                        type: string
                        maxLength: 255
                      area:
                        description: >-
                          The area of the unit represented as square footage or
                          square meters.
                        type: integer
                        format: int32
                        minimum: 0
                      is_affordable_housing_unit:
                        description: Whether a unit is an affordable housing unit.
                        type: boolean
                    required:
                      - id
                      - asset_id
                    example:
                      id: '258670'
                      asset_id: '1323'
                      building_id: '8265'
                      floor_id: '4730'
                      floor_plan_id: '14641'
                      map_id: '258670'
                      unit_number: E13
                      area: 700
                      is_affordable_housing_unit: true
                  view_image:
                    type: string
                    format: binary
                    description: >-
                      The primary view image of the unit. Must be a .gif, .jpg,
                      .jpeg, or .png file.
                  secondary_view_image:
                    type: string
                    format: binary
                    description: >-
                      The secondary view image of the unit. Must be a .gif, .jpg,
                      .jpeg, or .png file.
                required:
                  - data
        responses:
          '200':
            description: Resource returned
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Unit'
          '401':
            $ref: '#/components/responses/NoAPIKeyError'
          '403':
            $ref: '#/components/responses/AccessDeniedError'
          '404':
            $ref: '#/components/responses/ResourceNotFoundError'
          '422':
            $ref: '#/components/responses/ResourceValidationError'
          '429':
            $ref: '#/components/responses/RateLimitExceeded'
          '500':
            $ref: '#/components/responses/ServerError'
        security:
          - apiKey: []
        tags:
          - assets/units
      delete:
        operationId: deleteUnitForAsset
        summary: Delete a unit
        description: Requires `sightmap.units.delete` permission.
        responses:
          '200':
            description: Deleted resource returned
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Unit'
          '401':
            $ref: '#/components/responses/NoAPIKeyError'
          '403':
            $ref: '#/components/responses/AccessDeniedError'
          '404':
            $ref: '#/components/responses/ResourceNotFoundError'
          '409':
            $ref: '#/components/responses/ForeignKeyConstraintError'
          '422':
            $ref: '#/components/responses/ResourceValidationError'
          '429':
            $ref: '#/components/responses/RateLimitExceeded'
          '500':
            $ref: '#/components/responses/ServerError'
        security:
          - apiKey: []
        tags:
          - assets/units
    /assets/{asset}/multifamily/buildings:
      parameters:
        - $ref: '#/components/parameters/Asset'
      get:
        operationId: listBuildingsForAsset
        summary: List buildings
        description: |
          Returns a list of buildings for an asset.

          Requires `sightmap.buildings.read` permission.
        parameters:
          - $ref: '#/components/parameters/Page'
          - $ref: '#/components/parameters/PerPage'
        responses:
          '200':
            description: Resource list returned
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    paging:
                      $ref: '#/components/schemas/Paging'
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/Building'
          '401':
            $ref: '#/components/responses/NoAPIKeyError'
          '403':
            $ref: '#/components/responses/AccessDeniedError'
          '404':
            $ref: '#/components/responses/ResourceNotFoundError'
          '429':
            $ref: '#/components/responses/RateLimitExceeded'
          '500':
            $ref: '#/components/responses/ServerError'
        security:
          - apiKey: []
        tags:
          - assets/buildings
      post:
        operationId: createBuildingForAsset
        summary: Create a building
        description: |
          Create a building for an asset.

          Requires `sightmap.buildings.create` permission.
        requestBody:
          required: true
          content:
            application/json:
              schema:
                type: object
                properties:
                  asset_id:
                    description: The asset the building belongs to.
                    type: string
                    format: id
                    maxLength: 255
                  name:
                    type: string
                    maxLength: 255
                  label:
                    description: If not provided, the building's name will be used.
                    type: string
                    maxLength: 255
                required:
                  - asset_id
                  - name
                example:
                  asset_id: '1323'
                  name: W
                  label: W
        responses:
          '201':
            description: Resource created
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Building'
          '401':
            $ref: '#/components/responses/NoAPIKeyError'
          '403':
            $ref: '#/components/responses/AccessDeniedError'
          '422':
            $ref: '#/components/responses/ResourceValidationError'
          '429':
            $ref: '#/components/responses/RateLimitExceeded'
          '500':
            $ref: '#/components/responses/ServerError'
        security:
          - apiKey: []
        tags:
          - assets/buildings
    /assets/{asset}/multifamily/buildings/{building}:
      parameters:
        - $ref: '#/components/parameters/Asset'
        - name: building
          in: path
          description: A building ID.
          required: true
          schema:
            type: string
            format: id
            maxLength: 255
      get:
        operationId: getBuildingForAsset
        summary: View a building
        description: |
          Returns a specific building.

          Requires `sightmap.buildings.read` permission.
        responses:
          '200':
            description: Resource returned
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Building'
          '401':
            $ref: '#/components/responses/NoAPIKeyError'
          '403':
            $ref: '#/components/responses/AccessDeniedError'
          '404':
            $ref: '#/components/responses/ResourceNotFoundError'
          '429':
            $ref: '#/components/responses/RateLimitExceeded'
          '500':
            $ref: '#/components/responses/ServerError'
        security:
          - apiKey: []
        tags:
          - assets/buildings
      put:
        operationId: updateBuildingForAsset
        summary: Update a building
        description: Requires `sightmap.buildings.update` permission.
        requestBody:
          required: true
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: id
                    maxLength: 255
                  asset_id:
                    description: The asset the building belongs to.
                    type: string
                    format: id
                    maxLength: 255
                  name:
                    type: string
                    maxLength: 255
                  label:
                    type: string
                    maxLength: 255
                required:
                  - id
                  - asset_id
                  - name
                example:
                  id: '8267'
                  asset_id: '1323'
                  name: W
                  label: W
        responses:
          '200':
            description: Resource returned
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Building'
          '401':
            $ref: '#/components/responses/NoAPIKeyError'
          '403':
            $ref: '#/components/responses/AccessDeniedError'
          '404':
            $ref: '#/components/responses/ResourceNotFoundError'
          '422':
            $ref: '#/components/responses/ResourceValidationError'
          '500':
            $ref: '#/components/responses/ServerError'
        security:
          - apiKey: []
        tags:
          - assets/buildings
    /assets/{asset}/multifamily/filters:
      parameters:
        - $ref: '#/components/parameters/Asset'
        - name: Experimental-Flags
          in: header
          description: >-
            This resource is experimental and requires the `filters-resource`
            [experimental flag](https://api.sightmap.com/v1/openapi).
          required: true
          schema:
            type: string
      get:
        operationId: listFiltersForAsset
        summary: List filters
        description: >
          Returns a list of filters.


          Requires `sightmap.filters.read` permission.


          **NOTICE:** This resource is experimental and requires the

          `filters-resource` [experimental
          flag](https://api.sightmap.com/v1/openapi).
        parameters:
          - $ref: '#/components/parameters/Page'
          - $ref: '#/components/parameters/PerPage'
        responses:
          '200':
            description: Resource list returned
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    paging:
                      $ref: '#/components/schemas/Paging'
                    data:
                      type: array
                      items:
                        anyOf:
                          - $ref: '#/components/schemas/FilterCustom'
                          - $ref: '#/components/schemas/FilterFloor'
                          - $ref: '#/components/schemas/FilterFloorPlan'
                          - $ref: '#/components/schemas/FilterRange'
          '401':
            $ref: '#/components/responses/NoAPIKeyError'
          '403':
            $ref: '#/components/responses/AccessDeniedError'
          '404':
            $ref: '#/components/responses/ResourceNotFoundError'
          '429':
            $ref: '#/components/responses/RateLimitExceeded'
          '500':
            $ref: '#/components/responses/ServerError'
        security:
          - apiKey: []
        tags:
          - assets/filters
      post:
        operationId: createFilterForAsset
        summary: Create a filter
        description: >
          Creates a new filter.


          Requires `sightmap.filters.create` permission.


          **NOTICE:** This resource is experimental and requires the

          `filters-resource` [experimental
          flag](https://api.sightmap.com/v1/openapi).
        requestBody:
          required: true
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    title: Custom Filter
                    properties:
                      asset_id:
                        description: The asset the filter belongs to.
                        type: string
                        format: id
                        maxLength: 255
                      name:
                        type: string
                        maxLength: 255
                      label:
                        type: string
                        maxLength: 255
                      type:
                        $ref: '#/components/schemas/FilterType'
                      is_enabled:
                        description: Whether or not the filter is enabled.
                        type: boolean
                        default: true
                    required:
                      - asset_id
                      - name
                      - type
                      - label
                    example:
                      asset_id: '1323'
                      name: Bathrooms
                      label: Bathrooms
                      type: custom
                      is_enabled: true
                  - type: object
                    title: Floor Plan
                    properties:
                      asset_id:
                        description: The asset the filter belongs to.
                        type: string
                        format: id
                        maxLength: 255
                      name:
                        type: string
                        maxLength: 255
                      label:
                        type: string
                        maxLength: 255
                      type:
                        $ref: '#/components/schemas/FilterType'
                      is_enabled:
                        description: Whether or not the filter is enabled.
                        type: boolean
                        default: true
                    required:
                      - id
                      - asset_id
                      - name
                      - label
                      - type
                    example:
                      asset_id: '1323'
                      name: Floor Plan
                      label: Floor Plan
                      type: floor_plan
                      is_enabled: true
                  - type: object
                    title: Range Filter
                    properties:
                      asset_id:
                        description: The asset the filter belongs to.
                        type: string
                        format: id
                        maxLength: 255
                      name:
                        type: string
                        maxLength: 255
                      label:
                        type: string
                        maxLength: 255
                      type:
                        $ref: '#/components/schemas/FilterType'
                      is_enabled:
                        description: Whether or not the filter is enabled.
                        type: boolean
                        default: true
                      range_type:
                        type: string
                        description: >
                          - `unit_area`: Filter all units based on the min, max
                          and floor plan area of a unit.

                          - `unit_move_in`: Filter all units based on the min, max
                          and move in date of a unit.

                          - `unit_price`: Filter all units based on the min, max
                          and price of a unit.
                        enum:
                          - unit_area
                          - unit_move_in
                          - unit_price
                    required:
                      - asset_id
                      - name
                      - label
                      - type
                      - range_type
                      - options
                    example:
                      asset_id: '1323'
                      name: Unit Area
                      label: Unit Area
                      type: range
                      is_enabled: true
                      range_type: unit_area
                  - type: object
                    title: Floor Filter
                    properties:
                      asset_id:
                        description: The asset the filter belongs to.
                        type: string
                        format: id
                        maxLength: 255
                      name:
                        type: string
                        maxLength: 255
                      label:
                        type: string
                        maxLength: 255
                      type:
                        $ref: '#/components/schemas/FilterType'
                      is_enabled:
                        description: Whether or not the filter is enabled.
                        type: boolean
                        default: true
                    required:
                      - asset_id
                      - name
                      - label
                      - type
                    example:
                      asset_id: '1323'
                      name: Floor
                      label: Floor
                      type: floor
                      is_enabled: true
        responses:
          '201':
            description: Resource created
            content:
              application/json:
                schema:
                  oneOf:
                    - $ref: '#/components/schemas/FilterCustomWithOptions'
                    - $ref: '#/components/schemas/FilterFloorWithOptions'
                    - $ref: '#/components/schemas/FilterFloorPlanWithOptions'
                    - $ref: '#/components/schemas/FilterRangeWithOptions'
          '401':
            $ref: '#/components/responses/NoAPIKeyError'
          '403':
            $ref: '#/components/responses/AccessDeniedError'
          '422':
            $ref: '#/components/responses/ResourceValidationError'
          '500':
            $ref: '#/components/responses/ServerError'
        security:
          - apiKey: []
        tags:
          - assets/filters
    /assets/{asset}/multifamily/filters/{filter}:
      parameters:
        - $ref: '#/components/parameters/Asset'
        - name: filter
          in: path
          description: A filter ID.
          required: true
          schema:
            type: string
            format: id
            maxLength: 255
        - name: Experimental-Flags
          in: header
          description: >-
            This resource is experimental and requires the `filters-resource`
            [experimental flag](https://api.sightmap.com/v1/openapi).
          required: true
          schema:
            type: string
      get:
        operationId: getFilterForAsset
        summary: View a filter
        description: >
          Returns a specific filter.


          Requires `sightmap.filters.read` permission.


          **NOTICE:** This resource is experimental and requires the

          `filters-resource` [experimental
          flag](https://api.sightmap.com/v1/openapi).
        responses:
          '200':
            description: Resource returned
            content:
              application/json:
                schema:
                  oneOf:
                    - $ref: '#/components/schemas/FilterCustomWithOptions'
                    - $ref: '#/components/schemas/FilterFloorWithOptions'
                    - $ref: '#/components/schemas/FilterFloorPlanWithOptions'
                    - $ref: '#/components/schemas/FilterRangeWithOptions'
          '401':
            $ref: '#/components/responses/NoAPIKeyError'
          '403':
            $ref: '#/components/responses/AccessDeniedError'
          '404':
            $ref: '#/components/responses/ResourceNotFoundError'
          '429':
            $ref: '#/components/responses/RateLimitExceeded'
          '500':
            $ref: '#/components/responses/ServerError'
        security:
          - apiKey: []
        tags:
          - assets/filters
      put:
        operationId: updateFilterForAsset
        summary: Update a filter
        description: >
          Updates a filter.


          When updating a filter, the filter type cannot be changed.


          Requires `sightmap.filters.update` permission.


          **NOTICE:** This resource is experimental and requires the

          `filters-resource` [experimental
          flag](https://api.sightmap.com/v1/openapi).
        requestBody:
          required: true
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    title: Custom Filter
                    properties:
                      id:
                        type: string
                        format: id
                        maxLength: 255
                      asset_id:
                        description: The asset the filter belongs to.
                        type: string
                        format: id
                        maxLength: 255
                      name:
                        type: string
                        maxLength: 255
                      label:
                        type: string
                        maxLength: 255
                      type:
                        $ref: '#/components/schemas/FilterType'
                      is_enabled:
                        description: Whether or not the filter is enabled.
                        type: boolean
                        default: true
                    required:
                      - id
                      - type
                      - asset_id
                    example:
                      id: '1'
                      asset_id: '1323'
                      name: Bathrooms
                      label: Bathrooms
                      type: custom
                      is_enabled: true
                  - type: object
                    title: Floor Plan
                    properties:
                      id:
                        type: string
                        format: id
                        maxLength: 255
                      asset_id:
                        description: The asset the filter belongs to.
                        type: string
                        format: id
                        maxLength: 255
                      name:
                        type: string
                        maxLength: 255
                      label:
                        type: string
                        maxLength: 255
                      type:
                        $ref: '#/components/schemas/FilterType'
                      is_enabled:
                        description: Whether or not the filter is enabled.
                        type: boolean
                        default: true
                    required:
                      - id
                      - asset_id
                      - type
                    example:
                      id: '1'
                      asset_id: '1323'
                      name: Floor Plan
                      label: Floor Plan
                      type: floor_plan
                      is_enabled: true
                  - type: object
                    title: Range Filter
                    properties:
                      id:
                        type: string
                        format: id
                        maxLength: 255
                      asset_id:
                        description: The asset the filter belongs to.
                        type: string
                        format: id
                        maxLength: 255
                      name:
                        type: string
                        maxLength: 255
                      label:
                        type: string
                        maxLength: 255
                      type:
                        $ref: '#/components/schemas/FilterType'
                      is_enabled:
                        description: Whether or not the filter is enabled.
                        type: boolean
                        default: true
                      range_type:
                        type: string
                        description: >
                          - `unit_area`: Filter all units based on the min, max
                          and floor plan area of a unit.

                          - `unit_move_in`: Filter all units based on the min, max
                          and move in date of a unit.

                          - `unit_price`: Filter all units based on the min, max
                          and price of a unit.
                        enum:
                          - unit_area
                          - unit_move_in
                          - unit_price
                    required:
                      - id
                      - asset_id
                      - type
                      - range_type
                    example:
                      id: '1'
                      asset_id: '1323'
                      name: Unit Area
                      label: Unit Area
                      type: range
                      is_enabled: true
                      range_type: unit_area
                  - type: object
                    title: Floor Filter
                    properties:
                      id:
                        type: string
                        format: id
                        maxLength: 255
                      asset_id:
                        description: The asset the filter belongs to.
                        type: string
                        format: id
                        maxLength: 255
                      name:
                        type: string
                        maxLength: 255
                      label:
                        type: string
                        maxLength: 255
                      type:
                        $ref: '#/components/schemas/FilterType'
                      is_enabled:
                        description: Whether or not the filter is enabled.
                        type: boolean
                        default: true
                    required:
                      - id
                      - asset_id
                      - type
                    example:
                      id: '1'
                      asset_id: '1323'
                      name: Floor
                      label: Floor
                      type: floor
                      is_enabled: true
        responses:
          '200':
            description: Resource returned
            content:
              application/json:
                schema:
                  oneOf:
                    - $ref: '#/components/schemas/FilterCustomWithOptions'
                    - $ref: '#/components/schemas/FilterFloorWithOptions'
                    - $ref: '#/components/schemas/FilterFloorPlanWithOptions'
                    - $ref: '#/components/schemas/FilterRangeWithOptions'
          '401':
            $ref: '#/components/responses/NoAPIKeyError'
          '403':
            $ref: '#/components/responses/AccessDeniedError'
          '422':
            $ref: '#/components/responses/ResourceValidationError'
          '500':
            $ref: '#/components/responses/ServerError'
        security:
          - apiKey: []
        tags:
          - assets/filters
    /assets/{asset}/multifamily/filters/{filter}/options:
      parameters:
        - $ref: '#/components/parameters/Asset'
        - name: filter
          in: path
          description: A filter ID.
          required: true
          schema:
            type: string
            format: id
            maxLength: 255
        - name: Experimental-Flags
          in: header
          description: >-
            This resource is experimental and requires the `filters-resource`
            [experimental flag](https://api.sightmap.com/v1/openapi).
          required: true
          schema:
            type: string
      get:
        operationId: listOptionsForFilterOnAsset
        summary: List options
        description: >
          Returns a list of options.


          Requires `sightmap.filters.read` permission.


          **NOTICE:** This resource is experimental and requires the

          `filters-resource` [experimental
          flag](https://api.sightmap.com/v1/openapi).
        parameters:
          - $ref: '#/components/parameters/Page'
          - $ref: '#/components/parameters/PerPage'
        responses:
          '200':
            description: Resource list returned
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    paging:
                      $ref: '#/components/schemas/Paging'
                    data:
                      type: array
                      items:
                        anyOf:
                          - $ref: '#/components/schemas/Custom'
                          - $ref: '#/components/schemas/Floor'
                          - $ref: '#/components/schemas/FloorPlan'
                          - $ref: '#/components/schemas/Range'
          '401':
            $ref: '#/components/responses/NoAPIKeyError'
          '403':
            $ref: '#/components/responses/AccessDeniedError'
          '404':
            $ref: '#/components/responses/ResourceNotFoundError'
          '429':
            $ref: '#/components/responses/RateLimitExceeded'
          '500':
            $ref: '#/components/responses/ServerError'
        security:
          - apiKey: []
        tags:
          - assets/filters
      post:
        operationId: createOptionForFilterOnAnAsset
        summary: Create an option
        description: >
          Creates a new option for a filter.


          Requires `sightmap.filters.create` permission.


          **NOTICE:** This resource is experimental and requires the

          `filters-resource` [experimental
          flag](https://api.sightmap.com/v1/openapi).
        requestBody:
          required: true
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    title: Custom Option
                    properties:
                      asset_id:
                        description: The asset the option belongs to.
                        type: string
                        format: id
                        maxLength: 255
                      filter_id:
                        description: The filter the option belongs to.
                        type: string
                        format: id
                        maxLength: 255
                      type:
                        $ref: '#/components/schemas/FilterOptionType'
                      label:
                        type: string
                        maxLength: 255
                      sort:
                        description: The sort order of the option.
                        type: integer
                        format: int32
                        maxLength: 255
                      is_enabled:
                        description: Whether or not the option is enabled.
                        type: boolean
                        default: true
                    required:
                      - asset_id
                      - filter_id
                      - type
                      - label
                    example:
                      asset_id: '1323'
                      filter_id: '1'
                      type: custom
                      label: 0 - 3
                      sort: 0
                      is_enabled: true
                  - type: object
                    title: Floor Plan
                    properties:
                      asset_id:
                        description: The asset the option belongs to.
                        type: string
                        format: id
                        maxLength: 255
                      filter_id:
                        description: The filter the option belongs to.
                        type: string
                        format: id
                        maxLength: 255
                      type:
                        $ref: '#/components/schemas/FilterOptionType'
                      floor_plan_id:
                        description: The floor plan the option is assigned to.
                        type: string
                        format: id
                        maxLength: 255
                      label:
                        type: string
                        maxLength: 255
                      sort:
                        description: The sort order of the option.
                        type: integer
                        format: int32
                        maxLength: 255
                      is_enabled:
                        description: Whether or not the option is enabled.
                        type: boolean
                        default: true
                    required:
                      - asset_id
                      - filter_id
                      - floor_plan_id
                      - type
                      - label
                    example:
                      asset_id: '1323'
                      filter_id: '1'
                      floor_plan_id: '432'
                      type: floor_plan
                      label: Floor Plan
                      sort: 1
                      is_enabled: true
                  - type: object
                    title: Range Option
                    properties:
                      asset_id:
                        description: The asset the option belongs to.
                        type: string
                        format: id
                        maxLength: 255
                      filter_id:
                        description: The asset the option belongs to.
                        type: string
                        format: id
                        maxLength: 255
                      type:
                        $ref: '#/components/schemas/FilterOptionType'
                      label:
                        type: string
                        maxLength: 255
                      min:
                        description: The minium value of the range option.
                        type: integer
                        format: int32
                      max:
                        description: The maximum value of the range option.
                        type: integer
                        format: int32
                      sort:
                        description: The sort order of the option.
                        type: integer
                        format: int32
                        maxLength: 255
                      is_enabled:
                        description: Whether or not the option is enabled.
                        type: boolean
                        default: true
                    required:
                      - asset_id
                      - filter_id
                      - type
                      - label
                      - min
                      - max
                    example:
                      asset_id: '1323'
                      filter_id: '1'
                      type: range
                      min: 0
                      max: 1200
                      label: 0 - 1200 sqft
                      is_enabled: true
                      sort: 0
                  - type: object
                    title: Floor Option
                    properties:
                      asset_id:
                        description: The asset the option belongs to.
                        type: string
                        format: id
                        maxLength: 255
                      filter_id:
                        description: The asset the option belongs to.
                        type: string
                        format: id
                        maxLength: 255
                      floor_id:
                        description: The floor plan the option references.
                        type: string
                        format: id
                        maxLength: 255
                      type:
                        $ref: '#/components/schemas/FilterOptionType'
                      label:
                        type: string
                        maxLength: 255
                      short_label:
                        type: string
                        maxLength: 255
                      is_enabled:
                        description: Whether or not the option is enabled.
                        type: boolean
                        default: true
                    required:
                      - asset_id
                      - filter_id
                      - floor_id
                      - type
                      - label
                    example:
                      asset_id: '1323'
                      floor_id: '3'
                      filter_id: '1'
                      type: floor
                      label: Parking
                      short_label: P
                      sort: 0
                      is_enabled: true
        responses:
          '201':
            description: Resource created
            content:
              application/json:
                schema:
                  oneOf:
                    - $ref: '#/components/schemas/Custom'
                    - $ref: '#/components/schemas/Floor'
                    - $ref: '#/components/schemas/FloorPlan'
                    - $ref: '#/components/schemas/Range'
          '401':
            $ref: '#/components/responses/NoAPIKeyError'
          '403':
            $ref: '#/components/responses/AccessDeniedError'
          '422':
            $ref: '#/components/responses/ResourceValidationError'
          '500':
            $ref: '#/components/responses/ServerError'
        security:
          - apiKey: []
        tags:
          - assets/filters
    /assets/{asset}/multifamily/filters/{filter}/options/{option}:
      parameters:
        - $ref: '#/components/parameters/Asset'
        - name: filter
          in: path
          description: A filter ID.
          required: true
          schema:
            type: string
            format: id
            maxLength: 255
        - name: option
          in: path
          description: An option ID.
          required: true
          schema:
            type: string
            format: id
            maxLength: 255
        - name: Experimental-Flags
          in: header
          description: >-
            This resource is experimental and requires the `filters-resource`
            [experimental flag](https://api.sightmap.com/v1/openapi).
          required: true
          schema:
            type: string
      get:
        operationId: getOptionForFilterOnAsset
        summary: View an option
        description: >
          Returns a specific filter.


          Requires `sightmap.filters.read` permission.


          **NOTICE:** This resource is experimental and requires the

          `filters-resource` [experimental
          flag](https://api.sightmap.com/v1/openapi).
        responses:
          '200':
            description: Resource returned
            content:
              application/json:
                schema:
                  oneOf:
                    - $ref: '#/components/schemas/Custom'
                    - $ref: '#/components/schemas/FloorPlan'
                    - $ref: '#/components/schemas/Floor'
                    - $ref: '#/components/schemas/Range'
          '401':
            $ref: '#/components/responses/NoAPIKeyError'
          '403':
            $ref: '#/components/responses/AccessDeniedError'
          '404':
            $ref: '#/components/responses/ResourceNotFoundError'
          '429':
            $ref: '#/components/responses/RateLimitExceeded'
          '500':
            $ref: '#/components/responses/ServerError'
        security:
          - apiKey: []
        tags:
          - assets/filters
      put:
        operationId: updateOptionForFilterOnAsset
        summary: Update an option
        description: >
          Updates an option.


          Requires `sightmap.filters.update` permission.


          **NOTICE:** This resource is experimental and requires the

          `filters-resource` [experimental
          flag](https://api.sightmap.com/v1/openapi).
        requestBody:
          required: true
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    title: Custom Option
                    properties:
                      id:
                        type: string
                        format: id
                        maxLength: 255
                      asset_id:
                        description: The asset the filter belongs to.
                        type: string
                        format: id
                        maxLength: 255
                      filter_id:
                        description: The filter the option belongs to.
                        type: string
                        format: id
                        maxLength: 255
                      type:
                        type: string
                        maxLength: 255
                        description: The type must match the filter type.
                      label:
                        type: string
                        maxLength: 255
                      sort:
                        description: The sort order of the option.
                        type: integer
                        format: int32
                        maxLength: 255
                      is_enabled:
                        description: Whether or not the filter is enabled.
                        type: boolean
                        default: true
                    required:
                      - id
                      - type
                      - asset_id
                      - filter_id
                    example:
                      id: '8267'
                      asset_id: '1323'
                      filter_id: '1'
                      type: custom
                      label: 0 - 3
                      sort: 0
                      is_enabled: true
                  - type: object
                    title: Floor Plan Option
                    properties:
                      id:
                        type: string
                        format: id
                        maxLength: 255
                      asset_id:
                        description: The asset the filter belongs to.
                        type: string
                        format: id
                        maxLength: 255
                      filter_id:
                        description: The filter the option belongs to.
                        type: string
                        format: id
                        maxLength: 255
                      floor_plan_id:
                        description: The floor plan the option is assigned to.
                        type: string
                        format: id
                        maxLength: 255
                      type:
                        type: string
                        maxLength: 255
                        description: The type must match the filter type.
                      label:
                        type: string
                        maxLength: 255
                      sort:
                        description: The sort order of the option.
                        type: integer
                        format: int32
                        maxLength: 255
                      is_enabled:
                        description: Whether or not the filter is enabled.
                        type: boolean
                        default: true
                    required:
                      - id
                      - type
                      - asset_id
                      - filter_id
                      - floor_plan_id
                    example:
                      id: '4554'
                      asset_id: '1323'
                      filter_id: '1'
                      floor_plan_id: '432'
                      type: floor_plan
                      label: Floor Plan
                      sort: 0
                      is_enabled: true
                  - type: object
                    title: Range Option
                    properties:
                      id:
                        type: string
                        format: id
                        maxLength: 255
                      asset_id:
                        description: The asset the filter belongs to.
                        type: string
                        format: id
                        maxLength: 255
                      filter_id:
                        description: The filter the option belongs to.
                        type: string
                        format: id
                        maxLength: 255
                      type:
                        type: string
                        maxLength: 255
                        description: The type must match the filter type.
                      label:
                        type: string
                        maxLength: 255
                      min:
                        description: The minium value of the range option.
                        type: integer
                        format: int32
                      max:
                        description: The maximum value of the range option.
                        type: integer
                        format: int32
                      sort:
                        description: The sort order of the option.
                        type: integer
                        format: int32
                      is_enabled:
                        description: Whether or not the filter is enabled.
                        type: boolean
                        default: true
                    required:
                      - id
                      - type
                      - asset_id
                      - filter_id
                    example:
                      id: '4554'
                      asset_id: '1323'
                      filter_id: '1'
                      type: range
                      min: 0
                      max: 1200
                      label: Unit Area
                      sort: 0
                      is_enabled: true
                  - type: object
                    title: Floor Option
                    properties:
                      id:
                        type: string
                        format: id
                        maxLength: 255
                      asset_id:
                        description: The asset the option belongs to.
                        type: string
                        format: id
                        maxLength: 255
                      filter_id:
                        description: The filter the option belongs to.
                        type: string
                        format: id
                        maxLength: 255
                      floor_id:
                        description: The floor the option references.
                        type: string
                        format: id
                        maxLength: 255
                      type:
                        type: string
                        maxLength: 255
                        description: The type must match the filter type.
                      label:
                        type: string
                        maxLength: 255
                      short_label:
                        type: string
                        maxLength: 255
                      sort:
                        description: The sort order of the option.
                        type: integer
                        format: int32
                      is_enabled:
                        description: Whether or not the option is enabled.
                        type: boolean
                        default: true
                    required:
                      - id
                      - type
                      - asset_id
                      - floor_id
                      - filter_id
                    example:
                      id: '4554'
                      asset_id: '1323'
                      filter_id: '1'
                      floor_id: '1'
                      type: floor
                      label: Floor
                      sort: 0
                      is_enabled: true
        responses:
          '200':
            description: Resource returned
            content:
              application/json:
                schema:
                  oneOf:
                    - $ref: '#/components/schemas/Custom'
                    - $ref: '#/components/schemas/FloorPlan'
                    - $ref: '#/components/schemas/Floor'
                    - $ref: '#/components/schemas/Range'
          '401':
            $ref: '#/components/responses/NoAPIKeyError'
          '403':
            $ref: '#/components/responses/AccessDeniedError'
          '422':
            $ref: '#/components/responses/ResourceValidationError'
          '500':
            $ref: '#/components/responses/ServerError'
        security:
          - apiKey: []
        tags:
          - assets/filters
    /assets/{asset}/multifamily/filters/{filter}/options/{option}/units:
      parameters:
        - $ref: '#/components/parameters/Asset'
        - name: filter
          in: path
          description: A filter ID.
          required: true
          schema:
            type: string
            format: id
            maxLength: 255
        - name: option
          in: path
          description: An option ID.
          required: true
          schema:
            type: string
            format: id
            maxLength: 255
        - name: Experimental-Flags
          in: header
          description: >-
            This resource is experimental and requires the `filters-resource`
            [experimental flag](https://api.sightmap.com/v1/openapi).
          required: true
          schema:
            type: string
      get:
        operationId: listUnitsForCustomFilterOptionOnAnAsset
        summary: List units assigned to a custom option
        description: >
          Returns a list of units for a custom option.


          Requires `sightmap.filters.read` permission.


          **NOTICE:** This resource is experimental and requires the

          `filters-resource` [experimental
          flag](https://api.sightmap.com/v1/openapi).
        parameters:
          - $ref: '#/components/parameters/Page'
          - $ref: '#/components/parameters/PerPage'
        responses:
          '200':
            description: Resource list returned
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    paging:
                      $ref: '#/components/schemas/Paging'
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/UnitFilterCustomOptionRelation'
          '401':
            $ref: '#/components/responses/NoAPIKeyError'
          '403':
            $ref: '#/components/responses/AccessDeniedError'
          '404':
            $ref: '#/components/responses/ResourceNotFoundError'
          '429':
            $ref: '#/components/responses/RateLimitExceeded'
          '500':
            $ref: '#/components/responses/ServerError'
        security:
          - apiKey: []
        tags:
          - assets/filters
      put:
        operationId: assignUnitsForCustomOptionsOnAnAsset
        summary: Assign units to a custom option
        description: >
          Assign one or more units to one or more options.


          Requires `sightmap.filters.update` permission.


          **NOTICE:** This resource is experimental and requires the

          `filters-resource` [experimental
          flag](https://api.sightmap.com/v1/openapi).
        requestBody:
          required: true
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        asset_id:
                          description: The asset the option belongs to.
                          type: string
                          format: id
                          maxLength: 255
                        filter_id:
                          description: The filter the option belongs to.
                          type: string
                          format: id
                          maxLength: 255
                        option_id:
                          type: string
                          format: id
                          maxLength: 255
                        unit_id:
                          description: The unit the option belongs to.
                          type: string
                          maxLength: 255
                      required:
                        - asset_id
                        - option_id
                        - unit_id
                        - filter_id
                    example:
                      - asset_id: '1'
                        filter_id: '1000'
                        option_id: '7'
                        unit_id: '258670'
                      - asset_id: '1'
                        filter_id: '1001'
                        option_id: '7'
                        unit_id: '258671'
        responses:
          '200':
            description: Resource returned
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    data:
                      type: array
                      items:
                        type: object
                        properties:
                          asset_id:
                            description: The asset the option belongs to.
                            type: string
                            format: id
                            maxLength: 255
                          filter_id:
                            description: The filter the option belongs to.
                            type: string
                            format: id
                            maxLength: 255
                          unit_id:
                            description: The unit the option belongs to.
                            type: string
                            format: id
                            maxLength: 255
                          option_id:
                            type: string
                            format: id
                            maxLength: 255
                      example:
                        - asset_id: '1'
                          filter_id: '1323'
                          option_id: '7'
                          unit_id: '258670'
                        - asset_id: '1'
                          filter_id: '1323'
                          option_id: '8'
[...]
