publishJson:
  company: Fountain
  serviceName: false
  sdkName: fountain-{language}-sdk
  clientName: Fountain
  metaDescription: >-
    Fountain's all-in-one high volume hiring platform empowers the world's
    leading enterprises to find the right people through smart, fast, and
    seamless recruiting. Candidates can apply anytime, anywhere in minutes,
    right from their phone. Automated and customizable processes streamline the
    candidate experience and save time for recruitment teams so they can scale
    with growing hiring needs. Advanced analytics provide end-to-end process
    visibility so managers can make swift, data-driven decisions. Throughout the
    candidate journey, the openly integrated platform enables companies to find,
    qualify and convert more applicants. Fountain's global customers hire over
    1.2 million workers annually in 78 countries.


    Why Work with Us:


    - Generous compensation, San Francisco rate compensation regardless of
    location in US

    - 100% Remote and Flexible Hours

    - Unlimited PTO

    - Equity grants

    - Comprehensive healthcare benefits

    - 16 weeks paid parental leave for all parents

    - Wellness and gym reimbursement

    - Home office stipend

    - Phone stipend

    - 401K plan

    - Learning and development reimbursement

    - Company events

    - FSA & HSA

    - Life Insurance & Long-Term Disability/Short-Term Disability


    Visit us at https://get.fountain.com to learn more.
  apiStatusUrls: inherit
  homepage: fountain.com
  developerDocumentation: developer.fountain.com
  categories:
    - recruiting
    - remote_work
    - hr
rawSpecString: |
  openapi: 3.0.1
  info:
    title: Fountain Public API
    version: v2
  servers:
    - url: https://api.fountain.com
      description: Our production API url.
  security:
    - ApiKeyAuth: []
  components:
    securitySchemes:
      ApiKeyAuth:
        type: apiKey
        name: X-ACCESS-TOKEN
        in: header
    schemas:
      Applicants:
        type: object
        properties:
          applicants:
            type: array
            items:
              type: object
              properties:
                id:
                  type: string
                  description: Applicants ID
                  example: 6e6f5eee-abbe-4ccb-8f12-894842bbe252
                email:
                  type: string
                  description: Applicants Email Address
                  example: example@applicant.com
                name:
                  type: string
                  description: Applicants Full Name
                  example: Michael Jordan
                first_name:
                  type: string
                  description: Applicants First Name
                  example: Michael
                last_name:
                  type: string
                  description: Applicants Last Name
                  example: Jordan
                phone_number:
                  type: string
                  description: Applicants Phone Number
                  example: 214-609-0494
                normalized_phone_number:
                  type: string
                  description: Applicants Phone Number
                  example: '+12146090494'
                phone_number_country_code:
                  type: string
                  description: Applicants Phone Number country code
                  example: '+1'
                data:
                  type: object
                  description: Applicant extra information
                created_at:
                  type: string
                  format: date-time
                  description: Date when the Applicant was created
                  example: '2024-01-10T05:19:37.788-08:00'
                updated_at:
                  type: string
                  format: date-time
                  description: Date when the Applicant was last updated
                  example: '2024-01-10T05:19:37.293-08:00'
                  nullable: true
                receive_automated_emails:
                  type: boolean
                  description: Whether the Applciant receives automated emails or not.
                  example: true
                labels:
                  type: array
                  items:
                    type: object
                    properties:
                      title:
                        type: string
                        description: Name of the Label
                        example: Completed Survey
                      completed:
                        type: boolean
                        description: Was the label marked as done.
                        example: true
                      completed_at:
                        type: string
                        format: date-time
                        description: DateTime the Label was marked as done.
                        example: '2023-09-21T17:00:00.000-07:00'
                    additionalProperties: false
                    required:
                      - title
                      - completed
                      - completed_at
                is_duplicate:
                  type: boolean
                  description: Applicants has been marked as a duplicate.
                  example: false
                file_upload_requests:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: number
                        description: ID of the file upload request.
                        example: 1
                      recollection_reason:
                        type: string
                        description: Reason it is being recollected.
                        enum:
                          - blurry
                          - corrupt
                          - incorrect
                          - expired
                          - custom
                      created_at:
                        type: string
                        format: date-time
                        description: Date when the File Upload Request was created
                        example: '2024-01-10T05:19:37.788-08:00'
                      document_name:
                        type: string
                        description: File Upload Request Document Name
                        example: Drivers License.
                    additionalProperties: false
                    required:
                      - id
                      - recollection_reason
                      - created_at
                      - document_name
                i9_status:
                  type: object
                  properties:
                    status:
                      type: string
                      description: The status of the i9 Form
                      enum:
                        - awaiting_employee
                        - awaiting_employer
                        - pending
                        - complete
                        - opted_out
                        - awaiting_authorized_representative
                    last_form_update:
                      type: string
                      format: date-time
                      description: The DateTime the form was last updated at.
                      example: '2024-01-10T05:19:37.788-08:00'
                    landed_at:
                      type: string
                      format: date-time
                      description: The DateTime the applicant filled out the i9 Form.
                      example: '2024-01-10T05:19:37.788-08:00'
                  additionalProperties: false
                  required:
                    - status
                    - last_form_update
                    - landed_at
                addresses:
                  type: array
                  items:
                    type: object
                    properties:
                      street_name:
                        type: string
                        description: Address street name
                      address_2:
                        type: string
                        description: Address two name
                      city:
                        type: string
                        description: Address city name
                      state:
                        type: string
                        description: Address state name
                      zipcode:
                        type: string
                        description: Address zipcode
                      country:
                        type: string
                        description: Address country
                      latitude:
                        type: number
                        description: Address latitude
                      longitude:
                        type: number
                        description: Address longitude
                    additionalProperties: false
                    required:
                      - street_name
                      - address_2
                      - city
                      - state
                      - zipcode
                      - country
                      - latitude
                      - longitude
                last_transitioned_at:
                  type: string
                  format: date-time
                  description: >-
                    DateTime the applicant was last transitioned from one stage to
                    another.
                  example: '2024-01-10T05:19:37.788-08:00'
                  nullable: true
                background_checks:
                  type: array
                  items:
                    anyOf:
                      - type: object
                        properties:
                          status:
                            type: string
                            description: Checkr background check status
                            enum:
                              - clear
                              - consider
                              - negative
                              - non_negative
                              - complete
                              - pending
                              - suspended
                              - dispute
                              - canceled
                          title:
                            type: string
                            description: Title of the background check.
                          updated_at:
                            type: string
                            format: date-time
                            description: Last updated_at for the background check.
                          candidate_id:
                            type: string
                            description: >-
                              The candidate ID of the applicant from the
                              background check provider.
                          report_id:
                            type: string
                            description: >-
                              The report ID of the background check from the
                              background check provider.
                          vendor:
                            type: string
                            enum:
                              - checkr
                        additionalProperties: false
                        required:
                          - status
                          - title
                          - updated_at
                          - candidate_id
                          - report_id
                          - vendor
                      - type: object
                        properties:
                          title:
                            type: string
                            description: Title of the background check.
                          applicant_id:
                            type: string
                            description: >-
                              The applicant ID of the applicant from the
                              background check provider.
                          updated_at:
                            type: string
                            format: date-time
                            description: Last updated_at for the background check.
                          status:
                            type: string
                            description: Onfido background check status
                            enum:
                              - no bgc
                              - pending
                              - consented
                              - not consented
                              - clear
                              - consider
                              - withdrawn
                              - paused
                              - reopened
                          check_id:
                            type: string
                            description: >-
                              The report ID of the background check from the
                              background check provider.
                          vendor:
                            type: string
                            enum:
                              - onfido
                        additionalProperties: false
                        required:
                          - status
                          - title
                          - updated_at
                          - applicant_id
                          - check_id
                          - vendor
                document_signatures:
                  type: array
                  items:
                    anyOf:
                      - type: object
                        properties:
                          signature_id:
                            type: string
                            description: Document Signing ID
                            example: 91990715d51488bdd1e184b83828db8a
                          status:
                            type: string
                            description: Document Signing Status
                            enum:
                              - unopened
                              - opened
                              - signed
                              - admin_reviewed
                          vendor:
                            type: string
                            description: Document Signing Vendor
                            enum:
                              - hellosign
                              - docusign
                          file_url:
                            type: string
                            description: The URL of the signed document
                            format: uri
                            nullable: true
                partner_data:
                  type: array
                  items:
                    type: object
                can_receive_sms:
                  type: boolean
                phone_platform:
                  type: string
                  enum:
                    - sms
                    - whats_app
                work_availability:
                  type: string
                  enum:
                    - sunday_morning
                    - sunday_afternoon
                    - sunday_evening
                    - monday_morning
                    - monday_afternoon
                    - monday_evening
                    - tuesday_morning
                    - tuesday_afternoon
                    - tuesday_evening
                    - wednesday_morning
                    - wednesday_afternoon
                    - wednesday_evening
                    - thursday_morning
                    - thursday_afternoon
                    - thursday_evening
                    - friday_morning
                    - friday_afternoon
                    - friday_evening
                    - saturday_morning
                    - saturday_afternoon
                    - saturday_evening
                date_of_birth:
                  type: string
                  format: date
                team_or_solo:
                  type: string
                  enum:
                    - team
                    - solo
                funnel:
                  type: object
                  properties:
                    title:
                      type: string
                      description: Name of the funnel the applicant is currently in.
                    custom_id:
                      type: string
                      description: A custom ID for the funnel
                    id:
                      type: string
                      description: The ID for the funnel
                  additionalProperties: false
                  required:
                    - title
                    - custom_id
                    - id
                stage:
                  type: object
                  properties:
                    title:
                      type: string
                      description: Name of the stage the applicant is currently in.
                    id:
                      type: string
                      description: The ID for the stage
                    parent_id:
                      type: string
                      description: The stage parent ID for the funnel
                      nullable: true
                    type:
                      type: string
                      description: The stage type.
                  nullable: true
                  additionalProperties: false
                  required:
                    - title
                    - id
                    - parent_id
                    - type
              additionalProperties: false
              required:
                - id
                - email
                - name
                - first_name
                - last_name
                - phone_number
                - normalized_phone_number
                - phone_number_country_code
                - data
                - created_at
                - updated_at
                - receive_automated_emails
                - labels
                - is_duplicate
                - file_upload_requests
                - i9_status
                - addresses
                - last_transitioned_at
                - background_checks
                - document_signatures
                - partner_data
                - can_receive_sms
                - phone_platform
                - work_availability
                - date_of_birth
                - team_or_solo
                - funnel
                - stage
          pagination:
            $ref: '#/components/schemas/PaginationWithCursor'
        additionalProperties: false
        required:
          - applicants
          - pagination
      Applicant:
        type: object
        properties:
          email:
            type: string
            description: Applicants Email Address
            example: example@applicant.com
          name:
            type: string
            description: Applicants Full Name
            example: Michael Jordan
          first_name:
            type: string
            description: Applicants First Name
            example: Michael
          last_name:
            type: string
            description: Applicants Last Name
            example: Jordan
          phone_number:
            type: string
            description: Applicants Phone Number
            example: 214-609-0494
          normalized_phone_number:
            type: string
            description: Applicants Phone Number
            example: '+12146090494'
          phone_number_country_code:
            type: string
            description: Applicants Phone Number country code
            example: '+1'
          data:
            type: object
            description: Applicant extra information
          created_at:
            type: string
            format: date-time
            description: Date when the Applicant was created
            example: '2024-01-10T05:19:37.788-08:00'
          updated_at:
            type: string
            format: date-time
            description: Date when the Applicant was last updated
            example: '2024-01-10T05:19:37.293-08:00'
            nullable: true
          receive_automated_emails:
            type: boolean
            description: Whether the Applciant receives automated emails or not.
            example: true
          labels:
            type: array
            items:
              type: object
              properties:
                title:
                  type: string
                  description: Name of the Label
                  example: Completed Survey
                completed:
                  type: boolean
                  description: Was the label marked as done.
                  example: true
                completed_at:
                  type: string
                  format: date-time
                  description: DateTime the Label was marked as done.
                  example: '2023-09-21T17:00:00.000-07:00'
              additionalProperties: false
              required:
                - title
                - completed
                - completed_at
          is_duplicate:
            type: boolean
            description: Applicants has been marked as a duplicate.
            example: false
          file_upload_requests:
            type: array
            items:
              type: object
              properties:
                id:
                  type: number
                  description: ID of the file upload request.
                  example: 1
                recollection_reason:
                  type: string
                  description: Reason it is being recollected.
                  enum:
                    - blurry
                    - corrupt
                    - incorrect
                    - expired
                    - custom
                created_at:
                  type: string
                  format: date-time
                  description: Date when the File Upload Request was created
                  example: '2024-01-10T05:19:37.788-08:00'
                document_name:
                  type: string
                  description: File Upload Request Document Name
                  example: Drivers License.
              additionalProperties: false
              required:
                - id
                - recollection_reason
                - created_at
                - document_name
          portal_url:
            type: string
            format: uri
          secure_data:
            type: object
            description: >-
              This contains a key/value pair of any data deemed secure.  An
              example would be SSN.
            properties:
              disability:
                type: string
                nullable: true
                description: Predefined secure key
              ethnicity:
                type: string
                nullable: true
                description: Predefined secure key
              gender:
                type: string
                nullable: true
                description: Predefined secure key
              sexual_orientation:
                type: string
                nullable: true
                description: Predefined secure key
              transgender_identity:
                type: string
                nullable: true
                description: Predefined secure key
              veteran_us:
                type: string
                nullable: true
                description: Predefined secure key
              citizenship:
                type: string
                nullable: true
                description: Predefined secure key
              can_work_in_us:
                type: boolean
                nullable: true
                description: Predefined secure key
              ssn:
                type: string
                nullable: true
                description: Predefined secure key
              national_identification_number:
                type: string
                nullable: true
                description: Predefined secure key
              tax_id:
                type: string
                nullable: true
                description: Predefined secure key
              income_salary:
                type: string
                nullable: true
                description: Predefined secure key
              income_income_tax_dollar_amount:
                type: string
                nullable: true
                description: Predefined secure key
              income_ss_tax:
                type: string
                nullable: true
                description: Predefined secure key
              income_medicare_tax:
                type: string
                nullable: true
                description: Predefined secure key
              income_taxpayer_identification_number:
                type: string
                nullable: true
                description: Predefined secure key
              bank_name:
                type: string
                nullable: true
                description: Predefined secure key
              bank_routing_number:
                type: string
                nullable: true
                description: Predefined secure key
              bank_account_number:
                type: string
                nullable: true
                description: Predefined secure key
              iban:
                type: string
                nullable: true
                description: Predefined secure key
              bic:
                type: string
                nullable: true
                description: Predefined secure key
              vehicle_make:
                type: string
                nullable: true
                description: Predefined secure key
              vehicle_model:
                type: string
                nullable: true
                description: Predefined secure key
              vehicle_year:
                type: number
                nullable: true
                description: Predefined secure key
              vehicle_registration_plate_number:
                type: string
                nullable: true
                description: Predefined secure key
              vehicle_vin_number:
                type: string
                nullable: true
                description: Predefined secure key
              driver_license_number:
                type: string
                nullable: true
                description: Predefined secure key
              driver_license_expiration_date:
                type: string
                nullable: true
                description: Predefined secure key
              driver_license_state:
                type: string
                nullable: true
                description: Predefined secure key
              insurance_type:
                type: string
                nullable: true
                description: Predefined secure key
              insurance_benefactor_first_name:
                type: string
                nullable: true
                description: Predefined secure key
              insurance_benefactor_middle_name:
                type: string
                nullable: true
                description: Predefined secure key
              insurance_benefactor_last_name:
                type: string
                nullable: true
                description: Predefined secure key
              insurance_member_id:
                type: string
                nullable: true
                description: Predefined secure key
              insurance_company_group_id:
                type: string
                nullable: true
                description: Predefined secure key
              insurance_company_of_issue:
                type: string
                nullable: true
                description: Predefined secure key
              insurance_country_of_issue:
                type: string
                nullable: true
                description: Predefined secure key
              insurance_city_of_issue:
                type: string
                nullable: true
                description: Predefined secure key
              insurance_issue_date:
                type: string
                nullable: true
                description: Predefined secure key
              insurance_expiration_date:
                type: string
                nullable: true
                description: Predefined secure key
              passport_number:
                type: string
                nullable: true
                description: Predefined secure key
              passport_country_of_issue:
                type: string
                nullable: true
                description: Predefined secure key
              passport_city_of_issue:
                type: string
                nullable: true
                description: Predefined secure key
              passport_issue_date:
                type: string
                nullable: true
                description: Predefined secure key
              passport_expiration_date:
                type: string
                nullable: true
                description: Predefined secure key
          lessonly:
            type: object
            properties:
              lesson_results:
                type: array
                items:
                  type: object
                  properties:
                    lesson_url:
                      type: string
                      format: uri
                      description: The URL to visit the Lessonly lesson.
                    score_percent:
                      type: number
                      description: The score of the Lessonly lesson.
                    report_card_url:
                      type: string
                      format: uri
                      description: The URL to Lessonly report card.
                    completed_at:
                      type: string
                      format: date-time
                      description: The date-time the lesson was completed.
                    lesson_name:
                      type: string
                      description: The Lessonly lesson name.
                  additionalProperties: false
                  required:
                    - lesson_url
                    - score_percent
                    - report_card_url
                    - completed_at
                    - lesson_name
              path_results:
                type: array
                items:
                  type: object
                  properties:
                    path_url:
                      type: string
                      format: uri
                      description: The URL to the Path.
                    goal:
                      type: number
                      description: Path goal.
                    progress:
                      type: number
                      description: Path progress.
                    path_name:
                      type: string
                      description: The Path name.
                  additionalProperties: false
                  required:
                    - path_url
                    - goal
                    - progress
                    - path_name
            additionalProperties: false
            required:
              - lesson_results
              - path_results
          video_urls:
            type: array
            items:
              type: string
              format: uri
              description: The URL of the video.
          assigned_user:
            type: object
            properties:
              id:
                type: string
                description: The assigned user's id
              email:
                type: string
                description: The assigned user's email address
              name:
                type: string
                description: The assigned user's name
            additionalProperties: false
          i9:
            type: object
            properties:
              last_name:
                type: string
                description: i9 form collected last name.
              first_name:
                type: string
                description: i9 form collected first name.
              middle_initial:
                type: string
                description: i9 form collected middle name.
              other_last_names:
                type: string
                description: i9 form collected other last name.
              address:
                type: string
                description: i9 form collected address.
              apartment_number:
                type: string
                description: i9 form collected apartment number.
              city:
                type: string
                description: i9 form collected city.
              state:
                type: string
                description: i9 form collected state.
              zipcode:
                type: number
                description: i9 form collected zipcode.
              date_of_birth:
                type: string
                description: i9 form collected date of birth.
              ssn:
                type: string
                description: i9 form collected Social Security Number.
              email:
                type: string
                description: i9 form collected email.
              telephone:
                type: string
                description: i9 form collected telephone.
              citizenship_status:
                type: string
                description: i9 form collected citizenship status.
              signature_date:
                type: string
                description: i9 form signature date.
              preparer_used:
                type: string
                description: Indicating if the i9 form was prepared by someone else.
                enum:
                  - t
                  - f
              employer_signature_date:
                type: string
                description: Employer signed date in YYYY-MM-DD formate.
              preparer_signature_date:
                type: string
                description: Preparer signed date in YYYY-MM-DD formate.
              preparer_last_name:
                type: string
                description: Prepares first name.
                nullable: true
              preparer_first_name:
                type: string
                description: Prepares last name.
                nullable: true
              preparer_address:
                type: string
                description: Prepares address.
                nullable: true
              preparer_city:
                type: string
                description: Prepares city.
                nullable: true
              preparer_state:
                type: string
                description: Prepares state.
                nullable: true
              preparer_zipcode:
                type: string
                description: Prepares zipcode.
                nullable: true
            additionalProperties: false
            required:
              - last_name
              - first_name
              - middle_initial
              - other_last_names
              - address
              - apartment_number
              - city
              - state
              - zipcode
              - date_of_birth
              - ssn
              - email
              - telephone
              - citizenship_status
              - signature_date
              - preparer_used
              - employer_signature_date
              - preparer_signature_date
              - preparer_last_name
              - preparer_first_name
              - preparer_address
              - preparer_city
              - preparer_state
              - preparer_zipcode
          i9_status:
            type: object
            properties:
              status:
                type: string
                description: The status of the i9 Form
                enum:
                  - awaiting_employee
                  - awaiting_employer
                  - pending
                  - complete
                  - opted_out
                  - awaiting_authorized_representative
              last_form_update:
                type: string
                format: date-time
                description: The DateTime the form was last updated at.
                example: '2024-01-10T05:19:37.788-08:00'
              landed_at:
                type: string
                format: date-time
                description: The DateTime the applicant filled out the i9 Form.
                example: '2024-01-10T05:19:37.788-08:00'
            additionalProperties: false
          i9_pdf:
            type: string
            description: The URL to visit i9 PDF Form.
            nullable: true
          everify:
            type: object
            properties:
              case_number:
                type: string
                description: E-Verify case number.
              case_status:
                type: string
                description: E-Verify case status.
                enum:
                  - CLOSE_CASE_AND_RESUBMIT
                  - CLOSED
                  - DRAFT
                  - EMPLOYMENT_AUTHORIZED
                  - FINAL_NONCONFIRMATION
                  - MANUAL_REVIEW
                  - PENDING_REFERRAL
                  - PHOTO_MATCH
                  - QUEUED
                  - REFERRED
                  - SCAN_AND_UPLOAD
                  - UNCONFIRMED_DATA
              case_eligibility_statement:
                type: string
                description: E-Verify case eligbility statement.
                nullable: true
                enum:
                  - EMPLOYMENT_AUTHORIZED
                  - NO_ACTION_FNC
                  - NO_SHOW
                  - NOT_AUTHORIZED_EMPLOYMENT
                  - RESUBMIT_CASE
              created_at:
                type: string
                format: date-time
                description: E-Verify case created_at.
              updated_at:
                type: string
                format: date-time
                description: E-Verify case updated_at.
            additionalProperties: false
            required:
              - case_number
              - case_status
              - case_eligibility_statement
              - created_at
              - updated_at
          addresses:
            type: array
            items:
              type: object
              properties:
                street_name:
                  type: string
                  description: Address street name
                address_2:
                  type: string
                  description: Address two name
                city:
                  type: string
                  description: Address city name
                state:
                  type: string
                  description: Address state name
                zipcode:
                  type: string
                  description: Address zipcode
                country:
                  type: string
                  description: Address country
                latitude:
                  type: number
                  description: Address latitude
                longitude:
                  type: number
                  description: Address longitude
              additionalProperties: false
              required:
                - street_name
                - address_2
                - city
                - state
                - zipcode
                - country
                - latitude
                - longitude
          id:
            type: string
            description: >-
              ID of the applicant used when making calls on behalf of the
              applicant.
            example: 5c0f5463-0103-46ce-abd3-749f5551d00e
          last_transitioned_at:
            type: string
            format: date-time
            description: >-
              DateTime the applicant was last transitioned from one stage to
              another.
            example: '2024-01-10T05:19:37.788-08:00'
            nullable: true
          background_checks:
            type: array
            items:
              anyOf:
                - type: object
                  properties:
                    status:
                      type: string
                      description: Checkr background check status
                      enum:
                        - clear
                        - consider
                        - negative
                        - non_negative
                        - complete
                        - pending
                        - suspended
                        - dispute
                        - canceled
                    title:
                      type: string
                      description: Title of the background check.
                    updated_at:
                      type: string
                      format: date-time
                      description: Last updated_at for the background check.
                    candidate_id:
                      type: string
                      description: >-
                        The candidate ID of the applicant from the background
                        check provider.
                    report_id:
                      type: string
                      description: >-
                        The report ID of the background check from the background
                        check provider.
                    vendor:
                      type: string
                      enum:
                        - checkr
                  additionalProperties: false
                  required:
                    - status
                    - title
                    - updated_at
                    - candidate_id
                    - report_id
                    - vendor
                - type: object
                  properties:
                    title:
                      type: string
                      description: Title of the background check.
                    applicant_id:
                      type: string
                      description: >-
                        The applicant ID of the applicant from the background
                        check provider.
                    updated_at:
                      type: string
                      format: date-time
                      description: Last updated_at for the background check.
                    status:
                      type: string
                      description: Onfido background check status
                      enum:
                        - no bgc
                        - pending
                        - consented
                        - not consented
                        - clear
                        - consider
                        - withdrawn
                        - paused
                        - reopened
                    check_id:
                      type: string
                      description: >-
                        The report ID of the background check from the background
                        check provider.
                    vendor:
                      type: string
                      enum:
                        - onfido
                  additionalProperties: false
                  required:
                    - status
                    - title
                    - updated_at
                    - applicant_id
                    - check_id
                    - vendor
          document_signatures:
            type: array
            items:
              anyOf:
                - type: object
                  properties:
                    signature_id:
                      type: string
                      description: Document Signing ID
                      example: 91990715d51488bdd1e184b83828db8a
                    status:
                      type: string
                      description: Document Signing Status
                      enum:
                        - unopened
                        - opened
                        - signed
                        - admin_reviewed
                    vendor:
                      type: string
                      description: Document Signing Vendor
                      enum:
                        - hellosign
                        - docusign
                    file_url:
                      type: string
                      description: The URL of the signed document
                      format: uri
                      nullable: true
          partner_data:
            type: array
            items:
              type: object
          partner_option_data:
            type: array
            items:
              type: object
          can_receive_sms:
            type: boolean
          phone_platform:
            type: string
            enum:
              - sms
              - whats_app
          work_availability:
            type: string
            enum:
              - sunday_morning
              - sunday_afternoon
              - sunday_evening
              - monday_morning
              - monday_afternoon
              - monday_evening
              - tuesday_morning
              - tuesday_afternoon
              - tuesday_evening
              - wednesday_morning
              - wednesday_afternoon
              - wednesday_evening
              - thursday_morning
              - thursday_afternoon
              - thursday_evening
              - friday_morning
              - friday_afternoon
              - friday_evening
              - saturday_morning
              - saturday_afternoon
              - saturday_evening
          date_of_birth:
            type: string
            format: date
          team_or_solo:
            type: string
            enum:
              - team
              - solo
          ssn:
            type: string
            nullable: true
            description: Predefined secure key at the root
          funnel:
            type: object
            properties:
              title:
                type: string
                description: Name of the funnel the applicant is currently in.
              custom_id:
                type: string
                description: A custom ID for the funnel
              id:
                type: string
                description: The ID for the funnel
              location:
                type: object
                description: Job Location for the given Opening.
                properties:
                  name:
                    type: string
                    description: ''
                  id:
                    type: string
                    description: ''
                  latitude:
                    type: number
                    description: ''
                  longitude:
                    type: number
                    description: ''
                  location_group:
                    type: object
                    description: ''
                    properties:
                      name:
                        type: string
                        description: ''
                      id:
                        type: string
                        description: ''
                    additionalProperties: false
                    required:
                      - name
                      - id
                additionalProperties: false
                required:
                  - name
                  - id
                  - latitude
                  - longitude
                  - location_group
              position:
                type: object
                description: Job Position
                properties:
                  name:
                    type: string
                    description: ''
                  id:
                    type: string
                    description: ''
                additionalProperties: false
                required:
                  - name
                  - id
            additionalProperties: false
            required:
              - title
              - custom_id
              - id
          stage:
            type: object
            properties:
              title:
                type: string
                description: Name of the stage the applicant is currently in.
              id:
                type: string
                description: The ID for the stage
              parent_id:
                type: string
                description: The stage parent ID for the funnel
                nullable: true
              type:
                type: string
                description: The stage type.
            nullable: true
            additionalProperties: false
            required:
              - title
              - id
              - parent_id
              - type
          w4_federal_form:
            type: object
            properties:
              form_url:
                type: string
                format: uri
                description: W4 Download URL
              status:
                type: string
                description: W4 Status
                enum:
                  - awaiting_employee
                  - awaiting_employer
                  - pending
                  - complete
                  - opted_out
                  - awaiting_authorized_representative
              external_id:
                type: string
                description: UUID for W4 external ID
              show_applicant_redo_buttons:
                type: boolean
                description: ''
              applicant_external_id:
                type: string
                description: Applicant external ID
              contents:
                type: object
                description: ''
                properties:
                  first_name:
                    type: string
                    description: First name
                  last_name:
                    type: string
                    description: Last name
                  ssn:
                    type: string
                    description: Social Security Number
                additionalProperties: false
                required:
                  - first_name
                  - last_name
                  - ssn
            additionalProperties: false
            required:
              - form_url
              - status
              - external_id
              - show_applicant_redo_buttons
              - applicant_external_id
              - contents
          w4_state_form:
            type: object
            properties:
              form_state:
                type: string
                description: W4 State
              form_url:
                type: string
                format: uri
                description: W4 Download URL
              status:
                type: string
                description: W4 Status
                enum:
                  - awaiting_employee
                  - awaiting_employer
                  - pending
                  - complete
                  - opted_out
                  - awaiting_authorized_representative
              external_id:
                type: string
                description: UUID for W4 external ID
              show_applicant_redo_buttons:
                type: boolean
                description: ''
              applicant_external_id:
                type: string
                description: Applicant external ID
              employer_enabled:
                type: boolean
                nullable: true
              data:
                type: object
            additionalProperties: false
            required:
              - form_state
              - form_url
              - status
              - external_id
              - show_applicant_redo_buttons
              - applicant_external_id
              - employer_enabled
              - data
          score_cards_results:
            type: array
          rejection_reason:
            type: string
            description: Manually set reason for rejection.
          disability:
            type: string
            nullable: true
            description: Predefined secure key at the root
          ethnicity:
            type: string
            nullable: true
            description: Predefined secure key at the root
          gender:
            type: string
            nullable: true
            description: Predefined secure key at the root
          sexual_orientation:
            type: string
            nullable: true
            description: Predefined secure key at the root
          transgender_identity:
            type: string
            nullable: true
            description: Predefined secure key at the root
          veteran_us:
            type: string
            nullable: true
            description: Predefined secure key at the root
          citizenship:
            type: string
            nullable: true
            description: Predefined secure key at the root
          can_work_in_us:
            type: boolean
            nullable: true
            description: Predefined secure key at the root
          national_identification_number:
            type: string
            nullable: true
            description: Predefined secure key at the root
          tax_id:
            type: string
            nullable: true
            description: Predefined secure key at the root
          income_salary:
            type: string
            nullable: true
            description: Predefined secure key at the root
          income_income_tax_dollar_amount:
            type: string
            nullable: true
            description: Predefined secure key at the root
          income_ss_tax:
            type: string
            nullable: true
            description: Predefined secure key at the root
          income_medicare_tax:
            type: string
            nullable: true
            description: Predefined secure key at the root
          income_taxpayer_identification_number:
            type: string
            nullable: true
            description: Predefined secure key at the root
          bank_name:
            type: string
            nullable: true
            description: Predefined secure key at the root
          bank_routing_number:
            type: string
            nullable: true
            description: Predefined secure key at the root
          bank_account_number:
            type: string
            nullable: true
            description: Predefined secure key at the root
          iban:
            type: string
            nullable: true
            description: Predefined secure key at the root
          bic:
            type: string
            nullable: true
            description: Predefined secure key at the root
          vehicle_make:
            type: string
            nullable: true
            description: Predefined secure key at the root
          vehicle_model:
            type: string
            nullable: true
            description: Predefined secure key at the root
          vehicle_year:
            type: number
            nullable: true
            description: Predefined secure key at the root
          vehicle_registration_plate_number:
            type: string
            nullable: true
            description: Predefined secure key at the root
          vehicle_vin_number:
            type: string
            nullable: true
            description: Predefined secure key at the root
          driver_license_number:
            type: string
            nullable: true
            description: Predefined secure key at the root
          driver_license_expiration_date:
            type: string
            nullable: true
            description: Predefined secure key at the root
          driver_license_state:
            type: string
            nullable: true
            description: Predefined secure key at the root
          insurance_type:
            type: string
            nullable: true
            description: Predefined secure key at the root
          insurance_benefactor_first_name:
            type: string
            nullable: true
            description: Predefined secure key at the root
          insurance_benefactor_middle_name:
            type: string
            nullable: true
            description: Predefined secure key at the root
          insurance_benefactor_last_name:
            type: string
            nullable: true
            description: Predefined secure key at the root
          insurance_member_id:
            type: string
            nullable: true
            description: Predefined secure key at the root
          insurance_company_group_id:
            type: string
            nullable: true
            description: Predefined secure key at the root
          insurance_company_of_issue:
            type: string
            nullable: true
            description: Predefined secure key at the root
          insurance_country_of_issue:
            type: string
            nullable: true
            description: Predefined secure key at the root
          insurance_city_of_issue:
            type: string
            nullable: true
            description: Predefined secure key at the root
          insurance_issue_date:
            type: string
            nullable: true
            description: Predefined secure key at the root
          insurance_expiration_date:
            type: string
            nullable: true
            description: Predefined secure key at the root
          passport_number:
            type: string
            nullable: true
            description: Predefined secure key at the root
          passport_country_of_issue:
            type: string
            nullable: true
            description: Predefined secure key at the root
          passport_city_of_issue:
            type: string
            nullable: true
            description: Predefined secure key at the root
          passport_issue_date:
            type: string
            nullable: true
            description: Predefined secure key at the root
          passport_expiration_date:
            type: string
            nullable: true
            description: Predefined secure key at the root
        additionalProperties: false
        required:
          - email
          - name
          - first_name
          - last_name
          - phone_number
          - normalized_phone_number
          - phone_number_country_code
          - data
          - created_at
          - updated_at
          - receive_automated_emails
          - labels
          - is_duplicate
          - file_upload_requests
          - secure_data
          - i9_status
          - addresses
          - id
          - last_transitioned_at
          - background_checks
          - document_signatures
          - partner_data
          - partner_option_data
          - can_receive_sms
          - phone_platform
          - funnel
          - stage
      CreateApplicantRequest:
        type: object
        properties:
          name:
            type: string
            description: Applicants full name.
          email:
            type: string
            description: Applicants email.
          phone_number:
            type: string
            description: Applicants complete phone number.
        additionalProperties: false
        required:
          - name
          - email
          - phone_number
      CreateUpdateApplicantNote:
        type: object
        properties:
          content:
            type: string
            description: ''
          user_id:
            type: string
            description: User UUID who will be assigned as the creating user.
            nullable: true
        additionalProperties: false
        required:
          - content
      ApplicantNote:
        type: object
        properties:
          id:
            type: string
            description: ''
          content:
            type: string
            description: ''
          created_at:
            type: string
            format: date-time
            description: ''
          updated_at:
            type: string
            format: date-time
            description: ''
          last_updated_by:
            type: object
            properties:
              name:
                type: string
                description: Applicants name
              email:
                type: string
                description: Applicants email
              id:
                type: string
                description: Applicants id
            nullable: true
            additionalProperties: false
            required:
              - name
              - email
              - id
          user:
            type: object
            properties:
              name:
                type: string
                description: Applicants name
              email:
                type: string
                description: Applicants email
              id:
                type: string
                description: Applicants id
            nullable: true
            additionalProperties: false
            required:
              - name
              - email
              - id
        additionalProperties: false
        required:
          - id
          - content
          - created_at
          - updated_at
          - last_updated_by
          - user
      ApplicantNotesResponse:
        type: object
        properties:
          notes:
            type: array
            items:
              $ref: '#/components/schemas/ApplicantNote'
        additionalProperties: false
        required:
          - notes
      CreateUpdateApplicantNoteRequest:
        $ref: '#/components/schemas/CreateUpdateApplicantNote'
      ApplicantCreateUpdateNoteResponse:
        $ref: '#/components/schemas/ApplicantNote'
      ApplicantSecureDocumentsResponse:
        type: object
        properties:
          secure_documents:
            type: array
            items:
              type: object
              properties:
                name:
                  type: string
                  description: Name of the secure document.
                friendly_name:
                  type: string
                  description: Friendly name of the secure document.
                filename:
                  type: string
                  description: Document filename of file.
                size:
                  type: number
                  description: Size of secure document in bytes.
                approved:
                  type: boolean
                  description: If the document is approved or not.
                id:
                  type: string
                  description: ID of the secure document.
                public_url:
                  type: string
                  format: uri
                  description: The URL to download the secure document.
                stage:
                  type: object
                  properties:
                    id:
                      type: string
                      description: ID of the stage.
                    title:
                      type: string
                      description: Title of the stage.
                    form_title:
                      type: string
                      nullable: true
                      description: Form Title of the stage.
                    form_description:
                      type: string
                      nullable: true
                      description: Form Description of the stage.
                  additionalProperties: false
                  required:
                    - id
                    - title
                file_upload_requests:
                  type: array
                  items:
                    type: object
                    properties:
                      recollection_reason:
                        type: string
                        description: Reason the upload is being recollected.
                        enum:
                          - blurry
                          - corrupt
                          - incorrect
                          - expired
                          - custom
                      created_at:
                        type: string
                        description: DateTime the re-collection request was triggered.
                created_at:
                  type: string
                  description: DateTime the file was created.
                approved_at:
                  type: string
                  nullable: true
                  description: DateTime the file was approved.
              additionalProperties: false
              required:
                - name
                - friendly_name
                - filename
                - size
                - approved
                - id
                - public_url
                - stage
                - created_at
                - approved_at
        additionalProperties: false
        required:
          - secure_documents
      ApplicantSecureDocumentUploadResponse:
        type: object
        properties:
          url:
            type: string
            format: uri
            description: The URL to upload the file to.
          host:
            type: string
            description: The HOST of the URL.
          min_size:
            type: number
            description: Minimum file upload size.
          max_size:
            type: number
            description: Maximum file upload size.
          only_images:
            type: boolean
            description: TRUE if only for uploading images.
          type:
            type: string
            description: HTTP verb to upload file.
          form_data:
            type: object
            properties:
              key:
                type: string
                description: Path of the filename to be uploaded.
              success_action_status:
                type: string
                description: HTTP code if upload is successful.
              acl:
                type: string
                description: Network Access Control List
              x-amz-server-side-encryption-customer-algorithm:
                type: string
                description: ''
              x-amz-server-side-encryption-customer-key:
                type: string
                description: ''
              x-amz-server-side-encryption-customer-key-MD5:
                type: string
                description: ''
              policy:
                type: string
                description: ''
              x-amz-credential:
                type: string
                description: ''
              x-amz-algorithm:
                type: string
                description: ''
              x-amz-date:
                type: string
                description: ''
              x-amz-signature:
                type: string
                description: ''
            additionalProperties: false
            required:
              - key
              - success_action_status
              - acl
              - policy
              - x-amz-server-side-encryption-customer-algorithm
              - x-amz-server-side-encryption-customer-key
              - x-amz-server-side-encryption-customer-key-MD5
              - x-amz-credential
              - x-amz-algorithm
              - x-amz-date
              - x-amz-signature
        additionalProperties: false
        required:
          - url
          - host
          - form_data
          - min_size
          - max_size
          - only_images
      ApplicantSecureDocumentLinkUploadResponse:
        type: object
        properties:
          uploaded:
            type: boolean
        additionalProperties: false
        required:
          - uploaded
      ApplicantTransitionHistoryResponse:
        type: object
        properties:
          transitions:
            type: array
            items:
              type: object
              properties:
                stage_id:
                  type: string
                  description: The Stage ID
                stage_title:
                  type: string
                  description: The Stage Title
                created_at:
                  type: string
                  format: date-time
                  description: Date the transition record was created.
                parent_stage_id:
                  type: string
                  nullable: true
                  description: Parent Stage ID, if it exists.
                parent_stage_title:
                  type: string
                  nullable: true
                  description: Parent Stage Title, if it exists.
                sub_stage_id:
                  type: string
                  nullable: true
                  description: Sub Stage ID, if it exists.
                sub_stage_title:
                  type: string
                  nullable: true
                  description: Sub Stage Title, if it exists.
                transitioned_by:
                  type: string
                  nullable: true
                  description: Sub Stage Title, if it exists.
                user:
                  type: string
                  nullable: true
                  description: User who performed the transition.
                funnel_id:
                  type: string
                  nullable: true
                  description: The Funnel ID
              additionalProperties: false
              required:
                - stage_id
                - stage_title
                - created_at
                - parent_stage_id
                - parent_stage_title
                - sub_stage_id
                - sub_stage_title
                - transitioned_by
                - user
          pagination:
            $ref: '#/components/schemas/PaginationWithCursor'
        additionalProperties: false
        required:
          - transitions
          - pagination
      ApplicantBookeSlotResponse:
        type: object
        properties:
          booked_slots:
            type: array
            items:
              type: object
              properties:
                start_time:
                  type: string
                  description: Interview start time.
                end_time:
                  type: string
                  description: Interview end time.
                booked_time:
                  type: string
                  description: Interview booked time.
                location:
                  type: string
                  description: Location of interview.
                recruiter:
                  type: string
                  description: Name of the recruiter
                instructions:
                  type: string
                  description: Instructions for the applicant.
                showed_up:
                  type: string
                  nullable: true
                  description: ''
                stage_title:
                  type: string
                  description: Stage title.
                id:
                  type: string
                  description: Booked slot ID.
              additionalProperties: false
              required:
                - start_time
                - end_time
                - booked_time
                - location
                - recruiter
                - instructions
                - showed_up
                - stage_title
                - id
        additionalProperties: false
        required:
          - booked_slots
      IndexExportResponse:
        type: object
        properties:
          exports:
            type: array
            items:
              $ref: '#/components/schemas/CreateShowExportResponse'
          pagination:
            $ref: '#/components/schemas/Pagination'
        additionalProperties: false
        required:
          - exports
          - pagination
      IndexTimestampedExportResponse:
        type: object
        properties:
          timestamped_exports:
            type: array
            items:
              $ref: '#/components/schemas/CreateShowTimestampedExportResponse'
          pagination:
            $ref: '#/components/schemas/Pagination'
        additionalProperties: false
        required:
          - timestamped_exports
          - pagination
      IndexTimestampedExportTemplateResponse:
        type: object
        properties:
          templates:
            type: array
            items:
              type: object
              properties:
                id:
                  type: string
                  description: Timestamped Export Template ID
                title:
                  type: string
                  description: Timestamped Export Template Title
                data_keys:
                  type: array
                  items:
                    type: string
                upper_bound:
                  type: string
                  format: date-time
                  description: ''
                lower_bound:
                  type: string
                  format: date-time
                  description: ''
                busy:
                  type: boolean
                type:
                  type: string
                number_of_days:
                  type: string
                  nullable: true
                funnel_ids:
                  type: array
                  items: {}
              additionalProperties: false
              required:
                - id
                - title
                - data_keys
                - upper_bound
                - lower_bound
                - busy
                - type
                - number_of_days
                - funnel_ids
          pagination:
            $ref: '#/components/schemas/Pagination'
        additionalProperties: false
        required:
          - templates
          - pagination
      IndexExportTemplatesResponse:
        type: object
        properties:
          templates:
            type: array
            items:
              type: object
              properties:
                id:
                  type: string
                  description: ID of the export template.
                title:
                  type: string
                  description: Title of the export template.
                fields:
                  type: array
                  items:
                    type: string
                    description: Name of the fields in the export
                funnel_ids:
                  type: array
                  items:
                    type: string
                    description: Funnel external IDs
              additionalProperties: false
              required:
                - id
                - title
                - fields
                - funnel_ids
          pagination:
            $ref: '#/components/schemas/Pagination'
        additionalProperties: false
        required:
          - templates
          - pagination
      CreateShowExportResponse:
        type: object
        properties:
          id:
            type: string
            description: Exports ID
          created_at:
            type: string
            format: date-time
            description: Created date for export
          updated_at:
            type: string
            format: date-time
            description: Updated date for export
          status:
            type: string
            description: Updated date for export
          file_url:
            type: string
            nullable: true
            description: URL to download the export.
          template:
            type: object
            properties:
              id:
                type: string
                description: Template ID
              title:
                type: string
                description: Title of the template used.
            additionalProperties: false
            required:
              - id
              - title
        additionalProperties: false
        required:
          - id
          - created_at
          - updated_at
          - status
          - file_url
          - template
      CreateShowTimestampedExportResponse:
        type: object
        properties:
          id:
            type: string
            description: Exports ID
          created_at:
            type: string
            format: date-time
            description: Created date for export
          updated_at:
            type: string
            format: date-time
            description: Updated date for export
          state:
            type: string
            description: Updated date for export
          file_url:
            type: string
            nullable: true
            description: URL to download the export.
          template:
            type: object
            properties:
              id:
                type: string
                description: Template ID
              title:
                type: string
                description: Title of the template used.
            additionalProperties: false
            required:
              - id
              - title
        additionalProperties: false
        required:
          - id
          - created_at
          - updated_at
          - state
          - file_url
          - template
      MultipleApplicantsTransitionHistoryResponse:
        type: array
        items:
          type: object
          properties:
            applicant_id:
              type: string
              description: Applicant UUID
            transitions:
              type: array
              items:
                type: object
                properties:
                  stage_id:
                    type: string
                    description: The Stage ID
                  stage_title:
                    type: string
                    description: The Stage Title
                  created_at:
                    type: string
                    format: date-time
                    description: Date the transition record was created.
                  parent_stage_id:
                    type: string
                    nullable: true
                    description: Parent Stage ID, if it exists.
                  parent_stage_title:
                    type: string
                    nullable: true
                    description: Parent Stage Title, if it exists.
                  sub_stage_id:
                    type: string
                    nullable: true
                    description: Sub Stage ID, if it exists.
                  sub_stage_title:
                    type: string
                    nullable: true
                    description: Sub Stage Title, if it exists.
                  funnel_id:
                    type: string
                    nullable: true
                    description: The Funnel ID
                additionalProperties: false
                required:
                  - stage_id
                  - stage_title
                  - created_at
                  - parent_stage_id
                  - parent_stage_title
                  - sub_stage_id
                  - sub_stage_title
          additionalProperties: false
          required:
            - applicant_id
            - transitions
      MultipleApplicantsBookedSlotResponse:
        type: array
        items:
          type: object
          properties:
            applicant_id:
              type: string
              description: Applicant UUID
            booked_slots:
              type: array
              items:
                type: object
                properties:
                  start_time:
                    type: string
                    description: Interview start time.
                  end_time:
                    type: string
                    description: Interview end time.
                  booked_time:
                    type: string
                    description: Interview booked time.
                  location:
                    type: string
                    description: Location of interview.
                  recruiter:
                    type: string
                    description: Name of the recruiter
                  instructions:
                    type: string
                    description: Instructions for the applicant.
                  showed_up:
                    type: string
                    nullable: true
                    description: ''
                  stage_title:
                    type: string
                    description: Stage title.
                  id:
                    type: string
                    description: Booked slot ID.
                additionalProperties: false
                required:
                  - start_time
                  - end_time
                  - booked_time
                  - location
                  - recruiter
                  - instructions
                  - showed_up
                  - stage_title
                  - id
          additionalProperties: false
          required:
            - applicant_id
            - booked_slots
      AvailableSlot:
        type: object
        properties:
          id:
            type: string
            description: Unique identifier of the available slot
          start_time:
            type: string
            format: datetime
            description: Start time of the available slot
          end_time:
            type: string
            format: datetime
            description: End time of the available slot
          location:
            type: string
            description: Location of the available slot
            nullable: true
          recruiter:
            type: string
            description: Name of recruiter for the available slot
          max_attendees:
            type: integer
            description: Maximum number of attendees for the slot
          booked_slots_count:
            type: integer
            description: Count of booked slots for the availble slot
        required:
          - id
          - start_time
          - end_time
          - booked_slots_count
      BookedSlot:
        type: object
        properties:
          id:
            type: string
            description: Unique identifier for the booked slot
          location:
            type: string
            description: Location of the booked slot
          recruiter:
            type: string
            description: Name of user associated with the booked slot
          start_time:
            type: string
            format: datetime
            description: The time the booked slot starts
          end_time:
            type: string
            format: datetime
            description: The time the booked slot ends
          booked_time:
            type: string
            format: datetime
            description: The time the booked slot was booked
          instructions:
            type: string
            description: Instructions for the booked slot
            nullable: true
          showed_up:
            type: boolean
            description: Indicator for whether the applicant showed up
            nullable: true
          stage_title:
            type: string
            description: Title of the stage associated with the booked slot
        required:
          - id
          - start_time
          - end_time
          - booked_time
      SessionBookedSlot:
        type: object
        properties:
          id:
            type: string
            description: The unique identifier of the booked slot
          applicant_showed:
            type: boolean
            description: Indicator for whether the applicant attended
            nullable: true
          applicant_is_still_on_stage:
            type: boolean
            description: >-
              Indicator for whether the applicant is still on the stage associated
              to the slot
          complete:
            type: boolean
            description: Indicator of whether the slot has been completed
          stage_title:
            type: string
            description: Title of the stage associated with the booked slot
          stage_id:
            type: string
            description: Unique identifier of the stage associated to the booked slot
          stage_external_id:
            type: string
            description: >-
              Unique identifier of the stage associated to the booked slot
              (deprecated; refer to "stage_id")
          funnel_title:
            type: string
            description: Title of the opening associated to the slot
            nullable: true
          available_slot_location:
            type: string
            description: The location of the booked slot
            nullable: true
          applicant:
            $ref: '#/components/schemas/BookedSlotApplicant'
            description: Applicant associated to the booked slot
        required:
          - id
          - applicant_is_still_on_stage
          - complete
          - stage_title
          - stage_id
          - stage_external_id
          - applicant
      BookedSlotApplicant:
        type: object
        properties:
          id:
            type: string
            description: The unique identifier of the applicant
          name:
            type: string
            description: The name of the applicant
          email:
            type: string
            description: The email of the applicant
          key:
            type: string
            description: Unique key for the applicant
          phone_number:
            type: string
            description: Phone number of the applicant
          stage_title:
            type: string
            description: Title of the stage associated with the applicant
          external_id:
            type: string
            description: The unique identifier of the applicant (deprecated; refer to "id")
          can_show:
            type: boolean
            description: Deprecated
          data:
            type: object
            description: Data collected about the applicant
          structured_data:
            type: object
            description: Structured data collected about the applicant
        required:
          - id
          - name
          - email
          - key
          - phone_number
          - external_id
          - can_show
          - data
          - structured_data
      CustomerAttribute:
        type: object
        properties:
          value:
            type: string
            description: Value of the attribute
          type:
            type: string
            description: The key of the attribute
        required:
          - value
          - type
      DataKey:
        type: object
        properties:
          key:
            type: string
            description: The DataKey key.
          key_type:
            type: string
            description: The type of data to be stored by the DataKey
          title:
            type: string
            description: The human-readable title of a DataKey
          hidden:
            type: boolean
            description: Indicator for whether DataKey is visible
          restricted:
            type: boolean
            description: Indicator for whether DataKey is privileged
          data_fields_count:
            type: integer
            description: The number of data_fields attached to applicants.
          options:
            type: array
            items:
              $ref: '#/components/schemas/DataKeyOption'
            description: List of options for associated data fields
            nullable: true
        required:
          - key
          - key_type
          - title
          - hidden
          - restricted
          - data_fields_count
      DataKeyOption:
        type: object
        properties:
          value:
            type: string
            description: The value persisted for the option
          label:
            type: string
            description: The human-readable value for the option
        required:
          - value
      Funnel:
        type: object
        properties:
          title:
            type: string
            description: The title of the opening
          description:
            type: string
            description: The description of the opening
          apply_url:
            type: string
            description: The URL with which to apply to the opening
          id:
            type: string
            description: Unique identifier for the opening
          address:
            type: string
            description: The address of the opening
          time_zone:
            type: string
            description: The timezone of the opening
          requirements:
            type: string
            description: Description of what is required for the opening
          is_private:
            type: boolean
            description: Indicator for whether the opening is private
          active:
            type: boolean
            description: Indicator for whether the opening is active
          custom_id:
            type: string
            description: Identifier custom to opening for the account
            nullable: true
          force_applicant_identity:
            type: boolean
            description: Indicator for whether applicant identity is enforced
            nullable: true
          created_at:
            type: string
            description: Date when the opening was created
          additional_info:
            type: string
            description: Additional info about the opening
            nullable: true
          brand:
            type: string
            description: The brand the opening is associated with
            nullable: true
          opening_pay_rate:
            $ref: '#/components/schemas/OpeningPayRate'
            description: The pay rate for the opening
            nullable: true
          job_hours:
            type: string
            description: Indicator for whether the opening is full or part time
            enum:
              - full_time
              - part_time
            nullable: true
          job_type:
            type: string
            description: The type of job represented by the opening
            enum:
              - permanent
              - temporary
              - contract_freelancer
              - casual
              - finance_plus_accounting
              - operations_leadership
              - all_other_administrative_plus_professional
              - information_technology
              - customer_service_plus_operations
              - local
              - regional
              - trainee
            nullable: true
          job_industry:
            type: string
            description: Industry the opening is for
            enum:
              - accounting
              - agriculture
              - audio_visual
              - automotive
              - banking_and_finance
              - construction
              - consultancy
              - customer_service_and_call_centres
              - dental
              - education_and_training
              - electronics
              - energy_oil_and_gas
              - engineering
              - environmental_and_waste
              - facilities_management
              - food_hospitality
              - hair_beauty_and_cosmetics
              - health_medical_and_related
              - human_resources
              - insurance
              - it_and_internet
              - legal
              - logistics_procurement_distribution_and_supply_chain
              - manufacturing_and_production
              - marketing_advertising_and_pr
              - media_new_media_and_creative
              - military_and_defence
              - mining
              - nonprofit
              - other
              - property_and_real-estate
              - recruitment
              - retail
              - sales
              - scientific_and_pharmaceuticals
              - secretarial_and_administration
              - telecommunications
              - training
              - travel_leisure_and_tourism
              - transportation
              - web_html_info_design
              - writing_editing
            nullable: true
          workflow_id:
            type: string
            description: Unique identifier with the workflow associated to the opening
            nullable: true
          is_hiring_funnel:
            type: boolean
            description: Indicator for whether the opening is for hiring
          is_sourcing_funnel:
            type: boolean
            description: Indicator for whether the opening is for sourcing
          alternative_locales:
            type: array
            items:
              type: string
              description: Locale identifier
            description: List of alternate locales
          customer_attributes:
            type: array
            items:
              $ref: '#/components/schemas/CustomerAttribute'
            description: List of customer attributes for the opening
            nullable: true
          stages:
            type: array
            items:
              $ref: '#/components/schemas/OpeningStage'
            description: List of stages in the opening
          fields:
            type: array
            items:
              $ref: '#/components/schemas/OpeningDataField'
            description: List of data fields in the opening
          location:
            $ref: '#/components/schemas/Location'
            description: The location of the opening
          owner:
            $ref: '#/components/schemas/User'
            description: The owner of the opening
          position:
            $ref: '#/components/schemas/Position'
            description: The position of the opening
          shift:
            $ref: '#/components/schemas/Shift'
            description: The shift of the opening
            nullable: true
        required:
          - id
          - apply_url
          - address
          - time_zone
          - is_private
          - active
          - created_at
          - is_hiring_funnel
          - is_sourcing_funnel
          - stages
          - location
          - owner
          - position
      OpeningDataField:
        type: object
        properties:
          question:
            type: string
            description: Text of the question
          type:
            type: string
            description: The type of the input for the question
          key:
            type: string
            description: The key the data is collected under
        required:
          - key
          - type
          - question
      HiringGoal:
        type: object
        properties:
          external_id:
            type: string
            description: Unique identifier of the Hiring Goal
          goal:
            type: integer
            description: Number of hires needed for this Hiring Goal
          hire_by:
            type: string
            description: Date that the Hiring Goal ends
          start_date:
            type: string
            description: Date that the Hiring Goal begins
          hires_count:
            type: integer
            description: Number of hires currently associated with the Hiring Goal
          past_due:
            type: boolean
            description: Indicates if the hire_by date is in the past
          remaining_days:
            type: integer
            description: Number of days until this Hiring Goal ends
          status:
            type: string
            description: Current status of the Hiring Goal
            enum:
              - unfilled
              - filled
      Location:
        type: object
        properties:
          name:
            type: string
            description: The name of the location
          id:
            type: string
            description: Unique identifier for the location
          latitude:
            type: number
            description: The latitude of the location
          longitude:
            type: number
            description: The longitude of the location
          customer_attributes:
            type: array
            items:
              $ref: '#/components/schemas/CustomerAttribute'
            description: List of customer attributes for the location
            nullable: true
          location_group:
            $ref: '#/components/schemas/LocationGroup'
            description: Grouping of locations
        required:
          - id
          - name
          - location_group
      LocationDetail:
        type: object
        properties:
          account_id:
            type: string
            description: Unique identifier for the account
          address:
            type: string
            description: The address of the location
            nullable: true
          country_code:
            type: string
            enum:
              - AD
              - AE
              - AF
              - AG
              - AI
              - AL
              - AM
              - AO
              - AQ
              - AR
              - AS
              - AT
              - AU
              - AW
              - AX
              - AZ
              - BA
              - BB
              - BD
              - BE
              - BF
              - BG
              - BH
              - BI
              - BJ
              - BL
              - BM
              - BN
              - BO
              - BQ
              - BR
              - BS
              - BT
              - BV
              - BW
              - BY
              - BZ
              - CA
              - CC
              - CD
              - CF
              - CG
              - CH
              - CI
              - CK
              - CL
              - CM
              - CN
              - CO
              - CR
              - CU
              - CV
              - CW
              - CX
              - CY
              - CZ
              - DE
              - DJ
              - DK
              - DM
              - DO
              - DZ
              - EC
              - EE
              - EG
              - EH
              - ER
              - ES
              - ET
              - FI
              - FJ
              - FK
              - FM
              - FO
              - FR
              - GA
              - GB
              - GD
              - GE
              - GF
              - GG
              - GH
              - GI
              - GL
              - GM
              - GN
              - GP
              - GQ
              - GR
              - GS
              - GT
              - GU
              - GW
              - GY
              - HK
              - HM
              - HN
              - HR
              - HT
              - HU
              - ID
              - IE
              - IL
              - IM
              - IN
[...]
