publishJson:
  company: Gridbees
  serviceName: false
  sdkName: gridbees-{language}-sdk
  clientName: Gridbees
  metaDescription: >-
    Gridbees 🚀 is an API-first headless e-commerce platform for companies in
    all types of fields of activity who wish to digitize their processes or who
    have already started their digital transformation.


    Gridbees🚀 aggregates their very heterogeneous flows, harmonizes them and
    processes them for forwarding them to the front office in a homogeneous
    manner, increasing the efficiency and performance of e-merchants. The end
    consumer will thus benefit from a smooth shopping experience.

    Connectivity, technical know-how, support, agility and flexibility : these
    assets allow us to provide you with a real digital toolbox, modular and
    customizable, dedicated to the sales path, around 4 themes :


    ✅ product and offer management


    ✅ commercial and promotional animation


    ✅ the purchasing process


    ✅ customer service


    Gridbees' team is specialized in integrations, offering a highly
    customizable solution that quickly and easily interconnects with any third
    party.


    Because Gridbees 🚀 is much more than a software solution, entrust us with
    your most complex e-commerce projects for a tailor-made solution !


    Discover all the tools and request your demo on :
    https://www.gridbees.com/en/


    Your contact :

    🗣 @Bruno Teplier

    🗣 @Faisal Nisar

    📧 sales@gridbees.com
  apiStatusUrls: inherit
  homepage: www.gridbees.com/
  developerDocumentation: www.gridbees.com/resources/api-documentation
  categories:
    - e_commerce
    - ecommerce
    - retail
rawSpecString: |
  openapi: 3.0.3
  info:
    title: Promotion Engine
    version: v1
    description: >

      This API is built on HTTP and is a RESTful API. This API is developed for
      merchants to be able to manage orders.

      The API services are published on HTTPS and use OAUTH2 protocol. All calls
      need to have an API key.


      # Definitions


      ### Product
        A product is the stock keeping unit (SKU), the item to sale. The attributes of a product could include manufacturer, material, service, warranty terms.
        The PIM is the repository of all products used by the different services of the solution

      ### Offer
        An offer is a set of products and represents the commercial agreements sent by the merchant.
        An offer can have:
        -  one or many products
        -  Prices
        -  Additional services
        -  A publication period, during this period the offer is active and can be ordered

      ### Order
        An order contains information allowing to purchase some offers.
        An order has one or several order lines, and each order line is for an offer.
        The order has mandatory information such as amounts, payments, and addresses.

      ### Dates
        All Gridbees services use UTC datetime and the default format is: <b>yyyy-MM-dd'T'HH:mm:ss.SSSZ</b>.
  tags:
    - name: Product Service
    - name: Offer Service
      description: >
        A merchant needs to pull the offers list to sell. Each offer has a
        publication period (offer.startdate, offer.enddate). During this period,
        the merchant can sell the offer depending the availability.
    - name: Pricing Service
      description: >
        The pricing service is used to check and guarantee all prices and services
        inside the submitted basket.
    - name: Customer Service
    - name: Promotion Service
      description: |
        List of services to manage promotions.
    - name: Booking Service
    - name: MasterData Service
  servers:
    - url: https://mock.gridbees.com/
  components:
    schemas:
      Address:
        type: object
        description: Address object
        required:
          - streetname
          - city
          - postalcode
        properties:
          uid:
            type: string
            description: unique identifier
            format: uuid
          usage:
            type: string
            description: Usage of this address
            enum:
              - DLV
              - BIL
              - DROPOFF
              - PICKUP
          Isnormalized:
            type: boolean
            description: Is Normalized ?
          qualitycode:
            type: boolean
            description: Quality code
          isative:
            type: boolean
            description: Is active ?
          streetnumber:
            type: string
            description: Street number
          streetname:
            type: string
            description: Street name
          streettype:
            type: string
            description: Street type
          district:
            type: string
            description: District
          building:
            type: string
            description: Building
          city:
            type: string
            description: City
          postalcode:
            type: string
            description: Postal code
          province:
            type: string
            description: Province
          countrycode:
            type: string
            description: Country code
          additionalinfo:
            type: array
            description: Additional info
            items:
              $ref: '#/components/schemas/MetaData'
          name:
            $ref: '#/components/schemas/Person'
          legalentity:
            $ref: '#/components/schemas/LegalEntity'
          geoloc:
            $ref: '#/components/schemas/Geoloc'
          createdate:
            type: string
            description: creation date
            format: date-time
          updatedate:
            type: string
            description: update date
            format: date-time
      AdditionalService:
        type: object
        required:
          - servicetype
          - code
          - quantity
        properties:
          servicetype:
            type: string
            description: Type of additionnal service
            example: NIGHT, GUARANTEE, RECOVERY, ASSEMBLY, ...
          code:
            type: string
            description: additionnal service code
          quantity:
            type: number
          pricing:
            description: Prices of the additional service
            type: array
            items:
              $ref: '#/components/schemas/MasterData'
      Amount:
        type: object
        required:
          - currency
        properties:
          currency:
            type: string
          grossamount:
            type: number
            description: the public price of an offer
            format: double
          netamount:
            type: number
            description: >-
              the amount resulting from the difference of the gross amount and the
              different prices to reduce or to add
            format: double
          totaltorefund:
            type: number
            format: double
            description: the amount to refund to the customer
          totaltopay:
            type: number
            format: double
            description: the amount to pay by the customer
          adjustedamount:
            type: number
            format: double
            description: >-
              The amount to add to the gross amount. Could come from promotion
              rules
          discountamount:
            type: number
            format: double
            description: >-
              the amount to be reduced to the gross amount. Could come from
              promotion rules
          commisionamount:
            type: number
            format: double
            description: the commission amount to be returned to the merchant
          fees:
            type: number
            format: double
            description: the delivery fees amount. Calculated by valorize service
          feesdiscountamount:
            type: number
            format: double
            description: The fees discount amount to reduce to the fees
          additionalserviceamount:
            type: number
            format: double
            description: additional services amount to add to the gross amount.
          additionalassemblyamount:
            type: number
            format: double
            description: The amount of the assembly fees
          additionalrecoveryamount:
            type: number
            format: double
            description: The amount of the recovery fees
          hashamount:
            type: string
        description: Basket valorized amounts
      ApplicableDay:
        type: object
        properties:
          fromhour:
            type: string
          tohour:
            type: string
          weekdays:
            type: array
            items:
              type: integer
            description: opening days
      Availability:
        type: object
        properties:
          availabilityline:
            type: array
            items:
              $ref: '#/components/schemas/AvailabilityLine'
            description: Availability lines
          isactual:
            type: boolean
            description: Actual or theoretical availability
          messagetype:
            type: string
          version:
            type: string
          revision:
            type: string
          channelcode:
            type: string
          site:
            type: string
      AvailabilityLine:
        type: object
        required:
          - offerid
        properties:
          offerid:
            type: string
            description: offer technical identifier
          offercode:
            type: string
            description: Offer business code
          quantity:
            type: integer
            description: Requested quantity
          date:
            type: string
            format: date-time
            description: date in UTC
          hour:
            type: string
            description: hour in format HH:MM
          lang:
            type: string
            description: two digits language code (iso -639-1)
          vendorcode:
            type: string
            description: vendor code
          totalquantity:
            type: integer
            description: actual total quantity returned
          freesales:
            type: boolean
            description: means the stock is infinite
          quantitydetails:
            description: optionnaly used to give details aboout the returned availability
            items:
              $ref: '#/components/schemas/MasterData'
          canbeordered:
            type: boolean
            description: >-
              if this flag is set to FALSE, that means this offer cannot be
              purchased
          currency:
            type: string
          unitpriceselling:
            type: number
          resupplyingdelay:
            type: integer
            description: resupplying delay, in case of shortage
          retrocessiondelay:
            type: integer
            description: Retrocession delay
      AvailabilitiesRequest:
        type: object
        properties:
          startdate:
            type: string
            format: date-time
          enddate:
            type: string
            format: date-time
          availabilitylines:
            type: array
            items:
              $ref: '#/components/schemas/OfferCode'
        example:
          startdate: '2020-04-01T23:00:00.000Z'
          enddate: '2020-04-02T22:59:59.000Z'
      AvailabilitiesResponse:
        type: object
        properties:
          startdate:
            type: string
            format: date-time
          enddate:
            type: string
            format: date-time
          availabilitylines:
            type: array
            items:
              $ref: '#/components/schemas/OfferCode'
        example:
          startdate: '2020-04-01T22:00:00.000Z'
          enddate: '2020-04-03T21:59:59.000Z'
          availabilitylines:
            - offerid: 1f3d07b1647144ce999d5b0ab31ee385
              offercode: TDS1
              date: '2020-04-02T00:00:00.000+02:00'
              hour: '09:00'
              totalquantity: 10
            - offerid: 71825be3a4d74cfe8d679d26c98980a8
              offercode: VTP8
              date: '2020-04-02T00:00:00.000+02:00'
              hour: '08:00'
              lang: en
              totalquantity: 10
            - offerid: 71825be3a4d74cfe8d679d26c98980a8
              offercode: VTP8
              date: '2020-04-02T00:00:00.000+02:00'
              hour: '08:00'
              lang: fr
              totalquantity: 10
      AvailabilityRequest:
        type: object
        properties:
          availability:
            $ref: '#/components/schemas/Availability'
          availabilitycontext:
            $ref: '#/components/schemas/ContextDetails'
        example:
          availability:
            availabilityline:
              - offerid: 1f3d07b1647144ce999d5b0ab31ee385
                date: '2020-04-02T00:00:00.000Z'
                hour: '09:00'
                quantity: 7
                lang: en
                quantitydetails:
                  - mdobject: INDIVIDUAL
                    code: ADULT
                    value: '4'
                  - mdobject: INDIVIDUAL
                    code: CHILD
                    value: '3'
                  - mdobject: INDIVIDUAL
                    code: INFANT
                    value: '0'
      AvailabilityResponse:
        type: object
        properties:
          availability:
            $ref: '#/components/schemas/Availability'
          availabilitycontext:
            $ref: '#/components/schemas/ContextDetails'
      Backend:
        type: object
        properties:
          backendtype:
            type: string
            description: type of the master data
          ismandatory:
            type: boolean
          isvisible:
            type: boolean
          publishable:
            type: boolean
          url:
            type: string
          keyindex:
            type: integer
      BackendDisplay:
        type: object
        properties:
          backendtype:
            type: string
            description: type of the master data
          keyindex:
            type: integer
          objectname:
            type: string
          idname:
            type: string
          islocalizable:
            type: boolean
          ismandatory:
            type: boolean
          isautocompleted:
            type: boolean
          isactive:
            type: boolean
          isvisible:
            type: boolean
          publishable:
            type: boolean
          isinternal:
            type: boolean
          isexportable:
            type: boolean
          guioption:
            $ref: '#/components/schemas/DisplayGUI'
          urls:
            $ref: '#/components/schemas/DisplayURL'
      DisplayGUI:
        type: object
        properties:
          searchresultindex:
            type: integer
          searchindex:
            type: integer
          searchfields:
            type: string
          returnfield:
            type: string
          displayfields:
            type: string
          mdimport:
            type: array
            items:
              $ref: '#/components/schemas/DisplayImport'
      DisplayImport:
        type: object
        properties:
          code:
            type: string
          label:
            type: string
          translations:
            type: array
            items:
              $ref: '#/components/schemas/Translation'
          dataseparator:
            type: string
          mapping:
            type: string
          helper:
            type: string
            description: for tooltip
      DisplayURL:
        type: object
        properties:
          searchurl:
            type: string
          seturl:
            type: string
          updateurl:
            type: string
          deleteurl:
            type: string
          streamurl:
            type: string
          upserturl:
            type: string
      BankAccount:
        type: object
        properties:
          bankname:
            type: string
            description: Bank name
          bic:
            type: string
            description: BIC/ SWIFT Code
          banknumber:
            type: string
            description: Bank number
          bankaccount:
            type: string
            description: Bank acount number
          customername:
            type: string
            description: Customer name
      BankAuthorization:
        type: object
        properties:
          authorizationcode:
            type: string
            description: authorization code
          rumcode:
            type: string
            description: RUM Code
          rumvaliditydate:
            type: string
            format: date-time
            description: RUM validity date
          cardtransactionid:
            type: string
          validydate:
            type: string
            format: date-time
            description: validity date
          debitauthid:
            type: string
          debitauthdate:
            type: string
            format: date-time
            description: Debit validity date
      BasketAddedProduct:
        type: object
        properties:
          reference:
            type: string
            description: offer busyness reference
          offerid:
            type: string
            description: offer technical key
          crossedoutPrice:
            type: number
            format: double
            description: crossed-out price
          sellingPrice:
            type: number
            format: double
            description: selling price
          discount:
            type: number
            format: double
            description: discount price
          productItem:
            $ref: '#/components/schemas/ProductItem'
      BasketProfile:
        type: object
        properties:
          usersubcriptions:
            $ref: '#/components/schemas/UserSubscription'
          trackingdata:
            $ref: '#/components/schemas/TrackingData'
          person:
            $ref: '#/components/schemas/Person'
          customdata:
            type: array
            items:
              $ref: '#/components/schemas/MetaData'
            description: To use to store key/value list
      BasketRequest:
        required:
          - identifier
          - lines
          - ordertracking
        type: object
        properties:
          profile:
            $ref: '#/components/schemas/BasketProfile'
          identifier:
            $ref: '#/components/schemas/Identifier'
          ordertracking:
            $ref: '#/components/schemas/TrackingData'
          comtracking:
            $ref: '#/components/schemas/CommercialTracking'
          businesscreationdate:
            type: string
            description: Business creation date
            format: date-time
          lines:
            type: array
            description: Cart lines
            items:
              $ref: '#/components/schemas/BasketLine'
      BasketLine:
        required:
          - linenum
          - offerid
          - quantity
        type: object
        properties:
          linenum:
            type: integer
            description: Line number
          referencecode:
            type: string
            description: Reference code
          offercode:
            type: string
          offerid:
            type: string
            description: Technical identifier
          linestatus:
            type: string
            description: Status of the line.
            example: 1 - Productadded 2 - offer refused by customer
          offercodification:
            type: string
            description: Codification
          quantity:
            type: integer
            description: Quantity
          amount:
            $ref: '#/components/schemas/Amount'
          crossedoutprice:
            type: number
            format: double
            description: Crossed out price
          sellingprice:
            type: number
            format: double
            description: Selling price
          promotionenddate:
            type: string
            format: date-time
            description: Info on expiration of the promotion
          options:
            description: Offer Options
            $ref: '#/components/schemas/OptionOffer'
          taxdetails:
            type: array
            items:
              $ref: '#/components/schemas/TaxDetail'
            description: Info on expiration of the promotion
          additionalservices:
            type: array
            items:
              $ref: '#/components/schemas/AdditionalService'
            description: Additional service
          offerbookingdate:
            type: string
            description: Date of the booking
          offerbookinghour:
            type: string
            description: Hour of the booking
          offerlang:
            type: string
            description: Lang of the booking
          group:
            type: string
            description: Group number
          groupcode:
            type: string
            description: Group code
          pricing:
            items:
              $ref: '#/components/schemas/MasterData'
            description: Additional info on prices
      BasketResponse:
        type: object
        properties:
          profile:
            $ref: '#/components/schemas/BasketProfile'
          identifier:
            $ref: '#/components/schemas/Identifier'
          ordertracking:
            $ref: '#/components/schemas/TrackingData'
          comtracking:
            $ref: '#/components/schemas/CommercialTracking'
          businesscreationdate:
            type: string
            description: Business creation date
            format: date-time
          lines:
            type: array
            items:
              $ref: '#/components/schemas/BasketLine'
          basketdetails:
            $ref: '#/components/schemas/ContextDetails'
          amount:
            $ref: '#/components/schemas/Amount'
          basketrules:
            type: array
            description: Applied rules
            items:
              $ref: '#/components/schemas/BasketRule'
          suggestions:
            type: array
            items:
              $ref: '#/components/schemas/SuggestPromotion'
      BasketRule:
        type: object
        properties:
          linenum:
            type: integer
          rulename:
            type: string
          initialamount:
            type: number
            format: double
          discountamount:
            type: number
            format: double
          adjustedamount:
            type: number
            format: double
          walletamount:
            type: number
            format: double
          priorityrule:
            items:
              $ref: '#/components/schemas/PriorityRule'
      BillingInfo:
        type: object
        properties:
          groupcode:
            type: string
            description: Billing group code
          paymentmode:
            type: string
            description: Payment mode
          paymentdelay:
            type: string
            description: Delay to pay the invoice
          prepaymentmode:
            type: string
            description: Pre payment information. Possible values are BILLING, NET, GROSS
          pricecode1:
            type: string
            description: First price code to access to the commission grid
          pricecode2:
            type: string
            description: Second price code to access to the commission grid
          receipttopassenger:
            type: boolean
            description: If the payment receipt must be sent to the customer
          vouchertopassenger:
            type: boolean
            description: If the voucher document must be sent to the customer
      BookingOffer:
        type: object
        properties:
          offercode:
            type: string
            description: Code of the offer
          quantity:
            type: integer
            description: quantity
          baseprice:
            type: number
            description: Initial price
      BookingProduct:
        type: object
        properties:
          productcode:
            type: string
            description: Code of the Product
          quantity:
            type: integer
            description: quantity
          baseprice:
            type: number
            description: Initial price
      BookingSubscription:
        type: object
        properties:
          isinclusion:
            type: boolean
            description: the offer must belong to the customer
          ispercent:
            type: boolean
          datatype:
            type: string
            enum:
              - OFFER
              - PRODUCT
          code:
            type: string
            description: Produc or Offer code
          quantity:
            type: integer
            description: quantity
          discountvalue:
            type: number
          baseprice:
            type: number
            description: Initial price
      BookingCondition:
        type: object
        properties:
          basketamount:
            type: number
            format: double
            description: Basket amount
          basketlineamount:
            type: number
            format: double
            description: Basket line amount
          operator:
            type: string
            description: Operator
          channelcodes:
            type: array
            items:
              type: string
            description: Channel conditions
          applications:
            type: array
            items:
              type: string
            description: Allowed applications list
          offers:
            type: array
            items:
              $ref: '#/components/schemas/BookingOffer'
          products:
            type: array
            items:
              $ref: '#/components/schemas/BookingProduct'
          subscription:
            type: array
            items:
              $ref: '#/components/schemas/BookingSubscription'
          productfilter:
            type: array
            items:
              $ref: '#/components/schemas/MetaData'
            description: Filter to restrict the discount
          productexception:
            type: array
            items:
              $ref: '#/components/schemas/MetaData'
            description: Filter to exclude some offers in the discount
      BookingDiscount:
        type: object
        properties:
          discountname:
            type: string
            enum:
              - Enumeration
              - BasketDiscountPercent
              - BasketDiscountAmount
              - LineDiscountAmount
              - LineDiscountPercent
              - OfferDiscountAmount
              - OfferDiscountPercent
              - ProductDiscountAmount
              - ProductDiscountPercent
              - SubscriptionDiscountAmount
              - SubscriptionDiscountPercent
              - FeeDiscountPercent
              - TheCheapestPercent
              - TheMostExpensive
              - PaxDiscountPercent
              - PaxDiscountAmount
              - FeeDiscountAmount
              - FeeDiscountPercent
              - SetDiscountLine
              - SetFees
          quantity:
            type: integer
            description: Quantity
          discounttype:
            description: Type of discount
            enum:
              - PERCENT
              - FIXED
          discountvalue:
            type: number
            format: double
            description: Discount value
          isreverseprice:
            type: boolean
          isforwallet:
            type: boolean
          perpurchase:
            type: number
            format: double
            description: Per purchase
          perquantity:
            type: integer
            format: double
            description: Per quantity
          productfilter:
            type: array
            items:
              $ref: '#/components/schemas/MetaData'
            description: Filter to restrict the discount
          productexception:
            type: array
            items:
              $ref: '#/components/schemas/MetaData'
            description: Filter to exclude some offers in the discount
          offers:
            type: array
            items:
              $ref: '#/components/schemas/BookingOffer'
          products:
            type: array
            items:
              $ref: '#/components/schemas/BookingProduct'
      BookingPassenger:
        type: object
        properties:
          reservationtype:
            type: string
            description: Reservation type
            example: INDIVIDUAL, PRIVATIZATION
          passengertype:
            type: string
            description: Passenger type
            example: ADULT, CHILD, INFANT
          quantity:
            type: integer
            description: quantity
      BookingRule:
        type: object
        properties:
          conditions:
            type: array
            items:
              $ref: '#/components/schemas/BookingCondition'
            description: Conditions list
          behaviours:
            type: array
            items:
              $ref: '#/components/schemas/BookingDiscount'
            description: Discounts list
      BookingRequest:
        type: object
        properties:
          externaltransactionnumber:
            type: string
          destinationcode:
            type: string
          offercode:
            type: string
          offercodes:
            description: list of offer codes to query
            type: array
            items:
              type: string
          typologies:
            description: list of offer typologies to query
            type: array
            items:
              type: string
          startdate:
            type: string
            format: date-time
          enddate:
            type: string
            format: date-time
          requestcontext:
            $ref: '#/components/schemas/RequestContext'
      OptionOfferDetail:
        type: object
        properties:
          unicitykey:
            type: string
            description: unicitykey reference for lookup
          unicitycode:
            type: string
            description: unicitycode reference for lookup
          title:
            type: string
            description: name of  this option
          rank:
            type: integer
          adjustedprice:
            type: number
            format: double
            description: additional price for this option
      OptionOffer:
        type: object
        properties:
          title:
            type: string
            description: name of this option
          rank:
            type: integer
            description: rank of this option
          minquantity:
            type: integer
            description: Minimum quantity
          maxquantity:
            type: integer
            description: Maximum quantity
          optiondetails:
            type: array
            items:
              $ref: '#/components/schemas/OptionOfferDetail'
            description: Describe each option details
      Cancellation:
        type: object
        properties:
          minday:
            type: integer
            description: Minimum day before cancellation date
          maxday:
            type: integer
            description: Maximum day before cancellation date
          rate:
            type: number
            format: double
            description: Rate to apply
      CancellationDetail:
        type: object
        properties:
          creditnote:
            type: string
            description: Credit note amount
          cancellationfees:
            description: Cancellation fees amount
            type: number
            format: double
          cancellationdate:
            description: Cancellation date amount
            type: string
            format: date-time
          commissionamount:
            description: Commission amount after the cancellation
            type: number
            format: double
      CancellationRequest:
        type: object
        required:
          - orderid
        properties:
          orderid:
            type: integer
            description: Order primary key
          vendorcode:
            type: string
            description: Vendor code
          cancellationdate:
            type: string
            format: date-time
          ordernumid:
            type: string
            description: Order transaction number
          comment:
            type: string
            description: Comment to store on the cancellation
        example:
          orderid: 9ed8c8fb5f034ffda61a4b81a3bce42d
          ordernumid: LZI3Y00000895
      CancellationBookingResponse:
        type: object
        properties:
          order:
            $ref: '#/components/schemas/Order'
          ordercontext:
            $ref: '#/components/schemas/ContextDetails'
        example:
          order:
            orderid: 82bf4511e2d74876ad12bebac9a2f3df
            ordertracking:
              user: s.lavenant
              platformreferencenumber: 2003WS4895
              transactionnumber: L1IRC000010047
              vendorcode: '003298'
              orderchannel: CALLCENTER
              emitterid: GUI
              bookingid: 7ccb7b1fe8a2473dac86bf73994f2dde
            cancellationdetail:
              cancellationfees: 0
              notification:
                eventcode: STANDARD
                eventtype: CANCELLATION
              cancellationdate: '2020-03-12T23:00:00.000Z'
              commissionamount: 0
              creditnote: 829
            identifier:
              contactid: 4423af5e37264a87917b43e392ecdeed
              structure:
                countrycode: FR
                marketcode: FR
                blcode: PCV
            businesscreationdate: '2020-03-13T13:17:03.684Z'
            statusdetail:
              latest:
                - statustype: Operational
                  user: Api USer
                  code: CANCELLED
                  date: '2020-03-13T13:19:08.089Z'
                - user: Api USer
                  code: PAID
                  date: '2020-03-13T13:17:48.206Z'
                  statustype: PAYMENT
              order:
                - user: Api USer
                  code: CANCELLED
                  date: '2020-03-13T13:19:08.089Z'
                  statustype: Operational
                - user: Api USer
                  code: PROCESSED
                  date: '2020-03-13T13:17:48.815Z'
                  statustype: Operational
                - statustype: PAYMENT
                  user: Api USer
                  code: PAID
                  date: '2020-03-13T13:17:48.206Z'
                - statustype: Operational
                  user: merchant user
                  code: PENDING
                  date: '2020-03-13T13:17:04.106Z'
                - user: merchant user
                  code: PENDING
                  date: '2020-03-13T13:17:04.106Z'
                  statustype: PAYMENT
            deliverydetail:
              email:
                usage: BIL
                isprincipal: true
                emailvalue: s.wolf@gridbees.com
              customdata:
                - attribute: pickuphour
                  value: '2020-03-20T09:00:00.000Z'
                - attribute: dropoffhour
                  value: '2020-03-20T13:00:00.000Z'
            amount:
              currency: EUR
              hashamount: b80f7b95d4456a2208528f02c1d3e58a9f2dcc596c156d973d2bc43647d9997c
              grossamount: 830
              totaltorefund: 828
              totaltopay: 830
              netamount: 830
            payment:
              isprepaid: true
              groupedpayment:
                orderids:
                  - 82bf4511e2d74876ad12bebac9a2f3df
                totalpaid: 830
              paymentdate: '2020-03-13T13:17:48.206Z'
              prepaidamount: 830
              details:
                - paymentmode: CASH
                  paymentdate: '2020-03-13T13:17:48.206Z'
                  paymentcode: DISCOUNT
                  status: PAID
                  totalpaid: 430
                  updatedate: '2020-03-13T13:17:48.206Z'
                  externalpaymentreference: 548d49696d544dcb86263524c5ca8c27
                  movementtype: CASHING
                - paymentmode: CASH
                  paymentdate: '2020-03-13T13:17:48.206Z'
                  paymentcode: EURO
                  status: PAID
                  totalpaid: 400
                  updatedate: '2020-03-13T13:17:48.206Z'
                  externalpaymentreference: 548d49696d544dcb86263524c5ca8c27
                  movementtype: CASHING
              totalpaid: 830
              processingmode: PREPAYMENT
              updatedate: '2020-03-13T13:17:48.354Z'
              externalpaymentreference: '93195671'
            updatedate: '2020-03-13T13:19:08.089Z'
            comtracking:
              isgift: false
              isquotation: false
              tickets:
                - media:
                    url: >-
                      http://api-uat.gridbees.com/medias/tickets/3776/715a/3776715a9dfe6f91b02a37ac263b79092a47a.pdf
                    size: 29489
                    languagecode: fr
                    mediatype: PDF
                  suppliercode: PCV
                  formattype: BARCODE
                  value: L1IRC000010047
                  categories:
                    ADULT: 10
                  businesstype: VOUCHER
                  subformattype: QR
                  reservationdate: '2020-03-20T09:00:00.000Z'
                  transactionnumber: L1IRC000010047
                  languagecode: fr
              documents:
                - media:
                    mediatype: PDF
                    url: >-
                      http://api-uat.gridbees.com/medias/docs/7931/b7ef/79310f1000f2a2f499e35d512ea6912cc0c2.pdf
                    size: 1263
                    languagecode: fr-FR
                  businesstype: RECEIPT_CC_PAYMENT
                  documentnumid: D548d49696d544dcb86263524c5ca8c27
                  linkedtransactionnumbers:
                    - L1IRC000010047
                  createdate: '2020-03-13T13:17:48.280Z'
                  amount: 32
            billingaddress:
              isactive: true
              isnormalized: false
              usage: BIL
              name:
                lastname: Loustria
                civility: MR
                firstname: Solange
            createdate: '2020-03-13T13:17:04.106Z'
            ordertype: ORDER
            lines:
              - bookinglang: fr
                quantity: 10
                linenum: 1
                offerdestinations:
                  - destinationcode: CITYTOUR
                offercancellations:
                  - minday: 2
                    maxday: 2
                    rate: 50
                  - minday: 0
                    maxday: 1
                    rate: 100
                productitems:
                  - quantity: 1
                    productcode: HISTOV-HISTO
                    suppliers: []
                  - productcode: BP-CROI
                    suppliers: []
                    quantity: 1
                  - suppliers: []
                    quantity: 1
                    productcode: TE-VIS-2E
                  - productcode: VIS-TDV
                    suppliers: []
                    quantity: 1
                amount:
                  currency: EUR
                  hashamount: >-
                    a0a965586ea81c2f30f189a286ce2cf0d18047d19660ae180a340cadffe1df8a
                  additionalassemblyamount: 0
                  additionalserviceamount: 0
                  additionalrecoveryamount: 0
                  grossamount: 830
                  totaltopay: 830
                  totaltorefund: 829
                  netamount: 830
                bookingdate: '2020-03-19T23:00:00.000Z'
                sellingprice: 83
                bookinghour: '10:00'
                offerid: 93dd2ab917ab4746901aac6f4a5f3930
                referencecode: PS
                cancellationdetail:
                  creditnote: 829
                  commissionamount: 0
                  cancellationfees: 0
                pricing:
                  - price: 83
                    mdobject: INDIVIDUAL
                    quantity: 10
                    code: ADULT
          ordercontext:
            status: OK
      CancellationValorizationResponse:
        type: object
        properties:
          order:
            $ref: '#/components/schemas/OrderCancel'
          ordercontext:
            $ref: '#/components/schemas/ContextDetails'
        example:
          order:
            orderid: 9ed8c8fb5f034ffda61a4b81a3bce42d
            amount:
              currency: THB
              grossamount: 69
              netamount: 62.1
              totaltopay: 62.1
              totaltorefund: 9
              commissionamount: 6.9
              hashamount: 08271aece4aa37b6e81728a7bc5f9e536460967ebaba0d009d8e8871b6b7c56e
            cancellationdetail:
              creditnote: 47.1
              cancellationfees: 0
              commissionamount: 6.9
          ordercontext:
            status: OK
            message: PAYMENTMODECHANGED
      ClaimDetail:
        type: object
        properties:
          typology:
            type: string
            description: Typology
          channel:
            type: string
            description: Channel code
          emitterid:
            type: string
            description: Emitter of the claim
          origin:
            type: string
            description: Origin
          detailcontent:
            type: string
            description: Content of the detail
          createdate:
            type: string
            format: date-time
            description: Creation date
      Card:
        type: object
        properties:
          cardaliasid:
            type: string
            description: card alias ID
          validitydate:
            type: string
            format: date-time
            description: validity date
          cardtype:
            type: string
            description: card type
          partner:
            type: string
          portal:
            type: string
      ClaimTrack:
        type: object
        properties:
          codification:
            items:
              $ref: '#/components/schemas/Codification'
            description: Codification of the claim
          identifier:
            items:
              $ref: '#/components/schemas/Identifier'
            description: Identifier
          structure:
            items:
              $ref: '#/components/schemas/Structure'
            description: Structure
          claimtype:
            type: string
            description: Claim type
          claimcode:
            type: string
            description: Claim code
          claimjuscode:
            type: string
            description: Claim proof code
          topic:
            type: string
            description: Topic of the claim
          details:
            type: array
            items:
              $ref: '#/components/schemas/ClaimDetail'
            description: Details list
          status:
            type: string
            description: Status of the claim
          satisfaction:
            type: string
            description: Comment on the claim
      Commission:
        type: object
        properties:
          commissionid:
            type: string
            description: Unique technical key
          unicitykey:
            type: string
            description: Business key
          offercode:
            type: string
            description: Offer code  concerned by this commission
          pricecode:
            type: string
            description: Price code of the commission
          departmentcode:
            type: string
            description: Department code of the commission
          prices:
            type: array
            items:
              $ref: '#/components/schemas/Price'
            description: List of commission prices
          createdate:
            type: string
            format: date-time
            description: Creation date
          updatedate:
            type: string
            format: date-time
            description: Modification date
      Codification:
        type: object
        properties:
          code:
            type: string
            description: Code
          numid:
            type: string
            description: Identifier number
          typology:
            type: string
            description: Typology
          statecode:
            type: string
            description: State code
          eancode:
            type: string
            description: EAN code
          label:
            type: string
            description: Label
          externalcode:
            type: string
            description: External code
          externalref:
            type: string
            description: External reference
          vendorcode:
            type: string
            description: Vendor code
          programcode1:
            type: string
            description: Custom code 1
          programcode2:
            type: string
            description: Custom code 2
          programref:
            type: string
            description: Custom reference
          categorycode:
            type: string
      Comment:
        type: object
        properties:
          user:
            type: string
            description: User creating the comment
          message:
            type: string
            description: The message of the comment
          createdate:
            type: string
            format: date-time
            description: Creation date
          updatedate:
            type: string
            format: date-time
            description: Modification date
      Conflict:
        type: object
        properties:
          includedcodes:
            items:
              $ref: '#/components/schemas/ConflictCode'
          excludedcodes:
            items:
              $ref: '#/components/schemas/ConflictCode'
      ConflictCode:
        type: object
        properties:
          offercodes:
            type: array
            items:
              type: string
          productcodes:
            type: array
            items:
              type: string
      Contact:
        type: object
        properties:
          contactid:
            type: string
            description: unique technical key of the contact
          unicitykey:
            type: string
            description: unique business key of the contact
          typology:
            type: string
            description: Type of the client
          person:
            $ref: '#/components/schemas/Person'
          legalentity:
            $ref: '#/components/schemas/LegalEntity'
          structure:
            $ref: '#/components/schemas/Structure'
          identifier:
            $ref: '#/components/schemas/Identifier'
          identitydocuments:
            type: array
            items:
              $ref: '#/components/schemas/IdentityDocument'
          emails:
            type: array
            items:
              $ref: '#/components/schemas/Email'
            description: Email contact
          phones:
            type: array
            items:
              $ref: '#/components/schemas/Phone'
            description: Phone contact
          addresses:
            type: array
            items:
              $ref: '#/components/schemas/Address'
          paymentdata:
            $ref: '#/components/schemas/PaymentData'
          loyaltycards:
            type: array
            items:
              $ref: '#/components/schemas/LoyaltyCard'
          trackingdata:
            $ref: '#/components/schemas/TrackingData'
          customdata:
            type: array
            items:
              $ref: '#/components/schemas/MetaData'
            description: To use to store key/value list
          statusdetail:
            $ref: '#/components/schemas/ContactStatusDetail'
          businesscreationdate:
            type: string
            description: creation date
            format: date-time
          createdate:
            type: string
            description: creation date
            format: date-time
          updatedate:
            type: string
            description: update date
            format: date-time
      ContactStatus:
        type: object
        required:
          - statustype
          - code
        properties:
          statustype:
            type: string
            description: Status type (Operational, Payment, Filtering)
          code:
            type: string
            description: Code of the type (PENDING, PROCESSED, ..)
          cause:
            type: string
            description: Cause of the error
          message:
            type: string
            description: Status message
          source:
            type: string
            description: Status source
          user:
            type: string
            description: User
          date:
            type: string
            description: date
            format: date-time
      ContactStatusDetail:
        type: object
        properties:
          latest:
            $ref: '#/components/schemas/ContactStatus'
            description: lastest status per statustype
          order:
            type: array
            items:
              $ref: '#/components/schemas/ContactStatus'
              description: contact status history
      ContactRequest:
        type: object
        properties:
          contactids:
            type: array
            items:
              type: string
          unicitykeys:
            type: array
            items:
              type: string
          emails:
            type: array
            items:
              type: string
          phones:
            type: array
            items:
              type: string
          addresses:
            type: array
            items:
              type: string
          typology:
            type: string
            description: Type of the client
          countrycode:
            type: string
          postalcode:
            type: string
          walletnumid:
            type: string
          externalnumid:
            type: string
          marketcode:
            type: string
          shopcode:
            type: string
          companyname:
            type: string
          attribute:
            type: string
          attributevalue:
            type: string
          startbirthdate:
            type: string
            description: birthdate start date
            format: date-time
          endbirthdate:
            type: string
            description: birthdate end date
            format: date-time
          startlastpurchasedate:
            type: string
            description: last purchase start date
            format: date-time
          endlastpurchasedate:
            type: string
            description: last purchase end date
            format: date-time
          lastupdatedate:
            type: string
            description: consider entries such  as updatedate greater than lastupdatedate
            format: date-time
          showstatusdetails:
            type: boolean
            description: include status details ?
          showdeletedaddresses:
            type: boolean
            description: include deleted addresses ?
          requestcontext:
            $ref: '#/components/schemas/RequestContext'
            description: and restricted fields to return
      ContactAttributeRequest:
        type: object
        properties:
          unicitykey:
            type: string
          customdata:
            type: array
            items:
              $ref: '#/components/schemas/MetaData'
            description: Custom attributes definitions
      Exclusion:
        type: object
        properties:
          vendorcodes:
            type: string
            description: Vendor codes
          offercodes:
            type: string
            description: Offer codes
          cancellations:
            type: array
            items:
              $ref: '#/components/schemas/Cancellation'
            description: Cancellation definitions
      WebaccountRequest:
        type: object
        properties:
          login:
            type: string
            description: User login handle
          structure:
            $ref: '#/components/schemas/Structure'
      WebaccountDeleteRequest:
        type: object
        properties:
          webaccountid:
            type: string
            description: Web account ID
          contactid:
            type: string
            description: Contact ID
      WebaccountLoginRequest:
        type: object
        properties:
          login:
            type: string
            description: User login handle
          password:
            type: string
            description: Password
      WebaccountResetPasswordRequest:
        type: object
        properties:
          login:
            type: string
            description: User login handle
          password:
            type: string
            description: Password
      SupplierRequest:
        type: object
        properties:
          supplierid:
            type: string
            description: Supplier ID
      MailDeleteRequest:
        type: object
        properties:
          mailid:
            type: string
            description: Mail ID
          contactids:
            type: array
            description: contact IDs of recipients
            items:
              type: string
      MailGetRequest:
        type: object
        properties:
          mailid:
            type: string
            description: Mail ID
      MailRequest:
        type: object
        properties:
          mailid:
            type: string
            description: Mail ID
          mailids:
            type: array
            items:
              type: string
          tenantid:
            type: string
            description: Tenant ID
          structure:
            $ref: '#/components/schemas/Structure'
          contactids:
            type: array
            items:
              type: string
          ordernums:
            type: array
            items:
              type: string
          from:
            type: string
            description: Sender
          to:
            type: string
            description: Receiver
          cc:
            type: string
            description: Carbon Copy
          bcc:
            type: string
            description: Blind Carbon Copy
          subject:
            type: string
            description: Title of the mail
          status:
            type: string
            description: Status
          statuses:
            type: array
            items:
              type: string
          withwords:
            type: string
            description: With words
          withoutwords:
            type: string
            description: Without words
          user:
            type: string
            description: Status
          isreserved:
            type: boolean
            description: is reserved ?
          startdate:
            type: string
            description: Date query (from startdate to enddate)
            format: date-time
          enddate:
            type: string
            description: Date query (from startdate to enddate)
            format: date-time
          requestcontext:
            $ref: '#/components/schemas/RequestContext'
      Mail:
        type: object
        properties:
          mailid:
            type: string
            description: Mail ID
          tenantid:
            type: string
            description: Tenant ID
          contactid:
            type: string
            description: Contact ID
          trackingdata:
            $ref: '#/components/schemas/TrackingData'
          trackings:
            type: array
            items:
              $ref: '#/components/schemas/TrackingData'
          person:
            $ref: '#/components/schemas/Person'
          properties:
            $ref: '#/components/schemas/MailProperties'
          comments:
            type: array
            items:
              $ref: '#/components/schemas/Comment'
          status:
            type: string
            description: Status
          customdata:
            type: array
            items:
              $ref: '#/components/schemas/MetaData'
          createdate:
            type: string
            description: creation date
            format: date-time
          updatedate:
            type: string
            description: last update date
            format: date-time
          sentdate:
            type: string
            description: sent date
            format: date-time
          user:
            type: string
            description: User
          isreserved:
            type: boolean
            description: is reserved ?
          reservationdate:
            type: string
            description: reservation date
            format: date-time
          sendandarchive:
            type: boolean
            description: is sent and archived ?
          lang:
            type: string
            description: Langage code
      MailProperties:
        type: object
        properties:
          from:
            type: string
            description: From
          to:
            type: string
            description: To
          cc:
            type: string
            description: Cc
          bcc:
            type: string
            description: Bcc
          subject:
            type: string
            description: Subject
          message:
            type: string
            description: Message
          attachments:
            type: array
            items:
              $ref: '#/components/schemas/Attachment'
      Attachment:
        type: object
        properties:
          filename:
            type: string
            description: Filename
          description:
            type: string
            description: Description
          uploadref:
            type: string
            description: Upload reference
          content:
            type: string
            description: Content
          contenttype:
            type: string
            description: Content type
      MailTemplate:
        type: object
        properties:
          mailtemplateid:
            type: string
            description: mail template id
          code:
            type: string
            description: template code
          tenantid:
            type: string
            description: tenant id
          structure:
            $ref: '#/components/schemas/Structure'
          description:
            type: string
            description: description
          typology:
            type: string
            description: typology
          maildata:
            type: array
            items:
              $ref: '#/components/schemas/MailData'
          startdate:
            type: string
            description: start date
            format: date-time
          endate:
            type: string
            description: end date
            format: date-time
          campaigncode:
            type: string
            description: campaign code
          customdata:
            type: array
            items:
              $ref: '#/components/schemas/MetaData'
          createdate:
            type: string
            description: creation date
            format: date-time
          updatedate:
            type: string
            description: update date
            format: date-time
      MailData:
        type: object
        properties:
          lang:
            type: string
            description: langage code
          subject:
            type: string
            description: subject
          body:
            type: string
            description: body
          updatedate:
            type: string
            description: update date
            format: date-time
      MailTemplateRequest:
        type: object
        properties:
          mailtemplateid:
            type: string
            description: mail template id
          structure:
            $ref: '#/components/schemas/Structure'
          typology:
            type: string
            description: typology
          lang:
            type: string
            description: langage code
          tenantid:
            type: string
            description: tenant id
          code:
            type: string
            description: template code
          subject:
            type: string
            description: subject
          body:
            type: string
            description: body
          description:
            type: string
            description: description
          startdate:
            type: string
            description: start date
            format: date-time
          endate:
            type: string
            description: end date
            format: date-time
          requestcontext:
            $ref: '#/components/schemas/RequestContext'
      Notification:
        type: object
        properties:
          notificationid:
            type: string
            description: notification id
          unicitykey:
            type: string
            description: notification unicity key
          identifier:
            $ref: '#/components/schemas/Identifier'
          eventtype:
            type: string
            description: event type
          eventcode:
            type: string
            description: event code (event type specialization)
          topic:
            type: string
            description: topic
          justificationcode:
            type: string
            description: justification code
          retentiondelay:
            type: integer
            description: retention delay
          retentionunit:
            type: integer
            description: retention unit
          trackingdata:
            $ref: '#/components/schemas/TrackingData'
          emitterid:
            type: string
            description: emitter id
          channel:
            type: string
            description: channel
          user:
            type: string
            description: user
          status:
            type: string
            description: status
          claims:
            type: array
            items:
              $ref: '#/components/schemas/ClaimTrack'
          cancellations:
            type: array
            items:
              $ref: '#/components/schemas/Cancellation'
          exclusions:
            type: array
            items:
              $ref: '#/components/schemas/Exclusion'
          attributes:
            type: array
            items:
              $ref: '#/components/schemas/MasterData'
          updatedate:
            type: string
            description: update date
            format: date-time
          createdate:
            type: string
            description: create date
            format: date-time
      NotificationRequest:
        type: object
        properties:
          notificationid:
            type: string
            description: notification id
          unicitykey:
            type: string
            description: notification unicity key
          contactid:
            type: string
            description: contact id
          eventtype:
            type: string
            description: event type
          eventcode:
            type: string
            description: event code (event type specialization)
          justificationcode:
            type: string
            description: justification code
          ordernum:
            type: string
            description: order number
          invoicenumber:
            type: string
            description: invoice number
          paymentbookingid:
            type: string
            description: payment booking id
          emitterid:
            type: string
            description: emitter id
          channel:
            type: string
            description: channel
          user:
            type: string
            description: user
          status:
            type: string
            description: status
          claimtype:
            type: string
            description: claim type
          claimcode:
            type: string
            description: claim code
          claimjuscode:
            type: string
            description: claim justification code
          startdate:
            type: string
            description: start date
            format: date-time
          endate:
            type: string
            description: end date
            format: date-time
          requestcontext:
            $ref: '#/components/schemas/RequestContext'
      CommercialTracking:
        type: object
        properties:
          promocode:
            type: string
            description: >-
              Promo code used to fire some promotions. This information comes from
              the Gridbees prices valorization service
          externalpromocode:
            type: string
            description: >-
              If the promotion comes another prices valorization service, the code
              is stored in this field
          vouchernumid:
            type: string
            description: >-
              Promotion voucher codes are unique codes available only one time.
              This information comes from the Gridbees prices valorization
              service.
          isupselled:
            type: boolean
      ContentProperties:
        type: object
        properties:
          ispublic:
            type: string
          isonshelf:
            type: string
            description: is an advertising product ?
          platformcodes:
            type: array
            items:
              type: string
          allowedwatchplatforms:
            type: array
            items:
              type: string
          resolutions:
            type: array
            items:
              type: string
          subscriptiontiers:
            type: array
            items:
              type: string
          tvodtiers:
            type: array
            items:
              type: string
          studios:
            type: array
            items:
              type: string
          audio:
            type: array
            items:
              type: string
          subtitles:
            type: array
            items:
              type: string
            description: List of offer Id
          sequence:
            type: integer
          contentid:
            type: string
          contenttype:
            type: string
          contentcode:
            type: string
          maxccu:
            type: integer
          servicetype:
            type: string
          highlightshelfid:
            type: string
          displaychannelcontent_d:
            type: string
          privacypolicyid:
            type: string
      ContextDetails:
        type: object
        properties:
          externalbookingid:
            type: string
          user:
            type: string
            example: testuser
          status:
            type: string
          code:
            type: string
          message:
            type: string
      DeliveryDetail:
        type: object
        properties:
          deliverymode:
            type: string
            description: Delivery mode
          instruction:
            type: array
            items:
              $ref: '#/components/schemas/MetaData'
            description: Delivery instruction
          deliveryaddress:
            $ref: '#/components/schemas/Address'
            description: Delivery address
          otheraddresses:
            type: array
            items:
              $ref: '#/components/schemas/Address'
            description: Other addresses
          passengers:
            type: array
            items:
              $ref: '#/components/schemas/Person'
            description: Passengers list
          email:
            items:
              $ref: '#/components/schemas/Email'
              description: Email contact
          phone:
            items:
              $ref: '#/components/schemas/Phone'
              description: Phone contact
      DeliveryTime:
        type: object
        properties:
          applicabledays:
            type: array
            items:
              $ref: '#/components/schemas/ApplicableDay'
            description: Applicable days
      Email:
        type: object
        properties:
          uid:
            type: string
            description: unique identifier
            format: uuid
          Usage:
            type: string
            description: Usage for this email
            example: PRINCIPAL, PROFESIONNAL
          Isprincipal:
            type: boolean
            description: Is principal?
          emailvalue:
            type: string
            description: Email value
          quality:
            type: boolean
            description: email quality
      ExclusionDate:
        type: object
        properties:
          date:
            type: string
            format: date-time
            description: Exclusion Date
          departuretime:
            type: string
            description: Exclusion Departure time
          languages:
            type: array
            items:
              type: string
            description: Exclusion Languages
      Geoloc:
        type: object
        required:
          - x
          - 'y'
        properties:
          x:
            type: number
          'y':
            type: number
          h:
            type: number
          sector:
            type: string
      GroupedPayment:
        type: object
        properties:
          usage:
            type: string
            description: usage
          totalpaid:
            type: number
            format: double
            description: Total paid for this group
          orderids:
            type: array
            items:
              type: string
            description: List of orderid (primary keys) concerned by this group
      Identifier:
        required:
          - structure
        type: object
        properties:
          contactid:
            type: string
          externalnumid:
            type: string
            description: external identifier
          sponsorid:
            type: string
          structure:
            $ref: '#/components/schemas/Structure'
        description: structure
      IdentityDocument:
        type: object
        properties:
          uid:
            type: string
            description: unique identifier
          numid:
            type: string
            description: identifier number
          emittercitylocation:
            type: string
            description: issuer city
          emittercountrylocation:
            type: string
            description: issuer country
          isvalidated:
            type: string
            description: Is validated ?
          isexternal:
            type: string
            description: Is internal use ?
          issueddate:
            type: string
            format: date-time
            description: date of issue
          expirydate:
            type: string
            format: date-time
            description: expiration date
          createdate:
            type: string
            format: date-time
            description: creation date
          updatedate:
            type: string
            format: date-time
            description: update date
      Item:
        type: object
        required:
          - productcode
        properties:
          productcode:
            type: string
            description: Product code
          productgroup:
            type: string
          producttype:
            type: string
          title:
            type: string
            description: Product title (offerdescription/title should be used first)
          size:
            type: string
          quantity:
            type: integer
            default: 1
      Display:
        type: object
        required:
          - mdobject
          - mdaxis
        properties:
          displayid:
            type: string
          tenantid:
            type: string
          mdobject:
            type: string
          tabcode:
            type: string
          status:
            type: string
          mdtype:
            type: string
          parentcode:
            type: string
          code:
            type: string
          genericcode:
            type: string
          label:
            type: string
          priority:
            type: integer
          script:
            type: string
          backend:
            $ref: '#/components/schemas/BackendDisplay'
          displaytabs:
            type: array
            items:
              $ref: '#/components/schemas/DisplayTabs'
          translations:
            type: array
            items:
              $ref: '#/components/schemas/Translation'
          updatedate:
            type: string
            format: date-time
      DisplayRequest:
        type: object
        properties:
          displayid:
            type: string
          mdobject:
            type: string
          tabcode:
            type: string
          status:
            type: string
          mdtype:
            type: string
          parentcode:
            type: string
          code:
            type: string
          codes:
            type: array
            items:
              type: string
          genericcode:
            type: string
          requestcontext:
            $ref: '#/components/schemas/RequestContext'
            description: pagination and restricted fields to return
      Loyalty:
        type: object
        properties:
          loyaltyid:
            type: string
            description: technical key
          unicitykey:
            type: string
            description: business key
          externalnumid:
            type: string
            description: external number ID
          structure:
            $ref: '#/components/schemas/Structure'
          codification:
            $ref: '#/components/schemas/Codification'
          status:
            type: string
            description: status
            enum:
              - Created
              - Published
              - Unpublished
              - Active
          label:
            type: string
            description: label
          tiers:
            type: array
            items:
              $ref: '#/components/schemas/LoyaltyTier'
          tierduration:
            type: boolean
            description: Is tier upgrade or downgrade automatic ?
          isautomatic:
            type: string
            description: status
          welcometemplate:
            type: string
            description: welcome template name
          balancetemplate:
            type: string
            description: balance template name
          createdate:
            type: string
            format: date-time
            description: creation date
          updatedate:
            type: string
            format: date-time
            description: update date
      LoyaltyCard:
        type: object
        properties:
          externalnumid:
            type: string
            description: external number ID
          loyalties:
            type: array
            items:
              $ref: '#/components/schemas/Loyalty'
          points:
            type: array
            items:
              $ref: '#/components/schemas/WalletDetail'
          createdate:
            type: string
            format: date-time
            description: creation date
          updatedate:
            type: string
            format: date-time
            description: update date
      LoyaltyTier:
        type: object
        properties:
          uid:
            type: string
            description: technical key
          code:
            type: string
            description: business code
          label:
            type: string
            description: label
          level:
            type: string
            description: Tier level
          minvalue:
            type: number
            format: double
            description: minimum value to validate for this level
          maxvalue:
            type: number
            format: double
            description: maximum value before next upgrade
          startdate:
            type: string
            format: date-time
            description: Start publication date
          enddate:
            type: string
            format: date-time
            description: End publication date
      LegalEntity:
        type: object
        properties:
          legalentityid:
            type: string
            description: technical key
          languagecode:
            type: string
            description: language code
          countrycode:
            type: string
            description: country code
          legalstatus:
            type: string
            description: legal status
          commercialname:
            type: string
            description: Commercial name
          companyname:
            type: string
            description: company name
          vatcode:
            type: string
            description: VAT code
          vatidintracom:
            type: string
            description: VAT Intracom code
          siretcode:
            type: string
            description: siret code
          businesssector:
            type: string
            description: Business sector
          companytype:
            type: string
            description: Company type
          createdate:
            type: string
            description: creation date
            format: date-time
          updatedate:
            type: string
            description: update date
            format: date-time
      MasterData:
        type: object
        required:
          - mdobject
          - mdaxis
        properties:
          masterdataid:
            type: string
          mdobject:
            type: string
          mddatatype:
            type: string
          mdaxis:
            type: string
          mdtype:
            type: string
          parentcode:
            type: string
          code:
            type: string
          value:
            type: string
          genericcode:
            type: string
          externalref:
            type: string
          price:
            type: number
          backend:
            $ref: '#/components/schemas/Backend'
          translations:
            type: array
            items:
              $ref: '#/components/schemas/Translation'
          updatedate:
            type: string
            format: date-time
      MasterDataRequest:
        type: object
        properties:
          masterdataid:
            type: string
          mdobject:
            type: string
          mddatatype:
            type: string
          mdaxis:
            type: string
          mdtype:
            type: string
          parentcode:
            type: string
          code:
            type: string
          value:
            type: string
          genericcode:
            type: string
          externalref:
            type: string
          requestcontext:
            $ref: '#/components/schemas/RequestContext'
            description: restrict fields to return in the response
      Media:
        type: object
        required:
          - url
        properties:
          code:
            type: string
            description: media code
          url:
            type: string
            description: Url to download the media
          mediatype:
            type: string
            description: media type
          rank:
            type: integer
            description: media rank
          islocalisable:
            type: boolean
            description: This media is related to a language
          hashcode:
            type: string
            description: media hascode
          languagecode:
            type: string
            description: If localizable, the field stores the language code
      MetaData:
        type: object
        required:
          - attribute
        properties:
          attribute:
            type: string
          value:
            type: string
      MetaDataQuantityPercent:
        type: object
        required:
          - attribute
        properties:
          attribute:
            type: string
          value:
            type: string
          quantity:
            type: integer
            default: 1
          percent:
            type: number
      MetaDataCategorization:
        type: object
        required:
          - attribute
        properties:
          datatype:
            type: string
          attribute:
            type: string
          category:
            type: string
          quantity:
            type: integer
            default: 1
          ispercent:
            type: boolean
          value:
            type: number
      OrderLineProperties:
        type: object
        properties:
          canbecancelled:
            type: boolean
          canberefunded:
            type: boolean
          canopenincident:
            type: boolean
          canbeevaluated:
            type: boolean
          hasincident:
            type: boolean
          hascustomermessages:
            type: boolean
          hasinvoice:
            type: boolean
          options:
            type: array
            items:
              $ref: '#/components/schemas/OptionOffer'
      Offer:
        type: object
        properties:
          offerid:
            type: string
            description: Technical key (generated after an offer/set )
          unicitykey:
            type: string
            description: Unique business key
          unicitycode:
            type: string
            description: Offer code
          offertype:
            type: string
            enum:
              - Published
              - Unpublished
              - Created
            description: Offer type
          title:
            type: string
            description: Offer title
          offerdescription:
            type: string
            description: Offer description
          structure:
            $ref: '#/components/schemas/Structure'
            description: Offer structure, mainly used for promotional purposes
          codification:
            items:
              $ref: '#/components/schemas/Codification'
            description: Offer codification
          products:
            type: array
            items:
              $ref: '#/components/schemas/OfferProduct'
            description: Product's list
          subscription:
            description: Offer subsription details
            $ref: '#/components/schemas/OfferSubscription'
          properties:
            $ref: '#/components/schemas/OfferProperty'
            description: Offer properties
          pricing:
            $ref: '#/components/schemas/Pricing'
            description: Pricing
          medias:
            type: array
            items:
              $ref: '#/components/schemas/Media'
            description: Images list
          status:
            type: string
            description: Offer status
          startdate:
            type: string
            format: date-time
            description: Start publication date
          enddate:
            type: string
            format: date-time
            description: End publication date
          attributes:
            type: array
            items:
              $ref: '#/components/schemas/MasterData'
            description: Additional attributes data
          createdate:
            type: string
            format: date-time
            description: Technical creation date
          createdby:
            type: string
          updatedate:
            type: string
            format: date-time
            description: Technical modification date
          updatedby:
            type: string
      OfferBenefit:
        type: object
        properties:
          benefit1:
            $ref: '#/components/schemas/OfferBenefitLine'
          benefit2:
            $ref: '#/components/schemas/OfferBenefitLine'
          benefit3:
            $ref: '#/components/schemas/OfferBenefitLine'
      OfferBenefitLine:
        type: object
        properties:
          line1:
            type: string
          line2:
            type: string
      OfferCode:
        type: object
        required:
          - offercode
        properties:
          offerid:
            type: string
            description: technical key
          offercode:
            type: string
            description: Unique business key
          enddate:
            type: string
            format: date-time
          hour:
            type: string
            description: Activity hour
          totalquantity:
            type: integer
            description: total available quantity
      OfferContractPeriod:
        type: object
        properties:
          period:
            type: string
          type:
            type: string
          effectivedate:
            type: string
            format: date-time
          expiredate:
            type: string
      OfferEligibility:
        type: object
        properties:
          ischeckneeded:
            type: boolean
          condition:
            type: string
      OfferProduct:
        type: object
        properties:
          items:
            $ref: '#/components/schemas/Item'
            description: List of items
      OfferProperty:
        type: object
        properties:
          deliverytime:
            type: array
            items:
              $ref: '#/components/schemas/DeliveryTime'
            description: Opening days and hours
          customdata:
            type: array
            items:
              $ref: '#/components/schemas/MetaData'
            description: To use to store key/value list
          options:
            description: Offer Options
            $ref: '#/components/schemas/OptionOffer'
          conflict:
            description: Conflict Options
            $ref: '#/components/schemas/Conflict'
          channels:
            type: array
            items:
              type: string
            description: Channel list
      OfferRequest:
        type: object
        properties:
          offerid:
            type: string
            description: technical offer Identifier
          offerids:
            type: array
            items:
              type: string
            description: List of offer Id
          unicitykeys:
            type: array
            items:
              type: string
            description: List unicity keys
          unicitycodes:
            type: array
            items:
              type: string
            description: List offer codes
          offertype:
            type: string
          productcode:
            type: string
          productgroupcode:
            type: string
          blcode:
            type: string
          companycode:
            type: string
          countrycode:
            type: string
          platformcode:
            type: string
          vendorcode:
            type: string
          marketcode:
            type: string
          customdata:
            type: array
            items:
              $ref: '#/components/schemas/MetaData'
          startdate:
            type: string
            format: date-time
            description: Start date of the publication
          enddate:
            type: string
            format: date-time
            description: End date of the publication
          lastupdatedate:
            type: string
            format: date-time
            description: Retrieve offers updated since lastupdatedate
          requestcontext:
            $ref: '#/components/schemas/RequestContext'
            description: restrict fields to return in the response
      OfferService:
        type: object
        properties:
          servicetype:
            type: string
            description: Service type
          serviceincluded:
            type: boolean
            description: Mandatory or not
          servicecapacity:
            type: integer
            description: Capacity
          productcode:
            type: string
            description: Product code
          quantity:
            type: integer
            description: Quantity
          prices:
            type: array
            items:
              $ref: '#/components/schemas/Price'
            description: Price List
      OfferSubscription:
        type: object
        properties:
          ispublic:
            type: string
          isactive:
            type: string
          isaddon:
            type: string
          unicitykey:
            type: string
          eligibility:
            $ref: '#/components/schemas/OfferEligibility'
          autorenew:
            type: boolean
          renewplan:
            type: integer
          benefit:
            $ref: '#/components/schemas/OfferBenefit'
          contractperiod:
            $ref: '#/components/schemas/OfferContractPeriod'
          mincontractperiod:
            $ref: '#/components/schemas/OfferContractPeriod'
          trialperiod:
            $ref: '#/components/schemas/OfferContractPeriod'
          renewperiod:
            $ref: '#/components/schemas/OfferContractPeriod'
          accountingcode:
            type: string
            description: SAP Code
          sequence:
            type: integer
            description: Sequence Display
          allowedplatforms:
            type: array
            items:
              type: string
          applicationcodes:
            type: array
            items:
              type: string
          groupcode:
            type: string
          groupname:
            type: string
          partnercode:
            type: string
          contenttype:
            type: string
          contentid:
            type: string
          partnerproductcode:
            type: string
          maxtickets:
            type: integer
          serviceperiod:
            type: integer
            description: A service period of each the offer for accounting calculations
          billingperiod:
            type: integer
          waytowatch:
            type: string
      Order:
        required:
          - amount
          - ordertracking
          - billingaddress
          - lines
        type: object
        properties:
          orderid:
            type: string
            description: Internal Order Identifier
          orderrules:
            type: array
            description: Applied rules
            items:
              $ref: '#/components/schemas/BasketRule'
          identifier:
            $ref: '#/components/schemas/Identifier'
          ordertracking:
            $ref: '#/components/schemas/TrackingData'
            description: Order Tracking
          comtracking:
            $ref: '#/components/schemas/CommercialTracking'
            description: Commercial Tracking
          ordertype:
            type: string
            description: Order type
          amount:
            $ref: '#/components/schemas/Amount'
          billingaddress:
            $ref: '#/components/schemas/Address'
            description: Billing address
          deliverydetail:
            $ref: '#/components/schemas/DeliveryDetail'
            description: Delivery details
          payment:
            $ref: '#/components/schemas/Payment'
            description: Payment details
          cancellationdetail:
            $ref: '#/components/schemas/CancellationDetail'
            description: Details on the cancellation
          customdata:
            type: array
            items:
              $ref: '#/components/schemas/MetaData'
          lines:
            type: array
            items:
              $ref: '#/components/schemas/OrderLine'
            description: order lines
          statusdetail:
            $ref: '#/components/schemas/OrderStatusDetail'
            description: Order status
          businesscreationdate:
            type: string
            format: date-time
            description: Business creation date
          createdate:
            type: string
            format: date-time
            description: Technical creation date
          updatedate:
            type: string
            format: date-time
            description: Technical modification date
      OrderConfirm:
        required:
          - orderid
          - ordertracking
        type: object
        properties:
          orderid:
            type: string
            description: technical Identifier
          ordertracking:
            $ref: '#/components/schemas/TrackingData'
          payment:
            $ref: '#/components/schemas/Payment'
            description: Payment details
      OrderReservation:
        required:
          - amount
          - ordertracking
          - billingaddress
          - lines
        type: object
        properties:
          contact:
            $ref: '#/components/schemas/Contact'
          identifier:
            $ref: '#/components/schemas/Identifier'
          codification:
            items:
              $ref: '#/components/schemas/Codification'
            description: Offer codification
          ordertracking:
            $ref: '#/components/schemas/TrackingData'
            description: Order Tracking
          comtracking:
            $ref: '#/components/schemas/CommercialTracking'
            description: Commercial Tracking
          basketrules:
            type: array
            description: promotion rules applied on this order
          amount:
            $ref: '#/components/schemas/Amount'
          billingaddress:
            $ref: '#/components/schemas/Address'
            description: Billing address
          deliverydetail:
            $ref: '#/components/schemas/DeliveryDetail'
            description: Delivery details
          payment:
            $ref: '#/components/schemas/Payment'
            description: Payment details
          customdata:
            type: array
            items:
              $ref: '#/components/schemas/MetaData'
          lines:
            type: array
            items:
              $ref: '#/components/schemas/OrderLine'
            description: order lines
          businesscreationdate:
            type: string
            format: date-time
            description: Business creation date
      OrderRequest:
        type: object
        properties:
          order:
            $ref: '#/components/schemas/OrderReservation'
          ordercontext:
            $ref: '#/components/schemas/ContextDetails'
            description: Order Context
      OrderResponse:
        type: object
        properties:
          order:
            $ref: '#/components/schemas/Order'
          ordercontext:
            $ref: '#/components/schemas/ContextDetails'
            description: Order Context
      OrderCancel:
        type: object
        properties:
          orderid:
            type: string
            description: Internal Order Identifier
          amount:
            $ref: '#/components/schemas/Amount'
          cancellationdetail:
            $ref: '#/components/schemas/CancellationDetail'
            description: Details on the cancellation
      OrderLine:
        type: object
        properties:
          orderlineid:
            type: string
            description: order line identifier
          linenum:
            type: integer
            description: Line number
          referencecode:
            type: string
            description: Offer code
          processingmode:
            type: string
            description: Processing mode
          offerid:
            type: string
            description: Offer Identifier
          offercodification:
            $ref: '#/components/schemas/Codification'
            description: Offer codification
          quantity:
            type: integer
            description: Line quantity
          amount:
            $ref: '#/components/schemas/Amount'
          crossedoutprice:
            type: number
            format: double
            description: Crossed out price
          sellingprice:
            type: number
            format: double
            description: Selling price
          pricing:
            $ref: '#/components/schemas/MasterData'
            description: Additional info on prices
          productitems:
            type: array
            items:
              $ref: '#/components/schemas/ProductItem'
          taxdetails:
            type: array
            items:
              $ref: '#/components/schemas/TaxDetail'
          additionalservices:
            type: array
            items:
              $ref: '#/components/schemas/AdditionalService'
            description: Additional services
          offercancellations:
            type: array
            items:
              $ref: '#/components/schemas/Cancellation'
          properties:
            $ref: '#/components/schemas/OrderLineProperties'
          parcels:
            type: array
            items:
              $ref: '#/components/schemas/Parcel'
          tracking:
            type: array
            items:
              $ref: '#/components/schemas/TrackingData'
          cancellationdetail:
            $ref: '#/components/schemas/CancellationDetail'
          subscription:
            $ref: '#/components/schemas/UserSubscription'
      OrderStatus:
        type: object
        required:
          - statustype
          - code
        properties:
          statustype:
            type: string
            description: Status type (Operational, Payment, Filtering)
          code:
            type: string
            description: Code of the type (PENDING, PROCESSED, ..)
          cause:
            type: string
            description: Cause of the error
          message:
            type: string
            description: Status message
          source:
            type: string
            description: Status source
          user:
            type: string
            description: User
      OrderStatusDetail:
        type: object
        properties:
          latest:
            $ref: '#/components/schemas/OrderStatus'
            description: lastest status per statustype
          order:
            type: array
            items:
[...]
