publishJson:
  company: Gusto
  serviceName: App Integrations
  sdkName: gusto-app-integrations-{language}-sdk
  clientName: GustoAppIntegrations
  metaDescription: >-
    Launched in 2011 as ZenPayroll, Gusto serves more than 300,000 businesses
    nationwide. Each year we process tens of billions of dollars of payroll and
    provide employee benefits—like health insurance and 401(k) accounts—while
    helping companies create incredible work places.


    Through one refreshingly easy, integrated platform, we automate and simplify
    your payroll, benefits, and HR, all while providing expert support. You and
    your employees will get the peace of mind you need to do your best work.
  apiStatusUrls: inherit
  homepage: gusto.com
  developerDocumentation: docs.gusto.com/app-integrations/docs/introduction
  categories:
    - payroll
    - hr
    - benefits
    - human_resources
    - health_insurance
    - compliance
rawSpecString: |
  openapi: 3.0.0
  tags:
    - name: Introspection
    - name: Companies
    - name: Flows
    - name: Locations
    - name: Bank Accounts
    - name: Payment Configs
    - name: Pay Schedules
    - name: Employees
    - name: Employee Tax Setup
    - name: Employee Payment Method
    - name: Employee Employments
    - name: Employee Addresses
    - name: Jobs and Compensations
    - name: Earning Types
    - name: Contractor Payment Method
    - name: Contractor Payments
    - name: Contractors
    - name: Payrolls
    - name: Company Forms
    - name: Employee Forms
    - name: Company Benefits
    - name: Employee Benefits
    - name: Garnishments
    - name: Federal Tax Details
    - name: Industry Selection
    - name: Signatories
    - name: External Payrolls
    - name: Tax Requirements
    - name: Contractor Forms
    - name: Time Off Policies
    - name: Holiday Pay Policies
    - name: Departments
    - name: Generated Documents
    - name: Notifications
    - name: Webhooks
    - name: Events
    - name: Invoices
    - name: Recovery Cases
    - name: ACH Transactions
  info:
    title: Gusto API
    version: '2024-04-01'
    termsOfService: https://gusto.com/about/terms/developer-terms-of-service
    description: Welcome to Gusto's Embedded Payroll API documentation!
    contact:
      name: Developer Relations
      email: developer@gusto.com
  servers:
    - url: https://api.gusto-demo.com
      description: Demo
    - description: Production
      url: https://api.gusto.com
  paths:
    /v1/token_info:
      get:
        x-gusto-integration-type:
          - embedded
          - app-integrations
        summary: Get info about the current access token
        tags:
          - Introspection
        responses:
          '200':
            description: Example response
            content:
              application/json:
                schema:
                  description: ''
                  type: object
                  properties:
                    scope:
                      type: string
                      description: Space delimited string of accessible scopes.
                    resource:
                      type: object
                      description: Information about the token resource.
                      properties:
                        type:
                          type: string
                          description: Type of object
                        uuid:
                          type: string
                          description: UUID of object
                examples:
                  Example:
                    value:
                      scope: companies:read companies:write employees:read
                      resource:
                        type: Company
                        uuid: 5eca5127-6048-43ad-91ee-b56a0c34bc85
        operationId: get-v1-token-info
        description: >-
          Returns scope and resource information associated with the current
          access token.
        parameters:
          - $ref: '#/components/parameters/VersionHeader'
    /oauth/token:
      post:
        x-gusto-integration-type:
          - embedded
          - app-integrations
        operationId: refresh-access-token
        summary: Refresh access token
        requestBody:
          content:
            application/json:
              schema:
                description: ''
                type: object
                required:
                  - client_id
                  - client_secret
                  - grant_type
                  - refresh_token
                properties:
                  client_id:
                    type: string
                    description: Your client id
                  client_secret:
                    type: string
                    description: Your client secret
                  redirect_uri:
                    type: string
                    description: The redirect URI you set up via the Developer Portal
                  refresh_token:
                    type: string
                    description: The `refresh_token` being exchanged for an access token code
                  grant_type:
                    type: string
                    description: this should be the literal string 'refresh_token'
        tags:
          - Introspection
        responses:
          '200':
            $ref: '#/components/responses/Authentication-Object'
        description: >-
          Exchange a refresh token for a new access token.


          The previous `refresh_token` will be revoked on the first usage of the
          new `access_token`.


          The `expires_in` value is provided in seconds from when the
          `access_token` was generated.
        security:
          - SystemAccessAuth: []
        parameters:
          - $ref: '#/components/parameters/VersionHeader'
    /v1/provision:
      post:
        x-gusto-integration-type:
          - app-integrations
        summary: Create a company
        tags:
          - Companies
        responses:
          '201':
            description: OK
            content:
              application/json:
                schema:
                  description: ''
                  type: object
                  properties:
                    account_claim_url:
                      type: string
                      description: >-
                        A URL where the user should be redirected to complete
                        their account setup inside of Gusto.
                      readOnly: true
                examples:
                  Example:
                    value:
                      account_claim_url: https://app.gusto.com/claim_account/3456789
          '401':
            description: Authorization information is missing or invalid.
          '422':
            $ref: '#/components/responses/Unprocessable-Entity-Error-Object'
        operationId: post-v1-provision
        description: >-
          ### Overview

          The company provisioning API provides a way to create a Gusto company as
          part of your integration. When you successfully call the API, the API
          does the following:

          * Creates a new company in Gusto.

          * Creates a new user in Gusto.

          * Makes the new user the primary payroll administrator of the new
          company.

          * Sends a welcome email to the new user.

          In the response, you will receive an account claim URL. Redirect the
          user to this URL to complete their account setup inside of Gusto


          > 📘 System Access Authentication

          >

          > This endpoint uses the [Bearer Auth scheme with the system-level
          access token in the HTTP Authorization
          header](https://docs.gusto.com/embedded-payroll/docs/system-access).
        requestBody:
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  user:
                    type: object
                    description: >-
                      Information for the user who will be the primary payroll
                      administrator for the new company.
                    required:
                      - first_name
                      - last_name
                      - email
                    properties:
                      first_name:
                        type: string
                        description: >-
                          The first name of the user who will be the primary
                          payroll admin.
                      last_name:
                        type: string
                        description: >-
                          The last name of the user who will be the primary
                          payroll admin.
                      email:
                        type: string
                        description: >-
                          The email of the user who will be the primary payroll
                          admin.
                      phone:
                        type: string
                        description: >-
                          The phone number of the user who will be the primary
                          payroll admin.
                  company:
                    type: object
                    required:
                      - name
                    properties:
                      name:
                        type: string
                        description: The legal name of the company.
                      trade_name:
                        type: string
                        description: The name of the company.
                      ein:
                        type: string
                        description: The employer identification number (EIN) of the company.
                      states:
                        type: array
                        description: >-
                          The states in which the company operates. States should
                          be included by their two letter code, i.e. NY for New
                          York. 
                        items:
                          type: string
                      number_employees:
                        type: number
                        description: The number of employees in the company.
                      addresses:
                        type: array
                        uniqueItems: false
                        description: >-
                          The locations for the company. This includes mailing,
                          work, and filing addresses.
                        items:
                          type: object
                          properties:
                            street_1:
                              type: string
                            street_2:
                              type: string
                              nullable: true
                            city:
                              type: string
                            zip:
                              type: string
                            state:
                              type: string
                            phone:
                              type: string
                            is_primary:
                              type: string
                              description: >-
                                Whether or not this is a primary address for the
                                company. If set to true, the address will be used
                                as the mailing and filing address for the company
                                and will be added as a work location. If set to
                                false or not included, the address will only be
                                added as a work location for the company. If
                                multiple addresses are included, only one should
                                be marked as primary.
                required:
                  - user
                  - company
              examples:
                Example:
                  value:
                    user:
                      first_name: Frank
                      last_name: Ocean
                      email: frank@example.com
                      phone: '2345558899'
                    company:
                      name: Frank's Ocean, LLC
                      trade_name: Frank’s Ocean
                      tier: complete
                      ein: '123456789'
                      states:
                        - CO
                        - CA
                      number_employees: 8
                      addresses:
                        - street_1: 1201 16th Street Mall
                          street_2: Suite 350
                          city: Denver
                          zip: '80202'
                          state: CO
                          phone: '2345678900'
                          is_primary: 'true'
                        - street_1: 525 20th Street
                          city: San Francisco
                          zip: '94107'
                          state: CA
                          phone: '2345678901'
          description: ''
        security:
          - SystemAccessAuth: []
        parameters:
          - $ref: '#/components/parameters/VersionHeader'
    /v1/companies/{company_id}:
      get:
        x-gusto-integration-type:
          - embedded
          - app-integrations
        summary: Get a company
        operationId: get-v1-companies
        description: >-
          Get a company.         

          The employees:read scope is required to return home_address and non-work
          locations.         

          The company_admin:read scope is required to return
          primary_payroll_admin.         

          The signatories:read scope is required to return
          primary_signatory.         


          scope: `companies:read`
        parameters:
          - $ref: '#/components/parameters/company_id'
          - $ref: '#/components/parameters/VersionHeader'
        responses:
          '200':
            $ref: '#/components/responses/Company-Object'
          '404':
            $ref: '#/components/responses/Not-Found-Error-Object'
        tags:
          - Companies
    /v1/companies/{company_id}/custom_fields:
      get:
        x-gusto-integration-type:
          - embedded
          - app-integrations
        summary: Get the custom fields of a company
        description: >-
          Returns a list of the custom fields of the company. Useful when you need
          to know the schema of custom fields for an entire company


          scope: `companies:read`
        operationId: get-v1-companies-company_id-custom_fields
        tags:
          - Companies
        parameters:
          - $ref: '#/components/parameters/company_id'
          - $ref: '#/components/parameters/pageParam'
          - $ref: '#/components/parameters/perParam'
          - $ref: '#/components/parameters/VersionHeader'
        responses:
          '200':
            $ref: '#/components/responses/Company-Custom-Field-List'
          '404':
            $ref: '#/components/responses/Not-Found-Error-Object'
    /v1/companies/{company_id}/locations:
      post:
        x-gusto-integration-type:
          - embedded
          - app-integrations
        summary: Create a company location
        responses:
          '201':
            $ref: '#/components/responses/Location-Object'
          '404':
            $ref: '#/components/responses/Not-Found-Error-Object'
          '422':
            $ref: '#/components/responses/Unprocessable-Entity-Error-Object'
        operationId: post-v1-companies-company_id-locations
        description: >-
          Company locations represent all addresses associated with a company.
          These can be filing addresses, mailing addresses, and/or work locations;
          one address may serve multiple, or all, purposes.


          Since all company locations are subsets of locations, retrieving or
          updating an individual record should be done via the locations
          endpoints.


          scope: `companies.write`
        parameters:
          - $ref: '#/components/parameters/company_id'
          - $ref: '#/components/parameters/VersionHeader'
        requestBody:
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  phone_number:
                    type: string
                    pattern: '[0-9]{10}'
                  street_1:
                    type: string
                  street_2:
                    type: string
                    nullable: true
                  city:
                    type: string
                  state:
                    type: string
                  zip:
                    type: string
                  country:
                    type: string
                    default: USA
                  mailing_address:
                    type: boolean
                    description: Specify if this location is the company's mailing address.
                  filing_address:
                    type: boolean
                    description: Specify if this location is the company's filing address.
                required:
                  - phone_number
                  - street_1
                  - city
                  - state
                  - zip
              examples:
                Example:
                  value:
                    phone_number: '8009360383'
                    street_1: 425 2nd Street
                    street_2: Suite 602
                    city: San Francisco
                    state: CA
                    zip: '94107'
                    country: USA
            application/xml:
              schema:
                description: ''
                type: object
                properties:
                  phone_number:
                    type: string
                    minLength: 1
                  street_1:
                    type: string
                    minLength: 1
                  street_2:
                    type: string
                    nullable: true
                    minLength: 1
                  city:
                    type: string
                    minLength: 1
                  state:
                    type: string
                    minLength: 1
                  zip:
                    type: string
                    minLength: 1
                  country:
                    type: string
                    minLength: 1
                required:
                  - phone_number
                  - street_1
                  - street_2
                  - city
                  - state
                  - zip
                  - country
              examples:
                Example:
                  value:
                    phone_number: '8009360383'
                    street_1: 425 2nd Street
                    street_2: Suite 602
                    city: San Francisco
                    state: CA
                    zip: '94107'
                    country: USA
          description: Create a company location.
        tags:
          - Locations
      get:
        x-gusto-integration-type:
          - embedded
          - app-integrations
        summary: Get company locations
        parameters:
          - $ref: '#/components/parameters/company_id'
          - $ref: '#/components/parameters/pageParam'
          - $ref: '#/components/parameters/perParam'
          - $ref: '#/components/parameters/VersionHeader'
        responses:
          '200':
            $ref: '#/components/responses/Location-List'
          '404':
            $ref: '#/components/responses/Not-Found-Error-Object'
        operationId: get-v1-companies-company_id-locations
        description: >-
          Company locations represent all addresses associated with a company.
          These can be filing addresses, mailing addresses, and/or work locations;
          one address may serve multiple, or all, purposes.


          Since all company locations are subsets of locations, retrieving or
          updating an individual record should be done via the locations
          endpoints.


          scope: `companies:read`
        tags:
          - Locations
    /v1/locations/{location_id}:
      get:
        x-gusto-integration-type:
          - embedded
          - app-integrations
        summary: Get a location
        responses:
          '200':
            $ref: '#/components/responses/Location-Object'
          '404':
            $ref: '#/components/responses/Not-Found-Error-Object'
        operationId: get-v1-locations-location_id
        description: |-
          Get a location.

          scope: `companies:read`
        parameters:
          - $ref: '#/components/parameters/location_id'
          - $ref: '#/components/parameters/VersionHeader'
        tags:
          - Locations
      put:
        x-gusto-integration-type:
          - embedded
          - app-integrations
        summary: Update a location
        responses:
          '200':
            $ref: '#/components/responses/Location-Object'
          '404':
            $ref: '#/components/responses/Not-Found-Error-Object'
          '422':
            $ref: '#/components/responses/Unprocessable-Entity-Error-Object'
        operationId: put-v1-locations-location_id
        description: |-
          Update a location.

          scope: `companies.write`
        parameters:
          - $ref: '#/components/parameters/location_id'
          - $ref: '#/components/parameters/VersionHeader'
        requestBody:
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Versionable-Required'
                  - type: object
                    description: ''
                    properties:
                      phone_number:
                        type: string
                        pattern: '[0-9]{10}'
                      street_1:
                        type: string
                      street_2:
                        type: string
                        nullable: true
                      city:
                        type: string
                      state:
                        type: string
                      zip:
                        type: string
                      country:
                        type: string
                      mailing_address:
                        type: boolean
                        description: >-
                          For a company location, specify if this location is the
                          company's mailing address. A company has a single
                          mailing address, so this designation will override any
                          previous selection.
                      filing_address:
                        type: boolean
                        description: >-
                          For a company location, specify if this location is the
                          company's filing address. A company has a single filing
                          address, so this designation will override any previous
                          selection.
              examples:
                Example:
                  value:
                    version: 1928d0c378e519e9c03fb959bc959a6b
                    phone_number: '8009360383'
                    street_1: 425 2nd Street
                    street_2: Suite 602
                    city: San Francisco
                    state: CA
                    zip: '94107'
                    country: USA
          description: Update a location
        tags:
          - Locations
    /v1/locations/{location_uuid}/minimum_wages:
      get:
        x-gusto-integration-type:
          - embedded
          - app-integrations
        summary: Get minimum wages for a location
        responses:
          '200':
            $ref: '#/components/responses/Minimum-Wage-List'
          '404':
            $ref: '#/components/responses/Not-Found-Error-Object'
        operationId: get-v1-locations-location_uuid-minimum_wages
        description: |-
          Get minimum wages for a location

          scope: `companies:read`
        parameters:
          - $ref: '#/components/parameters/location_uuid'
          - $ref: '#/components/parameters/effective_date'
          - $ref: '#/components/parameters/VersionHeader'
        tags:
          - Locations
    /v1/companies/{company_id}/pay_schedules:
      get:
        x-gusto-integration-type:
          - embedded
          - app-integrations
        summary: Get the pay schedules for a company
        parameters:
          - $ref: '#/components/parameters/company_id'
          - $ref: '#/components/parameters/pageParam'
          - $ref: '#/components/parameters/perParam'
          - $ref: '#/components/parameters/VersionHeader'
        responses:
          '200':
            $ref: '#/components/responses/Pay-Schedule-List'
          '404':
            $ref: '#/components/responses/Not-Found-Error-Object'
        operationId: get-v1-companies-company_id-pay_schedules
        description: >-
          The pay schedule object in Gusto captures the details of when employees
          work and when they should be paid. A company can have multiple pay
          schedules.


          scope: `pay_schedules:read`
        tags:
          - Pay Schedules
    /v1/companies/{company_id}/pay_schedules/{pay_schedule_id}:
      get:
        x-gusto-integration-type:
          - embedded
          - app-integrations
        summary: Get a pay schedule
        responses:
          '200':
            $ref: '#/components/responses/Pay-Schedule-Object'
          '404':
            $ref: '#/components/responses/Not-Found-Error-Object'
        operationId: get-v1-companies-company_id-pay_schedules-pay_schedule_id
        description: >-
          The pay schedule object in Gusto captures the details of when employees
          work and when they should be paid. A company can have multiple pay
          schedules.


          scope: `pay_schedules:read`
        parameters:
          - $ref: '#/components/parameters/company_id'
          - $ref: '#/components/parameters/pay_schedule_id'
          - $ref: '#/components/parameters/VersionHeader'
        tags:
          - Pay Schedules
    /v1/companies/{company_id}/pay_periods:
      get:
        x-gusto-integration-type:
          - embedded
          - app-integrations
        summary: Get pay periods for a company
        tags:
          - Pay Schedules
        responses:
          '200':
            $ref: '#/components/responses/Pay-Period-List'
          '404':
            $ref: '#/components/responses/Not-Found-Error-Object'
        operationId: get-v1-companies-company_id-pay_periods
        description: >-
          Pay periods are the foundation of payroll. Compensation, time &
          attendance, taxes, and expense reports all rely on when they happened.
          To begin submitting information for a given payroll, we need to agree on
          the time period.


          By default, this endpoint returns pay periods starting from 6 months ago
          to the date today.  Use the `start_date` and `end_date` parameters to
          change the scope of the response.  End dates can be up to 3 months in
          the future and there is no limit on start dates.


          Starting in version '2023-04-01', the eligible_employees attribute was
          removed from the response.  The eligible employees for a payroll are
          determined by the employee_compensations returned from the
          payrolls#prepare endpoint.


          scope: `payrolls:read`
        parameters:
          - $ref: '#/components/parameters/company_id'
          - $ref: '#/components/parameters/start_date'
          - $ref: '#/components/parameters/end_date'
          - $ref: '#/components/parameters/payroll_types'
          - $ref: '#/components/parameters/VersionHeader'
    /v1/companies/{company_id}/pay_periods/unprocessed_termination_pay_periods:
      get:
        x-gusto-integration-type:
          - embedded
          - app-integrations
        summary: Get termination pay periods for a company
        tags:
          - Pay Schedules
        responses:
          '200':
            $ref: '#/components/responses/Unprocessed-Termination-Pay-Period-List'
          '404':
            $ref: '#/components/responses/Not-Found-Error-Object'
        operationId: get-v1-companies-company_id-unprocessed_termination_pay_periods
        description: >-
          When a payroll admin terminates an employee and selects "Dismissal
          Payroll" as the employee's final payroll, their last pay period will
          appear on the list.


          This endpoint returns the unprocessed pay periods for past and future
          terminated employees in a given company.


          scope: `payrolls:read`
        parameters:
          - $ref: '#/components/parameters/company_id'
          - $ref: '#/components/parameters/VersionHeader'
    /v1/companies/{company_id}/pay_schedules/assignments:
      get:
        x-gusto-integration-type:
          - embedded
          - app-integrations
        summary: Get pay schedule assignments for a company
        responses:
          '200':
            $ref: '#/components/responses/Pay-Schedule-Assignment-Object'
          '404':
            $ref: '#/components/responses/Not-Found-Error-Object'
        operationId: get-v1-companies-company_id-pay_schedules-assignments
        description: >-
          This endpoint returns the current pay schedule assignment for a company,
          with pay schedule and employee/department mappings depending on the pay
          schedule type.


          scope: `pay_schedules:read`
        parameters:
          - $ref: '#/components/parameters/company_id'
          - $ref: '#/components/parameters/VersionHeader'
        tags:
          - Pay Schedules
    /v1/companies/{company_id}/employees:
      post:
        x-gusto-integration-type:
          - embedded
          - app-integrations
        summary: Create an employee
        operationId: post-v1-employees
        requestBody:
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  first_name:
                    type: string
                  middle_initial:
                    type: string
                  last_name:
                    type: string
                  date_of_birth:
                    type: string
                  email:
                    type: string
                  ssn:
                    type: string
                    pattern: '[0-9]{9}'
                  self_onboarding:
                    type: boolean
                    description: >-
                      If true, employee is expected to self-onboard. If false,
                      payroll admin is expected to enter in the employee's
                      onboarding information
                required:
                  - first_name
                  - last_name
              examples:
                Example:
                  value:
                    first_name: Soren
                    middle_initial: A
                    last_name: Kierkegaard
                    date_of_birth: '1995-05-05'
                    email: knight0faith@example.com
                    ssn: '123456294'
          description: Create an employee.
        parameters:
          - $ref: '#/components/parameters/company_id'
          - $ref: '#/components/parameters/VersionHeader'
        description: |-
          Create an employee.

          scope: `employees:manage`
        responses:
          '201':
            $ref: '#/components/responses/Employee-Object'
          '404':
            $ref: '#/components/responses/Not-Found-Error-Object'
          '422':
            $ref: '#/components/responses/Unprocessable-Entity-Error-Object'
        tags:
          - Employees
      get:
        x-gusto-integration-type:
          - embedded
          - app-integrations
        summary: Get employees of a company
        operationId: get-v1-companies-company_id-employees
        parameters:
          - $ref: '#/components/parameters/company_id'
          - schema:
              type: boolean
            in: query
            name: terminated
            description: Filters employees by the provided boolean
          - in: query
            name: include
            schema:
              type: string
              enum:
                - all_compensations
                - custom_fields
            description: >-
              Include the requested attribute(s) in each employee response,
              multiple options are comma separated. Available options:

              - all_compensations: Include all effective dated compensations for
              each job instead of only the current compensation

              - custom_fields: Include employees' custom fields
          - $ref: '#/components/parameters/pageParam'
          - $ref: '#/components/parameters/perParam'
          - $ref: '#/components/parameters/VersionHeader'
        description: >-
          Get all of the employees, onboarding, active and terminated, for a given
          company.


          scope: `employees:read`
        responses:
          '200':
            $ref: '#/components/responses/Employee-List'
          '404':
            $ref: '#/components/responses/Not-Found-Error-Object'
        tags:
          - Employees
        requestBody:
          content:
            application/json:
              schema:
                type: object
                properties: {}
    /v1/companies/{company_uuid}/departments:
      post:
        x-gusto-integration-type:
          - embedded
          - app-integrations
        operationId: post-departments
        summary: Create a department
        tags:
          - Departments
        description: |-
          Create a department

          scope: `departments:write`
        requestBody:
          content:
            application/json:
              schema:
                type: object
                properties:
                  title:
                    type: string
              examples:
                Example:
                  value:
                    title: Stage Hand
        parameters:
          - $ref: '#/components/parameters/company_uuid'
          - $ref: '#/components/parameters/VersionHeader'
        responses:
          '201':
            $ref: '#/components/responses/Department-Object'
          '404':
            $ref: '#/components/responses/Not-Found-Error-Object'
          '422':
            $ref: '#/components/responses/Unprocessable-Entity-Error-Object'
      get:
        x-gusto-integration-type:
          - embedded
          - app-integrations
        summary: Get all departments of a company
        operationId: get-companies-departments
        parameters:
          - $ref: '#/components/parameters/company_uuid'
          - $ref: '#/components/parameters/VersionHeader'
        description: >-
          Get all of the departments for a given company with the employees and
          contractors assigned to that department.


          scope: `departments:read`
        responses:
          '200':
            $ref: '#/components/responses/Department-List'
          '404':
            $ref: '#/components/responses/Not-Found-Error-Object'
        tags:
          - Departments
    /v1/departments/{department_uuid}:
      get:
        x-gusto-integration-type:
          - embedded
          - app-integrations
        operationId: get-department
        summary: Get a department
        tags:
          - Departments
        description: |
          Get a department given the UUID

          scope: `departments:read`
        parameters:
          - $ref: '#/components/parameters/department_uuid'
          - $ref: '#/components/parameters/VersionHeader'
        responses:
          '200':
            $ref: '#/components/responses/Department-Object'
          '404':
            $ref: '#/components/responses/Not-Found-Error-Object'
      put:
        x-gusto-integration-type:
          - embedded
          - app-integrations
        operationId: put-departments
        summary: Update a department
        tags:
          - Departments
        description: |-
          Update a department

          scope: `departments:write`
        parameters:
          - $ref: '#/components/parameters/department_uuid'
          - $ref: '#/components/parameters/VersionHeader'
        requestBody:
          content:
            application/json:
              schema:
                type: object
                properties:
                  version:
                    type: string
                    description: >-
                      The current version of the object. See the [versioning
                      guide](https://docs.gusto.com/embedded-payroll/docs/versioning#object-layer)
                      for information on how to use this field.
                  title:
                    type: string
                required:
                  - version
              examples:
                Example:
                  value:
                    version: db0edd04aaac4506f7edab03ac855d56
                    title: Backup Dancer
        responses:
          '200':
            $ref: '#/components/responses/Department-Object'
          '404':
            $ref: '#/components/responses/Not-Found-Error-Object'
          '422':
            $ref: '#/components/responses/Unprocessable-Entity-Error-Object'
      delete:
        x-gusto-integration-type:
          - embedded
          - app-integrations
        operationId: delete-department
        summary: Delete a department
        tags:
          - Departments
        description: >
          Delete a department. You cannot delete a department until all employees
          and contractors have been removed.


          scope: `departments:write`
        parameters:
          - $ref: '#/components/parameters/department_uuid'
          - $ref: '#/components/parameters/VersionHeader'
        responses:
          '204':
            description: No Content
          '404':
            $ref: '#/components/responses/Not-Found-Error-Object'
          '422':
            $ref: '#/components/responses/Unprocessable-Entity-Error-Object'
    /v1/departments/{department_uuid}/add:
      put:
        x-gusto-integration-type:
          - embedded
          - app-integrations
        operationId: put-add-people-to-department
        summary: Add people to a department
        tags:
          - Departments
        description: |
          Add employees and contractors to a department

          scope: `departments:write`
        parameters:
          - $ref: '#/components/parameters/department_uuid'
          - $ref: '#/components/parameters/VersionHeader'
        requestBody:
          content:
            application/json:
              schema:
                type: object
                properties:
                  version:
                    type: string
                    description: >-
                      The current version of the object. See the [versioning
                      guide](https://docs.gusto.com/embedded-payroll/docs/versioning#object-layer)
                      for information on how to use this field.
                  employees:
                    type: array
                    description: Array of employees to add to the department
                    items:
                      properties:
                        uuid:
                          type: string
                  contractors:
                    type: array
                    description: Array of contractors to add to the department
                    items:
                      properties:
                        uuid:
                          type: string
        responses:
          '200':
            $ref: '#/components/responses/Department-Object'
          '404':
            $ref: '#/components/responses/Not-Found-Error-Object'
    /v1/departments/{department_uuid}/remove:
      put:
        x-gusto-integration-type:
          - embedded
          - app-integrations
        operationId: put-remove-people-from-department
        summary: Remove people from a department
        tags:
          - Departments
        description: |
          Remove employees and contractors from a department

          scope: `departments:write`
        parameters:
          - $ref: '#/components/parameters/department_uuid'
          - $ref: '#/components/parameters/VersionHeader'
        requestBody:
          content:
            application/json:
              schema:
                type: object
                properties:
                  version:
                    type: string
                    description: >-
                      The current version of the object. See the [versioning
                      guide](https://docs.gusto.com/embedded-payroll/docs/versioning#object-layer)
                      for information on how to use this field.
                  employees:
                    type: array
                    description: Array of employees to remove from a department
                    items:
                      properties:
                        uuid:
                          type: string
                  contractors:
                    type: array
                    description: Array of contractors to remove from a department
                    items:
                      properties:
                        uuid:
                          type: string
        responses:
          '200':
            $ref: '#/components/responses/Department-Object'
          '404':
            $ref: '#/components/responses/Not-Found-Error-Object'
    /v1/employees/{employee_id}:
      get:
        x-gusto-integration-type:
          - embedded
          - app-integrations
        summary: Get an employee
        operationId: get-v1-employees
        description: |
          Get an employee.

          scope: `employees:read`
        parameters:
          - $ref: '#/components/parameters/employee_id'
          - in: query
            name: include
            schema:
              type: string
              enum:
                - all_compensations
                - custom_fields
            description: >-
              Include the requested attribute(s) in each employee response,
              multiple options are comma separated. Available options:

              - all_compensations: Include all effective dated compensations for
              each job instead of only the current compensation

              - custom_fields: Include employees' custom fields
          - $ref: '#/components/parameters/VersionHeader'
        responses:
          '200':
            $ref: '#/components/responses/Employee-Object'
          '404':
            $ref: '#/components/responses/Not-Found-Error-Object'
        tags:
          - Employees
      put:
        x-gusto-integration-type:
          - embedded
          - app-integrations
        summary: Update an employee
        operationId: put-v1-employees
        description: |-
          Update an employee.

          scope: `employees:write`
        requestBody:
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  version:
                    type: string
                    description: >-
                      The current version of the object. See the [versioning
                      guide](https://docs.gusto.com/embedded-payroll/docs/versioning#object-layer)
                      for information on how to use this field.
                  first_name:
                    type: string
                  middle_initial:
                    type: string
                  last_name:
                    type: string
                  date_of_birth:
                    type: string
                  email:
                    type: string
                  ssn:
                    type: string
                    pattern: '[0-9]{9}'
                  two_percent_shareholder:
                    type: boolean
                    description: >-
                      Whether the employee is a two percent shareholder of the
                      company. This field only applies to companies with an S-Corp
                      entity type.
                required:
                  - version
              examples:
                Example:
                  value:
                    version: db0edd04aaac4506f7edab03ac855d56
                    first_name: Soren
                    middle_initial: A
                    last_name: Kierkegaard
                    date_of_birth: '1995-05-05'
                    email: knight0faith@example.com
                    ssn: '123456294'
                    two_percent_shareholder: false
          description: Update an employee.
        parameters:
          - $ref: '#/components/parameters/employee_id'
          - $ref: '#/components/parameters/VersionHeader'
        responses:
          '200':
            $ref: '#/components/responses/Employee-Object'
          '404':
            $ref: '#/components/responses/Not-Found-Error-Object'
          '422':
            $ref: '#/components/responses/Unprocessable-Entity-Error-Object'
        tags:
          - Employees
      delete:
        x-gusto-integration-type:
          - embedded
          - app-integrations
        summary: Delete an onboarding employee
        operationId: delete-v1-employee
        description: >-
          Use this endpoint to delete an employee who is in onboarding. Deleting

          an onboarded employee is not allowed. Please check out the Terminations
          api

          if you need to terminate an onboarded employee.


          scope: `employees:manage`
        parameters:
          - $ref: '#/components/parameters/employee_id'
          - $ref: '#/components/parameters/VersionHeader'
        responses:
          '204':
            description: No Content
          '404':
            $ref: '#/components/responses/Not-Found-Error-Object'
        tags:
          - Employees
    /v1/employees/{employee_id}/terminations:
      post:
        x-gusto-integration-type:
          - embedded
          - app-integrations
        summary: Create an employee termination
        tags:
          - Employee Employments
        responses:
          '201':
            $ref: '#/components/responses/Termination-Object'
          '404':
            $ref: '#/components/responses/Not-Found-Error-Object'
          '422':
            $ref: '#/components/responses/Unprocessable-Entity-Error-Object'
        operationId: post-v1-employees-employee_id-terminations
        description: >-
          Terminations are created whenever an employee is scheduled to leave the
          company. The only things required are an effective date (their last day
          of work) and whether they should receive their wages in a one-off
          termination payroll or with the rest of the company.


          Note that some states require employees to receive their final wages
          within 24 hours (unless they consent otherwise,) in which case running a
          one-off payroll may be the only option.


          scope: `employments:write`
        parameters:
          - $ref: '#/components/parameters/employee_id'
          - $ref: '#/components/parameters/VersionHeader'
        requestBody:
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  effective_date:
                    type: string
                    description: The employee's last day of work.
                  run_termination_payroll:
                    type: boolean
                    description: >-
                      If true, the employee should receive their final wages via
                      an off-cycle payroll. If false, they should receive their
                      final wages on their current pay schedule.
                required:
                  - effective_date
              examples:
                Example:
                  value:
                    effective_date: '2020-06-30'
                    run_termination_payroll: true
      get:
        x-gusto-integration-type:
          - embedded
          - app-integrations
        summary: Get terminations for an employee
        tags:
          - Employee Employments
        responses:
          '200':
            $ref: '#/components/responses/Termination-List'
          '404':
            $ref: '#/components/responses/Not-Found-Error-Object'
        operationId: get-v1-employees-employee_id-terminations
        description: >-
          Terminations are created whenever an employee is scheduled to leave the
          company. The only things required are an effective date (their last day
          of work) and whether they should receive their wages in a one-off
          termination payroll or with the rest of the company.


          Note that some states require employees to receive their final wages
          within 24 hours (unless they consent otherwise,) in which case running a
          one-off payroll may be the only option.


          scope: `employments:read`
        parameters:
          - $ref: '#/components/parameters/employee_id'
          - $ref: '#/components/parameters/VersionHeader'
      delete:
        x-gusto-integration-type:
          - embedded
          - app-integrations
        summary: Delete an employee termination
        operationId: delete-v1-employees-employee_id-terminations
        responses:
          '204':
            description: No Content
          '404':
            $ref: '#/components/responses/Employment-Not-Found-Error-Object'
        description: |-
          Delete an employee termination.

          scope: `employments:write`
        parameters:
          - $ref: '#/components/parameters/employee_id'
          - $ref: '#/components/parameters/VersionHeader'
        tags:
          - Employee Employments
    /v1/terminations/{employee_id}:
      put:
        x-gusto-integration-type:
          - embedded
          - app-integrations
        summary: Update an employee termination
        tags:
          - Employee Employments
        responses:
          '200':
            $ref: '#/components/responses/Termination-Object'
          '404':
            $ref: '#/components/responses/Employment-Not-Found-Error-Object'
          '422':
            $ref: '#/components/responses/Unprocessable-Entity-Error-Object'
        operationId: put-v1-terminations-employee_id
        description: >-
          Terminations are created whenever an employee is scheduled to leave the
          company. The only things required are an effective date (their last day
          of work) and whether they should receive their wages in a one-off
          termination payroll or with the rest of the company.


          Note that some states require employees to receive their final wages
          within 24 hours (unless they consent otherwise,) in which case running a
          one-off payroll may be the only option.


          scope: `employments:write`
        parameters:
          - $ref: '#/components/parameters/employee_id'
          - $ref: '#/components/parameters/VersionHeader'
        requestBody:
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Versionable-Required'
                  - type: object
                    description: ''
                    properties:
                      effective_date:
                        type: string
                        description: The employee's last day of work.
                      run_termination_payroll:
                        type: boolean
                        description: >-
                          If true, the employee should receive their final wages
                          via an off-cycle payroll. If false, they should receive
                          their final wages on their current pay schedule.
                    required:
                      - effective_date
              examples:
                Example:
                  value:
                    version: 1928d0c378e519e9c03fb959bc959a6b
                    effective_date: '2020-06-30'
                    run_termination_payroll: true
    /v1/employees/{employee_id}/rehire:
      post:
        x-gusto-integration-type:
          - embedded
          - app-integrations
        summary: Create an employee rehire
        tags:
          - Employee Employments
        responses:
          '201':
            $ref: '#/components/responses/Rehire-Object'
          '404':
            $ref: '#/components/responses/Not-Found-Error-Object'
          '422':
            $ref: '#/components/responses/Unprocessable-Entity-Error-Object'
        operationId: post-v1-employees-employee_id-rehire
        description: >-
          Rehire is created whenever an employee is scheduled to return to the
          company.


          scope: `employments:write`
        parameters:
          - $ref: '#/components/parameters/employee_id'
          - $ref: '#/components/parameters/VersionHeader'
        requestBody:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rehire-Body'
              examples:
                Example:
                  value:
                    effective_date: '2023-06-30'
                    work_location_uuid: b6ae9d93-d4b8-4119-8c96-dba595dd8c30
                    file_new_hire_report: true
      put:
        x-gusto-integration-type:
          - embedded
          - app-integrations
        summary: Update an employee rehire
        tags:
          - Employee Employments
        responses:
          '200':
            $ref: '#/components/responses/Rehire-Object'
          '404':
            $ref: '#/components/responses/Employment-Not-Found-Error-Object'
          '422':
            $ref: '#/components/responses/Unprocessable-Entity-Error-Object'
        operationId: put-v1-employees-employee_id-rehire
        description: |-
          Update an employee's rehire.

          scope: `employments:write`
        parameters:
          - $ref: '#/components/parameters/employee_id'
          - $ref: '#/components/parameters/VersionHeader'
        requestBody:
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Versionable-Required'
                  - $ref: '#/components/schemas/Rehire-Body'
              examples:
                Example:
                  value:
                    version: 1928d0c378e519e9c03fb959bc959a6b
                    effective_date: '2023-06-30'
                    work_location_uuid: b6ae9d93-d4b8-4119-8c96-dba595dd8c30
                    file_new_hire_report: true
      get:
        x-gusto-integration-type:
          - embedded
          - app-integrations
        summary: Get an employee rehire
        tags:
          - Employee Employments
        responses:
          '200':
            $ref: '#/components/responses/Rehire-Object'
          '404':
            $ref: '#/components/responses/Employment-Not-Found-Error-Object'
        operationId: get-v1-employees-employee_id-rehire
        description: >-
          Retrieve an employee's rehire, which contains information on when the
          employee returns to work.


          scope: `employments:read`
        parameters:
          - $ref: '#/components/parameters/employee_id'
          - $ref: '#/components/parameters/VersionHeader'
      delete:
        x-gusto-integration-type:
          - embedded
          - app-integrations
        summary: Delete an employee rehire
        description: >-
          Delete an employee rehire. An employee rehire cannot be deleted if it's
          active (past effective date).


          scope: `employments:write`
        operationId: delete-v1-employees-employee_id-rehire
        responses:
          '204':
            description: No Content
          '404':
            $ref: '#/components/responses/Employment-Not-Found-Error-Object'
        parameters:
          - $ref: '#/components/parameters/employee_id'
          - $ref: '#/components/parameters/VersionHeader'
        tags:
          - Employee Employments
    /v1/employees/{employee_id}/employment_history:
      get:
        x-gusto-integration-type:
          - embedded
          - app-integrations
        summary: Get employment history for an employee
        tags:
          - Employee Employments
        responses:
          '200':
            $ref: '#/components/responses/Employment-History-List'
          '404':
            $ref: '#/components/responses/Not-Found-Error-Object'
        operationId: get-v1-employees-employee_id-employment_history
        description: >-
          Retrieve the employment history for a given employee, which includes
          termination and rehire.


          scope: `employments:read`
        parameters:
          - $ref: '#/components/parameters/employee_id'
          - $ref: '#/components/parameters/VersionHeader'
    /v1/employees/{employee_id}/home_addresses:
      get:
        x-gusto-integration-type:
          - embedded
          - app-integrations
        summary: Get an employee's home addresses
        tags:
          - Employee Addresses
        responses:
          '200':
            $ref: '#/components/responses/Employee-Address-List'
          '404':
            $ref: '#/components/responses/Not-Found-Error-Object'
        operationId: get-v1-employees-employee_id-home_addresses
        description: >-
          The home address of an employee is used to determine certain tax
          information about them. Addresses are geocoded on create and update to
          ensure validity.


          Supports home address effective dating and courtesy withholding.


          scope: `employees:read`
        parameters:
          - $ref: '#/components/parameters/employee_id'
          - $ref: '#/components/parameters/VersionHeader'
      post:
        x-gusto-integration-type:
          - embedded
          - app-integrations
        summary: Create an employee's home address
        tags:
          - Employee Addresses
        responses:
          '200':
            $ref: '#/components/responses/Employee-Address-Object'
          '404':
            $ref: '#/components/responses/Not-Found-Error-Object'
          '422':
            $ref: '#/components/responses/Unprocessable-Entity-Error-Object'
        operationId: post-v1-employees-employee_id-home_addresses
        description: >-
          The home address of an employee is used to determine certain tax
          information about them. Addresses are geocoded on create and update to
          ensure validity.


          Supports home address effective dating and courtesy withholding.


          scope: `employees:write`
        parameters:
          - $ref: '#/components/parameters/employee_id'
          - $ref: '#/components/parameters/VersionHeader'
        requestBody:
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  street_1:
                    type: string
                  street_2:
                    type: string
                    nullable: true
                  city:
                    type: string
                  state:
                    type: string
                  zip:
                    type: string
                  effective_date:
                    type: string
                    format: date
                  courtesy_withholding:
                    type: boolean
                required:
                  - version
              examples:
                Example:
                  value:
                    street_1: 300 3rd Street
                    street_2: null
                    city: San Francisco
                    state: CA
                    zip: '94107'
                    effective_date: '2021-01-01'
                    courtesy_withholding: true
    /v1/home_addresses/{home_address_uuid}:
      get:
        x-gusto-integration-type:
          - embedded
          - app-integrations
        summary: Get an employee's home address
        tags:
          - Employee Addresses
        responses:
          '200':
            $ref: '#/components/responses/Employee-Address-Object'
          '404':
            $ref: '#/components/responses/Not-Found-Error-Object'
        operationId: get-v1-home_addresses-home_address_uuid
        description: >-
          The home address of an employee is used to determine certain tax
          information about them. Addresses are geocoded on create and update to
          ensure validity.


          Supports home address effective dating and courtesy withholding.


          scope: `employees:read`
        parameters:
          - $ref: '#/components/parameters/home_address_uuid'
          - $ref: '#/components/parameters/VersionHeader'
      put:
        x-gusto-integration-type:
          - embedded
          - app-integrations
        summary: Update an employee's home address
        tags:
          - Employee Addresses
        responses:
          '200':
            $ref: '#/components/responses/Employee-Address-Object'
          '404':
            $ref: '#/components/responses/Not-Found-Error-Object'
          '422':
            $ref: '#/components/responses/Unprocessable-Entity-Error-Object'
        operationId: put-v1-home_addresses-home_address_uuid
        description: >-
          The home address of an employee is used to determine certain tax
          information about them. Addresses are geocoded on create and update to
          ensure validity.


          Supports home address effective dating and courtesy withholding.


          scope: `employees:write`
        parameters:
          - $ref: '#/components/parameters/home_address_uuid'
          - $ref: '#/components/parameters/VersionHeader'
        requestBody:
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  version:
                    type: string
                    description: >-
                      The current version of the object. See the [versioning
                      guide](https://docs.gusto.com/embedded-payroll/docs/versioning#object-layer)
                      for information on how to use this field.
                  street_1:
                    type: string
                  street_2:
                    type: string
                    nullable: true
                  city:
                    type: string
                  state:
                    type: string
                  zip:
                    type: string
                  effective_date:
                    type: string
                    format: date
                  courtesy_withholding:
                    type: boolean
                required:
                  - version
              examples:
                Example:
                  value:
                    version: fe75bd065ff48b91c35fe8ff842f986c
                    street_1: 300 3rd Street
                    street_2: null
                    city: San Francisco
                    state: CA
                    zip: '94107'
                    effective_date: '2021-01-01'
                    courtesy_withholding: true
      delete:
        x-gusto-integration-type:
          - embedded
          - app-integrations
        summary: Delete an employee's home address
        tags:
          - Employee Addresses
        responses:
          '204':
            description: No Content
          '404':
            $ref: '#/components/responses/Not-Found-Error-Object'
          '422':
            $ref: '#/components/responses/Unprocessable-Entity-Error-Object'
        operationId: delete-v1-home_addresses-home_address_uuid
        description: >-
          Used for deleting an employee's home address.  Cannot delete the
          employee's active home address.


          scope: `employees:write`
        parameters:
          - $ref: '#/components/parameters/home_address_uuid'
          - $ref: '#/components/parameters/VersionHeader'
    /v1/employees/{employee_id}/work_addresses:
      get:
        x-gusto-integration-type:
          - embedded
          - app-integrations
        summary: Get an employee's work addresses
        tags:
          - Employee Addresses
        responses:
          '200':
            $ref: '#/components/responses/Employee-Work-Address-List'
          '404':
            $ref: '#/components/responses/Not-Found-Error-Object'
        operationId: get-v1-employees-employee_id-work_addresses
        description: >-
          Returns a list of an employee's work addresses. Each address includes
          its effective date and a boolean

          signifying if it is the currently active work address.


          scope: `employees:read`
        parameters:
          - $ref: '#/components/parameters/employee_id'
          - $ref: '#/components/parameters/VersionHeader'
      post:
        x-gusto-integration-type:
          - embedded
          - app-integrations
        summary: Create an employee work address
        tags:
          - Employee Addresses
        operationId: post-v1-employees-employee_id-work_addresses
        parameters:
          - $ref: '#/components/parameters/employee_id'
          - $ref: '#/components/parameters/VersionHeader'
        description: >-
          The work address of an employee describes when an employee began working
          at an associated company location.


          scope: `employees:manage`
        requestBody:
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  location_uuid:
                    type: string
                    description: Reference to a company location
                  effective_date:
                    type: string
                    format: date
                    description: Date the employee began working at the company location
              examples:
                Example:
                  value:
                    location_uuid: 6a119be7-b4b0-4e27-aaa0-89d5f2524635
                    effective_date: '2023-05-15'
        responses:
          '201':
            description: Example response
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Employee-Work-Address'
                examples:
                  Example:
                    value:
                      uuid: 56260b3d-c375-415c-b77a-75d99f717193
                      employee_uuid: 7087a288-8349-4632-b92e-bc94fb79f29e
                      street_1: 644 Fay Vista
                      street_2: Suite 842
                      city: Richmond
                      state: VA
                      zip: '23218'
                      country: USA
                      active: false
                      effective_date: '2021-01-01'
                      courtesy_withholding: true
          '404':
            $ref: '#/components/responses/Not-Found-Error-Object'
          '422':
            $ref: '#/components/responses/Unprocessable-Entity-Error-Object'
    /v1/work_addresses/{work_address_uuid}:
      get:
        x-gusto-integration-type:
          - embedded
          - app-integrations
        summary: Get an employee work address
        tags:
          - Employee Addresses
        operationId: get-v1-work_addresses-work_address_uuid
        description: |-
          The work address of an employee is used for payroll tax purposes.

          scope: `employees:read`
        parameters:
          - $ref: '#/components/parameters/work_address_uuid'
          - $ref: '#/components/parameters/VersionHeader'
        responses:
          '200':
            description: Example response
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Employee-Work-Address'
                examples:
                  Example:
                    value:
                      uuid: 34925ef7-6234-440d-83b8-788a24d0d69a
                      employee_uuid: 2363b9c0-6625-4425-9261-47627fd68783
                      location_uuid: aba6d0fd-7294-4997-b1a4-bc9268c45932
                      effective_date: '2023-05-15'
                      active: true
                      version: 6a22da647ed391f184a212e6e83a541d
                      street_1: 977 Marks Viaduct
                      street_2: null
                      city: Pink Hill
                      state: NC
                      zip: '28572'
                      country: USA
          '404':
            $ref: '#/components/responses/Not-Found-Error-Object'
      put:
        x-gusto-integration-type:
          - embedded
          - app-integrations
        summary: Update an employee work address
        tags:
          - Employee Addresses
        operationId: put-v1-work_addresses-work_address_uuid
        description: |-
          The work address of an employee is used for payroll tax purposes.

          scope: `employees:manage`
        parameters:
          - $ref: '#/components/parameters/work_address_uuid'
          - $ref: '#/components/parameters/VersionHeader'
        requestBody:
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  location_uuid:
                    type: string
                    description: Reference to a company location
                  effective_date:
                    type: string
                    format: date
                  version:
                    type: string
                    description: >-
                      The current version of the object. See the [versioning
                      guide](https://docs.gusto.com/embedded-payroll/docs/versioning#object-layer)
                      for information on how to use this field.
              examples:
                Example:
                  value:
                    location_uuid: 6a119be7-b4b0-4e27-aaa0-89d5f2524635
                    effective_date: '2023-05-15'
                    version: e6db1baa29d3df1eb307ff6a12c778da
        responses:
          '200':
            description: Example response
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Employee-Work-Address'
                examples:
                  Example:
                    value:
                      uuid: 34925ef7-6234-440d-83b8-788a24d0d69a
                      employee_uuid: 2363b9c0-6625-4425-9261-47627fd68783
                      location_uuid: aba6d0fd-7294-4997-b1a4-bc9268c45932
                      effective_date: '2023-05-15'
                      active: true
                      version: 6a22da647ed391f184a212e6e83a541d
                      street_1: 977 Marks Viaduct
                      street_2: null
                      city: Pink Hill
                      state: NC
                      zip: '28572'
                      country: USA
          '404':
            $ref: '#/components/responses/Not-Found-Error-Object'
          '422':
            $ref: '#/components/responses/Unprocessable-Entity-Error-Object'
      delete:
        x-gusto-integration-type:
          - embedded
          - app-integrations
        summary: Delete an employee's work address
        tags:
          - Employee Addresses
        responses:
          '204':
            description: No Content
          '404':
            $ref: '#/components/responses/Not-Found-Error-Object'
          '422':
            $ref: '#/components/responses/Unprocessable-Entity-Error-Object'
        operationId: delete-v1-work_addresses-work_address_uuid
        description: >-
          Used for deleting an employee's work address.  Cannot delete the
          employee's active work address.


          scope: `employees:manage`
        parameters:
          - $ref: '#/components/parameters/work_address_uuid'
          - $ref: '#/components/parameters/VersionHeader'
    /v1/employees/{employee_id}/custom_fields:
      get:
        x-gusto-integration-type:
          - embedded
          - app-integrations
        summary: Get an employee's custom fields
        tags:
          - Employees
        parameters:
          - $ref: '#/components/parameters/employee_id'
          - $ref: '#/components/parameters/pageParam'
          - $ref: '#/components/parameters/perParam'
          - $ref: '#/components/parameters/VersionHeader'
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    custom_fields:
                      type: array
                      items:
                        $ref: '#/components/schemas/Employee-Custom-Field'
                examples:
                  Example:
                    value:
                      custom_fields:
                        - id: ee515986-f3ca-49da-b576-2691b95262f9
                          company_custom_field_id: ea7e5d57-6abb-47d7-b654-347c142886c0
                          name: employee_level
                          description: Employee Level
                          type: text
                          value: '2'
                          selection_options: null
                        - id: 3796e08d-c2e3-434c-b4de-4ce1893e7b59
                          company_custom_field_id: 299650e4-e970-4acf-9bf0-6f05585d20ba
                          name: t-shirt size
                          description: What is your t-shirt size?
                          type: text
                          value: md
                          selection_options: null
                        - id: 3796e08d-c2e3-434c-b4de-4ce1893e7b59
                          company_custom_field_id: 024ec137-6c92-43a3-b061-14a9720531d6
                          name: favorite fruit
                          description: Which is your favorite fruit?
                          type: radio
                          value: apple
                          selection_options:
                            - apple
                            - banana
                            - orange
          '404':
            $ref: '#/components/responses/Not-Found-Error-Object'
        operationId: get-v1-employees-employee_id-custom_fields
        description: |-
          Returns a list of the employee's custom fields.

          scope: `employees:read`
    /v1/employees/{employee_id}/jobs:
      post:
        x-gusto-integration-type:
          - embedded
          - app-integrations
        summary: Create a job
        responses:
          '201':
            $ref: '#/components/responses/Job-Object'
          '404':
            $ref: '#/components/responses/Not-Found-Error-Object'
          '422':
            $ref: '#/components/responses/Unprocessable-Entity-Error-Object'
        operationId: post-v1-jobs-job_id
        description: |-
          Create a job.

          scope: `jobs:write`
        parameters:
          - $ref: '#/components/parameters/employee_id'
          - $ref: '#/components/parameters/VersionHeader'
        requestBody:
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  title:
                    type: string
                    description: The job title
                  hire_date:
                    type: string
                    description: The date when the employee was hired or rehired for the job.
                  two_percent_shareholder:
                    type: boolean
                    description: Whether the employee owns at least 2% of the company.
                  state_wc_covered:
                    type: boolean
                    description: >-
                      Whether this job is eligible for workers' compensation
                      coverage in the state of Washington (WA).
                  state_wc_class_code:
                    type: string
                    description: >-
                      The risk class code for workers' compensation in Washington
                      state. Please visit [Washington state's Risk Class
                      page](https://www.lni.wa.gov/insurance/rates-risk-classes/risk-classes-for-workers-compensation/risk-class-lookup#/)
                      to learn more.
                required:
                  - title
                  - hire_date
              examples:
                Example:
                  value:
                    title: Regional Manager
                    hire_date: '2020-12-21'
          description: Create a job.
        tags:
          - Jobs and Compensations
      get:
        x-gusto-integration-type:
          - embedded
          - app-integrations
        summary: Get jobs for an employee
        parameters:
          - $ref: '#/components/parameters/employee_id'
          - $ref: '#/components/parameters/pageParam'
          - $ref: '#/components/parameters/perParam'
          - in: query
            name: include
            schema:
              type: string
              enum:
                - all_compensations
            description: >-
              Available options:

              - all_compensations: Include all effective dated compensations for
              each job instead of only the current compensation
          - $ref: '#/components/parameters/VersionHeader'
        responses:
          '200':
            $ref: '#/components/responses/Job-List'
          '404':
            $ref: '#/components/responses/Not-Found-Error-Object'
        operationId: get-v1-employees-employee_id-jobs
        description: |-
          Get all of the jobs that an employee holds.

          scope: `jobs:read`
        tags:
          - Jobs and Compensations
    /v1/employees/{employee_uuid}/time_off_activities:
      get:
        x-gusto-integration-type:
          - embedded
          - app-integrations
        summary: Get employee time off activities
        responses:
          '200':
            $ref: '#/components/responses/Time-Off-Activity-Object'
          '404':
            $ref: '#/components/responses/Not-Found-Error-Object'
        operationId: get-version-employees-time_off_activities
        parameters:
          - $ref: '#/components/parameters/employee_uuid'
          - $ref: '#/components/parameters/time_off_type'
          - $ref: '#/components/parameters/VersionHeader'
        description: |-
          Get employee time off activities.

          scope: `employee_time_off_activities:read`
        tags:
          - Employees
    /v1/jobs/{job_id}:
      get:
        x-gusto-integration-type:
          - embedded
          - app-integrations
        summary: Get a job
        responses:
          '200':
            $ref: '#/components/responses/Job-Object'
          '404':
            $ref: '#/components/responses/Not-Found-Error-Object'
        operationId: get-v1-jobs-job_id
        parameters:
          - $ref: '#/components/parameters/job_id'
          - in: query
            name: include
            schema:
              type: string
              enum:
                - all_compensations
            description: >-
              Available options:

              - all_compensations: Include all effective dated compensations for
              the job instead of only the current compensation
          - $ref: '#/components/parameters/VersionHeader'
        description: |-
          Get a job.

          scope: `jobs:read`
        tags:
          - Jobs and Compensations
      put:
        x-gusto-integration-type:
          - embedded
          - app-integrations
        summary: Update a job
        responses:
          '200':
            $ref: '#/components/responses/Job-Object'
          '404':
            $ref: '#/components/responses/Not-Found-Error-Object'
          '422':
            $ref: '#/components/responses/Unprocessable-Entity-Error-Object'
        operationId: put-v1-jobs-job_id
        description: |-
          Update a job.

          scope: `jobs:write`
        parameters:
          - $ref: '#/components/parameters/job_id'
          - $ref: '#/components/parameters/VersionHeader'
        requestBody:
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  version:
                    type: string
                    description: >-
                      The current version of the object. See the [versioning
                      guide](https://docs.gusto.com/embedded-payroll/docs/versioning#object-layer)
                      for information on how to use this field.
                  title:
                    type: string
                    description: The job title
                  hire_date:
                    type: string
                    description: The date when the employee was hired or rehired for the job.
                  two_percent_shareholder:
                    type: boolean
                    description: Whether the employee owns at least 2% of the company.
                  state_wc_covered:
                    type: boolean
                    description: >-
                      Whether this job is eligible for workers' compensation
                      coverage in the state of Washington (WA).
                  state_wc_class_code:
                    type: string
                    description: >-
                      The risk class code for workers' compensation in Washington
                      state. Please visit [Washington state's Risk Class
                      page](https://www.lni.wa.gov/insurance/rates-risk-classes/risk-classes-for-workers-compensation/risk-class-lookup#/)
                      to learn more.
                required:
                  - version
              examples:
                Example:
                  value:
                    version: gr78930htutrz444kuytr3s5hgxykuveb523fwl8sir
                    title: Regional Manager
                    hire_date: '2020-12-21'
          description: Update a job.
        tags:
          - Jobs and Compensations
      delete:
        x-gusto-integration-type:
          - embedded
          - app-integrations
        summary: Delete an individual job
        tags:
          - Jobs and Compensations
        responses:
          '204':
            description: No Content
          '404':
            $ref: '#/components/responses/Not-Found-Error-Object'
        operationId: delete-v1-jobs-job_id
        description: |-
          Deletes a specific job that an employee holds.

          scope: `jobs:write`
        parameters:
          - $ref: '#/components/parameters/job_id'
          - $ref: '#/components/parameters/VersionHeader'
    /v1/jobs/{job_id}/compensations:
      get:
        x-gusto-integration-type:
          - embedded
          - app-integrations
        summary: Get compensations for a job
        parameters:
          - $ref: '#/components/parameters/job_id'
          - $ref: '#/components/parameters/pageParam'
          - $ref: '#/components/parameters/perParam'
          - in: query
            name: include
            schema:
              type: string
              enum:
                - all_compensations
            description: >-
              Available options:

              - all_compensations: Include all effective dated compensations for
              each job instead of only the current compensation
          - $ref: '#/components/parameters/VersionHeader'
        responses:
          '200':
            $ref: '#/components/responses/Compensation-List'
          '404':
            $ref: '#/components/responses/Not-Found-Error-Object'
        operationId: get-v1-jobs-job_id-compensations
        description: >-
          Compensations contain information on how much is paid out for a job.
          Jobs may have many compensations, but only one that is active. The
          current compensation is the one with the most recent `effective_date`.
          By default the API returns only the current compensation - see the
          `include` query parameter for retrieving all compensations.


          Note: Currently the API does not support creating multiple compensations
          per job - creating a compensation with the same `job_uuid` as another
          will fail with a relevant error.


          Use `flsa_status` to determine if an employee is eligible for overtime.


          scope: `jobs:read`
        tags:
          - Jobs and Compensations
      post:
        x-gusto-integration-type:
          - embedded
          - app-integrations
        summary: Create a compensation
        responses:
          '201':
            $ref: '#/components/responses/Compensation-Object'
          '404':
            $ref: '#/components/responses/Not-Found-Error-Object'
          '422':
            $ref: '#/components/responses/Unprocessable-Entity-Error-Object'
        operationId: post-v1-compensations-compensation_id
        description: >-
          Compensations contain information on how much is paid out for a job.
          Jobs may have many compensations, but only one that is active. The
          current compensation is the one with the most recent `effective_date`.


          scope: `jobs:write`
        parameters:
          - $ref: '#/components/parameters/job_id'
          - $ref: '#/components/parameters/VersionHeader'
        requestBody:
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  rate:
                    type: string
                    description: The dollar amount paid per payment unit.
                  payment_unit:
                    type: string
                    description: >-
                      The unit accompanying the compensation rate. If the employee
                      is an owner, rate should be 'Paycheck'.
                    enum:
                      - Hour
                      - Week
                      - Month
                      - Year
                      - Paycheck
                  effective_date:
                    type: string
                    description: The date when the compensation takes effect.
                  flsa_status:
                    $ref: '#/components/schemas/Flsa-Status-Type'
                  adjust_for_minimum_wage:
                    type: boolean
                    description: >-
                      Determines whether the compensation should be adjusted for
                      minimum wage. Only applies to Nonexempt employees.
                  minimum_wages:
                    type: array
                    items:
                      type: object
                      description: >-
                        The minimum wage record you want to apply to the
                        compensation
                      properties:
                        uuid:
                          type: string
                          description: >-
                            The UUID of the minimum wage record. Required if
                            adjust_for_minimum_wage set to true
                required:
                  - payment_unit
                  - flsa_status
              examples:
                Exempt:
                  value:
                    rate: '60000.00'
                    payment_unit: Year
                    flsa_status: Exempt
                Minimum Wage Adjusted:
                  value:
                    effective_date: '2023-01-01'
                    rate: '7.00'
                    payment_unit: Hour
                    flsa_status: Nonexempt
                    adjust_for_minimum_wage: true
                    minimum_wages:
                      - uuid: 340832db-ab28-4112-9e10-28dd1711835f
        tags:
          - Jobs and Compensations
    /v1/compensations/{compensation_id}:
      get:
        x-gusto-integration-type:
          - embedded
          - app-integrations
        summary: Get a compensation
        responses:
          '200':
            $ref: '#/components/responses/Compensation-Object'
          '404':
            $ref: '#/components/responses/Not-Found-Error-Object'
        operationId: get-v1-compensations-compensation_id
        description: >
          Compensations contain information on how much is paid out for a job.
          Jobs may have many compensations, but only one that is active. The
          current compensation is the one with the most recent `effective_date`.


          scope: `jobs:read`
        parameters:
          - $ref: '#/components/parameters/compensation_id'
          - $ref: '#/components/parameters/VersionHeader'
        tags:
          - Jobs and Compensations
      put:
        x-gusto-integration-type:
          - embedded
          - app-integrations
        summary: Update a compensation
        tags:
          - Jobs and Compensations
        responses:
          '200':
            $ref: '#/components/responses/Compensation-Object'
          '404':
            $ref: '#/components/responses/Not-Found-Error-Object'
          '422':
            $ref: '#/components/responses/Unprocessable-Entity-Error-Object'
        operationId: put-v1-compensations-compensation_id
        description: >-
          Compensations contain information on how much is paid out for a job.
          Jobs may have many compensations, but only one that is active. The
          current compensation is the one with the most recent `effective_date`.


          scope: `jobs:write`
        parameters:
          - $ref: '#/components/parameters/compensation_id'
          - $ref: '#/components/parameters/VersionHeader'
        requestBody:
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  version:
                    type: string
                    description: >-
                      The current version of the object. See the [versioning
                      guide](https://docs.gusto.com/embedded-payroll/docs/versioning#object-layer)
                      for information on how to use this field.
                  rate:
                    type: string
                    description: The dollar amount paid per payment unit.
                  payment_unit:
                    type: string
                    description: >-
                      The unit accompanying the compensation rate. If the employee
                      is an owner, rate should be 'Paycheck'.
                    enum:
                      - Hour
                      - Week
                      - Month
                      - Year
                      - Paycheck
                  flsa_status:
                    $ref: '#/components/schemas/Flsa-Status-Type'
                  adjust_for_minimum_wage:
                    type: boolean
                    description: >-
                      Determines whether the compensation should be adjusted for
                      minimum wage. Only applies to Nonexempt employees.
                  minimum_wages:
                    type: array
                    items:
                      type: object
                      description: >-
                        The minimum wage record you want to apply to the
                        compensation
                      properties:
                        uuid:
                          type: string
                          description: >-
                            The UUID of the minimum wage record. Required if
                            adjust_for_minimum_wage set to true
                required:
                  - version
              examples:
                Exempt:
                  value:
                    version: 98jr3289h3298hr9329gf9egskt3kagri32qqgiqe3872
                    rate: '60000.00'
                    payment_unit: Year
                    flsa_status: Exempt
                Minimum Wage Adjusted:
                  value:
                    version: 98jr3289h3298hr9329gf9egskt3kagri32qqgiqe3872
                    rate: '7.00'
                    payment_unit: Hour
                    flsa_status: Nonexempt
                    adjust_for_minimum_wage: true
                    minimum_wages:
                      - uuid: 340832db-ab28-4112-9e10-28dd1711835f
      delete:
        x-gusto-integration-type:
          - embedded
          - app-integrations
        summary: Delete a compensation
        responses:
          '204':
            description: No Content
          '404':
            $ref: '#/components/responses/Not-Found-Error-Object'
        operationId: delete-v1-compensations-compensation_id
        description: >
          Compensations contain information on how much is paid out for a job.
          Jobs may have many compensations, but only one that is active. The
          current compensation is the one with the most recent `effective_date`.
          This endpoint deletes a compensation for a job that hasn't been
          processed on payroll.


          scope: `jobs:write`
        parameters:
          - $ref: '#/components/parameters/compensation_id'
          - $ref: '#/components/parameters/VersionHeader'
        tags:
          - Jobs and Compensations
    /v1/companies/{company_id}/earning_types:
      post:
        x-gusto-integration-type:
          - embedded
          - app-integrations
        summary: Create a custom earning type
        tags:
          - Earning Types
        responses:
          '201':
            $ref: '#/components/responses/Earning-Type-Object'
          '404':
            $ref: '#/components/responses/Not-Found-Error-Object'
          '422':
            $ref: '#/components/responses/Unprocessable-Entity-Error-Object'
        operationId: post-v1-companies-company_id-earning_types
        description: >-
          Create a custom earning type.


          If an inactive earning type exists with the same name, this will
          reactivate it instead of creating a new one.


          scope: `payrolls:write`
        parameters:
          - $ref: '#/components/parameters/company_id'
          - $ref: '#/components/parameters/VersionHeader'
        requestBody:
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                    description: The name of the custom earning type.
                required:
                  - name
              examples:
                Example:
                  value:
                    name: Gym Membership Stipend
      get:
        x-gusto-integration-type:
          - embedded
          - app-integrations
        summary: Get all earning types for a company
        tags:
          - Earning Types
        responses:
          '200':
            $ref: '#/components/responses/Earning-Type-List'
          '404':
            $ref: '#/components/responses/Not-Found-Error-Object'
        operationId: get-v1-companies-company_id-earning_types
        description: >-
          A payroll item in Gusto is associated to an earning type to name the
          type of earning described by the payroll item.


          #### Default Earning Type

          Certain earning types are special because they have tax considerations.
          Those earning types are mostly the same for every company depending on
          its legal structure (LLC, Corporation, etc.)


          #### Custom Earning Type

          Custom earning types are all the other earning types added specifically
          for a company.


          scope: `payrolls:read`
        parameters:
          - $ref: '#/components/parameters/company_id'
          - $ref: '#/components/parameters/VersionHeader'
    /v1/companies/{company_id}/earning_types/{earning_type_uuid}:
      put:
        x-gusto-integration-type:
          - embedded
          - app-integrations
        summary: Update an earning type
        tags:
          - Earning Types
        responses:
          '200':
            $ref: '#/components/responses/Earning-Type-Object'
          '404':
            $ref: '#/components/responses/Not-Found-Error-Object'
          '422':
            $ref: '#/components/responses/Unprocessable-Entity-Error-Object'
        operationId: put-v1-companies-company_id-earning_types-earning_type_uuid
        description: |-
          Update an earning type.

          scope: `payrolls:write`
        parameters:
          - $ref: '#/components/parameters/company_id'
          - $ref: '#/components/parameters/earning_type_uuid'
          - $ref: '#/components/parameters/VersionHeader'
        requestBody:
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                    description: The name of the custom earning type.
              examples:
                Example:
                  value:
                    name: Gym Membership Stipend
      delete:
        x-gusto-integration-type:
          - embedded
          - app-integrations
        summary: Deactivate an earning type
        tags:
          - Earning Types
        responses:
          '204':
            description: No Content
          '404':
            $ref: '#/components/responses/Not-Found-Error-Object'
        operationId: delete-v1-companies-company_id-earning_types-earning_type_uuid
        description: |-
          Deactivate an earning type.

          scope: `payrolls:write`
        parameters:
          - $ref: '#/components/parameters/company_id'
          - $ref: '#/components/parameters/earning_type_uuid'
          - $ref: '#/components/parameters/VersionHeader'
    /v1/companies/{company_id}/contractors:
      post:
        x-gusto-integration-type:
          - embedded
          - app-integrations
        summary: Create a contractor
        tags:
          - Contractors
        responses:
          '201':
            $ref: '#/components/responses/Contractor-Object'
          '404':
            $ref: '#/components/responses/Not-Found-Error-Object'
          '422':
[...]
