publishJson:
  company: HiBob
  serviceName: false
  sdkName: hi-bob-{language}-sdk
  clientName: HiBob
  metaDescription: >-
    HiBob is on a mission to transform how organizations operate in the modern
    world of work with its HR platform, "Bob." Leading the way for the future
    workplace, Bob offers resilient, agile technology that wraps all the
    complexities of HR processes into a game-changing, user-friendly tool that
    touches every employee across the business.


    Since late 2015, trusted and empowered "Bobbers" from around the world have
    brought their authentic selves to work, inspired to build our exceptional HR
    systems that will revolutionize the work experience for HR professionals,
    managers, and employees alike. Agile and adaptable, HiBob innovates through
    continuous learning loops to produce seismic cultural shifts for companies
    with dynamic, distributed workforces. Organizations using Bob are able to
    accelerate hiring, retain the best talent, and elevate employee engagement.
  apiStatusUrls: inherit
  homepage: hibob.com
  developerDocumentation: apidocs.hibob.com/reference/getting-started-1
  categories:
    - hr
    - human_resources
    - hr_metrics
    - hr_analytics
    - hr_dashboard
    - hr_reporting
    - hr_management_system
    - hr_softwares
    - hr_management
    - hr_platform
    - personnel_management
    - hris
    - software
    - hr_tech
    - recruitment_software_business_process_outsourcing
rawSpecString: |
  openapi: 3.0.1
  info:
    title: Bob API
    description: Access your employees data with the Bob API
    version: 1.0.0
  servers:
    - url: https://api.hibob.com/v1
      description: Production
    - url: https://api.sandbox.hibob.com/v1
      description: Sandbox
  paths:
    /people/search:
      post:
        tags:
          - People
        summary: Search for employees
        description: >-
          <b>Note:</b> Changes to this API are planned to take effect on May 31,
          2024.  Make sure to review all of the details in the <a
          href='https://help.hibob.com/hc/en-us/articles/19726260483601'>Working
          pattern API Changes</a>  article in the help center.<br> <br>This API
          returns a list of requested employees with requested fields.  The data
          is filtered based on the requested fields and access level of the
          logged-in user.  Only viewable categories are returned.<br />
          <br><b>Note</b>: The values of the list fields represent the list item
          ID and not the list item value. To obtain the corresponding list item
          value, use the HiBob metadata API to determine the field list name.
          Then, use the list item ID to locate the list item value. For more
          information, see <a
          href='https://apidocs.hibob.com/docs/how-to-work-with-lists-public-api'>How
          to work with lists Public API</a>.
        requestBody:
          description: >-
            Read request content that allows you to select fields and other
            options
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReadEmployeesRequestReference'
          required: true
        responses:
          '200':
            description: Requested employees.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Employees'
          default:
            description: Unexpected error.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error'
        security:
          - Basic: []
    /people:
      get:
        tags:
          - People
        summary: Read all company employees
        deprecated: true
        description: >-
          <b>Note:</b> Deprecated at the end of March 2024. Please use
          <b>/people/search</b> ("Search for employees") instead. <br/><br/> This
          returns a list of all active employees. The data is filtered based on
          the access level of the logged-in user. Only viewable categories are
          returned.<br /><br> <b>Note</b>: The values of the list fields represent
          the list item ID and not the list item value. To obtain the
          corresponding list item value, use the HiBob metadata API to determine
          the field list name. Then, use the list item ID to locate the list item
          value. For more information, see <a
          href='https://apidocs.hibob.com/docs/how-to-work-with-lists-public-api'>How
          to work with lists Public API</a>.
        parameters:
          - name: showInactive
            in: query
            description: Should include inactive employees.
            schema:
              type: boolean
          - name: humanReadable
            in: query
            description: >-
              Whether to supply humanReadable values in JSON instead of
              machine-readable format (default).
            schema:
              type: boolean
              default: false
          - name: includeHumanReadable
            in: query
            description: >-
              Whether to include the additional "humanReadable" JSON node in the
              response.
            schema:
              type: boolean
              default: false
        responses:
          '200':
            description: All employees.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Employees'
          default:
            description: Unexpected error.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error'
        security:
          - Basic: []
      post:
        tags:
          - People
        summary: Create company employee.
        description: >-
          <b>Note:</b> Changes to this API are planned to take effect on May 31,
          2024.  Make sure to review all of the details in the <a
          href='https://help.hibob.com/hc/en-us/articles/19726260483601'>Working
          pattern API Changes</a>  article in the help center.<br> <br>This
          creates a new employee record in Bob. You can include only the fields
          listed in the  [Fields Metadata
          API](https://apidocs.hibob.com/reference/get_company-people-fields). 
          <br /><br><b>Note</b>
        requestBody:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateEmployeeRequest'
          required: true
        responses:
          '200':
            description: Employee
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Employee'
        security:
          - Basic: []
        x-codegen-request-body-name: body
    /people/{identifier}:
      post:
        tags:
          - People
        summary: Read company employee fields by employee ID.
        description: >-
          <b>Note:</b> Changes to this API are planned to take effect on May 31,
          2024.  Make sure to review all of the details in the <a
          href='https://help.hibob.com/hc/en-us/articles/19726260483601'>Working
          pattern API Changes</a>  article in the help center.<br> <br>Returns the
          employee's fields by the specified ID or email.<br /><br><b>Note</b>:
          The values of the list fields represent the list item ID and not the
          list item value. To obtain the corresponding list item value, use the
          HiBob metadata API to determine the field list name. Then, use the list
          item ID to locate the list item value. For more information, see <a
          href='https://apidocs.hibob.com/docs/how-to-work-with-lists-public-api'>How
          to work with lists Public API</a>.
        parameters:
          - name: identifier
            in: path
            description: employee ID or email
            required: true
            schema:
              type: string
              format: string
        requestBody:
          description: >-
            Read request content that allows you to select fields and other
            options
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReadSingleEmployeeRequestReference'
        responses:
          '200':
            description: Employee
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Employees'
          default:
            description: Unexpected error.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error'
        security:
          - Basic: []
      get:
        tags:
          - People
        summary: Read company employee by ID.
        deprecated: true
        description: >-
          <b>Note:</b> Deprecated at the end of March 2024. Please use <b>POST
          /people/{identifier}</b> ("Read company employee fields by ID.")
          instead. <br/><br/> Returns the employee by the specified ID.<br
          /><br><b>Note</b>: The values of the list fields represent the list item
          ID and not the list item value. To obtain the corresponding list item
          value, use the HiBob metadata API to determine the field list name.
          Then, use the list item ID to locate the list item value. For more
          information, see <a
          href='https://apidocs.hibob.com/docs/how-to-work-with-lists-public-api'>How
          to work with lists Public API</a>.
        parameters:
          - name: identifier
            in: path
            description: employee id
            required: true
            schema:
              type: string
              format: string
          - name: fields
            in: query
            description: >-
              Whether to supply fields (paths) instead of empty list as a default
              in order  to not exceed data permitted.
            required: true
            schema:
              type: array
              items:
                type: string
          - name: humanReadable
            in: query
            description: >-
              Whether to supply humanReadable values in JSON instead of
              machine-readable (default) format.
            schema:
              type: boolean
              default: false
          - name: includeHumanReadable
            in: query
            description: >-
              Whether to include the additional "humanReadable" JSON node in the
              response.
            schema:
              type: boolean
              default: false
        responses:
          '200':
            description: Employee
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Employees'
          default:
            description: Unexpected error.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error'
        security:
          - Basic: []
      put:
        tags:
          - People
        summary: Update company employee.
        description: >-
          <b>Note:</b> Changes to this API are planned to take effect on May 31,
          2024.  Make sure to review all of the details in the <a
          href='https://help.hibob.com/hc/en-us/articles/19726260483601'>Working
          pattern API Changes</a>  article in the help center.<br> <br>This
          updates the employee record in Bob. You can include only the fields
          listed in the  [Fields Metadata
          API](https://apidocs.hibob.com/reference/get_company-people-fields)
          where historical is equal to false.  <br /><br><b>Note</b>
        parameters:
          - name: identifier
            in: path
            description: Employee ID.
            required: true
            schema:
              type: string
              format: string
        requestBody:
          description: Use Fields Metadata API for available field definitions
          content:
            application/json:
              schema:
                type: object
                example:
                  firstName: Bob
                  personal:
                    birthDate: '2002-01-01'
                  about:
                    hobbies:
                      - music
                      - travel
                      - sport
          required: true
        responses:
          '200':
            description: Employee updated successfully.
            content: {}
          '304':
            description: If employee data not modified.
            content: {}
        security:
          - Basic: []
        x-codegen-request-body-name: body
    /employees/{identifier}/uninvite:
      post:
        tags:
          - People
        summary: Revoke access to Bob for an employee.
        parameters:
          - name: identifier
            in: path
            description: employee id
            required: true
            schema:
              type: string
              format: string
        responses:
          '200':
            description: Revoke access successful.
            content: {}
          default:
            description: Unexpected error.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error'
        security:
          - Basic: []
    /employees/{identifier}/terminate:
      post:
        tags:
          - People
        summary: Terminate company employee.
        description: >-
          This changes the employee’s status to Terminated according to specified
          termination date. <br />
        parameters:
          - name: identifier
            in: path
            description: Employee ID.
            required: true
            schema:
              type: string
              format: string
        requestBody:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeTermination'
          required: true
        responses:
          '200':
            description: Termination entry added successfully.
            content: {}
        security:
          - Basic: []
        x-codegen-request-body-name: body
    /onboarding/wizards:
      get:
        tags:
          - Onboarding
        summary: Get a summary of all onboarding wizards.
        description: >-
          Wizard info includes Wizard ID, name and description.<br /><b>Supported
          user types:</b> Service.
        responses:
          '200':
            description: Onboarding Wizards
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/OnboardingWizards'
          default:
            description: Unexpected error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error'
        security:
          - Basic: []
    /employees/{employeeId}/invitations:
      post:
        tags:
          - People
        summary: Invite an employee with a welcome wizard ID.
        parameters:
          - name: employeeId
            in: path
            description: Employee ID.
            required: true
            schema:
              type: string
              format: string
        requestBody:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvitationByWizard'
          required: true
        responses:
          '200':
            description: Invitation submitted successfully.
            content: {}
          default:
            description: Unexpected error.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error'
        security:
          - Basic: []
        x-codegen-request-body-name: body
    /employees/{employeeId}/start-date:
      post:
        tags:
          - People
        summary: Set or update an employee's start date.
        parameters:
          - name: employeeId
            in: path
            description: employee ID
            required: true
            schema:
              type: string
              format: string
        requestBody:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StartDateUpdate'
          required: true
        responses:
          '200':
            description: Start date was set successfully.
            content: {}
          default:
            description: Unexpected error.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error'
        security:
          - Basic: []
        x-codegen-request-body-name: body
    /company/reports:
      get:
        tags:
          - Reports
        summary: Read company reports
        description: >-
          Returns a list of all the defined company reports. The data is filtered
          based on the access level of the user. Only viewable categories are
          returned.<br />
        responses:
          '200':
            description: Company Reports
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Reports'
          default:
            description: Unexpected error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error'
        security:
          - Basic: []
    /company/reports/{reportId}/download:
      get:
        tags:
          - Reports
        summary: Download the report by ID
        description: >-
          Returns a report data file in the specified format.<br /><b>Supported
          user types:</b> Service.
        parameters:
          - name: reportId
            in: path
            description: Report ID
            required: true
            schema:
              type: number
              format: long
          - name: format
            in: query
            description: File format
            required: true
            schema:
              type: string
              enum:
                - csv
                - xlsx
                - json
          - name: includeInfo
            in: query
            description: Should include info.
            schema:
              type: boolean
              format: boolean
          - name: locale
            in: query
            description: >-
              Requested language for the report columns in the format of locale
              (e.g. fr-FR). If this is not provided, the user preferences locale
              is used.
            schema:
              type: string
              format: string
          - name: humanReadable
            in: query
            description: >-
              Optional field. Only enforced when <i><b>format</b></i> is
              <i>json</i>. <br> <b>If not sent:</b> supply machine-readable values
              only. <br> <br> Possible values: <br>  <br> <b>APPEND</b> - include
              the additional "humanReadable" JSON node in the response. <br>  <br>
              <b>REPLACE</b> - supply humanReadable values in JSON instead of
              machine-readable format. <br>
            required: false
            schema:
              type: string
        responses:
          '200':
            description: >-
              Includes the report name and execution date in the report file. By
              default this is set to True.
            content:
              application/json:
                schema:
                  type: string
                  format: binary
          default:
            description: Unexpected error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error'
        security:
          - Basic: []
    /company/reports/{reportId}/download-async:
      get:
        tags:
          - Reports
        summary: Get the report download URL for polling
        description: >-
          Returns the polling URL report file of the specified format under
          "Location" in the response header.<br />
        parameters:
          - name: reportId
            in: path
            description: Report id
            required: true
            schema:
              type: number
              format: long
          - name: format
            in: query
            description: File format
            required: true
            schema:
              type: string
              enum:
                - csv
                - xlsx
          - name: includeInfo
            in: query
            description: Should include info
            schema:
              type: boolean
              format: boolean
          - name: locale
            in: query
            description: >-
              Requested language for the report columns in the format of the
              locale (e.g. fr-FR). If this is not provided, the user preferences
              locale is used.
            schema:
              type: string
              format: string
          - name: humanReadable
            in: query
            description: >-
              Optional field. Only enforced when <i><b>format</b></i> is
              <i>json</i>. <br> <b>If not sent:</b> supply machine-readable values
              only. <br> <br> Possible values: <br>  <br> <b>APPEND</b> - include
              the additional "humanReadable" JSON node in the response. <br>  <br>
              <b>REPLACE</b> - supply humanReadable values in JSON instead of
              machine-readable format. <br>
            required: false
            schema:
              type: string
        responses:
          '200':
            description: Report URL under "Location" in the response header.
            content: {}
          default:
            description: Unexpected error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error'
        security:
          - Basic: []
    /company/reports/download/{reportName}:
      get:
        tags:
          - Reports
        summary: Download report by file URL
        description: >-
          Returns the report data file when it is ready. If the file is not ready
          yet the response will be 204. It will then have to try again.<br />(This
          URL is the response of the previous API:
          https://api.hibob.com/v1/company/reports/reportId/download-async)<br />
        parameters:
          - name: reportName
            in: path
            description: Report name
            required: true
            schema:
              type: string
        responses:
          '200':
            description: >-
              Include the report name and execution date in the report file. This
              defaults to true.
            content:
              application/json:
                schema:
                  type: string
                  format: binary
          '204':
            description: The file is not yet ready, please try again.
            content: {}
          default:
            description: Unexpected error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error'
        security:
          - Basic: []
    /profiles:
      get:
        tags:
          - People
        summary: Read the public profile section of all active employees.
        description: >-
          Returns the public section of all  active employees of the logged-in
          user company.<br /><br><b>Note</b>: The values of the list fields
          represent the list item ID and not the list item value. To obtain the
          corresponding list item value. Use the HiBob metadata API to determine
          the field list name. Then, use the list item ID to locate the list item
          value. For more information, see <a
          href='https://apidocs.hibob.com/docs/how-to-work-with-lists-public-api'>How
          to work with lists Public API</a>.
        parameters:
          - name: sortBy
            in: query
            description: Optional field name to sort by. This defaults to firstName.
            schema:
              type: string
              format: string
        responses:
          '200':
            description: Employee profiles
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/EmployeesProfiles'
          default:
            description: Unexpected error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error'
        security:
          - Basic: []
    /avatars:
      get:
        tags:
          - People
        summary: Read avatar for an employee email
        description: Returns the avatar image URL of the employee.
        parameters:
          - name: email
            in: query
            description: Employee email.
            schema:
              type: string
              format: string
        responses:
          '200':
            description: URL of the emloyee avatar.
            content: {}
        security:
          - Basic: []
    /avatars/{employeeId}:
      get:
        tags:
          - People
        summary: Read avatar for an employee ID.
        description: Returns the avatar image URL of the employee.
        parameters:
          - name: employeeId
            in: path
            description: employee id
            required: true
            schema:
              type: string
              format: string
        responses:
          '200':
            description: URL of the emloyee avatar.
            content: {}
        security:
          - Basic: []
      put:
        tags:
          - People
        summary: Upload employee's avatar by image url
        description: >-
          Upload an employee's Avatar by providing a URL to the image to
          upload.<br />
        parameters:
          - name: employeeId
            in: path
            description: Employee ID.
            required: true
            schema:
              type: string
        requestBody:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadAvatar'
          required: true
        responses:
          '200':
            description: Avatar Uploaded successfully
            content: {}
        security:
          - Basic: []
        x-codegen-request-body-name: body
    /my/avatar:
      get:
        tags:
          - People
        summary: Read avatar for logged-in user
        deprecated: true
        description: >-
          Returns the avatar image URL of the logged-in user.<b>Supported user
          types:</b> Employee.
        responses:
          '200':
            description: URL of logged-in user avatar
            content: {}
        security:
          - Bearer: []
    /tasks:
      get:
        tags:
          - Tasks
        summary: Read all open tasks.
        responses:
          '200':
            description: All open tasks for this company.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Tasks'
        security:
          - Basic: []
    /my/tasks:
      get:
        tags:
          - Tasks
        summary: Read my tasks
        deprecated: true
        description: <b>Supported user types:</b> Employee.
        responses:
          '200':
            description: The logged-in user's tasks.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Tasks'
        security:
          - Bearer: []
    /tasks/people/{id}:
      get:
        tags:
          - Tasks
        summary: 'Read tasks of a specific employee '
        parameters:
          - name: id
            in: path
            description: employee id
            required: true
            schema:
              type: string
              format: string
          - name: task_status
            in: query
            description: >-
              filter tasks by open / closed status. Not sending task_status will
              return all tasks.
            schema:
              type: string
              enum:
                - open
                - closed
        responses:
          '200':
            description: All of a specific employee's open tasks.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Tasks'
          default:
            description: Unexpected error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error'
        security:
          - Basic: []
    /tasks/{taskId}/complete:
      post:
        tags:
          - Tasks
        summary: Mark a task as complete
        parameters:
          - name: taskId
            in: path
            description: task id
            required: true
            schema:
              type: string
              format: string
        responses:
          '200':
            description: Marks a task as complete.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Tasks'
          default:
            description: Unexpected error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error'
        security:
          - Basic: []
    /people/{id}/email:
      put:
        tags:
          - People
        summary: Update an employee's email address.
        description: >-
          Change an employee's email address. If you cannot change the self email
          an invitation will be sent to the new address to verify the email if the
          employee is invited/active.<br />
        parameters:
          - name: id
            in: path
            description: employee id
            required: true
            schema:
              type: string
        requestBody:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChangeEmail'
          required: true
        responses:
          '200':
            description: Invitation sent successfully.
            content: {}
        security:
          - Basic: []
        x-codegen-request-body-name: body
    /company/named-lists:
      get:
        tags:
          - Metadata
        summary: Get all company lists
        parameters:
          - name: includeArchived
            in: query
            description: Whether to include archived items in the response.
            schema:
              type: boolean
              default: false
        responses:
          '200':
            description: Successful response
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Lists'
        security:
          - Basic: []
    /company/named-lists/{listName}:
      get:
        tags:
          - Metadata
        summary: Get a specific company list by name.
        parameters:
          - name: listName
            in: path
            description: The internal name of the list.
            required: true
            schema:
              type: string
          - name: includeArchived
            in: query
            description: Whether to include archived items in the response.
            schema:
              type: boolean
              default: false
        responses:
          '200':
            description: >-
              Successful response. Please note that the item ID may be textual or
              numeric depending on the list type.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/List'
          '404':
            description: If the list was not found.
            content: {}
        security:
          - Basic: []
      post:
        tags:
          - Metadata
        summary: Add a new item to an existing list.
        parameters:
          - name: listName
            in: path
            description: The internal name of the list.
            required: true
            schema:
              type: string
        requestBody:
          description: >-
            The <b>parentId</b> attribute is optional and only applies to
            hierarchy lists. When <b>parentId</b> is specified, the newly created
            list item will be placed under the specific hierarchy parent node.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewListItem'
          required: true
        responses:
          '200':
            description: >-
              A new item is created. Please note that the ID of the newly created
              item may be textual or numeric depending on the list type.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/FlatListItemId'
          '404':
            description: If the list was not found.
            content: {}
          '409':
            description: If the added item already exists
            content: {}
        security:
          - Basic: []
        x-codegen-request-body-name: body
    /company/named-lists/{listName}/{itemId}:
      put:
        tags:
          - Metadata
        summary: Update an existing item from a list.
        parameters:
          - name: listName
            in: path
            description: The internal name of the list.
            required: true
            schema:
              type: string
          - name: itemId
            in: path
            description: The ID of the list item.
            required: true
            schema:
              type: string
        requestBody:
          description: >-
            You need to provide at least one of: <b>name</b> or <b>parentId</b>.
            Providing a name will rename the list item value. Providing the parent
            ID will move the hierarchy list item (together with its children)
            under the indicated parent node.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateListItemRequest'
          required: true
        responses:
          '200':
            description: List item was updated successfully.
            content: {}
          '404':
            description: If the list or item was not found.
            content: {}
        security:
          - Basic: []
        x-codegen-request-body-name: body
      delete:
        tags:
          - Metadata
        summary: Delete an item from an existing list.
        parameters:
          - name: listName
            in: path
            description: The internal name of the list.
            required: true
            schema:
              type: string
          - name: itemId
            in: path
            description: The ID of the list item.
            required: true
            schema:
              type: string
        responses:
          '200':
            description: The list item was deleted successfully.
            content: {}
          '404':
            description: If the list or item was not found
            content: {}
        security:
          - Basic: []
    /company/people/fields:
      get:
        tags:
          - Metadata
        summary: Get all company fields.
        responses:
          '200':
            description: Successful response.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Fields'
        security:
          - Basic: []
      post:
        tags:
          - Metadata
        summary: Create a new field.
        requestBody:
          description: The field to be created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateFieldRequest'
          required: true
        responses:
          '200':
            description: >-
              The new field was successfully created. The ID of the field is
              returned.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/FieldId'
          '400':
            description: >-
              If the category of the field is root, or historical is set to true,
              but the category doesn't allow it, or if the field type is not
              supported.
            content: {}
          '404':
            description: If the category of the field doesn't exist
            content: {}
        security:
          - Basic: []
        x-codegen-request-body-name: body
    /company/people/fields/{fieldId}:
      put:
        tags:
          - Metadata
        summary: Update an existing field
        parameters:
          - name: fieldId
            in: path
            description: The ID of the field.
            required: true
            schema:
              type: string
        requestBody:
          description: The new name and/or description of the updated field.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateFieldRequest'
          required: true
        responses:
          '200':
            description: The field was updated successfully.
            content: {}
          '404':
            description: If the field doesn't exist.
            content: {}
        security:
          - Basic: []
        x-codegen-request-body-name: body
      delete:
        tags:
          - Metadata
        summary: Delete an existing field.
        parameters:
          - name: fieldId
            in: path
            description: The ID of the field.
            required: true
            schema:
              type: string
        responses:
          '200':
            description: The field was deleted successfully.
            content: {}
          '400':
            description: If the field is a Bob default field.
            content: {}
          '404':
            description: If the field doesn't exist
            content: {}
        security:
          - Basic: []
    /timeoff/employees/{id}/requests:
      post:
        tags:
          - Time off
        summary: Submit a new time off request.
        description: Submits a new timeoff request.<br />
        parameters:
          - name: id
            in: path
            description: Employee ID.
            required: true
            schema:
              type: string
        requestBody:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmitTimeoffRequest'
          required: true
        responses:
          '200':
            description: Successfully submitted
            content: {}
        security:
          - Basic: []
        x-codegen-request-body-name: body
    /timeoff/employees/{id}/diffHours/requests:
      post:
        tags:
          - Time off
        summary: Submit a new time off request of different hours per day.
        description: >-
          Submits a new timeoff request of different hours per day.<br
          /><b>Supported user types:</b> Employee, Service.
        parameters:
          - name: id
            in: path
            description: Employee ID.
            required: true
            schema:
              type: string
        requestBody:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmitTimeoffRequestDiffHours'
          required: true
        responses:
          '200':
            description: Successfully submitted
            content: {}
        security:
          - Basic: []
          - Bearer: []
        x-codegen-request-body-name: body
    /timeoff/employees/{id}/requests/{requestId}:
      get:
        tags:
          - Time off
        summary: Get the details of an existing timeoff request.
        description: Supplies detailed info about an existing time off request.<br />
        parameters:
          - name: id
            in: path
            description: employee id
            required: true
            schema:
              type: string
          - name: requestId
            in: path
            description: request id
            required: true
            schema:
              type: integer
        responses:
          '200':
            description: success
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/TimeoffRequest'
          '404':
            description: >-
              A request with the specified ID is not found for the specified
              employee.
            content: {}
        security:
          - Basic: []
      delete:
        tags:
          - Time off
        summary: Cancel an existing timeoff request
        description: Cancels an existing time off request.<br />
        parameters:
          - name: id
            in: path
            description: Employee ID.
            required: true
            schema:
              type: string
          - name: requestId
            in: path
            description: Request ID.
            required: true
            schema:
              type: integer
        responses:
          '200':
            description: Successfully canceled
            content: {}
        security:
          - Basic: []
    /timeoff/requests/changes:
      get:
        tags:
          - Time off
        summary: Get all new/deleted time off requests since the specified date.
        description: >-
          Returns the list of time off requests that are pending, approved or
          canceled since the specified date.<br />
        parameters:
          - name: since
            in: query
            description: >-
              Timestamp starting from which to return the changes. Should be in
              ISO-8601 format, e.g. 2050-04-05T14:30:24.345Z or
              2050-04-05T12:30-02:00.
            required: true
            schema:
              type: string
              format: date
          - name: includePending
            in: query
            description: >-
              Optional parameter. Indicates whether to include pending requests in
              the results.
            required: false
            schema:
              type: boolean
              default: false
        responses:
          '200':
            description: List of changes
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/TimeoffChanges'
        security:
          - Basic: []
    /timeoff/whosout:
      get:
        tags:
          - Time off
        summary: Read a list of who's out of the office.
        description: >-
          Returns time off information for a given date range.<br /><b>Supported
          user types:</b> Service.
        parameters:
          - name: from
            in: query
            description: Start period date
            required: true
            schema:
              type: string
              format: date
          - name: to
            in: query
            description: End period date
            required: true
            schema:
              type: string
              format: date
          - name: includeHourly
            in: query
            description: Include Hourly Requests
            schema:
              type: boolean
              default: false
          - name: includePrivate
            in: query
            description: >-
              Show the policy type's name instead of the policy's custom public
              name if the user has permission to view it, and the policy's custom
              public name exists.
            schema:
              type: boolean
              default: false
          - name: includePending
            in: query
            description: Include Pending Requests
            schema:
              type: boolean
              default: false
        responses:
          '200':
            description: >-
              Time off requests as seen by the logged in user for a given date
              range.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Requests'
          default:
            description: Unexpected error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error'
        security:
          - Basic: []
    /timeoff/outtoday:
      get:
        tags:
          - Time off
        summary: Read a list of who's out of the office today or on the specified date.
        description: >-
          Returns the list of people that have a time off request today or on the
          specified date.<br />
        parameters:
          - name: today
            in: query
            description: >-
              Date to report out of the office. If not specified, the date at UTC
              at the time of the request is used.
            schema:
              type: string
              format: date
          - name: includeHourly
            in: query
            description: Include Hourly Requests
            schema:
              type: boolean
              default: false
          - name: includePrivate
            in: query
            description: >-
              Show the policy type's name instead of the policy's custom public
              name if the user has permission to view it, and the policy's custom
              public name exists.
            schema:
              type: boolean
              default: false
          - name: siteId
            in: query
            description: The employee's site ID
            schema:
              type: integer
        responses:
          '200':
            description: >-
              The list of people who have taken time off, as seen by the logged in
              user.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/OutTodays'
          default:
            description: Unexpected error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error'
        security:
          - Basic: []
    /timeoff/policy-types/{policyType}/reason-codes:
      get:
        tags:
          - Time off
        summary: Get Policy type reason codes
        description: Get list of reason codes for a given policy type.<br />
        parameters:
          - name: policyType
            in: path
            description: Policy Type name.
            required: true
            schema:
              type: string
        responses:
          '200':
            description: List of reason codes.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ReasonCodes'
          '404':
            description: A policy type with the specified name was not found.
            content: {}
        security:
          - Basic: []
      post:
        tags:
          - Time off
        summary: Add a list of reason codes for a given policy type.
        description: >-
          Add a list of reason codes for a given policy type.<br /><b>Supported
          user types:</b> Service.
        parameters:
          - name: policyType
            in: path
            description: Policy Type name
            required: true
            schema:
              type: string
        requestBody:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReasonCodesNames'
          required: true
        responses:
          '200':
            description: Submitted successfully.
            content: {}
          '404':
            description: A policy type with the specified name was not found.
            content: {}
        security:
          - Basic: []
        x-codegen-request-body-name: body
    /timeoff/policy-types/{policyType}:
      get:
        tags:
          - Time off
        summary: Get Policy type details
        description: Get details about a given policy type.<br />
        parameters:
          - name: policyType
            in: path
            description: Policy Type name
            required: true
            schema:
              type: string
        responses:
          '200':
            description: Policy type
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/PolicyType'
          '404':
            description: A policy type with the specified name was not found.
            content: {}
        security:
          - Basic: []
    /timeoff/policy-types:
      get:
        tags:
          - Time off
        summary: Get all policy types names.
        description: Get a list of all policy type names.<br />
        responses:
          '200':
            description: List of policy types names.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/PolicyTypes'
          default:
            description: Unexpected error.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error'
        security:
          - Basic: []
    /timeoff/policies:
      get:
        tags:
          - Time off
        summary: Get Policy details.
        description: Get details about a given policy.<br />
        parameters:
          - name: policyName
            in: query
            description: Policy name.
            required: true
            schema:
              type: string
        responses:
          '200':
            description: Policy
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Policy'
          '404':
            description: A policy with the specified name was not found.
            content: {}
        security:
          - Basic: []
    /timeoff/policies/names:
      get:
        tags:
          - Time off
        summary: Get a list of policy names for a given policy type.
        description: Get a list of policy names for the user's defined policy type.<br />
        parameters:
          - name: policyTypeName
            in: query
            description: Policy type name.
            required: true
            schema:
              type: string
        responses:
          '200':
            description: A list of policy names.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/PolicyNames'
        security:
          - Basic: []
    /timeoff/employees/{id}/balance:
      get:
        tags:
          - Time off
        summary: Get the balance for a given employee
        description: >-
          Retrieve the balance for a given employee, for a given policy type, as
          of a given date.<br />
        parameters:
          - name: id
            in: path
            description: Employee ID.
            required: true
            schema:
              type: string
          - name: policyType
            in: query
            description: Policy type name.
            required: true
            schema:
              type: string
          - name: date
            in: query
            description: Point in time.
            required: true
            schema:
              type: string
              format: date
        responses:
          '200':
            description: Balance result.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/BalanceResult'
          default:
            description: Unexpected error.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error'
        security:
          - Basic: []
    /timeoff/employees/{id}/adjustments:
      post:
        tags:
          - Time off
        summary: Create a balance adjustment.
        description: >-
          Create a balance adjustment for a given employee for a given effective
          date.<br />
        parameters:
          - name: id
            in: path
            description: Employee ID.
            required: true
            schema:
              type: string
        requestBody:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdjustmentRequest'
          required: true
        responses:
          '200':
            description: Success.
            content: {}
          default:
            description: Unexpected error.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error'
        security:
          - Basic: []
        x-codegen-request-body-name: body
    /attendance/import/{importMethod}:
      post:
        tags:
          - Attendance
        summary: Import attendance data
        parameters:
          - name: importMethod
            in: path
            description: >-
              Indicates if the provided data should be processed via an
              aggregation engine or immediately. <ul>Aggregate - will add the logs
              to a temporary location, and an aggregation job will process the
              data asynchronously.</ul><ul>Immediate - will insert the records
              as-is.</ul>
            required: true
            schema:
              type: string
              enum:
                - aggregate
                - immediate
        requestBody:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImportAttendanceData'
          required: true
        responses:
          '200':
            description: Records imported
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ImportAttendanceResponse'
          '400':
            description: Bad request, see error description.
            content: {}
          '403':
            description: >-
              Forbidden. Authorization is implemented using a service user with
              attendance management permissions.
            content: {}
        security:
          - Basic: []
        x-codegen-request-body-name: body
    /payroll/history:
      get:
        tags:
          - Payroll
        summary: Read payroll history.
        parameters:
          - name: department
            in: query
            description: filter payroll for specific department.
            schema:
              type: string
          - name: showInactive
            in: query
            description: Whether to include inactive employees in the response.
            schema:
              type: boolean
              format: boolean
        responses:
          '200':
            description: Payroll data.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Employees'
          default:
            description: Unexpected error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error'
        security:
          - Basic: []
    /docs/folders/metadata:
      get:
        tags:
          - Documents
        summary: Get folders metadata
        responses:
          '200':
            description: success.
            content: {}
          default:
            description: Unexpected error.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error'
        security:
          - Basic: []
        x-codegen-request-body-name: document
    /docs/people/{id}/shared:
      post:
        tags:
          - Documents
        summary: File Upload via URL to an Employee Shared Folder
        description: >-
          With this endpoint, you can upload a file from a specified URL directly
          into the employee's shared folder in Bob. The request must specify the
          Employee ID. The file is uploaded using its URL in the request. Don't
          forget to make sure the Service User you're using has the right
          permissions.
        parameters:
          - name: id
            in: path
            description: Employee ID.
            required: true
            schema:
              type: string
        requestBody:
          description: Document to upload.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddDocument'
          required: true
        responses:
          '200':
            description: Upload success.
            content: {}
          default:
            description: Unexpected error.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error'
        security:
          - Basic: []
        x-codegen-request-body-name: document
    /docs/people/{id}/confidential:
      post:
        tags:
          - Documents
        summary: File Upload via URL to an Employee Confidential Folder
        description: >-
          With this endpoint, you can upload a file from a specified URL directly
          into the employee's confidential folder in Bob. The request must specify
          the Employee ID. The file is uploaded using its URL in the request.
          Don't forget to make sure the Service User you're using has the right
          permissions.
        parameters:
          - name: id
            in: path
            description: Employee ID.
            required: true
            schema:
              type: string
        requestBody:
          description: Document to upload.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddDocument'
          required: true
        responses:
          '200':
            description: Upload success.
            content: {}
          default:
            description: Unexpected error.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error'
        security:
          - Basic: []
        x-codegen-request-body-name: document
    /docs/people/{id}/custom/{folderId}:
      post:
        tags:
          - Documents
        summary: File Upload via URL to an Employee Custom Folder
        description: >-
          With this endpoint, you can upload a file from a specified URL directly
          into a specific employee's custom folder in Bob. The request must
          specify the Employee ID and Folder ID where the file will be stored. The
          file is uploaded using its URL in the request. Don't forget to make sure
          the Service User you're using has the right permissions.
        parameters:
          - name: id
            in: path
            description: Employee ID.
            required: true
            schema:
              type: string
          - name: folderId
            in: path
            description: Folder ID.
            required: true
            schema:
              type: string
        requestBody:
          description: Document to upload.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddDocument'
          required: true
        responses:
          '200':
            description: Upload success.
            content: {}
          default:
            description: Unexpected error.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error'
        security:
          - Basic: []
        x-codegen-request-body-name: document
    /docs/people/{id}/shared/upload:
      post:
        tags:
          - Documents
        summary: Direct File Upload to an Employee Shared Folder
        description: >-
          This endpoint is designed to upload a file to the employee's shared
          folder in Bob. The request must specify the Employee ID and the file to
          be uploaded is included in the request. Don't forget to make sure the
          Service User you're using has the right permissions.
        parameters:
          - name: id
            in: path
            description: Employee ID.
            required: true
            schema:
              type: string
        requestBody:
          content:
            multipart/form-data:
              schema:
                required:
                  - file
                properties:
                  file:
                    type: string
                    description: The file to upload.
                    format: binary
          required: true
        responses:
          '200':
            description: Uploaded document ID.
            content: {}
          default:
            description: Unexpected error.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error'
        security:
          - Basic: []
    /docs/people/{id}/confidential/upload:
      post:
        tags:
          - Documents
        summary: Direct File Upload to an Employee Confidential Folder
        description: >-
          This endpoint is designed to upload a file to the employee's
          confidential folder in Bob. The request must specify the Employee ID and
          the file to be uploaded is included in the request. Don't forget to make
          sure the Service User you're using has the right permissions.
        parameters:
          - name: id
            in: path
            description: employee id
            required: true
            schema:
              type: string
        requestBody:
          content:
            multipart/form-data:
              schema:
                required:
                  - file
                properties:
                  file:
                    type: string
                    description: The file to upload.
                    format: binary
          required: true
        responses:
          '200':
            description: Uploaded document ID.
            content: {}
          default:
            description: Unexpected error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error'
        security:
          - Basic: []
    /docs/people/{id}/folders/{folderId}/upload:
      post:
        tags:
          - Documents
        summary: Direct File Upload to an Employee Custom Folder
        description: >-
          This endpoint is designed to upload a file to a specific employee's
          custom folder in Bob. The request must specify the Employee ID and
          Folder ID where the file will be stored, and the file to be uploaded is
          included in the request. Don't forget to make sure the Service User
          you're using has the right permissions.
        parameters:
          - name: id
            in: path
            description: employee id
            required: true
            schema:
              type: string
          - name: folderId
            in: path
            description: folder id
            required: true
            schema:
              type: string
        requestBody:
          content:
            multipart/form-data:
              schema:
                required:
                  - file
                properties:
                  file:
                    type: string
                    description: The file to upload.
                    format: binary
          required: true
        responses:
          '200':
            description: Uploaded document ID.
            content: {}
          default:
            description: Unexpected error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error'
        security:
          - Basic: []
    /docs/people/{id}/shared/{docId}:
      delete:
        tags:
          - Documents
        summary: Delete a File from an Employee Shared Folder
        description: >-
          This endpoint lets you delete a file from an employee's shared folder in
          Bob. You need the Employee ID and the Document ID to remove a file.
          Don't forget to make sure the Service User you're using has the right
          permissions to delete folders.
        parameters:
          - name: id
            in: path
            description: Employee ID.
            required: true
            schema:
              type: string
          - name: docId
            in: path
            description: Document ID.
            required: true
            schema:
              type: string
        responses:
          '200':
            description: Delete success.
            content: {}
          default:
            description: Unexpected error.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error'
        security:
          - Basic: []
    /docs/people/{id}/confidential/{docId}:
      delete:
        tags:
          - Documents
        summary: Delete a File from an Employee Confidential Folder
        description: >-
          This endpoint lets you delete a file from an employee's confidential
          folder in Bob. You need the Employee ID and the Document ID to remove a
          file. Don't forget to make sure the Service User you're using has the
          right permissions to delete folders.
        parameters:
          - name: id
            in: path
            description: Employee ID.
            required: true
            schema:
              type: string
          - name: docId
            in: path
            description: Document ID.
            required: true
            schema:
              type: string
        responses:
          '200':
            description: Delete success.
            content: {}
          default:
            description: Unexpected error.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error'
        security:
          - Basic: []
    /docs/people/{id}/folders/{folderId}/{docId}:
      delete:
        tags:
          - Documents
        summary: Delete a File from an Employee Custom Folder
        description: >-
          This endpoint lets you delete a file from an employee's custom folder in
          Bob. You need the Employee ID, the Folder ID, and the Document ID to
          remove a file. Don't forget to make sure the Service User you're using
          has the right permissions to delete folders.
        parameters:
          - name: id
            in: path
            description: Employee ID.
            required: true
            schema:
              type: string
          - name: docId
            in: path
            description: Document ID.
            required: true
            schema:
              type: string
          - name: folderId
            in: path
            description: Folder ID.
            required: true
            schema:
              type: string
        responses:
          '200':
            description: Delete success.
            content: {}
          default:
            description: Unexpected error.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error'
        security:
          - Basic: []
    /docs/people/{id}:
      get:
        tags:
          - Documents
        summary: Download employee's documents
        description: Returns a list of documents and download links.<br />
        parameters:
          - name: id
            in: path
            description: Employee ID.
            required: true
            schema:
              type: string
        responses:
          '200':
            description: A list of the documents' names and download links.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/EmployeeDocumentResponse'
          default:
            description: Unexpected error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error'
        security:
          - Basic: []
    /hiring/job-ads/search:
      post:
        tags:
          - Hiring
        summary: >-
          Beta | Get a list of all active job ads created by promoting a job
          opening via a Career page.
        description: >-
          Returns the list of all active job ads. ** This endpoint is currently in
          beta and may undergo changes. ** <br />
        parameters:
          - name: preferredLanguage
            in: query
            description: >-
              Preferred language code for the language results will be returned in
              if available, otherwise language specified on the job ad will be
              used.
            schema:
              type: string
        requestBody:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobAdRequest'
          required: true
        responses:
          '200':
            description: The list of job ads.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/JobAds'
          default:
            description: Unexpected error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error'
        security:
          - Basic: []
    /hiring/job-ads/{id}:
      get:
        tags:
          - Hiring
        summary: Beta | Get the details of the job ad.
        description: >-
          Returns the details of the job ad. ** This endpoint is currently in beta
          and may undergo changes. ** <br />
        parameters:
          - name: id
            in: path
            description: Job Ad ID.
            schema:
              type: string
            required: true
          - name: preferredLanguage
            in: query
            description: >-
              Preferred language code for the language results will be returned in
              if available, otherwise language specified on the job ad will be
              used.
            schema:
              type: string
        responses:
          '200':
            description: The details of job ad.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/JobAd'
          default:
            description: Unexpected error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error'
        security:
          - Basic: []
    /people/{id}/work:
      get:
        tags:
          - People
          - Tables
        summary: List employee's work history
        description: >-
          Returns a list of work history entries for a given employee.<br
          /><br><b>Note</b>: The values of the list fields represent the list item
          ID and not the list item value. To obtain the corresponding list item
          value, use the HiBob metadata API to determine the field list name.
          Then, use the list item ID to locate the list item value. For more
          information, see <a
          href='https://apidocs.hibob.com/docs/how-to-work-with-lists-public-api'>How
          to work with lists Public API</a>.
        parameters:
          - name: id
            in: path
            description: Employee ID.
            required: true
            schema:
              type: string
        responses:
          '200':
            description: List of work history entries.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/WorkEntries'
        security:
          - Basic: []
      post:
        tags:
          - People
          - Tables
        summary: Creates a new work entry for a given employee.
        description: >-
          <br><br><b>Note</b>: The values of the list fields represent the list
          item ID and not the list item value. To obtain the corresponding list
          item value, use the HiBob metadata API to determine the field list name.
          Then, use the list item ID to locate the list item value. For more
          information, see <a
          href='https://apidocs.hibob.com/docs/how-to-work-with-lists-public-api'>How
          to work with lists Public API</a>.
        parameters:
          - name: id
            in: path
            description: Employee ID.
            required: true
            schema:
              type: string
        requestBody:
          description: >-
            Work entry to add. This must not conflict with another entry on the
            same effective date.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkEntry'
          required: true
        responses:
          '200':
            description: Entry created successfully
            content: {}
        security:
          - Basic: []
        x-codegen-request-body-name: entry
    /people/{id}/work/{entry_id}:
      put:
        tags:
          - People
          - Tables
        summary: Updates a work entry from employee's work history
        description: >-
          <br><br><b>Note</b>: The values of the list fields represent the list
          item ID and not the list item value. To obtain the corresponding list
          item value, use the HiBob metadata API to determine the field list name.
          Then, use the list item ID to locate the list item value. For more
          information, see <a
          href='https://apidocs.hibob.com/docs/how-to-work-with-lists-public-api'>How
          to work with lists Public API</a>.
        parameters:
          - name: id
            in: path
            description: Employee ID.
            required: true
            schema:
              type: string
          - name: entry_id
            in: path
            description: The entry ID to update.
            required: true
            schema:
              type: integer
        requestBody:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkEntry'
          required: true
        responses:
          '200':
            description: Entry updated successfully.
            content: {}
          '404':
            description: Requested entry not found. Nothing was changed
            content: {}
        security:
          - Basic: []
        x-codegen-request-body-name: body
      delete:
        tags:
          - People
          - Tables
        summary: Deletes a work entry from a given employee's work history.
        parameters:
          - name: id
            in: path
            description: Employee ID.
            required: true
            schema:
              type: string
          - name: entry_id
            in: path
            description: The entry ID to delete
            required: true
            schema:
              type: integer
        responses:
          '200':
            description: Entry deleted successfully
            content: {}
        security:
          - Basic: []
    /people/{id}/employment:
      get:
        tags:
          - People
          - Tables
        summary: List employee's employment history.
        description: >-
          <b>Note:</b> Changes to this API are planned to take effect on May 31,
          2024.  Make sure to review all of the details in the <a
          href='https://help.hibob.com/hc/en-us/articles/19726260483601'>Working
          pattern API Changes</a>  article in the help center.<br> <br>Returns a
          list of employment history entries for a given employee.<br
          /><br><br><b>Note</b>: The values of the list fields represent the list
          item ID and not the list item value. To obtain the corresponding list
          item value, use the HiBob metadata API to determine the field list name.
          Then, use the list item ID to locate the list item value. For more
          information, see <a
          href='https://apidocs.hibob.com/docs/how-to-work-with-lists-public-api'>How
          to work with lists Public API</a>.
        parameters:
          - name: id
            in: path
            description: employee id
            required: true
            schema:
              type: string
        responses:
          '200':
            description: List of employment history entries.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/EmploymentEntries'
        security:
          - Basic: []
      post:
        tags:
          - People
          - Tables
        summary: Creates a new employment entry for a given employee.
        description: >-
          <br><br><b>Note</b>: The values of the list fields represent the list
          item ID and not the list item value. To obtain the corresponding list
          item value, use the HiBob metadata API to determine the field list name.
          Then, use the list item ID to locate the list item value. For more
          information, see <a
          href='https://apidocs.hibob.com/docs/how-to-work-with-lists-public-api'>How
          to work with lists Public API</a>.
        parameters:
          - name: id
            in: path
            description: employee id
            required: true
            schema:
              type: string
        requestBody:
          description: >-
            Employment entry to add. This must not conflict with another entry on
            the same effective date.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmploymentEntry'
          required: true
        responses:
          '200':
            description: Entry created successfully
            content: {}
        security:
          - Basic: []
        x-codegen-request-body-name: entry
    /people/{id}/employment/{entry_id}:
      put:
        tags:
          - People
          - Tables
        summary: Updates an employment entry from a given employee's employment history.
        description: >-
          <br><b>Note</b>: The values of the list fields represent the list item
          ID and not the list item value. To obtain the corresponding list item
          value, use the HiBob metadata API to determine the field list name.
          Then, use the list item ID to locate the list item value. For more
          information, see <a
          href='https://apidocs.hibob.com/docs/how-to-work-with-lists-public-api'>How
          to work with lists Public API</a>.
        parameters:
          - name: id
            in: path
            description: Employee ID.
            required: true
            schema:
              type: string
          - name: entry_id
            in: path
            description: The entry ID to update.
            required: true
            schema:
              type: integer
        requestBody:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmploymentEntry'
          required: true
        responses:
          '200':
            description: Entry updated successfully
            content: {}
        security:
          - Basic: []
        x-codegen-request-body-name: body
      delete:
        tags:
          - People
          - Tables
        summary: Deletes an employment entry from a given employee's employment history.
        parameters:
          - name: id
            in: path
            description: Employee ID.
            required: true
            schema:
              type: string
          - name: entry_id
            in: path
            description: The entry ID to delete.
            required: true
            schema:
              type: integer
        responses:
          '200':
            description: Entry deleted successfully.
            content: {}
        security:
          - Basic: []
    /people/{id}/lifecycle:
      get:
        tags:
          - People
          - Tables
        summary: List employee's life-cycle status history.
        description: >-
          Returns a list of life-cycle history entries for a given employee.<br
          /><br><br><b>Note</b>: TThe values of the list fields represent the list
          item ID and not the list item value. To obtain the corresponding list
          item value, use the HiBob metadata API to determine the field list name.
          Then, use the list item ID to locate the list item value. For more
          information, see <a
          href='https://apidocs.hibob.com/docs/how-to-work-with-lists-public-api'>How
          to work with lists Public API</a>.
        parameters:
          - name: id
            in: path
            description: Employee ID.
            required: true
            schema:
              type: string
        responses:
          '200':
            description: List of life-cycle history entries.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/LifeCycleEntries'
        security:
          - Basic: []
    /people/{id}/salaries:
      get:
        tags:
          - People
          - Tables
          - Payroll
        summary: List employee's salary history.
        description: >-
          Returns a list of salary history entries for a given employee.<br
          /><br><br><b>Note</b>: The values of the list fields represent the list
          item ID and not the list item value. To obtain the corresponding list
          item value, use the HiBob metadata API to determine the field list name.
          Then, use the list item ID to locate the list item value. For more
          information, see <a
          href='https://apidocs.hibob.com/docs/how-to-work-with-lists-public-api'>How
          to work with lists Public API</a>.
        parameters:
          - name: id
            in: path
            description: Employee ID.
            required: true
            schema:
              type: string
        responses:
          '200':
            description: List of salary entries.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/SalaryEntries'
        security:
          - Basic: []
      post:
        tags:
          - People
          - Tables
          - Payroll
        summary: Creates a new salary entry for a given employee.
        description: >-
          <br><br><b>Note</b>: The values of the list fields represent the list
          item ID and not the list item value. To obtain the corresponding list
          item value, use the HiBob metadata API to determine the field list name.
          Then, use the list item ID to locate the list item value. For more
          information, see <a
          href='https://apidocs.hibob.com/docs/how-to-work-with-lists-public-api'>How
          to work with lists Public API</a>.
        parameters:
          - name: id
            in: path
            description: Employee ID.
            required: true
            schema:
              type: string
        requestBody:
          description: >-
            Salary entry to add. This must not conflict with another entry on the
            same effective date.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalaryEntry'
          required: true
        responses:
          '200':
            description: Entry added successfully.
            content: {}
        security:
          - Basic: []
        x-codegen-request-body-name: entry
    /people/{id}/salaries/{entry_id}:
      delete:
        tags:
          - People
          - Tables
          - Payroll
        summary: Deletes a salary entry from the employee's list.
        parameters:
          - name: id
            in: path
            description: Employee ID.
            required: true
            schema:
              type: string
          - name: entry_id
            in: path
            description: The entry ID to delete.
            required: true
            schema:
              type: integer
        responses:
          '200':
            description: Entry deleted successfully.
            content: {}
        security:
          - Basic: []
    /people/{id}/equities:
      get:
        tags:
          - People
          - Tables
          - Payroll
        summary: List the employee's equity grants.
        description: >-
          Returns a list of equity grants for a given employee.<br /><b>Supported
          user types:</b> Service<br><br><b>Note</b>: The values of the list
          fields represent the list item ID and not the list item value. To obtain
          the corresponding list item value, use the HiBob metadata API to
          determine the field list name. Then, use the list item ID to locate the
          list item value. For more information, see <a
          href='https://apidocs.hibob.com/docs/how-to-work-with-lists-public-api'>How
          to work with lists Public API</a>.
        parameters:
          - name: id
            in: path
            description: Employee ID.
            required: true
            schema:
              type: string
        responses:
          '200':
            description: List of salary equity grants.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/EquityEntries'
        security:
          - Basic: []
      post:
        tags:
          - People
          - Tables
          - Payroll
        summary: Creates a new equity grant for a given employee.
        description: >-
          <br><br><b>Note</b>: The values of the list fields represent the list
          item ID and not the list item value. To obtain the corresponding list
          item value, use the HiBob metadata API to determine the field list name.
          Then, use the list item ID to locate the list item value. For more
          information, see <a
          href='https://apidocs.hibob.com/docs/how-to-work-with-lists-public-api'>How
          to work with lists Public API</a>.
        parameters:
          - name: id
            in: path
            description: Employee ID.
            required: true
            schema:
              type: string
        requestBody:
          description: Equity grant to add.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EquityEntry'
          required: true
        responses:
          '200':
            description: Entry added successfully.
            content: {}
        security:
          - Basic: []
        x-codegen-request-body-name: entry
    /people/{id}/equities/{entry_id}:
      put:
        tags:
          - People
          - Tables
          - Payroll
        summary: Updates an equity grant for an employee
        description: >-
          <br><br><b>Note</b>: The values of the list fields represent the list
          item ID and not the list item value. To obtain the corresponding list
          item value, use the HiBob metadata API to determine the field list name.
          Then, use the list item ID to locate the list item value. For more
          information, see <a
          href='https://apidocs.hibob.com/docs/how-to-work-with-lists-public-api'>How
          to work with lists Public API</a>. - Basic: [] - Bearer: []
        parameters:
          - name: id
            in: path
            description: Employee ID
            required: true
            schema:
              type: string
          - name: entry_id
            in: path
            description: The entry ID to update.
            required: true
            schema:
              type: integer
        requestBody:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EquityEntry'
          required: true
        responses:
          '200':
            description: Entry updated successfully.
            content: {}
        security:
          - Basic: []
        x-codegen-request-body-name: body
      delete:
        tags:
          - People
          - Tables
          - Payroll
        summary: Deletes an equity grant for an employee.
        parameters:
          - name: id
            in: path
            description: Employee ID.
            required: true
            schema:
              type: string
          - name: entry_id
            in: path
            description: The Entry ID to delete.
            required: true
            schema:
              type: integer
        responses:
          '200':
            description: Entry deleted successfully.
            content: {}
        security:
          - Basic: []
    /people/{id}/variable:
      get:
        tags:
          - People
          - Tables
          - Payroll
        summary: List employee's variable payments
        description: >-
          Returns a list of variable payments for a given employee.<br
          /><br><b>Note</b>: The values of the list fields represent the list item
          ID and not the list item value. To obtain the corresponding list item
          value, use the HiBob metadata API to determine the field list name.
          Then, use the list item ID to locate the list item value. For more
          information, see <a
          href='https://apidocs.hibob.com/docs/how-to-work-with-lists-public-api'>How
          to work with lists Public API</a>.
        parameters:
          - name: id
            in: path
            description: Employee ID.
            required: true
            schema:
              type: string
        responses:
          '200':
            description: List of variable payments.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/VariableEntries'
        security:
          - Basic: []
      post:
        tags:
          - People
          - Tables
          - Payroll
        summary: Creates a new variable payment for a given employee.
        description: >-
          <br><br><b>Note</b>:The values of the list fields represent the list
          item ID and not the list item value. To obtain the corresponding list
          item value, use the HiBob metadata API to determine the field list name.
          Then, use the list item ID to locate the list item value. For more
          information, see <a
          href='https://apidocs.hibob.com/docs/how-to-work-with-lists-public-api'>How
          to work with lists Public API</a>.
        parameters:
          - name: id
            in: path
            description: Employee ID.
            required: true
            schema:
              type: string
        requestBody:
          description: Variable payment to add.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VariableEntry'
          required: true
        responses:
          '200':
            description: Entry added successfully
            content: {}
        security:
          - Basic: []
        x-codegen-request-body-name: entry
    /people/{id}/variable/{entry_id}:
      delete:
        tags:
          - People
          - Tables
          - Payroll
        summary: Deletes a training record for an employee.
        parameters:
          - name: id
            in: path
            description: Employee ID.
            required: true
            schema:
              type: string
          - name: entry_id
            in: path
            description: The Entry ID to delete.
            required: true
            schema:
              type: integer
        responses:
          '200':
            description: Entry deleted successfully.
            content: {}
        security:
          - Basic: []
    /people/{id}/training:
      get:
        tags:
          - People
          - Tables
          - Payroll
        summary: List the employee's training records.
        description: >-
          Returns a list of training records for a given employee<br
          /><br><br><b>Note</b>: The values of the list fields represent the list
          item ID and not the list item value. To obtain the corresponding list
          item value, use the HiBob metadata API to determine the field list name.
          Then, use the list item ID to locate the list item value. For more
          information, see <a
          href='https://apidocs.hibob.com/docs/how-to-work-with-lists-public-api'>How
          to work with lists Public API</a>.
        parameters:
          - name: id
            in: path
            description: Employee ID.
            required: true
            schema:
              type: string
        responses:
          '200':
            description: List of training records.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/TrainingEntries'
        security:
          - Basic: []
      post:
        tags:
          - People
          - Tables
          - Payroll
        summary: Creates a new training records for a given employee
        description: >-
          <br><br><b>Note</b>: The values of the list fields represent the list
          item ID and not the list item value. To obtain the corresponding list
          item value, use the HiBob metadata API to determine the field list name.
          Then, use the list item ID to locate the list item value. For more
          information, see <a
          href='https://apidocs.hibob.com/docs/how-to-work-with-lists-public-api'>How
          to work with lists Public API</a>.
        parameters:
          - name: id
            in: path
            description: Employee ID.
            required: true
            schema:
              type: string
        requestBody:
          description: Training entry to add.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrainingEntry'
          required: true
        responses:
          '200':
            description: Entry added successfully.
            content: {}
        security:
          - Basic: []
        x-codegen-request-body-name: entry
    /people/{id}/training/{entry_id}:
      delete:
        tags:
          - People
          - Tables
          - Payroll
        summary: Deletes any training records for an employee.
        parameters:
          - name: id
            in: path
            description: Employee ID.
            required: true
            schema:
              type: string
          - name: entry_id
            in: path
            description: The Entry ID to delete.
            required: true
            schema:
              type: integer
        responses:
          '200':
            description: Entry deleted successfully.
            content: {}
        security:
          - Basic: []
    /people/custom-tables/metadata:
      get:
        tags:
          - Metadata
        summary: Read metadata of custom tables defined
        responses:
          '200':
            description: Successful response
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/CustomTableMetadataList'
        security:
          - Basic: []
    /people/custom-tables/metadata/{custom_table_id}:
      get:
        tags:
          - Metadata
        summary: Read metadata for specific custom table
        parameters:
          - name: custom_table_id
            in: path
            description: The ID of custom table.
            required: true
            schema:
              type: string
        responses:
          '200':
            description: Successful response
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/CustomTableMetadata'
        security:
          - Basic: []
    /people/custom-tables/{employee_id}/{custom_table_id}:
      get:
        tags:
          - Custom Tables
        summary: Read all entries of the given custom table
        parameters:
          - name: employee_id
            in: path
            description: Employee ID.
            required: true
            schema:
              type: string
          - name: custom_table_id
            in: path
            description: The ID of custom table.
            required: true
            schema:
              type: string
          - name: includeHumanReadable
            in: query
            description: >-
              Whether to include the additional "humanReadable" JSON node in the
              response.
            schema:
              type: boolean
              default: false
        responses:
          '200':
            description: Successful response
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/CustomTableEntriesList'
        security:
          - Basic: []
      post:
        tags:
          - Custom Tables
        summary: Create new custom table entry
        parameters:
          - name: employee_id
            in: path
            description: Employee ID.
            required: true
            schema:
              type: string
          - name: custom_table_id
            in: path
            description: The ID of custom table.
            required: true
            schema:
              type: string
        requestBody:
          content:
            application/json:
              schema:
                type: object
                properties:
                  RAW_BODY:
                    type: string
              example:
                values:
                  - column_1663598152485: 5185395
                    column_1663598024920: '2022-09-30'
                    column_1663598120787: '2871255975417872769'
                    column_1663598037763: 123456
                    column_1663598145154: 371223
                    column_1663597977169: text text
                    column_1663597992534: text area text area text area
                    column_1663598108167:
                      value: 240
                      currency: USD
[...]
