publishJson:
  company: Hive
  serviceName: false
  sdkName: hive-{language}-sdk
  clientName: Hive
  metaDescription: >-
    We help teams move faster. Hive's best-in-class project management platform
    includes all of the tools you need and want - and if not, we will build them
    for you. With flexible project views and endless customizations, Hive offers
    project management on your terms, success guaranteed.


    Hive is used by thousands of fast-moving teams to help with:

    - Project management

    - Integrating tools

    - Resourcing

    - Time-Tracking

    - Proofing and approvals

    - Note Taking

    - Task management

    - Reporting and analytics


    Want to see what it's all about? Start using Hive for free:
    app.hive.com/join
  apiStatusUrls: inherit
  homepage: hive.com
  developerDocumentation: developers.hive.com/reference
  categories:
    - project_management
    - task_management
    - time_tracking
rawSpecString: |
  openapi: 3.1.0
  info:
    title: Hive REST API
    version: '1.0'
  servers:
    - url: https://app.hive.com/api/v1
  components:
    securitySchemes:
      sec0:
        type: apiKey
        in: header
        name: api_key
      sec1:
        type: apiKey
        in: query
        name: user_id
  security:
    - sec0: []
      sec1: []
  paths:
    /workspaces:
      get:
        summary: Get workspaces
        description: Get all workspaces that you're is a member of.
        operationId: workspaces-1
        responses:
          '200':
            description: '200'
            content:
              application/json:
                examples:
                  Result:
                    value: "[\n  {\n  \t\"id\": \"1a2b3c4d5e6f7g8h9\",\n\t  \"name\": \"Honey Enterprises\",\n\t  \"members\": [\n\t    '1234abc',\n\t    '5678zyc'\n\t  ],\n\t  \"createdAt\": \"2017-05-18T15:26:17.407Z\",\n\t  \"modifiedAt\": \"2017-05-19T02:25:06.190Z\",\n\t  \"createdBy\": \"1234abcuJzo4k7F9\",\n\t  \"modifiedBy\": \"1234abcuJzo4k7F9\"\n\t}\n]\n\n"
          '400':
            description: '400'
            content:
              application/json:
                examples:
                  Result:
                    value: '{}'
                schema:
                  type: object
                  properties: {}
        deprecated: false
        x-readme:
          code-samples:
            - language: curl
              code: >-
                curl -X GET -H "api_key: API_KEY"
                https://app.hive.com/api/v1/workspaces?user_id=USER_ID
          samples-languages:
            - curl
    /workspaces/{workspaceId}/groups:
      get:
        summary: Get groups
        description: Get all chat groups for a given workspace
        operationId: testinput
        parameters:
          - name: workspaceId
            in: path
            description: ID of the workspace
            schema:
              type: string
            required: true
        responses:
          '200':
            description: '200'
            content:
              application/json:
                examples:
                  Result:
                    value: |-
                      [
                          {
                            "id": "8MRZ6oYzRMJ4eJYnR",
                            "name": "Everyone",
                            "members": [
                              '1234abcuJzo4k7F9',
                              '6789abcuJzo4k7F9'
                             ],
                            "workspace": "12345aZjDQZndHqs",
                            "createdAt": "2017-05-18T15:26:17.407Z",
                            "createdBy": "1234abcuJzo4k7F9",
                            "modifiedBy": "1234abcuJzo4k7F9"
                          },
                          {
                            "id": "8S8pMXXJwCeExYWzq",
                            "name": "Bee Hive Gossip",
                            "members": [
                              '1234abcuJzo4k7F9',
                              '6789abcuJzo4k7F9'
                             ],
                            "workspace": "12345aZjDQZndHqs",
                            "createdAt": "2017-05-18T15:26:17.407Z",
                            "createdBy": "1234abcuJzo4k7F9",
                            "modifiedBy": "1234abcuJzo4k7F9"    
                          },
                          {
                            "id": "8yxNHYsvqYCDFP19J",
                            "name": "Maria von Trapp",
                            "members": [
                              '1234abcuJzo4k7F9',
                              '6789abcuJzo4k7F9'
                             ],
                            "workspace": "12345aZjDQZndHqs",
                            "createdAt": "2017-05-18T15:26:17.407Z",
                            "createdBy": "1234abcuJzo4k7F9",
                            "modifiedBy": "1234abcuJzo4k7F9"    
                          }
                        ]
                        
          '400':
            description: '400'
            content:
              application/json:
                examples:
                  Result:
                    value: '{}'
                schema:
                  type: object
                  properties: {}
        deprecated: false
        x-readme:
          code-samples:
            - language: javascript
              code: |-
                var userId = "USER_ID";
                var workspaceId = "WORKSPACE_ID";
                var apiKey = "API_KEY"
                var baseUrl = "https://app.hive.com/api/v1/";
                var endpoint = "workspaces/" + workspaceId + "/groups";
                var qs = "?user_id=" + userId + "&api_key=" + apiKey;
                var url = baseUrl + endpoint + qs;

                $.ajax({
                  url: url,
                }).done(function(data) {
                  console.log(data);
                });
          samples-languages:
            - javascript
    /workspaces/{workspaceId}/activity-feeds:
      post:
        summary: Create activity feed
        description: >-
          Create an Activity Feed in the specified workspace for a Project or
          Action
        operationId: workspacesworkspaceidactivity_feeds
        parameters:
          - name: workspaceId
            in: path
            description: ID of the workspace
            schema:
              type: string
            required: true
        requestBody:
          content:
            application/json:
              schema:
                type: object
                required:
                  - type
                  - assignedTo
                  - attachedItemType
                  - attachedItemId
                  - body
                properties:
                  type:
                    type: string
                    description: >-
                      Type determines the icon used ('comment', 'addProject',
                      'action', 'due', 'assignees', 'subaction', 'ready')
                  bucket:
                    type: string
                    description: Bucket for the ActivityFeed
                    default: activityFeed
                  assignedTo:
                    type: string
                    description: UserId to receive this ActivityFeed
                  attachedItemType:
                    type: string
                    description: '''action'' or ''project'''
                  attachedItemId:
                    type: string
                    description: Id of the related item
                  title:
                    type: string
                    description: Title
                  body:
                    type: string
        responses:
          '200':
            description: '200'
            content:
              application/json:
                examples:
                  Result:
                    value: |-
                      {
                          "id": "abcde123456",
                          "workspace": "abcde123456",
                          "bucket": "activityFeed",
                          "assignedTo": "abcde123456",
                          "attachedItemType": "action",
                          "attachedItemId": "abcde123456",
                          "title": "Comment!",
                          "body": "Comment body",
                          "createdAt": "1900-01-01T00:00:00.000Z",
                          "modifiedAt": "1900-01-01T00:00:00.000Z",
                          "createdBy": "server",
                          "modifiedBy": "server"
                      }
                schema:
                  type: object
                  properties:
                    id:
                      type: string
                      example: abcde123456
                    workspace:
                      type: string
                      example: abcde123456
                    bucket:
                      type: string
                      example: activityFeed
                    assignedTo:
                      type: string
                      example: abcde123456
                    attachedItemType:
                      type: string
                      example: action
                    attachedItemId:
                      type: string
                      example: abcde123456
                    title:
                      type: string
                      example: Comment!
                    body:
                      type: string
                      example: Comment body
                    createdAt:
                      type: string
                      example: '1900-01-01T00:00:00.000Z'
                    modifiedAt:
                      type: string
                      example: '1900-01-01T00:00:00.000Z'
                    createdBy:
                      type: string
                      example: server
                    modifiedBy:
                      type: string
                      example: server
          '400':
            description: '400'
            content:
              application/json:
                examples:
                  Result:
                    value: '{}'
                schema:
                  type: object
                  properties: {}
        deprecated: false
        x-readme:
          code-samples:
            - language: javascript
              code: |-
                var userId = "USER_ID";
                var workspaceId = "WORKSPACE_ID";
                var projectId = "PROJECT_ID";
                var apiKey = "API_KEY";
                var baseUrl = "https://app.hive.com/api/v1/";
                var endpoint = "workspaces/" + workspaceId + "/activity-feeds";
                var qs = "?user_id=" + userId + "&api_key=" + apiKey;
                var url = baseUrl + endpoint + qs;

                var data = {
                  type: "comment",
                  bucket: "activityFeed",
                  assignedTo: userId,
                  attachedItemType: "project",
                  attachedItemId: projectId,
                  title: "Comment title",
                  body: "Comment body"
                };

                $.ajax({
                  method: "POST",
                  url: url,
                  data: JSON.stringify(data),
                  contentType: "application/json"
                }).done(function(data) {
                  console.log(data);
                });
          samples-languages:
            - javascript
    /users/{userId}:
      get:
        summary: Get user
        description: Get a user by id
        operationId: get-user
        parameters:
          - name: userId
            in: path
            description: User ID
            schema:
              type: string
            required: true
        responses:
          '200':
            description: '200'
            content:
              application/json:
                examples:
                  Result:
                    value: |
                      {
                        "id": "232b3c4d5e6f7g8h1",
                        "profile": {
                          "firstName": "Jane",
                          "lastName": "Doe"
                        },
                        "fullName": "Jane Doe",
                        "email": "john.doe@hive.com"
                      }
                schema:
                  type: object
                  properties:
                    id:
                      type: string
                      example: 232b3c4d5e6f7g8h1
                    profile:
                      type: object
                      properties:
                        firstName:
                          type: string
                          example: Jane
                        lastName:
                          type: string
                          example: Doe
                    fullName:
                      type: string
                      example: Jane Doe
                    email:
                      type: string
                      example: john.doe@hive.com
          '400':
            description: '400'
            content:
              application/json:
                examples:
                  Result:
                    value: '{}'
                schema:
                  type: object
                  properties: {}
        deprecated: false
        x-readme:
          code-samples:
            - language: javascript
              code: |
                var userId = "USER_ID";
                var apiKey = "API_KEY";
                var baseUrl = "https://app.hive.com/api/v1/";
                var endpoint = "users/" + userId;
                var qs = "?user_id=" + userId + "&api_key=" + apiKey;
                var url = baseUrl + endpoint + qs;

                $.ajax({
                  url: url,
                }).done(function(data) {
                  console.log(data);
                });
          samples-languages:
            - javascript
      put:
        summary: Update user
        description: Update a user
        operationId: users-1
        parameters:
          - name: userId
            in: path
            description: User ID
            schema:
              type: string
            required: true
        requestBody:
          content:
            application/json:
              schema:
                type: object
                properties:
                  profile:
                    properties:
                      firstName:
                        type: string
                        description: First name
                      lastName:
                        type: string
                        description: Last name
                    required: []
                    type: object
                    description: User profile
        responses:
          '200':
            description: '200'
            content:
              application/json:
                examples:
                  Result:
                    value: |
                      {
                        "id": "232b3c4d5e6f7g8h1",
                        "profile": {
                          "firstName": "Jane",
                          "lastName": "Doe"
                        },
                        "fullName": "Jane Doe",
                        "email": "john.doe@hive.com"
                      }
                schema:
                  type: object
                  properties:
                    id:
                      type: string
                      example: 232b3c4d5e6f7g8h1
                    profile:
                      type: object
                      properties:
                        firstName:
                          type: string
                          example: Jane
                        lastName:
                          type: string
                          example: Doe
                    fullName:
                      type: string
                      example: Jane Doe
                    email:
                      type: string
                      example: john.doe@hive.com
          '400':
            description: '400'
            content:
              application/json:
                examples:
                  Result:
                    value: '{}'
                schema:
                  type: object
                  properties: {}
        deprecated: false
        x-readme:
          code-samples:
            - language: javascript
              code: |-
                var userId = "USER_ID";
                var apiKey = "API_KEY";
                var baseUrl = "https://app.hive.com/api/v1/";
                var endpoint = "users/" + userId;
                var qs = "?user_id=" + userId + "&api_key=" + apiKey;
                var url = baseUrl + endpoint + qs;

                // New data for user record
                var data = {
                  profile: {
                    firstName: "Jane"
                  }
                };

                $.ajax({
                  method: "PUT",
                  url: url,
                  data: JSON.stringify(data),
                  contentType: "application/json"
                }).done(function(data) {
                  console.log(data);
                });
          samples-languages:
            - javascript
    /users:
      get:
        summary: Get users
        description: Get a list of users, filter by "email"
        operationId: get-user-by-email
        parameters:
          - name: email
            in: query
            description: Email address to search by
            schema:
              type: string
        responses:
          '200':
            description: '200'
            content:
              application/json:
                examples:
                  Result:
                    value: |
                      [
                        {
                          "id": "232b3c4d5e6f7g8h1",
                          "profile": {
                            "firstName": "Test",
                            "lastName": "User"
                          },
                          "fullName": "Test User",
                          "email": "test@example.com"
                        }
                      ]
                schema:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 232b3c4d5e6f7g8h1
                      profile:
                        type: object
                        properties:
                          firstName:
                            type: string
                            example: Test
                          lastName:
                            type: string
                            example: User
                      fullName:
                        type: string
                        example: Test User
                      email:
                        type: string
                        example: test@example.com
          '400':
            description: '400'
            content:
              application/json:
                examples:
                  Result:
                    value: '{}'
                schema:
                  type: object
                  properties: {}
        deprecated: false
        x-readme:
          code-samples:
            - language: javascript
              code: >
                var userId = "USER_ID";

                var filterEmail = "test@example.com";

                var apiKey = "API_KEY";

                var baseUrl = "https://app.hive.com/api/v1/";

                var endpoint = "users";

                var qs = "?user_id=" + userId + "&api_key=" + apiKey + "&email=" +
                filterEmail;

                var url = baseUrl + endpoint + qs;


                $.ajax({
                  url: url,
                }).done(function(data) {
                  console.log(data);
                });
          samples-languages:
            - javascript
    /workspaces/{workspaceId}/users:
      get:
        summary: Get workspace users
        description: Get all users for a given workspace that the user has access to
        operationId: workspacesworkspaceidusers
        parameters:
          - name: workspaceId
            in: path
            description: ID of the workspace
            schema:
              type: string
            required: true
        responses:
          '200':
            description: '200'
            content:
              application/json:
                examples:
                  Result:
                    value: |
                      [
                        {
                          "id": "22YK3N5uGpzMdw7fm",
                          "profile": {
                            "firstName": "Vera",
                            "lastName": "Morrisville"
                          },
                          "fullName": "Vera Morrisville",
                          "email": "john.doe@hive.com",
                        },
                        {
                          "id": "5oSp4usru9FTsFCuH",
                          "profile": {
                            "firstName": "Scott",
                            "lastName": "Brown"
                          },
                          "fullName": "Scott Brown",
                          "email": "john.doe@hive.com",
                        },
                      ]
          '400':
            description: '400'
            content:
              application/json:
                examples:
                  Result:
                    value: '{}'
                schema:
                  type: object
                  properties: {}
        deprecated: false
        x-readme:
          code-samples:
            - language: javascript
              code: |
                var userId = "USER_ID";
                var workspaceId = "WORKSPACE_ID";
                var apiKey = "API_KEY";
                var baseUrl = "https://app.hive.com/api/v1/";
                var endpoint = "workspaces/" + workspaceId + "/users";
                var qs = "?user_id=" + userId + "&api_key=" + apiKey;
                var url = baseUrl + endpoint + qs;

                $.ajax({
                  url: url,
                }).done(function(data) {
                  console.log(data);
                });
          samples-languages:
            - javascript
      post:
        summary: Invite user
        description: Invite a new user to your workspace
        operationId: invite-user
        parameters:
          - name: workspaceId
            in: path
            description: Workspace ID
            schema:
              type: string
            required: true
        requestBody:
          content:
            application/json:
              schema:
                type: object
                required:
                  - email
                properties:
                  email:
                    type: string
                    description: Email Address
                  fullName:
                    type: string
                    description: Full name
                  shouldSendInvite:
                    type: boolean
                    description: Send email notification
                    default: true
        responses:
          '200':
            description: '200'
            content:
              application/json:
                examples:
                  Result:
                    value: "{\n  \"id\": \"232b3c4d5e6f7g8h1\",\n  \"profile\": {\n    \"firstName\": \"Test\",\n    \"lastName\": \"User\"\n  },\n\t\"fullName\": \"Test User\",\n  \"email\": \"test@example.com\"\n}\n"
                schema:
                  type: object
                  properties:
                    id:
                      type: string
                      example: 232b3c4d5e6f7g8h1
                    profile:
                      type: object
                      properties:
                        firstName:
                          type: string
                          example: Test
                        lastName:
                          type: string
                          example: User
                    fullName:
                      type: string
                      example: Test User
                    email:
                      type: string
                      example: test@example.com
          '400':
            description: '400'
            content:
              application/json:
                examples:
                  Result:
                    value: '{}'
                schema:
                  type: object
                  properties: {}
        deprecated: false
        x-readme:
          code-samples:
            - language: javascript
              code: |-
                var userId = "USER_ID";
                var workspaceId = "WORKSPACE_ID";
                var apiKey = "API_KEY";
                var baseUrl = "https://app.hive.com/api/v1/";
                var endpoint = "workspaces/" + workspaceId + "/users";
                var qs = "?user_id=" + userId + "&api_key=" + apiKey;
                var url = baseUrl + endpoint + qs;

                var data = {
                  email: "test@example.com",
                  fullName: "Test User"
                };

                $.ajax({
                  method: "POST",
                  url: url,
                  data: JSON.stringify(data),
                  contentType: "application/json"
                }).done(function(data) {
                  console.log(data);
                });
          samples-languages:
            - javascript
      delete:
        summary: Remove user from workspace
        description: Remove a user from a given workspace
        operationId: delete-user
        parameters:
          - name: workspaceId
            in: path
            description: Workspace ID
            schema:
              type: string
            required: true
        requestBody:
          content:
            application/json:
              schema:
                type: object
                properties:
                  userId:
                    type: string
                    description: User ID of the user to remove
        responses:
          '204':
            description: '204'
            content:
              application/json:
                examples:
                  Result:
                    value: |
                      {}
                schema:
                  type: object
                  properties: {}
          '400':
            description: '400'
            content:
              application/json:
                examples:
                  Result:
                    value: '{}'
                schema:
                  type: object
                  properties: {}
        deprecated: false
    /workspaces/{workspaceId}/external-users:
      get:
        summary: Get workspace external users
        description: Get all external users for a given workspace that the user has access to
        operationId: get-workspace-external-users
        parameters:
          - name: workspaceId
            in: path
            description: ID of the workspace
            schema:
              type: string
            required: true
        responses:
          '200':
            description: '200'
            content:
              application/json:
                examples:
                  Result:
                    value: |
                      [
                        {
                          "id": "22YK3N5uGpzMdw7fm",
                          "profile": {
                            "firstName": "External",
                            "lastName": "User"
                          },
                          "fullName": "External User",
                          "email": "john.doe@hive.com",
                          "managers": []
                        },
                      ]
          '400':
            description: '400'
            content:
              application/json:
                examples:
                  Result:
                    value: "[\n  {\n    \"error\": 400,\n    \"message\": \"Workspace not found.\"\n\t},\n\t{\n    \"error\": 400,\n    \"message\": \"Invalid API Key.\"\n\t}\n]"
                schema:
                  type: array
                  items:
                    type: object
                    properties:
                      error:
                        type: integer
                        example: 400
                        default: 0
                      message:
                        type: string
                        example: Workspace not found.
        deprecated: false
        x-readme:
          code-samples:
            - language: javascript
              code: |
                var userId = "USER_ID";
                var workspaceId = "WORKSPACE_ID";
                var apiKey = "API_KEY";
                var baseUrl = "https://app.hive.com/api/v1/";
                var endpoint = "workspaces/" + workspaceId + "/external-users";
                var qs = "?user_id=" + userId + "&api_key=" + apiKey;
                var url = baseUrl + endpoint + qs;

                $.ajax({
                  url: url,
                }).done(function(data) {
                  console.log(data);
                });
          samples-languages:
            - javascript
    /actions/{actionId}:
      get:
        summary: Get action
        description: ''
        operationId: actionsactionid
        parameters:
          - name: actionId
            in: path
            description: The id of the action
            schema:
              type: string
            required: true
        responses:
          '200':
            description: '200'
            content:
              application/json:
                examples:
                  Result:
                    value: "{\n  \"id\": \"232b3c4d5e6f7g8h1\",\n  \"title\": \"Action title\",\n  \"workspace\": \"w32bac4d5e6f7g8h2\",\n  \"assignees\": [],\n  \"projectId\": null,\n  \"customFields\": [],\n  \"createdAt\": \"2019-01-01T00:00:00.000Z\",\n  \"modifiedAt\": \"2019-01-01T00:00:00.000Z\",\n  \"createdBy\": \"u32bac4d5e6f7g8h2\",\n  \"modifiedBy\": \"u32bac4d5e6f7g8h2\",\n  \"status\": \"Unstarted\",\n  \"deadline\": null,\n  \"scheduledDate\": null,\n  \"checkedDate\": null,\n  \"parent\": null,\n  \"root\": null,\n  \"archived\":false,\n  \"deleted\":false,\n  \"hasSubactions\": false,\n  \"estimate\": null,\n  \"estimates\":[\n    {\"userId\":user12345,\"time\":7200}\n  ]\n  \"milestone\": false,\n  \"loggedTime\": [\n    {\n      \"userId\":\"user12345\",\n      \"time\": 7200,\n      \"date\":\"2019-01-01T00:00:00.000Z\"\n    }\n  ],\n  \"phaseId\":\"123ab456\",\n  \"phaseName\":\"planning\",\n  \"priority\": {\n  \t  \"name\":\"Urgent\",\n      \"level\": 1,\n      \"color\": \"#f6781a\",\n      \"_id\": \"abc321\"\n  }\n}"
          '400':
            description: '400'
            content:
              application/json:
                examples:
                  Result:
                    value: '{}'
                schema:
                  type: object
                  properties: {}
        deprecated: false
        x-readme:
          code-samples:
            - language: javascript
              code: |
                var userId = "USER_ID";
                var actionId = "ACTION_ID";
                var apiKey = "API_KEY";
                var baseUrl = "https://app.hive.com/api/v1/";
                var endpoint = "/actions/" + actionId;
                var qs = "?user_id=" + userId + "&api_key=" + apiKey;
                var url = baseUrl + endpoint + qs;

                $.ajax({
                  url: url,
                }).done(function(data) {
                  console.log(data);
                });
          samples-languages:
            - javascript
      put:
        summary: Update action
        description: Update the action
        operationId: actionsupdatestatus
        parameters:
          - name: actionId
            in: path
            description: The id of the action
            schema:
              type: string
            required: true
        requestBody:
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: The new status of the action
                  update_children:
                    type: boolean
                    description: >-
                      True if this action's children should also have their
                      statuses updated
                    default: true
                  title:
                    type: string
                    description: Set new action title
                  projectId:
                    type: string
                    description: Assign action to a specific project
                  assignees:
                    type: array
                    description: User IDs
                    default:
                      - '[]'
                    items:
                      type: string
                  labels:
                    type: array
                    description: Set new Labels
                    items:
                      type: string
                  description:
                    type: string
                    description: >-
                      Overwrite the description of the Action. Supports basic HTML
                      (h1, h2, a, b, u tags).
                  urgent:
                    type: boolean
                    description: Urgency state
                  privacy:
                    type: string
                    description: 'Set privacy value (allowed values: "private", "public")'
                  checked:
                    type: boolean
                    description: Checked state
                  scheduledDate:
                    type: string
                    description: Set start date
                    format: date
                  deadline:
                    type: string
                    description: Set end date
                    format: date
                  parent:
                    type: string
                    description: Set new parent for action
                  customFields:
                    type: array
                    description: >-
                      Add new or update an existing custom field. Work with 'text'
                      custom fields only.
                    items:
                      properties:
                        label:
                          type: string
                          description: Label of the field
                        value:
                          type: string
                          description: Value of the field
                      type: object
                  shiftSubactionsDeadline:
                    type: boolean
                    description: Shift subactions by same date update
                    default: false
                  archived:
                    type: boolean
                    description: True if this action is to be archived
                    default: false
                  phaseId:
                    type: string
                    description: >-
                      ID of a project phase which will be assigned to the action.
                      If both phaseId and phaseName are sent than phaseId will be
                      used
                  phaseName:
                    type: string
                    description: >-
                      Name of a project phase which will be assigned to the
                      action. If both phaseId and phaseName are sent than phaseId
                      will be used
                  followingUserIds:
                    type: array
                    description: Enter each userId to be included as an action card follower.
                    items:
                      type: string
        responses:
          '200':
            description: '200'
            content:
              application/json:
                examples:
                  Result:
                    value: |
                      {
                        "id": "1a2b3c4d5e6f7g8h9",
                        "title": "Action title",
                        "workspace": "fd8s97f9sd87f89s",
                        "assignees": [],
                        "projectId": null,
                        "customFields": [
                          {
                            "_id": "1a2b3c4d5e6f7g8gn",
                            "label": "customActionField",
                            "type": "text",
                            "rank": 2.3843301617611736,
                            "dropdownValues": [],
                            "allowMultiSelect": false,
                            "id": "XkvuQsZ6vrLoba8gN",
                            "value": "customFieldValue",
                            "dateValue": null
                          }
                        ],
                        "createdAt": "2018-07-27T17:10:49.687Z",
                        "modifiedAt": "2018-07-30T18:12:10.411Z",
                        "createdBy": "fds879a7fd8s9a",
                        "modifiedBy": "fds879a7fd8s9a",
                        "status": "In Progress",
                        "deadline": null,
                        "scheduledDate": null,
                        "checkedDate": null,
                        "parent": null,
                        "root": null,
                        "hasSubactions": false,
                        "estimate": null,
                        "loggedTime": [
                          {
                            "userId":"user12345",
                            "time": 7200,
                            "date":"2019-01-01T00:00:00.000Z"
                          }
                        ],
                        "archived": false
                      }
                schema:
                  type: object
                  properties:
                    id:
                      type: string
                      example: 1a2b3c4d5e6f7g8h9
                    title:
                      type: string
                      example: Action title
                    workspace:
                      type: string
                      example: fd8s97f9sd87f89s
                    assignees:
                      type: array
                    projectId: {}
                    customFields:
                      type: array
                      items:
                        type: object
                        properties:
                          _id:
                            type: string
                            example: 1a2b3c4d5e6f7g8gn
                          label:
                            type: string
                            example: customActionField
                          type:
                            type: string
                            example: text
                          rank:
                            type: number
                            example: 2.3843301617611736
                            default: 0
                          dropdownValues:
                            type: array
                          allowMultiSelect:
                            type: boolean
                            example: false
                            default: true
                          id:
                            type: string
                            example: XkvuQsZ6vrLoba8gN
                          value:
                            type: string
                            example: customFieldValue
                          dateValue: {}
                    createdAt:
                      type: string
                      example: '2018-07-27T17:10:49.687Z'
                    modifiedAt:
                      type: string
                      example: '2018-07-30T18:12:10.411Z'
                    createdBy:
                      type: string
                      example: fds879a7fd8s9a
                    modifiedBy:
                      type: string
                      example: fds879a7fd8s9a
                    status:
                      type: string
                      example: In Progress
                    deadline: {}
                    scheduledDate: {}
                    checkedDate: {}
                    parent: {}
                    root: {}
                    hasSubactions:
                      type: boolean
                      example: false
                      default: true
                    estimate: {}
                    loggedTime:
                      type: array
                      items:
                        type: object
                        properties:
                          userId:
                            type: string
                            example: user12345
                          time:
                            type: integer
                            example: 7200
                            default: 0
                          date:
                            type: string
                            example: '2019-01-01T00:00:00.000Z'
                    archived:
                      type: boolean
                      example: false
                      default: true
          '400':
            description: '400'
            content:
              application/json:
                examples:
                  Result:
                    value: '{}'
                schema:
                  type: object
                  properties: {}
        deprecated: false
        x-readme:
          code-samples:
            - language: javascript
              code: |-
                var userId = "USER_ID";
                var actionId = "ACTION_ID";
                var apiKey = "API_KEY";
                var baseUrl = "https://app.hive.com/api/v1/";
                var endpoint = "actions/" + actionId;
                var qs = "?user_id=" + userId + "&api_key=" + apiKey;
                var url = baseUrl + endpoint + qs;

                var data = {
                  status: "In Progress",
                  customFields: [{ label: "customActionField", value: "customFieldValue" }]
                };

                $.ajax({
                  method: "PUT",
                  url: url,
                  data: JSON.stringify(data),
                  contentType: "application/json"
                }).done(function(data) {
                  console.log(data);
                });
          samples-languages:
            - javascript
      delete:
        summary: Delete action
        description: Delete the action by ID
        operationId: actionsactionid-1
        parameters:
          - name: actionId
            in: path
            description: The id of the action
            schema:
              type: string
            required: true
        responses:
          '200':
            description: '200'
            content:
              application/json:
                examples:
                  Result:
                    value: |+
                      {
                          "message": "Action successfully deleted"
                      }

                schema:
                  type: object
                  properties:
                    message:
                      type: string
                      example: Action successfully deleted
          '400':
            description: '400'
            content:
              application/json:
                examples:
                  Result:
                    value: '{}'
                schema:
                  type: object
                  properties: {}
        deprecated: false
        x-readme:
          code-samples:
            - language: javascript
              code: |-
                var userId = "USER_ID";
                var actionId = "ACTION_ID";
                var apiKey = "API_KEY";
                var baseUrl = "https://app.hive.com/api/v1/";
                var endpoint = "actions/" + actionId;
                var qs = "?user_id=" + userId + "&api_key=" + apiKey;
                var url = baseUrl + endpoint + qs;

                $.ajax({
                  method: "DELETE",
                  url: url,
                }).done(function(data) {
                  console.log(data);
                });
          samples-languages:
            - javascript
    /workspaces/{workspaceId}/actions:
      get:
        summary: Get actions
        description: Get all actions for a given workspace that the user has access to
        operationId: workspacesworkspaceidactions
        parameters:
          - name: projectId
            in: query
            description: >-
              An optional project ID to get actions from. By default, all actions
              will be returned regardless of what project they belong to.
            schema:
              type: string
          - name: sortBy
            in: query
            description: >-
              Sort results by an Action Object field (for example, `sortBy=title
              asc`)
            schema:
              type: string
              default: fieldName asc
          - name: workspaceId
            in: path
            description: ID of the workspace
            schema:
              type: string
            required: true
          - name: limit
            in: query
            description: default = 100; min = 1; max = 100
            schema:
              type: string
              default: '100'
          - name: filters
            in: query
            description: >-
              Optional fields to filter by. Filters expects a structure like
              "filters[fieldName]=value". For example, if you wanted to filter to
              just get actions with the status "Completed", you would pass:
              "filters[status]=Completed". Currently, only the following fields
              are supported: "status", "parent", "archived", "milestone",
              "deleted".
            schema:
              type: string
        responses:
          '200':
            description: '200'
            content:
              application/json:
                examples:
                  Result:
                    value: "[\n  {\n    \"id\": \"jArt6JZpezAMZimzy\",\n    \"title\": \"Prepare for weekly product meeting\",\n    \"workspace\": \"12345aZjDQZndHqs\",\n    \"assignees\": [],\n    \"projectId\": null,\n    \"createdAt\": \"2015-07-09T20:33:56.465Z\",\n    \"modifiedAt\": \"2016-08-23T07:49:09.621Z\",\n    \"createdBy\": \"1234abcuJzo4k7F9\",\n    \"modifiedBy\": \"1234abcuJzo4k7F9\",\n    \"status\": \"Unstarted\",\n    \"deadline\": null,\n    \"scheduledDate\": null,\n    \"checkedDate\": null,\n    \"parent\": null,\n    \"root\": null,\n    \"archived\":false,\n    \"deleted\":false,\n    \"hasSubactions\": false,\n    \"estimate\": null,\n    \"estimates\": [\n      {\"userId\":\"user12345\",\"time\":7200}\n    ]\n    \"milestone\": false,\n    \"loggedTime\": [\n      {\n        \"userId\":\"user12345\",\n        \"time\": 7200,\n        \"date\":\"2019-01-01T00:00:00.000Z\"\n      }\n    ],\n  \t\"phaseId\":\"abcdefg9876\",\n    \"phaseName\": \"Planning\",\n    \"priority\": {\n  \t  \"name\":\"Urgent\",\n      \"level\": 1,\n      \"color\": \"#f6781a\",\n      \"_id\": \"abc321\"\n     }\n  }\n]"
          '400':
            description: '400'
            content:
              application/json:
                examples:
                  Result:
                    value: '{}'
                schema:
                  type: object
                  properties: {}
        deprecated: false
        x-readme:
          code-samples:
            - language: javascript
              code: >-
                var userId = "USER_ID";

                var workspaceId = "WORKSPACE_ID";

                var apiKey = "API_KEY";

                var baseUrl = "https://app.hive.com/api/v1/";

                var endpoint = "workspaces/" + workspaceId + "/actions";

                var qs = "?user_id=" + userId + "&api_key=" + apiKey +
                "&sortBy=title asc";

                var url = baseUrl + endpoint + qs;


                $.ajax({
                  url: url,
                }).done(function(data) {
                  console.log(data);
                });
          samples-languages:
            - javascript
    /actions/create:
      post:
        summary: Create action
        description: Get all actions for a given workspace that the user has access to
        operationId: actionscreate-1
        requestBody:
          content:
            application/json:
              schema:
                type: object
                properties:
                  workspace:
                    type: string
                    description: ID of the workspace
                  title:
                    type: string
                    description: Title of the action
                  description:
                    type: string
                    description: Description of the action
                  projectId:
                    type: string
                    description: Assign action to a specific project
                  assignees:
                    type: array
                    description: >-
                      User Ids of action assignees; if value isn't passed the
                      action will be assigned to the user Id of the request
                    items:
                      type: string
                  labels:
                    type: array
                    description: Set Labels (Label IDs) for the Action
                    items:
                      type: string
                  deadline:
                    type: string
                    description: 'Date string to set the deadline (date format: yyyy/mm/dd)'
                  scheduledDate:
                    type: string
                    description: 'Date string to set the deadline (date format: yyyy/mm/dd)'
                    default: Date string to set the start date
                  processId:
                    type: string
                    description: Pass action template id to apply an action template
                  customFields:
                    type: array
                    description: >-
                      Add custom fields to the action: Each object must contain
                      label (string) and value (string)
                    items:
                      properties:
                        label:
                          type: string
                          description: Label of the field
                        value:
                          type: string
                          description: Value of the field
                      type: object
                  parentId:
                    type: string
                    description: ID of an Action to set as the parent for your new Action
                  phaseId:
                    type: string
                    description: >-
                      ID of a project phase which will be assigned to the created
                      action. If both phaseId and phaseName are sent than phaseId
                      will be used
                  phaseName:
                    type: string
                    description: >-
                      Name of a project phase which will be assigned to the
                      created action. If both phaseId and phaseName are sent than
                      phaseId will be used
        responses:
          '200':
            description: '200'
            content:
              application/json:
                examples:
                  Result:
                    value: |-
                      {
                        "id": "qFR6a524nFARukmvF",
                        "title": "This is my action",
                        "workspace": "12345aZjDQZndHqs",
                        "assignees": [],
                        "projectId": null,
                        "customFields": [],
                        "createdAt": "2018-01-23T21:41:40.295Z",
                        "modifiedAt": "2018-01-23T21:41:40.289Z",
                        "createdBy": "12345gfuJzo4k7F9",
                        "modifiedBy": "12345gfuJzo4k7F9",
                        "status": "Unstarted",
                        "deadline": null,
                        "scheduledDate": null,
                        "checkedDate": null,
                        "parent": null,
                        "root": null,
                        "hasSubactions": false,
                        "estimate": null,
                        "loggedTime": []
                      }
                schema:
                  type: object
                  properties:
                    id:
                      type: string
                      example: qFR6a524nFARukmvF
                    title:
                      type: string
                      example: This is my action
                    workspace:
                      type: string
                      example: 12345aZjDQZndHqs
                    assignees:
                      type: array
                    projectId: {}
                    customFields:
                      type: array
                    createdAt:
                      type: string
                      example: '2018-01-23T21:41:40.295Z'
                    modifiedAt:
                      type: string
                      example: '2018-01-23T21:41:40.289Z'
                    createdBy:
                      type: string
                      example: 12345gfuJzo4k7F9
                    modifiedBy:
                      type: string
                      example: 12345gfuJzo4k7F9
                    status:
                      type: string
                      example: Unstarted
                    deadline: {}
                    scheduledDate: {}
                    checkedDate: {}
                    parent: {}
                    root: {}
                    hasSubactions:
                      type: boolean
                      example: false
                      default: true
                    estimate: {}
                    loggedTime:
                      type: array
          '400':
            description: '400'
            content:
              application/json:
                examples:
                  Result:
                    value: '{}'
                schema:
                  type: object
                  properties: {}
        deprecated: false
        x-readme:
          code-samples:
            - language: javascript
              code: |-
                var userId = "USER_ID";
                var workspaceId = "WORKSPACE_ID";
                var apiKey = "API_KEY";
                var baseUrl = "https://app.hive.com/api/v1/";
                var endpoint = "actions/create";
                var qs = "?user_id=" + userId + "&api_key=" + apiKey;
                var url = baseUrl + endpoint + qs;

                var data = {
                  workspace: workspaceId,
                  title: "Test action title",
                  assigned_to: userId,
                  when: "today"
                };

                $.ajax({
                  method: "POST",
                  url: url,
                  data: JSON.stringify(data),
                  contentType: "application/json"
                }).done(function(data) {
                  console.log(data);
                });
          samples-languages:
            - javascript
    /actions/{actionId}/comments:
      get:
        summary: Get action comments
        description: ''
        operationId: actionsactionidcomments
        parameters:
          - name: actionId
            in: path
            description: The id of the action
            schema:
              type: string
            required: true
          - name: limit
            in: query
            description: Number of comments
            schema:
              type: integer
              format: int32
              default: 200
          - name: sortBy
            in: query
            description: You can change to e.g. createdAt asc
            schema:
              type: string
              default: createdAt+desc
        responses:
          '200':
            description: '200'
            content:
              application/json:
                examples:
                  Result:
                    value: |
                      [
                        {
                          "id": "232b3c4d5e6f7g8h1",
                          "attachments": [],
                          "workspace": "w32bac4d5e6f7g8h2",
                          "body": "comment body",
                          "mentions": [],
                          "createdBy": "u32bac4d5e6f7g8h2",
                          "createdAt": "2020-01-04T23:30:54.816Z",
                          "reactions": []
                        }
                      ]
                schema:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 232b3c4d5e6f7g8h1
                      attachments:
                        type: array
                      workspace:
                        type: string
                        example: w32bac4d5e6f7g8h2
                      body:
                        type: string
                        example: comment body
                      mentions:
                        type: array
                      createdBy:
                        type: string
                        example: u32bac4d5e6f7g8h2
                      createdAt:
                        type: string
                        example: '2020-01-04T23:30:54.816Z'
                      reactions:
                        type: array
          '400':
            description: '400'
            content:
              application/json:
                examples:
                  Result:
                    value: '{}'
                schema:
                  type: object
                  properties: {}
        deprecated: false
        x-readme:
          code-samples:
            - language: javascript
              code: |
                var userId = "USER_ID";
                var actionId = "ACTION_ID";
                var apiKey = "API_KEY";
                var baseUrl = "https://app.hive.com/api/v1/";
                var endpoint = "/actions/" + actionId + '/comments';
                var qs = "?user_id=" + userId + "&api_key=" + apiKey;
                var url = baseUrl + endpoint + qs;

                $.ajax({
                  url: url,
                }).done(function(data) {
                  console.log(data);
                });
          samples-languages:
            - javascript
      post:
        summary: Create action comment
        description: ''
        operationId: actionsactionidcomments-1
        parameters:
          - name: actionId
            in: path
            description: The id of the action
            schema:
              type: string
            required: true
        requestBody:
          content:
            application/json:
              schema:
                type: object
                properties:
                  body:
                    type: string
                    description: Number of comments
        responses:
          '200':
            description: '200'
            content:
              application/json:
                examples:
                  Result:
                    value: |-
                      {
                        "message": "Action comment successfully inserted",
                        "comment": {
                          "id": "232b3c4d5e6f7g8h1",
                          "body": "comment body",
                          "workspace": "w32bac4d5e6f7g8h2",
                          "createdAt": "2019-01-01T00:00:00.000Z",
                          "createdBy": "u32bac4d5e6f7g8h2",
                          "attachments": [],
                          "reactions": [],
                          "mentions": []
                        }
                      }
                schema:
                  type: object
                  properties:
                    message:
                      type: string
                      example: Action comment successfully inserted
                    comment:
                      type: object
                      properties:
                        id:
                          type: string
                          example: 232b3c4d5e6f7g8h1
                        body:
                          type: string
                          example: comment body
                        workspace:
                          type: string
                          example: w32bac4d5e6f7g8h2
                        createdAt:
                          type: string
                          example: '2019-01-01T00:00:00.000Z'
                        createdBy:
                          type: string
                          example: u32bac4d5e6f7g8h2
                        attachments:
                          type: array
                        reactions:
                          type: array
                        mentions:
                          type: array
          '400':
            description: '400'
            content:
              application/json:
                examples:
                  Result:
                    value: '{}'
                schema:
                  type: object
                  properties: {}
        deprecated: false
        x-readme:
          code-samples:
            - language: javascript
              code: |-
                var userId = "USER_ID";
                var actionId = "ACTION_ID";
                var apiKey = "API_KEY";
                var baseUrl = "https://app.hive.com/api/v1/";
                var endpoint = "actions/" + actionId + "/comments";
                var qs = "?user_id=" + userId + "&api_key=" + apiKey;
                var url = baseUrl + endpoint + qs;

                var data = {
                  body: "New comment body"
                };

                $.ajax({
                  method: "POST",
                  url: url,
                  data: JSON.stringify(data),
                  contentType: "application/json"
                }).done(function(data) {
                  console.log(data);
                });
          samples-languages:
            - javascript
    /actions/{actionId}/attachments:
      get:
        summary: Get action attachments
        description: >-
          Retrieves all attachments uploaded directly to the action card itself,
          or inserted using either of the available action attachment POST
          endpoints. Does not include attachments uploaded from 3rd party file
          store services, or attachments nested within comments on an action card.
        operationId: get-action-attachments
        parameters:
          - name: actionId
            in: path
            description: The ID of the action.
            schema:
              type: string
            required: true
        responses:
          '200':
            description: '200'
            content:
              application/json:
                examples:
                  Result:
                    value: |-
                      [
                          {
                              "_id": "AzwXZkTsdH32nTPur",
                              "name": "Hello world",
                              "workspace": "9driAwqZjDQZndHqs",
                              "url": "https://hostname.com/file/path",
                              "createdAt": "2050-10-27T22:09:38.137Z",
                              "createdBy": "AnMyD2YXX4vcdTgxw",
                              "modifiedAt": "2050-10-27T22:09:38.717Z",
                              "modifiedBy": "AnMyD2YXX4vcdTgxw"
                          }
                      ]
                schema:
                  type: array
                  items:
                    type: object
                    properties:
                      _id:
                        type: string
                        example: AzwXZkTsdH32nTPur
                      name:
                        type: string
                        example: Hello world
                      workspace:
                        type: string
                        example: 9driAwqZjDQZndHqs
                      url:
                        type: string
                        example: https://hostname.com/file/path
                      createdAt:
                        type: string
                        example: '2050-10-27T22:09:38.137Z'
                      createdBy:
                        type: string
                        example: AnMyD2YXX4vcdTgxw
                      modifiedAt:
                        type: string
                        example: '2050-10-27T22:09:38.717Z'
                      modifiedBy:
                        type: string
                        example: AnMyD2YXX4vcdTgxw
          '400':
            description: '400'
            content:
              application/json:
                examples:
                  Result:
                    value: '{}'
                schema:
                  type: object
                  properties: {}
        deprecated: false
        x-readme:
          code-samples:
            - language: javascript
              code: |-
                var userId = "USER_ID";
                var actionId = "ACTION_ID";
                var apiKey = "API_KEY";
                var baseUrl = "https://app.hive.com/api/v1";
                var endpoint = "/actions/" + actionId + '/attachments';
                var qs = "?user_id=" + userId + "&api_key=" + apiKey;
                var url = baseUrl + endpoint + qs;

                $.ajax({
                  url: url,
                }).done(function(data) {
                  console.log(data);
                });
          samples-languages:
            - javascript
      post:
        summary: Create action attachment
        description: Attaches a file to an action.
        operationId: create-file
        parameters:
          - name: actionId
            in: path
            description: The ID of the action.
            schema:
              type: string
            required: true
        requestBody:
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
                    description: File URL.
        responses:
          '200':
            description: '200'
            content:
              application/json:
                examples:
                  Result:
                    value: |-
                      {
                          "message": "Action attachment successfully added"
                      }
                schema:
                  type: object
                  properties:
                    message:
                      type: string
                      example: Action attachment successfully added
          '400':
            description: '400'
            content:
              application/json:
                examples:
                  Result:
                    value: '{}'
                schema:
                  type: object
                  properties: {}
        deprecated: false
        x-readme:
          code-samples:
            - language: javascript
              code: |-
                var userId = "USER_ID";
                var actionId = "ACTION_ID";
                var apiKey = "API_KEY";
                var baseUrl = "https://app.hive.com/api/v1";
                var endpoint = "/actions/" + actionId + '/attachments';
                var qs = "?user_id=" + userId + "&api_key=" + apiKey;
                var url = baseUrl + endpoint + qs

                var data = {
                  url: "https://domain.com/file/path"
                };

                $.ajax({
                  url: url,
                  data: JSON.stringify(data),
                  contentType: "application/json"
                }).done(function(data) {
                  console.log(data);
                });
          samples-languages:
            - javascript
    /actions/{actionId}/attachments/{attachmentId}:
      get:
        summary: Get attachment by attachment ID
        description: >-
          Returns the requested file object. File must exist on the corresponding
          action.
        operationId: get-specific-file-by-file-id
        parameters:
          - name: actionId
            in: path
            description: The ID of the action.
            schema:
              type: string
            required: true
          - name: attachmentId
            in: path
            description: The ID of the file attachment.
            schema:
              type: string
            required: true
        responses:
          '200':
            description: '200'
            content:
              application/json:
                examples:
                  Result:
                    value: |-
                      {
                        "_id": "AzwXZkTsdH32nTPur",
                        "name": "Hello world",
                        "workspace": "9driAwqZjDQZndHqs",
                        "url": "https://hostname.com/file/path",
                        "createdAt": "2050-10-27T22:09:38.137Z",
                        "createdBy": "AnMyD2YXX4vcdTgxw",
                        "modifiedAt": "2050-10-27T22:09:38.717Z",
                        "modifiedBy": "AnMyD2YXX4vcdTgxw"
                      }
                schema:
                  type: object
                  properties:
                    _id:
                      type: string
                      example: AzwXZkTsdH32nTPur
                    name:
                      type: string
                      example: Hello world
                    workspace:
                      type: string
                      example: 9driAwqZjDQZndHqs
                    url:
                      type: string
                      example: https://hostname.com/file/path
                    createdAt:
                      type: string
                      example: '2050-10-27T22:09:38.137Z'
                    createdBy:
                      type: string
                      example: AnMyD2YXX4vcdTgxw
                    modifiedAt:
                      type: string
                      example: '2050-10-27T22:09:38.717Z'
                    modifiedBy:
                      type: string
                      example: AnMyD2YXX4vcdTgxw
          '400':
            description: '400'
            content:
              application/json:
                examples:
                  Result:
                    value: '{}'
                schema:
                  type: object
                  properties: {}
        deprecated: false
        x-readme:
          code-samples:
            - language: javascript
              code: >-
                var userId = "USER_ID";

                var actionId = "ACTION_ID";

                var apiKey = "API_KEY";

                var baseUrl = "https://app.hive.com/api/v1";

                var endpoint = "/actions/" + actionId + '/attachments/' +
                attachmentId

                var qs = "?user_id=" + userId + "&api_key=" + apiKey;

                var url = baseUrl + endpoint + qs;


                $.ajax({
                  url: url,
                }).done(function(data) {
                  console.log(data);
                });
          samples-languages:
            - javascript
    /actions/{actionId}/apply-template:
      post:
        summary: Apply action template
        description: ''
        operationId: apply-action-template
        parameters:
          - name: actionId
            in: path
            description: Id of the action
            schema:
              type: string
            required: true
        requestBody:
          content:
            application/json:
              schema:
                type: object
                required:
                  - processId
                properties:
                  processId:
                    type: string
                    description: Id of the existing action template (workflow)
        responses:
          '200':
            description: '200'
            content:
              application/json:
                examples:
                  Result:
                    value: |-
                      {
                        message: "Action template successfully applied"
                      }
          '400':
            description: '400'
            content:
              application/json:
                examples:
                  Result:
                    value: '{}'
                schema:
                  type: object
                  properties: {}
        deprecated: false
        x-readme:
          code-samples:
            - language: javascript
              code: "var userId = \"USER_ID\";\nvar actionId = \"ACTION_ID\";\nvar apiKey = \"API_KEY\";\nvar baseUrl = \"https://app.hive.com/api/v1/\";\nvar endpoint = \"actions/\" + actionId + \"/apply-template\";\nvar qs = \"?user_id=\" + userId + \"&api_key=\" + apiKey;\nvar url = baseUrl + endpoint + qs;\n\nvar data = {\n\tprocessId: \"existingWorkflowId\"\n};\n\n$.ajax({\n  method: \"POST\",\n  url: url,\n  data: JSON.stringify(data),\n  contentType: \"application/json\"\n}).done(function(data) {\n  console.log(data);\n});"
          samples-languages:
            - javascript
    /workspaces/{workspaceId}/actiontemplates:
      get:
        summary: Get action templates
        description: >-
          Get all action templates for a given workspace that the user has access
          to
        operationId: workspacesworkspaceidworkflows
        parameters:
          - name: workspaceId
            in: path
            description: ID of the workspace
            schema:
              type: string
            required: true
        responses:
          '200':
            description: '200'
            content:
              application/json:
                examples:
                  Result:
                    value: |
                      [
                        {
                          "id": "BrhDWFRzJDPMcitEk",
                          "name": "Blog Post",
                          "createdAt": "2017-05-18T15:26:17.407Z",
                          "modifiedAt": "2017-05-19T02:25:06.190Z",
                          "createdBy": "1234abcuJzo4k7F9",
                          "modifiedBy": "1234abcuJzo4k7F9" 
                        },
                        {
                          "id": "J7ixnuHFP4kmncLun",
                          "name": "Product Research",
                          "createdAt": "2017-05-18T15:26:17.407Z",
                          "modifiedAt": "2017-05-19T02:25:06.190Z",
                          "createdBy": "1234abcuJzo4k7F9",
                          "modifiedBy": "1234abcuJzo4k7F9"   
                        }
                      ]
                schema:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        example: BrhDWFRzJDPMcitEk
                      name:
                        type: string
                        example: Blog Post
                      createdAt:
                        type: string
                        example: '2017-05-18T15:26:17.407Z'
                      modifiedAt:
                        type: string
                        example: '2017-05-19T02:25:06.190Z'
                      createdBy:
                        type: string
                        example: 1234abcuJzo4k7F9
                      modifiedBy:
                        type: string
                        example: 1234abcuJzo4k7F9
          '400':
            description: '400'
            content:
              application/json:
                examples:
                  Result:
                    value: '{}'
                schema:
                  type: object
                  properties: {}
        deprecated: false
        x-readme:
          code-samples:
            - language: javascript
              code: |-
                var userId = "USER_ID";
                var workspaceId = "WORKSPACE_ID";
                var apiKey = "API_KEY";
                var baseUrl = "https://app.hive.com/api/v1/";
                var endpoint = "workspaces/" + workspaceId + "/actiontemplates";
                var qs = "?user_id=" + userId + "&api_key=" + apiKey;
                var url = baseUrl + endpoint + qs;

                $.ajax({
                  url: url,
                }).done(function(data) {
                  console.log(data);
                });
          samples-languages:
            - javascript
    /actions/{actionId}/action-history:
      get:
        summary: Get action history
        description: ''
        operationId: get-action-history
        parameters:
          - name: actionId
            in: path
            description: The id of the action
            schema:
              type: string
            required: true
        responses:
          '200':
            description: '200'
            content:
              application/json:
                examples:
                  Result:
                    value: |
                      [
                        {
                          "id": "232b3c4d5e6f7g8h1",
                          "body":"comment body",
                          "actionId":"w32bac4d5e6f7g8h2"
                          "date":"2020-01-04T23:30:54.816Z"
                        }
                      ]
          '400':
            description: '400'
            content:
              application/json:
                examples:
                  Result:
                    value: '{}'
                schema:
                  type: object
                  properties: {}
        deprecated: false
    /messages/create:
      post:
        summary: Create message
        description: Create a new message
        operationId: messagescreate
        requestBody:
          content:
            application/json:
              schema:
                type: object
                properties:
                  workspace:
                    type: string
                    description: ID of the workspace
                  body:
                    type: string
                    description: Body of the message
                  senderName:
                    type: string
                    description: The name of the sender
                  senderPicture:
                    type: string
                    description: URL of the sender picture
                  containerId:
                    type: string
                    description: Group the message will be created in
                  color:
                    type: string
                    description: >-
                      Optional background color for the message. Options are
                      yellow, purple, green, red, gray
        responses:
          '200':
            description: '200'
            content:
              application/json:
                examples:
                  Result:
                    value: |
                      {
                        "id": "2bK58icvKeJSzvupB",
                        "sender": "12345gfuJzo4k7F9",
                        "workspace": "12345naZjDQZndHqs",
                        "containerId": "12345ZTJqWY2QK2B",
                        "body": "This is a new message",
                        "senderPicture": "https://cdn2.iconfinder.com/data/icons/botcons/100/android-bot-round-ears-eyes-virus-brown-256.png",
                        "senderFirstName": "My Bot",
                        "createdBy": "12345gfuJzo4k7F9",
                        "modifiedBy": "12345xgfuJzo4k7F9",
                        "createdAt": "2018-01-23T22:14:24.862Z",
                        "modifiedAt": "2018-01-23T22:14:24.862Z"
                      }
                schema:
                  type: object
                  properties:
                    id:
                      type: string
                      example: 2bK58icvKeJSzvupB
                    sender:
                      type: string
                      example: 12345gfuJzo4k7F9
                    workspace:
                      type: string
                      example: 12345naZjDQZndHqs
                    containerId:
                      type: string
                      example: 12345ZTJqWY2QK2B
                    body:
                      type: string
                      example: This is a new message
                    senderPicture:
                      type: string
                      example: >-
                        https://cdn2.iconfinder.com/data/icons/botcons/100/android-bot-round-ears-eyes-virus-brown-256.png
                    senderFirstName:
                      type: string
                      example: My Bot
                    createdBy:
                      type: string
                      example: 12345gfuJzo4k7F9
                    modifiedBy:
                      type: string
                      example: 12345xgfuJzo4k7F9
                    createdAt:
                      type: string
                      example: '2018-01-23T22:14:24.862Z'
                    modifiedAt:
                      type: string
                      example: '2018-01-23T22:14:24.862Z'
          '400':
            description: '400'
            content:
              application/json:
                examples:
                  Result:
                    value: '{}'
                schema:
                  type: object
                  properties: {}
        deprecated: false
        x-readme:
          code-samples:
            - language: javascript
              code: |-
                var userId = "USER_ID";
                var workspaceId = "WORKSPACE_ID";
                var groupId = "GROUP_ID";
                var apiKey = "API_KEY";
                var baseUrl = "https://app.hive.com/api/v1/";
                var endpoint = "messages/create";
                var qs = "?user_id=" + userId + "&api_key=" + apiKey;
                var url = baseUrl + endpoint + qs;

                var data = {
                  workspace: workspaceId,
                  body: "Hi! this message was sent from the API.",
                  senderName: "Automated Messages",
                  senderPicture:
                    "https://cdn2.iconfinder.com/data/icons/botcons/100/android-bot-round-ears-eyes-virus-brown-256.png",
                  containerId: groupId
                };

                $.ajax({
                  method: "POST",
                  url: url,
                  data: JSON.stringify(data),
                  contentType: "application/json"
                }).done(function(data) {
                  console.log(data);
                });
          samples-languages:
            - javascript
    /projects/{projectId}:
      get:
        summary: Get project
        description: Get a project by id
        operationId: projectsprojectid-2
        parameters:
          - name: projectId
            in: path
            description: ID of the project to update
            schema:
              type: string
            required: true
        responses:
          '200':
            description: '200'
            content:
              application/json:
                examples:
                  Result:
                    value: |
                      {
                        "project": {
                          "id": "123ABC567XYZ",
                          "name": "New project name",
                          "description": "",
                          "startDate": null,
                          "endDate": null,
                          "accessOption": "private",
                          "sharingType": "me",
                          "members": [],
                          "template": false,
                          "createdAt": "2017-05-18T15:26:17.407Z",
                          "modifiedAt": "2017-05-19T02:25:06.190Z",
                          "createdBy": "1234abcuJzo4k7F9",
                          "modifiedBy": "1234abcuJzo4k7F9",
                          "projectCustomFields": [
                            {
                              "label": "Budget",
                              "value": "$5000000",
                              "dropdownValues": [],
                              "selectedValues": [],
                              "type": "text",
                              "_id": "1234abcuJzo4k7E1",
                              "hidden": false
                            }
                          ],
                          "color": "#3fcaca",
                          "parentProject": null,
                          "phases": [],
                          "budget":0,
                          "resourcePlaceholderIds": []
                        }
                      }
                schema:
                  type: object
                  properties:
                    project:
                      type: object
                      properties:
                        id:
                          type: string
                          example: 123ABC567XYZ
                        name:
                          type: string
                          example: New project name
                        description:
                          type: string
                          example: ''
                        startDate: {}
                        endDate: {}
                        accessOption:
                          type: string
                          example: private
                        sharingType:
                          type: string
                          example: me
                        members:
                          type: array
                        template:
                          type: boolean
                          example: false
                          default: true
                        createdAt:
                          type: string
                          example: '2017-05-18T15:26:17.407Z'
                        modifiedAt:
                          type: string
                          example: '2017-05-19T02:25:06.190Z'
                        createdBy:
                          type: string
                          example: 1234abcuJzo4k7F9
                        modifiedBy:
                          type: string
                          example: 1234abcuJzo4k7F9
                        projectCustomFields:
                          type: array
                          items:
                            type: object
                            properties:
                              label:
                                type: string
                                example: Budget
                              value:
                                type: string
                                example: $5000000
                              dropdownValues:
                                type: array
                              selectedValues:
                                type: array
                              type:
                                type: string
                                example: text
                              _id:
                                type: string
                                example: 1234abcuJzo4k7E1
                              hidden:
                                type: boolean
                                example: false
                                default: true
                        color:
                          type: string
                          example: '#3fcaca'
                        parentProject: {}
                        phases:
                          type: array
                        budget:
                          type: integer
                          example: 0
                          default: 0
                        resourcePlaceholderIds:
                          type: array
          '400':
            description: '400'
            content:
              application/json:
                examples:
                  Result:
                    value: '{}'
                schema:
                  type: object
                  properties: {}
        deprecated: false
        x-readme:
          code-samples:
            - language: javascript
              code: |-
                var userId = "USER_ID";
                var projectId = "PROJECT_ID";
                var apiKey = "API_KEY";
                var baseUrl = "https://app.hive.com/api/v1/";
                var endpoint = "projects/" + projectId;
                var qs = "?user_id=" + userId + "&api_key=" + apiKey;
                var url = baseUrl + endpoint + qs;

                $.ajax({
                  url: url
                }).done(function(data) {
                  console.log(data);
                });
          samples-languages:
            - javascript
      put:
        summary: Update project
        description: Update a project by id
        operationId: projectsprojectid-1
        parameters:
          - name: projectId
            in: path
            description: ID of the project to update
            schema:
              type: string
            required: true
        requestBody:
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                    description: Project name
                  description:
                    type: string
                    description: Project description
                  startDate:
                    type: string
                    description: Start date of the Project. Pass null value to unset
                    format: date
                  endDate:
                    type: string
                    description: End date of the Project. Pass null value to unset
                    format: date
                  color:
                    type: string
                    description: Optional hex code for project color
                  accessOption:
                    type: string
                    description: Project access permissions. Either public or private
                  parentProject:
                    type: string
                    default: Id of parent project
                  sharingType:
                    type: string
                    description: >-
                      Sharing type of the project (one of "everyone", "custom" or
                      "me")
                  members:
                    type: array
                    description: Array of User IDs to set as members of the project.
                    items:
                      type: string
                  teams:
                    type: array
                    description: Array of Team IDs to set as members of the project.
                    items:
                      type: string
                  archived:
                    type: boolean
                    default: false
                  template:
                    type: array
                    description: >-
                      template could be a string - ID of template to apply. Array
                      of IDs. Object - object with settings for template
                      appliance. Array of objects with settings for template
                      appliance
                    items:
                      properties:
                        templateId:
                          type: string
                          description: ID of template to apply
                        importWith:
                          type: object
                          properties:
                            projectCustomFields:
                              type: boolean
                              default: false
                            includeWeekends:
                              type: boolean
                              default: false
                            customFields:
                              type: boolean
                              default: false
                            ganttGroupBy:
                              type: boolean
                              default: false
                            description:
                              type: boolean
                              default: false
                            attachments:
                              type: boolean
                              default: false
                            permissions:
                              type: boolean
                              default: false
                            assignees:
                              type: boolean
                              default: false
                            deadline:
                              type: boolean
                              default: false
                            statuses:
                              type: boolean
                              default: false
                            sortType:
                              type: boolean
                              default: false
                            viewType:
                              type: boolean
                              default: false
                            labels:
                              type: boolean
                              default: false
                            actionDateSync:
                              type: boolean
                              default: false
                            ganttAutoScheduling:
                              type: boolean
                              default: false
                            automationWorkflows:
                              type: boolean
                              default: false
                            approvals:
                              type: boolean
                              default: false
                            projectPermissions:
                              type: boolean
                              default: false
                            advancedSettings:
                              type: boolean
                              description: Controls whether advanced settings is imported
                              default: false
                        template:
                          type: boolean
                          description: >-
                            true - means that it is a project template. false - 
                            common project
                          default: false
                        projectPeopleIds:
                          type: array
                          default: []
                          items:
                            type: string
                        overrideLabels:
                          type: boolean
                          default: false
                        shouldRemoveFromParentProjectIfNoParent:
                          type: boolean
                          default: true
                      type: object
                  budget:
                    type: integer
                    description: Budget value for the Project
                    format: int32
                  isDraftMode:
                    type: boolean
                    description: >-
                      Boolean value representing whether a project is in Draft
                      Mode state or not. Pass boolean value to update Draft Mode
                      state of the project.
        responses:
          '200':
            description: '200'
            content:
              application/json:
                examples:
                  Result:
                    value: "{\n  \"message\": \"Project was updated successfully\",\n  \"project\": {\n    \"id\": \"123ABC567XYZ\",\n    \"name\": \"New project name\",\n    \"description\": \"A new project description right here!\",\n    \"startDate\": \"2019-04-01T00:00:00.000Z\",\n\t\t\"endDate\": \"2019-04-01T00:00:00.000Z\",\n    \"accessOption\": \"public\",\n    \"sharingType\": \"everyone\",\n    \"members\": [],\n    \"template\": false,\n    \"createdAt\": \"2019-12-20T19:41:13.283Z\",\n    \"modifiedAt\": \"2020-01-04T23:53:41.413Z\",\n    \"createdBy\": \"1234abcuJzo4k7F9\",\n    \"modifiedBy\": \"1234abcuJzo4k7F9\",\n    \"projectCustomFields\": [\n      {\n        \"label\": \"Budget\",\n        \"value\": \"$5000000\",\n        \"dropdownValues\": [],\n        \"selectedValues\": [],\n        \"type\": \"text\",\n        \"_id\": \"1234abcuJzo4k7E1\",\n        \"hidden\": false\n      }\n    ],\n    \"color\": \"#F2F2F2\",\n    \"parentProject\": \"parent123\",\n    \"phases\": [],\n    \"resourcePlaceholderIds\": []\n  }\n}\n"
                schema:
                  type: object
                  properties:
                    message:
                      type: string
                      example: Project was updated successfully
                    project:
                      type: object
                      properties:
                        id:
                          type: string
                          example: 123ABC567XYZ
                        name:
                          type: string
                          example: New project name
                        description:
                          type: string
                          example: A new project description right here!
                        startDate:
                          type: string
                          example: '2019-04-01T00:00:00.000Z'
                        endDate:
                          type: string
                          example: '2019-04-01T00:00:00.000Z'
                        accessOption:
                          type: string
                          example: public
                        sharingType:
                          type: string
                          example: everyone
                        members:
                          type: array
                        template:
                          type: boolean
                          example: false
                          default: true
                        createdAt:
                          type: string
                          example: '2019-12-20T19:41:13.283Z'
                        modifiedAt:
                          type: string
                          example: '2020-01-04T23:53:41.413Z'
                        createdBy:
                          type: string
[...]
