publishJson:
  company: HubSpot
  serviceName: CRM
  sdkName: hub-spot-crm-{language}-sdk
  clientName: HubSpotCrm
  metaDescription: >-
    HubSpot is a Massachusetts-based CRM platform that provides solutions such
    as marketing automation, meeting scheduling and data quality automation for
    businesses.
  apiStatusUrls: inherit
  homepage: hubspot.com
  developerDocumentation: developers.hubspot.com/docs/api/overview
  categories:
    - crm
rawSpecString: |
  openapi: 3.0.1
  info:
    title: Line Items
    description: ''
    version: v3
    x-hubspot-product-tier-requirements:
      marketing: FREE
      sales: FREE
      service: FREE
      cms: FREE
    x-hubspot-documentation-banner: NONE
    x-hubspot-api-use-case: >-
      When creating a set of quotes for sales reps to send to potential buyers,
      use this API to add goods and services to the quotes.
    x-hubspot-related-documentation:
      - name: Products Guide
        url: https://hubspot.dev/guides/api/crm/products
      - name: Pipelines Guide
        url: https://hubspot.dev/guides/api/crm/pipelines
      - name: Companies Guide
        url: https://hubspot.dev/guides/api/crm/companies
      - name: Call SDK Guide
        url: https://hubspot.dev/guides/api/crm/extensions/calling-sdk
      - name: Quotes guide
        url: https://hubspot.dev/guides/api/crm/quotes
      - name: Deals Guide
        url: https://hubspot.dev/guides/api/crm/deals
      - name: Import CRM Guide
        url: https://hubspot.dev/guides/api/crm/imports
      - name: Custom Object Guide
        url: https://hubspot.dev/guides/api/crm/objects/crm-custom-objects
      - name: Properties Guide
        url: https://hubspot.dev/guides/api/crm/properties
      - name: Owners Guide
        url: https://hubspot.dev/guides/api/crm/owners
      - name: Timeline Events Guide
        url: https://hubspot.dev/guides/api/crm/extensions/timeline
      - name: Contacts Guide
        url: https://hubspot.dev/guides/api/crm/contacts
      - name: Feedback Submissions Guide
        url: https://hubspot.dev/guides/api/crm/feedback-submissions
      - name: Video Conference Guide
        url: https://hubspot.dev/guides/api/crm/extensions/video-conferencing
      - name: Tickets Guide
        url: https://hubspot.dev/guides/api/crm/tickets
      - name: Line Items Guide
        url: https://hubspot.dev/guides/api/crm/line-items
    x-hubspot-introduction: >-
      Use the line items API to add instances of products to deals and quotes. You
      can create line items from existing products or create them as custom line
      items with no product attached.
  servers:
    - url: https://api.hubapi.com
  tags:
    - name: Pipeline Stage Audits
      description: ''
      x-hubspot-tag-name-english-source: Pipeline Stage Audits
    - name: Pipelines
      description: ''
      x-hubspot-tag-name-english-source: Pipelines
    - name: Pipeline Audits
      description: ''
      x-hubspot-tag-name-english-source: Pipeline Audits
    - name: Pipeline Stages
      description: ''
      x-hubspot-tag-name-english-source: Pipeline Stages
    - name: Recording_Settings
      description: ''
      x-hubspot-tag-name-english-source: Recording_Settings
    - name: Public_Imports
      description: ''
      x-hubspot-tag-name-english-source: Public_Imports
    - name: Core
    - name: Public_Object_Schemas
    - name: Batch
      description: ''
      x-hubspot-tag-name-english-source: Batch
    - name: Groups
      description: ''
      x-hubspot-tag-name-english-source: Groups
    - name: Core
      description: ''
      x-hubspot-tag-name-english-source: Core
    - name: Owners
      description: ''
      x-hubspot-tag-name-english-source: Owners
    - name: Events
    - name: Templates
    - name: Tokens
    - name: Settings
      description: ''
      x-hubspot-tag-name-english-source: Settings
    - name: Batch
    - name: Basic
    - name: Public_Object
    - name: GDPR
    - name: Search
  paths:
    /crm/v3/objects/products/batch/read:
      post:
        tags:
          - Batch
        summary: Read a batch of products by internal ID, or unique property values
        operationId: post-/crm/v3/objects/products/batch/read_read
        parameters:
          - name: archived
            in: query
            description: Whether to return only results that have been archived.
            required: false
            style: form
            explode: true
            schema:
              type: boolean
              default: false
        requestBody:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchReadInputSimplePublicObjectId'
          required: true
        responses:
          '200':
            description: successful operation
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/BatchResponseSimplePublicObject'
          '207':
            description: multiple statuses
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/BatchResponseSimplePublicObjectWithErrors'
          default:
            $ref: '#/components/responses/Error'
        security:
          - oauth2_legacy:
              - e-commerce
          - oauth2: []
          - private_apps_legacy:
              - e-commerce
          - private_apps: []
    /crm/v3/objects/products/{productId}:
      get:
        tags:
          - Basic
        summary: Read
        description: >-
          Read an Object identified by `{productId}`. `{productId}` refers to the
          internal object ID by default, or optionally any unique property value
          as specified by the `idProperty` query param.  Control what is returned
          via the `properties` query param.
        operationId: get-/crm/v3/objects/products/{productId}_getById
        parameters:
          - name: productId
            in: path
            required: true
            style: simple
            explode: false
            schema:
              type: string
          - name: properties
            in: query
            description: >-
              A comma separated list of the properties to be returned in the
              response. If any of the specified properties are not present on the
              requested object(s), they will be ignored.
            required: false
            style: form
            explode: true
            schema:
              type: array
              items:
                type: string
          - name: propertiesWithHistory
            in: query
            description: >-
              A comma separated list of the properties to be returned along with
              their history of previous values. If any of the specified properties
              are not present on the requested object(s), they will be ignored.
            required: false
            style: form
            explode: true
            schema:
              type: array
              items:
                type: string
          - name: associations
            in: query
            description: >-
              A comma separated list of object types to retrieve associated IDs
              for. If any of the specified associations do not exist, they will be
              ignored.
            required: false
            style: form
            explode: true
            schema:
              type: array
              items:
                type: string
          - name: archived
            in: query
            description: Whether to return only results that have been archived.
            required: false
            style: form
            explode: true
            schema:
              type: boolean
              default: false
          - name: idProperty
            in: query
            description: The name of a property whose values are unique for this object type
            required: false
            style: form
            explode: true
            schema:
              type: string
        responses:
          '200':
            description: successful operation
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/SimplePublicObjectWithAssociations'
          default:
            $ref: '#/components/responses/Error'
        security:
          - oauth2_legacy:
              - e-commerce
          - oauth2: []
          - private_apps_legacy:
              - e-commerce
          - private_apps: []
      delete:
        tags:
          - Basic
        summary: Archive
        description: Move an Object identified by `{productId}` to the recycling bin.
        operationId: delete-/crm/v3/objects/products/{productId}_archive
        parameters:
          - name: productId
            in: path
            required: true
            style: simple
            explode: false
            schema:
              type: string
        responses:
          '204':
            description: No content
            content: {}
          default:
            $ref: '#/components/responses/Error'
        security:
          - oauth2_legacy:
              - e-commerce
          - oauth2: []
          - private_apps_legacy:
              - e-commerce
          - private_apps: []
      patch:
        tags:
          - Basic
        summary: Update
        description: >-
          Perform a partial update of an Object identified by `{productId}`.
          `{productId}` refers to the internal object ID by default, or optionally
          any unique property value as specified by the `idProperty` query param.
          Provided property values will be overwritten. Read-only and non-existent
          properties will be ignored. Properties values can be cleared by passing
          an empty string.
        operationId: patch-/crm/v3/objects/products/{productId}_update
        parameters:
          - name: productId
            in: path
            required: true
            style: simple
            explode: false
            schema:
              type: string
          - name: idProperty
            in: query
            description: The name of a property whose values are unique for this object type
            required: false
            style: form
            explode: true
            schema:
              type: string
        requestBody:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimplePublicObjectInput'
          required: true
        responses:
          '200':
            description: successful operation
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/SimplePublicObject'
          default:
            $ref: '#/components/responses/Error'
        security:
          - oauth2_legacy:
              - e-commerce
          - oauth2: []
          - private_apps_legacy:
              - e-commerce
          - private_apps: []
    /crm/v3/objects/products/merge:
      post:
        tags:
          - Public_Object
        summary: Merge two products with same type
        operationId: post-/crm/v3/objects/products/merge_merge
        parameters: []
        requestBody:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicMergeInput'
          required: true
        responses:
          '200':
            description: successful operation
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/SimplePublicObject'
          default:
            $ref: '#/components/responses/Error'
        security:
          - oauth2_legacy:
              - e-commerce
          - oauth2: []
          - private_apps_legacy:
              - e-commerce
          - private_apps: []
    /crm/v3/objects/products/batch/archive:
      post:
        tags:
          - Batch
        summary: Archive a batch of products by ID
        operationId: post-/crm/v3/objects/products/batch/archive_archive
        parameters: []
        requestBody:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchInputSimplePublicObjectId'
          required: true
        responses:
          '204':
            description: No content
            content: {}
          default:
            $ref: '#/components/responses/Error'
        security:
          - oauth2_legacy:
              - e-commerce
          - oauth2: []
          - private_apps_legacy:
              - e-commerce
          - private_apps: []
    /crm/v3/objects/products/batch/create:
      post:
        tags:
          - Batch
        summary: Create a batch of products
        operationId: post-/crm/v3/objects/products/batch/create_create
        parameters: []
        requestBody:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchInputSimplePublicObjectInputForCreate'
          required: true
        responses:
          '201':
            description: successful operation
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/BatchResponseSimplePublicObject'
          '207':
            description: multiple statuses
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/BatchResponseSimplePublicObjectWithErrors'
          default:
            $ref: '#/components/responses/Error'
        security:
          - oauth2_legacy:
              - e-commerce
          - oauth2: []
          - private_apps_legacy:
              - e-commerce
          - private_apps: []
    /crm/v3/objects/products/batch/update:
      post:
        tags:
          - Batch
        summary: Update a batch of products
        operationId: post-/crm/v3/objects/products/batch/update_update
        parameters: []
        requestBody:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchInputSimplePublicObjectBatchInput'
          required: true
        responses:
          '200':
            description: successful operation
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/BatchResponseSimplePublicObject'
          '207':
            description: multiple statuses
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/BatchResponseSimplePublicObjectWithErrors'
          default:
            $ref: '#/components/responses/Error'
        security:
          - oauth2_legacy:
              - e-commerce
          - oauth2: []
          - private_apps_legacy:
              - e-commerce
          - private_apps: []
    /crm/v3/objects/products/gdpr-delete:
      post:
        tags:
          - GDPR
        summary: GDPR DELETE
        description: >-
          Permanently delete a contact and all associated content to follow GDPR.
          Use optional property 'idProperty' set to 'email' to identify contact by
          email address. If email address is not found, the email address will be
          added to a blocklist and prevent it from being used in the future.
        operationId: post-/crm/v3/objects/products/gdpr-delete_purge
        parameters: []
        requestBody:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicGdprDeleteInput'
          required: true
        responses:
          '204':
            description: No content
            content: {}
          default:
            $ref: '#/components/responses/Error'
        security:
          - oauth2_legacy:
              - e-commerce
          - oauth2: []
          - private_apps_legacy:
              - e-commerce
          - private_apps: []
    /crm/v3/objects/products:
      get:
        tags:
          - Basic
        summary: List
        description: >-
          Read a page of products. Control what is returned via the `properties`
          query param.
        operationId: get-/crm/v3/objects/products_getPage
        parameters:
          - name: limit
            in: query
            description: The maximum number of results to display per page.
            required: false
            style: form
            explode: true
            schema:
              type: integer
              format: int32
              default: 10
          - name: after
            in: query
            description: >-
              The paging cursor token of the last successfully read resource will
              be returned as the `paging.next.after` JSON property of a paged
              response containing more results.
            required: false
            style: form
            explode: true
            schema:
              type: string
          - name: properties
            in: query
            description: >-
              A comma separated list of the properties to be returned in the
              response. If any of the specified properties are not present on the
              requested object(s), they will be ignored.
            required: false
            style: form
            explode: true
            schema:
              type: array
              items:
                type: string
          - name: propertiesWithHistory
            in: query
            description: >-
              A comma separated list of the properties to be returned along with
              their history of previous values. If any of the specified properties
              are not present on the requested object(s), they will be ignored.
              Usage of this parameter will reduce the maximum number of objects
              that can be read by a single request.
            required: false
            style: form
            explode: true
            schema:
              type: array
              items:
                type: string
          - name: associations
            in: query
            description: >-
              A comma separated list of object types to retrieve associated IDs
              for. If any of the specified associations do not exist, they will be
              ignored.
            required: false
            style: form
            explode: true
            schema:
              type: array
              items:
                type: string
          - name: archived
            in: query
            description: Whether to return only results that have been archived.
            required: false
            style: form
            explode: true
            schema:
              type: boolean
              default: false
        responses:
          '200':
            description: successful operation
            content:
              application/json:
                schema:
                  $ref: >-
                    #/components/schemas/CollectionResponseSimplePublicObjectWithAssociationsForwardPaging
          default:
            $ref: '#/components/responses/Error'
        security:
          - oauth2_legacy:
              - e-commerce
          - oauth2: []
          - private_apps_legacy:
              - e-commerce
          - private_apps: []
      post:
        tags:
          - Basic
        summary: Create
        description: >-
          Create a product with the given properties and return a copy of the
          object, including the ID. Documentation and examples for creating
          standard products is provided.
        operationId: post-/crm/v3/objects/products_create
        parameters: []
        requestBody:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimplePublicObjectInputForCreate'
          required: true
        responses:
          '201':
            description: successful operation
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/SimplePublicObject'
          default:
            $ref: '#/components/responses/Error'
        security:
          - oauth2_legacy:
              - e-commerce
          - oauth2: []
          - private_apps_legacy:
              - e-commerce
          - private_apps: []
    /crm/v3/objects/products/search:
      post:
        tags:
          - Search
        operationId: post-/crm/v3/objects/products/search_doSearch
        parameters: []
        requestBody:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicObjectSearchRequest'
          required: true
        responses:
          '200':
            description: successful operation
            content:
              application/json:
                schema:
                  $ref: >-
                    #/components/schemas/CollectionResponseWithTotalSimplePublicObjectForwardPaging
          default:
            $ref: '#/components/responses/Error'
        security:
          - oauth2_legacy:
              - e-commerce
          - oauth2: []
          - private_apps_legacy:
              - e-commerce
          - private_apps: []
        x-hubspot-rate-limit-exemptions:
          - ten-secondly
    /crm/v3/pipelines/{objectType}/{pipelineId}/stages/{stageId}/audit:
      get:
        tags:
          - Pipeline Stage Audits
        summary: Return an audit of all changes to the pipeline stage
        description: >-
          Return a reverse chronological list of all mutations that have occurred
          on the pipeline stage identified by `{stageId}`.
        operationId: >-
          get-/crm/v3/pipelines/{objectType}/{pipelineId}/stages/{stageId}/audit_getAudit
        parameters:
          - name: objectType
            in: path
            required: true
            style: simple
            explode: false
            schema:
              type: string
          - name: stageId
            in: path
            required: true
            style: simple
            explode: false
            schema:
              type: string
        responses:
          '200':
            description: successful operation
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/CollectionResponsePublicAuditInfoNoPaging'
          default:
            $ref: '#/components/responses/Error'
        security:
          - oauth2_legacy:
              - media_bridge.read
          - private_apps_legacy:
              - tickets.sensitive
          - private_apps:
              - crm.objects.deals.read
          - private_apps_legacy:
              - timeline
          - private_apps:
              - crm.objects.subscriptions.read
          - private_apps_legacy:
              - crm.objects.marketing_events.read
          - oauth2_legacy:
              - crm.objects.marketing_events.write
          - oauth2:
              - crm.objects.deals.read
          - private_apps:
              - crm.objects.contacts.sensitive.write
          - private_apps_legacy:
              - contacts
          - oauth2:
              - crm.objects.subscriptions.read
          - private_apps:
              - crm.objects.owners.read
          - oauth2:
              - crm.objects.owners.read
          - oauth2_legacy:
              - crm.schemas.custom.read
          - private_apps:
              - crm.objects.companies.read
          - oauth2:
              - crm.schemas.quotes.read
          - private_apps:
              - crm.schemas.quotes.read
          - oauth2:
              - crm.objects.companies.read
          - oauth2_legacy:
              - crm.objects.marketing_events.read
          - private_apps:
              - crm.objects.companies.sensitive.read
          - private_apps_legacy:
              - crm.objects.marketing_events.write
          - private_apps_legacy:
              - crm.schemas.custom.read
          - private_apps:
              - crm.objects.deals.sensitive.write
          - private_apps_legacy:
              - crm.objects.goals.read
          - oauth2_legacy:
              - timeline
          - private_apps_legacy:
              - media_bridge.read
          - private_apps:
              - crm.objects.companies.write
          - oauth2:
              - crm.objects.companies.write
          - oauth2_legacy:
              - tickets
          - private_apps:
              - crm.objects.users.read
          - private_apps_legacy:
              - crm.objects.custom.write
          - oauth2:
              - crm.objects.users.read
          - oauth2_legacy:
              - crm.objects.feedback_submissions.read
          - private_apps_legacy:
              - e-commerce
          - oauth2:
              - crm.schemas.subscriptions.read
          - private_apps:
              - crm.schemas.subscriptions.read
          - private_apps:
              - crm.schemas.companies.read
          - oauth2:
              - crm.schemas.companies.read
          - private_apps:
              - crm.objects.deals.sensitive.read
          - oauth2_legacy:
              - e-commerce
          - private_apps_legacy:
              - tickets
          - private_apps_legacy:
              - crm.objects.feedback_submissions.read
          - oauth2_legacy:
              - crm.objects.goals.read
          - private_apps:
              - crm.schemas.line_items.read
          - oauth2_legacy:
              - crm.objects.custom.write
          - oauth2:
              - crm.schemas.line_items.read
          - oauth2:
              - crm.objects.contacts.read
          - private_apps:
              - crm.objects.contacts.read
          - private_apps:
              - crm.objects.companies.sensitive.write
          - private_apps:
              - crm.objects.deals.write
          - oauth2:
              - crm.objects.deals.write
          - oauth2:
              - crm.objects.invoices.read
          - private_apps:
              - crm.schemas.deals.read
          - private_apps:
              - crm.objects.invoices.read
          - oauth2:
              - crm.schemas.deals.read
          - oauth2:
              - crm.schemas.contacts.read
          - oauth2:
              - crm.objects.quotes.write
          - private_apps:
              - crm.objects.quotes.write
          - private_apps:
              - crm.schemas.contacts.read
          - private_apps:
              - crm.objects.line_items.read
          - oauth2:
              - crm.objects.contacts.write
          - private_apps:
              - crm.schemas.commercepayments.read
          - private_apps:
              - crm.objects.contacts.write
          - oauth2:
              - crm.objects.line_items.read
          - private_apps:
              - crm.objects.custom.sensitive.read
          - oauth2_legacy:
              - crm.objects.custom.read
          - oauth2:
              - crm.schemas.commercepayments.read
          - private_apps_legacy:
              - crm.objects.custom.read
          - oauth2:
              - crm.objects.line_items.write
          - private_apps:
              - crm.objects.line_items.write
          - private_apps:
              - crm.objects.custom.sensitive.write
          - oauth2:
              - crm.schemas.invoices.read
          - private_apps:
              - crm.schemas.invoices.read
          - private_apps:
              - crm.objects.contacts.sensitive.read
          - oauth2:
              - crm.objects.quotes.read
          - private_apps:
              - crm.objects.quotes.read
    /crm/v3/pipelines/{objectType}/{pipelineId}:
      get:
        tags:
          - Pipelines
        summary: Return a pipeline by ID
        description: Return a single pipeline object identified by its unique `{pipelineId}`.
        operationId: get-/crm/v3/pipelines/{objectType}/{pipelineId}_getById
        parameters:
          - name: objectType
            in: path
            required: true
            style: simple
            explode: false
            schema:
              type: string
          - name: pipelineId
            in: path
            required: true
            style: simple
            explode: false
            schema:
              type: string
        responses:
          '200':
            description: successful operation
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Pipeline'
          default:
            $ref: '#/components/responses/Error'
        security:
          - oauth2_legacy:
              - media_bridge.read
          - private_apps_legacy:
              - tickets.sensitive
          - private_apps:
              - crm.objects.deals.read
          - private_apps_legacy:
              - timeline
          - private_apps:
              - crm.objects.subscriptions.read
          - private_apps_legacy:
              - crm.objects.marketing_events.read
          - oauth2_legacy:
              - crm.objects.marketing_events.write
          - oauth2:
              - crm.objects.deals.read
          - private_apps:
              - crm.objects.contacts.sensitive.write
          - private_apps_legacy:
              - contacts
          - oauth2:
              - crm.objects.subscriptions.read
          - private_apps:
              - crm.objects.owners.read
          - oauth2:
              - crm.objects.owners.read
          - oauth2_legacy:
              - crm.schemas.custom.read
          - private_apps:
              - crm.objects.companies.read
          - oauth2:
              - crm.schemas.quotes.read
          - private_apps:
              - crm.schemas.quotes.read
          - oauth2:
              - crm.objects.companies.read
          - oauth2_legacy:
              - crm.objects.marketing_events.read
          - private_apps:
              - crm.objects.companies.sensitive.read
          - private_apps_legacy:
              - crm.objects.marketing_events.write
          - private_apps_legacy:
              - crm.schemas.custom.read
          - private_apps:
              - crm.objects.deals.sensitive.write
          - private_apps_legacy:
              - crm.objects.goals.read
          - oauth2_legacy:
              - timeline
          - private_apps_legacy:
              - media_bridge.read
          - private_apps:
              - crm.objects.companies.write
          - oauth2:
              - crm.objects.companies.write
          - oauth2_legacy:
              - tickets
          - private_apps:
              - crm.objects.users.read
          - private_apps_legacy:
              - crm.objects.custom.write
          - oauth2:
              - crm.objects.users.read
          - oauth2_legacy:
              - crm.objects.feedback_submissions.read
          - private_apps_legacy:
              - e-commerce
          - oauth2:
              - crm.schemas.subscriptions.read
          - private_apps:
              - crm.schemas.subscriptions.read
          - private_apps:
              - crm.schemas.companies.read
          - oauth2:
              - crm.schemas.companies.read
          - private_apps:
              - crm.objects.deals.sensitive.read
          - oauth2_legacy:
              - e-commerce
          - private_apps_legacy:
              - tickets
          - private_apps_legacy:
              - crm.objects.feedback_submissions.read
          - oauth2_legacy:
              - crm.objects.goals.read
          - private_apps:
              - crm.schemas.line_items.read
          - oauth2_legacy:
              - crm.objects.custom.write
          - oauth2:
              - crm.schemas.line_items.read
          - oauth2:
              - crm.objects.contacts.read
          - private_apps:
              - crm.objects.contacts.read
          - private_apps:
              - crm.objects.companies.sensitive.write
          - private_apps:
              - crm.objects.deals.write
          - oauth2:
              - crm.objects.deals.write
          - oauth2:
              - crm.objects.invoices.read
          - private_apps:
              - crm.schemas.deals.read
          - private_apps:
              - crm.objects.invoices.read
          - oauth2:
              - crm.schemas.deals.read
          - oauth2:
              - crm.schemas.contacts.read
          - oauth2:
              - crm.objects.quotes.write
          - private_apps:
              - crm.objects.quotes.write
          - private_apps:
              - crm.schemas.contacts.read
          - private_apps:
              - crm.objects.line_items.read
          - oauth2:
              - crm.objects.contacts.write
          - private_apps:
              - crm.schemas.commercepayments.read
          - private_apps:
              - crm.objects.contacts.write
          - oauth2:
              - crm.objects.line_items.read
          - private_apps:
              - crm.objects.custom.sensitive.read
          - oauth2_legacy:
              - crm.objects.custom.read
          - oauth2:
              - crm.schemas.commercepayments.read
          - private_apps_legacy:
              - crm.objects.custom.read
          - oauth2:
              - crm.objects.line_items.write
          - private_apps:
              - crm.objects.line_items.write
          - private_apps:
              - crm.objects.custom.sensitive.write
          - oauth2:
              - crm.schemas.invoices.read
          - private_apps:
              - crm.schemas.invoices.read
          - private_apps:
              - crm.objects.contacts.sensitive.read
          - oauth2:
              - crm.objects.quotes.read
          - private_apps:
              - crm.objects.quotes.read
      put:
        tags:
          - Pipelines
        summary: Replace a pipeline
        description: >-
          Replace all the properties of an existing pipeline with the values
          provided. This will overwrite any existing pipeline stages. The updated
          pipeline will be returned in the response.
        operationId: put-/crm/v3/pipelines/{objectType}/{pipelineId}_replace
        parameters:
          - name: objectType
            in: path
            required: true
            style: simple
            explode: false
            schema:
              type: string
          - name: pipelineId
            in: path
            required: true
            style: simple
            explode: false
            schema:
              type: string
          - name: validateReferencesBeforeDelete
            in: query
            required: false
            style: form
            explode: true
            schema:
              type: boolean
              default: false
          - name: validateDealStageUsagesBeforeDelete
            in: query
            required: false
            style: form
            explode: true
            schema:
              type: boolean
              default: false
        requestBody:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineInput'
          required: true
        responses:
          '200':
            description: successful operation
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Pipeline'
          default:
            $ref: '#/components/responses/Error'
        security:
          - oauth2_legacy:
              - tickets
          - private_apps_legacy:
              - tickets.sensitive
          - oauth2:
              - crm.schemas.deals.write
          - oauth2:
              - crm.objects.users.write
          - private_apps_legacy:
              - e-commerce
          - oauth2:
              - crm.schemas.contacts.write
          - oauth2:
              - crm.schemas.companies.write
          - private_apps_legacy:
              - contacts
          - private_apps:
              - crm.schemas.contacts.write
          - private_apps:
              - crm.schemas.companies.write
          - oauth2_legacy:
              - e-commerce
          - private_apps_legacy:
              - tickets
          - private_apps:
              - crm.objects.users.write
          - private_apps_legacy:
              - crm.schemas.custom.write
          - private_apps:
              - crm.schemas.deals.write
      delete:
        tags:
          - Pipelines
        summary: Delete a pipeline
        description: Delete the pipeline identified by `{pipelineId}`.
        operationId: delete-/crm/v3/pipelines/{objectType}/{pipelineId}_archive
        parameters:
          - name: objectType
            in: path
            required: true
            style: simple
            explode: false
            schema:
              type: string
          - name: pipelineId
            in: path
            required: true
            style: simple
            explode: false
            schema:
              type: string
          - name: validateReferencesBeforeDelete
            in: query
            required: false
            style: form
            explode: true
            schema:
              type: boolean
              default: false
          - name: validateDealStageUsagesBeforeDelete
            in: query
            required: false
            style: form
            explode: true
            schema:
              type: boolean
              default: false
        responses:
          '204':
            description: No content
            content: {}
          default:
            $ref: '#/components/responses/Error'
        security:
          - oauth2_legacy:
              - tickets
          - private_apps_legacy:
              - tickets.sensitive
          - oauth2:
              - crm.schemas.deals.write
          - oauth2:
              - crm.objects.users.write
          - private_apps_legacy:
              - e-commerce
          - oauth2:
              - crm.schemas.contacts.write
          - oauth2:
              - crm.schemas.companies.write
          - private_apps_legacy:
              - contacts
          - private_apps:
              - crm.schemas.contacts.write
          - private_apps:
              - crm.schemas.companies.write
          - oauth2_legacy:
              - e-commerce
          - private_apps_legacy:
              - tickets
          - private_apps:
              - crm.objects.users.write
          - private_apps_legacy:
              - crm.schemas.custom.write
          - private_apps:
              - crm.schemas.deals.write
      patch:
        tags:
          - Pipelines
        summary: Update a pipeline
        description: >-
          Perform a partial update of the pipeline identified by `{pipelineId}`.
          The updated pipeline will be returned in the response.
        operationId: patch-/crm/v3/pipelines/{objectType}/{pipelineId}_update
        parameters:
          - name: objectType
            in: path
            required: true
            style: simple
            explode: false
            schema:
              type: string
          - name: pipelineId
            in: path
            required: true
            style: simple
            explode: false
            schema:
              type: string
          - name: validateReferencesBeforeDelete
            in: query
            required: false
            style: form
            explode: true
            schema:
              type: boolean
              default: false
          - name: validateDealStageUsagesBeforeDelete
            in: query
            required: false
            style: form
            explode: true
            schema:
              type: boolean
              default: false
        requestBody:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelinePatchInput'
          required: true
        responses:
          '200':
            description: successful operation
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Pipeline'
          default:
            $ref: '#/components/responses/Error'
        security:
          - oauth2_legacy:
              - tickets
          - private_apps_legacy:
              - tickets.sensitive
          - oauth2:
              - crm.schemas.deals.write
          - oauth2:
              - crm.objects.users.write
          - private_apps_legacy:
              - e-commerce
          - oauth2:
              - crm.schemas.contacts.write
          - oauth2:
              - crm.schemas.companies.write
          - private_apps_legacy:
              - contacts
          - private_apps:
              - crm.schemas.contacts.write
          - private_apps:
              - crm.schemas.companies.write
          - oauth2_legacy:
              - e-commerce
          - private_apps_legacy:
              - tickets
          - private_apps:
              - crm.objects.users.write
          - private_apps_legacy:
              - crm.schemas.custom.write
          - private_apps:
              - crm.schemas.deals.write
    /crm/v3/pipelines/{objectType}/{pipelineId}/audit:
      get:
        tags:
          - Pipeline Audits
        summary: Return an audit of all changes to the pipeline
        description: >-
          Return a reverse chronological list of all mutations that have occurred
          on the pipeline identified by `{pipelineId}`.
        operationId: get-/crm/v3/pipelines/{objectType}/{pipelineId}/audit_getAudit
        parameters:
          - name: objectType
            in: path
            required: true
            style: simple
            explode: false
            schema:
              type: string
          - name: pipelineId
            in: path
            required: true
            style: simple
            explode: false
            schema:
              type: string
        responses:
          '200':
            description: successful operation
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/CollectionResponsePublicAuditInfoNoPaging'
          default:
            $ref: '#/components/responses/Error'
        security:
          - oauth2_legacy:
              - media_bridge.read
          - private_apps_legacy:
              - tickets.sensitive
          - private_apps:
              - crm.objects.deals.read
          - private_apps_legacy:
              - timeline
          - private_apps:
              - crm.objects.subscriptions.read
          - private_apps_legacy:
              - crm.objects.marketing_events.read
          - oauth2_legacy:
              - crm.objects.marketing_events.write
          - oauth2:
              - crm.objects.deals.read
          - private_apps:
              - crm.objects.contacts.sensitive.write
          - private_apps_legacy:
              - contacts
          - oauth2:
              - crm.objects.subscriptions.read
          - private_apps:
              - crm.objects.owners.read
          - oauth2:
              - crm.objects.owners.read
          - oauth2_legacy:
              - crm.schemas.custom.read
          - private_apps:
              - crm.objects.companies.read
          - oauth2:
              - crm.schemas.quotes.read
          - private_apps:
              - crm.schemas.quotes.read
          - oauth2:
              - crm.objects.companies.read
          - oauth2_legacy:
              - crm.objects.marketing_events.read
          - private_apps:
              - crm.objects.companies.sensitive.read
          - private_apps_legacy:
              - crm.objects.marketing_events.write
          - private_apps_legacy:
              - crm.schemas.custom.read
          - private_apps:
              - crm.objects.deals.sensitive.write
          - private_apps_legacy:
              - crm.objects.goals.read
          - oauth2_legacy:
              - timeline
          - private_apps_legacy:
              - media_bridge.read
          - private_apps:
              - crm.objects.companies.write
          - oauth2:
              - crm.objects.companies.write
          - oauth2_legacy:
              - tickets
          - private_apps:
              - crm.objects.users.read
          - private_apps_legacy:
              - crm.objects.custom.write
          - oauth2:
              - crm.objects.users.read
          - oauth2_legacy:
              - crm.objects.feedback_submissions.read
          - private_apps_legacy:
              - e-commerce
          - oauth2:
              - crm.schemas.subscriptions.read
          - private_apps:
              - crm.schemas.subscriptions.read
          - private_apps:
              - crm.schemas.companies.read
          - oauth2:
              - crm.schemas.companies.read
          - private_apps:
              - crm.objects.deals.sensitive.read
          - oauth2_legacy:
              - e-commerce
          - private_apps_legacy:
              - tickets
          - private_apps_legacy:
              - crm.objects.feedback_submissions.read
          - oauth2_legacy:
              - crm.objects.goals.read
          - private_apps:
              - crm.schemas.line_items.read
          - oauth2_legacy:
              - crm.objects.custom.write
          - oauth2:
              - crm.schemas.line_items.read
          - oauth2:
              - crm.objects.contacts.read
          - private_apps:
              - crm.objects.contacts.read
          - private_apps:
              - crm.objects.companies.sensitive.write
          - private_apps:
              - crm.objects.deals.write
          - oauth2:
              - crm.objects.deals.write
          - oauth2:
              - crm.objects.invoices.read
          - private_apps:
              - crm.schemas.deals.read
          - private_apps:
              - crm.objects.invoices.read
          - oauth2:
              - crm.schemas.deals.read
          - oauth2:
              - crm.schemas.contacts.read
          - oauth2:
              - crm.objects.quotes.write
          - private_apps:
              - crm.objects.quotes.write
          - private_apps:
              - crm.schemas.contacts.read
          - private_apps:
              - crm.objects.line_items.read
          - oauth2:
              - crm.objects.contacts.write
          - private_apps:
              - crm.schemas.commercepayments.read
          - private_apps:
              - crm.objects.contacts.write
          - oauth2:
              - crm.objects.line_items.read
          - private_apps:
              - crm.objects.custom.sensitive.read
          - oauth2_legacy:
              - crm.objects.custom.read
          - oauth2:
              - crm.schemas.commercepayments.read
          - private_apps_legacy:
              - crm.objects.custom.read
          - oauth2:
              - crm.objects.line_items.write
          - private_apps:
              - crm.objects.line_items.write
          - private_apps:
              - crm.objects.custom.sensitive.write
          - oauth2:
              - crm.schemas.invoices.read
          - private_apps:
              - crm.schemas.invoices.read
          - private_apps:
              - crm.objects.contacts.sensitive.read
          - oauth2:
              - crm.objects.quotes.read
          - private_apps:
              - crm.objects.quotes.read
    /crm/v3/pipelines/{objectType}/{pipelineId}/stages:
      get:
        tags:
          - Pipeline Stages
        summary: Return all stages of a pipeline
        description: >-
          Return all the stages associated with the pipeline identified by
          `{pipelineId}`.
        operationId: get-/crm/v3/pipelines/{objectType}/{pipelineId}/stages_getAll
        parameters:
          - name: objectType
            in: path
            required: true
            style: simple
            explode: false
            schema:
              type: string
          - name: pipelineId
            in: path
            required: true
            style: simple
            explode: false
            schema:
              type: string
        responses:
          '200':
            description: successful operation
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/CollectionResponsePipelineStageNoPaging'
          default:
            $ref: '#/components/responses/Error'
        security:
          - oauth2_legacy:
              - media_bridge.read
          - private_apps_legacy:
              - tickets.sensitive
          - private_apps:
              - crm.objects.deals.read
          - private_apps_legacy:
              - timeline
          - private_apps:
              - crm.objects.subscriptions.read
          - private_apps_legacy:
              - crm.objects.marketing_events.read
          - oauth2_legacy:
              - crm.objects.marketing_events.write
          - oauth2:
              - crm.objects.deals.read
          - private_apps:
              - crm.objects.contacts.sensitive.write
          - private_apps_legacy:
              - contacts
          - oauth2:
              - crm.objects.subscriptions.read
          - private_apps:
              - crm.objects.owners.read
          - oauth2:
              - crm.objects.owners.read
          - oauth2_legacy:
              - crm.schemas.custom.read
          - private_apps:
              - crm.objects.companies.read
          - oauth2:
              - crm.schemas.quotes.read
          - private_apps:
              - crm.schemas.quotes.read
          - oauth2:
              - crm.objects.companies.read
          - oauth2_legacy:
              - crm.objects.marketing_events.read
          - private_apps:
              - crm.objects.companies.sensitive.read
          - private_apps_legacy:
              - crm.objects.marketing_events.write
          - private_apps_legacy:
              - crm.schemas.custom.read
          - private_apps:
              - crm.objects.deals.sensitive.write
          - private_apps_legacy:
              - crm.objects.goals.read
          - oauth2_legacy:
              - timeline
          - private_apps_legacy:
              - media_bridge.read
          - private_apps:
              - crm.objects.companies.write
          - oauth2:
              - crm.objects.companies.write
          - oauth2_legacy:
              - tickets
          - private_apps:
              - crm.objects.users.read
          - private_apps_legacy:
              - crm.objects.custom.write
          - oauth2:
              - crm.objects.users.read
          - oauth2_legacy:
              - crm.objects.feedback_submissions.read
          - private_apps_legacy:
              - e-commerce
          - oauth2:
              - crm.schemas.subscriptions.read
          - private_apps:
              - crm.schemas.subscriptions.read
          - private_apps:
              - crm.schemas.companies.read
          - oauth2:
              - crm.schemas.companies.read
          - private_apps:
              - crm.objects.deals.sensitive.read
          - oauth2_legacy:
              - e-commerce
          - private_apps_legacy:
              - tickets
          - private_apps_legacy:
              - crm.objects.feedback_submissions.read
          - oauth2_legacy:
              - crm.objects.goals.read
          - private_apps:
              - crm.schemas.line_items.read
          - oauth2_legacy:
              - crm.objects.custom.write
          - oauth2:
              - crm.schemas.line_items.read
          - oauth2:
              - crm.objects.contacts.read
          - private_apps:
              - crm.objects.contacts.read
          - private_apps:
              - crm.objects.companies.sensitive.write
          - private_apps:
              - crm.objects.deals.write
          - oauth2:
              - crm.objects.deals.write
          - oauth2:
              - crm.objects.invoices.read
          - private_apps:
              - crm.schemas.deals.read
          - private_apps:
              - crm.objects.invoices.read
          - oauth2:
              - crm.schemas.deals.read
          - oauth2:
              - crm.schemas.contacts.read
          - oauth2:
              - crm.objects.quotes.write
          - private_apps:
              - crm.objects.quotes.write
          - private_apps:
              - crm.schemas.contacts.read
          - private_apps:
              - crm.objects.line_items.read
          - oauth2:
              - crm.objects.contacts.write
          - private_apps:
              - crm.schemas.commercepayments.read
          - private_apps:
              - crm.objects.contacts.write
          - oauth2:
              - crm.objects.line_items.read
          - private_apps:
              - crm.objects.custom.sensitive.read
          - oauth2_legacy:
              - crm.objects.custom.read
          - oauth2:
              - crm.schemas.commercepayments.read
          - private_apps_legacy:
              - crm.objects.custom.read
          - oauth2:
              - crm.objects.line_items.write
          - private_apps:
              - crm.objects.line_items.write
          - private_apps:
              - crm.objects.custom.sensitive.write
          - oauth2:
              - crm.schemas.invoices.read
          - private_apps:
              - crm.schemas.invoices.read
          - private_apps:
              - crm.objects.contacts.sensitive.read
          - oauth2:
              - crm.objects.quotes.read
          - private_apps:
              - crm.objects.quotes.read
      post:
        tags:
          - Pipeline Stages
        summary: Create a pipeline stage
        description: >-
          Create a new stage associated with the pipeline identified by
          `{pipelineId}`. The entire stage object, including its unique ID, will
          be returned in the response.
        operationId: post-/crm/v3/pipelines/{objectType}/{pipelineId}/stages_create
        parameters:
          - name: objectType
            in: path
            required: true
            style: simple
            explode: false
            schema:
              type: string
          - name: pipelineId
            in: path
            required: true
            style: simple
            explode: false
            schema:
              type: string
        requestBody:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineStageInput'
          required: true
        responses:
          '201':
            description: successful operation
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/PipelineStage'
          default:
            $ref: '#/components/responses/Error'
        security:
          - oauth2_legacy:
              - tickets
          - private_apps_legacy:
              - tickets.sensitive
          - oauth2:
              - crm.schemas.deals.write
          - oauth2:
              - crm.objects.users.write
          - private_apps_legacy:
              - e-commerce
          - oauth2:
              - crm.schemas.contacts.write
          - oauth2:
              - crm.schemas.companies.write
          - private_apps_legacy:
              - contacts
          - private_apps:
              - crm.schemas.contacts.write
          - private_apps:
              - crm.schemas.companies.write
          - oauth2_legacy:
              - e-commerce
          - private_apps_legacy:
              - tickets
          - private_apps:
              - crm.objects.users.write
          - private_apps_legacy:
              - crm.schemas.custom.write
          - private_apps:
              - crm.schemas.deals.write
    /crm/v3/pipelines/{objectType}:
      get:
        tags:
          - Pipelines
        summary: Retrieve all pipelines
        description: Return all pipelines for the object type specified by `{objectType}`.
        operationId: get-/crm/v3/pipelines/{objectType}_getAll
        parameters:
          - name: objectType
            in: path
            required: true
            style: simple
            explode: false
            schema:
              type: string
        responses:
          '200':
            description: successful operation
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/CollectionResponsePipelineNoPaging'
          default:
            $ref: '#/components/responses/Error'
        security:
          - oauth2_legacy:
              - media_bridge.read
          - private_apps_legacy:
              - tickets.sensitive
          - private_apps:
              - crm.objects.deals.read
          - private_apps_legacy:
              - timeline
          - private_apps:
              - crm.objects.subscriptions.read
          - private_apps_legacy:
              - crm.objects.marketing_events.read
          - oauth2_legacy:
              - crm.objects.marketing_events.write
          - oauth2:
              - crm.objects.deals.read
          - private_apps:
              - crm.objects.contacts.sensitive.write
          - private_apps_legacy:
              - contacts
          - oauth2:
              - crm.objects.subscriptions.read
          - private_apps:
              - crm.objects.owners.read
          - oauth2:
              - crm.objects.owners.read
          - oauth2_legacy:
              - crm.schemas.custom.read
          - private_apps:
              - crm.objects.companies.read
          - oauth2:
              - crm.schemas.quotes.read
          - private_apps:
              - crm.schemas.quotes.read
          - oauth2:
              - crm.objects.companies.read
          - oauth2_legacy:
              - crm.objects.marketing_events.read
          - private_apps:
              - crm.objects.companies.sensitive.read
          - private_apps_legacy:
              - crm.objects.marketing_events.write
          - private_apps_legacy:
              - crm.schemas.custom.read
          - private_apps:
              - crm.objects.deals.sensitive.write
          - private_apps_legacy:
              - crm.objects.goals.read
          - oauth2_legacy:
              - timeline
          - private_apps_legacy:
              - media_bridge.read
          - private_apps:
              - crm.objects.companies.write
          - oauth2:
              - crm.objects.companies.write
          - oauth2_legacy:
              - tickets
          - private_apps:
              - crm.objects.users.read
          - private_apps_legacy:
              - crm.objects.custom.write
          - oauth2:
              - crm.objects.users.read
          - oauth2_legacy:
              - crm.objects.feedback_submissions.read
          - private_apps_legacy:
              - e-commerce
          - oauth2:
              - crm.schemas.subscriptions.read
          - private_apps:
              - crm.schemas.subscriptions.read
          - private_apps:
              - crm.schemas.companies.read
          - oauth2:
              - crm.schemas.companies.read
          - private_apps:
              - crm.objects.deals.sensitive.read
          - oauth2_legacy:
              - e-commerce
          - private_apps_legacy:
              - tickets
          - private_apps_legacy:
              - crm.objects.feedback_submissions.read
          - oauth2_legacy:
              - crm.objects.goals.read
          - private_apps:
              - crm.schemas.line_items.read
          - oauth2_legacy:
              - crm.objects.custom.write
          - oauth2:
              - crm.schemas.line_items.read
          - oauth2:
              - crm.objects.contacts.read
          - private_apps:
              - crm.objects.contacts.read
          - private_apps:
              - crm.objects.companies.sensitive.write
          - private_apps:
              - crm.objects.deals.write
          - oauth2:
              - crm.objects.deals.write
          - oauth2:
              - crm.objects.invoices.read
          - private_apps:
              - crm.schemas.deals.read
          - private_apps:
              - crm.objects.invoices.read
          - oauth2:
              - crm.schemas.deals.read
          - oauth2:
              - crm.schemas.contacts.read
          - oauth2:
              - crm.objects.quotes.write
          - private_apps:
              - crm.objects.quotes.write
          - private_apps:
              - crm.schemas.contacts.read
          - private_apps:
              - crm.objects.line_items.read
          - oauth2:
              - crm.objects.contacts.write
          - private_apps:
              - crm.schemas.commercepayments.read
          - private_apps:
              - crm.objects.contacts.write
          - oauth2:
              - crm.objects.line_items.read
          - private_apps:
              - crm.objects.custom.sensitive.read
          - oauth2_legacy:
              - crm.objects.custom.read
          - oauth2:
              - crm.schemas.commercepayments.read
          - private_apps_legacy:
              - crm.objects.custom.read
          - oauth2:
              - crm.objects.line_items.write
          - private_apps:
              - crm.objects.line_items.write
          - private_apps:
              - crm.objects.custom.sensitive.write
          - oauth2:
              - crm.schemas.invoices.read
          - private_apps:
              - crm.schemas.invoices.read
          - private_apps:
              - crm.objects.contacts.sensitive.read
          - oauth2:
              - crm.objects.quotes.read
          - private_apps:
              - crm.objects.quotes.read
      post:
        tags:
          - Pipelines
        summary: Create a pipeline
        description: >-
          Create a new pipeline with the provided property values. The entire
          pipeline object, including its unique ID, will be returned in the
          response.
        operationId: post-/crm/v3/pipelines/{objectType}_create
        parameters:
          - name: objectType
            in: path
            required: true
            style: simple
            explode: false
            schema:
              type: string
        requestBody:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineInput'
          required: true
        responses:
          '201':
            description: successful operation
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Pipeline'
          default:
            $ref: '#/components/responses/Error'
        security:
          - oauth2_legacy:
              - tickets
          - private_apps_legacy:
              - tickets.sensitive
          - oauth2:
              - crm.schemas.deals.write
          - oauth2:
              - crm.objects.users.write
          - private_apps_legacy:
              - e-commerce
          - oauth2:
              - crm.schemas.contacts.write
          - oauth2:
              - crm.schemas.companies.write
          - private_apps_legacy:
              - contacts
          - private_apps:
              - crm.schemas.contacts.write
          - private_apps:
              - crm.schemas.companies.write
          - oauth2_legacy:
              - e-commerce
          - private_apps_legacy:
              - tickets
          - private_apps:
              - crm.objects.users.write
          - private_apps_legacy:
              - crm.schemas.custom.write
          - private_apps:
              - crm.schemas.deals.write
    /crm/v3/pipelines/{objectType}/{pipelineId}/stages/{stageId}:
      get:
        tags:
          - Pipeline Stages
        summary: Return a pipeline stage by ID
        description: >-
          Return the stage identified by `{stageId}` associated with the pipeline
          identified by `{pipelineId}`.
        operationId: get-/crm/v3/pipelines/{objectType}/{pipelineId}/stages/{stageId}_getById
        parameters:
          - name: objectType
            in: path
            required: true
            style: simple
            explode: false
            schema:
              type: string
          - name: pipelineId
            in: path
            required: true
            style: simple
            explode: false
            schema:
              type: string
          - name: stageId
            in: path
            required: true
            style: simple
            explode: false
            schema:
              type: string
        responses:
          '200':
            description: successful operation
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/PipelineStage'
          default:
            $ref: '#/components/responses/Error'
        security:
          - oauth2_legacy:
              - media_bridge.read
          - private_apps_legacy:
              - tickets.sensitive
          - private_apps:
              - crm.objects.deals.read
          - private_apps_legacy:
              - timeline
          - private_apps:
              - crm.objects.subscriptions.read
          - private_apps_legacy:
              - crm.objects.marketing_events.read
          - oauth2_legacy:
              - crm.objects.marketing_events.write
          - oauth2:
              - crm.objects.deals.read
          - private_apps:
              - crm.objects.contacts.sensitive.write
          - private_apps_legacy:
              - contacts
          - oauth2:
              - crm.objects.subscriptions.read
          - private_apps:
              - crm.objects.owners.read
          - oauth2:
              - crm.objects.owners.read
          - oauth2_legacy:
              - crm.schemas.custom.read
          - private_apps:
              - crm.objects.companies.read
          - oauth2:
              - crm.schemas.quotes.read
          - private_apps:
              - crm.schemas.quotes.read
          - oauth2:
              - crm.objects.companies.read
          - oauth2_legacy:
              - crm.objects.marketing_events.read
          - private_apps:
              - crm.objects.companies.sensitive.read
          - private_apps_legacy:
              - crm.objects.marketing_events.write
          - private_apps_legacy:
              - crm.schemas.custom.read
          - private_apps:
              - crm.objects.deals.sensitive.write
          - private_apps_legacy:
              - crm.objects.goals.read
          - oauth2_legacy:
              - timeline
          - private_apps_legacy:
              - media_bridge.read
          - private_apps:
              - crm.objects.companies.write
          - oauth2:
              - crm.objects.companies.write
          - oauth2_legacy:
              - tickets
          - private_apps:
              - crm.objects.users.read
          - private_apps_legacy:
              - crm.objects.custom.write
          - oauth2:
              - crm.objects.users.read
          - oauth2_legacy:
              - crm.objects.feedback_submissions.read
          - private_apps_legacy:
              - e-commerce
          - oauth2:
              - crm.schemas.subscriptions.read
          - private_apps:
              - crm.schemas.subscriptions.read
          - private_apps:
              - crm.schemas.companies.read
          - oauth2:
              - crm.schemas.companies.read
          - private_apps:
              - crm.objects.deals.sensitive.read
          - oauth2_legacy:
              - e-commerce
          - private_apps_legacy:
              - tickets
          - private_apps_legacy:
              - crm.objects.feedback_submissions.read
          - oauth2_legacy:
              - crm.objects.goals.read
          - private_apps:
              - crm.schemas.line_items.read
          - oauth2_legacy:
              - crm.objects.custom.write
          - oauth2:
              - crm.schemas.line_items.read
          - oauth2:
              - crm.objects.contacts.read
          - private_apps:
              - crm.objects.contacts.read
          - private_apps:
              - crm.objects.companies.sensitive.write
          - private_apps:
              - crm.objects.deals.write
          - oauth2:
              - crm.objects.deals.write
          - oauth2:
              - crm.objects.invoices.read
          - private_apps:
              - crm.schemas.deals.read
          - private_apps:
              - crm.objects.invoices.read
          - oauth2:
              - crm.schemas.deals.read
          - oauth2:
              - crm.schemas.contacts.read
          - oauth2:
              - crm.objects.quotes.write
          - private_apps:
              - crm.objects.quotes.write
          - private_apps:
              - crm.schemas.contacts.read
          - private_apps:
              - crm.objects.line_items.read
          - oauth2:
              - crm.objects.contacts.write
          - private_apps:
              - crm.schemas.commercepayments.read
          - private_apps:
              - crm.objects.contacts.write
          - oauth2:
              - crm.objects.line_items.read
          - private_apps:
              - crm.objects.custom.sensitive.read
          - oauth2_legacy:
              - crm.objects.custom.read
          - oauth2:
              - crm.schemas.commercepayments.read
          - private_apps_legacy:
              - crm.objects.custom.read
          - oauth2:
              - crm.objects.line_items.write
          - private_apps:
              - crm.objects.line_items.write
          - private_apps:
              - crm.objects.custom.sensitive.write
          - oauth2:
              - crm.schemas.invoices.read
          - private_apps:
              - crm.schemas.invoices.read
          - private_apps:
              - crm.objects.contacts.sensitive.read
          - oauth2:
              - crm.objects.quotes.read
          - private_apps:
              - crm.objects.quotes.read
      put:
        tags:
          - Pipeline Stages
        summary: Replace a pipeline stage
        description: >-
          Replace all the properties of an existing pipeline stage with the values
          provided. The updated stage will be returned in the response.
        operationId: put-/crm/v3/pipelines/{objectType}/{pipelineId}/stages/{stageId}_replace
        parameters:
          - name: objectType
            in: path
            required: true
            style: simple
            explode: false
            schema:
              type: string
          - name: pipelineId
            in: path
            required: true
            style: simple
            explode: false
            schema:
              type: string
          - name: stageId
            in: path
            required: true
            style: simple
            explode: false
            schema:
              type: string
        requestBody:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineStageInput'
          required: true
        responses:
          '200':
            description: successful operation
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/PipelineStage'
          default:
            $ref: '#/components/responses/Error'
        security:
          - oauth2_legacy:
              - tickets
          - private_apps_legacy:
              - tickets.sensitive
          - oauth2:
              - crm.schemas.deals.write
          - oauth2:
              - crm.objects.users.write
          - private_apps_legacy:
              - e-commerce
          - oauth2:
              - crm.schemas.contacts.write
          - oauth2:
              - crm.schemas.companies.write
          - private_apps_legacy:
              - contacts
          - private_apps:
              - crm.schemas.contacts.write
          - private_apps:
              - crm.schemas.companies.write
          - oauth2_legacy:
              - e-commerce
          - private_apps_legacy:
              - tickets
          - private_apps:
              - crm.objects.users.write
          - private_apps_legacy:
              - crm.schemas.custom.write
          - private_apps:
              - crm.schemas.deals.write
      delete:
        tags:
          - Pipeline Stages
        summary: Delete a pipeline stage
        description: >-
          Delete the pipeline stage identified by `{stageId}` associated with the
          pipeline identified by `{pipelineId}`.
        operationId: >-
          delete-/crm/v3/pipelines/{objectType}/{pipelineId}/stages/{stageId}_archive
        parameters:
          - name: objectType
            in: path
            required: true
            style: simple
            explode: false
            schema:
              type: string
          - name: pipelineId
            in: path
            required: true
            style: simple
            explode: false
            schema:
              type: string
          - name: stageId
            in: path
            required: true
            style: simple
            explode: false
            schema:
              type: string
        responses:
          '204':
            description: No content
            content: {}
          default:
            $ref: '#/components/responses/Error'
        security:
          - oauth2_legacy:
              - tickets
          - private_apps_legacy:
              - tickets.sensitive
          - oauth2:
              - crm.schemas.deals.write
          - oauth2:
              - crm.objects.users.write
          - private_apps_legacy:
              - e-commerce
          - oauth2:
              - crm.schemas.contacts.write
          - oauth2:
              - crm.schemas.companies.write
          - private_apps_legacy:
              - contacts
          - private_apps:
              - crm.schemas.contacts.write
          - private_apps:
              - crm.schemas.companies.write
          - oauth2_legacy:
              - e-commerce
          - private_apps_legacy:
              - tickets
          - private_apps:
              - crm.objects.users.write
          - private_apps_legacy:
              - crm.schemas.custom.write
          - private_apps:
              - crm.schemas.deals.write
      patch:
        tags:
          - Pipeline Stages
        summary: Update a pipeline stage
        description: >-
          Perform a partial update of the pipeline stage identified by `{stageId}`
          associated with the pipeline identified by `{pipelineId}`. Any
          properties not included in this update will keep their existing values.
          The updated stage will be returned in the response.
        operationId: >-
          patch-/crm/v3/pipelines/{objectType}/{pipelineId}/stages/{stageId}_update
        parameters:
          - name: objectType
            in: path
            required: true
            style: simple
            explode: false
            schema:
              type: string
          - name: pipelineId
            in: path
            required: true
            style: simple
            explode: false
            schema:
              type: string
          - name: stageId
            in: path
            required: true
            style: simple
            explode: false
            schema:
              type: string
        requestBody:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineStagePatchInput'
          required: true
        responses:
          '200':
            description: successful operation
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/PipelineStage'
          default:
            $ref: '#/components/responses/Error'
        security:
          - oauth2_legacy:
              - tickets
          - private_apps_legacy:
              - tickets.sensitive
          - oauth2:
              - crm.schemas.deals.write
          - oauth2:
              - crm.objects.users.write
          - private_apps_legacy:
              - e-commerce
          - oauth2:
              - crm.schemas.contacts.write
          - oauth2:
              - crm.schemas.companies.write
          - private_apps_legacy:
              - contacts
          - private_apps:
              - crm.schemas.contacts.write
          - private_apps:
              - crm.schemas.companies.write
          - oauth2_legacy:
              - e-commerce
          - private_apps_legacy:
              - tickets
          - private_apps:
              - crm.objects.users.write
          - private_apps_legacy:
              - crm.schemas.custom.write
          - private_apps:
              - crm.schemas.deals.write
    /crm/v3/objects/companies/batch/read:
      post:
        tags:
          - Batch
        summary: Read a batch of companies by internal ID, or unique property values
        operationId: post-/crm/v3/objects/companies/batch/read_read
        parameters:
          - name: archived
            in: query
            description: Whether to return only results that have been archived.
            required: false
            style: form
            explode: true
            schema:
              type: boolean
              default: false
        requestBody:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchReadInputSimplePublicObjectId'
          required: true
        responses:
          '200':
            description: successful operation
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/BatchResponseSimplePublicObject'
          '207':
            description: multiple statuses
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/BatchResponseSimplePublicObjectWithErrors'
          default:
            $ref: '#/components/responses/Error'
        security:
          - oauth2:
              - crm.objects.companies.read
          - private_apps:
              - crm.objects.companies.read
    /crm/v3/objects/companies/{companyId}:
      get:
        tags:
          - Basic
        summary: Read
        description: >-
          Read an Object identified by `{companyId}`. `{companyId}` refers to the
          internal object ID by default, or optionally any unique property value
          as specified by the `idProperty` query param.  Control what is returned
          via the `properties` query param.
        operationId: get-/crm/v3/objects/companies/{companyId}_getById
        parameters:
          - name: companyId
            in: path
            required: true
            style: simple
            explode: false
            schema:
              type: string
          - name: properties
            in: query
            description: >-
              A comma separated list of the properties to be returned in the
              response. If any of the specified properties are not present on the
              requested object(s), they will be ignored.
            required: false
            style: form
            explode: true
            schema:
              type: array
              items:
                type: string
          - name: propertiesWithHistory
            in: query
            description: >-
              A comma separated list of the properties to be returned along with
              their history of previous values. If any of the specified properties
              are not present on the requested object(s), they will be ignored.
            required: false
            style: form
            explode: true
            schema:
              type: array
              items:
                type: string
          - name: associations
            in: query
            description: >-
              A comma separated list of object types to retrieve associated IDs
              for. If any of the specified associations do not exist, they will be
              ignored.
            required: false
            style: form
            explode: true
            schema:
              type: array
              items:
                type: string
          - name: archived
            in: query
            description: Whether to return only results that have been archived.
            required: false
            style: form
            explode: true
            schema:
              type: boolean
              default: false
          - name: idProperty
            in: query
            description: The name of a property whose values are unique for this object type
            required: false
            style: form
            explode: true
            schema:
              type: string
        responses:
          '200':
            description: successful operation
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/SimplePublicObjectWithAssociations'
          default:
            $ref: '#/components/responses/Error'
        security:
          - oauth2:
              - crm.objects.companies.read
          - private_apps:
              - crm.objects.companies.read
      delete:
        tags:
          - Basic
        summary: Archive
        description: Move an Object identified by `{companyId}` to the recycling bin.
        operationId: delete-/crm/v3/objects/companies/{companyId}_archive
        parameters:
          - name: companyId
            in: path
            required: true
            style: simple
            explode: false
            schema:
              type: string
        responses:
          '204':
            description: No content
            content: {}
          default:
            $ref: '#/components/responses/Error'
        security:
          - oauth2:
              - crm.objects.companies.write
          - private_apps:
              - crm.objects.companies.write
      patch:
        tags:
          - Basic
        summary: Update
        description: >-
          Perform a partial update of an Object identified by `{companyId}`.
          `{companyId}` refers to the internal object ID by default, or optionally
          any unique property value as specified by the `idProperty` query param.
          Provided property values will be overwritten. Read-only and non-existent
          properties will be ignored. Properties values can be cleared by passing
          an empty string.
        operationId: patch-/crm/v3/objects/companies/{companyId}_update
        parameters:
          - name: companyId
            in: path
            required: true
            style: simple
            explode: false
            schema:
              type: string
          - name: idProperty
            in: query
            description: The name of a property whose values are unique for this object type
            required: false
            style: form
            explode: true
            schema:
              type: string
        requestBody:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimplePublicObjectInput'
          required: true
        responses:
          '200':
            description: successful operation
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/SimplePublicObject'
          default:
            $ref: '#/components/responses/Error'
        security:
          - oauth2:
              - crm.objects.companies.write
          - private_apps:
              - crm.objects.companies.write
    /crm/v3/objects/companies/merge:
      post:
        tags:
          - Public_Object
        summary: Merge two companies with same type
        operationId: post-/crm/v3/objects/companies/merge_merge
        parameters: []
        requestBody:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicMergeInput'
          required: true
        responses:
          '200':
            description: successful operation
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/SimplePublicObject'
          default:
            $ref: '#/components/responses/Error'
        security:
          - oauth2:
              - crm.objects.companies.write
          - private_apps:
              - crm.objects.companies.write
    /crm/v3/objects/companies/batch/archive:
      post:
        tags:
          - Batch
        summary: Archive a batch of companies by ID
        operationId: post-/crm/v3/objects/companies/batch/archive_archive
        parameters: []
        requestBody:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchInputSimplePublicObjectId'
          required: true
        responses:
          '204':
            description: No content
            content: {}
          default:
            $ref: '#/components/responses/Error'
        security:
          - oauth2:
              - crm.objects.companies.write
          - private_apps:
              - crm.objects.companies.write
    /crm/v3/objects/companies/batch/create:
      post:
        tags:
          - Batch
        summary: Create a batch of companies
        operationId: post-/crm/v3/objects/companies/batch/create_create
        parameters: []
        requestBody:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchInputSimplePublicObjectInputForCreate'
          required: true
        responses:
          '201':
            description: successful operation
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/BatchResponseSimplePublicObject'
          '207':
            description: multiple statuses
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/BatchResponseSimplePublicObjectWithErrors'
          default:
            $ref: '#/components/responses/Error'
        security:
          - oauth2:
              - crm.objects.companies.write
          - private_apps:
              - crm.objects.companies.write
    /crm/v3/objects/companies/batch/update:
      post:
        tags:
          - Batch
        summary: Update a batch of companies
        operationId: post-/crm/v3/objects/companies/batch/update_update
        parameters: []
        requestBody:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchInputSimplePublicObjectBatchInput'
          required: true
        responses:
          '200':
            description: successful operation
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/BatchResponseSimplePublicObject'
          '207':
            description: multiple statuses
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/BatchResponseSimplePublicObjectWithErrors'
          default:
            $ref: '#/components/responses/Error'
        security:
          - oauth2:
              - crm.objects.companies.write
          - private_apps:
              - crm.objects.companies.write
    /crm/v3/objects/companies/gdpr-delete:
      post:
        tags:
          - GDPR
        summary: GDPR DELETE
        description: >-
          Permanently delete a contact and all associated content to follow GDPR.
          Use optional property 'idProperty' set to 'email' to identify contact by
          email address. If email address is not found, the email address will be
          added to a blocklist and prevent it from being used in the future.
        operationId: post-/crm/v3/objects/companies/gdpr-delete_purge
        parameters: []
        requestBody:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicGdprDeleteInput'
          required: true
        responses:
          '204':
            description: No content
            content: {}
          default:
            $ref: '#/components/responses/Error'
        security:
          - oauth2:
              - crm.objects.companies.write
          - private_apps:
              - crm.objects.companies.write
    /crm/v3/objects/companies:
      get:
        tags:
          - Basic
        summary: List
        description: >-
          Read a page of companies. Control what is returned via the `properties`
          query param.
        operationId: get-/crm/v3/objects/companies_getPage
        parameters:
          - name: limit
            in: query
            description: The maximum number of results to display per page.
            required: false
            style: form
            explode: true
            schema:
              type: integer
              format: int32
              default: 10
          - name: after
            in: query
            description: >-
              The paging cursor token of the last successfully read resource will
              be returned as the `paging.next.after` JSON property of a paged
              response containing more results.
            required: false
            style: form
            explode: true
            schema:
              type: string
          - name: properties
            in: query
            description: >-
              A comma separated list of the properties to be returned in the
              response. If any of the specified properties are not present on the
              requested object(s), they will be ignored.
            required: false
            style: form
            explode: true
            schema:
              type: array
              items:
                type: string
          - name: propertiesWithHistory
            in: query
            description: >-
              A comma separated list of the properties to be returned along with
              their history of previous values. If any of the specified properties
              are not present on the requested object(s), they will be ignored.
              Usage of this parameter will reduce the maximum number of objects
              that can be read by a single request.
            required: false
            style: form
            explode: true
            schema:
              type: array
              items:
                type: string
          - name: associations
            in: query
            description: >-
              A comma separated list of object types to retrieve associated IDs
              for. If any of the specified associations do not exist, they will be
              ignored.
            required: false
            style: form
            explode: true
            schema:
              type: array
              items:
                type: string
          - name: archived
            in: query
            description: Whether to return only results that have been archived.
            required: false
            style: form
            explode: true
            schema:
              type: boolean
              default: false
        responses:
          '200':
            description: successful operation
            content:
              application/json:
                schema:
                  $ref: >-
                    #/components/schemas/CollectionResponseSimplePublicObjectWithAssociationsForwardPaging
          default:
            $ref: '#/components/responses/Error'
        security:
          - oauth2:
              - crm.objects.companies.read
          - private_apps:
              - crm.objects.companies.read
      post:
        tags:
          - Basic
        summary: Create
        description: >-
          Create a company with the given properties and return a copy of the
          object, including the ID. Documentation and examples for creating
          standard companies is provided.
        operationId: post-/crm/v3/objects/companies_create
        parameters: []
        requestBody:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimplePublicObjectInputForCreate'
          required: true
        responses:
          '201':
            description: successful operation
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/SimplePublicObject'
          default:
            $ref: '#/components/responses/Error'
        security:
          - oauth2:
              - crm.objects.companies.write
          - private_apps:
              - crm.objects.companies.write
    /crm/v3/objects/companies/search:
      post:
        tags:
          - Search
        operationId: post-/crm/v3/objects/companies/search_doSearch
        parameters: []
        requestBody:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicObjectSearchRequest'
          required: true
        responses:
          '200':
            description: successful operation
            content:
              application/json:
                schema:
                  $ref: >-
                    #/components/schemas/CollectionResponseWithTotalSimplePublicObjectForwardPaging
          default:
            $ref: '#/components/responses/Error'
        security:
          - oauth2:
              - crm.objects.companies.read
          - private_apps:
              - crm.objects.companies.read
        x-hubspot-rate-limit-exemptions:
          - ten-secondly
    /crm/v3/extensions/calling/{appId}/settings:
      get:
        tags:
          - Settings
        summary: Get calling settings
        description: Returns the calling extension settings configured for your app.
        operationId: get-/crm/v3/extensions/calling/{appId}/settings_getById
        parameters:
          - name: appId
            in: path
            description: The ID of the target app.
            required: true
            style: simple
            explode: false
            schema:
              type: integer
              format: int32
        responses:
          '200':
            description: successful operation
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/SettingsResponse'
                example:
                  name: HubPhone
                  url: https://www.example.com/hubspot/iframe
                  width: 200
                  height: 350
                  isReady: true
                  supportsCustomObjects: true
                  createdAt: '2019-10-30T03:30:17.883Z'
                  updatedAt: '2019-11-30T03:30:17.883Z'
          default:
            $ref: '#/components/responses/Error'
        security:
          - developer_hapikey: []
      post:
        tags:
          - Settings
        summary: Configure a calling extension
        description: >-
          Used to set the menu label, target iframe URL, and dimensions for your
          calling extension.
        operationId: post-/crm/v3/extensions/calling/{appId}/settings_create
        parameters:
          - name: appId
            in: path
            description: The ID of the target app.
            required: true
            style: simple
            explode: false
            schema:
              type: integer
              format: int32
        requestBody:
          description: Settings state to create with.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SettingsRequest'
          required: true
        responses:
          '200':
            description: successful operation
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/SettingsResponse'
                example:
                  name: HubPhone
                  url: https://www.example.com/hubspot/iframe
                  width: 200
                  height: 350
                  isReady: true
                  supportsCustomObjects: true
                  createdAt: '2019-10-30T03:30:17.883Z'
                  updatedAt: '2019-11-30T03:30:17.883Z'
          default:
            $ref: '#/components/responses/Error'
        security:
          - developer_hapikey: []
      delete:
        tags:
          - Settings
        summary: Delete calling settings
        description: >-
          Deletes this calling extension. This will remove your service as an
          option for all connected accounts.
        operationId: delete-/crm/v3/extensions/calling/{appId}/settings_archive
        parameters:
          - name: appId
            in: path
            description: The ID of the target app.
            required: true
            style: simple
            explode: false
            schema:
              type: integer
              format: int32
        responses:
          '204':
            description: No content
            content: {}
          default:
            $ref: '#/components/responses/Error'
        security:
          - developer_hapikey: []
      patch:
        tags:
          - Settings
        summary: Update settings
        description: Updates existing calling extension settings.
        operationId: patch-/crm/v3/extensions/calling/{appId}/settings_update
        parameters:
          - name: appId
            in: path
            description: The ID of the target app.
            required: true
            style: simple
            explode: false
            schema:
              type: integer
              format: int32
        requestBody:
          description: Updated details for the settings.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SettingsPatchRequest'
          required: true
        responses:
          '200':
            description: successful operation
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/SettingsResponse'
                example:
                  name: HubPhone
                  url: https://www.example.com/hubspot/iframe
                  width: 200
                  height: 350
                  isReady: true
                  supportsCustomObjects: true
                  createdAt: '2019-10-30T03:30:17.883Z'
                  updatedAt: '2019-11-30T03:30:17.883Z'
          default:
            $ref: '#/components/responses/Error'
        security:
          - developer_hapikey: []
    /crm/v3/extensions/calling/{appId}/settings/recording:
      get:
        tags:
          - Recording_Settings
        operationId: get-/crm/v3/extensions/calling/{appId}/settings/recording_getUrlFormat
        parameters:
          - name: appId
            in: path
            required: true
            style: simple
            explode: false
            schema:
              type: integer
              format: int32
        responses:
          '200':
            description: successful operation
            content:
[...]
