publishJson:
  company: Kenjo
  serviceName: false
  sdkName: kenjo-{language}-sdk
  clientName: Kenjo
  metaDescription: >-
    Kenjo is the all in one HR software for managing the workforce of companies
    in the industrial, service and commercial sectors, among others.


    On a single platform, companies can optimise the most important operations
    and processes in people management: attendance, shift planning and
    recruitment, among others, while remaining compliant.


    All of this with the aim of making HR a key part of the success of companies
    and the development of their workforce.
  apiStatusUrls: inherit
  homepage: kenjo.io
  developerDocumentation: www.kenjo.io/legal/api
  categories:
    - hr
    - people_management_software
    - culture
    - people_management
    - workforce_management
    - deskless
    - operations
    - onboarding
    - offboarding
    - org_chart
    - payroll
    - time_off
    - attendance
rawSpecString: |
  openapi: 3.0.0
  info:
    title: Kenjo API
    description: >-
      Before starting to use the Kenjo API, you have to request the API activation
      for a sandbox or production environment to the Kenjo Customer Success team.
      After that, an admin user has to go to *Settings > Integrations > API keys*,
      to generate the **API Key**. Follow the steps described in the
      **Autentication section** of this document. <br>The API key is needed to
      request the bearer token. Each endpoint callout requires a valid bearer
      token in the Authorization header. Once the token is retrieved, it will be
      useful during the time limit indicated by the 'expiration date'.
    termsOfService: https://www.kenjo.io/legal/terms-and-conditions
    version: 1.0.0
  servers:
    - url: https://sandbox-api.kenjo.io/api/v1
      description: Sandbox environment
    - url: https://api.kenjo.io/api/v1
      description: Production environment
  tags:
    - name: Authentication
      description: Operations to login and logout.
    - name: User accounts
      description: Operations to list the existing employees in Kenjo.
    - name: Attendance
      description: Operations to manage attendance entries related to employees.
    - name: Companies
      description: Operations to list companies in Kenjo.
    - name: Offices
      description: Operations to manage offices in Kenjo.
    - name: Departments
      description: Operations to manage departments in Kenjo.
    - name: Teams
      description: Operations to manage teams in Kenjo.
    - name: Areas
      description: Operations to manage areas in Kenjo.
    - name: Calendars
      description: Operations to list calendars in Kenjo.
    - name: Employees
      description: Operations to manage employees in Kenjo.
    - name: Custom fields
      description: Operations to manage custom fields in Kenjo.
    - name: Time off
      description: Operations to manage time off types, policies and requests in Kenjo.
    - name: Compensation
      description: >-
        Operations to manage employments, salaries and additional payments in
        Kenjo.
  components:
    responses:
      ok:
        description: OK.
      badRequest:
        description: >-
          BAD REQUEST. This is a wrong request in the client side due to invalid
          body or params.
        content:
          application/json:
            schema:
              type: object
              properties:
                code:
                  type: number
                message:
                  type: string
              example:
                code: 400
                message: The param 'id' is not valid.
      unauthorized:
        description: >-
          UNAUTHORIZED. The Authorization header is incorrect, not provided or the
          token expired.
      noContent:
        description: NO CONTENT
    parameters:
      origin:
        in: header
        name: Origin
        description: Origin of the request.
        schema:
          type: string
          example: https://sandbox-api.kenjo.io
        required: true
      authorization:
        in: header
        name: Authorization
        description: A valid bearer token.
        schema:
          type: string
          example: >-
            Bearer
            eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJodHRwczovL2FwaS5rZW5qby5pbyIsInN1YiI6IjYwZjBhOTE2MjE0OTg3MjU2YmU5YzhmZiIsImF1ZCI6Imh0dHBzOi8vYXBpLmtlbmpvLmlvIiwiaWF0IjoxNjI2Mzg1MTE1LCJuYmYiOjE2MjYzODUxMTUsImV4cCI6MTYyNjU1NzkxNSwiYWNjZXNzVHlwZSI6IkFwaUFjY2VzcyIsInNfb3JnSWQiOiI2MGYwNGVhN2RmN2JhMjFlY2U0YmYzYzIifQ.cxG_7dIS-VbmDXdJuLkekoyuyCIzQG2fMcgc0nkfbWE8cihhcb5FnALbQkjU9b5-qVcEoMHZlSuUA-jMEBMMVQ
        required: true
  paths:
    /auth/login:
      post:
        summary: Log in an API token.
        description: Create a bearer token to allow connecting the API.
        tags:
          - Authentication
        requestBody:
          required: true
          content:
            application/json:
              schema:
                type: object
                properties:
                  apiKey:
                    type: string
                    description: The API key generated in Settings.
              example:
                apiKey: 5b8555a77b62b223d27593bcd15e172c2936590391fe4dea8e31f9b9
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    token:
                      type: string
                      description: A Bearer token to authenticate
                      example: >-
                        Bearer
                        eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJodHRwczovL2FwaS5rZW5qby5pbyIsInN1YiI6IjYwZjBhOTE2MjE0OTg3MjU2YmU5YzhmZiIsImF1ZCI6Imh0dHBzOi8vYXBpLmtlbmpvLmlvIiwiaWF0IjoxNjI2Mzg1MTE1LCJuYmYiOjE2MjYzODUxMTUsImV4cCI6MTYyNjU1NzkxNSwiYWNjZXNzVHlwZSI6IkFwaUFjY2VzcyIsInNfb3JnSWQiOiI2MGYwNGVhN2RmN2JhMjFlY2U0YmYzYzIifQ.cxG_7dIS-VbmDXdJuLkekoyuyCIzQG2fMcgc0nkfbWE8cihhcb5FnALbQkjU9b5-qVcEoMHZlSuUA-jMEBMMVQ
                    X-Expires-After:
                      type: string
                      description: A expiration date
                      example: '2021-07-17T21:38:35.872Z'
          '400':
            $ref: '#/components/responses/badRequest'
          '401':
            $ref: '#/components/responses/unauthorized'
    /auth/logout:
      post:
        summary: Log out an API token.
        description: Invalidates a Bearer token.
        tags:
          - Authentication
        responses:
          '204':
            $ref: '#/components/responses/noContent'
          '400':
            $ref: '#/components/responses/badRequest'
          '401':
            $ref: '#/components/responses/unauthorized'
    /attendances/{attendanceId}:
      get:
        summary: Return an attendance for a given attendance id.
        description: >-
          This endpoint returns one attendance entry specified by 
          **attendanceId**.
        tags:
          - Attendance
        parameters:
          - in: path
            name: attendanceId
            description: The _id of the attendance entry to request.
            required: true
            schema:
              type: string
              example: 60a2db290da29e126a18789a
          - in: header
            $ref: '#/components/parameters/authorization'
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    _id:
                      type: string
                      description: The _id of the requested attendance entry.
                      example: 60a2db290da29e126a18789a
                    userId:
                      type: string
                      description: >-
                        The id of the employee associated to the requested
                        attendance entry.
                      example: 60a2db290da29e126a18789a
                    email:
                      type: string
                      description: >-
                        The email of the employee associated to the requested
                        attendance entry.
                      example: john@acme.io
                    externalId:
                      type: string
                      description: >-
                        The external Id of the employee associated to the
                        requested attendance entry.
                      example: '000034'
                    startTime:
                      type: string
                      description: The start date time of the requested attendance entry.
                      example: '2021-07-01T10:00:00.000Z'
                    endTime:
                      type: string
                      description: The end date time of the requested attendance entry.
                      example: '2021-07-01T13:00:00.000Z'
                    breaks:
                      type: array
                      description: Array that contains the breaks in detail.
                      items:
                        type: object
                        properties:
                          start:
                            type: string
                            description: The start time of the break.
                            example: '11:00:00'
                          end:
                            type: string
                            description: The end time of the break.
                            example: '11:30:00'
                    breakTime:
                      type: number
                      description: >-
                        Number of minutes of break time. If there is no
                        'breaktime' this field will not be in the response. This
                        value is the sum of the total time of breaks.
                      example: 30
                    attendanceCategoryId:
                      type: string
                      description: The Kenjo _id of the attendance category.
                      example: 70a2db290da29e126a18789a
                    attendanceSubCategoryId:
                      type: string
                      description: The Kenjo _id of the attendance sub category.
                      example: 70a2db290da29e126a18789b
                    comment:
                      type: string
                      description: >-
                        Optional text to describe an attendance record (pair of
                        startTime and endTime). The maximum number of characters
                        is 150.
                      example: Morning working attendance tracking.
          '400':
            $ref: '#/components/responses/badRequest'
          '401':
            $ref: '#/components/responses/unauthorized'
      put:
        summary: Update an attendance for a given attendance id.
        description: >-
          This endpoint updates the attendance entry specified by
          **attendanceId**. Only the fields submitted in the body will be updated.
        tags:
          - Attendance
        parameters:
          - in: path
            name: attendanceId
            required: true
            description: The _id of the attendance entry to update.
            schema:
              type: string
              example: 60a2db290da29e126a18789a
          - in: header
            $ref: '#/components/parameters/authorization'
        requestBody:
          required: true
          content:
            application/json:
              schema:
                type: object
                properties:
                  startTime:
                    type: string
                    description: >-
                      The new start time of the attendance entry to update. The
                      valid format is *hh:mm:ss*
                    example: '10:00:00'
                  endTime:
                    type: string
                    description: >-
                      The new end time of the attendance entry to update. The
                      valid format is *hh:mm:ss*
                    example: '10:00:00'
                  breaks:
                    type: array
                    description: >-
                      Array that contains the breaks in detail. Rules:<br> - A
                      maximum of 10 breaks can be loaded via API.<br> - Breaks
                      cannot be overlapped in the same day.<br> - 'start' field is
                      required.<br> - There is no way to update specifically a
                      break.<br> - To remove 'breaks', just send an empty array in
                      the update, something like "breaks":[]
                    items:
                      type: object
                      properties:
                        start:
                          type: string
                          description: >-
                            The start time of the break. This field is required if
                            'breaks' is added to the body. The valid format is
                            *hh:mm:ss*
                          example: '11:00:00'
                        end:
                          type: string
                          description: >-
                            The end time of the break. This field is required if
                            'breaks' is added to the body. The valid format is
                            *hh:mm:ss*
                          example: '11:30:00'
                  comment:
                    type: string
                    description: >-
                      Optional text to describe an attendance record (pair of
                      startTime and endTime). The maximum number of characters is
                      150.
                    example: Morning working attendance tracking.
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    _id:
                      type: string
                      description: The _id of the requested attendance entry.
                    userId:
                      type: string
                      description: >-
                        The id of the employee associated to the requested
                        attendance entry.
                    email:
                      type: string
                      description: >-
                        The email of the employee associated to the requested
                        attendance entry.
                    externalId:
                      type: string
                      description: >-
                        The external Id of the employee associated to the
                        requested attendance entry.
                    startTime:
                      type: string
                      description: The start date time of the requested attendance entry.
                    endTime:
                      type: string
                      description: The end date time of the requested attendance entry.
                    breakTime:
                      type: number
                      description: >-
                        DEPRECATED field, use the 'breaks' field to specify the
                        breaktime. The time in minutes to indicate a break of
                        time. It cannot be greater than the total of minutes
                        reported for the attendance entry.
                    comment:
                      type: string
                      description: >-
                        Optional text to describe an attendance record (pair of
                        startTime and endTime). The maximum number of characters
                        is 150.
                example:
                  _id: 60a2db290da29e126a187891
                  userId: 50a2db290da29e126a18789a
                  email: john@acme.io
                  externalId: '00001'
                  date: '2021-07-01'
                  startTime: '10:00:00'
                  endTime: '13:00:00'
                  breaks:
                    - start: '10:00:00'
                      end: '10:30:00'
                  breakTime: 30
                  comment: Morning working attendance tracking.
          '400':
            $ref: '#/components/responses/badRequest'
          '401':
            $ref: '#/components/responses/unauthorized'
      delete:
        summary: Delete an attendance for a given attendance id.
        description: This endpoint delete the attendance entry specified by **attendanceId**.
        tags:
          - Attendance
        parameters:
          - in: path
            name: attendanceId
            required: true
            description: The Kenjo _id of the attendance entry to remove.
            schema:
              type: string
              example: 60a2db290da29e126a18789a
          - in: header
            $ref: '#/components/parameters/authorization'
        responses:
          '204':
            $ref: '#/components/responses/noContent'
          '400':
            $ref: '#/components/responses/badRequest'
          '401':
            $ref: '#/components/responses/unauthorized'
    /attendances:
      get:
        summary: Return a list of attendances.
        description: >-
          This endpoint returns an array of objects with all the existing
          attendance entries within Kenjo for a maximum of 31 days, defined by the
          required params **from** and **to**. Every object contains an attendance
          entry.
        tags:
          - Attendance
        parameters:
          - in: query
            name: from
            required: true
            description: A date in format YYYY-MM-DD to indicate the starting point.
            schema:
              type: string
              example: '2021-02-01'
          - in: query
            name: to
            required: true
            description: A date in format YYYY-MM-DD to indicate the ending point.
            schema:
              type: string
              example: '2021-02-04'
          - in: header
            $ref: '#/components/parameters/authorization'
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema:
                  type: array
                  items:
                    type: object
                    properties:
                      _id:
                        type: string
                        description: The Kenjo _id of the returned attendance entry.
                      userId:
                        type: string
                        description: >-
                          The Kenjo _id of the employee assigned to the attendance
                          entry.
                      email:
                        type: string
                        description: >-
                          The Kenjo email of the employee assigned to the
                          attendance entry.
                      externalId:
                        type: string
                        description: >-
                          The external id of the employee assigned to the
                          attendance entry.
                      startTime:
                        type: string
                        description: The start date time of the attendance entry.
                      endTime:
                        type: string
                        description: The end date time of the attendance entry.
                      breaks:
                        type: array
                        description: Array that contains the breaks in detail.
                        items:
                          type: object
                          properties:
                            start:
                              type: string
                              description: The start time of the break.
                            end:
                              type: string
                              description: The end time of the break.
                      breakTime:
                        type: string
                        description: >-
                          The break time of the attendance entry. If there is no
                          'breaktime' this field will not be in the response. This
                          value is the sum of the total time of breaks.
                      attendanceCategoryId:
                        type: string
                        description: The Kenjo _id of the attendance category.
                      attendanceSubCategoryId:
                        type: string
                        description: The Kenjo _id of the attendance sub category.
                      comment:
                        type: string
                        description: >-
                          Optional text to describe an attendance record (pair of
                          startTime and endTime). The maximum number of characters
                          is 150.
                  example:
                    - _id: 80a2db290da29e126a18789a
                      email: john@acme.io
                      userId: 83a2db290da29e126a18789a
                      externalId: '00001'
                      startTime: '2021-07-01T10:00:00.000Z'
                      endTime: '2021-07-01T12:00:00.000Z'
                      breaks:
                        - start: '11:00:00'
                          end: '11:30:00'
                      breakTime: 30
                      attendanceCategoryId: 70a2db290da29e126a18789a
                      attendanceSubCategoryId: 70a2db290da29e126a18789b
                      comment: Morning working attendance tracking.
                    - _id: 80a2db290da29e126a18789b
                      email: anna@acme.io
                      userId: 85a2db290da29e126a18789a
                      externalId: '00003'
                      startTime: '2021-07-02T09:00:00.000Z'
                      endTime: '2021-07-02T18:00:00.000Z'
                      breaks:
                        - start: '11:00:00'
                          end: '11:30:00'
                        - start: '13:00:00'
                          end: '14:00:00'
                      breakTime: 90
                      attendanceCategoryId: 70a2db290da29e126a18789a
                      attendanceSubCategoryId: 70a2db290da29e126a18789b
                    - _id: 80a2db290da29e126a18789c
                      email: joaquin@acme.io
                      userId: 88a2db290da29e126a18789a
                      externalId: '00009'
                      startTime: '2021-08-01T10:00:00.000Z'
                      endTime: '2021-08-01T12:00:00.000Z'
                      attendanceCategoryId: 70a2db290da29e126a18789a
                    - _id: 80a2db290da29e126a18789d
                      email: pedro@acme.io
                      userId: 81a2db290da29e126a18789a
                      externalId: '00009'
                      startTime: '2021-08-02T14:00:00.000Z'
                      endTime: '2021-08-02T18:00:00.000Z'
                      comment: I've taken the morning off.
          '400':
            $ref: '#/components/responses/badRequest'
          '401':
            $ref: '#/components/responses/unauthorized'
      post:
        summary: Create a new attendance.
        description: >-
          This endpoint creates an attendance entry for a one employee, so an user
          *identifier* is required to build this relationship. The following
          *identifiers* are the valid ones: **userId**, **email** or
          **externalId**. Also one **startTime** and one **date** are
          required.<br>The new entry will have an unique identifier **_id**. This
          value is returned in the body response.<br><br> A day accepts many
          attendance entries per employee but they cannot be overlapped. It means
          that if, for example, *there is an entry the 2021-06-10 between 09:00
          and 10:00 for the user E-111, then the creation of an new entry for
          E-111 in the 2021-06-10 whose startDate or endDate is between 09:00 and
          10:00 will become a BAD REQUEST*.
        tags:
          - Attendance
        parameters:
          - in: header
            $ref: '#/components/parameters/authorization'
        requestBody:
          required: true
          content:
            application/json:
              schema:
                type: object
                properties:
                  userId:
                    type: string
                    description: The Kenjo employee *_id*.
                    example: 50a2db290da29e126a18789a
                  email:
                    type: string
                    description: The Kenjo *email* for an employee.
                    example: john@acme.io
                  externalId:
                    type: string
                    description: The *external id* for an employee for integrations.
                    example: '00001'
                  date:
                    type: string
                    description: >-
                      The date of the entry. The valid format is *YYYY-MM-DD*.
                      Required field.
                    example: '2021-07-01'
                  startTime:
                    type: string
                    description: >-
                      The start time of the entry. The valid format is *hh:mm:ss*.
                      Required field.
                    example: '10:00:00'
                  endTime:
                    type: string
                    description: >-
                      The end time of the entry. It is not a required field but
                      cannot be less or equal than the *startTime*. The valid
                      format is *hh:mm:ss*
                    example: '13:00:00'
                  breaks:
                    type: array
                    description: >-
                      Array that contains the breaks in detail. Rules:<br> - A
                      maximum of 10 breaks can be loaded via API.<br> - Breaks
                      cannot be overlapped in the same day.<br> - 'start' field is
                      required.
                    items:
                      type: object
                      properties:
                        start:
                          type: string
                          description: >-
                            The start time of the break. This field is required if
                            'breaks' is added to the body. The valid format is
                            *hh:mm:ss*
                          example: '11:00:00'
                        end:
                          type: string
                          description: >-
                            The end time of the break. This field is required if
                            'breaks' is added to the body. The valid format is
                            *hh:mm:ss*
                          example: '11:30:00'
                  comment:
                    type: string
                    description: >-
                      Optional text to describe an attendance record (pair of
                      startTime and endTime). The maximum number of characters is
                      150.
                    example: Morning working attendance tracking.
                required:
                  - startTime
                  - date
              example:
                userId: 50a2db290da29e126a18789a
                email: john@acme.io
                externalId: '00001'
                date: '2021-07-01'
                startTime: '10:00:00'
                endTime: '13:00:00'
                breaks:
                  - start: '10:00:00'
                    end: '10:30:00'
                comment: Morning working attendance tracking.
        responses:
          '201':
            description: CREATED
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    _id:
                      type: string
                      description: The Kenjo _id of the new attendance entry.
                      example: 60a2db290da29e126a18789a
                    userId:
                      type: string
                      description: >-
                        The id of the employee assigned to the requested
                        attendance entry.
                      example: 60a2db290da29e126a18789a
                    email:
                      type: string
                      description: >-
                        The email of the employee assigned to the requested
                        attendance entry.
                      example: john@acme.io
                    externalId:
                      type: string
                      description: >-
                        The external Id of the employee assigned to the requested
                        attendance entry.
                      example: '000034'
                    startTime:
                      type: string
                      description: The start date time of the created attendance entry
                      example: '2021-07-01T10:00:00'
                    endTime:
                      type: string
                      description: The end date time of the created attendance entry.
                      example: '2021-07-01T13:00:00'
                    breaks:
                      type: array
                      description: Array that contains the breaks in detail.
                      items:
                        type: object
                        properties:
                          start:
                            type: string
                            description: The start time of the break.
                            example: '11:00:00'
                          end:
                            type: string
                            description: The end time of the break.
                            example: '11:30:00'
                    breakTime:
                      type: number
                      description: >-
                        DEPRECATED field, use the 'breaks' field to specify the
                        breaktime. The time in minutes to indicate a break of
                        time. It cannot be greater than the total of minutes
                        reported for the attendance entry.
                      example: 30
                    comment:
                      type: string
                      description: >-
                        Optional text to describe an attendance record (pair of
                        startTime and endTime). The maximum number of characters
                        is 150.
                      example: Morning working attendance tracking.
          '400':
            $ref: '#/components/responses/badRequest'
          '401':
            $ref: '#/components/responses/unauthorized'
    /attendances/track-time:
      post:
        summary: Track an attendance entry.
        description: >-
          This endpoint tracks time only providing the following information:
          **employee identifier** and a **date time**. The following identifiers
          are the valid ones: **userId**, **email** or **externalId**, only one of
          them is required. This action abstracts and simplifies the entries
          tracking, ensuring internally the order and transforming each track
          action to a Kenjo user attendance format.<br><br>Example: Three calls
          for the employee E-111 to the */track-time* endpoint contains the
          following data:<br>T1: 2021-01-01T08:00:00<br>T2:
          2021-01-01T09:00:00<br>T3: 2021-01-01T10:00:00<br>The three calls order
          is T1, T2, T3.<br><br>Then in Kenjo there will be 2 attendance
          pairs:<br>1: 08:00 / 09:00<br>2: 10:00 / --:--<br>The second pair is
          open, with no **endTime** info, until a new one comes. <br><br>If there
          is a new track: 2021-01-01T12:00:00, then the result will be:<br>1:
          08:00 / 09:00<br>2: 10:00 / 12:00<br>If the track is 2021-01-01T07:00:00
          instead, then the previous tracks are reordered to be consistent with
          concept of attendance pairs:<br>1: 07:00 / 08:00<br>2: 09:00 / 10:00
        tags:
          - Attendance
        parameters:
          - in: header
            $ref: '#/components/parameters/authorization'
        requestBody:
          required: true
          content:
            application/json:
              schema:
                type: object
                properties:
                  userId:
                    type: string
                    description: The Kenjo employee *_id*.
                    example: 50a2db290da29e126a18789a
                  email:
                    type: string
                    description: The Kenjo *email* for an employee.
                    example: john@acme.io
                  externalId:
                    type: string
                    description: The *external id* for an employee for integrations.
                    example: '00001'
                  dateTime:
                    type: string
                    description: >-
                      The date and the time of the Kenjo employee in format
                      YYYY-MM-DDThh:mm:ss.
                    example: '2021-07-01T09:00:00'
                required:
                  - dateTime
              example:
                userId: 50a2db290da29e126a18789a
                email: john@acme.io
                externalId: '00001'
                dateTime: '2021-07-01T09:00:00'
        responses:
          '201':
            description: CREATED. The returned body matches with the input body.
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    userId:
                      type: string
                      description: The Kenjo employee *_id*.
                      example: 50a2db290da29e126a18789a
                    email:
                      type: string
                      description: The Kenjo *email* for an employee.
                      example: john@acme.io
                    externalId:
                      type: string
                      description: The *external id* for an employee for integrations.
                      example: '00001'
                    dateTime:
                      type: string
                      description: >-
                        The date and the time of the Kenjo employee in format
                        YYYY-MM-DDThh:mm:ss.
                      example: '2021-07-01T09:00:00'
                  required:
                    - dateTime
                example:
                  userId: 50a2db290da29e126a18789a
                  email: john@acme.io
                  externalId: '00001'
                  dateTime: '2021-07-01T09:00:00'
          '400':
            $ref: '#/components/responses/badRequest'
          '401':
            $ref: '#/components/responses/unauthorized'
    /attendances/categories:
      get:
        summary: Return a list of attendance categories.
        description: >-
          This endpoint returns an array of objects. Every object contains an
          attendance category.
        tags:
          - Attendance
        parameters:
          - in: header
            $ref: '#/components/parameters/authorization'
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    data:
                      type: array
                      items:
                        type: object
                        properties:
                          _id:
                            type: string
                            description: The Kenjo _id of the returned attendance category.
                          name:
                            type: string
                            description: The name of the returned attendance category.
                          parentCategoryId:
                            type: string
                            description: The id of the parent attendance category.
                          isActive:
                            type: boolean
                            description: >-
                              If the attendance category is active then this field
                              is TRUE, otherwise is FALSE.
                      example:
                        - _id: 80a2db290da29e126a18789a
                          name: Project in Germany
                          isActive: true
                        - _id: 80a2db290da29e126a18789b
                          name: Absence
                          parentCategoryId: 80a2db290da29e126a18789a
                          isActive: true
                        - _id: 80a2db290da29e126a18789b
                          name: Project in Spain
                          isActive: true
          '400':
            $ref: '#/components/responses/badRequest'
          '401':
            $ref: '#/components/responses/unauthorized'
    /attendances/expected-time:
      get:
        summary: Return a list of expected times.
        description: >-
          This endpoint returns a paginated list of expected time by user for a
          given date range.
        tags:
          - Attendance
        parameters:
          - in: query
            name: from
            required: true
            description: A date in format YYYY-MM-DD to indicate the starting point.
            schema:
              type: string
              example: '2020-01-01'
          - in: query
            name: to
            required: true
            description: A date in format YYYY-MM-DD to indicate the ending point.
            schema:
              type: string
              example: '2020-01-10'
          - in: header
            $ref: '#/components/parameters/authorization'
          - in: query
            name: companyId
            description: Optional filter. The company id of the Kenjo employee.
            schema:
              type: string
              example: 80a2db290da29e126a18789a
          - in: query
            name: officeId
            description: Optional filter. The office id of the Kenjo employee.
            schema:
              type: string
              example: 80a2db290da29e126a18789d
          - in: query
            name: departmentId
            description: Optional filter. The department id of the Kenjo employee.
            schema:
              type: string
              example: 80a2db290da29e126a18789c
          - in: query
            name: userId
            description: >-
              Optional filter. The id of the Kenjo employee. It accepts 2
              formats:<br><br> 1. An unique string with the Kenjo employee id.
              <br>Example: *userId=80a2db290da29e126a18789c* <br><br> 2. A string
              with more than one Kenjo employee ids separated by commas (until 15
              ids as maximum). <br>Example:
              *userId=80a2db290da29e126a18789c,80a2db290da29e126a18789b,80a2db290da29e126a187891*
            schema:
              type: string
              example: 80a2db290da29e126a18789c
          - in: query
            name: offset
            description: >-
              Optional filter for pagination proposals. Determines the number of
              pages to skip when pagination is being used. If this value is not
              provided, by default the offset will be 1.
            schema:
              type: number
              example: 1
          - in: query
            name: limit
            description: >-
              Optional filter for pagination proposals. The maximum number of rows
              to retrieve which determines the size of the page. If this value is
              not provided then the limit will be 50 users. The maximum value of
              the limit is 100 users per page. Only are valid the following limit
              values: 25, 50 and 100.
            schema:
              type: number
              example: 25
        responses:
          '200':
            description: OK.
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    data:
                      type: array
                      items:
                        type: object
                        properties:
                          userId:
                            type: string
                            description: The Kenjo _id of the returned user.
                          days:
                            type: array
                            description: >-
                              Array that contains the days with the expected time
                              information per user in the provided date range.
                            items:
                              type: object
                              properties:
                                date:
                                  type: string
                                  description: The date in format YYYY-MM-DD.
                                expectedHours:
                                  type: number
                                  description: The number of expected hours for a given day.
                                expectedMinutes:
                                  type: number
                                  description: >-
                                    The number of expected minutes for a given
                                    day.
                          totalExpectedHours:
                            type: number
                            description: >-
                              The total number of expected hours for an user in a
                              given date range.
                          totalExpectedMinutes:
                            type: number
                            description: >-
                              The total number of expected minutes for an user in
                              a given date range.
                    metadata:
                      type: object
                      properties:
                        count:
                          type: number
                          description: >-
                            The number of rows retrieved according the pagination
                            filters (limit + offset).
                        offset:
                          type: number
                          description: >-
                            The number of pages to skip. Determines the page
                            number when pagination is being used.
                        limit:
                          type: number
                          description: >-
                            The maximum number of rows to retrieve. Determines the
                            size of the page when pagination is being used.
                        total:
                          type: number
                          description: >-
                            The total number of rows existing for the provided
                            filters.
                  example:
                    data:
                      - userId: 80a2db290da29e126a18789a
                        days:
                          - date: '2020-01-01T00:00:00.000Z'
                            expectedHours: 8
                            expectedMinutes: 480
                          - date: '2020-01-02T00:00:00.000Z'
                            expectedHours: 8
                            expectedMinutes: 480
                          - date: '2020-01-03T00:00:00.000Z'
                            expectedHours: 8
                            expectedMinutes: 480
                          - date: '2020-01-04T00:00:00.000Z'
                            expectedHours: 8
                            expectedMinutes: 480
                          - date: '2020-01-05T00:00:00.000Z'
                            expectedHours: 8
                            expectedMinutes: 480
                          - date: '2020-01-06T00:00:00.000Z'
                            expectedHours: 0
                            expectedMinutes: 0
                          - date: '2020-01-07T00:00:00.000Z'
                            expectedHours: 0
                            expectedMinutes: 0
                          - date: '2020-01-08T00:00:00.000Z'
                            expectedHours: 8
                            expectedMinutes: 480
                          - date: '2020-01-09T00:00:00.000Z'
                            expectedHours: 8
                            expectedMinutes: 480
                          - date: '2020-01-10T00:00:00.000Z'
                            expectedHours: 8
                            expectedMinutes: 480
                        totalExpectedHours: 64
                        totalExpectedMinutes: 3840
                      - userId: 80a2db290da29e126a18789b
                        days:
                          - date: '2020-01-01T00:00:00.000Z'
                            expectedHours: 8
                            expectedMinutes: 480
                          - date: '2020-01-02T00:00:00.000Z'
                            expectedHours: 8
                            expectedMinutes: 480
                          - date: '2020-01-03T00:00:00.000Z'
                            expectedHours: 8
                            expectedMinutes: 480
                          - date: '2020-01-04T00:00:00.000Z'
                            expectedHours: 8
                            expectedMinutes: 480
                          - date: '2020-01-05T00:00:00.000Z'
                            expectedHours: 8
                            expectedMinutes: 480
                          - date: '2020-01-06T00:00:00.000Z'
                            expectedHours: 0
                            expectedMinutes: 0
                          - date: '2020-01-07T00:00:00.000Z'
                            expectedHours: 0
                            expectedMinutes: 0
                          - date: '2020-01-08T00:00:00.000Z'
                            expectedHours: 0
                            expectedMinutes: 0
                          - date: '2020-01-09T00:00:00.000Z'
                            expectedHours: 0
                            expectedMinutes: 0
                          - date: '2020-01-10T00:00:00.000Z'
                            expectedHours: 0
                            expectedMinutes: 0
                        totalExpectedHours: 40
                        totalExpectedMinutes: 2400
                    metadata:
                      count: 2
                      offset: 1
                      limit: 50
                      total: 2
          '400':
            $ref: '#/components/responses/badRequest'
          '401':
            $ref: '#/components/responses/unauthorized'
    /companies:
      get:
        summary: Return a list of companies.
        description: Returns a list of the existing companies in Kenjo.
        tags:
          - Companies
        parameters:
          - in: header
            $ref: '#/components/parameters/authorization'
          - in: query
            name: name
            description: The name of the company.
            schema:
              type: string
              example: ACME Ltd
          - in: query
            name: city
            description: The city of the company.
            schema:
              type: string
              example: Madrid
          - in: query
            name: country
            description: The country code of the company in ISO 3166-1 alpha-2.
            schema:
              type: string
              example: ES
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema:
                  type: array
                  items:
                    type: object
                    properties:
                      _id:
                        type: string
                        description: The Kenjo _id of the company.
                        example: 40a2db290da29e126a18789a
                      name:
                        type: string
                        description: The name of the company.
                        example: ACME Ltd
                      city:
                        type: string
                        description: The city of the company.
                        example: Madrid
                      country:
                        type: string
                        description: The country code of the company in ISO 3166-1 alpha-2.
                        example: ES
                  example:
                    - _id: 40a2db290da29e126a18789a
                      name: ACME Ltd
                    - _id: 40a2db290da29e126a18789b
                      name: ACME SA
          '400':
            $ref: '#/components/responses/badRequest'
          '401':
            $ref: '#/components/responses/unauthorized'
    /offices:
      get:
        summary: Return a list of offices.
        description: Returns a list of the existing offices in Kenjo.
        tags:
          - Offices
        parameters:
          - in: header
            $ref: '#/components/parameters/authorization'
          - in: query
            name: name
            description: The name of the office.
            schema:
              type: string
              example: Berlin office
          - in: query
            name: companyId
            description: The Kenjo id of the company.
            schema:
              type: string
              example: 40a2db290da29e126a187895
          - in: query
            name: calendarId
            description: The Kenjo id of the calendar.
            schema:
              type: string
              example: 40a2db290da29e126a187895
          - in: query
            name: street
            description: The street of the office.
            schema:
              type: string
              example: Urbanstrasse, 71
          - in: query
            name: postalCode
            description: The postal code of the office.
            schema:
              type: string
              example: '34213'
          - in: query
            name: city
            description: The city of the office.
            schema:
              type: string
              example: Berlin
          - in: query
            name: country
            description: The country of the office in ISO code.
            schema:
              type: string
              example: DE
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema:
                  type: array
                  items:
                    type: object
                    properties:
                      _id:
                        type: string
                        description: The Kenjo _id of the office.
                        example: 40a2db290da29e126a18789a
                      name:
                        type: string
                        description: The name of the office.
                        example: Berlin office
                      companyId:
                        type: string
                        description: The Kenjo id of the company.
                        example: 40a2db290da29e126a187892
                      calendarId:
                        type: string
                        description: The Kenjo id of the calendar.
                        example: 40a2db290da29e126a187895
                      street:
                        type: string
                        description: The street of the office.
                        example: Urbanstrasse, 71
                      postalCode:
                        type: string
                        description: The postal code of the office.
                        example: 34213
                      city:
                        type: string
                        description: The city of the office.
                        example: Berlin
                      country:
                        type: string
                        description: The country of the office in ISO code.
                        example: DE
                  example:
                    - _id: 50a2db290da29e126a18789a
                      name: ACME Berlin
                      companyId: 5b8555a97b62b223d27598c7
                      calendarId: 5b8555a97b62b223d275a176
                      street: Urbanstr. 71
                      postalCode: 10967
                      city: Berlin
                      country: DE
                    - _id: 50a2db290da29e126a18789b
                      name: ACME London
                      companyId: 5b8555a97b62b223d27598c4
                      calendarId: 5b8555a97b62b223d275a175
                      street: Park Street 20
                      postalCode: 12342
                      city: London
                      country: GB
                    - _id: 50a2db290da29e126a18789c
                      name: ACME Madrid
                      companyId: 5b8555a97b62b223d27598c6
                      calendarId: 5b8555a97b62b223d275a177
                      street: Manuel Ferrero, 19
                      postalCode: 28096
                      city: Madrid
                      country: ES
          '400':
            $ref: '#/components/responses/badRequest'
          '401':
            $ref: '#/components/responses/unauthorized'
      post:
        summary: Create a new office.
        description: >-
          Creates a new office.<br><br>The required fields are *name*,
          *companyId*, *calendarId*.<br>Optional fields are *street*,
          *postalCode*, *city* and *country*. <br> The *country* field has to be a
          valid ISO country code.
        tags:
          - Offices
        parameters:
          - in: header
            $ref: '#/components/parameters/authorization'
        requestBody:
          required: true
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                    description: The new name of the office to create. Required field.
                    example: Spain office
                  companyId:
                    type: string
                    description: The company id of the office to create. Required field.
                    example: 60dadb6362702d057f8fb486
                  calendarId:
                    type: string
                    description: The calendar id of the office to create. Required field.
                    example: 60f808f727ad58fe791bae91
                  country:
                    type: string
                    description: The country of the office to create in ISO code.
                    example: ES
                  postalCode:
                    type: string
                    description: The postal code of the office to create.
                    example: '28030'
                  city:
                    type: string
                    description: The city of the office to create.
                    example: ES
                  street:
                    type: string
                    description: The street of the office to create.
                    example: Paseo Castellana, 13
        responses:
          '201':
            description: CREATED
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    _id:
                      type: string
                      description: The Kenjo id of the new office.
                      example: 60f808f727ad58fe791bae9e
                    name:
                      type: string
                      description: The new name of the office to create.
                      example: Spain office
                    companyId:
                      type: string
                      description: The company id of the office to create.
                      example: 60dadb6362702d057f8fb486
                    calendarId:
                      type: string
                      description: The calendar id of the office to create.
                      example: 60f808f727ad58fe791bae91
                    country:
                      type: string
                      description: The country of the office to create.
                      example: ES
                    postalCode:
                      type: string
                      description: The postalcode of the office to create.
                      example: '28030'
                    city:
                      type: string
                      description: The city of the office to create.
                      example: Madrid
                    street:
                      type: string
                      description: The street of the office to create.
                      example: Paseo Castellana
          '400':
            $ref: '#/components/responses/badRequest'
          '401':
            $ref: '#/components/responses/unauthorized'
    /offices/{id}:
      get:
        summary: Return an office for a given office id.
        description: Returns the office referenced by *id*.
        tags:
          - Offices
        parameters:
          - in: path
            name: id
            description: The _id of the office entry to request.
            required: true
            schema:
              type: string
              example: 60a2db290da29e126a18789a
          - in: header
            $ref: '#/components/parameters/authorization'
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    _id:
                      type: string
                      description: The Kenjo _id of the office.
                      example: 40a2db290da29e126a18789a
                    name:
                      type: string
                      description: The name of the office.
                      example: Spain office
                    companyId:
                      type: string
                      description: The Kenjo id of the company.
                      example: 40a2db290da29e126a187892
                    calendarId:
                      type: string
                      description: The Kenjo id of the calendar.
                      example: 40a2db290da29e126a187895
                    street:
                      type: string
                      description: The street of the office.
                      example: Paseo Castellana, 13
                    postalCode:
                      type: string
                      description: The postal code of the office.
                      example: 28030
                    city:
                      type: string
                      description: The city of the office.
                      example: Madrid
                    country:
                      type: string
                      description: The country of the office in ISO code.
                      example: ES
          '400':
            $ref: '#/components/responses/badRequest'
          '401':
            $ref: '#/components/responses/unauthorized'
      put:
        summary: Update an office for a given office id.
        description: >-
          Updates an office referenced by *id*. Only the attributes submitted are
          modified.
        tags:
          - Offices
        parameters:
          - in: path
            name: id
            description: The _id of the office entry to request.
            required: true
            schema:
              type: string
              example: 60a2db290da29e126a18789a
          - in: header
            $ref: '#/components/parameters/authorization'
        requestBody:
          required: true
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                    description: The new name of the office to update.
                    example: Madrid office
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    _id:
                      type: string
                      description: The Kenjo _id of the office.
                      example: 40a2db290da29e126a18789a
                    name:
                      type: string
                      description: The new name of the office to update.
                      example: Madrid office
          '400':
            $ref: '#/components/responses/badRequest'
          '401':
            $ref: '#/components/responses/unauthorized'
      delete:
        summary: Delete an office for a given office id.
        description: Removes the office referenced by *id*.
        tags:
          - Offices
        parameters:
          - in: path
            name: id
            description: The _id of the office entry to request.
            required: true
            schema:
              type: string
              example: 60a2db290da29e126a18789a
          - in: header
            $ref: '#/components/parameters/authorization'
        responses:
          '204':
            $ref: '#/components/responses/noContent'
          '400':
            $ref: '#/components/responses/badRequest'
          '401':
            $ref: '#/components/responses/unauthorized'
    /departments:
      get:
        summary: Return a list of departments.
        description: Returns a list of the existing departments in Kenjo.
        tags:
          - Departments
        parameters:
          - in: header
            $ref: '#/components/parameters/authorization'
          - in: query
            name: name
            description: The department name.
            schema:
              type: string
              example: Happiness dept.
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema:
                  type: array
                  items:
                    type: object
                    properties:
                      _id:
                        type: string
                        description: The Kenjo _id of the department.
                        example: 40a2db290da29e126a18789a
                      name:
                        type: string
                        description: The name of the department.
                        example: Sales
                  example:
                    - _id: 60a2db290da29e126a18789a
                      name: Sales
                    - _id: 60a2db290da29e126a18789b
                      name: Marketing
                    - _id: 60a2db290da29e126a18789c
                      name: Tech
                    - _id: 60a2db290da29e126a18789d
                      name: Finance
                    - _id: 60a2db290da29e126a18789e
                      name: Customer Success
          '400':
            $ref: '#/components/responses/badRequest'
          '401':
            $ref: '#/components/responses/unauthorized'
      post:
        summary: Create a new department.
        description: Creates a new department.<br>The *name* is the only required field.<br>
        tags:
          - Departments
        parameters:
          - in: header
            $ref: '#/components/parameters/authorization'
        requestBody:
          required: true
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                    description: The new name of the department to update. Required field.
                    example: Sales
        responses:
          '201':
            description: CREATED
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    _id:
                      type: string
                      description: The Kenjo _id of the department.
                      example: 40a2db290da29e126a18789a
                    name:
                      type: string
                      description: The name of the department.
                      example: Sales
          '400':
            $ref: '#/components/responses/badRequest'
          '401':
            $ref: '#/components/responses/unauthorized'
    /departments/{id}:
      get:
        summary: Return a department for a given department id.
        description: Returns the department referenced by *id*.
        tags:
          - Departments
        parameters:
          - in: path
            name: id
            description: The _id of the department entry to request.
            required: true
            schema:
              type: string
              example: 60a2db290da29e126a18789a
          - in: header
            $ref: '#/components/parameters/authorization'
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    _id:
                      type: string
                      description: The Kenjo _id of the department.
                      example: 40a2db290da29e126a18789a
                    name:
                      type: string
                      description: The name of the department.
                      example: Sales
          '400':
            $ref: '#/components/responses/badRequest'
          '401':
            $ref: '#/components/responses/unauthorized'
      put:
        summary: Update a department for a given department id.
        description: >-
          Updates a department referenced by *id*. Only the attributes submitted
          are modified.
        tags:
          - Departments
        parameters:
          - in: path
            name: id
            description: The _id of the department entry to request.
            required: true
            schema:
              type: string
              example: 60a2db290da29e126a18789a
          - in: header
            $ref: '#/components/parameters/authorization'
        requestBody:
          required: true
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                    description: The new name of the department to update.
                    example: Sales
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    name:
                      type: string
                      description: The new name of the department to update.
                      example: Sales
                    _id:
                      type: string
                      description: The Kenjo _id of the department.
                      example: 40a2db290da29e126a18789a
          '400':
            $ref: '#/components/responses/badRequest'
          '401':
            $ref: '#/components/responses/unauthorized'
      delete:
        summary: Delete a department for a given department id.
        description: Removes the department referenced by *id*.
        tags:
          - Departments
        parameters:
          - in: path
            name: id
            description: The _id of the department entry to request.
            required: true
            schema:
              type: string
              example: 60a2db290da29e126a18789a
          - in: header
            $ref: '#/components/parameters/authorization'
        responses:
          '204':
            $ref: '#/components/responses/noContent'
          '400':
            $ref: '#/components/responses/badRequest'
          '401':
            $ref: '#/components/responses/unauthorized'
    /teams:
      get:
        summary: Return a list of teams.
        description: Returns a list of the existing teams in Kenjo.
        tags:
          - Teams
        parameters:
          - in: header
            $ref: '#/components/parameters/authorization'
          - in: query
            name: name
            description: The team name.
            schema:
              type: string
              example: Developers
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema:
                  type: array
                  items:
                    type: object
                    properties:
                      _id:
                        type: string
                        description: The Kenjo _id of the team.
                        example: 40a2db290da29e126a18789a
                      name:
                        type: string
                        description: The name of the team.
                        example: Tech backend
                  example:
                    - _id: 60a2db290da29e126a18789a
                      name: Tech backend
                    - _id: 60a2db290da29e126a18789b
                      name: Tech devOps
                    - _id: 60a2db290da29e126a18789c
                      name: Tech frontend
          '400':
            $ref: '#/components/responses/badRequest'
          '401':
            $ref: '#/components/responses/unauthorized'
      post:
        summary: Create a new team.
        description: Creates a new team.<br>The *name* is the only required field.<br>
        tags:
          - Teams
        parameters:
          - in: header
            $ref: '#/components/parameters/authorization'
        requestBody:
          required: true
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                    description: The new name of the team to update. Required field.
                    example: Tech devOps
        responses:
          '201':
            description: CREATED
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    _id:
                      type: string
                      description: The Kenjo _id of the team.
                      example: 40a2db290da29e126a18789a
                    name:
                      type: string
                      description: The name of the department.
                      example: Tech devOps
          '400':
            $ref: '#/components/responses/badRequest'
          '401':
            $ref: '#/components/responses/unauthorized'
    /teams/{id}:
      get:
        summary: Return a team for a given team id.
        description: Returns the team referenced by *id*.
        tags:
          - Teams
        parameters:
          - in: path
            name: id
            description: The _id of the team entry to request.
            required: true
            schema:
              type: string
              example: 60a2db290da29e126a18789a
          - in: header
            $ref: '#/components/parameters/authorization'
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    _id:
                      type: string
                      description: The Kenjo _id of the team.
                      example: 40a2db290da29e126a18789a
                    name:
                      type: string
                      description: The name of the team.
                      example: Tech devOps
          '400':
            $ref: '#/components/responses/badRequest'
          '401':
            $ref: '#/components/responses/unauthorized'
      put:
        summary: Update a team for a given team id.
        description: >-
          Updates a team referenced by *id*. Only the attributes submitted are
          modified.
        tags:
          - Teams
        parameters:
          - in: path
            name: id
            description: The _id of the team entry to request. Required field.
            required: true
            schema:
              type: string
              example: 60a2db290da29e126a18789a
          - in: header
            $ref: '#/components/parameters/authorization'
        requestBody:
          required: true
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                    description: The new name of the team to update.
                    example: Sales
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    _id:
                      type: string
                      description: The Kenjo _id of the team.
                      example: 60a2db290da29e126a18789a
                    name:
                      type: string
                      description: The new name of the team to update.
                      example: Sales
          '400':
            $ref: '#/components/responses/badRequest'
          '401':
            $ref: '#/components/responses/unauthorized'
      delete:
        summary: Delete a team for a given team id.
        description: Removes the team referenced by *id*.
        tags:
          - Teams
        parameters:
          - in: path
            name: id
            description: The _id of the team entry to request.
            required: true
            schema:
              type: string
              example: 60a2db290da29e126a18789a
          - in: header
            $ref: '#/components/parameters/authorization'
        responses:
          '204':
            $ref: '#/components/responses/noContent'
          '400':
            $ref: '#/components/responses/badRequest'
          '401':
            $ref: '#/components/responses/unauthorized'
    /areas:
      get:
        summary: Return a list of areas.
        description: Returns a list of the existing areas in Kenjo.
        tags:
          - Areas
        parameters:
          - in: header
            $ref: '#/components/parameters/authorization'
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema:
                  type: array
                  items:
                    type: object
                    properties:
                      _id:
                        type: string
                        description: The Kenjo _id of the area.
                        example: 40a2db290da29e126a18789a
                      name:
                        type: string
                        description: The name of the area.
                        example: Recruiting feature
          '400':
            $ref: '#/components/responses/badRequest'
          '401':
            $ref: '#/components/responses/unauthorized'
      post:
        summary: Create a new area.
        description: Creates a new area.<br>The *name* is the only required field.<br>
        tags:
          - Areas
        parameters:
          - in: header
            $ref: '#/components/parameters/authorization'
        requestBody:
          required: true
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                    description: The new name of the area to update.
                    example: Recruiting feature
        responses:
          '201':
            description: CREATED
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    _id:
                      type: string
                      description: The Kenjo _id of the area.
                      example: 40a2db290da29e126a18789a
                    name:
                      type: string
                      description: The name of the area.
                      example: Recruiting feature
          '400':
            $ref: '#/components/responses/badRequest'
          '401':
            $ref: '#/components/responses/unauthorized'
    /areas/{id}:
      get:
        summary: Return a area for a given area id.
        description: Returns the area referenced by *id*.
        tags:
          - Areas
        parameters:
          - in: path
            name: id
            description: The _id of the area entry to request.
            required: true
            schema:
              type: string
              example: 60a2db290da29e126a18789a
          - in: header
            $ref: '#/components/parameters/authorization'
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    _id:
                      type: string
                      description: The Kenjo _id of the area.
                      example: 40a2db290da29e126a18789a
                    name:
                      type: string
                      description: The name of the area.
                      example: Recruiting feature
          '400':
            $ref: '#/components/responses/badRequest'
          '401':
            $ref: '#/components/responses/unauthorized'
      put:
        summary: Update an area for a given area id.
        description: >-
          Updates a area referenced by *id*. Only the attributes submitted are
          modified.
        tags:
          - Areas
        parameters:
          - in: path
            name: id
            description: The _id of the area entry to request.
            required: true
            schema:
              type: string
              example: 60a2db290da29e126a18789a
          - in: header
            $ref: '#/components/parameters/authorization'
        requestBody:
          required: true
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                    description: The new name of the area to update.
                    example: Sales
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    name:
                      type: string
                      description: The new name of the area to update.
                      example: Sales
                    _id:
                      type: string
                      description: The Kenjo _id of the area.
                      example: 40a2db290da29e126a18789a
          '400':
            $ref: '#/components/responses/badRequest'
          '401':
            $ref: '#/components/responses/unauthorized'
      delete:
        summary: Delete an area for a given area id.
        description: Removes the area referenced by *id*.
        tags:
          - Areas
        parameters:
          - in: path
            name: id
            description: The _id of the area entry to request.
            required: true
            schema:
              type: string
              example: 60a2db290da29e126a18789a
          - in: header
            $ref: '#/components/parameters/authorization'
        responses:
          '204':
            $ref: '#/components/responses/noContent'
          '400':
            $ref: '#/components/responses/badRequest'
          '401':
            $ref: '#/components/responses/unauthorized'
    /calendars:
      get:
        summary: Return a list of calendars.
        description: Returns a list of the existing calendars in Kenjo.
        tags:
          - Calendars
        parameters:
          - in: header
            $ref: '#/components/parameters/authorization'
          - in: query
            name: name
            description: The calendar name.
            schema:
              type: string
              example: Madrid Calendar
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema:
                  type: array
                  items:
                    type: object
                    properties:
                      _id:
                        type: string
                        description: The Kenjo _id of the calendar.
                        example: 40a2db290da29e126a18789a
                      name:
                        type: string
                        description: The name of the calendar.
                        example: Standard calendar
                  example:
                    - _id: 60a2db290da29e126a18789a
                      name: Standard calendar
                    - _id: 60a2db290da29e126a18789b
                      name: Madrid calendar
                    - _id: 60a2db290da29e126a18789c
                      name: Tech calendar
          '400':
            $ref: '#/components/responses/badRequest'
          '401':
            $ref: '#/components/responses/unauthorized'
    /calendars/{id}:
      get:
        summary: Return a calendar for a given calendar id.
        description: Returns the calendar referenced by *id*.
        tags:
          - Calendars
        parameters:
          - in: path
            name: id
            description: The _id of the calendar entry to request.
            required: true
            schema:
              type: string
              example: 60a2db290da29e126a18789a
          - in: header
            $ref: '#/components/parameters/authorization'
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    _id:
                      type: string
                      description: The Kenjo _id of the calendar.
                      example: 40a2db290da29e126a18789a
                    name:
                      type: string
                      description: The name of the calendar.
                      example: Standard calendar
          '400':
            $ref: '#/components/responses/badRequest'
          '401':
            $ref: '#/components/responses/unauthorized'
    /user-accounts:
      get:
        summary: Return a list of users.
        description: >-
          This endpoint returns an array of objects with the existing employees in
          Kenjo. Every object contains the basic employee information from
          **account**, **personal** and **work** sections per each existing
          employee.
        tags:
          - User accounts
        parameters:
          - in: header
            $ref: '#/components/parameters/authorization'
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema:
                  type: array
                  items:
                    type: object
                    properties:
                      _id:
                        type: string
                        description: The Kenjo employee _id.
                      email:
                        type: string
                        description: The employee email in Kenjo.
                      isActive:
                        type: string
                        description: Indicates the active status of the Kenjo employee.
                      firstName:
                        type: string
                        description: The first name of the Kenjo employee.
                      lastName:
                        type: string
                        description: The last name of the Kenjo employee.
                      displayName:
                        type: string
                        description: The complete name of the Kenjo employee.
                      companyId:
                        type: string
                        description: The Kenjo Id of the company for this employee.
                      officeId:
                        type: string
                        description: The Kenjo Id of the office for this employee.
                      departmentId:
                        type: string
                        description: The Kenjo Id of the department for this employee.
                      jobTitle:
                        type: string
                        description: The job title for this employee.
                  example:
                    - _id: 80a2db290da29e126a18789a
                      email: john@acme.io
                      isActive: true
                      firstName: John
                      lastName: Doo
                      displayName: John Doo
                      companyId: 82a2db290da29e126a18789a
                      officeId: 83a2db290da29e126a18789a
                      departmentId: 84a2db290da29e126a18789a
                      jobTitle: 84a2db290da29e126a18789a
                    - _id: 80a2db290da29e126a18789b
                      email: anna@acme.io
                      isActive: true
                      firstName: Anna
                      lastName: Kaleshnikova
                      displayName: Anna Kaleshnikova
                      companyId: 82a2db290da29e126a18789a
                      officeId: 83a2db290da29e126a18789a
                      departmentId: 84a2db290da29e126a18789a
                      jobTitle: 84a2db290da29e126a18789a
                    - _id: 80a2db290da29e126a18789c
                      email: joaquin@acme.io
                      isActive: true
                      firstName: Joaquin
                      lastName: Padrazo
                      displayName: Joaquin Padrazo
                      companyId: 82a2db290da29e126a18789a
                      officeId: 83a2db290da29e126a18789a
                      departmentId: 84a2db290da29e126a18789a
                      jobTitle: 84a2db290da29e126a18789a
          '400':
            $ref: '#/components/responses/badRequest'
          '401':
            $ref: '#/components/responses/unauthorized'
    /employees:
      post:
        summary: Create a new employee.
        description: >
          This endpoint creates a deactivated employee in Kenjo, the 'isActive'
          field set to false. To activate an employee use the put /activate
          method. This method will send an activation message to the employee
          email to complete the activation through the onboarding wizard.

          <br><br>The field *email* is required and must be unique. Also
          *firstName*, *lastName* and *companyId* are required fields. If the work
          schedule is not provided then all the days of the week except Saturdays
          and Sundays are set to true. If the *language* is not specified, the
          assigned company language will be set by default.

          <br><br>**Custom fields** information can be provided in this operation
          for the **personal**, **work**, **address**, **financial** and **home**
          sections. The *API name* of the custom field is required and the data
          format has to match with the type defined for the custom field in Kenjo.

          API names start with 'c_' and the rest is composed by the trimmed name
          (spaces are removed).

          <br><br>

          Example:

          <br>

          *The custom field 'Activity type' belongs to the section 'work'*:
            ```
          ...

          {
            ...
              "work": {
                "c_Activitytype": "1",
                ...
              },
            ...
          }

          ```

          *'Activity type' is a field type 'List' (Strings list) with the possible
          values: "1", "2" and "3". It means that if a different value or type is
          provided then the request will return an error.*

          <br><br>If the operation get success then an inactive employee is
          created and the response will include the provided information and the
          Kenjo id for the new employee.
        tags:
          - Employees
        parameters:
          - in: header
            $ref: '#/components/parameters/authorization'
        requestBody:
          required: true
          content:
            application/json:
              schema:
                type: object
                properties:
                  account:
                    type: object
                    properties:
                      email:
                        type: string
                        description: >-
                          The employee email in Kenjo. This field is required and
                          must be unique.
                        example: john@acme.io
                      language:
                        type: string
                        description: >-
                          The employee language. Only is valid one of the
                          following values 'en' (english), 'es' (spanish) or 'de'
                          (german).
                        example: es
                      externalId:
                        type: string
                        description: >-
                          The employee external id for integration proposals. This
                          value must be unique.
                        example: E-000001
                    required:
                      - email
                  personal:
                    type: object
                    properties:
                      firstName:
                        type: string
                        description: The name of the Kenjo employee. This field is required.
                        example: John
                      lastName:
                        type: string
                        description: >-
                          The surname of the Kenjo employee. This field is
                          required.
                        example: Doe
                      displayName:
                        type: string
                        description: The complete name of the Kenjo employee.
                        example: John Doe
                      gender:
                        type: string
                        description: >-
                          The employee gender. Only is valid one of the following
                          values 'Male' (male), 'Female' (female) or 'Other'
                          (other).
                        example: Male
                      birthdate:
                        type: string
                        description: >-
                          The employee birth date. Format
                          YYYY-MM-DDThh:mm:ss.000Z.
                        example: '1980-01-28T00:00:00.000Z'
                    required:
                      - firstName
                      - lastName
                  work:
                    type: object
                    properties:
                      companyId:
                        type: string
                        description: >-
                          The company id of the Kenjo employee. This field is
                          required and must to match with Kenjo _id of an existing
                          company.
                        example: 50a2db290da29e126a187894
                      officeId:
                        type: string
                        description: The office id of the Kenjo employee.
                        example: 50a2db290da29e126a187895
                      departmentId:
                        type: string
                        description: The department id of the Kenjo employee.
                        example: 50a2db290da29e126a187896
                      startDate:
                        type: string
                        description: >-
                          The starting date of the employee. Format
                          YYYY-MM-DDThh:mm:ss.000Z.
                        example: '2022-01-01T00:00:00.000Z'
                      jobTitle:
                        type: string
                        description: The job title of the employee.
                        example: Actor
                      workPhone:
                        type: string
                        description: The work phone of the employee.
                        example: +34 666 70 90 32
                      workMobile:
                        type: string
                        description: The work mobile of the employee.
                        example: +34 680 70 90 32
                      isAssistant:
                        type: boolean
                        description: >-
                          Allow to indicate if the employee has or not the
                          assistant role.
                        example: false
                      probationPeriodEnd:
                        type: string
                        description: >-
                          The probation period of the employee. Format
                          YYYY-MM-DDThh:mm:ss.000Z.
                        example: '2022-06-01T00:00:00.000Z'
                      reportsToId:
                        type: string
                        description: >-
                          The Kenjo employee id of the user to whom the employee
                          reports. The employee id to assign can be an active or
                          inactive user. Trying to assign the own employee id or
                          the id of someone who is already reporting will arise an
                          error.
                        example: 50a2db290da29e126a1878523
                      weeklyHours:
                        type: number
                        description: >-
                          The number of weekly hours that an employee works.
                          Combined with the work schedule allows to determine the
                          day hours. This field is required and must be equals or
                          greater than 1.
                        example: 40
                    required:
                      - companyId
                      - weeklyHours
                  workSchedule:
                    type: object
                    properties:
                      mondayWorkingDay:
                        type: boolean
                        description: >-
                          Allow to indicate if mondays are working days for the
                          employee.
                        example: true
                      tuesdayWorkingDay:
                        type: boolean
                        description: >-
                          Allow to indicate if tuesdays are working days for the
                          employee.
                        example: true
                      wednesdayWorkingDay:
                        type: boolean
                        description: >-
                          Allow to indicate if wednesdays are working days for the
                          employee.
                        example: true
                      thursdayWorkingDay:
                        type: boolean
                        description: >-
                          Allow to indicate if thursdays are working days for the
                          employee.
                        example: true
                      fridayWorkingDay:
                        type: boolean
                        description: >-
                          Allow to indicate if fridays are working days for the
                          employee.
                        example: true
                      saturdayWorkingDay:
                        type: boolean
                        description: >-
                          Allow to indicate if saturdays are working days for the
                          employee.
                        example: true
                      sundayWorkingDay:
                        type: boolean
                        description: >-
                          Allow to indicate if sundays are working days for the
                          employee.
                        example: true
                      trackAttendance:
                        type: boolean
                        description: >-
                          Allow to activate or deactivate the attendance tracking
                          for the employee.
                        example: true
                  address:
                    type: object
                    properties:
                      street:
                        type: string
                        description: The name of the street.
                        example: Calle Enrique San Francisco 13
                      postalCode:
                        type: string
                        description: The postal code.
                        example: '28080'
                      city:
                        type: string
                        description: The city.
                        example: Madrid
                      country:
                        type: string
                        description: The country code in ISO 3166-1 alpha-2.
                        example: ES
                  financial:
                    type: object
                    properties:
                      accountHolderName:
                        type: string
                        description: The accounts holder's name.
                        example: Michael Corleone
                      bankName:
                        type: string
                        description: The bank name.
                        example: Bank of Sicily
                      accountNumber:
                        type: string
[...]
