publishJson:
  company: Melodie Music
  serviceName: false
  sdkName: melodie-music-{language}-sdk
  clientName: MelodieMusic
  metaDescription: >-
    Melodie Music (www.melod.ie) is an Australian company that provides a simple
    solution for content creators seeking to find and license high-quality music
    for their projects.


    With Creator, Pro and Enterprise subscription options, their exclusive and
    meticulously curated catalogue of original music is accessible through an
    online search platform equipped with AI-powered search tools.


    Founded by composers, musicians and sound designers with first-hand
    experience of the crucial role music plays in storytelling, Melodie delivers
    an intuitive, user-friendly music licensing platform that caters to the
    needs of content creators, while supporting the growth of the music creators
    themselves.


    Learn more at www.melod.ie


    2023 Acquisition International Awarded: *Best Music Platform Australia*

    2022 Startup City Awarded: *Top 10 Startups in Australia*

    2021 TMN Nominated: "Music Publisher of the Year", "Sync/ Licensing Biz of
    the Year", "Music Tech Platform of the Year".
  apiStatusUrls: inherit
  homepage: melod.ie
  developerDocumentation: api.melod.ie/openapi
  categories:
    - entertainment
    - music
    - media
rawSpecString: |
  openapi: 3.0.1
  info:
    title: Melodie API
    description: Track API
    contact:
      email: api@melod.ie
    version: 1.0.0
    x-logo:
      url: https://melod.ie/logo.png
      altText: Melod.ie
  servers:
    - url: https://api.melod.ie
  tags:
    - name: Search
    - name: Download
    - name: Collections
  paths:
    /api/v1/collections:
      get:
        tags:
          - Collections
        summary: Get list of all available collections
        parameters:
          - name: Authorization
            description: Your API token.
            in: header
            required: true
            schema:
              type: string
        responses:
          '200':
            description: List of collections
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    data:
                      type: array
                      description: Array of collections
                      items:
                        oneOf:
                          - type: object
                            properties:
                              id:
                                type: string
                              type:
                                type: string
                              attributes:
                                type: object
                                properties:
                                  name:
                                    type: string
                                  safename:
                                    type: string
                                    description: HTML safe name of the collection
    /api/v1/collections/{collection_safename}:
      get:
        tags:
          - Collections
        summary: Get tracks from a collection
        parameters:
          - name: Authorization
            description: Your API token.
            in: header
            required: true
            schema:
              type: string
          - $ref: '#/components/parameters/CollectionSafeName'
        responses:
          '200':
            description: Collection tracks
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    data:
                      type: array
                      description: Array of tracks
                      items:
                        oneOf:
                          - type: object
                            properties:
                              id:
                                type: string
                              type:
                                type: string
                              attributes:
                                type: object
                                properties:
                                  id:
                                    type: integer
                                  title:
                                    type: string
                                  tempo:
                                    type: integer
                                  description:
                                    type: string
                                  stream_url:
                                    type: string
                                    description: >-
                                      Url for audio stream for preview in player
                                      of the main track oversion of this track.
                                  variable_tempo:
                                    type: boolean
                                  instruments:
                                    type: array
                                    items:
                                      type: string
                                  moods:
                                    type: array
                                    items:
                                      type: string
                                  genres:
                                    type: array
                                    items:
                                      type: string
                                  purposes:
                                    type: array
                                    items:
                                      type: string
                                  artist_name:
                                    type: string
                                  composers:
                                    type: array
                                    items:
                                      type: string
                                  length:
                                    type: integer
                                    description: Length in seconds for main track version.
                                  publisher:
                                    type: string
                                  isrc:
                                    type: string
                                  cat_id:
                                    type: string
                                  relese_year:
                                    type: string
                                  start_key:
                                    type: string
                                  end_key:
                                    type: string
                                  avatar:
                                    type: string
                                    description: Url for artist avatar.
                                  track_versions:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        id:
                                          type: string
                                        title:
                                          type: string
                                        stream_url:
                                          type: string
                                          description: >-
                                            Url for audio preview in player for the
                                            specific track version.
                                        length:
                                          type: integer
                                          description: >-
                                            Length in seconds for this specific
                                            version.
                                        download_link:
                                          type: string
                                          description: >-
                                            Download link for the specific track
                                            version (if available in the API plan).
    /api/v1/tracks/search:
      get:
        tags:
          - Search
        summary: Perform track search
        parameters:
          - name: Authorization
            description: Your API token.
            in: header
            required: true
            schema:
              type: string
          - name: page
            description: Page of the results you want to retrieve.
            in: query
            required: false
            schema:
              type: string
          - name: sort
            description: >-
              Sorting of results, possible values are “latest”, “shuffle” and
              “featured” (used by default).
            in: query
            required: false
            schema:
              type: string
          - name: q
            description: >-
              General string query to search for (mostly to use for track names,
              composers).
            in: query
            required: false
            schema:
              type: string
          - name: genreGroup[]
            description: Array of genre groups to search for.
            in: query
            required: false
            schema:
              type: string
          - name: genreGroupOperator
            description: >-
              Logic operator for genre groups, can be AND or OR (default, also
              selected if invalid value is provided). Operator is case sensitive!
            in: query
            required: false
            schema:
              type: string
          - name: notGenreGroup[]
            description: Array of genre groups to exclude from the search.
            in: query
            required: false
            schema:
              type: string
          - name: genre[]
            description: Array of genres to search for.
            in: query
            required: false
            schema:
              type: string
          - name: genreOperator
            description: >-
              Logic operator for genres, can be AND or OR (default, also selected
              if invalid value is provided). Operator is case sensitive!
            in: query
            required: false
            schema:
              type: string
          - name: notGenre[]
            description: Array of genres to exclude from the search.
            in: query
            required: false
            schema:
              type: string
          - name: mood[]
            description: Array of moods to search for.
            in: query
            required: false
            schema:
              type: string
          - name: notMood[]
            description: Array of moods to exclude from the search.
            in: query
            required: false
            schema:
              type: string
          - name: instrument[]
            description: Array of instruments to search for.
            in: query
            required: false
            schema:
              type: string
          - name: notInstrument[]
            description: Array of instruments to exclude from the search.
            in: query
            required: false
            schema:
              type: string
          - name: purpose[]
            description: >-
              Array of purposes to search for. Purposes are like 'TV production
              genres'.
            in: query
            required: false
            schema:
              type: string
          - name: notPurpose[]
            description: Array of purposes to exclude from the search.
            in: query
            required: false
            schema:
              type: string
          - name: variable_tempo
            description: True/false; Should return tracks with variable tempo or not.
            in: query
            required: false
            schema:
              type: string
          - name: min_tempo
            description: >-
              Minimal tempo in BPM for searched tracks (must be used together with
              max_tempo).
            in: query
            required: false
            schema:
              type: string
          - name: max_tempo
            description: >-
              Maximal tempo in BPM for searched tracks (must be used together with
              min_tempo).
            in: query
            required: false
            schema:
              type: string
          - name: min_duration
            description: >-
              Minimal duration in seconds for searched tracks (must be used
              together with max_duration).
            in: query
            required: false
            schema:
              type: string
          - name: max_duration
            description: >-
              Maximal duration in seconds for searched tracks (must be used
              together with min_duration).
            in: query
            required: false
            schema:
              type: string
          - name: key[]
            description: Array of desired keys of the tracks.
            in: query
            required: false
            schema:
              type: string
          - name: per_page
            description: Amount of results per page (default is 15, max is 200)
            in: query
            required: false
            schema:
              type: integer
        responses:
          '200':
            description: Search results
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    data:
                      type: array
                      description: Array of tracks
                      items:
                        oneOf:
                          - type: object
                            properties:
                              id:
                                type: string
                              type:
                                type: string
                              attributes:
                                type: object
                                properties:
                                  id:
                                    type: integer
                                  title:
                                    type: string
                                  tempo:
                                    type: integer
                                  description:
                                    type: string
                                  stream_url:
                                    type: string
                                    description: >-
                                      Url for audio stream for preview in player
                                      of the main track oversion of this track.
                                  variable_tempo:
                                    type: boolean
                                  instruments:
                                    type: array
                                    items:
                                      type: string
                                  moods:
                                    type: array
                                    items:
                                      type: string
                                  genres:
                                    type: array
                                    items:
                                      type: string
                                  purposes:
                                    type: array
                                    items:
                                      type: string
                                  artist_name:
                                    type: string
                                  composers:
                                    type: array
                                    items:
                                      type: string
                                  length:
                                    type: integer
                                    description: Length in seconds for main track version.
                                  publisher:
                                    type: string
                                  isrc:
                                    type: string
                                  cat_id:
                                    type: string
                                  relese_year:
                                    type: string
                                  start_key:
                                    type: string
                                  end_key:
                                    type: string
                                  avatar:
                                    type: string
                                    description: Url for artist avatar.
                                  track_versions:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        id:
                                          type: string
                                        title:
                                          type: string
                                        stream_url:
                                          type: string
                                          description: >-
                                            Url for audio preview in player for the
                                            specific track version.
                                        length:
                                          type: integer
                                          description: >-
                                            Length in seconds for this specific
                                            version.
                                        download_link:
                                          type: string
                                          description: >-
                                            Download link for the specific track
                                            version (if available in the API plan).
                    meta:
                      type: object
                      description: Metadata
                      properties:
                        obj_count:
                          type: integer
                          description: Total count of found objects
                        page_count:
                          type: integer
                          description: Total count of pages
    /api/v1/tracks/simplified_search:
      get:
        tags:
          - Search
        summary: Perform track search - with main tracks info only
        parameters:
          - name: Authorization
            description: Your API token.
            in: header
            required: true
            schema:
              type: string
          - name: page
            description: Page of the results you want to retrieve.
            in: query
            required: false
            schema:
              type: string
          - name: sort
            description: >-
              Sorting of results, possible values are “latest”, “shuffle” and
              “featured” (used by default).
            in: query
            required: false
            schema:
              type: string
          - name: q
            description: >-
              General string query to search for (mostly to use for track names,
              composers).
            in: query
            required: false
            schema:
              type: string
          - name: genreGroup[]
            description: Array of genre groups to search for.
            in: query
            required: false
            schema:
              type: string
          - name: genreGroupOperator
            description: >-
              Logic operator for genre groups, can be AND or OR (default, also
              selected if invalid value is provided). Operator is case sensitive!
            in: query
            required: false
            schema:
              type: string
          - name: notGenreGroup[]
            description: Array of genre groups to exclude from the search.
            in: query
            required: false
            schema:
              type: string
          - name: genre[]
            description: Array of genres to search for.
            in: query
            required: false
            schema:
              type: string
          - name: genreOperator
            description: >-
              Logic operator for genres, can be AND or OR (default, also selected
              if invalid value is provided). Operator is case sensitive!
            in: query
            required: false
            schema:
              type: string
          - name: notGenre[]
            description: Array of genres to exclude from the search.
            in: query
            required: false
            schema:
              type: string
          - name: mood[]
            description: Array of moods to search for.
            in: query
            required: false
            schema:
              type: string
          - name: notMood[]
            description: Array of moods to exclude from the search.
            in: query
            required: false
            schema:
              type: string
          - name: instrument[]
            description: Array of instruments to search for.
            in: query
            required: false
            schema:
              type: string
          - name: notInstrument[]
            description: Array of instruments to exclude from the search.
            in: query
            required: false
            schema:
              type: string
          - name: purpose[]
            description: >-
              Array of purposes to search for. Purposes are like 'TV production
              genres'.
            in: query
            required: false
            schema:
              type: string
          - name: notPurpose[]
            description: Array of purposes to exclude from the search.
            in: query
            required: false
            schema:
              type: string
          - name: variable_tempo
            description: True/false; Should return tracks with variable tempo or not.
            in: query
            required: false
            schema:
              type: string
          - name: min_tempo
            description: >-
              Minimal tempo in BPM for searched tracks (must be used together with
              max_tempo).
            in: query
            required: false
            schema:
              type: string
          - name: max_tempo
            description: >-
              Maximal tempo in BPM for searched tracks (must be used together with
              min_tempo).
            in: query
            required: false
            schema:
              type: string
          - name: min_duration
            description: >-
              Minimal duration in seconds for searched tracks (must be used
              together with max_duration).
            in: query
            required: false
            schema:
              type: string
          - name: max_duration
            description: >-
              Maximal duration in seconds for searched tracks (must be used
              together with min_duration).
            in: query
            required: false
            schema:
              type: string
          - name: key[]
            description: Array of desired keys of the tracks.
            in: query
            required: false
            schema:
              type: string
          - name: per_page
            description: Amount of results per page (default is 15, max is 200)
            in: query
            required: false
            schema:
              type: integer
        responses:
          '200':
            description: Search results
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    data:
                      type: array
                      description: Array of tracks
                      items:
                        oneOf:
                          - type: object
                            properties:
                              id:
                                type: string
                              type:
                                type: string
                              attributes:
                                type: object
                                properties:
                                  id:
                                    type: integer
                                  title:
                                    type: string
                                  tempo:
                                    type: integer
                                  description:
                                    type: string
                                  stream_url:
                                    type: string
                                    description: >-
                                      Url for audio stream for preview in player
                                      of the main track oversion of this track.
                                  variable_tempo:
                                    type: boolean
                                  instruments:
                                    type: array
                                    items:
                                      type: string
                                  moods:
                                    type: array
                                    items:
                                      type: string
                                  genres:
                                    type: array
                                    items:
                                      type: string
                                  purposes:
                                    type: array
                                    items:
                                      type: string
                                  artist_name:
                                    type: string
                                  composers:
                                    type: array
                                    items:
                                      type: string
                                  length:
                                    type: integer
                                    description: Length in seconds for main track version.
                                  publisher:
                                    type: string
                                  isrc:
                                    type: string
                                  cat_id:
                                    type: string
                                  relese_year:
                                    type: string
                                  start_key:
                                    type: string
                                  end_key:
                                    type: string
                                  avatar:
                                    type: string
                                    description: Url for artist avatar.
                                  main_track_versions:
                                    type: object
                                    properties:
                                      id:
                                        type: string
                                      title:
                                        type: string
                                      stream_url:
                                        type: string
                                        description: >-
                                          Url for audio preview in player for the
                                          specific track version.
                                      length:
                                        type: integer
                                        description: >-
                                          Length in seconds for this specific
                                          version.
                                      download_link:
                                        type: string
                                        description: >-
                                          Download link for the specific track
                                          version (if available in the API plan).
                    meta:
                      type: object
                      description: Metadata
                      properties:
                        obj_count:
                          type: integer
                          description: Total count of found objects
                        page_count:
                          type: integer
                          description: Total count of pages
    /api/v1/tracks/genres:
      get:
        tags:
          - Genres
        summary: Get list of all current genres
        responses:
          '200':
            description: List of genres
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    data:
                      type: array
                      description: Array of genres
                      items:
                        oneOf:
                          - type: object
                            properties:
                              id:
                                type: string
                              type:
                                type: string
                              attributes:
                                type: object
                                properties:
                                  name:
                                    type: string
                                  genre_group_name:
                                    type: string
    /api/v1/tracks/genre_groups:
      get:
        tags:
          - Genre groups
        summary: Get list of all current genre groups
        responses:
          '200':
            description: List of genre groups
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    data:
                      type: array
                      description: Array of genre groups
                      items:
                        oneOf:
                          - type: object
                            properties:
                              id:
                                type: string
                              type:
                                type: string
                              attributes:
                                type: object
                                properties:
                                  name:
                                    type: string
                                  genre_names:
                                    type: array
                                    description: Array of genres
                                    items:
                                      oneOf:
                                        - type: string
    /api/v1/tracks/moods:
      get:
        tags:
          - Moods
        summary: Get list of all current moods
        responses:
          '200':
            description: List of moods
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    data:
                      type: array
                      description: Array of moods
                      items:
                        oneOf:
                          - type: object
                            properties:
                              id:
                                type: string
                              type:
                                type: string
                              attributes:
                                type: object
                                properties:
                                  name:
                                    type: string
    /api/v1/tracks/instruments:
      get:
        tags:
          - Instruments
        summary: Get list of all current instruments
        responses:
          '200':
            description: List of instruments
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    data:
                      type: array
                      description: Array of instruments
                      items:
                        oneOf:
                          - type: object
                            properties:
                              id:
                                type: string
                              type:
                                type: string
                              attributes:
                                type: object
                                properties:
                                  name:
                                    type: string
    /api/v1/tracks/purposes:
      get:
        tags:
          - Purposes
        summary: Get list of all current purposes
        responses:
          '200':
            description: List of purposes
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    data:
                      type: array
                      description: Array of purposes
                      items:
                        oneOf:
                          - type: object
                            properties:
                              id:
                                type: string
                              type:
                                type: string
                              attributes:
                                type: object
                                properties:
                                  name:
                                    type: string
    /api/v1/tracks/trending:
      get:
        tags:
          - Trending
        summary: Get 25 most popular tracks currently
        parameters:
          - name: Authorization
            description: Your API token.
            in: header
            required: true
            schema:
              type: string
        responses:
          '200':
            description: Trending tracks results
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    data:
                      type: array
                      description: Array of tracks
                      items:
                        oneOf:
                          - type: object
                            properties:
                              id:
                                type: string
                              type:
                                type: string
                              attributes:
                                type: object
                                properties:
                                  id:
                                    type: integer
                                  title:
                                    type: string
                                  tempo:
                                    type: integer
                                  description:
                                    type: string
                                  stream_url:
                                    type: string
                                    description: >-
                                      Url for audio stream for preview in player
                                      of the main track oversion of this track.
                                  variable_tempo:
                                    type: boolean
                                  instruments:
                                    type: array
                                    items:
                                      type: string
                                  moods:
                                    type: array
                                    items:
                                      type: string
                                  genres:
                                    type: array
                                    items:
                                      type: string
                                  purposes:
                                    type: array
                                    items:
                                      type: string
                                  artist_name:
                                    type: string
                                  composers:
                                    type: array
                                    items:
                                      type: string
                                  length:
                                    type: integer
                                    description: Length in seconds for main track version.
                                  publisher:
                                    type: string
                                  isrc:
                                    type: string
                                  cat_id:
                                    type: string
                                  relese_year:
                                    type: string
                                  start_key:
                                    type: string
                                  end_key:
                                    type: string
                                  avatar:
                                    type: string
                                    description: Url for artist avatar.
                                  track_versions:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        id:
                                          type: string
                                        title:
                                          type: string
                                        stream_url:
                                          type: string
                                          description: >-
                                            Url for audio preview in player for the
                                            specific track version.
                                        length:
                                          type: integer
                                          description: >-
                                            Length in seconds for this specific
                                            version.
                                        download_link:
                                          type: string
                                          description: >-
                                            Download link for the specific track
                                            version (if available in the API plan).
                    meta:
                      type: object
                      description: Metadata
                      properties:
                        obj_count:
                          type: integer
                          description: Total count of found objects
                        page_count:
                          type: integer
                          description: Total count of pages
    /api/v1/tracks/simplified_trending:
      get:
        tags:
          - Trending
        summary: Get 25 most popular tracks currently - with main tracks info only
        parameters:
          - name: Authorization
            description: Your API token.
            in: header
            required: true
            schema:
              type: string
        responses:
          '200':
            description: Trending tracks results
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    data:
                      type: array
                      description: Array of tracks
                      items:
                        oneOf:
                          - type: object
                            properties:
                              id:
                                type: string
                              type:
                                type: string
                              attributes:
                                type: object
                                properties:
                                  id:
                                    type: integer
                                  title:
                                    type: string
                                  tempo:
                                    type: integer
                                  description:
                                    type: string
                                  stream_url:
                                    type: string
                                    description: >-
                                      Url for audio stream for preview in player
                                      of the main track oversion of this track.
                                  variable_tempo:
                                    type: boolean
                                  instruments:
                                    type: array
                                    items:
                                      type: string
                                  moods:
                                    type: array
                                    items:
                                      type: string
                                  genres:
                                    type: array
                                    items:
                                      type: string
                                  purposes:
                                    type: array
                                    items:
                                      type: string
                                  artist_name:
                                    type: string
                                  composers:
                                    type: array
                                    items:
                                      type: string
                                  length:
                                    type: integer
                                    description: Length in seconds for main track version.
                                  publisher:
                                    type: string
                                  isrc:
                                    type: string
                                  cat_id:
                                    type: string
                                  relese_year:
                                    type: string
                                  start_key:
                                    type: string
                                  end_key:
                                    type: string
                                  avatar:
                                    type: string
                                    description: Url for artist avatar.
                                  main_track_version:
                                    type: object
                                    properties:
                                      id:
                                        type: string
                                      title:
                                        type: string
                                      stream_url:
                                        type: string
                                        description: >-
                                          Url for audio preview in player for the
                                          specific track version.
                                      length:
                                        type: integer
                                        description: >-
                                          Length in seconds for this specific
                                          version.
                                      download_link:
                                        type: string
                                        description: >-
                                          Download link for the specific track
                                          version (if available in the API plan).
                    meta:
                      type: object
                      description: Metadata
                      properties:
                        obj_count:
                          type: integer
                          description: Total count of found objects
                        page_count:
                          type: integer
                          description: Total count of pages
    /api/v1/tracks/{track_id}/info:
      get:
        tags:
          - Info
        summary: Get info about the specific track id
        parameters:
          - name: Authorization
            description: Your API token.
            in: header
            required: true
            schema:
              type: string
          - $ref: '#/components/parameters/TrackId'
        responses:
          '200':
            description: Track info
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    data:
                      type: array
                      description: Array of tracks
                      items:
                        oneOf:
                          - type: object
                            properties:
                              id:
                                type: string
                              type:
                                type: string
                              attributes:
                                type: object
                                properties:
                                  id:
                                    type: integer
                                  title:
                                    type: string
                                  tempo:
                                    type: integer
                                  description:
                                    type: string
                                  stream_url:
                                    type: string
                                    description: >-
                                      Url for audio stream for preview in player
                                      of the main track oversion of this track.
                                  variable_tempo:
                                    type: boolean
                                  instruments:
                                    type: array
                                    items:
                                      type: string
                                  moods:
                                    type: array
                                    items:
                                      type: string
                                  genres:
                                    type: array
                                    items:
                                      type: string
                                  purposes:
                                    type: array
                                    items:
                                      type: string
                                  artist_name:
                                    type: string
                                  composers:
                                    type: array
                                    items:
                                      type: string
                                  length:
                                    type: integer
                                    description: Length in seconds for main track version.
                                  publisher:
                                    type: string
                                  isrc:
                                    type: string
                                  cat_id:
                                    type: string
                                  relese_year:
                                    type: string
                                  start_key:
                                    type: string
                                  end_key:
                                    type: string
                                  avatar:
                                    type: string
                                    description: Url for artist avatar.
                                  track_versions:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        id:
                                          type: string
                                        title:
                                          type: string
                                        stream_url:
                                          type: string
                                          description: >-
                                            Url for audio preview in player for the
                                            specific track version.
                                        length:
                                          type: integer
                                          description: >-
                                            Length in seconds for this specific
                                            version.
                                        download_link:
                                          type: string
                                          description: >-
                                            Download link for the specific track
                                            version (if available in the API plan).
    /api/v1/tracks/{track_id}/download:
      get:
        tags:
          - Download
        summary: Download a track
        parameters:
          - name: Authorization
            description: Your API token.
            in: header
            required: true
            schema:
              type: string
          - $ref: '#/components/parameters/TrackId'
          - name: version
            description: >-
              Version of the track to be retrived, can be "wav" or "mp3" ("wav" is
              default)
            in: query
            required: false
            schema:
              type: string
        responses:
          '200':
            description: Zip file containing all track versions
            content:
              application/zip:
                schema:
                  type: zip
    /api/v1/tracks/{track_version_id}/download_version:
      get:
        tags:
          - Download track version
        summary: Download a track version
        parameters:
          - name: Authorization
            description: Your API token.
            in: header
            required: true
            schema:
              type: string
          - $ref: '#/components/parameters/TrackVersionId'
          - name: version
            description: >-
              Version of the track to be retrived, can be "wav" or "mp3" ("wav" is
              default)
            in: query
            required: false
            schema:
              type: string
        responses:
          '200':
            description: Audio file
            content:
              application/wav:
                schema:
                  type: string
                  format: binary
  components:
    parameters:
      TrackId:
        name: track_id
        in: path
        required: true
        schema:
          oneOf:
            - $ref: '#/components/schemas/Id'
      TrackVersionId:
        name: track_version_id
        in: path
        required: true
        schema:
          oneOf:
            - $ref: '#/components/schemas/Id'
      CollectionSafeName:
        name: collection_safename
        in: path
        required: true
        schema:
          oneOf:
            - $ref: '#/components/schemas/SafeName'
    schemas:
      Id:
        type: integer
        minimum: 1
        description: Numeric resource identifier.
        example: 1
      SafeName:
        type: string
        description: Safename of a collection
        example: collection-name
konfigCliVersion: 1.38.61
