publishJson:
  company: Netvyne
  serviceName: false
  sdkName: netvyne-{language}-sdk
  clientName: Netvyne
  metaDescription: >-
    Netvyne provides the APIs and tools for discussion platforms to effortlessly
    manage and curate their users' comments.


    Netvyne's API enforces your own content policy criterion and is tailored to
    your platform's needs. Netvyne takes a hybrid man-machine approach to bring
    both low latency and high accuracy moderation, resulting in increased user
    safety and community growth.
  apiStatusUrls: inherit
  homepage: netvyne.com
  developerDocumentation: api.netvyne.com/documentation/index.html
  categories:
    - discussion
    - moderation
rawSpecString: |
  openapi: 3.0.0
  info:
    description: Moderation API Service
    title: Netvyne API
    termsOfService: https://blog.netvyne.com/blog/eula
    contact:
      name: API Support
      url: https://blog.netvyne.com/blog/support
      email: info@netvyne.com
    license:
      name: ©2023 Netvyne, Inc.
      url: https://www.netvyne.com
    version: '1.0'
    x-logo:
      altText: Netvyne Logo
      backgroundColor: '#FFFFFF'
      url: https://www.netvyne.com/logo-full-light.png
  paths:
    /categories:
      post:
        security:
          - Bearer: []
        description: >-
          The body of this request contains categories that you desire; these must
          be explained at the InstructionsURL. Requires prior authorization.
        tags:
          - settings
        summary: Set/update the categories used for moderation of comments
        requestBody:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/server.HandleUpdateCategories.request'
          description: Categories
          required: true
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/server.HandleUpdateCategories.response'
          '500':
            description: Internal Server Error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/core.ErrorResponse'
    /comments:
      post:
        security:
          - Bearer: []
        description: The body of this request contains the details of this comment
        tags:
          - comment
        summary: Submit a comment for processing
        requestBody:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/server.HandlePostComment.request'
          description: comment
          required: true
        responses:
          '200':
            description: >-
              ParentCommentID will not be set in response if corresponding parent
              comment not submitted prior
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/server.HandlePostComment.response'
          '500':
            description: Internal Server Error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/core.ErrorResponse'
    /demo_webhook:
      post:
        description: >-
          The body of the request contains the marked categories for a given item
          that you submitted.

          You should implement such a route and set it as your webhook URL

          Your endpoint must quickly return a successful status code (2xx) prior
          to any complex logic that could cause a timeout.

          Note: A webhook can come for the same item multiple times; make sure use
          the latest prediction and disregard prior ones.
        tags:
          - example
        summary: Sample of a route that receives the webhook response
        requestBody:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/server.HandlePostDemoWebhook.request'
          description: Marked Categories
          required: true
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/server.HandlePostDemoWebhook.response'
          '500':
            description: Internal Server Error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/core.ErrorResponse'
    /instructions:
      post:
        security:
          - Bearer: []
        description: The body of this request contains the InstructionsURL that you desire
        tags:
          - settings
        summary: >-
          Set/update the instructions url at which moderation instructions are
          provided
        requestBody:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/server.HandleUpdateInstructions.request'
          description: InstructionsURL
          required: true
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/server.HandleUpdateInstructions.response'
          '500':
            description: Internal Server Error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/core.ErrorResponse'
    /webhooks:
      post:
        security:
          - Bearer: []
        description: The body of this request contains WebhookURL that you desire
        tags:
          - webhook
        summary: Set/update the webhook url at which results are received
        requestBody:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/server.HandleUpdateWebook.request'
          description: WebhookURL
          required: true
        responses:
          '200':
            description: OK
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/server.HandleUpdateWebook.response'
          '500':
            description: Internal Server Error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/core.ErrorResponse'
  servers:
    - url: https://api.netvyne.com/v1
  components:
    securitySchemes:
      Bearer:
        description: '"Type ''Bearer TOKEN'' to correctly set the API Key"'
        type: apiKey
        name: Authorization
        in: header
    schemas:
      core.ErrorResponse:
        type: object
        properties:
          Code:
            type: integer
          Message:
            type: string
      core.WebhookCategory:
        type: object
        properties:
          Confidence:
            type: number
          DisplayName:
            type: string
          Value:
            type: boolean
      server.HandlePostComment.request:
        type: object
        properties:
          ID:
            type: string
          ParentCommentID:
            type: string
          Text:
            type: string
          UserName:
            type: string
      server.HandlePostComment.response:
        type: object
        properties:
          ID:
            type: string
          ParentCommentID:
            type: string
          Text:
            type: string
          UserName:
            type: string
      server.HandlePostDemoWebhook.request:
        type: object
        properties:
          APIVersion:
            type: string
          Categories:
            type: array
            items:
              $ref: '#/components/schemas/core.WebhookCategory'
          ID:
            type: string
          LastComputedAt:
            type: string
          Type:
            type: string
      server.HandlePostDemoWebhook.response:
        type: object
      server.HandleUpdateCategories.request:
        type: object
        properties:
          Categories:
            type: array
            items:
              type: string
      server.HandleUpdateCategories.response:
        type: object
      server.HandleUpdateInstructions.request:
        type: object
        properties:
          InstructionsURL:
            type: string
      server.HandleUpdateInstructions.response:
        type: object
      server.HandleUpdateWebook.request:
        type: object
        properties:
          WebhookURL:
            type: string
      server.HandleUpdateWebook.response:
        type: object
konfigCliVersion: 1.38.61
