publishJson:
  company: Notabene
  serviceName: false
  sdkName: notabene-{language}-sdk
  clientName: Notabene
  metaDescription: >-
    Notabene's SafeTransact is an easy-to-use platform that empowers customers
    to identify and stop high-risk crypto activity before it occurs.
  apiStatusUrls: inherit
  homepage: notabene.id/
  developerDocumentation: doc.notabene.id/
  categories:
    - fintech
    - crypto
    - financial_services
    - crypto_platform
rawSpecString: |
  openapi: 3.0.0
  info:
    version: 1.0.0
    title: Notabene
    contact:
      name: API Support
      email: tech@notabene.id
      url: https://doc.notabene.id
    x-logo:
      url: >-
        https://uploads-ssl.webflow.com/5e68f0772de982756aa8c1a4/5eee5fb470215e6ecdc34b94_Full_transparent_black_1280x413.svg
      altText: Notabene logo
    description: >
      The Notabene API is organized around
      [REST](http://en.wikipedia.org/wiki/Representational_State_Transfer).

      Our API accepts [JSON-encoded](http://www.json.org/) request bodies, returns
      [JSON-encoded](http://www.json.org/) responses, and uses standard [HTTP
      status codes](https://httpstatuses.com/) and verbs.


      All requests to the Notabene API should be made to one of the following root
      URLs:


      * Test: https://api.notabene.dev

      * Live: https://api.notabene.id


      All API requests must be made over HTTPS; calls made over plain HTTP will
      fail. API requests without authentication will also fail - see the
      Authentication section for information on correctly authenticating calls to
      the Notabene API.


      ### Just getting started?


      Check out our [DevX](https://devx.notabene.id) guides for more information
      about how best to integrate with Notabene.
  tags:
    - name: authentication
      x-displayName: Authentication
      description: >
        The Notabene API uses API tokens to authenticate requests.


        Authentication to the API is performed via [bearer
        auth](https://swagger.io/docs/specification/authentication/bearer-authentication/),
        so require an `Authorization: Bearer TOKEN` HTTP header.
    - name: did_model
      x-displayName: DIDs
      description: >
        The Notabene API takes advantage of [Decentralized
        Identifiers](https://www.w3.org/TR/did-core/#dfn-decentralized-identifiers)
        (DIDs) that enable
        [verifiable](https://en.wikipedia.org/wiki/Verifiable_credentials),
        decentralized [digital
        identity](https://en.wikipedia.org/wiki/Digital_identity).
    - name: errors
      x-displayName: Errors
      description: >
        Errors in the Notabene API follow conventional HTTP response codes to
        indicate errors. Generally, `2xx` response codes indicate success, `4xx`
        response codes indicate client error, and `5xx` errors indicate errors
        with the Notabene API.


        ### Response Code Summary

        - **200 - OK** - The request was successfully handled

        - **400 - Bad Request** - The API could not process the request due to an
        incorrect request

        - **401 - Unauthorized** - The user of the API was not authenticated

        - **403 - Forbidden** - The user of the API was not authorized to make the
        request

        - **404 - Not Found** - The requested resource could not be found

        - **500, 502, 503, 504 - Server Errors** - Something went wrong with the
        Notabene API
    - name: TrustFramework
      description: >
        The Notabene Trust Framework refers to the network of VASPs that send and
        receive transfers.


        You can browse through the [Notabene
        Directory](https://app.notabene.id/directory) to see more information
        about which VASPs are receiving Travel Rule transfers and the protocols
        they follow.
    - name: Customer
      description: The customer represents the originator of the transfer.
    - name: Transactions
      description: >
        Transfers represent blockchain transfers sent by or to your VASP.


        ## IVMS101


        Notabene utilizes the IVMS 101 interVASP messaging standard to transmit
        required originator and beneficiary information.


        **More information: [IVMS 101](https://intervasp.org/)**


        <SchemaDefinition schemaRef="#/components/schemas/IVMS101" />
    - name: VASPAdmin
      x-displayName: VASP Administration
      description: >
        VASPs can be administered using the Notabene API. Users can be added or
        removed from a VASP allowing them to login to the [Notabene
        Dashboard](http://app.notabene.id) to manage transfers, rules,
        integrations and more.


        ## VASP


        <SchemaDefinition schemaRef="#/components/schemas/VASPInfo" />
    - name: Documents
      description: >
        Various documents can be uploaded using the Notabene API such as
        certificates of incorporation, due-dilligence questionnaires etc.
    - name: Rules
      description: >
        Setting up transfer rules makes accepting and declining incoming transfers
        manageable at scale. Rules can be setup to automatically accept or decline
        transfers based on sanctions checks, wallet address queries and more.
  x-tagGroups:
    - name: Introduction
      tags:
        - did_model
        - errors
        - authentication
    - name: Core Resources
      tags:
        - VASPAdmin
        - Customer
        - Transactions
        - TrustFramework
        - Documents
        - Address Book
        - Rules
        - Settings
    - name: Integrations
      tags:
        - Transaction webhook
        - Address webhook
        - LexisNexis
        - Chainalysis
        - Elliptic
        - Crystal
        - Refinitiv
        - TRM
        - TRMSanctions
        - Coinfirm
        - MerkleScience
        - Bitgo
        - ComplyAdvantage
  servers:
    - url: https://api.notabene.id
      description: Production
    - url: https://api.notabene.dev
      description: Test
  paths:
    /address/upload/{vaspDID}:
      get:
        security:
          - bearerAuth: []
        summary: Get upload URL
        description: >
          To upload an address book you must first request a URL to uploda to.
          Upload URLs are short-lived AWS S3 bucket URLs.
        operationId: addressUploadAddressList
        tags:
          - Address Book
        parameters:
          - name: vaspDID
            in: path
            description: VASP DID
            schema:
              $ref: '#/components/schemas/common_DID'
            required: true
        responses:
          '200':
            description: URL where to upload the address list
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/common_UploadURLInfo'
    /address/registerCustomer:
      post:
        security:
          - bearerAuth: []
        summary: Register address
        description: |
          Registers the blockchain address of a customer in your address book.
        operationId: addressRegisterCustomer
        tags:
          - Address Book
        requestBody:
          description: Customer Address Info
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisterCustomerInput'
        responses:
          '200':
            description: Addess Owner is already registered?
    /v1/addresses/address-ownerships/{address}:
      get:
        security:
          - bearerAuth: []
        summary: Get address ownership information
        description: |
          Get the ownership information about a customer blockchain address.
        operationId: addressOwnershipGet
        tags:
          - Address Book
        parameters:
          - name: address
            in: path
            schema:
              $ref: '#/components/schemas/BlockchainAddress'
            required: true
          - name: vasp_did
            in: query
            required: true
            description: VASP DID
            schema:
              $ref: '#/components/schemas/common_DID'
          - name: asset
            in: query
            required: true
            schema:
              $ref: '#/components/schemas/Asset'
        responses:
          '200':
            description: Address Ownership Information
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/AddressOwnershipResponse'
          '404':
            description: Address Ownership Information Not Found
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error'
    /v1/addresses:
      get:
        security:
          - bearerAuth: []
        summary: Get addresses registered
        description: |
          Get the addresses registered for a VASP.
        operationId: addressesGet
        tags:
          - Address Book
        parameters:
          - name: vasp_did
            in: query
            required: true
            description: VASP DID
            schema:
              $ref: '#/components/schemas/common_DID'
          - name: source
            in: query
            required: true
            schema:
              $ref: '#/components/schemas/BlockchainAddressQuerySource'
          - name: source_type
            in: query
            schema:
              $ref: '#/components/schemas/QuerySourceType'
          - name: page
            in: query
            schema:
              $ref: '#/components/schemas/PaginationPage'
          - name: per_page
            in: query
            schema:
              maximum: 1000
              $ref: '#/components/schemas/PaginationPerPage'
        responses:
          '200':
            description: Addresses Registered
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/AddressesResponse'
      delete:
        security:
          - bearerAuth: []
        summary: Delete addresses
        description: |
          Delete addresses previously added to the address book.
        operationId: addressesDelete
        tags:
          - Address Book
        parameters:
          - name: addresses
            description: Comma-separated list of addresses to delete
            in: query
            required: true
            schema:
              type: string
              pattern: ^([^,]+,)*([^,]+)$
              example: 0x123,0x456
          - name: vasp_did
            in: query
            required: true
            description: VASP DID
            schema:
              $ref: '#/components/schemas/common_DID'
        responses:
          '202':
            description: Addresses Deletion Processing
            content:
              application/json:
                schema:
                  properties:
                    message:
                      type: string
                      example: Deleting 10 addresses.
    /auth/customerToken:
      post:
        security:
          - bearerAuth: []
        summary: Get customer access token
        description: |
          Get a Notabene API access token on behalf of a customer
        operationId: authCustomerToken
        tags:
          - authentication
        requestBody:
          description: Customer Token information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/auth_CustomerTokenInput'
        responses:
          '200':
            description: API Token
            content:
              application/json:
                schema:
                  type: object
                  description: API Token
                  properties:
                    access_token:
                      type: string
                    token_type:
                      type: string
                    scope:
                      type: string
    /auth/userinfo/update:
      post:
        security:
          - bearerAuth: []
        summary: Update user
        description: |
          Updates the currently authenticated user
        operationId: authUserInfoUpdate
        tags:
          - authentication
        requestBody:
          description: User Info update information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/auth_UserInfoUpdate'
        responses:
          '200':
            description: User info updated.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/auth_UserInfo'
    /auth/credentials/{vaspDID}:
      post:
        security:
          - bearerAuth: []
        summary: Create new API credentials
        description: Create new auth0 API credentials
        operationId: createAuth0Credentials
        parameters:
          - in: path
            name: vaspDID
            schema:
              $ref: '#/components/schemas/common_DID'
            required: true
        requestBody:
          description: Additional options
          content:
            application/json:
              schema:
                type: object
                properties:
                  delegateToGateway:
                    type: boolean
                  limited:
                    type: boolean
        responses:
          '200':
            description: Success
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    clientId:
                      type: string
                    clientSecret:
                      type: string
      delete:
        security:
          - bearerAuth: []
        summary: Delete API credentials
        description: Delete auth0 API credentials
        operationId: deleteAuth0Credentials
        parameters:
          - in: path
            name: vaspDID
            schema:
              $ref: '#/components/schemas/common_DID'
            required: true
          - name: clientid
            in: query
            description: auth0 clientId
            schema:
              type: string
        responses:
          '200':
            description: Success
      get:
        security:
          - bearerAuth: []
        summary: Get API credentials
        description: Get auth0 API credentials
        operationId: getAuth0Credentials
        parameters:
          - in: path
            name: vaspDID
            schema:
              $ref: '#/components/schemas/common_DID'
            required: true
        responses:
          '200':
            description: Success
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    clientId:
                      type: string
                    delegatedToGateway:
                      type: string
    /auth/vaspUsers/{vaspDID}:
      get:
        security:
          - bearerAuth: []
        summary: List VASP users
        description: >
          Returns an array of users and their roles that have been added to manage
          a VASP.
        operationId: authVASPusers
        tags:
          - VASPAdmin
        parameters:
          - name: vaspDID
            in: path
            description: VASP DID
            schema:
              $ref: '#/components/schemas/common_DID'
            required: true
        responses:
          '200':
            description: VASP users list with their roles
            content:
              application/json:
                schema:
                  type: array
                  description: List of users
                  items:
                    $ref: '#/components/schemas/VASPuser'
    /auth/addusertovasp:
      post:
        security:
          - bearerAuth: []
        summary: Add user to VASP
        description: >
          Adds a user to a VASP by email. Added users will be sent an email to
          accept the invite.
        operationId: authAddUserToVASP
        tags:
          - VASPAdmin
        requestBody:
          description: New user information"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/auth_AddUserToVASPInput'
        responses:
          '200':
            description: User added and email sent to user
    /auth/removeuserfromvasp:
      post:
        security:
          - bearerAuth: []
        summary: Remove user from VASP
        description: >
          Remove a user from a VASP. The removed user will no longer be able to
          login to the dashboard to manage the VASP.
        operationId: authRemoveUserFromVASP
        tags:
          - VASPAdmin
        requestBody:
          description: Remove user data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/auth_RemoveUserFromVASPInput'
        responses:
          '200':
            description: User removed from VASP
    /auth/customer:
      post:
        security:
          - bearerAuth: []
        summary: Create customer
        description: |
          Creates a new customer
        operationId: authNewCustomer
        tags:
          - Customer
        requestBody:
          description: Customer info
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewCustomerInput'
        responses:
          '200':
            description: Customer created
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Customer'
    /auth/customer/{vaspDID}/{customerDID}:
      get:
        security:
          - bearerAuth: []
        summary: Get customer
        description: |
          Returns a customer of a VASP by customer DID
        operationId: authGetCustomer
        tags:
          - Customer
        parameters:
          - name: vaspDID
            in: path
            description: VASP DID
            schema:
              $ref: '#/components/schemas/common_DID'
            required: true
          - name: customerDID
            in: path
            description: Customer DID
            schema:
              $ref: '#/components/schemas/common_DID'
            required: true
        responses:
          '200':
            description: Customer info
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Customer'
    /integrations/{vaspDID}/address-query-webhook:
      post:
        security:
          - bearerAuth: []
        summary: Register a Webhook for querying addresses
        description: |
          Register a Webhook for querying addresses
        operationId: integrationsConfigAddressQueryWebhook
        tags:
          - Address webhook
        parameters:
          - name: vaspDID
            in: path
            description: VASP DID
            schema:
              $ref: '#/components/schemas/common_DID'
            required: true
        requestBody:
          description: Register Webhook Input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationsRegisterAddressWebhookInput'
        responses:
          '200':
            description: Secret to validate Notabene's request
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/common_RegisterAddressWebhookResponse'
      delete:
        security:
          - bearerAuth: []
        summary: Delete a Webhook for querying addresses
        description: |
          Delete a Webhook for querying addresses
        operationId: integrationsDeleteAddressQueryWebhook
        tags:
          - Address webhook
        parameters:
          - name: vaspDID
            in: path
            description: VASP DID
            schema:
              $ref: '#/components/schemas/common_DID'
            required: true
        responses:
          '200':
            description: Delete message
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/common_DeleteAddressWebhookResponse'
    /integrations/config/txnotification:
      post:
        deprecated: true
        security:
          - bearerAuth: []
        summary: Create a notification webhook
        description: >
          Creates a webhook for the passed callback URL that will be notified
          every time a transfer changes state.
        operationId: integrationsConfigTxNotification
        tags:
          - Transaction webhook
        requestBody:
          description: Tx Notification Config Information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationConfigTxNotificationInput'
        responses:
          '200':
            description: Config saved
    /integrations/txnotification/{vaspDID}:
      get:
        security:
          - bearerAuth: []
        summary: Get a notification webhook
        description: |
          Returns a webhook that has been setup for your account.
        operationId: integrationsGetTxNotification
        tags:
          - Transaction webhook
        parameters:
          - in: path
            name: vaspDID
            schema:
              $ref: '#/components/schemas/common_DID'
            required: true
        responses:
          '200':
            description: Tx Notification Config Info
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/IntegrationInfoTxNotification'
    /integrations/providers/{vaspDID}:
      get:
        security:
          - bearerAuth: []
        summary: Get Third Party Providers
        description: |
          Retrieve all of the third party providers configured for the VASP.
        operationId: integrationsGetThirdPartyProviders
        tags:
          - Providers
        parameters:
          - in: path
            name: vaspDID
            schema:
              $ref: '#/components/schemas/common_DID'
            required: true
        responses:
          '200':
            description: Get Third Party Providers Response
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/IntegrationsGetThirdPartyProviders'
    /integrations/chainalysis/addressinfo:
      post:
        security:
          - bearerAuth: []
        summary: Chainalysis address info
        description: Chainalysis address info
        operationId: ChainalysisAddressInfo
        tags:
          - Chainalysis
        requestBody:
          description: Chainalysis address info
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - vaspDID
                properties:
                  vaspDID:
                    $ref: '#/components/schemas/common_DID'
                  data:
                    type: object
                    required:
                      - address
                      - asset
                    properties:
                      address:
                        type: string
                      asset:
                        type: string
                      customerDID:
                        type: string
                      network:
                        type: string
        responses:
          '200':
            description: Success
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    address:
                      type: string
                    addressType:
                      type: string
                    asset:
                      type: string
                    source:
                      type: string
                    metadata:
                      type: object
                    custodialVASPdid:
                      type: string
                    custodialVASPname:
                      type: string
                    score:
                      type: string
    /integrations/chainalysis/credentials:
      put:
        security:
          - bearerAuth: []
        summary: Set Chainalysis credentials
        description: Set Chainalysis credentials
        operationId: PutChainalysisAPICredentials
        tags:
          - Chainalysis
        parameters:
          - name: vaspDID
            required: true
            in: query
            schema:
              $ref: '#/components/schemas/common_DID'
        requestBody:
          description: Set Chainalysis credentials
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: object
                    required:
                      - apiKey
                    properties:
                      apiKey:
                        type: string
        responses:
          '200':
            description: Success
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    hasCredentialsBeenStored:
                      type: boolean
                    message:
                      type: string
      delete:
        security:
          - bearerAuth: []
        summary: Delete Chainalysis credentials
        description: Delete Chainalysis credentials
        operationId: DelChainalysisAPICredentials
        tags:
          - Chainalysis
        parameters:
          - name: vaspDID
            required: true
            in: query
            schema:
              $ref: '#/components/schemas/common_DID'
        responses:
          '200':
            description: Success
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    hasCredentialsBeenDeleted:
                      type: boolean
                    message:
                      type: string
      get:
        security:
          - bearerAuth: []
        summary: Check Chainalysis credentials
        description: Check Chainalysis credentials
        operationId: GetChainalysisAPICredentials
        tags:
          - Chainalysis
        parameters:
          - name: vaspDID
            required: true
            in: query
            schema:
              $ref: '#/components/schemas/common_DID'
        responses:
          '200':
            description: Success
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    hasApiCredentials:
                      type: boolean
                    message:
                      type: string
    /integrations/chainalysis2/addressinfo:
      post:
        security:
          - bearerAuth: []
        summary: Chainalysis v2 address info
        description: Chainalysis v2 address info
        operationId: Chainalysis2AddressInfo
        tags:
          - Chainalysis2
        requestBody:
          description: Chainalysis v2 address info
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - vaspDID
                properties:
                  vaspDID:
                    $ref: '#/components/schemas/common_DID'
                  data:
                    type: object
                    required:
                      - address
                      - asset
                      - assetAmount
                    properties:
                      address:
                        type: string
                      asset:
                        type: string
                      assetAmount:
                        type: string
                      customerDID:
                        type: string
                      network:
                        type: string
        responses:
          '200':
            description: Success
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    address:
                      type: string
                    addressType:
                      type: string
                    asset:
                      type: string
                    source:
                      type: string
                    metadata:
                      type: object
                    custodialVASPdid:
                      type: string
                    custodialVASPname:
                      type: string
                    score:
                      type: string
    /integrations/chainalysis2/credentials:
      put:
        security:
          - bearerAuth: []
        summary: Set Chainalysis credentials
        description: Set Chainalysis credentials
        operationId: PutChainalysis2APICredentials
        tags:
          - Chainalysis
        parameters:
          - name: vaspDID
            required: true
            in: query
            schema:
              $ref: '#/components/schemas/common_DID'
        requestBody:
          description: Set Chainalysis credentials
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: object
                    required:
                      - apiKey
                    properties:
                      apiKey:
                        type: string
        responses:
          '200':
            description: Success
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    hasCredentialsBeenStored:
                      type: boolean
                    message:
                      type: string
      delete:
        security:
          - bearerAuth: []
        summary: Delete Chainalysis credentials
        description: Delete Chainalysis credentials
        operationId: DelChainalysis2APICredentials
        tags:
          - Chainalysis
        parameters:
          - name: vaspDID
            required: true
            in: query
            schema:
              $ref: '#/components/schemas/common_DID'
        responses:
          '200':
            description: Success
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    hasCredentialsBeenDeleted:
                      type: boolean
                    message:
                      type: string
      get:
        security:
          - bearerAuth: []
        summary: Check Chainalysis credentials
        description: Check Chainalysis credentials
        operationId: GetChainalysis2APICredentials
        tags:
          - Chainalysis
        parameters:
          - name: vaspDID
            required: true
            in: query
            schema:
              $ref: '#/components/schemas/common_DID'
        responses:
          '200':
            description: Success
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    hasApiCredentials:
                      type: boolean
                    message:
                      type: string
    /integrations/lexisnexis/sanctions:
      post:
        security:
          - bearerAuth: []
        summary: LexisNexis sanctions check
        description: LexisNexis sanctions check
        operationId: LexisNexisSanctionsCheck
        tags:
          - LexisNexis
        requestBody:
          description: LexisNexis sanctions check
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - vaspDID
                properties:
                  vaspDID:
                    $ref: '#/components/schemas/common_DID'
                  data:
                    type: object
                    required:
                      - searchTerm
                    properties:
                      searchTerm:
                        type: string
                      entityType:
                        type: string
                        enum:
                          - Individual
                          - Business
                          - Unknown
                      transactionId:
                        type: string
        responses:
          '200':
            description: Success
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    hasMatches:
                      type: boolean
                    metadata:
                      type: object
                    matches:
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                          score:
                            type: string
                          reasons:
                            type: array
                            items:
                              type: string
                          comments:
                            type: array
                            items:
                              type: string
                          metadata:
                            type: array
                            items:
                              type: object
    /integrations/lexisnexis/credentials:
      put:
        security:
          - bearerAuth: []
        summary: Set LexisNexis credentials
        description: Set LexisNexis credentials
        operationId: PutLexisNexisAPICredentials
        tags:
          - LexisNexis
        parameters:
          - name: vaspDID
            required: true
            in: query
            schema:
              $ref: '#/components/schemas/common_DID'
        requestBody:
          description: Set LexisNexis credentials
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: object
                    required:
                      - environment
                      - clientID
                      - userID
                      - userPassword
                      - apiKey
                      - predefinedSearchName
                    properties:
                      environment:
                        type: string
                      clientID:
                        type: string
                      userID:
                        type: string
                      userPassword:
                        type: string
                      apiKey:
                        type: string
                      predefinedSearchName:
                        type: string
        responses:
          '200':
            description: Success
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    hasCredentialsBeenStored:
                      type: boolean
                    message:
                      type: string
      delete:
        security:
          - bearerAuth: []
        summary: Delete LexisNexis credentials
        description: Delete LexisNexis credentials
        operationId: DelLexisNexisAPICredentials
        tags:
          - LexisNexis
        parameters:
          - name: vaspDID
            required: true
            in: query
            schema:
              $ref: '#/components/schemas/common_DID'
        responses:
          '200':
            description: Success
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    hasCredentialsBeenDeleted:
                      type: boolean
                    message:
                      type: string
      get:
        security:
          - bearerAuth: []
        summary: Check LexisNexis credentials
        description: Check LexisNexis credentials
        operationId: GetLexisNexisAPICredentials
        tags:
          - LexisNexis
        parameters:
          - name: vaspDID
            required: true
            in: query
            schema:
              $ref: '#/components/schemas/common_DID'
        responses:
          '200':
            description: Success
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    hasApiCredentials:
                      type: boolean
                    message:
                      type: string
    /integrations/trm/addressinfo:
      post:
        security:
          - bearerAuth: []
        summary: TRM address info
        description: TRM address info
        operationId: TRMAddressInfo
        tags:
          - TRM
        requestBody:
          description: TRM address info
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - vaspDID
                properties:
                  vaspDID:
                    $ref: '#/components/schemas/common_DID'
                  data:
                    type: object
                    required:
                      - address
                      - asset
                    properties:
                      address:
                        type: string
                      asset:
                        type: string
        responses:
          '200':
            description: Success
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    address:
                      type: string
                    addressType:
                      type: string
                    asset:
                      type: string
                    source:
                      type: string
                    metadata:
                      type: object
                    custodialVASPdid:
                      type: string
                    custodialVASPname:
                      type: string
                    score:
                      type: string
    /integrations/trm/credentials:
      put:
        security:
          - bearerAuth: []
        summary: Set TRM credentials
        description: Set TRM credentials
        operationId: PutTRMAPICredentials
        tags:
          - TRM
        parameters:
          - name: vaspDID
            required: true
            in: query
            schema:
              $ref: '#/components/schemas/common_DID'
        requestBody:
          description: Set TRM credentials
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: object
                    required:
                      - apiKey
                    properties:
                      apiKey:
                        type: string
        responses:
          '200':
            description: Success
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    hasCredentialsBeenStored:
                      type: boolean
                    message:
                      type: string
      delete:
        security:
          - bearerAuth: []
        summary: Delete TRM credentials
        description: Delete TRM credentials
        operationId: DelTRMAPICredentials
        tags:
          - TRM
        parameters:
          - name: vaspDID
            required: true
            in: query
            schema:
              $ref: '#/components/schemas/common_DID'
        responses:
          '200':
            description: Success
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    hasCredentialsBeenDeleted:
                      type: boolean
                    message:
                      type: string
      get:
        security:
          - bearerAuth: []
        summary: Check TRM credentials
        description: Check TRM credentials
        operationId: GetTRMAPICredentials
        tags:
          - TRM
        parameters:
          - name: vaspDID
            required: true
            in: query
            schema:
              $ref: '#/components/schemas/common_DID'
        responses:
          '200':
            description: Success
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    hasApiCredentials:
                      type: boolean
                    message:
                      type: string
    /integrations/trmsanctions/sanctions:
      post:
        security:
          - bearerAuth: []
        summary: TRMSanctions sanctions check
        description: TRMSanctions sanctions check
        operationId: TRMSanctionsSanctionsCheck
        tags:
          - TRMSanctions
        requestBody:
          description: TRMSanctions sanctions check
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - vaspDID
                properties:
                  vaspDID:
                    $ref: '#/components/schemas/common_DID'
                  data:
                    type: object
                    required:
                      - searchTerm
                    properties:
                      searchTerm:
                        type: string
                      transactionId:
                        type: string
        responses:
          '200':
            description: Success
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    hasMatches:
                      type: boolean
                    metadata:
                      type: object
                    matches:
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                          score:
                            type: string
                          reasons:
                            type: array
                            items:
                              type: string
                          comments:
                            type: array
                            items:
                              type: string
                          metadata:
                            type: array
                            items:
                              type: object
    /integrations/trmsanctions/credentials:
      put:
        security:
          - bearerAuth: []
        summary: Set TRMSanctions credentials
        description: Set TRMSanctions credentials
        operationId: PutTRMSanctionsAPICredentials
        tags:
          - TRMSanctions
        parameters:
          - name: vaspDID
            required: true
            in: query
            schema:
              $ref: '#/components/schemas/common_DID'
        requestBody:
          description: Set TRMSanctions credentials
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: object
                    required:
                      - apiKey
                    properties:
                      apiKey:
                        type: string
        responses:
          '200':
            description: Success
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    hasCredentialsBeenStored:
                      type: boolean
                    message:
                      type: string
      delete:
        security:
          - bearerAuth: []
        summary: Delete TRMSanctions credentials
        description: Delete TRMSanctions credentials
        operationId: DelTRMSanctionsAPICredentials
        tags:
          - TRMSanctions
        parameters:
          - name: vaspDID
            required: true
            in: query
            schema:
              $ref: '#/components/schemas/common_DID'
        responses:
          '200':
            description: Success
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    hasCredentialsBeenDeleted:
                      type: boolean
                    message:
                      type: string
      get:
        security:
          - bearerAuth: []
        summary: Check TRMSanctions credentials
        description: Check TRMSanctions credentials
        operationId: GetTRMSanctionsAPICredentials
        tags:
          - TRMSanctions
        parameters:
          - name: vaspDID
            required: true
            in: query
            schema:
              $ref: '#/components/schemas/common_DID'
        responses:
          '200':
            description: Success
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    hasApiCredentials:
                      type: boolean
                    message:
                      type: string
    /integrations/coinfirm/addressinfo:
      post:
        security:
          - bearerAuth: []
        summary: Coinfirm address info
        description: Coinfirm address info
        operationId: CoinfirmAddressInfo
        tags:
          - Coinfirm
        requestBody:
          description: Coinfirm address info
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - vaspDID
                properties:
                  vaspDID:
                    $ref: '#/components/schemas/common_DID'
                  data:
                    type: object
                    required:
                      - address
                      - asset
                    properties:
                      address:
                        type: string
                      asset:
                        type: string
                      customerDID:
                        type: string
        responses:
          '200':
            description: Success
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    address:
                      type: string
                    addressType:
                      type: string
                    asset:
                      type: string
                    source:
                      type: string
                    metadata:
                      type: object
                    custodialVASPdid:
                      type: string
                    custodialVASPname:
                      type: string
                    score:
                      type: string
    /integrations/coinfirm/credentials:
      put:
        security:
          - bearerAuth: []
        summary: Set Coinfirm credentials
        description: Set Coinfirm credentials
        operationId: PutCoinfirmAPICredentials
        tags:
          - Coinfirm
        parameters:
          - name: vaspDID
            required: true
            in: query
            schema:
              $ref: '#/components/schemas/common_DID'
        requestBody:
          description: Set Coinfirm credentials
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: object
                    required:
                      - apiKey
                    properties:
                      apiKey:
                        type: string
        responses:
          '200':
            description: Success
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    hasCredentialsBeenStored:
                      type: boolean
                    message:
                      type: string
      delete:
        security:
          - bearerAuth: []
        summary: Delete Coinfirm credentials
        description: Delete Coinfirm credentials
        operationId: DelCoinfirmAPICredentials
        tags:
          - Coinfirm
        parameters:
          - name: vaspDID
            required: true
            in: query
            schema:
              $ref: '#/components/schemas/common_DID'
        responses:
          '200':
            description: Success
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    hasCredentialsBeenDeleted:
                      type: boolean
                    message:
                      type: string
      get:
        security:
          - bearerAuth: []
        summary: Check Coinfirm credentials
        description: Check Coinfirm credentials
        operationId: GetCoinfirmAPICredentials
        tags:
          - Coinfirm
        parameters:
          - name: vaspDID
            required: true
            in: query
            schema:
              $ref: '#/components/schemas/common_DID'
        responses:
          '200':
            description: Success
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    hasApiCredentials:
                      type: boolean
                    message:
                      type: string
    /integrations/bitgo/addressinfo:
      post:
        security:
          - bearerAuth: []
        summary: Bitgo address info
        description: Bitgo address info
        operationId: BitgoAddressInfo
        tags:
          - Bitgo
        requestBody:
          description: Bitgo address info
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - vaspDID
                properties:
                  vaspDID:
                    $ref: '#/components/schemas/common_DID'
                  data:
                    type: object
                    required:
                      - address
                      - asset
                    properties:
                      address:
                        type: string
                      asset:
                        type: string
                      customerDID:
                        type: string
        responses:
          '200':
            description: Success
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    address:
                      type: string
                    addressType:
                      type: string
                    asset:
                      type: string
                    source:
                      type: string
                    metadata:
                      type: object
                    custodialVASPdid:
                      type: string
                    custodialVASPname:
                      type: string
    /integrations/bitgo/credentials:
      put:
        security:
          - bearerAuth: []
        summary: Set Bitgo credentials
        description: Set Bitgo credentials
        operationId: PutBitgoAPICredentials
        tags:
          - Bitgo
        parameters:
          - name: vaspDID
            required: true
            in: query
            schema:
              $ref: '#/components/schemas/common_DID'
        requestBody:
          description: Set Bitgo credentials
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: object
                    required:
                      - apiKey
                    properties:
                      apiKey:
                        type: string
        responses:
          '200':
            description: Success
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    hasCredentialsBeenStored:
                      type: boolean
                    message:
                      type: string
      delete:
        security:
          - bearerAuth: []
        summary: Delete Bitgo credentials
        description: Delete Bitgo credentials
        operationId: DelBitgoAPICredentials
        tags:
          - Bitgo
        parameters:
          - name: vaspDID
            required: true
            in: query
            schema:
              $ref: '#/components/schemas/common_DID'
        responses:
          '200':
            description: Success
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    hasCredentialsBeenDeleted:
                      type: boolean
                    message:
                      type: string
      get:
        security:
          - bearerAuth: []
        summary: Check Bitgo credentials
        description: Check Bitgo credentials
        operationId: GetBitgoAPICredentials
        tags:
          - Bitgo
        parameters:
          - name: vaspDID
            required: true
            in: query
            schema:
              $ref: '#/components/schemas/common_DID'
        responses:
          '200':
            description: Success
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    hasApiCredentials:
                      type: boolean
                    message:
                      type: string
    /integrations/complyadvantage/sanctions:
      post:
        security:
          - bearerAuth: []
        summary: ComplyAdvantage sanctions check
        description: ComplyAdvantage sanctions check
        operationId: ComplyAdvantageSanctionsCheck
        tags:
          - ComplyAdvantage
        requestBody:
          description: ComplyAdvantage sanctions check
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - vaspDID
                properties:
                  vaspDID:
                    $ref: '#/components/schemas/common_DID'
                  data:
                    type: object
                    required:
                      - searchTerm
                    properties:
                      searchTerm:
                        type: string
                      transactionId:
                        type: string
        responses:
          '200':
            description: Success
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    hasMatches:
                      type: boolean
                    metadata:
                      type: object
                    matches:
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                          score:
                            type: string
                          reasons:
                            type: array
                            items:
                              type: string
                          comments:
                            type: array
                            items:
                              type: string
                          metadata:
                            type: array
                            items:
                              type: object
    /integrations/complyadvantage/credentials:
      put:
        security:
          - bearerAuth: []
        summary: Set ComplyAdvantage credentials
        description: Set ComplyAdvantage credentials
        operationId: PutComplyAdvantageAPICredentials
        tags:
          - ComplyAdvantage
        parameters:
          - name: vaspDID
            required: true
            in: query
            schema:
              $ref: '#/components/schemas/common_DID'
        requestBody:
          description: Set ComplyAdvantage credentials
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: object
                    required:
                      - apiKey
                    properties:
                      apiKey:
                        type: string
                      search_profile:
                        type: string
                      fuzziness:
                        type: string
                      regionURL:
                        type: string
                        enum:
                          - https://api.complyadvantage.com
                          - https://api.us.complyadvantage.com
                          - https://api.ap.complyadvantage.com
                        description: >
                          Use the appropriate ComplyAdvantage root regional, see
                          docs[https://docs.complyadvantage.com/api-docs/?javascript#introduction]:
                            * `https://api.complyadvantage.com` - For EU
                            * `https://api.us.complyadvantage.com` - For US
                            * `https://api.ap.complyadvantage.com` - For APAC
                          Defaults to EU
        responses:
          '200':
            description: Success
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    hasCredentialsBeenStored:
                      type: boolean
                    message:
                      type: string
      delete:
        security:
          - bearerAuth: []
        summary: Delete ComplyAdvantage credentials
        description: Delete ComplyAdvantage credentials
        operationId: DelComplyAdvantageAPICredentials
        tags:
          - ComplyAdvantage
        parameters:
          - name: vaspDID
            required: true
            in: query
            schema:
              $ref: '#/components/schemas/common_DID'
        responses:
          '200':
            description: Success
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    hasCredentialsBeenDeleted:
                      type: boolean
                    message:
                      type: string
      get:
        security:
          - bearerAuth: []
        summary: Check ComplyAdvantage credentials
        description: Check ComplyAdvantage credentials
        operationId: GetComplyAdvantageAPICredentials
        tags:
          - ComplyAdvantage
        parameters:
          - name: vaspDID
            required: true
            in: query
            schema:
              $ref: '#/components/schemas/common_DID'
        responses:
          '200':
            description: Success
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    hasApiCredentials:
                      type: boolean
                    message:
                      type: string
    /integrations/refinitiv/sanctions:
      post:
        security:
          - bearerAuth: []
        summary: Refinitiv sanctions check
        description: Refinitiv sanctions check
        operationId: RefinitivSanctionsCheck
        tags:
          - Refinitiv
        requestBody:
          description: Refinitiv sanctions check
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - vaspDID
                properties:
                  vaspDID:
                    $ref: '#/components/schemas/common_DID'
                  data:
                    type: object
                    required:
                      - searchTerm
                    properties:
                      searchTerm:
                        type: string
                      entityType:
                        type: string
                        enum:
                          - INDIVIDUAL
                          - ORGANISATION
                      transactionId:
                        type: string
        responses:
          '200':
            description: Success
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    hasMatches:
                      type: boolean
                    metadata:
                      type: object
                    matches:
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                          score:
                            type: string
                          reasons:
                            type: array
                            items:
                              type: string
                          comments:
                            type: array
                            items:
                              type: string
                          metadata:
                            type: array
                            items:
                              type: object
    /integrations/refinitiv/credentials:
      put:
        security:
          - bearerAuth: []
        summary: Set Refinitiv credentials
        description: Set Refinitiv credentials
        operationId: PutRefinitivAPICredentials
        tags:
          - Refinitiv
        parameters:
          - name: vaspDID
            required: true
            in: query
            schema:
              $ref: '#/components/schemas/common_DID'
        requestBody:
          description: Set Refinitiv credentials
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: object
                    required:
                      - apiKey
                      - apiSecret
                    properties:
                      apiKey:
                        type: string
                      apiSecret:
                        type: string
                      groupId:
                        type: string
                      useClientWatchlist:
                        type: boolean
                      customFields:
                        type: array
                        items:
                          type: object
                          required:
                            - typeId
                            - value
                          properties:
                            typeId:
                              type: string
                            value:
                              type: string
        responses:
          '200':
            description: Success
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    hasCredentialsBeenStored:
                      type: boolean
                    message:
                      type: string
      delete:
        security:
          - bearerAuth: []
        summary: Delete Refinitiv credentials
        description: Delete Refinitiv credentials
        operationId: DelRefinitivAPICredentials
        tags:
          - Refinitiv
        parameters:
          - name: vaspDID
            required: true
            in: query
            schema:
              $ref: '#/components/schemas/common_DID'
        responses:
          '200':
            description: Success
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    hasCredentialsBeenDeleted:
                      type: boolean
                    message:
                      type: string
      get:
        security:
          - bearerAuth: []
        summary: Check Refinitiv credentials
        description: Check Refinitiv credentials
        operationId: GetRefinitivAPICredentials
        tags:
          - Refinitiv
        parameters:
          - name: vaspDID
            required: true
            in: query
            schema:
              $ref: '#/components/schemas/common_DID'
        responses:
          '200':
            description: Success
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    hasApiCredentials:
                      type: boolean
                    message:
                      type: string
    /integrations/merklescience/addressinfo:
      post:
        security:
          - bearerAuth: []
        summary: MerkleScience address info
        description: MerkleScience address info
        operationId: MerkleScienceAddressInfo
        tags:
          - MerkleScience
        requestBody:
          description: MerkleScience address info
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - vaspDID
                properties:
                  vaspDID:
                    $ref: '#/components/schemas/common_DID'
                  data:
                    type: object
                    required:
                      - address
                      - asset
                    properties:
                      address:
                        type: string
                      asset:
                        type: string
                      customerDID:
                        type: string
        responses:
          '200':
            description: Success
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    address:
                      type: string
                    addressType:
                      type: string
                    asset:
                      type: string
                    source:
                      type: string
                    metadata:
                      type: object
                    custodialVASPdid:
                      type: string
                    custodialVASPname:
                      type: string
                    score:
                      type: string
    /integrations/merklescience/credentials:
      put:
        security:
          - bearerAuth: []
        summary: Set MerkleScience credentials
        description: Set MerkleScience credentials
        operationId: PutMerkleScienceAPICredentials
        tags:
          - MerkleScience
        parameters:
          - name: vaspDID
            required: true
            in: query
            schema:
              $ref: '#/components/schemas/common_DID'
        requestBody:
          description: Set MerkleScience credentials
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: object
                    required:
                      - apiKey
                    properties:
                      apiKey:
                        type: string
        responses:
          '200':
            description: Success
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    hasCredentialsBeenStored:
                      type: boolean
                    message:
                      type: string
      delete:
        security:
          - bearerAuth: []
        summary: Delete MerkleScience credentials
        description: Delete MerkleScience credentials
        operationId: DelMerkleScienceAPICredentials
        tags:
          - MerkleScience
        parameters:
          - name: vaspDID
            required: true
            in: query
            schema:
              $ref: '#/components/schemas/common_DID'
        responses:
          '200':
            description: Success
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    hasCredentialsBeenDeleted:
                      type: boolean
                    message:
                      type: string
      get:
        security:
          - bearerAuth: []
        summary: Check MerkleScience credentials
        description: Check MerkleScience credentials
        operationId: GetMerkleScienceAPICredentials
        tags:
          - MerkleScience
        parameters:
          - name: vaspDID
            required: true
            in: query
            schema:
              $ref: '#/components/schemas/common_DID'
        responses:
          '200':
            description: Success
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    hasApiCredentials:
                      type: boolean
                    message:
                      type: string
    /integrations/elliptic/addressinfo:
      post:
        security:
          - bearerAuth: []
        summary: Elliptic address info
        description: Elliptic address info
        operationId: EllipticAddressInfo
        tags:
          - Elliptic
        requestBody:
          description: Elliptic address info
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - vaspDID
                properties:
                  vaspDID:
                    $ref: '#/components/schemas/common_DID'
                  data:
                    type: object
                    required:
                      - address
                      - asset
                    properties:
                      address:
                        type: string
                      asset:
                        type: string
                      customerDID:
                        type: string
        responses:
          '200':
            description: Success
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    address:
                      type: string
                    addressType:
                      type: string
                    asset:
                      type: string
                    source:
                      type: string
                    metadata:
                      type: object
                    custodialVASPdid:
                      type: string
                    custodialVASPname:
                      type: string
                    score:
                      type: string
    /integrations/elliptic/credentials:
      put:
        security:
          - bearerAuth: []
        summary: Set Elliptic credentials
        description: Set Elliptic credentials
        operationId: PutEllipticAPICredentials
        tags:
          - Elliptic
        parameters:
          - name: vaspDID
            required: true
            in: query
            schema:
              $ref: '#/components/schemas/common_DID'
        requestBody:
          description: Set Elliptic credentials
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: object
                    required:
                      - accessKey
                      - accessSecret
                    properties:
                      accessKey:
                        type: string
                      accessSecret:
                        type: string
        responses:
          '200':
            description: Success
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    hasCredentialsBeenStored:
                      type: boolean
                    message:
                      type: string
      delete:
        security:
          - bearerAuth: []
        summary: Delete Elliptic credentials
        description: Delete Elliptic credentials
        operationId: DelEllipticAPICredentials
        tags:
          - Elliptic
        parameters:
          - name: vaspDID
            required: true
            in: query
            schema:
              $ref: '#/components/schemas/common_DID'
        responses:
          '200':
            description: Success
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    hasCredentialsBeenDeleted:
                      type: boolean
                    message:
                      type: string
      get:
        security:
          - bearerAuth: []
        summary: Check Elliptic credentials
        description: Check Elliptic credentials
        operationId: GetEllipticAPICredentials
        tags:
          - Elliptic
        parameters:
          - name: vaspDID
            required: true
            in: query
            schema:
              $ref: '#/components/schemas/common_DID'
        responses:
          '200':
            description: Success
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    hasApiCredentials:
                      type: boolean
                    message:
                      type: string
    /protocol-agents:
      get:
        security:
          - bearerAuth: []
        summary: Get the configured Protocol Agents for a given VASP
        description: |
          Get the configured Protocol Agents for a given VASP
        operationId: getAgents
        tags:
          - ProtocolAgents
        parameters:
          - name: vaspDID
            in: query
            description: VASP DID
            schema:
              $ref: '#/components/schemas/common_DID'
            required: true
        responses:
          '200':
            description: All the configured Protocol Agents for a given VASP
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/GetResponse'
      post:
        security:
          - bearerAuth: []
        summary: Register a Protocol Agent for a given VASP
        description: |
          Register a Protocol Agent for a given VASP
        operationId: postAgent
        tags:
          - ProtocolAgents
        requestBody:
          description: Payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostRequest'
        responses:
          '200':
            description: All the configured Protocol Agents for a given VASP
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/GetResponse'
      delete:
        security:
          - bearerAuth: []
        summary: Unregister a Protocol Agent for a given VASP
        description: |
          Unregister a Protocol Agent for a given VASP
        operationId: deleteAgent
        tags:
          - ProtocolAgents
        requestBody:
          description: Payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteRequest'
        responses:
          '200':
            description: All the configured Protocol Agents for a given VASP
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/GetResponse'
    /protocol-agents-message-handler:
      post:
        security:
          - bearerAuth: []
        summary: Handle a Protocol Agent Message
        description: |
          Handle a Protocol Agent Message
        operationId: messageHandler
        tags:
          - ProtocolAgents
        requestBody:
          description: Payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentAddressDiscoveryRequest'
        responses:
          '200':
            description: Message received
    /protocol-gateways/callbacks/address-confirmation/{transactionId}:
      post:
        security:
          - bearerAuth: []
        summary: Address confirmation resolution
        description: >
          Address confirmation after callbackUrl is requested from the Protocol
          Gateways.
        operationId: addressConfirmationCallbackResolution
        tags:
          - Protocol Gateways
        parameters:
          - name: transactionId
            in: path
            description: Transaction ID
            schema:
              type: string
            required: true
        requestBody:
          description: Address Confirmation Request Body
          content:
            application/json:
              schema:
                type: object
                required:
                  - resolvedVASPdid
                properties:
                  requester_vasp_did:
                    description: Notabene VASP DID creating the address confirmation request
                    $ref: '#/components/schemas/common_DID'
        responses:
          '200':
            description: Address confirmation resolution processed
    /protocol-gateways/callbacks/receive-transfer/{transactionId}:
      post:
        security:
          - bearerAuth: []
        summary: Receive Transfer resolution
        description: >
          Receive Transfer after callbackUrl is requested from the Protocol
          Gateways.
        operationId: travelRuleTransferCallbackResolution
        tags:
          - Protocol Gateways
        parameters:
          - name: transactionId
            in: path
            description: Transaction ID
            schema:
              type: string
            required: true
        requestBody:
          description: Address Confirmation Request Body
          content:
            application/json:
              schema:
                type: object
                required:
                  - status
                properties:
                  status:
                    description: Status of the transfer resolution in the Protocol Gateways
                    type: string
                  reason:
                    description: >-
                      Reason for the rejection of the transfer in the Protocol
                      Gateways
                    type: string
        responses:
          '200':
            description: Receive transfer resolution processed
    /webhook:
      get:
        security:
          - bearerAuth: []
        summary: Get the registered multi-message Webhook URL for a given VASP.
        description: |
          Get the registered multi-message Webhook URL for a given VASP.
        operationId: getWebhook
        tags:
          - Webhooks
        parameters:
          - name: vaspDID
            in: query
            required: true
            description: The VASP DID
            schema:
              $ref: '#/components/schemas/common_DID'
        responses:
          '200':
            description: Config saved
          '404':
            description: No webhook registered
      post:
        security:
          - bearerAuth: []
        summary: Register the multi-message Webhook URL for a given VASP.
        description: |
          Register the multi-message Webhook URL for a given VASP.
        operationId: setWebhook
        tags:
          - Webhooks
        requestBody:
          description: Payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SetWebhookInput'
        responses:
          '200':
            description: Config saved
      delete:
        security:
          - bearerAuth: []
        summary: Unregister the multi-message Webhook for a given VASP.
        description: |
          Unregister the multi-message Webhook for a given VASP.
        operationId: deleteWebhook
        tags:
          - Webhooks
        requestBody:
          description: Payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteWebhookInput'
        responses:
          '200':
            description: Config saved
    /tf/vasps/create:
      post:
        summary: Create VASP
        description: |
          To begin accepting transactions as a VASP, you first create a VASP.
        operationId: tfCreate
        tags:
          - TrustFramework
        parameters:
          - in: query
            name: challengeToken
            schema:
              type: string
            required: true
            description: ChallengeToken
        requestBody:
          description: Create User and VASP through light onboarding
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tf_UserVASPCreate'
        responses:
          '200':
            description: User info created.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/tf_VASPInfo'
    /tf/simple/vasps/{vaspDID}:
      get:
        security:
          - bearerAuth: []
          - {}
        summary: Get VASP
        description: >
          Returns information about a VASP that has the specified
          [DID](https://www.w3.org/TR/did-core/#identifier).
        operationId: tfSimpleGetVASP
        tags:
          - TrustFramework
        parameters:
          - name: vaspDID
            in: path
            description: VASP DID
            schema:
              $ref: '#/components/schemas/common_DID'
            required: true
          - name: fields
            in: query
            description: csv of fields to return
            schema:
              type: string
          - name: reviewedByVaspDID
            in: query
            description: include reviewed vasps for specified did
            schema:
              $ref: '#/components/schemas/common_DID'
          - name: showJurisdictionStatus
            in: query
            description: include jurisdiction status information
            schema:
              type: boolean
          - name: includeSubsidiaries
            in: query
            description: include subsidiaries of particular vasp
            schema:
              type: boolean
        responses:
          '200':
            description: Simple VASP info
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/tf_VASPInfoSimple'
    /tf/simple/vasps:
      get:
        security:
          - bearerAuth: []
          - {}
        summary: List VASPs
        description: >
          Returns a list of VASPs. VASPs can be searched and sorted and results
          are paginated.
        operationId: tfSimpleListVASPs
        tags:
          - TrustFramework
        parameters:
          - name: q
            in: query
            description: string to query
            schema:
              type: string
          - name: emailDomain
            in: query
            description: filter on email domain
            schema:
              type: string
          - name: chainalysisName
            in: query
            description: filter on chainalysis name
            schema:
              type: string
          - name: hasAdmin
            in: query
            description: filter on hasAdmin true or false
            schema:
              type: boolean
          - name: badge
            in: query
            description: filter by badge
            schema:
              type: string
              enum:
                - super_vasp
                - verified
                - in_network
                - claimed
          - name: jurisdictions
            in: query
            description: filter by jurisdictions
            schema:
              type: string
          - name: fields
            in: query
            description: csv of fields to return
            schema:
              type: string
          - name: page
            in: query
            description: page number
            schema:
              type: integer
          - name: per_page
            in: query
            description: records per page
            schema:
              type: integer
          - name: order
            in: query
            description: field to order by
            schema:
              type: string
              pattern: ^([ A-Za-z]+(:(ASC|DESC))?(:NULLS (FIRST|LAST))?(,?))+$
          - name: all
            in: query
            description: return all records
            schema:
              type: boolean
          - name: listingType
            in: query
            description: >-
              Choose the way gateway VASPs and non-gateway VASPs are returned. By
              default, exclude_subsidiaries.
            schema:
              type: string
              enum:
                - exclude_subsidiaries
                - exclude_gateways
                - all
          - name: includeUncheckedVASPs
            in: query
            description: include vasps that have not been internally checked
            schema:
              type: boolean
              default: false
          - name: includeActiveSendersOnly
            in: query
            description: include only those vasps that are sending transactions
            schema:
              type: boolean
              default: false
          - name: includeActiveReceiversOnly
            in: query
            description: include only those vasps that are receiving transactions
            schema:
              type: boolean
              default: false
          - name: regulatoryStatus
            in: query
            description: include only those vasps matching the specified regulatory status
            schema:
              type: string
              default: false
              enum:
                - Exempt
                - No longer exempt
                - Not Regulated
                - No longer regulated
                - Pending
                - Regulated
          - name: asset
            in: query
            description: asset symbol, provide when filtering by wallet
            schema:
              type: string
          - name: reviewedByVaspDID
            in: query
            description: include reviewed vasps for specified did
            schema:
              $ref: '#/components/schemas/common_DID'
          - name: showJurisdictionStatus
            in: query
            description: include jurisdiction status information
            schema:
              type: boolean
          - name: reviewValue
            in: query
            description: include reviewed vasps containing specified value
            schema:
              type: string
              enum:
                - TRUSTED
                - BLOCKED
                - MANUAL
                - 'NULL'
          - name: filterByJurisdictionStatus
            in: query
            description: filter by specified jurisdiction status
            schema:
              type: string
              enum:
                - inForce
                - gracePeriodOngoing
                - limitedScope
                - plansAnnounced
                - notAvailable
        responses:
          '200':
            description: List of VASP (simple)
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/tf_VASPListSimple'
    /tf/vasps/{vaspDID}/VASPTravelRuleProtocols:
      get:
        summary: Get VASP Travel Rule protocols
        description: |
          Returns the Travel Rule protocols the VASP uses.
        operationId: tfGetVASPTravelRuleProtocols
        tags:
          - TrustFramework
        parameters:
          - name: vaspDID
            in: path
            description: VASP DID
            schema:
              $ref: '#/components/schemas/common_DID'
            required: true
        responses:
          '200':
            description: VASP Info
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/tf_VASPInfo'
    /tf/vasps/update:
      post:
        security:
          - bearerAuth: []
        summary: Update VASP
        description: |
          Updates a VASP with the provided parameters.
        operationId: tfUpdateVASP
        tags:
          - TrustFramework
        requestBody:
          description: VASP update information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tf_VASPUpdate'
        responses:
          '200':
            description: User info updated.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/tf_VASPInfo'
    /tf/vasps/delete/{vaspDID}:
      get:
        security:
          - bearerAuth: []
          - {}
        summary: Delete VASP
        description: >
          Deletes a VASP that has the specified
          [DID](https://www.w3.org/TR/did-core/#identifier).
        operationId: tfDeleteVASP
        tags:
          - TrustFramework
        parameters:
          - name: vaspDID
            in: path
            description: VASP DID
            schema:
              $ref: '#/components/schemas/common_DID'
            required: true
          - name: redirectDID
            in: query
            description: VASP DID to redirect transactions to
            schema:
              $ref: '#/components/schemas/common_DID'
        responses:
          '200':
            description: Success message
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    deletedVASP:
                      description: Has the VASP been deleted?
                      type: boolean
                    message:
                      description: Success message
                      type: string
    /tf/vasps/{vaspDID}/review:
      post:
        security:
          - bearerAuth: []
        summary: Review VASP
        description: |
          Mark a VASP as TRUSTED, BLOCKED, or MANUAL
        operationId: tfReview
        tags:
          - TrustFramework
        parameters:
          - name: vaspDID
            in: path
            description: The VASP who is adding to their review list
            schema:
              $ref: '#/components/schemas/common_DID'
            required: true
        requestBody:
          content:
            application/json:
              schema:
                type: object
                required:
                  - reviewedVaspDID
                  - reviewValue
                properties:
                  reviewedVaspDID:
                    description: The VASP being reviewed
                    $ref: '#/components/schemas/common_DID'
                  reviewValue:
                    description: The review value
                    type: string
                    enum:
                      - TRUSTED
                      - BLOCKED
                      - MANUAL
                  note:
                    description: Review note
                    type: string
        responses:
          '200':
            description: VASP review
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    vaspDID:
                      $ref: '#/components/schemas/common_DID'
                    reviewedVaspDID:
                      $ref: '#/components/schemas/common_DID'
                    reviewValue:
                      type: string
                    note:
                      type: string
                    createdAt:
                      type: string
                    createdBy:
                      $ref: '#/components/schemas/common_DID'
          '401':
            description: Not authorized
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    message:
                      description: Not authorized
    /tf/vasps/userVASPList:
      get:
        security:
          - bearerAuth: []
        summary: Get VASPs associated with user
        operationId: tfUserVASPList
        tags:
          - Trust Framework
        parameters:
          - name: fields
            in: query
            description: csv of fields to return
            schema:
              type: string
        responses:
          '200':
            description: Ok
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/UserVASPList'
          '400':
            description: Invalid user
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    message:
                      description: Invalid user
          '401':
            description: Not authorized
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    message:
                      description: Not authorized
    /tf/vasps/did:
      post:
        security:
          - bearerAuth: []
        summary: Create a VASP did
        description: |
          Generate a VASP did.
        operationId: tfDID
        tags:
          - TrustFramework
        responses:
          '200':
            description: User info created.
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    did:
                      type: string
                      $ref: '#/components/schemas/common_DID'
    /tf/vasps/top-counterparties:
      get:
        security:
          - bearerAuth: []
        summary: Get top counterparty data
        description: |
          Get VASP data for top 20 counterparties
        operationId: tfTopCounterparties
        tags:
          - TrustFramework
        parameters:
          - name: vaspDID
            required: true
            in: query
            schema:
              $ref: '#/components/schemas/common_DID'
        responses:
          '200':
            description: Top 20 counterparty data
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    lastUpdated:
                      type: string
                    results:
                      type: array
                      items:
                        $ref: '#/components/schemas/VASPTopCounterParty'
    /tf/vasps/{vaspDID}/settings:
      put:
        security:
          - bearerAuth: []
        summary: Update a VASP's settings
        description: |
          Update a VASP's settings.
        operationId: updateSettings
        tags:
          - Settings
        parameters:
          - name: vaspDID
            in: path
            description: VASP DID
            schema:
              $ref: '#/components/schemas/common_DID'
            required: true
        requestBody:
          description: Settings to be updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Settings'
        responses:
          '200':
            description: Updated settings
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Settings'
    /tf/vasps/{vaspDID}/getSettings:
      get:
        security:
          - bearerAuth: []
        summary: Get a VASP's settings
        description: |
          Get a VASP's settings
        operationId: getSettings
        tags:
          - Settings
        parameters:
          - name: vaspDID
            in: path
            description: VASP DID
            schema:
              $ref: '#/components/schemas/common_DID'
            required: true
        responses:
          '200':
            description: Stored settings
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Settings'
    /tf/vasps/upload/{vaspDID}:
      get:
        security:
          - bearerAuth: []
        summary: Get upload URL
        description: >
          To upload a document you must first request a URL to upload to. Upload
          URLs are short-lived AWS S3 bucket upload URLs.
        operationId: tfUploadVASPDocument
        tags:
          - Documents
        parameters:
          - name: vaspDID
[...]
