publishJson:
  company: PacketFabric
  serviceName: false
  sdkName: packet-fabric-{language}-sdk
  clientName: PacketFabric
  metaDescription: >-
    PacketFabric is the Connectivity Cloud, designed from the ground up for
    scale, performance, programmability, elasticity, and security without
    compromise, enabling enterprises to build an agile cloud core that delivers
    optimal digital business outcomes. PacketFabric's Network-as-a-Service
    (NaaS) platform leverages a massively scalable private optical network, the
    latest in packet switching technology, and end-to-end automation.
    PacketFabric delivers on-demand, private, and secure connectivity services
    between hundreds of premier colocation facilities and cloud providers across
    the globe. IT, network, and DevOps teams can deploy cloud-scale connectivity
    in minutes via an advanced Application Program Interface (API) and web
    portal. PacketFabric was recognized as the "2020 Fierce Telecom Innovation
    Award for Cloud Services," named one of the "10 Hottest Networking Startups
    of 2020" by CRN, a Futuriom 40 Top Private Company, and a "2020 Cool Vendor
    in Enhanced Internet Services and Cloud Connectivity" by Gartner.
    PacketFabric investors include NantWorks and Digital Alpha Advisors. For
    more information, visit packetfabric.com.
  apiStatusUrls: inherit
  homepage: packetfabric.com
  developerDocumentation: docs.packetfabric.com/api/v2/
  categories:
    - network
rawSpecString: |
  openapi: 3.0.0
  info:
    title: PacketFabric API
    description: >
      Use [/v2/auth/login](https://api.packetfabric.com) endpoint to get the
      token.



      Use that token and "Authorize" button to authenticate your requests.



      You can also use that token to authorize your `curl` request:


      ```

      curl -X GET "https://api.packetfabric.com/v2/activity-logs" -H "accept: */*"
      -H "Authorization: Bearer 12a30d30-20c0-4f62-a982-eb1424631094"

      ```


      Python code to authenticate and utilize the

      [Bearer
      token](https://swagger.io/docs/specification/authentication/bearer-authentication/):


      ```

      import requests

      login_url = 'https://api.packetfabric.com/v2/auth/login'

      login_payload = {
          'login': 'admin',
          'password': 'p4ssw0rd'
      }

      r = requests.post(login_url, json=login_payload)

      auth_token = r.json()['token']

      request_header = {
          'Authorization': f'Bearer {auth_token}'
      }

      contacts_url = 'https://api.packetfabric.com/v2/contacts'

      r = requests.get(contacts_url, headers=request_header)

      ```


      *For resellers only*:


      To make the request on behalf of reseller's customer - add `On-Behalf:
      customer UUID` header to the request:


      ```

      curl -X GET "https://api.packetfabric.com/v2/activity-logs" -H "accept: */*"
      -H "Authorization: Bearer 12a30d30-20c0-4f62-a982-eb1424631094" -H
      "On-Behalf: 11111111-2222-3333-4444-eb1424631094"

      ```


      *For API Key Authentication*

      To utilize an API Key instead of login/password, you will need to generate a
      key and save the token.

      Using that token, as the Bearer token, you can then login.


      ```

      api_key = <TOKEN>

      request_header = {
          'Authorization': f'Bearer {api_key}'
      }

      contacts_url = 'https://api.packetfabric.com/v2/contacts'

      r = requests.get(contacts_url, headers=request_header)

      ```
    version: 2.0.0
  servers:
    - url: https://api.packetfabric.com
      description: Production API
  security:
    - BearerAuth: []
  tags:
    - name: Authentication
      description: Login/logout endpoints
    - name: Activity Logs
      description: Log of activities performed by the customer
    - name: Announcements
      description: Messages from PacketFabric
    - name: API keys
      description: API keys management API
    - name: Billing
      description: Billing endpoints
    - name: Cloud Provider Credentials
      description: Manage your credentials to Cloud Providers.
    - name: Cloud Services - AWS
      description: AWS specific, and compatible generic cloud routes.
    - name: Cloud Services - Azure
      description: Azure specific, and compatible generic cloud routes.
    - name: Cloud Services - Google Cloud
      description: Google Cloud specific, and compatible generic cloud routes.
    - name: Cloud Services - IBM
      description: IBM Cloud specific, and compatible generic cloud routes.
    - name: Cloud Services - Oracle
      description: Oracle Cloud specific, and compatible generic cloud routes.
    - name: Cloud Routers
      description: Base services to build Cloud-to-Cloud connections.
    - name: Cloud Router BGP Session Settings
      description: Layer 3 network functionality
    - name: Cloud Router Connections
      description: Cloud-to-Cloud connections.
    - name: Cloud Router IPsec
      description: IPsec related services.
    - name: Cloud Router Route Sets
      description: Route Sets for Cloud Router Marketplace Services.
    - name: Cloud Router Third Party
      description: Cloud Router Third Party services.
    - name: Contacts
      description: Contact persons of the current customer
    - name: Customers
      description: Details about the current customer and publicly searchable third parties
    - name: Diagnostic Reports
      description: Diagnostic reports
    - name: Documents
      description: Documents of the current customer
    - name: Flex Bandwidth
      description: Bundled capacity for virtual circuits
    - name: Groups
      description: Groups management for the current customer
    - name: High Performance Internet
      description: High Performance Internet (HPI)
    - name: IPAM
      description: IPAM (IP Address Management)
    - name: LAGs
      description: Link aggregation groups
    - name: Labels
      description: Correlation between services and custom identifiers.
    - name: Locations
      description: Details of physical locations, markets and regions
    - name: Maintenance Notifications
      description: History of scheduled maintenance operations and sent notifications
    - name: Marketplace
      description: Viewing and managing marketplace services
    - name: Metrics
      description: Getting metric data for the current customer
    - name: Multi-Factor Authentication
      description: Managing multi-factor authentication for the current user
    - name: Outbound Cross Connects
      description: Viewing and managing outbound cross connects
    - name: Objects
      description: Linking objects to their labels
    - name: Ports
      description: Ports of the current customer
    - name: Portal Quotes
      description: PacketFabric quotes created through the PacketFabric portal
    - name: PTP Services
      description: >-
        Point-to-point service is a bundled service with two ports and an EPL
        virtual-circuit connecting them
    - name: Request Aliases
      description: >-
        Request aliases are used to manage points of contact for connection
        requests.
    - name: Services
      description: Virtual Circuit based 3rd-party and backbone services
    - name: Streaming Events - Beta
      description: Stream events in real-time
    - name: SVlan Labels
      description: Associate labels with SVlans on a particular port
    - name: TeamSignup
      description: Team-based signup invitations
    - name: Users
      description: Users management for the current customer
  paths:
    /v2/activity-logs/{log_uuid}:
      get:
        operationId: Activity Logs.get_activity_log
        summary: Get activity log entry
        tags:
          - Activity Logs
        parameters:
          - required: true
            in: path
            name: log_uuid
            description: UUID of Activity Log entry
            schema:
              type: string
              format: uuid
        responses:
          '200':
            description: Activity log entry
            content:
              application/json:
                schema:
                  type: object
                  title: Activity log
                  description: Holds an information about important events
                  properties:
                    log_uuid:
                      format: uuid
                      type: string
                      description: UUID of Activity Log entry
                      example: 1337c0de-1234-b33f-4321-eb1424631094
                    user:
                      type: string
                      example: alice
                      description: The login of the user which caused the event
                    level:
                      type: integer
                      description: >
                        Level of the activity.

                        Visit https://tools.ietf.org/html/rfc5424#page-11 to find
                        the list of levels
                      minimum: 0
                      maximum: 7
                      example: 3
                    category:
                      type: string
                      description: Category of the activity
                      enum:
                        - auth
                        - billing
                        - contact
                        - customer
                        - document
                        - lag_interface
                        - physical_interface
                        - logical_interface
                        - user
                        - virtual_circuit
                        - cloud_connection
                        - point_to_point
                        - high_performance_internet
                    event:
                      type: string
                      description: Event caused logging this entry
                      example: login
                    message:
                      type: string
                      description: Details of the activity
                      example: User Alice logged in
                    time_created:
                      type: string
                      format: date-time
                      description: Time of the activity
                      example: '2020-06-11T19:08:10.150711'
    /v2/activity-logs:
      get:
        operationId: Activity Logs.get_activity_log_list
        summary: Get activity log entries
        description: >
          Use this endpoint to get paginated list of Activity Log entries.

          You can set additional filters or set sorting order using query
          parameters.
        tags:
          - Activity Logs
        parameters:
          - name: level
            required: false
            description: Filter by [the level](https://tools.ietf.org/html/rfc5424#page-11)
            in: query
            schema:
              type: integer
              minimum: 0
              example: 3
              maximum: 7
          - name: category
            required: false
            description: Filter by category
            in: query
            schema:
              type: string
              description: Category of the activity
              enum:
                - auth
                - billing
                - contact
                - customer
                - document
                - lag_interface
                - physical_interface
                - logical_interface
                - user
                - virtual_circuit
                - cloud_connection
                - point_to_point
                - high_performance_internet
          - name: circuit_id
            required: false
            description: >
              Unified circuit_id filter, supports filtering by:

              - Port - port_circuit_id (eg. PF-AP-SFO1-58)

              - VirtualCircuit - vc_circuit_id (eg. PF-BC-NYC-NYC-12345)

              - Cloud - cloud_circuit_id (eg. PF-CC-GOG-GOG-12345)

              - Point to Point - ptp_circuit_id (eg. PF-PD-LAX-NYC-12345)

              - Cloud Router - cloud_router_circuit_id (eg. PF-L3-CUST-12345)

              - Cloud Router Connection - connection_circuit_id (eg.
              PF-L3-CON-12345)

              - High Performance Internet - hpi_circuit_id (eg. PF-L3-TRAN-12345)
            in: query
            schema:
              type: string
              example: PF-BC-NYC-NYC-12345
          - name: description
            required: false
            description: The description of the port to be queried
            in: query
            schema:
              type: string
              example: The user description
          - name: event
            required: false
            description: Filter by event
            in: query
            schema:
              type: string
              example: login
          - name: offset
            required: false
            description: Number of records to skip
            in: query
            schema:
              type: integer
              example: 20
          - name: page_size
            required: false
            description: Number of records to show
            in: query
            schema:
              type: integer
              example: 10
          - name: sort_column
            required: false
            description: Column to sort results on
            in: query
            schema:
              type: string
              example: time_created
          - name: sort_order
            required: false
            description: Sort order
            in: query
            schema:
              type: string
              enum:
                - asc
                - desc
          - name: time_from
            required: false
            description: Filter by time_created greater than (after) or equal to this time.
            in: query
            schema:
              type: string
              format: date-time
              example: '2020-04-01T19:14:42.642Z'
          - name: time_to
            required: false
            description: Filter by time_created less than (before) or equal to this time.
            in: query
            schema:
              type: string
              format: date-time
              example: '2020-04-30T19:14:42.642Z'
        responses:
          '200':
            description: List of activity log entries
            content:
              application/json:
                schema:
                  type: array
                  items:
                    type: object
                    title: Activity log
                    description: Holds an information about important events
                    properties:
                      log_uuid:
                        format: uuid
                        type: string
                        description: UUID of Activity Log entry
                        example: 1337c0de-1234-b33f-4321-eb1424631094
                      user:
                        type: string
                        example: alice
                        description: The login of the user which caused the event
                      level:
                        type: integer
                        description: >
                          Level of the activity.

                          Visit https://tools.ietf.org/html/rfc5424#page-11 to
                          find the list of levels
                        minimum: 0
                        maximum: 7
                        example: 3
                      category:
                        type: string
                        description: Category of the activity
                        enum:
                          - auth
                          - billing
                          - contact
                          - customer
                          - document
                          - lag_interface
                          - physical_interface
                          - logical_interface
                          - user
                          - virtual_circuit
                          - cloud_connection
                          - point_to_point
                          - high_performance_internet
                      event:
                        type: string
                        description: Event caused logging this entry
                        example: login
                      message:
                        type: string
                        description: Details of the activity
                        example: User Alice logged in
                      time_created:
                        type: string
                        format: date-time
                        description: Time of the activity
                        example: '2020-06-11T19:08:10.150711'
    /v2/api-keys:
      post:
        operationId: post_api_key
        summary: Add the new API key
        description: >
          This endpoint adds the new API key. The API keys can be used by
          automated solutions instead of the user session tokens. Use the response
          of this endpoint wisely, it is the only time you can see the `token`.
        tags:
          - API keys
        requestBody:
          content:
            application/json:
              schema:
                type: object
                title: API key parameters
                required:
                  - name
                properties:
                  name:
                    type: string
                    description: API key name
                    example: Silver key
                  expiration:
                    type: integer
                    description: Key expiration in seconds
                    example: 100500
        responses:
          '201':
            description: Created API key
            content:
              application/json:
                schema:
                  type: object
                  title: API key details when it is just created
                  description: Information about API key
                  properties:
                    token:
                      type: string
                      description: >-
                        Use this token for authorization. It is only returned once
                        when you create the key
                      example: >-
                        api-aaaa0000-a0a0-a0a0-a0a0-aaaa0000aaaa-aaaa0000-a0a0-a0a0-a0a0-aaaa0000aaaa
                    uuid:
                      type: string
                      format: uuid
                      description: API token UUID. It can be used to delete the key
                      example: aaaa0000-a0a0-a0a0-a0a0-aaaa0000aaaa
                    name:
                      type: string
                      description: API token title
                      example: API token 1
                    expiration:
                      type: string
                      format: date-time
                      description: Time when the token expires
                      example: '2020-04-01T19:14:42.642Z'
      get:
        operationId: get_api_keys
        summary: Get the list of user's API keys
        description: Get the list of user's API keys
        tags:
          - API keys
        responses:
          '200':
            description: Created API key
            content:
              application/json:
                schema:
                  type: array
                  items:
                    type: object
                    title: API key details
                    description: Information about API key
                    properties:
                      uuid:
                        type: string
                        format: uuid
                        description: API token UUID. It can be used to delete the key
                        example: aaaa0000-a0a0-a0a0-a0a0-aaaa0000aaaa
                      name:
                        type: string
                        description: API token title
                        example: API token 1
                      expiration:
                        type: string
                        format: date-time
                        description: Time when the token expires
                        example: '2020-04-01T19:14:42.642Z'
    /v2/api-keys/{uuid}:
      delete:
        operationId: delete_api_key
        summary: Deletes API key by UUID
        description: Deletes API key by UUID
        tags:
          - API keys
        parameters:
          - required: true
            in: path
            name: uuid
            schema:
              type: string
              format: uuid
            description: Target API key UUID
        responses:
          '200':
            description: Deletion message
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    message:
                      type: string
                      description: Deletion message
                      example: API key deleted
    /v2/auth/login:
      post:
        operationId: login
        security: []
        summary: Login
        description: Start user session. Get the token to authenticate requests
        tags:
          - Authentication
        requestBody:
          content:
            application/json:
              schema:
                type: object
                title: User credentials
                required:
                  - login
                  - password
                properties:
                  login:
                    type: string
                    description: User login
                  password:
                    type: string
                    description: User password
              example:
                login: admin
                password: p4ssw0rd
          description: User credentials
        responses:
          '200':
            description: User session information and token
            content:
              application/json:
                schema:
                  type: object
                  title: Opened session details
                  description: User session information
                  properties:
                    token:
                      type: string
                      description: Use this token for authorization
                    mfa_enabled:
                      type: boolean
                      description: >-
                        Flag to indicate whether the user has multi-factor
                        authentication enabled or not
                    mfa_required:
                      type: boolean
                      description: >-
                        Flag to indicate whether the user needs to complete a
                        multi-factor authentication login
                    should_sign_eula:
                      type: boolean
                      description: >-
                        Flag to indicate whether the user needs to log in to the
                        portal to review and accept an end-user license agreement
                    time_expires:
                      type: string
                      format: date-time
                      description: Time when the token expires
                example:
                  token: 12a30d30-20c0-4f62-a982-eb1424631094
                  time_expires: '2020-06-11T19:08:10.150711'
      get:
        operationId: get_login
        security: []
        summary: Login
        description: >
          Authenticates the user with an existing session token. Creates a new
          session token for the user and redirects to the PacketFabric Portal
          dashboard.
        tags:
          - Authentication
        parameters:
          - name: session_token
            required: true
            description: A valid session_token for the user
            in: query
            schema:
              type: string
          - name: timeout
            required: false
            description: Timeout in minutes to set the session expiration
            in: query
            schema:
              type: integer
        responses:
          '302':
            description: Redirect to the PacketFabric Portal dashboard
    /v2/auth/login/mfa:
      post:
        operationId: login_mfa
        security: []
        summary: Login into the application using a multi-factor authentication code
        description: >
          This endpoint needs to be used only if the user has multi-factor
          authentication enabled for their account. After the normal login process
          this endpoint must be accessed to send the code used as a second factor
          of authentication.<br><br> **Note:** Apart from the authentication code,
          this endpoint requires the session_token cookie to be properly set.
          That's how the application can validate the first factor of
          authentication (user/password combination) was completed successfully.
        tags:
          - Multi-Factor Authentication
        requestBody:
          content:
            application/json:
              schema:
                type: object
                title: Authentication code
                required:
                  - authentication_code
                properties:
                  authentication_code:
                    type: string
                    description: Authentication code
              example:
                authentication_code: 123456
        responses:
          '200':
            description: Success message
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    message:
                      type: string
                example:
                  message: success
    /v2/auth/logout:
      get:
        operationId: logout
        security: []
        summary: Logout
        description: Invalidate current user session. Makes the token invalid
        tags:
          - Authentication
        responses:
          '200':
            description: Farewell message
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    message:
                      type: string
                      description: Goodbye message
                example:
                  message: logged out
    /v2/auth/sessions:
      get:
        operationId: get_user_sessions
        summary: Get all active user sessions
        description: Get the list of all active user sessions
        tags:
          - Authentication
        parameters:
          - name: user_uuid
            description: User UUID to get sessions for (for Admin only)
            in: query
            schema:
              type: string
              format: uuid
        responses:
          '200':
            description: User sessions
            content:
              application/json:
                schema:
                  type: array
                  items:
                    type: object
                    title: Opened session details
                    description: User session information
                    properties:
                      token:
                        type: string
                        description: Use this token for authorization
                      mfa_enabled:
                        type: boolean
                        description: >-
                          Flag to indicate whether the user has multi-factor
                          authentication enabled or not
                      mfa_required:
                        type: boolean
                        description: >-
                          Flag to indicate whether the user needs to complete a
                          multi-factor authentication login
                      should_sign_eula:
                        type: boolean
                        description: >-
                          Flag to indicate whether the user needs to log in to the
                          portal to review and accept an end-user license
                          agreement
                      time_expires:
                        type: string
                        format: date-time
                        description: Time when the token expires
                example:
                  - token: 12a30d30-20c0-4f62-a982-eb1424631094
                    time_expires: '2020-06-11T19:08:10.150711'
      delete:
        operationId: delete_user_sessions
        summary: Deletes all user sessions
        description: Delete all user sessions
        tags:
          - Authentication
        parameters:
          - name: user_uuid
            description: User UUID to delete sessions for (for Admin only)
            in: query
            schema:
              type: string
              format: uuid
        responses:
          '200':
            description: Farewell message
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    message:
                      type: string
                      description: Goodbye message
                example:
                  message: logged out
    /v2/bgp-settings:
      get:
        operationId: bgp_session_settings_list
        summary: >-
          Returns a list of BGP settings instances associated with the current
          account.
        tags:
          - Cloud Router BGP Session Settings
        responses:
          '200':
            description: A list of BGP session settings instances.
            content:
              application/json:
                schema:
                  type: array
                  items:
                    type: object
                    properties:
                      bgp_settings_uuid:
                        type: string
                        format: uuid
                        description: The UUID of the instance.
                        example: 3d78949f-1396-4163-b0ca-3eba3592efef
                      address_family:
                        type: string
                        example: v4
                        description: Whether this instance is IPv4 or IPv6.
                        enum:
                          - v4
                          - v6
                      remote_address:
                        type: string
                        example: 10.0.0.1
                        description: The cloud-side address of the instance.
                      remote_asn:
                        type: integer
                        example: 4556
                        description: The cloud-side ASN of the instance.
                      multihop_ttl:
                        type: integer
                        example: 1
                        description: The TTL of this session. Defaults to 1.
                      local_preference:
                        type: integer
                        example: 1
                        description: The preference for this instance.
                      community:
                        type: integer
                        example: 1
                        description: The BGP community for this instance.
                      as_prepend:
                        type: integer
                        example: 1
                        description: The BGP prepend value for this instance..
                      med:
                        type: integer
                        example: 1
                        description: The Multi-Exit Discriminator of this instance.
                      orlonger:
                        type: boolean
                        description: Whether to use exact match or longer for all prefixes.
                      bfd_interval:
                        type: integer
                        description: >-
                          Minimum interval, in microseconds, for transmitting BFD
                          Control packets. Available range is 3 through 30000.
                        example: 300
                      bfd_multiplier:
                        type: integer
                        description: >-
                          The number of BFD Control packets not received by a
                          neighbor that causes the session to be declared down.
                          Available range is 2 through 16.
                        example: 3
                      disabled:
                        type: boolean
                        description: Whether this BGP session is disabled.
                        default: false
                      time_created:
                        type: string
                        format: date-time
                        description: Time the instance was created.
                      time_updated:
                        type: string
                        format: date-time
                        description: Time the instance was last updated.
    /v2/bgp-settings/{bgp_settings_uuid}/prefixes:
      get:
        operationId: bgp_prefixes_list
        summary: Returns a list of prefixes associated with a BGP settings instance.
        parameters:
          - required: true
            in: path
            name: bgp_settings_uuid
            description: UUID of BGP settings to fetch prefixes for.
            schema:
              type: string
              format: uuid
        tags:
          - Cloud Router BGP Session Settings
        responses:
          '200':
            description: A list of BGP prefixes.
            content:
              application/json:
                schema:
                  type: array
                  items:
                    type: object
                    properties:
                      bgp_prefix_uuid:
                        type: string
                        format: uuid
                        description: The UUID of the instance.
                        example: 3d78949f-1396-4163-b0ca-3eba3592efef
                      prefix:
                        type: string
                        description: The actual IP Prefix of this instance.
                        example: 10.0.0.1/32
                      match_type:
                        type: string
                        description: The match type of this prefix.
                        enum:
                          - exact
                          - orlonger
                        default: exact
                      as_prepend:
                        type: integer
                        example: 1
                        description: The BGP prepend value of this prefix.
                      med:
                        type: integer
                        description: The MED of this prefix.
                        example: 10
                      local_preference:
                        type: integer
                        description: The local_preference of this prefix.
                        example: 120
                      type:
                        type: string
                        description: Whether this prefix is in or out.
                        enum:
                          - in
                          - out
                        example: in
    /v2/bgp-settings/{bgp_settings_uuid}/l3:
      get:
        operationId: bgp_l3_get
        summary: Returns the L3 IFL data associated with a BGP Session.
        parameters:
          - required: true
            in: path
            name: bgp_settings_uuid
            description: UUID of BGP settings to fetch prefixes for.
            schema:
              type: string
              format: uuid
        tags:
          - Cloud Router BGP Session Settings
        responses:
          '200':
            description: The L3 data associated with a BGP session.
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    local_address:
                      type: string
                      example: 10.0.0.1/20
    /v2/billing/services/{circuit_id}:
      get:
        operationId: get_order
        summary: >-
          Returns billing details for the given circuit (Port, Cloud, or Virtual
          Circuit)
        tags:
          - Billing
        parameters:
          - required: true
            in: path
            name: circuit_id
            description: ID of Port, Cloud, or Virtual Circuit to fetch billing data for
            schema:
              type: string
          - required: false
            in: query
            name: service_type
            description: >-
              (Optional) You can specify the type of the product to fetch the
              order for
            schema:
              type: string
              enum:
                - cross-connect
            example: cross-connect
        responses:
          '200':
            description: Order details
            content:
              application/json:
                schema:
                  type: array
                  items:
                    type: object
                    properties:
                      order_id:
                        type: integer
    /v2/billing/services/{circuit_id}/modify:
      post:
        operationId: modify_order
        summary: Modify an existing order
        tags:
          - Billing
        parameters:
          - required: true
            in: path
            name: circuit_id
            description: Circuit ID of the order to modify
            schema:
              type: string
        requestBody:
          content:
            application/json:
              schema:
                type: object
                description: Details of the circuit modification
                properties:
                  subscription_term:
                    type: integer
                    format: int64
                    enum:
                      - 1
                      - 12
                      - 24
                      - 36
                  speed:
                    type: string
                    description: New speed of the circuit (for VC upgrades)
                    example: 100Gbps
                  billing_product_type:
                    type: string
                    enum:
                      - longhaul_dedicated
                    description: Billing type for VCs
                  service_class:
                    type: string
                    description: >-
                      The service class dedicated cloud connections, either
                      longhaul or metro.
                    example: longhaul
                    enum:
                      - longhaul
                      - metro
                  capacity:
                    type: string
                    example: 100Gbps
                    description: >-
                      New capacity if modifying an aggregate capacity container or
                      Cloud Router.
                  regions:
                    type: array
                    items:
                      type: string
                      description: New regions to be used when modifying a Cloud Router.
                      example: US
                      enum:
                        - US
                        - UK
        responses:
          '200':
            description: Order modification details
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    message:
                      type: string
                      example: Successfully modified order
          '202':
            description: Order modification details
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    message:
                      type: string
                      example: Order modification started
    /v2/billing/services/{circuit_id}/modify/preview:
      post:
        operationId: modify_order_preview
        summary: >-
          Preview the price of modifying an existing order. Currently only
          supports renewals without speed upgrades.
        tags:
          - Billing
        parameters:
          - required: true
            in: path
            name: circuit_id
            description: Circuit ID of the order to modify
            schema:
              type: string
        requestBody:
          content:
            application/json:
              schema:
                type: object
                description: Details of the circuit modification
                properties:
                  subscription_term:
                    type: integer
                    format: int64
                    enum:
                      - 1
                      - 12
                      - 24
                      - 36
                  speed:
                    type: string
                    description: New speed of the circuit (for VC upgrades)
                    example: 100Gbps
                  billing_product_type:
                    type: string
                    enum:
                      - longhaul_dedicated
                    description: Billing type for VCs
                  service_class:
                    type: string
                    description: >-
                      The service class dedicated cloud connections, either
                      longhaul or metro.
                    example: longhaul
                    enum:
                      - longhaul
                      - metro
                  capacity:
                    type: string
                    example: 100Gbps
                    description: >-
                      New capacity if modifying an aggregate capacity container or
                      Cloud Router.
                  regions:
                    type: array
                    items:
                      type: string
                      description: New regions to be used when modifying a Cloud Router.
                      example: US
                      enum:
                        - US
                        - UK
        responses:
          '200':
            description: >-
              List of orders that would be created if this modification was
              applied
            content:
              application/json:
                schema:
                  type: array
                  items:
                    type: object
                    properties:
                      circuit_id:
                        type: string
                        description: The circuit id of the associated product
                        example: PF-AP-LAX1-1002
                      description:
                        type: string
                        description: The description of the associated product
                        example: Port
                      order_type:
                        type: string
                        description: Thy type of the order
                        example: pointtopoint
                      speed:
                        type: integer
                        description: The speed of the associated product
                        example: 1000
                      start_date:
                        type: string
                        format: date-time
                        description: The start date of the order
                        example: '2020-01-01T00:00:00+00:00'
                      end_date:
                        type: string
                        format: date-time
                        description: The end date of the order
                        example: '2020-01-01T00:00:00+00:00'
                      term:
                        type: integer
                        description: The number of months of this order's term
                        example: 24
                      rate:
                        type: number
                        description: The rate of the order
                        example: 500
    /v2/billing/services/{account_uuid}:
      get:
        operationId: get_all_account_orders
        summary: Returns all orders for the given billing account
        tags:
          - Billing
        parameters:
          - required: true
            in: path
            name: account_uuid
            description: UUID of the billing account
            schema:
              type: string
              format: uuid
        responses:
          '200':
            description: List of orders
            content:
              application/json:
                schema:
                  type: array
                  items:
                    type: object
                    properties:
                      circuit_id:
                        type: string
                        description: The circuit id of the associated product
                        example: PF-AP-LAX1-1002
                      description:
                        type: string
                        description: The description of the associated product
                        example: Port
                      order_type:
                        type: string
                        description: Thy type of the order
                        example: pointtopoint
                      speed:
                        type: integer
                        description: The speed of the associated product
                        example: 1000
                      start_date:
                        type: string
                        format: date-time
                        description: The start date of the order
                        example: '2020-01-01T00:00:00+00:00'
                      end_date:
                        type: string
                        format: date-time
                        description: The end date of the order
                        example: '2020-01-01T00:00:00+00:00'
                      term:
                        type: integer
                        description: The number of months of this order's term
                        example: 24
                      rate:
                        type: number
                        description: The rate of the order
                        example: 500
    /v2/billing/pricing:
      get:
        operationId: get_pricing
        summary: Get pricing for specific services
        tags:
          - Billing
        security: []
        parameters:
          - required: true
            in: query
            name: product_type
            schema:
              type: string
              description: Type of product to retrieve pricing for
              enum:
                - aggregate_capacity
                - cloud_dedicated
                - cloud_dedicated_vc
                - cloud_hosted
                - crossconnect
                - pointtopoint
                - port
                - port_enni
                - vcbwc
                - cloud_router
                - cr_connection
                - vc_ix
                - vc_marketplace
                - add_on_fee
                - high_performance_internet
          - required: false
            in: query
            name: subscription_term
            description: The subscription term, in months, to retrieve pricing for
            schema:
              type: integer
              enum:
                - 1
                - 12
                - 24
                - 36
          - required: true
            in: query
            name: location_type
            description: >-
              Filter pricing info by location type. If no pricing is found, the
              service will attempt to search by a broader location type. eg. site
              -> pop
            schema:
              type: string
              example: pop
              enum:
                - site
                - pop
                - market
                - country
                - region
          - required: false
            in: query
            name: side_a
            description: >-
              Code for the a-side location eg. SFO1.  When using this paramater to
              filter results, ensure location_type is also set.
            example: SFO1
            schema:
              type: string
          - required: false
            in: query
            name: side_z
            description: >-
              Code for the z-side location eg. NYC1.  When using this paramater to
              filter results, ensure location_type is also set.
            example: NYC1
            schema:
              type: string
          - required: false
            in: query
            name: network_provider_a
            description: >-
              Limit results to pricing for a specific network provider on the a
              side. Valid for location_type of market or region.
            schema:
              type: string
              enum:
                - PacketFabric
                - Colt
          - required: false
            in: query
            name: network_provider_z
            description: >-
              Limit results to pricing for a specific network provider on the z
              side. Valid for location_type of market or region.
            schema:
              type: string
              enum:
                - PacketFabric
                - Colt
          - required: false
            in: query
            name: media
            description: Optic media type
            example: LX
            schema:
              type: string
          - required: false
            in: query
            name: provider
            description: Filter pricing by provider type
            example: aws
            schema:
              type: string
          - required: false
            in: query
            name: bandwidth_type
            description: Filter by dedicated or usage-base pricing
            example: usage
            schema:
              type: string
          - required: false
            in: query
            name: service_class
            description: Filter by metro or longhaul connections
            example: metro
            schema:
              type: string
          - required: false
            in: query
            name: speed
            description: Filter by connection speed
            schema:
              type: string
              enum:
                - 50Mbps
                - 100Mbps
                - 200Mbps
                - 300Mbps
                - 400Mbps
                - 500Mbps
                - 1Gbps
                - 2Gbps
                - 5Gbps
                - 10Gbps
                - 20Gbps
                - 30Gbps
                - 40Gbps
                - 50Gbps
                - 60Gbps
                - 80Gbps
                - 100Gbps
          - required: false
            in: query
            name: account_uuid
            description: Filter for account specific pricing
            schema:
              type: string
              format: uuid
            example: c25e0c64-6da7-487e-8f47-f5e744813976
          - required: false
            in: query
            name: add_on_fee_key
            description: >-
              Filter by the add-on fee key - this is only used for add_on_fee
              product types
            schema:
              type: string
              enum:
                - route_set
        responses:
          '200':
            description: Pricing details
            content:
              application/json:
                schema:
                  type: array
                  items:
                    type: object
                    properties:
                      location_type:
                        type: string
                        description: location type of the pricing option
                      side_a:
                        type: string
                        description: side_a provided in the query
                      side_z:
                        type: string
                        description: side_z provided in the query
                      product_key:
                        type: string
                        description: product_key of the pricing option
                      product_type:
                        type: string
                        description: product type for this pricing option
                      term:
                        type: string
                        description: subscription term for this pricing option
                      speed:
                        type: string
                        description: speed in Mbps for this pricing option
                      media_type:
                        type: string
                        description: media type for this pricing option
                      mrc:
                        type: string
                        description: MRC for this pricing option
                      nrc:
                        type: string
                        description: NRC for this pricing option
                      media_price:
                        type: string
                        description: media type specific cost for this pricing option
                      usage:
                        type: string
                        description: usage for this pricing option
    /v2/billing/services/early-termination-liability/{circuit_id}:
      get:
        operationId: get_early_termination_liability
        summary: >-
          Returns cost for stopping service on a circuit with a subscription term
          early
        tags:
          - Billing
        parameters:
          - required: true
            in: path
            name: circuit_id
            description: ID of circuit to get early termination liability for
            schema:
              type: string
          - required: false
            in: query
            name: termination_date
            description: >-
              Datetime (ISO-8601 format) for which to fetch the early termination
              liability. Defaults to right now. User's timezone will be used if
              timestamp is not timezone aware. Examples:
              `2020-04-01T19:14:42.642+00:00`, `2020-04-01T19:14:42.642`
            schema:
              type: string
              format: date-time
              example: '2020-04-01T19:14:42'
        responses:
          '200':
            description: Early termination liability
            content:
              text/plain:
                schema:
                  type: number
                  example: 15.26
    /v2/billing/accounts/{account_uuid}/invoices:
      get:
        operationId: get_invoices
        summary: Returns list of invoices
        tags:
          - Billing
        parameters:
          - required: true
            in: path
            name: account_uuid
            description: uuid of the billing account to get the list of invoices for
            schema:
              type: string
          - required: false
            in: query
            name: start_date
            description: Filter invoices which created after the start_date (UTC)
            schema:
              type: string
              format: date
              example: '2020-04-01'
          - required: false
            in: query
            name: end_date
            description: Filter invoices which created before the end_date (UTC)
            schema:
              type: string
              format: date
              example: '2020-04-01'
        responses:
          '200':
            description: List of invoices
            content:
              application/json:
                schema:
                  type: array
                  items:
                    type: object
                    properties:
                      invoice_id:
                        type: integer
                        example: 1
                        description: Invoice id
                      invoice_name:
                        type: string
                        example: invoice 1
                        description: Invoice name
                      status:
                        type: string
                        example: open
                        description: Status of the invoice
                      invoice_date:
                        type: string
                        format: date-time
                        description: date of the invoice creation
                        example: '2020-01-01T00:00:00+00:00'
                      is_overdue:
                        type: boolean
                        description: Shows if invoice is overdue
                        example: false
                      billing_cycle_start_date:
                        type: string
                        format: date-time
                        description: Billing cycle start date
                        example: '2020-01-01T00:00:00+00:00'
                      billing_cycle_end_date:
                        type: string
                        format: date-time
                        description: Billing cycle end date
                        example: '2020-01-31T00:00:00+00:00'
                      stripe_url:
                        type: string
                        description: Shows Stripe-related url for the invoice
                        example: https://example.org/some/url
    /v2/billing/accounts/{account_uuid}/invoices/{invoice_id}.pdf:
      get:
        operationId: get_pdf
        summary: Returns invoice as PDF
        tags:
          - Billing
        parameters:
          - required: true
            in: path
            name: account_uuid
            description: uuid of the billing account to get the list of invoices for
            schema:
              type: string
          - required: true
            in: path
            name: invoice_id
            description: Filter invoices which created after the start_date
            schema:
              type: integer
              example: 1
        responses:
          '200':
            description: Invoice as PDF file
            content:
              application/pdf:
                schema:
                  type: string
                  format: binary
                  example: '[binary data]'
    /v2/billing/accounts/{account_uuid}/invoices/{invoice_id}.csv:
      get:
        operationId: get_csv
        summary: Returns invoice as CSV
        tags:
          - Billing
        parameters:
          - required: true
            in: path
            name: account_uuid
            description: uuid of the billing account to get the list of invoices for
            schema:
              type: string
          - required: true
            in: path
            name: invoice_id
            description: Filter invoices which created after the start_date
            schema:
              type: integer
              example: 1
          - required: false
            in: query
            name: condensed
            description: Get condensed CSV output
            schema:
              type: boolean
              example: true
        responses:
          '200':
            description: Invoice as CSV file (base64)
            content:
              text/csv:
                schema:
                  type: string
                  format: byte
                  example: '[data]'
    /v2/billing/stripe/{account_uuid}/stripe_customer_session:
      get:
        operationId: get_stripe_customer_portal_session
        summary: Returns stripe customer portal session url
        tags:
          - Billing
        parameters:
          - required: true
            in: path
            name: account_uuid
            description: >-
              uuid of the billing account to get the stripe customer portal
              session for
            schema:
              type: string
        responses:
          '200':
            description: Stripe customer portal session url as json
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    session_url:
                      type: string
                      example: http://customer/session
    /v2/contacts:
      get:
        operationId: contact_get_list
        summary: Get the contacts associated with the current customer
        tags:
          - Contacts
        parameters:
          - name: billing
            required: false
            description: >-
              Filter for billing contacts (`true`) or non-billing contacts
              (`false`)
            in: query
            schema:
              type: boolean
          - name: contact_uuid
            required: false
            description: Filter contact by UUID
            in: query
            schema:
              type: string
        responses:
          '200':
            description: List of contacts
            content:
              application/json:
                schema:
                  type: array
                  items:
                    type: object
                    properties:
                      contact_uuid:
                        type: string
                        format: uuid
                        description: >-
                          Contact UUID. You can reference the contact using this
                          uuid.
                        example: 12a30d30-20c0-4f62-a982-eb1424631094
                      account_uuid:
                        type: string
                        format: uuid
                        description: >-
                          Billing Account UUID. You can reference the billing
                          account using this uuid.
                        example: 9d2f0e2e-2be7-447d-86d8-d7307b45a12f
                      first_name:
                        type: string
                        description: First name of the contact
                        example: James
                      last_name:
                        type: string
                        description: Last name of the contact
                        example: Bond
                      email:
                        description: E-mail of the contact
                        format: email
                        type: string
                        example: user@example.com
                      phone:
                        description: Phone of the contact
                        type: string
                        example: 111-111-1111
                      address_1:
                        description: Address of the contact
                        type: string
                        example: Some street
                      address_2:
                        description: Address (line 2) of the contact
                        type: string
                        example: Address line 2
                      city:
                        description: City of the contact
                        type: string
                        example: City
                      state:
                        description: State of the contact
                        type: string
                        example: CA
                      postal:
                        description: Postal code of the contact
                        type: string
                        example: 12345
                      country:
                        description: Country of the contact
                        type: string
                        example: US
                      po_number:
                        type: string
                        example: PO-1234
                        description: Purchase order number or identifier of a service
                        maxLength: 32
                        nullable: true
                      admin:
                        description: This contact is an administrator
                        type: boolean
                      billing:
                        description: This contact is associated with billing
                        type: boolean
                      tech:
                        description: >-
                          This contact needs to receive technical notices about
                          the service
                        type: boolean
                      default_billing:
                        description: This contact is the customer's default billing contact
                        type: boolean
                      billing_account_id:
                        description: >-
                          Id of this contact in the billing system. This field is
                          deprecated
                        type: integer
                        example: 0
                      automatic_payments_enabled:
                        description: >-
                          Wether this contact should enable automatic payment of
                          invoices
                        type: boolean
      post:
        operationId: contact_post
        summary: Add the contact for the current customer
        tags:
          - Contacts
        requestBody:
          description: |
            Details to create the Contact. The following validation rules apply:
             * Technical contacts require only `first_name`, `last_name`, `phone` and `email` fields;
             * `po_number` can only be used for `billing` contacts;
             * If `po_number` is used, `first_name` and `last_name` fields are not required
          content:
            application/json:
              schema:
                type: object
                required:
                  - email
                  - phone
                  - admin
                  - billing
                  - tech
                properties:
                  first_name:
                    description: >
                      First name of the contact person. Required for admin and
                      tech contacts. Not required for the contacts with
                      `po_number`
                    type: string
                    maxLength: 255
                    example: James
                  last_name:
                    description: >
                      Last name of the contact person. Required for admin and tech
                      contacts. Not required for the contacts with `po_number`
                    type: string
                    maxLength: 255
                    example: Bond
                  email:
                    description: Contact e-mail
                    type: string
                    format: email
                    maxLength: 255
                    example: email@example.com
                  phone:
                    description: Contact phone
                    type: string
                    maxLength: 64
                    pattern: >-
                      ^[0-9
                      ()+.-]+(\s?(x|ex|ext|ete|extn)?(\.|\.\s|\s)?[\d]{1,9})?$
                    example: 111-111-1111
                  address_1:
                    description: >
                      Address of the contact person. Required for admin and
                      billing contacts
                    type: string
                    maxLength: 64
                    example: 1 Fake Road
                  address_2:
                    description: Use it if `address_1` is not enough
                    type: string
                    maxLength: 64
                    example: Suite 112
                  city:
                    description: >-
                      City of the contact person. Required for admin and billing
                      contacts
                    type: string
                    maxLength: 64
                    example: Chicago
                  state:
                    description: >
                      State of the contact person. Required if the country of
                      contact is "US", "USA", "CA", "CAN"
                    type: string
                    maxLength: 32
                    example: IL
                  postal:
                    description: >-
                      Postal code of the contact. Required for some of the
                      countries
                    type: string
                    maxLength: 16
                    example: '12345'
                  country:
                    description: ISO-3166 2 or 3-character country code of the contact
                    type: string
                    maxLength: 3
                    example: US
                  po_number:
                    type: string
                    example: PO-1234
                    description: Purchase order number or identifier of a service
                    maxLength: 32
                    nullable: true
                  admin:
                    description: Set `true` if it is an admin contact
                    type: boolean
                  billing:
                    description: Set `true` if it is a billing contact
                    type: boolean
                  tech:
                    description: Set `true` if it is a technical contact
                    type: boolean
                  default_billing:
                    description: >-
                      Set `true` to designate this contact as the default billing
                      contact
                    type: boolean
                  automatic_payments_enabled:
                    description: >-
                      Wether this contact should enable automatic payment of
                      invoices, defaults to True and only effective if it is a
                      billing contact i.e. billing=true
                    type: boolean
        responses:
          '201':
            description: Created contact details
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    contact_uuid:
                      type: string
                      format: uuid
                      description: >-
                        Contact UUID. You can reference the contact using this
                        uuid.
                      example: 12a30d30-20c0-4f62-a982-eb1424631094
                    account_uuid:
                      type: string
                      format: uuid
                      description: >-
                        Billing Account UUID. You can reference the billing
                        account using this uuid.
                      example: 9d2f0e2e-2be7-447d-86d8-d7307b45a12f
                    first_name:
                      type: string
                      description: First name of the contact
                      example: James
                    last_name:
                      type: string
                      description: Last name of the contact
                      example: Bond
                    email:
                      description: E-mail of the contact
                      format: email
                      type: string
                      example: user@example.com
                    phone:
                      description: Phone of the contact
                      type: string
                      example: 111-111-1111
                    address_1:
                      description: Address of the contact
                      type: string
                      example: Some street
                    address_2:
                      description: Address (line 2) of the contact
                      type: string
                      example: Address line 2
                    city:
                      description: City of the contact
                      type: string
                      example: City
                    state:
                      description: State of the contact
                      type: string
                      example: CA
                    postal:
                      description: Postal code of the contact
                      type: string
                      example: 12345
                    country:
                      description: Country of the contact
                      type: string
                      example: US
                    po_number:
                      type: string
                      example: PO-1234
                      description: Purchase order number or identifier of a service
                      maxLength: 32
                      nullable: true
                    admin:
                      description: This contact is an administrator
                      type: boolean
                    billing:
                      description: This contact is associated with billing
                      type: boolean
                    tech:
                      description: >-
                        This contact needs to receive technical notices about the
                        service
                      type: boolean
                    default_billing:
                      description: This contact is the customer's default billing contact
                      type: boolean
                    billing_account_id:
                      description: >-
                        Id of this contact in the billing system. This field is
                        deprecated
                      type: integer
                      example: 0
                    automatic_payments_enabled:
                      description: >-
                        Wether this contact should enable automatic payment of
                        invoices
                      type: boolean
    /v2/contacts/{contact_uuid}:
      get:
        operationId: contact_get
        summary: Get a single contact
        tags:
          - Contacts
        parameters:
          - required: true
            in: path
            name: contact_uuid
            description: UUID of the contact to fetch
            schema:
              type: string
              format: uuid
        responses:
          '200':
            description: Contact object
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    contact_uuid:
                      type: string
                      format: uuid
                      description: >-
                        Contact UUID. You can reference the contact using this
                        uuid.
                      example: 12a30d30-20c0-4f62-a982-eb1424631094
                    account_uuid:
                      type: string
                      format: uuid
                      description: >-
                        Billing Account UUID. You can reference the billing
                        account using this uuid.
                      example: 9d2f0e2e-2be7-447d-86d8-d7307b45a12f
                    first_name:
                      type: string
                      description: First name of the contact
                      example: James
                    last_name:
                      type: string
                      description: Last name of the contact
                      example: Bond
                    email:
                      description: E-mail of the contact
                      format: email
                      type: string
                      example: user@example.com
                    phone:
                      description: Phone of the contact
                      type: string
                      example: 111-111-1111
                    address_1:
                      description: Address of the contact
                      type: string
                      example: Some street
                    address_2:
                      description: Address (line 2) of the contact
                      type: string
                      example: Address line 2
                    city:
                      description: City of the contact
                      type: string
                      example: City
                    state:
                      description: State of the contact
                      type: string
                      example: CA
                    postal:
                      description: Postal code of the contact
                      type: string
                      example: 12345
                    country:
                      description: Country of the contact
                      type: string
                      example: US
                    po_number:
                      type: string
                      example: PO-1234
                      description: Purchase order number or identifier of a service
                      maxLength: 32
                      nullable: true
                    admin:
                      description: This contact is an administrator
                      type: boolean
                    billing:
                      description: This contact is associated with billing
                      type: boolean
                    tech:
                      description: >-
                        This contact needs to receive technical notices about the
                        service
                      type: boolean
                    default_billing:
                      description: This contact is the customer's default billing contact
                      type: boolean
                    billing_account_id:
                      description: >-
                        Id of this contact in the billing system. This field is
                        deprecated
                      type: integer
                      example: 0
                    automatic_payments_enabled:
                      description: >-
                        Wether this contact should enable automatic payment of
                        invoices
                      type: boolean
      delete:
        operationId: contact_delete
        summary: Delete a single contact
        tags:
          - Contacts
        parameters:
          - required: true
            in: path
            name: contact_uuid
            description: UUID of the contact to delete
            schema:
              type: string
              format: uuid
        responses:
          '200':
            description: Delete confirmation message
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    message:
                      type: string
      patch:
        operationId: contact_update
        summary: Update contact
        tags:
          - Contacts
        parameters:
          - required: true
            description: UUID of the contact to update
            in: path
            name: contact_uuid
            schema:
              type: string
              format: uuid
        requestBody:
          description: |
            Details to update the Contact
          content:
            application/json:
              schema:
                type: object
                properties:
                  first_name:
                    description: First name of the contact person
                    type: string
                    maxLength: 255
                    example: James
                  last_name:
                    description: Last name of the contact person
                    type: string
                    maxLength: 255
                    example: Bond
                  email:
                    description: Contact e-mail
                    type: string
                    maxLength: 255
                    example: user@example.com
                  phone:
                    description: Contact phone
                    type: string
                    maxLength: 64
                    pattern: >-
                      ^[0-9
                      ()+.-]+(\s?(x|ex|ext|ete|extn)?(\.|\.\s|\s)?[\d]{1,9})?$
                    example: 111-111-1111
                  address_1:
                    description: Address of the contact person
                    type: string
                    maxLength: 64
                    example: 1 Fake Road
                  address_2:
                    description: Use it if `address_1` is not enough
                    type: string
                    maxLength: 64
                    example: Suite 112
                  city:
                    description: City of the contact person
                    type: string
                    maxLength: 64
                    example: Chicago
                  state:
                    description: State of the contact person.
                    type: string
                    maxLength: 32
                    example: IL
                  postal:
                    description: Postal code of the contact
                    type: string
                    maxLength: 16
                    example: '12345'
                  country:
                    description: ISO-3166 2 or 3-character country code of the contact
                    type: string
                    maxLength: 3
                    example: US
                  po_number:
                    type: string
                    example: PO-1234
                    description: Purchase order number or identifier of a service
                    maxLength: 32
                    nullable: true
                  admin:
                    description: Set `true` if it is an admin contact
                    type: boolean
                  billing:
                    description: Set `true` if it is a billing contact
                    type: boolean
                  tech:
                    description: Set `true` if it is a technical contact
                    type: boolean
                  default_billing:
                    description: >-
                      Set `true` to designate this contact as the default billing
                      contact
                    type: boolean
                  automatic_payments_enabled:
                    description: >-
                      Wether this contact should enable automatic payment of
                      invoices, only effective if it is a billing contact i.e.
                      billing=true
                    type: boolean
        responses:
          '200':
            description: Updated contact information
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    contact_uuid:
                      type: string
                      format: uuid
                      description: >-
                        Contact UUID. You can reference the contact using this
                        uuid.
                      example: 12a30d30-20c0-4f62-a982-eb1424631094
                    account_uuid:
                      type: string
                      format: uuid
                      description: >-
                        Billing Account UUID. You can reference the billing
                        account using this uuid.
                      example: 9d2f0e2e-2be7-447d-86d8-d7307b45a12f
                    first_name:
                      type: string
                      description: First name of the contact
                      example: James
                    last_name:
                      type: string
                      description: Last name of the contact
                      example: Bond
                    email:
                      description: E-mail of the contact
                      format: email
                      type: string
                      example: user@example.com
                    phone:
                      description: Phone of the contact
                      type: string
                      example: 111-111-1111
                    address_1:
                      description: Address of the contact
                      type: string
                      example: Some street
                    address_2:
                      description: Address (line 2) of the contact
                      type: string
                      example: Address line 2
                    city:
                      description: City of the contact
                      type: string
                      example: City
                    state:
                      description: State of the contact
                      type: string
                      example: CA
                    postal:
                      description: Postal code of the contact
                      type: string
                      example: 12345
                    country:
                      description: Country of the contact
                      type: string
                      example: US
                    po_number:
                      type: string
                      example: PO-1234
                      description: Purchase order number or identifier of a service
                      maxLength: 32
                      nullable: true
                    admin:
                      description: This contact is an administrator
                      type: boolean
                    billing:
                      description: This contact is associated with billing
                      type: boolean
                    tech:
                      description: >-
                        This contact needs to receive technical notices about the
                        service
                      type: boolean
                    default_billing:
                      description: This contact is the customer's default billing contact
                      type: boolean
                    billing_account_id:
                      description: >-
                        Id of this contact in the billing system. This field is
                        deprecated
                      type: integer
                      example: 0
                    automatic_payments_enabled:
                      description: >-
                        Wether this contact should enable automatic payment of
                        invoices
                      type: boolean
    /v2/contacts/{contact_uuid}/links/{circuit_id}:
      post:
        operationId: link_contact_to_object
        summary: Link a technical contact to a circuit
        description: >-
          Circuit-specific contacts are not enabled by default. Please contact
          your PacketFabric Sales Engineer or Customer Success Manager if you are
          interested in this feature.
        tags:
          - Contacts
        parameters:
          - name: contact_uuid
            required: true
            in: path
            description: UUID of the contact to link. Must be a technical contact.
            schema:
              type: string
              format: uuid
          - name: circuit_id
            required: true
            in: path
            description: Circuit to link.
            schema:
              type: string
              example: PF-AP-WDC1-1234
        responses:
          '200':
            description: Success message
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    message:
                      type: string
                      example: Contact linked successfully
      delete:
        operationId: unlink_contact_from_object
        summary: Delete a link between a technical contact and a circuit
        description: >-
          Circuit-specific contacts are not enabled by default. Please contact
          your PacketFabric Sales Engineer or Customer Success Manager if you are
          interested in this feature.
        tags:
          - Contacts
        parameters:
          - name: contact_uuid
            required: true
            in: path
            description: UUID of the contact to unlink.
            schema:
              type: string
              format: uuid
          - name: circuit_id
            required: true
            in: path
            description: Circuit to unlink.
            schema:
              type: string
              example: PF-AP-WDC1-1234
        responses:
          '200':
            description: Success message
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    message:
                      type: string
                      example: Link successfully deleted
    /v2/contacts/links:
      get:
        operationId: get_contact_object_links
        summary: Retrieve list of contact-circuit links
        description: >-
          Circuit-specific contacts are not enabled by default. Please contact
          your PacketFabric Sales Engineer or Customer Success Manager if you are
          interested in this feature.
        tags:
          - Contacts
        parameters:
          - name: contact_uuid
            required: false
            in: query
            description: Only retrieve links associated with this contact
            schema:
              type: string
              format: uuid
          - name: circuit_id
            required: false
            in: query
            description: Only retrieve links associated with this circuit
            schema:
              type: string
              example: PF-AP-WDC1-1234
        responses:
          '200':
            description: Contact-circuit links
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    circuit_links:
                      type: array
                      items:
                        type: object
                        properties:
                          contact_uuid:
                            type: string
                            format: uuid
                          circuit_id:
                            type: string
                            example: PF-AP-WDC1-1234
    /v2/customers/company-types:
      get:
        operationId: get_company_types
        security: []
        summary: Get list of company types
        description: Company types are used during the signup process
        tags:
          - Customers
        responses:
          '200':
            description: List of company types
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    company_type_code:
                      type: string
                      description: abbreviated company type
                      example: LLC
                    description:
                      type: string
                      description: description of company type
                      example: Limited Liability Corporation
    /v2/customers/current:
      get:
        operationId: customer_get
        summary: Get current customer data
        tags:
          - Customers
        responses:
          '200':
            description: Current customer details
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    customer_uuid:
                      type: string
                      format: uuid
                      description: The UUID of the customer object
                    name:
                      type: string
                      description: Customer name
                      example: Vandelay Industries
                    website:
                      type: string
                      description: Website address
                      example: vandelayindustries.com
                    acctnum:
                      type: string
                      description: Account number
                      example: PF-123456
                    aliases:
                      type: string
                      description: Customer aliases
                      example: DM Scranton
                    description:
                      type: string
                      description: Customer description
                      example: Importer/exporter
                    routing_id:
                      type: string
                      description: Customer routing ID
                      example: PF-1RI-OQ85
                    searchable:
                      type: boolean
                      description: Customer visiblity in search results
                    customer_wide_mfa:
                      type: boolean
                    time_created:
                      type: string
                      format: date-time
                      description: Date and time of customer object creation
                    time_updated:
                      type: string
                      format: date-time
                      description: Date and time customer object was last updated
                    company_type_code:
                      type: string
                      enum:
                        - Ltd.
                        - Corp, Inc.
                        - SP
                        - GP
                        - LP
                        - LLC
                        - LLP
                        - LLLP
                        - PLLC
                      description: Short code of the company's business structure
                    type:
                      type: string
                      description: Customer type
                      example: customer
                    reg_state:
                      type: string
                      description: State of registration
                      example: CA
                    reg_country:
                      type: string
                      description: Country of registration
                      example: USA
                    service_provider:
                      type: boolean
                    customer_of_reseller:
                      type: boolean
                      description: True if customer is linked to the reseller
                    _links:
                      type: object
                      description: Links to other information about the customer
                      properties:
                        locations:
                          description: A link to the locations this customer is located in
                          type: string
                          format: uri
                        industries:
                          description: >-
                            A link to the industries of which this customer is a
                            part
                          type: string
                          format: uri
                        service_provider_types:
                          description: A link to the types of services this customer provides
                          type: string
                          format: uri
      patch:
        operationId: customer_update
        summary: Update current customer data
        tags:
          - Customers
        requestBody:
          description: Modified fields for the current customer
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                    description: Customer name
                    example: Vandelay Industries
                  website:
                    type: string
                    description: Website address
                    example: vandelayindustries.com
                  aliases:
                    type: string
                    description: Customer aliases
                    example: DM Scranton
                  notes:
                    type: string
                    description: Private customer notes
                    example: Cloud services via Amazon Direct Connect
                  description:
                    type: string
                    description: Customer description
                    example: Importer/exporter
                  searchable:
                    type: boolean
                    description: Customer visiblity in search results
                  customer_wide_mfa:
                    type: boolean
                    description: Changes the customer-wide MFA setting
                  password:
                    type: string
                    description: >-
                      Current user password. Only required if customer_wide_mfa
                      changed
                    example: password111
                  company_type_code:
                    type: string
                    description: Type of customer company
                    example: LLC
                  service_provider_types:
                    type: array
                    description: List of marketplace service provider types
                    items:
                      type: string
                      description: Slug of the service provider type
                      example: cloud-service-providers
                  industries:
                    type: array
                    description: Industries to which the customer belongs
                    items:
                      type: string
                      description: Slug of the industry
                      example: telecommunications
        responses:
          '200':
            description: Current customer details updated with provided fields
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    customer_uuid:
                      type: string
                      format: uuid
                      description: The UUID of the customer object
                    name:
                      type: string
                      description: Customer name
                      example: Vandelay Industries
                    website:
                      type: string
                      description: Website address
                      example: vandelayindustries.com
                    acctnum:
                      type: string
                      description: Account number
                      example: PF-123456
                    aliases:
                      type: string
                      description: Customer aliases
                      example: DM Scranton
                    description:
                      type: string
                      description: Customer description
                      example: Importer/exporter
                    routing_id:
                      type: string
                      description: Customer routing ID
                      example: PF-1RI-OQ85
                    searchable:
                      type: boolean
                      description: Customer visiblity in search results
                    customer_wide_mfa:
                      type: boolean
                    time_created:
[...]
