publishJson:
  company: Pappers
  serviceName: false
  sdkName: pappers-{language}-sdk
  clientName: Pappers
  metaDescription: >-
    Avec Pappers, accédez à toute toute l'information légale, juridique
    financière des sociétés françaises !

    Découvrez nos offres : https://www.pappers.fr/api et
    https://www.pappers.fr/exports
  apiStatusUrls: inherit
  homepage: www.pappers.fr/
  developerDocumentation: www.pappers.fr/api/documentation
  categories:
    - finance
    - legal
    - legaltech
    - data
rawSpecString: |
  openapi: 3.0.0
  info:
    description: >
      L'API de Pappers vous permet de récupérer des informations et documents sur
      les entreprises françaises à partir de leur numéro SIREN ou SIRET.


      Vous devez indiquer votre clé d'API dans les requêtes, en utilisant le
      paramètre `api_token`.


      L'URL d'accès à l'API est https://api.pappers.fr/v2/


      Lien vers la documentation de la V1 :
      https://www.pappers.fr/api/documentation/v1


      Lien vers la documentation de la V3 :
      https://www.pappers.fr/api/documentation/v3


      Lien vers la documentation de l'API internationale :
      https://www.pappers.in/api/documentation


      L'historique des modifications (changelog) est accessible à l'url suivante :
      https://www.pappers.fr/api/changelog
    version: 2.13.0
    title: Pappers API
    contact:
      name: Support technique Pappers
      email: support@pappers.fr
  servers:
    - url: https://api.pappers.fr/v2
  paths:
    /entreprise:
      get:
        tags:
          - Fiche entreprise
        summary: Récupère l'ensemble des informations disponibles sur une entreprise.
        description: >-
          Vous devez fournir soit le SIREN, soit le SIRET. Si vous indiquez le
          SIREN, tous les établissements associés à ce SIREN seront renvoyés dans
          la clé `etablissements`. Si vous indiquez le SIRET, seul l'établissement
          associé sera renvoyé dans la clé `etablissement`.
        operationId: entreprise
        parameters:
          - name: api_token
            in: query
            description: Clé d'utilisation de l'API
            required: true
            schema:
              type: string
              example: votre_clé_ici
          - name: siren
            in: query
            description: SIREN de l'entreprise
            required: false
            schema:
              type: string
              example: 443061841
          - name: siret
            in: query
            description: SIRET de l'entreprise
            required: false
            schema:
              type: string
              example: 44306184100047
          - name: integrer_diffusions_partielles
            in: query
            description: >-
              Si vrai et si l'entreprise est en diffusion partielle, le retour
              renverra les informations partielles disponibles. Valeur par défaut
              : `false`.
            required: false
            schema:
              type: boolean
          - name: format_publications_bodacc
            in: query
            description: >-
              Format attendu pour les publications BODACC. Valeur par défaut :
              `"objet"`.
            required: false
            schema:
              type: string
              enum:
                - objet
                - texte
              example: objet
          - name: marques
            in: query
            description: >-
              Si vrai, le retour inclura les marques éventuelles de l'entreprise.
              Valeur par défaut : `false`.
            required: false
            schema:
              type: boolean
          - name: validite_tva_intracommunautaire
            in: query
            description: >-
              Si vrai, le champ validite_tva_intracommunautaire du retour
              indiquera si le numéro de tva est valide auprès de la Commission
              européenne. Valeur par défaut : `false`.
            required: false
            schema:
              type: boolean
          - name: publications_bodacc_brutes
            in: query
            description: >-
              Pappers traite les publications BODACC afin de supprimer les
              publications périmée. Si vrai, le retour inclura les publications
              bodacc sans traitement. Valeur par défaut : `false`.
            required: false
            schema:
              type: boolean
          - name: champs_supplementaires
            in: query
            description: >
              Liste des champs supplémentaires à inclure dans le retour. Certains
              champs peuvent entraîner une consommation de jetons supplémentaires.


              Champs supplémentaires disponibles :

              - `sites_internet` : 1 jeton supplémentaire

              - `telephone` : 1 jeton supplémentaire *

              - `email` : 1 jeton supplémentaire *

              - `enseigne_1` : gratuit

              - `enseigne_2` : gratuit

              - `enseigne_3` : gratuit

              - `distribution_speciale` : gratuit

              - `code_cedex` : gratuit

              - `libelle_cedex` : gratuit

              - `code_commune` : gratuit

              - `code_region` : gratuit

              - `region` : gratuit

              - `code_departement` : gratuit

              - `departement` : gratuit

              - `nomenclature_code_naf` : gratuit

              - `labels` : gratuit

              - `labels:orias` : 0.5 jeton supplémentaire

              - `micro_entreprise` : gratuit

              - `sanctions` : 1 jeton supplémentaire

              - `personne_politiquement_exposee` : 1 jeton supplémentaire

              - `scoring_financier` : 10 jetons supplémentaires

              - `scoring_non_financier` : 10 jetons supplémentaires


              \* : le coût des champs `telephone` et `email` est de 1 jeton
              supplémentaire au total, même si les deux sont demandés.
            required: false
            schema:
              type: string
              example: site_internet,telephone
        responses:
          '200':
            description: >-
              Entreprise trouvée. Le retour contient un objet décrivant
              l'entreprise.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/EntrepriseFiche'
          '206':
            description: >-
              Entreprise trouvée. Le retour est cependant partiel : au moins une
              source de données n'a pas répondu dans le temps imparti.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/EntrepriseFiche'
          '400':
            description: Paramètres de la requête incorrects.
          '401':
            description: Clé API incorrecte.
          '404':
            description: Entreprise inexistante.
    /association:
      get:
        tags:
          - Fiche association
        summary: Récupère l'ensemble des informations disponibles sur une association.
        description: >-
          Vous devez fournir soit l'identifiant de l'association, soit le SIREN,
          soit le SIRET.
        operationId: association
        parameters:
          - name: api_token
            in: query
            description: Clé d'utilisation de l'API
            required: true
            schema:
              type: string
              example: votre_clé_ici
          - name: id_association
            in: query
            description: Identifiant de l'association
            required: false
            schema:
              type: string
              example: W142005389
          - name: siret
            in: query
            description: SIRET de l'association
            required: false
            schema:
              type: string
              example: 95037097300014
          - name: siren
            in: query
            description: SIREN de l'association
            required: false
            schema:
              type: string
              example: 950370973
        responses:
          '200':
            description: >-
              Association trouvée. Le retour contient un objet décrivant
              l'association.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Association'
          '400':
            description: Paramètres de la requête incorrects.
          '401':
            description: Clé API incorrecte.
          '404':
            description: Association inexistante.
          '503':
            description: Service momentanément indisponible.
    /recherche:
      get:
        tags:
          - Recherche
        summary: Recherche les entreprises qui correspondent à des critères.
        description: >
          Tous les paramètres sont optionnels et servent à filtrer la recherche.
          Les différentes entreprises seront renvoyées dans un tableau
          `resultats`, et le nombre total de résultats sera renvoyé dans le champ
          `total`.


          Pour parcourir l'ensemble des résultats, deux solutions sont possibles :


          - La pagination (paramètres `page` et `par_page`), limitée aux 400
          premiers résultats ;

          - Les curseurs (paramètres `curseur` et `par_curseur`).
        operationId: recherche
        parameters:
          - $ref: '#/components/parameters/api_token'
          - $ref: '#/components/parameters/page'
          - $ref: '#/components/parameters/par_page'
          - $ref: '#/components/parameters/curseur'
          - $ref: '#/components/parameters/par_curseur'
          - $ref: '#/components/parameters/bases'
          - $ref: '#/components/parameters/precision'
          - name: q
            in: query
            description: >-
              Texte à rechercher. Dénomination pour une personne morale, nom et
              prénom pour une personne physique.

              Si vous recherchez dans plusieurs bases, ce paramètre sera utilisé
              pour rechercher dans toutes les bases.
            required: false
            schema:
              type: string
              example: Google France
          - name: siege
            in: query
            description: Défini si la requête se base sur le siège
            required: false
            schema:
              type: string
              example: 'true'
          - $ref: '#/components/parameters/code_naf'
          - $ref: '#/components/parameters/departement'
          - $ref: '#/components/parameters/region'
          - $ref: '#/components/parameters/code_postal'
          - $ref: '#/components/parameters/convention_collective'
          - $ref: '#/components/parameters/categorie_juridique'
          - $ref: '#/components/parameters/entreprise_cessee'
          - $ref: '#/components/parameters/statut_rcs'
          - $ref: '#/components/parameters/objet_social'
          - $ref: '#/components/parameters/date_immatriculation_rcs_min'
          - $ref: '#/components/parameters/date_immatriculation_rcs_max'
          - $ref: '#/components/parameters/date_radiation_rcs_min'
          - $ref: '#/components/parameters/date_radiation_rcs_max'
          - $ref: '#/components/parameters/capital_min'
          - $ref: '#/components/parameters/capital_max'
          - $ref: '#/components/parameters/chiffre_affaires_min'
          - $ref: '#/components/parameters/chiffre_affaires_max'
          - $ref: '#/components/parameters/resultat_min'
          - $ref: '#/components/parameters/resultat_max'
          - $ref: '#/components/parameters/date_creation_min'
          - $ref: '#/components/parameters/date_creation_max'
          - $ref: '#/components/parameters/tranche_effectif_min'
          - $ref: '#/components/parameters/tranche_effectif_max'
          - $ref: '#/components/parameters/type_dirigeant'
          - $ref: '#/components/parameters/qualite_dirigeant'
          - $ref: '#/components/parameters/nationalite_dirigeant'
          - $ref: '#/components/parameters/nom_dirigeant'
          - $ref: '#/components/parameters/prenom_dirigeant'
          - $ref: '#/components/parameters/age_dirigeant_min'
          - $ref: '#/components/parameters/age_dirigeant_max'
          - $ref: '#/components/parameters/date_de_naissance_dirigeant_min'
          - $ref: '#/components/parameters/date_de_naissance_dirigeant_max'
          - $ref: '#/components/parameters/age_beneficiaire_min'
          - $ref: '#/components/parameters/age_beneficiaire_max'
          - $ref: '#/components/parameters/date_de_naissance_beneficiaire_min'
          - $ref: '#/components/parameters/date_de_naissance_beneficiaire_max'
          - $ref: '#/components/parameters/nationalite_beneficiaire'
          - $ref: '#/components/parameters/date_depot_document_min'
          - $ref: '#/components/parameters/date_depot_document_max'
          - $ref: '#/components/parameters/type_publication'
          - $ref: '#/components/parameters/date_publication_min'
          - $ref: '#/components/parameters/date_publication_max'
        responses:
          '200':
            description: >-
              Recherche réussie. Le retour contient la liste des entreprises qui
              répondent aux critères indiqués.
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    resultats:
                      type: array
                      description: Liste des entreprises qui correspondent à la recherche.
                      items:
                        allOf:
                          - $ref: '#/components/schemas/EntrepriseRecherche'
                          - type: object
                            properties:
                              dirigeants:
                                type: array
                                description: >-
                                  Dirigeants de l'entreprise qui correspondent à
                                  la recherche (si vous recherchez dans la base
                                  dirigeants).
                                items:
                                  $ref: '#/components/schemas/RepresentantRecherche'
                              beneficiaires:
                                type: array
                                description: >-
                                  Bénéficiaires effectifs de l'entreprise qui
                                  correspondent à la recherche (si vous recherchez
                                  dans la base bénéficiaires effectifs).
                                items:
                                  $ref: '#/components/schemas/Beneficiaire'
                              documents:
                                type: array
                                description: >-
                                  Documents de l'entreprise qui correspondent à la
                                  recherche (si vous recherchez dans la base
                                  documents).
                                items:
                                  $ref: '#/components/schemas/Document'
                              publications:
                                type: array
                                description: >-
                                  Publications de l'entreprise qui correspondent à
                                  la recherche (si vous recherchez dans la base
                                  publications).
                                items:
                                  allOf:
                                    - $ref: '#/components/schemas/Publication'
                                    - type: object
                                      properties:
                                        mentions:
                                          type: array
                                          description: >-
                                            Mentions de la recherche dans la
                                            publication.
                                          items:
                                            type: string
                              nb_dirigeants_total:
                                type: integer
                                description: Nombre de dirigeants total de l'entreprise.
                              nb_beneficiaires_total:
                                type: integer
                                description: >-
                                  Nombre de bénéficiaires effectifs total de
                                  l'entreprise.
                              nb_documents_avec_mentions:
                                type: integer
                                description: >-
                                  Nombre de documents de l'entreprise qui
                                  correspondent à la recherche.
                              nb_documents_total:
                                type: integer
                                description: Nombre de documents total de l'entreprise.
                              nb_publications_avec_mentions:
                                type: integer
                                description: >-
                                  Nombre de publications de l'entreprise qui
                                  correspondent à la recherche.
                              nb_publications_total:
                                type: integer
                                description: Nombre de publications total de l'entreprise.
                    total:
                      type: integer
                      description: Nombre d'entreprises qui correspondent à la recherche.
                      example: 100
                    page:
                      type: integer
                      description: Page actuelle.
                      example: 1
                    curseurSuivant:
                      type: string
                      description: >-
                        Présent uniquement en cas d'utilisation du paramètre
                        `curseur`. Contient le curseur courant à envoyer en
                        paramètre `curseur` de la requête suivantes.
                      example: QxNRrqKiBFDQq54SpHsrw8r5Z3yWZMDAAzcvwywX
          '401':
            description: Clé API incorrecte.
          '404':
            description: Aucune entreprise ne correspond aux critères indiqués.
          '503':
            description: Service momentanément indisponible.
    /recherche-dirigeants:
      get:
        tags:
          - Recherche
        summary: Recherche les dirigeants qui correspondent à des critères.
        description: >-
          Tous les paramètres sont optionnels et servent à filtrer la recherche.
          Les différents dirigeants seront renvoyées dans un tableau `resultats`.
        operationId: recherche-dirigeants
        parameters:
          - $ref: '#/components/parameters/api_token'
          - $ref: '#/components/parameters/par_page'
          - $ref: '#/components/parameters/page'
          - $ref: '#/components/parameters/precision'
          - name: q
            in: query
            description: >-
              Texte à rechercher. Nom et prénom du dirigeant pour une personne
              physique, dénomination pour une personne morale.
            required: false
            schema:
              type: string
              example: Google France
          - $ref: '#/components/parameters/type_dirigeant'
          - $ref: '#/components/parameters/qualite_dirigeant'
          - $ref: '#/components/parameters/nationalite_dirigeant'
          - $ref: '#/components/parameters/nom_dirigeant'
          - $ref: '#/components/parameters/prenom_dirigeant'
          - $ref: '#/components/parameters/age_dirigeant_min'
          - $ref: '#/components/parameters/age_dirigeant_max'
          - $ref: '#/components/parameters/date_de_naissance_dirigeant_min'
          - $ref: '#/components/parameters/date_de_naissance_dirigeant_max'
          - $ref: '#/components/parameters/code_naf'
          - $ref: '#/components/parameters/departement'
          - $ref: '#/components/parameters/region'
          - $ref: '#/components/parameters/code_postal'
          - $ref: '#/components/parameters/convention_collective'
          - $ref: '#/components/parameters/categorie_juridique'
          - $ref: '#/components/parameters/entreprise_cessee'
          - $ref: '#/components/parameters/statut_rcs'
          - $ref: '#/components/parameters/objet_social'
          - $ref: '#/components/parameters/date_immatriculation_rcs_min'
          - $ref: '#/components/parameters/date_immatriculation_rcs_max'
          - $ref: '#/components/parameters/date_radiation_rcs_min'
          - $ref: '#/components/parameters/date_radiation_rcs_max'
          - $ref: '#/components/parameters/capital_min'
          - $ref: '#/components/parameters/capital_max'
          - $ref: '#/components/parameters/chiffre_affaires_min'
          - $ref: '#/components/parameters/chiffre_affaires_max'
          - $ref: '#/components/parameters/resultat_min'
          - $ref: '#/components/parameters/resultat_max'
          - $ref: '#/components/parameters/date_creation_min'
          - $ref: '#/components/parameters/date_creation_max'
          - $ref: '#/components/parameters/tranche_effectif_min'
          - $ref: '#/components/parameters/tranche_effectif_max'
          - $ref: '#/components/parameters/age_beneficiaire_min'
          - $ref: '#/components/parameters/age_beneficiaire_max'
          - $ref: '#/components/parameters/date_de_naissance_beneficiaire_min'
          - $ref: '#/components/parameters/date_de_naissance_beneficiaire_max'
          - $ref: '#/components/parameters/nationalite_beneficiaire'
          - $ref: '#/components/parameters/date_depot_document_min'
          - $ref: '#/components/parameters/date_depot_document_max'
          - $ref: '#/components/parameters/type_publication'
          - $ref: '#/components/parameters/date_publication_min'
          - $ref: '#/components/parameters/date_publication_max'
          - $ref: '#/components/parameters/siren'
        responses:
          '200':
            description: >-
              Recherche réussie. Le retour contient la liste des dirigeants qui
              répondent aux critères indiqués.
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    resultats:
                      type: array
                      description: Liste des dirigeants qui correspondent à la recherche.
                      items:
                        allOf:
                          - $ref: '#/components/schemas/RepresentantRecherche'
                          - type: object
                            properties:
                              entreprises:
                                type: array
                                description: >-
                                  Liste des entreprises du dirigeant, dans la
                                  limite de 100 entreprises.
                                items:
                                  $ref: '#/components/schemas/EntrepriseRecherche'
                              nb_entreprises_total:
                                type: integer
                                description: Nombre d'entreprises du dirigeant au total
                    total:
                      type: integer
                      description: Nombre de dirigeants qui correspondent à la recherche.
                      example: 100
                    page:
                      type: integer
                      description: Page actuelle.
                      example: 1
          '401':
            description: Clé API incorrecte.
          '404':
            description: Aucun dirigeant ne correspond aux critères indiqués.
          '503':
            description: Service momentanément indisponible.
    /recherche-beneficiaires:
      get:
        tags:
          - Recherche
        summary: Recherche les bénéficiaires effectifs qui correspondent à des critères.
        description: >-
          Tous les paramètres sont optionnels et servent à filtrer la recherche.
          Les différents bénéficiaires effectifs seront renvoyées dans un tableau
          `resultats`.
        operationId: recherche-beneficiaires
        parameters:
          - $ref: '#/components/parameters/api_token'
          - $ref: '#/components/parameters/par_page'
          - $ref: '#/components/parameters/page'
          - $ref: '#/components/parameters/precision'
          - name: q
            in: query
            description: Nom et/ou prénom du bénéficiaire effectif.
            required: false
            schema:
              type: string
              example: Xavier Niel
          - $ref: '#/components/parameters/age_beneficiaire_min'
          - $ref: '#/components/parameters/age_beneficiaire_max'
          - $ref: '#/components/parameters/date_de_naissance_beneficiaire_min'
          - $ref: '#/components/parameters/date_de_naissance_beneficiaire_max'
          - $ref: '#/components/parameters/nationalite_beneficiaire'
          - $ref: '#/components/parameters/code_naf'
          - $ref: '#/components/parameters/departement'
          - $ref: '#/components/parameters/region'
          - $ref: '#/components/parameters/code_postal'
          - $ref: '#/components/parameters/convention_collective'
          - $ref: '#/components/parameters/categorie_juridique'
          - $ref: '#/components/parameters/entreprise_cessee'
          - $ref: '#/components/parameters/statut_rcs'
          - $ref: '#/components/parameters/objet_social'
          - $ref: '#/components/parameters/date_immatriculation_rcs_min'
          - $ref: '#/components/parameters/date_immatriculation_rcs_max'
          - $ref: '#/components/parameters/date_radiation_rcs_min'
          - $ref: '#/components/parameters/date_radiation_rcs_max'
          - $ref: '#/components/parameters/capital_min'
          - $ref: '#/components/parameters/capital_max'
          - $ref: '#/components/parameters/chiffre_affaires_min'
          - $ref: '#/components/parameters/chiffre_affaires_max'
          - $ref: '#/components/parameters/resultat_min'
          - $ref: '#/components/parameters/resultat_max'
          - $ref: '#/components/parameters/date_creation_min'
          - $ref: '#/components/parameters/date_creation_max'
          - $ref: '#/components/parameters/tranche_effectif_min'
          - $ref: '#/components/parameters/tranche_effectif_max'
          - $ref: '#/components/parameters/type_dirigeant'
          - $ref: '#/components/parameters/qualite_dirigeant'
          - $ref: '#/components/parameters/nationalite_dirigeant'
          - $ref: '#/components/parameters/nom_dirigeant'
          - $ref: '#/components/parameters/prenom_dirigeant'
          - $ref: '#/components/parameters/age_dirigeant_min'
          - $ref: '#/components/parameters/age_dirigeant_max'
          - $ref: '#/components/parameters/date_de_naissance_dirigeant_min'
          - $ref: '#/components/parameters/date_de_naissance_dirigeant_max'
          - $ref: '#/components/parameters/date_depot_document_min'
          - $ref: '#/components/parameters/date_depot_document_max'
          - $ref: '#/components/parameters/type_publication'
          - $ref: '#/components/parameters/date_publication_min'
          - $ref: '#/components/parameters/date_publication_max'
          - $ref: '#/components/parameters/siren'
        responses:
          '200':
            description: >-
              Recherche réussie. Le retour contient la liste des bénéficiaires
              effectifs qui répondent aux critères indiqués.
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    resultats:
                      type: array
                      description: >-
                        Liste des bénéficiaires effectifs qui correspondent à la
                        recherche.
                      items:
                        allOf:
                          - $ref: '#/components/schemas/Beneficiaire'
                          - type: object
                            properties:
                              entreprises:
                                type: array
                                description: >-
                                  Liste des entreprises dont le bénéficiaire
                                  effectif est bénéficiaire effectif, dans la
                                  limite de 100 entreprises.
                                items:
                                  $ref: '#/components/schemas/EntrepriseRecherche'
                              nb_entreprises_total:
                                type: integer
                                description: >-
                                  Nombre d'entreprises du bénéficiaire effectif au
                                  total.
                              entreprises_dirigeant:
                                type: array
                                description: >-
                                  Liste des entreprises dont le bénéficiaire
                                  effectif est dirigeant (sans forcément en être
                                  bénéficiaire effectif), dans la limite de 100
                                  entreprises.
                                items:
                                  $ref: '#/components/schemas/EntrepriseRecherche'
                              nb_entreprises_dirigeant_total:
                                type: integer
                                description: >-
                                  Nombre d'entreprises dont le bénéficiaire
                                  effectif est dirigeant au total.
                    total:
                      type: integer
                      description: >-
                        Nombre de bénéficiaires effectifs qui correspondent à la
                        recherche.
                      example: 100
                    page:
                      type: integer
                      description: Page actuelle.
                      example: 1
          '401':
            description: Clé API incorrecte.
          '404':
            description: Aucun bénéficiaire effectif ne correspond aux critères indiqués.
          '503':
            description: Service momentanément indisponible.
    /recherche-documents:
      get:
        tags:
          - Recherche
        summary: Recherche les documents qui correspondent à des critères.
        description: >-
          Tous les paramètres sont optionnels et servent à filtrer la recherche.
          Les différents documents seront renvoyées dans un tableau `resultats`.
        operationId: recherche-documents
        parameters:
          - $ref: '#/components/parameters/api_token'
          - $ref: '#/components/parameters/par_page'
          - $ref: '#/components/parameters/page'
          - $ref: '#/components/parameters/precision'
          - name: q
            in: query
            description: Mot-clé à rechercher dans le contenu du document.
            required: false
            schema:
              type: string
              example: Rémunération
          - $ref: '#/components/parameters/date_depot_document_min'
          - $ref: '#/components/parameters/date_depot_document_max'
          - $ref: '#/components/parameters/code_naf'
          - $ref: '#/components/parameters/departement'
          - $ref: '#/components/parameters/region'
          - $ref: '#/components/parameters/code_postal'
          - $ref: '#/components/parameters/convention_collective'
          - $ref: '#/components/parameters/categorie_juridique'
          - $ref: '#/components/parameters/entreprise_cessee'
          - $ref: '#/components/parameters/statut_rcs'
          - $ref: '#/components/parameters/objet_social'
          - $ref: '#/components/parameters/date_immatriculation_rcs_min'
          - $ref: '#/components/parameters/date_immatriculation_rcs_max'
          - $ref: '#/components/parameters/date_radiation_rcs_min'
          - $ref: '#/components/parameters/date_radiation_rcs_max'
          - $ref: '#/components/parameters/capital_min'
          - $ref: '#/components/parameters/capital_max'
          - $ref: '#/components/parameters/chiffre_affaires_min'
          - $ref: '#/components/parameters/chiffre_affaires_max'
          - $ref: '#/components/parameters/resultat_min'
          - $ref: '#/components/parameters/resultat_max'
          - $ref: '#/components/parameters/date_creation_min'
          - $ref: '#/components/parameters/date_creation_max'
          - $ref: '#/components/parameters/tranche_effectif_min'
          - $ref: '#/components/parameters/tranche_effectif_max'
          - $ref: '#/components/parameters/type_dirigeant'
          - $ref: '#/components/parameters/qualite_dirigeant'
          - $ref: '#/components/parameters/nationalite_dirigeant'
          - $ref: '#/components/parameters/nom_dirigeant'
          - $ref: '#/components/parameters/prenom_dirigeant'
          - $ref: '#/components/parameters/age_dirigeant_min'
          - $ref: '#/components/parameters/age_dirigeant_max'
          - $ref: '#/components/parameters/date_de_naissance_dirigeant_min'
          - $ref: '#/components/parameters/date_de_naissance_dirigeant_max'
          - $ref: '#/components/parameters/age_beneficiaire_min'
          - $ref: '#/components/parameters/age_beneficiaire_max'
          - $ref: '#/components/parameters/date_de_naissance_beneficiaire_min'
          - $ref: '#/components/parameters/date_de_naissance_beneficiaire_max'
          - $ref: '#/components/parameters/nationalite_beneficiaire'
          - $ref: '#/components/parameters/type_publication'
          - $ref: '#/components/parameters/date_publication_min'
          - $ref: '#/components/parameters/date_publication_max'
          - $ref: '#/components/parameters/siren'
        responses:
          '200':
            description: >-
              Recherche réussie. Le retour contient la liste des documents qui
              répondent aux critères indiqués.
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    resultats:
                      type: array
                      description: Liste des documents qui correspondent à la recherche.
                      items:
                        allOf:
                          - $ref: '#/components/schemas/Document'
                          - type: object
                            properties:
                              entreprise:
                                $ref: '#/components/schemas/EntrepriseRecherche'
                    total:
                      type: integer
                      description: Nombre de documents qui correspondent à la recherche.
                      example: 100
                    page:
                      type: integer
                      description: Page actuelle.
                      example: 1
          '401':
            description: Clé API incorrecte.
          '404':
            description: Aucun document ne correspond aux critères indiqués.
          '503':
            description: Service momentanément indisponible.
    /recherche-publications:
      get:
        tags:
          - Recherche
        summary: Recherche les publications BODACC qui correspondent à des critères.
        description: >-
          Tous les paramètres sont optionnels et servent à filtrer la recherche.
          Les différentes publications seront renvoyées dans un tableau
          `resultats`.
        operationId: recherche-publications
        parameters:
          - $ref: '#/components/parameters/api_token'
          - $ref: '#/components/parameters/par_page'
          - $ref: '#/components/parameters/page'
          - $ref: '#/components/parameters/precision'
          - name: q
            in: query
            description: Mot-clé à rechercher dans le contenu de la publication.
            required: false
            schema:
              type: string
              example: Liquidation
          - $ref: '#/components/parameters/code_naf'
          - $ref: '#/components/parameters/departement'
          - $ref: '#/components/parameters/region'
          - $ref: '#/components/parameters/code_postal'
          - $ref: '#/components/parameters/convention_collective'
          - $ref: '#/components/parameters/categorie_juridique'
          - $ref: '#/components/parameters/entreprise_cessee'
          - $ref: '#/components/parameters/statut_rcs'
          - $ref: '#/components/parameters/objet_social'
          - $ref: '#/components/parameters/date_immatriculation_rcs_min'
          - $ref: '#/components/parameters/date_immatriculation_rcs_max'
          - $ref: '#/components/parameters/date_radiation_rcs_min'
          - $ref: '#/components/parameters/date_radiation_rcs_max'
          - $ref: '#/components/parameters/capital_min'
          - $ref: '#/components/parameters/capital_max'
          - $ref: '#/components/parameters/chiffre_affaires_min'
          - $ref: '#/components/parameters/chiffre_affaires_max'
          - $ref: '#/components/parameters/resultat_min'
          - $ref: '#/components/parameters/resultat_max'
          - $ref: '#/components/parameters/date_creation_min'
          - $ref: '#/components/parameters/date_creation_max'
          - $ref: '#/components/parameters/tranche_effectif_min'
          - $ref: '#/components/parameters/tranche_effectif_max'
          - $ref: '#/components/parameters/type_dirigeant'
          - $ref: '#/components/parameters/qualite_dirigeant'
          - $ref: '#/components/parameters/nationalite_dirigeant'
          - $ref: '#/components/parameters/nom_dirigeant'
          - $ref: '#/components/parameters/prenom_dirigeant'
          - $ref: '#/components/parameters/age_dirigeant_min'
          - $ref: '#/components/parameters/age_dirigeant_max'
          - $ref: '#/components/parameters/date_de_naissance_dirigeant_min'
          - $ref: '#/components/parameters/date_de_naissance_dirigeant_max'
          - $ref: '#/components/parameters/age_beneficiaire_min'
          - $ref: '#/components/parameters/age_beneficiaire_max'
          - $ref: '#/components/parameters/date_de_naissance_beneficiaire_min'
          - $ref: '#/components/parameters/date_de_naissance_beneficiaire_max'
          - $ref: '#/components/parameters/nationalite_beneficiaire'
          - $ref: '#/components/parameters/date_depot_document_min'
          - $ref: '#/components/parameters/date_depot_document_max'
          - $ref: '#/components/parameters/type_publication'
          - $ref: '#/components/parameters/date_publication_min'
          - $ref: '#/components/parameters/date_publication_max'
          - $ref: '#/components/parameters/siren'
        responses:
          '200':
            description: >-
              Recherche réussie. Le retour contient la liste des publications qui
              répondent aux critères indiqués.
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    resultats:
                      type: array
                      description: Liste des publications qui correspondent à la recherche.
                      items:
                        allOf:
                          - $ref: '#/components/schemas/Publication'
                          - type: object
                            properties:
                              entreprise:
                                $ref: '#/components/schemas/EntrepriseRecherche'
                    total:
                      type: integer
                      description: Nombre de publications qui correspondent à la recherche.
                      example: 100
                    page:
                      type: integer
                      description: Page actuelle.
                      example: 1
          '401':
            description: Clé API incorrecte.
          '404':
            description: Aucune publication ne correspond aux critères indiqués.
          '503':
            description: Service momentanément indisponible.
    /suggestions:
      get:
        tags:
          - Suggestions / Autocomplete
        summary: >-
          Recherche les entreprises qui correspondent à un début de recherche
          textuelle (type autocomplete).
        description: >-
          Cette route nécessite généralement d'avoir un temps de réponse très
          faible. Une URL avec un temps de réponse plus faible a été mise en place
          : `https://suggestions.pappers.fr/v2?q=googl`. D'autre part, afin de
          permettre une intégration en front-end la plus directe, cette route ne
          nécessite pas de token d'authentification.
        operationId: suggestions
        parameters:
          - name: q
            in: query
            description: Début de recherche textuelle
            required: true
            schema:
              type: string
              example: googl
          - name: longueur
            in: query
            description: 'Nombre de résultats. Maximum 100. Valeur par défaut : `10`.'
            required: false
            schema:
              type: integer
              example: 20
          - name: cibles
            in: query
            description: >-
              Cibles de la recherche, séparées par des virgules. Valeur par défaut
              : `"nom_entreprise"`.
            required: false
            schema:
              type: string
              enum:
                - nom_entreprise
                - denomination
                - nom_complet
                - representant
                - siren
                - siret
              example: nom_entreprise,siren,siret
        responses:
          '200':
            description: >-
              Requête correctement exécutée. Le retour contient une ou plusieurs
              listes d'entreprises en fonction du paramètre `cibles` de la
              requête.
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    resultats_nom_entreprise:
                      type: array
                      format: optional
                      description: >-
                        Liste des entreprises dont le nom (dénomination ou
                        nom/prénom) peut compléter la recherche textuelle.
                        Uniquement présent si le paramètre `cibles` contient
                        `nom_entreprise`.
                      items:
                        allOf:
                          - type: object
                            properties:
                              mention:
                                type: string
                                description: >-
                                  Nom de l'entreprise, avec le texte recherché
                                  encerclé d'une balise HTML `<em>`.
                          - $ref: '#/components/schemas/EntrepriseRecherche'
                    resultats_denomination:
                      type: array
                      format: optional
                      description: >-
                        Liste des entreprises dont la dénomination peut compléter
                        la recherche textuelle (concerne les personnes morales
                        seulement). Uniquement présent si le paramètre `cibles`
                        contient `denomination`.
                      items:
                        allOf:
                          - type: object
                            properties:
                              mention:
                                type: string
                                description: >-
                                  Dénomination de l'entreprise, avec le texte
                                  recherché encerclé d'une balise HTML `<em>`.
                          - $ref: '#/components/schemas/EntrepriseRecherche'
                    resultats_nom_complet:
                      type: array
                      format: optional
                      description: >-
                        Liste des entreprises dont le nom complet (nom + prénom ou
                        prénom + nom) peut compléter la recherche textuelle
                        (concerne les personnes physiques seulement). Uniquement
                        présent si le paramètre `cibles` contient `nom_complet`.
                      items:
                        allOf:
                          - type: object
                            properties:
                              mention:
                                type: string
                                description: >-
                                  Nom complet de l'entreprise, avec le texte
                                  recherché encerclé d'une balise HTML `<em>`.
                          - $ref: '#/components/schemas/EntrepriseRecherche'
                    resultats_representant:
                      type: array
                      format: optional
                      description: >-
                        Liste des représentants dont le nom complet (nom + prénom
                        ou prénom + nom) peut compléter la recherche textuelle.
                        Uniquement présent si le paramètre `cibles` contient
                        `representant`.
                      items:
                        allOf:
                          - type: object
                            properties:
                              mention:
                                type: string
                                description: >-
                                  Nom du dirigeant, avec le texte recherché
                                  encerclé d'une balise HTML `<em>`.
                          - $ref: '#/components/schemas/RepresentantSuggestions'
                    resultats_siren:
                      type: array
                      format: optional
                      description: >-
                        Liste des entreprises dont le numéro SIREN peut compléter
                        la recherche textuelle. Uniquement présent si le paramètre
                        `cibles` contient `siren`.
                      items:
                        allOf:
                          - type: object
                            properties:
                              mention:
                                type: string
                                description: >-
                                  SIREN de l'entreprise, avec le texte recherché
                                  encerclé d'une balise HTML `<em>`.
                          - $ref: '#/components/schemas/EntrepriseRecherche'
                    resultats_siret:
                      type: array
                      format: optional
                      description: >-
                        Liste des entreprises dont le numéro SIRET peut compléter
                        la recherche textuelle. Uniquement présent si le paramètre
                        `cibles` contient `siret`.
                      items:
                        allOf:
                          - type: object
                            properties:
                              mention:
                                type: string
                                description: >-
                                  SIRET de l'entreprise, avec le texte recherché
                                  encerclé d'une balise HTML `<em>`.
                          - $ref: '#/components/schemas/EntrepriseRecherche'
          '400':
            description: Paramètres de la requête incorrects.
    /entreprise/comptes:
      get:
        tags:
          - Comptes annuels
        summary: Récupère les comptes annuels publiés d'une entreprise.
        description: >-
          Vous devez fournir le SIREN de l'entreprise pour laquelle vous souhaitez
          obtenir les comptes annuels.
        operationId: comptes-annuels
        parameters:
          - $ref: '#/components/parameters/api_token'
          - name: siren
            in: query
            description: SIREN de l'entreprise
            required: false
            schema:
              type: string
              example: 443061841
          - name: annee
            in: query
            description: >-
              Année de cloture des comptes souhaités. Il est possible d'indiquer
              plusieurs années en les séparant par des virgules. Si le paramètre
              n'est pas fourni, toutes les années disponibles seront retournées.
            required: false
            schema:
              type: string
              example: 2016,2017,2018
        responses:
          '200':
            description: >-
              Comptes annuels disponibles. Le retour contient les comptes
              détaillés, ainsi que les ratios associés.
            content:
              application/json:
                schema:
                  type: object
                  additionalProperties:
                    type: array
                    description: Comptes disponibles pour l'année correspondant à la clé.
                    items:
                      type: object
                      description: Année
                      properties:
                        date_depot:
                          type: string
                          description: Date de dépôt des comptes, au format AAAA-MM-JJ.
                          example: '2021-04-23T00:00:00.000Z'
                        code_greffe:
                          type: string
                          description: Code du greffe de dépôt des comptes.
                          example: 7501
                        numero_depot:
                          type: string
                          description: Numéro de dépôt des comptes au greffe.
                          example: 75548
                        numero_gestion:
                          type: string
                          description: Numéro de gestion au greffe.
                          example: 2003B09427
                        date_cloture:
                          type: string
                          description: Date de cloture des comptes, au format AAAA-MM-JJ.
                          example: '2020-12-31T00:00:00.000Z'
                        date_cloture_n-1:
                          type: string
                          format: nullable
                          description: >-
                            Date de cloture des comptes n-1, lorsque présents, au
                            format AAAA-MM-JJ.
                        duree_exercice_n:
                          type: integer
                          description: Durée de l'exercice déposé, en mois.
                          example: 12
                        duree_exercice_n-1:
                          type: integer
                          format: nullable
                          description: >-
                            Durée de l'exercice précédent, lorsque présent, en
                            mois.
                        type_comptes:
                          type: string
                          enum:
                            - C
                            - S
                            - K
                            - CS
                            - B
                            - A
                          description: >-
                            Type de comptes (C = complets ; S = simplifiés ; K =
                            consolidés ; CS = mélange complets/simplifiés ; B =
                            banques ; A = assurances).
                          example: C
                        libelle_type_comptes:
                          type: string
                          enum:
                            - Complets
                            - Simplifiés
                            - Consolidés
                            - Complets/Simplifiés
                            - Banques
                            - Assurances
                          description: Libellé du type de comptes.
                          example: Complets
                        devise:
                          type: string
                          description: Devise des comptes.
                          example: EUR
                        devise_origine:
                          type: string
                          format: nullable
                          description: Devise d'origine en cas de conversion.
                        confidentialite:
                          type: boolean
                          description: Confidentialité totale des comptes.
                        confidentialite_compte_de_resultat:
                          type: boolean
                          description: >-
                            Confidentialité partielle des comptes (seul le compte
                            de résultat est confidentiel, le reste des comptes
                            sont disponibles).
                        coherence_comptable:
                          type: boolean
                          description: >-
                            Vrai si les comptes sont cohérents d'un point de vue
                            comptable (équilibre du bilan par exemple).
                        type_saisie:
                          type: string
                          description: Description du type de saisie des comptes.
                        informations_traitement:
                          type: array
                          format: nullable
                          description: >-
                            Informations complémentaires sur le traitement des
                            comptes.
                          items:
                            type: string
                        sections:
                          type: array
                          description: Liste des sections de liasses fiscales.
                          items:
                            type: object
                            properties:
                              libelle:
                                type: string
                                description: Libellé de la section.
                                example: Actif (bilan)
                              liasses:
                                type: array
                                description: Liste des liasses fiscales de la section.
                                items:
                                  type: object
                                  properties:
                                    code:
                                      type: string
                                      description: Code de la liasse.
                                      example: AN
                                    libelle:
                                      type: string
                                      description: Libellé de la liasse.
                                      example: Terrains
                                    colonnes:
                                      type: array
                                      description: Colonnes de la liasse.
                                      items:
                                        type: object
                                        properties:
                                          libelle:
                                            type: string
                                            description: Libellé de la colonne.
                                            example: Montant brut année N
                                          valeur:
                                            type: integer
                                            description: Valeur de la colonne.
                                            example: 60067444
                        ratios:
                          $ref: '#/components/schemas/Ratios'
          '400':
            description: Paramètres de la requête incorrects.
          '401':
            description: Clé API incorrecte.
          '404':
            description: Comptes annuels indisponibles.
          '503':
            description: Service momentanément indisponible.
    /entreprise/cartographie:
      get:
        tags:
          - Cartographie
        summary: >-
          Récupère les données permettant d'établir une cartographie d'une
          entreprise.
        description: >
          Cette route fournit les données nécessaires à l'établissement de la
          cartographie Pappers d'une entreprise telle qu'elle apparaît sur les
          fiches Pappers (exemple
          https://www.pappers.fr/entreprise/google-france-443061841#cartographie).


          - La requête est gratuite (erreur 404) si seul le noeud principal
          (l'entreprise recherchée) est disponible.

          - La requête coûte 1 jeton si, en plus du noeud principal, des noeuds
          dirigeants directs de l'entreprise sont disponibles. Il est possible de
          rejeter ces cas avec le paramètre `rejeter_premier_degre`. La requête
          est alors gratuite (erreur 404).

          - La requête coûte 3 jetons si des noeuds supplémentaires sont
          disponibles.
        operationId: cartographie
        parameters:
          - name: api_token
            in: query
            description: Clé d'utilisation de l'API
            required: true
            schema:
              type: string
              example: votre_clé_ici
          - name: siren
            in: query
            description: SIREN de l'entreprise
            required: true
            schema:
              type: string
              example: 443061841
          - name: inclure_entreprises_dirigees
            in: query
            description: >-
              Si vrai, la cartographie intègrera les entreprises dirigées par
              l'entreprise recherchée et les entreprises qui dirigent l'entreprise
              recherchée. Valeur par défaut : `true`.
            required: false
            schema:
              type: boolean
          - name: inclure_entreprises_citees
            in: query
            description: >-
              Si vrai, la cartographie intègrera les entreprises citées
              conjointement avec l'entreprise recherchée dans des actes et
              statuts. Valeur par défaut : `false`.
            required: false
            schema:
              type: boolean
          - name: inclure_sci
            in: query
            description: >-
              Si vrai, la cartographie intègrera les SCI. Valeur par défaut :
              `true`.
            required: false
            schema:
              type: boolean
          - name: autoriser_modifications
            in: query
            description: >-
              Si vrai, la cartographie pourra adapter automatiquement ses
              paramètres si ceux choisis manuellement ne sont pas idéaux. Valeur
              par défaut : `false`.
            required: false
            schema:
              type: boolean
          - name: rejeter_premier_degre
            in: query
            description: >-
              Si vrai et que la cartographie ne fait apparaître que l'entreprise
              recherchée ainsi que ses dirigeants directs, une erreur 404 sera
              renvoyée et la requête ne sera pas comptabilisée dans le quota de
              jetons. Valeur par défaut : `false`.
            required: false
            schema:
              type: boolean
          - name: degre
            in: query
            description: >-
              Permet de choisir manuellement un degré pour la cartographie. Seuls
              deux états sont possibles : un nombre <= 2 ou bien un nombre > 2.
              Cela veut dire que 0, 1 ou 2 donneront la même cartographie, tout
              comme 3, 4 ou 5.
            required: false
            schema:
              type: integer
        responses:
          '200':
            description: >-
              Cartographie disponible. Le retour contient un objet permettant de
              reconstruire la cartographie.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Cartographie'
          '400':
            description: Paramètres de la requête incorrects.
          '401':
            description: Clé API incorrecte.
          '404':
            description: >-
              La cartographie n'est pas disponible car elle ne contient qu'un seul
              noeud ou bien le paramètre `rejeter_premier_degre` a été utilisé.
    /document/telechargement:
      get:
        tags:
          - Documents
        summary: Télécharge un document PDF ou XLSX à partir de son token.
        description: >-
          Vous devez fournir le token du document. Le document vous sera envoyé au
          format PDF ou XLSX.
        operationId: document-telechargement
        parameters:
          - name: api_token
            in: query
            description: Clé d'utilisation de l'API
            required: true
            schema:
              type: string
              example: votre_clé_ici
          - name: token
            in: query
            description: Token du document
            required: true
            schema:
              type: string
              example: >-
                QTQ0MzA2MTg0MTIwMjAwNDA3RMOpY2lzaW9uKHMpIGRlIGwnYXNzb2Npw6kgdW5pcXVl
        responses:
          '200':
            description: >-
              Document disponible. Le retour contient le document au format PDF ou
              XLSX.
            content:
              application/pdf:
                schema:
                  type: string
                  format: binary
          '400':
            description: Paramètres de la requête incorrects.
          '401':
            description: Clé API incorrecte.
          '404':
            description: Document indisponible.
          '503':
            description: Service momentanément indisponible.
    /document/extrait_pappers:
      get:
        tags:
          - Documents
        summary: >-
          Télécharge l'extrait Pappers d'une entreprise à partir de son SIREN ou
          SIRET.
        description: >-
          Vous devez fournir soit le SIREN, soit le SIRET. Le document vous sera
          envoyé au format PDF.
        operationId: document-extrait-pappers
        parameters:
          - name: api_token
            in: query
            description: Clé d'utilisation de l'API
            required: true
            schema:
              type: string
              example: votre_clé_ici
          - name: siren
            in: query
            description: SIREN de l'entreprise
            required: false
            schema:
              type: string
              example: 443061841
          - name: siret
            in: query
            description: SIRET de l'entreprise
            required: false
            schema:
              type: string
              example: 44306184100047
        responses:
          '200':
            description: >-
              Document disponible. Le retour contient l'extrait Pappers au format
              PDF.
            content:
              application/pdf:
                schema:
                  type: string
                  format: binary
          '400':
            description: Paramètres de la requête incorrects.
          '401':
            description: Clé API incorrecte.
          '404':
            description: Document indisponible.
          '503':
            description: Service momentanément indisponible.
    /document/extrait_inpi:
      get:
        tags:
          - Documents
        summary: >-
          Télécharge l'extrait INPI d'une entreprise à partir de son SIREN ou
          SIRET.
        description: >-
          Vous devez fournir soit le SIREN, soit le SIRET. Le document vous sera
          envoyé au format PDF.
        operationId: document-extrait-inpi
        parameters:
          - name: api_token
            in: query
            description: Clé d'utilisation de l'API
            required: true
            schema:
              type: string
              example: votre_clé_ici
          - name: siren
            in: query
            description: SIREN de l'entreprise
            required: false
            schema:
              type: string
              example: 443061841
          - name: siret
            in: query
            description: SIRET de l'entreprise
            required: false
            schema:
              type: string
              example: 44306184100047
        responses:
          '200':
            description: >-
              Document disponible. Le retour contient l'extrait INPI au format
              PDF.
            content:
              application/pdf:
                schema:
                  type: string
                  format: binary
          '400':
            description: Paramètres de la requête incorrects.
          '401':
            description: Clé API incorrecte.
          '404':
            description: Document indisponible.
          '503':
            description: Service momentanément indisponible.
    /document/avis_situation_insee:
      get:
        tags:
          - Documents
        summary: >-
          Télécharge l'avis de situation INSEE d'une entreprise à partir de son
          SIREN ou SIRET.
        description: >-
          Vous devez fournir soit le SIREN, soit le SIRET. Le document vous sera
          envoyé au format PDF.
        operationId: document-avis-situation-insee
        parameters:
          - name: api_token
            in: query
            description: Clé d'utilisation de l'API
            required: true
            schema:
              type: string
              example: votre_clé_ici
          - name: siren
            in: query
            description: SIREN de l'entreprise
            required: false
            schema:
              type: string
              example: 443061841
          - name: siret
            in: query
            description: SIRET de l'entreprise
            required: false
            schema:
              type: string
              example: 44306184100047
        responses:
          '200':
            description: >-
              Document disponible. Le retour contient l'avis de situation au
              format PDF.
            content:
              application/pdf:
                schema:
                  type: string
                  format: binary
          '400':
            description: Paramètres de la requête incorrects.
          '401':
            description: Clé API incorrecte.
          '404':
            description: Document indisponible.
          '503':
            description: Service momentanément indisponible.
    /document/statuts:
      get:
        tags:
          - Documents
        summary: >-
          Télécharge les derniers statuts disponibles d'une entreprise à partir de
          son SIREN ou SIRET.
        description: >-
          Vous devez fournir soit le SIREN, soit le SIRET. Le document vous sera
          envoyé au format PDF.
        operationId: document-status
        parameters:
          - name: api_token
            in: query
            description: Clé d'utilisation de l'API
            required: true
            schema:
              type: string
              example: votre_clé_ici
          - name: siren
            in: query
            description: SIREN de l'entreprise
            required: false
            schema:
              type: string
              example: 443061841
          - name: siret
            in: query
            description: SIRET de l'entreprise
            required: false
            schema:
              type: string
              example: 44306184100047
        responses:
          '200':
            description: Document disponible. Le retour contient les statuts au format PDF.
            content:
              application/pdf:
                schema:
                  type: string
                  format: binary
          '400':
            description: Paramètres de la requête incorrects.
          '401':
            description: Clé API incorrecte.
          '404':
            description: Document indisponible.
          '503':
            description: Service momentanément indisponible.
    /document/declaration_beneficiaires_effectifs:
      get:
        tags:
          - Documents
        summary: >-
          Télécharge la déclaration des bénéficiaires effectifs d'une entreprise à
          partir de son SIREN.
        description: >-
          Vous devez fournir le SIREN. Le document vous sera envoyé au format PDF.


          Seules les autorités de contrôle (<a rel='noreferrer noopener'
          target='_blank'
          href='https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000041578272/'>article
          R. 561-57 du Code monétaire et financier en dénombre 18</a>) et les
          personnes assujetties à la lutte contre le blanchiment des capitaux et
          le financement du terrorisme (<a rel='noreferrer noopener'
          target='_blank'
          href='https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000042648575/'>article
          L. 561-2 du code monétaire et financier</a>) peuvent accéder à ces
          informations.


          Pour pouvoir utiliser cette route veuillez nous contacter au préalable à
          api@pappers.fr
        operationId: document-beneficiaires-effectifs
        parameters:
          - name: api_token
            in: query
            description: Clé d'utilisation de l'API
            required: true
            schema:
              type: string
              example: votre_clé_ici
          - name: siren
            in: query
            description: SIREN de l'entreprise
            required: false
            schema:
              type: string
              example: 443061841
        responses:
          '200':
            description: >-
              Document disponible. Le retour contient la déclaration des
              bénéficiaires effectifs au format PDF.
            content:
              application/pdf:
                schema:
                  type: string
                  format: binary
          '400':
            description: Paramètres de la requête incorrects.
          '401':
            description: Clé API incorrecte.
          '403':
            description: Vous n'avez pas les droits pour exécuter cette requête.
          '404':
            description: Document indisponible.
          '503':
            description: Service momentanément indisponible.
    /document/rapport_solvabilite:
      get:
        tags:
          - Documents
        summary: >-
          Télécharge un Rapport de solvabilité d'une entreprise à partir de son
          SIREN.
        description: Vous devez fournir le SIREN. Le document vous sera envoyé au format PDF.
        operationId: document-scoring-financier
        parameters:
          - name: api_token
            in: query
            description: Clé d'utilisation de l'API
            required: true
            schema:
              type: string
              example: votre_clé_ici
          - name: siren
            in: query
            description: SIREN de l'entreprise
            required: false
            schema:
              type: string
              example: 443061841
        responses:
          '200':
            description: >-
              Document disponible. Le retour contient le rapport de solvabilité au
              format PDF.
            content:
              application/pdf:
                schema:
                  type: string
                  format: binary
          '400':
            description: Paramètres de la requête incorrects.
          '401':
            description: Clé API incorrecte.
          '404':
            description: Document indisponible.
          '503':
            description: Service momentanément indisponible.
    /conformite/personne_physique:
      get:
        tags:
          - Conformité
        summary: >-
          Vérifie le statut de personne politiquement exposée et la présence de
          sanctions internationales pour une personne physique.
        description: >
          Cette route vérifie le statut de personne politiquement exposée et la
          présence de sanctions internationales pour une personne physique.


          Pour vérifier le statut de dirigeants et bénéficiaires effectifs
          d'entreprises, vous pouvez directement utiliser la route `/entreprise`
          avec les champs supplémentaires `personne_politiquement_exposee` et
          `sanctions`.
        operationId: conformite
        parameters:
          - name: api_token
            in: query
            description: Clé d'utilisation de l'API
            required: true
            schema:
              type: string
              example: votre_clé_ici
          - name: nom
            in: query
            description: Nom de la personne physique
            required: true
            schema:
              type: string
              example: Macron
          - name: prenom
            in: query
            description: Prénom de la personne physique
            required: true
            schema:
              type: string
              example: Emmanuel
          - name: date_de_naissance
            in: query
            description: >-
              Date de naissance de la personne physique, au format AAAA-MM-JJ ou
              AAAA-MM
            required: true
            schema:
              type: string
              example: '1977-12-21T00:00:00.000Z'
        responses:
          '200':
            description: La personne physique a pu être vérifiée.
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    personne_politiquement_exposee:
                      $ref: '#/components/schemas/PersonnePolitiquementExposee'
                    sanctions_en_cours:
                      type: boolean
                      format: optional
                      description: >-
                        Vaut vrai si le bénéficiaire effectif est actuellement
                        sous sanction. Uniquement présent si demandé dans les
                        champs supplémentaires.
                    sanctions:
                      type: array
                      description: >-
                        Liste des sanctions du bénéficiaire effectif. Uniquement
                        présent si demandé dans les champs supplémentaires.
                      items:
                        $ref: '#/components/schemas/Sanction'
          '400':
            description: Paramètres de la requête incorrects.
          '401':
            description: Clé API incorrecte.
          '503':
            description: Erreur interne. La personne physique n'a pas pu être vérifiée.
    /suivi-jetons:
      get:
        tags:
          - Suivi utilisation
        summary: Récupère le suivi d'utilisation des jetons.
        description: Vous devez fournir la clé d'utilisation de l'API.
        operationId: suivi-jetons
        parameters:
          - name: api_token
            in: query
            description: Clé d'utilisation de l'API
            required: true
            schema:
              type: string
              example: votre_clé_ici
        responses:
          '200':
            description: Succès
            content:
              application/json:
                schema:
                  type: object
                  description: Suivi d'utilisation des jetons.
                  properties:
                    jetons_abonnement:
                      type: number
                      example: 10000
                      description: Le nombre de jetons mensuels initiaux de votre abonnement.
                    jetons_abonnement_utilises:
                      type: number
                      example: 650
                      description: >-
                        Le nombre de jetons mensuels de votre abonnement que vous
                        avez utilisés
                    jetons_pay_as_you_go_restants:
                      type: number
                      example: 0
                      description: Le nombre de jetons pay as you go qu'il vous reste.
          '401':
            description: Clé API incorrecte.
          '503':
            description: Service momentanément indisponible.
    /liste:
      post:
        tags:
          - Surveillance
        summary: Ajoute une (ou plusieurs) entreprise(s) à une liste d'entreprises.
        description: >-
          Vous devez fournir la clé d'utilisation de l'API ainsi que l'identifiant
          de votre liste.
        operationId: surveillance-entreprise
        parameters:
          - name: api_token
            in: query
            description: Clé d'utilisation de l'API
            required: true
            schema:
              type: string
              example: votre_clé_ici
          - name: id_liste
            in: query
            description: Identifiant unique de votre liste de surveillance d'entreprises
            required: true
            schema:
              type: string
              example: votre_identifiant_ici
        requestBody:
          required: true
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  required:
                    - siren
                  properties:
                    siren:
                      type: string
                      example: '443061841'
                      description: SIREN de l'entreprise
        responses:
          '200':
            description: Aucun changement, les données étaient déjà présentes.
            content:
              application/json:
                schema:
                  type: object
                  description: Nombre de notifications ajoutées.
                  properties:
                    notifications_ajoutees:
                      type: number
                      example: 0
                      default: 0
                      description: >-
                        Le nombre d'entreprises ajoutées à votre liste de
                        surveillance d'entreprises.
          '201':
            description: Créés, liste mise à jour.
            content:
              application/json:
                schema:
                  type: object
                  description: Nombre de notifications ajoutées.
                  properties:
                    notifications_ajoutees:
                      type: number
                      example: 10
                      description: >-
                        Le nombre d'entreprises ajoutées à votre liste de
                        surveillance d'entreprises.
          '400':
            description: Paramètres de la requête incorrects.
          '401':
            description: Clé API incorrecte.
          '403':
            description: Offre dépassée.
          '404':
            description: Liste non trouvée.
          '503':
            description: Service momentanément indisponible.
    /liste/:
      post:
        tags:
          - Surveillance
        summary: Ajoute un (ou plusieurs) dirigeant(s) à une liste de dirigeants.
        description: >-
          Vous devez fournir la clé d'utilisation de l'API ainsi que l'identifiant
          de votre liste. Les informations à renseigner sont différentes selon le
          type de personne à ajouter (morale ou physique)
        operationId: surveillance-dirigeant
        parameters:
          - name: api_token
            in: query
            description: Clé d'utilisation de l'API
            required: true
            schema:
              type: string
              example: votre_clé_ici
          - name: id_liste
            in: query
            description: Identifiant unique de votre liste de surveillance de dirigeants
            required: true
            schema:
              type: string
              example: votre_identifiant_ici
        requestBody:
          required: true
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  required:
                    - siren
                  properties:
                    siren:
                      type: string
                      description: >-
                        SIREN de la personne morale (si ajout d'une personne
                        morale)
                    denomination:
                      type: string
                      description: >-
                        Dénomination de la personne morale (si ajout d'une
                        personne morale)
                    nom:
                      type: string
                      description: >-
                        Nom de la personne physique (si ajout d'une personne
                        physique)
                    prenom:
                      type: string
                      description: >-
                        Prénom de la personne physique (si ajout d'une personne
                        physique)
                    date_de_naissance:
                      type: string
                      description: >-
                        Date de naissance de la personne physique au format
                        AAAA-MM-JJ (si ajout d'une personne physique)
                    recherche_elargie:
                      type: boolean
                      default: false
                      description: >-
                        Active la recherche élargie du dirigeant : <ul><li>Pour
                        une personne physique : c'est un cas rare mais la date de
                        naissance du dirigeant n'est pas toujours connue de
                        Pappers. Si vous activer ce filtre et que la date de
                        naissance est inconnue, l'alerte sera générée uniquement
                        sur la base du nom et prénom.</li><li>Pour une personne
                        morale : c'est un cas rare mais le SIREN du dirigeant
                        n'est pas toujours connu de Pappers. Si vous activer ce
                        filtre et que le SIREN est inconnu, l'alerte sera générée
                        uniquement sur la base de la dénomination. Activable
                        uniquement si le champ denomination est présent.</li></ul>
                example:
                  - siren: '443061841'
                    denomination: Google FRANCE
                  - nom: Yi
                    prenom: Kenneth H.
                    date_de_naissance: '1970-01-06'
                    recherche_elargie: true
        responses:
          '200':
            description: Aucun changement, les données étaient déjà présentes.
            content:
              application/json:
                schema:
                  type: object
                  description: Nombre de notifications ajoutées.
                  properties:
                    notifications_ajoutees:
                      type: number
                      example: 0
                      default: 0
                      description: >-
                        Le nombre de dirigeants ajoutées à votre liste de
                        surveillance de dirigeants.
          '201':
            description: Créés, liste mise à jour.
            content:
              application/json:
                schema:
                  type: object
                  description: Nombre de notifications ajoutées.
                  properties:
                    notifications_ajoutees:
                      type: number
                      example: 10
                      description: >-
                        Le nombre de dirigeants ajoutées à votre liste de
                        surveillance de dirigeants.
          '400':
            description: Paramètres de la requête incorrects.
          '401':
            description: Clé API incorrecte.
          '403':
            description: Offre dépassée.
          '404':
            description: Liste non trouvée.
          '503':
            description: Service momentanément indisponible.
      delete:
        tags:
          - Surveillance
        summary: Supprime une (ou plusieurs) notification(s) d'une liste.
        description: >-
          Vous devez fournir la clé d'utilisation de l'API ainsi que l'identifiant
          de votre liste.
        operationId: surveillance-notifications-delete
        parameters:
          - name: api_token
            in: query
            description: Clé d'utilisation de l'API
            required: true
            schema:
              type: string
              example: votre_clé_ici
          - name: id_liste
            in: query
            description: Identifiant unique de votre liste de surveillance
            required: true
            schema:
              type: string
              example: votre_identifiant_ici
          - name: siren
            in: query
            description: >-
              Liste des sirens des notifications à supprimer, séparés par une
              virgule
            required: false
            schema:
              type: string
              example: 443061841,950370973
          - name: id
            in: query
            description: Liste des ids des notifications à supprimer, séparés par une virgule
            required: false
            schema:
              type: string
              example: >-
                ecfca3e5fb1ce07bb3fdfe8760a28df5aa617ed4951b7f61,a67b9de66189ba98eb4aede09f4b2b565b0f18fe694da7bc
          - name: supprimer_totalite
            in: query
            description: Suppression de toutes les notifications de la liste
            required: false
            schema:
              type: boolean
              example: true
        responses:
          '200':
            description: Succés.
            content:
              application/json:
                schema:
                  type: object
                  description: Nombre de notifications supprimées.
                  properties:
                    notifications_supprimees:
                      type: number
                      example: 10
                      description: >-
                        Le nombre de notifications supprimées de votre liste de
                        surveillance.
          '400':
            description: Paramètres de la requête incorrects.
          '401':
            description: Clé API incorrecte.
          '404':
            description: Liste non trouvée.
          '503':
            description: Service momentanément indisponible.
    /liste-informations:
      post:
        tags:
          - Surveillance
        summary: Ajoute des informations à une (ou plusieurs) notification(s).
        description: >-
          Vous devez fournir la clé d'utilisation de l'API ainsi que l'identifiant
          de votre liste.
        operationId: surveillance-liste-informations
        parameters:
          - name: api_token
            in: query
            description: Clé d'utilisation de l'API
            required: true
            schema:
              type: string
              example: votre_clé_ici
          - name: id_liste
            in: query
            description: Identifiant unique de votre liste de surveillance d'entreprises
            required: true
            schema:
              type: string
              example: votre_identifiant_ici
        requestBody:
          required: true
          content:
            application/json:
              schema:
                type: object
                properties:
                  notifications:
                    type: array
                    description: Tableau d'identifiant de notifications
                    items:
                      type: string
                      example: ecfca3e5fb1ce07bb3fdfe8760a28df5aa617ed4951b7f61
                  informations:
                    type: string
                    example: Information quelconque
                    description: Information à rajouter sur les notifications
                    maxLength: 255
        responses:
          '200':
            description: Succés.
          '400':
            description: Paramètres de la requête incorrects.
          '401':
            description: Clé API incorrecte.
          '404':
            description: Liste non trouvée.
          '503':
            description: Service momentanément indisponible.
  components:
    parameters:
      api_token:
        name: api_token
        in: query
        description: Clé d'utilisation de l'API
        required: true
        schema:
          type: string
          example: votre_clé_ici
      par_page:
        name: par_page
        in: query
        description: 'Nombre de résultats affichés sur une page. Valeur par défaut : `10`.'
        required: false
        schema:
          type: integer
          example: 20
      page:
        name: page
        in: query
        description: 'Page de résultats. Valeur par défaut : `1`.'
        required: false
        schema:
          type: integer
          example: 1
      bases:
        name: bases
        in: query
        description: >-
          Bases de données dans lesquelles rechercher. Il est possible d'indiquer
          plusieurs bases en les séparant par des virgules. Valeur par défaut :
          `"entreprises"`.
        required: false
        schema:
          type: string
          enum:
            - entreprises
            - dirigeants
            - beneficiaires
            - documents
            - publications
          example: entreprises
      precision:
        name: precision
        in: query
        description: 'Niveau de précision de la recherche. Valeur par défaut : `"standard"`.'
        required: false
        schema:
          type: string
          enum:
            - approximative
            - standard
            - exacte
          example: standard
      curseur:
        name: curseur
        in: query
        description: >-
          Curseur servant à parcourir l'ensemble des résultats (alternativement à
          la pagination qui est limitée à 400 résultats maximum). Doit valoir `*`
          pour la première requête, et doit pour les requêtes suivantes reprendre
          la valeur `curseurSuivant` retournée par la dernière réponse.
        required: false
        schema:
          type: string
          example: '*'
      par_curseur:
        name: par_curseur
        in: query
        description: >-
          Nombre de résultats affichés par curseur. Valeur par défaut : `50`.
          Valeur minimale: `1`. Valeur maximale : `1000`.
        required: false
        schema:
          type: integer
          example: 20
      code_naf:
        name: code_naf
        in: query
        description: >-
          Code NAF de l'entreprise. Il est possible d'indiquer plusieurs codes NAF
          en les séparant par des virgules.
        required: false
        schema:
          type: string
          example: 70.10Z
      departement:
        name: departement
        in: query
        description: >-
          Numéro de département de l'un des établissements de l'entreprise. Il est
          possible d'indiquer plusieurs départements en les séparant par des
          virgules.
        required: false
        schema:
          type: string
          example: 75
      region:
        name: region
        in: query
        description: >-
          Code de la région de l'un des établissements de l'entreprise, selon la
          [nomenclature
          Insee](https://www.insee.fr/fr/information/4316069#titre-bloc-18). Il
          est possible d'indiquer plusieurs codes régions en les séparant par des
          virgules.
        required: false
        schema:
          type: string
          example: 11
      code_postal:
        name: code_postal
        in: query
        description: >-
          Code postal de l'un des établissements de l'entreprise. Il est possible
          d'indiquer plusieurs codes postaux en les séparant par des virgules.
        required: false
        schema:
          type: string
          example: 75009
      convention_collective:
        name: convention_collective
        in: query
        description: Convention collective de l'entreprise.
        required: false
        schema:
          type: string
          example: 1486
      categorie_juridique:
        name: categorie_juridique
        in: query
        description: >-
          Catégorie juridique de l'entreprise, selon la [nomenclature
          Insee](https://www.insee.fr/fr/information/2028129). 


          **Note** : Le code correspond à celui de l'INSEE, à l'exception des SASU
          qui auront comme code 5720 et les EURL qui auront comme code 5498.
        required: false
        schema:
          type: string
          example: 5499
      entreprise_cessee:
        name: entreprise_cessee
        in: query
        description: Activité de l'entreprise cessée ou non.
        required: false
        schema:
          type: boolean
          example: false
      statut_rcs:
        name: statut_rcs
        in: query
        description: Statut au RCS
        required: false
        schema:
          type: string
          enum:
            - inscrit
            - radie
            - non inscrit
          example: inscrit
      objet_social:
        name: objet_social
        in: query
        description: Objet social de l'entreprise déclaré au RCS.
        required: false
        schema:
          type: string
          example: La conception de moteurs de recherche sur internet.
      date_immatriculation_rcs_min:
        name: date_immatriculation_rcs_min
        in: query
        description: >-
          Date d'immatriculation au RCS minimale de l'entreprise, au format
          JJ-MM-AAAA.
        required: false
        schema:
          type: string
          example: 15-05-2002
      date_immatriculation_rcs_max:
        name: date_immatriculation_rcs_max
        in: query
        description: d'immatriculation au RCS minimale de l'entreprise, au format JJ-MM-AAAA.
        required: false
        schema:
          type: string
          example: 15-05-2002
      date_radiation_rcs_min:
        name: date_radiation_rcs_min
        in: query
        description: Date de radiation au RCS minimale de l'entreprise, au format JJ-MM-AAAA.
        required: false
        schema:
          type: string
          example: 15-05-2002
      date_radiation_rcs_max:
        name: date_radiation_rcs_max
        in: query
        description: Date de radiation au RCS maximale de l'entreprise, au format JJ-MM-AAAA.
        required: false
        schema:
          type: string
          example: 17-05-2002
      capital_min:
        name: capital_min
        in: query
        description: Capital minimum de l'entreprise.
        required: false
        schema:
          type: string
          example: 411016200
      capital_max:
        name: capital_max
        in: query
        description: Capital maximum de l'entreprise.
        required: false
        schema:
          type: string
          example: 411016400
      chiffre_affaires_min:
        name: chiffre_affaires_min
        in: query
        description: >-
          Chiffre d'affaires minimum de l'entreprise.


          **Note** : Filtrer sur ce critère restreint énormément les entreprises
          retournées car cela élimine d'office toutes les entreprises dont les
          comptes ne sont pas publiés.
        required: false
        schema:
          type: string
          example: 411016200
      chiffre_affaires_max:
        name: chiffre_affaires_max
        in: query
        description: >-
          Chiffre d'affaires maximum de l'entreprise.


          **Note** : Filtrer sur ce critère restreint énormément les entreprises
          retournées car cela élimine d'office toutes les entreprises dont les
          comptes ne sont pas publiés.
        required: false
        schema:
          type: string
          example: 411016400
      resultat_min:
        name: resultat_min
        in: query
        description: >-
          Résultat minimum de l'entreprise.


          **Note** : Filtrer sur ce critère restreint énormément les entreprises
          retournées car cela élimine d'office toutes les entreprises dont les
          comptes ne sont pas publiés.
        required: false
        schema:
          type: string
          example: 29327000
      resultat_max:
        name: resultat_max
        in: query
        description: >-
          Résultat maximum de l'entreprise.


          **Note** : Filtrer sur ce critère restreint énormément les entreprises
          retournées car cela élimine d'office toutes les entreprises dont les
          comptes ne sont pas publiés.
        required: false
        schema:
          type: string
          example: 29327100
      date_creation_min:
        name: date_creation_min
        in: query
        description: Date de création minimale de l'entreprise, au format JJ-MM-AAAA.
        required: false
        schema:
          type: string
          example: 15-05-2002
      date_creation_max:
        name: date_creation_max
        in: query
        description: Date de création maximale de l'entreprise, au format JJ-MM-AAAA.
        required: false
        schema:
          type: string
          example: 17-05-2002
      tranche_effectif_min:
        name: tranche_effectif_min
        in: query
        description: >-
          Tranche d'effectifs minimale de l'entreprise, selon la [nomenclature
          Sirene](https://www.sirene.fr/sirene/public/variable/tefen).


          **Note** : 00 ou NN donneront les mêmes résultats et veulent dire non
          employeur
        required: false
        schema:
          type: string
          example: 40
      tranche_effectif_max:
        name: tranche_effectif_max
        in: query
        description: >-
          Tranche d'effectifs maximale de l'entreprise, selon la [nomenclature
          Sirene](https://www.sirene.fr/sirene/public/variable/tefen).


          **Note** : 00 ou NN donneront les mêmes résultats et veulent dire non
          employeur
        required: false
        schema:
          type: string
          example: 42
      type_dirigeant:
        name: type_dirigeant
        in: query
        description: >-
          Type du dirigeant (ou de l'un des dirigeants de l'entreprise pour une
          recherche d'entreprises).
        required: false
        schema:
          type: string
          enum:
            - physique
            - morale
          example: physique
      qualite_dirigeant:
[...]
