publishJson:
  company: Paychex
  serviceName: false
  sdkName: paychex-{language}-sdk
  clientName: Paychex
  metaDescription: >-
    As the future of work continues to evolve, Paychex leads the way by making
    complex HR, payroll, and benefits brilliantly simple. Our unique combination
    of digital HR technology and advisory solutions meets the changing needs of
    employers and their employees. You can see the results in our growth as an
    HR leader and the positive returns we deliver to our shareholders.


    Paychex, Inc. (Nasdaq:PAYX) is a leading provider of integrated human
    capital management solutions for payroll, benefits, human resources, and
    insurance services.


    -Industry expertise since 1971

    ~740,000 business clients in the U.S. and Europe

    -Pays 1 in 12 U.S. private sector employees

    -A top HR outsourcer — serving 2.2M worksite employees through our HR
    outsourcing solutions


    Information regarding licensing can be found on the NMLS consumer access
    website, www.nmlsconsumeraccess.org. The Commissioner of Financial
    Regulation for the State of Maryland will accept all questions or complaints
    from Maryland residents regarding Paychex, Inc. (1029977) at:


    500 North Calvert Street, Suite 402

    Baltimore, Maryland 21202

    888-784-0136
  apiStatusUrls: inherit
  homepage: paychex.com
  developerDocumentation: developer.paychex.com/documentation
  categories:
    - hr
    - payroll
    - benefits
rawSpecString: |
  openapi: 3.0.3
  info:
    title: External API
    description: >-


      # Developer Resources
       Refer
      [Developer Resources](https://developer.paychex.com/resources/overview/) for
      more details on API specification 
    version: '1.0'
  servers:
    - url: https://api.paychex.com
  tags:
    - name: Authentication
    - name: Company
    - name: Payroll
    - name: Worker
    - name: Webhooks
    - name: Management
  paths:
    /auth/oauth/v2/token:
      post:
        tags:
          - Authentication
        summary: Create Bearer token
        description: >-
          Request a Bearer token that will be used as an access token when making
          calls to resources.  The credentials need to be sent within the body of
          the request.
        requestBody:
          description: user info to be filled
          content:
            application/x-www-form-urlencoded:
              schema:
                type: object
                required:
                  - grant_type
                  - client_id
                  - client_secret
                properties:
                  grant_type:
                    type: string
                    description: Send "client_credentials".
                  client_id:
                    type: string
                    description: The applications API key.
                  client_secret:
                    type: string
                    description: The applications corresponding secret.
        responses:
          '200':
            description: successful operation
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Authentication'
    /companies:
      get:
        tags:
          - Company
        summary: Companies
        description: >-
          Array of companies that your application has been granted with some
          level of access. Your Application (API Key) can be granted access to one
          or more companies (clients) accounts that are associated with one or
          more product lines within Paychex.
        operationId: getCompanies_1
        parameters:
          - name: displayid
            in: query
            description: >-
              The client account number used for identification purposes. (no dash
              or spaces allowed, only the last 8 characters  of the ID)
            required: false
            schema:
              type: string
        responses:
          '200':
            description: successful operation
            content:
              application/vnd.paychex.companies.v1+json:
                schema:
                  $ref: '#/components/schemas/CompanyResource'
                examples:
                  Companies:
                    $ref: '#/components/examples/JSONEXAMPLES/value/COMPANIES_GET'
              application/json:
                schema:
                  $ref: '#/components/schemas/CompanyResource'
                examples:
                  defaultResponse:
                    $ref: '#/components/examples/JSONEXAMPLES/value/COMPANIES_GET'
          '401':
            description: Unauthorized
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-102
                      description: >-
                        The client could not be authenticated due to missing or
                        invalid client credentials.
                      resolution: >-
                        Make sure that you are using the correct API key/Secret
                        and that your application is enabled.
          '403':
            description: User doesn't have access to this endpoint (API-2)
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-2
                      description: >-
                        Your application is not authorized to access the 
                        resource.
                      resolution: >-
                        Please have your company administrator give your
                        application access to the resource.
          '404':
            description: Invalid resource ID (API-7)
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-7
                      description: >-
                        The resource or status is invalid. You may have an
                        incorrect resource ID.
                      resolution: Send a valid resource in your request
          '405':
            description: Unsupported method type (API-59)
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-59
                      description: The request method type is unsupported.
          '406':
            description: Unsupported Accept header
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-75
                      description: Invalid vendor media type.
                      resolution: >-
                        Please refer to our documentation and send the correct
                        vendor media type
          '500':
            description: Internal Server Error.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-1
                      description: Internal Server Error.
                      resolution: Please contact Paychex API Developer Center Support.
    /companies/{companyId}:
      get:
        tags:
          - Company
        summary: A Company
        description: Information about a single company that your application has access to.
        operationId: getCompany_1
        parameters:
          - name: companyId
            in: path
            description: The ID of the company.
            required: true
            schema:
              type: string
        responses:
          '200':
            description: successful operation
            content:
              application/vnd.paychex.company.v1+json:
                schema:
                  $ref: '#/components/schemas/CompanyResource'
                examples:
                  company:
                    $ref: '#/components/examples/JSONEXAMPLES/value/COMPANY_GET'
              application/json:
                schema:
                  $ref: '#/components/schemas/CompanyResource'
                examples:
                  defaultResponse:
                    $ref: '#/components/examples/JSONEXAMPLES/value/COMPANY_GET'
          '401':
            description: Unauthorized
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-102
                      description: >-
                        The client could not be authenticated due to missing or
                        invalid client credentials.
                      resolution: >-
                        Make sure that you are using the correct API key/Secret
                        and that your application is enabled.
          '403':
            description: >-
              User doesn't have access to this endpoint (API-2), Client has been
              end dated (API-68)
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-2
                      description: >-
                        Your application is not authorized to access the 
                        resource.
                      resolution: >-
                        Please have your company administrator give your
                        application access to the resource.
          '404':
            description: Invalid resource ID (API-7)
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-7
                      description: >-
                        The resource or status is invalid. You may have an
                        incorrect resource ID.
                      resolution: Send a valid resource in your request
          '405':
            description: Unsupported method type (API-59)
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-59
                      description: The request method type is unsupported.
          '406':
            description: Unsupported Accept header
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-75
                      description: Invalid vendor media type.
                      resolution: >-
                        Please refer to our documentation and send the correct
                        vendor media type
          '409':
            description: default response
          '500':
            description: Internal Server Error.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-1
                      description: Internal Server Error.
                      resolution: Please contact Paychex API Developer Center Support.
    /companies/{companyId}/calculationbases:
      get:
        tags:
          - Company
        summary: Company Calculation Bases
        description: >-
          Array of calculation bases that are used with a worker pay components
          that are not FLAT_DOLLAR_AMOUNT allow you to determine what to apply the
          calculation against when determining the amount during the pay run.
        operationId: getCompanyCalculationBases
        parameters:
          - name: companyId
            in: path
            description: The ID of the company.
            required: true
            schema:
              type: string
        responses:
          '200':
            description: successful operation
            content:
              application/vnd.paychex.payroll.calculationbases.v1+json:
                schema:
                  $ref: '#/components/schemas/CalculationBase'
                examples:
                  CompanyCalculationBases:
                    $ref: >-
                      #/components/examples/JSONEXAMPLES/value/COMPANY_CALCBASE_GET
              application/json:
                schema:
                  $ref: '#/components/schemas/CalculationBase'
                examples:
                  defaultResponse:
                    $ref: >-
                      #/components/examples/JSONEXAMPLES/value/COMPANY_CALCBASE_GET
          '401':
            description: Unauthorized
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-102
                      description: >-
                        The client could not be authenticated due to missing or
                        invalid client credentials.
                      resolution: >-
                        Make sure that you are using the correct API key/Secret
                        and that your application is enabled.
          '403':
            description: >-
              User doesn't have access to this endpoint (API-2), Client has been
              end dated (API-68)
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-2
                      description: >-
                        Your application is not authorized to access the 
                        resource.
                      resolution: >-
                        Please have your company administrator give your
                        application access to the resource.
          '404':
            description: Invalid resource ID (API-7)
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-7
                      description: >-
                        The resource or status is invalid. You may have an
                        incorrect resource ID.
                      resolution: Send a valid resource in your request
          '405':
            description: Unsupported method type (API-59)
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-59
                      description: The request method type is unsupported.
          '406':
            description: Unsupported Accept header
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-75
                      description: Invalid vendor media type.
                      resolution: >-
                        Please refer to our documentation and send the correct
                        vendor media type
          '500':
            description: Internal Server Error.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-1
                      description: Internal Server Error.
                      resolution: Please contact Paychex API Developer Center Support.
    /companies/{companyId}/checks:
      get:
        tags:
          - Payroll
        summary: Company Checks
        description: >-
          Get check(s) that are for a specific company within a processed or
          unprocessed pay period.
        operationId: getCompanyChecks
        parameters:
          - name: companyId
            in: path
            description: ID associated with desired company.
            required: true
            schema:
              type: string
          - name: payperiodid
            in: query
            description: The id assigned to the pay period that the check will be within.
            required: true
            schema:
              type: string
          - name: offset
            in: query
            description: The zero based offset of the next page of data to be presented.
            required: false
            schema:
              type: integer
              format: int32
              default: 0
          - name: limit
            in: query
            description: The maximum number of elements to be returned in a page transition.
            required: false
            schema:
              type: integer
              format: int32
              default: 0
          - name: filterbyuserid
            in: query
            description: Filter by User Id.
            required: false
            schema:
              type: boolean
        responses:
          '200':
            description: successful operation
            content:
              application/vnd.paychex.payroll.checks.v1+json:
                schema:
                  $ref: '#/components/schemas/CheckResource'
                examples:
                  unProcessed:
                    $ref: >-
                      #/components/examples/JSONEXAMPLES/value/UN_PROCESSED_CHECK_GET
              application/json:
                schema:
                  $ref: '#/components/schemas/CheckResource'
                examples:
                  defaultResponse:
                    $ref: >-
                      #/components/examples/JSONEXAMPLES/value/UN_PROCESSED_CHECK_GET
              application/vnd.paychex.payroll.processedchecks.v1+json:
                schema:
                  $ref: '#/components/schemas/CheckResource'
                examples:
                  processed:
                    $ref: '#/components/examples/JSONEXAMPLES/value/PROCESSED_CHECK_GET'
          '400':
            description: Missing query parameter (API-49), Invalid query parameter (API-40)
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-40
                      description: The request isn't valid.
                      resolution: Please send the valid request
          '401':
            description: Unauthorized
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-102
                      description: >-
                        The client could not be authenticated due to missing or
                        invalid client credentials.
                      resolution: >-
                        Make sure that you are using the correct API key/Secret
                        and that your application is enabled.
          '403':
            description: >-
              User doesn't have access to this endpoint (API-2), Client has been
              end dated (API-68)
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-2
                      description: >-
                        Your application is not authorized to access the 
                        resource.
                      resolution: >-
                        Please have your company administrator give your
                        application access to the resource.
          '404':
            description: Invalid resource ID (API-7)
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-7
                      description: >-
                        The resource or status is invalid. You may have an
                        incorrect resource ID.
                      resolution: Send a valid resource in your request
          '405':
            description: Unsupported method type (API-59)
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-59
                      description: The request method type is unsupported.
          '406':
            description: Unsupported Accept header
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-75
                      description: Invalid vendor media type.
                      resolution: >-
                        Please refer to our documentation and send the correct
                        vendor media type
          '500':
            description: Internal Server Error.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-1
                      description: Internal Server Error.
                      resolution: Please contact Paychex API Developer Center Support.
      post:
        tags:
          - Payroll
        summary: Company Checks
        description: >-
          Add a check for one or more worker within a company for an available pay
          period.
        operationId: createCompanyChecks
        parameters:
          - name: companyId
            in: path
            description: ID associated with desired company.
            required: true
            schema:
              type: string
        requestBody:
          content:
            application/vnd.paychex.payroll.checks.v1+json:
              schema:
                $ref: '#/components/schemas/CheckResource'
              examples:
                CompanyChecks:
                  $ref: >-
                    #/components/examples/JSONEXAMPLES/value/COMPANIES_CHECKS_POST_REQ
          required: true
        responses:
          '201':
            description: successful operation
            content:
              application/vnd.paychex.payroll.checks.v1+json:
                schema:
                  $ref: '#/components/schemas/CheckResource'
                examples:
                  CompaniesChecks:
                    $ref: >-
                      #/components/examples/JSONEXAMPLES/value/COMPANIES_CHECKS_POST_RES
              application/json:
                schema:
                  $ref: '#/components/schemas/CheckResource'
                examples:
                  defaultResponse:
                    $ref: >-
                      #/components/examples/JSONEXAMPLES/value/COMPANIES_CHECKS_POST_RES
          '400':
            description: >-
              Amount should be between 0.00-9999.99 (API-28), Invalid Org ID
              (API-40), Required field missing (API-46), Required field ambiguous
              (API-47), Required field invalid (API-48), Pay period is in a state
              that will not allow checks to be modified (API-51), Empty request
              (API-52), All checks must have the same pay period in the request
              (API-53), Missing required field for one or more request (API-54),
              At least one worker doesn't belong to this client (API-55),
              Duplicate correlation ID (API-56), The pay component doesn't support
              the corresponding worker type (API-57), The pay component can't be
              REDUCTION type (API-60), Product was not set up for this client as
              of the check date of the given pay period (API-65), The pay rate's
              start date is after the provided PayPeriod's date range (API-69),
              This worker does not have a default pay rate set (API-70) 
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-40
                      description: The request isn't valid.
                      resolution: Please send the valid request
          '401':
            description: Unauthorized
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-102
                      description: >-
                        The client could not be authenticated due to missing or
                        invalid client credentials.
                      resolution: >-
                        Make sure that you are using the correct API key/Secret
                        and that your application is enabled.
          '403':
            description: >-
              User doesn't have access to this endpoint (API-2), Client has been
              end dated (API-68)
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-2
                      description: >-
                        Your application is not authorized to access the 
                        resource.
                      resolution: >-
                        Please have your company administrator give your
                        application access to the resource.
          '404':
            description: Invalid resource ID (API-7)
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-7
                      description: >-
                        The resource or status is invalid. You may have an
                        incorrect resource ID.
                      resolution: Send a valid resource in your request
          '405':
            description: >-
              Unsupported method type (API-59), Check is not allowed to be
              modified (API-51)
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-59
                      description: The request method type is unsupported.
          '406':
            description: Unsupported Accept header
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-75
                      description: Invalid vendor media type.
                      resolution: >-
                        Please refer to our documentation and send the correct
                        vendor media type
          '413':
            description: Post more than 100 checks per request (API-44)
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example: >-
                  {"errors" : [{"code": "API-44","description": "Request exceeded
                  the max content size available for this request": "-"}]}
          '423':
            description: Client locked (API-10)
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-10
                      description: >-
                        The client is locked because another user or process is
                        updating it.  Your changes cannot be  saved while the
                        client is locked.
                      resolution: Please try again later.
          '500':
            description: Internal Server Error.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-1
                      description: Internal Server Error.
                      resolution: Please contact Paychex API Developer Center Support.
    /companies/{companyId}/contacttypes:
      get:
        tags:
          - Company
        summary: Company Contact Types
        description: >-
          Information about contact types that your application has been granted
          access to.
        operationId: getCompanyContactTypes
        parameters:
          - name: companyId
            in: path
            description: ID associated with desired company.
            required: true
            schema:
              type: string
        responses:
          '200':
            description: Successful operation.
            content:
              application/vnd.paychex.company.contacttypes.v1+json:
                schema:
                  $ref: '#/components/schemas/ContactTypeResource'
                examples:
                  companyContactTypesResVMT:
                    $ref: >-
                      #/components/examples/JSONEXAMPLES/value/COMPANY_CONTACT_TYPES_GET
              application/json:
                schema:
                  $ref: '#/components/schemas/ContactTypeResource'
                examples:
                  companyContactTypesResDef:
                    $ref: >-
                      #/components/examples/JSONEXAMPLES/value/COMPANY_CONTACT_TYPES_GET
          '401':
            description: Unauthorized
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-102
                      description: >-
                        The client could not be authenticated due to missing or
                        invalid client credentials.
                      resolution: >-
                        Make sure that you are using the correct API key/Secret
                        and that your application is enabled.
          '403':
            description: >-
              User doesn't have access to this endpoint (API-2), Client has been
              end dated (API-68)
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-2
                      description: >-
                        Your application is not authorized to access the 
                        resource.
                      resolution: >-
                        Please have your company administrator give your
                        application access to the resource.
          '405':
            description: Unsupported method type (API-59)
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-59
                      description: The request method type is unsupported.
          '406':
            description: Unsupported Accept header
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-75
                      description: Invalid vendor media type.
                      resolution: >-
                        Please refer to our documentation and send the correct
                        vendor media type
          '500':
            description: Internal Server Error.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-1
                      description: Internal Server Error.
                      resolution: Please contact Paychex API Developer Center Support.
    /companies/{companyId}/customfields:
      get:
        tags:
          - Company
        summary: Custom Fields
        description: 'Array of customFields Configured at the company level '
        operationId: getCompanyCustomfields
        parameters:
          - name: companyId
            in: path
            description: ID associated with desired company.
            required: true
            schema:
              type: string
        responses:
          '200':
            description: successful operation
            content:
              application/vnd.paychex.company.customfields.v1+json:
                schema:
                  $ref: '#/components/schemas/CustomFieldsResource'
                examples:
                  CompaniesCustomfields:
                    $ref: >-
                      #/components/examples/JSONEXAMPLES/value/COMPANIES_CUSTOMFIELDS_GET
              application/json:
                schema:
                  $ref: '#/components/schemas/CustomFieldsResource'
                examples:
                  defaultResponse:
                    $ref: >-
                      #/components/examples/JSONEXAMPLES/value/COMPANIES_CUSTOMFIELDS_GET
          '401':
            description: Unauthorized
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-102
                      description: >-
                        The client could not be authenticated due to missing or
                        invalid client credentials.
                      resolution: >-
                        Make sure that you are using the correct API key/Secret
                        and that your application is enabled.
          '403':
            description: >-
              User doesn't have access to this endpoint (API-2), Client has been
              end dated (API-68)
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-2
                      description: >-
                        Your application is not authorized to access the 
                        resource.
                      resolution: >-
                        Please have your company administrator give your
                        application access to the resource.
          '404':
            description: Invalid resource ID (API-7)
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-7
                      description: >-
                        The resource or status is invalid. You may have an
                        incorrect resource ID.
                      resolution: Send a valid resource in your request
          '405':
            description: Unsupported method type (API-59)
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-59
                      description: The request method type is unsupported.
          '406':
            description: Unsupported Accept header
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-75
                      description: Invalid vendor media type.
                      resolution: >-
                        Please refer to our documentation and send the correct
                        vendor media type
          '500':
            description: Internal Server Error.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-1
                      description: Internal Server Error.
                      resolution: Please contact Paychex API Developer Center Support.
      post:
        tags:
          - Company
        summary: Custom Field
        description: >-
          Create CustomFields at the company level which a company could be
          assigned.
        operationId: createCompanyCustomFields
        parameters:
          - name: companyId
            in: path
            description: ID associated with desired company.
            required: true
            schema:
              type: string
        requestBody:
          content:
            application/vnd.paychex.company.customfields.v1+json:
              schema:
                $ref: '#/components/schemas/CustomFieldsResource'
              examples:
                CompanyCusomFields:
                  $ref: '#/components/examples/JSONEXAMPLES/value/C_CFIELDS_POST_REQ'
            application/json:
              schema:
                $ref: '#/components/schemas/CustomFieldsResource'
              examples:
                CompCusomFieldsDef:
                  $ref: '#/components/examples/JSONEXAMPLES/value/C_CFIELDS_POST_REQ'
          required: true
        responses:
          '201':
            description: successful operation
            content:
              application/vnd.paychex.company.customfields.v1+json:
                schema:
                  $ref: '#/components/schemas/CustomFieldsResource'
                examples:
                  CompaniesCustomFields:
                    $ref: '#/components/examples/JSONEXAMPLES/value/C_CFIELDS_POST_RES'
              application/json:
                schema:
                  $ref: '#/components/schemas/CustomFieldsResource'
                examples:
                  defaultResponse:
                    $ref: '#/components/examples/JSONEXAMPLES/value/C_CFIELDS_POST_RES'
          '400':
            description: The value for the one of the field is invalid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-40
                      description: The request isn't valid.
                      resolution: Please send the valid request
          '401':
            description: Unauthorized
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-102
                      description: >-
                        The client could not be authenticated due to missing or
                        invalid client credentials.
                      resolution: >-
                        Make sure that you are using the correct API key/Secret
                        and that your application is enabled.
          '403':
            description: >-
              User doesn't have access to this endpoint (API-2), Client has been
              end dated (API-68)
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-2
                      description: >-
                        Your application is not authorized to access the 
                        resource.
                      resolution: >-
                        Please have your company administrator give your
                        application access to the resource.
          '404':
            description: Invalid resource ID (API-7)
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-7
                      description: >-
                        The resource or status is invalid. You may have an
                        incorrect resource ID.
                      resolution: Send a valid resource in your request
          '405':
            description: Unsupported method type (API-59)
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-59
                      description: The request method type is unsupported.
          '406':
            description: Unsupported Accept header
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-75
                      description: Invalid vendor media type.
                      resolution: >-
                        Please refer to our documentation and send the correct
                        vendor media type
          '500':
            description: Internal Server Error.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-1
                      description: Internal Server Error.
                      resolution: Please contact Paychex API Developer Center Support.
    /companies/{companyId}/customfields/{customFieldId}:
      get:
        tags:
          - Company
        summary: Custom Field
        description: Information about a single CustomField.
        operationId: getCompanyCustomFieldById
        parameters:
          - name: companyId
            in: path
            description: ID associated with desired company.
            required: true
            schema:
              type: string
          - name: customFieldId
            in: path
            description: ID associated with desired custom field.
            required: true
            schema:
              type: string
        responses:
          '200':
            description: successful operation
            content:
              application/vnd.paychex.company.customfield.v1+json:
                schema:
                  $ref: '#/components/schemas/CustomFieldsResource'
                examples:
                  CompaniesCustomfield:
                    $ref: >-
                      #/components/examples/JSONEXAMPLES/value/COMPANIES_CUSTOMFIELD_GET
              application/json:
                schema:
                  $ref: '#/components/schemas/CustomFieldsResource'
                examples:
                  defaultResponse:
                    $ref: >-
                      #/components/examples/JSONEXAMPLES/value/COMPANIES_CUSTOMFIELD_GET
          '401':
            description: Unauthorized
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-102
                      description: >-
                        The client could not be authenticated due to missing or
                        invalid client credentials.
                      resolution: >-
                        Make sure that you are using the correct API key/Secret
                        and that your application is enabled.
          '403':
            description: >-
              User doesn't have access to this endpoint (API-2), Client has been
              end dated (API-68)
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-2
                      description: >-
                        Your application is not authorized to access the 
                        resource.
                      resolution: >-
                        Please have your company administrator give your
                        application access to the resource.
          '404':
            description: Invalid resource ID (API-7)
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-7
                      description: >-
                        The resource or status is invalid. You may have an
                        incorrect resource ID.
                      resolution: Send a valid resource in your request
          '405':
            description: Unsupported method type (API-59)
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-59
                      description: The request method type is unsupported.
          '406':
            description: Unsupported Accept header
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-75
                      description: Invalid vendor media type.
                      resolution: >-
                        Please refer to our documentation and send the correct
                        vendor media type
          '500':
            description: Internal Server Error.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-1
                      description: Internal Server Error.
                      resolution: Please contact Paychex API Developer Center Support.
    /companies/{companyId}/customfields/{customfieldid}:
      delete:
        tags:
          - Company
        summary: Custom Field
        description: Delete CustomField at the company level.
        operationId: deleteCompanyCustomField
        parameters:
          - name: companyId
            in: path
            description: ID associated with desired company.
            required: true
            schema:
              type: string
          - name: customfieldid
            in: path
            description: ID associated with desired custom field.
            required: true
            schema:
              type: string
        responses:
          '204':
            description: successful operation
          '400':
            description: The value for the one of the field is invalid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-40
                      description: The request isn't valid.
                      resolution: Please send the valid request
          '401':
            description: Unauthorized
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-102
                      description: >-
                        The client could not be authenticated due to missing or
                        invalid client credentials.
                      resolution: >-
                        Make sure that you are using the correct API key/Secret
                        and that your application is enabled.
          '403':
            description: >-
              User doesn't have access to this endpoint (API-2), Client has been
              end dated (API-68)
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-2
                      description: >-
                        Your application is not authorized to access the 
                        resource.
                      resolution: >-
                        Please have your company administrator give your
                        application access to the resource.
          '404':
            description: Invalid resource ID (API-7)
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-7
                      description: >-
                        The resource or status is invalid. You may have an
                        incorrect resource ID.
                      resolution: Send a valid resource in your request
          '405':
            description: Unsupported method type (API-59)
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-59
                      description: The request method type is unsupported.
          '406':
            description: Unsupported Accept header
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-75
                      description: Invalid vendor media type.
                      resolution: >-
                        Please refer to our documentation and send the correct
                        vendor media type
          '500':
            description: Internal Server Error.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-1
                      description: Internal Server Error.
                      resolution: Please contact Paychex API Developer Center Support.
      patch:
        tags:
          - Company
        summary: Custom Field
        description: >-
          Update CustomFields at the company level which a company could be
          assigned.
        operationId: updateCompanyCustomField
        parameters:
          - name: companyId
            in: path
            description: ID associated with desired company.
            required: true
            schema:
              type: string
          - name: customfieldid
            in: path
            description: ID associated with desired custom field.
            required: true
            schema:
              type: string
        requestBody:
          content:
            application/vnd.paychex.company.customfields.v1+json:
              schema:
                $ref: '#/components/schemas/CustomFieldsResource'
              examples:
                CompanyCusomFields:
                  $ref: '#/components/examples/JSONEXAMPLES/value/C_CFIELDS_POST_REQ'
          required: true
        responses:
          '200':
            description: successful operation
            content:
              application/vnd.paychex.company.customfields.v1+json:
                schema:
                  $ref: '#/components/schemas/CustomFieldsResource'
                examples:
                  CompaniesCustomFields:
                    $ref: '#/components/examples/JSONEXAMPLES/value/C_CFIELDS_POST_RES'
              application/json:
                schema:
                  $ref: '#/components/schemas/CustomFieldsResource'
                examples:
                  defaultResponse:
                    $ref: '#/components/examples/JSONEXAMPLES/value/C_CFIELDS_POST_RES'
          '400':
            description: The value for the one of the field is invalid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-40
                      description: The request isn't valid.
                      resolution: Please send the valid request
          '401':
            description: Unauthorized
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-102
                      description: >-
                        The client could not be authenticated due to missing or
                        invalid client credentials.
                      resolution: >-
                        Make sure that you are using the correct API key/Secret
                        and that your application is enabled.
          '403':
            description: >-
              User doesn't have access to this endpoint (API-2), Client has been
              end dated (API-68)
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-2
                      description: >-
                        Your application is not authorized to access the 
                        resource.
                      resolution: >-
                        Please have your company administrator give your
                        application access to the resource.
          '404':
            description: Invalid resource ID (API-7)
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-7
                      description: >-
                        The resource or status is invalid. You may have an
                        incorrect resource ID.
                      resolution: Send a valid resource in your request
          '405':
            description: Unsupported method type (API-59)
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-59
                      description: The request method type is unsupported.
          '406':
            description: Unsupported Accept header
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-75
                      description: Invalid vendor media type.
                      resolution: >-
                        Please refer to our documentation and send the correct
                        vendor media type
          '500':
            description: Internal Server Error.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-1
                      description: Internal Server Error.
                      resolution: Please contact Paychex API Developer Center Support.
    /companies/{companyId}/customfieldscategories:
      get:
        tags:
          - Company
        summary: Custom Fields Categories
        description: 'Array of CustomFieldsCategories Configured at the company level '
        operationId: getCompanyCustomfieldscategories
        parameters:
          - name: companyId
            in: path
            description: ID associated with desired company.
            required: true
            schema:
              type: string
        responses:
          '200':
            description: successful operation
            content:
              application/vnd.paychex.company.customfieldscategories.v1+json:
                schema:
                  $ref: '#/components/schemas/CustomFieldsCategoryResource'
                examples:
                  CompaniesCustomfieldsCategories:
                    $ref: >-
                      #/components/examples/JSONEXAMPLES/value/COMPANIES_CUSTOMCATEGORIES_GET
              application/json:
                schema:
                  $ref: '#/components/schemas/CustomFieldsCategoryResource'
                examples:
                  defaultResponse:
                    $ref: >-
                      #/components/examples/JSONEXAMPLES/value/COMPANIES_CUSTOMCATEGORIES_GET
          '401':
            description: Unauthorized
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-102
                      description: >-
                        The client could not be authenticated due to missing or
                        invalid client credentials.
                      resolution: >-
                        Make sure that you are using the correct API key/Secret
                        and that your application is enabled.
          '403':
            description: >-
              User doesn't have access to this endpoint (API-2), Client has been
              end dated (API-68)
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-2
                      description: >-
                        Your application is not authorized to access the 
                        resource.
                      resolution: >-
                        Please have your company administrator give your
                        application access to the resource.
          '404':
            description: Invalid resource ID (API-7)
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-7
                      description: >-
                        The resource or status is invalid. You may have an
                        incorrect resource ID.
                      resolution: Send a valid resource in your request
          '405':
            description: Unsupported method type (API-59)
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-59
                      description: The request method type is unsupported.
          '406':
            description: Unsupported Accept header
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-75
                      description: Invalid vendor media type.
                      resolution: >-
                        Please refer to our documentation and send the correct
                        vendor media type
          '500':
            description: Internal Server Error.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-1
                      description: Internal Server Error.
                      resolution: Please contact Paychex API Developer Center Support.
      post:
        tags:
          - Company
        summary: Custom Fields Category
        description: >-
          Create CustomFieldsCategory at the company level which a company could
          be assigned.
        operationId: createCompanyCustomFieldsCategory
        parameters:
          - name: companyId
            in: path
            description: ID associated with desired company.
            required: true
            schema:
              type: string
        requestBody:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomFieldsCategoryResource'
            application/vnd.paychex.company.customfieldscategories.v1+json:
              schema:
                $ref: '#/components/schemas/CustomFieldsCategoryResource'
          required: true
        responses:
          '201':
            description: successful operation
            content:
              application/vnd.paychex.company.customfieldscategories.v1+json:
                schema:
                  $ref: '#/components/schemas/CustomFieldsCategoryResource'
                examples:
                  PostCompaniesCustomfieldsCategory:
                    $ref: >-
                      #/components/examples/JSONEXAMPLES/value/COMPANIES_CUSTOMCATEGORY_GET
              application/json:
                schema:
                  $ref: '#/components/schemas/CustomFieldsCategoryResource'
                examples:
                  defaultResponse:
                    $ref: >-
                      #/components/examples/JSONEXAMPLES/value/COMPANIES_CUSTOMCATEGORY_GET
          '400':
            description: The value for the one of the field is invalid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-40
                      description: The request isn't valid.
                      resolution: Please send the valid request
          '401':
            description: Unauthorized
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-102
                      description: >-
                        The client could not be authenticated due to missing or
                        invalid client credentials.
                      resolution: >-
                        Make sure that you are using the correct API key/Secret
                        and that your application is enabled.
          '403':
            description: >-
              User doesn't have access to this endpoint (API-2), Client has been
              end dated (API-68)
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-2
                      description: >-
                        Your application is not authorized to access the 
                        resource.
                      resolution: >-
                        Please have your company administrator give your
                        application access to the resource.
          '404':
            description: Invalid resource ID (API-7)
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-7
                      description: >-
                        The resource or status is invalid. You may have an
                        incorrect resource ID.
                      resolution: Send a valid resource in your request
          '405':
            description: Unsupported method type (API-59)
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-59
                      description: The request method type is unsupported.
          '406':
            description: Unsupported Accept header
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-75
                      description: Invalid vendor media type.
                      resolution: >-
                        Please refer to our documentation and send the correct
                        vendor media type
          '500':
            description: Internal Server Error.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-1
                      description: Internal Server Error.
                      resolution: Please contact Paychex API Developer Center Support.
    /companies/{companyId}/customfieldscategories/{categoryId}:
      get:
        tags:
          - Company
        summary: Custom Fields Category
        description: Information about a single CustomFieldsCategory.
        operationId: getCompanyCustomfieldscategory
        parameters:
          - name: companyId
            in: path
            description: ID associated with desired company.
            required: true
            schema:
              type: string
          - name: categoryId
            in: path
            description: ID associated with desired category.
            required: true
            schema:
              type: string
        responses:
          '200':
            description: successful operation
            content:
              application/vnd.paychex.company.customfieldscategory.v1+json:
                schema:
                  $ref: '#/components/schemas/CustomFieldsCategoryResource'
                examples:
                  CompaniesCustomfieldsCategory:
                    $ref: >-
                      #/components/examples/JSONEXAMPLES/value/COMPANIES_CUSTOMCATEGORY_GET
              application/json:
                schema:
                  $ref: '#/components/schemas/CustomFieldsCategoryResource'
                examples:
                  defaultResponse:
                    $ref: >-
                      #/components/examples/JSONEXAMPLES/value/COMPANIES_CUSTOMCATEGORY_GET
          '401':
            description: Unauthorized
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-102
                      description: >-
                        The client could not be authenticated due to missing or
                        invalid client credentials.
                      resolution: >-
                        Make sure that you are using the correct API key/Secret
                        and that your application is enabled.
          '403':
            description: >-
              User doesn't have access to this endpoint (API-2), Client has been
              end dated (API-68)
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-2
                      description: >-
                        Your application is not authorized to access the 
                        resource.
                      resolution: >-
                        Please have your company administrator give your
                        application access to the resource.
          '404':
            description: Invalid resource ID (API-7)
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-7
                      description: >-
                        The resource or status is invalid. You may have an
                        incorrect resource ID.
                      resolution: Send a valid resource in your request
          '405':
            description: Unsupported method type (API-59)
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-59
                      description: The request method type is unsupported.
          '406':
            description: Unsupported Accept header
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-75
                      description: Invalid vendor media type.
                      resolution: >-
                        Please refer to our documentation and send the correct
                        vendor media type
          '500':
            description: Internal Server Error.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-1
                      description: Internal Server Error.
                      resolution: Please contact Paychex API Developer Center Support.
    /companies/{companyId}/customfieldscategories/{categoryid}:
      delete:
        tags:
          - Company
        summary: Custom Fields Category
        description: Delete CustomFieldsCategory at the company level.
        operationId: deleteCompanyCustomFieldsCategory
        parameters:
          - name: companyId
            in: path
            description: ID associated with desired company.
            required: true
            schema:
              type: string
          - name: categoryid
            in: path
            description: ID associated with desired category.
            required: true
            schema:
              type: string
        responses:
          '204':
            description: successful operation
          '401':
            description: Unauthorized
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-102
                      description: >-
                        The client could not be authenticated due to missing or
                        invalid client credentials.
                      resolution: >-
                        Make sure that you are using the correct API key/Secret
                        and that your application is enabled.
          '403':
            description: >-
              User doesn't have access to this endpoint (API-2), Client has been
              end dated (API-68)
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-2
                      description: >-
                        Your application is not authorized to access the 
                        resource.
                      resolution: >-
                        Please have your company administrator give your
                        application access to the resource.
          '404':
            description: Invalid resource ID (API-7)
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-7
                      description: >-
                        The resource or status is invalid. You may have an
                        incorrect resource ID.
                      resolution: Send a valid resource in your request
          '405':
            description: Unsupported method type (API-59)
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-59
                      description: The request method type is unsupported.
          '406':
            description: Unsupported Accept header
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-75
                      description: Invalid vendor media type.
                      resolution: >-
                        Please refer to our documentation and send the correct
                        vendor media type
          '500':
            description: Internal Server Error.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-1
                      description: Internal Server Error.
                      resolution: Please contact Paychex API Developer Center Support.
      patch:
        tags:
          - Company
        summary: Custom Fields Category
        description: Update  CustomFieldsCategory at the company level.
        operationId: updateCompanyCustomFieldsCategory
        parameters:
          - name: companyId
            in: path
            description: ID associated with desired company.
            required: true
            schema:
              type: string
          - name: categoryid
            in: path
            description: ID associated with desired custom field.
            required: true
            schema:
              type: string
        requestBody:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomFieldsCategoryResource'
            application/vnd.paychex.company.customfieldscategory.v1+json:
              schema:
                $ref: '#/components/schemas/CustomFieldsCategoryResource'
          required: true
        responses:
          '200':
            description: successful operation
            content:
              application/vnd.paychex.company.customfieldscategories.v1+json:
                schema:
                  $ref: '#/components/schemas/CustomFieldsCategoryResource'
                examples:
                  UpdateCompaniesCustomfieldsCategory:
                    $ref: >-
                      #/components/examples/JSONEXAMPLES/value/COMPANIES_CUSTOMCATEGORY_GET
              application/json:
                schema:
                  $ref: '#/components/schemas/CustomFieldsCategoryResource'
                examples:
                  defaultResponse:
                    $ref: >-
                      #/components/examples/JSONEXAMPLES/value/COMPANIES_CUSTOMCATEGORY_GET
          '401':
            description: Unauthorized
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-102
                      description: >-
                        The client could not be authenticated due to missing or
                        invalid client credentials.
                      resolution: >-
                        Make sure that you are using the correct API key/Secret
                        and that your application is enabled.
          '403':
            description: >-
              User doesn't have access to this endpoint (API-2), Client has been
              end dated (API-68)
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-2
                      description: >-
                        Your application is not authorized to access the 
                        resource.
                      resolution: >-
                        Please have your company administrator give your
                        application access to the resource.
          '404':
            description: Invalid resource ID (API-7)
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-7
                      description: >-
                        The resource or status is invalid. You may have an
                        incorrect resource ID.
                      resolution: Send a valid resource in your request
          '405':
            description: Unsupported method type (API-59)
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-59
                      description: The request method type is unsupported.
          '406':
            description: Unsupported Accept header
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-75
                      description: Invalid vendor media type.
                      resolution: >-
                        Please refer to our documentation and send the correct
                        vendor media type
          '500':
            description: Internal Server Error.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-1
                      description: Internal Server Error.
                      resolution: Please contact Paychex API Developer Center Support.
    /companies/{companyId}/jobs:
      get:
        tags:
          - Company
        summary: Company Jobs
        description: Array of jobs set at the company level.
        operationId: getCompanyJobs
        parameters:
          - name: companyId
            in: path
            description: The ID of the company.
            required: true
            schema:
              type: string
          - name: asof
            in: query
            description: Returns all jobs as of the date used in the request.
            required: false
            schema:
              type: string
            example: '2020-01-04T00:00:00Z'
        responses:
          '200':
            description: successful operation
            content:
              application/vnd.paychex.company.jobs.v1+json:
                schema:
                  $ref: '#/components/schemas/JobResource'
                examples:
                  CompaniesJobs:
                    $ref: '#/components/examples/JSONEXAMPLES/value/COMPANIES_JOBS_GET'
              application/json:
                schema:
                  $ref: '#/components/schemas/JobResource'
                examples:
                  defaultResponse:
                    $ref: '#/components/examples/JSONEXAMPLES/value/COMPANIES_JOBS_GET'
          '401':
            description: Unauthorized
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-102
                      description: >-
                        The client could not be authenticated due to missing or
                        invalid client credentials.
                      resolution: >-
                        Make sure that you are using the correct API key/Secret
                        and that your application is enabled.
          '403':
            description: >-
              User doesn't have access to this endpoint (API-2), Client has been
              end dated (API-68)
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-2
                      description: >-
                        Your application is not authorized to access the 
                        resource.
                      resolution: >-
                        Please have your company administrator give your
                        application access to the resource.
          '404':
            description: Invalid resource ID (API-7)
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-7
                      description: >-
                        The resource or status is invalid. You may have an
                        incorrect resource ID.
                      resolution: Send a valid resource in your request
          '405':
            description: Unsupported method type (API-59)
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-59
                      description: The request method type is unsupported.
          '406':
            description: Unsupported Accept header
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-75
                      description: Invalid vendor media type.
                      resolution: >-
                        Please refer to our documentation and send the correct
                        vendor media type
          '500':
            description: Internal Server Error.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-1
                      description: Internal Server Error.
                      resolution: Please contact Paychex API Developer Center Support.
      post:
        tags:
          - Company
        summary: Company Job
        description: >-
          Add a company level job. If a client has their job numbering structured
          in 2-3 separate 'segments', you may need to first do a GET on the
          jobsegements endpoint, so you can see how many segments and the
          character length of each segment, as well as the name of those segments,
          which you will need to have before you POST.
        operationId: createCompanyJobs
        parameters:
          - name: companyId
            in: path
            description: The ID of the company.
            required: true
            schema:
              type: string
        requestBody:
          content:
            application/vnd.paychex.company.jobs.v1+json:
              schema:
                $ref: '#/components/schemas/JobResource'
              examples:
                CompanyJobs:
                  $ref: >-
                    #/components/examples/JSONEXAMPLES/value/COMPANIES_JOBS_POST_REQ
          required: true
        responses:
          '201':
            description: successful operation
            content:
              application/vnd.paychex.company.jobs.v1+json:
                schema:
                  $ref: '#/components/schemas/JobResource'
                examples:
                  CompaniesJobs:
                    $ref: >-
                      #/components/examples/JSONEXAMPLES/value/COMPANIES_JOBS_POST_RES
              application/json:
                schema:
                  $ref: '#/components/schemas/JobResource'
                examples:
                  defaultResponse:
                    $ref: >-
                      #/components/examples/JSONEXAMPLES/value/COMPANIES_JOBS_POST_RES
          '400':
            description: >-
              Invalid resource or field,The request cannot be performed since the
              worker is in a state which does not allow this action(API-19)
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                examples:
                  resorce Not Found:
                    description: resorce Not Found
                    value:
                      errors:
                        - code: API-40
                          description: The request isn't valid.
                          resolution: Please send the valid request
          '403':
            description: >-
              User doesn't have access to this endpoint (API-2), Client has been
              end dated (API-68)
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-2
                      description: >-
                        Your application is not authorized to access the 
                        resource.
                      resolution: >-
                        Please have your company administrator give your
                        application access to the resource.
          '404':
            description: Invalid resource ID (API-7)
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-7
                      description: >-
                        The resource or status is invalid. You may have an
                        incorrect resource ID.
                      resolution: Send a valid resource in your request
          '405':
            description: Unsupported method type (API-59)
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-59
                      description: The request method type is unsupported.
          '406':
            description: Unsupported Accept header
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-75
                      description: Invalid vendor media type.
                      resolution: >-
                        Please refer to our documentation and send the correct
                        vendor media type
          '500':
            description: Internal Server Error.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-1
                      description: Internal Server Error.
                      resolution: Please contact Paychex API Developer Center Support.
    /companies/{companyId}/jobs/{jobId}:
      get:
        tags:
          - Company
        summary: Company Job
        description: Information about a single Job.
        operationId: getCompanyJob
        parameters:
          - name: companyId
            in: path
            description: The ID of the company.
            required: true
            schema:
              type: string
          - name: jobId
            in: path
            description: The ID of the job.
            required: true
            schema:
              type: string
          - name: asof
            in: query
            description: Returns job as of the date used in the request.
            required: false
            schema:
              type: string
            example: '2020-01-04T00:00:00Z'
        responses:
          '200':
            description: successful operation
            content:
              application/vnd.paychex.company.job.v1+json:
                schema:
                  $ref: '#/components/schemas/JobResource'
                examples:
                  CompaniesJob:
                    $ref: '#/components/examples/JSONEXAMPLES/value/COMPANIES_JOB_GET'
              application/json:
                schema:
                  $ref: '#/components/schemas/JobResource'
                examples:
                  defaultResponse:
                    $ref: '#/components/examples/JSONEXAMPLES/value/COMPANIES_JOB_GET'
          '401':
            description: Unauthorized
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-102
                      description: >-
                        The client could not be authenticated due to missing or
                        invalid client credentials.
                      resolution: >-
                        Make sure that you are using the correct API key/Secret
                        and that your application is enabled.
          '403':
            description: >-
              User doesn't have access to this endpoint (API-2), Client has been
              end dated (API-68)
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-2
                      description: >-
                        Your application is not authorized to access the 
                        resource.
                      resolution: >-
                        Please have your company administrator give your
                        application access to the resource.
          '404':
            description: Invalid resource ID (API-7)
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-7
                      description: >-
                        The resource or status is invalid. You may have an
                        incorrect resource ID.
                      resolution: Send a valid resource in your request
          '405':
            description: Unsupported method type (API-59)
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-59
                      description: The request method type is unsupported.
          '406':
            description: Unsupported Accept header
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-75
                      description: Invalid vendor media type.
                      resolution: >-
                        Please refer to our documentation and send the correct
                        vendor media type
          '500':
            description: Internal Server Error.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-1
                      description: Internal Server Error.
                      resolution: Please contact Paychex API Developer Center Support.
      patch:
        tags:
          - Company
        summary: Company Job
        description: Update a single Job.
        operationId: updateCompanyJobs
        parameters:
          - name: companyId
            in: path
            description: The ID of the company.
            required: true
            schema:
              type: string
          - name: jobId
            in: path
            description: The ID of the job.
            required: true
            schema:
              type: string
        requestBody:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobResource'
            application/vnd.paychex.company.jobs.v1+json:
              schema:
                $ref: '#/components/schemas/JobResource'
          required: true
        responses:
          '200':
            description: successful operation
            content:
              application/vnd.paychex.company.jobs.v1+json:
                schema:
                  $ref: '#/components/schemas/JobResource'
                examples:
                  UpdateCompaniesJobs:
                    $ref: >-
                      #/components/examples/JSONEXAMPLES/value/COMPANIES_JOBS_POST_RES
              application/json:
                schema:
                  $ref: '#/components/schemas/JobResource'
                examples:
                  defaultResponse:
                    $ref: >-
                      #/components/examples/JSONEXAMPLES/value/COMPANIES_JOBS_POST_RES
          '401':
            description: Unauthorized
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-102
                      description: >-
                        The client could not be authenticated due to missing or
                        invalid client credentials.
                      resolution: >-
                        Make sure that you are using the correct API key/Secret
                        and that your application is enabled.
          '403':
            description: >-
              User doesn't have access to this endpoint (API-2), Client has been
              end dated (API-68)
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-2
                      description: >-
                        Your application is not authorized to access the 
                        resource.
                      resolution: >-
                        Please have your company administrator give your
                        application access to the resource.
          '404':
            description: Invalid resource ID (API-7)
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-7
                      description: >-
                        The resource or status is invalid. You may have an
                        incorrect resource ID.
                      resolution: Send a valid resource in your request
          '405':
            description: Unsupported method type (API-59)
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-59
                      description: The request method type is unsupported.
          '406':
            description: Unsupported Accept header
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-75
                      description: Invalid vendor media type.
                      resolution: >-
                        Please refer to our documentation and send the correct
                        vendor media type
          '500':
            description: Internal Server Error.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ErrorResource'
                example:
                  errors:
                    - code: API-1
                      description: Internal Server Error.
                      resolution: Please contact Paychex API Developer Center Support.
    /companies/{companyId}/jobsegments:
      get:
        tags:
          - Company
        summary: Company Job Segments
        description: >-
          Retrieve job segment structure setup for this client. This endpoint is
          only available if the client has their job numbering set up in '2-3
[...]
