publishJson:
  company: Stark Bank
  serviceName: false
  sdkName: stark-bank-{language}-sdk
  clientName: StarkBank
  metaDescription: >-
    Nós somos um challenger bank focado em enterprise no Brasil.


    Tudo que fazemos é para impulsionar empresas e empreendedores a desafiarem o
    status quo e mudarem o Brasil para melhor.
  apiStatusUrls: inherit
  homepage: starkbank.com/en
  developerDocumentation: www.starkbank.com/docs/api
  categories:
    - fintech
    - banking
    - boletos
    - open_banking
rawSpecString: |
  openapi: 3.0.0
  info:
    title: Stark Bank API
    version: v2
    description: Stark Bank API for financial services in Brazil
    contact:
      email: help@starkbank.com
      name: Stark Bank Developers
      url: https://starkbank.com
    license:
      name: Stark Bank License
  externalDocs:
    url: https://starkbank.com/docs/api
    description: StarkBank API documentation
  servers:
    - url: https://sandbox.api.starkbank.com/
    - url: https://api.starkbank.com/
  paths:
    /transaction:
      post:
        summary: Create transactions
        requestBody:
          description: Transactions to be created
          required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transactions'
        operationId: createTransaction
        tags:
          - transaction
        responses:
          '200':
            description: Created transactions
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Transactions'
          '400':
            description: Input error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          '500':
            description: Internal server error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          default:
            description: Unexpected error
      get:
        summary: List transactions
        operationId: listTransactions
        tags:
          - transaction
        parameters:
          - name: cursor
            in: query
            description: String used to get the next batch of results.
            required: false
            schema:
              type: string
              format: byte
          - name: limit
            in: query
            description: Number of results per cursor. Max = 100.
            required: false
            schema:
              type: integer
              minimum: 1
              maximum: 100
          - name: fields
            in: query
            description: List of strings to filter response JSON keys.
            required: false
            schema:
              type: array
              items:
                type: string
          - name: after
            in: query
            description: Filter entities created after this date.
            required: false
            schema:
              type: string
              format: date
          - name: before
            in: query
            description: Filter entities created before this date.
            required: false
            schema:
              type: string
              format: date
          - name: tags
            in: query
            description: Filter entities that contain the specified tags.
            required: false
            schema:
              type: array
              items:
                type: string
          - name: externalIds
            in: query
            description: List of strings to get specific entities by externalIds.
            required: false
            schema:
              type: array
              items:
                type: string
        responses:
          '200':
            description: A paged array of transactions and the next page cursor
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Transactions'
          '400':
            description: Input error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          '500':
            description: Internal server error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          default:
            description: Unexpected error
    /transaction/{transactionId}:
      get:
        summary: Get transaction by ID
        operationId: getTransaction
        tags:
          - transaction
        parameters:
          - name: transactionId
            in: path
            description: Transaction unique identifier.
            required: true
            schema:
              type: string
              format: ^\d{16}$
          - name: fields
            in: query
            description: List of strings to filter response JSON keys.
            required: false
            schema:
              type: array
              items:
                type: string
        responses:
          '200':
            description: Updated transaction json
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/TransactionInfo'
          '400':
            description: Input error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          '500':
            description: Internal server error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          default:
            description: Unexpected error
    /balance:
      get:
        summary: List balances
        operationId: listBalances
        tags:
          - balance
        responses:
          '200':
            description: An array of balances and the next page cursor
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Balances'
          '400':
            description: Input error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          '500':
            description: Internal server error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          default:
            description: Unexpected error
    /transfer:
      post:
        summary: Create transfers
        requestBody:
          description: Transfers to be created
          required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transfers'
        operationId: createTransfers
        tags:
          - transfer
        responses:
          '200':
            description: Created transfers
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Transfers'
          '400':
            description: Input error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          '500':
            description: Internal server error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          default:
            description: Unexpected error
      get:
        summary: List transfers
        operationId: listTransfers
        tags:
          - transfer
        parameters:
          - name: cursor
            in: query
            description: String used to get the next batch of results.
            required: false
            schema:
              type: string
              format: byte
          - name: limit
            in: query
            description: Number of results per cursor. Max = 100.
            required: false
            schema:
              type: integer
              minimum: 1
              maximum: 100
          - name: fields
            in: query
            description: List of strings to filter response JSON keys.
            required: false
            schema:
              type: array
              items:
                type: string
          - name: after
            in: query
            description: Filter entities created after this date.
            required: false
            schema:
              type: string
              format: date
          - name: before
            in: query
            description: Filter entities created before this date.
            required: false
            schema:
              type: string
              format: date
          - name: transactionIds
            in: query
            description: Filter entities that are linked to the specified transactions.
            required: false
            schema:
              type: array
              items:
                type: string
          - name: status
            in: query
            description: Filter boletos by the specified status.
            required: false
            schema:
              type: string
          - name: taxId
            in: query
            description: Filter transfers sent to the specified taxId.
            required: false
            schema:
              type: string
              pattern: >-
                ^((\d{3}\.\d{3}\.\d{3}\-\d{2})|(\d{11})|(\d{2}\.\d{3}\.\d{3}\/\d{4}\-\d{2})|(\d{14}))$
          - name: sort
            in: query
            description: >-
              Sort entities by the specified sort order. Options are "-created",
              "created", "-updated", "updated".
            required: false
            schema:
              type: string
          - name: tags
            in: query
            description: Filter entities that contain the specified tags.
            required: false
            schema:
              type: array
              items:
                type: string
          - name: ids
            in: query
            description: List of strings to get specific entities by ids.
            required: false
            schema:
              type: array
              items:
                type: string
        responses:
          '200':
            description: A paged array of transfers and the next page cursor
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Transfers'
          '400':
            description: Input error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          '500':
            description: Internal server error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          default:
            description: Unexpected error
    /transfer/{transferId}:
      get:
        summary: Get transfer by ID
        operationId: getTransfer
        tags:
          - transfer
        parameters:
          - name: transferId
            in: path
            description: Transfer unique identifier.
            required: true
            schema:
              type: string
              format: ^\d{16}$
          - name: fields
            in: query
            description: List of strings to filter response JSON keys.
            required: false
            schema:
              type: array
              items:
                type: string
        responses:
          '200':
            description: Updated transfer json
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/TransferInfo'
          '400':
            description: Input error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          '500':
            description: Internal server error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          default:
            description: Unexpected error
    /transfer/{transferId}/pdf:
      get:
        summary: Get transfer PDF receipt by ID
        operationId: getTransferPDF
        tags:
          - transfer
        parameters:
          - name: transferId
            in: path
            description: Transfer unique identifier.
            required: true
            schema:
              type: string
              format: ^\d{16}$
          - name: fields
            in: query
            description: List of strings to filter response JSON keys.
            required: false
            schema:
              type: array
              items:
                type: string
        responses:
          '200':
            description: Transfer PDF receipt blob
            content:
              application/json:
                schema:
                  type: string
                  format: binary
          '400':
            description: Input error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          '500':
            description: Internal server error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          default:
            description: Unexpected error
    /transfer/log:
      get:
        summary: List transfer logs
        operationId: listTransferLogs
        tags:
          - transfer
        parameters:
          - name: cursor
            in: query
            description: String used to get the next batch of results.
            required: false
            schema:
              type: string
              format: byte
          - name: limit
            in: query
            description: Number of results per cursor. Max = 100.
            required: false
            schema:
              type: integer
              minimum: 1
              maximum: 100
          - name: fields
            in: query
            description: List of strings to filter response JSON keys.
            required: false
            schema:
              type: array
              items:
                type: string
          - name: after
            in: query
            description: Filter entities created after this date.
            required: false
            schema:
              type: string
              format: date
          - name: before
            in: query
            description: Filter entities created before this date.
            required: false
            schema:
              type: string
              format: date
          - name: types
            in: query
            description: Filter logs by log types.
            required: false
            schema:
              type: array
              items:
                type: string
          - name: transferIds
            in: query
            description: Array of transfer ids that are linked to the desired logs.
            required: false
            schema:
              type: array
              items:
                type: string
        responses:
          '200':
            description: A paged array of transfer logs and the next page cursor
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/TransferLogs'
          '400':
            description: Input error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          '500':
            description: Internal server error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          default:
            description: Unexpected error
    /transfer/log/{logId}:
      get:
        summary: Get transfer log by ID
        operationId: getTransferLog
        tags:
          - transfer
        parameters:
          - name: logId
            in: path
            description: Log unique identifier.
            required: true
            schema:
              type: string
              format: ^\d{16}$
          - name: fields
            in: query
            description: List of strings to filter response JSON keys.
            required: false
            schema:
              type: array
              items:
                type: string
        responses:
          '200':
            description: Updated transfer log json
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/TransferLogInfo'
          '400':
            description: Input error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          '500':
            description: Internal server error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          default:
            description: Unexpected error
    /invoice:
      post:
        summary: Create invoices
        requestBody:
          description: Invoices to be created
          required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoices'
        operationId: createInvoices
        tags:
          - invoice
        responses:
          '200':
            description: Created invoices
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Invoices'
          '400':
            description: Input error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          '500':
            description: Internal server error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          default:
            description: Unexpected error
      get:
        summary: List invoices
        operationId: listInvoices
        tags:
          - invoice
        parameters:
          - name: cursor
            in: query
            description: String used to get the next batch of results.
            required: false
            schema:
              type: string
              format: byte
          - name: limit
            in: query
            description: Number of results per cursor. Max = 100.
            required: false
            schema:
              type: integer
              minimum: 1
              maximum: 100
          - name: fields
            in: query
            description: List of strings to filter response JSON keys.
            required: false
            schema:
              type: array
              items:
                type: string
          - name: after
            in: query
            description: Filter entities created after this date.
            required: false
            schema:
              type: string
              format: date
          - name: before
            in: query
            description: Filter entities created before this date.
            required: false
            schema:
              type: string
              format: date
          - name: status
            in: query
            description: Filter invoices by the specified status.
            required: false
            schema:
              type: string
          - name: tags
            in: query
            description: Filter entities that contain the specified tags.
            required: false
            schema:
              type: array
              items:
                type: string
          - name: ids
            in: query
            description: List of strings to get specific entities by ids.
            required: false
            schema:
              type: array
              items:
                type: string
        responses:
          '200':
            description: A paged array of invoices and the next page cursor
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Invoices'
          '400':
            description: Input error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          '500':
            description: Internal server error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          default:
            description: Unexpected error
    /invoice/{invoiceId}:
      get:
        summary: Get invoice by ID
        operationId: getInvoice
        tags:
          - invoice
        parameters:
          - name: invoiceId
            in: path
            description: Invoice unique identifier.
            required: true
            schema:
              type: string
              format: ^\d{16}$
          - name: fields
            in: query
            description: List of strings to filter response JSON keys.
            required: false
            schema:
              type: array
              items:
                type: string
        responses:
          '200':
            description: Updated invoice json
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/InvoiceInfo'
          '400':
            description: Input error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          '500':
            description: Internal server error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          default:
            description: Unexpected error
      patch:
        summary: Update or refund an invoice by ID
        operationId: patchInvoice
        tags:
          - invoice
        parameters:
          - name: invoiceId
            in: path
            description: Invoice unique identifier.
            required: true
            schema:
              type: string
              format: ^\d{16}$
        requestBody:
          description: Invoice fields to be patched
          required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoicePatch'
        responses:
          '200':
            description: Updated invoice json
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/InvoiceInfo'
          '400':
            description: Input error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          '500':
            description: Internal server error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          default:
            description: Unexpected error
    /invoice/{invoiceId}/pdf:
      get:
        summary: Get invoice PDF by ID
        operationId: getInvoicePDF
        tags:
          - invoice
        parameters:
          - name: invoiceId
            in: path
            description: Invoice unique identifier.
            required: true
            schema:
              type: string
              format: ^\d{16}$
          - name: fields
            in: query
            description: List of strings to filter response JSON keys.
            required: false
            schema:
              type: array
              items:
                type: string
        responses:
          '200':
            description: Invoice QR code
            content:
              application/json:
                schema:
                  type: string
                  format: binary
          '400':
            description: Input error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          '500':
            description: Internal server error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          default:
            description: Unexpected error
    /invoice/{invoiceId}/qrcode:
      get:
        summary: Get invoice QR Code by ID
        operationId: getInvoiceQRCode
        tags:
          - invoice
        parameters:
          - name: invoiceId
            in: path
            description: Invoice unique identifier.
            required: true
            schema:
              type: string
              format: ^\d{16}$
          - name: fields
            in: query
            description: List of strings to filter response JSON keys.
            required: false
            schema:
              type: array
              items:
                type: string
          - name: format
            in: query
            description: output file format
            required: false
            schema:
              type: string
        responses:
          '200':
            description: Invoice QR code
            content:
              application/json:
                schema:
                  type: string
                  format: binary
          '400':
            description: Input error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          '500':
            description: Internal server error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          default:
            description: Unexpected error
    /invoice/log:
      get:
        summary: List invoice logs
        operationId: listInvoiceLogs
        tags:
          - invoice
        parameters:
          - name: cursor
            in: query
            description: String used to get the next batch of results.
            required: false
            schema:
              type: string
              format: byte
          - name: limit
            in: query
            description: Number of results per cursor. Max = 100.
            required: false
            schema:
              type: integer
              minimum: 1
              maximum: 100
          - name: fields
            in: query
            description: List of strings to filter response JSON keys.
            required: false
            schema:
              type: array
              items:
                type: string
          - name: after
            in: query
            description: Filter entities created after this date.
            required: false
            schema:
              type: string
              format: date
          - name: before
            in: query
            description: Filter entities created before this date.
            required: false
            schema:
              type: string
              format: date
          - name: types
            in: query
            description: Filter logs by log types.
            required: false
            schema:
              type: array
              items:
                type: string
          - name: invoiceIds
            in: query
            description: Array of invoice ids that are linked to the desired logs.
            required: false
            schema:
              type: array
              items:
                type: string
        responses:
          '200':
            description: A paged array of invoice logs and the next page cursor
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/InvoiceLogs'
          '400':
            description: Input error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          '500':
            description: Internal server error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          default:
            description: Unexpected error
    /invoice/log/{logId}:
      get:
        summary: Get invoice log by ID
        operationId: getInvoiceLog
        tags:
          - invoice
        parameters:
          - name: logId
            in: path
            description: Log unique identifier.
            required: true
            schema:
              type: string
              format: ^\d{16}$
          - name: fields
            in: query
            description: List of strings to filter response JSON keys.
            required: false
            schema:
              type: array
              items:
                type: string
        responses:
          '200':
            description: Updated invoice log json
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/InvoiceLogInfo'
          '400':
            description: Input error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          '500':
            description: Internal server error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          default:
            description: Unexpected error
    /deposit:
      get:
        summary: List deposits
        operationId: listDeposits
        tags:
          - deposit
        parameters:
          - name: cursor
            in: query
            description: String used to get the next batch of results.
            required: false
            schema:
              type: string
              format: byte
          - name: limit
            in: query
            description: Number of results per cursor. Max = 100.
            required: false
            schema:
              type: integer
              minimum: 1
              maximum: 100
          - name: fields
            in: query
            description: List of strings to filter response JSON keys.
            required: false
            schema:
              type: array
              items:
                type: string
          - name: after
            in: query
            description: Filter entities created after this date.
            required: false
            schema:
              type: string
              format: date
          - name: before
            in: query
            description: Filter entities created before this date.
            required: false
            schema:
              type: string
              format: date
          - name: status
            in: query
            description: Filter deposits by the specified status.
            required: false
            schema:
              type: string
          - name: tags
            in: query
            description: Filter entities that contain the specified tags.
            required: false
            schema:
              type: array
              items:
                type: string
          - name: ids
            in: query
            description: List of strings to get specific entities by ids.
            required: false
            schema:
              type: array
              items:
                type: string
          - name: sort
            in: query
            description: >-
              Sort entities by the specified sort order. Options are "-created"
              and "created".
            required: false
            schema:
              type: string
        responses:
          '200':
            description: A paged array of deposits and the next page cursor
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Deposits'
          '400':
            description: Input error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          '500':
            description: Internal server error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          default:
            description: Unexpected error
    /deposit/{depositId}:
      get:
        summary: Get deposit by ID
        operationId: getDeposit
        tags:
          - deposit
        parameters:
          - name: depositId
            in: path
            description: Deposit unique identifier.
            required: true
            schema:
              type: string
              format: ^\d{16}$
          - name: fields
            in: query
            description: List of strings to filter response JSON keys.
            required: false
            schema:
              type: array
              items:
                type: string
        responses:
          '200':
            description: Updated deposit json
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/DepositInfo'
          '400':
            description: Input error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          '500':
            description: Internal server error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          default:
            description: Unexpected error
    /deposit/log:
      get:
        summary: List deposit logs
        operationId: listDepositLogs
        tags:
          - deposit
        parameters:
          - name: cursor
            in: query
            description: String used to get the next batch of results.
            required: false
            schema:
              type: string
              format: byte
          - name: limit
            in: query
            description: Number of results per cursor. Max = 100.
            required: false
            schema:
              type: integer
              minimum: 1
              maximum: 100
          - name: fields
            in: query
            description: List of strings to filter response JSON keys.
            required: false
            schema:
              type: array
              items:
                type: string
          - name: after
            in: query
            description: Filter entities created after this date.
            required: false
            schema:
              type: string
              format: date
          - name: before
            in: query
            description: Filter entities created before this date.
            required: false
            schema:
              type: string
              format: date
          - name: types
            in: query
            description: Filter logs by log types.
            required: false
            schema:
              type: array
              items:
                type: string
          - name: depositIds
            in: query
            description: Array of deposit ids that are linked to the desired logs.
            required: false
            schema:
              type: array
              items:
                type: string
        responses:
          '200':
            description: A paged array of deposit logs and the next page cursor
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/DepositLogs'
          '400':
            description: Input error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          '500':
            description: Internal server error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          default:
            description: Unexpected error
    /deposit/log/{logId}:
      get:
        summary: Get deposit log by ID
        operationId: getDepositLog
        tags:
          - deposit
        parameters:
          - name: logId
            in: path
            description: Log unique identifier.
            required: true
            schema:
              type: string
              format: ^\d{16}$
          - name: fields
            in: query
            description: List of strings to filter response JSON keys.
            required: false
            schema:
              type: array
              items:
                type: string
        responses:
          '200':
            description: Updated deposit log json
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/DepositLogInfo'
          '400':
            description: Input error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          '500':
            description: Internal server error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          default:
            description: Unexpected error
    /boleto:
      post:
        summary: Create boletos
        requestBody:
          description: Boletos to be created
          required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Boletos'
        operationId: createBoletos
        tags:
          - boleto
        responses:
          '200':
            description: Created boletos
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Boletos'
          '400':
            description: Input error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          '500':
            description: Internal server error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          default:
            description: Unexpected error
      get:
        summary: List boletos
        operationId: listBoletos
        tags:
          - boleto
        parameters:
          - name: cursor
            in: query
            description: String used to get the next batch of results.
            required: false
            schema:
              type: string
              format: byte
          - name: limit
            in: query
            description: Number of results per cursor. Max = 100.
            required: false
            schema:
              type: integer
              minimum: 1
              maximum: 100
          - name: fields
            in: query
            description: List of strings to filter response JSON keys.
            required: false
            schema:
              type: array
              items:
                type: string
          - name: after
            in: query
            description: Filter entities created after this date.
            required: false
            schema:
              type: string
              format: date
          - name: before
            in: query
            description: Filter entities created before this date.
            required: false
            schema:
              type: string
              format: date
          - name: status
            in: query
            description: Filter boletos by the specified status.
            required: false
            schema:
              type: string
          - name: tags
            in: query
            description: Filter entities that contain the specified tags.
            required: false
            schema:
              type: array
              items:
                type: string
          - name: ids
            in: query
            description: List of strings to get specific entities by ids.
            required: false
            schema:
              type: array
              items:
                type: string
        responses:
          '200':
            description: A paged array of boletos and the next page cursor
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Boletos'
          '400':
            description: Input error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          '500':
            description: Internal server error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          default:
            description: Unexpected error
    /boleto/{boletoId}:
      get:
        summary: Get boleto by ID
        operationId: getBoleto
        tags:
          - boleto
        parameters:
          - name: boletoId
            in: path
            description: Boleto unique identifier.
            required: true
            schema:
              type: string
              format: ^\d{16}$
          - name: fields
            in: query
            description: List of strings to filter response JSON keys.
            required: false
            schema:
              type: array
              items:
                type: string
        responses:
          '200':
            description: Updated boleto json
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/BoletoInfo'
          '400':
            description: Input error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          '500':
            description: Internal server error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          default:
            description: Unexpected error
      delete:
        summary: Cancel and delete a boleto by ID
        operationId: cancelAndDeleteBoleto
        tags:
          - boleto
        parameters:
          - name: boletoId
            in: path
            description: Boleto unique identifier.
            required: true
            schema:
              type: string
              format: ^\d{16}$
        responses:
          '200':
            description: Canceled/Deleted boleto json
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/BoletoInfo'
          '400':
            description: Input error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          '500':
            description: Internal server error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          default:
            description: Unexpected error
    /boleto/{boletoId}/pdf:
      get:
        summary: Get boleto PDF by ID
        operationId: getBoletoPDF
        tags:
          - boleto
        parameters:
          - name: boletoId
            in: path
            description: Boleto unique identifier.
            required: true
            schema:
              type: string
              format: ^\d{16}$
          - name: fields
            in: query
            description: List of strings to filter response JSON keys.
            required: false
            schema:
              type: array
              items:
                type: string
        responses:
          '200':
            description: Boleto PDF blob
            content:
              application/json:
                schema:
                  type: string
                  format: binary
          '400':
            description: Input error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          '500':
            description: Internal server error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          default:
            description: Unexpected error
    /boleto/log:
      get:
        summary: List boleto logs
        operationId: listBoletoLogs
        tags:
          - boleto
        parameters:
          - name: cursor
            in: query
            description: String used to get the next batch of results.
            required: false
            schema:
              type: string
              format: byte
          - name: limit
            in: query
            description: Number of results per cursor. Max = 100.
            required: false
            schema:
              type: integer
              minimum: 1
              maximum: 100
          - name: fields
            in: query
            description: List of strings to filter response JSON keys.
            required: false
            schema:
              type: array
              items:
                type: string
          - name: after
            in: query
            description: Filter entities created after this date.
            required: false
            schema:
              type: string
              format: date
          - name: before
            in: query
            description: Filter entities created before this date.
            required: false
            schema:
              type: string
              format: date
          - name: types
            in: query
            description: Filter logs by log types.
            required: false
            schema:
              type: array
              items:
                type: string
          - name: boletoIds
            in: query
            description: Array of boleto ids that are linked to the desired logs.
            required: false
            schema:
              type: array
              items:
                type: string
        responses:
          '200':
            description: A paged array of boleto logs and the next page cursor
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/BoletoLogs'
          '400':
            description: Input error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          '500':
            description: Internal server error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          default:
            description: Unexpected error
    /boleto/log/{logId}:
      get:
        summary: Get boleto log by ID
        operationId: getBoletoLog
        tags:
          - boleto
        parameters:
          - name: logId
            in: path
            description: Log unique identifier.
            required: true
            schema:
              type: string
              format: ^\d{16}$
          - name: fields
            in: query
            description: List of strings to filter response JSON keys.
            required: false
            schema:
              type: array
              items:
                type: string
        responses:
          '200':
            description: Updated boleto log json
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/BoletoLogInfo'
          '400':
            description: Input error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          '500':
            description: Internal server error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          default:
            description: Unexpected error
    /boleto-holmes:
      post:
        summary: Create boleto holmes
        requestBody:
          description: Holmes to be created
          required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BoletoHolmes'
        operationId: createBoletoHolmes
        tags:
          - boletoHolmes
        responses:
          '200':
            description: Created boleto holmes
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/BoletoHolmes'
          '400':
            description: Input error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          '500':
            description: Internal server error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          default:
            description: Unexpected error
      get:
        summary: List boleto holmes
        operationId: listBoletoHolmes
        tags:
          - boletoHolmes
        parameters:
          - name: cursor
            in: query
            description: String used to get the next batch of results.
            required: false
            schema:
              type: string
              format: byte
          - name: limit
            in: query
            description: Number of results per cursor. Max = 100.
            required: false
            schema:
              type: integer
              minimum: 1
              maximum: 100
          - name: fields
            in: query
            description: List of strings to filter response JSON keys.
            required: false
            schema:
              type: array
              items:
                type: string
          - name: after
            in: query
            description: Filter entities created after this date.
            required: false
            schema:
              type: string
              format: date
          - name: before
            in: query
            description: Filter entities created before this date.
            required: false
            schema:
              type: string
              format: date
          - name: tags
            in: query
            description: Filter entities that contain the specified tags.
            required: false
            schema:
              type: array
              items:
                type: string
          - name: ids
            in: query
            description: List of strings to get specific entities by ids.
            required: false
            schema:
              type: array
              items:
                type: string
          - name: status
            in: query
            description: Filter holmes by the specified status.
            required: false
            schema:
              type: string
          - name: boletoId
            in: query
            description: Filter holmes by the specified boleto.
            required: false
            schema:
              type: string
        responses:
          '200':
            description: A paged array of holmes and the next page cursor
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/BoletoHolmes'
          '400':
            description: Input error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          '500':
            description: Internal server error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          default:
            description: Unexpected error
    /boleto-holmes/{holmesId}:
      get:
        summary: Get boleto holmes by ID
        operationId: getBoletoHolmes
        tags:
          - boletoHolmes
        parameters:
          - name: holmesId
            in: path
            description: Holmes unique identifier.
            required: true
            schema:
              type: string
              format: ^\d{16}$
          - name: fields
            in: query
            description: List of strings to filter response JSON keys.
            required: false
            schema:
              type: array
              items:
                type: string
        responses:
          '200':
            description: Updated holmes json
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/BoletoHolmesInfo'
          '400':
            description: Input error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          '500':
            description: Internal server error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          default:
            description: Unexpected error
    /boleto-holmes/log:
      get:
        summary: List boleto holmes logs
        operationId: listBoletoHolmesLogs
        tags:
          - boletoHolmes
        parameters:
          - name: cursor
            in: query
            description: String used to get the next batch of results.
            required: false
            schema:
              type: string
              format: byte
          - name: limit
            in: query
            description: Number of results per cursor. Max = 100.
            required: false
            schema:
              type: integer
              minimum: 1
              maximum: 100
          - name: fields
            in: query
            description: List of strings to filter response JSON keys.
            required: false
            schema:
              type: array
              items:
                type: string
          - name: after
            in: query
            description: Filter entities created after this date.
            required: false
            schema:
              type: string
              format: date
          - name: before
            in: query
            description: Filter entities created before this date.
            required: false
            schema:
              type: string
              format: date
          - name: types
            in: query
            description: Filter logs by log types.
            required: false
            schema:
              type: array
              items:
                type: string
          - name: holmesIds
            in: query
            description: Array of holmes ids that are linked to the desired logs.
            required: false
            schema:
              type: array
              items:
                type: string
        responses:
          '200':
            description: A paged array of holmes logs and the next page cursor
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/BoletoHolmesLogs'
          '400':
            description: Input error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          '500':
            description: Internal server error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          default:
            description: Unexpected error
    /boleto-holmes/log/{logId}:
      get:
        summary: Get boleto holmes log by ID
        operationId: getBoletoHolmesLog
        tags:
          - boletoHolmes
        parameters:
          - name: logId
            in: path
            description: Log unique identifier.
            required: true
            schema:
              type: string
              format: ^\d{16}$
          - name: fields
            in: query
            description: List of strings to filter response JSON keys.
            required: false
            schema:
              type: array
              items:
                type: string
        responses:
          '200':
            description: Updated holmes log json
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/BoletoHolmesLogInfo'
          '400':
            description: Input error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          '500':
            description: Internal server error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          default:
            description: Unexpected error
    /brcode-preview:
      get:
        summary: Process BR Codes before creating BrcodePayments
        operationId: ListBrcodePreviews
        tags:
          - brcodePreview
        parameters:
          - name: fields
            in: query
            description: List of strings to filter response JSON keys.
            required: false
            schema:
              type: array
              items:
                type: string
          - name: brcodes
            in: query
            description: List of BR Codes to be processed.
            required: false
            schema:
              type: string
              format: date
        responses:
          '200':
            description: A paged array of previews
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/BrcodePreviews'
          '400':
            description: Input error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          '500':
            description: Internal server error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          default:
            description: Unexpected error
    /brcode-payment:
      post:
        summary: Create BR Code payments
        requestBody:
          description: Payments to be created
          required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrcodePayments'
        operationId: createBrcodePayments
        tags:
          - brcodePayment
        responses:
          '200':
            description: Created BR Code payments
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/BrcodePayments'
          '400':
            description: Input error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          '500':
            description: Internal server error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          default:
            description: Unexpected error
      get:
        summary: List BR Code payments
        operationId: listBrcodePayments
        tags:
          - brcodePayment
        parameters:
          - name: cursor
            in: query
            description: String used to get the next batch of results.
            required: false
            schema:
              type: string
              format: byte
          - name: limit
            in: query
            description: Number of results per cursor. Max = 100.
            required: false
            schema:
              type: integer
              minimum: 1
              maximum: 100
          - name: fields
            in: query
            description: List of strings to filter response JSON keys.
            required: false
            schema:
              type: array
              items:
                type: string
          - name: after
            in: query
            description: Filter entities created after this date.
            required: false
            schema:
              type: string
              format: date
          - name: before
            in: query
            description: Filter entities created before this date.
            required: false
            schema:
              type: string
              format: date
          - name: tags
            in: query
            description: Filter entities that contain the specified tags.
            required: false
            schema:
              type: array
              items:
                type: string
          - name: ids
            in: query
            description: List of strings to get specific entities by ids.
            required: false
            schema:
              type: array
              items:
                type: string
          - name: status
            in: query
            description: Filter payments by the specified status.
            required: false
            schema:
              type: string
        responses:
          '200':
            description: A paged array of payments and the next page cursor
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/BrcodePayments'
          '400':
            description: Input error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          '500':
            description: Internal server error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          default:
            description: Unexpected error
    /brcode-payment/{paymentId}:
      get:
        summary: Get BR Code payment by ID
        operationId: getBrcodePayment
        tags:
          - brcodePayment
        parameters:
          - name: paymentId
            in: path
            description: Payment unique identifier.
            required: true
            schema:
              type: string
              format: ^\d{16}$
          - name: fields
            in: query
            description: List of strings to filter response JSON keys.
            required: false
            schema:
              type: array
              items:
                type: string
        responses:
          '200':
            description: Updated payment json
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/BrcodePaymentInfo'
          '400':
            description: Input error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          '500':
            description: Internal server error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          default:
            description: Unexpected error
      patch:
        summary: Update a BR Code payment by ID
        operationId: updateBrcodePayment
        tags:
          - brcodePayment
        parameters:
          - name: paymentId
            in: path
            description: Payment unique identifier.
            required: true
            schema:
              type: string
              format: ^\d{16}$
        requestBody:
          description: Payment fields to be patched
          required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrcodePaymentPatch'
        responses:
          '200':
            description: Updated payment json
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/BrcodePaymentInfo'
          '400':
            description: Input error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          '500':
            description: Internal server error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          default:
            description: Unexpected error
    /brcode-payment/{paymentId}/pdf:
      get:
        summary: Get BR Code payment PDF receipt by payment ID
        operationId: getBrcodePaymentPDF
        tags:
          - brcodePayment
        parameters:
          - name: paymentId
            in: path
            description: Payment unique identifier.
            required: true
            schema:
              type: string
              format: ^\d{16}$
          - name: fields
            in: query
            description: List of strings to filter response JSON keys.
            required: false
            schema:
              type: array
              items:
                type: string
        responses:
          '200':
            description: BR Code payment PDF blob
            content:
              application/json:
                schema:
                  type: string
                  format: binary
          '400':
            description: Input error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          '500':
            description: Internal server error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          default:
            description: Unexpected error
    /brcode-payment/log:
      get:
        summary: List BR Code payment logs
        operationId: listBrcodePaymentLogs
        tags:
          - brcodePayment
        parameters:
          - name: cursor
            in: query
            description: String used to get the next batch of results.
            required: false
            schema:
              type: string
              format: byte
          - name: limit
            in: query
            description: Number of results per cursor. Max = 100.
            required: false
            schema:
              type: integer
              minimum: 1
              maximum: 100
          - name: fields
            in: query
            description: List of strings to filter response JSON keys.
            required: false
            schema:
              type: array
              items:
                type: string
          - name: after
            in: query
            description: Filter entities created after this date.
            required: false
            schema:
              type: string
              format: date
          - name: before
            in: query
            description: Filter entities created before this date.
            required: false
            schema:
              type: string
              format: date
          - name: types
            in: query
            description: Filter logs by log types.
            required: false
            schema:
              type: array
              items:
                type: string
          - name: paymentIds
            in: query
            description: Array of payment ids that are linked to the desired logs.
            required: false
            schema:
              type: array
              items:
                type: string
        responses:
          '200':
            description: A paged array of payment logs and the next page cursor
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/BrcodePaymentLogs'
          '400':
            description: Input error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          '500':
            description: Internal server error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          default:
            description: Unexpected error
    /brcode-payment/log/{logId}:
      get:
        summary: Get BR Code payment log by ID
        operationId: getBrcodePaymentLog
        tags:
          - brcodePayment
        parameters:
          - name: logId
            in: path
            description: Log unique identifier.
            required: true
            schema:
              type: string
              format: ^\d{16}$
          - name: fields
            in: query
            description: List of strings to filter response JSON keys.
            required: false
            schema:
              type: array
              items:
                type: string
        responses:
          '200':
            description: Updated payment log json
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/BrcodePaymentLogInfo'
          '400':
            description: Input error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          '500':
            description: Internal server error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          default:
            description: Unexpected error
    /boleto-payment:
      post:
        summary: Create boleto payments
        requestBody:
          description: Payments to be created
          required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BoletoPayments'
        operationId: createBoletoPayments
        tags:
          - boletoPayment
        responses:
          '200':
            description: Created boleto payments
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/BoletoPayments'
          '400':
            description: Input error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          '500':
            description: Internal server error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          default:
            description: Unexpected error
      get:
        summary: List boleto payments
        operationId: listBoletoPayments
        tags:
          - boletoPayment
        parameters:
          - name: cursor
            in: query
            description: String used to get the next batch of results.
            required: false
            schema:
              type: string
              format: byte
          - name: limit
            in: query
            description: Number of results per cursor. Max = 100.
            required: false
            schema:
              type: integer
              minimum: 1
              maximum: 100
          - name: fields
            in: query
            description: List of strings to filter response JSON keys.
            required: false
            schema:
              type: array
              items:
                type: string
          - name: after
            in: query
            description: Filter entities created after this date.
            required: false
            schema:
              type: string
              format: date
          - name: before
            in: query
            description: Filter entities created before this date.
            required: false
            schema:
              type: string
              format: date
          - name: tags
            in: query
            description: Filter entities that contain the specified tags.
            required: false
            schema:
              type: array
              items:
                type: string
          - name: ids
            in: query
            description: List of strings to get specific entities by ids.
            required: false
            schema:
              type: array
              items:
                type: string
          - name: status
            in: query
            description: Filter payments by the specified status.
            required: false
            schema:
              type: string
        responses:
          '200':
            description: A paged array of payments and the next page cursor
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/BoletoPayments'
          '400':
            description: Input error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          '500':
            description: Internal server error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          default:
            description: Unexpected error
    /boleto-payment/{paymentId}:
      get:
        summary: Get boleto payment by ID
        operationId: getBoletoPayment
        tags:
          - boletoPayment
        parameters:
          - name: paymentId
            in: path
            description: Payment unique identifier.
            required: true
            schema:
              type: string
              format: ^\d{16}$
          - name: fields
            in: query
            description: List of strings to filter response JSON keys.
            required: false
            schema:
              type: array
              items:
                type: string
        responses:
          '200':
            description: Updated payment json
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/BoletoPaymentInfo'
          '400':
            description: Input error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          '500':
            description: Internal server error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          default:
            description: Unexpected error
      delete:
        summary: Cancel and delete a boleto payment by ID
        operationId: cancelAndDeleteBoletoPayment
        tags:
          - boletoPayment
        parameters:
          - name: paymentId
            in: path
            description: Payment unique identifier.
            required: true
            schema:
              type: string
              format: ^\d{16}$
        responses:
          '200':
            description: Canceled/Deleted payment json
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/BoletoPaymentInfo'
          '400':
            description: Input error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          '500':
            description: Internal server error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          default:
            description: Unexpected error
    /boleto-payment/{paymentId}/pdf:
      get:
        summary: Get boleto payment PDF receipt by payment ID
        operationId: getBoletoPaymentPDF
        tags:
          - boletoPayment
        parameters:
          - name: paymentId
            in: path
            description: Payment unique identifier.
            required: true
            schema:
              type: string
              format: ^\d{16}$
          - name: fields
            in: query
            description: List of strings to filter response JSON keys.
            required: false
            schema:
              type: array
              items:
                type: string
        responses:
          '200':
            description: Boleto payment PDF blob
            content:
              application/json:
                schema:
                  type: string
                  format: binary
          '400':
            description: Input error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          '500':
            description: Internal server error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          default:
            description: Unexpected error
    /boleto-payment/log:
      get:
        summary: List boleto payment logs
        operationId: listBoletoPaymentLogs
        tags:
          - boletoPayment
        parameters:
          - name: cursor
            in: query
            description: String used to get the next batch of results.
            required: false
            schema:
              type: string
              format: byte
          - name: limit
            in: query
            description: Number of results per cursor. Max = 100.
            required: false
            schema:
              type: integer
              minimum: 1
              maximum: 100
          - name: fields
            in: query
            description: List of strings to filter response JSON keys.
            required: false
            schema:
              type: array
              items:
                type: string
          - name: after
            in: query
            description: Filter entities created after this date.
            required: false
            schema:
              type: string
              format: date
          - name: before
            in: query
            description: Filter entities created before this date.
            required: false
            schema:
              type: string
              format: date
          - name: types
            in: query
            description: Filter logs by log types.
            required: false
            schema:
              type: array
              items:
                type: string
          - name: paymentIds
            in: query
            description: Array of payment ids that are linked to the desired logs.
            required: false
            schema:
              type: array
              items:
                type: string
        responses:
          '200':
            description: A paged array of payment logs and the next page cursor
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/BoletoPaymentLogs'
          '400':
            description: Input error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          '500':
            description: Internal server error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          default:
            description: Unexpected error
    /boleto-payment/log/{logId}:
      get:
        summary: Get boleto payment log by ID
        operationId: getBoletoPaymentLog
        tags:
          - boletoPayment
        parameters:
          - name: logId
            in: path
            description: Log unique identifier.
            required: true
            schema:
              type: string
              format: ^\d{16}$
          - name: fields
            in: query
            description: List of strings to filter response JSON keys.
            required: false
            schema:
              type: array
              items:
                type: string
        responses:
          '200':
            description: Updated payment log json
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/BoletoPaymentLogInfo'
          '400':
            description: Input error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          '500':
            description: Internal server error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          default:
            description: Unexpected error
    /utility-payment:
      post:
        summary: Create utility payments
        requestBody:
          description: Payments to be created
          required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UtilityPayments'
        operationId: createUtilityPayments
        tags:
          - utilityPayment
        responses:
          '200':
            description: Created utility payments
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/UtilityPayments'
          '400':
            description: Input error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          '500':
            description: Internal server error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          default:
            description: Unexpected error
      get:
        summary: List utility payments
        operationId: listUtilityPayments
        tags:
          - utilityPayment
        parameters:
          - name: cursor
            in: query
            description: String used to get the next batch of results.
            required: false
            schema:
              type: string
              format: byte
          - name: limit
            in: query
            description: Number of results per cursor. Max = 100.
            required: false
            schema:
              type: integer
              minimum: 1
              maximum: 100
          - name: fields
            in: query
            description: List of strings to filter response JSON keys.
            required: false
            schema:
              type: array
              items:
                type: string
          - name: after
            in: query
            description: Filter entities created after this date.
            required: false
            schema:
              type: string
              format: date
          - name: before
            in: query
            description: Filter entities created before this date.
            required: false
            schema:
              type: string
              format: date
          - name: tags
            in: query
            description: Filter entities that contain the specified tags.
            required: false
            schema:
              type: array
              items:
                type: string
          - name: ids
            in: query
            description: List of strings to get specific entities by ids.
            required: false
            schema:
              type: array
              items:
                type: string
          - name: status
            in: query
            description: Filter payments by the specified status.
            required: false
            schema:
              type: string
        responses:
          '200':
            description: A paged array of payments and the next page cursor
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/UtilityPayments'
          '400':
            description: Input error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          '500':
            description: Internal server error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          default:
            description: Unexpected error
    /utility-payment/{paymentId}:
      get:
        summary: Get utility payment by ID
        operationId: getUtilityPayment
        tags:
          - utilityPayment
        parameters:
          - name: paymentId
            in: path
            description: Payment unique identifier.
            required: true
            schema:
              type: string
              format: ^\d{16}$
          - name: fields
            in: query
            description: List of strings to filter response JSON keys.
            required: false
            schema:
              type: array
              items:
                type: string
        responses:
          '200':
            description: Updated payment json
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/UtilityPaymentInfo'
          '400':
            description: Input error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          '500':
            description: Internal server error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          default:
            description: Unexpected error
      delete:
        summary: Cancel and delete a utility payment by ID
        operationId: cancelAndDeleteUtilityPayment
        tags:
          - utilityPayment
        parameters:
          - name: paymentId
            in: path
            description: Payment unique identifier.
            required: true
            schema:
              type: string
              format: ^\d{16}$
        responses:
          '200':
            description: Canceled/Deleted payment json
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/UtilityPaymentInfo'
          '400':
            description: Input error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          '500':
            description: Internal server error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          default:
            description: Unexpected error
    /utility-payment/{paymentId}/pdf:
      get:
        summary: Get utility payment PDF receipt by payment ID
        operationId: getUtilityPaymentPDF
        tags:
          - utilityPayment
        parameters:
          - name: paymentId
            in: path
            description: Payment unique identifier.
            required: true
            schema:
              type: string
              format: ^\d{16}$
          - name: fields
            in: query
            description: List of strings to filter response JSON keys.
            required: false
            schema:
              type: array
              items:
                type: string
        responses:
          '200':
            description: Utility payment PDF receipt blob
            content:
              application/json:
                schema:
                  type: string
                  format: binary
          '400':
            description: Input error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          '500':
            description: Internal server error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          default:
            description: Unexpected error
    /utility-payment/log:
      get:
        summary: List utility payment logs
        operationId: listUtilityPaymentLogs
        tags:
          - utilityPayment
        parameters:
          - name: cursor
            in: query
            description: String used to get the next batch of results.
            required: false
            schema:
              type: string
              format: byte
          - name: limit
            in: query
            description: Number of results per cursor. Max = 100.
            required: false
            schema:
              type: integer
              minimum: 1
              maximum: 100
          - name: fields
            in: query
            description: List of strings to filter response JSON keys.
            required: false
            schema:
              type: array
              items:
                type: string
          - name: after
            in: query
            description: Filter entities created after this date.
            required: false
            schema:
              type: string
              format: date
          - name: before
            in: query
            description: Filter entities created before this date.
            required: false
            schema:
              type: string
              format: date
          - name: types
            in: query
            description: Filter logs by log types.
            required: false
            schema:
              type: array
              items:
                type: string
          - name: paymentIds
            in: query
            description: Array of payment ids that are linked to the desired logs.
            required: false
            schema:
              type: array
              items:
                type: string
        responses:
          '200':
            description: A paged array of payment logs and the next page cursor
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/UtilityPaymentLogs'
          '400':
            description: Input error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          '500':
            description: Internal server error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          default:
            description: Unexpected error
    /utility-payment/log/{logId}:
      get:
        summary: Get utility payment log by ID
        operationId: getUtilityPaymentLog
        tags:
          - utilityPayment
        parameters:
          - name: logId
            in: path
            description: Log unique identifier.
            required: true
            schema:
              type: string
              format: ^\d{16}$
          - name: fields
            in: query
            description: List of strings to filter response JSON keys.
            required: false
            schema:
              type: array
              items:
                type: string
        responses:
          '200':
            description: Updated payment log json
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/UtilityPaymentLogInfo'
          '400':
            description: Input error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          '500':
            description: Internal server error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          default:
            description: Unexpected error
    /payment-request:
      post:
        summary: Create payment requests
        requestBody:
          description: Requests to be created
          required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentRequests'
        operationId: createPaymentRequests
        tags:
          - paymentRequest
        responses:
          '200':
            description: Created payment requests
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/PaymentRequests'
          '400':
            description: Input error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          '500':
            description: Internal server error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          default:
            description: Unexpected error
      get:
        summary: List payment requests
        operationId: listPaymentRequests
        tags:
          - paymentRequest
        parameters:
          - name: centerId
            in: query
            description: Cost center ID that contains the desired PaymentRequests.
            required: true
            schema:
              type: string
              format: byte
          - name: cursor
            in: query
            description: String used to get the next batch of results.
            required: false
            schema:
              type: string
              format: byte
          - name: limit
            in: query
            description: Number of results per cursor. Max = 100.
            required: false
            schema:
              type: integer
              minimum: 1
              maximum: 100
          - name: fields
            in: query
            description: List of strings to filter response JSON keys.
            required: false
            schema:
              type: array
              items:
                type: string
          - name: after
            in: query
            description: Filter entities created after this date.
            required: false
            schema:
              type: string
              format: date
          - name: before
            in: query
            description: Filter entities created before this date.
            required: false
            schema:
              type: string
              format: date
          - name: sort
            in: query
            description: >-
              Sort entities by the specified sort order. Options are "-created"
              and "-due".
            required: false
            schema:
              type: string
          - name: tags
            in: query
            description: Filter entities that contain the specified tags.
            required: false
            schema:
              type: array
              items:
                type: string
          - name: ids
            in: query
            description: List of strings to get specific entities by ids.
            required: false
            schema:
              type: array
              items:
                type: string
          - name: status
            in: query
            description: Filter payments by the specified status.
            required: false
            schema:
              type: string
          - name: type
            in: query
            description: >-
              Filter payments by the specified payment type. Options are
              "transfer", "brcode-payment", ...
            required: false
            schema:
              type: string
        responses:
          '200':
            description: A paged array of payment requests and the next page cursor
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/PaymentRequests'
          '400':
            description: Input error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          '500':
            description: Internal server error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          default:
            description: Unexpected error
    /webhook:
      post:
        summary: Create a webhook
        requestBody:
          description: Webhook to be created
          required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
        operationId: createWebhook
        tags:
          - webhook
        responses:
          '200':
            description: Created webhook
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Webhook'
          '400':
            description: Input error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          '500':
            description: Internal server error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          default:
            description: Unexpected error
      get:
        summary: List webhooks
        operationId: listWebhooks
        tags:
          - webhook
        parameters:
          - name: cursor
            in: query
            description: String used to get the next batch of results.
            required: false
            schema:
              type: string
              format: byte
          - name: limit
            in: query
            description: Number of results per cursor. Max = 100.
            required: false
            schema:
              type: integer
              minimum: 1
              maximum: 100
          - name: fields
            in: query
            description: List of strings to filter response JSON keys.
            required: false
            schema:
              type: array
              items:
                type: string
        responses:
          '200':
            description: A paged array of webhooks and the next page cursor
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Webhooks'
          '400':
            description: Input error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          '500':
            description: Internal server error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Errors'
          default:
            description: Unexpected error
    /webhook/{webhookId}:
      get:
        summary: Get webhook by ID
        operationId: getWebhook
        tags:
          - webhook
        parameters:
          - name: webhookId
            in: path
[...]
