publishJson:
  company: Sumsub
  serviceName: false
  sdkName: sumsub-{language}-sdk
  clientName: Sumsub
  metaDescription: >-
    Sumsub is the one verification platform to secure the whole user journey.
    With Sumsub's customizable KYC, KYB, transaction monitoring and fraud
    prevention solutions, you can orchestrate your verification process, welcome
    more customers worldwide, meet compliance requirements, reduce costs and
    protect your business.


    Sumsub has over 2,000 clients in fintech, crypto, transportation, trading,
    e-commerce and gaming industries including Binance, Wirex, Avis, Bybit,
    Huobi, Unlimit, Flutter, Kaizen Gaming, and TransferGo.
  apiStatusUrls: inherit
  homepage: sumsub.com/
  developerDocumentation: docs.sumsub.com/reference
  categories:
    - security
    - identity_and_access_management
    - fraud_prevention
    - identity_verification
rawSpecString: |
  openapi: 3.1.0
  info:
    title: Sumsub API
    version: '1.0'
  servers:
    - url: https://api.sumsub.com
  components:
    securitySchemes:
      sec0:
        type: apiKey
        in: header
        name: X-App-Token
        x-default: ''
  security:
    - sec0: []
  paths:
    /resources/auditTrailEvents/:
      get:
        summary: Audit trail events
        description: Returns audit trail events.
        operationId: audit-trail-events
        parameters:
          - name: subjectName
            in: query
            description: >-
              The name of the subject for which events are received. If the name
              is not specified, the events are received for all subjects on the
              key.
            schema:
              type: string
          - name: activity
            in: query
            description: >-
              If specified, only the events with this activity will be in the
              response.
            schema:
              type: string
          - name: from
            in: query
            description: >-
              Date/time events are received from (`yyyy-MM-dd HH:mm:ss`, e.g.
              2022-10-01 12:05:00). If not specified, the events are received from
              the day before.
            schema:
              type: string
          - name: to
            in: query
            description: >-
              To the date/time events are received (`yyyy-MM-dd HH:mm:ss`, e.g.
              2022-10-01 12:15:00). If not specified, the events are received up
              to the present moment.
            schema:
              type: string
          - name: limit
            in: query
            description: >-
              The maximum number of events per request. Cannot be more than 20000.
              By default is 10.
            schema:
              type: string
              default: '10'
          - name: offset
            in: query
            description: >-
              Allows to skip the offset events before beginning to return the
              events. By default is 0.
            schema:
              type: string
              default: '0'
        deprecated: false
    /resources/status/api:
      get:
        summary: API health
        description: Returns the operational status of the API.
        operationId: review-api-health
        deprecated: false
    /resources/applicants:
      post:
        summary: Create applicant
        description: Creates an applicant.
        operationId: create-applicants
        parameters:
          - name: levelName
            in: query
            description: >-
              A [verification level](https://docs.sumsub.com/reference) name.
              Case-sensitive and has to be created in the same environment. If
              contains reserved characters (e.g., `@`, `+"`, white spaces as
              `%20`), it should be URL-encoded, otherwise you may get signature
              mismatch.<br><br>Mind that a level for a company applicant must
              contain the **Company** verification step.
            required: true
            schema:
              type: string
        requestBody:
          content:
            application/json:
              schema:
                type: object
                required:
                  - externalUserId
                properties:
                  externalUserId:
                    type: string
                    description: A unique applicant identifier on the client side.
                  sourceKey:
                    type: string
                    description: >-
                      A [source key](https://docs.sumsub.com/reference) that helps you group
                      clients.
                  email:
                    type: string
                    description: An applicant email address.
                  phone:
                    type: string
                    description: An applicant phone number.
                  lang:
                    type: string
                    description: >-
                      The language, in which the verification results should be
                      displayed to applicants. Requires the ISO 639-1 format.
                  metadata:
                    type: array
                    description: >-
                      Additional information not displayed to the end-user. For
                      example: `[{"key": "keyFromClient", "value":
                      "valueFromClient"}]`.
                  fixedInfo:
                    type: object
                    description: >-
                      Contains information submitted by the applicant via
                      [Web](https://docs.sumsub.com/reference) or [Mobile](https://docs.sumsub.com/reference) SDK or by
                      you using this method. Used to compare the data that you
                      provide to us with that we extract from the applicant
                      documents.
                    properties:
                      firstName:
                        type: string
                        description: The first name of the applicant.
                      lastName:
                        type: string
                        description: The last name of the applicant.
                      middleName:
                        type: string
                        description: The middle name of the applicant.
                      firstNameEn:
                        type: string
                        description: Automatic transliteration of the first name.
                      lastNameEn:
                        type: string
                        description: Automatic transliteration of the last name.
                      middleNameEn:
                        type: string
                        description: Automatic transliteration of the middle name.
                      legalName:
                        type: string
                        description: Legal name.
                      gender:
                        type: string
                        description: An applicant gender (`M` or `F`).
                      dob:
                        type: string
                        description: >-
                          Applicant date of birth (format `YYYY-mm-dd`, e.g.
                          2001-09-25).
                      placeOfBirth:
                        type: string
                        description: The applicant birthplace.
                      countryOfBirth:
                        type: string
                        description: Applicant country of birth.
                      stateOfBirth:
                        type: string
                        description: Applicant state of birth.
                      country:
                        type: string
                        description: Alpha-3 country code (e.g. `DEU` or `GBR`).
                      nationality:
                        type: string
                        description: Alpha-3 country code.
                      addresses:
                        type: array
                        description: List of applicant addresses.
                        items:
                          properties:
                            country:
                              type: string
                              description: Alpha-3 country code.
                            postCode:
                              type: string
                              description: Postal code.
                            town:
                              type: string
                              description: Town or city name.
                            street:
                              type: string
                              description: Street name.
                            subStreet:
                              type: string
                              description: Additional street information.
                            state:
                              type: string
                              description: State name (if applicable).
                            buildingName:
                              type: string
                              description: Building name (if applicable).
                            flatNumber:
                              type: string
                              description: Flat or apartment number.
                            buildingNumber:
                              type: string
                              description: Building number.
                          type: object
                      tin:
                        type: string
                        description: Tax identification number.
                  info:
                    type: object
                    description: >-
                      Contains information recognized and extracted from the
                      applicant documents solely by Sumsub.
                    properties:
                      firstName:
                        type: string
                        description: The first name of the applicant.
                      lastName:
                        type: string
                        description: The last name of the applicant.
                      middleName:
                        type: string
                        description: The middle name of the applicant.
                      firstNameEn:
                        type: string
                        description: Automatic transliteration of the first name.
                      lastNameEn:
                        type: string
                        description: Automatic transliteration of the last name.
                      middleNameEn:
                        type: string
                        description: Automatic transliteration of the middle name.
                      legalName:
                        type: string
                        description: Legal name.
                      gender:
                        type: string
                        description: An applicant gender (`M` or `F`).
                      dob:
                        type: string
                        description: >-
                          Applicant date of birth (format `YYYY-mm-dd`, e.g.
                          2001-09-25).
                      placeOfBirth:
                        type: string
                        description: The applicant birthplace.
                      countryOfBirth:
                        type: string
                        description: Applicant country of birth.
                      stateOfBirth:
                        type: string
                        description: Applicant state of birth.
                      country:
                        type: string
                        description: Alpha-3 country code (e.g. `DEU` or `GBR`).
                      nationality:
                        type: string
                        description: Alpha-3 country code.
                      addresses:
                        type: array
                        description: List of applicant addresses.
                        items:
                          properties:
                            country:
                              type: string
                              description: Alpha-3 country code.
                            postCode:
                              type: string
                              description: Postal code.
                            town:
                              type: string
                              description: Town or city name.
                            street:
                              type: string
                              description: Street name.
                            subStreet:
                              type: string
                              description: Additional street information.
                            state:
                              type: string
                              description: State name (if applicable).
                            buildingName:
                              type: string
                              description: Building name (if applicable).
                            flatNumber:
                              type: string
                              description: Flat or apartment number.
                            buildingNumber:
                              type: string
                              description: Building number.
                          type: object
                      tin:
                        type: string
                        description: Tax identification number.
                  type:
                    type: string
                    description: >-
                      An applicant type
                      ([`company`](ref:about-business-verification),
                      `individual`).
            multipart/form-data:
              schema:
                type: object
                required:
                  - externalUserId
                properties:
                  externalUserId:
                    type: string
                    description: A unique applicant identifier on the client side.
                  sourceKey:
                    type: string
                    description: >-
                      A [source key](https://docs.sumsub.com/reference) that helps you group
                      clients.
                  email:
                    type: string
                    description: An applicant email address.
                  phone:
                    type: string
                    description: An applicant phone number.
                  lang:
                    type: string
                    description: >-
                      The language, in which the verification results should be
                      displayed to applicants. Requires the ISO 639-1 format.
                  metadata:
                    type: array
                    description: >-
                      Additional information not displayed to the end-user. For
                      example: `[{"key": "keyFromClient", "value":
                      "valueFromClient"}]`.
                  fixedInfo:
                    type: object
                    description: >-
                      Contains information submitted by the applicant via
                      [Web](https://docs.sumsub.com/reference) or [Mobile](https://docs.sumsub.com/reference) SDK or by
                      you using this method. Used to compare the data that you
                      provide to us with that we extract from the applicant
                      documents.
                    properties:
                      firstName:
                        type: string
                        description: The first name of the applicant.
                      lastName:
                        type: string
                        description: The last name of the applicant.
                      middleName:
                        type: string
                        description: The middle name of the applicant.
                      firstNameEn:
                        type: string
                        description: Automatic transliteration of the first name.
                      lastNameEn:
                        type: string
                        description: Automatic transliteration of the last name.
                      middleNameEn:
                        type: string
                        description: Automatic transliteration of the middle name.
                      legalName:
                        type: string
                        description: Legal name.
                      gender:
                        type: string
                        description: An applicant gender (`M` or `F`).
                      dob:
                        type: string
                        description: >-
                          Applicant date of birth (format `YYYY-mm-dd`, e.g.
                          2001-09-25).
                      placeOfBirth:
                        type: string
                        description: The applicant birthplace.
                      countryOfBirth:
                        type: string
                        description: Applicant country of birth.
                      stateOfBirth:
                        type: string
                        description: Applicant state of birth.
                      country:
                        type: string
                        description: Alpha-3 country code (e.g. `DEU` or `GBR`).
                      nationality:
                        type: string
                        description: Alpha-3 country code.
                      addresses:
                        type: array
                        description: List of applicant addresses.
                        items:
                          properties:
                            country:
                              type: string
                              description: Alpha-3 country code.
                            postCode:
                              type: string
                              description: Postal code.
                            town:
                              type: string
                              description: Town or city name.
                            street:
                              type: string
                              description: Street name.
                            subStreet:
                              type: string
                              description: Additional street information.
                            state:
                              type: string
                              description: State name (if applicable).
                            buildingName:
                              type: string
                              description: Building name (if applicable).
                            flatNumber:
                              type: string
                              description: Flat or apartment number.
                            buildingNumber:
                              type: string
                              description: Building number.
                          type: object
                      tin:
                        type: string
                        description: Tax identification number.
                  info:
                    type: object
                    description: >-
                      Contains information recognized and extracted from the
                      applicant documents solely by Sumsub.
                    properties:
                      firstName:
                        type: string
                        description: The first name of the applicant.
                      lastName:
                        type: string
                        description: The last name of the applicant.
                      middleName:
                        type: string
                        description: The middle name of the applicant.
                      firstNameEn:
                        type: string
                        description: Automatic transliteration of the first name.
                      lastNameEn:
                        type: string
                        description: Automatic transliteration of the last name.
                      middleNameEn:
                        type: string
                        description: Automatic transliteration of the middle name.
                      legalName:
                        type: string
                        description: Legal name.
                      gender:
                        type: string
                        description: An applicant gender (`M` or `F`).
                      dob:
                        type: string
                        description: >-
                          Applicant date of birth (format `YYYY-mm-dd`, e.g.
                          2001-09-25).
                      placeOfBirth:
                        type: string
                        description: The applicant birthplace.
                      countryOfBirth:
                        type: string
                        description: Applicant country of birth.
                      stateOfBirth:
                        type: string
                        description: Applicant state of birth.
                      country:
                        type: string
                        description: Alpha-3 country code (e.g. `DEU` or `GBR`).
                      nationality:
                        type: string
                        description: Alpha-3 country code.
                      addresses:
                        type: array
                        description: List of applicant addresses.
                        items:
                          properties:
                            country:
                              type: string
                              description: Alpha-3 country code.
                            postCode:
                              type: string
                              description: Postal code.
                            town:
                              type: string
                              description: Town or city name.
                            street:
                              type: string
                              description: Street name.
                            subStreet:
                              type: string
                              description: Additional street information.
                            state:
                              type: string
                              description: State name (if applicable).
                            buildingName:
                              type: string
                              description: Building name (if applicable).
                            flatNumber:
                              type: string
                              description: Flat or apartment number.
                            buildingNumber:
                              type: string
                              description: Building number.
                          type: object
                      tin:
                        type: string
                        description: Tax identification number.
                  type:
                    type: string
                    description: >-
                      An applicant type
                      ([`company`](ref:about-business-verification),
                      `individual`).
        deprecated: false
    /resources/applicants/{applicantId}/moveToLevel:
      post:
        summary: Change required documents
        description: Changes the list of required documents.
        operationId: change-required-document-set-per-level
        parameters:
          - name: name
            in: query
            description: >-
              A [verification level](https://docs.sumsub.com/reference) name.
              Case-sensitive and must be created in the same
              [environment](https://docs.sumsub.com/reference). If contains reserved characters
              (e.g., `@`, `+"`, white spaces as `%20`), it should be URL-encoded,
              otherwise you may get signature mismatch.
            required: true
            schema:
              type: string
          - name: applicantId
            in: path
            description: A unique applicant identifier.
            schema:
              type: string
            required: true
        deprecated: false
    /resources/applicants/{applicantId}/requiredIdDocs:
      post:
        summary: Get required ID documents
        description: Returns the list of required documents.
        operationId: get-required-id-documents
        parameters:
          - name: applicantId
            in: path
            description: A unique applicant identifier.
            schema:
              type: string
            required: true
        deprecated: false
    /resources/applicants/{applicantId}/info/idDoc:
      post:
        summary: Add ID document
        description: Adds an identification document to the verification flow.
        operationId: add-id-documents
        parameters:
          - name: X-Return-Doc-Warnings
            in: header
            description: '`true` / `false`'
            required: true
            schema:
              type: boolean
          - name: applicantId
            in: path
            description: A unique applicant identifier.
            schema:
              type: string
            required: true
        requestBody:
          content:
            application/json:
              schema:
                type: object
                properties:
                  metadata:
                    type: object
                    description: An object that represents an ID document.
                    required:
                      - idDocType
                      - country
                    properties:
                      idDocType:
                        type: string
                        description: A document type.
                      idDocSubType:
                        type: string
                        description: '`FRONT_SIDE`, `BACK_SIDE` or `null`.'
                      country:
                        type: string
                        description: ISO 3166-1 alpha-3 country code.
                      firstName:
                        type: string
                        description: First applicant name.
                      middleName:
                        type: string
                        description: Middle applicant name.
                      lastName:
                        type: string
                        description: Last applicant name.
                      issuedDate:
                        type: string
                        description: Issued date (format `YYYY-mm-dd`, e.g. 2001-09-25).
                      validUntil:
                        type: string
                        description: Valid until date (format `YYYY-mm-dd`, e.g. 2001-09-26).
                      number:
                        type: string
                        description: A document number.
                      dob:
                        type: string
                        description: Applicant date of birth.
                      placeOfBirth:
                        type: string
                        description: Applicant birthplace.
                  content:
                    type: string
                    description: A photo of the document.
                    format: binary
            multipart/form-data:
              schema:
                type: object
                properties:
                  metadata:
                    type: object
                    description: An object that represents an ID document.
                    required:
                      - idDocType
                      - country
                    properties:
                      idDocType:
                        type: string
                        description: A document type.
                      idDocSubType:
                        type: string
                        description: '`FRONT_SIDE`, `BACK_SIDE` or `null`.'
                      country:
                        type: string
                        description: ISO 3166-1 alpha-3 country code.
                      firstName:
                        type: string
                        description: First applicant name.
                      middleName:
                        type: string
                        description: Middle applicant name.
                      lastName:
                        type: string
                        description: Last applicant name.
                      issuedDate:
                        type: string
                        description: Issued date (format `YYYY-mm-dd`, e.g. 2001-09-25).
                      validUntil:
                        type: string
                        description: Valid until date (format `YYYY-mm-dd`, e.g. 2001-09-26).
                      number:
                        type: string
                        description: A document number.
                      dob:
                        type: string
                        description: Applicant date of birth.
                      placeOfBirth:
                        type: string
                        description: Applicant birthplace.
                  content:
                    type: string
                    description: A photo of the document.
                    format: binary
        deprecated: false
    /resources/applicants/{applicantId}/fixedInfo:
      patch:
        summary: Change provided information
        description: >-
          Updates personal applicant information collected via Web and Mobile
          SDKs.
        operationId: change-provided-info-fixedinfo
        parameters:
          - name: applicantId
            in: path
            description: A unique applicant identifier.
            schema:
              type: string
            required: true
        requestBody:
          content:
            application/json:
              schema:
                type: object
                properties:
                  firstName:
                    type: string
                    description: The first name of the applicant.
                  lastName:
                    type: string
                    description: The last name of the applicant.
                  middleName:
                    type: string
                    description: The middle name of the applicant.
                  firstNameEn:
                    type: string
                    description: Automatic transliteration of the first name.
                  lastNameEn:
                    type: string
                    description: Automatic transliteration of the last name.
                  middleNameEn:
                    type: string
                    description: Automatic transliteration of the middle name.
                  legalName:
                    type: string
                    description: Legal name.
                  gender:
                    type: string
                    description: An applicant gender (`M` or `F`).
                  dob:
                    type: string
                    description: >-
                      Applicant date of birth (format `YYYY-mm-dd`, e.g.
                      2001-09-25).
                  placeOfBirth:
                    type: string
                    description: The applicant birthplace.
                  countryOfBirth:
                    type: string
                    description: Applicant country of birth.
                  stateOfBirth:
                    type: string
                    description: Applicant state of birth.
                  country:
                    type: string
                    description: Alpha-3 country code (e.g. `DEU` or `GBR`).
                  nationality:
                    type: string
                    description: Alpha-3 country code.
                  addresses:
                    type: array
                    description: List of applicant addresses.
                  tin:
                    type: string
                    description: Tax identification number.
            multipart/form-data:
              schema:
                type: object
                properties:
                  firstName:
                    type: string
                    description: The first name of the applicant.
                  lastName:
                    type: string
                    description: The last name of the applicant.
                  middleName:
                    type: string
                    description: The middle name of the applicant.
                  firstNameEn:
                    type: string
                    description: Automatic transliteration of the first name.
                  lastNameEn:
                    type: string
                    description: Automatic transliteration of the last name.
                  middleNameEn:
                    type: string
                    description: Automatic transliteration of the middle name.
                  legalName:
                    type: string
                    description: Legal name.
                  gender:
                    type: string
                    description: An applicant gender (`M` or `F`).
                  dob:
                    type: string
                    description: >-
                      Applicant date of birth (format `YYYY-mm-dd`, e.g.
                      2001-09-25).
                  placeOfBirth:
                    type: string
                    description: The applicant birthplace.
                  countryOfBirth:
                    type: string
                    description: Applicant country of birth.
                  stateOfBirth:
                    type: string
                    description: Applicant state of birth.
                  country:
                    type: string
                    description: Alpha-3 country code (e.g. `DEU` or `GBR`).
                  nationality:
                    type: string
                    description: Alpha-3 country code.
                  addresses:
                    type: array
                    description: List of applicant addresses.
                  tin:
                    type: string
                    description: Tax identification number.
        deprecated: false
    /resources/applicants/{applicantId}/info:
      patch:
        summary: Change extracted information
        description: Updates personal applicant information extracted during verification.
        operationId: change-applicant-information-extracted-by-sumsub
        parameters:
          - name: applicantId
            in: path
            description: A unique applicant identifier.
            schema:
              type: string
            required: true
        requestBody:
          content:
            application/json:
              schema:
                type: object
                properties:
                  firstName:
                    type: string
                    description: The first name of the applicant.
                  lastName:
                    type: string
                    description: The last name of the applicant.
                  middleName:
                    type: string
                    description: The middle name of the applicant.
                  legalName:
                    type: string
                    description: Legal name.
                  gender:
                    type: string
                    description: An applicant gender (`M` or `F`).
                  dob:
                    type: string
                    description: >-
                      Applicant date of birth (format `YYYY-mm-dd`, e.g.
                      2001-09-25).
                  placeOfBirth:
                    type: string
                    description: The applicant birthplace.
                  countryOfBirth:
                    type: string
                    description: Applicant country of birth.
                  stateOfBirth:
                    type: string
                    description: Applicant state of birth.
                  country:
                    type: string
                    description: Alpha-3 country code (e.g. `DEU` or `GBR`).
                  nationality:
                    type: string
                    description: Alpha-3 country code.
                  addresses:
                    type: string
                    description: List of applicant addresses.
                  tin:
                    type: string
                    description: Tax identification number.
            multipart/form-data:
              schema:
                type: object
                properties:
                  firstName:
                    type: string
                    description: The first name of the applicant.
                  lastName:
                    type: string
                    description: The last name of the applicant.
                  middleName:
                    type: string
                    description: The middle name of the applicant.
                  legalName:
                    type: string
                    description: Legal name.
                  gender:
                    type: string
                    description: An applicant gender (`M` or `F`).
                  dob:
                    type: string
                    description: >-
                      Applicant date of birth (format `YYYY-mm-dd`, e.g.
                      2001-09-25).
                  placeOfBirth:
                    type: string
                    description: The applicant birthplace.
                  countryOfBirth:
                    type: string
                    description: Applicant country of birth.
                  stateOfBirth:
                    type: string
                    description: Applicant state of birth.
                  country:
                    type: string
                    description: Alpha-3 country code (e.g. `DEU` or `GBR`).
                  nationality:
                    type: string
                    description: Alpha-3 country code.
                  addresses:
                    type: string
                    description: List of applicant addresses.
                  tin:
                    type: string
                    description: Tax identification number.
        deprecated: false
    /resources/applicants/:
      patch:
        summary: Change top-level information
        description: Updates the existing verification level configuration.
        operationId: changing-top-level-information
        requestBody:
          content:
            application/json:
              schema:
                type: object
                required:
                  - id
                properties:
                  id:
                    type: string
                    description: A unique applicant identifier.
                  externalUserId:
                    type: string
                    description: An external applicant identifier.
                  email:
                    type: string
                    description: >-
                      A new email address that you want to assign to the given
                      applicant.
                  phone:
                    type: string
                    description: >-
                      A new phone number that you want to assign to the given
                      applicant.
                  sourceKey:
                    type: string
                    description: >-
                      A new [source key](https://docs.sumsub.com/reference) that you want to
                      assign to the given applicant.
                  lang:
                    type: string
                    description: >-
                      The language, in which the applicant should see the
                      verification results.
                  questionnaires:
                    type: array
                    description: >-
                      A [questionnaire](https://docs.sumsub.com/reference) configuration with
                      the answers.
                  metadata:
                    type: array
                    description: Additional information about the applicant.
                  deleted:
                    type: boolean
                    description: Marks the applicant profile as inactive.
            multipart/form-data:
              schema:
                type: object
                required:
                  - id
                properties:
                  id:
                    type: string
                    description: A unique applicant identifier.
                  externalUserId:
                    type: string
                    description: An external applicant identifier.
                  email:
                    type: string
                    description: >-
                      A new email address that you want to assign to the given
                      applicant.
                  phone:
                    type: string
                    description: >-
                      A new phone number that you want to assign to the given
                      applicant.
                  sourceKey:
                    type: string
                    description: >-
                      A new [source key](https://docs.sumsub.com/reference) that you want to
                      assign to the given applicant.
                  lang:
                    type: string
                    description: >-
                      The language, in which the applicant should see the
                      verification results.
                  questionnaires:
                    type: array
                    description: >-
                      A [questionnaire](https://docs.sumsub.com/reference) configuration with
                      the answers.
                  metadata:
                    type: array
                    description: Additional information about the applicant.
                  deleted:
                    type: boolean
                    description: Marks the applicant profile as inactive.
        deprecated: false
    /resources/applicants/-/ingestCompleted?levelName={levelName}:
      post:
        summary: Import applicants
        description: Imports applicants.
        operationId: import-applicants
        parameters:
          - name: levelName
            in: query
            description: >-
              A [verification level](https://docs.sumsub.com/reference) name.
              Case-sensitive and must be created in the same
              [environment](https://docs.sumsub.com/reference). If contains reserved characters
              (e.g., `@`, `+"`, white spaces as `%20`), it should be URL-encoded,
              otherwise you may get signature mismatch.
            schema:
              type: string
        requestBody:
          content:
            application/json:
              schema:
                type: object
                properties:
                  externalUserId:
                    type: string
                    description: A unique applicant identifier as registered on your side.
                  info:
                    type: object
                    description: >-
                      Holds the personal applicant information extracted during
                      verification.
                    properties:
                      firstName:
                        type: string
                        description: The first name of the applicant.
                      lastName:
                        type: string
                        description: The last name of the applicant.
                      middleName:
                        type: string
                        description: The middle name of the applicant.
                      firstNameEn:
                        type: string
                        description: Automatic transliteration of the first name.
                      lastNameEn:
                        type: string
                        description: Automatic transliteration of the last name.
                      middleNameEn:
                        type: string
                        description: Automatic transliteration of the middle name.
                      legalName:
                        type: string
                        description: Legal name.
                      gender:
                        type: string
                        description: An applicant gender (`M` or `F`).
                      dob:
                        type: string
                        description: >-
                          Applicant date of birth (format `YYYY-mm-dd`, e.g.
                          2001-09-25).
                      placeOfBirth:
                        type: string
                        description: The applicant birthplace.
                      countryOfBirth:
                        type: string
                        description: Applicant country of birth.
                      stateOfBirth:
                        type: string
                        description: Applicant state of birth.
                      country:
                        type: string
                        description: Alpha-3 country code (e.g. `DEU` or `GBR`).
                      nationality:
                        type: string
                        description: Alpha-3 country code.
                      addresses:
                        type: array
                        description: List of applicant addresses.
                        items:
                          properties:
                            country:
                              type: string
                              description: Alpha-3 country code.
                            postCode:
                              type: string
                              description: Postal code.
                            town:
                              type: string
                              description: Town or city name.
                            street:
                              type: string
                              description: Street name.
                            subStreet:
                              type: string
                              description: Additional street information.
                            state:
                              type: string
                              description: State name (if applicable).
                            buildingName:
                              type: string
                              description: Building name (if applicable).
                            flatNumber:
                              type: string
                              description: Flat or apartment number.
                            buildingNumber:
                              type: string
                              description: Building number.
                          type: object
                      tin:
                        type: string
                        description: Tax identification number.
                  review:
                    type: object
                    description: Review results.
                    properties:
                      createDate:
                        type: string
                        description: >-
                          Date of users' creation on your side in a format:
                          "2022-11-21 08:25:32+0000"
                      reviewDate:
                        type: string
                        description: >-
                          review date on your side in a format: "2022-11-21
                          08:25:32+0000"
                      review:
                        type: object
                        properties:
                          moderationComment:
                            type: string
                            description: Reason of rejection for end-user
                          clientComment:
                            type: string
                            description: internal reason of rejection
                          reviewAnswer:
                            type: string
                            description: '"GREEN"/"RED"'
                          reviewRejectType:
                            type: string
                            description: '"FINAL"/"RETRY"(used only when "reviewAnswer"="RED")'
                      reviewStatus:
                        type: string
                        description: '"completed"'
            multipart/form-data:
              schema:
                type: object
                properties:
                  externalUserId:
                    type: string
                    description: A unique applicant identifier as registered on your side.
                  info:
                    type: object
                    description: >-
                      Holds the personal applicant information extracted during
                      verification.
                    properties:
                      firstName:
                        type: string
                        description: The first name of the applicant.
                      lastName:
                        type: string
                        description: The last name of the applicant.
                      middleName:
                        type: string
                        description: The middle name of the applicant.
                      firstNameEn:
                        type: string
                        description: Automatic transliteration of the first name.
                      lastNameEn:
                        type: string
                        description: Automatic transliteration of the last name.
                      middleNameEn:
                        type: string
                        description: Automatic transliteration of the middle name.
                      legalName:
                        type: string
                        description: Legal name.
                      gender:
                        type: string
                        description: An applicant gender (`M` or `F`).
                      dob:
                        type: string
                        description: >-
                          Applicant date of birth (format `YYYY-mm-dd`, e.g.
                          2001-09-25).
                      placeOfBirth:
                        type: string
                        description: The applicant birthplace.
                      countryOfBirth:
                        type: string
                        description: Applicant country of birth.
                      stateOfBirth:
                        type: string
                        description: Applicant state of birth.
                      country:
                        type: string
                        description: Alpha-3 country code (e.g. `DEU` or `GBR`).
                      nationality:
                        type: string
                        description: Alpha-3 country code.
                      addresses:
                        type: array
                        description: List of applicant addresses.
                        items:
                          properties:
                            country:
                              type: string
                              description: Alpha-3 country code.
                            postCode:
                              type: string
                              description: Postal code.
                            town:
                              type: string
                              description: Town or city name.
                            street:
                              type: string
                              description: Street name.
                            subStreet:
                              type: string
                              description: Additional street information.
                            state:
                              type: string
                              description: State name (if applicable).
                            buildingName:
                              type: string
                              description: Building name (if applicable).
                            flatNumber:
                              type: string
                              description: Flat or apartment number.
                            buildingNumber:
                              type: string
                              description: Building number.
                          type: object
                      tin:
                        type: string
                        description: Tax identification number.
                  review:
                    type: object
                    description: Review results.
                    properties:
                      createDate:
                        type: string
                        description: >-
                          Date of users' creation on your side in a format:
                          "2022-11-21 08:25:32+0000"
                      reviewDate:
                        type: string
                        description: >-
                          review date on your side in a format: "2022-11-21
                          08:25:32+0000"
                      review:
                        type: object
                        properties:
                          moderationComment:
                            type: string
                            description: Reason of rejection for end-user
                          clientComment:
                            type: string
                            description: internal reason of rejection
                          reviewAnswer:
                            type: string
                            description: '"GREEN"/"RED"'
                          reviewRejectType:
                            type: string
                            description: '"FINAL"/"RETRY"(used only when "reviewAnswer"="RED")'
                      reviewStatus:
                        type: string
                        description: '"completed"'
        deprecated: false
    /resources/applicants/-/applicantImport:
      post:
        summary: Import applicant with images by archive
        description: Imports applicant data and images including associated review results.
        operationId: import-applicant-with-images-by-archive
        parameters:
          - name: Content-Type
            in: header
            schema:
              type: string
              default: application/zip
        requestBody:
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: string
                    description: An archive file.
                    format: binary
            multipart/form-data:
              schema:
                type: object
                properties:
                  content:
                    type: string
                    description: An archive file.
                    format: binary
        deprecated: false
    /resources/applicants/{applicantId}/status/testCompleted:
      post:
        summary: Set review for applicant in sandbox
        description: Simulates a verification reposnose.
        operationId: set-review-for-applicant-on-sandbox
        parameters:
          - name: applicantId
            in: path
            description: A unique applicant identifier.
            schema:
              type: string
            required: true
        requestBody:
          content:
            application/json:
              schema:
                type: object
                required:
                  - reviewAnswer
                  - rejectLabels
                properties:
                  reviewAnswer:
                    type: string
                    description: >-
                      A `GREEN` or `RED` label under which you want to simulate
                      the response. For more information, see [this
                      article](https://docs.sumsub.com/reference).
                  rejectLabels:
                    type: array
                    description: >-
                      An array of [rejection
                      labels](/docs/receive-and-interpret-results-via-api#understand-rejection).
                    items:
                      type: string
                  reviewRejectType:
                    type: string
                    description: >-
                      A `FINAL` or `RETRY` rejection type indicating whether a
                      rejection should be final or temporary.
                  clientComment:
                    type: string
                    description: >-
                      A rejection comment that should not be available to your
                      applicants.
                  moderationComment:
                    type: string
                    description: >-
                      A comment that supposed to be shown to the applicant,
                      explaining the reason of rejection.
            multipart/form-data:
              schema:
                type: object
                required:
                  - reviewAnswer
                  - rejectLabels
                properties:
                  reviewAnswer:
                    type: string
                    description: >-
                      A `GREEN` or `RED` label under which you want to simulate
                      the response. For more information, see [this
                      article](https://docs.sumsub.com/reference).
                  rejectLabels:
                    type: array
                    description: >-
                      An array of [rejection
                      labels](/docs/receive-and-interpret-results-via-api#understand-rejection).
                    items:
                      type: string
                  reviewRejectType:
                    type: string
                    description: >-
                      A `FINAL` or `RETRY` rejection type indicating whether a
                      rejection should be final or temporary.
                  clientComment:
                    type: string
                    description: >-
                      A rejection comment that should not be available to your
                      applicants.
                  moderationComment:
                    type: string
                    description: >-
                      A comment that supposed to be shown to the applicant,
                      explaining the reason of rejection.
        deprecated: false
        x-readme:
          code-samples:
            - language: curl
              code: |-
                curl -X POST \
                  'https://api.sumsub.com/resources/applicants/5bb8cca10a975a624903cf65/status/testCompleted' \
                  -H 'content-type: application/json' \
                  -d '{
                          "reviewAnswer": "RED",
                          "moderationComment": "We do not accept screenshots. Please upload an original photo.",
                          "clientComment": "Screenshots are not accepted.",
                          "reviewRejectType": "RETRY",
                          "rejectLabels": ["UNSATISFACTORY_PHOTOS","SCREENSHOTS"]
                      }
                '
          samples-languages:
            - curl
    /resources/applicants/{applicantId}/tags/add:
      post:
        summary: Add custom applicant tags
        description: Adds custom tags to applicant profiles.
        operationId: add-custom-applicant-tags
        parameters:
          - name: applicantId
            in: path
            description: A unique applicant identifier.
            schema:
              type: string
            required: true
        requestBody:
          content:
            application/json:
              schema:
                type: object
                properties:
                  RAW_BODY:
                    type: array
                    items:
                      type: string
            multipart/form-data:
              schema:
                type: object
                properties:
                  RAW_BODY:
                    type: array
                    items:
                      type: string
        deprecated: false
    /resources/applicants/{applicantId}/tags:
      post:
        summary: Add and overwrite custom applicant tags
        description: Adds and overwrites custom tags in applicant profiles.
        operationId: adding-overwriting-custom-applicant-tags
        parameters:
          - name: applicantId
            in: path
            description: A unique applicant identifier.
            schema:
              type: string
            required: true
        requestBody:
          content:
            application/json:
              schema:
                type: object
                properties:
                  RAW_BODY:
                    type: array
                    items:
                      type: string
            multipart/form-data:
              schema:
                type: object
                properties:
                  RAW_BODY:
                    type: array
                    items:
                      type: string
        deprecated: false
        x-readme:
          code-samples:
            - language: curl
              code: >
                curl -X POST
                'https://api.sumsub.com/resources/applicants/5fd1012c885b5d0009d50e6e/tags'
                \
                  -H 'Content-Type: application/json' \
                  -d '["Approved Sanctions", "Approved PEP", "821"]'
          samples-languages:
            - curl
      delete:
        summary: Remove custom applicant tags
        description: Removes all custom tags from applicant profiles.
        operationId: remove-custom-applicant-tags
        parameters:
          - name: applicantId
            in: path
            description: A unique applicant identifier.
            schema:
              type: string
            required: true
        requestBody:
          content:
            application/json:
              schema:
                type: object
                properties:
                  RAW_BODY:
                    type: array
                    items:
                      type: string
            multipart/form-data:
              schema:
                type: object
                properties:
                  RAW_BODY:
                    type: array
                    items:
                      type: string
        deprecated: false
    /resources/applicants/{applicantId}/status/pending?reason={reason}:
      post:
        summary: Request applicant check
        description: Initiates a check of the applicant profile.
        operationId: request-applicant-check
        parameters:
          - name: reason
            in: query
            description: A note indicating the reason for checking the applicant profile.
            schema:
              type: string
          - name: applicantId
            in: path
            description: A unique applicant identifier.
            schema:
              type: string
            required: true
        deprecated: false
    /resources/applicants/{applicantId}/blacklist?note={note}:
      post:
        summary: Add applicant to blocklist
        description: Add an applicant to blocklist.
        operationId: add-applicant-to-blocklist
        parameters:
          - name: note
            in: query
            description: A note indicating the reason for blocklisting the applicant profile.
            required: true
            schema:
              type: string
          - name: applicantId
            in: path
            description: A unique applicant identifier.
            schema:
              type: string
            required: true
        deprecated: false
    /resources/applicants/{applicantId}/reset:
      post:
        summary: Reset applicant profile
        description: >-
          Marks documents uploaded by the applicant as inactive and deletes all
          statuses assigned earlier.
        operationId: reset-applicant
        parameters:
          - name: applicantId
            in: path
            description: A unique applicant identifier.
            schema:
              type: string
            required: true
        deprecated: false
    /resources/applicants/{applicantId}/resetStep/{idDocSetType}:
      post:
        summary: Reset verification step
        description: Resets the specified verification step.
        operationId: reset-single-verification-step
        parameters:
          - name: applicantId
            in: path
            description: A unique applicant identifier.
            schema:
              type: string
            required: true
          - name: idDocSetType
            in: path
            description: >-
              A [step
              name](ref:reset-single-verification-step#available-steps-to-reset)
              to reset.
            schema:
              type: string
            required: true
        deprecated: false
    /resources/inspections/{inspectionId}/resources/{imageId}:
      delete:
        summary: Mark image as inactive
        description: Marks uploaded images as deleted.
        operationId: marking-image-as-inactive
        parameters:
          - name: revert
            in: query
            description: Set `true` to revert inactivity of the image.
            schema:
              type: boolean
              default: false
          - name: inspectionId
            in: path
            description: >-
              An inspection identifier. You can get this number by using [this API
              method](ref:get-applicant-data).
            schema:
              type: string
            required: true
          - name: imageId
            in: path
            description: >-
              An image identifier. You can get this number by using [this API
              method](ref:get-applicant-verification-steps-status).
            schema:
              type: string
            required: true
        deprecated: false
      get:
        summary: Get document images
        description: Returns document images.
        operationId: get-document-images
        parameters:
          - name: inspectionId
            in: path
            description: >-
              An inspection identifier. This identifier is returned as a root
              field upon running [this API method](ref:get-applicant-data).
            schema:
              type: string
            required: true
          - name: imageId
            in: path
            description: >-
              An image identifier. You can get this number by using [this API
              method](ref:get-applicant-verification-steps-status).
            schema:
              type: string
            required: true
        deprecated: false
    /resources/applicants/{applicantId}/presence/{status}:
      patch:
        summary: Deactivate applicant profile
        description: Deactivates an applicant profile.
        operationId: deactivate-applicant-profile
        parameters:
          - name: applicantId
            in: path
            description: A unique applicant identifier.
            schema:
              type: string
            required: true
          - name: status
            in: path
            description: >-
              Possible values: `deactivated` to deactivate the applicant profile.
              `activated` to reactivate the applicant profile.
            schema:
              type: string
            required: true
        deprecated: false
    /resources/applicants/{applicantId}/agreement:
      post:
        summary: Add applicant consent
        description: Adds a consent to the applicant profile.
        operationId: add-applicant-consent
        parameters:
          - name: applicantId
            in: path
            description: >-
              A unique identifier of an applicant profile to which a consent
              should be added.
            schema:
              type: string
            required: true
        requestBody:
          content:
            application/json:
              schema:
                type: object
                required:
                  - records
                properties:
                  records:
                    type: array
                    description: An array of applicant consents.
                    items:
                      properties:
                        content:
                          type: string
                          description: Full raw consent text.
                      type: object
                  acceptedAt:
                    type: string
                    description: Date and time a consent was accepted by the applicant.
                  residenceCountry:
                    type: string
                    description: >-
                      An applicant country of residence in Alpha-3 format. For
                      example, `USA` for the United States of America or `GBR` for
                      Great Britain.
            multipart/form-data:
              schema:
                type: object
                required:
                  - records
                properties:
                  records:
                    type: array
                    description: An array of applicant consents.
                    items:
                      properties:
                        content:
                          type: string
                          description: Full raw consent text.
                      type: object
                  acceptedAt:
                    type: string
                    description: Date and time a consent was accepted by the applicant.
                  residenceCountry:
                    type: string
                    description: >-
                      An applicant country of residence in Alpha-3 format. For
                      example, `USA` for the United States of America or `GBR` for
                      Great Britain.
        deprecated: false
    /resources/applicants/{applicantId}/one:
      get:
        summary: Get applicant data
        description: Returns applicant information.
        operationId: get-applicant-data
        parameters:
          - name: applicantId
            in: path
            description: A unique applicant identifier
            schema:
              type: string
            required: true
        responses:
          '200':
            description: '200'
            content:
              application/json:
                examples:
                  Individual applicants:
                    value: |-
                      {
                        "id": "5b594ade0a975a36c9349e66",
                        "createdAt": "2020-06-24 05:05:14",
                        "clientId": "ClientName",
                        "inspectionId": "5b594ade0a975a36c9379e67",
                        "externalUserId": "SomeExternalUserId",
                        "fixedInfo": {
                          "firstName": "Chris",
                          "lastName": "Smith"
                        },
                        "info": {
                          "firstName": "CHRISTIAN",
                          "firstNameEn": "CHRISTIAN",
                          "lastName": "SMITH",
                          "lastNameEn": "SMITH",
                          "dob": "1989-07-16",
                          "country": "DEU",
                          "idDocs": [
                            {
                              "idDocType": "ID_CARD",
                              "country": "DEU",
                              "firstName": "CHRISTIAN",
                              "firstNameEn": "CHRISTIAN",
                              "lastName": "SMITH",
                              "lastNameEn": "SMITH",
                              "validUntil": "2028-09-04",
                              "number": "LGXX359T8",
                              "dob": "1989-07-16",
                              "mrzLine1": "IDD<<LGXX359T88<<<<<<<<<<<<<<<",
                              "mrzLine2": "8907167<2809045D<<<<<<<<<<<<<8",
                              "mrzLine3": "SMITH<<CHRISTIAN<<<<<<<<<<<<<<"
                            }
                          ]
                        },
                        "agreement": { //present when SDK was initialized with Agreement screen enabled
                          "createdAt": "2020-06-24 04:18:40",
                          "source": "WebSDK",
                          "targets": [
                            "By clicking Next, I accept [the Terms and Conditions](https://www.sumsub.com/consent-to-personal-data-processing/)",
                            "I agree to the processing of my personal data, as described in [the Consent to Personal Data Processing](https://sumsub.com/consent-to-personal-data-processing/)"
                          ]
                        },
                        "email": "christman1@gmail.com",
                        "applicantPlatform": "Android",
                        "requiredIdDocs": {
                          "docSets": [
                            {
                              "idDocSetType": "IDENTITY",
                              "types": [
                                "PASSPORT",
                                "ID_CARD"
                              ]
                            },
                            {
                              "idDocSetType": "SELFIE",
                              "types": [
                                "SELFIE"
                              ]
                            }
                          ]
                        },
                        "review": {
                          "elapsedSincePendingMs": 115879,
                          "elapsedSinceQueuedMs": 95785,
                          "reprocessing": true,
                          "levelName": "basic-kyc",
                          "createDate": "2020-06-24 05:11:02+0000",
                          "reviewDate": "2020-06-24 05:12:58+0000",
                          "reviewResult": {
                            "reviewAnswer": "GREEN"
                          },
                          "reviewStatus": "completed"
                        },
                        "lang": "de",
                        "type": "individual"
                      }
                  Company applicants:
                    value: |2-
                            {
                              "id": "5ecfbe9ad5ea48743f8dd1b8",
                              "createdAt": "2020-05-28 13:37:30",
                              "clientId": "coolclientid",
                              "inspectionId": "5ecfbe9ad5ea48743f8dd1b9",
                              "externalUserId": "externalCompanyId",
                              "info": {
                                "companyInfo": {
                                  "companyName": "SUMSUB LIMITED",
                                  "registrationNumber": "1555555",
                                  "country": "GBR",
                                  "incorporatedOn": "2018-02-28 00:00:00",
                                  "type": "ltd",
                                  "website": "www.sumsub.com",
                                  "beneficiaries": [
                                    {
                                      "applicantId": "5ecfbecad5ea48743f8dd438",
                                      "positions": ["director"],
                                      "type": "ubo",
                                      "inRegistry": false,
                                      "imageIds": null,
                                      "applicant": null
                                    }
                                  ]
                                }
                              },
                              "requiredIdDocs": {
                                "docSets": [
                                  {
                                    "idDocSetType": "COMPANY",
                                    "types": ["COMPANY_DOC"],
                                    "steps": [
                                      {
                                        "name": "company",
                                        "minDocsCnt": 1,
                                        "idDocTypes": ["COMPANY_DOC"],
                                        "idDocSubTypes": null
                                      },
                                      {
                                        "name": "ubos",
                                        "minDocsCnt": null,
                                        "idDocTypes": null,
                                        "idDocSubTypes": null
                                      }
                                    ]
                                  }
                                ]
                              },
                              "review": {
                                "elapsedSincePendingMs": 308656,
                                "elapsedSinceQueuedMs": 26993,
                                "reprocessing": true,
                                "createDate": "2020-05-29 12:22:11+0000",
                                "reviewDate": "2020-05-29 12:27:19+0000",
                                "startDate": "2020-05-29 12:26:52+0000",
                                "reviewResult": {
                                  "reviewAnswer": "GREEN"
                                },
                                "reviewStatus": "completed"
                              },
                              "lang": "en",
                              "type": "company"
                            }
                schema:
                  oneOf:
                    - title: Individual applicants
                      type: object
                      properties:
                        id:
                          type: string
                          example: 5b594ade0a975a36c9349e66
                        createdAt:
                          type: string
                          example: '2020-06-24 05:05:14'
                        clientId:
                          type: string
                          example: ClientName
                        inspectionId:
                          type: string
                          example: 5b594ade0a975a36c9379e67
                        externalUserId:
                          type: string
                          example: SomeExternalUserId
                        fixedInfo:
                          type: object
                          properties:
                            firstName:
                              type: string
                              example: Chris
                            lastName:
                              type: string
                              example: Smith
                        info:
                          type: object
                          properties:
                            firstName:
                              type: string
                              example: CHRISTIAN
                            firstNameEn:
                              type: string
                              example: CHRISTIAN
                            lastName:
                              type: string
                              example: SMITH
                            lastNameEn:
                              type: string
                              example: SMITH
                            dob:
                              type: string
                              example: '1989-07-16'
                            country:
                              type: string
                              example: DEU
                            idDocs:
                              type: array
                              items:
                                type: object
                                properties:
                                  idDocType:
                                    type: string
                                    example: ID_CARD
                                  country:
                                    type: string
                                    example: DEU
                                  firstName:
                                    type: string
                                    example: CHRISTIAN
                                  firstNameEn:
                                    type: string
                                    example: CHRISTIAN
                                  lastName:
                                    type: string
                                    example: SMITH
                                  lastNameEn:
                                    type: string
                                    example: SMITH
                                  validUntil:
                                    type: string
                                    example: '2028-09-04'
                                  number:
                                    type: string
                                    example: LGXX359T8
                                  dob:
                                    type: string
                                    example: '1989-07-16'
                                  mrzLine1:
                                    type: string
                                    example: IDD<<LGXX359T88<<<<<<<<<<<<<<<
                                  mrzLine2:
                                    type: string
                                    example: 8907167<2809045D<<<<<<<<<<<<<8
                                  mrzLine3:
                                    type: string
                                    example: SMITH<<CHRISTIAN<<<<<<<<<<<<<<
                        agreement:
                          type: object
                          properties:
                            createdAt:
                              type: string
                              example: '2020-06-24 04:18:40'
                            source:
                              type: string
                              example: WebSDK
                            targets:
                              type: array
                              items:
                                type: string
                                example: >-
                                  By clicking Next, I accept [the Terms and
                                  Conditions](https://www.sumsub.com/consent-to-personal-data-processing/)
                        email:
                          type: string
                          example: christman1@gmail.com
                        applicantPlatform:
                          type: string
                          example: Android
                        requiredIdDocs:
                          type: object
                          properties:
                            docSets:
                              type: array
                              items:
                                type: object
                                properties:
                                  idDocSetType:
                                    type: string
                                    example: IDENTITY
                                  types:
                                    type: array
                                    items:
                                      type: string
                                      example: PASSPORT
                        review:
                          type: object
                          properties:
                            elapsedSincePendingMs:
                              type: integer
                              example: 115879
                              default: 0
                            elapsedSinceQueuedMs:
                              type: integer
                              example: 95785
                              default: 0
                            reprocessing:
                              type: boolean
                              example: true
                              default: true
                            levelName:
                              type: string
                              example: basic-kyc
                            createDate:
                              type: string
                              example: 2020-06-24 05:11:02+0000
                            reviewDate:
                              type: string
                              example: 2020-06-24 05:12:58+0000
                            reviewResult:
                              type: object
                              properties:
                                reviewAnswer:
                                  type: string
                                  example: GREEN
                            reviewStatus:
                              type: string
                              example: completed
                        lang:
                          type: string
                          example: de
                        type:
                          type: string
                          example: individual
                    - title: Company applicants
                      type: object
                      properties:
                        id:
                          type: string
                          example: 5ecfbe9ad5ea48743f8dd1b8
                        createdAt:
                          type: string
                          example: '2020-05-28 13:37:30'
                        clientId:
                          type: string
                          example: coolclientid
                        inspectionId:
                          type: string
                          example: 5ecfbe9ad5ea48743f8dd1b9
                        externalUserId:
                          type: string
                          example: externalCompanyId
                        info:
                          type: object
                          properties:
                            companyInfo:
                              type: object
                              properties:
                                companyName:
                                  type: string
                                  example: SUMSUB LIMITED
                                registrationNumber:
                                  type: string
                                  example: '1555555'
                                country:
                                  type: string
                                  example: GBR
                                incorporatedOn:
                                  type: string
                                  example: '2018-02-28 00:00:00'
                                type:
                                  type: string
                                  example: ltd
                                website:
                                  type: string
                                  example: www.sumsub.com
                                beneficiaries:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      applicantId:
                                        type: string
                                        example: 5ecfbecad5ea48743f8dd438
                                      positions:
                                        type: array
                                        items:
                                          type: string
                                          example: director
                                      type:
                                        type: string
                                        example: ubo
                                      inRegistry:
                                        type: boolean
                                        example: false
                                        default: true
                                      imageIds: {}
                                      applicant: {}
                        requiredIdDocs:
                          type: object
                          properties:
                            docSets:
                              type: array
                              items:
                                type: object
                                properties:
                                  idDocSetType:
                                    type: string
                                    example: COMPANY
                                  types:
                                    type: array
                                    items:
                                      type: string
                                      example: COMPANY_DOC
                                  steps:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        name:
                                          type: string
                                          example: company
                                        minDocsCnt:
                                          type: integer
                                          example: 1
                                          default: 0
                                        idDocTypes:
                                          type: array
                                          items:
                                            type: string
                                            example: COMPANY_DOC
                                        idDocSubTypes: {}
                        review:
                          type: object
                          properties:
                            elapsedSincePendingMs:
                              type: integer
                              example: 308656
                              default: 0
                            elapsedSinceQueuedMs:
                              type: integer
                              example: 26993
                              default: 0
                            reprocessing:
                              type: boolean
                              example: true
                              default: true
                            createDate:
                              type: string
                              example: 2020-05-29 12:22:11+0000
                            reviewDate:
                              type: string
                              example: 2020-05-29 12:27:19+0000
                            startDate:
                              type: string
                              example: 2020-05-29 12:26:52+0000
                            reviewResult:
                              type: object
                              properties:
                                reviewAnswer:
                                  type: string
                                  example: GREEN
                            reviewStatus:
                              type: string
                              example: completed
                        lang:
                          type: string
                          example: en
                        type:
                          type: string
                          example: company
        deprecated: false
    /resources/applicants/-;externalUserId={externalUserId}/one:
      get:
        summary: Get applicant data (externalUserId)
        description: Returns applicant information based on the provided `externalUserId`.
        operationId: get-applicant-data-via-externaluserid
        parameters:
          - name: externalUserId
            in: path
            description: A unique applicant identifier in your system.
            schema:
              type: string
            required: true
        responses:
          '200':
            description: '200'
            content:
              application/json:
                examples:
                  Individual applicants:
                    value: |-
                      {
                        "id": "5b594ade0a975a36c9349e66",
                        "createdAt": "2020-06-24 05:05:14",
                        "clientId": "ClientName",
                        "inspectionId": "5b594ade0a975a36c9379e67",
                        "externalUserId": "SomeExternalUserId",
                        "fixedInfo": {
                          "firstName": "Chris",
                          "lastName": "Smith"
                        },
                        "info": {
                          "firstName": "CHRISTIAN",
                          "firstNameEn": "CHRISTIAN",
                          "lastName": "SMITH",
                          "lastNameEn": "SMITH",
                          "dob": "1989-07-16",
                          "country": "DEU",
                          "idDocs": [
                            {
                              "idDocType": "ID_CARD",
                              "country": "DEU",
                              "firstName": "CHRISTIAN",
                              "firstNameEn": "CHRISTIAN",
                              "lastName": "SMITH",
                              "lastNameEn": "SMITH",
                              "validUntil": "2028-09-04",
                              "number": "LGXX359T8",
                              "dob": "1989-07-16",
                              "mrzLine1": "IDD<<LGXX359T88<<<<<<<<<<<<<<<",
                              "mrzLine2": "8907167<2809045D<<<<<<<<<<<<<8",
                              "mrzLine3": "SMITH<<CHRISTIAN<<<<<<<<<<<<<<"
                            }
                          ]
                        },
                        "agreement": {  //present when SDK was initialized with Agreement screen enabled
                          "createdAt": "2020-06-24 04:18:40",
                          "source": "WebSDK",
                          "targets": [
                            "By clicking Next, I accept [the Terms and Conditions](https://www.sumsub.com/consent-to-personal-data-processing/)",
                            "I agree to the processing of my personal data, as described in [the Consent to Personal Data Processing](https://sumsub.com/consent-to-personal-data-processing/)"
                          ]
                        },
                        "email": "christman1@gmail.com",
                        "applicantPlatform": "Android",
                        "requiredIdDocs": {
                          "docSets": [
                            {
                              "idDocSetType": "IDENTITY",
                              "types": [
                                "PASSPORT",
                                "ID_CARD"
                              ]
                            },
                            {
                              "idDocSetType": "SELFIE",
                              "types": [
                                "SELFIE"
                              ]
                            }
                          ]
                        },
                        "review": {
                          "elapsedSincePendingMs": 115879,
                          "elapsedSinceQueuedMs": 95785,
                          "reprocessing": true,
                          "levelName": "basic-kyc",
                          "createDate": "2020-06-24 05:11:02+0000",
                          "reviewDate": "2020-06-24 05:12:58+0000",
                          "reviewResult": {
                            "reviewAnswer": "GREEN"
                          },
                          "reviewStatus": "completed"
                        },
                        "lang": "de",
                        "type": "individual"
                      }
                  Company applicants:
                    value: |-
                      {
                        "id": "5ecfbe9ad5ea48743f8dd1b8",
                        "createdAt": "2020-05-28 13:37:30",
                        "clientId": "coolclientid",
                        "inspectionId": "5ecfbe9ad5ea48743f8dd1b9",
                        "externalUserId": "externalCompanyId",
                        "info": {
                          "companyInfo": {
                            "companyName": "SUMSUB LIMITED",
                            "registrationNumber": "1555555",
                            "country": "GBR",
                            "incorporatedOn": "2018-02-28 00:00:00",
                            "type": "ltd",
                            "website": "www.sumsub.com",
                            "beneficiaries": [
                              {
                                "applicantId": "5ecfbecad5ea48743f8dd438",
                                "positions": [
                                  "director"
                                ],
                                "type": "ubo",
                                "inRegistry": false,
                                "imageIds": null,
                                "applicant": null
                              }
                            ]
                          }
                        },
                        "requiredIdDocs": {
                          "docSets": [
                            {
                              "idDocSetType": "COMPANY",
                              "types": [
                                "COMPANY_DOC"
                              ],
                              "steps": [
                                {
                                  "name": "company",
                                  "minDocsCnt": 1,
                                  "idDocTypes": [
                                    "COMPANY_DOC"
                                  ],
                                  "idDocSubTypes": null
                                },
                                {
                                  "name": "ubos",
                                  "minDocsCnt": null,
                                  "idDocTypes": null,
                                  "idDocSubTypes": null
                                }
                              ]
                            }
                          ]
                        },
[...]
