publishJson:
  company: Token
  serviceName: false
  sdkName: token-{language}-sdk
  clientName: Token
  metaDescription: >-
    With the simplest and fastest way to launch Pay by Bank as a core payment
    method globally, Token.io's complete A2A payment infrastructure helps
    payment providers grow their market share in the face of the continued shift
    from cards to APMs.


    Token.io delivers the highest performing and deepest connectivity in the
    industry, reaching 567 million bank accounts (80%+ per market) in 20
    supported countries through a single API and interface.


    With fast and flexible deployment options, including the option to use
    Token.io's license and conversion boosting payment authentication flows,
    payment providers can quickly and easily launch and manage Pay By Bank
    capabilities.


    Token.io's solution is proven by a blue-chip base of partners, which
    collectively process payments for tens of millions of merchants worldwide,
    including HSBC, Mastercard, BNP Paribas, ACI Worldwide, Total Processing,
    Computop, Nuvei and Paysafe.


    As Token.io pushes the boundaries of innovation, it remains relentlessly
    focused on delivering infrastructure that enables payment providers to grow
    their business. Token.io also provides access to aggregated bank account and
    transaction data, enabling payment providers to enrich their services and
    reinvent financial experiences.


    Token.io is authorised as an AISP & PISP by the FCA in the UK and by BaFin
    in Germany. Token.io is PSD2 and SCA compliant, and PCI-DSS Level 1 and
    ISO27001:2013 Certified.


    — RECOGNISED BY —


    "Token.io provides an innovative solution in the Open Banking payments
    landscape…" — Juniper Research

    "Token.io's strength is payment infrastructure…" — Forrester

    "One of the fastest growing fintechs of 2022… " — Sifted


    🏆 Open Banking Platinum Innovation Award - Juniper Research 2023 and 2022

    🏆 Payments Tech of the Year - Europe Fintech Awards 2023

    🏆 Fintech for Good Award - Paytech Awards 2023

    🏆 Qorus-Capgemini NewTech Payments Bronze Award - 2023

    🏆 Payments Tech of the Year Award - Fintech Awards London 2022
  apiStatusUrls: inherit
  homepage: token.io
  developerDocumentation: reference.token.io/
  categories:
    - open_banking
    - payments
rawSpecString: |
  openapi: 3.0.1
  info:
    title: Token.io's Open Banking API for TPPs
    description: >-
      <b>Token.io's Open Banking API</b><br/><br/>Token.io Support: <a
      href="https://support.token.io"
      target="_blank">support.token.io</a><br/><br/>The Token.io Open Banking API
      enables you to connect securely with banks for a range of
      services.<br/><br/> Using our API you can: <ul><li>provide authorized access
      to an authenticated user's account information</li><li>get information on
      specific banks</li><li>initiate authorization with a user-selected
      bank</li><li>initate and track single immediate payments and future dated
      payments</li><li>use variable recurring payments (VRP) to grant long-held
      consents to Payment Initiation Service Providers (PISPs) to initiate series
      of payments from users' bank accounts</li><li>carry out settlements,
      payments and refunds using our virtual accounts</li></ul><br/>For more
      information see our <a
      href="https://developer.token.io/token_rest_api_doc/content/e-rest/dashboard-intro.htm"
      target="_blank">developer documentation</a>.
    version: v1.2.3.8
  servers:
    - url: https://api.token.io
  tags:
    - name: Single Immediate Payments v2
      description: >-
        These endpoints enable you to make single immediate payments and future
        dated payments using the redirect flow, embedded flow and decoupled flow.
    - name: Requests
      description: >-
        These endpoints allow you to initiate a v1 payment request or an AIS
        request, and retrieve the status of the request.
    - name: Single Immediate Payments v1
      description: >-
        These endpoints allow you to submit new payment initiation requests and
        retrieve information about existing payments.
    - name: Variable Recurring Payments
      description: These endpoints enable you to initiate Variable Recurring Payments (VRP).
    - name: Refunds - BETA
      description: >-
        These endpoints allow you to handle registration, posting, and retrieval
        of refunds associated with original transaction account information.
    - name: Payouts - BETA
      description: These endpoints allow you to make payouts.
    - name: Virtual Accounts - BETA
      description: >-
        These endpoints provide authorized access to an authenticated user's
        virtual account information, managing settlement rules for virtual
        accounts and retrieving a list of payouts generated by settlement rules
        for virtual accounts.
    - name: Accounts
      description: >-
        These endpoints provide authorized access to an authenticated user's
        account information.
    - name: Tokens
      description: >-
        These endpoints retrieve all tokens, a filtered list of tokens, or a
        specific token, as well as allowing you to cancel an existing token.
    - name: Banks v1
      description: >-
        These endpoints filter and fetch the list of Token.io-connected banks, get
        information on specific banks, and initiate authorization with
        user-selected banks.
    - name: Banks v2
      description: >-
        This endpoint filters and fetches the list of Token.io-connected banks,
        gets information on specific banks, and initiates authorization with
        user-selected banks.
    - name: Sub-TPPs
      description: >-
        These endpoints are for resellers using Token.io's licence to create,
        retrieve and delete sub-TPPs.
    - name: Reports
      description: >-
        These endpoints retrieve the current AIS and PIS status of
        Token.io-connected banks.
    - name: TSP
      description: >-
        This end point should be used when the TPP receives a callback directly
        from the bank after authorization is completed. This endpoint is for both
        v1 and v2 requests.
    - name: Webhooks
      description: >-
        These endpoints configure, retrieve and remove webhooks. See <a
        href="https://developer.token.io/token_rest_api_doc/content/e-rest/api-basics.htm#Webhook"
        target="_blank">Webhooks</a> for more details.
  paths:
    /accounts:
      get:
        tags:
          - Accounts
        summary: Get information for all accounts
        description: >-
          The `GET /accounts` endpoint retrieves information for all bank
          accounts.
        operationId: GatewayService.GetAccounts
        parameters:
          - name: token-customer-ip-address
            in: header
            description: >-
              The user's IP address if the user is currently logged in with the
              TPP. If the customer  IP address is supplied (recommended), it is
              inferred that the user is present during the session (<i>i.e.</i>,
              the request is user-initiated; adding a `customer-initiated` =
              `true` header makes this explicit). For AIS calls, if the customer's
              IP address is not provided in the request, the bank assumes it is a
              TPP-initiated request and may limit the TPP to 4 TPP-initiated
              access attempts within a given 24-hour period.
            schema:
              type: string
              format: ipv4
            required: false
            example: 172.16.254.1
        responses:
          '200':
            description: Successful response
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/GetAccountsResponse'
          '400':
            description: The client specified an invalid argument
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_400'
          '401':
            description: The authorization information is missing or invalid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_401'
          '403':
            description: Permission to access this endpoint is denied
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_403'
          '404':
            description: The requested entity, such as a payment, was not found
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_404'
          '429':
            description: Too many requests
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_429'
          '500':
            description: An unexpected or internal server error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_500'
          '501':
            description: The operation was not implemented
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_501'
          '503':
            description: Service is unavailable
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_503'
          '504':
            description: Gateway has timed out
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_504'
        deprecated: false
        security:
          - BasicAuth: []
          - Bearer: []
        x-hideTryItPanel: true
    /accounts/{accountId}:
      get:
        tags:
          - Accounts
        summary: Get account information
        description: >-
          The `GET /accounts/{accountId}` endpoint retrieves the information for a
          specific bank account.
        operationId: GatewayService.GetAccount
        parameters:
          - name: accountId
            in: path
            description: >-
              The system-generated, unique bank account id, which specifies the
              account for which the information is requested.
            required: true
            style: simple
            explode: false
            schema:
              type: string
            example: a:8DbPteGnytmMbKXdnWTReeRB6cYWKXZ84JgLTBC7fKL4:5zKcENpV
          - name: token-customer-ip-address
            in: header
            description: >-
              The user's IP address if the user is currently logged in with the
              TPP. If the customer  IP address is supplied (recommended), it is
              inferred that the user is present during the session (<i>i.e.</i>,
              the request is user-initiated; adding a `customer-initiated` =
              `true` header makes this explicit). For AIS calls, if the customer's
              IP address is not provided in the request, the bank assumes it is a
              TPP-initiated request and may limit the TPP to 4 TPP-initiated
              access attempts within a given 24-hour period.
            schema:
              type: string
              format: ipv4
            required: false
            example: 172.16.254.1
        responses:
          '200':
            description: Successful response
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/GetAccountResponse'
          '400':
            description: The client specified an invalid argument
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_400'
          '401':
            description: The authorization information is missing or invalid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_401'
          '403':
            description: Permission to access this endpoint is denied
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_403'
          '404':
            description: The requested entity, such as a payment, was not found
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_404'
          '429':
            description: Too many requests
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_429'
          '500':
            description: An unexpected or internal server error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_500'
          '501':
            description: The operation was not implemented
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_501'
          '503':
            description: Service is unavailable
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_503'
          '504':
            description: Gateway has timed out
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_504'
        deprecated: false
        security:
          - BasicAuth: []
          - Bearer: []
        x-hideTryItPanel: true
    /account-balance:
      get:
        tags:
          - Accounts
        summary: Get account balances
        description: >-
          The `GET /account-balance` endpoint retrieves the balances for multiple
          bank accounts.
        operationId: GatewayService.GetBalances
        parameters:
          - name: token-customer-ip-address
            in: header
            description: >-
              The user's IP address if the user is currently logged in with the
              TPP. If the customer  IP address is supplied (recommended), it is
              inferred that the user is present during the session (<i>i.e.</i>,
              the request is user-initiated; adding a `customer-initiated` =
              `true` header makes this explicit). For AIS calls, if the customer's
              IP address is not provided in the request, the bank assumes it is a
              TPP-initiated request and may limit the TPP to 4 TPP-initiated
              access attempts within a given 24-hour period.
            schema:
              type: string
              format: ipv4
            required: false
            example: 172.16.254.1
          - name: accountId
            in: query
            description: >-
              A comma-separated list of account ids for which you wish to retrieve
              account balances.
            required: false
            style: form
            explode: true
            schema:
              type: array
              items:
                type: string
            example:
              - a:8DbPteGnytmMbKXdnWTReeRB6cYWKXZ84JgLTBC7fKL4:5zKcENpV
              - a:9TFpwkcQmcsMbdjQcpdjfsEBosDw28503fAAGPEMF2MVF19hfk3nc
              - a:rtmv254gaskGLdkadQvdNesk2Y9ferbvpaom5mvepm0mv2nfGnaix
        responses:
          '200':
            description: Successful response
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/GetBalancesResponse'
          '400':
            description: The client specified an invalid argument
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_400'
          '401':
            description: The authorization information is missing or invalid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_401'
          '403':
            description: Permission to access this endpoint is denied
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_403'
          '404':
            description: The requested entity, such as a payment, was not found
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_404'
          '429':
            description: Too many requests
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_429'
          '500':
            description: An unexpected or internal server error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_500'
          '501':
            description: The operation was not implemented
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_501'
          '503':
            description: Service is unavailable
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_503'
          '504':
            description: Gateway has timed out
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_504'
        deprecated: false
        security:
          - BasicAuth: []
          - Bearer: []
        x-hideTryItPanel: true
    /accounts/{accountId}/balance:
      get:
        tags:
          - Accounts
        summary: Get an account balance
        description: >-
          The `GET /accounts/{accountId}/balance` endpoint retrieves the balance
          for a given bank account.
        operationId: GatewayService.GetBalance
        parameters:
          - name: accountId
            in: path
            description: >-
              The unique bank account id, which specifies the account for which
              the information is requested.
            required: true
            style: simple
            explode: false
            schema:
              type: string
          - name: token-customer-ip-address
            in: header
            description: >-
              The user's IP address if the user is currently logged in with the
              TPP. If the customer  IP address is supplied (recommended), it is
              inferred that the user is present during the session (<i>i.e.</i>,
              the request is user-initiated; adding a `customer-initiated` =
              `true` header makes this explicit). For AIS calls, if the customer's
              IP address is not provided in the request, the bank assumes it is a
              TPP-initiated request and may limit the TPP to 4 TPP-initiated
              access attempts within a given 24-hour period.
            schema:
              type: string
              format: ipv4
            required: false
            example: 172.16.254.1
        responses:
          '200':
            description: Successful response
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/GetBalanceResponse'
          '400':
            description: The client specified an invalid argument
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_400'
          '401':
            description: The authorization information is missing or invalid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_401'
          '403':
            description: Permission to access this endpoint is denied
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_403'
          '404':
            description: The requested entity, such as a payment, was not found
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_404'
          '429':
            description: Too many requests
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_429'
          '500':
            description: An unexpected or internal server error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_500'
          '501':
            description: The operation was not implemented
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_501'
          '503':
            description: Service is unavailable
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_503'
          '504':
            description: Gateway has timed out
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_504'
        deprecated: false
        security:
          - BasicAuth: []
          - Bearer: []
        x-hideTryItPanel: true
    /accounts/{accountId}/standing-orders:
      get:
        tags:
          - Accounts
        summary: Get information for all standing orders
        description: >-
          The `GET /accounts/{accountId}/standing-orders` endpoint retrieves
          information for all standing orders in a given account, once consent has
          been given.
        operationId: GatewayService.GetStandingOrders
        parameters:
          - name: accountId
            in: path
            description: >-
              The unique bank account id, which specifies the account for which
              the information is requested.
            required: true
            schema:
              type: string
          - name: page.offset
            in: query
            description: >-
              The offset for the current page. If the offset has been provided in
              the request, this offset will be equal to the provided one. But if
              no offset was provided in the request (<i>i.e.</i> this is the first
              page) and the page is not empty, this field will be populated with a
              non-empty string. This may be helpful for loading the same page
              again, which might not always be possible with an empty offset due
              to a dynamic nature of the data. <br>The offset is not visible to a
              user and should not be parsed and/or understood in any way.
            required: false
            style: form
            explode: true
            schema:
              type: string
            example: LerV6Jmex
          - name: page.limit
            in: query
            description: The maximum number of records to return. This must be less than 200.
            required: true
            style: form
            explode: true
            schema:
              type: integer
              format: int32
              example: 175
              default: 1
        responses:
          '200':
            description: Successful response
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/GetStandingOrdersResponse'
          '400':
            description: The client specified an invalid argument
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_400'
          '401':
            description: The authorization information is missing or invalid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_400'
          '403':
            description: Permission to access this endpoint is denied
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_403'
          '404':
            description: The requested entity, such as a payment, was not found
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_404'
          '429':
            description: Too many requests
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_429'
          '500':
            description: An unexpected or internal server error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_500'
          '501':
            description: The operation was not implemented
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_501'
          '503':
            description: Service is unavailable
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_503'
          '504':
            description: Gateway has timed out
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_504'
        deprecated: false
        security:
          - BasicAuth: []
          - Bearer: []
        x-hideTryItPanel: true
    /accounts/{accountId}/standing-orders/{standingOrderId}:
      get:
        tags:
          - Accounts
        summary: Get standing order information
        description: >-
          The `GET /accounts/{accountId}/standing-orders/{standingOrderId}`
          endpoint retrieves information for a specific standing order in a given
          account, once consent has been given.
        operationId: GatewayService.GetStandingOrder
        parameters:
          - name: accountId
            in: path
            description: >-
              The system-generated, unique bank account id, which specifies the
              account for which the information is requested.
            required: true
            schema:
              type: string
              example: a:8DbPteGnytmMbKXdnWTReeRB6cYWKXZ84JgLTBC7fKL4:5zKcENpV
          - name: standingOrderId
            in: path
            required: true
            schema:
              type: string
              description: >-
                The unique standing order identifier, which specifies the standing
                order requested.
        responses:
          '200':
            description: Successful response
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/GetStandingOrderResponse'
        deprecated: false
        security:
          - BasicAuth: []
          - Bearer: []
        x-hideTryItPanel: true
    /accounts/{accountId}/transactions:
      get:
        tags:
          - Accounts
        summary: Get account transactions
        description: >-
          The `GET /accounts/{accountId}/transactions` endpoint retrieves
          information for all transactions in a given account.
        operationId: GatewayService.GetTransactions
        parameters:
          - name: accountId
            in: path
            description: >-
              The system-generated unique bank account id, which specifies the
              account for which the information is requested.
            required: true
            style: simple
            explode: false
            schema:
              type: string
            example: a:8DbPteGnytmMbKXdnWTReeRB6cYWKXZ84JgLTBC7fKL4:5zKcENpV
          - name: token-customer-ip-address
            in: header
            description: >-
              The user's IP address if the user is currently logged in with the
              TPP. If the customer  IP address is supplied (recommended), it is
              inferred that the user is present during the session (<i>i.e.</i>,
              the request is user-initiated; adding a `customer-initiated` =
              `true` header makes this explicit). For AIS calls, if the customer's
              IP address is not provided in the request, the bank assumes it is a
              TPP-initiated request and may limit the TPP to 4 TPP-initiated
              access attempts within a given 24-hour period.
            schema:
              type: string
              format: ipv4
            required: false
            example: 172.16.254.1
          - name: page.offset
            in: query
            description: >-
              The offset for the current page. If the offset has been provided in
              the request, this offset will be equal to the provided one. But if
              no offset was provided in the request (<i>i.e.</i> this is the first
              page) and the page is not empty, this field will be populated with a
              non-empty string. This may be helpful for loading the same page
              again, which might not always be possible with an empty offset due
              to a dynamic nature of the data. <br/>The offset is not visible to a
              user and should not be parsed and/or understood in any way.
            required: false
            style: form
            explode: true
            schema:
              type: string
            example: LerV6Jmex
          - name: page.limit
            in: query
            description: The maximum number of records to return. This must be less than 200.
            required: true
            style: form
            explode: true
            schema:
              type: integer
              format: int32
              example: 175
              default: 1
          - name: startDate
            in: query
            description: >-
              The earliest transaction date requested, in <a
              href="https://www.iso.org/iso-8601-date-and-time-format.html"
              target="_blank">ISO 8601</a> format.
            required: false
            style: form
            explode: true
            schema:
              type: string
              example: '2022-06-15'
          - name: endDate
            in: query
            description: >-
              The latest transaction date requested, in <a
              href="https://www.iso.org/iso-8601-date-and-time-format.html"
              target="_blank">ISO 8601</a> format.
            required: false
            style: form
            explode: true
            schema:
              type: string
              example: '2022-11-30'
        responses:
          '200':
            description: Successful response
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/GetTransactionsResponse'
          '400':
            description: The client specified an invalid argument
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_400'
          '401':
            description: The authorization information is missing or invalid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_401'
          '403':
            description: Permission to access this endpoint is denied
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_403'
          '404':
            description: The requested entity, such as a payment, was not found
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_404'
          '429':
            description: Too many requests
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_429'
          '500':
            description: An unexpected or internal server error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_500'
          '501':
            description: The operation was not implemented
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_501'
          '503':
            description: Service is unavailable
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_503'
          '504':
            description: Gateway has timed out
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_504'
        deprecated: false
        security:
          - BasicAuth: []
          - Bearer: []
        x-hideTryItPanel: true
    /accounts/{accountId}/transaction/{transactionId}:
      get:
        tags:
          - Accounts
        summary: Get transaction information
        description: >-
          The `GET /accounts/{accountId}/transaction/{transactionId}` endpoint
          retrieves information for a specific transaction in a given account.
        operationId: GatewayService.GetTransaction
        parameters:
          - name: accountId
            in: path
            description: >-
              The unique bank account id, which specifies the account for which
              the information is requested.
            required: true
            style: simple
            explode: false
            schema:
              type: string
          - name: transactionId
            in: path
            description: >-
              The unique transaction identifier, which specifies the transaction
              requested.
            required: true
            style: simple
            explode: false
            schema:
              type: string
            example: 42909b155d4942299c39017686b5dc36
          - name: token-customer-ip-address
            in: header
            description: >-
              The user's IP address if the user is currently logged in with the
              TPP. If the customer  IP address is supplied (recommended), it is
              inferred that the user is present during the session (<i>i.e.</i>,
              the request is user-initiated; adding a `customer-initiated` =
              `true` header makes this explicit). For AIS calls, if the customer's
              IP address is not provided in the request, the bank assumes it is a
              TPP-initiated request and may limit the TPP to 4 TPP-initiated
              access attempts within a given 24-hour period.
            schema:
              type: string
              format: ipv4
            required: false
            example: 172.16.254.1
        responses:
          '200':
            description: Successful response
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/GetTransactionResponse'
          '400':
            description: The client specified an invalid argument
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_400'
          '401':
            description: The authorization information is missing or invalid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_401'
          '403':
            description: Permission to access this endpoint is denied
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_403'
          '404':
            description: The requested entity, such as a payment, was not found
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_404'
          '429':
            description: Too many requests
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_429'
          '500':
            description: An unexpected or internal server error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_500'
          '501':
            description: The operation was not implemented
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_501'
          '503':
            description: Service is unavailable
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_503'
          '504':
            description: Gateway has timed out
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_504'
        deprecated: false
        security:
          - BasicAuth: []
          - Bearer: []
        x-hideTryItPanel: true
    /accounts/{accountId}/funds-confirmation:
      put:
        tags:
          - Accounts
        summary: Confirm available funds
        description: >-
          The `PUT /accounts/{accountId}/funds-confirmation` endpoint confirms
          that sufficient funds are available in the account.
        operationId: GatewayService.ConfirmFunds
        parameters:
          - name: accountId
            in: path
            description: >-
              The system-generated, unique bank account id, which specifies the
              account for which the information is requested.
            required: true
            style: simple
            explode: false
            schema:
              type: string
            example: a:8DbPteGnytmMbKXdnWTReeRB6cYWKXZ84JgLTBC7fKL4:5zKcENpV
        requestBody:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfirmFundsRequest'
          required: true
        responses:
          '200':
            description: Successful response
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ConfirmFundsResponse'
          '400':
            description: The client specified an invalid argument
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_400'
          '401':
            description: The authorization information is missing or invalid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_401'
          '403':
            description: Permission to access this endpoint is denied
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_403'
          '404':
            description: The requested entity, such as a payment, was not found
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_404'
          '429':
            description: Too many requests
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_429'
          '500':
            description: An unexpected or internal server error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_500'
          '501':
            description: The operation was not implemented
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_501'
          '503':
            description: Service is unavailable
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_503'
          '504':
            description: Gateway has timed out
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_504'
        deprecated: false
        security:
          - BasicAuth: []
          - Bearer: []
        x-hideTryItPanel: true
    /banks:
      get:
        tags:
          - Banks v1
        summary: Get banks v1
        description: >-
          The `GET /banks` endpoint retrieves a list of Token.io-integrated banks
          matching the parameters specified.
        operationId: GatewayService.GetBanks
        parameters:
          - name: page
            in: query
            description: The index of the page currently being retrieved.
            required: false
            style: form
            explode: true
            schema:
              type: integer
              format: int32
            example: 1
          - name: perPage
            in: query
            description: The number of records per page.
            required: false
            style: form
            explode: true
            schema:
              type: integer
              format: int32
              example: 175
          - name: sort
            in: query
            description: >-
              The key to sort the result. This can be `name` (<i>i.e.</i>, bank
              name), `provider`, or `country`.
            required: false
            style: form
            explode: true
            schema:
              type: string
              example: country
              default: name
          - name: memberId
            in: query
            description: The Token.io-assigned member id of the TPP.
            required: false
            style: form
            explode: true
            schema:
              type: string
            example: m:nP4w3u5y8ddrxDJkjimgSX9e4fZ:5zKtXEAq
          - name: ids
            in: query
            description: >-
              Filters for banks with a `bankId` (case-insensitive) matching any of
              the ids listed, up to a maximum of 1000. Only exact (full string)
              matches are returned.
            required: false
            style: form
            explode: true
            schema:
              type: array
              example:
                - goldbank
                - opalbank
                - platinumbank
              items:
                type: string
          - name: search
            in: query
            description: >-
              Filters for banks with a name or identifiers containing this search
              string.
            required: false
            style: form
            explode: true
            schema:
              type: string
              example: hsbc
          - name: tppId
            in: query
            description: >-
              Filters for banks for which the TPP represented by this `tppId` has
              access.
            required: false
            style: form
            explode: true
            schema:
              type: string
            example: 4h27g823-g73s-07v3-l49s-prte94bf21v
          - name: providers
            in: query
            description: >-
              Filters for banks that are accessed through any of the listed
              providers.
            required: false
            style: form
            explode: true
            schema:
              type: array
              example: Token.io
              items:
                type: string
          - name: bankCode
            in: query
            description: >-
              Filters for banks with a BIC (or BLZ, if German) that matches this
              `bankCode`. The BIC must have a string length of 8 or 11. The BLZ
              must have a string length of 8.
            required: false
            style: form
            explode: true
            schema:
              type: string
            example: NBAGDE3E
          - name: countries
            in: query
            description: >-
              Filters for banks that are located in the countries specified by
              this list of <a href="https://www.iso.org/obp/ui/#search"
              target="_blank">ISO 3166-1 Alpha 2 country codes</a>, in upper case.
            required: false
            style: form
            explode: true
            schema:
              type: array
              example:
                - IT
                - DE
                - RO
              items:
                type: string
          - name: bank_features.supports_send_payment.value
            in: query
            description: Filters for banks that support payment initiation.
            required: false
            style: form
            explode: true
            schema:
              type: boolean
              format: boolean
              example: false
              default: false
          - name: bank_features.supports_receive_payment.value
            in: query
            description: Filters for banks that support receiving payments.
            required: false
            style: form
            explode: true
            schema:
              type: boolean
              format: boolean
              example: false
              default: false
          - name: bank_features.supports_balance.value
            in: query
            description: Filters for the banks that support retrieving balances
            required: false
            style: form
            explode: true
            schema:
              type: boolean
              format: boolean
              example: false
              default: false
          - name: bank_features.supports_scheduled_payment.value
            in: query
            description: Filters for banks that support future dated scheduled payments.
            required: false
            style: form
            explode: true
            schema:
              type: boolean
              format: boolean
              example: false
              default: false
          - name: bank_features.supports_standing_order.value
            in: query
            description: Filters for banks that support recurring payments/standing orders.
            required: false
            style: form
            explode: true
            schema:
              type: boolean
              format: boolean
              example: false
              default: false
          - name: bank_features.requires_one_step_payment.value
            in: query
            description: >-
              Filters for banks that only support immediate redemption of
              transfers.
            required: false
            style: form
            explode: true
            schema:
              type: boolean
              format: boolean
              example: false
              default: false
          - name: bank_features.supports_funds_confirmation.value
            in: query
            description: Filters for the banks that support confirmation of available funds.
            required: false
            style: form
            explode: true
            schema:
              type: boolean
              format: boolean
              example: false
              default: false
          - name: bank_features.supports_return_refund_account.value
            in: query
            description: Filters for the banks that support request of refund account.
            required: false
            style: form
            explode: true
            schema:
              type: boolean
              format: boolean
              example: false
              default: false
          - name: bank_features.supports_transactions_date_filter.value
            in: query
            description: >-
              Filters for banks that support retrieving transactions by date
              filter.
            required: false
            style: form
            explode: true
            schema:
              type: boolean
              format: boolean
              example: false
              default: false
          - name: bank_features.supports_account_information.value
            in: query
            description: Filters for banks that support retrieval of account information.
            required: false
            style: form
            explode: true
            schema:
              type: boolean
              format: boolean
              example: false
              default: false
          - name: bank_features.supports_single_payment.value
            in: query
            description: Filters for banks that support single immediate payments.
            required: false
            style: form
            explode: true
            schema:
              type: boolean
              format: boolean
              example: false
              default: false
          - name: bank_features.supports_variable_recurring_payment.value
            in: query
            description: Filters for banks that support variable recurring payments.
            required: false
            style: form
            explode: true
            schema:
              type: boolean
              format: boolean
              example: false
              default: false
          - name: bics
            in: query
            description: >-
              Filters for banks whose BIC matches any of the listed BICs
              (case-insensitive), up to a maximum of 1000.
            required: false
            style: form
            explode: true
            schema:
              type: array
              items:
                type: string
                example: BKENGB2L, BNPAFRPH, NBAGDE3E
          - name: supportedPaymentNetworks
            in: query
            description: Filters for banks that support any of the listed payment networks.
            required: false
            style: form
            explode: true
            schema:
              type: array
              items:
                type: string
          - name: bankGroup
            in: query
            description: Filters for banks that are part of the bank group specified.
            required: false
            style: form
            explode: true
            schema:
              type: string
            example:
              - HSBC
              - Coop
          - name: bankSubGroup
            in: query
            description: Filters for banks that are part of the bank sub-group specified.
            required: false
            style: form
            explode: true
            schema:
              type: string
            example:
              - CMM Grand
              - Banque Populaire
              - La Banque
        responses:
          '200':
            description: Successful response
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/GetBanksResponse'
          '400':
            description: The client specified an invalid argument
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_400'
          '401':
            description: The authorization information is missing or invalid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_401'
          '403':
            description: Permission to access this endpoint is denied
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_403'
          '404':
            description: The requested entity, such as a payment, was not found
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_404'
          '429':
            description: Too many requests
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_429'
          '500':
            description: An unexpected or internal server error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_500'
          '501':
            description: The operation was not implemented
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_501'
          '503':
            description: Service is unavailable
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_503'
          '504':
            description: Gateway has timed out
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_504'
        deprecated: false
        x-hideTryItPanel: false
    /bank/countries:
      get:
        tags:
          - Banks v1
        summary: Get bank countries
        description: >-
          The `GET /banks/countries` endpoint retrieves the list of countries that
          have Token.io-integrated banks which match the parameters specified.
        operationId: GatewayService.GetBanksCountries
        parameters:
          - name: ids
            in: query
            description: >-
              Filters for banks with bank ids that are represented in this list of
              ids (case-insensitive), up to a maximum of 1000.
            required: false
            style: form
            explode: true
            schema:
              type: array
              items:
                type: string
            example:
              - goldbank
              - opalbank
              - platinumbank
          - name: search
            in: query
            description: >-
              Filters for banks with names or identifiers that contain this search
              string (case sensitive).
            required: false
            style: form
            explode: true
            schema:
              type: string
              example: banca
          - name: tppId
            in: query
            description: Filters for banks to which the TPP with this `tppId` has access.
            required: false
            style: form
            explode: true
            schema:
              type: string
              example: 9fk3m361-f12r-04b9-p39f-rio2m3pw9v8s
          - name: bankCode
            in: query
            description: >-
              Filters for banks with a BIC (or BLZ, if German) that matches this
              `bankCode`. The BIC must have a string length of 8 or 11. The BLZ
              must have a string length of 8.
            required: false
            style: form
            explode: true
            schema:
              type: string
              example: NBAGDE3E
          - name: countries
            in: query
            description: >-
              Filters for banks that are located in the countries specified by
              this list of <a href="https://www.iso.org/obp/ui/#search"
              target="_blank">ISO 3166-1 Alpha 2 country codes</a>, in upper case.
            required: false
            style: form
            explode: true
            schema:
              type: array
              items:
                type: string
                example: GB, RO, AT
          - name: providers
            in: query
            description: >-
              Filters for banks that are accessed through any of this list of
              providers.
            required: false
            style: form
            explode: true
            schema:
              type: array
              example: Token.io
              items:
                type: string
          - name: bank_features.supports_send_payment.value
            in: query
            description: Filters for banks that support payment initiation.
            required: false
            style: form
            explode: true
            schema:
              type: boolean
              format: boolean
              example: false
              default: false
          - name: bank_features.supports_receive_payment.value
            in: query
            description: Filters for banks that support the receipt of payments.
            required: false
            style: form
            explode: true
            schema:
              type: boolean
              format: boolean
              example: false
              default: false
          - name: bank_features.supports_balance.value
            in: query
            description: Filters for the banks that support retrieving account balances.
            required: false
            style: form
            explode: true
            schema:
              type: boolean
              format: boolean
              example: false
              default: false
          - name: bank_features.supports_scheduled_payment.value
            in: query
            description: Filters for banks that support future dated scheduled payments.
            required: false
            style: form
            explode: true
            schema:
              type: boolean
              format: boolean
              example: false
              default: false
          - name: bank_features.supports_standing_order.value
            in: query
            description: Filters for banks that support standing orders/recurring payments.
            required: false
            style: form
            explode: true
            schema:
              type: boolean
              format: boolean
              example: false
              default: false
          - name: bank_features.requires_one_step_payment.value
            in: query
            description: >-
              Filters for banks that only support immediate redemption of transfer
              tokens.
            required: false
            style: form
            explode: true
            schema:
              type: boolean
              format: boolean
              example: false
              default: false
          - name: bank_features.supports_funds_confirmation.value
            in: query
            description: Filters for banks that support confirmation of available funds.
            required: false
            style: form
            explode: true
            schema:
              type: boolean
              format: boolean
              example: false
              default: false
          - name: bank_features.supports_return_refund_account.value
            in: query
            description: Filters for banks that support the request of refund account.
            required: false
            style: form
            explode: true
            schema:
              type: boolean
              format: boolean
              example: false
              default: false
          - name: bank_features.supports_transactions_date_filter.value
            in: query
            description: >-
              Filters for banks that support retrieving transactions by date
              filter.
            required: false
            style: form
            explode: true
            schema:
              type: boolean
              format: boolean
              example: false
              default: false
          - name: bank_features.supports_account_information.value
            in: query
            description: >-
              Filters for banks that support retrieving account information using
              Account Information Services (AIS).
            required: false
            style: form
            explode: true
            schema:
              type: boolean
              format: boolean
              example: false
              default: false
          - name: bank_features.supports_single_payment.value
            in: query
            description: Filters for banks that support single immediate payments.
            required: false
            style: form
            explode: true
            schema:
              type: boolean
              format: boolean
              example: false
              default: false
          - name: bank_features.supports_variable_recurring_payment.value
            in: query
            description: Filters for banks that support variable recurring payments.
            required: false
            style: form
            explode: true
            schema:
              type: boolean
              format: boolean
              example: false
              default: false
          - name: memberId
            in: query
            description: The Token.io-assigned member id of the TPP.
            required: false
            style: form
            explode: true
            schema:
              type: string
              example: m:nP4w3u5y8ddrxDJkjimgSX9e4fZ:5zKtXEAq
            example: m:nP4w3u5y8ddrxDJkjimgSX9e4fZ:5zKtXEAq
          - name: supportedPaymentNetworks
            in: query
            description: Filters for banks that support any of the listed payment networks.
            required: false
            style: form
            explode: true
            schema:
              type: array
              items:
                type: string
                example: SEPA
        responses:
          '200':
            description: Successful response
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/GetBanksCountriesResponse'
          '400':
            description: The client specified an invalid argument
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_400'
          '401':
            description: The authorization information is missing or invalid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_401'
          '403':
            description: Permission to access this endpoint is denied
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_403'
          '404':
            description: The requested entity, such as a payment, was not found
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_404'
          '429':
            description: Too many requests
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_429'
          '500':
            description: An unexpected or internal server error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_500'
          '501':
            description: The operation was not implemented
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_501'
          '503':
            description: Service is unavailable
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_503'
          '504':
            description: Gateway has timed out
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_504'
        deprecated: false
        x-hideTryItPanel: false
    /member/sub-tpps:
      post:
        tags:
          - Sub-TPPs
        summary: Create a sub-TPP
        description: >-
          The `POST /member/sub-tpps` endpoint creates a new sub-TPP for a
          reseller.
        operationId: GatewayService.CreateSubTpp
        requestBody:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateSubTppRequest'
          required: true
        responses:
          '200':
            description: Successful response
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/CreateSubTppResponse'
          '400':
            description: The client specified an invalid argument
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_400'
          '401':
            description: The authorization information is missing or invalid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_401'
          '403':
            description: Permission to access this endpoint is denied
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_403'
          '404':
            description: The requested entity, such as a sub-tpp, was not found
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_404'
          '429':
            description: Too many requests
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_429'
          '500':
            description: An unexpected or internal server error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_500'
          '501':
            description: The operation was not implemented
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_501'
          '503':
            description: Service is unavailable
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_503'
          '504':
            description: Gateway has timed out
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_504'
        deprecated: false
        security:
          - BasicAuth: []
          - Bearer: []
        x-hideTryItPanel: true
      get:
        tags:
          - Sub-TPPs
        summary: Get sub-TPPs
        description: >-
          The `GET /member/sub-tpps` endpoint retrieves a list of all sub-TPPs for
          a reseller.
        operationId: GatewayService.RetrieveSubTpps
        parameters:
          - name: page.offset
            in: query
            description: >-
              The offset for the current page. If the offset has been provided in
              the request, this offset will be equal to the provided one. But if
              no offset was provided in the request (<i>i.e.</i> this is the first
              page) and the page is not empty, this field will be populated with a
              non-empty string. This may be helpful for loading the same page
              again, which might not always be possible with an empty offset due
              to a dynamic nature of the data. <br/>The offset is not visible to a
              user and should not be parsed and/or understood in any way.
            required: false
            style: form
            explode: true
            schema:
              type: string
            example: LerV6Jmex
          - name: page.limit
            in: query
            description: The maximum number of records to return. This must be less than 200.
            required: true
            style: form
            explode: true
            schema:
              type: integer
              format: int32
              example: 175
              default: 1
          - name: filter.byCompanyNames
            in: query
            description: Filters the sub-TPPs by the list of company names submitted.
            required: false
            style: form
            explode: true
            schema:
              type: array
              items:
                type: string
                example: '["Company A","Company B","Company C"]'
          - name: filter.byRegistrationDates
            in: query
            description: Filters the sub-TPPs by the list of registration dates submitted.
            required: false
            style: form
            explode: true
            schema:
              type: array
              items:
                type: string
                example: '["22-03-21","19-05-21","27-07-21"]'
        responses:
          '200':
            description: Successful response
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/RetrieveSubTppsResponse'
          '400':
            description: The client specified an invalid argument
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_400'
          '401':
            description: The authorization information is missing or invalid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_401'
          '403':
            description: Permission to access this endpoint is denied
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_403'
          '404':
            description: The requested entity, such as a sub-tpp, was not found
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_404'
          '429':
            description: Too many requests
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_429'
          '500':
            description: An unexpected or internal server error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_500'
          '501':
            description: The operation was not implemented
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_501'
          '503':
            description: Service is unavailable
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_503'
          '504':
            description: Gateway has timed out
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_504'
        deprecated: false
        security:
          - BasicAuth: []
          - Bearer: []
        x-hideTryItPanel: true
    /member/sub-tpps/{subTppId}:
      get:
        tags:
          - Sub-TPPs
        summary: Get sub-TPP information
        description: >-
          The `GET /member/sub-tpps/{subTppId}` endpoint retrieves the details of
          the specified sub-TPP for a reseller.
        operationId: GatewayService.RetrieveSubTpp
        parameters:
          - name: subTppId
            in: path
            description: This id specifies the sub-TPP to be retrieved.
            required: true
            style: simple
            explode: false
            schema:
              type: string
              example: 8d54f066-c14a-47c0-b58b-fec6b0ed6b4c
        responses:
          '200':
            description: Successful response
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/RetrieveSubTppResponse'
          '400':
            description: The client specified an invalid argument
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_400'
          '401':
            description: The authorization information is missing or invalid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_401'
          '403':
            description: Permission to access this endpoint is denied
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_403'
          '404':
            description: The requested entity, such as a sub-tpp, was not found
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_404'
          '429':
            description: Too many requests
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_429'
          '500':
            description: An unexpected or internal server error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_500'
          '501':
            description: The operation was not implemented
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_501'
          '503':
            description: Service is unavailable
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_503'
          '504':
            description: Gateway has timed out
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_504'
        deprecated: false
        security:
          - BasicAuth: []
          - Bearer: []
        x-hideTryItPanel: true
      delete:
        tags:
          - Sub-TPPs
        summary: Delete a sub-TPP
        description: >-
          The `DELETE /member/sub-tpps/{subTppId}` endpoint deletes an existing
          sub-TPP for a reseller.
        operationId: GatewayService.DeleteSubTpp
        parameters:
          - name: subTppId
            in: path
            description: Specifies the sub-TPP to delete.
            required: true
            style: simple
            explode: false
            schema:
              type: string
            example: 8d54f066-c14a-47c0-b58b-fec6b0ed6b4c
        responses:
          '200':
            description: Successful response
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/DeleteSubTppResponse'
          '400':
            description: The client specified an invalid argument
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_400'
          '401':
            description: The authorization information is missing or invalid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_401'
          '403':
            description: Permission to access this endpoint is denied
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_403'
          '404':
            description: The requested entity, such as a sub-tpp, was not found
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_404'
          '429':
            description: Too many requests
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_429'
          '500':
            description: An unexpected or internal server error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_500'
          '501':
            description: The operation was not implemented
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_501'
          '503':
            description: Service is unavailable
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_503'
          '504':
            description: Gateway has timed out
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_504'
        deprecated: false
        security:
          - BasicAuth: []
          - Bearer: []
        x-hideTryItPanel: true
    /member/sub-tpps/{subTppId}/children:
      get:
        tags:
          - Sub-TPPs
        summary: Get sub-TPP children
        description: >-
          The `GET /member/sub-tpps/{subTppId}/children` endpoint retrieves the
          sub-TPP children for given sub-TPP.
        operationId: GatewayService.RetrieveSubTppChildren
        parameters:
          - name: subTppId
            in: path
            description: Specifies the sub-TPP for which the children are to be retrieved.
            required: true
            style: simple
            explode: false
            schema:
              type: string
              example: 8d54f066-c14a-47c0-b58b-fec6b0ed6b4c
        responses:
          '200':
            description: Successful response
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/RetrieveSubTppChildrenResponse'
          '400':
            description: The client specified an invalid argument
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_400'
          '401':
            description: The authorization information is missing or invalid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_401'
          '403':
            description: Permission to access this endpoint is denied
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_403'
          '404':
            description: The requested entity, such as a sub-tpp, was not found
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_404'
          '429':
            description: Too many requests
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_429'
          '500':
            description: An unexpected or internal server error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_500'
          '501':
            description: The operation was not implemented
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_501'
          '503':
            description: Service is unavailable
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_503'
          '504':
            description: Gateway has timed out
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_504'
        deprecated: false
        security:
          - BasicAuth: []
          - Bearer: []
        x-hideTryItPanel: true
    /reports/banks/status:
      get:
        tags:
          - Reports
        summary: Get bank statuses
        description: >-
          The `GET /reports/banks/status` endpoint returns the current AIS and PIS
          service status along with server status for all banks.
        operationId: GatewayService.GetBanksStatus
        responses:
          '200':
            description: Successful response
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/GetBanksStatusResponse'
          '400':
            description: The client specified an invalid argument
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_400'
          '401':
            description: The authorization information is missing or invalid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_401'
          '403':
            description: Permission to access this endpoint is denied
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_403'
          '404':
            description: The requested entity, such as a payment, was not found
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_404'
          '429':
            description: Too many requests
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_429'
          '500':
            description: An unexpected or internal server error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_500'
          '501':
            description: The operation was not implemented
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_501'
          '503':
            description: Service is unavailable
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_503'
          '504':
            description: Gateway has timed out
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_504'
        deprecated: false
        security:
          - BasicAuth: []
          - Bearer: []
        x-hideTryItPanel: true
    /reports/banks/{bankId}/status:
      get:
        tags:
          - Reports
        summary: Get a bank status
        description: >-
          The `GET /reports/banks/{bankId}/status` endpoint returns the current
          AIS and PIS service status for a specific bank.
        operationId: GatewayService.GetBankStatus
        parameters:
          - name: bankId
            in: path
            description: >-
              The Token.io bank identifier, identical to the `id` in the repsonse
              to `GET /banks`.
            required: true
            style: simple
            explode: false
            schema:
              type: string
            example: goldbank
        responses:
          '200':
            description: Successful response
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/GetBankStatusResponse'
          '400':
            description: The client specified an invalid argument
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_400'
          '401':
            description: The authorization information is missing or invalid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_401'
          '403':
            description: Permission to access this endpoint is denied
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_403'
          '404':
            description: The requested entity, such as a payment, was not found
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_404'
          '429':
            description: Too many requests
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_429'
          '500':
            description: An unexpected or internal server error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_500'
          '501':
            description: The operation was not implemented
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_501'
          '503':
            description: Service is unavailable
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_503'
          '504':
            description: Gateway has timed out
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_504'
        deprecated: false
        security:
          - BasicAuth: []
          - Bearer: []
        x-hideTryItPanel: true
    /token-requests:
      post:
        tags:
          - Requests
        summary: Initiate a token request
        description: >-
          The `POST /token-requests` endpoint persists the required information
          used by AIS requests and PIS requests using the API and the Token.io
          Hosted Pages.
        operationId: GatewayService.StoreTokenRequest
        requestBody:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoreTokenRequestRequest'
          required: true
        responses:
          '200':
            description: Successful response
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/StoreTokenRequestResponse'
          '400':
            description: The client specified an invalid argument
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_400'
          '401':
            description: The authorization information is missing or invalid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_401'
          '403':
            description: Permission to access this endpoint is denied
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_403'
          '404':
            description: The requested entity, such as a payment, was not found
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_404'
          '429':
            description: Too many requests
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_429'
          '500':
            description: An unexpected or internal server error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_500'
          '501':
            description: The operation was not implemented
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_501'
          '503':
            description: Service is unavailable
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_503'
          '504':
            description: Gateway has timed out
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_504'
        deprecated: false
        security:
          - BasicAuth: []
          - Bearer: []
        x-hideTryItPanel: true
    /token-requests/{tokenRequestId}/result:
      get:
        tags:
          - Requests
        summary: Get a token request
        description: >-
          The `GET /token-requests/{tokenRequestId}/result` endpoint checks
          whether a token request result is available. This endpoint will return a
          `PENDING` status while the result is not available. The status will
          become `PROCESSED` once the result is available. If the request is
          rejected by the bank, the status will become `REJECTED`. The status will
          become `EXPIRED` if the request is not processed or rejected before the
          token request expiration.
        operationId: GatewayService.GetTokenRequestResultWithStatus
        parameters:
          - name: tokenRequestId
            in: path
            description: >-
              The token request id received in response to the original token
              request.
            required: true
            style: simple
            explode: false
            schema:
              type: string
              example: rq:ej5ACWNwi1EcqBeuDPc4Z8C4Bgc:5zKtXEAq
        responses:
          '200':
            description: Successful response
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/GetTokenRequestResultWithStatusResponse'
          '400':
            description: The client specified an invalid argument
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_400'
          '401':
            description: The authorization information is missing or invalid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_401'
          '403':
            description: Permission to access this endpoint is denied
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_403'
          '404':
            description: The requested entity, such as a payment, was not found
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_404'
          '429':
            description: Too many requests
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_429'
          '500':
            description: An unexpected or internal server error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_500'
          '501':
            description: The operation was not implemented
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_501'
          '503':
            description: Service is unavailable
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_503'
          '504':
            description: Gateway has timed out
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_504'
        deprecated: false
        security:
          - BasicAuth: []
          - Bearer: []
        x-hideTryItPanel: true
    /callback/initiation:
      post:
        tags:
          - TSP
        summary: Initiate a callback
        description: >-
          The `POST /callback/initiation` endpoint processes a bank authorization
          callback notification. If you're responsible for handling callbacks, the
          bank will callback to your `callbackUrl` provided in the payment
          initiation, after the user finishes authentication at the bank. Send the
          query of the bank's callback url to Token.io via the `POST
          /callback/initiation` endpoint to process the payment.
        operationId: GatewayService.OnBankAuthCallback
        requestBody:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OnBankAuthCallbackRequest'
          required: true
        responses:
          '200':
            description: Successful response
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/OnBankAuthCallbackResponse'
          '400':
            description: The client specified an invalid argument
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_400'
          '401':
            description: The authorization information is missing or invalid
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_401'
          '403':
            description: Permission to access this endpoint is denied
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_403'
          '404':
            description: The requested entity, such as a payment, was not found
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_404'
          '429':
            description: Too many requests
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_429'
          '500':
            description: An unexpected or internal server error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_500'
          '501':
            description: The operation was not implemented
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_501'
          '503':
            description: Service is unavailable
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_503'
          '504':
            description: Gateway has timed out
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/inline_response_504'
        deprecated: false
        security:
          - BasicAuth: []
          - Bearer: []
        x-hideTryItPanel: true
    /tokens:
      get:
        tags:
          - Tokens
        summary: Get tokens
        description: >-
          The `GET /tokens` endpoint retrieves a list of all tokens for the
          authenticated member.
        operationId: GatewayService.GetTokens
        parameters:
          - name: type
            in: query
            description: Specifies the type of token returned.
            required: false
            style: form
            explode: true
            schema:
              type: string
              example: ACCESS
              default: INVALID
              enum:
                - INVALID
                - ACCESS
                - TRANSFER
          - name: page.offset
            in: query
            description: >-
              The offset for the current page. If the offset has been provided in
              the request, this offset will be equal to the provided one. But if
              no offset was provided in the request (<i>i.e.</i> this is the first
              page) and the page is not empty, this field will be populated with a
              non-empty string. This may be helpful for loading the same page
              again, which might not always be possible with an empty offset due
              to a dynamic nature of the data. <br/>The offset is not visible to a
              user and should not be parsed and/or understood in any way.
            required: false
            style: form
            explode: true
            schema:
              type: string
            example: LerV6Jmex
          - name: page.limit
            in: query
            description: The maximum number of records to return. This must be less than 200.
            required: true
            style: form
            explode: true
            schema:
              type: integer
              format: int32
              example: 175
              default: 1
          - name: filter.sourceAccountId
            in: query
            description: Identifies the payer's account.
            required: false
            style: form
            explode: true
            schema:
              type: string
              example: a:J72REftaRoiaDYRDU7M9FDgf8jeh3eqek9DvKeyBWbuA:3VMczyq7r7b6HwC
          - name: filter.destinationAccountId
            in: query
            description: Identifies the payee/beneficiary's account.
            required: false
            style: form
            explode: true
            schema:
              type: string
              example: a:f34VSeqwfWGTGH23vsa2cDgecew209jdvcd5vdfv4vds:5VSWVRqicm4Csa2
          - name: filter.startTimeMs
            in: query
            description: >-
              The filtered list start timestamp in milliseconds, 1 day (24 hours)
              = 8640000000, 1 hour = 36000000, and 1 minute = 60000.
            required: false
            style: form
            explode: true
            schema:
              type: string
              format: string
            example: 67505
          - name: filter.endTimeMs
            in: query
            description: >-
              The filtered list end timestamp in milliseconds, 1 day (24 hours) =
              8640000000, 1 hour = 36000000, and 1 minute = 60000.
            required: false
            style: form
            explode: true
            schema:
              type: string
              format: string
            example: 365650
[...]
