publishJson:
  company: Tremendous
  serviceName: false
  sdkName: tremendous-{language}-sdk
  clientName: Tremendous
  metaDescription: >-
    Tremendous is the simplest way to send rewards and payouts around the world.
    We've helped businesses send over 10 million payouts globally. We handle
    everything related to international sending, so you can issue rewards to
    recipients in over 200 countries. And you can give them the gift of choice:
    we offer 1,000 different redemption options. Plus, we're free to use. You
    only spend what you send. And if you or your recipients ever hit a snag, our
    best-in-class customer support team has you covered.


    We're 75 people, fully remote, highly profitable, and self-funded (yes,
    crazy, we know.) Even if you like your job, you'll probably be happier at
    Tremendous. Come work with us!
  apiStatusUrls: inherit
  homepage: www.tremendous.com/
  developerDocumentation: developers.tremendous.com/
  categories:
    - payments
    - finance
    - developer_tools
    - payouts
rawSpecString: |
  openapi: 3.0.2
  info:
    version: '2'
    title: API Endpoints
    description: >-
      Deliver monetary rewards and incentives to employees, customers, survey
      participants, and more through the Tremendous API. For organizational tasks,
      like managing your organization and it's members within Tremendous, please
      see the Tremendous Organizational API.
    termsOfService: https://www.tremendous.com/terms
    contact:
      name: API Support
      email: developers@tremendous.com
  servers:
    - url: https://testflight.tremendous.com/api/v2
      description: Sandbox environment
    - url: https://www.tremendous.com/api/v2
      description: Production environment
  security:
    - BearerApiKey: []
  paths:
    /rewards:
      get:
        summary: List rewards
        description: |
          Retrieve a list of all created rewards
        operationId: list-rewards
        tags:
          - Rewards
        parameters:
          - name: offset
            in: query
            description: >-
              Offsets the returned list by the given number of rewards. The
              returned rewards are ordered (and offsetted) by their creation date
              (DESC).
            required: false
            schema:
              type: integer
            example: 10
        responses:
          '200':
            description: List of existing rewards. Ordered by creation date (DESC).
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    rewards:
                      type: array
                      items:
                        type: object
                        description: >
                          A single reward, sent to a recipient. A reward is always
                          part of an order.


                          Either `products` or `campaign_id` must be specified.
                        properties:
                          id:
                            type: string
                            pattern: '[A-Z0-9]{4,20}'
                            example: SOMEIDSOMEID
                            description: Tremendous ID of the reward
                          order_id:
                            type: string
                            pattern: '[A-Z0-9]{4,20}'
                            example: SOMEIDSOMEID
                            description: Tremendous ID of the order this reward is part of.
                          created_at:
                            type: string
                            format: date-time
                            description: Date the reward was created
                          value:
                            type: object
                            properties:
                              denomination:
                                type: number
                                format: double
                                description: Amount of the reward
                              currency_code:
                                type: string
                                enum:
                                  - USD
                                  - CAD
                                  - EUR
                                  - AED
                                  - AFN
                                  - ALL
                                  - AMD
                                  - ARS
                                  - AUD
                                  - AZN
                                  - BAM
                                  - BDT
                                  - BGN
                                  - BHD
                                  - BIF
                                  - BND
                                  - BOB
                                  - BRL
                                  - BWP
                                  - BYR
                                  - BZD
                                  - CDF
                                  - CHF
                                  - CLP
                                  - CNY
                                  - COP
                                  - CRC
                                  - CVE
                                  - CZK
                                  - DJF
                                  - DKK
                                  - DOP
                                  - DZD
                                  - EEK
                                  - EGP
                                  - ERN
                                  - ETB
                                  - GBP
                                  - GEL
                                  - GHS
                                  - GNF
                                  - GTQ
                                  - HKD
                                  - HNL
                                  - HRK
                                  - HUF
                                  - IDR
                                  - ILS
                                  - INR
                                  - IQD
                                  - IRR
                                  - ISK
                                  - JMD
                                  - JOD
                                  - JPY
                                  - KES
                                  - KHR
                                  - KRW
                                  - KWD
                                  - KZT
                                  - LBP
                                  - LKR
                                  - LTL
                                  - LVL
                                  - MAD
                                  - MDL
                                  - MGA
                                  - MKD
                                  - MMK
                                  - MOP
                                  - MUR
                                  - MXN
                                  - MYR
                                  - MZN
                                  - NAD
                                  - NGN
                                  - NIO
                                  - NOK
                                  - NPR
                                  - NZD
                                  - OMR
                                  - PAB
                                  - PEN
                                  - PHP
                                  - PKR
                                  - PLN
                                  - PYG
                                  - QAR
                                  - RON
                                  - RSD
                                  - RUB
                                  - RWF
                                  - SAR
                                  - SDG
                                  - SEK
                                  - SGD
                                  - SOS
                                  - SYP
                                  - THB
                                  - TND
                                  - TOP
                                  - TRY
                                  - TTD
                                  - TWD
                                  - TZS
                                  - UAH
                                  - UGX
                                  - UYU
                                  - UZS
                                  - VEF
                                  - VND
                                  - XAF
                                  - XOF
                                  - YER
                                  - ZAR
                                  - ZMK
                                example: USD
                                description: Currency of the reward
                            required:
                              - denomination
                              - currency_code
                            example:
                              denomination: 50
                              currency_code: USD
                          recipient:
                            type: object
                            description: Details of the recipient of the reward
                            properties:
                              name:
                                type: string
                                description: Name of the recipient
                                example: John Doe Jr.
                              email:
                                type: string
                                description: Email address of the recipient
                                example: john.doe@example.com
                              phone:
                                type: string
                                description: >-
                                  Phone number of the recipient. For non-US phone
                                  numbers, specify the country code (prefixed with
                                  +).
                                example: 123-456-7890
                          deliver_at:
                            type: string
                            format: date
                            description: >-
                              Timestamp of reward delivery within the next year.
                              Note that if date-time is provided, the time values
                              will be ignored.
                            pattern: YYYY-MM-DD
                            example: '2023-12-31'
                          custom_fields:
                            type: array
                            items:
                              type: object
                              description: >-
                                Reward custom data for searching, tracking or copy
                                (see [Adding custom fields to
                                orders](https://developers.tremendous.com/reference/using-custom-fields-to-add-custom-data-to-rewards).)
                              properties:
                                id:
                                  type: string
                                  pattern: '[A-Z0-9]{4,20}'
                                  example: SOMEIDSOMEID
                                  description: Tremendous ID of the custom field
                                value:
                                  type: string
                                  description: Value of the custom field
                                  example: Hufflepuff
                                  nullable: true
                                label:
                                  type: string
                                  description: Label of the custom field
                                  example: harry_potter_house
                          delivery:
                            description: >
                              Details on how the reward is delivered to the
                              recipient.
                            type: object
                            properties:
                              method:
                                description: |
                                  How to deliver the reward to the recipient.

                                  <table>
                                    <thead>
                                      <tr>
                                        <th>Delivery Method</th>
                                        <th>Description</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <td><code>EMAIL</code></td>
                                        <td>Deliver the reward to the recipient by email</td>
                                      </tr>
                                      <tr>
                                        <td><code>LINK</code></td>
                                        <td>
                                          <p>Deliver the reward to the recipient via a link.</p>
                                          <p>The link can be retrieved on a successfully ordered reward via the <code>/rewards</code> or <code>/rewards/{id}</code> endpoint. That link must then be  delivered to the recipient out-of-band.</p>
                                        </td>
                                      </tr>
                                      <tr>
                                        <td><code>PHONE</code></td>
                                        <td>Deliver the reward to the recipient by SMS</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                type: string
                                enum:
                                  - EMAIL
                                  - LINK
                                  - PHONE
                              status:
                                type: string
                                enum:
                                  - SCHEDULED
                                  - FAILED
                                  - SUCCEEDED
                                  - PENDING
                                description: >
                                  Current status of the delivery of the reward:


                                  * `SCHEDULED` - Reward is scheduled for delivery
                                  and will be delivered soon.

                                  * `FAILED` - Delivery of reward failed (e.g.
                                  email bounced).

                                  * `SUCCEEDED` - Reward was successfully
                                  delivered (email or text message delivered or
                                  reward link opened).

                                  * `PENDING` - Delivery is pending but not yet
                                  scheduled.
                            required:
                              - method
                              - status
                    total_count:
                      type: integer
                      description: The total number of rewards across all pages
                      example: 1
          '401':
            description: Authorization error e.g. due to an invalid or missing API key.
            content:
              application/json:
                schema:
                  type: object
                  required:
                    - errors
                  properties:
                    errors:
                      type: object
                      properties:
                        message:
                          type: string
                          description: Error message
                        payload:
                          type: object
                          description: >-
                            Mirrors the request parameters structure, filled only
                            with the (nested) properties that caused an error.
                          example:
                            rewards:
                              catalog: At least one valid product required
                example:
                  errors:
                    message: Production Access not available for your account
                    payload: {}
          '429':
            description: >-
              Rate limit exceeded, this request was not processed. Future requests
              may not be processed, until your account drops below the rate limit
              threshold, again.
            content:
              application/json:
                schema:
                  type: object
                  required:
                    - errors
                  properties:
                    errors:
                      type: object
                      properties:
                        message:
                          type: string
                          description: Error message
                        payload:
                          type: object
                          description: >-
                            Mirrors the request parameters structure, filled only
                            with the (nested) properties that caused an error.
                          example:
                            rewards:
                              catalog: At least one valid product required
                  example:
                    errors:
                      message: Too many requests
                      payload: {}
          '500':
            description: >-
              The server encountered an unexpected error or couldn't fulfill the
              request in time.
            content:
              application/json:
                schema:
                  type: object
                  required:
                    - errors
                  properties:
                    errors:
                      type: object
                      properties:
                        message:
                          type: string
                          description: Error message
                        payload:
                          type: object
                          description: >-
                            Mirrors the request parameters structure, filled only
                            with the (nested) properties that caused an error.
                          example:
                            rewards:
                              catalog: At least one valid product required
                example:
                  errors:
                    message: Something went wrong. We have been notified
    /rewards/{id}:
      get:
        summary: Retrieve single reward
        description: |
          Retrieve the reward, identified by the given `id` in the URL
        operationId: get-reward
        tags:
          - Rewards
        parameters:
          - name: id
            in: path
            description: ID of the reward that should be retrieved
            required: true
            schema:
              type: string
              pattern: '[A-Z0-9]{4,20}'
              example: SOMEIDSOMEID
        responses:
          '200':
            description: A reward (to be overwritten in specific reponses)
            content:
              application/json:
                schema:
                  type: object
                  required:
                    - reward
                  properties:
                    reward:
                      type: object
                      description: >
                        A single reward, sent to a recipient. A reward is always
                        part of an order.


                        Either `products` or `campaign_id` must be specified.
                      properties:
                        id:
                          type: string
                          pattern: '[A-Z0-9]{4,20}'
                          example: SOMEIDSOMEID
                          description: Tremendous ID of the reward
                        order_id:
                          type: string
                          pattern: '[A-Z0-9]{4,20}'
                          example: SOMEIDSOMEID
                          description: Tremendous ID of the order this reward is part of.
                        created_at:
                          type: string
                          format: date-time
                          description: Date the reward was created
                        value:
                          type: object
                          properties:
                            denomination:
                              type: number
                              format: double
                              description: Amount of the reward
                            currency_code:
                              type: string
                              enum:
                                - USD
                                - CAD
                                - EUR
                                - AED
                                - AFN
                                - ALL
                                - AMD
                                - ARS
                                - AUD
                                - AZN
                                - BAM
                                - BDT
                                - BGN
                                - BHD
                                - BIF
                                - BND
                                - BOB
                                - BRL
                                - BWP
                                - BYR
                                - BZD
                                - CDF
                                - CHF
                                - CLP
                                - CNY
                                - COP
                                - CRC
                                - CVE
                                - CZK
                                - DJF
                                - DKK
                                - DOP
                                - DZD
                                - EEK
                                - EGP
                                - ERN
                                - ETB
                                - GBP
                                - GEL
                                - GHS
                                - GNF
                                - GTQ
                                - HKD
                                - HNL
                                - HRK
                                - HUF
                                - IDR
                                - ILS
                                - INR
                                - IQD
                                - IRR
                                - ISK
                                - JMD
                                - JOD
                                - JPY
                                - KES
                                - KHR
                                - KRW
                                - KWD
                                - KZT
                                - LBP
                                - LKR
                                - LTL
                                - LVL
                                - MAD
                                - MDL
                                - MGA
                                - MKD
                                - MMK
                                - MOP
                                - MUR
                                - MXN
                                - MYR
                                - MZN
                                - NAD
                                - NGN
                                - NIO
                                - NOK
                                - NPR
                                - NZD
                                - OMR
                                - PAB
                                - PEN
                                - PHP
                                - PKR
                                - PLN
                                - PYG
                                - QAR
                                - RON
                                - RSD
                                - RUB
                                - RWF
                                - SAR
                                - SDG
                                - SEK
                                - SGD
                                - SOS
                                - SYP
                                - THB
                                - TND
                                - TOP
                                - TRY
                                - TTD
                                - TWD
                                - TZS
                                - UAH
                                - UGX
                                - UYU
                                - UZS
                                - VEF
                                - VND
                                - XAF
                                - XOF
                                - YER
                                - ZAR
                                - ZMK
                              example: USD
                              description: Currency of the reward
                          required:
                            - denomination
                            - currency_code
                          example:
                            denomination: 50
                            currency_code: USD
                        recipient:
                          type: object
                          description: Details of the recipient of the reward
                          properties:
                            name:
                              type: string
                              description: Name of the recipient
                              example: John Doe Jr.
                            email:
                              type: string
                              description: Email address of the recipient
                              example: john.doe@example.com
                            phone:
                              type: string
                              description: >-
                                Phone number of the recipient. For non-US phone
                                numbers, specify the country code (prefixed with
                                +).
                              example: 123-456-7890
                        deliver_at:
                          type: string
                          format: date
                          description: >-
                            Timestamp of reward delivery within the next year.
                            Note that if date-time is provided, the time values
                            will be ignored.
                          pattern: YYYY-MM-DD
                          example: '2023-12-31'
                        custom_fields:
                          type: array
                          items:
                            type: object
                            description: >-
                              Reward custom data for searching, tracking or copy
                              (see [Adding custom fields to
                              orders](https://developers.tremendous.com/reference/using-custom-fields-to-add-custom-data-to-rewards).)
                            properties:
                              id:
                                type: string
                                pattern: '[A-Z0-9]{4,20}'
                                example: SOMEIDSOMEID
                                description: Tremendous ID of the custom field
                              value:
                                type: string
                                description: Value of the custom field
                                example: Hufflepuff
                                nullable: true
                              label:
                                type: string
                                description: Label of the custom field
                                example: harry_potter_house
                        delivery:
                          description: >
                            Details on how the reward is delivered to the
                            recipient.
                          type: object
                          properties:
                            method:
                              description: |
                                How to deliver the reward to the recipient.

                                <table>
                                  <thead>
                                    <tr>
                                      <th>Delivery Method</th>
                                      <th>Description</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td><code>EMAIL</code></td>
                                      <td>Deliver the reward to the recipient by email</td>
                                    </tr>
                                    <tr>
                                      <td><code>LINK</code></td>
                                      <td>
                                        <p>Deliver the reward to the recipient via a link.</p>
                                        <p>The link can be retrieved on a successfully ordered reward via the <code>/rewards</code> or <code>/rewards/{id}</code> endpoint. That link must then be  delivered to the recipient out-of-band.</p>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td><code>PHONE</code></td>
                                      <td>Deliver the reward to the recipient by SMS</td>
                                    </tr>
                                  </tbody>
                                </table>
                              type: string
                              enum:
                                - EMAIL
                                - LINK
                                - PHONE
                            status:
                              type: string
                              enum:
                                - SCHEDULED
                                - FAILED
                                - SUCCEEDED
                                - PENDING
                              description: >
                                Current status of the delivery of the reward:


                                * `SCHEDULED` - Reward is scheduled for delivery
                                and will be delivered soon.

                                * `FAILED` - Delivery of reward failed (e.g. email
                                bounced).

                                * `SUCCEEDED` - Reward was successfully delivered
                                (email or text message delivered or reward link
                                opened).

                                * `PENDING` - Delivery is pending but not yet
                                scheduled.
                          required:
                            - method
                            - status
          '401':
            description: Authorization error e.g. due to an invalid or missing API key.
            content:
              application/json:
                schema:
                  type: object
                  required:
                    - errors
                  properties:
                    errors:
                      type: object
                      properties:
                        message:
                          type: string
                          description: Error message
                        payload:
                          type: object
                          description: >-
                            Mirrors the request parameters structure, filled only
                            with the (nested) properties that caused an error.
                          example:
                            rewards:
                              catalog: At least one valid product required
                example:
                  errors:
                    message: Production Access not available for your account
                    payload: {}
          '404':
            description: No resource could be found for the provided ID
            content:
              application/json:
                schema:
                  type: object
                  required:
                    - errors
                  properties:
                    errors:
                      type: object
                      properties:
                        message:
                          type: string
                          description: Error message
                        payload:
                          type: object
                          description: >-
                            Mirrors the request parameters structure, filled only
                            with the (nested) properties that caused an error.
                          example:
                            rewards:
                              catalog: At least one valid product required
          '429':
            description: >-
              Rate limit exceeded, this request was not processed. Future requests
              may not be processed, until your account drops below the rate limit
              threshold, again.
            content:
              application/json:
                schema:
                  type: object
                  required:
                    - errors
                  properties:
                    errors:
                      type: object
                      properties:
                        message:
                          type: string
                          description: Error message
                        payload:
                          type: object
                          description: >-
                            Mirrors the request parameters structure, filled only
                            with the (nested) properties that caused an error.
                          example:
                            rewards:
                              catalog: At least one valid product required
                  example:
                    errors:
                      message: Too many requests
                      payload: {}
          '500':
            description: >-
              The server encountered an unexpected error or couldn't fulfill the
              request in time.
            content:
              application/json:
                schema:
                  type: object
                  required:
                    - errors
                  properties:
                    errors:
                      type: object
                      properties:
                        message:
                          type: string
                          description: Error message
                        payload:
                          type: object
                          description: >-
                            Mirrors the request parameters structure, filled only
                            with the (nested) properties that caused an error.
                          example:
                            rewards:
                              catalog: At least one valid product required
                example:
                  errors:
                    message: Something went wrong. We have been notified
    /rewards/{id}/generate_link:
      post:
        summary: Generate a reward URL
        description: >
          Generate a redemption link for the reward identified by the `id` in the
          URL
        operationId: generate-reward-link
        tags:
          - Rewards
        parameters:
          - name: id
            in: path
            description: ID of the reward
            required: true
            schema:
              type: string
              pattern: '[A-Z0-9]{4,20}'
              example: SOMEIDSOMEID
        responses:
          '200':
            description: A redemption link for a reward
            content:
              application/json:
                schema:
                  type: object
                  required:
                    - reward
                  properties:
                    reward:
                      type: object
                      description: The redemption link for a reward.
                      properties:
                        id:
                          type: string
                          pattern: '[A-Z0-9]{4,20}'
                          example: SOMEIDSOMEID
                          description: Tremendous ID of the reward
                        link:
                          type: string
                          description: >
                            Link to redeem the reward at. You need to deliver this
                            link to the recipient.
                          example: >-
                            https://testflight.tremendous.com/rewards/payout/ve0jrwn6q--ba1eoadem8ayukldsygyrlbikascdgsh
          '401':
            description: Authorization error e.g. due to an invalid or missing API key.
            content:
              application/json:
                schema:
                  type: object
                  required:
                    - errors
                  properties:
                    errors:
                      type: object
                      properties:
                        message:
                          type: string
                          description: Error message
                        payload:
                          type: object
                          description: >-
                            Mirrors the request parameters structure, filled only
                            with the (nested) properties that caused an error.
                          example:
                            rewards:
                              catalog: At least one valid product required
                example:
                  errors:
                    message: Production Access not available for your account
                    payload: {}
          '403':
            description: >-
              Operation not permitted; only rewards that are of type link support
              this operation
            content:
              application/json:
                schema:
                  type: object
                  required:
                    - errors
                  properties:
                    errors:
                      type: object
                      properties:
                        message:
                          type: string
                          description: Error message
                        payload:
                          type: object
                          description: >-
                            Mirrors the request parameters structure, filled only
                            with the (nested) properties that caused an error.
                          example:
                            rewards:
                              catalog: At least one valid product required
                  example:
                    errors:
                      message: Unsupported operation for this reward.
                      payload: {}
          '404':
            description: No resource could be found for the provided ID
            content:
              application/json:
                schema:
                  type: object
                  required:
                    - errors
                  properties:
                    errors:
                      type: object
                      properties:
                        message:
                          type: string
                          description: Error message
                        payload:
                          type: object
                          description: >-
                            Mirrors the request parameters structure, filled only
                            with the (nested) properties that caused an error.
                          example:
                            rewards:
                              catalog: At least one valid product required
          '429':
            description: >-
              Rate limit exceeded, this request was not processed. Future requests
              may not be processed, until your account drops below the rate limit
              threshold, again.
            content:
              application/json:
                schema:
                  type: object
                  required:
                    - errors
                  properties:
                    errors:
                      type: object
                      properties:
                        message:
                          type: string
                          description: Error message
                        payload:
                          type: object
                          description: >-
                            Mirrors the request parameters structure, filled only
                            with the (nested) properties that caused an error.
                          example:
                            rewards:
                              catalog: At least one valid product required
                  example:
                    errors:
                      message: Too many requests
                      payload: {}
          '500':
            description: >-
              The server encountered an unexpected error or couldn't fulfill the
              request in time.
            content:
              application/json:
                schema:
                  type: object
                  required:
                    - errors
                  properties:
                    errors:
                      type: object
                      properties:
                        message:
                          type: string
                          description: Error message
                        payload:
                          type: object
                          description: >-
                            Mirrors the request parameters structure, filled only
                            with the (nested) properties that caused an error.
                          example:
                            rewards:
                              catalog: At least one valid product required
                example:
                  errors:
                    message: Something went wrong. We have been notified
    /rewards/{id}/generate_embed_token:
      post:
        summary: Generate a reward token
        description: >
          Generate a temporary reward token identified by the `id` in the URL.

          These tokens are needed to render a reward when using [Tremendous
          Embed](https://github.com/tremendous-rewards/embed/blob/master/docs/documentation.md).

          The token is valid for 24 hours.
        operationId: generate-reward-token
        tags:
          - Rewards
        parameters:
          - name: id
            in: path
            description: ID of the reward
            required: true
            schema:
              type: string
              pattern: '[A-Z0-9]{4,20}'
              example: SOMEIDSOMEID
        responses:
          '200':
            description: A redemption token for a reward
            content:
              application/json:
                schema:
                  type: object
                  required:
                    - reward
                  properties:
                    reward:
                      type: object
                      description: The redemption token for a reward.
                      properties:
                        id:
                          type: string
                          pattern: '[A-Z0-9]{4,20}'
                          example: SOMEIDSOMEID
                          description: Tremendous ID of the reward
                        token:
                          type: string
                          description: |
                            The token to redeem the reward.
                          example: ve0jrwn6q--ba1eoadem8ayukldsygyrlbikascdgsh
                        expires_at:
                          type: string
                          format: date-time
                          description: Date the token expires
          '401':
            description: Authorization error e.g. due to an invalid or missing API key.
            content:
              application/json:
                schema:
                  type: object
                  required:
                    - errors
                  properties:
                    errors:
                      type: object
                      properties:
                        message:
                          type: string
                          description: Error message
                        payload:
                          type: object
                          description: >-
                            Mirrors the request parameters structure, filled only
                            with the (nested) properties that caused an error.
                          example:
                            rewards:
                              catalog: At least one valid product required
                example:
                  errors:
                    message: Production Access not available for your account
                    payload: {}
          '404':
            description: No resource could be found for the provided ID
            content:
              application/json:
                schema:
                  type: object
                  required:
                    - errors
                  properties:
                    errors:
                      type: object
                      properties:
                        message:
                          type: string
                          description: Error message
                        payload:
                          type: object
                          description: >-
                            Mirrors the request parameters structure, filled only
                            with the (nested) properties that caused an error.
                          example:
                            rewards:
                              catalog: At least one valid product required
          '429':
            description: >-
              Rate limit exceeded, this request was not processed. Future requests
              may not be processed, until your account drops below the rate limit
              threshold, again.
            content:
              application/json:
                schema:
                  type: object
                  required:
                    - errors
                  properties:
                    errors:
                      type: object
                      properties:
                        message:
                          type: string
                          description: Error message
                        payload:
                          type: object
                          description: >-
                            Mirrors the request parameters structure, filled only
                            with the (nested) properties that caused an error.
                          example:
                            rewards:
                              catalog: At least one valid product required
                  example:
                    errors:
                      message: Too many requests
                      payload: {}
          '500':
            description: >-
              The server encountered an unexpected error or couldn't fulfill the
              request in time.
            content:
              application/json:
                schema:
                  type: object
                  required:
                    - errors
                  properties:
                    errors:
                      type: object
                      properties:
                        message:
                          type: string
                          description: Error message
                        payload:
                          type: object
                          description: >-
                            Mirrors the request parameters structure, filled only
                            with the (nested) properties that caused an error.
                          example:
                            rewards:
                              catalog: At least one valid product required
                example:
                  errors:
                    message: Something went wrong. We have been notified
    /rewards/{id}/resend:
      post:
        summary: Resend reward
        description: >
          Resends a reward, identified by the given `id` in the URL, to its
          recipient.
        operationId: resend-reward
        tags:
          - Rewards
        parameters:
          - name: id
            in: path
            description: ID of the reward that should be resent
            required: true
            schema:
              type: string
              pattern: '[A-Z0-9]{4,20}'
              example: SOMEIDSOMEID
        responses:
          '200':
            description: Reward will be resent.
            content:
              application/json:
                schema:
                  type: object
                example: {}
          '401':
            description: Authorization error e.g. due to an invalid or missing API key.
            content:
              application/json:
                schema:
                  type: object
                  required:
                    - errors
                  properties:
                    errors:
                      type: object
                      properties:
                        message:
                          type: string
                          description: Error message
                        payload:
                          type: object
                          description: >-
                            Mirrors the request parameters structure, filled only
                            with the (nested) properties that caused an error.
                          example:
                            rewards:
                              catalog: At least one valid product required
                example:
                  errors:
                    message: Production Access not available for your account
                    payload: {}
          '404':
            description: No resource could be found for the provided ID
            content:
              application/json:
                schema:
                  type: object
                  required:
                    - errors
                  properties:
                    errors:
                      type: object
                      properties:
                        message:
                          type: string
                          description: Error message
                        payload:
                          type: object
                          description: >-
                            Mirrors the request parameters structure, filled only
                            with the (nested) properties that caused an error.
                          example:
                            rewards:
                              catalog: At least one valid product required
          '422':
            description: Validation error of the sent parameters or request body
            content:
              application/json:
                schema:
                  type: object
                  required:
                    - errors
                  properties:
                    errors:
                      type: object
                      properties:
                        message:
                          type: string
                          description: Error message
                        payload:
                          type: object
                          description: >-
                            Mirrors the request parameters structure, filled only
                            with the (nested) properties that caused an error.
                          example:
                            rewards:
                              catalog: At least one valid product required
                  example:
                    errors:
                      message: 'Order failed: validation failure'
                      payload:
                        some_field:
                          some_sub_field: Something went wrong with this parameter
          '429':
            description: >-
              Rate limit exceeded, this request was not processed. Future requests
              may not be processed, until your account drops below the rate limit
              threshold, again.
            content:
              application/json:
                schema:
                  type: object
                  required:
                    - errors
                  properties:
                    errors:
                      type: object
                      properties:
                        message:
                          type: string
                          description: Error message
                        payload:
                          type: object
                          description: >-
                            Mirrors the request parameters structure, filled only
                            with the (nested) properties that caused an error.
                          example:
                            rewards:
                              catalog: At least one valid product required
                  example:
                    errors:
                      message: Too many requests
                      payload: {}
          '500':
            description: >-
              The server encountered an unexpected error or couldn't fulfill the
              request in time.
            content:
              application/json:
                schema:
                  type: object
                  required:
                    - errors
                  properties:
                    errors:
                      type: object
                      properties:
                        message:
                          type: string
                          description: Error message
                        payload:
                          type: object
                          description: >-
                            Mirrors the request parameters structure, filled only
                            with the (nested) properties that caused an error.
                          example:
                            rewards:
                              catalog: At least one valid product required
                example:
                  errors:
                    message: Something went wrong. We have been notified
    /orders:
      get:
        summary: List orders
        description: |
          Retrieve a list of orders
        operationId: list-orders
        tags:
          - Orders
        parameters:
          - name: offset
            in: query
            description: >-
              Offsets the returned list by the given number of orders. The
              returned orders are ordered (and offsetted) by their creation date
              (DESC).
            required: false
            schema:
              type: integer
            example: 10
          - name: campaign_id
            in: query
            description: Only return results with a matching campaign_id.
            required: false
            schema:
              type: string
            example: IVM0I3WNJJL0
          - name: external_id
            in: query
            description: Only return results with a matching external_id.
            required: false
            schema:
              type: string
            example: 12878
          - name: created_at[gte]
            in: query
            description: >-
              Only return results where the created_at field is greater than or
              equal to the supplied value. The string needs to be an ISO 8601
              datetime.
            required: false
            schema:
              type: string
            example: '2023-07-15T18:12:18Z'
          - name: created_at[lte]
            in: query
            description: >-
              Only return results where the created_at field is less than or equal
              to the supplied value. The string needs to be an ISO 8601 datetime.
            required: false
            schema:
              type: string
            example: '2023-08-01T18:12:18Z'
          - name: limit
            in: query
            description: >-
              Limits the number of orders listed. The maximum value is 100 and the
              default is 10.
            required: false
            schema:
              type: integer
            example: 10
        responses:
          '200':
            description: List of existing orders. Ordered by creation date (DESC).
            content:
              application/json:
                schema:
                  type: object
                  required:
                    - orders
                    - total_count
                  properties:
                    orders:
                      type: array
                      items:
                        type: object
                        description: >-
                          An order wraps around the fulfilment of one or more
                          rewards.
                        properties:
                          id:
                            type: string
                            pattern: '[A-Z0-9]{4,20}'
                            example: SOMEIDSOMEID
                            description: Tremendous ID of the order
                          external_id:
                            type: string
                            nullable: true
                            description: >
                              Reference for this order, supplied by the customer.


                              When set, `external_id` makes order idempotent. All
                              requests that use the same `external_id`

                              after the initial order creation, will result in a
                              response that returns the data of the

                              initially created order. The response will have a
                              `201` response code. These responses

                              **fail** to create any further orders.


                              It also allows for retrieving by `external_id`
                              instead of `id` only.
                            example: Your-Individual-Identifier-for-This-Order
                          campaign_id:
                            type: string
                            pattern: '[A-Z0-9]{4,20}'
                            example: IVM0I3WNJJL0
                            nullable: true
                            description: >
                              ID of the campaign in your account, that defines the
                              available products (different gift cards, charity,
                              etc.)

                              that the recipient can choose from.
                          created_at:
                            type: string
                            format: date-time
                            description: Date the order has been created
                          status:
                            type: string
                            description: |
                              Execution status of a given order

                              <table>
                                <thead>
                                  <tr>
                                    <th>
                                      Status
                                    </th>
                                    <th>
                                      Description
                                    </th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>
                                      <code>
                                        CANCELED
                                      </code>
                                    </td>
                                    <td>
                                      The order and all of its rewards were canceled.
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>
                                      <code>
                                        CART
                                      </code>
                                    </td>
                                    <td>
                                      The order has been created, but hasn't yet been processed.
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>
                                      <code>
                                        EXECUTED
                                      </code>
                                    </td>
                                    <td>
                                      The order has been executed. Payment has been handled and rewards are being delivered (if applicable).
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>
                                      <code>
                                        FAILED
                                      </code>
                                    </td>
                                    <td>
                                      The order could not be processed due to an error. E.g. due to insufficient funds in the account.
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>
                                      <code>
                                        PENDING APPROVAL
                                      </code>
                                    </td>
                                    <td>
                                      The order has been created but needs approval to be executed.
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>
                                      <code>
                                        PENDING INTERNAL PAYMENT APPROVAL
                                      </code>
                                    </td>
                                    <td>
                                      The order has been created but it is under review and requires approval from our team.
                                    </td>
                                  </tr>

                                </tbody>
                              </table>
                            enum:
                              - CANCELED
                              - CART
                              - EXECUTED
                              - FAILED
                              - PENDING APPROVAL
                              - PENDING INTERNAL PAYMENT APPROVAL
                          payment:
                            type: object
                            properties:
                              subtotal:
                                type: number
                                format: double
                                minimum: 0
                                description: Total price of the order before fees (in USD)
                                example: 50
                              total:
                                type: number
                                format: double
                                minimum: 0
                                description: Total price of the order including fees (in USD)
                                example: 52.5
                              fees:
                                type: number
                                format: double
                                minimum: 0
                                description: Fees for the order (in USD)
                                example: 2.5
                              refund:
                                type: object
                                properties:
                                  total:
                                    type: number
                                    format: double
                                    minimum: 0
                                    description: Total amount of the order refunds (in USD)
                                    example: 52.5
                                required:
                                  - total
                                description: >
                                  Breakdown of the order refunds (total amount in
                                  USD, independent from the currency of the
                                  ordered rewards).

                                  Note that this property will only appear for
                                  canceled orders or orders with canceled rewards.
                              channel:
                                type: string
                                description: >-
                                  Name of the channel in which the order was
                                  created
                                enum:
                                  - UI
                                  - API
                                  - EMBED
                                  - DECIPHER
                                  - QUALTRICS
                                  - TYPEFORM
                                  - SURVEY MONKEY
                            description: >-
                              Cost breakdown of the order (cost of rewards +
                              fees). Cost and fees are always denominated in USD,
                              independent from the currency of the ordered
                              rewards.

                              Note that this property will only appear for
                              processed orders (`status` is `EXECUTED`).
                          invoice_id:
                            type: string
                            description: The ID for the invoice associated with this order
                            example: 2E59A82B-0001
                          reward:
                            type: object
                            description: >
                              A single reward, sent to a recipient. A reward is
                              always part of an order.


                              Either `products` or `campaign_id` must be
                              specified.
                            properties:
                              id:
                                type: string
                                pattern: '[A-Z0-9]{4,20}'
                                example: SOMEIDSOMEID
                                description: Tremendous ID of the reward
                              order_id:
                                type: string
                                pattern: '[A-Z0-9]{4,20}'
                                example: SOMEIDSOMEID
                                description: >-
                                  Tremendous ID of the order this reward is part
                                  of.
                              created_at:
                                type: string
                                format: date-time
                                description: Date the reward was created
                              value:
                                type: object
                                properties:
                                  denomination:
                                    type: number
                                    format: double
                                    description: Amount of the reward
                                  currency_code:
                                    type: string
                                    enum:
                                      - USD
                                      - CAD
                                      - EUR
                                      - AED
                                      - AFN
                                      - ALL
                                      - AMD
                                      - ARS
                                      - AUD
                                      - AZN
                                      - BAM
                                      - BDT
                                      - BGN
                                      - BHD
                                      - BIF
                                      - BND
                                      - BOB
                                      - BRL
                                      - BWP
                                      - BYR
                                      - BZD
                                      - CDF
                                      - CHF
                                      - CLP
                                      - CNY
                                      - COP
                                      - CRC
                                      - CVE
                                      - CZK
                                      - DJF
                                      - DKK
                                      - DOP
                                      - DZD
                                      - EEK
                                      - EGP
                                      - ERN
                                      - ETB
                                      - GBP
                                      - GEL
                                      - GHS
                                      - GNF
                                      - GTQ
                                      - HKD
                                      - HNL
                                      - HRK
                                      - HUF
                                      - IDR
                                      - ILS
                                      - INR
                                      - IQD
                                      - IRR
                                      - ISK
                                      - JMD
                                      - JOD
                                      - JPY
                                      - KES
                                      - KHR
                                      - KRW
                                      - KWD
                                      - KZT
                                      - LBP
                                      - LKR
                                      - LTL
                                      - LVL
                                      - MAD
                                      - MDL
                                      - MGA
                                      - MKD
                                      - MMK
                                      - MOP
                                      - MUR
                                      - MXN
                                      - MYR
                                      - MZN
                                      - NAD
                                      - NGN
                                      - NIO
                                      - NOK
                                      - NPR
                                      - NZD
                                      - OMR
                                      - PAB
                                      - PEN
                                      - PHP
                                      - PKR
                                      - PLN
                                      - PYG
                                      - QAR
                                      - RON
                                      - RSD
                                      - RUB
                                      - RWF
                                      - SAR
                                      - SDG
                                      - SEK
                                      - SGD
                                      - SOS
                                      - SYP
                                      - THB
                                      - TND
                                      - TOP
                                      - TRY
                                      - TTD
                                      - TWD
                                      - TZS
                                      - UAH
                                      - UGX
                                      - UYU
                                      - UZS
                                      - VEF
                                      - VND
                                      - XAF
                                      - XOF
                                      - YER
                                      - ZAR
                                      - ZMK
                                    example: USD
                                    description: Currency of the reward
                                required:
                                  - denomination
                                  - currency_code
                                example:
                                  denomination: 50
                                  currency_code: USD
                              recipient:
                                type: object
                                description: Details of the recipient of the reward
                                properties:
                                  name:
                                    type: string
                                    description: Name of the recipient
                                    example: John Doe Jr.
                                  email:
                                    type: string
                                    description: Email address of the recipient
                                    example: john.doe@example.com
                                  phone:
                                    type: string
                                    description: >-
                                      Phone number of the recipient. For non-US
                                      phone numbers, specify the country code
                                      (prefixed with +).
                                    example: 123-456-7890
                              deliver_at:
                                type: string
                                format: date
                                description: >-
                                  Timestamp of reward delivery within the next
                                  year. Note that if date-time is provided, the
                                  time values will be ignored.
                                pattern: YYYY-MM-DD
                                example: '2023-12-31'
                              custom_fields:
                                type: array
                                items:
                                  type: object
                                  description: >-
                                    Reward custom data for searching, tracking or
                                    copy (see [Adding custom fields to
                                    orders](https://developers.tremendous.com/reference/using-custom-fields-to-add-custom-data-to-rewards).)
                                  properties:
                                    id:
                                      type: string
                                      pattern: '[A-Z0-9]{4,20}'
                                      example: SOMEIDSOMEID
                                      description: Tremendous ID of the custom field
                                    value:
                                      type: string
                                      description: Value of the custom field
                                      example: Hufflepuff
                                      nullable: true
                                    label:
                                      type: string
                                      description: Label of the custom field
                                      example: harry_potter_house
                              delivery:
                                description: >
                                  Details on how the reward is delivered to the
                                  recipient.
                                type: object
                                properties:
                                  method:
                                    description: |
                                      How to deliver the reward to the recipient.

                                      <table>
                                        <thead>
                                          <tr>
                                            <th>Delivery Method</th>
                                            <th>Description</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr>
                                            <td><code>EMAIL</code></td>
                                            <td>Deliver the reward to the recipient by email</td>
                                          </tr>
                                          <tr>
                                            <td><code>LINK</code></td>
                                            <td>
                                              <p>Deliver the reward to the recipient via a link.</p>
                                              <p>The link can be retrieved on a successfully ordered reward via the <code>/rewards</code> or <code>/rewards/{id}</code> endpoint. That link must then be  delivered to the recipient out-of-band.</p>
                                            </td>
                                          </tr>
                                          <tr>
                                            <td><code>PHONE</code></td>
                                            <td>Deliver the reward to the recipient by SMS</td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    type: string
                                    enum:
                                      - EMAIL
                                      - LINK
                                      - PHONE
                                  status:
                                    type: string
                                    enum:
                                      - SCHEDULED
                                      - FAILED
                                      - SUCCEEDED
                                      - PENDING
                                    description: >
                                      Current status of the delivery of the
                                      reward:


                                      * `SCHEDULED` - Reward is scheduled for
                                      delivery and will be delivered soon.

                                      * `FAILED` - Delivery of reward failed (e.g.
                                      email bounced).

                                      * `SUCCEEDED` - Reward was successfully
                                      delivered (email or text message delivered
                                      or reward link opened).

                                      * `PENDING` - Delivery is pending but not
                                      yet scheduled.
                                required:
                                  - method
                                  - status
                        required:
                          - id
                          - created_at
                          - status
                    total_count:
                      type: integer
                      description: The total number of orders across all pages
                      example: 1
          '401':
            description: Authorization error e.g. due to an invalid or missing API key.
            content:
              application/json:
                schema:
                  type: object
                  required:
                    - errors
                  properties:
                    errors:
                      type: object
                      properties:
                        message:
                          type: string
                          description: Error message
                        payload:
                          type: object
                          description: >-
                            Mirrors the request parameters structure, filled only
                            with the (nested) properties that caused an error.
                          example:
                            rewards:
                              catalog: At least one valid product required
                example:
                  errors:
                    message: Production Access not available for your account
                    payload: {}
          '429':
            description: >-
              Rate limit exceeded, this request was not processed. Future requests
              may not be processed, until your account drops below the rate limit
              threshold, again.
            content:
              application/json:
                schema:
                  type: object
                  required:
                    - errors
                  properties:
                    errors:
                      type: object
                      properties:
                        message:
                          type: string
                          description: Error message
                        payload:
                          type: object
                          description: >-
                            Mirrors the request parameters structure, filled only
                            with the (nested) properties that caused an error.
                          example:
                            rewards:
                              catalog: At least one valid product required
                  example:
                    errors:
                      message: Too many requests
                      payload: {}
          '500':
            description: >-
              The server encountered an unexpected error or couldn't fulfill the
              request in time.
            content:
              application/json:
                schema:
                  type: object
                  required:
                    - errors
                  properties:
                    errors:
                      type: object
                      properties:
                        message:
                          type: string
                          description: Error message
                        payload:
                          type: object
                          description: >-
                            Mirrors the request parameters structure, filled only
                            with the (nested) properties that caused an error.
                          example:
                            rewards:
                              catalog: At least one valid product required
                example:
                  errors:
                    message: Something went wrong. We have been notified
      post:
        summary: Create order
        description: >
          Every time you want to send out a reward through Tremendous you need to
          create an order for it.


          > 📘 Getting started with your first order

          >

          > Our step-by-step guide walks you through everything you need

          > to send your first gift card through the Tremendous API:

          >

          > <strong><a style="display: block; margin-top: 20px;"
          href="/docs/sending-rewards-intro">Check it out!</a></strong>


          ## Request body


          <div class="object-schema-request-schema">
            <table>
            <thead>
              <tr>
                <th>Property</th>
                <th>Type</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody class="object-schema-table-body">
              <tr class=""><td><div class="property-name">
            <code class="property-name">external_id</code>
          </div>

          </td><td><span class="property-type">string</span></td><td><p>Reference
          for this order, supplied by the customer.</p>


          <p>When set, <code>external_id</code> makes order idempotent. All
          requests that use the same <code>external_id</code>

          after the initial order creation, will result in a response that returns
          the data of the

          initially created order. The response will have a <code>201</code>
          response code. These responses

          <strong>fail</strong> to create any further orders.</p>


          <p>It also allows for retrieving by <code>external_id</code> instead of
          <code>id</code> only.</p>

          </td></tr>

          <tr class=""><td><div class="property-name">
            <code class="property-name">payment</code>
          </div>

          </td><td><span class="property-type">object</span></td><td></td></tr> 
          <tr>
              <td colspan="3">
                <details>
                  <summary>Show object properties</summary>
                  <table>
            <thead>
              <tr>
                <th>Property</th>
                <th>Type</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody class="object-schema-table-body">
              <tr class=""><td><div class="property-name">
            <code class="property-name">funding_source_id</code>
          </div>

          </td><td><span class="property-type">string</span></td><td><p>Tremendous
          ID of the funding source that will be used to pay for the order. Use
          <code>balance</code> to use your Tremendous&#39;s balance.</p>

          </td></tr>
            </tbody>
          </table>


          </tr>


          <tr class=""><td><div class="property-name">
            <code class="property-name">reward</code>
          </div>

          </td><td><span class="property-type">object</span></td><td><p>A single
          reward, sent to a recipient. A reward is always part of an order.</p>


          <p>Either <code>products</code> or <code>campaign_id</code> must be
          specified.</p>

          </td></tr>  <tr>
              <td colspan="3">
                <details>
                  <summary>Show object properties</summary>
                  <table>
            <thead>
              <tr>
                <th>Property</th>
                <th>Type</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody class="object-schema-table-body">
              <tr class="property-conditional-hint-response-only"><td><div class="property-name">
            <code class="property-name">id</code>
          </div>

          </td><td><span class="property-type">string</span></td><td><p>Tremendous
          ID of the reward</p>

          </td></tr>

          <tr class="property-conditional-hint-response-only"><td><div
          class="property-name">
            <code class="property-name">order_id</code>
          </div>

          </td><td><span class="property-type">string</span></td><td><p>Tremendous
          ID of the order this reward is part of.</p>

          </td></tr>

          <tr class="property-conditional-hint-response-only"><td><div
          class="property-name">
            <code class="property-name">created_at</code>
          </div>

          </td><td><span class="property-type">string</span> <span
          class="property-format">date-time</span></td><td><p>Date the reward was
          created</p>

          </td></tr>

          <tr class="property-conditional-hint-request-only"><td><div
          class="property-name">
            <code class="property-name">campaign_id</code>
          </div>

          </td><td><span class="property-type">string</span></td><td><p>ID of the
          campaign in your account, that defines the available products (different
          gift cards, charity, etc.)

          that the recipient can choose from.</p>

          </td></tr>

          <tr class="property-conditional-hint-request-only"><td><div
          class="property-name">
            <code class="property-name">products</code>
          </div>

          </td><td><span class="property-type">array</span> <span
          class="property-format">string</span></td><td><p>List of IDs of product
          (different gift cards, charity, etc.) that will be available

          to the recipient to choose from.</p>


          <p>Providing a <code>products</code> array will override the products
          made available by the campaign

          specified using the <code>campaign_id</code> property unless the
          <code>products</code> array is empty. It will

          <em>not</em> override other campaign attributes, like the message and
          customization of the look and feel.</p>

          </td></tr>

          <tr class=""><td><div class="property-name">
            <code class="property-name">value</code>
          </div>

          </td><td><span class="property-type">object</span></td><td></td></tr> 
          <tr>
              <td colspan="3">
                <details>
                  <summary>Show object properties</summary>
                  <table>
            <thead>
              <tr>
                <th>Property</th>
                <th>Type</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody class="object-schema-table-body">
              <tr class=""><td><div class="property-name">
            <code class="property-name">denomination</code>
          </div>

          </td><td><span class="property-type">number</span> <span
          class="property-format">double</span></td><td><p>Amount of the
          reward</p>

          </td></tr>

          <tr class=""><td><div class="property-name">
            <code class="property-name">currency_code</code>
          </div>

          </td><td><span class="property-type">string</span></td><td><p>Currency
          of the reward</p>

          </td></tr>
            </tbody>
          </table>


          </tr>


          <tr class=""><td><div class="property-name">
            <code class="property-name">recipient</code>
          </div>

          </td><td><span class="property-type">object</span></td><td><p>Details of
          the recipient of the reward</p>

          </td></tr>  <tr>
              <td colspan="3">
                <details>
                  <summary>Show object properties</summary>
                  <table>
            <thead>
              <tr>
                <th>Property</th>
                <th>Type</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody class="object-schema-table-body">
              <tr class=""><td><div class="property-name">
            <code class="property-name">name</code>
          </div>

          </td><td><span class="property-type">string</span></td><td><p>Name of
          the recipient</p>

          </td></tr>

          <tr class=""><td><div class="property-name">
            <code class="property-name">email</code>
          </div>

          </td><td><span class="property-type">string</span></td><td><p>Email
          address of the recipient</p>

          </td></tr>

          <tr class=""><td><div class="property-name">
            <code class="property-name">phone</code>
          </div>

          </td><td><span class="property-type">string</span></td><td><p>Phone
          number of the recipient. For non-US phone numbers, specify the country
          code (prefixed with +).</p>

          </td></tr>
            </tbody>
          </table>


          </tr>


          <tr class=""><td><div class="property-name">
            <code class="property-name">deliver_at</code>
          </div>

          </td><td><span class="property-type">string</span> <span
          class="property-format">date</span></td><td><p>Timestamp of reward
          delivery within the next year. Note that if date-time is provided, the
          time values will be ignored.</p>

          </td></tr>

          <tr class=""><td><div class="property-name">
            <code class="property-name">custom_fields</code>
          </div>

          </td><td><span class="property-type">array</span></td><td></td></tr> 
          <tr>
              <td colspan="3">
                <details>
                  <summary>Show array item type</summary>
                  <table>
            <thead>
              <tr>
                <th>Property</th>
                <th>Type</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody class="object-schema-table-body">
              <tr class=""><td><div class="property-name">
            <code class="property-name">id</code>
          </div>

          </td><td><span class="property-type">string</span></td><td><p>Tremendous
          ID of the custom field</p>

          </td></tr>

          <tr class=""><td><div class="property-name">
            <code class="property-name">value</code>
          </div>

          </td><td><span class="property-type">string</span></td><td><p>Value of
          the custom field</p>

          </td></tr>

          <tr class=""><td><div class="property-name">
            <code class="property-name">label</code>
          </div>

          </td><td><span class="property-type">string</span></td><td><p>Label of
          the custom field</p>

          </td></tr>
            </tbody>
          </table>


          </tr>


          <tr class=""><td><div class="property-name">
            <code class="property-name">language</code>
          </div>

          </td><td><span class="property-type">string</span></td><td><p>Set this
          to translate the redemption experience for this reward. Pass a 2-letter
          <a
          href="https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes">ISO-639-1
          code</a> for the desired language. Defaults to <code>en</code>.</p>

          </td></tr>

          <tr class=""><td><div class="property-name">
            <code class="property-name">delivery</code>
          </div>

          </td><td><span class="property-type">object</span></td><td><p>Details on
          how the reward is delivered to the recipient.</p>

          </td></tr>  <tr>
              <td colspan="3">
                <details>
                  <summary>Show object properties</summary>
                  <table>
            <thead>
              <tr>
                <th>Property</th>
                <th>Type</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody class="object-schema-table-body">
              <tr class=""><td><div class="property-name">
            <code class="property-name">method</code>
          </div>

          </td><td><span class="property-type">string</span></td><td><p>How to
          deliver the reward to the recipient.</p>


          <table>
            <thead>
              <tr>
                <th>Delivery Method</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><code>EMAIL</code></td>
                <td>Deliver the reward to the recipient by email</td>
              </tr>
              <tr>
                <td><code>LINK</code></td>
                <td>
                  <p>Deliver the reward to the recipient via a link.</p>
                  <p>The link can be retrieved on a successfully ordered reward via the <code>/rewards</code> or <code>/rewards/{id}</code> endpoint. That link must then be  delivered to the recipient out-of-band.</p>
                </td>
              </tr>
              <tr>
                <td><code>PHONE</code></td>
                <td>Deliver the reward to the recipient by SMS</td>
              </tr>
            </tbody>
          </table>

          </td></tr>
            </tbody>
          </table>


          </tr>

            </tbody>
          </table>


          </tr>

            </tbody>
          </table>


          </div>



          ### Funding sources


          There are different ways to pay for gift cards and rewards on
          Tremendous. Every payment mechanism is called a "funding source".


          You can retrieve a list of all available funding sources by using the
          [Funding sources API
          endpoint](https://tremendous.readme.io/reference/core-funding-source-index).


          The Tremendous API sandbox environment comes with a single funding
          source that allows you to spend up to $5,000 in *fake money* to test the
          API. [Learn more about the sandbox
          environment](https://tremendous.readme.io/reference/sandbox).


          The HTTP status code `200` on the response will be used to indicate
          success.


          After processing successfully the reward gets queued to be delivered to
          it's recipient

          (for delivery method `EMAIL` and `PHONE`). Delivery will happen
          asynchronously, after the response

          has been sent.


          ### Idempotence


          Requests issued with the same external_id are idempotent.


[...]
