publishJson:
  company: Unit
  serviceName: false
  sdkName: unit-{language}-sdk
  clientName: Unit
  metaDescription: >-
    Unit is the leading financial infrastructure platform that helps tech
    companies, store, move, and lend money. Unlock new revenue streams and
    delight your customers.
  apiStatusUrls: inherit
  homepage: unit.co
  developerDocumentation: www.unit.co/docs/api/
  categories:
    - financial_services
    - fintech
    - payments
    - financial_technology
    - money_movement
    - banking
    - fintech_infrastructure
    - banking_as_a_service
    - card_issuing
    - lending
    - compliance
rawSpecString: |
  openapi: 3.0.2
  info:
    title: Unit OpenAPI specifications
    description: An OpenAPI specifications for unit-sdk clients
    version: 0.0.2
  servers:
    - url: https://api.s.unit.sh
  paths:
    /applications/{applicationId}:
      get:
        tags:
          - Get Application
        operationId: execute
        parameters:
          - schema:
              type: string
            name: applicationId
            in: path
            required: true
            description: ID of the application to get
          - name: included
            in: query
            schema:
              type: string
        summary: Get Application by Id
        description: 'Get an Application from API '
        responses:
          '200':
            description: Successful Response
            content:
              application/vnd.api+json; charset=utf-8:
                schema:
                  type: object
                  title: UnitApplicationResponseWithIncluded
                  properties:
                    data:
                      $ref: >-
                        #/paths/~1applications/post/responses/201/content/application~1vnd.api%2Bjson/schema/properties/data
                    included:
                      $ref: >-
                        #/paths/~1transactions/get/responses/200/content/application~1vnd.api%2Bjson/schema/properties/included
      patch:
        tags:
          - Update Application
        operationId: execute
        summary: Update Application
        description: 'Update an Application via API '
        parameters:
          - schema:
              type: string
            name: applicationId
            in: path
            required: true
            description: ID of the application to update
        requestBody:
          description: Update Application Request
          required: true
          content:
            application/vnd.api+json:
              schema:
                definitions:
                  contact:
                    title: Contact
                    type: object
                    properties:
                      fullName:
                        title: Full Name
                        type: object
                        properties:
                          first:
                            type: string
                            minLength: 1
                            maxLength: 255
                          last:
                            type: string
                            minLength: 1
                            maxLength: 255
                        additionalProperties: false
                        required:
                          - first
                          - last
                      email:
                        type: string
                        format: email
                      phone:
                        title: Phone
                        type: object
                        properties:
                          countryCode:
                            type: string
                          number:
                            type: string
                        additionalProperties: false
                        required:
                          - countryCode
                          - number
                    additionalProperties: false
                  grantor:
                    title: Grantor
                    type: object
                    properties:
                      fullName:
                        $ref: >-
                          #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/contact/properties/fullName
                      ssn:
                        type: string
                        pattern: ^\d{9}$
                      passport:
                        type: string
                      nationality:
                        type: string
                        pattern: >-
                          ^(A(D|E|F|G|I|L|M|N|O|R|S|T|Q|U|W|X|Z)|B(A|B|D|E|F|G|H|I|J|L|M|N|O|Q|R|S|T|V|W|Y|Z)|C(A|C|D|F|G|H|I|K|L|M|N|O|R|U|V|W|X|Y|Z)|D(E|J|K|M|O|Z)|E(C|E|G|H|R|S|T)|F(I|J|K|M|O|R)|G(A|B|D|E|F|G|H|I|L|M|N|P|Q|R|S|T|U|W|Y)|H(K|M|N|R|T|U)|I(D|E|Q|L|M|N|O|R|S|T)|J(E|M|O|P)|K(E|G|H|I|M|N|P|R|W|Y|Z)|L(A|B|C|I|K|R|S|T|U|V|Y)|M(A|C|D|E|F|G|H|K|L|M|N|O|Q|P|R|S|T|U|V|W|X|Y|Z)|N(A|C|E|F|G|I|L|O|P|R|U|Z)|OM|P(A|E|F|G|H|K|L|M|N|R|S|T|W|Y)|QA|R(E|O|S|U|W)|S(A|B|C|D|E|G|H|I|J|K|L|M|N|O|R|T|V|X|Y|Z)|T(C|D|F|G|H|J|K|L|M|N|O|R|T|V|W|Z)|U(A|G|M|S|Y|Z)|V(A|C|E|G|I|N|U)|W(F|S)|XK|Y(E|T)|Z(A|M|W))$
                      matriculaConsular:
                        type: string
                      address:
                        title: Address
                        type: object
                        properties:
                          street:
                            type: string
                            minLength: 1
                            maxLength: 255
                            pattern: ^.*$
                          street2:
                            type: string
                            nullable: true
                            pattern: ^.*$
                          city:
                            type: string
                            minLength: 1
                            maxLength: 255
                            pattern: ^.*$
                          state:
                            type: string
                          postalCode:
                            type: string
                            pattern: ^[0-9]{5}(?:-[0-9]{4})?$
                          country:
                            type: string
                            default: US
                        additionalProperties: false
                        required:
                          - street
                          - city
                          - postalCode
                          - country
                          - state
                      dateOfBirth:
                        type: string
                        format: date
                      phone:
                        $ref: >-
                          #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/contact/properties/phone
                      email:
                        type: string
                        format: email
                    additionalProperties: false
                  officer:
                    title: Officer
                    type: object
                    properties:
                      fullName:
                        $ref: >-
                          #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/contact/properties/fullName
                      ssn:
                        $ref: >-
                          #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/grantor/properties/ssn
                      passport:
                        type: string
                      nationality:
                        $ref: >-
                          #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/grantor/properties/nationality
                      matriculaConsular:
                        type: string
                      address:
                        $ref: >-
                          #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/grantor/properties/address
                      dateOfBirth:
                        type: string
                        format: date
                      phone:
                        $ref: >-
                          #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/contact/properties/phone
                      email:
                        type: string
                        format: email
                      occupation:
                        type: string
                        enum:
                          - ArchitectOrEngineer
                          - BusinessAnalystAccountantOrFinancialAdvisor
                          - CommunityAndSocialServicesWorker
                          - ConstructionMechanicOrMaintenanceWorker
                          - Doctor
                          - Educator
                          - EntertainmentSportsArtsOrMedia
                          - ExecutiveOrManager
                          - FarmerFishermanForester
                          - FoodServiceWorker
                          - GigWorker
                          - HospitalityOfficeOrAdministrativeSupportWorker
                          - HouseholdManager
                          - JanitorHousekeeperLandscaper
                          - Lawyer
                          - ManufacturingOrProductionWorker
                          - MilitaryOrPublicSafety
                          - NurseHealthcareTechnicianOrHealthcareSupport
                          - PersonalCareOrServiceWorker
                          - PilotDriverOperator
                          - SalesRepresentativeBrokerAgent
                          - ScientistOrTechnologist
                          - Student
                      annualIncome:
                        type: string
                        enum:
                          - UpTo10k
                          - Between10kAnd25k
                          - Between25kAnd50k
                          - Between50kAnd100k
                          - Between100kAnd250k
                          - Over250k
                      sourceOfIncome:
                        type: string
                        enum:
                          - EmploymentOrPayrollIncome
                          - PartTimeOrContractorIncome
                          - InheritancesAndGifts
                          - PersonalInvestments
                          - BusinessOwnershipInterests
                          - GovernmentBenefits
                    additionalProperties: false
                  beneficialOwner:
                    title: Beneficial Owner
                    type: object
                    properties:
                      ssn:
                        $ref: >-
                          #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/grantor/properties/ssn
                      passport:
                        type: string
                      nationality:
                        $ref: >-
                          #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/grantor/properties/nationality
                      matriculaConsular:
                        type: string
                      address:
                        $ref: >-
                          #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/grantor/properties/address
                      dateOfBirth:
                        type: string
                        format: date
                      occupation:
                        $ref: >-
                          #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/officer/properties/occupation
                      annualIncome:
                        $ref: >-
                          #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/officer/properties/annualIncome
                      sourceOfIncome:
                        $ref: >-
                          #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/officer/properties/sourceOfIncome
                    additionalProperties: false
                  patchIndividualApplication:
                    title: Patch Individual Application
                    type: object
                    properties:
                      type:
                        type: string
                        default: individualApplication
                      attributes:
                        type: object
                        properties:
                          tags:
                            $ref: >-
                              #/paths/~1accounts~1%7BaccountId%7D~1transactions~1%7BtransactionId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/patchTransactionTags/properties/attributes/properties/tags
                          occupation:
                            $ref: >-
                              #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/officer/properties/occupation
                          annualIncome:
                            $ref: >-
                              #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/officer/properties/annualIncome
                          sourceOfIncome:
                            $ref: >-
                              #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/officer/properties/sourceOfIncome
                        additionalProperties: false
                    additionalProperties: false
                    required:
                      - type
                      - attributes
                  patchBusinessApplication:
                    title: Patch Business Application
                    type: object
                    properties:
                      type:
                        type: string
                        default: businessApplication
                      attributes:
                        type: object
                        properties:
                          tags:
                            $ref: >-
                              #/paths/~1accounts~1%7BaccountId%7D~1transactions~1%7BtransactionId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/patchTransactionTags/properties/attributes/properties/tags
                          annualRevenue:
                            type: string
                            enum:
                              - UpTo250k
                              - Between250kAnd500k
                              - Between500kAnd1m
                              - Between1mAnd5m
                              - Over5m
                          numberOfEmployees:
                            type: string
                            enum:
                              - UpTo10
                              - Between10And50
                              - Between50And100
                              - Between100And500
                              - Over500
                          cashFlow:
                            type: string
                            enum:
                              - Unpredictable
                              - Predictable
                          yearOfIncorporation:
                            type: string
                            pattern: ^\d{4}$
                          countriesOfOperation:
                            type: array
                            items:
                              $ref: >-
                                #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/grantor/properties/nationality
                            minItems: 1
                          stockSymbol:
                            type: string
                          website:
                            type: string
                          businessVertical:
                            type: string
                            enum:
                              - AdultEntertainmentDatingOrEscortServices
                              - AgricultureForestryFishingOrHunting
                              - ArtsEntertainmentAndRecreation
                              - BusinessSupportOrBuildingServices
                              - Cannabis
                              - Construction
                              - DirectMarketingOrTelemarketing
                              - EducationalServices
                              - FinancialServicesCryptocurrency
                              - FinancialServicesDebitCollectionOrConsolidation
                              - >-
                                FinancialServicesMoneyServicesBusinessOrCurrencyExchange
                              - FinancialServicesOther
                              - FinancialServicesPaydayLending
                              - GamingOrGambling
                              - HealthCareAndSocialAssistance
                              - HospitalityAccommodationOrFoodServices
                              - LegalAccountingConsultingOrComputerProgramming
                              - Manufacturing
                              - Mining
                              - Nutraceuticals
                              - PersonalCareServices
                              - PublicAdministration
                              - RealEstate
                              - ReligiousCivicAndSocialOrganizations
                              - RepairAndMaintenance
                              - RetailTrade
                              - TechnologyMediaOrTelecom
                              - TransportationOrWarehousing
                              - Utilities
                              - WholesaleTrade
                        additionalProperties: false
                    additionalProperties: false
                    required:
                      - type
                      - attributes
                  patchBusinessApplicationOfficer:
                    title: Patch Business Application
                    type: object
                    properties:
                      type:
                        type: string
                        default: businessApplication
                      attributes:
                        type: object
                        properties:
                          officer:
                            type: object
                            properties:
                              occupation:
                                $ref: >-
                                  #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/officer/properties/occupation
                              annualIncome:
                                $ref: >-
                                  #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/officer/properties/annualIncome
                              sourceOfIncome:
                                $ref: >-
                                  #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/officer/properties/sourceOfIncome
                        additionalProperties: false
                    additionalProperties: false
                    required:
                      - type
                      - attributes
                  patchBusinessApplicationBeneficialOwner:
                    title: Patch Business Application
                    type: object
                    properties:
                      type:
                        type: string
                        default: beneficialOwner
                      attributes:
                        type: object
                        properties:
                          occupation:
                            $ref: >-
                              #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/officer/properties/occupation
                          annualIncome:
                            $ref: >-
                              #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/officer/properties/annualIncome
                          sourceOfIncome:
                            $ref: >-
                              #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/officer/properties/sourceOfIncome
                        relationships:
                          type: object
                          properties:
                            application:
                              $ref: >-
                                #/paths/~1check-deposits/post/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/createCheckDepositRelationships/properties/account
                        additionalProperties: false
                    additionalProperties: false
                    required:
                      - type
                      - attributes
                  patchTrustApplication:
                    title: Patch Trust Application
                    type: object
                    properties:
                      type:
                        type: string
                        default: trustApplication
                      attributes:
                        type: object
                        properties:
                          tags:
                            $ref: >-
                              #/paths/~1accounts~1%7BaccountId%7D~1transactions~1%7BtransactionId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/patchTransactionTags/properties/attributes/properties/tags
                        additionalProperties: false
                    additionalProperties: false
                    required:
                      - type
                      - attributes
                  patchSoleProprietorApplication:
                    title: Patch Individual Application
                    type: object
                    properties:
                      type:
                        type: string
                        default: individualApplication
                      attributes:
                        type: object
                        properties:
                          tags:
                            $ref: >-
                              #/paths/~1accounts~1%7BaccountId%7D~1transactions~1%7BtransactionId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/patchTransactionTags/properties/attributes/properties/tags
                          annualRevenue:
                            type: string
                            enum:
                              - UpTo50k
                              - Between50kAnd100k
                              - Between100kAnd200k
                              - Between200kAnd500k
                              - Over500k
                          numberOfEmployees:
                            type: string
                            enum:
                              - One
                              - Between2And5
                              - Between5And10
                              - Over10
                          businessVertical:
                            $ref: >-
                              #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/patchBusinessApplication/properties/attributes/properties/businessVertical
                          website:
                            type: string
                        additionalProperties: false
                    additionalProperties: false
                    required:
                      - type
                      - attributes
                title: Patch Application
                type: object
                properties:
                  data:
                    oneOf:
                      - $ref: >-
                          #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/patchBusinessApplication
                      - $ref: >-
                          #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/patchBusinessApplicationOfficer
                      - $ref: >-
                          #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/patchBusinessApplicationBeneficialOwner
                      - $ref: >-
                          #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/patchSoleProprietorApplication
                      - $ref: >-
                          #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/patchIndividualApplication
                      - $ref: >-
                          #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/patchTrustApplication
                additionalProperties: false
                required:
                  - data
        responses:
          '200':
            description: Successful Response
            content:
              application/vnd.api+json; charset=utf-8:
                schema:
                  $ref: >-
                    #/paths/~1applications~1%7BapplicationId%7D/get/responses/200/content/application~1vnd.api%2Bjson%3B%20charset%3Dutf-8/schema
    /applications/{applicationId}/cancel:
      post:
        tags:
          - Cancel Application
        operationId: execute
        parameters:
          - schema:
              type: string
            name: applicationId
            in: path
            required: true
            description: ID of the application to get
        summary: Cancel Application by Id
        description: 'Cancel a Application via API '
        requestBody:
          description: Cancel Application Request
          required: true
          content:
            application/vnd.api+json:
              schema:
                type: object
                title: CancelApplicationRequest
                properties:
                  data:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                          - cancelApplication
                      attributes:
                        type: object
                        properties:
                          reason:
                            type: string
        responses:
          '201':
            description: Successful Response
            content:
              application/vnd.api+json:
                schema:
                  type: object
                  title: UnitCancelApplicationResponse
                  properties:
                    data:
                      $ref: >-
                        #/paths/~1applications/post/responses/201/content/application~1vnd.api%2Bjson/schema/properties/data
                    included:
                      type: array
                      items:
                        $ref: >-
                          #/paths/~1applications/post/responses/201/content/application~1vnd.api%2Bjson/schema/properties/included/items
    /applications:
      get:
        tags:
          - Get List Applications
        operationId: execute
        summary: Get List Application
        description: 'Get List Applications from API '
        parameters:
          - name: page
            in: query
            schema:
              $ref: '#/paths/~1cards/get/parameters/0/schema'
          - name: filter
            in: query
            style: deepObject
            allowReserved: true
            schema:
              type: object
              properties:
                query:
                  type: string
                status:
                  type: array
                  items:
                    type: string
                    enum:
                      - AwaitingDocuments
                      - PendingReview
                      - Pending
                      - Approved
                      - Denied
                      - Canceled
                email:
                  type: string
                tags:
                  type: object
                  additionalProperties:
                    type: string
          - name: sort
            in: query
            schema:
              type: string
        responses:
          '200':
            description: Successful Response
            content:
              application/vnd.api+json:
                schema:
                  type: object
                  title: UnitListApplicationsResponse
                  properties:
                    data:
                      type: array
                      items:
                        $ref: >-
                          #/paths/~1applications/post/responses/201/content/application~1vnd.api%2Bjson/schema/properties/data
                    meta:
                      type: object
                      properties:
                        pagination:
                          type: object
                          properties:
                            limit:
                              type: integer
                            offset:
                              type: integer
                            total:
                              type: integer
          default:
            description: Unexpected error
            content:
              application/json:
                schema:
                  type: object
                  title: UnitError
      post:
        tags:
          - Create Application
        operationId: execute
        summary: Create Application
        description: 'Create an Application via API '
        requestBody:
          description: Create Application Request
          required: true
          title: CreateApplicationRequest
          content:
            application/vnd.api+json:
              schema:
                definitions:
                  evaluationParams:
                    title: EvaluationParams
                    type: object
                    properties:
                      useSelfieVerification:
                        type: string
                        enum:
                          - Never
                          - ReplaceIdentification
                          - Always
                      requireIdVerification:
                        type: boolean
                        default: false
                    additionalProperties: false
                  createPowerOfAttorneyAgent:
                    title: CreatePowerOfAttorneyAgent
                    type: object
                    properties:
                      fullName:
                        $ref: >-
                          #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/contact/properties/fullName
                      email:
                        $ref: >-
                          #/paths/~1applications/post/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/createOfficer/properties/email
                      phone:
                        $ref: >-
                          #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/contact/properties/phone
                      ssn:
                        type: string
                        pattern: ^\d{9}$
                      passport:
                        type: string
                      nationality:
                        $ref: >-
                          #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/grantor/properties/nationality
                      matriculaConsular:
                        type: string
                      address:
                        $ref: >-
                          #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/grantor/properties/address
                      dateOfBirth:
                        type: string
                        format: date
                      jwtSubject:
                        type: string
                        nullable: true
                      evaluationParams:
                        $ref: >-
                          #/paths/~1applications/post/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/evaluationParams
                    additionalProperties: false
                    required:
                      - fullName
                      - email
                      - phone
                      - address
                      - dateOfBirth
                  createOfficer:
                    title: CreateOfficer
                    type: object
                    properties:
                      fullName:
                        $ref: >-
                          #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/contact/properties/fullName
                      email:
                        type: string
                        format: email
                      phone:
                        $ref: >-
                          #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/contact/properties/phone
                      ssn:
                        type: string
                        pattern: ^\d{9}$
                      passport:
                        type: string
                      nationality:
                        $ref: >-
                          #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/grantor/properties/nationality
                      matriculaConsular:
                        type: string
                      address:
                        $ref: >-
                          #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/grantor/properties/address
                      dateOfBirth:
                        type: string
                        format: date
                      title:
                        type: string
                        enum:
                          - President
                          - CEO
                          - COO
                          - CFO
                          - BenefitsAdministrationOfficer
                          - CIO
                          - VP
                          - AVP
                          - Treasurer
                          - Secretary
                          - Controller
                          - Manager
                          - Partner
                          - Member
                      evaluationParams:
                        $ref: >-
                          #/paths/~1applications/post/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/evaluationParams
                      occupation:
                        $ref: >-
                          #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/officer/properties/occupation
                      annualIncome:
                        $ref: >-
                          #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/officer/properties/annualIncome
                      sourceOfIncome:
                        $ref: >-
                          #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/officer/properties/sourceOfIncome
                    additionalProperties: false
                    required:
                      - fullName
                      - email
                      - phone
                      - address
                      - dateOfBirth
                      - occupation
                  createBeneficialOwner:
                    title: CreateBeneficialOwner
                    type: object
                    properties:
                      fullName:
                        $ref: >-
                          #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/contact/properties/fullName
                      email:
                        $ref: >-
                          #/paths/~1applications/post/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/createOfficer/properties/email
                      phone:
                        $ref: >-
                          #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/contact/properties/phone
                      ssn:
                        type: string
                        pattern: ^\d{9}$
                      passport:
                        type: string
                      nationality:
                        $ref: >-
                          #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/grantor/properties/nationality
                      matriculaConsular:
                        type: string
                      address:
                        $ref: >-
                          #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/grantor/properties/address
                      dateOfBirth:
                        type: string
                        format: date
                      percentage:
                        type: integer
                        minimum: 0
                        maximum: 100
                      evaluationParams:
                        $ref: >-
                          #/paths/~1applications/post/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/evaluationParams
                      occupation:
                        $ref: >-
                          #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/officer/properties/occupation
                      annualIncome:
                        $ref: >-
                          #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/officer/properties/annualIncome
                      sourceOfIncome:
                        $ref: >-
                          #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/officer/properties/sourceOfIncome
                    additionalProperties: false
                    required:
                      - fullName
                      - email
                      - phone
                      - address
                      - dateOfBirth
                  CreateIndividualApplication:
                    title: Create Individual Application
                    type: object
                    properties:
                      type:
                        type: string
                        default: individualApplication
                      attributes:
                        type: object
                        properties:
                          fullName:
                            $ref: >-
                              #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/contact/properties/fullName
                          email:
                            $ref: >-
                              #/paths/~1applications/post/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/createOfficer/properties/email
                          phone:
                            $ref: >-
                              #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/contact/properties/phone
                          ssn:
                            type: string
                            nullable: true
                            pattern: ^\d{9}|\d{4}
                          passport:
                            type: string
                            nullable: true
                          nationality:
                            oneOf:
                              - $ref: >-
                                  #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/grantor/properties/nationality
                              - type: 'null'
                          address:
                            $ref: >-
                              #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/grantor/properties/address
                          dateOfBirth:
                            type: string
                            format: date
                          ip:
                            type: string
                          tags:
                            $ref: >-
                              #/paths/~1fees/post/requestBody/content/application~1vnd.api%2Bjson/schema/data/properties/attributes/properties/tags
                          idempotencyKey:
                            type: string
                            minLength: 1
                            maxLength: 255
                          deviceFingerprints:
                            type: array
                            maxItems: 1
                            items:
                              $ref: >-
                                #/paths/~1applications/post/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/CreateTrustApplication/properties/attributes/properties/deviceFingerprints/items
                          jwtSubject:
                            $ref: >-
                              #/paths/~1applications/post/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/createPowerOfAttorneyAgent/properties/jwtSubject
                          powerOfAttorneyAgent:
                            $ref: >-
                              #/paths/~1applications/post/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/createPowerOfAttorneyAgent
                          industry:
                            $ref: >-
                              #/paths/~1applications/post/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/CreateBusinessApplication/properties/attributes/properties/industry
                          evaluationParams:
                            $ref: >-
                              #/paths/~1applications/post/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/evaluationParams
                          occupation:
                            $ref: >-
                              #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/officer/properties/occupation
                          annualIncome:
                            $ref: >-
                              #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/officer/properties/annualIncome
                          sourceOfIncome:
                            $ref: >-
                              #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/officer/properties/sourceOfIncome
                        additionalProperties: false
                        required:
                          - fullName
                          - email
                          - phone
                          - address
                          - dateOfBirth
                    additionalProperties: false
                    required:
                      - type
                      - attributes
                  CreateSoleProprietorApplication:
                    title: Create Sole Proprietor Application
                    type: object
                    properties:
                      type:
                        type: string
                        default: individualApplication
                      attributes:
                        type: object
                        properties:
                          fullName:
                            $ref: >-
                              #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/contact/properties/fullName
                          email:
                            $ref: >-
                              #/paths/~1applications/post/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/createOfficer/properties/email
                          phone:
                            $ref: >-
                              #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/contact/properties/phone
                          ssn:
                            type: string
                            nullable: true
                            pattern: ^\d{9}|\d{4}
                          passport:
                            type: string
                            nullable: true
                          nationality:
                            oneOf:
                              - $ref: >-
                                  #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/grantor/properties/nationality
                              - type: 'null'
                          matriculaConsular:
                            type: string
                            nullable: true
                          address:
                            $ref: >-
                              #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/grantor/properties/address
                          dateOfBirth:
                            type: string
                            format: date
                          dba:
                            type: string
                            nullable: true
                          ein:
                            type: string
                            nullable: true
                            pattern: ^\d{9}$
                          ip:
                            type: string
                          soleProprietorship:
                            type: boolean
                            default: false
                          tags:
                            $ref: >-
                              #/paths/~1fees/post/requestBody/content/application~1vnd.api%2Bjson/schema/data/properties/attributes/properties/tags
                          idempotencyKey:
                            type: string
                            minLength: 1
                            maxLength: 255
                          deviceFingerprints:
                            type: array
                            maxItems: 1
                            items:
                              $ref: >-
                                #/paths/~1applications/post/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/CreateTrustApplication/properties/attributes/properties/deviceFingerprints/items
                          jwtSubject:
                            $ref: >-
                              #/paths/~1applications/post/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/createPowerOfAttorneyAgent/properties/jwtSubject
                          powerOfAttorneyAgent:
                            $ref: >-
                              #/paths/~1applications/post/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/createPowerOfAttorneyAgent
                          industry:
                            $ref: >-
                              #/paths/~1applications/post/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/CreateBusinessApplication/properties/attributes/properties/industry
                          evaluationParams:
                            $ref: >-
                              #/paths/~1applications/post/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/evaluationParams
                          occupation:
                            $ref: >-
                              #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/officer/properties/occupation
                          annualIncome:
                            $ref: >-
                              #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/officer/properties/annualIncome
                          sourceOfIncome:
                            $ref: >-
                              #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/officer/properties/sourceOfIncome
                          annualRevenue:
                            $ref: >-
                              #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/patchSoleProprietorApplication/properties/attributes/properties/annualRevenue
                          numberOfEmployees:
                            $ref: >-
                              #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/patchSoleProprietorApplication/properties/attributes/properties/numberOfEmployees
                          businessVertical:
                            $ref: >-
                              #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/patchBusinessApplication/properties/attributes/properties/businessVertical
                          website:
                            type: string
                        additionalProperties: false
                        required:
                          - fullName
                          - email
                          - phone
                          - address
                          - dateOfBirth
                    additionalProperties: false
                    required:
                      - type
                      - attributes
                  CreateBusinessApplication:
                    title: Create Business Application
                    type: object
                    properties:
                      type:
                        type: string
                        default: businessApplication
                      attributes:
                        type: object
                        properties:
                          name:
                            type: string
                            minLength: 1
                            maxLength: 255
                          dba:
                            type: string
                            minLength: 1
                            maxLength: 255
                          ein:
                            type: string
                            pattern: ^\d{9}$
                          entityType:
                            type: string
                            enum:
                              - Corporation
                              - LLC
                              - Partnership
                              - PubliclyTradedCorporation
                              - PrivatelyHeldCorporation
                              - NotForProfitOrganization
                          dateOfIncorporation:
                            type: string
                            format: date
                          stateOfIncorporation:
                            type: string
                            minLength: 2
                            maxLength: 2
                          purpose:
                            type: string
                            minLength: 1
                            maxLength: 1024
                          phone:
                            $ref: >-
                              #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/contact/properties/phone
                          address:
                            $ref: >-
                              #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/grantor/properties/address
                          contact:
                            title: Contact
                            type: object
                            properties:
                              fullName:
                                $ref: >-
                                  #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/contact/properties/fullName
                              email:
                                $ref: >-
                                  #/paths/~1applications/post/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/createOfficer/properties/email
                              phone:
                                $ref: >-
                                  #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/contact/properties/phone
                              jwtSubject:
                                $ref: >-
                                  #/paths/~1applications/post/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/createPowerOfAttorneyAgent/properties/jwtSubject
                            additionalProperties: false
                          officer:
                            $ref: >-
                              #/paths/~1applications/post/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/createOfficer
                          ip:
                            type: string
                          website:
                            type: string
                          beneficialOwners:
                            type: array
                            items:
                              $ref: >-
                                #/paths/~1applications/post/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/createBeneficialOwner
                          tags:
                            $ref: >-
                              #/paths/~1fees/post/requestBody/content/application~1vnd.api%2Bjson/schema/data/properties/attributes/properties/tags
                          idempotencyKey:
                            type: string
                            minLength: 1
                            maxLength: 255
                          deviceFingerprints:
                            type: array
                            maxItems: 1
                            items:
                              $ref: >-
                                #/paths/~1applications/post/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/CreateTrustApplication/properties/attributes/properties/deviceFingerprints/items
                          industry:
                            type: string
                            enum:
                              - Retail
                              - Wholesale
                              - Restaurants
                              - Hospitals
                              - Construction
                              - Insurance
                              - Unions
                              - RealEstate
                              - FreelanceProfessional
                              - OtherProfessionalServices
                              - OnlineRetailer
                              - OtherEducationServices
                          annualRevenue:
                            $ref: >-
                              #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/patchBusinessApplication/properties/attributes/properties/annualRevenue
                          numberOfEmployees:
                            $ref: >-
                              #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/patchBusinessApplication/properties/attributes/properties/numberOfEmployees
                          cashFlow:
                            $ref: >-
                              #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/patchBusinessApplication/properties/attributes/properties/cashFlow
                          yearOfIncorporation:
                            $ref: >-
                              #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/patchBusinessApplication/properties/attributes/properties/yearOfIncorporation
                          countriesOfOperation:
                            type: array
                            items:
                              $ref: >-
                                #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/grantor/properties/nationality
                            minItems: 1
                          stockSymbol:
                            type: string
                            minLength: 1
                            maxLength: 5
                          businessVertical:
                            $ref: >-
                              #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/patchBusinessApplication/properties/attributes/properties/businessVertical
                        additionalProperties: false
                        required:
                          - name
                          - ein
                          - entityType
                          - stateOfIncorporation
                          - phone
                          - address
                          - contact
                          - officer
                          - beneficialOwners
                    additionalProperties: false
                    required:
                      - type
                      - attributes
                  CreateTrustApplication:
                    title: Create Trust Application
                    type: object
                    properties:
                      type:
                        type: string
                        default: trustApplication
                      attributes:
                        type: object
                        properties:
                          name:
                            type: string
                            minLength: 1
                            maxLength: 255
                          stateOfIncorporation:
                            type: string
                            minLength: 2
                            maxLength: 2
                          revocability:
                            type: string
                            enum:
                              - Revocable
                              - Irrevocable
                          sourceOfFunds:
                            type: string
                            enum:
                              - Inheritance
                              - Salary
                              - Savings
                              - InvestmentReturns
                              - Gifts
                          taxId:
                            type: string
                          grantor:
                            title: Grantor
                            type: object
                            properties:
                              fullName:
                                $ref: >-
                                  #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/contact/properties/fullName
                              email:
                                $ref: >-
                                  #/paths/~1applications/post/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/createOfficer/properties/email
                              phone:
                                $ref: >-
                                  #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/contact/properties/phone
                              ssn:
                                type: string
                                pattern: ^\d{9}$
                              passport:
                                type: string
                              matriculaConsular:
                                type: string
                              nationality:
                                $ref: >-
                                  #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/grantor/properties/nationality
                              address:
                                $ref: >-
                                  #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/grantor/properties/address
                              dateOfBirth:
                                type: string
                                format: date
                              evaluationId:
                                type: string
                              evaluationFlags:
                                type: array
                                items:
                                  type: string
                              status:
                                type: string
                              maskedSSN:
                                type: string
                                pattern: ^\*{5}\d{4}$
                            additionalProperties: false
                            required:
                              - fullName
                              - email
                              - phone
                              - address
                              - dateOfBirth
                          trustees:
                            type: array
                            items:
                              title: Trustee
                              type: object
                              properties:
                                fullName:
                                  $ref: >-
                                    #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/contact/properties/fullName
                                email:
                                  $ref: >-
                                    #/paths/~1applications/post/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/createOfficer/properties/email
                                phone:
                                  $ref: >-
                                    #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/contact/properties/phone
                                ssn:
                                  type: string
                                  pattern: ^\d{9}$
                                passport:
                                  type: string
                                nationality:
                                  $ref: >-
                                    #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/grantor/properties/nationality
                                matriculaConsular:
                                  type: string
                                address:
                                  $ref: >-
                                    #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/grantor/properties/address
                                dateOfBirth:
                                  type: string
                                  format: date
                              additionalProperties: false
                              required:
                                - fullName
                                - email
                                - phone
                                - address
                                - dateOfBirth
                          beneficiaries:
                            type: array
                            items:
                              title: Beneficiary
                              type: object
                              properties:
                                fullName:
                                  $ref: >-
                                    #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/contact/properties/fullName
                                dateOfBirth:
                                  type: string
                                  format: date
                              additionalProperties: false
                              required:
                                - fullName
                                - dateOfBirth
                          contact:
                            title: TrustContact
                            type: object
                            properties:
                              fullName:
                                $ref: >-
                                  #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/contact/properties/fullName
                              email:
                                $ref: >-
                                  #/paths/~1applications/post/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/createOfficer/properties/email
                              phone:
                                $ref: >-
                                  #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/contact/properties/phone
                              address:
                                $ref: >-
                                  #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/grantor/properties/address
                              jwtSubject:
                                $ref: >-
                                  #/paths/~1applications/post/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/createPowerOfAttorneyAgent/properties/jwtSubject
                            additionalProperties: false
                          ip:
                            type: string
                          tags:
                            $ref: >-
                              #/paths/~1fees/post/requestBody/content/application~1vnd.api%2Bjson/schema/data/properties/attributes/properties/tags
                          idempotencyKey:
                            type: string
                            minLength: 1
                            maxLength: 255
                          deviceFingerprints:
                            type: array
                            maxItems: 1
                            items:
                              type: object
                              properties:
                                provider:
                                  type: string
                                  enum:
                                    - iovation
                                value:
                                  type: string
                              additionalProperties: false
                              required:
                                - provider
                                - value
                        additionalProperties: false
                        required:
                          - name
                          - stateOfIncorporation
                          - revocability
                          - sourceOfFunds
                          - taxId
                          - grantor
                          - trustees
                          - beneficiaries
                          - contact
                    additionalProperties: false
                    required:
                      - type
                      - attributes
                type: object
                properties:
                  data:
                    oneOf:
                      - $ref: >-
                          #/paths/~1applications/post/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/CreateIndividualApplication
                      - $ref: >-
                          #/paths/~1applications/post/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/CreateSoleProprietorApplication
                      - $ref: >-
                          #/paths/~1applications/post/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/CreateBusinessApplication
                      - $ref: >-
                          #/paths/~1applications/post/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/CreateTrustApplication
                additionalProperties: false
                required:
                  - data
        responses:
          '201':
            description: Successful Response
            content:
              application/vnd.api+json:
                schema:
                  type: object
                  title: UnitCreateApplicationResponse
                  properties:
                    data:
                      definitions:
                        powerOfAttorneyAgent:
                          title: PowerOfAttorneyAgent
                          type: object
                          properties:
                            status:
                              type: string
                            fullName:
                              $ref: >-
                                #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/contact/properties/fullName
                            email:
                              $ref: >-
                                #/paths/~1applications/post/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/createOfficer/properties/email
                            phone:
                              $ref: >-
                                #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/contact/properties/phone
                            ssn:
                              type: string
                              pattern: ^\d{9}$
                            passport:
                              type: string
                            nationality:
                              $ref: >-
                                #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/grantor/properties/nationality
                            matriculaConsular:
                              type: string
                            address:
                              $ref: >-
                                #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/grantor/properties/address
                            dateOfBirth:
                              type: string
                              format: date
                            evaluationId:
                              type: string
                            evaluationFlags:
                              type: array
                              items:
                                type: string
                            maskedSSN:
                              type: string
                              pattern: ^\*{5}\d{4}$
                            maskedPassport:
                              type: string
                            maskedMatriculaConsular:
                              type: string
                            idTheftScore:
                              type: integer
                          additionalProperties: false
                          required:
                            - status
                            - fullName
                        officer:
                          title: Officer
                          type: object
                          properties:
                            status:
                              type: string
                            fullName:
                              $ref: >-
                                #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/contact/properties/fullName
                            email:
                              $ref: >-
                                #/paths/~1applications/post/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/createOfficer/properties/email
                            phone:
                              $ref: >-
                                #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/contact/properties/phone
                            ssn:
                              type: string
                              pattern: ^\d{9}$
                            passport:
                              type: string
                            nationality:
                              $ref: >-
                                #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/grantor/properties/nationality
                            matriculaConsular:
                              type: string
                            address:
                              $ref: >-
                                #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/grantor/properties/address
                            dateOfBirth:
                              type: string
                              format: date
                            evaluationId:
                              type: string
                            title:
                              type: string
                              enum:
                                - President
                                - CEO
                                - COO
                                - CFO
                                - BenefitsAdministrationOfficer
                                - CIO
                                - VP
                                - AVP
                                - Treasurer
                                - Secretary
                                - Controller
                                - Manager
                                - Partner
                                - Member
                            evaluationFlags:
                              type: array
                              items:
                                type: string
                            maskedSSN:
                              type: string
                              pattern: ^\*{5}\d{4}$
                            maskedPassport:
                              type: string
                            maskedMatriculaConsular:
                              type: string
                            idTheftScore:
                              type: integer
                            occupation:
                              $ref: >-
                                #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/officer/properties/occupation
                            annualIncome:
                              $ref: >-
                                #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/officer/properties/annualIncome
                            sourceOfIncome:
                              $ref: >-
                                #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/officer/properties/sourceOfIncome
                        beneficialOwner:
                          title: Beneficial Owner
                          type: object
                          properties:
                            status:
                              type: string
                            fullName:
                              $ref: >-
                                #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/contact/properties/fullName
                            email:
                              $ref: >-
                                #/paths/~1applications/post/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/createOfficer/properties/email
                            phone:
                              $ref: >-
                                #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/contact/properties/phone
                            ssn:
                              type: string
                              pattern: ^\d{9}$
                            passport:
                              type: string
                            nationality:
                              $ref: >-
                                #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/grantor/properties/nationality
                            matriculaConsular:
                              type: string
                            address:
                              $ref: >-
                                #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/grantor/properties/address
                            dateOfBirth:
                              type: string
                              format: date
                            evaluationId:
                              type: string
                            percentage:
                              type: integer
                              minimum: 0
                              maximum: 100
                            evaluationFlags:
                              type: array
                              items:
                                type: string
                            maskedSSN:
                              type: string
                              pattern: ^\*{5}\d{4}$
                            maskedPassport:
                              type: string
                            maskedMatriculaConsular:
                              type: string
                            idTheftScore:
                              type: integer
                            evaluationCodes:
                              type: array
                              items:
                                type: string
                            occupation:
                              $ref: >-
                                #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/officer/properties/occupation
                            annualIncome:
                              $ref: >-
                                #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/officer/properties/annualIncome
                            sourceOfIncome:
                              $ref: >-
                                #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/officer/properties/sourceOfIncome
                        applicationRelationships:
                          type: object
                          title: applicationRelationships
                          properties:
                            org:
                              $ref: >-
                                #/paths/~1customers~1%7BcustomerId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/relationships/properties/org
                            customer:
                              $ref: >-
                                #/paths/~1check-deposits/post/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/createCheckDepositRelationships/properties/account
                            documents:
                              type: object
                              title: documentsRelationship
                              properties:
                                data:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      type:
                                        type: string
                                        default: document
                                      id:
                                        $ref: >-
                                          #/paths/~1disputes/get/responses/200/content/application~1vnd.api%2Bjson%3B%20charset%3Dutf-8/schema/items/properties/id
                                    additionalProperties: false
                              additionalProperties: true
                              required:
                                - data
                            applicationForm:
                              $ref: >-
                                #/paths/~1check-deposits/post/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/createCheckDepositRelationships/properties/account
                            trustees:
                              type: object
                              properties:
                                data:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      type:
                                        type: string
                                        default: trustee
                                      id:
                                        $ref: >-
                                          #/paths/~1disputes/get/responses/200/content/application~1vnd.api%2Bjson%3B%20charset%3Dutf-8/schema/items/properties/id
                                    additionalProperties: false
                            beneficiaries:
                              type: object
                              properties:
                                data:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      type:
                                        type: string
                                        default: beneficiary
                                      id:
                                        $ref: >-
                                          #/paths/~1disputes/get/responses/200/content/application~1vnd.api%2Bjson%3B%20charset%3Dutf-8/schema/items/properties/id
                                    additionalProperties: false
                            beneficialOwners:
                              type: object
                              properties:
                                data:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      type:
                                        type: string
                                        default: beneficialOwner
                                      id:
                                        $ref: >-
                                          #/paths/~1disputes/get/responses/200/content/application~1vnd.api%2Bjson%3B%20charset%3Dutf-8/schema/items/properties/id
                                    additionalProperties: false
                          additionalProperties: false
                        BusinessApplication:
                          title: BusinessApplication
                          type: object
                          allOf:
                            - $ref: >-
                                #/paths/~1applications/post/responses/201/content/application~1vnd.api%2Bjson/schema/properties/data
                            - type: object
                              properties:
                                attributes:
                                  type: object
                                  properties:
                                    createdAt:
                                      type: string
                                      format: date-time
                                    updatedAt:
                                      type: string
                                      format: date-time
                                    status:
                                      $ref: >-
                                        #/paths/~1applications/post/responses/201/content/application~1vnd.api%2Bjson/schema/properties/data/definitions/TrustApplication/allOf/1/properties/attributes/properties/status
                                    message:
                                      type: string
                                    evaluationOutcome:
                                      type: string
                                    evaluationId:
                                      type: string
                                    evaluationEntityId:
                                      type: string
                                    name:
                                      type: string
                                    dba:
                                      type: string
                                      nullable: true
                                    ein:
                                      type: string
                                      pattern: ^\d{9}$
                                    entityType:
                                      $ref: >-
                                        #/paths/~1applications/post/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/CreateBusinessApplication/properties/attributes/properties/entityType
                                    dateOfIncorporation:
                                      type: string
                                      format: date
                                    stateOfIncorporation:
                                      $ref: >-
                                        #/paths/~1applications/post/responses/201/content/application~1vnd.api%2Bjson/schema/properties/data/definitions/TrustApplication/allOf/1/properties/attributes/properties/stateOfIncorporation
                                    purpose:
                                      type: string
                                    phone:
                                      $ref: >-
                                        #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/contact/properties/phone
                                    address:
                                      $ref: >-
                                        #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/grantor/properties/address
                                    contact:
                                      $ref: >-
                                        #/paths/~1applications/post/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/CreateBusinessApplication/properties/attributes/properties/contact
                                    officer:
                                      $ref: >-
                                        #/paths/~1applications/post/responses/201/content/application~1vnd.api%2Bjson/schema/properties/data/definitions/officer
                                    ip:
                                      type: string
                                    website:
                                      type: string
                                    beneficialOwners:
                                      type: array
                                      items:
                                        $ref: >-
                                          #/paths/~1applications/post/responses/201/content/application~1vnd.api%2Bjson/schema/properties/data/definitions/beneficialOwner
                                    decisionMethod:
                                      type: string
                                      enum:
                                        - Manually
                                        - Automatically
                                    decisionUserId:
                                      type: string
                                    decisionReason:
                                      type: string
                                    decisionDateTime:
                                      type: string
                                      format: date-time
                                    tags:
                                      $ref: >-
                                        #/paths/~1fees/post/requestBody/content/application~1vnd.api%2Bjson/schema/data/properties/attributes/properties/tags
                                    riskRate:
                                      type: string
                                      enum:
                                        - low
                                        - medium
                                        - high
                                    evaluationFlags:
                                      type: array
                                      items:
                                        type: string
                                    ipLocationDetails:
                                      type: object
                                    phoneLocationDetails:
                                      type: object
                                    archived:
                                      type: boolean
                                    industry:
                                      $ref: >-
                                        #/paths/~1applications/post/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/CreateBusinessApplication/properties/attributes/properties/industry
                                    annualRevenue:
                                      $ref: >-
                                        #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/patchBusinessApplication/properties/attributes/properties/annualRevenue
                                    numberOfEmployees:
                                      $ref: >-
                                        #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/patchBusinessApplication/properties/attributes/properties/numberOfEmployees
                                    cashFlow:
                                      $ref: >-
                                        #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/patchBusinessApplication/properties/attributes/properties/cashFlow
                                    yearOfIncorporation:
                                      $ref: >-
                                        #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/patchBusinessApplication/properties/attributes/properties/yearOfIncorporation
                                    countriesOfOperation:
                                      type: array
                                      items:
                                        $ref: >-
                                          #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/grantor/properties/nationality
                                      minItems: 1
                                    stockSymbol:
                                      type: string
                                    businessVertical:
                                      $ref: >-
                                        #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/patchBusinessApplication/properties/attributes/properties/businessVertical
                                  additionalProperties: false
                                  required:
                                    - createdAt
                                    - status
                                    - name
                                    - entityType
                                    - stateOfIncorporation
                                    - contact
                                    - officer
                                    - beneficialOwners
                                relationships:
                                  $ref: >-
                                    #/paths/~1applications/post/responses/201/content/application~1vnd.api%2Bjson/schema/properties/data/definitions/applicationRelationships
                              additionalProperties: false
                              required:
                                - id
                                - type
                                - attributes
                        IndividualApplication:
                          title: IndividualApplication
                          type: object
                          allOf:
                            - $ref: >-
                                #/paths/~1applications/post/responses/201/content/application~1vnd.api%2Bjson/schema/properties/data
                            - type: object
                              properties:
                                attributes:
                                  type: object
                                  properties:
                                    createdAt:
                                      type: string
                                      format: date-time
                                    updatedAt:
                                      type: string
                                      format: date-time
                                    status:
                                      $ref: >-
                                        #/paths/~1applications/post/responses/201/content/application~1vnd.api%2Bjson/schema/properties/data/definitions/TrustApplication/allOf/1/properties/attributes/properties/status
                                    message:
                                      type: string
                                    evaluationOutcome:
                                      type: string
                                    evaluationId:
                                      type: string
                                    evaluationEntityId:
                                      type: string
                                    fullName:
                                      $ref: >-
                                        #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/contact/properties/fullName
                                    email:
                                      $ref: >-
                                        #/paths/~1applications/post/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/createOfficer/properties/email
                                    phone:
                                      $ref: >-
                                        #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/contact/properties/phone
                                    ssn:
                                      type: string
                                      pattern: ^\d{9}$
                                    passport:
                                      type: string
                                    nationality:
                                      $ref: >-
                                        #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/grantor/properties/nationality
                                    matriculaConsular:
                                      type: string
                                    address:
                                      $ref: >-
                                        #/paths/~1applications~1%7BapplicationId%7D/patch/requestBody/content/application~1vnd.api%2Bjson/schema/definitions/grantor/properties/address
                                    dateOfBirth:
                                      type: string
[...]
