publishJson:
  company: Zoom
  serviceName: Meeting
  sdkName: zoom-meeting-{language}-sdk
  clientName: ZoomMeeting
  metaDescription: >-
    Zoom is a video conferencing platform that allows users to connect remotely
    for virtual meetings, webinars, online events, and collaborative work
    sessions. With features like screen sharing, virtual backgrounds, and chat
    functionality, Zoom is a popular tool for individuals and businesses to
    communicate and collaborate in real-time.
  homepage: zoom.us/
  categories:
    - productivity
    - collaboration
    - video
    - conferencing
    - webinar
    - communications
rawSpecString: |
  openapi: 3.0.0
  info:
    title: Zoom Meeting API
    description: 'The Zoom Meeting APIs let developers to access information from Zoom. '
    termsOfService: https://zoom.us/docs/en-us/zoom_api_license_and_tou.html
    contact:
      name: Zoom Developers
      url: https://developer.zoom.us/
    version: '2'
  externalDocs:
    description: Find out more about Swagger
    url: https://swagger.io
  servers:
    - url: https://api.zoom.us/v2
  paths:
    /archive_files:
      get:
        tags:
          - Archiving
        summary: List archived files
        description: >-
          Get an account's archived meeting or webinar files. 

           Zoom's [archiving solution](https://support.zoom.us/hc/en-us/articles/360050431572-Archiving-indicators) lets account administrators set up an automated mechanism to record, collect, and archive meeting data to a third-party platform of their choice to satisfy FINRA or other compliance requirements. 

           **Prerequisites:** 
          * The [**Meeting and Webinar Archiving**
          feature](https://support.zoom.us/hc/en-us/articles/4405656451213--Archiving-for-meetings-and-webinars)
          enabled for your account by [Zoom
          Support](https://support.zoom.us/hc/en-us/articles/201362003).


          **Scopes:** `recording:read:admin`


          **Granular Scopes:**
          `archiving:read:list_archived_files:admin`,`archiving:read:list_archived_files`


          **[Rate Limit
          Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):**
          `MEDIUM`
        operationId: listArchivedFiles
        parameters:
          - name: page_size
            in: query
            description: The number of records returned within a single API call.
            required: false
            schema:
              maximum: 300
              type: integer
              example: 30
              default: 30
          - name: next_page_token
            in: query
            description: >-
              Use the next page token to paginate through large result sets. A
              next page token is returned whenever the set of available results
              exceeds the current page size. This token's expiration period is 15
              minutes.
            required: false
            schema:
              type: string
              example: IAfJX3jsOLW7w3dokmFl84zOa0MAVGyMEB2
          - name: from
            in: query
            description: >-
              The query start date, in `yyyy-MM-dd'T'HH:mm:ssZ` format. This value
              and the `to` query parameter value cannot exceed seven days.
            required: false
            schema:
              type: string
              format: date-time
              example: '2021-03-11T05:41:36Z'
          - name: to
            in: query
            description: >-
              The query end date, in `yyyy-MM-dd'T'HH:mm:ssZ` format. This value
              and the `from` query parameter value cannot exceed seven days.
            required: false
            schema:
              type: string
              format: date-time
              example: '2021-03-18T05:41:36Z'
          - name: query_date_type
            in: query
            description: |-
              The type of query date.
              * `meeting_start_time` 
              * `archive_complete_time` 

               This value defaults to `meeting_start_time`.
            required: false
            schema:
              type: string
              example: meeting_start_time
              default: meeting_start_time
              enum:
                - meeting_start_time
                - archive_complete_time
          - name: group_id
            in: query
            description: >-
              The group ID. To get a group ID, use the [List
              groups](https://developers.zoom.us/docs/api/rest/reference/scim-api/methods/#operation/groupSCIM2List)
              API.
            required: false
            schema:
              type: string
              example: pvFIYKSDTum9iCDOOtQL4w
        responses:
          '200':
            description: |-
              **HTTP Status Code:** `200`   
               
               Archived files returned.
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    from:
                      type: string
                      description: The queried start date.
                      format: date-time
                      example: '2021-03-12T02:12:27Z'
                    meetings:
                      type: array
                      description: Information about the meeting or webinar.
                      items:
                        required:
                          - account_name
                          - archive_files
                          - complete_time
                          - duration
                          - duration_in_second
                          - host_id
                          - id
                          - is_breakout_room
                          - meeting_type
                          - recording_count
                          - start_time
                          - status
                          - timezone
                          - topic
                          - total_size
                          - type
                          - uuid
                        type: object
                        properties:
                          account_name:
                            type: string
                            description: The user's account name.
                            example: account_01
                          archive_files:
                            type: array
                            description: Information about the archive files.
                            items:
                              required:
                                - download_url
                                - encryption_fingerprint
                                - file_extension
                                - file_size
                                - file_type
                                - id
                                - individual
                                - participant_join_time
                                - participant_leave_time
                                - recording_type
                                - status
                              type: object
                              properties:
                                download_url:
                                  type: string
                                  description: |-
                                    The URL to download the the archive file. 

                                     **OAuth apps** 

                                     If a user has authorized and installed your OAuth app that contains recording scopes, use the user's [OAuth access token](https://developers.zoom.us/docs/integrations/oauth/) to download the file. For example, `https://{{base-domain}}/rec/archive/download/xxx--header 'Authorization: Bearer {{OAuth-access-token}}'` 

                                     **Note:** This field does **not** return for [Zoom on-premise accounts](https://support.zoom.us/hc/en-us/articles/360034064852-Zoom-On-Premise-Deployment). Instead, this API will return the `file_path` field.
                                  example: >-
                                    https://example.com/recording/download/Qg75t7xZBtEbAkjdlgbfdngBBBB
                                file_extension:
                                  type: string
                                  description: The archived file's extension.
                                  example: JSON
                                file_path:
                                  type: string
                                  description: >-
                                    The file path to the on-premise account
                                    archive file. 

                                     **Note:** The API only returns this field for [Zoom on-premise accounts](https://support.zoom.us/hc/en-us/articles/360034064852-Zoom-On-Premise-Deployment). It does **not** return the `download_url` field.
                                  example: /9090876528/path01/demo.mp4
                                file_size:
                                  type: integer
                                  description: The archived file's size, in bytes.
                                  example: 165743
                                file_type:
                                  type: string
                                  description: >-
                                    The archive file's type. 

                                    * `MP4` - Video file. 

                                    * `M4A` - Audio-only file. 

                                    * `CHAT` - A TXT file containing in-meeting
                                    chat messages. 

                                    * `CC` - A file containing the closed captions
                                    of the recording, in VTT file format. 

                                    *  `CHAT_MESSAGE` - A JSON file encoded in
                                    base64 format containing chat messages. The
                                    file also includes waiting room chats, deleted
                                    messages, meeting emojis and non-verbal
                                    feedback.
                                  example: CHAT
                                  enum:
                                    - MP4
                                    - M4A
                                    - CHAT
                                    - CC
                                    - CHAT_MESSAGE
                                id:
                                  type: string
                                  description: The archive file's unique ID.
                                  example: a2f19f96-9294-4f51-8134-6f0eea108eb2
                                individual:
                                  type: boolean
                                  description: >-
                                    Whether the archive file is an individual
                                    recording file. 

                                    * `true` - An individual recording file. 
                                     * `false` - An entire meeting file.
                                  example: true
                                participant_email:
                                  type: string
                                  description: >-
                                    The individual recording file's participant
                                    email address. This value is returned when the
                                    `individual` value is `true`. If the
                                    participant is **not** part of the host's
                                    account, this returns an empty string value,
                                    with some exceptions. See [Email address
                                    display
                                    rules](https://developers.zoom.us/docs/api/rest/using-zoom-apis/#email-address-display-rules)
                                    for details.
                                  format: email
                                  example: jchill@example.com
                                participant_join_time:
                                  type: string
                                  description: >-
                                    The join time for the generated recording
                                    file. If this value is returned when the
                                    individual value is `true`, it is the
                                    recording file's participant join time. When
                                    the individual value is `false`, it returns
                                    the join time for the archiving gateway.
                                  format: date-time
                                  example: '2021-03-12T02:07:27Z'
                                participant_leave_time:
                                  type: string
                                  description: >-
                                    The leave time for the generated recording
                                    file. If this value is returned when the
                                    individual value is `true`, it is the
                                    recording file's participant leave time. When
                                    the individual value is `false`, it returns
                                    the leave time for the archiving gateway.
                                  format: date-time
                                  example: '2021-03-12T02:12:27Z'
                                recording_type:
                                  type: string
                                  description: |-
                                    The archive file's recording type. 
                                    * `shared_screen_with_speaker_view` 
                                    * `audio_only` 
                                    * `chat_file` 
                                    * `closed_caption` 
                                    * `chat_message` 

                                     For more information, read our [Managing and sharing cloud recordings](https://support.zoom.us/hc/en-us/articles/205347605-Managing-and-sharing-cloud-recordings#h_9898497b-e736-4980-a749-d55608f10773) documentation.
                                  example: chat_message
                                  enum:
                                    - shared_screen_with_speaker_view
                                    - audio_only
                                    - chat_file
                                    - closed_caption
                                    - chat_message
                                status:
                                  type: string
                                  description: >-
                                    The archived file's processing status. 

                                    * `completed` - The processing of the file is
                                    complete. 

                                    * `processing` - The file is processing. 

                                    * `failed` - The processing of the file
                                    failed.
                                  example: completed
                                  enum:
                                    - completed
                                    - processing
                                    - failed
                                encryption_fingerprint:
                                  type: string
                                  description: >-
                                    The archived file's encryption fingerprint,
                                    using the SHA256 hash algorithm.
                                  example: >-
                                    abf85f0fe6a4db3cdd8c37e505e1dd18a34d9696170a14b5bc6395677472cf43
                                number_of_messages:
                                  type: integer
                                  description: >-
                                    The number of `TXT` or `JSON` file messages.
                                    This field returns only when the
                                    `file_extension` is `JSON` or `TXT`.
                                  example: 150
                                storage_location:
                                  type: string
                                  description: >-
                                    The region where the file is stored. This
                                    field returns only `Enable Distributed
                                    Compliance Archiving` op feature is enabled.
                                  example: US
                                  enum:
                                    - US
                                    - AU
                                    - BR
                                    - CA
                                    - EU
                                    - IN
                                    - JP
                                    - SG
                                    - CH
                                auto_delete:
                                  type: boolean
                                  description: >-
                                    Whether to auto delete the archived file.


                                    **Prerequisites:** 


                                    Enable the "Tag Archiving Files for Deletion"
                                    feature in OP. Contact [Zoom
                                    Support](https://support.zoom.us/hc/en-us/articles/201362003)
                                    to open.
                                  example: false
                          complete_time:
                            type: string
                            description: The meeting or webinar's archive completion time.
                            format: date-time
                            example: '2021-03-12T02:57:27Z'
                            anyOf:
                              - minLength: 1
                                type: object
                                description: The archive completion time.
                                format: date-time
                                example: '2021-03-12T02:12:27Z'
                              - type: string
                                description: An empty string.
                                enum:
                                  - ''
                          duration:
                            type: integer
                            description: The meeting or webinar's scheduled duration.
                            example: 1
                          duration_in_second:
                            type: integer
                            description: The meeting or webinar's duration, in seconds.
                            example: 1800
                          host_id:
                            type: string
                            description: >-
                              The ID of the user set as the host of the archived
                              meeting or webinar.
                            example: Dhjdfgdkg8w
                          id:
                            type: integer
                            description: >-
                              The meeting or webinar ID, either `meetingId` or
                              `webinarId`.
                            format: int64
                            example: 553068284
                          is_breakout_room:
                            type: boolean
                            description: >-
                              Whether the room is a [breakout
                              room](https://support.zoom.us/hc/en-us/articles/115005769646-Participating-in-breakout-rooms).
                            example: false
                          meeting_type:
                            type: string
                            description: >-
                              Whether the meeting or webinar is internal or
                              external. 

                              * `internal` - An internal meeting or webinar. 

                              * `external` - An external meeting or webinar. 

                               The `id`, `host_id`, and `topic` PII (Personal Identifiable Information) values in this response are removed when this value is `external`.
                            example: internal
                            enum:
                              - internal
                              - external
                          parent_meeting_id:
                            type: string
                            description: >-
                              The parent meeting's universally unique ID (UUID).
                              Each meeting or webinar instance generates a UUID.
                              If the `is_breakout_room` value is `true`, the API
                              returns this value.
                            example: atsXxhSEQWit9t+U02HXNQ==
                          recording_count:
                            type: integer
                            description: >-
                              The number of archived files returned in the API
                              call response.
                            example: 2
                          start_time:
                            type: string
                            description: The meeting or webinar's start time.
                            format: date-time
                            example: '2021-04-26T05:23:18Z'
                          timezone:
                            type: string
                            description: >-
                              The meeting or webinar's
                              [timezone](https://developers.zoom.us/docs/api/rest/other-references/abbreviation-lists/#timezones).
                            example: Asia/Shanghai
                          topic:
                            type: string
                            description: The meeting or webinar topic.
                            example: My Personal Meeting Room
                          total_size:
                            type: integer
                            description: The total size of the archive file, in bytes.
                            example: 364463
                          type:
                            type: integer
                            description: >-
                              The type of archived meeting or webinar. 

                               Meeting recordings use these archive types. 
                              * `1` - Instant meeting. 

                              * `2` - Scheduled meeting. 

                              * `3` - A recurring meeting with no fixed time. 

                              * `4` - A meeting created via PMI (Personal Meeting
                              ID). 

                              * `7` - A [Personal Audio
                              Conference](https://support.zoom.us/hc/en-us/articles/204517069-Getting-Started-with-Personal-Audio-Conference)
                              (PAC). 

                              * `8` - Recurring meeting with a fixed time. 

                               Webinar recordings use these archive types. 
                              * `5` - A webinar. 

                              * `6` - A recurring webinar without a fixed time. 

                              * `9` - A recurring webinar with a fixed time. 

                               If the recording is **not** from a meeting or webinar: 

                              * `100` - A [breakout
                              room](https://support.zoom.us/hc/en-us/articles/115005769646-Participating-in-breakout-rooms).
                            example: 1
                            enum:
                              - 1
                              - 2
                              - 3
                              - 4
                              - 5
                              - 6
                              - 7
                              - 8
                              - 9
                              - 100
                          uuid:
                            type: string
                            description: >-
                              The recorded meeting or webinar instance's
                              universally unique identifier (UUID). Each meeting
                              or webinar instance generates a UUID.
                            example: yO3dfhh3t467UkQ==
                          status:
                            type: string
                            description: >-
                              The archive's processing status. 

                              * `completed` - The archive's processing is
                              complete. 

                              * `processing` - The archive is processing.
                            example: completed
                            enum:
                              - completed
                              - processing
                          group_id:
                            type: string
                            description: >-
                              Primary group IDs of participants who belong to your
                              account. Each group ID is separated by a comma.
                            example: pvFIYKSDTum9iCDOOtQL4w,_FsqLyI0RlO6LVPeUVWi8g
                    next_page_token:
                      type: string
                      description: >-
                        Use the next page token to paginate through large result
                        sets. A next page token is returned whenever the set of
                        available results exceeds the current page size. This
                        token's expiration period is 15 minutes.

                         **Note:** if you use `next_page_token` as a parameter, your other request parameters should be changeless to make sure that the large result set is what you want. For example, if your `to` parameter is for a future time, Zoom resets this value to the current time and returns this value in the response body, along with the `next_page_token` value. Use these same `to` and `next_page_token` values in requests for the remaining results set; otherwise you will get an invalid token error.
                      example: At6eWnFZ1FB3arCXnRxqHLXKhbDW18yz2i2
                    page_size:
                      type: integer
                      description: The number of records returned within a single API call.
                      example: 20
                    to:
                      type: string
                      description: The queried end date.
                      format: date-time
                      example: '2021-03-12T02:12:27Z'
                    total_records:
                      type: integer
                      description: The total number of returned meeting records.
                      example: 20
          '400':
            description: |
              **HTTP Status Code:** `400` <br>
               Bad Request  

               **Error Code:** `2001` <br>
               Account does not exist: {accountId} <br>
        security:
          - openapi_oauth:
              - recording:read:admin
            openapi_authorization: []
        extensions:
          x-permissions:
            - Recording:Read
          x-macro-scopes:
            - recording:read:admin
          x-granular-scopes:
            - archiving:read:list_archived_files:admin
            - archiving:read:list_archived_files
    /archive_files/statistics:
      get:
        tags:
          - Archiving
        summary: Get archived file statistics
        description: >-
          Get statistics about an account's archived meeting or webinar files. 

           Zoom's [archiving solution](https://support.zoom.us/hc/en-us/articles/360050431572-Archiving-indicators) lets account administrators set up an automated mechanism to record, collect, and archive meeting data to a third-party platform of their choice to satisfy FINRA and other compliance requirements. 

           **Prerequisites:** 
          * The [**Meeting and Webinar Archiving**
          feature](https://support.zoom.us/hc/en-us/articles/4405656451213--Archiving-for-meetings-and-webinars)
          enabled for your account by [Zoom
          Support](https://support.zoom.us/hc/en-us/articles/201362003).


          **Scopes:** `recording:read:admin`


          **[Rate Limit
          Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):**
          `Medium`
        operationId: getArchivedFileStatistics
        parameters:
          - name: from
            in: query
            description: >-
              The query start date, `yyyy-MM-dd'T'HH:mm:ssZ` format. This value
              and the `to` query parameter value cannot exceed seven days.
            required: false
            schema:
              type: string
              format: date-time
              example: '2021-03-11T05:41:36Z'
          - name: to
            in: query
            description: >-
              The query end date, in `yyyy-MM-dd'T'HH:mm:ssZ` format. This value
              and the `from` query parameter value cannot exceed seven days.
            required: false
            schema:
              type: string
              format: date-time
              example: '2021-03-18T05:41:36Z'
        responses:
          '200':
            description: |-
              **HTTP Status Code:** `200`   
               
               The statistics of Archived files returned.
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    from:
                      type: string
                      description: The queried start date.
                      format: date-time
                      example: '2021-03-18T05:41:36Z'
                    to:
                      type: string
                      description: The queried end date.
                      format: date-time
                      example: '2021-03-18T05:41:36Z'
                    total_records:
                      type: integer
                      description: The total number of returned meeting records.
                      example: 20
                    statistic_by_file_extension:
                      type: object
                      properties:
                        mp4_file_count:
                          type: integer
                          description: The number of mp4 files.
                          example: 1
                        m4a_file_count:
                          type: integer
                          description: The number of m4a files.
                          example: 1
                        txt_file_count:
                          type: integer
                          description: The number of txt files.
                          example: 1
                        json_file_count:
                          type: integer
                          description: The number of json files.
                          example: 1
                        vtt_file_count:
                          type: integer
                          description: The number of vtt files.
                          example: 1
                      description: Statistics about archive files, by file extension.
                    statistic_by_file_status:
                      type: object
                      properties:
                        processing_file_count:
                          type: integer
                          description: The number of processing files.
                          example: 1
                        completed_file_count:
                          type: integer
                          description: The number of completed files.
                          example: 1
                        failed_file_count:
                          type: integer
                          description: The number of failed files.
                          example: 1
                      description: Statistics about archive files, by file status.
          '400':
            description: |+
              **HTTP Status Code:** `400` <br>
               Bad Request

              **Error Code:** `2001` <br>
              Account does not exist: {accountId}

        security:
          - openapi_oauth:
              - recording:read:admin
            openapi_authorization: []
        extensions:
          x-macro-scopes:
            - recording:read:admin
    /archive_files/{fileId}:
      patch:
        tags:
          - Archiving
        summary: Update an archived file's auto-delete status
        description: >-
          Update an archived file's auto-delete status. 

           **Prerequisites:** 
          * [Zoom Support](https://support.zoom.us/hc/en-us/articles/201362003)
          must enable the [**Meeting and Webinar Archiving**
          feature](https://support.zoom.us/hc/en-us/articles/4405656451213--Archiving-for-meetings-and-webinars)
          for your account.

          * Open the disabling auto-delete feature in OP. Contact [Zoom
          Support](https://support.zoom.us/hc/en-us/articles/201362003) to open.


          **Scopes:** `recording:write`,`recording:write:admin`


          **[Rate Limit
          Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):**
          `LIGHT`
        operationId: updateArchivedFile
        parameters:
          - name: fileId
            in: path
            required: false
            schema:
              type: string
        requestBody:
          content:
            application/json:
              schema:
                required:
                  - auto_delete
                type: object
                properties:
                  auto_delete:
                    type: boolean
                    description: Whether to auto-delete the archived file.
                    example: true
        responses:
          '204': {}
          '400':
            description: |-
              **HTTP Status Code:** `400` <br>
               Bad Request 

               
          '404':
            description: |-
              **HTTP Status Code:** `404` <br>
               Not Found 

               
        security:
          - openapi_oauth:
              - recording:write
              - recording:write:admin
            openapi_authorization: []
        extensions:
          x-permissions:
            - Recording:Edit
          x-macro-scopes:
            - recording:write
            - recording:write:admin
    /past_meetings/{meetingUUID}/archive_files:
      get:
        tags:
          - Archiving
        summary: Get a meeting's archived files
        description: >-
          Return a specific meeting instance's [archived
          files](https://support.zoom.us/hc/en-us/articles/360050431572-Archiving-indicators). 

           **Prerequisites:** 
          * The [**Meeting and Webinar Archiving**
          feature](https://support.zoom.us/hc/en-us/articles/4405656451213--Archiving-for-meetings-and-webinars)
          enabled for your account by [Zoom
          Support](https://support.zoom.us/hc/en-us/articles/201362003).


          **Scopes:** `recording:read`


          **[Rate Limit
          Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):**
          `LIGHT`
        operationId: getArchivedFiles
        parameters:
          - name: meetingUUID
            in: path
            description: >-
              The meeting's universally unique identifier (UUID). Each meeting
              instance generates a UUID. After a meeting ends, a new UUID is
              generated for the next meeting instance.


              If the meeting UUID begins with a `/` character or contains a `//`
              character, you **must** [double
              encode](https://developers.zoom.us/docs/api/rest/using-zoom-apis/#meeting-id-and-uuid)
              the meeting UUID when using the meeting UUID for other API calls.
            required: true
            schema:
              type: string
              example: 4444AAAiAAAAAiAiAiiAii==
        responses:
          '200':
            description: |-
              **HTTP Status Code:** `200`   

               Meeting archived files returned.
            content:
              application/json:
                schema:
                  required:
                    - account_name
                    - archive_files
                    - complete_time
                    - duration
                    - duration_in_second
                    - host_id
                    - id
                    - is_breakout_room
                    - meeting_type
                    - recording_count
                    - start_time
                    - status
                    - timezone
                    - topic
                    - total_size
                    - type
                    - uuid
                  type: object
                  properties:
                    account_name:
                      type: string
                      description: The user's account name.
                      example: account_01
                    archive_files:
                      type: array
                      description: Information about the archive files.
                      items:
                        required:
                          - download_url
                          - encryption_fingerprint
                          - file_extension
                          - file_size
                          - file_type
                          - id
                          - individual
                          - participant_join_time
                          - participant_leave_time
                          - recording_type
                          - status
                        type: object
                        properties:
                          download_url:
                            type: string
                            description: |-
                              The URL to download the the archive file. 

                               **OAuth apps** 

                               If a user has authorized and installed your OAuth app that contains recording scopes, use the user's [OAuth access token](https://developers.zoom.us/docs/integrations/oauth/) to download the file. For example: 

                               `https://{{base-domain}}/rec/archive/download/xxx--header 'Authorization: Bearer {{OAuth-access-token}}'` 

                               **Note:** This field does **not** return for [Zoom On-Premise accounts](https://support.zoom.us/hc/en-us/articles/360034064852-Zoom-On-Premise-Deployment). Instead, this API will return the `file_path` field.
                            example: >-
                              https://example.com/recording/download/Qg75t7xZBtEbAkjdlgbfdngBBBB
                          file_extension:
                            type: string
                            description: The archived file's extension.
                            example: JSON
                          file_path:
                            type: string
                            description: >-
                              The file path to the on-premise account archive
                              file. 

                               **Note:** The API only returns this field for [Zoom On-Premise accounts](https://support.zoom.us/hc/en-us/articles/360034064852-Zoom-On-Premise-Deployment). It does **not** return the `download_url` field.
                            example: /9090876528/path01/demo.mp4
                          file_size:
                            type: integer
                            description: The archived file's size, in bytes.
                            example: 165743
                          file_type:
                            type: string
                            description: >-
                              The archive file's type. 

                              * `MP4` - Video file. 

                              * `M4A` - Audio-only file. 

                              * `CHAT` - A TXT file containing in-meeting chat
                              messages. 

                              * `CC` - A file containing the closed captions of
                              the recording, in VTT file format. 

                              * `CHAT_MESSAGE` - A JSON file encoded in base64
                              format containing chat messages. The file also
                              includes waiting room chats, deleted messages,
                              meeting emojis and non-verbal feedback.
                            example: CHAT
                            enum:
                              - MP4
                              - M4A
                              - CHAT
                              - CC
                              - CHAT_MESSAGE
                          id:
                            type: string
                            description: The archive file's unique ID.
                            example: a2f19f96-9294-4f51-8134-6f0eea108eb2
                          individual:
                            type: boolean
                            description: >-
                              Whether the archive file is an individual recording
                              file. 

                              * `true` - An individual recording file. 
                               * `false` - An entire meeting file.
                            example: true
                          participant_email:
                            type: string
                            description: >-
                              The individual recording file's participant email
                              address. This value is returned when the
                              `individual` value is `true`. If the participant is
                              **not** part of the host's account, this returns an
                              empty string value, with some exceptions. See [Email
                              address display
                              rules](https://developers.zoom.us/docs/api/rest/using-zoom-apis/#email-address-display-rules)
                              for details.
                            format: email
                            example: jchill@example.com
                          participant_join_time:
                            type: string
                            description: >-
                              The join time for the generated recording file. If
                              this value is returned when the individual value is
                              true, then it is the recording file's participant
                              join time. When the individual value is false, it
                              returns the join time for the archiving gateway.
                            format: date-time
                            example: '2021-03-12T02:07:27Z'
                          participant_leave_time:
                            type: string
                            description: >-
                              The leave time for the generated recording file. If
                              this value is returned when the individual value is
                              true, then it is the recording file's participant
                              leave time. When the individual value is false, it
                              returns the leave time for the archiving gateway.
                            format: date-time
                            example: '2021-03-12T02:12:27Z'
                          recording_type:
                            type: string
                            description: |-
                              The archive file's recording type. 
                              * `shared_screen_with_speaker_view` 
                              * `audio_only` 
                              * `chat_file` 
                              * `closed_caption` 
                              * `chat_message` 

                               For more information, read our [Managing and sharing cloud recordings](https://support.zoom.us/hc/en-us/articles/205347605-Managing-and-sharing-cloud-recordings#h_9898497b-e736-4980-a749-d55608f10773) documentation.
                            example: chat_message
                            enum:
                              - shared_screen_with_speaker_view
                              - audio_only
                              - chat_file
                              - closed_caption
                              - chat_message
                          status:
                            type: string
                            description: >-
                              The archived file's processing status. 

                              * `completed` - The processing of the file is
                              complete. 

                              * `processing` - The file is processing. 

                              * `failed` - The processing of the file failed.
                            example: completed
                            enum:
                              - completed
                              - processing
                              - failed
                          encryption_fingerprint:
                            type: string
                            description: >-
                              The archived file's encryption fingerprint, using
                              the SHA256 hash algorithm.
                            example: >-
                              abf85f0fe6a4db3cdd8c37e505e1dd18a34d9696170a14b5bc6395677472cf43
                          number_of_messages:
                            type: integer
                            description: >-
                              The number of `TXT` or `JSON` file messages. This
                              field returns only when the `file_extension` is
                              `JSON` or `TXT`
                            example: 150
                          storage_location:
                            type: string
                            description: >-
                              The region where the file is stored. This field
                              returns only `Enable Distributed Compliance
                              Archiving` op feature is enabled.
                            example: US
                            enum:
                              - US
                              - AU
                              - BR
                              - CA
                              - EU
                              - IN
                              - JP
                              - SG
                              - CH
                          auto_delete:
                            type: boolean
                            description: >
                              Whether to auto delete the archived file.

                               **Prerequisites:** 

                              * The "Tag Archiving Files for Deletion" feature
                              must be enabled in OP. Contact [Zoom
                              Support](https://support.zoom.us/hc/en-us/articles/201362003)
                              to open.
                            example: false
                    complete_time:
                      type: string
                      description: The meeting or webinar's archive completion time.
                      format: date-time
                      example: '2021-03-12T02:57:27Z'
                      anyOf:
                        - minLength: 1
                          type: object
                          description: The archive completion time.
                          format: date-time
                          example: '2021-03-12T02:12:27Z'
                        - type: string
                          description: An empty string.
                          enum:
                            - ''
                    duration:
                      type: integer
                      description: The meeting or webinar's scheduled duration.
                      example: 1
                    duration_in_second:
                      type: integer
                      description: The meeting or webinar's duration, in seconds.
                      example: 1800
                    host_id:
                      type: string
                      description: The host's user ID for the archived meeting or webinar.
                      example: Dhjdfgdkg8w
                    id:
                      type: integer
                      description: >-
                        The meeting or webinar ID, either `meetingId` or
                        `webinarId`.
                      format: int64
                      example: 553068284
                    is_breakout_room:
                      type: boolean
                      description: >-
                        Whether the room is a [breakout
                        room](https://support.zoom.us/hc/en-us/articles/115005769646-Participating-in-breakout-rooms).
                      example: false
                    meeting_type:
                      type: string
                      description: |-
                        Whether the meeting or webinar is internal or external. 
                        * `internal` - An internal meeting or webinar. 
                        * `external` - An external meeting or webinar. 

                         The `id`, `host_id`, and `topic` PII (Personal Identifiable Information) values in this response are removed when this value is `external`.
                      example: internal
                      enum:
                        - internal
                        - external
                    parent_meeting_id:
                      type: string
                      description: >-
                        The parent meeting's universally unique ID (UUID). Each
                        meeting or webinar instance generates a UUID. If the
                        `is_breakout_room` value is `true`, the API returns this
                        value.
                      example: atsXxhSEQWit9t+U02HXNQ==
                    recording_count:
                      type: integer
                      description: >-
                        The number of archived files returned in the API call
                        response.
                      example: 2
                    start_time:
                      type: string
                      description: The meeting or webinar's start time.
                      format: date-time
                      example: '2021-04-26T05:23:18Z'
                    timezone:
                      type: string
                      description: >-
                        The meeting or webinar's
                        [timezone](https://developers.zoom.us/docs/api/rest/other-references/abbreviation-lists/#timezones).
                      example: Asia/Shanghai
                    topic:
                      type: string
                      description: The meeting or webinar topic.
                      example: My Personal Meeting Room
                    total_size:
                      type: integer
                      description: The total size of the archive file, in bytes.
                      example: 364463
                    type:
                      type: integer
                      description: >-
                        The type of archived meeting or webinar. 

                         If the recording is of a meeting: 
                        * `1` - Instant meeting. 

                        * `2` - Scheduled meeting. 

                        * `3` - A recurring meeting with no fixed time. 

                        * `4` - A meeting created via PMI (Personal Meeting ID). 

                        * `7` - A [Personal Audio
                        Conference](https://support.zoom.us/hc/en-us/articles/204517069-Getting-Started-with-Personal-Audio-Conference)
                        (PAC). 

                        * `8` - Recurring meeting with a fixed time. 

                         If the recording is of a webinar: 
                        * `5` - A webinar. 

                        * `6` - A recurring webinar without a fixed time. 

                        * `9` - A recurring webinar with a fixed time. 

                         If the recording is **not** from a meeting or webinar: 

                        * `100` - A [breakout
                        room](https://support.zoom.us/hc/en-us/articles/115005769646-Participating-in-breakout-rooms).
                      example: 1
                      enum:
                        - 1
                        - 2
                        - 3
                        - 4
                        - 5
                        - 6
                        - 7
                        - 8
                        - 9
                        - 100
                    uuid:
                      type: string
                      description: >-
                        The universally unique identifier (UUID) of the recorded
                        meeting or webinar instance. Each meeting or webinar
                        instance generates a UUID.
                      example: yO3dfhh3t467UkQ==
                    status:
                      type: string
                      description: |-
                        The archive's processing status. 
                        * `completed` - The archive's processing is complete. 
                        * `processing` - The archive is processing.
                      example: completed
                      enum:
                        - completed
                        - processing
                    group_id:
                      type: string
                      description: >-
                        Primary group IDs of participants who belong to your
                        account. Each group ID is separated by a comma.
                      example: pvFIYKSDTum9iCDOOtQL4w,_FsqLyI0RlO6LVPeUVWi8g
          '404':
            description: |
              **HTTP Status Code:** `404` <br>
               Not Found  

               **Error Code:** `3001` <br>
               Meeting {meetingUUId} does not exist. <br> <br>
        security:
          - openapi_oauth:
              - recording:read
            openapi_authorization: []
        extensions:
          x-permissions: []
          x-macro-scopes:
            - recording:read
      delete:
        tags:
          - Archiving
        summary: Delete a meeting's archived files
        description: >-
          Use this API to delete all of a meeting's archived files. 

           **Prerequisites:** 
          * The [**Meeting and Webinar Archiving**
          feature](https://support.zoom.us/hc/en-us/articles/4405656451213--Archiving-for-meetings-and-webinars)
          enabled for your account by [Zoom
          Support](https://support.zoom.us/hc/en-us/articles/201362003).


          **Scopes:** `recording:write:admin`,`recording:write`


          **[Rate Limit
          Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):**
          `Light`
        operationId: deleteArchivedFiles
        parameters:
          - name: meetingUUID
            in: path
            description: >-
              The meeting's universally unique identifier (UUID). Each meeting
              instance generates a UUID. For example, after a meeting ends, a new
              UUID is generated for the next meeting instance.


              If the meeting UUID begins with a `/` character or contains a `//`
              character, you **must** [double
              encode](https://marketplace.zoom.us/docs/api-reference/using-zoom-apis/#meeting-id-and-uuid)
              the meeting UUID when using the meeting UUID for other API calls.
            required: true
            schema:
              type: string
              example: 4444AAAiAAAAAiAiAiiAii==
        responses:
          '204':
            description: |-
              **HTTP Status Code:** `200`   
               
               Meeting archived files returned.
          '400':
            description: |+
              **HTTP Status Code:** `400` <br>
               Bad Request

              **Error Code:** `200` <br>
              Only available for Paid account.

              **Error Code:** `200` <br>
              Not available for this account.

          '404':
            description: |+
              **HTTP Status Code:** `404` <br>
               Not Found

              **Error Code:** `3001` <br>
              Meeting does not exist: {0}

        security:
          - openapi_oauth:
              - recording:write:admin
              - recording:write
            openapi_authorization: []
        extensions:
          x-macro-scopes:
            - recording:write:admin
            - recording:write
    /meetings/{meetingId}/recordings:
      get:
        tags:
          - Cloud Recording
        summary: Get meeting recordings
        description: >-
          Returns all of a meeting's
          [recordings](https://support.zoom.us/hc/en-us/articles/203741855-Cloud-Recording#h_7420acb5-1897-4061-87b4-5b76e99c03b4).

           Use the `download_url` property listed in the response to download the recording files.  To access a passcode-protected cloud recording, send the user's [OAuth access token](https://developers.zoom.us/docs/integrations/oauth/) as a Bearer token in the Authorization header. 
           
           Example:  `curl -H 'Authorization: Bearer <ACCESS_TOKEN>' https://{{base-domain}}/rec/archive/download/xyz`  

          **Scopes:** `recording:read`,`phone_recording:read:admin`


          **[Rate Limit
          Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):**
          `LIGHT`
        operationId: recordingGet
        parameters:
          - name: meetingId
            in: path
            description: >-
              To get a meeting's cloud recordings, provide the meeting ID or UUID.
              If providing the meeting ID instead of UUID, the response will be
              for the latest meeting instance. 


              To get a webinar's cloud recordings, provide the webinar's ID or
              UUID. If providing the webinar ID instead of UUID, the response will
              be for the latest webinar instance. 


              If a UUID starts with `/` or contains `//` (example:
              `/ajXp112QmuoKj4854875==`), **[double
              encode](https://developers.zoom.us) the UUID** before making an API
              request. 
            required: true
            schema:
              type: string
              example: atsXxhSEQWit9t+U02HXNQ==
          - name: include_fields
            in: query
            description: >-
              The `download_access_token` value for downloading the meeting's
              recordings.
            required: false
            schema:
              type: string
              example: a2f19f96-9294-4f51-8134-6f0eea108eb2
          - name: ttl
            in: query
            description: >-
              The `download_access_token` Time to Live (TTL) value. This parameter
              is only valid if the `include_fields` query parameter contains the
              `download_access_token` value.
            required: false
            schema:
              maximum: 604800
              minimum: 0
              type: integer
              example: 1
        responses:
          '200':
            description: |-
              **HTTP Status Code:** `200`   
               
              Recording object returned. 

              **Error Code:** `200`   
               
              You do not have the right permissions.
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    account_id:
                      type: string
                      description: The user account's unique identifier.
                      example: Cx3wERazSgup7ZWRHQM8-w
                    duration:
                      type: integer
                      description: The meeting duration.
                      example: 20
                    host_id:
                      type: string
                      description: The ID of the user set as host of meeting.
                      example: _0ctZtY0REqWalTmwvrdIw
                    id:
                      type: integer
                      description: The meeting ID, also known as the meeting number.
                      example: 6840331990
                    recording_count:
                      type: integer
                      description: ' The number of recording files returned in the response of this API call. This includes the `recording_files` and  `participant_audio_files` files.'
                      example: 22
                    start_time:
                      type: string
                      description: The time when the meeting started.
                      format: date-time
                      example: '2021-03-18T05:41:36Z'
                    topic:
                      type: string
                      description: The meeting topic.
                      example: My Personal Meeting
                    total_size:
                      type: integer
                      description: >-
                        The recording's total file size. This includes the
                        `recording_files` and `participant_audio_files` files.
                      format: int64
                      example: 22
                    type:
                      type: string
                      description: >-
                        The recording's associated type of meeting or webinar. 


                        If the recording is of a meeting: 

                        * `1` - Instant meeting. 

                        * `2` - Scheduled meeting. 

                        * `3` - A recurring meeting with no fixed time. 

                        * `4` - A meeting created via PMI (Personal Meeting ID). 

                        * `7` - A [Personal Audio
                        Conference](https://support.zoom.us/hc/en-us/articles/204517069-Getting-Started-with-Personal-Audio-Conference)
                        (PAC). 

                        * `8` - Recurring meeting with a fixed time. 


                        If the recording is of a webinar: 

                        * `5` - A webinar. 

                        * `6` - A recurring webinar without a fixed time 

                        * `9` - A recurring webinar with a fixed time.


                        If the recording is **not** from a meeting or webinar: 


                        * `99` - A recording uploaded via the
                        [**Recordings**](https://zoom.us/recording) interface on
                        the Zoom Web Portal.
                      example: '1'
                      extensions:
                        x-enum-descriptions:
                          - Instant Meeting
                          - Scheduled Meeting
                          - Recurring Meeting with no fixed time
                          - Meeting created using a Personal Meeting ID
                          - A webinar
                          - Recurring webinar without a fixed time
                          - Personal Audio Conference
                          - Recurring meeting with a fixed time
                          - Recurring webinar with a fixed time
                          - A recording uploaded
                      enum:
                        - '1'
                        - '2'
                        - '3'
                        - '4'
                        - '5'
                        - '6'
                        - '7'
                        - '8'
                        - '9'
                        - '99'
                    uuid:
                      type: string
                      description: >-
                        The unique meeting identifier. Each instance of the
                        meeting has its own UUID.
                      example: BOKXuumlTAGXuqwr3bLyuQ==
                    recording_play_passcode:
                      type: string
                      description: >-
                        The cloud recording's passcode to be used in the URL.
                        Directly splice this recording's passcode in `play_url` or
                        `share_url` with `?pwd=` to access and play. Example:
                        'https://zoom.us/rec/share/**************?pwd=yNYIS408EJygs7rE5vVsJwXIz4-VW7MH'.
                      example: yNYIS408EJygs7rE5vVsJwXIz4-VW7MH
                    recording_files:
                      type: array
                      description: The list of recording file.
                      items:
                        type: object
                        properties:
                          deleted_time:
                            type: string
                            description: >-
                              The time when recording was deleted. Returned in the
                              response only for trash query.
                            example: '2021-03-18T05:41:36Z'
                          download_url:
                            type: string
                            description: >-
                              The URL to download the recording. 


                              If a user has authorized and installed your OAuth
                              app that contains recording scopes, use the
                              `download_access_token` or the the user's [OAuth
                              access
                              token](https://developers.zoom.us/docs/integrations/oauth/)
                              to download the file, and set the `access_token` as
                              a Bearer token in the Authorization header.


                              `curl -H 'Authorization: Bearer <ACCESS_TOKEN>'
                              https://{{base-domain}}/rec/archive/download/xyz`.


                              **Note:** This field does **not** return for [Zoom
                              on-premise
                              accounts](https://support.zoom.us/hc/en-us/articles/360034064852-Zoom-On-Premise-Deployment).
                              Instead, this API returns the `file_path` field.
                            example: >-
                              https://example.com/rec/download/Qg75t7xZBtEbAkjdlgbfdngBBBB
                          file_path:
                            type: string
                            description: >-
                              The file path to the on-premise account recording. 


                              **Note:** This API only returns this field for [Zoom
                              On-Premise
                              accounts](https://support.zoom.us/hc/en-us/articles/360034064852-Zoom-On-Premise-Deployment).
                              It does **not** return the `download_url` field.
                            example: /9090876528/path01/demo.mp4
                          file_size:
                            type: number
                            description: The recording file size.
                            example: 7220
                          file_type:
                            type: string
                            description: "The recording file type. \n \n`MP4` - Video file of the recording.  \n `M4A` - Audio-only file of the recording.  \n `TIMELINE` - Timestamp file of the recording in JSON file format. To get a timeline file, the **Add a timestamp to the recording** setting must be enabled in the [recording settings](https://support.zoom.us/hc/en-us/articles/203741855-Cloud-recording#h_3f14c3a4-d16b-4a3c-bbe5-ef7d24500048). The time will display in the host's timezone, set on their Zoom profile.\n  \n  `TRANSCRIPT` - Transcription file of the recording in VTT format.  \n  `CHAT` - A TXT file containing in-meeting chat messages that were sent during the meeting.  \n `CC` - File containing closed captions of the recording in VTT file format.  \n `CSV` - File containing polling data in csv format.\n\n  \n \n\nA recording file object with file type of either `CC` or `TIMELINE` **does not have** these properties.  \n \n\t`id`, `status`, `file_size`, `recording_type`, and `play_url`.  \n `SUMMARY` - Summary file of the recording in JSON file format."
                            example: MP4
                            enum:
                              - MP4
                              - M4A
                              - CHAT
                              - TRANSCRIPT
                              - CSV
                              - TB
                              - CC
                              - CHAT_MESSAGE
                              - SUMMARY
                          file_extension:
                            type: string
                            description: The file extension type of the recording file.
                            example: M4A
                            enum:
                              - MP4
                              - M4A
                              - TXT
                              - VTT
                              - CSV
                              - JSON
                              - JPG
                          id:
                            type: string
                            description: >-
                              The recording file ID. It's included in the response
                              of general query.
                            example: 72576a1f-4e66-4a77-87c4-f13f9808bd76
                          meeting_id:
                            type: string
                            description: 'The meeting ID. '
                            example: L0AGOEPVR9m5WSOOs/d+FQ==
                          play_url:
                            type: string
                            description: The URL that can play a recording file.
                            example: >-
                              https://example.com/rec/play/Qg75t7xZBtEbAkjdlgbfdngBBBB
                          recording_end:
                            type: string
                            description: >-
                              The recording end time. The response is in general
                              query.
                            example: '2021-03-18T05:41:36Z'
                          recording_start:
                            type: string
                            description: The recording start time.
                            example: '2021-03-18T05:41:36Z'
                          recording_type:
                            type: string
                            description: |-
                              The recording type.  
                               `shared_screen_with_speaker_view(CC)`  
                               `shared_screen_with_speaker_view`  
                               `shared_screen_with_gallery_view`  
                               `speaker_view`  
                               `gallery_view`  
                               `shared_screen`  
                               `audio_only`  
                               `audio_transcript`  
                               `chat_file`  
                               `active_speaker`  
                               `poll`  
                               `timeline`  
                               `closed_caption`  
                               `audio_interpretation`  
                               `summary`  
                               `summary_next_steps`  
                               `summary_smart_chapters`  
                               `sign_interpretation`  
                               `production_studio`
                            example: shared_screen_with_speaker_view
                            enum:
                              - shared_screen_with_speaker_view(CC)
                              - shared_screen_with_speaker_view
                              - shared_screen_with_gallery_view
                              - active_speaker
                              - gallery_view
                              - shared_screen
                              - audio_only
                              - audio_transcript
                              - chat_file
                              - poll
                              - host_video
                              - closed_caption
                              - timeline
                              - thumbnail
                              - audio_interpretation
                              - summary
                              - summary_next_steps
                              - summary_smart_chapters
                              - sign_interpretation
                              - production_studio
                          status:
                            type: string
                            description: The recording status.
                            example: completed
                            enum:
                              - completed
                        description: Recording file object.
                    download_access_token:
                      type: string
                      description: >-
                        The JWT token to download the meeting's recording. This
                        response only returns if the `download_access_token` is
                        included in the `include_fields` query parameter.
                      example: >-
                        abJhbGciOiJIUzUxMiJ9.eyJpc3MiOiJodHRwczovL2V2ZW50Lnpvb20udXMiLCJhY2NvdW50SWQiOiJNdDZzdjR1MFRBeVBrd2dzTDJseGlBIiwiYXVkIjoiaHR0cHM6Ly9vYXV0aC56b29tLnVzIiwibWlkIjoieFp3SEc0c3BRU2VuekdZWG16dnpiUT09IiwiZXhwIjoxNjI2MTM5NTA3LCJ1c2VySWQiOiJEWUhyZHBqclMzdWFPZjdkUGtrZzh3In0.a6KetiC6BlkDhf1dP4KBGUE1bb2brMeraoD45yhFx0eSSSTFdkHQnsKmlJQ-hdo9Zy-4vQw3rOxlyoHv583JyZ
                    password:
                      type: string
                      description: The cloud recording's passcode.
                      example: '981651'
                    participant_audio_files:
                      type: array
                      description: >-
                        A list of recording files. The API only returns this
                        response when the **Record a separate audio file of each
                        participant** setting is enabled.
                      items:
                        type: object
                        properties:
                          download_url:
                            type: string
                            description: >-
                              The URL to download the recording. If a user has
                              authorized and installed your OAuth app that
                              contains recording scopes, use the user's [OAuth
                              access
                              token](https://developers.zoom.us/docs/integrations/oauth/)
                              to download the file, and set the `access_token` as
                              a Bearer token in the Authorization header.


                              `curl -H 'Authorization: Bearer <ACCESS_TOKEN>'
                              https://{{base-domain}}/rec/archive/download/xyz` 


                              **Note:** This field does **not** return for [Zoom
                              On-Premise
                              accounts](https://support.zoom.us/hc/en-us/articles/360034064852-Zoom-On-Premise-Deployment).
                              Instead, this API will return the `file_path` field.
                            example: >-
                              https://example.com/rec/download/Qg75t7xZBtEbAkjdlgbfdngBBBB
                          file_name:
                            type: string
                            description: The recording file's name.
                            example: test.json
                          file_path:
                            type: string
                            description: >-
                              The file path to the on-premise account recording. 


                              **Note:** This API only returns this field for [Zoom
                              on-premise
                              accounts](https://support.zoom.us/hc/en-us/articles/360034064852-Zoom-On-Premise-Deployment).
                              It does **not** return the `download_url` field.
                            example: /9090876528/path01/demo.mp4
                          file_size:
                            type: number
                            description: The recording file's size, in bytes.
                            example: 65536
                          file_type:
                            type: string
                            description: >-
                              The recording file's format. 


                              * `MP4` - Video file.

                              * `M4A` - Audio-only file.

                              * `TIMELINE` - Timestamp file of the recording, in
                              JSON file format. To get a timeline file, the **Add
                              a timestamp to the recording** setting **must** be
                              enabled in the [recording
                              settings](https://support.zoom.us/hc/en-us/articles/203741855-Cloud-recording#h_3f14c3a4-d16b-4a3c-bbe5-ef7d24500048).
                              The time will display in the host's timezone.

                              * `TRANSCRIPT` - A transcript of the recording, in
                              VTT format.

                              * `CHAT` - A text file containing chat messages sent
                              during the meeting.

                              * `CC` - A file containing the closed captions of
                              the recording, in VTT file format.

                              * `CSV` - A file containing polling data, in CSV
                              format.


                              A recording file object with file the `CC` or
                              `TIMELINE` value **does not** have the `id`,
                              `status`, `file_size`, `recording_type`, and
                              `play_url` properties.
                            example: M4A
                          id:
                            type: string
                            description: >-
                              The recording file's unique ID. This is included in
                              the general query response.
                            example: a2f19f96-9294-4f51-8134-6f0eea108eb2
                          play_url:
                            type: string
                            description: >-
                              The URL where the recording file can be opened and
                              played.
                            example: >-
                              https://example.com/rec/play/Qg75t7xZBtEbAkjdlgbfdngBBBB
                          recording_end:
                            type: string
                            description: >-
                              The recording file's end time. This is included in
                              the general query response.
                            format: date-time
                            example: '2021-06-30T22:14:57Z'
                          recording_start:
                            type: string
                            description: The recording file's start time.
                            format: date-time
                            example: '2021-06-30T22:14:57Z'
                          status:
                            type: string
                            description: The recording file's status.
                            example: completed
                            enum:
                              - completed
                        description: The recording file object.
                  description: >-
                    This field returns a list of recording files for each
                    participant. The API only returns this response when the
                    **Record a separate audio file of each participant** setting
                    is enabled.
          '400':
            description: |
              **HTTP Status Code:** `400` <br>
               Bad Request  

               **Error Code:** `1010` <br>
               User not found on this account: {accountId}. <br>
          '404':
            description: |
              **HTTP Status Code:** `404` <br>
               Not Found  

               **Error Code:** `1001` <br>
               User "{userId}" does not exist or does not belong to this account. <br>
              **Error Code:** `3301` <br>
               There is no recording for this meeting. <br>
        security:
          - openapi_oauth:
              - recording:read
              - phone_recording:read:admin
            openapi_authorization: []
        extensions:
          x-permissions: []
          x-macro-scopes:
            - recording:read
            - phone_recording:read:admin
      delete:
        tags:
          - Cloud Recording
        summary: Delete meeting recordings
        description: >-
          Delete all recording files of a meeting.  
             
           

          **Prerequisites**:

          * Cloud Recording should be enabled on the user's account.  
           


          **Scopes:** `recording:write:admin`,`recording:write`


          **[Rate Limit
          Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):**
          `Light`
        operationId: recordingDelete
        parameters:
          - name: meetingId
            in: path
            description: >-
              To get Cloud Recordings of a meeting, provide the meeting ID or
              meeting UUID. If the meeting ID is provided instead of UUID,the
              response will be for the latest meeting instance. 


              To get Cloud Recordings of a webinar, provide the webinar ID or the
              webinar UUID. If the webinar ID is provided instead of UUID,the
              response will be for the latest webinar instance. 


              If a UUID starts with &quot;/&quot; or contains &quot;//&quot;
              (example: &quot;/ajXp112QmuoKj4854875==&quot;), you must **[double
              encode](https://marketplace.zoom.us/docs/api-reference/using-zoom-apis/#meeting-id-and-uuid)**
              the UUID before making an API request. 
            required: true
            schema:
              type: string
              example: atsXxhSEQWit9t+U02HXNQ==
          - name: action
            in: query
            description: |-
              The recording delete actions:  
               `trash` - Move recording to trash.  
               `delete` - Delete recording permanently.
            required: false
            schema:
              type: string
              example: trash
              default: trash
              enum:
                - trash
                - delete
        responses:
          '200':
            description: |-
              **HTTP Status Code:** `200`   
               
              Recordings deleted. 

              **Error Code:** `200`   
               
              You do not have the right permission.
          '204':
            description: |-
              **HTTP Status Code:** `204`   
               
              Meeting recording deleted.
          '400':
            description: >+
              **HTTP Status Code:** `400` <br>
               Bad Request

              **Error Code:** `1010` <br>

              User does not belong to this account: {accountId}. <br/>


              **Error Code:** `3332` <br>

              This recording was selected for a simulive webinar. You cannot
              delete or trash it.

          '404':
            description: |+
              **HTTP Status Code:** `404` <br>
               Not Found

              **Error Code:** `1001` <br>
              User {userId} does not exist or does not belong to this account.<br>

              **Error Code:** `3301` <br>
              There is no recording for this meeting.

        security:
          - openapi_oauth:
              - recording:write:admin
              - recording:write
            openapi_authorization: []
        extensions:
          x-macro-scopes:
            - recording:write:admin
            - recording:write
    /meetings/{meetingId}/recordings/analytics_details:
      get:
        tags:
          - Cloud Recording
        summary: Get Meeting Recording's Analytics Details
        description: >-
          Use this API to return a meeting recording's [analytics
          details](https://support.zoom.us/hc/en-us/articles/205347605-Managing-cloud-recordings#h_0b665029-ce74-4849-9794-d1aa0320d163).
          **Maximum duration: 1 Month**. To access a password-protected cloud
          recording, send the user's [OAuth access
          token](https://developers.zoom.us/docs/integrations/oauth/) as a Bearer
          token in the Authorization header. For example, 

           `curl -H &quot;Authorization: Bearer &lt;ACCESS_TOKEN&gt;&quot; https://{{base-domain}}/rec/archive/download/xyz` 

           

          **Scopes:** `recording:read:admin`,`recording:read`


          **[Rate Limit
          Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):**
          `Medium`
        operationId: analytics_details
        parameters:
          - name: meetingId
            in: path
            description: >-
              To get Cloud Recordings of a meeting, provide the meeting ID or
              meeting UUID. If the meeting ID is provided instead of UUID,the
              response will be for the latest meeting instance. 


              To get Cloud Recordings of a webinar, provide the webinar ID or the
              webinar UUID. If the webinar ID is provided instead of UUID,the
              response will be for the latest webinar instance. 


              If a UUID starts with &quot;/&quot; or contains &quot;//&quot;
              (example: &quot;/ajXp112QmuoKj4854875==&quot;), you must **[double
              encode](https://marketplace.zoom.us/docs/api-reference/using-zoom-apis/#meeting-id-and-uuid)**
              the UUID before making an API request. 
            required: true
            schema:
              type: string
              example: atsXxhSEQWit9t+U02HXNQ==
          - name: page_size
            in: query
            description: The number of records returned within a single API call.
            required: false
            schema:
              maximum: 300
              type: integer
              example: 30
              default: 30
          - name: next_page_token
            in: query
            description: >-
              Use the next page token to paginate through large result sets. A
              next page token is returned whenever the set of available results
              exceeds the current page size. This token's expiration period is 15
              minutes.
            required: false
            schema:
              type: string
              example: IAfJX3jsOLW7w3dokmFl84zOa0MAVGyMEB2
          - name: from
            in: query
            description: >-
              The start date for the monthly range to query. The maximum range can
              be a month. If you do not provide this value, this defaults to the
              current date.
            required: false
            schema:
              type: string
              format: date
              example: '2020-06-30'
          - name: to
            in: query
            description: >-
              The end date for the monthly range to query. The maximum range can
              be a month.
            required: false
            schema:
              type: string
              format: date
              example: '2020-07-30'
          - name: type
            in: query
            description: |-
              The type of analytics details: 
              * `by_view` &mdash; by_view. 
              * `by_download` &mdash; by_download.
            required: false
            schema:
              type: string
              example: by_view
              enum:
                - by_view
                - by_download
        responses:
          '200':
            description: |-
              **HTTP Status Code:** `200`   
               
              Analytics Detail listed successfully.
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    from:
                      type: string
                      description: The queried start date
                      format: date
                      example: '2020-07-30'
                    to:
                      type: string
                      description: The queried end date.
                      format: date
                      example: '2020-07-30'
                    next_page_token:
                      type: string
                      description: >-
                        The next page token is used to paginate through large
                        result sets. A next page token will be returned whenever
                        the set of available results exceeds the current page
                        size. The expiration period for this token is 15 minutes.
                      example: R4aF9Oj0fVM2hhezJTEmSKaBSkfesDwGy42
                    page_size:
                      maximum: 300
                      type: integer
                      description: The number of records returned within a single API call.
                      example: 30
                    total_records:
                      type: integer
                      description: >-
                        The total number of all the records available across
                        pages.
                      example: 5
                    analytics_details:
                      type: array
                      description: Analytics Detail.
                      items:
                        properties:
                          date_time:
                            type: string
                            description: Explicit time to watch or download the recording.
                            format: date-time
                            example: '2021-07-04T22:14:57Z'
                          name:
                            type: string
                            description: The user's name who watched or downloaded.
                            example: '2'
                          email:
                            type: string
                            description: >-
                              The user's email who downloaded this Meeting
                              Recording.
                            example: '2'
                          duration:
                            type: integer
                            description: >-
                              When the query type is `by_view`, this field
                              indicates the viewing time, unit: seconds
                            example: 60
          '400':
            description: |+
              **HTTP Status Code:** `400` <br>
               Bad Request

              **Error Code:** `1010` <br>
              User not found on this account: {accountId}

          '404':
            description: |+
              **HTTP Status Code:** `404` <br>
               Not Found

              **Error Code:** `1001` <br>
              User "{userId}" does not exist or does not belong to this account.

              **Error Code:** `3301` <br>
              There is no recording for this meeting.

        security:
          - openapi_oauth:
              - recording:read:admin
              - recording:read
            openapi_authorization: []
        extensions:
          x-macro-scopes:
            - recording:read:admin
            - recording:read
    /meetings/{meetingId}/recordings/analytics_summary:
      get:
        tags:
          - Cloud Recording
        summary: Get Meeting Recording's Analytics Summary
        description: >-
          Use this API to return a meeting recording's [analytics
          summary](https://support.zoom.us/hc/en-us/articles/205347605-Managing-cloud-recordings#h_0b665029-ce74-4849-9794-d1aa0320d163).
          **Maximum duration: 1 Month**. To access a password-protected cloud
          recording, send the user's [OAuth access
          token](https://developers.zoom.us/docs/integrations/oauth/) as a Bearer
          token in the Authorization header. For example, 

           `curl -H &quot;Authorization: Bearer &lt;ACCESS_TOKEN&gt;&quot; https://{{base-domain}}/rec/archive/download/xyz` 

           

          **Scopes:** `recording:read:admin`,`recording:read`


          **[Rate Limit
          Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):**
          `Medium`
        operationId: analytics_summary
        parameters:
          - name: meetingId
            in: path
            description: >-
              To get Cloud Recordings of a meeting, provide the meeting ID or
              meeting UUID. If the meeting ID is provided instead of UUID,the
              response will be for the latest meeting instance. 


              To get Cloud Recordings of a webinar, provide the webinar ID or the
              webinar UUID. If the webinar ID is provided instead of UUID,the
              response will be for the latest webinar instance. 


              If a UUID starts with &quot;/&quot; or contains &quot;//&quot;
              (example: &quot;/ajXp112QmuoKj4854875==&quot;), you must **[double
              encode](https://marketplace.zoom.us/docs/api-reference/using-zoom-apis/#meeting-id-and-uuid)**
              the UUID before making an API request. 
            required: true
            schema:
              type: string
              example: atsXxhSEQWit9t+U02HXNQ==
          - name: from
            in: query
            description: >-
              The start date for the monthly range to query. The maximum range can
              be a month. If you do not provide this value, this defaults to the
              current date.
            required: false
            schema:
              type: string
              format: date
              example: '2020-06-30'
          - name: to
            in: query
            description: >-
              The end date for the monthly range to query. The maximum range can
              be a month.
            required: false
            schema:
              type: string
              format: date
              example: '2020-07-30'
        responses:
          '200':
            description: |-
              **HTTP Status Code:** `200`   
               
              Analytics Summary listed successfully.
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    from:
                      type: string
                      description: The queried start date
                      format: date
                      example: '2020-07-30'
                    to:
                      type: string
                      description: The queried end date.
                      format: date
                      example: '2020-07-30'
                    analytics_summary:
                      type: array
                      description: Analytics Summary.
                      items:
                        properties:
                          date:
                            type: string
                            description: Date of viewing or downloading the recording.
                            example: '2022-07-06'
                          views_total_count:
                            type: integer
                            description: >-
                              The number of people who have watched this Meeting
                              Recording.
                            example: 2
                          downloads_total_count:
                            type: integer
                            description: >-
                              The number of people who downloaded this Meeting
                              Recording.
                            example: 2
          '400':
            description: |+
              **HTTP Status Code:** `400` <br>
               Bad Request

              **Error Code:** `1010` <br>
              User not found on this account: {accountId}

          '404':
            description: |+
              **HTTP Status Code:** `404` <br>
               Not Found

              **Error Code:** `1001` <br>
              User "{userId}" does not exist or does not belong to this account.

              **Error Code:** `3301` <br>
              There is no recording for this meeting.

        security:
          - openapi_oauth:
              - recording:read:admin
              - recording:read
            openapi_authorization: []
        extensions:
          x-macro-scopes:
            - recording:read:admin
            - recording:read
    /meetings/{meetingId}/recordings/registrants:
      get:
        tags:
          - Cloud Recording
        summary: List recording registrants
        description: >-
          Use this API to list registrants of a past meeting's [on-demand cloud
          recordings](https://support.zoom.us/hc/en-us/articles/360000488283-On-demand-recordings).
          Users must [register](https://developers.zoom.us) to view the
          recordings. 

           

          **Scopes:** `recording:read:admin`,`recording:read`


          **[Rate Limit
          Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):**
          `Medium`
        operationId: meetingRecordingRegistrants
        parameters:
          - name: meetingId
            in: path
            description: |-
              The meeting's ID. 

               When storing this value in your database, you must store it as a long format integer and **not** an integer. Meeting IDs can exceed 10 digits.
[...]
