openapi: 3.1.0
info:
  title: Billsby API
  version: 1.3.5
  description: >-
    Billsby is a feature-rich "Saas" recurring payment platform, ranked as the
    leading subscription billing software by G2.


    Billsby is designed to ensure customers can go live quickly, often within
    1-2 hours.  To help facilitate this process we have a team of friendly
    knowledgeable advisors ready to help your business go live.


    Billsby specializes in providing great customer service at an affordable
    price point - our technology is rated No 1 on G2 by our customers.


    If you are a developer creating a solution for your customer, Billsby has a
    friendly well-documented API.  The Billsby team are here to provide support
    to developers in order to ensure a smooth migration or new system build.


    Why not book a call, talk through your Billing requirements and we can let
    you know how we can help you transform your business..
servers:
  - url: https://public.billsby.com/api/v1/rest/core
components:
  securitySchemes:
    sec0:
      type: apiKey
      in: header
      name: ApiKey
security:
  - sec0: []
paths:
  /{companyDomain}/customers:
    get:
      summary: List customers
      description: ''
      operationId: getting-started-with-your-api
      parameters:
        - name: companyDomain
          in: path
          description: >-
            Your companies Billsby subdomain - for example, if you login at
            widgets.billsby.com, your companyDomain is widgets
          schema:
            type: string
          required: true
        - name: page
          in: query
          description: The page of customers you would like to view
          required: true
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: The number of records to return per page (max 100)
          required: true
          schema:
            type: integer
            format: int32
        - name: search
          in: query
          description: Filter customers by name (this can be a partial name)
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "currentPage": 0,
                      "pageCount": 0,
                      "pageSize": 0,
                      "rowCount": 0,
                      "results": [
                        {
                          "customerUniqueId": "string",
                          "firstName": "mary",
                          "lastName": "quinn",
                          "email": "mary.quinn@mistimail.com",
                          "createdOn": "2020-04-29T10:08:39.320Z",
                          "status": "active"
                          "phoneNumber": null,
                          "phoneNumberDialCode": null,
                          "phoneNumberDialCodeCountry": null,
                          "billingAddress": {
                          "addressLine1": "23 Turnabout Road",
                          "addressLine2": "Sevenoaks",
                          "city": "Surrey",
                          "country": "USA",
                          "state": "Kent",
                          "postCode": "KN2 6WH"
                                }
                        }
                      ]
                    }
      deprecated: false
    post:
      summary: Create without subscription
      description: ''
      operationId: create-a-customer-without-a-subscription
      parameters:
        - name: companyDomain
          in: path
          description: >-
            Your companies Billsby subdomain - for example, if you login at
            widgets.billsby.com, your companyDomain is widgets
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - addressLine1
                - city
                - state
                - country
                - postCode
                - firstName
                - lastName
                - email
              properties:
                addressLine1:
                  type: string
                addressLine2:
                  type: string
                city:
                  type: string
                state:
                  type: string
                country:
                  type: string
                postCode:
                  type: string
                firstName:
                  type: string
                lastName:
                  type: string
                email:
                  type: string
                cardDetails:
                  type: object
                  properties:
                    fullName:
                      type: string
                      description: The full name of the customer
                    paymentCardToken:
                      type: string
                      description: This can be found in the create token API response
                    expiryMonth:
                      type: integer
                      description: Customers two digit expiry month - i.e. "12"
                      format: int32
                    expiryYear:
                      type: integer
                      description: Customers card expiry year - i.e. "2020"
                      format: int32
                    cardType:
                      type: string
                      description: '"visa" "master" "american_express"'
                    last4Digits:
                      type: string
                      description: The last 4 digits of the customers card
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "customerUniqueId": "string"
                    }
              schema:
                type: object
                properties:
                  customerUniqueId:
                    type: string
                    example: string
      deprecated: false
      x-readme:
        code-samples:
          - language: text
            code: |-
              {
                "addressLine1": "23 Turnabout Road",
                "addressLine2": "Woodingdean",
                "city": "Brighton",
                "state": "East Sussex",
                "country": "GBR",
                "postCode": "BN3 4WH",
                "firstName": "Robert",
                "lastName": "Dowling",
                "email": "robert.dowling@mistimail.com",
                "cardDetails": {
                  "fullname": "Robert Dowling"  
                  "paymentCardToken": "string",
                  "expiryMonth": 05,
                  "expiryYear": 2020,
                  "cardType": "1",
                  "last4Digits": "1547"
                }
              }
        samples-languages:
          - text
  /{companyDomain}/customers/{customerUniqueId}:
    get:
      summary: Customer details
      description: >-
        This query gets individual customer details using the unique identifier
        provided in the Billsby platform
      operationId: get-customer-details
      parameters:
        - name: companyDomain
          in: path
          description: >-
            Your companies Billsby subdomain - for example, if you login at
            widgets.billsby.com, your companyDomain is widgets
          schema:
            type: string
          required: true
        - name: customerUniqueId
          in: path
          description: The unique identifier of the customer in the Billsby platform
          schema:
            type: string
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "companyCurrency": "string",
                      "totalAmountPaid": "440",
                      "averageAmountPerMonth": "20",
                      "cardStatus": "active",
                      "customerUniqueId": "6ZY37ULDEF",
                      "firstName": "Mary",
                      "lastName": "quinn",
                      "billingAddress": {
                        "addressLine1": "20 Woodfood Road",
                        "addressLine2": "Saltdean",
                        "state": "Brighton",
                        "city": "Brighton",
                        "country": "England",
                        "postCode": "BN3 4GH"
                      },
                      "email": "mary.quinn@mistimail.com",
                      "additionalEmail": "marymay@mistimail.com",
                      "phoneNumberDialCountry": "england",
                      "phoneNumberDialCode": "+1",
                      "phoneNumber": "07822839281",
                      "isMarketingConsentGiven": true,
                      "createdOn": "2020-04-29T10:16:25.474Z",
                      "status": "active"
                    }
              schema:
                type: object
                properties:
                  companyCurrency:
                    type: string
                    example: string
                  totalAmountPaid:
                    type: string
                    example: '440'
                  averageAmountPerMonth:
                    type: string
                    example: '20'
                  cardStatus:
                    type: string
                    example: active
                  customerUniqueId:
                    type: string
                    example: 6ZY37ULDEF
                  firstName:
                    type: string
                    example: Mary
                  lastName:
                    type: string
                    example: quinn
                  billingAddress:
                    type: object
                    properties:
                      addressLine1:
                        type: string
                        example: 20 Woodfood Road
                      addressLine2:
                        type: string
                        example: Saltdean
                      state:
                        type: string
                        example: Brighton
                      city:
                        type: string
                        example: Brighton
                      country:
                        type: string
                        example: England
                      postCode:
                        type: string
                        example: BN3 4GH
                  email:
                    type: string
                    example: mary.quinn@mistimail.com
                  additionalEmail:
                    type: string
                    example: marymay@mistimail.com
                  phoneNumberDialCountry:
                    type: string
                    example: england
                  phoneNumberDialCode:
                    type: string
                    example: '+1'
                  phoneNumber:
                    type: string
                    example: '07822839281'
                  isMarketingConsentGiven:
                    type: boolean
                    example: true
                    default: true
                  createdOn:
                    type: string
                    example: '2020-04-29T10:16:25.474Z'
                  status:
                    type: string
                    example: active
      deprecated: false
    put:
      summary: Update customer
      description: ''
      operationId: put-customer
      parameters:
        - name: companyDomain
          in: path
          description: >-
            Your companies Billsby subdomain - for example, if you login at
            widgets.billsby.com, your companyDomain is widgets
          schema:
            type: string
          required: true
        - name: customerUniqueId
          in: path
          description: The unique identifier of the customer in the Billsby platform
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - firstName
                - lastName
                - email
                - billingAddress
              properties:
                firstName:
                  type: string
                  description: The customers first name
                lastName:
                  type: string
                  description: The customers last name
                phoneNumberDialCountry:
                  type: string
                  description: The customers phone number dial country (i.e. "UK")
                phoneNumberDialCode:
                  type: string
                  description: The customer phone number dial code
                email:
                  type: string
                  description: The email address we have on file for the customer
                phoneNumber:
                  type: string
                  description: >-
                    The phone number we have on file for the customer. Remove
                    "0" from the start.
                billingAddress:
                  type: object
                  properties:
                    addressLine1:
                      type: string
                    addressLine2:
                      type: string
                    state:
                      type: string
                      description: >-
                        For US addresses, this must be the ISO two letter state
                        code
                    city:
                      type: string
                    country:
                      type: string
                      description: The ISO three letter country code
                    postCode:
                      type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "customerId": "6DK82SKD",
                      "firstName": "mary",
                      "lastName": "quinn",
                      "billingAddress": {
                        "addressLine1": "32 woodford road",
                        "addressLine2": "saltdean",
                        "state": "brighton",
                        "city": "brighton",
                        "country": "USA",
                        "postCode": "BN3 6HE"
                      },
                      "email": "mary.quinn@mistmail.com",
                      "additionalEmail": "marymay@mistimail.com",
                      "phoneNumberDialCountry": "USA",
                      "phoneNumberDialCode": "+1",
                      "phoneNumber": "07283928192",
                      "isMarketingConsentGiven": true,
                      "createdOn": "2019-09-03T13:31:55.138Z",
                      "uniqueId": "AHD12QR4"
                    }
              schema:
                type: object
                properties:
                  customerId:
                    type: string
                    example: 6DK82SKD
                  firstName:
                    type: string
                    example: mary
                  lastName:
                    type: string
                    example: quinn
                  billingAddress:
                    type: object
                    properties:
                      addressLine1:
                        type: string
                        example: 32 woodford road
                      addressLine2:
                        type: string
                        example: saltdean
                      state:
                        type: string
                        example: brighton
                      city:
                        type: string
                        example: brighton
                      country:
                        type: string
                        example: USA
                      postCode:
                        type: string
                        example: BN3 6HE
                  email:
                    type: string
                    example: mary.quinn@mistmail.com
                  additionalEmail:
                    type: string
                    example: marymay@mistimail.com
                  phoneNumberDialCountry:
                    type: string
                    example: USA
                  phoneNumberDialCode:
                    type: string
                    example: '+1'
                  phoneNumber:
                    type: string
                    example: '07283928192'
                  isMarketingConsentGiven:
                    type: boolean
                    example: true
                    default: true
                  createdOn:
                    type: string
                    example: '2019-09-03T13:31:55.138Z'
                  uniqueId:
                    type: string
                    example: AHD12QR4
      deprecated: false
      x-readme:
        code-samples:
          - language: text
            code: |-
              {
                "firstName": "David",
                "lastName": "Smith",
                "email": "david.smith@mistimail.com",
                "phoneNumberDialCountry": "UK",
                "phoneNumberDialCode": "1",
                "phoneNumber": "2015552810",
                "billingAddress": {
                  "addressLine1": "23 Turnabout Road",
                  "addressLine2": "Sevenoaks",
                  "state": "Kent",
                  "city": "Surrey",
                  "country": "USA",
                  "postCode": "KN2 6WH"
                }
              }
        samples-languages:
          - text
    delete:
      summary: Delete a customer
      description: ''
      operationId: delete-a-customer
      parameters:
        - name: companyDomain
          in: path
          description: >-
            Your companies Billsby subdomain - for example, if you login at
            widgets.billsby.com, your companyDomain is widgets
          schema:
            type: string
          required: true
        - name: customerUniqueId
          in: path
          description: The unique identifier of the customer in the Billsby platform
          schema:
            type: string
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: Success
      deprecated: false
  /{companyDomain}/customers/{customerUniqueId}/subscriptions:
    get:
      summary: Customer subscriptions
      description: >-
        This query gets individual customer's subscriptions using the unique
        identifier provided in the Billsby platform
      operationId: get-customer-subscriptions
      parameters:
        - name: companyDomain
          in: path
          description: >-
            Your companies Billsby subdomain - for example, if you login at
            widgets.billsby.com, your companyDomain is widgets
          schema:
            type: string
          required: true
        - name: customerUniqueId
          in: path
          description: The unique identifier of the customer in the Billsby platform
          schema:
            type: string
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    [
                      {
                        "subscriptionId": "string",
                        "productId": 0,
                        "productName": "string",
                        "planId": 0,
                        "planName": "string",
                        "status": "string",
                        "currency": "string",
                        "revenue": "string",
                        "nextBilling": "2020-04-29T10:46:39.498Z",
                        "createdOn": "2020-04-29T10:46:39.498Z",
                        "units": 0
                      }
                    ]
              schema:
                type: array
                items:
                  type: object
                  properties:
                    subscriptionId:
                      type: string
                      example: string
                    productId:
                      type: integer
                      example: 0
                      default: 0
                    productName:
                      type: string
                      example: string
                    planId:
                      type: integer
                      example: 0
                      default: 0
                    planName:
                      type: string
                      example: string
                    status:
                      type: string
                      example: string
                    currency:
                      type: string
                      example: string
                    revenue:
                      type: string
                      example: string
                    nextBilling:
                      type: string
                      example: '2020-04-29T10:46:39.498Z'
                    createdOn:
                      type: string
                      example: '2020-04-29T10:46:39.498Z'
                    units:
                      type: integer
                      example: 0
                      default: 0
      deprecated: false
    post:
      summary: Add subscription to existing customer
      description: ''
      operationId: add-subscription-to-existing-customer
      parameters:
        - name: companyDomain
          in: path
          description: >-
            Your companies Billsby subdomain - for example, if you login at
            widgets.billsby.com, your companyDomain is widgets
          schema:
            type: string
          required: true
        - name: customerUniqueId
          in: path
          description: The unique identifier of the customer in the Billsby platform
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - cycleId
              properties:
                cycleId:
                  type: integer
                  description: The unique identifier of the cycle in the Billsby platform
                  format: int32
                units:
                  type: integer
                  description: The number of units for unit based plans
                  format: int32
                address:
                  type: object
                  description: The address of the customer
                  properties:
                    addressLine1:
                      type: string
                    addressLine2:
                      type: string
                    state:
                      type: string
                    city:
                      type: string
                    country:
                      type: string
                    postCode:
                      type: string
                shippingAddress:
                  type: object
                  description: The shipping address of the customer
                  properties: {}
                additionalEmail:
                  type: string
                  description: Any additional email addresses given by the customer
                phoneNumberDialCountry:
                  type: string
                  description: The country associated with the phone number
                phoneNumberDialCode:
                  type: integer
                  description: The country dial code for the customer phone number
                  format: int32
                phoneNumber:
                  type: integer
                  description: The customer's phone number
                  format: int32
                marketingConsent:
                  type: boolean
                  description: 'Gas the customer given marketing consent: true or false'
                taxRegNumber:
                  type: string
                  description: Tax registration number
                ipAddress:
                  type: string
                customFieldResponse:
                  type: array
                  description: Any responses to custom fields
                  items:
                    properties:
                      customFieldId:
                        type: integer
                        description: >-
                          The unique ID associated with the customer field in
                          Billsby
                        format: int32
                      value:
                        type: string
                        description: The response to the custom field
                    type: object
                addOns:
                  type: array
                  description: >-
                    Any add-ons to be included in the plan, along with the
                    quantity of each add-on if unit based
                  items:
                    properties:
                      addOnId:
                        type: integer
                        description: >-
                          The unique identifier of the add-ons in the Billsby
                          platform
                        format: int32
                      quantity:
                        type: integer
                        description: The quantity of the add-on if unit based
                        format: int32
                    required:
                      - addOnId
                    type: object
                allowances:
                  type: integer
                  description: Any allowances to be included with the plan
                  format: int32
                couponCodes:
                  type: array
                  description: The coupon code to be used for the plan
                  items:
                    properties:
                      planId:
                        type: integer
                        description: >-
                          The unique identifier of the plan in the Billsby
                          platform
                        format: int32
                      couponCode:
                        type: string
                        description: The coupon code to be used for the plan
                    required:
                      - planId
                    type: object
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "customerUniqueId": "string",
                      "subscriptionUniqueId": "string"
                    }
              schema:
                type: object
                properties:
                  customerUniqueId:
                    type: string
                    example: string
                  subscriptionUniqueId:
                    type: string
                    example: string
      deprecated: false
  /{companyDomain}/customers/{customerUniqueId}/subscriptions/featuretags:
    get:
      summary: Customer feature tags
      description: ''
      operationId: get-customers-feature-tags
      parameters:
        - name: companyDomain
          in: path
          description: >-
            Your companies Billsby subdomain - for example, if you login at
            widgets.billsby.com, your companyDomain is widgets
          schema:
            type: string
          required: true
        - name: customerUniqueId
          in: path
          description: The unique identifier of the customer in the Billsby platform
          schema:
            type: string
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    [
                      "pro-plan"
                    ]
              schema:
                type: array
                items:
                  type: string
                  example: pro-plan
      deprecated: false
  /{companyDomain}/customers/{customerUniqueId}/invoices/{invoiceNumber}/paymentlogs:
    get:
      summary: Customer payment logs
      description: ''
      operationId: get-customer-payment-logs
      parameters:
        - name: companyDomain
          in: path
          description: >-
            Your companies Billsby subdomain - for example, if you login at
            widgets.billsby.com, your companyDomain is widgets
          schema:
            type: string
          required: true
        - name: customerUniqueId
          in: path
          description: The unique identifier of the customer in the Billsby platform
          schema:
            type: string
          required: true
        - name: invoiceNumber
          in: path
          description: The unique identifier of the invoice in the Billsby platform
          schema:
            type: string
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    [
                      {
                        "paymentLogId": 0,
                        "createdOn": "2020-04-29T14:02:11.138Z",
                        "gatewayId": 0,
                        "gatewayName": "string",
                        "reference": "string",
                        "paymentMethod": "string",
                        "status": "string"
                      }
                    ]
              schema:
                type: array
                items:
                  type: object
                  properties:
                    paymentLogId:
                      type: integer
                      example: 0
                      default: 0
                    createdOn:
                      type: string
                      example: '2020-04-29T14:02:11.138Z'
                    gatewayId:
                      type: integer
                      example: 0
                      default: 0
                    gatewayName:
                      type: string
                      example: string
                    reference:
                      type: string
                      example: string
                    paymentMethod:
                      type: string
                      example: string
                    status:
                      type: string
                      example: string
      deprecated: false
  /{companyDomain}/customers/{customerUniqueId}/paymentdetailsrequest:
    get:
      summary: Request to update payment details
      description: ''
      operationId: request-to-update-payment-details
      parameters:
        - name: companyDomain
          in: path
          description: >-
            Your companies Billsby subdomain - for example, if you login at
            widgets.billsby.com, your companyDomain is widgets
          schema:
            type: string
          required: true
        - name: customerUniqueId
          in: path
          description: The unique identifier of the customer in the Billsby platform
          schema:
            type: string
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |
                    Success
      deprecated: false
  /{companyDomain}/customers/{customerUniqueId}/paymentCard:
    put:
      summary: Update payment card token
      description: ''
      operationId: update-payment-details
      parameters:
        - name: companyDomain
          in: path
          description: >-
            Your companies Billsby subdomain - for example, if you login at
            widgets.billsby.com, your companyDomain is widgets
          schema:
            type: string
          required: true
        - name: customerUniqueId
          in: path
          description: The unique identifier of the customer in the Billsby platform
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                fullName:
                  type: string
                  description: The full name of the customer
                paymentCardtoken:
                  type: string
                  description: The token for the payment card in the Billsby vault
                expiryMonth:
                  type: integer
                  description: The date that the payment card expires
                  format: int32
                expiryYear:
                  type: integer
                  description: The year that the payment card expires
                  format: int32
                cardType:
                  type: string
                  description: The type of card (e.g. Visa, Mastercard, AMEX, etc.)
                last4Digits:
                  type: string
                  description: The last four digits of the long number on the payment card
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: Success
      deprecated: false
  /{companyDomain}/customers/{customerUniqueId}/invoices:
    post:
      summary: Create a one-time charge
      description: This query creates a one-time charge for an individual customer
      operationId: create-a-one-time-charge
      parameters:
        - name: companyDomain
          in: path
          description: >-
            Your companies Billsby subdomain - for example, if you login at
            widgets.billsby.com, your companyDomain is widgets
          schema:
            type: string
          required: true
        - name: customerUniqueId
          in: path
          description: The unique identifier of the customer in the Billsby platform
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - currencyCode
                - amount
                - description
              properties:
                currencyCode:
                  type: string
                  description: The code for the currency of the one-time charge
                amount:
                  type: integer
                  description: The amount of the one-time charge
                  format: int32
                description:
                  type: string
                  description: The description for the one-time charge
      responses:
        '200':
          description: '200'
          content:
            text/plain:
              examples:
                Result:
                  value: 'true'
              schema:
                type: boolean
                example: true
                default: true
      deprecated: false
    get:
      summary: Customer invoices
      description: This query gets individual customer's invoices
      operationId: get-customer-invoices
      parameters:
        - name: companyDomain
          in: path
          description: >-
            Your companies Billsby subdomain - for example, if you login at
            widgets.billsby.com, your companyDomain is widgets
          schema:
            type: string
          required: true
        - name: customerUniqueId
          in: path
          description: The unique identifier of the customer in the Billsby platform
          schema:
            type: string
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    [
                      {
                        "invoiceId": 0,
                        "createdOn": "2020-04-30T10:47:05.886Z",
                        "invoiceNumber": "string",
                        "amount": 0,
                        "refundableAmount": 0,
                        "formattedAmount": "£0",
                        "formattedAmount": "string",
                        "currency": "string",
                        "linkedTransactionsCount": 0,
                        "status": "string"
                      }
                    ]
              schema:
                type: array
                items:
                  type: object
                  properties:
                    invoiceId:
                      type: integer
                      example: 0
                      default: 0
                    createdOn:
                      type: string
                      example: '2020-04-30T10:47:05.886Z'
                    invoiceNumber:
                      type: string
                      example: string
                    amount:
                      type: integer
                      example: 0
                      default: 0
                    refundableAmount:
                      type: integer
                      example: 0
                      default: 0
                    formattedAmount:
                      type: string
                      example: string
                    currency:
                      type: string
                      example: string
                    linkedTransactionsCount:
                      type: integer
                      example: 0
                      default: 0
                    status:
                      type: string
                      example: string
      deprecated: false
  /{companyDomain}/customers/{customerUniqueId}/gdprcleanup:
    put:
      summary: Clear customer data (GDPR)
      description: ''
      operationId: clear-customer-data-gdpr
      parameters:
        - name: companyDomain
          in: path
          description: >-
            Your companies Billsby subdomain - for example, if you login at
            widgets.billsby.com, your companyDomain is widgets
          schema:
            type: string
          required: true
        - name: customerUniqueId
          in: path
          description: The unique identifier of the customer in the Billsby platform
          schema:
            type: string
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "companyCurrency": "string",
                      "totalAmountPaid": "string",
                      "averageAmountPerMonth": "string",
                      "cardStatus": "string",
                      "customerTaxRegNumber": "",
                      "customerUniqueId": "VL9GGID9ZE,"
                      "firstName": "string",
                      "lastName": "string",
                      "billingAddress": {
                        "addressLine1": "string",
                        "addressLine2": "string",
                        "state": "string",
                        "city": "string",
                        "country": "string",
                        "postCode": "string"
                      },
                      "email": "string",
                      "additionalEmail": "string",
                      "phoneNumberDialCountry": "string",
                      "phoneNumberDialCode": "string",
                      "phoneNumber": "string",
                      "isMarketingConsentGiven": true,
                      "createdOn": "2019-11-08T14:27:51.469Z",
                      "uniqueId": "string",
                      "status": "string"
                    }
      deprecated: false
  /{companyDomain}/subscriptions:
    get:
      summary: List subscriptions
      description: >-
        This query gets a list of all of the subscriptions in your account with
        their subscription IDs so that you can later lookup individual
        subscriptions
      operationId: get-company-subscriptions
      parameters:
        - name: companyDomain
          in: path
          description: >-
            Your companies Billsby subdomain - for example, if you login at
            widgets.billsby.com, your companyDomain is widgets
          schema:
            type: string
          required: true
        - name: page
          in: query
          description: The page of customers you would like to view
          required: true
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: The number of records to return per page
          required: true
          schema:
            type: integer
            format: int32
        - name: orderBy
          in: query
          description: >-
            You can order the subscriptions by any of the subscription object
            properties (e.g. CreatedOn to sort by date of creation)
          schema:
            type: string
        - name: orderByDescending
          in: query
          description: >-
            The ordering direction of the previously set property (e.g.
            Descending in CreatedOn will sort from newest to oldest,
            non-descending from oldest to newest)
          schema:
            type: string
        - name: isActive
          in: query
          description: Will show only the subscriptions that are active
          schema:
            type: boolean
        - name: isInFreeTrial
          in: query
          description: Will show only the subscriptions that are in free trial
          schema:
            type: boolean
        - name: productName
          in: query
          description: >-
            Will show only the subscriptions that has products whose names
            matches the value provided here
          schema:
            type: string
        - name: planName
          in: query
          description: >-
            Will show only the subscriptions that has plans whose names matches
            the value provided here
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "currentPage": 0,
                      "pageCount": 0,
                      "pageSize": 0,
                      "rowCount": 0,
                      "results": [
                        {
                          "subscriptionId": 10,
                          "subscriptionUniqueID": "GAFD660",
                          "customerId": 10,
                          "customerUniqueId": "VKQRJFLZNV",
                          "customerEmail": "maryf@mistimail.com",
                          "customerFullname": "Mary",
                          "planId": "82",
                          "planName": "Premium",
                          "productId": "44",
                          "productName": "Plus",
                          "createdOn": "2019-08-29T09:40:27.590Z",
                          "status": "Active",
                          "isInFreeTrial": false
                        }
                      ]
                    }
              schema:
                type: object
                properties:
                  currentPage:
                    type: integer
                    example: 0
                    default: 0
                  pageCount:
                    type: integer
                    example: 0
                    default: 0
                  pageSize:
                    type: integer
                    example: 0
                    default: 0
                  rowCount:
                    type: integer
                    example: 0
                    default: 0
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        subscriptionId:
                          type: integer
                          example: 10
                          default: 0
                        subscriptionUniqueID:
                          type: string
                          example: GAFD660
                        customerId:
                          type: integer
                          example: 10
                          default: 0
                        customerUniqueId:
                          type: string
                          example: VKQRJFLZNV
                        customerEmail:
                          type: string
                          example: maryf@mistimail.com
                        customerFullname:
                          type: string
                          example: Mary
                        planId:
                          type: string
                          example: '82'
                        planName:
                          type: string
                          example: Premium
                        productId:
                          type: string
                          example: '44'
                        productName:
                          type: string
                          example: Plus
                        createdOn:
                          type: string
                          example: '2019-08-29T09:40:27.590Z'
                        status:
                          type: string
                          example: Active
                        isInFreeTrial:
                          type: boolean
                          example: false
                          default: true
      deprecated: false
    post:
      summary: Create new customer and subscription
      description: ''
      operationId: create-a-subscription-for-a-new-customer
      parameters:
        - name: companyDomain
          in: path
          description: >-
            Your companies Billsby subdomain - for example, if you login at
            widgets.billsby.com, your companyDomain is widgets
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - firstName
                - lastName
                - email
                - cycleId
                - Units
                - address
                - cardDetails
              properties:
                firstName:
                  type: string
                  description: The customer's first name
                lastName:
                  type: string
                  description: The customer's last name
                email:
                  type: string
                  description: The customer's email address
                cycleId:
                  type: integer
                  description: The unique identifier of the cycle in Billsby
                  format: int32
                Units:
                  type: integer
                  description: The number of units included in the subscription (min. 1)
                  format: int32
                address:
                  type: object
                  description: The customer's address
                  properties:
                    addressLine1:
                      type: string
                    addressLine2:
                      type: string
                    state:
                      type: string
                      description: >-
                        For US addresses, this must be the ISO two letter state
                        code
                    city:
                      type: string
                    country:
                      type: string
                      description: The ISO three letter country code
                    postCode:
                      type: string
                shippingAddress:
                  type: object
                  description: >-
                    The customer's shipping address (if different to their
                    billing address)
                  properties:
                    addressLine1:
                      type: string
                    addressLine2:
                      type: string
                    state:
                      type: string
                      description: >-
                        For US addresses, this must be the ISO two letter state
                        code
                    city:
                      type: string
                    country:
                      type: string
                      description: The ISO three letter country code
                    postCode:
                      type: string
                additionalEmail:
                  type: string
                  description: Any additional email address provided by the customer
                phoneNumberDialCountry:
                  type: string
                  description: The country associated with their phone number
                phoneNumberDialCode:
                  type: integer
                  description: The country code associated with their phone number
                  format: int32
                phoneNumber:
                  type: integer
                  description: >-
                    The customer's phone number. If phoneNumber is provided,
                    then phoneNumberDialCountry and phoneNumberDialCode are
                    required.
                  format: int32
                marketingConsent:
                  type: boolean
                  description: Has the customer given marketing consent; true or false
                customFieldResponse:
                  type: array
                  description: >-
                    Response to any custom field questions you want to add to
                    the subscription
                  items:
                    properties:
                      customFieldId:
                        type: integer
                        description: >-
                          The unique ID associated with the customer field in
                          Billsby
                        format: int32
                      value:
                        type: string
                        description: The response to the custom field
                    type: object
                addOns:
                  type: array
                  description: The add-ons that you want to include in the subscription
                  items:
                    properties:
                      addOnId:
                        type: integer
                        description: >-
                          The unique identifier of the add-ons in the Billsby
                          platform
                        format: int32
                      quantity:
                        type: integer
                        description: The quantity of the add-on if unit based
                        format: int32
                    required:
                      - addOnId
                    type: object
                allowances:
                  type: array
                  description: >-
                    The IDs of any allowances you want to include in the
                    subscription. For multiple allowances you can add the IDs
                    separated by a comma
                  items:
                    type: integer
                    format: int32
                couponCodes:
                  type: array
                  description: >-
                    The codes of any coupons you want to apply to the
                    subscription
                  items:
                    properties:
                      planId:
                        type: integer
                        description: >-
                          The unique identifier of the plan in the Billsby
                          platform
                        format: int32
                      couponCode:
                        type: string
                        description: The coupon code to be used for the plan
                    required:
                      - planId
                    type: object
                cardDetails:
                  type: object
                  description: The payment card details of the customer
                  properties:
                    fullName:
                      type: string
                      description: The full name of the customer
                    paymentCardToken:
                      type: string
                      description: This can be found in the create token API response
                    expiryMonth:
                      type: integer
                      description: Customers two digit expiry month - i.e. "12"
                      format: int32
                    expiryYear:
                      type: integer
                      description: Customers card expiry year - i.e. "2020"
                      format: int32
                    cardType:
                      type: string
                      description: '"visa" "master" "american_express"'
                    last4Digits:
                      type: string
                      description: The last 4 digits of the customers card
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "customerUniqueId": "string",
                      "subscriptionUniqueId": "string"
                    }
              schema:
                type: object
                properties:
                  customerUniqueId:
                    type: string
                    example: string
                  subscriptionUniqueId:
                    type: string
                    example: string
      deprecated: false
  /{companyDomain}/subscriptions/{subscriptionUniqueId}:
    get:
      summary: Subscription details
      description: >-
        This query gets individual subscription details using the unique
        identifier provided in the Billsby platform
      operationId: get-subscription-details
      parameters:
        - name: companyDomain
          in: path
          description: >-
            Your companies Billsby subdomain - for example, if you login at
            widgets.billsby.com, your companyDomain is widgets
          schema:
            type: string
          required: true
        - name: subscriptionUniqueId
          in: path
          description: The unique identifier of the subscription in the Billsby platform
          schema:
            type: string
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  companyCurrency: \"USD\",\n  contractMinimumTermEnd: null,\n  createdOn: \"2020-12-21T15:59:19.095789\",\n  currency: \"USD\",\n  customerEmail: \"mary.smith@mistimail.com\",\n  customerFullname: \"Mary Smith\",\n  customerId: 243,\n  customerUniqueId: \"8WER0F4J1R\",\n  cycleId: 28,\n  cycleIdNext: null,\n  isBillingAddressValidationRequired: false,\n  isShippingAddressRequired: false,\n  isShippingAddressValidationRequired: false,\n  nextBillingAmount: 4000,\n  nextBillingAmountFormatted: \"$40\",\n  nextBillingDate: \"2021-01-01T15:59:19.095789\",\n  nextCycleRecurringBillingAmount: \"$40\",\n  nextPlanPricingModel: null,\n  planId: 26,\n  planIdNext: null,\n  planName: \"First Plan\",\n  planPricingModel: {\n  \tbillingDateType: \"FixedDayEachMonth\",\n    contractTerm: null,\n    contractTermFrequencyType: \"Unassigned\",\n    fixedBillingDateDay: 1,\n    fixedBillingDateMonth: null,\n    freeQuantity: 0,\n    freeTrial: null,\n    freeTrialFrequencyType: \"Unassigned\",\n    frequency: 1,\n    frequencyType: \"Monthly\",\n    pricingModelId: 129,\n    proRateOption: \"ProRateBasedOnDaysRemaining\",\n    setupFeePrice: null,\n    setupFeePriceFormatted: null,\n    tiers: []\n  },\n  productId: 5,\n  productName: \"First product\",\n  productVisibility: \"Public\",\n  status: \"Active\",\n  subscriptionId: 114,\n  subscriptionUniqueId: \"Y7MX4G314L\",\n  totalRevenue: 1446,\n  totalRevenueFormatted: \"$14.46\",\n  units: 1,\n  unitsNext: null,\n  visibility: \"Public\"\n}"
      deprecated: false
    delete:
      summary: Cancel a subscription
      description: >-
        Cancel an individual subscription using the unique identifier of the
        subscription in the Billsby platform
      operationId: cancel-a-subscription
      parameters:
        - name: companyDomain
          in: path
          description: >-
            Your companies Billsby subdomain - for example, if you login at
            widgets.billsby.com, your companyDomain is widgets
          schema:
            type: string
          required: true
        - name: subscriptionUniqueId
          in: path
          description: The unique identifier of the subscription in the Billsby platform
          schema:
            type: string
          required: true
        - name: customerUniqueId
          in: query
          description: The unique identifier of the customer in the Billsby platform
          required: true
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: success
      deprecated: false
  /{companyDomain}/subscriptions/{subscriptionUniqueId}/shippingAddress:
    get:
      summary: Shipping address
      description: >-
        This query gets individual subscription details using the unique
        identifier provided in the Billsby platform
      operationId: get-subscription-shipping-address
      parameters:
        - name: companyDomain
          in: path
          description: >-
            Your companies Billsby subdomain - for example, if you login at
            widgets.billsby.com, your companyDomain is widgets
          schema:
            type: string
          required: true
        - name: subscriptionUniqueId
          in: path
          description: The unique identifier of the subscription in the Billsby platform
          schema:
            type: string
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "addressLine1": "20 Woodfoord Road",
                      "addressLine2": "Saltdean",
                      "state": "Brighton",
                      "city": "Brighton",
                      "country": "England",
                      "postCode": "BN3 4GH"
                    }
              schema:
                type: object
                properties:
                  addressLine1:
                    type: string
                    example: 20 Woodfoord Road
                  addressLine2:
                    type: string
                    example: Saltdean
                  state:
                    type: string
                    example: Brighton
                  city:
                    type: string
                    example: Brighton
                  country:
                    type: string
                    example: England
                  postCode:
                    type: string
                    example: BN3 4GH
      deprecated: false
    put:
      summary: Update subscription shipping address
      description: Update the shipping address for a subscription
      operationId: update-subscription-shipping-address
      parameters:
        - name: companyDomain
          in: path
          description: >-
            Your companies Billsby subdomain - for example, if you login at
            widgets.billsby.com, your companyDomain is widgets
          schema:
            type: string
          required: true
        - name: subscriptionUniqueId
          in: path
          description: The unique identifier of the subscription in the Billsby platform
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                addressLine1:
                  type: string
                  description: The first line of the new address that you want to update to
                addressLine2:
                  type: string
                  description: >-
                    The second line of the new address that you want to update
                    to
                state:
                  type: string
                  description: The state of the new address that you want to update to
                city:
                  type: string
                  description: The city of the new address that you want to update to
                country:
                  type: string
                  description: The country of the new address that you wish to change to
                postCode:
                  type: string
                  description: The post code of the new address that you want to update to
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: success
      deprecated: false
      x-readme:
        code-samples:
          - language: text
            code: |-
              {
                "addressLine1": "string",
                "addressLine2": "string",
                "state": "string",
                "city": "string",
                "country": "string",
                "postCode": "string"
              }
        samples-languages:
          - text
  /{companyDomain}/subscriptions/{subscriptionUniqueId}/tags:
    get:
      summary: Feature tags by Subscription
      description: This query returns a list of feature tags in a subscription
      operationId: get-feature-tags
      parameters:
        - name: companyDomain
          in: path
          description: >-
            Your companies Billsby subdomain - for example, if you login at
            widgets.billsby.com, your companyDomain is widgets
          schema:
            type: string
          required: true
        - name: subscriptionUniqueId
          in: path
          description: The unique identifier of the subscription in the Billsby platform
          schema:
            type: string
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    [
                      "pro-plan"
                    ]
              schema:
                type: array
                items:
                  type: string
                  example: pro-plan
      deprecated: false
  /{companyDomain}/subscriptions/{subscriptionUniqueId}/tags/split:
    get:
      summary: Feature tags by plan and custom tags
      description: >-
        Returns a list of feature tags in a subscription split by plan tags and
        custom tags
      operationId: get-feature-tags-by-plan-and-custom
      parameters:
        - name: companyDomain
          in: path
          description: >-
            Your companies Billsby subdomain - for example, if you login at
            widgets.billsby.com, your companyDomain is widgets
          schema:
            type: string
          required: true
        - name: subscriptionUniqueId
          in: path
          description: The unique identifier of the subscription in the Billsby platform
          schema:
            type: string
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "planFeatureTags": [
                        "string"
                      ],
                      "subscriptionFeatureTags": [
                        "string"
                      ]
                    }
              schema:
                type: object
                properties:
                  planFeatureTags:
                    type: array
                    items:
                      type: string
                      example: string
                  subscriptionFeatureTags:
                    type: array
                    items:
                      type: string
                      example: string
      deprecated: false
  /{companyDomain}/subscriptions/{subscriptionUniqueId}/logs:
    get:
      summary: Event logs
      description: This query returns the event logs of a subscription
      operationId: get-event-logs
      parameters:
        - name: companyDomain
          in: path
          description: >-
            Your companies Billsby subdomain - for example, if you login at
            widgets.billsby.com, your companyDomain is widgets
          schema:
            type: string
          required: true
        - name: subscriptionUniqueId
          in: path
          description: The unique identifier of the subscription in the Billsby platform
          schema:
            type: string
          required: true
        - name: page
          in: query
          description: The page of customers you would like to view
          required: true
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: The number of records to return per page (max 100)
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "currentPage": 0,
                      "pageCount": 0,
                      "pageSize": 0,
                      "rowCount": 0,
                      "results": [
                        {
                          "subscriptionEventLogId": 0,
                          "type": "string",
                          "createdOn": "2019-09-10T10:37:24.680Z",
                          "eventData": {}
                        }
                      ]
                    }
              schema:
                type: object
                properties:
                  currentPage:
                    type: integer
                    example: 0
                    default: 0
                  pageCount:
                    type: integer
                    example: 0
                    default: 0
                  pageSize:
                    type: integer
                    example: 0
                    default: 0
                  rowCount:
                    type: integer
                    example: 0
                    default: 0
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        subscriptionEventLogId:
                          type: integer
                          example: 0
                          default: 0
                        type:
                          type: string
                          example: string
                        createdOn:
                          type: string
                          example: '2019-09-10T10:37:24.680Z'
                        eventData:
                          type: object
                          properties: {}
      deprecated: false
  /{companyDomain}/subscriptions/tags:
    post:
      summary: Add feature tags
      description: >-
        You can add feature tags to existing subscriptions using the unique
        subscription IDs
      operationId: post-subscription-tags
      parameters:
        - name: companyDomain
          in: path
          description: >-
            Your companies Billsby subdomain - for example, if you login at
            widgets.billsby.com, your companyDomain is widgets
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                subscriptionUniqueIds:
                  type: array
                  description: >-
                    Add subscription IDs of all the subscriptions you want to
                    add the feature tags to.
                  items:
                    type: string
                tagNames:
                  type: array
                  description: The name of the feature tags you want to add
                  items:
                    type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |
                    Success
      deprecated: false
      x-readme:
        code-samples:
          - language: text
            code: |-
              {
                "subscriptionUniqueIds": [
                  "string"
                ],
                "tagNames": [
                  "string"
                ]
              }
        samples-languages:
          - text
  /{companyDomain}/subscriptions/{subscriptionUniqueId}/plan:
    put:
      summary: Change plan
      description: Change the plan that a subscription sits on
      operationId: change-plan-subscription
      parameters:
        - name: companyDomain
          in: path
          description: >-
            Your companies Billsby subdomain - for example, if you login at
            widgets.billsby.com, your companyDomain is widgets
          schema:
            type: string
          required: true
        - name: subscriptionUniqueId
          in: path
          description: The unique identifier of the subscription in the Billsby platform
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - planId
                - cycleId
                - customerUniqueId
              properties:
                planId:
                  type: integer
                  description: >-
                    The unique identifier of the plan that you want to change
                    the subscription to in the Billsby platform
                  format: int32
                cycleId:
                  type: integer
                  description: >-
                    The unique identifier of the cycle that you want to change
                    the subscription to in the Billsby platform
                  format: int32
                customerUniqueId:
                  type: string
                  description: >-
                    The unique identifier of the subscription in the Billsby
                    platform
                planChangeType:
                  type: integer
                  description: Immediate = 1 OnRenewal = 2
                  default: 1
                  format: int32
                units:
                  type: integer
                  description: >-
                    The number of units required (for cycles with mulitple units
                    allowed)
                  format: int32
                addOns:
                  type: array
                  items:
                    properties:
                      addOnId:
                        type: integer
                        description: >-
                          The unique identifier of the add-ons in the Billsby
                          platform
                        format: int32
                      quantity:
                        type: integer
                        description: The quantity of the add-on if unit based
                        format: int32
                    required:
                      - addOnId
                    type: object
                allowances:
                  type: array
                  items:
                    type: integer
                    format: int32
                issueRefund:
                  type: boolean
                  description: >-
                    In case of immediate change, this will apply a refund into
                    the first invoice of the new plan based on the prorated
                    amount of the current plan
                  default: false
            examples:
              Request Example:
                value:
                  planId: 10
                  cycleId: 10
                  customerUniqueId: A1B2C3D4
                  planChangeType: 1
                  units: 0
                  addOns:
                    - addOnId: 1
                      quantity: 3
                    - addOnId: 2
                      quantity: 5
                  allowances:
                    - 1
                    - 22
                    - 402
                  issueRefund: false
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: success
      deprecated: false
  /{companyDomain}/subscriptions/tags/{tagname}:
    delete:
      summary: Delete feature tag
      description: Delete a custom feature tag from a list of subscriptions
      operationId: delete-feature-tag
      parameters:
        - name: companyDomain
          in: path
          description: >-
            Your companies Billsby subdomain - for example, if you login at
            widgets.billsby.com, your companyDomain is widgets
          schema:
            type: string
          required: true
        - name: tagname
          in: path
          description: The name of the custom feature tag you would like to delete
          schema:
            type: string
          required: true
        - name: subsId
          in: query
          description: The unique identifier of the subscription in the Billsby platform
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |
                    Success
      deprecated: false
  /{companyDomain}/subscriptions/{subscriptionUniqueId}/renewaldate:
    put:
      summary: Update next renewal date
      description: ''
      operationId: update-next-renewal-date
      parameters:
        - name: companyDomain
          in: path
          description: >-
            Your companies Billsby subdomain - for example, if you login at
            widgets.billsby.com, your companyDomain is widgets
          schema:
            type: string
          required: true
        - name: subscriptionUniqueId
          in: path
          description: The unique identifier of the subscription in the Billsby platform
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                pauseSubscription:
                  type: boolean
                  description: >-
                    Set the subscription status to paused until next renewal
                    date.
                newRenewalDate:
                  type: string
                  description: The new next renewal date
                  format: date
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-readme:
        code-samples:
          - language: text
            code: |-
              {
                "pauseSubscription": true,
                "newRenewalDate": "2019-09-10T10:37:24.680Z",
              }
        samples-languages:
          - text
  /invoices/{invoiceNumber}:
    get:
      summary: Individual invoices
      description: ''
      operationId: get-individual-invoice
      parameters:
        - name: invoiceNumber
          in: path
          description: The invoice number for the invoice you'd like to retrieve
          schema:
            type: string
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Success:
                  value: |-
                    {
                      "invoiceId":"0",
                      "customerEmail": "mary.rose@msn.com",
                      "customerFirstName": "Mary",
                      "customerLastName": "Rose",
                      "customerUniqueId": "8MJ7XU07D9",
                      "addressLine1": "31 Long Avenue",
                      "addressLine2": "Rickmansworth",
                      "addressPostCode": "HA94WD",
                      "addressCity": "Buckinghamshire",
                      "addressState": "Buckinghamshire",
                      "addressCountry": "United Kingdom",
                      "addressCountryCode": "GBR",
                      "invoiceNumber": "0WX1VTRPWY-1",
                      "createdOn": "2020-04-29T00:14:57.297Z",
                      "formattedAmount": "9",
                      "amount": "10",
                      "currency": "gbp",
                      "status": "active",
                      "subTotal": "400",
                      "taxTotal": "200",
                      "prorationAdjustment": "£0",
                      "prorationFactor": null,
                      "taxes": [],
                      "invoiceType": "renewal",
                      "subscriptions": [
                        {
                          "subscriptionUniqueId": "Y4EDK80W71",
                          "planName": "premium",
                          "billingPeriodStart": "2020-04-29T00:14:57.297Z",
                          "billingPeriodEnd": "2020-04-29T00:14:57.297Z",
                          "subscriptionItems": [
                            {
                              "description": "test",
                              "units": "3",
                              "unitPrice": "2",
                              "discounts": "1",
                              "amount": "7"
                            }
                          ]
                        }
                      ],
                      "companyName": "flowers",
                      "companyEmail": "flowers@flowers.com",
                      "companyTaxNumber": "12345678",
                      "companyDomain": "flowers",
                      "companyPhoneNumberDialCountry": "0044",
                      "companyPhoneNumberDialCode": "0044",
                      "companyPhoneNumber": "02088671028",
                      "companyAddressLine1": "wework, 1 fore street",
                      "companyAddressLine2": "moorgate",
                      "companyCity": "london",
                      "companyState": "london",
                      "companyPostCode": "ec2y9dt",
                      "companyCountry": "united kingdom",
                      "brandingLogo": "logo.jpg",
                      "brandingLogoBackgroundColor": "black",
                      "brandingHighlightColor": "pink",
                      "supportUrl": "support@flowers.co.uk",
                      "cardType": "mastercard",
                      "cardLast4Digits": "8972",
                      "cardExpiryMonth": "07",
                      "cardExpiryYear": "23",
                      "refundableAmount": "10",
                      "footerCompanyName": "flowers",
                      "footerAddressLine1": "wework, 1 fore street",
                      "footerAddressLine2": "moorgate",
                      "footerAddressState": "moorgate",
                      "footerAddressCity": "london",
                      "footerAddressPostCode": "ec2y9dt",
                      "footerAddressCountryISO3": "united kingdom",
                      "footerEmailAddress": "flowers@flowers.com",
                      "footerPhoneNumberDialCountry": "0044",
                      "footerPhoneNumberDialCode": "0044",
                      "footerPhoneNumber": "02088671028",
                      "supportContactHeading": "support",
                      "supportContactContent": "mary rose",
                      "supportContactSupportUrl": "support@flowers.com",
                      "supportContactSupportUrlButtonText": "support",
                      "isAdvertEnabled": "true",
                      "advertImageUrl": "advert.com",
                      "advertLinkToUrl": "advert.com"
                    }
              schema:
                type: object
                properties:
                  invoiceId:
                    type: string
                    example: '0'
                  customerEmail:
                    type: string
                    example: mary.rose@msn.com
                  customerFirstName:
                    type: string
                    example: Mary
                  customerLastName:
                    type: string
                    example: Rose
                  customerUniqueId:
                    type: string
                    example: 8MJ7XU07D9
                  addressLine1:
                    type: string
                    example: 31 Long Avenue
                  addressLine2:
                    type: string
                    example: Rickmansworth
                  addressPostCode:
                    type: string
                    example: HA94WD
                  addressCity:
                    type: string
                    example: Buckinghamshire
                  addressState:
                    type: string
                    example: Buckinghamshire
                  addressCountry:
                    type: string
                    example: United Kingdom
                  addressCountryCode:
                    type: string
                    example: GBR
                  invoiceNumber:
                    type: string
                    example: 0WX1VTRPWY-1
                  createdOn:
                    type: string
                    example: '2020-04-29T00:14:57.297Z'
                  formattedAmount:
                    type: string
                    example: '9'
                  amount:
                    type: string
                    example: '10'
                  currency:
                    type: string
                    example: gbp
                  status:
                    type: string
                    example: active
                  subTotal:
                    type: string
                    example: '400'
                  taxTotal:
                    type: string
                    example: '200'
                  prorationAdjustment:
                    type: string
                    example: £0
                  prorationFactor: {}
                  taxes:
                    type: array
                  invoiceType:
                    type: string
                    example: renewal
                  subscriptions:
                    type: array
                    items:
                      type: object
                      properties:
                        subscriptionUniqueId:
                          type: string
                          example: Y4EDK80W71
                        planName:
                          type: string
                          example: premium
                        billingPeriodStart:
                          type: string
                          example: '2020-04-29T00:14:57.297Z'
                        billingPeriodEnd:
                          type: string
                          example: '2020-04-29T00:14:57.297Z'
                        subscriptionItems:
                          type: array
                          items:
                            type: object
                            properties:
                              description:
                                type: string
                                example: test
                              units:
                                type: string
                                example: '3'
                              unitPrice:
                                type: string
                                example: '2'
                              discounts:
                                type: string
                                example: '1'
                              amount:
                                type: string
                                example: '7'
                  companyName:
                    type: string
                    example: flowers
                  companyEmail:
                    type: string
                    example: flowers@flowers.com
                  companyTaxNumber:
                    type: string
                    example: '12345678'
                  companyDomain:
                    type: string
                    example: flowers
                  companyPhoneNumberDialCountry:
                    type: string
                    example: '0044'
                  companyPhoneNumberDialCode:
                    type: string
                    example: '0044'
                  companyPhoneNumber:
                    type: string
                    example: '02088671028'
                  companyAddressLine1:
                    type: string
                    example: wework, 1 fore street
                  companyAddressLine2:
                    type: string
                    example: moorgate
                  companyCity:
                    type: string
                    example: london
                  companyState:
                    type: string
                    example: london
                  companyPostCode:
                    type: string
                    example: ec2y9dt
                  companyCountry:
                    type: string
                    example: united kingdom
                  brandingLogo:
                    type: string
                    example: logo.jpg
                  brandingLogoBackgroundColor:
                    type: string
                    example: black
                  brandingHighlightColor:
                    type: string
                    example: pink
                  supportUrl:
                    type: string
                    example: support@flowers.co.uk
                  cardType:
                    type: string
                    example: mastercard
                  cardLast4Digits:
                    type: string
                    example: '8972'
                  cardExpiryMonth:
                    type: string
                    example: '07'
                  cardExpiryYear:
                    type: string
                    example: '23'
                  refundableAmount:
                    type: string
                    example: '10'
                  footerCompanyName:
                    type: string
                    example: flowers
                  footerAddressLine1:
                    type: string
                    example: wework, 1 fore street
                  footerAddressLine2:
                    type: string
                    example: moorgate
                  footerAddressState:
                    type: string
                    example: moorgate
                  footerAddressCity:
                    type: string
                    example: london
                  footerAddressPostCode:
                    type: string
                    example: ec2y9dt
                  footerAddressCountryISO3:
                    type: string
                    example: united kingdom
                  footerEmailAddress:
                    type: string
                    example: flowers@flowers.com
                  footerPhoneNumberDialCountry:
                    type: string
                    example: '0044'
                  footerPhoneNumberDialCode:
                    type: string
                    example: '0044'
                  footerPhoneNumber:
                    type: string
                    example: '02088671028'
                  supportContactHeading:
                    type: string
                    example: support
                  supportContactContent:
                    type: string
                    example: mary rose
                  supportContactSupportUrl:
                    type: string
                    example: support@flowers.com
                  supportContactSupportUrlButtonText:
                    type: string
                    example: support
                  isAdvertEnabled:
                    type: string
                    example: 'true'
                  advertImageUrl:
                    type: string
                    example: advert.com
                  advertLinkToUrl:
                    type: string
                    example: advert.com
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
  /{companyDomain}/companies/invoices:
    get:
      summary: Company invoices
      description: Get a list of your company's invoices
      operationId: get-company-credit-notes
      parameters:
        - name: companyDomain
          in: path
          description: >-
            Your companies Billsby subdomain - for example, if you login at
            widgets.billsby.com, your companyDomain is widgets
          schema:
            type: string
          required: true
        - name: page
          in: query
          description: The page of invoices you would like to view
          required: true
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: The number of records to return per page (max 100)
          required: true
          schema:
            type: integer
            format: int32
        - name: query
          in: query
          description: Add search terms here to filter results
          schema:
            type: string
        - name: orderBy
          in: query
          description: Sort the results by particular properties
          schema:
            type: string
        - name: orderByDescending
          in: query
          description: Sort the results by particular properties in descending order
          schema:
            type: string
        - name: isPending
          in: query
          description: >-
            Do you want to show invoices with the status 'pending'; true or
            false
          schema:
            type: boolean
        - name: isPaid
          in: query
          description: Do you want to show invoices with the status 'paid'; true or false
          schema:
            type: boolean
        - name: isUnpaid
          in: query
          description: Do you want to show invoices with the status 'unpaid'; true or false
          schema:
            type: string
        - name: isPaidOffline
          in: query
          description: >-
            Do you want to show invoices with the status 'paid offline'; true or
            false
          schema:
            type: boolean
        - name: isWrittenOff
          in: query
          description: >-
            Do you want to show invoices with the status 'written off'; true or
            false
          schema:
            type: boolean
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "currentPage": 0,
                      "pageCount": 0,
                      "pageSize": 0,
                      "rowCount": 0,
                      "results": [
                        {
                          "invoiceId": 0,
                          "invoiceNumber": "string",
                          "customerId": 0,
                          "customerUniqueId": "string",
                          "customerFirstName": "string",
                          "customerLastName": "string",
                          "customerFullName": "string",
                          "createdOn": "2020-02-04T10:23:23.341Z",
                          "amount": 1000,
                          "formattedAmount": "$10"
                          "status": "string",
                          "currency": "string"
                        }
                      ]
                    }
      deprecated: false
  /{companyDomain}/customers/{customerUniqueId}/refunds:
    post:
      summary: Refund an invoice
      description: ''
      operationId: create-a-refund-for-an-invoice
      parameters:
        - name: companyDomain
          in: path
          description: >-
            Your companies Billsby subdomain - for example, if you login at
            widgets.billsby.com, your companyDomain is widgets
          schema:
            type: string
          required: true
        - name: customerUniqueId
          in: path
          description: The unique identifier of the customer in the Billsby platform
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - invoiceNumber
                - amount
              properties:
                invoiceNumber:
                  type: string
                  description: >-
                    The invoice number associated with the invoice you want to
                    refund
                amount:
                  type: integer
                  description: >-
                    The amount you would like to refund (can be partial).
                    Amounts are unformatted so if you're using a decimal
                    currency, you'll need to put 100 to refund $1, for example.
                  format: int32
      responses:
        '200':
          description: '200'
          content:
            text/plain:
              examples:
                Result:
                  value: |-
                    {
                      "invoiceNumber": "string",
                      "amount": 12
                    }
              schema:
                type: object
                properties:
                  invoiceNumber:
                    type: string
                    example: string
                  amount:
                    type: integer
                    example: 12
                    default: 0
      deprecated: false
  /{companyDomain}/invoices/{invoiceNumber}/Payment:
    put:
      summary: Reattempt invoice payment
      description: ''
      operationId: reattempt-invoice-payment
      parameters:
        - name: invoiceNumber
          in: path
          description: The unique identifier of the invoice in the Billsby platform
          schema:
            type: string
          required: true
        - name: companyDomain
          in: path
          description: >-
            Your companies Billsby subdomain - for example, if you login at
            widgets.billsby.com, your companyDomain is widgets
          schema:
            type: string
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: success
      deprecated: false
  /{companyDomain}/invoices/{invoiceNumber}/PaidOffline:
    put:
      summary: Invoice paid offline
      description: Mark an invoice as paid offline
      operationId: invoice-paid-offline
      parameters:
        - name: invoiceNumber
          in: path
          description: The unique identifier of the invoice in the Billsby platform
          schema:
            type: string
          required: true
        - name: companyDomain
          in: path
          description: >-
            Your companies Billsby subdomain - for example, if you login at
            widgets.billsby.com, your companyDomain is widgets
          schema:
            type: string
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: success
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
  /{companyDomain}/invoices/{invoiceNumber}/WrittenOff:
    put:
      summary: Invoice written off
      description: Mark an invoice as written off
      operationId: invoice-written-off
      parameters:
        - name: invoiceNumber
          in: path
          description: The unique identifier of the invoice in the Billsby platform
          schema:
            type: string
          required: true
        - name: companyDomain
          in: path
          description: >-
            Your companies Billsby subdomain - for example, if you login at
            widgets.billsby.com, your companyDomain is widgets
          schema:
[...]
