openapi: 3.0.0
tags:
  - name: Introspection
  - name: Companies
  - name: Flows
  - name: Locations
  - name: Bank Accounts
  - name: Payment Configs
  - name: Pay Schedules
  - name: Employees
  - name: Employee Tax Setup
  - name: Employee Payment Method
  - name: Employee Employments
  - name: Employee Addresses
  - name: Jobs and Compensations
  - name: Earning Types
  - name: Contractor Payment Method
  - name: Contractor Payments
  - name: Contractors
  - name: Payrolls
  - name: Company Forms
  - name: Employee Forms
  - name: Company Benefits
  - name: Employee Benefits
  - name: Garnishments
  - name: Federal Tax Details
  - name: Industry Selection
  - name: Signatories
  - name: External Payrolls
  - name: Tax Requirements
  - name: Contractor Forms
  - name: Time Off Policies
  - name: Holiday Pay Policies
  - name: Departments
  - name: Generated Documents
  - name: Notifications
  - name: Webhooks
  - name: Events
  - name: Invoices
  - name: Recovery Cases
  - name: ACH Transactions
info:
  title: Gusto API
  version: '2024-03-01'
  termsOfService: https://gusto.com/about/terms/developer-terms-of-service
  description: Welcome to Gusto's Embedded Payroll API documentation!
  contact:
    name: Developer Relations
    email: developer@gusto.com
servers:
  - url: https://api.gusto-demo.com
    description: Demo
  - description: Production
    url: https://api.gusto.com
paths:
  /v1/token_info:
    get:
      x-gusto-integration-type:
        - embedded
        - app-integrations
      summary: Get info about the current access token
      tags:
        - Introspection
      responses:
        '200':
          description: Example response
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  scope:
                    type: string
                    description: Space delimited string of accessible scopes.
                  resource:
                    type: object
                    description: Information about the token resource.
                    properties:
                      type:
                        type: string
                        description: Type of object
                      uuid:
                        type: string
                        description: UUID of object
              examples:
                Example:
                  value:
                    scope: companies:read companies:write employees:read
                    resource:
                      type: Company
                      uuid: 5eca5127-6048-43ad-91ee-b56a0c34bc85
      operationId: get-v1-token-info
      description: >-
        Returns scope and resource information associated with the current
        access token.
      parameters:
        - $ref: '#/components/parameters/VersionHeader'
  /oauth/token:
    post:
      x-gusto-integration-type:
        - embedded
        - app-integrations
      operationId: refresh-access-token
      summary: Refresh access token
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              required:
                - client_id
                - client_secret
                - grant_type
                - refresh_token
              properties:
                client_id:
                  type: string
                  description: Your client id
                client_secret:
                  type: string
                  description: Your client secret
                redirect_uri:
                  type: string
                  description: The redirect URI you set up via the Developer Portal
                refresh_token:
                  type: string
                  description: The `refresh_token` being exchanged for an access token code
                grant_type:
                  type: string
                  description: this should be the literal string 'refresh_token'
      tags:
        - Introspection
      responses:
        '200':
          $ref: '#/components/responses/Authentication-Object'
      description: >-
        Exchange a refresh token for a new access token.


        The previous `refresh_token` will be revoked on the first usage of the
        new `access_token`.


        The `expires_in` value is provided in seconds from when the
        `access_token` was generated.
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/VersionHeader'
  /v1/partner_managed_companies:
    post:
      x-gusto-integration-type:
        - embedded
      operationId: post-v1-partner-managed-companies
      summary: Create a partner managed company
      tags:
        - Companies
      description: >-
        Create a partner managed company. When you successfully call the API, it
        does the following:

        * Creates a new company in Gusto

        * Creates a new user using the provided email if the user does not
        already exist.

        * Makes the user the primary payroll administrator of the new company.


        In response, you will receive oauth access tokens for the created
        company.


        IMPORTANT: the returned access and refresh tokens are reserved for this
        company only. They cannot be used to access other companies AND
        previously granted tokens cannot be used to access this company.


        > 📘 Token Authentication

        >

        > this endpoint uses the [organization level api token and the Token
        scheme with HTTP Authorization
        header](https://docs.gusto.com/embedded-payroll/docs/authentication#retrieving-access-tokens)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                user:
                  type: object
                  description: >-
                    Information for the user who will be the primary payroll
                    administrator for the new company.
                  required:
                    - first_name
                    - last_name
                    - email
                  properties:
                    first_name:
                      type: string
                      description: >-
                        The first name of the user who will be the primary
                        payroll admin.
                    last_name:
                      type: string
                      description: >-
                        The last name of the user who will be the primary
                        payroll admin.
                    email:
                      type: string
                      description: >-
                        The email of the user who will be the primary payroll
                        admin.
                    phone:
                      type: string
                      description: >-
                        The phone number of the user who will be the primary
                        payroll admin.
                company:
                  type: object
                  required:
                    - name
                  properties:
                    name:
                      type: string
                      description: The legal name of the company.
                    trade_name:
                      type: string
                      description: The name of the company.
                    ein:
                      type: string
                      description: The employer identification number (EIN) of the company.
              required:
                - user
                - company
            examples:
              Example:
                value:
                  user:
                    first_name: Frank
                    last_name: Ocean
                    email: frank@example.com
                    phone: '2345558899'
                  company:
                    name: Frank's Ocean, LLC
                    trade_name: Frank’s Ocean
                    ein: '123456789'
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: Object returned when creating a partner managed company
                type: object
                properties:
                  access_token:
                    type: string
                    description: >-
                      Access token that can be used for OAuth access to the
                      account. Access tokens expire 2 hours after they are
                      issued.
                    readOnly: true
                  refresh_token:
                    type: string
                    description: >-
                      Refresh token that can be exchanged for a new access
                      token.
                    readOnly: true
                  company_uuid:
                    type: string
                    description: Gusto’s UUID for the company
                    readOnly: true
                  expires_in:
                    type: integer
                    description: Time of access_token expiration in seconds
                    readOnly: true
              examples:
                Example:
                  value:
                    access_token: >-
                      de6780bc506a0446309bd9362820ba8aed28aa506c71eedbe1c5c4f9dd350e54
                    refresh_token: >-
                      8257e65c97202ed1726cf9571600918f3bffb2544b26e00a61df9897668c33a1
                    company_uuid: d525dd21-ba6e-482c-be15-c2c7237f1364
                    expires_in: 7200
        '401':
          description: Authorization information is missing or invalid.
        '422':
          $ref: '#/components/responses/Unprocessable-Entity-Error-Object'
      parameters:
        - $ref: '#/components/parameters/VersionHeader'
  /v1/companies/{company_id}:
    get:
      x-gusto-integration-type:
        - embedded
        - app-integrations
      summary: Get a company
      operationId: get-v1-companies
      description: >-
        Get a company.         

        The employees:read scope is required to return home_address and non-work
        locations.         

        The company_admin:read scope is required to return
        primary_payroll_admin.         

        The signatories:read scope is required to return
        primary_signatory.         


        scope: `companies:read`
      parameters:
        - $ref: '#/components/parameters/company_id'
        - $ref: '#/components/parameters/VersionHeader'
      responses:
        '200':
          $ref: '#/components/responses/Company-Object'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
      tags:
        - Companies
  /v1/partner_managed_companies/{company_uuid}/migrate:
    put:
      x-gusto-integration-type:
        - embedded
      summary: Migrate company to embedded payroll
      operationId: put-v1-partner-managed-companies-company-uuid-migrate
      tags:
        - Companies
      description: >-
        Migrate an existing Gusto customer to your embedded payroll product.


        To use this endpoint, the customer will need to connect their Gusto
        account to your application using
        [OAuth2](https://docs.gusto.com/embedded-payroll/docs/oauth2) then view
        and [accept the Embedded Payroll Terms of
        Service](https://docs.gusto.com/embedded-payroll/reference/post-partner-managed-companies-company_uuid-accept_terms_of_service).


        scope: `partner_managed_companies:write`
      parameters:
        - $ref: '#/components/parameters/company_uuid'
        - $ref: '#/components/parameters/VersionHeader'
      responses:
        '200':
          description: Example response
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  company_uuid:
                    type: string
                    description: The company UUID
                  migration_status:
                    type: string
                    description: The migration status
              examples:
                Example:
                  value:
                    company_uuid: 39abf9b9-650b-4e67-89a0-389dc6ee8a71
                    migration_status: true
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
        '422':
          $ref: '#/components/responses/Unprocessable-Entity-Error-Object'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: >-
                    Email of the company signatory who is authorized to accept
                    our [Terms of Service](https://flows.gusto.com/terms) and
                    migration decision. You can retrieve the signatory email
                    from the `GET /v/1/companies/{company_id}/signatories`
                    endpoint.
                ip_address:
                  type: string
                  description: >-
                    The IP address of the signatory who viewed and accepted the
                    Terms of Service.
                external_user_id:
                  type: string
                  description: The signatory's user ID on your platform.
              required:
                - email
                - ip_address
                - external_user_id
  /v1/partner_managed_companies/{company_uuid}/accept_terms_of_service:
    post:
      x-gusto-integration-type:
        - embedded
      summary: Accept terms of service for a company user
      operationId: post-partner-managed-companies-company_uuid-accept_terms_of_service
      tags:
        - Companies
      description: >-
        Accept the Gusto Embedded Payroll's [Terms of
        Service](https://flows.gusto.com/terms).

        The user must have a role in the company in order to accept the Terms of
        Service.


        scope: `terms_of_services:write`
      parameters:
        - $ref: '#/components/parameters/company_uuid'
        - $ref: '#/components/parameters/VersionHeader'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: >-
                    The user's email address on Gusto. You can retrieve the
                    user's email via company's `/admins`, `/employees`,
                    `/signatories`, and `/contractors` endpoints.
                ip_address:
                  type: string
                  description: >-
                    The IP address of the user who viewed and accepted the Terms
                    of Service.
                external_user_id:
                  type: string
                  description: The user ID on your platform.
              required:
                - email
                - ip_address
                - external_user_id
      responses:
        '200':
          description: Example response
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  latest_terms_accepted:
                    type: boolean
                    description: Whether the latest terms have been accepted by the user.
              examples:
                Example:
                  value:
                    latest_terms_accepted: true
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
        '422':
          $ref: '#/components/responses/Unprocessable-Entity-Error-Object'
  /v1/partner_managed_companies/{company_uuid}/retrieve_terms_of_service:
    post:
      x-gusto-integration-type:
        - embedded
      summary: Retrieve terms of service status for a company user
      operationId: post-partner-managed-companies-company_uuid-retrieve_terms_of_service
      tags:
        - Companies
      description: >-
        Retrieve the user acceptance status of the Gusto Embedded Payroll's
        [Terms of Service](https://flows.gusto.com/terms).


        scope: `terms_of_services:read`
      parameters:
        - $ref: '#/components/parameters/company_uuid'
        - $ref: '#/components/parameters/VersionHeader'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: >-
                    The user's email address on Gusto. You can retrieve the
                    user's email via company's `/admins`, `/employees`,
                    `/signatories`, and `/contractors` endpoints.
              required:
                - email
      responses:
        '200':
          description: Example response
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  latest_terms_accepted:
                    type: boolean
                    description: Whether the latest terms have been accepted by the user.
                required:
                  - email
                  - ip_address
                  - external_user_id
              examples:
                Example:
                  value:
                    latest_terms_accepted: true
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
        '422':
          $ref: '#/components/responses/Unprocessable-Entity-Error-Object'
  /v1/invoices/{invoice_period}:
    get:
      x-gusto-integration-type:
        - embedded
      summary: Retrieve invoicing data for companies
      operationId: get-invoices-invoice-period
      tags:
        - Invoices
      description: >-
        Retrieve data for active companies used to calculate invoices for Gusto
        Embedded Payroll. A company is considered active for an invoice period
        if they are an active partner managed company, have run payroll or
        created contractor payments since becoming a partner managed company,
        and are not suspended at any point during the invoice period.  This
        endpoint forces pagination, with 100 results returned at a time. You can
        learn more about our pagination here: [pagination
        guide](https://docs.gusto.com/embedded-payroll/docs/pagination) 


        > 📘 Token Authentication

        >

        > This endpoint uses the [organization level api token and the Token
        scheme with HTTP Authorization
        header](https://docs.gusto.com/embedded-payroll/docs/authentication#retrieving-access-tokens)


        scope: `invoices:read`
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/invoice_period'
        - $ref: '#/components/parameters/pageParam'
        - $ref: '#/components/parameters/perParam'
        - schema:
            type: string
          in: query
          name: company_uuids
          description: >-
            Filter companies returned in the active_companies response, will
            return an error if company not active during provided invoice
            period. i.e.
            `?company_uuids=781922d8-e780-4b6b-bf74-ee303166d022,bbbca930-7322-491c-ba7f-98707a52a9c5`
        - $ref: '#/components/parameters/VersionHeader'
      responses:
        '200':
          $ref: '#/components/responses/Invoice-Data-Object'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
        '422':
          $ref: '#/components/responses/Unprocessable-Entity-Error-Object'
  /v1/companies/{company_id}/federal_tax_details:
    get:
      x-gusto-integration-type:
        - embedded
      summary: Get Federal Tax Details
      responses:
        '200':
          $ref: '#/components/responses/Federal-Tax-Details-Object'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
      operationId: get-v1-companies-company_id-federal_tax_details
      description: |-
        Fetches attributes relevant for a company's federal taxes.

        scope: `company_federal_taxes:read`
      parameters:
        - $ref: '#/components/parameters/company_id'
        - $ref: '#/components/parameters/VersionHeader'
      security:
        - Authorization: []
      tags:
        - Federal Tax Details
    put:
      x-gusto-integration-type:
        - embedded
      summary: Update Federal Tax Details
      responses:
        '200':
          $ref: '#/components/responses/Federal-Tax-Details-Object'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
        '422':
          $ref: '#/components/responses/Unprocessable-Entity-Error-Object'
      operationId: put-v1-companies-company_id-federal_tax_details
      parameters:
        - $ref: '#/components/parameters/company_id'
        - $ref: '#/components/parameters/VersionHeader'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                legal_name:
                  type: string
                  description: The legal name of the company
                ein:
                  type: string
                  description: The EIN of of the company
                tax_payer_type:
                  type: string
                  description: What type of tax entity the company is
                  enum:
                    - C-Corporation
                    - S-Corporation
                    - Sole proprietor
                    - LLC
                    - LLP
                    - Limited partnership
                    - Co-ownership
                    - Association
                    - Trusteeship
                    - General partnership
                    - Joint venture
                    - Non-Profit
                filing_form:
                  type: string
                  description: |-
                    The form used by the company for federal tax filing. One of:
                    - 941 (Quarterly federal tax return)
                    - 944 (Annual federal tax return)
                taxable_as_scorp:
                  type: boolean
                  description: Whether this company should be taxed as an S-Corporation
                version:
                  type: string
                  description: >-
                    The current version of the object. See the [versioning
                    guide](https://docs.gusto.com/embedded-payroll/docs/versioning#object-layer)
                    for information on how to use this field.
              required:
                - version
            examples:
              Example:
                value:
                  version: 6cb95e00540706ca48d4577b3c839fbe
                  tax_payer_type: LLP
                  taxable_as_scorp: false
                  filing_form: '944'
                  has_ein: true
                  ein_verified: false
                  legal_name: Acme Corp.
        description: >-
          Attributes related to federal tax details that can be updated via this
          endpoint include:
      description: >-
        Updates attributes relevant for a company's federal taxes.

        This information is required is to onboard a company for use with Gusto
        Embedded Payroll.


        scope: `company_federal_taxes:write`
      tags:
        - Federal Tax Details
  /v1/companies/{company_id}/industry_selection:
    get:
      x-gusto-integration-type:
        - embedded
      summary: Get a company industry selection
      tags:
        - Industry Selection
      operationId: get-v1-company-industry
      parameters:
        - $ref: '#/components/parameters/company_id'
        - $ref: '#/components/parameters/VersionHeader'
      description: |-
        Get industry selection for the company.

        scope: `companies:read`
      responses:
        '200':
          $ref: '#/components/responses/Industry-Object'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
    put:
      x-gusto-integration-type:
        - embedded
      summary: Update a company industry selection
      tags:
        - Industry Selection
      operationId: put-v1-company-industry
      parameters:
        - $ref: '#/components/parameters/company_id'
        - $ref: '#/components/parameters/VersionHeader'
      description: >-
        Update the company industry selection by passing in industry
        classification codes: [NAICS code](https://www.naics.com), [SICS
        code](https://siccode.com/) and industry title. Our UI is leveraging
        [Middesk API](https://docs.middesk.com/reference/introduction) to
        determine industry classification codes.


        scope: `companies:write`
      responses:
        '200':
          $ref: '#/components/responses/Industry-Object'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
        '422':
          $ref: '#/components/responses/Unprocessable-Entity-Error-Object'
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                title:
                  type: string
                  description: Industry title
                naics_code:
                  type: string
                  description: >-
                    North American Industry Classification System (NAICS) is
                    used to classify businesses with a six digit number based on
                    the primary type of work the business performs
                sic_codes:
                  type: array
                  items:
                    type: string
                  description: >-
                    A list of Standard Industrial Classification (SIC) codes,
                    which are four digit number that categorize the industries
                    that companies belong to based on their business activities.
                    If sic_codes is not passed in, we will perform an internal
                    lookup with naics_code.
              required:
                - title
                - naics_code
            examples:
              Example:
                value:
                  title: Computer Training
                  naics_code: '611420'
                  sic_codes:
                    - '8243'
  /v1/companies/{company_id}/admins:
    post:
      x-gusto-integration-type:
        - embedded
      summary: Create an admin for the company
      tags:
        - Companies
      operationId: post-v1-companies-company_id-admins
      responses:
        '200':
          $ref: '#/components/responses/Admin-Object'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
        '422':
          $ref: '#/components/responses/Unprocessable-Entity-Error-Object'
      description: >-
        Creates a new admin for a company.

        If the email matches an existing user, this will create an admin account
        for the current user. Otherwise, this will create a new user.


        scope: `company_admin:write`
      parameters:
        - $ref: '#/components/parameters/company_id'
        - $ref: '#/components/parameters/VersionHeader'
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                first_name:
                  type: string
                  description: The first name of the admin.
                last_name:
                  type: string
                  description: The last name of the admin.
                email:
                  type: string
                  description: >-
                    The email of the admin for Gusto's system. If the email
                    matches an existing user, this will create an admin account
                    for them.
              required:
                - first_name
                - last_name
                - email
            examples:
              Example:
                value:
                  first_name: John
                  last_name: Smith
                  email: jsmith99@gmail.com
    get:
      x-gusto-integration-type:
        - embedded
      summary: Get all the admins at a company
      tags:
        - Companies
      parameters:
        - $ref: '#/components/parameters/company_id'
        - $ref: '#/components/parameters/pageParam'
        - $ref: '#/components/parameters/perParam'
        - $ref: '#/components/parameters/VersionHeader'
      operationId: get-v1-companies-company_id-admins
      responses:
        '200':
          $ref: '#/components/responses/Admin-List'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
      description: |-
        Returns a list of all the admins at a company

        scope: `company_admin:read`
  /v1/companies/{company_uuid}/signatories:
    post:
      x-gusto-integration-type:
        - embedded
      summary: Create a signatory
      tags:
        - Signatories
      operationId: post-v1-company-signatories
      parameters:
        - $ref: '#/components/parameters/company_uuid'
        - $ref: '#/components/parameters/VersionHeader'
      description: >-
        Create a company signatory with complete information.

        A signatory can legally sign forms once the identity verification
        process is successful.


        scope: `signatories:manage`
      responses:
        '201':
          $ref: '#/components/responses/Signatory-Object'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
        '422':
          $ref: '#/components/responses/Unprocessable-Entity-Error-Object'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: ''
              properties:
                ssn:
                  type: string
                first_name:
                  type: string
                middle_initial:
                  type: string
                last_name:
                  type: string
                email:
                  type: string
                title:
                  type: string
                phone:
                  type: string
                birthday:
                  type: string
                home_address:
                  type: object
                  description: The signatory's home address
                  properties:
                    street_1:
                      type: string
                    street_2:
                      type: string
                    city:
                      type: string
                    state:
                      type: string
                    zip:
                      type: string
                  required:
                    - street_1
                    - city
                    - state
                    - zip
              required:
                - ssn
                - first_name
                - last_name
                - email
                - title
                - birthday
                - home_address
                - phone
    get:
      x-gusto-integration-type:
        - embedded
      summary: Get all company signatories
      responses:
        '200':
          $ref: '#/components/responses/Signatory-List'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
      operationId: get-v1-companies-company_uuid-signatories
      description: >-
        Returns company signatories. Currently we only support a single
        signatory per company.


        scope: `signatories:read`
      parameters:
        - $ref: '#/components/parameters/company_uuid'
        - $ref: '#/components/parameters/VersionHeader'
      tags:
        - Signatories
  /v1/companies/{company_uuid}/signatories/invite:
    post:
      x-gusto-integration-type:
        - embedded
      summary: Invite a signatory
      responses:
        '201':
          $ref: '#/components/responses/Signatory-Object'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
        '422':
          $ref: '#/components/responses/Unprocessable-Entity-Error-Object'
      operationId: post-v1-companies-company_uuid-signatories-invite
      description: >-
        Create a signatory with minimal information. This signatory can be
        invited to provide more information through the `PUT
        /v1/companies/{company_uuid}/signatories/{signatory_uuid}` endpoint.
        This will start the identity verification process and allow the
        signatory to be verified to sign documents.
      parameters:
        - $ref: '#/components/parameters/company_uuid'
        - $ref: '#/components/parameters/VersionHeader'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                first_name:
                  type: string
                last_name:
                  type: string
                title:
                  type: string
                email:
                  type: string
              required:
                - email
      tags:
        - Signatories
  /v1/companies/{company_uuid}/signatories/{signatory_uuid}:
    put:
      x-gusto-integration-type:
        - embedded
      summary: Update a signatory
      responses:
        '200':
          $ref: '#/components/responses/Signatory-Object'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
        '422':
          $ref: '#/components/responses/Unprocessable-Entity-Error-Object'
      operationId: put-v1-companies-company_uuid-signatories-signatory_uuid
      description: >-
        Update a signatory that has been either invited or created. If the
        signatory has been created with minimal information through the `POST
        /v1/companies/{company_uuid}/signatories/invite` endpoint, then the
        first update must contain all attributes specified in the request body
        in order to start the identity verification process.


        scope: `signatories:write`
      parameters:
        - $ref: '#/components/parameters/company_uuid'
        - $ref: '#/components/parameters/signatory_uuid'
        - $ref: '#/components/parameters/VersionHeader'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                version:
                  type: string
                  description: >-
                    The current version of the object. See the versioning guide
                    for information on how to use this field.
                first_name:
                  type: string
                middle_initial:
                  type: string
                last_name:
                  type: string
                title:
                  type: string
                phone:
                  type: string
                birthday:
                  type: string
                ssn:
                  type: string
                home_address:
                  type: object
                  properties:
                    street_1:
                      type: string
                    street_2:
                      type: string
                    city:
                      type: string
                    state:
                      type: string
                    zip:
                      type: string
      tags:
        - Signatories
    delete:
      x-gusto-integration-type:
        - embedded
      summary: Delete a signatory
      operationId: delete-v1-companies-company_uuid-signatories-signatory_uuid
      responses:
        '204':
          description: No Content
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
      description: |-
        Delete a company signatory.

        scope: `signatories:manage`
      parameters:
        - $ref: '#/components/parameters/company_uuid'
        - $ref: '#/components/parameters/signatory_uuid'
        - $ref: '#/components/parameters/VersionHeader'
      tags:
        - Signatories
  /v1/companies/{company_uuid}/onboarding_status:
    get:
      x-gusto-integration-type:
        - embedded
      summary: Get the company's onboarding status
      operationId: get-v1-company-onboarding-status
      parameters:
        - $ref: '#/components/parameters/company_uuid'
        - $ref: '#/components/parameters/VersionHeader'
      description: >-
        Get company's onboarding status.

        The data returned helps inform the required onboarding steps and
        respective completion status.


        scope: `company_onboarding_status:read`
      responses:
        '200':
          $ref: '#/components/responses/Company-Onboarding-Status-Object'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
      tags:
        - Companies
  /v1/companies/{company_uuid}/finish_onboarding:
    put:
      x-gusto-integration-type:
        - embedded
      summary: Finish company onboarding
      operationId: get-v1-company-finish-onboarding
      parameters:
        - $ref: '#/components/parameters/company_uuid'
        - $ref: '#/components/parameters/VersionHeader'
      description: >-
        Finalize a given company's onboarding process.


        ### Approve a company in demo

        After a company is finished onboarding, Gusto requires an additional
        step to review and approve that company.

        In production environments, this step is required for risk-analysis
        purposes.


        We provide the endpoint `PUT '/v1/companies/{company_uuid}/approve'` to
        facilitate company approvals in the demo environment.


        ```shell

        PUT '/v1/companies/89771af8-b964-472e-8064-554dfbcb56d9/approve'


        # Response: Company object, with company_status: 'Approved'

        ```


        scope: `companies:write`
      responses:
        '200':
          $ref: '#/components/responses/Company-Onboarding-Status-Object'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
        '422':
          $ref: '#/components/responses/Unprocessable-Entity-Error-Object'
      tags:
        - Companies
  /v1/companies/{company_id}/custom_fields:
    get:
      x-gusto-integration-type:
        - embedded
        - app-integrations
      summary: Get the custom fields of a company
      description: >-
        Returns a list of the custom fields of the company. Useful when you need
        to know the schema of custom fields for an entire company


        scope: `companies:read`
      operationId: get-v1-companies-company_id-custom_fields
      tags:
        - Companies
      parameters:
        - $ref: '#/components/parameters/company_id'
        - $ref: '#/components/parameters/pageParam'
        - $ref: '#/components/parameters/perParam'
        - $ref: '#/components/parameters/VersionHeader'
      responses:
        '200':
          $ref: '#/components/responses/Company-Custom-Field-List'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
  /v1/companies/{company_uuid}/flows:
    post:
      x-gusto-integration-type:
        - embedded
      summary: Create a flow
      tags:
        - Flows
      operationId: post-v1-company-flows
      parameters:
        - $ref: '#/components/parameters/company_uuid'
        - $ref: '#/components/parameters/VersionHeader'
      description: >-
        Generate a link to access a pre-built workflow in Gusto white-label UI.
        For security, all generated flows will expire within 1 hour of
        inactivity or 24 hours from creation time, whichever comes first.


        scope: `flows:write`
      responses:
        '201':
          $ref: '#/components/responses/Flow-Object'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
        '422':
          $ref: '#/components/responses/Unprocessable-Entity-Error-Object'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                flow_type:
                  type: string
                  description: flow type
                entity_uuid:
                  type: string
                  description: >-
                    UUID of the target entity applicable to the flow. This field
                    is optional for company flows, please refer to the
                    flow_types table above for more details.
                entity_type:
                  type: string
                  description: >-
                    the type of target entity applicable to the flow. This field
                    is optional for company flows, please refer to the
                    flow_types table above for more details.
                  enum:
                    - Company
                    - Employee
              required:
                - flow_type
            examples:
              Example:
                value:
                  flow_type: company_onboarding
  /v1/companies/{company_id}/locations:
    post:
      x-gusto-integration-type:
        - embedded
        - app-integrations
      summary: Create a company location
      responses:
        '201':
          $ref: '#/components/responses/Location-Object'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
        '422':
          $ref: '#/components/responses/Unprocessable-Entity-Error-Object'
      operationId: post-v1-companies-company_id-locations
      description: >-
        Company locations represent all addresses associated with a company.
        These can be filing addresses, mailing addresses, and/or work locations;
        one address may serve multiple, or all, purposes.


        Since all company locations are subsets of locations, retrieving or
        updating an individual record should be done via the locations
        endpoints.


        scope: `companies.write`
      parameters:
        - $ref: '#/components/parameters/company_id'
        - $ref: '#/components/parameters/VersionHeader'
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                phone_number:
                  type: string
                  pattern: '[0-9]{10}'
                street_1:
                  type: string
                street_2:
                  type: string
                  nullable: true
                city:
                  type: string
                state:
                  type: string
                zip:
                  type: string
                country:
                  type: string
                  default: USA
                mailing_address:
                  type: boolean
                  description: Specify if this location is the company's mailing address.
                filing_address:
                  type: boolean
                  description: Specify if this location is the company's filing address.
              required:
                - phone_number
                - street_1
                - city
                - state
                - zip
            examples:
              Example:
                value:
                  phone_number: '8009360383'
                  street_1: 425 2nd Street
                  street_2: Suite 602
                  city: San Francisco
                  state: CA
                  zip: '94107'
                  country: USA
          application/xml:
            schema:
              description: ''
              type: object
              properties:
                phone_number:
                  type: string
                  minLength: 1
                street_1:
                  type: string
                  minLength: 1
                street_2:
                  type: string
                  nullable: true
                  minLength: 1
                city:
                  type: string
                  minLength: 1
                state:
                  type: string
                  minLength: 1
                zip:
                  type: string
                  minLength: 1
                country:
                  type: string
                  minLength: 1
              required:
                - phone_number
                - street_1
                - street_2
                - city
                - state
                - zip
                - country
            examples:
              Example:
                value:
                  phone_number: '8009360383'
                  street_1: 425 2nd Street
                  street_2: Suite 602
                  city: San Francisco
                  state: CA
                  zip: '94107'
                  country: USA
        description: Create a company location.
      tags:
        - Locations
    get:
      x-gusto-integration-type:
        - embedded
        - app-integrations
      summary: Get company locations
      parameters:
        - $ref: '#/components/parameters/company_id'
        - $ref: '#/components/parameters/pageParam'
        - $ref: '#/components/parameters/perParam'
        - $ref: '#/components/parameters/VersionHeader'
      responses:
        '200':
          $ref: '#/components/responses/Location-List'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
      operationId: get-v1-companies-company_id-locations
      description: >-
        Company locations represent all addresses associated with a company.
        These can be filing addresses, mailing addresses, and/or work locations;
        one address may serve multiple, or all, purposes.


        Since all company locations are subsets of locations, retrieving or
        updating an individual record should be done via the locations
        endpoints.


        scope: `companies:read`
      tags:
        - Locations
  /v1/locations/{location_id}:
    get:
      x-gusto-integration-type:
        - embedded
        - app-integrations
      summary: Get a location
      responses:
        '200':
          $ref: '#/components/responses/Location-Object'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
      operationId: get-v1-locations-location_id
      description: |-
        Get a location.

        scope: `companies:read`
      parameters:
        - $ref: '#/components/parameters/location_id'
        - $ref: '#/components/parameters/VersionHeader'
      tags:
        - Locations
    put:
      x-gusto-integration-type:
        - embedded
        - app-integrations
      summary: Update a location
      responses:
        '200':
          $ref: '#/components/responses/Location-Object'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
        '422':
          $ref: '#/components/responses/Unprocessable-Entity-Error-Object'
      operationId: put-v1-locations-location_id
      description: |-
        Update a location.

        scope: `companies.write`
      parameters:
        - $ref: '#/components/parameters/location_id'
        - $ref: '#/components/parameters/VersionHeader'
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/Versionable-Required'
                - type: object
                  description: ''
                  properties:
                    phone_number:
                      type: string
                      pattern: '[0-9]{10}'
                    street_1:
                      type: string
                    street_2:
                      type: string
                      nullable: true
                    city:
                      type: string
                    state:
                      type: string
                    zip:
                      type: string
                    country:
                      type: string
                    mailing_address:
                      type: boolean
                      description: >-
                        For a company location, specify if this location is the
                        company's mailing address. A company has a single
                        mailing address, so this designation will override any
                        previous selection.
                    filing_address:
                      type: boolean
                      description: >-
                        For a company location, specify if this location is the
                        company's filing address. A company has a single filing
                        address, so this designation will override any previous
                        selection.
            examples:
              Example:
                value:
                  version: 1928d0c378e519e9c03fb959bc959a6b
                  phone_number: '8009360383'
                  street_1: 425 2nd Street
                  street_2: Suite 602
                  city: San Francisco
                  state: CA
                  zip: '94107'
                  country: USA
        description: Update a location
      tags:
        - Locations
  /v1/locations/{location_uuid}/minimum_wages:
    get:
      x-gusto-integration-type:
        - embedded
        - app-integrations
      summary: Get minimum wages for a location
      responses:
        '200':
          $ref: '#/components/responses/Minimum-Wage-List'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
      operationId: get-v1-locations-location_uuid-minimum_wages
      description: |-
        Get minimum wages for a location

        scope: `companies:read`
      parameters:
        - $ref: '#/components/parameters/location_uuid'
        - $ref: '#/components/parameters/effective_date'
        - $ref: '#/components/parameters/VersionHeader'
      tags:
        - Locations
  /v1/companies/{company_id}/bank_accounts:
    post:
      x-gusto-integration-type:
        - embedded
      summary: Create a company bank account
      operationId: post-v1-companies-company_id-bank-accounts
      tags:
        - Bank Accounts
      responses:
        '201':
          $ref: '#/components/responses/Company-Bank-Account-Object'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
        '422':
          $ref: '#/components/responses/Unprocessable-Entity-Error-Object'
      description: >-
        This endpoint creates a new company bank account.


        Upon being created, two verification deposits are automatically sent to
        the bank account, and the bank account's verification_status is
        'awaiting_deposits'. 


        When the deposits are successfully transferred, the verification_status
        changes to 'ready_for_verification', at which point the verify endpoint
        can be used to verify the bank account.

        After successful verification, the bank account's verification_status is
        'verified'.


        scope: `company_bank_accounts:write`


        > 🚧 Warning

        >

        > If a default bank account exists, it will be disabled and the new bank
        account will replace it as the company's default funding method.
      parameters:
        - $ref: '#/components/parameters/company_id'
        - $ref: '#/components/parameters/VersionHeader'
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                routing_number:
                  type: string
                  nullable: false
                  description: The bank routing number
                account_number:
                  type: string
                  nullable: false
                  description: The bank account number
                account_type:
                  type: string
                  nullable: false
                  description: The bank account type
                  enum:
                    - Checking
                    - Savings
            examples:
              Example:
                value:
                  routing_number: '115092013'
                  account_type: Checking
                  account_number: '9775014007'
    get:
      x-gusto-integration-type:
        - embedded
      summary: Get all company bank accounts
      parameters:
        - $ref: '#/components/parameters/company_id'
        - $ref: '#/components/parameters/VersionHeader'
      responses:
        '200':
          $ref: '#/components/responses/Company-Bank-Account-List'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
      operationId: get-v1-companies-company_id-bank-accounts
      description: >-
        Returns company bank accounts. Currently, we only support a single
        default bank account per company.


        scope: `company_bank_accounts:read`
      tags:
        - Bank Accounts
  /v1/companies/{company_id}/bank_accounts/{bank_account_uuid}/verify:
    put:
      x-gusto-integration-type:
        - embedded
      summary: Verify a company bank account
      operationId: put-v1-companies-company_id-bank-accounts-verify
      tags:
        - Bank Accounts
      responses:
        '200':
          $ref: '#/components/responses/Company-Bank-Account-Object'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
        '422':
          $ref: '#/components/responses/Unprocessable-Entity-Error-Object'
      description: >-
        Verify a company bank account by confirming the two micro-deposits sent
        to the bank account. Note that the order of the two deposits specified
        in request parameters does not matter. There's a maximum of 5
        verification attempts, after which we will automatically initiate a new
        set of micro-deposits and require the bank account to be verified with
        the new micro-deposits.


        ### Bank account verification in demo


        We provide the endpoint `POST
        '/v1/companies/{company_id}/bank_accounts/{bank_account_uuid}/send_test_deposits'`
        to facilitate bank account verification in the demo environment. This
        endpoint simulates the micro-deposits transfer and returns them in the
        response. You can call this endpoint as many times as you wish to
        retrieve the values of the two micro deposits.


        ```
          POST '/v1/companies/89771af8-b964-472e-8064-554dfbcb56d9/bank_accounts/ade55e57-4800-4059-9ecd-fa29cfeb6dd2/send_test_deposits'

          {
            "deposit_1": 0.02,
            "deposit_2": 0.42
          }
        ```


        scope: `company_bank_accounts:write`
      parameters:
        - $ref: '#/components/parameters/bank_account_uuid'
        - $ref: '#/components/parameters/company_id'
        - $ref: '#/components/parameters/VersionHeader'
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                deposit_1:
                  type: number
                  nullable: false
                  description: The dollar amount of the first micro-deposit
                deposit_2:
                  type: number
                  nullable: false
                  description: The dollar amount of the second micro-deposit
            examples:
              Example:
                value:
                  deposit_1: 0.02
                  deposit_2: 0.42
  /v1/companies/{company_uuid}/external_payrolls:
    post:
      x-gusto-integration-type:
        - embedded
      summary: Create a new external payroll for a company
      tags:
        - External Payrolls
      responses:
        '200':
          $ref: '#/components/responses/External-Payroll-Object'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
        '422':
          $ref: '#/components/responses/Unprocessable-Entity-Error-Object'
      operationId: post-v1-external-payroll
      description: |-
        Creates a new external payroll for the company.

        scope: `external_payrolls:write`
      parameters:
        - $ref: '#/components/parameters/company_uuid'
        - $ref: '#/components/parameters/VersionHeader'
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                check_date:
                  type: string
                  description: External payroll's check date.
                payment_period_start_date:
                  type: string
                  description: External payroll's pay period start date.
                payment_period_end_date:
                  type: string
                  description: External payroll's pay period end date.
              required:
                - check_date
                - payment_period_start_date
                - payment_period_end_date
            examples:
              Example:
                value:
                  check_date: '2022-06-01'
                  payment_period_start_date: '2022-05-15'
                  payment_period_end_date: '2022-05-30'
    get:
      x-gusto-integration-type:
        - embedded
      summary: Get external payrolls for a company
      tags:
        - External Payrolls
      operationId: get-v1-company-external-payrolls
      parameters:
        - $ref: '#/components/parameters/company_uuid'
        - $ref: '#/components/parameters/VersionHeader'
      description: |-
        Get an external payroll for a given company.

        scope: `external_payrolls:read`
      responses:
        '200':
          $ref: '#/components/responses/External-Payroll-List'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
  /v1/companies/{company_uuid}/external_payrolls/{external_payroll_id}:
    get:
      x-gusto-integration-type:
        - embedded
      summary: Get an external payroll
      tags:
        - External Payrolls
      operationId: get-v1-external-payroll
      parameters:
        - $ref: '#/components/parameters/company_uuid'
        - $ref: '#/components/parameters/external_payroll_id'
        - $ref: '#/components/parameters/VersionHeader'
      description: |-
        Get an external payroll for a given company.

        scope: `external_payrolls:read`
      responses:
        '200':
          $ref: '#/components/responses/External-Payroll-Object'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
    delete:
      x-gusto-integration-type:
        - embedded
      summary: Delete an external payroll
      tags:
        - External Payrolls
      operationId: delete-v1-external-payroll
      description: |-
        Delete an external payroll.

        scope: `external_payrolls:write`
      parameters:
        - $ref: '#/components/parameters/company_uuid'
        - $ref: '#/components/parameters/external_payroll_id'
        - $ref: '#/components/parameters/VersionHeader'
      responses:
        '204':
          description: No Content
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
    put:
      x-gusto-integration-type:
        - embedded
      summary: Update an external payroll
      tags:
        - External Payrolls
      operationId: put-v1-external-payroll
      parameters:
        - $ref: '#/components/parameters/company_uuid'
        - $ref: '#/components/parameters/external_payroll_id'
        - $ref: '#/components/parameters/VersionHeader'
      responses:
        '200':
          $ref: '#/components/responses/External-Payroll-Object'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
        '422':
          $ref: '#/components/responses/Unprocessable-Entity-Error-Object'
      description: |-
        Update an external payroll with a list of external payroll items

        scope: `external_payrolls:write`
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                replace_fields:
                  type: boolean
                  description: >-
                    Patch update external payroll items when set to true,
                    otherwise it will overwrite the previous changes.
                external_payroll_items:
                  type: array
                  items:
                    type: object
                    description: Submit wages, benefits, taxes for each employee
                    properties:
                      employee_uuid:
                        type: string
                        description: The UUID of the employee.
                      earnings:
                        type: array
                        items:
                          type: object
                          description: >-
                            An array of earnings for the employee. Depends on
                            your company selections, earnings includes wages,
                            hours, bonuses, tips, commission and more.
                          properties:
                            hours:
                              type: string
                              description: The hour of the compensation for the pay period.
                            amount:
                              type: string
                              description: The amount of the earning.
                            earning_id:
                              type: integer
                              description: The ID of the earning.
                            earning_type:
                              type: string
                              description: The earning type for the compensation.
                              enum:
                                - CompanyPayType
                                - CompanyEarningType
                      benefits:
                        type: array
                        items:
                          type: object
                          description: >-
                            An array of benefits for the employee. Depends on
                            your company selections, benefits include 401k,
                            health insurance and more.
                          properties:
                            company_contribution_amount:
                              type: string
                              description: Company contribution amount towards the benefit
                            employee_deduction_amount:
                              type: string
                              description: Employee deduction amount towards the benefit
                            benefit_id:
                              type: integer
                              description: The ID of the benefit.
                      taxes:
                        type: array
                        description: >-
                          An array of taxes for the employee. Depends on your
                          company selections, taxes include federal income tax,
                          social security, medicare, and more.
                        items:
                          type: object
                          properties:
                            amount:
                              type: string
                              description: The amount of the tax.
                            tax_id:
                              type: integer
                              description: The ID of the tax.
            examples:
              Example:
                value:
                  replace_fields: true
                  external_payroll_items:
                    - employee_uuid: 403c6ee3-5f58-40ef-a117-ff7175cd9ee3
                      earnings:
                        - hours: '0.0'
                          amount: '200.00'
                          earning_type: CompanyPayType
                          earning_id: 1
                        - hours: '0.0'
                          amount: '5000.00'
                          earning_type: CompanyEarningType
                          earning_id: 2
                      benefits:
                        - company_contribution_amount: '300.0'
                          employee_deduction_amount: '300.0'
                          benefit_id: 10
                        - company_contribution_amount: '50.0'
                          employee_deduction_amount: '100.0'
                          benefit_id: 21
                      taxes:
                        - amount: '20.0'
                          tax_id: 1
                        - amount: '100.0'
                          tax_id: 2
  /v1/companies/{company_uuid}/external_payrolls/{external_payroll_id}/calculate_taxes:
    get:
      x-gusto-integration-type:
        - embedded
      summary: Get tax suggestions for an external payroll
      tags:
        - External Payrolls
      operationId: get-v1-external-payroll-calculate-taxes
      parameters:
        - $ref: '#/components/parameters/company_uuid'
        - $ref: '#/components/parameters/external_payroll_id'
        - $ref: '#/components/parameters/VersionHeader'
      description: >-
        Get tax suggestions for an external payroll. Earnings and/or benefits

        data must be saved prior to the calculation in order to retrieve
        accurate

        tax calculation.


        scope: `external_payrolls:read`
      responses:
        '200':
          $ref: '#/components/responses/External-Payroll-Tax-Suggestions-List'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
  /v1/companies/{company_uuid}/external_payrolls/tax_liabilities:
    get:
      x-gusto-integration-type:
        - embedded
      summary: Get tax liabilities
      tags:
        - External Payrolls
      operationId: get-v1-tax-liabilities
      parameters:
        - $ref: '#/components/parameters/company_uuid'
        - $ref: '#/components/parameters/VersionHeader'
      description: |-
        Get tax liabilities from aggregate external payrolls for a company.

        scope: `external_payrolls:read`
      responses:
        '200':
          $ref: '#/components/responses/Tax-Liabilities-List'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
    put:
      x-gusto-integration-type:
        - embedded
      summary: Update tax liabilities
      tags:
        - External Payrolls
      operationId: put-v1-tax-liabilities
      parameters:
        - $ref: '#/components/parameters/company_uuid'
        - $ref: '#/components/parameters/VersionHeader'
      responses:
        '200':
          $ref: '#/components/responses/Tax-Liabilities-List'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
        '422':
          $ref: '#/components/responses/Unprocessable-Entity-Error-Object'
      description: |-
        Update tax liabilities for a company.

        scope: `external_payrolls:write`
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                liability_selections:
                  type: array
                  items:
                    type: object
                    description: ''
                    properties:
                      tax_id:
                        type: integer
                        description: The ID of the tax.
                      last_unpaid_external_payroll_uuid:
                        type: string
                        description: >-
                          The UUID of the last unpaid external payroll uuid. It
                          should be null when the full amount of tax liability
                          has been paid.
                        nullable: true
                      unpaid_liability_amount:
                        type: number
                        description: A selection of unpaid liability amount.
            examples:
              Example:
                value:
                  liability_selections:
                    - tax_id: 1
                      last_unpaid_external_payroll_uuid: 7985032c-ee3a-4e98-af27-d56551eb5f1c
                      unpaid_liability_amount: 50
                    - tax_id: 2
                      last_unpaid_external_payroll_uuid: 5ed14dbb-958f-47c8-b16e-c4fed82dc486
                      unpaid_liability_amount: 400
                    - tax_id: 8
                      last_unpaid_external_payroll_uuid: null
                      unpaid_liability_amount: 0
  /v1/companies/{company_uuid}/external_payrolls/tax_liabilities/finish:
    put:
      x-gusto-integration-type:
        - embedded
      summary: Finalize tax liabilities options and convert into processed payrolls
      tags:
        - External Payrolls
      operationId: put-v1-tax-liabilities-finish
      parameters:
        - $ref: '#/components/parameters/company_uuid'
        - $ref: '#/components/parameters/VersionHeader'
      responses:
        '202':
          description: Accepted
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
        '422':
          $ref: '#/components/responses/Unprocessable-Entity-Error-Object'
      description: >-
        Finalizes tax liabilities for a company. All external payrolls edit
        action will be disabled.


        scope: `external_payrolls:write`
  /v1/companies/{company_uuid}/payment_configs:
    get:
      x-gusto-integration-type:
        - embedded
      summary: Get a company's payment configs
      tags:
        - Payment Configs
      operationId: get-v1-company-payment-configs
      parameters:
        - $ref: '#/components/parameters/company_uuid'
        - $ref: '#/components/parameters/VersionHeader'
      description: >-
        Get payment speed for the company and fast payment limit (1-day is only
        applicable to partners that opt in).


        scope: `company_payment_configs:read`
      responses:
        '200':
          $ref: '#/components/responses/Payment-Configs-Object'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
    put:
      x-gusto-integration-type:
        - embedded
      summary: Update a company's payment configs
      tags:
        - Payment Configs
      operationId: put-v1-company-payment-configs
      parameters:
        - $ref: '#/components/parameters/company_uuid'
        - $ref: '#/components/parameters/VersionHeader'
      description: >-
        Update payment speed and fast payment limit for a company. At least one
        of `payment_speed` or `fast_payment_limit` parameters is required. 1-day
        option is only applicable to partners that opt in.


        scope: `company_payment_configs:write`
      responses:
        '200':
          $ref: '#/components/responses/Payment-Configs-Object'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
        '422':
          $ref: '#/components/responses/Unprocessable-Entity-Error-Object'
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                fast_payment_limit:
                  type: string
                  description: >-
                    Fast payment limit. This limit is an aggregate of all fast
                    payrolls amount.
                payment_speed:
                  type: string
                  description: >-
                    Gusto Embedded supports three payment speeds (1-day, 2-day,
                    and 4-day). For next-day payments, funds are deposited in
                    your team's bank account by the end of the next business
                    day. Most people will see the funds arrive the next
                    afternoon, but payments may arrive as late as the end of the
                    business day.
                  enum:
                    - 1-day
                    - 2-day
                    - 4-day
              required:
                - fast_payment_limit
                - payment_speed
            examples:
              Example:
                value:
                  fast_payment_limit: '5000'
                  payment_speed: 2-day
  /v1/companies/{company_id}/pay_schedules:
    post:
      x-gusto-integration-type:
        - embedded
      summary: Create a new pay schedule
      responses:
        '200':
          $ref: '#/components/responses/Pay-Schedule-Object'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
        '422':
          $ref: '#/components/responses/Unprocessable-Entity-Error-Object'
      operationId: post-v1-companies-company_id-pay_schedules
      description: >-
        If a company does not have any pay schedules, this endpoint will create
        a single pay schedule and assign it to all employees. This is a common
        use case during company onboarding.


        If a company has an existing active pay schedule and want to support
        multiple pay schedules, this endpoint will create a pay schedule that is
        not assigned to any employee.


        Be sure to **[check state
        laws](https://www.dol.gov/agencies/whd/state/payday)** to know what
        schedule is right for your customers.
      parameters:
        - $ref: '#/components/parameters/company_id'
        - $ref: '#/components/parameters/VersionHeader'
      tags:
        - Pay Schedules
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                frequency:
                  type: string
                  description: >-
                    The frequency that employees on this pay schedule are paid
                    with Gusto.
                  enum:
                    - Every week
                    - Every other week
                    - Twice per month
                    - Monthly
                anchor_pay_date:
                  type: string
                  description: >-
                    The first date that employees on this pay schedule are paid
                    with Gusto.
                  example: '2020-05-15'
                anchor_end_of_pay_period:
                  type: string
                  description: >-
                    The last date of the first pay period. This can be the same
                    date as the anchor pay date.
                  example: '2020-05-08'
                day_1:
                  type: integer
                  description: >-
                    An integer between 1 and 31 indicating the first day of the
                    month that employees are paid. This field is only relevant
                    for pay schedules with the “Twice per month” and “Monthly”
                    frequencies. It will be null for pay schedules with other
                    frequencies.
                  nullable: true
                day_2:
                  description: >-
                    An integer between 1 and 31 indicating the second day of the
                    month that employees are paid. This field is the second pay
                    date for pay schedules with the "Twice per month" frequency.
                    For semi-monthly pay schedules, set this field to 31. For
                    months shorter than 31 days, we will set the second pay date
                    to the last day of the month. It will be null for pay
                    schedules with other frequencies.
                  type: integer
                  nullable: true
                custom_name:
                  type: string
                  description: >-
                    A custom pay schedule name, defaults to the pay frequency
                    description.
              required:
                - frequency
                - anchor_pay_date
                - anchor_end_of_pay_period
            examples:
              Example:
                value:
                  frequency: Twice per month
                  anchor_pay_date: '2021-10-15'
                  anchor_end_of_pay_period: '2021-10-15'
                  day_1: 15
                  day_2: 31
                  custom_name: demo pay schedule
                  auto_pilot: false
                  version: 68934a3e9455fa72420237eb05902327
    get:
      x-gusto-integration-type:
        - embedded
        - app-integrations
      summary: Get the pay schedules for a company
      parameters:
        - $ref: '#/components/parameters/company_id'
        - $ref: '#/components/parameters/pageParam'
        - $ref: '#/components/parameters/perParam'
        - $ref: '#/components/parameters/VersionHeader'
      responses:
        '200':
          $ref: '#/components/responses/Pay-Schedule-List'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
      operationId: get-v1-companies-company_id-pay_schedules
      description: >-
        The pay schedule object in Gusto captures the details of when employees
        work and when they should be paid. A company can have multiple pay
        schedules.


        scope: `pay_schedules:read`
      tags:
        - Pay Schedules
  /v1/companies/{company_id}/pay_schedules/preview:
    get:
      x-gusto-integration-type:
        - embedded
      summary: Preview pay schedule dates
      parameters:
        - $ref: '#/components/parameters/company_id'
        - name: frequency
          in: query
          description: >-
            The frequency that employees on this pay schedule are paid with
            Gusto.
          schema:
            type: string
            enum:
              - Every week
              - Every other week
              - Twice per month
              - Monthly
        - name: anchor_pay_date
          in: query
          description: >-
            The first date that employees on this pay schedule are paid with
            Gusto.
          schema:
            type: string
            example: '2020-05-15'
        - name: anchor_end_of_pay_period
          in: query
          description: >-
            The last date of the first pay period. This can be the same date as
            the anchor pay date.
          schema:
            type: string
            example: '2020-05-08'
        - name: day_1
          in: query
          description: >-
            An integer between 1 and 31 indicating the first day of the month
            that employees are paid. This field is only relevant for pay
            schedules with the “Twice per month” and “Monthly” frequencies. It
            will be null for pay schedules with other frequencies.
          schema:
            type: integer
          required: false
        - name: day_2
          in: query
          description: >-
            An integer between 1 and 31 indicating the second day of the month
            that employees are paid. This field is the second pay date for pay
            schedules with the "Twice per month" frequency. For semi-monthly pay
            schedules, set this field to 31. For months shorter than 31 days, we
            will set the second pay date to the last day of the month. It will
            be null for pay schedules with other frequencies.
          schema:
            type: integer
          required: false
        - $ref: '#/components/parameters/VersionHeader'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: Pay schedule preview
                type: object
                properties:
                  pay_periods:
                    type: array
                    description: A list of pay periods for the previewed pay schedule
                    items:
                      type: object
                      properties:
                        check_date:
                          type: string
                          description: The payment date, "Check date", for the pay period
                        run_payroll_by:
                          type: string
                          description: >-
                            The deadline to run payroll for direct deposit on
                            the check date
                        start_date:
                          type: string
                          description: The first day of the pay period
                        end_date:
                          type: string
                          description: The last day of the pay period
                  holidays:
                    type: array
                    description: A list of dates for bank closures
                    items:
                      type: string
              examples:
                Example:
                  value:
                    pay_periods:
                      - check_date: '2023-12-15'
                        end_date: '2023-12-31'
                        start_date: '2023-10-01'
                        run_payroll_by: '2023-12-13'
                      - check_date: '2024-03-15'
                        end_date: '2024-03-31'
                        start_date: '2024-01-01'
                        run_payroll_by: '2024-03-13'
                      - check_date: '2024-06-14'
                        end_date: '2024-06-30'
                        start_date: '2024-04-01'
                        run_payroll_by: '2024-06-12'
                      - check_date: '2024-09-13'
                        end_date: '2024-09-30'
                        start_date: '2024-07-01'
                        run_payroll_by: '2024-09-11'
                    holidays:
                      - '2023-10-09'
                      - '2023-11-11'
                      - '2023-11-23'
                      - '2023-12-25'
                      - '2024-01-01'
                      - '2024-01-15'
                      - '2024-02-19'
                      - '2024-05-27'
                      - '2024-06-19'
                      - '2024-07-04'
                      - '2024-09-02'
      operationId: get-v1-companies-company_id-pay_schedules-preview
      description: |-
        Provides a preview of a pay schedule with the specified parameters

        scope: `pay_schedules:write`
      tags:
        - Pay Schedules
  /v1/companies/{company_id}/pay_schedules/{pay_schedule_id}:
    get:
      x-gusto-integration-type:
        - embedded
        - app-integrations
      summary: Get a pay schedule
      responses:
        '200':
          $ref: '#/components/responses/Pay-Schedule-Object'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
      operationId: get-v1-companies-company_id-pay_schedules-pay_schedule_id
      description: >-
        The pay schedule object in Gusto captures the details of when employees
        work and when they should be paid. A company can have multiple pay
        schedules.


        scope: `pay_schedules:read`
      parameters:
        - $ref: '#/components/parameters/company_id'
        - $ref: '#/components/parameters/pay_schedule_id'
        - $ref: '#/components/parameters/VersionHeader'
      tags:
        - Pay Schedules
    put:
      x-gusto-integration-type:
        - embedded
      summary: Update a pay schedule
      tags:
        - Pay Schedules
      responses:
        '200':
          $ref: '#/components/responses/Pay-Schedule-Object'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
        '422':
          $ref: '#/components/responses/Unprocessable-Entity-Error-Object'
      operationId: put-v1-companies-company_id-pay_schedules-pay_schedule_id
      description: |-
        Updates a pay schedule.

        scope: `pay_schedules:write`
      parameters:
        - $ref: '#/components/parameters/company_id'
        - $ref: '#/components/parameters/pay_schedule_id'
        - $ref: '#/components/parameters/VersionHeader'
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                version:
                  type: string
                  description: >-
                    The current version of the object. See the [versioning
                    guide](https://docs.gusto.com/embedded-payroll/docs/versioning#object-layer)
                    for information on how to use this field.
                frequency:
                  type: string
                  description: >-
                    The frequency that employees on this pay schedule are paid
                    with Gusto.
                  enum:
                    - Every week
                    - Every other week
                    - Twice per month
                    - Monthly
                anchor_pay_date:
                  type: string
                  description: >-
                    The first date that employees on this pay schedule are paid
                    with Gusto.
                  example: '2020-05-15'
                anchor_end_of_pay_period:
                  type: string
                  description: >-
                    The last date of the first pay period. This can be the same
                    date as the anchor pay date.
                  example: '2020-05-08'
                day_1:
                  type: integer
                  description: >-
                    An integer between 1 and 31 indicating the first day of the
                    month that employees are paid. This field is only relevant
                    for pay schedules with the “Twice per month” and “Monthly”
                    frequencies. It will be null for pay schedules with other
                    frequencies.
                  nullable: true
                day_2:
                  description: >-
                    An integer between 1 and 31 indicating the second day of the
                    month that employees are paid. This field is the second pay
                    date for pay schedules with the "Twice per month" frequency.
                    For semi-monthly pay schedules, set this field to 31. For
                    months shorter than 31 days, we will set the second pay date
                    to the last day of the month. It will be null for pay
                    schedules with other frequencies.
                  type: integer
                  nullable: true
                custom_name:
                  type: string
                  description: A custom pay schedule name.
                auto_pilot:
                  type: boolean
                  description: >-
                    With Autopilot® enabled, payroll will run automatically one
                    day before your payroll deadlines.
              required:
                - version
            examples:
              Example:
                value:
                  frequency: Twice per month
                  anchor_pay_date: '2021-10-15'
                  anchor_end_of_pay_period: '2021-10-15'
                  day_1: 15
                  day_2: 31
                  custom_name: demo pay schedule
                  version: 68934a3e9455fa72420237eb05902327
                  auto_pilot: true
  /v1/companies/{company_id}/pay_periods:
    get:
      x-gusto-integration-type:
        - embedded
        - app-integrations
      summary: Get pay periods for a company
      tags:
        - Pay Schedules
      responses:
        '200':
          $ref: '#/components/responses/Pay-Period-List'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
      operationId: get-v1-companies-company_id-pay_periods
      description: >-
        Pay periods are the foundation of payroll. Compensation, time &
        attendance, taxes, and expense reports all rely on when they happened.
        To begin submitting information for a given payroll, we need to agree on
        the time period.


        By default, this endpoint returns pay periods starting from 6 months ago
        to the date today.  Use the `start_date` and `end_date` parameters to
        change the scope of the response.  End dates can be up to 3 months in
        the future and there is no limit on start dates.


        Starting in version '2023-04-01', the eligible_employees attribute was
        removed from the response.  The eligible employees for a payroll are
        determined by the employee_compensations returned from the
        payrolls#prepare endpoint.


        scope: `payrolls:read`
      parameters:
        - $ref: '#/components/parameters/company_id'
        - $ref: '#/components/parameters/start_date'
        - $ref: '#/components/parameters/end_date'
        - $ref: '#/components/parameters/payroll_types'
        - $ref: '#/components/parameters/VersionHeader'
  /v1/companies/{company_id}/pay_periods/unprocessed_termination_pay_periods:
    get:
      x-gusto-integration-type:
        - embedded
        - app-integrations
      summary: Get termination pay periods for a company
      tags:
        - Pay Schedules
      responses:
        '200':
          $ref: '#/components/responses/Unprocessed-Termination-Pay-Period-List'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
      operationId: get-v1-companies-company_id-unprocessed_termination_pay_periods
      description: >-
        When a payroll admin terminates an employee and selects "Dismissal
        Payroll" as the employee's final payroll, their last pay period will
        appear on the list.


        This endpoint returns the unprocessed pay periods for past and future
        terminated employees in a given company.


        scope: `payrolls:read`
      parameters:
        - $ref: '#/components/parameters/company_id'
        - $ref: '#/components/parameters/VersionHeader'
  /v1/companies/{company_id}/pay_schedules/assignments:
    get:
      x-gusto-integration-type:
        - embedded
        - app-integrations
      summary: Get pay schedule assignments for a company
      responses:
        '200':
          $ref: '#/components/responses/Pay-Schedule-Assignment-Object'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
      operationId: get-v1-companies-company_id-pay_schedules-assignments
      description: >-
        This endpoint returns the current pay schedule assignment for a company,
        with pay schedule and employee/department mappings depending on the pay
        schedule type.


        scope: `pay_schedules:read`
      parameters:
        - $ref: '#/components/parameters/company_id'
        - $ref: '#/components/parameters/VersionHeader'
      tags:
        - Pay Schedules
  /v1/companies/{company_id}/pay_schedules/assignment_preview:
    post:
      x-gusto-integration-type:
        - embedded
      summary: Preview pay schedule assignments for a company
      responses:
        '200':
          $ref: '#/components/responses/Pay-Schedule-Assignment-Preview-Object'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
        '422':
          $ref: '#/components/responses/Unprocessable-Entity-Error-Object'
      operationId: post-v1-companies-company_id-pay_schedules-assignment_preview
      description: >-
        This endpoints returns the employee changes, including pay period and
        transition pay periods, for changing the pay schedule.


        scope: `pay_schedules:write`
      parameters:
        - $ref: '#/components/parameters/company_id'
        - $ref: '#/components/parameters/VersionHeader'
      tags:
        - Pay Schedules
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Pay-Schedule-Assignment-Body'
            examples:
              Example:
                value:
                  type: by_employee
                  employees:
                    employee_uuid: f0238368-f2cf-43e2-9a07-b0265f2cec69
                    pay_schedule_uuid: c277ac52-9871-4a96-a1e6-0c449684602a
  /v1/companies/{company_id}/pay_schedules/assign:
    post:
      x-gusto-integration-type:
        - embedded
      summary: Assign pay schedules for a company
      responses:
        '200':
          description: No Content
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
        '422':
          $ref: '#/components/responses/Unprocessable-Entity-Error-Object'
      operationId: post-v1-companies-company_id-pay_schedules-assign
      description: >-
        This endpoints assigns employees to specified pay schedules based on the
        pay schedule type.


        scope: `pay_schedules:write`
      parameters:
        - $ref: '#/components/parameters/company_id'
        - $ref: '#/components/parameters/VersionHeader'
      tags:
        - Pay Schedules
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Pay-Schedule-Assignment-Body'
            examples:
              Example:
                value:
                  type: by_employee
                  employees:
                    employee_uuid: f0238368-f2cf-43e2-9a07-b0265f2cec69
                    pay_schedule_uuid: c277ac52-9871-4a96-a1e6-0c449684602a
  /v1/companies/{company_id}/employees:
    post:
      x-gusto-integration-type:
        - embedded
        - app-integrations
      summary: Create an employee
      operationId: post-v1-employees
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                first_name:
                  type: string
                middle_initial:
                  type: string
                last_name:
                  type: string
                date_of_birth:
                  type: string
                email:
                  type: string
                ssn:
                  type: string
                  pattern: '[0-9]{9}'
                self_onboarding:
                  type: boolean
                  description: >-
                    If true, employee is expected to self-onboard. If false,
                    payroll admin is expected to enter in the employee's
                    onboarding information
              required:
                - first_name
                - last_name
            examples:
              Example:
                value:
                  first_name: Soren
                  middle_initial: A
                  last_name: Kierkegaard
                  date_of_birth: '1995-05-05'
                  email: knight0faith@example.com
                  ssn: '123456294'
        description: Create an employee.
      parameters:
        - $ref: '#/components/parameters/company_id'
        - $ref: '#/components/parameters/VersionHeader'
      description: |-
        Create an employee.

        scope: `employees:manage`
      responses:
        '201':
          $ref: '#/components/responses/Employee-Object'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
        '422':
          $ref: '#/components/responses/Unprocessable-Entity-Error-Object'
      tags:
        - Employees
    get:
      x-gusto-integration-type:
        - embedded
        - app-integrations
      summary: Get employees of a company
      operationId: get-v1-companies-company_id-employees
      parameters:
        - $ref: '#/components/parameters/company_id'
        - schema:
            type: boolean
          in: query
          name: terminated
          description: Filters employees by the provided boolean
        - in: query
          name: include
          schema:
            type: string
            enum:
              - all_compensations
              - custom_fields
          description: >-
            Include the requested attribute(s) in each employee response,
            multiple options are comma separated. Available options:

            - all_compensations: Include all effective dated compensations for
            each job instead of only the current compensation

            - custom_fields: Include employees' custom fields
        - $ref: '#/components/parameters/pageParam'
        - $ref: '#/components/parameters/perParam'
        - $ref: '#/components/parameters/VersionHeader'
      description: >-
        Get all of the employees, onboarding, active and terminated, for a given
        company.


        scope: `employees:read`
      responses:
        '200':
          $ref: '#/components/responses/Employee-List'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
      tags:
        - Employees
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties: {}
  /v1/companies/{company_uuid}/departments:
    post:
      x-gusto-integration-type:
        - embedded
        - app-integrations
      operationId: post-departments
      summary: Create a department
      tags:
        - Departments
      description: |-
        Create a department

        scope: `departments:write`
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
            examples:
              Example:
                value:
                  title: Stage Hand
      parameters:
        - $ref: '#/components/parameters/company_uuid'
        - $ref: '#/components/parameters/VersionHeader'
      responses:
        '201':
          $ref: '#/components/responses/Department-Object'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
        '422':
          $ref: '#/components/responses/Unprocessable-Entity-Error-Object'
    get:
      x-gusto-integration-type:
        - embedded
        - app-integrations
      summary: Get all departments of a company
      operationId: get-companies-departments
      parameters:
        - $ref: '#/components/parameters/company_uuid'
        - $ref: '#/components/parameters/VersionHeader'
      description: >-
        Get all of the departments for a given company with the employees and
        contractors assigned to that department.


        scope: `departments:read`
      responses:
        '200':
          $ref: '#/components/responses/Department-List'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
      tags:
        - Departments
  /v1/departments/{department_uuid}:
    get:
      x-gusto-integration-type:
        - embedded
        - app-integrations
      operationId: get-department
      summary: Get a department
      tags:
        - Departments
      description: |
        Get a department given the UUID

        scope: `departments:read`
      parameters:
        - $ref: '#/components/parameters/department_uuid'
[...]
