openapi: 3.0.1
info:
  title: PGW Payment API 4.3
  description: Rest API for PGW payment purpose - LATEST
  version: '4.3'
servers:
  - description: Sandbox server
    url: https://sandbox-pgw.2c2p.com
tags:
  - name: ExchangeRate
  - name: ApplePay
  - name: Cache
  - name: CancelTransaction
  - name: CardInstallmentPlanInfo
  - name: CardTokenInfo
  - name: Initialization
  - name: LoyaltyPointInfo
  - name: Payment
  - name: PaymentInquiry
  - name: PaymentInstruction
  - name: PaymentNotification
  - name: PaymentOption
  - name: PaymentOptionDetails
  - name: PaymentSimulate
  - name: PaymentToken
  - name: RedirectBackEnd
  - name: RedirectFrontEnd
  - name: TransactionStatus
  - name: UserPreference
paths:
  /payment/4.3/applepay/merchantvalidation:
    post:
      tags:
        - ApplePay
      summary: ''
      operationId: ApplePay_validateMerchant
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MerchantValidationApplePay'
          text/json:
            schema:
              $ref: '#/components/schemas/MerchantValidationApplePay'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/MerchantValidationApplePay'
          application/*+json:
            schema:
              $ref: '#/components/schemas/MerchantValidationApplePay'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantValidationApplePayResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/MerchantValidationApplePayResponse'
            text/plain:
              schema:
                $ref: '#/components/schemas/MerchantValidationApplePayResponse'
  /payment/4.3/cache/cleancache:
    post:
      tags:
        - Cache
      summary: ''
      operationId: Cache_cleanCache
      responses:
        '200':
          description: Success
  /payment/4.3/canceltransaction:
    post:
      tags:
        - CancelTransaction
      summary: ''
      operationId: CancelTransaction_post
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentBaseRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/PaymentBaseRequest'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/PaymentBaseRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/PaymentBaseRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentNonRedirectResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/PaymentNonRedirectResponse'
            text/plain:
              schema:
                $ref: '#/components/schemas/PaymentNonRedirectResponse'
  /payment/4.3/cardinstallmentplaninfo:
    post:
      tags:
        - CardInstallmentPlanInfo
      operationId: CardInstallmentPlanInfo_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardInstallmentPlanInfoRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/CardInstallmentPlanInfoRequest'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CardInstallmentPlanInfoRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CardInstallmentPlanInfoRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentOptionDetailsResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/PaymentOptionDetailsResponse'
            text/plain:
              schema:
                $ref: '#/components/schemas/PaymentOptionDetailsResponse'
  /payment/4.3/cardtokeninfo:
    post:
      tags:
        - CardTokenInfo
      summary: ''
      operationId: CardTokenInfo_getCardTokenInfo
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentBaseRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/PaymentBaseRequest'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/PaymentBaseRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/PaymentBaseRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentCardTokenResponseV43'
            text/json:
              schema:
                $ref: '#/components/schemas/PaymentCardTokenResponseV43'
            text/plain:
              schema:
                $ref: '#/components/schemas/PaymentCardTokenResponseV43'
  /payment/4.3/exchangerate:
    post:
      tags:
        - ExchangeRate
      summary: ''
      operationId: ExchangeRate_getRate
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentExchangeRateConverterRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/PaymentExchangeRateConverterRequest'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/PaymentExchangeRateConverterRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/PaymentExchangeRateConverterRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentExchangeRateConverterResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/PaymentExchangeRateConverterResponse'
            text/plain:
              schema:
                $ref: '#/components/schemas/PaymentExchangeRateConverterResponse'
  /payment/4.3/exchangerate/secure:
    post:
      tags:
        - ExchangeRate
      summary: JWT Request Endpoint
      operationId: ExchangeRate_requestEndpoint
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayloadRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/PayloadRequest'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/PayloadRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/PayloadRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayloadRequest'
            text/json:
              schema:
                $ref: '#/components/schemas/PayloadRequest'
            text/plain:
              schema:
                $ref: '#/components/schemas/PayloadRequest'
  /payment/4.3/exchangerate/apmmccexchangerate:
    post:
      tags:
        - ExchangeRate
      summary: APM MCC Exchange Rate
      operationId: ExchangeRate_apmMcc
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentBaseRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/PaymentBaseRequest'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/PaymentBaseRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/PaymentBaseRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentApmMccExchangeRateResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/PaymentApmMccExchangeRateResponse'
            text/plain:
              schema:
                $ref: '#/components/schemas/PaymentApmMccExchangeRateResponse'
  /payment/4.3/initialization:
    post:
      tags:
        - Initialization
      summary: ''
      operationId: Initialization_requestCreation
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentInitializationResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/PaymentInitializationResponse'
            text/plain:
              schema:
                $ref: '#/components/schemas/PaymentInitializationResponse'
  /payment/4.3/loyaltypointinfo:
    post:
      tags:
        - LoyaltyPointInfo
      summary: ''
      operationId: LoyaltyPointInfo_postLoyaltyPointInfo
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentLoyaltyPointInfoRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/PaymentLoyaltyPointInfoRequest'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/PaymentLoyaltyPointInfoRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/PaymentLoyaltyPointInfoRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentLoyaltyPointInfoResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/PaymentLoyaltyPointInfoResponse'
            text/plain:
              schema:
                $ref: '#/components/schemas/PaymentLoyaltyPointInfoResponse'
  /payment/4.3/payment:
    post:
      tags:
        - Payment
      summary: ''
      operationId: Payment_createPayment
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentRequestV43'
          text/json:
            schema:
              $ref: '#/components/schemas/PaymentRequestV43'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/PaymentRequestV43'
          application/*+json:
            schema:
              $ref: '#/components/schemas/PaymentRequestV43'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/PaymentResponse'
            text/plain:
              schema:
                $ref: '#/components/schemas/PaymentResponse'
  /payment/4.3/paymentinquiry:
    post:
      tags:
        - PaymentInquiry
      summary: ''
      operationId: PaymentInquiry_postPaymentDetails
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayloadRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/PayloadRequest'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/PayloadRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/PayloadRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayloadRequest'
            text/json:
              schema:
                $ref: '#/components/schemas/PayloadRequest'
            text/plain:
              schema:
                $ref: '#/components/schemas/PayloadRequest'
  /payment/4.3/paymentinstruction:
    post:
      tags:
        - PaymentInstruction
      summary: ''
      operationId: PaymentInstruction_submitInstruction
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayloadRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/PayloadRequest'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/PayloadRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/PayloadRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayloadRequest'
            text/json:
              schema:
                $ref: '#/components/schemas/PayloadRequest'
            text/plain:
              schema:
                $ref: '#/components/schemas/PayloadRequest'
  /payment/4.3/paymentnotification:
    post:
      tags:
        - PaymentNotification
      summary: ''
      operationId: PaymentNotification_processNotification
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentNotificationRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/PaymentNotificationRequest'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/PaymentNotificationRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/PaymentNotificationRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentResponseBase'
            text/json:
              schema:
                $ref: '#/components/schemas/PaymentResponseBase'
            text/plain:
              schema:
                $ref: '#/components/schemas/PaymentResponseBase'
  /payment/4.3/paymentoption:
    post:
      tags:
        - PaymentOption
      summary: ''
      operationId: PaymentOption_createPaymentOption
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentBaseRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/PaymentBaseRequest'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/PaymentBaseRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/PaymentBaseRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentOptionResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/PaymentOptionResponse'
            text/plain:
              schema:
                $ref: '#/components/schemas/PaymentOptionResponse'
  /payment/4.3/paymentoptiondetails:
    post:
      tags:
        - PaymentOptionDetails
      summary: ''
      operationId: PaymentOptionDetails_postOptionDetails
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentOptionDetailsRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/PaymentOptionDetailsRequest'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/PaymentOptionDetailsRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/PaymentOptionDetailsRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentOptionDetailsResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/PaymentOptionDetailsResponse'
            text/plain:
              schema:
                $ref: '#/components/schemas/PaymentOptionDetailsResponse'
  /payment/4.3/paymentsimulate:
    post:
      tags:
        - PaymentSimulate
      summary: ''
      operationId: PaymentSimulate_executePaymentSimulation
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayloadRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/PayloadRequest'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/PayloadRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/PayloadRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayloadRequest'
            text/json:
              schema:
                $ref: '#/components/schemas/PayloadRequest'
            text/plain:
              schema:
                $ref: '#/components/schemas/PayloadRequest'
  /payment/4.3/paymenttoken:
    post:
      tags:
        - PaymentToken
      summary: ''
      operationId: PaymentToken_generateToken
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayloadRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/PayloadRequest'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/PayloadRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/PayloadRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayloadRequest'
            text/json:
              schema:
                $ref: '#/components/schemas/PayloadRequest'
            text/plain:
              schema:
                $ref: '#/components/schemas/PayloadRequest'
  /payment/4.3/redirectbackend:
    post:
      tags:
        - RedirectBackEnd
      summary: ''
      operationId: RedirectBackEnd_postPaymentRedirect
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/RedirectBackEndPostPaymentRedirectRequest'
            encoding:
              paymentResponse:
                style: form
              isLeaveApp:
                style: form
      responses:
        '200':
          description: Success
  /payment/4.3/redirectfrontend:
    post:
      tags:
        - RedirectFrontEnd
      summary: ''
      operationId: RedirectFrontEnd_postPaymentRedirect
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/RedirectFrontEndPostPaymentRedirectRequest'
            encoding:
              payResponse:
                style: form
              isLeaveApp:
                style: form
      responses:
        '200':
          description: Success
  /payment/4.3/transactionstatus:
    post:
      tags:
        - TransactionStatus
      summary: ''
      operationId: TransactionStatus_updateTransactionStatus
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionStatusRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/TransactionStatusRequest'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/TransactionStatusRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/TransactionStatusRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionStatusResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/TransactionStatusResponse'
            text/plain:
              schema:
                $ref: '#/components/schemas/TransactionStatusResponse'
  /payment/4.3/userpreference:
    post:
      tags:
        - UserPreference
      summary: ''
      operationId: UserPreference_saveUserPreference
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentBaseRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/PaymentBaseRequest'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/PaymentBaseRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/PaymentBaseRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentUserPreferenceResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/PaymentUserPreferenceResponse'
            text/plain:
              schema:
                $ref: '#/components/schemas/PaymentUserPreferenceResponse'
components:
  schemas:
    Address:
      type: object
      properties:
        address1:
          type: string
          nullable: true
        address2:
          type: string
          nullable: true
        address3:
          type: string
          nullable: true
        postalCode:
          type: string
          nullable: true
        city:
          type: string
          nullable: true
        state:
          type: string
          nullable: true
        countryCode:
          type: string
          nullable: true
    BrowserDetails:
      type: object
      properties:
        version:
          type: string
          nullable: true
        deviceType:
          type: string
          nullable: true
        name:
          type: string
          nullable: true
        os:
          type: string
          nullable: true
    CardInstallmentPlanInfoRequest:
      required:
        - paymentToken
      type: object
      properties:
        cardNo:
          type: string
          nullable: true
        bankCode:
          type: string
          nullable: true
        paymentToken:
          type: string
        locale:
          type: string
          nullable: true
        clientID:
          type: string
          format: uuid
        browserDetails:
          $ref: '#/components/schemas/BrowserDetails'
    CreditCardTokenV43:
      type: object
      properties:
        token:
          type: string
          nullable: true
        accountNo:
          type: string
          nullable: true
        name:
          type: string
          nullable: true
        email:
          type: string
          nullable: true
        expiry:
          type: string
          nullable: true
        channelCode:
          type: string
          nullable: true
        subChannelCode:
          type: string
          nullable: true
        cardBrand:
          type: string
          nullable: true
        status:
          type: string
          nullable: true
        iconUrl:
          type: string
          nullable: true
        logoUrl:
          type: string
          nullable: true
    CurrencyAPMMCCFxRate:
      type: object
      properties:
        expire:
          type: integer
          format: int64
        sequenceNo:
          type: integer
          format: int32
        id:
          type: string
          nullable: true
        fx:
          type: number
          format: double
        currencyCode:
          type: string
          nullable: true
    CurrencyFxRate:
      type: object
      properties:
        name:
          type: string
          nullable: true
        iconUrl:
          type: string
          nullable: true
        amount:
          type: string
          nullable: true
        sequenceNo:
          type: integer
          format: int32
        id:
          type: string
          nullable: true
        fx:
          type: number
          format: double
        currencyCode:
          type: string
          nullable: true
    CustomerAddress:
      type: object
      properties:
        billing:
          $ref: '#/components/schemas/Address'
        shipping:
          $ref: '#/components/schemas/Address'
    IppPlan:
      type: object
      properties:
        sequenceNo:
          type: integer
          format: int32
        period:
          type: integer
          format: int32
        interestType:
          type: string
          nullable: true
        interestRate:
          type: number
          format: double
        monthlyAmount:
          type: number
          format: double
        monthlyInterest:
          type: number
          format: double
        currencyCode:
          type: string
          nullable: true
        label:
          type: string
          nullable: true
        terms:
          type: string
          nullable: true
        payLaterPeriod:
          type: integer
          format: int32
          nullable: true
    Locale:
      type: object
      properties:
        code:
          type: string
          nullable: true
        name:
          type: string
          nullable: true
        iconUrl:
          type: string
          nullable: true
    LoyaltyDetails:
      type: object
      properties:
        providerID:
          type: string
          nullable: true
        accountNo:
          type: string
          nullable: true
        accountAuthData:
          type: string
          nullable: true
        queryReferenceSpecified:
          type: boolean
          readOnly: true
        externalMerchantId:
          type: string
          nullable: true
        redeemAmount:
          type: number
          format: double
        rewards:
          type: array
          items:
            $ref: '#/components/schemas/LoyaltyRewards'
          nullable: true
    LoyaltyRewards:
      type: object
      properties:
        id:
          type: string
          nullable: true
        Quantity:
          type: number
          format: double
    MerchantConfiguration:
      type: object
      properties:
        payment:
          $ref: '#/components/schemas/MerchantConfigurationPayment'
        notification:
          $ref: '#/components/schemas/MerchantConfigurationNotification'
    MerchantConfigurationNotification:
      type: object
      properties:
        facebook:
          type: boolean
        whatsApp:
          type: boolean
        line:
          type: boolean
    MerchantConfigurationPayment:
      type: object
      properties:
        tokenize:
          type: boolean
        tokenizeOnly:
          type: boolean
        cardTokenOnly:
          type: boolean
        immediatePayment:
          type: boolean
        fx:
          $ref: '#/components/schemas/MerchantConfigurationPaymentFx'
    MerchantConfigurationPaymentFx:
      type: object
      properties:
        mcp:
          $ref: '#/components/schemas/MerchantConfigurationPaymentFxRate'
        dcc:
          $ref: '#/components/schemas/MerchantConfigurationPaymentFxRate'
        apmMcc:
          $ref: '#/components/schemas/MerchantConfigurationPaymentFxRate'
    MerchantConfigurationPaymentFxRate:
      type: object
      properties:
        active:
          type: boolean
        terms:
          type: string
          nullable: true
    MerchantDetails:
      type: object
      properties:
        id:
          type: string
          nullable: true
        name:
          type: string
          nullable: true
        address:
          type: string
          nullable: true
        email:
          type: string
          nullable: true
        logoUrl:
          type: string
          nullable: true
        bannerUrl:
          type: string
          nullable: true
    MerchantValidationApplePay:
      required:
        - paymentToken
      type: object
      properties:
        validationUrl:
          type: string
          nullable: true
        paymentToken:
          type: string
        locale:
          type: string
          nullable: true
        clientID:
          type: string
          format: uuid
        browserDetails:
          $ref: '#/components/schemas/BrowserDetails'
    MerchantValidationApplePayResponse:
      type: object
      properties:
        epochTimestamp:
          type: integer
          format: int64
        expiresAt:
          type: integer
          format: int64
        merchantSessionIdentifier:
          type: string
          nullable: true
        nonce:
          type: string
          nullable: true
        merchantIdentifier:
          type: string
          nullable: true
        domainName:
          type: string
          nullable: true
        displayName:
          type: string
          nullable: true
        signature:
          type: string
          nullable: true
        operationalAnalyticsIdentifier:
          type: string
          nullable: true
        retries:
          type: integer
          format: int32
        pspId:
          type: string
          nullable: true
        respCode:
          type: string
          nullable: true
        respDesc:
          type: string
          nullable: true
    PayloadRequest:
      type: object
      properties:
        payload:
          type: string
          nullable: true
    PaymentApmMccExchangeRateResponse:
      type: object
      properties:
        fxRates:
          type: array
          items:
            $ref: '#/components/schemas/CurrencyAPMMCCFxRate'
          nullable: true
        paymentToken:
          type: string
          nullable: true
        respCode:
          type: string
          nullable: true
        respDesc:
          type: string
          nullable: true
    PaymentBaseRequest:
      required:
        - paymentToken
      type: object
      properties:
        paymentToken:
          type: string
        locale:
          type: string
          nullable: true
        clientID:
          type: string
          format: uuid
        browserDetails:
          $ref: '#/components/schemas/BrowserDetails'
    PaymentCardTokenResponseV43:
      type: object
      properties:
        paymentToken:
          type: string
          nullable: true
        customerToken:
          type: array
          items:
            $ref: '#/components/schemas/CreditCardTokenV43'
          nullable: true
        respCode:
          type: string
          nullable: true
        respDesc:
          type: string
          nullable: true
    PaymentChannelCategory:
      type: object
      properties:
        groups:
          type: array
          items:
            $ref: '#/components/schemas/ResponsePaymentChannel'
          nullable: true
        id:
          type: integer
          format: int32
          nullable: true
        sequenceNo:
          type: integer
          format: int32
        name:
          type: string
          nullable: true
        code:
          type: string
          nullable: true
        iconUrl:
          type: string
          nullable: true
        logoUrl:
          type: string
          nullable: true
        default:
          type: boolean
        channelCode:
          type: string
          nullable: true
        agentChannelCode:
          type: string
          nullable: true
        optionName:
          type: string
          nullable: true
        paymentCode:
          type: string
          nullable: true
        qrType:
          type: string
          nullable: true
        expirationTimer:
          type: string
          nullable: true
        expirationDescription:
          type: string
          nullable: true
        expiration:
          type: boolean
    PaymentChannelPreference:
      type: object
      properties:
        sequenceNo:
          type: integer
          format: int32
        categoryCode:
          type: string
          nullable: true
        groupCode:
          type: string
          nullable: true
        name:
          type: string
          nullable: true
        channelCode:
          type: string
          nullable: true
        agentCode:
          type: string
          nullable: true
        agentChannelCode:
          type: string
          nullable: true
        iconUrl:
          type: string
          nullable: true
        logoUrl:
          type: string
          nullable: true
    PaymentExchangeRateConverterRequest:
      required:
        - paymentToken
      type: object
      properties:
        bin:
          type: string
          nullable: true
        paymentToken:
          type: string
        locale:
          type: string
          nullable: true
        clientID:
          type: string
          format: uuid
        browserDetails:
          $ref: '#/components/schemas/BrowserDetails'
    PaymentExchangeRateConverterResponse:
      type: object
      properties:
        fxRates:
          type: array
          items:
            $ref: '#/components/schemas/CurrencyFxRate'
          nullable: true
        providerCode:
          type: string
          nullable: true
        expire:
          type: integer
          format: int64
          nullable: true
        paymentToken:
          type: string
          nullable: true
        respCode:
          type: string
          nullable: true
        respDesc:
          type: string
          nullable: true
    PaymentInitialization:
      type: object
      properties:
        locale:
          type: array
          items:
            $ref: '#/components/schemas/Locale'
          nullable: true
    PaymentInitializationResponse:
      type: object
      properties:
        initialization:
          $ref: '#/components/schemas/PaymentInitialization'
        respCode:
          type: string
          nullable: true
        respDesc:
          type: string
          nullable: true
    PaymentItem:
      type: object
      properties:
        code:
          type: string
          nullable: true
        name:
          type: string
          nullable: true
        quantity:
          type: integer
          format: int32
        price:
          type: number
          format: double
    PaymentLoyaltyPointInfoRequest:
      required:
        - paymentToken
      type: object
      properties:
        providerID:
          type: string
          nullable: true
        profileID:
          type: string
          nullable: true
        referenceID:
          type: string
          nullable: true
        cardNo:
          type: string
          nullable: true
        expiryMonth:
          type: string
          nullable: true
        expiryYear:
          type: string
          nullable: true
        paymentToken:
          type: string
        locale:
          type: string
          nullable: true
        clientID:
          type: string
          format: uuid
        browserDetails:
          $ref: '#/components/schemas/BrowserDetails'
    PaymentLoyaltyPointInfoResponse:
      type: object
      properties:
        paymentToken:
          type: string
          nullable: true
        providerID:
          type: string
          nullable: true
        providerName:
          type: string
          nullable: true
        referenceID:
          type: string
          nullable: true
        providerType:
          type: string
          nullable: true
        terms:
          type: string
          nullable: true
        rewards:
          type: array
          items:
            $ref: '#/components/schemas/PaymentLoyaltyReward'
          nullable: true
        respCode:
          type: string
          nullable: true
        respDesc:
          type: string
          nullable: true
    PaymentLoyaltyReward:
      type: object
      properties:
        sequenceNo:
          type: integer
          format: int32
        id:
          type: string
          nullable: true
        currencyCode:
          type: string
          nullable: true
        totalPoints:
          type: number
          format: double
        label:
          type: string
          nullable: true
        point:
          type: number
          format: double
        forceToSelectReward:
          type: boolean
        name:
          type: string
          nullable: true
        type:
          type: string
          nullable: true
        amount:
          type: number
          format: double
        quantity:
          type: number
          format: double
        price:
          type: number
          format: double
    PaymentNonRedirectResponse:
      type: object
      properties:
        invoiceNo:
          type: string
          nullable: true
        channelCode:
          type: string
          nullable: true
        respCode:
          type: string
          nullable: true
        respDesc:
          type: string
          nullable: true
    PaymentNotificationRequest:
      required:
        - paymentToken
      type: object
      properties:
        plateform:
          type: string
          nullable: true
        recipientID:
          type: string
          nullable: true
        recipientName:
          type: string
          nullable: true
        paymentToken:
          type: string
        locale:
          type: string
          nullable: true
        clientID:
          type: string
          format: uuid
        browserDetails:
          $ref: '#/components/schemas/BrowserDetails'
    PaymentOptionDetailsChannel:
      type: object
      properties:
        sequenceNo:
          type: integer
          format: int32
        name:
          type: string
          nullable: true
        bankShortName:
          type: string
          nullable: true
        currencyCodes:
          type: array
          items:
            type: string
          nullable: true
        iconUrl:
          type: string
          nullable: true
        logoUrl:
          type: string
          nullable: true
        payment:
          $ref: '#/components/schemas/PaymentOptionDetailsPayment'
        isDown:
          type: boolean
        checkEligibleOption:
          type: boolean
        ippProviderCode:
          type: string
          nullable: true
        registrationStatus:
          type: string
          nullable: true
        partnerMerchantRefID:
          type: string
          nullable: true
    PaymentOptionDetailsCustomData:
      type: object
      properties:
        sequenceNo:
          type: integer
          format: int32
        type:
          type: string
          nullable: true
        data:
          type: string
          nullable: true
    PaymentOptionDetailsInfo:
      type: object
      properties:
        terms:
          type: string
          nullable: true
        promoUrl:
          type: string
          nullable: true
        plans:
          type: array
          items:
            $ref: '#/components/schemas/IppPlan'
          nullable: true
        customData:
          type: array
          items:
            $ref: '#/components/schemas/PaymentOptionDetailsCustomData'
          nullable: true
        provider:
          $ref: '#/components/schemas/PaymentOptionDetailsInfoProvider'
        learnMoreUrl:
          type: string
          nullable: true
        termsConsent:
          type: boolean
    PaymentOptionDetailsInfoProvider:
      type: object
      properties:
        id:
          type: string
          nullable: true
        channels:
          type: array
          items:
            type: string
          nullable: true
        merchantDetails:
          $ref: '#/components/schemas/PodInfoProviderMerchantDetails'
        transactionDetails:
          $ref: '#/components/schemas/PodInfoProviderTransactionDetails'
        terms:
          type: string
          nullable: true
        termsConsent:
          type: boolean
    PaymentOptionDetailsPayment:
      type: object
      properties:
        info:
          $ref: '#/components/schemas/PaymentOptionDetailsInfo'
        code:
          $ref: '#/components/schemas/PaymentOptionDetailsPaymentCode'
        input:
          type: object
          additionalProperties: {}
          nullable: true
        validation:
          type: object
          additionalProperties: {}
          nullable: true
    PaymentOptionDetailsPaymentCode:
      type: object
      properties:
        channelCode:
          type: string
          nullable: true
        agentCode:
          type: string
          nullable: true
        agentChannelCode:
          type: string
          nullable: true
    PaymentOptionDetailsRequest:
      required:
        - categoryCode
        - groupCode
        - paymentToken
      type: object
      properties:
        categoryCode:
          type: string
        groupCode:
          type: string
        paymentToken:
          type: string
        locale:
          type: string
          nullable: true
        clientID:
          type: string
          format: uuid
        browserDetails:
          $ref: '#/components/schemas/BrowserDetails'
    PaymentOptionDetailsResponse:
      type: object
      properties:
        totalChannel:
          type: integer
          format: int32
        name:
          type: string
          nullable: true
        categoryCode:
          type: string
          nullable: true
        groupCode:
          type: string
          nullable: true
        iconUrl:
          type: string
          nullable: true
        channels:
          type: array
          items:
            $ref: '#/components/schemas/PaymentOptionDetailsChannel'
          nullable: true
        validation:
          $ref: '#/components/schemas/PaymentOptionDetailsValidation'
        configuration:
          $ref: '#/components/schemas/MerchantConfiguration'
        respCode:
          type: string
          nullable: true
        respDesc:
          type: string
          nullable: true
    PaymentOptionDetailsValidation:
      type: object
      properties:
        cardNo:
          $ref: '#/components/schemas/PaymentOptionDetailsValidationCard'
        cardTypes:
          type: array
          items:
            $ref: '#/components/schemas/PaymentOptionDetailsValidationCardType'
          nullable: true
    PaymentOptionDetailsValidationCard:
      type: object
      properties:
        prefixes:
          type: array
          items:
            type: string
          nullable: true
        regex:
          type: string
          nullable: true
    PaymentOptionDetailsValidationCardType:
      type: object
      properties:
        sequenceNo:
          type: integer
          format: int32
        name:
          type: string
          nullable: true
        prefixes:
          type: array
          items:
            type: string
          nullable: true
        regex:
          type: string
          nullable: true
        iconUrl:
          type: string
          nullable: true
    PaymentOptionResponse:
      type: object
      properties:
        paymentToken:
          type: string
          nullable: true
        merchantDetails:
          $ref: '#/components/schemas/MerchantDetails'
        transactionDetails:
          $ref: '#/components/schemas/TransactionDetails'
        channelCategories:
          type: array
          items:
            $ref: '#/components/schemas/PaymentChannelCategory'
          nullable: true
        userDetails:
          $ref: '#/components/schemas/UserDetails'
        respCode:
          type: string
          nullable: true
        respDesc:
          type: string
          nullable: true
    PaymentParamsDataRequestV43:
      type: object
      properties:
        accountTokenization:
          type: boolean
        customerToken:
          type: string
          nullable: true
        name:
          type: string
          nullable: true
        email:
          type: string
          nullable: true
        mobileNo:
          type: string
          nullable: true
        accountNo:
          type: string
          nullable: true
        securePayToken:
          type: string
          nullable: true
        cardBank:
          type: string
          nullable: true
        cardCountry:
          type: string
          nullable: true
        installmentPeriod:
          type: integer
          format: int32
        payLaterPeriod:
          type: integer
          format: int32
          nullable: true
        interestType:
          type: string
          nullable: true
        securityCode:
          type: string
          nullable: true
        qrType:
          type: string
          nullable: true
        fxRateID:
          type: string
          nullable: true
        billingAddress1:
          type: string
          nullable: true
        billingAddress2:
          type: string
          nullable: true
        billingAddress3:
          type: string
          nullable: true
        billingCity:
          type: string
          nullable: true
        billingState:
          type: string
          nullable: true
        billingPostalCode:
          type: string
          nullable: true
        billingCountryCode:
          type: string
          nullable: true
        paymentExpiry:
          type: string
          nullable: true
        cardNo:
          type: string
          nullable: true
        expiryMonth:
          type: string
          nullable: true
        expiryYear:
          type: string
          nullable: true
        pin:
          type: string
          nullable: true
        loyaltyPoints:
          type: array
          items:
            $ref: '#/components/schemas/LoyaltyDetails'
          nullable: true
        customerNote:
          type: string
          nullable: true
        userAgent:
          type: string
          nullable: true
    PaymentParamsRequestV43:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/PaymentParamsDataRequestV43'
        code:
          $ref: '#/components/schemas/PaymentOptionDetailsPaymentCode'
    PaymentRequestV43:
      required:
        - paymentToken
      type: object
      properties:
        payment:
          $ref: '#/components/schemas/PaymentParamsRequestV43'
        responseReturnUrl:
          type: string
          nullable: true
        clientIP:
          type: string
          nullable: true
        paymentToken:
          type: string
        locale:
          type: string
          nullable: true
        clientID:
          type: string
          format: uuid
        browserDetails:
          $ref: '#/components/schemas/BrowserDetails'
    PaymentResponse:
      type: object
      properties:
        channelCode:
          type: string
          nullable: true
        respCode:
          type: string
          nullable: true
        respDesc:
          type: string
          nullable: true
    PaymentResponseBase:
      type: object
      properties:
        respCode:
          type: string
          nullable: true
        respDesc:
          type: string
          nullable: true
    PaymentUserPreference:
      type: object
      properties:
        preference:
          $ref: '#/components/schemas/UserPreference'
        paymentChannels:
          type: array
          items:
            $ref: '#/components/schemas/PaymentChannelPreference'
          nullable: true
    PaymentUserPreferenceResponse:
      type: object
      properties:
        paymentToken:
          type: string
          nullable: true
        user:
          $ref: '#/components/schemas/PaymentUserPreference'
        respCode:
          type: string
          nullable: true
        respDesc:
          type: string
          nullable: true
    PodInfoProviderMerchantDetails:
      type: object
      properties:
        id:
          type: string
          nullable: true
        name:
          type: string
          nullable: true
        countryCode:
          type: string
          nullable: true
    PodInfoProviderTransactionDetails:
      type: object
      properties:
        description:
          type: string
          nullable: true
        amount:
          type: number
          format: double
        currencyCode:
          type: string
          nullable: true
        invoiceNo:
          type: string
          nullable: true
    Recurring:
      type: object
      properties:
        amount:
          type: string
          nullable: true
        interval:
          type: integer
          format: int32
        count:
          type: integer
          format: int32
        chargeNextDate:
          type: string
          nullable: true
        chargeOnDate:
          type: string
          nullable: true
    ResponsePaymentChannel:
      type: object
      properties:
        id:
          type: integer
          format: int32
          nullable: true
        sequenceNo:
          type: integer
          format: int32
        name:
          type: string
          nullable: true
        code:
          type: string
          nullable: true
        iconUrl:
          type: string
          nullable: true
        logoUrl:
          type: string
          nullable: true
        default:
          type: boolean
        channelCode:
          type: string
          nullable: true
        agentChannelCode:
          type: string
          nullable: true
        optionName:
          type: string
          nullable: true
        paymentCode:
          type: string
          nullable: true
        qrType:
          type: string
          nullable: true
        expirationTimer:
          type: string
          nullable: true
        expirationDescription:
          type: string
          nullable: true
        expiration:
          type: boolean
    TransactionDetails:
      type: object
      properties:
        description:
          type: string
          nullable: true
        amount:
          type: string
          nullable: true
        currencyCode:
          type: string
          nullable: true
        invoiceNo:
          type: string
          nullable: true
        recurring:
          $ref: '#/components/schemas/Recurring'
        dateTime:
          type: string
          nullable: true
        paymentItems:
          type: array
          items:
            $ref: '#/components/schemas/PaymentItem'
          nullable: true
        showFxRate:
          type: boolean
    TransactionStatusAdditionalInfo:
      type: object
      properties:
        merchantDetails:
          $ref: '#/components/schemas/TransactionStatusMerchant'
        transactionDetails:
          $ref: '#/components/schemas/TransactionStatusInfo'
        paymentResultDetails:
          $ref: '#/components/schemas/TransactionStatusPayment'
    TransactionStatusInfo:
      type: object
      properties:
        description:
          type: string
          nullable: true
        dateTime:
          type: string
          nullable: true
        agentCode:
          type: string
          nullable: true
        channelCode:
          type: string
          nullable: true
        data:
          type: string
          nullable: true
        amount:
          type: string
          nullable: true
        currencyCode:
          type: string
          nullable: true
        invoiceNo:
          type: string
          nullable: true
        installmentPeriod:
          type: integer
          format: int32
          nullable: true
        payLaterPeriod:
          type: integer
          format: int32
          nullable: true
        interestType:
          type: string
          nullable: true
        interestRate:
          type: number
          format: double
          nullable: true
        monthlyPayment:
          type: string
          nullable: true
        ippAdditionalInfo:
          type: string
          nullable: true
        remainderChargeMode:
          type: string
          nullable: true
        remainderChargeAmount:
          type: number
          format: double
          nullable: true
        loyaltyPoints:
          type: array
          items:
            $ref: '#/components/schemas/TransactionStatusLoyaltyInfo'
          nullable: true
    TransactionStatusLoyaltyInfo:
      type: object
      properties:
        paymentScheme:
          type: string
          nullable: true
        redeemAmount:
          type: number
          format: double
        rewards:
          type: array
          items:
            $ref: '#/components/schemas/TransactionStatusRewards'
          nullable: true
    TransactionStatusMerchant:
      type: object
      properties:
        name:
          type: string
          nullable: true
        address:
          type: string
          nullable: true
        email:
          type: string
          nullable: true
        logoUrl:
          type: string
          nullable: true
    TransactionStatusPayment:
      type: object
      properties:
        description:
          type: string
          nullable: true
        code:
          type: string
          nullable: true
        autoRedirect:
          type: boolean
        redirectImmediately:
          type: boolean
        autoRedirectionTimer:
          type: integer
          format: int32
        frontendReturnUrl:
          type: string
          nullable: true
        frontendReturnData:
          type: string
          nullable: true
    TransactionStatusRequest:
      required:
        - paymentToken
      type: object
      properties:
        additionalInfo:
          type: boolean
        paymentToken:
          type: string
        locale:
          type: string
          nullable: true
        clientID:
          type: string
          format: uuid
        browserDetails:
          $ref: '#/components/schemas/BrowserDetails'
    TransactionStatusResponse:
      type: object
      properties:
        locale:
          type: string
          nullable: true
        additionalInfo:
          $ref: '#/components/schemas/TransactionStatusAdditionalInfo'
        invoiceNo:
          type: string
          nullable: true
        channelCode:
          type: string
          nullable: true
        respCode:
          type: string
          nullable: true
        respDesc:
          type: string
          nullable: true
    TransactionStatusRewards:
      type: object
      properties:
        totalPrice:
          type: number
          format: double
        totalAmount:
          type: number
          format: double
        name:
          type: string
          nullable: true
        type:
          type: string
          nullable: true
        amount:
          type: number
          format: double
        quantity:
          type: number
          format: double
        price:
          type: number
          format: double
    UserDetails:
      type: object
      properties:
        address:
          $ref: '#/components/schemas/CustomerAddress'
    UserPreference:
      type: object
      properties:
        name:
          type: string
          nullable: true
        email:
          type: string
          nullable: true
        mobileNo:
          type: string
          nullable: true
        mobileNoPrefix:
          type: string
          nullable: true
        locale:
          type: string
          nullable: true
        currencyCode:
          type: string
          nullable: true
        countryCode:
          type: string
          nullable: true
    RedirectBackEndPostPaymentRedirectRequest:
      type: object
      properties:
        paymentResponse:
          type: string
        isLeaveApp:
          type: string
    RedirectFrontEndPostPaymentRedirectRequest:
      type: object
      properties:
        payResponse:
          type: string
        isLeaveApp:
          type: string
x-readme:
  explorer-enabled: true
  proxy-enabled: true
_id: 64019360753e9d0068bfdaf1
