openapi: 3.0.2
info:
  title: 7shifts API
  description: >-
    7shifts is a team management software designed for restaurants. We help
    managers and operators spend less time and effort scheduling their staff,
    reduce their monthly labor costs and improve team communication. The result
    is simplified team management, one shift at a time.


    7shifts also offers free mobile apps (iOS and Android) allowing managers and
    employees to have everything at their fingertips.


    Start your free trial or request a demo at www.7shifts.com.
  version: '2023-05-01'
  contact:
    email: api-support@7shifts.com
  x-konfig-ignore:
    object-with-no-properties: true
    potential-incorrect-type: true
servers:
  - description: Production server
    url: https://api.7shifts.com
tags:
  - name: Task Management
  - name: Log Book
  - name: User Assignments
  - name: Availability
  - name: Time Off
  - name: Users
  - name: External User Mappings
  - name: Forecast Overrides
  - name: Companies
  - name: Locations
  - name: Departments
  - name: Roles
  - name: Shifts
  - name: Time Punches
  - name: Receipts
  - name: Schedule Events
  - name: Tip Pool
  - name: Webhooks
  - name: Reports
  - name: Integration Mappings
  - name: Authentication
  - name: User Wages
  - name: Account
  - name: Schedule Enforcement
  - name: Shift Feedback
  - name: Engage
  - name: Day Part
paths:
  /oauth2/token:
    post:
      servers:
        - description: Override base path token generation
          url: https://app.7shifts.com
      tags:
        - Authentication
      summary: Create OAuth Token
      operationId: Authentication_generateOAuthToken
      security: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AuthenticationGenerateOAuthTokenRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationGenerateOAuthTokenResponse'
        '500':
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/AuthenticationGenerateOAuthToken500Response
      x-public-api: true
  /v2/whoami:
    get:
      tags:
        - Authentication
      summary: Retrieve Identity
      operationId: Authentication_getIdentity
      parameters:
        - description: 7shifts API version
          name: x-api-version
          in: header
          required: false
          schema:
            description: An API version
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
            example: '2022-05-01'
        - description: Company GUID
          name: x-company-guid
          in: header
          required: false
          schema:
            type: string
            format: uuid
          example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationGetIdentityResponse'
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/AuthenticationGetIdentity401Response'
        '500':
          description: Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/AuthenticationGetIdentity500Response'
      x-public-api: true
  /v2/partner_company_creation:
    post:
      tags:
        - Account
      summary: Create Trial Account
      operationId: Account_createTrialAccount
      parameters:
        - description: 7shifts API version
          name: x-api-version
          in: header
          required: false
          schema:
            description: An API version
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
            example: '2022-05-01'
        - description: Company GUID
          name: x-company-guid
          in: header
          required: false
          schema:
            type: string
            format: uuid
          example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountCreateTrialAccountRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountCreateTrialAccountResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/AccountCreateTrialAccount400Response'
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/AccountCreateTrialAccount401Response'
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/AccountCreateTrialAccount403Response'
        '422':
          description: Unprocessable Entity
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/AccountCreateTrialAccount422Response'
        '500':
          description: Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/AccountCreateTrialAccount500Response'
      x-public-api: true
  /v2/companies:
    get:
      tags:
        - Companies
      summary: List Companies
      operationId: Companies_list
      parameters:
        - description: 7shifts API version
          name: x-api-version
          in: header
          required: false
          schema:
            description: An API version
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
            example: '2022-05-01'
        - description: Company GUID
          name: x-company-guid
          in: header
          required: false
          schema:
            type: string
            format: uuid
          example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
        - description: >-
            Return companies that have been modified since the specified date.
            Format YYYY-MM-DD
          name: modified_since
          in: query
          required: false
          schema:
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
          example: '2020-01-01'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompaniesListResponse'
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/CompaniesList401Response'
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/CompaniesList403Response'
        '500':
          description: Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/CompaniesList500Response'
      x-public-api: true
  /v2/companies/{id}:
    get:
      tags:
        - Companies
      summary: Retrieve Company
      operationId: Companies_getById
      parameters:
        - description: 7shifts API version
          name: x-api-version
          in: header
          required: false
          schema:
            description: An API version
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
            example: '2022-05-01'
        - description: Company GUID
          name: x-company-guid
          in: header
          required: false
          schema:
            type: string
            format: uuid
          example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
        - description: Company ID
          name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
          example: 8655
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompaniesGetByIdResponse'
        '500':
          description: Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/CompaniesGetById500Response'
      x-public-api: true
    patch:
      tags:
        - Companies
      summary: Update Company
      operationId: Companies_updateCompanyById
      parameters:
        - description: 7shifts API version
          name: x-api-version
          in: header
          required: false
          schema:
            description: An API version
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
            example: '2022-05-01'
        - description: Company GUID
          name: x-company-guid
          in: header
          required: false
          schema:
            type: string
            format: uuid
          example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
        - description: Company ID
          name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompaniesUpdateCompanyByIdRequest'
      responses:
        '200':
          description: A company
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompaniesUpdateCompanyByIdResponse'
        '403':
          description: Not authorized to update a company
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/CompaniesUpdateCompanyById403Response'
      x-public-api: true
  /v2/company/{company_id}/labor_settings:
    get:
      tags:
        - Companies
      summary: Retrieve Labor Settings
      operationId: Companies_getLaborSettings
      parameters:
        - description: 7shifts API version
          name: x-api-version
          in: header
          required: false
          schema:
            description: An API version
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
            example: '2022-05-01'
        - description: Company GUID
          name: x-company-guid
          in: header
          required: false
          schema:
            type: string
            format: uuid
          example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
        - description: Company ID
          name: company_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
          example: 1234
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompaniesGetLaborSettingsResponse'
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/CompaniesGetLaborSettings401Response'
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/CompaniesGetLaborSettings403Response'
        '500':
          description: Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/CompaniesGetLaborSettings500Response'
      x-public-api: true
  /v2/company/{company_id}/inactive_reasons:
    get:
      tags:
        - Companies
      summary: List Inactive Reasons
      operationId: Companies_listInactiveReasons
      parameters:
        - description: 7shifts API version
          name: x-api-version
          in: header
          required: false
          schema:
            description: An API version
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
            example: '2022-05-01'
        - description: Company GUID
          name: x-company-guid
          in: header
          required: false
          schema:
            type: string
            format: uuid
          example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
        - description: Company ID
          name: company_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompaniesListInactiveReasonsResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/CompaniesListInactiveReasons400Response'
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/CompaniesListInactiveReasons403Response'
        '500':
          description: Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/CompaniesListInactiveReasons500Response'
      x-public-api: true
  /v2/company/{company_id}/locations:
    get:
      tags:
        - Locations
      summary: List Locations
      operationId: Locations_listGet
      parameters:
        - description: 7shifts API version
          name: x-api-version
          in: header
          required: false
          schema:
            description: An API version
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
            example: '2022-05-01'
        - description: Company GUID
          name: x-company-guid
          in: header
          required: false
          schema:
            type: string
            format: uuid
          example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
        - description: Company ID
          name: company_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
          example: 1234
        - description: >-
            Return locations that have been modified since the specified date.
            Format YYYY-MM-DD
          name: modified_since
          in: query
          required: false
          schema:
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
          example: '2020-01-01'
        - description: When TRUE the search will return deleted locations
          name: deleted
          in: query
          schema:
            type: boolean
            default: false
          required: false
        - description: Cursor for the next or previous page of results.
          name: cursor
          in: query
          required: false
          schema:
            type: string
        - description: The number of results desired per page.
          name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 500
            default: 100
            format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationsListGetResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/LocationsListGet400Response'
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/LocationsListGet403Response'
        '500':
          description: Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/LocationsListGet500Response'
      x-public-api: true
    post:
      tags:
        - Locations
      summary: Create Location
      operationId: Locations_create
      parameters:
        - description: 7shifts API version
          name: x-api-version
          in: header
          required: false
          schema:
            description: An API version
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
            example: '2022-05-01'
        - description: Company GUID
          name: x-company-guid
          in: header
          required: false
          schema:
            type: string
            format: uuid
          example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
        - description: Company ID
          name: company_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
          example: 1234
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LocationsCreateRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationsCreateResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/LocationsCreate400Response'
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/LocationsCreate403Response'
        '500':
          description: Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/LocationsCreate500Response'
      x-public-api: true
  /v2/company/{company_id}/locations/{location_id}:
    get:
      tags:
        - Locations
      summary: Retrieve Location
      operationId: Locations_getLocation
      parameters:
        - description: 7shifts API version
          name: x-api-version
          in: header
          required: false
          schema:
            description: An API version
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
            example: '2022-05-01'
        - description: Company GUID
          name: x-company-guid
          in: header
          required: false
          schema:
            type: string
            format: uuid
          example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
        - description: Company ID
          name: company_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
          example: 1234
        - description: Location ID
          name: location_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
          example: 1234
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationsGetLocationResponse'
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/LocationsGetLocation403Response'
        '404':
          description: Not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/LocationsGetLocation404Response'
        '500':
          description: Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/LocationsGetLocation500Response'
      x-public-api: true
    put:
      tags:
        - Locations
      summary: Update Location
      operationId: Locations_updateLocationById
      parameters:
        - description: 7shifts API version
          name: x-api-version
          in: header
          required: false
          schema:
            description: An API version
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
            example: '2022-05-01'
        - description: Company GUID
          name: x-company-guid
          in: header
          required: false
          schema:
            type: string
            format: uuid
          example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
        - description: Company ID
          name: company_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
          example: 1234
        - description: Location ID
          name: location_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
          example: 1234
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LocationsUpdateLocationByIdRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationsUpdateLocationByIdResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/LocationsUpdateLocationById400Response'
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/LocationsUpdateLocationById403Response'
        '404':
          description: Not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/LocationsUpdateLocationById404Response'
        '500':
          description: Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/LocationsUpdateLocationById500Response'
      x-public-api: true
    delete:
      tags:
        - Locations
      summary: Delete Location
      operationId: Locations_removeLocationById
      parameters:
        - description: 7shifts API version
          name: x-api-version
          in: header
          required: false
          schema:
            description: An API version
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
            example: '2022-05-01'
        - description: Company GUID
          name: x-company-guid
          in: header
          required: false
          schema:
            type: string
            format: uuid
          example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
        - description: Company ID
          name: company_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
          example: 1234
        - description: Location ID
          name: location_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
          example: 1234
      responses:
        '204':
          description: No Content
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/LocationsRemoveLocationByIdResponse'
        '404':
          description: Not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/LocationsRemoveLocationById404Response'
        '500':
          description: Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/LocationsRemoveLocationById500Response'
      x-public-api: true
  /v2/company/{company_id}/departments:
    get:
      tags:
        - Departments
      summary: List Departments
      operationId: Departments_list
      parameters:
        - description: 7shifts API version
          name: x-api-version
          in: header
          required: false
          schema:
            description: An API version
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
            example: '2022-05-01'
        - description: Company GUID
          name: x-company-guid
          in: header
          required: false
          schema:
            type: string
            format: uuid
          example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
        - description: Company ID
          name: company_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
          example: 1234
        - description: >-
            Return departments that have been modified since the specified date.
            Format YYYY-MM-DD
          name: modified_since
          in: query
          required: false
          schema:
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
          example: '2020-01-01'
        - description: Cursor for the next or previous page of results.
          name: cursor
          in: query
          required: false
          schema:
            type: string
        - description: The number of results desired per page.
          name: limit
          in: query
          required: false
          schema:
            type: integer
            format: int64
        - description: Return departments that match the provided location ID
          name: location_id
          in: query
          required: false
          schema:
            type: integer
            format: int64
          example: 1234
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepartmentsListResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/DepartmentsList400Response'
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/DepartmentsList403Response'
        '500':
          description: Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/DepartmentsList500Response'
      x-public-api: true
    post:
      tags:
        - Departments
      summary: Create Department
      operationId: Departments_createNewDepartment
      parameters:
        - description: 7shifts API version
          name: x-api-version
          in: header
          required: false
          schema:
            description: An API version
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
            example: '2022-05-01'
        - description: Company GUID
          name: x-company-guid
          in: header
          required: false
          schema:
            type: string
            format: uuid
          example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
        - description: Company ID
          name: company_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
          example: 1234
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DepartmentsCreateNewDepartmentRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepartmentsCreateNewDepartmentResponse'
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/DepartmentsCreateNewDepartment403Response'
        '422':
          description: Unprocessable Entity
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/DepartmentsCreateNewDepartment422Response'
        '500':
          description: Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/DepartmentsCreateNewDepartment500Response'
      x-public-api: true
  /v2/company/{company_id}/departments/{department_id}:
    get:
      tags:
        - Departments
      summary: Retrieve Department
      operationId: Departments_getDepartment
      parameters:
        - description: 7shifts API version
          name: x-api-version
          in: header
          required: false
          schema:
            description: An API version
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
            example: '2022-05-01'
        - description: Company GUID
          name: x-company-guid
          in: header
          required: false
          schema:
            type: string
            format: uuid
          example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
        - description: Company ID
          name: company_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
          example: 1234
        - description: Department ID
          name: department_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
          example: 1234
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepartmentsGetDepartmentResponse'
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/DepartmentsGetDepartment403Response'
        '404':
          description: Not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/DepartmentsGetDepartment404Response'
        '500':
          description: Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/DepartmentsGetDepartment500Response'
      x-public-api: true
    put:
      tags:
        - Departments
      summary: Update Department
      operationId: Departments_updateDepartment
      parameters:
        - description: 7shifts API version
          name: x-api-version
          in: header
          required: false
          schema:
            description: An API version
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
            example: '2022-05-01'
        - description: Company GUID
          name: x-company-guid
          in: header
          required: false
          schema:
            type: string
            format: uuid
          example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
        - description: Company ID
          name: company_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
          example: 1234
        - description: Department ID
          name: department_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
          example: 1234
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DepartmentsUpdateDepartmentRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepartmentsUpdateDepartmentResponse'
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/DepartmentsUpdateDepartment403Response'
        '404':
          description: Not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/DepartmentsUpdateDepartment404Response'
        '500':
          description: Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/DepartmentsUpdateDepartment500Response'
      x-public-api: true
    delete:
      tags:
        - Departments
      summary: Delete Department
      operationId: Departments_deleteById
      parameters:
        - description: 7shifts API version
          name: x-api-version
          in: header
          required: false
          schema:
            description: An API version
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
            example: '2022-05-01'
        - description: Company GUID
          name: x-company-guid
          in: header
          required: false
          schema:
            type: string
            format: uuid
          example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
        - description: Company ID
          name: company_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
          example: 1234
        - description: Department ID
          name: department_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
          example: 1234
        - description: Department ID to move roles and shifts to
          name: transfer_to
          in: query
          required: false
          schema:
            type: integer
            format: int64
          example: 1234
      responses:
        '204':
          description: No Content
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/DepartmentsDeleteByIdResponse'
        '404':
          description: Not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/DepartmentsDeleteById404Response'
        '500':
          description: Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/DepartmentsDeleteById500Response'
      x-public-api: true
  /v2/company/{company_id}/roles:
    get:
      tags:
        - Roles
      summary: List Roles
      operationId: Roles_list
      parameters:
        - description: 7shifts API version
          name: x-api-version
          in: header
          required: false
          schema:
            description: An API version
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
            example: '2022-05-01'
        - description: Company GUID
          name: x-company-guid
          in: header
          required: false
          schema:
            type: string
            format: uuid
          example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
        - description: Company ID
          name: company_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
          example: 1234
        - description: Location ID
          name: location_id
          in: query
          required: false
          schema:
            type: integer
            format: int64
        - description: Department ID
          name: department_id
          in: query
          required: false
          schema:
            type: integer
            format: int64
        - description: Role IDs
          name: ids
          in: query
          required: false
          style: form
          explode: false
          example: 123,321
          schema:
            type: array
            items:
              type: integer
              format: int64
        - description: >-
            Return roles that have been modified since the specified date.
            Format YYYY-MM-DD
          name: modified_since
          in: query
          required: false
          schema:
            description: A date with YYYY-MM-DD format
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
            example: '2020-01-01'
        - description: Cursor for the next or previous page of results.
          name: cursor
          in: query
          required: false
          schema:
            type: string
        - description: The number of results desired per page.
          name: limit
          in: query
          required: false
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RolesListResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/RolesList400Response'
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/RolesList403Response'
        '404':
          description: Not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/RolesList404Response'
        '500':
          description: Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/RolesList500Response'
      x-public-api: true
    post:
      tags:
        - Roles
      summary: Create Role
      operationId: Roles_createRole
      parameters:
        - description: 7shifts API version
          name: x-api-version
          in: header
          required: false
          schema:
            description: An API version
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
            example: '2022-05-01'
        - description: Company GUID
          name: x-company-guid
          in: header
          required: false
          schema:
            type: string
            format: uuid
          example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
        - description: The company id
          name: company_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
          example: 1234
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RolesCreateRoleRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RolesCreateRoleResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/RolesCreateRole400Response'
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/RolesCreateRole403Response'
        '422':
          description: Unprocessable Entity
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/RolesCreateRole422Response'
        '500':
          description: Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/RolesCreateRole500Response'
      x-public-api: true
  /v2/company/{company_id}/roles/{role_id}:
    get:
      tags:
        - Roles
      summary: Retrieve Role
      operationId: Roles_getRole
      parameters:
        - description: 7shifts API version
          name: x-api-version
          in: header
          required: false
          schema:
            description: An API version
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
            example: '2022-05-01'
        - description: Company GUID
          name: x-company-guid
          in: header
          required: false
          schema:
            type: string
            format: uuid
          example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
        - description: Company ID
          name: company_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
          example: 1234
        - description: Role ID
          name: role_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
          example: 1234
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RolesGetRoleResponse'
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/RolesGetRole403Response'
        '404':
          description: Not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/RolesGetRole404Response'
        '500':
          description: Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/RolesGetRole500Response'
      x-public-api: true
    put:
      tags:
        - Roles
      summary: Update Role
      operationId: Roles_updateRoleById
      parameters:
        - description: 7shifts API version
          name: x-api-version
          in: header
          required: false
          schema:
            description: An API version
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
            example: '2022-05-01'
        - description: Company GUID
          name: x-company-guid
          in: header
          required: false
          schema:
            type: string
            format: uuid
          example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
        - description: Company ID
          name: company_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
          example: 1234
        - description: Role ID
          name: role_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
          example: 1234
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RolesUpdateRoleByIdRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RolesUpdateRoleByIdResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/RolesUpdateRoleById400Response'
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/RolesUpdateRoleById403Response'
        '404':
          description: Not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/RolesUpdateRoleById404Response'
        '422':
          description: Unprocessable Entity
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/RolesUpdateRoleById422Response'
        '500':
          description: Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/RolesUpdateRoleById500Response'
      x-public-api: true
    delete:
      tags:
        - Roles
      summary: Delete Role
      operationId: Roles_deleteRole
      parameters:
        - description: 7shifts API version
          name: x-api-version
          in: header
          required: false
          schema:
            description: An API version
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
            example: '2022-05-01'
        - description: Company GUID
          name: x-company-guid
          in: header
          required: false
          schema:
            type: string
            format: uuid
          example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
        - description: Company ID
          name: company_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - description: Role ID
          name: role_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/RolesDeleteRoleResponse'
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/RolesDeleteRole403Response'
        '404':
          description: Not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/RolesDeleteRole404Response'
        '500':
          description: Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/RolesDeleteRole500Response'
      x-public-api: true
  /v2/company/{company_id}/users:
    get:
      tags:
        - Users
      summary: List Users
      operationId: Users_list
      parameters:
        - description: 7shifts API version
          name: x-api-version
          in: header
          required: false
          schema:
            description: An API version
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
            example: '2022-05-01'
        - description: Company GUID
          name: x-company-guid
          in: header
          required: false
          schema:
            type: string
            format: uuid
          example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
        - description: Company ID
          name: company_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
          example: 1234
        - description: >-
            Return users that have been modified since the specified date.
            Format YYYY-MM-DD
          name: modified_since
          in: query
          required: false
          schema:
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
          example: '2020-01-01'
        - description: >-
            Location ID (cannot be used in conjunction with Department ID and
            Role ID)
          name: location_id
          in: query
          required: false
          schema:
            type: integer
        - description: >-
            Department ID (cannot be used in conjunction with Location ID and
            Role ID)
          name: department_id
          in: query
          required: false
          schema:
            type: integer
        - description: >-
            Role ID (cannot be used in conjunction with Location ID and
            Department ID)
          name: role_id
          in: query
          required: false
          schema:
            type: integer
        - description: The user status
          name: status
          in: query
          required: false
          schema:
            type: string
            enum:
              - active
              - inactive
        - description: Filter by partial or full employee name
          name: name
          in: query
          required: false
          schema:
            type: string
        - description: Sort the paginated result by the given field and direction.
          name: sort_by
          in: query
          example: firstname.asc,lastname.desc
          required: false
          schema:
            type: string
            pattern: ^(,?[a-zA-Z_]*(\.(asc|desc))?){1,}$
        - description: Cursor for the next or previous page of results.
          name: cursor
          in: query
          required: false
          schema:
            type: string
        - description: The number of results desired per page.
          name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 500
            default: 100
            format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersListResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UsersList400Response'
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UsersList401Response'
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UsersList403Response'
        '500':
          description: Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UsersList500Response'
      x-public-api: true
    post:
      tags:
        - Users
      summary: Create User
      operationId: Users_createNewUser
      parameters:
        - description: 7shifts API version
          name: x-api-version
          in: header
          required: false
          schema:
            description: An API version
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
            example: '2022-05-01'
        - description: Company GUID
          name: x-company-guid
          in: header
          required: false
          schema:
            type: string
            format: uuid
          example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
        - description: Company ID
          name: company_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsersCreateNewUserRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersCreateNewUserResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UsersCreateNewUser400Response'
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UsersCreateNewUser401Response'
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UsersCreateNewUser403Response'
        '404':
          description: Not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UsersCreateNewUser404Response'
        '422':
          description: Unprocessable Entity
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UsersCreateNewUser422Response'
        '500':
          description: Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UsersCreateNewUser500Response'
      x-public-api: true
  /v2/company/{company_id}/create_many_users:
    post:
      tags:
        - Users
      summary: Create Many Users
      operationId: Users_bulkCreate
      parameters:
        - description: 7shifts API version
          name: x-api-version
          in: header
          required: false
          schema:
            description: An API version
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
            example: '2022-05-01'
        - description: Company GUID
          name: x-company-guid
          in: header
          required: false
          schema:
            type: string
            format: uuid
          example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
        - description: Company ID
          name: company_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsersBulkCreateRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersBulkCreateResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UsersBulkCreate400Response'
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UsersBulkCreate401Response'
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UsersBulkCreate403Response'
        '404':
          description: Not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UsersBulkCreate404Response'
        '500':
          description: Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UsersBulkCreate500Response'
      x-public-api: true
  /v2/company/{company_id}/users/{identifier}:
    get:
      tags:
        - Users
      summary: Retrieve User
      operationId: Users_getUserByIdentifier
      parameters:
        - description: 7shifts API version
          name: x-api-version
          in: header
          required: false
          schema:
            description: An API version
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
            example: '2022-05-01'
        - description: Company GUID
          name: x-company-guid
          in: header
          required: false
          schema:
            type: string
            format: uuid
          example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
        - description: Company ID
          name: company_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - description: >-
            User ID. Accepted values are 7shifts user id or punch id. Use prefix
            punch: for punch id
          name: identifier
          in: path
          examples:
            internal:
              summary: 7shifts User ID
              value: '46734'
            external:
              summary: '7punches ID prefixed with punch:'
              value: punch:74565
          required: true
          schema:
            type: string
            format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersGetUserByIdentifierResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UsersGetUserByIdentifier400Response'
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UsersGetUserByIdentifier403Response'
        '404':
          description: Not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UsersGetUserByIdentifier404Response'
      x-public-api: true
    put:
      tags:
        - Users
      summary: Update User
      operationId: Users_updateUserByIdentifier
      parameters:
        - description: 7shifts API version
          name: x-api-version
          in: header
          required: false
          schema:
            description: An API version
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
            example: '2022-05-01'
        - description: Company GUID
          name: x-company-guid
          in: header
          required: false
          schema:
            type: string
            format: uuid
          example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
        - description: Company ID
          name: company_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - description: User ID
          name: identifier
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsersUpdateUserByIdentifierRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersUpdateUserByIdentifierResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UsersUpdateUserByIdentifier400Response'
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UsersUpdateUserByIdentifier401Response'
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UsersUpdateUserByIdentifier403Response'
        '404':
          description: Not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UsersUpdateUserByIdentifier404Response'
        '422':
          description: Unprocessable Entity
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UsersUpdateUserByIdentifier422Response'
        '500':
          description: Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UsersUpdateUserByIdentifier500Response'
      x-public-api: true
    delete:
      tags:
        - Users
      summary: Deactivate User
      operationId: Users_deactivate
      parameters:
        - description: 7shifts API version
          name: x-api-version
          in: header
          required: false
          schema:
            description: An API version
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
            example: '2022-05-01'
        - description: Company GUID
          name: x-company-guid
          in: header
          required: false
          schema:
            type: string
            format: uuid
          example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
        - description: Company ID
          name: company_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - description: User ID
          name: identifier
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsersDeactivateRequest'
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UsersDeactivateResponse'
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UsersDeactivate401Response'
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UsersDeactivate403Response'
        '404':
          description: Not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UsersDeactivate404Response'
        '500':
          description: Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UsersDeactivate500Response'
      x-public-api: true
  /v2/company/{company_id}/users/{user_id}/wages:
    get:
      tags:
        - User Wages
      summary: List User Wages
      operationId: UserWages_list
      parameters:
        - description: 7shifts API version
          name: x-api-version
          in: header
          required: false
          schema:
            description: An API version
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
            example: '2022-05-01'
        - description: Company GUID
          name: x-company-guid
          in: header
          required: false
          schema:
            type: string
            format: uuid
          example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
        - description: Company ID
          name: company_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - description: User ID
          name: user_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserWagesListResponse'
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UserWagesList403Response'
        '404':
          description: Not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UserWagesList404Response'
        '500':
          description: Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UserWagesList500Response'
      x-public-api: true
    post:
      tags:
        - User Wages
      summary: Create User Wage
      operationId: UserWages_create
      parameters:
        - description: 7shifts API version
          name: x-api-version
          in: header
          required: false
          schema:
            description: An API version
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
            example: '2022-05-01'
        - description: Company GUID
          name: x-company-guid
          in: header
          required: false
          schema:
            type: string
            format: uuid
          example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
        - description: Company ID
          name: company_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - description: User ID
          name: user_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserWagesCreateRequest'
      responses:
        '201':
          description: Wage created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserWagesCreateResponse'
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UserWagesCreate403Response'
        '409':
          description: Conflict
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UserWagesCreate409Response'
        '422':
          description: Unprocessable Entity
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UserWagesCreate422Response'
        '500':
          description: Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UserWagesCreate500Response'
      x-public-api: true
  /v2/company/{company_id}/users/{user_id}/assignments:
    get:
      tags:
        - User Assignments
      summary: List Assignments
      operationId: UserAssignments_list
      parameters:
        - description: 7shifts API version
          name: x-api-version
          in: header
          required: false
          schema:
            description: An API version
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
            example: '2022-05-01'
        - description: Company GUID
          name: x-company-guid
          in: header
          required: false
          schema:
            type: string
            format: uuid
          example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
        - description: Company ID
          name: company_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
          example: 1234
        - description: User ID
          name: user_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAssignmentsListResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UserAssignmentsList400Response'
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UserAssignmentsList401Response'
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UserAssignmentsList403Response'
        '404':
          description: Not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UserAssignmentsList404Response'
        '500':
          description: Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UserAssignmentsList500Response'
      x-public-api: true
  /v2/company/{company_id}/users/{user_id}/location_assignments:
    get:
      tags:
        - User Assignments
      summary: List Location Assignments
      operationId: UserAssignments_listLocationAssignments
      parameters:
        - description: 7shifts API version
          name: x-api-version
          in: header
          required: false
          schema:
            description: An API version
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
            example: '2022-05-01'
        - description: Company GUID
          name: x-company-guid
          in: header
          required: false
          schema:
            type: string
            format: uuid
          example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
        - description: Company ID
          name: company_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
          example: 1234
        - description: User ID
          name: user_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/UserAssignmentsListLocationAssignmentsResponse
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: >-
                  #/components/schemas/UserAssignmentsListLocationAssignments400Response
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: >-
                  #/components/schemas/UserAssignmentsListLocationAssignments403Response
        '404':
          description: Not found
          content:
            application/problem+json:
              schema:
                $ref: >-
                  #/components/schemas/UserAssignmentsListLocationAssignments404Response
        '500':
          description: Server Error
          content:
            application/problem+json:
              schema:
                $ref: >-
                  #/components/schemas/UserAssignmentsListLocationAssignments500Response
      x-public-api: true
    post:
      tags:
        - User Assignments
      summary: Create Location Assignments
      operationId: UserAssignments_createLocationAssignment
      parameters:
        - description: 7shifts API version
          name: x-api-version
          in: header
          required: false
          schema:
            description: An API version
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
            example: '2022-05-01'
        - description: Company GUID
          name: x-company-guid
          in: header
          required: false
          schema:
            type: string
            format: uuid
          example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
        - description: Company ID
          name: company_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
          example: 1234
        - description: User ID
          name: user_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/UserAssignmentsCreateLocationAssignmentRequest
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/UserAssignmentsCreateLocationAssignmentResponse
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: >-
                  #/components/schemas/UserAssignmentsCreateLocationAssignment400Response
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: >-
                  #/components/schemas/UserAssignmentsCreateLocationAssignment403Response
        '404':
          description: Not found
          content:
            application/problem+json:
              schema:
                $ref: >-
                  #/components/schemas/UserAssignmentsCreateLocationAssignment404Response
        '500':
          description: Server Error
          content:
            application/problem+json:
              schema:
                $ref: >-
                  #/components/schemas/UserAssignmentsCreateLocationAssignment500Response
      x-public-api: true
  /v2/company/{company_id}/users/{user_id}/location_assignments/{location_id}:
    delete:
      tags:
        - User Assignments
      summary: Delete Location Assignment
      operationId: UserAssignments_removeLocationAssignment
      parameters:
        - description: 7shifts API version
          name: x-api-version
          in: header
          required: false
          schema:
            description: An API version
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
            example: '2022-05-01'
        - description: Company GUID
          name: x-company-guid
          in: header
          required: false
          schema:
            type: string
            format: uuid
          example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
        - description: Company ID
          name: company_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
          example: 1234
        - description: User ID
          name: user_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - description: Location ID
          name: location_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: >-
                  #/components/schemas/UserAssignmentsRemoveLocationAssignmentResponse
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: >-
                  #/components/schemas/UserAssignmentsRemoveLocationAssignment403Response
        '404':
          description: Not found
          content:
            application/problem+json:
              schema:
                $ref: >-
                  #/components/schemas/UserAssignmentsRemoveLocationAssignment404Response
        '500':
          description: Server Error
          content:
            application/problem+json:
              schema:
                $ref: >-
                  #/components/schemas/UserAssignmentsRemoveLocationAssignment500Response
      x-public-api: true
  /v2/company/{company_id}/users/{user_id}/department_assignments:
    get:
      tags:
        - User Assignments
      summary: List Department Assignments
      operationId: UserAssignments_listDepartmentAssignments
      parameters:
        - description: 7shifts API version
          name: x-api-version
          in: header
          required: false
          schema:
            description: An API version
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
            example: '2022-05-01'
        - description: Company GUID
          name: x-company-guid
          in: header
          required: false
          schema:
            type: string
            format: uuid
          example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
        - description: Company ID
          name: company_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
          example: 1234
        - description: User ID
          name: user_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/UserAssignmentsListDepartmentAssignmentsResponse
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: >-
                  #/components/schemas/UserAssignmentsListDepartmentAssignments400Response
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: >-
                  #/components/schemas/UserAssignmentsListDepartmentAssignments401Response
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: >-
                  #/components/schemas/UserAssignmentsListDepartmentAssignments403Response
        '404':
          description: Not found
          content:
            application/problem+json:
              schema:
                $ref: >-
                  #/components/schemas/UserAssignmentsListDepartmentAssignments404Response
        '500':
          description: Server Error
          content:
            application/problem+json:
              schema:
                $ref: >-
                  #/components/schemas/UserAssignmentsListDepartmentAssignments500Response
      x-public-api: true
    post:
      tags:
        - User Assignments
      summary: Create Department Assignment
      operationId: UserAssignments_createDepartmentAssignment
      parameters:
        - description: 7shifts API version
          name: x-api-version
          in: header
          required: false
          schema:
            description: An API version
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
            example: '2022-05-01'
        - description: Company GUID
          name: x-company-guid
          in: header
          required: false
          schema:
            type: string
            format: uuid
          example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
        - description: Company ID
          name: company_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
          example: 1234
        - description: User ID
          name: user_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/UserAssignmentsCreateDepartmentAssignmentRequest
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/UserAssignmentsCreateDepartmentAssignmentResponse
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: >-
                  #/components/schemas/UserAssignmentsCreateDepartmentAssignment400Response
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: >-
                  #/components/schemas/UserAssignmentsCreateDepartmentAssignment401Response
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: >-
                  #/components/schemas/UserAssignmentsCreateDepartmentAssignment403Response
        '404':
          description: Not found
          content:
            application/problem+json:
              schema:
                $ref: >-
                  #/components/schemas/UserAssignmentsCreateDepartmentAssignment404Response
        '500':
          description: Server Error
          content:
            application/problem+json:
              schema:
                $ref: >-
                  #/components/schemas/UserAssignmentsCreateDepartmentAssignment500Response
      x-public-api: true
  /v2/company/{company_id}/users/{user_id}/department_assignments/{department_id}:
    delete:
      tags:
        - User Assignments
      summary: Delete Department Assignment
      operationId: UserAssignments_removeDepartmentAssignment
      parameters:
        - description: 7shifts API version
          name: x-api-version
          in: header
          required: false
          schema:
            description: An API version
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
            example: '2022-05-01'
        - description: Company GUID
          name: x-company-guid
          in: header
          required: false
          schema:
            type: string
            format: uuid
          example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
        - description: Company ID
          name: company_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
          example: 1234
        - description: User ID
          name: user_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - description: Department ID
          name: department_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: >-
                  #/components/schemas/UserAssignmentsRemoveDepartmentAssignmentResponse
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: >-
                  #/components/schemas/UserAssignmentsRemoveDepartmentAssignment403Response
        '404':
          description: Not found
          content:
            application/problem+json:
              schema:
                $ref: >-
                  #/components/schemas/UserAssignmentsRemoveDepartmentAssignment404Response
        '500':
          description: Server Error
          content:
            application/problem+json:
              schema:
                $ref: >-
                  #/components/schemas/UserAssignmentsRemoveDepartmentAssignment500Response
      x-public-api: true
  /v2/company/{company_id}/users/{user_id}/role_assignments:
    get:
      tags:
        - User Assignments
      summary: List Role Assignments
      operationId: UserAssignments_listRoleAssignments
      parameters:
        - description: 7shifts API version
          name: x-api-version
          in: header
          required: false
          schema:
            description: An API version
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
            example: '2022-05-01'
        - description: Company GUID
          name: x-company-guid
          in: header
          required: false
          schema:
            type: string
            format: uuid
          example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
        - description: Company ID
          name: company_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
          example: 1234
        - description: User ID
          name: user_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/UserAssignmentsListRoleAssignmentsResponse
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: >-
                  #/components/schemas/UserAssignmentsListRoleAssignments403Response
        '404':
          description: Not found
          content:
            application/problem+json:
              schema:
                $ref: >-
                  #/components/schemas/UserAssignmentsListRoleAssignments404Response
        '500':
          description: Server Error
          content:
            application/problem+json:
              schema:
                $ref: >-
                  #/components/schemas/UserAssignmentsListRoleAssignments500Response
      x-public-api: true
    post:
      tags:
        - User Assignments
      summary: Create Role Assignment
      operationId: UserAssignments_createRoleAssignment
      parameters:
        - description: 7shifts API version
          name: x-api-version
          in: header
          required: false
          schema:
            description: An API version
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
            example: '2022-05-01'
        - description: Company GUID
          name: x-company-guid
          in: header
          required: false
          schema:
            type: string
            format: uuid
          example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
        - description: Company ID
          name: company_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
          example: 1234
        - description: User ID
          name: user_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserAssignmentsCreateRoleAssignmentRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/UserAssignmentsCreateRoleAssignmentResponse
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: >-
                  #/components/schemas/UserAssignmentsCreateRoleAssignment400Response
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: >-
                  #/components/schemas/UserAssignmentsCreateRoleAssignment403Response
        '404':
          description: Not found
          content:
            application/problem+json:
              schema:
                $ref: >-
                  #/components/schemas/UserAssignmentsCreateRoleAssignment404Response
        '500':
          description: Server Error
          content:
            application/problem+json:
              schema:
                $ref: >-
                  #/components/schemas/UserAssignmentsCreateRoleAssignment500Response
      x-public-api: true
  /v2/company/{company_id}/users/{user_id}/role_assignments/{role_id}:
    delete:
      tags:
        - User Assignments
      summary: Delete Role Assignment
      operationId: UserAssignments_deleteRoleAssignment
      parameters:
        - description: 7shifts API version
          name: x-api-version
          in: header
          required: false
          schema:
            description: An API version
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
            example: '2022-05-01'
        - description: Company GUID
          name: x-company-guid
          in: header
          required: false
          schema:
            type: string
            format: uuid
          example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
        - description: Company ID
          name: company_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
          example: 1234
        - description: User ID
          name: user_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - description: Role ID
          name: role_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '204':
          description: No Content
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: >-
                  #/components/schemas/UserAssignmentsDeleteRoleAssignmentResponse
        '404':
          description: Not found
          content:
            application/problem+json:
              schema:
                $ref: >-
                  #/components/schemas/UserAssignmentsDeleteRoleAssignment404Response
        '500':
          description: Server Error
          content:
            application/problem+json:
              schema:
                $ref: >-
                  #/components/schemas/UserAssignmentsDeleteRoleAssignment500Response
      x-public-api: true
  /v2/company/{company_id}/shifts:
    get:
      tags:
        - Shifts
      summary: List Shifts
      operationId: Shifts_list
      parameters:
        - description: 7shifts API version
          name: x-api-version
          in: header
          required: false
          schema:
            description: An API version
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
            example: '2022-05-01'
        - description: Company GUID
          name: x-company-guid
          in: header
          required: false
          schema:
            type: string
            format: uuid
          example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
        - description: Company ID
          name: company_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
          example: 1234
        - description: Cursor for the next or previous page of results.
          name: cursor
          in: query
          required: false
          schema:
            type: string
        - description: The number of results desired per page.
          name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 500
            default: 100
            format: int64
        - description: Location ID
          name: location_id
          in: query
          required: false
          schema:
            type: integer
            format: int64
          example: 1234
        - description: A comma separated list of Shift IDs
          name: shift_ids
          in: query
          required: false
          explode: false
          style: form
          schema:
            type: array
            items:
              type: integer
            minItems: 1
            example: 123,231,222
        - description: Department ID
          name: department_id
          in: query
          required: false
          schema:
            type: integer
            format: int64
          example: 1234
        - description: Department IDs
          name: department_ids
          in: query
          required: false
          explode: false
          schema:
            type: array
            items:
              type: integer
            minItems: 1
            example: 123,231,222
        - description: Role ID
          name: role_id
          in: query
          required: false
          schema:
            type: integer
            format: int64
          example: 1234
        - description: User ID
          name: user_id
          in: query
          required: false
          schema:
            type: integer
            format: int64
          example: 1234
        - description: >-
            Return shifts that start before or on specified date. In ISO8601
            Format
          name: start[lte]
          in: query
          required: false
          schema:
            description: RFC 3339 date/time format
            type: string
            format: date-time
            example: '2021-01-30T08:30:00Z'
        - description: >-
            Return shifts that start after or on specified date time. In ISO8601
            Format
          name: start[gte]
          in: query
          required: false
          schema:
            description: RFC 3339 date/time format
            type: string
            format: date-time
            example: '2021-01-30T08:30:00Z'
        - description: >-
            Return shifts that end before or on specified date time. In ISO8601
            Format
          name: end[lte]
          in: query
          required: false
          schema:
            description: RFC 3339 date/time format
            type: string
            format: date-time
            example: '2021-01-30T08:30:00Z'
        - description: >-
            Return shifts that end after or on specified date time. In ISO8601
            Format
          name: end[gte]
          in: query
          required: false
          schema:
            description: RFC 3339 date/time format
            type: string
            format: date-time
            example: '2021-01-30T08:30:00Z'
        - description: >-
            Return shifts that were published and have been deleted. Cannot be
            combined with draft.
          name: deleted
          in: query
          required: false
          schema:
            type: boolean
            default: false
        - description: >-
            Return shifts that are in draft. Draft shifts have created, edited
            or deleted but not been published. Overrides deleted flag.
          name: draft
          in: query
          required: false
          schema:
            type: boolean
            default: false
        - description: >-
            Return shifts that are published, and also shifts in draft.
            Overrides deleted flag and draft flag.
          name: include_draft
          in: query
          required: false
          schema:
            type: boolean
            default: false
        - description: >-
            Return shifts that are open. Open shifts means anyone can request to
            take it and not assigned to any individual.
          name: open
          in: query
          required: false
          schema:
            type: boolean
        - description: >-
            Return only shifts that have been modified from specified date time.
            In ISO8601 Format
          name: modified_since
          in: query
          required: false
          schema:
            description: RFC 3339 date/time format
            type: string
            format: date-time
            example: '2021-01-30T08:30:00Z'
        - description: Sort by either start or end
          name: sort_by
          in: query
          required: false
          schema:
            type: string
            pattern: ^(,?[a-zA-Z_]*(\.(asc|desc))?){1,}$
        - description: Sort by direction (asc, desc)
          name: sort_dir
          in: query
          required: false
          schema:
            type: string
            pattern: ^(,?[a-zA-Z_]*(\.(asc|desc))?){1,}$
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShiftsListResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ShiftsList400Response'
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ShiftsList403Response'
      x-public-api: true
    post:
      tags:
        - Shifts
      summary: Create Shift
      operationId: Shifts_createNewShift
      parameters:
        - description: 7shifts API version
          name: x-api-version
          in: header
          required: false
          schema:
            description: An API version
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
            example: '2022-05-01'
        - description: Company GUID
          name: x-company-guid
          in: header
          required: false
          schema:
            type: string
            format: uuid
          example: 1310bfe1-cb3f-4f24-98a2-fde2bc504108
        - description: Company ID
          name: company_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
          example: 1234
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShiftsCreateNewShiftRequest'
      responses:
        '201':
          description: Shift created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShiftsCreateNewShiftResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ShiftsCreateNewShift400Response'
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ShiftsCreateNewShift403Response'
        '422':
          description: Unprocessable Entity
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ShiftsCreateNewShift422Response'
      x-public-api: true
  /v2/company/{company_id}/shifts/{shift_id}:
    get:
      tags:
        - Shifts
      summary: Retrieve Shift
      operationId: Shifts_getShiftById
      parameters:
        - description: 7shifts API version
          name: x-api-version
          in: header
          required: false
          schema:
            description: An API version
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
            example: '2022-05-01'
        - description: Company GUID
          name: x-company-guid
          in: header
[...]
