openapi: 3.0.0
info:
  title: Appwrite
  description: >-
    Appwrite backend as a service cuts up to 70% of the time and costs required
    for building a modern application. We abstract and simplify common
    development tasks behind a REST APIs, to help you develop your app in a fast
    and secure way. For full API documentation and tutorials go to
    [https://appwrite.io/docs](https://appwrite.io/docs)
  version: 1.5.0
  termsOfService: https://appwrite.io/policy/terms
  contact:
    name: Appwrite Team
    url: https://appwrite.io/support
    email: team@appwrite.io
  license:
    name: BSD-3-Clause
    url: https://raw.githubusercontent.com/appwrite/appwrite/master/LICENSE
servers:
  - url: https://cloud.appwrite.io/v1
tags:
  - description: The Account service allows you to authenticate and manage a user account.
    name: account
    x-globalAttributes: []
  - description: >-
      The Teams service allows you to group users of your project and to enable
      them to share read and write access to your project resources
    name: teams
    x-globalAttributes: []
  - description: >-
      The Locale service allows you to customize your app based on your users'
      location.
    name: locale
    x-globalAttributes: []
  - description: The Storage service allows you to manage your project files.
    name: storage
    x-globalAttributes: []
  - description: >-
      The Avatars service aims to help you complete everyday tasks related to
      your app image, icons, and avatars.
    name: avatars
    x-globalAttributes: []
  - description: >-
      The Databases service allows you to create structured collections of
      documents, query and filter lists of documents
    name: databases
    x-globalAttributes:
      - databaseId
  - description: >-
      The Functions Service allows you view, create and manage your Cloud
      Functions.
    name: functions
    x-globalAttributes: []
  - description: >-
      The GraphQL API allows you to query and mutate your Appwrite server using
      GraphQL.
    name: graphql
    x-globalAttributes: []
  - description: >-
      The Messaging service allows you to send messages to any provider type
      (SMTP, push notification, SMS, etc.).
    name: messaging
    x-globalAttributes: []
  - description: >-
      The Health service allows you to both validate and monitor your Appwrite
      server's health.
    name: health
    x-globalAttributes: []
  - description: >-
      The Project service allows you to manage all the projects in your Appwrite
      server.
    name: projects
    x-globalAttributes: []
  - description: >-
      The Project service allows you to manage all the projects in your Appwrite
      server.
    name: project
    x-globalAttributes: []
  - description: The Users service allows you to manage your project users.
    name: users
    x-globalAttributes: []
  - description: >-
      The Proxy Service allows you to configure actions for your domains beyond
      DNS configuration.
    name: proxy
    x-globalAttributes: []
  - description: >-
      The Console service allows you to interact with console relevant
      informations.
    name: console
    x-globalAttributes: []
  - description: >-
      The Migrations service allows you to migrate third-party data to your
      Appwrite project.
    name: migrations
    x-globalAttributes: []
paths:
  /account:
    get:
      tags:
        - account
      summary: Get account
      operationId: Account_getCurrentUser
      security:
        - Project: []
          Session: []
          JWT: []
      description: Get the currently logged in user.
      responses:
        '200':
          description: User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user'
      x-appwrite:
        method: get
        weight: 8
        cookies: false
        type: ''
        deprecated: false
        demo: account/get.md
        edit: >-
          https://github.com/appwrite/appwrite/edit/master/docs/references/account/get.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: account
        platforms:
          - client
          - server
        packaging: false
        offline-model: /account
        offline-key: current
        offline-response-key: $id
        auth:
          Project: []
    post:
      tags:
        - account
      summary: Create account
      operationId: Account_registerUser
      security:
        - Project: []
      description: >-
        Use this endpoint to allow a new user to register a new account in your
        project. After the user registration completes successfully, you can use
        the
        [/account/verfication](https://appwrite.io/docs/references/cloud/client-web/account#createVerification)
        route to start verifying the user email address. To allow the new user
        to login to their new account, you need to create a new [account
        session](https://appwrite.io/docs/references/cloud/client-web/account#createEmailSession).
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountRegisterUserRequest'
      responses:
        '201':
          description: User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user'
      x-appwrite:
        method: create
        weight: 7
        cookies: false
        type: ''
        deprecated: false
        demo: account/create.md
        edit: >-
          https://github.com/appwrite/appwrite/edit/master/docs/references/account/create.md
        rate-limit: 10
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: sessions.write
        platforms:
          - server
          - client
        packaging: false
        offline-model: ''
        offline-key: ''
        offline-response-key: $id
        auth:
          Project: []
  /account/email:
    patch:
      tags:
        - account
      summary: Update email
      operationId: Account_updateUserEmail
      security:
        - Project: []
          Session: []
          JWT: []
      description: >
        Update currently logged in user account email address. After changing
        user address, the user confirmation status will get reset. A new
        confirmation email is not sent automatically however you can use the
        send confirmation email endpoint again to send the confirmation email.
        For security measures, user password is required to complete this
        request.

        This endpoint can also be used to convert an anonymous account to a
        normal one, by passing an email address and a new password.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountUpdateUserEmailRequest'
      responses:
        '200':
          description: User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user'
      x-appwrite:
        method: updateEmail
        weight: 33
        cookies: false
        type: ''
        deprecated: false
        demo: account/update-email.md
        edit: >-
          https://github.com/appwrite/appwrite/edit/master/docs/references/account/update-email.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: account
        platforms:
          - client
          - server
        packaging: false
        offline-model: /account
        offline-key: current
        offline-response-key: $id
        auth:
          Project: []
  /account/identities:
    get:
      tags:
        - account
      summary: List Identities
      operationId: Account_listIdentities
      security:
        - Project: []
          Session: []
          JWT: []
      description: Get the list of identities for the currently logged in user.
      parameters:
        - description: >-
            Array of query strings generated using the Query class provided by
            the SDK. [Learn more about
            queries](https://appwrite.io/docs/queries). Maximum of 100 queries
            are allowed, each 4096 characters long. You may filter on the
            following attributes: userId, provider, providerUid, providerEmail,
            providerAccessTokenExpiry
          name: queries
          required: false
          schema:
            type: array
            items:
              type: string
            default: []
          in: query
      responses:
        '200':
          description: Identities List
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/identityList'
      x-appwrite:
        method: listIdentities
        weight: 56
        cookies: false
        type: ''
        deprecated: false
        demo: account/list-identities.md
        edit: >-
          https://github.com/appwrite/appwrite/edit/master/docs/references/account/list-identities.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: account
        platforms:
          - client
          - server
        packaging: false
        offline-model: /account/identities
        offline-key: ''
        offline-response-key: $id
        auth:
          Project: []
  /account/identities/{identityId}:
    delete:
      tags:
        - account
      summary: Delete identity
      operationId: Account_deleteIdentityById
      security:
        - Project: []
          Session: []
          JWT: []
      description: Delete an identity by its unique ID.
      parameters:
        - description: Identity ID.
          name: identityId
          required: true
          schema:
            type: string
            x-example: <IDENTITY_ID>
          in: path
      responses:
        '204':
          description: No content
      x-appwrite:
        method: deleteIdentity
        weight: 57
        cookies: false
        type: ''
        deprecated: false
        demo: account/delete-identity.md
        edit: >-
          https://github.com/appwrite/appwrite/edit/master/docs/references/account/delete-identity.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: account
        platforms:
          - client
          - server
        packaging: false
        offline-model: ''
        offline-key: ''
        offline-response-key: $id
        auth:
          Project: []
  /account/jwt:
    post:
      tags:
        - account
      summary: Create JWT
      operationId: Account_createJwt
      security:
        - Project: []
      description: >-
        Use this endpoint to create a JSON Web Token. You can use the resulting
        JWT to authenticate on behalf of the current user when working with the
        Appwrite server-side API and SDKs. The JWT secret is valid for 15
        minutes from its creation and will be invalid if the user will logout in
        that time frame.
      responses:
        '201':
          description: JWT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/jwt'
      x-appwrite:
        method: createJWT
        weight: 28
        cookies: false
        type: ''
        deprecated: false
        demo: account/create-j-w-t.md
        edit: >-
          https://github.com/appwrite/appwrite/edit/master/docs/references/account/create-jwt.md
        rate-limit: 100
        rate-time: 3600
        rate-key: url:{url},userId:{userId}
        scope: account
        platforms:
          - server
          - client
        packaging: false
        offline-model: ''
        offline-key: ''
        offline-response-key: $id
        auth:
          Project: []
  /account/logs:
    get:
      tags:
        - account
      summary: List logs
      operationId: Account_listLogs
      security:
        - Project: []
          Session: []
          JWT: []
      description: >-
        Get the list of latest security activity logs for the currently logged
        in user. Each log returns user IP address, location and date and time of
        log.
      parameters:
        - description: >-
            Array of query strings generated using the Query class provided by
            the SDK. [Learn more about
            queries](https://appwrite.io/docs/queries). Only supported methods
            are limit and offset
          name: queries
          required: false
          schema:
            type: array
            items:
              type: string
            default: []
          in: query
      responses:
        '200':
          description: Logs List
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/logList'
      x-appwrite:
        method: listLogs
        weight: 30
        cookies: false
        type: ''
        deprecated: false
        demo: account/list-logs.md
        edit: >-
          https://github.com/appwrite/appwrite/edit/master/docs/references/account/list-logs.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: account
        platforms:
          - client
          - server
        packaging: false
        offline-model: ''
        offline-key: ''
        offline-response-key: $id
        auth:
          Project: []
  /account/mfa:
    patch:
      tags:
        - account
      summary: Update MFA
      operationId: Account_updateMfaStatus
      security:
        - Project: []
          Session: []
          JWT: []
      description: Enable or disable MFA on an account.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountUpdateMfaStatusRequest'
      responses:
        '200':
          description: User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user'
      x-appwrite:
        method: updateMFA
        weight: 43
        cookies: false
        type: ''
        deprecated: false
        demo: account/update-m-f-a.md
        edit: >-
          https://github.com/appwrite/appwrite/edit/master/docs/references/account/update-mfa.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: account
        platforms:
          - client
          - server
        packaging: false
        offline-model: /account
        offline-key: current
        offline-response-key: $id
        auth:
          Project: []
  /account/mfa/authenticators/{type}:
    post:
      tags:
        - account
      summary: Add Authenticator
      operationId: Account_addAuthenticator
      security:
        - Project: []
          Session: []
          JWT: []
      description: >-
        Add an authenticator app to be used as an MFA factor. Verify the
        authenticator using the [verify
        authenticator](/docs/references/cloud/client-web/account#verifyAuthenticator)
        method.
      parameters:
        - description: Type of authenticator. Must be `totp`
          name: type
          required: true
          schema:
            type: string
            x-example: totp
            enum:
              - totp
            x-enum-name: AuthenticatorType
            x-enum-keys: []
          in: path
      responses:
        '200':
          description: MFAType
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mfaType'
      x-appwrite:
        method: createMfaAuthenticator
        weight: 45
        cookies: false
        type: ''
        deprecated: false
        demo: account/create-mfa-authenticator.md
        edit: >-
          https://github.com/appwrite/appwrite/edit/master/docs/references/account/create-mfa-authenticator.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: account
        platforms:
          - client
          - server
        packaging: false
        offline-model: /account
        offline-key: current
        offline-response-key: $id
        auth:
          Project: []
    put:
      tags:
        - account
      summary: Verify Authenticator
      operationId: Account_verifyAuthenticator
      security:
        - Project: []
          Session: []
          JWT: []
      description: >-
        Verify an authenticator app after adding it using the [add
        authenticator](/docs/references/cloud/client-web/account#addAuthenticator)
        method.
      parameters:
        - description: Type of authenticator.
          name: type
          required: true
          schema:
            type: string
            x-example: totp
            enum:
              - totp
            x-enum-name: AuthenticatorType
            x-enum-keys: []
          in: path
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountVerifyAuthenticatorRequest'
      responses:
        '200':
          description: User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user'
      x-appwrite:
        method: updateMfaAuthenticator
        weight: 46
        cookies: false
        type: ''
        deprecated: false
        demo: account/update-mfa-authenticator.md
        edit: >-
          https://github.com/appwrite/appwrite/edit/master/docs/references/account/update-mfa-authenticator.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: account
        platforms:
          - client
          - server
        packaging: false
        offline-model: /account
        offline-key: current
        offline-response-key: $id
        auth:
          Project: []
    delete:
      tags:
        - account
      summary: Delete Authenticator
      operationId: Account_deleteAuthenticator
      security:
        - Project: []
          Session: []
          JWT: []
      description: Delete an authenticator for a user by ID.
      parameters:
        - description: Type of authenticator.
          name: type
          required: true
          schema:
            type: string
            x-example: totp
            enum:
              - totp
            x-enum-name: AuthenticatorType
            x-enum-keys: []
          in: path
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountDeleteAuthenticatorRequest'
      responses:
        '200':
          description: User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user'
      x-appwrite:
        method: deleteMfaAuthenticator
        weight: 50
        cookies: false
        type: ''
        deprecated: false
        demo: account/delete-mfa-authenticator.md
        edit: >-
          https://github.com/appwrite/appwrite/edit/master/docs/references/account/delete-mfa-authenticator.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: account
        platforms:
          - client
          - server
        packaging: false
        offline-model: ''
        offline-key: ''
        offline-response-key: $id
        auth:
          Project: []
  /account/mfa/challenge:
    post:
      tags:
        - account
      summary: Create 2FA Challenge
      operationId: Account_createMfaChallenge
      security:
        - Project: []
      description: >-
        Begin the process of MFA verification after sign-in. Finish the flow
        with
        [updateMfaChallenge](/docs/references/cloud/client-web/account#updateMfaChallenge)
        method.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountCreateMfaChallengeRequest'
      responses:
        '201':
          description: MFA Challenge
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mfaChallenge'
      x-appwrite:
        method: createMfaChallenge
        weight: 51
        cookies: false
        type: ''
        deprecated: false
        demo: account/create-mfa-challenge.md
        edit: >-
          https://github.com/appwrite/appwrite/edit/master/docs/references/account/create-mfa-challenge.md
        rate-limit: 10
        rate-time: 3600
        rate-key: url:{url},token:{param-token}
        scope: account
        platforms:
          - server
          - client
        packaging: false
        offline-model: ''
        offline-key: ''
        offline-response-key: $id
        auth:
          Project: []
    put:
      tags:
        - account
      summary: Create MFA Challenge (confirmation)
      operationId: Account_completeMfaChallenge
      security:
        - Project: []
          Session: []
          JWT: []
      description: >-
        Complete the MFA challenge by providing the one-time password. Finish
        the process of MFA verification by providing the one-time password. To
        begin the flow, use
        [createMfaChallenge](/docs/references/cloud/client-web/account#createMfaChallenge)
        method.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountCompleteMfaChallengeRequest'
      responses:
        '204':
          description: No content
          content:
            '':
              schema:
                $ref: '#/components/schemas/session'
      x-appwrite:
        method: updateMfaChallenge
        weight: 52
        cookies: false
        type: ''
        deprecated: false
        demo: account/update-mfa-challenge.md
        edit: >-
          https://github.com/appwrite/appwrite/edit/master/docs/references/account/update-mfa-challenge.md
        rate-limit: 10
        rate-time: 3600
        rate-key: userId:{param-userId}
        scope: account
        platforms:
          - client
          - server
        packaging: false
        offline-model: ''
        offline-key: ''
        offline-response-key: $id
        auth:
          Project: []
  /account/mfa/factors:
    get:
      tags:
        - account
      summary: List Factors
      operationId: Account_listMfaFactors
      security:
        - Project: []
          Session: []
          JWT: []
      description: List the factors available on the account to be used as a MFA challange.
      responses:
        '200':
          description: MFAFactors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mfaFactors'
      x-appwrite:
        method: listMfaFactors
        weight: 44
        cookies: false
        type: ''
        deprecated: false
        demo: account/list-mfa-factors.md
        edit: >-
          https://github.com/appwrite/appwrite/edit/master/docs/references/account/list-mfa-factors.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: account
        platforms:
          - client
          - server
        packaging: false
        offline-model: /account
        offline-key: current
        offline-response-key: $id
        auth:
          Project: []
  /account/mfa/recovery-codes:
    get:
      tags:
        - account
      summary: Get MFA Recovery Codes
      operationId: Account_getMfaRecoveryCodes
      security:
        - Project: []
          Session: []
          JWT: []
      description: >-
        Get recovery codes that can be used as backup for MFA flow. Before
        getting codes, they must be generated using
        [createMfaRecoveryCodes](/docs/references/cloud/client-web/account#createMfaRecoveryCodes)
        method. An OTP challenge is required to read recovery codes.
      responses:
        '200':
          description: MFA Recovery Codes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mfaRecoveryCodes'
      x-appwrite:
        method: getMfaRecoveryCodes
        weight: 49
        cookies: false
        type: ''
        deprecated: false
        demo: account/get-mfa-recovery-codes.md
        edit: >-
          https://github.com/appwrite/appwrite/edit/master/docs/references/account/get-mfa-recovery-codes.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: account
        platforms:
          - client
          - server
        packaging: false
        offline-model: /account
        offline-key: current
        offline-response-key: $id
        auth:
          Project: []
    post:
      tags:
        - account
      summary: Create MFA Recovery Codes
      operationId: Account_createMfaRecoveryCodes
      security:
        - Project: []
          Session: []
          JWT: []
      description: >-
        Generate recovery codes as backup for MFA flow. It's recommended to
        generate and show then immediately after user successfully adds their
        authehticator. Recovery codes can be used as a MFA verification type in
        [createMfaChallenge](/docs/references/cloud/client-web/account#createMfaChallenge)
        method.
      responses:
        '201':
          description: MFA Recovery Codes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mfaRecoveryCodes'
      x-appwrite:
        method: createMfaRecoveryCodes
        weight: 47
        cookies: false
        type: ''
        deprecated: false
        demo: account/create-mfa-recovery-codes.md
        edit: >-
          https://github.com/appwrite/appwrite/edit/master/docs/references/account/create-mfa-recovery-codes.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: account
        platforms:
          - client
          - server
        packaging: false
        offline-model: /account
        offline-key: current
        offline-response-key: $id
        auth:
          Project: []
    patch:
      tags:
        - account
      summary: Regenerate MFA Recovery Codes
      operationId: Account_regenerateMfaRecoveryCodes
      security:
        - Project: []
          Session: []
          JWT: []
      description: >-
        Regenerate recovery codes that can be used as backup for MFA flow.
        Before regenerating codes, they must be first generated using
        [createMfaRecoveryCodes](/docs/references/cloud/client-web/account#createMfaRecoveryCodes)
        method. An OTP challenge is required to regenreate recovery codes.
      responses:
        '200':
          description: MFA Recovery Codes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mfaRecoveryCodes'
      x-appwrite:
        method: updateMfaRecoveryCodes
        weight: 48
        cookies: false
        type: ''
        deprecated: false
        demo: account/update-mfa-recovery-codes.md
        edit: >-
          https://github.com/appwrite/appwrite/edit/master/docs/references/account/update-mfa-recovery-codes.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: account
        platforms:
          - client
          - server
        packaging: false
        offline-model: /account
        offline-key: current
        offline-response-key: $id
        auth:
          Project: []
  /account/name:
    patch:
      tags:
        - account
      summary: Update name
      operationId: Account_updateNameOperation
      security:
        - Project: []
          Session: []
          JWT: []
      description: Update currently logged in user account name.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountUpdateNameOperationRequest'
      responses:
        '200':
          description: User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user'
      x-appwrite:
        method: updateName
        weight: 31
        cookies: false
        type: ''
        deprecated: false
        demo: account/update-name.md
        edit: >-
          https://github.com/appwrite/appwrite/edit/master/docs/references/account/update-name.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: account
        platforms:
          - client
          - server
        packaging: false
        offline-model: /account
        offline-key: current
        offline-response-key: $id
        auth:
          Project: []
  /account/password:
    patch:
      tags:
        - account
      summary: Update password
      operationId: Account_updatePassword
      security:
        - Project: []
          Session: []
          JWT: []
      description: >-
        Update currently logged in user password. For validation, user is
        required to pass in the new password, and the old password. For users
        created with OAuth, Team Invites and Magic URL, oldPassword is optional.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountUpdatePasswordRequest'
      responses:
        '200':
          description: User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user'
      x-appwrite:
        method: updatePassword
        weight: 32
        cookies: false
        type: ''
        deprecated: false
        demo: account/update-password.md
        edit: >-
          https://github.com/appwrite/appwrite/edit/master/docs/references/account/update-password.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: account
        platforms:
          - client
          - server
        packaging: false
        offline-model: /account
        offline-key: current
        offline-response-key: $id
        auth:
          Project: []
  /account/phone:
    patch:
      tags:
        - account
      summary: Update phone
      operationId: Account_updatePhone
      security:
        - Project: []
          Session: []
          JWT: []
      description: >-
        Update the currently logged in user's phone number. After updating the
        phone number, the phone verification status will be reset. A
        confirmation SMS is not sent automatically, however you can use the
        [POST
        /account/verification/phone](https://appwrite.io/docs/references/cloud/client-web/account#createPhoneVerification)
        endpoint to send a confirmation SMS.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountUpdatePhoneRequest'
      responses:
        '200':
          description: User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user'
      x-appwrite:
        method: updatePhone
        weight: 34
        cookies: false
        type: ''
        deprecated: false
        demo: account/update-phone.md
        edit: >-
          https://github.com/appwrite/appwrite/edit/master/docs/references/account/update-phone.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: account
        platforms:
          - client
          - server
        packaging: false
        offline-model: /account
        offline-key: current
        offline-response-key: $id
        auth:
          Project: []
  /account/prefs:
    get:
      tags:
        - account
      summary: Get account preferences
      operationId: Account_getPrefs
      security:
        - Project: []
          Session: []
          JWT: []
      description: >-
        Get the preferences as a key-value object for the currently logged in
        user.
      responses:
        '200':
          description: Preferences
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/preferences'
      x-appwrite:
        method: getPrefs
        weight: 29
        cookies: false
        type: ''
        deprecated: false
        demo: account/get-prefs.md
        edit: >-
          https://github.com/appwrite/appwrite/edit/master/docs/references/account/get-prefs.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: account
        platforms:
          - client
          - server
        packaging: false
        offline-model: /account/prefs
        offline-key: current
        offline-response-key: $id
        auth:
          Project: []
    patch:
      tags:
        - account
      summary: Update preferences
      operationId: Account_updatePreferences
      security:
        - Project: []
          Session: []
          JWT: []
      description: >-
        Update currently logged in user account preferences. The object you pass
        is stored as is, and replaces any previous value. The maximum allowed
        prefs size is 64kB and throws error if exceeded.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountUpdatePreferencesRequest'
      responses:
        '200':
          description: User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user'
      x-appwrite:
        method: updatePrefs
        weight: 35
        cookies: false
        type: ''
        deprecated: false
        demo: account/update-prefs.md
        edit: >-
          https://github.com/appwrite/appwrite/edit/master/docs/references/account/update-prefs.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: account
        platforms:
          - client
          - server
        packaging: false
        offline-model: /account/prefs
        offline-key: current
        offline-response-key: $id
        auth:
          Project: []
  /account/recovery:
    post:
      tags:
        - account
      summary: Create password recovery
      operationId: Account_createPasswordRecovery
      security:
        - Project: []
          Session: []
          JWT: []
      description: >-
        Sends the user an email with a temporary secret key for password reset.
        When the user clicks the confirmation link he is redirected back to your
        app password reset URL with the secret key and email address values
        attached to the URL query string. Use the query string params to submit
        a request to the [PUT
        /account/recovery](https://appwrite.io/docs/references/cloud/client-web/account#updateRecovery)
        endpoint to complete the process. The verification link sent to the
        user's email address is valid for 1 hour.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountCreatePasswordRecoveryRequest'
      responses:
        '201':
          description: Token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/token'
      x-appwrite:
        method: createRecovery
        weight: 37
        cookies: false
        type: ''
        deprecated: false
        demo: account/create-recovery.md
        edit: >-
          https://github.com/appwrite/appwrite/edit/master/docs/references/account/create-recovery.md
        rate-limit: 10
        rate-time: 3600
        rate-key:
          - url:{url},email:{param-email}
          - url:{url},ip:{ip}
        scope: sessions.write
        platforms:
          - client
          - server
        packaging: false
        offline-model: ''
        offline-key: ''
        offline-response-key: $id
        auth:
          Project: []
    put:
      tags:
        - account
      summary: Create password recovery (confirmation)
      operationId: Account_completePasswordRecovery
      security:
        - Project: []
          Session: []
          JWT: []
      description: >-
        Use this endpoint to complete the user account password reset. Both the
        **userId** and **secret** arguments will be passed as query parameters
        to the redirect URL you have provided when sending your request to the
        [POST
        /account/recovery](https://appwrite.io/docs/references/cloud/client-web/account#createRecovery)
        endpoint.


        Please note that in order to avoid a [Redirect
        Attack](https://github.com/OWASP/CheatSheetSeries/blob/master/cheatsheets/Unvalidated_Redirects_and_Forwards_Cheat_Sheet.md)
        the only valid redirect URLs are the ones from domains you have set when
        adding your platforms in the console interface.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountCompletePasswordRecoveryRequest'
      responses:
        '200':
          description: Token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/token'
      x-appwrite:
        method: updateRecovery
        weight: 38
        cookies: false
        type: ''
        deprecated: false
        demo: account/update-recovery.md
        edit: >-
          https://github.com/appwrite/appwrite/edit/master/docs/references/account/update-recovery.md
        rate-limit: 10
        rate-time: 3600
        rate-key: url:{url},userId:{param-userId}
        scope: sessions.write
        platforms:
          - client
          - server
        packaging: false
        offline-model: ''
        offline-key: ''
        offline-response-key: $id
        auth:
          Project: []
  /account/sessions:
    get:
      tags:
        - account
      summary: List sessions
      operationId: Account_listSessions
      security:
        - Project: []
          Session: []
          JWT: []
      description: >-
        Get the list of active sessions across different devices for the
        currently logged in user.
      responses:
        '200':
          description: Sessions List
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sessionList'
      x-appwrite:
        method: listSessions
        weight: 10
        cookies: false
        type: ''
        deprecated: false
        demo: account/list-sessions.md
        edit: >-
          https://github.com/appwrite/appwrite/edit/master/docs/references/account/list-sessions.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: account
        platforms:
          - client
          - server
        packaging: false
        offline-model: /account/sessions
        offline-key: ''
        offline-response-key: $id
        auth:
          Project: []
    delete:
      tags:
        - account
      summary: Delete sessions
      operationId: Account_removeSessions
      security:
        - Project: []
          Session: []
          JWT: []
      description: >-
        Delete all sessions from the user account and remove any sessions
        cookies from the end client.
      responses:
        '204':
          description: No content
      x-appwrite:
        method: deleteSessions
        weight: 11
        cookies: false
        type: ''
        deprecated: false
        demo: account/delete-sessions.md
        edit: >-
          https://github.com/appwrite/appwrite/edit/master/docs/references/account/delete-sessions.md
        rate-limit: 100
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: account
        platforms:
          - client
          - server
        packaging: false
        offline-model: ''
        offline-key: ''
        offline-response-key: $id
        auth:
          Project: []
  /account/sessions/anonymous:
    post:
      tags:
        - account
      summary: Create anonymous session
      operationId: Account_createAnonymousSession
      security:
        - Project: []
      description: >-
        Use this endpoint to allow a new user to register an anonymous account
        in your project. This route will also create a new session for the user.
        To allow the new user to convert an anonymous account to a normal
        account, you need to update its [email and
        password](https://appwrite.io/docs/references/cloud/client-web/account#updateEmail)
        or create an [OAuth2
        session](https://appwrite.io/docs/references/cloud/client-web/account#CreateOAuth2Session).
      responses:
        '201':
          description: Session
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/session'
      x-appwrite:
        method: createAnonymousSession
        weight: 16
        cookies: false
        type: ''
        deprecated: false
        demo: account/create-anonymous-session.md
        edit: >-
          https://github.com/appwrite/appwrite/edit/master/docs/references/account/create-session-anonymous.md
        rate-limit: 50
        rate-time: 3600
        rate-key: ip:{ip}
        scope: sessions.write
        platforms:
          - server
          - client
        packaging: false
        offline-model: ''
        offline-key: ''
        offline-response-key: $id
        auth:
          Project: []
  /account/sessions/email:
    post:
      tags:
        - account
      summary: Create email password session
      operationId: Account_createEmailPasswordSession
      security:
        - Project: []
      description: >-
        Allow the user to login into their account by providing a valid email
        and password combination. This route will create a new session for the
        user.


        A user is limited to 10 active sessions at a time by default. [Learn
        more about session
        limits](https://appwrite.io/docs/authentication-security#limits).
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountCreateEmailPasswordSessionRequest'
      responses:
        '201':
          description: Session
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/session'
      x-appwrite:
        method: createEmailPasswordSession
        weight: 15
        cookies: false
        type: ''
        deprecated: false
        demo: account/create-email-password-session.md
        edit: >-
          https://github.com/appwrite/appwrite/edit/master/docs/references/account/create-session-email-password.md
        rate-limit: 10
        rate-time: 3600
        rate-key: url:{url},email:{param-email}
        scope: sessions.write
        platforms:
          - server
          - client
        packaging: false
        offline-model: ''
        offline-key: ''
        offline-response-key: $id
        auth:
          Project: []
  /account/sessions/magic-url:
    put:
      tags:
        - account
      summary: Update magic URL session
      operationId: Account_updateMagicUrlSession
      security:
        - Project: []
      description: >-
        Use this endpoint to create a session from token. Provide the **userId**
        and **secret** parameters from the successful response of authentication
        flows initiated by token creation. For example, magic URL and phone
        login.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountUpdateMagicUrlSessionRequest'
      responses:
        '201':
          description: Session
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/session'
      x-appwrite:
        method: updateMagicURLSession
        weight: 25
        cookies: false
        type: ''
        deprecated: true
        demo: account/update-magic-u-r-l-session.md
        edit: >-
          https://github.com/appwrite/appwrite/edit/master/docs/references/account/create-session.md
        rate-limit: 10
        rate-time: 3600
        rate-key: ip:{ip},userId:{param-userId}
        scope: sessions.write
        platforms:
          - server
          - client
        packaging: false
        offline-model: ''
        offline-key: ''
        offline-response-key: $id
        auth:
          Project: []
  /account/sessions/oauth2/{provider}:
    get:
      tags:
        - account
      summary: Create OAuth2 session
      operationId: Account_createOAuth2Session
      security:
        - Project: []
      description: >
        Allow the user to login to their account using the OAuth2 provider of
        their choice. Each OAuth2 provider should be enabled from the Appwrite
        console first. Use the success and failure arguments to provide a
        redirect URL's back to your app when login is completed.


        If there is already an active session, the new session will be attached
        to the logged-in account. If there are no active sessions, the server
        will attempt to look for a user with the same email address as the email
        received from the OAuth2 provider and attach the new session to the
        existing user. If no matching user is found - the server will create a
        new user.


        A user is limited to 10 active sessions at a time by default. [Learn
        more about session
        limits](https://appwrite.io/docs/authentication-security#limits).
      parameters:
        - description: >-
            OAuth2 Provider. Currently, supported providers are: amazon, apple,
            auth0, authentik, autodesk, bitbucket, bitly, box, dailymotion,
            discord, disqus, dropbox, etsy, facebook, github, gitlab, google,
            linkedin, microsoft, notion, oidc, okta, paypal, paypalSandbox,
            podio, salesforce, slack, spotify, stripe, tradeshift,
            tradeshiftBox, twitch, wordpress, yahoo, yammer, yandex, zoho, zoom.
          name: provider
          required: true
          schema:
            type: string
            x-example: amazon
            enum:
              - amazon
              - apple
              - auth0
              - authentik
              - autodesk
              - bitbucket
              - bitly
              - box
              - dailymotion
              - discord
              - disqus
              - dropbox
              - etsy
              - facebook
              - github
              - gitlab
              - google
              - linkedin
              - microsoft
              - notion
              - oidc
              - okta
              - paypal
              - paypalSandbox
              - podio
              - salesforce
              - slack
              - spotify
              - stripe
              - tradeshift
              - tradeshiftBox
              - twitch
              - wordpress
              - yahoo
              - yammer
              - yandex
              - zoho
              - zoom
              - mock
            x-enum-name: OAuthProvider
            x-enum-keys: []
          in: path
        - description: >-
            URL to redirect back to your app after a successful login attempt. 
            Only URLs from hostnames in your project's platform list are
            allowed. This requirement helps to prevent an [open
            redirect](https://cheatsheetseries.owasp.org/cheatsheets/Unvalidated_Redirects_and_Forwards_Cheat_Sheet.html)
            attack against your project API.
          name: success
          required: false
          schema:
            type: string
            format: url
            x-example: https://example.com
            default: ''
          in: query
        - description: >-
            URL to redirect back to your app after a failed login attempt.  Only
            URLs from hostnames in your project's platform list are allowed.
            This requirement helps to prevent an [open
            redirect](https://cheatsheetseries.owasp.org/cheatsheets/Unvalidated_Redirects_and_Forwards_Cheat_Sheet.html)
            attack against your project API.
          name: failure
          required: false
          schema:
            type: string
            format: url
            x-example: https://example.com
            default: ''
          in: query
        - description: >-
            A list of custom OAuth2 scopes. Check each provider internal docs
            for a list of supported scopes. Maximum of 100 scopes are allowed,
            each 4096 characters long.
          name: scopes
          required: false
          schema:
            type: array
            items:
              type: string
            default: []
          in: query
      responses:
        default:
          description: File
      x-appwrite:
        method: createOAuth2Session
        weight: 18
        cookies: false
        type: webAuth
        deprecated: false
        demo: account/create-o-auth2session.md
        edit: >-
          https://github.com/appwrite/appwrite/edit/master/docs/references/account/create-session-oauth2.md
        rate-limit: 50
        rate-time: 3600
        rate-key: ip:{ip}
        scope: sessions.write
        platforms:
          - server
          - client
        packaging: false
        offline-model: ''
        offline-key: ''
        offline-response-key: $id
        auth:
          Project: []
  /account/sessions/phone:
    put:
      tags:
        - account
      summary: Update phone session
      operationId: Account_updatePhoneSession
      security:
        - Project: []
      description: >-
        Use this endpoint to create a session from token. Provide the **userId**
        and **secret** parameters from the successful response of authentication
        flows initiated by token creation. For example, magic URL and phone
        login.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountUpdatePhoneSessionRequest'
      responses:
        '201':
          description: Session
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/session'
      x-appwrite:
        method: updatePhoneSession
        weight: 26
        cookies: false
        type: ''
        deprecated: true
        demo: account/update-phone-session.md
        edit: >-
          https://github.com/appwrite/appwrite/edit/master/docs/references/account/create-session.md
        rate-limit: 10
        rate-time: 3600
        rate-key: ip:{ip},userId:{param-userId}
        scope: sessions.write
        platforms:
          - server
          - client
        packaging: false
        offline-model: ''
        offline-key: ''
        offline-response-key: $id
        auth:
          Project: []
  /account/sessions/token:
    post:
      tags:
        - account
      summary: Create session
      operationId: Account_createSessionFromToken
      security:
        - Project: []
      description: >-
        Use this endpoint to create a session from token. Provide the **userId**
        and **secret** parameters from the successful response of authentication
        flows initiated by token creation. For example, magic URL and phone
        login.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountCreateSessionFromTokenRequest'
      responses:
        '201':
          description: Session
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/session'
      x-appwrite:
        method: createSession
        weight: 17
        cookies: false
        type: ''
        deprecated: false
        demo: account/create-session.md
        edit: >-
          https://github.com/appwrite/appwrite/edit/master/docs/references/account/create-session.md
        rate-limit: 10
        rate-time: 3600
        rate-key: ip:{ip},userId:{param-userId}
        scope: sessions.write
        platforms:
          - server
          - client
        packaging: false
        offline-model: ''
        offline-key: ''
        offline-response-key: $id
        auth:
          Project: []
  /account/sessions/{sessionId}:
    get:
      tags:
        - account
      summary: Get session
      operationId: Account_getSession
      security:
        - Project: []
          Session: []
          JWT: []
      description: >-
        Use this endpoint to get a logged in user's session using a Session ID.
        Inputting 'current' will return the current session being used.
      parameters:
        - description: >-
            Session ID. Use the string 'current' to get the current device
            session.
          name: sessionId
          required: true
          schema:
            type: string
            x-example: <SESSION_ID>
          in: path
      responses:
        '200':
          description: Session
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/session'
      x-appwrite:
        method: getSession
        weight: 12
        cookies: false
        type: ''
        deprecated: false
        demo: account/get-session.md
        edit: >-
          https://github.com/appwrite/appwrite/edit/master/docs/references/account/get-session.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: account
        platforms:
          - client
          - server
        packaging: false
        offline-model: /account/sessions
        offline-key: '{sessionId}'
        offline-response-key: $id
        auth:
          Project: []
    patch:
      tags:
        - account
      summary: Update session
      operationId: Account_extendSessionLength
      security:
        - Project: []
          Session: []
          JWT: []
      description: >-
        Use this endpoint to extend a session's length. Extending a session is
        useful when session expiry is short. If the session was created using an
        OAuth provider, this endpoint refreshes the access token from the
        provider.
      parameters:
        - description: >-
            Session ID. Use the string 'current' to update the current device
            session.
          name: sessionId
          required: true
          schema:
            type: string
            x-example: <SESSION_ID>
          in: path
      responses:
        '200':
          description: Session
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/session'
      x-appwrite:
        method: updateSession
        weight: 14
        cookies: false
        type: ''
        deprecated: false
        demo: account/update-session.md
        edit: >-
          https://github.com/appwrite/appwrite/edit/master/docs/references/account/update-session.md
        rate-limit: 10
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: account
        platforms:
          - client
          - server
        packaging: false
        offline-model: ''
        offline-key: ''
        offline-response-key: $id
        auth:
          Project: []
    delete:
      tags:
        - account
      summary: Delete session
      operationId: Account_logoutSessionById
      security:
        - Project: []
          Session: []
          JWT: []
      description: >-
        Logout the user. Use 'current' as the session ID to logout on this
        device, use a session ID to logout on another device. If you're looking
        to logout the user on all devices, use [Delete
        Sessions](https://appwrite.io/docs/references/cloud/client-web/account#deleteSessions)
        instead.
      parameters:
        - description: >-
            Session ID. Use the string 'current' to delete the current device
            session.
          name: sessionId
          required: true
          schema:
            type: string
            x-example: <SESSION_ID>
          in: path
      responses:
        '204':
          description: No content
      x-appwrite:
        method: deleteSession
        weight: 13
        cookies: false
        type: ''
        deprecated: false
        demo: account/delete-session.md
        edit: >-
          https://github.com/appwrite/appwrite/edit/master/docs/references/account/delete-session.md
        rate-limit: 100
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: account
        platforms:
          - client
          - server
        packaging: false
        offline-model: ''
        offline-key: ''
        offline-response-key: $id
        auth:
          Project: []
  /account/status:
    patch:
      tags:
        - account
      summary: Update status
      operationId: Account_blockUserStatus
      security:
        - Project: []
          Session: []
          JWT: []
      description: >-
        Block the currently logged in user account. Behind the scene, the user
        record is not deleted but permanently blocked from any access. To
        completely delete a user, use the Users API instead.
      responses:
        '200':
          description: User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user'
      x-appwrite:
        method: updateStatus
        weight: 36
        cookies: false
        type: ''
        deprecated: false
        demo: account/update-status.md
        edit: >-
          https://github.com/appwrite/appwrite/edit/master/docs/references/account/update-status.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: account
        platforms:
          - client
          - server
        packaging: false
        offline-model: ''
        offline-key: ''
        offline-response-key: $id
        auth:
          Project: []
  /account/targets/push:
    post:
      tags:
        - account
      summary: Create push target
      operationId: Account_createPushTarget
      security:
        - Project: []
          Session: []
      description: ''
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountCreatePushTargetRequest'
      responses:
        '201':
          description: Target
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/target'
      x-appwrite:
        method: createPushTarget
        weight: 53
        cookies: false
        type: ''
        deprecated: false
        demo: account/create-push-target.md
        edit: https://github.com/appwrite/appwrite/edit/master
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: targets.write
        platforms:
          - client
        packaging: false
        offline-model: ''
        offline-key: ''
        offline-response-key: $id
        auth:
          Project: []
  /account/targets/{targetId}/push:
    put:
      tags:
        - account
      summary: Update push target
      operationId: Account_updatePushTarget
      security:
        - Project: []
          Session: []
      description: ''
      parameters:
        - description: Target ID.
          name: targetId
          required: true
          schema:
            type: string
            x-example: <TARGET_ID>
          in: path
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountUpdatePushTargetRequest'
      responses:
        '200':
          description: Target
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/target'
      x-appwrite:
        method: updatePushTarget
        weight: 54
        cookies: false
        type: ''
        deprecated: false
        demo: account/update-push-target.md
        edit: https://github.com/appwrite/appwrite/edit/master
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: targets.write
        platforms:
          - client
        packaging: false
        offline-model: ''
        offline-key: ''
        offline-response-key: $id
        auth:
          Project: []
    delete:
      tags:
        - account
      summary: Delete push target
      operationId: Account_deletePushTarget
      security:
        - Project: []
          Session: []
      description: ''
      parameters:
        - description: Target ID.
          name: targetId
          required: true
          schema:
            type: string
            x-example: <TARGET_ID>
          in: path
      responses:
        '204':
          description: No content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/target'
      x-appwrite:
        method: deletePushTarget
        weight: 55
        cookies: false
        type: ''
        deprecated: false
        demo: account/delete-push-target.md
        edit: https://github.com/appwrite/appwrite/edit/master
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: targets.write
        platforms:
          - client
        packaging: false
        offline-model: ''
        offline-key: ''
        offline-response-key: $id
        auth:
          Project: []
  /account/tokens/email:
    post:
      tags:
        - account
      summary: Create email token (OTP)
      operationId: Account_createEmailToken
      security:
        - Project: []
      description: >-
        Sends the user an email with a secret key for creating a session. If the
        provided user ID has not be registered, a new user will be created. Use
        the returned user ID and secret and submit a request to the [POST
        /v1/account/sessions/token](https://appwrite.io/docs/references/cloud/client-web/account#createSession)
        endpoint to complete the login process. The secret sent to the user's
        email is valid for 15 minutes.


        A user is limited to 10 active sessions at a time by default. [Learn
        more about session
        limits](https://appwrite.io/docs/authentication-security#limits).
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountCreateEmailTokenRequest'
      responses:
        '201':
          description: Token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/token'
      x-appwrite:
        method: createEmailToken
        weight: 24
        cookies: false
        type: ''
        deprecated: false
        demo: account/create-email-token.md
        edit: >-
          https://github.com/appwrite/appwrite/edit/master/docs/references/account/create-token-email.md
        rate-limit: 10
        rate-time: 3600
        rate-key: url:{url},email:{param-email}
        scope: sessions.write
        platforms:
          - server
          - client
        packaging: false
        offline-model: ''
        offline-key: ''
        offline-response-key: $id
        auth:
          Project: []
  /account/tokens/magic-url:
    post:
      tags:
        - account
      summary: Create magic URL token
      operationId: Account_createMagicUrlToken
      security:
        - Project: []
      description: >
        Sends the user an email with a secret key for creating a session. If the
        provided user ID has not been registered, a new user will be created.
        When the user clicks the link in the email, the user is redirected back
        to the URL you provided with the secret key and userId values attached
        to the URL query string. Use the query string parameters to submit a
        request to the [POST
        /v1/account/sessions/token](https://appwrite.io/docs/references/cloud/client-web/account#createSession)
        endpoint to complete the login process. The link sent to the user's
        email address is valid for 1 hour. If you are on a mobile device you can
        leave the URL parameter empty, so that the login completion will be
        handled by your Appwrite instance by default.


        A user is limited to 10 active sessions at a time by default. [Learn
        more about session
        limits](https://appwrite.io/docs/authentication-security#limits).
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountCreateMagicUrlTokenRequest'
      responses:
        '201':
          description: Token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/token'
      x-appwrite:
        method: createMagicURLToken
        weight: 23
        cookies: false
        type: ''
        deprecated: false
        demo: account/create-magic-u-r-l-token.md
        edit: >-
          https://github.com/appwrite/appwrite/edit/master/docs/references/account/create-token-magic-url.md
        rate-limit: 60
        rate-time: 3600
        rate-key:
          - url:{url},email:{param-email}
          - url:{url},ip:{ip}
        scope: sessions.write
        platforms:
          - server
          - client
        packaging: false
        offline-model: ''
        offline-key: ''
        offline-response-key: $id
        auth:
          Project: []
  /account/tokens/oauth2/{provider}:
    get:
      tags:
        - account
      summary: Create OAuth2 token
      operationId: Account_createOAuth2Token
      security:
        - Project: []
      description: >-
        Allow the user to login to their account using the OAuth2 provider of
        their choice. Each OAuth2 provider should be enabled from the Appwrite
        console first. Use the success and failure arguments to provide a
        redirect URL's back to your app when login is completed. 


        If authentication succeeds, `userId` and `secret` of a token will be
        appended to the success URL as query parameters. These can be used to
        create a new session using the [Create
        session](https://appwrite.io/docs/references/cloud/client-web/account#createSession)
        endpoint.


        A user is limited to 10 active sessions at a time by default. [Learn
        more about session
        limits](https://appwrite.io/docs/authentication-security#limits).
      parameters:
        - description: >-
            OAuth2 Provider. Currently, supported providers are: amazon, apple,
            auth0, authentik, autodesk, bitbucket, bitly, box, dailymotion,
            discord, disqus, dropbox, etsy, facebook, github, gitlab, google,
            linkedin, microsoft, notion, oidc, okta, paypal, paypalSandbox,
            podio, salesforce, slack, spotify, stripe, tradeshift,
            tradeshiftBox, twitch, wordpress, yahoo, yammer, yandex, zoho, zoom.
          name: provider
          required: true
          schema:
            type: string
            x-example: amazon
            enum:
              - amazon
              - apple
              - auth0
              - authentik
              - autodesk
              - bitbucket
              - bitly
              - box
              - dailymotion
              - discord
              - disqus
              - dropbox
              - etsy
              - facebook
              - github
              - gitlab
              - google
              - linkedin
              - microsoft
              - notion
              - oidc
              - okta
              - paypal
              - paypalSandbox
              - podio
              - salesforce
              - slack
              - spotify
              - stripe
              - tradeshift
              - tradeshiftBox
              - twitch
              - wordpress
              - yahoo
              - yammer
              - yandex
              - zoho
              - zoom
              - mock
            x-enum-name: OAuthProvider
            x-enum-keys: []
          in: path
        - description: >-
            URL to redirect back to your app after a successful login attempt. 
            Only URLs from hostnames in your project's platform list are
            allowed. This requirement helps to prevent an [open
            redirect](https://cheatsheetseries.owasp.org/cheatsheets/Unvalidated_Redirects_and_Forwards_Cheat_Sheet.html)
            attack against your project API.
          name: success
          required: false
          schema:
            type: string
            format: url
            x-example: https://example.com
            default: ''
          in: query
        - description: >-
            URL to redirect back to your app after a failed login attempt.  Only
            URLs from hostnames in your project's platform list are allowed.
            This requirement helps to prevent an [open
            redirect](https://cheatsheetseries.owasp.org/cheatsheets/Unvalidated_Redirects_and_Forwards_Cheat_Sheet.html)
            attack against your project API.
          name: failure
          required: false
          schema:
            type: string
            format: url
            x-example: https://example.com
            default: ''
          in: query
        - description: >-
            A list of custom OAuth2 scopes. Check each provider internal docs
            for a list of supported scopes. Maximum of 100 scopes are allowed,
            each 4096 characters long.
          name: scopes
          required: false
          schema:
            type: array
            items:
              type: string
            default: []
          in: query
      responses:
        default:
          description: File
      x-appwrite:
        method: createOAuth2Token
        weight: 22
        cookies: false
        type: webAuth
        deprecated: false
        demo: account/create-o-auth2token.md
        edit: >-
          https://github.com/appwrite/appwrite/edit/master/docs/references/account/create-token-oauth2.md
        rate-limit: 50
        rate-time: 3600
        rate-key: ip:{ip}
        scope: sessions.write
        platforms:
          - server
          - client
        packaging: false
        offline-model: ''
        offline-key: ''
        offline-response-key: $id
        auth:
          Project: []
  /account/tokens/phone:
    post:
      tags:
        - account
      summary: Create phone token
      operationId: Account_createPhoneToken
      security:
        - Project: []
      description: >-
        Sends the user an SMS with a secret key for creating a session. If the
        provided user ID has not be registered, a new user will be created. Use
        the returned user ID and secret and submit a request to the [POST
        /v1/account/sessions/token](https://appwrite.io/docs/references/cloud/client-web/account#createSession)
        endpoint to complete the login process. The secret sent to the user's
        phone is valid for 15 minutes.


        A user is limited to 10 active sessions at a time by default. [Learn
        more about session
        limits](https://appwrite.io/docs/authentication-security#limits).
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountCreatePhoneTokenRequest'
      responses:
        '201':
          description: Token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/token'
      x-appwrite:
        method: createPhoneToken
        weight: 27
        cookies: false
        type: ''
        deprecated: false
        demo: account/create-phone-token.md
        edit: >-
          https://github.com/appwrite/appwrite/edit/master/docs/references/account/create-token-phone.md
        rate-limit: 10
        rate-time: 3600
        rate-key:
          - url:{url},phone:{param-phone}
          - url:{url},ip:{ip}
        scope: sessions.write
        platforms:
          - server
          - client
        packaging: false
        offline-model: ''
        offline-key: ''
        offline-response-key: $id
        auth:
          Project: []
  /account/verification:
    post:
      tags:
        - account
      summary: Create email verification
      operationId: Account_createEmailVerification
      security:
        - Project: []
          Session: []
          JWT: []
      description: >
        Use this endpoint to send a verification message to your user email
        address to confirm they are the valid owners of that address. Both the
        **userId** and **secret** arguments will be passed as query parameters
        to the URL you have provided to be attached to the verification email.
        The provided URL should redirect the user back to your app and allow you
        to complete the verification process by verifying both the **userId**
        and **secret** parameters. Learn more about how to [complete the
        verification
        process](https://appwrite.io/docs/references/cloud/client-web/account#updateVerification).
        The verification link sent to the user's email address is valid for 7
        days.


        Please note that in order to avoid a [Redirect
        Attack](https://github.com/OWASP/CheatSheetSeries/blob/master/cheatsheets/Unvalidated_Redirects_and_Forwards_Cheat_Sheet.md),
        the only valid redirect URLs are the ones from domains you have set when
        adding your platforms in the console interface.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountCreateEmailVerificationRequest'
      responses:
        '201':
          description: Token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/token'
      x-appwrite:
        method: createVerification
        weight: 39
        cookies: false
        type: ''
        deprecated: false
        demo: account/create-verification.md
        edit: >-
          https://github.com/appwrite/appwrite/edit/master/docs/references/account/create-email-verification.md
        rate-limit: 10
        rate-time: 3600
        rate-key: url:{url},userId:{userId}
        scope: account
        platforms:
          - client
          - server
        packaging: false
        offline-model: ''
        offline-key: ''
        offline-response-key: $id
        auth:
          Project: []
    put:
      tags:
        - account
      summary: Create email verification (confirmation)
      operationId: Account_createEmailVerification
      security:
        - Project: []
          Session: []
          JWT: []
      description: >-
        Use this endpoint to complete the user email verification process. Use
        both the **userId** and **secret** parameters that were attached to your
        app URL to verify the user email ownership. If confirmed this route will
        return a 200 status code.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountCreateEmailVerificationRequest1'
      responses:
        '200':
          description: Token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/token'
      x-appwrite:
        method: updateVerification
        weight: 40
        cookies: false
        type: ''
        deprecated: false
        demo: account/update-verification.md
        edit: >-
          https://github.com/appwrite/appwrite/edit/master/docs/references/account/update-email-verification.md
        rate-limit: 10
        rate-time: 3600
        rate-key: url:{url},userId:{param-userId}
        scope: public
        platforms:
          - client
          - server
        packaging: false
        offline-model: ''
        offline-key: ''
        offline-response-key: $id
        auth:
          Project: []
  /account/verification/phone:
    post:
      tags:
        - account
      summary: Create phone verification
      operationId: Account_createPhoneVerification
      security:
        - Project: []
          Session: []
          JWT: []
      description: >-
        Use this endpoint to send a verification SMS to the currently logged in
        user. This endpoint is meant for use after updating a user's phone
        number using the
        [accountUpdatePhone](https://appwrite.io/docs/references/cloud/client-web/account#updatePhone)
        endpoint. Learn more about how to [complete the verification
        process](https://appwrite.io/docs/references/cloud/client-web/account#updatePhoneVerification).
        The verification code sent to the user's phone number is valid for 15
        minutes.
      responses:
        '201':
          description: Token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/token'
      x-appwrite:
        method: createPhoneVerification
        weight: 41
        cookies: false
        type: ''
        deprecated: false
        demo: account/create-phone-verification.md
        edit: >-
          https://github.com/appwrite/appwrite/edit/master/docs/references/account/create-phone-verification.md
        rate-limit: 10
        rate-time: 3600
        rate-key:
          - url:{url},userId:{userId}
          - url:{url},ip:{ip}
        scope: account
        platforms:
          - client
          - server
        packaging: false
        offline-model: ''
        offline-key: ''
        offline-response-key: $id
        auth:
          Project: []
    put:
      tags:
        - account
      summary: Create phone verification (confirmation)
      operationId: Account_confirmPhoneVerification
      security:
        - Project: []
          Session: []
          JWT: []
      description: >-
        Use this endpoint to complete the user phone verification process. Use
        the **userId** and **secret** that were sent to your user's phone number
        to verify the user email ownership. If confirmed this route will return
        a 200 status code.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountConfirmPhoneVerificationRequest'
      responses:
        '200':
          description: Token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/token'
      x-appwrite:
        method: updatePhoneVerification
        weight: 42
        cookies: false
        type: ''
        deprecated: false
        demo: account/update-phone-verification.md
        edit: >-
          https://github.com/appwrite/appwrite/edit/master/docs/references/account/update-phone-verification.md
        rate-limit: 10
        rate-time: 3600
        rate-key: userId:{param-userId}
        scope: public
        platforms:
          - client
          - server
        packaging: false
        offline-model: ''
        offline-key: ''
        offline-response-key: $id
        auth:
          Project: []
  /avatars/browsers/{code}:
    get:
      tags:
        - avatars
      summary: Get browser icon
      operationId: Avatars_getBrowserIconByCode
      security:
        - Project: []
          Session: []
          JWT: []
      description: >-
        You can use this endpoint to show different browser icons to your users.
        The code argument receives the browser code as it appears in your user
        [GET
        /account/sessions](https://appwrite.io/docs/references/cloud/client-web/account#getSessions)
        endpoint. Use width, height and quality arguments to change the output
        settings.


        When one dimension is specified and the other is 0, the image is scaled
        with preserved aspect ratio. If both dimensions are 0, the API provides
        an image at source quality. If dimensions are not specified, the default
        size of image returned is 100x100px.
      parameters:
        - description: Browser Code.
          name: code
          required: true
          schema:
            type: string
            x-example: aa
            enum:
              - aa
              - an
              - ch
              - ci
              - cm
              - cr
              - ff
              - sf
              - mf
              - ps
              - oi
              - om
              - op
              - 'on'
            x-enum-name: Browser
            x-enum-keys:
              - Avant Browser
              - Android WebView Beta
              - Google Chrome
              - Google Chrome (iOS)
              - Google Chrome (Mobile)
              - Chromium
              - Mozilla Firefox
              - Safari
              - Mobile Safari
              - Microsoft Edge
              - Microsoft Edge (iOS)
              - Opera Mini
              - Opera
              - Opera (Next)
          in: path
        - description: Image width. Pass an integer between 0 to 2000. Defaults to 100.
          name: width
          required: false
          schema:
            type: integer
            format: int32
            x-example: 0
            default: 100
          in: query
        - description: Image height. Pass an integer between 0 to 2000. Defaults to 100.
          name: height
          required: false
          schema:
            type: integer
            format: int32
            x-example: 0
            default: 100
          in: query
        - description: Image quality. Pass an integer between 0 to 100. Defaults to 100.
          name: quality
          required: false
          schema:
            type: integer
            format: int32
            x-example: 0
            default: 100
          in: query
      responses:
        '200':
          description: Image
      x-appwrite:
        method: getBrowser
        weight: 59
        cookies: false
        type: location
        deprecated: false
        demo: avatars/get-browser.md
        edit: >-
          https://github.com/appwrite/appwrite/edit/master/docs/references/avatars/get-browser.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: avatars.read
        platforms:
          - client
          - server
          - server
        packaging: false
        offline-model: ''
        offline-key: ''
        offline-response-key: $id
        auth:
          Project: []
  /avatars/credit-cards/{code}:
    get:
      tags:
        - avatars
      summary: Get credit card icon
      operationId: Avatars_getCreditCardIcon
      security:
        - Project: []
          Session: []
          JWT: []
      description: >
        The credit card endpoint will return you the icon of the credit card
        provider you need. Use width, height and quality arguments to change the
        output settings.


        When one dimension is specified and the other is 0, the image is scaled
        with preserved aspect ratio. If both dimensions are 0, the API provides
        an image at source quality. If dimensions are not specified, the default
        size of image returned is 100x100px.
      parameters:
        - description: >-
            Credit Card Code. Possible values: amex, argencard, cabal, censosud,
            diners, discover, elo, hipercard, jcb, mastercard, naranja,
            targeta-shopping, union-china-pay, visa, mir, maestro.
          name: code
          required: true
          schema:
            type: string
            x-example: amex
            enum:
              - amex
              - argencard
              - cabal
              - censosud
              - diners
              - discover
              - elo
              - hipercard
              - jcb
              - mastercard
              - naranja
              - targeta-shopping
              - union-china-pay
              - visa
              - mir
              - maestro
            x-enum-name: CreditCard
            x-enum-keys:
              - American Express
              - Argencard
              - Cabal
              - Consosud
              - Diners Club
              - Discover
              - Elo
              - Hipercard
              - JCB
              - Mastercard
              - Naranja
              - Tarjeta Shopping
              - Union China Pay
              - Visa
              - MIR
              - Maestro
          in: path
        - description: Image width. Pass an integer between 0 to 2000. Defaults to 100.
          name: width
          required: false
          schema:
            type: integer
            format: int32
            x-example: 0
            default: 100
          in: query
        - description: Image height. Pass an integer between 0 to 2000. Defaults to 100.
          name: height
          required: false
          schema:
            type: integer
            format: int32
            x-example: 0
            default: 100
          in: query
        - description: Image quality. Pass an integer between 0 to 100. Defaults to 100.
          name: quality
          required: false
          schema:
            type: integer
            format: int32
            x-example: 0
            default: 100
          in: query
      responses:
        '200':
          description: Image
      x-appwrite:
        method: getCreditCard
        weight: 58
        cookies: false
        type: location
        deprecated: false
        demo: avatars/get-credit-card.md
        edit: >-
          https://github.com/appwrite/appwrite/edit/master/docs/references/avatars/get-credit-card.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: avatars.read
        platforms:
          - client
          - server
          - server
        packaging: false
        offline-model: ''
        offline-key: ''
        offline-response-key: $id
        auth:
          Project: []
  /avatars/favicon:
    get:
      tags:
        - avatars
      summary: Get favicon
      operationId: Avatars_getFavicon
      security:
        - Project: []
          Session: []
          JWT: []
      description: >
        Use this endpoint to fetch the favorite icon (AKA favicon) of any remote
        website URL.
      parameters:
        - description: Website URL which you want to fetch the favicon from.
          name: url
          required: true
          schema:
            type: string
            format: url
            x-example: https://example.com
          in: query
      responses:
        '200':
          description: Image
      x-appwrite:
        method: getFavicon
        weight: 62
        cookies: false
        type: location
        deprecated: false
        demo: avatars/get-favicon.md
        edit: >-
          https://github.com/appwrite/appwrite/edit/master/docs/references/avatars/get-favicon.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: avatars.read
        platforms:
          - client
          - server
          - server
        packaging: false
        offline-model: ''
        offline-key: ''
        offline-response-key: $id
        auth:
          Project: []
  /avatars/flags/{code}:
    get:
      tags:
        - avatars
      summary: Get country flag
      operationId: Avatars_getCountryFlagByCode
      security:
        - Project: []
          Session: []
          JWT: []
      description: >
        You can use this endpoint to show different country flags icons to your
        users. The code argument receives the 2 letter country code. Use width,
        height and quality arguments to change the output settings. Country
        codes follow the [ISO 3166-1](https://en.wikipedia.org/wiki/ISO_3166-1)
        standard.


        When one dimension is specified and the other is 0, the image is scaled
        with preserved aspect ratio. If both dimensions are 0, the API provides
        an image at source quality. If dimensions are not specified, the default
        size of image returned is 100x100px.
      parameters:
        - description: Country Code. ISO Alpha-2 country code format.
          name: code
          required: true
          schema:
            type: string
            x-example: af
            enum:
              - af
              - ao
              - al
              - ad
              - ae
              - ar
              - am
              - ag
              - au
              - at
              - az
              - bi
              - be
              - bj
              - bf
              - bd
              - bg
              - bh
              - bs
              - ba
              - by
              - bz
              - bo
              - br
              - bb
              - bn
              - bt
              - bw
              - cf
              - ca
              - ch
              - cl
              - cn
              - ci
              - cm
              - cd
              - cg
              - co
              - km
              - cv
              - cr
              - cu
              - cy
              - cz
              - de
              - dj
              - dm
              - dk
              - do
              - dz
              - ec
              - eg
              - er
              - es
              - ee
              - et
              - fi
              - fj
              - fr
              - fm
              - ga
              - gb
              - ge
              - gh
              - gn
              - gm
              - gw
              - gq
              - gr
              - gd
              - gt
              - gy
              - hn
              - hr
              - ht
              - hu
              - id
              - in
              - ie
              - ir
              - iq
              - is
              - il
              - it
              - jm
              - jo
              - jp
              - kz
              - ke
              - kg
              - kh
              - ki
              - kn
              - kr
              - kw
              - la
              - lb
              - lr
              - ly
              - lc
              - li
              - lk
              - ls
              - lt
              - lu
              - lv
              - ma
              - mc
              - md
              - mg
              - mv
              - mx
              - mh
              - mk
              - ml
              - mt
              - mm
              - me
              - mn
              - mz
              - mr
              - mu
              - mw
              - my
              - na
              - ne
              - ng
              - ni
              - nl
              - 'no'
              - np
              - nr
              - nz
              - om
              - pk
              - pa
              - pe
              - ph
              - pw
              - pg
              - pl
              - kp
              - pt
              - py
              - qa
              - ro
              - ru
              - rw
              - sa
              - sd
              - sn
              - sg
              - sb
              - sl
              - sv
              - sm
              - so
              - rs
              - ss
              - st
              - sr
              - sk
              - si
              - se
              - sz
              - sc
              - sy
              - td
              - tg
              - th
              - tj
              - tm
              - tl
              - to
              - tt
              - tn
              - tr
              - tv
              - tz
              - ug
              - ua
              - uy
              - us
              - uz
              - va
              - vc
              - ve
              - vn
              - vu
              - ws
              - ye
              - za
              - zm
              - zw
            x-enum-name: Flag
            x-enum-keys:
              - Afghanistan
              - Angola
              - Albania
              - Andorra
              - United Arab Emirates
              - Argentina
              - Armenia
              - Antigua and Barbuda
              - Australia
              - Austria
              - Azerbaijan
              - Burundi
              - Belgium
              - Benin
              - Burkina Faso
              - Bangladesh
              - Bulgaria
              - Bahrain
              - Bahamas
              - Bosnia and Herzegovina
              - Belarus
              - Belize
              - Bolivia
              - Brazil
              - Barbados
              - Brunei Darussalam
              - Bhutan
              - Botswana
              - Central African Republic
              - Canada
              - Switzerland
              - Chile
              - China
              - Côte d'Ivoire
              - Cameroon
              - Democratic Republic of the Congo
              - Republic of the Congo
              - Colombia
              - Comoros
              - Cape Verde
              - Costa Rica
              - Cuba
              - Cyprus
              - Czech Republic
              - Germany
              - Djibouti
              - Dominica
              - Denmark
              - Dominican Republic
              - Algeria
              - Ecuador
              - Egypt
              - Eritrea
              - Spain
              - Estonia
              - Ethiopia
              - Finland
              - Fiji
              - France
              - Micronesia (Federated States of)
              - Gabon
              - United Kingdom
              - Georgia
              - Ghana
              - Guinea
              - Gambia
              - Guinea-Bissau
              - Equatorial Guinea
              - Greece
              - Grenada
              - Guatemala
              - Guyana
              - Honduras
              - Croatia
              - Haiti
              - Hungary
              - Indonesia
              - India
              - Ireland
              - Iran (Islamic Republic of)
              - Iraq
              - Iceland
              - Israel
              - Italy
              - Jamaica
              - Jordan
              - Japan
              - Kazakhstan
              - Kenya
              - Kyrgyzstan
              - Cambodia
              - Kiribati
              - Saint Kitts and Nevis
              - South Korea
              - Kuwait
              - Lao People's Democratic Republic
              - Lebanon
              - Liberia
              - Libya
              - Saint Lucia
              - Liechtenstein
              - Sri Lanka
              - Lesotho
              - Lithuania
              - Luxembourg
              - Latvia
              - Morocco
              - Monaco
              - Moldova
              - Madagascar
              - Maldives
              - Mexico
              - Marshall Islands
              - North Macedonia
              - Mali
              - Malta
              - Myanmar
              - Montenegro
              - Mongolia
              - Mozambique
              - Mauritania
              - Mauritius
              - Malawi
              - Malaysia
              - Namibia
              - Niger
              - Nigeria
              - Nicaragua
              - Netherlands
              - Norway
              - Nepal
              - Nauru
              - New Zealand
              - Oman
              - Pakistan
              - Panama
              - Peru
              - Philippines
              - Palau
              - Papua New Guinea
              - Poland
              - North Korea
              - Portugal
              - Paraguay
              - Qatar
              - Romania
              - Russia
              - Rwanda
              - Saudi Arabia
              - Sudan
              - Senegal
              - Singapore
              - Solomon Islands
              - Sierra Leone
              - El Salvador
              - San Marino
              - Somalia
              - Serbia
              - South Sudan
              - Sao Tome and Principe
              - Suriname
              - Slovakia
              - Slovenia
              - Sweden
              - Eswatini
              - Seychelles
              - Syria
              - Chad
              - Togo
              - Thailand
              - Tajikistan
              - Turkmenistan
              - Timor-Leste
              - Tonga
              - Trinidad and Tobago
              - Tunisia
              - Turkey
              - Tuvalu
              - Tanzania
              - Uganda
              - Ukraine
              - Uruguay
              - United States
              - Uzbekistan
              - Vatican City
              - Saint Vincent and the Grenadines
              - Venezuela
              - Vietnam
              - Vanuatu
              - Samoa
              - Yemen
              - South Africa
              - Zambia
              - Zimbabwe
          in: path
        - description: Image width. Pass an integer between 0 to 2000. Defaults to 100.
          name: width
          required: false
          schema:
            type: integer
            format: int32
            x-example: 0
            default: 100
          in: query
        - description: Image height. Pass an integer between 0 to 2000. Defaults to 100.
          name: height
          required: false
          schema:
            type: integer
            format: int32
            x-example: 0
            default: 100
          in: query
        - description: Image quality. Pass an integer between 0 to 100. Defaults to 100.
          name: quality
          required: false
          schema:
            type: integer
            format: int32
            x-example: 0
            default: 100
          in: query
      responses:
        '200':
          description: Image
      x-appwrite:
        method: getFlag
        weight: 60
        cookies: false
        type: location
        deprecated: false
        demo: avatars/get-flag.md
        edit: >-
          https://github.com/appwrite/appwrite/edit/master/docs/references/avatars/get-flag.md
        rate-limit: 0
        rate-time: 3600
        rate-key: url:{url},ip:{ip}
        scope: avatars.read
        platforms:
          - client
          - server
          - server
        packaging: false
        offline-model: ''
        offline-key: ''
        offline-response-key: $id
        auth:
          Project: []
  /avatars/image:
    get:
      tags:
        - avatars
      summary: Get image from URL
      operationId: Avatars_getRemoteImage
      security:
        - Project: []
          Session: []
          JWT: []
      description: >
        Use this endpoint to fetch a remote image URL and crop it to any image
[...]
