openapi: 3.0.3
info:
  title: Ashby API
  description: The public API for accessing resources in your Ashby instance.
  version: 1.0.0
  contact:
    name: Ashby Support
    url: https://app.ashbyhq.com/support
    email: support@ashbyhq.com
  x-konfig-ignore:
    object-with-no-properties: true
servers:
  - url: https://api.ashbyhq.com
tags:
  - name: Candidate
  - name: Openings
  - name: Job
  - name: Application
  - name: Assessment
  - name: Interview Schedule
  - name: Offer
  - name: Custom Field
  - name: Job Posting
  - name: Location
  - name: User
  - name: Webhook
  - name: Application Feedback
  - name: Candidate Tag
  - name: Department
  - name: Feedback Form Definition
  - name: Interview
  - name: Interview Stage
  - name: Survey Form Definition
  - name: API Key
  - name: Application Form
  - name: Approval Definition
  - name: Archive Reason
  - name: Department & Team
  - name: File
  - name: Hiring Team
  - name: Hiring Team Role
  - name: Interview Event
  - name: Interview Plan
  - name: Job Interview Plan
  - name: Offer Process
  - name: Referral
  - name: Referral Form
  - name: Source
  - name: Survey Request
  - name: Survey Submission
  - description: The Ashby API
    name: ashby
paths:
  /apiKey.info:
    post:
      tags:
        - API Key
      summary: apiKey.info
      operationId: ApiKey_getInfo
      description: >
        Retrieve information about the API key being used to make the request.


        **Requires the [`apiKeysRead`](authentication#permissions-apikeyinfo)
        permission.**
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKeyGetInfoRequest'
      responses:
        '200':
          description: Responses for the apiKey.info endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyGetInfoResponse'
  /application.change_source:
    post:
      tags:
        - Application
      summary: application.changeSource
      operationId: Application_changeSource
      description: >
        Change the source of an application.


        **Requires the
        [`candidatesWrite`](authentication#permissions-applicationchangesource)
        permission.**
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationChangeSourceRequest'
      responses:
        '200':
          description: Responses from the application.changeSource endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationChangeSourceResponse'
  /application.change_stage:
    post:
      tags:
        - Application
      summary: application.changeStage
      operationId: Application_changeStage
      description: >
        Change the stage of an application


        **Requires the
        [`candidatesWrite`](authentication#permissions-applicationchangestage)
        permission.**
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationChangeStageRequest'
      responses:
        '200':
          description: Responses from the application.changeStage endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationChangeStageResponse'
  /application.create:
    post:
      tags:
        - Application
      summary: application.create
      operationId: Application_considerCandidate
      description: >
        Consider a candidate for a job


        **Requires the
        [`candidatesWrite`](authentication#permissions-applicationcreate)
        permission.**
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationConsiderCandidateRequest'
      responses:
        '200':
          description: Responses from the application.change_stage endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationConsiderCandidateResponse'
  /application.info:
    post:
      tags:
        - Application
      summary: application.info
      operationId: Application_getDetails
      description: >
        Fetch application details by application id or by submitted form
        instance id (which is return by the `applicationForm.submit` endpoint).
        If both applicationId and submittedFormInstanceId are provided, we will
        lookup by applicationId.


        **Requires the
        [`candidatesRead`](authentication#permissions-applicationinfo)
        permission.**
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationGetDetailsRequest'
      responses:
        '200':
          description: Responses from the application.info endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationGetDetailsResponse'
  /application.list:
    post:
      tags:
        - Application
      summary: application.list
      operationId: Application_getAllSchedules
      description: >
        Gets all applications schedules in the organization.


        **Requires the
        [`candidatesRead`](authentication#permissions-applicationlist)
        permission.**
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationGetAllSchedulesRequest'
      responses:
        '200':
          description: Responses from the application.list endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationGetAllSchedulesResponse'
  /applicationFeedback.list:
    post:
      tags:
        - Application Feedback
      summary: applicationFeedback.list
      operationId: ApplicationFeedback_listAll
      description: >
        List all feedback associated with an application.


        **Requires the
        [`candidatesRead`](authentication#permissions-applicationfeedbacklist)
        permission.**


        The `submittedValues` field in the response contains the submitted
        feedback in an object where the key is the path of the field and the
        value is the value submitted for that field.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationFeedbackListAllRequest'
      responses:
        '200':
          description: Responses from the applicationFeedback.list endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationFeedbackListAllResponse'
  /applicationFeedback.submit:
    post:
      tags:
        - Application Feedback
      summary: applicationFeedback.submit
      operationId: ApplicationFeedback_submitFeedback
      description: >
        Application feedback forms support a variety of field types. 


        **Requires the
        [`candidatesWrite`](authentication#permissions-applicationfeedbacksubmit)
        permission.**


        The values accepted for each field depend on the type of field that's
        being filled
        out:                                                                                                                                                                                                                
        |

        - `Boolean` - A boolean value

        - `Date` - A date string in the format YYYY-MM-DD

        - `Email` - A valid email address

        - `Number` - An integer

        - `RichText` - We do not support submitting rich text documents via the
        API but we do support submitting plain text values for these fields.
        Plain text values must be submitted in the format `{ type: "PlainText",
        value: "A plain text string" }`

        - `Score` - An integer between 1 and 4 submitted in the format `{ score:
        4 }`

        - `Phone`, `String` A string

        - `ValueSelect` - A string that matches the value of one of the
        ValueSelect field's selectable options

        - `MultiValueSelect` - An array of strings that exist in the
        MultiValueSelect field's selectable options


        The `submittedValues` field in the response contains the submitted
        feedback in an object where the key is the path of the field and the
        value is the value submitted for that field.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationFeedbackSubmitFeedbackRequest'
      responses:
        '200':
          description: Responses from the applicationFeedback.submit endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationFeedbackSubmitFeedbackResponse'
  /applicationForm.submit:
    post:
      tags:
        - Application Form
      summary: applicationForm.submit
      operationId: ApplicationForm_submitForm
      description: >
        Submit an application for a job posting.


        **Requires the
        [`candidatesWrite`](authentication#permissions-applicationformsubmit)
        permission.**


        The Content-Type of this request must be `multipart/form-data`.


        **Note: The requests generated from this documentation will not work for
        this endpoint.**
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ApplicationFormSubmitFormRequest'
      responses:
        '200':
          description: Responses from the applicationFeedback.submit endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationFormSubmitFormResponse'
  /approvalDefinition.update:
    post:
      tags:
        - Approval Definition
      summary: approvalDefinition.update
      operationId: ApprovalDefinition_updateEntityScope
      description: >
        Create or update an approval definition for a specific entity that
        requires approval. The entity requiring approval must be within scope of
        an approval in Ashby that is marked as being managed by the API.


        **Requires the
        [`approvalsWrite`](authentication#permissions-approvaldefinitionupdate)
        permission.**
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApprovalDefinitionUpdateEntityScopeRequest'
      responses:
        '200':
          description: Responses from the approvalDefinition.update endpoint
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ApprovalDefinitionUpdateEntityScopeResponse
  /archiveReason.list:
    post:
      tags:
        - Archive Reason
      summary: archiveReason.list
      operationId: ArchiveReason_list
      description: >
        Lists archive reasons


        **Requires the
        [`hiringProcessMetadataRead`](authentication#permissions-archivereasonlist)
        permission.**
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArchiveReasonListRequest'
      responses:
        '200':
          description: Responses for the archiveReason.list endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArchiveReasonListResponse'
  /assessment.addCompletedToCandidate:
    post:
      tags:
        - Assessment
      summary: assessment.addCompletedToCandidate
      operationId: Assessment_addCompletedToCandidate
      description: >
        Add a completed assessment to a candidate


        **Requires the
        [`candidatesWrite`](authentication#permissions-assessmentaddcompletedtocandidate)
        permission.**
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssessmentAddCompletedToCandidateRequest'
      responses:
        '200':
          description: Responses for the assessment.addCompletedToCandidate endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssessmentAddCompletedToCandidateResponse'
  /assessment.start:
    post:
      tags:
        - Assessment
      summary: assessment.start (Implemented by Partner)
      operationId: Assessment_partnerStart
      description: >
        The API for starting an assessment—implemented by the partner, but
        called by Ashby
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssessmentPartnerStartRequest'
      responses:
        '200':
          description: Responses for the assessment.start endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssessmentPartnerStartResponse'
        '409':
          description: Responses for the assessment.start endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssessmentPartnerStart409Response'
  /assessment.list:
    post:
      tags:
        - Assessment
      summary: assessment.list (Implemented by Partner)
      operationId: Assessment_listPartnerSupport
      description: >
        The API for listing assessments that the partner supports — implemented
        by the partner, but called by Ashby
      responses:
        '200':
          description: Responses for the assessment.list endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssessmentListPartnerSupportResponse'
  /assessment.update:
    post:
      tags:
        - Assessment
      summary: assessment.update
      operationId: Assessment_updateStatus
      description: >
        Update Ashby about the status of a started assessment


        **Requires the
        [`candidatesWrite`](authentication#permissions-assessmentupdate)
        permission.**
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssessmentUpdateStatusRequest'
      responses:
        '200':
          description: Responses for the assessment.update endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssessmentUpdateStatusResponse'
  /assessment.cancel:
    post:
      tags:
        - Assessment
      summary: assessment.cancel (Implemented by Partner)
      operationId: Assessment_cancelPartnerAssessment
      description: >
        (Optional) Cancels an assessment— implemented by the partner, but called
        by Ashby
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssessmentCancelPartnerAssessmentRequest'
      responses:
        '200':
          description: Responses for the assessment.cancel endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssessmentCancelPartnerAssessmentResponse'
  /candidate.addTag:
    post:
      tags:
        - Candidate
      summary: candidate.addTag
      operationId: Candidate_addTag
      description: >
        Adds a tag to a candidate


        **Requires the
        [`candidatesWrite`](authentication#permissions-candidateaddtag)
        permission.**
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CandidateAddTagRequest'
      responses:
        '200':
          description: Responses for the candidate.addTag endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CandidateAddTagResponse'
  /canidate.anonymize:
    post:
      tags:
        - Candidate
      summary: candidate.anonymize
      operationId: Candidate_anonymizeCandidate
      description: >
        Anonymizes a candidate.


        **Requires the
        [`candidatesWrite`](authentication#permissions-candidateanonymize)
        permission.**


        **Note**: this action cannot be reversed and requires all of a
        candidate's applications to be in the archived or hired state.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CandidateAnonymizeCandidateRequest'
      responses:
        '200':
          description: Responses for the candidate.anonymize endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CandidateAnonymizeCandidateResponse'
  /candidate.create:
    post:
      tags:
        - Candidate
      summary: candidate.create
      operationId: Candidate_createNewCandidate
      description: >
        Creates a new candidate


        **Requires the
        [`candidatesWrite`](authentication#permissions-candidatecreate)
        permission.**
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CandidateCreateNewCandidateRequest'
      responses:
        '200':
          description: Responses for the candidate.create endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CandidateCreateNewCandidateResponse'
  /candidate.createNote:
    post:
      tags:
        - Candidate
      summary: candidate.createNote
      operationId: Candidate_createNote
      description: >
        Creates a note on a candidate.


        **Requires the
        [`candidatesWrite`](authentication#permissions-candidatecreatenote)
        permission.**


        For notes submitted with a type of `text/html`, we support the elements
        listed below. Any unsupported elements will be stripped out of the
        note's content before posting.
          - Bold `<b>`
          - Italic `<i>`
          - Underline `<u>`
          - Links `<a>`
          - Bulleted Lists - `<ul>`, `<li>`
          - Ordered Lists - `<ol>`, `<li>`
          - Code - `<code>`
          - Code Block - `<pre>`
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CandidateCreateNoteRequest'
      responses:
        '200':
          description: Responses for the candidate.createNote endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CandidateCreateNoteResponse'
  /candidate.info:
    post:
      tags:
        - Candidate
      summary: candidate.info
      operationId: Candidate_getById
      description: >
        Gets a single candidate by id.


        **Requires the
        [`candidatesRead`](authentication#permissions-candidateinfo)
        permission.**
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CandidateGetByIdRequest'
      responses:
        '200':
          description: Responses from the candidate.info endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CandidateGetByIdResponse'
  /candidate.list:
    post:
      tags:
        - Candidate
      summary: candidate.list
      operationId: Candidate_listAll
      description: >
        Lists all candidates in an organization


        **Requires the
        [`candidatesRead`](authentication#permissions-candidatelist)
        permission.**
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CandidateListAllRequest'
      responses:
        '200':
          description: Responses for the candidate.list endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CandidateListAllResponse'
  /candidate.listNotes:
    post:
      tags:
        - Candidate
      summary: candidate.listNotes
      operationId: Candidate_getAllNotes
      description: >
        Lists all notes on a candidate


        **Requires the
        [`candidatesRead`](authentication#permissions-candidatelistnotes)
        permission.**
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CandidateGetAllNotesRequest'
      responses:
        '200':
          description: Responses for the candidate.listNotes endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CandidateGetAllNotesResponse'
  /candidate.search:
    post:
      tags:
        - Candidate
      summary: candidate.search
      operationId: Candidate_searchByEmailAndName
      description: >
        Search for candidates by email and / or name. 


        **Requires the
        [`candidatesRead`](authentication#permissions-candidatesearch)
        permission.**


        Responses are limited to 100 results. Consider refining your search or
        using /candidate.list to paginate through all candidates, if you
        approach this limit. This API is for use cases where you intend operate
        on a final small set of candidates, like building a candidate
        autocomplete.


        Note: When multiple search parameters are provided, the parameters are
        combined with the `AND` operator.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CandidateSearchByEmailAndNameRequest'
      responses:
        '200':
          description: Responses for the candidate.search endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CandidateSearchByEmailAndNameResponse'
  /candidate.update:
    post:
      tags:
        - Candidate
      summary: candidate.update
      operationId: Candidate_updateExistingCandidate
      description: >
        Updates an existing candidate


        **Requires the
        [`candidatesWrite`](authentication#permissions-candidateupdate)
        permission.**
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CandidateUpdateExistingCandidateRequest'
      responses:
        '200':
          description: Responses for the candidate.list endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CandidateUpdateExistingCandidateResponse'
  /candidate.uploadFile:
    post:
      tags:
        - Candidate
      summary: candidate.uploadFile
      operationId: Candidate_attachFile
      description: >
        Uploads a file to attach to the candidate's profile. 


        **Requires the
        [`candidatesWrite`](authentication#permissions-candidateuploadfile)
        permission.**


        The `Content-Type` of this request must be `multipart/form-data`.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CandidateAttachFileRequest'
      responses:
        '200':
          description: Responses from the candidate.uploadFile endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CandidateAttachFileResponse'
  /candidate.uploadResume:
    post:
      tags:
        - Candidate
      summary: candidate.uploadResume
      operationId: Candidate_uploadResumeData
      description: >
        Uploads a candidate's resume, parses it, and updates their information.


        **Requires the
        [`candidatesWrite`](authentication#permissions-candidateuploadresume)
        permission.**


        The `Content-Type` of this request must be `multipart/form-data`.


        Note: Existing candidate data always takes precedence over data found by
        parsing the resume. Resume data only populates candidate data, if it's
        data that was missing in the candidate model.    
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CandidateUploadResumeDataRequest'
      responses:
        '200':
          description: Responses from the candidate.uploadResume endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CandidateUploadResumeDataResponse'
  /candidateTag.create:
    post:
      tags:
        - Candidate Tag
      summary: candidateTag.create
      operationId: CandidateTag_createNewTag
      description: >
        Creates a candidate tag.


        **Requires the
        [`hiringProcessMetadataWrite`](authentication#permissions-candidatetagcreate)
        permission.**
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CandidateTagCreateNewTagRequest'
      responses:
        '200':
          description: Responses for the location.create endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CandidateTagCreateNewTagResponse'
  /candidateTag.list:
    post:
      tags:
        - Candidate Tag
      summary: candidateTag.list
      operationId: CandidateTag_listAll
      description: >
        Lists all candidate tags


        **Requires the
        [`hiringProcessMetadataRead`](authentication#permissions-candidatetaglist)
        permission.**
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CandidateTagListAllRequest'
      responses:
        '200':
          description: Responses for the candidateTag.list endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CandidateTagListAllResponse'
  /customField.create:
    post:
      tags:
        - Custom Field
      summary: customField.create
      operationId: CustomField_createNewField
      description: >
        Create a new custom field


        **Requires the
        [`hiringProcessMetadataWrite`](authentication#permissions-customfieldcreate)
        permission.**
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomFieldCreateNewFieldRequest'
      responses:
        '200':
          description: Responses for the customField.create endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomFieldCreateNewFieldResponse'
  /customField.list:
    post:
      tags:
        - Custom Field
      summary: customField.list
      operationId: CustomField_getAll
      description: >
        Lists all custom fields


        **Requires the
        [`hiringProcessMetadataRead`](authentication#permissions-customfieldlist)
        permission.**
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/paths/~1candidate.list/post/requestBody/content/application~1json/schema
      responses:
        '200':
          description: Responses for the customField.list endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomFieldGetAllResponse'
  /customField.setValue:
    post:
      tags:
        - Custom Field
      summary: customField.setValue
      operationId: CustomField_setValue
      description: >
        Set the value of a custom field


        **Requires the
        [`candidatesWrite`](authentication#permissions-customfieldsetvalue)
        permission.**


        The values accepted in the `fieldValue` param depend on the type of
        field that's being updated. See below for more details:
          - Boolean - A boolean value
          - Date - An ISO Date string
          - Email, LongText, Phone, String - String
          - ValueSelect - A string that matches the value of one of the ValueSelect field's options
          - MultiValueSelect - An array of strings that exist in the MultiValueSelect field's options
          - Number - A number
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomFieldSetValueRequest'
      responses:
        '200':
          description: Responses for the customField.create endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomFieldSetValueResponse'
  /department.create:
    post:
      tags:
        - Department & Team
      summary: department.create
      operationId: DepartmentTeam_createNewDepartment
      description: >
        Creates a department


        **Requires the
        [`organizationWrite`](authentication#permissions-departmentcreate)
        permission.**
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DepartmentTeamCreateNewDepartmentRequest'
      responses:
        '200':
          description: Responses for the department.create endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepartmentTeamCreateNewDepartmentResponse'
  /department.info:
    post:
      tags:
        - Department
      summary: department.info
      operationId: Department_getById
      description: >
        Fetch department details by id


        **Requires the
        [`organizationRead`](authentication#permissions-departmentinfo)
        permission.**
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DepartmentGetByIdRequest'
      responses:
        '200':
          description: Responses from the department.info endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepartmentGetByIdResponse'
  /department.list:
    post:
      tags:
        - Department
      summary: department.list
      operationId: Department_getAllDepartments
      description: >
        Lists all departments


        **Requires the
        [`organizationRead`](authentication#permissions-departmentlist)
        permission.**
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DepartmentGetAllDepartmentsRequest'
      responses:
        '200':
          description: Responses for the department.list endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepartmentGetAllDepartmentsResponse'
  /file.info:
    post:
      tags:
        - File
      summary: file.info
      operationId: File_getUrlCandidate
      description: >
        Retrieve the url of a file associated with a candidate


        **Requires the [`candidatesRead`](authentication#permissions-fileinfo)
        permission.**
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FileGetUrlCandidateRequest'
      responses:
        '200':
          description: Responses for the file.info endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileGetUrlCandidateResponse'
  /feedbackFormDefinition.info:
    post:
      tags:
        - Feedback Form Definition
      summary: feedbackFormDefinition.info
      operationId: FeedbackFormDefinition_getById
      description: >
        Returns a single feedback form by id


        **Requires the
        [`hiringProcessMetadataRead`](authentication#permissions-feedbackformdefinitioninfo)
        permission.**
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FeedbackFormDefinitionGetByIdRequest'
      responses:
        '200':
          description: Responses for the feedbackFormDefinition.info endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedbackFormDefinitionGetByIdResponse'
  /feedbackFormDefinition.list:
    post:
      tags:
        - Feedback Form Definition
      summary: feedbackFormDefinition.list
      operationId: FeedbackFormDefinition_listAll
      description: >
        Lists all feedback forms


        **Requires the
        [`hiringProcessMetadataRead`](authentication#permissions-feedbackformdefinitionlist)
        permission.**
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FeedbackFormDefinitionListAllRequest'
      responses:
        '200':
          description: Responses for the feedbackFormDefinition.list endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedbackFormDefinitionListAllResponse'
  /hiringTeam.addMember:
    post:
      tags:
        - Hiring Team
      summary: hiringTeam.addMember
      operationId: HiringTeam_addMember
      description: >
        Adds an Ashby user to the hiring team at the application or job-level. 


        **Requires the
        [`organizationWrite`](authentication#permissions-hiringteamaddmember)
        permission.**


        Hiring team members can be added to a hiring team at the application
        level or at the job level. 
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HiringTeamAddMemberRequest'
      responses:
        '200':
          description: Responses for the hiringTeam.addMember endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HiringTeamAddMemberResponse'
  /hiringTeamRole.list:
    post:
      tags:
        - Hiring Team Role
      summary: hiringTeamRole.list
      operationId: HiringTeamRole_listRoles
      description: >
        Lists the possible hiring team roles in an organization


        **Requires the
        [`organizationRead`](authentication#permissions-hiringteamrolelist)
        permission.**
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HiringTeamRoleListRolesRequest'
      responses:
        '200':
          description: Responses for the hiringTeamRole.list endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HiringTeamRoleListRolesResponse'
  /interview.info:
    post:
      tags:
        - Interview
      summary: interview.info
      operationId: Interview_getById
      description: >
        Fetch interview details by id


        **Requires the
        [`interviewsRead`](authentication#permissions-interviewinfo)
        permission.**
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InterviewGetByIdRequest'
      responses:
        '200':
          description: Responses from the interview.info endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InterviewGetByIdResponse'
  /interview.list:
    post:
      tags:
        - Interview
      summary: interview.list
      operationId: Interview_getAll
      description: >
        List all interviews


        **Requires the
        [`interviewsRead`](authentication#permissions-interviewlist)
        permission.**
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InterviewGetAllRequest'
      responses:
        '200':
          description: Responses from the interview.list endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InterviewGetAllResponse'
  /interviewEvent.list:
    post:
      tags:
        - Interview Event
      summary: interviewEvent.list
      operationId: InterviewEvent_listAssociatedEvents
      description: >
        Lists interview events associated with an interview schedule


        **Requires the
        [`interviewsRead`](authentication#permissions-intervieweventlist)
        permission.**
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InterviewEventListAssociatedEventsRequest'
      responses:
        '200':
          description: Responses from the interviewEvent.list endpoint
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/InterviewEventListAssociatedEventsResponse
  /interviewPlan.list:
    post:
      tags:
        - Interview Plan
      summary: interviewPlan.list
      operationId: InterviewPlan_getAll
      description: >
        List all interview plans.


        **Requires the
        [`interviewsRead`](authentication#permissions-interviewplanlist)
        permission.**
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InterviewPlanGetAllRequest'
      responses:
        '200':
          description: Responses from the interviewPlan.list endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InterviewPlanGetAllResponse'
  /interviewSchedule.cancel:
    post:
      tags:
        - Interview Schedule
      summary: interviewSchedule.cancel
      operationId: InterviewSchedule_cancelById
      description: >
        Cancel an interview schedule by id


        **Requires the
        [`interviewsWrite`](authentication#permissions-interviewschedulecancel)
        permission.**
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InterviewScheduleCancelByIdRequest'
      responses:
        '200':
          description: Responses from the interviewSchedule.cancel endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InterviewScheduleCancelByIdResponse'
  /interviewSchedule.create:
    post:
      tags:
        - Interview Schedule
      summary: interviewSchedule.create
      operationId: InterviewSchedule_createScheduledInterview
      description: >
        Create a scheduled interview in Ashby


        **Requires the
        [`interviewsWrite`](authentication#permissions-interviewschedulecreate)
        permission.**
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/InterviewScheduleCreateScheduledInterviewRequest
      responses:
        '200':
          description: Responses from the interviewSchedule.create endpoint
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/InterviewScheduleCreateScheduledInterviewResponse
  /interviewSchedule.list:
    post:
      tags:
        - Interview Schedule
      summary: interviewSchedule.list
      operationId: InterviewSchedule_getAllSchedules
      description: >
        Gets all interview schedules in the organization.


        **Requires the
        [`interviewsRead`](authentication#permissions-interviewschedulelist)
        permission.**
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InterviewScheduleGetAllSchedulesRequest'
      responses:
        '200':
          description: Responses from the interviewSchedule.list endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InterviewScheduleGetAllSchedulesResponse'
  /interviewSchedule.update:
    post:
      tags:
        - Interview Schedule
      summary: interviewSchedule.update
      operationId: InterviewSchedule_updateEvent
      description: >
        Update an interview schedule. This endpoint allows you to add, cancel,
        or update interview events associated with an interview schedule.


        **Requires the
        [`interviewsWrite`](authentication#permissions-interviewscheduleupdate)
        permission.**


        In order to update an interview event on a schedule, the event's
        `interviewEventId` must be included when sending your request. 

        `interviewEventId`s are included in the response of the
        `interviewSchedule.create` endpoint.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InterviewScheduleUpdateEventRequest'
      responses:
        '200':
          description: Responses from the interviewSchedule.update endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InterviewScheduleUpdateEventResponse'
  /interviewStage.list:
    post:
      tags:
        - Interview Stage
      summary: interviewStage.list
      operationId: InterviewStage_listAllInOrder
      description: >
        List all interview stages for an interview plan in order.


        **Requires the
        [`interviewsRead`](authentication#permissions-interviewstagelist)
        permission.**
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InterviewStageListAllInOrderRequest'
      responses:
        '200':
          description: Responses for the interviewStage.list endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InterviewStageListAllInOrderResponse'
  /interviewStage.info:
    post:
      tags:
        - Interview Stage
      summary: interviewStage.info
      operationId: InterviewStage_getById
      description: >
        Fetch interview stage details by id


        **Requires the
        [`interviewsRead`](authentication#permissions-interviewstageinfo)
        permission.**
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InterviewStageGetByIdRequest'
      responses:
        '200':
          description: Responses from the interviewStage.info endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InterviewStageGetByIdResponse'
  /job.create:
    post:
      tags:
        - Job
      summary: job.create
      operationId: Job_newCreate
      description: >
        Creates a new job


        **Requires the [`jobsWrite`](authentication#permissions-jobcreate)
        permission.**
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JobNewCreateRequest'
      responses:
        '200':
          description: Responses for the job.create endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobNewCreateResponse'
  /job.info:
    post:
      tags:
        - Job
      summary: job.info
      operationId: Job_getById
      description: >
        Returns details about a single job by id


        **Requires the [`jobsRead`](authentication#permissions-jobinfo)
        permission.**
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JobGetByIdRequest'
      responses:
        '200':
          description: Responses for the job.info endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobGetByIdResponse'
  /job.list:
    post:
      tags:
        - Job
      summary: job.list
      operationId: Job_getList
      description: >
        List all open, closed, and archived jobs.


        **Requires the [`jobsRead`](authentication#permissions-joblist)
        permission.**


        To include draft jobs, `Draft` must be specified in the `status` param.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JobGetListRequest'
      responses:
        '200':
          description: Responses for the jobPosting.list endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobGetListResponse'
  /job.setStatus:
    post:
      tags:
        - Job
      summary: job.setStatus
      operationId: Job_setStatusById
      description: >
        Sets the status on a job by id.


        **Requires the [`jobsWrite`](authentication#permissions-jobsetstatus)
        permission.**


        All jobs are drafts when they're first created. There are a few
        validations around the stages a job can be transitioned to:

        - Drafts can be changed to Open or Archived

        - Open jobs can be changed to Closed

        - Closed jobs can be changed to Draft or Archived

        - Archived jobs can be changed to a Draft 
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JobSetStatusByIdRequest'
      responses:
        '200':
          description: Responses for the job.setStatus endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobSetStatusByIdResponse'
  /job.update:
    post:
      tags:
        - Job
      summary: job.update
      operationId: Job_updateExisting
      description: >
        Updates an existing job


        **Requires the [`jobsWrite`](authentication#permissions-jobupdate)
        permission.**
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JobUpdateExistingRequest'
      responses:
        '200':
          description: Responses for the job.update endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobUpdateExistingResponse'
  /job.search:
    post:
      tags:
        - Job
      summary: job.search
      operationId: Job_searchByTitle
      description: >
        Searches for jobs by title


        **Requires the [`jobsRead`](authentication#permissions-jobsearch)
        permission.**
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JobSearchByTitleRequest'
      responses:
        '200':
          description: Responses for the job.search endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobSearchByTitleResponse'
  /jobInterviewPlan.info:
    post:
      tags:
        - Job Interview Plan
      summary: jobInterviewPlan.info
      operationId: JobInterviewPlan_getInfo
      description: >
        Returns a job's interview plan, including activities and interviews that
        need to be scheduled at each stage


        **Requires the
        [`jobsRead`](authentication#permissions-jobinterviewplaninfo)
        permission.**
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JobInterviewPlanGetInfoRequest'
      responses:
        '200':
          description: Responses for the jobInterviewPlan.info endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobInterviewPlanGetInfoResponse'
  /jobPosting.info:
    post:
      tags:
        - Job Posting
      summary: jobPosting.info
      operationId: JobPosting_getIndividual
      description: "Retrieve an individual job posting\n\n**Requires the [`jobsRead`](authentication#permissions-jobpostinginfo) permission.**\n\nResult fields:\n- `linkedData` - Object that can be used to populate \"rich results\" in search engines. [See more info here](https://developers.google.com/search/docs/data-types/job-posting).\n- `applicationFormDefinition` -\tSee the guide on [Creating a custom careers page](https://developers.ashbyhq.com/docs/creating-a-custom-careers-page).\n"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JobPostingGetIndividualRequest'
      responses:
        '200':
          description: Responses for the jobPosting.info endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobPostingGetIndividualResponse'
  /jobPosting.list:
    post:
      tags:
        - Job Posting
      summary: jobPosting.list
      operationId: JobPosting_getAllPublished
      description: >
        Lists all published job postings


        **Requires the [`jobsRead`](authentication#permissions-jobpostinglist)
        permission.**


        **Important**: By default, this endpoint includes all listed and
        unlisted job postings. Unlisted job postings should not be displayed
        publicly. 

        If you are using the API to publicly expose job postings, set the
        `listedOnly` parameter to `true` when calling this API so that you only
        fetch listed job postings that can be displayed publicly.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JobPostingGetAllPublishedRequest'
      responses:
        '200':
          description: Responses for the jobPosting.list endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobPostingGetAllPublishedResponse'
  /jobPosting.update:
    post:
      tags:
        - Job Posting
      summary: jobPosting.update
      operationId: JobPosting_updateExisting
      description: >
        Updates an existing job posting.


        **Requires the
        [`jobsWrite`](authentication#permissions-jobpostingupdate) permission.**


        **Note on updating the description**: The `descriptionHtml` field
        returned in `jobPosting.info` may contain content that is not modifiable
        through the API. Only the content of the
        `descriptionParts.descriptionBody` field of the `jobPosting.info`
        endpoint is modifiable through this call.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JobPostingUpdateExistingRequest'
      responses:
        '200':
          description: Responses for the jobPosting.update endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobPostingUpdateExistingResponse'
  /location.create:
    post:
      tags:
        - Location
      summary: location.create
      operationId: Location_createHierarchy
      description: >
        Creates a location or location hierarchy.


        **Requires the
        [`organizationWrite`](authentication#permissions-locationcreate)
        permission.**
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LocationCreateHierarchyRequest'
      responses:
        '200':
          description: Responses for the location.create endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationCreateHierarchyResponse'
  /location.info:
    post:
      tags:
        - Location
      summary: location.info
      operationId: Location_detailsById
      description: >
        Gets details for a single location by id.


        **Requires the
        [`organizationRead`](authentication#permissions-locationinfo)
        permission.**
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LocationDetailsByIdRequest'
      responses:
        '200':
          description: Responses for the location.info endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationDetailsByIdResponse'
  /location.list:
    post:
      tags:
        - Location
      summary: location.list
      operationId: Location_getList
      description: >
        List all locations. Regions are not returned.


        **Requires the
        [`organizationRead`](authentication#permissions-locationlist)
        permission.**
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LocationGetListRequest'
      responses:
        '200':
          description: Responses for the location.list endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationGetListResponse'
  /offer.create:
    post:
      tags:
        - Offer
      summary: offer.create
      operationId: Offer_createNew
      description: >
        Creates a new Offer


        **Requires the [`offersWrite`](authentication#permissions-offercreate)
        permission.**


        Offer forms support a variety of field types. The values accepted for
        each field depend on the type of field that's being filled out:

        - `Boolean` - A boolean value.

        - `Currency` - An object in the format `{ currencyCode: "USD", value:
        100000 }` where currencyCode is a valid ISO 4217 currency code and value
        is an integer.

        - `Date` - A valid ISO Date string.

        - `Number` - An integer.

        - `String` - A string.

        - `ValueSelect` - A string that matches the value of one of the
        ValueSelect field's selectable options.

        - `MultiValueSelect` - An array of strings that exist in the
        MultiValueSelect field's selectable options.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OfferCreateNewRequest'
      responses:
        '200':
          description: Responses for the offer.create endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfferCreateNewResponse'
  /offer.info:
    post:
      tags:
        - Offer
      summary: offer.info
      operationId: Offer_getDetailsById
      description: >
        Returns details about a single offer by id


        **Requires the [`offersRead`](authentication#permissions-offerinfo)
        permission.**
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OfferGetDetailsByIdRequest'
      responses:
        '200':
          description: Responses for the offer.info endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfferGetDetailsByIdResponse'
  /offer.list:
    post:
      tags:
        - Offer
      summary: offer.list
      operationId: Offer_getList
      description: >
        Get a list of all offers with their latest version


        **Requires the [`offersRead`](authentication#permissions-offerlist)
        permission.**
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OfferGetListRequest'
      responses:
        '200':
          description: Responses for the offer.list endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfferGetListResponse'
  /offer.start:
    post:
      tags:
        - Offer
      summary: offer.start
      operationId: Offer_startCreationInstance
      description: >
        The offer.start endpoint creates and returns an offer version instance
        that can be filled out and submitted

        using the `offer.create` endpoint. 


        **Requires the [`offersWrite`](authentication#permissions-offerstart)
        permission.**


        In order to create a new offer version for a candidate with an
        in-progress 

        offer process, you can call the `offer.start` endpoint and then call the
        `offer.create` endpoint to fill out the

        newly created offer version form.  
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OfferStartCreationInstanceRequest'
      responses:
        '200':
          description: Responses for the offer.start endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfferStartCreationInstanceResponse'
  /offerProcess.start:
    post:
      tags:
        - Offer Process
      summary: offerProcess.start
      operationId: OfferProcess_startProcessForCandidate
      description: >
        Starts an offer process for a candidate.


        **Requires the
        [`offersWrite`](authentication#permissions-offerprocessstart)
        permission.**
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OfferProcessStartProcessForCandidateRequest'
      responses:
        '200':
          description: Responses for the offerProcess.start endpoint
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/OfferProcessStartProcessForCandidateResponse
  /opening.info:
    post:
      tags:
        - Openings
      summary: opening.info
      operationId: Openings_getByUuid
      description: >-
        Retrieves an opening by its UUID.
              
        **Requires the [`jobsRead`](authentication#permissions-openinginfo)
        permission.**
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpeningsGetByUuidRequest'
      responses:
        '200':
          description: Responses for the opening.info endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpeningsGetByUuidResponse'
  /opening.list:
    post:
      tags:
        - Openings
      summary: opening.list
      operationId: Openings_getList
      description: >-
        Lists openings.
              
        **Requires the [`jobsRead`](authentication#permissions-openinglist)
        permission.**
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpeningsGetListRequest'
      responses:
        '200':
          description: Responses for the opening.list endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpeningsGetListResponse'
  /opening.search:
    post:
      tags:
        - Openings
      summary: opening.search
      operationId: Openings_searchByIdentifier
      description: >-
        Searches for openings by identifier.
              
        **Requires the [`jobsRead`](authentication#permissions-openingsearch)
        permission.**
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpeningsSearchByIdentifierRequest'
      responses:
        '200':
          description: Responses for the opening.search endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpeningsSearchByIdentifierResponse'
  /opening.create:
    post:
      tags:
        - Openings
      summary: opening.create
      operationId: Openings_createInstance
      description: >-
        Creates an opening.
              
        **Requires the [`jobsWrite`](authentication#permissions-openingcreate)
        permission.**
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpeningsCreateInstanceRequest'
      responses:
        '200':
          description: Responses for the opening.create endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpeningsCreateInstanceResponse'
  /opening.addJob:
    post:
      tags:
        - Openings
      summary: opening.addJob
      operationId: Openings_addJobAction
      description: >-
        Adds a job to an opening.
              
        **Requires the [`jobsWrite`](authentication#permissions-openingaddjob)
        permission.**
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpeningsAddJobActionRequest'
      responses:
        '200':
          description: Responses for the opening.addJob endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpeningsAddJobActionResponse'
  /opening.removeJob:
    post:
      tags:
        - Openings
      summary: opening.removeJob
      operationId: Openings_removeJob
      description: >-
        Removes a job from an opening.
              
        **Requires the
        [`jobsWrite`](authentication#permissions-openingremovejob) permission.**
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpeningsRemoveJobRequest'
      responses:
        '200':
          description: Responses for the opening.removeJob endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpeningsRemoveJobResponse'
  /opening.setOpeningState:
    post:
      tags:
        - Openings
      summary: opening.setOpeningState
      operationId: Openings_setState
      description: >-
        Sets the state of an opening.
              
        **Requires the
        [`jobsWrite`](authentication#permissions-openingsetopeningstate)
        permission.**
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpeningsSetStateRequest'
      responses:
        '200':
          description: Responses for the opening.setOpeningState endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpeningsSetStateResponse'
  /opening.setArchived:
    post:
      tags:
        - Openings
      summary: opening.setArchived
      operationId: Openings_setArchived
      description: >-
        Sets the archived state of an opening.
              
        **Requires the
        [`jobsWrite`](authentication#permissions-openingsetarchived)
        permission.**
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpeningsSetArchivedRequest'
      responses:
        '200':
          description: Responses for the opening.setArchived endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpeningsSetArchivedResponse'
  /opening.update:
    post:
      tags:
        - Openings
      summary: opening.update
      operationId: Openings_updateOpening
      description: >-
        Updates an opening.
              
        **Requires the [`jobsWrite`](authentication#permissions-openingupdate)
        permission.**
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpeningsUpdateOpeningRequest'
      responses:
        '200':
          description: Responses for the opening.update endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpeningsUpdateOpeningResponse'
  /referral.create:
    post:
      tags:
        - Referral
      summary: referral.create
      operationId: Referral_createNew
      description: >
        Creates a referral


        **Requires the
        [`candidatesWrite`](authentication#permissions-referralcreate)
        permission.**
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReferralCreateNewRequest'
      responses:
        '200':
          description: Responses for the referral.create endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReferralCreateNewResponse'
  /referralForm.info:
    post:
      tags:
        - Referral Form
      summary: referralForm.info
      operationId: ReferralForm_getDefaultForm
      description: >
        Fetches the default referral form or creates a default referral form if
        none exists.


        **Requires the
        [`hiringProcessMetadataRead`](authentication#permissions-referralforminfo)
        permission.**
      responses:
        '200':
          description: Responses for the referral.create endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReferralFormGetDefaultFormResponse'
  /source.list:
    post:
      tags:
        - Source
      summary: source.list
      operationId: Source_getAll
      description: >
        List all sources


        **Requires the
        [`hiringProcessMetadataRead`](authentication#permissions-sourcelist)
        permission.**
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SourceGetAllRequest'
      responses:
        '200':
          description: Responses for the source.list endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SourceGetAllResponse'
  /surveyFormDefinition.info:
    post:
      tags:
        - Survey Form Definition
      summary: surveyFormDefinition.info
      operationId: SurveyFormDefinition_getDetailsById
      description: >
        Returns details about a single survey form definition by id


        **Requires the
        [`hiringProcessMetadataRead`](authentication#permissions-surveyformdefinitioninfo)
        permission.**
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SurveyFormDefinitionGetDetailsByIdRequest'
      responses:
        '200':
          description: Responses for the surveyFormDefinition.info endpoint
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/SurveyFormDefinitionGetDetailsByIdResponse
  /surveyFormDefinition.list:
    post:
      tags:
        - Survey Form Definition
      summary: surveyFormDefinition.list
      operationId: SurveyFormDefinition_getAll
      description: >
        Lists all survey form definitions.


        **Requires the
        [`hiringProcessMetadataRead`](authentication#permissions-surveyformdefinitionlist)
        permission.**
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/paths/~1candidate.list/post/requestBody/content/application~1json/schema
      responses:
        '200':
          description: Responses for the surveyFormDefinition.list endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SurveyFormDefinitionGetAllResponse'
  /surveyRequest.create:
    post:
      tags:
        - Survey Request
      summary: surveyRequest.create
      operationId: SurveyRequest_generateUrl
      description: >
        This endpoint generates a survey request and returns a survey URL. You
        can send this URL to a candidate to allow them to complete a survey. 


        **Requires the
        [`candidatesWrite`](authentication#permissions-surveyrequestcreate)
        permission.**


        **Note that calling this endpoint will not automatically email the
        survey to the candidate.** It simply creates the request and gives you a
        URL to share with a candidate.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SurveyRequestGenerateUrlRequest'
      responses:
        '200':
          description: Responses for the surveyRequest.create endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SurveyRequestGenerateUrlResponse'
  /surveySubmission.list:
    post:
      tags:
        - Survey Submission
      summary: surveySubmission.list
      operationId: SurveySubmission_listBySurveyType
      description: >
        Lists all survey submissions of a given `surveyType`.


        **Requires the
        [`candidatesRead`](authentication#permissions-surveySubmissionList)
        permission.**
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SurveySubmissionListBySurveyTypeRequest'
      responses:
        '200':
          description: Responses for the surveySubmission.list endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SurveySubmissionListBySurveyTypeResponse'
  /user.info:
    post:
      tags:
        - User
      summary: user.info
      operationId: User_getById
      description: >
        Get an Ashby user by id


        **Requires the [`organizationRead`](authentication#permissions-userinfo)
        permission.**
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserGetByIdRequest'
      responses:
        '200':
          description: Responses for the user.info endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserGetByIdResponse'
  /user.list:
    post:
      tags:
        - User
      summary: user.list
      operationId: User_getAshbyUsers
      description: >
        Get a list of all Ashby users


        **Requires the [`organizationRead`](authentication#permissions-userlist)
        permission.**


        The `globalRole` property in the response specifies the user's access
        level in Ashby.

        For more details on the permissions granted with each role, see our
        [documentation
        here](https://ashbyhq.notion.site/Ashby-Permissions-a48eda7c07ad46f0bcd2b3f39301a9de#c64a4db5e7f4432bbe6691b91d3f0c62).
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserGetAshbyUsersRequest'
      responses:
        '200':
          description: Responses for the user.list endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserGetAshbyUsersResponse'
  /user.search:
    post:
      tags:
        - User
      summary: user.search
      operationId: User_searchByEmail
      description: >
        Search for an Ashby user by email address


        **Requires the
        [`organizationRead`](authentication#permissions-usersearch)
        permission.**
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserSearchByEmailRequest'
      responses:
        '200':
          description: Responses for the user.search endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserSearchByEmailResponse'
  /webhook.create:
    post:
      tags:
        - Webhook
      summary: webhook.create
      operationId: Webhook_createSetting
      description: >
        Creates a webhook setting.


        **Requires the
        [`apiKeysWrite`](authentication#permissions-webhookcreate) scope.**
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookCreateSettingRequest'
      responses:
        '200':
          description: Responses from the webhook.create endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookCreateSettingResponse'
  /webhook.update:
    post:
      tags:
        - Webhook
      summary: webhook.update
      operationId: Webhook_updateSetting
      description: >
        Updates a webhook setting. One of `enabled`, `requestUrl`, or
        `secretToken` must be provided.


        **Requires the
        [`apiKeysWrite`](authentication#permissions-webhookcreate) permission.**
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookUpdateSettingRequest'
      responses:
        '200':
          description: Responses from the webhook.update endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookUpdateSettingResponse'
  /webhook.delete:
    post:
      tags:
        - Webhook
      summary: webhook.delete
      operationId: Webhook_removeSetting
      description: >
        Deletes a webhook setting.


        **Requires the
        [`apiKeysWrite`](authentication#permissions-webhookcreate) permission.**
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookRemoveSettingRequest'
      responses:
        '200':
          description: Responses from the webhook.delete endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookRemoveSettingResponse'
components:
  securitySchemes:
    BasicAuth:
      description: >
        Use HTTP Basic Auth to authenticate with our API. You must send your API
        key with every request. 

        Put your API key as the basic auth username and leave the password
        blank.
      type: http
      scheme: basic
    WebhookSignature:
      description: >
        [Optional] If you provide a secret token when configuring your webhook,
        this will be used to create a digest of the JSON payload sent with each
        webhook request.

        The digest will be included in the request under the `Ashby-Signature`
        http header.


        It will look like this:

        `Ashby-Signature:
        sha256=f3124911d2956f10aa3a49c43a88bdf13bba846e94f0ae2bd7c034f90239bd04`


        The part before the = indicates the algorithm that was used to compute
        the hash digest.
      type: apiKey
      in: header
      name: Ashby-Signature
  schemas:
    ApiKeyGetInfoRequest:
      type: object
    ApplicationChangeSourceRequest:
      properties:
        applicationId:
          allOf:
            - $ref: >-
                #/paths/~1candidate.createNote/post/requestBody/content/application~1json/schema/properties/candidateId
            - description: The id of the application to update the source of
        sourceId:
          allOf:
            - $ref: >-
                #/paths/~1candidate.createNote/post/requestBody/content/application~1json/schema/properties/candidateId
            - description: >-
                The source to set on the application. Pass null to unset an
                application's source.
      required:
        - applicationId
        - sourceId
      example:
        applicationId: 3ae2b801-19f6-41ef-ad28-214bd731948f
        sourceId: 2c6991c5-c9e2-4af8-879e-29c5a9d26509
    ApplicationChangeStageRequest:
      properties:
        applicationId:
          allOf:
            - $ref: >-
                #/paths/~1candidate.createNote/post/requestBody/content/application~1json/schema/properties/candidateId
            - description: The id of the application to update the stage of
        interviewStageId:
          allOf:
            - $ref: >-
                #/paths/~1candidate.createNote/post/requestBody/content/application~1json/schema/properties/candidateId
            - description: The interview stage to move the application to.
        archiveReasonId:
          allOf:
            - $ref: >-
                #/paths/~1candidate.createNote/post/requestBody/content/application~1json/schema/properties/candidateId
            - description: >
                Archive Reason to set when moving to an Interview Stage with
                type: `Archived`. 

                Note: You must pass this parameter when moving to an Interview
                Stage with type: `Archived`
      required:
        - applicationId
        - interviewStageId
      example:
        applicationId: 3ae2b801-19f6-41ef-ad28-214bd731948f
        interviewStageId: 2c6991c5-c9e2-4af8-879e-29c5a9d26509
    ApplicationConsiderCandidateRequest:
      properties:
        candidateId:
          allOf:
            - $ref: >-
                #/paths/~1candidate.createNote/post/requestBody/content/application~1json/schema/properties/candidateId
            - description: The id of the candidate to consider for a job
        jobId:
          allOf:
            - $ref: >-
                #/paths/~1candidate.createNote/post/requestBody/content/application~1json/schema/properties/candidateId
            - description: The id of the job to consider the candidate for
        interviewPlanId:
          allOf:
            - $ref: >-
                #/paths/~1candidate.createNote/post/requestBody/content/application~1json/schema/properties/candidateId
            - description: >
                The id of the interview plan to place the application in. If
                none is provided, the default interview plan is used.
        interviewStageId:
          allOf:
            - $ref: >-
                #/paths/~1candidate.createNote/post/requestBody/content/application~1json/schema/properties/candidateId
            - description: >
                The interview stage of the interview plan (either default or
                provided) to place the application in. 

                If none is provided, the application is placed in the first
                "Lead" stage. 

                You can also supply the special string
                "FirstPreInterviewScreen", which will choose the first
                pre-interview-screen stage on the specified job's interview
                plan.
        sourceId:
          allOf:
            - $ref: >-
                #/paths/~1candidate.createNote/post/requestBody/content/application~1json/schema/properties/candidateId
            - description: The source to set on the application being created.
        creditedToUserId:
          allOf:
            - $ref: >-
                #/paths/~1candidate.createNote/post/requestBody/content/application~1json/schema/properties/candidateId
            - description: The id of the user the application will be credited to.
      required:
        - candidateId
        - jobId
      example:
        candidateId: 3ae2b801-19f6-41ef-ad28-214bd731948f
        jobId: 2c6991c5-c9e2-4af8-879e-29c5a9d26509
    ApplicationGetDetailsRequest:
      oneOf:
        - type: object
          properties:
            applicationId:
              allOf:
                - description: The id of the application to fetch.
                - $ref: >-
                    #/paths/~1candidate.createNote/post/requestBody/content/application~1json/schema/properties/candidateId
            expand:
              description: >
                Choose to expand the result and include additional data for
                related objects. 
              type: array
              items:
                type: string
                enum:
                  - openings
                  - applicationFormSubmissions
          required:
            - applicationId
        - type: object
          properties:
            submittedFormInstanceId:
              allOf:
                - description: >-
                    The id of the application's submitted form instance to
                    fetch.
                - $ref: >-
                    #/paths/~1candidate.createNote/post/requestBody/content/application~1json/schema/properties/candidateId
            expand:
              description: >
                Choose to expand the result and include additional data for
                related objects. 
              type: array
              items:
                type: string
                enum:
                  - openings
                  - applicationFormSubmissions
          required:
            - submittedFormInstanceId
    ApplicationGetAllSchedulesRequest:
      allOf:
        - type: object
          properties:
            createdAfter:
              description: >-
                The API will return data after this date, which is the time
                since the unix epoch in milliseconds
              type: integer
              format: int64
            cursor:
              $ref: >-
                #/paths/~1candidate.list/post/requestBody/content/application~1json/schema/properties/cursor
            syncToken:
              $ref: >-
                #/paths/~1candidate.list/post/requestBody/content/application~1json/schema/properties/syncToken
            limit:
              $ref: >-
                #/paths/~1candidate.list/post/requestBody/content/application~1json/schema/properties/limit
          example:
            createdAfter: 1659979196538
            cursor: qA
            syncToken: 6W05prn4d
            limit: 25
        - properties:
            expand:
              description: >
                Choose to expand the result and include additional data for
                related objects. 
              type: array
              items:
                type: string
                enum:
                  - openings
            status:
              type: string
              enum:
                - Hired
                - Archived
                - Active
                - Lead
            jobId:
              $ref: >-
                #/paths/~1candidate.createNote/post/requestBody/content/application~1json/schema/properties/candidateId
    ApplicationFeedbackListAllRequest:
      allOf:
        - $ref: >-
            #/paths/~1application.list/post/requestBody/content/application~1json/schema/allOf/0
        - type: object
          properties:
            applicationId:
              allOf:
                - $ref: >-
                    #/paths/~1candidate.createNote/post/requestBody/content/application~1json/schema/properties/candidateId
                - description: The id of the application you'd like to fetch feedback for
    ApplicationFeedbackSubmitFeedbackRequest:
      oneOf:
        - type: object
          required:
            - feedbackForm
            - formDefinitionId
            - applicationId
          properties:
            feedbackForm:
              $ref: >-
                #/paths/~1offer.create/post/requestBody/content/application~1json/schema/properties/offerForm
            formDefinitionId:
              allOf:
                - $ref: >-
                    #/paths/~1candidate.createNote/post/requestBody/content/application~1json/schema/properties/candidateId
                - description: >-
                    The id of the feedback form definition associated with the
                    form submission
            applicationId:
              allOf:
                - $ref: >-
                    #/paths/~1candidate.createNote/post/requestBody/content/application~1json/schema/properties/candidateId
                - description: The id of the application you're submitting feedback for
            userId:
              allOf:
                - $ref: >-
                    #/paths/~1candidate.createNote/post/requestBody/content/application~1json/schema/properties/candidateId
                - description: >
                    The id of the user the feedback will be credited to.

                    If a userId is not provided, the feedback will be credited
                    to the API key user.
        - type: object
          required:
            - feedbackForm
            - formDefinitionId
            - applicationId
            - userId
            - interviewEventId
          properties:
            feedbackForm:
              $ref: >-
                #/paths/~1offer.create/post/requestBody/content/application~1json/schema/properties/offerForm
            formDefinitionId:
              allOf:
                - $ref: >-
                    #/paths/~1candidate.createNote/post/requestBody/content/application~1json/schema/properties/candidateId
                - description: >-
                    The id of the feedback form definition associated with the
                    form submission
            applicationId:
              allOf:
                - $ref: >-
                    #/paths/~1candidate.createNote/post/requestBody/content/application~1json/schema/properties/candidateId
                - description: The id of the application you're submitting feedback for
            userId:
              allOf:
                - $ref: >-
                    #/paths/~1candidate.createNote/post/requestBody/content/application~1json/schema/properties/candidateId
                - description: >
                    The id of the user the feedback will be credited to. 

                    The user must be an interviewer on the interview event that
                    feedback is being submitted for.
            interviewEventId:
              allOf:
                - $ref: >-
                    #/paths/~1candidate.createNote/post/requestBody/content/application~1json/schema/properties/candidateId
                - description: >
                    The id of the interview event you're submitting feedback
                    for.
    ApplicationFormSubmitFormRequest:
      type: object
      required:
        - jobPostingId
        - applicationForm
      properties:
        jobPostingId:
          allOf:
            - $ref: >-
                #/paths/~1candidate.createNote/post/requestBody/content/application~1json/schema/properties/candidateId
            - description: The id of the job posting to submit an application for
        applicationForm:
          $ref: >-
            #/paths/~1offer.create/post/requestBody/content/application~1json/schema/properties/offerForm
        utmData:
          type: object
          properties:
            utm_source:
              type: string
            utm_campaign:
              type: string
            utm_medium:
              type: string
            utm_term:
              type: string
            utm_content:
              type: string
        <file  key>:
          description: >-
            Any file referenced  in the `applicationForm`.   The name of this
            field must exactly match the `value` on the `fieldSubmission` that
            references this file.
          type: string
          format: binary
    ApprovalDefinitionUpdateEntityScopeRequest:
      type: object
      properties:
        entityType:
          type: string
          enum:
            - offer
        entityId:
          allOf:
            - description: >-
                The id of the approval entity being updated (e.g. the id of the
                offer version).
            - $ref: >-
                #/paths/~1candidate.createNote/post/requestBody/content/application~1json/schema/properties/candidateId
        approvalStepDefinitions:
          description: >-
            An ordered list of approval steps that describes the number of
            required approvers at each step, as well as who is an approver at
            each step.
          type: array
          items:
            type: object
            properties:
              approvalsRequired:
                description: >-
                  The number of approvers required to approve this step, before
                  the approval moves on to the next step. The number of
                  approvers must be non-zero and no more than the number of
                  approvers in this step.
                type: integer
              approvers:
                description: An unordered list of who can approve this step.
                type: array
                items:
                  type: object
                  properties:
                    userId:
                      allOf:
                        - $ref: >-
                            #/paths/~1candidate.createNote/post/requestBody/content/application~1json/schema/properties/candidateId
                        - description: The id of a user who is an approver for this step.
                    type:
                      type: string
                      enum:
                        - user
                  required:
                    - userId
                    - type
            required:
              - approvalsRequired
              - approvers
      required:
        - entityType
        - entityId
        - approvalStepDefinitions
    ArchiveReasonListRequest:
      type: object
      properties:
        includeArchived:
          description: When true, includes archived interview plans
          type: boolean
          default: false
    AssessmentAddCompletedToCandidateRequest:
      type: object
      properties:
        candidateId:
          allOf:
            - $ref: >-
                #/paths/~1candidate.createNote/post/requestBody/content/application~1json/schema/properties/candidateId
            - description: The id of the candidate, to whom to add the completed assessment
        partnerId:
          allOf:
            - $ref: >-
                #/paths/~1candidate.createNote/post/requestBody/content/application~1json/schema/properties/candidateId
            - description: The id of the partner adding the assessment
        assessment:
          description: The completed assessment
          type: object
          required:
            - assessmentTypeId
            - assessmentId
            - assessmentName
            - result
            - metadata
          properties:
            assessmentTypeId:
              allOf:
                - description: An identifier that uniquely identifies the assessment type
                - $ref: >-
                    #/paths/~1candidate.createNote/post/requestBody/content/application~1json/schema/properties/candidateId
            assessmentId:
              allOf:
                - description: >-
                    An identifier that uniquely identifies the completed
                    assessment
                - $ref: >-
                    #/paths/~1candidate.createNote/post/requestBody/content/application~1json/schema/properties/candidateId
            assessmentName:
              description: >-
                The name of the assessment that was taken that will be displayed
                in the UI
              type: string
              example: Node Assessment
            result:
              allOf:
                - description: The assessment's result
                - $ref: >-
                    #/paths/~1assessment.update/post/requestBody/content/application~1json/schema/properties/metadata/items
            metadata:
              description: An array of metadata associated with this completed assessment
              type: array
              items:
                $ref: >-
                  #/paths/~1assessment.update/post/requestBody/content/application~1json/schema/properties/metadata/items
        timestamp:
          allOf:
            - description: >-
                The timestamp in milliseconds since the unix epoch, when the
                assessment was completed
            - $ref: >-
                #/paths/~1assessment.update/post/requestBody/content/application~1json/schema/properties/timestamp
      required:
        - candidateId
        - partnerId
        - assessment
        - timestamp
    AssessmentPartnerStartRequest:
      type: object
      required:
        - assessment_type_id
        - candidate
        - application
        - job
      properties:
        assessment_type_id:
          allOf:
            - description: >-
                The id of the type of assessment to start (retrieved from
                calling /assessment.list)
            - $ref: >-
                #/paths/~1candidate.createNote/post/requestBody/content/application~1json/schema/properties/candidateId
        candidate:
          allOf:
            - description: Identifier of the assessment being started
            - description: A description of the candidate
              type: object
              required:
                - ashby_id
                - first_name
                - last_name
                - email
                - ashby_profile_url
              properties:
                ashby_id:
                  allOf:
                    - type: string
                    - description: The identifier of the candidate in Ashby
                first_name:
                  allOf:
                    - type: string
                    - description: The first name of the candidate being assessed
                last_name:
                  allOf:
                    - type: string
                    - description: The last name of the candidate being assessed
                email:
                  allOf:
                    - type: string
                    - description: The email of the candidate being assessed
                ashby_profile_url:
                  allOf:
                    - type: string
                    - description: The url back into Ashby of the candidate being assessed
        application:
          allOf:
            - description: The application for which the candidate is being assessed
            - description: The application for which the candidate is being assessed
              type: object
              required:
                - ashby_id
                - status
              properties:
                ashby_id:
                  allOf:
                    - type: string
                    - description: The id of the application in Ashby
                status:
                  allOf:
                    - $ref: >-
                        #/paths/~1application.list/post/requestBody/content/application~1json/schema/allOf/1/properties/status
                    - description: The status of the application in Ashby
        job:
          allOf:
            - description: The job for which the candidate is being assessed
            - description: The job for which the candidate is being assessed
              type: object
              required:
                - ashby_id
                - name
                - ashby_job_url
              properties:
                ashby_id:
                  allOf:
                    - type: string
                    - description: The id of the job in Ashby
                name:
                  allOf:
                    - type: string
                    - description: The name of the job in Ashby
                req_id:
                  allOf:
                    - type: string
                    - description: The customer-defined requisition id for the job
                ashby_job_url:
                  allOf:
                    - type: string
                    - description: The url of the job, internal to Ashby
                hiringTeam:
                  type: array
                  items:
                    $ref: >-
                      #/paths/~1hiringTeam.addMember/post/responses/200/content/application~1json/schema/oneOf/0/allOf/2/properties/results
    AssessmentUpdateStatusRequest:
      type: object
      required:
        - assessment_id
        - assessment_status
        - timestamp
      properties:
        assessment_id:
          allOf:
            - description: Identifier of the assessment being updated
            - $ref: >-
                #/paths/~1candidate.createNote/post/requestBody/content/application~1json/schema/properties/candidateId
        assessment_status:
          allOf:
            - description: >-
                The current status of the assessment. Setting this with a value
                of "Started" will signal Ashby to store the timestamp the
                assessment started.
            - $ref: >-
                #/paths/~1assessment.update/post/requestBody/content/application~1json/schema/properties/metadata/items
        assessment_profile_url:
          allOf:
            - description: >-
                The url back to the assessment/candidate on the partner's
                website. This value should always be of type url. (required when
                assessment_result is set)
            - $ref: >-
                #/paths/~1assessment.update/post/requestBody/content/application~1json/schema/properties/metadata/items
        metadata:
          description: >-
            Any other metadata about the assessment (e.g. ETA until complete).
            All assessment data should have unique identifiers.
          type: array
          items:
            type: object
            properties:
              description:
                description: >-
                  Description of the assessment metadata, which may be displayed
                  in the UI
                type: string
                example: The maximum possible score for the assessment
              identifier:
                description: Uniquely identifies this field, for this partner
                type: string
                example: result-max
              label:
                description: Label for the assessment metadata to be displayed in the UI
                type: string
                example: Max Score
              type:
                description: >-
                  The type of the value. Please reach out if you'd like us to
                  support a new type!
                type: string
                enum:
                  - numeric_score
                  - numeric_duration_minutes
                  - url
                  - string
                  - boolean_success
              value:
                allOf:
                  - description: |
                      The raw value — one of string, number, or boolean
                    oneOf:
                      - type: string
                      - type: number
                      - type: boolean
                  - example: 10
            required:
              - identifier
              - label
[...]
