openapi: 3.0.0
info:
  title: BambooHR API
  description: >-
    This is the majority of the API requests including some that are not
    documented.


    http://www.bamboohr.com/api/documentation/
  version: v1
  license:
    name: MIT
    url: http://github.com/gruntjs/grunt/blob/master/LICENSE-MIT
  x-konfig-ignore:
    object-with-no-properties: true
    potential-incorrect-type: true
servers:
  - url: https://api.bamboohr.com/api/gateway.php
tags:
  - name: Benefits
  - name: Goals
  - name: Time Tracking
  - name: Time Off
  - name: Payroll
  - name: Training
  - name: Applicant Tracking
  - name: Time Tracking - Private Beta
  - name: Tabular Data
  - name: Webhooks
  - name: Employee Files
  - name: Company Files
  - name: Account Information
  - name: Hours
  - name: Employees
  - name: Reports
  - name: Photos
  - name: Last Change Information
  - name: Login
paths:
  /{companyDomain}/v1/employees/directory:
    get:
      tags:
        - Employees
      summary: Get Employee Directory
      operationId: Employees_getDirectory
      description: Gets employee directory.
      parameters:
        - $ref: '#/components/parameters/CompanyDomainParameter'
      responses:
        '200':
          description: List of employees
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeesGetDirectoryResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/EmployeesGetDirectory200Response'
        '403':
          description: if the directory has not been shared company-wide.
      x-unitTests:
        - request:
            method: GET
            uri: /employees/directory
            headers:
              Authorization: Basic {{apiKey}}
              Accept: application/json
              Content-Type: application/xml
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: 'SDD: Get Employees (BAD)'
          x-testDescription: 'TODO: Add Description'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /{companyDomain}/v1/employees/files/categories:
    post:
      tags:
        - Employee Files
      summary: Add Employee File Category
      operationId: EmployeeFiles_addCategory
      description: Add an employee file category.
      parameters:
        - $ref: '#/components/parameters/CompanyDomainParameter'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostNewEmployeeFileCategory'
        required: true
      responses:
        '201':
          description: The category was created
        '400':
          description: if the posted XML is invalid or there was no category name given.
        '403':
          description: >-
            if the API user does not have permission to create employee
            categories.
        '500':
          description: there was an unknown server error.
      x-unitTests:
        - request:
            method: POST
            uri: /employees/files/categories
            headers:
              Authorization: Basic {{apiKey}}
              Accept: application/json
              Content-Type: application/xml
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: 'SDD: Add Employee (BAD)'
          x-testDescription: 'TODO: Add Description'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /{companyDomain}/v1/employees/{id}/files/{fileId}:
    post:
      tags:
        - Employee Files
      summary: Update Employee File
      operationId: EmployeeFiles_updateEmployeeFile
      description: Update an employee file
      parameters:
        - $ref: '#/components/parameters/CompanyDomainParameter'
        - description: >-
            {id} is an employee ID. The special employee ID of zero (0) means to
            use the employee ID associated with the API key (if any).
          name: id
          in: path
          required: true
          schema:
            type: string
            default: 0
        - description: '{fileId} is the ID of the employee file being updated.'
          name: fileId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmployeeFileUpdate'
        required: true
      responses:
        '200':
          description: The employee file was updated
        '400':
          description: Invalid JSON
        '403':
          description: >-
            if the API user does not have permission to see the requested
            employee or the employee's files.
        '404':
          description: if the employee file or category was not found.
      x-unitTests:
        - request:
            method: POST
            uri: /employees/{id}/files/{fileId}
            headers:
              Authorization: Basic {{apiKey}}
              Accept: application/json
              Content-Type: application/xml
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: 'SDD: Add Employee (BAD)'
          x-testDescription: 'TODO: Add Description'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    delete:
      tags:
        - Employee Files
      summary: Delete Employee File
      operationId: EmployeeFiles_removeFile
      description: Delete an employee file
      parameters:
        - $ref: '#/components/parameters/CompanyDomainParameter'
        - description: >-
            {id} is an employee ID. The special employee ID of zero (0) means to
            use the employee ID associated with the API key (if any).
          name: id
          in: path
          required: true
          schema:
            type: string
            default: 0
        - description: '{fileId} is the ID of the employee file being deleted.'
          name: fileId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Employee file was deleted
        '403':
          description: >-
            if the API user does not have permission to see the requested
            employee or the employee's files.
        '404':
          description: if the employee file was not found.
      x-unitTests:
        - request:
            method: POST
            uri: /employees/{id}/files/{fileId}
            headers:
              Authorization: Basic {{apiKey}}
              Accept: application/json
              Content-Type: application/xml
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: 'SDD: Add Employee (BAD)'
          x-testDescription: 'TODO: Add Description'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    get:
      tags:
        - Employee Files
      summary: Get an Employee File
      operationId: EmployeeFiles_getEmployeeFile
      description: Gets an employee file
      parameters:
        - $ref: '#/components/parameters/CompanyDomainParameter'
        - description: >-
            {id} is an employee ID. The special employee ID of zero (0) means to
            use the employee ID associated with the API key (if any).
          name: id
          in: path
          required: true
          schema:
            type: string
            default: 0
        - description: '{fileId} is the ID of the employee file being retrieved.'
          name: fileId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Employee file was successfully retrieved
        '403':
          description: >-
            if the API user does not have permission to see the requested
            employee or the employee's files.
        '404':
          description: if the employee file was not found.
      x-unitTests:
        - request:
            method: POST
            uri: /employees/{id}/files/{fileId}
            headers:
              Authorization: Basic {{apiKey}}
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: 'SDD: Add Employee (BAD)'
          x-testDescription: 'TODO: Add Description'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /{companyDomain}/v1/employees/{id}/files:
    post:
      tags:
        - Employee Files
      summary: Upload Employee File
      operationId: EmployeeFiles_uploadFile
      description: Upload an employee file
      parameters:
        - $ref: '#/components/parameters/CompanyDomainParameter'
        - description: >-
            {id} is an employee ID. The special employee ID of zero (0) means to
            use the employee ID associated with the API key (if any).
          name: id
          in: path
          required: true
          schema:
            type: string
            default: 0
      responses:
        '201':
          description: The employee file was successfully uploaded
        '403':
          description: >-
            if the API user does not have permission to see the requested
            employee or the employee's files.
        '404':
          description: if the category ID was not found.
        '413':
          description: if the file size exceeds 20MB or the storage limit for the company.
      x-unitTests:
        - request:
            method: POST
            uri: /employees/{id}/files
            headers:
              Authorization: Basic {{apiKey}}
              Content-Type: multipart/form-data
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: 'SDD: Add Employee (BAD)'
          x-testDescription: 'TODO: Add Description'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /{companyDomain}/v1/files/categories:
    post:
      tags:
        - Company Files
      summary: Add Company File Category
      operationId: CompanyFiles_createCategory
      description: Add a company file category.
      parameters:
        - $ref: '#/components/parameters/CompanyDomainParameter'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewCompanyFileCategory'
        required: true
      responses:
        '201':
          description: The category was created
        '400':
          description: if the posted JSON is invalid or there was no category name given.
        '403':
          description: if the API user does not have permission to see the company files.
        '500':
          description: there was an unknown server error.
      x-unitTests:
        - request:
            method: POST
            uri: /files/categories
            headers:
              Authorization: Basic {{apiKey}}
              Accept: application/json
              Content-Type: application/xml
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: 'SDD: Add Employee (BAD)'
          x-testDescription: 'TODO: Add Description'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /{companyDomain}/v1/files/{fileId}:
    post:
      tags:
        - Company Files
      summary: Update Company File
      operationId: CompanyFiles_updateFile
      description: Update a company file
      parameters:
        - $ref: '#/components/parameters/CompanyDomainParameter'
        - description: '{fileId} is the ID of the employee file being updated.'
          name: fileId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanyFileUpdate'
        required: true
      responses:
        '200':
          description: The employee file was updated
        '400':
          description: if the posted JSON is invalid.
        '403':
          description: if the API user does not have permission to see the company files.
        '404':
          description: if the file or category was not found.
      x-unitTests:
        - request:
            method: POST
            uri: /files/{fileId}
            headers:
              Authorization: Basic {{apiKey}}
              Accept: application/json
              Content-Type: application/xml
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: 'SDD: Add Employee (BAD)'
          x-testDescription: 'TODO: Add Description'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    delete:
      tags:
        - Company Files
      summary: Delete Company File
      operationId: CompanyFiles_removeFile
      description: Delete a company file
      parameters:
        - $ref: '#/components/parameters/CompanyDomainParameter'
        - description: '{fileId} is the ID of the company file being deleted.'
          name: fileId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Company file was deleted
        '403':
          description: if the API user does not have permission to see the requested file.
        '404':
          description: if the file was not found.
      x-unitTests:
        - request:
            method: POST
            uri: /files/{fileId}
            headers:
              Authorization: Basic {{apiKey}}
              Accept: application/json
              Content-Type: application/xml
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: 'SDD: Add Employee (BAD)'
          x-testDescription: 'TODO: Add Description'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    get:
      tags:
        - Company Files
      summary: Get an Company File
      operationId: CompanyFiles_getFile
      description: Gets an company file
      parameters:
        - $ref: '#/components/parameters/CompanyDomainParameter'
        - description: '{fileId} is the ID of the company file being retrieved.'
          name: fileId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Company file was successfully retrieved
        '403':
          description: if the API user does not have permission to see the company files.
        '404':
          description: if the file was not found.
      x-unitTests:
        - request:
            method: POST
            uri: /files/{fileId}
            headers:
              Authorization: Basic {{apiKey}}
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: 'SDD: Add Employee (BAD)'
          x-testDescription: 'TODO: Add Description'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /{companyDomain}/v1/files:
    post:
      tags:
        - Company Files
      summary: Upload Company File
      operationId: CompanyFiles_uploadFile
      description: Upload a company file
      parameters:
        - $ref: '#/components/parameters/CompanyDomainParameter'
      responses:
        '201':
          description: The company file was successfully uploaded
        '403':
          description: if the API user does not have permission to see the company files.
        '404':
          description: if the category ID was not found.
        '413':
          description: if the file size exceeds 20MB or the storage limit for the company.
      x-unitTests:
        - request:
            method: POST
            uri: /files
            headers:
              Authorization: Basic {{apiKey}}
              Content-Type: multipart/form-data
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: 'SDD: Add Employee (BAD)'
          x-testDescription: 'TODO: Add Description'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /{companyDomain}/v1/reports/{id}:
    get:
      tags:
        - Reports
      summary: Get company report
      operationId: Reports_companyReport
      description: >-
        Use this resource to request one of your existing custom company reports
        from the My Reports or Manage Reports sections in the Reports tab. You
        can get the report number by hovering over the report name and noting
        the ID from the URL. At present, only reports from the My Reports or
        Manage Reports sections are supported. In the future we may implement
        reports from the Standard Reports section if there is enough demand for
        it. The report numbers used in this request are different in each
        company.
      parameters:
        - $ref: '#/components/parameters/CompanyDomainParameter'
        - description: '{id} is a report ID.'
          name: id
          in: path
          required: true
          schema:
            type: string
        - description: >-
            The output format for the report. Supported formats: CSV, PDF, XLS,
            XML, JSON
          name: format
          in: query
          required: true
          schema:
            type: string
        - description: >-
            yes=apply standard duplicate field filtering, no=return the raw
            results with no duplicate filtering. Default value is "yes"
          name: fd
          in: query
          required: false
          schema:
            type: string
        - description: >-
            Setting to false will return future dated values from history table
            fields.
          name: onlyCurrent
          in: query
          required: false
          schema:
            type: boolean
            default: true
      responses:
        '200':
          description: All fields available in BambooHR.
        '404':
          description: if you request a nonexistent report number.
      x-unitTests:
        - request:
            method: GET
            uri: /reports/{id}
            headers:
              Authorization: Basic {{apiKey}}
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: 'Metadata: Get a List of Fields'
          x-testDescription: 'TODO: Add Description'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /{companyDomain}/v1/reports/custom:
    post:
      tags:
        - Reports
      summary: Request a custom report
      operationId: Reports_requestCustomReport
      description: >-
        Use this resource to request BambooHR generate a report. You must
        specify a type of either "PDF", "XLS", "CSV", "JSON", or "XML". You must
        specify a list of fields to show on the report. The list of fields is
        available here. The custom report will return employees regardless of
        their status, "Active" or "Inactive". This differs from the UI, which by
        default applies a quick filter to display only "Active" employees.
      parameters:
        - $ref: '#/components/parameters/CompanyDomainParameter'
        - description: >-
            The output format for the report. Supported formats: CSV, PDF, XLS,
            XML, JSON
          name: format
          in: query
          required: true
          schema:
            type: string
        - description: >-
            Limits the report to only current employees. Setting to false will
            include future-dated employees in the report.
          name: onlyCurrent
          in: query
          required: false
          schema:
            type: boolean
            default: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestCustomReport'
        required: true
      responses:
        '200':
          description: Custom report successfully requested
      x-unitTests:
        - request:
            method: POST
            uri: /files
            headers:
              Authorization: Basic {{apiKey}}
              Content-Type: application/json
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: 'SDD: Add Employee (BAD)'
          x-testDescription: 'TODO: Add Description'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /{companyDomain}/v1/employees/{id}/tables/{table}:
    get:
      tags:
        - Tabular Data
      summary: Gets table rows for a given employee and table combination
      operationId: TabularData_getEmployeeTableRows
      description: >-
        Returns a data structure representing all the table rows for a given
        employee and table combination. The result is not sorted in any
        particular order.
      parameters:
        - $ref: '#/components/parameters/CompanyDomainParameter'
        - description: '{id} is the employee ID.'
          name: id
          in: path
          required: true
          schema:
            type: string
        - description: Table name
          name: table
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
      x-unitTests:
        - request:
            method: GET
            uri: /employees/{id}/tables/{table}
            headers:
              Authorization: Basic {{apiKey}}
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: 'Metadata: Get a List of Fields'
          x-testDescription: 'TODO: Add Description'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    post:
      tags:
        - Tabular Data
      summary: Adds a table row
      operationId: TabularData_addTableRow
      description: >-
        Adds a table row. If employee is currently on a pay schedule syncing
        with Trax Payroll, or being added to one, the row cannot be added if
        they are missing any required fields for that table. If the API user is
        adding a row on the compensation table, the row cannot be added if they
        are missing any of the required employee fields (including fields not on
        that table).
      parameters:
        - $ref: '#/components/parameters/CompanyDomainParameter'
        - description: '{id} is the employee ID.'
          name: id
          in: path
          required: true
          schema:
            type: string
        - description: Table name
          name: table
          in: path
          required: true
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/TableRowUpdate'
      responses:
        '200':
          description: Row added successfully.
        '400':
          description: Invalid or missing required fields.
        '403':
          description: Permission denied.
        '406':
          description: An error with one or more of the fields.
      x-unitTests:
        - request:
            method: POST
            uri: /employees/{id}/tables/{table}
            headers:
              Authorization: Basic {{apiKey}}
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: 'Metadata: Get a List of Fields'
          x-testDescription: 'TODO: Add Description'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /{companyDomain}/v1/employees/{id}/tables/{table}/{rowId}:
    post:
      tags:
        - Tabular Data
      summary: Updates a table row.
      operationId: TabularData_updateRow
      description: >-
        Updates a table row. If employee is currently on a pay schedule syncing
        with Trax Payroll, or being added to one, the row cannot be added if
        they are missing any required fields for that table. If the API user is
        updating a row on the compensation table, the row cannot be updated if
        they are missing any of the required employee fields (including fields
        not on that table).
      parameters:
        - $ref: '#/components/parameters/CompanyDomainParameter'
        - description: '{id} is the employee ID.'
          name: id
          in: path
          required: true
          schema:
            type: string
        - description: Table name
          name: table
          in: path
          required: true
          schema:
            type: string
        - description: Row ID
          name: rowId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/TableRowUpdate'
      responses:
        '200':
          description: >-
            A successful response is possible even if one or more updates were
            dis-allowed because of permissions. As long as a single field is
            updated a 200 response will be returned.
        '400':
          description: Invalid or missing required fields.
        '403':
          description: Permission denied.
        '406':
          description: An error with one or more of the fields.
      x-unitTests:
        - request:
            method: POST
            uri: /employees/{id}/tables/{table}/{rowId}
            headers:
              Authorization: Basic {{apiKey}}
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: 'Metadata: Get a List of Fields'
          x-testDescription: 'TODO: Add Description'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    delete:
      tags:
        - Tabular Data
      summary: Deletes a table row
      operationId: TabularData_deleteRow
      description: Deletes a table row
      parameters:
        - $ref: '#/components/parameters/CompanyDomainParameter'
        - description: '{id} is the employee ID.'
          name: id
          in: path
          required: true
          schema:
            type: string
        - description: Table name
          name: table
          in: path
          required: true
          schema:
            type: string
        - description: Row ID
          name: rowId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Respond true if the row was deleted, false if the row was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TabularDataDeleteRowResponse'
        '400':
          description: Bad request. Invalid employee ID or table name.
        '401':
          description: Unauthorized.
        '403':
          description: Permission denied.
      x-unitTests:
        - request:
            method: DELETE
            uri: /employees/{id}/tables/{table}/{rowId}
            headers:
              Authorization: Basic {{apiKey}}
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: Delete Table Row
          x-testDescription: 'TODO: Add Description'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /{companyDomain}/v1_1/employees/{id}/tables/{table}/{rowId}:
    post:
      tags:
        - Tabular Data
      summary: Updates a table row.
      operationId: TabularData_updateRow
      description: >-
        Updates a table row. Fundamentally the same as version 1 so choose a
        version and stay with it unless other changes occur. Changes from
        version 1 are now minor with a few variations limited to ACA, payroll,
        terminated rehire, gusto, benetrac, and final pay date.
      parameters:
        - $ref: '#/components/parameters/CompanyDomainParameter'
        - description: '{id} is the employee ID.'
          name: id
          in: path
          required: true
          schema:
            type: string
        - description: Table name
          name: table
          in: path
          required: true
          schema:
            type: string
        - description: Row ID
          name: rowId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/TableRowUpdate'
      responses:
        '200':
          description: >-
            A successful response is possible even if one or more updates were
            dis-allowed because of permissions. As long as a single field is
            updated a 200 response will be returned.
        '400':
          description: Invalid or missing required fields.
        '403':
          description: Permission denied.
        '406':
          description: An error with one or more of the fields.
      x-unitTests:
        - request:
            method: POST
            uri: /employees/{id}/tables/{table}/{rowId}
            headers:
              Authorization: Basic {{apiKey}}
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: 'Metadata: Get a List of Fields'
          x-testDescription: 'TODO: Add Description'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /{companyDomain}/v1_1/employees/{id}/tables/{table}:
    post:
      tags:
        - Tabular Data
      summary: Adds a table row
      operationId: TabularData_addRow
      description: >-
        Adds a table row. Fundamentally the same as version 1 so choose a
        version and stay with it unless other changes occur. Changes from
        version 1 are now minor with a few variations limited to ACA, payroll,
        terminated rehire, gusto, benetrac, and final pay date.
      parameters:
        - $ref: '#/components/parameters/CompanyDomainParameter'
        - description: '{id} is the employee ID.'
          name: id
          in: path
          required: true
          schema:
            type: string
        - description: Table name
          name: table
          in: path
          required: true
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/TableRowUpdate'
      responses:
        '200':
          description: ''
      x-unitTests:
        - request:
            method: POST
            uri: /employees/{id}/tables/{table}
            headers:
              Authorization: Basic {{apiKey}}
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: 'Metadata: Get a List of Fields'
          x-testDescription: 'TODO: Add Description'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /{companyDomain}/v1/employees/changed/tables/{table}:
    get:
      tags:
        - Tabular Data
      summary: Gets all updated employee table data
      operationId: TabularData_getChangedTableRows
      description: >-
        This API is merely an optimization to avoid downloading all table data
        for all employees. When you use this API you will provide a timestamp
        and the results will be limited to just the employees that have changed
        since the time you provided. This API operates on an
        employee-last-changed-timestamp, which means that a change in ANY field
        in the employee record will cause ALL of that employees table rows to
        show up via this API.
      parameters:
        - $ref: '#/components/parameters/CompanyDomainParameter'
        - description: Table name
          name: table
          in: path
          required: true
          schema:
            type: string
        - description: URL encoded iso8601 timestamp
          name: since
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
      x-unitTests:
        - request:
            method: POST
            uri: /employees/changed/tables/{table}
            headers:
              Authorization: Basic {{apiKey}}
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: 'Metadata: Get a List of Fields'
          x-testDescription: 'TODO: Add Description'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /{companyDomain}/v1/meta/lists/{listFieldId}:
    put:
      tags:
        - Account Information
      summary: Add or Update Values for List Fields
      operationId: AccountInformation_updateListFieldValues
      description: >-
        This resource accepts one or more options. To update an option, specify
        an ID. You may also remove an option from the list of current values by
        archiving the value. To create a new option, do not specify an "id"
        attribute.
      parameters:
        - $ref: '#/components/parameters/CompanyDomainParameter'
        - description: ''
          name: listFieldId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListFieldValues'
        required: true
      responses:
        '200':
          description: >-
            A successful response indicates that all the requested changes were
            made. The content of the response will be the full list of options
            for the specified listId.
        '400':
          description: The posted JSON is invalid.
        '403':
          description: List is not editable or insufficient permissions.
        '404':
          description: A non-existant list value or option ID is specified.
        '409':
          description: A duplicate list value conflicted with the value specified.
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /{companyDomain}/v1/employees/{employeeId}/time_off/request:
    put:
      tags:
        - Time Off
      summary: Add a Time Off Request
      operationId: TimeOff_requestCreation
      description: >-
        A time off request is an entity that describes the decision making
        process for approving time off. Once a request has been created, a
        history entry can be created documenting the actual use of time off.
      parameters:
        - $ref: '#/components/parameters/CompanyDomainParameter'
        - description: ''
          name: employeeId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TimeOffRequest'
        required: true
      responses:
        '201':
          description: Request created.
        '400':
          description: Malformed request.
        '403':
          description: Forbidden. Cannot change past approved requests.
        '404':
          description: Employee not found
      x-unitTests:
        - request:
            method: PUT
            uri: /employees/{employeeId}/time_off/request
            headers:
              Authorization: Basic {{apiKey}}
              Content-Type: text/xml
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: 'Time Off: Add a Time Off Request'
          x-testDescription: 'TODO: Add Description'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /{companyDomain}/v1/time_off/requests/{requestId}/status:
    put:
      tags:
        - Time Off
      summary: Change a Request Status
      operationId: TimeOff_changeRequestStatus
      description: >-
        This endpoint allows you to change the status of a request in the
        system. You can use this to approve, deny, or cancel a time off request.
      parameters:
        - $ref: '#/components/parameters/CompanyDomainParameter'
        - description: ''
          name: requestId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/request'
        required: true
      responses:
        '200':
          description: The status has been updated.
        '400':
          description: >-
            If the posted XML is invalid or the status is not "approved",
            "denied", "canceled", or "declined".
        '403':
          description: >-
            If the current user doesn't have access to change the status in this
            way.
        '404':
          description: If the time off request ID doesn't exist.
      x-unitTests:
        - request:
            method: PUT
            uri: /time_off/requests/{timeOffRequestId}/status
            headers:
              Authorization: Basic {{apiKey}}
              Content-Type: text/xml
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: 'Time Off: Change a Request Status'
          x-testDescription: 'TODO: Add Description'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /{companyDomain}/v1/employees/{employeeId}/time_off/policies:
    get:
      tags:
        - Time Off
      summary: List Time Off Policies for Employee
      operationId: TimeOff_listEmployeeTimeOffPolicies
      description: ''
      parameters:
        - $ref: '#/components/parameters/CompanyDomainParameter'
        - description: ''
          name: employeeId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
      x-unitTests:
        - request:
            method: GET
            uri: /employees{employeeId}/time_off/policies
            headers:
              Authorization: Basic {{apiKey}}
              Accept: application/json
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: 'Time Off: List Time Off Policies for Employee'
          x-testDescription: 'TODO: Add Description'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    put:
      tags:
        - Time Off
      summary: Assign Time Off Policies for an Employee
      operationId: TimeOff_assignEmployeePolicies
      description: >-
        To use this API make an HTTP PUT where the body of the request is the
        JSON documented below. A time off policy will be assigned to the
        employee with accruals starting on the date specified. A null start date
        will remove the assignment. On success, a 200 Success code is returned
        and the content of the response will be the same as the List Time off
        Policies API.
      parameters:
        - $ref: '#/components/parameters/CompanyDomainParameter'
        - description: ''
          name: employeeId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/TimeOffPolicies'
      responses:
        '200':
          description: ''
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /{companyDomain}/v1_1/employees/{employeeId}/time_off/policies:
    get:
      tags:
        - Time Off
      summary: List Time Off Policies for Employee, Version 1.1
      operationId: TimeOff_listEmployeePolicies
      description: ''
      parameters:
        - $ref: '#/components/parameters/CompanyDomainParameter'
        - description: ''
          name: employeeId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
      x-unitTests:
        - request:
            method: GET
            uri: /employees{employeeId}/time_off/policies
            headers:
              Authorization: Basic {{apiKey}}
              Accept: application/json
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: 'Time Off: List Time Off Policies for Employee'
          x-testDescription: 'TODO: Add Description'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    put:
      tags:
        - Time Off
      summary: Assign Time Off Policies for an Employee, Version 1.1
      operationId: TimeOff_assignEmployeePoliciesV11
      description: >-
        To use this API make an HTTP PUT where the body of the request is the
        JSON documented below. A time off policy will be assigned to the
        employee with accruals starting on the date specified. On success, a 200
        Success code is returned and the content of the response will be the
        same as the List Time off Policies API.
      parameters:
        - $ref: '#/components/parameters/CompanyDomainParameter'
        - description: ''
          name: employeeId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/TimeOffPolicies'
      responses:
        '200':
          description: ''
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /{companyDomain}/v1/employees/{employeeId}/time_off/calculator:
    get:
      tags:
        - Time Off
      summary: Estimate Future Time Off Balances
      operationId: TimeOff_estimateFutureTimeOffBalances
      description: >-
        This endpoint will sum future time off accruals, scheduled time off, and
        carry-over events to produce estimates for the anticipated time off
        balance on a given date in the future.
      parameters:
        - $ref: '#/components/parameters/CompanyDomainParameter'
        - description: ''
          name: end
          in: query
          required: true
          schema:
            type: string
            format: date-time
        - description: ''
          name: employeeId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
      x-unitTests:
        - request:
            method: GET
            uri: /employees/{{employeeId}}/time_off/calculator?end=2017-12-01
            headers:
              Authorization: Basic {{apiKey}}
              Accept: application/json
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: 'Time Off: Estimate Future Time Off Balances'
          x-testDescription: 'TODO: Add Description'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /{companyDomain}/v1/employees/{employeeId}/photo/{size}:
    get:
      tags:
        - Photos
      summary: Get an employee photo
      operationId: Photos_getEmployeePhoto
      description: Get an employee photo
      parameters:
        - $ref: '#/components/parameters/CompanyDomainParameter'
        - description: The ID for the employee you are getting the photo for.
          name: employeeId
          in: path
          required: true
          schema:
            type: string
        - description: Photo size
          name: size
          in: path
          required: true
          schema:
            type: string
            enum:
              - original
              - large
              - medium
              - xs
              - tiny
      responses:
        '200':
          description: ''
      x-unitTests:
        - request:
            method: GET
            uri: /employees/{employeeId}/photo/small
            headers:
              Authorization: Basic {{apiKey}}
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: 'Time Off:  Get a list of Who''s Out'
          x-testDescription: 'TODO: Add Description'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /{companyDomain}/v1/employees/{employeeId}/photo:
    post:
      tags:
        - Photos
      summary: Store a new employee photo
      operationId: Photos_storeNewEmployeePhoto
      description: Store a new employee photo
      parameters:
        - $ref: '#/components/parameters/CompanyDomainParameter'
        - description: The ID for the employee you are setting the photo for.
          name: employeeId
          in: path
          required: true
          schema:
            type: string
      responses:
        '201':
          description: The file was successfully uploaded
        '404':
          description: if the employee doesn't exist
        '413':
          description: if the file is too big.
        '415':
          description: >-
            if the file is not in a supported file format or if the width
            doesn't match the height.
      x-unitTests:
        - request:
            method: POST
            uri: /files
            headers:
              Authorization: Basic {{apiKey}}
              Content-Type: multipart/form-data
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: 'SDD: Add Employee (BAD)'
          x-testDescription: 'TODO: Add Description'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /{companyDomain}/v1/employees/changed:
    get:
      tags:
        - Last Change Information
      summary: Gets all updated employee IDs
      operationId: LastChangeInformation_getChangedEmployeeIds
      description: >-
        This API allows for efficient syncing of employee data. When you use
        this API you will provide a timestamp and the results will be limited to
        just the employees that have changed since the time you provided. This
        API operates on an employee-last-changed-timestamp, which means that a
        change in ANY individual field in the employee record, as well as any
        change to the employment status, job info, or compensation tables, will
        cause that employee to be returned via this API.
      parameters:
        - $ref: '#/components/parameters/CompanyDomainParameter'
        - description: URL encoded iso8601 timestamp
          name: since
          in: query
          required: true
          schema:
            type: string
        - description: >-
            Use one of these in the {type} variable in the URL: "inserted",
            "updated", "deleted"
          name: type
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: ''
      x-unitTests:
        - request:
            method: POST
            uri: /employees/changed
            headers:
              Authorization: Basic {{apiKey}}
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: 'Metadata: Get a List of Fields'
          x-testDescription: 'TODO: Add Description'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /{companyDomain}/v1/login:
    post:
      tags:
        - Login
      summary: User Login
      operationId: Login_userCredentials
      description: User Login
      parameters:
        - $ref: '#/components/parameters/CompanyDomainParameter'
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Login'
        required: true
      responses:
        '200':
          description: ''
      x-unitTests:
        - request:
            method: POST
            uri: /employees/{id}/tables/{table}
            headers:
              Authorization: Basic {{apiKey}}
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: 'Metadata: Get a List of Fields'
          x-testDescription: 'TODO: Add Description'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /{companyDomain}/v1/benefits/settings/deduction_types/all:
    get:
      tags:
        - Benefits
      summary: Get benefit deduction types
      operationId: Benefits_getDeductionTypesAll
      description: Get benefit deduction types
      parameters:
        - $ref: '#/components/parameters/CompanyDomainParameter'
      responses:
        '200':
          description: ''
      x-unitTests:
        - request:
            method: GET
            uri: /benefits/settings/deduction_types/all
            headers:
              Authorization: Basic {{apiKey}}
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: 'Time Off:  Get a list of Who''s Out'
          x-testDescription: 'TODO: Add Description'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /{companyDomain}/v1/benefit/company_benefit:
    get:
      tags:
        - Benefits
      summary: Get a list of company benefits
      operationId: Benefits_listCompanyBenefits
      description: Get a list of company benefits
      parameters:
        - $ref: '#/components/parameters/CompanyDomainParameter'
      responses:
        '200':
          description: List of company benefits.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BenefitsListCompanyBenefitsResponse'
      x-unitTests:
        - request:
            method: GET
            uri: /benefit/company_benefit
            headers:
              Authorization: Basic {{apiKey}}
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: 'HE: Get List of benefit deductions'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    post:
      tags:
        - Benefits
      summary: Add a new company benefit
      operationId: Benefits_addNewCompanyBenefit
      description: Add a new company benefit
      parameters:
        - $ref: '#/components/parameters/CompanyDomainParameter'
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/BenefitsAddNewCompanyBenefitRequest'
        required: true
      responses:
        '200':
          description: The newly created company benefit.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyBenefitResponse'
      x-unitTests:
        - request:
            method: POST
            uri: /benefit/company_benefit
            headers:
              Authorization: Basic {{apiKey}}
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: 'HE: Add New Company Benefit'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /{companyDomain}/v1/benefit/company_benefit/{id}:
    get:
      tags:
        - Benefits
      summary: Get a company benefit
      operationId: Benefits_getCompanyBenefit
      description: Get a company benefit
      parameters:
        - $ref: '#/components/parameters/CompanyDomainParameter'
        - description: '{id} is the company benefit ID.'
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The requested company benefit.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyBenefitResponse'
      x-unitTests:
        - request:
            method: GET
            uri: /benefit/company_benefit/{id}
            headers:
              Authorization: Basic {{apiKey}}
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: 'HE: Get a Company Benefit'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    put:
      tags:
        - Benefits
      summary: Update a company benefit
      operationId: Benefits_updateCompanyBenefit
      description: Update a company benefit
      parameters:
        - $ref: '#/components/parameters/CompanyDomainParameter'
        - description: '{id} is the company benefit ID.'
          name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BenefitsUpdateCompanyBenefitRequest'
        required: true
      responses:
        '200':
          description: The updated company benefit.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyBenefitResponse'
      x-unitTests:
        - request:
            method: PUT
            uri: /benefit/company_benefit/{id}
            headers:
              Authorization: Basic {{apiKey}}
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: 'HE: Update a Company Benefit'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    delete:
      tags:
        - Benefits
      summary: Delete a company benefit
      operationId: Benefits_deleteCompanyBenefit
      description: Delete a company benefit
      parameters:
        - $ref: '#/components/parameters/CompanyDomainParameter'
        - description: '{id} is the company benefit ID.'
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Successfully deleted company benefit.
      x-unitTests:
        - request:
            method: DELETE
            uri: /benefit/company_benefit/{id}
            headers:
              Authorization: Basic {{apiKey}}
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: 'HE: Delete a Company Benefit'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /{companyDomain}/v1/benefit/company_benefit/type:
    get:
      tags:
        - Benefits
      summary: Get a list of company benefit types
      operationId: Benefits_listCompanyBenefitTypes
      description: Get a list of company benefit types
      parameters:
        - $ref: '#/components/parameters/CompanyDomainParameter'
      responses:
        '200':
          description: List of company benefit types.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BenefitsListCompanyBenefitTypesResponse'
      x-unitTests:
        - request:
            method: GET
            uri: /benefit/company_benefit/type
            headers:
              Authorization: Basic {{apiKey}}
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: 'HE: Get a list of Company Benefit Types'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /{companyDomain}/v1/benefit/employee_benefit:
    get:
      tags:
        - Benefits
      summary: Get a list of employee benefits
      operationId: Benefits_listEmployeeBenefits
      description: Get a list of employee benefits
      parameters:
        - $ref: '#/components/parameters/CompanyDomainParameter'
      requestBody:
        description: Employee Benefit Filters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmployeeBenefitFilters'
      responses:
        '200':
          description: List of employee benefits.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BenefitsListEmployeeBenefitsResponse'
      x-unitTests:
        - request:
            method: GET
            uri: /benefit/employee_benefit
            headers:
              Authorization: Basic {{apiKey}}
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: 'HE: Get a list of Employee Benefits'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    post:
      tags:
        - Benefits
      summary: Add an employee benefit
      operationId: Benefits_addEmployeeBenefit
      description: Add an employee benefit
      parameters:
        - $ref: '#/components/parameters/CompanyDomainParameter'
      requestBody:
        description: Employee Benefit
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BenefitsAddEmployeeBenefitRequest'
        required: true
      responses:
        '200':
          description: Employee benefit created
      x-unitTests:
        - request:
            method: POST
            uri: /benefit/employee_benefit
            headers:
              Authorization: Basic {{apiKey}}
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: 'HE: Add an Employee Benefit'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /{companyDomain}/v1/benefitcoverages:
    get:
      tags:
        - Benefits
      summary: Get benefit coverages
      operationId: Benefits_getCoverages
      description: Get benefit coverages
      parameters:
        - $ref: '#/components/parameters/CompanyDomainParameter'
      responses:
        '200':
          description: ''
      x-unitTests:
        - request:
            method: GET
            uri: /benefitcoverages
            headers:
              Authorization: Basic {{apiKey}}
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: 'Time Off:  Get a list of Who''s Out'
          x-testDescription: 'TODO: Add Description'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /{companyDomain}/v1/employeedependents/{id}:
    get:
      tags:
        - Benefits
      summary: Get employee dependent
      operationId: Benefits_getEmployeeDependent
      description: Get employee dependent
      parameters:
        - $ref: '#/components/parameters/CompanyDomainParameter'
        - description: '{id} is the employee dependent ID.'
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
      x-unitTests:
        - request:
            method: GET
            uri: /employeedependents/{id}
            headers:
              Authorization: Basic {{apiKey}}
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: 'Time Off:  Get a list of Who''s Out'
          x-testDescription: 'TODO: Add Description'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    put:
      tags:
        - Benefits
      summary: Update an employee dependent
      operationId: Benefits_updateDependentInformation
      description: This API allows you to change the information for a given dependent ID.
      parameters:
        - $ref: '#/components/parameters/CompanyDomainParameter'
        - description: '{id} is the employee dependent ID.'
          name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/EmployeeDependent'
      responses:
        '201':
          description: Dependent updated
        '400':
          description: if the posted JSON is invalid
        '403':
          description: >-
            if the current user doesn't have access to change the dependent in
            this way.
        '500':
          description: Server error.
      x-unitTests:
        - request:
            method: PUT
            uri: /employeedependents/{id}
            headers:
              Authorization: Basic {{apiKey}}
              Content-Type: application/json
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: 'Time Off: Add a Time Off Request'
          x-testDescription: 'TODO: Add Description'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /{companyDomain}/v1/employeedependents:
    get:
      tags:
        - Benefits
      summary: Get all employee dependents
      operationId: Benefits_listEmployeeDependents
      description: Get all employee dependents
      parameters:
        - $ref: '#/components/parameters/CompanyDomainParameter'
        - description: >-
            {employeeid} is the employee ID. Supplying this ID limits the
            response to the specific employee.
          name: employeeid
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
      x-unitTests:
        - request:
            method: GET
            uri: /employeedependents
            headers:
              Authorization: Basic {{apiKey}}
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: 'Time Off:  Get a list of Who''s Out'
          x-testDescription: 'TODO: Add Description'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    post:
      tags:
        - Benefits
      summary: Add an employee dependent
      operationId: Benefits_createEmployeeDependent
      description: Adds an employee dependent
      parameters:
        - $ref: '#/components/parameters/CompanyDomainParameter'
      requestBody:
        $ref: '#/components/requestBodies/EmployeeDependent'
      responses:
        '200':
          description: Dependent added
        '400':
          description: if the posted JSON is invalid
        '403':
          description: if the current user doesn't have access to add the dependent.
        '500':
          description: Server error.
      x-unitTests:
        - request:
            method: PUT
            uri: employeedependents
            headers:
              Authorization: Basic {{apiKey}}
              Content-Type: application/json
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: 'Time Off: Add a Time Off Request'
          x-testDescription: 'TODO: Add Description'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /{companyDomain}/v1/benefitplans:
    get:
      tags:
        - Benefits
      summary: Get benefit plans
      operationId: Benefits_getBenefitPlans
      description: Get benefit plans
      parameters:
        - $ref: '#/components/parameters/CompanyDomainParameter'
      responses:
        '200':
          description: ''
      x-unitTests:
        - request:
            method: GET
            uri: /benefitplans/{id}
            headers:
              Authorization: Basic {{apiKey}}
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: 'Time Off:  Get a list of Who''s Out'
          x-testDescription: 'TODO: Add Description'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /{companyDomain}/v1/benefitplancoverages:
    get:
      tags:
        - Benefits
      summary: Get benefit plan coverages
      operationId: Benefits_listBenefitPlanCoverages
      description: Get benefit plan coverages
      parameters:
        - $ref: '#/components/parameters/CompanyDomainParameter'
      responses:
        '200':
          description: ''
      x-unitTests:
        - request:
            method: GET
            uri: /benefitplancoverages/{id}
            headers:
              Authorization: Basic {{apiKey}}
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: 'Time Off:  Get a list of Who''s Out'
          x-testDescription: 'TODO: Add Description'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /{companyDomain}/v1/benefitgroups:
    get:
      tags:
        - Benefits
      summary: Get benefit groups
      operationId: Benefits_getBenefitGroups
      description: Get benefit groups
      parameters:
        - $ref: '#/components/parameters/CompanyDomainParameter'
      responses:
        '200':
          description: ''
      x-unitTests:
        - request:
            method: GET
            uri: /benefitgroups
            headers:
              Authorization: Basic {{apiKey}}
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: 'Time Off:  Get a list of Who''s Out'
          x-testDescription: 'TODO: Add Description'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /{companyDomain}/v1/benefitgroupemployees:
    get:
      tags:
        - Benefits
      summary: Get benefit group employees
      operationId: Benefits_getBenefitGroupEmployees
      description: Get benefit group employees
      parameters:
        - $ref: '#/components/parameters/CompanyDomainParameter'
      responses:
        '200':
          description: ''
      x-unitTests:
        - request:
            method: GET
            uri: /benefitgroupemployees
            headers:
              Authorization: Basic {{apiKey}}
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: 'Time Off:  Get a list of Who''s Out'
          x-testDescription: 'TODO: Add Description'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    post:
      tags:
        - Benefits
      summary: Add a benefit group employee
      operationId: Benefits_addBenefitGroupEmployee
      description: Add a benefit group employee
      parameters:
        - $ref: '#/components/parameters/CompanyDomainParameter'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BenefitGroupEmployee'
        required: true
      responses:
        '200':
          description: Benefit group employee added
        '400':
          description: if the posted JSON is invalid
        '403':
          description: >-
            if the current user doesn't have access to add the benefit group
            employee.
        '500':
          description: Server error.
      x-unitTests:
        - request:
            method: POST
            uri: /benefitgroupemployees
            headers:
              Authorization: Basic {{apiKey}}
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: 'Time Off:  Get a list of Who''s Out'
          x-testDescription: 'TODO: Add Description'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /{companyDomain}/v1/benefitgroupplans:
    get:
      tags:
        - Benefits
      summary: Get benefit group plans
      operationId: Benefits_getGroupPlans
      description: Get benefit group plans
      parameters:
        - $ref: '#/components/parameters/CompanyDomainParameter'
      responses:
        '200':
          description: ''
      x-unitTests:
        - request:
            method: GET
            uri: /benefitgroupplans
            headers:
              Authorization: Basic {{apiKey}}
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: 'Time Off:  Get a list of Who''s Out'
          x-testDescription: 'TODO: Add Description'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /{companyDomain}/v1/benefitgroupplancosts:
    get:
      tags:
        - Benefits
      summary: Get benefit group plan costs
      operationId: Benefits_getGroupPlanCosts
      description: Get benefit group plan costs
      parameters:
        - $ref: '#/components/parameters/CompanyDomainParameter'
      responses:
        '200':
          description: ''
      x-unitTests:
        - request:
            method: GET
            uri: /benefitgroupplancosts
            headers:
              Authorization: Basic {{apiKey}}
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: 'Time Off:  Get a list of Who''s Out'
          x-testDescription: 'TODO: Add Description'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /{companyDomain}/v1/employee/deductions/{id}:
    get:
      tags:
        - Benefits
      summary: Get employee deductions by benefit plan
      operationId: Benefits_getDeductionsByPlan
      description: Get employee deductions by benefit plan
      parameters:
        - $ref: '#/components/parameters/CompanyDomainParameter'
        - description: '{id} is the benefit plan ID.'
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
      x-unitTests:
        - request:
            method: GET
            uri: /employee/deductions/{id}
            headers:
              Authorization: Basic {{apiKey}}
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: 'Time Off:  Get a list of Who''s Out'
          x-testDescription: 'TODO: Add Description'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /{companyDomain}/v1/employee/plans/{id}:
    get:
      tags:
        - Benefits
      summary: Get benefit plan deductions by employee
      operationId: Benefits_getBenefitPlanDeductionsByEmployee
      description: Get benefit plan deductions by employee
      parameters:
        - $ref: '#/components/parameters/CompanyDomainParameter'
        - description: '{id} is the employee ID.'
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
      x-unitTests:
        - request:
            method: GET
            uri: /employee/plans/{id}
            headers:
              Authorization: Basic {{apiKey}}
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: 'Time Off:  Get a list of Who''s Out'
          x-testDescription: 'TODO: Add Description'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /{companyDomain}/v1/payroll/deductions/{id}:
    get:
      tags:
        - Benefits
      summary: Get benefit deductions for employee
      operationId: Benefits_getEmployeeBenefitDeductions
      description: Get benefit deductions for employee
      parameters:
        - $ref: '#/components/parameters/CompanyDomainParameter'
        - description: '{id} is the employee ID.'
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
      x-unitTests:
        - request:
            method: GET
            uri: /payroll/deductions/{id}
            headers:
              Authorization: Basic {{apiKey}}
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: 'Time Off:  Get a list of Who''s Out'
          x-testDescription: 'TODO: Add Description'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /{companyDomain}/v1/employee_withholding/{id}:
    get:
      tags:
        - Payroll
      summary: Get an employee's default withholdings
      operationId: Payroll_getDefaultWithholdings
      description: Get an employee's default withholdings
      parameters:
        - $ref: '#/components/parameters/CompanyDomainParameter'
        - description: '{id} is the employee.'
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: >-
            The response content will be a JSON document with the requested
            information.
        '400':
          description: Invalid employee ID is provided
      x-unitTests:
        - request:
            method: GET
            uri: /employee_withholding/{id}
            headers:
              Authorization: Basic {{apiKey}}
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: 'Time Off:  Get a list of Who''s Out'
          x-testDescription: 'TODO: Add Description'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    post:
      tags:
        - Payroll
      summary: Add an employee's default withholdings
      operationId: Payroll_addEmployeeWithholdings
      description: Add an employee's default withholdings
      parameters:
        - $ref: '#/components/parameters/CompanyDomainParameter'
        - description: '{id} is the employee id.'
          name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmployeeWithholding'
        required: true
      responses:
        '200':
          description: Withholding added
        '400':
          description: >-
            if an invalid employee ID is provided, or the posted JSON is not
            valid.
        '403':
          description: >-
            if the current user doesn't have access to add employee withholdings
            information.
      x-unitTests:
        - request:
            method: POST
            uri: /employee_withholding/{id}
            headers:
              Authorization: Basic {{apiKey}}
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: 'Time Off:  Get a list of Who''s Out'
          x-testDescription: 'TODO: Add Description'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    delete:
      tags:
        - Payroll
      summary: Clear an employee's default withholdings
      operationId: Payroll_clearEmployeeWithholdings
      description: Clear an employee's default withholdings
      parameters:
        - $ref: '#/components/parameters/CompanyDomainParameter'
        - description: '{id} is the employee id.'
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The response content will be a JSON success document.
        '400':
          description: Invalid employee ID is provided
        '403':
          description: >-
            if the API user doesn't have access to edit the employee
            withholdings information.
      x-unitTests:
        - request:
            method: DELETE
            uri: /employee_withholding/{id}
            headers:
              Authorization: Basic {{apiKey}}
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: 'Time Off:  Get a list of Who''s Out'
          x-testDescription: 'TODO: Add Description'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /{companyDomain}/v1/employee_direct_deposit_accounts/{id}:
    get:
      tags:
        - Payroll
      summary: Get an employee's direct deposit information
      operationId: Payroll_employeeDirectDepositInfo
      description: Get an employee's direct deposit information
      parameters:
        - $ref: '#/components/parameters/CompanyDomainParameter'
        - description: '{id} is the employee.'
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: >-
            The response content will be a JSON document with the requested
            information.
        '400':
          description: Invalid employee ID is provided
      x-unitTests:
        - request:
            method: GET
            uri: /employee_direct_deposit_account/{id}
            headers:
              Authorization: Basic {{apiKey}}
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: 'Time Off:  Get a list of Who''s Out'
          x-testDescription: 'TODO: Add Description'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    post:
      tags:
        - Payroll
      summary: Add an employee's direct deposit information
      operationId: Payroll_addEmployeeDirectDepositInfo
      description: Add an employee's direct deposit information
      parameters:
        - $ref: '#/components/parameters/CompanyDomainParameter'
        - description: '{id} is the employee id.'
          name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmployeeDeposit'
        required: true
      responses:
        '200':
          description: >-
            The saved values for the employee's direct deposit declarations will
            be returned in JSON.
        '400':
          description: >-
            if an invalid employee ID is provided, or the posted JSON is not
            valid.
        '403':
          description: >-
            if the current user doesn't have access to update the employee's
            direct deposit declarations.
      x-unitTests:
        - request:
            method: POST
            uri: /employee_direct_deposit_account/{id}
            headers:
              Authorization: Basic {{apiKey}}
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: 'Time Off:  Get a list of Who''s Out'
          x-testDescription: 'TODO: Add Description'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    delete:
      tags:
        - Payroll
      summary: Clear an employee's direct deposit information
      operationId: Payroll_clearEmployeeDirectDeposit
      description: Clear an employee's direct deposit information
      parameters:
        - $ref: '#/components/parameters/CompanyDomainParameter'
        - description: '{id} is the employee ID.'
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The response content will be a JSON success document.
        '400':
          description: Invalid employee ID is provided
        '403':
          description: >-
            if the API user doesn't have access to edit the employee's direct
            deposit declarations.
      x-unitTests:
        - request:
            method: DELETE
            uri: /employee_direct_deposit_account/{id}
            headers:
              Authorization: Basic {{apiKey}}
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: 'Time Off:  Get a list of Who''s Out'
          x-testDescription: 'TODO: Add Description'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /{companyDomain}/v1/employee_unpaid_pay_stubs/{id}:
    get:
      tags:
        - Payroll
      summary: Get an employee's unpaid paystubs
      operationId: Payroll_getUnpaidPaystubs
      description: Get an employee's unpaid paystubs
      parameters:
        - $ref: '#/components/parameters/CompanyDomainParameter'
        - description: '{id} is the employee.'
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
      x-unitTests:
        - request:
            method: GET
            uri: /employee_unpaid_pay_stubs/{id}
            headers:
              Authorization: Basic {{apiKey}}
          expectedResponse:
[...]
