openapi: 3.0.3
info:
  title: Production
  description: >-
    Baremetrics provides real-time subscription metrics for teams built with
    Stripe, Shopify Partners, Braintree, Recurly, Chargebee, Google Play, and
    App Store Connect.


    In addition to metrics, Baremetrics provides tools that help you reduce
    churn and grow your business faster:


    Recover: Prevent failed charges and keep your hard-earned revenue with our
    100% automated toolkit.


    Cancellation insights: Learn exactly why your customers cancel, calculate
    lost revenue by cancellation reason, and send automated emails to win
    customers back.


    Flightpath: Plan for the future with flexible financial modeling tools built
    for growing SaaS companies.
  version: '1.0'
  x-konfig-ignore:
    object-with-no-properties: true
    potential-incorrect-type: true
servers:
  - url: https://api.baremetrics.com
tags:
  - name: Source
  - name: Segment
  - name: Metric
  - name: Annotation
  - name: Goal
  - name: Attribute
  - name: Event
  - name: Reason
  - name: User
  - name: Account
  - name: CancellationInsight
paths:
  /v1/account:
    get:
      tags:
        - Account
      summary: Get Account
      operationId: Account_getDetails
      description: ''
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "account": {
                        "id": 'account_id',
                        "default_currency": {
                          "id": "usd",
                          "alternate_symbols": [
                            "US$"
                          ],
                          "decimal_mark": ".",
                          "disambiguate_symbol": "US$",
                          "html_entity": "$",
                          "iso_code": "USD",
                          "iso_numeric": "840",
                          "name": "United States Dollar",
                          "priority": 1,
                          "smallest_denomination": 1,
                          "subunit": "Cent",
                          "subunit_to_unit": 100,
                          "symbol": "$",
                          "symbol_first": true,
                          "thousands_separator": ","
                        },
                        "company": "Example Company",
                        "created_at": 123456789
                      }
                    }
              schema:
                $ref: '#/components/schemas/AccountGetDetailsResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/AccountGetDetails400Response'
      deprecated: false
  /v1/sources:
    get:
      tags:
        - Source
      summary: List Sources
      operationId: Source_listSources
      description: ''
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "sources": [
                        {
                          "id": "source_id",
                          "provider": "stripe",
                          "provider_id": "<stripe_account_id>"
                        },
                        {
                          "id": "source_id",
                          "provider": "baremetrics",
                          "provider_id": null
                        }
                      ]
                    }
              schema:
                $ref: '#/components/schemas/SourceListSourcesResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/SourceListSources400Response'
      deprecated: false
  /v1/{source_id}/plans:
    get:
      tags:
        - Source
      summary: List Plans
      operationId: Source_getPlansList
      description: ''
      parameters:
        - description: Allows you to search based on the name or oid fields
          name: search
          in: query
          schema:
            type: string
        - description: Please see [Sources](ref:sources)
          name: source_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "plans": [
                        {
                          "oid": "plan_1",
                          "source_id": "123",
                          "source": "baremetrics",
                          "name": "Plan 1",
                          "interval": "year",
                          "interval_count": 1,
                          "trial_duration": null,
                          "trial_duration_unit": null,
                          "created": null,
                          "active": true,
                          "setup_fees": 0,
                          "amounts": [
                            {
                              "currency": "USD",
                              "symbol": "$",
                              "symbol_right": false,
                              "amount": 450000
                            }
                          ]
                        },
                        {
                          "oid": "plan_2",
                          "source_id": "123",
                          "source": "baremetrics",
                          "name": "Plan 2",
                          "interval": "year",
                          "interval_count": 1,
                          "trial_duration": null,
                          "trial_duration_unit": null,
                          "created": null,
                          "active": true,
                          "setup_fees": 0,
                          "amounts": [
                            {
                              "currency": "USD",
                              "symbol": "$",
                              "symbol_right": false,
                              "amount": 450000
                            }
                          ]
                        }
                      ]
                    }
              schema:
                $ref: '#/components/schemas/SourceGetPlansListResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/SourceGetPlansList400Response'
      deprecated: false
    post:
      tags:
        - Source
      summary: Create Plan
      operationId: Source_createPlan
      description: >-
        Create a plan for use when
        [creating](https://developers.baremetrics.com/reference/introduction) or
        [updating](https://developers.baremetrics.com/reference/introduction)
        subscriptions.
      parameters:
        - description: Please see [Sources](ref:sources)
          name: source_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SourceCreatePlanRequest'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "plan": {
                        "oid": "plan_2",
                        "source_id": "123",
                        "source": "baremetrics",
                        "name": "Plan 2",
                        "interval": "year",
                        "interval_count": 1,
                        "trial_duration": null,
                        "trial_duration_unit": null,
                        "created": null,
                        "active": true,
                        "setup_fees": 0,
                        "amounts": [
                          {
                            "currency": "USD",
                            "symbol": "$",
                            "symbol_right": false,
                            "amount": 450000
                          }
                        ]
                      }
                    }
              schema:
                $ref: '#/components/schemas/SourceCreatePlanResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n\t\"error\": \"Error message here\"\n}"
              schema:
                $ref: '#/components/schemas/SourceCreatePlan400Response'
      deprecated: false
  /v1/{source_id}/plans/{oid}:
    get:
      tags:
        - Source
      summary: Show Plan
      operationId: Source_getPlan
      description: ''
      parameters:
        - name: oid
          in: path
          required: true
          schema:
            type: string
        - description: Please see [Sources](ref:sources)
          name: source_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "plan": {
                        "oid": "plan_2",
                        "source_id": "123",
                        "source": "baremetrics",
                        "name": "Plan 2",
                        "interval": "year",
                        "interval_count": 1,
                        "trial_duration": null,
                        "trial_duration_unit": null,
                        "created": null,
                        "active": true,
                        "setup_fees": 0,
                        "amounts": [
                          {
                            "currency": "USD",
                            "symbol": "$",
                            "symbol_right": false,
                            "amount": 450000
                          }
                        ]
                      }
                    }
              schema:
                $ref: '#/components/schemas/SourceGetPlanResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/SourceGetPlan400Response'
      deprecated: false
    delete:
      tags:
        - Source
      summary: Delete Plan
      operationId: Source_deletePlan
      description: ''
      parameters:
        - name: oid
          in: path
          required: true
          schema:
            type: string
        - description: Please see [Sources](ref:sources)
          name: source_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '202':
          description: '202'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/SourceDeletePlanResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/SourceDeletePlan400Response'
      deprecated: false
  /v1/{source_id}/plans/{plan_oid}:
    put:
      tags:
        - Source
      summary: Update Plan
      operationId: Source_updatePlan
      description: ''
      parameters:
        - description: Your interval plan id
          name: plan_oid
          in: path
          required: true
          schema:
            type: string
        - description: Please see [Sources](ref:sources)
          name: source_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SourceUpdatePlanRequest'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "plan": {
                        "oid": "plan_2",
                        "source_id": "123",
                        "source": "baremetrics",
                        "name": "Plan 2",
                        "interval": "year",
                        "interval_count": 1,
                        "trial_duration": null,
                        "trial_duration_unit": null,
                        "created": null,
                        "active": true,
                        "setup_fees": 0,
                        "amounts": [
                          {
                            "currency": "USD",
                            "symbol": "$",
                            "symbol_right": false,
                            "amount": 450000
                          }
                        ]
                      }
                    }
              schema:
                $ref: '#/components/schemas/SourceUpdatePlanResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/SourceUpdatePlan400Response'
      deprecated: false
  /v1/{source_id}/customers:
    get:
      tags:
        - Source
      summary: List Customers
      operationId: Source_getCustomerList
      description: Fetch a list of all customers on your account
      parameters:
        - description: >-
            Allows you to search for a customer based on: oid, email, notes and
            name
          name: search
          in: query
          schema:
            type: string
        - description: Please see [Sources](ref:sources)
          name: source_id
          in: path
          required: true
          schema:
            type: string
        - description: Allows you to sort the results. You can use ltv or created
          name: sort
          in: query
          schema:
            type: string
            default: created
        - name: order
          in: query
          schema:
            type: string
            default: asc
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "customers": [
                        {
                          "oid": "customer_1",
                          "source_id": "source_1",
                          "source": "stripe",
                          "created": 1492605754,
                          "email": "customer_1@baremetrics.com",
                          "name": "Customer 1",
                          "display_image": "https://logo.clearbit.com/baremetrics.com",
                          "display_name": "Customer 1",
                          "notes": "Here are some notes",
                          "ltv": 50000,
                          "is_active": true,
                          "is_canceled": false,
                          "current_mrr": 1000,
                          "current_plans": [
                            {
                              "oid": "plan_1",
                              "source_id": "source_1",
                              "source": "stripe",
                              "name": "Plan 1",
                              "interval": "month",
                              "interval_count": 1,
                              "trial_duration": null,
                              "trial_duration_unit": null,
                              "created": 1492605754,
                              "active": true,
                              "setup_fees": 0,
                              "amounts": [
                                {
                                  "currency": "USD",
                                  "symbol": "$",
                                  "symbol_right": false,
                                  "amount": 1000
                                }
                              ]
                            }
                          ]
                        }
                      ]
                    }
              schema:
                $ref: '#/components/schemas/SourceGetCustomerListResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/SourceGetCustomerList400Response'
      deprecated: false
    post:
      tags:
        - Source
      summary: Create Customer
      operationId: Source_createCustomerRecord
      description: >-
        This endpoint allows you to create a customer record. After you create
        the record, you will be able to create a
        [Subscription](https://developers.baremetrics.com/reference/introduction)
      parameters:
        - description: Please see [Sources](ref:sources)
          name: source_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SourceCreateCustomerRecordRequest'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "customer": {
                        "oid": "customer_1",
                        "source_id": "source_1",
                        "source": "stripe",
                        "created": 1492605754,
                        "email": "customer_1@baremetrics.com",
                        "name": "Customer 1",
                        "display_image": "https://logo.clearbit.com/baremetrics.com",
                        "display_name": "Customer 1",
                        "notes": "Here are some notes",
                        "ltv": 0,
                        "is_active": false,
                        "is_canceled": false,
                        "current_mrr": 0,
                        "current_plans": []
                      }
                    }
              schema:
                $ref: '#/components/schemas/SourceCreateCustomerRecordResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n\t\"error\": \"Error message here\"\n}"
              schema:
                $ref: '#/components/schemas/SourceCreateCustomerRecord400Response'
      deprecated: false
  /v1/{source_id}/customers/{oid}:
    get:
      tags:
        - Source
      summary: Show Customer
      operationId: Source_getCustomerDetails
      description: ''
      parameters:
        - name: oid
          in: path
          required: true
          schema:
            type: string
        - description: Please see [Sources](ref:sources)
          name: source_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "customer": {
                        "oid": "customer_1",
                        "source_id": "source_1",
                        "source": "stripe",
                        "created": 1492605754,
                        "email": "customer_1@baremetrics.com",
                        "name": "Customer 1",
                        "display_image": "https://logo.clearbit.com/baremetrics.com",
                        "display_name": "Customer 1",
                        "notes": "Here are some notes",
                        "ltv": 50000,
                        "is_active": true,
                        "is_canceled": false,
                        "current_mrr": 1000,
                        "current_plans": [
                          {
                            "oid": "plan_1",
                            "source_id": "source_1",
                            "source": "stripe",
                            "name": "Plan 1",
                            "interval": "month",
                            "interval_count": 1,
                            "trial_duration": null,
                            "trial_duration_unit": null,
                            "created": 1492605754,
                            "active": true,
                            "setup_fees": 0,
                            "amounts": [
                              {
                                "currency": "USD",
                                "symbol": "$",
                                "symbol_right": false,
                                "amount": 1000
                              }
                            ]
                          }
                        ]
                      }
                    }
              schema:
                $ref: '#/components/schemas/SourceGetCustomerDetailsResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/SourceGetCustomerDetails400Response'
      deprecated: false
    delete:
      tags:
        - Source
      summary: Delete Customer
      operationId: Source_deleteCustomer
      description: ''
      parameters:
        - name: oid
          in: path
          required: true
          schema:
            type: string
        - description: Please see [Sources](ref:sources)
          name: source_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '202':
          description: '202'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/SourceDeleteCustomerResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/SourceDeleteCustomer400Response'
      deprecated: false
  /v1/{source_id}/customers/{oid}/events:
    get:
      tags:
        - Source
      summary: List Customer Events
      operationId: Source_listCustomerEvents
      description: ''
      parameters:
        - description: Please see [Sources](ref:sources)
          name: source_id
          in: path
          schema:
            type: string
          required: true
        - name: oid
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "events": [
                        {
                          "id": "id_1",
                          "event_type": "new_customer",
                          "source": "baremetrics",
                          "source_id": "baremetrics_1",
                          "timestamp": 1475452800
                        },
                        {
                          "id": "id_2",
                          "event_type": "charge",
                          "source": "baremetrics",
                          "source_id": "baremetrics_1",
                          "timestamp": 1475452800
                        }
                      ]
                    }
              schema:
                $ref: '#/components/schemas/SourceListCustomerEventsResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/SourceListCustomerEvents400Response'
      deprecated: false
  /v1/{source_id}/customers/{customer_oid}:
    put:
      tags:
        - Source
      summary: Update Customer
      operationId: Source_updateCustomerInformation
      description: >-
        This endpoint allows you to update the basic information stored on a
        Customer, such as first name, last name and notes
      parameters:
        - description: Your unique ID for the customer
          name: customer_oid
          in: path
          schema:
            type: string
          required: true
        - description: Please see [Sources](ref:sources)
          name: source_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SourceUpdateCustomerInformationRequest'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "customer": {
                        "oid": "customer_1",
                        "source_id": "source_1",
                        "source": "stripe",
                        "created": 1492605754,
                        "email": "customer_1@baremetrics.com",
                        "name": "Customer 1",
                        "display_image": "https://logo.clearbit.com/baremetrics.com",
                        "display_name": "Customer 1",
                        "notes": "Here are some notes",
                        "ltv": 50000,
                        "is_active": true,
                        "is_canceled": false,
                        "current_mrr": 1000,
                        "current_plans": [
                          {
                            "oid": "plan_1",
                            "source_id": "source_1",
                            "source": "stripe",
                            "name": "Plan 1",
                            "interval": "month",
                            "interval_count": 1,
                            "trial_duration": null,
                            "trial_duration_unit": null,
                            "created": 1492605754,
                            "active": true,
                            "setup_fees": 0,
                            "amounts": [
                              {
                                "currency": "USD",
                                "symbol": "$",
                                "symbol_right": false,
                                "amount": 1000
                              }
                            ]
                          }
                        ]
                      }
                    }
              schema:
                $ref: '#/components/schemas/SourceUpdateCustomerInformationResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n\t\"error\": \"Error message here\"\n}"
              schema:
                $ref: >-
                  #/components/schemas/SourceUpdateCustomerInformation400Response
      deprecated: false
  /v1/{source_id}/subscriptions:
    get:
      tags:
        - Source
      summary: List Subscriptions
      operationId: Source_getSubscriptions
      description: Get all subscriptions linked to this API Key.
      parameters:
        - description: Please see [Sources](ref:sources)
          name: source_id
          in: path
          required: true
          schema:
            type: string
        - description: This allows you to return subscriptions for a given customer
          name: customer_oid
          in: query
          schema:
            type: string
        - description: >-
            Allows you to order subscriptions from newest to oldest `desc` or
            oldest to newest `asc`
          name: order
          in: query
          schema:
            type: string
            default: desc
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "subscriptions": [
                        {
                          "oid": "subscription_1",
                          "source_id": "source_1",
                          "source": "stripe",
                          "customer": {
                            "oid": "customer_1",
                            "source_id": "source_1",
                            "source": "stripe",
                            "created": 1492605754,
                            "email": "customer_1@baremetrics.com",
                            "name": "Customer 1",
                            "display_image": "https://logo.clearbit.com/baremetrics.com",
                            "display_name": "Customer 1",
                            "notes": "Here are some notes",
                            "ltv": 50000,
                          },
                          "canceled_at": null,
                          "started_at": 1492605754,
                          "processed": true,
                          "active": true,
                          "quantity": 1,
                          "discount": 0,
                          "plan": {
                            "oid": "plan_1",
                            "source_id": "source_1",
                            "source": "stripe",
                            "name": "Plan 1",
                            "interval": "month",
                            "interval_count": 1,
                            "trial_duration": null,
                            "trial_duration_unit": null,
                            "created": 1492605754,
                            "active": true,
                            "setup_fees": 0,
                            "amounts": [
                              {
                                "currency": "USD",
                                "symbol": "$",
                                "symbol_right": false,
                                "amount": 1000
                              }
                            ]
                          }
                        }
                      ]
                    }
              schema:
                $ref: '#/components/schemas/SourceGetSubscriptionsResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/SourceGetSubscriptions400Response'
      deprecated: false
    post:
      tags:
        - Source
      summary: Create Subscription
      operationId: Source_createSubscription
      description: This endpoint allows you to create a Subscription.
      parameters:
        - description: Please see [Sources](ref:sources)
          name: source_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SourceCreateSubscriptionRequest'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "event": {
                        "id": "48X1ZZHtRaBtfN",
                        "type": "subscription.created",
                        "info": {
                          "oid": "subscription_51",
                          "started_at": 1474381618,
                          "plan_oid": "1476719008009",
                          "customer_oid": "1476719006346",
                          "canceled_at": null,
                          "quantity": 1,
                          "addons" : [
                            {
                              "oid": "addon_1",
                              "amount": 100,
                              "quantity": 1
                            },
                            {
                              "oid": "addon_2",
                              "amount": 50,
                              "quantity": 1
                            }
                          ]
                        },
                        "occurred_at": 1474381618,
                        "received_at": 1480421211
                      }
                    }
              schema:
                $ref: '#/components/schemas/SourceCreateSubscriptionResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n\t\"error\": \"Error message here\"\n}"
              schema:
                $ref: '#/components/schemas/SourceCreateSubscription400Response'
      deprecated: false
  /v1/{source_id}/subscriptions/{oid}:
    get:
      tags:
        - Source
      summary: Show Subscription
      operationId: Source_getSubscription
      description: ''
      parameters:
        - name: oid
          in: path
          required: true
          schema:
            type: string
        - description: Please see [Sources](ref:sources)
          name: source_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "subscription": {
                        "oid": "subscription_1",
                        "source_id": "source_1",
                        "source": "stripe",
                        "customer": {
                          "oid": "customer_1",
                          "source_id": "source_1",
                          "source": "stripe",
                          "created": 1492605754,
                          "email": "customer_1@baremetrics.com",
                          "name": "Customer 1",
                          "display_image": "https://logo.clearbit.com/baremetrics.com",
                          "display_name": "Customer 1",
                          "notes": "Here are some notes",
                          "ltv": 50000,
                        },
                        "canceled_at": null,
                        "started_at": 1492605754,
                        "processed": true,
                        "active": true,
                        "quantity": 1,
                        "discount": 0,
                        "plan": {
                          "oid": "plan_1",
                          "source_id": "source_1",
                          "source": "stripe",
                          "name": "Plan 1",
                          "interval": "month",
                          "interval_count": 1,
                          "trial_duration": null,
                          "trial_duration_unit": null,
                          "created": 1492605754,
                          "active": true,
                          "setup_fees": 0,
                          "amounts": [
                            {
                              "currency": "USD",
                              "symbol": "$",
                              "symbol_right": false,
                              "amount": 1000
                            }
                          ]
                        }
                      }
                    }
              schema:
                $ref: '#/components/schemas/SourceGetSubscriptionResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/SourceGetSubscription400Response'
      deprecated: false
    delete:
      tags:
        - Source
      summary: Delete Subscription
      operationId: Source_removeSubscription
      description: ''
      parameters:
        - name: oid
          in: path
          required: true
          schema:
            type: string
        - description: Please see [Sources](ref:sources)
          name: source_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '202':
          description: '202'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/SourceRemoveSubscriptionResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/SourceRemoveSubscription400Response'
      deprecated: false
  /v1/{source_id}/subscriptions/{subscription_oid}:
    put:
      tags:
        - Source
      summary: Update Subscription
      operationId: Source_updateSubscription
      description: >-
        This allows you to update a Subscription, such as changing plans and
        addons.
      parameters:
        - description: Your unique ID for the subscription
          name: subscription_oid
          in: path
          required: true
          schema:
            type: string
        - description: Please see [Sources](ref:sources)
          name: source_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SourceUpdateSubscriptionRequest'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "event": {
                        "id": "48X4cZ3T25MKkL",
                        "type": "subscription.updated",
                        "info": {
                          "plan_oid": "1476719008009",
                          "occurred_at": 1480421495,
                          "quantity": 1,
                          "addons" : [
                            {
                              "oid": "addon_1",
                              "amount": 100,
                              "quantity": 1
                            },
                            {
                              "oid": "addon_2",
                              "amount": 50,
                              "quantity": 1
                            },
                            {
                              "oid": "addon_3",
                              "amount": 25,
                              "quantity": 1
                            }
                          ]
                        },
                        "occurred_at": 1480421495,
                        "received_at": 1480421495
                      }
                    }
              schema:
                $ref: '#/components/schemas/SourceUpdateSubscriptionResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n\t\"error\": \"Error message here\"\n}"
              schema:
                $ref: '#/components/schemas/SourceUpdateSubscription400Response'
      deprecated: false
  /v1/{source_id}/subscriptions/{subscription_oid}/cancel:
    put:
      tags:
        - Source
      summary: Cancel Subscription
      operationId: Source_cancelSubscription
      description: This endpoint allows you to cancel a subscription.
      parameters:
        - description: Your unique ID for the subscription
          name: subscription_oid
          in: path
          required: true
          schema:
            type: string
        - description: Please see [Sources](ref:sources)
          name: source_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SourceCancelSubscriptionRequest'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "event": {
                        "id": "48X3C1W4w5vCbx",
                        "type": "subscription.canceled",
                        "info": {
                          "canceled_at": 1480421362,
                          "addons": []
                        },
                        "occurred_at": 1480421362,
                        "received_at": 1480421362
                      }
                    }
              schema:
                $ref: '#/components/schemas/SourceCancelSubscriptionResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n\t\"error\": \"Error message here\"\n}"
              schema:
                $ref: '#/components/schemas/SourceCancelSubscription400Response'
      deprecated: false
  /v1/annotations:
    get:
      tags:
        - Annotation
      summary: List Annotations
      operationId: Annotation_list
      description: ''
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "annotations": [
                        {
                          "id": "our_unique_id",
                          "metric": "mrr",
                          "annotation": "New Feature 1",
                          "date": "2015-03-31",
                          "global": true,
                          "user": {
                            "id": "user_id",
                            "email": "user@baremetrics.com",
                            "admin": true,
                            "name": "User Name"
                          }
                        }
                      ]
                    }
              schema:
                $ref: '#/components/schemas/AnnotationListResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/AnnotationList400Response'
      deprecated: false
    post:
      tags:
        - Annotation
      summary: Create Annotation
      operationId: Annotation_createNew
      description: ''
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnnotationCreateNewRequest'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "annotation": {
                        "id": "our_unique_id",
                        "metric": "mrr",
                        "annotation": "New Feature 1",
                        "date": "2015-03-31",
                        "global": true,
                        "user": {
                          "id": "user_id",
                          "email": "user@baremetrics.com",
                          "admin": true,
                          "name": "User Name"
                        }
                      }
                    }
              schema:
                $ref: '#/components/schemas/AnnotationCreateNewResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/AnnotationCreateNew400Response'
      deprecated: false
  /v1/annotations/{id}:
    get:
      tags:
        - Annotation
      summary: Show Annotation
      operationId: Annotation_getDetails
      description: ''
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "annotation": {
                        "id": "our_unique_id",
                        "metric": "mrr",
                        "annotation": "New Feature 1",
                        "date": "2015-03-31",
                        "global": true,
                        "user": {
                          "id": "user_id",
                          "email": "user@baremetrics.com",
                          "admin": true,
                          "name": "User Name"
                        }
                      }
                    }
              schema:
                $ref: '#/components/schemas/AnnotationGetDetailsResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/AnnotationGetDetails400Response'
      deprecated: false
    delete:
      tags:
        - Annotation
      summary: Delete Annotation
      operationId: Annotation_removeById
      description: ''
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '202':
          description: '202'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/AnnotationRemoveByIdResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/AnnotationRemoveById400Response'
      deprecated: false
  /v1/goals:
    get:
      tags:
        - Goal
      summary: List Goals
      operationId: Goal_getList
      description: ''
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "goals": [
                        {
                          "id": "our_unique_id",
                          "metric": "mrr",
                          "end_amount": 2000,
                          "start_amount": 1000,
                          "end_date": "2016-06-30",
                          "start_date": "2016-01-02",
                          "name": "MRR Growth"
                        }
                      ]
                    }
              schema:
                $ref: '#/components/schemas/GoalGetListResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/GoalGetList400Response'
      deprecated: false
    post:
      tags:
        - Goal
      summary: Create Goal
      operationId: Goal_createNewGoal
      description: ''
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoalCreateNewGoalRequest'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "goal": {
                        "id": "our_unique_id",
                        "metric": "mrr",
                        "end_amount": 2000,
                        "start_amount": 1000,
                        "end_date": "2016-06-30",
                        "start_date": "2016-01-02",
                        "name": "Goal 1"
                      }
                    }
              schema:
                $ref: '#/components/schemas/GoalCreateNewGoalResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/GoalCreateNewGoal400Response'
      deprecated: false
  /v1/goals/{id}:
    get:
      tags:
        - Goal
      summary: Show Goal
      operationId: Goal_getById
      description: ''
      parameters:
        - description: Unique ID
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "goal": {
                        "id": "our_unique_id",
                        "metric": "mrr",
                        "end_amount": 2000,
                        "start_amount": 1000,
                        "end_date": "2016-06-30",
                        "start_date": "2016-01-02",
                        "name": "MRR Growth"
                      }
                    }
              schema:
                $ref: '#/components/schemas/GoalGetByIdResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/GoalGetById400Response'
      deprecated: false
    delete:
      tags:
        - Goal
      summary: Delete Goal
      operationId: Goal_remove
      description: ''
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '202':
          description: '202'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/GoalRemoveResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/GoalRemove400Response'
      deprecated: false
  /v1/users:
    get:
      tags:
        - User
      summary: List Users
      operationId: User_listUsers
      description: ''
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "users": [
                        {
                          "id": "our_unique_id",
                          "email": "user@baremetrics.com",
                          "admin": true,
                          "name": "User Name"
                        }
                      ]
                    }
              schema:
                $ref: '#/components/schemas/UserListUsersResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/UserListUsers400Response'
      deprecated: false
  /v1/users/{id}:
    get:
      tags:
        - User
      summary: Show User
      operationId: User_getUserById
      description: ''
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "user": {
                        "id": "our_unique_id",
                        "email": "user@baremetrics.com",
                        "admin": true,
                        "name": "User Name"
                      }
                    }
              schema:
                $ref: '#/components/schemas/UserGetUserByIdResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/UserGetUserById400Response'
      deprecated: false
  /v1/{source_id}/charges:
    get:
      tags:
        - Source
      summary: List Charges
      operationId: Source_getChargeList
      description: ''
      parameters:
        - description: Please see [Sources](ref:sources)
          name: source_id
          in: path
          required: true
          schema:
            type: string
        - name: start
          in: query
          schema:
            type: string
            format: date-time
        - name: end
          in: query
          schema:
            type: string
            format: date-time
        - name: subscription_oid
          in: query
          schema:
            type: string
        - name: customer_oid
          in: query
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "charges": [
                        {
                          "oid": "your_unique_id",
                          "source_id": "source_id",
                          "source": "baremetrics",
                          "status": "paid",
                          "created": 1475452800,
                          "customer": {
                            "oid": "customer_1",
                            "source_id": "source_1",
                            "source": "stripe",
                            "created": 1492605754,
                            "email": "customer_1@baremetrics.com",
                            "name": "Customer 1",
                            "display_image": "https://logo.clearbit.com/baremetrics.com",
                            "display_name": "Customer 1",
                            "notes": "Here are some notes",
                            "ltv": 50000,
                          },
                          "subscription": null,
                          "amount": 450000,
                          "currency": "USD",
                          "original_amount": 450000,
                          "fee": 500,
                          "original_fee": 500
                        }
                      ]
                    }
              schema:
                $ref: '#/components/schemas/SourceGetChargeListResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/SourceGetChargeList400Response'
      deprecated: false
    post:
      tags:
        - Source
      summary: Create Charge
      operationId: Source_createChargeOneOff
      description: Create "One-Off" charges that are not linked to a subscription.
      parameters:
        - description: Please see [Sources](ref:sources)
          name: source_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SourceCreateChargeOneOffRequest'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "charge": {
                        "oid": "your_unique_id",
                        "source_id": "source_id",
                        "source": "baremetrics",
                        "status": "paid",
                        "created": 1475452800,
                        "customer": {
                          "oid": "customer_1",
                          "source_id": "source_1",
                          "source": "stripe",
                          "created": 1492605754,
                          "email": "customer_1@baremetrics.com",
                          "name": "Customer 1",
                          "display_image": "https://logo.clearbit.com/baremetrics.com",
                          "display_name": "Customer 1",
                          "notes": "Here are some notes",
                          "ltv": 50000,
                        },
                        "subscription": null,
                        "amount": 450000,
                        "currency": "USD",
                        "original_amount": 450000,
                        "fee": 500,
                        "original_fee": 500
                      }
                    }
              schema:
                $ref: '#/components/schemas/SourceCreateChargeOneOffResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/SourceCreateChargeOneOff400Response'
      deprecated: false
  /v1/{source_id}/charges/{oid}:
    get:
      tags:
        - Source
      summary: Show Charge
      operationId: Source_getChargeDetails
      description: ''
      parameters:
        - description: Please see [Sources](ref:sources)
          name: source_id
          in: path
          required: true
          schema:
            type: string
        - name: oid
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "charge": {
                        "oid": "your_unique_id",
                        "source_id": "source_id",
                        "source": "baremetrics",
                        "status": "paid",
                        "created": 1475452800,
                        "customer": {
                          "oid": "customer_1",
                          "source_id": "source_1",
                          "source": "stripe",
                          "created": 1492605754,
                          "email": "customer_1@baremetrics.com",
                          "name": "Customer 1",
                          "display_image": "https://logo.clearbit.com/baremetrics.com",
                          "display_name": "Customer 1",
                          "notes": "Here are some notes",
                          "ltv": 50000,
                        },
                        "subscription": null,
                        "amount": 450000,
                        "currency": "USD",
                        "original_amount": 450000,
                        "fee": 500,
                        "original_fee": 500
                      }
                    }
              schema:
                $ref: '#/components/schemas/SourceGetChargeDetailsResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/SourceGetChargeDetails400Response'
      deprecated: false
    delete:
      tags:
        - Source
      summary: Delete Charge
      operationId: Source_removeOneOffCharge
      description: Delete "One-Off" charges that are not linked to a subscription.
      parameters:
        - description: Please see [Sources](ref:sources)
          name: source_id
          in: path
          schema:
            type: string
          required: true
        - name: oid
          in: path
          schema:
            type: string
          required: true
      responses:
        '202':
          description: '202'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/SourceRemoveOneOffChargeResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/SourceRemoveOneOffCharge400Response'
      deprecated: false
  /v1/{source_id}/refunds:
    get:
      tags:
        - Source
      summary: List Refunds
      operationId: Source_getRefunds
      description: ''
      parameters:
        - description: Please see [Sources](ref:sources)
          name: source_id
          in: path
          schema:
            type: string
          required: true
        - name: start
          in: query
          schema:
            type: string
            format: date-time
        - name: end
          in: query
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "refunds": [
                        {
                          "oid": "your_unique_id",
                          "source_id": "source_id",
                          "source": "stripe",
                          "charge_oid": "charge_oid",
                          "created": 1510789071,
                          "customer": {
                            "oid": "customer_1",
                            "source_id": "source_id",
                            "source": "stripe",
                            "created": 1445122336,
                            "email": "customer_1@baremetrics.com",
                            "name": "Customer 1",
                            "display_image": "https://logo.clearbit.com/baremetrics.com",
                            "display_name": "Customer 1",
                            "notes": null,
                            "ltv": 116148
                          },
                          "amount": 8700
                        }
                      ]
                    }
              schema:
                $ref: '#/components/schemas/SourceGetRefundsResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/SourceGetRefunds400Response'
      deprecated: false
    post:
      tags:
        - Source
      summary: Create Refund
      operationId: Source_createOneOffRefund
      description: Create "One-Off" refunds that are not linked to a subscription.
      parameters:
        - description: Please see [Sources](ref:sources)
          name: source_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SourceCreateOneOffRefundRequest'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"refund\": {\n    \"oid\": \"your_unique_id\",\n    \"source_id\": \"source_id\",\n    \"source\": \"baremetrics\",\n    \"created\": 1475452800,\n    \"customer\": {\n      \"oid\": \"customer_1\",\n      \"source_id\": \"source_1\",\n      \"source\": \"stripe\",\n      \"created\": 1492605754,\n      \"email\": \"customer_1@baremetrics.com\",\n      \"name\": \"Customer 1\",\n      \"display_image\": \"https://logo.clearbit.com/baremetrics.com\",\n      \"display_name\": \"Customer 1\",\n      \"notes\": \"Here are some notes\",\n      \"ltv\": 50000,\n    },\n    \"charge\": {\n    \t\"oid\": \"123\",\n      \"source_id\": \"source_id\",\n      \"source\": \"baremetrics\",\n      \"status\": \"paid\",\n      \"created\": 1475452800,\n      \"currency\": \"usd\",\n      \"amount\": 450000,\n      \"original_amount\": 450000\n    },\n    \"amount\": 450000\n  }\n}"
              schema:
                $ref: '#/components/schemas/SourceCreateOneOffRefundResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/SourceCreateOneOffRefund400Response'
      deprecated: false
  /v1/{source_id}/refunds/{oid}:
    get:
      tags:
        - Source
      summary: Show Refund
      operationId: Source_getRefundDetails
      description: ''
      parameters:
        - description: Please see [Sources](ref:sources)
          name: source_id
          in: path
          schema:
            type: string
          required: true
        - name: oid
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "oid": "your_unique_id",
                      "source_id": "source_id",
                      "source": "stripe",
                      "charge_oid": "charge_oid",
                      "created": 1510789071,
                      "customer": {
                        "oid": "customer_1",
                        "source_id": "source_id",
                        "source": "stripe",
                        "created": 1445122336,
                        "email": "customer_1@baremetrics.com",
                        "name": "Customer 1",
                        "display_image": "https://logo.clearbit.com/baremetrics.com",
                        "display_name": "Customer 1",
                        "notes": null,
                        "ltv": 116148
                      },
                      "amount": 8700
                    }
              schema:
                $ref: '#/components/schemas/SourceGetRefundDetailsResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/SourceGetRefundDetails400Response'
      deprecated: false
    delete:
      tags:
        - Source
      summary: Delete Refund
      operationId: Source_removeOneOffRefund
      description: Delete "One-Off" refunds that are not linked to a subscription.
      parameters:
        - description: Please see [Sources](ref:sources)
          name: source_id
          in: path
          schema:
            type: string
          required: true
        - name: oid
          in: path
          schema:
            type: string
          required: true
      responses:
        '202':
          description: '202'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/SourceRemoveOneOffRefundResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/SourceRemoveOneOffRefund400Response'
      deprecated: false
  /v1/{source_id}/events:
    get:
      tags:
        - Source
      summary: List Events
      operationId: Source_getEvents
      description: ''
      parameters:
        - description: Please see [Sources](ref:sources)
          name: source_id
          in: path
          schema:
            type: string
          required: true
        - description: >-
            Set this to true to only return events that show up in the live
            stream
          name: live_stream
          in: query
          schema:
            type: string
            default: 'false'
        - name: start
          in: query
          schema:
            type: string
            format: date-time
        - name: end
          in: query
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "events": [
                        {
                          "id": "id_1",
                          "event_type": "charge",
                          "source": "baremetrics",
                          "source_id": "baremetrics_1",
                          "timestamp": 1475452800,
                          "customer": {
                            "oid": "customer_1",
                            "source_id": "source_1",
                            "source": "stripe",
                            "created": 1492605754,
                            "email": "customer_1@baremetrics.com",
                            "name": "Customer 1",
                            "display_image": "https://logo.clearbit.com/baremetrics.com",
                            "display_name": "Customer 1",
                            "notes": "Here are some notes",
                            "ltv": 50000,
                          }
                        }
                      ],
                      "meta": {
                        "pagination": {
                          "has_more": false,
                          "page": 0,
                          "per_page": 30
                        }
                      }
                    }
              schema:
                $ref: '#/components/schemas/SourceGetEventsResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/SourceGetEvents400Response'
      deprecated: false
  /v1/{source_id}/events/{id}:
    get:
      tags:
        - Source
      summary: Show Event
      operationId: Source_getEventById
      description: ''
      parameters:
        - description: Please see [Sources](ref:sources)
          name: source_id
          in: path
          schema:
            type: string
          required: true
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "event": {
                        "id": "id_1",
                        "event_type": "charge",
                        "source": "baremetrics",
                        "source_id": "baremetrics_1",
                        "timestamp": 1475452800,
                        "customer": {
                          "oid": "customer_1",
                          "source_id": "source_1",
                          "source": "stripe",
                          "created": 1492605754,
                          "email": "customer_1@baremetrics.com",
                          "name": "Customer 1",
                          "display_image": "https://logo.clearbit.com/baremetrics.com",
                          "display_name": "Customer 1",
                          "notes": "Here are some notes",
                          "ltv": 50000,
                        }
                      }
                    }
              schema:
                $ref: '#/components/schemas/SourceGetEventByIdResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/SourceGetEventById400Response'
      deprecated: false
  /v1/metrics:
    get:
      tags:
        - Metric
      summary: Show Summary
      operationId: Metric_showSummary
      description: ''
      parameters:
        - name: start_date
          in: query
          required: true
          schema:
            type: string
            default: '2016-11-01'
        - name: end_date
          in: query
          required: true
          schema:
            type: string
            default: '2016-11-26'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "metrics": [
                        {
                          "human_date": "2016-11-26",
                          "date": 1480118400,
                          "active_customers": 642,
                          "active_subscriptions": 642,
                          "add_on_mrr": 0,
                          "arpu": 9383,
                          "arr": 72289044,
                          "cancellations": 0,
                          "coupons": 43300,
                          "downgrades": 0,
                          "failed_charges": 1,
                          "fees": 7373,
                          "ltv": 159039,
                          "mrr": 6024087,
                          "net_revenue": 233498,
                          "new_customers": 0,
                          "other_revenue": 0,
                          "reactivated_customers": 0,
                          "refunds": 0,
                          "revenue_churn": 543,
                          "trial_conversions": 0,
                          "upgrades": 1,
                          "user_churn": 590
                        },
                        {
                          "human_date": "2016-11-27",
                          "date": 1480204800,
                          "active_customers": 640,
                          "active_subscriptions": 640,
                          "add_on_mrr": 0,
                          "arpu": 9362,
                          "arr": 71900916,
                          "cancellations": 2,
                          "coupons": 6677,
                          "downgrades": 1,
                          "failed_charges": 1,
                          "fees": 4452,
                          "ltv": 158949,
                          "mrr": 5991743,
                          "net_revenue": 129723,
                          "new_customers": 0,
                          "other_revenue": 0,
                          "reactivated_customers": 0,
                          "refunds": 0,
                          "revenue_churn": 497,
                          "trial_conversions": 0,
                          "upgrades": 1,
                          "user_churn": 589
                        }
                      ]
                    }
              schema:
                $ref: '#/components/schemas/MetricShowSummaryResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/MetricShowSummary400Response'
      deprecated: false
  /v1/metrics/{metric}:
    get:
      tags:
        - Metric
      summary: Show Metric
      operationId: Metric_showDetails
      description: ''
      parameters:
        - description: >-
            You can see a list of available metrics
            [here](https://developers.baremetrics.com/reference/introduction)
          name: metric
          in: path
          schema:
            type: string
          required: true
        - name: start_date
          in: query
          required: true
          schema:
            type: string
            format: date
            default: '2016-11-01'
        - name: end_date
          in: query
          required: true
          schema:
            type: string
            format: date
            default: '2016-11-26'
        - description: The number of days ago to compare results to
          name: compare_to
          in: query
          schema:
            type: integer
            format: int32
            default: 30
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "metrics": [
                        {
                          "date": 1480118400,
                          "human_date": "2016-11-26",
                          "value": 6024087,
                          "notes": null,
                          "previous": {
                            "date": 1477526400,
                            "human_date": "2016-10-27",
                            "value": 5941979,
                            "percent": 1.4,
                            "notes": null
                          }
                        },
                        {
                          "date": 1480204800,
                          "human_date": "2016-11-27",
                          "value": 5991743,
                          "notes": null,
                          "previous": {
                            "date": 1477612800,
                            "human_date": "2016-10-28",
                            "value": 5932562,
                            "percent": 1,
                            "notes": null
                          }
                        },
                        {
                          "date": 1480291200,
                          "human_date": "2016-11-28",
                          "value": 6050735,
                          "notes": null,
                          "previous": {
                            "date": 1477699200,
                            "human_date": "2016-10-29",
                            "value": 5940529,
                            "percent": 1.9,
                            "notes": null
                          }
                        },
                        {
                          "date": 1480377600,
                          "human_date": "2016-11-29",
                          "value": 6076135,
                          "notes": null,
                          "previous": {
                            "date": 1477785600,
                            "human_date": "2016-10-30",
                            "value": 5935279,
                            "percent": 2.4,
                            "notes": null
                          }
                        }
                      ]
                    }
              schema:
                $ref: '#/components/schemas/MetricShowDetailsResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/MetricShowDetails400Response'
      deprecated: false
  /v1/metrics/{metric}/customers:
    get:
      tags:
        - Metric
      summary: Show Customers
      operationId: Metric_listCustomers
      description: >-
        Returns a list of customers that make up this metric. For example, the
        upgrades metric will return all customers who have upgraded within the
        selected range. You can also see their MRR contribution.
      parameters:
        - name: start_date
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: end_date
          in: query
          required: true
          schema:
            type: string
            format: date
        - description: >-
            You can see a list of available metrics
            [here](https://developers.baremetrics.com/reference/introduction)
          name: metric
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "metrics": [
                        {
                          "date": 1475107200,
                          "human_date": "2016-09-29",
                          "value": 2,
                          "customers": [
                            {
                              "mrr": 5000,
                              "customer": {
                                "oid": "customer_1",
                                "source_id": "source_1",
                                "source": "stripe",
                                "created": 1492605754,
                                "email": "customer_1@baremetrics.com",
                                "name": "Customer 1",
                                "display_image": "https://logo.clearbit.com/baremetrics.com",
                                "display_name": "Customer 1",
                                "notes": "Here are some notes",
                                "ltv": 50000,
                              },
                              "current_plan": {
                                "oid": "mrr_50_mo",
                                "source_id": "stripe_1",
                                "source": "stripe",
                                "name": "Startup $50 - MRR - Monthly",
                                "interval": "month",
                                "interval_count": 1,
                                "trial_duration": null,
                                "trial_duration_unit": null,
                                "created": 1450216295,
                                "active": true,
                                "setup_fees": 0,
                                "amounts": [
                                  {
                                    "currency": "USD",
                                    "symbol": "$",
                                    "symbol_right": false,
                                    "amount": 5000
                                  }
                                ]
                              },
                              "previous_plan": {
                                "oid": "free",
                                "source_id": "stripe_1",
                                "source": "stripe",
                                "name": "Free",
                                "interval": "month",
                                "interval_count": 1,
                                "trial_duration": 14,
                                "trial_duration_unit": "day",
                                "created": 1438620623,
                                "active": true,
                                "setup_fees": 0,
                                "amounts": [
                                  {
                                    "currency": "USD",
                                    "symbol": "$",
                                    "symbol_right": false,
                                    "amount": 0
                                  }
                                ]
                              }
                            }
                          ]
                        }
                      ]
                    }
              schema:
                $ref: '#/components/schemas/MetricListCustomersResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/MetricListCustomers400Response'
      deprecated: false
  /v1/metrics/{metric}/plans:
    get:
      tags:
        - Metric
      summary: Show Plan Breakout
      operationId: Metric_showPlanBreakout
      description: This allows you to break down a metric by plan, across a date range
      parameters:
        - name: start_date
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: end_date
          in: query
          required: true
          schema:
            type: string
            format: date
        - description: >-
            You can see a list of available metrics
            [here](https://developers.baremetrics.com/reference/introduction)
          name: metric
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "metrics": [
                        {
                          "date": 1477872000,
                          "human_date": "2016-10-31",
                          "value": 52664,
                          "plan": {
                            "oid": "startup_yearly_790",
                            "source_id": "3ULWIj59pU016O",
                            "source": "stripe",
                            "name": "Startup (Yearly)",
                            "interval": "year",
                            "interval_count": 1,
                            "trial_duration": null,
                            "trial_duration_unit": null,
                            "created": 1394818080,
                            "active": true,
                            "setup_fees": 0,
                            "amounts": [
                              {
                                "currency": "USD",
                                "symbol": "$",
                                "symbol_right": false,
                                "amount": 79000
                              }
                            ]
                          }
                        }
                      ]
                    }
              schema:
                $ref: '#/components/schemas/MetricShowPlanBreakoutResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/MetricShowPlanBreakout400Response'
      deprecated: false
  /v1/metrics/cohorts:
    get:
      tags:
        - Metric
      summary: Show Cohorts
      operationId: Metric_showCohorts
      description: ''
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    [
                      {
                        "end": "2017-08-31",
                        "mrr": 569521,
                        "begin": "2017-08-01",
                        "cells": [
                          {
                            "end": "2017-08-31",
                            "user": {
                              "total": 1563,
                              "absolute": 1533,
                              "percentage": 0.98
                            },
                            "begin": "2017-08-01",
                            "revenue": {
                              "total": 569521,
                              "absolute": 554122,
                              "percentage": 0.97,
                              "absolute_formatted": "$5,541",
                              "total_formatted": "$569,521"
                            }
                          },
                          {
                            "end": "2017-09-30",
                            "user": {
                              "total": 1563,
                              "absolute": 1509,
                              "percentage": 0.97
                            },
                            "begin": "2017-09-01",
                            "revenue": {
                              "total": 569521,
                              "absolute": 541089,
                              "percentage": 0.95,
                              "absolute_formatted": "$5,410",
                              "total_formatted": "$569,521"
                            }
                          },
                          {
                            "end": "2017-10-31",
                            "user": {
                              "total": 1563,
                              "absolute": 1476,
                              "percentage": 0.94
                            },
                            "begin": "2017-10-01",
                            "revenue": {
                              "total": 569521,
                              "absolute": 522393,
                              "percentage": 0.92,
                              "absolute_formatted": "$5,223",
                              "total_formatted": "$569,521"
                            }
                          },
                          {
                            "end": "2017-11-30",
                            "user": {
                              "total": 1563,
                              "absolute": 1454,
                              "percentage": 0.93
                            },
                            "begin": "2017-11-01",
                            "revenue": {
                              "total": 569521,
                              "absolute": 509309,
                              "percentage": 0.89,
                              "absolute_formatted": "$5,093",
                              "total_formatted": "$569,521"
                            }
                          },
                          {
                            "end": "2017-12-31",
                            "user": {
                              "total": 1563,
                              "absolute": 1437,
                              "percentage": 0.92
                            },
                            "begin": "2017-12-01",
                            "revenue": {
                              "total": 569521,
                              "absolute": 499460,
                              "percentage": 0.88,
                              "absolute_formatted": "$4,994",
                              "total_formatted": "$569,521"
                            }
                          },
                          {
                            "end": "2018-01-31",
                            "user": {
                              "total": 1563,
                              "absolute": 1421,
                              "percentage": 0.91
                            },
                            "begin": "2018-01-01",
                            "revenue": {
                              "total": 569521,
                              "absolute": 490544,
                              "percentage": 0.86,
                              "absolute_formatted": "$4,905",
                              "total_formatted": "$569,521"
                            }
                          },
                          {
                            "end": "2018-02-28",
                            "user": {
                              "total": 1563,
                              "absolute": 1403,
                              "percentage": 0.9
                            },
                            "begin": "2018-02-01",
                            "revenue": {
                              "total": 569521,
                              "absolute": 480095,
                              "percentage": 0.84,
                              "absolute_formatted": "$4,800",
                              "total_formatted": "$569,521"
                            }
                          },
                          {
                            "end": "2018-03-31",
                            "user": {
                              "total": 1563,
                              "absolute": 1383,
                              "percentage": 0.88
                            },
                            "begin": "2018-03-01",
                            "revenue": {
                              "total": 569521,
                              "absolute": 469370,
                              "percentage": 0.82,
                              "absolute_formatted": "$4,693",
                              "total_formatted": "$569,521"
                            }
                          },
                          {
                            "end": "2018-04-30",
                            "user": {
                              "total": 1563,
                              "absolute": 1372,
                              "percentage": 0.88
                            },
                            "begin": "2018-04-01",
                            "revenue": {
                              "total": 569521,
                              "absolute": 463904,
                              "percentage": 0.81,
                              "absolute_formatted": "$4,639",
                              "total_formatted": "$569,521"
                            }
                          },
                          {
                            "end": "2018-05-31",
                            "user": {
                              "total": 1563,
                              "absolute": 1363,
                              "percentage": 0.87
                            },
                            "begin": "2018-05-01",
                            "revenue": {
                              "total": 569521,
                              "absolute": 458738,
                              "percentage": 0.81,
                              "absolute_formatted": "$4,587",
                              "total_formatted": "$569,521"
                            }
                          },
                          {
                            "end": "2018-06-30",
                            "user": {
                              "total": 1563,
                              "absolute": 1334,
                              "percentage": 0.85
                            },
                            "begin": "2018-06-01",
                            "revenue": {
                              "total": 569521,
                              "absolute": 448529,
                              "percentage": 0.79,
                              "absolute_formatted": "$4,485",
                              "total_formatted": "$569,521"
                            }
                          },
                          {
                            "end": "2018-07-31",
                            "user": {
                              "total": 1563,
                              "absolute": 1313,
                              "percentage": 0.84
                            },
                            "begin": "2018-07-01",
                            "revenue": {
                              "total": 569521,
                              "absolute": 439404,
                              "percentage": 0.77,
                              "absolute_formatted": "$4,394",
                              "total_formatted": "$569,521"
                            }
                          },
                          {
                            "end": "2018-08-31",
                            "user": {
                              "total": 1563,
                              "absolute": 1185,
                              "percentage": 0.76
                            },
                            "begin": "2018-08-01",
                            "revenue": {
                              "total": 569521,
                              "absolute": 544633,
                              "percentage": 0.96,
                              "absolute_formatted": "$5,446",
                              "total_formatted": "$569,521"
                            }
                          },
                          {
                            "end": "2018-09-30",
                            "user": {
                              "total": 1563,
                              "absolute": 1097,
                              "percentage": 0.7
                            },
                            "begin": "2018-09-01",
                            "revenue": {
                              "total": 569521,
                              "absolute": 555553,
                              "percentage": 0.98,
                              "absolute_formatted": "$5,555",
                              "total_formatted": "$569,521"
                            }
[...]
