openapi: 3.0.3
info:
  title: Baseten management API
  description: REST API for management of Baseten resources
  version: 1.0.0
servers:
  - url: https://api.baseten.co
tags:
  - name: Deployment
  - name: Model
  - name: AutoscalingSetting
  - name: Secret
paths:
  /v1/secrets:
    get:
      tags:
        - Secret
      summary: Gets all secrets
      operationId: Secret_getAllSecrets
      responses:
        '200':
          description: A list of Baseten secrets.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecretsV1'
      x-codeSamples:
        - lang: bash
          source: |
            curl --request GET \ 
            --url https://api.baseten.co/v1/secrets \ 
            --header "Authorization: Api-Key $BASETEN_API_KEY" \ 
        - lang: python
          source: |-
            import requests
            import os
            API_KEY = os.environ.get("BASETEN_API_KEY", "<YOUR_API_KEY>")
            url = "https://api.baseten.co/v1/secrets"

            headers = {"Authorization": f"Api-Key {API_KEY}"}

            response = requests.request(
                "GET",
                url,
                headers=headers,
                data={}
            )

            print(response.text)
    post:
      tags:
        - Secret
      summary: Upserts a secret
      operationId: Secret_upsertNewSecret
      description: >-
        Creates a new secret or updates an existing secret if one with the
        provided name already exists. The name and creation date of the created
        or updated secret is returned.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertSecretRequestV1'
        required: true
      responses:
        '200':
          description: >-
            A Baseten secret. Note that we do not support retrieving secret
            values.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecretV1'
      x-codeSamples:
        - lang: bash
          source: |-
            curl --request POST \ 
            --url https://api.baseten.co/v1/secrets \ 
            --header "Authorization: Api-Key $BASETEN_API_KEY" \ 
            --data '{
              "name": "my_secret",
              "value": "my_secret_value"
            }'
        - lang: python
          source: |-
            import requests
            import os
            API_KEY = os.environ.get("BASETEN_API_KEY", "<YOUR_API_KEY>")
            url = "https://api.baseten.co/v1/secrets"

            headers = {"Authorization": f"Api-Key {API_KEY}"}

            response = requests.request(
                "POST",
                url,
                headers=headers,
                data={'name': 'my_secret', 'value': 'my_secret_value'}
            )

            print(response.text)
  /v1/models:
    get:
      tags:
        - Model
      summary: Gets all models
      operationId: Model_getAllModels
      responses:
        '200':
          description: A list of models.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelsV1'
      x-codeSamples:
        - lang: bash
          source: |
            curl --request GET \ 
            --url https://api.baseten.co/v1/models \ 
            --header "Authorization: Api-Key $BASETEN_API_KEY" \ 
        - lang: python
          source: |-
            import requests
            import os
            API_KEY = os.environ.get("BASETEN_API_KEY", "<YOUR_API_KEY>")
            url = "https://api.baseten.co/v1/models"

            headers = {"Authorization": f"Api-Key {API_KEY}"}

            response = requests.request(
                "GET",
                url,
                headers=headers,
                data={}
            )

            print(response.text)
  /v1/models/{model_id}:
    parameters:
      - $ref: '#/components/parameters/model_id'
    get:
      tags:
        - Model
      summary: Gets a model by ID
      operationId: Model_getModelById
      responses:
        '200':
          description: A model.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelV1'
      x-codeSamples:
        - lang: bash
          source: |
            curl --request GET \ 
            --url https://api.baseten.co/v1/models/{model_id} \ 
            --header "Authorization: Api-Key $BASETEN_API_KEY" \ 
        - lang: python
          source: |-
            import requests
            import os
            API_KEY = os.environ.get("BASETEN_API_KEY", "<YOUR_API_KEY>")
            url = "https://api.baseten.co/v1/models/{model_id}"

            headers = {"Authorization": f"Api-Key {API_KEY}"}

            response = requests.request(
                "GET",
                url,
                headers=headers,
                data={}
            )

            print(response.text)
  /v1/models/{model_id}/deployments:
    parameters:
      - $ref: '#/components/parameters/model_id'
    get:
      tags:
        - Model
      summary: Gets all deployments of a model
      operationId: Model_getAllDeployments
      responses:
        '200':
          description: A list of deployments of a model.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentsV1'
      x-codeSamples:
        - lang: bash
          source: |
            curl --request GET \ 
            --url https://api.baseten.co/v1/models/{model_id}/deployments \ 
            --header "Authorization: Api-Key $BASETEN_API_KEY" \ 
        - lang: python
          source: |-
            import requests
            import os
            API_KEY = os.environ.get("BASETEN_API_KEY", "<YOUR_API_KEY>")
            url = "https://api.baseten.co/v1/models/{model_id}/deployments"

            headers = {"Authorization": f"Api-Key {API_KEY}"}

            response = requests.request(
                "GET",
                url,
                headers=headers,
                data={}
            )

            print(response.text)
  /v1/models/{model_id}/deployments/development:
    parameters:
      - $ref: '#/components/parameters/model_id'
    get:
      tags:
        - Deployment
      summary: Gets a model's development deployment
      operationId: Deployment_getDevelopmentDetails
      description: Gets a model's development deployment and returns the deployment.
      responses:
        '200':
          description: A deployment of a model.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentV1'
      x-codeSamples:
        - lang: bash
          source: >
            curl --request GET \ 

            --url
            https://api.baseten.co/v1/models/{model_id}/deployments/development
            \ 

            --header "Authorization: Api-Key $BASETEN_API_KEY" \ 
        - lang: python
          source: >-
            import requests

            import os

            API_KEY = os.environ.get("BASETEN_API_KEY", "<YOUR_API_KEY>")

            url =
            "https://api.baseten.co/v1/models/{model_id}/deployments/development"


            headers = {"Authorization": f"Api-Key {API_KEY}"}


            response = requests.request(
                "GET",
                url,
                headers=headers,
                data={}
            )


            print(response.text)
  /v1/models/{model_id}/deployments/production:
    parameters:
      - $ref: '#/components/parameters/model_id'
    get:
      tags:
        - Deployment
      summary: Gets a model's production deployment
      operationId: Deployment_getProductionDetails
      description: Gets a model's production deployment and returns the deployment.
      responses:
        '200':
          description: A deployment of a model.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentV1'
      x-codeSamples:
        - lang: bash
          source: >
            curl --request GET \ 

            --url
            https://api.baseten.co/v1/models/{model_id}/deployments/production
            \ 

            --header "Authorization: Api-Key $BASETEN_API_KEY" \ 
        - lang: python
          source: >-
            import requests

            import os

            API_KEY = os.environ.get("BASETEN_API_KEY", "<YOUR_API_KEY>")

            url =
            "https://api.baseten.co/v1/models/{model_id}/deployments/production"


            headers = {"Authorization": f"Api-Key {API_KEY}"}


            response = requests.request(
                "GET",
                url,
                headers=headers,
                data={}
            )


            print(response.text)
  /v1/models/{model_id}/deployments/{deployment_id}:
    parameters:
      - $ref: '#/components/parameters/model_id'
      - $ref: '#/components/parameters/deployment_id'
    get:
      tags:
        - Deployment
      summary: Gets a model's deployment by id
      operationId: Deployment_detailsGet
      description: Gets a model's deployment by id and returns the deployment.
      responses:
        '200':
          description: A deployment of a model.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentV1'
      x-codeSamples:
        - lang: bash
          source: >
            curl --request GET \ 

            --url
            https://api.baseten.co/v1/models/{model_id}/deployments/{deployment_id}
            \ 

            --header "Authorization: Api-Key $BASETEN_API_KEY" \ 
        - lang: python
          source: >-
            import requests

            import os

            API_KEY = os.environ.get("BASETEN_API_KEY", "<YOUR_API_KEY>")

            url =
            "https://api.baseten.co/v1/models/{model_id}/deployments/{deployment_id}"


            headers = {"Authorization": f"Api-Key {API_KEY}"}


            response = requests.request(
                "GET",
                url,
                headers=headers,
                data={}
            )


            print(response.text)
  /v1/models/{model_id}/deployments/development/autoscaling_settings:
    parameters:
      - $ref: '#/components/parameters/model_id'
    patch:
      tags:
        - AutoscalingSetting
      summary: Updates a development deployment's autoscaling settings
      operationId: AutoscalingSetting_updateDevelopmentSetting
      description: >-
        Updates a development deployment's autoscaling settings and returns the
        update status.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAutoscalingSettingsV1'
        required: true
      responses:
        '200':
          description: The response to a request to update autoscaling settings.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateAutoscalingSettingsResponseV1'
      x-codeSamples:
        - lang: bash
          source: >-
            curl --request PATCH \ 

            --url
            https://api.baseten.co/v1/models/{model_id}/deployments/development/autoscaling_settings
            \ 

            --header "Authorization: Api-Key $BASETEN_API_KEY" \ 

            --data '{
              "min_replica": 0,
              "max_replica": 7,
              "autoscaling_window": 600,
              "scale_down_delay": 120,
              "concurrency_target": 2
            }'
        - lang: python
          source: >-
            import requests

            import os

            API_KEY = os.environ.get("BASETEN_API_KEY", "<YOUR_API_KEY>")

            url =
            "https://api.baseten.co/v1/models/{model_id}/deployments/development/autoscaling_settings"


            headers = {"Authorization": f"Api-Key {API_KEY}"}


            response = requests.request(
                "PATCH",
                url,
                headers=headers,
                data={'min_replica': 0, 'max_replica': 7, 'autoscaling_window': 600, 'scale_down_delay': 120, 'concurrency_target': 2}
            )


            print(response.text)
  /v1/models/{model_id}/deployments/production/autoscaling_settings:
    parameters:
      - $ref: '#/components/parameters/model_id'
    patch:
      tags:
        - AutoscalingSetting
      summary: Updates a production deployment's autoscaling settings
      operationId: AutoscalingSetting_updateStatus
      description: >-
        Updates a production deployment's autoscaling settings and returns the
        update status.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAutoscalingSettingsV1'
        required: true
      responses:
        '200':
          description: The response to a request to update autoscaling settings.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateAutoscalingSettingsResponseV1'
      x-codeSamples:
        - lang: bash
          source: >-
            curl --request PATCH \ 

            --url
            https://api.baseten.co/v1/models/{model_id}/deployments/production/autoscaling_settings
            \ 

            --header "Authorization: Api-Key $BASETEN_API_KEY" \ 

            --data '{
              "min_replica": 0,
              "max_replica": 7,
              "autoscaling_window": 600,
              "scale_down_delay": 120,
              "concurrency_target": 2
            }'
        - lang: python
          source: >-
            import requests

            import os

            API_KEY = os.environ.get("BASETEN_API_KEY", "<YOUR_API_KEY>")

            url =
            "https://api.baseten.co/v1/models/{model_id}/deployments/production/autoscaling_settings"


            headers = {"Authorization": f"Api-Key {API_KEY}"}


            response = requests.request(
                "PATCH",
                url,
                headers=headers,
                data={'min_replica': 0, 'max_replica': 7, 'autoscaling_window': 600, 'scale_down_delay': 120, 'concurrency_target': 2}
            )


            print(response.text)
  /v1/models/{model_id}/deployments/{deployment_id}/autoscaling_settings:
    parameters:
      - $ref: '#/components/parameters/model_id'
      - $ref: '#/components/parameters/deployment_id'
    patch:
      tags:
        - AutoscalingSetting
      summary: Updates a deployment's autoscaling settings
      operationId: AutoscalingSetting_updateDeploymentSettings
      description: >-
        Updates a deployment's autoscaling settings and returns the update
        status.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAutoscalingSettingsV1'
        required: true
      responses:
        '200':
          description: The response to a request to update autoscaling settings.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateAutoscalingSettingsResponseV1'
      x-codeSamples:
        - lang: bash
          source: >-
            curl --request PATCH \ 

            --url
            https://api.baseten.co/v1/models/{model_id}/deployments/{deployment_id}/autoscaling_settings
            \ 

            --header "Authorization: Api-Key $BASETEN_API_KEY" \ 

            --data '{
              "min_replica": 0,
              "max_replica": 7,
              "autoscaling_window": 600,
              "scale_down_delay": 120,
              "concurrency_target": 2
            }'
        - lang: python
          source: >-
            import requests

            import os

            API_KEY = os.environ.get("BASETEN_API_KEY", "<YOUR_API_KEY>")

            url =
            "https://api.baseten.co/v1/models/{model_id}/deployments/{deployment_id}/autoscaling_settings"


            headers = {"Authorization": f"Api-Key {API_KEY}"}


            response = requests.request(
                "PATCH",
                url,
                headers=headers,
                data={'min_replica': 0, 'max_replica': 7, 'autoscaling_window': 600, 'scale_down_delay': 120, 'concurrency_target': 2}
            )


            print(response.text)
  /v1/models/{model_id}/deployments/development/promote:
    parameters:
      - $ref: '#/components/parameters/model_id'
    post:
      tags:
        - Model
      summary: Promotes a development deployment to production
      operationId: Model_deployPromote
      description: >-
        Creates a new production deployment from the development deployment, the
        currently building deployment is returned.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PromoteRequestV1'
        required: true
      responses:
        '200':
          description: A deployment of a model.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentV1'
      x-codeSamples:
        - lang: bash
          source: >-
            curl --request POST \ 

            --url
            https://api.baseten.co/v1/models/{model_id}/deployments/development/promote
            \ 

            --header "Authorization: Api-Key $BASETEN_API_KEY" \ 

            --data '{
              "scale_down_previous_production": true
            }'
        - lang: python
          source: >-
            import requests

            import os

            API_KEY = os.environ.get("BASETEN_API_KEY", "<YOUR_API_KEY>")

            url =
            "https://api.baseten.co/v1/models/{model_id}/deployments/development/promote"


            headers = {"Authorization": f"Api-Key {API_KEY}"}


            response = requests.request(
                "POST",
                url,
                headers=headers,
                data={'scale_down_previous_production': True}
            )


            print(response.text)
  /v1/models/{model_id}/deployments/{deployment_id}/promote:
    parameters:
      - $ref: '#/components/parameters/model_id'
      - $ref: '#/components/parameters/deployment_id'
    post:
      tags:
        - Model
      summary: Promotes a deployment to production
      operationId: Model_deploymentPromote
      description: >-
        Promotes an existing deployment to production and returns the same
        deployment.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PromoteRequestV1'
        required: true
      responses:
        '200':
          description: A deployment of a model.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentV1'
      x-codeSamples:
        - lang: bash
          source: >-
            curl --request POST \ 

            --url
            https://api.baseten.co/v1/models/{model_id}/deployments/{deployment_id}/promote
            \ 

            --header "Authorization: Api-Key $BASETEN_API_KEY" \ 

            --data '{
              "scale_down_previous_production": true
            }'
        - lang: python
          source: >-
            import requests

            import os

            API_KEY = os.environ.get("BASETEN_API_KEY", "<YOUR_API_KEY>")

            url =
            "https://api.baseten.co/v1/models/{model_id}/deployments/{deployment_id}/promote"


            headers = {"Authorization": f"Api-Key {API_KEY}"}


            response = requests.request(
                "POST",
                url,
                headers=headers,
                data={'scale_down_previous_production': True}
            )


            print(response.text)
  /v1/models/{model_id}/deployments/development/activate:
    parameters:
      - $ref: '#/components/parameters/model_id'
    post:
      tags:
        - Deployment
      summary: Activates a development deployment
      operationId: Deployment_activateDevelopmentDeployment
      description: >-
        Activates an inactive development deployment and returns the activation
        status.
      responses:
        '200':
          description: The response to a request to activate a deployment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivateResponseV1'
      x-codeSamples:
        - lang: bash
          source: >
            curl --request POST \ 

            --url
            https://api.baseten.co/v1/models/{model_id}/deployments/development/activate
            \ 

            --header "Authorization: Api-Key $BASETEN_API_KEY" \ 
        - lang: python
          source: >-
            import requests

            import os

            API_KEY = os.environ.get("BASETEN_API_KEY", "<YOUR_API_KEY>")

            url =
            "https://api.baseten.co/v1/models/{model_id}/deployments/development/activate"


            headers = {"Authorization": f"Api-Key {API_KEY}"}


            response = requests.request(
                "POST",
                url,
                headers=headers,
                data={}
            )


            print(response.text)
  /v1/models/{model_id}/deployments/production/activate:
    parameters:
      - $ref: '#/components/parameters/model_id'
    post:
      tags:
        - Deployment
      summary: Activates a production deployment
      operationId: Deployment_activateProduction
      description: >-
        Activates an inactive production deployment and returns the activation
        status.
      responses:
        '200':
          description: The response to a request to activate a deployment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivateResponseV1'
      x-codeSamples:
        - lang: bash
          source: >
            curl --request POST \ 

            --url
            https://api.baseten.co/v1/models/{model_id}/deployments/production/activate
            \ 

            --header "Authorization: Api-Key $BASETEN_API_KEY" \ 
        - lang: python
          source: >-
            import requests

            import os

            API_KEY = os.environ.get("BASETEN_API_KEY", "<YOUR_API_KEY>")

            url =
            "https://api.baseten.co/v1/models/{model_id}/deployments/production/activate"


            headers = {"Authorization": f"Api-Key {API_KEY}"}


            response = requests.request(
                "POST",
                url,
                headers=headers,
                data={}
            )


            print(response.text)
  /v1/models/{model_id}/deployments/{deployment_id}/activate:
    parameters:
      - $ref: '#/components/parameters/model_id'
      - $ref: '#/components/parameters/deployment_id'
    post:
      tags:
        - Deployment
      summary: Activates a deployment
      operationId: Deployment_activateStatus
      description: Activates an inactive deployment and returns the activation status.
      responses:
        '200':
          description: The response to a request to activate a deployment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivateResponseV1'
      x-codeSamples:
        - lang: bash
          source: >
            curl --request POST \ 

            --url
            https://api.baseten.co/v1/models/{model_id}/deployments/{deployment_id}/activate
            \ 

            --header "Authorization: Api-Key $BASETEN_API_KEY" \ 
        - lang: python
          source: >-
            import requests

            import os

            API_KEY = os.environ.get("BASETEN_API_KEY", "<YOUR_API_KEY>")

            url =
            "https://api.baseten.co/v1/models/{model_id}/deployments/{deployment_id}/activate"


            headers = {"Authorization": f"Api-Key {API_KEY}"}


            response = requests.request(
                "POST",
                url,
                headers=headers,
                data={}
            )


            print(response.text)
  /v1/models/{model_id}/deployments/development/deactivate:
    parameters:
      - $ref: '#/components/parameters/model_id'
    post:
      tags:
        - Deployment
      summary: Deactivates a development deployment
      operationId: Deployment_deactivateDevelopment
      description: >-
        Deactivates a development deployment and returns the deactivation
        status.
      responses:
        '200':
          description: The response to a request to deactivate a deployment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeactivateResponseV1'
      x-codeSamples:
        - lang: bash
          source: >
            curl --request POST \ 

            --url
            https://api.baseten.co/v1/models/{model_id}/deployments/development/deactivate
            \ 

            --header "Authorization: Api-Key $BASETEN_API_KEY" \ 
        - lang: python
          source: >-
            import requests

            import os

            API_KEY = os.environ.get("BASETEN_API_KEY", "<YOUR_API_KEY>")

            url =
            "https://api.baseten.co/v1/models/{model_id}/deployments/development/deactivate"


            headers = {"Authorization": f"Api-Key {API_KEY}"}


            response = requests.request(
                "POST",
                url,
                headers=headers,
                data={}
            )


            print(response.text)
  /v1/models/{model_id}/deployments/production/deactivate:
    parameters:
      - $ref: '#/components/parameters/model_id'
    post:
      tags:
        - Deployment
      summary: Deactivates a production deployment
      operationId: Deployment_deactivateProductionDeployment
      description: Deactivates a production deployment and returns the deactivation status.
      responses:
        '200':
          description: The response to a request to deactivate a deployment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeactivateResponseV1'
      x-codeSamples:
        - lang: bash
          source: >
            curl --request POST \ 

            --url
            https://api.baseten.co/v1/models/{model_id}/deployments/production/deactivate
            \ 

            --header "Authorization: Api-Key $BASETEN_API_KEY" \ 
        - lang: python
          source: >-
            import requests

            import os

            API_KEY = os.environ.get("BASETEN_API_KEY", "<YOUR_API_KEY>")

            url =
            "https://api.baseten.co/v1/models/{model_id}/deployments/production/deactivate"


            headers = {"Authorization": f"Api-Key {API_KEY}"}


            response = requests.request(
                "POST",
                url,
                headers=headers,
                data={}
            )


            print(response.text)
  /v1/models/{model_id}/deployments/{deployment_id}/deactivate:
    parameters:
      - $ref: '#/components/parameters/model_id'
      - $ref: '#/components/parameters/deployment_id'
    post:
      tags:
        - Deployment
      summary: Deactivates a deployment
      operationId: Deployment_deactivateDeploymentStatus
      description: Deactivates a deployment and returns the deactivation status.
      responses:
        '200':
          description: The response to a request to deactivate a deployment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeactivateResponseV1'
      x-codeSamples:
        - lang: bash
          source: >
            curl --request POST \ 

            --url
            https://api.baseten.co/v1/models/{model_id}/deployments/{deployment_id}/deactivate
            \ 

            --header "Authorization: Api-Key $BASETEN_API_KEY" \ 
        - lang: python
          source: >-
            import requests

            import os

            API_KEY = os.environ.get("BASETEN_API_KEY", "<YOUR_API_KEY>")

            url =
            "https://api.baseten.co/v1/models/{model_id}/deployments/{deployment_id}/deactivate"


            headers = {"Authorization": f"Api-Key {API_KEY}"}


            response = requests.request(
                "POST",
                url,
                headers=headers,
                data={}
            )


            print(response.text)
components:
  parameters:
    model_id:
      schema:
        type: string
      name: model_id
      in: path
      required: true
    deployment_id:
      schema:
        type: string
      name: deployment_id
      in: path
      required: true
  schemas:
    SecretV1:
      title: SecretV1
      description: A Baseten secret. Note that we do not support retrieving secret values.
      properties:
        created_at:
          title: Created At
          description: Time the secret was created in ISO 8601 format
          format: date-time
          type: string
        name:
          title: Name
          description: Name of the secret
          type: string
      required:
        - created_at
        - name
      type: object
    SecretsV1:
      title: SecretsV1
      description: A list of Baseten secrets.
      properties:
        secrets:
          title: Secrets
          items:
            $ref: '#/components/schemas/SecretV1'
          type: array
      required:
        - secrets
      type: object
    UpsertSecretRequestV1:
      title: UpsertSecretRequestV1
      description: A request to create or update a Baseten secret by name.
      properties:
        name:
          title: Name
          description: Name of the new or existing secret
          type: string
          example: my_secret
          x-examples:
            - my_secret
        value:
          title: Value
          description: Value of the secret
          type: string
          example: my_secret_value
          x-examples:
            - my_secret_value
      required:
        - name
        - value
      type: object
    ModelV1:
      title: ModelV1
      description: A model.
      properties:
        id:
          title: Id
          description: Unique identifier of the model
          type: string
        created_at:
          title: Created At
          description: Time the model was created in ISO 8601 format
          format: date-time
          type: string
        name:
          title: Name
          description: Name of the model
          type: string
        deployments_count:
          title: Deployments Count
          description: Number of deployments of the model
          type: integer
        production_deployment_id:
          title: Production Deployment Id
          description: Unique identifier of the production deployment of the model
          type: string
          nullable: true
        development_deployment_id:
          title: Development Deployment Id
          description: Unique identifier of the development deployment of the model
          type: string
          nullable: true
        instance_type_name:
          title: Instance Type Name
          description: Name of the instance type the model is deployed on
          type: string
      required:
        - id
        - created_at
        - name
        - deployments_count
        - production_deployment_id
        - development_deployment_id
        - instance_type_name
      type: object
    ModelsV1:
      title: ModelsV1
      description: A list of models.
      properties:
        models:
          title: Models
          items:
            $ref: '#/components/schemas/ModelV1'
          type: array
      required:
        - models
      type: object
    AutoscalingSettingsV1:
      title: AutoscalingSettingsV1
      description: Autoscaling settings for a deployment.
      properties:
        min_replica:
          title: Min Replica
          description: Minimum number of replicas
          type: integer
        max_replica:
          title: Max Replica
          description: Maximum number of replicas
          type: integer
        autoscaling_window:
          title: Autoscaling Window
          description: Timeframe of traffic considered for autoscaling decisions
          type: integer
          nullable: true
        scale_down_delay:
          title: Scale Down Delay
          description: Waiting period before scaling down any active replica
          type: integer
          nullable: true
        concurrency_target:
          title: Concurrency Target
          description: Number of requests per replica before scaling up
          type: integer
      required:
        - min_replica
        - max_replica
        - autoscaling_window
        - scale_down_delay
        - concurrency_target
      type: object
    DeploymentStatusV1:
      title: DeploymentStatusV1
      description: The status of a deployment.
      enum:
        - BUILDING
        - DEPLOYING
        - DEPLOY_FAILED
        - LOADING_MODEL
        - ACTIVE
        - UNHEALTHY
        - BUILD_FAILED
        - BUILD_STOPPED
        - DEACTIVATING
        - INACTIVE
        - FAILED
        - UPDATING
        - SCALED_TO_ZERO
        - WAKING_UP
      type: string
    DeploymentV1:
      title: DeploymentV1
      description: A deployment of a model.
      properties:
        id:
          title: Id
          description: Unique identifier of the deployment
          type: string
        created_at:
          title: Created At
          description: Time the deployment was created in ISO 8601 format
          format: date-time
          type: string
        name:
          title: Name
          description: Name of the deployment
          type: string
        model_id:
          title: Model Id
          description: Unique identifier of the model
          type: string
        is_production:
          title: Is Production
          description: Whether the deployment is the production deployment of the model
          type: boolean
        is_development:
          title: Is Development
          description: Whether the deployment is the development deployment of the model
          type: boolean
        status:
          $ref: '#/components/schemas/DeploymentStatusV1'
        active_replica_count:
          title: Active Replica Count
          description: Number of active replicas
          type: integer
        autoscaling_settings:
          $ref: '#/components/schemas/AutoscalingSettingsV1'
      required:
        - id
        - created_at
        - name
        - model_id
        - is_production
        - is_development
        - status
        - active_replica_count
        - autoscaling_settings
      type: object
      x-konfig-properties:
        status:
          description: Status of the deployment
        autoscaling_settings:
          description: Autoscaling settings for the deployment
    DeploymentsV1:
      title: DeploymentsV1
      description: A list of deployments of a model.
      properties:
        deployments:
          title: Deployments
          description: A list of deployments of a model
          items:
            $ref: '#/components/schemas/DeploymentV1'
          type: array
      required:
        - deployments
      type: object
    UpdateAutoscalingSettingsV1:
      title: UpdateAutoscalingSettingsV1
      description: >-
        A request to update autoscaling settings for a deployment. All fields
        are optional, and we only update ones passed in.
      properties:
        min_replica:
          title: Min Replica
          description: Minimum number of replicas
          default: null
          type: integer
          nullable: true
          example: 0
          x-examples:
            - 0
        max_replica:
          title: Max Replica
          description: Maximum number of replicas
          default: null
          type: integer
          nullable: true
          example: 7
          x-examples:
            - 7
        autoscaling_window:
          title: Autoscaling Window
          description: Timeframe of traffic considered for autoscaling decisions
          default: null
          type: integer
          nullable: true
          example: 600
          x-examples:
            - 600
        scale_down_delay:
          title: Scale Down Delay
          description: Waiting period before scaling down any active replica
          default: null
          type: integer
          nullable: true
          example: 120
          x-examples:
            - 120
        concurrency_target:
          title: Concurrency Target
          description: Number of requests per replica before scaling up
          default: null
          type: integer
          nullable: true
          example: 2
          x-examples:
            - 2
      type: object
    UpdateAutoscalingSettingsStatusV1:
      title: UpdateAutoscalingSettingsStatusV1
      description: The status of a request to update autoscaling settings.
      enum:
        - ACCEPTED
        - QUEUED
        - UNCHANGED
      type: string
    UpdateAutoscalingSettingsResponseV1:
      title: UpdateAutoscalingSettingsResponseV1
      description: The response to a request to update autoscaling settings.
      properties:
        status:
          $ref: '#/components/schemas/UpdateAutoscalingSettingsStatusV1'
        message:
          title: Message
          description: >-
            A message describing the status of the request to update autoscaling
            settings
          type: string
      required:
        - status
        - message
      type: object
      x-konfig-properties:
        status:
          description: Status of the request to update autoscaling settings
    PromoteRequestV1:
      title: PromoteRequestV1
      description: A request to promote a deployment to production.
      properties:
        scale_down_previous_production:
          title: Scale Down Previous Production
          description: >-
            Whether to scale down the previous production deployment after
            promoting
          default: true
          type: boolean
          example: true
          x-examples:
            - true
      type: object
    ActivateResponseV1:
      title: ActivateResponseV1
      description: The response to a request to activate a deployment.
      properties:
        success:
          title: Success
          description: Whether the deployment was successfully activated
          default: true
          type: boolean
      type: object
    DeactivateResponseV1:
      title: DeactivateResponseV1
      description: The response to a request to deactivate a deployment.
      properties:
        success:
          title: Success
          description: Whether the deployment was successfully deactivated
          default: true
          type: boolean
      type: object
  securitySchemes:
    ApiKeyAuth:
      description: >-
        You must specify the scheme 'Api-Key' in the Authorization header. For
        example, `Authorization: Api-Key <Your_Api_Key>`
      type: apiKey
      in: header
      name: Authorization
security:
  - ApiKeyAuth: []
