openapi: 3.0.2
info:
  title: Baseten management API
  description: REST API for management of Baseten resources
  version: 1.0.0
servers:
  - url: https://api.baseten.co
tags:
  - name: Deployment
  - name: AutoscalingSetting
  - name: Secret
paths:
  /v1/secrets:
    get:
      tags:
        - Secret
      summary: Gets all secrets
      operationId: Secret_getAllSecrets
      responses:
        '200':
          description: A list of Baseten secrets.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecretsV1'
    post:
      tags:
        - Secret
      summary: Upserts a secret
      operationId: Secret_upsertNewSecret
      description: >-
        Creates a new secret or updates an existing secret if one with the
        provided name already exists. The name and creation date of the created
        or updated secret is returned.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertSecretRequestV1'
        required: true
      responses:
        '200':
          description: >-
            A Baseten secret. Note that we do not support retrieving secret
            values.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecretV1'
  /v1/models/{model_id}/deployments/development:
    parameters:
      - $ref: '#/components/parameters/model_id'
    get:
      tags:
        - Deployment
      summary: Gets a model's development deployment
      operationId: Deployment_getDevelopmentDetails
      description: Gets a model's development deployment and returns the deployment.
      responses:
        '200':
          description: A deployment of a model.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentV1'
  /v1/models/{model_id}/deployments/production:
    parameters:
      - $ref: '#/components/parameters/model_id'
    get:
      tags:
        - Deployment
      summary: Gets a model's production deployment
      operationId: Deployment_getProductionDetails
      description: Gets a model's production deployment and returns the deployment.
      responses:
        '200':
          description: A deployment of a model.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentV1'
  /v1/models/{model_id}/deployments/{deployment_id}:
    parameters:
      - $ref: '#/components/parameters/model_id'
      - $ref: '#/components/parameters/deployment_id'
    get:
      tags:
        - Deployment
      summary: Gets a model's deployment by id
      operationId: Deployment_detailsGet
      description: Gets a model's deployment by id and returns the deployment.
      responses:
        '200':
          description: A deployment of a model.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentV1'
  /v1/models/{model_id}/deployments/development/autoscaling_settings:
    parameters:
      - $ref: '#/components/parameters/model_id'
    patch:
      tags:
        - AutoscalingSetting
      summary: Updates a development deployment's autoscaling settings
      operationId: AutoscalingSetting_updateDevelopmentSetting
      description: >-
        Updates a development deployment's autoscaling settings and returns the
        update status.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAutoscalingSettingsV1'
        required: true
      responses:
        '200':
          description: The response to a request to update autoscaling settings.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateAutoscalingSettingsResponseV1'
  /v1/models/{model_id}/deployments/production/autoscaling_settings:
    parameters:
      - $ref: '#/components/parameters/model_id'
    patch:
      tags:
        - AutoscalingSetting
      summary: Updates a production deployment's autoscaling settings
      operationId: AutoscalingSetting_updateStatus
      description: >-
        Updates a production deployment's autoscaling settings and returns the
        update status.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAutoscalingSettingsV1'
        required: true
      responses:
        '200':
          description: The response to a request to update autoscaling settings.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateAutoscalingSettingsResponseV1'
  /v1/models/{model_id}/deployments/{deployment_id}/autoscaling_settings:
    parameters:
      - $ref: '#/components/parameters/model_id'
      - $ref: '#/components/parameters/deployment_id'
    patch:
      tags:
        - AutoscalingSetting
      summary: Updates a deployment's autoscaling settings
      operationId: AutoscalingSetting_updateDeploymentSettings
      description: >-
        Updates a deployment's autoscaling settings and returns the update
        status.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAutoscalingSettingsV1'
        required: true
      responses:
        '200':
          description: The response to a request to update autoscaling settings.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateAutoscalingSettingsResponseV1'
components:
  parameters:
    model_id:
      schema:
        type: string
      name: model_id
      in: path
      required: true
    deployment_id:
      schema:
        type: string
      name: deployment_id
      in: path
      required: true
  schemas:
    SecretV1:
      title: SecretV1
      description: A Baseten secret. Note that we do not support retrieving secret values.
      properties:
        created:
          title: Created
          description: UTC time the secret was created
          format: date-time
          type: string
        name:
          title: Name
          description: Name of the secret
          type: string
      required:
        - created
        - name
      type: object
    SecretsV1:
      title: SecretsV1
      description: A list of Baseten secrets.
      properties:
        secrets:
          title: Secrets
          items:
            $ref: '#/components/schemas/SecretV1'
          type: array
      required:
        - secrets
      type: object
    UpsertSecretRequestV1:
      title: UpsertSecretRequestV1
      description: A request to create or update a Baseten secret by name.
      properties:
        name:
          title: Name
          description: Name of the new or existing secret
          type: string
        value:
          title: Value
          description: Value of the secret
          type: string
      required:
        - name
        - value
      type: object
    AutoscalingSettingsV1:
      title: AutoscalingSettingsV1
      description: Autoscaling settings for a deployment.
      properties:
        min_replica:
          title: Min Replica
          description: Minimum number of replicas
          type: integer
        max_replica:
          title: Max Replica
          description: Maximum number of replicas
          type: integer
        autoscaling_window:
          title: Autoscaling Window
          description: Timeframe of traffic considered for autoscaling decisions
          type: integer
        scale_down_delay:
          title: Scale Down Delay
          description: Waiting period before scaling down any active replica
          type: integer
        concurrency_target:
          title: Concurrency Target
          description: Number of requests per replica before scaling up
          type: integer
      required:
        - min_replica
        - max_replica
        - autoscaling_window
        - scale_down_delay
        - concurrency_target
      type: object
    DeploymentStatusV1:
      title: DeploymentStatusV1
      description: The status of a deployment.
      enum:
        - BUILDING
        - DEPLOYING
        - DEPLOY_FAILED
        - LOADING_MODEL
        - ACTIVE
        - UNHEALTHY
        - BUILD_FAILED
        - BUILD_STOPPED
        - DEACTIVATING
        - INACTIVE
        - FAILED
        - UPDATING
        - SCALED_TO_ZERO
        - WAKING_UP
      type: string
    DeploymentV1:
      title: DeploymentV1
      description: A deployment of a model.
      properties:
        id:
          title: Id
          description: Unique identifier of the deployment
          type: string
        created_at:
          title: Created At
          description: UTC time the deployment was created
          format: date-time
          type: string
        name:
          title: Name
          description: Name of the deployment
          type: string
        model_id:
          title: Model Id
          description: Unique identifier of the model
          type: string
        is_production:
          title: Is Production
          description: Whether the deployment is the production deployment of the model
          type: boolean
        is_development:
          title: Is Development
          description: Whether the deployment is the development deployment of the model
          type: boolean
        status:
          $ref: '#/components/schemas/DeploymentStatusV1'
        active_replicas:
          title: Active Replicas
          description: Number of active replicas
          type: integer
        autoscaling_settings:
          $ref: '#/components/schemas/AutoscalingSettingsV1'
      required:
        - id
        - created_at
        - name
        - model_id
        - is_production
        - is_development
        - status
        - active_replicas
        - autoscaling_settings
      type: object
      x-konfig-properties:
        status:
          description: Status of the deployment
        autoscaling_settings:
          description: Autoscaling settings for the deployment
    UpdateAutoscalingSettingsV1:
      title: UpdateAutoscalingSettingsV1
      description: >-
        A request to update autoscaling settings for a deployment. All fields
        are optional, and we only update ones passed in.
      properties:
        min_replica:
          title: Min Replica
          description: Minimum number of replicas
          default: null
          type: integer
        max_replica:
          title: Max Replica
          description: Maximum number of replicas
          default: null
          type: integer
        autoscaling_window:
          title: Autoscaling Window
          description: Timeframe of traffic considered for autoscaling decisions
          default: null
          type: integer
        scale_down_delay:
          title: Scale Down Delay
          description: Waiting period before scaling down any active replica
          default: null
          type: integer
        concurrency_target:
          title: Concurrency Target
          description: Number of requests per replica before scaling up
          default: null
          type: integer
      type: object
    UpdateAutoscalingSettingsStatusV1:
      title: UpdateAutoscalingSettingsStatusV1
      description: The status of a request to update autoscaling settings.
      enum:
        - ACCEPTED
        - QUEUED
        - UNCHANGED
      type: string
    UpdateAutoscalingSettingsResponseV1:
      title: UpdateAutoscalingSettingsResponseV1
      description: The response to a request to update autoscaling settings.
      properties:
        status:
          $ref: '#/components/schemas/UpdateAutoscalingSettingsStatusV1'
        message:
          title: Message
          description: >-
            A message describing the status of the request to update autoscaling
            settings
          type: string
      required:
        - status
        - message
      type: object
      x-konfig-properties:
        status:
          description: Status of the request to update autoscaling settings
  securitySchemes:
    ApiKeyAuth:
      description: >-
        You must use the specify the scheme 'Api-Key' in the Authorization
        header. For example, `Authorization: Api-Key <Your_Api_Key>`
      type: apiKey
      in: header
      name: Authorization
security:
  - ApiKeyAuth: []
