openapi: 3.0.2
info:
  title: history basic
  description: >-
    var Beamable = BeamContext.Default; - That one line of code is a gateway to
    everything you need to build custom server logic via microservices along
    with a world of LiveOps tools and live services to build games that players
    love.
  version: '1.0'
  contact:
    name: Beamable Support
    url: https://api.beamable.com
    email: support@beamable.com
  x-konfig-ignore:
    object-with-no-properties: true
servers:
  - url: https://api.beamable.com
tags:
  - name: Payment
  - name: Object
  - name: Account
  - name: Group
  - name: Leaderboard
  - name: Realm
  - name: Mail
  - name: Content
  - name: Tournament
  - name: Trial
  - name: Announcement
  - name: Cloudsaving
  - name: Product
  - name: Event
  - name: Game
  - name: Message
  - name: Notification
  - name: LegacyPvpDef
  - name: Entitlement
  - name: Shard
  - name: History
  - name: Promo
  - name: Session
  - name: Timer
  - name: Campaign
  - name: Authentication
  - name: Statistic
  - name: Template
  - name: SKU
  - name: Update
  - name: Plan
  - name: Friend
  - name: Block
  - name: Activity
  - name: Item
  - name: Currency
  - name: Audit
  - name: Price
  - name: Order
  - name: Registration
  - name: Subscription
  - name: LegacyEntitlementDef
paths:
  /basic/trials/admin/data:
    get:
      tags:
        - Trial
      operationId: Trial_adminDataGet
      security:
        - scope: []
          user: []
      parameters:
        - name: id
          in: query
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetS3DataResponse'
        '400':
          description: Bad Request
  /basic/trials/data:
    post:
      tags:
        - Trial
      operationId: Trial_postData
      security:
        - scope: []
          user: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UploadTrialDataRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SaveGameDataResponse'
        '400':
          description: Bad Request
    delete:
      tags:
        - Trial
      operationId: Trial_deleteData
      security:
        - scope: []
          user: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteTrialDataRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrialSuccessResponse'
        '400':
          description: Bad Request
  /basic/trials/pause:
    put:
      tags:
        - Trial
      operationId: Trial_pauseTrial
      security:
        - scope: []
          user: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PauseTrialRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrialSuccessResponse'
        '400':
          description: Bad Request
  /basic/trials/schedule:
    put:
      tags:
        - Trial
      operationId: Trial_schedulePut
      security:
        - scope: []
          user: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScheduleTrialRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrialSuccessResponse'
        '400':
          description: Bad Request
  /basic/trials/admin:
    get:
      tags:
        - Trial
      operationId: Trial_getAdminTrials
      security:
        - scope: []
          user: []
      parameters:
        - name: dbid
          in: query
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPlayerTrialsResponse'
        '400':
          description: Bad Request
  /basic/trials/start:
    put:
      tags:
        - Trial
      operationId: Trial_startTrialProcess
      security:
        - scope: []
          user: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StartTrialRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrialSuccessResponse'
        '400':
          description: Bad Request
  /basic/accounts/me/device:
    delete:
      tags:
        - Account
      operationId: Account_removeDevice
      security:
        - scope: []
          user: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteDevicesRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountPlayerView'
        '400':
          description: Bad Request
  /basic/accounts/me:
    get:
      tags:
        - Account
      operationId: Account_getUserInfo
      security:
        - scope: []
          user: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountPlayerView'
        '400':
          description: Bad Request
    put:
      tags:
        - Account
      operationId: Account_updateAccountInfo
      security:
        - scope: []
          user: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountUpdate'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountPlayerView'
        '400':
          description: Bad Request
  /basic/accounts/me/third-party:
    delete:
      tags:
        - Account
      operationId: Account_deleteThirdParty
      security:
        - scope: []
          user: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ThirdPartyAvailableRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountPlayerView'
        '400':
          description: Bad Request
  /basic/accounts/get-personally-identifiable-information:
    get:
      tags:
        - Account
      operationId: Account_getPersonallyIdentifiableInformation
      security:
        - scope: []
      parameters:
        - name: query
          in: query
          schema:
            type: string
          required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/AccountPersonallyIdentifiableInformationResponse
        '400':
          description: Bad Request
  /basic/accounts/search:
    get:
      tags:
        - Account
      operationId: Account_searchAccounts
      security:
        - scope: []
          user: []
      parameters:
        - name: query
          in: query
          schema:
            type: string
          required: true
        - name: page
          in: query
          schema:
            type: integer
            format: int32
          required: true
        - name: pagesize
          in: query
          schema:
            type: integer
            format: int32
          required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountSearchResponse'
        '400':
          description: Bad Request
  /basic/accounts/email-update/init:
    post:
      tags:
        - Mail
      operationId: Mail_updateEmailInit
      security:
        - scope: []
          user: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailUpdateRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        '400':
          description: Bad Request
  /basic/accounts/email-update/confirm:
    post:
      tags:
        - Mail
      operationId: Mail_updateEmailConfirmation
      security:
        - scope: []
          user: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailUpdateConfirmation'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        '400':
          description: Bad Request
  /basic/accounts/available/third-party:
    get:
      tags:
        - Account
      operationId: Account_checkThirdPartyAvailability
      security:
        - scope: []
      parameters:
        - name: thirdParty
          in: query
          schema:
            type: string
          required: true
        - name: token
          in: query
          schema:
            type: string
          required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountAvailableResponse'
        '400':
          description: Bad Request
  /basic/accounts/admin/admin-user:
    post:
      tags:
        - Account
      operationId: Account_createAdminUser
      security:
        - scope: []
          user: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddAccountRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountPortalView'
        '400':
          description: Bad Request
  /basic/accounts/register:
    post:
      tags:
        - Account
      operationId: Account_registerNewAccount
      security:
        - scope: []
          user: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountRegistration'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountPlayerView'
        '400':
          description: Bad Request
  /basic/accounts/admin/me:
    get:
      tags:
        - Account
      operationId: Account_getDetails
      security:
        - scope: []
          user: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountPortalView'
        '400':
          description: Bad Request
  /basic/accounts/password-update/init:
    post:
      tags:
        - Account
      operationId: Account_updatePasswordInit
      security:
        - scope: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PasswordUpdateRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        '400':
          description: Bad Request
  /basic/accounts/admin/admin-users:
    get:
      tags:
        - Account
      operationId: Account_getAdminUsers
      security:
        - scope: []
          user: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAdminsResponse'
        '400':
          description: Bad Request
  /basic/accounts/find:
    get:
      tags:
        - Account
      operationId: Account_findAccounts
      security:
        - scope: []
          user: []
      parameters:
        - name: query
          in: query
          schema:
            type: string
          required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        '400':
          description: Bad Request
  /basic/accounts/available/device-id:
    get:
      tags:
        - Account
      operationId: Account_checkAvailability
      security:
        - scope: []
      parameters:
        - name: deviceId
          in: query
          schema:
            type: string
          required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountAvailableResponse'
        '400':
          description: Bad Request
  /basic/accounts/available:
    get:
      tags:
        - Account
      operationId: Account_checkAvailability
      security:
        - scope: []
      parameters:
        - name: email
          in: query
          schema:
            type: string
          required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountAvailableResponse'
        '400':
          description: Bad Request
  /basic/accounts/password-update/confirm:
    post:
      tags:
        - Account
      operationId: Account_updatePasswordConfirmation
      security:
        - scope: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PasswordUpdateConfirmation'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        '400':
          description: Bad Request
  /object/accounts/{objectId}/admin/email:
    put:
      tags:
        - Mail
      operationId: Mail_updateAdminEmail
      security:
        - scope: []
          user: []
      parameters:
        - name: objectId
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailUpdateRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        '400':
          description: Bad Request
  /object/accounts/{objectId}/available-roles:
    get:
      tags:
        - Account
      operationId: Account_getObjectAvailableRoles
      security:
        - scope: []
      parameters:
        - name: objectId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailableRolesResponse'
        '400':
          description: Bad Request
  /object/accounts/{objectId}/role:
    put:
      tags:
        - Account
      operationId: Account_updateRole
      security:
        - scope: []
          user: []
      parameters:
        - name: objectId
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateRole'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        '400':
          description: Bad Request
    delete:
      tags:
        - Account
      operationId: Account_removeRole
      security:
        - scope: []
          user: []
      parameters:
        - name: objectId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        '400':
          description: Bad Request
  /object/accounts/{objectId}/admin/scope:
    put:
      tags:
        - Account
      operationId: Account_updateAdminScope
      security:
        - scope: []
          user: []
      parameters:
        - name: objectId
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateRole'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        '400':
          description: Bad Request
    delete:
      tags:
        - Account
      operationId: Account_deleteAdminScope
      security:
        - scope: []
          user: []
      parameters:
        - name: objectId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        '400':
          description: Bad Request
  /object/accounts/{objectId}/admin/third-party:
    put:
      tags:
        - Account
      operationId: Account_updateThirdPartyAdmin
      security:
        - scope: []
          user: []
      parameters:
        - name: objectId
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferThirdPartyAssociation'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        '400':
          description: Bad Request
    delete:
      tags:
        - Account
      operationId: Account_deleteThirdPartyAdmin
      security:
        - scope: []
          user: []
      parameters:
        - name: objectId
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteThirdPartyAssociation'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        '400':
          description: Bad Request
  /object/accounts/{objectId}/admin/forget:
    delete:
      tags:
        - Account
      operationId: Account_removeAdminForget
      security:
        - scope: []
          user: []
      parameters:
        - name: objectId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        '400':
          description: Bad Request
  /basic/announcements/search:
    get:
      tags:
        - Announcement
      operationId: Announcement_searchOperation
      security:
        - scope: []
          user: []
      parameters:
        - name: date
          in: query
          schema:
            type: string
          required: false
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnnouncementContentResponse'
        '400':
          description: Bad Request
  /basic/announcements/content:
    get:
      tags:
        - Content
      operationId: Content_getAnnouncementContent
      security:
        - scope: []
          user: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnnouncementContentResponse'
        '400':
          description: Bad Request
  /basic/announcements/list:
    get:
      tags:
        - Announcement
      operationId: Announcement_getAllAnnouncements
      security:
        - scope: []
          user: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnnouncementContentResponse'
        '400':
          description: Bad Request
  /object/announcements/{objectId}/read:
    put:
      tags:
        - Announcement
      operationId: Announcement_markAsRead
      security:
        - scope: []
      parameters:
        - name: objectId
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnnouncementRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
        '400':
          description: Bad Request
  /object/announcements/{objectId}/claim:
    post:
      tags:
        - Announcement
      operationId: Announcement_claimObjectAnnouncement
      security:
        - scope: []
      parameters:
        - name: objectId
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnnouncementRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
        '400':
          description: Bad Request
  /object/announcements/{objectId}/raw:
    get:
      tags:
        - Announcement
      operationId: Announcement_getObjectRaw
      security:
        - scope: []
          user: []
      parameters:
        - name: objectId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnnouncementRawResponse'
        '400':
          description: Bad Request
  /basic/auth/token:
    get:
      tags:
        - Authentication
      operationId: Authentication_getToken
      security:
        - scope: []
      parameters:
        - name: token
          in: query
          schema:
            type: string
          required: false
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Token'
        '400':
          description: Bad Request
    post:
      tags:
        - Authentication
      operationId: Authentication_requestToken
      security:
        - scope: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenRequestWrapper'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '400':
          description: Bad Request
  /object/calendars/{objectId}/claim:
    post:
      tags:
        - Object
      operationId: Object_claimCalendar
      security:
        - scope: []
      parameters:
        - name: objectId
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CalendarClaimRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
        '400':
          description: Bad Request
  /object/chatV2/{objectId}/rooms:
    get:
      tags:
        - Object
      operationId: Object_getChatRooms
      security:
        - scope: []
          user: []
      parameters:
        - name: objectId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRoomsResponse'
        '400':
          description: Bad Request
    post:
      tags:
        - Object
      operationId: Object_createChatRoom
      security:
        - scope: []
          user: []
      parameters:
        - name: objectId
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRoomRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateRoomResponse'
        '400':
          description: Bad Request
    delete:
      tags:
        - Object
      operationId: Object_deleteRoom
      security:
        - scope: []
          user: []
      parameters:
        - name: objectId
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LeaveRoomRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeaveRoomResponse'
        '400':
          description: Bad Request
  /object/chatV2/{objectId}/messages:
    post:
      tags:
        - Message
      operationId: Message_sendMessage
      security:
        - scope: []
          user: []
      parameters:
        - name: objectId
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendMessageRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendMessageResponse'
        '400':
          description: Bad Request
  /basic/cloudsaving/data/replace:
    post:
      tags:
        - Cloudsaving
      operationId: Cloudsaving_replaceData
      security:
        - scope: []
          user: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReplaceObjectsRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Manifest'
        '400':
          description: Bad Request
  /basic/cloudsaving/data:
    delete:
      tags:
        - Cloudsaving
      operationId: Cloudsaving_deleteData
      security:
        - scope: []
          user: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ObjectRequests'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        '400':
          description: Bad Request
  /basic/cloudsaving/data/downloadURL:
    post:
      tags:
        - Cloudsaving
      operationId: Cloudsaving_getDataDownloadUrl
      security:
        - scope: []
          user: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ObjectRequests'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/URLSResponse'
        '400':
          description: Bad Request
  /basic/cloudsaving/data/metadata:
    get:
      tags:
        - Cloudsaving
      operationId: Cloudsaving_getDataMetadata
      security:
        - scope: []
          user: []
      parameters:
        - name: request
          in: query
          schema:
            type: array
            items:
              description: >-
                WARNING: Missing items property in array schema. Missing items
                property has been filled with this AnyType schema.
          required: false
        - name: playerId
          in: query
          schema:
            type: integer
          required: false
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectsMetadataResponse'
        '400':
          description: Bad Request
  /basic/cloudsaving/data/move:
    put:
      tags:
        - Cloudsaving
      operationId: Cloudsaving_moveDataPut
      security:
        - scope: []
          user: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlayerBasicCloudDataRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Manifest'
        '400':
          description: Bad Request
  /basic/cloudsaving/data/uploadURLFromPortal:
    post:
      tags:
        - Cloudsaving
      operationId: Cloudsaving_uploadUrlFromPortal
      security:
        - scope: []
          user: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UploadRequestsFromPortal'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/URLSResponse'
        '400':
          description: Bad Request
  /basic/cloudsaving/data/commitManifest:
    put:
      tags:
        - Cloudsaving
      operationId: Cloudsaving_commitManifestPut
      security:
        - scope: []
          user: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UploadRequests'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Manifest'
        '400':
          description: Bad Request
  /basic/cloudsaving/data/uploadURL:
    post:
      tags:
        - Cloudsaving
      operationId: Cloudsaving_uploadDataUrl
      security:
        - scope: []
          user: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UploadRequests'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/URLSResponse'
        '400':
          description: Bad Request
  /basic/commerce/catalog:
    get:
      tags:
        - Product
      operationId: Product_getCatalog
      security:
        - scope: []
          user: []
      parameters:
        - name: version
          in: query
          schema:
            type: integer
          required: false
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCatalogResponse'
        '400':
          description: Bad Request
  /basic/commerce/skus:
    get:
      tags:
        - SKU
      operationId: Sku_listSkus
      security:
        - scope: []
      parameters:
        - name: version
          in: query
          schema:
            type: integer
          required: false
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSKUsResponse'
        '400':
          description: Bad Request
    post:
      tags:
        - SKU
      operationId: Sku_createSku
      security:
        - scope: []
          user: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SaveSKUsRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultResponse'
        '400':
          description: Bad Request
  /object/commerce/{objectId}/coupons/count:
    get:
      tags:
        - Object
      operationId: Object_getCommerceCouponCount
      security:
        - scope: []
      parameters:
        - name: objectId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTotalCouponResponse'
        '400':
          description: Bad Request
  /object/commerce/{objectId}/offersAdmin:
    get:
      tags:
        - Object
      operationId: Object_getOffersAdmin
      security:
        - scope: []
          user: []
      parameters:
        - name: language
          in: query
          schema:
            type: string
          required: false
        - name: time
          in: query
          schema:
            type: string
          required: false
        - name: stores
          in: query
          schema:
            type: string
          required: false
        - name: objectId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetActiveOffersResponse'
        '400':
          description: Bad Request
  /object/commerce/{objectId}/purchase:
    post:
      tags:
        - Object
      operationId: Object_purchaseItem
      security:
        - scope: []
          user: []
      parameters:
        - name: objectId
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PurchaseRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
        '400':
          description: Bad Request
    put:
      tags:
        - Object
      operationId: Object_purchaseById
      security:
        - scope: []
          user: []
      parameters:
        - name: objectId
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportPurchaseRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultResponse'
        '400':
          description: Bad Request
  /object/commerce/{objectId}/listings:
    get:
      tags:
        - Object
      operationId: Object_getCommerceListings
      security:
        - scope: []
          user: []
      parameters:
        - name: listing
          in: query
          schema:
            type: string
          required: false
        - name: store
          in: query
          schema:
            type: string
          required: false
        - name: time
          in: query
          schema:
            type: string
          required: false
        - name: objectId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActiveListingResponse'
        '400':
          description: Bad Request
  /object/commerce/{objectId}/status:
    delete:
      tags:
        - Object
      operationId: Object_deleteStatusById
      security:
        - scope: []
          user: []
      parameters:
        - name: objectId
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClearStatusRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
        '400':
          description: Bad Request
  /object/commerce/{objectId}/coupons:
    post:
      tags:
        - Object
      operationId: Object_createCommerceCoupons
      security:
        - scope: []
          user: []
      parameters:
        - name: objectId
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GiveCouponReq'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
        '400':
          description: Bad Request
  /object/commerce/{objectId}/stats/update:
    post:
      tags:
        - Object
      operationId: Object_updateStatObject
      security:
        - scope: []
          user: []
      parameters:
        - name: objectId
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StatSubscriptionNotification'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
        '400':
          description: Bad Request
  /object/commerce/{objectId}/offers:
    get:
      tags:
        - Object
      operationId: Object_getCommerceOffers
      security:
        - scope: []
          user: []
      parameters:
        - name: language
          in: query
          schema:
            type: string
          required: false
        - name: time
          in: query
          schema:
            type: string
          required: false
        - name: stores
          in: query
          schema:
            type: string
          required: false
        - name: objectId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetActiveOffersResponse'
        '400':
          description: Bad Request
  /basic/content/manifest/pull:
    post:
      tags:
        - Content
      operationId: Content_pullManifestData
      security:
        - scope: []
          user: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PullManifestRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Manifest'
        '400':
          description: Bad Request
  /basic/content/content:
    get:
      tags:
        - Content
      operationId: Content_getContentDetails
      security:
        - scope: []
          user: []
      parameters:
        - name: contentId
          in: query
          schema:
            type: string
          required: false
        - name: version
          in: query
          schema:
            type: string
          required: false
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentOrText'
        '400':
          description: Bad Request
  /basic/content/text:
    post:
      tags:
        - Content
      operationId: Content_submitTextContent
      security:
        - scope: []
          user: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SaveTextRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SaveTextResponse'
        '400':
          description: Bad Request
  /basic/content/manifest:
    get:
      tags:
        - Content
      operationId: Content_getManifestData
      security:
        - scope: []
          user: []
      parameters:
        - name: id
          in: query
          schema:
            type: string
          required: false
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Manifest'
        '400':
          description: Bad Request
    post:
      tags:
        - Content
      operationId: Content_createManifestData
      security:
        - scope: []
          user: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SaveManifestRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Manifest'
        '400':
          description: Bad Request
  /basic/content/manifest/public:
    get:
      tags:
        - Content
      operationId: Content_getPublicManifest
      security:
        - scope: []
      parameters:
        - name: id
          in: query
          schema:
            type: string
          required: false
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientManifest'
        '400':
          description: Bad Request
  /basic/content/manifest/private:
    get:
      tags:
        - Content
      operationId: Content_getPrivateManifest
      security:
        - scope: []
          user: []
      parameters:
        - name: id
          in: query
          schema:
            type: string
          required: false
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientManifest'
        '400':
          description: Bad Request
  /basic/content/manifest/checksum:
    get:
      tags:
        - Content
      operationId: Content_checkManifestChecksum
      security:
        - scope: []
      parameters:
        - name: id
          in: query
          schema:
            type: string
          required: false
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManifestChecksum'
        '400':
          description: Bad Request
  /basic/events/content:
    get:
      tags:
        - Content
      operationId: Content_getContentData
      security:
        - scope: []
          user: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventContentResponse'
        '400':
          description: Bad Request
  /basic/events/calendar:
    get:
      tags:
        - Event
      operationId: Event_getCalendarEvents
      security:
        - scope: []
          user: []
      parameters:
        - name: from
          in: query
          schema:
            type: string
          required: false
        - name: to
          in: query
          schema:
            type: string
          required: false
        - name: query
          in: query
          schema:
            type: string
          required: false
        - name: limit
          in: query
          schema:
            type: integer
          required: false
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventsInDateRangeResponse'
        '400':
          description: Bad Request
  /basic/events/applyContent:
    post:
      tags:
        - Content
      operationId: Content_applyContentData
      security:
        - scope: []
          user: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventApplyRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
        '400':
          description: Bad Request
  /basic/events/running:
    get:
      tags:
        - Activity
      operationId: Activity_getRunningEvents
      security:
        - scope: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventQueryResponse'
        '400':
          description: Bad Request
  /object/events/{objectId}/endPhase:
    put:
      tags:
        - Event
      operationId: Event_updateObjectEndPhase
      security:
        - scope: []
          user: []
      parameters:
        - name: objectId
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventPhaseEndRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
        '400':
          description: Bad Request
  /object/events/{objectId}/ping:
    get:
      tags:
        - Event
      operationId: Event_pingObjectEvents
      security:
        - scope: []
          user: []
      parameters:
        - name: objectId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PingRsp'
        '400':
          description: Bad Request
  /object/events/{objectId}/content:
    put:
      tags:
        - Content
      operationId: Content_updateObjectContent
      security:
        - scope: []
          user: []
      parameters:
        - name: objectId
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetContentRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
        '400':
          description: Bad Request
    delete:
      tags:
        - Content
      operationId: Content_deleteEventContent
      security:
        - scope: []
          user: []
      parameters:
        - name: objectId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
        '400':
          description: Bad Request
  /object/events/{objectId}/refresh:
    put:
      tags:
        - Event
      operationId: Event_refreshObjectEvents
      security:
        - scope: []
          user: []
      parameters:
        - name: objectId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
        '400':
          description: Bad Request
  /object/event-players/{objectId}/claim:
    post:
      tags:
        - Event
      operationId: Event_claimObjectEventPlayers
      security:
        - scope: []
      parameters:
        - name: objectId
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventClaimRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventClaimResponse'
        '400':
          description: Bad Request
  /object/event-players/{objectId}/score:
    put:
      tags:
        - Event
      operationId: Event_updatePlayerScore
      security:
        - scope: []
      parameters:
        - name: objectId
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventScoreRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
        '400':
          description: Bad Request
  /object/gamerelay/{objectId}/sync:
    post:
      tags:
        - Game
      operationId: Game_relayObjectSync
      security:
        - scope: []
          user: []
      parameters:
        - name: objectId
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SyncReq'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncRsp'
        '400':
          description: Bad Request
  /object/gamerelay/{objectId}/results:
    post:
      tags:
        - Game
      operationId: Game_relayObjectResults
      security:
        - scope: []
      parameters:
        - name: objectId
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResultsRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameResultsMessage'
        '400':
          description: Bad Request
  /object/inventory/{objectId}/preview:
    put:
      tags:
        - Object
      operationId: Object_updateInventoryPreview
      security:
        - scope: []
      parameters:
        - name: objectId
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InventoryUpdateRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreviewVipBonusResponse'
        '400':
          description: Bad Request
  /object/inventory/{objectId}/multipliers:
    get:
      tags:
        - Object
      operationId: Object_getMultipliers
      security:
        - scope: []
      parameters:
        - name: objectId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultipliersGetResponse'
        '400':
          description: Bad Request
  /object/inventory/{objectId}/transaction:
    delete:
      tags:
        - Object
      operationId: Object_removeTransactionById
      security:
        - scope: []
          user: []
      parameters:
        - name: objectId
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EndTransactionRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
        '400':
          description: Bad Request
  /object/inventory/{objectId}/transfer:
    put:
      tags:
        - Object
      operationId: Object_transferItemInventory
      security:
        - scope: []
          user: []
      parameters:
        - name: objectId
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
        '400':
          description: Bad Request
  /basic/inventory/items:
    get:
      tags:
        - Item
      operationId: Item_listItems
      security:
        - scope: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemContentResponse'
        '400':
          description: Bad Request
  /basic/inventory/currency:
    get:
      tags:
        - Currency
      operationId: Currency_getInventoryCurrency
      security:
        - scope: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencyContentResponse'
        '400':
          description: Bad Request
  /basic/leaderboards/list:
    get:
      tags:
        - Leaderboard
      operationId: Leaderboard_listUserScores
      security:
        - scope: []
          user: []
      parameters:
        - name: skip
          in: query
          schema:
            type: integer
            format: int32
          required: false
        - name: limit
          in: query
          schema:
            type: integer
            format: int32
          required: false
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeaderboardListResponse'
        '400':
          description: Bad Request
  /basic/leaderboards/player:
    get:
      tags:
        - Leaderboard
      operationId: Leaderboard_getPlayerScores
      security:
        - scope: []
          user: []
      parameters:
        - name: dbid
          in: query
          schema:
            type: integer
            format: int64
          required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListLeaderBoardViewResponse'
        '400':
          description: Bad Request
  /basic/leaderboards/assignment:
    get:
      tags:
        - Leaderboard
      operationId: Leaderboard_getAssignmentLeaderboard
      security:
        - scope: []
          user: []
      parameters:
        - name: boardId
          in: query
          schema:
            type: string
          required: true
        - name: joinBoard
          in: query
          schema:
            type: boolean
          required: false
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeaderboardAssignmentInfo'
        '400':
          description: Bad Request
  /basic/leaderboards/uid:
    get:
      tags:
        - Leaderboard
      operationId: Leaderboard_getUserScores
      security:
        - scope: []
          user: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeaderboardUidResponse'
        '400':
          description: Bad Request
  /object/leaderboards/{objectId}/entries:
    delete:
      tags:
        - Leaderboard
      operationId: Leaderboard_deleteEntries
      security:
        - scope: []
          user: []
      parameters:
        - name: objectId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
        '400':
          description: Bad Request
  /object/leaderboards/{objectId}/membership:
    get:
      tags:
        - Leaderboard
      operationId: Leaderboard_getObjectMembership
      security:
        - scope: []
          user: []
      parameters:
        - name: playerId
          in: query
          schema:
            type: integer
          required: true
        - name: objectId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeaderboardMembershipResponse'
        '400':
          description: Bad Request
  /object/leaderboards/{objectId}/ranks:
    get:
      tags:
        - Leaderboard
      operationId: Leaderboard_listObjectRanks
      security:
        - scope: []
      parameters:
        - name: ids
          in: query
          schema:
            type: string
          required: false
        - name: objectId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeaderBoardViewResponse'
        '400':
          description: Bad Request
  /object/leaderboards/{objectId}/partition:
    get:
      tags:
        - Leaderboard
      operationId: Leaderboard_getObjectPartition
      security:
        - scope: []
          user: []
      parameters:
        - name: playerId
          in: query
          schema:
            type: integer
          required: true
        - name: objectId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeaderboardPartitionInfo'
        '400':
          description: Bad Request
  /object/leaderboards/{objectId}/matches:
    get:
      tags:
        - Leaderboard
      operationId: Leaderboard_getObjectMatches
      security:
        - scope: []
      parameters:
        - name: poolSize
          in: query
          schema:
            type: integer
          required: true
        - name: windows
          in: query
          schema:
            type: integer
          required: true
        - name: windowSize
          in: query
          schema:
            type: integer
          required: true
        - name: objectId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MatchMakingMatchesPvpResponse'
        '400':
          description: Bad Request
  /object/leaderboards/{objectId}/assignment:
    delete:
      tags:
        - Leaderboard
      operationId: Leaderboard_removeAssignment
      security:
        - scope: []
          user: []
      parameters:
        - name: objectId
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LeaderboardRemoveCacheEntryRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
        '400':
          description: Bad Request
  /object/leaderboards/{objectId}/entry:
    put:
      tags:
        - Leaderboard
      operationId: Leaderboard_updateEntry
      security:
        - scope: []
      parameters:
        - name: objectId
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LeaderboardAddRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
        '400':
          description: Bad Request
    delete:
      tags:
        - Leaderboard
      operationId: Leaderboard_removeEntry
      security:
        - scope: []
          user: []
      parameters:
        - name: objectId
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LeaderboardRemoveEntryRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
        '400':
          description: Bad Request
  /object/leaderboards/{objectId}/freeze:
    put:
      tags:
        - Leaderboard
      operationId: Leaderboard_createFreezeRequest
      security:
        - scope: []
          user: []
      parameters:
        - name: objectId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
        '400':
          description: Bad Request
  /object/leaderboards/{objectId}/details:
    get:
      tags:
        - Leaderboard
      operationId: Leaderboard_getObjectDetails
      security:
        - scope: []
          user: []
      parameters:
        - name: from
          in: query
          schema:
            type: integer
          required: false
        - name: max
          in: query
          schema:
            type: integer
          required: false
        - name: objectId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeaderboardDetails'
        '400':
          description: Bad Request
  /object/leaderboards/{objectId}/view:
    get:
      tags:
        - Leaderboard
      operationId: Leaderboard_getObjectView
      security:
        - scope: []
      parameters:
        - name: max
          in: query
          schema:
            type: integer
          required: false
        - name: focus
          in: query
          schema:
            type: integer
          required: false
        - name: friends
          in: query
          schema:
            type: boolean
          required: false
        - name: from
          in: query
          schema:
            type: integer
          required: false
        - name: outlier
          in: query
          schema:
            type: integer
          required: false
        - name: guild
          in: query
          schema:
            type: boolean
          required: false
        - name: objectId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeaderBoardViewResponse'
        '400':
          description: Bad Request
  /object/leaderboards/{objectId}/swap:
    put:
      tags:
        - Leaderboard
      operationId: Leaderboard_swapObjectLeaderboard
      security:
        - scope: []
          user: []
      parameters:
        - name: objectId
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LeaderboardSwapRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
        '400':
          description: Bad Request
  /basic/groups/search:
    get:
      tags:
        - Group
      operationId: Group_searchGroups
      security:
        - scope: []
      parameters:
        - name: name
          in: query
          schema:
            type: string
          required: false
        - name: scoreMin
          in: query
          schema:
            type: integer
          required: false
        - name: sortField
          in: query
          schema:
            type: string
          required: false
        - name: userScore
          in: query
          schema:
            type: integer
          required: false
        - name: hasSlots
          in: query
          schema:
            type: boolean
          required: false
        - name: enrollmentTypes
          in: query
          schema:
            type: string
          required: false
        - name: offset
          in: query
          schema:
            type: integer
          required: false
        - name: scoreMax
          in: query
          schema:
            type: integer
          required: false
        - name: subGroup
          in: query
          schema:
            type: boolean
          required: false
        - name: sortValue
          in: query
          schema:
            type: integer
          required: false
        - name: type
          in: query
          schema:
            type: string
          required: false
        - name: limit
          in: query
          schema:
            type: integer
          required: false
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupSearchResponse'
        '400':
          description: Bad Request
  /object/groups/{objectId}/role:
    put:
      tags:
        - Group
      operationId: Group_updateRole
      security:
        - scope: []
          user: []
      parameters:
        - name: objectId
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoleChangeRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
        '400':
          description: Bad Request
  /object/groups/{objectId}/kick:
    post:
      tags:
        - Group
      operationId: Group_kickObjectGroup
      security:
        - scope: []
      parameters:
        - name: objectId
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KickRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupMembershipResponse'
        '400':
          description: Bad Request
  /object/groups/{objectId}/apply:
    post:
      tags:
        - Group
      operationId: Group_applyObjectGroups
      security:
        - scope: []
          user: []
      parameters:
        - name: objectId
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupApplication'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
        '400':
          description: Bad Request
  /object/groups/{objectId}/donations:
    post:
      tags:
        - Group
      operationId: Group_createDonation
      security:
        - scope: []
          user: []
      parameters:
        - name: objectId
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDonationRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        '400':
          description: Bad Request
    put:
      tags:
        - Group
      operationId: Group_updateDonation
      security:
        - scope: []
          user: []
      parameters:
        - name: objectId
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MakeDonationRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        '400':
          description: Bad Request
  /object/groups/{objectId}/member:
    delete:
      tags:
        - Group
      operationId: Group_removeMember
      security:
        - scope: []
      parameters:
        - name: objectId
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KickRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupMembershipResponse'
        '400':
          description: Bad Request
  /object/groups/{objectId}/invite:
    post:
      tags:
        - Group
      operationId: Group_inviteObjectGroup
      security:
        - scope: []
          user: []
      parameters:
        - name: objectId
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupInvite'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
        '400':
          description: Bad Request
  /object/groups/{objectId}/petition:
    post:
      tags:
        - Group
      operationId: Group_createPetition
      security:
        - scope: []
          user: []
      parameters:
        - name: objectId
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupApplication'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
        '400':
          description: Bad Request
  /object/group-users/{objectId}/availability:
    get:
      tags:
        - Group
      operationId: Group_getUserAvailability
      security:
        - scope: []
      parameters:
        - name: name
          in: query
          schema:
            type: string
          required: false
        - name: tag
          in: query
          schema:
            type: string
          required: false
        - name: type
          in: query
          schema:
            type: string
          required: false
        - name: subGroup
          in: query
          schema:
            type: boolean
          required: false
        - name: objectId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailabilityResponse'
        '400':
          description: Bad Request
  /object/group-users/{objectId}/recommended:
    get:
      tags:
        - Group
      operationId: Group_getRecommendedUsers
      security:
        - scope: []
      parameters:
        - name: objectId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupSearchResponse'
        '400':
          description: Bad Request
  /object/group-users/{objectId}/join:
    post:
      tags:
        - Group
      operationId: Group_joinUserToGroup
      security:
        - scope: []
      parameters:
        - name: objectId
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupMembershipRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupMembershipResponse'
        '400':
          description: Bad Request
    delete:
      tags:
        - Group
      operationId: Group_joinUserDelete
      security:
        - scope: []
      parameters:
        - name: objectId
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupMembershipRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupMembershipResponse'
        '400':
          description: Bad Request
  /object/group-users/{objectId}/group:
    post:
      tags:
        - Group
      operationId: Group_assignObjectGroup
      security:
        - scope: []
      parameters:
        - name: objectId
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupCreate'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupCreateResponse'
        '400':
          description: Bad Request
  /object/group-users/{objectId}/search:
    get:
      tags:
        - Group
      operationId: Group_searchUsers
      security:
        - scope: []
      parameters:
        - name: name
          in: query
          schema:
            type: string
          required: false
        - name: scoreMin
          in: query
          schema:
            type: integer
          required: false
        - name: sortField
          in: query
          schema:
            type: string
          required: false
        - name: userScore
          in: query
          schema:
            type: integer
          required: false
        - name: hasSlots
          in: query
          schema:
            type: boolean
          required: false
        - name: enrollmentTypes
          in: query
          schema:
            type: string
          required: false
        - name: offset
          in: query
          schema:
            type: integer
          required: false
        - name: scoreMax
          in: query
          schema:
            type: integer
          required: false
        - name: subGroup
          in: query
          schema:
            type: boolean
          required: false
        - name: sortValue
          in: query
          schema:
            type: integer
          required: false
        - name: type
          in: query
          schema:
            type: string
          required: false
        - name: limit
          in: query
          schema:
            type: integer
          required: false
        - name: objectId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupSearchResponse'
        '400':
          description: Bad Request
  /basic/mail/attachments:
    put:
      tags:
        - Mail
      operationId: Mail_uploadAttachment
      security:
        - scope: []
          user: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AcceptMultipleAttachments'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MailSuccessResponse'
        '400':
          description: Bad Request
  /basic/mail/template:
    get:
      tags:
        - Mail
      operationId: Mail_getMailTemplate
      security:
        - scope: []
      parameters:
        - name: templateName
          in: query
          schema:
            type: string
          required: false
        - name: gamerTag
          in: query
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MailTemplate'
        '400':
          description: Bad Request
  /basic/mail/bulk:
    post:
      tags:
        - Mail
      operationId: Mail_sendBulkEmails
      security:
        - scope: []
          user: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkSendMailRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MailSuccessResponse'
        '400':
          description: Bad Request
  /object/mail/{objectId}/detail:
    get:
      tags:
        - Mail
      operationId: Mail_getObjectDetail
      security:
        - scope: []
      parameters:
        - name: mid
          in: query
          schema:
            type: integer
          required: true
        - name: objectId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MailResponse'
        '400':
          description: Bad Request
  /object/mail/{objectId}/categories:
    get:
      tags:
        - Mail
      operationId: Mail_getObjectCategories
      security:
        - scope: []
      parameters:
        - name: objectId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListMailCategoriesResponse'
        '400':
          description: Bad Request
  /object/mail/{objectId}/search:
    post:
      tags:
        - Mail
      operationId: Mail_searchMailObject
      security:
        - scope: []
      parameters:
        - name: objectId
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MailSearchRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MailSearchResponse'
        '400':
          description: Bad Request
  /object/mail/{objectId}/bulk:
    post:
      tags:
        - Mail
      operationId: Mail_sendBulkItems
      security:
        - scope: []
          user: []
      parameters:
        - name: objectId
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkSendMailRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MailSuccessResponse'
        '400':
          description: Bad Request
    put:
      tags:
        - Mail
      operationId: Mail_updateObjectBulk
      security:
        - scope: []
      parameters:
        - name: objectId
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkUpdateMailObjectRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MailSuccessResponse'
        '400':
          description: Bad Request
  /object/mail/{objectId}/accept/many:
    put:
      tags:
        - Mail
      operationId: Mail_acceptMany
      security:
        - scope: []
      parameters:
        - name: objectId
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AcceptMultipleAttachments'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MailSuccessResponse'
        '400':
          description: Bad Request
  /object/matchmaking/{objectId}/tick:
    put:
      tags:
        - Object
      operationId: Object_updateMatchmakingTick
      security:
        - scope: []
          user: []
      parameters:
        - name: objectId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        '400':
          description: Bad Request
  /object/matchmaking/{objectId}/match:
    get:
      tags:
        - Object
      operationId: Object_getMatchmakingData
      security:
        - scope: []
          user: []
      parameters:
        - name: objectId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MatchUpdate'
        '400':
          description: Bad Request
    post:
      tags:
        - Object
      operationId: Object_startMatchmakingProcess
      security:
        - scope: []
          user: []
      parameters:
        - name: objectId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MatchUpdate'
        '400':
          description: Bad Request
    delete:
      tags:
        - Object
      operationId: Object_matchmakingDelete
      security:
        - scope: []
          user: []
      parameters:
        - name: objectId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        '400':
          description: Bad Request
  /basic/payments/windows/purchase/track:
    post:
      tags:
        - Payment
      operationId: Payment_windowsPurchaseTrack
      security:
        - scope: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TrackPurchaseRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentResultResponse'
        '400':
          description: Bad Request
  /basic/payments/audits:
    get:
      tags:
        - Audit
      operationId: Audit_getPaymentAudits
      security:
        - scope: []
      parameters:
        - name: providerid
          in: query
          schema:
            type: string
          required: false
        - name: provider
          in: query
          schema:
            type: string
          required: false
        - name: state
          in: query
          schema:
            type: string
          required: false
        - name: txid
          in: query
          schema:
            type: integer
          required: false
        - name: player
          in: query
          schema:
            type: integer
          required: false
        - name: start
          in: query
          schema:
            type: integer
          required: false
        - name: limit
          in: query
          schema:
            type: integer
          required: false
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAuditResponse'
        '400':
          description: Bad Request
  /basic/payments/windows/purchase/complete:
    post:
      tags:
        - Payment
      operationId: Payment_processComplete
      security:
        - scope: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompletePurchaseRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentResultResponse'
        '400':
          description: Bad Request
  /basic/payments/test/purchase/begin:
    post:
      tags:
        - Payment
      operationId: Payment_processBegin
      security:
        - scope: []
          user: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BeginPurchaseRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeginPurchaseResponse'
        '400':
          description: Bad Request
  /basic/payments/facebook/update:
    get:
      tags:
        - Update
      operationId: Update_facebookPaymentsUpdate
      security:
        - scope: []
      parameters:
        - name: hubMode
          in: query
          schema:
            type: string
          required: false
        - name: hubChallenge
          in: query
          schema:
            type: string
          required: false
        - name: hubVerifyToken
          in: query
          schema:
            type: string
          required: false
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionVerificationResponse'
        '400':
          description: Bad Request
    post:
      tags:
        - Update
      operationId: Update_facebookPaymentsUpdate
      security:
        - scope: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FacebookPaymentUpdateRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FacebookPaymentUpdateResponse'
        '400':
          description: Bad Request
  /basic/payments/steam/purchase/fail:
    post:
      tags:
        - Payment
      operationId: Payment_steamPurchaseFail
      security:
        - scope: []
          user: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FailPurchaseRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentResultResponse'
        '400':
          description: Bad Request
  /basic/payments/facebook/purchase/complete:
    post:
      tags:
        - Payment
      operationId: Payment_facebookPurchaseComplete
      security:
        - scope: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompletePurchaseRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentResultResponse'
        '400':
          description: Bad Request
  /basic/payments/facebook/purchase/fail:
    post:
      tags:
        - Payment
      operationId: Payment_facebookPurchaseFailure
      security:
        - scope: []
          user: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FailPurchaseRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentResultResponse'
        '400':
          description: Bad Request
  /basic/payments/test/purchase/complete:
    post:
      tags:
        - Payment
      operationId: Payment_completePurchase
      security:
        - scope: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompletePurchaseRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentResultResponse'
        '400':
          description: Bad Request
  /basic/payments/itunes/product:
    get:
      tags:
        - Product
      operationId: Product_getItunesItem
      security:
        - scope: []
      parameters:
        - name: sku
          in: query
          schema:
            type: string
          required: false
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetProductResponse'
        '400':
          description: Bad Request
  /basic/payments/googleplay/purchase/complete:
    post:
      tags:
        - Payment
      operationId: Payment_completePurchaseProcess
      security:
        - scope: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompletePurchaseRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentResultResponse'
        '400':
          description: Bad Request
  /basic/payments/test/purchase/track:
    post:
      tags:
        - Payment
      operationId: Payment_trackPurchasePost
      security:
        - scope: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TrackPurchaseRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentResultResponse'
        '400':
          description: Bad Request
  /basic/payments/googleplay/purchase/begin:
    post:
      tags:
        - Payment
      operationId: Payment_googlePlayPurchaseBegin
      security:
        - scope: []
          user: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BeginPurchaseRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeginPurchaseResponse'
        '400':
          description: Bad Request
  /basic/payments/itunes/purchase/begin:
    post:
      tags:
        - Payment
      operationId: Payment_itunesPurchaseBegin
      security:
        - scope: []
          user: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BeginPurchaseRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeginPurchaseResponse'
        '400':
          description: Bad Request
  /basic/payments/facebook/purchase/cancel:
    post:
      tags:
        - Payment
      operationId: Payment_facebookPurchaseCancel
      security:
        - scope: []
          user: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelPurchaseRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentResultResponse'
        '400':
          description: Bad Request
  /basic/payments/coupon/purchase/track:
    post:
      tags:
        - Payment
      operationId: Payment_trackPurchasePost
      security:
        - scope: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TrackPurchaseRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentResultResponse'
        '400':
          description: Bad Request
  /basic/payments/steam/purchase/complete:
    post:
      tags:
        - Payment
      operationId: Payment_steamPurchaseComplete
      security:
        - scope: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompletePurchaseRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentResultResponse'
        '400':
          description: Bad Request
  /basic/payments/facebook/purchase/track:
    post:
      tags:
        - Payment
      operationId: Payment_trackPurchasePost
      security:
        - scope: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TrackPurchaseRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentResultResponse'
        '400':
          description: Bad Request
  /basic/payments/itunes/purchase/fail:
    post:
      tags:
        - Payment
      operationId: Payment_processFailure
      security:
        - scope: []
          user: []
      requestBody:
        content:
[...]
