openapi: 3.0.3
info:
  title: Billsby API
  description: >-
    Billsby is a feature-rich "Saas" recurring payment platform, ranked as the
    leading subscription billing software by G2.


    Billsby is designed to ensure customers can go live quickly, often within
    1-2 hours.  To help facilitate this process we have a team of friendly
    knowledgeable advisors ready to help your business go live.


    Billsby specializes in providing great customer service at an affordable
    price point - our technology is rated No 1 on G2 by our customers.


    If you are a developer creating a solution for your customer, Billsby has a
    friendly well-documented API.  The Billsby team are here to provide support
    to developers in order to ensure a smooth migration or new system build.


    Why not book a call, talk through your Billing requirements and we can let
    you know how we can help you transform your business..
  version: 1.3.5
  x-konfig-ignore:
    object-with-no-properties: true
    potential-incorrect-type: true
servers:
  - url: https://public.billsby.com/api/v1/rest/core
tags:
  - name: Customer
  - name: Subscription
  - name: Invoice
  - name: Product
  - name: CustomField
  - name: Addon
  - name: Allowance
  - name: Creditnote
paths:
  /{companyDomain}/customers:
    get:
      tags:
        - Customer
      summary: List customers
      operationId: Customer_listCustomers
      description: ''
      parameters:
        - description: >-
            Your companies Billsby subdomain - for example, if you login at
            widgets.billsby.com, your companyDomain is widgets
          name: companyDomain
          in: path
          schema:
            type: string
          required: true
        - description: The page of customers you would like to view
          name: page
          in: query
          required: true
          schema:
            type: integer
            format: int32
        - description: The number of records to return per page (max 100)
          name: pageSize
          in: query
          required: true
          schema:
            type: integer
            format: int32
        - description: Filter customers by name (this can be a partial name)
          name: search
          in: query
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "currentPage": 0,
                      "pageCount": 0,
                      "pageSize": 0,
                      "rowCount": 0,
                      "results": [
                        {
                          "customerUniqueId": "string",
                          "firstName": "mary",
                          "lastName": "quinn",
                          "email": "mary.quinn@mistimail.com",
                          "createdOn": "2020-04-29T10:08:39.320Z",
                          "status": "active"
                          "phoneNumber": null,
                          "phoneNumberDialCode": null,
                          "phoneNumberDialCodeCountry": null,
                          "billingAddress": {
                          "addressLine1": "23 Turnabout Road",
                          "addressLine2": "Sevenoaks",
                          "city": "Surrey",
                          "country": "USA",
                          "state": "Kent",
                          "postCode": "KN2 6WH"
                                }
                        }
                      ]
                    }
              schema:
                $ref: '#/components/schemas/CustomerListCustomersResponse'
      deprecated: false
    post:
      tags:
        - Customer
      summary: Create without subscription
      operationId: Customer_createWithoutSubscription
      description: ''
      parameters:
        - description: >-
            Your companies Billsby subdomain - for example, if you login at
            widgets.billsby.com, your companyDomain is widgets
          name: companyDomain
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerCreateWithoutSubscriptionRequest'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "customerUniqueId": "string"
                    }
              schema:
                $ref: '#/components/schemas/CustomerCreateWithoutSubscriptionResponse'
      deprecated: false
      x-readme:
        code-samples:
          - language: text
            code: |-
              {
                "addressLine1": "23 Turnabout Road",
                "addressLine2": "Woodingdean",
                "city": "Brighton",
                "state": "East Sussex",
                "country": "GBR",
                "postCode": "BN3 4WH",
                "firstName": "Robert",
                "lastName": "Dowling",
                "email": "robert.dowling@mistimail.com",
                "cardDetails": {
                  "fullname": "Robert Dowling"  
                  "paymentCardToken": "string",
                  "expiryMonth": 05,
                  "expiryYear": 2020,
                  "cardType": "1",
                  "last4Digits": "1547"
                }
              }
        samples-languages:
          - text
  /{companyDomain}/customers/{customerUniqueId}:
    get:
      tags:
        - Customer
      summary: Customer details
      operationId: Customer_getDetails
      description: >-
        This query gets individual customer details using the unique identifier
        provided in the Billsby platform
      parameters:
        - description: >-
            Your companies Billsby subdomain - for example, if you login at
            widgets.billsby.com, your companyDomain is widgets
          name: companyDomain
          in: path
          schema:
            type: string
          required: true
        - description: The unique identifier of the customer in the Billsby platform
          name: customerUniqueId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "companyCurrency": "string",
                      "totalAmountPaid": "440",
                      "averageAmountPerMonth": "20",
                      "cardStatus": "active",
                      "customerUniqueId": "6ZY37ULDEF",
                      "firstName": "Mary",
                      "lastName": "quinn",
                      "billingAddress": {
                        "addressLine1": "20 Woodfood Road",
                        "addressLine2": "Saltdean",
                        "state": "Brighton",
                        "city": "Brighton",
                        "country": "England",
                        "postCode": "BN3 4GH"
                      },
                      "email": "mary.quinn@mistimail.com",
                      "additionalEmail": "marymay@mistimail.com",
                      "phoneNumberDialCountry": "england",
                      "phoneNumberDialCode": "+1",
                      "phoneNumber": "07822839281",
                      "isMarketingConsentGiven": true,
                      "createdOn": "2020-04-29T10:16:25.474Z",
                      "status": "active"
                    }
              schema:
                $ref: '#/components/schemas/CustomerGetDetailsResponse'
      deprecated: false
    put:
      tags:
        - Customer
      summary: Update customer
      operationId: Customer_updateDetails
      description: ''
      parameters:
        - description: >-
            Your companies Billsby subdomain - for example, if you login at
            widgets.billsby.com, your companyDomain is widgets
          name: companyDomain
          in: path
          schema:
            type: string
          required: true
        - description: The unique identifier of the customer in the Billsby platform
          name: customerUniqueId
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerUpdateDetailsRequest'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "customerId": "6DK82SKD",
                      "firstName": "mary",
                      "lastName": "quinn",
                      "billingAddress": {
                        "addressLine1": "32 woodford road",
                        "addressLine2": "saltdean",
                        "state": "brighton",
                        "city": "brighton",
                        "country": "USA",
                        "postCode": "BN3 6HE"
                      },
                      "email": "mary.quinn@mistmail.com",
                      "additionalEmail": "marymay@mistimail.com",
                      "phoneNumberDialCountry": "USA",
                      "phoneNumberDialCode": "+1",
                      "phoneNumber": "07283928192",
                      "isMarketingConsentGiven": true,
                      "createdOn": "2019-09-03T13:31:55.138Z",
                      "uniqueId": "AHD12QR4"
                    }
              schema:
                $ref: '#/components/schemas/CustomerUpdateDetailsResponse'
      deprecated: false
      x-readme:
        code-samples:
          - language: text
            code: |-
              {
                "firstName": "David",
                "lastName": "Smith",
                "email": "david.smith@mistimail.com",
                "phoneNumberDialCountry": "UK",
                "phoneNumberDialCode": "1",
                "phoneNumber": "2015552810",
                "billingAddress": {
                  "addressLine1": "23 Turnabout Road",
                  "addressLine2": "Sevenoaks",
                  "state": "Kent",
                  "city": "Surrey",
                  "country": "USA",
                  "postCode": "KN2 6WH"
                }
              }
        samples-languages:
          - text
    delete:
      tags:
        - Customer
      summary: Delete a customer
      operationId: Customer_deleteById
      description: ''
      parameters:
        - description: >-
            Your companies Billsby subdomain - for example, if you login at
            widgets.billsby.com, your companyDomain is widgets
          name: companyDomain
          in: path
          schema:
            type: string
          required: true
        - description: The unique identifier of the customer in the Billsby platform
          name: customerUniqueId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: Success
              schema:
                $ref: '#/components/schemas/CustomerDeleteByIdResponse'
      deprecated: false
  /{companyDomain}/customers/{customerUniqueId}/subscriptions:
    get:
      tags:
        - Customer
      summary: Customer subscriptions
      operationId: Customer_getSubscriptionsByUniqueId
      description: >-
        This query gets individual customer's subscriptions using the unique
        identifier provided in the Billsby platform
      parameters:
        - description: >-
            Your companies Billsby subdomain - for example, if you login at
            widgets.billsby.com, your companyDomain is widgets
          name: companyDomain
          in: path
          schema:
            type: string
          required: true
        - description: The unique identifier of the customer in the Billsby platform
          name: customerUniqueId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    [
                      {
                        "subscriptionId": "string",
                        "productId": 0,
                        "productName": "string",
                        "planId": 0,
                        "planName": "string",
                        "status": "string",
                        "currency": "string",
                        "revenue": "string",
                        "nextBilling": "2020-04-29T10:46:39.498Z",
                        "createdOn": "2020-04-29T10:46:39.498Z",
                        "units": 0
                      }
                    ]
              schema:
                $ref: >-
                  #/components/schemas/CustomerGetSubscriptionsByUniqueIdResponse
      deprecated: false
    post:
      tags:
        - Customer
      summary: Add subscription to existing customer
      operationId: Customer_addSubscriptionToExistingCustomer
      description: ''
      parameters:
        - description: >-
            Your companies Billsby subdomain - for example, if you login at
            widgets.billsby.com, your companyDomain is widgets
          name: companyDomain
          in: path
          schema:
            type: string
          required: true
        - description: The unique identifier of the customer in the Billsby platform
          name: customerUniqueId
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/CustomerAddSubscriptionToExistingCustomerRequest
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "customerUniqueId": "string",
                      "subscriptionUniqueId": "string"
                    }
              schema:
                $ref: >-
                  #/components/schemas/CustomerAddSubscriptionToExistingCustomerResponse
      deprecated: false
  /{companyDomain}/customers/{customerUniqueId}/subscriptions/featuretags:
    get:
      tags:
        - Customer
      summary: Customer feature tags
      operationId: Customer_getFeatureTags
      description: ''
      parameters:
        - description: >-
            Your companies Billsby subdomain - for example, if you login at
            widgets.billsby.com, your companyDomain is widgets
          name: companyDomain
          in: path
          schema:
            type: string
          required: true
        - description: The unique identifier of the customer in the Billsby platform
          name: customerUniqueId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    [
                      "pro-plan"
                    ]
              schema:
                $ref: '#/components/schemas/CustomerGetFeatureTagsResponse'
      deprecated: false
  /{companyDomain}/customers/{customerUniqueId}/invoices/{invoiceNumber}/paymentlogs:
    get:
      tags:
        - Invoice
      summary: Customer payment logs
      operationId: Invoice_getPaymentLogs
      description: ''
      parameters:
        - description: >-
            Your companies Billsby subdomain - for example, if you login at
            widgets.billsby.com, your companyDomain is widgets
          name: companyDomain
          in: path
          schema:
            type: string
          required: true
        - description: The unique identifier of the customer in the Billsby platform
          name: customerUniqueId
          in: path
          schema:
            type: string
          required: true
        - description: The unique identifier of the invoice in the Billsby platform
          name: invoiceNumber
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    [
                      {
                        "paymentLogId": 0,
                        "createdOn": "2020-04-29T14:02:11.138Z",
                        "gatewayId": 0,
                        "gatewayName": "string",
                        "reference": "string",
                        "paymentMethod": "string",
                        "status": "string"
                      }
                    ]
              schema:
                $ref: '#/components/schemas/InvoiceGetPaymentLogsResponse'
      deprecated: false
  /{companyDomain}/customers/{customerUniqueId}/paymentdetailsrequest:
    get:
      tags:
        - Customer
      summary: Request to update payment details
      operationId: Customer_updatePaymentDetailsRequest
      description: ''
      parameters:
        - description: >-
            Your companies Billsby subdomain - for example, if you login at
            widgets.billsby.com, your companyDomain is widgets
          name: companyDomain
          in: path
          schema:
            type: string
          required: true
        - description: The unique identifier of the customer in the Billsby platform
          name: customerUniqueId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |
                    Success
              schema:
                $ref: >-
                  #/components/schemas/CustomerUpdatePaymentDetailsRequestResponse
      deprecated: false
  /{companyDomain}/customers/{customerUniqueId}/paymentCard:
    put:
      tags:
        - Customer
      summary: Update payment card token
      operationId: Customer_updatePaymentCardToken
      description: ''
      parameters:
        - description: >-
            Your companies Billsby subdomain - for example, if you login at
            widgets.billsby.com, your companyDomain is widgets
          name: companyDomain
          in: path
          schema:
            type: string
          required: true
        - description: The unique identifier of the customer in the Billsby platform
          name: customerUniqueId
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerUpdatePaymentCardTokenRequest'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: Success
              schema:
                $ref: '#/components/schemas/CustomerUpdatePaymentCardTokenResponse'
      deprecated: false
  /{companyDomain}/customers/{customerUniqueId}/invoices:
    post:
      tags:
        - Invoice
      summary: Create a one-time charge
      operationId: Invoice_createOneTimeCharge
      description: This query creates a one-time charge for an individual customer
      parameters:
        - description: >-
            Your companies Billsby subdomain - for example, if you login at
            widgets.billsby.com, your companyDomain is widgets
          name: companyDomain
          in: path
          schema:
            type: string
          required: true
        - description: The unique identifier of the customer in the Billsby platform
          name: customerUniqueId
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvoiceCreateOneTimeChargeRequest'
      responses:
        '200':
          description: '200'
          content:
            text/plain:
              examples:
                Result:
                  value: 'true'
              schema:
                $ref: '#/components/schemas/InvoiceCreateOneTimeChargeResponse'
      deprecated: false
    get:
      tags:
        - Invoice
      summary: Customer invoices
      operationId: Invoice_getCustomerInvoices
      description: This query gets individual customer's invoices
      parameters:
        - description: >-
            Your companies Billsby subdomain - for example, if you login at
            widgets.billsby.com, your companyDomain is widgets
          name: companyDomain
          in: path
          schema:
            type: string
          required: true
        - description: The unique identifier of the customer in the Billsby platform
          name: customerUniqueId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    [
                      {
                        "invoiceId": 0,
                        "createdOn": "2020-04-30T10:47:05.886Z",
                        "invoiceNumber": "string",
                        "amount": 0,
                        "refundableAmount": 0,
                        "formattedAmount": "£0",
                        "formattedAmount": "string",
                        "currency": "string",
                        "linkedTransactionsCount": 0,
                        "status": "string"
                      }
                    ]
              schema:
                $ref: '#/components/schemas/InvoiceGetCustomerInvoicesResponse'
      deprecated: false
  /{companyDomain}/customers/{customerUniqueId}/gdprcleanup:
    put:
      tags:
        - Customer
      summary: Clear customer data (GDPR)
      operationId: Customer_clearGdprData
      description: ''
      parameters:
        - description: >-
            Your companies Billsby subdomain - for example, if you login at
            widgets.billsby.com, your companyDomain is widgets
          name: companyDomain
          in: path
          schema:
            type: string
          required: true
        - description: The unique identifier of the customer in the Billsby platform
          name: customerUniqueId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "companyCurrency": "string",
                      "totalAmountPaid": "string",
                      "averageAmountPerMonth": "string",
                      "cardStatus": "string",
                      "customerTaxRegNumber": "",
                      "customerUniqueId": "VL9GGID9ZE,"
                      "firstName": "string",
                      "lastName": "string",
                      "billingAddress": {
                        "addressLine1": "string",
                        "addressLine2": "string",
                        "state": "string",
                        "city": "string",
                        "country": "string",
                        "postCode": "string"
                      },
                      "email": "string",
                      "additionalEmail": "string",
                      "phoneNumberDialCountry": "string",
                      "phoneNumberDialCode": "string",
                      "phoneNumber": "string",
                      "isMarketingConsentGiven": true,
                      "createdOn": "2019-11-08T14:27:51.469Z",
                      "uniqueId": "string",
                      "status": "string"
                    }
              schema:
                $ref: '#/components/schemas/CustomerClearGdprDataResponse'
      deprecated: false
  /{companyDomain}/subscriptions:
    get:
      tags:
        - Subscription
      summary: List subscriptions
      operationId: Subscription_listSubscriptions
      description: >-
        This query gets a list of all of the subscriptions in your account with
        their subscription IDs so that you can later lookup individual
        subscriptions
      parameters:
        - description: >-
            Your companies Billsby subdomain - for example, if you login at
            widgets.billsby.com, your companyDomain is widgets
          name: companyDomain
          in: path
          schema:
            type: string
          required: true
        - description: The page of customers you would like to view
          name: page
          in: query
          required: true
          schema:
            type: integer
            format: int32
        - description: The number of records to return per page
          name: pageSize
          in: query
          required: true
          schema:
            type: integer
            format: int32
        - description: >-
            You can order the subscriptions by any of the subscription object
            properties (e.g. CreatedOn to sort by date of creation)
          name: orderBy
          in: query
          schema:
            type: string
        - description: >-
            The ordering direction of the previously set property (e.g.
            Descending in CreatedOn will sort from newest to oldest,
            non-descending from oldest to newest)
          name: orderByDescending
          in: query
          schema:
            type: string
        - description: Will show only the subscriptions that are active
          name: isActive
          in: query
          schema:
            type: boolean
        - description: Will show only the subscriptions that are in free trial
          name: isInFreeTrial
          in: query
          schema:
            type: boolean
        - description: >-
            Will show only the subscriptions that has products whose names
            matches the value provided here
          name: productName
          in: query
          schema:
            type: string
        - description: >-
            Will show only the subscriptions that has plans whose names matches
            the value provided here
          name: planName
          in: query
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "currentPage": 0,
                      "pageCount": 0,
                      "pageSize": 0,
                      "rowCount": 0,
                      "results": [
                        {
                          "subscriptionId": 10,
                          "subscriptionUniqueID": "GAFD660",
                          "customerId": 10,
                          "customerUniqueId": "VKQRJFLZNV",
                          "customerEmail": "maryf@mistimail.com",
                          "customerFullname": "Mary",
                          "planId": "82",
                          "planName": "Premium",
                          "productId": "44",
                          "productName": "Plus",
                          "createdOn": "2019-08-29T09:40:27.590Z",
                          "status": "Active",
                          "isInFreeTrial": false
                        }
                      ]
                    }
              schema:
                $ref: '#/components/schemas/SubscriptionListSubscriptionsResponse'
      deprecated: false
    post:
      tags:
        - Customer
      summary: Create new customer and subscription
      operationId: Customer_createNewCustomerAndSubscription
      description: ''
      parameters:
        - description: >-
            Your companies Billsby subdomain - for example, if you login at
            widgets.billsby.com, your companyDomain is widgets
          name: companyDomain
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/CustomerCreateNewCustomerAndSubscriptionRequest
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "customerUniqueId": "string",
                      "subscriptionUniqueId": "string"
                    }
              schema:
                $ref: >-
                  #/components/schemas/CustomerCreateNewCustomerAndSubscriptionResponse
      deprecated: false
  /{companyDomain}/subscriptions/{subscriptionUniqueId}:
    get:
      tags:
        - Subscription
      summary: Subscription details
      operationId: Subscription_getDetails
      description: >-
        This query gets individual subscription details using the unique
        identifier provided in the Billsby platform
      parameters:
        - description: >-
            Your companies Billsby subdomain - for example, if you login at
            widgets.billsby.com, your companyDomain is widgets
          name: companyDomain
          in: path
          schema:
            type: string
          required: true
        - description: The unique identifier of the subscription in the Billsby platform
          name: subscriptionUniqueId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  companyCurrency: \"USD\",\n  contractMinimumTermEnd: null,\n  createdOn: \"2020-12-21T15:59:19.095789\",\n  currency: \"USD\",\n  customerEmail: \"mary.smith@mistimail.com\",\n  customerFullname: \"Mary Smith\",\n  customerId: 243,\n  customerUniqueId: \"8WER0F4J1R\",\n  cycleId: 28,\n  cycleIdNext: null,\n  isBillingAddressValidationRequired: false,\n  isShippingAddressRequired: false,\n  isShippingAddressValidationRequired: false,\n  nextBillingAmount: 4000,\n  nextBillingAmountFormatted: \"$40\",\n  nextBillingDate: \"2021-01-01T15:59:19.095789\",\n  nextCycleRecurringBillingAmount: \"$40\",\n  nextPlanPricingModel: null,\n  planId: 26,\n  planIdNext: null,\n  planName: \"First Plan\",\n  planPricingModel: {\n  \tbillingDateType: \"FixedDayEachMonth\",\n    contractTerm: null,\n    contractTermFrequencyType: \"Unassigned\",\n    fixedBillingDateDay: 1,\n    fixedBillingDateMonth: null,\n    freeQuantity: 0,\n    freeTrial: null,\n    freeTrialFrequencyType: \"Unassigned\",\n    frequency: 1,\n    frequencyType: \"Monthly\",\n    pricingModelId: 129,\n    proRateOption: \"ProRateBasedOnDaysRemaining\",\n    setupFeePrice: null,\n    setupFeePriceFormatted: null,\n    tiers: []\n  },\n  productId: 5,\n  productName: \"First product\",\n  productVisibility: \"Public\",\n  status: \"Active\",\n  subscriptionId: 114,\n  subscriptionUniqueId: \"Y7MX4G314L\",\n  totalRevenue: 1446,\n  totalRevenueFormatted: \"$14.46\",\n  units: 1,\n  unitsNext: null,\n  visibility: \"Public\"\n}"
              schema:
                $ref: '#/components/schemas/SubscriptionGetDetailsResponse'
      deprecated: false
    delete:
      tags:
        - Subscription
      summary: Cancel a subscription
      operationId: Subscription_cancelSubscription
      description: >-
        Cancel an individual subscription using the unique identifier of the
        subscription in the Billsby platform
      parameters:
        - description: >-
            Your companies Billsby subdomain - for example, if you login at
            widgets.billsby.com, your companyDomain is widgets
          name: companyDomain
          in: path
          schema:
            type: string
          required: true
        - description: The unique identifier of the subscription in the Billsby platform
          name: subscriptionUniqueId
          in: path
          schema:
            type: string
          required: true
        - description: The unique identifier of the customer in the Billsby platform
          name: customerUniqueId
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: success
              schema:
                $ref: '#/components/schemas/SubscriptionCancelSubscriptionResponse'
      deprecated: false
  /{companyDomain}/subscriptions/{subscriptionUniqueId}/shippingAddress:
    get:
      tags:
        - Subscription
      summary: Shipping address
      operationId: Subscription_getShippingAddress
      description: >-
        This query gets individual subscription details using the unique
        identifier provided in the Billsby platform
      parameters:
        - description: >-
            Your companies Billsby subdomain - for example, if you login at
            widgets.billsby.com, your companyDomain is widgets
          name: companyDomain
          in: path
          schema:
            type: string
          required: true
        - description: The unique identifier of the subscription in the Billsby platform
          name: subscriptionUniqueId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "addressLine1": "20 Woodfoord Road",
                      "addressLine2": "Saltdean",
                      "state": "Brighton",
                      "city": "Brighton",
                      "country": "England",
                      "postCode": "BN3 4GH"
                    }
              schema:
                $ref: '#/components/schemas/SubscriptionGetShippingAddressResponse'
      deprecated: false
    put:
      tags:
        - Subscription
      summary: Update subscription shipping address
      operationId: Subscription_updateShippingAddress
      description: Update the shipping address for a subscription
      parameters:
        - description: >-
            Your companies Billsby subdomain - for example, if you login at
            widgets.billsby.com, your companyDomain is widgets
          name: companyDomain
          in: path
          schema:
            type: string
          required: true
        - description: The unique identifier of the subscription in the Billsby platform
          name: subscriptionUniqueId
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionUpdateShippingAddressRequest'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: success
              schema:
                $ref: '#/components/schemas/SubscriptionUpdateShippingAddressResponse'
      deprecated: false
      x-readme:
        code-samples:
          - language: text
            code: |-
              {
                "addressLine1": "string",
                "addressLine2": "string",
                "state": "string",
                "city": "string",
                "country": "string",
                "postCode": "string"
              }
        samples-languages:
          - text
  /{companyDomain}/subscriptions/{subscriptionUniqueId}/tags:
    get:
      tags:
        - Subscription
      summary: Feature tags by Subscription
      operationId: Subscription_listTagsBySubscription
      description: This query returns a list of feature tags in a subscription
      parameters:
        - description: >-
            Your companies Billsby subdomain - for example, if you login at
            widgets.billsby.com, your companyDomain is widgets
          name: companyDomain
          in: path
          schema:
            type: string
          required: true
        - description: The unique identifier of the subscription in the Billsby platform
          name: subscriptionUniqueId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    [
                      "pro-plan"
                    ]
              schema:
                $ref: >-
                  #/components/schemas/SubscriptionListTagsBySubscriptionResponse
      deprecated: false
  /{companyDomain}/subscriptions/{subscriptionUniqueId}/tags/split:
    get:
      tags:
        - Subscription
      summary: Feature tags by plan and custom tags
      operationId: Subscription_featureTagsSplit
      description: >-
        Returns a list of feature tags in a subscription split by plan tags and
        custom tags
      parameters:
        - description: >-
            Your companies Billsby subdomain - for example, if you login at
            widgets.billsby.com, your companyDomain is widgets
          name: companyDomain
          in: path
          schema:
            type: string
          required: true
        - description: The unique identifier of the subscription in the Billsby platform
          name: subscriptionUniqueId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "planFeatureTags": [
                        "string"
                      ],
                      "subscriptionFeatureTags": [
                        "string"
                      ]
                    }
              schema:
                $ref: '#/components/schemas/SubscriptionFeatureTagsSplitResponse'
      deprecated: false
  /{companyDomain}/subscriptions/{subscriptionUniqueId}/logs:
    get:
      tags:
        - Subscription
      summary: Event logs
      operationId: Subscription_getEventLogs
      description: This query returns the event logs of a subscription
      parameters:
        - description: >-
            Your companies Billsby subdomain - for example, if you login at
            widgets.billsby.com, your companyDomain is widgets
          name: companyDomain
          in: path
          schema:
            type: string
          required: true
        - description: The unique identifier of the subscription in the Billsby platform
          name: subscriptionUniqueId
          in: path
          schema:
            type: string
          required: true
        - description: The page of customers you would like to view
          name: page
          in: query
          required: true
          schema:
            type: integer
            format: int32
        - description: The number of records to return per page (max 100)
          name: pageSize
          in: query
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "currentPage": 0,
                      "pageCount": 0,
                      "pageSize": 0,
                      "rowCount": 0,
                      "results": [
                        {
                          "subscriptionEventLogId": 0,
                          "type": "string",
                          "createdOn": "2019-09-10T10:37:24.680Z",
                          "eventData": {}
                        }
                      ]
                    }
              schema:
                $ref: '#/components/schemas/SubscriptionGetEventLogsResponse'
      deprecated: false
  /{companyDomain}/subscriptions/tags:
    post:
      tags:
        - Subscription
      summary: Add feature tags
      operationId: Subscription_addFeatureTags
      description: >-
        You can add feature tags to existing subscriptions using the unique
        subscription IDs
      parameters:
        - description: >-
            Your companies Billsby subdomain - for example, if you login at
            widgets.billsby.com, your companyDomain is widgets
          name: companyDomain
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionAddFeatureTagsRequest'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |
                    Success
              schema:
                $ref: '#/components/schemas/SubscriptionAddFeatureTagsResponse'
      deprecated: false
      x-readme:
        code-samples:
          - language: text
            code: |-
              {
                "subscriptionUniqueIds": [
                  "string"
                ],
                "tagNames": [
                  "string"
                ]
              }
        samples-languages:
          - text
  /{companyDomain}/subscriptions/{subscriptionUniqueId}/plan:
    put:
      tags:
        - Subscription
      summary: Change plan
      operationId: Subscription_changePlan
      description: Change the plan that a subscription sits on
      parameters:
        - description: >-
            Your companies Billsby subdomain - for example, if you login at
            widgets.billsby.com, your companyDomain is widgets
          name: companyDomain
          in: path
          schema:
            type: string
          required: true
        - description: The unique identifier of the subscription in the Billsby platform
          name: subscriptionUniqueId
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionChangePlanRequest'
            examples:
              Request Example:
                value:
                  planId: 10
                  cycleId: 10
                  customerUniqueId: A1B2C3D4
                  planChangeType: 1
                  units: 0
                  addOns:
                    - addOnId: 1
                      quantity: 3
                    - addOnId: 2
                      quantity: 5
                  allowances:
                    - 1
                    - 22
                    - 402
                  issueRefund: false
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: success
              schema:
                $ref: '#/components/schemas/SubscriptionChangePlanResponse'
      deprecated: false
  /{companyDomain}/subscriptions/tags/{tagname}:
    delete:
      tags:
        - Subscription
      summary: Delete feature tag
      operationId: Subscription_removeFeatureTag
      description: Delete a custom feature tag from a list of subscriptions
      parameters:
        - description: >-
            Your companies Billsby subdomain - for example, if you login at
            widgets.billsby.com, your companyDomain is widgets
          name: companyDomain
          in: path
          schema:
            type: string
          required: true
        - description: The name of the custom feature tag you would like to delete
          name: tagname
          in: path
          schema:
            type: string
          required: true
        - description: The unique identifier of the subscription in the Billsby platform
          name: subsId
          in: query
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |
                    Success
              schema:
                $ref: '#/components/schemas/SubscriptionRemoveFeatureTagResponse'
      deprecated: false
  /{companyDomain}/subscriptions/{subscriptionUniqueId}/renewaldate:
    put:
      tags:
        - Subscription
      summary: Update next renewal date
      operationId: Subscription_updateRenewalDate
      description: ''
      parameters:
        - description: >-
            Your companies Billsby subdomain - for example, if you login at
            widgets.billsby.com, your companyDomain is widgets
          name: companyDomain
          in: path
          schema:
            type: string
          required: true
        - description: The unique identifier of the subscription in the Billsby platform
          name: subscriptionUniqueId
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionUpdateRenewalDateRequest'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/SubscriptionUpdateRenewalDateResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/SubscriptionUpdateRenewalDate400Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: text
            code: |-
              {
                "pauseSubscription": true,
                "newRenewalDate": "2019-09-10T10:37:24.680Z",
              }
        samples-languages:
          - text
  /invoices/{invoiceNumber}:
    get:
      tags:
        - Invoice
      summary: Individual invoices
      operationId: Invoice_details
      description: ''
      parameters:
        - description: The invoice number for the invoice you'd like to retrieve
          name: invoiceNumber
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Success:
                  value: |-
                    {
                      "invoiceId":"0",
                      "customerEmail": "mary.rose@msn.com",
                      "customerFirstName": "Mary",
                      "customerLastName": "Rose",
                      "customerUniqueId": "8MJ7XU07D9",
                      "addressLine1": "31 Long Avenue",
                      "addressLine2": "Rickmansworth",
                      "addressPostCode": "HA94WD",
                      "addressCity": "Buckinghamshire",
                      "addressState": "Buckinghamshire",
                      "addressCountry": "United Kingdom",
                      "addressCountryCode": "GBR",
                      "invoiceNumber": "0WX1VTRPWY-1",
                      "createdOn": "2020-04-29T00:14:57.297Z",
                      "formattedAmount": "9",
                      "amount": "10",
                      "currency": "gbp",
                      "status": "active",
                      "subTotal": "400",
                      "taxTotal": "200",
                      "prorationAdjustment": "£0",
                      "prorationFactor": null,
                      "taxes": [],
                      "invoiceType": "renewal",
                      "subscriptions": [
                        {
                          "subscriptionUniqueId": "Y4EDK80W71",
                          "planName": "premium",
                          "billingPeriodStart": "2020-04-29T00:14:57.297Z",
                          "billingPeriodEnd": "2020-04-29T00:14:57.297Z",
                          "subscriptionItems": [
                            {
                              "description": "test",
                              "units": "3",
                              "unitPrice": "2",
                              "discounts": "1",
                              "amount": "7"
                            }
                          ]
                        }
                      ],
                      "companyName": "flowers",
                      "companyEmail": "flowers@flowers.com",
                      "companyTaxNumber": "12345678",
                      "companyDomain": "flowers",
                      "companyPhoneNumberDialCountry": "0044",
                      "companyPhoneNumberDialCode": "0044",
                      "companyPhoneNumber": "02088671028",
                      "companyAddressLine1": "wework, 1 fore street",
                      "companyAddressLine2": "moorgate",
                      "companyCity": "london",
                      "companyState": "london",
                      "companyPostCode": "ec2y9dt",
                      "companyCountry": "united kingdom",
                      "brandingLogo": "logo.jpg",
                      "brandingLogoBackgroundColor": "black",
                      "brandingHighlightColor": "pink",
                      "supportUrl": "support@flowers.co.uk",
                      "cardType": "mastercard",
                      "cardLast4Digits": "8972",
                      "cardExpiryMonth": "07",
                      "cardExpiryYear": "23",
                      "refundableAmount": "10",
                      "footerCompanyName": "flowers",
                      "footerAddressLine1": "wework, 1 fore street",
                      "footerAddressLine2": "moorgate",
                      "footerAddressState": "moorgate",
                      "footerAddressCity": "london",
                      "footerAddressPostCode": "ec2y9dt",
                      "footerAddressCountryISO3": "united kingdom",
                      "footerEmailAddress": "flowers@flowers.com",
                      "footerPhoneNumberDialCountry": "0044",
                      "footerPhoneNumberDialCode": "0044",
                      "footerPhoneNumber": "02088671028",
                      "supportContactHeading": "support",
                      "supportContactContent": "mary rose",
                      "supportContactSupportUrl": "support@flowers.com",
                      "supportContactSupportUrlButtonText": "support",
                      "isAdvertEnabled": "true",
                      "advertImageUrl": "advert.com",
                      "advertLinkToUrl": "advert.com"
                    }
              schema:
                $ref: '#/components/schemas/InvoiceDetailsResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/InvoiceDetails400Response'
      deprecated: false
  /{companyDomain}/companies/invoices:
    get:
      tags:
        - Invoice
      summary: Company invoices
      operationId: Invoice_listCompanyInvoices
      description: Get a list of your company's invoices
      parameters:
        - description: >-
            Your companies Billsby subdomain - for example, if you login at
            widgets.billsby.com, your companyDomain is widgets
          name: companyDomain
          in: path
          schema:
            type: string
          required: true
        - description: The page of invoices you would like to view
          name: page
          in: query
          required: true
          schema:
            type: integer
            format: int32
        - description: The number of records to return per page (max 100)
          name: pageSize
          in: query
          required: true
          schema:
            type: integer
            format: int32
        - description: Add search terms here to filter results
          name: query
          in: query
          schema:
            type: string
        - description: Sort the results by particular properties
          name: orderBy
          in: query
          schema:
            type: string
        - description: Sort the results by particular properties in descending order
          name: orderByDescending
          in: query
          schema:
            type: string
        - description: >-
            Do you want to show invoices with the status 'pending'; true or
            false
          name: isPending
          in: query
          schema:
            type: boolean
        - description: Do you want to show invoices with the status 'paid'; true or false
          name: isPaid
          in: query
          schema:
            type: boolean
        - description: Do you want to show invoices with the status 'unpaid'; true or false
          name: isUnpaid
          in: query
          schema:
            type: string
        - description: >-
            Do you want to show invoices with the status 'paid offline'; true or
            false
          name: isPaidOffline
          in: query
          schema:
            type: boolean
        - description: >-
            Do you want to show invoices with the status 'written off'; true or
            false
          name: isWrittenOff
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "currentPage": 0,
                      "pageCount": 0,
                      "pageSize": 0,
                      "rowCount": 0,
                      "results": [
                        {
                          "invoiceId": 0,
                          "invoiceNumber": "string",
                          "customerId": 0,
                          "customerUniqueId": "string",
                          "customerFirstName": "string",
                          "customerLastName": "string",
                          "customerFullName": "string",
                          "createdOn": "2020-02-04T10:23:23.341Z",
                          "amount": 1000,
                          "formattedAmount": "$10"
                          "status": "string",
                          "currency": "string"
                        }
                      ]
                    }
              schema:
                $ref: '#/components/schemas/InvoiceListCompanyInvoicesResponse'
      deprecated: false
  /{companyDomain}/customers/{customerUniqueId}/refunds:
    post:
      tags:
        - Invoice
      summary: Refund an invoice
      operationId: Invoice_createRefund
      description: ''
      parameters:
        - description: >-
            Your companies Billsby subdomain - for example, if you login at
            widgets.billsby.com, your companyDomain is widgets
          name: companyDomain
          in: path
          schema:
            type: string
          required: true
        - description: The unique identifier of the customer in the Billsby platform
          name: customerUniqueId
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvoiceCreateRefundRequest'
      responses:
        '200':
          description: '200'
          content:
            text/plain:
              examples:
                Result:
                  value: |-
                    {
                      "invoiceNumber": "string",
                      "amount": 12
                    }
              schema:
                $ref: '#/components/schemas/InvoiceCreateRefundResponse'
      deprecated: false
  /{companyDomain}/invoices/{invoiceNumber}/Payment:
    put:
      tags:
        - Invoice
      summary: Reattempt invoice payment
      operationId: Invoice_reattemptPayment
      description: ''
      parameters:
        - description: The unique identifier of the invoice in the Billsby platform
          name: invoiceNumber
          in: path
          schema:
            type: string
          required: true
        - description: >-
            Your companies Billsby subdomain - for example, if you login at
            widgets.billsby.com, your companyDomain is widgets
          name: companyDomain
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: success
              schema:
                $ref: '#/components/schemas/InvoiceReattemptPaymentResponse'
      deprecated: false
  /{companyDomain}/invoices/{invoiceNumber}/PaidOffline:
    put:
      tags:
        - Invoice
      summary: Invoice paid offline
      operationId: Invoice_markAsPaidOffline
      description: Mark an invoice as paid offline
      parameters:
        - description: The unique identifier of the invoice in the Billsby platform
          name: invoiceNumber
          in: path
          schema:
            type: string
          required: true
        - description: >-
            Your companies Billsby subdomain - for example, if you login at
            widgets.billsby.com, your companyDomain is widgets
          name: companyDomain
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: success
              schema:
                $ref: '#/components/schemas/InvoiceMarkAsPaidOfflineResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/InvoiceMarkAsPaidOffline400Response'
      deprecated: false
  /{companyDomain}/invoices/{invoiceNumber}/WrittenOff:
    put:
      tags:
        - Invoice
      summary: Invoice written off
      operationId: Invoice_markWrittenOff
      description: Mark an invoice as written off
      parameters:
        - description: The unique identifier of the invoice in the Billsby platform
          name: invoiceNumber
          in: path
          schema:
            type: string
          required: true
        - description: >-
            Your companies Billsby subdomain - for example, if you login at
            widgets.billsby.com, your companyDomain is widgets
          name: companyDomain
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: success
              schema:
                $ref: '#/components/schemas/InvoiceMarkWrittenOffResponse'
      deprecated: false
  /{companyDomain}/companies/creditnotes:
    get:
      tags:
        - Creditnote
      summary: Company credit notes
      operationId: Creditnote_list
      description: Get a list of all your company's credit notes
      parameters:
        - description: >-
            Your companies Billsby subdomain - for example, if you login at
            widgets.billsby.com, your companyDomain is widgets
          name: companyDomain
          in: path
          schema:
            type: string
          required: true
        - description: The page of credit notes you would like to view
          name: page
          in: query
          required: true
          schema:
            type: integer
            format: int32
        - description: The number of records to return per page (max 100)
          name: pageSize
          in: query
          required: true
          schema:
            type: integer
            format: int32
        - description: Add search terms here to filter results
          name: query
          in: query
          schema:
            type: string
        - description: Sort the results by particular properties
          name: orderBy
          in: query
          schema:
            type: string
        - description: Sort the results by particular properties in descending order
          name: orderByDescending
          in: query
          schema:
            type: string
        - description: >-
            Do you want to show credit notes with the status 'pending'; true or
            false
          name: isPending
          in: query
          schema:
            type: boolean
        - description: >-
            Do you want to show credit notes with the status 'paid'; true or
            false
          name: isPaid
          in: query
          schema:
            type: boolean
        - description: >-
            Do you want to show credit notes with the status 'failed'; true or
            false
          name: isFailed
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "currentPage": 0,
                      "pageCount": 0,
                      "pageSize": 0,
                      "rowCount": 0,
                      "results": [
                        {
                          "creditNoteId": 0,
                          "creditNoteUniqueId": "string",
                          "customerId": 0,
                          "customerUniqueId": "string",
                          "customerFirstName": "string",
                          "customerLastName": "string",
                          "customerFullName": "string",
                          "createdOn": "2020-04-30T10:22:14.547Z",
                          "amount": "string",
                          "status": "string",
                          "currency": "string"
                        }
                      ]
                    }
              schema:
                $ref: '#/components/schemas/CreditnoteListResponse'
      deprecated: false
  /{companyDomain}/customers/{customerUniqueId}/creditNotes:
    get:
      tags:
        - Customer
      summary: Customer credit notes
      operationId: Customer_getCreditNotes
      description: This query gets individual customer's credit notes
      parameters:
        - description: >-
            Your companies Billsby subdomain - for example, if you login at
            widgets.billsby.com, your companyDomain is widgets
          name: companyDomain
          in: path
          schema:
            type: string
          required: true
        - description: The unique identifier of the customer in the Billsby platform
          name: customerUniqueId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    [
                      {
                        "invoiceId": 0,
                        "createdOn": "2020-04-30T11:21:42.155Z",
                        "invoiceNumber": "string",
                        "amount": "string",
                        "currency": "string",
                        "linkedTransactionsCount": 0,
                        "status": "string",
                        "paymentGatewayDisplayName": "string"
                      }
                    ]
              schema:
                $ref: '#/components/schemas/CustomerGetCreditNotesResponse'
      deprecated: false
  /{companyDomain} /creditNotes /{creditNoteNumber} /Payment:
    put:
      tags:
        - Creditnote
      summary: Reattempt credit note payment
      operationId: Creditnote_reattemptPayment
      description: ''
      parameters:
        - description: The unique identifier of the credit note in the Billsby platform
          name: creditNoteNumber
          in: path
          schema:
            type: string
          required: true
        - description: >-
            Your companies Billsby subdomain - for example, if you login at
            widgets.billsby.com, your companyDomain is widgets
          name: companyDomain
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: success
              schema:
                $ref: '#/components/schemas/CreditnoteReattemptPaymentResponse'
      deprecated: false
  /{companyDomain}/products/{productId}:
    get:
      tags:
        - Product
      summary: Product details
      operationId: Product_getDetails
      description: Get the details of a specific product
      parameters:
        - description: >-
            Your companies Billsby subdomain - for example, if you login at
            widgets.billsby.com, your companyDomain is widgets
          name: companyDomain
          in: path
          schema:
            type: string
          required: true
        - description: The unique identifier of the product in the Billsby platform
          name: productId
          in: path
          schema:
            type: integer
            format: int32
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "productCountryLimitation": {
                        "isAnyCountryAllowed": true,
                        "countrySettings": [
                          {
                            "countryIso3": "string",
                            "addressPermission": 1
                          }
                        ]
                      },
                      "productId": 0,
                      "name": "string",
                      "visibility": 0,
                      "billingCurrency": "string",
                      "billingCurrencyTemplate": "string",
                      "displayName": "string",
                      "description": "string",
                      "typeOfProduct": 1,
                      "hasPlans": true,
                      "isShippingAddressRequired": true,
                      "isShippingAddressValidationRequired": true,
                      "isBillingAddressValidationRequired": true,
                      "isAdditionalEmailRequired": true,
                      "isPhoneNumberRequired": true,
                      "isMarketingConsentRequired": true,
                      "numberOfPlans": 0,
                      "alertEmail": "string"
                    }
              schema:
                $ref: '#/components/schemas/ProductGetDetailsResponse'
      deprecated: false
    put:
      tags:
        - Product
      summary: Update a product
      operationId: Product_updateProduct
      description: Update product for your company
      parameters:
        - description: >-
            Your companies Billsby subdomain - for example, if you login at
            widgets.billsby.com, your companyDomain is widgets
          name: companyDomain
          in: path
          schema:
            type: string
          required: true
        - description: The unique identifier of the product in the Billsby platform
          name: productID
          in: path
          schema:
            type: integer
            format: int32
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductUpdateProductRequest'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "productCountryLimitation": {
                        "isAnyCountryAllowed": true,
                        "countrySettings": [
                          {
                            "countryIso3": "string",
                            "addressPermission": 1
                          }
                        ]
                      },
                      "productId": 0,
                      "name": "string",
                      "visibility": 0,
                      "billingCurrency": "string",
                      "billingCurrencyTemplate": "string",
                      "displayName": "string",
                      "description": "string",
                      "typeOfProduct": 1,
                      "hasPlans": true,
                      "isShippingAddressRequired": true,
                      "isShippingAddressValidationRequired": true,
                      "isBillingAddressValidationRequired": true,
                      "isAdditionalEmailRequired": true,
                      "isPhoneNumberRequired": true,
                      "isMarketingConsentRequired": true,
                      "numberOfPlans": 0,
                      "alertEmail": "string"
                    }
              schema:
                $ref: '#/components/schemas/ProductUpdateProductResponse'
      deprecated: false
  /{companyDomain}/products:
    get:
      tags:
        - Product
      summary: List products
      operationId: Product_listProducts
      description: ''
      parameters:
        - description: >-
            Your companies Billsby subdomain - for example, if you login at
            widgets.billsby.com, your companyDomain is widgets
          name: companyDomain
          in: path
          schema:
            type: string
          required: true
        - description: The number of the page you would like to return
          name: page
          in: query
          required: true
          schema:
            type: integer
            format: int32
        - description: The number of entries per page you would like to return
          name: pageSize
          in: query
          required: true
          schema:
            type: integer
            format: int32
        - description: Filter products by name (this can be a partial name)
          name: search
          in: query
          schema:
            type: string
        - description: >-
            The type of visibility of each product; public, hidden and on-sale.
            Available values: 0, 1, 2, 3 (Public=0, Hidden=1, Internal=2,
            OffSale=3)
          name: visibilityType
          in: query
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "currentPage": 0,
                      "pageCount": 0,
                      "pageSize": 0,
                      "rowCount": 0,
                      "results": [
                        {
                          "productId": 0,
                          "name": "Product Name",
                          "visibility": 0,
                          "billingCurrency": "USD",
                          "billingCurrencyTemplate": "$X.XX",
                          "displayName": "Product Name",
                          "description": "A description of the product",
                          "typeOfProduct": 1,
                          "hasPlans": true,
                          "isShippingAddressRequired": true,
                          "isShippingAddressValidationRequired": true,
                          "isBillingAddressValidationRequired": true,
                          "isAdditionalEmailRequired": true,
                          "isPhoneNumberRequired": true,
                          "isMarketingConsentRequired": true,
                          "numberOfPlans": 0,
                          "alertEmail": "string",
                          "customFields": [
                            {
                              "customFieldId": 0,
                              "type": 0,
                              "label": "string",
                              "description": "string",
                              "options": "string",
                              "compulsory": true
                            }
                          ],
                          "orderedCustomFields": [
                            0
                          ]
                        }
                      ]
                    }
              schema:
                $ref: '#/components/schemas/ProductListProductsResponse'
      deprecated: false
    post:
      tags:
        - Product
      summary: Create a product
      operationId: Product_createNewProduct
      description: Create a new product for your company
      parameters:
        - description: >-
            Your companies Billsby subdomain - for example, if you login at
            widgets.billsby.com, your companyDomain is widgets
          name: companyDomain
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductCreateNewProductRequest'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "productCountryLimitation": {
                        "isAnyCountryAllowed": true,
                        "countrySettings": [
                          {
                            "countryIso3": "GBR",
                            "addressPermission": 1
                          }
                        ]
                      },
                      "productId": 42,
                      "name": "SAAS offering",
                      "visibility": 2,
                      "billingCurrency": "USD",
                      "billingCurrencyTemplate": "string",
                      "displayName": "SAAS offering",
                      "description": "This is our SAAS offering",
                      "typeOfProduct": 1,
                      "hasPlans": true,
                      "isShippingAddressRequired": true,
                      "isShippingAddressValidationRequired": true,
                      "isBillingAddressValidationRequired": true,
                      "isAdditionalEmailRequired": true,
                      "isPhoneNumberRequired": true,
                      "isMarketingConsentRequired": true,
                      "numberOfPlans": 0,
                      "alertEmail": "Accounts@mistimail.com"
                    }
              schema:
                $ref: '#/components/schemas/ProductCreateNewProductResponse'
      deprecated: false
  /{companyDomain}/products/{productId}/plans:
    get:
      tags:
        - Product
      summary: List plans
      operationId: Product_listPlans
      description: Get a list of plans associated with a specific product
      parameters:
        - description: >-
            Your companies Billsby subdomain - for example, if you login at
            widgets.billsby.com, your companyDomain is widgets
          name: companyDomain
          in: path
          schema:
            type: string
          required: true
        - description: The unique identifier of the product in the Billsby platform
          name: productId
          in: path
          schema:
            type: integer
            format: int32
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    [
                      {
                        "planId": 0,
                        "name": "string",
                        "displayName": "string",
                        "description": "string",
                        "pricingModelType": 1,
                        "productId": 0,
                        "cycles": [
                          {
                            "cycleId": 0,
                            "planId": 0,
                            "pricingModel": {
                              "pricingModelId": 0,
                              "frequency": 0,
                              "frequencyType": 1,
                              "freeTrial": 0,
                              "freeTrialFrequencyType": 1,
                              "setupFeePrice": 0,
                              "setupFeePriceFormatted": "string",
                              "billingDateType": 1,
                              "fixedBillingDateDay": 0,
                              "proRateOption": 1
                            },
                            "visibility": "string"
                          }
                        ],
                        "featureTags": [
                          "string"
                        ],
                        "visibility": "string",
                        "redirectUrl": "string",
                        "hasActiveSubscription": true,
                        "alertEmail": "string"
                      }
                    ]
              schema:
                $ref: '#/components/schemas/ProductListPlansResponse'
      deprecated: false
    post:
      tags:
        - Product
      summary: Create a plan
      operationId: Product_createPlan
      description: Create a new plan for a specific product
      parameters:
        - description: >-
            Your companies Billsby subdomain - for example, if you login at
            widgets.billsby.com, your companyDomain is widgets
          name: companyDomain
          in: path
          schema:
            type: string
          required: true
        - description: The unique identifier of the product in the Billsby platform
          name: productId
          in: path
          schema:
            type: integer
            format: int32
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductCreatePlanRequest'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "planId": 43,
                      "name": "Premium Plan",
                      "displayName": "The Premium Plan",
                      "description": "This plan is our premium experience",
                      "pricingModelType": 1,
                      "productId": 123,
                      "cycles": [
                        {
                          "cycleId": 2,
                          "planId": 2,
                          "pricingModel": {
                            "pricingModelId": 0,
                            "frequency": 4,
                            "frequencyType": 1,
                            "freeTrial": 0,
                            "freeTrialFrequencyType": 0,
                            "contractTerm": 0,
                            "contractTermFrequencyType": 0,
                            "setupFeePrice": 15,
                            "setupFeePriceFormatted": "string",
                            "freeQuantity": 0,
                            "billingDateType": 1,
                            "fixedBillingDateDay": 0,
                            "proRateOption": 1
                          },
                          "visibility": "1"
                        }
                      ],
                      "featureTags": [
                        "string"
                      ],
                      "visibility": "public",
                      "redirectUrl": "home@mistimail.com",
                      "hasActiveSubscription": true,
                      "alertEmail": "accounts@mistimail.com"
                    }
              schema:
                $ref: '#/components/schemas/ProductCreatePlanResponse'
      deprecated: false
  /{companyDomain}/products/{productId}/plans/{planId}/cycles:
    post:
      tags:
        - Product
      summary: Create a cycle
      operationId: Product_createCycle
      description: Create a cycle for a specific plan
      parameters:
        - description: >-
            Your companies Billsby subdomain - for example, if you login at
            widgets.billsby.com, your companyDomain is widgets
          name: companyDomain
          in: path
          schema:
            type: string
          required: true
        - description: The unique identifier of the product in the Billsby platform
          name: productId
          in: path
          schema:
            type: integer
            format: int32
          required: true
        - description: The unique identifier of the plan in the Billsby platform
          name: planId
          in: path
          schema:
            type: integer
            format: int32
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductCreateCycleRequest'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    [
                      {
                        "cycleId": 123,
                        "planId": 45,
                        "pricingModel": {
                          "pricingModelId": 5,
                          "frequency": 0,
                          "frequencyType": 0,
                          "freeTrial": 0,
                          "freeTrialFrequencyType": 0,
                          "contractTerm": 0,
                          "contractTermFrequencyType": 0,
                          "setupFeePrice": 0,
                          "setupFeePriceFormatted": "string",
                          "freeQuantity": 0,
                          "billingDateType": 1,
                          "fixedBillingDateDay": 0,
                          "proRateOption": 1
                        }
                      }
                    ]
              schema:
                $ref: '#/components/schemas/ProductCreateCycleResponse'
      deprecated: false
  /{companyDomain}/products/{productId}/plans/{planId}:
    put:
      tags:
        - Product
      summary: Update a plan and cycle
      operationId: Product_updatePlanAndCycle
      description: Update a plan and cycle for your company
      parameters:
        - description: >-
            Your companies Billsby subdomain - for example, if you login at
            widgets.billsby.com, your companyDomain is widgets
          name: companyDomain
          in: path
          schema:
            type: string
          required: true
        - description: The unique identifier of the product in the Billsby platform
          name: productId
          in: path
          schema:
            type: integer
            format: int32
          required: true
        - description: The unique identifier of the plan in the Billsby platform
          name: planId
          in: path
          schema:
            type: integer
            format: int32
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductUpdatePlanAndCycleRequest'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: success
              schema:
                $ref: '#/components/schemas/ProductUpdatePlanAndCycleResponse'
      deprecated: false
  /{companyDomain}/products/{productId}/plans/orders:
    put:
      tags:
        - Product
      summary: Update plan order
      operationId: Product_updatePlanOrder
      description: Change the order in which your plans displayed
      parameters:
        - description: >-
            Your companies Billsby subdomain - for example, if you login at
            widgets.billsby.com, your companyDomain is widgets
          name: companyDomain
          in: path
          schema:
            type: string
          required: true
        - description: The unique identifier of the product in the Billsby platform
          name: productId
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductUpdatePlanOrderRequest'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: success
              schema:
                $ref: '#/components/schemas/ProductUpdatePlanOrderResponse'
      deprecated: false
  /usage/{companyDomain}/subscriptions/{subscriptionUniqueId}/counters/{counterId}:
    get:
      tags:
        - Subscription
      summary: Counter value
      operationId: Subscription_getCountersValue
      description: ''
      parameters:
        - description: >-
            Your companies Billsby subdomain - for example, if you login at
            widgets.billsby.com, your companyDomain is widgets
          name: companyDomain
          in: path
          schema:
            type: string
          required: true
        - description: The unique identifier of the subscription in the Billsby platform
          name: subscriptionUniqueId
          in: path
          schema:
            type: string
          required: true
        - description: The unique identifier of the counter in the Billsby platform
          name: counterId
          in: path
          schema:
            type: string
          required: true
        - description: >-
            The date you would like the counter value from; format is ISO 8601,
            e.g. 2020-08-25T18:35:00.000Z
          name: from
          in: query
          schema:
            type: string
            format: date
        - description: >-
            The date you would like the counter value to; format is ISO 8601,
            e.g. 2020-08-25T18:35:00.000Z
          name: to
          in: query
          schema:
            type: string
            format: date
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |
                    {
                        "usage": 2,
                        "timestamp": "2020-05-28T11:05:09.078+00:00"
                    }
              schema:
                $ref: '#/components/schemas/SubscriptionGetCountersValueResponse'
      deprecated: false
  /operations/{companyDomain}/subscriptions/{subscriptionUniqueId}/counters/{counterId}:
    post:
      tags:
        - Subscription
      summary: Update counter
      operationId: Subscription_updateCounter
      description: ''
      parameters:
        - description: >-
            Your companies Billsby subdomain - for example, if you login at
            widgets.billsby.com, your companyDomain is widgets
          name: companyDomain
          in: path
          schema:
            type: string
          required: true
        - description: The unique identifier of the subscription in the Billsby platform
          name: subscriptionUniqueId
          in: path
          schema:
            type: string
          required: true
        - description: The unique identifier of the counter in the Billsby platform
          name: counterId
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionUpdateCounterRequest'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: success
              schema:
                $ref: '#/components/schemas/SubscriptionUpdateCounterResponse'
      deprecated: false
  /{companyDomain}/addons:
    get:
      tags:
        - Addon
      summary: Get a list of available add-ons
      operationId: Addon_listAvailableAddons
      description: ''
      parameters:
        - description: >-
            Your companies Billsby subdomain - for example, if you login at
            widgets.billsby.com, your companyDomain is widgets
          name: companyDomain
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    [
                      {
                        "addonId": 0,
                        "name": "string",
                        "description": "string",
                        "hasActiveLinkedPlans": true
                      }
                    ]
              schema:
                $ref: '#/components/schemas/AddonListAvailableAddonsResponse'
      deprecated: false
  /{companyDomain}/addons/{addonId}:
    get:
      tags:
        - Addon
      summary: Get add-on details
      operationId: Addon_getDetails
      description: ''
      parameters:
        - description: >-
            Your companies Billsby subdomain - for example, if you login at
            widgets.billsby.com, your companyDomain is widgets
          name: companyDomain
          in: path
          schema:
            type: string
          required: true
        - description: The unique identifier of the add-on in the Billsby platform
          name: addonId
          in: path
          schema:
            type: integer
            format: int32
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "addonId": 0,
                      "name": "string",
                      "displayName": "string",
                      "description": "string",
                      "singleUnitName": "string",
                      "pluralUnitName": "string",
                      "pricingModelType": "string",
                      "hasActiveLinkedPlans": true,
                      "featureTags": [
                        "string"
                      ],
                      "plans": [
                        {
                          "planId": 0,
                          "planName": "string",
                          "productName": "string",
                          "forceAddon": true,
                          "isActive": true
                        }
                      ],
                      "priceModels": [
                        {
                          "frequency": 0,
                          "frequencyType": "string",
                          "currency": "string",
                          "flatFeePrice": 0,
                          "flatFeePriceFormatted": "string",
                          "perUnitPrice": 0,
                          "perUnitPriceFormatted": "string",
                          "tiers": [
                            {
                              "finish": 0,
                              "price": 0,
                              "start": 0,
                              "priceFormatted": "string"
                            }
                          ]
                        }
                      ]
                    }
              schema:
                $ref: '#/components/schemas/AddonGetDetailsResponse'
      deprecated: false
  /{companyDomain}/allowances:
    get:
      tags:
        - Allowance
      summary: Get a list of available allowances
      operationId: Allowance_getList
      description: ''
      parameters:
        - description: >-
            Your companies Billsby subdomain - for example, if you login at
            widgets.billsby.com, your companyDomain is widgets
          name: companyDomain
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |2-

                      {
                        "allowanceId": 0,
                        "name": "string",
                        "description": "string",
                        "hasActiveLinkedPlans": true
                      }
                    ]
              schema:
                $ref: '#/components/schemas/AllowanceGetListResponse'
      deprecated: false
  /{companyDomain}/allowances/{allowanceId}:
    get:
      tags:
        - Allowance
      summary: Get allowance details
      operationId: Allowance_getDetails
      description: ''
      parameters:
        - description: >-
            Your companies Billsby subdomain - for example, if you login at
            widgets.billsby.com, your companyDomain is widgets
          name: companyDomain
          in: path
          schema:
            type: string
          required: true
        - description: The unique identifier of the customer in the Billsby platform
          name: allowanceId
          in: path
          schema:
            type: integer
            format: int32
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "allowanceId": 0,
                      "name": "string",
                      "displayName": "string",
                      "description": "string",
                      "singleUnitName": "string",
                      "pluralUnitName": "string",
                      "pricingModelType": "string",
                      "counter": {
                        "counterId": "string",
                        "counterName": "string"
                      },
                      "hasActiveLinkedPlans": true,
                      "featureTags": [
                        "string"
                      ],
                      "plans": [
                        {
                          "planId": 0,
                          "planName": "string",
                          "productName": "string",
                          "forceAllowance": true,
                          "isActive": true
                        }
                      ],
                      "priceModels": [
                        {
                          "frequency": 0,
                          "frequencyType": "string",
                          "currency": "string",
                          "includedUnits": 0,
                          "flatFeePrice": 0,
                          "flatFeePriceFormatted": "string",
                          "perUnitPrice": 0,
                          "perUnitPriceFormatted": "string",
                          "tiers": [
                            {
                              "finish": 0,
                              "price": 0,
                              "start": 0,
                              "priceFormatted": "string"
                            }
                          ]
                        }
                      ]
                    }
              schema:
                $ref: '#/components/schemas/AllowanceGetDetailsResponse'
      deprecated: false
  /{companyDomain}/subscriptions/{subscriptionUniqueId}/addons:
    get:
      tags:
        - Addon
      summary: Get add-ons for specific subscription
      operationId: Addon_getAddonList
      description: ''
      parameters:
        - description: >-
            Your companies Billsby subdomain - for example, if you login at
            widgets.billsby.com, your companyDomain is widgets
          name: companyDomain
          in: path
          schema:
            type: string
          required: true
        - description: The unique identifier of the subscription in the Billsby platform
          name: subscriptionUniqueId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                     "addons": [
                       {
                         "id": 0,
                         "name" "string",
                         "isForced": true,
[...]
