openapi: 3.0.0
info:
  title: Bitbucket API
  description: >-
    Code against the Bitbucket API to automate simple tasks, embed Bitbucket
    data into your own site, build mobile or desktop apps, or even add custom UI
    add-ons into Bitbucket itself using the Connect framework.
  version: '2.0'
  termsOfService: https://www.atlassian.com/legal/customer-agreement
  contact:
    name: Bitbucket Support
    url: https://support.atlassian.com/bitbucket-cloud/
    email: support@bitbucket.org
servers:
  - url: https://api.bitbucket.org/2.0
tags:
  - description: |
      Bitbucket Pipelines brings continuous delivery to Bitbucket
      Cloud, empowering teams with full branching to deployment
      visibility and faster feedback loops.
    name: Pipelines
  - description: |
      Pull requests are a feature that makes it easier for developers
      to collaborate using Bitbucket. They provide a user-friendly web
      interface for discussing proposed changes before integrating them
      into the official project.
    name: Pullrequests
  - description: >
      The issue resources provide functionality for getting information on

      issues in an issue tracker, creating new issues, updating them and
      deleting

      them.


      You can access public issues without authentication, but you can't gain
      access

      to private repositories' issues. By authenticating, you will get the
      ability

      to create issues, as well as access to updating data or deleting issues
      you

      have access to. Issue Tracker features are not supported for repositories
      in workspaces administered through admin.atlassian.com.
    name: Issue tracker
  - description: |
      A Git repository is a virtual storage of your project. It
      allows you to save versions of your code, which you can access
      when needed. The repo resource allows you to access public repos,
      or repos that belong to a specific workspace.
    name: Repositories
  - description: |
      These are the repository's commits. They are paginated and returned in
      reverse chronological order, similar to the output of git log.
    name: Commits
  - description: |
      Snippets allow you share code segments or files with yourself, members of
      your workspace, or the world.

      Like pull requests, repositories and workspaces, the full set of snippets
      is defined by what the current user has access to. This includes all
      snippets owned by any of the workspaces the user is a member of, or
      snippets by other users that the current user is either watching or has
       collaborated on (for instance by commenting on it).
    name: Snippets
  - description: |
      Teams are deploying code faster than ever, thanks to continuous
      delivery practices and tools like Bitbucket Pipelines. Bitbucket
      Deployments gives teams visibility into their deployment
      environments and helps teams to track how far changes have
      progressed in their deployment pipeline.
    name: Deployments
  - description: |
      Bitbucket Cloud projects make it easier for teams to focus on
      a goal, product, or process by organizing their repositories.
    name: Projects
  - description: |
      A workspace is where you create repositories, collaborate on
      your code, and organize different streams of work in your Bitbucket
      Cloud account. Workspaces replace the use of teams and users in API
      calls.
    name: Workspaces
  - description: >
      Webhooks provide a way to configure Bitbucket Cloud to make requests to

      your server (or another external service) whenever certain events occur in

      Bitbucket Cloud.


      A webhook consists of:


      * A subject -- The resource that generates the events. Currently, this
      resource

      is the repository, user account, or team where you create the webhook.

      * One or more event -- The default event is a repository push, but you can

      select multiple events that can trigger the webhook.

      * A URL -- The endpoint where you want Bitbucket to send the event
      payloads

      when a matching event happens.


      There are two parts to getting a webhook to work: creating the webhook and

      triggering the webhook. After you create a webhook for an event, every
      time

      that event occurs, Bitbucket sends a payload request that describes the
      event

      to the specified URL. Thus, you can think of webhooks as a kind of

      notification system.


      Use webhooks to integrate applications with Bitbucket Cloud. The following

      use cases provides examples of when you would want to use webhooks:


      * Every time a user pushes commits in a repository, you may want to notify

      your CI server to start a build.

      * Every time a user pushes commits or creates a pull request, you may want
      to

      display a notification in your application.
    name: Webhooks
  - name: properties
  - description: |
      The addon resource is intended to use used by Bitbucket Cloud Connect
      Apps, and only supports JWT authentication.
    name: Addon
  - description: |
      The refs resource allows you access branches and tags in a repository.
      By default, results will be in the order the underlying source control
      system returns them and identical to the ordering one sees when running
      "$ git show-ref". Note that this follows simple lexical ordering of the
       ref names.
    name: Refs
  - description: |
      Code insights provides reports, annotations, and metrics to help you
      and your team improve code quality in pull requests throughout the code
      review process. Some of the available code insights are static analysis
      reports, security scan results, artifact links, unit tests, and build
      status.
    name: Reports
  - description: |
      The branching model resource is used to modify the branching model
      for a repository.

      You can use the branching model to define a branch based workflow
      for your repositories. When you map your workflow to branch types,
      you can ensure that branches are named consistently by configuring
      which branch types to make available.
    name: Branching model
  - description: |
      Repository owners and administrators can set branch management
      rules on a repository that control what can be pushed by whom.
      Through these rules, you can enforce a project or team
      workflow. For example, owners or administrators can:

      * Limit push powers
      * Prevent branch deletion
      * Prevent history re-writes (Git only)
    name: Branch restrictions
  - description: |
      Commit statuses provide a way to tag commits with meta data,
      like automated build results.
    name: Commit statuses
  - description: |
      The SSH resource allows you to manage SSH keys.
    name: Ssh
  - description: Access the list of download links associated with the repository.
    name: Downloads
  - description: |-
      Browse the source code in the repository and
                                    create new commits by uploading.
    name: Source
  - description: |
      The users resource allows you to access public information
      associated with a user account. Most resources in the users
      endpoint have been deprecated in favor of workspaces.
    name: Users
  - name: Search
  - description: |
      The teams resource has been deprecated, and the workspaces
      endpoint should be used instead.

      The teams resource returns all the teams that the authenticated
      user is associated with.
    name: Teams
  - description: |
      The wiki is a simple place to keep documents. Some people use it
      as their project home page. The wiki is a Git repository, so you
      can clone it and edit it like any other source files.
    name: Wiki
paths:
  /addon:
    parameters: []
    delete:
      tags:
        - Addon
      summary: Delete an app
      operationId: Addon_deleteUserApp
      security:
        - oauth2: []
        - basic: []
        - api_key: []
      description: |-
        Deletes the application for the user.

        This endpoint is intended to be used by Bitbucket Connect apps
        and only supports JWT authentication -- that is how Bitbucket
        identifies the particular installation of the app. Developers
        with applications registered in the "Develop Apps" section
        of Bitbucket Marketplace need not use this endpoint as
        updates for those applications can be sent out via the
        UI of that section.

        ```
        $ curl -X DELETE https://api.bitbucket.org/2.0/addon \
          -H "Authorization: JWT <JWT Token>"
        ```
      responses:
        '204':
          description: >-
            Request has succeeded. The application has been deleted for the
            user.
        '401':
          description: No authorization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: Improper authentication.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
    put:
      tags:
        - Addon
      summary: Update an installed app
      operationId: Addon_updateAppInstallation
      security:
        - oauth2: []
        - basic: []
        - api_key: []
      description: |-
        Updates the application installation for the user.

        This endpoint is intended to be used by Bitbucket Connect apps
        and only supports JWT authentication -- that is how Bitbucket
        identifies the particular installation of the app. Developers
        with applications registered in the "Develop Apps" section
        of Bitbucket need not use this endpoint as updates for those
        applications can be sent out via the UI of that section.

        Passing an empty body will update the installation using the
        existing descriptor URL.

        ```
        $ curl -X PUT https://api.bitbucket.org/2.0/addon \
          -H "Authorization: JWT <JWT Token>" \
          --header "Content-Type: application/json" \
          --data '{}'
        ```

        The new `descriptor` for the installation can be also provided
        in the body directly.

        ```
        $ curl -X PUT https://api.bitbucket.org/2.0/addon \
          -H "Authorization: JWT <JWT Token>" \
          --header "Content-Type: application/json" \
          --data '{"descriptor": $NEW_DESCRIPTOR}'
        ```

        In both these modes the URL of the descriptor cannot be changed. To
        change the descriptor location and upgrade an installation
        the request must be made exclusively with a `descriptor_url`.

         ```
        $ curl -X PUT https://api.bitbucket.org/2.0/addon \
          -H "Authorization: JWT <JWT Token>" \
          --header "Content-Type: application/json" \
          --data '{"descriptor_url": $NEW_URL}'
        ```

        The `descriptor_url` must exactly match the marketplace registration
        that Atlassian has for the application. Contact your Atlassian
        developer advocate to update this registration. Once the registration
        has been updated you may call this resource for each installation.

        Note that the scopes of the application cannot be increased
        in the new descriptor nor reduced to none.
      responses:
        '204':
          description: >-
            Request has succeeded. The installation has been updated to the new
            descriptor.
        '400':
          description: Scopes have increased or decreased to none.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: No authorization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: Improper authentication.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
  /addon/linkers:
    parameters: []
    get:
      tags:
        - Addon
      summary: List linkers for an app
      operationId: Addon_listLinkers
      security:
        - oauth2: []
        - basic: []
        - api_key: []
      description: |-
        Gets a list of all [linkers](https://dac-static.atlassian.com)
        for the authenticated application.
      responses:
        '200':
          description: Successful.
        '401':
          description: Authentication must use app JWT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
  /addon/linkers/{linker_key}:
    parameters:
      - description: |-
          The unique key of a [linker module](https://dac-static.atlassian.com)
          as defined in an application descriptor.
        name: linker_key
        in: path
        required: true
        schema:
          type: string
    get:
      tags:
        - Addon
      summary: Get a linker for an app
      operationId: Addon_getLinker
      security:
        - oauth2: []
        - basic: []
        - api_key: []
      description: >-
        Gets a [linker](https://dac-static.atlassian.com) specified by
        `linker_key`

        for the authenticated application.
      responses:
        '200':
          description: Successful.
        '401':
          description: Authentication must use app JWT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: The linker does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
  /addon/linkers/{linker_key}/values:
    parameters:
      - description: |-
          The unique key of a [linker module](https://dac-static.atlassian.com)
          as defined in an application descriptor.
        name: linker_key
        in: path
        required: true
        schema:
          type: string
    delete:
      tags:
        - Addon
      summary: Delete all linker values
      operationId: Addon_deleteLinkerValues
      security:
        - oauth2: []
        - basic: []
        - api_key: []
      description: |-
        Delete all [linker](https://dac-static.atlassian.com) values for the
        specified linker of the authenticated application.
      responses:
        '204':
          description: Successfully deleted the linker values.
        '401':
          description: Authentication must use app JWT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: The linker does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
    get:
      tags:
        - Addon
      summary: List linker values for a linker
      operationId: Addon_listLinkerValues
      security:
        - oauth2: []
        - basic: []
        - api_key: []
      description: >-
        Gets a list of all [linker](https://dac-static.atlassian.com) values for
        the

        specified linker of the authenticated application.


        A linker value lets applications supply values to modify its regular
        expression.


        The base regular expression must use a Bitbucket-specific match group
        `(?K)`

        which will be translated to `([\w\-]+)`. A value must match this
        pattern.


        [Read more about linker
        values](/cloud/bitbucket/modules/linker/#usingthebitbucketapitosupplyvalues)
      responses:
        '200':
          description: Successful.
        '401':
          description: Authentication must use app JWT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: The linker does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
    post:
      tags:
        - Addon
      summary: Create a linker value
      operationId: Addon_createLinkerValue
      security:
        - oauth2: []
        - basic: []
        - api_key: []
      description: >-
        Creates a [linker](https://dac-static.atlassian.com) value for the
        specified

        linker of authenticated application.


        A linker value lets applications supply values to modify its regular
        expression.


        The base regular expression must use a Bitbucket-specific match group
        `(?K)`

        which will be translated to `([\w\-]+)`. A value must match this
        pattern.


        [Read more about linker
        values](/cloud/bitbucket/modules/linker/#usingthebitbucketapitosupplyvalues)
      responses:
        '201':
          description: Successfully created the linker value.
        '401':
          description: Authentication must use app JWT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: The linker does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '409':
          description: The linker already has the value being added.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
    put:
      tags:
        - Addon
      summary: Update a linker value
      operationId: Addon_updateLinkerValues
      security:
        - oauth2: []
        - basic: []
        - api_key: []
      description: >-
        Bulk update [linker](https://dac-static.atlassian.com) values for the
        specified

        linker of the authenticated application.


        A linker value lets applications supply values to modify its regular
        expression.


        The base regular expression must use a Bitbucket-specific match group
        `(?K)`

        which will be translated to `([\w\-]+)`. A value must match this
        pattern.


        [Read more about linker
        values](/cloud/bitbucket/modules/linker/#usingthebitbucketapitosupplyvalues)
      responses:
        '204':
          description: Successfully updated the linker values.
        '400':
          description: Invalid input.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Authentication must use app JWT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: The linker does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
  /addon/linkers/{linker_key}/values/{value_id}:
    parameters:
      - description: |-
          The unique key of a [linker module](https://dac-static.atlassian.com)
          as defined in an application descriptor.
        name: linker_key
        in: path
        required: true
        schema:
          type: string
      - description: The numeric ID of the linker value.
        name: value_id
        in: path
        required: true
        schema:
          type: integer
    delete:
      tags:
        - Addon
      summary: Delete a linker value
      operationId: Addon_deleteLinkerValue
      security:
        - oauth2: []
        - basic: []
        - api_key: []
      description: |-
        Delete a single [linker](https://dac-static.atlassian.com) value
        of the authenticated application.
      responses:
        '204':
          description: Successfully deleted the linker value.
        '401':
          description: Authentication must use app JWT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: The linker value does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
    get:
      tags:
        - Addon
      summary: Get a linker value
      operationId: Addon_getLinkerValue
      security:
        - oauth2: []
        - basic: []
        - api_key: []
      description: |-
        Get a single [linker](https://dac-static.atlassian.com) value
        of the authenticated application.
      responses:
        '200':
          description: Successful.
        '401':
          description: Authentication must use app JWT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: The linker value does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
  /hook_events:
    parameters: []
    get:
      tags:
        - Webhooks
      summary: Get a webhook resource
      operationId: Webhooks_getResourceEvents
      security:
        - oauth2: []
        - basic: []
        - api_key: []
      description: |-
        Returns the webhook resource or subject types on which webhooks can
        be registered.

        Each resource/subject type contains an `events` link that returns the
        paginated list of specific events each individual subject type can
        emit.

        This endpoint is publicly accessible and does not require
        authentication or scopes.
      responses:
        '200':
          description: >-
            A mapping of resource/subject types pointing to their individual
            event types.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/subject_types'
              examples:
                response:
                  value:
                    repository:
                      links:
                        events:
                          href: https://api.bitbucket.org/2.0/hook_events/repository
                    workspace:
                      links:
                        events:
                          href: https://api.bitbucket.org/2.0/hook_events/workspace
  /hook_events/{subject_type}:
    parameters:
      - description: A resource or subject type.
        name: subject_type
        in: path
        required: true
        schema:
          type: string
          enum:
            - repository
            - workspace
    get:
      tags:
        - Webhooks
      summary: List subscribable webhook types
      operationId: Webhooks_listSubscribableTypes
      security:
        - oauth2: []
        - basic: []
        - api_key: []
      description: >-
        Returns a paginated list of all valid webhook events for the

        specified entity.

        **The team and user webhooks are deprecated, and you should use
        workspace instead.

        For more information, see [the
        announcement](https://developer.atlassian.com/cloud/bitbucket/bitbucket-api-teams-deprecation/).**


        This is public data that does not require any scopes or authentication.


        NOTE: The example response is a truncated response object for the
        `workspace` `subject_type`.

        We return the same structure for the other `subject_type` objects.
      responses:
        '200':
          description: A paginated list of webhook types available to subscribe on.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_hook_events'
              examples:
                response:
                  value:
                    page: 1
                    pagelen: 30
                    size: 4
                    values:
                      - description: Whenever a repository push occurs
                        category: Repository
                        event: repo:push
                        label: Push
                      - description: Whenever a repository fork occurs
                        category: Repository
                        event: repo:fork
                        label: Fork
                      - description: Whenever a repository import occurs
                        category: Repository
                        event: repo:imported
                        label: Import
                      - description: When someone has approved a pull request
                        category: Pull Request
                        label: Approved
                        event: pullrequest:approved
        '404':
          description: If an invalid `{subject_type}` value was specified.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
  /pullrequests/{selected_user}:
    parameters:
      - description: >
          This can either be the username of the pull request author, the
          author's UUID

          surrounded by curly-braces, for example: `{account UUID}`, or the
          author's Atlassian ID.
        name: selected_user
        in: path
        required: true
        schema:
          type: string
    get:
      tags:
        - Pullrequests
      summary: List pull requests for a user
      operationId: Pullrequests_listForUser
      security:
        - oauth2:
            - pullrequest
        - basic: []
        - api_key: []
      description: >-
        Returns all pull requests authored by the specified user.


        By default only open pull requests are returned. This can be controlled

        using the `state` query parameter. To retrieve pull requests that are

        in one of multiple states, repeat the `state` parameter for each

        individual state.


        This endpoint also supports filtering and sorting of the results. See

        [filtering and sorting](/cloud/bitbucket/rest/intro/#filtering) for more
        details.
      parameters:
        - description: >-
            Only return pull requests that are in this state. This parameter can
            be repeated.
          name: state
          in: query
          schema:
            type: string
            enum:
              - OPEN
              - MERGED
              - DECLINED
              - SUPERSEDED
      responses:
        '200':
          description: All pull requests authored by the specified user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_pullrequests'
        '404':
          description: If the specified user does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
  /repositories:
    parameters: []
    get:
      tags:
        - Repositories
      summary: List public repositories
      operationId: Repositories_listPublicRepositories
      security:
        - oauth2:
            - repository
        - basic: []
        - api_key: []
      description: >-
        Returns a paginated list of all public repositories.


        This endpoint also supports filtering and sorting of the results. See

        [filtering and sorting](/cloud/bitbucket/rest/intro/#filtering) for more
        details.
      parameters:
        - description: |-
            Filter the results to include only repositories created on or
            after this [ISO-8601](https://en.wikipedia.org/wiki/ISO_8601)
             timestamp. Example: `YYYY-MM-DDTHH:mm:ss.sssZ`
          name: after
          in: query
          required: false
          schema:
            type: string
        - description: >
            Filters the result based on the authenticated user's role on each
            repository.


            * **member**: returns repositories to which the user has explicit
            read access

            * **contributor**: returns repositories to which the user has
            explicit write access

            * **admin**: returns repositories to which the user has explicit
            administrator access

            * **owner**: returns all repositories owned by the current user
          name: role
          in: query
          required: false
          schema:
            type: string
            enum:
              - admin
              - contributor
              - member
              - owner
        - description: >
            Query string to narrow down the response as per [filtering and
            sorting](/cloud/bitbucket/rest/intro/#filtering).

            `role` parameter must also be specified.
          name: q
          in: query
          required: false
          schema:
            type: string
        - description: >
            Field by which the results should be sorted as per [filtering and
            sorting](/cloud/bitbucket/rest/intro/#filtering).
          name: sort
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: All public repositories.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_repositories'
  /repositories/{workspace}:
    parameters:
      - description: |
          This can either be the workspace ID (slug) or the workspace UUID
          surrounded by curly-braces, for example: `{workspace UUID}`.
        name: workspace
        in: path
        required: true
        schema:
          type: string
    get:
      tags:
        - Repositories
      summary: List repositories in a workspace
      operationId: Repositories_listInWorkspace
      security:
        - oauth2:
            - repository
        - basic: []
        - api_key: []
      description: >-
        Returns a paginated list of all repositories owned by the specified

        workspace.


        The result can be narrowed down based on the authenticated user's role.


        E.g. with `?role=contributor`, only those repositories that the

        authenticated user has write access to are returned (this includes any

        repo the user is an admin on, as that implies write access).


        This endpoint also supports filtering and sorting of the results. See

        [filtering and sorting](/cloud/bitbucket/rest/intro/#filtering) for more
        details.
      parameters:
        - description: >

            Filters the result based on the authenticated user's role on each
            repository.


            * **member**: returns repositories to which the user has explicit
            read access

            * **contributor**: returns repositories to which the user has
            explicit write access

            * **admin**: returns repositories to which the user has explicit
            administrator access

            * **owner**: returns all repositories owned by the current user
          name: role
          in: query
          required: false
          schema:
            type: string
            enum:
              - admin
              - contributor
              - member
              - owner
        - description: >

            Query string to narrow down the response as per [filtering and
            sorting](/cloud/bitbucket/rest/intro/#filtering).
          name: q
          in: query
          required: false
          schema:
            type: string
        - description: >-

            Field by which the results should be sorted as per [filtering and
            sorting](/cloud/bitbucket/rest/intro/#filtering).
                    
          name: sort
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: The repositories owned by the specified account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_repositories'
        '404':
          description: If the specified account does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '410':
          description: If the specified account marked as spam.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      x-atlassian-oauth2-scopes:
        - state: Current
          scheme: oauth2
          scopes:
            - read:repository:bitbucket
  /repositories/{workspace}/{repo_slug}:
    parameters:
      - description: |
          This can either be the repository slug or the UUID of the repository,
          surrounded by curly-braces, for example: `{repository UUID}`.
        name: repo_slug
        in: path
        required: true
        schema:
          type: string
      - description: |
          This can either be the workspace ID (slug) or the workspace UUID
          surrounded by curly-braces, for example: `{workspace UUID}`.
        name: workspace
        in: path
        required: true
        schema:
          type: string
    delete:
      tags:
        - Repositories
      summary: Delete a repository
      operationId: Repositories_deleteRepository
      security:
        - oauth2:
            - repository:delete
        - basic: []
        - api_key: []
      description: |-
        Deletes the repository. This is an irreversible operation.

        This does not affect its forks.
      parameters:
        - description: >
            If a repository has been moved to a new location, use this parameter
            to

            show users a friendly message in the Bitbucket UI that the
            repository

            has moved to a new location. However, a GET to this endpoint will
            still

            return a 404.
          name: redirect_to
          in: query
          required: false
          schema:
            type: string
      responses:
        '204':
          description: Indicates successful deletion.
        '403':
          description: >-
            If the caller either does not have admin access to the repository,
            or the repository is set to read-only.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the repository does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      x-atlassian-oauth2-scopes:
        - state: Current
          scheme: oauth2
          scopes:
            - delete:repository:bitbucket
    get:
      tags:
        - Repositories
      summary: Get a repository
      operationId: Repositories_getRepositoryDetails
      security:
        - oauth2:
            - repository
        - basic: []
        - api_key: []
      description: Returns the object describing this repository.
      responses:
        '200':
          description: The repository object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/repository'
        '403':
          description: >-
            If the repository is private and the authenticated user does not
            have access to it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If no repository exists at this location.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      x-atlassian-oauth2-scopes:
        - state: Current
          scheme: oauth2
          scopes:
            - read:repository:bitbucket
    post:
      tags:
        - Repositories
      summary: Create a repository
      operationId: Repositories_createRepo
      security:
        - oauth2:
            - repository:admin
        - basic: []
        - api_key: []
      description: >-
        Creates a new repository.


        Note: In order to set the project for the newly created repository,

        pass in either the project key or the project UUID as part of the

        request body as shown in the examples below:


        ```

        $ curl -X POST -H "Content-Type: application/json" -d '{
            "scm": "git",
            "project": {
                "key": "MARS"
            }
        }' https://api.bitbucket.org/2.0/repositories/teamsinspace/hablanding

        ```


        or


        ```

        $ curl -X POST -H "Content-Type: application/json" -d '{
            "scm": "git",
            "project": {
                "key": "{ba516952-992a-4c2d-acbd-17d502922f96}"
            }
        }' https://api.bitbucket.org/2.0/repositories/teamsinspace/hablanding

        ```


        The project must be assigned for all repositories. If the project is not
        provided,

        the repository is automatically assigned to the oldest project in the
        workspace.


        Note: In the examples above, the workspace ID `teamsinspace`,

        and/or the repository name `hablanding` can be replaced by UUIDs.
      requestBody:
        description: >-
          The repository that is to be created. Note that most object elements
          are optional. Elements "owner" and "full_name" are ignored as the URL
          implies them.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/repository'
      responses:
        '200':
          description: The newly created repository.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/repository'
        '400':
          description: >-
            If the input document was invalid, or if the caller lacks the
            privilege to create repositories under the targeted account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: If the request was not authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      x-atlassian-oauth2-scopes:
        - state: Current
          scheme: oauth2
          scopes:
            - admin:repository:bitbucket
    put:
      tags:
        - Repositories
      summary: Update a repository
      operationId: Repositories_createOrUpdate
      security:
        - oauth2:
            - repository:admin
        - basic: []
        - api_key: []
      description: |-
        Since this endpoint can be used to both update and to create a
        repository, the request body depends on the intent.

        #### Creation

        See the POST documentation for the repository endpoint for an example
        of the request body.

        #### Update

        Note: Changing the `name` of the repository will cause the location to
        be changed. This is because the URL of the repo is derived from the
        name (a process called slugification). In such a scenario, it is
        possible for the request to fail if the newly created slug conflicts
        with an existing repository's slug. But if there is no conflict,
        the new location will be returned in the `Location` header of the
        response.
      requestBody:
        description: |
          The repository that is to be updated.

          Note that the elements "owner" and "full_name" are ignored since the
          URL implies them.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/repository'
      responses:
        '200':
          description: The existing repository has been updated
          headers:
            Location:
              description: |-
                The location of the repository. This header is only
                provided when the repository's name is changed.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/repository'
        '201':
          description: A new repository has been created
          headers:
            Location:
              description: The location of the newly created repository
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/repository'
        '400':
          description: >-
            If the input document was invalid, or if the caller lacks the
            privilege to create repositories under the targeted account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: If the request was not authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      x-atlassian-oauth2-scopes:
        - state: Current
          scheme: oauth2
          scopes:
            - admin:repository:bitbucket
  /repositories/{workspace}/{repo_slug}/branch-restrictions:
    parameters:
      - description: |
          This can either be the repository slug or the UUID of the repository,
          surrounded by curly-braces, for example: `{repository UUID}`.
        name: repo_slug
        in: path
        required: true
        schema:
          type: string
      - description: |
          This can either be the workspace ID (slug) or the workspace UUID
          surrounded by curly-braces, for example: `{workspace UUID}`.
        name: workspace
        in: path
        required: true
        schema:
          type: string
    get:
      tags:
        - Branch restrictions
      summary: List branch restrictions
      operationId: BranchRestrictions_listBranchRestrictions
      security:
        - oauth2:
            - repository:admin
        - basic: []
        - api_key: []
      description: |-
        Returns a paginated list of all branch restrictions on the
        repository.
      parameters:
        - description: Branch restrictions of this type
          name: kind
          in: query
          required: false
          schema:
            type: string
        - description: Branch restrictions applied to branches of this pattern
          name: pattern
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: A paginated list of branch restrictions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_branchrestrictions'
        '401':
          description: If the request was not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: >-
            If the authenticated user does not have admin access to the
            repository
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the repository does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      x-atlassian-oauth2-scopes:
        - state: Current
          scheme: oauth2
          scopes:
            - admin:repository:bitbucket
    post:
      tags:
        - Branch restrictions
      summary: Create a branch restriction rule
      operationId: BranchRestrictions_createRule
      security:
        - oauth2:
            - repository:admin
        - basic: []
        - api_key: []
      description: >-
        Creates a new branch restriction rule for a repository.


        `kind` describes what will be restricted. Allowed values include:

        `push`, `force`, `delete`, `restrict_merges`,
        `require_tasks_to_be_completed`,

        `require_approvals_to_merge`,
        `require_default_reviewer_approvals_to_merge`,

        `require_no_changes_requested`, `require_passing_builds_to_merge`,
        `require_commits_behind`,

        `reset_pullrequest_approvals_on_change`,
        `smart_reset_pullrequest_approvals`,

        `reset_pullrequest_changes_requested_on_change`,
        `require_all_dependencies_merged`,

        `enforce_merge_checks`, and `allow_auto_merge_when_builds_pass`.


        Different kinds of branch restrictions have different requirements:


        * `push` and `restrict_merges` require `users` and `groups` to be
          specified. Empty lists are allowed, in which case permission is
          denied for everybody.

        The restriction applies to all branches that match. There are

        two ways to match a branch. It is configured in `branch_match_kind`:


        1. `glob`: Matches a branch against the `pattern`. A `'*'` in
           `pattern` will expand to match zero or more characters, and every
           other character matches itself. For example, `'foo*'` will match
           `'foo'` and `'foobar'`, but not `'barfoo'`. `'*'` will match all
           branches.
        2. `branching_model`: Matches a branch against the repository's
           branching model. The `branch_type` controls the type of branch
           to match. Allowed values include: `production`, `development`,
           `bugfix`, `release`, `feature` and `hotfix`.

        The combination of `kind` and match must be unique. This means that

        two `glob` restrictions in a repository cannot have the same `kind` and

        `pattern`. Additionally, two `branching_model` restrictions in a

        repository cannot have the same `kind` and `branch_type`.


        `users` and `groups` are lists of users and groups that are except from

        the restriction. They can only be configured in `push` and

        `restrict_merges` restrictions. The `push` restriction stops a user

        pushing to matching branches unless that user is in `users` or is a

        member of a group in `groups`. The `restrict_merges` stops a user

        merging pull requests to matching branches unless that user is in

        `users` or is a member of a group in `groups`. Adding new users or

        groups to an existing restriction should be done via `PUT`.


        Note that branch restrictions with overlapping matchers is allowed,

        but the resulting behavior may be surprising.
      requestBody:
        description: The new rule
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/branchrestriction'
        required: true
      responses:
        '201':
          description: A paginated list of branch restrictions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/branchrestriction'
        '401':
          description: If the request was not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: >-
            If the authenticated user does not have admin access to the
            repository
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the repository does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      x-atlassian-oauth2-scopes:
        - state: Current
          scheme: oauth2
          scopes:
            - admin:repository:bitbucket
  /repositories/{workspace}/{repo_slug}/branch-restrictions/{id}:
    parameters:
      - description: The restriction rule's id
        name: id
        in: path
        required: true
        schema:
          type: string
      - description: |
          This can either be the repository slug or the UUID of the repository,
          surrounded by curly-braces, for example: `{repository UUID}`.
        name: repo_slug
        in: path
        required: true
        schema:
          type: string
      - description: |
          This can either be the workspace ID (slug) or the workspace UUID
          surrounded by curly-braces, for example: `{workspace UUID}`.
        name: workspace
        in: path
        required: true
        schema:
          type: string
    delete:
      tags:
        - Branch restrictions
      summary: Delete a branch restriction rule
      operationId: BranchRestrictions_deleteRule
      security:
        - oauth2:
            - repository:admin
        - basic: []
        - api_key: []
      description: Deletes an existing branch restriction rule.
      responses:
        '204':
          description: ''
        '401':
          description: If the request was not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: >-
            If the authenticated user does not have admin access to the
            repository
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the repository or branch restriction id does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      x-atlassian-oauth2-scopes:
        - state: Current
          scheme: oauth2
          scopes:
            - admin:repository:bitbucket
    get:
      tags:
        - Branch restrictions
      summary: Get a branch restriction rule
      operationId: BranchRestrictions_getRule
      security:
        - oauth2:
            - repository:admin
        - basic: []
        - api_key: []
      description: Returns a specific branch restriction rule.
      responses:
        '200':
          description: The branch restriction rule
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/branchrestriction'
        '401':
          description: If the request was not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: >-
            If the authenticated user does not have admin access to the
            repository
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the repository or branch restriction id does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      x-atlassian-oauth2-scopes:
        - state: Current
          scheme: oauth2
          scopes:
            - admin:repository:bitbucket
    put:
      tags:
        - Branch restrictions
      summary: Update a branch restriction rule
      operationId: BranchRestrictions_updateRule
      security:
        - oauth2:
            - repository:admin
        - basic: []
        - api_key: []
      description: >-
        Updates an existing branch restriction rule.


        Fields not present in the request body are ignored.


        See
        [`POST`](/cloud/bitbucket/rest/api-group-branch-restrictions/#api-repositories-workspace-repo-slug-branch-restrictions-post)
        for details.
      requestBody:
        description: The new version of the existing rule
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/branchrestriction'
        required: true
      responses:
        '200':
          description: The updated branch restriction rule
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/branchrestriction'
        '401':
          description: If the request was not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: >-
            If the authenticated user does not have admin access to the
            repository
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the repository or branch restriction id does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      x-atlassian-oauth2-scopes:
        - state: Current
          scheme: oauth2
          scopes:
            - admin:repository:bitbucket
  /repositories/{workspace}/{repo_slug}/branching-model:
    parameters:
      - description: |
          This can either be the repository slug or the UUID of the repository,
          surrounded by curly-braces, for example: `{repository UUID}`.
        name: repo_slug
        in: path
        required: true
        schema:
          type: string
      - description: |
          This can either be the workspace ID (slug) or the workspace UUID
          surrounded by curly-braces, for example: `{workspace UUID}`.
        name: workspace
        in: path
        required: true
        schema:
          type: string
    get:
      tags:
        - Branching model
      summary: Get the branching model for a repository
      operationId: BranchingModel_getBranchingModel
      security:
        - oauth2:
            - repository
        - basic: []
        - api_key: []
      description: |-
        Return the branching model as applied to the repository. This view is
        read-only. The branching model settings can be changed using the
        [settings](https://dac-static.atlassian.com) API.

        The returned object:

        1. Always has a `development` property. `development.branch` contains
           the actual repository branch object that is considered to be the
           `development` branch. `development.branch` will not be present
           if it does not exist.
        2. Might have a `production` property. `production` will not
           be present when `production` is disabled.
           `production.branch` contains the actual branch object that is
           considered to be the `production` branch. `production.branch` will
           not be present if it does not exist.
        3. Always has a `branch_types` array which contains all enabled branch
           types.
      responses:
        '200':
          description: The branching model object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/branching_model'
              examples:
                response:
                  value:
                    development:
                      name: master
                      branch:
                        type: branch
                        name: master
                        target:
                          hash: 16dffcb0de1b22e249db6799532074cf32efe80f
                      use_mainbranch: true
                    production:
                      name: production
                      branch:
                        type: branch
                        name: production
                        target:
                          hash: 16dffcb0de1b22e249db6799532074cf32efe80f
                      use_mainbranch: false
                    branch_types:
                      - kind: release
                        prefix: release/
                      - kind: hotfix
                        prefix: hotfix/
                      - kind: feature
                        prefix: feature/
                      - kind: bugfix
                        prefix: bugfix/
                    type: branching_model
                    links:
                      self:
                        href: https://api.bitbucket.org/.../branching-model
        '401':
          description: If the request was not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: >-
            If the authenticated user does not have read access to the
            repository
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the repository does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      x-atlassian-oauth2-scopes:
        - state: Current
          scheme: oauth2
          scopes:
            - read:repository:bitbucket
  /repositories/{workspace}/{repo_slug}/branching-model/settings:
    parameters:
      - description: |
          This can either be the repository slug or the UUID of the repository,
          surrounded by curly-braces, for example: `{repository UUID}`.
        name: repo_slug
        in: path
        required: true
        schema:
          type: string
      - description: |
          This can either be the workspace ID (slug) or the workspace UUID
          surrounded by curly-braces, for example: `{workspace UUID}`.
        name: workspace
        in: path
        required: true
        schema:
          type: string
    get:
      tags:
        - Branching model
      summary: Get the branching model config for a repository
      operationId: BranchingModel_getRepositoryBranchingSettings
      security:
        - oauth2:
            - repository:admin
        - basic: []
        - api_key: []
      description: >-
        Return the branching model configuration for a repository. The returned

        object:


        1. Always has a `development` property for the development branch.

        2. Always a `production` property for the production branch. The
           production branch can be disabled.
        3. The `branch_types` contains all the branch types.


        This is the raw configuration for the branching model. A client

        wishing to see the branching model with its actual current branches may

        find the [active model
        API](/cloud/bitbucket/rest/api-group-branching-model/#api-repositories-workspace-repo-slug-branching-model-get)
        more useful.
      responses:
        '200':
          description: The branching model configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/branching_model_settings'
              examples:
                response:
                  value:
                    development:
                      is_valid: true
                      name: 'null'
                      use_mainbranch: true
                    production:
                      is_valid: true
                      name: production
                      use_mainbranch: false
                      enabled: false
                    branch_types:
                      - kind: release
                        enabled: true
                        prefix: release/
                      - kind: hotfix
                        enabled: true
                        prefix: hotfix/
                      - kind: feature
                        enabled: true
                        prefix: feature/
                      - kind: bugfix
                        enabled: false
                        prefix: bugfix/
                    type: branching_model_settings
                    links:
                      self:
                        href: https://api.bitbucket.org/.../branching-model/settings
        '401':
          description: If the request was not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: >-
            If the authenticated user does not have admin access to the
            repository
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the repository does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      x-atlassian-oauth2-scopes:
        - state: Current
          scheme: oauth2
          scopes:
            - admin:repository:bitbucket
    put:
      tags:
        - Branching model
      summary: Update the branching model config for a repository
      operationId: BranchingModel_updateConfig
      security:
        - oauth2:
            - repository:admin
        - basic: []
        - api_key: []
      description: |-
        Update the branching model configuration for a repository.

        The `development` branch can be configured to a specific branch or to
        track the main branch. When set to a specific branch it must
        currently exist. Only the passed properties will be updated. The
        properties not passed will be left unchanged. A request without a
        `development` property will leave the development branch unchanged.

        It is possible for the `development` branch to be invalid. This
        happens when it points at a specific branch that has been
        deleted. This is indicated in the `is_valid` field for the branch. It is
        not possible to update the settings for `development` if that
        would leave the branch in an invalid state. Such a request will be
        rejected.

        The `production` branch can be a specific branch, the main
        branch or disabled. When set to a specific branch it must currently
        exist. The `enabled` property can be used to enable (`true`) or
        disable (`false`) it. Only the passed properties will be updated. The
        properties not passed will be left unchanged. A request without a
        `production` property will leave the production branch unchanged.

        It is possible for the `production` branch to be invalid. This
        happens when it points at a specific branch that has been
        deleted. This is indicated in the `is_valid` field for the branch. A
        request that would leave `production` enabled and invalid will be
        rejected. It is possible to update `production` and make it invalid if
        it would also be left disabled.

        The `branch_types` property contains the branch types to be updated.
        Only the branch types passed will be updated. All updates will be
        rejected if it would leave the branching model in an invalid state.
        For branch types this means that:

        1. The prefixes for all enabled branch types are valid. For example,
           it is not possible to use '*' inside a Git prefix.
        2. A prefix of an enabled branch type must not be a prefix of another
           enabled branch type. This is to ensure that a branch can be easily
           classified by its prefix unambiguously.

        It is possible to store an invalid prefix if that branch type would be
        left disabled. Only the passed properties will be updated. The
        properties not passed will be left unchanged. Each branch type must
        have a `kind` property to identify it.

        There is currently a side effect when using this API endpoint. If the
        repository is inheriting branching model settings from its project,
        updating the branching model for this repository will disable the
        project setting inheritance.


        We have deprecated this side effect and will remove it on 1 August 2022.
      responses:
        '200':
          description: The updated branching model configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/branching_model_settings'
              examples:
                response:
                  value:
                    development:
                      use_mainbranch: true
                    production:
                      enabled: true
                      use_mainbranch: false
                      name: production
                    branch_types:
                      - kind: bugfix
                        enabled: true
                        prefix: bugfix/
                      - kind: feature
                        enabled: true
                        prefix: feature/
                      - kind: hotfix
                        prefix: hotfix/
                      - kind: release
                        enabled: false
        '400':
          description: If the request contains invalid branching model configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: If the request was not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: >-
            If the authenticated user does not have admin access to the
            repository
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: If the repository does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      x-atlassian-oauth2-scopes:
        - state: Current
          scheme: oauth2
          scopes:
            - admin:repository:bitbucket
  /repositories/{workspace}/{repo_slug}/commit/{commit}:
    parameters:
      - description: The commit's SHA1.
        name: commit
        in: path
        required: true
        schema:
          type: string
      - description: |
          This can either be the repository slug or the UUID of the repository,
          surrounded by curly-braces, for example: `{repository UUID}`.
        name: repo_slug
        in: path
        required: true
        schema:
          type: string
      - description: |
          This can either be the workspace ID (slug) or the workspace UUID
          surrounded by curly-braces, for example: `{workspace UUID}`.
        name: workspace
        in: path
        required: true
        schema:
          type: string
    get:
      tags:
        - Commits
      summary: Get a commit
      operationId: Commits_getCommitDetails
      security:
        - oauth2:
            - repository
        - basic: []
        - api_key: []
      description: Returns the specified commit.
      responses:
        '200':
          description: The commit object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/commit'
              examples:
                response:
                  value:
                    summary:
                      raw: Add a GEORDI_OUTPUT_DIR setting
                      markup: markdown
                      html: <p>Add a GEORDI_OUTPUT_DIR setting</p>
                      type: rendered
                    rendered:
                      message:
                        raw: Add a GEORDI_OUTPUT_DIR setting
                        markup: markdown
                        html: <p>Add a GEORDI_OUTPUT_DIR setting</p>
                        type: rendered
                    hash: f7591a13eda445d9a9167f98eb870319f4b6c2d8
                    repository:
                      name: geordi
                      type: repository
                      full_name: bitbucket/geordi
                      links:
                        self:
                          href: >-
                            https://api.bitbucket.org/2.0/repositories/bitbucket/geordi
                        html:
                          href: https://bitbucket.org/bitbucket/geordi
                        avatar:
                          href: >-
                            https://bytebucket.org/ravatar/%7B85d08b4e-571d-44e9-a507-fa476535aa98%7D?ts=1730260
                      uuid: '{85d08b4e-571d-44e9-a507-fa476535aa98}'
                    links:
                      self:
                        href: >-
                          https://api.bitbucket.org/2.0/repositories/bitbucket/geordi/commit/f7591a13eda445d9a9167f98eb870319f4b6c2d8
                      comments:
                        href: >-
                          https://api.bitbucket.org/2.0/repositories/bitbucket/geordi/commit/f7591a13eda445d9a9167f98eb870319f4b6c2d8/comments
                      patch:
                        href: >-
                          https://api.bitbucket.org/2.0/repositories/bitbucket/geordi/patch/f7591a13eda445d9a9167f98eb870319f4b6c2d8
                      html:
                        href: >-
                          https://bitbucket.org/bitbucket/geordi/commits/f7591a13eda445d9a9167f98eb870319f4b6c2d8
                      diff:
                        href: >-
                          https://api.bitbucket.org/2.0/repositories/bitbucket/geordi/diff/f7591a13eda445d9a9167f98eb870319f4b6c2d8
                      approve:
                        href: >-
                          https://api.bitbucket.org/2.0/repositories/bitbucket/geordi/commit/f7591a13eda445d9a9167f98eb870319f4b6c2d8/approve
                      statuses:
                        href: >-
                          https://api.bitbucket.org/2.0/repositories/bitbucket/geordi/commit/f7591a13eda445d9a9167f98eb870319f4b6c2d8/statuses
                    author:
                      raw: Brodie Rao <a@b.c>
                      type: author
                      user:
                        display_name: Brodie Rao
                        uuid: '{9484702e-c663-4afd-aefb-c93a8cd31c28}'
                        links:
                          self:
                            href: >-
                              https://api.bitbucket.org/2.0/users/%7B9484702e-c663-4afd-aefb-c93a8cd31c28%7D
                          html:
                            href: >-
                              https://bitbucket.org/%7B9484702e-c663-4afd-aefb-c93a8cd31c28%7D/
                          avatar:
                            href: >-
                              https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/557058:3aae1e05-702a-41e5-81c8-f36f29afb6ca/613070db-28b0-421f-8dba-ae8a87e2a5c7/128
                        type: user
                        nickname: brodie
                        account_id: 557058:3aae1e05-702a-41e5-81c8-f36f29afb6ca
                    participants: []
                    parents:
                      - type: commit
                        hash: f06941fec4ef6bcb0c2456927a0cf258fa4f899b
                        links:
                          self:
                            href: >-
                              https://api.bitbucket.org/2.0/repositories/bitbucket/geordi/commit/f06941fec4ef6bcb0c2456927a0cf258fa4f899b
                          html:
                            href: >-
                              https://bitbucket.org/bitbucket/geordi/commits/f06941fec4ef6bcb0c2456927a0cf258fa4f899b
                    date: '2012-07-16T19:37:54+00:00'
                    message: Add a GEORDI_OUTPUT_DIR setting
                    type: commit
        '404':
          description: If the specified commit or repository does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      x-atlassian-oauth2-scopes:
        - state: Current
          scheme: oauth2
          scopes:
            - read:repository:bitbucket
  /repositories/{workspace}/{repo_slug}/commit/{commit}/approve:
    parameters:
      - description: The commit's SHA1.
        name: commit
        in: path
        required: true
        schema:
          type: string
      - description: |
          This can either be the repository slug or the UUID of the repository,
          surrounded by curly-braces, for example: `{repository UUID}`.
        name: repo_slug
        in: path
        required: true
        schema:
          type: string
      - description: |
          This can either be the workspace ID (slug) or the workspace UUID
          surrounded by curly-braces, for example: `{workspace UUID}`.
        name: workspace
        in: path
        required: true
        schema:
          type: string
    delete:
      tags:
        - Commits
      summary: Unapprove a commit
      operationId: Commits_unapproveCommit
      security:
        - oauth2:
            - repository:write
        - basic: []
        - api_key: []
      description: |-
        Redact the authenticated user's approval of the specified commit.

        This operation is only available to users that have explicit access to
        the repository. In contrast, just the fact that a repository is
        publicly accessible to users does not give them the ability to approve
        commits.
      responses:
        '204':
          description: >-
            An empty response indicating the authenticated user's approval has
            been withdrawn.
        '404':
          description: If the specified commit, or the repository does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      x-atlassian-oauth2-scopes:
        - state: Current
          scheme: oauth2
          scopes:
            - write:repository:bitbucket
    post:
      tags:
        - Commits
      summary: Approve a commit
      operationId: Commits_approveCommit
      security:
        - oauth2:
            - repository:write
        - basic: []
        - api_key: []
      description: |-
        Approve the specified commit as the authenticated user.

        This operation is only available to users that have explicit access to
        the repository. In contrast, just the fact that a repository is
        publicly accessible to users does not give them the ability to approve
        commits.
      responses:
        '200':
          description: >-
            The `participant` object recording that the authenticated user
            approved the commit.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/participant'
        '404':
          description: If the specified commit, or the repository does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      x-atlassian-oauth2-scopes:
        - state: Current
          scheme: oauth2
          scopes:
            - read:repository:bitbucket
            - write:repository:bitbucket
  /repositories/{workspace}/{repo_slug}/commit/{commit}/comments:
    parameters:
      - description: The commit's SHA1.
        name: commit
        in: path
        required: true
        schema:
          type: string
      - description: |
          This can either be the repository slug or the UUID of the repository,
          surrounded by curly-braces, for example: `{repository UUID}`.
        name: repo_slug
        in: path
        required: true
        schema:
          type: string
      - description: |
          This can either be the workspace ID (slug) or the workspace UUID
          surrounded by curly-braces, for example: `{workspace UUID}`.
        name: workspace
        in: path
        required: true
        schema:
          type: string
    get:
      tags:
        - Commits
      summary: List a commit's comments
      operationId: Commits_listComments
      security:
        - oauth2:
            - repository
        - basic: []
        - api_key: []
      description: |-
        Returns the commit's comments.

        This includes both global and inline comments.

        The default sorting is oldest to newest and can be overridden with
        the `sort` query parameter.
      parameters:
        - description: |
            Query string to narrow down the response as per
            [filtering and sorting](/cloud/bitbucket/rest/intro/#filtering).
          name: q
          in: query
          required: false
          schema:
            type: string
        - description: |
            Field by which the results should be sorted as per
            [filtering and sorting](/cloud/bitbucket/rest/intro/#filtering).
          name: sort
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: A paginated list of commit comments.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_commit_comments'
      x-atlassian-oauth2-scopes:
        - state: Current
          scheme: oauth2
          scopes:
            - read:repository:bitbucket
    post:
      tags:
        - Commits
      summary: Create comment for a commit
      operationId: Commits_createComment
      security:
        - oauth2:
            - repository
        - basic: []
        - api_key: []
      description: >-
        Creates new comment on the specified commit.


        To post a reply to an existing comment, include the `parent.id` field:


        ```

        $ curl
        https://api.bitbucket.org/2.0/repositories/atlassian/prlinks/commit/db9ba1e031d07a02603eae0e559a7adc010257fc/comments/
        \
          -X POST -u evzijst \
          -H 'Content-Type: application/json' \
          -d '{"content": {"raw": "One more thing!"},
               "parent": {"id": 5728901}}'
        ```
      requestBody:
        description: The specified comment.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/commit_comment'
        required: true
      responses:
        '201':
          description: The newly created comment.
          headers:
            Location:
              description: The location of the newly created comment.
              schema:
                type: string
        '400':
          description: >-
            If the comment was detected as spam, or if the parent comment is not
            attached to the same node as the new comment
        '404':
          description: If a parent ID was passed in that cannot be found
      x-atlassian-oauth2-scopes:
        - state: Current
          scheme: oauth2
          scopes:
            - read:repository:bitbucket
  /repositories/{workspace}/{repo_slug}/commit/{commit}/comments/{comment_id}:
    parameters:
      - description: The id of the comment.
        name: comment_id
        in: path
        required: true
        schema:
          type: integer
      - description: The commit's SHA1.
        name: commit
        in: path
        required: true
        schema:
          type: string
      - description: |
          This can either be the repository slug or the UUID of the repository,
          surrounded by curly-braces, for example: `{repository UUID}`.
        name: repo_slug
        in: path
        required: true
        schema:
          type: string
      - description: |
          This can either be the workspace ID (slug) or the workspace UUID
          surrounded by curly-braces, for example: `{workspace UUID}`.
        name: workspace
        in: path
        required: true
        schema:
          type: string
    delete:
      tags:
        - Commits
      summary: Delete a commit comment
      operationId: Commits_deleteComment
      security:
        - oauth2:
            - repository
        - basic: []
        - api_key: []
      description: >-
        Deletes the specified commit comment.


        Note that deleting comments that have visible replies that point to

        them will not really delete the resource. This is to retain the
        integrity

        of the original comment tree. Instead, the `deleted` element is set to

        `true` and the content is blanked out. The comment will continue to be

        returned by the collections and self endpoints.
      responses:
        '204':
          description: >-
            Indicates the comment was deleted by this action or a previous
            delete.
        '404':
          description: If the comment doesn't exist
      x-atlassian-oauth2-scopes:
        - state: Current
          scheme: oauth2
          scopes:
            - read:repository:bitbucket
    get:
      tags:
        - Commits
      summary: Get a commit comment
      operationId: Commits_getCommitComment
      security:
        - oauth2:
            - repository
        - basic: []
        - api_key: []
      description: Returns the specified commit comment.
      responses:
        '200':
          description: The commit comment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/commit_comment'
      x-atlassian-oauth2-scopes:
        - state: Current
          scheme: oauth2
          scopes:
            - read:repository:bitbucket
    put:
      tags:
        - Commits
      summary: Update a commit comment
      operationId: Commits_updateComment
      security:
        - oauth2:
            - repository
        - basic: []
        - api_key: []
      description: >-
        Used to update the contents of a comment. Only the content of the
        comment can be updated.


        ```

        $ curl
        https://api.bitbucket.org/2.0/repositories/atlassian/prlinks/commit/7f71b5/comments/5728901
        \
          -X PUT -u evzijst \
          -H 'Content-Type: application/json' \
          -d '{"content": {"raw": "One more thing!"}'
        ```
      requestBody:
        description: The updated comment.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/commit_comment'
        required: true
      responses:
        '201':
          description: The newly updated comment.
          headers:
            Location:
              description: The location of the newly updated comment.
              schema:
                type: string
        '400':
          description: If the comment update was detected as spam
      x-atlassian-oauth2-scopes:
        - state: Current
          scheme: oauth2
          scopes:
            - read:repository:bitbucket
  /repositories/{workspace}/{repo_slug}/commit/{commit}/properties/{app_key}/{property_name}:
    put:
      tags:
        - properties
      summary: Update a commit application property
      operationId: Properties_updateCommitApplicationProperty
      security:
        - oauth2: []
        - basic: []
        - api_key: []
      description: >-
        Update an [application property](https://dac-static.atlassian.com) value
        stored against a commit.
      parameters:
        - description: >-
            The repository container; either the workspace slug or the UUID in
            curly braces.
          required: true
          in: path
          name: workspace
          schema:
            type: string
        - description: The repository.
          required: true
          in: path
          name: repo_slug
          schema:
            type: string
        - description: The commit.
          required: true
          in: path
          name: commit
          schema:
            type: string
        - description: The key of the Connect app.
          required: true
          in: path
          name: app_key
          schema:
            type: string
        - description: The name of the property.
          required: true
          in: path
          name: property_name
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/application_property'
      responses:
        '204':
          description: An empty response.
    delete:
      tags:
        - properties
      summary: Delete a commit application property
      operationId: Properties_deleteCommitApplicationProperty
      security:
        - oauth2: []
        - basic: []
        - api_key: []
      description: >-
        Delete an [application property](https://dac-static.atlassian.com) value
        stored against a commit.
      parameters:
        - description: >-
            The repository container; either the workspace slug or the UUID in
            curly braces.
          required: true
          in: path
          name: workspace
          schema:
            type: string
        - description: The repository.
          required: true
          in: path
          name: repo_slug
          schema:
            type: string
        - description: The commit.
          required: true
          in: path
          name: commit
          schema:
            type: string
        - description: The key of the Connect app.
          required: true
          in: path
          name: app_key
          schema:
            type: string
        - description: The name of the property.
          required: true
          in: path
          name: property_name
          schema:
            type: string
      responses:
        '204':
          description: An empty response.
    get:
      tags:
        - properties
      summary: Get a commit application property
      operationId: Properties_getValue
      security:
        - oauth2: []
        - basic: []
        - api_key: []
      description: >-
        Retrieve an [application property](https://dac-static.atlassian.com)
        value stored against a commit.
      parameters:
        - description: >-
            The repository container; either the workspace slug or the UUID in
            curly braces.
          required: true
          in: path
          name: workspace
          schema:
            type: string
        - description: The repository.
          required: true
          in: path
          name: repo_slug
          schema:
            type: string
        - description: The commit.
          required: true
          in: path
          name: commit
          schema:
            type: string
        - description: The key of the Connect app.
          required: true
          in: path
          name: app_key
          schema:
            type: string
        - description: The name of the property.
          required: true
          in: path
          name: property_name
          schema:
            type: string
      responses:
        '200':
          description: The value of the property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/application_property'
  /repositories/{workspace}/{repo_slug}/commit/{commit}/pullrequests:
    get:
      tags:
        - Pullrequests
      summary: List pull requests that contain a commit
      operationId: Pullrequests_listContainingCommit
      security:
        - oauth2:
            - pullrequest
        - basic: []
        - api_key: []
      description: >-
        Returns a paginated list of all pull requests as part of which this
        commit was reviewed. Pull Request Commit Links app must be installed
        first before using this API; installation automatically occurs when 'Go
        to pull request' is clicked from the web interface for a commit's
        details.
      parameters:
        - description: >-
            This can either be the workspace ID (slug) or the workspace UUID
            surrounded by curly-braces
          name: workspace
          in: path
          required: true
          schema:
            type: string
        - description: The repository; either the UUID in curly braces, or the slug
          name: repo_slug
          in: path
          required: true
          schema:
            type: string
        - description: The SHA1 of the commit
          name: commit
          in: path
          required: true
          schema:
            type: string
        - description: Which page to retrieve
          name: page
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 1
        - description: How many pull requests to retrieve per page
          name: pagelen
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 30
      responses:
        '200':
          description: The paginated list of pull requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_pullrequests'
        '202':
          description: The repository's pull requests are still being indexed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_pullrequests'
        '404':
          description: >-
            Either the repository does not exist, or pull request commit links
            have not yet been indexed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      x-atlassian-oauth2-scopes:
        - state: Current
          scheme: oauth2
          scopes:
            - read:pullrequest:bitbucket
  /repositories/{workspace}/{repo_slug}/commit/{commit}/reports:
    get:
      tags:
        - Reports
        - Commits
      summary: List reports
      operationId: Reports_listLinkedReports
      security:
        - oauth2:
            - repository
        - basic: []
        - api_key: []
      description: Returns a paginated list of Reports linked to this commit.
      parameters:
        - description: >-
            This can either be the workspace ID (slug) or the workspace UUID
            surrounded by curly-braces, for example `{workspace UUID}`.
          name: workspace
          required: true
          in: path
          schema:
            type: string
        - description: The repository.
          name: repo_slug
          required: true
          in: path
          schema:
            type: string
        - description: The commit for which to retrieve reports.
          name: commit
          required: true
          in: path
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paginated_reports'
      x-atlassian-oauth2-scopes:
        - state: Current
          scheme: oauth2
          scopes:
            - read:repository:bitbucket
  /repositories/{workspace}/{repo_slug}/commit/{commit}/reports/{reportId}:
    put:
      tags:
        - Reports
        - Commits
      summary: Create or update a report
      operationId: Reports_commitReportCreateOrUpdate
      security:
        - oauth2:
            - repository
        - basic: []
        - api_key: []
      description: "Creates or updates a report for the specified commit.\nTo upload a report, make sure to generate an ID that is unique across all reports for that commit. If you want to use an existing id from your own system, we recommend prefixing it with your system's name to avoid collisions, for example, mySystem-001.\n\n### Sample cURL request:\n```\ncurl --request PUT 'https://api.bitbucket.org/2.0/repositories/<username>/<reposity-name>/commit/<commit-hash>/reports/mysystem-001' \\\n--header 'Content-Type: application/json' \\\n--data-raw '{\n    \"title\": \"Security scan report\",\n    \"details\": \"This pull request introduces 10 new dependency vulnerabilities.\",\n    \"report_type\": \"SECURITY\",\n    \"reporter\": \"mySystem\",\n    \"link\": \"http://www.mysystem.com/reports/001\",\n    \"result\": \"FAILED\",\n    \"data\": [\n        {\n            \"title\": \"Duration (seconds)\",\n            \"type\": \"DURATION\",\n            \"value\": 14\n        },\n        {\n            \"title\": \"Safe to merge?\",\n            \"type\": \"BOOLEAN\",\n            \"value\": false\n        }\n    ]\n}'\n```\n\n### Possible field values:\nreport_type: SECURITY, COVERAGE, TEST, BUG\nresult: PASSED, FAILED, PENDING\ndata.type: BOOLEAN, DATE, DURATION, LINK, NUMBER, PERCENTAGE, TEXT\n\n#### Data field formats\n| Type  Field   | Value Field Type  | Value Field Display |\n|:--------------|:------------------|:--------------------|\n| None/ Omitted | Number, String or Boolean (not an array or object) | Plain text |\n| BOOLEAN\t| Boolean | The value will be read as a JSON boolean and displayed as 'Yes' or 'No'. |\n| DATE  | Number | The value will be read as a JSON number in the form of a Unix timestamp (milliseconds) and will be displayed as a relative date if the date is less than one week ago, otherwise  it will be displayed as an absolute date. |\n| DURATION | Number | The value will be read as a JSON number in milliseconds and will be displayed in a human readable duration format. |\n| LINK | Object: `{\"text\": \"Link text here\", \"href\": \"https://link.to.annotation/in/external/tool\"}` | The value will be read as a JSON object containing the fields \"text\" and \"href\" and will be displayed as a clickable link on the report. |\n| NUMBER | Number | The value will be read as a JSON number and large numbers will be  displayed in a human readable format (e.g. 14.3k). |\n| PERCENTAGE | Number (between 0 and 100) | The value will be read as a JSON number between 0 and 100 and will be displayed with a percentage sign. |\n| TEXT | String | The value will be read as a JSON string and will be displayed as-is |\n\nPlease refer to the [Code Insights documentation](https://confluence.atlassian.com/bitbucket/code-insights-994316785.html) for more information.\n"
      parameters:
        - description: >-
            This can either be the workspace ID (slug) or the workspace UUID
            surrounded by curly-braces, for example `{workspace UUID}`.
          name: workspace
          required: true
          in: path
          schema:
            type: string
        - description: The repository.
          name: repo_slug
          required: true
          in: path
          schema:
            type: string
        - description: The commit the report belongs to.
          name: commit
          required: true
          in: path
          schema:
            type: string
        - description: Either the uuid or external-id of the report.
          name: reportId
          required: true
          in: path
          schema:
            type: string
      requestBody:
        description: The report to create or update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/report'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/report'
        '400':
          description: The provided Report object is malformed or incomplete.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      x-atlassian-oauth2-scopes:
        - state: Current
          scheme: oauth2
          scopes:
            - read:repository:bitbucket
    get:
      tags:
        - Reports
        - Commits
      summary: Get a report
      operationId: Reports_getSingleReport
      security:
        - oauth2:
            - repository
        - basic: []
        - api_key: []
      description: Returns a single Report matching the provided ID.
      parameters:
        - description: >-
            This can either be the workspace ID (slug) or the workspace UUID
            surrounded by curly-braces, for example `{workspace UUID}`.
          name: workspace
          required: true
          in: path
          schema:
            type: string
        - description: The repository.
          name: repo_slug
          required: true
          in: path
          schema:
            type: string
        - description: The commit the report belongs to.
          name: commit
          required: true
          in: path
          schema:
            type: string
        - description: Either the uuid or external-id of the report.
          name: reportId
          required: true
          in: path
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/report'
        '404':
          description: The report with the given ID was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      x-atlassian-oauth2-scopes:
        - state: Current
          scheme: oauth2
          scopes:
            - read:repository:bitbucket
    delete:
      tags:
        - Reports
        - Commits
      summary: Delete a report
      operationId: Reports_deleteReport
      security:
        - oauth2:
            - repository
        - basic: []
        - api_key: []
      description: Deletes a single Report matching the provided ID.
      parameters:
        - description: >-
            This can either be the workspace ID (slug) or the workspace UUID
            surrounded by curly-braces, for example `{workspace UUID}`.
          name: workspace
          required: true
          in: path
          schema:
            type: string
        - description: The repository.
          name: repo_slug
          required: true
          in: path
          schema:
            type: string
        - description: The commit the report belongs to.
          name: commit
          required: true
          in: path
          schema:
            type: string
        - description: Either the uuid or external-id of the report.
          name: reportId
          required: true
          in: path
          schema:
            type: string
      responses:
        '204':
          description: No content
      x-atlassian-oauth2-scopes:
        - state: Current
          scheme: oauth2
          scopes:
            - read:repository:bitbucket
  /repositories/{workspace}/{repo_slug}/commit/{commit}/reports/{reportId}/annotations:
    get:
      tags:
        - Reports
        - Commits
      summary: List annotations
      operationId: Reports_listAnnotations
      security:
        - oauth2:
            - repository
        - basic: []
        - api_key: []
      description: Returns a paginated list of Annotations for a specified report.
      parameters:
        - description: >-
            This can either be the workspace ID (slug) or the workspace UUID
            surrounded by curly-braces, for example `{workspace UUID}`.
          name: workspace
          required: true
          in: path
          schema:
            type: string
        - description: The repository.
          name: repo_slug
          required: true
          in: path
          schema:
[...]
