openapi: 3.0.3
info:
  title: API Settings
  description: >-
    We specialize in sourcing high quality pilots to meet the needs of 135
    operators. Our team of highly skilled pilots and aviation experts seamlessly
    integrates with your operation to quickly provide you with world-class pilot
    candidates from our extensive network. All candidates are fully vetted and
    evaluated by Hire Up prior to being recommended to you.
  version: '3'
servers:
  - url: https://api.breezy.hr
tags:
  - name: Company
  - name: Questionnaire
  - name: User
  - name: Conversation
  - name: CustomField
  - name: Authentication
  - name: Session
  - name: BackgroundCheck
  - name: CustomAttribute
  - name: WorkHistory
paths:
  /v3/signin:
    post:
      tags:
        - Authentication
      summary: /signin
      operationId: Authentication_getAccessToken
      description: >-
        Retrieve an access token. Use the access_token as part of the
        Authorization header.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthenticationGetAccessTokenRequest'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "access_token": "00000000-0000-0000-0000-000000000000",
                        "user": { User }
                    }
              schema:
                $ref: '#/components/schemas/AuthenticationGetAccessTokenResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Missing Email Address:
                  value: |-
                    {
                        "error": {
                            "type": "signinEmailError",
                            "message": "email is null or empty"
                        }
                    }
                Missing Password:
                  value: |-
                    {
                        "error": {
                            "type": "signinPasswordError",
                            "message": "password is null or empty"
                        }
                    }
              schema:
                $ref: '#/components/schemas/AuthenticationGetAccessToken400Response'
        '401':
          description: '401'
          content:
            application/json:
              examples:
                Signin Failure:
                  value: |-
                    {
                        "error": {
                            "type": "signinFailure",
                            "message": "email or password incorrect."
                        }
                    }
              schema:
                $ref: '#/components/schemas/AuthenticationGetAccessToken401Response'
        '500':
          description: '500'
          content:
            text/plain:
              examples:
                Result:
                  value: |-
                    {
                        "error": {
                            "type": "accessTokenCreationError",
                            "message": "There was an error creating Access Token."
                        }
                    }
              schema:
                $ref: '#/components/schemas/AuthenticationGetAccessToken500Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: curl
            code: |-
              curl -H "Content-Type: application/json" \
                -X POST \
                -d '{"email":"user@emailaddress.com","password":"hunter2"}' \
                https://api.breezy.hr/v3/signin
        samples-languages:
          - curl
  /v3/signout:
    get:
      tags:
        - Session
      summary: /signout
      operationId: Session_invalidateToken
      description: This endpoint invalidates an access token.
      responses:
        '204':
          description: '204'
          content:
            application/json:
              examples:
                Result:
                  value: ''
              schema:
                $ref: '#/components/schemas/SessionInvalidateTokenResponse'
      deprecated: false
      x-readme:
        code-samples:
          - language: curl
            code: >-
              curl -H "Content-Type: application/json" -H "Authorization:
              00000000-0000-0000-0000-000000000000"
              https://api.breezy.hr/v3/signout
        samples-languages:
          - curl
  /v3/user:
    get:
      tags:
        - User
      summary: /user
      operationId: User_getById
      description: Retrieve the authenticated user or another user by id
      parameters:
        - description: user id to lookup (if blank look up by auth token)
          name: user_id
          in: query
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{ User }'
              schema:
                $ref: '#/components/schemas/UserGetByIdResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Missing Access Token:
                  value: |-
                    {
                        "error": {
                            "type": "missingAccessToken",
                            "message": "access token is null or empty"
                        }
                    }
              schema:
                $ref: '#/components/schemas/UserGetById400Response'
        '401':
          description: '401'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "error": {
                            "type": "invalidAccessToken",
                            "message": "access token is invalid"
                        }
                    }
              schema:
                $ref: '#/components/schemas/UserGetById401Response'
        '404':
          description: '404'
          content:
            application/json:
              examples:
                User Not Found:
                  value: |-
                    {
                        "error": {
                            "type": "userNotFound",
                            "message": "user not found."
                        }
                    }
              schema:
                $ref: '#/components/schemas/UserGetById404Response'
        '500':
          description: '500'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "error": {
                            "type": "getUserError",
                            "message": "there was an unknown error getting user."
                        }
                    }
              schema:
                $ref: '#/components/schemas/UserGetById500Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: curl
            code: >-
              curl -H "Content-Type: application/json" -H "Authorization:
              00000000-0000-0000-0000-000000000000"
              https://api.breezy.hr/v3/user
        samples-languages:
          - curl
  /v3/user/details:
    get:
      tags:
        - User
      summary: /user/details
      operationId: User_getCompanyDetails
      description: >-
        Retrieve the details for the configurations of each company the
        authenticated user belongs to.
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "[ \n\t\"<company_id>\": {\n\t\t\"company\": { Company },\n    \"messaging\": {\n\t\t\t\"questionnaire_template\": {\n        \"type\": String,\n        \"body\": String\n\t\t\t},\n      \"subject_template\": {\n        \"type\": String\n        \"body\": String\n      }\n\t\t},\n    \"reasons\": {\n    \t\"disposition\": [\n        {\n          \"name\": String,\n          \"_id\": String\n        }, . . .               \n      ],\n    \t\"creation_date\": Date,\n    \t\"updated_date\": Date\n    },\n    \"questionnaires\": [           \n    \t{ Questionnaire },\n      ...            \n    ],\n    \"pipelines\": {\n      \"<pipeline_id>\": { Pipeline },\n      ...           \n    },\n    \"interview_guides\": [\n      { Interview Guide },\n      ...\n    ],\n    \"templates\": [\n      { Template },\n      ...        \n    ],\n    \"tasks\": [\n      { Task },\n      ...        \n    ],\n    \"scorecards\": [\n      { Scorecard },\n      ... \n    ],\n    \"user_settings\": {\n      \"webcal_uri\": String \n    },\n    \"positions\": {\n      \"<position_id>\": { Position },\n      ...\n    },\n    \"members\": [\n      { User },\n      ...\n    ]\n  },\n\t...\n]"
              schema:
                $ref: '#/components/schemas/UserGetCompanyDetailsResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Missing Access Token:
                  value: |-
                    {
                        "error": {
                            "type": "missingAccessToken",
                            "message": "access token is null or empty"
                        }
                    }
              schema:
                $ref: '#/components/schemas/UserGetCompanyDetails400Response'
        '401':
          description: '401'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "error": {
                            "type": "invalidAccessToken",
                            "message": "access token is invalid"
                        }
                    }
              schema:
                $ref: '#/components/schemas/UserGetCompanyDetails401Response'
        '404':
          description: '404'
          content:
            application/json:
              examples:
                User Not Found:
                  value: |-
                    {
                        "error": {
                            "type": "userNotFound",
                            "message": "user not found."
                        }
                    }
              schema:
                $ref: '#/components/schemas/UserGetCompanyDetails404Response'
        '500':
          description: '500'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "error": {
                            "type": "getUserCompaniesDetailError",
                            "message": "there was an unknown error getting user company details."
                        }
                    }
              schema:
                $ref: '#/components/schemas/UserGetCompanyDetails500Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: curl
            code: >-
              curl -H "Content-Type: application/json" -H "Authorization:
              00000000-0000-0000-0000-000000000000"
              https://api.breezy.hr/v3/user/details
        samples-languages:
          - curl
  /v3/company/{company_id}:
    get:
      tags:
        - Company
      summary: /company/:id/
      operationId: Company_getInformation
      description: >-
        Retrieve the company information associated with authenticated user and
        company id
      parameters:
        - description: company id
          name: company_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    { 
                      Company Object
                    }
              schema:
                $ref: '#/components/schemas/CompanyGetInformationResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Missing Access Token:
                  value: |-
                    {
                        "error": {
                            "type": "missingAccessToken",
                            "message": "access token is null or empty"
                        }
                    }
              schema:
                $ref: '#/components/schemas/CompanyGetInformation400Response'
        '401':
          description: '401'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "error": {
                            "type": "invalidAccessToken",
                            "message": "access token is invalid"
                        }
                    }
              schema:
                $ref: '#/components/schemas/CompanyGetInformation401Response'
        '500':
          description: '500'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "error": {
                            "type": "getCompanyError",
                            "message": "there was an unknown error getting company."
                        }
                    }
              schema:
                $ref: '#/components/schemas/CompanyGetInformation500Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: curl
            code: >-
              curl -H "Content-Type: application/json" -H "Authorization:
              00000000-0000-0000-0000-000000000000"
              https://api.breezy.hr/v3/company/000000000000
        samples-languages:
          - curl
  /v3/company/{company_id}/custom-attributes/candidate:
    get:
      tags:
        - Company
      summary: /company/:id/custom-attributes/candidate
      operationId: Company_getCandidateCustomAttributes
      description: Retrieve all of the candidate specific custom attributes
      parameters:
        - description: company id
          name: company_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "[\n  {\n  \t\"id\": String,\n\t\t\"name\": String,\n\t\t\"secure\": Boolean\n  },\n  ...\n],"
              schema:
                $ref: >-
                  #/components/schemas/CompanyGetCandidateCustomAttributesResponse
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Missing Access Token:
                  value: |-
                    {
                        "error": {
                            "type": "missingAccessToken",
                            "message": "access token is null or empty"
                        }
                    }
              schema:
                $ref: >-
                  #/components/schemas/CompanyGetCandidateCustomAttributes400Response
        '401':
          description: '401'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "error": {
                            "type": "invalidAccessToken",
                            "message": "access token is invalid"
                        }
                    }
              schema:
                $ref: >-
                  #/components/schemas/CompanyGetCandidateCustomAttributes401Response
        '500':
          description: '500'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "error": {
                            "type": "getCustomAttributesError",
                            "message": "there was an unknown error getting custom attributes."
                        }
                    }
              schema:
                $ref: >-
                  #/components/schemas/CompanyGetCandidateCustomAttributes500Response
      deprecated: false
      x-readme:
        code-samples:
          - language: curl
            code: >-
              curl -H "Content-Type: application/json" -H "Authorization:
              00000000-0000-0000-0000-000000000000"
              https://api.breezy.hr/v3/company/000000000000/custom-attributes/candidate
        samples-languages:
          - curl
  /v3/company/{company_id}/custom-attributes/position:
    get:
      tags:
        - Company
      summary: /company/:id/custom-attributes/position
      operationId: Company_getPositionCustomAttributes
      description: Retrieve all of the position specific custom attributes
      parameters:
        - description: company id
          name: company_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "[\n  {\n  \t\"id\": String,\n\t\t\"name\": String,\n\t\t\"secure\": Boolean\n  },\n  ...\n],"
              schema:
                $ref: >-
                  #/components/schemas/CompanyGetPositionCustomAttributesResponse
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Missing Access Token:
                  value: |-
                    {
                        "error": {
                            "type": "missingAccessToken",
                            "message": "access token is null or empty"
                        }
                    }
              schema:
                $ref: >-
                  #/components/schemas/CompanyGetPositionCustomAttributes400Response
        '401':
          description: '401'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "error": {
                            "type": "invalidAccessToken",
                            "message": "access token is invalid"
                        }
                    }
              schema:
                $ref: >-
                  #/components/schemas/CompanyGetPositionCustomAttributes401Response
        '500':
          description: '500'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "error": {
                            "type": "getCustomAttributesError",
                            "message": "there was an unknown error getting custom attributes."
                        }
                    }
              schema:
                $ref: >-
                  #/components/schemas/CompanyGetPositionCustomAttributes500Response
      deprecated: false
      x-readme:
        code-samples:
          - language: curl
            code: >-
              curl -H "Content-Type: application/json" -H "Authorization:
              00000000-0000-0000-0000-000000000000"
              https://api.breezy.hr/v3/company/000000000000/custom-attributes/position
        samples-languages:
          - curl
  /v3/company/{company_id}/pipeline/{pipeline_id}:
    get:
      tags:
        - Company
      summary: /company/:id/pipeline/:id
      operationId: Company_getPipelineStagesByPipelineId
      description: Retrieve pipeline stages by pipeline id
      parameters:
        - description: company id
          name: company_id
          in: path
          required: true
          schema:
            type: string
        - description: pipeline id
          name: pipeline_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    [ // all stages on pipeline
                      {
                        "id": "applied",
                        "name": "Applied",
                        "icon": "user",
                        "action_count": 0,
                        "actions": {},
                        "type": "type",
                        "action": "action"
                      } . . .
                    ]
              schema:
                $ref: >-
                  #/components/schemas/CompanyGetPipelineStagesByPipelineIdResponse
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Missing Access Token:
                  value: |-
                    {
                        "error": {
                            "type": "missingAccessToken",
                            "message": "access token is null or empty"
                        }
                    }
              schema:
                $ref: >-
                  #/components/schemas/CompanyGetPipelineStagesByPipelineId400Response
        '401':
          description: '401'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "error": {
                            "type": "invalidAccessToken",
                            "message": "access token is invalid"
                        }
                    }
              schema:
                $ref: >-
                  #/components/schemas/CompanyGetPipelineStagesByPipelineId401Response
        '500':
          description: '500'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "error": {
                            "type": "getPipelineError",
                            "message": "there was an unknown error getting pipeline."
                        }
                    }
              schema:
                $ref: >-
                  #/components/schemas/CompanyGetPipelineStagesByPipelineId500Response
      deprecated: false
      x-readme:
        code-samples:
          - language: curl
            code: >-
              curl -H "Content-Type: application/json" -H "Authorization:
              00000000-0000-0000-0000-000000000000"
              https://api.breezy.hr/v3/company/000000000000/pipeline/000000000000
        samples-languages:
          - curl
  /v3/company/{company_id}/pipelines:
    get:
      tags:
        - Company
      summary: /company/:id/pipelines
      operationId: Company_getPipelines
      description: Retrieve all of the company pipelines
      parameters:
        - description: company id
          name: company_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "[\n\t\"<pipeline_id>\": {\n    Pipeline Object\n  },\n  ...\n]"
              schema:
                $ref: '#/components/schemas/CompanyGetPipelinesResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Missing Access Token:
                  value: |-
                    {
                        "error": {
                            "type": "missingAccessToken",
                            "message": "access token is null or empty"
                        }
                    }
              schema:
                $ref: '#/components/schemas/CompanyGetPipelines400Response'
        '401':
          description: '401'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "error": {
                            "type": "invalidAccessToken",
                            "message": "access token is invalid"
                        }
                    }
              schema:
                $ref: '#/components/schemas/CompanyGetPipelines401Response'
        '500':
          description: '500'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "error": {
                            "type": "getPipelinesError",
                            "message": "there was an unknown error getting pipelines."
                        }
                    }
              schema:
                $ref: '#/components/schemas/CompanyGetPipelines500Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: curl
            code: >-
              curl -H "Content-Type: application/json" -H "Authorization:
              00000000-0000-0000-0000-000000000000"
              https://api.breezy.hr/v3/company/000000000000/pipelines
        samples-languages:
          - curl
  /v3/company/{company_id}/questionnaire/{questionnaire_id}:
    get:
      tags:
        - Company
      summary: /company/:id/questionnaire/:id
      operationId: Company_getQuestionnaireById
      description: Retrieve questionnaire by id
      parameters:
        - name: company_id
          in: path
          required: true
          schema:
            type: string
        - name: questionnaire_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    { 
                      Questionnaire Object
                    }
              schema:
                $ref: '#/components/schemas/CompanyGetQuestionnaireByIdResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Missing Access Token:
                  value: |-
                    {
                        "error": {
                            "type": "missingAccessToken",
                            "message": "access token is null or empty"
                        }
                    }
              schema:
                $ref: '#/components/schemas/CompanyGetQuestionnaireById400Response'
        '401':
          description: '401'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "error": {
                            "type": "invalidAccessToken",
                            "message": "access token is invalid"
                        }
                    }
              schema:
                $ref: '#/components/schemas/CompanyGetQuestionnaireById401Response'
        '500':
          description: '500'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "error": {
                            "type": "getTemplateError",
                            "message": "there was an unknown error getting questionnaire."
                        }
                    }
              schema:
                $ref: '#/components/schemas/CompanyGetQuestionnaireById500Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: curl
            code: >-
              curl -H "Content-Type: application/json" -H "Authorization:
              00000000-0000-0000-0000-000000000000"
              https://api.breezy.hr/v3/company/000000000000/questionnaire/000000000000
        samples-languages:
          - curl
  /v3/company/{company_id}/questionnaires:
    get:
      tags:
        - Company
      summary: /company/:id/questionnaires
      operationId: Company_getQuestionnaires
      description: Retrieve all of the company questionnaires
      parameters:
        - description: company id
          name: company_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    [
                      { Questionnaire Object },
                      ...
                    ],
              schema:
                $ref: '#/components/schemas/CompanyGetQuestionnairesResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Missing Access Token:
                  value: |-
                    {
                        "error": {
                            "type": "missingAccessToken",
                            "message": "access token is null or empty"
                        }
                    }
              schema:
                $ref: '#/components/schemas/CompanyGetQuestionnaires400Response'
        '401':
          description: '401'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "error": {
                            "type": "invalidAccessToken",
                            "message": "access token is invalid"
                        }
                    }
              schema:
                $ref: '#/components/schemas/CompanyGetQuestionnaires401Response'
        '500':
          description: '500'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "error": {
                            "type": "getTemplateError",
                            "message": "there was an unknown error getting questionnaires."
                        }
                    }
              schema:
                $ref: '#/components/schemas/CompanyGetQuestionnaires500Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: curl
            code: >-
              curl -H "Content-Type: application/json" -H "Authorization:
              00000000-0000-0000-0000-000000000000"
              https://api.breezy.hr/v3/company/000000000000/questionnaires
        samples-languages:
          - curl
  /v3/company/{company_id}/template/{template_id}:
    get:
      tags:
        - Company
      summary: /company/:id/template/:id
      operationId: Company_getEmailTemplateById
      description: Retrieve email template by id
      parameters:
        - description: company id
          name: company_id
          in: path
          required: true
          schema:
            type: string
        - description: template id
          name: template_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    { 
                      Template Object
                    }
              schema:
                $ref: '#/components/schemas/CompanyGetEmailTemplateByIdResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Missing Access Token:
                  value: |-
                    {
                        "error": {
                            "type": "missingAccessToken",
                            "message": "access token is null or empty"
                        }
                    }
              schema:
                $ref: '#/components/schemas/CompanyGetEmailTemplateById400Response'
        '401':
          description: '401'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "error": {
                            "type": "invalidAccessToken",
                            "message": "access token is invalid"
                        }
                    }
              schema:
                $ref: '#/components/schemas/CompanyGetEmailTemplateById401Response'
        '500':
          description: '500'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "error": {
                            "type": "getTemplateError",
                            "message": "there was an unknown error getting template."
                        }
                    }
              schema:
                $ref: '#/components/schemas/CompanyGetEmailTemplateById500Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: curl
            code: >-
              curl -H "Content-Type: application/json" -H "Authorization:
              00000000-0000-0000-0000-000000000000"
              https://api.breezy.hr/v3/company/000000000000/template/000000000000
        samples-languages:
          - curl
  /v3/company/{company_id}/templates:
    get:
      tags:
        - Company
      summary: /company/:id/templates
      operationId: Company_getAllTemplates
      description: Retrieve all of the company email templates
      parameters:
        - description: company id
          name: company_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    [
                      { Template Object },
                      ...
                    ],
              schema:
                $ref: '#/components/schemas/CompanyGetAllTemplatesResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Missing Access Token:
                  value: |-
                    {
                        "error": {
                            "type": "missingAccessToken",
                            "message": "access token is null or empty"
                        }
                    }
              schema:
                $ref: '#/components/schemas/CompanyGetAllTemplates400Response'
        '401':
          description: '401'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "error": {
                            "type": "invalidAccessToken",
                            "message": "access token is invalid"
                        }
                    }
              schema:
                $ref: '#/components/schemas/CompanyGetAllTemplates401Response'
        '500':
          description: '500'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "error": {
                            "type": "getTemplateError",
                            "message": "there was an unknown error getting template."
                        }
                    }
              schema:
                $ref: '#/components/schemas/CompanyGetAllTemplates500Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: curl
            code: >-
              curl -H "Content-Type: application/json" -H "Authorization:
              00000000-0000-0000-0000-000000000000"
              https://api.breezy.hr/v3/company/000000000000/templates
        samples-languages:
          - curl
  /v3/companies:
    get:
      tags:
        - Company
      summary: /companies
      operationId: Company_getAssociated
      description: Retrieve the companies associated with the authenticated user
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "[\n\t{ Company Object},\n  ...\n]"
              schema:
                $ref: '#/components/schemas/CompanyGetAssociatedResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Missing Access Token:
                  value: |-
                    {
                        "error": {
                            "type": "missingAccessToken",
                            "message": "access token is null or empty"
                        }
                    }
              schema:
                $ref: '#/components/schemas/CompanyGetAssociated400Response'
        '401':
          description: '401'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "error": {
                            "type": "invalidAccessToken",
                            "message": "access token is invalid"
                        }
                    }
              schema:
                $ref: '#/components/schemas/CompanyGetAssociated401Response'
        '500':
          description: '500'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "error": {
                            "type": "getCompaniesError",
                            "message": "there was an unknown error getting companies."
                        }
                    }
              schema:
                $ref: '#/components/schemas/CompanyGetAssociated500Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: curl
            code: >-
              curl -H "Content-Type: application/json" -H "Authorization:
              00000000-0000-0000-0000-000000000000"
              https://api.breezy.hr/v3/companies
        samples-languages:
          - curl
  /v3/company/{company_id}/position/{position_id}:
    get:
      tags:
        - Company
      summary: ./position/:id
      operationId: Company_getPositionDetails
      description: Retrieve details for given position id
      parameters:
        - description: company id
          name: company_id
          in: path
          required: true
          schema:
            type: string
        - description: position id
          name: position_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    { 
                      Position Object      
                    }
              schema:
                $ref: '#/components/schemas/CompanyGetPositionDetailsResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Missing Access Token:
                  value: |-
                    {
                        "error": {
                            "type": "missingAccessToken",
                            "message": "access token is null or empty"
                        }
                    }
              schema:
                $ref: '#/components/schemas/CompanyGetPositionDetails400Response'
        '401':
          description: '401'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "error": {
                            "type": "invalidAccessToken",
                            "message": "access token is invalid"
                        }
                    }
              schema:
                $ref: '#/components/schemas/CompanyGetPositionDetails401Response'
        '500':
          description: '500'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "error": {
                            "type": "getPositionError",
                            "message": "there was an unknown error getting position."
                        }
                    }
              schema:
                $ref: '#/components/schemas/CompanyGetPositionDetails500Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: curl
            code: >-
              curl -H "Content-Type: application/json" -H "Authorization:
              00000000-0000-0000-0000-000000000000"
              https://api.breezy.hr/v3/company/000000000000/position/000000000000
        samples-languages:
          - curl
    put:
      tags:
        - Company
      summary: ./position/:id
      operationId: Company_updatePositionDetails
      description: Update details for given position
      parameters:
        - name: company_id
          in: path
          required: true
          schema:
            type: string
        - name: position_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanyUpdatePositionDetailsRequest'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                       Position Object
                    }
              schema:
                $ref: '#/components/schemas/CompanyUpdatePositionDetailsResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Missing Access Token:
                  value: |-
                    {
                        "error": {
                            "type": "missingAccessToken",
                            "message": "access token is null or empty"
                        }
                    }
                Missing Required Field:
                  value: |-
                    {
                        "error": {
                            "type": "addPosition<Field>Missing",
                            "message": "<field> is null or empty"
                        }
                    }
                Result:
                  value: |-
                    {
                        "error": {
                            "type": "addPositionFieldInvalid",
                            "message": "<field>  must be one of the following values: <values>"
                        }
                    }
              schema:
                $ref: '#/components/schemas/CompanyUpdatePositionDetails400Response'
        '401':
          description: '401'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "error": {
                            "type": "invalidAccessToken",
                            "message": "access token is invalid"
                        }
                    }
              schema:
                $ref: '#/components/schemas/CompanyUpdatePositionDetails401Response'
        '500':
          description: '500'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "error": {
                            "type": "updatePositionError",
                            "message": "there was an unknown error updating position."
                        }
                    }
              schema:
                $ref: '#/components/schemas/CompanyUpdatePositionDetails500Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: http
            code: "PUT /v3/company/000000000000/position/000000000000 HTTP/1.1\nHost: api.breezy.hr\nAuthorization: 00000000-0000-0000-0000-000000000000\nContent-Type: application/json\n\n{\n  \"name\": \"New Job\",\n  \"type\": \"fullTime\",\n  \"description\": \"This is the job description\",\n  \"location\": {\n\t\t\"country\": \"US\",\n\t\t\"state\": \"FL\",\n\t\t\"city\": \"Jacksonville\",\n\t\t\"is_remote\": false\n  },\n  \"education\":\"high-school\",\n  \"category\": \"sysadmin\",\n  \"experience\": \"internship\",\n  \"custom_attributes\": [\n  \t{\n    \t\"name\": \"Max Salary\",\n      \"value\": \"1000000\",\n      \"secure\": true\n    }\n  ],\n  \"pipeline_id\": \"000000000000\", \n  \"scorecard_id\": \"000000000000\", \n  \"questionnaire_id\": \"000000000000\",\n  \"tags\": [\"technical\", \"junior\"]\n}"
          - language: curl
            code: >+
              curl -H "Content-Type: application/json" -H "Authorization:
              00000000-0000-0000-0000-000000000000" -X PUT -d '{ "name": "New
              Job", "type": "fullTime", "description": "This is the job
              description", "location": { "country": "US", "state": "FL",
              "city": "Jacksonville", "is_remote": false },
              "education":"high-school", "category": "sysadmin", "experience":
              "internship","custom_attributes": [ { "name": "Max Salary",
              "value": "1000000", "secure": true }], "pipeline_id":
              "000000000000", "scorecard_id": "000000000000",
              "questionnaire_id": "000000000000","tags": ["technical", "junior"]
              }'
              https://api.breezy.hr/v3/company/000000000000/position/000000000000

        samples-languages:
          - http
          - curl
  /v3/company/{company_id}/position/{position_id}/state:
    put:
      tags:
        - Company
      summary: ./position/:id/state
      operationId: Company_updatePositionState
      description: Update details for given position
      parameters:
        - name: company_id
          in: path
          required: true
          schema:
            type: string
        - name: position_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanyUpdatePositionStateRequest'
      responses:
        '204':
          description: '204'
          content:
            application/json:
              examples:
                Result:
                  value: ''
              schema:
                $ref: '#/components/schemas/CompanyUpdatePositionStateResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Missing Access Token:
                  value: |-
                    {
                        "error": {
                            "type": "missingAccessToken",
                            "message": "access token is null or empty"
                        }
                    }
                Missing Required Field:
                  value: |-
                    {
                        "error": {
                            "type": "addPosition<Field>Missing",
                            "message": "<field> is null or empty"
                        }
                    }
                Result:
                  value: |-
                    {
                        "error": {
                            "type": "addPositionFieldInvalid",
                            "message": "<field>  must be one of the following values: <values>"
                        }
                    }
              schema:
                $ref: '#/components/schemas/CompanyUpdatePositionState400Response'
        '401':
          description: '401'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "error": {
                            "type": "invalidAccessToken",
                            "message": "access token is invalid"
                        }
                    }
              schema:
                $ref: '#/components/schemas/CompanyUpdatePositionState401Response'
        '500':
          description: '500'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "error": {
                            "type": "updatePositionError",
                            "message": "there was an unknown error updating position."
                        }
                    }
              schema:
                $ref: '#/components/schemas/CompanyUpdatePositionState500Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: http
            code: |-
              PUT /v3/company/000000000000/position/000000000000/state HTTP/1.1
              Host: api.breezy.hr
              Authorization: 00000000-0000-0000-0000-000000000000
              Content-Type: application/json

              {
                "state": "closed"  
              }
          - language: curl
            code: >+
              curl -H "Content-Type: application/json" -H "Authorization:
              00000000-0000-0000-0000-000000000000" -X PUT -d '{ "state":
              "closed" }'
              https://api.breezy.hr/v3/company/000000000000/position/000000000000/state

        samples-languages:
          - http
          - curl
  /v3/company/{company_id}/position/{position_id}/stream:
    get:
      tags:
        - Company
      summary: ./position/:id/stream
      operationId: Company_getPositionStream
      description: Retrieve the last 30 activity stream events for the given position
      parameters:
        - description: company
          name: company_id
          in: path
          required: true
          schema:
            type: string
        - description: position id
          name: position_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    [
                      {
                        "_id": String,            
                        "type": String,
                        "stream_id": String,
                        "object": {}, //the notification object specific to the notificationType above
                        "timestamp": Date
                      },
                      ...
                    ]
              schema:
                $ref: '#/components/schemas/CompanyGetPositionStreamResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Missing Access Token:
                  value: |-
                    {
                      "error": "No access token found"
                    }
              schema:
                $ref: '#/components/schemas/CompanyGetPositionStream400Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: curl
            code: >-
              curl -H "Content-Type: application/json" -H "Authorization:
              00000000-0000-0000-0000-000000000000"
              https://api.breezy.hr/v3/company/000000000000/position/000000000000/stream
        samples-languages:
          - curl
  /v3/company/{company_id}/position/{position_id}/team:
    get:
      tags:
        - Company
      summary: ./position/:id/team
      operationId: Company_getPositionTeamMembers
      description: Retrieve user objects of all position team members
      parameters:
        - description: company id
          name: company_id
          in: path
          required: true
          schema:
            type: string
        - description: position id
          name: position_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "[\n   {\n      \"_id\": String,\n      \"email_address\": String,\n      \"name\": String,\n      \"username\": String,\n      \"initial\": Char(1),\n      \"creation_date\": Date,\n      \"verified_email\": Boolean,\n      \"tz_offset\": String,\n      \"signature\": {\n        \"enabled\": Boolean,\n        \"body\": String\n      },\n      \"updated_date\": Date,\n      \"user_role\": {\n\t\t\t\t\"id\": \"member | hiring_manager\",\n\t\t\t\t\"name\": \"Hiring Team Member | Hiring Manager\"\n\t\t\t}\n   }\n]"
              schema:
                $ref: '#/components/schemas/CompanyGetPositionTeamMembersResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Missing Access Token:
                  value: |-
                    {
                        "error": {
                            "type": "missingAccessToken",
                            "message": "access token is null or empty"
                        }
                    }
              schema:
                $ref: '#/components/schemas/CompanyGetPositionTeamMembers400Response'
        '401':
          description: '401'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "error": {
                            "type": "invalidAccessToken",
                            "message": "access token is invalid"
                        }
                    }
              schema:
                $ref: '#/components/schemas/CompanyGetPositionTeamMembers401Response'
        '500':
          description: '500'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "error": {
                            "type": "getPositionTeamError",
                            "message": "there was an unknown error getting position team."
                        }
                    }
              schema:
                $ref: '#/components/schemas/CompanyGetPositionTeamMembers500Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: curl
            code: >-
              curl -H "Content-Type: application/json" -H "Authorization:
              00000000-0000-0000-0000-000000000000"
              https://api.breezy.hr/v3/company/000000000000/position/000000000000/team
        samples-languages:
          - curl
  /v3/company/{company_id}/positions:
    get:
      tags:
        - Company
      summary: ./positions
      operationId: Company_getPositionsByState
      description: Retrieve all positions for given company in given state (status)
      parameters:
        - description: >-
            Specify an optional position state filter. e.g. draft, archived,
            published, closed, pending
          name: state
          in: query
          schema:
            type: string
            default: published
        - description: company id
          name: company_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "[\n\t{ Position Object },\n  ...\n]"
              schema:
                $ref: '#/components/schemas/CompanyGetPositionsByStateResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Missing Access Token:
                  value: |-
                    {
                        "error": {
                            "type": "missingAccessToken",
                            "message": "access token is null or empty"
                        }
                    }
              schema:
                $ref: '#/components/schemas/CompanyGetPositionsByState400Response'
        '401':
          description: '401'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "error": {
                            "type": "invalidAccessToken",
                            "message": "access token is invalid"
                        }
                    }
              schema:
                $ref: '#/components/schemas/CompanyGetPositionsByState401Response'
        '500':
          description: '500'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "error": {
                            "type": "getPositionsError",
                            "message": "there was an unknown error getting positions."
                        }
                    }
              schema:
                $ref: '#/components/schemas/CompanyGetPositionsByState500Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: curl
            code: >-
              curl -H "Content-Type: application/json" -H "Authorization:
              00000000-0000-0000-0000-000000000000"
              https://api.breezy.hr/v3/company/000000000000/positions?state=published
        samples-languages:
          - curl
    post:
      tags:
        - Company
      summary: ./positions
      operationId: Company_createNewPosition
      description: Create a new position
      parameters:
        - description: company id
          name: company_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanyCreateNewPositionRequest'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                       Position Object
                    }
              schema:
                $ref: '#/components/schemas/CompanyCreateNewPositionResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Missing Access Token:
                  value: |-
                    {
                        "error": {
                            "type": "missingAccessToken",
                            "message": "access token is null or empty"
                        }
                    }
                Missing Required Field:
                  value: |-
                    {
                        "error": {
                            "type": "addPosition<Field>Missing",
                            "message": "<field> is null or empty"
                        }
                    }
                Result:
                  value: |-
                    {
                        "error": {
                            "type": "addPositionFieldInvalid",
                            "message": "<field>  must be one of the following values: <values>"
                        }
                    }
              schema:
                $ref: '#/components/schemas/CompanyCreateNewPosition400Response'
        '401':
          description: '401'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "error": {
                            "type": "invalidAccessToken",
                            "message": "access token is invalid"
                        }
                    }
              schema:
                $ref: '#/components/schemas/CompanyCreateNewPosition401Response'
        '500':
          description: '500'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "error": {
                            "type": "addPositionError",
                            "message": "there was an unknown error creating position."
                        }
                    }
              schema:
                $ref: '#/components/schemas/CompanyCreateNewPosition500Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: http
            code: "POST /v3/company/000000000000/positions HTTP/1.1\nHost: api.breezy.hr\nAuthorization: 00000000-0000-0000-0000-000000000000\nContent-Type: application/json\n\n{\n  \"name\": \"New Job\",\n  \"type\": \"fullTime\",\n  \"description\": \"This is the job description\",\n  \"location\": {\n\t\t\"country\": \"US\",\n\t\t\"state\": \"FL\",\n\t\t\"city\": \"Jacksonville\",\n\t\t\"is_remote\": false\n  },\n  \"education\":\"high-school\",\n  \"category\": \"sysadmin\",\n  \"experience\": \"internship\",\n  \"custom_attributes\": [\n  \t{\n    \t\"name\": \"Max Salary\",\n      \"value\": \"1000000\",\n      \"secure\": true\n    }\n  ],\n  \"pipeline_id\": \"000000000000\",\n  \"scorecard_id\": \"000000000000\",\n  \"questionnaire_id\": \"000000000000\",\n  \"tags\": [\"technical\", \"junior\"]\n}"
          - language: curl
            code: >+
              curl -H "Content-Type: application/json" -H "Authorization:
              00000000-0000-0000-0000-000000000000" -X POST -d '{ "name": "New
              Job", "type": "fullTime", "description": "This is the job
              description", "location": { "country": "US", "state": "FL",
              "city": "Jacksonville", "is_remote": false },
              "education":"high-school", "category": "sysadmin", "experience":
              "internship","custom_attributes": [ { "name": "Max Salary",
              "value": "1000000", "secure": true }], "pipeline_id":
              "000000000000", "scorecard_id": "000000000000",
              "questionnaire_id": "000000000000", "tags": ["technical",
              "junior"] }'
              https://api.breezy.hr/v3/company/000000000000/positions

        samples-languages:
          - http
          - curl
  /v3/company/{company_id}/position/{position_id}/custom-fields:
    get:
      tags:
        - Company
      summary: ./position/:id/custom-fields
      operationId: Company_getPositionCustomFields
      description: ''
      parameters:
        - description: company id
          name: company_id
          in: path
          schema:
            type: string
          required: true
        - description: position id
          name: position_id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "[\n\tPosition Custom Field Object\n]"
              schema:
                $ref: '#/components/schemas/CompanyGetPositionCustomFieldsResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Missing Access Token:
                  value: |-
                    {
                        "error": {
                            "type": "missingAccessToken",
                            "message": "access token is null or empty"
                        }
                    }
              schema:
                $ref: '#/components/schemas/CompanyGetPositionCustomFields400Response'
        '401':
          description: '401'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "error": {
                            "type": "invalidAccessToken",
                            "message": "access token is invalid"
                        }
                    }
              schema:
                $ref: '#/components/schemas/CompanyGetPositionCustomFields401Response'
        '500':
          description: '500'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "error": {
                            "type": "getPositionCustomFieldsError",
                            "message": "there was an unknown error getting position custom fields."
                        }
                    }
              schema:
                $ref: '#/components/schemas/CompanyGetPositionCustomFields500Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: curl
            code: >-
              curl -H "Content-Type: application/json" -H "Authorization:
              00000000-0000-0000-0000-000000000000"
              https://api.breezy.hr/v3/company/000000000000/position/000000000000/custom-fields
        samples-languages:
          - curl
  /v3/company/{company_id}/position/{position_id}/custom-fields/{custom_field_id}:
    put:
      tags:
        - Company
      summary: ./position/:id/custom-fields/:id
      operationId: Company_updateCustomField
      description: ''
      parameters:
        - description: company id
          name: company_id
          in: path
          schema:
            type: string
          required: true
        - description: position id
          name: position_id
          in: path
          schema:
            type: string
          required: true
        - description: custom field id
          name: custom_field_id
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanyUpdateCustomFieldRequest'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "[\n\tPosition Custom Field Object\n]"
              schema:
                $ref: '#/components/schemas/CompanyUpdateCustomFieldResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Missing Access Token:
                  value: |-
                    {
                        "error": {
                            "type": "missingAccessToken",
                            "message": "access token is null or empty"
                        }
                    }
              schema:
                $ref: '#/components/schemas/CompanyUpdateCustomField400Response'
        '401':
          description: '401'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "error": {
                            "type": "invalidAccessToken",
                            "message": "access token is invalid"
                        }
                    }
              schema:
                $ref: '#/components/schemas/CompanyUpdateCustomField401Response'
        '500':
          description: '500'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "error": {
                            "type": "updatePositionCustomFieldsError",
                            "message": "there was an unknown error updating position fields."
                        }
                    }
              schema:
                $ref: '#/components/schemas/CompanyUpdateCustomField500Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: http
            code: "PUT /v3/company/000000000000/position/000000000000/custom-fields/000000000000\nHost: api.breezy.hr\nAuthorization: 00000000-0000-0000-0000-000000000000\nContent-Type: application/json\n\n{\n\t\"value\": \"new value\"\n}"
          - language: curl
            code: >
              curl -H "Content-Type: application/json" -H "Authorization:
              00000000-0000-0000-0000-000000000000" -X PUT -d '{ "value": "new
              value"}'
              https://api.breezy.hr/v3/company/000000000000/position/000000000000/custom-fields/000000000000
        samples-languages:
          - http
          - curl
  /v3/company/{company_id}/position/{position_id}/candidate/{candidate_id}:
    get:
      tags:
        - Company
      summary: ./candidate/:id
      operationId: Company_getCandidateById
      description: Retrieve candidate by id for given position
      parameters:
        - description: company id
          name: company_id
          in: path
          required: true
          schema:
            type: string
        - description: position id
          name: position_id
          in: path
          required: true
          schema:
            type: string
        - description: candidate id
          name: candidate_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n\tCandidate Object\n}"
              schema:
                $ref: '#/components/schemas/CompanyGetCandidateByIdResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Missing Access Token:
                  value: |-
                    {
                        "error": {
                            "type": "missingAccessToken",
                            "message": "access token is null or empty"
                        }
                    }
              schema:
                $ref: '#/components/schemas/CompanyGetCandidateById400Response'
        '401':
          description: '401'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "error": {
                            "type": "invalidAccessToken",
                            "message": "access token is invalid"
                        }
                    }
              schema:
                $ref: '#/components/schemas/CompanyGetCandidateById401Response'
        '500':
          description: '500'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "error": {
                            "type": "getCandidateErrror",
                            "message": "there was an unknown error getting candidate."
                        }
                    }
              schema:
                $ref: '#/components/schemas/CompanyGetCandidateById500Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: curl
            code: >-
              curl -H "Content-Type: application/json" -H "Authorization:
              00000000-0000-0000-0000-000000000000"
              https://api.breezy.hr/v3/company/000000000000/position/000000000000/candidate/000000000000
        samples-languages:
          - curl
    put:
      tags:
        - Company
      summary: ./candidate/:id
      operationId: Company_updateCandidatePosition
      description: Updates a candidate on a position
      parameters:
        - name: company_id
          in: path
          required: true
          schema:
            type: string
        - name: position_id
          in: path
          required: true
          schema:
            type: string
        - name: candidate_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanyUpdateCandidatePositionRequest'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                       Candidate Object
                    }
              schema:
                $ref: '#/components/schemas/CompanyUpdateCandidatePositionResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Missing Access Token:
                  value: |-
                    {
                        "error": {
                            "type": "missingAccessToken",
                            "message": "access token is null or empty"
                        }
                    }
              schema:
                $ref: '#/components/schemas/CompanyUpdateCandidatePosition400Response'
        '401':
          description: '401'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "error": {
                            "type": "invalidAccessToken",
                            "message": "access token is invalid"
                        }
                    }
              schema:
                $ref: '#/components/schemas/CompanyUpdateCandidatePosition401Response'
        '500':
          description: '500'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "error": {
                            "type": "updateCandidateError",
                            "message": "there was an unknown error updating candidate."
                        }
                    }
              schema:
                $ref: '#/components/schemas/CompanyUpdateCandidatePosition500Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: http
            code: "PUT /v3/company/000000000000/position/000000000000/candidate/000000000000 HTTP/1.1\nHost: api.breezy.hr\nAuthorization: 00000000-0000-0000-0000-000000000000\nContent-Type: application/json\n\n{\n  \"name\": \"New Candidate\",\n  \"email_address\": \"candidate@emailaddress.com\",\n  \"phone_number\": \"123-456-7890\",\n  \"summary\": \"I will be a good candidate for any job you have!\",\n  \"tags\": [\"technical\", \"junior\"],\n  \"source\": \"LinkedIn\",\n  \"headline\": \"This is the candidate headline\",\n  \"address\": \"1234 Mockingbird Lane\\nTopeka, KS 12345\",\n  \"social_profiles\": {\n  \t\"facebook\": \"https://link.to/facebook\",\n    \"github\": \"https://link.to/github\"\n  },\n  \"cover_letter\": \"Please consider me\"\n}"
          - language: curl
            code: >+
              curl -H "Content-Type: application/json" -H "Authorization:
              00000000-0000-0000-0000-000000000000" -X PUT -d '{ "name": "New
              Candidate", "email_address": "candidate@emailaddress.com",
              "phone_number": "123-456-7890", "summary": "I will be a good
              candidate for any job you have!", "tags": ["technical", "junior"],
              "source": "LinkedIn", "headline": "This is the candidate
              headline", "address": "1234 Mockingbird Lane\nTopeka, KS 12345",
              "social_profiles": { "facebook": "https://link.to/facebook",
              "github": "https://link.to/github" }, "cover_letter": "Please
              consider me"}'
              https://api.breezy.hr/v3/company/000000000000/position/000000000000/candidate/000000000000

        samples-languages:
          - http
          - curl
  /v3/company/{company_id}/position/{position_id}/candidate/{candidate_id}/assessments:
    get:
      tags:
        - Company
      summary: ./candidate/:id/assessments
      operationId: Company_getAssessments
      description: Retrieve all 3rd party assessments candidate has taken
      parameters:
        - description: company id
          name: company_id
          in: path
          required: true
          schema:
            type: string
        - description: position id
          name: position_id
          in: path
          required: true
          schema:
            type: string
        - description: candidate id
          name: candidate_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n\tAssessment Object\n}"
              schema:
                $ref: '#/components/schemas/CompanyGetAssessmentsResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Missing Access Token:
                  value: |-
                    {
                        "error": {
                            "type": "missingAccessToken",
                            "message": "access token is null or empty"
                        }
                    }
              schema:
                $ref: '#/components/schemas/CompanyGetAssessments400Response'
        '401':
          description: '401'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "error": {
                            "type": "invalidAccessToken",
                            "message": "access token is invalid"
                        }
                    }
              schema:
                $ref: '#/components/schemas/CompanyGetAssessments401Response'
        '500':
          description: '500'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "error": {
                            "type": "getCandidateAssessmentsErrror",
                            "message": "there was an unknown error getting candidate assessments"
                        }
                    }
              schema:
                $ref: '#/components/schemas/CompanyGetAssessments500Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: curl
            code: >-
              curl -H "Content-Type: application/json" -H "Authorization:
              00000000-0000-0000-0000-000000000000"
              https://api.breezy.hr/v3/company/000000000000/position/000000000000/candidate/000000000000/assessments
        samples-languages:
          - curl
  /v3/company/{company_id}/position/{position_id}/candidate/{candidate_id}/background-checks:
    get:
      tags:
        - BackgroundCheck
      summary: ./candidate/:id/background-checks
      operationId: BackgroundCheck_getAll
      description: Retrieve all 3rd party background checks for candidate
      parameters:
        - description: company id
          name: company_id
          in: path
          required: true
          schema:
            type: string
        - description: position id
          name: position_id
          in: path
          required: true
          schema:
            type: string
        - description: candidate id
          name: candidate_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n\tBackground Check Object\n}"
              schema:
                $ref: '#/components/schemas/BackgroundCheckGetAllResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Missing Access Token:
                  value: |-
                    {
                        "error": {
                            "type": "missingAccessToken",
                            "message": "access token is null or empty"
                        }
                    }
              schema:
                $ref: '#/components/schemas/BackgroundCheckGetAll400Response'
        '401':
          description: '401'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "error": {
                            "type": "invalidAccessToken",
                            "message": "access token is invalid"
                        }
                    }
              schema:
                $ref: '#/components/schemas/BackgroundCheckGetAll401Response'
        '500':
          description: '500'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "error": {
                            "type": "getCandidateAssessmentsErrror",
                            "message": "there was an unknown error getting candidate background checks"
                        }
                    }
              schema:
                $ref: '#/components/schemas/BackgroundCheckGetAll500Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: curl
            code: >-
              curl -H "Content-Type: application/json" -H "Authorization:
              00000000-0000-0000-0000-000000000000"
              https://api.breezy.hr/v3/company/000000000000/position/000000000000/candidate/000000000000/background-checks
        samples-languages:
          - curl
  /v3/company/{company_id}/position/{position_id}/candidate/{candidate_id}/conversation:
    get:
      tags:
        - Conversation
      summary: ./candidate/:id/conversation
      operationId: Conversation_getStream
      description: Retrieve candidate conversation stream
      parameters:
        - description: company _id
          name: company_id
          in: path
          required: true
          schema:
            type: string
        - description: position id
          name: position_id
          in: path
          required: true
          schema:
            type: string
        - description: candidate id
          name: candidate_id
          in: path
          required: true
          schema:
            type: string
        - description: >-
            1 to include any messages that are currently queued for delayed
            delivery
          name: include_delayed
          in: query
          schema:
            type: integer
            format: int32
            default: 0
        - description: Number of records to skip for paging
          name: skip
          in: query
          schema:
            type: integer
            format: int32
            default: 0
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "[\n  {\n    \"_id\": String,\n    \"type\": \"messageToCandidatePosted | messageFromCandidatePosted\",\n    \"object\": {\n      \"body\": String,\n      \"subject\": Subject,\n      \"attachments\": [\n        {\n      \t\t\"status\": String,\n        \t\"file_name\": String,\n        \t\"url\": String,\n        \t\"content_type\": String\n        },\n        ...\n      ],      \n      \"candidate_id\": String,\n      \"company_id\": String,\n      \"position_id\": String,\n      \"acting_user\": { Candidate | User}\n    },\n    \"timestamp\": Date\n  }\n]"
              schema:
                $ref: '#/components/schemas/ConversationGetStreamResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Missing Access Token:
                  value: |-
                    {
                        "error": {
                            "type": "missingAccessToken",
                            "message": "access token is null or empty"
                        }
                    }
              schema:
                $ref: '#/components/schemas/ConversationGetStream400Response'
        '401':
          description: '401'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "error": {
                            "type": "invalidAccessToken",
                            "message": "access token is invalid"
                        }
                    }
              schema:
                $ref: '#/components/schemas/ConversationGetStream401Response'
        '500':
          description: '500'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "error": {
                            "type": "getConversationError",
                            "message": "there was an unknown error getting candidate conversation."
                        }
                    }
              schema:
                $ref: '#/components/schemas/ConversationGetStream500Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: curl
            code: >-
              curl -H "Content-Type: application/json" -H "Authorization:
              00000000-0000-0000-0000-000000000000"
              https://api.breezy.hr/v3/company/000000000000/position/000000000000/candidate/000000000000/conversation?include_delayed=1&skip=50
        samples-languages:
          - curl
    post:
      tags:
        - Conversation
      summary: ./candidate/:id/conversation
      operationId: Conversation_addMessage
      description: Adds a new conversation message for the candidate
      parameters:
        - name: company_id
          in: path
          required: true
          schema:
            type: string
        - name: position_id
          in: path
          required: true
          schema:
            type: string
        - name: candidate_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConversationAddMessageRequest'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"_id\": String,\n  \"type\": \"messageToCandidatePosted\",\n  \"object\": {\n    \"body\": String,\n    \"subject\": Subject,\n    \"attachments\": [\n      {\n        \"status\": String,\n        \"file_name\": String,\n        \"url\": String,\n        \"content_type\": String\n      },\n      ...\n    ],      \n\t\t\"candidate_id\": String,\n\t\t\"company_id\": String,\n\t\t\"position_id\": String,\n\t\t\"acting_user\": { Candidate | User}\n\t},\n\t\"timestamp\": Date\n}"
              schema:
                $ref: '#/components/schemas/ConversationAddMessageResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Missing Access Token:
                  value: |-
                    {
                        "error": {
                            "type": "missingAccessToken",
                            "message": "access token is null or empty"
                        }
                    }
                Result:
                  value: |-
                    {
                        "error": {
                            "type": "postConversationMissingBody",
                            "message": "body is null or empty"
                        }
                    }
              schema:
                $ref: '#/components/schemas/ConversationAddMessage400Response'
        '401':
          description: '401'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "error": {
                            "type": "invalidAccessToken",
                            "message": "access token is invalid"
                        }
                    }
              schema:
                $ref: '#/components/schemas/ConversationAddMessage401Response'
        '500':
          description: '500'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "error": {
                            "type": "postMessageError",
                            "message": "there was an unknown error posting message."
                        }
                    }
              schema:
                $ref: '#/components/schemas/ConversationAddMessage500Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: html
            code: >-
              POST
              /v3/company/000000000000/position/000000000000/candidate/000000000000/conversation
              HTTP/1.1

              Host: api.breezy.hr

              Authorization: 00000000-0000-0000-0000-000000000000

              Content-Type: application/json


              {
                "body": "Hi there! This is a test message!"
              }
          - language: curl
            code: >+
              curl -H "Content-Type: application/json" -H "Authorization:
              00000000-0000-0000-0000-000000000000" -X POST -d '{ "body": "Hi
              there! This is a test message!" }'
              https://api.breezy.hr/v3/company/000000000000/position/000000000000/candidate/000000000000/conversation

        samples-languages:
          - html
          - curl
  /v3/company/{company_id}/position/{position_id}/candidate/{candidate_id}/custom-attribute:
    put:
      tags:
        - CustomAttribute
      summary: ./candidate/:id/custom-attribute
      operationId: CustomAttribute_addToCandidateCustomAttribute
      description: Adds a custom-attribute to a candidate
      parameters:
        - name: company_id
          in: path
          required: true
          schema:
            type: string
        - name: position_id
          in: path
          required: true
          schema:
            type: string
        - name: candidate_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/CustomAttributeAddToCandidateCustomAttributeRequest
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                       Candidate Object
                    }
              schema:
                $ref: >-
                  #/components/schemas/CustomAttributeAddToCandidateCustomAttributeResponse
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Missing Access Token:
                  value: |-
                    {
                        "error": {
                            "type": "missingAccessToken",
                            "message": "access token is null or empty"
                        }
                    }
              schema:
                $ref: >-
                  #/components/schemas/CustomAttributeAddToCandidateCustomAttribute400Response
        '401':
          description: '401'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "error": {
                            "type": "invalidAccessToken",
                            "message": "access token is invalid"
                        }
                    }
              schema:
                $ref: >-
                  #/components/schemas/CustomAttributeAddToCandidateCustomAttribute401Response
        '500':
          description: '500'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "error": {
                            "type": "updateCandidateError",
                            "message": "there was an unknown error updating candidate."
                        }
                    }
              schema:
                $ref: >-
                  #/components/schemas/CustomAttributeAddToCandidateCustomAttribute500Response
      deprecated: false
      x-readme:
        code-samples:
          - language: http
            code: "PUT /v3/company/000000000000/position/000000000000/candidate/000000000000/custom-attribute HTTP/1.1\nHost: api.breezy.hr\nAuthorization: 00000000-0000-0000-0000-000000000000\nContent-Type: application/json\n\n{\n\t\"name\": \"Desired Salary\",\n\t\"value\": \"100000\"\n\t\"secure\": true\n}"
          - language: curl
            code: >+
              curl -H "Content-Type: application/json" -H "Authorization:
              00000000-0000-0000-0000-000000000000" -X PUT -d '{"name": "Desired
              Salary","value": "100000""secure": true}'
              https://api.breezy.hr/v3/company/000000000000/position/000000000000/candidate/000000000000/custom-attribute

        samples-languages:
          - http
          - curl
  /v3/company/{company_id}/position/{position_id}/candidate/{candidate_id}/documents:
    get:
      tags:
        - Company
      summary: ./candidate/:id/documents
      operationId: Company_getCandidateDocumentsByPosition
      description: Retrieve candidate documents by id for given position
      parameters:
        - name: company_id
          in: path
          required: true
          schema:
            type: string
        - name: position_id
          in: path
          required: true
          schema:
            type: string
        - name: candidate_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "[\n\t{\n\t\t\"_id\": String,\n\t\t\"company_id\": String,\n\t\t\"position_id\": String,        \n\t\t\"candidate_id\": String,\n\t\t\"acting_user\": { User | Candidate},\n\t\t\"file_name\": String,\n\t\t\"file_url\": String,\n\t\t\"file_size\": Integer,\n\t\t\"creation_date\": Date\n\t},\n  ...\n]"
              schema:
                $ref: >-
                  #/components/schemas/CompanyGetCandidateDocumentsByPositionResponse
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Missing Access Token:
                  value: |-
                    {
                        "error": {
                            "type": "missingAccessToken",
                            "message": "access token is null or empty"
                        }
                    }
              schema:
                $ref: >-
                  #/components/schemas/CompanyGetCandidateDocumentsByPosition400Response
        '401':
          description: '401'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "error": {
                            "type": "invalidAccessToken",
                            "message": "access token is invalid"
                        }
                    }
              schema:
                $ref: >-
                  #/components/schemas/CompanyGetCandidateDocumentsByPosition401Response
        '500':
          description: '500'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "error": {
                            "type": "getDocumentsError",
                            "message": "there was an unknown error getting documents."
                        }
                    }
              schema:
                $ref: >-
                  #/components/schemas/CompanyGetCandidateDocumentsByPosition500Response
      deprecated: false
      x-readme:
        code-samples:
          - language: curl
            code: >-
              curl -H "Content-Type: application/json" -H "Authorization:
              00000000-0000-0000-0000-000000000000"
              https://api.breezy.hr/v3/company/000000000000/position/000000000000/candidate/000000000000/documents
        samples-languages:
          - curl
    post:
      tags:
        - Company
      summary: ./candidate/:id/documents
      operationId: Company_addCandidateDocument
      description: Adds a new document for the candidate
      parameters:
        - name: company_id
          in: path
          required: true
          schema:
            type: string
        - name: position_id
          in: path
          required: true
          schema:
            type: string
        - name: candidate_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "_id": String,
                      "company_id": String,
                      "position_id": String,        
[...]
