openapi: 3.0.0
info:
  title: ChartHop API
  description: REST API for ChartHop
  version: V1.0.0
  contact:
    name: ChartHop
    url: https://www.charthop.com
    email: support@charthop.com
  x-konfig-ignore:
    object-with-no-properties: true
    potential-incorrect-type: true
servers:
  - url: https://api.charthop.com
tags:
  - name: comp-review
  - name: app
  - name: approval
  - name: form
  - name: change
  - name: org
  - name: process
  - name: template
  - name: user
  - name: field
  - name: scenario
  - name: table
  - name: assessment
  - name: report
  - name: export
  - name: position
  - name: task
  - name: group
  - name: job
  - name: content
  - name: form-response
  - name: profile-tab
  - name: timeoff
  - name: budget-pool
  - name: policy
  - name: reportChart
  - name: band
  - name: customer
  - name: exchange-rate
  - name: message
  - name: oauth
  - name: action
  - name: category-sort
  - name: comment
  - name: guideline
  - name: role
  - name: person
  - name: category
  - name: data-view
  - name: email-template
  - name: event
  - name: file
  - name: import
  - name: job-level
  - name: multiplier
  - name: question
  - name: stripe
  - name: webauthn
  - name: appConfig
  - name: media
  - name: product
  - name: query
  - name: saml
  - name: stock
  - name: approval-request
  - name: billing
  - name: org-config
  - name: task-config
  - name: expression
  - name: legalDoc
  - name: onboard
  - name: access
  - name: ai
  - name: calendar
  - name: metric
  - name: notification
  - name: preload
  - name: search
  - name: status
  - name: usage
paths:
  /v1/org/{orgId}/access/entity/{type}:
    get:
      tags:
        - access
      summary: >-
        Return the appropriate actions that can be performed on an entity or set
        of entities
      operationId: Access_entityActions
      description: ''
      parameters:
        - description: Org identifier (either id or slug)
          name: orgId
          in: path
          required: true
          schema:
            type: string
        - description: Entity type
          name: type
          in: path
          required: true
          schema:
            type: string
        - description: Entity ids
          name: id
          in: query
          required: false
          schema:
            type: string
        - description: Actions, defaults to update,delete
          name: action
          in: query
          required: false
          schema:
            type: string
        - description: Fields to check, defaults to all fields
          name: fields
          in: query
          required: false
          schema:
            type: string
        - description: Date, defaults to today
          name: date
          in: query
          required: false
          schema:
            type: string
            format: date
        - description: Scenario id, defaults to primary
          name: scenarioId
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessResponse'
        '401':
          description: unauthorized
        '404':
          description: not found
  /v1/org/{orgId}/action/{actionId}:
    get:
      tags:
        - action
      summary: Return a particular action by id
      operationId: Action_getActionById
      description: ''
      parameters:
        - description: Org identifier (either id or slug)
          name: orgId
          in: path
          required: true
          schema:
            type: string
        - description: Action id
          name: actionId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Action'
        '400':
          description: bad request
        '404':
          description: not found
    delete:
      tags:
        - action
      summary: Delete an action
      operationId: Action_deleteActionById
      description: ''
      parameters:
        - description: Org identifier (either id or slug)
          name: orgId
          in: path
          required: true
          schema:
            type: string
        - description: Action id
          name: actionId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
        '400':
          description: invalid data
        '401':
          description: not authorized
        '403':
          description: permission denied
        '404':
          description: not found
    patch:
      tags:
        - action
      summary: Update an existing action
      operationId: Action_updateExistingActionById
      description: ''
      parameters:
        - description: Org identifier (either id or slug)
          name: orgId
          in: path
          required: true
          schema:
            type: string
        - description: Action id
          name: actionId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        description: Action data to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchActionBody'
      responses:
        '200':
          description: OK
        '400':
          description: invalid data
        '401':
          description: not authorized
        '403':
          description: permission denied
        '404':
          description: not found
  /v1/org/{orgId}/action:
    get:
      tags:
        - action
      summary: Return all actions in the organization paginated
      operationId: Action_getAllPaginated
      description: ''
      parameters:
        - description: Org identifier (either id or slug)
          name: orgId
          in: path
          required: true
          schema:
            type: string
        - description: Action id to start paginating from
          name: from
          in: query
          required: false
          schema:
            type: string
        - description: Number of results to return
          name: limit
          in: query
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultsAction'
        '400':
          description: bad request
        '401':
          description: not authorized
        '404':
          description: not found
    post:
      tags:
        - action
      summary: Create an action
      operationId: Action_createNewAction
      description: ''
      parameters:
        - description: Org identifier (either id or slug)
          name: orgId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        description: Action data to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateActionBody'
      responses:
        '201':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Action'
        '400':
          description: invalid data
        '401':
          description: not authorized
        '403':
          description: permission denied
        '404':
          description: org not found
  /v1/org/{orgId}/action/{actionId}/run:
    post:
      tags:
        - action
      summary: Run an action - for testing
      operationId: Action_executeActionForTesting
      description: ''
      parameters:
        - description: Org identifier (either id or slug)
          name: orgId
          in: path
          required: true
          schema:
            type: string
        - description: Action id
          name: actionId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActionRunRequest'
      responses:
        '200':
          description: OK
        '400':
          description: invalid data
        '401':
          description: not authorized
        '403':
          description: permission denied
        '404':
          description: not found
  /v1/org/{orgId}/ai/form-response/summary:
    post:
      tags:
        - ai
      summary: Use AI to generate a summary of text form responses
      operationId: Ai_generateTextSummary
      description: ''
      parameters:
        - description: Org identifier (either id or slug)
          name: orgId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SummarizeFormResponsesRequest'
      responses:
        '204':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SummarizeResponse'
        '400':
          description: invalid data
        '401':
          description: not authorized
        '403':
          description: permission denied
        '404':
          description: not found
  /v1/app-config/{appId}:
    get:
      tags:
        - appConfig
      summary: Return default app configuration by app
      operationId: AppConfig_getDefaultConfigByApp
      description: ''
      parameters:
        - description: App id
          name: appId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppConfig'
        '400':
          description: bad request
        '401':
          description: not authorized
        '404':
          description: not found
  /v1/app-config/{appId}/{userId}:
    get:
      tags:
        - appConfig
      summary: Return user app configuration by app and user
      operationId: AppConfig_getUserConfigByAppAndUser
      description: ''
      parameters:
        - description: App id
          name: appId
          in: path
          required: true
          schema:
            type: string
        - description: User id
          name: userId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppConfig'
        '400':
          description: bad request
        '401':
          description: not authorized
        '404':
          description: not found
    patch:
      tags:
        - appConfig
      summary: Update an existing app
      operationId: AppConfig_updateById
      description: ''
      parameters:
        - description: App id
          name: appId
          in: path
          required: true
          schema:
            type: string
        - description: User id
          name: userId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        description: App data to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAppConfig'
      responses:
        '200':
          description: OK
        '400':
          description: invalid data
        '401':
          description: not authorized
        '403':
          description: permission denied
        '404':
          description: not found
  /v1/app-config:
    post:
      tags:
        - appConfig
      summary: Create a new app config
      operationId: AppConfig_createNewConfig
      description: ''
      requestBody:
        description: App config data to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAppConfig'
      responses:
        '201':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppConfig'
        '400':
          description: invalid data
        '401':
          description: not authorized
        '403':
          description: permission denied
  /v1/app/notify:
    post:
      tags:
        - app
      summary: >-
        Send an email notification to the configured notify users, on behalf of
        an app
      operationId: App_sendEmailNotification
      description: ''
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotifyRequest'
      responses:
        '200':
          description: OK
        '400':
          description: invalid data
        '401':
          description: not authorized
        '403':
          description: permission denied
        '404':
          description: not found
  /v1/app/{appId}:
    get:
      tags:
        - app
      summary: Return a particular app by id
      operationId: App_getById
      description: ''
      parameters:
        - description: App id
          name: appId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/App'
        '400':
          description: bad request
        '404':
          description: not found
    delete:
      tags:
        - app
      summary: Delete an app
      operationId: App_removeById
      description: ''
      parameters:
        - description: App id
          name: appId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
        '400':
          description: invalid data
        '401':
          description: not authorized
        '403':
          description: permission denied
        '404':
          description: not found
    patch:
      tags:
        - app
      summary: Update an existing app
      operationId: App_updateExistingApp
      description: ''
      parameters:
        - description: App id
          name: appId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        description: App data to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateApp'
      responses:
        '200':
          description: OK
        '400':
          description: invalid data
        '401':
          description: not authorized
        '403':
          description: permission denied
        '404':
          description: not found
  /v1/app/org/{orgId}/install/{appUserId}/code:
    post:
      tags:
        - app
      summary: >-
        Retrieve an Oauth2 authorization code for this app, which can be
        exchanged for an access token
      operationId: App_getOauth2AuthorizationCode
      description: ''
      parameters:
        - description: Org identifier (either id or slug)
          name: orgId
          in: path
          required: true
          schema:
            type: string
        - description: App user id
          name: appUserId
          in: path
          required: true
          schema:
            type: string
        - description: Scopes
          name: scope
          in: query
          required: false
          schema:
            type: string
      responses:
        '204':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessTokenResponse'
        '400':
          description: invalid data
        '401':
          description: not authorized
        '403':
          description: permission denied
        '404':
          description: not found
  /v1/app/org/{orgId}/install/{appUserId}/token:
    get:
      tags:
        - app
      summary: Retrieve the current token for this app
      operationId: App_getTokenForApp
      description: ''
      parameters:
        - description: Org identifier (either id or slug)
          name: orgId
          in: path
          required: true
          schema:
            type: string
        - description: App user id
          name: appUserId
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessTokenResponse'
        '400':
          description: invalid data
        '401':
          description: not authorized
        '403':
          description: permission denied
        '404':
          description: not found
    post:
      tags:
        - app
      summary: Generate or regenerate a long-lived access token for the app
      operationId: App_generateOrRegenerateAccessToken
      description: ''
      parameters:
        - description: Org identifier (either id or slug)
          name: orgId
          in: path
          required: true
          schema:
            type: string
        - description: App user id
          name: appUserId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScopeRequest'
      responses:
        '204':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessTokenResponse'
        '400':
          description: invalid data
        '401':
          description: not authorized
        '403':
          description: permission denied
        '404':
          description: not found
  /v1/app:
    get:
      tags:
        - app
      summary: Return all publicly visible global apps
      operationId: App_listPublicGlobalApps
      description: ''
      parameters:
        - description: Tag to filter by
          name: tag
          in: query
          required: false
          schema:
            type: string
        - description: App id to start from
          name: from
          in: query
          required: false
          schema:
            type: string
        - description: Number of results to return
          name: limit
          in: query
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultsApp'
        '400':
          description: bad request
        '404':
          description: not found
    post:
      tags:
        - app
      summary: Create a new app
      operationId: App_createNewApp
      description: ''
      requestBody:
        description: App data to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateApp'
      responses:
        '201':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/App'
        '400':
          description: invalid data
        '401':
          description: not authorized
        '403':
          description: permission denied
  /v1/app/org/{orgId}:
    get:
      tags:
        - app
      summary: Return all active apps available for a particular org
      operationId: App_getActiveAppsByOrg
      description: ''
      parameters:
        - description: Org identifier (either id or slug)
          name: orgId
          in: path
          required: true
          schema:
            type: string
        - description: Search query
          name: q
          in: query
          required: false
          schema:
            type: string
        - description: Filter by type (app, bundle)
          name: type
          in: query
          required: false
          schema:
            type: string
        - description: Filter by tags
          name: tags
          in: query
          required: false
          schema:
            type: string
        - description: App id to start from
          name: from
          in: query
          required: false
          schema:
            type: string
        - description: Number of results to return
          name: limit
          in: query
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultsApp'
        '400':
          description: bad request
        '404':
          description: not found
  /v1/app/org/{orgId}/install/{appUserId}:
    get:
      tags:
        - app
      summary: Get an installed app
      operationId: App_findInstalledAppUsers
      description: ''
      parameters:
        - description: Org identifier (either id or slug)
          name: orgId
          in: path
          required: true
          schema:
            type: string
        - description: App user id
          name: appUserId
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          description: invalid data
        '401':
          description: not authorized
        '403':
          description: permission denied
        '404':
          description: not found
    delete:
      tags:
        - app
      summary: Uninstall an app
      operationId: App_uninstallAppByUserId
      description: ''
      parameters:
        - description: Org identifier (either id or slug)
          name: orgId
          in: path
          required: true
          schema:
            type: string
        - description: App user id
          name: appUserId
          in: path
          required: true
          schema:
            type: string
        - description: >-
            Comma-separated list of bundle-installed entities to delete -- if
            this parameter is omitted, all bundle-installed entities will be
            deleted
          name: keepEntityIds
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
        '400':
          description: invalid data
        '401':
          description: not authorized
        '403':
          description: permission denied
        '404':
          description: not found
    patch:
      tags:
        - app
      summary: Update the settings of an installed app
      operationId: App_updateInstalledApp
      description: ''
      parameters:
        - description: Org identifier (either id or slug)
          name: orgId
          in: path
          required: true
          schema:
            type: string
        - description: App user id
          name: appUserId
          in: path
          required: true
          schema:
            type: string
        - description: If the installed appUser is inactive, load inactive instead
          name: includeInactive
          in: query
          required: false
          schema:
            type: boolean
      requestBody:
        description: App user data to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUser'
      responses:
        '200':
          description: OK
        '400':
          description: invalid data
        '401':
          description: not authorized
        '403':
          description: permission denied
        '404':
          description: not found
  /v1/app/org/{orgId}/install/name/{appName}:
    get:
      tags:
        - app
      summary: Get an installed app by name
      operationId: App_getInstalledAppByName
      description: ''
      parameters:
        - description: Org identifier (either id or slug)
          name: orgId
          in: path
          required: true
          schema:
            type: string
        - description: App name
          name: appName
          in: path
          required: true
          schema:
            type: string
        - description: If the installed appUser is inactive, load inactive instead
          name: includeInactive
          in: query
          required: false
          schema:
            type: boolean
      responses:
        '204':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          description: invalid data
        '401':
          description: not authorized
        '403':
          description: permission denied
        '404':
          description: not found
  /v1/app/org/{orgId}/install:
    get:
      tags:
        - app
      summary: Find installed app users
      operationId: App_findInstalledAppUsers
      description: ''
      parameters:
        - description: Org identifier (either id or slug)
          name: orgId
          in: path
          required: true
          schema:
            type: string
        - description: Filter by type (app, bundle)
          name: type
          in: query
          required: false
          schema:
            type: string
        - description: Filter by tag
          name: tags
          in: query
          required: false
          schema:
            type: string
        - description: >-
            Filter by App User statuses, comma-separated. Accepted values:
            ['NORMAL', 'INACTIVE', 'UNINSTALLED']
          name: statuses
          in: query
          required: false
          schema:
            type: string
        - description: >-
            Whether to include app users with NONE access to orgs they pertain
            to.  Default is false
          name: includeFormer
          in: query
          required: false
          schema:
            type: boolean
        - description: App id to start from
          name: from
          in: query
          required: false
          schema:
            type: string
        - description: Number of results to return
          name: limit
          in: query
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultsUser'
        '400':
          description: bad request
        '404':
          description: not found
    post:
      tags:
        - app
      summary: Install an app for a particular org
      operationId: App_installAppForOrg
      description: ''
      parameters:
        - description: Org identifier (either id or slug)
          name: orgId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/CreateUser'
      responses:
        '200':
          description: OK
        '400':
          description: invalid data
        '401':
          description: not authorized
        '403':
          description: permission denied
  /v1/app/org/{orgId}/install/validate:
    post:
      tags:
        - app
      summary: Validate the installation of an app for a particular org
      operationId: App_validateAppInstallation
      description: ''
      parameters:
        - description: Org identifier (either id or slug)
          name: orgId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/CreateUser'
      responses:
        '201':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BundleInstallValidate'
        '400':
          description: invalid data
        '401':
          description: not authorized
        '403':
          description: permission denied
  /v1/app/name/{appName}:
    get:
      tags:
        - app
      summary: Return a particular app by name
      operationId: App_getByName
      description: ''
      parameters:
        - description: App name
          name: appName
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/App'
        '400':
          description: bad request
        '404':
          description: not found
  /v1/app/org/{orgId}/install/{appUserId}/run:
    post:
      tags:
        - app
      summary: Run an installed app
      operationId: App_runInstalledApp
      description: ''
      parameters:
        - description: Org identifier (either id or slug)
          name: orgId
          in: path
          required: true
          schema:
            type: string
        - description: App user id
          name: appUserId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/runInstalledAppBody'
      responses:
        '204':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Process'
        '400':
          description: invalid data
        '401':
          description: not authorized
        '403':
          description: permission denied
        '404':
          description: not found
  /v1/app/org/{orgId}/install/{appUserId}/installdata/{installDataName}:
    get:
      tags:
        - app
      summary: Retrieve the current token for this app
      operationId: App_getTokenForApp
      description: ''
      parameters:
        - description: Org identifier (either id or slug)
          name: orgId
          in: path
          required: true
          schema:
            type: string
        - description: App user id
          name: appUserId
          in: path
          required: true
          schema:
            type: string
        - description: Name
          name: installDataName
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
        '400':
          description: invalid data
        '401':
          description: not authorized
        '403':
          description: permission denied
        '404':
          description: not found
  /v1/org/{orgId}/approval-request/{approvalRequestId}/scenario-response:
    get:
      tags:
        - approval-request
      summary: Return a particular approval request scenario response by id
      operationId: Approvalrequest_getScenarioResponseById
      description: ''
      parameters:
        - description: Org identifier (either id or slug)
          name: orgId
          in: path
          required: true
          schema:
            type: string
        - description: Approval request id
          name: approvalRequestId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApprovalRequestScenarioResponse'
        '400':
          description: bad request
        '401':
          description: not authorized
        '404':
          description: not found
  /v1/org/{orgId}/approval-request/scenario-job/{jobId}:
    get:
      tags:
        - approval-request
      summary: Return a particular approval request scenario response by jobId
      operationId: Approvalrequest_getApprovalRequestScenarioResponseByJobId
      description: ''
      parameters:
        - description: Org identifier (either id or slug)
          name: orgId
          in: path
          required: true
          schema:
            type: string
        - description: Job id
          name: jobId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApprovalRequestScenarioResponse'
        '400':
          description: bad request
        '401':
          description: not authorized
        '404':
          description: not found
  /v1/org/{orgId}/approval-request/entity/scenario:
    get:
      tags:
        - approval-request
      summary: Return all approval request scenario responses for an org
      operationId: Approvalrequest_getAllApprovalRequestScenarioResponses
      description: ''
      parameters:
        - description: Org identifier (either id or slug)
          name: orgId
          in: path
          required: true
          schema:
            type: string
        - description: Number of results to return
          name: limit
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - description: entity ids to filter on
          name: entityIds
          in: query
          required: false
          schema:
            type: string
        - description: Include deleted approval requests
          name: includeDeleted
          in: query
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultsApprovalRequestScenarioResponse'
        '400':
          description: bad request
        '404':
          description: not found
  /v1/org/{orgId}/approval-chain/{approvalChainId}/request/{approvalRequestId}:
    get:
      tags:
        - approval
      summary: Return an approval request
      operationId: Approval_requestApprovalRequest
      description: ''
      parameters:
        - description: Org identifier (either id or slug)
          name: orgId
          in: path
          required: true
          schema:
            type: string
        - description: Approval chain id
          name: approvalChainId
          in: path
          required: true
          schema:
            type: string
        - description: Approval request id
          name: approvalRequestId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApprovalRequest'
        '400':
          description: bad request
        '404':
          description: not found
    delete:
      tags:
        - approval
      summary: Delete an approval request
      operationId: Approval_deleteRequestApproval
      description: ''
      parameters:
        - description: Org identifier (either id or slug)
          name: orgId
          in: path
          required: true
          schema:
            type: string
        - description: Approval chain id
          name: approvalChainId
          in: path
          required: true
          schema:
            type: string
        - description: Approval request id
          name: approvalRequestId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        description: Body params for deletion
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApprovalRequestDeleteBody'
      responses:
        '202':
          description: snapshot currently building
        '400':
          description: bad request
        '401':
          description: not authorized
        '404':
          description: not found
    patch:
      tags:
        - approval
      summary: Update an existing approval request
      operationId: Approval_updateExistingRequest
      description: ''
      parameters:
        - description: Org identifier (either id or slug)
          name: orgId
          in: path
          required: true
          schema:
            type: string
        - description: Approval chain id
          name: approvalChainId
          in: path
          required: true
          schema:
            type: string
        - description: approval request id
          name: approvalRequestId
          in: path
          required: true
          schema:
            type: string
        - description: preview-as job id
          name: previewJobId
          in: query
          required: false
          schema:
            type: string
      requestBody:
        description: approval request data to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApprovalRequestPatchBody'
      responses:
        '200':
          description: OK
        '400':
          description: invalid data
        '401':
          description: not authorized
        '403':
          description: permission denied
        '404':
          description: not found
  /v1/org/{orgId}/approval-chain/{approvalChainId}:
    get:
      tags:
        - approval
      summary: Return a particular approval chain by id
      operationId: Approval_getApprovalChainById
      description: ''
      parameters:
        - description: Org identifier (either id or slug)
          name: orgId
          in: path
          required: true
          schema:
            type: string
        - description: Approval chain id
          name: approvalChainId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApprovalChain'
        '400':
          description: bad request
        '401':
          description: not authorized
        '404':
          description: not found
    delete:
      tags:
        - approval
      summary: Delete a approval chain
      operationId: Approval_deleteChainById
      description: ''
      parameters:
        - description: Org identifier (either id or slug)
          name: orgId
          in: path
          required: true
          schema:
            type: string
        - description: Approval chain id
          name: approvalChainId
          in: path
          required: true
          schema:
            type: string
      responses:
        '202':
          description: snapshot currently building
        '400':
          description: bad request
        '401':
          description: not authorized
        '404':
          description: not found
    patch:
      tags:
        - approval
      summary: Update a approval chain
      operationId: Approval_updateChain
      description: ''
      parameters:
        - description: Org identifier (either id or slug)
          name: orgId
          in: path
          required: true
          schema:
            type: string
        - description: approval chain id
          name: approvalChainId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateApprovalChain'
      responses:
        '202':
          description: snapshot currently building
        '400':
          description: bad request
        '401':
          description: not authorized
        '403':
          description: permission denied
        '404':
          description: not found
  /v1/org/{orgId}/approval-chain:
    get:
      tags:
        - approval
      summary: Return approval chains
      operationId: Approval_getApprovalChains
      description: ''
      parameters:
        - description: Org identifier (either id or slug)
          name: orgId
          in: path
          required: true
          schema:
            type: string
        - description: The type of entity
          name: entityType
          in: query
          required: false
          schema:
            type: string
            enum:
              - COMP_REVIEW
              - SCENARIO
              - TIMEOFF
        - description: the id of the entity
          name: entityId
          in: query
          required: false
          schema:
            type: string
        - description: Number of results to return
          name: limit
          in: query
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultsApprovalChain'
        '400':
          description: bad request
        '401':
          description: not authorized
        '404':
          description: not found
    post:
      tags:
        - approval
      summary: Create an approval chain
      operationId: Approval_createChain
      description: ''
      parameters:
        - description: Org identifier (either id or slug)
          name: orgId
          in: path
          required: true
          schema:
            type: string
        - description: Create default stages
          name: createDefaultStages
          in: query
          required: false
          schema:
            type: boolean
      requestBody:
        description: ApprovalChain data to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateApprovalChain'
      responses:
        '201':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApprovalChain'
        '202':
          description: snapshot currently building
        '400':
          description: bad request
        '401':
          description: not authorized
        '403':
          description: permission denied
        '404':
          description: not found
  /v1/org/{orgId}/approval-chain/{approvalChainId}/stage:
    get:
      tags:
        - approval
      summary: Return all approval chain stages for an approval chain
      operationId: Approval_getApprovalChainStages
      description: ''
      parameters:
        - description: Org identifier (either id or slug)
          name: orgId
          in: path
          required: true
          schema:
            type: string
        - description: Approval chain id
          name: approvalChainId
          in: path
          required: true
          schema:
            type: string
        - description: Number of results to return
          name: limit
          in: query
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultsApprovalChainStage'
        '400':
          description: bad request
        '404':
          description: not found
    post:
      tags:
        - approval
      summary: Create an approval chain stage
      operationId: Approval_createChainStage
      description: ''
      parameters:
        - description: Org identifier (either id or slug)
          name: orgId
          in: path
          required: true
          schema:
            type: string
        - description: Approval chain id
          name: approvalChainId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        description: Approval chain stage data to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateApprovalChainStage'
      responses:
        '201':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApprovalChainStage'
        '400':
          description: invalid data
        '401':
          description: not authorized
        '403':
          description: permission denied
        '404':
          description: org not found
  /v1/org/{orgId}/approval-chain/{approvalChainId}/request/entity/comp-review:
    get:
      tags:
        - approval
      summary: Return all approval request comp review responses for an approval chain
      operationId: Approval_getCompReviewResponsesForChain
      description: ''
      parameters:
        - description: Org identifier (either id or slug)
          name: orgId
          in: path
          required: true
          schema:
            type: string
        - description: Approval chain id
          name: approvalChainId
          in: path
          required: true
          schema:
            type: string
        - description: Number of results to return
          name: limit
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - description: entity ids to filter on
          name: entityIds
          in: query
          required: false
          explode: true
          schema:
            type: array
            items:
              type: string
              example: 588f7ee98f138b19220041a7
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultsApprovalRequestCompReviewResponse'
        '400':
          description: bad request
        '404':
          description: not found
  /v1/org/{orgId}/approval-chain/{approvalChainId}/stage/{approvalChainStageId}:
    get:
      tags:
        - approval
      summary: Return all approval chain stages for an approval chain
      operationId: Approval_getAllStagesForChain
      description: ''
      parameters:
        - description: Org identifier (either id or slug)
          name: orgId
          in: path
          required: true
          schema:
            type: string
        - description: Approval chain id
          name: approvalChainId
          in: path
          required: true
          schema:
            type: string
        - description: Approval chain stage id
          name: approvalChainStageId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApprovalChainStage'
        '400':
          description: bad request
        '404':
          description: not found
    delete:
      tags:
        - approval
      summary: Delete an approval chain stage
      operationId: Approval_deleteApprovalChainStage
      description: ''
      parameters:
        - description: Org identifier (either id or slug)
          name: orgId
          in: path
          required: true
          schema:
            type: string
        - description: Approval chain id
          name: approvalChainId
          in: path
          required: true
          schema:
            type: string
        - description: Approval chain stage id
          name: approvalChainStageId
          in: path
          required: true
          schema:
            type: string
      responses:
        '202':
          description: snapshot currently building
        '400':
          description: bad request
        '401':
          description: not authorized
        '404':
          description: not found
    patch:
      tags:
        - approval
      summary: Update an existing approval chain stage
      operationId: Approval_updateStageById
      description: ''
      parameters:
        - description: Org identifier (either id or slug)
          name: orgId
          in: path
          required: true
          schema:
            type: string
        - description: Approval chain id
          name: approvalChainId
          in: path
          required: true
          schema:
            type: string
        - description: approval chain stage id
          name: approvalChainStageId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        description: approval chain stage data to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateApprovalChainStage'
      responses:
        '200':
          description: OK
        '400':
          description: invalid data
        '401':
          description: not authorized
        '403':
          description: permission denied
        '404':
          description: not found
  /v1/org/{orgId}/approval-chain/create-default-chain:
    post:
      tags:
        - approval
      summary: Build a default approval chain based on entity type
      operationId: Approval_generateDefaultChainStages
      description: ''
      parameters:
        - description: Org identifier (either id or slug)
          name: orgId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        description: Approval request data to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DefaultChainCreateBody'
      responses:
        '204':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApprovalChainStage'
        '400':
          description: invalid data
        '401':
          description: not authorized
        '403':
          description: permission denied
        '404':
          description: org not found
  /v1/org/{orgId}/approval-chain/{approvalChainId}/request:
    get:
      tags:
        - approval
      summary: Return all approval requests for an approval chain
      operationId: Approval_getAllApprovalRequestsForApprovalChain
      description: ''
      parameters:
        - description: Org identifier (either id or slug)
          name: orgId
          in: path
          required: true
          schema:
            type: string
        - description: Approval chain id
          name: approvalChainId
          in: path
          required: true
          schema:
            type: string
        - description: Number of results to return
          name: limit
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - description: entity type to filter on
          name: entityType
          in: query
          required: false
          schema:
            type: string
            enum:
              - COMP_REVIEW
              - SCENARIO
              - TIMEOFF
        - description: entity ids to filter on
          name: entityIds
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultsApprovalRequest'
        '400':
          description: bad request
        '404':
          description: not found
    post:
      tags:
        - approval
      summary: Create an approval request
      operationId: Approval_createRequest
      description: ''
      parameters:
        - description: Org identifier (either id or slug)
          name: orgId
          in: path
          required: true
          schema:
            type: string
        - description: Approval chain id
          name: approvalChainId
          in: path
          required: true
          schema:
            type: string
        - description: Dry run without creating real request
          name: dryRun
          in: query
          required: false
          schema:
            type: boolean
      requestBody:
        description: Approval request data to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApprovalRequestCreateBody'
      responses:
        '201':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApprovalRequest'
        '400':
          description: invalid data
        '401':
          description: not authorized
        '403':
          description: permission denied
        '404':
          description: org not found
  /v1/org/{orgId}/approval-chain/{approvalChainId}/request/entity/scenario:
    get:
      tags:
        - approval
      summary: Return all approval request scenario responses for an approval chain
      operationId: Approval_getScenarioResponses
      description: ''
      parameters:
        - description: Org identifier (either id or slug)
          name: orgId
          in: path
          required: true
          schema:
            type: string
        - description: Approval chain id
          name: approvalChainId
          in: path
          required: true
          schema:
            type: string
        - description: Number of results to return
          name: limit
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - description: entity ids to filter on
          name: entityIds
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultsApprovalRequestScenarioResponse'
        '400':
          description: bad request
        '404':
          description: not found
  /v1/org/{orgId}/approval-chain/{approvalChainId}/request/{approvalRequestId}/reassign-approver:
    post:
      tags:
        - approval
      summary: Reassigning an approver at a stage
      operationId: Approval_reassignApproverAtStage
      description: ''
      parameters:
        - description: Org identifier (either id or slug)
          name: orgId
          in: path
          required: true
          schema:
            type: string
        - description: Approval chain id
          name: approvalChainId
          in: path
          required: true
          schema:
            type: string
        - description: approval request id
          name: approvalRequestId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        description: approval request data to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReassignApproverPatchBody'
      responses:
        '200':
          description: OK
        '400':
          description: invalid data
        '401':
          description: not authorized
        '403':
          description: permission denied
        '404':
          description: not found
  /v1/org/{orgId}/approval-chain/{approvalChainId}/request/{approvalRequestId}/send-reminder:
    post:
      tags:
        - approval
      summary: Send a reminder for a stage reviewer in an existing approval request
      operationId: Approval_sendStageReviewerReminder
      description: ''
      parameters:
        - description: Org identifier (either id or slug)
          name: orgId
          in: path
          required: true
          schema:
            type: string
        - description: Approval chain id
          name: approvalChainId
          in: path
          required: true
          schema:
            type: string
        - description: approval request id
          name: approvalRequestId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        description: reminder body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendReminderBody'
      responses:
        '200':
          description: OK
        '400':
          description: invalid data
        '401':
          description: not authorized
        '403':
          description: permission denied
        '404':
          description: not found
  /v1/org/{orgId}/assessment/bulk/delete:
    post:
      tags:
        - assessment
      summary: Delete a set of assessments
      operationId: Assessment_bulkDelete
      description: ''
      parameters:
        - description: Org identifier (either id or slug)
          name: orgId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        description: List of assessment ids to delete
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssessmentBulkDeleteRequest'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Process'
        '400':
          description: invalid data
        '401':
          description: not authorized
        '403':
          description: permission denied
        '404':
          description: not found
  /v1/org/{orgId}/assessment/bulk/duplicate:
    post:
      tags:
        - assessment
      summary: Duplicate a set of assessments
      operationId: Assessment_bulkDuplicateAssessments
      description: ''
      parameters:
        - description: Org identifier (either id or slug)
          name: orgId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        description: List of assessment ids to duplicate
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssessmentBulkDuplicateAssessmentsRequest'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Process'
        '400':
          description: invalid data
        '401':
          description: not authorized
        '403':
          description: permission denied
        '404':
          description: not found
  /v1/org/{orgId}/assessment/bulk/move:
    post:
      tags:
        - assessment
      summary: Update the types of a set of assessments
      operationId: Assessment_updateAssessmentTypes
      description: ''
      parameters:
        - description: Org identifier (either id or slug)
          name: orgId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        description: List of assessment ids to update and the new type
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkChangeAssessmentTypesBody'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Process'
        '400':
          description: invalid data
        '401':
          description: not authorized
        '403':
          description: permission denied
        '404':
          description: not found
  /v1/org/{orgId}/assessment:
    get:
      tags:
        - assessment
      summary: Return all assessments in the organization paginated
      operationId: Assessment_getAllPaginated
      description: ''
      parameters:
        - description: Org identifier (either id or slug)
          name: orgId
          in: path
          required: true
          schema:
            type: string
        - description: Type of assessment to filter by
          name: type
          in: query
          required: false
          schema:
            type: string
            enum:
              - REVIEW
              - COMP_REVIEW
              - SURVEY
        - description: Assessment id to start paginating from
          name: from
          in: query
          required: false
          schema:
            type: string
        - description: Number of results to return
          name: limit
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - description: List of ids to filter by
          name: ids
          in: query
          required: false
          schema:
            type: string
        - description: >-
            Return access information -- pass a list of actions to check, for
            example: create,update,delete
          name: returnAccess
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultsAssessment'
        '400':
          description: bad request
        '401':
          description: not authorized
        '404':
          description: not found
    post:
      tags:
        - assessment
      summary: Create a assessment
      operationId: Assessment_createNewAssessment
      description: ''
      parameters:
        - description: Org identifier (either id or slug)
          name: orgId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        description: Assessment data to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAssessment'
      responses:
        '201':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Assessment'
        '400':
          description: invalid data
        '401':
          description: not authorized
        '403':
          description: permission denied
        '404':
          description: org not found
  /v1/org/{orgId}/assessment/{assessmentId}:
    get:
      tags:
        - assessment
      summary: Return a particular assessment by id
      operationId: Assessment_getById
      description: ''
      parameters:
        - description: Org identifier (either id or slug)
          name: orgId
          in: path
          required: true
          schema:
            type: string
        - description: Assessment id
          name: assessmentId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Assessment'
        '400':
          description: bad request
        '404':
          description: not found
    delete:
      tags:
        - assessment
      summary: Delete a assessment
      operationId: Assessment_removeById
      description: ''
      parameters:
        - description: Org identifier (either id or slug)
          name: orgId
          in: path
          required: true
          schema:
            type: string
        - description: Assessment id
          name: assessmentId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
        '400':
          description: invalid data
        '401':
          description: not authorized
        '403':
          description: permission denied
        '404':
          description: not found
    patch:
      tags:
        - assessment
      summary: Update an existing assessment
      operationId: Assessment_updateExistingAssessment
      description: ''
      parameters:
        - description: Org identifier (either id or slug)
          name: orgId
          in: path
          required: true
          schema:
            type: string
        - description: Assessment id
          name: assessmentId
          in: path
          required: true
          schema:
            type: string
        - description: Suppress notification emails
          name: silent
          in: query
          required: false
          schema:
            type: boolean
      requestBody:
        description: Assessment data to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAssessment'
      responses:
        '200':
          description: OK
        '400':
          description: invalid data
        '401':
          description: not authorized
        '403':
          description: permission denied
        '404':
          description: not found
  /v1/org/{orgId}/assessment/{assessmentId}/forms-questions:
    get:
      tags:
        - assessment
      summary: >-
        Return an overview of the forms and questions used in the assessment. If
        the user has read access to the assessment, then the forms and questions
        are visible, even if they would not otherwise be visible on their own
      operationId: Assessment_getFormsQuestionsOverview
      description: ''
      parameters:
        - description: Org identifier (either id or slug)
          name: orgId
          in: path
          required: true
          schema:
            type: string
        - description: Assessment id
          name: assessmentId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssessmentFormsAndQuestions'
        '400':
          description: bad request
        '404':
          description: not found
  /v1/org/{orgId}/assessment/{assessmentId}/complete:
    post:
      tags:
        - assessment
      summary: Complete a assessment
      operationId: Assessment_completeAssessment
      description: ''
      parameters:
        - description: Org identifier (either id or slug)
          name: orgId
          in: path
          required: true
          schema:
            type: string
        - description: Assessment id
          name: assessmentId
          in: path
          required: true
          schema:
            type: string
      responses:
        '201':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Assessment'
        '400':
          description: invalid data
        '401':
          description: not authorized
        '403':
          description: permission denied
        '404':
          description: org not found
  /v1/org/{orgId}/assessment/{assessmentId}/reactivate:
    post:
      tags:
        - assessment
      summary: Reactivate a assessment
      operationId: Assessment_reactivateAssessment
      description: ''
      parameters:
        - description: Org identifier (either id or slug)
          name: orgId
          in: path
          required: true
          schema:
            type: string
        - description: Assessment id
          name: assessmentId
          in: path
          required: true
          schema:
            type: string
      responses:
        '201':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Assessment'
        '400':
          description: invalid data
        '401':
          description: not authorized
        '403':
          description: permission denied
        '404':
          description: org not found
  /v1/org/{orgId}/assessment/{assessmentId}/form/{formId}/expire:
    post:
      tags:
        - assessment
      summary: Expire all pending tasks for a form of an assessment
      operationId: Assessment_expireFormTasks
      description: ''
      parameters:
        - description: Org identifier (either id or slug)
          name: orgId
          in: path
          required: true
          schema:
            type: string
        - description: Assessment id
          name: assessmentId
          in: path
          required: true
          schema:
            type: string
        - description: Form id
          name: formId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Process'
        '400':
          description: invalid data
        '401':
          description: not authorized
        '403':
          description: permission denied
        '404':
          description: org not found
  /v1/customer/{customerId}/billing:
    get:
      tags:
        - billing
      summary: Return billing information for a customer
      operationId: Billing_customerBillingInfo
      description: ''
      parameters:
        - description: Customer id
          name: customerId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Billing'
        '400':
          description: invalid data
        '401':
          description: not authorized
        '403':
          description: permission denied
        '404':
          description: not found
  /v1/customer/{customerId}/billing/checkout:
    post:
      tags:
        - billing
      summary: Checks out customer to upgrade to pay for their subscription
      operationId: Billing_upgradeSubscription
      description: ''
      parameters:
        - description: Customer id
          name: customerId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        description: Subscription data to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSubscription'
      responses:
        '200':
          description: OK
        '400':
          description: invalid data
        '401':
          description: not authorized
        '403':
          description: permission denied
        '404':
          description: not found
  /v1/customer/{customerId}/billing/cancel:
    post:
      tags:
        - billing
      summary: Cancel a subscription for a customer
      operationId: Billing_cancelSubscriptionForCustomer
      description: ''
      parameters:
        - description: Customer id
          name: customerId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        description: Survey response
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelSubscriptionSurveyAnswers'
      responses:
        '200':
          description: OK
        '400':
          description: invalid data
        '401':
          description: not authorized
        '403':
          description: permission denied
        '404':
          description: not found
  /v1/org/{orgId}/budget-pool:
    get:
      tags:
        - budget-pool
      summary: Get all budget pools for an org
      operationId: Budgetpool_getAllForOrg
      description: ''
      parameters:
        - description: Org identifier (either id or slug)
          name: orgId
          in: path
          required: true
          schema:
            type: string
        - description: Comp Review Id to filter on
          name: compReviewId
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultsData'
        '400':
          description: bad request
        '401':
          description: not authorized
        '404':
          description: not found
    post:
      tags:
        - budget-pool
      summary: Create a new budget pool
      operationId: Budgetpool_createNewPool
      description: ''
      parameters:
        - description: Org identifier (either id or slug
          name: orgId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBudgetPool'
      responses:
        '200':
          description: OK
        '400':
          description: bad request
        '401':
          description: not authorized
        '404':
          description: not found
  /v1/org/{orgId}/budget-pool/{id}:
    get:
      tags:
        - budget-pool
      summary: Get a specific budget pool
      operationId: Budgetpool_getSpecificPool
      description: ''
      parameters:
        - description: Org identifier (either id or slug)
          name: orgId
          in: path
          required: true
          schema:
            type: string
        - description: ID of the desired budget pool
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetPool'
        '400':
          description: bad request
        '401':
          description: not authorized
        '404':
          description: not found
    delete:
      tags:
        - budget-pool
      summary: Delete a budget pool
      operationId: Budgetpool_deleteBudgetPoolById
      description: ''
      parameters:
        - description: Org identifier (either id or slug
          name: orgId
          in: path
          required: true
          schema:
            type: string
        - description: ID of the desired budget pool
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
        '400':
          description: bad request
        '401':
          description: not authorized
        '404':
          description: not found
    patch:
      tags:
        - budget-pool
      summary: Update a budget pool
      operationId: Budgetpool_updateBudgetPool
      description: ''
      parameters:
        - description: Org identifier (either id or slug
          name: orgId
          in: path
          required: true
          schema:
            type: string
        - description: ID of the desired budget pool
          name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateBudgetPool'
      responses:
        '200':
          description: OK
        '400':
          description: bad request
        '401':
          description: not authorized
        '404':
          description: not found
  /v1/org/{orgId}/budget-pool/{id}/guidelines:
    get:
      tags:
        - budget-pool
      summary: Get the guidelines associated with a budget pool
      operationId: Budgetpool_getGuidelinesForBudgetPool
      description: ''
      parameters:
        - description: Org identifier (either id or slug)
          name: orgId
          in: path
          required: true
          schema:
            type: string
        - description: ID of the desired budget pool
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultsGuideline'
        '400':
          description: bad request
        '404':
          description: not found
  /v1/org/{orgId}/budget-pool/{id}/calculate:
    get:
      tags:
        - budget-pool
      operationId: Budgetpool_calculateGuideline
      parameters:
        - description: Org identifier (either id or slug
          name: orgId
          in: path
          required: true
          schema:
            type: string
        - description: ID of the desired budget pool
          name: id
          in: path
          required: true
          schema:
            type: string
        - description: ID of the scenario the budget will be calculated against
          name: scenarioId
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
        '400':
          description: bad request
        '401':
          description: not authorized
        '404':
          description: not found
  /v1/org/{orgId}/budget-pool/{id}/preview:
    get:
      tags:
        - budget-pool
      summary: >-
        Generate tiering & preview with the given budget calculated for the
        compensation review
      operationId: Budgetpool_calculateGuideline
      description: ''
      parameters:
        - description: Org identifier (either id or slug
          name: orgId
          in: path
          required: true
          schema:
            type: string
        - description: ID of the desired budget pool
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetTiersResponse'
        '400':
          description: bad request
        '401':
          description: not authorized
        '404':
          description: not found
  /v1/org/{orgId}/calendar:
    get:
      tags:
        - calendar
      summary: Return calendar entries in a given time period
      operationId: Calendar_getEntriesByTimePeriod
      description: ''
      parameters:
        - description: Org identifier (either id or slug)
          name: orgId
          in: path
          required: true
          schema:
            type: string
        - description: Start date
          name: start
          in: query
          required: false
          schema:
            type: string
        - description: End date
          name: end
          in: query
          required: false
          schema:
            type: string
        - description: >-
            Type of calendar entries to retrieve (timeoff, anniversary,
            birthday)
          name: type
          in: query
          required: false
          schema:
            type: string
        - description: Query filter to filter for part of the organization
          name: q
          in: query
          required: false
          schema:
            type: string
        - description: Format to return data in
          name: format
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
        '400':
          description: bad request
        '401':
          description: not authorized
        '404':
          description: not found
  /v1/org/{orgId}/category/{categoryId}:
    get:
      tags:
        - category
      summary: Return a particular category by id
      operationId: Category_getById
      description: ''
      parameters:
        - description: Org identifier (either id or slug)
          name: orgId
          in: path
          required: true
          schema:
            type: string
        - description: Category id
          name: categoryId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
        '400':
          description: bad request
        '401':
          description: not authorized
        '404':
          description: not found
        '500':
          description: Not Implemented
    delete:
      tags:
        - category
      summary: Delete a category
      operationId: Category_removeById
      description: ''
      parameters:
        - description: Org identifier (either id or slug)
          name: orgId
          in: path
          required: true
          schema:
            type: string
        - description: Category id
          name: categoryId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
        '400':
          description: bad request
        '401':
          description: not authorized
        '404':
          description: not found
        '500':
          description: Not Implemented
    patch:
      tags:
        - category
      summary: Update an existing category
      operationId: Category_updateExistingCategory
      description: ''
      parameters:
        - description: Org identifier (either id or slug)
          name: orgId
          in: path
          required: true
          schema:
            type: string
        - description: Category id
          name: categoryId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        description: Category data to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCategory'
      responses:
        '200':
          description: OK
        '400':
          description: bad request
        '401':
          description: not authorized
        '404':
          description: not found
        '500':
          description: Not Implemented
  /v1/org/{orgId}/category:
    get:
      tags:
        - category
      summary: Return categories that are available to the organization
      operationId: Category_getAvailable
      description: ''
      parameters:
        - description: Org identifier (either id or slug)
          name: orgId
          in: path
          required: true
          schema:
            type: string
        - description: (Optional) Return only built-in or custom categories
          name: type
          in: query
          required: false
          schema:
            type: string
        - description: (Optional) Return categories array unsorted
          name: unsorted
          in: query
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultsCategory'
        '400':
          description: bad request
        '401':
          description: not authorized
        '404':
          description: not found
        '500':
          description: Not Implemented
    post:
      tags:
        - category
      summary: Create a category
      operationId: Category_createNewCategory
      description: ''
      parameters:
        - description: Org identifier (either id or slug)
          name: orgId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        description: Category data to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCategory'
      responses:
        '201':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
        '400':
          description: bad request
        '401':
          description: not authorized
        '404':
          description: not found
        '500':
          description: Not Implemented
  /v1/org/{orgId}/category-sort:
    get:
      tags:
        - category-sort
      summary: Return category sort order
      operationId: Categorysort_getCategorySortOrder
      description: ''
      parameters:
        - description: Org identifier (either id or slug)
          name: orgId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategorySort'
        '400':
          description: bad request
        '401':
          description: not authorized
        '404':
          description: not found
        '500':
          description: Not Implemented
    post:
      tags:
        - category-sort
      summary: Create a category sort order if it doesn't exist
      operationId: Categorysort_createIfNotExists
      description: ''
      parameters:
        - description: Org identifier (either id or slug)
          name: orgId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        description: Sort data to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCategorySort'
      responses:
        '201':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategorySort'
        '400':
          description: bad request
        '401':
          description: not authorized
        '404':
          description: not found
        '500':
          description: Not Implemented
    put:
      tags:
        - category-sort
      summary: >-
        Create or update category sort order for a given org and return the sort
        data
      operationId: Categorysort_createOrUpdateSort
      description: ''
      parameters:
        - description: Org identifier (either id or slug)
          name: orgId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/UpdateCategorySort'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategorySort'
        '400':
          description: categoryIds cannot be empty
        '403':
          description: Permission denied
    delete:
      tags:
        - category-sort
      summary: Delete a category sort order
      operationId: Categorysort_deleteSortOrder
      description: ''
      parameters:
        - description: Org identifier (either id or slug)
          name: orgId
          in: path
          required: true
          schema:
            type: string
      responses:
        default:
          description: Not Implemented
    patch:
      tags:
        - category-sort
      summary: Update an existing category sort order
      operationId: Categorysort_updateExistingCategorySort
      description: ''
      parameters:
        - description: Org identifier (either id or slug)
          name: orgId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        description: Sort data to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCategorySort'
      responses:
        default:
          description: Not Implemented
  /v1/org/{orgId}/category-sort/upsert:
    post:
      tags:
        - category-sort
      summary: >-
        Create or update category sort order for a given org and return the sort
        data
      operationId: Categorysort_createOrUpdateSortOrder
      description: ''
      parameters:
        - description: Org identifier (either id or slug)
          name: orgId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/UpdateCategorySort'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategorySort'
        '400':
          description: categoryIds cannot be empty
        '403':
          description: Permission denied
  /v1/org/{orgId}/change/{changeId}:
    get:
      tags:
        - change
      summary: Return a particular change by id
      operationId: Change_getById
      description: ''
      parameters:
        - description: Org identifier (either id or slug)
          name: orgId
          in: path
          required: true
          schema:
            type: string
        - description: Change id
          name: changeId
          in: path
          required: true
          schema:
            type: string
        - description: >-
            Data format to use; default is json, can also use json-extended or
            json-readable
          name: format
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Change'
        '400':
          description: bad request
        '404':
          description: not found
    delete:
      tags:
        - change
      summary: Delete a previous change
      operationId: Change_deletePreviousChange
      description: ''
      parameters:
        - description: Org identifier (either id or slug)
          name: orgId
          in: path
          required: true
          schema:
            type: string
        - description: Change id
          name: changeId
          in: path
          required: true
          schema:
            type: string
        - description: Process id of person creation
          name: processId
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
        '400':
          description: bad request
        '404':
          description: not found
    patch:
      tags:
        - change
      summary: Make a change to a change
      operationId: Change_updateChangeById
      description: ''
      parameters:
        - description: Org identifier (either id or slug)
          name: orgId
          in: path
          required: true
          schema:
            type: string
        - description: Change id
          name: changeId
          in: path
          required: true
          schema:
            type: string
        - description: Process id of person creation
          name: processId
          in: query
          required: false
          schema:
            type: string
      requestBody:
        description: Change data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateChange'
      responses:
        '200':
          description: OK
        '400':
          description: bad request
        '404':
          description: not found
  /v1/org/{orgId}/change/bulkupdate:
    post:
      tags:
        - change
      summary: Perform a bulk update on a number of jobs
      operationId: Change_bulkUpdateJobs
      description: ''
      parameters:
        - description: Org identifier (either id or slug)
          name: orgId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        description: Bulk update data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkUpdateRequest'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Process'
        '400':
          description: bad request
        '404':
          description: not found
  /v1/org/{orgId}/change/{type}/validate:
    post:
      tags:
        - change
      summary: Validate a change
      operationId: Change_validateChangeOperation
      description: ''
      parameters:
        - description: Org identifier (either id or slug)
          name: orgId
          in: path
          required: true
          schema:
            type: string
        - description: Change type
          name: type
          in: path
          required: true
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/CreateChange'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Change'
        '400':
          description: bad request
        '404':
          description: not found
  /v1/org/{orgId}/change/{type}:
    post:
      tags:
        - change
      summary: Create a new change
      operationId: Change_createNewChange
      description: ''
      parameters:
        - description: Org identifier (either id or slug)
          name: orgId
          in: path
          required: true
          schema:
            type: string
        - description: Change type
          name: type
          in: path
          required: true
          schema:
            type: string
        - description: Source of change
          name: source
          in: query
          required: false
          schema:
            type: string
        - description: Process id of change creation
          name: processId
          in: query
          required: false
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/CreateChange'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Change'
        '400':
          description: bad request
        '404':
          description: not found
  /v1/org/{orgId}/change:
    get:
      tags:
        - change
      summary: Return recent changes across an org, or for a particular person or job
      operationId: Change_getRecentChanges
      description: ''
      parameters:
        - description: Org identifier (either id or slug)
          name: orgId
          in: path
          required: true
          schema:
            type: string
        - description: Scenario id
          name: scenarioId
          in: query
          required: false
          schema:
            type: string
        - description: Date to start from
          name: date
          in: query
          required: false
          schema:
            type: string
            format: date
        - description: Date to get changes through (inclusive)
          name: endDate
          in: query
          required: false
          schema:
            type: string
            format: date
        - description: Types of change to filter by
          name: type
          in: query
          required: false
          schema:
            type: string
        - description: Return changes that modify these fields
          name: fields
          in: query
          required: false
          schema:
            type: string
        - description: Person id to filter by
          name: personId
          in: query
          required: false
          schema:
            type: string
        - description: Job id to filter by
          name: jobId
          in: query
          required: false
          schema:
            type: string
        - description: Find and include first backfill if it exists
          name: includeBackfill
          in: query
          required: false
          schema:
            type: boolean
        - description: References to filter by
          name: refs
          in: query
          required: false
          schema:
            type: string
        - description: Query to filter against
          name: q
          in: query
          required: false
          schema:
            type: string
        - description: Change id to start paginating from
          name: from
          in: query
          required: false
          schema:
            type: string
        - description: Number of results to return
          name: limit
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - description: Whether the role is open or not
          name: open
          in: query
          required: false
          schema:
            type: string
            enum:
              - FILLED
              - OPEN
        - description: Descending (default false)
          name: desc
          in: query
          required: false
          schema:
            type: boolean
        - description: Scenario only (exclude primary changes)
          name: scenarioOnly
          in: query
          required: false
          schema:
            type: boolean
        - description: Parent changes only (exclude child changes)
          name: parentOnly
          in: query
          required: false
          schema:
            type: boolean
        - description: Whether to include full grant schedule when returning equity updates
          name: includeGrantSchedule
          in: query
          required: false
          schema:
            type: boolean
        - description: >-
[...]
