openapi: 3.0.1
info:
  title: ChatKitty Platform API
  description: |-
    OpenAPI specification (OAS) for the ChatKitty Platform API.
    See the Interactive Docs to try ChatKitty API methods without writing code,
    and get the complete schema of resources exposed by the API.
  version: 2.58.3
  termsOfService: https://chatkitty.com/terms-of-service
  contact:
    name: Support
    url: mailto:support@chatkitty.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  x-konfig-ignore:
    object-with-no-properties: true
servers:
  - url: https://api.chatkitty.com
tags:
  - description: Operations to create, retrieve, update and delete channels
    name: channels
    x-displayName: Channels
  - description: User operations
    name: users
    x-displayName: Users
  - description: Operations to retrieve, update and delete messages
    name: messages
    x-displayName: Messages
  - description: Chat runtime operations
    name: runtime
    x-displayName: Chat Runtime
  - description: Chat function operations
    name: functions
    x-displayName: Chat Functions
  - description: Import user, channel, message data into your ChatKitty application
    name: imports
    x-displayName: Imports
  - description: Message thread operations
    name: threads
    x-displayName: Threads
  - description: Configure and manage your ChatKitty application
    name: application
    x-displayName: Application
  - description: Export analytics data from your ChatKitty application
    name: analytics
    x-displayName: Analytics
  - description: >-
      Retrieve information about long running scheduled jobs like imports and
      exports
    name: jobs
    x-displayName: Jobs
  - description: Chat session operations
    name: chat-sessions
    x-displayName: Chat Sessions
  - description: Chat function version operations
    name: function-versions
    x-displayName: Chat Function Versions
  - description: User session operations
    name: user-sessions
    x-displayName: User Sessions
paths:
  /v1/analytics/messages:
    post:
      tags:
        - analytics
      summary: Export message analytics
      operationId: Analytics_exportMessageAnalyticsData
      security:
        - application_authorization:
            - read:message
      description: Batch export message analytics data
      responses:
        '202':
          description: Export job accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationJobResource'
              example:
                id: 203
                type: MESSAGE_IMPORT
                state: PENDING
                createdTime: '2022-04-28T05:30:44.265Z'
                endedTime: '2022-04-28T05:30:44.692Z'
                _links:
                  self:
                    href: https://api.chatkitty.com/v1/applications/1/jobs/203
                  application:
                    href: https://api.chatkitty.com/v1/applications/1
            application/vnd.chatkitty+json:
              schema:
                $ref: '#/components/schemas/ApplicationJobResource'
              example:
                id: 203
                type: MESSAGE_IMPORT
                state: PENDING
                createdTime: '2022-04-28T05:30:44.265Z'
                endedTime: '2022-04-28T05:30:44.692Z'
                _links:
                  self:
                    href: https://api.chatkitty.com/v1/applications/1/jobs/203
                  application:
                    href: https://api.chatkitty.com/v1/applications/1
            application/vnd.hal+json:
              schema:
                $ref: '#/components/schemas/ApplicationJobResource'
              example:
                id: 203
                type: MESSAGE_IMPORT
                state: PENDING
                createdTime: '2022-04-28T05:30:44.265Z'
                endedTime: '2022-04-28T05:30:44.692Z'
                _links:
                  self:
                    href: https://api.chatkitty.com/v1/applications/1/jobs/203
                  application:
                    href: https://api.chatkitty.com/v1/applications/1
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ApplicationJobResource'
              example:
                id: 203
                type: MESSAGE_IMPORT
                state: PENDING
                createdTime: '2022-04-28T05:30:44.265Z'
                endedTime: '2022-04-28T05:30:44.692Z'
                _links:
                  self:
                    href: https://api.chatkitty.com/v1/applications/1/jobs/203
                  application:
                    href: https://api.chatkitty.com/v1/applications/1
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                error: ClientError
                message: A client error occurred, check your request
                timestamp: '2022-01-16T06:26:49.627204600Z'
        '401':
          description: >-
            Unauthorized: Full authentication is required to access this
            resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationError'
              example:
                error: unauthorized
                error_description: Full authentication is required to access this resource
        '403':
          description: Access is denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationError'
              example:
                error: access_denied
                error_description: Access is denied
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                error: ResourceNotFoundError
                message: Resource not found
                timestamp: '2022-01-16T06:26:49.627204600Z'
      x-codeSamples: []
  /v1/analytics/users:
    post:
      tags:
        - analytics
      summary: Export user analytics
      operationId: Analytics_exportUserAnalyticsData
      security:
        - application_authorization:
            - read:user
      description: Batch export user analytics data
      responses:
        '202':
          description: Export job accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationJobResource'
              example:
                id: 202
                type: USER_IMPORT
                state: PENDING
                createdTime: '2022-03-28T05:30:44.265Z'
                endedTime: '2022-03-28T05:30:44.692Z'
                _links:
                  self:
                    href: https://api.chatkitty.com/v1/applications/1/jobs/202
                  application:
                    href: https://api.chatkitty.com/v1/applications/1
            application/vnd.chatkitty+json:
              schema:
                $ref: '#/components/schemas/ApplicationJobResource'
              example:
                id: 202
                type: USER_IMPORT
                state: PENDING
                createdTime: '2022-03-28T05:30:44.265Z'
                endedTime: '2022-03-28T05:30:44.692Z'
                _links:
                  self:
                    href: https://api.chatkitty.com/v1/applications/1/jobs/202
                  application:
                    href: https://api.chatkitty.com/v1/applications/1
            application/vnd.hal+json:
              schema:
                $ref: '#/components/schemas/ApplicationJobResource'
              example:
                id: 202
                type: USER_IMPORT
                state: PENDING
                createdTime: '2022-03-28T05:30:44.265Z'
                endedTime: '2022-03-28T05:30:44.692Z'
                _links:
                  self:
                    href: https://api.chatkitty.com/v1/applications/1/jobs/202
                  application:
                    href: https://api.chatkitty.com/v1/applications/1
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ApplicationJobResource'
              example:
                id: 202
                type: USER_IMPORT
                state: PENDING
                createdTime: '2022-03-28T05:30:44.265Z'
                endedTime: '2022-03-28T05:30:44.692Z'
                _links:
                  self:
                    href: https://api.chatkitty.com/v1/applications/1/jobs/202
                  application:
                    href: https://api.chatkitty.com/v1/applications/1
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                error: ClientError
                message: A client error occurred, check your request
                timestamp: '2022-01-16T06:26:49.627204600Z'
        '401':
          description: >-
            Unauthorized: Full authentication is required to access this
            resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationError'
              example:
                error: unauthorized
                error_description: Full authentication is required to access this resource
        '403':
          description: Access is denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationError'
              example:
                error: access_denied
                error_description: Access is denied
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                error: ResourceNotFoundError
                message: Resource not found
                timestamp: '2022-01-16T06:26:49.627204600Z'
      x-codeSamples: []
  /v1/application:
    get:
      tags:
        - application
      summary: Retrieve the authenticated application
      operationId: Application_getAuthenticated
      security:
        - application_authorization:
            - read:application
      description: >-
        Returns the ChatKitty application associated with the authentication
        credentials used.


        You must use an **OAuth V2 Bearer token** to access this endpoint.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationResource'
            application/vnd.chatkitty+json:
              schema:
                $ref: '#/components/schemas/ApplicationResource'
            application/vnd.hal+json:
              schema:
                $ref: '#/components/schemas/ApplicationResource'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ApplicationResource'
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                error: ClientError
                message: A client error occurred, check your request
                timestamp: '2022-01-16T06:26:49.627204600Z'
        '401':
          description: >-
            Unauthorized: Full authentication is required to access this
            resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationError'
              example:
                error: unauthorized
                error_description: Full authentication is required to access this resource
        '403':
          description: Access is denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationError'
              example:
                error: access_denied
                error_description: Access is denied
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                error: ResourceNotFoundError
                message: Resource not found
                timestamp: '2022-01-16T06:26:49.627204600Z'
      x-codeSamples:
        - lang: cURL
          source: |
            curl -X 'GET' \
              'https://api.chatkitty.com/v1/application' \
              -H 'accept: application/json' \
              -H 'Authorization: Bearer ACCESS-TOKEN'
        - lang: JavaScript
          source: |
            // npm install chatkitty-platform-sdk

            const chatkitty = new ChatKitty({
              clientId: 'CLIENT-ID',
              clientSecret: 'CLIENT-SECRET'
            })

            await chatkitty.Application.retrieveAuthenticatedApplication()
  /v1/application/settings:
    get:
      tags:
        - application
      summary: Retrieve the authenticated application settings
      operationId: Application_getSettings
      security:
        - application_authorization:
            - read:application
      description: Returns the current settings configuring this application
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationSettingsResource'
            application/vnd.chatkitty+json:
              schema:
                $ref: '#/components/schemas/ApplicationSettingsResource'
            application/vnd.hal+json:
              schema:
                $ref: '#/components/schemas/ApplicationSettingsResource'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ApplicationSettingsResource'
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                error: ClientError
                message: A client error occurred, check your request
                timestamp: '2022-01-16T06:26:49.627204600Z'
        '401':
          description: >-
            Unauthorized: Full authentication is required to access this
            resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationError'
              example:
                error: unauthorized
                error_description: Full authentication is required to access this resource
        '403':
          description: Access is denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationError'
              example:
                error: access_denied
                error_description: Access is denied
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                error: ResourceNotFoundError
                message: Resource not found
                timestamp: '2022-01-16T06:26:49.627204600Z'
      x-codeSamples:
        - lang: cURL
          source: |
            curl -X 'GET' \
              'https://api.chatkitty.com/v1/application/settings' \
              -H 'accept: application/json' \
              -H 'Authorization: Bearer ACCESS-TOKEN'
        - lang: JavaScript
          source: >
            // npm install chatkitty-platform-sdk


            const chatkitty = new ChatKitty({
              clientId: 'CLIENT-ID',
              clientSecret: 'CLIENT-SECRET'
            })


            await
            chatkitty.Application.retrieveAuthenticatedApplicationSettings()
    put:
      tags:
        - application
      summary: Update the authenticated application settings
      operationId: Application_updateSettings
      security:
        - application_authorization:
            - update:application
      description: Update the settings configuring this application
      requestBody:
        content:
          application/vnd.chatkitty+json:
            schema:
              $ref: '#/components/schemas/ApplicationSettingsProperties'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationSettingsResource'
            application/vnd.chatkitty+json:
              schema:
                $ref: '#/components/schemas/ApplicationSettingsResource'
            application/vnd.hal+json:
              schema:
                $ref: '#/components/schemas/ApplicationSettingsResource'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ApplicationSettingsResource'
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                error: ClientError
                message: A client error occurred, check your request
                timestamp: '2022-01-16T06:26:49.627204600Z'
        '401':
          description: >-
            Unauthorized: Full authentication is required to access this
            resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationError'
              example:
                error: unauthorized
                error_description: Full authentication is required to access this resource
        '403':
          description: Access is denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationError'
              example:
                error: access_denied
                error_description: Access is denied
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                error: ResourceNotFoundError
                message: Resource not found
                timestamp: '2022-01-16T06:26:49.627204600Z'
      x-codeSamples:
        - lang: cURL
          source: |
            curl -X 'PUT' \
              'https://api.chatkitty.com/v1/application/settings' \
              -H 'accept: application/json' \
              -H 'Authorization: Bearer ACCESS-TOKEN' \
              -H 'Content-Type: application/json' \
              -d '{
              "guestUsers": "DISABLED",
              "userCreatedChannels": "DISABLED"
            }'
        - lang: JavaScript
          source: |
            // npm install chatkitty-platform-sdk

            const chatkitty = new ChatKitty({
              clientId: 'CLIENT-ID',
              clientSecret: 'CLIENT-SECRET'
            })

            await chatkitty.Application.updateAuthenticatedApplicationSettings({
              guestUsers: 'DISABLED',
              userCreatedChannels: 'DISABLED'
            })
  /v1/channels:
    get:
      tags:
        - channels
      summary: List channels
      operationId: Channels_list
      security:
        - application_authorization:
            - read:channel
      description: Returns a page of channels belonging to this application
      parameters:
        - description: Zero-based page index (0..N)
          name: page
          in: query
          required: false
          schema:
            minimum: 0
            type: integer
            default: 0
        - description: The size of the page to be returned
          name: size
          in: query
          required: false
          schema:
            minimum: 1
            type: integer
            default: 25
        - description: >-
            Sorting criteria in the format: property,(asc|desc). Default sort
            order is ascending. Multiple sort criteria are supported.
          name: sort
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
        - description: Filters by channel type
          name: type
          in: query
          required: false
          schema:
            description: The type of this channel
            type: string
            enum:
              - DIRECT
              - PUBLIC
              - PRIVATE
        - description: Filters by channel members using their usernames
          name: members
          in: query
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - description: 'Filters for channels created within a time range: start time'
          name: startTime
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - description: 'Filters for channels created within a time range: end time'
          name: endTime
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - description: Filters by channel custom properties
          name: properties
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedModelChannelResource'
            application/vnd.chatkitty+json:
              schema:
                $ref: '#/components/schemas/PagedModelChannelResource'
            application/vnd.hal+json:
              schema:
                $ref: '#/components/schemas/PagedModelChannelResource'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/PagedModelChannelResource'
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                error: ClientError
                message: A client error occurred, check your request
                timestamp: '2022-01-16T06:26:49.627204600Z'
        '401':
          description: >-
            Unauthorized: Full authentication is required to access this
            resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationError'
              example:
                error: unauthorized
                error_description: Full authentication is required to access this resource
        '403':
          description: Access is denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationError'
              example:
                error: access_denied
                error_description: Access is denied
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                error: ResourceNotFoundError
                message: Resource not found
                timestamp: '2022-01-16T06:26:49.627204600Z'
      x-codeSamples:
        - lang: cURL
          source: |
            curl --location --request 'GET' \
              'https://api.chatkitty.com/v1/channels?page=0&size=5' \
              -H 'accept: application/json' \
              -H 'Authorization: Bearer ACCESS-TOKEN'
        - lang: JavaScript
          source: |
            // npm install chatkitty-platform-sdk

            const chatkitty = new ChatKitty({
              clientId: 'CLIENT-ID',
              clientSecret: 'CLIENT-SECRET'
            })

            await chatkitty.Channels.listChannels()
    post:
      tags:
        - channels
      summary: Create a channel
      operationId: Channels_createChannel
      security:
        - application_authorization:
            - create:channel
      description: Creates a new channel or returns an equivalent existing channel
      requestBody:
        content:
          application/vnd.chatkitty+json:
            schema:
              $ref: '#/components/schemas/CreateChannelResource'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelResource'
            application/vnd.chatkitty+json:
              schema:
                $ref: '#/components/schemas/ChannelResource'
            application/vnd.hal+json:
              schema:
                $ref: '#/components/schemas/ChannelResource'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ChannelResource'
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                error: ClientError
                message: A client error occurred, check your request
                timestamp: '2022-01-16T06:26:49.627204600Z'
        '401':
          description: >-
            Unauthorized: Full authentication is required to access this
            resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationError'
              example:
                error: unauthorized
                error_description: Full authentication is required to access this resource
        '403':
          description: Access is denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationError'
              example:
                error: access_denied
                error_description: Access is denied
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                error: ResourceNotFoundError
                message: Resource not found
                timestamp: '2022-01-16T06:26:49.627204600Z'
      x-codeSamples:
        - lang: cURL
          source: |
            curl --location --request 'POST' \
              'https://api.chatkitty.com/v1/channels' \
              -H 'accept: application/json' \
              -H 'Authorization: Bearer ACCESS-TOKEN' \
              -H 'Content-Type: application/json' \
              -d '{
              "type": "PUBLIC",
              "name": "b0a0bd55-921a-4f72-8ee3-f26c6fda0bb7"
            }'
        - lang: JavaScript
          source: |
            // npm install chatkitty-platform-sdk

            const chatkitty = new ChatKitty({
              clientId: 'CLIENT-ID',
              clientSecret: 'CLIENT-SECRET'
            })

            await chatkitty.Channels.createChannel({
              type: "PUBLIC",
              name: "b0a0bd55-921a-4f72-8ee3-f26c6fda0bb7"
            })
  /v1/channels/{id}:
    get:
      tags:
        - channels
      summary: Retrieve a channel
      operationId: Channels_getById
      security:
        - application_authorization:
            - read:channel
      description: Returns a channel by ID
      parameters:
        - description: Channel ID
          name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelResource'
            application/vnd.chatkitty+json:
              schema:
                $ref: '#/components/schemas/ChannelResource'
            application/vnd.hal+json:
              schema:
                $ref: '#/components/schemas/ChannelResource'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ChannelResource'
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                error: ClientError
                message: A client error occurred, check your request
                timestamp: '2022-01-16T06:26:49.627204600Z'
        '401':
          description: >-
            Unauthorized: Full authentication is required to access this
            resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationError'
              example:
                error: unauthorized
                error_description: Full authentication is required to access this resource
        '403':
          description: Access is denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationError'
              example:
                error: access_denied
                error_description: Access is denied
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                error: ResourceNotFoundError
                message: Resource not found
                timestamp: '2022-01-16T06:26:49.627204600Z'
      x-codeSamples:
        - lang: cURL
          source: |
            curl --location --request 'GET' \
              'https://api.chatkitty.com/v1/channels/55913' \
              -H 'accept: application/json' \
              -H 'Authorization: Bearer ACCESS-TOKEN'
        - lang: JavaScript
          source: |
            // npm install chatkitty-platform-sdk

            const chatkitty = new ChatKitty({
              clientId: 'CLIENT-ID',
              clientSecret: 'CLIENT-SECRET'
            })

            await chatkitty.Channels.retrieveChannel(55913)
    delete:
      tags:
        - channels
      summary: Delete a channel
      operationId: Channels_deleteById
      security:
        - application_authorization:
            - read:channel
            - delete:channel
      description: Deletes a channel by ID
      parameters:
        - description: Channel ID
          name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationResource'
            application/vnd.chatkitty+json:
              schema:
                $ref: '#/components/schemas/ApplicationResource'
            application/vnd.hal+json:
              schema:
                $ref: '#/components/schemas/ApplicationResource'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ApplicationResource'
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                error: ClientError
                message: A client error occurred, check your request
                timestamp: '2022-01-16T06:26:49.627204600Z'
        '401':
          description: >-
            Unauthorized: Full authentication is required to access this
            resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationError'
              example:
                error: unauthorized
                error_description: Full authentication is required to access this resource
        '403':
          description: Access is denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationError'
              example:
                error: access_denied
                error_description: Access is denied
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                error: ResourceNotFoundError
                message: Resource not found
                timestamp: '2022-01-16T06:26:49.627204600Z'
      x-codeSamples:
        - lang: cURL
          source: |
            curl --location --request 'DELETE' \
              'https://api.chatkitty.com/v1/channels/55913' \
              -H 'accept: application/json' \
              -H 'Authorization: Bearer ACCESS-TOKEN'
        - lang: JavaScript
          source: |
            // npm install chatkitty-platform-sdk

            const chatkitty = new ChatKitty({
              clientId: 'CLIENT-ID',
              clientSecret: 'CLIENT-SECRET'
            })

            await chatkitty.Channels.deleteChannel(55913)
    patch:
      tags:
        - channels
      summary: Update a channel
      operationId: Channels_updateProperties
      security:
        - application_authorization:
            - read:channel
            - update:channel
      description: Updates a channel properties
      parameters:
        - description: Channel ID
          name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json+merge-patch:
            schema:
              $ref: '#/components/schemas/JsonMergePatch'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelResource'
            application/vnd.chatkitty+json:
              schema:
                $ref: '#/components/schemas/ChannelResource'
            application/vnd.hal+json:
              schema:
                $ref: '#/components/schemas/ChannelResource'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ChannelResource'
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                error: ClientError
                message: A client error occurred, check your request
                timestamp: '2022-01-16T06:26:49.627204600Z'
        '401':
          description: >-
            Unauthorized: Full authentication is required to access this
            resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationError'
              example:
                error: unauthorized
                error_description: Full authentication is required to access this resource
        '403':
          description: Access is denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationError'
              example:
                error: access_denied
                error_description: Access is denied
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                error: ResourceNotFoundError
                message: Resource not found
                timestamp: '2022-01-16T06:26:49.627204600Z'
      x-codeSamples:
        - lang: cURL
          source: |
            curl --location --request 'PATCH' \
              'https://api.chatkitty.com/v1/channels/55913' \
              -H 'accept: application/json' \
              -H 'Authorization: Bearer ACCESS-TOKEN' \
              -H 'Content-Type: application/json+merge-patch' \
              -d '{
              "displayName": "A chatty channel"
            }'
        - lang: JavaScript
          source: |
            // npm install chatkitty-platform-sdk

            const chatkitty = new ChatKitty({
              clientId: 'CLIENT-ID',
              clientSecret: 'CLIENT-SECRET'
            })

            await chatkitty.Channels.updateChannel(55913, {
              displayName: "A chatty channel"
            })
  /v1/channels/{id}/events:
    post:
      tags:
        - channels
      summary: Send a channel event
      operationId: Channels_sendEvent
      security:
        - application_authorization:
            - read:channel
            - create:channel_event
      description: Sends a custom channel event
      parameters:
        - description: Channel ID
          name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/vnd.chatkitty+json:
            schema:
              $ref: '#/components/schemas/CreateChannelGenericEventResource'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelGenericEventResource'
            application/vnd.chatkitty+json:
              schema:
                $ref: '#/components/schemas/ChannelGenericEventResource'
            application/vnd.hal+json:
              schema:
                $ref: '#/components/schemas/ChannelGenericEventResource'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ChannelGenericEventResource'
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                error: ClientError
                message: A client error occurred, check your request
                timestamp: '2022-01-16T06:26:49.627204600Z'
        '401':
          description: >-
            Unauthorized: Full authentication is required to access this
            resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationError'
              example:
                error: unauthorized
                error_description: Full authentication is required to access this resource
        '403':
          description: Access is denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationError'
              example:
                error: access_denied
                error_description: Access is denied
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                error: ResourceNotFoundError
                message: Resource not found
                timestamp: '2022-01-16T06:26:49.627204600Z'
      x-codeSamples:
        - lang: cURL
          source: |
            curl --location --request 'POST' \
              'https://api.chatkitty.com/v1/channels/55913/events' \
              -H 'accept: application/json' \
              -H 'Authorization: Bearer ACCESS-TOKEN' \
              -H 'Content-Type: application/json' \
              -d '{
              "type": "My Custom Event",
              "properties": {
                "payload": "Boom!",
                "stuff": {
                  "favoriteNumber": 42,
                  "favoriteMovie": "Lilo and Stitch"
                }
              }
            }'
        - lang: JavaScript
          source: |
            // npm install chatkitty-platform-sdk

            const chatkitty = new ChatKitty({
              clientId: 'CLIENT-ID',
              clientSecret: 'CLIENT-SECRET'
            })

            await chatkitty.Channels.sendChannelEvent(55913, {
              type: "My Custom Event",
              properties: {
                payload: "Boom!",
                stuff: {
                  "favoriteNumber": 42,
                  "favoriteMovie": "Lilo and Stitch"
                }
              }
            })
  /v1/channels/{id}/invites:
    get:
      tags:
        - channels
      summary: List channel invites
      operationId: Channels_listInvites
      security:
        - application_authorization:
            - read:channel_invite
      description: Returns a page of invites sent to join this channel
      parameters:
        - description: Channel ID
          name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - description: Zero-based page index (0..N)
          name: page
          in: query
          required: false
          schema:
            minimum: 0
            type: integer
            default: 0
        - description: The size of the page to be returned
          name: size
          in: query
          required: false
          schema:
            minimum: 1
            type: integer
            default: 25
        - description: >-
            Sorting criteria in the format: property,(asc|desc). Default sort
            order is ascending. Multiple sort criteria are supported.
          name: sort
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedModelChannelInviteResource'
            application/vnd.chatkitty+json:
              schema:
                $ref: '#/components/schemas/PagedModelChannelInviteResource'
            application/vnd.hal+json:
              schema:
                $ref: '#/components/schemas/PagedModelChannelInviteResource'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/PagedModelChannelInviteResource'
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                error: ClientError
                message: A client error occurred, check your request
                timestamp: '2022-01-16T06:26:49.627204600Z'
        '401':
          description: >-
            Unauthorized: Full authentication is required to access this
            resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationError'
              example:
                error: unauthorized
                error_description: Full authentication is required to access this resource
        '403':
          description: Access is denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationError'
              example:
                error: access_denied
                error_description: Access is denied
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                error: ResourceNotFoundError
                message: Resource not found
                timestamp: '2022-01-16T06:26:49.627204600Z'
      x-codeSamples:
        - lang: cURL
          source: |
            curl --location --request 'GET' \
              'https://api.chatkitty.com/v1/channels/67026/invites?page=0&size=25' \
              -H 'accept: application/json' \
              -H 'Authorization: Bearer ACCESS-TOKEN'
        - lang: JavaScript
          source: |
            // npm install chatkitty-platform-sdk

            const chatkitty = new ChatKitty({
              clientId: 'CLIENT-ID',
              clientSecret: 'CLIENT-SECRET'
            })

            await chatkitty.Channels.listChannelInvites(67026)
    post:
      tags:
        - channels
      summary: Send a channel invite
      operationId: Channels_sendInvite
      security:
        - application_authorization:
            - read:channel
            - read:user
            - create:channel_invite
      description: Sends a channel invite to user
      parameters:
        - description: Channel ID
          name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/vnd.chatkitty+json:
            schema:
              $ref: '#/components/schemas/CreateChannelInviteResource'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelInviteResource'
            application/vnd.chatkitty+json:
              schema:
                $ref: '#/components/schemas/ChannelInviteResource'
            application/vnd.hal+json:
              schema:
                $ref: '#/components/schemas/ChannelInviteResource'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ChannelInviteResource'
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                error: ClientError
                message: A client error occurred, check your request
                timestamp: '2022-01-16T06:26:49.627204600Z'
        '401':
          description: >-
            Unauthorized: Full authentication is required to access this
            resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationError'
              example:
                error: unauthorized
                error_description: Full authentication is required to access this resource
        '403':
          description: Access is denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationError'
              example:
                error: access_denied
                error_description: Access is denied
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                error: ResourceNotFoundError
                message: Resource not found
                timestamp: '2022-01-16T06:26:49.627204600Z'
      x-codeSamples:
        - lang: cURL
          source: |
            curl --location --request 'POST' \
              'https://api.chatkitty.com/v1/channels/67026/invites' \
              -H 'accept: application/json' \
              -H 'Authorization: Bearer ACCESS-TOKEN' \
              -H 'Content-Type: application/json' \
              -d '{
              user: {
                "username": "jane@chatkitty.com"
              }
            }'
        - lang: JavaScript
          source: |
            // npm install chatkitty-platform-sdk

            const chatkitty = new ChatKitty({
              clientId: 'CLIENT-ID',
              clientSecret: 'CLIENT-SECRET'
            })

            await chatkitty.Channels.sendChannelInvite(67026, {
              user: {
                username: "jane@chatkitty.com"
              }
            })
  /v1/channels/{id}/keystrokes:
    post:
      tags:
        - channels
      summary: Send channel keystrokes
      operationId: Channels_sendKeystrokes
      security:
        - application_authorization:
            - read:channel
            - read:user
            - create:keystrokes
      description: Sends keystrokes in this channel on behalf of a user
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/CreateDelegatedReplyThreadKeystrokesResource
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReplyThreadKeystrokesResource'
            application/vnd.chatkitty+json:
              schema:
                $ref: '#/components/schemas/ReplyThreadKeystrokesResource'
            application/vnd.hal+json:
              schema:
                $ref: '#/components/schemas/ReplyThreadKeystrokesResource'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ReplyThreadKeystrokesResource'
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                error: ClientError
                message: A client error occurred, check your request
                timestamp: '2022-01-16T06:26:49.627204600Z'
        '401':
          description: >-
            Unauthorized: Full authentication is required to access this
            resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationError'
              example:
                error: unauthorized
                error_description: Full authentication is required to access this resource
        '403':
          description: Access is denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationError'
              example:
                error: access_denied
                error_description: Access is denied
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                error: ResourceNotFoundError
                message: Resource not found
                timestamp: '2022-01-16T06:26:49.627204600Z'
      x-codeSamples: []
  /v1/channels/{id}/members:
    get:
      tags:
        - channels
      summary: List a channel's members
      operationId: Channels_listMembersPage
      security:
        - application_authorization:
            - read:channel
            - read:channel_membership
      description: Returns a page of channel members
      parameters:
        - description: Channel ID
          name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - description: Zero-based page index (0..N)
          name: page
          in: query
          required: false
          schema:
            minimum: 0
            type: integer
            default: 0
        - description: The size of the page to be returned
          name: size
          in: query
          required: false
          schema:
            minimum: 1
            type: integer
            default: 25
        - description: >-
            Sorting criteria in the format: property,(asc|desc). Default sort
            order is ascending. Multiple sort criteria are supported.
          name: sort
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedModelChatUserResource'
            application/vnd.chatkitty+json:
              schema:
                $ref: '#/components/schemas/PagedModelChatUserResource'
            application/vnd.hal+json:
              schema:
                $ref: '#/components/schemas/PagedModelChatUserResource'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/PagedModelChatUserResource'
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                error: ClientError
                message: A client error occurred, check your request
                timestamp: '2022-01-16T06:26:49.627204600Z'
        '401':
          description: >-
            Unauthorized: Full authentication is required to access this
            resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationError'
              example:
                error: unauthorized
                error_description: Full authentication is required to access this resource
        '403':
          description: Access is denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationError'
              example:
                error: access_denied
                error_description: Access is denied
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                error: ResourceNotFoundError
                message: Resource not found
                timestamp: '2022-01-16T06:26:49.627204600Z'
      x-codeSamples:
        - lang: cURL
          source: |
            curl --location --request 'GET' \
              'https://api.chatkitty.com/v1/channels/67026/members?page=0&size=25' \
              -H 'accept: application/json' \
              -H 'Authorization: Bearer ACCESS-TOKEN'
        - lang: JavaScript
          source: |
            // npm install chatkitty-platform-sdk

            const chatkitty = new ChatKitty({
              clientId: 'CLIENT-ID',
              clientSecret: 'CLIENT-SECRET'
            })

            await chatkitty.Channels.listChannelMembers(67026)
    post:
      tags:
        - channels
      summary: Add a channel member
      operationId: Channels_addMember
      security:
        - application_authorization:
            - read:channel
            - read:user
            - create:channel_membership
      description: Makes a user a group channel member
      parameters:
        - description: Channel ID
          name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/vnd.chatkitty+json:
            schema:
              $ref: '#/components/schemas/ChatUserReference'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelResource'
            application/vnd.chatkitty+json:
              schema:
                $ref: '#/components/schemas/ChannelResource'
            application/vnd.hal+json:
              schema:
                $ref: '#/components/schemas/ChannelResource'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ChannelResource'
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                error: ClientError
                message: A client error occurred, check your request
                timestamp: '2022-01-16T06:26:49.627204600Z'
        '401':
          description: >-
            Unauthorized: Full authentication is required to access this
            resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationError'
              example:
                error: unauthorized
                error_description: Full authentication is required to access this resource
        '403':
          description: Access is denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationError'
              example:
                error: access_denied
                error_description: Access is denied
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                error: ResourceNotFoundError
                message: Resource not found
                timestamp: '2022-01-16T06:26:49.627204600Z'
      x-codeSamples:
        - lang: cURL
          source: |
            curl --location --request 'POST' \
              'https://api.chatkitty.com/v1/channels/55913/members' \
              -H 'accept: application/json' \
              -H 'Authorization: Bearer ACCESS-TOKEN' \
              -H 'Content-Type: application/json' \
              -d '{
              "username": "jane@chatkitty.com"
            }'
        - lang: JavaScript
          source: |
            // npm install chatkitty-platform-sdk

            const chatkitty = new ChatKitty({
              clientId: 'CLIENT-ID',
              clientSecret: 'CLIENT-SECRET'
            })

            await chatkitty.Channels.addChannelMember(55913, {
              username: "jane@chatkitty.com"
            })
  /v1/channels/{id}/members/{user_id}:
    delete:
      tags:
        - channels
      summary: Remove a channel member
      operationId: Channels_removeMember
      security:
        - application_authorization:
            - read:channel
            - read:user
            - delete:channel_membership
      description: Removes a member from a group channel
      parameters:
        - description: Channel ID
          name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - description: User ID of member to be removed
          name: user_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelResource'
            application/vnd.chatkitty+json:
              schema:
                $ref: '#/components/schemas/ChannelResource'
            application/vnd.hal+json:
              schema:
                $ref: '#/components/schemas/ChannelResource'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ChannelResource'
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                error: ClientError
                message: A client error occurred, check your request
                timestamp: '2022-01-16T06:26:49.627204600Z'
        '401':
          description: >-
            Unauthorized: Full authentication is required to access this
            resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationError'
              example:
                error: unauthorized
                error_description: Full authentication is required to access this resource
        '403':
          description: Access is denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationError'
              example:
                error: access_denied
                error_description: Access is denied
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                error: ResourceNotFoundError
                message: Resource not found
                timestamp: '2022-01-16T06:26:49.627204600Z'
      x-codeSamples:
        - lang: cURL
          source: |
            curl --location --request 'DELETE' \
              'https://api.chatkitty.com/v1/channels/55913/members/14503' \
              -H 'accept: application/json' \
              -H 'Authorization: Bearer ACCESS-TOKEN'
        - lang: JavaScript
          source: |
            // npm install chatkitty-platform-sdk

            const chatkitty = new ChatKitty({
              clientId: 'CLIENT-ID',
              clientSecret: 'CLIENT-SECRET'
            })

            await chatkitty.Channels.removeChannelMember(55913, 14503)
  /v1/channels/{id}/memberships:
    get:
      tags:
        - channels
      summary: List channel memberships
      operationId: Channels_listMembershipsPage
      security:
        - application_authorization:
            - read:channel
            - read:channel_membership
      description: Returns a page of channel membership info for this channel
      parameters:
        - description: Channel ID
          name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - description: Zero-based page index (0..N)
          name: page
          in: query
          required: false
          schema:
            minimum: 0
            type: integer
            default: 0
        - description: The size of the page to be returned
          name: size
          in: query
          required: false
          schema:
            minimum: 1
            type: integer
            default: 25
        - description: >-
            Sorting criteria in the format: property,(asc|desc). Default sort
            order is ascending. Multiple sort criteria are supported.
          name: sort
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedModelChannelMembershipResource'
            application/vnd.chatkitty+json:
              schema:
                $ref: '#/components/schemas/PagedModelChannelMembershipResource'
            application/vnd.hal+json:
              schema:
                $ref: '#/components/schemas/PagedModelChannelMembershipResource'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/PagedModelChannelMembershipResource'
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                error: ClientError
                message: A client error occurred, check your request
                timestamp: '2022-01-16T06:26:49.627204600Z'
        '401':
          description: >-
            Unauthorized: Full authentication is required to access this
            resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationError'
              example:
                error: unauthorized
                error_description: Full authentication is required to access this resource
        '403':
          description: Access is denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationError'
              example:
                error: access_denied
                error_description: Access is denied
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                error: ResourceNotFoundError
                message: Resource not found
                timestamp: '2022-01-16T06:26:49.627204600Z'
      x-codeSamples:
        - lang: cURL
          source: |
            curl --location --request 'GET' \
              'https://api.chatkitty.com/v1/channels/702/memberships?page=0&size=25' \
              -H 'accept: application/json' \
              -H 'Authorization: Bearer ACCESS-TOKEN'
        - lang: JavaScript
          source: |
            // npm install chatkitty-platform-sdk

            const chatkitty = new ChatKitty({
              clientId: 'CLIENT-ID',
              clientSecret: 'CLIENT-SECRET'
            })

            await chatkitty.Channels.listChannelMemberships(702)
  /v1/channels/{id}/messages:
    get:
      tags:
        - channels
      summary: List channel messages
      operationId: Channels_listMessagesPage
      security:
        - application_authorization:
            - read:channel
            - read:message
      description: Returns a page of messages sent in this channel
      parameters:
        - description: Channel ID
          name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - description: The size of the page to be returned
          name: size
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - description: >-
            Start cursor value. Do not set manually. Provided by the Platform
            API pagination engine to fetch previous or next pages
          name: start
          in: query
          required: false
          schema:
            type: integer
            format: int64
        - description: >-
            Next page cursor value. Do not set manually. Provided by the
            Platform API pagination engine to fetch subsequent pages
          name: next
          in: query
          required: false
          schema:
            type: integer
            format: int64
        - description: >-
            Page cursor relation. Do not set manually. Provided by the Platform
            API pagination engine to fetch previous or next pages
          name: relation
          in: query
          required: false
          schema:
            type: string
            enum:
              - SELF
              - PREVIOUS
              - NEXT
        - name: username
          in: query
          required: false
          schema:
            type: string
        - name: query
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CursorPagedModelMessageResource'
            application/vnd.chatkitty+json:
              schema:
                $ref: '#/components/schemas/CursorPagedModelMessageResource'
            application/vnd.hal+json:
              schema:
                $ref: '#/components/schemas/CursorPagedModelMessageResource'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/CursorPagedModelMessageResource'
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                error: ClientError
                message: A client error occurred, check your request
                timestamp: '2022-01-16T06:26:49.627204600Z'
        '401':
          description: >-
            Unauthorized: Full authentication is required to access this
            resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationError'
              example:
                error: unauthorized
                error_description: Full authentication is required to access this resource
        '403':
          description: Access is denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationError'
              example:
                error: access_denied
                error_description: Access is denied
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                error: ResourceNotFoundError
                message: Resource not found
                timestamp: '2022-01-16T06:26:49.627204600Z'
      x-codeSamples:
        - lang: cURL
          source: |
            curl --location --request 'GET' \
              'https://api.chatkitty.com/v1/channels/702/messages' \
              -H 'accept: application/json' \
              -H 'Authorization: Bearer ACCESS-TOKEN'
        - lang: JavaScript
          source: |
            // npm install chatkitty-platform-sdk

            const chatkitty = new ChatKitty({
              clientId: 'CLIENT-ID',
              clientSecret: 'CLIENT-SECRET'
            })

            await chatkitty.Channels.listChannelMessages(702)
    post:
      tags:
        - channels
      summary: Send a channel message
      operationId: Channels_sendChannelMessage
      security:
        - application_authorization:
            - read:channel
            - read:user
            - create:message
      description: Sends a message in this channel as the system or on behalf of a user
      parameters:
        - description: Channel ID
          name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMessageResource'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ChannelsSendChannelMessageRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResource'
            application/vnd.chatkitty+json:
              schema:
                $ref: '#/components/schemas/MessageResource'
            application/vnd.hal+json:
              schema:
                $ref: '#/components/schemas/MessageResource'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/MessageResource'
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                error: ClientError
                message: A client error occurred, check your request
                timestamp: '2022-01-16T06:26:49.627204600Z'
        '401':
          description: >-
            Unauthorized: Full authentication is required to access this
            resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationError'
              example:
                error: unauthorized
                error_description: Full authentication is required to access this resource
        '403':
          description: Access is denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationError'
              example:
                error: access_denied
                error_description: Access is denied
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                error: ResourceNotFoundError
                message: Resource not found
                timestamp: '2022-01-16T06:26:49.627204600Z'
      x-codeSamples:
        - lang: cURL
          source: |
            curl --location --request 'POST' \
              'https://api.chatkitty.com/v1/channels/702/messages' \
              -H 'accept: application/json' \
              -H 'Authorization: Bearer ACCESS-TOKEN' \
              -H 'Content-Type: application/json' \
              -d '{
                "type": "TEXT",
                "body": "🌞"
            }'
        - lang: JavaScript
          source: |
            // npm install chatkitty-platform-sdk

            const chatkitty = new ChatKitty({
              clientId: 'CLIENT-ID',
              clientSecret: 'CLIENT-SECRET'
            })

            await chatkitty.Channels.sendChannelMessage(702, {
              "type": "TEXT",
              "body": "🌞"
            })
  /v1/channels/{id}/moderators:
    get:
      tags:
        - channels
      summary: Lists a channel's moderators
      operationId: Channels_listModeratorsPage
      security:
        - application_authorization:
            - read:channel
            - read:channel_moderator
      description: Returns a page of channel moderators
      parameters:
        - description: Channel ID
          name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - description: Zero-based page index (0..N)
          name: page
          in: query
          required: false
          schema:
            minimum: 0
            type: integer
            default: 0
        - description: The size of the page to be returned
          name: size
          in: query
          required: false
          schema:
            minimum: 1
            type: integer
            default: 25
        - description: >-
            Sorting criteria in the format: property,(asc|desc). Default sort
            order is ascending. Multiple sort criteria are supported.
          name: sort
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedModelChatUserResource'
            application/vnd.chatkitty+json:
              schema:
                $ref: '#/components/schemas/PagedModelChatUserResource'
            application/vnd.hal+json:
              schema:
                $ref: '#/components/schemas/PagedModelChatUserResource'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/PagedModelChatUserResource'
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                error: ClientError
                message: A client error occurred, check your request
                timestamp: '2022-01-16T06:26:49.627204600Z'
        '401':
          description: >-
            Unauthorized: Full authentication is required to access this
            resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationError'
              example:
                error: unauthorized
                error_description: Full authentication is required to access this resource
        '403':
          description: Access is denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationError'
              example:
                error: access_denied
                error_description: Access is denied
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                error: ResourceNotFoundError
                message: Resource not found
                timestamp: '2022-01-16T06:26:49.627204600Z'
      x-codeSamples:
        - lang: cURL
          source: |
            curl --location --request 'GET' \
              'https://api.chatkitty.com/v1/channels/67026/moderators?page=0&size=25' \
              -H 'accept: application/json' \
              -H 'Authorization: Bearer ACCESS-TOKEN'
        - lang: JavaScript
          source: |
            // npm install chatkitty-platform-sdk

            const chatkitty = new ChatKitty({
              clientId: 'CLIENT-ID',
              clientSecret: 'CLIENT-SECRET'
            })

            await chatkitty.Channels.listChannelModerators(67026)
    post:
      tags:
        - channels
      summary: Add a channel moderator
      operationId: Channels_addModerator
      security:
        - application_authorization:
            - read:channel
            - read:user
            - read:channel_membership
            - create:channel_moderator
      description: Makes a user a group channel moderator
      parameters:
        - description: Channel ID
          name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/vnd.chatkitty+json:
            schema:
              $ref: '#/components/schemas/ChatUserReference'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatUserResource'
            application/vnd.chatkitty+json:
              schema:
                $ref: '#/components/schemas/ChatUserResource'
            application/vnd.hal+json:
              schema:
                $ref: '#/components/schemas/ChatUserResource'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ChatUserResource'
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                error: ClientError
                message: A client error occurred, check your request
                timestamp: '2022-01-16T06:26:49.627204600Z'
        '401':
          description: >-
            Unauthorized: Full authentication is required to access this
            resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationError'
              example:
                error: unauthorized
                error_description: Full authentication is required to access this resource
        '403':
          description: Access is denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationError'
              example:
                error: access_denied
                error_description: Access is denied
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                error: ResourceNotFoundError
                message: Resource not found
                timestamp: '2022-01-16T06:26:49.627204600Z'
      x-codeSamples:
        - lang: cURL
          source: |
            curl --location --request 'POST' \
              'https://api.chatkitty.com/v1/channels/55913/moderators' \
              -H 'accept: application/json' \
              -H 'Authorization: Bearer ACCESS-TOKEN' \
              -H 'Content-Type: application/json' \
              -d '{
              "username": "jane@chatkitty.com"
            }'
        - lang: JavaScript
          source: |
            // npm install chatkitty-platform-sdk

            const chatkitty = new ChatKitty({
              clientId: 'CLIENT-ID',
              clientSecret: 'CLIENT-SECRET'
            })

            await chatkitty.Channels.addChannelModerator(55913, {
              username: "jane@chatkitty.com"
            })
  /v1/channels/{id}/moderators/{user_id}:
    delete:
      tags:
        - channels
      summary: Remove a channel moderator
      operationId: Channels_removeModerator
      security:
        - application_authorization:
            - read:channel
            - read:user
            - delete:channel_moderator
      description: Removes a moderator from a group channel
      parameters:
        - description: Channel ID
          name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - description: User ID of moderator to be removed
          name: user_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelResource'
            application/vnd.chatkitty+json:
              schema:
                $ref: '#/components/schemas/ChannelResource'
            application/vnd.hal+json:
              schema:
                $ref: '#/components/schemas/ChannelResource'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ChannelResource'
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                error: ClientError
                message: A client error occurred, check your request
                timestamp: '2022-01-16T06:26:49.627204600Z'
        '401':
          description: >-
            Unauthorized: Full authentication is required to access this
            resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationError'
              example:
                error: unauthorized
                error_description: Full authentication is required to access this resource
        '403':
          description: Access is denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationError'
              example:
                error: access_denied
                error_description: Access is denied
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                error: ResourceNotFoundError
                message: Resource not found
                timestamp: '2022-01-16T06:26:49.627204600Z'
      x-codeSamples:
        - lang: cURL
          source: |
            curl --location --request 'DELETE' \
              'https://api.chatkitty.com/v1/channels/55913/moderators/14503' \
              -H 'accept: application/json' \
              -H 'Authorization: Bearer ACCESS-TOKEN'
        - lang: JavaScript
          source: |
            // npm install chatkitty-platform-sdk

            const chatkitty = new ChatKitty({
              clientId: 'CLIENT-ID',
              clientSecret: 'CLIENT-SECRET'
            })

            await chatkitty.Channels.removeChannelModerator(55913, 14503)
  /v1/channels/{id}/participants:
    get:
      tags:
        - channels
      summary: List channel participants
      operationId: Channels_listParticipantsPage
      security:
        - application_authorization:
            - read:channel
            - read:chat_session
      description: >-
        Returns a page of channel active participants: members that currently
        online
      parameters:
        - description: Channel ID
          name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - description: Zero-based page index (0..N)
          name: page
          in: query
          required: false
          schema:
            minimum: 0
            type: integer
            default: 0
        - description: The size of the page to be returned
          name: size
          in: query
          required: false
          schema:
            minimum: 1
            type: integer
            default: 25
        - description: >-
            Sorting criteria in the format: property,(asc|desc). Default sort
            order is ascending. Multiple sort criteria are supported.
          name: sort
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedModelChatUserResource'
            application/vnd.chatkitty+json:
              schema:
                $ref: '#/components/schemas/PagedModelChatUserResource'
            application/vnd.hal+json:
              schema:
                $ref: '#/components/schemas/PagedModelChatUserResource'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/PagedModelChatUserResource'
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                error: ClientError
                message: A client error occurred, check your request
                timestamp: '2022-01-16T06:26:49.627204600Z'
        '401':
          description: >-
            Unauthorized: Full authentication is required to access this
            resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationError'
              example:
                error: unauthorized
                error_description: Full authentication is required to access this resource
        '403':
          description: Access is denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationError'
              example:
                error: access_denied
                error_description: Access is denied
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                error: ResourceNotFoundError
                message: Resource not found
                timestamp: '2022-01-16T06:26:49.627204600Z'
      x-codeSamples:
        - lang: cURL
          source: |
            curl --location --request 'GET' \
              'https://api.chatkitty.com/v1/channels/702/participants?page=0&size=25' \
              -H 'accept: application/json' \
              -H 'Authorization: Bearer ACCESS-TOKEN'
        - lang: JavaScript
          source: |
            // npm install chatkitty-platform-sdk

            const chatkitty = new ChatKitty({
              clientId: 'CLIENT-ID',
              clientSecret: 'CLIENT-SECRET'
            })

            await chatkitty.Channels.listChannelParticipants(702)
  /v1/channels/{id}/reported-messages:
    get:
      tags:
        - channels
      summary: List channel reported messages
      operationId: Channels_listReportedMessagesPage
      security:
        - application_authorization:
            - read:channel
            - read:message_report
      description: Returns a page of reported messages in this channel
      parameters:
        - description: Channel ID
          name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - description: Zero-based page index (0..N)
          name: page
          in: query
          required: false
          schema:
            minimum: 0
            type: integer
            default: 0
        - description: The size of the page to be returned
          name: size
          in: query
          required: false
          schema:
            minimum: 1
            type: integer
            default: 25
        - description: >-
            Sorting criteria in the format: property,(asc|desc). Default sort
            order is ascending. Multiple sort criteria are supported.
          name: sort
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedModelMessageResource'
            application/vnd.chatkitty+json:
              schema:
                $ref: '#/components/schemas/PagedModelMessageResource'
            application/vnd.hal+json:
              schema:
                $ref: '#/components/schemas/PagedModelMessageResource'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/PagedModelMessageResource'
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                error: ClientError
                message: A client error occurred, check your request
                timestamp: '2022-01-16T06:26:49.627204600Z'
        '401':
          description: >-
            Unauthorized: Full authentication is required to access this
            resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationError'
              example:
                error: unauthorized
                error_description: Full authentication is required to access this resource
        '403':
          description: Access is denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationError'
              example:
                error: access_denied
                error_description: Access is denied
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                error: ResourceNotFoundError
                message: Resource not found
                timestamp: '2022-01-16T06:26:49.627204600Z'
      x-codeSamples: []
  /v1/chat-sessions:
    get:
      tags:
        - chat-sessions
      summary: List chat sessions
      operationId: Chatsessions_listPage
      security:
        - application_authorization:
            - read:chat_session
      description: Returns a page of chat sessions belonging to this application
      parameters:
        - description: Zero-based page index (0..N)
          name: page
          in: query
          required: false
          schema:
            minimum: 0
            type: integer
            default: 0
        - description: The size of the page to be returned
          name: size
          in: query
          required: false
          schema:
            minimum: 1
            type: integer
            default: 25
        - description: >-
            Sorting criteria in the format: property,(asc|desc). Default sort
            order is ascending. Multiple sort criteria are supported.
          name: sort
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
        - description: Filters by state
          name: state
          in: query
          required: false
          schema:
            type: string
            enum:
              - ACTIVE
              - ENDED
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedModelChatSessionResource'
            application/vnd.chatkitty+json:
              schema:
                $ref: '#/components/schemas/PagedModelChatSessionResource'
            application/vnd.hal+json:
              schema:
                $ref: '#/components/schemas/PagedModelChatSessionResource'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/PagedModelChatSessionResource'
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                error: ClientError
                message: A client error occurred, check your request
                timestamp: '2022-01-16T06:26:49.627204600Z'
        '401':
          description: >-
            Unauthorized: Full authentication is required to access this
            resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationError'
              example:
                error: unauthorized
                error_description: Full authentication is required to access this resource
        '403':
          description: Access is denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationError'
              example:
                error: access_denied
                error_description: Access is denied
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                error: ResourceNotFoundError
                message: Resource not found
                timestamp: '2022-01-16T06:26:49.627204600Z'
      x-codeSamples: []
  /v1/function-versions/{id}:
    get:
      tags:
        - function-versions
      summary: Retrieve a chat function version
      operationId: Functionversions_getById
      security:
        - application_authorization:
            - read:function_version
      description: Returns a chat function version by ID
      parameters:
        - description: Chat function version ID
          name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatFunctionVersionResource'
            application/vnd.chatkitty+json:
              schema:
                $ref: '#/components/schemas/ChatFunctionVersionResource'
            application/vnd.hal+json:
              schema:
                $ref: '#/components/schemas/ChatFunctionVersionResource'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ChatFunctionVersionResource'
        '400':
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                error: ClientError
                message: A client error occurred, check your request
                timestamp: '2022-01-16T06:26:49.627204600Z'
        '401':
          description: >-
            Unauthorized: Full authentication is required to access this
            resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationError'
              example:
                error: unauthorized
                error_description: Full authentication is required to access this resource
        '403':
          description: Access is denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationError'
              example:
                error: access_denied
                error_description: Access is denied
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                error: ResourceNotFoundError
                message: Resource not found
                timestamp: '2022-01-16T06:26:49.627204600Z'
      x-codeSamples:
        - lang: cURL
          source: |
            curl --location --request 'GET' \
              'https://api.chatkitty.com/v1/function-versions/13515' \
              -H 'accept: application/json' \
              -H 'Authorization: Bearer ACCESS-TOKEN'
        - lang: JavaScript
          source: |
            // npm install chatkitty-platform-sdk

            const chatkitty = new ChatKitty({
              clientId: 'CLIENT-ID',
              clientSecret: 'CLIENT-SECRET'
            })

            await chatkitty.FunctionVersions.retrieveFunctionVersion(13515)
  /v1/functions/{id}:
    get:
      tags:
        - functions
      summary: Retrieve a chat function
      operationId: Functions_getById
      security:
        - application_authorization:
            - read:function
      description: Returns a chat function by ID
      parameters:
        - description: Chat function ID
          name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatFunctionResource'
            application/vnd.chatkitty+json:
              schema:
                $ref: '#/components/schemas/ChatFunctionResource'
            application/vnd.hal+json:
              schema:
                $ref: '#/components/schemas/ChatFunctionResource'
            application/hal+json:
[...]
