openapi: 3.0.3
info:
  title: Clerk Backend API
  description: >-
    The Clerk REST Backend API, meant to be accessed by backend

    servers.


    ### Versions


    When the API changes in a way that isn't compatible with older versions, a
    new version is released.

    Each version is identified by its release date, e.g. `2021-02-05`. For more
    information, please see [Clerk API
    Versions](https://clerk.com/docs/backend-requests/versioning/overview).



    Please see https://clerk.com/docs for more information.
  version: v1
  x-logo:
    url: https://clerk.com/_next/image?url=%2Fimages%2Fclerk-logo.svg&w=96&q=75
    altText: Clerk docs
    href: https://clerk.com/docs
  contact:
    email: support@clerk.com
    name: Clerk Platform Team
    url: https://clerk.com/support
  termsOfService: https://clerk.com/terms
  license:
    name: MIT
    url: https://github.com/clerkinc/clerk-sdk-go/blob/main/LICENSE
  x-konfig-ignore:
    object-with-no-properties: true
servers:
  - url: https://api.clerk.com/v1
tags:
  - description: >-
      The user object represents a user that has successfully signed up to your
      application.
    name: Users
    externalDocs:
      url: https://clerk.com/docs/reference/clerkjs/user
  - description: >-
      Organizations are used to group members under a common entity and provide
      shared access to resources.
    name: Organizations
    externalDocs:
      url: https://clerk.com/docs/organizations/overview
  - description: >-
      Allow-lists and Block-lists allow you to control who can sign up or sign
      in

      to your application, by restricting access based on the user's email

      address or phone number.
    name: Allow-list / Block-list
    externalDocs:
      url: https://clerk.com/docs/authentication/allowlist
  - description: >-
      Email & SMS templates allow you to customize the theming and wording of
      emails & SMS messages that are sent by your instance.
    name: Email & SMS Templates
    externalDocs:
      url: https://clerk.com/docs/authentication/email-sms-templates
  - description: >-
      OAuth applications contain data for clients using Clerk as an OAuth2
      identity provider.
    name: OAuth Applications
  - description: Invite users to an organization.
    name: Organization Invitations
    externalDocs:
      url: https://clerk.com/docs/organizations/invite-users
  - description: |-
      JWT Templates allow you to generate custom authentication tokens
      tied to authenticated sessions, enabling you to integrate with third-party
      services.
    name: JWT Templates
    externalDocs:
      url: https://clerk.com/docs/request-authentication/jwt-templates
  - description: Manage member roles in an organization.
    name: Organization Memberships
    externalDocs:
      url: https://clerk.com/docs/organizations/manage-member-roles
  - description: >-
      A SAML Connection holds configuration data required for facilitating a
      SAML SSO flow between your

      Clerk Instance (SP) and a particular SAML IdP.
    name: SAML Connections
  - description: >-
      The Session object is an abstraction over an HTTP session.

      It models the period of information exchange between a user and the
      server.

      Sessions are created when a user successfully goes through the sign in or
      sign up flows.
    name: Sessions
    externalDocs:
      url: https://clerk.com/docs/reference/clerkjs/session
  - description: Domains represent each instance's URLs and DNS setup.
    name: Domains
  - description: >-
      A user can be associated with one or more email addresses, which allows
      them to be contacted via email.
    name: Email Addresses
    externalDocs:
      url: https://clerk.com/docs/reference/clerkjs/emailaddress
  - description: >-
      A user can be associated with one or more phone numbers, which allows them
      to be contacted via SMS.
    name: Phone Numbers
    externalDocs:
      url: https://clerk.com/docs/reference/clerkjs/phonenumber
  - description: >-
      Redirect URLs are whitelisted URLs that facilitate secure authentication
      flows in native applications (e.g. React Native, Expo).

      In these contexts, Clerk ensures that security-critical nonces are passed
      only to the whitelisted URLs.
    name: Redirect URLs
  - description: >-
      The Client object tracks sessions, as well as the state of any sign in and
      sign up attempts, for a given device.
    name: Clients
    externalDocs:
      url: https://clerk.com/docs/reference/clerkjs/client
  - description: Modify the settings of your instance.
    name: Instance Settings
  - description: >-
      Invitations allow you to invite someone to sign up to your application,
      via email.
    name: Invitations
    externalDocs:
      url: https://clerk.com/docs/authentication/invitations
  - description: >-
      You can configure webhooks to be notified about various events that happen
      on your instance.
    name: Webhooks
    externalDocs:
      url: https://clerk.com/docs/integration/webhooks
  - description: Modify instance settings that are currently in beta.
    name: Beta Features
  - description: Allow your users to sign in on behalf of other users.
    name: Actor Tokens
    externalDocs:
      url: https://clerk.com/docs/authentication/user-impersonation#actor-tokens
  - description: >-
      Sign-in tokens are JWTs that can be used to sign in to an application
      without specifying any credentials.

      A sign-in token can be used at most once and they can be consumed from the
      Frontend API using the `ticket` strategy.
    name: Sign-in Tokens
  - description: >-
      Retrieve the JSON Web Key Set which can be used to verify the token
      signatures of the instance.
    name: JWKS
  - description: Various endpoints that do not belong in any particular category.
    name: Miscellaneous
  - name: Proxy checks
  - name: Sign-ups
paths:
  /public/interstitial:
    get:
      tags:
        - Miscellaneous
      summary: Returns the markup for the interstitial page
      operationId: Miscellaneous_getInterstitialMarkup
      security: []
      description: >-
        The Clerk interstitial endpoint serves an html page that loads clerk.js
        in order to check the user's authentication state.

        It is used by Clerk SDKs when the user's authentication state cannot be
        immediately determined.
      parameters:
        - description: The Frontend API key of your instance
          name: frontendApi
          in: query
          required: false
          schema:
            type: string
        - description: The publishable key of your instance
          name: publishable_key
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: The interstitial page markup
        '400':
          description: A required query parameter is missing
        '500':
          description: An infinite redirect loop was detected
  /jwks:
    get:
      tags:
        - JWKS
      summary: Retrieve the JSON Web Key Set of the instance
      operationId: Jwks_getJsonWebKeySet
      description: Retrieve the JSON Web Key Set of the instance
      responses:
        '200':
          description: The JSON Web Key Set
  /clients:
    get:
      tags:
        - Clients
      summary: List all clients
      operationId: Clients_listSortedByCreationDate
      description: >-
        Returns a list of all clients. The clients are returned sorted by
        creation date,

        with the newest clients appearing first.

        Warning: the endpoint is being deprecated and will be removed in future
        versions.
      parameters:
        - $ref: '#/components/parameters/LimitParameter'
        - $ref: '#/components/parameters/OffsetParameter'
      responses:
        '200':
          $ref: '#/components/responses/Client.List'
        '400':
          $ref: '#/components/responses/ClerkErrors'
        '401':
          $ref: '#/components/responses/AuthenticationInvalid'
        '410':
          $ref: '#/components/responses/DeprecatedEndpoint'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      deprecated: true
  /clients/verify:
    post:
      tags:
        - Clients
      summary: Verify a client
      operationId: Clients_verifyClientToken
      description: Verifies the client in the provided token
      requestBody:
        description: Parameters.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClientsVerifyClientTokenRequest'
      responses:
        '200':
          $ref: '#/components/responses/Client'
        '400':
          $ref: '#/components/responses/ClerkErrors'
        '401':
          $ref: '#/components/responses/AuthenticationInvalid'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
  /clients/{client_id}:
    get:
      tags:
        - Clients
      summary: Get a client
      operationId: Clients_getDetails
      description: Returns the details of a client.
      parameters:
        - description: Client ID.
          name: client_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/Client'
        '400':
          $ref: '#/components/responses/ClerkErrors'
        '401':
          $ref: '#/components/responses/AuthenticationInvalid'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
  /email_addresses:
    post:
      tags:
        - Email Addresses
      summary: Create an email address
      operationId: EmailAddresses_createNewAddress
      description: Create a new email address
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailAddressesCreateNewAddressRequest'
      responses:
        '200':
          $ref: '#/components/responses/EmailAddress'
        '400':
          $ref: '#/components/responses/ClerkErrors'
        '401':
          $ref: '#/components/responses/AuthenticationInvalid'
        '403':
          $ref: '#/components/responses/AuthorizationInvalid'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /email_addresses/{email_address_id}:
    get:
      tags:
        - Email Addresses
      summary: Retrieve an email address
      operationId: EmailAddresses_getDetails
      description: Returns the details of an email address.
      parameters:
        - description: The ID of the email address to retrieve
          name: email_address_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/EmailAddress'
        '400':
          $ref: '#/components/responses/ClerkErrors'
        '401':
          $ref: '#/components/responses/AuthenticationInvalid'
        '403':
          $ref: '#/components/responses/AuthorizationInvalid'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
    delete:
      tags:
        - Email Addresses
      summary: Delete an email address
      operationId: EmailAddresses_deleteById
      description: Delete the email address with the given ID
      parameters:
        - description: The ID of the email address to delete
          name: email_address_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/DeletedObject'
        '400':
          $ref: '#/components/responses/ClerkErrors'
        '401':
          $ref: '#/components/responses/AuthenticationInvalid'
        '403':
          $ref: '#/components/responses/AuthorizationInvalid'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
    patch:
      tags:
        - Email Addresses
      summary: Update an email address
      operationId: EmailAddresses_updateAddress
      description: Updates an email address.
      parameters:
        - description: The ID of the email address to update
          name: email_address_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailAddressesUpdateAddressRequest'
      responses:
        '200':
          $ref: '#/components/responses/EmailAddress'
        '400':
          $ref: '#/components/responses/ClerkErrors'
        '401':
          $ref: '#/components/responses/AuthenticationInvalid'
        '403':
          $ref: '#/components/responses/AuthorizationInvalid'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
  /phone_numbers:
    post:
      tags:
        - Phone Numbers
      summary: Create a phone number
      operationId: PhoneNumbers_createNewPhoneNumber
      description: Create a new phone number
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PhoneNumbersCreateNewPhoneNumberRequest'
      responses:
        '200':
          $ref: '#/components/responses/PhoneNumber'
        '400':
          $ref: '#/components/responses/ClerkErrors'
        '401':
          $ref: '#/components/responses/AuthenticationInvalid'
        '403':
          $ref: '#/components/responses/AuthorizationInvalid'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /phone_numbers/{phone_number_id}:
    get:
      tags:
        - Phone Numbers
      summary: Retrieve a phone number
      operationId: PhoneNumbers_getDetails
      description: Returns the details of a phone number
      parameters:
        - description: The ID of the phone number to retrieve
          name: phone_number_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/PhoneNumber'
        '400':
          $ref: '#/components/responses/ClerkErrors'
        '401':
          $ref: '#/components/responses/AuthenticationInvalid'
        '403':
          $ref: '#/components/responses/AuthorizationInvalid'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
    delete:
      tags:
        - Phone Numbers
      summary: Delete a phone number
      operationId: PhoneNumbers_deletePhoneNumberById
      description: Delete the phone number with the given ID
      parameters:
        - description: The ID of the phone number to delete
          name: phone_number_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/DeletedObject'
        '400':
          $ref: '#/components/responses/ClerkErrors'
        '401':
          $ref: '#/components/responses/AuthenticationInvalid'
        '403':
          $ref: '#/components/responses/AuthorizationInvalid'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
    patch:
      tags:
        - Phone Numbers
      summary: Update a phone number
      operationId: PhoneNumbers_updateDetails
      description: Updates a phone number
      parameters:
        - description: The ID of the phone number to update
          name: phone_number_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PhoneNumbersUpdateDetailsRequest'
      responses:
        '200':
          $ref: '#/components/responses/PhoneNumber'
        '400':
          $ref: '#/components/responses/ClerkErrors'
        '401':
          $ref: '#/components/responses/AuthenticationInvalid'
        '403':
          $ref: '#/components/responses/AuthorizationInvalid'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
  /sessions:
    get:
      tags:
        - Sessions
      summary: List all sessions
      operationId: Sessions_listSortedByCreationDate
      description: >-
        Returns a list of all sessions.

        The sessions are returned sorted by creation date, with the newest
        sessions appearing first.

        **Deprecation Notice (2024-01-01):** All parameters were initially
        considered optional, however

        moving forward at least one of `client_id` or `user_id` parameters
        should be provided.
      parameters:
        - description: List sessions for the given client
          name: client_id
          in: query
          required: false
          schema:
            type: string
        - description: List sessions for the given user
          name: user_id
          in: query
          required: false
          schema:
            type: string
        - description: Filter sessions by the provided status
          name: status
          in: query
          required: false
          schema:
            type: string
            enum:
              - abandoned
              - active
              - ended
              - expired
              - removed
              - replaced
              - revoked
        - $ref: '#/components/parameters/LimitParameter'
        - $ref: '#/components/parameters/OffsetParameter'
      responses:
        '200':
          $ref: '#/components/responses/Session.List'
        '400':
          $ref: '#/components/responses/ClerkErrors'
        '401':
          $ref: '#/components/responses/AuthenticationInvalid'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /sessions/{session_id}:
    get:
      tags:
        - Sessions
      summary: Retrieve a session
      operationId: Sessions_getDetails
      description: Retrieve the details of a session
      parameters:
        - description: The ID of the session
          name: session_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/Session'
        '400':
          $ref: '#/components/responses/ClerkErrors'
        '401':
          $ref: '#/components/responses/AuthenticationInvalid'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
  /sessions/{session_id}/revoke:
    post:
      tags:
        - Sessions
      summary: Revoke a session
      operationId: Sessions_revokeSession
      description: >-
        Sets the status of a session as "revoked", which is an unauthenticated
        state.

        In multi-session mode, a revoked session will still be returned along
        with its client object, however the user will need to sign in again.
      parameters:
        - description: The ID of the session
          name: session_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/Session'
        '400':
          $ref: '#/components/responses/ClerkErrors'
        '401':
          $ref: '#/components/responses/AuthenticationInvalid'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
  /sessions/{session_id}/verify:
    post:
      tags:
        - Sessions
      summary: Verify a session
      operationId: Sessions_verifySession
      description: >-
        Returns the session if it is authenticated, otherwise returns an error.

        WARNING: This endpoint is deprecated and will be removed in future
        versions. We strongly recommend switching to networkless verification
        using short-lived session tokens,
                 which is implemented transparently in all recent SDK versions (e.g. [NodeJS SDK](https://clerk.com/docs/backend-requests/handling/nodejs#clerk-express-require-auth)).
                 For more details on how networkless verification works, refer to our [Session Tokens documentation](https://clerk.com/docs/backend-requests/resources/session-tokens).
      parameters:
        - description: The ID of the session
          name: session_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        description: Parameters.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SessionsVerifySessionRequest'
      responses:
        '200':
          $ref: '#/components/responses/Session'
        '400':
          $ref: '#/components/responses/ClerkErrors'
        '401':
          $ref: '#/components/responses/AuthenticationInvalid'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '410':
          $ref: '#/components/responses/DeprecatedEndpoint'
      deprecated: true
  /sessions/{session_id}/tokens/{template_name}:
    post:
      tags:
        - Sessions
      summary: Create a session token from a jwt template
      operationId: Sessions_createSessionTokenFromTemplate
      description: >-
        Creates a JSON Web Token(JWT) based on a session and a JWT Template name
        defined for your instance
      parameters:
        - description: The ID of the session
          name: session_id
          in: path
          required: true
          schema:
            type: string
        - description: >-
            The name of the JWT Template defined in your instance (e.g.
            `custom_hasura`).
          name: template_name
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/SessionsCreateSessionTokenFromTemplateResponse
        '401':
          $ref: '#/components/responses/AuthenticationInvalid'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
  /templates/{template_type}:
    get:
      tags:
        - Email & SMS Templates
      summary: List all templates
      operationId: EmailSmsTemplates_listSortedByPosition
      description: |-
        Returns a list of all templates.
        The templates are returned sorted by position.
      parameters:
        - description: The type of templates to list (email or SMS)
          name: template_type
          in: path
          required: true
          schema:
            type: string
            enum:
              - email
              - sms
      responses:
        '200':
          $ref: '#/components/responses/Template.List'
        '400':
          $ref: '#/components/responses/ClerkErrors'
        '401':
          $ref: '#/components/responses/AuthenticationInvalid'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /templates/{template_type}/{slug}:
    get:
      tags:
        - Email & SMS Templates
      summary: Retrieve a template
      operationId: EmailSmsTemplates_getTemplateDetails
      description: Returns the details of a template
      parameters:
        - description: The type of templates to retrieve (email or SMS)
          name: template_type
          in: path
          required: true
          schema:
            type: string
            enum:
              - email
              - sms
        - description: The slug (i.e. machine-friendly name) of the template to retrieve
          name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/Template'
        '400':
          $ref: '#/components/responses/ClerkErrors'
        '401':
          $ref: '#/components/responses/AuthenticationInvalid'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
    put:
      tags:
        - Email & SMS Templates
      summary: Update a template for a given type and slug
      operationId: EmailSmsTemplates_updateTemplateByTypeAndSlug
      description: Updates the existing template of the given type and slug
      parameters:
        - description: The type of template to update
          name: template_type
          in: path
          required: true
          schema:
            type: string
            enum:
              - email
              - sms
        - description: The slug of the template to update
          name: slug
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/EmailSmsTemplatesUpdateTemplateByTypeAndSlugRequest
      responses:
        '200':
          $ref: '#/components/responses/Template'
        '400':
          $ref: '#/components/responses/ClerkErrors'
        '401':
          $ref: '#/components/responses/AuthenticationInvalid'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /templates/{template_type}/{slug}/revert:
    post:
      tags:
        - Email & SMS Templates
      summary: Revert a template
      operationId: EmailSmsTemplates_revertTemplate
      description: Reverts an updated template to its default state
      parameters:
        - description: The type of template to revert
          name: template_type
          in: path
          required: true
          schema:
            type: string
            enum:
              - email
              - sms
        - description: The slug of the template to revert
          name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/Template'
        '400':
          $ref: '#/components/responses/ClerkErrors'
        '401':
          $ref: '#/components/responses/AuthenticationInvalid'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
  /templates/{template_type}/{slug}/preview:
    post:
      tags:
        - Email & SMS Templates
      summary: Preview changes to a template
      operationId: EmailSmsTemplates_previewTemplate
      description: Returns a preview of a template for a given template_type, slug and body
      parameters:
        - description: The type of template to preview
          name: template_type
          in: path
          required: true
          schema:
            type: string
        - description: The slug of the template to preview
          name: slug
          in: path
          required: true
          schema:
            type: string
      requestBody:
        description: Required parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailSmsTemplatesPreviewTemplateRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailSmsTemplatesPreviewTemplateResponse'
        '400':
          $ref: '#/components/responses/ClerkErrors'
        '401':
          $ref: '#/components/responses/AuthenticationInvalid'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /templates/{template_type}/{slug}/toggle_delivery:
    post:
      tags:
        - Email & SMS Templates
      summary: Toggle the delivery by Clerk for a template of a given type and slug
      operationId: EmailSmsTemplates_toggleDeliveryByTypeAndSlug
      description: >-
        Toggles the delivery by Clerk for a template of a given type and slug.

        If disabled, Clerk will not deliver the resulting email or SMS.

        The app developer will need to listen to the `email.created` or
        `sms.created` webhooks in order to handle delivery themselves.
      parameters:
        - description: The type of template to toggle delivery for
          name: template_type
          in: path
          required: true
          schema:
            type: string
            enum:
              - email
              - sms
        - description: The slug of the template for which to toggle delivery
          name: slug
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/EmailSmsTemplatesToggleDeliveryByTypeAndSlugRequest
      responses:
        '200':
          $ref: '#/components/responses/Template'
        '400':
          $ref: '#/components/responses/ClerkErrors'
        '401':
          $ref: '#/components/responses/AuthenticationInvalid'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
  /users:
    get:
      tags:
        - Users
      summary: List all users
      operationId: Users_listSortedByCreationDate
      description: >-
        Returns a list of all users.

        The users are returned sorted by creation date, with the newest users
        appearing first.
      parameters:
        - description: |-
            Returns users with the specified email addresses.
            Accepts up to 100 email addresses.
            Any email addresses not found are ignored.
          name: email_address
          in: query
          schema:
            type: array
            items:
              type: string
          required: false
        - description: |-
            Returns users with the specified phone numbers.
            Accepts up to 100 phone numbers.
            Any phone numbers not found are ignored.
          name: phone_number
          in: query
          schema:
            type: array
            items:
              type: string
          required: false
        - description: |-
            Returns users with the specified external ids.
            For each external id, the `+` and `-` can be
            prepended to the id, which denote whether the
            respective external id should be included or
            excluded from the result set.
            Accepts up to 100 external ids.
            Any external ids not found are ignored.
          name: external_id
          in: query
          schema:
            type: array
            items:
              type: string
          required: false
        - description: |-
            Returns users with the specified usernames.
            Accepts up to 100 usernames.
            Any usernames not found are ignored.
          name: username
          in: query
          schema:
            type: array
            items:
              type: string
          required: false
        - description: |-
            Returns users with the specified web3 wallet addresses.
            Accepts up to 100 web3 wallet addresses.
            Any web3 wallet addressed not found are ignored.
          name: web3_wallet
          in: query
          schema:
            type: array
            items:
              type: string
          required: false
        - description: |-
            Returns users with the user ids specified.
            For each user id, the `+` and `-` can be
            prepended to the id, which denote whether the
            respective user id should be included or
            excluded from the result set.
            Accepts up to 100 user ids.
            Any user ids not found are ignored.
          name: user_id
          in: query
          schema:
            type: array
            items:
              type: string
          required: false
        - description: |-
            Returns users that have memberships to the
            given organizations.
            For each organization id, the `+` and `-` can be
            prepended to the id, which denote whether the
            respective organization should be included or
            excluded from the result set.
            Accepts up to 100 organization ids.
          name: organization_id
          in: query
          schema:
            type: array
            items:
              type: string
          required: false
        - description: >-
            Returns users that match the given query.

            For possible matches, we check the email addresses, phone numbers,
            usernames, web3 wallets, user ids, first and last names.

            The query value doesn't need to match the exact value you are
            looking for, it is capable of partial matches as well.
          name: query
          in: query
          schema:
            type: string
          required: false
        - description: >-
            Returns users that had session activity since the given date, with
            day precision.

            Providing a value with higher precision than day will result in an
            error.

            Example: use 1700690400000 to retrieve users that had session
            activity from 2023-11-23 until the current day.
          name: last_active_at_since
          in: query
          example: 1700690400000
          schema:
            type: integer
        - $ref: '#/components/parameters/LimitParameter'
        - $ref: '#/components/parameters/OffsetParameter'
        - description: >-
            Allows to return users in a particular order.

            At the moment, you can order the returned users by their
            `created_at`,`updated_at`,`email_address`,`web3wallet`,`first_name`,`last_name`,`phone_number`,`username`,`last_active_at`,`last_sign_in_at`.

            In order to specify the direction, you can use the `+/-` symbols
            prepended in the property to order by.

            For example, if you want users to be returned in descending order
            according to their `created_at` property, you can use `-created_at`.

            If you don't use `+` or `-`, then `+` is implied. We only support
            one `order_by` parameter, and if multiple `order_by` parameters are
            provided, we will only keep the first one. For example,

            if you pass `order_by=username&order_by=created_at`, we will
            consider only the first `order_by` parameter, which is `username`.
            The `created_at` parameter will be ignored in this case.
          name: order_by
          in: query
          schema:
            type: string
            default: '-created_at'
          required: false
      responses:
        '200':
          $ref: '#/components/responses/User.List'
        '400':
          $ref: '#/components/responses/ClerkErrors'
        '401':
          $ref: '#/components/responses/AuthenticationInvalid'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    post:
      tags:
        - Users
      summary: Create a new user
      operationId: Users_createNewUser
      description: >-
        Creates a new user. Your user management settings determine how you
        should setup your user model.


        Any email address and phone number created using this method will be
        marked as verified.


        Note: If you are performing a migration, check out our guide on [zero
        downtime
        migrations](https://clerk.com/docs/deployments/migrate-overview).


        A rate limit rule of 20 requests per 10 seconds is applied to this
        endpoint.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsersCreateNewUserRequest'
      responses:
        '200':
          $ref: '#/components/responses/User'
        '400':
          $ref: '#/components/responses/ClerkErrors'
        '401':
          $ref: '#/components/responses/AuthenticationInvalid'
        '403':
          $ref: '#/components/responses/AuthenticationInvalid'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /users/count:
    get:
      tags:
        - Users
      summary: Count users
      operationId: Users_getTotalCount
      description: >-
        Returns a total count of all users that match the given filtering
        criteria.
      parameters:
        - description: |-
            Counts users with the specified email addresses.
            Accepts up to 100 email addresses.
            Any email addresses not found are ignored.
          name: email_address
          in: query
          schema:
            type: array
            items:
              type: string
          required: false
        - description: |-
            Counts users with the specified phone numbers.
            Accepts up to 100 phone numbers.
            Any phone numbers not found are ignored.
          name: phone_number
          in: query
          schema:
            type: array
            items:
              type: string
          required: false
        - description: |-
            Counts users with the specified external ids.
            Accepts up to 100 external ids.
            Any external ids not found are ignored.
          name: external_id
          in: query
          schema:
            type: array
            items:
              type: string
          required: false
        - description: |-
            Counts users with the specified usernames.
            Accepts up to 100 usernames.
            Any usernames not found are ignored.
          name: username
          in: query
          schema:
            type: array
            items:
              type: string
          required: false
        - description: |-
            Counts users with the specified web3 wallet addresses.
            Accepts up to 100 web3 wallet addresses.
            Any web3 wallet addressed not found are ignored.
          name: web3_wallet
          in: query
          schema:
            type: array
            items:
              type: string
          required: false
        - description: |-
            Counts users with the user ids specified.
            Accepts up to 100 user ids.
            Any user ids not found are ignored.
          name: user_id
          in: query
          schema:
            type: array
            items:
              type: string
          required: false
        - description: >-
            Counts users that match the given query.

            For possible matches, we check the email addresses, phone numbers,
            usernames, web3 wallets, user ids, first and last names.

            The query value doesn't need to match the exact value you are
            looking for, it is capable of partial matches as well.
          name: query
          in: query
          schema:
            type: string
          required: false
      responses:
        '200':
          $ref: '#/components/responses/User.Count'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /users/{user_id}:
    get:
      tags:
        - Users
      summary: Retrieve a user
      operationId: Users_getUserDetails
      description: Retrieve the details of a user
      parameters:
        - description: The ID of the user to retrieve
          name: user_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/User'
        '400':
          $ref: '#/components/responses/ClerkErrors'
        '401':
          $ref: '#/components/responses/AuthenticationInvalid'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
    patch:
      tags:
        - Users
      summary: Update a user
      operationId: Users_updateUserAttributes
      description: >-
        Update a user's attributes.


        You can set the user's primary contact identifiers (email address and
        phone numbers) by updating the `primary_email_address_id` and
        `primary_phone_number_id` attributes respectively.

        Both IDs should correspond to verified identifications that belong to
        the user.


        You can remove a user's username by setting the username attribute to
        null or the blank string "".

        This is a destructive action; the identification will be deleted
        forever.

        Usernames can be removed only if they are optional in your instance
        settings and there's at least one other identifier which can be used for
        authentication.


        This endpoint allows changing a user's password. When passing the
        `password` parameter directly you have two further options.

        You can ignore the password policy checks for your instance by setting
        the `skip_password_checks` parameter to `true`.

        You can also choose to sign the user out of all their active sessions on
        any device once the password is updated. Just set
        `sign_out_of_other_sessions` to `true`.
      parameters:
        - description: The ID of the user to update
          name: user_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsersUpdateUserAttributesRequest'
      responses:
        '200':
          $ref: '#/components/responses/User'
        '400':
          $ref: '#/components/responses/ClerkErrors'
        '401':
          $ref: '#/components/responses/AuthenticationInvalid'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    delete:
      tags:
        - Users
      summary: Delete a user
      operationId: Users_deleteUserById
      description: Delete the specified user
      parameters:
        - description: The ID of the user to delete
          name: user_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/DeletedObject'
        '400':
          $ref: '#/components/responses/ClerkErrors'
        '401':
          $ref: '#/components/responses/AuthenticationInvalid'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
  /users/{user_id}/ban:
    post:
      tags:
        - Users
      summary: Ban a user
      operationId: Users_markBanned
      description: >-
        Marks the given user as banned, which means that all their sessions are
        revoked and they are not allowed to sign in again.
      parameters:
        - description: The ID of the user to ban
          name: user_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/User'
        '402':
          $ref: '#/components/responses/PaymentRequired'
  /users/{user_id}/unban:
    post:
      tags:
        - Users
      summary: Unban a user
      operationId: Users_removeBanFromUser
      description: Removes the ban mark from the given user.
      parameters:
        - description: The ID of the user to unban
          name: user_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/User'
        '402':
          $ref: '#/components/responses/PaymentRequired'
  /users/{user_id}/lock:
    post:
      tags:
        - Users
      summary: Lock a user
      operationId: Users_lockUser
      description: >-
        Marks the given user as locked, which means they are not allowed to sign
        in again until the lock expires.

        Lock duration can be configured in the instance's restrictions settings.
      parameters:
        - description: The ID of the user to lock
          name: user_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/User'
        '403':
          $ref: '#/components/responses/AuthorizationInvalid'
  /users/{user_id}/unlock:
    post:
      tags:
        - Users
      summary: Unlock a user
      operationId: Users_removeLock
      description: Removes the lock from the given user.
      parameters:
        - description: The ID of the user to unlock
          name: user_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/User'
        '403':
          $ref: '#/components/responses/AuthorizationInvalid'
  /users/{user_id}/profile_image:
    post:
      tags:
        - Users
      summary: Set user profile image
      operationId: Users_setProfileImage
      description: Update a user's profile image
      parameters:
        - description: The ID of the user to update the profile image for
          name: user_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/UsersSetProfileImageRequest'
      responses:
        '200':
          $ref: '#/components/responses/User'
        '400':
          $ref: '#/components/responses/ClerkErrors'
        '401':
          $ref: '#/components/responses/ClerkErrors'
        '404':
          $ref: '#/components/responses/ClerkErrors'
    delete:
      tags:
        - Users
      summary: Delete user profile image
      operationId: Users_deleteProfileImage
      description: Delete a user's profile image
      parameters:
        - description: The ID of the user to delete the profile image for
          name: user_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/User'
        '404':
          $ref: '#/components/responses/ClerkErrors'
  /users/{user_id}/metadata:
    patch:
      tags:
        - Users
      summary: Merge and update a user's metadata
      operationId: Users_mergeUserMetadataAttributes
      description: >-
        Update a user's metadata attributes by merging existing values with the
        provided parameters.


        This endpoint behaves differently than the *Update a user* endpoint.

        Metadata values will not be replaced entirely.

        Instead, a deep merge will be performed.

        Deep means that any nested JSON objects will be merged as well.


        You can remove metadata keys at any level by setting their value to
        `null`.
      parameters:
        - description: The ID of the user whose metadata will be updated and merged
          name: user_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsersMergeUserMetadataAttributesRequest'
      responses:
        '200':
          $ref: '#/components/responses/User'
        '400':
          $ref: '#/components/responses/ClerkErrors'
        '401':
          $ref: '#/components/responses/AuthenticationInvalid'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /users/{user_id}/oauth_access_tokens/{provider}:
    get:
      tags:
        - Users
      summary: Retrieve the OAuth access token of a user
      operationId: Users_getOAuthAccessToken
      description: >-
        Fetch the corresponding OAuth access token for a user that has
        previously authenticated with a particular OAuth provider.

        For OAuth 2.0, if the access token has expired and we have a
        corresponding refresh token, the access token will be refreshed
        transparently the new one will be returned.
      parameters:
        - description: The ID of the user for which to retrieve the OAuth access token
          name: user_id
          in: path
          required: true
          schema:
            type: string
        - description: The ID of the OAuth provider (e.g. `oauth_google`)
          name: provider
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The OAuth access token of the user, if any.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersGetOAuthAccessTokenResponse'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /users/{user_id}/organization_memberships:
    get:
      tags:
        - Users
      summary: Retrieve all memberships for a user
      operationId: Users_getOrganizationMemberships
      description: Retrieve a paginated list of the user's organization memberships
      parameters:
        - description: >-
            The ID of the user whose organization memberships we want to
            retrieve
          name: user_id
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/LimitParameter'
        - $ref: '#/components/parameters/OffsetParameter'
      responses:
        '200':
          $ref: '#/components/responses/OrganizationMemberships'
        '403':
          $ref: '#/components/responses/ClerkErrors'
  /users/{user_id}/verify_password:
    post:
      tags:
        - Users
      summary: Verify the password of a user
      operationId: Users_verifyPassword
      description: |-
        Check that the user's password matches the supplied input.
        Useful for custom auth flows and re-verification.
      parameters:
        - description: The ID of the user for whom to verify the password
          name: user_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsersVerifyPasswordRequest'
      responses:
        '200':
          description: The provided password was correct.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersVerifyPasswordResponse'
        '400':
          description: The user does not have a password set.
        '404':
          description: The user does not exist.
        '422':
          description: The provided password was incorrect.
        '500':
          $ref: '#/components/responses/ClerkErrors'
  /users/{user_id}/verify_totp:
    post:
      tags:
        - Users
      summary: Verify a TOTP or backup code for a user
      operationId: Users_verifyTotp
      description: |-
        Verify that the provided TOTP or backup code is valid for the user.
        Verifying a backup code will result it in being consumed (i.e. it will
        become invalid).
        Useful for custom auth flows and re-verification.
      parameters:
        - description: The ID of the user for whom to verify the TOTP
          name: user_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsersVerifyTotpRequest'
      responses:
        '200':
          description: The provided TOTP or backup code was correct.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersVerifyTotpResponse'
        '400':
          description: The user does not have TOTP configured for their account.
        '404':
          description: The user does not exist.
        '422':
          description: The provided TOTP or backup code was incorrect.
        '500':
          $ref: '#/components/responses/ClerkErrors'
  /users/{user_id}/mfa:
    delete:
      tags:
        - Users
      summary: Disable a user's MFA methods
      operationId: Users_disableMfa
      description: >-
        Disable all of a user's MFA methods (e.g. OTP sent via SMS, TOTP on
        their authenticator app) at once.
      parameters:
        - description: The ID of the user whose MFA methods are to be disabled
          name: user_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersDisableMfaResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '500':
          $ref: '#/components/responses/ClerkErrors'
  /invitations:
    post:
      tags:
        - Invitations
      summary: Create an invitation
      operationId: Invitations_createNewInvitation
      description: >-
        Creates a new invitation for the given email address and sends the
        invitation email.

        Keep in mind that you cannot create an invitation if there is already
        one for the given email address.

        Also, trying to create an invitation for an email address that already
        exists in your application will result to an error.
      requestBody:
        description: Required parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvitationsCreateNewInvitationRequest'
      responses:
        '200':
          $ref: '#/components/responses/Invitation'
        '400':
          $ref: '#/components/responses/ClerkErrors'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    get:
      tags:
        - Invitations
      summary: List all invitations
      operationId: Invitations_listAllNonRevoked
      description: >-
        Returns all non-revoked invitations for your application, sorted by
        creation date
      parameters:
        - $ref: '#/components/parameters/LimitParameter'
        - $ref: '#/components/parameters/OffsetParameter'
        - description: Filter invitations based on their status
          in: query
          name: status
          required: false
          schema:
            type: string
            enum:
              - pending
              - accepted
              - revoked
      responses:
        '200':
          $ref: '#/components/responses/Invitation.List'
  /invitations/{invitation_id}/revoke:
    post:
      tags:
        - Invitations
      summary: Revokes an invitation
      operationId: Invitations_revokeInvitation
      description: >-
        Revokes the given invitation.

        Revoking an invitation will prevent the user from using the invitation
        link that was sent to them.

        However, it doesn't prevent the user from signing up if they follow the
        sign up flow.

        Only active (i.e. non-revoked) invitations can be revoked.
      parameters:
        - description: The ID of the invitation to be revoked
          name: invitation_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/Invitation.Revoked'
        '400':
          $ref: '#/components/responses/ClerkErrors'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
  /allowlist_identifiers:
    get:
      tags:
        - Allow-list / Block-list
      summary: List all identifiers on the allow-list
      operationId: AllowlistBlocklist_listAllowedIdentifiers
      description: Get a list of all identifiers allowed to sign up to an instance
      responses:
        '200':
          $ref: '#/components/responses/AllowlistIdentifier.List'
        '401':
          $ref: '#/components/responses/AuthenticationInvalid'
        '402':
          $ref: '#/components/responses/PaymentRequired'
    post:
      tags:
        - Allow-list / Block-list
      summary: Add identifier to the allow-list
      operationId: AllowlistBlocklist_addIdentifierToAllowList
      description: Create an identifier allowed to sign up to an instance
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/AllowlistBlocklistAddIdentifierToAllowListRequest
      responses:
        '200':
          $ref: '#/components/responses/AllowlistIdentifier'
        '400':
          $ref: '#/components/responses/ClerkErrors'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /allowlist_identifiers/{identifier_id}:
    delete:
      tags:
        - Allow-list / Block-list
      summary: Delete identifier from allow-list
      operationId: AllowlistBlocklist_deleteIdentifier
      description: Delete an identifier from the instance allow-list
      parameters:
        - description: The ID of the identifier to delete from the allow-list
          name: identifier_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/DeletedObject'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
  /blocklist_identifiers:
    get:
      tags:
        - Allow-list / Block-list
      summary: List all identifiers on the block-list
      operationId: AllowlistBlocklist_listBlockedIdentifiers
      description: >-
        Get a list of all identifiers which are not allowed to access an
        instance
      responses:
        '200':
          $ref: '#/components/responses/BlocklistIdentifier.List'
        '401':
          $ref: '#/components/responses/AuthenticationInvalid'
        '402':
          $ref: '#/components/responses/PaymentRequired'
    post:
      tags:
        - Allow-list / Block-list
      summary: Add identifier to the block-list
      operationId: AllowlistBlocklist_addIdentifier
      description: Create an identifier that is blocked from accessing an instance
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AllowlistBlocklistAddIdentifierRequest'
      responses:
        '200':
          $ref: '#/components/responses/BlocklistIdentifier'
        '400':
          $ref: '#/components/responses/ClerkErrors'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /blocklist_identifiers/{identifier_id}:
    delete:
      tags:
        - Allow-list / Block-list
      summary: Delete identifier from block-list
      operationId: AllowlistBlocklist_deleteIdentifierFromBlocklist
      description: Delete an identifier from the instance block-list
      parameters:
        - description: The ID of the identifier to delete from the block-list
          name: identifier_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/DeletedObject'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
  /beta_features/instance_settings:
    patch:
      tags:
        - Beta Features
      summary: Update instance settings
      operationId: BetaFeatures_updateInstanceSettings
      description: Updates the settings of an instance
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BetaFeaturesUpdateInstanceSettingsRequest'
      responses:
        '200':
          $ref: '#/components/responses/InstanceSettings'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /beta_features/domain:
    put:
      tags:
        - Beta Features
      summary: Update production instance domain
      operationId: BetaFeatures_updateProductionInstanceDomain
      description: >-
        Change the domain of a production instance.


        Changing the domain requires updating the [DNS
        records](https://clerk.com/docs/deployments/overview#dns-records)
        accordingly, deploying new [SSL
        certificates](https://clerk.com/docs/deployments/overview#deploy),
        updating your Social Connection's redirect URLs and setting the new keys
        in your code.


        WARNING: Changing your domain will invalidate all current user sessions
        (i.e. users will be logged out). Also, while your application is being
        deployed, a small downtime is expected to occur.
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/BetaFeaturesUpdateProductionInstanceDomainRequest
      responses:
        '202':
          description: Accepted
        '400':
          $ref: '#/components/responses/ClerkErrors'
        '422':
          $ref: '#/components/responses/ClerkErrors'
      deprecated: true
  /actor_tokens:
    post:
      tags:
        - Actor Tokens
      summary: Create actor token
      operationId: ActorTokens_createToken
      description: >-
        Create an actor token that can be used to impersonate the given user.

        The `actor` parameter needs to include at least a "sub" key whose value
        is the ID of the actor (impersonating) user.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActorTokensCreateTokenRequest'
      responses:
        '200':
          $ref: '#/components/responses/ActorToken'
        '400':
          $ref: '#/components/responses/ClerkErrors'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /actor_tokens/{actor_token_id}/revoke:
    post:
      tags:
        - Actor Tokens
      summary: Revoke actor token
      operationId: ActorTokens_revokeToken
      description: Revokes a pending actor token.
      parameters:
        - description: The ID of the actor token to be revoked.
          name: actor_token_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/ActorToken'
        '400':
          $ref: '#/components/responses/ClerkErrors'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
  /domains:
    get:
      tags:
        - Domains
      summary: List all instance domains
      operationId: Domains_getAllDomains
      description: >-
        Use this endpoint to get a list of all domains for an instance.

        The response will contain the primary domain for the instance and any
        satellite domains. Each domain in the response contains information
        about the URLs where Clerk operates and the required CNAME targets.
      responses:
        '200':
          $ref: '#/components/responses/Domains'
    post:
      tags:
        - Domains
      summary: Add a domain
      operationId: Domains_addSatelliteDomain
      description: >-
        Add a new domain for your instance.

        Useful in the case of multi-domain instances, allows adding satellite
        domains to an instance.

        The new domain must have a `name`. The domain name can contain the port
        for development instances, like `localhost:3000`.

        At the moment, instances can have only one primary domain, so the
        `is_satellite` parameter must be set to `true`.

        If you're planning to configure the new satellite domain to run behind a
        proxy, pass the `proxy_url` parameter accordingly.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainsAddSatelliteDomainRequest'
      responses:
        '200':
          $ref: '#/components/responses/Domain'
        '400':
          $ref: '#/components/responses/ClerkErrors'
        '402':
          $ref: '#/components/responses/ClerkErrors'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /domains/{domain_id}:
    delete:
      tags:
        - Domains
      summary: Delete a satellite domain
      operationId: Domains_deleteSatelliteDomain
      description: |-
        Deletes a satellite domain for the instance.
        It is currently not possible to delete the instance's primary domain.
      parameters:
        - description: >-
            The ID of the domain that will be deleted. Must be a satellite
            domain.
          in: path
          name: domain_id
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/DeletedObject'
        '403':
          $ref: '#/components/responses/ClerkErrors'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
    patch:
      tags:
        - Domains
      summary: Update a domain
      operationId: Domains_updateDomain
      description: >-
        The `proxy_url` can be updated only for production instances.

        Update one of the instance's domains. Both primary and satellite domains
        can be updated.

        If you choose to use Clerk via proxy, use this endpoint to specify the
        `proxy_url`.

        Whenever you decide you'd rather switch to DNS setup for Clerk, simply
        set `proxy_url`

        to `null` for the domain. When you update a production instance's
        primary domain name,

        you have to make sure that you've completed all the necessary setup
        steps for DNS and

        emails to work. Expect downtime otherwise. Updating a primary domain's
        name will also

        update the instance's home origin, affecting the default application
        paths.
      parameters:
        - description: The ID of the domain that will be updated.
          in: path
          name: domain_id
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainsUpdateDomainRequest'
      responses:
        '200':
          $ref: '#/components/responses/Domain'
        '400':
          $ref: '#/components/responses/ClerkErrors'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /instance:
    patch:
      tags:
        - Instance Settings
      summary: Update instance settings
      operationId: InstanceSettings_updateInstanceSettings
      description: Updates the settings of an instance
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/InstanceSettingsUpdateInstanceSettingsRequest
      responses:
        '204':
          description: Accepted
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /instance/restrictions:
    patch:
      tags:
        - Instance Settings
      summary: Update instance restrictions
      operationId: InstanceSettings_updateRestrictions
      description: Updates the restriction settings of an instance
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstanceSettingsUpdateRestrictionsRequest'
      responses:
        '200':
          $ref: '#/components/responses/InstanceRestrictions'
        '402':
          $ref: '#/components/responses/PaymentRequired'
  /instance/change_domain:
    post:
      tags:
        - Beta Features
      summary: Update production instance domain
      operationId: BetaFeatures_updateInstanceDomain
      description: >-
        Change the domain of a production instance.


        Changing the domain requires updating the [DNS
        records](https://clerk.com/docs/deployments/overview#dns-records)
        accordingly, deploying new [SSL
        certificates](https://clerk.com/docs/deployments/overview#deploy),
        updating your Social Connection's redirect URLs and setting the new keys
        in your code.


        WARNING: Changing your domain will invalidate all current user sessions
        (i.e. users will be logged out). Also, while your application is being
        deployed, a small downtime is expected to occur.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BetaFeaturesUpdateInstanceDomainRequest'
      responses:
        '202':
          description: Accepted
        '400':
          $ref: '#/components/responses/ClerkErrors'
        '422':
          $ref: '#/components/responses/ClerkErrors'
  /instance/organization_settings:
    patch:
      tags:
        - Instance Settings
      summary: Update instance organization settings
      operationId: InstanceSettings_updateOrganizationSettings
      description: Updates the organization settings of the instance
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/InstanceSettingsUpdateOrganizationSettingsRequest
      responses:
        '200':
          $ref: '#/components/responses/OrganizationSettings'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /webhooks/svix:
    post:
      tags:
        - Webhooks
      summary: Create a Svix app
      operationId: Webhooks_createSvixApp
      description: Create a Svix app and associate it with the current instance
      responses:
        '200':
          $ref: '#/components/responses/SvixURL'
        '400':
          $ref: '#/components/responses/ClerkErrors'
    delete:
      tags:
        - Webhooks
      summary: Delete a Svix app
      operationId: Webhooks_deleteSvixApp
      description: Delete a Svix app and disassociate it from the current instance
      responses:
        '204':
          description: Svix app was successfully deleted
        '400':
          $ref: '#/components/responses/ClerkErrors'
  /webhooks/svix_url:
    post:
      tags:
        - Webhooks
      summary: Create a Svix Dashboard URL
      operationId: Webhooks_generateSvixDashboardUrl
      description: >-
        Generate a new url for accessing the Svix's management dashboard for
        that particular instance
      responses:
        '200':
          $ref: '#/components/responses/SvixURL'
        '400':
          $ref: '#/components/responses/ClerkErrors'
  /jwt_templates:
    get:
      tags:
        - JWT Templates
      summary: List all templates
      operationId: JwtTemplates_listAllTemplates
      responses:
        '200':
          $ref: '#/components/responses/JWTTemplate.List'
    post:
      tags:
        - JWT Templates
      summary: Create a JWT template
      operationId: JwtTemplates_createTemplate
      description: Create a new JWT template
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JwtTemplatesCreateTemplateRequest'
      responses:
        '200':
          $ref: '#/components/responses/JWTTemplate'
        '400':
          $ref: '#/components/responses/ClerkErrors'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /jwt_templates/{template_id}:
    get:
      tags:
        - JWT Templates
      summary: Retrieve a template
      operationId: JwtTemplates_getTemplateDetails
      description: Retrieve the details of a given JWT template
      parameters:
        - description: JWT Template ID
          name: template_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/JWTTemplate'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
    patch:
      tags:
        - JWT Templates
      summary: Update a JWT template
      operationId: JwtTemplates_updateTemplateById
      description: Updates an existing JWT template
      parameters:
        - description: The ID of the JWT template to update
          name: template_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JwtTemplatesUpdateTemplateByIdRequest'
      responses:
        '200':
          $ref: '#/components/responses/JWTTemplate'
        '400':
          $ref: '#/components/responses/ClerkErrors'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    delete:
      tags:
        - JWT Templates
      summary: Delete a Template
      operationId: JwtTemplates_deleteTemplateById
      description: ''
      parameters:
        - description: JWT Template ID
          name: template_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/DeletedObject'
        '403':
          $ref: '#/components/responses/AuthorizationInvalid'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
  /organizations:
    get:
      tags:
        - Organizations
      summary: Get a list of organizations for an instance
      operationId: Organizations_listSortedByCreationDate
      description: >-
        This request returns the list of organizations for an instance.

        Results can be paginated using the optional `limit` and `offset` query
        parameters.

        The organizations are ordered by descending creation date.

        Most recent organizations will be returned first.
      parameters:
        - $ref: '#/components/parameters/LimitParameter'
        - $ref: '#/components/parameters/OffsetParameter'
        - description: >-
            Flag to denote whether the member counts of each organization should
            be included in the response or not.
          in: query
          required: false
          name: include_members_count
          schema:
            type: boolean
        - description: >-
            Returns organizations with ID, name, or slug that match the given
            query.

            Uses exact match for organization ID and partial match for name and
            slug.
          in: query
          required: false
          name: query
          schema:
            type: string
        - description: >-
            Allows to return organizations in a particular order.

            At the moment, you can order the returned organizations either by
            their `name`, `created_at` or `members_count`.

            In order to specify the direction, you can use the `+/-` symbols
            prepended in the property to order by.

            For example, if you want organizations to be returned in descending
            order according to their `created_at` property, you can use
            `-created_at`.

            If you don't use `+` or `-`, then `+` is implied.

            Defaults to `-created_at`.
          in: query
          name: order_by
          schema:
            type: string
            default: '-created_at'
          required: false
      responses:
        '200':
          $ref: '#/components/responses/Organizations'
        '400':
          $ref: '#/components/responses/ClerkErrors'
        '403':
          $ref: '#/components/responses/AuthorizationInvalid'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    post:
      tags:
        - Organizations
      summary: Create an organization
      operationId: Organizations_createNewOrganization
      description: >-
        Creates a new organization with the given name for an instance.

        In order to successfully create an organization you need to provide the
        ID of the User who will become the organization administrator.

        You can specify an optional slug for the new organization.

        If provided, the organization slug can contain only lowercase
        alphanumeric characters (letters and digits) and the dash "-".

        Organization slugs must be unique for the instance.

        You can provide additional metadata for the organization and set any
        custom attribute you want.

        Organizations support private and public metadata.

        Private metadata can only be accessed from the Backend API.

        Public metadata can be accessed from the Backend API, and are read-only
        from the Frontend API.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationsCreateNewOrganizationRequest'
      responses:
        '200':
          $ref: '#/components/responses/Organization'
        '400':
          $ref: '#/components/responses/ClerkErrors'
        '403':
          $ref: '#/components/responses/AuthorizationInvalid'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /organizations/{organization_id}:
    get:
      tags:
        - Organizations
      summary: Retrieve an organization by ID or slug
      operationId: Organizations_getByIdOrSlug
      description: >-
        Fetches the organization whose ID or slug matches the provided
        `id_or_slug` URL query parameter.
      parameters:
        - description: The ID or slug of the organization
          in: path
          name: organization_id
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/Organization'
        '403':
          $ref: '#/components/responses/AuthorizationInvalid'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
    patch:
      tags:
        - Organizations
      summary: Update an organization
      operationId: Organizations_updateOrganization
      description: Updates an existing organization
      parameters:
        - description: The ID of the organization to update
          in: path
          name: organization_id
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationsUpdateOrganizationRequest'
      responses:
        '200':
          $ref: '#/components/responses/Organization'
        '402':
          $ref: '#/components/responses/ResourceNotFound'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    delete:
      tags:
        - Organizations
      summary: Delete an organization
      operationId: Organizations_deleteOrganization
      description: >-
        Deletes the given organization.

        Please note that deleting an organization will also delete all
        memberships and invitations.

        This is not reversible.
      parameters:
        - description: The ID of the organization to delete
          in: path
          name: organization_id
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/DeletedObject'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
  /organizations/{organization_id}/metadata:
    patch:
      tags:
        - Organizations
      summary: Merge and update metadata for an organization
      operationId: Organizations_mergeOrganizationMetadata
      description: >-
        Update organization metadata attributes by merging existing values with
        the provided parameters.

        Metadata values will be updated via a deep merge.

        Deep meaning that any nested JSON objects will be merged as well.

        You can remove metadata keys at any level by setting their value to
        `null`.
      parameters:
        - description: >-
            The ID of the organization for which metadata will be merged or
            updated
          name: organization_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/OrganizationsMergeOrganizationMetadataRequest
      responses:
        '200':
          $ref: '#/components/responses/Organization'
        '400':
          $ref: '#/components/responses/ClerkErrors'
        '401':
          $ref: '#/components/responses/AuthenticationInvalid'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /organizations/{organization_id}/logo:
    put:
      tags:
        - Organizations
      summary: Upload a logo for the organization
      operationId: Organizations_updateOrganizationLogo
      description: >-
        Set or replace an organization's logo, by uploading an image file.

        This endpoint uses the `multipart/form-data` request content type and
        accepts a file of image type.

        The file size cannot exceed 10MB.

        Only the following file content types are supported: `image/jpeg`,
        `image/png`, `image/gif`, `image/webp`, `image/x-icon`,
        `image/vnd.microsoft.icon`.
      parameters:
        - description: The ID of the organization for which to upload a logo
          name: organization_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OrganizationsUpdateOrganizationLogoRequest'
      responses:
        '200':
          $ref: '#/components/responses/OrganizationWithLogo'
        '400':
          $ref: '#/components/responses/ClerkErrors'
        '403':
          $ref: '#/components/responses/AuthorizationInvalid'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '413':
          $ref: '#/components/responses/ClerkErrors'
    delete:
      tags:
        - Organizations
      operationId: Organizations_removeLogo
      description: Delete the organization's logo.
      parameters:
        - description: The ID of the organization for which the logo will be deleted.
          name: organization_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/Organization'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
  /organizations/{organization_id}/invitations:
    post:
      tags:
        - Organization Invitations
      summary: Create and send an organization invitation
      operationId: OrganizationInvitations_createAndSend
      description: >-
        Creates a new organization invitation and sends an email to the provided
        `email_address` with a link to accept the invitation and join the
        organization.

        You can specify the `role` for the invited organization member.


        New organization invitations get a "pending" status until they are
        revoked by an organization administrator or accepted by the invitee.


        The request body supports passing an optional `redirect_url` parameter.

        When the invited user clicks the link to accept the invitation, they
        will be redirected to the URL provided.

        Use this parameter to implement a custom invitation acceptance flow.


        You must specify the ID of the user that will send the invitation with
        the `inviter_user_id` parameter.

        That user must be a member with administrator privileges in the
        organization.

        Only "admin" members can create organization invitations.


        You can optionally provide public and private metadata for the
        organization invitation.

        The public metadata are visible by both the Frontend and the Backend
        whereas the private ones only by the Backend.

        When the organization invitation is accepted, the metadata will be
        transferred to the newly created organization membership.
      parameters:
        - description: The ID of the organization for which to send the invitation
          in: path
          required: true
          name: organization_id
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationInvitationsCreateAndSendRequest'
      responses:
        '200':
          $ref: '#/components/responses/OrganizationInvitation'
        '400':
          $ref: '#/components/responses/ClerkErrors'
        '403':
          $ref: '#/components/responses/AuthorizationInvalid'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    get:
      tags:
        - Organization Invitations
      summary: Get a list of organization invitations
      operationId: OrganizationInvitations_list
      description: >-
        This request returns the list of organization invitations.

        Results can be paginated using the optional `limit` and `offset` query
        parameters.

        You can filter them by providing the 'status' query parameter, that
        accepts multiple values.

        The organization invitations are ordered by descending creation date.

        Most recent invitations will be returned first.

        Any invitations created as a result of an Organization Domain are not
        included in the results.
      parameters:
        - description: The organization ID.
          in: path
          required: true
          name: organization_id
          schema:
            type: string
        - $ref: '#/components/parameters/LimitParameter'
        - $ref: '#/components/parameters/OffsetParameter'
        - description: Filter organization invitations based on their status
          in: query
          name: status
          required: false
          schema:
            type: string
            enum:
              - pending
              - accepted
              - revoked
      responses:
        '200':
          $ref: '#/components/responses/OrganizationInvitations'
        '400':
          $ref: '#/components/responses/ClerkErrors'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
  /organizations/{organization_id}/invitations/bulk:
    post:
      tags:
        - Organization Invitations
      summary: Bulk create and send organization invitations
      operationId: OrganizationInvitations_bulkCreateAndSend
      description: >-
        Creates new organization invitations in bulk and sends out emails to the
        provided email addresses with a link to accept the invitation and join
        the organization.

        You can specify a different `role` for each invited organization member.

        New organization invitations get a "pending" status until they are
        revoked by an organization administrator or accepted by the invitee.

        The request body supports passing an optional `redirect_url` parameter
        for each invitation.

        When the invited user clicks the link to accept the invitation, they
        will be redirected to the provided URL.

        Use this parameter to implement a custom invitation acceptance flow.

        You must specify the ID of the user that will send the invitation with
        the `inviter_user_id` parameter. Each invitation

        can have a different inviter user.

        Inviter users must be members with administrator privileges in the
        organization.

        Only "admin" members can create organization invitations.

        You can optionally provide public and private metadata for each
        organization invitation. The public metadata are visible

        by both the Frontend and the Backend, whereas the private metadata are
        only visible by the Backend.

        When the organization invitation is accepted, the metadata will be
        transferred to the newly created organization membership.
      parameters:
        - description: The organization ID.
          in: path
          required: true
          name: organization_id
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/OrganizationInvitationsBulkCreateAndSendRequest
      responses:
        '200':
          $ref: '#/components/responses/OrganizationInvitations'
        '400':
          $ref: '#/components/responses/ClerkErrors'
        '403':
          $ref: '#/components/responses/AuthorizationInvalid'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /organizations/{organization_id}/invitations/pending:
    get:
      tags:
        - Organization Invitations
      summary: Get a list of pending organization invitations
      operationId: OrganizationInvitations_listPending
      description: >-
        This request returns the list of organization invitations with "pending"
        status.

        These are the organization invitations that can still be used to join
        the organization, but have not been accepted by the invited user yet.

        Results can be paginated using the optional `limit` and `offset` query
        parameters.

        The organization invitations are ordered by descending creation date.

        Most recent invitations will be returned first.

        Any invitations created as a result of an Organization Domain are not
        included in the results.
      parameters:
        - description: The organization ID.
          in: path
          required: true
          name: organization_id
          schema:
            type: string
        - $ref: '#/components/parameters/LimitParameter'
        - $ref: '#/components/parameters/OffsetParameter'
      responses:
        '200':
          $ref: '#/components/responses/OrganizationInvitations'
        '400':
          $ref: '#/components/responses/ClerkErrors'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
      deprecated: true
  /organizations/{organization_id}/invitations/{invitation_id}:
    get:
      tags:
        - Organization Invitations
      summary: Retrieve an organization invitation by ID
      operationId: OrganizationInvitations_getById
      description: Use this request to get an existing organization invitation by ID.
      parameters:
        - description: The organization ID.
          in: path
          required: true
          name: organization_id
          schema:
            type: string
        - description: The organization invitation ID.
          in: path
          required: true
          name: invitation_id
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/OrganizationInvitation'
        '400':
          $ref: '#/components/responses/ClerkErrors'
        '403':
          $ref: '#/components/responses/AuthorizationInvalid'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
  /organizations/{organization_id}/invitations/{invitation_id}/revoke:
    post:
      tags:
        - Organization Invitations
      summary: Revoke a pending organization invitation
      operationId: OrganizationInvitations_revokeInvitation
      description: >-
        Use this request to revoke a previously issued organization invitation.

        Revoking an organization invitation makes it invalid; the invited user
        will no longer be able to join the organization with the revoked
        invitation.

        Only organization invitations with "pending" status can be revoked.

        The request needs the `requesting_user_id` parameter to specify the user
        which revokes the invitation.

        Only users with "admin" role can revoke invitations.
      parameters:
        - description: The organization ID.
          in: path
          required: true
          name: organization_id
          schema:
            type: string
        - description: The organization invitation ID.
          in: path
          required: true
          name: invitation_id
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/OrganizationInvitationsRevokeInvitationRequest
      responses:
        '200':
          $ref: '#/components/responses/OrganizationInvitation'
        '400':
          $ref: '#/components/responses/ClerkErrors'
        '403':
          $ref: '#/components/responses/AuthorizationInvalid'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
  /organizations/{organization_id}/memberships:
    post:
      tags:
        - Organization Memberships
      summary: Create a new organization membership
      operationId: OrganizationMemberships_addUserToOrganization
      description: >-
        Adds a user as a member to the given organization.

        Only users in the same instance as the organization can be added as
        members.
      parameters:
        - description: The ID of the organization where the new membership will be created
          in: path
          required: true
          name: organization_id
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/OrganizationMembershipsAddUserToOrganizationRequest
      responses:
        '200':
          $ref: '#/components/responses/OrganizationMembership'
        '400':
          $ref: '#/components/responses/ClerkErrors'
        '403':
          $ref: '#/components/responses/AuthorizationInvalid'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    get:
      tags:
        - Organization Memberships
      summary: Get a list of all members of an organization
      operationId: OrganizationMemberships_getAllMembers
      description: Retrieves all user memberships for the given organization
      parameters:
        - description: The organization ID.
          in: path
          required: true
          name: organization_id
          schema:
            type: string
        - $ref: '#/components/parameters/LimitParameter'
        - $ref: '#/components/parameters/OffsetParameter'
        - description: >-
            Sorts organizations memberships by phone_number, email_address,
            created_at, first_name, last_name or username.

            By prepending one of those values with + or -,

            we can choose to sort in ascending (ASC) or descending (DESC)
            order."
          in: query
          required: false
          name: order_by
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/OrganizationMemberships'
        '401':
          $ref: '#/components/responses/AuthenticationInvalid'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /organizations/{organization_id}/memberships/{user_id}:
    patch:
      tags:
        - Organization Memberships
      summary: Update an organization membership
      operationId: OrganizationMemberships_updateMembershipProperties
      description: Updates the properties of an existing organization membership
      parameters:
        - description: The ID of the organization the membership belongs to
          in: path
          required: true
          name: organization_id
          schema:
            type: string
        - description: The ID of the user that this membership belongs to
          in: path
          required: true
          name: user_id
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/OrganizationMembershipsUpdateMembershipPropertiesRequest
      responses:
        '200':
          $ref: '#/components/responses/OrganizationMembership'
        '400':
          $ref: '#/components/responses/ClerkErrors'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    delete:
      tags:
        - Organization Memberships
      summary: Remove a member from an organization
      operationId: OrganizationMemberships_removeUserFromOrganization
      description: Removes the given membership from the organization
      parameters:
        - description: The ID of the organization the membership belongs to
          in: path
          required: true
          name: organization_id
          schema:
            type: string
        - description: The ID of the user that this membership belongs to
          in: path
          required: true
          name: user_id
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/OrganizationMembership'
        '400':
          $ref: '#/components/responses/ClerkErrors'
        '401':
          $ref: '#/components/responses/AuthenticationInvalid'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
  /organizations/{organization_id}/memberships/{user_id}/metadata:
    patch:
      tags:
        - Organization Memberships
      summary: Merge and update organization membership metadata
      operationId: OrganizationMemberships_updateMembershipMetadata
      description: >-
        Update an organization membership's metadata attributes by merging
        existing values with the provided parameters.

        Metadata values will be updated via a deep merge. Deep means that any
        nested JSON objects will be merged as well.

        You can remove metadata keys at any level by setting their value to
        `null`.
      parameters:
        - description: The ID of the organization the membership belongs to
          in: path
          required: true
          name: organization_id
          schema:
[...]
