openapi: 3.0.0
info:
  title: Crusoe Cloud API Gateway
  description: >-
    The API Gateway exposes all publicly available API endpoints for Crusoe
    Cloud products.
  version: v1alpha5
  x-konfig-ignore:
    potential-incorrect-type: true
servers:
  - url: https://api.crusoecloud.com/v1alpha5
tags:
  - name: VMs
  - name: Projects
  - name: Instance-Groups
  - name: Load-Balancers
  - name: VPC-Firewall-Rules
  - name: VPC-Networks
  - name: VPC-Subnets
  - name: Disks
  - name: Entities
  - name: Instance-Templates
  - name: IB-Partitions
  - name: Snapshots
  - name: Usage
  - name: Identities
  - name: SSH-Keys
  - name: Tokens
  - name: Images
  - name: VM-Operations
  - name: IB-Networks
  - name: Load-Balancer-Operations
  - name: VPC-Firewall-Rule-Operations
  - name: VPC-Network-Operations
  - name: VPC-Subnet-Operations
  - name: Disk-Operations
  - name: Snapshot-Operations
  - name: Capacities
  - name: Feature-Flags
  - name: Locations
  - name: Billing
  - name: Prospects
paths:
  /capacities:
    get:
      tags:
        - Capacities
      summary: >-
        Lists available Crusoe Cloud capacity with optional filters on location
        and product name.
      operationId: Capacities_listAvailable
      parameters:
        - example: '[a100.1x, a100.2x]'
          x-go-name: ProductNames
          name: product_name
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - example: '[us-northcentral1-a, us-northcentral1-b]'
          x-go-name: Locations
          name: location
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          $ref: '#/components/responses/capacitiesResponse'
        '400':
          $ref: '#/components/responses/badReqError'
        '401':
          $ref: '#/components/responses/authError'
        '403':
          $ref: '#/components/responses/permissionsError'
        '500':
          $ref: '#/components/responses/serverError'
  /compute/images:
    get:
      tags:
        - Images
      summary: Lists all VM images available for use.
      operationId: Images_listAvailableVMImages
      responses:
        '200':
          $ref: '#/components/responses/listImagesResponse'
        '401':
          $ref: '#/components/responses/authError'
        '500':
          $ref: '#/components/responses/serverError'
  /compute/images/{image_id}:
    get:
      tags:
        - Images
      summary: Retrieve details about a VM image.
      operationId: Images_getDetails
      parameters:
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: ImageID
          name: image_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/getImageResponse'
        '400':
          $ref: '#/components/responses/badReqError'
        '401':
          $ref: '#/components/responses/authError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/serverError'
  /featureflags:
    get:
      tags:
        - Feature-Flags
      summary: Get feature flags for the currently logged in user.
      operationId: FeatureFlags_getUserFlags
      description: |-
        A successful response from this resource will contain a map of
        all feature flags and the value assigned to each of them for the user.
      responses:
        '200':
          $ref: '#/components/responses/featureFlagsGetResponse'
        '401':
          $ref: '#/components/responses/authError'
        '500':
          $ref: '#/components/responses/serverError'
  /locations:
    get:
      tags:
        - Locations
      summary: Lists all Crusoe Cloud locations usable for resource hosting.
      operationId: Locations_listUsableLocations
      responses:
        '200':
          $ref: '#/components/responses/locationsResponse'
        '401':
          $ref: '#/components/responses/authError'
        '500':
          $ref: '#/components/responses/serverError'
  /organizations/billing/intent:
    get:
      tags:
        - Billing
      summary: Retrieve an intent to facilitate a Stripe action.
      operationId: Billing_getIntent
      parameters:
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: OrgID
          name: org_id
          in: query
          required: true
          schema:
            type: string
        - x-go-name: Type
          name: intent_type
          in: query
          required: true
          schema:
            type: string
            enum:
              - dashboard
      responses:
        '200':
          $ref: '#/components/responses/billingIntentGetResponse'
        '400':
          $ref: '#/components/responses/badReqError'
        '401':
          $ref: '#/components/responses/authError'
        '403':
          $ref: '#/components/responses/permissionsError'
        '500':
          $ref: '#/components/responses/serverError'
  /organizations/entities:
    get:
      tags:
        - Entities
      summary: >-
        Retrieve details about all active organizations the logged in user
        belongs to.
      operationId: Entities_getDetailsAllActive
      responses:
        '200':
          $ref: '#/components/responses/organizationsGetResponse'
        '401':
          $ref: '#/components/responses/authError'
        '500':
          $ref: '#/components/responses/serverError'
    put:
      tags:
        - Entities
      summary: Update details for an organization that the logged in user owns.
      operationId: Entities_updateOrganizationDetails
      description: >-
        A successful response from this resource will contain the updated
        organization details.
      parameters:
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: OrgID
          name: org_id
          in: query
          required: true
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/EntitiesPutPostRequest'
      responses:
        '200':
          $ref: '#/components/responses/organizationsPutPostResponse'
        '400':
          $ref: '#/components/responses/badReqError'
        '401':
          $ref: '#/components/responses/authError'
        '403':
          $ref: '#/components/responses/permissionsError'
        '500':
          $ref: '#/components/responses/serverError'
    post:
      tags:
        - Entities
      summary: Create a new organization owned by the logged in user.
      operationId: Entities_createNewOrganization
      description: >-
        A successful response from this resource will contain the json encoded
        organization details.
      requestBody:
        $ref: '#/components/requestBodies/EntitiesPutPostRequest'
      responses:
        '200':
          $ref: '#/components/responses/organizationsPutPostResponse'
        '401':
          $ref: '#/components/responses/authError'
        '500':
          $ref: '#/components/responses/serverError'
    delete:
      tags:
        - Entities
      summary: Delete an organization owned by the logged in user.
      operationId: Entities_removeOrganization
      description: >-
        Delete operations will cascade to projects and VMs, and all members will
        be removed from the organization.
      parameters:
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: OrgID
          name: org_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/emptyResponse'
        '401':
          $ref: '#/components/responses/authError'
        '403':
          $ref: '#/components/responses/permissionsError'
        '500':
          $ref: '#/components/responses/serverError'
  /organizations/projects:
    get:
      tags:
        - Projects
      summary: >-
        Retrieve details about projects that the logged in user belongs to or
        owns.
      operationId: Projects_getDetails
      description: >-
        If querying for projects within an organization, the logged in user must
        be the owner of the organization.
      parameters:
        - example: ee2a6bc3-aed5-4756-8995-9990a53d3a17
          x-go-name: OrgID
          name: org_id
          in: query
          schema:
            type: string
        - example: default
          x-go-name: ProjectName
          name: project_name
          in: query
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/listProjectsResponse'
        '401':
          $ref: '#/components/responses/authError'
        '500':
          $ref: '#/components/responses/serverError'
    put:
      tags:
        - Projects
      summary: Update details for a project that the logged in user owns.
      operationId: Projects_updateDetails
      description: >-
        Requests to this resource must contain the json-encoded representation
        of the changes they want to make to the project.

        Currently only the project's name can be changed.
      parameters:
        - example: f058d0db-2fa4-4cf2-8cf1-dfbcfe05a814
          x-go-name: ProjectID
          name: project_id
          in: query
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectsPutRequest'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/projectsPutPostResponse'
        '400':
          $ref: '#/components/responses/badReqError'
        '401':
          $ref: '#/components/responses/authError'
        '403':
          $ref: '#/components/responses/permissionsError'
        '500':
          $ref: '#/components/responses/serverError'
    post:
      tags:
        - Projects
      summary: Create a new project that will be owned by the logged in user.
      operationId: Projects_createOwnedProject
      description: >-
        The logged in user must have the permission to create projects within
        the organization.

        A successful response from this resource contains details of the created
        project.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectsPostRequest'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/projectsPutPostResponse'
        '400':
          $ref: '#/components/responses/badReqError'
        '401':
          $ref: '#/components/responses/authError'
        '403':
          $ref: '#/components/responses/permissionsError'
        '500':
          $ref: '#/components/responses/serverError'
  /organizations/projects/{project_id}:
    get:
      tags:
        - Projects
      summary: >-
        Retrieve details about a project that the logged in user belongs to or
        owns.
      operationId: Projects_getDetails
      parameters:
        - example: ee2a6bc3-aed5-4756-8995-9990a53d3a17
          x-go-name: ProjectID
          name: project_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/getProjectResponse'
        '401':
          $ref: '#/components/responses/authError'
        '500':
          $ref: '#/components/responses/serverError'
    delete:
      tags:
        - Projects
      summary: Delete a project that the logged in user owns.
      operationId: Projects_deleteOwnedProject
      description: Delete operations cascade to VMs created under that project.
      parameters:
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: ProjectID
          name: project_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/emptyResponse'
        '401':
          $ref: '#/components/responses/authError'
        '403':
          $ref: '#/components/responses/permissionsError'
        '500':
          $ref: '#/components/responses/serverError'
  /organizations/prospects:
    post:
      tags:
        - Prospects
      summary: Create a new prospective customer in Crusoe Cloud.
      operationId: Prospects_createNewProspect
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProspectPostRequest'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/prospectPostResponse'
        '400':
          $ref: '#/components/responses/badReqError'
        '500':
          $ref: '#/components/responses/serverError'
  /organizations/usage:
    get:
      tags:
        - Usage
      summary: Get project-level usage for products in Crusoe Cloud.
      operationId: Usage_getProjectUsage
      parameters:
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: OrgID
          name: org_id
          in: query
          required: true
          schema:
            type: string
        - example:
            - d8f58dfd-dd86-4ee4-8f01-643e6d0f15bb
          x-go-name: Projects
          name: projects
          in: query
          required: true
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - example:
            - persistent-ssd
            - a40.1x
          x-go-name: ResourceTypes
          name: resource_types
          in: query
          required: true
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - example:
            - us-east1
            - us-northcentral1
          x-go-name: Regions
          name: regions
          in: query
          required: true
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - example: '"2022-07-01"'
          x-go-name: StartDate
          name: start_date
          in: query
          required: true
          schema:
            type: string
        - example: '"2023-08-08"'
          x-go-name: EndDate
          name: end_date
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/usageGetResponse'
        '400':
          $ref: '#/components/responses/badReqError'
        '500':
          $ref: '#/components/responses/serverError'
  /organizations/usage/export:
    get:
      tags:
        - Usage
      summary: Get resource-level usage for products in Crusoe Cloud.
      operationId: Usage_exportResourceUsage
      parameters:
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: OrgID
          name: org_id
          in: query
          required: true
          schema:
            type: string
        - example:
            - d8f58dfd-dd86-4ee4-8f01-643e6d0f15bb
          x-go-name: Projects
          name: projects
          in: query
          required: true
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - example:
            - d8f58dfd-dd86-4ee4-8f01-643e6d0f15bb
          x-go-name: Resources
          name: resources
          in: query
          required: true
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - example:
            - persistent-ssd
            - a40.1x
          x-go-name: ResourceTypes
          name: resource_types
          in: query
          required: true
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - example:
            - us-east1
            - us-northcentral1
          x-go-name: Regions
          name: regions
          in: query
          required: true
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - example: '"2022-07-01"'
          x-go-name: StartDate
          name: start_date
          in: query
          required: true
          schema:
            type: string
        - example: '"2023-08-08"'
          x-go-name: EndDate
          name: end_date
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/usageExportGetResponse'
        '400':
          $ref: '#/components/responses/badReqError'
        '500':
          $ref: '#/components/responses/serverError'
  /organizations/usage/options:
    get:
      tags:
        - Usage
      summary: Get options which exist for filters for /usage and /usage/export routes.
      operationId: Usage_getOptionFilters
      parameters:
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: OrgID
          name: org_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/usageOptionsGetResponse'
        '500':
          $ref: '#/components/responses/serverError'
  /projects/{project_id}/compute/instance-groups:
    get:
      tags:
        - Instance-Groups
      summary: Lists all instance groups.
      operationId: InstanceGroups_listAll
      parameters:
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: ProjectID
          name: project_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/listInstanceGroupsResponse'
        '401':
          $ref: '#/components/responses/authError'
        '500':
          $ref: '#/components/responses/serverError'
    post:
      tags:
        - Instance-Groups
      summary: Create an instance group.
      operationId: InstanceGroups_createInstanceGroup
      parameters:
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: ProjectID
          name: project_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstanceGroupPostRequest'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/createInstanceGroupResponse'
        '400':
          $ref: '#/components/responses/badReqError'
        '401':
          $ref: '#/components/responses/authError'
        '500':
          $ref: '#/components/responses/serverError'
  /projects/{project_id}/compute/instance-groups/{instance_group_id}:
    get:
      tags:
        - Instance-Groups
      summary: Retrieve details about an instance group.
      operationId: InstanceGroups_getDetails
      parameters:
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: InstanceGroupID
          name: instance_group_id
          in: path
          required: true
          schema:
            type: string
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: ProjectID
          name: project_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/getInstanceGroupResponse'
        '400':
          $ref: '#/components/responses/badReqError'
        '401':
          $ref: '#/components/responses/authError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/serverError'
    delete:
      tags:
        - Instance-Groups
      summary: Delete an instance group.
      operationId: InstanceGroups_removeInstanceGroup
      parameters:
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: InstanceGroupID
          name: instance_group_id
          in: path
          required: true
          schema:
            type: string
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: ProjectID
          name: project_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/emptyResponse'
        '400':
          $ref: '#/components/responses/badReqError'
        '401':
          $ref: '#/components/responses/authError'
        '500':
          $ref: '#/components/responses/serverError'
    patch:
      tags:
        - Instance-Groups
      summary: Update an instance group.
      operationId: InstanceGroups_updateInstanceGroup
      parameters:
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: InstanceGroupID
          name: instance_group_id
          in: path
          required: true
          schema:
            type: string
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: ProjectID
          name: project_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstanceGroupPatchRequest'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/patchInstanceGroupResponse'
        '400':
          $ref: '#/components/responses/badReqError'
        '401':
          $ref: '#/components/responses/authError'
        '500':
          $ref: '#/components/responses/serverError'
  /projects/{project_id}/compute/instance-templates:
    get:
      tags:
        - Instance-Templates
      summary: Lists all VM instance templates available for use.
      operationId: InstanceTemplates_listAvailableVmTemplates
      parameters:
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: ProjectID
          name: project_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/listInstanceTemplatesResponse'
        '401':
          $ref: '#/components/responses/authError'
        '500':
          $ref: '#/components/responses/serverError'
    post:
      tags:
        - Instance-Templates
      summary: Create a VM instance template, for use in bulk VM creation.
      operationId: InstanceTemplates_createVmTemplate
      parameters:
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: ProjectID
          name: project_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstanceTemplatePostRequestV1Alpha5'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/createInstanceTemplateResponse'
        '400':
          $ref: '#/components/responses/badReqError'
        '401':
          $ref: '#/components/responses/authError'
        '500':
          $ref: '#/components/responses/serverError'
  /projects/{project_id}/compute/instance-templates/{instance_template_id}:
    get:
      tags:
        - Instance-Templates
      summary: Retrieve details about a VM instance template.
      operationId: InstanceTemplates_getDetails
      parameters:
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: InstanceTemplateID
          name: instance_template_id
          in: path
          required: true
          schema:
            type: string
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: ProjectID
          name: project_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/getInstanceTemplateResponse'
        '400':
          $ref: '#/components/responses/badReqError'
        '401':
          $ref: '#/components/responses/authError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/serverError'
    delete:
      tags:
        - Instance-Templates
      summary: Delete a VM instance template.
      operationId: InstanceTemplates_deleteVmTemplate
      parameters:
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: InstanceTemplateID
          name: instance_template_id
          in: path
          required: true
          schema:
            type: string
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: ProjectID
          name: project_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/emptyResponse'
        '400':
          $ref: '#/components/responses/badReqError'
        '401':
          $ref: '#/components/responses/authError'
        '500':
          $ref: '#/components/responses/serverError'
  /projects/{project_id}/compute/vms/bulk-instances:
    post:
      tags:
        - VMs
      summary: Create new VM instances owned by the logged in user.
      operationId: VMs_createBulkInstances
      parameters:
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: ProjectID
          name: project_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkInstancePostRequestV1Alpha5'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/asyncOperationResponse'
        '400':
          $ref: '#/components/responses/badReqError'
        '401':
          $ref: '#/components/responses/authError'
        '403':
          $ref: '#/components/responses/permissionsError'
        '500':
          $ref: '#/components/responses/serverError'
  /projects/{project_id}/compute/vms/instances:
    get:
      tags:
        - VMs
      summary: >-
        Retrieve details about all VMs that the logged in user owns or has
        access to.
      operationId: VMs_getAllOwnedInstances
      parameters:
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: ProjectID
          name: project_id
          in: path
          required: true
          schema:
            type: string
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: IDs
          name: ids
          in: query
          schema:
            type: string
        - example: my-first-vm
          x-go-name: Names
          name: names
          in: query
          schema:
            type: string
        - example: a40.2x,a100.8x
          x-go-name: Types
          name: types
          in: query
          schema:
            type: string
        - example: us-east1,us-northcentral1
          x-go-name: Locations
          name: locations
          in: query
          schema:
            type: string
        - example: STATE_RUNNING
          x-go-name: States
          name: states
          in: query
          schema:
            type: string
        - example: '20'
          x-go-name: Limit
          name: limit
          in: query
          schema:
            type: string
        - example: name
          x-go-name: Sort
          name: sort
          in: query
          schema:
            type: string
        - example: bXktZmlyc3Qtdm0
          x-go-name: NextToken
          name: next_token
          in: query
          schema:
            type: string
        - example: bXktZmlyc3Qtdm0
          x-go-name: PrevToken
          name: prev_token
          in: query
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/listInstancesResponse'
        '401':
          $ref: '#/components/responses/authError'
        '500':
          $ref: '#/components/responses/serverError'
    post:
      tags:
        - VMs
      summary: Create a new VM instance owned by the logged in user.
      operationId: VMs_createInstance
      parameters:
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: ProjectID
          name: project_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstancesPostRequestV1Alpha5'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/asyncOperationResponse'
        '400':
          $ref: '#/components/responses/badReqError'
        '401':
          $ref: '#/components/responses/authError'
        '403':
          $ref: '#/components/responses/permissionsError'
        '500':
          $ref: '#/components/responses/serverError'
  /projects/{project_id}/compute/vms/instances/operations:
    get:
      tags:
        - VM-Operations
      summary: Get status of asynchronous operations
      operationId: VmOperations_getStatusOfOperations
      description: >-
        This resource retrieves information about the status of asynchronous
        operations initiated by

        the instances resource. All operations that are either in-flight or
        completed but not yet

        queried will be returned.
      parameters:
        - example: 452580d7-41d1-4b63-b4d7-4e4e21e95f96
          x-go-name: ResourceID
          name: resource_id
          in: query
          schema:
            type: string
        - example:
            - IN_PROGRESS
          x-go-name: State
          name: state
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - example: '2021-12-03T19:58:34Z'
          x-go-name: LowerTimeBound
          name: lower_time_bound
          in: query
          schema:
            type: string
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: ProjectID
          name: project_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/listOperationsResponse'
        '401':
          $ref: '#/components/responses/authError'
        '403':
          $ref: '#/components/responses/permissionsError'
        '500':
          $ref: '#/components/responses/serverError'
  /projects/{project_id}/compute/vms/instances/operations/{operation_id}:
    get:
      tags:
        - VM-Operations
      summary: Get the status of a single asynchronous operation
      operationId: VmOperations_getStatusOfOperation
      description: >-
        This resource retrieves information about the status of an asynchronous
        operation initiated by

        the instances resource. Only information about the operation specified
        in the path will be returned,

        or an HTTP 403 will be returned if the operation does not exist, was not
        initiated by the logged

        in user, or has expired.
      parameters:
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: ProjectID
          name: project_id
          in: path
          required: true
          schema:
            type: string
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: OperationID
          name: operation_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/getOperationResponse'
        '400':
          $ref: '#/components/responses/badReqError'
        '401':
          $ref: '#/components/responses/authError'
        '403':
          $ref: '#/components/responses/permissionsError'
        '500':
          $ref: '#/components/responses/serverError'
  /projects/{project_id}/compute/vms/instances/{vm_id}:
    get:
      tags:
        - VMs
      summary: Retrieve details about a particular VM.
      operationId: VMs_getDetails
      parameters:
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: ProjectID
          name: project_id
          in: path
          required: true
          schema:
            type: string
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: VMID
          name: vm_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/getInstanceResponse'
        '400':
          $ref: '#/components/responses/badReqError'
        '401':
          $ref: '#/components/responses/authError'
        '403':
          $ref: '#/components/responses/permissionsError'
        '500':
          $ref: '#/components/responses/serverError'
    delete:
      tags:
        - VMs
      summary: Delete a VM that the logged in user owns.
      operationId: VMs_deleteInstance
      parameters:
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: ProjectID
          name: project_id
          in: path
          required: true
          schema:
            type: string
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: VMID
          name: vm_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/asyncOperationResponse'
        '401':
          $ref: '#/components/responses/authError'
        '403':
          $ref: '#/components/responses/permissionsError'
        '500':
          $ref: '#/components/responses/serverError'
    patch:
      tags:
        - VMs
      summary: Change the state of a VM the logged in user owns.
      operationId: VMs_changeState
      parameters:
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: ProjectID
          name: project_id
          in: path
          required: true
          schema:
            type: string
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: VMID
          name: vm_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstancesPatchRequestV1Alpha5'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/asyncOperationResponse'
        '400':
          $ref: '#/components/responses/badReqError'
        '401':
          $ref: '#/components/responses/authError'
        '403':
          $ref: '#/components/responses/permissionsError'
        '500':
          $ref: '#/components/responses/serverError'
  /projects/{project_id}/compute/vms/instances/{vm_id}/attach-disks:
    post:
      tags:
        - VMs
      summary: Attach disks to a VM the logged in user owns.
      operationId: VMs_attachDisksToInstance
      parameters:
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: ProjectID
          name: project_id
          in: path
          required: true
          schema:
            type: string
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: VMID
          name: vm_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstancesAttachDiskPostRequestV1Alpha5'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/asyncOperationResponse'
        '400':
          $ref: '#/components/responses/badReqError'
        '401':
          $ref: '#/components/responses/authError'
        '403':
          $ref: '#/components/responses/permissionsError'
        '500':
          $ref: '#/components/responses/serverError'
  /projects/{project_id}/compute/vms/instances/{vm_id}/detach-disks:
    post:
      tags:
        - VMs
      summary: Detach disks from a VM the logged in user owns.
      operationId: VMs_detachDiskFromInstance
      parameters:
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: ProjectID
          name: project_id
          in: path
          required: true
          schema:
            type: string
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: VMID
          name: vm_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstancesDetachDiskPostRequest'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/asyncOperationResponse'
        '400':
          $ref: '#/components/responses/badReqError'
        '401':
          $ref: '#/components/responses/authError'
        '403':
          $ref: '#/components/responses/permissionsError'
        '500':
          $ref: '#/components/responses/serverError'
  /projects/{project_id}/compute/vms/types:
    get:
      tags:
        - VMs
      summary: >-
        Retrieve information about the types of VMs that are available to
        purchase along with their prices.
      operationId: VMs_getAvailableTypes
      parameters:
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: ProjectID
          name: project_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/typesGetResponse'
        '401':
          $ref: '#/components/responses/authError'
        '500':
          $ref: '#/components/responses/serverError'
  /projects/{project_id}/networking/ib-networks:
    get:
      tags:
        - IB-Networks
      summary: Retrieve details for all Infiniband networks.
      operationId: IbNetworks_getAllDetails
      parameters:
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: ProjectID
          name: project_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/listIbNetworksResponse'
        '401':
          $ref: '#/components/responses/authError'
        '500':
          $ref: '#/components/responses/serverError'
  /projects/{project_id}/networking/ib-networks/{ib_network_id}:
    get:
      tags:
        - IB-Networks
      summary: Retrieve details for an Infiniband network.
      operationId: IbNetworks_getDetails
      parameters:
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: ProjectID
          name: project_id
          in: path
          required: true
          schema:
            type: string
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: IBNetworkID
          name: ib_network_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/getIbNetworkResponse'
        '400':
          $ref: '#/components/responses/badReqError'
        '401':
          $ref: '#/components/responses/authError'
        '500':
          $ref: '#/components/responses/serverError'
  /projects/{project_id}/networking/ib-partitions:
    get:
      tags:
        - IB-Partitions
      summary: Retrieve details for all Infiniband partitions that belongs to the user.
      operationId: IbPartitions_getAllPartitionsBelongsToUser
      parameters:
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: ProjectID
          name: project_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/listIBPartitionsResponse'
        '401':
          $ref: '#/components/responses/authError'
        '403':
          $ref: '#/components/responses/permissionsError'
        '500':
          $ref: '#/components/responses/serverError'
    post:
      tags:
        - IB-Partitions
      summary: Create a new Infiniband partition owned by the logged in user.
      operationId: IbPartitions_createNewPartition
      parameters:
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: ProjectID
          name: project_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IBPartitionsPostRequestV1Alpha5'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/ibPartitionsPostResponse'
        '400':
          $ref: '#/components/responses/badReqError'
        '401':
          $ref: '#/components/responses/authError'
        '403':
          $ref: '#/components/responses/permissionsError'
        '500':
          $ref: '#/components/responses/serverError'
  /projects/{project_id}/networking/ib-partitions/{ib_partition_id}:
    get:
      tags:
        - IB-Partitions
      summary: Retrieve details for an Infiniband partition that belongs to the user.
      operationId: IbPartitions_getDetails
      parameters:
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: ProjectID
          name: project_id
          in: path
          required: true
          schema:
            type: string
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: IBPartitionID
          name: ib_partition_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/getIbPartitionResponse'
        '400':
          $ref: '#/components/responses/badReqError'
        '401':
          $ref: '#/components/responses/authError'
        '403':
          $ref: '#/components/responses/permissionsError'
        '500':
          $ref: '#/components/responses/serverError'
    delete:
      tags:
        - IB-Partitions
      summary: Delete an Infiniband partition owned by the logged in user.
      operationId: IbPartitions_deleteById
      parameters:
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: ProjectID
          name: project_id
          in: path
          required: true
          schema:
            type: string
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: IBPartitionID
          name: ib_partition_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/emptyResponse'
        '400':
          $ref: '#/components/responses/badReqError'
        '401':
          $ref: '#/components/responses/authError'
        '403':
          $ref: '#/components/responses/permissionsError'
        '500':
          $ref: '#/components/responses/serverError'
  /projects/{project_id}/networking/load-balancers:
    get:
      tags:
        - Load-Balancers
      summary: >-
        Retrieve details about all load balancers that belong to the logged in
        user.
      operationId: LoadBalancers_getAllDetails
      parameters:
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: ProjectID
          name: project_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/listLoadBalancersResponse'
        '401':
          $ref: '#/components/responses/authError'
        '403':
          $ref: '#/components/responses/permissionsError'
        '500':
          $ref: '#/components/responses/serverError'
    post:
      tags:
        - Load-Balancers
      summary: Create a new load balancer owned by the logged in user.
      operationId: LoadBalancers_createOwnedBalancer
      description: >-
        A successful response from this resource will contain the async
        operation.
      parameters:
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: ProjectID
          name: project_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoadBalancersPostRequest'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/asyncOperationResponse'
        '400':
          $ref: '#/components/responses/badReqError'
        '401':
          $ref: '#/components/responses/authError'
        '403':
          $ref: '#/components/responses/permissionsError'
        '500':
          $ref: '#/components/responses/serverError'
  /projects/{project_id}/networking/load-balancers/operations:
    get:
      tags:
        - Load-Balancer-Operations
      summary: Get status of asynchronous operations
      operationId: LoadBalancerOperations_getStatus
      description: >-
        This resource retrieves information about the status of asynchronous
        operations initiated by

        the Load Balancers resource. All operations that are either in-flight or
        completed but not yet

        queried will be returned.
      parameters:
        - example: 452580d7-41d1-4b63-b4d7-4e4e21e95f96
          x-go-name: ResourceID
          name: resource_id
          in: query
          schema:
            type: string
        - example:
            - IN_PROGRESS
          x-go-name: State
          name: state
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: ProjectID
          name: project_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/listOperationsResponse'
        '401':
          $ref: '#/components/responses/authError'
        '403':
          $ref: '#/components/responses/permissionsError'
        '500':
          $ref: '#/components/responses/serverError'
  /projects/{project_id}/networking/load-balancers/operations/{operation_id}:
    get:
      tags:
        - Load-Balancer-Operations
      summary: Get status of a single asynchronous operation
      operationId: LoadBalancerOperations_getStatus
      description: >-
        This resource retrieves information about the status of an asynchronous
        operation initiated by

        the Load Balancer resource. Only information about the operation
        specified in the path will be returned,

        or an HTTP 403 will be returned if the operation does not exist, was not
        initiated by the logged

        in user, or has expired.
      parameters:
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: ProjectID
          name: project_id
          in: path
          required: true
          schema:
            type: string
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: OperationID
          name: operation_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/getOperationResponse'
        '400':
          $ref: '#/components/responses/badReqError'
        '401':
          $ref: '#/components/responses/authError'
        '403':
          $ref: '#/components/responses/permissionsError'
        '500':
          $ref: '#/components/responses/serverError'
  /projects/{project_id}/networking/load-balancers/{load_balancer_id}:
    get:
      tags:
        - Load-Balancers
      summary: Retrieve details for a load balancer that belongs to the logged in user.
      operationId: LoadBalancers_getDetails
      parameters:
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: ProjectID
          name: project_id
          in: path
          required: true
          schema:
            type: string
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: LoadBalancerID
          name: load_balancer_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/getLoadBalancerResponse'
        '401':
          $ref: '#/components/responses/authError'
        '403':
          $ref: '#/components/responses/permissionsError'
        '500':
          $ref: '#/components/responses/serverError'
    delete:
      tags:
        - Load-Balancers
      summary: Delete a load balancer owned by the logged in user.
      operationId: LoadBalancers_removeOwnedBalancer
      description: >-
        A successful response from this resource will contain the async
        operation.
      parameters:
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: ProjectID
          name: project_id
          in: path
          required: true
          schema:
            type: string
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: LoadBalancerID
          name: load_balancer_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/asyncOperationResponse'
        '401':
          $ref: '#/components/responses/authError'
        '403':
          $ref: '#/components/responses/permissionsError'
        '500':
          $ref: '#/components/responses/serverError'
    patch:
      tags:
        - Load-Balancers
      summary: Patch (update) a load balancer owned by the logged in user.
      operationId: LoadBalancers_updateAsyncOperation
      description: >-
        A successful response from this resource will contain the async
        operation.

        To disable health checking, pass "health_check": {"port": 0}
      parameters:
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: ProjectID
          name: project_id
          in: path
          required: true
          schema:
            type: string
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: LoadBalancerID
          name: load_balancer_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoadBalancersPatchRequestV1Alpha5'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/asyncOperationResponse'
        '400':
          $ref: '#/components/responses/badReqError'
        '401':
          $ref: '#/components/responses/authError'
        '403':
          $ref: '#/components/responses/permissionsError'
        '500':
          $ref: '#/components/responses/serverError'
  /projects/{project_id}/networking/vpc-firewall-rules:
    get:
      tags:
        - VPC-Firewall-Rules
      summary: >-
        Retrieve details about all VPC firewall rules that belong to the logged
        in user.
      operationId: VpcFirewallRules_getAllDetails
      parameters:
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: ProjectID
          name: project_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/listVpcFirewallRulesResponse'
        '401':
          $ref: '#/components/responses/authError'
        '403':
          $ref: '#/components/responses/permissionsError'
        '500':
          $ref: '#/components/responses/serverError'
    post:
      tags:
        - VPC-Firewall-Rules
      summary: Create a new VPC firewall rule owned by the logged in user.
      operationId: VpcFirewallRules_createNewRule
      description: >-
        A successful response from this resource will contain the async
        operation.
      parameters:
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: ProjectID
          name: project_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VPCFirewallRulesPostRequestV1Alpha5'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/asyncOperationResponse'
        '400':
          $ref: '#/components/responses/badReqError'
        '401':
          $ref: '#/components/responses/authError'
        '403':
          $ref: '#/components/responses/permissionsError'
        '500':
          $ref: '#/components/responses/serverError'
  /projects/{project_id}/networking/vpc-firewall-rules/operations:
    get:
      tags:
        - VPC-Firewall-Rule-Operations
      summary: Get status of asynchronous operations
      operationId: VpcFirewallRuleOperations_getStatus
      description: >-
        This resource retrieves information about the status of asynchronous
        operations initiated by

        the snapshots resource. All operations that are either in-flight or
        completed but not yet

        queried will be returned.
      parameters:
        - example: 452580d7-41d1-4b63-b4d7-4e4e21e95f96
          x-go-name: ResourceID
          name: resource_id
          in: query
          schema:
            type: string
        - example:
            - IN_PROGRESS
          x-go-name: State
          name: state
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: ProjectID
          name: project_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/listOperationsResponse'
        '401':
          $ref: '#/components/responses/authError'
        '403':
          $ref: '#/components/responses/permissionsError'
        '500':
          $ref: '#/components/responses/serverError'
  /projects/{project_id}/networking/vpc-firewall-rules/operations/{operation_id}:
    get:
      tags:
        - VPC-Firewall-Rule-Operations
      summary: Get status of a single asynchronous operation
      operationId: VpcFirewallRuleOperations_getStatus
      description: >-
        This resource retrieves information about the status of an asynchronous
        operation initiated by

        the snapshots resource. Only information about the operation specified
        in the path will be returned,

        or an HTTP 403 will be returned if the operation does not exist, was not
        initiated by the logged

        in user, or has expired.
      parameters:
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: ProjectID
          name: project_id
          in: path
          required: true
          schema:
            type: string
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: OperationID
          name: operation_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/getOperationResponse'
        '400':
          $ref: '#/components/responses/badReqError'
        '401':
          $ref: '#/components/responses/authError'
        '403':
          $ref: '#/components/responses/permissionsError'
        '500':
          $ref: '#/components/responses/serverError'
  /projects/{project_id}/networking/vpc-firewall-rules/{vpc_firewall_rule_id}:
    get:
      tags:
        - VPC-Firewall-Rules
      summary: >-
        Retrieve details for a VPC firewall rule that belongs to the logged in
        user.
      operationId: VpcFirewallRules_getDetails
      parameters:
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: ProjectID
          name: project_id
          in: path
          required: true
          schema:
            type: string
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: VPCFirewallRuleID
          name: vpc_firewall_rule_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/getVpcFirewallRuleResponse'
        '401':
          $ref: '#/components/responses/authError'
        '403':
          $ref: '#/components/responses/permissionsError'
        '500':
          $ref: '#/components/responses/serverError'
    delete:
      tags:
        - VPC-Firewall-Rules
      summary: Delete a VPC firewall rule owned by the logged in user.
      operationId: VpcFirewallRules_deleteRule
      description: >-
        A successful response from this resource will contain the async
        operation.
      parameters:
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: ProjectID
          name: project_id
          in: path
          required: true
          schema:
            type: string
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: VPCFirewallRuleID
          name: vpc_firewall_rule_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/asyncOperationResponse'
        '401':
          $ref: '#/components/responses/authError'
        '403':
          $ref: '#/components/responses/permissionsError'
        '500':
          $ref: '#/components/responses/serverError'
    patch:
      tags:
        - VPC-Firewall-Rules
      summary: Patch (update) a VPC firewall rule owned by the logged in user.
      operationId: VpcFirewallRules_updateOwnedRule
      description: >-
        A successful response from this resource will contain the async
        operation.
      parameters:
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: ProjectID
          name: project_id
          in: path
          required: true
          schema:
            type: string
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: VPCFirewallRuleID
          name: vpc_firewall_rule_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VPCFirewallRulesPatchRequest'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/asyncOperationResponse'
        '400':
          $ref: '#/components/responses/badReqError'
        '401':
          $ref: '#/components/responses/authError'
        '403':
          $ref: '#/components/responses/permissionsError'
        '500':
          $ref: '#/components/responses/serverError'
  /projects/{project_id}/networking/vpc-networks:
    get:
      tags:
        - VPC-Networks
      summary: >-
        Retrieve details about all VPC networks that belong to the logged in
        user.
      operationId: VpcNetworks_getAllDetails
      parameters:
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: ProjectID
          name: project_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/listVPCNetworksResponse'
        '401':
          $ref: '#/components/responses/authError'
        '403':
          $ref: '#/components/responses/permissionsError'
        '500':
          $ref: '#/components/responses/serverError'
    post:
      tags:
        - VPC-Networks
      summary: Create a new VPC network owned by the logged in user.
      operationId: VpcNetworks_createNewVpcNetwork
      description: >-
        A successful response from this resource will contain information
        regarding the created VPC network.
      parameters:
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: ProjectID
          name: project_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VPCNetworkPostRequest'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/vpcNetworkPostResponse'
        '400':
          $ref: '#/components/responses/badReqError'
        '401':
          $ref: '#/components/responses/authError'
        '403':
          $ref: '#/components/responses/permissionsError'
        '500':
          $ref: '#/components/responses/serverError'
  /projects/{project_id}/networking/vpc-networks/operations:
    get:
      tags:
        - VPC-Network-Operations
      summary: Get status of asynchronous operations
      operationId: VpcNetworkOperations_getStatusAsynchronousOperations
      description: >-
        This resource retrieves information about the status of asynchronous
        operations initiated by

        the VPC Networks resource. All operations that are either in-flight or
        completed but not yet

        queried will be returned.
      parameters:
        - example: 452580d7-41d1-4b63-b4d7-4e4e21e95f96
          x-go-name: ResourceID
          name: resource_id
          in: query
          schema:
            type: string
        - example:
            - IN_PROGRESS
          x-go-name: State
          name: state
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: ProjectID
          name: project_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/listOperationsResponse'
        '401':
          $ref: '#/components/responses/authError'
        '403':
          $ref: '#/components/responses/permissionsError'
        '500':
          $ref: '#/components/responses/serverError'
  /projects/{project_id}/networking/vpc-networks/operations/{operation_id}:
    get:
      tags:
        - VPC-Network-Operations
      summary: Get status of a single asynchronous operation
      operationId: VpcNetworkOperations_getStatus
      description: >-
        This resource retrieves information about the status of an asynchronous
        operation initiated by

        the VPC Network resource. Only information about the operation specified
        in the path will be returned,

        or an HTTP 403 will be returned if the operation does not exist, was not
        initiated by the logged

        in user, or has expired.
      parameters:
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: ProjectID
          name: project_id
          in: path
          required: true
          schema:
            type: string
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: OperationID
          name: operation_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/getOperationResponse'
        '400':
          $ref: '#/components/responses/badReqError'
        '401':
          $ref: '#/components/responses/authError'
        '403':
          $ref: '#/components/responses/permissionsError'
        '500':
          $ref: '#/components/responses/serverError'
  /projects/{project_id}/networking/vpc-networks/{vpc_network_id}:
    get:
      tags:
        - VPC-Networks
      summary: Retrieve details for a VPC network that belongs to the logged in user.
      operationId: VpcNetworks_getDetails
      parameters:
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: ProjectID
          name: project_id
          in: path
          required: true
          schema:
            type: string
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: VPCNetworkID
          name: vpc_network_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/getVPCNetworkResponse'
        '401':
          $ref: '#/components/responses/authError'
        '403':
          $ref: '#/components/responses/permissionsError'
        '500':
          $ref: '#/components/responses/serverError'
    delete:
      tags:
        - VPC-Networks
      summary: Delete a VPC network owned by the logged in user.
      operationId: VpcNetworks_deleteOwnedNetwork
      description: >-
        A successful response from this resource will contain the async
        operation.
      parameters:
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: ProjectID
          name: project_id
          in: path
          required: true
          schema:
            type: string
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: VPCNetworkID
          name: vpc_network_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/asyncOperationResponse'
        '400':
          $ref: '#/components/responses/badReqError'
        '401':
          $ref: '#/components/responses/authError'
        '403':
          $ref: '#/components/responses/permissionsError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/serverError'
    patch:
      tags:
        - VPC-Networks
      summary: Patch (update) a VPC network owned by the logged in user.
      operationId: VpcNetworks_updateAsyncOperation
      description: >-
        A successful response from this resource will contain the async
        operation.
      parameters:
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: ProjectID
          name: project_id
          in: path
          required: true
          schema:
            type: string
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: VPCNetworkID
          name: vpc_network_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VPCNetworkPatchRequest'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/asyncOperationResponse'
        '400':
          $ref: '#/components/responses/badReqError'
        '401':
          $ref: '#/components/responses/authError'
        '403':
          $ref: '#/components/responses/permissionsError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/serverError'
  /projects/{project_id}/networking/vpc-subnets:
    get:
      tags:
        - VPC-Subnets
      summary: >-
        Retrieve details about all VPC subnets that belong to the logged in
        user.
      operationId: VpcSubnets_list
      parameters:
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: ProjectID
          name: project_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/listVpcSubnetsResponse'
        '401':
          $ref: '#/components/responses/authError'
        '403':
          $ref: '#/components/responses/permissionsError'
        '500':
          $ref: '#/components/responses/serverError'
    post:
      tags:
        - VPC-Subnets
      summary: Create a new VPC subnet owned by the logged in user.
      operationId: VpcSubnets_createNewSubnet
      description: >-
        A successful response from this resource will contain information
        regarding the created subnet.
      parameters:
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: ProjectID
          name: project_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VPCSubnetPostRequest'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/vpcSubnetPostResponse'
        '400':
          $ref: '#/components/responses/badReqError'
        '401':
          $ref: '#/components/responses/authError'
        '403':
          $ref: '#/components/responses/permissionsError'
        '500':
          $ref: '#/components/responses/serverError'
  /projects/{project_id}/networking/vpc-subnets/operations:
    get:
      tags:
        - VPC-Subnet-Operations
      summary: Get status of asynchronous operations
      operationId: VpcSubnetOperations_getStatus
      description: >-
        This resource retrieves information about the status of asynchronous
        operations initiated by

        the VPC Networks resource. All operations that are either in-flight or
        completed but not yet

        queried will be returned.
      parameters:
        - example: 452580d7-41d1-4b63-b4d7-4e4e21e95f96
          x-go-name: ResourceID
          name: resource_id
          in: query
          schema:
            type: string
        - example:
            - IN_PROGRESS
          x-go-name: State
          name: state
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: ProjectID
          name: project_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/listOperationsResponse'
        '401':
          $ref: '#/components/responses/authError'
        '403':
          $ref: '#/components/responses/permissionsError'
        '500':
          $ref: '#/components/responses/serverError'
  /projects/{project_id}/networking/vpc-subnets/operations/{operation_id}:
    get:
      tags:
        - VPC-Subnet-Operations
      summary: Get status of a single asynchronous operation
      operationId: VpcSubnetOperations_getStatus
      description: >-
        This resource retrieves information about the status of an asynchronous
        operation initiated by

        the VPC Subnet resource. Only information about the operation specified
        in the path will be returned,

        or an HTTP 403 will be returned if the operation does not exist, was not
        initiated by the logged

        in user, or has expired.
      parameters:
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: ProjectID
          name: project_id
          in: path
          required: true
          schema:
            type: string
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: OperationID
          name: operation_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/getOperationResponse'
        '400':
          $ref: '#/components/responses/badReqError'
        '401':
          $ref: '#/components/responses/authError'
        '403':
          $ref: '#/components/responses/permissionsError'
        '500':
          $ref: '#/components/responses/serverError'
  /projects/{project_id}/networking/vpc-subnets/{vpc_subnet_id}:
    get:
      tags:
        - VPC-Subnets
      summary: Retrieve details for a VPC subnet that belongs to the logged in user.
      operationId: VpcSubnets_getDetails
      parameters:
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: ProjectID
          name: project_id
          in: path
          required: true
          schema:
            type: string
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: VPCSubnetID
          name: vpc_subnet_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/getVpcSubnetResponse'
        '401':
          $ref: '#/components/responses/authError'
        '403':
          $ref: '#/components/responses/permissionsError'
        '500':
          $ref: '#/components/responses/serverError'
    delete:
      tags:
        - VPC-Subnets
      summary: Delete a VPC subnet owned by the logged in user.
      operationId: VpcSubnets_deleteOwnedSubnet
      description: >-
        A successful response from this resource will contain the async
        operation.
      parameters:
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: ProjectID
          name: project_id
          in: path
          required: true
          schema:
            type: string
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: VPCSubnetID
          name: vpc_subnet_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/asyncOperationResponse'
        '400':
          $ref: '#/components/responses/badReqError'
        '401':
          $ref: '#/components/responses/authError'
        '403':
          $ref: '#/components/responses/permissionsError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/serverError'
    patch:
      tags:
        - VPC-Subnets
      summary: Patch (update) a VPC subnet owned by the logged in user.
      operationId: VpcSubnets_updateAsyncOperation
      description: >-
        A successful response from this resource will contain the async
        operation.
      parameters:
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: ProjectID
          name: project_id
          in: path
          required: true
          schema:
            type: string
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: VPCSubnetID
          name: vpc_subnet_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VPCSubnetPatchRequest'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/asyncOperationResponse'
        '400':
          $ref: '#/components/responses/badReqError'
        '401':
          $ref: '#/components/responses/authError'
        '403':
          $ref: '#/components/responses/permissionsError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/serverError'
  /projects/{project_id}/storage/disks:
    get:
      tags:
        - Disks
      summary: Retrieve details about all disks that belong to the logged in user.
      operationId: Disks_getAllDetails
      description: Size of disks will be in gibibytes (GiB)
      parameters:
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: ProjectID
          name: project_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/listDisksResponse'
        '401':
          $ref: '#/components/responses/authError'
        '403':
          $ref: '#/components/responses/permissionsError'
        '500':
          $ref: '#/components/responses/serverError'
    post:
      tags:
        - Disks
      summary: Create a new disk owned by the logged in user.
      operationId: Disks_createOwnedDisk
      description: >-
        Requires either a disk snapshot ID, or size and location, where size of
        disk

        should be in gibibytes (GiB) or tebibytes (TiB) in the format
        [Size][Unit].

        E.g. 10GiB. Disk type must be one of: DISK_TYPE_PERSISTENT_SSD.

        A successful response from this resource will contain the async
        operation.
      parameters:
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: ProjectID
          name: project_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DisksPostRequestV1Alpha5'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/asyncOperationResponse'
        '400':
          $ref: '#/components/responses/badReqError'
        '401':
          $ref: '#/components/responses/authError'
        '403':
          $ref: '#/components/responses/permissionsError'
        '500':
          $ref: '#/components/responses/serverError'
  /projects/{project_id}/storage/disks/operations:
    get:
      tags:
        - Disk-Operations
      summary: Get status of asynchronous operations
      operationId: DiskOperations_getStatus
      description: >-
        This resource retrieves information about the status of asynchronous
        operations initiated by

        the disks resource. All operations that are either in-flight or
        completed but not yet

        queried will be returned.
      parameters:
        - example: 452580d7-41d1-4b63-b4d7-4e4e21e95f96
          x-go-name: ResourceID
          name: resource_id
          in: query
          schema:
            type: string
        - example:
            - IN_PROGRESS
          x-go-name: State
          name: state
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: ProjectID
          name: project_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/listOperationsResponse'
        '401':
          $ref: '#/components/responses/authError'
        '403':
          $ref: '#/components/responses/permissionsError'
        '500':
          $ref: '#/components/responses/serverError'
  /projects/{project_id}/storage/disks/operations/{operation_id}:
    get:
      tags:
        - Disk-Operations
      summary: Get status of a single asynchronous operation
      operationId: DiskOperations_getStatus
      description: >-
        This resource retrieves information about the status of an asynchronous
        operation initiated by

        the disks resource. Only information about the operation specified in
        the path will be returned,

        or an HTTP 403 will be returned if the operation does not exist, was not
        initiated by the logged

        in user, or has expired.
      parameters:
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: ProjectID
          name: project_id
          in: path
          required: true
          schema:
            type: string
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: OperationID
          name: operation_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/getOperationResponse'
        '400':
          $ref: '#/components/responses/badReqError'
        '401':
          $ref: '#/components/responses/authError'
        '403':
          $ref: '#/components/responses/permissionsError'
        '500':
          $ref: '#/components/responses/serverError'
  /projects/{project_id}/storage/disks/{disk_id}:
    get:
      tags:
        - Disks
      summary: Retrieve details for a disk that belongs to the logged in user.
      operationId: Disks_getDetails
      description: Size of disk will be in gibibytes (GiB)
      parameters:
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: ProjectID
          name: project_id
          in: path
          required: true
          schema:
            type: string
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: DiskID
          name: disk_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/getDiskResponse'
        '401':
          $ref: '#/components/responses/authError'
        '403':
          $ref: '#/components/responses/permissionsError'
        '500':
          $ref: '#/components/responses/serverError'
    delete:
      tags:
        - Disks
      summary: Delete a disk owned by the logged in user.
      operationId: Disks_deleteById
      description: >-
        A successful response from this resource will contain the async
        operation.
      parameters:
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: ProjectID
          name: project_id
          in: path
          required: true
          schema:
            type: string
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: DiskID
          name: disk_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/asyncOperationResponse'
        '401':
          $ref: '#/components/responses/authError'
        '403':
          $ref: '#/components/responses/permissionsError'
        '500':
          $ref: '#/components/responses/serverError'
    patch:
      tags:
        - Disks
      summary: Resize a disk that the logged in user owns.
      operationId: Disks_resizeDiskSize
      description: |-
        Size should be in gibibytes (GiB) or tebibytes (TiB) in the format
        [Size][Unit]. E.g. 10GiB A successful response from this resource will
        contain the async operation.
      parameters:
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: ProjectID
          name: project_id
          in: path
          required: true
          schema:
            type: string
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: DiskID
          name: disk_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DisksPatchRequest'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/asyncOperationResponse'
        '400':
          $ref: '#/components/responses/badReqError'
        '401':
          $ref: '#/components/responses/authError'
        '403':
          $ref: '#/components/responses/permissionsError'
        '500':
          $ref: '#/components/responses/serverError'
  /projects/{project_id}/storage/snapshots:
    get:
      tags:
        - Snapshots
      summary: >-
        Retrieve details about all disk snapshots that belong to the logged in
        user.
      operationId: Snapshots_listUserSnapshots
      description: Size of snapshots will be in bytes.
      parameters:
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: ProjectID
          name: project_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/listDiskSnapshotsResponse'
        '400':
          $ref: '#/components/responses/badReqError'
        '401':
          $ref: '#/components/responses/authError'
        '403':
          $ref: '#/components/responses/permissionsError'
        '500':
          $ref: '#/components/responses/serverError'
    post:
      tags:
        - Snapshots
      summary: Create a new snapshot for a disk owned by the logged in user.
      operationId: Snapshots_createDiskSnapshot
      description: >-
        A successful response from this resource will contain the async
        operation.
      parameters:
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: ProjectID
          name: project_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DiskSnapshotPostRequest'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/asyncOperationResponse'
        '401':
          $ref: '#/components/responses/authError'
        '403':
          $ref: '#/components/responses/permissionsError'
        '500':
          $ref: '#/components/responses/serverError'
  /projects/{project_id}/storage/snapshots/operations:
    get:
      tags:
        - Snapshot-Operations
      summary: Get status of asynchronous operations
      operationId: SnapshotOperations_getStatus
      description: >-
        This resource retrieves information about the status of asynchronous
        operations initiated by

        the snapshots resource. All operations that are either in-flight or
        completed but not yet

        queried will be returned.
      parameters:
        - example: 452580d7-41d1-4b63-b4d7-4e4e21e95f96
          x-go-name: ResourceID
          name: resource_id
          in: query
          schema:
            type: string
        - example:
            - IN_PROGRESS
          x-go-name: State
          name: state
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: ProjectID
          name: project_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/listOperationsResponse'
        '401':
          $ref: '#/components/responses/authError'
        '403':
          $ref: '#/components/responses/permissionsError'
        '500':
          $ref: '#/components/responses/serverError'
  /projects/{project_id}/storage/snapshots/operations/{operation_id}:
    get:
      tags:
        - Snapshot-Operations
      summary: Get status of a single asynchronous operation
      operationId: SnapshotOperations_getStatusSingle
      description: >-
        This resource retrieves information about the status of an asynchronous
        operation initiated by

        the snapshots resource. Only information about the operation specified
        in the path will be returned,

        or an HTTP 403 will be returned if the operation does not exist, was not
        initiated by the logged

        in user, or has expired.
      parameters:
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: ProjectID
          name: project_id
          in: path
          required: true
          schema:
            type: string
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: OperationID
          name: operation_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/getOperationResponse'
        '400':
          $ref: '#/components/responses/badReqError'
        '401':
          $ref: '#/components/responses/authError'
        '403':
          $ref: '#/components/responses/permissionsError'
        '500':
          $ref: '#/components/responses/serverError'
  /projects/{project_id}/storage/snapshots/{snapshot_id}:
    get:
      tags:
        - Snapshots
      summary: >-
        Retrieve details about a disk snapshot that belongs to the logged in
        user.
      operationId: Snapshots_getDetails
      description: Size of snapshot will be in bytes.
      parameters:
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: ProjectID
          name: project_id
          in: path
          required: true
          schema:
            type: string
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: SnapshotID
          name: snapshot_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/getSnapshotResponse'
        '400':
          $ref: '#/components/responses/badReqError'
        '401':
          $ref: '#/components/responses/authError'
        '403':
          $ref: '#/components/responses/permissionsError'
        '500':
          $ref: '#/components/responses/serverError'
    delete:
      tags:
        - Snapshots
      summary: Delete a disk snapshot owned by the logged in user.
      operationId: Snapshots_deleteOwnedSnapshot
      description: >-
        A successful response from this resource will contain the async
        operation.
      parameters:
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: ProjectID
          name: project_id
          in: path
          required: true
          schema:
            type: string
        - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
          x-go-name: SnapshotID
          name: snapshot_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/asyncOperationResponse'
        '401':
          $ref: '#/components/responses/authError'
        '403':
          $ref: '#/components/responses/permissionsError'
        '500':
          $ref: '#/components/responses/serverError'
  /users/identities:
    get:
      tags:
        - Identities
      summary: Retrieve user details for the logged in user.
      operationId: Identities_getUserDetails
      responses:
        '200':
          $ref: '#/components/responses/usersGetResponse'
        '401':
          $ref: '#/components/responses/authError'
        '500':
          $ref: '#/components/responses/serverError'
    put:
      tags:
        - Identities
      summary: Update user details for the logged in user.
      operationId: Identities_updateUserDetails
      description: >-
        A successful response from this resource wil contain the updated user
        details.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IdentityPutRequest'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/usersPutResponse'
        '401':
          $ref: '#/components/responses/authError'
        '500':
          $ref: '#/components/responses/serverError'
    delete:
      tags:
        - Identities
      summary: Delete the account for the logged in user.
      operationId: Identities_deleteUserAccount
      description: >-
        Delete operations will cascade to all entities the user owns
        (organizations, roles, vms).
      responses:
        '200':
          $ref: '#/components/responses/emptyResponse'
        '401':
          $ref: '#/components/responses/authError'
        '403':
          $ref: '#/components/responses/permissionsError'
        '500':
          $ref: '#/components/responses/serverError'
  /users/ssh-keys:
    get:
      tags:
        - SSH-Keys
      summary: Retrieve the list of SSH public keys registered to the logged in user.
      operationId: SshKeys_listUserKeys
      responses:
        '200':
          $ref: '#/components/responses/getSSHKeysResponse'
        '401':
          $ref: '#/components/responses/authError'
        '500':
          $ref: '#/components/responses/serverError'
    post:
      tags:
        - SSH-Keys
      summary: Register a new SSH public key to the logged in user.
      operationId: SshKeys_registerNewKey
      description: >-
        A successful response from this resource wil contain the created SSH key
        details.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSSHKeyRequest'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/createSSHKeysResponse'
        '400':
          $ref: '#/components/responses/badReqError'
        '401':
          $ref: '#/components/responses/authError'
        '500':
          $ref: '#/components/responses/serverError'
    delete:
      tags:
        - SSH-Keys
      summary: Delete an SSH public key registered to the logged in user.
      operationId: SshKeys_deleteUserSshKey
      parameters:
        - example: 6e28cad3-98e6-47a9-a9fc-1cd83a7f25c1
          x-go-name: ID
          name: id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/emptyResponse'
        '400':
          $ref: '#/components/responses/badReqError'
        '401':
          $ref: '#/components/responses/authError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/serverError'
  /users/tokens:
    get:
      tags:
        - Tokens
      summary: Retrieve all active/expired API tokens for the logged in user.
      operationId: Tokens_getAll
      responses:
        '200':
          $ref: '#/components/responses/tokensGetResponse'
        '401':
          $ref: '#/components/responses/authError'
        '500':
          $ref: '#/components/responses/serverError'
    post:
      tags:
        - Tokens
      summary: Create a new token owned by the logged in user.
      operationId: Tokens_generateOwnedToken
      description: >-
        A successful response from this resource will contain json-encoded
        details of API token.

        This is the only time the customer will be able to view the secret key
        associated with the token.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTokenRequest'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/tokensPostResponse'
        '401':
          $ref: '#/components/responses/authError'
        '500':
          $ref: '#/components/responses/serverError'
    delete:
      tags:
        - Tokens
      summary: Delete an API token owned by the logged in user.
      operationId: Tokens_deleteOwnedToken
      parameters:
        - example: WTUzcGibQ82y9_01h4MCdQ
          x-go-name: AccessKey
          name: access_key
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/emptyResponse'
        '401':
          $ref: '#/components/responses/authError'
        '403':
          $ref: '#/components/responses/permissionsError'
        '500':
          $ref: '#/components/responses/serverError'
components:
  responses:
    WrappedErrorBody:
      description: >-
        WrappedErrorBody is a baseline Error Response Object

        The body of every error response type must have the same structure as
        handlers.ErrorBody
      headers:
        Body: {}
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorBody'
    asyncOperationResponse:
      description: ''
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AsyncOperationResponse'
    authError:
      description: Error Authentication Failed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CapacitiesListAvailable401Response'
    badReqError:
      description: Error Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CapacitiesListAvailableResponse'
    billingIntentGetResponse:
      description: ''
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/BillingIntentGetResponse'
    capacitiesResponse:
      description: ''
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ListCapacitiesResponseV1Alpha5'
    createInstanceGroupResponse:
      description: ''
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/InstanceGroup'
    createInstanceTemplateResponse:
      description: ''
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/InstanceTemplate'
    createSSHKeysResponse:
      description: ''
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CreateSSHKeyResponse'
    emptyResponse:
      description: Empty Response
    featureFlagsGetResponse:
      description: ''
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/FeatureFlagsGetResponse'
    getDiskResponse:
      description: ''
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DiskV1Alpha5'
    getIbNetworkResponse:
      description: ''
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/IBNetwork'
    getIbPartitionResponse:
      description: ''
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/IBPartition'
    getImageResponse:
      description: ''
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Image'
    getInstanceGroupResponse:
      description: ''
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/InstanceGroup'
    getInstanceResponse:
      description: ''
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/InstanceV1Alpha5'
    getInstanceTemplateResponse:
      description: ''
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/InstanceTemplate'
    getLoadBalancerResponse:
      description: ''
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/LoadBalancer'
    getOperationResponse:
      description: ''
      content:
        application/json:
          schema:
[...]
