openapi: 3.0.1
info:
  title: Deel REST API
  description: >-
    API specification for Deel HR user provisioning API. This YAML file is a
    preview of the API Deel is building. We are looking forward to your
    feedback.
  version: 1.25.0
  contact:
    name: Deel API Team
    email: apiteam@deel.com
  termsOfService: https://www.letsdeel.com/terms-of-service
  x-konfig-ignore:
    object-with-no-properties: true
    potential-incorrect-type: true
servers:
  - description: Production server
    url: https://api.letsdeel.com/rest/v2
  - description: Demo server
    url: https://api-staging.letsdeel.com/rest/v2
tags:
  - description: API end-points related to Partner Managed data.
    name: Partner Managed
    externalDocs:
      description: See
      url: https://developer.letdeel.com
  - description: Global Payroll
    name: Global Payroll
    externalDocs:
      description: See
      url: https://developer.letsdeel.com
  - description: API end-points related to People data.
    name: People
    externalDocs:
      description: See
      url: https://developer.letdeel.com
  - description: >-
      The Contracts resource lets you create, amend and, retrieve Deel
      contracts.
    name: Contracts
    externalDocs:
      description: See
      url: https://developer.deel.com/rest/v2/#contracts
  - description: >-
      The Contracts resource lets you create, amend and, retrieve Deel
      contracts.
    name: Contractors
    externalDocs:
      description: See
      url: https://developer.deel.com/rest/v2/#contracts
  - description: >-
      The Invoices resource lets you create, amend and retrieve invoices related
      to Deel contracts.
    name: Invoices
    externalDocs:
      description: See
      url: https://developer.letsdeel.com
  - description: >-
      The Invoices resource lets you create, amend and retrieve timesheets of
      Deel contracts.
    name: Timesheets
    externalDocs:
      description: See
      url: https://developer.letsdeel.com
  - description: Manage time off requests.
    name: Time Off
    externalDocs:
      description: See
      url: https://developer.letsdeel.com
  - name: User
  - description: Employee of Record (EOR).
    name: EOR
    externalDocs:
      description: See
      url: https://developer.letsdeel.com
  - description: Helper end-points for managing milestones of Deel contracts
    name: Milestones
    externalDocs:
      description: See
      url: https://developer.deel.com/rest/v2/#milestones
  - description: Helper end-points for additional information about your organizations
    name: Organizations
    externalDocs:
      description: See
      url: https://developer.deel.com/rest/v2/#organizations
  - description: API end-points related to Adjustments data.
    name: Adjustments
    externalDocs:
      description: See
      url: https://developer.letdeel.com
  - name: Webhooks
  - description: End-points to retrieve paid invoices and receipts.
    name: Accounting
    externalDocs:
      description: See
      url: https://developer.deel.com
  - description: Helper end-points for choosing options for other operations
    name: Lookups
    externalDocs:
      description: See
      url: https://developer.deel.com/rest/v2/#lookups
  - description: End-points to manage tasks for a given contract
    name: Tasks
    externalDocs:
      description: See
      url: https://developer.deel.com/rest/v2/#tasks
  - description: End-points to manage off-cycle payments for a given contract
    name: Off-cycle Payments
    externalDocs:
      description: See
      url: https://developer.deel.com/rest/v2/#off-cycle-payments
  - description: API endpoints related to Candidates.
    name: Candidates
    externalDocs:
      description: See
      url: https://developer.letdeel.com
  - description: API end-points related to Manager data.
    name: Managers
    externalDocs:
      description: See
      url: https://developer.letdeel.com
  - description: >-
      End-points to generate temporary tokens to use with embedded Deel SDK
      components.
    name: Token
    externalDocs:
      description: See
      url: https://developer.letsdeel.com
  - name: Attachments
  - name: ServiceProviderConfig
  - description: API end-points related to HRIS data.
    name: Hris
    externalDocs:
      description: See
      url: https://developer.letdeel.com
  - description: The Legal Entities resource lets you manage your legal entities
    name: Legal Entities
    externalDocs:
      description: See
      url: https://developer.deel.com/rest/v2/#legalentities
  - description: Helper end-points for additional information about your teams
    name: Teams
    externalDocs:
      description: See
      url: https://developer.letsdeel.com
paths:
  /invoices:
    get:
      tags:
        - Accounting
      summary: Retrieve invoices
      operationId: Accounting_getPaidInvoices
      security:
        - deelToken: []
        - oauth2:
            - accounting:read
      description: Retrieve a list of paid invoices for your workforce.
      parameters:
        - $ref: '#/components/parameters/ParamIssuedDateFrom'
        - $ref: '#/components/parameters/ParamIssuedDateTo'
        - $ref: '#/components/parameters/ParamLimit'
        - $ref: '#/components/parameters/ParamOffset'
      responses:
        '200':
          $ref: '#/components/responses/ResponseBodyForInvoiceList'
        '400':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '401':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '403':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '404':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '500':
          $ref: '#/components/responses/ResponseBodyForApiError'
  /invoices/deel:
    get:
      tags:
        - Accounting
      summary: Retrieve Deel invoices
      operationId: Accounting_getDeelInvoices
      security:
        - deelToken: []
        - oauth2:
            - accounting:read
      description: Retrieve a list of invoices related to Deel fees.
      parameters:
        - $ref: '#/components/parameters/ParamLimit'
        - $ref: '#/components/parameters/ParamOffset'
      responses:
        '200':
          $ref: '#/components/responses/ResponseBodyForDeelInvoiceList'
        '400':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '401':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '403':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '404':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '500':
          $ref: '#/components/responses/ResponseBodyForApiError'
  /invoices/{invoice_id}/download:
    get:
      tags:
        - Accounting
      summary: Download invoice PDF
      operationId: Accounting_getInvoicePdfDownloadLink
      security:
        - deelToken: []
        - oauth2:
            - accounting:read
      description: Get link to download the invoice PDF.
      parameters:
        - $ref: '#/components/parameters/ParamInvoiceInvoiceId'
      responses:
        '200':
          $ref: '#/components/responses/ResponseBodyForInvoiceDownloadLink'
        '400':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '401':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '403':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '404':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '500':
          $ref: '#/components/responses/ResponseBodyForApiError'
  /managers:
    get:
      tags:
        - Managers
      summary: List of managers
      operationId: Managers_list
      security:
        - deelToken: []
        - oauth2:
            - organizations:read
      description: List all organization managers.
      parameters:
        - $ref: '#/components/parameters/ParamLimitForAgreements'
        - $ref: '#/components/parameters/ParamOffsetForAgreements'
      responses:
        '200':
          $ref: '#/components/responses/ResponseBodyToGetAdminUser'
        '400':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '401':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '403':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '404':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '409':
          description: A matching profile already exists.
        '500':
          $ref: '#/components/responses/ResponseBodyForApiError'
    post:
      tags:
        - Managers
      summary: Create a manager
      operationId: Managers_createNewManager
      security:
        - deelToken: []
        - oauth2:
            - organizations:write
      description: Create a new organization manager.
      requestBody:
        $ref: '#/components/requestBodies/RequestBodyToCreateAdminUser'
      responses:
        '201':
          $ref: '#/components/responses/ResponseBodyToCreateAdminUser'
        '400':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '401':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '403':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '404':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '409':
          description: A matching profile already exists.
        '500':
          $ref: '#/components/responses/ResponseBodyForApiError'
  /hris/direct-employees:
    post:
      tags:
        - People
      summary: Create a new Hris direct employee
      operationId: People_createDirectEmployee
      requestBody:
        $ref: '#/components/requestBodies/RequestBodyToCreateHrisDirectEmployee'
      responses:
        '201':
          $ref: '#/components/responses/ResponseBodyForHrisDirectEmployee'
        '400':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '401':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '403':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '404':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '409':
          description: A matching profile already exists
        '500':
          $ref: '#/components/responses/ResponseBodyForApiError'
  /eor/validations/{country_code}:
    get:
      tags:
        - EOR
      summary: Retrieve country guide
      operationId: Eor_getCountryGuide
      security:
        - deelToken: []
        - oauth2:
            - contracts:read
      description: >-
        Retrieve the hiring guide data for a country. This data can be used to
        create Employee of Record (EOR) contract quotes.
      parameters:
        - $ref: '#/components/parameters/ParamEorCountryCode'
      responses:
        '200':
          $ref: '#/components/responses/ResponseBodyForEorCountryValidations'
        '401':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '403':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '404':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '500':
          $ref: '#/components/responses/ResponseBodyForApiError'
  /eor/workers/{worker_id}/payslips:
    get:
      tags:
        - EOR
      summary: Retrieve employee payslips
      operationId: Eor_getEmployeePayslips
      security:
        - deelToken: []
        - oauth2:
            - payslips:read
      description: Get of payslips for an employee.
      parameters:
        - $ref: '#/components/parameters/ParamWorkerId'
      responses:
        '200':
          $ref: '#/components/responses/ResponseBodyForEORPayslipsList'
        '401':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '403':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '404':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '500':
          $ref: '#/components/responses/ResponseBodyForApiError'
  /eor/workers/{worker_id}/payslips/{payslip_id}/download:
    get:
      tags:
        - EOR
      summary: Download payslip PDF
      operationId: Eor_getPayslipDownload
      security:
        - deelToken: []
        - oauth2:
            - payslips:read
      description: Get download url for EOR payslip.
      parameters:
        - $ref: '#/components/parameters/ParamWorkerId'
        - $ref: '#/components/parameters/PayslipId'
      responses:
        '200':
          $ref: '#/components/responses/ResponseBodyForEORPayslipDownloadUrl'
        '401':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '403':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '404':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '500':
          $ref: '#/components/responses/ResponseBodyForApiError'
  /eor/employment_cost:
    post:
      tags:
        - EOR
      summary: Employee Cost Calculator
      operationId: Eor_calculateEmployeeCosts
      security:
        - deelToken: []
        - oauth2: []
      description: Determine EOR employee costs across the globe.
      requestBody:
        $ref: '#/components/requestBodies/RequestBodyToCalculateEorEmployeeCost'
      responses:
        '200':
          $ref: '#/components/responses/ResponseBodyForEorEmploymentCostCalculation'
        '400':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '401':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '403':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '404':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '500':
          $ref: '#/components/responses/ResponseBodyForApiError'
  /eor/{contract_id}/benefits:
    get:
      tags:
        - EOR
      summary: Get EOR contract benefits
      operationId: Eor_getContractBenefits
      security:
        - deelToken: []
        - oauth2:
            - contracts:read
      description: Retrieve EOR contract benefits
      parameters:
        - $ref: '#/components/parameters/ParamContractId'
      responses:
        '200':
          $ref: '#/components/responses/ResponseBodyForEorContractBenefits'
        '401':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '403':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '404':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '500':
          $ref: '#/components/responses/ResponseBodyForApiError'
  /eor:
    post:
      tags:
        - EOR
      summary: Create an EOR contract
      operationId: Eor_createContractQuote
      security:
        - deelToken: []
        - oauth2:
            - contracts:read
            - contracts:write
      description: >-
        Create an Employee of Record (EOR) contract quote. The endpoints creates
        a contract quote request. Deel will process the information and get back
        with a quote for this contract.
      requestBody:
        $ref: '#/components/requestBodies/RequestBodyForEorContractCreation'
      responses:
        '200':
          $ref: '#/components/responses/ResponseBodyForEorContractCreation'
        '401':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '403':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '404':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '500':
          $ref: '#/components/responses/ResponseBodyForApiError'
  /contracts/gp:
    post:
      tags:
        - Global Payroll
      summary: Create a contract
      operationId: GlobalPayroll_createContractGp
      security:
        - deelToken: []
        - oauth2:
            - contracts:write
      description: Create a Global Payroll contract.
      requestBody:
        $ref: '#/components/requestBodies/RequestBodyForGPContractCreation'
      responses:
        '201':
          $ref: '#/components/responses/ResponseBodyForGPContractCreation'
        '401':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '403':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '404':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '500':
          $ref: '#/components/responses/ResponseBodyForApiError'
  /contracts/time-based:
    post:
      tags:
        - Contractors
      summary: Create a new contract (time-based)
      operationId: Contractors_createNewTimeBasedContract
      security:
        - deelToken: []
        - oauth2:
            - contracts:write
      requestBody:
        $ref: '#/components/requestBodies/RequestBodyToCreateContractTimeBased'
      responses:
        '201':
          $ref: '#/components/responses/ResponseBodyForContractCreatedTimeBased'
        '400':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '401':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '403':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '404':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '405':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '429':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '500':
          $ref: '#/components/responses/ResponseBodyForApiError'
      x-internal: true
  /gp/workers/{worker_id}/payslips:
    get:
      tags:
        - Global Payroll
      summary: Retrieve employee payslips
      operationId: GlobalPayroll_getPayslips
      security:
        - deelToken: []
        - oauth2:
            - payslips:read
      description: Get of payslips for an employee.
      parameters:
        - $ref: '#/components/parameters/ParamWorkerId'
      responses:
        '200':
          $ref: '#/components/responses/ResponseBodyForGPPayslipsList'
        '401':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '403':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '404':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '500':
          $ref: '#/components/responses/ResponseBodyForApiError'
  /gp/workers/{worker_id}/address:
    patch:
      tags:
        - Global Payroll
      summary: Update address
      operationId: GlobalPayroll_updateWorkerAddress
      security:
        - deelToken: []
        - oauth2:
            - people:write
      description: Update the address of a Global Payroll employee.
      parameters:
        - $ref: '#/components/parameters/ParamWorkerId'
      requestBody:
        $ref: '#/components/requestBodies/RequestBodyForGPEmployeeAddressUpdate'
      responses:
        '200':
          $ref: '#/components/responses/ResponseBodyForGPEmployeeAddressUpdate'
        '401':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '403':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '404':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '500':
          $ref: '#/components/responses/ResponseBodyForApiError'
  /gp/workers/{worker_id}/banks:
    get:
      tags:
        - Global Payroll
      summary: Retrieve bank accounts
      operationId: GlobalPayroll_getBankAccounts
      security:
        - deelToken: []
        - oauth2:
            - people:read
      description: Retrieve all bank accounts for an employee.
      parameters:
        - $ref: '#/components/parameters/ParamWorkerId'
      responses:
        '200':
          $ref: '#/components/responses/ResponseBodyForWorkerBankAccountsInfo'
        '401':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '403':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '404':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '500':
          $ref: '#/components/responses/ResponseBodyForApiError'
    post:
      tags:
        - Global Payroll
      summary: Add bank account
      operationId: GlobalPayroll_addBankAccount
      security:
        - deelToken: []
        - oauth2:
            - people:write
      description: Add a new bank account for an employee.
      parameters:
        - $ref: '#/components/parameters/ParamWorkerId'
      requestBody:
        $ref: '#/components/requestBodies/RequestBodyForAddWorkerBankAccount'
      responses:
        '201':
          $ref: '#/components/responses/ResponseBodyForBankAccountUpdated'
        '401':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '403':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '404':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '500':
          $ref: '#/components/responses/ResponseBodyForApiError'
  /gp/workers/{worker_id}/banks/{bank_id}:
    patch:
      tags:
        - Global Payroll
      summary: Modify bank account
      operationId: GlobalPayroll_modifyBankAccount
      security:
        - deelToken: []
        - oauth2:
            - people:write
      description: Modify bank account for an employee.
      parameters:
        - $ref: '#/components/parameters/ParamWorkerId'
        - $ref: '#/components/parameters/ParamEmployeeBankAccountId'
      requestBody:
        $ref: '#/components/requestBodies/RequestBodyForAddWorkerBankAccount'
      responses:
        '200':
          $ref: '#/components/responses/ResponseBodyForBankAccountUpdated'
        '400':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '401':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '403':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '404':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '500':
          $ref: '#/components/responses/ResponseBodyForApiError'
      x-forbidden-token-types:
        - personal
        - organization
        - oauth2
  /gp/workers/{worker_id}/banks/guide:
    get:
      tags:
        - Global Payroll
      summary: Retrieve bank guide
      operationId: GlobalPayroll_getBankGuide
      security:
        - deelToken: []
        - oauth2:
            - people:read
      description: Retrieve the bank form guide for employee.
      parameters:
        - $ref: '#/components/parameters/ParamWorkerId'
      responses:
        '200':
          $ref: '#/components/responses/ResponseBodyForBankAccountGuide'
        '401':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '403':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '404':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '500':
          $ref: '#/components/responses/ResponseBodyForApiError'
  /gp/workers/{worker_id}/compensation:
    patch:
      tags:
        - Global Payroll
      summary: Update compensation
      operationId: GlobalPayroll_updateCompensationHistory
      security:
        - deelToken: []
        - oauth2:
            - people:write
      description: >-
        Update the compensation of a Global Payroll employee. Returns the full
        compensation history including the update.
      parameters:
        - $ref: '#/components/parameters/ParamWorkerId'
      requestBody:
        $ref: '#/components/requestBodies/RequestBodyForGPEmployeeCompensationUpdate'
      responses:
        '200':
          $ref: '#/components/responses/ResponseBodyForGPEmployeeCompensationUpdate'
        '401':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '403':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '404':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '500':
          $ref: '#/components/responses/ResponseBodyForApiError'
  /gp/workers/{worker_id}/pto-policy:
    patch:
      tags:
        - Global Payroll
      summary: Update PTO policy
      operationId: GlobalPayroll_updatePtoPolicy
      security:
        - deelToken: []
        - oauth2:
            - people:write
      description: Update the PTO policy of a Global Payroll employee.
      parameters:
        - $ref: '#/components/parameters/ParamWorkerId'
      requestBody:
        $ref: '#/components/requestBodies/RequestBodyForGPEmployeePTOUpdate'
      responses:
        '200':
          $ref: '#/components/responses/ResponseBodyForGenericResultUpdated'
        '401':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '403':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '404':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '500':
          $ref: '#/components/responses/ResponseBodyForApiError'
  /gp/workers/{worker_id}/employee-information:
    patch:
      tags:
        - Global Payroll
      summary: Update employee information
      operationId: GlobalPayroll_updateEmployeeInformation
      security:
        - deelToken: []
        - oauth2:
            - people:write
      description: Update Global Payroll employee information.
      parameters:
        - $ref: '#/components/parameters/ParamWorkerId'
      requestBody:
        $ref: '#/components/requestBodies/RequestBodyForGPEmployeeEmployeeUpdate'
      responses:
        '200':
          $ref: '#/components/responses/ResponseBodyForGPEmployeeInformationUpdate'
        '401':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '403':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '404':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '500':
          $ref: '#/components/responses/ResponseBodyForApiError'
  /gp/workers/{worker_id}/payslips/{payslip_id}/download:
    get:
      tags:
        - Global Payroll
      summary: Download payslip PDF
      operationId: GlobalPayroll_getPayslipDownloadUrl
      security:
        - deelToken: []
        - oauth2:
            - payslips:read
      description: Get download url for GP payslip.
      parameters:
        - $ref: '#/components/parameters/ParamWorkerId'
        - $ref: '#/components/parameters/PayslipId'
      responses:
        '200':
          $ref: '#/components/responses/ResponseBodyForGPPayslipDownloadUrl'
        '401':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '403':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '404':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '500':
          $ref: '#/components/responses/ResponseBodyForApiError'
  /gp/legal-entities/{legal_entity_id}/reports:
    get:
      tags:
        - Global Payroll
      summary: List payroll events by legal entity
      operationId: GlobalPayroll_listPayrollEventsByLegalEntity
      security:
        - deelToken: []
        - oauth2:
            - global-payroll:read
      description: Get list of global payroll events by legal entities.
      parameters:
        - $ref: '#/components/parameters/ParamLegalEntityId'
        - $ref: '#/components/parameters/ParamPayrollReportStartDate'
      responses:
        '200':
          $ref: '#/components/responses/ResponseBodyForGPPayrollEventReport'
        '401':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '403':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '404':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '500':
          $ref: '#/components/responses/ResponseBodyForApiError'
  /gp/reports/{gp_report_id}/gross_to_net:
    get:
      tags:
        - Global Payroll
      summary: List gross-to-net report
      operationId: GlobalPayroll_getGrossToNetGpReport
      security:
        - deelToken: []
        - oauth2:
            - global-payroll:read
      description: Get list of global payroll reports detailing gross-to-net calculations.
      parameters:
        - $ref: '#/components/parameters/ParamGlobalPayrollReportId'
      responses:
        '200':
          $ref: '#/components/responses/ResponseBodyForGlobalPayrollG2NReport'
        '401':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '403':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '404':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '500':
          $ref: '#/components/responses/ResponseBodyForApiError'
  /gp/reports/{gp_report_id}/gross_to_net/csv:
    get:
      tags:
        - Global Payroll
      summary: Download gross-to-net report
      operationId: GlobalPayroll_downloadGrossToNetGpReport
      security:
        - deelToken: []
        - oauth2:
            - global-payroll:read
      description: Download global payroll reports detailing gross-to-net calculations.
      parameters:
        - $ref: '#/components/parameters/ParamGlobalPayrollReportId'
      responses:
        '200':
          $ref: '#/components/responses/ResponseBodyForGlobalPayrollG2NReportCsv'
        '401':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '403':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '404':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '500':
          $ref: '#/components/responses/ResponseBodyForApiError'
  /gp/workers/{worker_id}/terminations:
    post:
      tags:
        - Global Payroll
      summary: Request termination
      operationId: GlobalPayroll_requestTerminationProcess
      security:
        - deelToken: []
        - oauth2:
            - global-payroll:write
      description: >-
        Request a termination for a global payroll employee. A successful call
        starts the termination process and does not confirm termination.
      parameters:
        - $ref: '#/components/parameters/ParamWorkerId'
      requestBody:
        $ref: '#/components/requestBodies/RequestBodyForWorkerTermination'
      responses:
        '201':
          $ref: '#/components/responses/ResponseBodyForWorkerTermination'
        '401':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '403':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '404':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '500':
          $ref: '#/components/responses/ResponseBodyForApiError'
  /adjustments:
    post:
      tags:
        - Adjustments
      summary: Create a new adjustment
      operationId: Adjustments_createNewAdjustment
      security:
        - deelToken: []
        - oauth2:
            - adjustments:write
      description: Create a new adjustment.
      requestBody:
        $ref: '#/components/requestBodies/RequestBodyToCreateAdjustment'
      responses:
        '201':
          $ref: '#/components/responses/ResponseBodyForAdjustmentCreated'
        '401':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '403':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '404':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '500':
          $ref: '#/components/responses/ResponseBodyForApiError'
  /adjustments/{adjustment_id}:
    get:
      tags:
        - Adjustments
      summary: Retrieve an adjustment
      operationId: Adjustments_getById
      security:
        - deelToken: []
        - oauth2:
            - adjustments:read
      description: Retrieve an adjustment.
      parameters:
        - $ref: '#/components/parameters/ParamAdjustmentId'
      responses:
        '200':
          $ref: '#/components/responses/ResponseBodyForAdjustmentById'
        '401':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '403':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '404':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '500':
          $ref: '#/components/responses/ResponseBodyForApiError'
    patch:
      tags:
        - Adjustments
      summary: Update an adjustment
      operationId: Adjustments_updateAdjustment
      security:
        - deelToken: []
        - oauth2:
            - adjustments:write
      description: Update an adjustment.
      parameters:
        - $ref: '#/components/parameters/ParamAdjustmentId'
      requestBody:
        $ref: '#/components/requestBodies/RequestBodyToUpdateAdjustment'
      responses:
        '200':
          $ref: '#/components/responses/ResponseBodyForGenericResultUpdated'
        '401':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '403':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '404':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '500':
          $ref: '#/components/responses/ResponseBodyForApiError'
    delete:
      tags:
        - Adjustments
      summary: Delete an adjustment
      operationId: Adjustments_removeAdjustment
      security:
        - deelToken: []
        - oauth2:
            - adjustments:write
      description: Delete an adjustment.
      parameters:
        - $ref: '#/components/parameters/ParamAdjustmentId'
      responses:
        '200':
          $ref: '#/components/responses/ResponseBodyForGenericResultDeleted'
        '401':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '403':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '404':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '500':
          $ref: '#/components/responses/ResponseBodyForApiError'
  /adjustments/categories:
    get:
      tags:
        - Adjustments
      summary: Retrieve categories
      operationId: Adjustments_getCategories
      security:
        - deelToken: []
        - oauth2:
            - adjustments:read
      description: Get all categories for your organization.
      responses:
        '200':
          $ref: '#/components/responses/ResponseBodyForAdjustmentsCategories'
        '401':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '403':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '404':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '500':
          $ref: '#/components/responses/ResponseBodyForApiError'
  /candidates:
    post:
      tags:
        - Candidates
      summary: Add Candidate
      operationId: Candidates_addCandidateToDeel
      security:
        - deelToken: []
        - oauth2:
            - candidates:write
      description: Add a candidate to Deel.
      requestBody:
        $ref: '#/components/requestBodies/RequestBodyToCreateCandidate'
      responses:
        '201':
          $ref: '#/components/responses/ResponseBodyForGenericResultCreated'
        '400':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '401':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '403':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '404':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '405':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '429':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '500':
          $ref: '#/components/responses/ResponseBodyForApiError'
      x-forbidden-token-types:
        - personal
        - organization
  /candidates/{candidate_id}:
    patch:
      tags:
        - Candidates
      summary: Update Candidate
      operationId: Candidates_updateCandidateById
      security:
        - deelToken: []
        - oauth2:
            - candidates:write
      description: Update an existed candidate.
      parameters:
        - $ref: '#/components/parameters/ParamCandidateId'
      requestBody:
        $ref: '#/components/requestBodies/RequestBodyToPatchCandidate'
      responses:
        '200':
          $ref: '#/components/responses/ResponseBodyForGenericResultUpdated'
        '400':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '401':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '403':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '404':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '405':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '429':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '500':
          $ref: '#/components/responses/ResponseBodyForApiError'
      x-forbidden-token-types:
        - personal
        - organization
  /partner-managed/employees/{employee_id}/contracts/{contract_id}/additional-information:
    post:
      tags:
        - Partner Managed
      summary: Add additional information
      operationId: PartnerManaged_addAdditionalInformationForEorEmployee
      security:
        - deelToken: []
        - oauth2:
            - contracts:write
      description: Add additional information for an EOR employee.
      parameters:
        - $ref: '#/components/parameters/ParamEmployeeId'
        - $ref: '#/components/parameters/ParamContractId'
      requestBody:
        $ref: '#/components/requestBodies/RequestBodyToAdditionalEORInfo'
      responses:
        '201':
          $ref: '#/components/responses/ResponseBodyForGenericResultUpdated'
        '400':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '401':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '403':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '404':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '405':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '429':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '500':
          $ref: '#/components/responses/ResponseBodyForApiError'
      x-forbidden-token-types:
        - personal
        - organization
        - oauth2
  /partner-managed/employees/{employee_id}/contracts/{contract_id}/signatures:
    post:
      tags:
        - Partner Managed
      summary: Sign a contract
      operationId: PartnerManaged_signContract
      security:
        - deelToken: []
        - oauth2:
            - contracts:write
      description: Sign a contract as a employee.
      parameters:
        - $ref: '#/components/parameters/ParamEmployeeId'
        - $ref: '#/components/parameters/ParamContractId'
      requestBody:
        $ref: >-
          #/components/requestBodies/RequestBodyToCreateEmployeeContractSignature
      responses:
        '201':
          $ref: '#/components/responses/ResponseBodyForGenericResultCreated'
        '400':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '401':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '403':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '404':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '405':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '429':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '500':
          $ref: '#/components/responses/ResponseBodyForApiError'
      x-forbidden-token-types:
        - personal
        - organization
        - oauth2
  /partner-managed/employees/{employee_id}/contracts/{contract_id}/custom-verification-letter:
    post:
      tags:
        - Partner Managed
      summary: Request custom verification letter
      operationId: PartnerManaged_requestCustomVerificationLetter
      security:
        - deelToken: []
        - oauth2:
            - contracts:write
      description: >-
        Request employment verification letters, visa support, bank verification
        and more.
      parameters:
        - $ref: '#/components/parameters/ParamEmployeeId'
        - $ref: '#/components/parameters/ParamContractId'
      requestBody:
        $ref: >-
          #/components/requestBodies/RequestBodyToRequestCustomVerificationLetter
      responses:
        '201':
          $ref: '#/components/responses/ResponseBodyForGenericResultCreated'
        '400':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '401':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '403':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '404':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '405':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '429':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '500':
          $ref: '#/components/responses/ResponseBodyForApiError'
      x-forbidden-token-types:
        - personal
        - organization
        - oauth2
  /partner-managed/employees/{employee_id}/contracts/{contract_id}/hr-documents:
    get:
      tags:
        - Partner Managed
      summary: List HR verification letters and documents
      operationId: PartnerManaged_listHrVerificationLettersAndDocuments
      security:
        - deelToken: []
        - oauth2:
            - contracts:read
      description: List all HR verification letters and documents available.
      parameters:
        - $ref: '#/components/parameters/ParamEmployeeId'
        - $ref: '#/components/parameters/ParamContractId'
      responses:
        '200':
          $ref: >-
            #/components/responses/ResponseBodyForHrVerificationLettersAndDocuments
        '400':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '401':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '403':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '404':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '405':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '429':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '500':
          $ref: '#/components/responses/ResponseBodyForApiError'
      x-forbidden-token-types:
        - personal
        - organization
        - oauth2
  /partner-managed/employees/{employee_id}/contracts/{contract_id}/hr-documents/{document_id}/download:
    get:
      tags:
        - Partner Managed
      summary: Download HR verification letters and documents
      operationId: PartnerManaged_downloadHrVerificationLettersAndDocuments
      security:
        - deelToken: []
        - oauth2:
            - contracts:read
      description: Retrieve URL to download HR verification letters and documents.
      parameters:
        - $ref: '#/components/parameters/ParamEmployeeId'
        - $ref: '#/components/parameters/ParamContractId'
        - $ref: '#/components/parameters/ParamDocumentId'
      responses:
        '200':
          $ref: >-
            #/components/responses/ResponseBodyForDownloadHrVerificationLettersAndDocuments
        '400':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '401':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '403':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '404':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '405':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '429':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '500':
          $ref: '#/components/responses/ResponseBodyForApiError'
      x-forbidden-token-types:
        - personal
        - organization
        - oauth2
  /partner-managed/employees/{employee_id}/contracts/{contract_id}/offer-letter:
    get:
      tags:
        - Partner Managed
      summary: Preview job offer letter
      operationId: PartnerManaged_previewJobOfferLetter
      security:
        - deelToken: []
        - oauth2:
            - contracts:read
      description: >-
        Retrieve an EOR job offer letter in HTML. This endpoint does not support
        IC and Global Payroll contract types.
      parameters:
        - $ref: '#/components/parameters/ParamEmployeeId'
        - $ref: '#/components/parameters/ParamContractId'
      responses:
        '200':
          $ref: '#/components/responses/ResponseBodyForContractPreview'
        '400':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '401':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '403':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '404':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '405':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '429':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '500':
          $ref: '#/components/responses/ResponseBodyForApiError'
      x-forbidden-token-types:
        - personal
        - organization
        - oauth2
  /partner-managed/employees/{employee_id}/contracts/{contract_id}/employee-agreement:
    get:
      tags:
        - Partner Managed
      summary: Preview employee agreement
      operationId: PartnerManaged_getEmployeeAgreementHtml
      security:
        - deelToken: []
        - oauth2:
            - contracts:read
      description: Retrieve an EOR Employee Agreement content in HTML.
      parameters:
        - $ref: '#/components/parameters/ParamEmployeeId'
        - $ref: '#/components/parameters/ParamContractId'
      responses:
        '200':
          $ref: '#/components/responses/ResponseBodyForContractPreview'
        '400':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '401':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '403':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '404':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '405':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '429':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '500':
          $ref: '#/components/responses/ResponseBodyForApiError'
      x-forbidden-token-types:
        - personal
        - organization
        - oauth2
  /partner-managed/employees/{employee_id}/contracts/{contract_id}/employee-agreement/download:
    get:
      tags:
        - Partner Managed
      summary: Download employee agreement PDF
      operationId: PartnerManaged_downloadEmployeeAgreementPdf
      security:
        - deelToken: []
        - oauth2:
            - contracts:read
      description: Get link to download the employee agreement PDF.
      parameters:
        - $ref: '#/components/parameters/ParamEmployeeId'
        - $ref: '#/components/parameters/ParamContractId'
      responses:
        '200':
          $ref: '#/components/responses/ResponseBodyForEmployeeAgreementDownload'
        '400':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '401':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '403':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '404':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '405':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '429':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '500':
          $ref: '#/components/responses/ResponseBodyForApiError'
      x-forbidden-token-types:
        - personal
        - organization
        - oauth2
  /partner-managed/employees/{employee_id}/banks/guide:
    get:
      tags:
        - Partner Managed
      summary: Bank account form
      operationId: PartnerManaged_getBankGuideForEorEmployee
      security:
        - deelToken: []
        - oauth2:
            - contracts:read
      description: >-
        Retrieve bank account form guide for an EOR employee. This data can be
        used to add a new bank account for an employee.
      parameters:
        - $ref: '#/components/parameters/ParamEmployeeId'
      responses:
        '200':
          $ref: '#/components/responses/ResponseBodyForBankAccountGuide'
        '400':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '401':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '403':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '404':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '405':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '429':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '500':
          $ref: '#/components/responses/ResponseBodyForApiError'
      x-forbidden-token-types:
        - personal
        - organization
        - oauth2
  /partner-managed/employees/{employee_id}/banks:
    post:
      tags:
        - Partner Managed
      summary: Add bank account
      operationId: PartnerManaged_addBankAccountForEorEmployee
      security:
        - deelToken: []
        - oauth2:
            - contracts:write
      description: Add bank account for an EOR employee.
      parameters:
        - $ref: '#/components/parameters/ParamEmployeeId'
      requestBody:
        $ref: '#/components/requestBodies/RequestBodyToAddEmployeeBankAccount'
      responses:
        '201':
          $ref: '#/components/responses/ResponseBodyForEmployeeBankAccountAdded'
        '400':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '401':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '403':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '404':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '405':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '429':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '500':
          $ref: '#/components/responses/ResponseBodyForApiError'
      x-forbidden-token-types:
        - personal
        - organization
        - oauth2
  /partner-managed/employees/{employee_id}/banks/{bank_id}:
    patch:
      tags:
        - Partner Managed
      summary: Modify bank account for an EOR employee
      operationId: PartnerManaged_modifyBankAccountForEorEmployee
      security:
        - deelToken: []
        - oauth2:
            - contracts:write
      description: Modify bank account for an EOR employee.
      parameters:
        - $ref: '#/components/parameters/ParamEmployeeId'
        - $ref: '#/components/parameters/ParamEmployeeBankAccountId'
      requestBody:
        $ref: '#/components/requestBodies/RequestBodyToModifyEmployeeBankAccount'
      responses:
        '200':
          $ref: '#/components/responses/ResponseBodyForEmployeeBankAccountAdded'
        '400':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '401':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '403':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '404':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '405':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '429':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '500':
          $ref: '#/components/responses/ResponseBodyForApiError'
      x-forbidden-token-types:
        - personal
        - organization
        - oauth2
  /partner-managed/employees/{employee_id}/payslips:
    get:
      tags:
        - Partner Managed
      summary: Get list of payslips for an EOR employee
      operationId: PartnerManaged_listPayslipsForEorEmployee
      security:
        - deelToken: []
        - oauth2:
            - contracts:read
      description: Get list of payslips for an EOR employee.
      parameters:
        - $ref: '#/components/parameters/ParamEmployeeId'
      responses:
        '200':
          $ref: '#/components/responses/ResponseBodyForEmployeePayslipsList'
        '400':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '401':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '403':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '404':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '405':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '429':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '500':
          $ref: '#/components/responses/ResponseBodyForApiError'
      x-forbidden-token-types:
        - personal
        - organization
        - oauth2
  /partner-managed/employees/{employee_id}/compliance-documents:
    get:
      tags:
        - Partner Managed
      summary: List of employee compliance documents
      operationId: PartnerManaged_listEmployeeComplianceDocuments
      security:
        - deelToken: []
        - oauth2:
            - contracts:read
      description: Get a list of employee compliance documents.
      parameters:
        - $ref: '#/components/parameters/ParamEmployeeId'
      responses:
        '200':
          $ref: '#/components/responses/ResponseBodyForGetEmployeeComplianceDocuments'
        '400':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '401':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '403':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '404':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '405':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '429':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '500':
          $ref: '#/components/responses/ResponseBodyForApiError'
      x-forbidden-token-types:
        - personal
        - organization
        - oauth2
  /partner-managed/employees/{employee_id}/compliance-documents/{document_id}:
    post:
      tags:
        - Partner Managed
      summary: Upload employee compliance document
      operationId: PartnerManaged_uploadComplianceDocument
      security:
        - deelToken: []
        - oauth2:
            - contracts:write
      description: Upload an employee compliance document.
      parameters:
        - $ref: '#/components/parameters/ParamEmployeeId'
        - $ref: '#/components/parameters/ParamDocumentId'
      requestBody:
        $ref: >-
          #/components/requestBodies/RequestBodyToUploadEmployeeComplianceDocument
      responses:
        '200':
          $ref: >-
            #/components/responses/ResponseBodyForUploadEmployeeComplianceDocument
        '400':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '401':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '403':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '404':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '405':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '429':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '500':
          $ref: '#/components/responses/ResponseBodyForApiError'
      x-forbidden-token-types:
        - personal
        - organization
        - oauth2
  /partner-managed/employees/{employee_id}/compliance-documents/{document_id}/templates/download:
    get:
      tags:
        - Partner Managed
      summary: Download employee compliance document template
      operationId: PartnerManaged_downloadComplianceDocumentTemplate
      security:
        - deelToken: []
        - oauth2:
            - contracts:read
      description: >-
        Get the download link for an employee compliance document template, if
        it exists.
      parameters:
        - $ref: '#/components/parameters/ParamEmployeeId'
        - $ref: '#/components/parameters/ParamDocumentId'
      responses:
        '200':
          $ref: >-
            #/components/responses/ResponseBodyForGetEmployeeComplianceDocumentTemplateDownloadLink
        '400':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '401':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '403':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '404':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '405':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '429':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '500':
          $ref: '#/components/responses/ResponseBodyForApiError'
      x-forbidden-token-types:
        - personal
        - organization
        - oauth2
  /partner-managed/employees/{employee_id}/tax-documents:
    get:
      tags:
        - Partner Managed
      summary: List of tax documents for an employee
      operationId: PartnerManaged_listTaxDocumentsForEmployee
      security:
        - deelToken: []
        - oauth2:
            - contracts:read
      description: Get list of tax documents for an employee.
      parameters:
        - $ref: '#/components/parameters/ParamEmployeeId'
      responses:
        '200':
          $ref: '#/components/responses/ResponseBodyForEmployeeTaxDocumentsList'
        '400':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '401':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '403':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '404':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '405':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '429':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '500':
          $ref: '#/components/responses/ResponseBodyForApiError'
      x-forbidden-token-types:
        - personal
        - organization
        - oauth2
  /contracts/task-based:
    post:
      tags:
        - Contractors
      summary: Create a new contract (task-based)
      operationId: Contractors_createNewTaskBasedContract
      security:
        - deelToken: []
        - oauth2:
            - contracts:write
      requestBody:
        $ref: '#/components/requestBodies/RequestBodyToCreateContractTaskBased'
      responses:
        '201':
          $ref: '#/components/responses/ResponseBodyForContractCreatedTaskBased'
        '400':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '401':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '403':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '404':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '405':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '429':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '500':
          $ref: '#/components/responses/ResponseBodyForApiError'
      x-internal: true
  /contracts/milestone-based:
    post:
      tags:
        - Contractors
      summary: Create a new contract (milestone-based)
      operationId: Contractors_createNewMilestoneContract
      security:
        - deelToken: []
        - oauth2:
            - contracts:write
      requestBody:
        $ref: '#/components/requestBodies/RequestBodyToCreateContractMilestoneBased'
      responses:
        '201':
          $ref: '#/components/responses/ResponseBodyForContractCreatedMilestoneBased'
        '400':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '401':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '403':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '404':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '405':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '429':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '500':
          $ref: '#/components/responses/ResponseBodyForApiError'
      x-internal: true
  /contracts/fixed-rate:
    post:
      tags:
        - Contractors
      summary: Create a new contract (fixed-rate)
      operationId: Contractors_createNewFixedRateContract
      security:
        - deelToken: []
        - oauth2:
            - contracts:write
      requestBody:
        $ref: '#/components/requestBodies/RequestBodyToCreateContractFixedRate'
      responses:
        '201':
          $ref: '#/components/responses/ResponseBodyForContractCreatedFixedRate'
        '400':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '401':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '403':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '404':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '405':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '429':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '500':
          $ref: '#/components/responses/ResponseBodyForApiError'
      x-internal: true
  /contracts:
    get:
      tags:
        - Contracts
      summary: List of contracts
      operationId: Contracts_getList
      security:
        - deelToken: []
        - oauth2:
            - contracts:write
            - contracts:read
      description: Retrieve a list of contracts.
      parameters:
        - $ref: '#/components/parameters/ParamAfterCursor'
        - $ref: '#/components/parameters/ParamLimit'
        - $ref: '#/components/parameters/ParamSortDir'
        - $ref: '#/components/parameters/ParamContractsTypeList'
        - $ref: '#/components/parameters/ParamContractsStatusList'
        - $ref: '#/components/parameters/ParamContractsTeamId'
        - $ref: '#/components/parameters/ParamContractsExternalId'
        - $ref: '#/components/parameters/ParamContractsCountryCodeList'
        - $ref: '#/components/parameters/ParamContractsCurrencyCodeList'
        - $ref: '#/components/parameters/ParamContractsSearchTerm'
        - $ref: '#/components/parameters/ParamContractsSortBy'
      responses:
        '200':
          $ref: '#/components/responses/ResponseBodyForContractList'
        '400':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '401':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '403':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '404':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '405':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '429':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '500':
          $ref: '#/components/responses/ResponseBodyForApiError'
    post:
      tags:
        - Contractors
      summary: Create a new contract
      operationId: Contractors_createNewDeelContract
      security:
        - deelToken: []
        - oauth2:
            - contracts:write
      description: Create a new Deel contract.
      requestBody:
        $ref: '#/components/requestBodies/RequestBodyToCreateContract'
      responses:
        '201':
          $ref: '#/components/responses/ResponseBodyForContractCreated'
        '400':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '401':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '403':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '404':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '405':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '429':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '500':
          $ref: '#/components/responses/ResponseBodyForApiError'
  /contracts/{contract_id}:
    get:
      tags:
        - Contracts
      summary: Retrieve a single contract
      operationId: Contracts_getSingleContract
      security:
        - deelToken: []
        - oauth2:
            - contracts:write
            - contracts:read
      description: Retrieve a single contract.
      parameters:
        - $ref: '#/components/parameters/ParamContractId'
      responses:
        '200':
          $ref: '#/components/responses/ResponseBodyForContractDetails'
        '400':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '401':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '403':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '404':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '405':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '429':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '500':
          $ref: '#/components/responses/ResponseBodyForApiError'
    patch:
      tags:
        - Contracts
      summary: External Id
      operationId: Contracts_addExternalId
      security:
        - deelToken: []
        - oauth2:
            - contracts:write
      description: >-
        Add an external Id to a Deel contract. You can use this to add a Deel
        contract's refernece Id in your platform. External Id can be passed as a
        query parameter in List contract endpoint to find this conract later.
      parameters:
        - $ref: '#/components/parameters/ParamContractId'
      requestBody:
        $ref: '#/components/requestBodies/RequestBodyToPatchExternalId'
      responses:
        '200':
          $ref: '#/components/responses/ResponseBodyForContractExternalIdPatched'
        '400':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '401':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '403':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '404':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '405':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '429':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '500':
          $ref: '#/components/responses/ResponseBodyForApiError'
  /contracts/{contract_id}/documents:
    post:
      tags:
        - Contracts
      summary: Attach a file to contract
      operationId: Contracts_attachFileToDocument
      security:
        - deelToken: []
        - oauth2:
            - contracts:write
            - contracts:read
      description: Attach a file to contract document.
      parameters:
        - $ref: '#/components/parameters/ParamContractId'
      requestBody:
        $ref: '#/components/requestBodies/RequestFormForContractDocument'
      responses:
        '200':
          $ref: '#/components/responses/ResponseBodyForContractDocument'
        '400':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '401':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '403':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '404':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '405':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '429':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '500':
          $ref: '#/components/responses/ResponseBodyForApiError'
    put:
      tags:
        - Contracts
      summary: Edit the file attached to contract document.
      operationId: Contracts_editFileAttachment
      security:
        - deelToken: []
        - oauth2:
            - contracts:write
            - contracts:read
      description: Overwrite the file currently attached to contract document.
      parameters:
        - $ref: '#/components/parameters/ParamContractId'
      requestBody:
        $ref: '#/components/requestBodies/RequestFormForContractDocument'
      responses:
        '200':
          $ref: '#/components/responses/ResponseBodyForContractDocument'
        '400':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '401':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '403':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '404':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '405':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '429':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '500':
          $ref: '#/components/responses/ResponseBodyForApiError'
  /contracts/{contract_id}/preview:
    get:
      tags:
        - Contractors
      summary: Preview a contract agreement
      operationId: Contractors_getContractPreview
      security:
        - deelToken: []
        - oauth2:
            - contracts:write
            - contracts:read
      description: >-
        Retrieve an IC and EOR contract agreement content in HTML. If no
        template is specified, the default or currently assigned template will
        be used. This endpoint does not support Global Payroll contract type.
      parameters:
        - $ref: '#/components/parameters/ParamContractId'
        - $ref: '#/components/parameters/ParamContractTemplateIdInQuery'
      responses:
        '200':
          $ref: '#/components/responses/ResponseBodyForContractPreview'
        '400':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '401':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '403':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '404':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '405':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '429':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '500':
          $ref: '#/components/responses/ResponseBodyForApiError'
  /contracts/{contract_id}/tasks:
    get:
      tags:
        - Tasks
      summary: List of tasks
      operationId: Tasks_getContractTasks
      security:
        - deelToken: []
        - oauth2:
            - contracts:write
            - contracts:read
      description: Retrieve a list of tasks for a given contract.
      parameters:
        - $ref: '#/components/parameters/ParamContractId'
      responses:
        '200':
          $ref: '#/components/responses/ResponseBodyForTaskList'
        '400':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '401':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '403':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '404':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '405':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '429':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '500':
          $ref: '#/components/responses/ResponseBodyForApiError'
    post:
      tags:
        - Tasks
      summary: Create new task
      operationId: Tasks_createNewTask
      security:
        - deelToken: []
        - oauth2:
            - contracts:write
      description: Create a new task for the contractor.
      parameters:
        - $ref: '#/components/parameters/ParamContractId'
      requestBody:
        $ref: '#/components/requestBodies/RequestBodyToCreatePgoTask'
      responses:
        '201':
          $ref: '#/components/responses/ResponseBodyForTaskCreated'
        '400':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '401':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '403':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '404':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '405':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '429':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '500':
          $ref: '#/components/responses/ResponseBodyForApiError'
  /contracts/{contract_id}/alternate_emails:
    get:
      tags:
        - Contracts
      summary: Find contract emails by ID
      operationId: Contracts_findEmailsById
      security:
        - deelToken: []
        - oauth2:
            - contracts:write
            - contracts:read
      description: Returns an array of alternate email objects
      parameters:
        - $ref: '#/components/parameters/ParamContractId'
      responses:
        '200':
          $ref: '#/components/responses/ResponseBodyForAlternateEmailList'
        '400':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '401':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '403':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '404':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '500':
          $ref: '#/components/responses/ResponseBodyForApiError'
  /contracts/{contract_id}/tasks/many/reviews:
    post:
      tags:
        - Tasks
      summary: Review multiple tasks
      operationId: Tasks_reviewManyTasks
      security:
        - deelToken: []
        - oauth2:
            - contracts:write
      description: Review multiple tasks to approve or decline the submitted work.
      parameters:
        - $ref: '#/components/parameters/ParamContractId'
      requestBody:
        $ref: '#/components/requestBodies/RequestBodyToCreatePgoTaskReviewsReviews'
      responses:
        '201':
          $ref: '#/components/responses/ResponseBodyForTaskList'
        '400':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '401':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '403':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '404':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '405':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '429':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '500':
          $ref: '#/components/responses/ResponseBodyForApiError'
  /contracts/{contract_id}/tasks/{task_id}/reviews:
    post:
      tags:
        - Tasks
      summary: Review a single task
      operationId: Tasks_submitTaskReview
      security:
        - deelToken: []
        - oauth2:
            - contracts:write
      description: Review a single task to approve or decline the submitted work.
      parameters:
        - $ref: '#/components/parameters/ParamContractId'
        - $ref: '#/components/parameters/ParamTaskId'
      requestBody:
        $ref: >-
          #/components/requestBodies/RequestBodyToCreatePgoTaskReviewsByIdReviews
      responses:
        '201':
          $ref: '#/components/responses/ResponseBodyForTaskList'
        '400':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '401':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '403':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '404':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '405':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '429':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '500':
          $ref: '#/components/responses/ResponseBodyForApiError'
  /contracts/{contract_id}/tasks/{task_id}:
    delete:
      tags:
        - Tasks
      summary: Delete task
      operationId: Tasks_deleteFromContract
      security:
        - deelToken: []
        - oauth2:
            - contracts:write
      description: Delete task from the contract.
      parameters:
        - $ref: '#/components/parameters/ParamContractId'
        - $ref: '#/components/parameters/ParamTaskId'
        - $ref: '#/components/parameters/ParamTaskDeletionReason'
      responses:
        '200':
          $ref: '#/components/responses/ResponseBodyForGenericResultDeleted'
        '400':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '401':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '403':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '404':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '405':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '429':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '500':
          $ref: '#/components/responses/ResponseBodyForApiError'
  /contracts/{contract_id}/amendments:
    post:
      tags:
        - Contractors
      summary: Amend contract
      operationId: Contractors_amendContractDetails
      security:
        - deelToken: []
        - oauth2:
            - contracts:write
      description: >-
        Amend the details of a contract. Please note that if the contract is
        already signed or active, then the update will have to be approved and
        re-signed for to take effect.
      parameters:
        - $ref: '#/components/parameters/ParamContractId'
      requestBody:
        $ref: '#/components/requestBodies/RequestBodyToAmendContractDetails'
      responses:
        '201':
          $ref: '#/components/responses/ResponseBodyForGenericResultCreated'
        '400':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '401':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '403':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '404':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '405':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '429':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '500':
          $ref: '#/components/responses/ResponseBodyForApiError'
  /contracts/{contract_id}/terminations:
    post:
      tags:
        - Contractors
      summary: Terminate contract
      operationId: Contractors_terminateContract
      security:
        - deelToken: []
        - oauth2:
            - contracts:write
      description: Terminate an active contract.
      parameters:
        - $ref: '#/components/parameters/ParamContractId'
      requestBody:
        $ref: '#/components/requestBodies/RequestBodyToCreateContractTermination'
      responses:
        '201':
          $ref: '#/components/responses/ResponseBodyForContractTerminationResult'
        '400':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '401':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '403':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '404':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '405':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '429':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '500':
          $ref: '#/components/responses/ResponseBodyForApiError'
  /contracts/{contract_id}/signatures:
    post:
      tags:
        - Contracts
      summary: Sign a contract
      operationId: Contracts_clientSignContract
      security:
        - deelToken: []
        - oauth2:
            - contracts:write
      description: Sign a contract as a client.
      parameters:
        - $ref: '#/components/parameters/ParamContractId'
      requestBody:
        $ref: '#/components/requestBodies/RequestBodyToCreateContractSignature'
      responses:
        '201':
          $ref: '#/components/responses/ResponseBodyForGenericResultCreated'
        '400':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '401':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '403':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '404':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '405':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '429':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '500':
          $ref: '#/components/responses/ResponseBodyForApiError'
      x-forbidden-token-types:
        - organization
  /contracts/{contract_id}/archive:
    patch:
      tags:
        - Contracts
      summary: Archive a contract
      operationId: Contracts_archiveContract
      security:
        - deelToken: []
        - oauth2:
            - contracts:write
      description: Archive a terminated, cancelled or completed contract.
      parameters:
        - $ref: '#/components/parameters/ParamContractId'
      responses:
        '204':
          $ref: '#/components/responses/ResponseBodyForGenericResultUpdated'
        '400':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '401':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '403':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '404':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '500':
          $ref: '#/components/responses/ResponseBodyForApiError'
      deprecated: true
  /contracts/{contract_id}/invitations:
    post:
      tags:
        - Contracts
      summary: Send contract to worker
      operationId: Contracts_inviteWorkerToSign
      security:
        - deelToken: []
        - oauth2:
            - contracts:write
      description: Invite a worker to sign the contract. Worker will be notified via email.
      parameters:
        - $ref: '#/components/parameters/ParamContractId'
      requestBody:
        $ref: '#/components/requestBodies/RequestBodyToCreateContractInvitation'
      responses:
        '201':
          $ref: '#/components/responses/ResponseBodyForGenericResultCreated'
        '400':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '401':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '403':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '404':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '405':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '429':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '500':
          $ref: '#/components/responses/ResponseBodyForApiError'
    delete:
      tags:
        - Contracts
      summary: Remove invite
      operationId: Contracts_removeInvite
      security:
        - deelToken: []
        - oauth2:
            - contracts:write
      description: Remove invite in order to re-invite a worker to sign the contract.
      parameters:
        - $ref: '#/components/parameters/ParamContractId'
      responses:
        '200':
          $ref: '#/components/responses/ResponseBodyForGenericResultDeleted'
        '400':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '401':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '403':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '404':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '405':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '429':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '500':
          $ref: '#/components/responses/ResponseBodyForApiError'
  /contracts/{contract_id}/timesheets:
    get:
      tags:
        - Timesheets
      summary: List of timesheets by contract
      operationId: Timesheets_listByContract
      security:
        - deelToken: []
        - oauth2:
            - timesheets:write
            - timesheets:read
      description: Retrieve a list of timesheets found for a contract.
      parameters:
        - $ref: '#/components/parameters/ParamContractId'
        - $ref: '#/components/parameters/ParamTimesheetsContractTypeList'
        - $ref: '#/components/parameters/ParamTimesheetsStatusList'
        - $ref: '#/components/parameters/ParamTimesheetsReporterId'
        - $ref: '#/components/parameters/ParamDateFrom'
        - $ref: '#/components/parameters/ParamDateTo'
        - $ref: '#/components/parameters/ParamTimesheetsLimit'
        - $ref: '#/components/parameters/ParamTimesheetsOffset'
      responses:
        '200':
          $ref: '#/components/responses/ResponseBodyForTimesheetList'
        '400':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '401':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '403':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '404':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '405':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '429':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '500':
          $ref: '#/components/responses/ResponseBodyForApiError'
  /contracts/{contract_id}/milestones:
    get:
      tags:
        - Milestones
      summary: List of milestones by contract
      operationId: Milestones_listByContract
      security:
        - deelToken: []
        - oauth2:
            - milestones:write
            - milestones:read
      description: Retrieve a list of milestones found for a contract.
      parameters:
        - $ref: '#/components/parameters/ParamContractId'
      responses:
        '200':
          $ref: '#/components/responses/ResponseBodyForMilestoneList'
        '400':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '401':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '403':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '404':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '405':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '429':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '500':
          $ref: '#/components/responses/ResponseBodyForApiError'
    post:
      tags:
        - Milestones
      summary: Create a milestone
      operationId: Milestones_createNewMilestone
      security:
        - deelToken: []
        - oauth2:
            - milestones:write
      description: Add a new milestone to contract.
      parameters:
        - $ref: '#/components/parameters/ParamContractId'
      requestBody:
        $ref: '#/components/requestBodies/RequestBodyToCreateMilestone'
      responses:
        '200':
          $ref: '#/components/responses/ResponseBodyForGenericResultCreated'
        '400':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '401':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '403':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '404':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '405':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '429':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '500':
          $ref: '#/components/responses/ResponseBodyForApiError'
  /contracts/{contract_id}/milestones/{milestone_id}:
    get:
      tags:
        - Milestones
      summary: Retrieve a single milestone
      operationId: Milestones_getSingleMilestone
      security:
        - deelToken: []
        - oauth2:
            - milestones:write
            - milestones:read
      description: Retrieve a single milestone.
      parameters:
        - $ref: '#/components/parameters/ParamContractId'
        - $ref: '#/components/parameters/ParamMilestoneId'
      responses:
        '200':
          $ref: '#/components/responses/ResponseBodyForMilestone'
        '400':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '401':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '403':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '404':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '405':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '429':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '500':
          $ref: '#/components/responses/ResponseBodyForApiError'
    delete:
      tags:
        - Milestones
      summary: Delete a milestone
      operationId: Milestones_deleteSingleMilestone
      security:
        - deelToken: []
        - oauth2:
            - milestones:write
      description: Delete a single milestone from a contract.
      parameters:
        - $ref: '#/components/parameters/ParamContractId'
        - $ref: '#/components/parameters/ParamMilestoneId'
      responses:
        '200':
          $ref: '#/components/responses/ResponseBodyForGenericResultDeleted'
        '400':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '401':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '403':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '404':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '405':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '429':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '500':
          $ref: '#/components/responses/ResponseBodyForApiError'
  /contracts/{contract_id}/milestones/{milestone_id}/reviews:
    post:
      tags:
        - Milestones
      summary: Review a single milestone
      operationId: Milestones_createReview
      security:
        - deelToken: []
        - oauth2:
            - milestones:write
      description: Review a milestone to approve or decline submitted work.
      parameters:
        - $ref: '#/components/parameters/ParamContractId'
        - $ref: '#/components/parameters/ParamMilestoneId'
      requestBody:
        $ref: '#/components/requestBodies/RequestBodyToCreateMilestoneReview'
      responses:
        '201':
          $ref: '#/components/responses/ResponseBodyForGenericResultCreated'
        '400':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '401':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '403':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '404':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '405':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '429':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '500':
          $ref: '#/components/responses/ResponseBodyForApiError'
  /contracts/{contract_id}/milestones/many/reviews:
    post:
      tags:
        - Milestones
      summary: Review multiple milestones
      operationId: Milestones_reviewMultiple
      security:
        - deelToken: []
        - oauth2:
            - timesheets:write
      description: Review a batch of milestones to approve or reject submitted work.
      parameters:
        - $ref: '#/components/parameters/ParamContractId'
      requestBody:
        $ref: '#/components/requestBodies/RequestBodyToCreateMilestoneReviews'
      responses:
        '201':
          $ref: '#/components/responses/ResponseBodyForGenericResultCreated'
        '400':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '401':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '403':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '404':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '405':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '429':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '500':
          $ref: '#/components/responses/ResponseBodyForApiError'
  /contracts/{contract_id}/off-cycle-payments:
    get:
      tags:
        - Off-cycle Payments
      summary: List of off-cycle payments
      operationId: OffcyclePayments_getList
      security:
        - deelToken: []
        - oauth2:
            - off-cycle-payments:write
            - off-cycle-payments:read
      description: Retrieve a list of off-cycle payments for the given contract id.
      parameters:
        - $ref: '#/components/parameters/ParamContractId'
      responses:
        '200':
          $ref: '#/components/responses/ResponseBodyForOffCyclePaymentList'
        '400':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '401':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '403':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '404':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '405':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '429':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '500':
          $ref: '#/components/responses/ResponseBodyForApiError'
    post:
      tags:
        - Off-cycle Payments
      summary: Add off-cycle payment
      operationId: OffcyclePayments_addPaymentInvoice
      security:
        - deelToken: []
        - oauth2:
            - off-cycle-payments:write
      description: >-
        Add a new invoice line-item for the purpose of off-cycle payment for a
        given contract.
      parameters:
        - $ref: '#/components/parameters/ParamContractId'
      requestBody:
        $ref: '#/components/requestBodies/RequestBodyToCreateOffCyclePayment'
      responses:
        '200':
          $ref: '#/components/responses/ResponseBodyForGenericResultCreatedWithId'
        '400':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '401':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '403':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '404':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '405':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '429':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '500':
          $ref: '#/components/responses/ResponseBodyForApiError'
  /contracts/{contract_id}/off-cycle-payments/{offcycle_payment_id}:
    get:
      tags:
        - Off-cycle Payments
      summary: Retrieve a single off-cycle payment
      operationId: OffcyclePayments_getSinglePayment
      security:
        - deelToken: []
        - oauth2:
            - off-cycle-payments:write
            - off-cycle-payments:read
      description: Retrieve a single off-cycle payment.
      parameters:
        - $ref: '#/components/parameters/ParamContractId'
        - $ref: '#/components/parameters/ParamOffCyclePaymentId'
      responses:
        '200':
          $ref: '#/components/responses/ResponseBodyForOffCyclePayment'
        '400':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '401':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '403':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '404':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '405':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '429':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '500':
          $ref: '#/components/responses/ResponseBodyForApiError'
  /contracts/{contract_id}/premium:
    post:
      tags:
        - Contractors
      summary: Upgrade to Premium
      operationId: Contractors_upgradeToPremium
      security:
        - deelToken: []
        - oauth2:
            - contracts:write
      description: >-
        Add additional protection against misclassification by upgrading to Deel
        Premium.
      parameters:
        - $ref: '#/components/parameters/ParamContractId'
      requestBody:
        $ref: '#/components/requestBodies/RequestBodyToAddPremium'
      responses:
        '201':
          $ref: '#/components/responses/ResponseBodyForPremiumResultAdded'
        '401':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '403':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '404':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '500':
          $ref: '#/components/responses/ResponseBodyForApiError'
    delete:
      tags:
        - Contractors
      summary: Downgrade from Premium
      operationId: Contractors_removePremium
      security:
        - deelToken: []
        - oauth2:
            - contracts:write
      description: Remove Deel Premium from an existing contract.
      parameters:
        - $ref: '#/components/parameters/ParamContractId'
        - $ref: '#/components/parameters/ParamPremiumDeletionReason'
      responses:
        '200':
          $ref: '#/components/responses/ResponseBodyForGenericResultDeleted'
        '400':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '401':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '403':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '404':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '405':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '429':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '500':
          $ref: '#/components/responses/ResponseBodyForApiError'
  /contracts/{contract_id}/final-payments:
    get:
      tags:
        - Contracts
      summary: Calculate final payment
      operationId: Contracts_calculateFinalPaymentAmount
      security:
        - deelToken: []
        - oauth2:
            - contracts:write
            - contracts:read
      description: >-
        Calculate the final payment due to the contractor when ending the
        contract.
      parameters:
        - $ref: '#/components/parameters/ParamContractId'
        - $ref: '#/components/parameters/ParamEndDate'
        - $ref: '#/components/parameters/ParamFinalPaymentCalculationType'
        - $ref: '#/components/parameters/ParamFinalPaymentWorkweekStart'
        - $ref: '#/components/parameters/ParamFinalPaymentWorkweekEnd'
      responses:
        '200':
          $ref: '#/components/responses/ResponseBodyForFinalPaymentCalculated'
        '401':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '403':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '404':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '500':
          $ref: '#/components/responses/ResponseBodyForApiError'
      x-internal: true
  /contracts/estimate:
    post:
      tags:
        - Contracts
      summary: Calculate first payment amount
      operationId: Contracts_calculateFirstPaymentAmount
      security:
        - deelToken: []
        - oauth2:
            - contracts:write
      description: >-
        First payment is calculated from the number of working/calendar days
        between their start date and the start of the payment cycle.
      requestBody:
        $ref: '#/components/requestBodies/RequestBodyToEstimateFirstPayment'
      responses:
        '200':
          $ref: '#/components/responses/ResponseBodyForEstimateFirstPayment'
        '401':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '403':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '404':
          $ref: '#/components/responses/ResponseBodyForApiError'
        '500':
          $ref: '#/components/responses/ResponseBodyForApiError'
  /contracts/{contract_id}/time-offs:
    get:
      tags:
        - Time Off
      summary: List time off by contract (obsolete)
      operationId: TimeOff_listByContract
      security:
        - deelToken: []
        - oauth2:
            - contracts:read
[...]
