openapi: 3.0.0
info:
  title: DocuSign REST API
  description: >-
    The DocuSign REST API provides you with a powerful, convenient, and simple
    Web services API for interacting with DocuSign.
  version: v2.1
  termsOfService: https://www.docusign.com/company/terms-and-conditions/web
  contact:
    name: DocuSign Developer Center
    url: https://developers.docusign.com/
    email: devcenter@docusign.com
  x-konfig-ignore:
    object-with-no-properties: true
servers:
  - url: https://www.docusign.net/restapi
tags:
  - description: >
      Describes the workflow for an envelope or template. These methods enable
      you to use the [scheduled sending](https://raw.githubusercontent.com) and
      [delayed routing](https://raw.githubusercontent.com) features.
    name: EnvelopeWorkflowDefinition
  - description: >-
      The Accounts resource provides methods that allow you to create, delete,
      and manage your accounts.
    name: Accounts
  - description: >-
      The Envelope resource provides methods that allow you to manipulate and
      monitor envelopes. 


      Once you have authenticated the user you can use the Envelopes:
      createEnvelope method to create an envelope. You can call the
      EnvelopeDocuments: update or EnvelopeDocuments: updateList method to add
      additional documents.


      Setting the `status` property on the envelope to `sent` allows you to send
      it or `created` to save it as a draft.


      You can receive envelope event notifications by setting the
      `eventNotification` properties. When the envelope or recipient status
      changes to one of the specified status codes, a notification is sent to a
      URL that you specify.


      If you have an envelope that you have previously saved, you can modify the
      subject and message, send it, void it, or place it in the purge queue
      using the Envelope: update method.


      In addition to receiving notifications you can monitor the status of the
      envelopes using the following methods:

      * Envelope: getEnvelope - To get the status of a envelope. 

      * Envelope: listStatus - To get the envelope status for a set of
      envelopes.

      * Envelope: listStatusChanges - To get status changes information for one
      or more envelopes. 


      If you need to delete a page from a document in an envelope, use the
      Envelope: deleteDocumentPage method.


      The resource also includes a number of methods that allow you to retrieve
      and set the initials and signature for certain types of recipients on the
      document.
    name: Envelopes
  - description: >-
      The AcccountBrands resource provides methods that enable you to create and
      manage brands for an account.


      Branding enables you to add the look and feel of your organization's brand
      to the sending, signing, and email processes, making it easier for
      recipients to identify envelopes coming from your organization.


      The DocuSign Account Custom Branding feature enables you to set the
      colors, logo, and text that recipients see at the account level. The
      settings associated with a brand are applied to all of the envelopes that
      use the brand. You can create multiple brand profiles for different
      corporate brands or internal departments.


      **Note:** To use this resource, branding for either signing or sending
      must be enabled for the account (either `canSelfBrandSend`,
      `canSelfBrandSign`, or both of these account settings must be set to
      **true**). 
    name: AccountBrands
  - description: >-
      The Template resource provides methods that allow you to manipulate and
      monitor templates. 


      Once you have authenticated the user you can use the Templates:
      createTemplate method to create a template. You can call the
      TemplateDocuments: update or TemplateDocuments: updateList method to add
      more documents.


      If you have a template that you have previously saved, you can modify the
      subject and message, send it, void it, or purge it from the DocuSign
      system using the Template: update method.


      In addition to receiving notifications, you can monitor the status of the
      templates using the following methods:


      * Template: getTemplate - Gets the status of a template. 

      * Template: listStatus - Gets the status for a set of templates.

      * Template: listStatusChanges - Gets status change information for one or
      more templates. 


      If you need to delete a page from a document in a template, use the
      Template: deleteDocumentPage method.


      The resource also includes a number of methods that allow you to retrieve
      and set the initials and signature for certain types of recipients on the
      document.
    name: Templates
  - description: >+
      You can use bulk send lists send documents to a large number of recipients
      on a

      recurring basis. You can use a bulk send list to send up to 1,000 copies
      at a time.


      After you create a bulk send list, it persists and can be reused and
      edited any number of times.


      You can customize individual copies of the envelope. For example, you can
      customize the email notification and

      language and add personalized notes.


      ### Requirements and limitations


      * Bulk send must be enabled for your account. To enable this feature,
      contact your Account Manager or Business Development representative.

      * You can include up to 1,000 bulk recipients in each request.

      * When you send an envelope with bulk recipients, envelopes are added to a
      bulk recipient queue and sent in a metered fashion.
        An account can have a total of 2,000 total envelopes in the queue at a time.
        If you reach this limit, you will get an error message. Wait and resend the envelope at a later time.
        If you hit queue limits often, contact your Account Manager to see about modifying the queue limits for your account.

      ### Related topics


      - [Bulk sending envelopes](https://raw.githubusercontent.com) concept
      guide

      - [How to bulk send envelopes](https://raw.githubusercontent.com)

    name: BulkSend
  - description: >+
      The `ConnectConfigurations` resource enables you to configure the

      DocuSign Connect service for your account.


      You can use this resource to configure account-level webhooks

      that send notifications about every envelope sent from your

      account. You can set account-level webhooks to listen for events

      for envelopes sent by a specific user on your account, by

      multiple specific users, or from any of the users on your

      account. These events will be tracked, and can be delivered to a

      listening application.


      **Note:** To create an envelope-level webhook instead of using

      account-level webhooks, use the Envelopes::Create method and add

      an `eventNotification` object to an envelope object.



      DocuSign Connect offers two delivery modes:


      - Send Individual Messages

      - Send Aggregated Messages


      By default, the Send Individual Messages mode

      is enabled.

      You can disable it

      (enabling Aggregated Messages mode)

      through DocuSign Admin

      in the **Updates** section.



      **Note:** In either mode, Connect

      [must be
      enabled](https://support.docusign.com/s/document-item?bundleId=pik1583277475390&topicId=ctv1583277395112.html)

      in your DocuSign account. It is not enabled by default.



      ## Send Individual Messages


      Send Individual Messages (SIM) mode is the default.


      In this mode DocuSign delivers notifications for each

      envelope events individually.

      When a final recipient completes an envelope,

      your listener will receive

      a single **Recipient Signed/Completed** event

      followed by a single **Envelope Signed/Completed** event

      for the final participating party on the agreement.


      For more information about SIM mode, see

      [Using Connect's Send Individual Messages
      Feature](https://www.docusign.com/blog/developers/using-connects-send-individual-messages-feature).




      ## Aggregated Messages


      In Aggregated Messages mode,

      Connect aggregates similar events

      into a single delivery.

      Similar or simultaneous events

      are aggregated,

      so that your listener doesn't

      receive extraneous messages.


      When the final recipient signs an envelope,  the

      system delivers a single, aggregated Connect event, rather than

      separate Recipient: complete and Envelope: complete messages.

      This aggregation process ensures that you only receive the

      minimal viable number of messages about an envelope's life cycle.


    name: ConnectConfigurations
  - description: >-
      The Users resource provides methods that enable you to manage users for an
      account.


      The following User methods do not use the `title` property in the Users
      object:


      - create

      - delete

      - deleteProfileImage

      - get

      - getProfileImage

      - getSettings

      - list

      - update

      - updateList

      - updateProfileImag

      - updateSettings


      Instead, you can retrieve and set the user's job title by using the
      UserProfiles:Get and UserProfiles:Update methods. For more information,
      see [UserProfiles](https://raw.githubusercontent.com).
    name: Users
  - description: >-
      The UserSignatures resource provides methods that allow you manage the 
      initials and signature images for a user.
    name: UserSignatures
  - description: >-
      In certain countries, stamps are used to certify documents. This resource
      provides methods to manage stamps available in your account.


      To use these endpoints, your account must have Managed Stamps enabled.
      Contact your DocuSign account manager for more information.


      ### Related topics

      - [Sending and Signing with
      eHanko](https://support.docusign.com/s/articles/Sending-and-Signing-with-eHanko)

      - [DocuSign eSignature Admin Guide:
      Stamps](https://support.docusign.com/s/document-item?=&bundleId=pik1583277475390&topicId=cex1583277417267.html)
    name: AccountSignatures
  - description: >
      The EnvelopeRecipients resource enables you manage the recipients of an
      envelope.

      All recipient types share a set of [core
      parameters](https://raw.githubusercontent.com),

      but some recipient types have additional parameters.

      You specify the recipient type using the `recipientType` parameter. The
      recipient types are as follows:


      <br>


      | Recipient type                                      |
      Description                                                                                                                                                                                                                                                                                                                                                                                                                               
      |

      | :-------------------------------------------------- |
      :-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
      |

      | [Agent](https://raw.githubusercontent.com)                           |
      Agent recipients can add name and email information for recipients that
      appear after the agent in routing
      order.                                                                                                                                                                                                                                                                                                                          
      |

      | [Carbon Copy](https://raw.githubusercontent.com)               | Carbon
      copy recipients get a copy of the envelope but don't need to sign,
      initial, date, or add information to any of the documents. This type of
      recipient can be used in any routing order. Carbon copy recipients receive
      their copy of the envelope when the envelope reaches the recipient's order
      in the process flow and when the envelope is
      completed.                                                                           
      |

      | [Certified Delivery](https://raw.githubusercontent.com) | Certified
      delivery recipients must receive the completed documents for the envelope
      to be completed. However, they don't need to sign, initial, date, or add
      information to any of the
      documents.                                                                                                                                                                                                                                         
      |

      | [Editor](https://raw.githubusercontent.com)                         |
      Editors have the same management and access rights for the envelope as the
      sender. They can make changes to the envelope as if they were using the
      Advanced Correct feature. This recipient can add name and email
      information, add or change the routing order, set authentication options,
      and can edit signature/initial tabs and data fields for the remaining
      recipients. The recipient must have a DocuSign account to be an editor. |

      | [In-Person Signer](https://raw.githubusercontent.com)     | In-person
      signer recipients are DocuSign users who act as signing hosts in the same
      physical location as the
      signer.                                                                                                                                                                                                                                                                                                                      
      |

      | [Intermediary](https://raw.githubusercontent.com)             |
      Intermediaries are recipients who can, but are not required to, add name
      and email information for recipients at the same or subsequent level in
      the routing order, unless subsequent agents, editors, or intermediaries
      are
      added.                                                                                                                                                                                                       
      |

      | [Seal](https://raw.githubusercontent.com)                             |
      Electronic seal recipients represent legal entities rather than
      individuals. Organizations and governments can use electronic seals to
      show evidence of origin and integrity of
      documents.                                                                                                                                                                                                                                                
      |

      | [Signer](https://raw.githubusercontent.com)                         |
      Signers are recipients who must sign, initial, date, or add data to form
      fields on the documents in the
      envelope.                                                                                                                                                                                                                                                                                                                         
      |

      | [Witness](https://raw.githubusercontent.com)                       |
      Witnesses are recipients whose signatures affirm that the identified
      signers have signed the documents in the
      envelope.                                                                                                                                                                                                                                                                                                                   
      |


      <br>


      Not all recipients are are available to all account types.

      Review your account plan to determine which recipient types are available
      to you.

      All recipient types are available in the development environment.



      ## Core Recipient Parameters


      All recipients, regardless of type, have the same common core parameters.

      The following table contains the descriptions for the core properties for
      all recipient types:


      <br>


      | Name                                     | Required | Schema
      Type                                                           |
      Description                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       
      |

      | :--------------------------------------- | :------- |
      :-------------------------------------------------------------------- |
      :---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
      |

      | email                                    | Yes      |
      Email                                                                 |
      Email of the recipient. Notification will be sent to this email
      id.<br/>Maximum Length: 100
      characters.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           
      |

      | name                                     | Yes      |
      String                                                                |
      Full legal name of the recipient.<br/>Maximum Length: 100
      characters.<br/><br/>**Note:** If you are creating an envelope with
      DocuSign EU advanced signature enabled, ensure that recipient names do not
      contain any of the following characters: **^ : \ @ , +
      <**                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               
      |

      | accessCode                               | No       |
      String                                                                |
      This optional element specifies the access code a recipient has to enter
      to validate the identity.<br/>Maximum Length: 50
      characters.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             
      |

      | addAccessCodeToEmail                     | No       |
      Boolean                                                               |
      This optional attribute indicates that the access code is added to the
      email sent to the recipient; this nullifies the Security measure of Access
      Code on the
      recipient.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          
      |

      | agentCanEditEmail                        | No       |
      Boolean                                                               |
      When **true,** the agent recipient associated with this recipient can
      change the recipient's pre-populated email address. This element is only
      active if enabled for the
      account.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 
      |

      | agentCanEditName                         | No       |
      Boolean                                                               |
      When **true,** the agent recipient associated with this recipient can
      change the recipient's pre-populated name (`UserName`). This element is
      only active if enabled for the
      account.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             
      |

      | clientUserId                             | No       |
      String                                                                |
      This specifies whether the recipient is embedded or remote.<br/><br/>If
      the `clientUserId` property is not null then the recipient is embedded.
      Note that if the `ClientUserId` property is set and either
      `SignerMustHaveAccount` or `SignerMustLoginToSign` property of the account
      settings is set to  **true,** an error is generated on sending. Maximum
      length: 100
      characters.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             
      |

      | embeddedRecipientStartURL                | No       |
      String                                                                |
      This is a sender provided valid URL string for redirecting an embedded
      recipient. When using this option, the embedded recipient still receives
      an email from DocuSign, just as a remote recipient would, but when the
      document link in the email is clicked the recipient is redirected, through
      DocuSign, to this URL to complete their actions. When routing to the URL,
      it is up to the sender's system (the server responding to the URL) to then
      request a recipient token to launch a signing session.<br/><br/>If the
      value `SIGN_AT_DOCUSIGN` is used for this node, the recipient is directed
      to an embedded signing or viewing process directly at DocuSign. The
      signing or viewing action is initiated by the DocuSign system and the
      transaction activity and Certificate of Completion records will reflect
      this. In all other ways the process is identical to an embedded signing or
      viewing operation that would be launched by any partner.<br/><br/>It is
      important to remember that in a typical embedded workflow the
      authentication of an embedded recipient is the responsibility of the
      sending application and DocuSign expects that senders will follow their
      own process for establishing the recipient's identity. In this workflow
      the recipient goes through the sending application before the embedded
      signing or viewing process in initiated. However, when the sending
      application sets  the `EmbeddedRecipientStartURL` property to
      `SIGN_AT_DOCUSIGN`, the recipient goes directly to the embedded signing or
      viewing process bypassing the sending application and any authentication
      steps the sending application would use. In this case, DocuSign recommends
      that one of the normal DocuSign authentication features (Access Code,
      Phone Authentication, SMS Authentication, etc.) be used to verify the
      identity of the recipient.<br/><br>If the `clientUserId` property is NOT
      set and the `embeddedRecipientStartURL` property is set, DocuSign ignores
      the redirect URL and launch the standard signing process for the email
      recipient. Information can be appended to the `embeddedRecipientStartURL`
      property using merge fields. The available merge fields items are:
      envelopeId, recipientId, recipientName, recipientEmail, and customFields.
      The customFields must be part of the recipient or envelope. The merge
      fields are enclosed in double
      brackets.<br/><br/>_Example_:<br/>`http://senderHost/[[mergeField1]]/
      beginSigningSession? [[mergeField2]]&[[mergeField3]]`|

      | customFields                             | No       |
      customField                                                           | An
      optional array of strings that allows the sender to provide custom data
      about the recipient. This information is returned in the envelope status
      but otherwise not used by DocuSign. String `customField` properties have a
      maximum length of 100
      characters.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  
      |

      | emailNotification                        | No       |
      emailNotification                                                     | An
      optional property that has information for setting the language for the
      recipient's email information. It is composed of three
      elements:<br/><br/>*emailBody*: a string with the email message sent to
      the recipient.<br/>Maximum Length: 10000
      characters.<br/><br/>*emailSubject*: a string with the subject of the
      email sent to the recipient.<br/>Maximum Length: 100
      characters.<br/><br/>*supportedLanguage*: The simple type enumeration
      (two-letter code) for the language to use for the standard email format
      and the signing view for the recipient. To retrieve the possible values,
      use the [Accounts::listSupportedLanguages
      method][ListLang].<br/><br/>**Note:** You can set the `emailNotification`
      property separately for each recipient. If you set the value only for
      certain recipients, the other recipients will inherit the this value from
      the top-level `emailSubject` and
      `emailBlurb`.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       
      |

      | excludedDocuments                        | No       | Array of
      Strings                                                      | Specifies
      the documents that are not visible to this recipient. Document Visibility
      must be enabled for the account and the enforceSignerVisibility property
      must be set to true for the envelope to use this.<br/><br/>When the
      enforceSignerVisibility property is set to **true,** documents with tabs
      can only be viewed by signers that have a tab on that document. Recipients
      that have an administrative role (Agent, Editor, or Intermediaries) or
      informational role (Certified Deliveries or Carbon Copies) can always see
      all the documents in an envelope, unless they are specifically excluded
      using this setting when an envelope is sent. Documents that do not have
      tabs are always visible to all recipients, unless they are specifically
      excluded using this setting when an envelope is
      sent.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               
      |

      | idCheckConfigurationName                 | No       |
      String                                                                |
      Specifies authentication check by name. The names used here must be the
      same as the authentication type names used by the account (these name can
      also be found in the web console sending interface in the Identify list
      for a recipient). This overrides any default authentication
      setting.<br/><br/>_Example_:<br/> Your account has ID Check and SMS
      Authentication available and in the web console Identify list these appear
      as 'ID Check $' and 'SMS Auth $'. To use ID check in an envelope, the
      `idCheckConfigurationName` property must be  set to `ID Check $`. To use
      SMS, it must be set to `SMS Auth $` and you must add phone number
      information to the `smsAuthentication`
      node.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                
      |

      | iDCheckInformationInput                  | No       |
      IdCheckInformationInput                                               |
      This complex element contains input information related to a recipient ID
      check. It can include the following
      information.<br/><br/>*addressInformationInput*: Used to set recipient
      address information and consists of:<br/><br/>*addressInformation*:
      consists of six elements, with street2 and zipPlus4 being optional. The
      elements are: street1, street2, city, state, zip, zipPlus4\. The maximum
      number of characters in each element are: street1/street2 = 150
      characters, city = 50 characters, state = 2 characters, and zip/zipPlus4 =
      20 characters.<br/><br/>displayLevelCode: Specifies the display level for
      the recipient. Values are: ReadOnly, Editable, or
      DoNotDisplay.<br/><br/>*receiveInResponse*: A Boolean element that
      specifies if the information needs to be returned in the
      response.<br/><br/>*dobInformationInput*: Used to set recipient date of
      birth information and consists of:<br/><br/>*dateOfBirth*: Specifies the
      recipient's date, month and year of birth.<br/><br/>*displayLevelCode*:
      Specifies the display level for the recipient. Values are: ReadOnly,
      Editable, or DoNotDisplay.<br/><br/>*receiveInResponse*: A Boolean element
      that specifies if the information needs to be returned in the
      response.<br/><br/>*ssn4InformationInput*: Used to set the last four
      digits of the recipient's SSN information and consists
      of:<br/><br/>*ssn4*: Specifies the last four digits of the recipient's
      SSN.<br/><br/>*displayLevelCode*: Specifies the display level for the
      recipient. Values are: ReadOnly, Editable, or
      DoNotDisplay.<br/><br/>*receiveInResponse*: A Boolean element that
      specifies if the information needs to be returned in the
      response.<br/><br/>*ssn9InformationInput*: Used to set the recipient's SSN
      information. Note that the ssn9 information can never be returned in the
      response. The ssn9 input consists of:<br/><br/><br/><br/>*ssn9*: Specifies
      the recipient's SSN.<br/><br/>*displayLevelCode*: Specifies the display
      level for the recipient. Values are: ReadOnly, Editable, or
      DoNotDisplay.                                                                                                                                                                                                                                                                                                                                                                                                                                           
      |

      | inheritEmailNotificationConfiguration    | No       |
      Boolean                                                               |
      Optional element. If true and the envelope recipient creates a DocuSign
      account after signing, the Manage Account Email Notification settings are
      used as the default settings for the recipient's
      account.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       
      |

      | note                                     | No       |
      String                                                                | A
      note that is unique to this recipient. This note is sent to the recipient
      via the signing email. The note displays in the signing UI near the upper
      left corner of the document on the signing screen.<br/>Maximum Length:
      1000
      characters.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     
      |

      | phoneAuthentication                      | No       |
      RecipientPhoneAuthentication                                          |
      Optional element. Contains the elements: <br/><br/>
      *recipMayProvideNumber*:Boolean. When **true** thenrecipient can use
      whatever phone number they choose to.<br/><br/> *senderProvidedNumbers*:
      ArrayOfString. A list of phone numbers the recipient can use. <br/>

      | recipientId                              | No       |
      String<br/><br/>The string must be formatted as an integer or a GUID. |
      Unique for the recipient. It is used by the tab element to indicate which
      recipient is to sign the
      Document.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      
      |

      | requireIdLookup                          | No       |
      Boolean                                                               |
      When **true,** the recipient is required to use the specified ID check
      method (including Phone and SMS authentication) to validate their
      identity.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                
      |

      | roleName                                 | No*      |
      String                                                                |
      Optional element. Specifies the role name associated with the
      recipient.<br/><br/>This is required when working with template
      recipients.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         
      |

      | routingOrder                             | Yes      |
      String                                                                |
      This element specifies the routing order of the recipient in the
      envelope.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        
      |

      | smsAuthentication                        | No       |
      senderProvidedNumbers                                                 |
      Optional. Contains the element:<br/><br/>*senderProvidedNumbers*: Array
      that contains a list of phone numbers the recipient can use for SMS text
      authentication.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  
      |

      | templateAccessCodeRequired               | No       |
      Boolean                                                               |
      Optional. Used only when working with template recipients. When **true**
      and the `TemplateLocked` parameter is set to **true,** the sender must
      enter an access
      code.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             
      |

      | templateLocked                           | No       |
      Boolean                                                               |
      Optional. Used only when working with template recipients. When **true,**
      the sender cannot change any attributes of the
      recipient.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               
      |

      | templateRequired                         | No       |
      Boolean                                                               |
      Optional. Used only when working with template recipients. When **true,** 
      the sender may not remove the
      recipient.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               
      |

      | identityVerification <a name="toto"></a> | No       |
      identityVerification                                                  |
      Optional. Specifies ID Verification applied on an envelope by workflow ID.
      <br/>See the [list](https://raw.githubusercontent.com) method in the
      [IdentityVerifications](https://raw.githubusercontent.com) resource for
      more information on how to retrieve workflow IDs available for an account.
      <br/>This can be used in addition to other [recipient
      authentication](https://raw.githubusercontent.com) methods. <br/>Note that
      ID Verification and ID Check are two distinct methods. ID Verification
      checks recipients' identity by verifying their ID while ID Check relies on
      data available on public records (such as current and former
      address).                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 
      |


      <br>




      ## Agent Recipient


      An agent recipient can add name and email information for recipients that
      appear after the agent in routing order.


      In addition to the [core parameters](https://raw.githubusercontent.com),
      this recipient type has the following parameters:


      <br>


      | Name               | Required | Schema Type        |
      Description                                                                 
      |

      | :----------------- | :------- | :----------------- |
      :---------------------------------------------------------------------------
      |

      | documentVisibility | No       | documentVisibility | A complex type that
      specifies which documents are visible to this recipient. |


      <br>




      ## Carbon Copy Recipient


      Carbon copy recipients receive a copy of the envelope but don't need to
      sign, initial,

      date or add information to any of the documents. You can place this type
      of recipient in any routing order.

      Carbon copy recipients receive their copy of the envelope when the
      envelope

      reaches the recipient's order in the process flow and when the envelope is
      completed.


      In addition to the [core parameters](https://raw.githubusercontent.com),
      this recipient type has the following parameters:


      <br>


      | Name               | Required | Schema Type        |
      Description                                                                 
      |

      | :----------------- | :------- | :----------------- |
      :---------------------------------------------------------------------------
      |

      | documentVisibility | No       | documentVisibility | A complex type that
      specifies which documents are visible to this recipient. |


      <br>




      ## Certified Delivery Recipient


      Certified delivery recipients must receive the completed documents for the
      envelope to be completed. However, they don't need to sign, initial, date
      or add information to any of the documents.


      In addition to the [core parameters](https://raw.githubusercontent.com),
      this recipient type has the following parameters:


      <br>


      | Name               | Required | Schema Type        |
      Description                                                                 
      |

      | :----------------- | :------- | :----------------- |
      :---------------------------------------------------------------------------
      |

      | documentVisibility | No       | documentVisibility | A complex type that
      specifies which documents are visible to this recipient. |


      <br>




      ## Editor Recipient


      Editors have the same management and access rights for the envelope as the
      sender.

      They can make changes to the envelope as if they were using the Advanced
      Correct feature.

      This recipient can add name and email information,

      add or change the routing order and set authentication options for the
      remaining recipients.

      Additionally, this recipient can edit signature/initial tabs and data
      fields for the remaining recipients.

      The recipient must have a DocuSign account to be an editor.


      In addition to the [core parameters](https://raw.githubusercontent.com),
      this recipient type has the following parameters:


      <br>



      | Name               | Required | Schema Type        |
      Description                                                                 
      |

      | :----------------- | :------- | :----------------- |
      :---------------------------------------------------------------------------
      |

      | documentVisibility | No       | documentVisibility | A complex type that
      specifies which documents are visible to this recipient. |



      <br>



      ## In-Person Signer Recipient


      An in-person recipient is a DocuSign user, acting as a Signing Host, who
      is in the same physical location as the signer.


      The following restrictions apply to using electronic notary when sending
      documents:


      * Authentication methods are allowed for the signer but not the notary.

      * The Sign On Paper, Document Markup, Field Markup and Change Signer
      options cannot be used for the documents.

      * Tabs may be assigned to the signer, but cannot be assigned to the
      notary.


      See [eNotary Resources][enotary-resources] in the DocuSign Support Center
      for more information about how the eNotary feature works.


      In addition to the [core parameters](https://raw.githubusercontent.com),
      this type adds the following parameters:


      <br>



      | Name                  |
      Required                                            | Schema Type        |
      Description                                                                                                                                                                                                                                                                                                                                            
      |

      | :-------------------- |
      :-------------------------------------------------- | :----------------- |
      :------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
      |

      | inPersonSigningType   |
      No                                                  | String             |
      Specifies whether the envelope uses the eNotary feature. The accepted
      values are:<ul markdown=1><li>`inPersonSigner` The envelope uses the
      normal in-person signing flow.</li><li>`notary`: The envelope uses the
      eNotary signing
      flow.</li></ul>                                                                                                      
      |

      | notaryHost            | Yes, when `inPersonSigningType` is
      `notary`         | NotaryHost         | Sets the information for the
      notary host for the notary in person signing flow. The following
      information is required: <ul markdown=1> <li>`recipientId`: A unique ID
      (an integer or a GUID) for the notary signing host. </li> <li>`name`:
      Specifies the notary's full legal name.</li> <li>`email`: Specifies the
      notary's email address. </li> </ul> |

      | autoNavigation        |
      No                                                  | Boolean            |
      Specifies whether auto navigation is set for the
      recipient.                                                                                                                                                                                                                                                                                            
      |

      | defaultRecipient      |
      No                                                  | Boolean            |
      When **true,** this is the default recipient for the envelope. This option
      is used when creating an envelope from a
      template.                                                                                                                                                                                                                          
      |

      | documentVisibility    |
      No                                                  | documentVisibility |
      A complex type that specifies which documents are visible to this
      recipient.                                                                                                                                                                                                                                                                           
      |

      | hostName              | Yes, when `inPersonSigningType` is
      `inPersonSigner` | String             | The name of the signing host. This
      is the DocuSign user that is hosting the in-person signing
      session.                                                                                                                                                                                                                                                 
      |

      | hostEmail             | Yes, when `inPersonSigningType` is
      `inPersonSigner` | String             | The email address of the signing
      host. This is the DocuSign user that is hosting the in-person signing
      session.                                                                                                                                                                                                                                        
      |

      | signerName            | Yes, when `inPersonSigningType` is
      `inPersonSigner` | String             | The in-person signer's full legal
      name.                                                                                                                                                                                                                                                                                                                
      |

      | Name                  | Yes, when `inPersonSigningType` is
      `notary`         | String             | The full legal name of the signer
      in an eNotary
      flow.                                                                                                                                                                                                                                                                                                  
      |

      | email                 | Yes, when `inPersonSigningType` is
      `notary`         | String             | The signer's email address in an
      eNotary
      flow.                                                                                                                                                                                                                                                                                                         
      |

      | recipientSuppliesTabs |
      No                                                  | Boolean            |
      Indicates whether the recipient supplies tabs in the
      document.                                                                                                                                                                                                                                                                                         
      |

      | signatureInfo         |
      No                                                  | String             |
      Optional element only used with the recipient types In Person Signers,
      Signers, and Witnesses.<br/><br/>Allows the sender to pre-specify the
      signature name, signature initials, and signature font used in the
      signature stamp for the
      recipient.                                                                                                     
      |

      | signInEachLocation    |
      No                                                  | Boolean            |
      When **true** and the feature is enabled in the sender's account, the
      signing recipient is required to draw signatures and initials at each
      signature/initial tab (instead of adopting a signature/initial style or
      only drawing a signature/initial
      once).                                                                                            
      |

      | tabs                  |
      No                                                  | Tab                |
      Optional element only used with recipient types In Person Signers and
      Signers.<br/><br/>Specifies the Tabs associated with the recipient. See
      the [EnvelopeRecipientTabs resource](https://raw.githubusercontent.com)
      for more information about
      tabs.                                                                    |


      <br>


      ## Intermediary Recipient


      An intermediary is a recipient who can, but is not required to,

      add name and email information for recipients

      at the same or subsequent level in the routing order,

      unless subsequent agents, editors or intermediaries are added.


      In addition to the [core parameters](https://raw.githubusercontent.com),
      this recipient type has the following parameters:


      <br>



      | Name               | Required | Schema Type        |
      Description                                                                 
      |

      | :----------------- | :------- | :----------------- |
      :---------------------------------------------------------------------------
      |

      | documentVisibility | No       | documentVisibility | A complex type that
      specifies which documents are visible to this recipient. |


      <br>




      ## Seal Recipient


      An electronic seal recipient is a legal entity rather than an actual
      person.

      Electronic Seals can be used by organizations and governments to show
      evidence

      of origin and integrity of documents.

      Even though electronic seals can be represented by a tab in a document,

      they do not require user interaction and apply automatically in the order
      specified by the sender.

      The sender is therefore the person authorizing usage of the electronic
      seal in the flow.


      Electronic seal recipients rely on a subset of core properties, described
      as follows, plus the `recipientSignatureProviders` parameter:



      <br>



      | Name                        | Required        | Schema
      Type                                                           |
[...]
