openapi: 3.0.1
info:
  title: Ducky Data V3 - climate data APIs
  description: >
    Ducky Data's APIs provide footprint data for a wide variety of products and
    circular services, as well as individuals, and consumption-based emissions
    for municipalities and other administrative units.


    The endpoints are divided by functionality. 

    The Calculate endpoints compute the footprint of an individual based on
    their habits and other lifestyle data. 

    The Change endpoint generates climate friendly tips based on the user's
    habits, and can be used to nudge the user towards sutainable behavioral
    change.

    The Compare endpoints return the average footprint of a citizen in a given
    area (municipality or BSU).

    The Convert endpoints turn physical data like energy use or transaction
    amount into climate footprint.

    Reporting endpoints are for calculating scope 1 & 2 emissions according to
    the GHG protocol.

    The Track endpoints returns the values of indicators (drivers of footprint)
    for a given area (municipality or BSU).

    The Translate endpoints contextualize a given quantity of CO2e by expressing
    them in something more tangible, like a flight trip.


    In the description of each endpoint, you will find the link to a user
    documentation page detailing the sources and calculation principles.

    All of our user documentation pages can be found
    [here](https://support.ducky.eco/en/ducky-insights#introduction-to-ducky-insights).


    ### Base URL

    The API is served over HTTPS.

    The section [API Servers](https://storage.googleapis.com) indicates the base
    URLs for all requests in the documentation.


    ### Authentication

    The API requires [authentication](https://storage.googleapis.com). You have
    to negotiate an `access_token` and send it with every request, in the
    `authorization` header.


    Step-by-step:

    1. [Email Ducky to request](mailto:api@ducky.eco) a `CLIENT_ID` and a
    `CLIENT_SECRET`

    2. Negotiate an `access_token` with Auth0

    3. Send authenticated requests to Ducky API


    Learn in detail how to negotiate and use an `access_token` in the
    [Authentication section](https://storage.googleapis.com).
  version: 3.0.0
servers:
  - url: https://api.ducky.eco/v3
tags:
  - name: convert
  - name: translate
  - name: calculate
  - name: compare
  - name: ping
  - name: reporting
  - name: change
  - name: track
paths:
  /calculate/finance:
    post:
      tags:
        - calculate
      summary: Get kgCO2e per monetary transaction
      operationId: Calculate_financialFootprintForTransactions
      security:
        - ApiKeyAuth: []
      description: >
        Get footprint in kilograms CO2 equivalent for a given amount of money
        spent in a category.

        This endpoint receives a list of monetary transactions and returns, for
        each transaction, a footprint.

        Habit data can additionally be provided to improve the calculation.

        If no habit data is provided a default average dataset for the given
        datasource will be used. 

        The returned value is given in kilograms and is rounded to grams.


        [See detailed user documentation
        here](https://support.ducky.eco/en/calculation-finance)
      parameters:
        - description: Data Source to use for calculation
          in: query
          name: dataSource
          schema:
            default: norway
            enum:
              - norway
            type: string
        - description: Format output based on a custom mapping
          in: query
          name: categoryMapping
          schema:
            default: ducky
            type: string
        - description: >
            You can choose to use data from any date for which we have data

            in our database. If you do not submit a date, the current (and
            thereby the

            most updated data) will be used. Must be of format 'yyyy-mm-dd'
          in: query
          name: dataFromDate
          schema:
            format: date
            type: string
      requestBody:
        description: |
          Habits input

          All habits inputs are optional and missing values are defaulted.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CalculateFinanceTransactionsInput'
        required: true
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsumptionKgCO2ePerTransactionsResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequest'
        default:
          description: Unexpected error
          content: {}
      x-codegen-request-body-name: body
  /calculate/food-and-drink:
    post:
      tags:
        - calculate
      summary: Get kgCO2e, weight, waste, and money spent per food category.
      operationId: Calculate_foodAndDrinkMetrics
      security:
        - ApiKeyAuth: []
      description: >
        The purpose is to calculate the weight, cost and footprint of food,
        beverages and the resulting food waste, based on the dietary habits of
        the consumer.

        This can be used to show actual change in footprint over time and
        savings from sustainable measures.


        [See detailed user documentation
        here](https://support.ducky.eco/en/calculation-food-and-drink)
      parameters:
        - description: Data Source to use for calculation
          in: query
          name: dataSource
          schema:
            default: norway
            enum:
              - norway
            type: string
        - description: >
            You can choose to use data from any date for which we have data

            in our database. If you do not submit a date, the current (and
            thereby the

            most updated data) will be used. Must be of format 'yyyy-mm-dd'
          in: query
          name: dataFromDate
          schema:
            format: date
            type: string
      requestBody:
        description: >
          Calculate food and drink input.

          If you have not submitted optional data, you get the conversion factor
          for the given category in return.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CalculateFoodAndDrinkHabitsInput'
        required: true
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalculateFoodAndDrinkResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequest'
        default:
          description: Unexpected error
          content: {}
      x-codegen-request-body-name: body
  /calculator:
    post:
      tags:
        - calculate
      summary: Calculate annual footprint by categories
      operationId: Calculate_annualFootprintByCategories
      security:
        - ApiKeyAuth: []
      description: >
        Get an individual or household footprint in kilograms CO2 equivalent for
        the given habits.

        This endpoint receives a list of habits broken down into categories and
        a household description. 

        This can be used to build your own climate calculator with as many
        inputs as you'd like.

        If an empty body is provided an average footprint for the given
        datasource will be returned.

        This can be used to compare a person's climate footprint to the average
        footprint for a country.

        All inputs are optional and missing values are defaulted.

        The returned object contains a breakdown of an annual footprint in
        categories and subcategories, with absolute and percentage values.


        [See detailed user documentation
        here](https://support.ducky.eco/en/calculate-general)
      parameters:
        - description: Data Source to use for calculation
          in: query
          name: dataSource
          schema:
            default: norway
            enum:
              - norway
              - japan
              - united_kingdom
            type: string
        - description: Categories to include in response
          explode: false
          in: query
          name: categories
          schema:
            default: '["public","consumption","transport","food","energy"]'
            items:
              enum:
                - public
                - consumption
                - transport
                - food
                - energy
              type: string
            type: array
          style: form
        - description: Include subcategories
          allowEmptyValue: true
          in: query
          name: subCategories
          schema:
            default: false
            type: boolean
        - description: Is the footprint for an individual or a household
          in: query
          name: scope
          schema:
            default: household
            enum:
              - household
              - individual
            type: string
        - description: Prevent rounding of percentages
          allowEmptyValue: true
          in: query
          name: precision
          schema:
            default: false
            type: boolean
        - description: >
            You can choose to use data from any date for which we have data

            in our database. If you do not submit a date, the current (and
            thereby the

            most updated data) will be used. Must be of format 'yyyy-mm-dd'
          in: query
          name: dataFromDate
          schema:
            format: date
            type: string
      requestBody:
        description: |
          Habits input

          All inputs are optional and missing values are defaulted.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CalculatorHabitsInput'
        required: true
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FootprintResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequest'
        default:
          description: Unexpected error
          content: {}
      x-codegen-request-body-name: body
  /change:
    post:
      tags:
        - change
      summary: Get tips for improving behaviour.
      operationId: Change_improveBehaviourTips
      security:
        - ApiKeyAuth: []
      description: |
        Get tips for how to lower you co2 emissions by changing your behaviour.
      parameters:
        - description: Region of the requested data set
          in: query
          name: dataSource
          schema:
            default: norway
            enum:
              - norway
              - japan
              - united_kingdom
            type: string
        - description: >
            You can choose to use data from any date for which we have data

            in our database. If you do not submit a date, the current (and
            thereby the

            most updated data) will be used. Must be of format 'yyyy-mm-dd'.


            We provide historical data only for the values of the returned
            indicators.


            [See detailed user documentation
            here](https://support.ducky.eco/en/change-general)

            Please note that some indicators have "static" values and do not
            support historical data.
          in: query
          name: dataFromDate
          schema:
            format: date
            type: string
        - description: Language of the text returned
          in: query
          name: language
          schema:
            default: 'no'
            enum:
              - 'no'
              - ja
              - en
            type: string
        - description: >
            Order the results using the specified attribute.

            The attributes of type "indicator" (co2, points, moneySaved) are
            sorted by descending order.

            The attributes of type "investment" (financialCost, timeRequirement,
            socialDifficulty) are sorted by ascending order.
          in: query
          name: orderBy
          schema:
            default: co2
            enum:
              - co2
              - points
              - moneySaved
              - financialCost
              - timeRequirement
              - socialDifficulty
              - random
            type: string
        - description: |
            Choose whether the legacy tipID should be outputted.
          in: query
          name: returnLegacyTipId
          schema:
            default: false
            type: boolean
        - description: >
            Choose whether to ignore tips that would produce a zero or negative
            impact in terms of CO2 footprint.

            Such cases will happen if a user already has good habits on some
            area, and the tip concerns improving behaviour exactly on this
            subject, but to a lesser extent than the user is already doing.

            Tips where this is the case are by default removed to avoid crowding
            the output with tips that are not helpful.
          in: query
          name: ignoreZeroOrNegativeTips
          schema:
            default: true
            type: boolean
      requestBody:
        description: |
          Habits input and filtering criteria

          All habit inputs are optional and missing values are defaulted.
          Only activities matching the filtering criteria will be returned.
          If no filtering criteria is provided, all activities will be returned.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangeRequestBody'
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChangeResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequest'
        default:
          description: Unexpected error
          content: {}
  /compare/food-and-drink:
    post:
      tags:
        - compare
      summary: Fetch an average food-and-drink footprint based on filtering criteria.
      operationId: Compare_averageFootprintByFilteringCriteria
      security:
        - ApiKeyAuth: []
      description: >
        Retrieve an average footprint, close to your filtering criteria,
        computed based on real citizen's data.

        The response can be compare against the /calculate/food-and-drink
        endpoint's response.


        [See detailed user documentation
        here](https://support.ducky.eco/en/compare-food-and-drink)
      requestBody:
        description: |
          Filtering criteria
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompareInput'
        required: true
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompareFoodAndDrinkResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequest'
        default:
          description: Unexpected error
          content: {}
      x-codegen-request-body-name: body
  /compare/general:
    post:
      tags:
        - compare
      summary: Fetch an average category-based footprint based on filtering criteria.
      operationId: Compare_averageCategoryFootprint
      security:
        - ApiKeyAuth: []
      description: >
        Retrieve an average footprint for a given areaId, computed based on real
        citizen's data.

        The response can be compare against the /calculator endpoint's response.


        [See detailed user documentation
        here](https://support.ducky.eco/en/compare-general)
      requestBody:
        description: |
          Filtering criteria
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompareInput'
        required: true
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompareGeneralResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequest'
        default:
          description: Unexpected error
          content: {}
      x-codegen-request-body-name: body
  /compare/transport:
    post:
      tags:
        - compare
      summary: Fetch transport footprint for a given area.
      operationId: Compare_transportFootprint
      security:
        - ApiKeyAuth: []
      description: >
        Retrieve the transport footprint per capita for a given area and time.
        Both municipalities and basic statistical units (BSUs) are valid areas.
        The result will be valid for the month that the inputed date belongs to.

        The footprints are calculated based on the area indicators accessible
        through the track/transport endpoint. 

        If an indicator is missing for an area, the most granular indicator
        available will be used instead. 

        It will be collected from the closest parent which contains the relevant
        indicator. 

        In the case of a BSU, this would mean that the indicator from a
        municipality is to be preferred over one from the country/region.

        [See detailed user documentation
        here](https://support.ducky.eco/en/compare-transport).
      parameters:
        - description: >
            You can choose to use data from any date for which we have data

            in our database. If you do not submit a date, the current (and
            thereby the

            most updated data) will be used. Must be of format 'yyyy-mm-dd'
          in: query
          name: dataFromDate
          schema:
            format: date
            type: string
        - description: >
            Area code of the area for which transport footprint is requested.
            [See detailed area ID
            documentation](https://doc.api.ducky.eco/area-ids-mapping) for
            mapping between area names and their codes.
          in: query
          name: areaId
          required: true
          schema:
            example: no-3024
            type: string
        - description: >
            Choose which time range you wish to receive data for. Currently the
            most granular data available is per month, which means that if a
            monthly range is requested, you will directly receive the data for
            the requested month. If you choose a yearly range, the values are a
            sum of all monthly values accross the given year.
          in: query
          name: timeRange
          schema:
            default: monthly
            enum:
              - monthly
              - yearly
            type: string
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompareTransportResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequest'
        default:
          description: Unexpected error
          content: {}
      x-codegen-request-body-name: body
  /convert/energy:
    post:
      tags:
        - convert
      summary: Get kgCO2e per kWh used.
      operationId: Convert_kgCo2ePerKwhUsed
      security:
        - ApiKeyAuth: []
      description: >
        Get footprint in kilograms CO2 equivalent for energy usage by category.

        This endpoint receives 


        - a data source to base calculations on

        - a list of Energy categories, associated to a value and its unit


        At least one category must be provided.

        Amount is optional.

        If you have not submitted optional data, you get the conversion factor
        for the given category in return.

        This endpoint returns, for each category


        - footprint in kilograms of CO2e, rounded to grams


        [See detailed user documentation
        here](https://support.ducky.eco/en/convert-energy)
      parameters:
        - description: Data Source to use for calculation
          in: query
          name: dataSource
          schema:
            default: norway
            enum:
              - norway
            type: string
        - description: >
            You can choose to use data from any date for which we have data

            in our database. If you do not submit a date, the current (and
            thereby the

            most updated data) will be used. Must be of format 'yyyy-mm-dd'
          in: query
          name: dataFromDate
          schema:
            format: date
            type: string
      requestBody:
        description: >
          Convert Energy input.

          At least one category must be provided.

          Amount is optional.

          If you have not submitted optional data, you get the conversion factor
          for the given category in return.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConvertEnergyInput'
        required: true
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConvertEnergyResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequest'
        default:
          description: Unexpected error
          content: {}
      x-codegen-request-body-name: body
  /convert/finance:
    post:
      tags:
        - convert
      summary: |
        Get footprint in kilograms of CO2-equivalents for financial transactions
        by category.
      operationId: Convert_financialFootprintByCategory
      security:
        - ApiKeyAuth: []
      description: >
        Get footprint in kilograms of CO2-equivalents for financial transactions
        by category.

        This endpoint receives


        - a data source to base calculations on

        - a list of financial categories, associated to an amount and its unit


        At least one category must be provided.

        Amount and unit of currency is optional.

        If you have not provided a unit, it defaults to the unit corresponding
        to the dataSource.

        If you have not submitted an amount, you get the conversion factor for
        the given category in return.

        This endpoint returns, for each category


        - footprint in kilograms of CO2e, rounded to grams


        [See detailed user documentation
        here](https://support.ducky.eco/en/convert-finance)
      parameters:
        - description: Data Source to use for calculation
          in: query
          name: dataSource
          schema:
            default: norway
            enum:
              - norway
              - denmark
              - sweden
              - finland
            type: string
        - description: >
            You can choose to use data from any date for which we have data

            in our database. If you do not submit a date, the current (and
            thereby the

            most updated data) will be used. Must be of format 'yyyy-mm-dd'
          in: query
          name: dataFromDate
          schema:
            format: date
            type: string
      requestBody:
        description: >
          Convert finance input.

          At least one category must be provided.

          Amount and unit of currency is optional.

          If you have not provided a unit, it defaults to the unit corresponding
          to the dataSource.

          If you have not submitted an amount, you get the conversion factor for
          the given category in return.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConvertFinanceInput'
        required: true
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConvertFinanceResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequest'
        default:
          description: Unexpected error
          content: {}
      x-codegen-request-body-name: body
  /convert/food-and-drink:
    post:
      tags:
        - convert
      summary: Get kgCO2e per calory or weight of Food and Drink.
      operationId: Convert_foodAndDrinkFootprint
      security:
        - ApiKeyAuth: []
      description: >
        Get footprint in kilograms CO2 equivalent for a given amount of calories
        (or weight) spent in some categories of Food and Drink.


        This endpoint receives  


        - a data source to base calculations on

        - a list of Food & Drink categories, optionally associated to a value
        and its unit


        At least one category must be provided.

        Values and units are optional.

        If you have not submitted optional data, you get the conversion factor
        for the given category in return.

        This endpoint returns, for each category


        - footprint in kilograms of CO2e, rounded to grams

        - weight


        [See detailed user documentation
        here](https://support.ducky.eco/en/calculation-food-and-drink)
      parameters:
        - description: Data Source to use for calculation
          in: query
          name: dataSource
          schema:
            default: norway
            enum:
              - norway
            type: string
        - description: >
            You can choose to use data from any date for which we have data

            in our database. If you do not submit a date, the current (and
            thereby the

            most updated data) will be used. Must be of format 'yyyy-mm-dd'
          in: query
          name: dataFromDate
          schema:
            format: date
            type: string
      requestBody:
        description: >
          Convert Food & Drink input.

          At least one category must be provided.

          Values and units are optional.

          If you have not submitted optional data, you get the conversion factor
          for the given category in return.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConvertFoodAndDrinkInput'
        required: true
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConvertFoodAndDrinkResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequest'
        default:
          description: Unexpected error
          content: {}
      x-codegen-request-body-name: body
  /convert/goods-and-services:
    post:
      tags:
        - convert
      summary: >-
        Get footprint of an item and optionally the avoided emissions obtained
        by choosing to rent, repair or buy an item used instead of new.
      operationId: Convert_itemFootprintAndSavings
      security:
        - ApiKeyAuth: []
      description: >
        Get the cradle-to-gate footprint (in kgCO2e) for an item. Optionally,
        also the carbon savings possible as a result of renting, repairing or
        buying the item used.


        Note that this endpoint converts items that can be linked to [GPC brick
        codes](https://gpc-browser.gs1.org/). Services, which cannot be linked
        to GPC brick codes, are covered by the [Convert Finance
        endpoint](https://doc.api.ducky.eco/api-reference/api-v3#post-/convert/finance),
        where their footprint is specified by their price.


        This endpoint receives:

        * Unique item identifier: GPC code or item name


        Optional input fields:

        * Purchase type (called useMode):
            * None (only returns the average cradle-to-gate footprint of the given item)
            * Buying used
            * Renting
            * Repairing
        * Number of items

        * Duration of the rental period

        * Price of the item

        * Business model of the company: Online or Physical

        * Weight of the item


        The endpoint returns the cradle-to-gate footprint of producing a new
        item(s) of the type specified, and optionally the savings associated
        with the purchase type.

        For example, if the item you input is a t-shirt, and the purchase mode
        is buying used, you are returned the footprint of producing a t-shirt
        and the achievable savings from buying it used.


        [See detailed user documentation
        here](https://support.ducky.eco/en/convert-goods-services)
      parameters:
        - description: Data Source to use for calculation
          in: query
          name: dataSource
          schema:
            default: norway
            enum:
              - norway
            type: string
        - description: >
            You can choose to use data from any date for which we have data

            in our database. If you do not submit a date, the current (and
            thereby the

            most updated data) will be used. Must be of format 'yyyy-mm-dd'
          in: query
          name: dataFromDate
          schema:
            format: date
            type: string
      requestBody:
        description: |
          Convert Circular Economy input.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConvertGoodsAndServicesInput'
        required: true
      responses:
        '200':
          description: >
            A successful response


            The returned item names are the same as the inputed ones. If a
            number (a GPC Brick code) was provided, it returns a number. If a
            string was provided, it returns a string.

            The order of the response is the same as the order of the input.
            Therefore, if multiple items have the same `itemName`, the ordering
            of the output indicates the matching input.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConvertGoodsAndServicesResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequest'
        default:
          description: Unexpected error
          content: {}
      x-codegen-request-body-name: body
  /convert/goods-and-services/list-items:
    get:
      tags:
        - convert
      summary: >-
        Get a list of all valid items for the convert/goods-and-services
        endpoint.
      operationId: Convert_goodsAndServicesListItems
      security:
        - ApiKeyAuth: []
      description: >
        Returns all valid items for the convert/goods-and-services endpoint,
        with both names (string) and GPC brick code (number).
      parameters:
        - description: Data Source to use for calculation
          in: query
          name: dataSource
          schema:
            default: norway
            enum:
              - norway
            type: string
        - description: >
            You can choose to use data from any date for which we have data

            in our database. If you do not submit a date, the current (and
            thereby the

            most updated data) will be used. Must be of format 'yyyy-mm-dd'
          in: query
          name: dataFromDate
          schema:
            format: date
            type: string
      responses:
        '200':
          description: |
            A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConvertGoodsAndServicesItemsListResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequest'
        default:
          description: Unexpected error
          content: {}
      x-codegen-request-body-name: body
  /convert/transport:
    post:
      tags:
        - convert
      summary: Get kgCO2e per distance travelled.
      operationId: Convert_transportEmissions
      security:
        - ApiKeyAuth: []
      description: >
        Get footprint in kilograms CO2 equivalent for transport usage by
        category.

        This endpoint receives 


        - a data source to base calculations on

        - a list of Transport categories, associated to a value and its unit as
        well as occupancy rate


        At least one category must be provided.

        Amount and occupancy rate are optional.

        If you have not submitted optional amount data, you get the conversion
        factor for the given category in return.

        If you do not provide occupancy rate, a default value is used instead.

        This endpoint returns, for each category


        - footprint in kilograms of CO2e, rounded to grams

        - Life cycle breakdown of the footprint, in kilograms of CO2e, rounded
        to grams


        The life cycle breakdown includes


        - production phase emissions

        - use phase emissions

        - infrastructure emissions


        [See detailed user documentation
        here](https://support.ducky.eco/en/convert-transport)
      parameters:
        - description: Data Source to use for calculation
          in: query
          name: dataSource
          schema:
            default: norway
            enum:
              - norway
            type: string
        - description: >
            You can choose to use data from any date for which we have data

            in our database. If you do not submit a date, the current (and
            thereby the

            most updated data) will be used. Must be of format 'yyyy-mm-dd'
          in: query
          name: dataFromDate
          schema:
            format: date
            type: string
      requestBody:
        description: >
          Convert Transport input.

          At least one category must be provided.

          Amount is optional.

          Occupancy rate is optional.

          If you have not submitted optional amount data, you get the conversion
          factor for the given category in return.

          If you do not provide occupancy rate, a default value is used instead.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConvertTransportInput'
        required: true
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConvertTransportResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequest'
        default:
          description: Unexpected error
          content: {}
      x-codegen-request-body-name: body
  /ping:
    get:
      tags:
        - ping
      summary: Check if the API is running
      operationId: Ping_statusCheck
      responses:
        '200':
          description: API is ready to accept requests
          content: {}
  /ping/protected:
    get:
      tags:
        - ping
      summary: Check if the API is running and if your authentication token is valid
      operationId: Ping_checkTokenValidity
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: |
            API is ready to accept requests and your authentication token
            is valid
          content: {}
  /report/scope-1:
    post:
      tags:
        - reporting
      summary: Compute Scope 1 GHG emissions.
      operationId: Reporting_computeScope1Emissions
      security:
        - ApiKeyAuth: []
      description: >
        Compute greenhouse gas emissions for your company's assets.

        There are many relevant reporting schemes and Ducky has chosen to comply
        with the leading GHG Protocol standard.

        Here, an organisation’s GHG emissions are classified into three scopes:
          - Scope 1 (direct emissions)
          - Scope 2 (indirect emissions)
          - Scope 3 (value chain emissions)
        Our reporting endpoints are created to ensure compliance with the GHG
        Protocol.


        Scope 1 emissions are direct emissions from company-owned and controlled
        resources.

        They are divided into four categories: stationary combustion (e.g fuels,
        heating sources), mobile combustion (vehicles owned or operated by the
        firm), fugitive emissions (GHG gases released from refrigeration, air
        conditioning units) and process emissions (released during industrial
        processes, on-site manufacturing).

        Note that fugitive emissions are not included in our calculations as it
        is not common to account for them.


        To summarise, the emissions from all the fuels used by the organisation
        are reported under Scope 1.


        [See detailed user documentation
        here](https://support.ducky.eco/en/reporting-ghg-emissions)
      parameters:
        - description: Data Source to use for calculation
          in: query
          name: dataSource
          required: false
          schema:
            default: norway
            enum:
              - norway
            type: string
        - description: >
            You can choose to use data from any date for which we have data

            in our database. If you do not submit a date, the current (and
            thereby the

            most updated data) will be used. Must be of format 'yyyy-mm-dd'
          in: query
          name: dataFromDate
          required: false
          schema:
            default: today
            format: date
            type: string
      requestBody:
        description: >
          Submit a list of entries to include in your scope 1 GHG emissions
          report.

          Each entry refers to a company-owned asset that releases CO2e
          emissions.

          Each entry contains activity data which can be expressed in one of the
          three available types:

          1. Fuel used

          2. Distance travelled

          3. Money spent on fuel


          It is mandatory to provide at least one type of activity data.

          It is unnecessary to fill more than one type of activity data.

          If you choose to provide more than one type of activity data, there
          exists a preference hierarchy for deciding which activity data will be
          used in the calculations: fuel use takes precedence over distance
          travelled, and distance travelled takes precedence over money spent on
          fuel.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Scope1ReportingInput'
        required: true
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportingComputeScope1EmissionsResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequest'
        default:
          description: Unexpected error
          content: {}
  /report/scope-2:
    post:
      tags:
        - reporting
      summary: Compute Scope 2 GHG emissions.
      operationId: Reporting_computeScope2Emissions
      security:
        - ApiKeyAuth: []
      description: >
        Compute greenhouse gas emissions for your company's assets.

        There are many relevant reporting schemes and Ducky has chosen to comply
        with the leading GHG Protocol standard.

        Here, an organisation’s GHG emissions are classified into three scopes:
          - Scope 1 (direct emissions)
          - Scope 2 (indirect emissions)
          - Scope 3 (value chain emissions)
        Our reporting endpoints are created to ensure compliance with the GHG
        Protocol.


        Scope 2 emissions are indirect emissions from the generation of
        purchased electricity, heating, cooling and steam, from a utility
        provider.

        In other words, all GHG emissions released from the consumption of
        purchased electricity, steam, heat and cooling.

        The GHG standard highlights two approaches to allocate Scope 2 GHG
        emissions to the end consumer: location-based and market-based.

        The market-based method reflects emissions from electricity that
        companies have purposefully chosen (or their lack of choice), while the
        location-based method reflects the average emissions intensity of grids
        on which energy consumption occurs.


        [See detailed user documentation here](https
        ://support.ducky.eco/en/reporting-ghg-emissions)
      parameters:
        - description: Data Source to use for calculation
          in: query
          name: dataSource
          required: false
          schema:
            default: norway
            enum:
              - norway
            type: string
        - description: >
            You can choose to use data from any date for which we have data

            in our database. If you do not submit a date, the current (and
            thereby the

            most updated data) will be used. Must be of format 'yyyy-mm-dd'
          in: query
          name: dataFromDate
          required: false
          schema:
            default: today
            format: date
            type: string
      requestBody:
        description: >
          Submit a list of entries to include in your scope 2 GHG emissions
          report.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Scope2ReportingInput'
        required: true
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportingComputeScope2EmissionsResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequest'
        default:
          description: Unexpected error
          content: {}
  /track/transport:
    post:
      tags:
        - track
      summary: Get indicators for a certain administrative area.
      operationId: Track_transportIndicators
      security:
        - ApiKeyAuth: []
      description: >
        Track transport indicators (parameters that influence the transport
        footprint) to see how they change over time. Indicators are provided for
        municipality or BSU area codes, and are updated monthly.

        [See detailed user documentation
        here](https://support.ducky.eco/en/track-transport-indicators). 

        If an indicator is missing, the most granular indicator available will
        be used instead. 

        It will be collected from the closest parent which contains it, and is
        smallest in size. 

        In the case of a grunnkrets, this would mean that the indicator from a
        municipality is to be preferred over one from the country/region.
      parameters:
        - description: >
            You can choose to use data from any date for which we have data

            in our database. If you do not submit a date, the current (and
            thereby the

            most updated data) will be used. Must be of format 'yyyy-mm-dd'
          in: query
          name: dataFromDate
          schema:
            format: date
            type: string
        - description: >
            Choose which time range you wish to receive data for. Currently the
            most granular data available is per month, which means that if a
            monthly range is requested, you will directly receive the data for
            the requested month. If you choose a yearly range, the values are an
            average of all monthly values accross the given year
          in: query
          name: timeRange
          schema:
            default: monthly
            enum:
              - monthly
              - yearly
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AreaIndicatorsInput'
        required: true
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AreaIndicatorsResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequest'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequest'
        default:
          description: Unexpected error
          content: {}
  /translate/car:
    post:
      tags:
        - translate
      summary: Translate kilograms CO2 equivalent to distance travelled by car
      operationId: Translate_co2eToCarDistance
      security:
        - ApiKeyAuth: []
      description: >
        Get CO2 equivalents translated into familiar quantities, in the form of
        the distance between two destinations driven by car, per person. 

        Life-cycle assessment is used for the calculations, which means that
        production, oil extraction, infrastructure and end-of-life treatment
        emissions are also taken into account.


        If the submitted CO2e does not match any of of our journeys, there are
        two possible outcomes

        - if the submitted CO2e corresponds to a distance higher than that of
        the largest translation in our database, the largest translation is
        outputted, with `numberOfTimes` indicating how many times this journey
        can be performed to emit the submitted CO2e.

        - if the submitted CO2e corresponds to a distance smaller than that of
        the largest translation in our database, the translation field is left
        undefined.


        [See detailed user documentation
        here](https://support.ducky.eco/en/translate-to-car-trips)
      parameters:
        - description: Region of the requested data set
          in: query
          name: dataSource
          schema:
            default: norway
            enum:
              - norway
              - japan
            type: string
        - description: >
            You can choose to use data from any date for which we have data

            in our database. If you do not submit a date, the current (and
            thereby the

            most updated data) will be used. Must be of format 'yyyy-mm-dd'
          in: query
          name: dataFromDate
          schema:
            format: date
            type: string
      requestBody:
        description: >
          Kilograms of CO2 equivalents that are to be translated. This is per
          passenger.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TranslateInput'
      responses:
        '200':
          description: Translated value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TranslateCarDistanceResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequest'
        default:
          description: Unexpected error
          content: {}
  /translate/energy:
    post:
      tags:
        - translate
      summary: >-
        Translate kilograms CO2 equivalent to the usage of an electrical
        appliance.
      operationId: Translate_co2eToEnergyUsage
      security:
        - ApiKeyAuth: []
      description: >
        Get CO2 equivalents translated into familiar quantities, in the form of
        the energy required to use an electrical appliance for a given amount of
        time. European energy mix is used.


        [See detailed user documentation
        here](https://support.ducky.eco/en/translate-to-energy-usage)
      parameters:
        - description: Region of the requested data set
          in: query
          name: dataSource
          schema:
            default: norway
            enum:
              - norway
              - japan
            type: string
        - description: >
            You can choose to use data from any date for which we have data

            in our database. If you do not submit a date, the current (and
            thereby the

            most updated data) will be used. Must be of format 'yyyy-mm-dd'
          in: query
          name: dataFromDate
          schema:
            format: date
            type: string
      requestBody:
        description: |
          Kilograms of CO2 equivalents that are to be translated.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TranslateInput'
      responses:
        '200':
          description: Translated value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TranslateEnergyResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequest'
        default:
          description: Unexpected error
          content: {}
  /translate/plane:
    post:
      tags:
        - translate
      summary: Translate kilograms CO2 equivalent to distance flown by an airplane.
      operationId: Translate_co2eToPlaneDistance
      security:
        - ApiKeyAuth: []
      description: >
        Get CO2 equivalents translated into familiar quantities, in the form of
        the distance between two destinations flown by an airplane, per
        passenger.

        Life-cycle assessment is used for the calculations, which means that
        production, oil extraction, infrastructure and end-of-life treatment
        emissions are also taken into account.


        If the submitted CO2e does not match any of of our journeys, there are
        two possible outcomes

        - if the submitted CO2e corresponds to a distance higher than that of
        the largest translation in our database, the largest translation is
        outputted, with `numberOfTimes` indicating how many times this journey
        can be performed to emit the submitted CO2e.

        - if the submitted CO2e corresponds to a distance smaller than that of
        the largest translation in our database, the translation field is left
        undefined.


        [See detailed user documentation
        here](https://support.ducky.eco/en/translate-to-plane-trips)
      parameters:
        - description: Region of the requested data set
          in: query
          name: dataSource
          schema:
            default: norway
            enum:
              - norway
            type: string
        - description: >
            You can choose to use data from any date for which we have data

            in our database. If you do not submit a date, the current (and
            thereby the

            most updated data) will be used. Must be of format 'yyyy-mm-dd'
          in: query
          name: dataFromDate
          schema:
            format: date
            type: string
      requestBody:
        description: >
          Kilograms of CO2 equivalents that are to be translated. This is per
          passenger travelling in economy class.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TranslateInput'
      responses:
        '200':
          description: Translated value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TranslatePlaneDistanceResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequest'
        default:
          description: Unexpected error
          content: {}
  /translate/tree:
    post:
      tags:
        - translate
      summary: >-
        Translate kilograms CO2 equivalent to how quickly it can be absorbed by
        a number of trees.
      operationId: Translate_co2eToTreeArea
      security:
        - ApiKeyAuth: []
      description: >
        Get CO2 equivalents translated into familiar quantities, in the form of
        area of trees that is required to absorb the given amount of CO2 during
        a period of time.


        [See detailed user documentation
        here](https://support.ducky.eco/en/translate-to-tree-area)
      parameters:
        - description: Region of the requested data set
          in: query
          name: dataSource
          schema:
            default: norway
            enum:
              - norway
              - japan
            type: string
      requestBody:
        description: |
          Kilograms of CO2 equivalents that are to be translated.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TranslateInput'
      responses:
        '200':
          description: Translated value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TranslateTreeResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequest'
        default:
          description: Unexpected error
          content: {}
components:
  schemas:
    AreaIndicatorsInput:
      properties:
        areaId:
          description: >-
            Area code of the area for which indicators are requested. [See
            detailed area ID
            documentation](https://doc.api.ducky.eco/area-ids-mapping) for
            mapping between area names and their codes.
          example: no-5001
          type: string
      required:
        - areaId
      type: object
    AreaIndicatorsResponse:
      properties:
        area:
          properties:
            id:
              example: no-5001
              type: string
            name:
              example: Trondheim
              type: string
            parentId:
              description: >
                The closest parent of the requested area. In the case of a BSU,
                this will be the municipality that the BSU belongs to, and in
                the case of a municipality, it will be the county that the
                municipality belongs to, etc.
              example: no-50
              type: string
          required:
            - id
            - name
          type: object
        indicators:
          description: |
            A list of indicators for the given area
          items:
            properties:
              indicator:
                description: |
                  The indicator of a given area
                properties:
                  unit:
                    description: The unit is always per inhabitant, per year.
                    example: km
                    type: string
                  value:
                    example: 300
                    type: number
                required:
                  - value
                  - unit
                type: object
              name:
                description: |
                  Name of the indicator
                example: Domestic flights
                type: string
              originAreaId:
                description: >
                  The area the indicator belongs to. 

                  This field is relevant when an area is missing an indicator,
                  but one if its parents has it.

                  The endpoint returns the indicator from the parent, and
                  `originAreaId` will be the `areaId` of the parent.

                  When `timeRange` is `yearly`, this parameter will not be
                  outputted.
                type: string
            required:
              - name
              - indicator
            type: object
          type: array
      required:
        - area
        - indicators
      type: object
    CalculateFinanceHabitsInput:
      properties:
        consumption:
          $ref: '#/components/schemas/CalculateFinanceHabitsInputConsumption'
        food:
          $ref: '#/components/schemas/CalculateFinanceHabitsInputFood'
        household:
          $ref: '#/components/schemas/CalculatorHabitsInputHousehold'
      type: object
    CalculateFinanceHabitsInputConsumption:
      description: >
        This category refers to a citizen's habits when it comes to purchasing
        goods and services.
      properties:
        ethicalConsumer:
          description: >
            Answer to the question "How often do you purchase ethical or
            environmentally friendly products?"

            * ethicalConsumer1 - Always, if possible;

            * ethicalConsumer2 - Often;

            * ethicalConsumer3 - Occasionally;

            * ethicalConsumer4 - Rarely
          default: ethicalConsumer3
          enum:
            - ethicalConsumer1
            - ethicalConsumer2
            - ethicalConsumer3
            - ethicalConsumer4
          type: string
        qualityConsumer:
          description: |
            Answer to the question "How often to you buy high quality products?"
            * qualityConsumer1 - Always, if possible;
            * qualityConsumer2 - Often;
            * qualityConsumer3 - Occasionally;
            * qualityConsumer4 - Rarely
          default: qualityConsumer3
          enum:
            - qualityConsumer1
            - qualityConsumer2
            - qualityConsumer3
            - qualityConsumer4
          type: string
        repairConsumer:
          description: >
            Answer to the question "How often do you repair worn or broken
            items?"

            * repairConsumer1 - Always, if possible;

            * repairConsumer2 - Often;

            * repairConsumer3 - Occasionally;

            * repairConsumer4 - Rarely
          default: repairConsumer3
          enum:
            - repairConsumer1
            - repairConsumer2
            - repairConsumer3
            - repairConsumer4
          type: string
      type: object
    CalculateFinanceHabitsInputFood:
      properties:
        dairyAmount:
          description: |
            Answer to the question "How much dairy is in your diet?"
            * dairyAmount1 - None;
            * dairyAmount2 - very little;
            * dairyAmount3 - less than average;
            * dairyAmount4 - about average;
            * dairyAmount5 - I love dairy products!
          default: dairyAmount4
          enum:
            - dairyAmount1
            - dairyAmount2
            - dairyAmount3
            - dairyAmount4
            - dairyAmount5
          type: string
        meatConsumption:
          description: |
            Answer to the question "How often do you eat meat?"
            * meatConsumption1 - Vegetarian (Never);
            * meatConsumption2 - Flexitarian (1-2 times per week);
            * meatConsumption3 - 3-4 times per week;
            * meatConsumption4 - Almost every day;
            * meatConsumption5 - All the time
          default: meatConsumption4
          enum:
            - meatConsumption1
            - meatConsumption2
            - meatConsumption3
            - meatConsumption4
            - meatConsumption5
          type: string
        meatPreference:
          description: >
            Answer to the question "When you eat meat, how often is it red meat
            (beef, lamb and game)?"

            * meatPreference1 - Never

            * meatPreference2 - Once in a while

            * meatPreference3 - About half the time

            * meatPreference4 - More than half but not always (75% of the time)

            * meatPreference5 - Most of the time (90%  of the time)
          default: meatPreference3
          enum:
            - meatPreference1
            - meatPreference2
            - meatPreference3
            - meatPreference4
            - meatPreference5
          type: string
        seaFoodConsumption:
          description: |
            Answer to the question "How often do you consume seafood?"
            * seaFoodConsumption1 - I don’t eat seafood
            * seaFoodConsumption2 - I eat seafood occasionally
            * seaFoodConsumption3 - I eat seafood frequently
            * seaFoodConsumption4 - I love seafood
          default: seaFoodConsumption3
          enum:
            - seaFoodConsumption1
            - seaFoodConsumption2
            - seaFoodConsumption3
            - seaFoodConsumption4
          type: string
        seaFoodPreference:
          description: >
            Answer to the question "When you eat seafood, how frequently is it
            shellfish?"

            * seaFoodPreference1 - Never

            * seaFoodPreference2 - Every now and then

            * seaFoodPreference3 - Quite often
          default: seaFoodPreference2
          enum:
            - seaFoodPreference1
            - seaFoodPreference2
            - seaFoodPreference3
          type: string
      type: object
    CalculateFinanceTransactionInput:
      properties:
        amount:
          description: |
            The amount of money spent
            The amount must be a positive number
          example: 250
          format: float
          minimum: 0
          type: number
        category:
          description: >
            The category in which this amount of money was spent.

            This category must belong to the categoryMapping enumeration (passed
            as query parameter).


            ## List of valid categories

            ### Ducky/default categories (`categoryMapping=ducky`)

            - food

            - nonAlcoholicBeverages

            - alcoholicBeverages

            - tobacco

            - clothing

            - footwear

            - actualRentals

            - imputedRentals

            - homeMaintenance

            - homeServices

            - energy

            - energyElectricity

            - energySolidFuels

            - furniture

            - textiles

            - appliances

            - tableware

            - houseAndGarden

            - householdMaintenance

            - medicalSupplies

            - outpatientServices

            - hospitalServices

            - vehiclePurchase

            - operationOfTransportEquipment

            - fuelsForTransport

            - maintenanceOfTransportEquipment

            - transportServices

            - transportRailway

            - transportRoad

            - transportAir

            - transportWater

            - postalServices

            - computerEquipment

            - telephoneServices

            - audiovisualEquipment

            - recreationalGoods

            - gamesGardensAndPets

            - sportingGoods

            - recreationalServices

            - newspapersAndBooks

            - packageHolidays

            - preAndPrimarySchool

            - secondarySchool

            - vocationalSchool

            - universityAndCollege

            - otherEducation

            - catering

            - accommodation

            - personalCare

            - personalEffects

            - socialProtection

            - insurance

            - financialServices

            - otherServices

            - donations


            ### SMN categories (`categoryMapping=smn`)

            - alarm

            - andre_dagligvarer

            - andre_utgifter

            - annen_reise

            - annet

            - annet_innskudd

            - annet_til_barna

            - apotek

            - apper_og_spill

            - arrangement

            - aviser

            - bankboks

            - barnebutikker

            - barnehager

            - betaling

            - betalingsoppfolging

            - bilavgifter

            - bildeler_og_pleie

            - bilforhandler

            - bilforsikring

            - billan

            - bokhandler

            - boliglan

            - boligutgifter

            - bom

            - briller_og_opptikk

            - byggvare

            - dagligvarer

            - dating

            - digital_markedsplass

            - drivstoff

            - dyr

            - eiendomsforvaltning

            - fastfood

            - flybilletter

            - forsikring

            - foto

            - fritidsaktiviteter

            - gavekort

            - godteri

            - hage_og_blomster

            - handverker

            - helsekost

            - hobby

            - hvitevarer_og_elektronikk

            - hytte

            - internett

            - kafe

            - kantine

            - kino

            - kiosk

            - kjokkenutstyr

            - klaer

            - kollektivtransport

            - kommunale_avgifter

            - kredittkort

            - krypto_epenger

            - kurs_utdanning

            - lan

            - lan_hobby_fritidsutstyr

            - lege

            - leiebil

            - leker

            - lonn

            - medlemskap_veldedighet

            - minibank

            - mobiltelefon

            - mobler_og_interior

            - museum

            - nettjenester

            - overforing

            - overnatting

            - parkering

            - pengespill

            - post

            - reiseselskap

            - renter_innskudd

            - renter_og_gebyrer

            - restaurant

            - sfo

            - skatt

            - skjonnhet

            - sko

            - smykker

            - sparing

            - sportsutstyr

            - stroem

            - strommetjenester

            - studielan

            - tannlege

            - taxi

            - tidsskrifter

            - trafikkskole

            - trening

            - tv

            - utbytte

            - utesteder

            - utlegg_og_refusjon

            - utleie_og_salg

            - velvare

            - vennebetaling

            - verksted

            - verktoy
          example: con1
          type: string
        currency:
          description: |
            The currency of the amount
          default: NOK
          enum:
            - NOK
          example: NOK
          type: string
        id:
          description: |
            A unique ID identifying a transaction
            The ID must be unique within this query
          example: transaction_id_1
          type: string
      required:
        - amount
        - category
        - id
      type: object
    CalculateFinanceTransactionsInput:
      properties:
        habits:
          $ref: '#/components/schemas/CalculateFinanceHabitsInput'
        transactions:
          description: |
            List of monetary transactions
          items:
            $ref: '#/components/schemas/CalculateFinanceTransactionInput'
          type: array
      required:
        - transactions
      type: object
    CalculateFoodAndDrinkHabitsInput:
      properties:
        food:
          $ref: '#/components/schemas/CalculatorHabitsInputFood'
        user:
          $ref: '#/components/schemas/UserInput'
      type: object
    CalculateFoodAndDrinkResponse:
      properties:
        categories:
          properties:
            beverages:
              $ref: '#/components/schemas/CalculateFoodAndDrinkResponseCategory'
            dairyAndEggs:
              $ref: '#/components/schemas/CalculateFoodAndDrinkResponseCategory'
            fish:
              $ref: '#/components/schemas/CalculateFoodAndDrinkResponseCategory'
            grains:
              $ref: '#/components/schemas/CalculateFoodAndDrinkResponseCategory'
            leftovers:
              $ref: '#/components/schemas/CalculateFoodAndDrinkResponseCategory'
            meat:
              $ref: '#/components/schemas/CalculateFoodAndDrinkResponseCategory'
            produce:
              $ref: '#/components/schemas/CalculateFoodAndDrinkResponseCategory'
          required:
            - beverages
            - dairyAndEggs
            - fish
            - grains
            - leftovers
            - meat
            - produce
          type: object
        totalCo2Kg:
          type: number
      required:
        - categories
      type: object
    CalculateFoodAndDrinkResponseCategory:
      properties:
        foodCo2Kg:
          type: number
        foodCost:
          type: number
        foodKg:
          type: number
        foodWasteCo2Kg:
          type: number
        foodWasteCost:
          type: number
        foodWasteKg:
          type: number
      required:
        - foodCo2Kg
        - foodCost
        - foodKg
        - foodWasteCo2Kg
        - foodWasteCost
        - foodWasteKg
      type: object
    CalculatorHabitsInput:
      properties:
        consumption:
          $ref: '#/components/schemas/CalculatorHabitsInputConsumption'
        energy:
          $ref: '#/components/schemas/CalculatorHabitsInputEnergy'
        food:
          $ref: '#/components/schemas/CalculatorHabitsInputFood'
        household:
          $ref: '#/components/schemas/CalculatorHabitsInputHousehold'
        transport:
          $ref: '#/components/schemas/CalculatorHabitsInputTransport'
        user:
          $ref: '#/components/schemas/UserInput'
      type: object
    CalculatorHabitsInputConsumption:
      description: >
        This category refers to a citizen's habits when it comes to purchasing
        goods and services.
      properties:
        correctWashingClothes:
          description: >
            Answer to the question "Do you read the washing instructions on your
            garments and wash them accordingly?"

            * correctWashingClothes1 - No

            * correctWashingClothes2 - Only for expensive clothes

            * correctWashingClothes3 - Yes, for everything
          default: correctWashingClothes1
          enum:
            - correctWashingClothes1
            - correctWashingClothes2
            - correctWashingClothes3
          type: string
        donateClothes:
          description: |
            Answer to the question "How often do you donate clothes?"
            * donateClothes1 - Never;
            * donateClothes2 - Maybe once a year;
            * donateClothes3 - Maybe once per season;
            * donateClothes4 - Monthly;
          default: donateClothes1
          enum:
            - donateClothes1
            - donateClothes2
            - donateClothes3
            - donateClothes4
          type: string
        ethicalConsumer:
          description: >
            Answer to the question "How often do you purchase ethical or
            environmentally friendly products?"

            * ethicalConsumer1 - Always, if possible;

            * ethicalConsumer2 - Often;

            * ethicalConsumer3 - Occasionally;

            * ethicalConsumer4 - Rarely
          default: ethicalConsumer3
          enum:
            - ethicalConsumer1
            - ethicalConsumer2
            - ethicalConsumer3
            - ethicalConsumer4
          type: string
        fastFashionClothes:
          description: >
            Answer to the question "How often do you buy clothing from fast
            fashion brands?"

            * fastFashionClothes1 - Never 

            * fastFashionClothes2 - Occasionally

            * fastFashionClothes3 - Regularly 

            * fastFashionClothes4 - Most of my clothing is fast fashion

            * fastFashionClothes5 - Love fast fashion
          default: fastFashionClothes2
          enum:
            - fastFashionClothes1
            - fastFashionClothes2
            - fastFashionClothes3
            - fastFashionClothes4
            - fastFashionClothes5
          type: string
        newClothes:
          description: >
            Answer to the question "How many pieces of clothing do you buy new
            per year?"
          default: 36
          maximum: 200
          minimum: 0
          type: number
        qualityClothes:
          description: >
            Answer to the question "How often do you buy clothes from good
            quality brands (like eg. brands providing lifetime guarantee)?"

            * qualityClothes1 - Always, if possible;

            * qualityClothes2 - Often;

            * qualityClothes3 - Occasionally;

            * qualityClothes4 - Rarely;
          default: qualityClothes3
          enum:
            - qualityClothes1
            - qualityClothes2
            - qualityClothes3
            - qualityClothes4
          type: string
        qualityConsumer:
          description: |
            Answer to the question "How often to you buy high quality products?"
            * qualityConsumer1 - Always, if possible;
            * qualityConsumer2 - Often;
            * qualityConsumer3 - Occasionally;
            * qualityConsumer4 - Rarely
          default: qualityConsumer3
          enum:
            - qualityConsumer1
            - qualityConsumer2
            - qualityConsumer3
            - qualityConsumer4
          type: string
        rentalClothes:
          description: >
            Answer to the question "How many pieces of clothing do you rent per
            year?"
          default: 0
          maximum: 100
          minimum: 0
          type: number
        repairClothes:
          description: >
            Answer to the question "How many pieces of clothing do you repair
            per year?"
          default: 0
          maximum: 75
          minimum: 0
          type: number
        repairConsumer:
          description: >
            Answer to the question "How often do you repair worn or broken
            items?"

            * repairConsumer1 - Always, if possible;

            * repairConsumer2 - Often;

            * repairConsumer3 - Occasionally;

            * repairConsumer4 - Rarely
          default: repairConsumer3
          enum:
            - repairConsumer1
            - repairConsumer2
            - repairConsumer3
            - repairConsumer4
          type: string
        serviceConsumer:
          description: >
            Answer to the question "How often do you choose to buy services
            instead of goods?"

            * serviceConsumer1 - Love cultural events and services;

            * serviceConsumer2 - Frequently;

            * serviceConsumer3 - About average;

            * serviceConsumer4 - Love buying stuff
          default: serviceConsumer3
          enum:
            - serviceConsumer1
            - serviceConsumer2
            - serviceConsumer3
            - serviceConsumer4
          type: string
        textileReuse:
          description: >
            Answer to the question "Do you reuse old clothes for other purposes?
            (like reusing a tshirt as a wash cloth, old bedsheet as a tablecloth
            etc..)"

            * textileReuse1 - Never, I love new textiles

            * textileReuse2 - Like an average person

            * textileReuse3 - Occasionally

            * textileReuse4 - I actively try to
          default: textileReuse2
          enum:
            - textileReuse1
            - textileReuse2
            - textileReuse3
            - textileReuse4
          type: string
        usedClothes:
          description: >
            Answer to the question "How many pieces of clothing do you buy
            secondhand per year?"
          default: 0
          maximum: 50
          minimum: 0
          type: number
        wasteConsumer:
          description: >
            Answer to the question "How much do you recycle?"

            * wasteConsumer1 - Always, and I reduce the amount of waste I
            generate;

            * wasteConsumer2 - As much as possible;

            * wasteConsumer3 - Often;

            * wasteConsumer4 - I'm not great at recycling
          default: wasteConsumer3
          enum:
            - wasteConsumer1
            - wasteConsumer2
            - wasteConsumer3
            - wasteConsumer4
          type: string
        yearlyDonationAmount:
          description: The amount of money donated per year, in local currency
          minimum: 0
          type: number
      type: object
    CalculatorHabitsInputEnergy:
      properties:
        cabinSqm:
          description: >
            The size of your cabin or second home in square meters (m2). Leave
            empty if you don't have a cabin. This applies to the datasource
            Norway only, other datasources will always use zero regardless of
            input.
          example: 30
          minimum: 0
          type: number
        dishWasher:
          description: >
            Answer to the question "What is your approach to clothes and
            dishwashing?"

            * dishWasher1 - I always fill the machines and try to reduce the
            amount that needs to be washed;

            * dishWasher2 - I try to run full loads;

            * dishWasher3 - I don't really think about it;

            * dishWasher4 - I often run half-full loads
          default: dishWasher3
          enum:
            - dishWasher1
            - dishWasher2
            - dishWasher3
            - dishWasher4
          type: string
        energySaver:
          description: >
            Answer to the question "How conscious are you of the electricity use
            of electronic devices?"

            * energySaver1 - I avoid leaving electronics on or on standby;

            * energySaver2 - I reduce electricity use by avoiding devices on
            standby;

            * energySaver3 - Don't know;

            * energySaver4 - I have a lot of electronic devices on at most times
          default: energySaver3
          enum:
            - energySaver1
            - energySaver2
            - energySaver3
            - energySaver4
          type: string
        heatSource:
          description: |
            Answer to the question "What is your primary heat source?"
            * heatSource1 - Geothermal heat pump;
            * heatSource2 - Water source heat pump;
            * heatSource3 - Air-to-air heat pump;
            * heatSource4 - Panel heaters;
            * heatSource5 - Don't know (default);
            * heatSource6 - District heating;
            * heatSource7 - Fuel oil;
            * heatSource8 - Gas
          default: heatSource5
          enum:
            - heatSource1
            - heatSource2
            - heatSource3
            - heatSource4
            - heatSource5
            - heatSource6
            - heatSource7
            - heatSource8
          type: string
        heatSourceWood:
          description: >
            Answer to the question "How much wood do you typically heat with per
            year?"

            * heatSourceWood1 - None;

            * heatSourceWood2 - Around 500 liters;

            * heatSourceWood3 - 1-3000 liters;

            * heatSourceWood4 - 3-5000 liters;

            * heatSourceWood5 - More than 5000 liters


            In the case where sqm <= 100, the default value is set to
            heatSourceWood3
          default: heatSourceWood2
          enum:
            - heatSourceWood1
            - heatSourceWood2
            - heatSourceWood3
            - heatSourceWood4
            - heatSourceWood5
          type: string
        heatedArea:
          description: >
            Answer to the question "What fraction of the area of your house is
            heated?"

            * heatedArea1 - Around 60%;

            * heatedArea2 - Around 75%;

            * heatedArea3 - Most rooms (around 90%) are heated;

            * heatedArea4 - All rooms are heated
          default: heatedArea3
          enum:
            - heatedArea1
            - heatedArea2
            - heatedArea3
            - heatedArea4
          type: string
        hotWater:
          description: >
            Answer to the question "How often do you save hot water for purposes
            other than showering?"

            * hotWater1 - Always if possible;

            * hotWater2 - Often;

            * hotWater3 - Sometimes (default);

            * hotWater4 - Never
          default: hotWater3
          enum:
            - hotWater1
            - hotWater2
            - hotWater3
            - hotWater4
          type: string
        indoorTemp:
          description: >
            Answer to the question "What is the average indoor temperature in
            your house?"

            * indoorTemp1 - 4 C colder than average;

            * indoorTemp2 - 2 C colder than average;

            * indoorTemp3 - Average;

            * indoorTemp4 - Warmer than average
          default: indoorTemp3
          enum:
            - indoorTemp1
            - indoorTemp2
            - indoorTemp3
            - indoorTemp4
          type: string
        ledLights:
          description: >
            Answer to the question "What type of light bulbs do you have?"

            * ledLights1 - Almost all LED;

            * ledLights2 - Mostly LED;

            * ledLights3 - Very few or no LED


            In Japan, the default is ledLights2, but everywhere else it is
            ledLights3
          default: ledLights3
          enum:
            - ledLights1
            - ledLights2
            - ledLights3
          type: string
        lightsOff:
          description: >
            Answer to the question "How often do you turn off lights you aren't
            using?"

            * lightsOff1 - Always;

            * lightsOff2 - Often;

            * lightsOff3 - Average;

            * lightsOff4 - Never
          default: lightsOff3
          enum:
            - lightsOff1
            - lightsOff2
            - lightsOff3
            - lightsOff4
          type: string
        renovateLevel:
          description: >
            Answer to the question "When was your dwelling place built or last
            significantly renovated?"

            * renovateLevel1 - After 2010;

            * renovateLevel2 - In the 2000s;

            * renovateLevel3 - In the 90s;

            * renovateLevel4 - In the 80s;

            * renovateLevel5 - Before 1980
          default: renovateLevel4
          enum:
            - renovateLevel1
            - renovateLevel2
            - renovateLevel3
            - renovateLevel4
            - renovateLevel5
          type: string
        showerFreq:
          description: Number of showers taken per week
          minimum: 0
          type: number
        showerLength:
          description: Average shower length, in minutes
          minimum: 0
          type: number
        showerType:
          description: |
            Answer to the question "What type of shower head do you have?"
            * showerType1 - Efficient shower head;
            * showerType2 - Don't know;
            * showerType3 - Regular shower head
          default: showerType2
          enum:
            - showerType1
            - showerType2
            - showerType3
          type: string
        solarPanelKW:
          description: >
            The amount of electricity in kW produced by your solar panels per
            year.  

            Should only be used if you have solar panels, but do not know the
            production in energy units (kWh).

            Leave empty if you don't have solar panels.
          example: 2
          minimum: 0
          type: number
        solarPanelKWH:
          description: >
            The amount of electricity in kWh produced by your solar panels, per
            year.

            Leave empty if you don't have solar panels.
          example: 10000
          minimum: 0
          type: number
        solarSize:
          description: |
            The size of your solar panels installation.

            * solarSize1: no solar panels installation
            * solarSize2: small solar panels installation
            * solarSize3: medium solar panels installation
            * solarSize4: large solar panels installation
          enum:
            - solarSize1
            - solarSize2
            - solarSize3
            - solarSize4
          example: solarSize3
          type: string
        tumbleDrier:
          description: |
            Answer to the question "How often do you air dry laundry?"
            * tumbleDrier1 - Always, if possible;
            * tumbleDrier2 - Often;
            * tumbleDrier3 - Occasionally;
            * tumbleDrier4 - I always tumble dry
          default: tumbleDrier3
          enum:
            - tumbleDrier1
            - tumbleDrier2
            - tumbleDrier3
            - tumbleDrier4
          type: string
      type: object
    CalculatorHabitsInputFood:
      properties:
        dairyAmount:
          description: |
            Answer to the question "How much dairy is in your diet?"
            * dairyAmount1 - None; 
            * dairyAmount2 - very little; 
            * dairyAmount3 - less than average; 
            * dairyAmount4 - about average; 
            * dairyAmount5 - I love dairy products!
          default: dairyAmount4
          enum:
            - dairyAmount1
            - dairyAmount2
            - dairyAmount3
            - dairyAmount4
            - dairyAmount5
          type: string
        dietAmount:
          description: |
            Answer to the question "How much do you eat?"
            * dietAmount1 - very little;
            * dietAmount2 - as an average woman;
            * dietAmount3 - about average;
            * dietAmount4 - as an average man;
            * dietAmount5 - like a horse
          default: dietAmount3
          enum:
            - dietAmount1
            - dietAmount2
            - dietAmount3
            - dietAmount4
            - dietAmount5
          type: string
        foodWaste:
          description: |
            Answer to the question "How much food do you throw away?"
            * foodWaste1 - I eat everything;
            * foodWaste2 - I throw away very little;
            * foodWaste3 - About average;
            * foodWaste4 - Quite a lot
          default: foodWaste3
          enum:
            - foodWaste1
            - foodWaste2
            - foodWaste3
            - foodWaste4
          type: string
        meatConsumption:
          description: |
            Answer to the question "How often do you eat meat?"
            * meatConsumption1 - Vegetarian (Never);
            * meatConsumption2 - Flexitarian (1-2 times per week);
            * meatConsumption3 - 3-4 times per week;
            * meatConsumption4 - Almost every day;
            * meatConsumption5 - All the time
          default: meatConsumption4
          enum:
            - meatConsumption1
            - meatConsumption2
            - meatConsumption3
            - meatConsumption4
            - meatConsumption5
          type: string
        meatPreference:
          description: >
            Answer to the question "When you eat meat, how often is it red meat
            (beef, lamb and game)?"

            * meatPreference1 - Never

            * meatPreference2 - Once in a while

            * meatPreference3 - About half the time

            * meatPreference4 - More than half but not always (75% of the time)

            * meatPreference5 - Most of the time (90%  of the time)
          default: meatPreference3
          enum:
            - meatPreference1
            - meatPreference2
            - meatPreference3
            - meatPreference4
            - meatPreference5
          type: string
        seaFoodConsumption:
          description: |
            Answer to the question "How often do you consume seafood?"
            * seaFoodConsumption1 - I don’t eat seafood
            * seaFoodConsumption2 - I eat seafood occasionally
            * seaFoodConsumption3 - I eat seafood frequently
            * seaFoodConsumption4 - I love seafood
          default: seaFoodConsumption3
          enum:
            - seaFoodConsumption1
            - seaFoodConsumption2
            - seaFoodConsumption3
            - seaFoodConsumption4
          type: string
        seaFoodPreference:
          description: >
            Answer to the question "When you eat seafood, how frequently is it
            shellfish?"

            * seaFoodPreference1 - Never

            * seaFoodPreference2 - Every now and then

            * seaFoodPreference3 - Quite often
          default: seaFoodPreference2
          enum:
            - seaFoodPreference1
            - seaFoodPreference2
            - seaFoodPreference3
          type: string
      type: object
    CalculatorHabitsInputHousehold:
      description: >
        Description of the household to calibrate calculations.  The contents of
        this object are defaulted to values specific for the chosen dataSource.
      properties:
        members:
          description: >
            How many people reside in the household. There must be minimum one
            adult.
          properties:
            adults:
              example: 2
              minimum: 1
              type: integer
            children:
              minimum: 0
              type: integer
          type: object
        monthlyIncomeAfterTax:
          description: >
            Monthly income after tax for the entire household, in the local
            currency for the selected datasource.
          example: 30000
          minimum: 0
          type: number
        sqm:
          description: |
            Dwelling size  in square meters (m2).
          minimum: 0
          type: number
        type:
          description: Type of dwelling
          enum:
            - detached
            - row
            - apartment
          example: detached
          type: string
      type: object
    CalculatorHabitsInputTransport:
      properties:
        boatTrips:
          minimum: 0
          type: number
        carTrips:
          description: Number of longer car trips taken per year, by approximate distance.
          properties:
            continental:
              minimum: 0
              type: number
            country:
              minimum: 0
              type: number
            regional:
              minimum: 0
              type: number
          type: object
        distanceWork:
          description: One-way distance travelled to work per day, in kilometers.
          minimum: 0
          type: number
        drivingDistance:
          properties:
            vehicleElectric:
              minimum: 0
              type: number
            vehicleFossil:
              minimum: 0
              type: number
            vehicleHybrid:
              minimum: 0
              type: number
            vehicleMotorbike:
              minimum: 0
              type: number
            vehicleShared:
              minimum: 0
              type: number
          type: object
        flightTrips:
          description: |
            Number of flights taken (for leisure purposes) per year, by
            approximate flight distance.
          properties:
            continental:
              minimum: 0
              type: number
            country:
              minimum: 0
              type: number
            global:
              minimum: 0
              type: number
          type: object
        publicTrips:
          description: |
            Number of trips taken per year using public transport (buses
            and trains), by approximate trip distance.
          properties:
            continental:
              minimum: 0
              type: number
            country:
              minimum: 0
              type: number
            regional:
              minimum: 0
              type: number
          type: object
        socialKm:
          description: |
            Number of kilometers travelled by mode of transport for leisure
            purposes (shopping, visiting friends, other recreation)
          properties:
            coDrive:
              minimum: 0
              type: number
            ebike:
              minimum: 0
              type: number
            public:
              minimum: 0
              type: number
            vehicleElectric:
              minimum: 0
              type: number
            vehicleFossil:
              minimum: 0
              type: number
            vehicleHybrid:
              minimum: 0
              type: number
            vehicleMotorbike:
              minimum: 0
              type: number
            vehicleShared:
              minimum: 0
              type: number
            walkBike:
              minimum: 0
              type: number
          type: object
        vehicles:
          description: Number of vehicles of each type owned by the user
          properties:
            ebike:
              minimum: 0
              type: number
            electric:
              minimum: 0
              type: number
            fossil:
              minimum: 0
              type: number
            hybrid:
              minimum: 0
              type: number
            motorbike:
              minimum: 0
              type: number
          type: object
        workFreq:
          description: |
            Number of days per week a certain type of vehicle is used to
            commute to work
          properties:
            coDrive:
              minimum: 0
              type: number
            ebike:
              minimum: 0
              type: number
            public:
              minimum: 0
              type: number
            vehicleElectric:
              minimum: 0
              type: number
            vehicleFossil:
              minimum: 0
              type: number
            vehicleHybrid:
              minimum: 0
              type: number
            vehicleMotorbike:
              minimum: 0
              type: number
            vehicleShared:
              minimum: 0
              type: number
            walkBike:
              minimum: 0
              type: number
          type: object
      type: object
    ChangeRequestBody:
      properties:
        filteringCriteria:
          description: >
            For an activity to be returned by the change endpoint, it has to
            match the filtering criteria.

            It is optional to provide filtering criteria, and if no values are
            given for a criteria, no activities will be excluded based on this
            criteria.


            Example: To query all tips related to energy and transport and with
            a cost lower than 100€, use the filters below.

            ```

            { "module": ["energy", "transport"], "financialCost": ["0_10",
            "10_100"]  }

            ```
          properties:
            tags:
              description: |
                Specify categories and SDGs you want tips for.
              items:
                description: |
                  Tags are used to categorize tips. They also include SDGs.
                enum:
                  - consumption
                  - energy
                  - food
                  - food_waste
                  - plastic
                  - sustainable_food
                  - transport
                  - tutorial
                  - microplastics
                  - overuse
                  - plastic_on_the_go
                  - handprint
                  - textile
                  - daily_habit
                  - work
                  - SDG1
                  - SDG2
                  - SDG3
                  - SDG4
                  - SDG5
                  - SDG6
                  - SDG7
                  - SDG8
                  - SDG9
                  - SDG10
                  - SDG11
                  - SDG12
                  - SDG13
                  - SDG14
                  - SDG15
                  - SDG16
                  - SDG17
                example: sustainable_food
                type: string
              type: array
            financialCost:
              items:
                description: |
                  The financial cost of implementing an acitivity in Euros
                  * 0_10 - less than 10€
                  * 10_100 - 10-100€
                  * 100_1000 - 100-1000€
                  * 1000_10000 - 1000–10000€
                  * 10000+ - greater than 10000€
                enum:
                  - '0_10'
                  - '10_100'
                  - '100_1000'
                  - '1000_10000'
                  - 10000+
                example: '0_10'
                type: string
              type: array
            id:
              items:
                description: |
                  Unique key used to identify a specific tip.
                example: 42
                oneOf:
                  - type: string
                  - type: integer
              type: array
            module:
              items:
                description: |
                  The module the activity belongs to
                  * public
                  * consumption
[...]
