openapi: 3.0.1
info:
  title: Partner Content API
  description: >-
    Epidemic Sound has transformed the soundtracking experience for global
    brands and professional creators, with an expansive catalog of world-class
    music and sound effects that's seen and heard over 2.5 billion times a day
    around the globe.


    Providing a direct license model that comes with all rights included and
    next-generation soundtracking tools, Epidemic Sound empowers creators to
    unlock more feeling in everything they create and share their stories with
    the world. Epidemic Sound continuously enriches its world-class catalog of
    music by teaming up with artists, composers, and producers to create tracks
    spanning all genres, while supporting them financially and creatively.
  version: 0.1.17
servers:
  - description: Epidemic Sound Content API
    url: https://partner-content-api.epidemicsound.com
tags:
  - description: Endpoints to get track specific information.
    name: Tracks
  - description: >-
      These endpoints will allow you to explore the Epidemic Sound library. You
      can display tracks grouped in curated playlists, moods or genres or use
      search to get tracks by any term.
    name: Browse & search
  - description: >-
      These endpoints allows your application to upload assets such as images or
      audio.
    name: Assets
  - description: >-
      Endpoints to get sound effect specific information. These endpoints allow
      you to build a UI to browse and search for sound effects.
    name: Sound effects
  - description: >-
      These endpoints allows your application to get user specific information
      such as liked sounds.
    name: Users
  - description: Endpoints for user authentication.
    name: Authentication
  - description: >-
      These endpoints will allow you to report how tracks are used in your
      application.
    name: Reporting
paths:
  /v0/collections:
    get:
      tags:
        - Browse & search
      summary: List collections with tracks
      operationId: GET_Collections
      security:
        - UserAuth: []
        - EpidemicSoundConnectAuth: []
      description: >-
        The collections endpoint returns playlists curated by our team of
        in-house experts.


        We offer collections for any occasion: from holidays like “Día de
        Muertos“ to content types like “Real Estate” or “Badass ads”.


        You can manage the order and which collections are part or your
        applications’ free tier via the developer portal. As default, we return
        the collections included in your free tier first, followed by all
        collections in the Epidemic Sound library.


        Collections have attributes like title and cover art. In the few cases
        where we do not have cover art for a collection we return a default
        image.


        You can choose to return collections with or without tracks. The
        response will include a maximum of 20 tracks per collection. If a
        collection contains more than 20 tracks use endpoint
        '/collections/{collectionId}' to get all tracks.
      parameters:
        - $ref: '#/components/parameters/excludeField'
        - description: >-
            Max number of entries returned in the response, default 10 and max
            20
          name: limit
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Collection response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionsPaginatedResponse'
              example:
                collections:
                  - id: 4caef099-43bd-4653-8203-3086fa01d3b7
                    name: Happy
                    tracks:
                      - title: Happy Song
                        id: 6rUPerw2po
                        mainArtists:
                          - Main Artist
                        featuredArtists:
                          - Featured Artist
                        bpm: 135
                        length: 3123
                        moods:
                          - id: happy
                            name: Happy
                          - id: eccentric
                            name: Eccentric
                        genres:
                          - id: beats
                            name: Beats
                            parent:
                              id: parent
                              name: Parent Beats
                          - id: trap
                            name: Trap
                        images:
                          default: >-
                            https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/300x300.jpg
                          L: >-
                            https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/1050x1050.jpg
                          M: >-
                            https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/600x600.jpg
                          S: >-
                            https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/300x300.jpg
                          XS: >-
                            https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/128x128.jpg
                        waveformUrl: >-
                          https://pdn.epidemicsound.com/waveforms/1600/394079.json
                        hasVocals: true
                        added: '2020-10-10'
                        isExplicit: false
                        isPreviewOnly: true
                    availableTracks: 1
                    images:
                      default: >-
                        https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/default/300x300.jpg
                      L: >-
                        https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/default/1050x1050.jpg
                      M: >-
                        https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/default/600x600.jpg
                      S: >-
                        https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/default/300x300.jpg
                      XS: >-
                        https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/default/128x128.jpg
                  - id: 9917d694-511b-4b66-ab8a-c553660399e4
                    name: Sad
                    tracks:
                      - title: Sad Song
                        id: 0dZCtol3bs
                        mainArtists:
                          - Main Artist
                        featuredArtists:
                          - Featured Artist
                        bpm: 97
                        length: 2976
                        moods:
                          - id: happyX
                            name: Happy
                          - id: eccentricX
                            name: Eccentric
                        genres:
                          - id: beatsX
                            name: Beats
                            parent:
                              id: parentX
                              name: Parent Beats
                          - id: trapX
                            name: Trap
                        images:
                          default: >-
                            https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/300x300.jpg
                          L: >-
                            https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/1050x1050.jpg
                          M: >-
                            https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/600x600.jpg
                          S: >-
                            https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/300x300.jpg
                          XS: >-
                            https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/128x128.jpg
                        waveformUrl: >-
                          https://pdn.epidemicsound.com/waveforms/1600/394079.json
                        hasVocals: true
                        added: '2020-10-10'
                        isExplicit: false
                        isPreviewOnly: true
                    availableTracks: 1
                    images:
                      default: >-
                        https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/default/300x300.jpg
                      L: >-
                        https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/default/1050x1050.jpg
                      M: >-
                        https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/default/600x600.jpg
                      S: >-
                        https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/default/300x300.jpg
                      XS: >-
                        https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/default/128x128.jpg
                pagination:
                  page: 3
                  limit: 20
                  offset: 40
                links:
                  next: /v0/collections?limit=20&offset=60
                  prev: /v0/collections?limit=20&offset=20
        '401':
          description: Unauthorized. Most likely your access token has expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Invalid credentials
        '429':
          description: Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Rate limit exceeded
  /v0/collections/{collectionId}:
    get:
      tags:
        - Browse & search
      summary: List all tracks in a collection
      operationId: GET_Collection
      security:
        - UserAuth: []
        - EpidemicSoundConnectAuth: []
      description: >-
        The collections endpoint allows you to list all the tracks in a specific
        collection.
      parameters:
        - $ref: '#/components/parameters/collectionId'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Collection response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionPaginatedResponse'
              example:
                id: f10e65eb-9998-4c41-9777-ac9183ab85dd
                name: Happy
                tracks:
                  - title: Happy Song
                    id: 6rUPerw2poX
                    mainArtists:
                      - Main Artist
                    featuredArtists:
                      - Featured Artist
                    bpm: 135
                    length: 3123
                    moods:
                      - id: happyX
                        name: Happy
                      - id: eccentricX
                        name: Eccentric
                    genres:
                      - id: beatsX
                        name: Beats
                        parent:
                          id: parentX
                          name: Parent Beats
                      - id: trapX
                        name: Trap
                    images:
                      default: >-
                        https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/300x300.jpg
                      L: >-
                        https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/1050x1050.jpg
                      M: >-
                        https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/600x600.jpg
                      S: >-
                        https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/300x300.jpg
                      XS: >-
                        https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/128x128.jpg
                    waveformUrl: https://pdn.epidemicsound.com/waveforms/1600/394079.json
                    hasVocals: true
                    added: '2020-10-10'
                    isExplicit: false
                    isPreviewOnly: true
                availableTracks: 1
                pagination:
                  page: 4
                  limit: 20
                  offset: 60
                links:
                  next: >-
                    /v0/collections/f10e65eb-9998-4c41-9777-ac9183ab85dd?limit=20&offset=80
                  prev: >-
                    /v0/collections/f10e65eb-9998-4c41-9777-ac9183ab85dd?limit=20&offset=40
                images:
                  default: >-
                    https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/default/300x300.jpg
                  L: >-
                    https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/default/1050x1050.jpg
                  M: >-
                    https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/default/600x600.jpg
                  S: >-
                    https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/default/300x300.jpg
                  XS: >-
                    https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/default/128x128.jpg
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Bad request
        '401':
          description: Unauthorized. Most likely your access token has expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Invalid credentials
        '404':
          description: Collection was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Collection was not found
        '429':
          description: Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Rate limit exceeded
  /v0/tracks:
    get:
      tags:
        - Tracks
      summary: List tracks based on mood, genre or BPM
      operationId: GET_Tracks
      security:
        - UserAuth: []
        - EpidemicSoundConnectAuth: []
      description: >-
        The tracks endpoint allows you to list all tracks based on a specified
        mood, genre or BPM.
      parameters:
        - $ref: '#/components/parameters/genre'
        - $ref: '#/components/parameters/mood'
        - $ref: '#/components/parameters/bpmMin'
        - $ref: '#/components/parameters/bpmMax'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Tracks response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TracksResponse'
              example:
                tracks:
                  - title: Happy Song
                    id: 6rUPerw2poX
                    mainArtists:
                      - Main Artist
                    featuredArtists:
                      - Featured Artist
                    bpm: 135
                    length: 3123
                    moods:
                      - id: happyX
                        name: Happy
                      - id: eccentricX
                        name: Eccentric
                    genres:
                      - id: beatsX
                        name: Beats
                        parent:
                          id: parentX
                          name: Parent Beats
                      - id: trapX
                        name: Trap
                    images:
                      default: >-
                        https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/300x300.jpg
                      L: >-
                        https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/1050x1050.jpg
                      M: >-
                        https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/600x600.jpg
                      S: >-
                        https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/300x300.jpg
                      XS: >-
                        https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/128x128.jpg
                    waveformUrl: https://pdn.epidemicsound.com/waveforms/1600/394079.json
                    hasVocals: true
                    added: '2020-10-10'
                    isExplicit: false
                    isPreviewOnly: true
                  - title: Sad Song
                    id: 0dZCtol3bsX
                    mainArtists:
                      - Main Artist
                    featuredArtists:
                      - Featured Artist
                    bpm: 97
                    length: 2976
                    moods:
                      - id: happyX
                        name: Happy
                      - id: eccentricX
                        name: Eccentric
                    genres:
                      - id: beatsX
                        name: Beats
                        parent:
                          id: parentX
                          name: Parent Beats
                      - id: trapX
                        name: Trap
                    images:
                      default: >-
                        https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/300x300.jpg
                      L: >-
                        https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/1050x1050.jpg
                      M: >-
                        https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/600x600.jpg
                      S: >-
                        https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/300x300.jpg
                      XS: >-
                        https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/128x128.jpg
                    waveformUrl: https://pdn.epidemicsound.com/waveforms/1600/394079.json
                    hasVocals: true
                    added: '2020-10-10'
                    isExplicit: false
                    isPreviewOnly: true
                pagination:
                  page: 4
                  limit: 20
                  offset: 60
                links:
                  next: /v0/tracks?limit=20&offset=80
                  prev: /v0/tracks?limit=20&offset=40
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Bad request
        '401':
          description: Unauthorized. Most likely your access token has expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Invalid credentials
        '429':
          description: Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Rate limit exceeded
  /v0/tracks/search:
    get:
      tags:
        - Browse & search
      summary: Search for tracks
      operationId: BrowseSearch_tracksSearchList
      security:
        - UserAuth: []
        - EpidemicSoundConnectAuth: []
      description: >-
        The search endpoint allows your users to search the entire Epidemic
        Sound library. Search indexes track attributes such as moods, genres,
        artist, song title and bpm.
      parameters:
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/term'
        - $ref: '#/components/parameters/genre'
        - $ref: '#/components/parameters/mood'
        - description: Sort for search
          name: sort
          in: query
          required: false
          schema:
            type: string
            enum:
              - Relevance
              - Date
              - Title
            default: Relevance
        - description: Order
          name: order
          in: query
          required: false
          schema:
            type: string
            enum:
              - Asc
              - Desc
            default: Asc
      responses:
        '200':
          description: Tracks response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TracksResponse'
              example:
                tracks:
                  - title: Happy Song
                    id: 6rUPerw2poX
                    mainArtists:
                      - Main Artist
                    featuredArtists:
                      - Featured Artist
                    bpm: 135
                    length: 3123
                    moods:
                      - id: happyX
                        name: Happy
                      - id: eccentricX
                        name: Eccentric
                    genres:
                      - id: beatsX
                        name: Beats
                        parent:
                          id: parentX
                          name: Parent Beats
                      - id: trapX
                        name: Trap
                    images:
                      default: >-
                        https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/300x300.jpg
                      L: >-
                        https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/1050x1050.jpg
                      M: >-
                        https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/600x600.jpg
                      S: >-
                        https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/300x300.jpg
                      XS: >-
                        https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/128x128.jpg
                    waveformUrl: https://pdn.epidemicsound.com/waveforms/1600/394079.json
                    hasVocals: true
                    added: '2020-10-10'
                    isExplicit: false
                    isPreviewOnly: true
                  - title: Sad Song
                    id: 0dZCtol3bsX
                    mainArtists:
                      - Main Artist
                    featuredArtists:
                      - Featured Artist
                    bpm: 97
                    length: 2976
                    moods:
                      - id: happyX
                        name: Happy
                      - id: eccentricX
                        name: Eccentric
                    genres:
                      - id: beatsX
                        name: Beats
                        parent:
                          id: parentX
                          name: Parent Beats
                      - id: trapX
                        name: Trap
                    images:
                      default: >-
                        https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/300x300.jpg
                      L: >-
                        https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/1050x1050.jpg
                      M: >-
                        https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/600x600.jpg
                      S: >-
                        https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/300x300.jpg
                      XS: >-
                        https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/128x128.jpg
                    waveformUrl: https://pdn.epidemicsound.com/waveforms/1600/394079.json
                    hasVocals: true
                    added: '2020-10-10'
                    isExplicit: false
                    isPreviewOnly: true
                pagination:
                  page: 2
                  limit: 25
                  offset: 25
                links:
                  next: /v0/tracks/search?limit=25&offset=50
                  prev: /v0/tracks/search?limit=25&offset=0
                aggregations:
                  moods:
                    - id: energetic
                      name: Energetic
                      count: 1
                  genres:
                    - id: rock
                      name: Rock
                      count: 1
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Bad request
        '401':
          description: Unauthorized. Most likely your access token has expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Invalid credentials
        '403':
          description: >-
            Forbidden. Only available for ES Connect tokens or User tokens when
            the app allows to preview tracks.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Forbidden
        '429':
          description: Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Rate limit exceeded
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Service unavailable
  /v0/tracks/search/suggestions:
    get:
      tags:
        - Browse & search
      summary: Search tracks suggestions
      operationId: BrowseSearch_trackSuggestionsGet
      security:
        - UserAuth: []
        - EpidemicSoundConnectAuth: []
      description: >-
        The search suggestions endpoint allows your users to get autocomplete
        suggestions for Epidemic Sound music
      parameters:
        - $ref: '#/components/parameters/term'
      responses:
        '200':
          description: Tracks Search Suggestions response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchSuggestionsResponse'
              example:
                suggestions:
                  - value: rock
                    type: TEXT
                  - value: rocker
                    type: TEXT
                  - value: rock n roll
                    type: TEXT
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Bad request
        '401':
          description: Unauthorized. Most likely your access token has expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Invalid credentials
        '403':
          description: >-
            Forbidden. Only available for ES Connect tokens or User tokens when
            the app allows to preview tracks.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Forbidden
        '429':
          description: Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Rate limit exceeded
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Service unavailable
  /v0/tracks/parameters:
    get:
      tags:
        - Tracks
      summary: List track parameters
      operationId: Tracks_listParameters
      security:
        - UserAuth: []
        - EpidemicSoundConnectAuth: []
      description: Get a list of possible track query parameters
      responses:
        '200':
          description: Track parameters response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrackParametersResponse'
              example:
                genres:
                  - id: rockX
                    name: Rock
                    parent:
                      id: rock-parent
                      name: Rock Parent
                  - id: rock-parentX
                    name: Rock Parent
                  - id: skate-punk
                    name: Skate-Punk
                moods:
                  - id: energeticX
                    name: Energetic
                  - id: happyX
                    name: Happy
        '401':
          description: Unauthorized. Most likely your access token has expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Invalid credentials
        '429':
          description: Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Rate limit exceeded
  /v0/moods:
    get:
      tags:
        - Browse & search
      summary: List moods
      operationId: BrowseSearch_moodsList
      security:
        - UserAuth: []
        - EpidemicSoundConnectAuth: []
      description: >-
        The moods endpoint allows your users to browse the music catalog based
        on moods like happy, epic or relaxing. Moods have cover art that you can
        show in your interface.


        By specifying the “type” of moods you want to display, you can choose to
        show all moods in the Epidemic Sound library, only the moods that are
        featured on epidemicsound.com or only the moods that are available for
        your free tier tracks.
      parameters:
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/order'
        - $ref: '#/components/parameters/type'
        - description: >-
            Max number of entries returned in the response, default 20 and max
            20
          name: limit
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Track moods response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoodsPaginatedResponseWithImages'
              example:
                moods:
                  - id: energeticX
                    name: Epic
                    images:
                      default: >-
                        https://images.ctfassets.net/ojtnytzl1djm/3IWOMuMQtqXI01euQ43r6d/19761430ed16d9d35b94b71cb4693c80/Epic.jpg?w=300&h=300&fit=fill&q=90&fm=jpg
                      L: >-
                        https://images.ctfassets.net/ojtnytzl1djm/3IWOMuMQtqXI01euQ43r6d/19761430ed16d9d35b94b71cb4693c80/Epic.jpg?w=1050&h=1050&fit=fill&q=90&fm=jpg
                      M: >-
                        https://images.ctfassets.net/ojtnytzl1djm/3IWOMuMQtqXI01euQ43r6d/19761430ed16d9d35b94b71cb4693c80/Epic.jpg?w=600&h=600&fit=fill&q=90&fm=jpg
                      S: >-
                        https://images.ctfassets.net/ojtnytzl1djm/3IWOMuMQtqXI01euQ43r6d/19761430ed16d9d35b94b71cb4693c80/Epic.jpg?w=300&h=300&fit=fill&q=90&fm=jpg
                      XS: >-
                        https://images.ctfassets.net/ojtnytzl1djm/3IWOMuMQtqXI01euQ43r6d/19761430ed16d9d35b94b71cb4693c80/Epic.jpg?w=128&h=128&fit=fill&q=90&fm=jpg
                  - id: happyX
                    name: Happy
                    images:
                      default: >-
                        https://images.ctfassets.net/ojtnytzl1djm/2u0eIu3GfevvONKEVc0NEi/f0db82add464ad37ec90406c8ab7cab1/Happy.png?w=300&h=300&fit=fill&q=90&fm=jpg
                      L: >-
                        https://images.ctfassets.net/ojtnytzl1djm/2u0eIu3GfevvONKEVc0NEi/f0db82add464ad37ec90406c8ab7cab1/Happy.png?w=1050&h=1050&fit=fill&q=90&fm=jpg
                      M: >-
                        https://images.ctfassets.net/ojtnytzl1djm/2u0eIu3GfevvONKEVc0NEi/f0db82add464ad37ec90406c8ab7cab1/Happy.png?w=600&h=600&fit=fill&q=90&fm=jpg
                      S: >-
                        https://images.ctfassets.net/ojtnytzl1djm/2u0eIu3GfevvONKEVc0NEi/f0db82add464ad37ec90406c8ab7cab1/Happy.png?w=300&h=300&fit=fill&q=90&fm=jpg
                      XS: >-
                        https://images.ctfassets.net/ojtnytzl1djm/2u0eIu3GfevvONKEVc0NEi/f0db82add464ad37ec90406c8ab7cab1/Happy.png?w=128&h=128&fit=fill&q=90&fm=jpg
                pagination:
                  page: 1
                  limit: 20
                  offset: 0
                links: {}
        '401':
          description: Unauthorized. Most likely your access token has expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Invalid credentials
        '429':
          description: Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Rate limit exceeded
  /v0/moods/{moodId}:
    get:
      tags:
        - Browse & search
      summary: Mood by ID
      operationId: BrowseSearch_moodDetails
      security:
        - UserAuth: []
        - EpidemicSoundConnectAuth: []
      description: Get mood details
      parameters:
        - $ref: '#/components/parameters/moodId'
        - $ref: '#/components/parameters/expand'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Track mood response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoodResponseWithImages'
              example:
                id: happyX
                name: Happy
                images:
                  default: >-
                    https://images.ctfassets.net/ojtnytzl1djm/2u0eIu3GfevvONKEVc0NEi/f0db82add464ad37ec90406c8ab7cab1/Happy.png?w=300&h=300&fit=fill&q=90&fm=jpg
                  L: >-
                    https://images.ctfassets.net/ojtnytzl1djm/2u0eIu3GfevvONKEVc0NEi/f0db82add464ad37ec90406c8ab7cab1/Happy.png?w=1050&h=1050&fit=fill&q=90&fm=jpg
                  M: >-
                    https://images.ctfassets.net/ojtnytzl1djm/2u0eIu3GfevvONKEVc0NEi/f0db82add464ad37ec90406c8ab7cab1/Happy.png?w=600&h=600&fit=fill&q=90&fm=jpg
                  S: >-
                    https://images.ctfassets.net/ojtnytzl1djm/2u0eIu3GfevvONKEVc0NEi/f0db82add464ad37ec90406c8ab7cab1/Happy.png?w=300&h=300&fit=fill&q=90&fm=jpg
                  XS: >-
                    https://images.ctfassets.net/ojtnytzl1djm/2u0eIu3GfevvONKEVc0NEi/f0db82add464ad37ec90406c8ab7cab1/Happy.png?w=128&h=128&fit=fill&q=90&fm=jpg
        '401':
          description: Unauthorized. Most likely your access token has expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Invalid credentials
        '404':
          description: Mood was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Mood was not found
        '429':
          description: Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Rate limit exceeded
  /v0/genres:
    get:
      tags:
        - Browse & search
      summary: List genres
      operationId: BrowseSearch_genreCatalog
      security:
        - UserAuth: []
        - EpidemicSoundConnectAuth: []
      description: >-
        The genres endpoint allows your users to browse the music catalog based
        on genres like rock, hiphop or acoustic. 


        Genres are nested and both parent and child genres are returned in the
        response. Parent genres have cover art that you can show in your
        interface.


        By specifying the “type” of genres you want to display, you can choose
        to show all genres in the Epidemic Sound library, only the genres that
        are featured on epidemicsound.com or only the genres that are available
        for your free tier tracks.
      parameters:
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/order'
        - $ref: '#/components/parameters/type'
        - description: >-
            Max number of entries returned in the response, default 20 and max
            20
          name: limit
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Track genres response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenresWithImagesPaginatedResponse'
              example:
                genres:
                  - id: beatsX
                    name: Beats
                    images:
                      default: >-
                        https://images.ctfassets.net/ojtnytzl1djm/4Mm4kJ9nwasLwZpQ54472a/90f35901413025d5a627fa132f6c2b56/Beats.jpg?w=300&h=300&fit=fill&q=90&fm=jpg
                      L: >-
                        https://images.ctfassets.net/ojtnytzl1djm/4Mm4kJ9nwasLwZpQ54472a/90f35901413025d5a627fa132f6c2b56/Beats.jpg?w=1050&h=1050&fit=fill&q=90&fm=jpg
                      M: >-
                        https://images.ctfassets.net/ojtnytzl1djm/4Mm4kJ9nwasLwZpQ54472a/90f35901413025d5a627fa132f6c2b56/Beats.jpg?w=600&h=600&fit=fill&q=90&fm=jpg
                      S: >-
                        https://images.ctfassets.net/ojtnytzl1djm/4Mm4kJ9nwasLwZpQ54472a/90f35901413025d5a627fa132f6c2b56/Beats.jpg?w=300&h=300&fit=fill&q=90&fm=jpg
                      XS: >-
                        https://images.ctfassets.net/ojtnytzl1djm/4Mm4kJ9nwasLwZpQ54472a/90f35901413025d5a627fa132f6c2b56/Beats.jpg?w=128&h=128&fit=fill&q=90&fm=jpg
                pagination:
                  page: 1
                  limit: 20
                  offset: 0
                links: {}
        '401':
          description: Unauthorized. Most likely your access token has expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Invalid credentials
        '429':
          description: Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Rate limit exceeded
  /v0/genres/{genreId}:
    get:
      tags:
        - Browse & search
      summary: Genre details
      operationId: BrowseSearch_genreDetails
      security:
        - UserAuth: []
        - EpidemicSoundConnectAuth: []
      description: >-
        This endpoint gives you the parent and child relationships of a specific
        genre as well as all tracks that belong to it.
      parameters:
        - $ref: '#/components/parameters/genreId'
        - $ref: '#/components/parameters/expand'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Track genre response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenreResponseWithChildren'
              example:
                id: parent-beats
                name: Parent Beats
                children:
                  - id: true-beats
                    name: True Beats
                    parent:
                      id: parent-beatsX
                      name: Parent Beats
                tracks:
                  tracks:
                    - title: Happy Song
                      id: 6rUPerw2poX
                      mainArtists:
                        - Main Artist
                      featuredArtists:
                        - Featured Artist
                      bpm: 135
                      length: 3123
                      moods:
                        - id: happyX
                          name: Happy
                        - id: eccentricX
                          name: Eccentric
                      genres:
                        - id: parent-beatsX
                          name: Beats
                          parent:
                            id: parentX
                            name: Parent Beats
                        - id: trapX
                          name: Trap
                      images:
                        default: >-
                          https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/300x300.jpg
                        L: >-
                          https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/1050x1050.jpg
                        M: >-
                          https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/600x600.jpg
                        S: >-
                          https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/300x300.jpg
                        XS: >-
                          https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/128x128.jpg
                      waveformUrl: https://pdn.epidemicsound.com/waveforms/1600/394079.json
                      hasVocals: true
                      added: '2020-10-10'
                      isExplicit: false
                      isPreviewOnly: true
                  pagination:
                    page: 2
                    limit: 25
                    offset: 25
                  links:
                    next: /v0/genres/{genreId}?limit=25&offset=50
                    prev: /v0/genres/{genreId}?limit=25&offset=0
        '401':
          description: Unauthorized. Most likely your access token has expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Invalid credentials
        '404':
          description: Genre was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Genre was not found
        '429':
          description: Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Rate limit exceeded
  /v0/tracks/{trackId}/download:
    get:
      tags:
        - Tracks
      summary: Download track
      operationId: GET_Download
      security:
        - UserAuth: []
        - EpidemicSoundConnectAuth: []
      description: >-
        The download endpoint allows you to download an MP3 file of the track. 


        We offer MP3 files in two qualities; normal (128kbps) and high
        (320kbps).


        The high quality files can be used in content when needed, but normal
        quality is sufficient for most use cases. 


        The download links expire after 24 hours (normal quality) or 1 hour
        (high quality files). The expiration time is stated in the response. 


        All users can download the tracks that are part of the free tier. Only
        connected users with an active Epidemic Sound subscription can download
        tracks that are part of the premium library. If a user does not have
        access to download a track, you will get an error response. You can
        proactively mark premium tracks in your UI by using the track attribute
        `isPreviewOnly` (see track attributes).
      parameters:
        - $ref: '#/components/parameters/trackId'
        - $ref: '#/components/parameters/format'
        - $ref: '#/components/parameters/quality'
      responses:
        '200':
          description: Information about download url
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DownloadResponse'
              example:
                url: >-
                  https://pdn.epidemicsound.com/ES_ITUNES/Happy_Song/ES_Happy_Song.mp3
                expires: '2022-12-22T11:01:48Z'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Bad request
        '401':
          description: Unauthorized. Most likely your access token has expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Invalid credentials
        '403':
          description: User does not have access to download the track.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: User does not have access to download the track
        '404':
          description: Track was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Track was not found
        '429':
          description: Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Rate limit exceeded
  /v0/tracks/{trackId}/beats:
    get:
      tags:
        - Tracks
      summary: Beats
      operationId: Tracks_getBeatsData
      security:
        - UserAuth: []
        - EpidemicSoundConnectAuth: []
      description: "  The beats endpoint provides information about the timestamps of beats in a track. You can use this endpoint to simplify the process to cut the video in sync with the music.\n\n  Unlike BPM which is a single number for the entire track, beats can change dynamically across a music piece. This is particularly valuable for capturing variations in tempo, such as a slower intro, a build-up with faster beats, or changes in rhythm throughout the composition.\n\n  The response includes two types of metadata:  `time` and `value`.\_\n\n  `time` represents the timestamp of the beat in milliseconds. `value` indicates the beat's position in a bar (or measure in the US), where 1 corresponds to the first beat (downbeat).\n\n  Examples:\n\n  Most pop songs have four beats in a bar. For example, if we looked at the beats data for Coolio’s `1, 2, 3, 4` it would look something like:\_ 1-2-3-4, 1-2-3-4\n\n  However, a waltz has three beats in a bar, and the data would look something like: 1-2-3, 1-2-3\n\n  Usage Scenarios:\n\n* Automatically cut a video in sync with the beat\n\n* Adding snap markers aligned with beat timestamps in the UI. "
      parameters:
        - $ref: '#/components/parameters/trackId'
      responses:
        '200':
          description: Beats response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrackBeatsResponse'
              example:
                beats:
                  - time: 0
                    value: '1.0'
                  - time: 0.62
                    value: '2.0'
                  - time: 1.2
                    value: '3.0'
                  - time: 1.8
                    value: '4.0'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Bad request
        '401':
          description: Unauthorized. Most likely your access token has expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Invalid credentials
        '403':
          description: User does not have access to download the track.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: User does not have access to download the track
        '404':
          description: Track was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Track was not found
        '429':
          description: Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Rate limit exceeded
  /v0/tracks/{trackId}/hls:
    get:
      tags:
        - Tracks
      summary: Preview track using cookies
      operationId: Tracks_previewUsingCookies
      security:
        - UserAuth: []
        - EpidemicSoundConnectAuth: []
      description: >-
        We recommend using HLS to allow users to play/preview a track. The main
        benefits of this compared to MP3 are smaller file transfers and
        alternate qualities, allowing the HLS client library to switch to a
        lower quality when necessary. 


        The audio is encoded using the AAC coding standard, which results in a
        smaller footprint for a similar quality compared to MP3. The primary
        manifest refers to two variant quality streams. HLS client libraries
        typically choose the optimal quality automatically, based on download
        speed.


        The format consists of audio files split into smaller chunks and
        manifests that refer to these audio files. Since the format is made up
        of multiple files, access to these are controlled using cookies.


        We provide an example app for iOS that plays HLS streams. Users do not
        need to connect their account or have an active Epidemic Sound
        subscription to play any track using HLS streaming. That allows your
        users to listen to all tracks before they connect their account.
      parameters:
        - $ref: '#/components/parameters/trackId'
      responses:
        '200':
          description: HLS download details for the track
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HLSDownloadResponse'
              example:
                url: >-
                  https://hls-storage.epidemicsite.com/hls/v1/q4MImKW47D/daefecd205c01496b42ae6950c446c6e/master.m3u8
                cookie:
                  name: Cloud-CDN-Cookie
                  domain: hls-storage.epidemicsite.com
                  path: /
                  value: >-
                    URLPrefix=aHR0cHM6Ly9obHMtaW52ZXN0aWdhdGlvbi5lcGlkZW1pY3NpdGUuY29tL2hscy92MS9xNE1JbUtXNDdEL2RhZWZlY2QyMDVjMDE0OTZiNDJhZTY5NTBjNDQ2YzZlLw==:Expires=1638185196:KeyName=KeyName:Signature=S0QZ20ijEWKA-w9B9MycB0yTca0=
                  expires: '2021-11-29T11:26:36Z'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Bad request
        '401':
          description: Unauthorized. Most likely your access token has expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Invalid credentials
        '404':
          description: Track was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Track was not found
        '429':
          description: Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Rate limit exceeded
  /v0/tracks/{trackId}/similar:
    get:
      tags:
        - Tracks
      summary: Similar tracks
      operationId: Tracks_getSimilar
      security:
        - UserAuth: []
        - EpidemicSoundConnectAuth: []
      description: >-
        The similar tracks endpoint allows developers to retrieve a list of
        tracks that are similar to a given reference track. This feature is
        designed to help users discover tracks that share similar
        characteristics, such as genre, mood, tempo, and more.

        This endpoint helps your users replace tracks that don't fit perfectly
        or discover multiple alternatives to a track they enjoy.
      parameters:
        - $ref: '#/components/parameters/trackId'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: Paginated list of similar tracks
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TracksResponse'
              example:
                tracks:
                  - title: Happy Song
                    id: 6rUPerw2poX
                    mainArtists:
                      - Main Artist
                    featuredArtists:
                      - Featured Artist
                    bpm: 135
                    length: 3123
                    moods:
                      - id: happyX
                        name: Happy
                      - id: eccentricX
                        name: Eccentric
                    genres:
                      - id: beatsX
                        name: Beats
                        parent:
                          id: parentX
                          name: Parent Beats
                      - id: trapX
                        name: Trap
                    images:
                      default: >-
                        https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/300x300.jpg
                      L: >-
                        https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/1050x1050.jpg
                      M: >-
                        https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/600x600.jpg
                      S: >-
                        https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/300x300.jpg
                      XS: >-
                        https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/128x128.jpg
                    waveformUrl: https://pdn.epidemicsound.com/waveforms/1600/394079.json
                    hasVocals: true
                    added: '2020-10-10'
                    isExplicit: false
                    isPreviewOnly: true
                  - title: Sad Song
                    id: 0dZCtol3bsX
                    mainArtists:
                      - Main Artist
                    featuredArtists:
                      - Featured Artist
                    bpm: 97
                    length: 2976
                    moods:
                      - id: happyX
                        name: Happy
                      - id: eccentricX
                        name: Eccentric
                    genres:
                      - id: beatsX
                        name: Beats
                        parent:
                          id: parentX
                          name: Parent Beats
                      - id: trapX
                        name: Trap
                    images:
                      default: >-
                        https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/300x300.jpg
                      L: >-
                        https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/1050x1050.jpg
                      M: >-
                        https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/600x600.jpg
                      S: >-
                        https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/300x300.jpg
                      XS: >-
                        https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/128x128.jpg
                    waveformUrl: https://pdn.epidemicsound.com/waveforms/1600/394079.json
                    hasVocals: true
                    added: '2020-10-10'
                    isExplicit: false
                    isPreviewOnly: true
                pagination:
                  page: 4
                  limit: 20
                  offset: 60
                links:
                  next: /v0/tracks?limit=20&offset=80
                  prev: /v0/tracks?limit=20&offset=40
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Bad request
        '401':
          description: Unauthorized. Most likely your access token has expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Invalid credentials
        '404':
          description: Track was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Track was not found
        '429':
          description: Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Rate limit exceeded
  /v0/tracks/similar-sections:
    get:
      tags:
        - Tracks
      summary: Similar track segment based on audio file
      operationId: Tracks_getSimilarSegments
      security:
        - UserAuth: []
        - EpidemicSoundConnectAuth: []
      description: >-
        Returns a list of track sections that are matched to the provided audio
        file id.
      parameters:
        - description: Reference to the uploaded audio file
          name: audioUploadId
          in: query
          required: true
          schema:
            type: string
            format: uuid
        - description: Start of the section in milliseconds
          name: start
          in: query
          required: true
          schema:
            type: integer
            format: int32
        - description: End of the section in milliseconds
          name: end
          in: query
          required: true
          schema:
            type: integer
            format: int32
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: Paginated list of similar tracks
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrackSectionPaginatedResponse'
              example:
                trackSections:
                  - track:
                      title: Sad Song
                      id: 0dZCtol3bsX
                      mainArtists:
                        - Main Artist
                      featuredArtists:
                        - Featured Artist
                      bpm: 97
                      length: 2976
                      moods:
                        - id: happyX
                          name: Happy
                        - id: eccentricX
                          name: Eccentric
                      genres:
                        - id: beatsX
                          name: Beats
                          parent:
                            id: parentX
                            name: Parent Beats
                        - id: trapX
                          name: Trap
                      images:
                        default: >-
                          https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/300x300.jpg
                        L: >-
                          https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/1050x1050.jpg
                        M: >-
                          https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/600x600.jpg
                        S: >-
                          https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/300x300.jpg
                        XS: >-
                          https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/128x128.jpg
                      waveformUrl: https://pdn.epidemicsound.com/waveforms/1600/394079.json
                      hasVocals: true
                      added: '2020-10-10'
                      isExplicit: false
                      isPreviewOnly: true
                    start: 0
                    end: 10000
                pagination:
                  page: 4
                  limit: 20
                  offset: 60
                links:
                  next: >-
                    /v0/tracks/similar-sections?audioUploadId=da8b04c0-9628-4893-9a04-3dbf172aa562&limit=20&offset=80&start=0&end=10000
                  prev: >-
                    /v0/tracks/similar-sections?audioUploadId=df0e612f-2bcc-4052-8ced-02adf67e533c&limit=20&offset=40&start=0&end=10000
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Bad request
        '401':
          description: Unauthorized. Most likely your access token has expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Invalid credentials
        '404':
          description: Track was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Track was not found
        '429':
          description: Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Rate limit exceeded
  /v0/tracks/{trackId}/similar-sections:
    get:
      tags:
        - Tracks
      summary: Similar track segment based on trackID
      operationId: Tracks_findSimilarSegments
      security:
        - UserAuth: []
        - EpidemicSoundConnectAuth: []
      description: >-
        The similar segments endpoint allows developers to use part of a track
        as a reference to search for music segments in the Epidemic Sound
        catalog that sound similar.


        The feature utilizes the Epidemic Audio Reference (EAR) technology to
        provide users with the ability to quickly find alternative segments of
        music.


        Usage Scenarios:

          * Video Editing Templates: Replace default tracks in video templates with segments that fit better.
          * Quick Swaps: Swap out a segment of music in a video where the existing track doesn't quite match.
          * Creative Iteration: Easily experiment with different music segments to enhance your video's impact.
      parameters:
        - $ref: '#/components/parameters/trackId'
        - description: Start of the section in milliseconds
          name: start
          in: query
          required: true
          schema:
            type: integer
            format: int32
        - description: End of the section in milliseconds
          name: end
          in: query
          required: true
          schema:
            type: integer
            format: int32
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: Paginated list of similar tracks
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrackSectionPaginatedResponse'
              example:
                trackSections:
                  - track:
                      title: Sad Song
                      id: 0dZCtol3bsX
                      mainArtists:
                        - Main Artist
                      featuredArtists:
                        - Featured Artist
                      bpm: 97
                      length: 2976
                      moods:
                        - id: happyX
                          name: Happy
                        - id: eccentricX
                          name: Eccentric
                      genres:
                        - id: beatsX
                          name: Beats
                          parent:
                            id: parentX
                            name: Parent Beats
                        - id: trapX
                          name: Trap
                      images:
                        default: >-
                          https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/300x300.jpg
                        L: >-
                          https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/1050x1050.jpg
                        M: >-
                          https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/600x600.jpg
                        S: >-
                          https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/300x300.jpg
                        XS: >-
                          https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/128x128.jpg
                      waveformUrl: https://pdn.epidemicsound.com/waveforms/1600/394079.json
                      hasVocals: true
                      added: '2020-10-10'
                      isExplicit: false
                      isPreviewOnly: true
                    start: 0
                    end: 10000
                pagination:
                  page: 4
                  limit: 20
                  offset: 60
                links:
                  next: >-
                    /v0/tracks/trackId/similar-sections?limit=20&offset=80&start=0&end=10000
                  prev: >-
                    /v0/tracks/trackId/similar-sections?limit=20&offset=40&start=0&end=10000
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Bad request
        '401':
          description: Unauthorized. Most likely your access token has expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Invalid credentials
        '404':
          description: Track was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Track was not found
        '429':
          description: Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Rate limit exceeded
  /v0/tracks/{trackId}/stream:
    get:
      tags:
        - Tracks
      summary: Preview track
      operationId: GET_Stream
      security:
        - UserAuth: []
        - EpidemicSoundConnectAuth: []
      description: >-
        We recommend using HLS to allow users to play/preview a track. The main
        benefits of this compared to MP3 are smaller file transfers and
        alternate qualities, allowing the HLS client library to switch to a
        lower quality when necessary. 


        The audio is encoded using the AAC coding standard, which results in a
        smaller footprint for a similar quality compared to MP3. The primary
        manifest refers to two variant quality streams. HLS client libraries
        typically choose the optimal quality automatically, based on download
        speed.


        The format consists of audio files split into smaller chunks and
        manifests that refer to these audio files.


        We provide an example app for iOS that plays HLS streams. Users do not
        need to connect their account or have an active Epidemic Sound
        subscription to play any track using HLS streaming. That allows your
        users to listen to all tracks before they connect their account.
      parameters:
        - $ref: '#/components/parameters/trackId'
      responses:
        '200':
          description: Information about the stream url
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DownloadResponse'
              example:
                url: >-
                  https://hls-storage.epidemicsite.com/hls/v1/q4MImKW47D/daefecd205c01496b42ae6950c446c6e/master.m3u8
                expires: '2022-12-22T11:01:48Z'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Bad request
        '401':
          description: Unauthorized. Most likely your access token has expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Invalid credentials
        '404':
          description: Track was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Track was not found
        '429':
          description: Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Rate limit exceeded
  /v0/tracks/{trackId}/highlights:
    get:
      tags:
        - Tracks
      summary: Recommend section of a track
      operationId: Tracks_recommendSection
      security:
        - UserAuth: []
        - EpidemicSoundConnectAuth: []
      description: >-
        Powered by our 2 billion daily streams on YouTube, the highlights
        endpoint uses machine learning to recommend the best time section.


        You can use highlights to start playing the track from the right
        millisecond, or recommend the right part of the track for shorter
        content.


        The highlights endpoint provides start and stop timestamps in
        milliseconds. The default duration is 30 seconds.


        The endpoint accepts up to 5 different durations per request where each
        duration must be at least 5 seconds and at most 60 seconds.
      parameters:
        - $ref: '#/components/parameters/trackId'
        - $ref: '#/components/parameters/duration'
      responses:
        '200':
          description: >-
            List of highlighted sections for the track. The times are given in
            milliseconds. If there is no available highlight, a fallback to the
            first section of the track is returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HighlightsResponse'
              example:
                highlights:
                  - from: 9000
                    to: 39000
                    duration: 30
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Bad request
        '401':
          description: Unauthorized. Most likely your access token has expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Invalid credentials
        '404':
          description: Track was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Track was not found
        '429':
          description: Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Rate limit exceeded
  /v0/uploads/audio/{checksum}:
    get:
      tags:
        - Assets
      summary: Get audio asset by the checksum
      operationId: Assets_byChecksumGet
      security:
        - UserAuth: []
        - EpidemicSoundConnectAuth: []
        - PartnerAuth: []
      description: >-
        Will return the audio id of an audio file uploaded by the partner,
        matched by checksum. Should be used to avoid duplicate uploads
      parameters:
        - $ref: '#/components/parameters/checksum'
      responses:
        '200':
          description: Partner audio response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerAudioResponse'
              example:
                audioUploadId: 63e8af33-1006-4a1f-b7c4-0a12d5337e77
                length: 10
                expires: '2024-05-10T11:49:24.813240507Z'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Bad request
        '401':
          description: Unauthorized. Most likely your access token has expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Invalid credentials
        '404':
          description: Audio file was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Audio was not found
        '429':
          description: Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Rate limit exceeded
  /v0/uploads/audio/{audioIdOrChecksum}:
    delete:
      tags:
        - Assets
      summary: Delete a single audio file
      operationId: Assets_deleteAudioFile
      security:
        - PartnerAuth: []
      description: Delete a single audio file
      parameters:
        - $ref: '#/components/parameters/audioIdOrChecksum'
      responses:
        '200':
          description: List of deleted audio ids
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerAudioDeleteResponse'
              example:
                audioFilesRemoved:
                  - 3048f98d-1945-48da-88e2-abf7e65f8c70
        '202':
          description: List of audio files marked for deletion
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerAudioDeleteResponse'
              example:
                audioFilesRemoved:
                  - 5b32c012-30e5-48c8-912e-3c2d6b0c5c7f
        '401':
          description: Unauthorized. Most likely your access token has expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Invalid credentials
        '429':
          description: Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Rate limit exceeded
  /v0/uploads/audio:
    post:
      tags:
        - Assets
      summary: Uploads an audio file
      operationId: Assets_uploadAudioFile
      security:
        - PartnerAuth: []
      description: Uploads an audio file
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AssetsUploadAudioFileRequest'
      responses:
        '200':
          description: >-
            Returns the id of the uploaded image, as well as the expiration date
            for the image.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadUserImageResponse'
              example:
                imageId: d0cdca8c-4fba-4f8c-a45c-ed49fd758531
                expirationDate: '2024-04-11T11:49:24.815829537Z'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Bad request
        '401':
          description: Unauthorized. Most likely your access token has expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Invalid credentials
        '429':
          description: Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Rate limit exceeded
  /v0/uploads/images/{imageId}:
    delete:
      tags:
        - Assets
      summary: Delete uploaded image
      operationId: Assets_deleteImage
      security:
        - UserAuth: []
        - EpidemicSoundConnectAuth: []
      description: Deletes an image uploaded by the user
      parameters:
        - $ref: '#/components/parameters/imageId'
      responses:
        '204':
          description: Image was deleted
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Bad request
        '401':
          description: Unauthorized. Most likely your access token has expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Invalid credentials
        '404':
          description: Image was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Image was not found
        '429':
          description: Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Rate limit exceeded
  /v0/uploads/images:
    post:
      tags:
        - Assets
      summary: Upload image for recommendation
      operationId: Assets_uploadImageForRecommendation
      security:
        - UserAuth: []
        - EpidemicSoundConnectAuth: []
      description: >-
        Uploads an image, currently only jpeg format is supported. File limit is
        2Mb.
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AssetsUploadImageForRecommendationRequest'
      responses:
        '200':
          description: >-
            Contains id to be used for endpoints requiring an image id, as well
            as the expiration date for the image.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadUserImageResponse'
              example:
                imageId: 3b9d4f8d-9bec-40e3-9fe6-c2d004e86fe8
                expirationDate: '2024-04-11T11:49:24.817859997Z'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Bad request
        '401':
          description: Unauthorized. Most likely your access token has expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Invalid credentials
        '429':
          description: Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Rate limit exceeded
    delete:
      tags:
        - Assets
      summary: Delete all the uploaded images by the user
      operationId: Assets_removeAllImages
      security:
        - UserAuth: []
        - EpidemicSoundConnectAuth: []
      description: Deletes all images uploaded by the user
      responses:
        '202':
          description: Images were marked for deletion
        '401':
          description: Unauthorized. Most likely your access token has expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Invalid credentials
        '429':
          description: Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Rate limit exceeded
  /v0/tracks/matching-image/{imageId}:
    get:
      tags:
        - Tracks
      summary: Get tracks matching an image
      operationId: Tracks_matchingImageGet
      security:
        - UserAuth: []
        - EpidemicSoundConnectAuth: []
      description: Gets tracks that match an image uploaded by the user
      parameters:
        - $ref: '#/components/parameters/imageId'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/genre'
        - $ref: '#/components/parameters/mood'
      responses:
        '200':
          description: Paginated list of tracks
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TracksResponse'
              example:
                tracks:
                  - title: Happy Song
                    id: 6rUPerw2poX
                    mainArtists:
                      - Main Artist
                    featuredArtists:
                      - Featured Artist
                    bpm: 135
                    length: 3123
                    moods:
                      - id: happyX
                        name: Happy
                      - id: eccentricX
                        name: Eccentric
                    genres:
                      - id: beatsX
                        name: Beats
                        parent:
                          id: parentX
                          name: Parent Beats
                      - id: trapX
                        name: Trap
                    images:
                      default: >-
                        https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/300x300.jpg
                      L: >-
                        https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/1050x1050.jpg
                      M: >-
                        https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/600x600.jpg
                      S: >-
                        https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/300x300.jpg
                      XS: >-
                        https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/128x128.jpg
                    waveformUrl: https://pdn.epidemicsound.com/waveforms/1600/394079.json
                    hasVocals: true
                    added: '2020-10-10'
                    isExplicit: false
                    isPreviewOnly: true
                  - title: Sad Song
                    id: 0dZCtol3bsX
                    mainArtists:
                      - Main Artist
                    featuredArtists:
                      - Featured Artist
                    bpm: 97
                    length: 2976
                    moods:
                      - id: happyX
                        name: Happy
                      - id: eccentricX
                        name: Eccentric
                    genres:
                      - id: beatsX
                        name: Beats
                        parent:
                          id: parentX
                          name: Parent Beats
                      - id: trapX
                        name: Trap
                    images:
                      default: >-
                        https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/300x300.jpg
                      L: >-
                        https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/1050x1050.jpg
                      M: >-
                        https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/600x600.jpg
                      S: >-
                        https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/300x300.jpg
                      XS: >-
                        https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/128x128.jpg
                    waveformUrl: https://pdn.epidemicsound.com/waveforms/1600/394079.json
                    hasVocals: true
                    added: '2020-10-10'
                    isExplicit: false
                    isPreviewOnly: true
                pagination:
                  page: 2
                  limit: 25
                  offset: 25
                links:
                  next: /v0/tracks/search?limit=25&offset=50
                  prev: /v0/tracks/search?limit=25&offset=0
                aggregations:
                  moods:
                    - id: energeticX
                      name: Energetic
                      count: 1
                  genres:
                    - id: rockX
                      name: Rock
                      count: 1
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Bad request
        '401':
          description: Unauthorized. Most likely your access token has expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Invalid credentials
        '404':
          description: Image was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Image was not found
        '429':
          description: Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Rate limit exceeded
  /v0/sound-effects/categories:
    get:
      tags:
        - Sound effects
      summary: Get a list of all sound effects categories
      operationId: SoundEffects_listCategories
      security:
        - UserAuth: []
        - EpidemicSoundConnectAuth: []
      description: >-
        The sound effects categories endpoint allows you to get a list of all
        sound effects categories.


        You can then browse the sound effects catalog based on categories like
        "Applause" or "Crowds". 


        Some sound effect categories have cover art that you can use in your
        interface. You can choose to display all categories, or choose type
        “featured” to only show the categories that are chosen by our curation
        team.
      parameters:
        - description: Category type
          name: type
          in: query
          required: false
          schema:
            type: string
            enum:
              - all
              - featured
            default: all
        - description: Sorting options
          name: sort
          in: query
          required: false
          schema:
            type: string
            enum:
              - title
              - relevance
            default: title
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: >-
            Sound effects category list with related parent category. You can
            see the parent-child relationship in the response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SoundEffectCategoriesResponse'
              example:
                categories:
                  - id: 5e838cd1-d25d-4820-993a-902745992d34
                    name: Applause
                    numTracks: 10
                    images:
                      default: https://image.url?w=300&h=300&fit=fill&q=90&fm=jpg
                      L: https://image.url?w=1050&h=1050&fit=fill&q=90&fm=jpg
                      M: https://image.url?w=600&h=600&fit=fill&q=90&fm=jpg
                      S: https://image.url?w=300&h=300&fit=fill&q=90&fm=jpg
                      XS: https://image.url?w=128&h=128&fit=fill&q=90&fm=jpg
                    parent:
                      id: 6285f6b0-6406-4366-8bf1-752ed8f0d70e
                      name: Crowds
                pagination:
                  page: 2
                  limit: 10
                  offset: 10
                links:
                  next: /v0/sound-effects/categories?limit=10&offset=20
                  prev: /v0/sound-effects/categories?limit=10&offset=0
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Bad request
        '401':
          description: Unauthorized. Most likely your access token has expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Invalid credentials
        '429':
          description: Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Rate limit exceeded
  /v0/sound-effects/categories/{categoryId}:
    get:
      tags:
        - Sound effects
      summary: Get a sound effects category by id
      operationId: SoundEffects_getCategoryById
      security:
        - UserAuth: []
        - EpidemicSoundConnectAuth: []
      description: >-
        The category details endpoint contains info on the requested sound
        effects category. 


        The purpose of this endpoint is to be able to validate that an
        individual object exists in the API if it was cached by the client.
      parameters:
        - $ref: '#/components/parameters/categoryId'
      responses:
        '200':
          description: Category with related parent and children categories
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SoundEffectCategoryWithRelativesResponse'
              example:
                id: cf0b7f70-3fd9-4a47-a5fb-738953ea3555
                name: Applause
                numTracks: 10
                images:
                  default: https://image.url?w=300&h=300&fit=fill&q=90&fm=jpg
                  L: https://image.url?w=1050&h=1050&fit=fill&q=90&fm=jpg
                  M: https://image.url?w=600&h=600&fit=fill&q=90&fm=jpg
                  S: https://image.url?w=300&h=300&fit=fill&q=90&fm=jpg
                  XS: https://image.url?w=128&h=128&fit=fill&q=90&fm=jpg
                parent:
                  id: 0711aa05-aa3a-4623-a07f-a022b8742a74
                  name: Crowds
                children:
                  - id: 35f0fbc9-3659-4860-955f-ec3abd52556a
                    name: Claps
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Bad request
        '401':
          description: Unauthorized. Most likely your access token has expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Invalid credentials
        '404':
          description: Category was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Category was not found
        '429':
          description: Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Rate limit exceeded
  /v0/sound-effects/categories/{categoryId}/tracks:
    get:
      tags:
        - Sound effects
      summary: Get sound effects by category
      operationId: SoundEffects_getByCategoryTracks
      security:
        - UserAuth: []
        - EpidemicSoundConnectAuth: []
      description: >-
        Use the sound effects details endpoint to display all sound effects for
        a given category.
      parameters:
        - $ref: '#/components/parameters/categoryId'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
        - description: Sort
          name: sort
          in: query
          required: false
          schema:
            type: string
            enum:
              - title
              - newest
              - length
            default: newest
        - description: Order
          name: order
          in: query
          required: false
          schema:
            type: string
            enum:
              - asc
              - desc
            default: asc
      responses:
        '200':
          description: List of sound effects for a given category
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedSoundEffectsResponse'
              example:
                soundEffects:
                  - title: Applause
                    id: 7552e009-23fc-41c8-bac6-8c7d00bea232
                    added: '2024-04-10T11:49:24.824611907Z'
                    length: 10
                    images:
                      default: https://image.url?w=300&h=300&fit=fill&q=90&fm=jpg
[...]
