openapi: 3.0.3
info:
  title: Fordefi API
  description: >-
    The future of institutional web3 wallets.


    For builders, traders, and operators, Fordefi's comprehensive MPC wallet
    platform and web3 gateway enables you to securely self-custody your private
    keys, seamlessly connect to thousands of dApps across any blockchain,
    protect your workflows with granular policies, and manage your digital asset
    operations all-in-one place.
  version: 0.2.0
  x-konfig-ignore:
    object-with-no-properties: true
    potential-incorrect-type: true
servers:
  - description: Production
    url: https://api.fordefi.com
tags:
  - description: >-
      This resource collection represents a transaction. <br><br>A transaction
      is any object that can be signed cryptographically (with a private key).
      <br><br>In general, it can be one of the following types: <ul> <li> **EVM
      Transaction**: a native currency transfer or a smart contract call on an
      EVM-based chain.  <li> **EVM Message**: in which a message is signed for
      off-chain use on an EVM-based chain.  <li> **Solana Transaction**: a
      native currency transfer on a Solana-based chain.  <li> **Black Box
      Signature**: in which a payload is signed for use, external to the Fordefi
      platform. </ul> <h4>Monitor transactions</h4>  As transactions progress
      from creation through completion,  they can follow several workflows,
      during which they take on various statuses. Status is returned in  the
      `state` field of the Get Transaction and List Transaction requests.
      <br><br> For a list of possible statuses, see [Transaction
      Lifecycle](https://docs.fordefi.com/docs/transaction-lifecycle). 
    name: Transactions
  - description: >-
      This resource collection represents a vault.<br><br>The vault is the basic
      unit to manage funds. A vault has a single public address but is
      multi-chain, meaning you can use it across all chains that are compatible
      with the address and are supported by Fordefi.<br><br>In general, Fordefi
      supports the following vault types: <ul> <li> **EVM**: a vault to be used
      in supported EVM chains.  <li> **Solana**: a vault to be used in supported
      Solana chains.  <li> **Black Box**: in which the user can leverage Fordefi
      for MPC and policy, but is responsible for managing the transaction
      lifecycle. <li> **Cosmos**: a vault to be used in supported Cosmos
      chains.</ul>
    name: Vaults
  - description: >-
      This resource collection represents assets.<ul> <li> 'Assets', in general,
      refer to the assets that are supported by Fordefi and can be held by an
      organization. The Fetch Asset Prices API, for example, returns the current
      prices of all the assets that are recognized by the system. <li>'Owned
      assets' reflects the balance of specific assets that are owned by an
      organization. 
    name: Assets
  - description: >-
      This resource collection represents authorization tokens.<br><br>These
      tokens allow end users to authenticate with Fordefi. Each end user can
      have a maximum of ten active authorization tokens at any time. Each token
      is valid for 24 hours only.
    name: Authorization Tokens
  - description: >-
      This resource collection represents keysets.<br><br>A keyset is a
      high-level object that includes the three different key types: EdDSA,
      ECDSA, and ECDSA-Stark.
    name: Keysets
  - description: >-
      This resource collection represents end users.<br><br>End users are the
      users of a third-party app that embeds cryptographic technology provided
      by Fordefi. Each end user's mobile device can have a unique key-share,
      where Fordefi holds the matching key-share.
    name: End Users
  - description: >-
      This resource collection represents users.<h4>User types and
      roles</h4>There are three types of user in the Fordefi
      platform:<ul><li>**Person**: A human user of the platform. Only a person
      can have an admin role.<li>**API user**: An API client key that is trying
      to interact with the platform.See Create an API user and token.<li>**API
      signer**: Used to auto-sign transactions. See Automate Signing with API
      Signer.<li>**End user**: This represents the end user in a Consumer Wallet
      solution.</ul>In addition, a person can have one of two possible user
      roles, which define the permissions that the user is
      given:<ul><li>**Admin**: A user with high privileges in the organization.
      Only admins have permission to manage the policy, set up the backup,
      manage the address book, and add or remove users in the
      organization.<li>**Trader**: A user who can create vaults and
      transactions.</ul>
    name: Users
  - description: This resource collection represents blockchains.
    name: Blockchains
  - description: This resource collection represents webhooks.
    name: Webhooks
  - name: User Groups
  - description: >-
      This resource collection represents an address book.<br><br>Address Book
      is an object that represents a contact (saved blockchain address and its
      alias) in the platform. The Address Book object can either be queried
      directly or returned as part of a transaction.
    name: Address Book
  - description: This resource collection represents a vault group.<br><br>TBD
    name: Vault Groups
paths:
  /api/v1/blockchains:
    get:
      tags:
        - Blockchains
      summary: List Chains
      operationId: Blockchains_getList
      description: Get a list of all supported blockchains.
      parameters:
        - name: chain_types
          in: query
          required: false
          schema:
            title: Chain Types
            type: array
            items:
              $ref: '#/components/schemas/ChainType'
        - name: only_interacted_with
          in: query
          required: false
          schema:
            title: Only Interacted With
            type: boolean
            default: false
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListBlockchainsResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreconditionFailedError'
        '401':
          description: Unauthorized User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '403':
          description: Forbidden User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '408':
          description: Request Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
  /api/v1/blockchains/suggested-fees:
    get:
      tags:
        - Blockchains
      summary: Get Suggested Fees
      operationId: Blockchains_getSuggestedFees
      description: Get the suggested fees in a specific network.
      parameters:
        - name: chains
          in: query
          required: false
          schema:
            title: Chains
            type: array
            items:
              $ref: '#/components/schemas/ChainUniqueId'
        - name: chain_types
          in: query
          required: false
          schema:
            title: Chain Types
            type: array
            items:
              $ref: '#/components/schemas/ChainType'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSuggestedFeesResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreconditionFailedError'
        '401':
          description: Unauthorized User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '403':
          description: Forbidden User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '408':
          description: Request Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
  /api/v1/users:
    get:
      tags:
        - Users
      summary: List Users
      operationId: Users_list
      description: Get a list of users in the organization.
      parameters:
        - name: sort_by
          in: query
          required: false
          schema:
            title: Sort By
            type: array
            items:
              $ref: '#/components/schemas/UserSortableFields'
        - description: The page number to fetch.
          name: page
          in: query
          required: false
          schema:
            title: Page
            description: The page number to fetch.
            type: integer
            minimum: 1
            default: 1
        - description: The number of items per page.
          name: size
          in: query
          required: false
          schema:
            title: Size
            description: The number of items per page.
            type: integer
            maximum: 400
            minimum: 1
            default: 50
        - description: The types of the users to filter on.
          name: types
          in: query
          required: false
          schema:
            title: Types
            description: The types of the users to filter on.
            type: array
            items:
              $ref: '#/components/schemas/UserType'
        - description: The roles of the users to filter on.
          name: roles
          in: query
          required: false
          schema:
            title: Roles
            description: The roles of the users to filter on.
            type: array
            items:
              $ref: '#/components/schemas/UserRole'
        - description: >-
            The states of the users to filter on.  Is one of: <ul><li>`active`:
            The user can perform all actions in the Fordefi
            platform.<li>`onboarding`: The user has been approved but still
            needs to activate the account.<li>`pending_approval`: The user has
            been invited but not yet approved.<li>`deleted`: The user has been
            deleted.</ul>
          name: states
          in: query
          required: false
          schema:
            title: States
            description: >-
              The states of the users to filter on.  Is one of:
              <ul><li>`active`: The user can perform all actions in the Fordefi
              platform.<li>`onboarding`: The user has been approved but still
              needs to activate the account.<li>`pending_approval`: The user has
              been invited but not yet approved.<li>`deleted`: The user has been
              deleted.</ul>
            type: array
            items:
              $ref: '#/components/schemas/UserState'
        - name: include_deleted
          in: query
          required: false
          schema:
            title: Include Deleted
            default: false
            type: boolean
        - name: name
          in: query
          required: false
          schema:
            title: Name
            type: string
        - name: email
          in: query
          required: false
          schema:
            title: Email
            type: string
        - name: search
          in: query
          required: false
          schema:
            title: Search
            type: string
        - description: The unique identifiers of the users.
          name: user_ids
          in: query
          required: false
          schema:
            title: User Ids
            description: The unique identifiers of the users.
            type: array
            items:
              type: string
              format: uuid
        - name: external_id
          in: query
          required: false
          schema:
            title: External Id
            type: string
        - description: The unique identifiers of the user groups.
          name: group_ids
          in: query
          required: false
          schema:
            title: Group Ids
            description: The unique identifiers of the user groups.
            type: array
            items:
              type: string
              format: uuid
        - description: The unique identifiers of the user groups to exclude.
          name: group_ids__not
          in: query
          required: false
          schema:
            title: Group Ids  Not
            description: The unique identifiers of the user groups to exclude.
            type: array
            items:
              type: string
              format: uuid
        - description: >-
            The states of the user groups to filter group_ids on. Is one of:
            <ul><li>`active`: The user group is active.<li>`pending_addition`:
            The user is pending to be added to the group.<li>`pending_removal`:
            The user is pending to be removed from the group.</ul>
          name: states_on_groups
          in: query
          required: false
          schema:
            title: States On Groups
            description: >-
              The states of the user groups to filter group_ids on. Is one of:
              <ul><li>`active`: The user group is active.<li>`pending_addition`:
              The user is pending to be added to the
              group.<li>`pending_removal`: The user is pending to be removed
              from the group.</ul>
            type: array
            items:
              $ref: '#/components/schemas/UserStateOnGroup'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListUsersResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreconditionFailedError'
        '401':
          description: Unauthorized User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '403':
          description: Forbidden User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '408':
          description: Request Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
  /api/v1/users/{id}:
    get:
      tags:
        - Users
      summary: Get User
      operationId: Users_getUserById
      description: Gets the user that corresponds to the given ID.
      parameters:
        - description: ID of the user to retrieve.
          name: id
          in: path
          required: true
          schema:
            title: Id
            description: ID of the user to retrieve.
            type: string
            format: uuid
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUserResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreconditionFailedError'
        '401':
          description: Unauthorized User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '403':
          description: Forbidden User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceError'
        '408':
          description: Request Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
  /api/v1/user-groups:
    get:
      tags:
        - User Groups
      summary: List User Groups
      operationId: UserGroups_getList
      description: Get a list of user groups
      parameters:
        - description: The page number to fetch.
          name: page
          in: query
          required: false
          schema:
            title: Page
            description: The page number to fetch.
            type: integer
            minimum: 1
            default: 1
        - description: The number of items per page.
          name: size
          in: query
          required: false
          schema:
            title: Size
            description: The number of items per page.
            type: integer
            maximum: 100
            minimum: 1
            default: 50
        - name: states
          in: query
          required: false
          schema:
            title: States
            type: array
            items:
              $ref: '#/components/schemas/UserGroupState'
        - name: user_group_ids
          in: query
          required: false
          schema:
            title: User Group Ids
            type: array
            items:
              type: string
              format: uuid
        - name: user_ids
          in: query
          required: false
          schema:
            title: User Ids
            type: array
            items:
              type: string
              format: uuid
        - name: modified_by
          in: query
          required: false
          schema:
            title: Modified By
            type: array
            items:
              type: string
              format: uuid
        - name: name
          in: query
          required: false
          schema:
            title: Name
            type: string
            minLength: 1
        - name: search
          in: query
          required: false
          schema:
            title: Search
            type: string
            minLength: 1
        - name: sort_by
          in: query
          required: false
          schema:
            title: Sort By
            type: array
            items:
              $ref: '#/components/schemas/UserGroupSortableFields'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListUserGroupsResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreconditionFailedError'
        '401':
          description: Unauthorized User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '403':
          description: Forbidden User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '408':
          description: Request Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
  /api/v1/user-groups/{id}:
    get:
      tags:
        - User Groups
      summary: Get User Group
      operationId: UserGroups_getDetails
      description: Retrieve user group details
      parameters:
        - description: ID of the user group to retrieve.
          name: id
          in: path
          required: true
          schema:
            title: Id
            description: ID of the user group to retrieve.
            type: string
            format: uuid
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUserGroupResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreconditionFailedError'
        '401':
          description: Unauthorized User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '403':
          description: Forbidden User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceError'
        '408':
          description: Request Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
  /api/v1/vaults:
    get:
      tags:
        - Vaults
      summary: List Vaults
      operationId: Vaults_list
      description: Get a list of all vaults in an organization.
      parameters:
        - name: sort_by
          in: query
          required: false
          schema:
            title: Sort By
            type: array
            items:
              $ref: '#/components/schemas/VaultSortableFields'
        - description: The page number to fetch.
          name: page
          in: query
          required: false
          schema:
            title: Page
            description: The page number to fetch.
            type: integer
            minimum: 1
            default: 1
        - description: The number of items per page.
          name: size
          in: query
          required: false
          schema:
            title: Size
            description: The number of items per page.
            type: integer
            maximum: 100
            minimum: 1
            default: 50
        - description: Vault IDs to filter on.
          name: vault_ids
          in: query
          required: false
          schema:
            title: Vault Ids
            description: Vault IDs to filter on.
            type: array
            items:
              type: string
              format: uuid
        - name: search
          in: query
          required: false
          schema:
            title: Search
            type: string
        - description: Vault types to filter on.
          name: vault_types
          in: query
          required: false
          schema:
            title: Vault Types
            description: Vault types to filter on.
            type: array
            items:
              $ref: '#/components/schemas/VaultType'
        - description: Vault states to filter on.
          name: vault_states
          in: query
          required: false
          schema:
            title: Vault States
            description: Vault states to filter on.
            type: array
            items:
              $ref: '#/components/schemas/VaultState'
        - description: List of keyset IDs to filter on.
          name: keyset_ids
          in: query
          required: false
          schema:
            title: Keyset Ids
            description: List of keyset IDs to filter on.
            type: array
            items:
              type: string
              format: uuid
        - description: List of key holder IDs to filter on.
          name: key_holder_ids
          in: query
          required: false
          schema:
            title: Key Holder Ids
            description: List of key holder IDs to filter on.
            type: array
            items:
              type: string
              format: uuid
        - description: >-
            List of vault group IDs to filter on. Filter applies to current and
            pending vault groups.
          name: vault_group_ids
          in: query
          required: false
          schema:
            title: Vault Group Ids
            description: >-
              List of vault group IDs to filter on. Filter applies to current
              and pending vault groups.
            type: array
            items:
              type: string
              format: uuid
        - description: List of vault group IDs to exclude.
          name: exclude_vault_group_ids
          in: query
          required: false
          schema:
            title: Exclude Vault Group Ids
            description: List of vault group IDs to exclude.
            type: array
            items:
              type: string
              format: uuid
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListVaultsResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreconditionFailedError'
        '401':
          description: Unauthorized User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '403':
          description: Forbidden User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '408':
          description: Request Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
    post:
      tags:
        - Vaults
      summary: Create Vault
      operationId: Vaults_createNewVault
      description: Create a new vault.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateVaultRequest'
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateVaultResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/DefinedPreconditionError_CreateVaultErrorType_
        '401':
          description: Unauthorized User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '403':
          description: Forbidden User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '408':
          description: Request Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '409':
          description: Already Exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
  /api/v1/vaults/export:
    get:
      tags:
        - Vaults
      summary: Export Vaults With Assets
      operationId: Vaults_exportWithAssets
      description: Get a CSV-format list of balances of all vaults and their assets.
      parameters:
        - description: Vault IDs to filter on.
          name: vaults_ids
          in: query
          required: false
          schema:
            title: Vaults Ids
            description: Vault IDs to filter on.
            type: array
            items:
              type: string
              format: uuid
      responses:
        '200':
          description: Exported vaults in CSV format
          content:
            text/csv:
              schema:
                $ref: '#/components/schemas/VaultsExportWithAssetsResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreconditionFailedError'
        '401':
          description: Unauthorized User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '403':
          description: Forbidden User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '408':
          description: Request Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
  /api/v1/vaults/{id}:
    get:
      tags:
        - Vaults
      summary: Get Vault
      operationId: Vaults_getDetails
      description: Retrieve vault details.
      parameters:
        - description: ID of the vault to retrieve.
          name: id
          in: path
          required: true
          schema:
            title: Id
            description: ID of the vault to retrieve.
            type: string
            format: uuid
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetVaultResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreconditionFailedError'
        '401':
          description: Unauthorized User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '403':
          description: Forbidden User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceError'
        '408':
          description: Request Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
  /api/v1/vaults/{id}/assets/{asset_id}:
    get:
      tags:
        - Vaults
      summary: Get Vault Asset
      operationId: Vaults_getAsset
      description: Get a specific asset in a vault.
      parameters:
        - description: ID of the vault to retrieve.
          name: id
          in: path
          required: true
          schema:
            title: Id
            description: ID of the vault to retrieve.
            type: string
            format: uuid
        - description: ID of the asset to retrieve.
          name: asset_id
          in: path
          required: true
          schema:
            title: Asset Id
            description: ID of the asset to retrieve.
            type: string
            format: uuid
        - description: The page number to fetch.
          name: page
          in: query
          required: false
          schema:
            title: Page
            description: The page number to fetch.
            type: integer
            minimum: 1
            default: 1
        - description: The number of items per page.
          name: size
          in: query
          required: false
          schema:
            title: Size
            description: The number of items per page.
            type: integer
            maximum: 100
            minimum: 1
            default: 50
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OwnedAsset'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreconditionFailedError'
        '401':
          description: Unauthorized User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '403':
          description: Forbidden User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceError'
        '408':
          description: Request Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
  /api/v1/vaults/{id}/assets:
    get:
      tags:
        - Vaults
      summary: Get Vault Assets
      operationId: Vaults_getAssets
      description: Get a list of all assets in a vault.
      parameters:
        - description: ID of the vault to retrieve.
          name: id
          in: path
          required: true
          schema:
            title: Id
            description: ID of the vault to retrieve.
            type: string
            format: uuid
        - description: The page number to fetch.
          name: page
          in: query
          required: false
          schema:
            title: Page
            description: The page number to fetch.
            type: integer
            minimum: 1
            default: 1
        - description: The number of items per page.
          name: size
          in: query
          required: false
          schema:
            title: Size
            description: The number of items per page.
            type: integer
            maximum: 100
            minimum: 1
            default: 50
        - name: chains
          in: query
          required: false
          schema:
            title: Chains
            type: array
            items:
              $ref: '#/components/schemas/ChainUniqueId'
        - name: asset_ids
          in: query
          required: false
          schema:
            title: Asset Ids
            type: array
            items:
              type: string
              format: uuid
        - name: is_hidden
          in: query
          required: false
          schema:
            title: Is Hidden
            type: boolean
        - name: search
          in: query
          required: false
          schema:
            title: Search
            type: string
        - name: sort_by
          in: query
          required: false
          schema:
            title: Sort By
            type: array
            items:
              $ref: '#/components/schemas/OwnedAssetsSortableFields'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOwnedAssetsResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreconditionFailedError'
        '401':
          description: Unauthorized User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '403':
          description: Forbidden User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceError'
        '408':
          description: Request Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
  /api/v1/vaults/{id}/name:
    put:
      tags:
        - Vaults
      summary: Rename Vault
      operationId: Vaults_renameVault
      description: Rename an existing vault.
      parameters:
        - description: ID of the vault to rename.
          name: id
          in: path
          required: true
          schema:
            title: Id
            description: ID of the vault to rename.
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RenameVaultRequest'
      responses:
        '204':
          description: Successful Response
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreconditionFailedError'
        '401':
          description: Unauthorized User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '403':
          description: Forbidden User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceError'
        '408':
          description: Request Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '409':
          description: Already Exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
  /api/v1/vaults/{id}/addresses:
    post:
      tags:
        - Vaults
      summary: Create Address
      operationId: Vaults_createAddress
      description: Create a new address.
      parameters:
        - description: ID of the vault to create address in.
          name: id
          in: path
          required: true
          schema:
            title: Id
            description: ID of the vault to create address in.
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUtxoVaultAddressRequest'
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UtxoVaultAddress'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/DefinedPreconditionError_CreateVaultAddressErrorType_
        '401':
          description: Unauthorized User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '403':
          description: Forbidden User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceError'
        '408':
          description: Request Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
    get:
      tags:
        - Vaults
      summary: List Vault Addresses
      operationId: Vaults_listAddresses
      description: Get a list of all addresses in a vault.
      parameters:
        - description: ID of the vault.
          name: id
          in: path
          required: true
          schema:
            title: Id
            description: ID of the vault.
            type: string
            format: uuid
        - name: sort_by
          in: query
          required: false
          schema:
            title: Sort By
            type: array
            items:
              $ref: '#/components/schemas/VaultAddressSortableFields'
        - description: The page number to fetch.
          name: page
          in: query
          required: false
          schema:
            title: Page
            description: The page number to fetch.
            type: integer
            minimum: 1
            default: 1
        - description: The number of items per page.
          name: size
          in: query
          required: false
          schema:
            title: Size
            description: The number of items per page.
            type: integer
            maximum: 100
            minimum: 1
            default: 50
        - name: search
          in: query
          required: false
          schema:
            title: Search
            type: string
        - description: List of addresses to filter on.
          name: addresses
          in: query
          required: false
          schema:
            title: Addresses
            description: List of addresses to filter on.
            type: array
            items:
              type: string
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListVaultAddressesResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreconditionFailedError'
        '401':
          description: Unauthorized User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '403':
          description: Forbidden User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '408':
          description: Request Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
  /api/v1/vaults/addresses/{id}/name:
    put:
      tags:
        - Vaults
      summary: Rename Vault Address
      operationId: Vaults_renameAddress
      description: Rename an existing vault address.
      parameters:
        - description: ID of the vault address to rename.
          name: id
          in: path
          required: true
          schema:
            title: Id
            description: ID of the vault address to rename.
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RenameVaultRequest'
      responses:
        '204':
          description: Successful Response
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreconditionFailedError'
        '401':
          description: Unauthorized User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '403':
          description: Forbidden User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceError'
        '408':
          description: Request Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '409':
          description: Already Exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
  /api/v1/vault-groups:
    get:
      tags:
        - Vault Groups
      summary: List Vault Groups
      operationId: VaultGroups_list
      description: Get a list of vault groups in the organization.
      parameters:
        - name: sort_by
          in: query
          required: false
          schema:
            title: Sort By
            type: array
            items:
              $ref: '#/components/schemas/VaultGroupSortableFields'
        - description: The page number to fetch.
          name: page
          in: query
          required: false
          schema:
            title: Page
            description: The page number to fetch.
            type: integer
            minimum: 1
            default: 1
        - description: The number of items per page.
          name: size
          in: query
          required: false
          schema:
            title: Size
            description: The number of items per page.
            type: integer
            maximum: 100
            minimum: 1
            default: 50
        - description: Vault group IDs to filter on.
          name: vault_group_ids
          in: query
          required: false
          schema:
            title: Vault Group Ids
            description: Vault group IDs to filter on.
            type: array
            items:
              type: string
              format: uuid
        - name: search
          in: query
          required: false
          schema:
            title: Search
            type: string
        - name: access_level
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/ListVaultGroupsFilterByAccessLevel'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListVaultGroupsResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreconditionFailedError'
        '401':
          description: Unauthorized User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '403':
          description: Forbidden User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '408':
          description: Request Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
  /api/v1/assets/owned-assets/{id}:
    get:
      tags:
        - Assets
      summary: Get Owned Asset
      operationId: Assets_getOwnedAsset
      description: Get a a specific asset owned by an organization.
      parameters:
        - description: ID of the asset to retrieve.
          name: id
          in: path
          required: true
          schema:
            title: Id
            description: ID of the asset to retrieve.
            type: string
            format: uuid
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OwnedAsset'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreconditionFailedError'
        '401':
          description: Unauthorized User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '403':
          description: Forbidden User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '408':
          description: Request Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
  /api/v1/assets/owned-assets:
    get:
      tags:
        - Assets
      summary: List Owned Assets
      operationId: Assets_listOwnedAssets
      description: Get a list of all assets owned by an organization.
      parameters:
        - name: chains
          in: query
          required: false
          schema:
            title: Chains
            type: array
            items:
              $ref: '#/components/schemas/ChainUniqueId'
        - name: asset_ids
          in: query
          required: false
          schema:
            title: Asset Ids
            type: array
            items:
              type: string
              format: uuid
        - name: is_hidden
          in: query
          required: false
          schema:
            title: Is Hidden
            type: boolean
        - name: search
          in: query
          required: false
          schema:
            title: Search
            type: string
        - name: vault_ids
          in: query
          required: false
          schema:
            title: Vault Ids
            type: array
            items:
              type: string
              format: uuid
        - name: end_user_ids
          in: query
          required: false
          schema:
            title: End User Ids
            type: array
            items:
              type: string
              format: uuid
        - name: sort_by
          in: query
          required: false
          schema:
            title: Sort By
            type: array
            items:
              $ref: '#/components/schemas/OwnedAssetsSortableFields'
        - description: The page number to fetch.
          name: page
          in: query
          required: false
          schema:
            title: Page
            description: The page number to fetch.
            type: integer
            minimum: 1
            default: 1
        - description: The number of items per page.
          name: size
          in: query
          required: false
          schema:
            title: Size
            description: The number of items per page.
            type: integer
            maximum: 100
            minimum: 1
            default: 50
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOwnedAssetsResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreconditionFailedError'
        '401':
          description: Unauthorized User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '403':
          description: Forbidden User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '408':
          description: Request Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
  /api/v1/assets:
    put:
      tags:
        - Assets
      summary: Update Asset Configuration
      operationId: Assets_updateConfiguration
      description: Update the asset's configuration under the entire organization.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAssetConfiguration'
        required: true
      responses:
        '204':
          description: Successful Response
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreconditionFailedError'
        '401':
          description: Unauthorized User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '403':
          description: Forbidden User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '408':
          description: Request Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
  /api/v1/assets/prices:
    post:
      tags:
        - Assets
      summary: Fetch Asset Prices
      operationId: Assets_getPrices
      description: Fetch the prices of assets.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FetchAssetPricesRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FetchAssetPricesResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreconditionFailedError'
        '401':
          description: Unauthorized User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '403':
          description: Forbidden User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '408':
          description: Request Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
  /api/v1/transactions/export:
    get:
      tags:
        - Transactions
      summary: Export Transactions
      operationId: Transactions_exportCsvList
      description: Get a CSV-format list of transactions.
      parameters:
        - description: The amount of transactions to export, 1000 if not set.
          name: limit
          in: query
          required: false
          schema:
            title: Limit
            description: The amount of transactions to export, 1000 if not set.
            type: integer
            default: 1000
        - name: created_before
          in: query
          required: false
          schema:
            title: Created Before
            type: string
            format: date-time
        - name: created_after
          in: query
          required: false
          schema:
            title: Created After
            type: string
            format: date-time
        - name: modified_after
          in: query
          required: false
          schema:
            title: Modified After
            type: string
            format: date-time
        - description: >-
            The filter applies both to transactions that have been signed by the
            vault and also to transactions that have interacted with the vault. 
          name: vault_ids
          in: query
          required: false
          schema:
            title: Vault Ids
            description: >-
              The filter applies both to transactions that have been signed by
              the vault and also to transactions that have interacted with the
              vault. 
            type: array
            items:
              type: string
              format: uuid
        - name: chains
          in: query
          required: false
          schema:
            title: Chains
            type: array
            items:
              $ref: '#/components/schemas/ChainUniqueId'
        - name: initiator_ids
          in: query
          required: false
          schema:
            title: Initiator Ids
            type: array
            items:
              type: string
              format: uuid
        - name: types
          in: query
          required: false
          schema:
            title: Types
            type: array
            items:
              $ref: '#/components/schemas/TransactionType'
        - name: sub_types
          in: query
          required: false
          schema:
            title: Sub Types
            type: array
            items:
              $ref: '#/components/schemas/TransactionSubType'
        - name: signer_types
          in: query
          required: false
          schema:
            title: Signer Types
            type: array
            items:
              $ref: '#/components/schemas/SignerType'
        - name: transaction_ids
          in: query
          required: false
          schema:
            title: Transaction Ids
            type: array
            items:
              type: string
              format: uuid
        - name: end_user_ids
          in: query
          required: false
          schema:
            title: End User Ids
            type: array
            items:
              type: string
              format: uuid
        - name: direction
          in: query
          required: false
          schema:
            title: Direction
            $ref: '#/components/schemas/TransactionDirection'
      responses:
        '200':
          description: Exported transactions in CSV format
          content:
            text/csv:
              schema:
                $ref: '#/components/schemas/TransactionsExportCsvListResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreconditionFailedError'
        '401':
          description: Unauthorized User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '403':
          description: Forbidden User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '408':
          description: Request Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
  /api/v1/transactions/{id}:
    get:
      tags:
        - Transactions
      summary: Get Transaction
      operationId: Transactions_getDetails
      description: Retrieve transaction details.
      parameters:
        - description: ID of the transaction to retrieve.
          name: id
          in: path
          required: true
          schema:
            title: Id
            description: ID of the transaction to retrieve.
            type: string
            format: uuid
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTransactionResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreconditionFailedError'
        '401':
          description: Unauthorized User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '403':
          description: Forbidden User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceError'
        '408':
          description: Request Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
  /api/v1/transactions:
    get:
      tags:
        - Transactions
      summary: List Transactions
      operationId: Transactions_listAllInOrganization
      description: Get a list of all transactions in an organization.
      parameters:
        - description: The page number to fetch.
          name: page
          in: query
          required: false
          schema:
            title: Page
            description: The page number to fetch.
            type: integer
            minimum: 1
            default: 1
        - description: The number of items per page.
          name: size
          in: query
          required: false
          schema:
            title: Size
            description: The number of items per page.
            type: integer
            maximum: 100
            minimum: 1
            default: 50
        - name: created_before
          in: query
          required: false
          schema:
            title: Created Before
            type: string
            format: date-time
        - name: created_after
          in: query
          required: false
          schema:
            title: Created After
            type: string
            format: date-time
        - name: modified_after
          in: query
          required: false
          schema:
            title: Modified After
            type: string
            format: date-time
        - description: >-
            The filter applies both to transactions that have been signed by the
            vault and also to transactions that have interacted with the vault. 
          name: vault_ids
          in: query
          required: false
          schema:
            title: Vault Ids
            description: >-
              The filter applies both to transactions that have been signed by
              the vault and also to transactions that have interacted with the
              vault. 
            type: array
            items:
              type: string
              format: uuid
        - name: chains
          in: query
          required: false
          schema:
            title: Chains
            type: array
            items:
              $ref: '#/components/schemas/ChainUniqueId'
        - name: initiator_ids
          in: query
          required: false
          schema:
            title: Initiator Ids
            type: array
            items:
              type: string
              format: uuid
        - name: types
          in: query
          required: false
          schema:
            title: Types
            type: array
            items:
              $ref: '#/components/schemas/TransactionType'
        - name: sub_types
          in: query
          required: false
          schema:
            title: Sub Types
            type: array
            items:
              $ref: '#/components/schemas/TransactionSubType'
        - name: signer_types
          in: query
          required: false
          schema:
            title: Signer Types
            type: array
            items:
              $ref: '#/components/schemas/SignerType'
        - name: transaction_ids
          in: query
          required: false
          schema:
            title: Transaction Ids
            type: array
            items:
              type: string
              format: uuid
        - name: end_user_ids
          in: query
          required: false
          schema:
            title: End User Ids
            type: array
            items:
              type: string
              format: uuid
        - name: direction
          in: query
          required: false
          schema:
            title: Direction
            $ref: '#/components/schemas/TransactionDirection'
        - description: >-
            State of the transaction. Can be one of:<ul> <li>`pending`</li>
            <li>`finalized`, which can be one of: <ul><li>`completed` </li>
            <li>`aborted` </li>  <li>`error_pushing_to_blockchain` </li>
            <li>`reverted`  </li> <li>`accelerated` </li>  <li>`canceled` </li> 
            </ul><li>`approved` </li> </ul>
          name: states
          in: query
          required: false
          schema:
            title: States
            description: >-
              State of the transaction. Can be one of:<ul> <li>`pending`</li>
              <li>`finalized`, which can be one of: <ul><li>`completed` </li>
              <li>`aborted` </li>  <li>`error_pushing_to_blockchain` </li>
              <li>`reverted`  </li> <li>`accelerated` </li>  <li>`canceled`
              </li>  </ul><li>`approved` </li> </ul>
            type: array
            items:
              $ref: '#/components/schemas/TransactionState'
        - name: is_hidden
          in: query
          required: false
          schema:
            title: Is Hidden
            type: boolean
        - name: include_full_response
          in: query
          required: false
          schema:
            title: Include Full Response
            type: boolean
            default: true
        - name: sort_by
          in: query
          required: false
          schema:
            title: Sort By
            type: array
            items:
              $ref: '#/components/schemas/TransactionSortableFields'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTransactionResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreconditionFailedError'
        '401':
          description: Unauthorized User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '403':
          description: Forbidden User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '408':
          description: Request Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
    post:
      tags:
        - Transactions
      summary: Create Transaction
      operationId: Transactions_createNewTransaction
      description: Create a new transaction.
      parameters:
        - description: >-
            Signature of the body. Base64 encoded string. If the request is made
            programatically by an API user, signing of the request is required
            and is intended to protect you from malicious backends. 
          name: x-signature
          in: header
          required: false
          schema:
            title: X-Signature
            description: >-
              Signature of the body. Base64 encoded string. If the request is
              made programatically by an API user, signing of the request is
              required and is intended to protect you from malicious backends. 
            type: string
            example: SGVsbG8=
        - description: >-
            Timestamp of the signature. Integer. Specify an Epoch date. If the
            request is made programatically by an API user, the timestamp of the
            request is required and is intended to protect you from replay
            attacks.
          name: x-timestamp
          in: header
          required: false
          schema:
            title: X-Timestamp
            description: >-
              Timestamp of the signature. Integer. Specify an Epoch date. If the
              request is made programatically by an API user, the timestamp of
              the request is required and is intended to protect you from replay
              attacks.
            type: integer
        - description: Optional idempotence ID of a transaction.
          name: x-idempotence-id
          in: header
          required: false
          schema:
            title: X-Idempotence-Id
            description: Optional idempotence ID of a transaction.
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTransactionRequest'
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateTransactionResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/DefinedPreconditionError_CreateTransactionErrorType_
        '401':
          description: Unauthorized User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '403':
          description: Forbidden User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '408':
          description: Request Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
  /api/v1/transactions/{id}/approve:
    post:
      tags:
        - Transactions
      summary: Approve Transaction
      operationId: Transactions_approveTransaction
      description: >-
        Approve a transaction.


        A transaction awaits approval when the caller API user has been
        specified as a

        potential approver in the policy and the transaction

        is in the `waiting_for_approval` state.
      parameters:
        - description: ID of the transaction to approve.
          name: id
          in: path
          required: true
          schema:
            title: Id
            description: ID of the transaction to approve.
            type: string
            format: uuid
      responses:
        '204':
          description: Successful Response
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/DefinedPreconditionError_ApproveTransactionErrorType_
        '401':
          description: Unauthorized User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '403':
          description: Forbidden User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceError'
        '408':
          description: Request Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
  /api/v1/transactions/{id}/abort:
    post:
      tags:
        - Transactions
      summary: Abort Transaction
      operationId: Transactions_abortTransactionAndShowBalanceChange
      description: >-
        Abort a transaction.


        Abort is possible only for a transaction that is in one of the following
        states:
           <ul>
           <li>Waiting for approval
           <li>Approved
           </ul>

        The aborting user must be one of the following:

        <ul>

        <li>The user who created the transaction

        <li>An admin

        <li>A legitimate approver

        </ul>


        API users can abort only the transactions they created.
      parameters:
        - description: ID of the transaction to abort.
          name: id
          in: path
          required: true
          schema:
            title: Id
            description: ID of the transaction to abort.
            type: string
            format: uuid
      responses:
        '204':
          description: Successful Response
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/DefinedPreconditionError_AbortTransactionErrorType_
        '401':
          description: Unauthorized User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '403':
          description: Forbidden User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceError'
        '408':
          description: Request Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
  /api/v1/transactions/{id}/release:
    post:
      tags:
        - Transactions
      summary: Release Transaction
      operationId: Transactions_releaseTransaction
      description: Release a transaction.
      parameters:
        - description: ID of the transaction to release.
          name: id
          in: path
          required: true
          schema:
            title: Id
            description: ID of the transaction to release.
            type: string
            format: uuid
        - description: >-
            Signature of the body. Base64 encoded string. If the request is made
            programatically by an API user, signing of the request is required
            and is intended to protect you from malicious backends. 
          name: x-signature
          in: header
          required: false
          schema:
            title: X-Signature
            description: >-
              Signature of the body. Base64 encoded string. If the request is
              made programatically by an API user, signing of the request is
              required and is intended to protect you from malicious backends. 
            type: string
            example: SGVsbG8=
        - description: >-
            Timestamp of the signature. Integer. Specify an Epoch date. If the
            request is made programatically by an API user, the timestamp of the
            request is required and is intended to protect you from replay
            attacks.
          name: x-timestamp
          in: header
          required: false
          schema:
            title: X-Timestamp
            description: >-
              Timestamp of the signature. Integer. Specify an Epoch date. If the
              request is made programatically by an API user, the timestamp of
              the request is required and is intended to protect you from replay
              attacks.
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReleaseEvmTransactionRequest'
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReleaseTransactionResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/DefinedPreconditionError_ReleaseTransactionErrorType_
        '401':
          description: Unauthorized User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '403':
          description: Forbidden User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceError'
        '408':
          description: Request Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
  /api/v1/transactions/describe:
    post:
      tags:
        - Transactions
      summary: Describe Transaction
      operationId: Transactions_getBlockchainFeePriceAndEstimateTransactionFee
      description: >-
        Get the current blockchain fee price and estimate the total transaction
        fee.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DescribeTransactionRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DescribeTransactionResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/DefinedPreconditionError_CreateTransactionErrorType_
        '401':
          description: Unauthorized User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '403':
          description: Forbidden User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '408':
          description: Request Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
  /api/v1/transactions/predict:
    post:
      tags:
        - Transactions
      summary: Predict Transaction
      operationId: Transactions_simulateTransactionAndShowBalanceChange
      description: >-
        Simulate the transaction and show the exact token's balance change, in
        addition to the fee estimation.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PredictTransactionRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PredictTransactionResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/DefinedPreconditionError_PredictTransactionErrorType_
        '401':
          description: Unauthorized User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '403':
          description: Forbidden User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '408':
          description: Request Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
  /api/v1/transactions/{id}/update-spam-state:
    put:
      tags:
        - Transactions
      summary: Update Transaction Spam State
      operationId: Transactions_updateSpamState
      description: Update transaction's spam state.
      parameters:
        - description: ID of the transaction to update spam state.
          name: id
          in: path
          required: true
          schema:
            title: Id
            description: ID of the transaction to update spam state.
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTransactionSpamStateRequest'
      responses:
        '204':
          description: Successful Response
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreconditionFailedError'
        '401':
          description: Unauthorized User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '403':
          description: Forbidden User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '408':
          description: Request Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseError'
  /api/v1/addressbook/contacts:
    get:
      tags:
        - Address Book
      summary: List Contacts
      operationId: AddressBook_listContacts
      description: Get a list of all contacts in an organization.
      parameters:
        - name: sort_by
          in: query
          required: false
          schema:
            title: Sort By
            type: array
            items:
              $ref: '#/components/schemas/ContactSortableFields'
        - description: The page number to fetch.
          name: page
          in: query
          required: false
          schema:
            title: Page
            description: The page number to fetch.
            type: integer
            minimum: 1
            default: 1
        - description: The number of items per page.
          name: size
          in: query
          required: false
          schema:
            title: Size
            description: The number of items per page.
            type: integer
            maximum: 100
            minimum: 1
            default: 50
        - description: The contact IDs to filter by.
          name: contact_ids
          in: query
          required: false
          schema:
            title: Contact Ids
            description: The contact IDs to filter by.
            type: array
            items:
              type: string
              format: uuid
        - name: search
          in: query
          required: false
          schema:
            title: Search
            type: string
        - description: The states to filter by.
          name: states
          in: query
          required: false
          schema:
            title: States
            description: The states to filter by.
            type: array
            items:
              $ref: '#/components/schemas/AddressBookContactState'
        - description: The chain types to filter by.
          name: chain_types
[...]
