openapi: 3.0.1
info:
  title: Fountain Public API
  description: >-
    Fountain's all-in-one high volume hiring platform empowers the world's
    leading enterprises to find the right people through smart, fast, and
    seamless recruiting. Candidates can apply anytime, anywhere in minutes,
    right from their phone. Automated and customizable processes streamline the
    candidate experience and save time for recruitment teams so they can scale
    with growing hiring needs. Advanced analytics provide end-to-end process
    visibility so managers can make swift, data-driven decisions. Throughout the
    candidate journey, the openly integrated platform enables companies to find,
    qualify and convert more applicants. Fountain's global customers hire over
    1.2 million workers annually in 78 countries.


    Why Work with Us:


    - Generous compensation, San Francisco rate compensation regardless of
    location in US

    - 100% Remote and Flexible Hours

    - Unlimited PTO

    - Equity grants

    - Comprehensive healthcare benefits

    - 16 weeks paid parental leave for all parents

    - Wellness and gym reimbursement

    - Home office stipend

    - Phone stipend

    - 401K plan

    - Learning and development reimbursement

    - Company events

    - FSA & HSA

    - Life Insurance & Long-Term Disability/Short-Term Disability


    Visit us at https://get.fountain.com to learn more.
  version: v2
  x-konfig-ignore:
    potential-incorrect-type: true
servers:
  - description: Our production API url.
    url: https://api.fountain.com
tags:
  - name: Applicants
  - name: Locations and Location Groups
  - name: Export Management
  - name: Openings and Stages
  - name: Option Bank
  - name: Calendar Slots
  - name: Positions
  - name: Posthire Worker Management
  - name: Notes
  - name: Hiring Goals
  - name: Labels
  - name: Users
  - name: Workflows
  - name: Data Keys
  - name: Openings
  - name: Shifts
paths:
  /v2/applicants:
    get:
      tags:
        - Applicants
      summary: List All Applicants
      operationId: Applicants_listAll
      description: List all applicants within your account.
      parameters:
        - name: funnel_id
          in: query
          required: false
          schema:
            type: string
        - name: location_id
          in: query
          required: false
          schema:
            type: string
        - name: stage_id
          in: query
          required: false
          schema:
            type: string
        - name: stage
          in: query
          required: false
          schema:
            type: string
        - name: labels
          in: query
          required: false
          schema:
            type: string
        - name: cursor
          in: query
          required: false
          schema:
            type: string
        - name: created_at
          in: query
          required: false
          schema:
            type: string
        - name: last_transitioned_at
          in: query
          required: false
          schema:
            type: string
        - name: updated_at
          in: query
          required: false
          schema:
            type: string
        - description: >-
            The key of the custom data field to filter by. Used with
            `custom_data_field[value]`. Must also use one of created_at,
            last_transitioned_at, updated_at, stage_id, or funnel_id. Does not
            support secure fields or standard questions.
          name: custom_data_field[key]
          in: query
          required: false
          schema:
            type: string
        - description: >-
            The value of the custom data field to filter by. Used with
            `custom_data_field[key]`.
          name: custom_data_field[value]
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Applicants'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
    post:
      tags:
        - Applicants
      summary: Create an Applicant
      operationId: Applicants_createNewApplicant
      description: Create an applicant within your account.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateApplicantRequest'
        required: true
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Applicant'
  /v2/applicants/{id}:
    get:
      tags:
        - Applicants
      summary: Get Applicant Info
      operationId: Applicants_getInfo
      description: Get an applicant's data as it is stored in Fountain.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Applicant'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
    put:
      tags:
        - Applicants
      summary: Update Applicant Info
      operationId: Applicants_updateInfo
      description: Update an applicant's information
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicantsUpdateInfoRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Applicant'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
    delete:
      tags:
        - Applicants
      summary: Delete an Applicant
      operationId: Applicants_deleteById
      description: Delete an applicant by their ID.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicantsDeleteByIdResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
  /v2/applicants/{id}/advance:
    put:
      tags:
        - Applicants
      summary: Advance an Applicant
      operationId: Applicants_advanceApplicant
      description: >-
        Move an applicant to an appropriate stage or to the next stage
        (default).
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicantsAdvanceApplicantRequest'
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
  /v2/applicants/advance:
    post:
      tags:
        - Applicants
      summary: Bulk Advance Multiple Applicants
      operationId: Applicants_bulkAdvanceMultiple
      description: >-
        Move an applicant to an appropriate stage or to the next stage
        (default).
      parameters:
        - description: >-
            Destination stage's external id. All specified applicants will
            advance to this stage.
          name: stage_id
          in: query
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicantsBulkAdvanceMultipleRequest'
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
  /v2/applicants/{id}/transitions:
    get:
      tags:
        - Applicants
      summary: Get Transition History
      operationId: Applicants_getTransitionHistory
      description: Returns the transition history of an applicant.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: page
          in: query
          schema:
            type: number
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicantTransitionHistoryResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
  /v2/applicants/transitions:
    post:
      tags:
        - Applicants
      summary: Bulk Transition History for Multiple Applicants
      operationId: Applicants_bulkTransitionHistory
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicantsBulkTransitionHistoryRequest'
      responses:
        '200':
          description: No Content
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/MultipleApplicantsTransitionHistoryResponse
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
  /v2/applicants/{id}/booked_slots:
    get:
      tags:
        - Applicants
      summary: Get Interview Sesssions
      operationId: Applicants_getInterviewSessions
      description: Returns the applicants interview sessions.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicantBookeSlotResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
  /v2/applicants/booked_slots:
    post:
      tags:
        - Applicants
      summary: Bulk Interview Sessions for Multiple Applicants
      operationId: Applicants_bulkInterviewSessions
      description: >-
        Move an applicant to an appropriate stage or to the next stage
        (default).
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicantsBulkInterviewSessionsRequest'
      responses:
        '200':
          description: No Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultipleApplicantsBookedSlotResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
  /v2/applicants/{id}/labels:
    get:
      tags:
        - Labels
      summary: List Labels for Applicant
      operationId: Labels_listForApplicant
      description: This lists all labels for an applicant.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Labels'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
  /v2/applicants/{id}/labels/{title}:
    put:
      tags:
        - Labels
      summary: Update Label for Applicant
      operationId: Labels_updateForApplicant
      description: >-
        This method updates a list of labels for an applicant. Use it to delete
        existing labels for an applicant or add new ones.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: title
          in: path
          required: true
          schema:
            type: string
        - name: completed
          in: query
          required: false
          schema:
            type: boolean
        - name: completed_at
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Labels'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
  /v2/applicants/{id}/notes:
    get:
      tags:
        - Notes
      summary: Get Applicant Notes
      operationId: Notes_getApplicant
      description: Accessing Applicant Notes
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicantNotesResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
    post:
      tags:
        - Notes
      summary: Create Applicant Note
      operationId: Notes_createApplicantNote
      description: Creating Applicant Notes
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUpdateApplicantNote'
        required: true
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicantNote'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
  /v2/applicants/{id}/notes/{note_id}:
    delete:
      tags:
        - Notes
      summary: Delete Applicant Note
      operationId: Notes_deleteApplicantNote
      description: Deleting an Applicant Note
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: note_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotesDeleteApplicantNoteResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
    put:
      tags:
        - Notes
      summary: Update Applicant Note
      operationId: Notes_updateApplicantNote
      description: Updating Applicant Note
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: note_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUpdateApplicantNote'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicantNote'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
  /v2/applicants/{id}/secure_documents:
    get:
      tags:
        - Applicants
      summary: Get Applicant Files
      operationId: Applicants_getSecureDocuments
      description: Accessing secure file uploads from Fountain
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicantSecureDocumentsResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
  /v2/applicants/{id}/secure_documents/upload:
    post:
      tags:
        - Applicants
      summary: File Upload to S3
      operationId: Applicants_uploadSecureDocumentToS3
      description: Accessing secure file uploads from Fountain
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicantsUploadSecureDocumentToS3Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicantSecureDocumentUploadResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
  /v2/applicants/{id}/secure_documents/link_upload:
    post:
      tags:
        - Applicants
      summary: Link Applicant to Files in S3
      operationId: Applicants_linkUpload
      description: Accessing secure file uploads from Fountain
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicantsLinkUploadRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicantSecureDocumentLinkUploadResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
  /v2/available_slots:
    post:
      tags:
        - Calendar Slots
      summary: Create Calendar Slots
      operationId: CalendarSlots_createNewAvailable
      description: Create a new available slot
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CalendarSlotsCreateNewAvailableRequest'
        required: true
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarSlotsCreateNewAvailableResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
  /v2/available_slots/{id}/confirm:
    post:
      tags:
        - Calendar Slots
      summary: Book an Available Slot
      operationId: CalendarSlots_confirmBooking
      description: Book an available slot with an applicant
      parameters:
        - description: The Available Slot ID
          name: id
          in: path
          required: true
          schema:
            type: string
        - description: >-
            The unique identifier for the applicant to be associated with the
            booked slot
          name: applicant_id
          in: query
          schema:
            type: string
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookedSlot'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
  /v2/available_slots/{id}:
    delete:
      tags:
        - Calendar Slots
      summary: Delete Calendar Slots
      operationId: CalendarSlots_destroyById
      description: Destroy calendar slot by the unique identifier
      parameters:
        - description: The Available Slot ID
          name: id
          in: path
          required: true
          schema:
            type: string
        - description: If set, will destroy all slots with the same key
          name: delete_all_siblings
          in: query
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarSlotsDestroyByIdResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
  /v2/booked_slots/{id}/cancel:
    post:
      tags:
        - Calendar Slots
      summary: Cancel a booked slot
      operationId: CalendarSlots_cancelSlot
      description: Cancel a booked slot
      parameters:
        - description: Identifier of the booked slot to cancel
          name: id
          in: path
          required: true
          schema:
            type: string
        - description: The page of results to view
          name: page
          in: query
          required: false
          schema:
            type: integer
      responses:
        '204':
          description: OK
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
  /v2/data_keys:
    get:
      tags:
        - Data Keys
      summary: List data keys
      operationId: DataKeys_list
      description: List all data keys on the account. Supports pagination.
      parameters:
        - description: The page of results to retrieve.
          name: page
          in: query
          required: false
          schema:
            type: integer
        - description: >-
            The number of results to retrieve per page. The endpoint returns 20
            results per page by default.
          name: per_page
          in: query
          required: false
          schema:
            type: integer
        - description: >-
            A filter to limit which data_keys will be returned based on the
            last_updated_at data on the data_key.
          name: updated_at
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataKeysListResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
  /v2/exports:
    get:
      tags:
        - Export Management
      summary: List all Custom Exports
      operationId: ExportManagement_listCustomExports
      description: List all Custom Exports
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndexExportResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
    post:
      tags:
        - Export Management
      summary: Create Custom Export
      operationId: ExportManagement_createCustomExport
      description: Creating Custom Export
      parameters:
        - name: template_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateShowExportResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
  /v2/exports/{id}:
    get:
      tags:
        - Export Management
      summary: Download Custom Export
      operationId: ExportManagement_downloadCustomExport
      description: Download Custom Export
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateShowExportResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
  /v2/exports/templates:
    get:
      tags:
        - Export Management
      summary: List all Custom Export Templates
      operationId: ExportManagement_listCustomTemplates
      description: List all Custom Export Templates
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndexExportTemplatesResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
  /v2/funnels:
    get:
      tags:
        - Openings and Stages
      summary: List All Openings
      operationId: OpeningsAndStages_listAll
      description: >-
        List all Opening(s) within your account. Funnel is used interchangeably
        with Opening. Each Opening contains information on address, stages in
        the funnel, location, active status, etc. Check the example to see all
        properties available.
      parameters:
        - description: The page of results to view
          name: page
          in: query
          schema:
            type: integer
        - description: The number of results to return per page
          name: per_page
          in: query
          schema:
            type: integer
        - description: The field by which to sort results
          name: sort_by
          in: query
          schema:
            type: string
        - description: The direction in which results are sorted
          name: sort_direction
          in: query
          schema:
            type: string
            enum:
              - asc
              - desc
        - description: Filter by whether the opening is active or not
          name: active
          in: query
          schema:
            type: boolean
        - description: Filter by the name of the brand
          name: brand_name
          in: query
          schema:
            type: string
        - description: Filter by the address associated with the opening
          name: location_address
          in: query
          schema:
            type: string
        - description: Filter by the name of the location associated with the opening
          name: location_name
          in: query
          schema:
            type: string
        - description: Filter by the name of the location group associated with the opening
          name: location_group_name
          in: query
          schema:
            type: string
        - description: Text-based query of the opening attributes
          name: query
          in: query
          schema:
            type: string
        - description: Filter by the name of the shift associated with the opening
          name: shift_name
          in: query
          schema:
            type: string
        - description: Filter by the days of the shift associated with the opening
          name: shift_days[]
          in: query
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
              enum:
                - mon
                - tue
                - wed
                - thu
                - fri
                - sat
                - sun
        - description: >-
            Filter by the start time of the shift associated with the opening
            using the 24 hour clock (i.e. 10 PM is 2200)
          name: shift_start_time
          in: query
          schema:
            type: string
        - description: >-
            Filter by the end time of the shift associated with the opening
            using the 24 hour clock (i.e. 10 PM is 2200)
          name: shift_end_time
          in: query
          schema:
            type: string
        - description: Filter by the sourcing type of the opening
          name: sourcing_purchase_type
          in: query
          schema:
            type: string
            enum:
              - standard
              - indeed_campaign
        - description: Filter by the title of the opening
          name: title
          in: query
          schema:
            type: string
        - description: Filter for funnels updated after this
          name: updated_at_gt
          in: query
          schema:
            type: string
        - description: Filter for funnels updated before this
          name: updated_at_lt
          in: query
          schema:
            type: string
        - description: Filter to account owner
          name: user_openings
          in: query
          schema:
            type: boolean
        - description: Filter for funnels with a specific workflow identifier
          name: workflow_id
          in: query
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpeningsAndStagesListAllResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
    post:
      tags:
        - Openings and Stages
      summary: Create a new opening
      operationId: OpeningsAndStages_createOpening
      description: Create a new Opening
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpeningsAndStagesCreateOpeningRequest'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Funnel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
  /v2/funnels/{id}:
    get:
      tags:
        - Openings and Stages
      summary: Retrieve Opening
      operationId: OpeningsAndStages_getOpeningById
      description: Find a specific Opening by the unique identifier.
      parameters:
        - description: The Opening ID
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Funnel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
    put:
      tags:
        - Openings and Stages
      summary: Update opening
      operationId: OpeningsAndStages_updateOpening
      description: Update an existing Opening
      parameters:
        - description: The Opening ID
          name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpeningsAndStagesUpdateOpeningRequest'
        required: true
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Funnel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
    delete:
      tags:
        - Openings and Stages
      summary: Delete an opening
      operationId: OpeningsAndStages_deleteOpening
      description: Delete an existing Opening
      parameters:
        - description: The Opening ID
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
  /v2/hiring_goals:
    get:
      tags:
        - Hiring Goals
      summary: List Hiring Goals
      operationId: HiringGoals_listGoals
      description: >-
        List all Hiring Goals within your account. Check the example to see all
        properties available.
      parameters:
        - description: Filter by a particular Opening (also known as Funnel)
          name: opening_id
          in: query
          schema:
            type: integer
        - description: The page of results to view
          name: page
          in: query
          schema:
            type: integer
        - description: The number of results to return per page
          name: per_page
          in: query
          schema:
            type: integer
        - description: The field by which to sort results
          name: sort_by
          in: query
          schema:
            type: string
        - description: The direction in which results are sorted
          name: sort_direction
          in: query
          schema:
            type: string
            enum:
              - asc
              - desc
        - description: Filter by the Hiring Goal status
          name: status
          in: query
          schema:
            type: string
            enum:
              - unfilled
              - filled
        - description: >-
            Filter to current Hiring Goals. Current is defined by Hiring Goals
            with a `hire_by` date greater and or equal to today.
          name: current
          in: query
          schema:
            type: boolean
        - description: >-
            Filter to past Hiring Goals. Current is defined by Hiring Goals with
            a `hire_by` date before today.
          name: past
          in: query
          schema:
            type: boolean
        - description: >-
            Filter to open Hiring Goals. Open Hiring Goals are Hiring Goals who
            have not been closed (`closed_at == nil`)
          name: open
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HiringGoalsListGoalsResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '501':
          description: NotImplemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotImplemented'
    post:
      tags:
        - Hiring Goals
      summary: Create a new hiring goal
      operationId: HiringGoals_createNewGoal
      description: Create a new Hiring Goal
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HiringGoalsCreateNewGoalRequest'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HiringGoal'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '501':
          description: NotImplemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotImplemented'
  /v2/hiring_goals/{id}:
    put:
      tags:
        - Hiring Goals
      summary: Update Hiring Goal
      operationId: HiringGoals_updateExistingGoal
      description: Update an existing Hiring Goal
      parameters:
        - description: The Hiring Goal ID
          name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HiringGoalsUpdateExistingGoalRequest'
        required: true
      responses:
        '202':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HiringGoal'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '501':
          description: NotImplemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotImplemented'
    delete:
      tags:
        - Hiring Goals
      summary: Delete a Hiring Goal
      operationId: HiringGoals_deleteGoal
      description: Delete an existing Hiring Goal
      parameters:
        - description: The Hiring Goal ID
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '501':
          description: NotImplemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotImplemented'
  /v2/location_groups:
    get:
      tags:
        - Locations and Location Groups
      summary: List Location Groups
      operationId: LocationsAndLocationGroups_list
      description: >-
        List all Location Groups within your account. Check the example to see
        all properties available.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationsAndLocationGroupsListResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
    post:
      tags:
        - Locations and Location Groups
      summary: Create a new Location Group
      operationId: LocationsAndLocationGroups_createLocationGroup
      description: Create a new Location Group
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/LocationsAndLocationGroupsCreateLocationGroupRequest
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationGroupDetail'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
  /v2/location_groups/{id}:
    get:
      tags:
        - Locations and Location Groups
      summary: Retrieve Location Group
      operationId: LocationsAndLocationGroups_getLocationGroup
      description: Find a specific Location Group by the unique identifier.
      parameters:
        - description: The Location Group ID
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationGroupDetail'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
    put:
      tags:
        - Locations and Location Groups
      summary: Update Location Group
      operationId: LocationsAndLocationGroups_updateLocationGroup
      description: Update an existing Location Group
      parameters:
        - description: The Location Group ID
          name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/LocationsAndLocationGroupsUpdateLocationGroupRequest
        required: true
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationGroupDetail'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
    delete:
      tags:
        - Locations and Location Groups
      summary: Delete a Location Group
      operationId: LocationsAndLocationGroups_deleteLocationGroup
      description: Delete an existing Location Group
      parameters:
        - description: The Location Group ID
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
  /v2/locations:
    get:
      tags:
        - Locations and Location Groups
      summary: List Locations
      operationId: LocationsAndLocationGroups_listLocations
      description: >-
        List all Locations within your account. Check the example to see all
        properties available.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/LocationsAndLocationGroupsListLocationsResponse
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
    post:
      tags:
        - Locations and Location Groups
      summary: Create a new Location
      operationId: LocationsAndLocationGroups_createNewLocation
      description: Create a new Location
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertLocationParams'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationDetail'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
  /v2/locations/{id}:
    get:
      tags:
        - Locations and Location Groups
      summary: Retrieve Location
      operationId: LocationsAndLocationGroups_getLocationById
      description: Find a specific Location by the unique identifier.
      parameters:
        - description: The Location ID
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationDetail'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
    put:
      tags:
        - Locations and Location Groups
      summary: Update Location
      operationId: LocationsAndLocationGroups_updateLocation
      description: Update an existing Location
      parameters:
        - description: The Location ID
          name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertLocationParams'
        required: true
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationDetail'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
    delete:
      tags:
        - Locations and Location Groups
      summary: Delete a Location
      operationId: LocationsAndLocationGroups_deleteLocation
      description: Delete an existing Location
      parameters:
        - description: The Location ID
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
  /api/v2/openings/workflow_reassignment:
    post:
      tags:
        - Openings
      summary: Reassign Opening to Different Workflow (Alpha)
      operationId: Openings_reassignToWorkflow
      description: >-
        Takes a stage mapping array to move applicants from one stage to
        another.  The stage mapping array is an array of hashes with the keys
        "source" and "destination".  The "source" key is the name of the stage
        in the source workflow, and the "destination" key is the name of the
        stage in the destination workflow. This feature is in Alpha, meaning
        that explicit flags must be set for this endpoint to behave as expected.
        If you are interested in trying this API, please reach out to your
        account representative for more information.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpeningsReassignToWorkflowRequest'
        required: true
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '403':
          description: Forbidden
  /v2/option_banks/{id}:
    get:
      tags:
        - Option Bank
      summary: Get Option Bank
      operationId: OptionBank_getOptionBankById
      description: Show an Option Banks
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptionsBankWithOptions'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
    put:
      tags:
        - Option Bank
      summary: Replace Option Bank
      operationId: OptionBank_replaceBank
      description: Show an Option Banks
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOptionBankRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptionsBankWithOptions'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
    delete:
      tags:
        - Option Bank
      summary: Delete Option Bank
      operationId: OptionBank_deleteBank
      description: Show an Option Banks
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptionBankDeleteBankResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
  /v2/option_banks/{id}/remove:
    delete:
      tags:
        - Option Bank
      summary: Remove from Option Bank
      operationId: OptionBank_removeOption
      description: Remove an Option Bank Option
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: options
          in: query
          required: true
          schema:
            type: object
            properties:
              options:
                type: array
                items:
                  type: object
                  properties:
                    label:
                      description: Display name for the Option Bank
                      type: string
                    value:
                      description: Value for the Option Bank
                      type: string
                  required:
                    - label
                    - value
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptionBankRemoveOptionResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
  /v2/option_banks/{id}/append:
    put:
      tags:
        - Option Bank
      summary: Append to Option Bank
      operationId: OptionBank_appendOption
      description: Remove an Option Bank Option
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: options
          in: query
          required: true
          schema:
            type: object
            properties:
              options:
                type: array
                items:
                  type: object
                  properties:
                    label:
                      description: Display name for the Option Bank
                      type: string
                    value:
                      description: Value for the Option Bank
                      type: string
                  required:
                    - label
                    - value
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptionBankAppendOptionResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
  /v2/positions:
    get:
      tags:
        - Positions
      summary: List Positions
      operationId: Positions_listAll
      description: >-
        List all Positions within your account. Check the example to see all
        properties available.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PositionsListAllResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
    post:
      tags:
        - Positions
      summary: Create a new Position
      operationId: Positions_createNewPosition
      description: Create a new Position
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PositionsCreateNewPositionRequest'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PositionDetail'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
  /v2/positions/{id}:
    get:
      tags:
        - Positions
      summary: Retrieve Position
      operationId: Positions_getById
      description: Find a specific Position by the unique identifier.
      parameters:
        - description: The Position ID
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PositionDetail'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
    put:
      tags:
        - Positions
      summary: Update Position
      operationId: Positions_updateExistingPosition
      description: Update an existing Position
      parameters:
        - description: The Position ID
          name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PositionsUpdateExistingPositionRequest'
        required: true
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PositionDetail'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
    delete:
      tags:
        - Positions
      summary: Delete a Position
      operationId: Positions_deletePosition
      description: Delete an existing Position
      parameters:
        - description: The Position ID
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
  /v2/sessions:
    get:
      tags:
        - Calendar Slots
      summary: List calendar slots
      operationId: CalendarSlots_listBooked
      description: >-
        List all booked slots for an account. Option to include unbooked slots
        as well. Supports filtering on opening and stage as well as pagination
      parameters:
        - description: Identifier of opening to filter calendar slots on
          name: funnel_id
          in: query
          required: false
          schema:
            type: string
        - description: Indicates whether to include available slots in response
          name: with_unbooked
          in: query
          required: false
          schema:
            type: boolean
        - description: Identifier of stage to filter slots on
          name: stage_id
          in: query
          required: false
          schema:
            type: string
        - description: Cursor for the next page to view
          name: cursor
          in: query
          required: false
          schema:
            type: string
        - description: >-
            Filter by date, options are past, upcoming, a specific date with
            date=, or a date range with range=
          name: time
          in: query
          required: false
          schema:
            type: string
        - description: >-
            The page results to retrieve. The endpoint returns 10 results per
            page. Use the cursor option to view very old results.
          name: page
          in: query
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarSlotsListBookedResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
  /v2/shifts:
    get:
      tags:
        - Shifts
      summary: List shifts
      operationId: Shifts_listShifts
      description: List all shifts on the account. Supports pagination.
      parameters:
        - description: The page of results to retrieve.
          name: page
          in: query
          required: false
          schema:
            type: integer
        - description: >-
            The number of results to retrieve per page. The endpoint returns 20
            results per page by default.
          name: per_page
          in: query
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShiftsListShiftsResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
  /v2/stages/{id}/available_slots:
    get:
      tags:
        - Calendar Slots
      summary: List available slots
      operationId: CalendarSlots_getAvailableSlots
      description: List all available slots for a given stage
      parameters:
        - description: Identifier of stage to list available slots for
          name: id
          in: path
          required: true
          schema:
            type: string
        - description: The page of results to view
          name: page
          in: query
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarSlotsGetAvailableSlotsResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
  /v2/stages/{stage_id}/labels:
    get:
      tags:
        - Labels
      summary: List All Labels in Stage
      operationId: Labels_listInStage
      description: This method lists all the labels that are available in a specific stage.
      parameters:
        - name: stage_id
          in: path
          required: true
          schema:
            type: string
        - name: funnel_id
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Labels'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
  /v2/funnels/{funnel_id}/stages:
    get:
      tags:
        - Openings and Stages
      summary: List All Opening Stages
      operationId: OpeningsAndStages_listOpeningStages
      description: Retrieves an Opening's stages
      parameters:
        - description: The Opening ID
          name: funnel_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/OpeningsAndStagesListOpeningStagesResponse
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
  /v2/stages/{id}:
    get:
      tags:
        - Openings and Stages
      summary: Retrieve stage
      operationId: OpeningsAndStages_getStage
      description: Retrieves a specific Stage
      parameters:
        - description: The Stage ID
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Stage'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
  /v2/timestamped_exports/templates:
    get:
      tags:
        - Export Management
      summary: List All Timestamped Export Templates
      operationId: ExportManagement_listTimestampedExportTemplates
      description: List All Timestamped Export Templates
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndexTimestampedExportTemplateResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
  /v2/timestamped_exports/{id}:
    get:
      tags:
        - Export Management
      summary: Download Timestamped Export
      operationId: ExportManagement_downloadTimestampedExport
      description: Download Timestamped Export
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateShowTimestampedExportResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
  /v2/timestamped_exports:
    post:
      tags:
        - Export Management
      summary: Create Timestamped Exports
      operationId: ExportManagement_createTimestampedExports
      description: Create Timestamped Exports
      parameters:
        - name: template_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateShowTimestampedExportResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
    get:
      tags:
        - Export Management
      summary: List all Timestamped Exports
      operationId: ExportManagement_listAllTimestampedExports
      description: List all Timestamped Exports
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndexTimestampedExportResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
  /v2/user_activities/{id}:
    get:
      tags:
        - Users
      summary: Get User Activities
      operationId: Users_getActivities
      description: Accessing a users activities
      parameters:
        - description: The User ID
          name: id
          in: path
          required: true
          schema:
            type: string
        - description: Start must be within 30 days of End Time
          name: start_time
          in: query
          required: true
          example: '2024-01-01T12:00:00-05:00'
          schema:
            type: string
        - description: The end date of the activities
          name: end_time
          in: query
          required: true
          schema:
            type: string
        - description: The key describing the activity
          name: activity_type
          in: query
          example: stage.transitioned
          schema:
            type: string
        - description: ''
          name: per_page
          in: query
          schema:
            type: integer
        - description: ''
          name: page
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersGetActivitiesResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
  /v2/users:
    get:
      tags:
        - Users
      summary: Get Users
      operationId: Users_listAccessedAll
      description: Accessing all account users
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersListAccessedAllResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
  /v2/workers:
    get:
      tags:
        - Posthire Worker Management
      summary: Get Workers
      operationId: PosthireWorkerManagement_listWorkers
      description: List all workers within your account
      parameters:
        - description: The opening ID
          name: funnel_id
          in: query
          schema:
            type: string
        - description: ''
          name: is_active
          in: query
          schema:
            type: boolean
        - description: Optional integer to indicate the page of pagination
          name: page
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/PosthireWorkerManagementListWorkersResponse
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
  /v2/workers/{id}:
    get:
      tags:
        - Posthire Worker Management
      summary: Get A Worker
      operationId: PosthireWorkerManagement_getWorkerData
      description: Get worker data
      parameters:
        - description: The Worker ID
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/PosthireWorkerManagementGetWorkerDataResponse
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
    patch:
      tags:
        - Posthire Worker Management
      summary: Update A Worker
      operationId: PosthireWorkerManagement_updateWorker
      description: Update a worker
      parameters:
        - description: The Worker ID
          name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PosthireWorkerManagementUpdateWorkerRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/PosthireWorkerManagementUpdateWorkerResponse
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
  /v2/workers/{id}/activate:
    post:
      tags:
        - Posthire Worker Management
      summary: Activate A Worker
      operationId: PosthireWorkerManagement_activateWorker
      description: >-
        Updates workers is_active attribute to true and marks worker as
        'Activated' in Posthire. Reapplies recurring checks
      parameters:
        - description: The Worker ID
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
  /v2/workers/{id}/deactivate:
    post:
      tags:
        - Posthire Worker Management
      summary: Deactivate A Worker
      operationId: PosthireWorkerManagement_deactivateWorker
      description: >-
        Updates workers is_active attribute to false and marks worker as
        'Deactivated' in Posthire. Cancels all active recurring checks and
        follow-up messages for this applicant.
      parameters:
        - description: The Worker ID
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
  /api/v2/workflows:
    get:
      tags:
        - Workflows
      summary: List all Workflows
      operationId: Workflows_getAllWorkflows
      description: List all Workflows in an Account
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowsIndexResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
  /api/v2/workflows/{id}:
    delete:
      tags:
        - Workflows
      summary: Delete a Workflow
      operationId: Workflows_deleteWorkflow
      description: Delete a Workflow in an Account
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '202':
          description: No Content
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
  /v2/option_banks:
    get:
      tags:
        - Option Bank
      summary: List All Option Banks
      operationId: OptionBank_listAllBanks
      description: application/json
      parameters:
        - description: Optional integer to indicate the page of pagination
          name: page
          in: query
          schema:
            type: string
        - description: Optional integer to define page size for pagination
          name: per_page
          in: query
          schema:
            type: string
      responses:
        '200':
          description: OK
        '401':
          description: Unauthorized
    post:
      tags:
        - Option Bank
      summary: Create Option Bank
      operationId: OptionBank_createApplicantNotes
      description: Creating Applicant Notes
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOptionBankRequest'
        required: true
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptionsBankWithOptions'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      name: X-ACCESS-TOKEN
      in: header
  schemas:
    Applicants:
      type: object
      properties:
        applicants:
          type: array
          items:
            type: object
            properties:
              id:
                description: Applicants ID
                type: string
                example: 6e6f5eee-abbe-4ccb-8f12-894842bbe252
              email:
                description: Applicants Email Address
                type: string
                example: example@applicant.com
              name:
                description: Applicants Full Name
                type: string
                example: Michael Jordan
              first_name:
                description: Applicants First Name
                type: string
                example: Michael
              last_name:
                description: Applicants Last Name
                type: string
                example: Jordan
              phone_number:
                description: Applicants Phone Number
                type: string
                example: 214-609-0494
              normalized_phone_number:
                description: Applicants Phone Number
                type: string
                example: '+12146090494'
              phone_number_country_code:
                description: Applicants Phone Number country code
                type: string
                example: '+1'
              data:
                description: Applicant extra information
                type: object
              created_at:
                description: Date when the Applicant was created
                type: string
                format: date-time
                example: '2024-01-10T05:19:37.788-08:00'
              updated_at:
                description: Date when the Applicant was last updated
                type: string
                format: date-time
                example: '2024-01-10T05:19:37.293-08:00'
                nullable: true
              receive_automated_emails:
                description: Whether the Applciant receives automated emails or not.
                type: boolean
                example: true
              labels:
                type: array
                items:
                  type: object
                  properties:
                    title:
                      description: Name of the Label
                      type: string
                      example: Completed Survey
                    completed:
                      description: Was the label marked as done.
                      type: boolean
                      example: true
                    completed_at:
                      description: DateTime the Label was marked as done.
                      type: string
                      format: date-time
                      example: '2023-09-21T17:00:00.000-07:00'
                  required:
                    - title
                    - completed
                    - completed_at
              is_duplicate:
                description: Applicants has been marked as a duplicate.
                type: boolean
                example: false
              file_upload_requests:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      description: ID of the file upload request.
                      type: number
                      example: 1
                    recollection_reason:
                      description: Reason it is being recollected.
                      type: string
                      enum:
                        - blurry
                        - corrupt
                        - incorrect
                        - expired
                        - custom
                    created_at:
                      description: Date when the File Upload Request was created
                      type: string
                      format: date-time
                      example: '2024-01-10T05:19:37.788-08:00'
                    document_name:
                      description: File Upload Request Document Name
                      type: string
                      example: Drivers License.
                  required:
                    - id
                    - recollection_reason
                    - created_at
                    - document_name
              i9_status:
                type: object
                properties:
                  status:
                    description: The status of the i9 Form
                    type: string
                    enum:
                      - awaiting_employee
                      - awaiting_employer
                      - pending
                      - complete
                      - opted_out
                      - awaiting_authorized_representative
                  last_form_update:
                    description: The DateTime the form was last updated at.
                    type: string
                    format: date-time
                    example: '2024-01-10T05:19:37.788-08:00'
                  landed_at:
                    description: The DateTime the applicant filled out the i9 Form.
                    type: string
                    format: date-time
                    example: '2024-01-10T05:19:37.788-08:00'
                required:
                  - status
                  - last_form_update
                  - landed_at
              addresses:
                type: array
                items:
                  type: object
                  properties:
                    street_name:
                      description: Address street name
                      type: string
                    address_2:
                      description: Address two name
                      type: string
                    city:
                      description: Address city name
                      type: string
                    state:
                      description: Address state name
                      type: string
                    zipcode:
                      description: Address zipcode
                      type: string
                    country:
                      description: Address country
                      type: string
                    latitude:
                      description: Address latitude
                      type: number
                    longitude:
                      description: Address longitude
                      type: number
                  required:
                    - street_name
                    - address_2
                    - city
                    - state
                    - zipcode
                    - country
                    - latitude
                    - longitude
              last_transitioned_at:
                description: >-
                  DateTime the applicant was last transitioned from one stage to
                  another.
                type: string
                format: date-time
                example: '2024-01-10T05:19:37.788-08:00'
                nullable: true
              background_checks:
                type: array
                items:
                  anyOf:
                    - type: object
                      properties:
                        title:
                          description: Title of the background check.
                          type: string
                        status:
                          description: Checkr background check status
                          type: string
                          enum:
                            - clear
                            - consider
                            - negative
                            - non_negative
                            - complete
                            - pending
                            - suspended
                            - dispute
                            - canceled
                        updated_at:
                          description: Last updated_at for the background check.
                          type: string
                          format: date-time
                        candidate_id:
                          description: >-
                            The candidate ID of the applicant from the
                            background check provider.
                          type: string
                        report_id:
                          description: >-
                            The report ID of the background check from the
                            background check provider.
                          type: string
                        vendor:
                          type: string
                          enum:
                            - checkr
                      required:
                        - status
                        - title
                        - updated_at
                        - candidate_id
                        - report_id
                        - vendor
                    - type: object
                      properties:
                        title:
                          description: Title of the background check.
                          type: string
                        applicant_id:
                          description: >-
                            The applicant ID of the applicant from the
                            background check provider.
                          type: string
                        updated_at:
                          description: Last updated_at for the background check.
                          type: string
                          format: date-time
                        status:
                          description: Onfido background check status
                          type: string
                          enum:
                            - no bgc
                            - pending
                            - consented
                            - not consented
                            - clear
                            - consider
                            - withdrawn
                            - paused
                            - reopened
                        check_id:
                          description: >-
                            The report ID of the background check from the
                            background check provider.
                          type: string
                        vendor:
                          type: string
                          enum:
                            - onfido
                      required:
                        - status
                        - title
                        - updated_at
                        - applicant_id
                        - check_id
                        - vendor
              document_signatures:
                type: array
                items:
                  anyOf:
                    - type: object
                      properties:
                        signature_id:
                          description: Document Signing ID
                          type: string
                          example: 91990715d51488bdd1e184b83828db8a
                        status:
                          description: Document Signing Status
                          type: string
                          enum:
                            - unopened
                            - opened
                            - signed
                            - admin_reviewed
                        vendor:
                          description: Document Signing Vendor
                          type: string
                          enum:
                            - hellosign
                            - docusign
                        file_url:
                          description: The URL of the signed document
                          type: string
                          format: uri
                          nullable: true
              partner_data:
                type: array
                items:
                  type: object
              can_receive_sms:
                type: boolean
              phone_platform:
                type: string
                enum:
                  - sms
                  - whats_app
              work_availability:
                type: string
                enum:
                  - sunday_morning
                  - sunday_afternoon
                  - sunday_evening
                  - monday_morning
                  - monday_afternoon
                  - monday_evening
                  - tuesday_morning
                  - tuesday_afternoon
                  - tuesday_evening
                  - wednesday_morning
                  - wednesday_afternoon
                  - wednesday_evening
                  - thursday_morning
                  - thursday_afternoon
                  - thursday_evening
                  - friday_morning
                  - friday_afternoon
                  - friday_evening
                  - saturday_morning
                  - saturday_afternoon
                  - saturday_evening
              date_of_birth:
                type: string
                format: date
              team_or_solo:
                type: string
                enum:
                  - team
                  - solo
              funnel:
                type: object
                properties:
                  title:
                    description: Name of the funnel the applicant is currently in.
                    type: string
                  custom_id:
                    description: A custom ID for the funnel
                    type: string
                  id:
                    description: The ID for the funnel
                    type: string
                required:
                  - title
                  - custom_id
                  - id
              stage:
                type: object
                properties:
                  title:
                    description: Name of the stage the applicant is currently in.
                    type: string
                  id:
                    description: The ID for the stage
                    type: string
                  parent_id:
                    description: The stage parent ID for the funnel
                    type: string
                    nullable: true
                  type:
                    description: The stage type.
                    type: string
                nullable: true
                required:
                  - title
                  - id
                  - parent_id
                  - type
            required:
              - id
              - email
              - name
              - first_name
              - last_name
              - phone_number
              - normalized_phone_number
              - phone_number_country_code
              - data
              - created_at
              - updated_at
              - receive_automated_emails
              - labels
              - is_duplicate
              - file_upload_requests
              - i9_status
              - addresses
              - last_transitioned_at
              - background_checks
              - document_signatures
              - partner_data
              - can_receive_sms
              - phone_platform
              - work_availability
              - date_of_birth
              - team_or_solo
              - funnel
              - stage
        pagination:
          $ref: '#/components/schemas/PaginationWithCursor'
      required:
        - applicants
        - pagination
    Applicant:
      type: object
      properties:
        email:
          description: Applicants Email Address
          type: string
          example: example@applicant.com
        name:
          description: Applicants Full Name
          type: string
          example: Michael Jordan
        first_name:
          description: Applicants First Name
          type: string
          example: Michael
        last_name:
          description: Applicants Last Name
          type: string
          example: Jordan
        phone_number:
          description: Applicants Phone Number
          type: string
          example: 214-609-0494
        normalized_phone_number:
          description: Applicants Phone Number
          type: string
          example: '+12146090494'
        phone_number_country_code:
          description: Applicants Phone Number country code
          type: string
          example: '+1'
        data:
          description: Applicant extra information
          type: object
        created_at:
          description: Date when the Applicant was created
          type: string
          format: date-time
          example: '2024-01-10T05:19:37.788-08:00'
        updated_at:
          description: Date when the Applicant was last updated
          type: string
          format: date-time
          example: '2024-01-10T05:19:37.293-08:00'
          nullable: true
        receive_automated_emails:
          description: Whether the Applciant receives automated emails or not.
          type: boolean
          example: true
        labels:
          type: array
          items:
            type: object
            properties:
              title:
                description: Name of the Label
                type: string
                example: Completed Survey
              completed:
                description: Was the label marked as done.
                type: boolean
                example: true
              completed_at:
                description: DateTime the Label was marked as done.
                type: string
                format: date-time
                example: '2023-09-21T17:00:00.000-07:00'
            required:
              - title
              - completed
              - completed_at
        is_duplicate:
          description: Applicants has been marked as a duplicate.
          type: boolean
          example: false
        file_upload_requests:
          type: array
          items:
            type: object
            properties:
              id:
                description: ID of the file upload request.
                type: number
                example: 1
              recollection_reason:
                description: Reason it is being recollected.
                type: string
                enum:
                  - blurry
                  - corrupt
                  - incorrect
                  - expired
                  - custom
              created_at:
                description: Date when the File Upload Request was created
                type: string
                format: date-time
                example: '2024-01-10T05:19:37.788-08:00'
              document_name:
                description: File Upload Request Document Name
                type: string
                example: Drivers License.
            required:
              - id
              - recollection_reason
              - created_at
              - document_name
        portal_url:
          type: string
          format: uri
        secure_data:
          description: >-
            This contains a key/value pair of any data deemed secure.  An
            example would be SSN.
          type: object
          properties:
            disability:
              description: Predefined secure key
              type: string
              nullable: true
            ethnicity:
              description: Predefined secure key
              type: string
              nullable: true
            gender:
              description: Predefined secure key
              type: string
              nullable: true
            sexual_orientation:
              description: Predefined secure key
              type: string
              nullable: true
            transgender_identity:
              description: Predefined secure key
              type: string
              nullable: true
[...]
