openapi: 3.0.0
info:
  title: Gusto API
  description: Welcome to Gusto's Embedded Payroll API documentation!
  version: '2024-04-01'
  termsOfService: https://gusto.com/about/terms/developer-terms-of-service
  contact:
    name: Developer Relations
    email: developer@gusto.com
  x-konfig-ignore:
    object-with-no-properties: true
    potential-incorrect-type: true
servers:
  - description: Demo
    url: https://api.gusto-demo.com
  - description: Production
    url: https://api.gusto.com
tags:
  - name: Employee Addresses
  - name: Jobs and Compensations
  - name: Employee Employments
  - name: Company Benefits
  - name: Employees
  - name: Departments
  - name: Webhooks
  - name: Employee Benefits
  - name: Locations
  - name: Pay Schedules
  - name: Earning Types
  - name: Contractors
  - name: Payrolls
  - name: Garnishments
  - name: Companies
  - name: Introspection
  - name: Contractor Payments
  - name: Time Off Policies
  - name: Events
  - name: Flows
  - name: Bank Accounts
  - name: Payment Configs
  - name: Employee Tax Setup
  - name: Employee Payment Method
  - name: Contractor Payment Method
  - name: Company Forms
  - name: Employee Forms
  - name: Federal Tax Details
  - name: Industry Selection
  - name: Signatories
  - name: External Payrolls
  - name: Tax Requirements
  - name: Contractor Forms
  - name: Holiday Pay Policies
  - name: Generated Documents
  - name: Notifications
  - name: Invoices
  - name: Recovery Cases
  - name: ACH Transactions
paths:
  /v1/token_info:
    get:
      tags:
        - Introspection
      summary: Get info about the current access token
      operationId: Introspection_accessTokenInfo
      description: >-
        Returns scope and resource information associated with the current
        access token.
      parameters:
        - $ref: '#/components/parameters/VersionHeader'
      responses:
        '200':
          description: Example response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntrospectionAccessTokenInfoResponse'
              examples:
                Example:
                  value:
                    scope: companies:read companies:write employees:read
                    resource:
                      type: Company
                      uuid: 5eca5127-6048-43ad-91ee-b56a0c34bc85
      x-gusto-integration-type:
        - embedded
        - app-integrations
  /oauth/token:
    post:
      tags:
        - Introspection
      summary: Refresh access token
      operationId: Introspection_exchangeRefreshToken
      security:
        - SystemAccessAuth: []
      description: >-
        Exchange a refresh token for a new access token.


        The previous `refresh_token` will be revoked on the first usage of the
        new `access_token`.


        The `expires_in` value is provided in seconds from when the
        `access_token` was generated.
      parameters:
        - $ref: '#/components/parameters/VersionHeader'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntrospectionExchangeRefreshTokenRequest'
      responses:
        '200':
          $ref: '#/components/responses/Authentication-Object'
      x-gusto-integration-type:
        - embedded
        - app-integrations
  /v1/provision:
    post:
      tags:
        - Companies
      summary: Create a company
      operationId: Companies_createCompany
      security:
        - SystemAccessAuth: []
      description: >-
        ### Overview

        The company provisioning API provides a way to create a Gusto company as
        part of your integration. When you successfully call the API, the API
        does the following:

        * Creates a new company in Gusto.

        * Creates a new user in Gusto.

        * Makes the new user the primary payroll administrator of the new
        company.

        * Sends a welcome email to the new user.

        In the response, you will receive an account claim URL. Redirect the
        user to this URL to complete their account setup inside of Gusto


        > 📘 System Access Authentication

        >

        > This endpoint uses the [Bearer Auth scheme with the system-level
        access token in the HTTP Authorization
        header](https://docs.gusto.com/embedded-payroll/docs/system-access).
      parameters:
        - $ref: '#/components/parameters/VersionHeader'
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompaniesCreateCompanyRequest'
            examples:
              Example:
                value:
                  user:
                    first_name: Frank
                    last_name: Ocean
                    email: frank@example.com
                    phone: '2345558899'
                  company:
                    name: Frank's Ocean, LLC
                    trade_name: Frank’s Ocean
                    tier: complete
                    ein: '123456789'
                    states:
                      - CO
                      - CA
                    number_employees: 8
                    addresses:
                      - street_1: 1201 16th Street Mall
                        street_2: Suite 350
                        city: Denver
                        zip: '80202'
                        state: CO
                        phone: '2345678900'
                        is_primary: 'true'
                      - street_1: 525 20th Street
                        city: San Francisco
                        zip: '94107'
                        state: CA
                        phone: '2345678901'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompaniesCreateCompanyResponse'
              examples:
                Example:
                  value:
                    account_claim_url: https://app.gusto.com/claim_account/3456789
        '401':
          description: Authorization information is missing or invalid.
        '422':
          $ref: '#/components/responses/Unprocessable-Entity-Error-Object'
      x-gusto-integration-type:
        - app-integrations
  /v1/companies/{company_id}:
    get:
      tags:
        - Companies
      summary: Get a company
      operationId: Companies_getCompanyInfo
      description: >-
        Get a company.         

        The employees:read scope is required to return home_address and non-work
        locations.         

        The company_admin:read scope is required to return
        primary_payroll_admin.         

        The signatories:read scope is required to return
        primary_signatory.         


        scope: `companies:read`
      parameters:
        - $ref: '#/components/parameters/company_id'
        - $ref: '#/components/parameters/VersionHeader'
      responses:
        '200':
          $ref: '#/components/responses/Company-Object'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
      x-gusto-integration-type:
        - embedded
        - app-integrations
  /v1/companies/{company_id}/custom_fields:
    get:
      tags:
        - Companies
      summary: Get the custom fields of a company
      operationId: Companies_getCustomFields
      description: >-
        Returns a list of the custom fields of the company. Useful when you need
        to know the schema of custom fields for an entire company


        scope: `companies:read`
      parameters:
        - $ref: '#/components/parameters/company_id'
        - $ref: '#/components/parameters/pageParam'
        - $ref: '#/components/parameters/perParam'
        - $ref: '#/components/parameters/VersionHeader'
      responses:
        '200':
          $ref: '#/components/responses/Company-Custom-Field-List'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
      x-gusto-integration-type:
        - embedded
        - app-integrations
  /v1/companies/{company_id}/locations:
    post:
      tags:
        - Locations
      summary: Create a company location
      operationId: Locations_createCompanyLocation
      description: >-
        Company locations represent all addresses associated with a company.
        These can be filing addresses, mailing addresses, and/or work locations;
        one address may serve multiple, or all, purposes.


        Since all company locations are subsets of locations, retrieving or
        updating an individual record should be done via the locations
        endpoints.


        scope: `companies.write`
      parameters:
        - $ref: '#/components/parameters/company_id'
        - $ref: '#/components/parameters/VersionHeader'
      requestBody:
        description: Create a company location.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LocationsCreateCompanyLocationRequest'
            examples:
              Example:
                value:
                  phone_number: '8009360383'
                  street_1: 425 2nd Street
                  street_2: Suite 602
                  city: San Francisco
                  state: CA
                  zip: '94107'
                  country: USA
          application/xml:
            schema:
              $ref: '#/components/schemas/LocationsCreateCompanyLocationRequest1'
            examples:
              Example:
                value:
                  phone_number: '8009360383'
                  street_1: 425 2nd Street
                  street_2: Suite 602
                  city: San Francisco
                  state: CA
                  zip: '94107'
                  country: USA
      responses:
        '201':
          $ref: '#/components/responses/Location-Object'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
        '422':
          $ref: '#/components/responses/Unprocessable-Entity-Error-Object'
      x-gusto-integration-type:
        - embedded
        - app-integrations
    get:
      tags:
        - Locations
      summary: Get company locations
      operationId: Locations_listCompanyLocations
      description: >-
        Company locations represent all addresses associated with a company.
        These can be filing addresses, mailing addresses, and/or work locations;
        one address may serve multiple, or all, purposes.


        Since all company locations are subsets of locations, retrieving or
        updating an individual record should be done via the locations
        endpoints.


        scope: `companies:read`
      parameters:
        - $ref: '#/components/parameters/company_id'
        - $ref: '#/components/parameters/pageParam'
        - $ref: '#/components/parameters/perParam'
        - $ref: '#/components/parameters/VersionHeader'
      responses:
        '200':
          $ref: '#/components/responses/Location-List'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
      x-gusto-integration-type:
        - embedded
        - app-integrations
  /v1/locations/{location_id}:
    get:
      tags:
        - Locations
      summary: Get a location
      operationId: Locations_getDetails
      description: |-
        Get a location.

        scope: `companies:read`
      parameters:
        - $ref: '#/components/parameters/location_id'
        - $ref: '#/components/parameters/VersionHeader'
      responses:
        '200':
          $ref: '#/components/responses/Location-Object'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
      x-gusto-integration-type:
        - embedded
        - app-integrations
    put:
      tags:
        - Locations
      summary: Update a location
      operationId: Locations_updateLocation
      description: |-
        Update a location.

        scope: `companies.write`
      parameters:
        - $ref: '#/components/parameters/location_id'
        - $ref: '#/components/parameters/VersionHeader'
      requestBody:
        description: Update a location
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LocationsUpdateLocationRequest'
            examples:
              Example:
                value:
                  version: 1928d0c378e519e9c03fb959bc959a6b
                  phone_number: '8009360383'
                  street_1: 425 2nd Street
                  street_2: Suite 602
                  city: San Francisco
                  state: CA
                  zip: '94107'
                  country: USA
      responses:
        '200':
          $ref: '#/components/responses/Location-Object'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
        '422':
          $ref: '#/components/responses/Unprocessable-Entity-Error-Object'
      x-gusto-integration-type:
        - embedded
        - app-integrations
  /v1/locations/{location_uuid}/minimum_wages:
    get:
      tags:
        - Locations
      summary: Get minimum wages for a location
      operationId: Locations_getMinimumWages
      description: |-
        Get minimum wages for a location

        scope: `companies:read`
      parameters:
        - $ref: '#/components/parameters/location_uuid'
        - $ref: '#/components/parameters/effective_date'
        - $ref: '#/components/parameters/VersionHeader'
      responses:
        '200':
          $ref: '#/components/responses/Minimum-Wage-List'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
      x-gusto-integration-type:
        - embedded
        - app-integrations
  /v1/companies/{company_id}/pay_schedules:
    get:
      tags:
        - Pay Schedules
      summary: Get the pay schedules for a company
      operationId: PaySchedules_list
      description: >-
        The pay schedule object in Gusto captures the details of when employees
        work and when they should be paid. A company can have multiple pay
        schedules.


        scope: `pay_schedules:read`
      parameters:
        - $ref: '#/components/parameters/company_id'
        - $ref: '#/components/parameters/pageParam'
        - $ref: '#/components/parameters/perParam'
        - $ref: '#/components/parameters/VersionHeader'
      responses:
        '200':
          $ref: '#/components/responses/Pay-Schedule-List'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
      x-gusto-integration-type:
        - embedded
        - app-integrations
  /v1/companies/{company_id}/pay_schedules/{pay_schedule_id}:
    get:
      tags:
        - Pay Schedules
      summary: Get a pay schedule
      operationId: PaySchedules_getDetails
      description: >-
        The pay schedule object in Gusto captures the details of when employees
        work and when they should be paid. A company can have multiple pay
        schedules.


        scope: `pay_schedules:read`
      parameters:
        - $ref: '#/components/parameters/company_id'
        - $ref: '#/components/parameters/pay_schedule_id'
        - $ref: '#/components/parameters/VersionHeader'
      responses:
        '200':
          $ref: '#/components/responses/Pay-Schedule-Object'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
      x-gusto-integration-type:
        - embedded
        - app-integrations
  /v1/companies/{company_id}/pay_periods:
    get:
      tags:
        - Pay Schedules
      summary: Get pay periods for a company
      operationId: PaySchedules_list
      description: >-
        Pay periods are the foundation of payroll. Compensation, time &
        attendance, taxes, and expense reports all rely on when they happened.
        To begin submitting information for a given payroll, we need to agree on
        the time period.


        By default, this endpoint returns pay periods starting from 6 months ago
        to the date today.  Use the `start_date` and `end_date` parameters to
        change the scope of the response.  End dates can be up to 3 months in
        the future and there is no limit on start dates.


        Starting in version '2023-04-01', the eligible_employees attribute was
        removed from the response.  The eligible employees for a payroll are
        determined by the employee_compensations returned from the
        payrolls#prepare endpoint.


        scope: `payrolls:read`
      parameters:
        - $ref: '#/components/parameters/company_id'
        - $ref: '#/components/parameters/start_date'
        - $ref: '#/components/parameters/end_date'
        - $ref: '#/components/parameters/payroll_types'
        - $ref: '#/components/parameters/VersionHeader'
      responses:
        '200':
          $ref: '#/components/responses/Pay-Period-List'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
      x-gusto-integration-type:
        - embedded
        - app-integrations
  /v1/companies/{company_id}/pay_periods/unprocessed_termination_pay_periods:
    get:
      tags:
        - Pay Schedules
      summary: Get termination pay periods for a company
      operationId: PaySchedules_listUnprocessedTerminationPayPeriods
      description: >-
        When a payroll admin terminates an employee and selects "Dismissal
        Payroll" as the employee's final payroll, their last pay period will
        appear on the list.


        This endpoint returns the unprocessed pay periods for past and future
        terminated employees in a given company.


        scope: `payrolls:read`
      parameters:
        - $ref: '#/components/parameters/company_id'
        - $ref: '#/components/parameters/VersionHeader'
      responses:
        '200':
          $ref: '#/components/responses/Unprocessed-Termination-Pay-Period-List'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
      x-gusto-integration-type:
        - embedded
        - app-integrations
  /v1/companies/{company_id}/pay_schedules/assignments:
    get:
      tags:
        - Pay Schedules
      summary: Get pay schedule assignments for a company
      operationId: PaySchedules_getAssignments
      description: >-
        This endpoint returns the current pay schedule assignment for a company,
        with pay schedule and employee/department mappings depending on the pay
        schedule type.


        scope: `pay_schedules:read`
      parameters:
        - $ref: '#/components/parameters/company_id'
        - $ref: '#/components/parameters/VersionHeader'
      responses:
        '200':
          $ref: '#/components/responses/Pay-Schedule-Assignment-Object'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
      x-gusto-integration-type:
        - embedded
        - app-integrations
  /v1/companies/{company_id}/employees:
    post:
      tags:
        - Employees
      summary: Create an employee
      operationId: Employees_createEmployee
      description: |-
        Create an employee.

        scope: `employees:manage`
      parameters:
        - $ref: '#/components/parameters/company_id'
        - $ref: '#/components/parameters/VersionHeader'
      requestBody:
        description: Create an employee.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmployeesCreateEmployeeRequest'
            examples:
              Example:
                value:
                  first_name: Soren
                  middle_initial: A
                  last_name: Kierkegaard
                  date_of_birth: '1995-05-05'
                  email: knight0faith@example.com
                  ssn: '123456294'
      responses:
        '201':
          $ref: '#/components/responses/Employee-Object'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
        '422':
          $ref: '#/components/responses/Unprocessable-Entity-Error-Object'
      x-gusto-integration-type:
        - embedded
        - app-integrations
    get:
      tags:
        - Employees
      summary: Get employees of a company
      operationId: Employees_getCompanyEmployees
      description: >-
        Get all of the employees, onboarding, active and terminated, for a given
        company.


        scope: `employees:read`
      parameters:
        - $ref: '#/components/parameters/company_id'
        - description: Filters employees by the provided boolean
          schema:
            type: boolean
          in: query
          name: terminated
        - description: >-
            Include the requested attribute(s) in each employee response,
            multiple options are comma separated. Available options:

            - all_compensations: Include all effective dated compensations for
            each job instead of only the current compensation

            - custom_fields: Include employees' custom fields
          in: query
          name: include
          schema:
            type: string
            enum:
              - all_compensations
              - custom_fields
        - $ref: '#/components/parameters/pageParam'
        - $ref: '#/components/parameters/perParam'
        - $ref: '#/components/parameters/VersionHeader'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmployeesGetCompanyEmployeesRequest'
      responses:
        '200':
          $ref: '#/components/responses/Employee-List'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
      x-gusto-integration-type:
        - embedded
        - app-integrations
  /v1/companies/{company_uuid}/departments:
    post:
      tags:
        - Departments
      summary: Create a department
      operationId: Departments_createDepartment
      description: |-
        Create a department

        scope: `departments:write`
      parameters:
        - $ref: '#/components/parameters/company_uuid'
        - $ref: '#/components/parameters/VersionHeader'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DepartmentsCreateDepartmentRequest'
            examples:
              Example:
                value:
                  title: Stage Hand
      responses:
        '201':
          $ref: '#/components/responses/Department-Object'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
        '422':
          $ref: '#/components/responses/Unprocessable-Entity-Error-Object'
      x-gusto-integration-type:
        - embedded
        - app-integrations
    get:
      tags:
        - Departments
      summary: Get all departments of a company
      operationId: Departments_listForCompany
      description: >-
        Get all of the departments for a given company with the employees and
        contractors assigned to that department.


        scope: `departments:read`
      parameters:
        - $ref: '#/components/parameters/company_uuid'
        - $ref: '#/components/parameters/VersionHeader'
      responses:
        '200':
          $ref: '#/components/responses/Department-List'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
      x-gusto-integration-type:
        - embedded
        - app-integrations
  /v1/departments/{department_uuid}:
    get:
      tags:
        - Departments
      summary: Get a department
      operationId: Departments_getByUuid
      description: |
        Get a department given the UUID

        scope: `departments:read`
      parameters:
        - $ref: '#/components/parameters/department_uuid'
        - $ref: '#/components/parameters/VersionHeader'
      responses:
        '200':
          $ref: '#/components/responses/Department-Object'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
      x-gusto-integration-type:
        - embedded
        - app-integrations
    put:
      tags:
        - Departments
      summary: Update a department
      operationId: Departments_updateDepartment
      description: |-
        Update a department

        scope: `departments:write`
      parameters:
        - $ref: '#/components/parameters/department_uuid'
        - $ref: '#/components/parameters/VersionHeader'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DepartmentsUpdateDepartmentRequest'
            examples:
              Example:
                value:
                  title: Backup Dancer
                  version: db0edd04aaac4506f7edab03ac855d56
      responses:
        '200':
          $ref: '#/components/responses/Department-Object'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
        '422':
          $ref: '#/components/responses/Unprocessable-Entity-Error-Object'
      x-gusto-integration-type:
        - embedded
        - app-integrations
    delete:
      tags:
        - Departments
      summary: Delete a department
      operationId: Departments_deleteDepartment
      description: >
        Delete a department. You cannot delete a department until all employees
        and contractors have been removed.


        scope: `departments:write`
      parameters:
        - $ref: '#/components/parameters/department_uuid'
        - $ref: '#/components/parameters/VersionHeader'
      responses:
        '204':
          description: No Content
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
        '422':
          $ref: '#/components/responses/Unprocessable-Entity-Error-Object'
      x-gusto-integration-type:
        - embedded
        - app-integrations
  /v1/departments/{department_uuid}/add:
    put:
      tags:
        - Departments
      summary: Add people to a department
      operationId: Departments_addPeopleToDepartment
      description: |
        Add employees and contractors to a department

        scope: `departments:write`
      parameters:
        - $ref: '#/components/parameters/department_uuid'
        - $ref: '#/components/parameters/VersionHeader'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DepartmentsAddPeopleToDepartmentRequest'
      responses:
        '200':
          $ref: '#/components/responses/Department-Object'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
      x-gusto-integration-type:
        - embedded
        - app-integrations
  /v1/departments/{department_uuid}/remove:
    put:
      tags:
        - Departments
      summary: Remove people from a department
      operationId: Departments_removeEmployees
      description: |
        Remove employees and contractors from a department

        scope: `departments:write`
      parameters:
        - $ref: '#/components/parameters/department_uuid'
        - $ref: '#/components/parameters/VersionHeader'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DepartmentsRemoveEmployeesRequest'
      responses:
        '200':
          $ref: '#/components/responses/Department-Object'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
      x-gusto-integration-type:
        - embedded
        - app-integrations
  /v1/employees/{employee_id}:
    get:
      tags:
        - Employees
      summary: Get an employee
      operationId: Employees_getDetails
      description: |
        Get an employee.

        scope: `employees:read`
      parameters:
        - $ref: '#/components/parameters/employee_id'
        - description: >-
            Include the requested attribute(s) in each employee response,
            multiple options are comma separated. Available options:

            - all_compensations: Include all effective dated compensations for
            each job instead of only the current compensation

            - custom_fields: Include employees' custom fields
          in: query
          name: include
          schema:
            type: string
            enum:
              - all_compensations
              - custom_fields
        - $ref: '#/components/parameters/VersionHeader'
      responses:
        '200':
          $ref: '#/components/responses/Employee-Object'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
      x-gusto-integration-type:
        - embedded
        - app-integrations
    put:
      tags:
        - Employees
      summary: Update an employee
      operationId: Employees_updateEmployee
      description: |-
        Update an employee.

        scope: `employees:write`
      parameters:
        - $ref: '#/components/parameters/employee_id'
        - $ref: '#/components/parameters/VersionHeader'
      requestBody:
        description: Update an employee.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmployeesUpdateEmployeeRequest'
            examples:
              Example:
                value:
                  version: db0edd04aaac4506f7edab03ac855d56
                  first_name: Soren
                  middle_initial: A
                  last_name: Kierkegaard
                  date_of_birth: '1995-05-05'
                  email: knight0faith@example.com
                  ssn: '123456294'
                  two_percent_shareholder: false
      responses:
        '200':
          $ref: '#/components/responses/Employee-Object'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
        '422':
          $ref: '#/components/responses/Unprocessable-Entity-Error-Object'
      x-gusto-integration-type:
        - embedded
        - app-integrations
    delete:
      tags:
        - Employees
      summary: Delete an onboarding employee
      operationId: Employees_deleteOnboardingEmployee
      description: >-
        Use this endpoint to delete an employee who is in onboarding. Deleting

        an onboarded employee is not allowed. Please check out the Terminations
        api

        if you need to terminate an onboarded employee.


        scope: `employees:manage`
      parameters:
        - $ref: '#/components/parameters/employee_id'
        - $ref: '#/components/parameters/VersionHeader'
      responses:
        '204':
          description: No Content
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
      x-gusto-integration-type:
        - embedded
        - app-integrations
  /v1/employees/{employee_id}/terminations:
    post:
      tags:
        - Employee Employments
      summary: Create an employee termination
      operationId: EmployeeEmployments_createTermination
      description: >-
        Terminations are created whenever an employee is scheduled to leave the
        company. The only things required are an effective date (their last day
        of work) and whether they should receive their wages in a one-off
        termination payroll or with the rest of the company.


        Note that some states require employees to receive their final wages
        within 24 hours (unless they consent otherwise,) in which case running a
        one-off payroll may be the only option.


        scope: `employments:write`
      parameters:
        - $ref: '#/components/parameters/employee_id'
        - $ref: '#/components/parameters/VersionHeader'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmployeeEmploymentsCreateTerminationRequest'
            examples:
              Example:
                value:
                  effective_date: '2020-06-30'
                  run_termination_payroll: true
      responses:
        '201':
          $ref: '#/components/responses/Termination-Object'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
        '422':
          $ref: '#/components/responses/Unprocessable-Entity-Error-Object'
      x-gusto-integration-type:
        - embedded
        - app-integrations
    get:
      tags:
        - Employee Employments
      summary: Get terminations for an employee
      operationId: EmployeeEmployments_listTerminationsForEmployee
      description: >-
        Terminations are created whenever an employee is scheduled to leave the
        company. The only things required are an effective date (their last day
        of work) and whether they should receive their wages in a one-off
        termination payroll or with the rest of the company.


        Note that some states require employees to receive their final wages
        within 24 hours (unless they consent otherwise,) in which case running a
        one-off payroll may be the only option.


        scope: `employments:read`
      parameters:
        - $ref: '#/components/parameters/employee_id'
        - $ref: '#/components/parameters/VersionHeader'
      responses:
        '200':
          $ref: '#/components/responses/Termination-List'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
      x-gusto-integration-type:
        - embedded
        - app-integrations
    delete:
      tags:
        - Employee Employments
      summary: Delete an employee termination
      operationId: EmployeeEmployments_deleteTermination
      description: |-
        Delete an employee termination.

        scope: `employments:write`
      parameters:
        - $ref: '#/components/parameters/employee_id'
        - $ref: '#/components/parameters/VersionHeader'
      responses:
        '204':
          description: No Content
        '404':
          $ref: '#/components/responses/Employment-Not-Found-Error-Object'
      x-gusto-integration-type:
        - embedded
        - app-integrations
  /v1/terminations/{employee_id}:
    put:
      tags:
        - Employee Employments
      summary: Update an employee termination
      operationId: EmployeeEmployments_updateTermination
      description: >-
        Terminations are created whenever an employee is scheduled to leave the
        company. The only things required are an effective date (their last day
        of work) and whether they should receive their wages in a one-off
        termination payroll or with the rest of the company.


        Note that some states require employees to receive their final wages
        within 24 hours (unless they consent otherwise,) in which case running a
        one-off payroll may be the only option.


        scope: `employments:write`
      parameters:
        - $ref: '#/components/parameters/employee_id'
        - $ref: '#/components/parameters/VersionHeader'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmployeeEmploymentsUpdateTerminationRequest'
            examples:
              Example:
                value:
                  version: 1928d0c378e519e9c03fb959bc959a6b
                  effective_date: '2020-06-30'
                  run_termination_payroll: true
      responses:
        '200':
          $ref: '#/components/responses/Termination-Object'
        '404':
          $ref: '#/components/responses/Employment-Not-Found-Error-Object'
        '422':
          $ref: '#/components/responses/Unprocessable-Entity-Error-Object'
      x-gusto-integration-type:
        - embedded
        - app-integrations
  /v1/employees/{employee_id}/rehire:
    post:
      tags:
        - Employee Employments
      summary: Create an employee rehire
      operationId: EmployeeEmployments_createRehire
      description: >-
        Rehire is created whenever an employee is scheduled to return to the
        company.


        scope: `employments:write`
      parameters:
        - $ref: '#/components/parameters/employee_id'
        - $ref: '#/components/parameters/VersionHeader'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Rehire-Body'
            examples:
              Example:
                value:
                  effective_date: '2023-06-30'
                  work_location_uuid: b6ae9d93-d4b8-4119-8c96-dba595dd8c30
                  file_new_hire_report: true
      responses:
        '201':
          $ref: '#/components/responses/Rehire-Object'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
        '422':
          $ref: '#/components/responses/Unprocessable-Entity-Error-Object'
      x-gusto-integration-type:
        - embedded
        - app-integrations
    put:
      tags:
        - Employee Employments
      summary: Update an employee rehire
      operationId: EmployeeEmployments_updateRehire
      description: |-
        Update an employee's rehire.

        scope: `employments:write`
      parameters:
        - $ref: '#/components/parameters/employee_id'
        - $ref: '#/components/parameters/VersionHeader'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmployeeEmploymentsUpdateRehireRequest'
            examples:
              Example:
                value:
                  version: 1928d0c378e519e9c03fb959bc959a6b
                  effective_date: '2023-06-30'
                  work_location_uuid: b6ae9d93-d4b8-4119-8c96-dba595dd8c30
                  file_new_hire_report: true
      responses:
        '200':
          $ref: '#/components/responses/Rehire-Object'
        '404':
          $ref: '#/components/responses/Employment-Not-Found-Error-Object'
        '422':
          $ref: '#/components/responses/Unprocessable-Entity-Error-Object'
      x-gusto-integration-type:
        - embedded
        - app-integrations
    get:
      tags:
        - Employee Employments
      summary: Get an employee rehire
      operationId: EmployeeEmployments_getRehireInfo
      description: >-
        Retrieve an employee's rehire, which contains information on when the
        employee returns to work.


        scope: `employments:read`
      parameters:
        - $ref: '#/components/parameters/employee_id'
        - $ref: '#/components/parameters/VersionHeader'
      responses:
        '200':
          $ref: '#/components/responses/Rehire-Object'
        '404':
          $ref: '#/components/responses/Employment-Not-Found-Error-Object'
      x-gusto-integration-type:
        - embedded
        - app-integrations
    delete:
      tags:
        - Employee Employments
      summary: Delete an employee rehire
      operationId: EmployeeEmployments_deleteRehire
      description: >-
        Delete an employee rehire. An employee rehire cannot be deleted if it's
        active (past effective date).


        scope: `employments:write`
      parameters:
        - $ref: '#/components/parameters/employee_id'
        - $ref: '#/components/parameters/VersionHeader'
      responses:
        '204':
          description: No Content
        '404':
          $ref: '#/components/responses/Employment-Not-Found-Error-Object'
      x-gusto-integration-type:
        - embedded
        - app-integrations
  /v1/employees/{employee_id}/employment_history:
    get:
      tags:
        - Employee Employments
      summary: Get employment history for an employee
      operationId: EmployeeEmployments_getHistory
      description: >-
        Retrieve the employment history for a given employee, which includes
        termination and rehire.


        scope: `employments:read`
      parameters:
        - $ref: '#/components/parameters/employee_id'
        - $ref: '#/components/parameters/VersionHeader'
      responses:
        '200':
          $ref: '#/components/responses/Employment-History-List'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
      x-gusto-integration-type:
        - embedded
        - app-integrations
  /v1/employees/{employee_id}/home_addresses:
    get:
      tags:
        - Employee Addresses
      summary: Get an employee's home addresses
      operationId: EmployeeAddresses_getHomeAddresses
      description: >-
        The home address of an employee is used to determine certain tax
        information about them. Addresses are geocoded on create and update to
        ensure validity.


        Supports home address effective dating and courtesy withholding.


        scope: `employees:read`
      parameters:
        - $ref: '#/components/parameters/employee_id'
        - $ref: '#/components/parameters/VersionHeader'
      responses:
        '200':
          $ref: '#/components/responses/Employee-Address-List'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
      x-gusto-integration-type:
        - embedded
        - app-integrations
    post:
      tags:
        - Employee Addresses
      summary: Create an employee's home address
      operationId: EmployeeAddresses_createHomeAddress
      description: >-
        The home address of an employee is used to determine certain tax
        information about them. Addresses are geocoded on create and update to
        ensure validity.


        Supports home address effective dating and courtesy withholding.


        scope: `employees:write`
      parameters:
        - $ref: '#/components/parameters/employee_id'
        - $ref: '#/components/parameters/VersionHeader'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmployeeAddressesCreateHomeAddressRequest'
            examples:
              Example:
                value:
                  street_1: 300 3rd Street
                  street_2: null
                  city: San Francisco
                  state: CA
                  zip: '94107'
                  effective_date: '2021-01-01'
                  courtesy_withholding: true
      responses:
        '200':
          $ref: '#/components/responses/Employee-Address-Object'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
        '422':
          $ref: '#/components/responses/Unprocessable-Entity-Error-Object'
      x-gusto-integration-type:
        - embedded
        - app-integrations
  /v1/home_addresses/{home_address_uuid}:
    get:
      tags:
        - Employee Addresses
      summary: Get an employee's home address
      operationId: EmployeeAddresses_getHomeAddress
      description: >-
        The home address of an employee is used to determine certain tax
        information about them. Addresses are geocoded on create and update to
        ensure validity.


        Supports home address effective dating and courtesy withholding.


        scope: `employees:read`
      parameters:
        - $ref: '#/components/parameters/home_address_uuid'
        - $ref: '#/components/parameters/VersionHeader'
      responses:
        '200':
          $ref: '#/components/responses/Employee-Address-Object'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
      x-gusto-integration-type:
        - embedded
        - app-integrations
    put:
      tags:
        - Employee Addresses
      summary: Update an employee's home address
      operationId: EmployeeAddresses_updateHomeAddress
      description: >-
        The home address of an employee is used to determine certain tax
        information about them. Addresses are geocoded on create and update to
        ensure validity.


        Supports home address effective dating and courtesy withholding.


        scope: `employees:write`
      parameters:
        - $ref: '#/components/parameters/home_address_uuid'
        - $ref: '#/components/parameters/VersionHeader'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmployeeAddressesUpdateHomeAddressRequest'
            examples:
              Example:
                value:
                  version: fe75bd065ff48b91c35fe8ff842f986c
                  street_1: 300 3rd Street
                  street_2: null
                  city: San Francisco
                  state: CA
                  zip: '94107'
                  effective_date: '2021-01-01'
                  courtesy_withholding: true
      responses:
        '200':
          $ref: '#/components/responses/Employee-Address-Object'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
        '422':
          $ref: '#/components/responses/Unprocessable-Entity-Error-Object'
      x-gusto-integration-type:
        - embedded
        - app-integrations
    delete:
      tags:
        - Employee Addresses
      summary: Delete an employee's home address
      operationId: EmployeeAddresses_deleteEmployeeHomeAddress
      description: >-
        Used for deleting an employee's home address.  Cannot delete the
        employee's active home address.


        scope: `employees:write`
      parameters:
        - $ref: '#/components/parameters/home_address_uuid'
        - $ref: '#/components/parameters/VersionHeader'
      responses:
        '204':
          description: No Content
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
        '422':
          $ref: '#/components/responses/Unprocessable-Entity-Error-Object'
      x-gusto-integration-type:
        - embedded
        - app-integrations
  /v1/employees/{employee_id}/work_addresses:
    get:
      tags:
        - Employee Addresses
      summary: Get an employee's work addresses
      operationId: EmployeeAddresses_getWorkAddresses
      description: >-
        Returns a list of an employee's work addresses. Each address includes
        its effective date and a boolean

        signifying if it is the currently active work address.


        scope: `employees:read`
      parameters:
        - $ref: '#/components/parameters/employee_id'
        - $ref: '#/components/parameters/VersionHeader'
      responses:
        '200':
          $ref: '#/components/responses/Employee-Work-Address-List'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
      x-gusto-integration-type:
        - embedded
        - app-integrations
    post:
      tags:
        - Employee Addresses
      summary: Create an employee work address
      operationId: EmployeeAddresses_createWorkAddress
      description: >-
        The work address of an employee describes when an employee began working
        at an associated company location.


        scope: `employees:manage`
      parameters:
        - $ref: '#/components/parameters/employee_id'
        - $ref: '#/components/parameters/VersionHeader'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmployeeAddressesCreateWorkAddressRequest'
            examples:
              Example:
                value:
                  location_uuid: 6a119be7-b4b0-4e27-aaa0-89d5f2524635
                  effective_date: '2023-05-15'
      responses:
        '201':
          description: Example response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Employee-Work-Address'
              examples:
                Example:
                  value:
                    uuid: 56260b3d-c375-415c-b77a-75d99f717193
                    employee_uuid: 7087a288-8349-4632-b92e-bc94fb79f29e
                    street_1: 644 Fay Vista
                    street_2: Suite 842
                    city: Richmond
                    state: VA
                    zip: '23218'
                    country: USA
                    active: false
                    effective_date: '2021-01-01'
                    courtesy_withholding: true
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
        '422':
          $ref: '#/components/responses/Unprocessable-Entity-Error-Object'
      x-gusto-integration-type:
        - embedded
        - app-integrations
  /v1/work_addresses/{work_address_uuid}:
    get:
      tags:
        - Employee Addresses
      summary: Get an employee work address
      operationId: EmployeeAddresses_get
      description: |-
        The work address of an employee is used for payroll tax purposes.

        scope: `employees:read`
      parameters:
        - $ref: '#/components/parameters/work_address_uuid'
        - $ref: '#/components/parameters/VersionHeader'
      responses:
        '200':
          description: Example response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Employee-Work-Address'
              examples:
                Example:
                  value:
                    version: 6a22da647ed391f184a212e6e83a541d
                    uuid: 34925ef7-6234-440d-83b8-788a24d0d69a
                    employee_uuid: 2363b9c0-6625-4425-9261-47627fd68783
                    location_uuid: aba6d0fd-7294-4997-b1a4-bc9268c45932
                    effective_date: '2023-05-15'
                    active: true
                    street_1: 977 Marks Viaduct
                    street_2: null
                    city: Pink Hill
                    state: NC
                    zip: '28572'
                    country: USA
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
      x-gusto-integration-type:
        - embedded
        - app-integrations
    put:
      tags:
        - Employee Addresses
      summary: Update an employee work address
      operationId: EmployeeAddresses_updateWorkAddress
      description: |-
        The work address of an employee is used for payroll tax purposes.

        scope: `employees:manage`
      parameters:
        - $ref: '#/components/parameters/work_address_uuid'
        - $ref: '#/components/parameters/VersionHeader'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmployeeAddressesUpdateWorkAddressRequest'
            examples:
              Example:
                value:
                  version: e6db1baa29d3df1eb307ff6a12c778da
                  location_uuid: 6a119be7-b4b0-4e27-aaa0-89d5f2524635
                  effective_date: '2023-05-15'
      responses:
        '200':
          description: Example response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Employee-Work-Address'
              examples:
                Example:
                  value:
                    version: 6a22da647ed391f184a212e6e83a541d
                    uuid: 34925ef7-6234-440d-83b8-788a24d0d69a
                    employee_uuid: 2363b9c0-6625-4425-9261-47627fd68783
                    location_uuid: aba6d0fd-7294-4997-b1a4-bc9268c45932
                    effective_date: '2023-05-15'
                    active: true
                    street_1: 977 Marks Viaduct
                    street_2: null
                    city: Pink Hill
                    state: NC
                    zip: '28572'
                    country: USA
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
        '422':
          $ref: '#/components/responses/Unprocessable-Entity-Error-Object'
      x-gusto-integration-type:
        - embedded
        - app-integrations
    delete:
      tags:
        - Employee Addresses
      summary: Delete an employee's work address
      operationId: EmployeeAddresses_deleteEmployeeWorkAddress
      description: >-
        Used for deleting an employee's work address.  Cannot delete the
        employee's active work address.


        scope: `employees:manage`
      parameters:
        - $ref: '#/components/parameters/work_address_uuid'
        - $ref: '#/components/parameters/VersionHeader'
      responses:
        '204':
          description: No Content
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
        '422':
          $ref: '#/components/responses/Unprocessable-Entity-Error-Object'
      x-gusto-integration-type:
        - embedded
        - app-integrations
  /v1/employees/{employee_id}/custom_fields:
    get:
      tags:
        - Employees
      summary: Get an employee's custom fields
      operationId: Employees_getCustomFields
      description: |-
        Returns a list of the employee's custom fields.

        scope: `employees:read`
      parameters:
        - $ref: '#/components/parameters/employee_id'
        - $ref: '#/components/parameters/pageParam'
        - $ref: '#/components/parameters/perParam'
        - $ref: '#/components/parameters/VersionHeader'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeesGetCustomFieldsResponse'
              examples:
                Example:
                  value:
                    custom_fields:
                      - description: Employee Level
                        id: ee515986-f3ca-49da-b576-2691b95262f9
                        company_custom_field_id: ea7e5d57-6abb-47d7-b654-347c142886c0
                        name: employee_level
                        type: text
                        value: '2'
                        selection_options: null
                      - description: What is your t-shirt size?
                        id: 3796e08d-c2e3-434c-b4de-4ce1893e7b59
                        company_custom_field_id: 299650e4-e970-4acf-9bf0-6f05585d20ba
                        name: t-shirt size
                        type: text
                        value: md
                        selection_options: null
                      - description: Which is your favorite fruit?
                        id: 3796e08d-c2e3-434c-b4de-4ce1893e7b59X
                        company_custom_field_id: 024ec137-6c92-43a3-b061-14a9720531d6
                        name: favorite fruit
                        type: radio
                        value: apple
                        selection_options:
                          - apple
                          - banana
                          - orange
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
      x-gusto-integration-type:
        - embedded
        - app-integrations
  /v1/employees/{employee_id}/jobs:
    post:
      tags:
        - Jobs and Compensations
      summary: Create a job
      operationId: JobsAndCompensations_createJob
      description: |-
        Create a job.

        scope: `jobs:write`
      parameters:
        - $ref: '#/components/parameters/employee_id'
        - $ref: '#/components/parameters/VersionHeader'
      requestBody:
        description: Create a job.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JobsAndCompensationsCreateJobRequest'
            examples:
              Example:
                value:
                  title: Regional Manager
                  hire_date: '2020-12-21'
      responses:
        '201':
          $ref: '#/components/responses/Job-Object'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
        '422':
          $ref: '#/components/responses/Unprocessable-Entity-Error-Object'
      x-gusto-integration-type:
        - embedded
        - app-integrations
    get:
      tags:
        - Jobs and Compensations
      summary: Get jobs for an employee
      operationId: JobsAndCompensations_getEmployeeJobs
      description: |-
        Get all of the jobs that an employee holds.

        scope: `jobs:read`
      parameters:
        - $ref: '#/components/parameters/employee_id'
        - $ref: '#/components/parameters/pageParam'
        - $ref: '#/components/parameters/perParam'
        - description: >-
            Available options:

            - all_compensations: Include all effective dated compensations for
            each job instead of only the current compensation
          in: query
          name: include
          schema:
            type: string
            enum:
              - all_compensations
        - $ref: '#/components/parameters/VersionHeader'
      responses:
        '200':
          $ref: '#/components/responses/Job-List'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
      x-gusto-integration-type:
        - embedded
        - app-integrations
  /v1/employees/{employee_uuid}/time_off_activities:
    get:
      tags:
        - Employees
      summary: Get employee time off activities
      operationId: Employees_getTimeOffActivities
      description: |-
        Get employee time off activities.

        scope: `employee_time_off_activities:read`
      parameters:
        - $ref: '#/components/parameters/employee_uuid'
        - $ref: '#/components/parameters/time_off_type'
        - $ref: '#/components/parameters/VersionHeader'
      responses:
        '200':
          $ref: '#/components/responses/Time-Off-Activity-Object'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
      x-gusto-integration-type:
        - embedded
        - app-integrations
  /v1/jobs/{job_id}:
    get:
      tags:
        - Jobs and Compensations
      summary: Get a job
      operationId: JobsAndCompensations_getDetails
      description: |-
        Get a job.

        scope: `jobs:read`
      parameters:
        - $ref: '#/components/parameters/job_id'
        - description: >-
            Available options:

            - all_compensations: Include all effective dated compensations for
            the job instead of only the current compensation
          in: query
          name: include
          schema:
            type: string
            enum:
              - all_compensations
        - $ref: '#/components/parameters/VersionHeader'
      responses:
        '200':
          $ref: '#/components/responses/Job-Object'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
      x-gusto-integration-type:
        - embedded
        - app-integrations
    put:
      tags:
        - Jobs and Compensations
      summary: Update a job
      operationId: JobsAndCompensations_updateJob
      description: |-
        Update a job.

        scope: `jobs:write`
      parameters:
        - $ref: '#/components/parameters/job_id'
        - $ref: '#/components/parameters/VersionHeader'
      requestBody:
        description: Update a job.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JobsAndCompensationsUpdateJobRequest'
            examples:
              Example:
                value:
                  title: Regional Manager
                  version: gr78930htutrz444kuytr3s5hgxykuveb523fwl8sir
                  hire_date: '2020-12-21'
      responses:
        '200':
          $ref: '#/components/responses/Job-Object'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
        '422':
          $ref: '#/components/responses/Unprocessable-Entity-Error-Object'
      x-gusto-integration-type:
        - embedded
        - app-integrations
    delete:
      tags:
        - Jobs and Compensations
      summary: Delete an individual job
      operationId: JobsAndCompensations_deleteSpecificJob
      description: |-
        Deletes a specific job that an employee holds.

        scope: `jobs:write`
      parameters:
        - $ref: '#/components/parameters/job_id'
        - $ref: '#/components/parameters/VersionHeader'
      responses:
        '204':
          description: No Content
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
      x-gusto-integration-type:
        - embedded
        - app-integrations
  /v1/jobs/{job_id}/compensations:
    get:
      tags:
        - Jobs and Compensations
      summary: Get compensations for a job
      operationId: JobsAndCompensations_getCompensationsByJobId
      description: >-
        Compensations contain information on how much is paid out for a job.
        Jobs may have many compensations, but only one that is active. The
        current compensation is the one with the most recent `effective_date`.
        By default the API returns only the current compensation - see the
        `include` query parameter for retrieving all compensations.


        Note: Currently the API does not support creating multiple compensations
        per job - creating a compensation with the same `job_uuid` as another
        will fail with a relevant error.


        Use `flsa_status` to determine if an employee is eligible for overtime.


        scope: `jobs:read`
      parameters:
        - $ref: '#/components/parameters/job_id'
        - $ref: '#/components/parameters/pageParam'
        - $ref: '#/components/parameters/perParam'
        - description: >-
            Available options:

            - all_compensations: Include all effective dated compensations for
            each job instead of only the current compensation
          in: query
          name: include
          schema:
            type: string
            enum:
              - all_compensations
        - $ref: '#/components/parameters/VersionHeader'
      responses:
        '200':
          $ref: '#/components/responses/Compensation-List'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
      x-gusto-integration-type:
        - embedded
        - app-integrations
    post:
      tags:
        - Jobs and Compensations
      summary: Create a compensation
      operationId: JobsAndCompensations_createCompensation
      description: >-
        Compensations contain information on how much is paid out for a job.
        Jobs may have many compensations, but only one that is active. The
        current compensation is the one with the most recent `effective_date`.


        scope: `jobs:write`
      parameters:
        - $ref: '#/components/parameters/job_id'
        - $ref: '#/components/parameters/VersionHeader'
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/JobsAndCompensationsCreateCompensationRequest
            examples:
              Exempt:
                value:
                  rate: '60000.00'
                  payment_unit: Year
                  flsa_status: Exempt
              Minimum Wage Adjusted:
                value:
                  effective_date: '2023-01-01'
                  rate: '7.00'
                  payment_unit: Hour
                  flsa_status: Nonexempt
                  adjust_for_minimum_wage: true
                  minimum_wages:
                    - uuid: 340832db-ab28-4112-9e10-28dd1711835f
      responses:
        '201':
          $ref: '#/components/responses/Compensation-Object'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
        '422':
          $ref: '#/components/responses/Unprocessable-Entity-Error-Object'
      x-gusto-integration-type:
        - embedded
        - app-integrations
  /v1/compensations/{compensation_id}:
    get:
      tags:
        - Jobs and Compensations
      summary: Get a compensation
      operationId: JobsAndCompensations_getCompensationById
      description: >
        Compensations contain information on how much is paid out for a job.
        Jobs may have many compensations, but only one that is active. The
        current compensation is the one with the most recent `effective_date`.


        scope: `jobs:read`
      parameters:
        - $ref: '#/components/parameters/compensation_id'
        - $ref: '#/components/parameters/VersionHeader'
      responses:
        '200':
          $ref: '#/components/responses/Compensation-Object'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
      x-gusto-integration-type:
        - embedded
        - app-integrations
    put:
      tags:
        - Jobs and Compensations
      summary: Update a compensation
      operationId: JobsAndCompensations_updateCompensation
      description: >-
        Compensations contain information on how much is paid out for a job.
        Jobs may have many compensations, but only one that is active. The
        current compensation is the one with the most recent `effective_date`.


        scope: `jobs:write`
      parameters:
        - $ref: '#/components/parameters/compensation_id'
        - $ref: '#/components/parameters/VersionHeader'
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/JobsAndCompensationsUpdateCompensationRequest
            examples:
              Exempt:
                value:
                  version: 98jr3289h3298hr9329gf9egskt3kagri32qqgiqe3872
                  rate: '60000.00'
                  payment_unit: Year
                  flsa_status: Exempt
              Minimum Wage Adjusted:
                value:
                  version: 98jr3289h3298hr9329gf9egskt3kagri32qqgiqe3872
                  rate: '7.00'
                  payment_unit: Hour
                  flsa_status: Nonexempt
                  adjust_for_minimum_wage: true
                  minimum_wages:
                    - uuid: 340832db-ab28-4112-9e10-28dd1711835f
      responses:
        '200':
          $ref: '#/components/responses/Compensation-Object'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
        '422':
          $ref: '#/components/responses/Unprocessable-Entity-Error-Object'
      x-gusto-integration-type:
        - embedded
        - app-integrations
    delete:
      tags:
        - Jobs and Compensations
      summary: Delete a compensation
      operationId: JobsAndCompensations_deleteCompensation
      description: >
        Compensations contain information on how much is paid out for a job.
        Jobs may have many compensations, but only one that is active. The
        current compensation is the one with the most recent `effective_date`.
        This endpoint deletes a compensation for a job that hasn't been
        processed on payroll.


        scope: `jobs:write`
      parameters:
        - $ref: '#/components/parameters/compensation_id'
        - $ref: '#/components/parameters/VersionHeader'
      responses:
        '204':
          description: No Content
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
      x-gusto-integration-type:
        - embedded
        - app-integrations
  /v1/companies/{company_id}/earning_types:
    post:
      tags:
        - Earning Types
      summary: Create a custom earning type
      operationId: EarningTypes_createCustomEarningType
      description: >-
        Create a custom earning type.


        If an inactive earning type exists with the same name, this will
        reactivate it instead of creating a new one.


        scope: `payrolls:write`
      parameters:
        - $ref: '#/components/parameters/company_id'
        - $ref: '#/components/parameters/VersionHeader'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EarningTypesCreateCustomEarningTypeRequest'
            examples:
              Example:
                value:
                  name: Gym Membership Stipend
      responses:
        '201':
          $ref: '#/components/responses/Earning-Type-Object'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
        '422':
          $ref: '#/components/responses/Unprocessable-Entity-Error-Object'
      x-gusto-integration-type:
        - embedded
        - app-integrations
    get:
      tags:
        - Earning Types
      summary: Get all earning types for a company
      operationId: EarningTypes_getAll
      description: >-
        A payroll item in Gusto is associated to an earning type to name the
        type of earning described by the payroll item.


        #### Default Earning Type

        Certain earning types are special because they have tax considerations.
        Those earning types are mostly the same for every company depending on
        its legal structure (LLC, Corporation, etc.)


        #### Custom Earning Type

        Custom earning types are all the other earning types added specifically
        for a company.


        scope: `payrolls:read`
      parameters:
        - $ref: '#/components/parameters/company_id'
        - $ref: '#/components/parameters/VersionHeader'
      responses:
        '200':
          $ref: '#/components/responses/Earning-Type-List'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
      x-gusto-integration-type:
        - embedded
        - app-integrations
  /v1/companies/{company_id}/earning_types/{earning_type_uuid}:
    put:
      tags:
        - Earning Types
      summary: Update an earning type
      operationId: EarningTypes_updateTypeById
      description: |-
        Update an earning type.

        scope: `payrolls:write`
      parameters:
        - $ref: '#/components/parameters/company_id'
        - $ref: '#/components/parameters/earning_type_uuid'
        - $ref: '#/components/parameters/VersionHeader'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EarningTypesUpdateTypeByIdRequest'
            examples:
              Example:
                value:
                  name: Gym Membership Stipend
      responses:
        '200':
          $ref: '#/components/responses/Earning-Type-Object'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
        '422':
          $ref: '#/components/responses/Unprocessable-Entity-Error-Object'
      x-gusto-integration-type:
        - embedded
        - app-integrations
    delete:
      tags:
        - Earning Types
      summary: Deactivate an earning type
      operationId: EarningTypes_deactivate
      description: |-
        Deactivate an earning type.

        scope: `payrolls:write`
      parameters:
        - $ref: '#/components/parameters/company_id'
        - $ref: '#/components/parameters/earning_type_uuid'
        - $ref: '#/components/parameters/VersionHeader'
      responses:
        '204':
          description: No Content
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
      x-gusto-integration-type:
        - embedded
        - app-integrations
  /v1/companies/{company_id}/contractors:
    post:
      tags:
        - Contractors
      summary: Create a contractor
      operationId: Contractors_createIndividualOrBusiness
      description: |-
        Create an individual or business contractor.

        scope: `contractors:manage`
      parameters:
        - $ref: '#/components/parameters/company_id'
        - $ref: '#/components/parameters/VersionHeader'
      requestBody:
        description: Create an individual or business contractor.
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/ContractorsCreateIndividualOrBusinessRequest
            examples:
              Create an Individual contractor:
                value:
                  type: Individual
                  wage_type: Fixed
                  first_name: Johnson
                  last_name: Johnson
                  start_date: '2020-04-01'
                  self_onboarding: true
                  email: johnson@johnson.com
                  file_new_hire_report: true,
                  work_state: CA
              Create a Business contractor:
                value:
                  type: Business
                  wage_type: Fixed
                  business_name: Johnson-Johnson Contractors
                  start_date: '2020-04-01'
      responses:
        '201':
          $ref: '#/components/responses/Contractor-Object'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
        '422':
          $ref: '#/components/responses/Unprocessable-Entity-Error-Object'
      x-gusto-integration-type:
        - embedded
        - app-integrations
    get:
      tags:
        - Contractors
      summary: Get contractors of a company
      operationId: Contractors_getAll
      description: >-
        Get all contractors, active and inactive, individual and business, for a
        company.


        scope: `contractors:read`
      parameters:
        - $ref: '#/components/parameters/company_id'
        - $ref: '#/components/parameters/pageParam'
        - $ref: '#/components/parameters/perParam'
        - $ref: '#/components/parameters/VersionHeader'
      responses:
        '200':
          $ref: '#/components/responses/Contractor-List'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
      x-gusto-integration-type:
        - embedded
        - app-integrations
  /v1/contractors/{contractor_id}:
    get:
      tags:
        - Contractors
      summary: Get a contractor
      operationId: Contractors_getDetails
      description: |-
        Get a contractor.

        scope: `contractors:read`
      parameters:
        - $ref: '#/components/parameters/contractor_id'
        - $ref: '#/components/parameters/VersionHeader'
      responses:
        '200':
          $ref: '#/components/responses/Contractor-Object'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
      x-gusto-integration-type:
        - embedded
        - app-integrations
    put:
      tags:
        - Contractors
      summary: Update a contractor
      operationId: Contractors_updateContractor
      description: >-
        Update a contractor.


        scope: `contractors:write`


        > 🚧 Warning

        >

        > Watch out when changing a contractor's type (when the contractor is
        finished onboarding). Specifically, changing contractor type can be
        dangerous since Gusto won’t recognize and file two separate 1099s if
        they simply change from business to individual
      parameters:
        - $ref: '#/components/parameters/contractor_id'
        - $ref: '#/components/parameters/VersionHeader'
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContractorsUpdateContractorRequest'
            examples:
              Update an Individual Contractor:
                value:
                  version: b48c46abfed1487b873b442334b3c4ff
                  start_date: '2021-01-01'
                  first_name: Chanel
                  last_name: Boyle
                  middle_initial: X
                  wage_type: Hourly
                  hourly_rate: '20.00'
                  is_active: true
              Update a Business Contractor:
                value:
                  version: b48c46abfed1487b873b442334b3c4ff
                  start_date: '2020-01-11'
                  business_name: Contracting Solutions
                  ein: '991113334'
                  wage_type: Fixed
                  is_active: false
      responses:
        '200':
          $ref: '#/components/responses/Contractor-Object'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
        '422':
          $ref: '#/components/responses/Unprocessable-Entity-Error-Object'
      x-gusto-integration-type:
        - embedded
        - app-integrations
  /v1/webhook_subscriptions:
    post:
      tags:
        - Webhooks
      summary: Create a webhook subscription
      operationId: Webhooks_createSubscription
      security:
        - SystemAccessAuth: []
      description: >-
        Create a webhook subscription to receive events of the specified
        subscription_types whenever there is a state change.


        > 📘 System Access Authentication

        >

        > This endpoint uses the [Bearer Auth scheme with the system-level
        access token in the HTTP Authorization
        header](https://docs.gusto.com/embedded-payroll/docs/system-access).


        scope: `webhook_subscriptions:write`
      parameters:
        - $ref: '#/components/parameters/VersionHeader'
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhooksCreateSubscriptionRequest'
            examples:
              Example:
                value:
                  url: https://partner-app.com/subscriber
                  subscription_types:
                    - Company
                    - Employee
      responses:
        '201':
          $ref: '#/components/responses/Webhook-Subscription-Object'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
        '422':
          $ref: '#/components/responses/Unprocessable-Entity-Error-Object'
      x-gusto-integration-type:
        - embedded
        - app-integrations
    get:
      tags:
        - Webhooks
      summary: List webhook subscriptions
      operationId: Webhooks_listSubscriptions
      security:
        - SystemAccessAuth: []
      description: >-
        Returns all webhook subscriptions associated with the provided Partner
        API token.


        > 📘 System Access Authentication

        >

        > This endpoint uses the [Bearer Auth scheme with the system-level
        access token in the HTTP Authorization
        header](https://docs.gusto.com/embedded-payroll/docs/system-access).


        scope: `webhook_subscriptions:read`
      parameters:
        - $ref: '#/components/parameters/VersionHeader'
      responses:
        '200':
          $ref: '#/components/responses/Webhook-Subscriptions-List'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
      x-gusto-integration-type:
        - embedded
        - app-integrations
  /v1/webhook_subscriptions/{webhook_subscription_uuid}:
    put:
      tags:
        - Webhooks
      summary: Update a webhook subscription
      operationId: Webhooks_updateSubscriptionByUuid
      security:
        - SystemAccessAuth: []
      description: >
        Updates the Webhook Subscription associated with the provided UUID.


        > 📘 System Access Authentication

        >

        > This endpoint uses the [Bearer Auth scheme with the system-level
        access token in the HTTP Authorization
        header](https://docs.gusto.com/embedded-payroll/docs/system-access).


        scope: `webhook_subscriptions:write`
      parameters:
        - $ref: '#/components/parameters/webhook_subscription_uuid'
        - $ref: '#/components/parameters/VersionHeader'
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhooksUpdateSubscriptionByUuidRequest'
            examples:
              Example:
                value:
                  subscription_types:
                    - Company
                    - Employee
      responses:
        '200':
          $ref: '#/components/responses/Webhook-Subscription-Object'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
        '422':
          $ref: '#/components/responses/Unprocessable-Entity-Error-Object'
      x-gusto-integration-type:
        - embedded
        - app-integrations
    get:
      tags:
        - Webhooks
      summary: Get a webhook subscription
      operationId: Webhooks_getSubscriptionByUuid
      security:
        - SystemAccessAuth: []
      description: >
        Returns the Webhook Subscription associated with the provided UUID.


        > 📘 System Access Authentication

        >

        > This endpoint uses the [Bearer Auth scheme with the system-level
        access token in the HTTP Authorization
        header](https://docs.gusto.com/embedded-payroll/docs/system-access).


        scope: `webhook_subscriptions:read`
      parameters:
        - $ref: '#/components/parameters/webhook_subscription_uuid'
        - $ref: '#/components/parameters/VersionHeader'
      responses:
        '200':
          $ref: '#/components/responses/Webhook-Subscription-Object'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
      x-gusto-integration-type:
        - embedded
        - app-integrations
    delete:
      tags:
        - Webhooks
      summary: Delete a webhook subscription
      operationId: Webhooks_deleteSubscriptionByUuid
      security:
        - SystemAccessAuth: []
      description: >
        Deletes the Webhook Subscription associated with the provided UUID.


        > 📘 System Access Authentication

        >

        > This endpoint uses the [Bearer Auth scheme with the system-level
        access token in the HTTP Authorization
        header](https://docs.gusto.com/embedded-payroll/docs/system-access).


        scope: `webhook_subscriptions:write`
      parameters:
        - $ref: '#/components/parameters/webhook_subscription_uuid'
        - $ref: '#/components/parameters/VersionHeader'
      responses:
        '204':
          description: The resource was deleted successfully.
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
      x-gusto-integration-type:
        - embedded
        - app-integrations
  /v1/webhook_subscriptions/{webhook_subscription_uuid}/verify:
    put:
      tags:
        - Webhooks
      summary: Verify the webhook subscription
      operationId: Webhooks_verifySubscriptionToken
      security:
        - SystemAccessAuth: []
      description: >
        When a webhook subscription is created, a `verification_token` is POSTed
        to the registered webhook subscription URL. This `verify` endpoint needs
        to be called with `verification_token` before webhook events can be sent
        to the registered webhook URL.


        Use the
        /v1/webhook_subscriptions/{webhook_subscription_uuid}/request_verification_token
        API to resend the `verification_token` to the Subscriber.


        > 📘 System Access Authentication

        >

        > This endpoint uses the [Bearer Auth scheme with the system-level
        access token in the HTTP Authorization
        header](https://docs.gusto.com/embedded-payroll/docs/system-access).


        scope: `webhook_subscriptions:write`
      parameters:
        - $ref: '#/components/parameters/webhook_subscription_uuid'
        - $ref: '#/components/parameters/VersionHeader'
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhooksVerifySubscriptionTokenRequest'
            examples:
              Example:
                value:
                  verification_token: asefasedfe23e234easd
      responses:
        '200':
          $ref: '#/components/responses/Webhook-Subscription-Object'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
        '422':
          $ref: '#/components/responses/Unprocessable-Entity-Error-Object'
      x-gusto-integration-type:
        - embedded
        - app-integrations
  /v1/webhook_subscriptions/{webhook_subscription_uuid}/request_verification_token:
    get:
      tags:
        - Webhooks
      summary: Request the webhook subscription verification_token
      operationId: Webhooks_requestVerificationToken
      security:
        - SystemAccessAuth: []
      description: >
        Request that the webhook subscription `verification_token` be POSTed to
        the Subscription URL.


        > 📘 System Access Authentication

        >

        > This endpoint uses the [Bearer Auth scheme with the system-level
        access token in the HTTP Authorization
        header](https://docs.gusto.com/embedded-payroll/docs/system-access).


        scope: `webhook_subscriptions:read`
      parameters:
        - $ref: '#/components/parameters/webhook_subscription_uuid'
        - $ref: '#/components/parameters/VersionHeader'
      responses:
        '200':
          description: >-
            No Content. The `verification_token` is POSTed to the Subscription
            URL.
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
      x-gusto-integration-type:
        - embedded
        - app-integrations
  /v1/companies/{company_id}/payrolls:
    get:
      tags:
        - Payrolls
      summary: Get all payrolls for a company
      operationId: Payrolls_getAllForCompany
      description: >-
        Returns a list of payrolls for a company. You can change the payrolls
        returned by updating the processing_status, payroll_types, start_date, &
        end_date params.


        By default, will return processed, regular payrolls for the past 6
        months.


        Notes:

        * Dollar amounts are returned as string representations of numeric
        decimals, are represented to the cent.

        * end_date can be at most 3 months in the future and start_date and
        end_date can't be more than 1 year apart.


        scope: `payrolls:read`
      parameters:
        - $ref: '#/components/parameters/company_id'
        - description: >-
            Whether to include processed and/or unprocessed payrolls in the
            response, defaults to processed, for multiple attributes comma
            separate the values, i.e.
            `?processing_statuses=processed,unprocessed`
          schema:
            type: string
            enum:
              - unprocessed
              - processed
          in: query
          name: processing_statuses
        - description: >-
            Whether to include regular and/or off_cycle payrolls in the
            response, defaults to regular, for multiple attributes comma
            separate the values, i.e. `?payroll_types=regular,off_cycle`
          schema:
            type: string
            enum:
              - regular
              - off_cycle
              - external
          in: query
          name: payroll_types
        - description: >-
            Include the requested attribute in the response. In v2023-04-01
            totals are no longer included by default. For multiple attributes
            comma separate the values, i.e.
            `?include=totals,payroll_status_meta`
          schema:
            type: string
            enum:
              - totals
              - payroll_status_meta
          in: query
          name: include
        - description: Return payrolls whose pay period is after the start date
          schema:
            type: string
          in: query
          name: start_date
        - description: Return payrolls whose pay period is before the end date
          schema:
            type: string
          in: query
          name: end_date
        - $ref: '#/components/parameters/VersionHeader'
      responses:
        '200':
          $ref: '#/components/responses/Payroll-List'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
      x-gusto-integration-type:
        - embedded
        - app-integrations
  /v1/companies/{company_id}/payrolls/{payroll_id}:
    get:
      tags:
        - Payrolls
      summary: Get a single payroll
      operationId: Payrolls_getSinglePayroll
      description: >-
        Returns a payroll. If payroll is calculated or processed, will return
        employee_compensations and totals.


        Notes:

        * Hour and dollar amounts are returned as string representations of
        numeric decimals.

        * Hours are represented to the thousands place; dollar amounts are
        represented to the cent.

        * Every eligible compensation is returned for each employee. If no data
        has yet be inserted for a given field, it defaults to “0.00” (for fixed
        amounts) or “0.000” (for hours ).

        * When include parameter with benefits value is passed,
        employee_benefits:read scope is required to return benefits
          * Benefits containing PHI are only visible with the `employee_benefits:read:phi` scope

        scope: `payrolls:read`
      parameters:
        - $ref: '#/components/parameters/company_id'
        - $ref: '#/components/parameters/payroll_id'
        - description: >-
            Include the requested attribute in the response, for multiple
            attributes comma separate the values, i.e.
            `?include=benefits,deductions,taxes`
          schema:
            type: string
            enum:
              - benefits
              - deductions
              - taxes
              - payroll_status_meta
          in: query
          name: include
        - $ref: '#/components/parameters/VersionHeader'
      responses:
        '200':
          $ref: '#/components/responses/Payroll-Show-Object'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
      x-gusto-integration-type:
        - embedded
        - app-integrations
    put:
      tags:
        - Payrolls
      summary: Update a payroll by ID
      operationId: Payrolls_updateById
      description: >-
        This endpoint allows you to update information for one or more employees
        for a specific **unprocessed** payroll.  You can think of the
        **unprocessed**

        payroll object as a template of fields that you can update.  You cannot
        modify the structure of the payroll object through this endpoint, only
        values

        of the fields included in the payroll.  If you do not include specific
        employee compensations or fixed/hourly compensations in your request
        body, they

        will not be removed from the payroll.


        scope: `payrolls:write`
      parameters:
        - $ref: '#/components/parameters/company_id'
        - $ref: '#/components/parameters/payroll_id'
        - $ref: '#/components/parameters/VersionHeader'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayrollsUpdateByIdRequest'
      responses:
        '200':
          $ref: '#/components/responses/Payroll-Update-Object'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
        '422':
          $ref: '#/components/responses/Unprocessable-Entity-Error-Object'
      x-gusto-integration-type:
        - embedded
        - app-integrations
  /v1/companies/{company_id}/payrolls/{payroll_id}/prepare:
    put:
      tags:
        - Payrolls
      summary: Prepare a payroll for update
      operationId: Payrolls_prepareForUpdate
      description: >-
        This endpoint will build the payroll and get it ready for making
        updates. This includes adding/removing eligible employees from the
        Payroll and updating the check_date, payroll_deadline, and
        payroll_status_meta dates & times.


        Notes:
         * Will null out calculated_at & totals if a payroll has already been calculated.
         * Will return the version param used for updating the payroll

        scope: `payrolls:write`
      parameters:
        - $ref: '#/components/parameters/company_id'
        - $ref: '#/components/parameters/payroll_id'
        - $ref: '#/components/parameters/VersionHeader'
      responses:
        '200':
          $ref: '#/components/responses/Payroll-Update-Object'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
      x-gusto-integration-type:
        - embedded
        - app-integrations
  /v1/payrolls/{payroll_id}/employees/{employee_id}/calculate_accruing_time_off_hours:
    post:
      tags:
        - Time Off Policies
      summary: Calculate accruing time off hours
      operationId: TimeOffPolicies_calculateAccruingTimeOffHours
      description: >-
        Returns a list of accruing time off for each time off policy associated
        with the employee.


        Factors affecting the accrued hours:
          * the time off policy accrual method (whether they get pay per hour worked, per hour paid, with / without overtime, accumulate time off based on pay period / calendar year / anniversary)
          * how many hours of work during this pay period
          * how many hours of PTO / sick hours taken during this pay period (for per hour paid policies only)
          * company pay schedule frequency (for per pay period)

        If none of the parameters is passed in, the accrued time off hour will
        be 0.


        scope: `payrolls:read`
      parameters:
        - $ref: '#/components/parameters/payroll_id'
        - $ref: '#/components/parameters/employee_id'
        - $ref: '#/components/parameters/VersionHeader'
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/TimeOffPoliciesCalculateAccruingTimeOffHoursRequest
            examples:
              Example:
                value:
                  regular_hours_worked: 30.25
                  overtime_hours_worked: 10
                  double_overtime_hours_worked: 0
                  pto_hours_used: 5.5
                  sick_hours_used: 0
      responses:
        '200':
          $ref: '#/components/responses/Accruing-Time-Off-Hour-Object'
        '422':
          $ref: '#/components/responses/Unprocessable-Entity-Error-Object'
      x-gusto-integration-type:
        - embedded
        - app-integrations
  /v1/companies/{company_id}/contractor_payments:
    get:
      tags:
        - Contractor Payments
      summary: Get contractor payments for a company
      operationId: ContractorPayments_listForCompany
      description: >-
        Returns an object containing individual contractor payments, within a
        given time period, including totals.


        scope: `payrolls:read`
      parameters:
        - $ref: '#/components/parameters/company_id'
        - description: The time period for which to retrieve contractor payments
          schema:
            type: string
            example: '2020-01-01'
          in: query
          name: start_date
          required: true
        - description: The time period for which to retrieve contractor payments
          schema:
            type: string
            example: '2020-12-31'
          in: query
          name: end_date
          required: true
        - description: >-
            The UUID of the contractor. When specified, will load all payments
            for that contractor.
          schema:
            type: string
          in: query
          name: contractor_uuid
        - description: >-
            Display contractor payments results group by check date if set to
            true.
          schema:
            type: boolean
          in: query
          name: group_by_date
        - $ref: '#/components/parameters/pageParam'
        - $ref: '#/components/parameters/perParam'
        - $ref: '#/components/parameters/VersionHeader'
      responses:
        '200':
          description: A JSON object containing contractor payments information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractorPaymentsListForCompanyResponse'
              examples:
                Example:
                  value:
                    total:
                      reimbursements: '110.0'
                      wages: '1840.0'
                    contractor_payments:
                      - contractor_id: 1234
                        reimbursement_total: '110.0'
                        wage_total: '1840.0'
                        payments:
                          - id: 04552eb9-7829-4b18-ae96-6983552948df
                            bonus: '20.0'
                            date: '2020-10-19'
                            hours: '40.0'
                            payment_method: Direct Deposit
                            reimbursement: '100.0'
                            hourly_rate: '18.0'
                            may_cancel: true
                            wage: '0.0'
                            wage_type: Hourly
                            wage_total: '740.00'
                            contractor_id: 1234
                            contractor_uuid: bc57832c-d8bc-43a7-ae99-3a03380ff037
                          - id: 25cfeb96-17fc-4fdf-8941-57f3fb9eea00
                            bonus: '100.0'
                            date: '2020-10-19'
                            hours: '0.00'
                            payment_method: Direct Deposit
                            reimbursement: '10.0'
                            hourly_rate: '0.0'
                            may_cancel: true
                            wage: '1000.0'
                            wage_type: Fixed
                            wage_total: '1100.0'
                            contractor_id: 1234
                            contractor_uuid: bc57832c-d8bc-43a7-ae99-3a03380ff037
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
      x-gusto-integration-type:
        - embedded
        - app-integrations
  /v1/companies/{company_id}/contractor_payments/{contractor_payment_id}:
    get:
      tags:
        - Contractor Payments
      summary: Get a single contractor payment
      operationId: ContractorPayments_getSingle
      description: |-
        Returns a single contractor payments

        scope: `payrolls:read`
      parameters:
        - $ref: '#/components/parameters/company_id'
        - $ref: '#/components/parameters/contractor_payment_id'
        - $ref: '#/components/parameters/VersionHeader'
      responses:
        '200':
          $ref: '#/components/responses/Contractor-Payment-Object'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
      x-gusto-integration-type:
        - embedded
        - app-integrations
  /v1/companies/{company_id}/company_benefits:
    post:
      tags:
        - Company Benefits
      summary: Create a company benefit
      operationId: CompanyBenefits_createCompanyBenefit
      description: >-
        Company benefits represent the benefits that a company is offering to
        employees. This ties together a particular supported benefit with the
        company-specific information for the offering of that benefit.


        Note that company benefits can be deactivated only when no employees are
        enrolled.


        scope: `company_benefits:write`
      parameters:
        - $ref: '#/components/parameters/company_id'
        - $ref: '#/components/parameters/VersionHeader'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanyBenefitsCreateCompanyBenefitRequest'
      responses:
        '201':
          $ref: '#/components/responses/Company-Benefit-Object'
        '404':
          $ref: '#/components/responses/Not-Found-Error-Object'
        '422':
          $ref: '#/components/responses/Unprocessable-Entity-Error-Object'
      x-gusto-integration-type:
        - embedded
        - app-integrations
    get:
      tags:
        - Company Benefits
      summary: Get benefits for a company
      operationId: CompanyBenefits_getByCompanyId
      description: >-
        Company benefits represent the benefits that a company is offering to
        employees. This ties together a particular supported benefit with the
        company-specific information for the offering of that benefit.


[...]
