openapi: 3.0.0
info:
  title: Hathora Cloud API
  description: >-
    Welcome to the Hathora Cloud API documentation! Learn how to use the Hathora
    Cloud APIs to build and scale your game servers globally.
  version: 0.0.1
  contact: {}
servers:
  - url: https://api.hathora.dev
  - url: ''
tags:
  - description: >-
      Operations to create, manage, and connect to
      [rooms](https://hathora.dev/docs/concepts/hathora-entities#room).
    name: RoomV2
  - description: Deprecated. Use [LobbyV3](https://hathora.dev/api#tag/LobbyV3).
    name: LobbyV2
  - description: Deprecated. Use [RoomV2](https://hathora.dev/api#tag/RoomV2).
    name: RoomV1
  - description: >-
      Operations that allow you manage your
      [applications](https://hathora.dev/docs/concepts/hathora-entities#application).
    name: AppV1
  - description: >-
      Operations that allow you create and manage your
      [builds](https://hathora.dev/docs/concepts/hathora-entities#build).
    name: BuildV1
  - description: ' '
    name: BillingV1
  - description: >-
      Operations that allow you configure and manage an application's
      [build](https://hathora.dev/docs/concepts/hathora-entities#build) at
      runtime.
    name: DeploymentV2
  - description: Deprecated. Use [DeploymentV2](https://hathora.dev/api#tag/DeploymentV2).
    name: DeploymentV1
  - description: >-
      Operations to create and manage lobbies using our [Lobby
      Service](https://hathora.dev/docs/lobbies-and-matchmaking/lobby-service).
    name: LobbyV3
  - description: >-
      Operations to get logs by
      [applications](https://hathora.dev/docs/concepts/hathora-entities#application),
      [processes](https://hathora.dev/docs/concepts/hathora-entities#process),
      and
      [deployments](https://hathora.dev/docs/concepts/hathora-entities#deployment).
      We store 20GB of logs data.
    name: LogV1
  - description: >-
      Operations to get data on active and stopped
      [processes](https://hathora.dev/docs/concepts/hathora-entities#process).
    name: ProcessesV2
  - description: >-
      Operations that allow you to generate a Hathora-signed [JSON web token
      (JWT)](https://jwt.io/) for [player
      authentication](https://hathora.dev/docs/lobbies-and-matchmaking/auth-service).
    name: AuthV1
  - description: Deprecated. Use [LobbyV3](https://hathora.dev/api#tag/LobbyV3).
    name: LobbyV1
  - description: Deprecated. Use [ProcessesV2](https://hathora.dev/api#tag/ProcessesV2).
    name: ProcessesV1
  - description: ' '
    name: OrgTokensV1
  - description: >-
      Service that allows clients to directly ping all Hathora regions to get
      latency information
    name: DiscoveryV1
  - description: ' '
    name: ManagementV1
  - description: >-
      Operations to get metrics by
      [process](https://hathora.dev/docs/concepts/hathora-entities#process). We
      store 72 hours of metrics data.
    name: MetricsV1
paths:
  /apps/v1/list:
    get:
      tags:
        - AppV1
      operationId: AppV1_getAppList
      security:
        - hathoraDevToken: []
      description: >-
        Returns an unsorted list of your organization’s
        [applications](https://hathora.dev/docs/concepts/hathora-entities#application).
        An application is uniquely identified by an `appId`.
      parameters: []
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppV1GetAppListResponse'
  /apps/v1/create:
    post:
      tags:
        - AppV1
      operationId: AppV1_createNewApplication
      security:
        - hathoraDevToken: []
      description: >-
        Create a new
        [application](https://hathora.dev/docs/concepts/hathora-entities#application).
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppConfig'
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '422':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /apps/v1/update/{appId}:
    post:
      tags:
        - AppV1
      operationId: AppV1_updateApplicationData
      security:
        - hathoraDevToken: []
      description: >-
        Update data for an existing
        [application](https://hathora.dev/docs/concepts/hathora-entities#application)
        using `appId`.
      parameters:
        - in: path
          name: appId
          required: true
          schema:
            $ref: '#/components/schemas/AppId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppConfig'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '422':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /apps/v1/info/{appId}:
    get:
      tags:
        - AppV1
      operationId: AppV1_getAppInfo
      security:
        - hathoraDevToken: []
      description: >-
        Get details for an
        [application](https://hathora.dev/docs/concepts/hathora-entities#application)
        using `appId`.
      parameters:
        - in: path
          name: appId
          required: true
          schema:
            $ref: '#/components/schemas/AppId'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /apps/v1/delete/{appId}:
    delete:
      tags:
        - AppV1
      operationId: AppV1_deleteApplicationById
      security:
        - hathoraDevToken: []
      description: >-
        Delete an
        [application](https://hathora.dev/docs/concepts/hathora-entities#application)
        using `appId`. Your organization will lose access to this application.
      parameters:
        - in: path
          name: appId
          required: true
          schema:
            $ref: '#/components/schemas/AppId'
      responses:
        '204':
          description: No content
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /auth/v1/{appId}/login/anonymous:
    post:
      tags:
        - AuthV1
      operationId: AuthV1_generatePlayerToken
      security: []
      description: Returns a unique player token for an anonymous user.
      parameters:
        - in: path
          name: appId
          required: true
          schema:
            $ref: '#/components/schemas/AppId'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /auth/v1/{appId}/login/nickname:
    post:
      tags:
        - AuthV1
      operationId: AuthV1_generateUniquePlayerToken
      security: []
      description: Returns a unique player token with a specified nickname for a user.
      parameters:
        - in: path
          name: appId
          required: true
          schema:
            $ref: '#/components/schemas/AppId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginNicknameRequest'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /auth/v1/{appId}/login/google:
    post:
      tags:
        - AuthV1
      operationId: AuthV1_getUniquePlayerToken
      security: []
      description: Returns a unique player token using a Google-signed OIDC `idToken`.
      parameters:
        - in: path
          name: appId
          required: true
          schema:
            $ref: '#/components/schemas/AppId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginGoogleRequest'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /billing/v1/balance:
    get:
      tags:
        - BillingV1
      operationId: BillingV1_getBalance
      security:
        - hathoraDevToken: []
      parameters: []
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingV1GetBalanceResponse'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /billing/v1/paymentmethod:
    get:
      tags:
        - BillingV1
      operationId: BillingV1_getPaymentMethod
      security:
        - hathoraDevToken: []
      parameters: []
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Partial__card-CardPaymentMethod--ach-AchPaymentMethod--link-LinkPaymentMethod--__
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /billing/v1/customerportalurl:
    post:
      tags:
        - BillingV1
      operationId: BillingV1_createCustomerPortalUrl
      security:
        - hathoraDevToken: []
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerPortalUrl'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingV1CreateCustomerPortalUrlResponse'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /billing/v1/invoices:
    get:
      tags:
        - BillingV1
      operationId: BillingV1_listInvoices
      security:
        - hathoraDevToken: []
      parameters: []
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingV1ListInvoicesResponse'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /builds/v1/{appId}/list:
    get:
      tags:
        - BuildV1
      operationId: BuildV1_getApplicationBuilds
      security:
        - hathoraDevToken: []
      description: >-
        Returns an array of
        [builds](https://hathora.dev/docs/concepts/hathora-entities#build) for
        an
        [application](https://hathora.dev/docs/concepts/hathora-entities#application).
      parameters:
        - in: path
          name: appId
          required: true
          schema:
            $ref: '#/components/schemas/AppId'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuildV1GetApplicationBuildsResponse'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /builds/v1/{appId}/info/{buildId}:
    get:
      tags:
        - BuildV1
      operationId: BuildV1_getApplicationInfo
      security:
        - hathoraDevToken: []
      description: >-
        Get details for a
        [build](https://hathora.dev/docs/concepts/hathora-entities#build).
      parameters:
        - in: path
          name: appId
          required: true
          schema:
            $ref: '#/components/schemas/AppId'
        - in: path
          name: buildId
          required: true
          schema:
            $ref: '#/components/schemas/BuildId'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Build'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /builds/v1/{appId}/create:
    post:
      tags:
        - BuildV1
      operationId: BuildV1_createBuild
      security:
        - hathoraDevToken: []
      description: >-
        Creates a new
        [build](https://hathora.dev/docs/concepts/hathora-entities#build).
        Responds with a `buildId` that you must pass to
        [`RunBuild()`](https://hathora.dev/api#tag/BuildV1/operation/RunBuild)
        to build the game server artifact. You can optionally pass in a
        `buildTag` to associate an external version with a build.
      parameters:
        - in: path
          name: appId
          required: true
          schema:
            $ref: '#/components/schemas/AppId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBuildParams'
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Build'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /builds/v1/{appId}/run/{buildId}:
    post:
      tags:
        - BuildV1
      operationId: BuildV1_buildServerArtifact
      security:
        - hathoraDevToken: []
      description: >-
        Builds a game server artifact from a tarball you provide. Pass in the
        `buildId` generated from
        [`CreateBuild()`](https://hathora.dev/api#tag/BuildV1/operation/CreateBuild).
      parameters:
        - in: path
          name: appId
          required: true
          schema:
            $ref: '#/components/schemas/AppId'
        - in: path
          name: buildId
          required: true
          schema:
            $ref: '#/components/schemas/BuildId'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/BuildV1BuildServerArtifactRequest'
      responses:
        '200':
          description: Ok
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BuildV1BuildServerArtifactResponse'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /builds/v1/{appId}/delete/{buildId}:
    delete:
      tags:
        - BuildV1
      operationId: BuildV1_deleteBuildById
      security:
        - hathoraDevToken: []
      description: >-
        Delete a
        [build](https://hathora.dev/docs/concepts/hathora-entities#build). All
        associated metadata is deleted.
      parameters:
        - in: path
          name: appId
          required: true
          schema:
            $ref: '#/components/schemas/AppId'
        - in: path
          name: buildId
          required: true
          schema:
            $ref: '#/components/schemas/BuildId'
      responses:
        '204':
          description: No content
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '422':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /deployments/v1/{appId}/list:
    get:
      tags:
        - DeploymentV1
      operationId: DeploymentV1_listDeploymentsByAppId
      security:
        - hathoraDevToken: []
      description: >-
        Returns an array of
        [deployments](https://hathora.dev/docs/concepts/hathora-entities#deployment)
        for an
        [application](https://hathora.dev/docs/concepts/hathora-entities#application).
      parameters:
        - in: path
          name: appId
          required: true
          schema:
            $ref: '#/components/schemas/AppId'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/DeploymentV1ListDeploymentsByAppIdResponse
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      deprecated: true
  /deployments/v1/{appId}/latest:
    get:
      tags:
        - DeploymentV1
      operationId: DeploymentV1_getLatestDeploymentByAppId
      security:
        - hathoraDevToken: []
      description: >-
        Get the latest
        [deployment](https://hathora.dev/docs/concepts/hathora-entities#deployment)
        for an
        [application](https://hathora.dev/docs/concepts/hathora-entities#application).
      parameters:
        - in: path
          name: appId
          required: true
          schema:
            $ref: '#/components/schemas/AppId'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deployment'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      deprecated: true
  /deployments/v1/{appId}/info/{deploymentId}:
    get:
      tags:
        - DeploymentV1
      operationId: DeploymentV1_getInfo
      security:
        - hathoraDevToken: []
      description: >-
        Get details for a
        [deployment](https://hathora.dev/docs/concepts/hathora-entities#deployment).
      parameters:
        - in: path
          name: appId
          required: true
          schema:
            $ref: '#/components/schemas/AppId'
        - in: path
          name: deploymentId
          required: true
          schema:
            $ref: '#/components/schemas/DeploymentId'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deployment'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      deprecated: true
  /deployments/v1/{appId}/create/{buildId}:
    post:
      tags:
        - DeploymentV1
      operationId: DeploymentV1_createNewDeployment
      security:
        - hathoraDevToken: []
      description: >-
        Create a new
        [deployment](https://hathora.dev/docs/concepts/hathora-entities#deployment).
        Creating a new deployment means all new rooms created will use the
        latest deployment configuration, but existing games in progress will not
        be affected.
      parameters:
        - in: path
          name: appId
          required: true
          schema:
            $ref: '#/components/schemas/AppId'
        - in: path
          name: buildId
          required: true
          schema:
            $ref: '#/components/schemas/BuildId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeploymentConfig'
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deployment'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      deprecated: true
  /deployments/v2/{appId}/list:
    get:
      tags:
        - DeploymentV2
      operationId: DeploymentV2_getAppDeployments
      security:
        - hathoraDevToken: []
      description: >-
        Returns an array of
        [deployments](https://hathora.dev/docs/concepts/hathora-entities#deployment)
        for an
        [application](https://hathora.dev/docs/concepts/hathora-entities#application).
      parameters:
        - in: path
          name: appId
          required: true
          schema:
            $ref: '#/components/schemas/AppId'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentV2GetAppDeploymentsResponse'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /deployments/v2/{appId}/latest:
    get:
      tags:
        - DeploymentV2
      operationId: DeploymentV2_getLatestDeployment
      security:
        - hathoraDevToken: []
      description: >-
        Get the latest
        [deployment](https://hathora.dev/docs/concepts/hathora-entities#deployment)
        for an
        [application](https://hathora.dev/docs/concepts/hathora-entities#application).
      parameters:
        - in: path
          name: appId
          required: true
          schema:
            $ref: '#/components/schemas/AppId'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentV2'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /deployments/v2/{appId}/info/{deploymentId}:
    get:
      tags:
        - DeploymentV2
      operationId: DeploymentV2_getDeploymentInfo
      security:
        - hathoraDevToken: []
      description: >-
        Get details for a
        [deployment](https://hathora.dev/docs/concepts/hathora-entities#deployment).
      parameters:
        - in: path
          name: appId
          required: true
          schema:
            $ref: '#/components/schemas/AppId'
        - in: path
          name: deploymentId
          required: true
          schema:
            $ref: '#/components/schemas/DeploymentId'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentV2'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /deployments/v2/{appId}/create/{buildId}:
    post:
      tags:
        - DeploymentV2
      operationId: DeploymentV2_createDeployment
      security:
        - hathoraDevToken: []
      description: >-
        Create a new
        [deployment](https://hathora.dev/docs/concepts/hathora-entities#deployment).
        Creating a new deployment means all new rooms created will use the
        latest deployment configuration, but existing games in progress will not
        be affected.
      parameters:
        - in: path
          name: appId
          required: true
          schema:
            $ref: '#/components/schemas/AppId'
        - in: path
          name: buildId
          required: true
          schema:
            $ref: '#/components/schemas/BuildId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeploymentConfigV2'
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentV2'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /discovery/v1/ping:
    get:
      tags:
        - DiscoveryV1
      operationId: DiscoveryV1_getEndpoints
      security: []
      description: >-
        Returns an array of all regions with a host and port that a client can
        directly ping. Open a websocket connection to `wss://<host>:<port>/ws`
        and send a packet. To calculate ping, measure the time it takes to get
        an echo packet back.
      parameters: []
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiscoveryResponse'
  /lobby/v1/{appId}/create/private:
    post:
      tags:
        - LobbyV1
      operationId: LobbyV1_createPrivateLobby
      security:
        - playerAuth: []
      parameters:
        - in: path
          name: appId
          required: true
          schema:
            $ref: '#/components/schemas/AppId'
        - in: query
          name: region
          required: false
          schema:
            $ref: '#/components/schemas/Region'
        - in: query
          name: local
          required: false
          schema:
            default: false
            type: boolean
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoomId'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '402':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '422':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      deprecated: true
  /lobby/v1/{appId}/create/public:
    post:
      tags:
        - LobbyV1
      operationId: LobbyV1_createPublicLobby
      security:
        - playerAuth: []
      parameters:
        - in: path
          name: appId
          required: true
          schema:
            $ref: '#/components/schemas/AppId'
        - in: query
          name: region
          required: false
          schema:
            $ref: '#/components/schemas/Region'
        - in: query
          name: local
          required: false
          schema:
            default: false
            type: boolean
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoomId'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '402':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '422':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      deprecated: true
  /lobby/v1/{appId}/list:
    get:
      tags:
        - LobbyV1
      operationId: LobbyV1_listLobbiesByAppId
      security: []
      parameters:
        - in: path
          name: appId
          required: true
          schema:
            $ref: '#/components/schemas/AppId'
        - in: query
          name: local
          required: false
          schema:
            default: false
            type: boolean
        - in: query
          name: region
          required: false
          schema:
            $ref: '#/components/schemas/Region'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LobbyV1ListLobbiesByAppIdResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      deprecated: true
  /lobby/v2/{appId}/create/private:
    post:
      tags:
        - LobbyV2
      operationId: LobbyV2_createPrivateLobby
      security:
        - playerAuth: []
      parameters:
        - in: path
          name: appId
          required: true
          schema:
            $ref: '#/components/schemas/AppId'
        - in: query
          name: roomId
          required: false
          schema:
            $ref: '#/components/schemas/RoomId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LobbyV2CreatePrivateLobbyRequest'
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Lobby'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '402':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '422':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      deprecated: true
  /lobby/v2/{appId}/create/public:
    post:
      tags:
        - LobbyV2
      operationId: LobbyV2_createPublicLobby
      security:
        - playerAuth: []
      parameters:
        - in: path
          name: appId
          required: true
          schema:
            $ref: '#/components/schemas/AppId'
        - in: query
          name: roomId
          required: false
          schema:
            $ref: '#/components/schemas/RoomId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LobbyV2CreatePublicLobbyRequest'
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Lobby'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '402':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '422':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      deprecated: true
  /lobby/v2/{appId}/create/local:
    post:
      tags:
        - LobbyV2
      operationId: LobbyV2_createLocalLobby
      security:
        - playerAuth: []
      parameters:
        - in: path
          name: appId
          required: true
          schema:
            $ref: '#/components/schemas/AppId'
        - in: query
          name: roomId
          required: false
          schema:
            $ref: '#/components/schemas/RoomId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LobbyV2CreateLocalLobbyRequest'
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Lobby'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '402':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '422':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      deprecated: true
  /lobby/v2/{appId}/create:
    post:
      tags:
        - LobbyV2
      operationId: LobbyV2_createLobby
      security:
        - playerAuth: []
      description: >-
        Create a new lobby for an
        [application](https://hathora.dev/docs/concepts/hathora-entities#application).
        A lobby object is a wrapper around a
        [room](https://hathora.dev/docs/concepts/hathora-entities#room) object.
        With a lobby, you get additional functionality like configuring the
        visibility of the room, managing the state of a match, and retrieving a
        list of public lobbies to display to players.
      parameters:
        - in: path
          name: appId
          required: true
          schema:
            $ref: '#/components/schemas/AppId'
        - in: query
          name: roomId
          required: false
          schema:
            $ref: '#/components/schemas/RoomId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLobbyParams'
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Lobby'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '402':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '422':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      deprecated: true
  /lobby/v2/{appId}/list/public:
    get:
      tags:
        - LobbyV2
      operationId: LobbyV2_listPublicLobbies
      security: []
      description: >-
        Get all active lobbies for a an
        [application](https://hathora.dev/docs/concepts/hathora-entities#application).
        Filter by optionally passing in a `region`. Use this endpoint to display
        all public lobbies that a player can join in the game client.
      parameters:
        - in: path
          name: appId
          required: true
          schema:
            $ref: '#/components/schemas/AppId'
        - description: >-
            Region to filter by. If omitted, active public lobbies in all
            regions will be returned.
          in: query
          name: region
          required: false
          schema:
            $ref: '#/components/schemas/Region'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LobbyV2ListPublicLobbiesResponse'
      deprecated: true
  /lobby/v2/{appId}/info/{roomId}:
    get:
      tags:
        - LobbyV2
      operationId: LobbyV2_getLobbyDetails
      security: []
      description: Get details for a lobby.
      parameters:
        - in: path
          name: appId
          required: true
          schema:
            $ref: '#/components/schemas/AppId'
        - in: path
          name: roomId
          required: true
          schema:
            $ref: '#/components/schemas/RoomId'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Lobby'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      deprecated: true
  /lobby/v2/{appId}/setState/{roomId}:
    post:
      tags:
        - LobbyV2
      operationId: LobbyV2_setLobbyState
      security:
        - hathoraDevToken: []
      description: >-
        Set the state of a lobby. State is intended to be set by the server and
        must be smaller than 1MB. Use this endpoint to store match data like
        live player count to enforce max number of clients or persist end-game
        data (i.e. winner or final scores).
      parameters:
        - in: path
          name: appId
          required: true
          schema:
            $ref: '#/components/schemas/AppId'
        - in: path
          name: roomId
          required: true
          schema:
            $ref: '#/components/schemas/RoomId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetLobbyStateParams'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Lobby'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '422':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      deprecated: true
  /lobby/v3/{appId}/create:
    post:
      tags:
        - LobbyV3
      operationId: LobbyV3_createNewLobby
      security:
        - playerAuth: []
      description: >-
        Create a new lobby for an
        [application](https://hathora.dev/docs/concepts/hathora-entities#application).
        A lobby object is a wrapper around a
        [room](https://hathora.dev/docs/concepts/hathora-entities#room) object.
        With a lobby, you get additional functionality like configuring the
        visibility of the room, managing the state of a match, and retrieving a
        list of public lobbies to display to players.
      parameters:
        - in: path
          name: appId
          required: true
          schema:
            $ref: '#/components/schemas/AppId'
        - in: query
          name: shortCode
          required: false
          schema:
            $ref: '#/components/schemas/ShortCode'
        - in: query
          name: roomId
          required: false
          schema:
            $ref: '#/components/schemas/RoomId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLobbyV3Params'
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LobbyV3'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '402':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '422':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /lobby/v3/{appId}/list/public:
    get:
      tags:
        - LobbyV3
      operationId: LobbyV3_listPublicLobbies
      security: []
      description: >-
        Get all active lobbies for a given
        [application](https://hathora.dev/docs/concepts/hathora-entities#application).
        Filter the array by optionally passing in a `region`. Use this endpoint
        to display all public lobbies that a player can join in the game client.
      parameters:
        - in: path
          name: appId
          required: true
          schema:
            $ref: '#/components/schemas/AppId'
        - description: If omitted, active public lobbies in all regions will be returned.
          in: query
          name: region
          required: false
          schema:
            $ref: '#/components/schemas/Region'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LobbyV3ListPublicLobbiesResponse'
  /lobby/v3/{appId}/info/roomid/{roomId}:
    get:
      tags:
        - LobbyV3
      operationId: LobbyV3_getLobbyDetails
      security: []
      description: Get details for a lobby.
      parameters:
        - in: path
          name: appId
          required: true
          schema:
            $ref: '#/components/schemas/AppId'
        - in: path
          name: roomId
          required: true
          schema:
            $ref: '#/components/schemas/RoomId'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LobbyV3'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /lobby/v3/{appId}/info/shortcode/{shortCode}:
    get:
      tags:
        - LobbyV3
      operationId: LobbyV3_getInfoByShortCode
      security: []
      description: >-
        Get details for a lobby. If 2 or more lobbies have the same `shortCode`,
        then the most recently created lobby will be returned.
      parameters:
        - in: path
          name: appId
          required: true
          schema:
            $ref: '#/components/schemas/AppId'
        - in: path
          name: shortCode
          required: true
          schema:
            $ref: '#/components/schemas/ShortCode'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LobbyV3'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /logs/v1/{appId}/all:
    get:
      tags:
        - LogV1
      operationId: LogV1_getAllLogs
      security:
        - hathoraDevToken: []
      description: >-
        Returns a stream of logs for an
        [application](https://hathora.dev/docs/concepts/hathora-entities#application)
        using `appId`.
      parameters:
        - in: path
          name: appId
          required: true
          schema:
            $ref: '#/components/schemas/AppId'
        - in: query
          name: follow
          required: false
          schema:
            $ref: '#/components/schemas/LogsFollow'
        - in: query
          name: tailLines
          required: false
          schema:
            $ref: '#/components/schemas/TailLines'
        - in: query
          name: region
          required: false
          schema:
            $ref: '#/components/schemas/Region'
      responses:
        '200':
          description: Ok
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LogV1GetAllLogsResponse'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      deprecated: true
  /logs/v1/{appId}/process/{processId}:
    get:
      tags:
        - LogV1
      operationId: LogV1_streamLogsForProcess
      security:
        - hathoraDevToken: []
      description: >-
        Returns a stream of logs for a
        [process](https://hathora.dev/docs/concepts/hathora-entities#process)
        using `appId` and `processId`.
      parameters:
        - in: path
          name: appId
          required: true
          schema:
            $ref: '#/components/schemas/AppId'
        - in: path
          name: processId
          required: true
          schema:
            $ref: '#/components/schemas/ProcessId'
        - in: query
          name: follow
          required: false
          schema:
            $ref: '#/components/schemas/LogsFollow'
        - in: query
          name: tailLines
          required: false
          schema:
            $ref: '#/components/schemas/TailLines'
      responses:
        '200':
          description: Ok
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/LogV1StreamLogsForProcessResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '410':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /logs/v1/{appId}/process/{processId}/download:
    get:
      tags:
        - LogV1
      operationId: LogV1_downloadLogForProcess
      security:
        - hathoraDevToken: []
      description: Download entire log file for a stopped process.
      parameters:
        - in: path
          name: appId
          required: true
          schema:
            $ref: '#/components/schemas/AppId'
        - in: path
          name: processId
          required: true
          schema:
            $ref: '#/components/schemas/ProcessId'
      responses:
        '200':
          description: Ok
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LogV1DownloadLogForProcessResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '410':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /logs/v1/{appId}/deployment/{deploymentId}:
    get:
      tags:
        - LogV1
      operationId: LogV1_getLogStream
      security:
        - hathoraDevToken: []
      description: >-
        Returns a stream of logs for a
        [deployment](https://hathora.dev/docs/concepts/hathora-entities#deployment)
        using `appId` and `deploymentId`.
      parameters:
        - in: path
          name: appId
          required: true
          schema:
            $ref: '#/components/schemas/AppId'
        - in: path
          name: deploymentId
          required: true
          schema:
            $ref: '#/components/schemas/DeploymentId'
        - in: query
          name: follow
          required: false
          schema:
            $ref: '#/components/schemas/LogsFollow'
        - in: query
          name: tailLines
          required: false
          schema:
            $ref: '#/components/schemas/TailLines'
      responses:
        '200':
          description: Ok
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LogV1GetLogStreamResponse'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      deprecated: true
  /management/v1/sendverificationemail:
    post:
      tags:
        - ManagementV1
      operationId: ManagementV1_sendVerificationEmail
      security: []
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerificationEmailRequest'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerificationEmailResponse'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /metrics/v1/{appId}/process/{processId}:
    get:
      tags:
        - MetricsV1
      operationId: MetricsV1_getProcessMetrics
      security:
        - hathoraDevToken: []
      description: >-
        Get metrics for a
        [process](https://hathora.dev/docs/concepts/hathora-entities#process)
        using `appId` and `processId`.
      parameters:
        - in: path
          name: appId
          required: true
          schema:
            $ref: '#/components/schemas/AppId'
        - in: path
          name: processId
          required: true
          schema:
            $ref: '#/components/schemas/ProcessId'
        - description: Available metrics to query over time.
          in: query
          name: metrics
          required: false
          schema:
            default:
              - cpu
              - memory
              - rate_egress
            type: array
            items:
              $ref: '#/components/schemas/MetricName'
        - description: Unix timestamp. Default is current time.
          in: query
          name: end
          required: false
          schema:
            format: double
            type: number
        - description: Unix timestamp. Default is -1 hour from `end`.
          in: query
          name: start
          required: false
          schema:
            format: double
            type: number
        - in: query
          name: step
          required: false
          schema:
            $ref: '#/components/schemas/MetricsStep'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Record_Partial_MetricName_.MetricValue-Array_
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '422':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /processes/v1/{appId}/list/running:
    get:
      tags:
        - ProcessesV1
      operationId: ProcessesV1_listRunningProcesses
      security:
        - hathoraDevToken: []
      description: >-
        Retrieve 10 most recently started
        [process](https://hathora.dev/docs/concepts/hathora-entities#process)
        objects for an
        [application](https://hathora.dev/docs/concepts/hathora-entities#application).
        Filter the array by optionally passing in a `region`.
      parameters:
        - in: path
          name: appId
          required: true
          schema:
            $ref: '#/components/schemas/AppId'
        - in: query
          name: region
          required: false
          schema:
            $ref: '#/components/schemas/Region'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProcessesV1ListRunningProcessesResponse'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      deprecated: true
  /processes/v1/{appId}/list/stopped:
    get:
      tags:
        - ProcessesV1
      operationId: ProcessesV1_getRecentlyStoppedProcesses
      security:
        - hathoraDevToken: []
      description: >-
        Retrieve 10 most recently stopped
        [process](https://hathora.dev/docs/concepts/hathora-entities#process)
        objects for an
        [application](https://hathora.dev/docs/concepts/hathora-entities#application).
        Filter the array by optionally passing in a `region`.
      parameters:
        - in: path
          name: appId
          required: true
          schema:
            $ref: '#/components/schemas/AppId'
        - in: query
          name: region
          required: false
          schema:
            $ref: '#/components/schemas/Region'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ProcessesV1GetRecentlyStoppedProcessesResponse
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      deprecated: true
  /processes/v1/{appId}/info/{processId}:
    get:
      tags:
        - ProcessesV1
      operationId: ProcessesV1_getProcessInfo
      security:
        - hathoraDevToken: []
      description: >-
        Get details for a
        [process](https://hathora.dev/docs/concepts/hathora-entities#process).
      parameters:
        - in: path
          name: appId
          required: true
          schema:
            $ref: '#/components/schemas/AppId'
        - in: path
          name: processId
          required: true
          schema:
            $ref: '#/components/schemas/ProcessId'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Process'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      deprecated: true
  /processes/v2/{appId}/info/{processId}:
    get:
      tags:
        - ProcessesV2
      operationId: ProcessesV2_getProcessInfo
      security:
        - hathoraDevToken: []
      description: >-
        Get details for a
        [process](https://hathora.dev/docs/concepts/hathora-entities#process).
      parameters:
        - in: path
          name: appId
          required: true
          schema:
            $ref: '#/components/schemas/AppId'
        - in: path
          name: processId
          required: true
          schema:
            $ref: '#/components/schemas/ProcessId'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProcessV2'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /processes/v2/{appId}/list/latest:
    get:
      tags:
        - ProcessesV2
      operationId: ProcessesV2_getLatestProcessesList
      security:
        - hathoraDevToken: []
      description: >-
        Retrieve the 10 most recent
        [processes](https://hathora.dev/docs/concepts/hathora-entities#process)
        objects for an
        [application](https://hathora.dev/docs/concepts/hathora-entities#application).
        Filter the array by optionally passing in a `status` or `region`.
      parameters:
        - in: path
          name: appId
          required: true
          schema:
            $ref: '#/components/schemas/AppId'
        - in: query
          name: status
          required: false
          schema:
            type: array
            items:
              $ref: '#/components/schemas/ProcessStatus'
        - in: query
          name: region
          required: false
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Region'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProcessesV2GetLatestProcessesListResponse'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /processes/v2/{appId}/stop/{processId}:
    post:
      tags:
        - ProcessesV2
      operationId: ProcessesV2_stopProcessById
      security:
        - hathoraDevToken: []
      description: >-
        Stops a
        [process](https://hathora.dev/docs/concepts/hathora-entities#process)
        immediately.
      parameters:
        - in: path
          name: appId
          required: true
          schema:
            $ref: '#/components/schemas/AppId'
        - in: path
          name: processId
          required: true
          schema:
            $ref: '#/components/schemas/ProcessId'
      responses:
        '204':
          description: No content
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /processes/v2/{appId}/create/{region}:
    post:
      tags:
        - ProcessesV2
      operationId: ProcessesV2_createProcessWithoutRoom
      security:
        - hathoraDevToken: []
      description: >-
        Creates a
        [process](https://hathora.dev/docs/concepts/hathora-entities#process)
        without a room. Use this to pre-allocate processes ahead of time so that
        subsequent room assignment via
        [CreateRoom()](https://hathora.dev/api#tag/RoomV2/operation/CreateRoom)
        can be instant.
      parameters:
        - in: path
          name: appId
          required: true
          schema:
            $ref: '#/components/schemas/AppId'
        - in: path
          name: region
          required: true
          schema:
            $ref: '#/components/schemas/Region'
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProcessV2'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '402':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /rooms/v1/{appId}/create:
    post:
      tags:
        - RoomV1
      operationId: RoomV1_createRoom
      security:
        - hathoraDevToken: []
      parameters:
        - in: path
          name: appId
          required: true
          schema:
            $ref: '#/components/schemas/AppId'
        - in: query
          name: roomId
          required: false
          schema:
            $ref: '#/components/schemas/RoomId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRoomParams'
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoomId'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '402':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      deprecated: true
  /rooms/v1/{appId}/info/{roomId}:
    get:
      tags:
        - RoomV1
      operationId: RoomV1_getRoomInfo
      security:
        - hathoraDevToken: []
      parameters:
        - in: path
          name: appId
          required: true
          schema:
            $ref: '#/components/schemas/AppId'
        - in: path
          name: roomId
          required: true
          schema:
            $ref: '#/components/schemas/RoomId'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Room'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      deprecated: true
  /rooms/v1/{appId}/list/{processId}/active:
    get:
      tags:
        - RoomV1
      operationId: RoomV1_getActiveRooms
      security:
        - hathoraDevToken: []
      parameters:
        - in: path
          name: appId
          required: true
          schema:
            $ref: '#/components/schemas/AppId'
        - in: path
          name: processId
          required: true
          schema:
            $ref: '#/components/schemas/ProcessId'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoomV1GetActiveRoomsResponse'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      deprecated: true
  /rooms/v1/{appId}/list/{processId}/inactive:
    get:
      tags:
        - RoomV1
      operationId: RoomV1_getInactiveRooms
      security:
        - hathoraDevToken: []
      parameters:
        - in: path
          name: appId
          required: true
          schema:
            $ref: '#/components/schemas/AppId'
        - in: path
          name: processId
          required: true
          schema:
            $ref: '#/components/schemas/ProcessId'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoomV1GetInactiveRoomsResponse'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      deprecated: true
  /rooms/v1/{appId}/destroy/{roomId}:
    post:
      tags:
        - RoomV1
      operationId: RoomV1_destroyRoom
      security:
        - hathoraDevToken: []
      parameters:
        - in: path
          name: appId
          required: true
          schema:
            $ref: '#/components/schemas/AppId'
        - in: path
          name: roomId
          required: true
          schema:
            $ref: '#/components/schemas/RoomId'
      responses:
        '204':
          description: No content
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      deprecated: true
  /rooms/v1/{appId}/suspend/{roomId}:
    post:
      tags:
        - RoomV1
      operationId: RoomV1_suspendRoom
      security:
        - hathoraDevToken: []
      parameters:
        - in: path
          name: appId
          required: true
          schema:
            $ref: '#/components/schemas/AppId'
        - in: path
          name: roomId
          required: true
          schema:
            $ref: '#/components/schemas/RoomId'
      responses:
        '204':
          description: No content
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      deprecated: true
  /rooms/v1/{appId}/connectioninfo/{roomId}:
    get:
      tags:
        - RoomV1
      operationId: RoomV1_getConnectionInfo
      security: []
      parameters:
        - in: path
          name: appId
          required: true
          schema:
            $ref: '#/components/schemas/AppId'
        - in: path
          name: roomId
          required: true
          schema:
            $ref: '#/components/schemas/RoomId'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionInfo'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '402':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      deprecated: true
  /rooms/v2/{appId}/create:
    post:
      tags:
        - RoomV2
      operationId: RoomV2_createRoom
      security:
        - hathoraDevToken: []
      description: >-
        Create a new
        [room](https://hathora.dev/docs/concepts/hathora-entities#room) for an
        existing
        [application](https://hathora.dev/docs/concepts/hathora-entities#application).
        Poll the
        [`GetConnectionInfo()`](https://hathora.dev/api#tag/RoomV2/operation/GetConnectionInfo)
        endpoint to get connection details for an active room.
      parameters:
        - in: path
          name: appId
          required: true
          schema:
            $ref: '#/components/schemas/AppId'
        - in: query
          name: roomId
          required: false
          schema:
            $ref: '#/components/schemas/RoomId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRoomParams'
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateRoomResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '402':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /rooms/v2/{appId}/info/{roomId}:
    get:
      tags:
        - RoomV2
      operationId: RoomV2_getAllocationData
      security:
        - hathoraDevToken: []
      description: >-
        Retreive current and historical allocation data for a
        [room](https://hathora.dev/docs/concepts/hathora-entities#room).
      parameters:
        - in: path
          name: appId
          required: true
          schema:
            $ref: '#/components/schemas/AppId'
        - in: path
          name: roomId
          required: true
          schema:
            $ref: '#/components/schemas/RoomId'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Room'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /rooms/v2/{appId}/list/{processId}/active:
    get:
      tags:
        - RoomV2
      operationId: RoomV2_listActiveRooms
      security:
        - hathoraDevToken: []
      description: >-
        Get all active
        [rooms](https://hathora.dev/docs/concepts/hathora-entities#room) for a
        given
        [process](https://hathora.dev/docs/concepts/hathora-entities#process).
      parameters:
        - in: path
          name: appId
          required: true
          schema:
            $ref: '#/components/schemas/AppId'
        - in: path
          name: processId
          required: true
          schema:
            $ref: '#/components/schemas/ProcessId'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoomV2ListActiveRoomsResponse'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /rooms/v2/{appId}/list/{processId}/inactive:
    get:
      tags:
        - RoomV2
      operationId: RoomV2_listInactiveRooms
      security:
        - hathoraDevToken: []
      description: >-
        Get all inactive
        [rooms](https://hathora.dev/docs/concepts/hathora-entities#room) for a
        given
        [process](https://hathora.dev/docs/concepts/hathora-entities#process).
      parameters:
        - in: path
          name: appId
          required: true
          schema:
            $ref: '#/components/schemas/AppId'
        - in: path
          name: processId
          required: true
          schema:
            $ref: '#/components/schemas/ProcessId'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoomV2ListInactiveRoomsResponse'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /rooms/v2/{appId}/destroy/{roomId}:
    post:
      tags:
        - RoomV2
      operationId: RoomV2_destroyRoomAllocation
      security:
        - hathoraDevToken: []
      description: >-
        Destroy a
        [room](https://hathora.dev/docs/concepts/hathora-entities#room). All
        associated metadata is deleted.
      parameters:
        - in: path
          name: appId
          required: true
          schema:
            $ref: '#/components/schemas/AppId'
        - in: path
          name: roomId
          required: true
          schema:
            $ref: '#/components/schemas/RoomId'
      responses:
        '204':
          description: No content
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /rooms/v2/{appId}/suspend/{roomId}:
    post:
      tags:
        - RoomV2
      operationId: RoomV2_suspendRoomAllocation
      security:
        - hathoraDevToken: []
      description: >-
        Suspend a
        [room](https://hathora.dev/docs/concepts/hathora-entities#room). The
        room is unallocated from the process but can be rescheduled later using
        the same `roomId`.
      parameters:
        - in: path
          name: appId
          required: true
          schema:
            $ref: '#/components/schemas/AppId'
        - in: path
          name: roomId
          required: true
          schema:
            $ref: '#/components/schemas/RoomId'
      responses:
        '204':
          description: No content
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /rooms/v2/{appId}/connectioninfo/{roomId}:
    get:
      tags:
        - RoomV2
      operationId: RoomV2_getConnectionInfo
      security: []
      description: >-
        Poll this endpoint to get connection details to a
        [room](https://hathora.dev/docs/concepts/hathora-entities#room). Clients
        can call this endpoint without authentication.
      parameters:
        - in: path
          name: appId
          required: true
          schema:
            $ref: '#/components/schemas/AppId'
        - in: path
          name: roomId
          required: true
          schema:
            $ref: '#/components/schemas/RoomId'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionInfoV2'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '402':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /rooms/v2/{appId}/update/{roomId}:
    post:
      tags:
        - RoomV2
      operationId: RoomV2_updateRoomAllocation
      security:
        - hathoraDevToken: []
      parameters:
        - in: path
          name: appId
          required: true
          schema:
            $ref: '#/components/schemas/AppId'
        - in: path
          name: roomId
          required: true
          schema:
            $ref: '#/components/schemas/RoomId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateRoomConfigParams'
      responses:
        '204':
          description: No content
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /tokens/v1/orgs/{orgId}:
    get:
      tags:
        - OrgTokensV1
      operationId: OrgTokensV1_listOrgTokens
      security:
        - hathoraDevToken: []
      description: List all organization tokens for a given org.
      parameters:
        - in: path
          name: orgId
          required: true
          schema:
            $ref: '#/components/schemas/OrgId'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOrgTokens'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /tokens/v1/orgs/{orgId}/create:
    post:
      tags:
        - OrgTokensV1
      operationId: OrgTokensV1_createNewOrgToken
      security:
        - hathoraDevToken: []
      description: Create a new organization token.
      parameters:
        - in: path
          name: orgId
          required: true
          schema:
            $ref: '#/components/schemas/OrgId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrgToken'
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatedOrgToken'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '422':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /tokens/v1/orgs/{orgId}/tokens/{orgTokenId}/revoke:
    post:
      tags:
        - OrgTokensV1
      operationId: OrgTokensV1_revokeOrgToken
      security:
        - hathoraDevToken: []
      description: Revoke an organization token.
      parameters:
        - in: path
          name: orgId
          required: true
          schema:
            $ref: '#/components/schemas/OrgId'
        - in: path
          name: orgTokenId
          required: true
          schema:
            $ref: '#/components/schemas/OrgId'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrgTokensV1RevokeOrgTokenResponse'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
components:
  parameters: {}
  responses: {}
  examples: {}
  headers: {}
  requestBodies: {}
  schemas:
    AppName:
      description: Readable name for an application. Must be unique within an organization.
      type: string
      example: minecraft
      maxLength: 64
      pattern: ^[a-z0-9-]+$
    AppId:
      description: System generated unique identifier for an application.
      type: string
      example: app-af469a92-5b45-4565-b3c4-b79878de67d2
    Record_string.never_:
      description: Construct a type with a set of properties K of type T
      properties: {}
      type: object
    AuthConfiguration:
      description: >-
        Configure [player
        authentication](https://hathora.dev/docs/lobbies-and-matchmaking/auth-service)
        for your application. Use Hathora's built-in auth providers or use your
        own [custom
        authentication](https://hathora.dev/docs/lobbies-and-matchmaking/auth-service#custom-auth-provider).
      properties:
        google:
          description: Enable google auth for your application.
          properties:
            clientId:
              description: >-
                A Google generated token representing the developer's
                credentials for [Google's API
                Console](https://console.cloud.google.com/apis/dashboard?pli=1&project=discourse-login-388921).
                Learn how to get a `clientId`
                [here](https://developers.google.com/identity/gsi/web/guides/get-google-api-clientid).
              type: string
          required:
            - clientId
          type: object
        nickname:
          description: Enable nickname auth for your application.
          $ref: '#/components/schemas/Record_string.never_'
        anonymous:
          description: Enable anonymous auth for your application.
          $ref: '#/components/schemas/Record_string.never_'
      type: object
    OrgId:
      description: >-
        System generated unique identifier for an organization. Not guaranteed
        to have a specific format.
      type: string
      example: org-6f706e83-0ec1-437a-9a46-7d4281eb2f39
    Application:
      description: An application object is the top level namespace for the game server.
      properties:
        deletedBy:
          description: UserId or email address for the user that deleted the application.
          type: string
          nullable: true
          example: google-oauth2|107030234048588177467
        deletedAt:
          description: When the application was deleted.
          type: string
          format: date-time
          nullable: true
        createdAt:
          description: When the application was created.
          type: string
          format: date-time
        createdBy:
          description: UserId or email address for the user that created the application.
          type: string
          example: google-oauth2|107030234048588177467
        orgId:
          $ref: '#/components/schemas/OrgId'
        authConfiguration:
          description: >-
            Used to authenticate player requests. Use your own authentication or
            Hathora's Auth Client.
          $ref: '#/components/schemas/AuthConfiguration'
        appSecret:
          description: Secret that is used for identity and access management.
          type: string
          example: secret-6f706e83-0ec1-437a-9a46-7d4281eb2f39
        appId:
          $ref: '#/components/schemas/AppId'
        appName:
          $ref: '#/components/schemas/AppName'
      required:
        - deletedBy
        - deletedAt
        - createdAt
        - createdBy
        - orgId
        - authConfiguration
        - appSecret
        - appId
        - appName
      type: object
    BuildId:
      description: System generated id for a build. Increments by 1.
      type: integer
      format: int32
      example: 1
    DeploymentId:
      description: System generated id for a deployment. Increments by 1.
      type: integer
      format: int32
      example: 1
    TransportType:
      description: >-
        Transport type specifies the underlying communication protocol to the
        exposed port.
      type: string
      enum:
        - tcp
        - udp
        - tls
    ContainerPort:
      description: >-
        A container port object represents the transport configruations for how
        your server will listen.
      properties:
        transportType:
          $ref: '#/components/schemas/TransportType'
        port:
          type: integer
          format: int32
          example: 8000
          minimum: 1
          maximum: 65535
        name:
          description: Readable name for the port.
          type: string
          example: default
          minLength: 1
          maxLength: 100
[...]
