openapi: 3.0.3
info:
  title: Hive REST API
  description: >-
    We help teams move faster. Hive's best-in-class project management platform
    includes all of the tools you need and want - and if not, we will build them
    for you. With flexible project views and endless customizations, Hive offers
    project management on your terms, success guaranteed.


    Hive is used by thousands of fast-moving teams to help with:

    - Project management

    - Integrating tools

    - Resourcing

    - Time-Tracking

    - Proofing and approvals

    - Note Taking

    - Task management

    - Reporting and analytics


    Want to see what it's all about? Start using Hive for free:
    app.hive.com/join
  version: '1.0'
  x-konfig-ignore:
    object-with-no-properties: true
    potential-incorrect-type: true
servers:
  - url: https://app.hive.com/api/v1
tags:
  - name: Workspace
  - name: User
  - name: Project
  - name: Action
  - name: Team
  - name: ResourceAssignment
  - name: Webhook
  - name: Message
paths:
  /workspaces:
    get:
      tags:
        - Workspace
      summary: Get workspaces
      operationId: Workspace_listAllWorkspaces
      description: Get all workspaces that you're is a member of.
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "[\n  {\n  \t\"id\": \"1a2b3c4d5e6f7g8h9\",\n\t  \"name\": \"Honey Enterprises\",\n\t  \"members\": [\n\t    '1234abc',\n\t    '5678zyc'\n\t  ],\n\t  \"createdAt\": \"2017-05-18T15:26:17.407Z\",\n\t  \"modifiedAt\": \"2017-05-19T02:25:06.190Z\",\n\t  \"createdBy\": \"1234abcuJzo4k7F9\",\n\t  \"modifiedBy\": \"1234abcuJzo4k7F9\"\n\t}\n]\n\n"
              schema:
                $ref: '#/components/schemas/WorkspaceListAllWorkspacesResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/WorkspaceListAllWorkspaces400Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: curl
            code: >-
              curl -X GET -H "api_key: API_KEY"
              https://app.hive.com/api/v1/workspaces?user_id=USER_ID
        samples-languages:
          - curl
  /workspaces/{workspaceId}/groups:
    get:
      tags:
        - Workspace
      summary: Get groups
      operationId: Workspace_getChatGroups
      description: Get all chat groups for a given workspace
      parameters:
        - description: ID of the workspace
          name: workspaceId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    [
                        {
                          "id": "8MRZ6oYzRMJ4eJYnR",
                          "name": "Everyone",
                          "members": [
                            '1234abcuJzo4k7F9',
                            '6789abcuJzo4k7F9'
                           ],
                          "workspace": "12345aZjDQZndHqs",
                          "createdAt": "2017-05-18T15:26:17.407Z",
                          "createdBy": "1234abcuJzo4k7F9",
                          "modifiedBy": "1234abcuJzo4k7F9"
                        },
                        {
                          "id": "8S8pMXXJwCeExYWzq",
                          "name": "Bee Hive Gossip",
                          "members": [
                            '1234abcuJzo4k7F9',
                            '6789abcuJzo4k7F9'
                           ],
                          "workspace": "12345aZjDQZndHqs",
                          "createdAt": "2017-05-18T15:26:17.407Z",
                          "createdBy": "1234abcuJzo4k7F9",
                          "modifiedBy": "1234abcuJzo4k7F9"    
                        },
                        {
                          "id": "8yxNHYsvqYCDFP19J",
                          "name": "Maria von Trapp",
                          "members": [
                            '1234abcuJzo4k7F9',
                            '6789abcuJzo4k7F9'
                           ],
                          "workspace": "12345aZjDQZndHqs",
                          "createdAt": "2017-05-18T15:26:17.407Z",
                          "createdBy": "1234abcuJzo4k7F9",
                          "modifiedBy": "1234abcuJzo4k7F9"    
                        }
                      ]
                      
              schema:
                $ref: '#/components/schemas/WorkspaceGetChatGroupsResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/WorkspaceGetChatGroups400Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: javascript
            code: |-
              var userId = "USER_ID";
              var workspaceId = "WORKSPACE_ID";
              var apiKey = "API_KEY"
              var baseUrl = "https://app.hive.com/api/v1/";
              var endpoint = "workspaces/" + workspaceId + "/groups";
              var qs = "?user_id=" + userId + "&api_key=" + apiKey;
              var url = baseUrl + endpoint + qs;

              $.ajax({
                url: url,
              }).done(function(data) {
                console.log(data);
              });
        samples-languages:
          - javascript
  /workspaces/{workspaceId}/activity-feeds:
    post:
      summary: Create activity feed
      operationId: workspacesworkspaceidactivity_feeds
      description: >-
        Create an Activity Feed in the specified workspace for a Project or
        Action
      parameters:
        - description: ID of the workspace
          name: workspaceId
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspacesworkspaceidactivityFeedsRequest'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "id": "abcde123456",
                        "workspace": "abcde123456",
                        "bucket": "activityFeed",
                        "assignedTo": "abcde123456",
                        "attachedItemType": "action",
                        "attachedItemId": "abcde123456",
                        "title": "Comment!",
                        "body": "Comment body",
                        "createdAt": "1900-01-01T00:00:00.000Z",
                        "modifiedAt": "1900-01-01T00:00:00.000Z",
                        "createdBy": "server",
                        "modifiedBy": "server"
                    }
              schema:
                $ref: >-
                  #/components/schemas/WorkspacesworkspaceidactivityFeedsResponse
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: >-
                  #/components/schemas/WorkspacesworkspaceidactivityFeeds400Response
      deprecated: false
      x-readme:
        code-samples:
          - language: javascript
            code: |-
              var userId = "USER_ID";
              var workspaceId = "WORKSPACE_ID";
              var projectId = "PROJECT_ID";
              var apiKey = "API_KEY";
              var baseUrl = "https://app.hive.com/api/v1/";
              var endpoint = "workspaces/" + workspaceId + "/activity-feeds";
              var qs = "?user_id=" + userId + "&api_key=" + apiKey;
              var url = baseUrl + endpoint + qs;

              var data = {
                type: "comment",
                bucket: "activityFeed",
                assignedTo: userId,
                attachedItemType: "project",
                attachedItemId: projectId,
                title: "Comment title",
                body: "Comment body"
              };

              $.ajax({
                method: "POST",
                url: url,
                data: JSON.stringify(data),
                contentType: "application/json"
              }).done(function(data) {
                console.log(data);
              });
        samples-languages:
          - javascript
  /users/{userId}:
    get:
      tags:
        - User
      summary: Get user
      operationId: User_getUserById
      description: Get a user by id
      parameters:
        - description: User ID
          name: userId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |
                    {
                      "id": "232b3c4d5e6f7g8h1",
                      "profile": {
                        "firstName": "Jane",
                        "lastName": "Doe"
                      },
                      "fullName": "Jane Doe",
                      "email": "john.doe@hive.com"
                    }
              schema:
                $ref: '#/components/schemas/UserGetUserByIdResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/UserGetUserById400Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: javascript
            code: |
              var userId = "USER_ID";
              var apiKey = "API_KEY";
              var baseUrl = "https://app.hive.com/api/v1/";
              var endpoint = "users/" + userId;
              var qs = "?user_id=" + userId + "&api_key=" + apiKey;
              var url = baseUrl + endpoint + qs;

              $.ajax({
                url: url,
              }).done(function(data) {
                console.log(data);
              });
        samples-languages:
          - javascript
    put:
      tags:
        - User
      summary: Update user
      operationId: User_updateUser
      description: Update a user
      parameters:
        - description: User ID
          name: userId
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserUpdateUserRequest'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |
                    {
                      "id": "232b3c4d5e6f7g8h1",
                      "profile": {
                        "firstName": "Jane",
                        "lastName": "Doe"
                      },
                      "fullName": "Jane Doe",
                      "email": "john.doe@hive.com"
                    }
              schema:
                $ref: '#/components/schemas/UserUpdateUserResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/UserUpdateUser400Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: javascript
            code: |-
              var userId = "USER_ID";
              var apiKey = "API_KEY";
              var baseUrl = "https://app.hive.com/api/v1/";
              var endpoint = "users/" + userId;
              var qs = "?user_id=" + userId + "&api_key=" + apiKey;
              var url = baseUrl + endpoint + qs;

              // New data for user record
              var data = {
                profile: {
                  firstName: "Jane"
                }
              };

              $.ajax({
                method: "PUT",
                url: url,
                data: JSON.stringify(data),
                contentType: "application/json"
              }).done(function(data) {
                console.log(data);
              });
        samples-languages:
          - javascript
  /users:
    get:
      tags:
        - User
      summary: Get users
      operationId: User_listByEmail
      description: Get a list of users, filter by "email"
      parameters:
        - description: Email address to search by
          name: email
          in: query
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |
                    [
                      {
                        "id": "232b3c4d5e6f7g8h1",
                        "profile": {
                          "firstName": "Test",
                          "lastName": "User"
                        },
                        "fullName": "Test User",
                        "email": "test@example.com"
                      }
                    ]
              schema:
                $ref: '#/components/schemas/UserListByEmailResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/UserListByEmail400Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: javascript
            code: >
              var userId = "USER_ID";

              var filterEmail = "test@example.com";

              var apiKey = "API_KEY";

              var baseUrl = "https://app.hive.com/api/v1/";

              var endpoint = "users";

              var qs = "?user_id=" + userId + "&api_key=" + apiKey + "&email=" +
              filterEmail;

              var url = baseUrl + endpoint + qs;


              $.ajax({
                url: url,
              }).done(function(data) {
                console.log(data);
              });
        samples-languages:
          - javascript
  /workspaces/{workspaceId}/users:
    get:
      tags:
        - User
      summary: Get workspace users
      operationId: User_getWorkspaceUsers
      description: Get all users for a given workspace that the user has access to
      parameters:
        - description: ID of the workspace
          name: workspaceId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |
                    [
                      {
                        "id": "22YK3N5uGpzMdw7fm",
                        "profile": {
                          "firstName": "Vera",
                          "lastName": "Morrisville"
                        },
                        "fullName": "Vera Morrisville",
                        "email": "john.doe@hive.com",
                      },
                      {
                        "id": "5oSp4usru9FTsFCuH",
                        "profile": {
                          "firstName": "Scott",
                          "lastName": "Brown"
                        },
                        "fullName": "Scott Brown",
                        "email": "john.doe@hive.com",
                      },
                    ]
              schema:
                $ref: '#/components/schemas/UserGetWorkspaceUsersResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/UserGetWorkspaceUsers400Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: javascript
            code: |
              var userId = "USER_ID";
              var workspaceId = "WORKSPACE_ID";
              var apiKey = "API_KEY";
              var baseUrl = "https://app.hive.com/api/v1/";
              var endpoint = "workspaces/" + workspaceId + "/users";
              var qs = "?user_id=" + userId + "&api_key=" + apiKey;
              var url = baseUrl + endpoint + qs;

              $.ajax({
                url: url,
              }).done(function(data) {
                console.log(data);
              });
        samples-languages:
          - javascript
    post:
      tags:
        - User
      summary: Invite user
      operationId: User_inviteNewUser
      description: Invite a new user to your workspace
      parameters:
        - description: Workspace ID
          name: workspaceId
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserInviteNewUserRequest'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"id\": \"232b3c4d5e6f7g8h1\",\n  \"profile\": {\n    \"firstName\": \"Test\",\n    \"lastName\": \"User\"\n  },\n\t\"fullName\": \"Test User\",\n  \"email\": \"test@example.com\"\n}\n"
              schema:
                $ref: '#/components/schemas/UserInviteNewUserResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/UserInviteNewUser400Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: javascript
            code: |-
              var userId = "USER_ID";
              var workspaceId = "WORKSPACE_ID";
              var apiKey = "API_KEY";
              var baseUrl = "https://app.hive.com/api/v1/";
              var endpoint = "workspaces/" + workspaceId + "/users";
              var qs = "?user_id=" + userId + "&api_key=" + apiKey;
              var url = baseUrl + endpoint + qs;

              var data = {
                email: "test@example.com",
                fullName: "Test User"
              };

              $.ajax({
                method: "POST",
                url: url,
                data: JSON.stringify(data),
                contentType: "application/json"
              }).done(function(data) {
                console.log(data);
              });
        samples-languages:
          - javascript
    delete:
      tags:
        - User
      summary: Remove user from workspace
      operationId: User_removeFromWorkspace
      description: Remove a user from a given workspace
      parameters:
        - description: Workspace ID
          name: workspaceId
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserRemoveFromWorkspaceRequest'
      responses:
        '204':
          description: '204'
          content:
            application/json:
              examples:
                Result:
                  value: |
                    {}
              schema:
                $ref: '#/components/schemas/UserRemoveFromWorkspaceResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/UserRemoveFromWorkspace400Response'
      deprecated: false
  /workspaces/{workspaceId}/external-users:
    get:
      tags:
        - User
      summary: Get workspace external users
      operationId: User_listExternalUsers
      description: Get all external users for a given workspace that the user has access to
      parameters:
        - description: ID of the workspace
          name: workspaceId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |
                    [
                      {
                        "id": "22YK3N5uGpzMdw7fm",
                        "profile": {
                          "firstName": "External",
                          "lastName": "User"
                        },
                        "fullName": "External User",
                        "email": "john.doe@hive.com",
                        "managers": []
                      },
                    ]
              schema:
                $ref: '#/components/schemas/UserListExternalUsersResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "[\n  {\n    \"error\": 400,\n    \"message\": \"Workspace not found.\"\n\t},\n\t{\n    \"error\": 400,\n    \"message\": \"Invalid API Key.\"\n\t}\n]"
              schema:
                $ref: '#/components/schemas/UserListExternalUsers400Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: javascript
            code: |
              var userId = "USER_ID";
              var workspaceId = "WORKSPACE_ID";
              var apiKey = "API_KEY";
              var baseUrl = "https://app.hive.com/api/v1/";
              var endpoint = "workspaces/" + workspaceId + "/external-users";
              var qs = "?user_id=" + userId + "&api_key=" + apiKey;
              var url = baseUrl + endpoint + qs;

              $.ajax({
                url: url,
              }).done(function(data) {
                console.log(data);
              });
        samples-languages:
          - javascript
  /actions/{actionId}:
    get:
      tags:
        - Action
      summary: Get action
      operationId: Action_getDetails
      description: ''
      parameters:
        - description: The id of the action
          name: actionId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"id\": \"232b3c4d5e6f7g8h1\",\n  \"title\": \"Action title\",\n  \"workspace\": \"w32bac4d5e6f7g8h2\",\n  \"assignees\": [],\n  \"projectId\": null,\n  \"customFields\": [],\n  \"createdAt\": \"2019-01-01T00:00:00.000Z\",\n  \"modifiedAt\": \"2019-01-01T00:00:00.000Z\",\n  \"createdBy\": \"u32bac4d5e6f7g8h2\",\n  \"modifiedBy\": \"u32bac4d5e6f7g8h2\",\n  \"status\": \"Unstarted\",\n  \"deadline\": null,\n  \"scheduledDate\": null,\n  \"checkedDate\": null,\n  \"parent\": null,\n  \"root\": null,\n  \"archived\":false,\n  \"deleted\":false,\n  \"hasSubactions\": false,\n  \"estimate\": null,\n  \"estimates\":[\n    {\"userId\":user12345,\"time\":7200}\n  ]\n  \"milestone\": false,\n  \"loggedTime\": [\n    {\n      \"userId\":\"user12345\",\n      \"time\": 7200,\n      \"date\":\"2019-01-01T00:00:00.000Z\"\n    }\n  ],\n  \"phaseId\":\"123ab456\",\n  \"phaseName\":\"planning\",\n  \"priority\": {\n  \t  \"name\":\"Urgent\",\n      \"level\": 1,\n      \"color\": \"#f6781a\",\n      \"_id\": \"abc321\"\n  }\n}"
              schema:
                $ref: '#/components/schemas/ActionGetDetailsResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/ActionGetDetails400Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: javascript
            code: |
              var userId = "USER_ID";
              var actionId = "ACTION_ID";
              var apiKey = "API_KEY";
              var baseUrl = "https://app.hive.com/api/v1/";
              var endpoint = "/actions/" + actionId;
              var qs = "?user_id=" + userId + "&api_key=" + apiKey;
              var url = baseUrl + endpoint + qs;

              $.ajax({
                url: url,
              }).done(function(data) {
                console.log(data);
              });
        samples-languages:
          - javascript
    put:
      tags:
        - Action
      summary: Update action
      operationId: Action_updateActionById
      description: Update the action
      parameters:
        - description: The id of the action
          name: actionId
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActionUpdateActionByIdRequest'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |
                    {
                      "id": "1a2b3c4d5e6f7g8h9",
                      "title": "Action title",
                      "workspace": "fd8s97f9sd87f89s",
                      "assignees": [],
                      "projectId": null,
                      "customFields": [
                        {
                          "_id": "1a2b3c4d5e6f7g8gn",
                          "label": "customActionField",
                          "type": "text",
                          "rank": 2.3843301617611736,
                          "dropdownValues": [],
                          "allowMultiSelect": false,
                          "id": "XkvuQsZ6vrLoba8gN",
                          "value": "customFieldValue",
                          "dateValue": null
                        }
                      ],
                      "createdAt": "2018-07-27T17:10:49.687Z",
                      "modifiedAt": "2018-07-30T18:12:10.411Z",
                      "createdBy": "fds879a7fd8s9a",
                      "modifiedBy": "fds879a7fd8s9a",
                      "status": "In Progress",
                      "deadline": null,
                      "scheduledDate": null,
                      "checkedDate": null,
                      "parent": null,
                      "root": null,
                      "hasSubactions": false,
                      "estimate": null,
                      "loggedTime": [
                        {
                          "userId":"user12345",
                          "time": 7200,
                          "date":"2019-01-01T00:00:00.000Z"
                        }
                      ],
                      "archived": false
                    }
              schema:
                $ref: '#/components/schemas/ActionUpdateActionByIdResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/ActionUpdateActionById400Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: javascript
            code: |-
              var userId = "USER_ID";
              var actionId = "ACTION_ID";
              var apiKey = "API_KEY";
              var baseUrl = "https://app.hive.com/api/v1/";
              var endpoint = "actions/" + actionId;
              var qs = "?user_id=" + userId + "&api_key=" + apiKey;
              var url = baseUrl + endpoint + qs;

              var data = {
                status: "In Progress",
                customFields: [{ label: "customActionField", value: "customFieldValue" }]
              };

              $.ajax({
                method: "PUT",
                url: url,
                data: JSON.stringify(data),
                contentType: "application/json"
              }).done(function(data) {
                console.log(data);
              });
        samples-languages:
          - javascript
    delete:
      tags:
        - Action
      summary: Delete action
      operationId: Action_removeById
      description: Delete the action by ID
      parameters:
        - description: The id of the action
          name: actionId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |+
                    {
                        "message": "Action successfully deleted"
                    }

              schema:
                $ref: '#/components/schemas/ActionRemoveByIdResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/ActionRemoveById400Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: javascript
            code: |-
              var userId = "USER_ID";
              var actionId = "ACTION_ID";
              var apiKey = "API_KEY";
              var baseUrl = "https://app.hive.com/api/v1/";
              var endpoint = "actions/" + actionId;
              var qs = "?user_id=" + userId + "&api_key=" + apiKey;
              var url = baseUrl + endpoint + qs;

              $.ajax({
                method: "DELETE",
                url: url,
              }).done(function(data) {
                console.log(data);
              });
        samples-languages:
          - javascript
  /workspaces/{workspaceId}/actions:
    get:
      tags:
        - Workspace
      summary: Get actions
      operationId: Workspace_getActions
      description: Get all actions for a given workspace that the user has access to
      parameters:
        - description: >-
            An optional project ID to get actions from. By default, all actions
            will be returned regardless of what project they belong to.
          name: projectId
          in: query
          schema:
            type: string
        - description: >-
            Sort results by an Action Object field (for example, `sortBy=title
            asc`)
          name: sortBy
          in: query
          schema:
            type: string
            default: fieldName asc
        - description: ID of the workspace
          name: workspaceId
          in: path
          schema:
            type: string
          required: true
        - description: default = 100; min = 1; max = 100
          name: limit
          in: query
          schema:
            type: string
            default: '100'
        - description: >-
            Optional fields to filter by. Filters expects a structure like
            "filters[fieldName]=value". For example, if you wanted to filter to
            just get actions with the status "Completed", you would pass:
            "filters[status]=Completed". Currently, only the following fields
            are supported: "status", "parent", "archived", "milestone",
            "deleted".
          name: filters
          in: query
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "[\n  {\n    \"id\": \"jArt6JZpezAMZimzy\",\n    \"title\": \"Prepare for weekly product meeting\",\n    \"workspace\": \"12345aZjDQZndHqs\",\n    \"assignees\": [],\n    \"projectId\": null,\n    \"createdAt\": \"2015-07-09T20:33:56.465Z\",\n    \"modifiedAt\": \"2016-08-23T07:49:09.621Z\",\n    \"createdBy\": \"1234abcuJzo4k7F9\",\n    \"modifiedBy\": \"1234abcuJzo4k7F9\",\n    \"status\": \"Unstarted\",\n    \"deadline\": null,\n    \"scheduledDate\": null,\n    \"checkedDate\": null,\n    \"parent\": null,\n    \"root\": null,\n    \"archived\":false,\n    \"deleted\":false,\n    \"hasSubactions\": false,\n    \"estimate\": null,\n    \"estimates\": [\n      {\"userId\":\"user12345\",\"time\":7200}\n    ]\n    \"milestone\": false,\n    \"loggedTime\": [\n      {\n        \"userId\":\"user12345\",\n        \"time\": 7200,\n        \"date\":\"2019-01-01T00:00:00.000Z\"\n      }\n    ],\n  \t\"phaseId\":\"abcdefg9876\",\n    \"phaseName\": \"Planning\",\n    \"priority\": {\n  \t  \"name\":\"Urgent\",\n      \"level\": 1,\n      \"color\": \"#f6781a\",\n      \"_id\": \"abc321\"\n     }\n  }\n]"
              schema:
                $ref: '#/components/schemas/WorkspaceGetActionsResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/WorkspaceGetActions400Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: javascript
            code: >-
              var userId = "USER_ID";

              var workspaceId = "WORKSPACE_ID";

              var apiKey = "API_KEY";

              var baseUrl = "https://app.hive.com/api/v1/";

              var endpoint = "workspaces/" + workspaceId + "/actions";

              var qs = "?user_id=" + userId + "&api_key=" + apiKey +
              "&sortBy=title asc";

              var url = baseUrl + endpoint + qs;


              $.ajax({
                url: url,
              }).done(function(data) {
                console.log(data);
              });
        samples-languages:
          - javascript
  /actions/create:
    post:
      tags:
        - Action
      summary: Create action
      operationId: Action_listActions
      description: Get all actions for a given workspace that the user has access to
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActionListActionsRequest'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "id": "qFR6a524nFARukmvF",
                      "title": "This is my action",
                      "workspace": "12345aZjDQZndHqs",
                      "assignees": [],
                      "projectId": null,
                      "customFields": [],
                      "createdAt": "2018-01-23T21:41:40.295Z",
                      "modifiedAt": "2018-01-23T21:41:40.289Z",
                      "createdBy": "12345gfuJzo4k7F9",
                      "modifiedBy": "12345gfuJzo4k7F9",
                      "status": "Unstarted",
                      "deadline": null,
                      "scheduledDate": null,
                      "checkedDate": null,
                      "parent": null,
                      "root": null,
                      "hasSubactions": false,
                      "estimate": null,
                      "loggedTime": []
                    }
              schema:
                $ref: '#/components/schemas/ActionListActionsResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/ActionListActions400Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: javascript
            code: |-
              var userId = "USER_ID";
              var workspaceId = "WORKSPACE_ID";
              var apiKey = "API_KEY";
              var baseUrl = "https://app.hive.com/api/v1/";
              var endpoint = "actions/create";
              var qs = "?user_id=" + userId + "&api_key=" + apiKey;
              var url = baseUrl + endpoint + qs;

              var data = {
                workspace: workspaceId,
                title: "Test action title",
                assigned_to: userId,
                when: "today"
              };

              $.ajax({
                method: "POST",
                url: url,
                data: JSON.stringify(data),
                contentType: "application/json"
              }).done(function(data) {
                console.log(data);
              });
        samples-languages:
          - javascript
  /actions/{actionId}/comments:
    get:
      tags:
        - Action
      summary: Get action comments
      operationId: Action_getComments
      description: ''
      parameters:
        - description: The id of the action
          name: actionId
          in: path
          schema:
            type: string
          required: true
        - description: Number of comments
          name: limit
          in: query
          schema:
            type: integer
            format: int32
            default: 200
        - description: You can change to e.g. createdAt asc
          name: sortBy
          in: query
          schema:
            type: string
            default: createdAt+desc
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |
                    [
                      {
                        "id": "232b3c4d5e6f7g8h1",
                        "attachments": [],
                        "workspace": "w32bac4d5e6f7g8h2",
                        "body": "comment body",
                        "mentions": [],
                        "createdBy": "u32bac4d5e6f7g8h2",
                        "createdAt": "2020-01-04T23:30:54.816Z",
                        "reactions": []
                      }
                    ]
              schema:
                $ref: '#/components/schemas/ActionGetCommentsResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/ActionGetComments400Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: javascript
            code: |
              var userId = "USER_ID";
              var actionId = "ACTION_ID";
              var apiKey = "API_KEY";
              var baseUrl = "https://app.hive.com/api/v1/";
              var endpoint = "/actions/" + actionId + '/comments';
              var qs = "?user_id=" + userId + "&api_key=" + apiKey;
              var url = baseUrl + endpoint + qs;

              $.ajax({
                url: url,
              }).done(function(data) {
                console.log(data);
              });
        samples-languages:
          - javascript
    post:
      tags:
        - Action
      summary: Create action comment
      operationId: Action_createComment
      description: ''
      parameters:
        - description: The id of the action
          name: actionId
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActionCreateCommentRequest'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "message": "Action comment successfully inserted",
                      "comment": {
                        "id": "232b3c4d5e6f7g8h1",
                        "body": "comment body",
                        "workspace": "w32bac4d5e6f7g8h2",
                        "createdAt": "2019-01-01T00:00:00.000Z",
                        "createdBy": "u32bac4d5e6f7g8h2",
                        "attachments": [],
                        "reactions": [],
                        "mentions": []
                      }
                    }
              schema:
                $ref: '#/components/schemas/ActionCreateCommentResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/ActionCreateComment400Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: javascript
            code: |-
              var userId = "USER_ID";
              var actionId = "ACTION_ID";
              var apiKey = "API_KEY";
              var baseUrl = "https://app.hive.com/api/v1/";
              var endpoint = "actions/" + actionId + "/comments";
              var qs = "?user_id=" + userId + "&api_key=" + apiKey;
              var url = baseUrl + endpoint + qs;

              var data = {
                body: "New comment body"
              };

              $.ajax({
                method: "POST",
                url: url,
                data: JSON.stringify(data),
                contentType: "application/json"
              }).done(function(data) {
                console.log(data);
              });
        samples-languages:
          - javascript
  /actions/{actionId}/attachments:
    get:
      tags:
        - Action
      summary: Get action attachments
      operationId: Action_getAttachments
      description: >-
        Retrieves all attachments uploaded directly to the action card itself,
        or inserted using either of the available action attachment POST
        endpoints. Does not include attachments uploaded from 3rd party file
        store services, or attachments nested within comments on an action card.
      parameters:
        - description: The ID of the action.
          name: actionId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    [
                        {
                            "_id": "AzwXZkTsdH32nTPur",
                            "name": "Hello world",
                            "workspace": "9driAwqZjDQZndHqs",
                            "url": "https://hostname.com/file/path",
                            "createdAt": "2050-10-27T22:09:38.137Z",
                            "createdBy": "AnMyD2YXX4vcdTgxw",
                            "modifiedAt": "2050-10-27T22:09:38.717Z",
                            "modifiedBy": "AnMyD2YXX4vcdTgxw"
                        }
                    ]
              schema:
                $ref: '#/components/schemas/ActionGetAttachmentsResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/ActionGetAttachments400Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: javascript
            code: |-
              var userId = "USER_ID";
              var actionId = "ACTION_ID";
              var apiKey = "API_KEY";
              var baseUrl = "https://app.hive.com/api/v1";
              var endpoint = "/actions/" + actionId + '/attachments';
              var qs = "?user_id=" + userId + "&api_key=" + apiKey;
              var url = baseUrl + endpoint + qs;

              $.ajax({
                url: url,
              }).done(function(data) {
                console.log(data);
              });
        samples-languages:
          - javascript
    post:
      tags:
        - Action
      summary: Create action attachment
      operationId: Action_attachFile
      description: Attaches a file to an action.
      parameters:
        - description: The ID of the action.
          name: actionId
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActionAttachFileRequest'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "message": "Action attachment successfully added"
                    }
              schema:
                $ref: '#/components/schemas/ActionAttachFileResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/ActionAttachFile400Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: javascript
            code: |-
              var userId = "USER_ID";
              var actionId = "ACTION_ID";
              var apiKey = "API_KEY";
              var baseUrl = "https://app.hive.com/api/v1";
              var endpoint = "/actions/" + actionId + '/attachments';
              var qs = "?user_id=" + userId + "&api_key=" + apiKey;
              var url = baseUrl + endpoint + qs

              var data = {
                url: "https://domain.com/file/path"
              };

              $.ajax({
                url: url,
                data: JSON.stringify(data),
                contentType: "application/json"
              }).done(function(data) {
                console.log(data);
              });
        samples-languages:
          - javascript
  /actions/{actionId}/attachments/{attachmentId}:
    get:
      tags:
        - Action
      summary: Get attachment by attachment ID
      operationId: Action_getAttachmentById
      description: >-
        Returns the requested file object. File must exist on the corresponding
        action.
      parameters:
        - description: The ID of the action.
          name: actionId
          in: path
          schema:
            type: string
          required: true
        - description: The ID of the file attachment.
          name: attachmentId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "_id": "AzwXZkTsdH32nTPur",
                      "name": "Hello world",
                      "workspace": "9driAwqZjDQZndHqs",
                      "url": "https://hostname.com/file/path",
                      "createdAt": "2050-10-27T22:09:38.137Z",
                      "createdBy": "AnMyD2YXX4vcdTgxw",
                      "modifiedAt": "2050-10-27T22:09:38.717Z",
                      "modifiedBy": "AnMyD2YXX4vcdTgxw"
                    }
              schema:
                $ref: '#/components/schemas/ActionGetAttachmentByIdResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/ActionGetAttachmentById400Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: javascript
            code: >-
              var userId = "USER_ID";

              var actionId = "ACTION_ID";

              var apiKey = "API_KEY";

              var baseUrl = "https://app.hive.com/api/v1";

              var endpoint = "/actions/" + actionId + '/attachments/' +
              attachmentId

              var qs = "?user_id=" + userId + "&api_key=" + apiKey;

              var url = baseUrl + endpoint + qs;


              $.ajax({
                url: url,
              }).done(function(data) {
                console.log(data);
              });
        samples-languages:
          - javascript
  /actions/{actionId}/apply-template:
    post:
      tags:
        - Action
      summary: Apply action template
      operationId: Action_applyTemplate
      description: ''
      parameters:
        - description: Id of the action
          name: actionId
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActionApplyTemplateRequest'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      message: "Action template successfully applied"
                    }
              schema:
                $ref: '#/components/schemas/ActionApplyTemplateResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/ActionApplyTemplate400Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: javascript
            code: "var userId = \"USER_ID\";\nvar actionId = \"ACTION_ID\";\nvar apiKey = \"API_KEY\";\nvar baseUrl = \"https://app.hive.com/api/v1/\";\nvar endpoint = \"actions/\" + actionId + \"/apply-template\";\nvar qs = \"?user_id=\" + userId + \"&api_key=\" + apiKey;\nvar url = baseUrl + endpoint + qs;\n\nvar data = {\n\tprocessId: \"existingWorkflowId\"\n};\n\n$.ajax({\n  method: \"POST\",\n  url: url,\n  data: JSON.stringify(data),\n  contentType: \"application/json\"\n}).done(function(data) {\n  console.log(data);\n});"
        samples-languages:
          - javascript
  /workspaces/{workspaceId}/actiontemplates:
    get:
      tags:
        - Workspace
      summary: Get action templates
      operationId: Workspace_getActionTemplates
      description: >-
        Get all action templates for a given workspace that the user has access
        to
      parameters:
        - description: ID of the workspace
          name: workspaceId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |
                    [
                      {
                        "id": "BrhDWFRzJDPMcitEk",
                        "name": "Blog Post",
                        "createdAt": "2017-05-18T15:26:17.407Z",
                        "modifiedAt": "2017-05-19T02:25:06.190Z",
                        "createdBy": "1234abcuJzo4k7F9",
                        "modifiedBy": "1234abcuJzo4k7F9" 
                      },
                      {
                        "id": "J7ixnuHFP4kmncLun",
                        "name": "Product Research",
                        "createdAt": "2017-05-18T15:26:17.407Z",
                        "modifiedAt": "2017-05-19T02:25:06.190Z",
                        "createdBy": "1234abcuJzo4k7F9",
                        "modifiedBy": "1234abcuJzo4k7F9"   
                      }
                    ]
              schema:
                $ref: '#/components/schemas/WorkspaceGetActionTemplatesResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/WorkspaceGetActionTemplates400Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: javascript
            code: |-
              var userId = "USER_ID";
              var workspaceId = "WORKSPACE_ID";
              var apiKey = "API_KEY";
              var baseUrl = "https://app.hive.com/api/v1/";
              var endpoint = "workspaces/" + workspaceId + "/actiontemplates";
              var qs = "?user_id=" + userId + "&api_key=" + apiKey;
              var url = baseUrl + endpoint + qs;

              $.ajax({
                url: url,
              }).done(function(data) {
                console.log(data);
              });
        samples-languages:
          - javascript
  /actions/{actionId}/action-history:
    get:
      tags:
        - Action
      summary: Get action history
      operationId: Action_getActionHistory
      description: ''
      parameters:
        - description: The id of the action
          name: actionId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |
                    [
                      {
                        "id": "232b3c4d5e6f7g8h1",
                        "body":"comment body",
                        "actionId":"w32bac4d5e6f7g8h2"
                        "date":"2020-01-04T23:30:54.816Z"
                      }
                    ]
              schema:
                $ref: '#/components/schemas/ActionGetActionHistoryResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/ActionGetActionHistory400Response'
      deprecated: false
  /messages/create:
    post:
      tags:
        - Message
      summary: Create message
      operationId: Message_createNewMessage
      description: Create a new message
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessageCreateNewMessageRequest'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |
                    {
                      "id": "2bK58icvKeJSzvupB",
                      "sender": "12345gfuJzo4k7F9",
                      "workspace": "12345naZjDQZndHqs",
                      "containerId": "12345ZTJqWY2QK2B",
                      "body": "This is a new message",
                      "senderPicture": "https://cdn2.iconfinder.com/data/icons/botcons/100/android-bot-round-ears-eyes-virus-brown-256.png",
                      "senderFirstName": "My Bot",
                      "createdBy": "12345gfuJzo4k7F9",
                      "modifiedBy": "12345xgfuJzo4k7F9",
                      "createdAt": "2018-01-23T22:14:24.862Z",
                      "modifiedAt": "2018-01-23T22:14:24.862Z"
                    }
              schema:
                $ref: '#/components/schemas/MessageCreateNewMessageResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/MessageCreateNewMessage400Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: javascript
            code: |-
              var userId = "USER_ID";
              var workspaceId = "WORKSPACE_ID";
              var groupId = "GROUP_ID";
              var apiKey = "API_KEY";
              var baseUrl = "https://app.hive.com/api/v1/";
              var endpoint = "messages/create";
              var qs = "?user_id=" + userId + "&api_key=" + apiKey;
              var url = baseUrl + endpoint + qs;

              var data = {
                workspace: workspaceId,
                body: "Hi! this message was sent from the API.",
                senderName: "Automated Messages",
                senderPicture:
                  "https://cdn2.iconfinder.com/data/icons/botcons/100/android-bot-round-ears-eyes-virus-brown-256.png",
                containerId: groupId
              };

              $.ajax({
                method: "POST",
                url: url,
                data: JSON.stringify(data),
                contentType: "application/json"
              }).done(function(data) {
                console.log(data);
              });
        samples-languages:
          - javascript
  /projects/{projectId}:
    get:
      tags:
        - Project
      summary: Get project
      operationId: Project_getById
      description: Get a project by id
      parameters:
        - description: ID of the project to update
          name: projectId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |
                    {
                      "project": {
                        "id": "123ABC567XYZ",
                        "name": "New project name",
                        "description": "",
                        "startDate": null,
                        "endDate": null,
                        "accessOption": "private",
                        "sharingType": "me",
                        "members": [],
                        "template": false,
                        "createdAt": "2017-05-18T15:26:17.407Z",
                        "modifiedAt": "2017-05-19T02:25:06.190Z",
                        "createdBy": "1234abcuJzo4k7F9",
                        "modifiedBy": "1234abcuJzo4k7F9",
                        "projectCustomFields": [
                          {
                            "label": "Budget",
                            "value": "$5000000",
                            "dropdownValues": [],
                            "selectedValues": [],
                            "type": "text",
                            "_id": "1234abcuJzo4k7E1",
                            "hidden": false
                          }
                        ],
                        "color": "#3fcaca",
                        "parentProject": null,
                        "phases": [],
                        "budget":0,
                        "resourcePlaceholderIds": []
                      }
                    }
              schema:
                $ref: '#/components/schemas/ProjectGetByIdResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/ProjectGetById400Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: javascript
            code: |-
              var userId = "USER_ID";
              var projectId = "PROJECT_ID";
              var apiKey = "API_KEY";
              var baseUrl = "https://app.hive.com/api/v1/";
              var endpoint = "projects/" + projectId;
              var qs = "?user_id=" + userId + "&api_key=" + apiKey;
              var url = baseUrl + endpoint + qs;

              $.ajax({
                url: url
              }).done(function(data) {
                console.log(data);
              });
        samples-languages:
          - javascript
    put:
      tags:
        - Project
      summary: Update project
      operationId: Project_updateById
      description: Update a project by id
      parameters:
        - description: ID of the project to update
          name: projectId
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectUpdateByIdRequest'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"message\": \"Project was updated successfully\",\n  \"project\": {\n    \"id\": \"123ABC567XYZ\",\n    \"name\": \"New project name\",\n    \"description\": \"A new project description right here!\",\n    \"startDate\": \"2019-04-01T00:00:00.000Z\",\n\t\t\"endDate\": \"2019-04-01T00:00:00.000Z\",\n    \"accessOption\": \"public\",\n    \"sharingType\": \"everyone\",\n    \"members\": [],\n    \"template\": false,\n    \"createdAt\": \"2019-12-20T19:41:13.283Z\",\n    \"modifiedAt\": \"2020-01-04T23:53:41.413Z\",\n    \"createdBy\": \"1234abcuJzo4k7F9\",\n    \"modifiedBy\": \"1234abcuJzo4k7F9\",\n    \"projectCustomFields\": [\n      {\n        \"label\": \"Budget\",\n        \"value\": \"$5000000\",\n        \"dropdownValues\": [],\n        \"selectedValues\": [],\n        \"type\": \"text\",\n        \"_id\": \"1234abcuJzo4k7E1\",\n        \"hidden\": false\n      }\n    ],\n    \"color\": \"#F2F2F2\",\n    \"parentProject\": \"parent123\",\n    \"phases\": [],\n    \"resourcePlaceholderIds\": []\n  }\n}\n"
              schema:
                $ref: '#/components/schemas/ProjectUpdateByIdResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/ProjectUpdateById400Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: javascript
            code: |-
              var userId = "USER_ID";
              var projectId = "PROJECT_ID";
              var apiKey = "API_KEY";
              var baseUrl = "https://app.hive.com/api/v1/";
              var endpoint = "projects/" + projectId;
              var qs = "?user_id=" + userId + "&api_key=" + apiKey;
              var url = baseUrl + endpoint + qs;

              var data = {
                name: "New project name",
                description: "A new project description right here!",
                color: "#F2F2F2",
                parentProject: "parent123",
                },
              };

              $.ajax({
                method: "PUT",
                url: url,
                data: JSON.stringify(data),
                contentType: "application/json"
              }).done(function(data) {
                console.log(data);
              });
        samples-languages:
          - javascript
    delete:
      tags:
        - Project
      summary: Delete project
      operationId: Project_removeById
      description: Delete a project by id
      parameters:
        - description: ID of the project to update
          name: projectId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |
                    {
                      message: 'Project was deleted successfully'
                    }
              schema:
                $ref: '#/components/schemas/ProjectRemoveByIdResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/ProjectRemoveById400Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: javascript
            code: |-
              var userId = "USER_ID";
              var projectId = "PROJECT_ID";
              var apiKey = "API_KEY";
              var baseUrl = "https://app.hive.com/api/v1/";
              var endpoint = "projects/" + projectId;
              var qs = "?user_id=" + userId + "&api_key=" + apiKey;
              var url = baseUrl + endpoint + qs;

              $.ajax({
                method: "DELETE",
                url: url
              }).done(function(data) {
                console.log(data);
              });
        samples-languages:
          - javascript
  /workspaces/{workspaceId}/projects:
    get:
      tags:
        - Project
      summary: Get projects
      operationId: Project_listForWorkspace
      description: Get all projects for a given workspace that the user has access to
      parameters:
        - description: ID of the workspace
          name: workspaceId
          in: path
          schema:
            type: string
          required: true
        - description: >-
            Sort results by an Action Object field (for example,
            `sortBy=title+asc`)
          name: sortBy
          in: query
          schema:
            type: string
            default: fieldName+asc
        - description: >-
            Optional fields to filter by. Filters expect a structure like
            "filters[fieldName]=value". For example, if you want to filter to
            just get deleted projects, you would pass: "filters[deleted]=true".
            Currently, only two fields are supported:  "archived", "deleted".
          name: filters
          in: query
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    [
                      {
                        "id": "9MRZ6oYzRMJ4eJYnR",
                        "name": "Spring Bee Hive Rebuild",
                        "description": "",
                        "startDate": null,
                        "endDate": null,
                        "accessOption": "private",
                        "sharingType": "me",
                        "members": [],
                        "template": true,
                        "createdAt": "2017-05-18T15:26:17.407Z",
                        "modifiedAt": "2017-05-19T02:25:06.190Z",
                        "createdBy": "",
                        "modifiedBy": "",
                        "projectCustomFields": [],
                        "color": "#3390dc",
                        "parentProject": null,
                        "phases": [],
                        "budget": 100000,
                        "resourcePlaceholderIds": []
                      },
                      {
                        "id": "9S8pMXXJwCeExYWzq",
                        "name": "Sell More Honey Campaign",
                        "description": "",
                        "startDate": null,
                        "endDate": null,
                        "accessOption": "private",
                        "sharingType": "me",
                        "members": [],
                        "template": true,
                        "createdAt": "2017-05-18T15:26:17.407Z",
                        "modifiedAt": "2017-05-19T02:25:06.190Z",
                        "createdBy": "",
                        "modifiedBy": "",
                        "projectCustomFields": [],
                        "color": "#3390dc",
                        "parentProject": null,
                        "phases": [],
                        "budget": 0,
                        "resourcePlaceholderIds": []
                      }
                    ]
              schema:
                $ref: '#/components/schemas/ProjectListForWorkspaceResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/ProjectListForWorkspace400Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: javascript
            code: |-
              var userId = "USER_ID";
              var workspaceId = "WORKSPACE_ID";
              var apiKey = "API_KEY";
              var baseUrl = "https://app.hive.com/api/v1/";
              var endpoint = "workspaces/" + workspaceId + "/projects";
              var qs = "?user_id=" + userId + "&api_key=" + apiKey;
              var url = baseUrl + endpoint + qs;

              $.ajax({
                url: url,
              }).done(function(data) {
                console.log(data);
              });
        samples-languages:
          - javascript
  /projects:
    post:
      tags:
        - Project
      summary: Create project
      operationId: Project_createNewProject
      description: Create a new project
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectCreateNewProjectRequest'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "message": "Project was created successfully",
                      "project": {
                        "id": "123ABC567XYZ",
                        "name": "Mobile app development",
                        "workspace": "workspace_id_123",
                        "description": "A project for tracking our shiny new mobile app.",
                        "startDate": "2019-04-01T00:00:00.000Z",
                        "endDate": "2019-04-01T00:00:00.000Z",
                        "accessOption": "public",
                        "sharingType": "custom",
                        "members": ["123ABC456XYZ"],
                        "template": false,
                        "createdAt": "2017-05-18T15:26:17.407Z",
                        "modifiedAt": "2017-05-19T02:25:06.190Z",
                        "createdBy": "1234abcuJzo4k7F9",
                        "modifiedBy": "1234abcuJzo4k7F9",
                        "projectCustomFields": [
                          {
                            "label": "Design link",
                            "value": "https://invision.com/designs",
                            "dropdownValues": [],
                            "selectedValues": [],
                            "type": "text",
                            "_id": "NTuqNWyPBxAFGAk9Y",
                            "hidden": false
                          },
                          {
                            "label": "Project lead",
                            "value": "George Boole",
                            "dropdownValues": [],
                            "selectedValues": [],
                            "type": "text",
                            "_id": "SsjSn54vk9Z5XXCA4",
                            "hidden": false
                          }
                        ],
                        "color": "#F2F2F2",
                        "parentProject": null,
                        "phases": [],
                        "resourcePlaceholderIds": []
                      }
                    }
              schema:
                $ref: '#/components/schemas/ProjectCreateNewProjectResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/ProjectCreateNewProject400Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: javascript
            code: |+
              var userId = "USER_ID";
              var workspaceId = "WORKSPACE_ID";
              var teamId = "TEAM_ID";
              var apiKey = "API_KEY";
              var baseUrl = "https://app.hive.com/api/v1/";
              var endpoint = "projects/";
              var qs = "?user_id=" + userId + "&api_key=" + apiKey;
              var url = baseUrl + endpoint + qs;

              var data = {
                name: "Test project name",
                workspace: workspaceId,
                description: "Test project description",
                startDate: new Date(),
                endDate: new Date(),
                accessOption: "public",
                sharingType: "custom",
                members: [userId],
                teams: [teamId],
                projectCustomFields: [
                  { label: "Project lead", value: "George Boole" },
                  { label: "Design link", value: "https://invision.com/designs" }
                ],
                color: "#F2F2F2",
                template: false
              };

              $.ajax({
                method: "POST",
                url: url,
                data: JSON.stringify(data),
                contentType: "application/json"
              }).done(function(data) {
                console.log(data);
              });

        samples-languages:
          - javascript
  /projects/{projectId}/project-custom-field:
    post:
      tags:
        - Project
      summary: Create project custom field
      operationId: Project_addCustomField
      description: Creates a new custom field for a project
      parameters:
        - description: ID of the project to add a custom field to
          name: projectId
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectAddCustomFieldRequest'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "project": {
                        "id": "123ABC567XYZ",
                        "name": "Mobile app development",
                        "description": "A project for tracking our shiny new mobile app.",
                        "startDate": "2020-01-04T18:55:02.126Z",
                        "endDate": "2020-01-04T18:55:02.126Z",
                        "accessOption": "public",
                        "sharingType": "everyone",
                        "members": [],
                        "template": false,
                        "createdAt": "2017-05-18T15:26:17.407Z",
                        "modifiedAt": "2017-05-19T02:25:06.190Z",
                        "createdBy": "1234abcuJzo4k7F9",
                        "modifiedBy": "1234abcuJzo4k7F9",
                        "projectCustomFields": [
                          {
                            "label": "Budget",
                            "value": "$1000000",
                            "dropdownValues": [],
                            "selectedValues": [],
                            "type": "text",
                            "_id": "1234abcuJzo4k7E2",
                            "hidden": false
                          }
                        ],
                        "color": "#F2F2F2",
                        "parentProject": null,
                        "phases": [],
                        "resourcePlaceholderIds": []
                      }
                    }
              schema:
                $ref: '#/components/schemas/ProjectAddCustomFieldResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/ProjectAddCustomField400Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: javascript
            code: |-
              var userId = "USER_ID";
              var projectId = "PROJECT_ID";
              var apiKey = "API_KEY";
              var baseUrl = "https://app.hive.com/api/v1/";
              var endpoint = "projects/" + projectId + "/project-custom-field";
              var qs = "?user_id=" + userId + "&api_key=" + apiKey;
              var url = baseUrl + endpoint + qs;

              var data = {
                label: "Budget",
                value: "$1000000"
              };

              $.ajax({
                method: "POST",
                url: url,
                data: JSON.stringify(data),
                contentType: "application/json"
              }).done(function(data) {
                console.log(data);
              });
        samples-languages:
          - javascript
  /projects/{projectId}/project-custom-field/{customFieldId}:
    put:
      tags:
        - Project
      summary: Update project custom field
      operationId: Project_updateCustomField
      description: Updates an existing custom field for a project
      parameters:
        - description: ID of the project to add a custom field to
          name: projectId
          in: path
          schema:
            type: string
          required: true
        - description: ID of the custom field to update
          name: customFieldId
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectUpdateCustomFieldRequest'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "project": {
                        "id": "123ABC567XYZ",
                        "name": "Mobile app development",
                        "description": "A project for tracking our shiny new mobile app.",
                        "startDate": "2020-01-04T18:55:02.126Z",
                        "endDate": "2020-01-04T18:55:02.126Z",
                        "accessOption": "public",
                        "sharingType": "everyone",
                        "members": [],
                        "template": false,
                        "createdAt": "2017-05-18T15:26:17.407Z",
                        "modifiedAt": "2017-05-19T02:25:06.190Z",
                        "createdBy": "1234abcuJzo4k7F9",
                        "modifiedBy": "1234abcuJzo4k7F9",
                        "projectCustomFields": [
                          {
                            "label": "Budget",
                            "value": "$5000000",
                            "dropdownValues": [],
                            "selectedValues": [],
                            "type": "text",
                            "_id": "1234abcuJzo4k7E2",
                            "hidden": false
                          }
                        ],
                        "color": "#F2F2F2",
                        "parentProject": null,
                        "phases": [],
                        "resourcePlaceholderIds": []
                      }
                    }
              schema:
                $ref: '#/components/schemas/ProjectUpdateCustomFieldResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    // If you are trying to update a custom field label
                    // while a different custom field with that label
                    // and type already exists - an error will be thrown
                    {}
              schema:
                $ref: '#/components/schemas/ProjectUpdateCustomField400Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: javascript
            code: >-
              var userId = "USER_ID";

              var projectId = "PROJECT_ID";

              var customFieldId = "CUSTOM_FIELD_ID"

              var apiKey = "API_KEY";

              var baseUrl = "https://app.hive.com/api/v1/";

              var endpoint = "projects/" + projectId + "/project-custom-field/"
              + customFieldId;

              var qs = "?user_id=" + userId + "&api_key=" + apiKey;

              var url = baseUrl + endpoint + qs;


              var data = {
                label: "Budget",
                value: "$5000000"
              };


              $.ajax({
                method: "PUT",
                url: url,
                data: JSON.stringify(data),
                contentType: "application/json"
              }).done(function(data) {
                console.log(data);
              });
        samples-languages:
          - javascript
  /projects/{projectId}/project-status:
    post:
      tags:
        - Project
      summary: Set project status
      operationId: Project_setStatus
      description: ''
      parameters:
        - description: ID of the project
          name: projectId
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectSetStatusRequest'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "_id": "PROJECT_ID",
                      "statusUpdates": {
                        "_id": "Unique status Id in the list",
                        "statusId": "Some status Id",
                        "description": "Status description"
                      }
                    }
              schema:
                $ref: '#/components/schemas/ProjectSetStatusResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/ProjectSetStatus400Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: javascript
            code: |-
              var userId = "USER_ID";
              var projectId = "PROJECT_ID";
              var apiKey = "API_KEY";
              var baseUrl = "https://app.hive.com/api/v1/";
              var endpoint = "projects/" + projectId + "/project-status";
              var qs = "?user_id=" + userId + "&api_key=" + apiKey;
              var url = baseUrl + endpoint + qs;

              var data = {
                statusId: "Some status Id",
                description: "Status description",
              };

              $.ajax({
                method: "POST",
                url: url,
                data: JSON.stringify(data),
                contentType: "application/json"
              }).done(function(data) {
                console.log(data);
              });
        samples-languages:
          - javascript
  /workspaces/{workspaceId}/project-statuses:
    get:
      tags:
        - Project
      summary: Get project statuses
      operationId: Project_getStatuses
      description: ''
      parameters:
        - description: ID of the workspace
          name: workspaceId
          in: path
          schema:
            type: string
          required: true
        - description: Get first n items
          name: first
          in: query
          schema:
            type: integer
            format: int32
            default: 200
        - description: Get last n items
          name: last
          in: query
          schema:
            type: integer
            format: int32
            default: 200
        - description: document ID to query documents before it
          name: before
          in: query
          schema:
            type: string
        - description: document ID to query documents after it
          name: after
          in: query
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "edges": [
                            {
                                "cursor": "Cursor Id",
                                "node": {
                                    "_id": "Status Id",
                                    "name": "Status name",
                                    "color": "#000000",
                                    "workspace": "WORKSPACE_ID",
                                    "deleted": false,
                                    "modifiedAt": "2022-02-03T07:49:26.732Z",
                                    "modifiedBy": "Some user Id",
                                    "createdAt": "2022-02-03T07:49:26.732Z",
                                    "createdBy": "Some user Id"
                                }
                            }
                        ],
                        "pageInfo": {
                            "startCursor": "Start cursor Id",
                            "endCursor": "End cursor Id",
                            "totalCount": 1,
                            "hasNextPage": false,
                            "hasPreviousPage": false
                        }
                    }
              schema:
                $ref: '#/components/schemas/ProjectGetStatusesResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/ProjectGetStatuses400Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: javascript
            code: >-
              var userId = "USER_ID";

              var workspaceId = "WORKSPACE_ID";

              var apiKey = "API_KEY";

              var baseUrl = "https://app.hive.com/api/v1/";

              var first = 1;

              var endpoint = "workspaces/" + workspaceId + "/project-statuses";

              var qs = "?user_id=" + userId + "&api_key=" + apiKey +
              "&sortBy=title+asc" + "&first=" + first;

              var url = baseUrl + endpoint + qs;


              $.ajax({
                url: url,
              }).done(function(data) {
                console.log(data);
              });
        samples-languages:
          - javascript
  /resource-assignments/{resourceAssignmentId}:
    get:
      tags:
        - ResourceAssignment
      summary: Get resource assignment
      operationId: ResourceAssignment_getById
      description: Get a resource by id
      parameters:
        - description: ID of the resourceAssignment to update
          name: resourceAssignmentId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |
                    {
                      resourceAssignment:
                      {
                        "id" : "123ABC567XYZ",
                        "resourceId" : "user1234",
                        "projectId":"project1234",
                        "startDate" : ISODate("2019-01-01006:00:00.000Z"),
                        "endDate" : ISODate("2020-01-01T00:00:00.000Z"),
                        "allocationType" : "hoursPerDay",
                        "assignmentType" : "regular",
                        "hoursPerDay" : 8,
                        "fixedHours" : 8,
                        "fixedDisplayType" : "hours",
                        "notes":"This is a note!"
                      }
                    }
              schema:
                $ref: '#/components/schemas/ResourceAssignmentGetByIdResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    // If resourcing is desabled
                    {
                        "error": 400,
                        "message": "Resourcing is not enabled in current workspace"
                    }
              schema:
                $ref: '#/components/schemas/ResourceAssignmentGetById400Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: javascript
            code: |-
              var userId = "USER_ID";
              var resourceId = "RESOURCE_ID";
              var apiKey = "API_KEY";
              var baseUrl = "https://app.hive.com/api/v1/";
              var endpoint = "resource-assignments/" + resourceId;
              var qs = "?user_id=" + userId + "&api_key=" + apiKey;
              var url = baseUrl + endpoint + qs;

              $.ajax({
                url: url
              }).done(function(data) {
                console.log(data);
              });
        samples-languages:
          - javascript
    put:
      tags:
        - ResourceAssignment
      summary: Update resource assignment
      operationId: ResourceAssignment_updateAssignmentById
      description: Create a new project
      parameters:
        - description: ID of the resourceAssignment
          name: resourceAssignmentId
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/ResourceAssignmentUpdateAssignmentByIdRequest
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |
                    {
                      "message": "Resource assignment was updated successfully",
                      "resourceAssignment": {
                        "id" : "123456ABCDE",
                        "resourceId" : "user1234",    
                        "projectId":"project1234",
                        "startDate" : ISODate("2019-01-01006:00:00.000Z"),
                        "endDate" : ISODate("2020-01-01T00:00:00.000Z"),
                        "allocationType" : "hoursPerDay",
                        "assignmentType" : "regular",
                        "hoursPerDay" : 8,
                        "fixedHours" : 8,
                        "fixedDisplayType" : "hours",
                        "notes":"This is a note!"
                      }
                    }
              schema:
                $ref: >-
                  #/components/schemas/ResourceAssignmentUpdateAssignmentByIdResponse
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    // If resourcing is desabled
                    {
                        "error": 400,
                        "message": "Resourcing is not enabled in current workspace"
                    }
              schema:
                $ref: >-
                  #/components/schemas/ResourceAssignmentUpdateAssignmentById400Response
      deprecated: false
      x-readme:
        code-samples:
          - language: javascript
            code: |-
              var userId = "USER_ID";
              var resourceId = "RESOURCE_ID";
              var apiKey = "API_KEY";
              var baseUrl = "https://app.hive.com/api/v1/";
              var endpoint = "resource-assignments/" + resourceId;
              var qs = "?user_id=" + userId + "&api_key=" + apiKey;
              var url = baseUrl + endpoint + qs;

              var data = {
                  "resourceId" : "user1234",
                  "projectId":"project1234",
                  "startDate" : ISODate("2019-01-01006:00:00.000Z"),
                  "endDate" : ISODate("2020-01-01T00:00:00.000Z"),
                  "allocationType" : "hoursPerDay",
                  "assignmentType" : "regular",
                  "hoursPerDay" : 8,
                  "fixedHours" : 8,
                  "fixedDisplayType" : "hours",
                  "notes":"This is a note!"
                };

              $.ajax({
                method: "PUT",
                url: url,
                data: JSON.stringify(data),
                contentType: "application/json"
              }).done(function(data) {
                console.log(data);
              });
        samples-languages:
          - javascript
    delete:
      tags:
        - ResourceAssignment
      summary: Delete resource assignment
      operationId: ResourceAssignment_removeById
      description: Create a new project
      parameters:
        - description: ID of the user for the resourcing
          name: resourceAssignmentId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      message: 'Resource assignment was deleted successfully'
                    }
              schema:
                $ref: '#/components/schemas/ResourceAssignmentRemoveByIdResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    // If resourcing is desabled
                    {
                        "error": 400,
                        "message": "Resourcing is not enabled in current workspace"
                    }
              schema:
                $ref: '#/components/schemas/ResourceAssignmentRemoveById400Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: javascript
            code: |-
              var userId = "USER_ID";
              var resourceId = "RESOURCE_ID";
              var apiKey = "API_KEY";
              var baseUrl = "https://app.hive.com/api/v1/";
              var endpoint = "resource-assignments/" + resourceId;
              var qs = "?user_id=" + userId + "&api_key=" + apiKey;
              var url = baseUrl + endpoint + qs;

              $.ajax({
                method: "DELETE",
                url: url
              }).done(function(data) {
                console.log(data);
              });
        samples-languages:
          - javascript
  /workspaces/{workspaceId}/resource-assignments:
    get:
      tags:
        - Workspace
      summary: Get resource assignments
      operationId: Workspace_listResourceAssignments
      description: ''
      parameters:
        - description: ID of the workspace
          name: workspaceId
          in: path
          schema:
            type: string
          required: true
        - description: Get first n items
          name: first
          in: query
          schema:
            type: integer
            format: int32
            default: 200
        - description: Get last n items
          name: last
          in: query
          schema:
            type: integer
            format: int32
            default: 200
        - description: document ID to query documents before it
          name: before
          in: query
          schema:
            type: string
        - description: document ID to query documents after it
          name: after
          in: query
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "edges": [
                            {
                                "cursor": "Cursor Id",
                                "node": {
                                    "id": "Some user Id",
                                    "workspace": "WORKSPACE_ID",
                                    "resourceId": "Resource assignment Id",
                                    "projectId": "Project Id",
                                    "startDate": "2022-01-10T00:00:00.000Z",
                                    "endDate": "2022-01-13T00:00:00.000Z",
                                    "allocationType": "fixedHours",
                                    "assignmentType": "regular",
                                    "hoursPerDay": 0.8,
                                    "fixedHours": 2.4,
                                    "fixedDisplayType": "percentages"
                                }
                            }
                        ],
                        "pageInfo": {
                            "startCursor": "Start cursor Id",
                            "endCursor": "End cursor Id",
                            "totalCount": 5,
                            "hasNextPage": true,
                            "hasPreviousPage": false
                        }
                    }
              schema:
                $ref: '#/components/schemas/WorkspaceListResourceAssignmentsResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: >-
                  #/components/schemas/WorkspaceListResourceAssignments400Response
      deprecated: false
      x-readme:
        code-samples:
          - language: text
            code: >-
              var userId = "USER_ID";

              var workspaceId = "WORKSPACE_ID";

              var apiKey = "API_KEY";

              var baseUrl = "https://app.hive.com/api/v1/";

              var first = 1;

              var endpoint = "workspaces/" + workspaceId +
              "/resource-assignments";

              var qs = "?user_id=" + userId + "&api_key=" + apiKey +
              "&sortBy=title+asc" + "&first=" + first;

              var url = baseUrl + endpoint + qs;


              $.ajax({
                url: url,
              }).done(function(data) {
                console.log(data);
              });
        samples-languages:
          - text
  /resource-assignments:
    post:
      tags:
        - ResourceAssignment
      summary: Create resource assignments
      operationId: ResourceAssignment_createNewAssignment
      description: Create a new project
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
[...]
