openapi: 3.0.1
info:
  title: Line Items
  description: ''
  version: v3
  x-hubspot-product-tier-requirements:
    marketing: FREE
    sales: FREE
    service: FREE
    cms: FREE
  x-hubspot-documentation-banner: NONE
  x-hubspot-api-use-case: >-
    When creating a set of quotes for sales reps to send to potential buyers,
    use this API to add goods and services to the quotes.
  x-hubspot-related-documentation:
    - name: Products Guide
      url: https://hubspot.dev/guides/api/crm/products
    - name: Pipelines Guide
      url: https://hubspot.dev/guides/api/crm/pipelines
    - name: Companies Guide
      url: https://hubspot.dev/guides/api/crm/companies
    - name: Call SDK Guide
      url: https://hubspot.dev/guides/api/crm/extensions/calling-sdk
    - name: Quotes guide
      url: https://hubspot.dev/guides/api/crm/quotes
    - name: Deals Guide
      url: https://hubspot.dev/guides/api/crm/deals
    - name: Import CRM Guide
      url: https://hubspot.dev/guides/api/crm/imports
    - name: Custom Object Guide
      url: https://hubspot.dev/guides/api/crm/objects/crm-custom-objects
    - name: Properties Guide
      url: https://hubspot.dev/guides/api/crm/properties
    - name: Owners Guide
      url: https://hubspot.dev/guides/api/crm/owners
    - name: Timeline Events Guide
      url: https://hubspot.dev/guides/api/crm/extensions/timeline
    - name: Contacts Guide
      url: https://hubspot.dev/guides/api/crm/contacts
    - name: Feedback Submissions Guide
      url: https://hubspot.dev/guides/api/crm/feedback-submissions
    - name: Video Conference Guide
      url: https://hubspot.dev/guides/api/crm/extensions/video-conferencing
    - name: Tickets Guide
      url: https://hubspot.dev/guides/api/crm/tickets
    - name: Line Items Guide
      url: https://hubspot.dev/guides/api/crm/line-items
  x-hubspot-introduction: >-
    Use the line items API to add instances of products to deals and quotes. You
    can create line items from existing products or create them as custom line
    items with no product attached.
  x-konfig-ignore:
    potential-incorrect-type: true
servers:
  - url: https://api.hubapi.com
tags:
  - name: Basic
  - description: ''
    name: Batch
    x-hubspot-tag-name-english-source: Batch
  - name: Core
  - name: Public_Object
  - name: Search
  - name: GDPR
  - description: ''
    name: Settings
    x-hubspot-tag-name-english-source: Settings
  - description: ''
    name: Pipelines
    x-hubspot-tag-name-english-source: Pipelines
  - description: ''
    name: Pipeline Stages
    x-hubspot-tag-name-english-source: Pipeline Stages
  - description: ''
    name: Groups
    x-hubspot-tag-name-english-source: Groups
  - name: Events
  - name: Templates
  - description: ''
    name: Recording_Settings
    x-hubspot-tag-name-english-source: Recording_Settings
  - name: Tokens
  - description: ''
    name: Owners
    x-hubspot-tag-name-english-source: Owners
  - description: ''
    name: Pipeline Stage Audits
    x-hubspot-tag-name-english-source: Pipeline Stage Audits
  - description: ''
    name: Pipeline Audits
    x-hubspot-tag-name-english-source: Pipeline Audits
  - description: ''
    name: Public_Imports
    x-hubspot-tag-name-english-source: Public_Imports
  - name: Public_Object_Schemas
paths:
  /crm/v3/objects/products/batch/read:
    post:
      tags:
        - Batch
      summary: Read a batch of products by internal ID, or unique property values
      operationId: Batch_readByProperties
      security:
        - oauth2_legacy:
            - e-commerce
        - oauth2: []
        - private_apps_legacy:
            - e-commerce
        - private_apps: []
      parameters:
        - description: Whether to return only results that have been archived.
          name: archived
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: boolean
            default: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchReadInputSimplePublicObjectId'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponseSimplePublicObject'
        '207':
          description: multiple statuses
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponseSimplePublicObjectWithErrors'
        default:
          $ref: '#/components/responses/Error'
  /crm/v3/objects/products/{productId}:
    get:
      tags:
        - Basic
      summary: Read
      operationId: Basic_readProductById
      security:
        - oauth2_legacy:
            - e-commerce
        - oauth2: []
        - private_apps_legacy:
            - e-commerce
        - private_apps: []
      description: >-
        Read an Object identified by `{productId}`. `{productId}` refers to the
        internal object ID by default, or optionally any unique property value
        as specified by the `idProperty` query param.  Control what is returned
        via the `properties` query param.
      parameters:
        - name: productId
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - description: >-
            A comma separated list of the properties to be returned in the
            response. If any of the specified properties are not present on the
            requested object(s), they will be ignored.
          name: properties
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - description: >-
            A comma separated list of the properties to be returned along with
            their history of previous values. If any of the specified properties
            are not present on the requested object(s), they will be ignored.
          name: propertiesWithHistory
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - description: >-
            A comma separated list of object types to retrieve associated IDs
            for. If any of the specified associations do not exist, they will be
            ignored.
          name: associations
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - description: Whether to return only results that have been archived.
          name: archived
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: boolean
            default: false
        - description: The name of a property whose values are unique for this object type
          name: idProperty
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimplePublicObjectWithAssociations'
        default:
          $ref: '#/components/responses/Error'
    delete:
      tags:
        - Basic
      summary: Archive
      operationId: Basic_archiveProduct
      security:
        - oauth2_legacy:
            - e-commerce
        - oauth2: []
        - private_apps_legacy:
            - e-commerce
        - private_apps: []
      description: Move an Object identified by `{productId}` to the recycling bin.
      parameters:
        - name: productId
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        '204':
          description: No content
          content: {}
        default:
          $ref: '#/components/responses/Error'
    patch:
      tags:
        - Basic
      summary: Update
      operationId: Basic_updateProduct
      security:
        - oauth2_legacy:
            - e-commerce
        - oauth2: []
        - private_apps_legacy:
            - e-commerce
        - private_apps: []
      description: >-
        Perform a partial update of an Object identified by `{productId}`.
        `{productId}` refers to the internal object ID by default, or optionally
        any unique property value as specified by the `idProperty` query param.
        Provided property values will be overwritten. Read-only and non-existent
        properties will be ignored. Properties values can be cleared by passing
        an empty string.
      parameters:
        - name: productId
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - description: The name of a property whose values are unique for this object type
          name: idProperty
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SimplePublicObjectInput'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimplePublicObject'
        default:
          $ref: '#/components/responses/Error'
  /crm/v3/objects/products/merge:
    post:
      tags:
        - Public_Object
      summary: Merge two products with same type
      operationId: PublicObject_mergeProductsSameType
      security:
        - oauth2_legacy:
            - e-commerce
        - oauth2: []
        - private_apps_legacy:
            - e-commerce
        - private_apps: []
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicMergeInput'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimplePublicObject'
        default:
          $ref: '#/components/responses/Error'
  /crm/v3/objects/products/batch/archive:
    post:
      tags:
        - Batch
      summary: Archive a batch of products by ID
      operationId: Batch_archiveProductsByIds
      security:
        - oauth2_legacy:
            - e-commerce
        - oauth2: []
        - private_apps_legacy:
            - e-commerce
        - private_apps: []
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchInputSimplePublicObjectId'
        required: true
      responses:
        '204':
          description: No content
          content: {}
        default:
          $ref: '#/components/responses/Error'
  /crm/v3/objects/products/batch/create:
    post:
      tags:
        - Batch
      summary: Create a batch of products
      operationId: Batch_createProductsBatch
      security:
        - oauth2_legacy:
            - e-commerce
        - oauth2: []
        - private_apps_legacy:
            - e-commerce
        - private_apps: []
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchInputSimplePublicObjectInputForCreate'
        required: true
      responses:
        '201':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponseSimplePublicObject'
        '207':
          description: multiple statuses
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponseSimplePublicObjectWithErrors'
        default:
          $ref: '#/components/responses/Error'
  /crm/v3/objects/products/batch/update:
    post:
      tags:
        - Batch
      summary: Update a batch of products
      operationId: Batch_updateProductsBatch
      security:
        - oauth2_legacy:
            - e-commerce
        - oauth2: []
        - private_apps_legacy:
            - e-commerce
        - private_apps: []
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchInputSimplePublicObjectBatchInput'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponseSimplePublicObject'
        '207':
          description: multiple statuses
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponseSimplePublicObjectWithErrors'
        default:
          $ref: '#/components/responses/Error'
  /crm/v3/objects/products/gdpr-delete:
    post:
      tags:
        - GDPR
      summary: GDPR DELETE
      operationId: Gdpr_deleteContact
      security:
        - oauth2_legacy:
            - e-commerce
        - oauth2: []
        - private_apps_legacy:
            - e-commerce
        - private_apps: []
      description: >-
        Permanently delete a contact and all associated content to follow GDPR.
        Use optional property 'idProperty' set to 'email' to identify contact by
        email address. If email address is not found, the email address will be
        added to a blocklist and prevent it from being used in the future.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicGdprDeleteInput'
        required: true
      responses:
        '204':
          description: No content
          content: {}
        default:
          $ref: '#/components/responses/Error'
  /crm/v3/objects/products:
    get:
      tags:
        - Basic
      summary: List
      operationId: Basic_listProductsPage
      security:
        - oauth2_legacy:
            - e-commerce
        - oauth2: []
        - private_apps_legacy:
            - e-commerce
        - private_apps: []
      description: >-
        Read a page of products. Control what is returned via the `properties`
        query param.
      parameters:
        - description: The maximum number of results to display per page.
          name: limit
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            default: 10
        - description: >-
            The paging cursor token of the last successfully read resource will
            be returned as the `paging.next.after` JSON property of a paged
            response containing more results.
          name: after
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: string
        - description: >-
            A comma separated list of the properties to be returned in the
            response. If any of the specified properties are not present on the
            requested object(s), they will be ignored.
          name: properties
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - description: >-
            A comma separated list of the properties to be returned along with
            their history of previous values. If any of the specified properties
            are not present on the requested object(s), they will be ignored.
            Usage of this parameter will reduce the maximum number of objects
            that can be read by a single request.
          name: propertiesWithHistory
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - description: >-
            A comma separated list of object types to retrieve associated IDs
            for. If any of the specified associations do not exist, they will be
            ignored.
          name: associations
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - description: Whether to return only results that have been archived.
          name: archived
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/CollectionResponseSimplePublicObjectWithAssociationsForwardPaging
        default:
          $ref: '#/components/responses/Error'
    post:
      tags:
        - Basic
      summary: Create
      operationId: Basic_createProductObject
      security:
        - oauth2_legacy:
            - e-commerce
        - oauth2: []
        - private_apps_legacy:
            - e-commerce
        - private_apps: []
      description: >-
        Create a product with the given properties and return a copy of the
        object, including the ID. Documentation and examples for creating
        standard products is provided.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SimplePublicObjectInputForCreate'
        required: true
      responses:
        '201':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimplePublicObject'
        default:
          $ref: '#/components/responses/Error'
  /crm/v3/objects/products/search:
    post:
      tags:
        - Search
      operationId: Search_productsByCriteria
      security:
        - oauth2_legacy:
            - e-commerce
        - oauth2: []
        - private_apps_legacy:
            - e-commerce
        - private_apps: []
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicObjectSearchRequest'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/CollectionResponseWithTotalSimplePublicObjectForwardPaging
        default:
          $ref: '#/components/responses/Error'
      x-hubspot-rate-limit-exemptions:
        - ten-secondly
  /crm/v3/pipelines/{objectType}/{pipelineId}/stages/{stageId}/audit:
    get:
      tags:
        - Pipeline Stage Audits
      summary: Return an audit of all changes to the pipeline stage
      operationId: PipelineStageAudits_getStageAudit
      security:
        - oauth2_legacy:
            - media_bridge.read
        - private_apps_legacy:
            - tickets.sensitive
        - private_apps:
            - crm.objects.deals.read
        - private_apps_legacy:
            - timeline
        - private_apps:
            - crm.objects.subscriptions.read
        - private_apps_legacy:
            - crm.objects.marketing_events.read
        - oauth2_legacy:
            - crm.objects.marketing_events.write
        - oauth2:
            - crm.objects.deals.read
        - private_apps:
            - crm.objects.contacts.sensitive.write
        - private_apps_legacy:
            - contacts
        - oauth2:
            - crm.objects.subscriptions.read
        - private_apps:
            - crm.objects.owners.read
        - oauth2:
            - crm.objects.owners.read
        - oauth2_legacy:
            - crm.schemas.custom.read
        - private_apps:
            - crm.objects.companies.read
        - oauth2:
            - crm.schemas.quotes.read
        - private_apps:
            - crm.schemas.quotes.read
        - oauth2:
            - crm.objects.companies.read
        - oauth2_legacy:
            - crm.objects.marketing_events.read
        - private_apps:
            - crm.objects.companies.sensitive.read
        - private_apps_legacy:
            - crm.objects.marketing_events.write
        - private_apps_legacy:
            - crm.schemas.custom.read
        - private_apps:
            - crm.objects.deals.sensitive.write
        - private_apps_legacy:
            - crm.objects.goals.read
        - oauth2_legacy:
            - timeline
        - private_apps_legacy:
            - media_bridge.read
        - private_apps:
            - crm.objects.companies.write
        - oauth2:
            - crm.objects.companies.write
        - oauth2_legacy:
            - tickets
        - private_apps:
            - crm.objects.users.read
        - private_apps_legacy:
            - crm.objects.custom.write
        - oauth2:
            - crm.objects.users.read
        - oauth2_legacy:
            - crm.objects.feedback_submissions.read
        - private_apps_legacy:
            - e-commerce
        - oauth2:
            - crm.schemas.subscriptions.read
        - private_apps:
            - crm.schemas.subscriptions.read
        - private_apps:
            - crm.schemas.companies.read
        - oauth2:
            - crm.schemas.companies.read
        - private_apps:
            - crm.objects.deals.sensitive.read
        - oauth2_legacy:
            - e-commerce
        - private_apps_legacy:
            - tickets
        - private_apps_legacy:
            - crm.objects.feedback_submissions.read
        - oauth2_legacy:
            - crm.objects.goals.read
        - private_apps:
            - crm.schemas.line_items.read
        - oauth2_legacy:
            - crm.objects.custom.write
        - oauth2:
            - crm.schemas.line_items.read
        - oauth2:
            - crm.objects.contacts.read
        - private_apps:
            - crm.objects.contacts.read
        - private_apps:
            - crm.objects.companies.sensitive.write
        - private_apps:
            - crm.objects.deals.write
        - oauth2:
            - crm.objects.deals.write
        - oauth2:
            - crm.objects.invoices.read
        - private_apps:
            - crm.schemas.deals.read
        - private_apps:
            - crm.objects.invoices.read
        - oauth2:
            - crm.schemas.deals.read
        - oauth2:
            - crm.schemas.contacts.read
        - oauth2:
            - crm.objects.quotes.write
        - private_apps:
            - crm.objects.quotes.write
        - private_apps:
            - crm.schemas.contacts.read
        - private_apps:
            - crm.objects.line_items.read
        - oauth2:
            - crm.objects.contacts.write
        - private_apps:
            - crm.schemas.commercepayments.read
        - private_apps:
            - crm.objects.contacts.write
        - oauth2:
            - crm.objects.line_items.read
        - private_apps:
            - crm.objects.custom.sensitive.read
        - oauth2_legacy:
            - crm.objects.custom.read
        - oauth2:
            - crm.schemas.commercepayments.read
        - private_apps_legacy:
            - crm.objects.custom.read
        - oauth2:
            - crm.objects.line_items.write
        - private_apps:
            - crm.objects.line_items.write
        - private_apps:
            - crm.objects.custom.sensitive.write
        - oauth2:
            - crm.schemas.invoices.read
        - private_apps:
            - crm.schemas.invoices.read
        - private_apps:
            - crm.objects.contacts.sensitive.read
        - oauth2:
            - crm.objects.quotes.read
        - private_apps:
            - crm.objects.quotes.read
      description: >-
        Return a reverse chronological list of all mutations that have occurred
        on the pipeline stage identified by `{stageId}`.
      parameters:
        - name: objectType
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: stageId
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponsePublicAuditInfoNoPaging'
        default:
          $ref: '#/components/responses/Error'
  /crm/v3/pipelines/{objectType}/{pipelineId}:
    get:
      tags:
        - Pipelines
      summary: Return a pipeline by ID
      operationId: Pipelines_getById
      security:
        - oauth2_legacy:
            - media_bridge.read
        - private_apps_legacy:
            - tickets.sensitive
        - private_apps:
            - crm.objects.deals.read
        - private_apps_legacy:
            - timeline
        - private_apps:
            - crm.objects.subscriptions.read
        - private_apps_legacy:
            - crm.objects.marketing_events.read
        - oauth2_legacy:
            - crm.objects.marketing_events.write
        - oauth2:
            - crm.objects.deals.read
        - private_apps:
            - crm.objects.contacts.sensitive.write
        - private_apps_legacy:
            - contacts
        - oauth2:
            - crm.objects.subscriptions.read
        - private_apps:
            - crm.objects.owners.read
        - oauth2:
            - crm.objects.owners.read
        - oauth2_legacy:
            - crm.schemas.custom.read
        - private_apps:
            - crm.objects.companies.read
        - oauth2:
            - crm.schemas.quotes.read
        - private_apps:
            - crm.schemas.quotes.read
        - oauth2:
            - crm.objects.companies.read
        - oauth2_legacy:
            - crm.objects.marketing_events.read
        - private_apps:
            - crm.objects.companies.sensitive.read
        - private_apps_legacy:
            - crm.objects.marketing_events.write
        - private_apps_legacy:
            - crm.schemas.custom.read
        - private_apps:
            - crm.objects.deals.sensitive.write
        - private_apps_legacy:
            - crm.objects.goals.read
        - oauth2_legacy:
            - timeline
        - private_apps_legacy:
            - media_bridge.read
        - private_apps:
            - crm.objects.companies.write
        - oauth2:
            - crm.objects.companies.write
        - oauth2_legacy:
            - tickets
        - private_apps:
            - crm.objects.users.read
        - private_apps_legacy:
            - crm.objects.custom.write
        - oauth2:
            - crm.objects.users.read
        - oauth2_legacy:
            - crm.objects.feedback_submissions.read
        - private_apps_legacy:
            - e-commerce
        - oauth2:
            - crm.schemas.subscriptions.read
        - private_apps:
            - crm.schemas.subscriptions.read
        - private_apps:
            - crm.schemas.companies.read
        - oauth2:
            - crm.schemas.companies.read
        - private_apps:
            - crm.objects.deals.sensitive.read
        - oauth2_legacy:
            - e-commerce
        - private_apps_legacy:
            - tickets
        - private_apps_legacy:
            - crm.objects.feedback_submissions.read
        - oauth2_legacy:
            - crm.objects.goals.read
        - private_apps:
            - crm.schemas.line_items.read
        - oauth2_legacy:
            - crm.objects.custom.write
        - oauth2:
            - crm.schemas.line_items.read
        - oauth2:
            - crm.objects.contacts.read
        - private_apps:
            - crm.objects.contacts.read
        - private_apps:
            - crm.objects.companies.sensitive.write
        - private_apps:
            - crm.objects.deals.write
        - oauth2:
            - crm.objects.deals.write
        - oauth2:
            - crm.objects.invoices.read
        - private_apps:
            - crm.schemas.deals.read
        - private_apps:
            - crm.objects.invoices.read
        - oauth2:
            - crm.schemas.deals.read
        - oauth2:
            - crm.schemas.contacts.read
        - oauth2:
            - crm.objects.quotes.write
        - private_apps:
            - crm.objects.quotes.write
        - private_apps:
            - crm.schemas.contacts.read
        - private_apps:
            - crm.objects.line_items.read
        - oauth2:
            - crm.objects.contacts.write
        - private_apps:
            - crm.schemas.commercepayments.read
        - private_apps:
            - crm.objects.contacts.write
        - oauth2:
            - crm.objects.line_items.read
        - private_apps:
            - crm.objects.custom.sensitive.read
        - oauth2_legacy:
            - crm.objects.custom.read
        - oauth2:
            - crm.schemas.commercepayments.read
        - private_apps_legacy:
            - crm.objects.custom.read
        - oauth2:
            - crm.objects.line_items.write
        - private_apps:
            - crm.objects.line_items.write
        - private_apps:
            - crm.objects.custom.sensitive.write
        - oauth2:
            - crm.schemas.invoices.read
        - private_apps:
            - crm.schemas.invoices.read
        - private_apps:
            - crm.objects.contacts.sensitive.read
        - oauth2:
            - crm.objects.quotes.read
        - private_apps:
            - crm.objects.quotes.read
      description: Return a single pipeline object identified by its unique `{pipelineId}`.
      parameters:
        - name: objectType
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: pipelineId
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pipeline'
        default:
          $ref: '#/components/responses/Error'
    put:
      tags:
        - Pipelines
      summary: Replace a pipeline
      operationId: Pipelines_replacePipelineObject
      security:
        - oauth2_legacy:
            - tickets
        - private_apps_legacy:
            - tickets.sensitive
        - oauth2:
            - crm.schemas.deals.write
        - oauth2:
            - crm.objects.users.write
        - private_apps_legacy:
            - e-commerce
        - oauth2:
            - crm.schemas.contacts.write
        - oauth2:
            - crm.schemas.companies.write
        - private_apps_legacy:
            - contacts
        - private_apps:
            - crm.schemas.contacts.write
        - private_apps:
            - crm.schemas.companies.write
        - oauth2_legacy:
            - e-commerce
        - private_apps_legacy:
            - tickets
        - private_apps:
            - crm.objects.users.write
        - private_apps_legacy:
            - crm.schemas.custom.write
        - private_apps:
            - crm.schemas.deals.write
      description: >-
        Replace all the properties of an existing pipeline with the values
        provided. This will overwrite any existing pipeline stages. The updated
        pipeline will be returned in the response.
      parameters:
        - name: objectType
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: pipelineId
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: validateReferencesBeforeDelete
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: boolean
            default: false
        - name: validateDealStageUsagesBeforeDelete
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: boolean
            default: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PipelineInput'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pipeline'
        default:
          $ref: '#/components/responses/Error'
    delete:
      tags:
        - Pipelines
      summary: Delete a pipeline
      operationId: Pipelines_removeById
      security:
        - oauth2_legacy:
            - tickets
        - private_apps_legacy:
            - tickets.sensitive
        - oauth2:
            - crm.schemas.deals.write
        - oauth2:
            - crm.objects.users.write
        - private_apps_legacy:
            - e-commerce
        - oauth2:
            - crm.schemas.contacts.write
        - oauth2:
            - crm.schemas.companies.write
        - private_apps_legacy:
            - contacts
        - private_apps:
            - crm.schemas.contacts.write
        - private_apps:
            - crm.schemas.companies.write
        - oauth2_legacy:
            - e-commerce
        - private_apps_legacy:
            - tickets
        - private_apps:
            - crm.objects.users.write
        - private_apps_legacy:
            - crm.schemas.custom.write
        - private_apps:
            - crm.schemas.deals.write
      description: Delete the pipeline identified by `{pipelineId}`.
      parameters:
        - name: objectType
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: pipelineId
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: validateReferencesBeforeDelete
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: boolean
            default: false
        - name: validateDealStageUsagesBeforeDelete
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: boolean
            default: false
      responses:
        '204':
          description: No content
          content: {}
        default:
          $ref: '#/components/responses/Error'
    patch:
      tags:
        - Pipelines
      summary: Update a pipeline
      operationId: Pipelines_updatePipelineById
      security:
        - oauth2_legacy:
            - tickets
        - private_apps_legacy:
            - tickets.sensitive
        - oauth2:
            - crm.schemas.deals.write
        - oauth2:
            - crm.objects.users.write
        - private_apps_legacy:
            - e-commerce
        - oauth2:
            - crm.schemas.contacts.write
        - oauth2:
            - crm.schemas.companies.write
        - private_apps_legacy:
            - contacts
        - private_apps:
            - crm.schemas.contacts.write
        - private_apps:
            - crm.schemas.companies.write
        - oauth2_legacy:
            - e-commerce
        - private_apps_legacy:
            - tickets
        - private_apps:
            - crm.objects.users.write
        - private_apps_legacy:
            - crm.schemas.custom.write
        - private_apps:
            - crm.schemas.deals.write
      description: >-
        Perform a partial update of the pipeline identified by `{pipelineId}`.
        The updated pipeline will be returned in the response.
      parameters:
        - name: objectType
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: pipelineId
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: validateReferencesBeforeDelete
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: boolean
            default: false
        - name: validateDealStageUsagesBeforeDelete
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: boolean
            default: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PipelinePatchInput'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pipeline'
        default:
          $ref: '#/components/responses/Error'
  /crm/v3/pipelines/{objectType}/{pipelineId}/audit:
    get:
      tags:
        - Pipeline Audits
      summary: Return an audit of all changes to the pipeline
      operationId: PipelineAudits_getByPipelineId
      security:
        - oauth2_legacy:
            - media_bridge.read
        - private_apps_legacy:
            - tickets.sensitive
        - private_apps:
            - crm.objects.deals.read
        - private_apps_legacy:
            - timeline
        - private_apps:
            - crm.objects.subscriptions.read
        - private_apps_legacy:
            - crm.objects.marketing_events.read
        - oauth2_legacy:
            - crm.objects.marketing_events.write
        - oauth2:
            - crm.objects.deals.read
        - private_apps:
            - crm.objects.contacts.sensitive.write
        - private_apps_legacy:
            - contacts
        - oauth2:
            - crm.objects.subscriptions.read
        - private_apps:
            - crm.objects.owners.read
        - oauth2:
            - crm.objects.owners.read
        - oauth2_legacy:
            - crm.schemas.custom.read
        - private_apps:
            - crm.objects.companies.read
        - oauth2:
            - crm.schemas.quotes.read
        - private_apps:
            - crm.schemas.quotes.read
        - oauth2:
            - crm.objects.companies.read
        - oauth2_legacy:
            - crm.objects.marketing_events.read
        - private_apps:
            - crm.objects.companies.sensitive.read
        - private_apps_legacy:
            - crm.objects.marketing_events.write
        - private_apps_legacy:
            - crm.schemas.custom.read
        - private_apps:
            - crm.objects.deals.sensitive.write
        - private_apps_legacy:
            - crm.objects.goals.read
        - oauth2_legacy:
            - timeline
        - private_apps_legacy:
            - media_bridge.read
        - private_apps:
            - crm.objects.companies.write
        - oauth2:
            - crm.objects.companies.write
        - oauth2_legacy:
            - tickets
        - private_apps:
            - crm.objects.users.read
        - private_apps_legacy:
            - crm.objects.custom.write
        - oauth2:
            - crm.objects.users.read
        - oauth2_legacy:
            - crm.objects.feedback_submissions.read
        - private_apps_legacy:
            - e-commerce
        - oauth2:
            - crm.schemas.subscriptions.read
        - private_apps:
            - crm.schemas.subscriptions.read
        - private_apps:
            - crm.schemas.companies.read
        - oauth2:
            - crm.schemas.companies.read
        - private_apps:
            - crm.objects.deals.sensitive.read
        - oauth2_legacy:
            - e-commerce
        - private_apps_legacy:
            - tickets
        - private_apps_legacy:
            - crm.objects.feedback_submissions.read
        - oauth2_legacy:
            - crm.objects.goals.read
        - private_apps:
            - crm.schemas.line_items.read
        - oauth2_legacy:
            - crm.objects.custom.write
        - oauth2:
            - crm.schemas.line_items.read
        - oauth2:
            - crm.objects.contacts.read
        - private_apps:
            - crm.objects.contacts.read
        - private_apps:
            - crm.objects.companies.sensitive.write
        - private_apps:
            - crm.objects.deals.write
        - oauth2:
            - crm.objects.deals.write
        - oauth2:
            - crm.objects.invoices.read
        - private_apps:
            - crm.schemas.deals.read
        - private_apps:
            - crm.objects.invoices.read
        - oauth2:
            - crm.schemas.deals.read
        - oauth2:
            - crm.schemas.contacts.read
        - oauth2:
            - crm.objects.quotes.write
        - private_apps:
            - crm.objects.quotes.write
        - private_apps:
            - crm.schemas.contacts.read
        - private_apps:
            - crm.objects.line_items.read
        - oauth2:
            - crm.objects.contacts.write
        - private_apps:
            - crm.schemas.commercepayments.read
        - private_apps:
            - crm.objects.contacts.write
        - oauth2:
            - crm.objects.line_items.read
        - private_apps:
            - crm.objects.custom.sensitive.read
        - oauth2_legacy:
            - crm.objects.custom.read
        - oauth2:
            - crm.schemas.commercepayments.read
        - private_apps_legacy:
            - crm.objects.custom.read
        - oauth2:
            - crm.objects.line_items.write
        - private_apps:
            - crm.objects.line_items.write
        - private_apps:
            - crm.objects.custom.sensitive.write
        - oauth2:
            - crm.schemas.invoices.read
        - private_apps:
            - crm.schemas.invoices.read
        - private_apps:
            - crm.objects.contacts.sensitive.read
        - oauth2:
            - crm.objects.quotes.read
        - private_apps:
            - crm.objects.quotes.read
      description: >-
        Return a reverse chronological list of all mutations that have occurred
        on the pipeline identified by `{pipelineId}`.
      parameters:
        - name: objectType
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: pipelineId
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponsePublicAuditInfoNoPaging'
        default:
          $ref: '#/components/responses/Error'
  /crm/v3/pipelines/{objectType}/{pipelineId}/stages:
    get:
      tags:
        - Pipeline Stages
      summary: Return all stages of a pipeline
      operationId: PipelineStages_getAll
      security:
        - oauth2_legacy:
            - media_bridge.read
        - private_apps_legacy:
            - tickets.sensitive
        - private_apps:
            - crm.objects.deals.read
        - private_apps_legacy:
            - timeline
        - private_apps:
            - crm.objects.subscriptions.read
        - private_apps_legacy:
            - crm.objects.marketing_events.read
        - oauth2_legacy:
            - crm.objects.marketing_events.write
        - oauth2:
            - crm.objects.deals.read
        - private_apps:
            - crm.objects.contacts.sensitive.write
        - private_apps_legacy:
            - contacts
        - oauth2:
            - crm.objects.subscriptions.read
        - private_apps:
            - crm.objects.owners.read
        - oauth2:
            - crm.objects.owners.read
        - oauth2_legacy:
            - crm.schemas.custom.read
        - private_apps:
            - crm.objects.companies.read
        - oauth2:
            - crm.schemas.quotes.read
        - private_apps:
            - crm.schemas.quotes.read
        - oauth2:
            - crm.objects.companies.read
        - oauth2_legacy:
            - crm.objects.marketing_events.read
        - private_apps:
            - crm.objects.companies.sensitive.read
        - private_apps_legacy:
            - crm.objects.marketing_events.write
        - private_apps_legacy:
            - crm.schemas.custom.read
        - private_apps:
            - crm.objects.deals.sensitive.write
        - private_apps_legacy:
            - crm.objects.goals.read
        - oauth2_legacy:
            - timeline
        - private_apps_legacy:
            - media_bridge.read
        - private_apps:
            - crm.objects.companies.write
        - oauth2:
            - crm.objects.companies.write
        - oauth2_legacy:
            - tickets
        - private_apps:
            - crm.objects.users.read
        - private_apps_legacy:
            - crm.objects.custom.write
        - oauth2:
            - crm.objects.users.read
        - oauth2_legacy:
            - crm.objects.feedback_submissions.read
        - private_apps_legacy:
            - e-commerce
        - oauth2:
            - crm.schemas.subscriptions.read
        - private_apps:
            - crm.schemas.subscriptions.read
        - private_apps:
            - crm.schemas.companies.read
        - oauth2:
            - crm.schemas.companies.read
        - private_apps:
            - crm.objects.deals.sensitive.read
        - oauth2_legacy:
            - e-commerce
        - private_apps_legacy:
            - tickets
        - private_apps_legacy:
            - crm.objects.feedback_submissions.read
        - oauth2_legacy:
            - crm.objects.goals.read
        - private_apps:
            - crm.schemas.line_items.read
        - oauth2_legacy:
            - crm.objects.custom.write
        - oauth2:
            - crm.schemas.line_items.read
        - oauth2:
            - crm.objects.contacts.read
        - private_apps:
            - crm.objects.contacts.read
        - private_apps:
            - crm.objects.companies.sensitive.write
        - private_apps:
            - crm.objects.deals.write
        - oauth2:
            - crm.objects.deals.write
        - oauth2:
            - crm.objects.invoices.read
        - private_apps:
            - crm.schemas.deals.read
        - private_apps:
            - crm.objects.invoices.read
        - oauth2:
            - crm.schemas.deals.read
        - oauth2:
            - crm.schemas.contacts.read
        - oauth2:
            - crm.objects.quotes.write
        - private_apps:
            - crm.objects.quotes.write
        - private_apps:
            - crm.schemas.contacts.read
        - private_apps:
            - crm.objects.line_items.read
        - oauth2:
            - crm.objects.contacts.write
        - private_apps:
            - crm.schemas.commercepayments.read
        - private_apps:
            - crm.objects.contacts.write
        - oauth2:
            - crm.objects.line_items.read
        - private_apps:
            - crm.objects.custom.sensitive.read
        - oauth2_legacy:
            - crm.objects.custom.read
        - oauth2:
            - crm.schemas.commercepayments.read
        - private_apps_legacy:
            - crm.objects.custom.read
        - oauth2:
            - crm.objects.line_items.write
        - private_apps:
            - crm.objects.line_items.write
        - private_apps:
            - crm.objects.custom.sensitive.write
        - oauth2:
            - crm.schemas.invoices.read
        - private_apps:
            - crm.schemas.invoices.read
        - private_apps:
            - crm.objects.contacts.sensitive.read
        - oauth2:
            - crm.objects.quotes.read
        - private_apps:
            - crm.objects.quotes.read
      description: >-
        Return all the stages associated with the pipeline identified by
        `{pipelineId}`.
      parameters:
        - name: objectType
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: pipelineId
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponsePipelineStageNoPaging'
        default:
          $ref: '#/components/responses/Error'
    post:
      tags:
        - Pipeline Stages
      summary: Create a pipeline stage
      operationId: PipelineStages_createStageObject
      security:
        - oauth2_legacy:
            - tickets
        - private_apps_legacy:
            - tickets.sensitive
        - oauth2:
            - crm.schemas.deals.write
        - oauth2:
            - crm.objects.users.write
        - private_apps_legacy:
            - e-commerce
        - oauth2:
            - crm.schemas.contacts.write
        - oauth2:
            - crm.schemas.companies.write
        - private_apps_legacy:
            - contacts
        - private_apps:
            - crm.schemas.contacts.write
        - private_apps:
            - crm.schemas.companies.write
        - oauth2_legacy:
            - e-commerce
        - private_apps_legacy:
            - tickets
        - private_apps:
            - crm.objects.users.write
        - private_apps_legacy:
            - crm.schemas.custom.write
        - private_apps:
            - crm.schemas.deals.write
      description: >-
        Create a new stage associated with the pipeline identified by
        `{pipelineId}`. The entire stage object, including its unique ID, will
        be returned in the response.
      parameters:
        - name: objectType
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: pipelineId
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PipelineStageInput'
        required: true
      responses:
        '201':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineStage'
        default:
          $ref: '#/components/responses/Error'
  /crm/v3/pipelines/{objectType}:
    get:
      tags:
        - Pipelines
      summary: Retrieve all pipelines
      operationId: Pipelines_getAll
      security:
        - oauth2_legacy:
            - media_bridge.read
        - private_apps_legacy:
            - tickets.sensitive
        - private_apps:
            - crm.objects.deals.read
        - private_apps_legacy:
            - timeline
        - private_apps:
            - crm.objects.subscriptions.read
        - private_apps_legacy:
            - crm.objects.marketing_events.read
        - oauth2_legacy:
            - crm.objects.marketing_events.write
        - oauth2:
            - crm.objects.deals.read
        - private_apps:
            - crm.objects.contacts.sensitive.write
        - private_apps_legacy:
            - contacts
        - oauth2:
            - crm.objects.subscriptions.read
        - private_apps:
            - crm.objects.owners.read
        - oauth2:
            - crm.objects.owners.read
        - oauth2_legacy:
            - crm.schemas.custom.read
        - private_apps:
            - crm.objects.companies.read
        - oauth2:
            - crm.schemas.quotes.read
        - private_apps:
            - crm.schemas.quotes.read
        - oauth2:
            - crm.objects.companies.read
        - oauth2_legacy:
            - crm.objects.marketing_events.read
        - private_apps:
            - crm.objects.companies.sensitive.read
        - private_apps_legacy:
            - crm.objects.marketing_events.write
        - private_apps_legacy:
            - crm.schemas.custom.read
        - private_apps:
            - crm.objects.deals.sensitive.write
        - private_apps_legacy:
            - crm.objects.goals.read
        - oauth2_legacy:
            - timeline
        - private_apps_legacy:
            - media_bridge.read
        - private_apps:
            - crm.objects.companies.write
        - oauth2:
            - crm.objects.companies.write
        - oauth2_legacy:
            - tickets
        - private_apps:
            - crm.objects.users.read
        - private_apps_legacy:
            - crm.objects.custom.write
        - oauth2:
            - crm.objects.users.read
        - oauth2_legacy:
            - crm.objects.feedback_submissions.read
        - private_apps_legacy:
            - e-commerce
        - oauth2:
            - crm.schemas.subscriptions.read
        - private_apps:
            - crm.schemas.subscriptions.read
        - private_apps:
            - crm.schemas.companies.read
        - oauth2:
            - crm.schemas.companies.read
        - private_apps:
            - crm.objects.deals.sensitive.read
        - oauth2_legacy:
            - e-commerce
        - private_apps_legacy:
            - tickets
        - private_apps_legacy:
            - crm.objects.feedback_submissions.read
        - oauth2_legacy:
            - crm.objects.goals.read
        - private_apps:
            - crm.schemas.line_items.read
        - oauth2_legacy:
            - crm.objects.custom.write
        - oauth2:
            - crm.schemas.line_items.read
        - oauth2:
            - crm.objects.contacts.read
        - private_apps:
            - crm.objects.contacts.read
        - private_apps:
            - crm.objects.companies.sensitive.write
        - private_apps:
            - crm.objects.deals.write
        - oauth2:
            - crm.objects.deals.write
        - oauth2:
            - crm.objects.invoices.read
        - private_apps:
            - crm.schemas.deals.read
        - private_apps:
            - crm.objects.invoices.read
        - oauth2:
            - crm.schemas.deals.read
        - oauth2:
            - crm.schemas.contacts.read
        - oauth2:
            - crm.objects.quotes.write
        - private_apps:
            - crm.objects.quotes.write
        - private_apps:
            - crm.schemas.contacts.read
        - private_apps:
            - crm.objects.line_items.read
        - oauth2:
            - crm.objects.contacts.write
        - private_apps:
            - crm.schemas.commercepayments.read
        - private_apps:
            - crm.objects.contacts.write
        - oauth2:
            - crm.objects.line_items.read
        - private_apps:
            - crm.objects.custom.sensitive.read
        - oauth2_legacy:
            - crm.objects.custom.read
        - oauth2:
            - crm.schemas.commercepayments.read
        - private_apps_legacy:
            - crm.objects.custom.read
        - oauth2:
            - crm.objects.line_items.write
        - private_apps:
            - crm.objects.line_items.write
        - private_apps:
            - crm.objects.custom.sensitive.write
        - oauth2:
            - crm.schemas.invoices.read
        - private_apps:
            - crm.schemas.invoices.read
        - private_apps:
            - crm.objects.contacts.sensitive.read
        - oauth2:
            - crm.objects.quotes.read
        - private_apps:
            - crm.objects.quotes.read
      description: Return all pipelines for the object type specified by `{objectType}`.
      parameters:
        - name: objectType
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponsePipelineNoPaging'
        default:
          $ref: '#/components/responses/Error'
    post:
      tags:
        - Pipelines
      summary: Create a pipeline
      operationId: Pipelines_createNewPipelineObject
      security:
        - oauth2_legacy:
            - tickets
        - private_apps_legacy:
            - tickets.sensitive
        - oauth2:
            - crm.schemas.deals.write
        - oauth2:
            - crm.objects.users.write
        - private_apps_legacy:
            - e-commerce
        - oauth2:
            - crm.schemas.contacts.write
        - oauth2:
            - crm.schemas.companies.write
        - private_apps_legacy:
            - contacts
        - private_apps:
            - crm.schemas.contacts.write
        - private_apps:
            - crm.schemas.companies.write
        - oauth2_legacy:
            - e-commerce
        - private_apps_legacy:
            - tickets
        - private_apps:
            - crm.objects.users.write
        - private_apps_legacy:
            - crm.schemas.custom.write
        - private_apps:
            - crm.schemas.deals.write
      description: >-
        Create a new pipeline with the provided property values. The entire
        pipeline object, including its unique ID, will be returned in the
        response.
      parameters:
        - name: objectType
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PipelineInput'
        required: true
      responses:
        '201':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pipeline'
        default:
          $ref: '#/components/responses/Error'
  /crm/v3/pipelines/{objectType}/{pipelineId}/stages/{stageId}:
    get:
      tags:
        - Pipeline Stages
      summary: Return a pipeline stage by ID
      operationId: PipelineStages_getById
      security:
        - oauth2_legacy:
            - media_bridge.read
        - private_apps_legacy:
            - tickets.sensitive
        - private_apps:
            - crm.objects.deals.read
        - private_apps_legacy:
            - timeline
        - private_apps:
            - crm.objects.subscriptions.read
        - private_apps_legacy:
            - crm.objects.marketing_events.read
        - oauth2_legacy:
            - crm.objects.marketing_events.write
        - oauth2:
            - crm.objects.deals.read
        - private_apps:
            - crm.objects.contacts.sensitive.write
        - private_apps_legacy:
            - contacts
        - oauth2:
            - crm.objects.subscriptions.read
        - private_apps:
            - crm.objects.owners.read
        - oauth2:
            - crm.objects.owners.read
        - oauth2_legacy:
            - crm.schemas.custom.read
        - private_apps:
            - crm.objects.companies.read
        - oauth2:
            - crm.schemas.quotes.read
        - private_apps:
            - crm.schemas.quotes.read
        - oauth2:
            - crm.objects.companies.read
        - oauth2_legacy:
            - crm.objects.marketing_events.read
        - private_apps:
            - crm.objects.companies.sensitive.read
        - private_apps_legacy:
            - crm.objects.marketing_events.write
        - private_apps_legacy:
            - crm.schemas.custom.read
        - private_apps:
            - crm.objects.deals.sensitive.write
        - private_apps_legacy:
            - crm.objects.goals.read
        - oauth2_legacy:
            - timeline
        - private_apps_legacy:
            - media_bridge.read
        - private_apps:
            - crm.objects.companies.write
        - oauth2:
            - crm.objects.companies.write
        - oauth2_legacy:
            - tickets
        - private_apps:
            - crm.objects.users.read
        - private_apps_legacy:
            - crm.objects.custom.write
        - oauth2:
            - crm.objects.users.read
        - oauth2_legacy:
            - crm.objects.feedback_submissions.read
        - private_apps_legacy:
            - e-commerce
        - oauth2:
            - crm.schemas.subscriptions.read
        - private_apps:
            - crm.schemas.subscriptions.read
        - private_apps:
            - crm.schemas.companies.read
        - oauth2:
            - crm.schemas.companies.read
        - private_apps:
            - crm.objects.deals.sensitive.read
        - oauth2_legacy:
            - e-commerce
        - private_apps_legacy:
            - tickets
        - private_apps_legacy:
            - crm.objects.feedback_submissions.read
        - oauth2_legacy:
            - crm.objects.goals.read
        - private_apps:
            - crm.schemas.line_items.read
        - oauth2_legacy:
            - crm.objects.custom.write
        - oauth2:
            - crm.schemas.line_items.read
        - oauth2:
            - crm.objects.contacts.read
        - private_apps:
            - crm.objects.contacts.read
        - private_apps:
            - crm.objects.companies.sensitive.write
        - private_apps:
            - crm.objects.deals.write
        - oauth2:
            - crm.objects.deals.write
        - oauth2:
            - crm.objects.invoices.read
        - private_apps:
            - crm.schemas.deals.read
        - private_apps:
            - crm.objects.invoices.read
        - oauth2:
            - crm.schemas.deals.read
        - oauth2:
            - crm.schemas.contacts.read
        - oauth2:
            - crm.objects.quotes.write
        - private_apps:
            - crm.objects.quotes.write
        - private_apps:
            - crm.schemas.contacts.read
        - private_apps:
            - crm.objects.line_items.read
        - oauth2:
            - crm.objects.contacts.write
        - private_apps:
            - crm.schemas.commercepayments.read
        - private_apps:
            - crm.objects.contacts.write
        - oauth2:
            - crm.objects.line_items.read
        - private_apps:
            - crm.objects.custom.sensitive.read
        - oauth2_legacy:
            - crm.objects.custom.read
        - oauth2:
            - crm.schemas.commercepayments.read
        - private_apps_legacy:
            - crm.objects.custom.read
        - oauth2:
            - crm.objects.line_items.write
        - private_apps:
            - crm.objects.line_items.write
        - private_apps:
            - crm.objects.custom.sensitive.write
        - oauth2:
            - crm.schemas.invoices.read
        - private_apps:
            - crm.schemas.invoices.read
        - private_apps:
            - crm.objects.contacts.sensitive.read
        - oauth2:
            - crm.objects.quotes.read
        - private_apps:
            - crm.objects.quotes.read
      description: >-
        Return the stage identified by `{stageId}` associated with the pipeline
        identified by `{pipelineId}`.
      parameters:
        - name: objectType
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: pipelineId
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: stageId
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineStage'
        default:
          $ref: '#/components/responses/Error'
    put:
      tags:
        - Pipeline Stages
      summary: Replace a pipeline stage
      operationId: PipelineStages_replaceStageObject
      security:
        - oauth2_legacy:
            - tickets
        - private_apps_legacy:
            - tickets.sensitive
        - oauth2:
            - crm.schemas.deals.write
        - oauth2:
            - crm.objects.users.write
        - private_apps_legacy:
            - e-commerce
        - oauth2:
            - crm.schemas.contacts.write
        - oauth2:
            - crm.schemas.companies.write
        - private_apps_legacy:
            - contacts
        - private_apps:
            - crm.schemas.contacts.write
        - private_apps:
            - crm.schemas.companies.write
        - oauth2_legacy:
            - e-commerce
        - private_apps_legacy:
            - tickets
        - private_apps:
            - crm.objects.users.write
        - private_apps_legacy:
            - crm.schemas.custom.write
        - private_apps:
            - crm.schemas.deals.write
      description: >-
        Replace all the properties of an existing pipeline stage with the values
        provided. The updated stage will be returned in the response.
      parameters:
        - name: objectType
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: pipelineId
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: stageId
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PipelineStageInput'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineStage'
        default:
          $ref: '#/components/responses/Error'
    delete:
      tags:
        - Pipeline Stages
      summary: Delete a pipeline stage
      operationId: PipelineStages_deleteStage
      security:
        - oauth2_legacy:
            - tickets
        - private_apps_legacy:
            - tickets.sensitive
        - oauth2:
            - crm.schemas.deals.write
        - oauth2:
            - crm.objects.users.write
        - private_apps_legacy:
            - e-commerce
        - oauth2:
            - crm.schemas.contacts.write
        - oauth2:
            - crm.schemas.companies.write
        - private_apps_legacy:
            - contacts
        - private_apps:
            - crm.schemas.contacts.write
        - private_apps:
            - crm.schemas.companies.write
        - oauth2_legacy:
            - e-commerce
        - private_apps_legacy:
            - tickets
        - private_apps:
            - crm.objects.users.write
        - private_apps_legacy:
            - crm.schemas.custom.write
        - private_apps:
            - crm.schemas.deals.write
      description: >-
        Delete the pipeline stage identified by `{stageId}` associated with the
        pipeline identified by `{pipelineId}`.
      parameters:
        - name: objectType
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: pipelineId
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: stageId
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        '204':
          description: No content
          content: {}
        default:
          $ref: '#/components/responses/Error'
    patch:
      tags:
        - Pipeline Stages
      summary: Update a pipeline stage
      operationId: PipelineStages_updateStageById
      security:
        - oauth2_legacy:
            - tickets
        - private_apps_legacy:
            - tickets.sensitive
        - oauth2:
            - crm.schemas.deals.write
        - oauth2:
            - crm.objects.users.write
        - private_apps_legacy:
            - e-commerce
        - oauth2:
            - crm.schemas.contacts.write
        - oauth2:
            - crm.schemas.companies.write
        - private_apps_legacy:
            - contacts
        - private_apps:
            - crm.schemas.contacts.write
        - private_apps:
            - crm.schemas.companies.write
        - oauth2_legacy:
            - e-commerce
        - private_apps_legacy:
            - tickets
        - private_apps:
            - crm.objects.users.write
        - private_apps_legacy:
            - crm.schemas.custom.write
        - private_apps:
            - crm.schemas.deals.write
      description: >-
        Perform a partial update of the pipeline stage identified by `{stageId}`
        associated with the pipeline identified by `{pipelineId}`. Any
        properties not included in this update will keep their existing values.
        The updated stage will be returned in the response.
      parameters:
        - name: objectType
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: pipelineId
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: stageId
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PipelineStagePatchInput'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineStage'
        default:
          $ref: '#/components/responses/Error'
  /crm/v3/objects/companies/batch/read:
    post:
      tags:
        - Batch
      summary: Read a batch of companies by internal ID, or unique property values
      operationId: Batch_readCompaniesByProperties
      security:
        - oauth2:
            - crm.objects.companies.read
        - private_apps:
            - crm.objects.companies.read
      parameters:
        - description: Whether to return only results that have been archived.
          name: archived
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: boolean
            default: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchReadInputSimplePublicObjectId'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponseSimplePublicObject'
        '207':
          description: multiple statuses
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponseSimplePublicObjectWithErrors'
        default:
          $ref: '#/components/responses/Error'
  /crm/v3/objects/companies/{companyId}:
    get:
      tags:
        - Basic
      summary: Read
      operationId: Basic_readCompanyObject
      security:
        - oauth2:
            - crm.objects.companies.read
        - private_apps:
            - crm.objects.companies.read
      description: >-
        Read an Object identified by `{companyId}`. `{companyId}` refers to the
        internal object ID by default, or optionally any unique property value
        as specified by the `idProperty` query param.  Control what is returned
        via the `properties` query param.
      parameters:
        - name: companyId
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - description: >-
            A comma separated list of the properties to be returned in the
            response. If any of the specified properties are not present on the
            requested object(s), they will be ignored.
          name: properties
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - description: >-
            A comma separated list of the properties to be returned along with
            their history of previous values. If any of the specified properties
            are not present on the requested object(s), they will be ignored.
          name: propertiesWithHistory
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - description: >-
            A comma separated list of object types to retrieve associated IDs
            for. If any of the specified associations do not exist, they will be
            ignored.
          name: associations
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - description: Whether to return only results that have been archived.
          name: archived
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: boolean
            default: false
        - description: The name of a property whose values are unique for this object type
          name: idProperty
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimplePublicObjectWithAssociations'
        default:
          $ref: '#/components/responses/Error'
    delete:
      tags:
        - Basic
      summary: Archive
      operationId: Basic_archiveCompany
      security:
        - oauth2:
            - crm.objects.companies.write
        - private_apps:
            - crm.objects.companies.write
      description: Move an Object identified by `{companyId}` to the recycling bin.
      parameters:
        - name: companyId
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        '204':
          description: No content
          content: {}
        default:
          $ref: '#/components/responses/Error'
    patch:
      tags:
        - Basic
      summary: Update
      operationId: Basic_updateCompanyObject
      security:
        - oauth2:
            - crm.objects.companies.write
        - private_apps:
            - crm.objects.companies.write
      description: >-
        Perform a partial update of an Object identified by `{companyId}`.
        `{companyId}` refers to the internal object ID by default, or optionally
        any unique property value as specified by the `idProperty` query param.
        Provided property values will be overwritten. Read-only and non-existent
        properties will be ignored. Properties values can be cleared by passing
        an empty string.
      parameters:
        - name: companyId
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - description: The name of a property whose values are unique for this object type
          name: idProperty
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SimplePublicObjectInput'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimplePublicObject'
        default:
          $ref: '#/components/responses/Error'
  /crm/v3/objects/companies/merge:
    post:
      tags:
        - Public_Object
      summary: Merge two companies with same type
      operationId: PublicObject_mergeCompaniesSameType
      security:
        - oauth2:
            - crm.objects.companies.write
        - private_apps:
            - crm.objects.companies.write
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicMergeInput'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimplePublicObject'
        default:
          $ref: '#/components/responses/Error'
  /crm/v3/objects/companies/batch/archive:
    post:
      tags:
        - Batch
      summary: Archive a batch of companies by ID
      operationId: Batch_archiveCompaniesByIdBatch
      security:
        - oauth2:
            - crm.objects.companies.write
        - private_apps:
            - crm.objects.companies.write
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchInputSimplePublicObjectId'
        required: true
      responses:
        '204':
          description: No content
          content: {}
        default:
          $ref: '#/components/responses/Error'
  /crm/v3/objects/companies/batch/create:
    post:
      tags:
        - Batch
      summary: Create a batch of companies
      operationId: Batch_createCompaniesBatch
      security:
        - oauth2:
            - crm.objects.companies.write
        - private_apps:
            - crm.objects.companies.write
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchInputSimplePublicObjectInputForCreate'
        required: true
      responses:
        '201':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponseSimplePublicObject'
        '207':
          description: multiple statuses
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponseSimplePublicObjectWithErrors'
        default:
          $ref: '#/components/responses/Error'
  /crm/v3/objects/companies/batch/update:
    post:
      tags:
        - Batch
      summary: Update a batch of companies
      operationId: Batch_updateCompaniesBatch
      security:
        - oauth2:
            - crm.objects.companies.write
        - private_apps:
            - crm.objects.companies.write
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchInputSimplePublicObjectBatchInput'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponseSimplePublicObject'
        '207':
          description: multiple statuses
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponseSimplePublicObjectWithErrors'
        default:
          $ref: '#/components/responses/Error'
  /crm/v3/objects/companies/gdpr-delete:
    post:
      tags:
        - GDPR
      summary: GDPR DELETE
      operationId: Gdpr_permanentlyDeleteContact
      security:
        - oauth2:
            - crm.objects.companies.write
        - private_apps:
            - crm.objects.companies.write
      description: >-
        Permanently delete a contact and all associated content to follow GDPR.
        Use optional property 'idProperty' set to 'email' to identify contact by
        email address. If email address is not found, the email address will be
        added to a blocklist and prevent it from being used in the future.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicGdprDeleteInput'
        required: true
      responses:
        '204':
          description: No content
          content: {}
        default:
          $ref: '#/components/responses/Error'
  /crm/v3/objects/companies:
    get:
      tags:
        - Basic
      summary: List
      operationId: Basic_listCompaniesPage
      security:
        - oauth2:
            - crm.objects.companies.read
        - private_apps:
            - crm.objects.companies.read
      description: >-
        Read a page of companies. Control what is returned via the `properties`
        query param.
      parameters:
        - description: The maximum number of results to display per page.
          name: limit
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            default: 10
        - description: >-
            The paging cursor token of the last successfully read resource will
            be returned as the `paging.next.after` JSON property of a paged
            response containing more results.
          name: after
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: string
        - description: >-
            A comma separated list of the properties to be returned in the
            response. If any of the specified properties are not present on the
            requested object(s), they will be ignored.
          name: properties
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - description: >-
            A comma separated list of the properties to be returned along with
            their history of previous values. If any of the specified properties
            are not present on the requested object(s), they will be ignored.
            Usage of this parameter will reduce the maximum number of objects
            that can be read by a single request.
          name: propertiesWithHistory
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - description: >-
            A comma separated list of object types to retrieve associated IDs
            for. If any of the specified associations do not exist, they will be
            ignored.
          name: associations
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - description: Whether to return only results that have been archived.
          name: archived
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/CollectionResponseSimplePublicObjectWithAssociationsForwardPaging
        default:
          $ref: '#/components/responses/Error'
    post:
      tags:
        - Basic
      summary: Create
      operationId: Basic_createCompanyObject
      security:
        - oauth2:
            - crm.objects.companies.write
        - private_apps:
            - crm.objects.companies.write
      description: >-
        Create a company with the given properties and return a copy of the
        object, including the ID. Documentation and examples for creating
        standard companies is provided.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SimplePublicObjectInputForCreate'
        required: true
      responses:
        '201':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimplePublicObject'
        default:
          $ref: '#/components/responses/Error'
  /crm/v3/objects/companies/search:
    post:
      tags:
        - Search
      operationId: Search_companyObjects
      security:
        - oauth2:
            - crm.objects.companies.read
        - private_apps:
            - crm.objects.companies.read
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicObjectSearchRequest'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/CollectionResponseWithTotalSimplePublicObjectForwardPaging
        default:
          $ref: '#/components/responses/Error'
      x-hubspot-rate-limit-exemptions:
        - ten-secondly
  /crm/v3/extensions/calling/{appId}/settings:
    get:
      tags:
        - Settings
      summary: Get calling settings
      operationId: Settings_getCallingConfig
      security:
        - developer_hapikey: []
      description: Returns the calling extension settings configured for your app.
      parameters:
        - description: The ID of the target app.
          name: appId
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SettingsResponse'
              example:
                name: HubPhone
                url: https://www.example.com/hubspot/iframe
                width: 200
                height: 350
                isReady: true
                supportsCustomObjects: true
                createdAt: '2019-10-30T03:30:17.883Z'
                updatedAt: '2019-11-30T03:30:17.883Z'
        default:
          $ref: '#/components/responses/Error'
    post:
      tags:
        - Settings
      summary: Configure a calling extension
      operationId: Settings_configureCallingExtension
      security:
        - developer_hapikey: []
      description: >-
        Used to set the menu label, target iframe URL, and dimensions for your
        calling extension.
      parameters:
        - description: The ID of the target app.
          name: appId
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: integer
            format: int32
      requestBody:
        description: Settings state to create with.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SettingsRequest'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SettingsResponse'
              example:
                name: HubPhone
                url: https://www.example.com/hubspot/iframe
                width: 200
                height: 350
                isReady: true
                supportsCustomObjects: true
                createdAt: '2019-10-30T03:30:17.883Z'
                updatedAt: '2019-11-30T03:30:17.883Z'
        default:
          $ref: '#/components/responses/Error'
    delete:
      tags:
        - Settings
      summary: Delete calling settings
      operationId: Settings_deleteCallingExtension
      security:
        - developer_hapikey: []
      description: >-
        Deletes this calling extension. This will remove your service as an
        option for all connected accounts.
      parameters:
        - description: The ID of the target app.
          name: appId
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: integer
            format: int32
      responses:
        '204':
          description: No content
          content: {}
        default:
          $ref: '#/components/responses/Error'
    patch:
      tags:
        - Settings
      summary: Update settings
      operationId: Settings_updateCallingExtension
      security:
        - developer_hapikey: []
      description: Updates existing calling extension settings.
      parameters:
        - description: The ID of the target app.
          name: appId
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: integer
            format: int32
      requestBody:
        description: Updated details for the settings.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SettingsPatchRequest'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SettingsResponse'
              example:
                name: HubPhone
                url: https://www.example.com/hubspot/iframe
                width: 200
                height: 350
                isReady: true
                supportsCustomObjects: true
                createdAt: '2019-10-30T03:30:17.883Z'
                updatedAt: '2019-11-30T03:30:17.883Z'
        default:
          $ref: '#/components/responses/Error'
  /crm/v3/extensions/calling/{appId}/settings/recording:
    get:
      tags:
        - Recording_Settings
      operationId: RecordingSettings_getByAppId
      security:
        - developer_hapikey: []
      parameters:
        - name: appId
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordingSettingsResponse'
        default:
          $ref: '#/components/responses/Error'
    post:
      tags:
        - Recording_Settings
      operationId: RecordingSettings_setCallRecording
      security:
        - developer_hapikey: []
      parameters:
        - name: appId
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: integer
            format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecordingSettingsRequest'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordingSettingsResponse'
        default:
          $ref: '#/components/responses/Error'
    patch:
      tags:
        - Recording_Settings
      operationId: RecordingSettings_updateCallingSettings
      security:
        - developer_hapikey: []
      parameters:
        - name: appId
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: integer
            format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecordingSettingsPatchRequest'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordingSettingsResponse'
        default:
          $ref: '#/components/responses/Error'
  /crm/v3/objects/quotes/batch/read:
    post:
      tags:
        - Batch
      summary: Read a batch of quotes by internal ID, or unique property values
      operationId: Batch_readQuotesByPropertyValues
      security:
        - oauth2:
            - crm.objects.quotes.read
        - private_apps:
            - crm.objects.quotes.read
      parameters:
        - description: Whether to return only results that have been archived.
          name: archived
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: boolean
            default: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchReadInputSimplePublicObjectId'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponseSimplePublicObject'
        '207':
          description: multiple statuses
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponseSimplePublicObjectWithErrors'
        default:
          $ref: '#/components/responses/Error'
  /crm/v3/objects/quotes/{quoteId}:
    get:
      tags:
        - Basic
      summary: Read
      operationId: Basic_readQuoteById
      security:
        - oauth2:
            - crm.objects.quotes.read
        - private_apps:
            - crm.objects.quotes.read
      description: >-
        Read an Object identified by `{quoteId}`. `{quoteId}` refers to the
        internal object ID by default, or optionally any unique property value
        as specified by the `idProperty` query param.  Control what is returned
        via the `properties` query param.
      parameters:
        - name: quoteId
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - description: >-
            A comma separated list of the properties to be returned in the
            response. If any of the specified properties are not present on the
            requested object(s), they will be ignored.
          name: properties
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - description: >-
            A comma separated list of the properties to be returned along with
            their history of previous values. If any of the specified properties
            are not present on the requested object(s), they will be ignored.
          name: propertiesWithHistory
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - description: >-
            A comma separated list of object types to retrieve associated IDs
            for. If any of the specified associations do not exist, they will be
            ignored.
          name: associations
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - description: Whether to return only results that have been archived.
          name: archived
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: boolean
            default: false
        - description: The name of a property whose values are unique for this object type
          name: idProperty
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimplePublicObjectWithAssociations'
        default:
          $ref: '#/components/responses/Error'
    delete:
      tags:
        - Basic
      summary: Archive
      operationId: Basic_archiveQuoteObject
      security:
        - oauth2:
            - crm.objects.quotes.write
        - private_apps:
            - crm.objects.quotes.write
      description: Move an Object identified by `{quoteId}` to the recycling bin.
      parameters:
        - name: quoteId
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        '204':
          description: No content
          content: {}
        default:
          $ref: '#/components/responses/Error'
    patch:
      tags:
        - Basic
      summary: Update
      operationId: Basic_updateQuoteObject
      security:
        - oauth2:
            - crm.objects.quotes.write
        - private_apps:
            - crm.objects.quotes.write
      description: >-
        Perform a partial update of an Object identified by `{quoteId}`.
        `{quoteId}` refers to the internal object ID by default, or optionally
        any unique property value as specified by the `idProperty` query param.
        Provided property values will be overwritten. Read-only and non-existent
        properties will be ignored. Properties values can be cleared by passing
        an empty string.
      parameters:
        - name: quoteId
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - description: The name of a property whose values are unique for this object type
          name: idProperty
          in: query
[...]
