openapi: 3.0.1
info:
  title: Innoship API
  description: Api service implementation (version:6.0.1.513)
  version: v1
  termsOfService: https://example.com/terms
  contact:
    name: Andrei Paul
    email: andrei@innoship.ro
  license:
    name: Use under LICX
    url: https://example.com/license
servers:
  - url: https://api.innoship.com
tags:
  - name: Order
  - name: ClientLocation
  - name: Location
  - name: Label
  - name: OfflineOrder
  - name: Courier
  - name: Manifest
  - name: Track
  - name: Voucher
  - name: Feedback
  - name: Notifications
  - name: Price
paths:
  /api/ClientLocation:
    get:
      tags:
        - ClientLocation
      operationId: ClientLocation_getDetail
      parameters:
        - name: countryCode
          in: query
          schema:
            type: string
        - description: The requested API version
          name: api-version
          in: query
          required: true
          schema:
            type: string
            default: '1.0'
        - description: The requested API version
          name: api-version
          in: header
          schema:
            type: string
            default: '1.0'
      responses:
        '200':
          description: Success
    post:
      tags:
        - ClientLocation
      operationId: ClientLocation_createNew
      parameters:
        - description: The requested API version
          name: api-version
          in: query
          required: true
          schema:
            type: string
            default: '1.0'
        - description: The requested API version
          name: api-version
          in: header
          schema:
            type: string
            default: '1.0'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateLocationDto'
          text/json:
            schema:
              $ref: '#/components/schemas/UpdateLocationDto'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/UpdateLocationDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/UpdateLocationDto'
      responses:
        '200':
          description: Success
  /api/ClientLocation/{id}:
    put:
      tags:
        - ClientLocation
      operationId: ClientLocation_updateById
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - description: The requested API version
          name: api-version
          in: query
          required: true
          schema:
            type: string
            default: '1.0'
        - description: The requested API version
          name: api-version
          in: header
          schema:
            type: string
            default: '1.0'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateLocationDto'
          text/json:
            schema:
              $ref: '#/components/schemas/UpdateLocationDto'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/UpdateLocationDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/UpdateLocationDto'
      responses:
        '200':
          description: Success
    delete:
      tags:
        - ClientLocation
      operationId: ClientLocation_removeById
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - description: The requested API version
          name: api-version
          in: query
          required: true
          schema:
            type: string
            default: '1.0'
        - description: The requested API version
          name: api-version
          in: header
          schema:
            type: string
            default: '1.0'
      responses:
        '200':
          description: Success
    get:
      tags:
        - ClientLocation
      operationId: ClientLocation_getById
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - description: The requested API version
          name: api-version
          in: query
          required: true
          schema:
            type: string
            default: '1.0'
        - description: The requested API version
          name: api-version
          in: header
          schema:
            type: string
            default: '1.0'
      responses:
        '200':
          description: Success
  /api/ClientLocation/Summary:
    post:
      tags:
        - ClientLocation
      operationId: ClientLocation_createSummaryReport
      parameters:
        - description: The requested API version
          name: api-version
          in: query
          required: true
          schema:
            type: string
            default: '1.0'
        - description: The requested API version
          name: api-version
          in: header
          schema:
            type: string
            default: '1.0'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LocationFilter'
          text/json:
            schema:
              $ref: '#/components/schemas/LocationFilter'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/LocationFilter'
          application/*+json:
            schema:
              $ref: '#/components/schemas/LocationFilter'
      responses:
        '200':
          description: Success
  /api/ClientLocation/Validate:
    post:
      tags:
        - ClientLocation
      operationId: ClientLocation_validateLocationDetails
      parameters:
        - description: The requested API version
          name: api-version
          in: query
          required: true
          schema:
            type: string
            default: '1.0'
        - description: The requested API version
          name: api-version
          in: header
          schema:
            type: string
            default: '1.0'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LocationDto'
          text/json:
            schema:
              $ref: '#/components/schemas/LocationDto'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/LocationDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/LocationDto'
      responses:
        '200':
          description: Success
  /api/ClientLocation/{locationId}/Courier:
    post:
      tags:
        - ClientLocation
      operationId: ClientLocation_createCourier
      parameters:
        - name: locationId
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - description: The requested API version
          name: api-version
          in: query
          required: true
          schema:
            type: string
            default: '1.0'
        - description: The requested API version
          name: api-version
          in: header
          schema:
            type: string
            default: '1.0'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLocationCourierServicesDto'
          text/json:
            schema:
              $ref: '#/components/schemas/CreateLocationCourierServicesDto'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CreateLocationCourierServicesDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CreateLocationCourierServicesDto'
      responses:
        '200':
          description: Success
  /api/ClientLocation/{locationId}/Courier/{courierId}:
    delete:
      tags:
        - ClientLocation
      operationId: ClientLocation_removeCourierById
      parameters:
        - name: locationId
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: courierId
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: force
          in: query
          schema:
            type: boolean
        - name: isEmagMarketPlace
          in: query
          schema:
            type: boolean
        - description: The requested API version
          name: api-version
          in: query
          required: true
          schema:
            type: string
            default: '1.0'
        - description: The requested API version
          name: api-version
          in: header
          schema:
            type: string
            default: '1.0'
      responses:
        '200':
          description: Success
  /api/ClientLocation/{locationId}/CourierServices:
    put:
      tags:
        - ClientLocation
      operationId: ClientLocation_updateCourierServices
      parameters:
        - name: locationId
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: applyToAllLocations
          in: query
          schema:
            type: boolean
        - description: The requested API version
          name: api-version
          in: query
          required: true
          schema:
            type: string
            default: '1.0'
        - description: The requested API version
          name: api-version
          in: header
          schema:
            type: string
            default: '1.0'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClientLocationUpdateCourierServicesRequest5'
          text/json:
            schema:
              $ref: '#/components/schemas/ClientLocationUpdateCourierServicesRequest6'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ClientLocationUpdateCourierServicesRequest4'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ClientLocationUpdateCourierServicesRequest7'
      responses:
        '200':
          description: Success
    patch:
      tags:
        - ClientLocation
      operationId: ClientLocation_updateCourierServices
      parameters:
        - name: locationId
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: applyToAllLocations
          in: query
          schema:
            type: boolean
        - description: The requested API version
          name: api-version
          in: query
          required: true
          schema:
            type: string
            default: '1.0'
        - description: The requested API version
          name: api-version
          in: header
          schema:
            type: string
            default: '1.0'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClientLocationUpdateCourierServicesRequest1'
          text/json:
            schema:
              $ref: '#/components/schemas/ClientLocationUpdateCourierServicesRequest2'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ClientLocationUpdateCourierServicesRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ClientLocationUpdateCourierServicesRequest3'
      responses:
        '200':
          description: Success
  /api/Courier/RequestPickup:
    post:
      tags:
        - Courier
      summary: Request pickup to courier
      operationId: Courier_requestPickup
      parameters:
        - description: The requested API version
          name: api-version
          in: query
          required: true
          schema:
            type: string
            default: '1.0'
        - description: The requested API version
          name: api-version
          in: header
          schema:
            type: string
            default: '1.0'
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PickupRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/PickupRequest'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/PickupRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/PickupRequest'
      responses:
        '200':
          description: Pickup requested to courier
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PickupResponse'
        '400':
          description: Unable to request pickup due to errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unable to authorize request
  /api/Courier/All:
    get:
      tags:
        - Courier
      summary: Get all couriers
      operationId: Courier_getAll
      parameters:
        - description: The requested API version
          name: api-version
          in: query
          required: true
          schema:
            type: string
            default: '1.0'
        - description: The requested API version
          name: api-version
          in: header
          schema:
            type: string
            default: '1.0'
      responses:
        '200':
          description: List of couriers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CourierGetAllResponse'
        '401':
          description: Unable to authorize request
  /api/Feedback/{from}/{to}:
    get:
      tags:
        - Feedback
      operationId: Feedback_getBetweenDates
      parameters:
        - name: from
          in: path
          required: true
          schema:
            type: string
            format: date-time
        - name: to
          in: path
          required: true
          schema:
            type: string
            format: date-time
        - description: The requested API version
          name: api-version
          in: query
          required: true
          schema:
            type: string
            default: '1.0'
        - description: The requested API version
          name: api-version
          in: header
          schema:
            type: string
            default: '1.0'
      responses:
        '200':
          description: Success
  /api/Label/by-courier/{courierId}/awb/{awb}:
    get:
      tags:
        - Label
      summary: Gets the label for the specified courier awb number
      operationId: Label_getByCourierAwb
      parameters:
        - description: ''
          name: courierId
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - description: ''
          name: awb
          in: path
          required: true
          schema:
            type: string
        - description: ''
          name: type
          in: query
          schema:
            type: string
            default: PDF
        - description: ''
          name: format
          in: query
          schema:
            type: string
            default: A6
        - description: ''
          name: includeVoucher
          in: query
          schema:
            type: boolean
            default: false
        - description: ''
          name: useFile
          in: query
          schema:
            type: boolean
            default: true
        - description: ''
          name: skipCache
          in: query
          schema:
            type: boolean
            default: false
        - description: The requested API version
          name: api-version
          in: query
          required: true
          schema:
            type: string
            default: '1.0'
        - description: The requested API version
          name: api-version
          in: header
          schema:
            type: string
            default: '1.0'
      responses:
        '200':
          description: Returns the label
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelResponse'
            application/pdf:
              schema:
                $ref: '#/components/schemas/LabelResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/LabelResponse'
        '400':
          description: Unable to get the label due to validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            application/pdf:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unable to authorize request
  /api/Label/by-courier/{courierId}/voucher/{awb}:
    get:
      tags:
        - Label
      summary: Gets the voucher label for the specified courier awb number
      operationId: Label_getVoucherByCourierAwb
      parameters:
        - description: ''
          name: courierId
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - description: ''
          name: awb
          in: path
          required: true
          schema:
            type: string
        - description: ''
          name: type
          in: query
          schema:
            type: string
            default: PDF
        - description: ''
          name: format
          in: query
          schema:
            type: string
            default: A6
        - description: ''
          name: useFile
          in: query
          schema:
            type: boolean
            default: true
        - description: ''
          name: skipCache
          in: query
          schema:
            type: boolean
            default: false
        - description: The requested API version
          name: api-version
          in: query
          required: true
          schema:
            type: string
            default: '1.0'
        - description: The requested API version
          name: api-version
          in: header
          schema:
            type: string
            default: '1.0'
      responses:
        '200':
          description: Returns the label
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelResponse'
            application/pdf:
              schema:
                $ref: '#/components/schemas/LabelResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/LabelResponse'
        '400':
          description: Unable to get the label due to validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            application/pdf:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unable to authorize request
  /api/Label/by-courier/{courierId}/awb/{awb}/parcel/{barcodes}:
    get:
      tags:
        - Label
      summary: Gets the label for the specified courier parcel barcode and order awb
      operationId: Label_getByAwbAndParcel
      parameters:
        - description: ''
          name: courierId
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - description: ''
          name: awb
          in: path
          required: true
          schema:
            type: string
        - description: ''
          name: barcodes
          in: path
          required: true
          schema:
            type: string
        - description: ''
          name: type
          in: query
          schema:
            type: string
            default: PDF
        - description: ''
          name: format
          in: query
          schema:
            type: string
            default: A6
        - description: ''
          name: useFile
          in: query
          schema:
            type: boolean
            default: true
        - description: ''
          name: skipCache
          in: query
          schema:
            type: boolean
            default: false
        - description: The requested API version
          name: api-version
          in: query
          required: true
          schema:
            type: string
            default: '1.0'
        - description: The requested API version
          name: api-version
          in: header
          schema:
            type: string
            default: '1.0'
      responses:
        '200':
          description: Returns the label
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelResponse'
            application/pdf:
              schema:
                $ref: '#/components/schemas/LabelResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/LabelResponse'
        '400':
          description: Unable to get the label due to validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            application/pdf:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unable to authorize request
  /api/Label/bulk:
    post:
      tags:
        - Label
      summary: Create bulk labels operation
      operationId: Label_createBulk
      parameters:
        - description: The requested API version
          name: api-version
          in: query
          required: true
          schema:
            type: string
            default: '1.0'
        - description: The requested API version
          name: api-version
          in: header
          schema:
            type: string
            default: '1.0'
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkLabelApiRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/BulkLabelApiRequest'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/BulkLabelApiRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/BulkLabelApiRequest'
      responses:
        '200':
          description: Returns OperationId
        '400':
          description: Unable to create bulk labels operation due to validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            application/pdf:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unable to authorize request
  /api/Label/bulk/{operationId}:
    get:
      tags:
        - Label
      summary: Get bulk labels by operationId
      operationId: Label_getBulkByOperationId
      parameters:
        - description: ''
          name: operationId
          in: path
          required: true
          schema:
            type: string
        - description: The requested API version
          name: api-version
          in: query
          required: true
          schema:
            type: string
            default: '1.0'
        - description: The requested API version
          name: api-version
          in: header
          schema:
            type: string
            default: '1.0'
      responses:
        '200':
          description: Returns the label
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelResponse'
            application/pdf:
              schema:
                $ref: '#/components/schemas/LabelResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/LabelResponse'
        '400':
          description: Unable to get the label due to validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            application/pdf:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unable to authorize request
  /api/Location/ClientLocations:
    get:
      tags:
        - Location
      operationId: Location_getClientLocations
      responses:
        '200':
          description: Success
  /api/Location/FixedLocation/{id}:
    get:
      tags:
        - Location
      operationId: Location_getFixedLocationById
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Success
  /api/Location/FixedLocations:
    get:
      tags:
        - Location
      operationId: Location_getFixedLocations
      parameters:
        - name: Courier
          in: query
          schema:
            $ref: '#/components/schemas/Courier'
        - name: CountryCode
          in: query
          schema:
            type: string
        - name: CountyName
          in: query
          schema:
            type: string
        - name: LocalityName
          in: query
          schema:
            type: string
        - name: FixedLocationType
          in: query
          schema:
            $ref: '#/components/schemas/FixedLocationType'
        - name: ShowInactive
          in: query
          schema:
            type: boolean
        - name: RestrictionParcelsCount
          in: query
          schema:
            type: integer
            format: int32
        - name: RestrictionSizeHeight
          in: query
          schema:
            type: integer
            format: int32
        - name: RestrictionSizeWidth
          in: query
          schema:
            type: integer
            format: int32
        - name: RestrictionSizeLength
          in: query
          schema:
            type: integer
            format: int32
        - name: ExternalLocationId
          in: query
          schema:
            type: string
        - name: Latitude
          in: query
          schema:
            type: number
            format: double
        - name: Longitude
          in: query
          schema:
            type: number
            format: double
        - name: Radius
          in: query
          schema:
            type: number
            format: double
      responses:
        '200':
          description: Success
  /api/Location/Countries:
    get:
      tags:
        - Location
      operationId: Location_getCountryList
      responses:
        '200':
          description: Success
  /api/Location/Counties/{countryCode}:
    get:
      tags:
        - Location
      operationId: Location_getCountiesByCountryCode
      parameters:
        - name: countryCode
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
  /api/Location/Localities/{countyId}:
    get:
      tags:
        - Location
      operationId: Location_getLocalitiesByCountyId
      parameters:
        - name: countyId
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Success
  /api/Location/Postalcodes/{CountryCode}/{PostalCode}:
    get:
      tags:
        - Location
      operationId: Location_getPostalCodeDetails
      parameters:
        - name: CountryCode
          in: path
          required: true
          schema:
            maxLength: 2
            minLength: 2
            pattern: ^[a-z]*$
            type: string
        - name: PostalCode
          in: path
          required: true
          schema:
            type: string
        - name: CourierId
          in: query
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostalCodeInfo'
            text/json:
              schema:
                $ref: '#/components/schemas/PostalCodeInfo'
            text/plain:
              schema:
                $ref: '#/components/schemas/PostalCodeInfo'
  /api/Location/Postalcodes/{LocalityId}:
    get:
      tags:
        - Location
      operationId: Location_getPostalcodesByLocalityId
      parameters:
        - name: LocalityId
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: CourierId
          in: query
          schema:
            type: integer
            format: int32
        - name: filter
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/LocationGetPostalcodesByLocalityId200Response
            text/json:
              schema:
                $ref: >-
                  #/components/schemas/LocationGetPostalcodesByLocalityId200Response
            text/plain:
              schema:
                $ref: >-
                  #/components/schemas/LocationGetPostalcodesByLocalityIdResponse
  /api/Location/Postalcodes/Country/{CountryCode}:
    get:
      tags:
        - Location
      operationId: Location_getPostalCodesByCountry
      parameters:
        - name: CountryCode
          in: path
          required: true
          schema:
            maxLength: 2
            minLength: 2
            pattern: ^[a-z]*$
            type: string
        - name: CourierId
          in: query
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostalCodeStructured'
            text/json:
              schema:
                $ref: '#/components/schemas/PostalCodeStructured'
            text/plain:
              schema:
                $ref: '#/components/schemas/PostalCodeStructured'
  /api/Manifest:
    post:
      tags:
        - Manifest
      summary: Requests pickup and get manifest id
      operationId: Manifest_requestPickupAndManifestId
      parameters:
        - description: The requested API version
          name: api-version
          in: query
          required: true
          schema:
            type: string
            default: '1.0'
        - description: The requested API version
          name: api-version
          in: header
          schema:
            type: string
            default: '1.0'
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManifestRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ManifestRequest'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ManifestRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ManifestRequest'
      responses:
        '200':
          description: Returns ManifestId
        '400':
          description: Unable to process due to validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unable to authorize request
    get:
      tags:
        - Manifest
      summary: Requests manifest report by id
      operationId: Manifest_reportById
      parameters:
        - description: ''
          name: manifestId
          in: query
          schema:
            type: integer
            format: int64
        - description: The requested API version
          name: api-version
          in: query
          required: true
          schema:
            type: string
            default: '1.0'
        - description: The requested API version
          name: api-version
          in: header
          schema:
            type: string
            default: '1.0'
      responses:
        '200':
          description: Returns PDF
        '400':
          description: Unable to process due to validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            application/pdf:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unable to authorize request
  /api/Notifications/sendsms:
    post:
      tags:
        - Notifications
      operationId: Notifications_sendSmsNotification
      parameters:
        - description: The requested API version
          name: api-version
          in: query
          required: true
          schema:
            type: string
            default: '1.0'
        - description: The requested API version
          name: api-version
          in: header
          schema:
            type: string
            default: '1.0'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendSmsRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/SendSmsRequest'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/SendSmsRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/SendSmsRequest'
      responses:
        '200':
          description: Success
  /api/OfflineOrder/Activate:
    put:
      tags:
        - OfflineOrder
      summary: Activate Offline Orders
      operationId: OfflineOrder_activateOrder
      parameters:
        - description: The requested API version
          name: api-version
          in: query
          required: true
          schema:
            type: string
            default: '1.0'
        - description: The requested API version
          name: api-version
          in: header
          schema:
            type: string
            default: '1.0'
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OfflineOrderActivateOrderRequest1'
          text/json:
            schema:
              $ref: '#/components/schemas/OfflineOrderActivateOrderRequest2'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/OfflineOrderActivateOrderRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/OfflineOrderActivateOrderRequest3'
      responses:
        '200':
          description: Activated successfully
        '400':
          description: Unable to process due to validation errors
        '401':
          description: Unable to authorize request
  /api/OfflineOrder/Edit:
    put:
      tags:
        - OfflineOrder
      summary: Edit Offline Orders
      operationId: OfflineOrder_updateOrderDetails
      parameters:
        - description: The requested API version
          name: api-version
          in: query
          required: true
          schema:
            type: string
            default: '1.0'
        - description: The requested API version
          name: api-version
          in: header
          schema:
            type: string
            default: '1.0'
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OfflineOrderUpdateOrderDetailsRequest1'
          text/json:
            schema:
              $ref: '#/components/schemas/OfflineOrderUpdateOrderDetailsRequest2'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/OfflineOrderUpdateOrderDetailsRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/OfflineOrderUpdateOrderDetailsRequest3'
      responses:
        '200':
          description: Activated successfully
        '400':
          description: Unable to process due to validation errors
        '401':
          description: Unable to authorize request
  /api/OfflineOrder/Add:
    post:
      tags:
        - OfflineOrder
      summary: Add Offline Orders
      operationId: OfflineOrder_addOrder
      parameters:
        - description: The requested API version
          name: api-version
          in: query
          required: true
          schema:
            type: string
            default: '1.0'
        - description: The requested API version
          name: api-version
          in: header
          schema:
            type: string
            default: '1.0'
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OfflineOrderAddOrderRequest1'
          text/json:
            schema:
              $ref: '#/components/schemas/OfflineOrderAddOrderRequest2'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/OfflineOrderAddOrderRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/OfflineOrderAddOrderRequest3'
      responses:
        '200':
          description: Added successfully
        '400':
          description: Unable to process due to validation errors
        '401':
          description: Unable to authorize request
  /api/Order:
    post:
      tags:
        - Order
      summary: Creates a new order
      operationId: Order_createNewOrder
      parameters:
        - description: The requested API version
          name: api-version
          in: query
          required: true
          schema:
            type: string
            default: '1.0'
        - description: The requested API version
          name: api-version
          in: header
          schema:
            type: string
            default: '1.0'
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderRequest'
            example:
              parameters:
                async: true
                getParcelsBarcodes: false
                includeCourierResponse: false
                includePriceBreakdown: false
                includeAddressInResponse: false
                consolidateOrder: false
                overwriteLocationAddressWithSenderDetails: false
              serviceId: 1
              courierId: null
              shipmentDate: '2024-04-16T18:55:25.3243166+00:00'
              shipmentDateEnd: '0001-01-01T00:00:00+00:00'
              addressFrom: null
              addressTo:
                name: Name of recipient
                contactPerson: Contact for recipient
                country: RO
                countryName: null
                countyId: null
                localityId: null
                countryId: null
                countyName: Bucuresti
                localityName: Bucuresti
                addressText: Adress text 10
                streetType: null
                streetName: null
                streetNumber: null
                postalCode: '123456'
                phone: '+40734123456'
                email: email@emailserver.com
                fixedLocationId: null
                fixedLocationName: null
                courierFixedLocationId: null
              addressReturn: null
              payment: Sender
              content:
                envelopeCount: 0
                parcelsCount: 1
                palettesCount: 0
                totalWeight: 1
                contents: t-shirt
                package: box
                oversizedPackage: false
                parcels:
                  - sequenceNo: 1
                    size:
                      width: 20
                      height: 50
                      length: 20
                    weight: 1
                    type: Parcel
                    reference1: invoice for order 222
                    reference2: null
                    reference3: null
                    customerBarcode: null
                    dangerousGood: null
                invoiceNumber: invoice 0001
                invoiceDate: '0001-01-01T00:00:00Z'
                invoiceValue: 13
                invoiceValueCurrency: EUR
                articles:
                  - description: article description
                    quantity: 1
                    countryOfOrigin: BG
                    tariff: tariff
                    weightNet: 1
                    weightGross: 1
                    pricePerPieceAmount: 13
                    pricePerPieceAmountCurrency: EUR
                    sku: '1'
              extra:
                bankRepaymentAmount: 32.12
                bankRepaymentCurrency: null
                cashOnDeliveryAmount: null
                cashOnDeliveryAmountCurrency: null
                cashOnDeliveryPayoutToLocation: null
                declaredValueAmount: null
                declaredValueAmountCurrency: null
                openPackage: true
                saturdayDelivery: null
                insuranceAmount: null
                insuranceAmountCurrency: null
                reference1: null
                reference2: null
                reference3: null
                reference4: null
                returnOfDocuments: null
                returnOfDocumentsComment: null
                returnPackage: null
                returnVoucher: null
                bank: null
                bankIBAN: null
                bankAccountHolder: null
                customsDeclaration:
                  exporter:
                    name: Name of Exporter
                    contactPerson: Contact for Exporter
                    country: BG
                    countryName: null
                    countyId: null
                    localityId: null
                    countryId: null
                    countyName: Varna
                    localityName: Varna
                    addressText: Exporter Adress
                    streetType: null
                    streetName: null
                    streetNumber: null
                    postalCode: '1234'
                    phone: '+40734123456'
                    email: email@emailserver.com
                    fixedLocationId: null
                    fixedLocationName: null
                    courierFixedLocationId: null
                  importer:
                    name: Name of Importer
                    contactPerson: Contact for Importer
                    country: RO
                    countryName: null
                    countyId: null
                    localityId: null
                    countryId: null
                    countyName: Bucuresti
                    localityName: Bucuresti
                    addressText: Importer Adress
                    streetType: null
                    streetName: null
                    streetNumber: null
                    postalCode: '123456'
                    phone: '+40734123456'
                    email: email@emailserver.com
                    fixedLocationId: null
                    fixedLocationName: null
                    courierFixedLocationId: null
                  exporterTaxId: exporter taxId
                  exporterEORI: eori 12345
                  exporterBN: BN
                  importerTaxId: importer taxId
                  importerEORI: eori 54321
                  reason: NonCommercialShipment
                  incoterm: incoterm
                  attachments:
                    - name: file
                      content: text
                marketPlace: null
                uitCode: null
              externalClientLocation: RO
              externalOrderId: null
              metadata: extra data information
              sourceChannel: Swagger
              observation: Call one hour before
              customAttributes: null
              clientSettings: null
          text/json:
            schema:
              $ref: '#/components/schemas/OrderRequest'
            example:
              parameters:
                async: true
                getParcelsBarcodes: false
                includeCourierResponse: false
                includePriceBreakdown: false
                includeAddressInResponse: false
                consolidateOrder: false
                overwriteLocationAddressWithSenderDetails: false
              serviceId: 1
              courierId: null
              shipmentDate: '2024-04-16T18:55:25.3243166+00:00'
              shipmentDateEnd: '0001-01-01T00:00:00+00:00'
              addressFrom: null
              addressTo:
                name: Name of recipient
                contactPerson: Contact for recipient
                country: RO
                countryName: null
                countyId: null
                localityId: null
                countryId: null
                countyName: Bucuresti
                localityName: Bucuresti
                addressText: Adress text 10
                streetType: null
                streetName: null
                streetNumber: null
                postalCode: '123456'
                phone: '+40734123456'
                email: email@emailserver.com
                fixedLocationId: null
                fixedLocationName: null
                courierFixedLocationId: null
              addressReturn: null
              payment: Sender
              content:
                envelopeCount: 0
                parcelsCount: 1
                palettesCount: 0
                totalWeight: 1
                contents: t-shirt
                package: box
                oversizedPackage: false
                parcels:
                  - sequenceNo: 1
                    size:
                      width: 20
                      height: 50
                      length: 20
                    weight: 1
                    type: Parcel
                    reference1: invoice for order 222
                    reference2: null
                    reference3: null
                    customerBarcode: null
                    dangerousGood: null
                invoiceNumber: invoice 0001
                invoiceDate: '0001-01-01T00:00:00Z'
                invoiceValue: 13
                invoiceValueCurrency: EUR
                articles:
                  - description: article description
                    quantity: 1
                    countryOfOrigin: BG
                    tariff: tariff
                    weightNet: 1
                    weightGross: 1
                    pricePerPieceAmount: 13
                    pricePerPieceAmountCurrency: EUR
                    sku: '1'
              extra:
                bankRepaymentAmount: 32.12
                bankRepaymentCurrency: null
                cashOnDeliveryAmount: null
                cashOnDeliveryAmountCurrency: null
                cashOnDeliveryPayoutToLocation: null
                declaredValueAmount: null
                declaredValueAmountCurrency: null
                openPackage: true
                saturdayDelivery: null
                insuranceAmount: null
                insuranceAmountCurrency: null
                reference1: null
                reference2: null
                reference3: null
                reference4: null
                returnOfDocuments: null
                returnOfDocumentsComment: null
                returnPackage: null
                returnVoucher: null
                bank: null
                bankIBAN: null
                bankAccountHolder: null
                customsDeclaration:
                  exporter:
                    name: Name of Exporter
                    contactPerson: Contact for Exporter
                    country: BG
                    countryName: null
                    countyId: null
                    localityId: null
                    countryId: null
                    countyName: Varna
                    localityName: Varna
                    addressText: Exporter Adress
                    streetType: null
                    streetName: null
                    streetNumber: null
                    postalCode: '1234'
                    phone: '+40734123456'
                    email: email@emailserver.com
                    fixedLocationId: null
                    fixedLocationName: null
                    courierFixedLocationId: null
                  importer:
                    name: Name of Importer
                    contactPerson: Contact for Importer
                    country: RO
                    countryName: null
                    countyId: null
                    localityId: null
                    countryId: null
                    countyName: Bucuresti
                    localityName: Bucuresti
                    addressText: Importer Adress
                    streetType: null
                    streetName: null
                    streetNumber: null
                    postalCode: '123456'
                    phone: '+40734123456'
                    email: email@emailserver.com
                    fixedLocationId: null
                    fixedLocationName: null
                    courierFixedLocationId: null
                  exporterTaxId: exporter taxId
                  exporterEORI: eori 12345
                  exporterBN: BN
                  importerTaxId: importer taxId
                  importerEORI: eori 54321
                  reason: NonCommercialShipment
                  incoterm: incoterm
                  attachments:
                    - name: file
                      content: text
                marketPlace: null
                uitCode: null
              externalClientLocation: RO
              externalOrderId: null
              metadata: extra data information
              sourceChannel: Swagger
              observation: Call one hour before
              customAttributes: null
              clientSettings: null
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/OrderRequest'
            example:
              parameters:
                async: true
                getParcelsBarcodes: false
                includeCourierResponse: false
                includePriceBreakdown: false
                includeAddressInResponse: false
                consolidateOrder: false
                overwriteLocationAddressWithSenderDetails: false
              serviceId: 1
              courierId: null
              shipmentDate: '2024-04-16T18:55:25.3243166+00:00'
              shipmentDateEnd: '0001-01-01T00:00:00+00:00'
              addressFrom: null
              addressTo:
                name: Name of recipient
                contactPerson: Contact for recipient
                country: RO
                countryName: null
                countyId: null
                localityId: null
                countryId: null
                countyName: Bucuresti
                localityName: Bucuresti
                addressText: Adress text 10
                streetType: null
                streetName: null
                streetNumber: null
                postalCode: '123456'
                phone: '+40734123456'
                email: email@emailserver.com
                fixedLocationId: null
                fixedLocationName: null
                courierFixedLocationId: null
              addressReturn: null
              payment: Sender
              content:
                envelopeCount: 0
                parcelsCount: 1
                palettesCount: 0
                totalWeight: 1
                contents: t-shirt
                package: box
                oversizedPackage: false
                parcels:
                  - sequenceNo: 1
                    size:
                      width: 20
                      height: 50
                      length: 20
                    weight: 1
                    type: Parcel
                    reference1: invoice for order 222
                    reference2: null
                    reference3: null
                    customerBarcode: null
                    dangerousGood: null
                invoiceNumber: invoice 0001
                invoiceDate: '0001-01-01T00:00:00Z'
                invoiceValue: 13
                invoiceValueCurrency: EUR
                articles:
                  - description: article description
                    quantity: 1
                    countryOfOrigin: BG
                    tariff: tariff
                    weightNet: 1
                    weightGross: 1
                    pricePerPieceAmount: 13
                    pricePerPieceAmountCurrency: EUR
                    sku: '1'
              extra:
                bankRepaymentAmount: 32.12
                bankRepaymentCurrency: null
                cashOnDeliveryAmount: null
                cashOnDeliveryAmountCurrency: null
                cashOnDeliveryPayoutToLocation: null
                declaredValueAmount: null
                declaredValueAmountCurrency: null
                openPackage: true
                saturdayDelivery: null
                insuranceAmount: null
                insuranceAmountCurrency: null
                reference1: null
                reference2: null
                reference3: null
                reference4: null
                returnOfDocuments: null
                returnOfDocumentsComment: null
                returnPackage: null
                returnVoucher: null
                bank: null
                bankIBAN: null
                bankAccountHolder: null
                customsDeclaration:
                  exporter:
                    name: Name of Exporter
                    contactPerson: Contact for Exporter
                    country: BG
                    countryName: null
                    countyId: null
                    localityId: null
                    countryId: null
                    countyName: Varna
                    localityName: Varna
                    addressText: Exporter Adress
                    streetType: null
                    streetName: null
                    streetNumber: null
                    postalCode: '1234'
                    phone: '+40734123456'
                    email: email@emailserver.com
                    fixedLocationId: null
                    fixedLocationName: null
                    courierFixedLocationId: null
                  importer:
                    name: Name of Importer
                    contactPerson: Contact for Importer
                    country: RO
                    countryName: null
                    countyId: null
                    localityId: null
                    countryId: null
                    countyName: Bucuresti
                    localityName: Bucuresti
                    addressText: Importer Adress
                    streetType: null
                    streetName: null
                    streetNumber: null
                    postalCode: '123456'
                    phone: '+40734123456'
                    email: email@emailserver.com
                    fixedLocationId: null
                    fixedLocationName: null
                    courierFixedLocationId: null
                  exporterTaxId: exporter taxId
                  exporterEORI: eori 12345
                  exporterBN: BN
                  importerTaxId: importer taxId
                  importerEORI: eori 54321
                  reason: NonCommercialShipment
                  incoterm: incoterm
                  attachments:
                    - name: file
                      content: text
                marketPlace: null
                uitCode: null
              externalClientLocation: RO
              externalOrderId: null
              metadata: extra data information
              sourceChannel: Swagger
              observation: Call one hour before
              customAttributes: null
              clientSettings: null
          application/*+json:
            schema:
              $ref: '#/components/schemas/OrderRequest'
            example:
              parameters:
                async: true
                getParcelsBarcodes: false
                includeCourierResponse: false
                includePriceBreakdown: false
                includeAddressInResponse: false
                consolidateOrder: false
                overwriteLocationAddressWithSenderDetails: false
              serviceId: 1
              courierId: null
              shipmentDate: '2024-04-16T18:55:25.3243166+00:00'
              shipmentDateEnd: '0001-01-01T00:00:00+00:00'
              addressFrom: null
              addressTo:
                name: Name of recipient
                contactPerson: Contact for recipient
                country: RO
                countryName: null
                countyId: null
                localityId: null
                countryId: null
                countyName: Bucuresti
                localityName: Bucuresti
                addressText: Adress text 10
                streetType: null
                streetName: null
                streetNumber: null
                postalCode: '123456'
                phone: '+40734123456'
                email: email@emailserver.com
                fixedLocationId: null
                fixedLocationName: null
                courierFixedLocationId: null
              addressReturn: null
              payment: Sender
              content:
                envelopeCount: 0
                parcelsCount: 1
                palettesCount: 0
                totalWeight: 1
                contents: t-shirt
                package: box
                oversizedPackage: false
                parcels:
                  - sequenceNo: 1
                    size:
                      width: 20
                      height: 50
                      length: 20
                    weight: 1
                    type: Parcel
                    reference1: invoice for order 222
                    reference2: null
                    reference3: null
                    customerBarcode: null
                    dangerousGood: null
                invoiceNumber: invoice 0001
                invoiceDate: '0001-01-01T00:00:00Z'
                invoiceValue: 13
                invoiceValueCurrency: EUR
                articles:
                  - description: article description
                    quantity: 1
                    countryOfOrigin: BG
                    tariff: tariff
                    weightNet: 1
                    weightGross: 1
                    pricePerPieceAmount: 13
                    pricePerPieceAmountCurrency: EUR
                    sku: '1'
              extra:
                bankRepaymentAmount: 32.12
                bankRepaymentCurrency: null
                cashOnDeliveryAmount: null
                cashOnDeliveryAmountCurrency: null
                cashOnDeliveryPayoutToLocation: null
                declaredValueAmount: null
                declaredValueAmountCurrency: null
                openPackage: true
                saturdayDelivery: null
                insuranceAmount: null
                insuranceAmountCurrency: null
                reference1: null
                reference2: null
                reference3: null
                reference4: null
                returnOfDocuments: null
                returnOfDocumentsComment: null
                returnPackage: null
                returnVoucher: null
                bank: null
                bankIBAN: null
                bankAccountHolder: null
                customsDeclaration:
                  exporter:
                    name: Name of Exporter
                    contactPerson: Contact for Exporter
                    country: BG
                    countryName: null
                    countyId: null
                    localityId: null
                    countryId: null
                    countyName: Varna
                    localityName: Varna
                    addressText: Exporter Adress
                    streetType: null
                    streetName: null
                    streetNumber: null
                    postalCode: '1234'
                    phone: '+40734123456'
                    email: email@emailserver.com
                    fixedLocationId: null
                    fixedLocationName: null
                    courierFixedLocationId: null
                  importer:
                    name: Name of Importer
                    contactPerson: Contact for Importer
                    country: RO
                    countryName: null
                    countyId: null
                    localityId: null
                    countryId: null
                    countyName: Bucuresti
                    localityName: Bucuresti
                    addressText: Importer Adress
                    streetType: null
                    streetName: null
                    streetNumber: null
                    postalCode: '123456'
                    phone: '+40734123456'
                    email: email@emailserver.com
                    fixedLocationId: null
                    fixedLocationName: null
                    courierFixedLocationId: null
                  exporterTaxId: exporter taxId
                  exporterEORI: eori 12345
                  exporterBN: BN
                  importerTaxId: importer taxId
                  importerEORI: eori 54321
                  reason: NonCommercialShipment
                  incoterm: incoterm
                  attachments:
                    - name: file
                      content: text
                marketPlace: null
                uitCode: null
              externalClientLocation: RO
              externalOrderId: null
              metadata: extra data information
              sourceChannel: Swagger
              observation: Call one hour before
              customAttributes: null
              clientSettings: null
      responses:
        '201':
          description: Creates an new order in the system
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponse'
              example:
                clientOrderId: 662
                courierShipmentId: '877551879'
                courierShipmentVoucher: null
                courier: 1
                courierParcelsBarcodes: null
                price:
                  amount: 13.36
                  vat: 2.54
                  totalAmount: 15.9
                  currency: RON
                  priceComponents: null
                calculatedDeliveryDate: '2019-10-03T00:00:00Z'
                trackPageUrl: null
                courierTrackPageUrl: null
                returnToLockerCode: null
                courierResponse: null
                extra: null
                address: null
        '400':
          description: Unable to create the order due to validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unable to authorize request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/Order/simulate:
    post:
      tags:
        - Order
      operationId: Order_simulateOrder
      parameters:
        - description: The requested API version
          name: api-version
          in: query
          required: true
          schema:
            type: string
            default: '1.0'
        - description: The requested API version
          name: api-version
          in: header
          schema:
            type: string
            default: '1.0'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderRequest'
            example:
              parameters:
                async: true
                getParcelsBarcodes: false
                includeCourierResponse: false
                includePriceBreakdown: false
                includeAddressInResponse: false
                consolidateOrder: false
                overwriteLocationAddressWithSenderDetails: false
              serviceId: 1
              courierId: null
              shipmentDate: '2024-04-16T18:55:25.3258039+00:00'
              shipmentDateEnd: '0001-01-01T00:00:00+00:00'
              addressFrom: null
              addressTo:
                name: Name of recipient
                contactPerson: Contact for recipient
                country: RO
                countryName: null
                countyId: null
                localityId: null
                countryId: null
                countyName: Bucuresti
                localityName: Bucuresti
                addressText: Adress text 10
                streetType: null
                streetName: null
                streetNumber: null
                postalCode: '123456'
                phone: '+40734123456'
                email: email@emailserver.com
                fixedLocationId: null
                fixedLocationName: null
                courierFixedLocationId: null
              addressReturn: null
              payment: Sender
              content:
                envelopeCount: 0
                parcelsCount: 1
                palettesCount: 0
                totalWeight: 1
                contents: t-shirt
                package: box
                oversizedPackage: false
                parcels:
                  - sequenceNo: 1
                    size:
                      width: 20
                      height: 50
                      length: 20
                    weight: 1
                    type: Parcel
                    reference1: invoice for order 222
                    reference2: null
                    reference3: null
                    customerBarcode: null
                    dangerousGood: null
                invoiceNumber: invoice 0001
                invoiceDate: '0001-01-01T00:00:00Z'
                invoiceValue: 13
                invoiceValueCurrency: EUR
                articles:
                  - description: article description
                    quantity: 1
                    countryOfOrigin: BG
                    tariff: tariff
                    weightNet: 1
                    weightGross: 1
                    pricePerPieceAmount: 13
                    pricePerPieceAmountCurrency: EUR
                    sku: '1'
              extra:
                bankRepaymentAmount: 32.12
                bankRepaymentCurrency: null
                cashOnDeliveryAmount: null
                cashOnDeliveryAmountCurrency: null
                cashOnDeliveryPayoutToLocation: null
                declaredValueAmount: null
                declaredValueAmountCurrency: null
                openPackage: true
                saturdayDelivery: null
                insuranceAmount: null
                insuranceAmountCurrency: null
                reference1: null
                reference2: null
                reference3: null
                reference4: null
                returnOfDocuments: null
                returnOfDocumentsComment: null
                returnPackage: null
                returnVoucher: null
                bank: null
                bankIBAN: null
                bankAccountHolder: null
                customsDeclaration:
                  exporter:
                    name: Name of Exporter
                    contactPerson: Contact for Exporter
                    country: BG
                    countryName: null
                    countyId: null
                    localityId: null
                    countryId: null
                    countyName: Varna
                    localityName: Varna
                    addressText: Exporter Adress
                    streetType: null
                    streetName: null
                    streetNumber: null
                    postalCode: '1234'
                    phone: '+40734123456'
                    email: email@emailserver.com
                    fixedLocationId: null
                    fixedLocationName: null
                    courierFixedLocationId: null
                  importer:
                    name: Name of Importer
                    contactPerson: Contact for Importer
                    country: RO
                    countryName: null
                    countyId: null
                    localityId: null
                    countryId: null
                    countyName: Bucuresti
                    localityName: Bucuresti
                    addressText: Importer Adress
                    streetType: null
                    streetName: null
                    streetNumber: null
                    postalCode: '123456'
                    phone: '+40734123456'
                    email: email@emailserver.com
                    fixedLocationId: null
                    fixedLocationName: null
                    courierFixedLocationId: null
                  exporterTaxId: exporter taxId
                  exporterEORI: eori 12345
                  exporterBN: BN
                  importerTaxId: importer taxId
                  importerEORI: eori 54321
                  reason: NonCommercialShipment
                  incoterm: incoterm
                  attachments:
                    - name: file
                      content: text
                marketPlace: null
                uitCode: null
              externalClientLocation: RO
              externalOrderId: null
              metadata: extra data information
              sourceChannel: Swagger
              observation: Call one hour before
              customAttributes: null
              clientSettings: null
          text/json:
            schema:
              $ref: '#/components/schemas/OrderRequest'
            example:
              parameters:
                async: true
                getParcelsBarcodes: false
                includeCourierResponse: false
                includePriceBreakdown: false
                includeAddressInResponse: false
                consolidateOrder: false
                overwriteLocationAddressWithSenderDetails: false
              serviceId: 1
              courierId: null
              shipmentDate: '2024-04-16T18:55:25.3258039+00:00'
              shipmentDateEnd: '0001-01-01T00:00:00+00:00'
              addressFrom: null
              addressTo:
                name: Name of recipient
                contactPerson: Contact for recipient
                country: RO
                countryName: null
                countyId: null
                localityId: null
                countryId: null
                countyName: Bucuresti
                localityName: Bucuresti
                addressText: Adress text 10
                streetType: null
                streetName: null
                streetNumber: null
                postalCode: '123456'
                phone: '+40734123456'
                email: email@emailserver.com
                fixedLocationId: null
                fixedLocationName: null
                courierFixedLocationId: null
              addressReturn: null
              payment: Sender
              content:
                envelopeCount: 0
                parcelsCount: 1
                palettesCount: 0
                totalWeight: 1
                contents: t-shirt
                package: box
                oversizedPackage: false
                parcels:
                  - sequenceNo: 1
                    size:
                      width: 20
                      height: 50
                      length: 20
                    weight: 1
                    type: Parcel
                    reference1: invoice for order 222
                    reference2: null
                    reference3: null
                    customerBarcode: null
                    dangerousGood: null
                invoiceNumber: invoice 0001
                invoiceDate: '0001-01-01T00:00:00Z'
                invoiceValue: 13
                invoiceValueCurrency: EUR
                articles:
                  - description: article description
                    quantity: 1
                    countryOfOrigin: BG
                    tariff: tariff
                    weightNet: 1
                    weightGross: 1
                    pricePerPieceAmount: 13
                    pricePerPieceAmountCurrency: EUR
                    sku: '1'
              extra:
                bankRepaymentAmount: 32.12
                bankRepaymentCurrency: null
                cashOnDeliveryAmount: null
                cashOnDeliveryAmountCurrency: null
                cashOnDeliveryPayoutToLocation: null
                declaredValueAmount: null
                declaredValueAmountCurrency: null
                openPackage: true
                saturdayDelivery: null
                insuranceAmount: null
                insuranceAmountCurrency: null
                reference1: null
                reference2: null
                reference3: null
                reference4: null
                returnOfDocuments: null
                returnOfDocumentsComment: null
                returnPackage: null
                returnVoucher: null
                bank: null
                bankIBAN: null
                bankAccountHolder: null
                customsDeclaration:
                  exporter:
                    name: Name of Exporter
                    contactPerson: Contact for Exporter
                    country: BG
                    countryName: null
                    countyId: null
                    localityId: null
                    countryId: null
                    countyName: Varna
                    localityName: Varna
                    addressText: Exporter Adress
                    streetType: null
                    streetName: null
                    streetNumber: null
                    postalCode: '1234'
                    phone: '+40734123456'
                    email: email@emailserver.com
                    fixedLocationId: null
                    fixedLocationName: null
                    courierFixedLocationId: null
                  importer:
                    name: Name of Importer
                    contactPerson: Contact for Importer
                    country: RO
                    countryName: null
                    countyId: null
                    localityId: null
                    countryId: null
                    countyName: Bucuresti
                    localityName: Bucuresti
                    addressText: Importer Adress
                    streetType: null
                    streetName: null
                    streetNumber: null
                    postalCode: '123456'
                    phone: '+40734123456'
                    email: email@emailserver.com
                    fixedLocationId: null
                    fixedLocationName: null
                    courierFixedLocationId: null
                  exporterTaxId: exporter taxId
                  exporterEORI: eori 12345
                  exporterBN: BN
                  importerTaxId: importer taxId
                  importerEORI: eori 54321
                  reason: NonCommercialShipment
                  incoterm: incoterm
                  attachments:
                    - name: file
                      content: text
                marketPlace: null
                uitCode: null
              externalClientLocation: RO
              externalOrderId: null
              metadata: extra data information
              sourceChannel: Swagger
              observation: Call one hour before
              customAttributes: null
              clientSettings: null
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/OrderRequest'
            example:
              parameters:
                async: true
                getParcelsBarcodes: false
                includeCourierResponse: false
                includePriceBreakdown: false
                includeAddressInResponse: false
                consolidateOrder: false
                overwriteLocationAddressWithSenderDetails: false
              serviceId: 1
              courierId: null
              shipmentDate: '2024-04-16T18:55:25.3258039+00:00'
              shipmentDateEnd: '0001-01-01T00:00:00+00:00'
              addressFrom: null
              addressTo:
                name: Name of recipient
                contactPerson: Contact for recipient
                country: RO
                countryName: null
                countyId: null
                localityId: null
                countryId: null
                countyName: Bucuresti
                localityName: Bucuresti
                addressText: Adress text 10
                streetType: null
                streetName: null
                streetNumber: null
                postalCode: '123456'
                phone: '+40734123456'
                email: email@emailserver.com
                fixedLocationId: null
                fixedLocationName: null
                courierFixedLocationId: null
              addressReturn: null
              payment: Sender
              content:
                envelopeCount: 0
                parcelsCount: 1
                palettesCount: 0
                totalWeight: 1
                contents: t-shirt
                package: box
                oversizedPackage: false
                parcels:
                  - sequenceNo: 1
                    size:
                      width: 20
                      height: 50
                      length: 20
                    weight: 1
                    type: Parcel
                    reference1: invoice for order 222
                    reference2: null
                    reference3: null
                    customerBarcode: null
                    dangerousGood: null
                invoiceNumber: invoice 0001
                invoiceDate: '0001-01-01T00:00:00Z'
                invoiceValue: 13
                invoiceValueCurrency: EUR
                articles:
                  - description: article description
                    quantity: 1
                    countryOfOrigin: BG
                    tariff: tariff
                    weightNet: 1
                    weightGross: 1
                    pricePerPieceAmount: 13
                    pricePerPieceAmountCurrency: EUR
                    sku: '1'
              extra:
                bankRepaymentAmount: 32.12
                bankRepaymentCurrency: null
                cashOnDeliveryAmount: null
                cashOnDeliveryAmountCurrency: null
                cashOnDeliveryPayoutToLocation: null
                declaredValueAmount: null
                declaredValueAmountCurrency: null
                openPackage: true
                saturdayDelivery: null
                insuranceAmount: null
                insuranceAmountCurrency: null
                reference1: null
                reference2: null
                reference3: null
                reference4: null
                returnOfDocuments: null
                returnOfDocumentsComment: null
                returnPackage: null
                returnVoucher: null
                bank: null
                bankIBAN: null
                bankAccountHolder: null
                customsDeclaration:
                  exporter:
                    name: Name of Exporter
                    contactPerson: Contact for Exporter
                    country: BG
                    countryName: null
                    countyId: null
                    localityId: null
                    countryId: null
                    countyName: Varna
                    localityName: Varna
                    addressText: Exporter Adress
                    streetType: null
                    streetName: null
                    streetNumber: null
                    postalCode: '1234'
                    phone: '+40734123456'
                    email: email@emailserver.com
                    fixedLocationId: null
                    fixedLocationName: null
                    courierFixedLocationId: null
                  importer:
                    name: Name of Importer
                    contactPerson: Contact for Importer
                    country: RO
                    countryName: null
                    countyId: null
                    localityId: null
                    countryId: null
                    countyName: Bucuresti
                    localityName: Bucuresti
                    addressText: Importer Adress
                    streetType: null
                    streetName: null
                    streetNumber: null
                    postalCode: '123456'
                    phone: '+40734123456'
                    email: email@emailserver.com
                    fixedLocationId: null
                    fixedLocationName: null
                    courierFixedLocationId: null
                  exporterTaxId: exporter taxId
                  exporterEORI: eori 12345
                  exporterBN: BN
                  importerTaxId: importer taxId
                  importerEORI: eori 54321
                  reason: NonCommercialShipment
                  incoterm: incoterm
                  attachments:
                    - name: file
                      content: text
                marketPlace: null
                uitCode: null
              externalClientLocation: RO
              externalOrderId: null
              metadata: extra data information
              sourceChannel: Swagger
              observation: Call one hour before
              customAttributes: null
              clientSettings: null
          application/*+json:
            schema:
              $ref: '#/components/schemas/OrderRequest'
            example:
              parameters:
                async: true
                getParcelsBarcodes: false
                includeCourierResponse: false
                includePriceBreakdown: false
                includeAddressInResponse: false
                consolidateOrder: false
                overwriteLocationAddressWithSenderDetails: false
              serviceId: 1
              courierId: null
              shipmentDate: '2024-04-16T18:55:25.3258039+00:00'
              shipmentDateEnd: '0001-01-01T00:00:00+00:00'
              addressFrom: null
              addressTo:
                name: Name of recipient
                contactPerson: Contact for recipient
                country: RO
                countryName: null
                countyId: null
                localityId: null
                countryId: null
                countyName: Bucuresti
                localityName: Bucuresti
                addressText: Adress text 10
                streetType: null
                streetName: null
                streetNumber: null
                postalCode: '123456'
                phone: '+40734123456'
                email: email@emailserver.com
                fixedLocationId: null
                fixedLocationName: null
                courierFixedLocationId: null
              addressReturn: null
              payment: Sender
              content:
                envelopeCount: 0
                parcelsCount: 1
                palettesCount: 0
                totalWeight: 1
                contents: t-shirt
                package: box
                oversizedPackage: false
                parcels:
                  - sequenceNo: 1
                    size:
                      width: 20
                      height: 50
                      length: 20
                    weight: 1
                    type: Parcel
                    reference1: invoice for order 222
                    reference2: null
                    reference3: null
                    customerBarcode: null
                    dangerousGood: null
                invoiceNumber: invoice 0001
                invoiceDate: '0001-01-01T00:00:00Z'
                invoiceValue: 13
                invoiceValueCurrency: EUR
                articles:
                  - description: article description
                    quantity: 1
                    countryOfOrigin: BG
                    tariff: tariff
                    weightNet: 1
                    weightGross: 1
                    pricePerPieceAmount: 13
                    pricePerPieceAmountCurrency: EUR
                    sku: '1'
              extra:
                bankRepaymentAmount: 32.12
                bankRepaymentCurrency: null
                cashOnDeliveryAmount: null
                cashOnDeliveryAmountCurrency: null
                cashOnDeliveryPayoutToLocation: null
                declaredValueAmount: null
                declaredValueAmountCurrency: null
                openPackage: true
                saturdayDelivery: null
                insuranceAmount: null
                insuranceAmountCurrency: null
                reference1: null
                reference2: null
                reference3: null
                reference4: null
                returnOfDocuments: null
                returnOfDocumentsComment: null
                returnPackage: null
                returnVoucher: null
                bank: null
                bankIBAN: null
                bankAccountHolder: null
                customsDeclaration:
                  exporter:
                    name: Name of Exporter
                    contactPerson: Contact for Exporter
                    country: BG
                    countryName: null
                    countyId: null
                    localityId: null
                    countryId: null
                    countyName: Varna
                    localityName: Varna
                    addressText: Exporter Adress
                    streetType: null
                    streetName: null
                    streetNumber: null
                    postalCode: '1234'
                    phone: '+40734123456'
                    email: email@emailserver.com
                    fixedLocationId: null
                    fixedLocationName: null
                    courierFixedLocationId: null
                  importer:
                    name: Name of Importer
                    contactPerson: Contact for Importer
                    country: RO
                    countryName: null
                    countyId: null
                    localityId: null
                    countryId: null
                    countyName: Bucuresti
                    localityName: Bucuresti
                    addressText: Importer Adress
                    streetType: null
                    streetName: null
                    streetNumber: null
                    postalCode: '123456'
                    phone: '+40734123456'
                    email: email@emailserver.com
                    fixedLocationId: null
                    fixedLocationName: null
                    courierFixedLocationId: null
                  exporterTaxId: exporter taxId
                  exporterEORI: eori 12345
                  exporterBN: BN
                  importerTaxId: importer taxId
                  importerEORI: eori 54321
                  reason: NonCommercialShipment
                  incoterm: incoterm
                  attachments:
                    - name: file
                      content: text
                marketPlace: null
                uitCode: null
              externalClientLocation: RO
              externalOrderId: null
              metadata: extra data information
              sourceChannel: Swagger
              observation: Call one hour before
              customAttributes: null
              clientSettings: null
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponse'
              example:
                clientOrderId: 662
                courierShipmentId: '877551879'
                courierShipmentVoucher: null
                courier: 1
                courierParcelsBarcodes: null
                price:
                  amount: 13.36
                  vat: 2.54
                  totalAmount: 15.9
                  currency: RON
                  priceComponents: null
                calculatedDeliveryDate: '2019-10-03T00:00:00Z'
                trackPageUrl: null
                courierTrackPageUrl: null
                returnToLockerCode: null
                courierResponse: null
                extra: null
                address: null
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/Order/validate:
    post:
      tags:
        - Order
      summary: Validates a new order request
      operationId: Order_validateNewOrder
      parameters:
        - description: The requested API version
          name: api-version
          in: query
          required: true
          schema:
            type: string
            default: '1.0'
        - description: The requested API version
          name: api-version
          in: header
          schema:
            type: string
            default: '1.0'
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderRequest'
            example:
              parameters:
                async: true
                getParcelsBarcodes: false
                includeCourierResponse: false
                includePriceBreakdown: false
                includeAddressInResponse: false
                consolidateOrder: false
                overwriteLocationAddressWithSenderDetails: false
              serviceId: 1
              courierId: null
              shipmentDate: '2024-04-16T18:55:25.3270508+00:00'
              shipmentDateEnd: '0001-01-01T00:00:00+00:00'
              addressFrom: null
              addressTo:
                name: Name of recipient
                contactPerson: Contact for recipient
                country: RO
                countryName: null
                countyId: null
                localityId: null
                countryId: null
                countyName: Bucuresti
                localityName: Bucuresti
                addressText: Adress text 10
                streetType: null
                streetName: null
                streetNumber: null
                postalCode: '123456'
                phone: '+40734123456'
                email: email@emailserver.com
                fixedLocationId: null
                fixedLocationName: null
                courierFixedLocationId: null
              addressReturn: null
              payment: Sender
              content:
                envelopeCount: 0
                parcelsCount: 1
                palettesCount: 0
                totalWeight: 1
                contents: t-shirt
                package: box
                oversizedPackage: false
                parcels:
                  - sequenceNo: 1
                    size:
                      width: 20
                      height: 50
                      length: 20
                    weight: 1
                    type: Parcel
                    reference1: invoice for order 222
                    reference2: null
                    reference3: null
                    customerBarcode: null
                    dangerousGood: null
                invoiceNumber: invoice 0001
                invoiceDate: '0001-01-01T00:00:00Z'
                invoiceValue: 13
                invoiceValueCurrency: EUR
                articles:
                  - description: article description
                    quantity: 1
                    countryOfOrigin: BG
                    tariff: tariff
                    weightNet: 1
                    weightGross: 1
                    pricePerPieceAmount: 13
                    pricePerPieceAmountCurrency: EUR
                    sku: '1'
              extra:
                bankRepaymentAmount: 32.12
                bankRepaymentCurrency: null
                cashOnDeliveryAmount: null
                cashOnDeliveryAmountCurrency: null
                cashOnDeliveryPayoutToLocation: null
                declaredValueAmount: null
                declaredValueAmountCurrency: null
                openPackage: true
                saturdayDelivery: null
                insuranceAmount: null
                insuranceAmountCurrency: null
                reference1: null
                reference2: null
                reference3: null
                reference4: null
                returnOfDocuments: null
                returnOfDocumentsComment: null
                returnPackage: null
                returnVoucher: null
                bank: null
                bankIBAN: null
                bankAccountHolder: null
                customsDeclaration:
                  exporter:
                    name: Name of Exporter
                    contactPerson: Contact for Exporter
                    country: BG
                    countryName: null
                    countyId: null
                    localityId: null
                    countryId: null
                    countyName: Varna
                    localityName: Varna
                    addressText: Exporter Adress
                    streetType: null
                    streetName: null
                    streetNumber: null
                    postalCode: '1234'
                    phone: '+40734123456'
                    email: email@emailserver.com
                    fixedLocationId: null
                    fixedLocationName: null
                    courierFixedLocationId: null
                  importer:
                    name: Name of Importer
                    contactPerson: Contact for Importer
                    country: RO
                    countryName: null
                    countyId: null
                    localityId: null
                    countryId: null
                    countyName: Bucuresti
                    localityName: Bucuresti
                    addressText: Importer Adress
                    streetType: null
                    streetName: null
                    streetNumber: null
                    postalCode: '123456'
                    phone: '+40734123456'
                    email: email@emailserver.com
                    fixedLocationId: null
                    fixedLocationName: null
                    courierFixedLocationId: null
                  exporterTaxId: exporter taxId
                  exporterEORI: eori 12345
                  exporterBN: BN
                  importerTaxId: importer taxId
                  importerEORI: eori 54321
                  reason: NonCommercialShipment
                  incoterm: incoterm
                  attachments:
                    - name: file
                      content: text
                marketPlace: null
                uitCode: null
              externalClientLocation: RO
              externalOrderId: null
              metadata: extra data information
              sourceChannel: Swagger
              observation: Call one hour before
              customAttributes: null
              clientSettings: null
          text/json:
            schema:
              $ref: '#/components/schemas/OrderRequest'
            example:
              parameters:
                async: true
                getParcelsBarcodes: false
                includeCourierResponse: false
                includePriceBreakdown: false
                includeAddressInResponse: false
                consolidateOrder: false
                overwriteLocationAddressWithSenderDetails: false
              serviceId: 1
              courierId: null
              shipmentDate: '2024-04-16T18:55:25.3270508+00:00'
              shipmentDateEnd: '0001-01-01T00:00:00+00:00'
              addressFrom: null
              addressTo:
                name: Name of recipient
                contactPerson: Contact for recipient
                country: RO
                countryName: null
                countyId: null
                localityId: null
                countryId: null
                countyName: Bucuresti
                localityName: Bucuresti
                addressText: Adress text 10
                streetType: null
                streetName: null
                streetNumber: null
                postalCode: '123456'
                phone: '+40734123456'
                email: email@emailserver.com
                fixedLocationId: null
                fixedLocationName: null
                courierFixedLocationId: null
              addressReturn: null
              payment: Sender
              content:
                envelopeCount: 0
                parcelsCount: 1
                palettesCount: 0
                totalWeight: 1
                contents: t-shirt
                package: box
                oversizedPackage: false
                parcels:
                  - sequenceNo: 1
                    size:
                      width: 20
                      height: 50
                      length: 20
                    weight: 1
                    type: Parcel
                    reference1: invoice for order 222
                    reference2: null
                    reference3: null
                    customerBarcode: null
[...]
