openapi: 3.0.0
info:
  title: Insightly API v3.1
  description: >-
    Insightly, the new breed of CRM, helps modern businesses of all sizes build
    lifelong customer relationships and grow faster than ever before.
    Insightly's out of the box capabilities allow you to tailor each user's
    experience for every customer facing role. It is easy to use, easy to set
    up, highly customizable to your industry, and offers fast time to value at a
    low total cost of ownership. Join more than 1.5M Insightly users who are
    already building better customer relationships.


    Founded in 2009 and based in San Francisco, Insightly is backed by $38
    million in funding over three rounds from leading venture capital firms:
    Emergence Capital Partners, Cloud Apps Capital Partners, Scott Bommer and
    Sozo Ventures.
  version: v3.1
  x-api-status-urls: false
servers:
  - url: https://api.insightly.com/v3.1
tags:
  - name: Opportunities
  - name: Projects
  - name: Organisations
  - name: Contacts
  - name: Leads
  - name: Prospects
  - name: Tasks
  - name: KnowledgeArticles
  - name: Tickets
  - name: Products
  - name: Quotes
  - name: Emails
  - name: Notes
  - name: Events
  - name: PriceBooks
  - name: Forums
  - name: ForumPosts
  - name: CustomObjectsRecords
  - name: ForumComments
  - name: Teams
  - name: ForumCategories
  - name: KnowledgeArticleCategories
  - name: KnowledgeArticleFolders
  - name: OpportunityProducts
  - name: PriceBookEntries
  - name: QuoteProducts
  - name: FileCategories
  - name: OpportunityCategories
  - name: ProjectCategories
  - name: TaskCategories
  - name: Comments
  - name: LeadSources
  - name: LeadStatuses
  - name: TeamMembers
  - name: Users
  - name: DocumentTemplates
  - name: Milestones
  - name: ActivitySets
  - name: CustomFields
  - name: CustomObjects
  - name: FileAttachments
  - name: MarketingVisits
  - name: Pipelines
  - name: PipelineStages
  - name: Countries
  - name: Currencies
  - name: Follows
  - name: Instance
  - name: MarketingCustomEvents
  - name: OpportunityStateReasons
  - name: Permissions
  - name: Relationships
  - name: Tags
paths:
  /{objectName}:
    get:
      tags:
        - CustomObjectsRecords
      summary: Gets a list of records
      operationId: CustomObjectsRecords_getList
      description: >-
        Simple object graphs (excluding LINKS, etc.) are returned if
        "brief=true" is used in the query string.
      parameters:
        - description: The object name
          name: objectName
          in: path
          required: true
          schema:
            type: string
        - description: >-
            Optional, true if response should only contain top level properties
            of the record.
          name: brief
          in: query
          required: false
          schema:
            type: boolean
            default: false
        - description: Optional, number of records to skip.
          name: skip
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - description: Optional, maximum number of records to return in the response.
          name: top
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - description: >-
            Optional,true if total number of records should be returned in the
            response headers.
          name: count_total
          in: query
          required: false
          schema:
            type: boolean
            default: false
        - description: Authorization
          name: Authorization
          in: header
          required: true
          schema:
            type: string
            default: '{{Authorization}}'
      responses:
        '200':
          description: Request succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomObjectsRecordsGetList200Response'
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/CustomObjectsRecordsGetListResponse'
        '400':
          description: Often missing or invalid parameter.
        '401':
          description: Authentication failed.
      deprecated: false
    put:
      tags:
        - CustomObjectsRecords
      summary: Updates a record
      operationId: CustomObjectsRecords_updateRecord
      description: >-
        If you have trouble updating a record, try accessing the record via the
        GET request to inspect its fields and sub-elements. A common source
        of            problems with write/update requests occurs when users
        either omit required fields, or insert invalid data into a field (for
        example, by referring a            CATEGORY_ID or LINK_ID which does not
        exist.
      parameters:
        - description: The object name
          name: objectName
          in: path
          required: true
          schema:
            type: string
        - description: Authorization
          name: Authorization
          in: header
          required: true
          schema:
            type: string
            default: '{{Authorization}}'
      requestBody:
        $ref: '#/components/requestBodies/UpdateEntityFieldvalues'
      responses:
        '201':
          description: Request succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomObjectsRecordsUpdateRecordResponse'
            text/json:
              schema:
                $ref: >-
                  #/components/schemas/CustomObjectsRecordsUpdateRecord201Response
        '400':
          description: Data validation error.
        '401':
          description: Authentication failed.
        '402':
          description: Record limit reached.
      deprecated: false
    post:
      tags:
        - CustomObjectsRecords
      summary: Adds a record
      operationId: CustomObjectsRecords_addRecord
      description: >-
        If you have trouble with creating a record, try creating records via the
        web interface, and then access those records via the API. This way
        you            can see examples of the fields and sub-elements attached
        to the record. A common source of problems during write/update request
        is caused when users omit            required fields, or insert invalid
        data in a field (e.g. reference a CATEGORY_ID that does not exist in the
        user's Insightly instance.
      parameters:
        - description: The object name
          name: objectName
          in: path
          required: true
          schema:
            type: string
        - description: Authorization
          name: Authorization
          in: header
          required: true
          schema:
            type: string
            default: '{{Authorization}}'
      requestBody:
        $ref: '#/components/requestBodies/AddEntityFieldvalues2'
      responses:
        '201':
          description: Request succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomObjectsRecordsAddRecordResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CustomObjectsRecordsAddRecord201Response'
        '400':
          description: Data validation error.
        '401':
          description: Authentication failed.
        '402':
          description: Record limit reached.
      deprecated: false
  /{objectName}/{id}:
    get:
      tags:
        - CustomObjectsRecords
      summary: Gets a record
      operationId: CustomObjectsRecords_getRecord
      description: ''
      parameters:
        - description: The object name
          name: objectName
          in: path
          required: true
          schema:
            type: string
        - description: The record's ID
          name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - description: Authorization
          name: Authorization
          in: header
          required: true
          schema:
            type: string
            default: '{{Authorization}}'
      responses:
        '200':
          description: Request succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomObjectsRecordsGetRecord200Response'
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/CustomObjectsRecordsGetRecordResponse'
        '400':
          description: Often missing or invalid parameter.
        '401':
          description: Authentication failed.
        '403':
          description: API User does not have access to Record.
        '404':
          description: Record not found.
      deprecated: false
    delete:
      tags:
        - CustomObjectsRecords
      summary: Deletes a Record
      operationId: CustomObjectsRecords_deleteRecord
      description: ''
      parameters:
        - description: The object name
          name: objectName
          in: path
          required: true
          schema:
            type: string
        - description: Entity's ID
          name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - description: Authorization
          name: Authorization
          in: header
          required: true
          schema:
            type: string
            default: '{{Authorization}}'
      responses:
        '202':
          description: Delete succeeded.
        '401':
          description: Authentication failed.
        '403':
          description: API User does not have access to Record.
        '404':
          description: Record not found.
        '417':
          description: Delete failed.
      deprecated: false
  /{objectName}/{id}/Translations/{language}:
    get:
      tags:
        - CustomObjectsRecords
      summary: Gets a record's translation in a specific language
      operationId: CustomObjectsRecords_getTranslation
      description: ''
      parameters:
        - description: The object name
          name: objectName
          in: path
          required: true
          schema:
            type: string
        - description: The record's ID
          name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - description: The requested language
          name: language
          in: path
          required: true
          schema:
            type: string
        - description: Authorization
          name: Authorization
          in: header
          required: true
          schema:
            type: string
            default: '{{Authorization}}'
      responses:
        '200':
          description: Request succeeded.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/CustomObjectsRecordsGetTranslation200Response
            application/octet-stream:
              schema:
                $ref: >-
                  #/components/schemas/CustomObjectsRecordsGetTranslationResponse
        '400':
          description: Often missing or invalid parameter.
        '401':
          description: Authentication failed.
        '403':
          description: API User does not have access to Record.
        '404':
          description: Record not found.
      deprecated: false
    put:
      tags:
        - CustomObjectsRecords
      summary: Updates a record's translation in a specific language
      operationId: CustomObjectsRecords_updateTranslationRecord
      description: >-
        If you have trouble updating a record, try accessing the record via the
        GET request to inspect its fields and sub-elements. A common source
        of            problems with write/update requests occurs when users
        either omit required fields, or insert invalid data into a field (for
        example, by referring a            CATEGORY_ID or LINK_ID which does not
        exist.
      parameters:
        - description: The object name
          name: objectName
          in: path
          required: true
          schema:
            type: string
        - description: The language of the record's translation to update
          name: language
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
        - description: Authorization
          name: Authorization
          in: header
          required: true
          schema:
            type: string
            default: '{{Authorization}}'
      requestBody:
        $ref: '#/components/requestBodies/UpdateEntityFieldvalues'
      responses:
        '201':
          description: Request succeeded.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/CustomObjectsRecordsUpdateTranslationRecordResponse
            text/json:
              schema:
                $ref: >-
                  #/components/schemas/CustomObjectsRecordsUpdateTranslationRecord201Response
        '400':
          description: Data validation error.
        '401':
          description: Authentication failed.
        '402':
          description: Record limit reached.
      deprecated: false
    post:
      tags:
        - CustomObjectsRecords
      summary: Adds a Translation for a record in a specific language
      operationId: CustomObjectsRecords_addTranslation
      description: >-
        If you have trouble with creating a record, try creating records via the
        web interface, and then access those records via the API. This way
        you            can see examples of the fields and sub-elements attached
        to the record. A common source of problems during write/update request
        is caused when users omit            required fields, or insert invalid
        data in a field (e.g. reference a CATEGORY_ID that does not exist in the
        user's Insightly instance.
      parameters:
        - description: The object name
          name: objectName
          in: path
          required: true
          schema:
            type: string
        - description: The language of the translation to add
          name: language
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
        - description: Authorization
          name: Authorization
          in: header
          required: true
          schema:
            type: string
            default: '{{Authorization}}'
      requestBody:
        $ref: '#/components/requestBodies/AddEntityFieldvalues2'
      responses:
        '201':
          description: Request succeeded.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/CustomObjectsRecordsAddTranslationResponse
            text/json:
              schema:
                $ref: >-
                  #/components/schemas/CustomObjectsRecordsAddTranslation201Response
        '400':
          description: Data validation error.
        '401':
          description: Authentication failed.
        '402':
          description: Record limit reached.
      deprecated: false
  /{objectName}/Search:
    get:
      tags:
        - CustomObjectsRecords
      summary: Gets a filtered list of records
      operationId: CustomObjectsRecords_getFilteredList
      description: >-
        To filter with a field name and value, both field_name and field_value
        parameters must be provided.            <br /> Simple object graphs
        (excluding TAGS, CUSTOMFIELDS, etc.) are returned if "brief=true" is
        used in the query string.
      parameters:
        - description: The object name
          name: objectName
          in: path
          required: true
          schema:
            type: string
        - description: Optional, field name for object
          name: field_name
          in: query
          required: false
          schema:
            type: string
        - description: Optional, field value of the record
          name: field_value
          in: query
          required: false
          schema:
            type: string
        - description: Optional, earliest date when a record was last updated.
          name: updated_after_utc
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - description: >-
            Optional, true if response should only contain top level properties
            of the record.
          name: brief
          in: query
          required: false
          schema:
            type: boolean
            default: false
        - description: Optional, number of records to skip.
          name: skip
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - description: Optional, maximum number of records to return in the response.
          name: top
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - description: >-
            Optional, true if total number of records should be returned in the
            response headers.
          name: count_total
          in: query
          required: false
          schema:
            type: boolean
            default: false
        - description: Authorization
          name: Authorization
          in: header
          required: true
          schema:
            type: string
            default: '{{Authorization}}'
      responses:
        '200':
          description: Request succeeded.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/CustomObjectsRecordsGetFilteredList200Response
            application/octet-stream:
              schema:
                $ref: >-
                  #/components/schemas/CustomObjectsRecordsGetFilteredListResponse
        '400':
          description: Often missing or invalid parameter.
        '401':
          description: Authentication failed.
      deprecated: false
  /ActivitySets:
    get:
      tags:
        - ActivitySets
      summary: Gets a list of Activity Sets
      operationId: ActivitySets_getList
      parameters:
        - description: >-
            Optional, true if response should only contain top level properties
            of the activity set.
          name: brief
          in: query
          required: false
          schema:
            type: boolean
            default: false
        - description: Optional, number of activity sets to skip.
          name: skip
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - description: Optional, maximum number of activity sets to return in the response.
          name: top
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - description: >-
            Optional, true if total number of records should be returned in the
            response headers.
          name: count_total
          in: query
          required: false
          schema:
            type: boolean
            default: false
        - description: Authorization
          name: Authorization
          in: header
          required: true
          schema:
            type: string
            default: '{{Authorization}}'
      responses:
        '200':
          description: Request succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivitySetsGetListResponse'
        '400':
          description: Often missing or invalid parameter.
        '401':
          description: Authentication failed.
      deprecated: false
  /ActivitySets/{id}:
    get:
      tags:
        - ActivitySets
      summary: Gets a single Activity Set
      operationId: ActivitySets_getActivitySet
      parameters:
        - description: An Activity Set's ID
          name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - description: Authorization
          name: Authorization
          in: header
          required: true
          schema:
            type: string
            default: '{{Authorization}}'
      responses:
        '200':
          description: Request succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivitySetsGetActivitySetResponse'
        '400':
          description: Often missing or invalid parameter.
        '401':
          description: Authentication failed.
        '404':
          description: Activity Set not found.
      deprecated: false
  /Comments:
    put:
      tags:
        - Comments
      summary: Updates a Comment
      operationId: Comments_updateComment
      description: >-
        If you have trouble updating a Comment, try accessing the Comment via
        the GET request to inspect its fields and sub-elements. A common source
        of            problems with write/update requests occurs when users
        either omit required fields, or insert invalid data into a field (for
        example, by referring a            CATEGORY_ID or LINK_ID which does not
        exist.
      parameters:
        - description: Authorization
          name: Authorization
          in: header
          required: true
          schema:
            type: string
            default: '{{Authorization}}'
      requestBody:
        description: >-
          The record to update (just include the JSON object as the request
          body)
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommentsUpdateCommentRequest'
        required: true
      responses:
        '201':
          description: Request succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentsUpdateCommentResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CommentsUpdateComment201Response'
        '400':
          description: Data validation error.
        '401':
          description: Authentication failed.
        '402':
          description: Record limit reached.
      deprecated: false
  /Comments/{id}:
    delete:
      tags:
        - Comments
      summary: Deletes a Comment
      operationId: Comments_deleteComment
      description: ''
      parameters:
        - description: Entity's ID
          name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - description: Authorization
          name: Authorization
          in: header
          required: true
          schema:
            type: string
            default: '{{Authorization}}'
      responses:
        '202':
          description: Delete succeeded.
        '401':
          description: Authentication failed.
        '403':
          description: API User does not have access to Record.
        '404':
          description: Record not found.
        '417':
          description: Delete failed.
      deprecated: false
  /Comments/{id}/FileAttachments:
    get:
      tags:
        - Comments
      summary: Gets a Comment's File Attachments
      operationId: Comments_getFileAttachments
      description: ''
      parameters:
        - description: A Record's ID
          name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - description: Optional, earliest date when file attachment was last updated.
          name: updated_after_utc
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - description: Optional, number of file attachments to skip.
          name: skip
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - description: >-
            Optional, maximum number of file attachments to return in the
            response.
          name: top
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - description: >-
            true if total number of records should be returned in the response
            headers.
          name: count_total
          in: query
          required: false
          schema:
            type: boolean
            default: false
        - description: Authorization
          name: Authorization
          in: header
          required: true
          schema:
            type: string
            default: '{{Authorization}}'
      responses:
        '200':
          description: Request succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentsGetFileAttachmentsResponse'
        '400':
          description: Often missing or invalid parameter.
        '401':
          description: Authentication failed.
        '403':
          description: API User does not have access to Record.
        '404':
          description: Record not found.
      deprecated: false
    post:
      tags:
        - Comments
      summary: Adds a File Attachment to a Comment
      operationId: Comments_addFileAttachment
      description: >-
        This endpoint expects multipart/form-data as the request payload. See
        Stack Overflow for examples of how to generate multipart requests, or
        see our <a href="http://github.com/Insightly" target="_blank">client
        libraries</a> for an example of how this is generated. Only one file can
        be added per request. Some file types are not allowed for security
        reasons.
      parameters:
        - description: Record ID
          name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - description: Authorization
          name: Authorization
          in: header
          required: true
          schema:
            type: string
            default: '{{Authorization}}'
      requestBody:
        $ref: '#/components/requestBodies/AddFileAttachment'
      responses:
        '201':
          description: Request succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIFileAttachment'
            text/json:
              schema:
                $ref: '#/components/schemas/APIFileAttachment'
        '400':
          description: Data validation error.
        '401':
          description: Authentication failed.
        '402':
          description: Record or storage limit reached.
        '403':
          description: API User does not have access to Record.
        '404':
          description: Record not found.
        '417':
          description: File Attachment insert failed.
      deprecated: false
  /CommunityComments:
    get:
      tags:
        - ForumComments
      summary: Gets a list of Forum Comments
      operationId: ForumComments_listComments
      description: >-
        Simple object graphs (excluding LINKS, etc.) are returned if
        "brief=true" is used in the query string.
      parameters:
        - description: >-
            Optional, true if response should only contain top level properties
            of the record.
          name: brief
          in: query
          required: false
          schema:
            type: boolean
            default: false
        - description: Optional, number of records to skip.
          name: skip
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - description: Optional, maximum number of records to return in the response.
          name: top
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - description: >-
            Optional,true if total number of records should be returned in the
            response headers.
          name: count_total
          in: query
          required: false
          schema:
            type: boolean
            default: false
        - description: Authorization
          name: Authorization
          in: header
          required: true
          schema:
            type: string
            default: '{{Authorization}}'
      responses:
        '200':
          description: Request succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForumCommentsListComments200Response'
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ForumCommentsListCommentsResponse'
        '400':
          description: Often missing or invalid parameter.
        '401':
          description: Authentication failed.
      deprecated: false
    put:
      tags:
        - ForumComments
      summary: Updates a Forum Comment
      operationId: ForumComments_updateComment
      description: >-
        If you have trouble updating a Forum Comment, try accessing the Forum
        Comment via the GET request to inspect its fields and sub-elements. A
        common source of            problems with write/update requests occurs
        when users either omit required fields, or insert invalid data into a
        field (for example, by referring a            CATEGORY_ID or LINK_ID
        which does not exist.
      parameters:
        - description: Authorization
          name: Authorization
          in: header
          required: true
          schema:
            type: string
            default: '{{Authorization}}'
      requestBody:
        description: >-
          The record to update (just include the JSON object as the request
          body)
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForumCommentsUpdateCommentRequest'
        required: true
      responses:
        '201':
          description: Request succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForumCommentsUpdateCommentResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ForumCommentsUpdateComment201Response'
        '400':
          description: Data validation error.
        '401':
          description: Authentication failed.
        '402':
          description: Record limit reached.
      deprecated: false
    post:
      tags:
        - ForumComments
      summary: Adds a Forum Comment
      operationId: ForumComments_addCommentOperation
      description: >-
        If you have trouble with creating a Forum Comment, try creating Forum
        Comments via the web interface, and then access those Forum Comments via
        the API. This way you            can see examples of the fields and
        sub-elements attached to the Forum Comment. A common source of problems
        during write/update request is caused when users omit           
        required fields, or insert invalid data in a field (e.g. reference a
        CATEGORY_ID that does not exist in the user's Insightly instance.
      parameters:
        - description: Authorization
          name: Authorization
          in: header
          required: true
          schema:
            type: string
            default: '{{Authorization}}'
      requestBody:
        description: The record to add (just include the JSON object as the request body)
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForumCommentsAddCommentOperationRequest'
        required: true
      responses:
        '201':
          description: Request succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForumCommentsAddCommentOperationResponse'
            text/json:
              schema:
                $ref: >-
                  #/components/schemas/ForumCommentsAddCommentOperation201Response
        '400':
          description: Data validation error.
        '401':
          description: Authentication failed.
        '402':
          description: Record limit reached.
      deprecated: false
  /CommunityComments/{id}:
    get:
      tags:
        - ForumComments
      summary: Gets a Forum Comment
      operationId: ForumComments_getById
      description: ''
      parameters:
        - description: The record's ID
          name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - description: Authorization
          name: Authorization
          in: header
          required: true
          schema:
            type: string
            default: '{{Authorization}}'
      responses:
        '200':
          description: Request succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForumCommentsGetById200Response'
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ForumCommentsGetByIdResponse'
        '400':
          description: Often missing or invalid parameter.
        '401':
          description: Authentication failed.
        '403':
          description: API User does not have access to Record.
        '404':
          description: Record not found.
      deprecated: false
  /CommunityComments/{id}/Follow:
    get:
      tags:
        - ForumComments
      summary: Gets a Follow state for a Forum Comment
      operationId: ForumComments_getFollowState
      description: ''
      parameters:
        - description: A record's ID (RECORD_ID)
          name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - description: Authorization
          name: Authorization
          in: header
          required: true
          schema:
            type: string
            default: '{{Authorization}}'
      responses:
        '200':
          description: Request succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIFollow'
        '400':
          description: Often missing or invalid parameter.
        '401':
          description: Authentication failed.
        '403':
          description: API User does not have access to Record.
        '404':
          description: Record not found.
      deprecated: false
    post:
      tags:
        - ForumComments
      summary: Start following a Forum Comment
      operationId: ForumComments_startFollowingComment
      description: ''
      parameters:
        - description: A Record's ID (RECORD_ID)
          name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - description: Authorization
          name: Authorization
          in: header
          required: true
          schema:
            type: string
            default: '{{Authorization}}'
      responses:
        '201':
          description: Request succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIFollow'
            text/json:
              schema:
                $ref: '#/components/schemas/APIFollow'
        '400':
          description: Data validation error.
        '401':
          description: Authentication failed.
        '403':
          description: API User does not have access to Record.
        '404':
          description: Record not found.
      deprecated: false
    delete:
      tags:
        - ForumComments
      summary: Stop following a Forum Comment
      operationId: ForumComments_stopFollowing
      description: ''
      parameters:
        - description: A Record's ID (RECORD_ID)
          name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - description: Authorization
          name: Authorization
          in: header
          required: true
          schema:
            type: string
            default: '{{Authorization}}'
      responses:
        '202':
          description: Delete succeeded.
        '401':
          description: Authentication failed.
        '403':
          description: API User does not have access to Record.
        '404':
          description: Record not found.
        '417':
          description: Delete failed.
      deprecated: false
  /CommunityComments/{id}/MergeDocument/{documentTemplateId}:
    post:
      tags:
        - ForumComments
      summary: Generates a new Merge Document
      operationId: ForumComments_generateMergeDocument
      description: >-
        Returns the generated document. If the 'format' parameter is set to
        'JSON', returns the metadata of the associated File Attachment in JSON
        format.
      parameters:
        - description: A Record's ID (RECORD_ID)
          name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - description: A Document Template Id
          name: documentTemplateId
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - description: Binary(default) or JSON
          name: format
          in: query
          required: false
          schema:
            type: string
        - description: Authorization
          name: Authorization
          in: header
          required: true
          schema:
            type: string
            default: '{{Authorization}}'
      responses:
        '200':
          description: Request succeeded.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ForumCommentsGenerateMergeDocumentResponse
            text/json:
              schema:
                $ref: >-
                  #/components/schemas/ForumCommentsGenerateMergeDocument200Response
        '400':
          description: Often missing or invalid parameter.
        '401':
          description: Authentication failed.
        '403':
          description: API User does not have access to Document Template.
        '404':
          description: Record not found.
      deprecated: false
  /CommunityComments/Search:
    get:
      tags:
        - ForumComments
      summary: Gets a filtered list of Forum Comments
      operationId: ForumComments_getList
      description: >-
        To filter with a field name and value, both field_name and field_value
        parameters must be provided.            <br /> Simple object graphs
        (excluding TAGS, CUSTOMFIELDS, etc.) are returned if "brief=true" is
        used in the query string.
      parameters:
        - description: Optional, field name for object
          name: field_name
          in: query
          required: false
          schema:
            type: string
        - description: Optional, field value of the record
          name: field_value
          in: query
          required: false
          schema:
            type: string
        - description: Optional, earliest date when a record was last updated.
          name: updated_after_utc
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - description: >-
            Optional, true if response should only contain top level properties
            of the record.
          name: brief
          in: query
          required: false
          schema:
            type: boolean
            default: false
        - description: Optional, number of records to skip.
          name: skip
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - description: Optional, maximum number of records to return in the response.
          name: top
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - description: >-
            Optional, true if total number of records should be returned in the
            response headers.
          name: count_total
          in: query
          required: false
          schema:
            type: boolean
            default: false
        - description: Authorization
          name: Authorization
          in: header
          required: true
          schema:
            type: string
            default: '{{Authorization}}'
      responses:
        '200':
          description: Request succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForumCommentsGetList200Response'
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ForumCommentsGetListResponse'
        '400':
          description: Often missing or invalid parameter.
        '401':
          description: Authentication failed.
      deprecated: false
  /CommunityForums:
    get:
      tags:
        - Forums
      summary: Gets a list of Forums
      operationId: Forums_getList
      description: >-
        Simple object graphs (excluding LINKS, etc.) are returned if
        "brief=true" is used in the query string.
      parameters:
        - description: >-
            Optional, true if response should only contain top level properties
            of the record.
          name: brief
          in: query
          required: false
          schema:
            type: boolean
            default: false
        - description: Optional, number of records to skip.
          name: skip
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - description: Optional, maximum number of records to return in the response.
          name: top
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - description: >-
            Optional,true if total number of records should be returned in the
            response headers.
          name: count_total
          in: query
          required: false
          schema:
            type: boolean
            default: false
        - description: Authorization
          name: Authorization
          in: header
          required: true
          schema:
            type: string
            default: '{{Authorization}}'
      responses:
        '200':
          description: Request succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForumsGetList200Response'
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ForumsGetListResponse'
        '400':
          description: Often missing or invalid parameter.
        '401':
          description: Authentication failed.
      deprecated: false
    put:
      tags:
        - Forums
      summary: Updates a Forum
      operationId: Forums_updateForum
      description: >-
        If you have trouble updating a Forum, try accessing the Forum via the
        GET request to inspect its fields and sub-elements. A common source
        of            problems with write/update requests occurs when users
        either omit required fields, or insert invalid data into a field (for
        example, by referring a            CATEGORY_ID or LINK_ID which does not
        exist.
      parameters:
        - description: Authorization
          name: Authorization
          in: header
          required: true
          schema:
            type: string
            default: '{{Authorization}}'
      requestBody:
        description: >-
          The record to update (just include the JSON object as the request
          body)
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForumsUpdateForumRequest'
        required: true
      responses:
        '201':
          description: Request succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForumsUpdateForumResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ForumsUpdateForum201Response'
        '400':
          description: Data validation error.
        '401':
          description: Authentication failed.
        '402':
          description: Record limit reached.
      deprecated: false
    post:
      tags:
        - Forums
      summary: Adds a Forum
      operationId: Forums_addForumOperation
      description: >-
        If you have trouble with creating a Forum, try creating Forums via the
        web interface, and then access those Forums via the API. This way
        you            can see examples of the fields and sub-elements attached
        to the Forum. A common source of problems during write/update request is
        caused when users omit            required fields, or insert invalid
        data in a field (e.g. reference a CATEGORY_ID that does not exist in the
        user's Insightly instance.
      parameters:
        - description: Authorization
          name: Authorization
          in: header
          required: true
          schema:
            type: string
            default: '{{Authorization}}'
      requestBody:
        description: The record to add (just include the JSON object as the request body)
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForumsAddForumOperationRequest'
        required: true
      responses:
        '201':
          description: Request succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForumsAddForumOperationResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ForumsAddForumOperation201Response'
        '400':
          description: Data validation error.
        '401':
          description: Authentication failed.
        '402':
          description: Record limit reached.
      deprecated: false
  /CommunityForums/{id}:
    get:
      tags:
        - Forums
      summary: Gets a Forum
      operationId: Forums_getForumById
      description: ''
      parameters:
        - description: The record's ID
          name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - description: Authorization
          name: Authorization
          in: header
          required: true
          schema:
            type: string
            default: '{{Authorization}}'
      responses:
        '200':
          description: Request succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForumsGetForumById200Response'
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ForumsGetForumByIdResponse'
        '400':
          description: Often missing or invalid parameter.
        '401':
          description: Authentication failed.
        '403':
          description: API User does not have access to Record.
        '404':
          description: Record not found.
      deprecated: false
  /CommunityForums/{id}/CommunityPosts:
    get:
      tags:
        - Forums
      summary: Gets a list of Forum Posts of a Forum
      operationId: Forums_getForumPosts
      description: ''
      parameters:
        - description: A Record's ID
          name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - description: Authorization
          name: Authorization
          in: header
          required: true
          schema:
            type: string
            default: '{{Authorization}}'
      responses:
        '201':
          description: Request succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForumsGetForumPosts201Response'
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ForumsGetForumPostsResponse'
        '400':
          description: Data validation error.
        '401':
          description: Authentication failed.
        '403':
          description: API User does not have access to Record.
        '404':
          description: Record not found.
      deprecated: false
    put:
      tags:
        - Forums
      summary: Updates a Forum Post of a Forum
      operationId: Forums_updateForumPost
      description: ''
      parameters:
        - description: A Record's ID
          name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - description: Authorization
          name: Authorization
          in: header
          required: true
          schema:
            type: string
            default: '{{Authorization}}'
      requestBody:
        description: The child entity to add (just include the JSON object as request body)
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForumsUpdateForumPostRequest'
        required: true
      responses:
        '200':
          description: Request succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForumsUpdateForumPostResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ForumsUpdateForumPost200Response'
        '400':
          description: Data validation error.
        '401':
          description: Authentication failed.
        '403':
          description: API User does not have access to Record.
        '404':
          description: Record not found.
      deprecated: false
    post:
      tags:
        - Forums
      summary: Adds a Forum Post to a Forum
      operationId: Forums_addPostToForum
      description: ''
      parameters:
        - description: A Record's ID
          name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - description: Authorization
          name: Authorization
          in: header
          required: true
          schema:
            type: string
            default: '{{Authorization}}'
      requestBody:
        description: The child entity to add (just include JSON object as request body)
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForumsAddPostToForumRequest'
        required: true
      responses:
        '201':
          description: Request succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForumsAddPostToForumResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ForumsAddPostToForum201Response'
        '400':
          description: Data validation error.
        '401':
          description: Authentication failed.
        '403':
          description: API User does not have access to Record.
        '404':
          description: Record not found.
      deprecated: false
  /CommunityForums/{id}/CommunityPosts/{childEntityId}: {}
  /CommunityForums/{id}/Follow:
    get:
      tags:
        - Forums
      summary: Gets a Follow state for a Forum
      operationId: Forums_getFollowState
      description: ''
      parameters:
        - description: A record's ID (RECORD_ID)
          name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - description: Authorization
          name: Authorization
          in: header
          required: true
          schema:
            type: string
            default: '{{Authorization}}'
      responses:
        '200':
          description: Request succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIFollow'
        '400':
          description: Often missing or invalid parameter.
        '401':
          description: Authentication failed.
        '403':
          description: API User does not have access to Record.
        '404':
          description: Record not found.
      deprecated: false
    post:
      tags:
        - Forums
      summary: Start following a Forum
      operationId: Forums_startFollowingForum
      description: ''
      parameters:
        - description: A Record's ID (RECORD_ID)
          name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - description: Authorization
          name: Authorization
          in: header
          required: true
          schema:
            type: string
            default: '{{Authorization}}'
      responses:
        '201':
          description: Request succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIFollow'
            text/json:
              schema:
                $ref: '#/components/schemas/APIFollow'
        '400':
          description: Data validation error.
        '401':
          description: Authentication failed.
        '403':
          description: API User does not have access to Record.
        '404':
          description: Record not found.
      deprecated: false
    delete:
      tags:
        - Forums
      summary: Stop following a Forum
      operationId: Forums_stopFollowing
      description: ''
      parameters:
        - description: A Record's ID (RECORD_ID)
          name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - description: Authorization
          name: Authorization
          in: header
          required: true
          schema:
            type: string
            default: '{{Authorization}}'
      responses:
        '202':
          description: Delete succeeded.
        '401':
          description: Authentication failed.
        '403':
          description: API User does not have access to Record.
        '404':
          description: Record not found.
        '417':
          description: Delete failed.
      deprecated: false
  /CommunityForums/{id}/MergeDocument/{documentTemplateId}:
    post:
      tags:
        - Forums
      summary: Generates a new Merge Document
      operationId: Forums_generateMergeDocument
      description: >-
        Returns the generated document. If the 'format' parameter is set to
        'JSON', returns the metadata of the associated File Attachment in JSON
        format.
      parameters:
        - description: A Record's ID (RECORD_ID)
          name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - description: A Document Template Id
          name: documentTemplateId
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - description: Binary(default) or JSON
          name: format
          in: query
          required: false
          schema:
            type: string
        - description: Authorization
          name: Authorization
          in: header
          required: true
          schema:
            type: string
            default: '{{Authorization}}'
      responses:
        '200':
          description: Request succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForumsGenerateMergeDocumentResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ForumsGenerateMergeDocument200Response'
        '400':
          description: Often missing or invalid parameter.
        '401':
          description: Authentication failed.
        '403':
          description: API User does not have access to Document Template.
        '404':
          description: Record not found.
      deprecated: false
  /CommunityForums/Search:
    get:
      tags:
        - Forums
      summary: Gets a filtered list of Forums
      operationId: Forums_getFilteredList
      description: >-
        To filter with a field name and value, both field_name and field_value
        parameters must be provided.            <br /> Simple object graphs
        (excluding TAGS, CUSTOMFIELDS, etc.) are returned if "brief=true" is
        used in the query string.
      parameters:
        - description: Optional, field name for object
          name: field_name
          in: query
          required: false
          schema:
            type: string
        - description: Optional, field value of the record
          name: field_value
          in: query
          required: false
          schema:
            type: string
        - description: Optional, earliest date when a record was last updated.
          name: updated_after_utc
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - description: >-
            Optional, true if response should only contain top level properties
            of the record.
          name: brief
          in: query
          required: false
          schema:
            type: boolean
            default: false
        - description: Optional, number of records to skip.
          name: skip
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - description: Optional, maximum number of records to return in the response.
          name: top
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - description: >-
            Optional, true if total number of records should be returned in the
            response headers.
          name: count_total
          in: query
          required: false
          schema:
            type: boolean
            default: false
        - description: Authorization
          name: Authorization
          in: header
          required: true
          schema:
            type: string
            default: '{{Authorization}}'
      responses:
        '200':
          description: Request succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForumsGetFilteredList200Response'
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ForumsGetFilteredListResponse'
        '400':
          description: Often missing or invalid parameter.
        '401':
          description: Authentication failed.
      deprecated: false
  /CommunityPosts:
    get:
      tags:
        - ForumPosts
      summary: Gets a list of Forum Posts
      operationId: ForumPosts_listForumPosts
      description: >-
        Simple object graphs (excluding LINKS, etc.) are returned if
        "brief=true" is used in the query string.
      parameters:
        - description: >-
            Optional, true if response should only contain top level properties
            of the record.
          name: brief
          in: query
          required: false
          schema:
            type: boolean
            default: false
        - description: Optional, number of records to skip.
          name: skip
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - description: Optional, maximum number of records to return in the response.
          name: top
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - description: >-
            Optional,true if total number of records should be returned in the
            response headers.
          name: count_total
          in: query
          required: false
          schema:
            type: boolean
            default: false
        - description: Authorization
          name: Authorization
          in: header
          required: true
          schema:
            type: string
            default: '{{Authorization}}'
      responses:
        '200':
          description: Request succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForumPostsListForumPosts200Response'
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ForumPostsListForumPostsResponse'
        '400':
          description: Often missing or invalid parameter.
        '401':
          description: Authentication failed.
      deprecated: false
    put:
      tags:
        - ForumPosts
      summary: Updates a Forum Post
      operationId: ForumPosts_updatePost
      description: >-
        If you have trouble updating a Forum Post, try accessing the Forum Post
        via the GET request to inspect its fields and sub-elements. A common
        source of            problems with write/update requests occurs when
        users either omit required fields, or insert invalid data into a field
        (for example, by referring a            CATEGORY_ID or LINK_ID which
        does not exist.
      parameters:
        - description: Authorization
          name: Authorization
          in: header
          required: true
          schema:
            type: string
            default: '{{Authorization}}'
      requestBody:
        description: >-
          The record to update (just include the JSON object as the request
          body)
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForumPostsUpdatePostRequest'
        required: true
      responses:
        '201':
          description: Request succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForumPostsUpdatePostResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ForumPostsUpdatePost201Response'
        '400':
          description: Data validation error.
        '401':
          description: Authentication failed.
        '402':
          description: Record limit reached.
      deprecated: false
    post:
      tags:
        - ForumPosts
      summary: Adds a Forum Post
      operationId: ForumPosts_addForumPost
      description: >-
        If you have trouble with creating a Forum Post, try creating Forum Posts
        via the web interface, and then access those Forum Posts via the API.
        This way you            can see examples of the fields and sub-elements
        attached to the Forum Post. A common source of problems during
        write/update request is caused when users omit            required
        fields, or insert invalid data in a field (e.g. reference a CATEGORY_ID
        that does not exist in the user's Insightly instance.
      parameters:
        - description: Authorization
          name: Authorization
          in: header
          required: true
          schema:
            type: string
            default: '{{Authorization}}'
      requestBody:
        description: The record to add (just include the JSON object as the request body)
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForumPostsAddForumPostRequest'
        required: true
      responses:
        '201':
          description: Request succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForumPostsAddForumPostResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ForumPostsAddForumPost201Response'
        '400':
          description: Data validation error.
        '401':
          description: Authentication failed.
        '402':
          description: Record limit reached.
      deprecated: false
  /CommunityPosts/{id}:
    get:
      tags:
        - ForumPosts
      summary: Gets a Forum Post
      operationId: ForumPosts_getPost
      description: ''
      parameters:
        - description: The record's ID
          name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - description: Authorization
          name: Authorization
          in: header
          required: true
          schema:
            type: string
            default: '{{Authorization}}'
      responses:
        '200':
          description: Request succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForumPostsGetPost200Response'
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ForumPostsGetPostResponse'
        '400':
          description: Often missing or invalid parameter.
        '401':
          description: Authentication failed.
        '403':
          description: API User does not have access to Record.
        '404':
          description: Record not found.
      deprecated: false
  /CommunityPosts/{id}/CommunityComments:
    get:
      tags:
        - ForumPosts
      summary: Gets a list of Forum Comments of a Forum Post
      operationId: ForumPosts_getComments
      description: ''
      parameters:
        - description: A Record's ID
          name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - description: Authorization
          name: Authorization
          in: header
          required: true
          schema:
            type: string
            default: '{{Authorization}}'
      responses:
        '201':
          description: Request succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForumPostsGetComments201Response'
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ForumPostsGetCommentsResponse'
        '400':
          description: Data validation error.
        '401':
          description: Authentication failed.
        '403':
          description: API User does not have access to Record.
        '404':
          description: Record not found.
      deprecated: false
    put:
      tags:
        - ForumPosts
      summary: Updates a Forum Comment of a Forum Post
      operationId: ForumPosts_updateComment
      description: ''
      parameters:
        - description: A Record's ID
          name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - description: Authorization
          name: Authorization
          in: header
          required: true
          schema:
            type: string
            default: '{{Authorization}}'
      requestBody:
        description: The child entity to add (just include the JSON object as request body)
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForumPostsUpdateCommentRequest'
        required: true
      responses:
        '200':
          description: Request succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForumPostsUpdateCommentResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ForumPostsUpdateComment200Response'
        '400':
          description: Data validation error.
        '401':
          description: Authentication failed.
        '403':
          description: API User does not have access to Record.
        '404':
          description: Record not found.
      deprecated: false
    post:
      tags:
        - ForumPosts
      summary: Adds a Forum Comment to a Forum Post
      operationId: ForumPosts_addComment
      description: ''
      parameters:
        - description: A Record's ID
          name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - description: Authorization
          name: Authorization
          in: header
          required: true
          schema:
            type: string
            default: '{{Authorization}}'
      requestBody:
        description: The child entity to add (just include JSON object as request body)
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForumPostsAddCommentRequest'
        required: true
      responses:
        '201':
          description: Request succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForumPostsAddCommentResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ForumPostsAddComment201Response'
        '400':
          description: Data validation error.
        '401':
          description: Authentication failed.
        '403':
          description: API User does not have access to Record.
        '404':
          description: Record not found.
      deprecated: false
  /CommunityPosts/{id}/CommunityComments/{childEntityId}: {}
  /CommunityPosts/{id}/Follow:
    get:
      tags:
        - ForumPosts
      summary: Gets a Follow state for a Forum Post
      operationId: ForumPosts_getFollowState
      description: ''
      parameters:
        - description: A record's ID (RECORD_ID)
          name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - description: Authorization
          name: Authorization
          in: header
          required: true
          schema:
            type: string
            default: '{{Authorization}}'
      responses:
        '200':
          description: Request succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIFollow'
        '400':
          description: Often missing or invalid parameter.
        '401':
          description: Authentication failed.
        '403':
          description: API User does not have access to Record.
        '404':
          description: Record not found.
      deprecated: false
    post:
      tags:
        - ForumPosts
      summary: Start following a Forum Post
      operationId: ForumPosts_startFollowingPost
      description: ''
      parameters:
        - description: A Record's ID (RECORD_ID)
          name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - description: Authorization
          name: Authorization
          in: header
          required: true
          schema:
            type: string
            default: '{{Authorization}}'
      responses:
        '201':
          description: Request succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIFollow'
            text/json:
              schema:
                $ref: '#/components/schemas/APIFollow'
        '400':
          description: Data validation error.
        '401':
          description: Authentication failed.
        '403':
          description: API User does not have access to Record.
        '404':
          description: Record not found.
      deprecated: false
    delete:
      tags:
        - ForumPosts
      summary: Stop following a Forum Post
      operationId: ForumPosts_unfollowPost
      description: ''
      parameters:
        - description: A Record's ID (RECORD_ID)
          name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - description: Authorization
          name: Authorization
          in: header
          required: true
          schema:
            type: string
            default: '{{Authorization}}'
      responses:
        '202':
          description: Delete succeeded.
        '401':
          description: Authentication failed.
        '403':
          description: API User does not have access to Record.
        '404':
          description: Record not found.
        '417':
          description: Delete failed.
      deprecated: false
  /CommunityPosts/{id}/MergeDocument/{documentTemplateId}:
    post:
      tags:
        - ForumPosts
      summary: Generates a new Merge Document
      operationId: ForumPosts_generateMergeDocument
      description: >-
        Returns the generated document. If the 'format' parameter is set to
        'JSON', returns the metadata of the associated File Attachment in JSON
        format.
      parameters:
        - description: A Record's ID (RECORD_ID)
          name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - description: A Document Template Id
          name: documentTemplateId
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - description: Binary(default) or JSON
          name: format
          in: query
          required: false
          schema:
            type: string
        - description: Authorization
          name: Authorization
          in: header
          required: true
          schema:
            type: string
            default: '{{Authorization}}'
      responses:
        '200':
          description: Request succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForumPostsGenerateMergeDocumentResponse'
            text/json:
              schema:
                $ref: >-
                  #/components/schemas/ForumPostsGenerateMergeDocument200Response
        '400':
          description: Often missing or invalid parameter.
        '401':
          description: Authentication failed.
        '403':
          description: API User does not have access to Document Template.
        '404':
          description: Record not found.
      deprecated: false
  /CommunityPosts/Search:
    get:
      tags:
        - ForumPosts
      summary: Gets a filtered list of Forum Posts
      operationId: ForumPosts_getList
      description: >-
        To filter with a field name and value, both field_name and field_value
        parameters must be provided.            <br /> Simple object graphs
        (excluding TAGS, CUSTOMFIELDS, etc.) are returned if "brief=true" is
        used in the query string.
      parameters:
        - description: Optional, field name for object
          name: field_name
          in: query
          required: false
          schema:
            type: string
        - description: Optional, field value of the record
          name: field_value
          in: query
          required: false
          schema:
            type: string
        - description: Optional, earliest date when a record was last updated.
          name: updated_after_utc
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - description: >-
            Optional, true if response should only contain top level properties
            of the record.
          name: brief
          in: query
          required: false
          schema:
            type: boolean
            default: false
        - description: Optional, number of records to skip.
          name: skip
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - description: Optional, maximum number of records to return in the response.
          name: top
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - description: >-
            Optional, true if total number of records should be returned in the
            response headers.
          name: count_total
          in: query
          required: false
          schema:
            type: boolean
            default: false
        - description: Authorization
          name: Authorization
          in: header
          required: true
          schema:
            type: string
            default: '{{Authorization}}'
      responses:
        '200':
          description: Request succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForumPostsGetList200Response'
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ForumPostsGetListResponse'
        '400':
          description: Often missing or invalid parameter.
        '401':
          description: Authentication failed.
      deprecated: false
  /Contacts:
    get:
      tags:
        - Contacts
      summary: Gets a list of Contacts
      operationId: Contacts_getList
      description: >-
        Simple object graphs (excluding LINKS, etc.) are returned if
        "brief=true" is used in the query string.
      parameters:
        - description: >-
            Optional, true if response should only contain top level properties
            of the record.
          name: brief
          in: query
          required: false
          schema:
            type: boolean
            default: false
        - description: Optional, number of records to skip.
          name: skip
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - description: Optional, maximum number of records to return in the response.
          name: top
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - description: >-
            Optional,true if total number of records should be returned in the
            response headers.
          name: count_total
          in: query
          required: false
          schema:
            type: boolean
            default: false
        - description: Authorization
          name: Authorization
          in: header
          required: true
          schema:
            type: string
            default: '{{Authorization}}'
      responses:
        '200':
          description: Request succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactsGetList200Response'
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ContactsGetListResponse'
        '400':
          description: Often missing or invalid parameter.
        '401':
          description: Authentication failed.
      deprecated: false
    put:
      tags:
        - Contacts
      summary: Updates a Contact
      operationId: Contacts_updateContact
      description: >-
        If you have trouble updating a Contact, try accessing the Contact via
        the GET request to inspect its fields and sub-elements. A common source
        of            problems with write/update requests occurs when users
        either omit required fields, or insert invalid data into a field (for
        example, by referring a            CATEGORY_ID or LINK_ID which does not
        exist.
      parameters:
        - description: Authorization
          name: Authorization
          in: header
          required: true
          schema:
            type: string
            default: '{{Authorization}}'
      requestBody:
        description: >-
          The record to update (just include the JSON object as the request
          body)
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactsUpdateContactRequest'
        required: true
      responses:
        '201':
          description: Request succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactsUpdateContactResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ContactsUpdateContact201Response'
        '400':
          description: Data validation error.
        '401':
          description: Authentication failed.
        '402':
          description: Record limit reached.
      deprecated: false
    post:
      tags:
        - Contacts
      summary: Adds a Contact
      operationId: Contacts_createContact
      description: >-
        If you have trouble with creating a Contact, try creating Contacts via
        the web interface, and then access those Contacts via the API. This way
        you            can see examples of the fields and sub-elements attached
        to the Contact. A common source of problems during write/update request
        is caused when users omit            required fields, or insert invalid
        data in a field (e.g. reference a CATEGORY_ID that does not exist in the
        user's Insightly instance.
      parameters:
        - description: Authorization
          name: Authorization
          in: header
          required: true
          schema:
            type: string
            default: '{{Authorization}}'
      requestBody:
        description: The record to add (just include the JSON object as the request body)
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactsCreateContactRequest'
        required: true
      responses:
        '201':
          description: Request succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactsCreateContactResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ContactsCreateContact201Response'
        '400':
          description: Data validation error.
        '401':
          description: Authentication failed.
        '402':
          description: Record limit reached.
      deprecated: false
  /Contacts/{id}:
    get:
      tags:
        - Contacts
      summary: Gets a Contact
      operationId: Contacts_getContact
      description: ''
      parameters:
        - description: The record's ID
          name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - description: Authorization
          name: Authorization
          in: header
          required: true
          schema:
            type: string
            default: '{{Authorization}}'
      responses:
        '200':
          description: Request succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactsGetContact200Response'
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ContactsGetContactResponse'
        '400':
          description: Often missing or invalid parameter.
        '401':
          description: Authentication failed.
        '403':
          description: API User does not have access to Record.
        '404':
          description: Record not found.
      deprecated: false
    delete:
      tags:
        - Contacts
      summary: Deletes a Contact
      operationId: Contacts_deleteContact
      description: ''
      parameters:
        - description: Entity's ID
          name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - description: Authorization
          name: Authorization
          in: header
          required: true
          schema:
            type: string
            default: '{{Authorization}}'
      responses:
        '202':
          description: Delete succeeded.
        '401':
          description: Authentication failed.
        '403':
          description: API User does not have access to Record.
        '404':
          description: Record not found.
        '417':
          description: Delete failed.
      deprecated: false
  /Contacts/{id}/ActivitySetAssignment:
    post:
      tags:
        - Contacts
      summary: Adds an Activity Set to a Contact
      operationId: Contacts_addActivitySetAssignment
      description: ''
      parameters:
        - description: A Record's ID
          name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - description: Authorization
          name: Authorization
          in: header
          required: true
          schema:
            type: string
            default: '{{Authorization}}'
      requestBody:
        $ref: '#/components/requestBodies/APIActivitySetAssignment'
      responses:
        '201':
          description: Request succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIActivitySetAssignment'
            text/json:
              schema:
                $ref: '#/components/schemas/APIActivitySetAssignment'
        '400':
          description: Data validation error.
        '401':
          description: Authentication failed.
        '403':
          description: API User does not have access to Record.
        '404':
          description: Record, Activity Set or Activities not found.
      deprecated: false
  /Contacts/{id}/Dates:
    get:
      tags:
        - Contacts
      summary: Gets a Contact's Dates
      operationId: Contacts_getDates
      description: ''
      parameters:
        - description: The record's ID
          name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - description: Authorization
          name: Authorization
          in: header
          required: true
          schema:
            type: string
            default: '{{Authorization}}'
      responses:
        '201':
          description: Request succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactsGetDatesResponse'
        '400':
          description: Data validation error.
        '401':
          description: Authentication failed.
        '403':
          description: API User does not have access to Record.
        '404':
          description: Record not found.
      deprecated: false
    put:
      tags:
        - Contacts
      summary: Updates a Contact's Dates
      operationId: Contacts_updateDates
      description: ''
      parameters:
        - description: A Record's ID
          name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - description: Authorization
          name: Authorization
          in: header
          required: true
          schema:
            type: string
            default: '{{Authorization}}'
      requestBody:
        $ref: '#/components/requestBodies/APIDate'
      responses:
        '200':
          description: Request succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactsUpdateDatesResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ContactsUpdateDates200Response'
        '400':
          description: Data validation error.
        '401':
          description: Authentication failed.
        '403':
          description: API User does not have access to Record.
        '404':
          description: Record not found.
      deprecated: false
  /Contacts/{id}/Emails:
    get:
      tags:
        - Contacts
      summary: Gets a list of a Contact's Emails
      operationId: Contacts_getEmailsList
      description: ''
      parameters:
        - description: A Record's ID
          name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - description: Optional, earliest date when email was last updated.
          name: updated_after_utc
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - description: Optional, maximum number of emails to return.
          name: top
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - description: Optional, number of emails to skip.
          name: skip
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - description: true if only top level properties needs to be returned.
          name: brief
          in: query
          required: false
          schema:
            type: boolean
            default: false
        - description: >-
            true if total number of records should be returned in the response
            headers.
          name: count_total
          in: query
          required: false
          schema:
            type: boolean
            default: false
        - description: Authorization
          name: Authorization
          in: header
          required: true
          schema:
            type: string
            default: '{{Authorization}}'
      responses:
        '200':
          description: Request succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactsGetEmailsList200Response'
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ContactsGetEmailsListResponse'
        '400':
          description: Often missing or invalid parameter.
        '401':
          description: Authentication failed.
        '403':
          description: API User does not have access to Record.
        '404':
          description: Record not found.
      deprecated: false
  /Contacts/{id}/Events:
    get:
      tags:
        - Contacts
      summary: Gets a Contact's Events
      operationId: Contacts_getEvents
      description: ''
      parameters:
        - description: A Record's ID
          name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - description: Optional, earliest date when event was last updated.
          name: updated_after_utc
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - description: Optional, maximum number of events to return.
          name: top
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - description: Optional, number of events to skip.
          name: skip
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - description: true if only top level properties needs to be returned.
          name: brief
          in: query
          required: false
          schema:
            type: boolean
            default: false
        - description: >-
            true if total number of records should be returned in the response
            headers.
          name: count_total
          in: query
          required: false
          schema:
            type: boolean
            default: false
        - description: Authorization
          name: Authorization
          in: header
          required: true
          schema:
            type: string
            default: '{{Authorization}}'
      responses:
        '200':
          description: Request succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactsGetEvents200Response'
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ContactsGetEventsResponse'
        '400':
          description: Often missing or invalid parameter.
        '401':
          description: Authentication failed.
        '403':
          description: API User does not have access to Record.
        '404':
          description: Record not found.
      deprecated: false
  /Contacts/{id}/FileAttachments:
    get:
      tags:
        - Contacts
      summary: Gets a Contact's File Attachments
      operationId: Contacts_getFileAttachments
      description: ''
      parameters:
        - description: A Record's ID
          name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - description: Optional, earliest date when file attachment was last updated.
          name: updated_after_utc
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - description: Optional, number of file attachments to skip.
          name: skip
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - description: >-
            Optional, maximum number of file attachments to return in the
            response.
          name: top
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - description: >-
            true if total number of records should be returned in the response
            headers.
          name: count_total
          in: query
          required: false
          schema:
            type: boolean
            default: false
        - description: Authorization
          name: Authorization
          in: header
          required: true
          schema:
            type: string
            default: '{{Authorization}}'
      responses:
        '200':
          description: Request succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactsGetFileAttachmentsResponse'
        '400':
          description: Often missing or invalid parameter.
        '401':
          description: Authentication failed.
        '403':
          description: API User does not have access to Record.
        '404':
          description: Record not found.
      deprecated: false
    post:
      tags:
        - Contacts
      summary: Adds a File Attachment to a Contact
      operationId: Contacts_addFileAttachment
      description: >-
        This endpoint expects multipart/form-data as the request payload. See
        Stack Overflow for examples of how to generate multipart requests, or
        see our <a href="http://github.com/Insightly" target="_blank">client
        libraries</a> for an example of how this is generated. Only one file can
        be added per request. Some file types are not allowed for security
        reasons.
      parameters:
        - description: Record ID
          name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - description: Authorization
          name: Authorization
          in: header
          required: true
          schema:
            type: string
            default: '{{Authorization}}'
      requestBody:
        $ref: '#/components/requestBodies/AddFileAttachment'
      responses:
        '201':
          description: Request succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIFileAttachment'
            text/json:
              schema:
                $ref: '#/components/schemas/APIFileAttachment'
        '400':
          description: Data validation error.
        '401':
          description: Authentication failed.
        '402':
          description: Record or storage limit reached.
        '403':
          description: API User does not have access to Record.
        '404':
          description: Record not found.
        '417':
          description: File Attachment insert failed.
      deprecated: false
  /Contacts/{id}/Follow:
    get:
      tags:
        - Contacts
      summary: Gets a Follow state for a Contact
      operationId: Contacts_getFollowState
      description: ''
      parameters:
        - description: A record's ID (RECORD_ID)
          name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - description: Authorization
          name: Authorization
          in: header
          required: true
          schema:
            type: string
            default: '{{Authorization}}'
      responses:
        '200':
          description: Request succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIFollow'
        '400':
          description: Often missing or invalid parameter.
        '401':
          description: Authentication failed.
        '403':
          description: API User does not have access to Record.
        '404':
          description: Record not found.
      deprecated: false
    post:
      tags:
        - Contacts
      summary: Start following a Contact
      operationId: Contacts_startFollowing
      description: ''
      parameters:
        - description: A Record's ID (RECORD_ID)
          name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - description: Authorization
          name: Authorization
          in: header
          required: true
          schema:
            type: string
            default: '{{Authorization}}'
      responses:
        '201':
          description: Request succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIFollow'
            text/json:
              schema:
                $ref: '#/components/schemas/APIFollow'
        '400':
          description: Data validation error.
        '401':
[...]
