openapi: 3.0.0
info:
  title: General API
  description: >-
    >

    This is a description of the API.  

    # Authentication

    ## Token-based Authentication

    One method of connecting to the API is to use a persistent access token that
    is associated with a specific user account. This access token should be
    passed using the Authorization header with each API request. For example, if
    your Authentication Token was VnJexj4MzMhLilaLz7MdYFEKFRBmuBUAJMkDjOdTp, the
    correct header would be:  


    ```X-AUTH-TOKEN: VnJexj4MzMhLilaLz7MdYFEKFRBmuBUAJMkDjOdTp```
  version: 0.3.0
  x-api-status-urls:
    - https://api.interviewstream.com/
servers:
  - url: https://api.interviewstream.com
tags:
  - name: RequisitionCandidate
  - name: Requisitions
  - name: Candidates
  - name: Incoming Assessment
paths:
  /incoming-assessment:
    get:
      tags:
        - Incoming Assessment
      operationId: IncomingAssessment_getData
      parameters:
        - description: ATS integration name
          name: ats
          in: query
          required: true
          style: form
          schema:
            type: string
        - description: ID of the company
          name: companyId
          in: query
          required: true
          style: form
          schema:
            type: integer
            format: int64
        - description: ID of the Assessment Order
          name: assessmentOrderId
          in: query
          required: true
          style: form
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: >-
            Perform an Incoming Assessment from the ATS SuccessFactors to IVS
            application. This General API changes the status of an interview.
        '400':
          description: >-
            Bad request: ATS, companyId, and assessmentOrderId are required. If
            ATS is present, greenhouse is not supported yet
        '404':
          description: 'Not found: ATS was not found'
  /candidates:
    get:
      tags:
        - Candidates
      summary: Returns a list of candidates that the API token has access to.
      operationId: Candidates_listAccessible
      security:
        - HasApiKey: []
      description: |2-
         >
         *       Returns a list of candidates that the API token has access to.
      responses:
        '200':
          description: Returns a list of candidates that the API token has access to.
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /candidates/{iCandidate}:
    get:
      tags:
        - Candidates
      summary: Gets a candidate by ID.
      operationId: Candidates_getById
      security:
        - HasApiKey: []
      description: |2-
         >
         *       Returns detailed information about the specified Candidate.
      parameters:
        - description: Candidate ID
          name: iCandidate
          in: path
          required: true
          style: form
          schema:
            type: integer
      responses:
        '200':
          description: Returns detailed information about the specified Candidate.
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /requisitions:
    get:
      tags:
        - Requisitions
      summary: Gets a list of Requisitions.
      operationId: Requisitions_list
      security:
        - HasApiKey: []
      description: |2-
         >
         *     Returns a list of requisitions that the API token has access to.
      responses:
        '200':
          description: Returns a list of requisitions that the API token has access to.
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
  /requisitions/{iRequisition}:
    get:
      tags:
        - Requisitions
      summary: Gets a Requisition Candidate by ID.
      operationId: Requisitions_getRequisitionCandidate
      security:
        - HasApiKey: []
      description: |2-
         >
         *     Returns detailed information about the specified Requisition.
      parameters:
        - description: Requisition ID
          name: iRequisition
          in: path
          required: true
          style: form
          schema:
            type: integer
      responses:
        '200':
          description: Returns detailed information about the specified Requisition.
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
  /requisitions/{iRequisition}/candidates:
    get:
      tags:
        - Requisitions
      summary: >-
        Returns a list of RequisitionCandidates belonging to the specified
        Requisition.
      operationId: Requisitions_listCandidates
      security:
        - HasApiKey: []
      description: |2-
         >
         *     Returns a list of RequisitionCandidates belonging to the specified Requisition.
      parameters:
        - description: Requisition ID
          name: iRequisition
          in: path
          required: true
          style: form
          schema:
            type: integer
      responses:
        '200':
          description: >-
            Returns a list of RequisitionCandidates belonging to the specified
            Requisition.
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /requisitionCandidates:
    get:
      tags:
        - RequisitionCandidate
      summary: >-
        Returns a list of requisition candidates that the API token has access
        to.
      operationId: RequisitionCandidate_list
      security:
        - HasApiKey: []
      description: |2-
         >
         *       Returns a list of requisition candidates that the API token has access to.
      responses:
        '200':
          description: >-
            Returns a list of requisitions-candidates that the API token has
            access to.
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /requisitionCandidates/{iRequisitionCandidates}:
    get:
      tags:
        - RequisitionCandidate
      summary: Returns detailed information about the specified requisition candidates.
      operationId: RequisitionCandidate_getDetails
      security:
        - HasApiKey: []
      description: |2-
         >
         *       Returns detailed information about the specified requisition candidates.
      parameters:
        - description: Requisition Candidate ID
          name: iRequisitionCandidates
          in: path
          required: true
          style: form
          schema:
            type: integer
      responses:
        '200':
          description: >-
            Returns a list of requisitions-candidates that the API token has
            access to.
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /requisitionCandidates/{iRequisitionCandidates}/shareLinks:
    get:
      tags:
        - RequisitionCandidate
      summary: >-
        Returns a list of RequisitionCandidateShareLinks belonging to this
        RequisitionCandidate.
      operationId: RequisitionCandidate_getShareLinks
      security:
        - HasApiKey: []
      description: |2-
         >
         *       Returns a list of RequisitionCandidateShareLinks belonging to this RequisitionCandidate.
      parameters:
        - description: Requisition Candidate ID
          name: iRequisitionCandidates
          in: path
          required: true
          style: form
          schema:
            type: integer
      responses:
        '200':
          description: >-
            Returns a list of requisitions-candidates that the API token has
            access to.
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /requisitionCandidates/{iRequisitionCandidates}/requests:
    get:
      tags:
        - RequisitionCandidate
      summary: >-
        Returns a list of RequisitionCandidateRequests belonging to this
        RequisitionCandidate.
      operationId: RequisitionCandidate_getRequests
      security:
        - HasApiKey: []
      description: |2-
         >
         *       Returns a list of RequisitionCandidateRequests belonging to this RequisitionCandidate.
      parameters:
        - description: Requisition Candidate ID
          name: iRequisitionCandidates
          in: path
          required: true
          style: form
          schema:
            type: integer
      responses:
        '200':
          description: >-
            Returns a list of requisitions-candidates that the API token has
            access to.
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
components:
  securitySchemes:
    HasApiKey:
      type: apiKey
      name: X-AUTH-TOKEN
      in: header
