openapi: 3.0.1
info:
  title: Intercom API
  description: The intercom API reference.
  version: '2.9'
  contact:
    name: Intercom Developer Hub
    url: https://developers.intercom.com
  license:
    name: MIT
    url: https://spdx.org/licenses/MIT
  x-konfig-ignore:
    potential-incorrect-type: true
servers:
  - description: The production API server
    url: https://api.intercom.io
  - description: The european API server
    url: https://api.eu.intercom.io
  - description: The australian API server
    url: https://api.au.intercom.io
tags:
  - description: Everything about your contacts
    name: Contacts
  - description: Everything about your Conversations
    name: Conversations
    externalDocs:
      description: What is a conversation?
      url: https://www.intercom.com/help/en/articles/4323904-what-is-a-conversation
  - description: Everything about your Companies
    name: Companies
  - description: Everything about your Help Center
    name: Help Center
  - description: Everything about tags
    name: Tags
  - description: Everything about your News
    name: News
    externalDocs:
      description: News explained
      url: https://www.intercom.com/help/en/articles/6362251-news-explained
  - description: Everything about your Admins
    name: Admins
  - description: Everything about your Articles
    name: Articles
  - description: Everything about your Visitors
    name: Visitors
  - description: Everything about your Data Exports
    name: Data Export
  - description: Everything about subscription types
    name: Subscription Types
  - description: Everything about your ticket types
    name: Ticket Types
  - description: Everything about your tickets
    name: Tickets
  - description: Everything about your Data Attributes
    name: Data Attributes
  - description: Everything about your Data Events
    name: Data Events
  - description: Everything about your Notes
    name: Notes
  - description: Everything about your Segments
    name: Segments
  - description: Everything about your Teams
    name: Teams
  - description: Everything about your ticket type attributes
    name: Ticket Type Attributes
  - description: Everything about your messages
    name: Messages
  - description: Everything about Switch
    name: Switch
    externalDocs:
      description: 'Meet Switch: from on hold to messaging in just a few taps'
      url: https://www.intercom.com/switch
paths:
  /me:
    get:
      tags:
        - Admins
      summary: Identify an admin
      operationId: Admins_getAdminDetails
      description: >

        You can view the currently authorised admin along with the embedded app
        object (a "workspace" in legacy terminology).


        > 🚧 Single Sign On

        >

        > If you are building a custom "Log in with Intercom" flow for your
        site, and you call the `/me` endpoint to identify the logged-in user,
        you should not accept any sign-ins from users with unverified email
        addresses as it poses a potential impersonation security risk.
      parameters:
        - name: Intercom-Version
          in: header
          schema:
            $ref: '#/components/schemas/intercom_version'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              examples:
                Successful response:
                  value:
                    type: admin
                    id: '991281791'
                    email: admin1@email.com
                    name: Ciaran1 Lee
                    email_verified: true
                    app:
                      type: app
                      id_code: this_is_an_id1_that_should_be_at_least_40
                      name: MyApp 1
                      created_at: 1712222515
                      secure: false
                      identity_verification: false
                      timezone: America/Los_Angeles
                      region: US
                    avatar:
                      type: avatar
                      image_url: >-
                        https://static.intercomassets.com/assets/default-avatars/admins/128.png
                    has_inbox_seat: true
              schema:
                $ref: '#/components/schemas/admin_with_app'
  /admins/{id}/away:
    put:
      tags:
        - Admins
      summary: Set an admin to away
      operationId: Admins_setAdminAway
      description: You can set an Admin as away for the Inbox.
      parameters:
        - name: Intercom-Version
          in: header
          schema:
            $ref: '#/components/schemas/intercom_version'
        - description: The unique identifier of a given admin
          name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminsSetAdminAwayRequest'
            examples:
              successful_response:
                summary: Successful response
                value:
                  away_mode_enabled: true
                  away_mode_reassign: true
              admin_not_found:
                summary: Admin not found
                value:
                  away_mode_enabled: true
                  away_mode_reassign: true
              unauthorized:
                summary: Unauthorized
                value:
                  away_mode_enabled: true
                  away_mode_reassign: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              examples:
                Successful response:
                  value:
                    type: admin
                    id: '991281792'
                    name: Ciaran2 Lee
                    email: admin2@email.com
                    away_mode_enabled: true
                    away_mode_reassign: true
                    has_inbox_seat: true
                    team_ids: []
              schema:
                $ref: '#/components/schemas/admin'
        '401':
          description: Unauthorized
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    type: error.list
                    request_id: 145898f9-a6d4-4f3b-8a39-df28d984cb53
                    errors:
                      - code: unauthorized
                        message: Access Token Invalid
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Admin not found
          content:
            application/json:
              examples:
                Admin not found:
                  value:
                    type: error.list
                    request_id: 43ee316e-d98c-44fc-94e6-b1e1a55b5228
                    errors:
                      - code: admin_not_found
                        message: Admin for admin_id not found
              schema:
                $ref: '#/components/schemas/error'
  /admins/activity_logs:
    get:
      tags:
        - Admins
      summary: List all activity logs
      operationId: Admins_listActivityLogs
      description: You can get a log of activities by all admins in an app.
      parameters:
        - name: Intercom-Version
          in: header
          schema:
            $ref: '#/components/schemas/intercom_version'
        - description: >-
            The start date that you request data for. It must be formatted as a
            UNIX timestamp.
          name: created_at_after
          in: query
          required: true
          example: '1677253093'
          schema:
            type: string
        - description: >-
            The end date that you request data for. It must be formatted as a
            UNIX timestamp.
          name: created_at_before
          in: query
          required: false
          example: '1677861493'
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              examples:
                Successful response:
                  value:
                    type: activity_log.list
                    pages:
                      type: pages
                      next: null
                      page: 1
                      per_page: 20
                      total_pages: 1
                    activity_logs:
                      - id: 7bf4bd87-47a8-4dcf-aff0-eef4b10a9229
                        performed_by:
                          type: admin
                          id: '991281795'
                          email: admin5@email.com
                          ip: 127.0.0.1
                        metadata:
                          message:
                            title: Initial message title
                            id: 123
                          before: Initial message title
                          after: Eventual message title
                        created_at: 1712222521
                        activity_type: message_state_change
                        activity_description: >-
                          Ciaran5 Lee changed your Initial message title message
                          from Initial message title to Eventual message title.
                      - id: 598f95a0-6969-4ada-9de2-3be877cf3f11
                        performed_by:
                          type: admin
                          id: 991281795X
                          email: admin5@email.com
                          ip: 127.0.0.1
                        metadata:
                          before: before
                          after: after
                        created_at: 1712222521
                        activity_type: app_name_change
                        activity_description: >-
                          Ciaran5 Lee changed your app name from before to
                          after.
              schema:
                $ref: '#/components/schemas/activity_log_list'
        '401':
          description: Unauthorized
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    type: error.list
                    request_id: 0f3aa466-8936-4ab6-a492-19ab1a1087c4
                    errors:
                      - code: unauthorized
                        message: Access Token Invalid
              schema:
                $ref: '#/components/schemas/error'
  /admins:
    get:
      tags:
        - Admins
      summary: List all admins
      operationId: Admins_getAll
      description: You can fetch a list of admins for a given workspace.
      parameters:
        - name: Intercom-Version
          in: header
          schema:
            $ref: '#/components/schemas/intercom_version'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              examples:
                Successful response:
                  value:
                    type: admin.list
                    admins:
                      - type: admin
                        email: admin7@email.com
                        id: '991281797'
                        name: Ciaran7 Lee
                        away_mode_enabled: false
                        away_mode_reassign: false
                        has_inbox_seat: true
                        team_ids: []
              schema:
                $ref: '#/components/schemas/admin_list'
        '401':
          description: Unauthorized
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    type: error.list
                    request_id: 00922901-b69e-47a1-8f7d-4179fea8d8dc
                    errors:
                      - code: unauthorized
                        message: Access Token Invalid
              schema:
                $ref: '#/components/schemas/error'
  /admins/{id}:
    get:
      tags:
        - Admins
      summary: Retrieve an admin
      operationId: Admins_getAdminById
      description: You can retrieve the details of a single admin.
      parameters:
        - name: Intercom-Version
          in: header
          schema:
            $ref: '#/components/schemas/intercom_version'
        - description: The unique identifier of a given admin
          name: id
          in: path
          required: true
          example: 123
          schema:
            type: integer
      responses:
        '200':
          description: Admin found
          content:
            application/json:
              examples:
                Admin found:
                  value:
                    type: admin
                    id: '991281799'
                    name: Ciaran9 Lee
                    email: admin9@email.com
                    away_mode_enabled: false
                    away_mode_reassign: false
                    has_inbox_seat: true
                    team_ids: []
              schema:
                $ref: '#/components/schemas/admin'
        '401':
          description: Unauthorized
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    type: error.list
                    request_id: a446b7f5-8ed0-4db1-8959-42d772ecea4c
                    errors:
                      - code: unauthorized
                        message: Access Token Invalid
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Admin not found
          content:
            application/json:
              examples:
                Admin not found:
                  value:
                    type: error.list
                    request_id: 28143bd2-8d6b-4555-8b80-bd8ee3e85f6c
                    errors:
                      - code: admin_not_found
                        message: Admin not found
              schema:
                $ref: '#/components/schemas/error'
  /articles:
    get:
      tags:
        - Articles
      summary: List all articles
      operationId: Articles_listAll
      description: >
        You can fetch a list of all articles by making a GET request to
        `https://api.intercom.io/articles`.


        > 📘 How are the articles sorted and ordered?

        >

        > Articles will be returned in descending order on the `updated_at`
        attribute. This means if you need to iterate through results then we'll
        show the most recently updated articles first.
      parameters:
        - name: Intercom-Version
          in: header
          schema:
            $ref: '#/components/schemas/intercom_version'
      responses:
        '200':
          description: successful
          content:
            application/json:
              examples:
                successful:
                  value:
                    type: list
                    pages:
                      type: pages
                      page: 1
                      per_page: 25
                      total_pages: 1
                    total_count: 1
                    data:
                      - title: This is the article title
                        description: ''
                        id: '603'
                        type: article
                        workspace_id: this_is_an_id22_that_should_be_at_least_4
                        parent_id: 2442
                        parent_type: collection
                        parent_ids: []
                        body: ''
                        author_id: 991281802
                        state: published
                        created_at: 1712222526
                        updated_at: 1712222526
                        url: >-
                          http://help-center.test/myapp-22/en/articles/603-this-is-the-article-title
              schema:
                $ref: '#/components/schemas/article_list'
        '401':
          description: Unauthorized
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    type: error.list
                    request_id: 46b18aa9-baac-42dd-8e0e-6f2db47052f9
                    errors:
                      - code: unauthorized
                        message: Access Token Invalid
              schema:
                $ref: '#/components/schemas/error'
    post:
      tags:
        - Articles
      summary: Create an article
      operationId: Articles_createNewArticle
      description: >-
        You can create a new article by making a POST request to
        `https://api.intercom.io/articles`.
      parameters:
        - name: Intercom-Version
          in: header
          schema:
            $ref: '#/components/schemas/intercom_version'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create_article_request'
            examples:
              article_created:
                summary: article created
                value:
                  title: Thanks for everything
                  description: Description of the Article
                  body: Body of the Article
                  author_id: 991281807
                  state: published
                  parent_id: 2444
                  parent_type: collection
                  translated_content:
                    fr:
                      title: Merci pour tout
                      description: Description de l'article
                      body: Corps de l'article
                      author_id: 991281807
                      state: published
              bad_request:
                summary: Bad Request
                value:
                  title: Thanks for everything
                  description: Description of the Article
                  body: Body of the Article
                  state: published
      responses:
        '200':
          description: article created
          content:
            application/json:
              examples:
                article created:
                  value:
                    title: Thanks for everything
                    description: Description of the Article
                    id: '606'
                    type: article
                    workspace_id: this_is_an_id26_that_should_be_at_least_4
                    parent_id: 2444
                    parent_type: collection
                    parent_ids: []
                    statistics:
                      type: article_statistics
                      views: 0
                      conversations: 0
                      reactions: 0
                      happy_reaction_percentage: 0
                      neutral_reaction_percentage: 0
                      sad_reaction_percentage: 0
                    body: <p class="no-margin">Body of the Article</p>
                    author_id: 991281807
                    state: published
                    created_at: 1712222528
                    updated_at: 1712222528
                    url: >-
                      http://help-center.test/myapp-26/en/articles/606-thanks-for-everything
              schema:
                $ref: '#/components/schemas/article_list_item'
        '400':
          description: Bad Request
          content:
            application/json:
              examples:
                Bad Request:
                  value:
                    type: error.list
                    request_id: cca83e76-d644-4039-bdee-9818c21dd589
                    errors:
                      - code: parameter_not_found
                        message: >-
                          author_id must be in the main body or default locale
                          translated_content object
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Unauthorized
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    type: error.list
                    request_id: 1d93e5d6-2594-4d8d-bc0d-330b975b1449
                    errors:
                      - code: unauthorized
                        message: Access Token Invalid
              schema:
                $ref: '#/components/schemas/error'
  /articles/{id}:
    get:
      tags:
        - Articles
      summary: Retrieve an article
      operationId: Articles_getById
      description: >-
        You can fetch the details of a single article by making a GET request to
        `https://api.intercom.io/articles/<id>`.
      parameters:
        - name: Intercom-Version
          in: header
          schema:
            $ref: '#/components/schemas/intercom_version'
        - description: The unique identifier for the article which is given by Intercom.
          name: id
          in: path
          required: true
          example: 123
          schema:
            type: integer
      responses:
        '200':
          description: Article found
          content:
            application/json:
              examples:
                Article found:
                  value:
                    title: This is the article title
                    description: ''
                    id: '609'
                    type: article
                    workspace_id: this_is_an_id32_that_should_be_at_least_4
                    parent_id: 2447
                    parent_type: collection
                    parent_ids: []
                    statistics:
                      type: article_statistics
                      views: 0
                      conversations: 0
                      reactions: 0
                      happy_reaction_percentage: 0
                      neutral_reaction_percentage: 0
                      sad_reaction_percentage: 0
                    body: ''
                    author_id: 991281812
                    state: published
                    created_at: 1712222530
                    updated_at: 1712222530
                    url: >-
                      http://help-center.test/myapp-32/en/articles/609-this-is-the-article-title
              schema:
                $ref: '#/components/schemas/article_list_item'
        '401':
          description: Unauthorized
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    type: error.list
                    request_id: 9d702eab-7fed-4f20-97ef-a62c76ecb00b
                    errors:
                      - code: unauthorized
                        message: Access Token Invalid
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Article not found
          content:
            application/json:
              examples:
                Article not found:
                  value:
                    type: error.list
                    request_id: 6a489d6d-2183-4262-a0d0-4781eb6edda5
                    errors:
                      - code: not_found
                        message: Resource Not Found
              schema:
                $ref: '#/components/schemas/error'
    put:
      tags:
        - Articles
      summary: Update an article
      operationId: Articles_updateDetails
      description: >-
        You can update the details of a single article by making a PUT request
        to `https://api.intercom.io/articles/<id>`.
      parameters:
        - name: Intercom-Version
          in: header
          schema:
            $ref: '#/components/schemas/intercom_version'
        - description: The unique identifier for the article which is given by Intercom.
          name: id
          in: path
          required: true
          example: 123
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update_article_request'
            examples:
              successful:
                summary: successful
                value:
                  title: Christmas is here!
                  body: <p>New gifts in store for the jolly season</p>
              article_not_found:
                summary: Article Not Found
                value:
                  title: Christmas is here!
                  body: <p>New gifts in store for the jolly season</p>
      responses:
        '200':
          description: successful
          content:
            application/json:
              examples:
                successful:
                  value:
                    title: Christmas is here!
                    description: ''
                    id: '612'
                    type: article
                    workspace_id: this_is_an_id38_that_should_be_at_least_4
                    parent_id: 2450
                    parent_type: collection
                    parent_ids: []
                    statistics:
                      type: article_statistics
                      views: 0
                      conversations: 0
                      reactions: 0
                      happy_reaction_percentage: 0
                      neutral_reaction_percentage: 0
                      sad_reaction_percentage: 0
                    body: >-
                      <p class="no-margin">New gifts in store for the jolly
                      season</p>
                    author_id: 991281818
                    state: published
                    created_at: 1712222532
                    updated_at: 1712222533
                    url: >-
                      http://help-center.test/myapp-38/en/articles/612-christmas-is-here
              schema:
                $ref: '#/components/schemas/article_list_item'
        '401':
          description: Unauthorized
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    type: error.list
                    request_id: e26ad315-de0f-441e-9dbb-8bb316386e65
                    errors:
                      - code: unauthorized
                        message: Access Token Invalid
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Article Not Found
          content:
            application/json:
              examples:
                Article Not Found:
                  value:
                    type: error.list
                    request_id: c0483279-1892-457c-8562-727df89d17aa
                    errors:
                      - code: not_found
                        message: Resource Not Found
              schema:
                $ref: '#/components/schemas/error'
    delete:
      tags:
        - Articles
      summary: Delete an article
      operationId: Articles_deleteArticleById
      description: >-
        You can delete a single article by making a DELETE request to
        `https://api.intercom.io/articles/<id>`.
      parameters:
        - name: Intercom-Version
          in: header
          schema:
            $ref: '#/components/schemas/intercom_version'
        - description: The unique identifier for the article which is given by Intercom.
          name: id
          in: path
          required: true
          example: 123
          schema:
            type: integer
      responses:
        '200':
          description: successful
          content:
            application/json:
              examples:
                successful:
                  value:
                    id: '615'
                    object: article
                    deleted: true
              schema:
                $ref: '#/components/schemas/deleted_article_object'
        '401':
          description: Unauthorized
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    type: error.list
                    request_id: c6494240-ac17-42c6-a7f9-996952500182
                    errors:
                      - code: unauthorized
                        message: Access Token Invalid
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Article Not Found
          content:
            application/json:
              examples:
                Article Not Found:
                  value:
                    type: error.list
                    request_id: a61a8c1b-949d-436e-916d-c9f10d02b31f
                    errors:
                      - code: not_found
                        message: Resource Not Found
              schema:
                $ref: '#/components/schemas/error'
  /help_center/collections:
    get:
      tags:
        - Help Center
      summary: List all collections
      operationId: HelpCenter_listAllCollections
      description: >
        You can fetch a list of all collections by making a GET request to
        `https://api.intercom.io/help_center/collections`.


        Collections will be returned in descending order on the `updated_at`
        attribute. This means if you need to iterate through results then we'll
        show the most recently updated collections first.
      parameters:
        - name: Intercom-Version
          in: header
          schema:
            $ref: '#/components/schemas/intercom_version'
      responses:
        '200':
          description: Successful
          content:
            application/json:
              examples:
                Successful:
                  value:
                    type: list
                    data:
                      - description: english collection description
                        id: '2458'
                        workspace_id: this_is_an_id52_that_should_be_at_least_4
                        name: English collection title
                        url: http://help-center.test/myapp-52/collection-17
                        order: 17
                        created_at: 1712222538
                        updated_at: 1712222538
                        icon: bookmark
                        help_center_id: 1194
                        type: collection
                    total_count: 1
                    pages:
                      type: pages
                      page: 1
                      per_page: 20
                      total_pages: 1
              schema:
                $ref: '#/components/schemas/collection_list'
        '401':
          description: Unauthorized
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    type: error.list
                    request_id: 21bf7182-6b07-420c-ae27-222f893df4ff
                    errors:
                      - code: unauthorized
                        message: Access Token Invalid
              schema:
                $ref: '#/components/schemas/error'
    post:
      tags:
        - Help Center
      summary: Create a collection
      operationId: HelpCenter_createCollection
      description: >-
        You can create a new collection by making a POST request to
        `https://api.intercom.io/help_center/collections.`
      parameters:
        - name: Intercom-Version
          in: header
          schema:
            $ref: '#/components/schemas/intercom_version'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create_collection_request'
            examples:
              collection_created:
                summary: collection created
                value:
                  name: Thanks for everything
              bad_request:
                summary: Bad Request
                value:
                  description: Missing required parameter
      responses:
        '200':
          description: collection created
          content:
            application/json:
              examples:
                collection created:
                  value:
                    description: ''
                    id: '2464'
                    workspace_id: this_is_an_id56_that_should_be_at_least_4
                    name: Thanks for everything
                    url: http://help-center.test/myapp-56/
                    order: 1
                    created_at: 1712222539
                    updated_at: 1712222539
                    icon: book-bookmark
                    help_center_id: 1196
                    type: collection
              schema:
                $ref: '#/components/schemas/collection'
        '400':
          description: Bad Request
          content:
            application/json:
              examples:
                Bad Request:
                  value:
                    type: error.list
                    request_id: e488bb81-b94e-445d-9013-f07ded85697a
                    errors:
                      - code: parameter_not_found
                        message: Name is a required parameter.
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Unauthorized
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    type: error.list
                    request_id: 17a02d20-f0bb-4db5-931f-234a942f564c
                    errors:
                      - code: unauthorized
                        message: Access Token Invalid
              schema:
                $ref: '#/components/schemas/error'
  /help_center/collections/{id}:
    get:
      tags:
        - Help Center
      summary: Retrieve a collection
      operationId: HelpCenter_getCollection
      description: >-
        You can fetch the details of a single collection by making a GET request
        to `https://api.intercom.io/help_center/collections/<id>`.
      parameters:
        - name: Intercom-Version
          in: header
          schema:
            $ref: '#/components/schemas/intercom_version'
        - description: The unique identifier for the collection which is given by Intercom.
          name: id
          in: path
          required: true
          example: 123
          schema:
            type: integer
      responses:
        '200':
          description: Collection found
          content:
            application/json:
              examples:
                Collection found:
                  value:
                    description: english collection description
                    id: '2469'
                    workspace_id: this_is_an_id62_that_should_be_at_least_4
                    name: English collection title
                    url: http://help-center.test/myapp-62/collection-22
                    order: 22
                    created_at: 1712222541
                    updated_at: 1712222541
                    icon: bookmark
                    help_center_id: 1199
                    type: collection
              schema:
                $ref: '#/components/schemas/collection'
        '401':
          description: Unauthorized
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    type: error.list
                    request_id: 0f655eea-6d5c-4d4b-9f38-8087fde70f98
                    errors:
                      - code: unauthorized
                        message: Access Token Invalid
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Collection not found
          content:
            application/json:
              examples:
                Collection not found:
                  value:
                    type: error.list
                    request_id: 94dc5eca-0d4c-4633-bb78-61603ed827db
                    errors:
                      - code: not_found
                        message: Resource Not Found
              schema:
                $ref: '#/components/schemas/error'
    put:
      tags:
        - Help Center
      summary: Update a collection
      operationId: HelpCenter_updateCollectionById
      description: >-
        You can update the details of a single collection by making a PUT
        request to `https://api.intercom.io/collections/<id>`.
      parameters:
        - name: Intercom-Version
          in: header
          schema:
            $ref: '#/components/schemas/intercom_version'
        - description: The unique identifier for the collection which is given by Intercom.
          name: id
          in: path
          required: true
          example: 123
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update_collection_request'
            examples:
              successful:
                summary: successful
                value:
                  name: Update collection name
              collection_not_found:
                summary: Collection Not Found
                value:
                  name: Update collection name
      responses:
        '200':
          description: successful
          content:
            application/json:
              examples:
                successful:
                  value:
                    description: english collection description
                    id: '2475'
                    workspace_id: this_is_an_id68_that_should_be_at_least_4
                    name: Update collection name
                    url: http://help-center.test/myapp-68/collection-25
                    order: 25
                    created_at: 1712222542
                    updated_at: 1712222543
                    icon: folder
                    help_center_id: 1202
                    type: collection
              schema:
                $ref: '#/components/schemas/collection'
        '401':
          description: Unauthorized
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    type: error.list
                    request_id: 637b06b4-f414-4b46-bf49-55615276753b
                    errors:
                      - code: unauthorized
                        message: Access Token Invalid
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Collection Not Found
          content:
            application/json:
              examples:
                Collection Not Found:
                  value:
                    type: error.list
                    request_id: f78b47cf-03ce-413d-b837-cf5f3660bdf4
                    errors:
                      - code: not_found
                        message: Resource Not Found
              schema:
                $ref: '#/components/schemas/error'
    delete:
      tags:
        - Help Center
      summary: Delete a collection
      operationId: HelpCenter_deleteCollection
      description: >-
        You can delete a single collection by making a DELETE request to
        `https://api.intercom.io/collections/<id>`.
      parameters:
        - name: Intercom-Version
          in: header
          schema:
            $ref: '#/components/schemas/intercom_version'
        - description: The unique identifier for the collection which is given by Intercom.
          name: id
          in: path
          required: true
          example: 123
          schema:
            type: integer
      responses:
        '200':
          description: successful
          content:
            application/json:
              examples:
                successful:
                  value:
                    id: '2481'
                    object: collection
                    deleted: true
              schema:
                $ref: '#/components/schemas/deleted_collection_object'
        '401':
          description: Unauthorized
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    type: error.list
                    request_id: 5e685910-bf31-47f8-afc2-0773088116ee
                    errors:
                      - code: unauthorized
                        message: Access Token Invalid
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: collection Not Found
          content:
            application/json:
              examples:
                collection Not Found:
                  value:
                    type: error.list
                    request_id: 52d72e8b-e231-428d-97b7-34c9472b3a83
                    errors:
                      - code: not_found
                        message: Resource Not Found
              schema:
                $ref: '#/components/schemas/error'
  /help_center/help_centers/{id}:
    get:
      tags:
        - Help Center
      summary: Retrieve a Help Center
      operationId: HelpCenter_getDetails
      description: >-
        You can fetch the details of a single Help Center by making a GET
        request to `https://api.intercom.io/help_center/help_center/<id>`.
      parameters:
        - name: Intercom-Version
          in: header
          schema:
            $ref: '#/components/schemas/intercom_version'
        - description: The unique identifier for the collection which is given by Intercom.
          name: id
          in: path
          required: true
          example: 123
          schema:
            type: integer
      responses:
        '200':
          description: Collection found
          content:
            application/json:
              examples:
                Collection found:
                  value:
                    id: '1208'
                    workspace_id: this_is_an_id80_that_should_be_at_least_4
                    created_at: 1712222546
                    updated_at: 1712222546
                    identifier: help-center-1
                    website_turned_on: false
                    display_name: Intercom Help Center
              schema:
                $ref: '#/components/schemas/help_center'
        '401':
          description: Unauthorized
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    type: error.list
                    request_id: b91e0978-cc56-43f3-a30c-1e6c2d947453
                    errors:
                      - code: unauthorized
                        message: Access Token Invalid
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Collection not found
          content:
            application/json:
              examples:
                Collection not found:
                  value:
                    type: error.list
                    request_id: 2d24ba07-070f-4e48-b94a-0ed61d31296a
                    errors:
                      - code: not_found
                        message: Resource Not Found
              schema:
                $ref: '#/components/schemas/error'
  /help_center/help_centers:
    get:
      tags:
        - Help Center
      summary: List all Help Centers
      operationId: HelpCenter_listAllHelpCenters
      description: >-
        You can list all Help Centers by making a GET request to
        `https://api.intercom.io/help_center/help_centers`.
      parameters:
        - name: Intercom-Version
          in: header
          schema:
            $ref: '#/components/schemas/intercom_version'
      responses:
        '200':
          description: Help Centers found
          content:
            application/json:
              examples:
                Help Centers found:
                  value:
                    type: list
                    data: []
              schema:
                $ref: '#/components/schemas/help_center_list'
        '401':
          description: Unauthorized
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    type: error.list
                    request_id: 2a4eed35-42c6-4921-beb5-d9bae9ab4525
                    errors:
                      - code: unauthorized
                        message: Access Token Invalid
              schema:
                $ref: '#/components/schemas/error'
  /help_center/sections:
    get:
      tags:
        - Help Center
      summary: List all sections
      operationId: HelpCenter_listAllSections
      description: >
        You can fetch a list of all sections by making a GET request to
        `https://api.intercom.io/help_center/sections`.

        > 📘 How are the sections sorted and ordered?

        >

        > Sections will be returned in descending order on the `updated_at`
        attribute. This means if you need to iterate through results then we'll
        show the most recently updated sections first.
      parameters:
        - name: Intercom-Version
          in: header
          schema:
            $ref: '#/components/schemas/intercom_version'
      responses:
        '200':
          description: Successful
          content:
            application/json:
              examples:
                Successful:
                  value:
                    type: list
                    data:
                      - id: '2488'
                        workspace_id: this_is_an_id90_that_should_be_at_least_4
                        name: English section title
                        url: http://help-center.test/myapp-90/section-15
                        order: 15
                        created_at: 1712222549
                        updated_at: 1712222549
                        type: section
                        parent_id: 2487
                    total_count: 1
                    pages:
                      type: pages
                      page: 1
                      per_page: 20
                      total_pages: 1
              schema:
                $ref: '#/components/schemas/section_list'
        '401':
          description: Unauthorized
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    type: error.list
                    request_id: ad5efa21-51ef-475e-8519-7303aa9abfbd
                    errors:
                      - code: unauthorized
                        message: Access Token Invalid
              schema:
                $ref: '#/components/schemas/error'
    post:
      tags:
        - Help Center
      summary: Create a section
      operationId: HelpCenter_createSection
      description: >-
        You can create a new section by making a POST request to
        `https://api.intercom.io/help_center/sections.`
      parameters:
        - name: Intercom-Version
          in: header
          schema:
            $ref: '#/components/schemas/intercom_version'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create_section_request'
            examples:
              section_created:
                summary: section created
                value:
                  name: Thanks for everything
                  parent_id: 2491
      responses:
        '200':
          description: section created
          content:
            application/json:
              examples:
                section created:
                  value:
                    id: '2493'
                    workspace_id: this_is_an_id94_that_should_be_at_least_4
                    name: Thanks for everything
                    url: http://help-center.test/myapp-94/
                    order: 1
                    created_at: 1712222550
                    updated_at: 1712222550
                    type: section
                    parent_id: '2491'
              schema:
                $ref: '#/components/schemas/section'
        '401':
          description: Unauthorized
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    type: error.list
                    request_id: 21f8b084-b13f-45cf-8eee-f6c17f3577d5
                    errors:
                      - code: unauthorized
                        message: Access Token Invalid
              schema:
                $ref: '#/components/schemas/error'
  /help_center/sections/{id}:
    get:
      tags:
        - Help Center
      summary: Retrieve a section
      operationId: HelpCenter_getSectionById
      description: >-
        You can fetch the details of a single section by making a GET request to
        `https://api.intercom.io/help_center/sections/<id>`.
      parameters:
        - name: Intercom-Version
          in: header
          schema:
            $ref: '#/components/schemas/intercom_version'
        - description: The unique identifier for the section which is given by Intercom.
          name: id
          in: path
          required: true
          example: 123
          schema:
            type: integer
      responses:
        '200':
          description: Section found
          content:
            application/json:
              examples:
                Section found:
                  value:
                    id: '2497'
                    workspace_id: this_is_an_id98_that_should_be_at_least_4
                    name: English section title
                    url: http://help-center.test/myapp-98/section-19
                    order: 19
                    created_at: 1712222551
                    updated_at: 1712222551
                    type: section
                    parent_id: 2496
              schema:
                $ref: '#/components/schemas/section'
        '401':
          description: Unauthorized
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    type: error.list
                    request_id: 4371ace2-f7c2-453c-bb1f-019a3bfcfb1e
                    errors:
                      - code: unauthorized
                        message: Access Token Invalid
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Section not found
          content:
            application/json:
              examples:
                Section not found:
                  value:
                    type: error.list
                    request_id: 03822d88-6e54-4ab1-9074-1befaebdee29
                    errors:
                      - code: not_found
                        message: Resource Not Found
              schema:
                $ref: '#/components/schemas/error'
    put:
      tags:
        - Help Center
      summary: Update a section
      operationId: HelpCenter_updateSectionById
      description: >-
        You can update the details of a single section by making a PUT request
        to `https://api.intercom.io/sections/<id>`.
      parameters:
        - name: Intercom-Version
          in: header
          schema:
            $ref: '#/components/schemas/intercom_version'
        - description: The unique identifier for the section which is given by Intercom.
          name: id
          in: path
          required: true
          example: 123
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update_section_request'
            examples:
              successful:
                summary: successful
                value:
                  name: Update section name
                  parent_id: 2502
              section_not_found:
                summary: Section Not Found
                value:
                  name: Update section name
                  parent_id: 2504
      responses:
        '200':
          description: successful
          content:
            application/json:
              examples:
                successful:
                  value:
                    id: '2503'
                    workspace_id: this_is_an_id104_that_should_be_at_least_
                    name: Update section name
                    url: http://help-center.test/myapp-104/section-22
                    order: 22
                    created_at: 1712222553
                    updated_at: 1712222553
                    type: section
                    parent_id: '2502'
              schema:
                $ref: '#/components/schemas/section'
        '401':
          description: Unauthorized
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    type: error.list
                    request_id: 2093a533-d755-4f30-90ef-de20ac1d5794
                    errors:
                      - code: unauthorized
                        message: Access Token Invalid
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Section Not Found
          content:
            application/json:
              examples:
                Section Not Found:
                  value:
                    type: error.list
                    request_id: caa4dc4a-c501-4e2b-9117-58861a62b5d4
                    errors:
                      - code: not_found
                        message: Resource Not Found
              schema:
                $ref: '#/components/schemas/error'
    delete:
      tags:
        - Help Center
      summary: Delete a section
      operationId: HelpCenter_deleteSection
      description: >-
        You can delete a single section by making a DELETE request to
        `https://api.intercom.io/sections/<id>`.
      parameters:
        - name: Intercom-Version
          in: header
          schema:
            $ref: '#/components/schemas/intercom_version'
        - description: The unique identifier for the section which is given by Intercom.
          name: id
          in: path
          required: true
          example: 123
          schema:
            type: integer
      responses:
        '200':
          description: successful
          content:
            application/json:
              examples:
                successful:
                  value:
                    id: '2509'
                    object: section
                    deleted: true
              schema:
                $ref: '#/components/schemas/deleted_section_object'
        '401':
          description: Unauthorized
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    type: error.list
                    request_id: d50cacd9-d2a3-4bfc-947f-12cff0ee1fa9
                    errors:
                      - code: unauthorized
                        message: Access Token Invalid
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: section Not Found
          content:
            application/json:
              examples:
                section Not Found:
                  value:
                    type: error.list
                    request_id: 3076071b-9711-49ac-b37d-652e795c6da7
                    errors:
                      - code: not_found
                        message: Resource Not Found
              schema:
                $ref: '#/components/schemas/error'
  /companies:
    post:
      tags:
        - Companies
      summary: Create or Update a company
      operationId: Companies_createOrUpdateCompany
      description: >
        You can create or update a company.


        Companies will be only visible in Intercom when there is at least one
        associated user.


        Companies are looked up via `company_id` in a `POST` request, if not
        found via `company_id`, the new company will be created, if found, that
        company will be updated.


        {% admonition type="attention" name="Using `company_id`" %}
          You can set a unique `company_id` value when creating a company. However, it is not possible to update `company_id`. Be sure to set a unique value once upon creation of the company.
        {% /admonition %}
      parameters:
        - name: Intercom-Version
          in: header
          schema:
            $ref: '#/components/schemas/intercom_version'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create_or_update_company_request'
            examples:
              successful:
                summary: Successful
                value:
                  company_id: company_remote_id
                  name: my company
                  remote_created_at: 1374138000
              bad_request:
                summary: Bad Request
                value:
                  test: invalid
      responses:
        '200':
          description: Successful
          content:
            application/json:
              examples:
                Successful:
                  value:
                    tags:
                      tags: []
                      type: tag.list
                    type: company
                    company_id: company_remote_id
                    id: 660e715d6abd01bb40bdc3dd
                    app_id: this_is_an_id116_that_should_be_at_least_
                    name: my company
                    remote_created_at: 1374138000
                    created_at: 1712222557
                    updated_at: 1712222557
                    monthly_spend: 0
                    session_count: 0
                    user_count: 0
                    segments:
                      type: segment.list
                      segments: []
                    plan: {}
                    custom_attributes:
                      creation_source: api
              schema:
                $ref: '#/components/schemas/company'
        '400':
          description: Bad Request
          content:
            application/json:
              examples:
                Bad Request:
                  value:
                    type: error.list
                    request_id: null
                    errors:
                      - code: bad_request
                        message: bad 'test' parameter
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Unauthorized
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    type: error.list
                    request_id: 20ee03bd-53d8-4b61-a4bb-66c41d8e9827
                    errors:
                      - code: unauthorized
                        message: Access Token Invalid
              schema:
                $ref: '#/components/schemas/error'
    get:
      tags:
        - Companies
      summary: Retrieve companies
      operationId: Companies_getAllCompanies
      description: >
        You can fetch a single company by passing in `company_id` or `name`.

          `https://api.intercom.io/companies?name={name}`

          `https://api.intercom.io/companies?company_id={company_id}`

        You can fetch all companies and filter by `segment_id` or `tag_id` as a
        query parameter.

          `https://api.intercom.io/companies?tag_id={tag_id}`

          `https://api.intercom.io/companies?segment_id={segment_id}`
      parameters:
        - name: Intercom-Version
          in: header
          schema:
            $ref: '#/components/schemas/intercom_version'
        - description: The `name` of the company to filter by.
          name: name
          in: query
          required: false
          example: my company
          schema:
            type: string
        - description: The `company_id` of the company to filter by.
          name: company_id
          in: query
          required: false
          example: '12345'
          schema:
            type: string
        - description: The `tag_id` of the company to filter by.
          name: tag_id
          in: query
          required: false
          example: '678910'
          schema:
            type: string
        - description: The `segment_id` of the company to filter by.
          name: segment_id
          in: query
          required: false
          example: '98765'
          schema:
            type: string
        - description: The page of results to fetch. Defaults to first page
          name: page
          in: query
          required: false
          example: 1
          schema:
            type: integer
        - description: How many results to display per page. Defaults to 15
          name: per_page
          in: query
          required: false
          example: 15
          schema:
            type: integer
      responses:
        '200':
          description: Successful
          content:
            application/json:
              examples:
                Successful:
                  value:
                    type: list
                    data:
                      - tags:
                          tags: []
                          type: tag.list
                        type: company
                        company_id: remote_companies_scroll_2
                        id: 660e715e6abd01bb40bdc3e5
                        app_id: this_is_an_id122_that_should_be_at_least_
                        name: IntercomQATest1
                        remote_created_at: 1712222558
                        created_at: 1712222558
                        updated_at: 1712222558
                        monthly_spend: 0
                        session_count: 0
                        user_count: 4
                        segments:
                          type: segment.list
                          segments: []
                        plan: {}
                        custom_attributes: {}
                    pages:
                      type: pages
                      next: null
                      page: 1
                      per_page: 15
                      total_pages: 1
                    total_count: 1
              schema:
                $ref: '#/components/schemas/company_list'
        '401':
          description: Unauthorized
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    type: error.list
                    request_id: 97a4b88f-ea2c-4e5f-b43d-b6258c1a0799
                    errors:
                      - code: unauthorized
                        message: Access Token Invalid
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Company Not Found
          content:
            application/json:
              examples:
                Company Not Found:
                  value:
                    type: error.list
                    request_id: 26a0da65-d990-4d97-a09b-fbd881c8685d
                    errors:
                      - code: company_not_found
                        message: Company Not Found
              schema:
                $ref: '#/components/schemas/error'
  /companies/{id}:
    get:
      tags:
        - Companies
      summary: Retrieve a company by ID
      operationId: Companies_getById
      description: You can fetch a single company.
      parameters:
        - name: Intercom-Version
          in: header
          schema:
            $ref: '#/components/schemas/intercom_version'
        - description: The unique identifier for the company which is given by Intercom
          name: id
          in: path
          required: true
          example: 5f4d3c1c-7b1b-4d7d-a97e-6095715c6632
          schema:
            type: string
      responses:
        '200':
          description: Successful
          content:
            application/json:
              examples:
                Successful:
                  value:
                    tags:
                      tags: []
                      type: tag.list
                    type: company
                    company_id: '1'
                    id: 660e71616abd01bb40bdc3f0
                    app_id: this_is_an_id128_that_should_be_at_least_
                    name: company1
                    remote_created_at: 1712222561
                    created_at: 1712222561
                    updated_at: 1712222561
                    monthly_spend: 0
                    session_count: 0
                    user_count: 1
                    segments:
                      type: segment.list
                      segments: []
                    plan: {}
                    custom_attributes: {}
              schema:
                $ref: '#/components/schemas/company'
        '401':
          description: Unauthorized
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    type: error.list
                    request_id: 8d56cbe1-4d46-458c-9ce8-6946e4ef4c6d
                    errors:
                      - code: unauthorized
                        message: Access Token Invalid
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Company Not Found
          content:
            application/json:
              examples:
                Company Not Found:
                  value:
                    type: error.list
                    request_id: 29190e80-1cac-4e21-b144-8aa0cbae0674
                    errors:
                      - code: company_not_found
                        message: Company Not Found
              schema:
                $ref: '#/components/schemas/error'
    put:
      tags:
        - Companies
      summary: Update a company
      operationId: Companies_updateCompanyById
      description: |
        You can update a single company using the Intercom provisioned `id`.

        {% admonition type="attention" name="Using `company_id`" %}
          When updating a company it is not possible to update `company_id`. This can only be set once upon creation of the company.
        {% /admonition %}
      parameters:
        - name: Intercom-Version
          in: header
          schema:
            $ref: '#/components/schemas/intercom_version'
        - description: The unique identifier for the company which is given by Intercom
          name: id
          in: path
          required: true
          example: 5f4d3c1c-7b1b-4d7d-a97e-6095715c6632
          schema:
            type: string
      responses:
        '200':
          description: Successful
          content:
            application/json:
              examples:
                Successful:
                  value:
                    tags:
                      tags: []
                      type: tag.list
                    type: company
                    company_id: '1'
                    id: 660e71636abd01bb40bdc3fa
                    app_id: this_is_an_id134_that_should_be_at_least_
                    name: company2
                    remote_created_at: 1712222563
                    created_at: 1712222563
                    updated_at: 1712222563
                    monthly_spend: 0
                    session_count: 0
                    user_count: 1
                    segments:
                      type: segment.list
                      segments: []
                    plan: {}
                    custom_attributes: {}
              schema:
                $ref: '#/components/schemas/company'
        '401':
          description: Unauthorized
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    type: error.list
                    request_id: 40166fe2-b53d-4615-931d-57d035a387b3
                    errors:
                      - code: unauthorized
                        message: Access Token Invalid
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Company Not Found
          content:
            application/json:
              examples:
                Company Not Found:
                  value:
                    type: error.list
                    request_id: 6c5ea588-2179-408c-882c-b1d0c4e032ba
                    errors:
                      - code: company_not_found
                        message: Company Not Found
              schema:
                $ref: '#/components/schemas/error'
    delete:
      tags:
        - Companies
      summary: Delete a company
      operationId: Companies_deleteCompanyById
      description: You can delete a single company.
      parameters:
        - name: Intercom-Version
          in: header
          schema:
            $ref: '#/components/schemas/intercom_version'
        - description: The unique identifier for the company which is given by Intercom
          name: id
          in: path
          required: true
          example: 5f4d3c1c-7b1b-4d7d-a97e-6095715c6632
          schema:
            type: string
      responses:
        '200':
          description: Successful
          content:
            application/json:
              examples:
                Successful:
                  value:
                    id: 660e71656abd01bb40bdc404
                    object: company
                    deleted: true
              schema:
                $ref: '#/components/schemas/deleted_company_object'
        '401':
          description: Unauthorized
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    type: error.list
                    request_id: eef8513a-6de2-40d2-8876-977aa62e86a2
                    errors:
                      - code: unauthorized
                        message: Access Token Invalid
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Company Not Found
          content:
            application/json:
              examples:
                Company Not Found:
                  value:
                    type: error.list
                    request_id: f0c05b72-3ff1-4719-b894-ad567569b7de
                    errors:
                      - code: company_not_found
                        message: Company Not Found
              schema:
                $ref: '#/components/schemas/error'
  /companies/{id}/contacts:
    get:
      tags:
        - Companies
        - Contacts
      summary: List attached contacts
      operationId: Companies_listAttachedContacts
      description: You can fetch a list of all contacts that belong to a company.
      parameters:
        - name: Intercom-Version
          in: header
          schema:
            $ref: '#/components/schemas/intercom_version'
        - description: The unique identifier for the company which is given by Intercom
          name: id
          in: path
          required: true
          example: 5f4d3c1c-7b1b-4d7d-a97e-6095715c6632
          schema:
            type: string
      responses:
        '200':
          description: Successful
          content:
            application/json:
              examples:
                Successful:
                  value:
                    type: list
                    data: []
                    total_count: 0
                    pages:
                      type: pages
                      page: 1
                      per_page: 50
                      total_pages: 0
              schema:
                $ref: '#/components/schemas/company_attached_contacts'
        '401':
          description: Unauthorized
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    type: error.list
                    request_id: c02930e0-2f9e-4fd2-a0ff-fdad8e467af6
                    errors:
                      - code: unauthorized
                        message: Access Token Invalid
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Company Not Found
          content:
            application/json:
              examples:
                Company Not Found:
                  value:
                    type: error.list
                    request_id: 46bd2cfa-9abe-489f-85b3-3feb90281893
                    errors:
                      - code: company_not_found
                        message: Company Not Found
              schema:
                $ref: '#/components/schemas/error'
  /companies/{id}/segments:
    get:
      tags:
        - Companies
      summary: List attached segments for companies
      operationId: Companies_listAttachedSegments
      description: You can fetch a list of all segments that belong to a company.
      parameters:
        - name: Intercom-Version
          in: header
          schema:
            $ref: '#/components/schemas/intercom_version'
        - description: The unique identifier for the company which is given by Intercom
          name: id
          in: path
          required: true
          example: 5f4d3c1c-7b1b-4d7d-a97e-6095715c6632
          schema:
            type: string
      responses:
        '200':
          description: Successful
          content:
            application/json:
              examples:
                Successful:
                  value:
                    type: list
                    data: []
              schema:
                $ref: '#/components/schemas/company_attached_segments'
        '401':
          description: Unauthorized
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    type: error.list
                    request_id: f6e9b634-f7cd-4af3-b425-238c5e77d8ad
                    errors:
                      - code: unauthorized
                        message: Access Token Invalid
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Company Not Found
          content:
            application/json:
              examples:
                Company Not Found:
                  value:
                    type: error.list
                    request_id: 61cf32f3-e098-4b91-b0a7-c625796e11f4
                    errors:
                      - code: company_not_found
                        message: Company Not Found
              schema:
                $ref: '#/components/schemas/error'
  /companies/list:
    post:
      tags:
        - Companies
      summary: List all companies
      operationId: Companies_listAll
      description: >
        You can list companies. The company list is sorted by the
        `last_request_at` field and by default is ordered descending, most
        recently requested first.


        Note that the API does not include companies who have no associated
        users in list responses.


        When using the Companies endpoint and the pages object to iterate
        through the returned companies, there is a limit of 10,000 Companies
        that can be returned. If you need to list or iterate on more than 10,000
        Companies, please use the [Scroll
        API](https://developers.intercom.com/reference#iterating-over-all-companies).
      parameters:
        - name: Intercom-Version
          in: header
          schema:
            $ref: '#/components/schemas/intercom_version'
        - description: what page of results to fetch. Defaults to first page
          name: page
          in: query
          required: false
          example: 1
          schema:
            type: integer
        - description: how many results per page. Defaults to 15
          name: per_page
          in: query
          required: false
          example: 15
          schema:
            type: integer
        - description: >-
            `asc` or `desc`. Return the companies in ascending or descending
            order. Defaults to desc
          name: order
          in: query
          required: false
          example: desc
          schema:
            type: string
      responses:
        '200':
          description: Successful
          content:
            application/json:
              examples:
                Successful:
                  value:
                    type: list
                    data:
                      - tags:
                          tags: []
                          type: tag.list
                        type: company
                        company_id: remote_companies_scroll_2
                        id: 660e716b6abd01bb40bdc420
                        app_id: this_is_an_id158_that_should_be_at_least_
                        name: IntercomQATest1
                        remote_created_at: 1712222571
                        created_at: 1712222571
                        updated_at: 1712222571
                        monthly_spend: 0
                        session_count: 0
                        user_count: 4
                        segments:
                          type: segment.list
                          segments: []
                        plan: {}
                        custom_attributes: {}
                    pages:
                      type: pages
                      next: null
                      page: 1
                      per_page: 15
                      total_pages: 1
                    total_count: 1
              schema:
                $ref: '#/components/schemas/company_list'
        '401':
          description: Unauthorized
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    type: error.list
                    request_id: fc30d013-a82c-479f-8b0a-8fa0ee26cf17
                    errors:
                      - code: unauthorized
                        message: Access Token Invalid
              schema:
                $ref: '#/components/schemas/error'
  /companies/scroll:
    get:
      tags:
        - Companies
      summary: Scroll over all companies
      operationId: Companies_scrollAllCompanies
      description: >2
              The `list all companies` functionality does not work well for huge datasets, and can result in errors and performance problems when paging deeply. The Scroll API provides an efficient mechanism for iterating over all companies in a dataset.

        - Each app can only have 1 scroll open at a time. You'll get an error
        message if you try to have more than one open per app.

        - If the scroll isn't used for 1 minute, it expires and calls with that
        scroll param will fail

        - If the end of the scroll is reached, "companies" will be empty and the
        scroll parameter will expire


        > 📘 Scroll Parameter

        >

        > You can get the first page of companies by simply sending a GET
        request to the scroll endpoint. For subsequent requests you will need to
        use the scroll parameter from the response.


        > ❗️ Scroll network timeouts

        >

        > Since scroll is often used on large datasets network errors such as
        timeouts can be encountered. When this occurs you will need to restart
        your scroll query as it is not possible to continue from a specific
        point when using scroll.

        >

        > When this occurs you will see a HTTP 500 error with the following
        message:

        > "Request failed due to an internal network error. Please restart the
        scroll operation."
      parameters:
        - name: Intercom-Version
          in: header
          schema:
            $ref: '#/components/schemas/intercom_version'
        - description: ''
          name: scroll_param
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successful
          content:
            application/json:
              examples:
                Successful:
                  value:
                    type: list
                    data:
                      - tags:
                          tags: []
                          type: tag.list
                        type: company
                        company_id: remote_companies_scroll_2
                        id: 660e716d6abd01bb40bdc426
                        app_id: this_is_an_id162_that_should_be_at_least_
                        name: IntercomQATest1
                        remote_created_at: 1712222573
                        created_at: 1712222573
                        updated_at: 1712222573
                        monthly_spend: 0
                        session_count: 0
                        user_count: 4
                        segments:
                          type: segment.list
                          segments: []
                        plan: {}
                        custom_attributes: {}
                    pages: null
                    total_count: null
                    scroll_param: fe8397d1-1e4c-498f-a86e-712ad19f6c3c
              schema:
                $ref: '#/components/schemas/company_scroll'
        '401':
          description: Unauthorized
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    type: error.list
                    request_id: b7e4e7a7-f697-49fe-afad-d49e1cdedc67
                    errors:
                      - code: unauthorized
                        message: Access Token Invalid
              schema:
                $ref: '#/components/schemas/error'
  /contacts/{id}/companies:
    post:
      tags:
        - Companies
        - Contacts
      summary: Attach a Contact to a Company
      operationId: Companies_attachContactTo
      description: You can attach a company to a single contact.
      parameters:
        - name: Intercom-Version
          in: header
          schema:
            $ref: '#/components/schemas/intercom_version'
        - description: The unique identifier for the contact which is given by Intercom
          name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompaniesAttachContactToRequest'
            examples:
              successful:
                summary: Successful
                value:
                  id: 660e716f6abd01bb40bdc42fX
              bad_request:
                summary: Bad Request
                value: null
              company_not_found:
                summary: Company Not Found
                value:
                  id: '123'
      responses:
        '200':
          description: Successful
          content:
            application/json:
              examples:
                Successful:
                  value:
                    tags:
                      tags: []
                      type: tag.list
                    type: company
                    company_id: '1'
                    id: 660e716f6abd01bb40bdc42f
                    app_id: this_is_an_id166_that_should_be_at_least_
                    name: company6
                    remote_created_at: 1712222575
                    created_at: 1712222575
                    updated_at: 1712222575
                    monthly_spend: 0
                    session_count: 0
                    user_count: 1
                    segments:
                      type: segment.list
                      segments: []
                    plan: {}
                    custom_attributes: {}
              schema:
                $ref: '#/components/schemas/company'
        '400':
          description: Bad Request
          content:
            application/json:
              examples:
                Bad Request:
                  value:
                    type: error.list
                    request_id: cde9d7b0-b402-4d8c-b099-fbe437f71476
                    errors:
                      - code: parameter_not_found
                        message: company not specified
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Unauthorized
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    type: error.list
                    request_id: 29fd1694-8406-448b-bc07-6109619f65af
                    errors:
                      - code: unauthorized
                        message: Access Token Invalid
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Company Not Found
          content:
            application/json:
              examples:
                Company Not Found:
                  value:
                    type: error.list
                    request_id: a91cf9a9-ad1f-4a69-abad-0b2359543399
                    errors:
                      - code: company_not_found
                        message: Company Not Found
              schema:
                $ref: '#/components/schemas/error'
    get:
      tags:
        - Contacts
        - Companies
      summary: List attached companies for contact
      operationId: Contacts_listAttachedCompanies
      description: You can fetch a list of companies that are associated to a contact.
      parameters:
        - description: The unique identifier for the contact which is given by Intercom
          name: id
          in: path
          example: 63a07ddf05a32042dffac965
          required: true
          schema:
            type: string
        - name: Intercom-Version
          in: header
          schema:
            $ref: '#/components/schemas/intercom_version'
      responses:
        '200':
          description: successful
          content:
            application/json:
              examples:
                successful:
                  value:
                    type: list
                    data:
                      - tags:
                          tags: []
                          type: tag.list
                        type: company
                        company_id: '1'
                        id: 660e71756abd01bb40bdc450
                        app_id: this_is_an_id182_that_should_be_at_least_
                        name: company12
                        remote_created_at: 1712222581
                        created_at: 1712222581
                        updated_at: 1712222581
                        last_request_at: 1712049781
                        monthly_spend: 0
                        session_count: 0
                        user_count: 1
                        segments:
                          type: segment.list
                          segments: []
                        plan: {}
                        custom_attributes: {}
                    pages:
                      type: pages
                      next: null
                      page: 1
                      per_page: 50
                      total_pages: 1
                    total_count: 1
              schema:
                $ref: '#/components/schemas/contact_attached_companies'
        '401':
          description: Unauthorized
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    type: error.list
                    request_id: 25988cb0-db2f-42a3-9582-cc07b230db13
                    errors:
                      - code: unauthorized
                        message: Access Token Invalid
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Contact not found
          content:
            application/json:
              examples:
                Contact not found:
                  value:
                    type: error.list
                    request_id: 77afe14f-f9b2-4e5a-8e01-8a7878a8be0f
                    errors:
                      - code: not_found
                        message: User Not Found
              schema:
                $ref: '#/components/schemas/error'
  /contacts/{contact_id}/companies/{id}:
    delete:
      tags:
        - Companies
        - Contacts
      summary: Detach a contact from a company
      operationId: Companies_detachContactFromCompany
      description: You can detach a company from a single contact.
      parameters:
        - name: Intercom-Version
          in: header
          schema:
            $ref: '#/components/schemas/intercom_version'
        - description: The unique identifier for the contact which is given by Intercom
          name: contact_id
          in: path
          required: true
          example: 58a430d35458202d41b1e65b
          schema:
            type: string
        - description: The unique identifier for the company which is given by Intercom
          name: id
          in: path
          required: true
          example: 58a430d35458202d41b1e65b
          schema:
            type: string
      responses:
        '200':
          description: Successful
          content:
            application/json:
              examples:
                Successful:
                  value:
                    tags:
                      tags: []
                      type: tag.list
                    type: company
                    company_id: '1'
                    id: 660e71726abd01bb40bdc43f
                    app_id: this_is_an_id174_that_should_be_at_least_
                    name: company8
                    remote_created_at: 1712222578
                    created_at: 1712222578
                    updated_at: 1712222579
                    monthly_spend: 0
                    session_count: 0
                    user_count: 0
                    segments:
                      type: segment.list
                      segments: []
                    plan: {}
                    custom_attributes: {}
              schema:
                $ref: '#/components/schemas/company'
        '401':
          description: Unauthorized
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    type: error.list
                    request_id: d6feb002-33d6-4a19-9859-3e13da7ef397
                    errors:
                      - code: unauthorized
                        message: Access Token Invalid
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Contact Not Found
          content:
            application/json:
              examples:
                Company Not Found:
                  value:
                    type: error.list
                    request_id: e8cf3a7e-34e8-4f29-bfd4-f279e62dbae8
                    errors:
                      - code: company_not_found
                        message: Company Not Found
                Contact Not Found:
                  value:
                    type: error.list
                    request_id: 88aac085-d44d-4411-bcca-13cd523789f9
                    errors:
                      - code: not_found
                        message: User Not Found
              schema:
                $ref: '#/components/schemas/error'
  /contacts/{id}/notes:
    get:
      tags:
        - Notes
        - Contacts
      summary: List all notes
      operationId: Notes_listAll
      description: You can fetch a list of notes that are associated to a contact.
      parameters:
        - description: The unique identifier of a contact.
          name: id
          in: path
          required: true
          schema:
            type: integer
        - name: Intercom-Version
          in: header
          schema:
            $ref: '#/components/schemas/intercom_version'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              examples:
                Successful response:
                  value:
                    type: list
                    data:
                      - type: note
                        id: '426'
                        created_at: 1711617784
                        contact:
                          type: contact
                          id: 660e71786abd01bb40bdc45b
                        author:
                          type: admin
                          id: '991281900'
                          name: Ciaran110 Lee
                          email: admin110@email.com
                          away_mode_enabled: false
                          away_mode_reassign: false
                        body: <p>This is a note.</p>
                      - type: note
                        id: '425'
                        created_at: 1711531384
                        contact:
                          type: contact
                          id: 660e71786abd01bb40bdc45bX
                        author:
                          type: admin
                          id: 991281900X
                          name: Ciaran110 Lee
                          email: admin110@email.com
                          away_mode_enabled: false
                          away_mode_reassign: false
                        body: <p>This is a note.</p>
                      - type: note
                        id: '424'
                        created_at: 1711531384
                        contact:
                          type: contact
                          id: 660e71786abd01bb40bdc45bX
                        author:
                          type: admin
                          id: 991281900X
                          name: Ciaran110 Lee
                          email: admin110@email.com
                          away_mode_enabled: false
                          away_mode_reassign: false
                        body: <p>This is a note.</p>
                    total_count: 3
                    pages:
                      type: pages
                      next: null
                      page: 1
                      per_page: 50
                      total_pages: 1
              schema:
                $ref: '#/components/schemas/note_list'
        '404':
          description: Contact not found
          content:
            application/json:
              examples:
                Contact not found:
                  value:
                    type: error.list
                    request_id: 4545c8b9-c2a3-44c2-ab02-feaf40daf4a3
                    errors:
                      - code: not_found
                        message: User Not Found
              schema:
                $ref: '#/components/schemas/error'
    post:
      tags:
        - Notes
        - Contacts
      summary: Create a note
      operationId: Notes_addNoteToContact
      description: You can add a note to a single contact.
      parameters:
        - name: Intercom-Version
          in: header
          schema:
            $ref: '#/components/schemas/intercom_version'
        - description: The unique identifier of a given contact.
          name: id
          in: path
          required: true
          example: 123
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotesAddNoteToContactRequest'
            examples:
              successful_response:
                summary: Successful response
                value:
                  contact_id: 660e71796abd01bb40bdc45d
                  admin_id: 991281902
                  body: Hello
              admin_not_found:
                summary: Admin not found
                value:
                  contact_id: 660e717a6abd01bb40bdc45e
                  admin_id: 123
                  body: Hello
              contact_not_found:
                summary: Contact not found
                value:
                  contact_id: 123
                  admin_id: 991281904
                  body: Hello
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              examples:
                Successful response:
                  value:
                    type: note
                    id: '431'
                    created_at: 1712222585
                    contact:
                      type: contact
                      id: 660e71796abd01bb40bdc45d
                    author:
                      type: admin
                      id: '991281902'
                      name: Ciaran112 Lee
                      email: admin112@email.com
                      away_mode_enabled: false
                      away_mode_reassign: false
                    body: <p>Hello</p>
              schema:
                $ref: '#/components/schemas/note'
        '404':
          description: Contact not found
          content:
            application/json:
              examples:
                Admin not found:
                  value:
                    type: error.list
                    request_id: 48b2a076-e101-496c-9fb8-0e34bf3419c8
                    errors:
                      - code: not_found
                        message: Resource Not Found
                Contact not found:
                  value:
                    type: error.list
                    request_id: fadbd633-4d6b-4adb-a10c-872627a8bc22
                    errors:
                      - code: not_found
                        message: User Not Found
              schema:
                $ref: '#/components/schemas/error'
  /contacts/{contact_id}/segments:
    get:
      tags:
        - Contacts
        - Segments
      summary: List attached segments for contact
      operationId: Contacts_getSegmentsForContact
      description: You can fetch a list of segments that are associated to a contact.
      parameters:
        - description: The unique identifier for the contact which is given by Intercom
          name: contact_id
          in: path
          example: 63a07ddf05a32042dffac965
          required: true
          schema:
            type: string
        - name: Intercom-Version
          in: header
          schema:
            $ref: '#/components/schemas/intercom_version'
      responses:
        '200':
          description: successful
          content:
            application/json:
              examples:
                successful:
                  value:
                    type: list
                    data:
                      - type: segment
                        id: 660e717b6abd01bb40bdc460
                        name: segment
                        created_at: 1712222587
                        updated_at: 1712222587
                        person_type: user
[...]
