openapi: 3.0.0
info:
  title: Just Eat API
  description: >-
    # Just Eat API

    Just Eat offers services for our various business partners and our consumer
    applications.

    How you interact with the API depends on the services you wish to interact
    with.

    ## Security

    ### HTTPS

    All api calls and callbacks require HTTPS. Your service will need a valid
    SSL certificate and be accessible via the standard SSL port (port 443).

    ## Making an API request

    Some API calls require an API key, to authenticate the partner calling the
    API.

    ```

    PUT https://uk-partnerapi.just-eat.io/orders/abcd1234 HTTP/1.1

    Authorization: JE-API-KEY abcd123456789

    ```

    Other calls require a user token in the form of a JWT.

    ```

    GET https://uk.api.just-eat.io/consumer/me/orders/uk HTTP/1.1

    Authorization: Bearer abcd123456789

    ```


    ## Date Formats

    ### Date and time formats

    All dates and times should use the [ISO 8601 standard for representation of
    dates and times](https://en.wikipedia.org/wiki/ISO_8601).


    #### For instance:

    * DueDateWithUtcOffset: `"2015-05-26T14:52:35.5444292+01:00"`
      - Local time: `14:52`
      - UTC time: `13:52`
      - UTC offset: `+1hr` (due to daylight time saving)
    * DueDateWithUtcOffset: `"2015-02-03T11:10:00.0000000+00:00"`
      - Local time: `11:10`
      - UTC time: `11:10`
      - UTC offset: `0` (no daylight time saving, local time is equivalent to UTC)

    Note that the offset may be for a timezone different to your own, so you
    should always convert to your own local time for display purposes (e.g. on
    receipts and terminals).


    ### Callback timestamps

    Timestamps sent to Just Eat should be recorded as the current local time
    (including any changes needed to account for daylight saving) with an
    accompanying offset that shows the difference between the recorded local
    time and the current UTC time.


    If it is not possible to record timestamps in local time, timestamps may be
    recorded in UTC time with a 00:00 offset.

    ## Async Webhooks

    Some of the webhooks on the platform are configured as being 'async'
    webhooks. These are for long-running operations, and work as follows:
      1. Your webhook is invoked with a `?callback={returnUrl}` query string parameter. The `returnUrl` is a unique URL that you will need to send the async response to.
      2. Return an immediate `202 Accepted` response from the webhook endpoint, to indicate that you have received the request.
      3. Perform the long-running operation. This can be deemed either a _success_; or a _failure_.
      4. If the result is a _**success**_, return the following:
      ```
      POST {returnUrl} HTTP/1.1

      {
            "status": "Success",
            "message": "{successMessage}",
            "data": {}   // webhook-specific response object
      }
      ```
      5. Otherwise, if the result is a _**failure**_, return the following:
      ```
      POST {returnUrl} HTTP/1.1

      {
            "status": "Failure",
            "message": "{failureMessage}",
            "data": {}   // webhook-specific response object
      }
      ```
  version: 1.0.0
  contact:
    name: Integration enquiries
    url: https://developers.just-eat.com/
    email: david.handley@justeattakeaway.com
  license:
    name: Apache 2
    url: https://www.apache.org/licenses/LICENSE-2.0.txt
  x-logo:
    url: https://restaurants.just-eat.co.uk/img/logo-justeat-light.3478215a.svg
  x-konfig-ignore:
    potential-incorrect-type: true
servers:
  - description: Production URL for the UK API
    url: https://uk.api.just-eat.io
  - description: Production URL for the DK, ES, IE, IT and NO API
    url: https://i18n.api.just-eat.io
  - description: Production URL for the AU and NZ API
    url: https://aus.api.just-eat.io
tags:
  - name: publicly-accessible
  - name: API Partner Management Gateway
  - name: Webhook
  - name: jet-connect
  - name: Logistic Management
  - name: Manage Delivery Suppliers
  - name: JET Connect for Manage Order Status
  - name: Manage Order Journey
  - name: Analyze Order Delivery
  - name: Order Delivery Webhooks
  - name: Partner Management
  - name: Analyse Partner Performance
  - name: Search Orchestrator
  - name: order-injection-status-updater
  - name: ordering-universal-connector
  - name: JET Connect for Manage Partner Availability
  - name: Order Acceptance Webhooks
  - name: restaurant-availability-api
  - name: Attempted Delivery Webhooks
  - name: JET Connect for Manage Product Catalogue
  - name: Restaurant Webhooks
  - name: Order Webhooks
  - name: Restaurant Events Webhooks
  - name: Define Partner Delivery Areas
  - name: Consumer Queries Webhooks
  - name: RestaurantQueries Webhooks
  - name: Order Dispatch Webhooks
paths:
  /attempted-delivery-query-resolved:
    put:
      tags:
        - API Partner Management Gateway
        - Attempted Delivery Webhooks
        - publicly-accessible
        - Webhook
      summary: Attempted delivery query resolved
      operationId: ApiPartnerManagementGateway_resolveDeliveryQuery
      description: >-
        This webhook will be invoked whenever an attempted delivery query has
        been resolved.
      parameters:
        - description: Descriptor of client or internal application
          name: x-jet-application
          in: header
          schema:
            type: string
          required: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/AttemptedDeliveryAttemptedDeliveryResolvedYaml
      responses:
        '200':
          description: >-
            Respond with a 200 status code to indicate that you have received
            the notification.
        '429':
          description: >-
            Too Many Requests : Request not completed as server has received too
            many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4XxErrorSchemaYaml'
              example:
                fault:
                  traceId: 0HLOCKDKQPKIU
                  faultId: 72d7036d-990a-4f84-9efa-ef5f40f6044b
                  errors:
                    - description: Couldn't complete request
      x-status: Stable
      x-webhook: 'Yes'
  /brands/{brand_slug}/orders:
    get:
      servers:
        - description: Production environment
          url: https://order-reporting-connector.flyt-platform.com
      tags:
        - Partner Management
        - Analyse Partner Performance
        - jet-connect
        - publicly-accessible
      summary: Get Brand Orders
      operationId: PartnerManagement_getBrandOrders
      security:
        - X-Flyt-Api-Key: []
      description: >
        Get all brand orders within the specified time frame, optionally
        filtered by status and location.


        Example of orders overview endpoint with filters:


        ```

        /brands/<brand_slug>/orders?status=failure&from=2021-06-07T12:04:38.1518005Z&to=2021-06-07T14:04:38.1518005Z&page=2

        ```
      parameters:
        - description: The brand slug to query.
          name: brand_slug
          in: path
          required: true
          schema:
            type: string
        - description: >-
            Since when to start fetching orders. It's a timestamp in RFC3339
            format. By default it will be set to the previous 2 hours since the
            moment of the request. The maximum is 15 days ago.
          name: from
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - description: >-
            Until when to stop fetching orders. It's a timestamp in RFC3339
            format. By default it will use the moment of the request.
          name: to
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - description: >-
            Used to return orders by order status. By default it will return all
            orders.
          name: status
          in: query
          schema:
            type: string
            enum:
              - all
              - success
              - failure
              - pending
        - description: >-
            Location ID's to filter by. Multiple locations can be provided with
            comma separated strings. No input means we don't filter by location.
          name: locations
          in: query
          required: false
          schema:
            type: string
        - description: >-
            Pagination is available if the brand has too many orders that can’t
            be returned in a single request. The maximum orders per request is
            50.
          name: page
          in: query
          required: false
          schema:
            type: integer
        - description: The size of the page.
          name: size
          in: query
          required: false
          schema:
            type: integer
            default: 50
            maximum: 4000
      responses:
        '200':
          $ref: >-
            #/components/responses/JetConnectOrderReportingConnectorSimpleOrdersResponseYaml
        '400':
          description: >-
            Bad Request: The request is faulty due to user error, usually
            because of invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EchoHttpErrorYaml'
        '401':
          description: >-
            Unauthorized: The credentials are missing or incorrect for the
            requested action.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EchoHttpErrorYaml'
              examples:
                no API key:
                  value:
                    message: No API key found in request
                invalid API key:
                  value:
                    message: Invalid authentication credentials
        '403':
          description: 'Forbidden: The client is not allowed to perform this action.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EchoHttpErrorYaml'
        '404':
          description: 'Not Found: The object cannot be found.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EchoHttpErrorYaml'
              examples:
                not found:
                  value:
                    message: Not Found
        '429':
          description: >-
            Too Many Requests: Request not completed as server has received too
            many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EchoHttpErrorYaml'
        '500':
          description: >-
            Internal Server Error: Something went wrong internally, possibly
            because of a bug or an outage.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EchoHttpErrorYaml'
      x-status: Stable
  /brands/{brand_slug}/orders/{orderID}:
    get:
      servers:
        - description: Production environment
          url: https://order-reporting-connector.flyt-platform.com
      tags:
        - Partner Management
        - Analyse Partner Performance
        - jet-connect
        - publicly-accessible
      summary: Get Full Order Details
      operationId: PartnerManagement_getOrderDetails
      security:
        - X-Flyt-Api-Key: []
      description: Get the brand order full details by order id or order reference.
      parameters:
        - $ref: '#/paths/~1brands~1%7Bbrand_slug%7D~1orders/get/parameters/0'
        - description: The order id to query.
          name: orderID
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: >-
            #/components/responses/JetConnectOrderReportingConnectorSingleOrderResponseYaml
        '400':
          description: >-
            Bad Request: The request is faulty due to user error, usually
            because of invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EchoHttpErrorYaml'
        '401':
          description: >-
            Unauthorized: The credentials are missing or incorrect for the
            requested action.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EchoHttpErrorYaml'
              examples:
                no API key:
                  value:
                    message: No API key found in request
                invalid API key:
                  value:
                    message: Invalid authentication credentials
        '403':
          description: 'Forbidden: The client is not allowed to perform this action.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EchoHttpErrorYaml'
        '404':
          description: 'Not Found: The object cannot be found.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EchoHttpErrorYaml'
              examples:
                not found:
                  value:
                    message: Not Found
        '429':
          description: >-
            Too Many Requests: Request not completed as server has received too
            many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EchoHttpErrorYaml'
        '500':
          description: >-
            Internal Server Error: Something went wrong internally, possibly
            because of a bug or an outage.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EchoHttpErrorYaml'
      x-status: Stable
  /delivery/pools:
    get:
      tags:
        - Logistic Management
        - Manage Delivery Suppliers
        - publicly-accessible
      summary: Get your delivery pools
      operationId: LogisticManagement_getDeliveryPools
      description: >-
        A delivery pool is a named group of drivers which deliver food for a set
        of restaurants.
      parameters:
        - description: Descriptor of client or internal application
          name: x-jet-application
          in: header
          schema:
            type: string
          required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/LogisticManagementGetDeliveryPoolsResponse
              examples:
                response:
                  value:
                    d5f72466a6dd49a08166d5a044c5b9e4:
                      name: Toronto - West
                      restaurants:
                        - 123
                        - 456
                    b9c6673b8e5948b98cfbd14a982de2c2:
                      name: Toronto - East
                      restaurants:
                        - 789
        '429':
          description: >-
            Too Many Requests : Request not completed as server has received too
            many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4XxErrorSchemaYaml'
              example:
                fault:
                  traceId: 0HLOCKDKQPKIU
                  faultId: 72d7036d-990a-4f84-9efa-ef5f40f6044b
                  errors:
                    - description: Couldn't complete request
        '500':
          description: Internal Server Error
          content:
            text/plain:
              examples:
                response:
                  value: Internal Server Error
      x-status: Stable
    post:
      tags:
        - Logistic Management
        - Manage Delivery Suppliers
        - publicly-accessible
      summary: Create a new delivery pool
      operationId: LogisticManagement_createDeliveryPool
      description: >-
        A delivery pool is a named group of drivers which deliver food for a set
        of restaurants.
      parameters:
        - description: Descriptor of client or internal application
          name: x-jet-application
          in: header
          schema:
            type: string
          required: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeliveryPoolCreateDeliveryPoolYaml'
      responses:
        '201':
          description: Pool has been created.
        '400':
          description: >-
            There was something invalid in your request - check response body
            for details
          content:
            application/json:
              examples:
                response:
                  value:
                    name:
                      - '''Name'' should not be empty'
              schema:
                $ref: >-
                  #/components/schemas/LogisticManagementCreateDeliveryPoolResponse
        '429':
          description: >-
            Too Many Requests : Request not completed as server has received too
            many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4XxErrorSchemaYaml'
              example:
                fault:
                  traceId: 0HLOCKDKQPKIU
                  faultId: 72d7036d-990a-4f84-9efa-ef5f40f6044b
                  errors:
                    - description: Couldn't complete request
        '500':
          description: Internal Server Error
          content:
            text/plain:
              examples:
                response:
                  value: Internal Server Error
      x-status: Stable
  /delivery/pools/{deliveryPoolId}/availability/relative:
    get:
      tags:
        - Logistic Management
        - Manage Delivery Suppliers
        - publicly-accessible
      summary: Get availability for pickup
      operationId: LogisticManagement_getPickupETA
      description: >-
        Get the current amount of time it will take a driver to collect a new
        order from a restaurant in the pool.
      parameters:
        - description: Identifier for the pool
          required: true
          name: deliveryPoolId
          schema:
            type: string
          in: path
        - description: Descriptor of client or internal application
          name: x-jet-application
          in: header
          schema:
            type: string
          required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogisticManagementGetPickupEtaResponse'
              examples:
                request:
                  value:
                    bestGuess: '00:35:00'
        '404':
          description: The pool could not be found
        '429':
          description: >-
            Too Many Requests : Request not completed as server has received too
            many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4XxErrorSchemaYaml'
              example:
                fault:
                  traceId: 0HLOCKDKQPKIU
                  faultId: 72d7036d-990a-4f84-9efa-ef5f40f6044b
                  errors:
                    - description: Couldn't complete request
      x-status: Stable
    put:
      tags:
        - Logistic Management
        - Manage Delivery Suppliers
        - publicly-accessible
      summary: Set availability for pickup
      operationId: LogisticManagement_setPickupETA
      description: >-
        Set the average amount of time it will take a driver to collect a new
        order from a restaurant in the pool.
      parameters:
        - description: Identifier for the pool
          required: true
          name: deliveryPoolId
          schema:
            type: string
          in: path
        - description: Descriptor of client or internal application
          name: x-jet-application
          in: header
          schema:
            type: string
          required: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeliveryPoolEstimatedTimeYaml'
      responses:
        '202':
          description: Update will take effect shortly
        '404':
          description: The pool could not be found
        '429':
          description: >-
            Too Many Requests : Request not completed as server has received too
            many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4XxErrorSchemaYaml'
              example:
                fault:
                  traceId: 0HLOCKDKQPKIU
                  faultId: 72d7036d-990a-4f84-9efa-ef5f40f6044b
                  errors:
                    - description: Couldn't complete request
      x-status: Stable
  /delivery/pools/{deliveryPoolId}/change-risk:
    post:
      tags:
        - Logistic Management
        - Manage Delivery Suppliers
        - publicly-accessible
      summary: Update delivery pool risk signal
      operationId: LogisticManagement_updateDeliveryPoolRiskSignal
      description: >-
        Define the delivery pool risk level, in order for Demand Shaping to
        generate dynamic delivery area polygons for all restaurants in the
        delivery pool
      parameters:
        - description: Identifier for the pool
          required: true
          name: deliveryPoolId
          schema:
            type: string
          in: path
        - description: Descriptor of client or internal application
          name: x-jet-application
          in: header
          schema:
            type: string
          required: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeliveryPoolUpdateDeliveryPoolRiskYaml'
      responses:
        '202':
          description: Accepted
        '400':
          description: >-
            There was something invalid in your request - check response body
            for details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4XxErrorSchemaYaml'
              example:
                traceId: c2FkZmFzZmFzZmhramFmams=
                faultId: 72d7036d-990a-4f84-9efa-ef5f40f6044b
                errors:
                  riskLevel:
                    - '''RiskLevel'' should not be empty'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4XxErrorSchemaYaml'
              example:
                traceId: c2FkZmFzZmFzZmhramFmams=
                faultId: 72d7036d-990a-4f84-9efa-ef5f40f6044b
                errors:
                  - errorCode: '401'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4XxErrorSchemaYaml'
              example:
                traceId: c2FkZmFzZmFzZmhramFmams=
                faultId: 72d7036d-990a-4f84-9efa-ef5f40f6044b
                errors:
                  - errorCode: '403'
        '404':
          description: The pool could not be found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4XxErrorSchemaYaml'
              example:
                traceId: c2FkZmFzZmFzZmhramFmams=
                faultId: 72d7036d-990a-4f84-9efa-ef5f40f6044b
                errors:
                  - errorCode: '404'
        '429':
          description: >-
            Too Many Requests : Request not completed as server has received too
            many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4XxErrorSchemaYaml'
              example:
                fault:
                  traceId: 0HLOCKDKQPKIU
                  faultId: 72d7036d-990a-4f84-9efa-ef5f40f6044b
                  errors:
                    - description: Couldn't complete request
        '500':
          description: Internal server error
          content:
            application/json;v8:
              schema:
                $ref: '#/components/schemas/5XxErrorSchemaYaml'
      x-status: Stable
  /delivery/pools/{deliveryPoolId}:
    delete:
      tags:
        - Logistic Management
        - Manage Delivery Suppliers
        - publicly-accessible
      summary: Delete a delivery pool
      operationId: LogisticManagement_removeDeliveryPool
      description: The restaurants will no longer be associated with the pool.
      parameters:
        - description: Identifier for the pool
          required: true
          name: deliveryPoolId
          schema:
            type: string
          in: path
        - description: Descriptor of client or internal application
          name: x-jet-application
          in: header
          schema:
            type: string
          required: false
      responses:
        '200':
          description: Pool deleted
        '404':
          description: The pool could not be found
        '429':
          description: >-
            Too Many Requests : Request not completed as server has received too
            many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4XxErrorSchemaYaml'
              example:
                fault:
                  traceId: 0HLOCKDKQPKIU
                  faultId: 72d7036d-990a-4f84-9efa-ef5f40f6044b
                  errors:
                    - description: Couldn't complete request
        '500':
          description: Internal Server Error
          content:
            text/plain:
              examples:
                response:
                  value: Internal Server Error
      x-status: Stable
    get:
      tags:
        - Logistic Management
        - Manage Delivery Suppliers
        - publicly-accessible
      summary: Get an individual delivery pool
      operationId: LogisticManagement_getDeliveryPool
      description: >-
        A delivery pool is a named group of drivers which deliver food for a set
        of restaurants.
      parameters:
        - description: Identifier for the pool
          required: true
          name: deliveryPoolId
          schema:
            type: string
          in: path
        - description: Descriptor of client or internal application
          name: x-jet-application
          in: header
          schema:
            type: string
          required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogisticManagementGetDeliveryPoolResponse'
              examples:
                response:
                  value:
                    name: Toronto - West
                    restaurants:
                      - 123
                      - 456
        '404':
          description: The pool could not be found
        '429':
          description: >-
            Too Many Requests : Request not completed as server has received too
            many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4XxErrorSchemaYaml'
              example:
                fault:
                  traceId: 0HLOCKDKQPKIU
                  faultId: 72d7036d-990a-4f84-9efa-ef5f40f6044b
                  errors:
                    - description: Couldn't complete request
        '500':
          description: Internal Server Error
          content:
            text/plain:
              examples:
                response:
                  value: Internal Server Error
      x-status: Stable
    patch:
      tags:
        - Logistic Management
        - Manage Delivery Suppliers
        - publicly-accessible
      summary: Modify a delivery pool
      operationId: LogisticManagement_modifyDeliveryPool
      description: Modify a delivery pool, changing its name, restaurants or both
      parameters:
        - description: Identifier for the pool
          schema:
            type: string
          required: true
          in: path
          name: deliveryPoolId
        - description: Descriptor of client or internal application
          name: x-jet-application
          in: header
          schema:
            type: string
          required: false
      requestBody:
        description: >-
          Request body should contain an object with either or both of the
          properties. If a property is not specified then the existing values
          are retained.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeliveryPoolPatchDeliveryPoolYaml'
        required: true
      responses:
        '202':
          description: Pool has been updated
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/LogisticManagementModifyDeliveryPoolResponse
              examples:
                response:
                  value:
                    restaurants:
                      - 123
                      - 456
                    name: Toronto - North
        '400':
          description: >-
            There was something invalid in your request - check response body
            for details
          content:
            application/json:
              examples:
                response:
                  value:
                    name:
                      - '''Name'' should not be empty'
              schema:
                $ref: >-
                  #/components/schemas/LogisticManagementModifyDeliveryPool400Response
        '404':
          description: The pool could not be found
        '409':
          description: A restaurant in your request already belongs to another pool
          content:
            text/plain:
              examples:
                response:
                  value: >-
                    Restaurant(s) are already assigned to pools :
                    `{RestaurantId:55474,
                    PoolId:cccebb96452349b799b71a7adc51df66}`
        '429':
          description: >-
            Too Many Requests : Request not completed as server has received too
            many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4XxErrorSchemaYaml'
              example:
                fault:
                  traceId: 0HLOCKDKQPKIU
                  faultId: 72d7036d-990a-4f84-9efa-ef5f40f6044b
                  errors:
                    - description: Couldn't complete request
        '500':
          description: Internal Server Error
          content:
            text/plain:
              examples:
                response:
                  value: Internal Server Error
      x-status: Stable
    put:
      tags:
        - Logistic Management
        - Manage Delivery Suppliers
        - publicly-accessible
      summary: Replace an existing delivery pool
      operationId: LogisticManagement_replaceDeliveryPool
      description: Replace an existing delivery pool changing all of its properties
      parameters:
        - description: Identifier for the pool
          required: true
          name: deliveryPoolId
          schema:
            type: string
          in: path
        - description: Descriptor of client or internal application
          name: x-jet-application
          in: header
          schema:
            type: string
          required: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeliveryPoolCreateDeliveryPoolYaml'
      responses:
        '202':
          description: Pool has been replaced
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/LogisticManagementReplaceDeliveryPoolResponse
              examples:
                response:
                  value:
                    name: Toronto - West
                    restaurants:
                      - 123
                      - 456
        '400':
          description: >-
            There was something invalid in your request - check response body
            for details
          content:
            application/json:
              examples:
                response:
                  value:
                    name:
                      - '''Name'' should not be empty'
              schema:
                $ref: >-
                  #/components/schemas/LogisticManagementReplaceDeliveryPool400Response
        '404':
          description: The pool could not be found
        '409':
          description: A restaurant in your request already belongs to another pool
          content:
            text/plain:
              examples:
                response:
                  value: >-
                    Restaurant(s) are already assigned to pools :
                    `{RestaurantId:55474,
                    PoolId:cccebb96452349b799b71a7adc51df66}`
        '429':
          description: >-
            Too Many Requests : Request not completed as server has received too
            many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4XxErrorSchemaYaml'
              example:
                fault:
                  traceId: 0HLOCKDKQPKIU
                  faultId: 72d7036d-990a-4f84-9efa-ef5f40f6044b
                  errors:
                    - description: Couldn't complete request
        '500':
          description: Internal Server Error
          content:
            text/plain:
              examples:
                response:
                  value: Internal Server Error
      x-status: Stable
  /delivery/pools/{deliveryPoolId}/hours:
    put:
      tags:
        - Logistic Management
        - Manage Delivery Suppliers
        - publicly-accessible
      summary: Set the delivery pools daily start and end times
      operationId: LogisticManagement_setDeliveryPoolHours
      description: >-
        Set the daily start and end times for a pool or set closed flag if the
        pool does not operate on that day. Start and end times for all days must
        be provided. Though the API accepts array of start and end times for
        each day, multiple start and end time for a day are not accepted. If the
        end time for a day is equal to or before start time, end time will be
        considered as time for the next day.
      parameters:
        - description: Identifier for the pool
          required: true
          name: deliveryPoolId
          schema:
            type: string
          in: path
        - description: Descriptor of client or internal application
          name: x-jet-application
          in: header
          schema:
            type: string
          required: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeliveryPoolDeliveryPoolHoursYaml'
      responses:
        '200':
          description: Pool hours have been updated
        '404':
          description: The pool could not be found
        '429':
          description: >-
            Too Many Requests : Request not completed as server has received too
            many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4XxErrorSchemaYaml'
              example:
                fault:
                  traceId: 0HLOCKDKQPKIU
                  faultId: 72d7036d-990a-4f84-9efa-ef5f40f6044b
                  errors:
                    - description: Couldn't complete request
      x-status: Stable
  /delivery/pools/{deliveryPoolId}/offline-events:
    delete:
      tags:
        - Logistic Management
        - Manage Delivery Suppliers
        - publicly-accessible
      summary: Delete offline events
      operationId: LogisticManagement_deleteOfflineEvents
      description: Delete offline events for a delivery pool
      parameters:
        - description: Identifier for the pool
          required: true
          name: deliveryPoolId
          schema:
            type: string
          in: path
        - description: Reason of the offline event. e.g. `?reason=manual`
          required: true
          name: reason
          schema:
            enum:
              - manual
            type: string
          in: query
        - description: Descriptor of client or internal application
          name: x-jet-application
          in: header
          schema:
            type: string
          required: false
      responses:
        '204':
          description: Manual offline events deleted
        '400':
          description: Tenant in request doesn't correspond with pool tenant
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: The pool could not be found
        '429':
          description: >-
            Too Many Requests : Request not completed as server has received too
            many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4XxErrorSchemaYaml'
              example:
                fault:
                  traceId: 0HLOCKDKQPKIU
                  faultId: 72d7036d-990a-4f84-9efa-ef5f40f6044b
                  errors:
                    - description: Couldn't complete request
        '500':
          description: Internal Server Error
          content:
            text/plain:
              examples:
                response:
                  value: Internal Server Error
        '501':
          description: The operation has not been implemented
      x-status: Stable
    post:
      tags:
        - Logistic Management
        - Manage Delivery Suppliers
        - publicly-accessible
      summary: Take delivery pool offline
      operationId: LogisticManagement_takePoolOffline
      description: Take delivery pool offline
      parameters:
        - description: Identifier for the pool
          required: true
          name: deliveryPoolId
          schema:
            type: string
          in: path
        - description: Descriptor of client or internal application
          name: x-jet-application
          in: header
          schema:
            type: string
          required: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LogisticManagementTakePoolOfflineRequest'
      responses:
        '202':
          description: Pool status manually changed to offline
          headers:
            location:
              description: The URI that could be used to get status of the pool
              schema:
                example: https://uk.api.just-eat.io/delivery/pools/1234/offline-events
                type: string
        '400':
          description: Tenant in request doesn't correspond with pool tenant
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: The pool could not be found
        '429':
          description: >-
            Too Many Requests : Request not completed as server has received too
            many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4XxErrorSchemaYaml'
              example:
                fault:
                  traceId: 0HLOCKDKQPKIU
                  faultId: 72d7036d-990a-4f84-9efa-ef5f40f6044b
                  errors:
                    - description: Couldn't complete request
        '500':
          description: Internal Server Error
          content:
            text/plain:
              examples:
                response:
                  value: Internal Server Error
        '501':
          description: The operation has not been implemented
      x-status: Stable
  /delivery/pools/{deliveryPoolId}/restaurants:
    delete:
      tags:
        - Logistic Management
        - Manage Delivery Suppliers
        - publicly-accessible
      summary: Remove restaurants from a delivery pool
      operationId: LogisticManagement_removeDeliveryPoolRestaurants
      description: Remove restaurants from a delivery pool
      parameters:
        - description: Identifier for the pool
          required: true
          name: deliveryPoolId
          schema:
            type: string
          in: path
        - description: Descriptor of client or internal application
          name: x-jet-application
          in: header
          schema:
            type: string
          required: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/LogisticManagementRemoveDeliveryPoolRestaurantsRequest
      responses:
        '200':
          description: Pool has been updated
        '400':
          description: >-
            There was something invalid in your request - check response body
            for details
        '404':
          description: The pool could not be found
        '429':
          description: >-
            Too Many Requests : Request not completed as server has received too
            many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4XxErrorSchemaYaml'
              example:
                fault:
                  traceId: 0HLOCKDKQPKIU
                  faultId: 72d7036d-990a-4f84-9efa-ef5f40f6044b
                  errors:
                    - description: Couldn't complete request
      x-status: Stable
    put:
      tags:
        - Logistic Management
        - Manage Delivery Suppliers
        - publicly-accessible
      summary: Add restaurants to an existing delivery pool
      operationId: LogisticManagement_addRestaurantsToDeliveryPool
      description: Add additional restaurants to a delivery pool
      parameters:
        - description: Identifier for the pool
          required: true
          name: deliveryPoolId
          schema:
            type: string
          in: path
        - description: Descriptor of client or internal application
          name: x-jet-application
          in: header
          schema:
            type: string
          required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeliveryApiDeliveryRestaurantslistYaml'
              examples:
                response:
                  value:
                    restaurants:
                      - 123
                      - 456
        '400':
          description: >-
            There was something invalid in your request - check response body
            for details
        '404':
          description: The pool could not be found
        '409':
          description: >-
            The restaurants could not be added to the pool. Typically this is
            because they are already assigned to another pool
        '429':
          description: >-
            Too Many Requests : Request not completed as server has received too
            many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4XxErrorSchemaYaml'
              example:
                fault:
                  traceId: 0HLOCKDKQPKIU
                  faultId: 72d7036d-990a-4f84-9efa-ef5f40f6044b
                  errors:
                    - description: Couldn't complete request
      x-status: Stable
  /delivery/pools/{deliveryPoolId}/status:
    get:
      tags:
        - Logistic Management
        - Manage Delivery Suppliers
        - publicly-accessible
      summary: Get status of delivery pool
      operationId: LogisticManagement_getDeliveryPoolStatus
      description: Get delivery pool's status and list of events
      parameters:
        - description: Identifier for the pool
          required: true
          name: deliveryPoolId
          schema:
            type: string
          in: path
        - description: Descriptor of client or internal application
          name: x-jet-application
          in: header
          schema:
            type: string
          required: false
      responses:
        '200':
          description: OK
          headers:
            cache-control:
              description: Information about how the response can be cached
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/LogisticManagementGetDeliveryPoolStatusResponse
              example:
                response:
                  status: Offline
                  events:
                    - createdUtc: '2021-08-23T01:00:00Z'
                      eventType: Offline
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: The pool could not be found
        '429':
          description: >-
            Too Many Requests : Request not completed as server has received too
            many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4XxErrorSchemaYaml'
              example:
                fault:
                  traceId: 0HLOCKDKQPKIU
                  faultId: 72d7036d-990a-4f84-9efa-ef5f40f6044b
                  errors:
                    - description: Couldn't complete request
        '500':
          description: Internal Server Error
          content:
            text/plain:
              examples:
                response:
                  value: Internal Server Error
      x-status: Stable
  /delivery-failed:
    put:
      tags:
        - API Partner Management Gateway
        - Attempted Delivery Webhooks
        - publicly-accessible
        - Webhook
      summary: Delivery Attempt Failed
      operationId: ApiPartnerManagementGateway_attemptedDeliveryPut
      description: >-
        This webhook will be invoked whenever an attempted delivery event is
        created from the device.
      parameters:
        - description: Descriptor of client or internal application
          name: x-jet-application
          in: header
          schema:
            type: string
          required: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/AttemptedDeliveryAttemptedDeliveryCreatedYaml
      responses:
        '200':
          description: >-
            Respond with a 200 status code to indicate that you have received
            the notification.
        '429':
          description: >-
            Too Many Requests : Request not completed as server has received too
            many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4XxErrorSchemaYaml'
              example:
                fault:
                  traceId: 0HLOCKDKQPKIU
                  faultId: 72d7036d-990a-4f84-9efa-ef5f40f6044b
                  errors:
                    - description: Couldn't complete request
      x-status: Draft
      x-webhook: 'Yes'
  /delivery-fees/{tenant}:
    get:
      tags:
        - Logistic Management
        - Define Partner Delivery Areas
        - publicly-accessible
      summary: Get restaurant delivery fees
      operationId: LogisticManagement_getRestaurantDeliveryFees
      description: >-
        Retrieve delivery fees for many restaurants. Returns fees and minimum
        order values required for delivery orders.
      parameters:
        - description: Tenant containing the restaurants.
          name: tenant
          required: true
          example: uk
          schema:
            type: string
          in: path
        - description: >-
            Restaurant IDs which fees are requested for. e.g.
            `?restaurantIds=1,2,3,4`
          required: true
          in: query
          explode: false
          example:
            - '1'
            - '2'
            - '3'
            - '4'
          name: restaurantIds
          schema:
            maxItems: 200
            items:
              type: string
            type: array
          style: form
        - description: Delivery date/time when fees are required (ISO8601 format).
          name: deliveryTime
          required: true
          example: '2019-09-05T12:43:48.431Z'
          schema:
            format: date-time
            type: string
          in: query
        - description: >-
            Postcode or other location name identifying the location to which
            delivery is required. For use when precise location is not
            available. This will be removed in future in favour of location.
          name: zone
          required: false
          example: BS1
          schema:
            type: string
          in: query
        - description: >-
            Point to which delivery is required (latitude, longitude). Supply
            this where possible as support for zone-only based lookups will be
            removed in future.
          required: false
          in: query
          explode: false
          example:
            - 51.3851513
            - -2.0841275
          name: latlong
          schema:
            maxItems: 2
            items:
              format: double
              type: number
            minItems: 2
            type: array
          style: form
        - description: Descriptor of client or internal application
          name: x-jet-application
          in: header
          schema:
            type: string
          required: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/LogisticManagementGetRestaurantDeliveryFeesResponse
              examples:
                flatRateWithFreeTier:
                  summary: >-
                    Single fee with minimum order value, and free delivery
                    threshold
                  value:
                    restaurants:
                      - minimumOrderValue: 1000
                        bands:
                          - minimumAmount: 1000
                            fee: 250
                          - minimumAmount: 2000
                            fee: 0
                        restaurantId: '1234'
                threeTier:
                  summary: No minimum order value, three pricing tiers
                  value:
                    restaurants:
                      - minimumOrderValue: 0
                        bands:
                          - minimumAmount: 0
                            fee: 250
                          - minimumAmount: 10
                            fee: 100
                          - minimumAmount: 2000
                            fee: 0
                        restaurantId: '1234'
                flatRate:
                  summary: Single fee, with and without minimum order value
                  value:
                    restaurants:
                      - minimumOrderValue: 1000
                        bands:
                          - minimumAmount: 1000
                            fee: 250
                        restaurantId: '1234'
                      - minimumOrderValue: 0
                        bands:
                          - minimumAmount: 0
                            fee: 100
                        restaurantId: '5678'
        '400':
          description: Bad request
        '404':
          description: Not found
        '429':
          description: >-
            Too Many Requests : Request not completed as server has received too
            many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4XxErrorSchemaYaml'
              example:
                fault:
                  traceId: 0HLOCKDKQPKIU
                  faultId: 72d7036d-990a-4f84-9efa-ef5f40f6044b
                  errors:
                    - description: Couldn't complete request
      x-status: Draft
  /discovery/{tenant}/restaurants/enriched/bypostcode/{postcode}:
    get:
      tags:
        - Search Orchestrator
        - publicly-accessible
      summary: Get enriched restaurants by postcode
      operationId: SearchOrchestrator_getEnrichedRestaurantsByPostcode
      description: >-
        Get a ranked collection of restaurants that serve the provided postcode
        area along with additional information.
      parameters:
        - description: The tenant that the request is coming from.
          name: tenant
          example: uk
          in: path
          schema:
            type: string
          required: true
        - description: The postcode of the requested area.
          name: postcode
          example: bs14dj
          in: path
          schema:
            type: string
          required: true
        - description: Whether returned ratings are out of 5 stars
          name: ratingsOutOfFive
          schema:
            type: boolean
            default: false
          in: query
        - description: |
            Retrieve restaurants based on the type of service they offer.

            - `any`: Retrieve restaurants offering any service type (default).
            - `delivery`: Retrieve restaurants that offer delivery.
            - `collection`: Retrieve restaurants that offer collection.
          name: serviceType
          schema:
            $ref: '#/components/schemas/DiscoveryServiceTypeYaml'
          in: query
          required: false
        - description: Descriptor of client or internal application
          name: x-jet-application
          in: header
          schema:
            type: string
          required: false
      responses:
        '200':
          description: OK
          headers:
            cache-control:
              description: Information about how the response can be cached.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/DiscoveryRestaurantsEnrichedRestaurantsResponseYaml
            application/json;v=3:
              schema:
                $ref: >-
                  #/components/schemas/DiscoveryRestaurantsV3EnrichedRestaurantsResponseYaml
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4XxErrorSchemaYaml'
        '429':
          description: >-
            Too Many Requests : Request not completed as server has received too
            many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4XxErrorSchemaYaml'
              example:
                fault:
                  traceId: 0HLOCKDKQPKIU
                  faultId: 72d7036d-990a-4f84-9efa-ef5f40f6044b
                  errors:
                    - description: Couldn't complete request
        '500':
          description: Internal Server Error
          $ref: '#/components/responses/500ErrorResponseYaml'
      x-status: Draft
  /discovery/{tenant}/restaurants/enriched:
    get:
      tags:
        - Search Orchestrator
        - publicly-accessible
      summary: Get enriched restaurants by location
      operationId: SearchOrchestrator_getEnrichedRestaurants
      description: >-
        Get a ranked collection of restaurants that serve the provided latitude
        and longitude along with additional information.
      parameters:
        - description: The tenant that the request is coming from.
          name: tenant
          example: uk
          in: path
          schema:
            type: string
          required: true
        - description: The latitude of the requested area.
          name: latitude
          example: 51.451772
          in: query
          x-position: 1
          schema:
            type: number
            format: double
            minimum: -90
            maximum: 90
        - description: The longitude of the requested area.
          name: longitude
          example: -2.596847
          in: query
          x-position: 2
          schema:
            type: number
            format: double
            minimum: -180
            maximum: 180
        - description: Whether returned ratings are out of 5 stars
          name: ratingsOutOfFive
          schema:
            type: boolean
            default: false
          in: query
        - description: |
            Retrieve restaurants based on the type of service they offer.

            - `any`: Retrieve restaurants offering any service type (default).
            - `delivery`: Retrieve restaurants that offer delivery.
            - `collection`: Retrieve restaurants that offer collection.
          name: serviceType
          schema:
            $ref: '#/components/schemas/DiscoveryServiceTypeYaml'
          in: query
          required: false
        - description: Descriptor of client or internal application
          name: x-jet-application
          in: header
          schema:
            type: string
          required: false
      responses:
        '200':
          description: OK
          headers:
            cache-control:
              description: Information about how the response can be cached.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/DiscoveryRestaurantsEnrichedRestaurantsResponseYaml
            application/json;v=3:
              schema:
                $ref: >-
                  #/components/schemas/DiscoveryRestaurantsV3EnrichedRestaurantsResponseYaml
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4XxErrorSchemaYaml'
        '429':
          description: >-
            Too Many Requests : Request not completed as server has received too
            many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4XxErrorSchemaYaml'
              example:
                fault:
                  traceId: 0HLOCKDKQPKIU
                  faultId: 72d7036d-990a-4f84-9efa-ef5f40f6044b
                  errors:
                    - description: Couldn't complete request
        '500':
          description: Internal Server Error
          $ref: '#/components/responses/500ErrorResponseYaml'
      x-status: Draft
  /driver-assigned-to-delivery:
    put:
      tags:
        - API Partner Management Gateway
        - Order Delivery Webhooks
        - publicly-accessible
        - Webhook
      summary: Driver Assigned to Delivery
      operationId: ApiPartnerManagementGateway_assignDriverToDelivery
      description: Driver Assigned to Delivery
      parameters:
        - description: Descriptor of client or internal application
          name: x-jet-application
          in: header
          schema:
            type: string
          required: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeliveryWebhooksDriverStatusYaml'
      responses:
        '200':
          description: OK
        '429':
          description: >-
            Too Many Requests : Request not completed as server has received too
            many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4XxErrorSchemaYaml'
              example:
                fault:
                  traceId: 0HLOCKDKQPKIU
                  faultId: 72d7036d-990a-4f84-9efa-ef5f40f6044b
                  errors:
                    - description: Couldn't complete request
      x-status: Draft
      x-webhook: 'Yes'
  /driver-at-delivery-address:
    put:
      tags:
        - API Partner Management Gateway
        - Order Delivery Webhooks
        - publicly-accessible
        - Webhook
      summary: Driver at delivery address
      operationId: ApiPartnerManagementGateway_updateDriverDeliveryAddress
      description: Driver at delivery address
      parameters:
        - description: Descriptor of client or internal application
          name: x-jet-application
          in: header
          schema:
            type: string
          required: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeliveryWebhooksDriverStatusYaml'
      responses:
        '200':
          description: OK
        '429':
          description: >-
            Too Many Requests : Request not completed as server has received too
            many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4XxErrorSchemaYaml'
              example:
                fault:
                  traceId: 0HLOCKDKQPKIU
                  faultId: 72d7036d-990a-4f84-9efa-ef5f40f6044b
                  errors:
                    - description: Couldn't complete request
      x-status: Draft
      x-webhook: 'Yes'
  /driver-at-restaurant:
    put:
      tags:
        - API Partner Management Gateway
        - Order Delivery Webhooks
        - publicly-accessible
        - Webhook
      summary: Driver at restaurant
      operationId: ApiPartnerManagementGateway_confirmDriverAtRestaurant
      description: Driver at restaurant
      parameters:
        - description: Descriptor of client or internal application
          name: x-jet-application
          in: header
          schema:
            type: string
          required: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeliveryWebhooksDriverStatusYaml'
      responses:
        '200':
          description: OK
        '429':
          description: >-
            Too Many Requests : Request not completed as server has received too
            many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4XxErrorSchemaYaml'
              example:
                fault:
                  traceId: 0HLOCKDKQPKIU
                  faultId: 72d7036d-990a-4f84-9efa-ef5f40f6044b
                  errors:
                    - description: Couldn't complete request
      x-status: Draft
      x-webhook: 'Yes'
  /driver-has-delivered-order:
    put:
      tags:
        - API Partner Management Gateway
        - Order Delivery Webhooks
        - publicly-accessible
        - Webhook
      summary: Driver has delivered order
      operationId: ApiPartnerManagementGateway_updateDriverDeliveryStatus
      description: Driver has delivered order
      parameters:
        - description: Descriptor of client or internal application
          name: x-jet-application
          in: header
          schema:
            type: string
          required: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeliveryWebhooksDriverStatusYaml'
      responses:
        '200':
          description: OK
        '429':
          description: >-
            Too Many Requests : Request not completed as server has received too
            many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4XxErrorSchemaYaml'
              example:
                fault:
                  traceId: 0HLOCKDKQPKIU
                  faultId: 72d7036d-990a-4f84-9efa-ef5f40f6044b
                  errors:
                    - description: Couldn't complete request
      x-status: Draft
      x-webhook: 'Yes'
  /driver-location:
    put:
      tags:
        - API Partner Management Gateway
        - Order Delivery Webhooks
        - publicly-accessible
        - Webhook
      summary: Driver Location
      operationId: ApiPartnerManagementGateway_updateDriverLocation
      description: Driver Location
      parameters:
        - description: Descriptor of client or internal application
          name: x-jet-application
          in: header
          schema:
            type: string
          required: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeliveryWebhooksDriverLocationYaml'
      responses:
        '200':
          description: OK
        '429':
          description: >-
            Too Many Requests : Request not completed as server has received too
            many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4XxErrorSchemaYaml'
              example:
                fault:
                  traceId: 0HLOCKDKQPKIU
                  faultId: 72d7036d-990a-4f84-9efa-ef5f40f6044b
                  errors:
                    - description: Couldn't complete request
      x-status: Draft
      x-webhook: 'Yes'
  /driver-on-their-way-to-delivery-address:
    put:
      tags:
        - API Partner Management Gateway
        - Order Delivery Webhooks
        - publicly-accessible
        - Webhook
      summary: Driver on their way to delivery address
      operationId: ApiPartnerManagementGateway_updateDriverLocationToDeliveryAddress
      description: Driver on their way to delivery address
      parameters:
        - description: Descriptor of client or internal application
          name: x-jet-application
          in: header
          schema:
            type: string
          required: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeliveryWebhooksDriverStatusYaml'
      responses:
        '200':
          description: OK
        '429':
          description: >-
            Too Many Requests : Request not completed as server has received too
            many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4XxErrorSchemaYaml'
              example:
                fault:
                  traceId: 0HLOCKDKQPKIU
                  faultId: 72d7036d-990a-4f84-9efa-ef5f40f6044b
                  errors:
                    - description: Couldn't complete request
      x-status: Draft
      x-webhook: 'Yes'
  /final/{finalPickedOrder}:
    post:
      servers:
        - description: The URL that you have provided to us
          url: https://www.your-base-url.com
      tags:
        - JET Connect for Manage Order Status
        - jet-connect
        - order-injection-status-updater
        - publicly-accessible
      summary: Final Picked Order
      operationId: JetConnectForManageOrderStatus_receiveFinalPickedOrder
      security:
        - Bearer: []
        - api_key: []
        - basic_auth: []
        - justeat_adfs: []
        - restaurantsignup_jwt: []
        - daas_jwt: []
      description: >-
        Final picked order is for brands that may make amendments to an order
        and want to receive a copy of the order in its final state i.e. after
        all amendments have applied. This can be integrated or non integrated.
        please contact your brand manager for more information. after the
        initial order injection has already taken place (e.g. due to items
        potentially being out of stock), and would like to be notified of these
        changes to the initial order.


        Once the order has been picked (currently the trigger point for this is
        the "last mile delivered" event), the platform will check for any
        amendments on the order, and send the "final picked" order back to the
        specified endpoint.


        The "final picked" order could be different from the original order, as
        items may have been marked out of stock during the order pick. As such
        the total price, or item quantities may have changed.


        In the event you would like to receive the final order, there are
        several combinations of injections you can subscribe to.


        ### Scenario 1 (receive only the initial order)


        Receive only the initial order  in the state it was originally placed,
        at the point the driver is prep time away from the store. JET Connect 
        will send the order to the "Received Order" endpoint, as a `POST`
        request. Your endpoint must be able to receive orders in the same format
        documented in the "Received Order" section.


        ### Scenario 2 (receive only the final pick order)


        When the order is picked, the JET Connect Platform will check for
        amendments, and send a request to the final picked order endpoint you
        provided with any changes, as a `POST` request. Your endpoint must be
        able to receive orders in the format documented under "request format".


        ### Scenario 3 (receive both the initial order, and the final pick
        order)


        If you would like to receive both of the requests documented above, this
        is also possible. Please contact your brand manager to have this
        configured.


        #### Request format


        As an additional security measure, orders can be sent from the same
        static IP address as the initial order. You can request this feature
        from your brand manager.
      parameters:
        - description: The endpoint you have provided to us.
          name: finalPickedOrder
          in: path
          required: true
          schema:
            type: string
          example: https://www.your-base-url.com/finalPickedOrders
        - $ref: '#/paths/~1initial~1%7BreceiveOrder%7D/post/parameters/2'
        - description: Descriptor of client or internal application
          name: x-jet-application
          in: header
          schema:
            type: string
          required: false
      requestBody:
        description: >-
          The endpoint you provide to JET Connect must be able to receive orders
          in the following format. The type property will determine fulfillment
          type.


          As an additional security measure, orders can be sent from a static IP
          address. You can request this feature from your integration team.
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/JetConnectForManageOrderStatusReceiveFinalPickedOrderRequest
            examples:
              Delivery by partner:
                value:
                  id: 38bbeb45-f520-4438-a44f-0fcdbb29e166
                  third_party_order_reference: '22721763'
                  type: delivery-by-delivery-partner
                  posLocationId: AKZ12
                  location:
                    id: 1296
                    timezone: Europe/London
                  menu_reference: ''
                  items:
                    - description: ''
                      name: Cheeseburger
                      plu: M2
                      price: 1700
                      notes: ''
                      children:
                        - description: ''
                          name: Extra Sauce
                          plu: R3
                          price: 100
                          unitDepositAmount: 10
                  created_at: '1606780145'
                  channel:
                    name: Just Eat
                    id: 32
                  collect_at: '1606780980'
                  collection_notes: Driver will be wearing a blue shirt
                  kitchen_notes: ''
                  payment_method: CARD
                  tender_type: Flyt
                  payment:
                    items_in_cart:
                      inc_tax: 2160
                      tax: 360
                    adjustments: []
                    final:
                      inc_tax: 2160
                      tax: 360
                    deposit: 10
                  driver:
                    first_name: John
                    last_name: Smith
                    phone_number: 555-111-3344
                  delivery:
                    first_name: '****************'
                    last_name: '****************'
                    phone_number: 55555 113 000
                    phone_masking_code: ''
                    line_one: '**********************'
                    line_two: ''
                    city: '*****'
                    postcode: '*****'
                    email: customer@email.hidden
                    coordinates:
                      latitude: 49.898498728223224
                      longitude: -97.13560152293131
                      latitude_as_string: '49.8984'
                      longitude_as_string: '-122.2966'
                  extras: {}
                  promotions:
                    - type: FREE_ITEM_MIN_BASKET
                      items:
                        - description: ''
                          name: Crispy Chicken Twist
                          plu: ''
                          price: 419
                          notes: ''
                          children: []
                      promotionId: string
                      discountValue: 419
                      offerId: string
              Delivery by restaurant:
                value:
                  id: 7494e975-4d24-4ea5-bdd6-306b444ccc51
                  third_party_order_reference: '207217603'
                  type: delivery-by-merchant
                  posLocationId: '22617'
                  location:
                    id: 2267
                    timezone: US/Mountain
                  menu_reference: ''
                  items:
                    - description: ''
                      name: Cheesy Pasta
                      plu: MMcc0
                      price: 500
                      unitDepositAmount: 10
                      notes: please make it extra cheesy
                      children: []
                  created_at: '1606780145'
                  channel:
                    name: Skip
                    id: 52
                  deliver_at: '1606780980'
                  delivery_notes: It's the blue house at the end of the block.
                  kitchen_notes: ''
                  payment_method: CARD
                  tender_type: Flyt
                  payment:
                    items_in_cart:
                      inc_tax: 600
                      tax: 100
                    adjustments:
                      - name: deliveryFee
                        price:
                          inc_tax: 240
                          tax: 40
                    final:
                      inc_tax: 840
                      tax: 140
                    deposit: 10
                  delivery:
                    first_name: John
                    last_name: Doe
                    phone_number: 555-113-0000
                    phone_masking_code: ''
                    line_one: 1234 Spicy Street
                    line_two: ''
                    city: Winnipeg
                    postcode: R3B 0P4
                    email: customer@email.hidden
                    coordinates:
                      latitude: 49.898498728223224
                      longitude: -97.13560152293131
                      latitude_as_string: '49.8984'
                      longitude_as_string: '-122.2966'
                  extras: {}
                  promotions:
                    - type: FREE_ITEM_MIN_BASKET
                      items:
                        - description: ''
                          name: Crispy Chicken Twist
                          plu: ''
                          price: 419
                          notes: ''
                          children: []
                      promotionId: string
                      discountValue: 419
                      offerId: string
              Pick-up:
                value:
                  id: 7494e975-4d24-4ea5-bdd6-306b444ccc51X
                  third_party_order_reference: '122669877'
                  type: collection-by-customer
                  posLocationId: 32c8b122-f599-441f-aa3a-5081fb89f0e8
                  location:
                    id: 12642
                    timezone: Australia/Sydney
                  menu_reference: ''
                  items:
                    - description: ''
                      name: Cheese Pizza (Large)
                      plu: b048118f-87e7-417b-b45e-b123b2b97a52
                      price: 1000
                      unitDepositAmount: 10
                      notes: ''
                      children: []
                  created_at: '1606780145'
                  channel:
                    name: Menulog
                    id: 59
                  collect_at: '1606780980'
                  collection_notes: I will be wearing a green dress
                  kitchen_notes: Please add extra cheese to the pizza
                  payment_method: CARD
                  tender_type: Flyt
                  payment:
                    items_in_cart:
                      inc_tax: 1000
                      tax: 0
                    adjustments: []
                    final:
                      inc_tax: 1000
                      tax: 0
                    deposit: 10
                  collector:
                    first_name: John
                    last_name: Doe
                    phone_number: 020 7946 0504
                    phone_masking_code: '1234567890'
                  extras: {}
                  promotions:
                    - type: FREE_ITEM_MIN_BASKET
                      items:
                        - description: ''
                          name: Crispy Chicken Twist
                          plu: C1
                          price: 419
                          notes: ''
                          children: []
                      promotionId: string
                      discountValue: 419
                      offerId: string
      responses:
        '200':
          description: >-
            To indicate that the order was successfully processed, return a
            `200` status code with an Order Number. JET Connect will notify your
            delivery partner that the order was successfully processed.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/JetConnectOrderInjectionStatusUpdaterOrderSuccessYaml
        '202':
          description: >-
            If you would like to handle the order asynchronously, return a 202
            status code. JET Connect will place the order in a pending state,
            which will fail after 3 minutes if you do not notify JET Connect
            through the Update Order Status endpoint. If this endpoint is not
            called within 3 minutes, the order will be marked as failed to
            inject.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/JetConnectOrderInjectionStatusUpdaterOrderAcceptedYaml
        '400':
          description: >-
            Any non-2xx status codes will be taken as a failure and redirected
            to the tablet to be hand-keyed into your POS.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/JetConnectOrderInjectionStatusUpdaterOrderFailedYaml
        '401':
          description: >-
            Unauthorized. Authorization failed or the HMAC validation did not
            match.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/JetConnectOrderInjectionStatusUpdaterOrderUnauthorizedYaml
        '429':
          description: >-
            Too Many Requests : Request not completed as server has received too
            many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4XxErrorSchemaYaml'
              example:
                fault:
                  traceId: 0HLOCKDKQPKIU
                  faultId: 72d7036d-990a-4f84-9efa-ef5f40f6044b
                  errors:
                    - description: Couldn't complete request
      x-webhook: 'Yes'
      x-status: Stable
  /initial/{receiveOrder}:
    post:
      servers:
        - description: The URL that you have provided to us
          url: https://www.your-base-url.com
      tags:
        - JET Connect for Manage Order Status
        - jet-connect
        - order-injection-status-updater
        - publicly-accessible
      summary: Receive Order
      operationId: JetConnectForManageOrderStatus_receiveOrderPost
      security:
        - X-Flyt-Api-Key: []
          Bearer: []
          api_key: []
          basic_auth: []
          justeat_adfs: []
          restaurantsignup_jwt: []
          daas_jwt: []
      description: >-
        When an order is received for your integrated restaurant on a delivery
        website, the JET Connect Platform will send it to the endpoint you
        provided, as a `POST` request. Your endpoint must be able to receive
        orders in the format documented below.


        As an additional security measure, orders can be sent from a static IP
        address. You can request this feature from your brand manager.
      parameters:
        - description: The endpoint you have provided to us.
          name: receiveOrder
          in: path
          required: true
          schema:
            type: string
          example: https://www.your-base-url.com/receiveOrders
        - description: >-
            The HMAC secret that you have provided to JET to sign order
            requests, this header will be omitted if no secret was provided. The
            signature is created using SHA256, Base64 to encode and UTF-8 for
            character encoding. An example is below:


            `HMAC-SHA256
            t=1673428038618,signature=gy7evLHPTUadsmEVw7h6HmOHafCLq4gLKlss1VCV8lI=`

            - `t` represents the UNIX timestamp of when the body was signed.

            - `signature` is the body of the request which has been JSON encoded
            and hashed using a shared secret.


            Given the following secret of `key` and a body of `example`, the
            following hash will be generated
            `FGwot7AqiDIthEv6TippJm35DaRpRac5NSLd/wSp9go=`
          name: X-JET-Connect-Hash
          in: header
          schema:
            type: string
        - description: Descriptor of client or internal application
          name: x-jet-application
          in: header
          schema:
            type: string
          required: false
      requestBody:
        description: >-
          The endpoint you provide to JET Connect must be able to receive orders
          in the following format. The type property will determine fulfillment
          type.


          As an additional security measure, orders can be sent from a static IP
          address. You can request this feature from your integration team.
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/JetConnectForManageOrderStatusReceiveOrderPostRequest
            examples:
              Delivery by partner:
                value:
                  id: 38bbeb45-f520-4438-a44f-0fcdbb29e166X
                  third_party_order_reference: '22721763'
                  type: delivery-by-delivery-partner
                  posLocationId: AKZ12
                  location:
                    id: 1296
                    timezone: Europe/London
                  menu_reference: ''
                  items:
                    - description: ''
                      name: Cheeseburger
                      plu: M2
                      price: 1700
                      notes: ''
                      children:
                        - description: ''
                          name: Extra Sauce
                          plu: R3
                          price: 100
                          unitDepositAmount: 10
                  created_at: '1606780145'
                  channel:
                    name: Just Eat
                    id: 32
                  collect_at: '1606780980'
                  collection_notes: Driver will be wearing a blue shirt
                  kitchen_notes: ''
                  payment_method: CARD
                  tender_type: Flyt
                  payment:
                    items_in_cart:
                      inc_tax: 2160
                      tax: 360
                    adjustments: []
                    final:
                      inc_tax: 2160
                      tax: 360
                    deposit: 10
                  driver:
                    first_name: John
                    last_name: Smith
                    phone_number: 555-111-3344
                  delivery:
                    first_name: '****************'
                    last_name: '****************'
                    phone_number: 55555 113 000
                    phone_masking_code: ''
                    line_one: '**********************'
                    line_two: ''
                    city: '*****'
                    postcode: '*****'
                    email: customer@email.hidden
                    coordinates:
                      latitude: 49.898498728223224
                      longitude: -97.13560152293131
                      latitude_as_string: '49.8984'
                      longitude_as_string: '-122.2966'
                  extras: {}
                  promotions:
                    - type: FREE_ITEM_MIN_BASKET
                      items:
                        - description: ''
                          name: Crispy Chicken Twist
                          plu: ''
                          price: 419
                          notes: ''
                          children: []
                      promotionId: string
                      discountValue: 419
                      offerId: string
              Delivery by restaurant:
                value:
                  id: 7494e975-4d24-4ea5-bdd6-306b444ccc51X
                  third_party_order_reference: '207217603'
                  type: delivery-by-merchant
                  posLocationId: '22617'
                  location:
                    id: 2267
                    timezone: US/Mountain
                  menu_reference: ''
                  items:
                    - description: ''
                      name: Cheesy Pasta
                      plu: MMcc0
                      price: 500
                      unitDepositAmount: 10
                      notes: please make it extra cheesy
                      children: []
                  created_at: '1606780145'
                  channel:
                    name: Skip
                    id: 52
                  deliver_at: '1606780980'
                  delivery_notes: It's the blue house at the end of the block.
                  kitchen_notes: ''
                  payment_method: CARD
                  tender_type: Flyt
                  payment:
                    items_in_cart:
                      inc_tax: 600
                      tax: 100
                    adjustments:
                      - name: deliveryFee
                        price:
                          inc_tax: 240
                          tax: 40
                    final:
                      inc_tax: 840
                      tax: 140
                    deposit: 10
                  delivery:
                    first_name: John
                    last_name: Doe
                    phone_number: 555-113-0000
                    phone_masking_code: ''
                    line_one: 1234 Spicy Street
                    line_two: ''
                    city: Winnipeg
                    postcode: R3B 0P4
                    email: customer@email.hidden
                    coordinates:
                      latitude: 49.898498728223224
                      longitude: -97.13560152293131
                      latitude_as_string: '49.8984'
                      longitude_as_string: '-122.2966'
                  extras: {}
                  promotions:
                    - type: FREE_ITEM_MIN_BASKET
                      items:
                        - description: ''
                          name: Crispy Chicken Twist
                          plu: ''
                          price: 419
                          notes: ''
                          children: []
                      promotionId: string
                      discountValue: 419
                      offerId: string
              Pick-up:
                value:
                  id: 7494e975-4d24-4ea5-bdd6-306b444ccc51X
                  third_party_order_reference: '122669877'
                  type: collection-by-customer
                  posLocationId: 32c8b122-f599-441f-aa3a-5081fb89f0e8
                  location:
                    id: 12642
                    timezone: Australia/Sydney
                  menu_reference: ''
                  items:
                    - description: ''
                      name: Cheese Pizza (Large)
                      plu: b048118f-87e7-417b-b45e-b123b2b97a52
                      price: 1000
                      unitDepositAmount: 10
                      notes: ''
                      children: []
                  created_at: '1606780145'
                  channel:
                    name: Menulog
                    id: 59
                  collect_at: '1606780980'
                  collection_notes: I will be wearing a green dress
                  kitchen_notes: Please add extra cheese to the pizza
                  payment_method: CARD
                  tender_type: Flyt
                  payment:
                    items_in_cart:
                      inc_tax: 1000
                      tax: 0
                    adjustments: []
                    final:
                      inc_tax: 1000
                      tax: 0
                    deposit: 10
                  collector:
                    first_name: John
                    last_name: Doe
                    phone_number: 020 7946 0504
                    phone_masking_code: '1234567890'
                  extras: {}
                  promotions:
                    - type: FREE_ITEM_MIN_BASKET
                      items:
                        - description: ''
                          name: Crispy Chicken Twist
                          plu: C1
                          price: 419
                          notes: ''
                          children: []
                      promotionId: string
                      discountValue: 419
                      offerId: string
      responses:
        '200':
          description: >-
            To indicate that the order was successfully processed, return a
            `200` status code with an Order Number. JET Connect will notify your
            delivery partner that the order was successfully processed.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/JetConnectOrderInjectionStatusUpdaterOrderSuccessYaml
        '202':
          description: >-
            If you would like to handle the order asynchronously, return a 202
            status code. JET Connect will place the order in a pending state,
            which will fail after 3 minutes if you do not notify JET Connect
            through the Update Order Status endpoint. If this endpoint is not
            called within 3 minutes, the order will be marked as failed to
            inject.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/JetConnectOrderInjectionStatusUpdaterOrderAcceptedYaml
        '400':
          description: >-
            Any non-2xx status codes will be taken as a failure and redirected
            to the tablet to be hand-keyed into your POS.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/JetConnectOrderInjectionStatusUpdaterOrderFailedYaml
        '401':
          description: >-
            Unauthorized. Authorization failed or the HMAC validation did not
            match.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/JetConnectOrderInjectionStatusUpdaterOrderUnauthorizedYaml
        '429':
          description: >-
            Too Many Requests : Request not completed as server has received too
            many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4XxErrorSchemaYaml'
              example:
                fault:
                  traceId: 0HLOCKDKQPKIU
                  faultId: 72d7036d-990a-4f84-9efa-ef5f40f6044b
                  errors:
                    - description: Couldn't complete request
      x-webhook: 'Yes'
      x-status: Stable
  /item-availability:
    post:
      servers:
        - description: The Flyt Platform (Flyt is now JET Connect)
          url: https://api.flytplatform.com
      tags:
        - JET Connect for Manage Product Catalogue
        - jet-connect
        - publicly-accessible
      summary: Update the availability of menu items
      operationId: JetConnectForManageProductCatalogue_updateItemAvailability
      security:
        - X-Flyt-Api-Key: []
      description: >-
        The Item Availability API allows you to manage which items on a menu are
        available for ordering via your delivery partner (Just Eat, Skip The
        Dishes, Menulog or Takeaway).


        Menu items are marked as available or unavailable via requests to the
        Update Item Availability endpoint described below.


        # Features


        - Static endpoints for updating Item Availability. These endpoints do
        not include brand and location references in the endpoint URL, making it
        easier for operations teams to onboard new restaurants.

        - The ability to update multiple menu item availabilities in a single
        request.

        - Coming soon: more detailed error messages, including whether the
        operation failed when attempting to publish your update to the delivery
        partner (Just Eat, Skip The Dishes or Menulog).


        # Response


        If the menu and PLU references are valid and the request was accepted,
        you will receive a 202 Accepted response. The specified menu item should
        appear as available or unavailable on the delivery partner website (e.g.
        Just Eat, Skip The Dishes, Takeaway) automatically within less than 5
        minutes.
      parameters:
        - description: Descriptor of client or internal application
          name: x-jet-application
          in: header
          schema:
            type: string
          required: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/JetConnectMenusUtfConnectorItemAvailabilityYaml
            examples:
              Marking an item available:
                value:
                  event: AVAILABLE
                  itemReferences:
                    - 1234-3324332-23423-234
                    - 5678-5566778-87658-576
                  restaurant: '8282340'
                  happenedAt: '2018-10-11T14:56:18.234284+01:00'
              Marking an item unavailable:
                value:
                  event: UNAVAILABLE
                  itemReferences:
                    - string
                  restaurant: string
                  happenedAt: '2018-10-11T14:56:18.234284+01:00'
                  nextAvailableAt: '2018-10-11T14:56:18.234284+01:00'
      responses:
        '202':
          description: >-
            Item Availability updates accepted for processing by upstream
            services
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/JetConnectMenusUtfConnectorAcceptedResponseYaml
        '400':
          $ref: >-
            #/components/responses/JetConnectMenusUtfConnectorBadRequestResponseYaml
        '403':
          $ref: >-
            #/components/responses/JetConnectMenusUtfConnectorForbiddenResponseYaml
        '429':
          description: >-
            Too Many Requests : Request not completed as server has received too
            many requests in a given amount of time.
          content:
[...]
