openapi: 3.0.1
info:
  title: Keap REST API
  description: >-
    With Keap, you'll easily capture, organize, track, and nurture all of your
    leads to increase sales and revenue.


    To ensure your success, Keap also offers expert coaching, in-depth training,
    outstanding support, and a dedicated community of entrepreneurs.


    Business owners, we're here to help you grow without the growing pains.
    You've built your business from the ground up. And no one knows it better
    than you do. But while the thought of letting go terrifies you, the idea of
    growing excites you.


    You need to scale in a way that keeps your business healthy, your customers
    happy, and your team thriving. Keap's powerful sales and marketing
    automation engine is built to do exactly that, providing automated
    personalization features, strategic guidance, coaching, and an active user
    community to help every step of the way.


    For 20 years, Keap has helped empower and liberate small businesses so they
    can strengthen their families, communities and the global economy. Keap
    originally pioneered the sales and marketing automation software market
    under the Infusionsoft brand, and is now breaking new ground with Pro and
    Max editions. Headquartered in Chandler, Arizona, the company is on a
    mission to simplify growth for 1 million small businesses worldwide by 2030.


    Recent awards:

    #1 Best Products for Sales

    #1 All-in-one CRM

    #3 Top 50 Products for Small Businesses

    Top 100 Best Workplaces for Millennials in US
  version: 1.70.0.660920-hf-202404121455
  termsOfService: https://keap.com/legal
  contact:
    name: https://developer.keap.com/get-support/
  x-konfig-ignore:
    potential-incorrect-type: true
servers:
  - url: https://api.infusionsoft.com/crm/rest
tags:
  - description: Contacts-Endpoint
    name: Contact
  - description: E-Commerce-Endpoint
    name: E-Commerce
  - description: Products-Endpoint
    name: Product
  - description: Affiliates-Endpoint
    name: Affiliate
  - description: Tag-Company-Endpoint
    name: Tags
  - description: Tasks-Endpoint
    name: Task
  - description: >-
      Access Appointment objects stored in Keap Max Classic.  Appointment
      objects stored in Keap Pro or Keap Max are not available via these
      methods.
    name: Appointment
  - description: Notes-Endpoint
    name: Note
  - description: >-
      ### _What are REST Hooks?_


      _REST Hooks itself is not a specification, it is a collection of patterns
      that treat webhooks like subscriptions. These subscriptions are
      manipulated via a REST API just like any other resource._


      _With most modern REST APIs, polling is the only way to detect changes.
      But it doesn't have to be. On average, 98.5% of polls are wasted. There is
      a better way. REST Hooks enable real-time communication and eliminate
      polling._ -- [RESTHooks.org](http://RESTHooks.org)


      Infusionsoft offers a growing set of REST Hooks to keep you notified of
      changes in your data. To get started, use [List Hook Event
      Types](#!/REST_Hooks/list_hook_event_types) to discover event types. Event
      types are identified using _noun.verb dot syntax_, e.g.: `contact.add` or
      `invoice.delete`.


      After you’ve read this documentation, you might be interested in the [REST
      Hook Event and Retry
      policies](https://developer.infusionsoft.com/rest-hook-documentation/).


      NB: REST Hooks are **not** triggered by legacy action sets.


      Once you've chosen the events you're interested in, subscribe to them via
      [Create a Hook Subscription](#!/REST_Hooks/create_a_hook_subscription).
    name: REST Hooks
  - description: Campaigns-Endpoint
    name: Campaign
  - description: Emails-Endpoint
    name: Email
  - description: Opportunities-Endpoint
    name: Opportunity
  - description: Companies-Endpoint
    name: Company
  - description: File-Endpoint
    name: File
  - description: Locale-Endpoint
    name: Locale
  - description: Setting-Endpoint
    name: Setting
  - description: Users-Endpoint
    name: Users
  - description: Account Info-Endpoint
    name: Account Info
  - description: Email-Addresses-Endpoint
    name: Email Address
  - description: Merchant-Endpoint
    name: Merchant
  - description: UserInfo-Endpoint
    name: User Info
paths:
  /v1/account/profile:
    get:
      tags:
        - Account Info
      summary: Retrieve account profile
      operationId: AccountInfo_getProfileInfo
      description: Retrieves profile/company info for an account.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountInfoGetProfileInfoResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountInfoGetProfileInfo401Response'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountInfoGetProfileInfo403Response'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountInfoGetProfileInfo404Response'
      deprecated: false
    put:
      tags:
        - Account Info
      summary: Updates an account profile
      operationId: AccountInfo_updateProfileInfo
      description: Updates profile/company info for an account.
      requestBody:
        description: accountInfo
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountInfoUpdateProfileInfoRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountInfoUpdateProfileInfoResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountInfoUpdateProfileInfo401Response'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountInfoUpdateProfileInfo403Response'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountInfoUpdateProfileInfo404Response'
      deprecated: false
      x-codegen-request-body-name: accountInfo
  /v1/affiliates:
    get:
      tags:
        - Affiliate
      summary: List Affiliates
      operationId: Affiliate_listAll
      description: Retrieves a list of all affiliates
      parameters:
        - description: Optional affiliate parent ID to query on
          name: code
          in: query
          allowEmptyValue: false
          schema:
            type: string
        - description: Optional contact ID to query on
          name: contact_id
          in: query
          allowEmptyValue: false
          schema:
            type: string
        - description: Sets a beginning range of items to return
          name: limit
          in: query
          allowEmptyValue: false
          schema:
            type: integer
            format: int32
          example: 0
        - description: Optional affiliate name to query on
          name: name
          in: query
          allowEmptyValue: false
          schema:
            type: string
        - description: Count to offset the returned results by
          name: offset
          in: query
          allowEmptyValue: false
          schema:
            type: integer
            format: int32
          example: 0
        - description: Attribute to order items by
          name: order
          in: query
          allowEmptyValue: false
          schema:
            type: string
            enum:
              - id
              - name
        - description: How to order the data i.e. ascending (A-Z) or descending (Z-A)
          name: order_direction
          in: query
          allowEmptyValue: false
          schema:
            type: string
            enum:
              - ASCENDING
              - DESCENDING
        - description: Optional affiliate code to query on
          name: parent_id
          in: query
          allowEmptyValue: false
          schema:
            type: string
        - description: Optional affiliate program ID to query on
          name: program_id
          in: query
          allowEmptyValue: false
          schema:
            type: string
        - description: Optional affiliate status to query on
          name: status
          in: query
          allowEmptyValue: false
          schema:
            type: string
            enum:
              - active
              - inactive
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliateListAllResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliateListAll401Response'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliateListAll403Response'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliateListAll404Response'
      deprecated: false
    post:
      tags:
        - Affiliate
      summary: Create an affiliate
      operationId: Affiliate_createSingleAffiliate
      description: Create a single affiliate
      requestBody:
        description: affiliate
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AffiliateCreateSingleAffiliateRequest'
        required: false
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliateCreateSingleAffiliateResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliateCreateSingleAffiliate401Response'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliateCreateSingleAffiliate403Response'
      deprecated: false
      x-codegen-request-body-name: affiliate
  /v1/affiliates/commissions:
    get:
      tags:
        - Affiliate
      summary: List Commissions
      operationId: Affiliate_getCommissions
      description: Retrieve a list of Commissions based on Affiliate or Date Range
      parameters:
        - description: Affiliate to retrieve commissions for
          name: affiliateId
          in: query
          allowEmptyValue: false
          schema:
            type: integer
            format: int64
          example: 0
        - description: Sets a total of items to return
          name: limit
          in: query
          allowEmptyValue: false
          schema:
            type: integer
            format: int32
          example: 0
        - description: Sets a beginning range of items to return
          name: offset
          in: query
          allowEmptyValue: false
          schema:
            type: integer
            format: int32
          example: 0
        - description: Attribute to order items by
          name: order
          in: query
          allowEmptyValue: false
          schema:
            type: string
            enum:
              - DATE_EARNED
        - description: How to order the data i.e. ascending (A-Z) or descending (Z-A)
          name: order_direction
          in: query
          allowEmptyValue: false
          schema:
            type: string
            enum:
              - ASCENDING
              - DESCENDING
        - description: Date to start searching from ex. `2017-01-01T22:17:59.039Z`
          name: since
          in: query
          allowEmptyValue: false
          schema:
            type: string
        - description: Date to search to ex. `2017-01-01T22:17:59.039Z`
          name: until
          in: query
          allowEmptyValue: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliateGetCommissionsResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliateGetCommissions401Response'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliateGetCommissions403Response'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliateGetCommissions404Response'
      deprecated: false
  /v1/affiliates/model:
    get:
      tags:
        - Affiliate
      summary: Retrieve Affiliate Model
      operationId: Affiliate_getModel
      description: Get the custom fields for the Affiliate object
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliateGetModelResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliateGetModel401Response'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliateGetModel403Response'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliateGetModel404Response'
      deprecated: false
  /v1/affiliates/programs:
    get:
      tags:
        - Affiliate
      summary: List Commission Programs
      operationId: Affiliate_listCommissionPrograms
      description: Retrieve a list of Commission Programs
      parameters:
        - description: Id of the affiliate you would like programs for
          name: affiliate_id
          in: query
          allowEmptyValue: false
          schema:
            type: integer
            format: int64
          example: 0
        - description: Sets a beginning range of items to return
          name: limit
          in: query
          allowEmptyValue: false
          schema:
            type: integer
            format: int32
          example: 0
        - description: Count to offset the returned results by
          name: offset
          in: query
          allowEmptyValue: false
          schema:
            type: integer
            format: int32
          example: 0
        - description: Attribute to order items by
          name: order
          in: query
          allowEmptyValue: false
          schema:
            type: string
            enum:
              - id
              - name
              - priority
        - description: How to order the data i.e. ascending (A-Z) or descending (Z-A)
          name: order_direction
          in: query
          allowEmptyValue: false
          schema:
            type: string
            enum:
              - ASCENDING
              - DESCENDING
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliateListCommissionProgramsResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/AffiliateListCommissionPrograms401Response
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/AffiliateListCommissionPrograms403Response
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/AffiliateListCommissionPrograms404Response
      deprecated: false
  /v1/affiliates/redirectlinks:
    get:
      tags:
        - Affiliate
      summary: List Affiliate Redirects
      operationId: Affiliate_getRedirects
      description: Retrieves a list of all affiliate redirects
      parameters:
        - description: Affiliate ID to search by
          name: affiliate_id
          in: query
          allowEmptyValue: false
          schema:
            type: string
        - description: Sets a beginning range of items to return
          name: limit
          in: query
          allowEmptyValue: false
          schema:
            type: integer
            format: int32
          example: 0
        - description: Count to offset the returned results by
          name: offset
          in: query
          allowEmptyValue: false
          schema:
            type: integer
            format: int32
          example: 0
        - description: Attribute to order items by
          name: order
          in: query
          allowEmptyValue: false
          schema:
            type: string
            enum:
              - id
              - name
        - description: How to order the data i.e. ascending (A-Z) or descending (Z-A)
          name: order_direction
          in: query
          allowEmptyValue: false
          schema:
            type: string
            enum:
              - ASCENDING
              - DESCENDING
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliateGetRedirectsResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliateGetRedirects401Response'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliateGetRedirects403Response'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliateGetRedirects404Response'
      deprecated: false
  /v1/affiliates/summaries:
    get:
      tags:
        - Affiliate
      summary: List affiliate summaries
      operationId: Affiliate_listSummaries
      description: Retrieve a list of affiliate summaries
      parameters:
        - description: Ids of the affiliates you would like a summary for
          name: affiliate_ids
          in: query
          allowEmptyValue: false
          style: form
          explode: true
          schema:
            type: array
            items:
              type: integer
              format: int64
        - description: Attribute to order items by
          name: order
          in: query
          allowEmptyValue: false
          schema:
            type: string
            enum:
              - affiliate_id
              - amount_earned
              - balance
              - clawbacks
        - description: How to order the data i.e. ascending (A-Z) or descending (Z-A)
          name: order_direction
          in: query
          allowEmptyValue: false
          schema:
            type: string
            enum:
              - ASCENDING
              - DESCENDING
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliateListSummariesResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliateListSummaries401Response'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliateListSummaries403Response'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliateListSummaries404Response'
      deprecated: false
  /v1/affiliates/{affiliateId}/clawbacks:
    get:
      tags:
        - Affiliate
      summary: List Affiliate clawbacks
      operationId: Affiliate_listClawbacks
      description: Retrieves a list of all affiliate clawbacks
      parameters:
        - description: affiliateId
          name: affiliateId
          in: path
          required: true
          schema:
            type: string
        - description: Sets a beginning range of items to return
          name: limit
          in: query
          allowEmptyValue: false
          schema:
            type: integer
            format: int32
          example: 0
        - description: Count to offset the returned results by
          name: offset
          in: query
          allowEmptyValue: false
          schema:
            type: integer
            format: int32
          example: 0
        - description: Attribute to order items by
          name: order
          in: query
          allowEmptyValue: false
          schema:
            type: string
            enum:
              - DATE_EARNED
        - description: How to order the data i.e. ascending (A-Z) or descending (Z-A)
          name: order_direction
          in: query
          allowEmptyValue: false
          schema:
            type: string
            enum:
              - ASCENDING
              - DESCENDING
        - description: Optional inclusive start date
          name: since
          in: query
          allowEmptyValue: false
          schema:
            type: string
        - description: Optional inclusive end date
          name: until
          in: query
          allowEmptyValue: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliateListClawbacksResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliateListClawbacks401Response'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliateListClawbacks403Response'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliateListClawbacks404Response'
      deprecated: false
  /v1/affiliates/{affiliateId}/payments:
    get:
      tags:
        - Affiliate
      summary: List Affiliate payments
      operationId: Affiliate_listPayments
      description: Retrieves a list of all affiliate payments
      parameters:
        - description: affiliateId
          name: affiliateId
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - description: Sets a beginning range of items to return
          name: limit
          in: query
          schema:
            type: integer
            format: int32
          example: 0
        - description: Count to offset the returned results by
          name: offset
          in: query
          schema:
            type: integer
            format: int32
          example: 0
        - description: Attribute to order items by
          name: order
          in: query
          schema:
            type: string
            enum:
              - ID
              - DATE
              - AMOUNT
        - description: How to order the data i.e. ascending (A-Z) or descending (Z-A)
          name: order_direction
          in: query
          schema:
            type: string
            enum:
              - ASCENDING
              - DESCENDING
        - description: Inclusive start date
          name: since
          in: query
          schema:
            type: string
        - description: Inclusive end date
          name: until
          in: query
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliateListPaymentsResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliateListPayments401Response'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliateListPayments403Response'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliateListPayments404Response'
      deprecated: false
  /v1/affiliates/{id}:
    get:
      tags:
        - Affiliate
      summary: Retrieve an affiliate
      operationId: Affiliate_getSingleAffiliate
      description: Retrieve a single affiliate
      parameters:
        - description: id
          name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliateGetSingleAffiliateResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliateGetSingleAffiliate401Response'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliateGetSingleAffiliate403Response'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliateGetSingleAffiliate404Response'
      deprecated: false
  /v1/appointments:
    get:
      tags:
        - Appointment
      summary: List Appointments
      operationId: Appointment_listAllAppointments
      description: Retrieves all appointments for the authenticated user
      parameters:
        - description: Optionally find appointments with a contact
          name: contact_id
          in: query
          schema:
            type: integer
            format: int64
          example: 0
        - description: Sets a total of items to return
          name: limit
          in: query
          schema:
            type: integer
            format: int32
          example: 0
        - description: Sets a beginning range of items to return
          name: offset
          in: query
          schema:
            type: integer
            format: int32
          example: 0
        - description: Date to start searching from ex. `2017-01-01T22:17:59.039Z`
          name: since
          in: query
          schema:
            type: string
        - description: Date to search to ex. `2017-01-01T22:17:59.039Z`
          name: until
          in: query
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppointmentListAllAppointmentsResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppointmentListAllAppointments401Response'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppointmentListAllAppointments403Response'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppointmentListAllAppointments404Response'
      deprecated: false
    post:
      tags:
        - Appointment
      summary: Create an Appointment
      operationId: Appointment_createNew
      description: Creates a new appointment as the authenticated user
      requestBody:
        description: appointment
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppointmentCreateNewRequest'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppointmentCreateNewResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppointmentCreateNew401Response'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppointmentCreateNew403Response'
      deprecated: false
      x-codegen-request-body-name: appointment
  /v1/appointments/model:
    get:
      tags:
        - Appointment
      summary: Retrieve Appointment Model
      operationId: Appointment_getModel
      description: Get the custom fields for the Appointment object
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppointmentGetModelResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppointmentGetModel401Response'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppointmentGetModel403Response'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppointmentGetModel404Response'
      deprecated: false
  /v1/appointments/model/customFields:
    post:
      tags:
        - Appointment
      summary: Create a Custom Field
      operationId: Appointment_addCustomField
      description: >-
        Adds a custom field of the specified type and options to the Appointment
        object.
      requestBody:
        description: customField
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppointmentAddCustomFieldRequest'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppointmentAddCustomFieldResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppointmentAddCustomField401Response'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppointmentAddCustomField403Response'
      deprecated: false
      x-codegen-request-body-name: customField
  /v1/appointments/{appointmentId}:
    get:
      tags:
        - Appointment
      summary: Retrieve an Appointment
      operationId: Appointment_getById
      description: >-
        Retrieves a specific appointment with respect to user permissions. The
        authenticated user will need the "can view all records" permission for
        Task/Appt/Notes
      parameters:
        - description: appointmentId
          name: appointmentId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppointmentGetByIdResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppointmentGetById401Response'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppointmentGetById403Response'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppointmentGetById404Response'
      deprecated: false
    put:
      tags:
        - Appointment
      summary: Replace an Appointment
      operationId: Appointment_replaceValues
      description: Replaces all values of a given appointment
      parameters:
        - description: appointmentId
          name: appointmentId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: appointmentDTO
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppointmentReplaceValuesRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppointmentReplaceValuesResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppointmentReplaceValues401Response'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppointmentReplaceValues403Response'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppointmentReplaceValues404Response'
      deprecated: false
      x-codegen-request-body-name: appointmentDTO
    delete:
      tags:
        - Appointment
      summary: Delete an Appointment
      operationId: Appointment_remove
      description: Deletes the specified appointment
      parameters:
        - description: appointmentId
          name: appointmentId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppointmentRemoveResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppointmentRemove403Response'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppointmentRemove404Response'
      deprecated: false
    patch:
      tags:
        - Appointment
      summary: Update an Appointment
      operationId: Appointment_updateValues
      description: Updates the provided values of a given appointment
      parameters:
        - description: appointmentId
          name: appointmentId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: appointmentDTO
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppointmentUpdateValuesRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppointmentUpdateValuesResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppointmentUpdateValues401Response'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppointmentUpdateValues403Response'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppointmentUpdateValues404Response'
      deprecated: false
      x-codegen-request-body-name: appointmentDTO
  /v1/campaigns:
    get:
      tags:
        - Campaign
      summary: List Campaigns
      operationId: Campaign_getAllCampaigns
      description: Retrieves all campaigns for the authenticated user
      parameters:
        - description: Sets a total of items to return
          name: limit
          in: query
          schema:
            type: integer
            format: int32
          example: 0
        - description: Sets a beginning range of items to return
          name: offset
          in: query
          schema:
            type: integer
            format: int32
          example: 0
        - description: Attribute to order items by
          name: order
          in: query
          schema:
            type: string
            enum:
              - id
              - name
              - published_date
              - completed_contact_count
              - active_contact_count
              - date_created
              - last_updated
        - description: How to order the data i.e. ascending (A-Z) or descending (Z-A)
          name: order_direction
          in: query
          schema:
            type: string
            enum:
              - ASCENDING
              - DESCENDING
        - description: Optional text to search
          name: search_text
          in: query
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignGetAllCampaignsResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignGetAllCampaigns401Response'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignGetAllCampaigns403Response'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignGetAllCampaigns404Response'
      deprecated: false
  /v1/campaigns/goals/{integration}/{callName}:
    post:
      tags:
        - Campaign
      summary: Achieve API Goal
      operationId: Campaign_achieveGoal
      description: >-
        Achieves API goal for campaigns with matching integration, callName for
        a given contactId
      parameters:
        - description: callName
          name: callName
          in: path
          required: true
          schema:
            type: string
        - description: integration
          name: integration
          in: path
          required: true
          schema:
            type: string
      requestBody:
        description: goalEvent
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CampaignAchieveGoalRequest'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignAchieveGoalResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignAchieveGoal401Response'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignAchieveGoal403Response'
      deprecated: false
      x-codegen-request-body-name: goalEvent
  /v1/campaigns/{campaignId}:
    get:
      tags:
        - Campaign
      summary: Retrieve a Campaign
      operationId: Campaign_getSingle
      description: Retrieves a single campaign
      parameters:
        - description: campaignId
          name: campaignId
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - description: >-
            Comma-delimited list of Campaign properties to include in the
            response. (The fields `goals` and `sequences` aren't included, by
            default.)
          name: optional_properties
          in: query
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignGetSingleResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignGetSingle401Response'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignGetSingle403Response'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignGetSingle404Response'
      deprecated: false
  /v1/campaigns/{campaignId}/sequences/{sequenceId}/contacts:
    post:
      tags:
        - Campaign
      summary: Add Multiple to Campaign Sequence
      operationId: Campaign_addMultipleToSequence
      description: >-
        Adds a list of contacts to a campaign sequence

        Response contains a map of the provided list of Contact Ids related to
        their individual result.
      parameters:
        - description: campaignId
          name: campaignId
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - description: sequenceId
          name: sequenceId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: ids
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CampaignAddMultipleToSequenceRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignAddMultipleToSequenceResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignAddMultipleToSequence401Response'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignAddMultipleToSequence403Response'
      deprecated: false
      x-codegen-request-body-name: ids
    delete:
      tags:
        - Campaign
      summary: Remove Multiple from Campaign Sequence
      operationId: Campaign_removeMultipleFromSequence
      description: Removes a list of contacts from a campaign sequence
      parameters:
        - description: campaignId
          name: campaignId
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - description: sequenceId
          name: sequenceId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: ids
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CampaignRemoveMultipleFromSequenceRequest'
        required: true
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/CampaignRemoveMultipleFromSequenceResponse
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/CampaignRemoveMultipleFromSequence403Response
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/CampaignRemoveMultipleFromSequence404Response
      deprecated: false
      x-codegen-request-body-name: ids
  /v1/campaigns/{campaignId}/sequences/{sequenceId}/contacts/{contactId}:
    post:
      tags:
        - Campaign
      summary: Add to Campaign Sequence
      operationId: Campaign_addToSequence
      description: Adds a single contact to a campaign sequence
      parameters:
        - description: campaignId
          name: campaignId
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - description: contactId
          name: contactId
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - description: sequenceId
          name: sequenceId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignAddToSequenceResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignAddToSequence403Response'
      deprecated: false
    delete:
      tags:
        - Campaign
      summary: Remove from Campaign Sequence
      operationId: Campaign_removeContactFromSequence
      description: Removes a single contact from a campaign sequence
      parameters:
        - description: campaignId
          name: campaignId
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - description: contactId
          name: contactId
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - description: sequenceId
          name: sequenceId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignRemoveContactFromSequenceResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/CampaignRemoveContactFromSequence403Response
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/CampaignRemoveContactFromSequence404Response
      deprecated: false
  /v1/companies:
    get:
      tags:
        - Company
      summary: List Companies
      operationId: Company_getAll
      description: Retrieves a list of all companies
      parameters:
        - description: Optional company name to query on
          name: company_name
          in: query
          schema:
            type: string
        - description: Sets a total of items to return
          name: limit
          in: query
          schema:
            type: integer
            format: int32
          example: 0
        - description: Sets a beginning range of items to return
          name: offset
          in: query
          schema:
            type: integer
            format: int32
          example: 0
        - description: >-
            Comma-delimited list of Company properties to include in the
            response. (Fields such as `notes`, `fax_number` and `custom_fields`
            aren't included, by default.)
          name: optional_properties
          in: query
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - description: Attribute to order items by
          name: order
          in: query
          schema:
            type: string
            enum:
              - id
              - date_created
              - name
              - email
        - description: How to order the data i.e. ascending (A-Z) or descending (Z-A)
          name: order_direction
          in: query
          schema:
            type: string
            enum:
              - ASCENDING
              - DESCENDING
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyGetAllResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyGetAll401Response'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyGetAll403Response'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyGetAll404Response'
      deprecated: false
    post:
      tags:
        - Company
      summary: Create a Company
      operationId: Company_createOrUpdateWithOptInReason
      description: >-
        Creates a new company as the authenticated user. NB: Company must
        contain at least the company name. The `country_code` is required if
        `region` is specified.


        You may opt-in or mark a Company as _Marketable_ by including the
        following field in the request JSON with an opt-in reason. (This field
        is also shown in the complete request body sample.) The reason you
        provide here will help with compliance. Example reasons: "Customer
        opted-in through webform", "Company gave explicit permission."


        ```json

        "opt_in_reason": "your reason for opt-in"

        ```

        Note that the email address status will only be updated to unconfirmed
        (marketable) for email addresses that are currently in the following
        states:

        Unengaged Marketable

        Unengaged Non-Marketable

        Non-Marketable

        Opt-Out: Manual

        All other existing statuses e.g. List Unsubscribe, Opt-Out System etc
        will remain non-marketable and in their existing state.
      requestBody:
        description: company
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanyCreateOrUpdateWithOptInReasonRequest'
        required: false
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/CompanyCreateOrUpdateWithOptInReasonResponse
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/CompanyCreateOrUpdateWithOptInReason401Response
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/CompanyCreateOrUpdateWithOptInReason403Response
      deprecated: false
      x-codegen-request-body-name: company
  /v1/companies/model:
    get:
      tags:
        - Company
      summary: Retrieve Company Model
      operationId: Company_getModel
      description: Get the custom fields and optional properties for the Company object
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyGetModelResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyGetModel401Response'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyGetModel403Response'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyGetModel404Response'
      deprecated: false
  /v1/companies/{companyId}:
    get:
      tags:
        - Company
      summary: Retrieve a Company
      operationId: Company_getSingleCompany
      description: Retrieves a single company
      parameters:
        - description: companyId
          name: companyId
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - description: >-
            Comma-delimited list of Company properties to include in the
            response. (Fields such as `notes`, `fax_number` and `custom_fields`
            aren't included, by default.)
          name: optional_properties
          in: query
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyGetSingleCompanyResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyGetSingleCompany401Response'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyGetSingleCompany403Response'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyGetSingleCompany404Response'
      deprecated: false
    patch:
      tags:
        - Company
      summary: Update a Company
      operationId: Company_updateWithOptInReason
      description: >-
        Updates a company with only the values provided in the request.


        You may opt-in or mark a Company as _Marketable_ by including the
        following field in the request JSON with an opt-in reason. (This field
        is also shown in the complete request body sample.) The reason you
        provide here will help with compliance. Example reasons: "Customer
        opted-in through webform", "Company gave explicit permission."


        ```json

        "opt_in_reason": "your reason for opt-in"

        ```

        Note that the email address status will only be updated to unconfirmed
        (marketable) for email addresses that are currently in the following
        states:

        Unengaged Marketable

        Unengaged Non-Marketable

        Non-Marketable

        Opt-Out: Manual

        All other existing statuses e.g. List Unsubscribe, Opt-Out System etc
        will remain non-marketable and in their existing state.
      parameters:
        - description: companyId
          name: companyId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: company
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanyUpdateWithOptInReasonRequest'
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyUpdateWithOptInReasonResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyUpdateWithOptInReason401Response'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyUpdateWithOptInReason403Response'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyUpdateWithOptInReason404Response'
      deprecated: false
      x-codegen-request-body-name: company
  /v1/contacts:
    get:
      tags:
        - Contact
      summary: List Contacts
      operationId: Contact_getAll
      description: Retrieves a list of all contacts
      parameters:
        - description: Optional email address to query on
          name: email
          in: query
          schema:
            type: string
        - description: Optional last name or surname to query on
          name: family_name
          in: query
          schema:
            type: string
        - description: Optional first name or forename to query on
          name: given_name
          in: query
          schema:
            type: string
        - description: Sets a total of items to return
          name: limit
          in: query
          schema:
            type: integer
            format: int32
          example: 0
        - description: Sets a beginning range of items to return
          name: offset
          in: query
          schema:
            type: integer
            format: int32
          example: 0
        - description: >-
            Comma-delimited list of Contact properties to include in the
            response. (Some fields such as `lead_source_id`, `custom_fields`,
            and `job_title` aren't included, by default.)
          name: optional_properties
          in: query
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - description: Attribute to order items by
          name: order
          in: query
          schema:
            type: string
            enum:
              - id
              - date_created
              - last_updated
              - name
              - firstName
              - email
        - description: How to order the data i.e. ascending (A-Z) or descending (Z-A)
          name: order_direction
          in: query
          schema:
            type: string
            enum:
              - ASCENDING
              - DESCENDING
        - description: >-
            Date to start searching from on LastUpdated ex.
            `2017-01-01T22:17:59.039Z`
          name: since
          in: query
          schema:
            type: string
        - description: Date to search to on LastUpdated ex. `2017-01-01T22:17:59.039Z`
          name: until
          in: query
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactGetAllResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactGetAll401Response'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactGetAll403Response'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactGetAll404Response'
      deprecated: false
    put:
      tags:
        - Contact
      summary: Create or Update a Contact
      operationId: Contact_createOrUpdate
      description: >-
        Creates a new contact or updates a contact as the authenticated user.
        NB: New Contacts must contain at least one item in `email_addresses` or
        `phone_numbers` and `country_code` is required if `region` is specified.
        Existing Contacts are updated with only the values provided in the
        request. Accepts a `duplicate_option` which performs duplicate checking
        by one of the following options: `Email`, `EmailAndName`, if a match is
        found using the option provided, the existing contact will be updated.
        If an existing contact was not found using the `duplicate_option`
        provided, a new contact record will be created.


        You may opt-in or mark a Contact as _Marketable_ by including the
        following field in the request JSON with an opt-in reason. (This field
        is also shown in the complete request body sample.) The reason you
        provide here will help with compliance. Example reasons: "Customer
        opted-in through webform", "Contact gave explicit permission."


        ```json

        "opt_in_reason": "your reason for opt-in"

        ```

        Note that the email address status will only be updated to unconfirmed
        (marketable) for email addresses that are currently in the following
        states:

        Unengaged Marketable

        Unengaged Non-Marketable

        Non-Marketable

        Opt-Out: Manual

        All other existing statuses e.g. List Unsubscribe, Opt-Out System etc
        will remain non-marketable and in their existing state.


        This API only supports a subset of valid timezones. A list of the
        supported timezones can be found
        [here](https://developer.infusionsoft.com/faqs/what-timezones-do-contact-calls-accept/).
      requestBody:
        description: contact
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactCreateOrUpdateRequest'
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactCreateOrUpdateResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactCreateOrUpdate401Response'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactCreateOrUpdate403Response'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactCreateOrUpdate404Response'
      deprecated: false
      x-codegen-request-body-name: contact
    post:
      tags:
        - Contact
      summary: Create a Contact
      operationId: Contact_createOrUpdateWithOptInReason
      description: >-
        Creates a new contact as the authenticated user. NB: Contact must
        contain at least one item in `email_addresses` or `phone_numbers` and
        `country_code` is required if `region` is specified.


        Please see the body schema for updates to the postal code field.


        You may opt-in or mark a Contact as _Marketable_ by including the
        following field in the request JSON with an opt-in reason. (This field
        is also shown in the complete request body sample.) The reason you
        provide here will help with compliance. Example reasons: "Customer
        opted-in through webform", "Contact gave explicit permission."


        ```json

        "opt_in_reason": "your reason for opt-in"

        ```

        Note that the email address status will only be updated to unconfirmed
        (marketable) for email addresses that are currently in the following
        states:

        Unengaged Marketable

        Unengaged Non-Marketable

        Non-Marketable

        Opt-Out: Manual

        All other existing statuses e.g. List Unsubscribe, Opt-Out System etc
        will remain non-marketable and in their existing state.


        This API only supports a subset of valid timezones. A list of the
        supported timezones can be found
        [here](https://developer.infusionsoft.com/faqs/what-timezones-do-contact-calls-accept/).
      requestBody:
        description: contact
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactCreateOrUpdateWithOptInReasonRequest'
        required: false
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ContactCreateOrUpdateWithOptInReasonResponse
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ContactCreateOrUpdateWithOptInReason401Response
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ContactCreateOrUpdateWithOptInReason403Response
      deprecated: false
      x-codegen-request-body-name: contact
  /v1/contacts/model:
    get:
      tags:
        - Contact
      summary: Retrieve Contact Model
      operationId: Contact_getModel
      description: Get the custom fields and optional properties for the Contact object
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactGetModelResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactGetModel401Response'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactGetModel403Response'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactGetModel404Response'
      deprecated: false
  /v1/contacts/model/customFields:
    post:
      tags:
        - Contact
      summary: Create a Custom Field
      operationId: Contact_addCustomField
      description: >-
        Adds a custom field of the specified type and options to the Contact
        object.
      requestBody:
        description: customField
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactAddCustomFieldRequest'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactAddCustomFieldResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactAddCustomField401Response'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactAddCustomField403Response'
      deprecated: false
      x-codegen-request-body-name: customField
  /v1/contacts/{contactId}:
    delete:
      tags:
        - Contact
      summary: Delete a Contact
      operationId: Contact_deleteContact
      description: Deletes the specified contact.
      parameters:
        - description: contactId
          name: contactId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactDeleteContactResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactDeleteContact403Response'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactDeleteContact404Response'
      deprecated: false
    patch:
      tags:
        - Contact
      summary: Update a Contact
      operationId: Contact_updateWithOptInReason
      description: >-
        Updates a contact with only the values provided in the request.


        You may opt-in or mark a Contact as _Marketable_ by including the
        following field in the request JSON with an opt-in reason. (This field
        is also shown in the complete request body sample.) The reason you
        provide here will help with compliance. Example reasons: "Customer
        opted-in through webform", "Contact gave explicit permission."


        ```json

        "opt_in_reason": "your reason for opt-in"

        ```

        Note that the email address status will only be updated to unconfirmed
        (marketable) for email addresses that are currently in the following
        states:

        Unengaged Marketable

        Unengaged Non-Marketable

        Non-Marketable

        Opt-Out: Manual

        All other existing statuses e.g. List Unsubscribe, Opt-Out System etc
        will remain non-marketable and in their existing state.
      parameters:
        - description: contactId
          name: contactId
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - description: >-
            An optional list of properties to be updated. If set, only the
            provided properties will be updated and others will be skipped.
          name: update_mask
          in: query
          allowEmptyValue: false
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
            enum:
              - addresses
              - anniversary
              - birthday
              - company
              - contact_type
              - custom_fields
              - email_addresses
              - family_name
              - fax_numbers
              - given_name
              - job_title
              - lead_source_id
              - middle_name
              - notes
              - opt_in_reason
              - origin
              - owner_id
              - phone_numbers
              - preferred_locale
              - preferred_name
              - prefix
              - social_accounts
              - source_type
              - spouse_name
              - suffix
              - time_zone
              - website
      requestBody:
        description: contact
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactUpdateWithOptInReasonRequest'
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactUpdateWithOptInReasonResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactUpdateWithOptInReason401Response'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactUpdateWithOptInReason403Response'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactUpdateWithOptInReason404Response'
      deprecated: false
      x-codegen-request-body-name: contact
  /v1/contacts/{contactId}/creditCards:
    get:
      tags:
        - Contact
      summary: Retrieve Credit Cards
      operationId: Contact_getCreditCards
      description: List all Credit Cards on a contact
      parameters:
        - description: contactId
          name: contactId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactGetCreditCardsResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactGetCreditCards401Response'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactGetCreditCards403Response'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactGetCreditCards404Response'
      deprecated: false
    post:
      tags:
        - Contact
      summary: Create a Credit Card
      operationId: Contact_addCreditCard
      description: Creates a new credit card associated to a contact
      parameters:
        - description: contactId
          name: contactId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: creditCard
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactAddCreditCardRequest'
        required: false
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactAddCreditCardResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactAddCreditCard401Response'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactAddCreditCard403Response'
      deprecated: false
      x-codegen-request-body-name: creditCard
  /v1/contacts/{contactId}/emails:
    get:
      tags:
        - Contact
      summary: List Emails
      operationId: Contact_listEmails
      description: List Emails that have been sent to a Contact
      parameters:
        - description: contactId
          name: contactId
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - description: Optional email address to query on
          name: email
          in: query
          schema:
            type: string
        - description: Sets a total of items to return
          name: limit
          in: query
          schema:
            type: integer
            format: int32
          example: 0
        - description: Sets a beginning range of items to return
          name: offset
          in: query
          schema:
            type: integer
            format: int32
          example: 0
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactListEmailsResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactListEmails401Response'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactListEmails403Response'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactListEmails404Response'
      deprecated: false
    post:
      tags:
        - Contact
      summary: Create an Email Record
      operationId: Contact_createEmailRecord
      description: Create a record of an email sent to a contact
      parameters:
        - description: contactId
          name: contactId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: Email records to persist, with content.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactCreateEmailRecordRequest'
        required: false
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactCreateEmailRecordResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactCreateEmailRecord401Response'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactCreateEmailRecord403Response'
      deprecated: false
      x-codegen-request-body-name: emailWithContent
  /v1/contacts/{contactId}/tags:
    get:
      tags:
        - Contact
      summary: List Applied Tags
      operationId: Contact_getTags
      description: Retrieves a list of tags applied to a given contact
      parameters:
        - description: contactId
          name: contactId
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - description: Sets a total of items to return
          name: limit
          in: query
          schema:
            type: integer
            format: int32
          example: 0
        - description: Sets a beginning range of items to return
          name: offset
          in: query
          schema:
            type: integer
            format: int32
          example: 0
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactGetTagsResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactGetTags401Response'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactGetTags403Response'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactGetTags404Response'
      deprecated: false
    post:
      tags:
        - Contact
      summary: Apply Tags
      operationId: Contact_applyTags
      description: Apply a list of tags to a given contact record
      parameters:
        - description: contactId
          name: contactId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: tagIds
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactApplyTagsRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactApplyTagsResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactApplyTags401Response'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactApplyTags403Response'
      deprecated: false
      x-codegen-request-body-name: tagIds
    delete:
      tags:
        - Contact
      summary: Remove Applied Tags
      operationId: Contact_removeTags
      description: >-
        Removes a list of tags from the given contact. Provide one or more tag
        ids in the querystring as a comma-separated URIencoded list (%2C is a
        comma). E.g. DELETE /contacts/{contact_id}/tags?ids=1%2C2%2C3
      parameters:
        - description: contactId
          name: contactId
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - description: ids
          name: ids
          in: query
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactRemoveTagsResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactRemoveTags403Response'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactRemoveTags404Response'
      deprecated: false
  /v1/contacts/{contactId}/tags/{tagId}:
    delete:
      tags:
        - Contact
      summary: Remove Applied Tag
      operationId: Contact_removeAppliedTag
      description: Removes a tag from the given contact
      parameters:
        - description: contactId
          name: contactId
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - description: tagId
          name: tagId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactRemoveAppliedTagResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactRemoveAppliedTag403Response'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactRemoveAppliedTag404Response'
      deprecated: false
  /v1/contacts/{contactId}/utm:
    post:
      tags:
        - Contact
      summary: Insert UTMs for a Contact
      operationId: Contact_insertUtmFor
      description: >-
        Inserts UTMs for the contact specified by the contactId. The
        authenticated user must have permission to modify the contact utm info
      parameters:
        - description: ID of the contact to insert UTMs for
          name: contactId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: UTM parameters to insert
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactInsertUtmForRequest'
        required: false
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactInsertUtmForResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactInsertUtmFor401Response'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactInsertUtmFor403Response'
      deprecated: false
      x-codegen-request-body-name: insertUTMs
  /v1/contacts/{id}:
    get:
      tags:
        - Contact
      summary: Retrieve a Contact
      operationId: Contact_getSingle
      description: Retrieves a single contact
      parameters:
        - description: id
          name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - description: >-
            Comma-delimited list of Contact properties to include in the
            response. (Some fields such as `lead_source_id`, `custom_fields`,
            and `job_title` aren't included, by default.)
          name: optional_properties
          in: query
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactGetSingleResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactGetSingle401Response'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactGetSingle403Response'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactGetSingle404Response'
      deprecated: false
  /v1/emailAddresses/{email}:
    put:
      tags:
        - Email Address
      summary: Replace an Email Address
      operationId: EmailAddress_replaceEmail
      description: >-
        Replaces all of the values of a given email address


        You may opt-in or mark an email address as _Marketable_ by including the
        following field in the request JSON with an opt-in reason. (This field
        is also shown in the complete request body sample.) The reason you
        provide here will help with compliance. Example reasons: "Customer
        opted-in through webform", "Company gave explicit permission."


        ```json

        "opt_in_reason": "your reason for opt-in"

        ```

        Note that the email address status will only be updated to unconfirmed
        (marketable) for email addresses that are currently in the following
        states:

        Unengaged Marketable

        Unengaged Non-Marketable

        Non-Marketable

        Opt-Out: Manual

        All other existing statuses e.g. List Unsubscribe, Opt-Out System etc
        will remain non-marketable and in their existing state.
      parameters:
        - description: email
          name: email
          in: path
          required: true
          schema:
            type: string
      requestBody:
        description: update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailAddressReplaceEmailRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailAddressReplaceEmailResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailAddressReplaceEmail401Response'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailAddressReplaceEmail403Response'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailAddressReplaceEmail404Response'
      deprecated: false
      x-codegen-request-body-name: update
  /v1/emails:
    get:
      tags:
        - Email
      summary: List Emails
      operationId: Email_getList
      description: |-
        Retrieve a list of emails that have been sent

        Keap is currently investigating an issue with degraded performance
        of this endpoint with very large (millions of records) record sets
      parameters:
        - description: Optional Contact Id to find Emails for
          name: contact_id
          in: query
          schema:
            type: integer
            format: int64
          example: 0
        - description: Optional email address to query on
          name: email
          in: query
          schema:
            type: string
        - description: Sets a total of items to return
          name: limit
          in: query
          schema:
            type: integer
            format: int32
          example: 0
        - description: Sets a beginning range of items to return
          name: offset
          in: query
          schema:
            type: integer
            format: int32
          example: 0
        - description: Optional boolean to turn off ORDER BY in SQL query
          name: ordered
          in: query
          schema:
            type: boolean
            default: true
        - description: >-
            Optional date to query on, emails sent since the provided date, must
            be present if untilDate is provided
          name: since_sent_date
          in: query
          schema:
            type: string
        - description: Optional date to query on, email sent until the provided date
          name: until_sent_date
          in: query
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailGetListResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailGetList401Response'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailGetList403Response'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailGetList404Response'
      deprecated: false
    post:
      tags:
        - Email
      summary: Create an Email Record
      operationId: Email_recordCreation
      description: Create a record of an email sent to a contact
      requestBody:
        description: Email records to persist, with content.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailRecordCreationRequest'
        required: false
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailRecordCreationResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailRecordCreation401Response'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailRecordCreation403Response'
      deprecated: false
      x-codegen-request-body-name: emailWithContent
  /v1/emails/queue:
    post:
      tags:
        - Email
      summary: Send an Email
      operationId: Email_sendToContacts
      description: Send an Email to a list of Contacts
      requestBody:
        description: emailSendRequest
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailSendToContactsRequest'
        required: false
      responses:
        '202':
          description: Accepted
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailSendToContactsResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailSendToContacts403Response'
      deprecated: false
      x-codegen-request-body-name: emailSendRequest
  /v1/emails/sync:
    post:
      tags:
        - Email
      summary: Create a set of Email Records
      operationId: Email_createRecords
      description: >-
        Create a set of records of emails sent to contacts, maximum 1000 per
        transaction.
      requestBody:
        description: Email records to persist, with content.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailCreateRecordsRequest'
        required: false
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailCreateRecordsResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailCreateRecords401Response'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailCreateRecords403Response'
      deprecated: false
      x-codegen-request-body-name: emailWithContent
  /v1/emails/unsync:
    post:
      tags:
        - Email
      summary: Un-sync a batch of Email Records
      operationId: Email_batchUnsync
      description: Un-syncs a batch of email records
      requestBody:
        description: emailIds
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailBatchUnsyncRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailBatchUnsyncResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailBatchUnsync401Response'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailBatchUnsync403Response'
      deprecated: false
      x-codegen-request-body-name: emailIds
  /v1/emails/{id}:
    get:
      tags:
        - Email
      summary: Retrieve an Email
      operationId: Email_getSingle
      description: Retrieves a single email that has been sent
      parameters:
        - description: id
          name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailGetSingleResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailGetSingle401Response'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailGetSingle403Response'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailGetSingle404Response'
      deprecated: false
    delete:
      tags:
        - Email
      summary: Delete an Email Record
      operationId: Email_deleteRecord
      description: Delete a specific email record
      parameters:
        - description: id
          name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailDeleteRecordResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailDeleteRecord403Response'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailDeleteRecord404Response'
      deprecated: false
  /v1/files:
    get:
      tags:
        - File
      summary: List Files
      operationId: File_getAll
      description: Retrieves a list of all files
      parameters:
[...]
