openapi: 3.0.1
info:
  title: MultiWoven API
  description: >-
    Open-source Reverse ETL that makes data segmentation, sync and activation
    both easy and fully secure.
  version: 1.0.0
servers:
  - url: https://api.multiwoven.com
tags:
  - name: Connectors
  - name: Syncs
  - name: Models
  - name: Connector Definitions
  - name: Reports
  - name: SyncRuns
  - name: SyncRun
  - name: SyncRecords
paths:
  /api/v1/models:
    get:
      tags:
        - Models
      summary: Lists all models
      operationId: Models_listAllModels
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelsListAllModelsResponse'
    post:
      tags:
        - Models
      summary: Creates a model
      operationId: Models_createModel
      security:
        - bearerAuth: []
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModelsCreateModelRequest'
      responses:
        '201':
          description: Model created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelsCreateModelResponse'
  /api/v1/models/{id}:
    get:
      tags:
        - Models
      summary: Retrieves a model
      operationId: Models_getById
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelsGetByIdResponse'
    put:
      tags:
        - Models
      summary: Updates a model
      operationId: Models_updateModelById
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModelsUpdateModelByIdRequest'
      responses:
        '200':
          description: Model updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelsUpdateModelByIdResponse'
    delete:
      tags:
        - Models
      summary: Deletes a model
      operationId: Models_deleteModel
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: Model deleted
  /api/v1/connector_definitions:
    get:
      tags:
        - Connector Definitions
      summary: Retrieve connector definitions based on type
      operationId: ConnectorDefinitions_getBasedOnType
      security:
        - bearerAuth: []
      parameters:
        - description: Type of the connector (source or destination)
          name: type
          in: query
          required: true
          schema:
            type: string
            enum:
              - source
              - destination
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ConnectorDefinitionsGetBasedOnTypeResponse
  /api/v1/connector_definitions/{connector_name}:
    get:
      tags:
        - Connector Definitions
      summary: Retrieve specific connector definition based on its name
      operationId: ConnectorDefinitions_getByName
      security:
        - bearerAuth: []
      parameters:
        - description: Name of the connector
          name: connector_name
          in: path
          required: true
          schema:
            type: string
        - description: Type of the connector (source or destination)
          name: type
          in: query
          required: true
          schema:
            type: string
            enum:
              - source
              - destination
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorDefinitionsGetByNameResponse'
  /api/v1/connector_definitions/check_connection:
    post:
      tags:
        - Connector Definitions
      summary: Checks the connection for a specified connector definition
      operationId: ConnectorDefinitions_checkConnection
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectorDefinitionsCheckConnectionRequest'
      responses:
        '200':
          description: Connection check successful
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ConnectorDefinitionsCheckConnectionResponse
  /api/v1/connectors:
    post:
      tags:
        - Connectors
      summary: Creates a connector
      operationId: Connectors_createNewConnector
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectorsCreateNewConnectorRequest'
      responses:
        '201':
          description: Connector created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorsCreateNewConnectorResponse'
    get:
      tags:
        - Connectors
      summary: Lists all connectors
      operationId: Connectors_listAll
      security:
        - bearerAuth: []
      responses:
        '200':
          description: A list of connectors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorsListAllResponse'
  /api/v1/connectors/{id}:
    get:
      tags:
        - Connectors
      summary: Retrieves a specific connector by ID
      operationId: Connectors_getById
      security:
        - bearerAuth: []
      parameters:
        - description: Unique ID of the connector
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A single connector object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorsGetByIdResponse'
    put:
      tags:
        - Connectors
      summary: Updates a specific connector by ID
      operationId: Connectors_updateById
      security:
        - bearerAuth: []
      parameters:
        - description: Unique ID of the connector
          name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectorsUpdateByIdRequest'
      responses:
        '200':
          description: Connector updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorsUpdateByIdResponse'
    delete:
      tags:
        - Connectors
      summary: Deletes a specific connector by ID
      operationId: Connectors_deleteById
      security:
        - bearerAuth: []
      parameters:
        - description: Unique ID of the connector
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No content, indicating successful deletion
  /api/v1/connectors/{id}/discover:
    get:
      tags:
        - Connectors
      summary: Discovers catalog information for a specified connector
      operationId: Connectors_discoverCatalogInfo
      security:
        - bearerAuth: []
      parameters:
        - description: Unique ID of the connector
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Catalog information for the connector
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorsDiscoverCatalogInfoResponse'
  /api/v1/connectors/{id}/query_source:
    post:
      tags:
        - Connectors
      summary: Query your source data
      operationId: Connectors_querySource
      security:
        - bearerAuth: []
      parameters:
        - description: The ID of the connector to query
          name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectorsQuerySourceRequest'
      responses:
        '200':
          description: An array of generic JSON objects representing the preview data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorsQuerySourceResponse'
  /api/v1/syncs:
    get:
      tags:
        - Syncs
      summary: List all sync operations
      operationId: Syncs_listOperations
      security:
        - bearerAuth: []
      parameters:
        - description: Page number for pagination
          name: page[number]
          in: query
          required: false
          schema:
            type: integer
        - description: Number of items per page for pagination
          name: page[size]
          in: query
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: A list of sync operations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncsListOperationsResponse'
    post:
      tags:
        - Syncs
      summary: Create a new sync operation
      operationId: Syncs_createNewSyncOperation
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SyncsCreateNewSyncOperationRequest'
      responses:
        '200':
          description: Sync operation created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncsCreateNewSyncOperationResponse'
  /api/v1/syncs/{id}:
    get:
      tags:
        - Syncs
      summary: Show details of a specific sync operation
      operationId: Syncs_showDetails
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Sync details retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncsShowDetailsResponse'
    put:
      tags:
        - Syncs
      summary: Update a specific sync operation
      operationId: Syncs_updateSpecificSync
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SyncsUpdateSpecificSyncRequest'
      responses:
        '200':
          description: Sync operation updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncsUpdateSpecificSyncResponse'
    delete:
      tags:
        - Syncs
      summary: Delete a specific sync operation
      operationId: Syncs_deleteSyncOperation
      security:
        - bearerAuth: []
      parameters:
        - description: The ID of the sync operation to delete
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No content, indicating the sync operation was successfully deleted
  /api/v1/syncs/configurations:
    get:
      tags:
        - Syncs
      summary: Get report data based on given type
      operationId: Syncs_getReportData
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Successfully retrieved report data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncsGetReportDataResponse'
  /api/v1/reports:
    get:
      tags:
        - Reports
      summary: Get report data based on given type
      operationId: Reports_getDataBasedOnType
      security:
        - bearerAuth: []
      parameters:
        - description: Type of the report to query.
          name: type
          in: query
          required: true
          schema:
            type: string
            enum:
              - workspace_activity
        - description: Specific metric of interest in the report.
          name: metric
          in: query
          schema:
            type: string
            enum:
              - sync_run_triggered
              - total_sync_run_rows
              - all
        - description: IDs of the connectors.
          name: connector_ids
          in: query
          schema:
            type: array
            items:
              type: integer
          style: form
          explode: true
        - description: Time period for the report.
          name: time_period
          in: query
          schema:
            type: string
            enum:
              - one_week
              - one_day
      responses:
        '200':
          description: Successfully retrieved report data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportsGetDataBasedOnTypeResponse'
        '400':
          description: Validation error occurred.
  /api/v1/syncs/{sync_id}/sync_runs:
    get:
      tags:
        - SyncRuns
      summary: List sync runs for a specific sync
      operationId: SyncRuns_listBySyncId
      security:
        - bearerAuth: []
      description: >-
        Retrieves a list of sync runs for a specific sync, optionally filtered
        by status.
      parameters:
        - description: The ID of the sync to list runs for.
          name: sync_id
          in: path
          required: true
          schema:
            type: integer
        - description: Optional status to filter the sync runs by.
          name: status
          in: query
          schema:
            type: string
        - description: Page number for pagination.
          name: page
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: A JSON array of sync runs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncRunsListBySyncIdResponse'
        '404':
          description: Sync not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncRunsListBySyncId404Response'
  /api/v1/syncs/{sync_id}/sync_runs/{sync_run_id}:
    get:
      tags:
        - SyncRun
      summary: Get sync run using sync_run_id for a specific sync
      operationId: SyncRun_getDetailsBySyncRunId
      security:
        - bearerAuth: []
      description: Retrieves a sync run using sync_run_id for a specific sync.
      parameters:
        - description: The ID of the sync.
          name: sync_id
          in: path
          required: true
          schema:
            type: integer
        - description: The ID of the sync_run.
          name: sync_run_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: A JSON object representing the sync run
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncRunGetDetailsBySyncRunIdResponse'
        '404':
          description: Sync not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncRunGetDetailsBySyncRunId404Response'
  /api/v1/syncs/{sync_id}/sync_runs/{sync_run_id}/sync_records:
    get:
      tags:
        - SyncRecords
      summary: List sync records for a specific sync run
      operationId: SyncRecords_listForSyncRun
      security:
        - bearerAuth: []
      description: >-
        Retrieves a list of sync records for a specific sync run, optionally
        filtered by status.
      parameters:
        - description: The ID of the sync to list records for.
          name: sync_id
          in: path
          required: true
          schema:
            type: integer
        - description: The ID of the sync run to list records for.
          name: sync_run_id
          in: path
          required: true
          schema:
            type: integer
        - description: Optional status to filter the sync records by.
          name: status
          in: query
          schema:
            type: string
        - description: Page number for pagination.
          name: page
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: A JSON array of sync records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncRecordsListForSyncRunResponse'
        '404':
          description: SyncRun not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncRecordsListForSyncRun404Response'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    ModelsCreateModelRequest:
      type: object
      properties:
        model:
          type: object
          properties:
            description:
              type: string
            name:
              type: string
            query:
              type: string
            query_type:
              type: string
            primary_key:
              type: string
            connector_id:
              type: integer
          required:
            - connector_id
            - name
            - query
            - query_type
    ModelsUpdateModelByIdRequest:
      type: object
      properties:
        model:
          type: object
          properties:
            description:
              type: string
            name:
              type: string
            query:
              type: string
            query_type:
              type: string
            primary_key:
              type: string
            connector_id:
              type: integer
          required:
            - connector_id
            - name
            - query
            - query_type
    ConnectorDefinitionsCheckConnectionRequest:
      type: object
      properties:
        type:
          type: string
          enum:
            - source
            - destination
        name:
          type: string
        connection_spec:
          description: >-
            Generic connection specification structure. Specifics depend on the
            connector type.
          type: object
          additionalProperties: true
    ConnectorsCreateNewConnectorRequest:
      type: object
      properties:
        connector:
          type: object
          properties:
            name:
              type: string
            connector_type:
              type: string
              enum:
                - source
                - destination
            query_type:
              type: string
            connector_name:
              type: string
            configuration:
              description: >-
                Configuration details for the connector. Structure depends on
                the connector definition.
              type: object
              additionalProperties: true
          required:
            - name
            - connector_type
            - connector_name
            - configuration
    ConnectorsUpdateByIdRequest:
      type: object
      properties:
        connector:
          type: object
          properties:
            name:
              type: string
            connector_type:
              type: string
              enum:
                - source
                - destination
            query_type:
              type: string
            configuration:
              description: >-
                Generic configuration structure. Specifics depend on the
                connector type.
              type: object
              additionalProperties: true
            connector_name:
              type: string
          required:
            - name
            - connector_type
            - configuration
            - connector_name
    ConnectorsQuerySourceRequest:
      type: object
      properties:
        query:
          description: SQL query to be executed
          type: string
    SyncsCreateNewSyncOperationRequest:
      type: object
      properties:
        sync:
          type: object
          properties:
            source_id:
              type: integer
            destination_id:
              type: integer
            model_id:
              type: integer
            schedule_type:
              type: string
              enum:
                - automated
            configuration:
              type: object
              additionalProperties: true
            stream_name:
              type: string
            sync_mode:
              type: string
              enum:
                - full_refresh
            sync_interval:
              type: integer
            sync_interval_unit:
              type: string
              enum:
                - minutes
          required:
            - source_id
            - destination_id
            - model_id
            - schedule_type
            - configuration
            - stream_name
            - sync_mode
            - sync_interval
            - sync_interval_unit
    SyncsUpdateSpecificSyncRequest:
      type: object
      properties:
        sync:
          type: object
          properties:
            source_id:
              type: integer
            destination_id:
              type: integer
            model_id:
              type: integer
            schedule_type:
              type: string
            configuration:
              type: object
              additionalProperties: true
            stream_name:
              type: string
            sync_mode:
              type: string
            sync_interval:
              type: integer
            sync_interval_unit:
              type: string
    ModelsListAllModelsResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              type:
                type: string
              attributes:
                type: object
                properties:
                  description:
                    type: string
                  name:
                    type: string
                  query:
                    type: string
                  query_type:
                    type: string
                  primary_key:
                    type: string
                  connector_id:
                    type: integer
                  created_at:
                    type: string
                    format: date-time
                  updated_at:
                    type: string
                    format: date-time
        links:
          type: object
          properties:
            self:
              type: string
            first:
              type: string
            prev:
              type: string
            next:
              type: string
            last:
              type: string
    ModelsCreateModelResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
            type:
              type: string
            attributes:
              type: object
              properties:
                description:
                  type: string
                name:
                  type: string
                query:
                  type: string
                query_type:
                  type: string
                primary_key:
                  type: string
                connector_id:
                  type: integer
                created_at:
                  type: string
                  format: date-time
                updated_at:
                  type: string
                  format: date-time
    ModelsGetByIdResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
            type:
              type: string
            attributes:
              type: object
              properties:
                description:
                  type: string
                name:
                  type: string
                query:
                  type: string
                query_type:
                  type: string
                primary_key:
                  type: string
                connector_id:
                  type: integer
                created_at:
                  type: string
                  format: date-time
                updated_at:
                  type: string
                  format: date-time
    ModelsUpdateModelByIdResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
            type:
              type: string
            attributes:
              type: object
              properties:
                description:
                  type: string
                name:
                  type: string
                query:
                  type: string
                query_type:
                  type: string
                primary_key:
                  type: string
                connector_id:
                  type: integer
                created_at:
                  type: string
                  format: date-time
                updated_at:
                  type: string
                  format: date-time
    ConnectorDefinitionsGetBasedOnTypeResponse:
      type: array
      items:
        type: object
        properties:
          tags:
            type: array
            items:
              type: string
          name:
            type: string
          connector_type:
            type: string
          connector_subtype:
            type: string
          documentation_url:
            type: string
          github_issue_label:
            type: string
          icon:
            type: string
          license:
            type: string
          release_stage:
            type: string
          support_level:
            type: string
          connector_spec:
            type: object
            properties:
              documentation_url:
                type: string
              connection_specification:
                type: object
                additionalProperties: true
    ConnectorDefinitionsGetByNameResponse:
      type: object
      properties:
        tags:
          type: array
          items:
            type: string
        name:
          type: string
        connector_type:
          type: string
        connector_subtype:
          type: string
        documentation_url:
          type: string
        github_issue_label:
          type: string
        icon:
          type: string
        license:
          type: string
        release_stage:
          type: string
        support_level:
          type: string
        connector_spec:
          type: object
          properties:
            documentation_url:
              type: string
            connection_specification:
              type: object
              additionalProperties: true
            supports_normalization:
              type: boolean
            supports_dbt:
              type: boolean
            stream_type:
              type: string
      additionalProperties: true
    ConnectorDefinitionsCheckConnectionResponse:
      type: object
      properties:
        result:
          type: string
          enum:
            - success
            - failure
        details:
          type: string
    ConnectorsListAllResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              type:
                type: string
              attributes:
                type: object
                properties:
                  name:
                    type: string
                  connector_type:
                    type: string
                  workspace_id:
                    type: integer
                  created_at:
                    type: string
                    format: date-time
                  updated_at:
                    type: string
                    format: date-time
                  configuration:
                    description: >-
                      Generic configuration for the connector. Structure varies
                      based on the connector_type.
                    type: object
                    additionalProperties: true
                  connector_name:
                    type: string
                  icon:
                    type: string
        links:
          type: object
          properties:
            self:
              type: string
            first:
              type: string
            prev:
              type: string
            next:
              type: string
            last:
              type: string
    ConnectorsCreateNewConnectorResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
            type:
              type: string
            attributes:
              type: object
              properties:
                name:
                  type: string
                connector_type:
                  type: string
                workspace_id:
                  type: integer
                created_at:
                  type: string
                  format: date-time
                updated_at:
                  type: string
                  format: date-time
                configuration:
                  description: Specific configuration of the created connector.
                  type: object
                  additionalProperties: true
                connector_name:
                  type: string
                icon:
                  type: string
    ConnectorsGetByIdResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
            type:
              type: string
            attributes:
              type: object
              properties:
                name:
                  type: string
                connector_type:
                  type: string
                workspace_id:
                  type: integer
                created_at:
                  type: string
                  format: date-time
                updated_at:
                  type: string
                  format: date-time
                configuration:
                  description: >-
                    Generic configuration for the connector. Structure varies
                    based on the connector_type.
                  type: object
                  additionalProperties: true
                connector_name:
                  type: string
                icon:
                  type: string
    ConnectorsUpdateByIdResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
            type:
              type: string
            attributes:
              type: object
              properties:
                name:
                  type: string
                connector_type:
                  type: string
                workspace_id:
                  type: integer
                created_at:
                  type: string
                  format: date-time
                updated_at:
                  type: string
                  format: date-time
                configuration:
                  description: Specific configuration of the updated connector.
                  type: object
                  additionalProperties: true
                connector_name:
                  type: string
                icon:
                  type: string
    ConnectorsDiscoverCatalogInfoResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
            type:
              type: string
            attributes:
              type: object
              properties:
                connector_id:
                  type: integer
                workspace_id:
                  type: integer
                catalog:
                  type: object
                  properties:
                    streams:
                      description: Array of stream objects, varying based on connector ID.
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                          action:
                            type: string
                          json_schema:
                            type: object
                            additionalProperties: true
                          url:
                            type: string
                          request_method:
                            type: string
                catalog_hash:
                  type: string
    ConnectorsQuerySourceResponse:
      type: array
      items:
        type: object
        additionalProperties: true
    SyncsListOperationsResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              type:
                type: string
                enum:
                  - syncs
              attributes:
                type: object
                properties:
                  source_id:
                    type: integer
                  destination_id:
                    type: integer
                  model_id:
                    type: integer
                  configuration:
                    type: object
                    additionalProperties: true
                  schedule_type:
                    type: string
                    enum:
                      - automated
                  sync_mode:
                    type: string
                    enum:
                      - full_refresh
                  sync_interval:
                    type: integer
                  sync_interval_unit:
                    type: string
                    enum:
                      - minutes
                  stream_name:
                    type: string
                  status:
                    type: string
        links:
          type: object
          properties:
            self:
              type: string
              format: uri
            first:
              type: string
              format: uri
            prev:
              type: string
              format: uri
            next:
              type: string
              format: uri
            last:
              type: string
              format: uri
      required:
        - data
        - links
    SyncsCreateNewSyncOperationResponse:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum:
            - syncs
        attributes:
          type: object
          properties:
            source_id:
              type: integer
            destination_id:
              type: integer
            model_id:
              type: integer
            configuration:
              type: object
              additionalProperties: true
            schedule_type:
              type: string
              enum:
                - automated
            sync_mode:
              type: string
              enum:
                - full_refresh
            sync_interval:
              type: integer
            sync_interval_unit:
              type: string
              enum:
                - minutes
            stream_name:
              type: string
            status:
              type: string
    SyncsShowDetailsResponse:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum:
            - syncs
        attributes:
          type: object
          properties:
            source_id:
              type: integer
            destination_id:
              type: integer
            model_id:
              type: integer
            configuration:
              type: object
              additionalProperties: true
            schedule_type:
              type: string
              enum:
                - automated
            sync_mode:
              type: string
              enum:
                - full_refresh
            sync_interval:
              type: integer
            sync_interval_unit:
              type: string
              enum:
                - minutes
            stream_name:
              type: string
            status:
              type: string
    SyncsUpdateSpecificSyncResponse:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
        data:
          type: object
          properties:
            id:
              type: string
            type:
              type: string
              enum:
                - syncs
            attributes:
              type: object
              properties:
                source_id:
                  type: integer
                destination_id:
                  type: integer
                model_id:
                  type: integer
                configuration:
                  type: object
                  additionalProperties: true
                schedule_type:
                  type: string
                  enum:
                    - automated
                sync_mode:
                  type: string
                  enum:
                    - full_refresh
                sync_interval:
                  type: integer
                sync_interval_unit:
                  type: string
                  enum:
                    - minutes
                stream_name:
                  type: string
                status:
                  type: string
    SyncsGetReportDataResponse:
      type: object
      properties:
        data:
          description: Data object containing configuration details.
          type: object
          properties:
            configurations:
              description: Configuration details.
              type: object
              properties:
                catalog_mapping_types:
                  description: Mapping types for catalog data.
                  type: object
                  properties:
                    standard:
                      description: Details for standard mapping type (currently empty).
                      type: string
                    static:
                      description: Details for static mapping type.
                      type: object
                      properties:
                        string:
                          description: Details for string type within static mapping.
                          type: object
                          properties:
                            description:
                              description: Description of the string field.
                              type: string
                            type:
                              description: Data type for string field.
                              type: string
                              enum:
                                - string
                        number:
                          description: Details for number type within static mapping.
                          type: object
                          properties:
                            description:
                              description: Description of the number field.
                              type: string
                            type:
                              description: Data type for number field.
                              type: string
                              enum:
                                - float
                        boolean:
                          description: Details for boolean type within static mapping.
                          type: object
                          properties:
                            description:
                              description: Description of the boolean field.
                              type: string
                            type:
                              description: Data type for boolean field.
                              type: string
                              enum:
                                - boolean
                        'null':
                          description: Details for null type within static mapping.
                          type: object
                          properties:
                            description:
                              description: Description of the null field.
                              type: string
                            type:
                              description: Data type for null field.
                              type: object
                              enum:
                                - null
                    template:
                      description: Details for template mapping type.
                      type: object
                      properties:
                        variable:
                          description: Details for variables within template mapping.
                          type: object
                          properties:
                            current_timestamp:
                              description: Details for current_timestamp variable.
                              type: object
                              properties:
                                description:
                                  description: >-
                                    Description of the current_timestamp
                                    variable.
                                  type: string
                                type:
                                  description: Data type for current_timestamp variable.
                                  type: string
                                  enum:
                                    - datetime
                                value:
                                  description: Expression to generate current timestamp.
                                  type: string
                        filter:
                          description: Details for filters within template mapping.
                          type: object
                          properties:
                            cast:
                              description: Details for cast filter.
                              type: object
                              properties:
                                description:
                                  description: Description of the cast filter.
                                  type: string
                                value:
                                  description: Expression to cast value to specified type.
                                  type: string
                            regex_replace:
                              description: Details for regex_replace filter.
                              type: object
                              properties:
                                description:
                                  description: Description of the regex_replace filter.
                                  type: string
                                value:
                                  description: >-
                                    Expression to perform regex replace
                                    operation.
                                  type: string
    ReportsGetDataBasedOnTypeResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            sync_run_triggered:
              type: array
              items:
                type: object
                properties:
                  time_slice:
                    type: string
                    format: date-time
                    example: '2024-02-19T06:25:00.000Z'
                  total_count:
                    type: integer
                  failed_count:
                    type: integer
                  success_count:
                    type: integer
            total_sync_run_rows:
              type: array
              items:
                type: object
                properties:
                  time_slice:
                    type: string
                    format: date-time
                    example: '2024-02-19T12:20:00.000Z'
                  total_count:
                    type: integer
                  failed_count:
                    type: integer
                  success_count:
                    type: integer
    SyncRunsListBySyncIdResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              type:
                type: string
              attributes:
                type: object
                properties:
                  sync_id:
                    type: integer
                  status:
                    type: string
                  started_at:
                    type: string
                    format: date-time
                  finished_at:
                    type: string
                    format: date-time
                  duration:
                    type: number
                    format: float
                  total_query_rows:
                    type: integer
                  total_rows:
                    type: integer
                  successful_rows:
                    type: integer
                  failed_rows:
                    type: integer
                  error:
                    type: string
                    nullable: true
                  created_at:
                    type: string
                    format: date-time
                  updated_at:
                    type: string
                    format: date-time
        links:
          type: object
          properties:
            self:
              type: string
              format: uri
            first:
              type: string
              format: uri
            prev:
              type: string
              format: uri
              nullable: true
            next:
              type: string
              format: uri
              nullable: true
            last:
              type: string
              format: uri
    SyncRunsListBySyncId404Response:
      type: object
      properties:
        message:
          type: string
          example: Sync not found
        status:
          type: string
          example: not_found
    SyncRunGetDetailsBySyncRunIdResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
            type:
              type: string
            attributes:
              type: object
              properties:
                sync_id:
                  type: integer
                status:
                  type: string
                started_at:
                  type: string
                  format: date-time
                finished_at:
                  type: string
                  format: date-time
                duration:
                  type: number
                  format: float
                total_query_rows:
                  type: integer
                total_rows:
                  type: integer
                successful_rows:
                  type: integer
                failed_rows:
                  type: integer
                error:
                  type: string
                  nullable: true
                created_at:
                  type: string
                  format: date-time
                updated_at:
                  type: string
                  format: date-time
    SyncRunGetDetailsBySyncRunId404Response:
      type: object
      properties:
        message:
          type: string
          example: Sync Run not found
        status:
          type: string
          example: not_found
    SyncRecordsListForSyncRunResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              type:
                type: string
                example: sync_records
              attributes:
                type: object
                properties:
                  sync_id:
                    type: integer
                  sync_run_id:
                    type: integer
                  record:
                    type: object
                    properties:
                      id:
                        type: integer
                      state:
                        type: string
                      last_name:
                        type: string
                      first_name:
                        type: string
                      phone_number:
                        type: integer
                      email_address:
                        type: string
                  status:
                    type: string
                  action:
                    type: string
                  error:
                    type: string
                    nullable: true
                  created_at:
                    type: string
                    format: date-time
                  updated_at:
                    type: string
                    format: date-time
        links:
          type: object
          properties:
            self:
              type: string
              format: uri
            first:
              type: string
              format: uri
            prev:
              type: string
              nullable: true
              format: uri
            next:
              type: string
              nullable: true
              format: uri
            last:
              type: string
              format: uri
    SyncRecordsListForSyncRun404Response:
      type: object
      properties:
        message:
          type: string
          example: SyncRun not found
        status:
          type: string
          example: not_found
