openapi: 3.0.0
info:
  title: Notabene
  description: >
    The Notabene API is organized around
    [REST](http://en.wikipedia.org/wiki/Representational_State_Transfer).

    Our API accepts [JSON-encoded](http://www.json.org/) request bodies, returns
    [JSON-encoded](http://www.json.org/) responses, and uses standard [HTTP
    status codes](https://httpstatuses.com/) and verbs.


    All requests to the Notabene API should be made to one of the following root
    URLs:


    * Test: https://api.notabene.dev

    * Live: https://api.notabene.id


    All API requests must be made over HTTPS; calls made over plain HTTP will
    fail. API requests without authentication will also fail - see the
    Authentication section for information on correctly authenticating calls to
    the Notabene API.


    ### Just getting started?


    Check out our [DevX](https://devx.notabene.id) guides for more information
    about how best to integrate with Notabene.
  version: 1.0.0
  contact:
    name: API Support
    email: tech@notabene.id
    url: https://doc.notabene.id
  x-logo:
    url: >-
      https://uploads-ssl.webflow.com/5e68f0772de982756aa8c1a4/5eee5fb470215e6ecdc34b94_Full_transparent_black_1280x413.svg
    altText: Notabene logo
  x-konfig-ignore:
    object-with-no-properties: true
servers:
  - description: Production
    url: https://api.notabene.id
  - description: Test
    url: https://api.notabene.dev
tags:
  - description: >
      Transfers represent blockchain transfers sent by or to your VASP.


      ## IVMS101


      Notabene utilizes the IVMS 101 interVASP messaging standard to transmit
      required originator and beneficiary information.


      **More information: [IVMS 101](https://intervasp.org/)**


      <SchemaDefinition schemaRef="#/components/schemas/IVMS101" />
    name: Transactions
  - description: >
      The Notabene Trust Framework refers to the network of VASPs that send and
      receive transfers.


      You can browse through the [Notabene
      Directory](https://app.notabene.id/directory) to see more information
      about which VASPs are receiving Travel Rule transfers and the protocols
      they follow.
    name: TrustFramework
  - name: Chainalysis
  - description: >
      Various documents can be uploaded using the Notabene API such as
      certificates of incorporation, due-dilligence questionnaires etc.
    name: Documents
  - name: Address Book
  - name: LexisNexis
  - name: TRM
  - name: TRMSanctions
  - name: Coinfirm
  - name: Bitgo
  - name: ComplyAdvantage
  - name: Refinitiv
  - name: MerkleScience
  - name: Elliptic
  - name: ProtocolAgents
  - description: >
      VASPs can be administered using the Notabene API. Users can be added or
      removed from a VASP allowing them to login to the [Notabene
      Dashboard](http://app.notabene.id) to manage transfers, rules,
      integrations and more.


      ## VASP


      <SchemaDefinition schemaRef="#/components/schemas/VASPInfo" />
    name: VASPAdmin
    x-displayName: VASP Administration
  - description: >
      Setting up transfer rules makes accepting and declining incoming transfers
      manageable at scale. Rules can be setup to automatically accept or decline
      transfers based on sanctions checks, wallet address queries and more.
    name: Rules
  - name: Webhooks
  - name: Credentials
  - description: >
      The Notabene API uses API tokens to authenticate requests.


      Authentication to the API is performed via [bearer
      auth](https://swagger.io/docs/specification/authentication/bearer-authentication/),
      so require an `Authorization: Bearer TOKEN` HTTP header.
    name: authentication
    x-displayName: Authentication
  - description: The customer represents the originator of the transfer.
    name: Customer
  - name: Address webhook
  - name: Transaction webhook
  - name: Protocol Gateways
  - name: Settings
  - name: Providers
  - name: Chainalysis2
  - name: Trust Framework
  - name: Jurisdictions
  - description: >
      The Notabene API takes advantage of [Decentralized
      Identifiers](https://www.w3.org/TR/did-core/#dfn-decentralized-identifiers)
      (DIDs) that enable
      [verifiable](https://en.wikipedia.org/wiki/Verifiable_credentials),
      decentralized [digital
      identity](https://en.wikipedia.org/wiki/Digital_identity).
    name: did_model
    x-displayName: DIDs
  - description: >
      Errors in the Notabene API follow conventional HTTP response codes to
      indicate errors. Generally, `2xx` response codes indicate success, `4xx`
      response codes indicate client error, and `5xx` errors indicate errors
      with the Notabene API.


      ### Response Code Summary

      - **200 - OK** - The request was successfully handled

      - **400 - Bad Request** - The API could not process the request due to an
      incorrect request

      - **401 - Unauthorized** - The user of the API was not authenticated

      - **403 - Forbidden** - The user of the API was not authorized to make the
      request

      - **404 - Not Found** - The requested resource could not be found

      - **500, 502, 503, 504 - Server Errors** - Something went wrong with the
      Notabene API
    name: errors
    x-displayName: Errors
paths:
  /address/upload/{vaspDID}:
    get:
      tags:
        - Address Book
      summary: Get upload URL
      operationId: AddressBook_requestUploadUrl
      security:
        - bearerAuth: []
      description: >
        To upload an address book you must first request a URL to uploda to.
        Upload URLs are short-lived AWS S3 bucket URLs.
      parameters:
        - description: VASP DID
          name: vaspDID
          in: path
          schema:
            $ref: '#/components/schemas/common_DID'
          required: true
      responses:
        '200':
          description: URL where to upload the address list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/common_UploadURLInfo'
  /address/registerCustomer:
    post:
      tags:
        - Address Book
      summary: Register address
      operationId: AddressBook_registerCustomer
      security:
        - bearerAuth: []
      description: |
        Registers the blockchain address of a customer in your address book.
      requestBody:
        description: Customer Address Info
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterCustomerInput'
      responses:
        '200':
          description: Addess Owner is already registered?
  /v1/addresses/address-ownerships/{address}:
    get:
      tags:
        - Address Book
      summary: Get address ownership information
      operationId: AddressBook_getOwnershipInfo
      security:
        - bearerAuth: []
      description: |
        Get the ownership information about a customer blockchain address.
      parameters:
        - name: address
          in: path
          schema:
            $ref: '#/components/schemas/BlockchainAddress'
          required: true
        - description: VASP DID
          name: vasp_did
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/common_DID'
        - name: asset
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/Asset'
      responses:
        '200':
          description: Address Ownership Information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddressOwnershipResponse'
        '404':
          description: Address Ownership Information Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/addresses:
    get:
      tags:
        - Address Book
      summary: Get addresses registered
      operationId: AddressBook_getRegisteredAddresses
      security:
        - bearerAuth: []
      description: |
        Get the addresses registered for a VASP.
      parameters:
        - description: VASP DID
          name: vasp_did
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/common_DID'
        - name: source
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/BlockchainAddressQuerySource'
        - name: source_type
          in: query
          schema:
            $ref: '#/components/schemas/QuerySourceType'
        - name: page
          in: query
          schema:
            $ref: '#/components/schemas/PaginationPage'
        - name: per_page
          in: query
          schema:
            maximum: 1000
            $ref: '#/components/schemas/PaginationPerPage'
      responses:
        '200':
          description: Addresses Registered
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddressesResponse'
    delete:
      tags:
        - Address Book
      summary: Delete addresses
      operationId: AddressBook_removeAddress
      security:
        - bearerAuth: []
      description: |
        Delete addresses previously added to the address book.
      parameters:
        - description: Comma-separated list of addresses to delete
          name: addresses
          in: query
          required: true
          schema:
            type: string
            pattern: ^([^,]+,)*([^,]+)$
            example: 0x123,0x456
        - description: VASP DID
          name: vasp_did
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/common_DID'
      responses:
        '202':
          description: Addresses Deletion Processing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddressBookRemoveAddressResponse'
  /auth/customerToken:
    post:
      tags:
        - authentication
      summary: Get customer access token
      operationId: Authentication_getCustomerAccessToken
      security:
        - bearerAuth: []
      description: |
        Get a Notabene API access token on behalf of a customer
      requestBody:
        description: Customer Token information
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/auth_CustomerTokenInput'
      responses:
        '200':
          description: API Token
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/AuthenticationGetCustomerAccessTokenResponse
  /auth/userinfo/update:
    post:
      tags:
        - authentication
      summary: Update user
      operationId: Authentication_updateUser
      security:
        - bearerAuth: []
      description: |
        Updates the currently authenticated user
      requestBody:
        description: User Info update information
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/auth_UserInfoUpdate'
      responses:
        '200':
          description: User info updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/auth_UserInfo'
  /auth/credentials/{vaspDID}:
    post:
      tags:
        - Credentials
      summary: Create new API credentials
      operationId: Credentials_createNewApi
      security:
        - bearerAuth: []
      description: Create new auth0 API credentials
      parameters:
        - in: path
          name: vaspDID
          schema:
            $ref: '#/components/schemas/common_DID'
          required: true
      requestBody:
        description: Additional options
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CredentialsCreateNewApiRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CredentialsCreateNewApiResponse'
    delete:
      tags:
        - Credentials
      summary: Delete API credentials
      operationId: Credentials_deleteAuth0ApiCredentials
      security:
        - bearerAuth: []
      description: Delete auth0 API credentials
      parameters:
        - in: path
          name: vaspDID
          schema:
            $ref: '#/components/schemas/common_DID'
          required: true
        - description: auth0 clientId
          name: clientid
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Success
    get:
      tags:
        - Credentials
      summary: Get API credentials
      operationId: Credentials_getAuth0Credentials
      security:
        - bearerAuth: []
      description: Get auth0 API credentials
      parameters:
        - in: path
          name: vaspDID
          schema:
            $ref: '#/components/schemas/common_DID'
          required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CredentialsGetAuth0CredentialsResponse'
  /auth/vaspUsers/{vaspDID}:
    get:
      tags:
        - VASPAdmin
      summary: List VASP users
      operationId: VaspAdmin_listVaspUsers
      security:
        - bearerAuth: []
      description: >
        Returns an array of users and their roles that have been added to manage
        a VASP.
      parameters:
        - description: VASP DID
          name: vaspDID
          in: path
          schema:
            $ref: '#/components/schemas/common_DID'
          required: true
      responses:
        '200':
          description: VASP users list with their roles
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VaspAdminListVaspUsersResponse'
  /auth/addusertovasp:
    post:
      tags:
        - VASPAdmin
      summary: Add user to VASP
      operationId: VaspAdmin_addUserToVasp
      security:
        - bearerAuth: []
      description: >
        Adds a user to a VASP by email. Added users will be sent an email to
        accept the invite.
      requestBody:
        description: New user information"
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/auth_AddUserToVASPInput'
      responses:
        '200':
          description: User added and email sent to user
  /auth/removeuserfromvasp:
    post:
      tags:
        - VASPAdmin
      summary: Remove user from VASP
      operationId: VaspAdmin_removeUserFromVasp
      security:
        - bearerAuth: []
      description: >
        Remove a user from a VASP. The removed user will no longer be able to
        login to the dashboard to manage the VASP.
      requestBody:
        description: Remove user data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/auth_RemoveUserFromVASPInput'
      responses:
        '200':
          description: User removed from VASP
  /auth/customer:
    post:
      tags:
        - Customer
      summary: Create customer
      operationId: Customer_createNewCustomer
      security:
        - bearerAuth: []
      description: |
        Creates a new customer
      requestBody:
        description: Customer info
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewCustomerInput'
      responses:
        '200':
          description: Customer created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
  /auth/customer/{vaspDID}/{customerDID}:
    get:
      tags:
        - Customer
      summary: Get customer
      operationId: Customer_getByDids
      security:
        - bearerAuth: []
      description: |
        Returns a customer of a VASP by customer DID
      parameters:
        - description: VASP DID
          name: vaspDID
          in: path
          schema:
            $ref: '#/components/schemas/common_DID'
          required: true
        - description: Customer DID
          name: customerDID
          in: path
          schema:
            $ref: '#/components/schemas/common_DID'
          required: true
      responses:
        '200':
          description: Customer info
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
  /integrations/{vaspDID}/address-query-webhook:
    post:
      tags:
        - Address webhook
      summary: Register a Webhook for querying addresses
      operationId: AddressWebhook_registerQuery
      security:
        - bearerAuth: []
      description: |
        Register a Webhook for querying addresses
      parameters:
        - description: VASP DID
          name: vaspDID
          in: path
          schema:
            $ref: '#/components/schemas/common_DID'
          required: true
      requestBody:
        description: Register Webhook Input
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntegrationsRegisterAddressWebhookInput'
      responses:
        '200':
          description: Secret to validate Notabene's request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/common_RegisterAddressWebhookResponse'
    delete:
      tags:
        - Address webhook
      summary: Delete a Webhook for querying addresses
      operationId: AddressWebhook_deleteWebhook
      security:
        - bearerAuth: []
      description: |
        Delete a Webhook for querying addresses
      parameters:
        - description: VASP DID
          name: vaspDID
          in: path
          schema:
            $ref: '#/components/schemas/common_DID'
          required: true
      responses:
        '200':
          description: Delete message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/common_DeleteAddressWebhookResponse'
  /integrations/config/txnotification:
    post:
      tags:
        - Transaction webhook
      summary: Create a notification webhook
      operationId: TransactionWebhook_createCallbackUrl
      security:
        - bearerAuth: []
      description: >
        Creates a webhook for the passed callback URL that will be notified
        every time a transfer changes state.
      requestBody:
        description: Tx Notification Config Information
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntegrationConfigTxNotificationInput'
      responses:
        '200':
          description: Config saved
      deprecated: true
  /integrations/txnotification/{vaspDID}:
    get:
      tags:
        - Transaction webhook
      summary: Get a notification webhook
      operationId: TransactionWebhook_getNotificationWebhook
      security:
        - bearerAuth: []
      description: |
        Returns a webhook that has been setup for your account.
      parameters:
        - in: path
          name: vaspDID
          schema:
            $ref: '#/components/schemas/common_DID'
          required: true
      responses:
        '200':
          description: Tx Notification Config Info
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationInfoTxNotification'
  /integrations/providers/{vaspDID}:
    get:
      tags:
        - Providers
      summary: Get Third Party Providers
      operationId: Providers_getConfigured
      security:
        - bearerAuth: []
      description: |
        Retrieve all of the third party providers configured for the VASP.
      parameters:
        - in: path
          name: vaspDID
          schema:
            $ref: '#/components/schemas/common_DID'
          required: true
      responses:
        '200':
          description: Get Third Party Providers Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationsGetThirdPartyProviders'
  /integrations/chainalysis/addressinfo:
    post:
      tags:
        - Chainalysis
      summary: Chainalysis address info
      operationId: Chainalysis_getAddressInfo
      security:
        - bearerAuth: []
      description: Chainalysis address info
      requestBody:
        description: Chainalysis address info
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChainalysisGetAddressInfoRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChainalysisGetAddressInfoResponse'
  /integrations/chainalysis/credentials:
    put:
      tags:
        - Chainalysis
      summary: Set Chainalysis credentials
      operationId: Chainalysis_setCredentials
      security:
        - bearerAuth: []
      description: Set Chainalysis credentials
      parameters:
        - name: vaspDID
          required: true
          in: query
          schema:
            $ref: '#/components/schemas/common_DID'
      requestBody:
        description: Set Chainalysis credentials
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChainalysisSetCredentialsRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChainalysisSetCredentialsResponse'
    delete:
      tags:
        - Chainalysis
      summary: Delete Chainalysis credentials
      operationId: Chainalysis_deleteCredentials
      security:
        - bearerAuth: []
      description: Delete Chainalysis credentials
      parameters:
        - name: vaspDID
          required: true
          in: query
          schema:
            $ref: '#/components/schemas/common_DID'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChainalysisDeleteCredentialsResponse'
    get:
      tags:
        - Chainalysis
      summary: Check Chainalysis credentials
      operationId: Chainalysis_checkCredentials
      security:
        - bearerAuth: []
      description: Check Chainalysis credentials
      parameters:
        - name: vaspDID
          required: true
          in: query
          schema:
            $ref: '#/components/schemas/common_DID'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChainalysisCheckCredentialsResponse'
  /integrations/chainalysis2/addressinfo:
    post:
      tags:
        - Chainalysis2
      summary: Chainalysis v2 address info
      operationId: Chainalysis2_getAddressInfo
      security:
        - bearerAuth: []
      description: Chainalysis v2 address info
      requestBody:
        description: Chainalysis v2 address info
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Chainalysis2GetAddressInfoRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Chainalysis2GetAddressInfoResponse'
  /integrations/chainalysis2/credentials:
    put:
      tags:
        - Chainalysis
      summary: Set Chainalysis credentials
      operationId: Chainalysis_setCredentials
      security:
        - bearerAuth: []
      description: Set Chainalysis credentials
      parameters:
        - name: vaspDID
          required: true
          in: query
          schema:
            $ref: '#/components/schemas/common_DID'
      requestBody:
        description: Set Chainalysis credentials
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChainalysisSetCredentialsRequest1'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChainalysisSetCredentials200Response'
    delete:
      tags:
        - Chainalysis
      summary: Delete Chainalysis credentials
      operationId: Chainalysis_deleteCredentials
      security:
        - bearerAuth: []
      description: Delete Chainalysis credentials
      parameters:
        - name: vaspDID
          required: true
          in: query
          schema:
            $ref: '#/components/schemas/common_DID'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChainalysisDeleteCredentials200Response'
    get:
      tags:
        - Chainalysis
      summary: Check Chainalysis credentials
      operationId: Chainalysis_checkCredentials
      security:
        - bearerAuth: []
      description: Check Chainalysis credentials
      parameters:
        - name: vaspDID
          required: true
          in: query
          schema:
            $ref: '#/components/schemas/common_DID'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChainalysisCheckCredentials200Response'
  /integrations/lexisnexis/sanctions:
    post:
      tags:
        - LexisNexis
      summary: LexisNexis sanctions check
      operationId: LexisNexis_performSanctionsCheck
      security:
        - bearerAuth: []
      description: LexisNexis sanctions check
      requestBody:
        description: LexisNexis sanctions check
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LexisNexisPerformSanctionsCheckRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LexisNexisPerformSanctionsCheckResponse'
  /integrations/lexisnexis/credentials:
    put:
      tags:
        - LexisNexis
      summary: Set LexisNexis credentials
      operationId: LexisNexis_setCredentials
      security:
        - bearerAuth: []
      description: Set LexisNexis credentials
      parameters:
        - name: vaspDID
          required: true
          in: query
          schema:
            $ref: '#/components/schemas/common_DID'
      requestBody:
        description: Set LexisNexis credentials
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LexisNexisSetCredentialsRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LexisNexisSetCredentialsResponse'
    delete:
      tags:
        - LexisNexis
      summary: Delete LexisNexis credentials
      operationId: LexisNexis_deleteCredentials
      security:
        - bearerAuth: []
      description: Delete LexisNexis credentials
      parameters:
        - name: vaspDID
          required: true
          in: query
          schema:
            $ref: '#/components/schemas/common_DID'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LexisNexisDeleteCredentialsResponse'
    get:
      tags:
        - LexisNexis
      summary: Check LexisNexis credentials
      operationId: LexisNexis_checkCredentials
      security:
        - bearerAuth: []
      description: Check LexisNexis credentials
      parameters:
        - name: vaspDID
          required: true
          in: query
          schema:
            $ref: '#/components/schemas/common_DID'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LexisNexisCheckCredentialsResponse'
  /integrations/trm/addressinfo:
    post:
      tags:
        - TRM
      summary: TRM address info
      operationId: Trm_getAddressInfo
      security:
        - bearerAuth: []
      description: TRM address info
      requestBody:
        description: TRM address info
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TrmGetAddressInfoRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrmGetAddressInfoResponse'
  /integrations/trm/credentials:
    put:
      tags:
        - TRM
      summary: Set TRM credentials
      operationId: Trm_setCredentials
      security:
        - bearerAuth: []
      description: Set TRM credentials
      parameters:
        - name: vaspDID
          required: true
          in: query
          schema:
            $ref: '#/components/schemas/common_DID'
      requestBody:
        description: Set TRM credentials
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TrmSetCredentialsRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrmSetCredentialsResponse'
    delete:
      tags:
        - TRM
      summary: Delete TRM credentials
      operationId: Trm_deleteCredentials
      security:
        - bearerAuth: []
      description: Delete TRM credentials
      parameters:
        - name: vaspDID
          required: true
          in: query
          schema:
            $ref: '#/components/schemas/common_DID'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrmDeleteCredentialsResponse'
    get:
      tags:
        - TRM
      summary: Check TRM credentials
      operationId: Trm_checkCredentials
      security:
        - bearerAuth: []
      description: Check TRM credentials
      parameters:
        - name: vaspDID
          required: true
          in: query
          schema:
            $ref: '#/components/schemas/common_DID'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrmCheckCredentialsResponse'
  /integrations/trmsanctions/sanctions:
    post:
      tags:
        - TRMSanctions
      summary: TRMSanctions sanctions check
      operationId: TrmSanctions_sanctionsCheck
      security:
        - bearerAuth: []
      description: TRMSanctions sanctions check
      requestBody:
        description: TRMSanctions sanctions check
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TrmSanctionsSanctionsCheckRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrmSanctionsSanctionsCheckResponse'
  /integrations/trmsanctions/credentials:
    put:
      tags:
        - TRMSanctions
      summary: Set TRMSanctions credentials
      operationId: TrmSanctions_setCredentials
      security:
        - bearerAuth: []
      description: Set TRMSanctions credentials
      parameters:
        - name: vaspDID
          required: true
          in: query
          schema:
            $ref: '#/components/schemas/common_DID'
      requestBody:
        description: Set TRMSanctions credentials
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TrmSanctionsSetCredentialsRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrmSanctionsSetCredentialsResponse'
    delete:
      tags:
        - TRMSanctions
      summary: Delete TRMSanctions credentials
      operationId: TrmSanctions_deleteCredentials
      security:
        - bearerAuth: []
      description: Delete TRMSanctions credentials
      parameters:
        - name: vaspDID
          required: true
          in: query
          schema:
            $ref: '#/components/schemas/common_DID'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrmSanctionsDeleteCredentialsResponse'
    get:
      tags:
        - TRMSanctions
      summary: Check TRMSanctions credentials
      operationId: TrmSanctions_checkCredentials
      security:
        - bearerAuth: []
      description: Check TRMSanctions credentials
      parameters:
        - name: vaspDID
          required: true
          in: query
          schema:
            $ref: '#/components/schemas/common_DID'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrmSanctionsCheckCredentialsResponse'
  /integrations/coinfirm/addressinfo:
    post:
      tags:
        - Coinfirm
      summary: Coinfirm address info
      operationId: Coinfirm_getAddressInfo
      security:
        - bearerAuth: []
      description: Coinfirm address info
      requestBody:
        description: Coinfirm address info
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CoinfirmGetAddressInfoRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoinfirmGetAddressInfoResponse'
  /integrations/coinfirm/credentials:
    put:
      tags:
        - Coinfirm
      summary: Set Coinfirm credentials
      operationId: Coinfirm_setCredentials
      security:
        - bearerAuth: []
      description: Set Coinfirm credentials
      parameters:
        - name: vaspDID
          required: true
          in: query
          schema:
            $ref: '#/components/schemas/common_DID'
      requestBody:
        description: Set Coinfirm credentials
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CoinfirmSetCredentialsRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoinfirmSetCredentialsResponse'
    delete:
      tags:
        - Coinfirm
      summary: Delete Coinfirm credentials
      operationId: Coinfirm_deleteCredentials
      security:
        - bearerAuth: []
      description: Delete Coinfirm credentials
      parameters:
        - name: vaspDID
          required: true
          in: query
          schema:
            $ref: '#/components/schemas/common_DID'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoinfirmDeleteCredentialsResponse'
    get:
      tags:
        - Coinfirm
      summary: Check Coinfirm credentials
      operationId: Coinfirm_checkCredentials
      security:
        - bearerAuth: []
      description: Check Coinfirm credentials
      parameters:
        - name: vaspDID
          required: true
          in: query
          schema:
            $ref: '#/components/schemas/common_DID'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoinfirmCheckCredentialsResponse'
  /integrations/bitgo/addressinfo:
    post:
      tags:
        - Bitgo
      summary: Bitgo address info
      operationId: Bitgo_getAddressInfo
      security:
        - bearerAuth: []
      description: Bitgo address info
      requestBody:
        description: Bitgo address info
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BitgoGetAddressInfoRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BitgoGetAddressInfoResponse'
  /integrations/bitgo/credentials:
    put:
      tags:
        - Bitgo
      summary: Set Bitgo credentials
      operationId: Bitgo_setCredentials
      security:
        - bearerAuth: []
      description: Set Bitgo credentials
      parameters:
        - name: vaspDID
          required: true
          in: query
          schema:
            $ref: '#/components/schemas/common_DID'
      requestBody:
        description: Set Bitgo credentials
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BitgoSetCredentialsRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BitgoSetCredentialsResponse'
    delete:
      tags:
        - Bitgo
      summary: Delete Bitgo credentials
      operationId: Bitgo_deleteCredentials
      security:
        - bearerAuth: []
      description: Delete Bitgo credentials
      parameters:
        - name: vaspDID
          required: true
          in: query
          schema:
            $ref: '#/components/schemas/common_DID'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BitgoDeleteCredentialsResponse'
    get:
      tags:
        - Bitgo
      summary: Check Bitgo credentials
      operationId: Bitgo_checkCredentials
      security:
        - bearerAuth: []
      description: Check Bitgo credentials
      parameters:
        - name: vaspDID
          required: true
          in: query
          schema:
            $ref: '#/components/schemas/common_DID'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BitgoCheckCredentialsResponse'
  /integrations/complyadvantage/sanctions:
    post:
      tags:
        - ComplyAdvantage
      summary: ComplyAdvantage sanctions check
      operationId: ComplyAdvantage_sanctionsCheck
      security:
        - bearerAuth: []
      description: ComplyAdvantage sanctions check
      requestBody:
        description: ComplyAdvantage sanctions check
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ComplyAdvantageSanctionsCheckRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComplyAdvantageSanctionsCheckResponse'
  /integrations/complyadvantage/credentials:
    put:
      tags:
        - ComplyAdvantage
      summary: Set ComplyAdvantage credentials
      operationId: ComplyAdvantage_setCredentials
      security:
        - bearerAuth: []
      description: Set ComplyAdvantage credentials
      parameters:
        - name: vaspDID
          required: true
          in: query
          schema:
            $ref: '#/components/schemas/common_DID'
      requestBody:
        description: Set ComplyAdvantage credentials
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ComplyAdvantageSetCredentialsRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComplyAdvantageSetCredentialsResponse'
    delete:
      tags:
        - ComplyAdvantage
      summary: Delete ComplyAdvantage credentials
      operationId: ComplyAdvantage_deleteCredentials
      security:
        - bearerAuth: []
      description: Delete ComplyAdvantage credentials
      parameters:
        - name: vaspDID
          required: true
          in: query
          schema:
            $ref: '#/components/schemas/common_DID'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComplyAdvantageDeleteCredentialsResponse'
    get:
      tags:
        - ComplyAdvantage
      summary: Check ComplyAdvantage credentials
      operationId: ComplyAdvantage_checkCredentials
      security:
        - bearerAuth: []
      description: Check ComplyAdvantage credentials
      parameters:
        - name: vaspDID
          required: true
          in: query
          schema:
            $ref: '#/components/schemas/common_DID'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComplyAdvantageCheckCredentialsResponse'
  /integrations/refinitiv/sanctions:
    post:
      tags:
        - Refinitiv
      summary: Refinitiv sanctions check
      operationId: Refinitiv_sanctionsCheck
      security:
        - bearerAuth: []
      description: Refinitiv sanctions check
      requestBody:
        description: Refinitiv sanctions check
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefinitivSanctionsCheckRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefinitivSanctionsCheckResponse'
  /integrations/refinitiv/credentials:
    put:
      tags:
        - Refinitiv
      summary: Set Refinitiv credentials
      operationId: Refinitiv_setCredentials
      security:
        - bearerAuth: []
      description: Set Refinitiv credentials
      parameters:
        - name: vaspDID
          required: true
          in: query
          schema:
            $ref: '#/components/schemas/common_DID'
      requestBody:
        description: Set Refinitiv credentials
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefinitivSetCredentialsRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefinitivSetCredentialsResponse'
    delete:
      tags:
        - Refinitiv
      summary: Delete Refinitiv credentials
      operationId: Refinitiv_deleteCredentials
      security:
        - bearerAuth: []
      description: Delete Refinitiv credentials
      parameters:
        - name: vaspDID
          required: true
          in: query
          schema:
            $ref: '#/components/schemas/common_DID'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefinitivDeleteCredentialsResponse'
    get:
      tags:
        - Refinitiv
      summary: Check Refinitiv credentials
      operationId: Refinitiv_checkCredentials
      security:
        - bearerAuth: []
      description: Check Refinitiv credentials
      parameters:
        - name: vaspDID
          required: true
          in: query
          schema:
            $ref: '#/components/schemas/common_DID'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefinitivCheckCredentialsResponse'
  /integrations/merklescience/addressinfo:
    post:
      tags:
        - MerkleScience
      summary: MerkleScience address info
      operationId: MerkleScience_getAddressInfo
      security:
        - bearerAuth: []
      description: MerkleScience address info
      requestBody:
        description: MerkleScience address info
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MerkleScienceGetAddressInfoRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerkleScienceGetAddressInfoResponse'
  /integrations/merklescience/credentials:
    put:
      tags:
        - MerkleScience
      summary: Set MerkleScience credentials
      operationId: MerkleScience_setCredentials
      security:
        - bearerAuth: []
      description: Set MerkleScience credentials
      parameters:
        - name: vaspDID
          required: true
          in: query
          schema:
            $ref: '#/components/schemas/common_DID'
      requestBody:
        description: Set MerkleScience credentials
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MerkleScienceSetCredentialsRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerkleScienceSetCredentialsResponse'
    delete:
      tags:
        - MerkleScience
      summary: Delete MerkleScience credentials
      operationId: MerkleScience_deleteCredentials
      security:
        - bearerAuth: []
      description: Delete MerkleScience credentials
      parameters:
        - name: vaspDID
          required: true
          in: query
          schema:
            $ref: '#/components/schemas/common_DID'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerkleScienceDeleteCredentialsResponse'
    get:
      tags:
        - MerkleScience
      summary: Check MerkleScience credentials
      operationId: MerkleScience_checkCredentials
      security:
        - bearerAuth: []
      description: Check MerkleScience credentials
      parameters:
        - name: vaspDID
          required: true
          in: query
          schema:
            $ref: '#/components/schemas/common_DID'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerkleScienceCheckCredentialsResponse'
  /integrations/elliptic/addressinfo:
    post:
      tags:
        - Elliptic
      summary: Elliptic address info
      operationId: Elliptic_getAddressInfo
      security:
        - bearerAuth: []
      description: Elliptic address info
      requestBody:
        description: Elliptic address info
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EllipticGetAddressInfoRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EllipticGetAddressInfoResponse'
  /integrations/elliptic/credentials:
    put:
      tags:
        - Elliptic
      summary: Set Elliptic credentials
      operationId: Elliptic_setCredentials
      security:
        - bearerAuth: []
      description: Set Elliptic credentials
      parameters:
        - name: vaspDID
          required: true
          in: query
          schema:
            $ref: '#/components/schemas/common_DID'
      requestBody:
        description: Set Elliptic credentials
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EllipticSetCredentialsRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EllipticSetCredentialsResponse'
    delete:
      tags:
        - Elliptic
      summary: Delete Elliptic credentials
      operationId: Elliptic_deleteCredentials
      security:
        - bearerAuth: []
      description: Delete Elliptic credentials
      parameters:
        - name: vaspDID
          required: true
          in: query
          schema:
            $ref: '#/components/schemas/common_DID'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EllipticDeleteCredentialsResponse'
    get:
      tags:
        - Elliptic
      summary: Check Elliptic credentials
      operationId: Elliptic_checkCredentials
      security:
        - bearerAuth: []
      description: Check Elliptic credentials
      parameters:
        - name: vaspDID
          required: true
          in: query
          schema:
            $ref: '#/components/schemas/common_DID'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EllipticCheckCredentialsResponse'
  /protocol-agents:
    get:
      tags:
        - ProtocolAgents
      summary: Get the configured Protocol Agents for a given VASP
      operationId: ProtocolAgents_getConfiguredProtocolAgents
      security:
        - bearerAuth: []
      description: |
        Get the configured Protocol Agents for a given VASP
      parameters:
        - description: VASP DID
          name: vaspDID
          in: query
          schema:
            $ref: '#/components/schemas/common_DID'
          required: true
      responses:
        '200':
          description: All the configured Protocol Agents for a given VASP
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetResponse'
    post:
      tags:
        - ProtocolAgents
      summary: Register a Protocol Agent for a given VASP
      operationId: ProtocolAgents_registerForVasp
      security:
        - bearerAuth: []
      description: |
        Register a Protocol Agent for a given VASP
      requestBody:
        description: Payload
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostRequest'
      responses:
        '200':
          description: All the configured Protocol Agents for a given VASP
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetResponse'
    delete:
      tags:
        - ProtocolAgents
      summary: Unregister a Protocol Agent for a given VASP
      operationId: ProtocolAgents_unregisterVasp
      security:
        - bearerAuth: []
      description: |
        Unregister a Protocol Agent for a given VASP
      requestBody:
        description: Payload
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteRequest'
      responses:
        '200':
          description: All the configured Protocol Agents for a given VASP
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetResponse'
  /protocol-agents-message-handler:
    post:
      tags:
        - ProtocolAgents
      summary: Handle a Protocol Agent Message
      operationId: ProtocolAgents_handleAgentMessage
      security:
        - bearerAuth: []
      description: |
        Handle a Protocol Agent Message
      requestBody:
        description: Payload
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentAddressDiscoveryRequest'
      responses:
        '200':
          description: Message received
  /protocol-gateways/callbacks/address-confirmation/{transactionId}:
    post:
      tags:
        - Protocol Gateways
      summary: Address confirmation resolution
      operationId: ProtocolGateways_addressConfirmationResolution
      security:
        - bearerAuth: []
      description: >
        Address confirmation after callbackUrl is requested from the Protocol
        Gateways.
      parameters:
        - description: Transaction ID
          name: transactionId
          in: path
          schema:
            type: string
          required: true
      requestBody:
        description: Address Confirmation Request Body
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/ProtocolGatewaysAddressConfirmationResolutionRequest
      responses:
        '200':
          description: Address confirmation resolution processed
  /protocol-gateways/callbacks/receive-transfer/{transactionId}:
    post:
      tags:
        - Protocol Gateways
      summary: Receive Transfer resolution
      operationId: ProtocolGateways_receiveTransferCallback
      security:
        - bearerAuth: []
      description: >
        Receive Transfer after callbackUrl is requested from the Protocol
        Gateways.
      parameters:
        - description: Transaction ID
          name: transactionId
          in: path
          schema:
            type: string
          required: true
      requestBody:
        description: Address Confirmation Request Body
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/ProtocolGatewaysReceiveTransferCallbackRequest
      responses:
        '200':
          description: Receive transfer resolution processed
  /webhook:
    get:
      tags:
        - Webhooks
      summary: Get the registered multi-message Webhook URL for a given VASP.
      operationId: Webhooks_getRegistrationUrl
      security:
        - bearerAuth: []
      description: |
        Get the registered multi-message Webhook URL for a given VASP.
      parameters:
        - description: The VASP DID
          name: vaspDID
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/common_DID'
      responses:
        '200':
          description: Config saved
        '404':
          description: No webhook registered
    post:
      tags:
        - Webhooks
      summary: Register the multi-message Webhook URL for a given VASP.
      operationId: Webhooks_registerMultiMessageUrl
      security:
        - bearerAuth: []
      description: |
        Register the multi-message Webhook URL for a given VASP.
      requestBody:
        description: Payload
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetWebhookInput'
      responses:
        '200':
          description: Config saved
    delete:
      tags:
        - Webhooks
      summary: Unregister the multi-message Webhook for a given VASP.
      operationId: Webhooks_unregisterVasp
      security:
        - bearerAuth: []
      description: |
        Unregister the multi-message Webhook for a given VASP.
      requestBody:
        description: Payload
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteWebhookInput'
      responses:
        '200':
          description: Config saved
  /tf/vasps/create:
    post:
      tags:
        - TrustFramework
      summary: Create VASP
      operationId: TrustFramework_initiateVaspCreation
      description: |
        To begin accepting transactions as a VASP, you first create a VASP.
      parameters:
        - description: ChallengeToken
          in: query
          name: challengeToken
          schema:
            type: string
          required: true
      requestBody:
        description: Create User and VASP through light onboarding
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/tf_UserVASPCreate'
      responses:
        '200':
          description: User info created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tf_VASPInfo'
  /tf/simple/vasps/{vaspDID}:
    get:
      tags:
        - TrustFramework
      summary: Get VASP
      operationId: TrustFramework_getVaspInformation
      security:
        - bearerAuth: []
        - {}
      description: >
        Returns information about a VASP that has the specified
        [DID](https://www.w3.org/TR/did-core/#identifier).
      parameters:
        - description: VASP DID
          name: vaspDID
          in: path
          schema:
            $ref: '#/components/schemas/common_DID'
          required: true
        - description: csv of fields to return
          name: fields
          in: query
          schema:
            type: string
        - description: include reviewed vasps for specified did
          name: reviewedByVaspDID
          in: query
          schema:
            $ref: '#/components/schemas/common_DID'
        - description: include jurisdiction status information
          name: showJurisdictionStatus
          in: query
          schema:
            type: boolean
        - description: include subsidiaries of particular vasp
          name: includeSubsidiaries
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: Simple VASP info
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tf_VASPInfoSimple'
  /tf/simple/vasps:
    get:
      tags:
        - TrustFramework
      summary: List VASPs
      operationId: TrustFramework_listVasps
      security:
        - bearerAuth: []
        - {}
      description: >
        Returns a list of VASPs. VASPs can be searched and sorted and results
        are paginated.
      parameters:
        - description: string to query
          name: q
          in: query
          schema:
            type: string
        - description: filter on email domain
          name: emailDomain
          in: query
          schema:
            type: string
        - description: filter on chainalysis name
          name: chainalysisName
          in: query
          schema:
            type: string
        - description: filter on hasAdmin true or false
          name: hasAdmin
          in: query
          schema:
            type: boolean
        - description: filter by badge
          name: badge
          in: query
          schema:
            type: string
            enum:
              - super_vasp
              - verified
              - in_network
              - claimed
        - description: filter by jurisdictions
          name: jurisdictions
          in: query
          schema:
            type: string
        - description: csv of fields to return
          name: fields
          in: query
          schema:
            type: string
        - description: page number
          name: page
          in: query
          schema:
            type: integer
        - description: records per page
          name: per_page
          in: query
          schema:
            type: integer
        - description: field to order by
          name: order
          in: query
          schema:
            type: string
            pattern: ^([ A-Za-z]+(:(ASC|DESC))?(:NULLS (FIRST|LAST))?(,?))+$
        - description: return all records
          name: all
          in: query
          schema:
            type: boolean
        - description: >-
            Choose the way gateway VASPs and non-gateway VASPs are returned. By
            default, exclude_subsidiaries.
          name: listingType
          in: query
          schema:
            type: string
            enum:
              - exclude_subsidiaries
              - exclude_gateways
              - all
        - description: include vasps that have not been internally checked
          name: includeUncheckedVASPs
          in: query
          schema:
            type: boolean
            default: false
        - description: include only those vasps that are sending transactions
          name: includeActiveSendersOnly
          in: query
          schema:
            type: boolean
            default: false
        - description: include only those vasps that are receiving transactions
          name: includeActiveReceiversOnly
          in: query
          schema:
            type: boolean
            default: false
        - description: include only those vasps matching the specified regulatory status
          name: regulatoryStatus
          in: query
          schema:
            type: string
            default: false
            enum:
              - Exempt
              - No longer exempt
              - Not Regulated
              - No longer regulated
              - Pending
              - Regulated
        - description: asset symbol, provide when filtering by wallet
          name: asset
          in: query
          schema:
            type: string
        - description: include reviewed vasps for specified did
          name: reviewedByVaspDID
          in: query
          schema:
            $ref: '#/components/schemas/common_DID'
        - description: include jurisdiction status information
          name: showJurisdictionStatus
          in: query
          schema:
            type: boolean
        - description: include reviewed vasps containing specified value
          name: reviewValue
          in: query
          schema:
            type: string
            enum:
              - TRUSTED
              - BLOCKED
              - MANUAL
              - 'NULL'
        - description: filter by specified jurisdiction status
          name: filterByJurisdictionStatus
          in: query
          schema:
            type: string
            enum:
              - inForce
              - gracePeriodOngoing
              - limitedScope
              - plansAnnounced
              - notAvailable
      responses:
        '200':
          description: List of VASP (simple)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tf_VASPListSimple'
  /tf/vasps/{vaspDID}/VASPTravelRuleProtocols:
    get:
      tags:
        - TrustFramework
      summary: Get VASP Travel Rule protocols
      operationId: TrustFramework_getTravelRuleProtocols
      description: |
        Returns the Travel Rule protocols the VASP uses.
      parameters:
        - description: VASP DID
          name: vaspDID
          in: path
          schema:
            $ref: '#/components/schemas/common_DID'
          required: true
      responses:
        '200':
          description: VASP Info
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tf_VASPInfo'
  /tf/vasps/update:
    post:
      tags:
        - TrustFramework
      summary: Update VASP
      operationId: TrustFramework_updateVasp
      security:
        - bearerAuth: []
      description: |
        Updates a VASP with the provided parameters.
      requestBody:
        description: VASP update information
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/tf_VASPUpdate'
      responses:
        '200':
          description: User info updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tf_VASPInfo'
  /tf/vasps/delete/{vaspDID}:
    get:
      tags:
        - TrustFramework
      summary: Delete VASP
      operationId: TrustFramework_deleteVasp
      security:
        - bearerAuth: []
        - {}
      description: >
        Deletes a VASP that has the specified
        [DID](https://www.w3.org/TR/did-core/#identifier).
      parameters:
        - description: VASP DID
          name: vaspDID
          in: path
          schema:
            $ref: '#/components/schemas/common_DID'
          required: true
        - description: VASP DID to redirect transactions to
          name: redirectDID
          in: query
          schema:
            $ref: '#/components/schemas/common_DID'
      responses:
        '200':
          description: Success message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrustFrameworkDeleteVaspResponse'
  /tf/vasps/{vaspDID}/review:
    post:
      tags:
        - TrustFramework
      summary: Review VASP
      operationId: TrustFramework_markVaspReview
      security:
        - bearerAuth: []
      description: |
        Mark a VASP as TRUSTED, BLOCKED, or MANUAL
      parameters:
        - description: The VASP who is adding to their review list
          name: vaspDID
          in: path
          schema:
            $ref: '#/components/schemas/common_DID'
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TrustFrameworkMarkVaspReviewRequest'
      responses:
        '200':
          description: VASP review
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrustFrameworkMarkVaspReviewResponse'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrustFrameworkMarkVaspReview401Response'
  /tf/vasps/userVASPList:
    get:
      tags:
        - Trust Framework
      summary: Get VASPs associated with user
      operationId: TrustFramework_getUserVaspList
      security:
        - bearerAuth: []
      parameters:
        - description: csv of fields to return
          name: fields
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserVASPList'
        '400':
          description: Invalid user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrustFrameworkGetUserVaspListResponse'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrustFrameworkGetUserVaspList401Response'
  /tf/vasps/did:
    post:
      tags:
        - TrustFramework
      summary: Create a VASP did
      operationId: TrustFramework_createVaspDid
      security:
        - bearerAuth: []
      description: |
        Generate a VASP did.
      responses:
        '200':
          description: User info created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrustFrameworkCreateVaspDidResponse'
  /tf/vasps/top-counterparties:
    get:
      tags:
        - TrustFramework
      summary: Get top counterparty data
      operationId: TrustFramework_getTopCounterpartyData
      security:
        - bearerAuth: []
      description: |
        Get VASP data for top 20 counterparties
      parameters:
        - name: vaspDID
          required: true
          in: query
          schema:
            $ref: '#/components/schemas/common_DID'
      responses:
        '200':
          description: Top 20 counterparty data
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/TrustFrameworkGetTopCounterpartyDataResponse
  /tf/vasps/{vaspDID}/settings:
    put:
      tags:
        - Settings
      summary: Update a VASP's settings
      operationId: Settings_updateVaspSettings
      security:
        - bearerAuth: []
      description: |
        Update a VASP's settings.
      parameters:
        - description: VASP DID
          name: vaspDID
          in: path
          schema:
            $ref: '#/components/schemas/common_DID'
          required: true
      requestBody:
        description: Settings to be updated
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Settings'
      responses:
        '200':
          description: Updated settings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Settings'
  /tf/vasps/{vaspDID}/getSettings:
    get:
      tags:
        - Settings
      summary: Get a VASP's settings
      operationId: Settings_get
      security:
        - bearerAuth: []
      description: |
        Get a VASP's settings
      parameters:
        - description: VASP DID
          name: vaspDID
          in: path
          schema:
            $ref: '#/components/schemas/common_DID'
          required: true
      responses:
        '200':
          description: Stored settings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Settings'
  /tf/vasps/upload/{vaspDID}:
    get:
      tags:
        - Documents
      summary: Get upload URL
      operationId: Documents_getUploadUrl
      security:
        - bearerAuth: []
      description: >
        To upload a document you must first request a URL to upload to. Upload
        URLs are short-lived AWS S3 bucket upload URLs.
      parameters:
        - description: VASP DID
          name: vaspDID
          in: path
          schema:
            $ref: '#/components/schemas/common_DID'
          required: true
        - description: documentType
          name: documentType
          in: query
          schema:
            type: string
      responses:
        '200':
          description: URL where to upload the document
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/common_UploadURLInfo'
  /tf/vasps/download/{vaspDID}:
    get:
      tags:
        - Documents
      summary: Get document
      operationId: Documents_getLocation
      security:
        - bearerAuth: []
      description: |
        Returns the location of the uploaded document stored in AWS S3
      parameters:
        - description: VASP DID
          name: vaspDID
          in: path
          schema:
            $ref: '#/components/schemas/common_DID'
          required: true
        - description: S3 URL where the document is located
          name: s3URL
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Document downloaded
          content:
            application/pdf:
              schema:
                $ref: '#/components/schemas/DocumentsGetLocationResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentsGetLocation400Response'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentsGetLocation401Response'
        '404':
          description: Document not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentsGetLocation404Response'
        '503':
          description: The service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentsGetLocation503Response'
  /tf/vasps/document/delete/{vaspDID}:
    post:
      tags:
        - Documents
      summary: Delete document
      operationId: Documents_deleteDocument
      security:
        - bearerAuth: []
      description: |
        Deletes the document stored in AWS S3
      parameters:
        - description: VASP DID
          name: vaspDID
          in: path
          schema:
            $ref: '#/components/schemas/common_DID'
          required: true
        - description: S3 URL where the document is located
          name: s3URL
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Document deleted
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentsDeleteDocumentResponse'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentsDeleteDocument401Response'
        '404':
          description: Document not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentsDeleteDocument404Response'
        '503':
          description: The service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentsDeleteDocument503Response'
  /tf/vasps/{vaspDID}/documents/requests:
    post:
      tags:
        - Documents
      summary: Request, Accept, Reject or Revoke Document Access
      operationId: Documents_requestAccess
      security:
        - bearerAuth: []
      description: >
        Request, Accept, Reject or Revoke Document Access. For example, you can
        use this API endpoint to request access to a counterparty VASPs
        due-dilligence document.
      parameters:
        - description: vaspDID of document owner
          name: vaspDID
          in: path
          schema:
            $ref: '#/components/schemas/common_DID'
          required: true
        - description: vaspDID of party subject to document access
          name: requestingVASPdid
          in: query
          schema:
            $ref: '#/components/schemas/common_DID'
          required: true
        - description: type of the document
          name: documentType
          in: query
          schema:
            $ref: '#/components/schemas/DocumentType'
          required: true
        - description: access action
          name: accessAction
          in: query
          schema:
            $ref: '#/components/schemas/DocumentAccessAction'
          required: true
        - description: metadata (eg. reason for decline/revoke)
          name: metadata
          in: query
          schema:
            type: string
          required: false
      responses:
        '200':
          description: Document requested successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentsRequestAccessResponse'
        '400':
          description: One of the VASP dids does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrustFrameworkVASPNotFoundError'
        '401':
          description: Not a user of the VASP
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrustFrameworkUserDoesNotExistOnVASP'
    get:
      tags:
        - Documents
      summary: Get document requests
      operationId: Documents_listRequests
      security:
        - bearerAuth: []
      description: |
        Lists all requests from counterparty VASPS to your documents
      parameters:
        - description: DID of the VASP who's doc is being requested
          name: vaspDID
          in: path
          schema:
            oneOf:
              - $ref: '#/components/schemas/common_DID'
              - $ref: '#/components/schemas/OutgoingRequests'
          required: true
        - description: (optional) DID of the VASP who is requesting the document
          name: requestingVASPdid
          in: query
          schema:
            $ref: '#/components/schemas/common_DID'
          required: false
      responses:
        '200':
          description: List of document requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentsListRequestsResponse'
        '400':
          description: One of the VASP dids does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrustFrameworkVASPNotFoundError'
        '401':
          description: Not a user of the VASP
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrustFrameworkUserDoesNotExistOnVASP'
  /tf/vasps/{vaspDID}/documents/ddq:
    get:
      tags:
        - Documents
      summary: Get DDQ document of vaspDID
      operationId: Documents_getDdqDocument
      security:
        - bearerAuth: []
      description: Get DDQ document of vaspDID
      parameters:
        - description: DID of the VASP who's doc is being requested
          name: vaspDID
          in: path
          schema:
            $ref: '#/components/schemas/common_DID'
          required: true
        - description: DID of the VASP who is requesting the document
          name: requestingVASPdid
          in: query
          schema:
            $ref: '#/components/schemas/common_DID'
          required: false
      responses:
        '200':
          description: DDQ data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentsGetDdqDocumentResponse'
  /tx/info:
    get:
      tags:
        - Transactions
      summary: Get transfer
      operationId: Transactions_getTransferDetails
      security:
        - bearerAuth: []
      description: >
        Gets the detail of a transfer that has been created based on the passed
        transfer ID.
      parameters:
        - in: query
          name: id
          schema:
            $ref: '#/components/schemas/TransactionID'
          required: true
      responses:
        '200':
          description: Transfer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction'
  /tx/query:
    get:
      tags:
        - Transactions
      summary: Search transfer
      operationId: Transactions_searchTransfer
      security:
        - bearerAuth: []
      description: >
        Searches for transfers based on transfer hash, destination blockchain
        address or Bitcoin vout.
      parameters:
        - description: Transaction txHash
          in: query
          name: txHash
          required: false
          schema:
            type: string
        - description: Destination Address
          in: query
          name: destination
          required: false
          schema:
            type: string
        - description: Bitcoin vout
          in: query
          name: vout
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Transfer Query
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionsSearchTransferResponse'
  /tx/listBeneficiaryOriginator:
    get:
      tags:
        - Transactions
      summary: >-
        List the transactions of a VASP. The transactions are grouped by
        beneficiary and originator.
      operationId: Transactions_listBeneficiaryOriginator
      security:
        - bearerAuth: []
      description: >
        Fetches a list of transactions belonging to a VASP. The transactions
        will be grouped showing when the VASP is beneficiary and/or originator.
      parameters:
        - description: vaspDID to get list for
          name: vaspDID
          in: query
          schema:
            $ref: '#/components/schemas/common_DID'
          required: true
      responses:
        '200':
          description: List of TransferInformation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionsList'
  /tx/list:
    get:
      tags:
        - Transactions
      summary: List transactions
      operationId: Transactions_getList
      security:
        - bearerAuth: []
      description: >
        Fetches a list of transactions belonging to a VASP. Transactions can be
        sorted, filtered, and searched and results are paginated.
      parameters:
        - description: vaspDID to get list for
          name: vaspDID
          in: query
          schema:
            $ref: '#/components/schemas/common_DID'
          required: true
        - name: sort
          in: query
          schema:
            $ref: '#/components/schemas/Sort'
        - description: Page number the user wants to retrieve, default value is 0
          name: page
          in: query
          example: 0
          schema:
            type: integer
            minimum: 0
        - description: Number of records to show per page, default value is 100
          name: resultsPerPage
          in: query
          example: 100
          schema:
            type: integer
            maximum: 100
        - name: txGroup
          in: query
          schema:
            $ref: '#/components/schemas/Group'
        - name: transactionAsset
          in: query
          schema:
            $ref: '#/components/schemas/TransactionAsset'
        - name: transactionType
          in: query
          schema:
            $ref: '#/components/schemas/common_TransactionType'
        - name: transactionRef
          in: query
          schema:
            type: string
        - description: Filter your transactions by status
          name: status
          in: query
          schema:
            type: array
            items:
              type: string
        - description: Search term for transactions
          name: q
          in: query
          schema:
            type: string
        - name: txDirection
          in: query
          schema:
            $ref: '#/components/schemas/Direction'
        - description: Decrypt PII data
          name: decrypt
          in: query
          schema:
            type: boolean
            default: false
        - description: Get data in CSV format
          name: csv
          in: query
          schema:
            type: boolean
        - description: Include action data with the transactions
          name: includeActions
          in: query
          schema:
            type: boolean
        - description: Filter your transactions by jurisdictions
          name: jurisdictions
          in: query
          schema:
            type: array
            items:
              type: string
        - description: Filter your transactions by vasps
          name: vasps
          in: query
          schema:
            type: array
            items:
              type: string
        - description: Filter your transactions created after the specified date (included)
          name: start
          in: query
          schema:
            $ref: '#/components/schemas/common_Date'
        - description: >-
            Filter your transactions created before the specified date
            (included)
          name: end
          in: query
          schema:
            $ref: '#/components/schemas/common_Date'
        - description: Filter your transactions by wallet address
          name: wallet
          in: query
          schema:
            type: string
      responses:
        '200':
          description: List of TransferInformation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionsList'
  /tx/validate:
    post:
      tags:
        - Transactions
      summary: Validate transfer
      operationId: Transactions_validateTransferFields
      security:
        - bearerAuth: []
      description: >
        Due to varying implementations of the Travel Rule across jurisdictions,
        transfers can be validated ahead of time to evaluate which transfer
        fields are required.
      requestBody:
        description: Transfer Validations Information
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionValidateRequest'
            examples:
              below-threshold:
                summary: Below Threshold example
                value:
                  transactionAsset: ETH
                  destination: '0x00000000219ab540356cbb839cbe05303d7705fa'
                  transactionAmount: '1000000000'
                  originatorVASPdid: did:ethr:0xoriginatorDID
                  originatorEqualsBeneficiary: true
      responses:
        '200':
          description: Transfer validation response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionValidationResult'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/TransactionsValidateTransferFieldsResponse
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
      deprecated: true
  /tx/validate/full:
    post:
      tags:
        - Transactions
      summary: Fully Validate transfer
      operationId: Transactions_fullyValidateTransfer
      security:
        - bearerAuth: []
      description: Fully Validate your transfer with this method
      requestBody:
        description: Full transfer Validations Information
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionValidateFullRequest'
      responses:
        '200':
          description: Full transfer validation response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionFullValidationResult'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionsFullyValidateTransferResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
  /tx/create:
    post:
      tags:
        - Transactions
      summary: Create transfer
      operationId: Transactions_createTransfer
      security:
        - bearerAuth: []
      description: >
        Creates a new transfer. The fields required in a transfer differ
        depending on the jurisdiction of the originating VASP.

        Additional data may be provided to the beneficiary VASP depending on
        their jurisdiction.
      requestBody:
        description: Transfers Information
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionCreateRequest'
            examples:
              below-threshold:
                summary: Below Threshold example
                value:
                  transactionRef: a4de3f3f-668f-4844-995a-03ad1b73a54e
                  transactionAsset: ETH
                  transactionAmount: '10000000000000000'
                  originatorVASPdid: did:ethr:0xoriginatorDID
                  beneficiaryVASPdid: did:ethr:0xbeneficiaryVASPdid
                  transactionBlockchainInfo:
                    txHash: >-
                      0x8f1fd4a0a5f7388b049ccbb1f4108a675047b0faa0085ce009c0b36a0a9e6894
                    origin: '0xa40dfee99e1c85dc97fdc594b16a460717838703'
                    destination: '0x00000000219ab540356cbb839cbe05303d7705fa'
                  originator:
                    originatorPersons:
                      - naturalPerson:
                          name:
                            - nameIdentifier:
                                - primaryIdentifier: Frodo
                                  secondaryIdentifier: Baggins
                                  nameIdentifierType: LEGL
                          nationalIdentification:
                            nationalIdentifier: AABBCCDDEEFF0011223344
                            nationalIdentifierType: CCPT
                            countryOfIssue: NZ
                    accountNumber:
                      - '01234567890'
                  beneficiary:
                    beneficiaryPersons:
                      - naturalPerson:
                          name:
                            - nameIdentifier:
                                - primaryIdentifier: Bilbo
                                  secondaryIdentifier: Bolson
                                  nameIdentifierType: LEGL
                          nationalIdentification:
                            nationalIdentifier: AABBCCDDEEFF0011223344
                            nationalIdentifierType: CCPT
                            countryOfIssue: NZ
                    accountNumber:
                      - '0x00000000219ab540356cbb839cbe05303d7705fa'
      responses:
        '200':
          description: Transfer created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionsCreateTransferResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
  /tx/approve:
    post:
      tags:
        - Transactions
      summary: Approve transfer
      operationId: Transactions_approveTransfer
      security:
        - bearerAuth: []
      description: >
        Approves an outgoing transfer. If the VASP is present in the [Notabene
        Directory](https://app.notabene.id/directory), approving a transfer will
        send the transfer to them and set the transfer status to `SENT`. If the
        VASP is not in the [Notabene
        Directory](https://app.notabene.id/directory), approving the transfer
        will set the status to `WAITING_FOR_INFORMATION`.
      parameters:
        - in: query
          name: id
          schema:
            $ref: '#/components/schemas/TransactionID'
          required: true
      responses:
        '200':
          description: Transfer Approved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionsApproveTransferResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
  /tx/cancel:
    post:
      tags:
        - Transactions
      summary: Cancel transfer
      operationId: Transactions_cancelTransfer
      security:
        - bearerAuth: []
      description: |
        Cancels the transfer and sets the status to `CANCELLED`.
      requestBody:
        description: Transfer Cancel Information
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionCancelRequest'
      responses:
        '200':
          description: Transfer Cancelled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction'
  /tx/update:
    post:
      tags:
        - Transactions
      summary: Update transfer
      operationId: Transactions_updateTransferDetails
      security:
        - bearerAuth: []
      description: |
        Update a transfer with the passed parameters.
      requestBody:
        description: Transfer Update Information
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionUpdateRequest'
      responses:
        '200':
          description: Transfer Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionsUpdateTransferDetailsResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
  /tx/confirm:
    post:
      tags:
        - Transactions
      summary: Confirm transfer
      operationId: Transactions_confirmTransfer
      security:
        - bearerAuth: []
      description: >
        Confirms that the blockchain address of the transfer belongs to the
        beneficiary VASP. Confirming sets the status of a transfer to `ACK`.
      parameters:
        - in: query
          name: id
          schema:
            $ref: '#/components/schemas/TransactionID'
      responses:
        '200':
          description: Transfer Confirmed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction'
  /tx/notify:
    post:
      tags:
        - Transactions
      summary: Notify transfer
      operationId: Transactions_notifyTransfer
      security:
        - bearerAuth: []
      description: |
        Notifies the originator VASP of an incoming transfer on the blockchain.
      requestBody:
        description: Transfer Notify Information
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionNotifyRequest'
      responses:
        '200':
          description: Transfer Notified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction'
  /tx/reject:
    post:
      tags:
        - Transactions
      summary: Reject transfer
      operationId: Transactions_transferReject
      security:
        - bearerAuth: []
      description: >
        Rejects a transfer indicating that the blockchain address is not owned
        by the beneficiary VASP. Rejecting sets the transfer status to
        `REJECTED`.
      requestBody:
        description: Transfer Reject Information
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionRejectRequest'
      responses:
        '200':
          description: Transfer Rejected
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction'
  /tx/notReady:
    post:
      tags:
        - Transactions
      summary: Mark a transfer as not ready
      operationId: Transactions_markNotReady
      security:
        - bearerAuth: []
      description: >
        Marks a transfer as not ready, as the VASP is not ready yet to respond.
        The transfer status is `NOT_READY`.
      requestBody:
        description: Transfer Information
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionNotReadyRequest'
      responses:
        '200':
          description: Transfer marked as not ready
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction'
  /tx/accept:
    post:
      tags:
        - Transactions
      summary: Accept transfer
      operationId: Transactions_acceptTransfer
      security:
        - bearerAuth: []
      description: >
        Accepts a transfer setting the status to `ACCEPTED`. Transfers can be
        automatically accepted by setting rules in the rules engine or manually
        using this endpoint.
      parameters:
        - in: query
          name: id
          schema:
            $ref: '#/components/schemas/TransactionID'
          required: true
      responses:
        '200':
          description: Transfer Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction'
  /tx/decline:
    post:
      tags:
        - Transactions
      summary: Decline transfer
      operationId: Transactions_declineTransfer
      security:
        - bearerAuth: []
      description: >
        Declines a transfer setting the status to `DECLINED`. Transfers can be
        automatically declined by setting rules in the rules engine or manually
        using this endpoint.
      requestBody:
        description: Transfer Decline Information
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionDeclineRequest'
      responses:
        '200':
          description: Transfer Declined
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction'
  /tx/redirect:
    post:
      tags:
        - Transactions
      summary: Redirect transfer
      operationId: Transactions_redirectTransfer
      security:
        - bearerAuth: []
      description: >
        Redirecting transfer allows beneficiary VASPs to route incoming
        transfers from one subsidiary to another.
      parameters:
        - in: query
          name: id
          schema:
            $ref: '#/components/schemas/TransactionID'
          required: true
        - in: query
          name: to
          schema:
            $ref: '#/components/schemas/common_DID'
          required: true
      responses:
        '200':
          description: Transfer Redirected
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionsRedirectTransferResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
  /tx/bulk:
    post:
      tags:
        - Transactions
      summary: Bulk edit transfers
      operationId: Transactions_bulkEditTransfers
      security:
        - bearerAuth: []
      description: >
        Actions can be performed on transfers in bulk such as approving,
        cancelling, confirming, rejecting etc.
      requestBody:
        description: Bulk Transfer Input
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionBulkRequest'
        required: false
      responses:
        '200':
          description: Affected transfers
          content:
            application/json:
[...]
