openapi: 3.0.3
info:
  title: Notion API
  description: >-
    Notion is a new tool that blends your everyday work apps into one. It's the
    all-in-one workspace for you and your team.
  version: '1'
  x-konfig-ignore:
    object-with-no-properties: true
    potential-incorrect-type: true
servers:
  - url: https://api.notion.com
tags:
  - name: Block
  - name: Page
  - name: Database
  - name: User
  - name: Comment
  - name: Token
  - name: Search
paths:
  /v1/oauth/token:
    post:
      tags:
        - Token
      summary: Create a token
      operationId: Token_generateAccess
      description: >-
        Creates an access token that a third-party service can use to
        authenticate with Notion.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenGenerateAccessRequest'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "access_token": "e202e8c9-0990-40af-855f-ff8f872b1ec6c",
                      "bot_id": "b3414d659-1224-5ty7-6ffr-cc9d8773drt601288f",
                      "duplicated_template_id": null,
                      "owner": {
                        "workspace": true
                      },
                      "workspace_icon": "https://website.domain/images/image.png",
                      "workspace_id": "j565j4d7x3-2882-61bs-564a-jj9d9ui-c36hxfr7x",
                      "workspace_name": "Ada's Notion Workspace"
                    }
              schema:
                $ref: '#/components/schemas/TokenGenerateAccessResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "error": "invalid_request",
                        "error_description": "body failed validation: body.redirect_uri should be defined, instead was `undefined`."
                    }
              schema:
                $ref: '#/components/schemas/TokenGenerateAccess400Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: curl
            code: >-
              curl --location --request POST
              'https://api.notion.com/v1/oauth/token' \

              --header 'Authorization: Basic '"$BASE64_ENCODED_ID_AND_SECRET"''
              \

              --header 'Content-Type: application/json' \

              --header 'Notion-Version: 2022-06-28' \

              --data '{
                "grant_type": "authorization_code",
                "code": "e202e8c9-0990-40af-855f-ff8f872b1ec6",
                "redirect_uri": "https://wwww.my-integration-endpoint.dev/callback",
                 "external_account": {
                      "key": "A83823453409384",
                      "name": "Notion - team@makenotion.com"
                  }
              }'
            name: Create a token for a Link Preview
          - language: curl
            code: "curl --location --request POST 'https://api.notion.com/v1/databases/' \\\n--header 'Authorization: Bearer '\"$NOTION_API_KEY\"'' \\\n--header 'Content-Type: application/json' \\\n--header 'Notion-Version: 2022-06-28' \\\n--data '{\n\t\"grant_type\": \"authorization_code\",\n  \"code\": \"e202e8c9-0990-40af-855f-ff8f872b1ec6\",\n  \"redirect_uri\": \"https://example.com/auth/notion/callback\"\n}'"
            name: Create a token for a public integration
        samples-languages:
          - curl
  /v1/blocks/{block_id}/children:
    patch:
      tags:
        - Block
      summary: Append block children
      operationId: Block_appendChildren
      security: []
      description: ''
      parameters:
        - description: >-
            Identifier for a [block](ref:block). Also accepts a [page](ref:page)
            ID.
          name: block_id
          in: path
          schema:
            type: string
          required: true
        - name: Notion-Version
          in: header
          required: true
          schema:
            type: string
            default: '2022-06-28'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BlockAppendChildrenRequest'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n\t\"object\": \"list\",\n\t\"results\": [\n\t\t{\n\t\t\t\"object\": \"block\",\n\t\t\t\"id\": \"c02fc1d3-db8b-45c5-a222-27595b15aea7\",\n\t\t\t\"parent\": {\n\t\t\t\t\"type\": \"page_id\",\n\t\t\t\t\"page_id\": \"59833787-2cf9-4fdf-8782-e53db20768a5\"\n\t\t\t},\n\t\t\t\"created_time\": \"2022-03-01T19:05:00.000Z\",\n\t\t\t\"last_edited_time\": \"2022-07-06T19:41:00.000Z\",\n\t\t\t\"created_by\": {\n\t\t\t\t\"object\": \"user\",\n\t\t\t\t\"id\": \"ee5f0f84-409a-440f-983a-a5315961c6e4\"\n\t\t\t},\n\t\t\t\"last_edited_by\": {\n\t\t\t\t\"object\": \"user\",\n\t\t\t\t\"id\": \"ee5f0f84-409a-440f-983a-a5315961c6e4\"\n\t\t\t},\n\t\t\t\"has_children\": false,\n\t\t\t\"archived\": false,\n\t\t\t\"type\": \"heading_2\",\n\t\t\t\"heading_2\": {\n\t\t\t\t\"rich_text\": [\n\t\t\t\t\t{\n\t\t\t\t\t\t\"type\": \"text\",\n\t\t\t\t\t\t\"text\": {\n\t\t\t\t\t\t\t\"content\": \"Lacinato kale\",\n\t\t\t\t\t\t\t\"link\": null\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"annotations\": {\n\t\t\t\t\t\t\t\"bold\": false,\n\t\t\t\t\t\t\t\"italic\": false,\n\t\t\t\t\t\t\t\"strikethrough\": false,\n\t\t\t\t\t\t\t\"underline\": false,\n\t\t\t\t\t\t\t\"code\": false,\n\t\t\t\t\t\t\t\"color\": \"default\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"plain_text\": \"Lacinato kale\",\n\t\t\t\t\t\t\"href\": null\n\t\t\t\t\t}\n\t\t\t\t],\n\t\t\t\t\"color\": \"default\",\n        \"is_toggleable\": false\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"object\": \"block\",\n\t\t\t\"id\": \"acc7eb06-05cd-4603-a384-5e1e4f1f4e72\",\n\t\t\t\"parent\": {\n\t\t\t\t\"type\": \"page_id\",\n\t\t\t\t\"page_id\": \"59833787-2cf9-4fdf-8782-e53db20768a5\"\n\t\t\t},\n\t\t\t\"created_time\": \"2022-03-01T19:05:00.000Z\",\n\t\t\t\"last_edited_time\": \"2022-07-06T19:51:00.000Z\",\n\t\t\t\"created_by\": {\n\t\t\t\t\"object\": \"user\",\n\t\t\t\t\"id\": \"ee5f0f84-409a-440f-983a-a5315961c6e4\"\n\t\t\t},\n\t\t\t\"last_edited_by\": {\n\t\t\t\t\"object\": \"user\",\n\t\t\t\t\"id\": \"0c3e9826-b8f7-4f73-927d-2caaf86f1103\"\n\t\t\t},\n\t\t\t\"has_children\": false,\n\t\t\t\"archived\": false,\n\t\t\t\"type\": \"paragraph\",\n\t\t\t\"paragraph\": {\n\t\t\t\t\"rich_text\": [\n\t\t\t\t\t{\n\t\t\t\t\t\t\"type\": \"text\",\n\t\t\t\t\t\t\"text\": {\n\t\t\t\t\t\t\t\"content\": \"Lacinato kale is a variety of kale with a long tradition in Italian cuisine, especially that of Tuscany. It is also known as Tuscan kale, Italian kale, dinosaur kale, kale, flat back kale, palm tree kale, or black Tuscan palm.\",\n\t\t\t\t\t\t\t\"link\": {\n\t\t\t\t\t\t\t\t\"url\": \"https://en.wikipedia.org/wiki/Lacinato_kale\"\n\t\t\t\t\t\t\t}\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"annotations\": {\n\t\t\t\t\t\t\t\"bold\": false,\n\t\t\t\t\t\t\t\"italic\": false,\n\t\t\t\t\t\t\t\"strikethrough\": false,\n\t\t\t\t\t\t\t\"underline\": false,\n\t\t\t\t\t\t\t\"code\": false,\n\t\t\t\t\t\t\t\"color\": \"default\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"plain_text\": \"Lacinato kale is a variety of kale with a long tradition in Italian cuisine, especially that of Tuscany. It is also known as Tuscan kale, Italian kale, dinosaur kale, kale, flat back kale, palm tree kale, or black Tuscan palm.\",\n\t\t\t\t\t\t\"href\": \"https://en.wikipedia.org/wiki/Lacinato_kale\"\n\t\t\t\t\t}\n\t\t\t\t],\n\t\t\t\t\"color\": \"default\"\n\t\t\t}\n\t\t}\n\t],\n\t\"next_cursor\": null,\n\t\"has_more\": false,\n\t\"type\": \"block\",\n\t\"block\": {}\n}"
              schema:
                $ref: '#/components/schemas/BlockAppendChildrenResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/BlockAppendChildren400Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: javascript
            code: |-
              const { Client } = require('@notionhq/client');

              const notion = new Client({ auth: process.env.NOTION_API_KEY });

              (async () => {
                const blockId = 'b55c9c91-384d-452b-81db-d1ef79372b75';
                const response = await notion.blocks.children.append({
                  block_id: blockId,
                  children: [
                    {
                      "heading_2": {
                        "rich_text": [
                          {
                            "text": {
                              "content": "Lacinato kale"
                            }
                          }
                        ]
                      }
                    },
                    {
                      "paragraph": {
                        "rich_text": [
                          {
                            "text": {
                              "content": "Lacinato kale is a variety of kale with a long tradition in Italian cuisine, especially that of Tuscany. It is also known as Tuscan kale, Italian kale, dinosaur kale, kale, flat back kale, palm tree kale, or black Tuscan palm.",
                              "link": {
                                "url": "https://en.wikipedia.org/wiki/Lacinato_kale"
                              }
                            }
                          }
                        ]
                      }
                    }
                  ],
                });
                console.log(response);
              })();
            name: Notion SDK for JavaScript
          - language: curl
            code: "curl -X PATCH 'https://api.notion.com/v1/blocks/b55c9c91-384d-452b-81db-d1ef79372b75/children' \\\n  -H 'Authorization: Bearer '\"$NOTION_API_KEY\"'' \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Notion-Version: 2022-06-28\" \\\n  --data '{\n\t\"children\": [\n\t\t{\n\t\t\t\"object\": \"block\",\n\t\t\t\"type\": \"heading_2\",\n\t\t\t\"heading_2\": {\n\t\t\t\t\"rich_text\": [{ \"type\": \"text\", \"text\": { \"content\": \"Lacinato kale\" } }]\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"object\": \"block\",\n\t\t\t\"type\": \"paragraph\",\n\t\t\t\"paragraph\": {\n\t\t\t\t\"rich_text\": [\n\t\t\t\t\t{\n\t\t\t\t\t\t\"type\": \"text\",\n\t\t\t\t\t\t\"text\": {\n\t\t\t\t\t\t\t\"content\": \"Lacinato kale is a variety of kale with a long tradition in Italian cuisine, especially that of Tuscany. It is also known as Tuscan kale, Italian kale, dinosaur kale, kale, flat back kale, palm tree kale, or black Tuscan palm.\",\n\t\t\t\t\t\t\t\"link\": { \"url\": \"https://en.wikipedia.org/wiki/Lacinato_kale\" }\n\t\t\t\t\t\t}\n\t\t\t\t\t}\n\t\t\t\t]\n\t\t\t}\n\t\t}\n\t]\n}'"
        samples-languages:
          - javascript
          - curl
    get:
      tags:
        - Block
      summary: Retrieve block children
      operationId: Block_getChildren
      security: []
      description: ''
      parameters:
        - description: Identifier for a [block](ref:block)
          name: block_id
          in: path
          schema:
            type: string
          required: true
        - description: >-
            If supplied, this endpoint will return a page of results starting
            after the cursor provided. If not supplied, this endpoint will
            return the first page of results.
          name: start_cursor
          in: query
          schema:
            type: string
        - description: >-
            The number of items from the full list desired in the response.
            Maximum: 100
          name: page_size
          in: query
          schema:
            type: integer
            format: int32
            default: 100
        - name: Notion-Version
          in: header
          required: true
          schema:
            type: string
            default: '2022-06-28'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n\t\"object\": \"list\",\n\t\"results\": [\n\t\t{\n\t\t\t\"object\": \"block\",\n\t\t\t\"id\": \"c02fc1d3-db8b-45c5-a222-27595b15aea7\",\n\t\t\t\"parent\": {\n\t\t\t\t\"type\": \"page_id\",\n\t\t\t\t\"page_id\": \"59833787-2cf9-4fdf-8782-e53db20768a5\"\n\t\t\t},\n\t\t\t\"created_time\": \"2022-03-01T19:05:00.000Z\",\n\t\t\t\"last_edited_time\": \"2022-03-01T19:05:00.000Z\",\n\t\t\t\"created_by\": {\n\t\t\t\t\"object\": \"user\",\n\t\t\t\t\"id\": \"ee5f0f84-409a-440f-983a-a5315961c6e4\"\n\t\t\t},\n\t\t\t\"last_edited_by\": {\n\t\t\t\t\"object\": \"user\",\n\t\t\t\t\"id\": \"ee5f0f84-409a-440f-983a-a5315961c6e4\"\n\t\t\t},\n\t\t\t\"has_children\": false,\n\t\t\t\"archived\": false,\n\t\t\t\"type\": \"heading_2\",\n\t\t\t\"heading_2\": {\n\t\t\t\t\"rich_text\": [\n\t\t\t\t\t{\n\t\t\t\t\t\t\"type\": \"text\",\n\t\t\t\t\t\t\"text\": {\n\t\t\t\t\t\t\t\"content\": \"Lacinato kale\",\n\t\t\t\t\t\t\t\"link\": null\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"annotations\": {\n\t\t\t\t\t\t\t\"bold\": false,\n\t\t\t\t\t\t\t\"italic\": false,\n\t\t\t\t\t\t\t\"strikethrough\": false,\n\t\t\t\t\t\t\t\"underline\": false,\n\t\t\t\t\t\t\t\"code\": false,\n\t\t\t\t\t\t\t\"color\": \"default\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"plain_text\": \"Lacinato kale\",\n\t\t\t\t\t\t\"href\": null\n\t\t\t\t\t}\n\t\t\t\t],\n\t\t\t\t\"color\": \"default\",\n        \"is_toggleable\": false\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"object\": \"block\",\n\t\t\t\"id\": \"acc7eb06-05cd-4603-a384-5e1e4f1f4e72\",\n\t\t\t\"parent\": {\n\t\t\t\t\"type\": \"page_id\",\n\t\t\t\t\"page_id\": \"59833787-2cf9-4fdf-8782-e53db20768a5\"\n\t\t\t},\n\t\t\t\"created_time\": \"2022-03-01T19:05:00.000Z\",\n\t\t\t\"last_edited_time\": \"2022-03-01T19:05:00.000Z\",\n\t\t\t\"created_by\": {\n\t\t\t\t\"object\": \"user\",\n\t\t\t\t\"id\": \"ee5f0f84-409a-440f-983a-a5315961c6e4\"\n\t\t\t},\n\t\t\t\"last_edited_by\": {\n\t\t\t\t\"object\": \"user\",\n\t\t\t\t\"id\": \"ee5f0f84-409a-440f-983a-a5315961c6e4\"\n\t\t\t},\n\t\t\t\"has_children\": false,\n\t\t\t\"archived\": false,\n\t\t\t\"type\": \"paragraph\",\n\t\t\t\"paragraph\": {\n\t\t\t\t\"rich_text\": [\n\t\t\t\t\t{\n\t\t\t\t\t\t\"type\": \"text\",\n\t\t\t\t\t\t\"text\": {\n\t\t\t\t\t\t\t\"content\": \"Lacinato kale is a variety of kale with a long tradition in Italian cuisine, especially that of Tuscany. It is also known as Tuscan kale, Italian kale, dinosaur kale, kale, flat back kale, palm tree kale, or black Tuscan palm.\",\n\t\t\t\t\t\t\t\"link\": {\n\t\t\t\t\t\t\t\t\"url\": \"https://en.wikipedia.org/wiki/Lacinato_kale\"\n\t\t\t\t\t\t\t}\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"annotations\": {\n\t\t\t\t\t\t\t\"bold\": false,\n\t\t\t\t\t\t\t\"italic\": false,\n\t\t\t\t\t\t\t\"strikethrough\": false,\n\t\t\t\t\t\t\t\"underline\": false,\n\t\t\t\t\t\t\t\"code\": false,\n\t\t\t\t\t\t\t\"color\": \"default\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"plain_text\": \"Lacinato kale is a variety of kale with a long tradition in Italian cuisine, especially that of Tuscany. It is also known as Tuscan kale, Italian kale, dinosaur kale, kale, flat back kale, palm tree kale, or black Tuscan palm.\",\n\t\t\t\t\t\t\"href\": \"https://en.wikipedia.org/wiki/Lacinato_kale\"\n\t\t\t\t\t}\n\t\t\t\t],\n\t\t\t\t\"color\": \"default\"\n\t\t\t}\n\t\t}\n\t],\n\t\"next_cursor\": null,\n\t\"has_more\": false,\n\t\"type\": \"block\",\n\t\"block\": {}\n}"
              schema:
                $ref: '#/components/schemas/BlockGetChildrenResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/BlockGetChildren400Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: javascript
            code: |-
              const { Client } = require('@notionhq/client');

              const notion = new Client({ auth: process.env.NOTION_API_KEY });

              (async () => {
                const blockId = '59833787-2cf9-4fdf-8782-e53db20768a5';
                const response = await notion.blocks.children.list({
                  block_id: blockId,
                  page_size: 50,
                });
                console.log(response);
              })();
            name: Notion SDK for JavaScript
          - language: curl
            code: >-
              curl
              'https://api.notion.com/v1/blocks/b55c9c91-384d-452b-81db-d1ef79372b75/children?page_size=100'
              \
                -H 'Authorization: Bearer '"$NOTION_API_KEY"'' \
                -H "Notion-Version: 2022-06-28"
        samples-languages:
          - javascript
          - curl
  /v1/blocks/{block_id}:
    get:
      tags:
        - Block
      summary: Retrieve a block
      operationId: Block_getDetails
      security: []
      description: ''
      parameters:
        - description: Identifier for a Notion block
          name: block_id
          in: path
          schema:
            type: string
          required: true
        - name: Notion-Version
          in: header
          schema:
            type: string
            default: '2022-06-28'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n\t\"object\": \"block\",\n\t\"id\": \"c02fc1d3-db8b-45c5-a222-27595b15aea7\",\n\t\"parent\": {\n\t\t\"type\": \"page_id\",\n\t\t\"page_id\": \"59833787-2cf9-4fdf-8782-e53db20768a5\"\n\t},\n\t\"created_time\": \"2022-03-01T19:05:00.000Z\",\n\t\"last_edited_time\": \"2022-03-01T19:05:00.000Z\",\n\t\"created_by\": {\n\t\t\"object\": \"user\",\n\t\t\"id\": \"ee5f0f84-409a-440f-983a-a5315961c6e4\"\n\t},\n\t\"last_edited_by\": {\n\t\t\"object\": \"user\",\n\t\t\"id\": \"ee5f0f84-409a-440f-983a-a5315961c6e4\"\n\t},\n\t\"has_children\": false,\n\t\"archived\": false,\n\t\"type\": \"heading_2\",\n\t\"heading_2\": {\n\t\t\"rich_text\": [\n\t\t\t{\n\t\t\t\t\"type\": \"text\",\n\t\t\t\t\"text\": {\n\t\t\t\t\t\"content\": \"Lacinato kale\",\n\t\t\t\t\t\"link\": null\n\t\t\t\t},\n\t\t\t\t\"annotations\": {\n\t\t\t\t\t\"bold\": false,\n\t\t\t\t\t\"italic\": false,\n\t\t\t\t\t\"strikethrough\": false,\n\t\t\t\t\t\"underline\": false,\n\t\t\t\t\t\"code\": false,\n\t\t\t\t\t\"color\": \"default\"\n\t\t\t\t},\n\t\t\t\t\"plain_text\": \"Lacinato kale\",\n\t\t\t\t\"href\": null\n\t\t\t}\n\t\t],\n\t\t\"color\": \"default\",\n    \"is_toggleable\": false\n\t}\n}"
              schema:
                $ref: '#/components/schemas/BlockGetDetailsResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/BlockGetDetails400Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: javascript
            code: |-
              const { Client } = require('@notionhq/client');

              const notion = new Client({ auth: process.env.NOTION_API_KEY });

              (async () => {
                const blockId = 'c02fc1d3-db8b-45c5-a222-27595b15aea7';
                const response = await notion.blocks.retrieve({
                  block_id: blockId,
                });
                console.log(response);
              })();
            name: Notion SDK for JavaScript
          - language: curl
            code: >-
              curl
              'https://api.notion.com/v1/blocks/0c940186-ab70-4351-bb34-2d16f0635d49'
              \
                -H 'Authorization: Bearer '"$NOTION_API_KEY"'' \
                -H 'Notion-Version: 2022-06-28'
        samples-languages:
          - javascript
          - curl
    patch:
      tags:
        - Block
      summary: Update a block
      operationId: Block_updateBlockById
      security: []
      description: ''
      parameters:
        - description: Identifier for a Notion block
          name: block_id
          in: path
          schema:
            type: string
          required: true
        - name: Notion-Version
          in: header
          schema:
            type: string
            default: '2022-06-28'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BlockUpdateBlockByIdRequest'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n\t\"object\": \"block\",\n\t\"id\": \"c02fc1d3-db8b-45c5-a222-27595b15aea7\",\n\t\"parent\": {\n\t\t\"type\": \"page_id\",\n\t\t\"page_id\": \"59833787-2cf9-4fdf-8782-e53db20768a5\"\n\t},\n\t\"created_time\": \"2022-03-01T19:05:00.000Z\",\n\t\"last_edited_time\": \"2022-07-06T19:41:00.000Z\",\n\t\"created_by\": {\n\t\t\"object\": \"user\",\n\t\t\"id\": \"ee5f0f84-409a-440f-983a-a5315961c6e4\"\n\t},\n\t\"last_edited_by\": {\n\t\t\"object\": \"user\",\n\t\t\"id\": \"ee5f0f84-409a-440f-983a-a5315961c6e4\"\n\t},\n\t\"has_children\": false,\n\t\"archived\": false,\n\t\"type\": \"heading_2\",\n\t\"heading_2\": {\n\t\t\"rich_text\": [\n\t\t\t{\n\t\t\t\t\"type\": \"text\",\n\t\t\t\t\"text\": {\n\t\t\t\t\t\"content\": \"Lacinato kale\",\n\t\t\t\t\t\"link\": null\n\t\t\t\t},\n\t\t\t\t\"annotations\": {\n\t\t\t\t\t\"bold\": false,\n\t\t\t\t\t\"italic\": false,\n\t\t\t\t\t\"strikethrough\": false,\n\t\t\t\t\t\"underline\": false,\n\t\t\t\t\t\"code\": false,\n\t\t\t\t\t\"color\": \"green\"\n\t\t\t\t},\n\t\t\t\t\"plain_text\": \"Lacinato kale\",\n\t\t\t\t\"href\": null\n\t\t\t}\n\t\t],\n\t\t\"color\": \"default\",\n    \"is_toggleable\": false\n\t}\n}"
              schema:
                $ref: '#/components/schemas/BlockUpdateBlockByIdResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/BlockUpdateBlockById400Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: javascript
            code: "const { Client } = require('@notionhq/client');\n\nconst notion = new Client({ auth: process.env.NOTION_API_KEY });\n\n(async () => {\n  const blockId = '9bc30ad4-9373-46a5-84ab-0a7845ee52e6';\n  const response = await notion.blocks.update({\n\t\"block_id\": blockId,\n\t\"heading_2\": {\n\t\t\"rich_text\": [\n\t\t\t{\n\t\t\t\t\"text\": {\n\t\t\t\t\t\"content\": \"Lacinato kale\"\n\t\t\t\t},\n\t\t\t\t\"annotations\": {\n\t\t\t\t\t\"color\": \"green\"\n\t\t\t\t}\n\t\t\t}\n\t\t]\n\t}\n});\n  console.log(response);\n})();"
            name: Notion SDK for JavaScript
          - language: curl
            code: >-
              curl
              https://api.notion.com/v1/blocks/9bc30ad4-9373-46a5-84ab-0a7845ee52e6
              \
                -H 'Authorization: Bearer '"$NOTION_API_KEY"'' \
                -H "Content-Type: application/json" \
                -H "Notion-Version: 2022-06-28" \
                -X PATCH \
                --data '{
                "to_do": {
                  "rich_text": [{ 
                    "text": { "content": "Lacinato kale" } 
                    }],
                  "checked": false
                }
              }'
        samples-languages:
          - javascript
          - curl
    delete:
      tags:
        - Block
      summary: Delete a block
      operationId: Block_removeBlockById
      security: []
      description: ''
      parameters:
        - description: Identifier for a Notion block
          name: block_id
          in: path
          schema:
            type: string
          required: true
        - name: Notion-Version
          in: header
          schema:
            type: string
            default: '2022-06-28'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n\t\"object\": \"block\",\n\t\"id\": \"7985540b-2e77-4ac6-8615-c3047e36f872\",\n\t\"parent\": {\n\t\t\"type\": \"page_id\",\n\t\t\"page_id\": \"59833787-2cf9-4fdf-8782-e53db20768a5\"\n\t},\n\t\"created_time\": \"2022-07-06T19:52:00.000Z\",\n\t\"last_edited_time\": \"2022-07-06T19:52:00.000Z\",\n\t\"created_by\": {\n\t\t\"object\": \"user\",\n\t\t\"id\": \"0c3e9826-b8f7-4f73-927d-2caaf86f1103\"\n\t},\n\t\"last_edited_by\": {\n\t\t\"object\": \"user\",\n\t\t\"id\": \"ee5f0f84-409a-440f-983a-a5315961c6e4\"\n\t},\n\t\"has_children\": false,\n\t\"archived\": true,\n\t\"type\": \"paragraph\",\n\t\"paragraph\": {\n\t\t\"rich_text\": [],\n\t\t\"color\": \"default\"\n\t}\n}"
              schema:
                $ref: '#/components/schemas/BlockRemoveBlockByIdResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/BlockRemoveBlockById400Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: javascript
            code: |-
              const { Client } = require('@notionhq/client');

              const notion = new Client({ auth: process.env.NOTION_API_KEY });

              (async () => {
                const blockId = '7985540b-2e77-4ac6-8615-c3047e36f872';
                const response = await notion.blocks.delete({
                  block_id: blockId,
                });
                console.log(response);
              })();
            name: Notion SDK for JavaScript
          - language: curl
            code: >-
              curl -X DELETE
              'https://api.notion.com/v1/blocks/9bc30ad4-9373-46a5-84ab-0a7845ee52e6'
              \
                -H 'Authorization: Bearer '"$NOTION_API_KEY"'' \
                -H 'Notion-Version: 2022-06-28'
        samples-languages:
          - javascript
          - curl
  /v1/pages:
    post:
      tags:
        - Page
      summary: Create a page
      operationId: Page_createNewPage
      security: []
      description: ''
      parameters:
        - name: Notion-Version
          in: header
          required: true
          schema:
            type: string
            default: '2022-06-28'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PageCreateNewPageRequest'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "object": "page",
                      "id": "59833787-2cf9-4fdf-8782-e53db20768a5",
                      "created_time": "2022-03-01T19:05:00.000Z",
                      "last_edited_time": "2022-07-06T19:16:00.000Z",
                      "created_by": {
                        "object": "user",
                        "id": "ee5f0f84-409a-440f-983a-a5315961c6e4"
                      },
                      "last_edited_by": {
                        "object": "user",
                        "id": "ee5f0f84-409a-440f-983a-a5315961c6e4"
                      },
                      "cover": {
                        "type": "external",
                        "external": {
                          "url": "https://upload.wikimedia.org/wikipedia/commons/6/62/Tuscankale.jpg"
                        }
                      },
                      "icon": {
                        "type": "emoji",
                        "emoji": "🥬"
                      },
                      "parent": {
                        "type": "database_id",
                        "database_id": "d9824bdc-8445-4327-be8b-5b47500af6ce"
                      },
                      "archived": false,
                      "properties": {
                        "Store availability": {
                          "id": "%3AUPp"
                        },
                        "Food group": {
                          "id": "A%40Hk"
                        },
                        "Price": {
                          "id": "BJXS"
                        },
                        "Responsible Person": {
                          "id": "Iowm"
                        },
                        "Last ordered": {
                          "id": "Jsfb"
                        },
                        "Cost of next trip": {
                          "id": "WOd%3B"
                        },
                        "Recipes": {
                          "id": "YfIu"
                        },
                        "Description": {
                          "id": "_Tc_"
                        },
                        "In stock": {
                          "id": "%60%5Bq%3F"
                        },
                        "Number of meals": {
                          "id": "zag~"
                        },
                        "Photo": {
                          "id": "%7DF_L"
                        },
                        "Name": {
                          "id": "title"
                        }
                      },
                      "url": "https://www.notion.so/Tuscan-Kale-598337872cf94fdf8782e53db20768a5"
                    }
              schema:
                $ref: '#/components/schemas/PageCreateNewPageResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/PageCreateNewPage400Response'
        '404':
          description: '404'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "object": "error",
                        "status": 404,
                        "code": "object_not_found",
                        "message": "Could not find page with ID: 4cc3b486-0b48-4cfe-8ce9-67c47100eb6a. Make sure the relevant pages and databases are shared with your integration."
                    }
              schema:
                $ref: '#/components/schemas/PageCreateNewPage404Response'
        '429':
          description: '429'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "object": "error",
                      "status": 429,
                      "code": "rate_limited",
                      "message": "You have been rate limited. Please try again in a few minutes."
                    }
              schema:
                $ref: '#/components/schemas/PageCreateNewPage429Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: javascript
            code: |-
              const { Client } = require('@notionhq/client');

              const notion = new Client({ auth: process.env.NOTION_API_KEY });

              (async () => {
                const response = await notion.pages.create({
                  "cover": {
                      "type": "external",
                      "external": {
                          "url": "https://upload.wikimedia.org/wikipedia/commons/6/62/Tuscankale.jpg"
                      }
                  },
                  "icon": {
                      "type": "emoji",
                      "emoji": "🥬"
                  },
                  "parent": {
                      "type": "database_id",
                      "database_id": "d9824bdc-8445-4327-be8b-5b47500af6ce"
                  },
                  "properties": {
                      "Name": {
                          "title": [
                              {
                                  "text": {
                                      "content": "Tuscan kale"
                                  }
                              }
                          ]
                      },
                      "Description": {
                          "rich_text": [
                              {
                                  "text": {
                                      "content": "A dark green leafy vegetable"
                                  }
                              }
                          ]
                      },
                      "Food group": {
                          "select": {
                              "name": "🥬 Vegetable"
                          }
                      }
                  },
                  "children": [
                      {
                          "object": "block",
                          "heading_2": {
                              "rich_text": [
                                  {
                                      "text": {
                                          "content": "Lacinato kale"
                                      }
                                  }
                              ]
                          }
                      },
                      {
                          "object": "block",
                          "paragraph": {
                              "rich_text": [
                                  {
                                      "text": {
                                          "content": "Lacinato kale is a variety of kale with a long tradition in Italian cuisine, especially that of Tuscany. It is also known as Tuscan kale, Italian kale, dinosaur kale, kale, flat back kale, palm tree kale, or black Tuscan palm.",
                                          "link": {
                                              "url": "https://en.wikipedia.org/wiki/Lacinato_kale"
                                          }
                                      },
                                      "href": "https://en.wikipedia.org/wiki/Lacinato_kale"
                                  }
                              ],
                              "color": "default"
                          }
                      }
                  ]
              });
                console.log(response);
              })();
            name: Notion SDK for JavaScript
          - language: curl
            code: "curl 'https://api.notion.com/v1/pages' \\\n  -H 'Authorization: Bearer '\"$NOTION_API_KEY\"'' \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Notion-Version: 2022-06-28\" \\\n  --data '{\n\t\"parent\": { \"database_id\": \"d9824bdc84454327be8b5b47500af6ce\" },\n  \"icon\": {\n  \t\"emoji\": \"🥬\"\n  },\n\t\"cover\": {\n\t\t\"external\": {\n\t\t\t\"url\": \"https://upload.wikimedia.org/wikipedia/commons/6/62/Tuscankale.jpg\"\n\t\t}\n\t},\n\t\"properties\": {\n\t\t\"Name\": {\n\t\t\t\"title\": [\n\t\t\t\t{\n\t\t\t\t\t\"text\": {\n\t\t\t\t\t\t\"content\": \"Tuscan Kale\"\n\t\t\t\t\t}\n\t\t\t\t}\n\t\t\t]\n\t\t},\n\t\t\"Description\": {\n\t\t\t\"rich_text\": [\n\t\t\t\t{\n\t\t\t\t\t\"text\": {\n\t\t\t\t\t\t\"content\": \"A dark green leafy vegetable\"\n\t\t\t\t\t}\n\t\t\t\t}\n\t\t\t]\n\t\t},\n\t\t\"Food group\": {\n\t\t\t\"select\": {\n\t\t\t\t\"name\": \"Vegetable\"\n\t\t\t}\n\t\t},\n\t\t\"Price\": { \"number\": 2.5 }\n\t},\n\t\"children\": [\n\t\t{\n\t\t\t\"object\": \"block\",\n\t\t\t\"type\": \"heading_2\",\n\t\t\t\"heading_2\": {\n\t\t\t\t\"rich_text\": [{ \"type\": \"text\", \"text\": { \"content\": \"Lacinato kale\" } }]\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"object\": \"block\",\n\t\t\t\"type\": \"paragraph\",\n\t\t\t\"paragraph\": {\n\t\t\t\t\"rich_text\": [\n\t\t\t\t\t{\n\t\t\t\t\t\t\"type\": \"text\",\n\t\t\t\t\t\t\"text\": {\n\t\t\t\t\t\t\t\"content\": \"Lacinato kale is a variety of kale with a long tradition in Italian cuisine, especially that of Tuscany. It is also known as Tuscan kale, Italian kale, dinosaur kale, kale, flat back kale, palm tree kale, or black Tuscan palm.\",\n\t\t\t\t\t\t\t\"link\": { \"url\": \"https://en.wikipedia.org/wiki/Lacinato_kale\" }\n\t\t\t\t\t\t}\n\t\t\t\t\t}\n\t\t\t\t]\n\t\t\t}\n\t\t}\n\t]\n}'"
        samples-languages:
          - javascript
          - curl
  /v1/pages/{page_id}:
    get:
      tags:
        - Page
      summary: Retrieve a page
      operationId: Page_getPage
      security: []
      description: ''
      parameters:
        - description: Identifier for a Notion page
          name: page_id
          in: path
          schema:
            type: string
          required: true
        - description: >-
            A list of page property value IDs associated with the page. Use this
            param to limit the response to a specific page property value or
            values. To retrieve multiple properties, specify each page property
            ID. For example: `?filter_properties=iAk8&filter_properties=b7dh`.
          name: filter_properties
          in: query
          schema:
            type: string
        - name: Notion-Version
          in: header
          required: true
          schema:
            type: string
            default: '2022-06-28'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"object\": \"page\",\n  \"id\": \"59833787-2cf9-4fdf-8782-e53db20768a5\",\n  \"created_time\": \"2022-03-01T19:05:00.000Z\",\n  \"last_edited_time\": \"2022-07-06T20:25:00.000Z\",\n  \"created_by\": {\n    \"object\": \"user\",\n    \"id\": \"ee5f0f84-409a-440f-983a-a5315961c6e4\"\n  },\n  \"last_edited_by\": {\n    \"object\": \"user\",\n    \"id\": \"0c3e9826-b8f7-4f73-927d-2caaf86f1103\"\n  },\n  \"cover\": {\n    \"type\": \"external\",\n    \"external\": {\n      \"url\": \"https://upload.wikimedia.org/wikipedia/commons/6/62/Tuscankale.jpg\"\n    }\n  },\n  \"icon\": {\n    \"type\": \"emoji\",\n    \"emoji\": \"🥬\"\n  },\n  \"parent\": {\n    \"type\": \"database_id\",\n    \"database_id\": \"d9824bdc-8445-4327-be8b-5b47500af6ce\"\n  },\n  \"archived\": false,\n  \"properties\": {\n    \"Store availability\": {\n      \"id\": \"%3AUPp\",\n      \"type\": \"multi_select\",\n      \"multi_select\": [\n        {\n          \"id\": \"t|O@\",\n          \"name\": \"Gus's Community Market\",\n          \"color\": \"yellow\"\n        },\n        {\n          \"id\": \"{Ml\\\\\",\n          \"name\": \"Rainbow Grocery\",\n          \"color\": \"gray\"\n        }\n      ]\n    },\n    \"Food group\": {\n      \"id\": \"A%40Hk\",\n      \"type\": \"select\",\n      \"select\": {\n        \"id\": \"5e8e7e8f-432e-4d8a-8166-1821e10225fc\",\n        \"name\": \"🥬 Vegetable\",\n        \"color\": \"pink\"\n      }\n    },\n    \"Price\": {\n      \"id\": \"BJXS\",\n      \"type\": \"number\",\n      \"number\": 2.5\n    },\n    \"Responsible Person\": {\n      \"id\": \"Iowm\",\n      \"type\": \"people\",\n      \"people\": [\n        {\n          \"object\": \"user\",\n          \"id\": \"cbfe3c6e-71cf-4cd3-b6e7-02f38f371bcc\",\n          \"name\": \"Cristina Cordova\",\n          \"avatar_url\": \"https://lh6.googleusercontent.com/-rapvfCoTq5A/AAAAAAAAAAI/AAAAAAAAAAA/AKF05nDKmmUpkpFvWNBzvu9rnZEy7cbl8Q/photo.jpg\",\n          \"type\": \"person\",\n          \"person\": {\n            \"email\": \"cristina@makenotion.com\"\n          }\n        }\n      ]\n    },\n    \"Last ordered\": {\n      \"id\": \"Jsfb\",\n      \"type\": \"date\",\n      \"date\": {\n        \"start\": \"2022-02-22\",\n        \"end\": null,\n        \"time_zone\": null\n      }\n    },\n    \"Cost of next trip\": {\n      \"id\": \"WOd%3B\",\n      \"type\": \"formula\",\n      \"formula\": {\n        \"type\": \"number\",\n        \"number\": 0\n      }\n    },\n    \"Recipes\": {\n      \"id\": \"YfIu\",\n      \"type\": \"relation\",\n      \"relation\": [\n        {\n          \"id\": \"90eeeed8-2cdd-4af4-9cc1-3d24aff5f63c\"\n        },\n        {\n          \"id\": \"a2da43ee-d43c-4285-8ae2-6d811f12629a\"\n        }\n      ],\n\t\t\t\"has_more\": false\n    },\n    \"Description\": {\n      \"id\": \"_Tc_\",\n      \"type\": \"rich_text\",\n      \"rich_text\": [\n        {\n          \"type\": \"text\",\n          \"text\": {\n            \"content\": \"A dark \",\n            \"link\": null\n          },\n          \"annotations\": {\n            \"bold\": false,\n            \"italic\": false,\n            \"strikethrough\": false,\n            \"underline\": false,\n            \"code\": false,\n            \"color\": \"default\"\n          },\n          \"plain_text\": \"A dark \",\n          \"href\": null\n        },\n        {\n          \"type\": \"text\",\n          \"text\": {\n            \"content\": \"green\",\n            \"link\": null\n          },\n          \"annotations\": {\n            \"bold\": false,\n            \"italic\": false,\n            \"strikethrough\": false,\n            \"underline\": false,\n            \"code\": false,\n            \"color\": \"green\"\n          },\n          \"plain_text\": \"green\",\n          \"href\": null\n        },\n        {\n          \"type\": \"text\",\n          \"text\": {\n            \"content\": \" leafy vegetable\",\n            \"link\": null\n          },\n          \"annotations\": {\n            \"bold\": false,\n            \"italic\": false,\n            \"strikethrough\": false,\n            \"underline\": false,\n            \"code\": false,\n            \"color\": \"default\"\n          },\n          \"plain_text\": \" leafy vegetable\",\n          \"href\": null\n        }\n      ]\n    },\n    \"In stock\": {\n      \"id\": \"%60%5Bq%3F\",\n      \"type\": \"checkbox\",\n      \"checkbox\": true\n    },\n    \"Number of meals\": {\n      \"id\": \"zag~\",\n      \"type\": \"rollup\",\n      \"rollup\": {\n        \"type\": \"number\",\n        \"number\": 2,\n        \"function\": \"count\"\n      }\n    },\n    \"Photo\": {\n      \"id\": \"%7DF_L\",\n      \"type\": \"url\",\n      \"url\": \"https://i.insider.com/612fb23c9ef1e50018f93198?width=1136&format=jpeg\"\n    },\n    \"Name\": {\n      \"id\": \"title\",\n      \"type\": \"title\",\n      \"title\": [\n        {\n          \"type\": \"text\",\n          \"text\": {\n            \"content\": \"Tuscan kale\",\n            \"link\": null\n          },\n          \"annotations\": {\n            \"bold\": false,\n            \"italic\": false,\n            \"strikethrough\": false,\n            \"underline\": false,\n            \"code\": false,\n            \"color\": \"default\"\n          },\n          \"plain_text\": \"Tuscan kale\",\n          \"href\": null\n        }\n      ]\n    }\n  },\n  \"url\": \"https://www.notion.so/Tuscan-kale-598337872cf94fdf8782e53db20768a5\",\n  \"public_url\": null\n}"
              schema:
                $ref: '#/components/schemas/PageGetPageResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/PageGetPage400Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: javascript
            code: |-
              const { Client } = require('@notionhq/client');

              const notion = new Client({ auth: process.env.NOTION_API_KEY });

              (async () => {
                const pageId = '59833787-2cf9-4fdf-8782-e53db20768a5';
                const response = await notion.pages.retrieve({ page_id: pageId });
                console.log(response);
              })();
            name: Notion SDK for JavaScript
          - language: curl
            code: >-
              curl
              'https://api.notion.com/v1/pages/b55c9c91-384d-452b-81db-d1ef79372b75'
              \
                -H 'Notion-Version: 2022-06-28' \
                -H 'Authorization: Bearer '"$NOTION_API_KEY"''
        samples-languages:
          - javascript
          - curl
    patch:
      tags:
        - Page
      summary: Update page properties
      operationId: Page_updateProperties
      security: []
      description: ''
      parameters:
        - description: The identifier for the Notion page to be updated.
          name: page_id
          in: path
          schema:
            type: string
          required: true
        - name: Notion-Version
          in: header
          schema:
            type: string
            default: '2022-06-28'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PageUpdatePropertiesRequest'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n\t\"object\": \"page\",\n\t\"id\": \"59833787-2cf9-4fdf-8782-e53db20768a5\",\n\t\"created_time\": \"2022-03-01T19:05:00.000Z\",\n\t\"last_edited_time\": \"2022-07-06T19:16:00.000Z\",\n\t\"created_by\": {\n\t\t\"object\": \"user\",\n\t\t\"id\": \"ee5f0f84-409a-440f-983a-a5315961c6e4\"\n\t},\n\t\"last_edited_by\": {\n\t\t\"object\": \"user\",\n\t\t\"id\": \"ee5f0f84-409a-440f-983a-a5315961c6e4\"\n\t},\n\t\"cover\": {\n\t\t\"type\": \"external\",\n\t\t\"external\": {\n\t\t\t\"url\": \"https://upload.wikimedia.org/wikipedia/commons/6/62/Tuscankale.jpg\"\n\t\t}\n\t},\n\t\"icon\": {\n\t\t\"type\": \"emoji\",\n\t\t\"emoji\": \"🥬\"\n\t},\n\t\"parent\": {\n\t\t\"type\": \"database_id\",\n\t\t\"database_id\": \"d9824bdc-8445-4327-be8b-5b47500af6ce\"\n\t},\n\t\"archived\": false,\n\t\"properties\": {\n\t\t\"Store availability\": {\n\t\t\t\"id\": \"%3AUPp\"\n\t\t},\n\t\t\"Food group\": {\n\t\t\t\"id\": \"A%40Hk\"\n\t\t},\n\t\t\"Price\": {\n\t\t\t\"id\": \"BJXS\"\n\t\t},\n\t\t\"Responsible Person\": {\n\t\t\t\"id\": \"Iowm\"\n\t\t},\n\t\t\"Last ordered\": {\n\t\t\t\"id\": \"Jsfb\"\n\t\t},\n\t\t\"Cost of next trip\": {\n\t\t\t\"id\": \"WOd%3B\"\n\t\t},\n\t\t\"Recipes\": {\n\t\t\t\"id\": \"YfIu\"\n\t\t},\n\t\t\"Description\": {\n\t\t\t\"id\": \"_Tc_\"\n\t\t},\n\t\t\"In stock\": {\n\t\t\t\"id\": \"%60%5Bq%3F\"\n\t\t},\n\t\t\"Number of meals\": {\n\t\t\t\"id\": \"zag~\"\n\t\t},\n\t\t\"Photo\": {\n\t\t\t\"id\": \"%7DF_L\"\n\t\t},\n\t\t\"Name\": {\n\t\t\t\"id\": \"title\"\n\t\t}\n\t},\n\t\"url\": \"https://www.notion.so/Tuscan-Kale-598337872cf94fdf8782e53db20768a5\"\n}"
              schema:
                $ref: '#/components/schemas/PageUpdatePropertiesResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
                has_more is set to true for a page property:
                  value: |-
                    {
                      "object": "error",
                      "status": 400,
                      "code": "invalid_request",
                      "message": ”Can't update page because has_more is set to true for page property '${invalidPageProperty}’”
                    }
              schema:
                $ref: '#/components/schemas/PageUpdateProperties400Response'
        '404':
          description: '404'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "object": "error",
                        "status": 404,
                        "code": "object_not_found",
                        "message": "Could not find page with ID: 4cc3b486-0b48-4cfe-8ce9-67c47100eb6a. Make sure the relevant pages and databases are shared with your integration."
                    }
              schema:
                $ref: '#/components/schemas/PageUpdateProperties404Response'
        '429':
          description: '429'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "object": "error",
                      "status": 429,
                      "code": "rate_limited",
                      "message": "You have been rate limited. Please try again in a few minutes."
                    }
              schema:
                $ref: '#/components/schemas/PageUpdateProperties429Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: javascript
            code: |-
              const { Client } = require('@notionhq/client');

              const notion = new Client({ auth: process.env.NOTION_API_KEY });

              (async () => {
                const pageId = '59833787-2cf9-4fdf-8782-e53db20768a5';
                const response = await notion.pages.update({
                  page_id: pageId,
                  properties: {
                    'In stock': {
                      checkbox: true,
                    },
                  },
                });
                console.log(response);
              })();
            name: Notion SDK for JavaScript
          - language: curl
            code: "curl https://api.notion.com/v1/pages/60bdc8bd-3880-44b8-a9cd-8a145b3ffbd7 \\\n  -H 'Authorization: Bearer '\"$NOTION_API_KEY\"'' \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Notion-Version: 2022-06-28\" \\\n  -X PATCH \\\n\t--data '{\n  \"properties\": {\n    \"In stock\": { \"checkbox\": true }\n  }\n}'"
        samples-languages:
          - javascript
          - curl
  /v1/pages/{page_id}/properties/{property_id}:
    get:
      tags:
        - Page
      summary: Retrieve a page property item
      operationId: Page_getPropertyItem
      security: []
      description: ''
      parameters:
        - description: Identifier for a Notion page
          name: page_id
          in: path
          schema:
            type: string
          required: true
        - description: >-
            Identifier for a page
            [property](https://developers.notion.com/reference/page#all-property-values)
          name: property_id
          in: path
          schema:
            type: string
          required: true
        - description: >-
            For paginated properties. The max number of property item objects on
            a page. The default size is 100
          name: page_size
          in: query
          schema:
            type: integer
            format: int32
        - description: For paginated properties.
          name: start_cursor
          in: query
          schema:
            type: string
        - name: Notion-Version
          in: header
          schema:
            type: string
            default: '2022-06-28'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Number Property Item:
                  value: |-
                    {
                      "object": "property_item",
                      "id" "kjPO",
                      "type": "number",
                      "number": 2
                    }
                Result:
                  value: "{\n    \"object\": \"list\",\n    \"results\": [\n        {\n            \"object\": \"property_item\",\n            \"id\" \"kjPO\",\n            \"type\": \"rich_text\",\n            \"rich_text\": {\n                \"type\": \"text\",\n                \"text\": {\n                    \"content\": \"Avocado \",\n                    \"link\": null\n                },\n                \"annotations\": {\n                    \"bold\": false,\n                    \"italic\": false,\n                    \"strikethrough\": false,\n                    \"underline\": false,\n                    \"code\": false,\n                    \"color\": \"default\"\n                },\n                \"plain_text\": \"Avocado \",\n                \"href\": null\n            }\n        },\n        {\n            \"object\": \"property_item\",\n            \"id\" \"ijPO\",\n            \"type\": \"rich_text\",\n            \"rich_text\": {\n                \"type\": \"mention\",\n                \"mention\": {\n                    \"type\": \"page\",\n                    \"page\": {\n                        \"id\": \"41117fd7-69a5-4694-bc07-c1e3a682c857\"\n                    }\n                },\n                \"annotations\": {\n                    \"bold\": false,\n                    \"italic\": false,\n                    \"strikethrough\": false,\n                    \"underline\": false,\n                    \"code\": false,\n                    \"color\": \"default\"\n                },\n                \"plain_text\": \"Lemons\",\n                \"href\": \"http://notion.so/41117fd769a54694bc07c1e3a682c857\"\n            }\n        },\n        {\n            \"object\": \"property_item\",\n            \"id\" \"kjPO\",\n            \"type\": \"rich_text\",\n            \"rich_text\": {\n                \"type\": \"text\",\n                \"text\": {\n                    \"content\": \" Tomato \",\n                    \"link\": null\n                },\n                \"annotations\": {\n                    \"bold\": false,\n                    \"italic\": false,\n                    \"strikethrough\": false,\n                    \"underline\": false,\n                    \"code\": false,\n                    \"color\": \"default\"\n                },\n                \"plain_text\": \" Tomato \",\n                \"href\": null\n            }\n        },\n...\n    ],\n    \"next_cursor\": \"some-next-cursor-value\",\n    \"has_more\": true,\n\t\t\"next_url\": \"http://api.notion.com/v1/pages/0e5235bf86aa4efb93aa772cce7eab71/properties/NVv^?start_cursor=some-next-cursor-value&page_size=25\",\n    \"property_item\": {\n      \"id\": \"NVv^\",\n      \"next_url\": null,\n      \"type\": \"rich_text\",\n      \"rich_text\": {}\n    }\n}"
                Rollup List Property Item:
                  value: "{\n    \"object\": \"list\",\n    \"results\": [\n        {\n            \"object\": \"property_item\",\n          \t\"id\": \"dj2l\",\n            \"type\": \"relation\",\n            \"relation\": {\n                \"id\": \"83f92c9d-523d-466e-8c1f-9bc2c25a99fe\"\n            }\n        },\n        {\n            \"object\": \"property_item\",\n          \t\"id\": \"dj2l\",\n            \"type\": \"relation\",\n            \"relation\": {\n                \"id\": \"45cfb825-3463-4891-8932-7e6d8c170630\"\n            }\n        },\n        {\n            \"object\": \"property_item\",\n          \t\"id\": \"dj2l\",\n            \"type\": \"relation\",\n            \"relation\": {\n                \"id\": \"1688be1a-a197-4f2a-9688-e528c4b56d94\"\n            }\n        }\n    ],\n    \"next_cursor\": \"some-next-cursor-value\",\n    \"has_more\": true,\n\t\t\"property_item\": {\n      \"id\": \"y}~p\",\n      \"next_url\": \"http://api.notion.com/v1/pages/0e5235bf86aa4efb93aa772cce7eab71/properties/y%7D~p?start_cursor=1QaTunT5&page_size=25\",\n      \"type\": \"rollup\",\n      \"rollup\": {\n        \"function\": \"sum\",\n        \"type\": \"incomplete\",\n        \"incomplete\": {}\n      }\n    }\n    \"type\": \"property_item\"\n}"
              schema:
                $ref: '#/components/schemas/PageGetPropertyItemResponse'
      deprecated: false
      x-readme:
        code-samples:
          - language: javascript
            code: |-
              const { Client } = require('@notionhq/client');

              const notion = new Client({ auth: process.env.NOTION_API_KEY });

              (async () => {
                const pageId = 'b55c9c91-384d-452b-81db-d1ef79372b75';
                const propertyId = "aBcD123
                const response = await notion.pages.properties.retrieve({ page_id: pageId, property_id: propertyId });
                console.log(response);
              })();
            name: Notion SDK for JavaScript
          - language: curl
            code: |-
              curl --request GET \
                --url https://api.notion.com/v1/pages/b55c9c91-384d-452b-81db-d1ef79372b75/properties/some-property-id \
                --header 'Authorization: Bearer $NOTION_API_KEY' \
                --header 'Notion-Version: 2022-06-28'
        samples-languages:
          - javascript
          - curl
  /v1/databases:
    post:
      tags:
        - Database
      summary: Create a database
      operationId: Database_createNewDatabase
      security: []
      description: ''
      parameters:
        - name: Notion-Version
          in: header
          required: true
          schema:
            type: string
            default: '2022-06-28'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DatabaseCreateNewDatabaseRequest'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "object": "database",
                        "id": "bc1211ca-e3f1-4939-ae34-5260b16f627c",
                        "created_time": "2021-07-08T23:50:00.000Z",
                        "last_edited_time": "2021-07-08T23:50:00.000Z",
                        "icon": {
                            "type": "emoji",
                            "emoji": "🎉"
                        },
                        "cover": {
                            "type": "external",
                            "external": {
                                "url": "https://website.domain/images/image.png"
                            }
                        },
                        "url": "https://www.notion.so/bc1211cae3f14939ae34260b16f627c",
                        "title": [
                            {
                                "type": "text",
                                "text": {
                                    "content": "Grocery List",
                                    "link": null
                                },
                                "annotations": {
                                    "bold": false,
                                    "italic": false,
                                    "strikethrough": false,
                                    "underline": false,
                                    "code": false,
                                    "color": "default"
                                },
                                "plain_text": "Grocery List",
                                "href": null
                            }
                        ],
                        "properties": {
                            "+1": {
                                "id": "Wp%3DC",
                                "name": "+1",
                                "type": "people",
                                "people": {}
                            },
                            "In stock": {
                                "id": "fk%5EY",
                                "name": "In stock",
                                "type": "checkbox",
                                "checkbox": {}
                            },
                            "Price": {
                                "id": "evWq",
                                "name": "Price",
                                "type": "number",
                                "number": {
                                    "format": "dollar"
                                }
                            },
                            "Description": {
                                "id": "V}lX",
                                "name": "Description",
                                "type": "rich_text",
                                "rich_text": {}
                            },
                            "Last ordered": {
                                "id": "eVnV",
                                "name": "Last ordered",
                                "type": "date",
                                "date": {}
                            },
                            "Meals": {
                                "id": "%7DWA~",
                                "name": "Meals",
                                "type": "relation",
                                "relation": {
                                    "database_id": "668d797c-76fa-4934-9b05-ad288df2d136",
                                    "single_property": {}
                                }
                            },
                            "Number of meals": {
                                "id": "Z\\Eh",
                                "name": "Number of meals",
                                "type": "rollup",
                                "rollup": {
                                    "rollup_property_name": "Name",
                                    "relation_property_name": "Meals",
                                    "rollup_property_id": "title",
                                    "relation_property_id": "mxp^",
                                    "function": "count"
                                }
                            },
                            "Store availability": {
                                "id": "s}Kq",
                                "name": "Store availability",
                                "type": "multi_select",
                                "multi_select": {
                                    "options": [
                                        {
                                            "id": "cb79b393-d1c1-4528-b517-c450859de766",
                                            "name": "Duc Loi Market",
                                            "color": "blue"
                                        },
                                        {
                                            "id": "58aae162-75d4-403b-a793-3bc7308e4cd2",
                                            "name": "Rainbow Grocery",
                                            "color": "gray"
                                        },
                                        {
                                            "id": "22d0f199-babc-44ff-bd80-a9eae3e3fcbf",
                                            "name": "Nijiya Market",
                                            "color": "purple"
                                        },
                                        {
                                            "id": "0d069987-ffb0-4347-bde2-8e4068003dbc",
                                            "name": "Gus's Community Market",
                                            "color": "yellow"
                                        }
                                    ]
                                }
                            },
                            "Photo": {
                                "id": "yfiK",
                                "name": "Photo",
                                "type": "files",
                                "files": {}
                            },
                            "Food group": {
                                "id": "CM%3EH",
                                "name": "Food group",
                                "type": "select",
                                "select": {
                                    "options": [
                                        {
                                            "id": "6d4523fa-88cb-4ffd-9364-1e39d0f4e566",
                                            "name": "🥦Vegetable",
                                            "color": "green"
                                        },
                                        {
                                            "id": "268d7e75-de8f-4c4b-8b9d-de0f97021833",
                                            "name": "🍎Fruit",
                                            "color": "red"
                                        },
                                        {
                                            "id": "1b234a00-dc97-489c-b987-829264cfdfef",
                                            "name": "💪Protein",
                                            "color": "yellow"
                                        }
                                    ]
                                }
                            },
                            "Name": {
                                "id": "title",
                                "name": "Name",
                                "type": "title",
                                "title": {}
                            }
                        },
                        "parent": {
                            "type": "page_id",
                            "page_id": "98ad959b-2b6a-4774-80ee-00246fb0ea9b"
                        },
                        "archived": false
                    }{
                        "object": "database",
                        "id": "bc1211ca-e3f1-4939-ae34-5260b16f627c",
                        "created_time": "2021-07-08T23:50:00.000Z",
                        "last_edited_time": "2021-07-08T23:50:00.000Z",
                        "icon": {
                            "type": "emoji",
                            "emoji": "🎉"
                        },
                        "cover": {
                            "type": "external",
                            "external": {
                                "url": "https://website.domain/images/image.png"
                            }
                        },
                        "url": "https://www.notion.so/bc1211cae3f14939ae34260b16f627c",
                        "title": [
                            {
                                "type": "text",
                                "text": {
                                    "content": "Grocery List",
                                    "link": null
                                },
                                "annotations": {
                                    "bold": false,
                                    "italic": false,
                                    "strikethrough": false,
                                    "underline": false,
                                    "code": false,
                                    "color": "default"
                                },
                                "plain_text": "Grocery List",
                                "href": null
                            }
                        ],
                        "properties": {
                            "+1": {
                                "id": "Wp%3DC",
                                "name": "+1",
                                "type": "people",
                                "people": {}
                            },
                            "In stock": {
                                "id": "fk%5EY",
                                "name": "In stock",
                                "type": "checkbox",
                                "checkbox": {}
                            },
                            "Price": {
                                "id": "evWq",
                                "name": "Price",
                                "type": "number",
                                "number": {
                                    "format": "dollar"
                                }
                            },
                            "Description": {
                                "id": "V}lX",
                                "name": "Description",
                                "type": "rich_text",
                                "rich_text": {}
                            },
                            "Last ordered": {
                                "id": "eVnV",
                                "name": "Last ordered",
                                "type": "date",
                                "date": {}
                            },
                            "Meals": {
                                "id": "%7DWA~",
                                "name": "Meals",
                                "type": "relation",
                                "relation": {
                                    "database_id": "668d797c-76fa-4934-9b05-ad288df2d136",
                                    "synced_property_name": "Related to Grocery List (Meals)"
                                }
                            },
                            "Number of meals": {
                                "id": "Z\\Eh",
                                "name": "Number of meals",
                                "type": "rollup",
                                "rollup": {
                                    "rollup_property_name": "Name",
                                    "relation_property_name": "Meals",
                                    "rollup_property_id": "title",
                                    "relation_property_id": "mxp^",
                                    "function": "count"
                                }
                            },
                            "Store availability": {
                                "id": "s}Kq",
                                "name": "Store availability",
                                "type": "multi_select",
                                "multi_select": {
                                    "options": [
                                        {
                                            "id": "cb79b393-d1c1-4528-b517-c450859de766",
                                            "name": "Duc Loi Market",
                                            "color": "blue"
                                        },
                                        {
                                            "id": "58aae162-75d4-403b-a793-3bc7308e4cd2",
                                            "name": "Rainbow Grocery",
                                            "color": "gray"
                                        },
                                        {
                                            "id": "22d0f199-babc-44ff-bd80-a9eae3e3fcbf",
                                            "name": "Nijiya Market",
                                            "color": "purple"
                                        },
                                        {
                                            "id": "0d069987-ffb0-4347-bde2-8e4068003dbc",
                                            "name": "Gus's Community Market",
                                            "color": "yellow"
                                        }
                                    ]
                                }
                            },
                            "Photo": {
                                "id": "yfiK",
                                "name": "Photo",
                                "type": "files",
                                "files": {}
                            },
                            "Food group": {
                                "id": "CM%3EH",
                                "name": "Food group",
                                "type": "select",
                                "select": {
                                    "options": [
                                        {
                                            "id": "6d4523fa-88cb-4ffd-9364-1e39d0f4e566",
                                            "name": "🥦Vegetable",
                                            "color": "green"
                                        },
                                        {
                                            "id": "268d7e75-de8f-4c4b-8b9d-de0f97021833",
                                            "name": "🍎Fruit",
                                            "color": "red"
                                        },
                                        {
                                            "id": "1b234a00-dc97-489c-b987-829264cfdfef",
                                            "name": "💪Protein",
                                            "color": "yellow"
                                        }
                                    ]
                                }
                            },
                            "Name": {
                                "id": "title",
                                "name": "Name",
                                "type": "title",
                                "title": {}
                            }
                        },
                        "parent": {
                            "type": "page_id",
                            "page_id": "98ad959b-2b6a-4774-80ee-00246fb0ea9b"
                        },
                        "archived": false,
                        "is_inline": false
                    }
              schema:
                $ref: '#/components/schemas/DatabaseCreateNewDatabaseResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/DatabaseCreateNewDatabase400Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: curl
            code: "curl --location --request POST 'https://api.notion.com/v1/databases/' \\\n--header 'Authorization: Bearer '\"$NOTION_API_KEY\"'' \\\n--header 'Content-Type: application/json' \\\n--header 'Notion-Version: 2022-06-28' \\\n--data '{\n    \"parent\": {\n        \"type\": \"page_id\",\n        \"page_id\": \"98ad959b-2b6a-4774-80ee-00246fb0ea9b\"\n    },\n    \"icon\": {\n    \t\"type\": \"emoji\",\n\t\t\t\"emoji\": \"📝\"\n  \t},\n  \t\"cover\": {\n  \t\t\"type\": \"external\",\n    \t\"external\": {\n    \t\t\"url\": \"https://website.domain/images/image.png\"\n    \t}\n  \t},\n    \"title\": [\n        {\n            \"type\": \"text\",\n            \"text\": {\n                \"content\": \"Grocery List\",\n                \"link\": null\n            }\n        }\n    ],\n    \"properties\": {\n        \"Name\": {\n            \"title\": {}\n        },\n        \"Description\": {\n            \"rich_text\": {}\n        },\n        \"In stock\": {\n            \"checkbox\": {}\n        },\n        \"Food group\": {\n            \"select\": {\n                \"options\": [\n                    {\n                        \"name\": \"🥦Vegetable\",\n                        \"color\": \"green\"\n                    },\n                    {\n                        \"name\": \"🍎Fruit\",\n                        \"color\": \"red\"\n                    },\n                    {\n                        \"name\": \"💪Protein\",\n                        \"color\": \"yellow\"\n                    }\n                ]\n            }\n        },\n        \"Price\": {\n            \"number\": {\n                \"format\": \"dollar\"\n            }\n        },\n        \"Last ordered\": {\n            \"date\": {}\n        },\n        \"Meals\": {\n          \"relation\": {\n            \"database_id\": \"668d797c-76fa-4934-9b05-ad288df2d136\",\n            \"single_property\": {}\n          }\n    \t\t},\n        \"Number of meals\": {\n          \"rollup\": {\n            \"rollup_property_name\": \"Name\",\n            \"relation_property_name\": \"Meals\",\n            \"function\": \"count\"\n          }\n        },\n        \"Store availability\": {\n            \"type\": \"multi_select\",\n            \"multi_select\": {\n                \"options\": [\n                    {\n                        \"name\": \"Duc Loi Market\",\n                        \"color\": \"blue\"\n                    },\n                    {\n                        \"name\": \"Rainbow Grocery\",\n                        \"color\": \"gray\"\n                    },\n                    {\n                        \"name\": \"Nijiya Market\",\n                        \"color\": \"purple\"\n                    },\n                    {\n                        \"name\": \"Gus'\\''s Community Market\",\n                        \"color\": \"yellow\"\n                    }\n                ]\n            }\n        },\n        \"+1\": {\n            \"people\": {}\n        },\n        \"Photo\": {\n            \"files\": {}\n        }\n    }\n}'"
          - language: javascript
            code: |-
              const { Client } = require('@notionhq/client');

              const notion = new Client({ auth: process.env.NOTION_API_KEY });

              (async () => {
                const response = await notion.databases.create({
                    parent: {
                      type: "page_id",
                      page_id: "98ad959b-2b6a-4774-80ee-00246fb0ea9b",
                    },
                    icon: {
                      type: "emoji",
                      emoji: "📝",
                    },
                    cover: {
                      type: "external",
                      external: {
                        url: "https://website.domain/images/image.png",
                      },
                    },
                    title: [
                      {
                        type: "text",
                        text: {
                          content: "Grocery List",
                          link: null,
                        },
                      },
                    ],
                    properties: {
                      Name: {
                        title: {},
                      },
                      Description: {
                        rich_text: {},
                      },
                      "In stock": {
                        checkbox: {},
                      },
                      "Food group": {
                        select: {
                          options: [
                            {
                              name: "🥦Vegetable",
                              color: "green",
                            },
                            {
                              name: "🍎Fruit",
                              color: "red",
                            },
                            {
                              name: "💪Protein",
                              color: "yellow",
                            },
                          ],
                        },
                      },
                      Price: {
                        number: {
                          format: "dollar",
                        },
                      },
                      "Last ordered": {
                        date: {},
                      },
                      Meals: {
                        relation: {
                          database_id: "668d797c-76fa-4934-9b05-ad288df2d136",
                          single_property: {},
                        },
                      },
                      "Number of meals": {
                        rollup: {
                          rollup_property_name: "Name",
                          relation_property_name: "Meals",
                          function: "count",
                        },
                      },
                      "Store availability": {
                        type: "multi_select",
                        multi_select: {
                          options: [
                            {
                              name: "Duc Loi Market",
                              color: "blue",
                            },
                            {
                              name: "Rainbow Grocery",
                              color: "gray",
                            },
                            {
                              name: "Nijiya Market",
                              color: "purple",
                            },
                            {
                              name: "Gus'''s Community Market",
                              color: "yellow",
                            },
                          ],
                        },
                      },
                      "+1": {
                        people: {},
                      },
                      Photo: {
                        files: {},
                      },
                    },
                  });
                console.log(response);
              })();
            name: Notion SDK for JavaScript
        samples-languages:
          - curl
          - javascript
  /v1/databases/{database_id}/query:
    post:
      tags:
        - Database
      summary: Query a database
      operationId: Database_executeQuery
      security: []
      description: ''
      parameters:
        - description: Identifier for a Notion database.
          name: database_id
          in: path
          schema:
            type: string
          required: true
        - description: >-
            A list of page property value IDs associated with the database. Use
            this param to limit the response to a specific page property value
            or values for pages that meet the `filter` criteria.
          name: filter_properties
          in: query
          schema:
            type: string
        - name: Notion-Version
          in: header
          required: true
          schema:
            type: string
            default: '2022-06-28'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DatabaseExecuteQueryRequest'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"object\": \"list\",\n  \"results\": [\n    {\n      \"object\": \"page\",\n      \"id\": \"59833787-2cf9-4fdf-8782-e53db20768a5\",\n      \"created_time\": \"2022-03-01T19:05:00.000Z\",\n      \"last_edited_time\": \"2022-07-06T20:25:00.000Z\",\n      \"created_by\": {\n        \"object\": \"user\",\n        \"id\": \"ee5f0f84-409a-440f-983a-a5315961c6e4\"\n      },\n      \"last_edited_by\": {\n        \"object\": \"user\",\n        \"id\": \"0c3e9826-b8f7-4f73-927d-2caaf86f1103\"\n      },\n      \"cover\": {\n        \"type\": \"external\",\n        \"external\": {\n          \"url\": \"https://upload.wikimedia.org/wikipedia/commons/6/62/Tuscankale.jpg\"\n        }\n      },\n      \"icon\": {\n        \"type\": \"emoji\",\n        \"emoji\": \"🥬\"\n      },\n      \"parent\": {\n        \"type\": \"database_id\",\n        \"database_id\": \"d9824bdc-8445-4327-be8b-5b47500af6ce\"\n      },\n      \"archived\": false,\n      \"properties\": {\n        \"Store availability\": {\n          \"id\": \"%3AUPp\",\n          \"type\": \"multi_select\",\n          \"multi_select\": [\n            {\n              \"id\": \"t|O@\",\n              \"name\": \"Gus's Community Market\",\n              \"color\": \"yellow\"\n            },\n            {\n              \"id\": \"{Ml\\\\\",\n              \"name\": \"Rainbow Grocery\",\n              \"color\": \"gray\"\n            }\n          ]\n        },\n        \"Food group\": {\n          \"id\": \"A%40Hk\",\n          \"type\": \"select\",\n          \"select\": {\n            \"id\": \"5e8e7e8f-432e-4d8a-8166-1821e10225fc\",\n            \"name\": \"🥬 Vegetable\",\n            \"color\": \"pink\"\n          }\n        },\n        \"Price\": {\n          \"id\": \"BJXS\",\n          \"type\": \"number\",\n          \"number\": 2.5\n        },\n        \"Responsible Person\": {\n          \"id\": \"Iowm\",\n          \"type\": \"people\",\n          \"people\": [\n            {\n              \"object\": \"user\",\n              \"id\": \"cbfe3c6e-71cf-4cd3-b6e7-02f38f371bcc\",\n              \"name\": \"Cristina Cordova\",\n              \"avatar_url\": \"https://lh6.googleusercontent.com/-rapvfCoTq5A/AAAAAAAAAAI/AAAAAAAAAAA/AKF05nDKmmUpkpFvWNBzvu9rnZEy7cbl8Q/photo.jpg\",\n              \"type\": \"person\",\n              \"person\": {\n                \"email\": \"cristina@makenotion.com\"\n              }\n            }\n          ]\n        },\n        \"Last ordered\": {\n          \"id\": \"Jsfb\",\n          \"type\": \"date\",\n          \"date\": {\n            \"start\": \"2022-02-22\",\n            \"end\": null,\n            \"time_zone\": null\n          }\n        },\n        \"Cost of next trip\": {\n          \"id\": \"WOd%3B\",\n          \"type\": \"formula\",\n          \"formula\": {\n            \"type\": \"number\",\n            \"number\": 0\n          }\n        },\n        \"Recipes\": {\n          \"id\": \"YfIu\",\n          \"type\": \"relation\",\n          \"relation\": [\n            {\n              \"id\": \"90eeeed8-2cdd-4af4-9cc1-3d24aff5f63c\"\n            },\n            {\n              \"id\": \"a2da43ee-d43c-4285-8ae2-6d811f12629a\"\n            }\n          ],\n\t\t\t\t\t\"has_more\": false\n        },\n        \"Description\": {\n          \"id\": \"_Tc_\",\n          \"type\": \"rich_text\",\n          \"rich_text\": [\n            {\n              \"type\": \"text\",\n              \"text\": {\n                \"content\": \"A dark \",\n                \"link\": null\n              },\n              \"annotations\": {\n                \"bold\": false,\n                \"italic\": false,\n                \"strikethrough\": false,\n                \"underline\": false,\n                \"code\": false,\n                \"color\": \"default\"\n              },\n              \"plain_text\": \"A dark \",\n              \"href\": null\n            },\n            {\n              \"type\": \"text\",\n              \"text\": {\n                \"content\": \"green\",\n                \"link\": null\n              },\n              \"annotations\": {\n                \"bold\": false,\n                \"italic\": false,\n                \"strikethrough\": false,\n                \"underline\": false,\n                \"code\": false,\n                \"color\": \"green\"\n              },\n              \"plain_text\": \"green\",\n              \"href\": null\n            },\n            {\n              \"type\": \"text\",\n              \"text\": {\n                \"content\": \" leafy vegetable\",\n                \"link\": null\n              },\n              \"annotations\": {\n                \"bold\": false,\n                \"italic\": false,\n                \"strikethrough\": false,\n                \"underline\": false,\n                \"code\": false,\n                \"color\": \"default\"\n              },\n              \"plain_text\": \" leafy vegetable\",\n              \"href\": null\n            }\n          ]\n        },\n        \"In stock\": {\n          \"id\": \"%60%5Bq%3F\",\n          \"type\": \"checkbox\",\n          \"checkbox\": true\n        },\n        \"Number of meals\": {\n          \"id\": \"zag~\",\n          \"type\": \"rollup\",\n          \"rollup\": {\n            \"type\": \"number\",\n            \"number\": 2,\n            \"function\": \"count\"\n          }\n        },\n        \"Photo\": {\n          \"id\": \"%7DF_L\",\n          \"type\": \"url\",\n          \"url\": \"https://i.insider.com/612fb23c9ef1e50018f93198?width=1136&format=jpeg\"\n        },\n        \"Name\": {\n          \"id\": \"title\",\n          \"type\": \"title\",\n          \"title\": [\n            {\n              \"type\": \"text\",\n              \"text\": {\n                \"content\": \"Tuscan kale\",\n                \"link\": null\n              },\n              \"annotations\": {\n                \"bold\": false,\n                \"italic\": false,\n                \"strikethrough\": false,\n                \"underline\": false,\n                \"code\": false,\n                \"color\": \"default\"\n              },\n              \"plain_text\": \"Tuscan kale\",\n              \"href\": null\n            }\n          ]\n        }\n      },\n      \"url\": \"https://www.notion.so/Tuscan-kale-598337872cf94fdf8782e53db20768a5\"\n    }\n  ],\n  \"next_cursor\": null,\n  \"has_more\": false,\n  \"type\": \"page_or_database\",\n\t\"page_or_database\": {}\n}"
              schema:
                $ref: '#/components/schemas/DatabaseExecuteQueryResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/DatabaseExecuteQuery400Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: curl
            code: >-
              curl -X POST
              'https://api.notion.com/v1/databases/897e5a76ae524b489fdfe71f5945d1af/query'
              \
                -H 'Authorization: Bearer '"$NOTION_API_KEY"'' \
                -H 'Notion-Version: 2022-06-28' \
                -H "Content-Type: application/json" \
              --data '{
                "filter": {
                  "or": [
                    {
                      "property": "In stock",
              "checkbox": {

              "equals": true

              }
                    },
                    {
              "property": "Cost of next trip",

              "number": {

              "greater_than_or_equal_to": 2

              }

              }

              ]

              },
                "sorts": [
                  {
                    "property": "Last ordered",
                    "direction": "ascending"
                  }
                ]
              }'
          - language: javascript
            code: |-
              const { Client } = require('@notionhq/client');

              const notion = new Client({ auth: process.env.NOTION_API_KEY });

              (async () => {
                const databaseId = 'd9824bdc-8445-4327-be8b-5b47500af6ce';
                const response = await notion.databases.query({
                  database_id: databaseId,
                  filter: {
                    or: [
                      {
                        property: 'In stock',
                        checkbox: {
                          equals: true,
                        },
                      },
                      {
                        property: 'Cost of next trip',
                        number: {
                          greater_than_or_equal_to: 2,
                        },
                      },
                    ],
                  },
                  sorts: [
                    {
                      property: 'Last ordered',
                      direction: 'ascending',
                    },
                  ],
                });
                console.log(response);
              })();
        samples-languages:
          - curl
          - javascript
  /v1/databases/{database_id}:
    get:
      tags:
        - Database
      summary: Retrieve a database
      operationId: Database_getDatabase
      security: []
      description: ''
      parameters:
        - description: An identifier for the Notion database.
          name: database_id
          in: path
          schema:
            type: string
          required: true
        - name: Notion-Version
          in: header
          required: true
          schema:
            type: string
            default: '2022-06-28'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "object": "database",
                        "id": "bc1211ca-e3f1-4939-ae34-5260b16f627c",
                        "created_time": "2021-07-08T23:50:00.000Z",
                        "last_edited_time": "2021-07-08T23:50:00.000Z",
                        "icon": {
                            "type": "emoji",
                            "emoji": "🎉"
                        },
                        "cover": {
                            "type": "external",
                            "external": {
                                "url": "https://website.domain/images/image.png"
                            }
                        },
                        "url": "https://www.notion.so/bc1211cae3f14939ae34260b16f627c",
                        "title": [
                            {
                                "type": "text",
                                "text": {
                                    "content": "Grocery List",
                                    "link": null
                                },
                                "annotations": {
                                    "bold": false,
                                    "italic": false,
                                    "strikethrough": false,
                                    "underline": false,
                                    "code": false,
                                    "color": "default"
                                },
                                "plain_text": "Grocery List",
                                "href": null
                            }
                        ],
                        "description": [
                            {
                                "type": "text",
                                "text": {
                                    "content": "Grocery list for just kale 🥬",
                                    "link": null
                                },
                                "annotations": {
                                    "bold": false,
                                    "italic": false,
                                    "strikethrough": false,
                                    "underline": false,
                                    "code": false,
                                    "color": "default"
                                },
                                "plain_text": "Grocery list for just kale 🥬",
                                "href": null
                            }
                        ],
                        "properties": {
                            "+1": {
                                "id": "Wp%3DC",
                                "name": "+1",
                                "type": "people",
                                "people": {}
                            },
                            "In stock": {
                                "id": "fk%5EY",
                                "name": "In stock",
                                "type": "checkbox",
                                "checkbox": {}
                            },
                            "Price": {
                                "id": "evWq",
                                "name": "Price",
                                "type": "number",
                                "number": {
                                    "format": "dollar"
                                }
                            },
                            "Description": {
                                "id": "V}lX",
                                "name": "Description",
                                "type": "rich_text",
                                "rich_text": {}
                            },
                            "Last ordered": {
                                "id": "eVnV",
                                "name": "Last ordered",
                                "type": "date",
                                "date": {}
                            },
                            "Meals": {
                                "id": "%7DWA~",
                                "name": "Meals",
                                "type": "relation",
                                "relation": {
                                    "database_id": "668d797c-76fa-4934-9b05-ad288df2d136",
                                    "synced_property_name": "Related to Grocery List (Meals)"
                                }
                            },
                            "Number of meals": {
                                "id": "Z\\Eh",
                                "name": "Number of meals",
                                "type": "rollup",
                                "rollup": {
                                    "rollup_property_name": "Name",
                                    "relation_property_name": "Meals",
                                    "rollup_property_id": "title",
                                    "relation_property_id": "mxp^",
                                    "function": "count"
                                }
                            },
                            "Store availability": {
                                "id": "s}Kq",
                                "name": "Store availability",
                                "type": "multi_select",
                                "multi_select": {
                                    "options": [
                                        {
                                            "id": "cb79b393-d1c1-4528-b517-c450859de766",
                                            "name": "Duc Loi Market",
                                            "color": "blue"
                                        },
                                        {
                                            "id": "58aae162-75d4-403b-a793-3bc7308e4cd2",
                                            "name": "Rainbow Grocery",
                                            "color": "gray"
                                        },
                                        {
                                            "id": "22d0f199-babc-44ff-bd80-a9eae3e3fcbf",
                                            "name": "Nijiya Market",
                                            "color": "purple"
                                        },
                                        {
                                            "id": "0d069987-ffb0-4347-bde2-8e4068003dbc",
                                            "name": "Gus's Community Market",
                                            "color": "yellow"
                                        }
                                    ]
                                }
                            },
                            "Photo": {
                                "id": "yfiK",
                                "name": "Photo",
                                "type": "files",
                                "files": {}
                            },
                            "Food group": {
                                "id": "CM%3EH",
                                "name": "Food group",
                                "type": "select",
                                "select": {
                                    "options": [
                                        {
[...]
