openapi: 3.0.3
info:
  title: Officient API
  description: >-
    Officient offers an intuitive HRIS which helps manage all personnel
    administration through our HR platform & personalized employee
    self-services. Manage payroll, company assets, contracts, days off, fleet,
    performance reviews and all employee data in one HR system. HR deserves
    great software and we're here to provide it.


    We support our customers in transforming HR towards paperless administration
    and automating tedious workforce management tasks in the process. Our goal?
    Transform HR from an administrative, processing role, to a controlling role
    which fuels HR strategy across the organization.
  version: '1.0'
  x-konfig-ignore:
    object-with-no-properties: true
    potential-incorrect-type: true
servers:
  - url: https://api.officient.io
tags:
  - name: Person
  - name: Expense
  - name: Asset
  - name: Contract
  - name: Budget
  - name: Vehicle
  - name: Document
  - name: Team
  - name: Webhook
  - name: CalendarRequest
  - name: CustomField
  - name: Component
  - name: Function
  - name: Department
  - name: CostUnit
  - name: CostCenter
  - name: Authentication
  - name: Invitation
  - name: CustomEventType
  - name: Account
  - name: CalendarState
  - name: PriorityScheme
paths:
  /1.0/people/list:
    get:
      tags:
        - Person
      summary: List people
      operationId: Person_listPeople
      description: ''
      parameters:
        - description: >-
            Controls pagination (0, 1, 2, ..) to view all results. 30 items per
            page.
          name: page
          in: query
          required: true
          schema:
            type: integer
            format: int32
            default: 0
        - description: Include archived people in response
          name: include_archived
          in: query
          schema:
            type: integer
            format: int32
            default: 0
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"data\": [{\n            \"id\": 264,\n            \"name\": \"Walter White\",\n            \"email\": \"walter@white.com\",\n            \"role_name\": \"Chemist\",\n            \"archived\": 0,\n            \"linked_payroll_provider_external_id\": \"123\",\n      \t\t\t\"payroll_provider\": \"DemoPayroll\",\n      \t\t\t\"linked_integration_alias\": \"DM\"\n        },\n        {\n            \"id\": 263,\n            \"name\": \"Gustavo Fring\",\n            \"email\": null,\n            \"role_name\": \"Investor\",\n            \"archived\": 0,\n            \"linked_payroll_provider_external_id\": \"124\",\n          \t\"payroll_provider\": \"DemoPayroll\",\n      \t\t\t\"linked_integration_alias\": \"DM\"\n        },\n        {\n            \"id\": 262,\n            \"name\": \"Jesse Pinkman\",\n            \"email\": \"jesse@white.com\",\n            \"role_name\": \"Assistant\",\n            \"archived\": 1,\n            \"linked_payroll_provider_external_id\": \"125\",\n          \t\"payroll_provider\": \"\",\n      \t\t\t\"linked_integration_alias\": \"\"\n        }\n    ],\n    \"total_record_count\": 3 \n}"
              schema:
                $ref: '#/components/schemas/PersonListPeopleResponse'
      deprecated: false
  /1.0/token:
    post:
      tags:
        - Authentication
      summary: Get access token
      operationId: Authentication_getAccessToken
      security: []
      description: ''
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthenticationGetAccessTokenRequest'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "access_token": "8c649d8be4971bef5eaf53b1484158c74b4ee979",
                        "expires_in": 3600,
                        "token_type": "Bearer",
                        "scope": "admin",
                        "refresh_token": "fed4845d2aacf5ef438b91a319c73190c1480675"
                    }
              schema:
                $ref: '#/components/schemas/AuthenticationGetAccessTokenResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/AuthenticationGetAccessToken400Response'
      deprecated: false
  /1.0/wages/{person_id}/current:
    get:
      tags:
        - Person
      summary: Current wage
      operationId: Person_getCurrentWage
      description: Get the current wage details for one person
      parameters:
        - description: The person you would like to receive wage information on
          name: person_id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "data": {
                        "id": 4451960,
                        "start_date": "2017-01-15",
                        "end_date": "2018-01-15",
                        "estimated_monthly_total": 4394,
                        "currency": "EUR",
                        "type": "employee_paid_monthly",
                        "rate": 2750,
                        "created_at": 1588595358,
                        "updated_at": 1588595358,
                        "registration_country_code": "BE",
                        "estimated_monthly_cost": {
                          "base_components": {
                            "base_rate": 2750,
                            "social_contributions": 885,
                            "end_of_year_bonus": 245.83,
                            "retirement_plan": 136.92,
                            "holiday_pay": 226.17,
                            "hospitalization_insurance": 0,
                            "net_allowance": 0,
                            "car": 0
                          },
                          "custom_components": [
                            {
                              "description": "maaltijdcheques",
                              "monthly_value": 149.74
                            }
                          ]
                        },
                        "weekly_time_engagement_minutes": {
                          "monday": 480,
                          "tuesday": 480,
                          "wednesday": 480,
                          "thursday": 480,
                          "friday": 480,
                          "saturday": 0,
                          "sunday": 0
                        },
                        "custom_payroll_data": {
                          "contract_type": "internship"
                        },
                        "termination_reason": "notice_by_employer",
                        "multiple_week_schedule": {
                          "schedule_start_date": "2016-01-15",
                          "weeks": [
                            {
                              "week_nr": 1,
                              "weekly_time_engagement_minutes": {
                                "monday": 640,
                                "tuesday": 640,
                                "wednesday": 456,
                                "thursday": 456,
                                "friday": 456,
                                "saturday": 0,
                                "sunday": 0
                              }
                            },
                            {
                              "week_nr": 2,
                              "weekly_time_engagement_minutes": {
                                "monday": 0,
                                "tuesday": 0,
                                "wednesday": 456,
                                "thursday": 456,
                                "friday": 456,
                                "saturday": 0,
                                "sunday": 0
                              }
                            }
                          ]
                        },
                        "contract_index_number": 1  
                      }
                    }
              schema:
                $ref: '#/components/schemas/PersonGetCurrentWageResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/PersonGetCurrentWage400Response'
      deprecated: false
  /1.0/people/selfservice/invite_link:
    post:
      tags:
        - Invitation
      summary: Self-service invitation
      operationId: Invitation_generateSecretUrl
      description: >-
        Generate a secret URL that brings a person straight to the HR
        self-service platform.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvitationGenerateSecretUrlRequest'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "data": {
                            "secret_url": "https://selfservice.officient.io/login/token/642/2564/765/Gq1vfrX6u4C6DqTDFX6nIA1S0kX7ljLSzCe/"
                        }
                    }
              schema:
                $ref: '#/components/schemas/InvitationGenerateSecretUrlResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/InvitationGenerateSecretUrl400Response'
      deprecated: false
  /1.0/wages/{person_id}/history:
    get:
      tags:
        - Person
      summary: Wage history
      operationId: Person_getWageHistory
      description: Get the entire wage history for one person
      parameters:
        - description: The person you need the wage history for
          name: person_id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "data": [
                        {
                          "id": 234252342,
                          "start_date": "2017-01-15",
                          "end_date": "",
                          "estimated_monthly_total": 4894,
                          "currency": "EUR",
                          "type": "employee_paid_monthly",
                          "rate": 3250,
                          "created_at": 1588595358,
                          "updated_at": 1588595358,
                          "registration_country_code": "BE",
                          "estimated_monthly_cost": {
                            "base_components": {
                              "base_rate": 3250,
                              "social_contributions": 885,
                              "end_of_year_bonus": 245.83,
                              "retirement_plan": 136.92,
                              "holiday_pay": 226.17,
                              "hospitalization_insurance": 0,
                              "net_allowance": 0,
                              "car": 0
                            },
                            "custom_components": [
                              {
                                "description": "maaltijdcheques",
                                "monthly_value": 149.74
                              }
                            ]
                          },
                          "weekly_time_engagement_minutes": {
                            "monday": 456,
                            "tuesday": 456,
                            "wednesday": 456,
                            "thursday": 456,
                            "friday": 456,
                            "saturday": 0,
                            "sunday": 0
                          },
                          "custom_payroll_data": {
                            "contract_type": "internship"
                          },
                          "termination_reason": "",
                          "multiple_week_schedule": null
                        },
                        {
                          "id": 23425231,
                          "start_date": "2016-01-15",
                          "end_date": "2017-01-14",
                          "estimated_monthly_total": 4594,
                          "currency": "EUR",
                          "type": "employee_paid_monthly",
                          "rate": 2950,
                          "created_at": 1586003358,
                          "updated_at": 1588595358,
                          "registration_country_code": "BE",
                          "estimated_monthly_cost": {
                            "base_components": {
                              "base_rate": 2950,
                              "social_contributions": 885,
                              "end_of_year_bonus": 245.83,
                              "retirement_plan": 136.92,
                              "holiday_pay": 226.17,
                              "hospitalization_insurance": 0,
                              "net_allowance": 0,
                              "car": 0
                            },
                            "custom_components": [
                              
                            ]
                          },
                          "weekly_time_engagement_minutes": {
                            "monday": 640,
                            "tuesday": 640,
                            "wednesday": 456,
                            "thursday": 456,
                            "friday": 456,
                            "saturday": 0,
                            "sunday": 0
                          },
                          "custom_payroll_data": null,
                          "termination_reason": "end_of_contract",
                          "multiple_week_schedule": {
                            "schedule_start_date": "2016-01-15",
                            "weeks": [
                              {
                                "week_nr": 1,
                                "weekly_time_engagement_minutes": {
                                  "monday": 640,
                                  "tuesday": 640,
                                  "wednesday": 456,
                                  "thursday": 456,
                                  "friday": 456,
                                  "saturday": 0,
                                  "sunday": 0
                                }
                              },
                              {
                                "week_nr": 2,
                                "weekly_time_engagement_minutes": {
                                  "monday": 0,
                                  "tuesday": 0,
                                  "wednesday": 456,
                                  "thursday": 456,
                                  "friday": 456,
                                  "saturday": 0,
                                  "sunday": 0
                                }
                              }
                            ]
                          },
                          "contract_index_number": 1
                        }
                      ]
                    }
              schema:
                $ref: '#/components/schemas/PersonGetWageHistoryResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/PersonGetWageHistory400Response'
      deprecated: false
  /1.0/assets/list:
    get:
      tags:
        - Asset
      summary: List assets
      operationId: Asset_listAssets
      description: List all assets
      parameters:
        - description: >-
            Controls pagination (0, 1, 2, ..) to view all results. 30 items per
            page.
          name: page
          in: query
          schema:
            type: integer
            format: int32
            default: 0
        - description: view only assets that belong to a specific person
          name: person_id
          in: query
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "data": [{
                                "id": 38,
                                "name": "HTC HD2",
                                "owner": {
                                    "id": 264,
                                    "name": "Randy Marsh"
                                }
                            },
                            {
                                "id": 37,
                                "name": "HP Z Display Z34c",
                                "owner": {
                                    "id": 41,
                                    "name": "Michiel Bearelle"
                                }
                            },
                            {
                                "id": 36,
                                "name": "Acer Aspire One",
                                "owner": {
                                    "id": null,
                                    "name": null
                                }
                            }
                        ]
                    }
              schema:
                $ref: '#/components/schemas/AssetListAssetsResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/AssetListAssets400Response'
      deprecated: false
  /1.0/assets/{asset_id}/detail:
    get:
      tags:
        - Asset
      summary: Asset detail
      operationId: Asset_getDetail
      description: Get details about one asset
      parameters:
        - name: asset_id
          in: path
          schema:
            type: integer
            format: int32
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "data": {
                            "id": 38,
                            "name": "Acer Aspire One",
                            "price": "1000.00",
                            "deleted": 0,
                            "picture": "",
                            "serial_number": "AE1564",
                            "vendor": "Coolblue",
                            "owner": {
                                "id": 264,
                                "name": "Randy Marsh",
                                "avatar": "https://www.gravatar.com/avatar/525ceb06bc8862932d853a033411e3b7?d=404"
                            },
                            "custom_fields": [{
                                "custom_field_name": "Einddatum",
                                "custom_field_id": 2,
                                "value": "",
                                "value_name": null,
                                "type": "date"
                            }]
                        }
                    }
              schema:
                $ref: '#/components/schemas/AssetGetDetailResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/AssetGetDetail400Response'
      deprecated: false
  /1.0/fleet/{vehicle_id}/detail:
    get:
      tags:
        - Vehicle
      summary: Vehicle detail
      operationId: Vehicle_getDetail
      description: Get details about one vehicle in the fleet
      parameters:
        - name: vehicle_id
          in: path
          schema:
            type: integer
            format: int32
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "data": {
                            "id": 18,
                            "type": "car",
                            "brand": "Citroen",
                            "model": "Xsara",
                            "fuel": "gas",
                            "plate": "1-NZH-879",
                            "hp": 70,
                            "co2_g_km": 120,
                            "chassis_number": "AEFSF_FSF54546",
                            "color": "yellow",
                            "supplier": "",
                            "contract_type": "",
                            "catalogue_value": "20000",
                            "date_first_registration": "1999-01-15",
                            "specifics": "",
                            "yearly_cost": {
                                "base": "10000",
                                "operational": "10000"
                            },
                            "deleted": 0,
                            "owner": {
                                "id": 38,
                                "name": "Michael",
                                "avatar": "https://www.gravatar.com/avatar/d29de674eecaad6bab4c8c4dde00dfde?d=404"
                            },
                            "custom_fields": [{
                                "custom_field_name": "Lease date",
                                "custom_field_id": 2,
                                "value": "",
                                "value_name": null,
                                "type": "date"
                            }]
                        }
                    }
              schema:
                $ref: '#/components/schemas/VehicleGetDetailResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/VehicleGetDetail400Response'
      deprecated: false
  /1.0/fleet/list:
    get:
      tags:
        - Vehicle
      summary: List vehicles
      operationId: Vehicle_getAllVehicles
      description: Get a list of all vehicles in the fleet
      parameters:
        - description: >-
            Controls pagination (0, 1, 2, ..) to view all results. 30 items per
            page.
          name: page
          in: query
          required: true
          schema:
            type: integer
            format: int32
            default: 0
        - description: view only vehicles that belong to a specific person
          name: person_id
          in: query
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "data": [{
                                "id": 19,
                                "type": "bicycle",
                                "brand": "Brompton",
                                "model": "H-3-R",
                                "owner": {
                                    "id": 2790,
                                    "name": "Al Gore"
                                }
                            },
                            {
                                "id": 18,
                                "type": "car",
                                "brand": "Chevy",
                                "model": "Volt",
                                "owner": {
                                    "id": 38,
                                    "name": "Nancy Pelosi"
                                }
                            },
                            {
                                "id": 17,
                                "type": "motorbike",
                                "brand": "BMW",
                                "model": "F 700 GS",
                                "owner": {
                                    "id": 265,
                                    "name": "Maarten"
                                }
                            }
                        ]
                    }
              schema:
                $ref: '#/components/schemas/VehicleGetAllVehiclesResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/VehicleGetAllVehicles400Response'
      deprecated: false
  /1.0/contracts/list:
    get:
      tags:
        - Contract
      summary: List contracts
      operationId: Contract_getAll
      description: Get a list of all contracts
      parameters:
        - description: >-
            Controls pagination (0, 1, 2, ..) to view all results. 30 items per
            page.
          name: page
          in: query
          required: true
          schema:
            type: integer
            format: int32
            default: 0
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "data": [
                            {
                                "id": 1093,
                                "name": "Arbeidscontract",
                                "owner": {
                                    "id": 45465,
                                    "name": "Dr. Dre"
                                }
                            },
                            {
                                "id": 1092,
                                "name": "Non disclosure agreement",
                                "owner": {
                                    "id": 4564,
                                    "name": "John I."
                                }
                            },
                            {
                                "id": 1091,
                                "name": "Letter of Intent",
                                "owner": {
                                    "id": 45116,
                                    "name": "Jason B."
                                }
                            }
                        ]
                    }
              schema:
                $ref: '#/components/schemas/ContractGetAllResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/ContractGetAll400Response'
      deprecated: false
  /1.0/contracts/{contract_id}/detail:
    get:
      tags:
        - Contract
      summary: Contract detail
      operationId: Contract_getDetail
      description: Get details about one contract
      parameters:
        - name: contract_id
          in: path
          schema:
            type: integer
            format: int32
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "data": {
                            "id": 1093,
                            "name": "Arbeidscontract",
                            "owner": {
                                "id": 20184,
                                "name": "Dr. Dre",
                                "avatar": "https://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=404"
                            },
                            "signatures": [
                                {
                                    "type": "internal",
                                    "status": "signed",
                                    "signer": {
                                        "type": "user",
                                        "id": 44564,
                                        "name": "Tim Cook"
                                    },
                                    "date_signed": "2014-06-02"
                                },
                                {
                                    "type": "employee",
                                    "status": "signed",
                                    "signer": {
                                        "type": "employee",
                                        "id": 45045465,
                                        "name": "Dr. Dre"
                                    },
                                    "date_signed": "2014-06-03"
                                },
                                {
                                    "type": "second_internal",
                                    "status": "signed",
                                    "signer": {
                                        "type": "user",
                                        "id": 44565,
                                        "name": "Dr. Phe"
                                    },
                                    "date_signed": "2014-06-04"
                                }
                            ],
                            "date_created": "2014-06-01",
                            "date_sent": "2014-06-01",
                            "deleted": 0,
                            "custom_fields": [{
                                "custom_field_name": "Importance",
                                "custom_field_id": 22,
                                "value": "152",
                                "value_name": 'High',
                                "type": "select_option"
                            }]
                        }
                    }
              schema:
                $ref: '#/components/schemas/ContractGetDetailResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/ContractGetDetail400Response'
      deprecated: false
  /1.0/contracts/{contract_id}/pdf:
    get:
      tags:
        - Contract
      summary: Contract PDF
      operationId: Contract_getPdfLink
      description: Get a PDF download link for any contract
      parameters:
        - name: contract_id
          in: path
          schema:
            type: integer
            format: int32
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "data": {
                            "download_url": "https://cloud.document.url/456461/downloadpdf"
                        }
                    }
              schema:
                $ref: '#/components/schemas/ContractGetPdfLinkResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/ContractGetPdfLink400Response'
      deprecated: false
  /1.0/calendar/{person_id}/{year}/{month}:
    get:
      tags:
        - Person
      summary: Monthly calendar
      operationId: Person_getMonthlyCalendar
      description: >-
        List the time off, overtime & scheduled time for a single person for an
        entire month
      parameters:
        - description: The person you would like to receive calender information on
          name: person_id
          in: path
          schema:
            type: integer
            format: int32
          required: true
        - name: year
          in: path
          schema:
            type: integer
            format: int32
          required: true
        - name: month
          in: path
          schema:
            type: integer
            format: int32
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "data": {
                            "time_off": [
                                {
                                    "date": "2018-04-01",
                                    "scheduled_minutes": 0,
                                    "events": []
                                },
                                {
                                    "date": "2018-04-02",
                                    "scheduled_minutes": 456,
                                    "events": []
                                },
                                {
                                    "date": "2018-04-03",
                                    "scheduled_minutes": 456,
                                    "events": [
                                        {
                                            "id": 123,
                                            "name": "Sick day",
                                            "event_type": "sick_day",
                                            "custom_day_off_type_id": "",
                                            "date": "2018-04-03",
                                            "duration_minutes": 456,
                                            "start_time_minutes" : 540,
                                            "type": "time_off",
                                            "working": 0,
                                            "status": "approved",
                                            "color": ""
                                        }
                                    ]
                                },
                                {
                                    "date": "2018-04-04",
                                    "scheduled_minutes": 456,
                                    "events": [
                                        {
                                            "id": 124,
                                            "name": "Overtime",
                                            "event_type": "custom",
                                            "custom_day_off_type_id": "123",
                                            "date": "2018-04-04",
                                            "duration_minutes": 60,
                                            "start_time_minutes" : 780,
                                            "type": "overtime",
                                            "working": 1,
                                            "status": "approved",
                                            "color": "a24689"
                                        },
                                        {
                                            "id": 125,
                                            "name": "Verlof",
                                            "event_type": "custom",
                                            "custom_day_off_type_id": "80",
                                            "date": "2018-04-04",
                                            "duration_minutes": 456,
                                            "start_time_minutes" : 540,
                                            "type": "time_off",
                                            "working": 0,
                                            "status": "approved",
                                            "color": "a24689"
                                        }
                                    ]
                                },
                                {
                                    "date": "2018-04-05",
                                    "scheduled_minutes": 456,
                                    "events": [
                                        {
                                            "id": 128,
                                            "name": "Training Day",
                                            "event_type": "education",
                                            "custom_day_off_type_id": "",
                                            "date": "2018-04-05",
                                            "duration_minutes": 456,
                                            "start_time_minutes" : 540,
                                            "type": "time_off",
                                            "working": 1,
                                            "status": "approved",
                                            "color": ""
                                        }
                                    ]
                                },
                                {
                                    "date": "2018-04-29",
                                    "scheduled_minutes": 0,
                                    "events": []
                                },
                                {
                                    "date": "2018-04-30",
                                    "scheduled_minutes": 456,
                                    "events": []
                                }
                            ],
                            "company_days_off": [
                                {
                                    "name": "EASTER_MONDAY",
                                    "date": "2018-04-02"
                                }
                            ]
                        }
                    }
              schema:
                $ref: '#/components/schemas/PersonGetMonthlyCalendarResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/PersonGetMonthlyCalendar400Response'
      deprecated: false
  /1.0/teams/list:
    get:
      tags:
        - Team
      summary: List teams
      operationId: Team_getAllTeams
      description: List all teams
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "data": [
                            {
                                "id": 4,
                                "name": "Sales team"
                            },
                            {
                                "id": 80,
                                "name": "Development team"
                            }
                        ]
                    }
              schema:
                $ref: '#/components/schemas/TeamGetAllTeamsResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/TeamGetAllTeams400Response'
      deprecated: false
  /1.0/people/add:
    post:
      tags:
        - Person
      summary: Add person
      operationId: Person_addNew
      description: Add a new person to Officient
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "data": {
                            "id": "80"
                        }
                    }
              schema:
                $ref: '#/components/schemas/PersonAddNewResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/PersonAddNew400Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: http
            code: |-
              {
                "name": "Joan Lewis",
                "email": "joan@your.co",
                "personal_email": "",
                "phone": ""
              }
        samples-languages:
          - http
  /1.0/calendar/events/types/{year}:
    get:
      tags:
        - CustomEventType
      summary: Custom event types
      operationId: CustomEventType_getList
      description: >-
        fetch a list of custom event types including time off types, overtime
        types,..
      parameters:
        - description: the year you want custom event type to be returned for
          name: year
          in: path
          schema:
            type: integer
            format: int32
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "data": [
                            {
                                "id": 1350,
                                "name": "Holidays",
                                "alias": "Holidays",
                                "active": 1,
                                "color": "a24689",
                                "interpretation": "time_off",
                                "integrations": [
                                    {
                                        "app": "sdworx",
                                        "code": "122"
                                    }
                                ]
                            },
                            {
                                "id": 1434,
                                "name": "Paid holiday",
                                "alias": "Paid holiday",
                                "active": 1,
                                "color": "7986c9",
                                "interpretation": "time_off",
                                "integrations": [
                                    {
                                        "app": "acerta",
                                        "code": "192"
                                    }
                                ]
                            },
                            {
                                "id": 1390,
                                "name": "Overtime",
                                "alias": "Overtime",
                                "active": 0,
                                "color": "35b579",
                                "interpretation": "overtime",
                                "integrations": [
                                    {
                                        "app": "liantis",
                                        "code": "100"
                                    }
                                ]
                            }
                          ]
                    }
              schema:
                $ref: '#/components/schemas/CustomEventTypeGetListResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/CustomEventTypeGetList400Response'
      deprecated: false
  /1.0/calendar/{person_id}/events/add:
    post:
      tags:
        - Person
      summary: Add event
      operationId: Person_addToCalendar
      description: Add new events to a calender (eg a day off, overtime,..)
      parameters:
        - name: person_id
          in: path
          schema:
            type: integer
            format: int32
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "success": 1
                    }
              schema:
                $ref: '#/components/schemas/PersonAddToCalendarResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "status_code": 400,
                        "reason_phrase": "There is already too much time off planned on 29/12/2018."
                    }
              schema:
                $ref: '#/components/schemas/PersonAddToCalendar400Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: http
            code: |-
              {  
                 "type":"custom",
                 "custom_day_off_type_id":"1103",
                 "events":[  
                    {  
                       "date":"2018-12-29",
                       "start_time_minutes":540,
                       "duration_minutes":480
                    }
                 ]
              }
            name: Adding an event with a custom day off type
          - language: http
            code: |-
              {  
                 "type":"sick_day",
                 "custom_day_off_type_id":"1103",
                 "events":[  
                    {  
                       "date":"2018-01-25",
                       "start_time_minutes":540,
                       "duration_minutes":"all_day"
                    },
                    {  
                       "date":"2018-01-25",
                       "start_time_minutes":540,
                       "duration_minutes":"all_day"
                    }
                 ]
              }
            name: Adding 2 sick days
        samples-languages:
          - http
  /1.0/calendar/{person_id}/events/{event_id}:
    delete:
      tags:
        - Person
      summary: Delete event
      operationId: Person_removeEvent
      description: Remove an event from the calender, such as a day off
      parameters:
        - name: person_id
          in: path
          schema:
            type: integer
            format: int32
          required: true
        - name: event_id
          in: path
          schema:
            type: integer
            format: int32
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "success": 1
                    }
              schema:
                $ref: '#/components/schemas/PersonRemoveEventResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "status_code": 400,
                        "reason_phrase": "No event found for that event_id."
                    }
              schema:
                $ref: '#/components/schemas/PersonRemoveEvent400Response'
      deprecated: false
  /1.0/calendar/{person_id}/{year}/{month}/{day}/work:
    patch:
      tags:
        - Person
      summary: Update time worked
      operationId: Person_updateTimeWorked
      description: >-
        Overwrite the amount of time worked on a certain day (eg for
        timetracking software integrations)
      parameters:
        - name: person_id
          in: path
          schema:
            type: integer
            format: int32
          required: true
        - name: year
          in: path
          schema:
            type: integer
            format: int32
          required: true
        - name: month
          in: path
          schema:
            type: integer
            format: int32
          required: true
        - name: day
          in: path
          schema:
            type: integer
            format: int32
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "success": 1
                    }
              schema:
                $ref: '#/components/schemas/PersonUpdateTimeWorkedResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "status_code": 400,
                        "reason_phrase": "Given date '2018-24-24' doesn't exist."
                    }
              schema:
                $ref: '#/components/schemas/PersonUpdateTimeWorked400Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: http
            code: "{\n\t\"duration_minutes\": \"120\"\n}"
            name: Set time worked on a given day to 2 hours
        samples-languages:
          - http
  /1.0/calendar/{person_id}/{year}/{month}/{day}/work/reset:
    post:
      tags:
        - Person
      summary: Reset time worked
      operationId: Person_resetTimeWorked
      description: >-
        reset the time worked on a given day to the regular work schedule for
        one person
      parameters:
        - name: person_id
          in: path
          schema:
            type: integer
            format: int32
          required: true
        - name: year
          in: path
          schema:
            type: integer
            format: int32
          required: true
        - name: month
          in: path
          schema:
            type: integer
            format: int32
          required: true
        - name: day
          in: path
          schema:
            type: integer
            format: int32
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/PersonResetTimeWorkedResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/PersonResetTimeWorked400Response'
      deprecated: false
  /1.0/people/{person_id}/detail:
    patch:
      tags:
        - Person
      summary: Edit person
      operationId: Person_editDetail
      description: ''
      parameters:
        - name: person_id
          in: path
          schema:
            type: integer
            format: int32
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "success": 1
                    }
              schema:
                $ref: '#/components/schemas/PersonEditDetailResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: >-
                    {"status_code":400,"reason_phrase":"Invalid date found :
                    16/13/1989"}
              schema:
                $ref: '#/components/schemas/PersonEditDetail400Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: http
            code: |-
              {
                "name": "Leroy Jenkins",
                "birthdate": "16/05/1989",
                "email": "leroy@blizzard.co",
                "personal_email": "leroy@hotmail.com",
                "phone": "+44 741 5468 154",
                "team_id": 840,
                "place_of_birth": "Londen",
                "nationality_country_code": "GB",
                "national_number": "82.424.343.XX",
                "address_country_code": "BE",
                "address_line_1": "Kortrijksesteenweg 181",
                "address_line_2": "",
                "address_zipcode": "9000",
                "address_city": "Gent",
                "address_state": "",
                "bank_account_iban": "BEXXXXYYYY123",
                "bank_account_bic": "AREVFRPP",
                "preferred_language_code": "nl",
                "gender": "male"
              }
        samples-languages:
          - http
    get:
      tags:
        - Person
      summary: Person detail
      operationId: Person_getDetail
      description: ''
      parameters:
        - name: person_id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"data\": {\n        \"id\": 264,\n        \"deleted\": 0,\n        \"name\": \"Walter White\",\n        \"first_name\": \"Walter\",\n        \"last_name\": \"White\",\n        \"created_at\": 1588175657,\n        \"preferred_language_code\": \"nl\",\n        \"email\": \"walter@white.com\",\n        \"personal_email\": \"walter.white@gmail.com\",\n        \"national_number\": \"90.12.12-001.61\",\n        \"social_security_nr\": \"XB-1234321\", \n        \"birthdate\": \"1966-12-31\",\n        \"birthplace\": \"Gent\",\n        \"avatar\": \"https://www.gravatar.com/avatar/525ceb06bc8862932d853a033411e3b7?d=404\",\n        \"linked_payroll_provider\": \"acerta\",\n        \"linked_payroll_employee_id\": \"\",\n        \"linked_payroll_employee_number\": \"\",\n        \"dependent_adults_below_65\": 0,\n        \"dependent_children\": 1,\n        \"dependent_adults_above_65\": 0,\n        \"dependent_disabled_children\": 0,\n        \"dependent_disabled_adults_below_65\": 0,\n        \"dependent_disabled_adults_above_65\": 0,\n        \"spouse_has_income\": false,\n        \"phone\": \"001 477 764 898\",\n        \"civil_state\": \"married\",\n        \"nationality_country_code\": \"US\",\n        \"gender\": \"male\",\n        \"bank_account_iban\": \"DE 0750 8900 0000 0175 7814\",\n        \"bank_account_bic\": \"KREDBEBB\",\n        \"emergency_contact\": {\n            \"name\": \"Skyler White\",\n            \"relation\": \"family\",\n            \"phone\": \"001 475 764 898\"\n        },\n        \"address\": {\n            \"line_1\": \"3828 Piermont Dr\",\n            \"line_2\": \"\",\n            \"zipcode\": \"87112\",\n            \"city\": \"Albuquerque\",\n            \"state\": \"NM\",\n            \"country_code\": \"US\",\n            \"date_last_changed\": \"2020-14-01\"\n        },\n        \"team\": {\n            \"id\": 4,\n            \"name\": \"R&D team\"\n        },\n        \"employment\": {\n            \"first_employment_date\": \"2019-08-12\",\n            \"last_employment_date\": null\n        },      \n        \"current_role\": {\n            \"name\": \"Chemist\",\n            \"start_date\": \"2008-01-15\"\n        },\n        \"current_reports_to\": {\n            \"person_id\": 263,\n            \"person_name\": \"Gustavo Fring\",\n            \"start_date\": \"2009-02-14\"\n        },\n        \"custom_fields\": [{\n            \"custom_field_id\": 109,\n            \"custom_field_name\": \"Allergies\",\n            \"type\": \"email\",\n            \"value\": \"Soy\",\n            \"value_name\": null\n        }],\n        \"name_parts\": {\n\t\t\t\t\t\t\"initials\": \"\",\n\t\t\t\t\t\t\"insertion\": \"\",\n\t\t\t\t\t\t\"last_name_composition\": \"\",\n\t\t\t\t\t\t\"insertion_partner\": \"\",\n\t\t\t\t\t\t\"last_name_partner\": \"\"\n        }\n    }\n}"
              schema:
                $ref: '#/components/schemas/PersonGetDetailResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/PersonGetDetail400Response'
      deprecated: false
  /1.0/documents/{object_type}/{object_id}/list:
    get:
      tags:
        - Document
      summary: List documents
      operationId: Document_listRelated
      description: This API call lists up all documents related to a specific object
      parameters:
        - description: 'pick one: employee, asset, car'
          name: object_type
          in: path
          schema:
            type: string
          required: true
        - name: object_id
          in: path
          schema:
            type: integer
            format: int32
          required: true
        - description: >-
            Controls pagination (0, 1, 2, ..) to view all results. 30 items per
            page.
          name: page
          in: query
          schema:
            type: integer
            format: int32
            default: 0
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "data": [
                            {
                                "id": 45262,
                                "filename": "scan_license.jpg",
                                "filesize_bytes": 10650,
                                "document_type": "Drivers licenses",
                                "date_uploaded": "2019-01-06",
                                "visible_in_selfservice": 0,
                            },
                            {
                                "id": 45261,
                                "filename": "Report ABC.pdf",
                                "filesize_bytes": 16534,
                                "document_type": "Attesten",
                                "visible_in_selfservice": 1
                            }
                        ]
                    }
              schema:
                $ref: '#/components/schemas/DocumentListRelatedResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/DocumentListRelated400Response'
      deprecated: false
  /1.0/documents/{file_id}/download:
    get:
      tags:
        - Document
      summary: Download document
      operationId: Document_getDownloadUrl
      description: This API call returns a download url for a document
      parameters:
        - name: file_id
          in: path
          schema:
            type: integer
            format: int32
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "data": {
                            "download_url": "https://sample-url.com"
                        }
                    }
              schema:
                $ref: '#/components/schemas/DocumentGetDownloadUrlResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/DocumentGetDownloadUrl400Response'
      deprecated: false
  /1.0/documents/{object_type}/{object_id}/add:
    post:
      tags:
        - Document
      summary: Upload document
      operationId: Document_uploadDocument
      description: ''
      parameters:
        - description: 'pick one: employee, asset, car'
          name: object_type
          in: path
          schema:
            type: string
          required: true
        - name: object_id
          in: path
          schema:
            type: integer
            format: int32
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "data": {
                            "id": "45275"
                        }
                    }
              schema:
                $ref: '#/components/schemas/DocumentUploadDocumentResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "status_code": 400,
                        "reason_phrase": "The filename should contain an extension."
                    }
              schema:
                $ref: '#/components/schemas/DocumentUploadDocument400Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: http
            code: |-
              {  
                 "document_base64":"dGVzdA==",
                 "document_type":"Passport",
                 "filename":"passport.txt",
                 "visible_in_selfservice": 1
              }
        samples-languages:
          - http
  /1.0/webhooks/add:
    post:
      tags:
        - Webhook
      summary: Add webhook
      operationId: Webhook_subscribeNotification
      description: use this API to subscribe to notifications
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "data": {
                            "id": "7"
                        }
                    }
              schema:
                $ref: '#/components/schemas/WebhookSubscribeNotificationResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/WebhookSubscribeNotification400Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: http
            code: |-
              {  
                 "target_url":"https://hooks.zapier.com/<unique_path>",
                 "event":"person_added"
              }
        samples-languages:
          - http
  /1.0/webhooks/{webhook_id}:
    delete:
      tags:
        - Webhook
      summary: Delete webhook
      operationId: Webhook_unsubscribeNotification
      description: Use this API to unsubscribe from notifcations
      parameters:
        - name: webhook_id
          in: path
          schema:
            type: integer
            format: int32
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/WebhookUnsubscribeNotificationResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/WebhookUnsubscribeNotification400Response'
      deprecated: false
  /1.0/webhooks/list:
    get:
      tags:
        - Webhook
      summary: List webhooks
      operationId: Webhook_getActiveNotifications
      description: View currently active notifications
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "data": [
                            {
                                "id": 3,
                                "event": "person_added",
                                "target_url": "https://hooks.zapier.com/<unique_path>"
                            },
                            {
                                "id": 7,
                                "event": "person_deleted",
                                "target_url": "https://hooks.zapier.com/<unique_path>"
                            }
                        ]
                    }
              schema:
                $ref: '#/components/schemas/WebhookGetActiveNotificationsResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/WebhookGetActiveNotifications400Response'
      deprecated: false
  /1.0/account:
    get:
      tags:
        - Account
      summary: Your account
      operationId: Account_getInformation
      description: This API will reveal information about your own account
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "data": {
                            "company_id": 60002,
                            "company_name": "YourCompanyName",
                            "subdomain": "yoursubdomain"
                        }
                    }
              schema:
                $ref: '#/components/schemas/AccountGetInformationResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/AccountGetInformation400Response'
      deprecated: false
  /1.0/contracts/add:
    post:
      tags:
        - Contract
      summary: Add contract
      operationId: Contract_createNewContract
      description: ''
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "data": {
                            "id": "11491"
                        }
                    }
              schema:
                $ref: '#/components/schemas/ContractCreateNewContractResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "status_code": 400,
                        "reason_phrase": "Template for contract not found"
                    }
              schema:
                $ref: '#/components/schemas/ContractCreateNewContract400Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: http
            code: |-
              {  
                 "person_id":216570,
                 "file_type":"pdf",
                 "contract_name":"Freelance contract",
                 "template_id":"",
                 "pdf_base64":"JVBERi0xLjMNCiX....FT0YNCg==",

              }
        samples-languages:
          - http
  /1.0/contracts/signature/request:
    post:
      tags:
        - Contract
      summary: Request contract signature
      operationId: Contract_requestSignature
      description: This API sends out an email invite requesting to sign a contract
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{"success":1}'
              schema:
                $ref: '#/components/schemas/ContractRequestSignatureResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {  
                       "status_code":400,
                       "reason_phrase":"Officient does not have an email address on file for this person"
                    }
              schema:
                $ref: '#/components/schemas/ContractRequestSignature400Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: http
            code: |
              {  
                 "contract_id":11490,
                 "optional_message":"Test"
              }
        samples-languages:
          - http
  /1.0/calendar/{person_id}/events/types/{year}/limits:
    get:
      tags:
        - Person
      summary: Event type limits
      operationId: Person_getEventTypeLimits
      description: >-
        This API can tell how many days off a certain person has in a certain
        year
      parameters:
        - name: person_id
          in: path
          schema:
            type: integer
            format: int32
          required: true
        - name: year
          in: path
          schema:
            type: integer
            format: int32
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "data": [
                            {
                                "id": 3118,
                                "name": "Official holidays",
                                "limitation": "limit_in_days",
                                "max_yearly_amount_days": 10,
                                "max_yearly_amount_minutes": 0,
                                "approval_needed": 1,
                                "allowed_selfservice": 1
                            },
                            {
                                "id": 3193,
                                "name": "Time off",
                                "limitation": "limit_in_minutes",
                                "max_yearly_amount_days": 0,
                                "max_yearly_amount_minutes": 8424,
                                "approval_needed": 1,
                                "allowed_selfservice": 1
                            },
                            {
                                "id": 3183,
                                "name": "Study days",
                                "limitation": "unlimited",
                                "max_yearly_amount_days": 0,
                                "max_yearly_amount_minutes": 0,
                                "approval_needed": 1,
                                "allowed_selfservice": 1
                            }
                        ]
                    }
              schema:
                $ref: '#/components/schemas/PersonGetEventTypeLimitsResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/PersonGetEventTypeLimits400Response'
      deprecated: false
  /1.0/calendar/{person_id}/events/types/{year}/limits/{type_id}/set:
    post:
      tags:
        - Person
      summary: Set event type limit
      operationId: Person_updateEventTypeLimit
      description: This API can update the limitations for a specific event type
      parameters:
        - name: person_id
          in: path
          schema:
            type: integer
            format: int32
          required: true
        - name: year
          in: path
          schema:
            type: integer
            format: int32
          required: true
        - name: type_id
          in: path
          schema:
            type: integer
            format: int32
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "success": 1
                    }
              schema:
                $ref: '#/components/schemas/PersonUpdateEventTypeLimitResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "status_code": 400,
                        "reason_phrase": "This exception is automatically calculated by your payroll provider. It cannot be changed. "
                    }
              schema:
                $ref: '#/components/schemas/PersonUpdateEventTypeLimit400Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: http
            code: |-
              {  
                 "limitation":"limit_in_days",
                 "max_yearly_amount_days":5
              }
            name: limit_in_days
          - language: http
            code: |-
              { 
                  "limitation": "unlimited" 
              }
            name: unlimited
          - language: http
            code: |-
              { 
                 "limitation": "limit_in_minutes",
                 "max_yearly_amount_minutes": 500
              }
            name: limit_in_minutes
          - language: http
            code: |-
              { 
                 "start_date": "01/01/2023",
                 "starting_amount_minutes": 1200
              }
            name: leave_accrual
        samples-languages:
          - http
  /1.0/people/search:
    get:
      tags:
        - Person
      summary: Search people
      operationId: Person_searchByCriteria
      description: search people by name, email or national number
      parameters:
        - description: eg John Doe
          name: name
          in: query
          schema:
            type: string
        - description: eg john@doe.net
          name: email
          in: query
          schema:
            type: string
        - description: eg 82146126684
          name: national_number
          in: query
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    [
                        {
                            "id": 216742,
                            "deleted": 0,
                            "name": "John Doe",
                            "national_number": "82146126684",
                            "email": "john@doe.net",
                            "matched_on": "national_number"
                        }
                    ]
              schema:
                $ref: '#/components/schemas/PersonSearchByCriteriaResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/PersonSearchByCriteria400Response'
      deprecated: false
  /1.0/calendar/{person_id}/{year}/work/bulk:
    patch:
      tags:
        - Person
      summary: Update time worked in bulk
      operationId: Person_updateBulkTimeWorked
      description: >-
        Overwrite the amount of time worked for a set of days in bulk (eg for
        timetracking software integrations)
      parameters:
        - name: person_id
          in: path
          schema:
            type: integer
            format: int32
          required: true
        - name: year
          in: path
          schema:
            type: integer
            format: int32
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "success": 1,
                        "failed": [  ]
                    }
              schema:
                $ref: '#/components/schemas/PersonUpdateBulkTimeWorkedResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "status_code": 400,
                        "reason_phrase": "Given date '2018-24-24' doesn't exist."
                    }
              schema:
                $ref: '#/components/schemas/PersonUpdateBulkTimeWorked400Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: http
            code: "[\n\t{\n\t\t\"duration_minutes\": 456,\n\t\t\"date\": \"2019-03-13\"\n\t},\n\t{\n\t\t\"duration_minutes\": 240,\n\t\t\"date\": \"2019-03-14\"\n\t}\n]"
            name: Set worked time for multiple days
        samples-languages:
          - http
  /1.0/people/{person_id}/manager:
    put:
      tags:
        - Person
      summary: Update manager
      operationId: Person_updateManager
      description: Who reports to who?
      parameters:
        - name: person_id
          in: path
          schema:
            type: integer
            format: int32
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "success": 1
                    }
              schema:
                $ref: '#/components/schemas/PersonUpdateManagerResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "status_code": 400,
                        "reason_phrase": "The specified new manager does not exist or you do not have access to this person"
                    }
              schema:
                $ref: '#/components/schemas/PersonUpdateManager400Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: http
            code: |-
              {
                "manager_person_id": "100"
              }
            name: JSON
        samples-languages:
          - http
    get:
      tags:
        - Person
      summary: Person manager
      operationId: Person_getManagerDetails
      description: ''
      parameters:
        - name: person_id
          in: path
          schema:
            type: integer
            format: int32
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "data": {
                            "person_id": 36,
                            "person_name": "Josiane Hartmann",
                            "start_date": "2005-07-06"
                        }
                    }
              schema:
                $ref: '#/components/schemas/PersonGetManagerDetailsResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "status_code": 400,
                        "reason_phrase": "Invalid employee id"
                    }
              schema:
                $ref: '#/components/schemas/PersonGetManagerDetails400Response'
      deprecated: false
  /1.0/calendar/{person_id}/{year}/{month}/{day}/events/set:
    put:
      tags:
        - Person
      summary: Overwrite event
      operationId: Person_overwriteEvent
      description: >-
        Create a new event or overwrite an existing one in a personal calender
        (eg a day off, overtime,..)
      parameters:
        - name: person_id
          in: path
          schema:
            type: string
          required: true
        - name: year
          in: path
          schema:
            type: string
          required: true
        - name: month
          in: path
          schema:
            type: string
          required: true
        - name: day
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                       "success":1
                    }
              schema:
                $ref: '#/components/schemas/PersonOverwriteEventResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/PersonOverwriteEvent400Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: http
            code: |-
              {
                "type":"custom",
                "custom_day_off_type_id":"1938",
                "start_time_minutes":540,
                "duration_minutes":150
              }
        samples-languages:
          - http
  /1.0/calendar/{person_id}/{year}/{month}/{day}:
    get:
      tags:
        - Person
      summary: Daily calendar
      operationId: Person_getDailyCalendar
      description: >-
        List the time off, overtime & scheduled time for a single person for a
        single day
      parameters:
        - description: The person you would like to receive calender information on
          name: person_id
          in: path
          schema:
            type: integer
            format: int32
          required: true
        - name: year
          in: path
          schema:
            type: integer
            format: int32
          required: true
        - name: month
          in: path
          schema:
            type: integer
            format: int32
          required: true
        - name: day
          in: path
          schema:
            type: integer
            format: int32
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"data\": {\n        \"time_off\": [\n            {\n                \"date\": \"2018-04-03\",\n                \"scheduled_minutes\": 456,\n                \"events\": [\n                    {\n                        \"id\": 123,\n                        \"name\": \"Sick day\",\n                        \"event_type\": \"sick_day\",\n                        \"custom_day_off_type_id\": \"\",\n                        \"date\": \"2018-04-03\",\n                        \"duration_minutes\": 456,\n                        \"start_time_minutes\" : 540,\n                        \"type\": \"time_off\",\n                      \t\"working\": 0,\n                        \"status\": \"approved\",\n                        \"color\": \"\"\n                    }\n                ]\n            }\n        ],\n        \"company_days_off\": [   ]\n    }\n}"
              schema:
                $ref: '#/components/schemas/PersonGetDailyCalendarResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/PersonGetDailyCalendar400Response'
      deprecated: false
  /1.0/people/{person_id}/role:
    put:
      tags:
        - Person
      summary: Update role
      operationId: Person_setFunctionDescription
      description: Set the function description for each person
      parameters:
        - name: person_id
          in: path
          schema:
            type: integer
            format: int32
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "success": 1
                    }
              schema:
                $ref: '#/components/schemas/PersonSetFunctionDescriptionResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "status_code": 400,
                        "reason_phrase": "This person is already performing the given role"
                    }
              schema:
                $ref: '#/components/schemas/PersonSetFunctionDescription400Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: http
            code: "{\n\t\"new_role\": \"Team manager\",\n\t\"start_date\": \"2015-02-01\"\n}"
            name: JSON
        samples-languages:
          - http
  /1.0/teams/{team_id}:
    patch:
      tags:
        - Team
      summary: Edit team
      operationId: Team_editInformation
      description: ''
      parameters:
        - description: The ID of the team you'd like to update
          name: team_id
          in: path
          schema:
            type: integer
            format: int32
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n\t\"success\": 1\n}"
              schema:
                $ref: '#/components/schemas/TeamEditInformationResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                       "status_code": 400,
                       "reason_phrase": "Team with id '10' not found"
                    }
              schema:
                $ref: '#/components/schemas/TeamEditInformation400Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: http
            code: |-
              {
                "name": "new_team_name"
              }
        samples-languages:
          - http
  /1.0/teams/add:
    post:
      tags:
        - Team
      summary: Add team
      operationId: Team_createNewTeam
      description: ''
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "success": 1, 
                      "id": 123
                    }
              schema:
                $ref: '#/components/schemas/TeamCreateNewTeamResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                       "status_code": 400,
                       "reason_phrase": "Name should not be empty"
                    }
              schema:
                $ref: '#/components/schemas/TeamCreateNewTeam400Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: http
            code: |-
              {
                "name": "your_team_name"
              }
        samples-languages:
          - http
  /1.0/assets/types/list:
    get:
      tags:
        - Asset
      summary: List custom asset types
      operationId: Asset_getCustomTypesList
      description: ''
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "data": [
                            {
                                "id": 15863,
                                "name": "Acer Aspire One",
                                "price": "1000.00",
                                "url": "",
                                "description": ""
                            },
                            {
                                "id": 15864,
                                "name": "Macbook Pro 13'",
                                "price": "1799.00",
                                "url": "",
                                "description": ""
                            }
                        ]
                    }
              schema:
                $ref: '#/components/schemas/AssetGetCustomTypesListResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/AssetGetCustomTypesList400Response'
      deprecated: false
  /1.0/assets/types/add:
    post:
      tags:
        - Asset
      summary: Add custom asset type
      operationId: Asset_addCustomType
      description: ''
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "data": {
                            "id": "15869"
                        }
                    }
              schema:
                $ref: '#/components/schemas/AssetAddCustomTypeResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "status_code": 400,
                        "reason_phrase": "Name should not be empty."
                    }
              schema:
                $ref: '#/components/schemas/AssetAddCustomType400Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: http
            code: |-
              {  
                "name":"Keycard",
                "price":10.5,
                "url":"http://keycards.xyz/"
              }
        samples-languages:
          - http
  /1.0/assets/types/{asset_type_id}:
    delete:
      tags:
        - Asset
      summary: Delete custom asset type
      operationId: Asset_removeCustomType
      description: ''
      parameters:
        - name: asset_type_id
          in: path
          schema:
            type: integer
            format: int32
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "success": 1
                    }
              schema:
                $ref: '#/components/schemas/AssetRemoveCustomTypeResponse'
      deprecated: false
  /1.0/assets/add:
    post:
      tags:
        - Asset
      summary: Add asset
      operationId: Asset_createNewAsset
      description: ''
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "data": {
                            "id": "56"
                        }
                    }
              schema:
                $ref: '#/components/schemas/AssetCreateNewAssetResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "status_code": 400,
                        "reason_phrase": "asset_type_id should not be empty"
                    }
              schema:
                $ref: '#/components/schemas/AssetCreateNewAsset400Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: http
            code: "{\n\t\"owner_id\": 21001,\n\t\"asset_type_id\": 15863\n}"
        samples-languages:
          - http
  /1.0/assets/{asset_id}:
    patch:
      tags:
        - Asset
      summary: Edit asset
      operationId: Asset_updateAsset
      description: ''
      parameters:
        - name: asset_id
          in: path
          schema:
            type: integer
            format: int32
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "success": 1
                    }
              schema:
                $ref: '#/components/schemas/AssetUpdateAssetResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "status_code": 400,
                        "reason_phrase": "Employee not found or you have no access."
                    }
              schema:
                $ref: '#/components/schemas/AssetUpdateAsset400Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: http
            code: "{\n\t\"owner_id\": 21001,\n\t\"price\": 1899,\n\t\"serial_number\": \"\",\n\t\"vendor\": \"\"\n}"
        samples-languages:
          - http
    delete:
      tags:
        - Asset
      summary: Delete asset
      operationId: Asset_remove
      description: ''
      parameters:
        - description: The id of the asset that will be deleted
          name: asset_id
          in: path
          schema:
            type: integer
            format: int32
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "success": 1
                    }
              schema:
                $ref: '#/components/schemas/AssetRemoveResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/AssetRemove400Response'
      deprecated: false
  /1.0/fleet/add:
    post:
      tags:
        - Vehicle
      summary: Add vehicle
      operationId: Vehicle_createNew
      description: ''
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "data": {
                            "id": "29"
                        }
                    }
              schema:
                $ref: '#/components/schemas/VehicleCreateNewResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "status_code": 400,
                        "reason_phrase": "Type must be either car, bike or bicycle."
                    }
              schema:
                $ref: '#/components/schemas/VehicleCreateNew400Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: http
            code: "{\n\t\"type\": \"car\",\n\t\"brand\": \"Audi\",\n\t\"model\": \"A6\",\n\t\"plate\": \"1-ABC-123\",\n\t\"fuel\": \"electric\"\n}"
        samples-languages:
          - http
  /1.0/fleet/{vehicle_id}:
    patch:
      tags:
        - Vehicle
      summary: Edit vehicle
      operationId: Vehicle_editDetails
      description: ''
      parameters:
        - name: vehicle_id
          in: path
          schema:
            type: integer
            format: int32
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "success": 1
                    }
              schema:
                $ref: '#/components/schemas/VehicleEditDetailsResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "status_code": 400,
                        "reason_phrase": "Employee not found or you have no access."
                    }
              schema:
                $ref: '#/components/schemas/VehicleEditDetails400Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: http
            code: "{\n\t\"owner_id\": 21001,\n\t\"brand\": \"Audi\",\n\t\"model\": \"A7\",\n\t\"fuel\": \"gas\",\n\t\"plate\": \"1-ABC-123\",\n\t\"hp\": 335,\n\t\"co2_g_km\": 117,\n\t\"chassis_number\": \"123456789\",\n\t\"color\": \"black\",\n\t\"specifics\": \"\",\n\t\"supplier\": \"Audi\",\n\t\"contract_type\": \"op_lease\",\n\t\"yearly_cost_base\": \"14000\",\n\t\"yearly_cost_operational\": \"0\",\n\t\"catalogue_value\": \"67000\"\n}"
        samples-languages:
          - http
  /1.0/calendar/{person_id}/{year}:
    get:
      tags:
        - Person
      summary: Yearly calendar
      operationId: Person_getYearlyCalendar
      description: >-
[...]
