openapi: 3.0.0
info:
  title: Partner API
  description: A Semi-Private API to let third parties communicate with PayFit
  version: 1.0.0
  x-konfig-ignore:
    object-with-no-properties: true
servers:
  - description: The PayFit API production server
    url: https://partner-api.payfit.com
tags:
  - name: Company
  - name: Contract
  - name: Collaborator
paths:
  /companies/{companyId}:
    get:
      tags:
        - Company
      summary: Get Company
      operationId: GET_company
      security:
        - partner-api-oauth: []
      description: Returns the basic information of the company.
      parameters:
        - description: The id of the company
          in: path
          name: companyId
          schema:
            type: string
          required: true
      responses:
        '200':
          description: The fetched company
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCompanyResponse'
              examples:
                company:
                  summary: An example of company
                  value:
                    id: '123456789'
                    name: Awesome company
                    country: GB
                    nbActiveContracts: 12
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCompany400Response'
              examples:
                error:
                  summary: An example of an error message
                  value:
                    code: 400
                    error: Bad request
                    details: Field "id" is required.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCompany401Response'
              examples:
                error:
                  summary: An example of an error message
                  value:
                    code: 401
                    error: Unauthorized
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCompany403Response'
              examples:
                error:
                  summary: An example of an error message
                  value:
                    code: 403
                    error: Forbidden action
                    details: Missing scope "contracts:read".
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCompany404Response'
              examples:
                error:
                  summary: An example of an error message
                  value:
                    code: 404
                    error: Ressource not found
                    details: The provided id is wrong
  /companies/{companyId}/accounting:
    get:
      tags:
        - Company
      summary: Get accounting data
      operationId: GET_companyAccounting
      security:
        - partner-api-oauth:
            - accounting:read
      description: >-
        Returns accounting of the company for a given month. The data is
        structured as CSV.
      parameters:
        - description: The id of the company
          in: path
          name: companyId
          schema:
            type: string
          required: true
        - description: >-
            The month to fetch the data for. This must be in the format YYYYMM,
            January being the month "01".
          in: query
          name: date
          schema:
            type: string
            pattern: ^2\d{3}(0[1-9]|1[0-2])$
          required: true
          example: 202212
      responses:
        '200':
          description: The accounting file
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/GetCompanyAccountingResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCompanyAccounting400Response'
              examples:
                error:
                  summary: An example of an error message
                  value:
                    code: 400
                    error: Bad request
                    details: Field "id" is required.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCompanyAccounting401Response'
              examples:
                error:
                  summary: An example of an error message
                  value:
                    code: 401
                    error: Unauthorized
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCompanyAccounting403Response'
              examples:
                error:
                  summary: An example of an error message
                  value:
                    code: 403
                    error: Forbidden action
                    details: Missing scope "contracts:read".
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCompanyAccounting404Response'
              examples:
                error:
                  summary: An example of an error message
                  value:
                    code: 404
                    error: Ressource not found
                    details: The provided id is wrong
  /companies/{companyId}/accounting-v2:
    get:
      tags:
        - Company
      summary: Get accounting v2 data
      operationId: GET_companyAccountingV2
      security:
        - partner-api-oauth:
            - accounting:read
      description: >
        WARNING: this endpoint is in beta and is subject to changes. We
        discourage its usage in production for now.  Only available for FR and
        UK. Returns accounting data of the company for a given month. For French
        companies, the data returned is the same than the one in the automatic
        accounting exports, so the company accounting exports have to be
        configured properly in order to get details by analytical code, and by
        employee. For UK companies, the data returned is the same than the one
        in the automatic payroll journals, so the company payroll journals have
        to be configured properly in order to get details by employee or by cost
        center.
      parameters:
        - description: The id of the company
          in: path
          name: companyId
          schema:
            type: string
          required: true
        - description: >-
            The month to fetch the data for. This must be in the format YYYYMM,
            January being the month "01".
          in: query
          name: date
          schema:
            type: string
            pattern: ^2\d{3}(0[1-9]|1[0-2])$
          required: true
          example: 202212
      responses:
        '200':
          description: The accounting JSON of the company for a given month
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCompanyAccountingV2Response'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCompanyAccountingV2400Response'
              examples:
                error:
                  summary: An example of an error message
                  value:
                    code: 400
                    error: Bad request
                    details: Field "id" is required.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCompanyAccountingV2401Response'
              examples:
                error:
                  summary: An example of an error message
                  value:
                    code: 401
                    error: Unauthorized
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCompanyAccountingV2403Response'
              examples:
                error:
                  summary: An example of an error message
                  value:
                    code: 403
                    error: Forbidden action
                    details: Missing scope "contracts:read".
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCompanyAccountingV2404Response'
              examples:
                error:
                  summary: An example of an error message
                  value:
                    code: 404
                    error: Ressource not found
                    details: The provided id is wrong
  /companies/{companyId}/payroll-status:
    get:
      tags:
        - Company
      summary: Get Payroll Status
      operationId: GET_companyPayrollStatus
      security:
        - partner-api-oauth: []
      description: Returns the payroll status on a given pay period.
      parameters:
        - description: The id of the company
          in: path
          name: companyId
          schema:
            type: string
          required: true
        - description: >-
            The month to fetch the data for. This must be in the format YYYYMM,
            January being the month "01".
          in: query
          name: date
          schema:
            type: string
            pattern: ^2\d{3}(0[1-9]|1[0-2])$
          required: true
          example: 202212
      responses:
        '200':
          description: The payroll status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCompanyPayrollStatusResponse'
              examples:
                payrollStatusCompleted:
                  summary: An example of payroll status completed
                  value:
                    status: completed
                    executionEndDate: '2022-09-22T11:56:24.221Z'
                payrollStatusNotCompleted:
                  summary: An example of payroll status not completed
                  value:
                    status: not_completed
                    executionEndDate: null
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCompanyPayrollStatus400Response'
              examples:
                error:
                  summary: An example of an error message
                  value:
                    code: 400
                    error: Bad request
                    details: Field "id" is required.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCompanyPayrollStatus401Response'
              examples:
                error:
                  summary: An example of an error message
                  value:
                    code: 401
                    error: Unauthorized
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCompanyPayrollStatus403Response'
              examples:
                error:
                  summary: An example of an error message
                  value:
                    code: 403
                    error: Forbidden action
                    details: Missing scope "contracts:read".
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCompanyPayrollStatus404Response'
              examples:
                error:
                  summary: An example of an error message
                  value:
                    code: 404
                    error: Ressource not found
                    details: The provided id is wrong
  /companies/{companyId}/health-insurance-contracts:
    get:
      tags:
        - Company
      summary: List all Health Insurance contracts
      operationId: GET_healthInsuranceContracts
      security:
        - partner-api-oauth:
            - health-insurance:affiliation:read
      description: Returns all Health Insurance contracts.
      parameters:
        - description: The id of the company
          in: path
          name: companyId
          schema:
            type: string
          required: true
      responses:
        '200':
          description: The health insurance contracts for a given company
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetHealthInsuranceContractsResponse'
              examples:
                healthInsuranceContracts:
                  summary: An example of health insurance contracts
                  value:
                    contracts:
                      - idContrat: 09977c3c-0ec0-417f-a871-f0e4fe02ed7d
                        refContrat: PCC123456789
                        codePopulation: '15'
                        codeOption: '20'
                        affiliatedContractIds:
                          - 646ce15522ce2fd46c8ff724
                          - 646ce15522ce2fd46c8ff725
                        modeCalculCotisation: '1'
                        baseDeCotisation: '3'
                        tauxCotisationPatronale: 0.001
                        tauxCotisationSalariale: 0.001
                      - idContrat: ea958903-63c9-46a1-9934-4912f6147da3
                        refContrat: XXX123456789
                        codePopulation: '6'
                        codeOption: '14'
                        affiliatedContractIds:
                          - 646ce15522ce2fd46c8ff724
                          - 646ce15522ce2fd46c8ff725
                        modeCalculCotisation: '2'
                        baseDeCotisation: '1'
                        tauxCotisationPatronale: 0.003
                        tauxCotisationSalariale: 0.002
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetHealthInsuranceContracts400Response'
              examples:
                error:
                  summary: An example of an error message
                  value:
                    code: 400
                    error: Bad request
                    details: Field "id" is required.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetHealthInsuranceContracts401Response'
              examples:
                error:
                  summary: An example of an error message
                  value:
                    code: 401
                    error: Unauthorized
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetHealthInsuranceContracts403Response'
              examples:
                error:
                  summary: An example of an error message
                  value:
                    code: 403
                    error: Forbidden action
                    details: Missing scope "contracts:read".
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetHealthInsuranceContracts404Response'
              examples:
                error:
                  summary: An example of an error message
                  value:
                    code: 404
                    error: Ressource not found
                    details: The provided id is wrong
  /companies/{companyId}/provident-fund-contracts:
    get:
      tags:
        - Company
      summary: List all Provident Fund contracts
      operationId: GET_providentFundContracts
      security:
        - partner-api-oauth:
            - health-insurance:affiliation:read
      description: Returns all Provident Fund contracts.
      parameters:
        - description: The id of the company
          in: path
          name: companyId
          schema:
            type: string
          required: true
      responses:
        '200':
          description: The provident fund contracts for a given company
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetProvidentFundContractsResponse'
              examples:
                providentFundContracts:
                  summary: An example of provident fund contracts
                  value:
                    contracts:
                      - idContrat: 09977c3c-0ec0-417f-a871-f0e4fe02ed7d
                        refContrat: PCC123456789
                        codePopulation: '15'
                        codeOption: '20'
                        affiliatedContractIds:
                          - 646ce15522ce2fd46c8ff724
                          - 646ce15522ce2fd46c8ff725
                        modeCalculCotisation: '1'
                        baseDeCotisation: '3'
                      - idContrat: ea958903-63c9-46a1-9934-4912f6147da3
                        refContrat: XXX123456789
                        codePopulation: '6'
                        codeOption: '14'
                        affiliatedContractIds:
                          - 646ce15522ce2fd46c8ff724
                          - 646ce15522ce2fd46c8ff725
                        modeCalculCotisation: '2'
                        baseDeCotisation: '1'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetProvidentFundContracts400Response'
              examples:
                error:
                  summary: An example of an error message
                  value:
                    code: 400
                    error: Bad request
                    details: Field "id" is required.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetProvidentFundContracts401Response'
              examples:
                error:
                  summary: An example of an error message
                  value:
                    code: 401
                    error: Unauthorized
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetProvidentFundContracts403Response'
              examples:
                error:
                  summary: An example of an error message
                  value:
                    code: 403
                    error: Forbidden action
                    details: Missing scope "contracts:read".
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetProvidentFundContracts404Response'
              examples:
                error:
                  summary: An example of an error message
                  value:
                    code: 404
                    error: Ressource not found
                    details: The provided id is wrong
  /companies-fr/{companyId}:
    get:
      tags:
        - Company
      summary: Get Company (FR)
      operationId: Company_getBasicInfoFr
      security:
        - partner-api-oauth: []
      description: Returns the basic information of the company with french specific data.
      parameters:
        - description: The id of the company
          in: path
          name: companyId
          schema:
            type: string
          required: true
      responses:
        '200':
          description: The french fetched company
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyGetBasicInfoFrResponse'
              examples:
                companyFr:
                  summary: An example of french company
                  value:
                    id: '1234567899'
                    name: Awesome company
                    country: FR
                    nbActiveContracts: 12
                    siret: 362 521 879 00034
                    siren: 362 521 879
                    address: 1 RUE DE SAINT PETERSBOURG
                    city: PARIS
                    postalCode: '75018'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyGetBasicInfoFr400Response'
              examples:
                error:
                  summary: An example of an error message
                  value:
                    code: 400
                    error: Bad request
                    details: Field "id" is required.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyGetBasicInfoFr401Response'
              examples:
                error:
                  summary: An example of an error message
                  value:
                    code: 401
                    error: Unauthorized
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyGetBasicInfoFr403Response'
              examples:
                error:
                  summary: An example of an error message
                  value:
                    code: 403
                    error: Forbidden action
                    details: Missing scope "contracts:read".
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyGetBasicInfoFr404Response'
              examples:
                error:
                  summary: An example of an error message
                  value:
                    code: 404
                    error: Ressource not found
                    details: The provided id is wrong
  /companies/{companyId}/contracts:
    get:
      tags:
        - Contract
      summary: List all Contracts
      operationId: GET_contracts
      security:
        - partner-api-oauth:
            - contracts:read
      description: Returns all Contracts. This list is paginated.
      parameters:
        - description: The id of the company
          in: path
          name: companyId
          schema:
            type: string
          required: true
        - description: The encoded pagination token
          in: query
          name: nextPageToken
          required: false
          schema:
            title: nextPageToken
            type: string
            additionalProperties: false
        - description: >-
            Allows to define the maximum number of items to fetch at once. (Max:
            50, Default: 10)
          in: query
          name: maxResults
          required: false
          schema:
            title: maxResults
            type: string
            additionalProperties: false
            default: '10'
      responses:
        '200':
          description: All active, pending and last year archived contracts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetContractsResponse'
              examples:
                contracts:
                  summary: An example of contracts
                  value:
                    meta:
                      nextPageToken: eyJsaW1pdCI6NTAsIm9mZnNldCI6NTB9
                      count: 2
                    contracts:
                      - summary: An example of Alice's contract fr
                        firstName: Alice
                        lastName: Dupond
                        birthName: Martin
                        birthDate: '1987-04-14'
                        managerContractId: 5b59e7b282ddef55f860d324
                        value:
                          - summary: An example of Alice's contract
                            statutConventionnelDsn: '04'
                            natureContratDsn: '08'
                            motifRuptureDeContratDsn: null
                            idcc: '0413'
                            healthInsuranceContractIds:
                              - fcaacba9-e790-4cfb-8663-c8531b239d36
                            providentFundContractIds:
                              - fcaacba9-e790-4cfb-8663-c8531b239d37
                            value:
                              contractId: 5b59e7b282ddef55f860d322
                              companyId: 5b59e7b182ddef55f860d311
                              collaboratorId: 6fe3a703-89f5-414d-8190-88f0d80435a3
                              jobName: Designer
                              startDate: '2018-07-12'
                              endDate: null
                              probationEndDate: null
                              status: ACTIVE
                              standardWeeklyHours: 35
                              fullTimeEquivalent: 1
                              isFullTime: true
                      - summary: An example of Bob's contract fr
                        firstName: Bob
                        lastName: Martin
                        birthName: Dupond
                        birthDate: '1990-01-01'
                        managerContractId: null
                        value:
                          - summary: An example of Bob's contract
                            statutConventionnelDsn: '01'
                            natureContratDsn: '10'
                            motifRuptureDeContratDsn: '998'
                            idcc: '0413'
                            healthInsuranceContractIds:
                              - fcaacba9-e790-4cfb-8663-c8531b239d36
                            providentFundContractIds:
                              - fcaacba9-e790-4cfb-8663-c8531b239d37
                            value:
                              contractId: 5b59e7b282ddef55f860d325
                              companyId: 5b59e7b182ddef55f860d311
                              collaboratorId: 6fe3a703-89f5-414d-8190-88f0d80435a3
                              jobName: Architect
                              startDate: '2017-12-21'
                              status: ACTIVE
                              endDate: '2020-07-06'
                              probationEndDate: '2020-07-06'
                              standardWeeklyHours: null
                              fullTimeEquivalent: null
                              isFullTime: null
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetContracts400Response'
              examples:
                error:
                  summary: An example of an error message
                  value:
                    code: 400
                    error: Bad request
                    details: Field "id" is required.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetContracts401Response'
              examples:
                error:
                  summary: An example of an error message
                  value:
                    code: 401
                    error: Unauthorized
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetContracts403Response'
              examples:
                error:
                  summary: An example of an error message
                  value:
                    code: 403
                    error: Forbidden action
                    details: Missing scope "contracts:read".
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetContracts404Response'
              examples:
                error:
                  summary: An example of an error message
                  value:
                    code: 404
                    error: Ressource not found
                    details: The provided id is wrong
  /companies/{companyId}/contracts/time:
    get:
      tags:
        - Contract
      summary: List all Worked Time by contract
      operationId: Contract_listWorkedTimeByPayPeriod
      security:
        - partner-api-oauth:
            - time:read
      description: >-
        Returns the worked time for every contract for the given pay period.
        This list is paginated.
      parameters:
        - description: The id of the company
          in: path
          name: companyId
          schema:
            type: string
          required: true
        - description: The encoded pagination token
          in: query
          name: nextPageToken
          required: false
          schema:
            title: nextPageToken
            type: string
            additionalProperties: false
        - description: >-
            Allows to define the maximum number of items to fetch at once. (Max:
            50, Default: 10)
          in: query
          name: maxResults
          required: false
          schema:
            title: maxResults
            type: string
            additionalProperties: false
            default: '10'
        - description: >-
            The month to fetch the data for. This must be in the format YYYYMM,
            January being the month "01".
          in: query
          name: date
          schema:
            type: string
            pattern: ^2\d{3}(0[1-9]|1[0-2])$
          required: true
          example: 202212
      responses:
        '200':
          description: >-
            Returns the worked time for every contract for the given pay period.
            Note : this endpoint is only available for French companies for now.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractListWorkedTimeByPayPeriodResponse'
              examples:
                contracts:
                  value:
                    meta:
                      nextPageToken: eyJsaW1pdCI6NTAsIm9mZnNldCI6NTB9
                      count: 2
                    contracts:
                      - contractId: 5b59e7b282ddef55f860d322
                        effectiveWorkedTime: 22
                        payedWorkedTime: 22
                        workTimeUnit: days
                      - contractId: 5b59e7b282ddef55f860d325
                        effectiveWorkedTime: 130
                        payedWorkedTime: 140
                        workTimeUnit: hours
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ContractListWorkedTimeByPayPeriod400Response
              examples:
                error:
                  summary: An example of an error message
                  value:
                    code: 400
                    error: Bad request
                    details: Field "id" is required.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ContractListWorkedTimeByPayPeriod401Response
              examples:
                error:
                  summary: An example of an error message
                  value:
                    code: 401
                    error: Unauthorized
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ContractListWorkedTimeByPayPeriod403Response
              examples:
                error:
                  summary: An example of an error message
                  value:
                    code: 403
                    error: Forbidden action
                    details: Missing scope "contracts:read".
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ContractListWorkedTimeByPayPeriod404Response
              examples:
                error:
                  summary: An example of an error message
                  value:
                    code: 404
                    error: Ressource not found
                    details: The provided id is wrong
  /companies/{companyId}/contracts/{contractId}:
    get:
      tags:
        - Contract
      summary: Get a contract
      operationId: GET_contract
      security:
        - partner-api-oauth:
            - contracts:read
      description: Returns a contract information by ID.
      parameters:
        - description: The id of the company
          in: path
          name: companyId
          schema:
            type: string
          required: true
        - description: The id of the contract
          in: path
          name: contractId
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Detail of a contract by ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetContractResponse'
              examples:
                aliceContract:
                  summary: An example of Alice's contract
                  value:
                    contractId: 5b59e7b282ddef55f860d322
                    companyId: 5b59e7b182ddef55f860d311
                    collaboratorId: 6fe3a703-89f5-414d-8190-88f0d80435a3
                    jobName: Designer
                    startDate: '2018-07-12'
                    endDate: null
                    probationEndDate: null
                    status: ACTIVE
                    standardWeeklyHours: 35
                    fullTimeEquivalent: 1
                    isFullTime: true
                bobContract:
                  summary: An example of Bob's contract
                  value:
                    contractId: 5b59e7b282ddef55f860d325
                    companyId: 5b59e7b182ddef55f860d311
                    collaboratorId: 6fe3a703-89f5-414d-8190-88f0d80435a3
                    jobName: Architect
                    startDate: '2017-12-21'
                    status: ACTIVE
                    endDate: '2020-07-06'
                    probationEndDate: '2020-07-06'
                    standardWeeklyHours: null
                    fullTimeEquivalent: null
                    isFullTime: null
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetContract400Response'
              examples:
                error:
                  summary: An example of an error message
                  value:
                    code: 400
                    error: Bad request
                    details: Field "id" is required.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetContract401Response'
              examples:
                error:
                  summary: An example of an error message
                  value:
                    code: 401
                    error: Unauthorized
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetContract403Response'
              examples:
                error:
                  summary: An example of an error message
                  value:
                    code: 403
                    error: Forbidden action
                    details: Missing scope "contracts:read".
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetContract404Response'
              examples:
                error:
                  summary: An example of an error message
                  value:
                    code: 404
                    error: Ressource not found
                    details: The provided id is wrong
  /companies/{companyId}/contracts-fr:
    get:
      tags:
        - Contract
      summary: List all Contracts (FR)
      operationId: Contract_listFrenchContracts
      security:
        - partner-api-oauth:
            - contracts:read
      description: Returns all Contracts with french specific data. This list is paginated.
      parameters:
        - description: The id of the company
          in: path
          name: companyId
          schema:
            type: string
          required: true
        - description: The encoded pagination token
          in: query
          name: nextPageToken
          required: false
          schema:
            title: nextPageToken
            type: string
            additionalProperties: false
        - description: >-
            Allows to define the maximum number of items to fetch at once. (Max:
            50, Default: 10)
          in: query
          name: maxResults
          required: false
          schema:
            title: maxResults
            type: string
            additionalProperties: false
            default: '10'
        - description: >-
            Deprecated. The groups of fields to include in the response, in
            addition to the default fields. | Possible values are
            "securite-sociale" (it will require the
            `collaborators:social-security:read` oauth scope)
          in: query
          name: fields
          schema:
            type: array
            items:
              type: string
              enum:
                - securite-sociale
            deprecated: true
          required: false
      responses:
        '200':
          description: All active, pending and last year archived contracts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractListFrenchContractsResponse'
              examples:
                contracts:
                  summary: An example of french contracts
                  value:
                    meta:
                      nextPageToken: eyJsaW1pdCI6NTAsIm9mZnNldCI6NTB9
                      count: 2
                    contracts:
                      - summary: An example of Alice's contract fr
                        numeroSecuriteSociale: 296117306512312
                        numeroTechniqueTemporaire: null
                        value:
                          - summary: An example of Alice's contract
                            statutConventionnelDsn: '04'
                            natureContratDsn: '08'
                            motifRuptureDeContratDsn: null
                            idcc: '0413'
                            healthInsuranceContractIds:
                              - fcaacba9-e790-4cfb-8663-c8531b239d36
                            providentFundContractIds:
                              - fcaacba9-e790-4cfb-8663-c8531b239d37
                            value:
                              contractId: 5b59e7b282ddef55f860d322
                              companyId: 5b59e7b182ddef55f860d311
                              collaboratorId: 6fe3a703-89f5-414d-8190-88f0d80435a3
                              jobName: Designer
                              startDate: '2018-07-12'
                              endDate: null
                              probationEndDate: null
                              status: ACTIVE
                              standardWeeklyHours: 35
                              fullTimeEquivalent: 1
                              isFullTime: true
                      - summary: An example of Bob's contract fr
                        numeroSecuriteSociale: null
                        numeroTechniqueTemporaire: '12963'
                        value:
                          - summary: An example of Bob's contract
                            statutConventionnelDsn: '01'
                            natureContratDsn: '10'
                            motifRuptureDeContratDsn: '998'
                            idcc: '0413'
                            healthInsuranceContractIds:
                              - fcaacba9-e790-4cfb-8663-c8531b239d36
                            providentFundContractIds:
                              - fcaacba9-e790-4cfb-8663-c8531b239d37
                            value:
                              contractId: 5b59e7b282ddef55f860d325
                              companyId: 5b59e7b182ddef55f860d311
                              collaboratorId: 6fe3a703-89f5-414d-8190-88f0d80435a3
                              jobName: Architect
                              startDate: '2017-12-21'
                              status: ACTIVE
                              endDate: '2020-07-06'
                              probationEndDate: '2020-07-06'
                              standardWeeklyHours: null
                              fullTimeEquivalent: null
                              isFullTime: null
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractListFrenchContracts400Response'
              examples:
                error:
                  summary: An example of an error message
                  value:
                    code: 400
                    error: Bad request
                    details: Field "id" is required.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractListFrenchContracts401Response'
              examples:
                error:
                  summary: An example of an error message
                  value:
                    code: 401
                    error: Unauthorized
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractListFrenchContracts403Response'
              examples:
                error:
                  summary: An example of an error message
                  value:
                    code: 403
                    error: Forbidden action
                    details: Missing scope "contracts:read".
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractListFrenchContracts404Response'
              examples:
                error:
                  summary: An example of an error message
                  value:
                    code: 404
                    error: Ressource not found
                    details: The provided id is wrong
  /companies/{companyId}/contracts-fr/{contractId}:
    get:
      tags:
        - Contract
      summary: Get a contract (FR)
      operationId: Contract_getFrenchInfo
      security:
        - partner-api-oauth:
            - contracts:read
      description: Returns a contract information by ID with french specific data.
      parameters:
        - description: The id of the company
          in: path
          name: companyId
          schema:
            type: string
          required: true
        - description: The id of the contract
          in: path
          name: contractId
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Detail of a contract by ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractGetFrenchInfoResponse'
              examples:
                aliceContract:
                  summary: An example of Alice's contract fr
                  value:
                    - summary: An example of Alice's contract
                      statutConventionnelDsn: '04'
                      natureContratDsn: '08'
                      motifRuptureDeContratDsn: null
                      idcc: '0413'
                      healthInsuranceContractIds:
                        - fcaacba9-e790-4cfb-8663-c8531b239d36
                      providentFundContractIds:
                        - fcaacba9-e790-4cfb-8663-c8531b239d37
                      value:
                        contractId: 5b59e7b282ddef55f860d322
                        companyId: 5b59e7b182ddef55f860d311
                        collaboratorId: 6fe3a703-89f5-414d-8190-88f0d80435a3
                        jobName: Designer
                        startDate: '2018-07-12'
                        endDate: null
                        probationEndDate: null
                        status: ACTIVE
                        standardWeeklyHours: 35
                        fullTimeEquivalent: 1
                        isFullTime: true
                bobContract:
                  summary: An example of Bob's contract fr
                  value:
                    - summary: An example of Bob's contract
                      statutConventionnelDsn: '01'
                      natureContratDsn: '10'
                      motifRuptureDeContratDsn: '998'
                      idcc: '0413'
                      healthInsuranceContractIds:
                        - fcaacba9-e790-4cfb-8663-c8531b239d36
                      providentFundContractIds:
                        - fcaacba9-e790-4cfb-8663-c8531b239d37
                      value:
                        contractId: 5b59e7b282ddef55f860d325
                        companyId: 5b59e7b182ddef55f860d311
                        collaboratorId: 6fe3a703-89f5-414d-8190-88f0d80435a3
                        jobName: Architect
                        startDate: '2017-12-21'
                        status: ACTIVE
                        endDate: '2020-07-06'
                        probationEndDate: '2020-07-06'
                        standardWeeklyHours: null
                        fullTimeEquivalent: null
                        isFullTime: null
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractGetFrenchInfo400Response'
              examples:
                error:
                  summary: An example of an error message
                  value:
                    code: 400
                    error: Bad request
                    details: Field "id" is required.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractGetFrenchInfo401Response'
              examples:
                error:
                  summary: An example of an error message
                  value:
                    code: 401
                    error: Unauthorized
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractGetFrenchInfo403Response'
              examples:
                error:
                  summary: An example of an error message
                  value:
                    code: 403
                    error: Forbidden action
                    details: Missing scope "contracts:read".
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractGetFrenchInfo404Response'
              examples:
                error:
                  summary: An example of an error message
                  value:
                    code: 404
                    error: Ressource not found
                    details: The provided id is wrong
  /companies/{companyId}/contracts-fr/{contractId}/health-insurance:
    put:
      tags:
        - Contract
      summary: Update a Health Insurance of an employee's contract
      operationId: Contract_updateHealthInsuranceAffiliation
      security:
        - partner-api-oauth:
            - health-insurance:affiliation:write
      description: Allows the affiliation of an health insurance to an employee contract.
      parameters:
        - description: The id of the company
          in: path
          name: companyId
          schema:
            type: string
          required: true
        - description: The id of the contract
          in: path
          name: contractId
          schema:
            type: string
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/ContractUpdateHealthInsuranceAffiliationRequest
      responses:
        '204':
          description: This endpoint returns no data
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ContractUpdateHealthInsuranceAffiliationResponse
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ContractUpdateHealthInsuranceAffiliation400Response
              examples:
                error:
                  summary: An example of an error message
                  value:
                    code: 400
                    error: Bad request
                    details: Field "id" is required.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ContractUpdateHealthInsuranceAffiliation401Response
              examples:
                error:
                  summary: An example of an error message
                  value:
                    code: 401
                    error: Unauthorized
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ContractUpdateHealthInsuranceAffiliation403Response
              examples:
                error:
                  summary: An example of an error message
                  value:
                    code: 403
                    error: Forbidden action
                    details: Missing scope "contracts:read".
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ContractUpdateHealthInsuranceAffiliation404Response
              examples:
                error:
                  summary: An example of an error message
                  value:
                    code: 404
                    error: Ressource not found
                    details: The provided id is wrong
  /companies/{companyId}/contracts-fr/{contractId}/provident-fund:
    put:
      tags:
        - Contract
      summary: Update a Provident Fund of an employee's contract
      operationId: Contract_updateProvidentFundAffiliation
      security:
        - partner-api-oauth:
            - health-insurance:affiliation:write
      description: Allows the affiliation of a provident fund to an employee contract.
      parameters:
        - description: The id of the company
          in: path
          name: companyId
          schema:
            type: string
          required: true
        - description: The id of the contract
          in: path
          name: contractId
          schema:
            type: string
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/ContractUpdateProvidentFundAffiliationRequest
      responses:
        '204':
          description: This endpoint returns no data
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ContractUpdateProvidentFundAffiliationResponse
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ContractUpdateProvidentFundAffiliation400Response
              examples:
                error:
                  summary: An example of an error message
                  value:
                    code: 400
                    error: Bad request
                    details: Field "id" is required.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ContractUpdateProvidentFundAffiliation401Response
              examples:
                error:
                  summary: An example of an error message
                  value:
                    code: 401
                    error: Unauthorized
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ContractUpdateProvidentFundAffiliation403Response
              examples:
                error:
                  summary: An example of an error message
                  value:
                    code: 403
                    error: Forbidden action
                    details: Missing scope "contracts:read".
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ContractUpdateProvidentFundAffiliation404Response
              examples:
                error:
                  summary: An example of an error message
                  value:
                    code: 404
                    error: Ressource not found
                    details: The provided id is wrong
  /companies/{companyId}/collaborators:
    get:
      tags:
        - Collaborator
      summary: List all Collaborators
      operationId: GET_collaborators
      security:
        - partner-api-oauth:
            - collaborators:read
      description: Returns all Collaborators. This list is paginated.
      parameters:
        - description: The id of the company
          in: path
          name: companyId
          schema:
            type: string
          required: true
        - description: The encoded pagination token
          in: query
          name: nextPageToken
          required: false
          schema:
            title: nextPageToken
            type: string
            additionalProperties: false
        - description: >-
            Allows to define the maximum number of items to fetch at once. (Max:
            50, Default: 10)
          in: query
          name: maxResults
          required: false
          schema:
            title: maxResults
            type: string
            additionalProperties: false
            default: '10'
      responses:
        '200':
          description: >-
            All collaborators of the company. Some collaborators may not have a
            contract.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCollaboratorsResponse'
              examples:
                collaborators:
                  summary: An example of collaborators
                  value:
                    meta:
                      nextPageToken: eyJsaW1pdCI6NTAsIm9mZnNldCI6NTB9
                      count: 2
                    collaborators:
                      - id: 6fe3a703-89f5-414d-8190-88f0d80435a3
                        firstName: Alice
                        lastName: EtDupond
                        secondLastName: Dupond
                        birthDate: '1987-04-14'
                        managerId: null
                        teamName: null
                        gender: female
                        socialSecurityNumber: '285057800608436'
                        temporaryTechnicalNumber: null
                        terminationDate: null
                        nationality: FR
                        countryOfBirth: FRANCE
                        emails: []
                        phoneNumbers: []
                        addresses: []
                        contracts:
                          - id: 5b59e7b282ddef55f860d322
                            startDate: '2022-03-25'
                            endDate: null
                      - id: 6fe3a703-89f5-414d-8190-88f0d80435a4
                        firstName: Bob
                        lastName: Martin
                        secondLastName: null
                        birthDate: '1990-01-01'
                        managerId: 6fe3a703-89f5-414d-8190-88f0d80435a3
                        teamName: Engineer
                        gender: male
                        socialSecurityNumber: null
                        temporaryTechnicalNumber: '1362521879123'
                        terminationDate: '2023-07-21'
                        nationality: null
                        countryOfBirth: null
                        emails:
                          - email: bob@martin.com
                            type: professional
                        phoneNumbers:
                          - phoneNumber: '0123456789'
                            type: personal
                        addresses:
                          - address: 21 passage denebe
                            city: Paris
                            postcode: '75001'
                            country: France
                            type: personal
                        contracts:
                          - id: 5b59e7b282ddef55f860d322X
                            startDate: '2022-03-25'
                            endDate: '2022-08-25'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCollaborators400Response'
              examples:
                error:
                  summary: An example of an error message
                  value:
                    code: 400
                    error: Bad request
                    details: Field "id" is required.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCollaborators401Response'
              examples:
                error:
                  summary: An example of an error message
                  value:
                    code: 401
                    error: Unauthorized
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCollaborators403Response'
              examples:
                error:
                  summary: An example of an error message
                  value:
                    code: 403
                    error: Forbidden action
                    details: Missing scope "contracts:read".
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCollaborators404Response'
              examples:
                error:
                  summary: An example of an error message
                  value:
                    code: 404
                    error: Ressource not found
                    details: The provided id is wrong
  /companies/{companyId}/collaborators/meal-vouchers:
    get:
      tags:
        - Collaborator
      summary: List all Collaborators Meal Vouchers
      operationId: Collaborator_listMealVouchers
      security:
        - partner-api-oauth:
            - collaborators:meal-vouchers:read
      description: Returns all Collaborators Meal Vouchers for a given month.
      parameters:
        - description: The id of the company
          in: path
          name: companyId
          schema:
            type: string
          required: true
        - description: >-
            The month to fetch the data for. This must be in the format YYYYMM,
            January being the month "01".
          in: query
          name: date
          schema:
            type: string
            pattern: ^2\d{3}(0[1-9]|1[0-2])$
          required: true
          example: 202212
        - description: The encoded pagination token
          in: query
          name: nextPageToken
          required: false
          schema:
            title: nextPageToken
            type: string
            additionalProperties: false
        - description: >-
            Allows to define the maximum number of items to fetch at once. (Max:
            50, Default: 10)
          in: query
          name: maxResults
          required: false
          schema:
            title: maxResults
            type: string
            additionalProperties: false
            default: '10'
      responses:
        '200':
          description: All collaborators meal vouchers of the company.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollaboratorListMealVouchersResponse'
              examples:
                mealVouchers:
                  summary: An example of mealVouches
                  value:
                    meta:
                      nextPageToken: eyJsaW1pdCI6NTAsIm9mZnNldCI6NTB9
                      count: 2
                    mealVouchers:
                      - collaboratorId: 6fe3a703-89f5-414d-8190-88f0d80435a3
                        vouchersCount: 10
                        voucherAmount: 8.5
                        dayOffEligibility: false
                        voucherCompanyPartAmount: 4.5
                        voucherEmployeePartAmount: 4
                      - collaboratorId: 6fe3a703-89f5-414d-8190-88f0d80435a4
                        vouchersCount: 15
                        voucherAmount: 9
                        dayOffEligibility: true
                        voucherCompanyPartAmount: 3
                        voucherEmployeePartAmount: 6
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollaboratorListMealVouchers400Response'
              examples:
                error:
                  summary: An example of an error message
                  value:
                    code: 400
                    error: Bad request
                    details: Field "id" is required.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollaboratorListMealVouchers401Response'
              examples:
                error:
                  summary: An example of an error message
                  value:
                    code: 401
                    error: Unauthorized
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollaboratorListMealVouchers403Response'
              examples:
                error:
                  summary: An example of an error message
                  value:
                    code: 403
                    error: Forbidden action
                    details: Missing scope "contracts:read".
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollaboratorListMealVouchers404Response'
              examples:
                error:
                  summary: An example of an error message
                  value:
                    code: 404
                    error: Ressource not found
                    details: The provided id is wrong
  /companies/{companyId}/collaborators/{collaboratorId}:
    get:
      tags:
        - Collaborator
      summary: Get a collaborator
      operationId: Collaborator_getById
      security:
        - partner-api-oauth:
            - collaborators:read
      description: Returns the collaborator by ID.
      parameters:
        - description: The id of the company
          in: path
          name: companyId
          schema:
            type: string
          required: true
        - description: The id of collaborator to fetch
          in: path
          name: collaboratorId
          schema:
            type: string
          required: true
      responses:
        '200':
          description: The collaborator with the given ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollaboratorGetByIdResponse'
              examples:
                collaborators:
                  summary: An example of collaborator
                  value:
                    id: 6fe3a703-89f5-414d-8190-88f0d80435a3X
                    firstName: Alice
                    lastName: EtDupond
                    secondLastName: Dupond
                    birthName: Leroy
                    birthDate: '1987-04-14'
                    managerId: 6fe3a703-89f5-414d-8190-88f0d80435a4
                    gender: female
                    socialSecurityNumber: '285057800608436'
                    temporaryTechnicalNumber: null
                    terminationDate: '2023-07-21'
                    nationality: FR
                    countryOfBirth: FRANCE
                    emails:
                      - email: alice@dupond.com
                        type: unknown
                      - email: alice@corp.com
                        type: professional
                    phoneNumbers:
                      - phoneNumber: '0123456789'
                        type: personal
                    addresses:
                      - address: 21 passage denebe
                        city: Paris
                        postcode: '75001'
                        country: France
                        type: personal
                    contracts:
                      - id: 5b59e7b282ddef55f860d322X
                        startDate: '2022-03-25'
                        endDate: null
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollaboratorGetById400Response'
              examples:
                error:
                  summary: An example of an error message
                  value:
                    code: 400
                    error: Bad request
                    details: Field "id" is required.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollaboratorGetById401Response'
              examples:
                error:
                  summary: An example of an error message
                  value:
                    code: 401
                    error: Unauthorized
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollaboratorGetById403Response'
              examples:
                error:
                  summary: An example of an error message
                  value:
                    code: 403
                    error: Forbidden action
                    details: Missing scope "contracts:read".
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollaboratorGetById404Response'
              examples:
                error:
                  summary: An example of an error message
                  value:
                    code: 404
                    error: Ressource not found
                    details: The provided id is wrong
  /companies/{companyId}/collaborators/{collaboratorId}/contracts/{contractId}/payslips/{payslipId}:
    get:
      tags:
        - Collaborator
      summary: Get a collaborator's payslip
      operationId: Collaborator_viewPayslip
      security:
        - partner-api-oauth:
            - contracts:payslips:read
      description: Returns a collaborator's payslip.
      parameters:
        - description: The id of the company
          in: path
          name: companyId
          schema:
            type: string
          required: true
        - description: The id of collaborator to fetch
          in: path
          name: collaboratorId
          schema:
            type: string
          required: true
        - description: The id of the contract
          in: path
          name: contractId
          schema:
            type: string
          required: true
        - description: The id of the payslip
          in: path
          name: payslipId
          schema:
            type: string
          required: true
      responses:
        '200':
          description: The PDF file of the payslip
          content:
            application/pdf:
              schema:
                $ref: '#/components/schemas/CollaboratorViewPayslipResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollaboratorViewPayslip400Response'
              examples:
                error:
                  summary: An example of an error message
                  value:
                    code: 400
                    error: Bad request
                    details: Field "id" is required.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollaboratorViewPayslip401Response'
              examples:
                error:
                  summary: An example of an error message
                  value:
                    code: 401
                    error: Unauthorized
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollaboratorViewPayslip403Response'
              examples:
                error:
                  summary: An example of an error message
                  value:
                    code: 403
                    error: Forbidden action
                    details: Missing scope "contracts:read".
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollaboratorViewPayslip404Response'
              examples:
                error:
                  summary: An example of an error message
                  value:
                    code: 404
                    error: Ressource not found
                    details: The provided id is wrong
  /companies/{companyId}/collaborators/{collaboratorId}/payslips:
    get:
      tags:
        - Collaborator
      summary: List all collaborator's payslips
      operationId: Collaborator_listPayslips
      security:
        - partner-api-oauth:
            - contracts:payslips:read
      description: Returns all the payslips of a collaborator by ID.
      parameters:
        - description: The id of the company
          in: path
          name: companyId
          schema:
            type: string
          required: true
        - description: The id of collaborator to fetch payslips
          in: path
          name: collaboratorId
          schema:
            type: string
          required: true
      responses:
        '200':
          description: All the payslips of the collaborator
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollaboratorListPayslipsResponse'
              examples:
                payslips:
                  summary: An example of payslips
                  value:
                    payslips:
                      - year: '2023'
                        month: '05'
                        contractId: 646ce15522ce2fd46c8ff724
                        payslipId: 646ce1648c274e98109eebc2
                        payslipUrl: >-
                          /companies/646ce14da123d843e21a4e7f/collaborators/4f3753dd-69ba-486e-984c-2655bcfc46bb/contracts/646ce15522ce2fd46c8ff724/payslips/646ce1648c274e98109eebc2
                      - year: '2023'
                        month: '04'
                        contractId: 646ce15522ce2fd46c8ff724
                        payslipId: 646ce177248a6c79ca347433
                        payslipUrl: >-
                          /companies/646ce14da123d843e21a4e7f/collaborators/4f3753dd-69ba-486e-984c-2655bcfc46bb/contracts/646ce15522ce2fd46c8ff724/payslips/646ce177248a6c79ca347433
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollaboratorListPayslips400Response'
              examples:
                error:
                  summary: An example of an error message
                  value:
                    code: 400
                    error: Bad request
                    details: Field "id" is required.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollaboratorListPayslips401Response'
              examples:
                error:
                  summary: An example of an error message
                  value:
                    code: 401
                    error: Unauthorized
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollaboratorListPayslips403Response'
              examples:
                error:
                  summary: An example of an error message
                  value:
                    code: 403
                    error: Forbidden action
                    details: Missing scope "contracts:read".
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollaboratorListPayslips404Response'
              examples:
                error:
                  summary: An example of an error message
                  value:
                    code: 404
                    error: Ressource not found
                    details: The provided id is wrong
components:
  parameters:
    nextPageToken:
      description: The encoded pagination token
      in: query
      name: nextPageToken
      required: false
      schema:
        title: nextPageToken
        type: string
        additionalProperties: false
    maxResults:
      description: >-
        Allows to define the maximum number of items to fetch at once. (Max: 50,
        Default: 10)
      in: query
      name: maxResults
      required: false
      schema:
        title: maxResults
        type: string
        additionalProperties: false
        default: '10'
  responses:
    '404':
      description: Not Found
      content:
        application/json:
          schema:
            title: error
            type: object
            properties:
              error:
                description: A human readable error
                type: string
              details:
                oneOf:
                  - type: object
                    additionalProperties: true
                  - type: string
                    additionalProperties: true
            required:
              - error
          examples:
            error:
              summary: An example of an error message
              value:
                code: 404
                error: Ressource not found
                details: The provided id is wrong
  securitySchemes:
    partner-api-oauth:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://oauth.payfit.com/authorize
          tokenUrl: https://oauth.payfit.com/token
          scopes:
            contracts:read: Allow to read contracts information
            contracts:payslips:read: Allow to read payslips
            contracts:time-information:read: Allow to read time related information of contracts
            collaborators:securite-sociale:read: Deprecated. Use `collaborators:social-security:read` instead.
            collaborators:read: Read general information of collaborators.
            collaborators:contracts:read: Read contract information of collaborators.
            collaborators:management:read: Read information about organisation and management.
            collaborators:meal-vouchers:read: Read meal vouchers information of collaborators.
            collaborators:personal:read: Read personal data of collaborators.
            collaborators:social-security:read: Read the social security identifiers of collaborators.
            collaborators:legal-identity:read: Read the legal identity information of collaborators.
            collaborators:bank-info:read: Allow to read the bank info of collaborators.
            accounting:read: Allow to read company accounting information
            time:read: Allow to read time data
            time:write: Allow to write time data
            health-insurance:affiliation:read: Allow to read health insurance affiliations
            health-insurance:affiliation:write: Allow to write health insurance affiliations
  schemas:
    Company:
      title: company
      type: object
      properties:
        id:
          description: Id of the company.
          type: string
        name:
          description: Name of the company.
          type: string
        country:
          description: Country of the company.
          type: string
          x-enum-name: CountryEnum
          enum:
            - FR
            - ES
            - DE
            - GB
            - IT
        nbActiveContracts:
          description: Number of current active contracts within the company.
          type: integer
      required:
        - id
        - name
        - country
        - nbActiveContracts
    CompanyFr:
      title: company-fr
      allOf:
        - title: company
          type: object
          properties:
            id:
              description: Id of the company.
              type: string
            name:
              description: Name of the company.
              type: string
            country:
              description: Country of the company.
              type: string
              x-enum-name: CountryEnum
              enum:
                - FR
                - ES
                - DE
                - GB
                - IT
            nbActiveContracts:
              description: Number of current active contracts within the company.
              type: integer
          required:
            - id
            - name
            - country
            - nbActiveContracts
        - type: object
          properties:
            siren:
              description: '"Système Identification Répertoire Entreprises" of the company.'
              type: string
            siret:
              description: >-
                "Système Identification Répertoire Etablissements" of the
                company.
              type: string
            address:
              description: The company's address
              type: string
            city:
              description: The city of the company
              type: string
            postalCode:
              description: The postal code of the company
              type: string
          required:
            - siren
            - siret
            - address
            - city
            - postalCode
    Collaborator:
      title: collaborator
      type: object
      properties:
        id:
          description: Id of the collaborator.
          type: string
        matricule:
          description: >-
            Custom ID that can be set to a collaborator to ease their
            synchronization with external software.
          type: string
          nullable: true
        firstName:
          description: Firstname of the collaborator.
          type: string
        lastName:
          description: Lastname of the collaborator.
          type: string
        secondLastName:
          description: >-
            Second lastname of the collaborator. For now, it is possible that
            this field may be contained inside lastName field.
          type: string
          nullable: true
        birthName:
          description: Birth name of the collaborator.
          type: string
          nullable: true
        birthDate:
          description: Birth date of the collaborator in the format YYYY-MM-DD
          type: string
          format: date
          nullable: true
          example: '2000-03-25'
        terminationDate:
          description: >-
            Date of the end of last active or current contract of the
            collaborator in the format YYYY-MM-DD
          type: string
          format: date
          nullable: true
          example: '2022-03-25'
        gender:
          description: The gender of the collaborator.
          type: string
          enum:
            - male
            - female
            - other
            - null
          nullable: true
        nationality:
          description: >-
            Nationality of the collaborator. It will be available if
            `collaborators:legal-identity:read` scope is set on the token.
            Possible values:
            `AD`,`AF`,`ZA`,`AX`,`AL`,`DZ`,`DE`,`AO`,`AI`,`AQ`,`AG`,`SA`,`AR`,`AM`,`AW`,`AU`,`AT`,`AZ`,`BS`,`BH`,`BD`,`BB`,`BE`,`BZ`,`BJ`,`BM`,`BT`,`BY`,`BO`,`BQ`,`BA`,`BW`,`BV`,`BR`,`BN`,`BG`,`BF`,`BI`,`KY`,`KH`,`CM`,`CA`,`CV`,`CF`,`CL`,`CN`,`CX`,`CY`,`CC`,`CO`,`KM`,`CG`,`CD`,`CK`,`KR`,`KP`,`CR`,`CI`,`HR`,`CU`,`CW`,`DK`,`DJ`,`DO`,`DM`,`EG`,`SV`,`AE`,`EC`,`ER`,`ES`,`EE`,`US`,`ET`,`FK`,`FO`,`FJ`,`FI`,`FR`,`GA`,`GM`,`GE`,`GS`,`GH`,`GI`,`GR`,`GD`,`GL`,`GP`,`GU`,`GT`,`GG`,`GN`,`GQ`,`GW`,`GY`,`GF`,`HT`,`HM`,`HN`,`HK`,`HU`,`IM`,`UM`,`VG`,`VI`,`IN`,`ID`,`IR`,`IQ`,`IE`,`IS`,`IL`,`IT`,`JM`,`JP`,`JE`,`JO`,`KZ`,`KE`,`KG`,`KIXK`,``,`KW`,`LA`,`LS`,`LV`,`LB`,`LR`,`LY`,`LI`,`LT`,`LU`,`MO`,`MK`,`MG`,`MY`,`MW`,`MV`,`ML`,`MT`,`MP`,`MA`,`MH`,`MQ`,`MU`,`MR`,`YT`,`MX`,`FM`,`MD`,`MC`,`MN`,`ME`,`MS`,`MZ`,`MM`,`NA`,`NR`,`NP`,`NI`,`NE`,`NG`,`NU`,`NF`,`NO`,`NC`,`NZ`,`IO`,`OM`,`UG`,`UZ`,`PK`,`PW`,`PS`,`PA`,`PG`,`PY`,`NL`,`PE`,`PH`,`PN`,`PL`,`PF`,`PR`,`PT`,`QA`,`RE`,`RO`,`GB`,`RU`,`RW`,`EH`,`BL`,`KN`,`SM`,`MF`,`SX`,`PM`,`VA`,`VC`,`SH`,`LC`,`SB`,`WS`,`AS`,`ST`,`SN`,`RS`,`SC`,`SL`,`SG`,`SK`,`SI`,`SO`,`SD`,`SS`,`LK`,`SE`,`CH`,`SR`,`SJ`,`SZ`,`SY`,`TJ`,`TW`,`TZ`,`TD`,`CZ`,`TF`,`TH`,`TL`,`TG`,`TK`,`TO`,`TT`,`TN`,`TM`,`TC`,`TR`,`TV`,`UA`,`UY`,`VU`,`VE`,`VN`,`WF`,`YE`,`ZM`,`ZW`.
          type: string
          nullable: true
        countryOfBirth:
          description: >-
            Country of birth of the collaborator. It will be available if
            `collaborators:legal-identity:read` scope is set on the token.
          type: string
          nullable: true
        socialSecurityNumber:
          description: >-
            "social Security number" of the collaborator. It will be available
            if `collaborators:social-security:read` scope is set on the token.
          type: string
          nullable: true
        temporaryTechnicalNumber:
          description: >-
            "numero technique temporaire" of the collaborator. It is used only
            for France, as a replacement for the social security number when not
            available yet for the collaborator. It will be available if
            `collaborators:social-security:read` scope is set on the token.
          type: string
          nullable: true
        bic:
          description: >-
            The collaborator's BIC (Bank Identifier Code). It will be available
            if `collaborators:bank-info:read` scope is set on the token.'
          type: string
          nullable: true
        iban:
          description: >-
            The collaborator's IBAN (International Bank Account Number). It will
            be available if `collaborators:bank-info:read` scope is set on the
            token.'
          type: string
          nullable: true
        emails:
          description: List of emails of the collaborator.
          type: array
          items:
            type: object
            properties:
              email:
                description: Email of the collaborator.
                type: string
              type:
                description: Indicates whether this is a personal or a professional email.
                type: string
                enum:
                  - professional
                  - personal
                  - unknown
            required:
              - email
              - type
        phoneNumbers:
          description: >-
            List of phone numbers of the collaborator. Personal phone number
            will be available if `collaborators:personal:read` scope is set on
            the token.
          type: array
          items:
            type: object
            properties:
              phoneNumber:
                description: Phone number of the collaborator.
                type: string
              type:
                description: Type of the phone number.
                type: string
                enum:
                  - personal
            required:
              - phoneNumber
              - type
        addresses:
          description: >-
            List of addresses of the collaborator. Personal address will be
            available if `collaborators:personal:read` scope is set on the
            token.
          type: array
          items:
            title: collaboratorAddress
            type: object
            properties:
              address:
                description: >-
                  Address of the collaborator containing the streetNumber,
                  streetType and streetName.
                type: string
              postcode:
                description: Postcode of the collaborator's address.
                type: string
              city:
                description: City of the collaborator's address.
                type: string
              country:
                description: Country of the collaborator's address.
                type: string
              type:
                description: Type of the address.
                type: string
                enum:
                  - personal
            required:
              - address
              - postcode
              - city
              - type
        managerId:
          description: >-
            The manager collaborator's id of the collaborator. If the
            collaborator does not have a manager this field will be null. Only
            available if `collaborators:management:read` scope is set on the
            token.
          type: string
          nullable: true
        teamName:
          description: >-
            The team name of the collaborator. If the collaborator doesn't
            belong to a team, `null` will be returned. Only available if
            `collaborators:management:read` scope is set on the token.
          type: string
          nullable: true
        contracts:
          description: >-
            The list of contracts of the collaborator. Only available if
            `collaborators:contracts:read` scope is set on the token.
          type: array
          items:
            title: collaboratorContract
            type: object
            properties:
              id:
                description: Id of the contract.
                type: string
              startDate:
                description: Start date of a contract in the format YYYY-MM-DD.
                type: string
                format: date
                nullable: true
                example: '2022-03-25'
              endDate:
                description: End date of a contract in the format YYYY-MM-DD.
                type: string
                format: date
                nullable: true
                example: '2022-08-25'
              status:
                description: The status of the contract.
                type: string
                enum:
                  - ACTIVE
                  - ARCHIVED
                  - PENDING
            required:
              - id
              - startDate
              - endDate
              - status
      required:
        - id
        - matricule
        - firstName
        - lastName
        - secondLastName
        - birthName
        - birthDate
        - terminationDate
        - gender
        - emails
    CollaboratorContract:
      title: collaboratorContract
      type: object
      properties:
        id:
          description: Id of the contract.
          type: string
        startDate:
          description: Start date of a contract in the format YYYY-MM-DD.
          type: string
          format: date
          nullable: true
          example: '2022-03-25'
        endDate:
          description: End date of a contract in the format YYYY-MM-DD.
          type: string
          format: date
          nullable: true
          example: '2022-08-25'
        status:
          description: The status of the contract.
          type: string
          enum:
            - ACTIVE
            - ARCHIVED
            - PENDING
      required:
        - id
        - startDate
        - endDate
        - status
    Contract:
      title: contract
      allOf:
        - title: timeInformation
          description: It will contain every information related to the time information
          type: object
          properties:
            standardWeeklyHours:
              description: >-
                Weekly hours defined in the contract. It will be available if
                `contracts:time-information:read` scope is set on the token.
              type: number
              nullable: true
            fullTimeEquivalent:
              description: >-
                Percentage of weekly hours in the contract. It will be available
                if `contracts:time-information:read` scope is set on the token.
              type: number
              nullable: true
            isFullTime:
              description: >-
                Will be set to `true` if `fullTimeEquivalent` is at 1. It will
                be available if `contracts:time-information:read` scope is set
                on the token.
              type: boolean
              nullable: true
          required:
            - standardWeeklyHours
            - fullTimeEquivalent
            - isFullTime
        - type: object
          properties:
            contractId:
              description: Id of the contract.
              type: string
            companyId:
              description: Id of the contract's company.
              type: string
            startDate:
              description: Contract start date.
              type: string
              format: date
            endDate:
              description: Contract end date.
              type: string
              format: date
              nullable: true
            probationEndDate:
              description: Contract probation end date.
              type: string
              format: date
              nullable: true
            jobName:
              description: Job name of the employee.
              type: string
            status:
              description: Status of the contrat.
              type: string
              x-enum-name: ContractStatusEnum
              enum:
                - ACTIVE
                - ARCHIVED
                - PENDING
            collaboratorId:
              description: The id of the collaborator linked to the contract.
              type: string
          required:
            - contractId
            - companyId
            - startDate
            - jobName
            - status
            - collaboratorId
    ContractDeprecated:
      title: contract
      allOf:
        - title: contract
          type: object
          allOf:
            - title: timeInformation
              description: >-
                It will contain every information related to the time
                information
              type: object
              properties:
                standardWeeklyHours:
                  description: >-
                    Weekly hours defined in the contract. It will be available
                    if `contracts:time-information:read` scope is set on the
                    token.
                  type: number
                  nullable: true
                fullTimeEquivalent:
                  description: >-
                    Percentage of weekly hours in the contract. It will be
                    available if `contracts:time-information:read` scope is set
                    on the token.
                  type: number
                  nullable: true
                isFullTime:
                  description: >-
                    Will be set to `true` if `fullTimeEquivalent` is at 1. It
                    will be available if `contracts:time-information:read` scope
                    is set on the token.
                  type: boolean
                  nullable: true
              required:
                - standardWeeklyHours
                - fullTimeEquivalent
                - isFullTime
            - type: object
              properties:
                contractId:
                  description: Id of the contract.
                  type: string
                companyId:
                  description: Id of the contract's company.
                  type: string
                startDate:
                  description: Contract start date.
                  type: string
                  format: date
                endDate:
                  description: Contract end date.
                  type: string
                  format: date
                  nullable: true
                probationEndDate:
                  description: Contract probation end date.
                  type: string
                  format: date
                  nullable: true
                jobName:
                  description: Job name of the employee.
                  type: string
                status:
                  description: Status of the contrat.
                  type: string
                  x-enum-name: ContractStatusEnum
                  enum:
                    - ACTIVE
                    - ARCHIVED
                    - PENDING
                collaboratorId:
                  description: The id of the collaborator linked to the contract.
                  type: string
              required:
                - contractId
                - companyId
                - startDate
                - jobName
                - status
                - collaboratorId
        - type: object
          properties:
            firstName:
              description: >-
                Firstname of the employee. This field is deprecated, you should
                use the information on the collaborator entity instead.
              type: string
              deprecated: true
            lastName:
              description: >-
                Lastname of the employee. This field is deprecated, you should
                use the information on the collaborator entity instead.
              type: string
              deprecated: true
            birthName:
              description: >-
                Name given to the employee upon their birth. This field is
                deprecated, you should use the information on the collaborator
                entity instead.
              type: string
              deprecated: true
            birthDate:
              description: >-
                Birth date of the employee. This field is deprecated, you should
                use the information on the collaborator entity instead.
              type: string
              format: date
              deprecated: true
            managerContractId:
              description: >-
                The manager contract's id of the contract. If the contract does
                not have a manager this field will be null. This field is
                deprecated, you should use the information on the collaborator
                entity instead.
              type: string
              nullable: true
              deprecated: true
            contactEmail:
              description: >-
                The contact email of the contract. This email is not guaranteed
                to be a real email or to belong to a real employee since it is
                not validated by PayFit. This field is deprecated, you should
                use the information on the collaborator entity instead.
              type: string
              nullable: true
              deprecated: true
            address:
              description: >-
                The address of the contract. This field is deprecated, you
                should use the information on the collaborator entity instead.
              type: string
              nullable: true
              deprecated: true
            city:
              description: >-
                The city address of the contract. This field is deprecated, you
                should use the information on the collaborator entity instead.
              type: string
              nullable: true
[...]
