openapi: 3.0.1
info:
  title: WebLink API
  description: >-
    For documentation about this API, please visit
    https://developer.paylocity.com/integrations/reference/weblink-overview
  version: v2
  contact:
    email: webservices@paylocity.com
servers:
  - url: https://apisandbox.paylocity.com/IdentityServer/connect/token
tags:
  - name: Local Tax
  - name: Earnings
  - name: Deduction
  - name: Employee
  - name: Local Taxes
  - name: PayStatements
  - name: Employee (v1)
  - name: Sensitive Data
  - name: Onboarding
  - name: Additional Rates
  - name: Client Credentials
  - name: Company Codes
  - name: Company-Specific Schema
  - name: Custom Fields
  - name: Direct Deposit
  - name: Emergency Contacts
  - name: Employee Benefit Setup
  - name: Employee Staging
  - name: Non-Primary State Tax
  - name: Primary State Tax
paths:
  /v1/employee:
    post:
      tags:
        - Employee (v1)
      summary: Add new employee
      operationId: EmployeeV1_createNewEmployeeRecord
      security:
        - paylocity_auth:
            - WebLinkAPI
      description: >
        This resource allows for the creation of a new employee record for a
        specified companyID.  Additional field objects may need to be added for
        companies that use the New Hire Template in the Paylocity HCM solution
        when hiring employees and have additional required fields.
         
        > 🚧 Maintenance Mode

        > 

        > _This resource version is in a limited support mode and should not be
        used for new integrations.  Please use the latest version._
      parameters: []
      requestBody:
        description: New Employee
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmployeeV1CreateNewEmployeeRecordRequest'
        required: true
      responses:
        '201':
          description: Successfully added
          content: {}
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
        '403':
          description: Forbidden
          content: {}
        '500':
          description: Internal Server Error
          content: {}
      x-codegen-request-body-name: body
  /v1/company/{companyId}/employee/{employeeId}:
    get:
      tags:
        - Employee (v1)
      summary: Get Employee
      operationId: EmployeeV1_getEmployeeData
      security:
        - paylocity_auth:
            - WebLinkAPI
      description: >
        Get Employee API will return employee data currently available in
        Paylocity Payroll/HR solution.
         
        > 🚧 Maintenance Mode

        > 

        > _This resource version is in a limited support mode and should not be
        used for new integrations.  Please use the latest version._
      parameters:
        - description: "The Paylocity Company Identifier. This is the unique value provided by Paylocity to each specific Payroll Entity.\r\n                **Allowable Values:**\r\n                9 char max"
          name: companyId
          in: path
          required: true
          schema:
            type: string
        - description: "The Paylocity Employee ID. This is a unique value per Paylocity Company ID.\r\n**Allowable Values:**\r\n10 char max"
          name: employeeId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successfully Retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/employeeV1'
        '403':
          description: Forbidden
          content: {}
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
  /v1/update-employee:
    post:
      tags:
        - Employee (v1)
      summary: Update employee
      operationId: EmployeeV1_updateEmployeeDataToPaylocity
      security:
        - paylocity_auth:
            - WebLinkAPI
      description: >
        Update Employee API sends updates to employee data to Paylocity
        Payroll/HR solution.
         
        > 🚧 Maintenance Mode

        > 

        > _This resource version is in a limited support mode and should not be
        used for new integrations.  Please use the latest version._
      parameters: []
      requestBody:
        description: UpdateEmployee
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/EmployeeV1UpdateEmployeeDataToPaylocityRequest
        required: true
      responses:
        '200':
          description: Successfully updated
          content: {}
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
        '403':
          description: Forbidden
          content: {}
        '500':
          description: Internal Server Error
          content: {}
      x-codegen-request-body-name: body
  /v1/deduction:
    post:
      tags:
        - Deduction
      summary: Add / Update Deduction
      operationId: Deduction_addOrUpdateDeduction
      security:
        - paylocity_auth:
            - WebLinkAPI
      description: >-
        Add/Update Deduction API sends new or updated employee deduction
        information directly to Paylocity Payroll/HR solution.
      parameters: []
      requestBody:
        description: Deduction
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeductionAddOrUpdateDeductionRequest'
        required: true
      responses:
        '200':
          description: Successfully processed
          content: {}
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
        '403':
          description: Forbidden
          content: {}
        '500':
          description: Internal Server Error
          content: {}
      x-codegen-request-body-name: body
  /v1/companies/{companyId}/employees/{employeeId}/deductions/{deductionCode}/{startDate}:
    delete:
      tags:
        - Deduction
      summary: Delete deduction for deduction code / start date
      operationId: Deduction_removeDeductionByCodeAndStartDate
      security:
        - paylocity_auth:
            - WebLinkAPI
      description: >-
        Delete Deduction API deletes an incorrect deduction from Paylocity
        Payroll/HR solution.
      parameters:
        - description: "The Paylocity Company Identifier. This is the unique value provided by Paylocity to each specific Payroll Entity.\r\n                **Allowable Values:**\r\n                9 char max"
          name: companyId
          in: path
          required: true
          schema:
            type: string
        - description: "The Paylocity Employee ID. This is a unique value per Paylocity Company ID.\r\n**Allowable Values:**\r\n10 char max"
          name: employeeId
          in: path
          required: true
          schema:
            type: string
        - description: Deduction Code
          name: deductionCode
          in: path
          required: true
          schema:
            type: string
        - description: Start Date
          name: startDate
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Successfully Deleted
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: Not Found
          content: {}
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
  /v1/companies/{companyId}/employees/{employeeId}/deductions:
    get:
      tags:
        - Deduction
      summary: Get All Deductions
      operationId: Deduction_getAllDeductions
      security:
        - paylocity_auth:
            - WebLinkAPI
      description: Get All Deductions returns all deductions for the selected employee.
      parameters:
        - description: "The Paylocity Company Identifier. This is the unique value provided by Paylocity to each specific Payroll Entity.\r\n                **Allowable Values:**\r\n                9 char max"
          name: companyId
          in: path
          required: true
          schema:
            type: string
        - description: "The Paylocity Employee ID. This is a unique value per Paylocity Company ID.\r\n**Allowable Values:**\r\n10 char max"
          name: employeeId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successfully Retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeductionGetAllDeductionsResponse'
        '403':
          description: Forbidden
          content: {}
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
  /v1/companies/{companyId}/employees/{employeeId}/deductions/{deductionCode}:
    get:
      tags:
        - Deduction
      summary: Get Deduction for Deduction Code
      operationId: Deduction_getByCode
      security:
        - paylocity_auth:
            - WebLinkAPI
      description: >-
        Get Deduction for Deduction Code returns records for a specific
        deduction for the selected employee.
      parameters:
        - description: "The Paylocity Company Identifier. This is the unique value provided by Paylocity to each specific Payroll Entity.\r\n                **Allowable Values:**\r\n                9 char max"
          name: companyId
          in: path
          required: true
          schema:
            type: string
        - description: "The Paylocity Employee ID. This is a unique value per Paylocity Company ID.\r\n**Allowable Values:**\r\n10 char max"
          name: employeeId
          in: path
          required: true
          schema:
            type: string
        - description: Deduction Code
          name: deductionCode
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successfully Retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deduction'
        '403':
          description: Forbidden
          content: {}
        '404':
          description: Not Found
          content: {}
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
  /v1/companies/{companyId}/onboarding/employees:
    post:
      tags:
        - Onboarding
      summary: Add Employee to Onboarding
      operationId: Onboarding_addEmployeeToOnboarding
      security:
        - paylocity_auth:
            - WebLinkAPI
      description: >-
        Onboarding API sends employee data into Paylocity Onboarding to help
        ensure an easy and accurate hiring process for subsequent completion
        into Paylocity Payroll/HR solution.
      parameters:
        - description: "The Paylocity Company Identifier. This is the unique value provided by Paylocity to each specific Payroll Entity.\r\n                **Allowable Values:**\r\n                9 char max"
          name: companyId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        description: onboarding Model
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/onboarding'
        required: true
      responses:
        '201':
          description: Successfully Added
          content: {}
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
        '403':
          description: Forbidden
          content: {}
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
      x-codegen-request-body-name: body
  /v1/companies/{companyId}/employees/{employeeId}/localTaxes/{taxCode}:
    get:
      tags:
        - Local Tax
      summary: Get Local Tax for Tax Code
      operationId: LocalTax_getForTaxCode
      security:
        - paylocity_auth:
            - WebLinkAPI
      description: >-
        Get Local Tax for Tax Code returns local tax information for the
        specific tax code for the selected employee.
      parameters:
        - description: "The Paylocity Company Identifier. This is the unique value provided by Paylocity to each specific Payroll Entity.\r\n                **Allowable Values:**\r\n                9 char max"
          name: companyId
          in: path
          required: true
          schema:
            type: string
        - description: "The Paylocity Employee ID. This is a unique value per Paylocity Company ID.\r\n**Allowable Values:**\r\n10 char max"
          name: employeeId
          in: path
          required: true
          schema:
            type: string
        - description: Tax Code
          name: taxCode
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successfully Retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/localTax'
        '403':
          description: Forbidden
          content: {}
        '404':
          description: Not Found
          content: {}
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
    put:
      tags:
        - Local Tax
      summary: Update Local Tax
      operationId: LocalTax_updateForTaxCode
      security:
        - paylocity_auth:
            - WebLinkAPI
      description: >-
        Update Local Tax sends updated local tax code information for the
        selected employee.
      parameters:
        - description: "The Paylocity Company Identifier. This is the unique value provided by Paylocity to each specific Payroll Entity.\r\n                **Allowable Values:**\r\n                9 char max"
          name: companyId
          in: path
          required: true
          schema:
            type: string
        - description: "The Paylocity Employee ID. This is a unique value per Paylocity Company ID.\r\n**Allowable Values:**\r\n10 char max"
          name: employeeId
          in: path
          required: true
          schema:
            type: string
        - description: Tax Code
          name: taxCode
          in: path
          required: true
          schema:
            type: string
      requestBody:
        description: >-
          localTax Model (Note: taxCode can be included in the localTax model
          but will be ignored)
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/localTax'
        required: true
      responses:
        '204':
          description: Successfully Updated
          content: {}
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
        '403':
          description: Forbidden
          content: {}
        '404':
          description: Not Found
          content: {}
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
      x-codegen-request-body-name: body
    delete:
      tags:
        - Local Tax
      summary: Delete Local Tax for Tax Code
      operationId: LocalTax_removeForTaxCode
      security:
        - paylocity_auth:
            - WebLinkAPI
      description: >-
        Delete Local Tax for Tax Code deletes the local tax code from Paylocity
        Payroll/HR solution.
      parameters:
        - description: "The Paylocity Company Identifier. This is the unique value provided by Paylocity to each specific Payroll Entity.\r\n                **Allowable Values:**\r\n                9 char max"
          name: companyId
          in: path
          required: true
          schema:
            type: string
        - description: "The Paylocity Employee ID. This is a unique value per Paylocity Company ID.\r\n**Allowable Values:**\r\n10 char max"
          name: employeeId
          in: path
          required: true
          schema:
            type: string
        - description: Tax Code
          name: taxCode
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Successfully Deleted
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: Not Found
          content: {}
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
  /v1/companies/{companyId}/employees/{employeeId}/localTaxes:
    get:
      tags:
        - Local Tax
      summary: Get All Local Taxes
      operationId: LocalTax_getAllTaxesForEmployee
      security:
        - paylocity_auth:
            - WebLinkAPI
      description: >-
        Get All Local Taxes returns all local tax information for the selected
        employee.
      parameters:
        - description: "The Paylocity Company Identifier. This is the unique value provided by Paylocity to each specific Payroll Entity.\r\n                **Allowable Values:**\r\n                9 char max"
          name: companyId
          in: path
          required: true
          schema:
            type: string
        - description: "The Paylocity Employee ID. This is a unique value per Paylocity Company ID.\r\n**Allowable Values:**\r\n10 char max"
          name: employeeId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successfully Retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocalTaxGetAllTaxesForEmployeeResponse'
        '403':
          description: Forbidden
          content: {}
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
    post:
      tags:
        - Local Tax
      summary: Add Local Tax
      operationId: LocalTax_createOrUpdateLocalTaxes
      security:
        - paylocity_auth:
            - WebLinkAPI
      description: >-
        Add Local Tax sends new local tax information directly to Paylocity
        Payroll/HR solution.
      parameters:
        - description: "The Paylocity Company Identifier. This is the unique value provided by Paylocity to each specific Payroll Entity.\r\n                **Allowable Values:**\r\n                9 char max"
          name: companyId
          in: path
          required: true
          schema:
            type: string
        - description: "The Paylocity Employee ID. This is a unique value per Paylocity Company ID.\r\n**Allowable Values:**\r\n10 char max"
          name: employeeId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        description: localTax Model
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/localTax'
        required: true
      responses:
        '201':
          description: Successfully Added
          headers:
            location:
              description: The URI to the newly created local tax
              schema:
                type: string
          content: {}
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
        '403':
          description: Forbidden
          content: {}
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
      x-codegen-request-body-name: body
  /v2/companies/{companyId}/employees/{employeeId}/additionalRates:
    put:
      tags:
        - Additional Rates
      summary: Add/update additional rates
      operationId: AdditionalRates_updateEmployeeAdditionalRates
      security:
        - paylocity_auth:
            - WebLinkAPI
      description: >-
        Sends new or updated employee additional rates information directly to
        Paylocity Payroll/HR solution.
      parameters:
        - description: "The Paylocity Company Identifier. This is the unique value provided by Paylocity to each specific Payroll Entity.\r\n                **Allowable Values:**\r\n                9 char max"
          name: companyId
          in: path
          required: true
          schema:
            type: string
        - description: "The Paylocity Employee ID. This is a unique value per Paylocity Company ID.\r\n**Allowable Values:**\r\n10 char max"
          name: employeeId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        description: Additional Rate Model
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/additionalRate'
        required: true
      responses:
        '200':
          description: Successfully added or updated
          content: {}
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/AdditionalRatesUpdateEmployeeAdditionalRatesResponse
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '429':
          description: Too Many Requests
          content: {}
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/AdditionalRatesUpdateEmployeeAdditionalRates500Response
      x-codegen-request-body-name: json
  /v2/credentials/secrets:
    post:
      tags:
        - Client Credentials
      summary: Obtain new client secret.
      operationId: ClientCredentials_obtainNewClientSecret
      security:
        - paylocity_auth:
            - WebLinkAPI
      description: >-
        Obtain new client secret for Paylocity-issued client id. See Weblink
        Authentication section for details.
      requestBody:
        description: Add Client Secret Model
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/addClientSecret'
        required: true
      responses:
        '200':
          description: Successfully added
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ClientCredentialsObtainNewClientSecretResponse
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ClientCredentialsObtainNewClientSecret400Response
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '429':
          description: Too Many Requests
          content: {}
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ClientCredentialsObtainNewClientSecret500Response
      x-codegen-request-body-name: json
  /v2/companies/{companyId}/codes/{codeResource}:
    get:
      tags:
        - Company Codes
      summary: Get All Company Codes
      operationId: CompanyCodes_getAllByResource
      security:
        - paylocity_auth:
            - WebLinkAPI
      description: "Get All Company Codes for the selected company and resource.\n \n> 🚧 Maintenance Mode\n> \n> _This API is in a limited support mode and certain resources will be moved to a sunset status in the next 18-24 months._\n> \r\n> The [Company Level Information API](ref:get_apihub-payroll-v1-companies-companyid-jobs) should be used when possible in place of Company Codes resource of this API"
      parameters:
        - description: "The Paylocity Company Identifier. This is the unique value provided by Paylocity to each specific Payroll Entity.\r\n                **Allowable Values:**\r\n                9 char max"
          name: companyId
          in: path
          required: true
          schema:
            type: string
        - description: >-
            Type of Company Code. Common values costcenter1, costcenter2,
            costcenter3, deductions, earnings, taxes, paygrade, positions.
          name: codeResource
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyCodesGetAllByResourceResponse'
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: Invalid Code Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyCodesGetAllByResource404Response'
        '429':
          description: Too Many Requests
          content: {}
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyCodesGetAllByResource500Response'
  /v2/companies/{companyId}/openapi:
    get:
      tags:
        - Company-Specific Schema
      summary: Get Company-Specific Open API Documentation
      operationId: CompanySpecificSchema_getOpenApiDoc
      security:
        - paylocity_auth:
            - WebLinkAPI
      description: >-
        The company-specific Open API endpoint allows the client to GET an Open
        API document for the Paylocity API that is customized with
        company-specific resource schemas. These customized resource schemas
        define certain properties as enumerations of pre-defined values that
        correspond to the company's setup with Paylocity Payroll/HR solution.
        The customized schemas also indicate which properties are required by
        the company within Paylocity Payroll/HR solution.<br  />To learn more
        about Open API, click [here](https://www.openapis.org/)
      parameters:
        - description: "The Paylocity Company Identifier. This is the unique value provided by Paylocity to each specific Payroll Entity.\r\n                **Allowable Values:**\r\n                9 char max"
          name: companyId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved
          content: {}
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/CompanySpecificSchemaGetOpenApiDocResponse
        '403':
          description: Forbidden
          content: {}
        '429':
          description: Too Many Requests
          content: {}
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/CompanySpecificSchemaGetOpenApiDoc500Response
  /v2/companies/{companyId}/customfields/{category}:
    get:
      tags:
        - Custom Fields
      summary: Get All Custom Fields
      operationId: CustomFields_getAllByCategory
      security:
        - paylocity_auth:
            - WebLinkAPI
      description: Get All Custom Fields for the selected company
      parameters:
        - description: "The Paylocity Company Identifier. This is the unique value provided by Paylocity to each specific Payroll Entity.\r\n                **Allowable Values:**\r\n                9 char max"
          name: companyId
          in: path
          required: true
          schema:
            type: string
        - description: Custom Fields Category
          name: category
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomFieldsGetAllByCategoryResponse'
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: Invalid Category
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomFieldsGetAllByCategory404Response'
        '429':
          description: Too Many Requests
          content: {}
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomFieldsGetAllByCategory500Response'
  /v2/companies/{companyId}/employees/{employeeId}/directDeposit:
    get:
      tags:
        - Direct Deposit
      summary: Get All Direct Deposit
      operationId: DirectDeposit_getAllDirectDeposits
      security:
        - paylocity_auth:
            - WebLinkAPI
      description: >-
        Get All Direct Deposit returns main direct deposit and all additional
        direct depositsfor the selected employee.
      parameters:
        - description: "The Paylocity Company Identifier. This is the unique value provided by Paylocity to each specific Payroll Entity.\r\n                **Allowable Values:**\r\n                9 char max"
          name: companyId
          in: path
          required: true
          schema:
            type: string
        - description: "The Paylocity Employee ID. This is a unique value per Paylocity Company ID.\r\n**Allowable Values:**\r\n10 char max"
          name: employeeId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successfully Retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DirectDepositGetAllDirectDepositsResponse'
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: The employee, or direct deposit does not exist
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/DirectDepositGetAllDirectDeposits404Response
        '429':
          description: Too Many Requests
          content: {}
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/DirectDepositGetAllDirectDeposits500Response
  /v2/companies/{companyId}/employees/{employeeId}/earnings:
    get:
      tags:
        - Earnings
      summary: Get All Earnings
      operationId: Earnings_getAll
      security:
        - paylocity_auth:
            - WebLinkAPI
      description: Get All Earnings returns all earnings for the selected employee.
      parameters:
        - description: "The Paylocity Company Identifier. This is the unique value provided by Paylocity to each specific Payroll Entity.\r\n                **Allowable Values:**\r\n                9 char max"
          name: companyId
          in: path
          required: true
          schema:
            type: string
        - description: "The Paylocity Employee ID. This is a unique value per Paylocity Company ID.\r\n**Allowable Values:**\r\n10 char max"
          name: employeeId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EarningsGetAllResponse'
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: The employee does not exist
          content: {}
        '429':
          description: Too Many Requests
          content: {}
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EarningsGetAll500Response'
    put:
      tags:
        - Earnings
      summary: Add/Update Earning
      operationId: Earnings_addOrUpdateEarning
      security:
        - paylocity_auth:
            - WebLinkAPI
      description: >-
        Add/Update Earning API sends new or updated employee earnings
        information directly to Paylocity Payroll/HR solution.
      parameters:
        - description: "The Paylocity Company Identifier. This is the unique value provided by Paylocity to each specific Payroll Entity.\r\n                **Allowable Values:**\r\n                9 char max"
          name: companyId
          in: path
          required: true
          schema:
            type: string
        - description: "The Paylocity Employee ID. This is a unique value per Paylocity Company ID.\r\n**Allowable Values:**\r\n10 char max"
          name: employeeId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        description: Earning Model
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/earning'
        required: true
      responses:
        '200':
          description: Successfully added or updated
          content: {}
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EarningsAddOrUpdateEarningResponse'
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '429':
          description: Too Many Requests
          content: {}
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EarningsAddOrUpdateEarning500Response'
      x-codegen-request-body-name: json
  /v2/companies/{companyId}/employees/{employeeId}/earnings/{earningCode}/{startDate}:
    get:
      tags:
        - Earnings
      summary: Get Earning by Earning Code and Start Date
      operationId: Earnings_getByCodeAndStart
      security:
        - paylocity_auth:
            - WebLinkAPI
      description: >-
        Get Earnings returns the single earning with the provided earning code
        and start date for the selected employee.
      parameters:
        - description: "The Paylocity Company Identifier. This is the unique value provided by Paylocity to each specific Payroll Entity.\r\n                **Allowable Values:**\r\n                9 char max"
          name: companyId
          in: path
          required: true
          schema:
            type: string
        - description: "The Paylocity Employee ID. This is a unique value per Paylocity Company ID.\r\n**Allowable Values:**\r\n10 char max"
          name: employeeId
          in: path
          required: true
          schema:
            type: string
        - description: Earning Code
          name: earningCode
          in: path
          required: true
          schema:
            type: string
        - description: Start Date
          name: startDate
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/earning'
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: >-
            The employee does not exist, or the specified earningCode-startDate
            combination does not exist
          content: {}
        '429':
          description: Too Many Requests
          content: {}
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EarningsGetByCodeAndStartResponse'
    delete:
      tags:
        - Earnings
      summary: Delete Earning by Earning Code and Start Date
      operationId: Earnings_deleteByCodeAndStart
      security:
        - paylocity_auth:
            - WebLinkAPI
      description: Delete Earning by Earning Code and Start Date
      parameters:
        - description: "The Paylocity Company Identifier. This is the unique value provided by Paylocity to each specific Payroll Entity.\r\n                **Allowable Values:**\r\n                9 char max"
          name: companyId
          in: path
          required: true
          schema:
            type: string
        - description: "The Paylocity Employee ID. This is a unique value per Paylocity Company ID.\r\n**Allowable Values:**\r\n10 char max"
          name: employeeId
          in: path
          required: true
          schema:
            type: string
        - description: Earning Code
          name: earningCode
          in: path
          required: true
          schema:
            type: string
        - description: Start Date
          name: startDate
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Successfully deleted
          content: {}
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EarningsDeleteByCodeAndStartResponse'
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: >-
            The employee does not exist, or the specified earningCode-startDate
            combination does not exist
          content: {}
        '429':
          description: Too Many Requests
          content: {}
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EarningsDeleteByCodeAndStart500Response'
  /v2/companies/{companyId}/employees/{employeeId}/earnings/{earningCode}:
    get:
      tags:
        - Earnings
      summary: Get Earnings by Earning Code
      operationId: Earnings_getByEarningCode
      security:
        - paylocity_auth:
            - WebLinkAPI
      description: >-
        Get Earnings returns all earnings with the provided earning code for the
        selected employee.
      parameters:
        - description: "The Paylocity Company Identifier. This is the unique value provided by Paylocity to each specific Payroll Entity.\r\n                **Allowable Values:**\r\n                9 char max"
          name: companyId
          in: path
          required: true
          schema:
            type: string
        - description: "The Paylocity Employee ID. This is a unique value per Paylocity Company ID.\r\n**Allowable Values:**\r\n10 char max"
          name: employeeId
          in: path
          required: true
          schema:
            type: string
        - description: Earning Code
          name: earningCode
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EarningsGetByEarningCodeResponse'
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: The employee does not exist
          content: {}
        '429':
          description: Too Many Requests
          content: {}
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EarningsGetByEarningCode500Response'
  /v2/companies/{companyId}/employees/{employeeId}/emergencyContacts:
    put:
      tags:
        - Emergency Contacts
      summary: Add/update emergency contacts
      operationId: EmergencyContacts_addOrUpdate
      security:
        - paylocity_auth:
            - WebLinkAPI
      description: >-
        Sends new or updated employee emergency contacts directly to Paylocity
        Payroll/HR solution.
      parameters:
        - description: "The Paylocity Company Identifier. This is the unique value provided by Paylocity to each specific Payroll Entity.\r\n                **Allowable Values:**\r\n                9 char max"
          name: companyId
          in: path
          required: true
          schema:
            type: string
        - description: "The Paylocity Employee ID. This is a unique value per Paylocity Company ID.\r\n**Allowable Values:**\r\n10 char max"
          name: employeeId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        description: Emergency Contact Model
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/emergencyContact'
        required: true
      responses:
        '200':
          description: Successfully added or updated
          content: {}
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmergencyContactsAddOrUpdateResponse'
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '429':
          description: Too Many Requests
          content: {}
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmergencyContactsAddOrUpdate500Response'
      x-codegen-request-body-name: json
  /v2/companies/{companyId}/employees/{employeeId}/benefitSetup:
    put:
      tags:
        - Employee Benefit Setup
      summary: Add/update employee's benefit setup
      operationId: EmployeeBenefitSetup_addOrUpdateBenefitSetup
      security:
        - paylocity_auth:
            - WebLinkAPI
      description: >-
        Sends new or updated employee benefit setup information directly to
        Paylocity Payroll/HR solution.
      parameters:
        - description: "The Paylocity Company Identifier. This is the unique value provided by Paylocity to each specific Payroll Entity.\r\n                **Allowable Values:**\r\n                9 char max"
          name: companyId
          in: path
          required: true
          schema:
            type: string
        - description: "The Paylocity Employee ID. This is a unique value per Paylocity Company ID.\r\n**Allowable Values:**\r\n10 char max"
          name: employeeId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        description: BenefitSetup Model
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/benefitSetup'
        required: true
      responses:
        '200':
          description: Successfully added or updated
          content: {}
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/EmployeeBenefitSetupAddOrUpdateBenefitSetupResponse
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '429':
          description: Too Many Requests
          content: {}
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/EmployeeBenefitSetupAddOrUpdateBenefitSetup500Response
      x-codegen-request-body-name: json
  /v2/weblinkstaging/companies/{companyId}/employees/newemployees:
    post:
      tags:
        - Employee Staging
      summary: Add new employee to Web Link
      operationId: EmployeeStaging_addNewEmployeeToWebLink
      security:
        - paylocity_auth:
            - WebLinkAPI
      description: >-
        Add new employee to Web Link will send partially completed or
        potentially erroneous new hire record to Web Link, where it can be
        corrected and competed by company administrator or authorized Paylocity
        Service Bureau employee.
      parameters:
        - description: "The Paylocity Company Identifier. This is the unique value provided by Paylocity to each specific Payroll Entity.\r\n                **Allowable Values:**\r\n                9 char max"
          name: companyId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        description: StagedEmployee Model
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/stagedEmployee'
        required: true
      responses:
        '201':
          description: Successfully Added
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/EmployeeStagingAddNewEmployeeToWebLinkResponse
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/EmployeeStagingAddNewEmployeeToWebLink400Response
        '403':
          description: Forbidden
          content: {}
        '429':
          description: Too Many Requests
          content: {}
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/EmployeeStagingAddNewEmployeeToWebLink500Response
      x-codegen-request-body-name: json
  /v2/companies/{companyId}/employees:
    get:
      tags:
        - Employee
      summary: Get all employees
      operationId: Employee_getAllEmployees
      security:
        - paylocity_auth:
            - WebLinkAPI
      description: "Get All Employees API will return employee data currently available in Paylocity Payroll/HR solution.\n \n> 🚧 Maintenance Mode\n> \n> _This API is in a limited support mode and certain resources will be moved to a sunset status in the next 18-24 months._\n> \r\n> The [Employee Demographic API](ref:get_corehr-v1-companies-companyid-employees) should be used when possible in place of the Employee resources of this API"
      parameters:
        - description: "The Paylocity Company Identifier. This is the unique value provided by Paylocity to each specific Payroll Entity.\r\n                **Allowable Values:**\r\n                9 char max"
          name: companyId
          in: path
          required: true
          schema:
            type: string
        - description: Number of records per page. Default value is 25.
          name: pagesize
          in: query
          schema:
            type: integer
        - description: >-
            Page number to retrieve; page numbers are 0-based (so to get the
            first page of results, pass pagenumber=0). Default value is 0.
          name: pagenumber
          in: query
          schema:
            type: integer
        - description: >-
            Whether to include the total record count in the header's
            X-Pcty-Total-Count property. Default value is true.
          name: includetotalcount
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: Successfully Retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeGetAllEmployeesResponse'
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: The company does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeGetAllEmployees404Response'
        '429':
          description: Too Many Requests
          content: {}
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeGetAllEmployees500Response'
    post:
      tags:
        - Employee
      summary: Add new employee
      operationId: Employee_addToPaylocity
      security:
        - paylocity_auth:
            - WebLinkAPI
      description: >-
        New Employee API sends new employee data directly to Paylocity
        Payroll/HR solution. Companies who use the New Hire Template in
        Paylocity Payroll/HR solution may require additional fields when hiring
        employees. New Employee API Requests will honor these required fields.
      parameters:
        - description: "The Paylocity Company Identifier. This is the unique value provided by Paylocity to each specific Payroll Entity.\r\n                **Allowable Values:**\r\n                9 char max"
          name: companyId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        description: Employee Model
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/employee'
        required: true
      responses:
        '201':
          description: Successfully added
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeAddToPaylocityResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeAddToPaylocity400Response'
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '429':
          description: Too Many Requests
          content: {}
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeAddToPaylocity500Response'
      x-codegen-request-body-name: json
  /v2/companies/{companyId}/employees/{employeeId}:
    get:
      tags:
        - Employee
      summary: Get employee
      operationId: Employee_getEmployeeData
      security:
        - paylocity_auth:
            - WebLinkAPI
      description: "Get Employee API will return employee data currently available in Paylocity Payroll/HR solution.\n \n> 🚧 Maintenance Mode\n> \n> _This API is in a limited support mode and certain resources will be moved to a sunset status in the next 18-24 months._\n> \r\n> The [Employee Demographic API](ref:get_corehr-v1-companies-companyid-employees-employeeid) should be used when possible in place of the Employee resources of this API"
      parameters:
        - description: "The Paylocity Company Identifier. This is the unique value provided by Paylocity to each specific Payroll Entity.\r\n                **Allowable Values:**\r\n                9 char max"
          name: companyId
          in: path
          required: true
          schema:
            type: string
        - description: "The Paylocity Employee ID. This is a unique value per Paylocity Company ID.\r\n**Allowable Values:**\r\n10 char max"
          name: employeeId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successfully Retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeGetEmployeeDataResponse'
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: The employee does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeGetEmployeeData404Response'
        '429':
          description: Too Many Requests
          content: {}
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeGetEmployeeData500Response'
    patch:
      tags:
        - Employee
      summary: Update employee
      operationId: Employee_updateEmployeeData
      security:
        - paylocity_auth:
            - WebLinkAPI
      description: Update Employee API will update existing employee data in WebPay.
      parameters:
        - description: "The Paylocity Company Identifier. This is the unique value provided by Paylocity to each specific Payroll Entity.\r\n                **Allowable Values:**\r\n                9 char max"
          name: companyId
          in: path
          required: true
          schema:
            type: string
        - description: "The Paylocity Employee ID. This is a unique value per Paylocity Company ID.\r\n**Allowable Values:**\r\n10 char max"
          name: employeeId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        description: Employee Model
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/employee'
        required: true
      responses:
        '200':
          description: Successfully Updated
          content: {}
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeUpdateEmployeeDataResponse'
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '429':
          description: Too Many Requests
          content: {}
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeUpdateEmployeeData500Response'
      x-codegen-request-body-name: json
  /v2/companies/{companyId}/employees/{employeeId}/localTaxes:
    get:
      tags:
        - Local Taxes
      summary: Get all local taxes
      operationId: LocalTaxes_getAllForEmployee
      security:
        - paylocity_auth:
            - WebLinkAPI
      description: Returns all local taxes for the selected employee.
      parameters:
        - description: "The Paylocity Company Identifier. This is the unique value provided by Paylocity to each specific Payroll Entity.\r\n                **Allowable Values:**\r\n                9 char max"
          name: companyId
          in: path
          required: true
          schema:
            type: string
        - description: "The Paylocity Employee ID. This is a unique value per Paylocity Company ID.\r\n**Allowable Values:**\r\n10 char max"
          name: employeeId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocalTaxesGetAllForEmployeeResponse'
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: The employee does not exist
          content: {}
        '429':
          description: Too Many Requests
          content: {}
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocalTaxesGetAllForEmployee500Response'
    post:
      tags:
        - Local Taxes
      summary: Add new local tax
      operationId: LocalTaxes_addNewTax
      security:
        - paylocity_auth:
            - WebLinkAPI
      description: >-
        Sends new employee local tax information directly to Paylocity
        Payroll/HR solution.
      parameters:
        - description: "The Paylocity Company Identifier. This is the unique value provided by Paylocity to each specific Payroll Entity.\r\n                **Allowable Values:**\r\n                9 char max"
          name: companyId
          in: path
          required: true
          schema:
            type: string
        - description: "The Paylocity Employee ID. This is a unique value per Paylocity Company ID.\r\n**Allowable Values:**\r\n10 char max"
          name: employeeId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        description: LocalTax Model
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/localTax'
        required: true
      responses:
        '201':
          description: Successfully added
          content: {}
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocalTaxesAddNewTaxResponse'
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '429':
          description: Too Many Requests
          content: {}
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocalTaxesAddNewTax500Response'
      x-codegen-request-body-name: json
  /v2/companies/{companyId}/employees/{employeeId}/localTaxes/{taxCode}:
    get:
      tags:
        - Local Taxes
      summary: Get local taxes by tax code
      operationId: LocalTaxes_getByTaxCode
      security:
        - paylocity_auth:
            - WebLinkAPI
      description: >-
        Returns all local taxes with the provided tax code for the selected
        employee.
      parameters:
        - description: "The Paylocity Company Identifier. This is the unique value provided by Paylocity to each specific Payroll Entity.\r\n                **Allowable Values:**\r\n                9 char max"
          name: companyId
          in: path
          required: true
          schema:
            type: string
        - description: "The Paylocity Employee ID. This is a unique value per Paylocity Company ID.\r\n**Allowable Values:**\r\n10 char max"
          name: employeeId
          in: path
          required: true
          schema:
            type: string
        - description: Tax Code
          name: taxCode
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocalTaxesGetByTaxCodeResponse'
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: >-
            The employee does not exist, or the specified tax code does not
            exist
          content: {}
        '429':
          description: Too Many Requests
          content: {}
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocalTaxesGetByTaxCode500Response'
    delete:
      tags:
        - Local Taxes
      summary: Delete local tax by tax code
      operationId: LocalTaxes_deleteByTaxCode
      security:
        - paylocity_auth:
            - WebLinkAPI
      description: Delete local tax by tax code
      parameters:
        - description: "The Paylocity Company Identifier. This is the unique value provided by Paylocity to each specific Payroll Entity.\r\n                **Allowable Values:**\r\n                9 char max"
          name: companyId
          in: path
          required: true
          schema:
            type: string
        - description: "The Paylocity Employee ID. This is a unique value per Paylocity Company ID.\r\n**Allowable Values:**\r\n10 char max"
          name: employeeId
          in: path
          required: true
          schema:
            type: string
        - description: Tax Code
          name: taxCode
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Successfully deleted
          content: {}
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocalTaxesDeleteByTaxCodeResponse'
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: >-
            The employee does not exist, or the specified tax code does not
            exist
          content: {}
        '429':
          description: Too Many Requests
          content: {}
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocalTaxesDeleteByTaxCode500Response'
  /v2/companies/{companyId}/employees/{employeeId}/nonprimaryStateTax:
    put:
      tags:
        - Non-Primary State Tax
      summary: Add/update non-primary state tax
      operationId: NonPrimaryStateTax_addOrUpdateStateTax
      security:
        - paylocity_auth:
            - WebLinkAPI
      description: >-
        Sends new or updated employee non-primary state tax information directly
        to Paylocity Payroll/HR solution.
      parameters:
        - description: "The Paylocity Company Identifier. This is the unique value provided by Paylocity to each specific Payroll Entity.\r\n                **Allowable Values:**\r\n                9 char max"
          name: companyId
          in: path
          required: true
          schema:
            type: string
        - description: "The Paylocity Employee ID. This is a unique value per Paylocity Company ID.\r\n**Allowable Values:**\r\n10 char max"
          name: employeeId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        description: Non-Primary State Tax Model
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/nonPrimaryStateTax'
        required: true
      responses:
        '200':
          description: Successfully added or updated
          content: {}
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/NonPrimaryStateTaxAddOrUpdateStateTaxResponse
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '429':
          description: Too Many Requests
          content: {}
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/NonPrimaryStateTaxAddOrUpdateStateTax500Response
      x-codegen-request-body-name: json
  /v2/companies/{companyId}/employees/{employeeId}/paystatement/details/{year}/{checkDate}:
    get:
      tags:
        - PayStatements
      summary: >-
        Get employee pay statement details data for the specified year and check
        date.
      operationId: PayStatements_getDetailsByYearAndCheckDate
      security:
        - paylocity_auth:
            - WebLinkAPI
      description: >-
        Get pay statement details API will return employee pay statement detail
        data currently available in Paylocity Payroll/HR solution for the
        specified year and check date.
      parameters:
        - description: "The Paylocity Company Identifier. This is the unique value provided by Paylocity to each specific Payroll Entity.\r\n                **Allowable Values:**\r\n                9 char max"
          name: companyId
          in: path
          required: true
          schema:
            type: string
        - description: "The Paylocity Employee ID. This is a unique value per Paylocity Company ID.\r\n**Allowable Values:**\r\n10 char max"
          name: employeeId
          in: path
          required: true
          schema:
            type: string
        - description: The year for which to retrieve pay statement data
          name: year
          in: path
          required: true
          schema:
            type: string
        - description: The check date for which to retrieve pay statement data
          name: checkDate
          in: path
          required: true
          schema:
            type: string
        - description: Number of records per page. Default value is 25.
          name: pagesize
          in: query
          schema:
            type: integer
        - description: >-
            Page number to retrieve; page numbers are 0-based (so to get the
            first page of results, pass pagenumber=0). Default value is 0.
          name: pagenumber
          in: query
          schema:
            type: integer
        - description: >-
            Whether to include the total record count in the header's
            X-Pcty-Total-Count property. Default value is true.
          name: includetotalcount
          in: query
          schema:
            type: boolean
        - description: >-
            Retrieve pay statement details related to specific deduction,
            earning or tax types. Common values include 401k, Memo, Reg, OT,
            Cash Tips, FED and SITW.
          name: codegroup
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Successfully Retrieved
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/PayStatementsGetDetailsByYearAndCheckDateResponse
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: The employee, specified year, or check date does not exist
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/PayStatementsGetDetailsByYearAndCheckDate404Response
        '429':
          description: Too Many Requests
          content: {}
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/PayStatementsGetDetailsByYearAndCheckDate500Response
  /v2/companies/{companyId}/employees/{employeeId}/paystatement/details/{year}:
    get:
      tags:
        - PayStatements
      summary: Get employee pay statement details data for the specified year.
      operationId: PayStatements_getDetailsByYear
      security:
        - paylocity_auth:
            - WebLinkAPI
      description: >-
        Get pay statement details API will return employee pay statement details
        data currently available in Paylocity Payroll/HR solution for the
        specified year.
      parameters:
        - description: "The Paylocity Company Identifier. This is the unique value provided by Paylocity to each specific Payroll Entity.\r\n                **Allowable Values:**\r\n                9 char max"
          name: companyId
          in: path
          required: true
          schema:
            type: string
        - description: "The Paylocity Employee ID. This is a unique value per Paylocity Company ID.\r\n**Allowable Values:**\r\n10 char max"
          name: employeeId
          in: path
          required: true
          schema:
            type: string
        - description: The year for which to retrieve pay statement data
          name: year
          in: path
          required: true
          schema:
            type: string
        - description: Number of records per page. Default value is 25.
          name: pagesize
          in: query
          schema:
            type: integer
        - description: >-
            Page number to retrieve; page numbers are 0-based (so to get the
            first page of results, pass pagenumber=0). Default value is 0.
          name: pagenumber
          in: query
          schema:
            type: integer
        - description: >-
            Whether to include the total record count in the header's
            X-Pcty-Total-Count property. Default value is true.
          name: includetotalcount
          in: query
          schema:
            type: boolean
        - description: >-
            Retrieve pay statement details related to specific deduction,
            earning or tax types. Common values include 401k, Memo, Reg, OT,
            Cash Tips, FED and SITW.
          name: codegroup
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Successfully Retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayStatementsGetDetailsByYearResponse'
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: The employee, specified year, or check date does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayStatementsGetDetailsByYear404Response'
        '429':
          description: Too Many Requests
          content: {}
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayStatementsGetDetailsByYear500Response'
  /v2/companies/{companyId}/employees/{employeeId}/paystatement/summary/{year}/{checkDate}:
    get:
      tags:
        - PayStatements
      summary: >-
        Get employee pay statement summary data for the specified year and check
        date.
      operationId: PayStatements_getSummaryData
      security:
        - paylocity_auth:
            - WebLinkAPI
      description: >-
        Get pay statement summary API will return employee pay statement summary
        data currently available in Paylocity Payroll/HR solution for the
        specified year and check date.
      parameters:
        - description: "The Paylocity Company Identifier. This is the unique value provided by Paylocity to each specific Payroll Entity.\r\n                **Allowable Values:**\r\n                9 char max"
          name: companyId
          in: path
          required: true
          schema:
            type: string
        - description: "The Paylocity Employee ID. This is a unique value per Paylocity Company ID.\r\n**Allowable Values:**\r\n10 char max"
          name: employeeId
          in: path
          required: true
          schema:
            type: string
        - description: The year for which to retrieve pay statement data
          name: year
          in: path
          required: true
          schema:
            type: string
        - description: The check date for which to retrieve pay statement data
          name: checkDate
          in: path
          required: true
          schema:
            type: string
        - description: Number of records per page. Default value is 25.
          name: pagesize
          in: query
          schema:
            type: integer
        - description: >-
            Page number to retrieve; page numbers are 0-based (so to get the
            first page of results, pass pagenumber=0). Default value is 0.
          name: pagenumber
          in: query
          schema:
            type: integer
        - description: >-
            Whether to include the total record count in the header's
            X-Pcty-Total-Count property. Default value is true.
          name: includetotalcount
          in: query
          schema:
            type: boolean
        - description: >-
            Retrieve pay statement details related to specific deduction,
            earning or tax types. Common values include 401k, Memo, Reg, OT,
            Cash Tips, FED and SITW.
          name: codegroup
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Successfully Retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayStatementsGetSummaryDataResponse'
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: The employee, specified year, or check date does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayStatementsGetSummaryData404Response'
        '429':
          description: Too Many Requests
          content: {}
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayStatementsGetSummaryData500Response'
  /v2/companies/{companyId}/employees/{employeeId}/paystatement/summary/{year}:
    get:
      tags:
        - PayStatements
      summary: Get employee pay statement summary data for the specified year.
      operationId: PayStatements_getSummaryByYear
      security:
        - paylocity_auth:
            - WebLinkAPI
      description: >-
        Get pay statement summary API will return employee pay statement summary
        data currently available in Paylocity Payroll/HR solution for the
        specified year.
      parameters:
        - description: "The Paylocity Company Identifier. This is the unique value provided by Paylocity to each specific Payroll Entity.\r\n                **Allowable Values:**\r\n                9 char max"
          name: companyId
          in: path
          required: true
          schema:
            type: string
        - description: "The Paylocity Employee ID. This is a unique value per Paylocity Company ID.\r\n**Allowable Values:**\r\n10 char max"
          name: employeeId
          in: path
          required: true
          schema:
            type: string
        - description: The year for which to retrieve pay statement data
          name: year
          in: path
          required: true
          schema:
            type: string
        - description: Number of records per page. Default value is 25.
          name: pagesize
          in: query
          schema:
            type: integer
        - description: >-
            Page number to retrieve; page numbers are 0-based (so to get the
            first page of results, pass pagenumber=0). Default value is 0.
          name: pagenumber
          in: query
          schema:
            type: integer
        - description: >-
            Whether to include the total record count in the header's
            X-Pcty-Total-Count property. Default value is true.
          name: includetotalcount
          in: query
          schema:
            type: boolean
        - description: >-
            Retrieve pay statement details related to specific deduction,
            earning or tax types. Common values include 401k, Memo, Reg, OT,
            Cash Tips, FED and SITW.
          name: codegroup
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Successfully Retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayStatementsGetSummaryByYearResponse'
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: The employee, specified year, or check date does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayStatementsGetSummaryByYear404Response'
        '429':
          description: Too Many Requests
          content: {}
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayStatementsGetSummaryByYear500Response'
  /v2/companies/{companyId}/employees/{employeeId}/primaryStateTax:
    put:
      tags:
        - Primary State Tax
      summary: Add/update primary state tax
      operationId: PrimaryStateTax_addOrUpdateTax
      security:
        - paylocity_auth:
            - WebLinkAPI
      description: >-
        Sends new or updated employee primary state tax information directly to
        Paylocity Payroll/HR solution.
      parameters:
        - description: "The Paylocity Company Identifier. This is the unique value provided by Paylocity to each specific Payroll Entity.\r\n                **Allowable Values:**\r\n                9 char max"
          name: companyId
          in: path
          required: true
          schema:
            type: string
        - description: "The Paylocity Employee ID. This is a unique value per Paylocity Company ID.\r\n**Allowable Values:**\r\n10 char max"
          name: employeeId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        description: Primary State Tax Model
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/stateTax'
        required: true
      responses:
        '200':
          description: Successfully added or updated
          content: {}
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrimaryStateTaxAddOrUpdateTaxResponse'
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '429':
          description: Too Many Requests
          content: {}
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrimaryStateTaxAddOrUpdateTax500Response'
      x-codegen-request-body-name: json
  /v2/companies/{companyId}/employees/{employeeId}/sensitivedata:
    get:
      tags:
        - Sensitive Data
      summary: Get sensitive data
      operationId: SensitiveData_getEmployeeSensitiveData
      security:
        - paylocity_auth:
            - WebLinkAPI
      description: >-
        Gets employee sensitive data information directly from Paylocity
        Payroll/HR solution.
      parameters:
        - description: "The Paylocity Company Identifier. This is the unique value provided by Paylocity to each specific Payroll Entity.\r\n                **Allowable Values:**\r\n                9 char max"
          name: companyId
          in: path
          required: true
          schema:
            type: string
        - description: "The Paylocity Employee ID. This is a unique value per Paylocity Company ID.\r\n**Allowable Values:**\r\n10 char max"
          name: employeeId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successfully Retrieved
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/SensitiveDataGetEmployeeSensitiveDataResponse
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/SensitiveDataGetEmployeeSensitiveData400Response
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '429':
          description: Too Many Requests
          content: {}
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/SensitiveDataGetEmployeeSensitiveData500Response
    put:
      tags:
        - Sensitive Data
      summary: Add/update sensitive data
      operationId: SensitiveData_addOrUpdateEmployeeSensitiveData
      security:
        - paylocity_auth:
            - WebLinkAPI
      description: >-
        Sends new or updated employee sensitive data information directly to
        Paylocity Payroll/HR solution.
      parameters:
        - description: "The Paylocity Company Identifier. This is the unique value provided by Paylocity to each specific Payroll Entity.\r\n                **Allowable Values:**\r\n                9 char max"
          name: companyId
          in: path
          required: true
          schema:
            type: string
        - description: "The Paylocity Employee ID. This is a unique value per Paylocity Company ID.\r\n**Allowable Values:**\r\n10 char max"
          name: employeeId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        description: Sensitive Data Model
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/sensitiveData'
        required: true
      responses:
        '200':
          description: Successfully added or updated
          content: {}
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/SensitiveDataAddOrUpdateEmployeeSensitiveDataResponse
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '429':
          description: Too Many Requests
          content: {}
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/SensitiveDataAddOrUpdateEmployeeSensitiveData500Response
      x-codegen-request-body-name: json
components:
  schemas:
    error:
      description: The error model
      type: object
      properties:
        field:
          description: >-
            The name of the field, or property in the request message that
            contains an error.
          type: string
        message:
          description: The error message.
          type: string
        options:
          description: >-
            A list of options associated with this error. These options may
            indicate valid values for the field, or property that contains an
            error.
          type: array
          items:
            description: The error option model
            type: object
            properties:
              description:
                description: The description of the option.
                type: string
              code:
                description: The code associated with this option.
                type: string
        path:
          description: >-
            The JSON path of the field, or property, that contains an error in
            the request message.
          type: string
    errors:
      type: array
      items:
        type: object
        properties:
          Path:
            type: string
          field:
            type: string
          message:
            type: string
          options:
            type: array
            items:
              type: object
    addClientSecret:
      description: The Add Client Secret Request Model
      required:
        - code
      type: object
      properties:
        code:
          description: >-
            A value sent with the 'ACTION NEEDED: Web Link API Credentials
            Expiring Soon.' email notification.
          type: string
    additionalRate:
      description: The additional pay rate model
      type: object
      properties:
        changeReason:
          description: >-
            Not required. If populated, must match one of the system coded
            values available in the Additional Rates Change Reason drop down.<br
            />
          type: object
        costCenter1:
          description: >-
            Not required. Valid values must match one of the system coded cost
            centers available in the Additional Rates Cost Center level 1 drop
            down. This cell must be in a text format.<br />
          type: object
        costCenter2:
          description: >-
            Not required. Valid values must match one of the system coded cost
            centers available in the Additional Rates Cost Center level 2 drop
            down. This cell must be in a text format.<br />
          type: object
        costCenter3:
          description: >-
            Not required. Valid values must match one of the system coded cost
            centers available in the Additional Rates Cost Center level 3 drop
            down. This cell must be in a text format.<br />
          type: object
        effectiveDate:
          description: Required. Common formats include *MM-DD-CCYY*, *CCYY-MM-DD*.<br />
          type: object
          format: paylocity-date
        endCheckDate:
          description: >-
            Not required. Must match one of the system coded check dates
            available in the Additional Rates End Check Date drop down. Common
            formats include *MM-DD-CCYY*, *CCYY-MM-DD*.<br />
          type: object
          format: paylocity-date
        job:
          description: >-
            Not required. If populated, must match one of the system coded
            values available in the Additional Rates Job drop down.<br />
          type: object
        rate:
          description: >-
            Required. Enter dollar amount that corresponds to the Per
            selection.<br />
          type: object
        rateCode:
          description: >-
            Required. If populated, must match one of the system coded values
            available in the Additional Rates Rate Code drop down.<br />
          type: object
        rateNotes:
          description: 'Not required.<br  />Max length: 4000<br />'
          type: object
        ratePer:
          description: Required. Valid values are HOUR or WEEK.<br />
          type: object
        shift:
          description: >-
            Not required. If populated, must match one of the system coded
            values available in the Additional Rates Shift drop down.<br />
          type: object
    addUpdateDeduction:
      type: object
      properties:
        agency:
          description: >-
            Used to produce third-party checks for a specific agency. Must match
            Company setup.<br  />Max length: 5
          type: string
        annualMaximum:
          description: >-
            Year to Date dollar amount not to be exceeded for a deduction in the
            calendar year. <br  />Decimal(12,2)
          type: number
        calcCode:
          description: >-
            Defines how deductions are calculated. Common values are *%
            (percentage of gross), flat (flat dollar amount)*. Defaulted to the
            Company setup calcCode for deduction. <br  />Max length: 15
          type: string
        caseNo:
          description: >-
            Child Support Case Identifier number, case number or court order
            number.<br  />Max length: 20
          type: string
        companyNumber:
          description: 'Paylocity assigned company number. <br  />Max length: 9'
          type: string
        costCenter1:
          description: >-
            Cost Center associated with deduction. Must match Company setup.<br 
            /> Max length: 10
          type: string
        costCenter2:
          description: >-
            Cost Center associated with deduction. Must match Company setup.<br 
            /> Max length: 10
          type: string
        costCenter3:
          description: >-
            Cost Center associated with deduction. Must match Company setup.<br 
            /> Max length: 10
          type: string
        dcode:
          description: 'Deduction code. Must match Company setup. <br  />Max length: 5'
          type: string
        effectiveDate:
          description: >-
            Date deduction or benefit is active. Defaulted to run date or check
            date based on Company setup. Common formats are MM-DD-CCYY,
            CCYY-MM-DD
          type: string
          format: date
        employeeId:
          description: >-
            Either employee ID or employee SSN is required.<br  /> Max length:
            10
          type: string
        endDate:
          description: >-
            Stop date of a deduction or benefit. Common formats are MM-DD-CCYY,
            CCYY-MM-DD.
          type: string
          format: date
        fipsCode:
          description: >-
            Child support Federal Information Process Standard (FIPS) code. <br 
            />Max length: 7
          type: string
        frequency:
          description: >-
            Needed if deduction is applied differently from the payroll
            frequency (one time deduction for example).<br  /> Max length: 5
          type: string
        goal:
          description: >-
            Dollar amount. The employee deduction will stop when the goal amount
            is reached.<br  /> Decimal(12,2)
          type: number
        isSelfInsuredPlan:
          description: Used for ACA. If not entered, defaulted to Company deduction setup
          type: boolean
        loanFirstPaymentDate401K:
          description: >-
            401K loan first payment date. Common formats are MM-DD-CCYY,
            CCYY-MM-DD
          type: string
          format: date
        loanIssueDate401K:
          description: 401K loan issue date. Common formats are MM-DD-CCYY, CCYY-MM-DD
          type: string
          format: date
        loanNumber:
          description: >-
            401K Loan number, required for 401K Loan deduction types. <br  />
            Max length: 50
          type: string
        maximum:
          description: >-
            Maximum amount of the deduction on a single paycheck. <br  />
            Decimal(12,2)
          type: number
        medicalSupport:
          description: >-
            Indicates if the employee qualifies for medical benefits that can be
            used to cover the child
          type: boolean
        minimum:
          description: >-
            Minimum amount of the deduction on a single paycheck. <br  />
            Decimal(12,2)
          type: number
        miscInfo:
          description: >-
            Information to print on the check stub if agency check is set up for
            this deduction. <br  />Max length: 50
          type: string
        paidTowardsGoal:
          description: Amount already paid toward goal.<br  /> Decimal(12,2)
          type: number
        priority:
          description: >-
            Priority of a deduction within the deduction category. Common values
            are *0,1,2. <br  /> Max length: 2
          type: integer
        rate:
          description: >-
            Value to match the calcCode (percentage or amount). For example if
            calcCode = %, enter 10.00 to indicate 10%. <br  /> Decimal(12,2)
          type: number
        reportTerminated:
          description: Indicates whether agency needs to be reported on terminated employee
          type: boolean
        ssn:
          description: >-
            Either employee ID or employee SSN is required.<br  /> Max length:
            11
          type: string
        startDate:
          description: >-
            Start date of a deduction based on payroll calendar. Common formats
            are MM-DD-CCYY, CCYY-MM-DD
          type: string
          format: date
        stateAbbrev:
          description: 'State for child support.<br  /> Max length: 2'
          type: string
    benefitSetup:
      description: The benefit setup model
      type: object
      properties:
        benefitClass:
          description: >-
            Benefit Class code. Values are configured in Paylocity Payroll/HR
            solution Company > Setup > Benefits > Classes.<br  />Max length: 30
          type: object
        benefitClassEffectiveDate:
          description: >-
            Date when Benefit Class takes effect. Common formats include
            *MM-DD-CCYY*, *CCYY-MM-DD*.
          type: object
          format: paylocity-date
        benefitSalary:
          description: Salary used to configure benefits.<br  />Decimal(12,2)
          type: object
        benefitSalaryEffectiveDate:
          description: >-
            Date when Benefit Salary takes effect. Common formats include
            *MM-DD-CCYY*, *CCYY-MM-DD*.
          type: object
          format: paylocity-date
        doNotApplyAdministrativePeriod:
          description: >-
            Applicable only for HR Enhanced clients and Benefit Classes with ACA
            Employment Type of Full Time.
          type: object
        isMeasureAcaEligibility:
          description: >-
            Only valid for HR Enhanced clients and Benefit Classes that are ACA
            Employment Type of Full Time.
          type: object
    clientCredentialsResponse:
      description: The Client Credentials Response Model
      type: object
      properties:
        clientSecret:
          description: The client's secret
          type: object
        clientSecretExpirationDate:
          description: The client's secret expiration date
          type: object
          format: paylocity-date
    companyCodes:
      description: The Company Codes model
      type: object
      properties:
        description:
          description: 'Description. <br  /> Max length: 150'
          type: object
        code:
          description: 'Code.<br  /> Max length: 40'
          type: object
    customFieldDefinition:
      description: ''
      type: object
      properties:
        category:
          description: The custom field category.
          type: string
        defaultValue:
          description: Specifies the default value of the custom field.
          type: string
        isRequired:
          description: Indicates whether the custom field is required.
          type: boolean
        label:
          description: The custom field label.
          type: string
        type:
          description: The custom field type.
          type: string
        values:
          description: A set of values that are applicable to the custom field.
          type: array
          items:
            description: ''
            type: object
            properties:
              description:
                description: The custom field description.
                type: string
              code:
                description: The custom field code.
                type: string
    deduction:
      type: object
      properties:
        agency:
          description: >-
            Used to produce third-party checks for a specific agency. Must match
            Company setup.<br  />Max length: 5
          type: string
        annualMaximum:
          description: >-
            Year to Date dollar amount not to be exceeded for a deduction in the
            calendar year. <br  />Decimal(12,2)
          type: number
        calcCode:
          description: >-
            Defines how deductions are calculated. Common values are *%
            (percentage of gross), flat (flat dollar amount)*. Defaulted to the
            Company setup calcCode for deduction. <br  />Max length: 15
          type: string
        caseNo:
          description: >-
            Child Support Case Identifier number, case number or court order
            number.<br  />Max length: 20
          type: string
        costCenter1:
          description: >-
            Cost Center associated with deduction. Must match Company setup.<br 
            /> Max length: 10
          type: string
        costCenter2:
          description: >-
[...]
