openapi: 3.0.1
info:
  title: WebLink API
  description: >-
    For documentation about this API, please visit
    https://developer.paylocity.com/integrations/reference/weblink-overview
  version: v2
  x-logo:
    url: paylocityLogo.png
  contact:
    email: webservices@paylocity.com
  x-konfig-ignore:
    potential-incorrect-type: true
servers:
  - url: https://apisandbox.paylocity.com/api
tags:
  - name: Earnings
  - name: Payroll/HR
  - name: Deductions
  - name: Client Onboarding
  - name: Job Codes
  - name: Local Tax
  - name: Screening Package
  - name: Deduction
  - name: Employee
  - name: Local Taxes
  - name: PayStatements
  - name: Subscription
  - name: Documents
  - name: Employee (v1)
  - name: Employees
  - name: Sensitive Data
  - description: creates punch import CSV that will be uploaded to FTP server
    name: Punch Import
  - name: Candidate Screening Order
  - name: Company Information
  - name: Pay Entry
  - name: Retirement contributions
  - name: Onboarding
  - name: Additional Rates
  - name: Client Credentials
  - name: Company Codes
  - name: Company-Specific Schema
  - name: Custom Fields
  - name: Direct Deposit
  - name: Emergency Contacts
  - name: Employee Benefit Setup
  - name: Employee Staging
  - name: Non-Primary State Tax
  - name: Primary State Tax
paths:
  /compliance/v1/companies/b6001/clientOnboarding/status:
    post:
      tags:
        - Client Onboarding
      summary: Upsert onboarding status
      operationId: ClientOnboarding_upsertOnboardingStatus
      security:
        - Bearer: []
        - JWTAuthorization: []
        - paylocity_auth: []
      description: >
        **Summary Description**


        This endpoint upserts the status of the integration with companyId
        specified in the body


        **Use Cases**


        - Partner receives a new client intake form and sends the ‘in progress’
        status to Paylocity

        - Partner and client already have an existing relationship, partner
        sends the ‘approved’ status for client to have access to ordering in the
        recruiting UI 

        - Client initiates a new client intake form. Client and partner decide
        not to move forward with the relationship. Partner sends the ‘rejected’
        status  
      parameters:
        - description: If true all responses are mocked and generated randomly
          name: testMode
          in: header
          schema:
            type: boolean
      requestBody:
        description: The onboarding details
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClientOnboardingUpsertRequest'
      responses:
        '200':
          description: Returns details of the upsert operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientOnboardingUpsertResponse'
        '400':
          description: Bad Request Error - Returns the details of the error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        '401':
          description: Unauthorized
        '415':
          description: Unsupported Media Type - Returns the details of the error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
  /compliance/v1/companies/{companyId}/clientOnboarding/billing:
    post:
      tags:
        - Client Onboarding
      summary: Add billing codes
      operationId: ClientOnboarding_insertBillingCodes
      security:
        - Bearer: []
        - JWTAuthorization: []
        - paylocity_auth: []
      description: >
        **Summary Description**


        This endpoint inserts the billing code and its status by companyId for a
        given client


        **Use Cases**


        - Partner wants to send over one or multiple billing codes for a client,
        can be when onboarding a new client, or can be when client adds new
        billing codes to their company

        - Partner wants to make bulk changes to billing codes to make them
        either active or inactive for a client
      parameters:
        - description: "The Paylocity Company Identifier. This is the unique value provided by Paylocity to each specific Payroll Entity.\r\n                **Allowable Values:**\r\n                9 char max"
          name: companyId
          in: path
          required: true
          schema:
            type: string
          example: A12345
        - description: If true all responses are mocked and generated randomly
          name: testMode
          in: header
          schema:
            type: boolean
      requestBody:
        description: Billing codes request payload.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddBillingCodeRequest'
      responses:
        '201':
          description: Created entity.
        '400':
          description: Bad Request Error - Returns the details of the error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        '401':
          description: Unauthorized
        '415':
          description: Unsupported Media Type - Returns the details of the error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
  /compliance/v1/companies/{companyId}/clientOnboarding/billing/{billingCode}:
    delete:
      tags:
        - Client Onboarding
      summary: Delete billing code
      operationId: ClientOnboarding_deleteBillingCode
      security:
        - Bearer: []
        - JWTAuthorization: []
        - paylocity_auth: []
      description: >-
        **Summary Description**


        This is used to delete an already registered billing code, either active
        or inactive, by companyId and specific billing code for a given client


        **Use Cases**


        - Partner wants to permanently delete this billing code for a client
      parameters:
        - description: "The Paylocity Company Identifier. This is the unique value provided by Paylocity to each specific Payroll Entity.\r\n                **Allowable Values:**\r\n                9 char max"
          name: companyId
          in: path
          required: true
          schema:
            type: string
          example: A12345
        - description: Billing code to be deleted.
          name: billingCode
          in: path
          required: true
          schema:
            type: string
        - description: If true all responses are mocked and generated randomly
          name: testMode
          in: header
          schema:
            type: boolean
      responses:
        '204':
          description: Returns confirmation that billing code has been deleted
        '400':
          description: Bad Request Error - Returns the details of the error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        '401':
          description: Unauthorized
        '404':
          description: Not Found - Billing code has not been found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        '415':
          description: Unsupported Media Type - Returns the details of the error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
    patch:
      tags:
        - Client Onboarding
      summary: Updates billing code status
      operationId: ClientOnboarding_updateBillingStatus
      security:
        - Bearer: []
        - JWTAuthorization: []
        - paylocity_auth: []
      description: >-
        **Summary Description**


        This is used to update an already registered billing code’s status by
        companyId and specific billing code for a given client


        **Use Cases**


        - Partner wants to update the status of a specific billing code for a
        client to either make active or inactive
      parameters:
        - description: "The Paylocity Company Identifier. This is the unique value provided by Paylocity to each specific Payroll Entity.\r\n                **Allowable Values:**\r\n                9 char max"
          name: companyId
          in: path
          required: true
          schema:
            type: string
          example: A12345
        - description: >-
            Billing code associated with the screening order. This billing code
            is created on the partner side for a specific company.
          name: billingCode
          in: path
          required: true
          schema:
            type: string
        - description: If true all responses are mocked and generated randomly
          name: testMode
          in: header
          schema:
            type: boolean
      requestBody:
        description: Billing code request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateBillingCodeRequest'
      responses:
        '204':
          description: Returns confirmation that billing code has been updated
        '400':
          description: Bad Request Error - Returns the details of the error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        '401':
          description: Unauthorized
        '404':
          description: Not Found - Billing code has not been found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        '415':
          description: Unsupported Media Type - Returns the details of the error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
  /compliance/v1/companies/b6001/backgroundCheck/candidateScreeningOrders/subscription:
    get:
      tags:
        - Subscription
      summary: >-
        Returns the webhook for the subscription of a new candidate screening
        order
      operationId: Subscription_newCandidateScreeningOrderWebhook
      security:
        - Bearer: []
        - JWTAuthorization: []
        - paylocity_auth: []
      description: >
        **Summary Description**


        Returns the webhook for the subscription of a new candidate screening
        order
      parameters:
        - description: If true all responses are mocked and generated randomly
          name: testMode
          in: header
          schema:
            type: boolean
      responses:
        '200':
          description: Returns the subscription callback details
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/CandidateScreeningOrdersSubscriptionResponse
        '400':
          description: Bad Request Error - Returns the details of the error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        '401':
          description: Unauthorized
        '404':
          description: Returns the details of the error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        '415':
          description: Unsupported Media Type - Returns the details of the error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
    post:
      tags:
        - Subscription
      summary: >-
        Register the webhook URL for the subscription of new
        CandidateScreeningOrder
      operationId: Subscription_registerWebhookUrl
      security:
        - Bearer: []
        - JWTAuthorization: []
        - paylocity_auth: []
      description: >
        **Summary Description**


        Register the webhook URL for the subscription of new
        CandidateScreeningOrder


        **Use Cases**


        - Partner provides the webhook URL for new candidate orders
      parameters:
        - description: If true all responses are mocked and generated randomly
          name: testMode
          in: header
          schema:
            type: boolean
      requestBody:
        description: The callback information
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscribeNewCandidateScreeningOrderRequest'
      responses:
        '200':
          description: Returns the details of the registration
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/SubscribeNewCandidateScreeningOrderResponse
        '400':
          description: Bad Request Error - Returns the details of the error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized
        '415':
          description: Unsupported Media Type - Returns the details of the error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
      callbacks:
        New candidateScreeningOrder background check request:
          https://example.com:
            post:
              summary: >-
                This is a webhook that occurs when new request for
                candidateScreeningOrder background checks occurs
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: >-
                        #/components/schemas/NewCandidateScreeningOrderEventPayloadData
              responses:
                '200':
                  description: >-
                    Your server implementation should return this HTTP status
                    code if the data was received successfully
                '400':
                  description: >-
                    If your server returns an HTTP status code indicating it
                    does not understand the format of the payload the delivery
                    will be treated as a failure. No retries are attempted.
                '500':
                  description: >-
                    If your server returns an HTTP status code indicating a
                    server-side error the delivery will be treated as a failure.
                    No retries are attempted.
  /compliance/v1/companies/b6001/backgroundCheck/candidateScreeningOrders/subscription/{callbackId}:
    delete:
      tags:
        - Subscription
      summary: Deletes the webhook
      operationId: Subscription_deleteWebhook
      security:
        - Bearer: []
        - JWTAuthorization: []
        - paylocity_auth: []
      description: |+
        **Summary Description**

        Deletes the webhook

      parameters:
        - description: The GUID of the Callback URL returned by the POST or GET method
          name: callbackId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - description: If true all responses are mocked and generated randomly
          name: testMode
          in: header
          schema:
            type: boolean
      responses:
        '200':
          description: Returns the details of the delete operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteSubscriptionResponse'
        '400':
          description: Bad Request Error - Returns the details of the error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        '401':
          description: Unauthorized
        '415':
          description: Unsupported Media Type - Returns the details of the error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
  /compliance/v1/companies/{companyId}/backgroundCheck/screeningPackages:
    get:
      tags:
        - Screening Package
      summary: Returns screening packages
      operationId: ScreeningPackage_listForCompany
      security:
        - Bearer: []
        - JWTAuthorization: []
        - paylocity_auth: []
      description: >
        **Summary Description**


        Returns the screening packages for the companyId


        **Use Cases**


        - Partner needs to confirm that package information with Paylocity is
        correct and calls for the package information for a specific company ID
      parameters:
        - description: "The Paylocity Company Identifier. This is the unique value provided by Paylocity to each specific Payroll Entity.\r\n                **Allowable Values:**\r\n                9 char max"
          name: companyId
          in: path
          required: true
          schema:
            type: string
          example: A12345
        - description: If true all responses are mocked and generated randomly
          name: testMode
          in: header
          schema:
            type: boolean
      responses:
        '200':
          description: Returns the screening packages
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScreeningPackagesResponse'
        '400':
          description: Bad Request Error - Returns the details of the error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        '401':
          description: Unauthorized
        '415':
          description: Unsupported Media Type - Returns the details of the error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
    post:
      tags:
        - Screening Package
      summary: Bulk Upsert
      operationId: ScreeningPackage_bulkUpsert
      security:
        - Bearer: []
        - JWTAuthorization: []
        - paylocity_auth: []
      description: >-
        **Summary Description**


        Bulk Upsert information about screening packages


        **Use Cases**


        - Partner wants to send over multiple screening packages for a client,
        can be when onboarding a new client, or can be when client adds new
        packages to their company 

        - Partner wants to make bulk changes to screening packages to make them
        either active or inactive for a client 

        - Partner wants to update the prices of a client’s screening packages 

        - Partner wants to bulk add services to a packages 

        - Partner wants to add a billing code to correlate to a specific BGC
        package
      parameters:
        - description: "The Paylocity Company Identifier. This is the unique value provided by Paylocity to each specific Payroll Entity.\r\n                **Allowable Values:**\r\n                9 char max"
          name: companyId
          in: path
          required: true
          schema:
            type: string
          example: A12345
        - description: If true all responses are mocked and generated randomly
          name: testMode
          in: header
          schema:
            type: boolean
      requestBody:
        description: The Package information
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScreeningPackageBulkUpsertRequest'
      responses:
        '200':
          description: Returns the deatils of the Bulk upsert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScreeningPackageUpsertResponse'
        '400':
          description: Bad Request Error - Returns the details of the error
        '401':
          description: Unauthorized
        '415':
          description: Unsupported Media Type - Returns the details of the error
  /compliance/v1/companies/{companyId}/backgroundCheck/screeningPackages/{packageId}:
    post:
      tags:
        - Screening Package
      summary: Upserts screening package
      operationId: ScreeningPackage_upsertPackageInfo
      security:
        - Bearer: []
        - JWTAuthorization: []
        - paylocity_auth: []
      description: >-
        **Summary Description**


        Upserts information about screening packages for the companyId


        **Use Cases**


        - Partner wants to send over a screening package for a client, can be
        when onboarding a new client, or can be when client adds a new package
        to their company

        - Partner wants to make a specific screening package either active or
        inactive for a client 

        - Partner wants to update the price of a client’s screening package 

        - Partner wants to add services to a package 

        - Partner wants to add a billing code to correlate to a specific BGC
        package
      parameters:
        - description: "The Paylocity Company Identifier. This is the unique value provided by Paylocity to each specific Payroll Entity.\r\n                **Allowable Values:**\r\n                9 char max"
          name: companyId
          in: path
          required: true
          schema:
            type: string
          example: A12345
        - description: "The Id of the Screening Package.\r\n                **Allowable Values:**\r\n                36 char max"
          name: packageId
          in: path
          required: true
          schema:
            type: string
        - description: If true all responses are mocked and generated randomly
          name: testMode
          in: header
          schema:
            type: boolean
      requestBody:
        description: The Package data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScreeningPackageUpsertRequest'
      responses:
        '200':
          description: Returns the details of the upsert operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScreeningPackageUpsertResponse'
        '400':
          description: Bad Request Error - Returns the details of the error
        '401':
          description: Unauthorized
        '415':
          description: Unsupported Media Type - Returns the details of the error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
    delete:
      tags:
        - Screening Package
      summary: Deletes screening package
      operationId: ScreeningPackage_deletePackage
      security:
        - Bearer: []
        - JWTAuthorization: []
        - paylocity_auth: []
      description: >
        **Summary Description**


        Deletes screening package


        **Use Cases**


        - Partner does not want this package to be displayed in the UI for the
        client 
      parameters:
        - description: "The Paylocity Company Identifier. This is the unique value provided by Paylocity to each specific Payroll Entity.\r\n                **Allowable Values:**\r\n                9 char max"
          name: companyId
          in: path
          required: true
          schema:
            type: string
          example: A12345
        - description: The Id of the Screening Package.
          name: packageId
          in: path
          required: true
          schema:
            type: string
        - description: If true all responses are mocked and generated randomly
          name: testMode
          in: header
          schema:
            type: boolean
      responses:
        '200':
          description: Returns the deatils of the delete operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletePackageResponse'
        '400':
          description: Bad Request Error - Returns the details of the error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
        '401':
          description: Unauthorized
        '404':
          description: Returns the details of the error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
  /compliance/v1/companies/{companyId}/backgroundCheck/candidateScreeningOrders/status:
    patch:
      tags:
        - Candidate Screening Order
      summary: Updates the Screening Order status
      operationId: CandidateScreeningOrder_updateStatus
      security:
        - Bearer: []
        - JWTAuthorization: []
        - paylocity_auth: []
      description: >
        **Summary Description**


        This endpoint updates the Screening Order status for the given companyId
        and candidateScreeningOrderId. The patch operation on the candidate
        status endpoint allows you to update the status of the overall screening
        order and the related services. You can also send the URL where the
        recruiter can view the complete screening result. 


        **Use Cases**


        - Partner sends the initial status of the order and services, i.e.
        Ordered and Pending 

        - Partner needs to update the status of an order or services of an order
      parameters:
        - description: "The Paylocity Company Identifier. This is the unique value provided by Paylocity to each specific Payroll Entity.\r\n                **Allowable Values:**\r\n                9 char max"
          name: companyId
          in: path
          required: true
          schema:
            type: string
          example: A12345
      requestBody:
        description: The data of the update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CandidateScreeningOrderStatusUpdateRequest'
      responses:
        '200':
          description: Returns the screening order id and status that were updated
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/CandidateScreeningOrderStatusUpdateResponse
        '400':
          description: Bad Request Error - Returns the details of the error
        '401':
          description: Unauthorized
        '415':
          description: Unsupported Media Type - Returns the details of the error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorResponse'
  /apiHub/corehr/v1/companies/{companyId}:
    get:
      tags:
        - Company Information
      summary: GET a single Company Information
      operationId: CompanyInformation_getDetails
      security:
        - Bearer: []
        - JWTAuthorization: []
        - paylocity_auth: []
      description: >
        **Summary Description**


        The Get Company Information API endpoint provides access to specific
        company details. Users can retrieve a wide range of company information,
        including: company name, address, industry, (EIN) Employer
        Identification Number, and more.


        **Use Cases**


        - Once the developer has company information, they can update their
        system with the latest earning codes. To update the earning codes in
        their system and they need to know what earning codes are available in
        Paylocity.

        - After getting company data, clients are use the company specific
        schema to pull the information into their UI to expose to a user.

        - Once the developer has company information, developers can add a New
        Employee to Paylocity and the system requires them to include the
        Benefit Class assigned in Paylocity for the New Employee.
      parameters:
        - description: "The Paylocity Company Identifier. This is the unique value provided by Paylocity to each specific Payroll Entity.\r\n                **Allowable Values:**\r\n                9 char max"
          name: companyId
          in: path
          required: true
          schema:
            type: string
          example: A12345
        - description: If true all responses are mocked and generated randomly
          name: testMode
          in: header
          schema:
            type: boolean
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyInformationDto'
  /apiHub/corehr/v1/companies/{companyId}/workLocations:
    get:
      tags:
        - Payroll/HR
      summary: GET a list of Work Locations by Company ID
      operationId: PayrollHr_getWorkLocationsByCompanyId
      security:
        - Bearer: []
        - JWTAuthorization: []
        - paylocity_auth: []
      description: >
        **Summary Description**


        The GET Work Location list by Company ID endpoint allows users to fetch
        a list of work location details from a client's Paylocity instance. Work
        locations, referred to as geographic or location codes, serve as
        designations employed by corporations to specify particular physical or
        geographic places where their personnel are stationed. These codes
        fulfill several crucial functions in the domains of human resources,
        operations, and management. To use this endpoint, the Paylocity Company
        ID and “workLocations” parameter must be specified.


        **Use Cases**


        - Locations are addresses used as work or hiring locations. Each worker
        should have an assigned work location. The purpose of a work location is
        to verify workers' taxes. Work locations in HR & Payroll will show in
        Paylocity's Recruiting platform when creating job postings.

        - This information will also transfer to external job sites if using
        Recruiting Enhanced Features. Currently, only one work location can be
        added to each job listing.
      parameters:
        - description: "The Paylocity Company Identifier. This is the unique value provided by Paylocity to each specific Payroll Entity.\r\n                **Allowable Values:**\r\n                9 char max"
          name: companyId
          in: path
          required: true
          schema:
            type: string
          example: A12345
        - description: If true all responses are mocked and generated randomly.
          name: testMode
          in: header
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/PayrollHrGetWorkLocationsByCompanyIdResponse
  /apiHub/corehr/v1/companies/{companyId}/rateCodes:
    get:
      tags:
        - Payroll/HR
      summary: GET a list of Rate Codes by Company ID
      operationId: PayrollHr_listRateCodesByCompanyId
      security:
        - Bearer: []
        - JWTAuthorization: []
        - paylocity_auth: []
      description: >
        **Summary Description**


        The GET Rate Codes by list by Company ID endpoint allows users to
        retrieve a comprehensive list of Rate Codes details from a client's
        Paylocity instance. To use this endpoint, the Paylocity “rateCodes”
        parameter must be specified. Rate Codes are employed throughout multiple
        businesses to denote precise pricing or rate frameworks. Rate codes are
        vital for monitoring and overseeing various pricing alternatives,
        employee pay rates, packages, or promotions offered by businesses. These
        codes facilitate the optimization of pricing management, reservations,
        and financial transactions.


        **Use Cases**


        - Hotel room rates are typically categorized and differentiated using
        rate codes in the hospitality business. Each rate code corresponds to a
        distinct kind of room (such as standard, deluxe, or suite) or a special
        price arrangement (such as non-refundable, corporate, or promotional).
         -Seasonal Pricing: Rate codes can be utilized to enforce fluctuations in pricing based on different seasons. For instance, a hotel may utilize distinct rate codes to distinguish between rates during peak season and rates during off-peak season. 
         -Businesses frequently generate rate codes to facilitate special deals, packages, or promotions. These codes may encompass reductions, free perks, or combined offerings (e.g., "bed and breakfast" packages).
        - A business would like to have different codes per shift work.
      parameters:
        - description: "The Paylocity Company Identifier. This is the unique value provided by Paylocity to each specific Payroll Entity.\r\n                **Allowable Values:**\r\n                9 char max"
          name: companyId
          in: path
          required: true
          schema:
            type: string
          example: A12345
        - description: If true all responses are mocked and generated randomly.
          name: testMode
          in: header
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayrollHrListRateCodesByCompanyIdResponse'
  /apiHub/corehr/v1/companies/{companyId}/costCentersAndLevels:
    get:
      tags:
        - Payroll/HR
      summary: GET a list of Cost Centers by Company ID
      operationId: PayrollHr_getCostCenterListByCompanyId
      security:
        - Bearer: []
        - JWTAuthorization: []
        - paylocity_auth: []
      description: >
        **Summary Description**


        The GET Cost Center List by Company ID endpoint, retrieves a
        comprehensive list of Cost Center from the Paylocity system with each
        call. To use this endpoint, the Paylocity “costCentersAndLevels”
        parameter must be specified. Cost centers are distinct entities or
        divisions within an organization that bear expenses as a result of their
        activities. These cost centers are crucial for monitoring and
        controlling expenses, allocating funds, and evaluating the efficiency of
        various departments within the firm. Cost centers are predominantly
        employed in managerial accounting and financial management to apportion
        expenses and evaluate resource utilization. Typical instances of cost
        centers encompass production departments, marketing teams, research and
        development units, and administrative offices.


        **Use Cases**


        - Cost allocation refers to the process of assigning costs that have
        been incurred by a specific cost center to that same center. The costs
        encompass staff remuneration, utility bills, rental fees, supplies, and
        any additional expenses related to the activities of the cost center.

        - Budgeting: Cost centers are essential in the process of creating a
        budget. Organizations distribute budgets among several cost centers and
        then compare the actual expenses of each center to their allocated
        budget. This facilitates cost management and performance assessment. 

        - Performance Evaluation: Cost centers are assessed according to their
        capacity to effectively control costs while attaining their goals.
        Performance metrics may encompass indicators such as the cost incurred
        for each unit of output, the cost incurred for each employee, or other
        pertinent measures. 

        - Cost Reporting: Organizations frequently produce reports for
        individual cost centers, providing a comprehensive breakdown of their
        expenditures and operational effectiveness. Management utilizes these
        reports to evaluate the financial well-being and effectiveness of each
        cost center.


        **Note**


        - A company cannot delete Cost Centers. The Cost Center is editable
        after use, but the chosen Code for the Cost Center is permanent.

        - To ensure cross-product compatibility, Cost Center Codes should not
        contain leading zeros or special characters. Cost Center codes must be
        numeric only if employees transfer using time clocks or kiosk tablets.

        - A company cannot delete Cost Centers. The Cost Center is editable
        after use, but the chosen Code for the Cost Center is permanent.

        - A Country selection is necessary before being able to enter
        information into the Zip and State fields when selecting the Override
        Company Check Printing Address option.
      parameters:
        - description: "The Paylocity Company Identifier. This is the unique value provided by Paylocity to each specific Payroll Entity.\r\n                **Allowable Values:**\r\n                9 char max"
          name: companyId
          in: path
          required: true
          schema:
            type: string
          example: A12345
        - description: If true all responses are mocked and generated randomly.
          name: testMode
          in: header
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/PayrollHrGetCostCenterListByCompanyIdResponse
  /apiHub/payroll/v1/companies/{companyId}/earnings:
    get:
      tags:
        - Payroll/HR
      summary: GET a List of Earning Codes by Company ID
      operationId: PayrollHr_getEarningCodesByCompanyId
      security:
        - Bearer: []
        - JWTAuthorization: []
        - paylocity_auth: []
      description: >
        **Summary Description**


        The GET Earning Codes List by Company ID endpoint, retrieves a
        comprehensive list of Earning Codes from the Paylocity system with each
        call. Earning codes, also known as earning kinds or pay codes, are
        alphanumeric or numeric labels employed by organizations to classify and
        monitor various forms of earnings or income that employees get as part
        of their compensation. These codes have multiple crucial applications in
        payroll management, accounting, and compensation administration.
        Pagination can be achieved by using the "earnings" parameter and
        specifying the values of "limit" and "offset" to decide the quantity of
        records to be retrieved. The utilization of the "limit" option permits
        the user to restrict the quantity of rows that are retrieved from a
        query, whereas the "offset" option enables the omission of a designated
        number of rows preceding the commencement of the result set. The
        utilization of both the limit and offset parameters in a query allows
        for the skipping of rows as well as the restriction of the number of
        rows returned.


        **Use Cases**


        - The API enables payroll departments to oversee earning codes linked to
        various forms of compensation, such as standard salary, overtime,
        bonuses, and incentives. This guarantees precise and effective payroll
        computations.

        - Compensation Management: HR teams can employ the API to view earning
        codes for diverse work titles and staff groups. This allows firms to
        maintain alignment with compensation policies and industry norms.

        - Benefits Administration involves the inclusion of earning codes that
        contain not just wage components but also other benefits like as health
        insurance, retirement contributions, and stock options. The API
        facilitates the monitoring and administration of these varied
        compensation components.

        - Time and Attendance Integration: By integrating with time and
        attendance systems, the API may automate the computation of earnings
        using data on hours worked, shifts, and attendance.
      parameters:
        - description: "The Paylocity Company Identifier. This is the unique value provided by Paylocity to each specific Payroll Entity.\r\n                **Allowable Values:**\r\n                9 char max"
          name: companyId
          in: path
          required: true
          schema:
            type: string
          example: A12345
        - description: >-
            A boolean value representing whether the API should return the total
            number of resources available (even though only a subset may be
            returned). When includeTotalCount=true, then the X-Pcty-Total-Count
            response header should be added to the response and will specify the
            total number of records available. APIs that support
            X-Pcty-Total-Count should include this parameter in their
            specification.
          name: includeTotalCount
          in: query
          schema:
            type: boolean
            default: true
        - description: If true all responses are mocked and generated randomly.
          name: testMode
          in: header
          schema:
            type: boolean
            default: false
        - description: "Number of earning codes per page.\r\n                **Default Value:** 20\r\n                **Maximum Value:** 100"
          name: limit
          in: query
          schema:
            type: integer
            format: int32
            default: 20
          example: 5
        - description: Pagination offset.
          name: offset
          in: query
          schema:
            type: integer
            format: int32
            default: 0
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/PayrollHrGetEarningCodesByCompanyIdResponse
  /apiHub/payroll/v1/companies/{companyId}/deductions:
    get:
      tags:
        - Payroll/HR
      summary: "GET a list of Deduction Codes by Company ID\r\n"
      operationId: PayrollHr_getDeductionCodesByCompanyId
      security:
        - Bearer: []
        - JWTAuthorization: []
        - paylocity_auth: []
      description: >
        **Summary Description**


        The GET Deduction Codes by list by Company ID endpoint allows users to
        retrieve a comprehensive list of  Deduction Codes details from a
        client's Paylocity instance. To use this endpoint, the Paylocity
        “deductions” parameter must be specified. Deduction Codes are
        alphanumeric or numeric identifiers used in financial and accounting
        systems to categorize and track various types of deductions. These
        deductions can include expenses, withholdings, reductions in pay, or
        other adjustments made to an individual's or organization's financial
        records. Pagination can be achieved by using the "deductions" parameter
        and specifying the values of "limit" and "offset" to decide the quantity
        of records to be retrieved. The utilization of the "limit" option
        permits the user to restrict the quantity of rows that are retrieved
        from a query, whereas the "offset" option enables the omission of a
        designated number of rows preceding the commencement of the result set.
        The utilization of both the limit and offset parameters in a query
        allows for the skipping of rows as well as the restriction of the number
        of rows returned.


        **Use Cases**


        - Accounts Receivable: Deduction codes can be utilized to monitor
        discounts, allowances, or modifications applied to invoices or accounts
        payable.

        - Taxes: Various tax jurisdictions employ deduction codes to describe
        the specific sort of tax being subtracted, such as federal income tax,
        state income tax, or local taxes.

        - Advantages: Deduction codes can be utilized to classify deductions
        associated with employee benefits like as health insurance, dental
        coverage, or retirement plans.

        - Loans and Debts: Lenders and financial organizations utilize deduction
        codes to precisely indicate the reason for deductions made for loan
        repayments, interest, or fees.

        - Expense Reporting: Deduction codes are utilized in company cost
        reporting to classify and monitor several types of spending, including
        travel, meals, entertainment, and office supplies.
      parameters:
        - description: "The Paylocity Company Identifier. This is the unique value provided by Paylocity to each specific Payroll Entity.\r\n                **Allowable Values:**\r\n                9 char max"
          name: companyId
          in: path
          required: true
          schema:
            type: string
          example: A12345
        - description: >-
            A boolean value representing whether the API should return the total
            number of resources available (even though only a subset may be
            returned). When includeTotalCount=true, then the X-Pcty-Total-Count
            response header should be added to the response and will specify the
            total number of records available. APIs that support
            X-Pcty-Total-Count should include this parameter in their
            specification.
          name: includeTotalCount
          in: query
          schema:
            type: boolean
            default: true
        - description: If true all responses are mocked and generated randomly.
          name: testMode
          in: header
          schema:
            type: boolean
            default: false
        - description: Pagination offset.
          name: offset
          in: query
          schema:
            type: integer
            format: int32
            default: 0
        - description: "Number of deduction codes per page.\r\n                **Default Value:** 20\r\n                **Maximum Value:** 100"
          name: limit
          in: query
          schema:
            type: integer
            format: int32
            default: 50
          example: 5
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/PayrollHrGetDeductionCodesByCompanyIdResponse
  /apiHub/payroll/v1/companies/{companyId}/payFrequencies:
    get:
      tags:
        - Payroll/HR
      summary: "GET Pay Frequency Code by list by Company ID\r\n"
      operationId: PayrollHr_listPayFrequenciesByCompanyId
      security:
        - Bearer: []
        - JWTAuthorization: []
        - paylocity_auth: []
      description: "**Summary Description**\n\nThe GET Pay Frequency Code by list by Company ID endpoint allows users to retrieve a comprehensive list of Pay Frequency Code details from a client's Paylocity instance. To use this endpoint, the Paylocity “payFrequencies” parameter must be specified. A Frequency Code in HR & Payroll determines the criteria for applying an Earning, Deduction, or Agency Code during payroll processing. Pagination can be achieved by using the \"payFrequencies\" parameter and specifying the values of \"limit\" and \"offset\" to decide the quantity of records to be retrieved. The utilization of the \"limit\" option permits the user to restrict the quantity of rows that are retrieved from a query, whereas the \"offset\" option enables the omission of a designated number of rows preceding the commencement of the result set. The utilization of both the limit and offset parameters in a query allows for the skipping of rows as well as the restriction of the number of rows returned. “includeTotalCount” parameter can also be used to return the total number of resources available (even though only a subset may be returned).\n\n**Use Cases**\n\n- A company uses pay frequency code to determine how often pay is distributed to employees whether it be Daily, Weekly, Bi-Weekly, or Semi-Monthly. In order for an Earning/Deduction/Agency related with a company's Weekly payroll frequency to trigger again, there must be a minimum of 5 days between Check Dates. The subsequent Check Date will be determined by adding 6 days to the date of the previous Check Date when the deduction took place.\n  - If the frequency of Earning/Deduction/Agency includes a Block Week, and the subsequent Check Date that qualifies comes within the blocked week, HR & Payroll will prevent the deduction.\n  - If the frequency is Bi-Weekly or Semi-Monthly, a minimum of 10 days must elapse between Check Dates. The deduction will occur again on the 10th day after the last Check Date.\r\nThe following frequencies are exempt from cool down intervals. The Payroll and HR department considers the utilization of deductions in the current month and the activation status of a Block Week.\n  - The frequency of the Monthly take Last Week (ML) will only be applied if the date corresponds to the last Check Date on the calendar and the Earning/Deduction/Agency Code has not yet been applied for the month.\n- The Q1W frequency will only be applicable if the payroll is the initial payroll of the quarter and the Earning/Deduction/Agency Code has not been applied for the quarter yet.\r\nThe frequency of Block Week 5 (BL5) will be applicable only if the Check Date occurs on or before the 28th and there has been a gap of more than 5 days since the last Check Date for the Earning/Deduction/Agency Code to be applied.\n- The company operates on a biweekly pay schedule with a check date occurring every five out of four weeks. Subsequently, the corporation implements a Bi-Weekly deduction frequency, commencing 2 days after the initial deduction. If a Check Date occurs on 5/11, the deduction will still be processed, regardless of the fact that there is less than a 10-day gap between Check Dates. If a check with a date of 5/17 is processed, the deduction will not be subtracted.\n"
      parameters:
        - description: "The Paylocity Company Identifier. This is the unique value provided by Paylocity to each specific Payroll Entity.\r\n                **Allowable Values:**\r\n                9 char max"
          name: companyId
          in: path
          required: true
          schema:
            type: string
          example: A12345
        - description: If true all responses are mocked and generated randomly.
          name: testMode
          in: header
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/PayrollHrListPayFrequenciesByCompanyIdResponse
  /apiHub/payroll/v1/companies/{companyId}/taxes:
    get:
      tags:
        - Payroll/HR
      summary: "GET a list of Tax Codes by Company ID\r\n"
      operationId: PayrollHr_getTaxCodesByCompanyId
      security:
        - Bearer: []
        - JWTAuthorization: []
        - paylocity_auth: []
      description: "**Summary Description**\n\nThe GET Tax Codes by list by Company ID endpoint allows users to retrieve a comprehensive list of Tax Codes details from a client's Paylocity instance. To use this endpoint, the Paylocity “taxes” parameter must be specified. Tax codes serve as a means for tax authorities and organizations to categorize various forms of taxes and tax-related data. These codes facilitate precise computation, reporting, and adherence to diverse tax responsibilities. Tax codes are jurisdiction-specific and can vary substantially between different locations.\r\n\r\nPagination can be achieved by using the \"taxes\" parameter and specifying the values of \"limit\" and \"offset\" to decide the quantity of records to be retrieved. The utilization of the \"limit\" option permits the user to restrict the quantity of rows that are retrieved from a query, whereas the \"offset\" option enables the omission of a designated number of rows preceding the commencement of the result set. The utilization of both the limit and offset parameters in a query allows for the skipping of rows as well as the restriction of the number of rows returned. “includeTotalCount” parameter can also be used to return the total number of resources available (even though only a subset may be returned).\n\n**Use Cases**\n\n- The process of calculating income tax involves the utilization of tax codes, which serve to calculate the appropriate income tax rates and brackets for both people and businesses. Distinct tax codes may be applicable to different income thresholds, filing statuses, and categories of income (such as capital gains and dividends).\n- Payroll Deductions: Employers utilize tax codes to accurately compute and retain the appropriate amount of income tax, Social Security tax, and Medicare tax from employees' wages. These codes serve to guarantee that employees have the accurate amount of tax deducted throughout the year.\n "
      parameters:
        - description: "The Paylocity Company Identifier. This is the unique value provided by Paylocity to each specific Payroll Entity.\r\n                **Allowable Values:**\r\n                9 char max"
          name: companyId
          in: path
          required: true
          schema:
            type: string
          example: A12345
        - description: If true all responses are mocked and generated randomly.
          name: testMode
          in: header
          schema:
            type: boolean
            default: false
        - description: >-
            A boolean value representing whether the API should return the total
            number of resources available (even though only a subset may be
            returned). When includeTotalCount=true, then the X-Pcty-Total-Count
            response header should be added to the response and will specify the
            total number of records available. APIs that support
            X-Pcty-Total-Count should include this parameter in their
            specification.
          name: includeTotalCount
          in: query
          schema:
            type: boolean
            default: true
        - description: Pagination offset.
          name: offset
          in: query
          schema:
            type: integer
            format: int32
            default: 0
        - description: "Number of tax codes per page.\r\n                **Default Value:** 20\r\n                **Maximum Value:** 100"
          name: limit
          in: query
          schema:
            type: integer
            format: int32
            default: 50
          example: 5
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayrollHrGetTaxCodesByCompanyIdResponse'
  /apiHub/positionManagement/v1/companies/{companyId}/workerCompensationCodes:
    get:
      tags:
        - Payroll/HR
      summary: GET a List of Workers Compensation Codes by Company ID
      operationId: PayrollHr_listWorkerCompensationCodesByCompanyId
      security:
        - Bearer: []
        - JWTAuthorization: []
        - paylocity_auth: []
      description: >
        **Summary Description**


        The GET Workers Compensation Codes List by Company ID endpoint,
        retrieves a comprehensive list of Workers Compensation Codes from the
        Paylocity system with each call. Workers' compensation codes, also known
        as workers' compensation class codes or class codes, are standardized
        numeric or alphanumeric identifiers utilized to define and categorize
        various work kinds or job duties inside the workers' compensation
        insurance system. Workers' compensation insurance offers compensation to
        employees who experience work-related injuries or illnesses, and these
        codes are essential in determining insurance rates and processing
        claims.

        Pagination can be achieved by using the "workerCompensationCodes"
        parameter and specifying the values of "limit" and "offset" to decide
        the quantity of records to be retrieved. The utilization of the "limit"
        option permits the user to restrict the quantity of rows that are
        retrieved from a query, whereas the "offset" option enables the omission
        of a designated number of rows preceding the commencement of the result
        set. The utilization of both the limit and offset parameters in a query
        allows for the skipping of rows as well as the restriction of the number
        of rows returned.


        **Use Cases**


        - Locations are addresses used as work or hiring locations. Each worker
        should have an assigned work location. The purpose of a work location is
        to verify workers' taxes. Work locations in HR & Payroll will show in
        Paylocity's Recruiting platform when creating job postings.

        - This information will also transfer to external job sites if using
        Recruiting Enhanced Features. Currently, only one work location can be
        added to each job listing.
      parameters:
        - description: "The Paylocity Company Identifier. This is the unique value provided by Paylocity to each specific Payroll Entity.\r\n                **Allowable Values:**\r\n                9 char max"
          name: companyId
          in: path
          required: true
          schema:
            type: string
          example: A12345
        - description: >-
            A boolean value representing whether the API should return the total
            number of resources available (even though only a subset may be
            returned). When includeTotalCount=true, then the X-Pcty-Total-Count
            response header should be added to the response and will specify the
            total number of records available. APIs that support
            X-Pcty-Total-Count should include this parameter in their
            specification.
          name: includeTotalCount
          in: query
          schema:
            type: boolean
            default: true
        - description: If true all responses are mocked and generated randomly.
          name: testMode
          in: header
          schema:
            type: boolean
            default: false
        - description: "Number of workers compensation codes per page.\r\n                **Default Value:** 20\r\n                **Maximum Value:** 100"
          name: limit
          in: query
          schema:
            type: integer
            format: int32
            default: 20
          example: 5
        - description: Pagination offset.
          name: offset
          in: query
          schema:
            type: integer
            format: int32
            default: 0
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/PayrollHrListWorkerCompensationCodesByCompanyIdResponse
  /apiHub/positionManagement/v1/companies/{companyId}/positions:
    get:
      tags:
        - Payroll/HR
      summary: GET a List of Position Codes by Company ID
      operationId: PayrollHr_listPositionCodesByCompanyId
      security:
        - Bearer: []
        - JWTAuthorization: []
        - paylocity_auth: []
      description: >
        **Summary Description**


        The GET Position Codes List by Company ID endpoint, retrieves a
        comprehensive list of Position Codes from the Paylocity system with each
        call. Position codes are alphanumeric or numeric designations employed
        by corporations to classify and oversee various job responsibilities and
        positions within their workforce. These codes fulfill several crucial
        functions in the domains of human resources, talent management, and
        organizational structure.

        Pagination can be achieved by using the "positions" parameter and
        specifying the values of "limit" and "offset" to decide the quantity of
        records to be retrieved. The utilization of the "limit" option permits
        the user to restrict the quantity of rows that are retrieved from a
        query, whereas the "offset" option enables the omission of a designated
        number of rows preceding the commencement of the result set. The
        utilization of both the limit and offset parameters in a query allows
        for the skipping of rows as well as the restriction of the number of
        rows returned.


        **Use Cases**


        - Human Resources Management: HR departments often use position codes to
        categorize and manage job roles within an organization. The API can
        facilitate the creation, updating, and retrieval of position codes,
        ensuring that job roles are accurately documented and maintained.

        - Payroll and Compensation Management: Position codes are crucial for
        determining salary scales and compensation packages. The API can be used
        to link position codes with salary information, simplifying payroll
        processing and compensation management.

        - Recruitment and Onboarding: When hiring new employees, organizations
        can use the API to identify vacant positions and manage the recruitment
        process more efficiently. It can help HR teams keep track of available
        job roles and their requirements.

        - Compliance and Reporting: Many regulatory agencies require
        organizations to report on specific job roles and positions. The API can
        assist in generating compliance reports by providing access to accurate
        position code data.
      parameters:
        - description: "The Paylocity Company Identifier. This is the unique value provided by Paylocity to each specific Payroll Entity.\r\n                **Allowable Values:**\r\n                9 char max"
          name: companyId
          in: path
          required: true
          schema:
            type: string
          example: A12345
        - description: >-
            A boolean value representing whether the API should return the total
            number of resources available (even though only a subset may be
            returned). When includeTotalCount=true, then the X-Pcty-Total-Count
            response header should be added to the response and will specify the
            total number of records available. APIs that support
            X-Pcty-Total-Count should include this parameter in their
            specification.
          name: includeTotalCount
          in: query
          schema:
            type: boolean
            default: true
        - description: If true all responses are mocked and generated randomly.
          name: testMode
          in: header
          schema:
            type: boolean
            default: false
        - description: "Number of position codes per page.\r\n                **Default Value:** 20\r\n                **Maximum Value:** 100"
          name: limit
          in: query
          schema:
            type: integer
            format: int32
            default: 20
          example: 5
        - description: Pagination offset.
          name: offset
          in: query
          schema:
            type: integer
            format: int32
            default: 0
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/PayrollHrListPositionCodesByCompanyIdResponse
  /apiHub/positionManagement/v1/companies/{companyId}/payGrades:
    get:
      tags:
        - Payroll/HR
      summary: GET a List of Pay Grades by Company ID
      operationId: PayrollHr_getPayGradesByCompanyId
      security:
        - Bearer: []
        - JWTAuthorization: []
        - paylocity_auth: []
      description: >
        **Summary Description**


        The GET Pay Grades List by Company ID endpoint, retrieves a
        comprehensive list of Pay Grades  from the Paylocity system with each
        call. Pay grades, commonly referred to as pay scales or wage ranges, are
        numerical or alphanumeric categorizations employed by corporations to
        classify tasks or positions according to their relative worth or
        intricacy within the organization. Pay grades are commonly linked to a
        spectrum of salaries and fulfill various crucial functions in human
        resources and pay administration.

        Pagination can be achieved by using the "payGrades" parameter and
        specifying the values of "limit" and "offset" to decide the quantity of
        records to be retrieved. The utilization of the "limit" option permits
        the user to restrict the quantity of rows that are retrieved from a
        query, whereas the "offset" option enables the omission of a designated
        number of rows preceding the commencement of the result set. The
        utilization of both the limit and offset parameters in a query allows
        for the skipping of rows as well as the restriction of the number of
        rows returned.

        Pay Grades are otherwise optional in HR & Payroll and do not affect any
        rate calculations that will cause changes in payroll.


        **Use Cases**


        - Configure and specify Current Pay Rates for employees in HR & Payroll.
        Certain reports, such as the CMS PBJ Report, also known as the Centers
        for Medicare & Medicaid Services Payroll-Based Journal Report, and other
        specially configured Custom Reports reference Pay Grades.
      parameters:
        - description: "The Paylocity Company Identifier. This is the unique value provided by Paylocity to each specific Payroll Entity.\r\n                **Allowable Values:**\r\n                9 char max"
          name: companyId
          in: path
          required: true
          schema:
            type: string
          example: A12345
        - description: >-
            A boolean value representing whether the API should return the total
            number of resources available (even though only a subset may be
            returned). When includeTotalCount=true, then the X-Pcty-Total-Count
            response header should be added to the response and will specify the
            total number of records available. APIs that support
            X-Pcty-Total-Count should include this parameter in their
            specification.
          name: includeTotalCount
          in: query
          schema:
            type: boolean
            default: true
        - description: If true all responses are mocked and generated randomly.
          name: testMode
          in: header
          schema:
            type: boolean
            default: false
        - description: "Number of pay grades per page.\r\n                **Default Value:** 20\r\n                **Maximum Value:** 100"
          name: limit
          in: query
          schema:
            type: integer
            format: int32
            default: 20
          example: 5
        - description: Pagination offset.
          name: offset
          in: query
          schema:
            type: integer
            format: int32
            default: 0
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayrollHrGetPayGradesByCompanyIdResponse'
  /apiHub/payroll/v1/companies/{companyId}/jobs:
    get:
      tags:
        - Job Codes
      summary: GET a list of Job Codes by Company ID
      operationId: JobCodes_listByCompanyId
      security:
        - Bearer: []
        - JWTAuthorization: []
        - paylocity_auth: []
      description: >
        **Summary Description**


        The GET Job Code List by Company ID endpoint, retrieves a comprehensive
        list of Job Codes from the Paylocity system with each call. Pagination
        can be achieved by using the "jobs" parameter and specifying the values
        of "limit" and "offset" to decide the quantity of records to be
        retrieved. The utilization of the "limit" option permits the user to
        restrict the quantity of rows that are retrieved from a query, whereas
        the "offset" option enables the omission of a designated number of rows
        preceding the commencement of the result set. The utilization of both
        the limit and offset parameters in a query allows for the skipping of
        rows as well as the restriction of the number of rows returned


        **Use Cases**


        - The GET a list of Job Codes API endpoint allows users to fetch
        specific Job Code details from a client's Paylocity instance. To use
        this endpoint, the Paylocity Company ID must be specified

        - The 'Get Job Codes List by Company ID' endpoint empowers API users to
        fetch a comprehensive list of Job Codes alongside their relevant data
      parameters:
        - description: "The Paylocity Company Identifier. This is the unique value provided by Paylocity to each specific Payroll Entity.\r\n                **Allowable Values:**\r\n                9 char max"
          name: companyId
          in: path
          required: true
          schema:
            type: string
          example: A12345
        - description: If true all responses are mocked and generated randomly
          name: testMode
          in: header
          schema:
            type: boolean
        - description: >-
            The API Filter, by defining specific conditions, enables developers
            to fine-tune data from API calls for more precise results, enhancing
            application efficiency and user-friendliness. For more information
            review the Filtering page
          name: filter
          in: query
          schema:
            type: string
        - description: "Number of jobs per page.\r\n                **Default Value:** 20\r\n                **Maximum Value:** 100"
          name: limit
          in: query
          schema:
            type: integer
            format: int32
            default: 20
          example: 5
        - description: Pagination offset
          name: offset
          in: query
          schema:
            type: integer
            format: int32
            default: 0
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobCodesListByCompanyIdResponse'
    post:
      tags:
        - Job Codes
      summary: Create a single Job Code
      operationId: JobCodes_createSingleJobCode
      security:
        - Bearer: []
        - JWTAuthorization: []
        - paylocity_auth: []
      description: >
        **Summary Description**


        The POST Single Job Code endpoint enables users to create precise values
        regarding Job Codes from the Paylocity instance of a client. In order to
        utilize this endpoint, it is necessary to provide the payload values in
        accordance with the established standards of the Paylocity API, as
        specified for the respective object type and description. It is required
        to provide the Company ID in the endpoint and the specifications of the
        Job Code in the payload body


        **Use Cases**


        - This API endpoint will allow an API user to create a Job Code record
        for a specific company ID

        - Job Codes must be added before running payroll
      parameters:
        - description: "The Paylocity Company Identifier. This is the unique value provided by Paylocity to each specific Payroll Entity.\r\n                **Allowable Values:**\r\n                9 char max"
          name: companyId
          in: path
          required: true
          schema:
            type: string
          example: A12345
      requestBody:
        description: Job Code data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateJobCodeDto'
          text/json:
            schema:
              $ref: '#/components/schemas/CreateJobCodeDto'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CreateJobCodeDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CreateJobCodeDto'
      responses:
        '200':
          description: Success
  /apiHub/payroll/v1/companies/{companyId}/jobs/{jobCode}:
    get:
      tags:
        - Job Codes
      summary: GET a single Job Code
      operationId: JobCodes_getSingleJobCodeDetails
      security:
        - Bearer: []
        - JWTAuthorization: []
        - paylocity_auth: []
      description: >
        **Summary Description**


        The GET Single Job Code API endpoint allows users to fetch specific Job
        Code details from a client's Paylocity instance. To use this endpoint,
        the Paylocity Company ID and Job Code must be specified


        **Use Cases**


        - This API endpoint will allow an API user to retrieve a Job Code record
        for a specific company ID and Job Code ID
      parameters:
        - description: "The Paylocity Company Identifier. This is the unique value provided by Paylocity to each specific Payroll Entity.\r\n                **Allowable Values:**\r\n                9 char max"
          name: companyId
          in: path
          required: true
          schema:
            type: string
          example: A12345
        - description: "A specific identifier or label assigned to individual tasks, projects, or assignments within a company.\r\n                **Allowable Values:**\r\n                A Job Code may contain up to 10 alpha-numeric characters. Spaces or special characters are not allowed"
          name: jobCode
          in: path
          required: true
          schema:
            type: string
        - description: If true all responses are mocked and generated randomly
          name: testMode
          in: header
          schema:
            type: boolean
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobCodeDto'
    put:
      tags:
        - Job Codes
      summary: Update a single Job Code
      operationId: JobCodes_updateSingleJobCode
      security:
        - Bearer: []
        - JWTAuthorization: []
        - paylocity_auth: []
      description: >
        **Summary Description**


        The PUT Job Code endpoint enables users to update precise values
        regarding Job Codes from the Paylocity instance of a client. In order to
        utilize this endpoint, it is necessary to provide the payload values in
        accordance with the established standards of the Paylocity API, as
        specified for the respective object type and description.  It is
        required to provide both the Company ID and the Job Code ID in the
        endpoint


        **Use Cases**


        - This API endpoint will allow an API user to update a Job Code record
        for a specific company ID and Job Code ID

        - Job Codes must be added before running payroll
      parameters:
        - description: "The Paylocity Company Identifier. This is the unique value provided by Paylocity to each specific Payroll Entity.\r\n                **Allowable Values:**\r\n                9 char max"
          name: companyId
          in: path
          required: true
          schema:
            type: string
          example: A12345
        - description: "A specific identifier or label assigned to individual tasks, projects, or assignments within a company.\r\n                **Allowable Values:**\r\n                A Job Code may contain up to 10 alpha-numeric characters. Spaces or special characters are not allowed"
          name: jobCode
          in: path
          required: true
          schema:
            type: string
      requestBody:
        description: Job Code data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateJobCodeDto'
          text/json:
            schema:
              $ref: '#/components/schemas/UpdateJobCodeDto'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/UpdateJobCodeDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/UpdateJobCodeDto'
      responses:
        '200':
          description: Success
    delete:
      tags:
        - Job Codes
      summary: Delete a single Job Code
      operationId: JobCodes_deleteSingleJobCode
      security:
        - Bearer: []
        - JWTAuthorization: []
        - paylocity_auth: []
      description: >
        **Summary Description**


        The DELETE Job Code endpoint enables users to delete a single job code
        and it’s values from the Paylocity instance of a client. In order to
        utilize this endpoint, it is required to provide both the Company ID and
        the Job Code ID in the endpoint


        **Best Practice Notice:** If you delete a job code which has been used
        in payroll, your reports may be impacted. The best practice is to make
        the job code inactive instead of deleting the entire job code


        **Use Cases**


        - This API endpoint will allow an API user to delete a Job Code record
        for a specific company ID and Job Code ID
      parameters:
        - description: "The Paylocity Company Identifier. This is the unique value provided by Paylocity to each specific Payroll Entity.\r\n                **Allowable Values:**\r\n                9 char max"
          name: companyId
          in: path
          required: true
          schema:
            type: string
          example: A12345
        - description: "A specific identifier or label assigned to individual tasks, projects, or assignments within a company.\r\n                **Allowable Values:**\r\n                A Job Code may contain up to 10 alpha-numeric characters. Spaces or special characters are not allowed"
          name: jobCode
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
  /documents/v1/companies/{companyId}/companyDocuments:
    get:
      tags:
        - Documents
      summary: Get a list of documents for a company
      operationId: Documents_listCompanyDocuments
      security:
        - Bearer: []
        - JWTAuthorization: []
        - paylocity_auth: []
      description: >
        **Summary Description**


        The GET company documents resource will return a list of documents for a
        specified company ID.
      parameters:
        - description: "The Paylocity Company Identifier. This is the unique value provided by Paylocity to each specific Payroll Entity.\r\n                **Allowable Values:**\r\n                9 char max"
          name: companyId
          in: path
          required: true
          schema:
            type: string
        - description: >-
            Allows for an equals comparison to the uploadedDate field. Time
            portion of the input is ignored.
          name: uploadedDate
          in: query
          allowEmptyValue: true
          schema:
            type: string
            format: date-time
        - description: >-
            Allows for a Less Than Or Equal (<=) comparison to the uploadedDate
            field. Time portion of the input is ignored.
          name: uploadedDate.lessThanOrEqualTo
          in: query
          allowEmptyValue: true
          schema:
            type: string
            format: date-time
        - description: >-
            Allows for a Greater Than Or Equal (>=) comparison to the
            uploadedDate field. Time portion of the input is ignored.
          name: uploadedDate.greaterThanOrEqualTo
          in: query
          allowEmptyValue: true
          schema:
            type: string
            format: date-time
        - description: >-
            Requests that the response include the Pcty-Total-Count header
            containing the total number of objects that match the request.  This
            may be useful if requesting a small [limit].
          name: includeTotalCount
          in: query
          allowEmptyValue: true
          schema:
            type: boolean
        - description: Defines the maximum number of items to be returned in the response.
          name: limit
          in: query
          allowEmptyValue: true
          schema:
            type: integer
            format: int32
        - description: >-
            Defines the start location to return.  Ex. offset=100 means starting
            at item 100, return the next [limit] items.
          name: offset
          in: query
          allowEmptyValue: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentsListCompanyDocumentsResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/DocumentsListCompanyDocuments200Response'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentsListCompanyDocuments400Response'
            text/json:
              schema:
                $ref: '#/components/schemas/DocumentsListCompanyDocuments400Response'
        '401':
          description: Unauthorized
          content: {}
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentsListCompanyDocuments500Response'
            text/json:
              schema:
                $ref: '#/components/schemas/DocumentsListCompanyDocuments500Response'
  /documents/v1/companies/{companyId}/employeeDocuments:
    get:
      tags:
        - Documents
      summary: Get a list of documents filtered by employee for a company
      operationId: Documents_listEmployeeFilteredDocuments
      security:
        - Bearer: []
        - JWTAuthorization: []
        - paylocity_auth: []
      description: >
        **Summary Description**


        This resource allows for looking up documents with additional filters
        such as employee, upload date, and max number of records to return.
      parameters:
        - description: "The Paylocity Company Identifier. This is the unique value provided by Paylocity to each specific Payroll Entity.\r\n                **Allowable Values:**\r\n                9 char max"
          name: companyId
          in: path
          required: true
          schema:
            type: string
        - description: Allows for an equals comparison to the employeeId field.
          name: employeeId
          in: query
          allowEmptyValue: true
          schema:
            type: string
        - description: >-
            Allows for an equals comparison to the uploadedDate field. Time
            portion of the input is ignored.
          name: uploadedDate
          in: query
          allowEmptyValue: true
          schema:
            type: string
            format: date-time
        - description: >-
            Allows for a Less Than Or Equal (<=) comparison to the uploadedDate
            field. Time portion of the input is ignored.
          name: uploadedDate.lessThanOrEqualTo
          in: query
          allowEmptyValue: true
          schema:
            type: string
            format: date-time
        - description: >-
            Allows for a Greater Than Or Equal (>=) comparison to the
            uploadedDate field. Time portion of the input is ignored.
          name: uploadedDate.greaterThanOrEqualTo
          in: query
          allowEmptyValue: true
          schema:
            type: string
            format: date-time
        - description: >-
            Requests that the response include the Pcty-Total-Count header
            containing the total number of objects that match the request.  This
            may be useful if requesting a small [limit].
          name: includeTotalCount
          in: query
          allowEmptyValue: true
          schema:
            type: boolean
        - description: Defines the maximum number of items to be returned in the response.
          name: limit
          in: query
          allowEmptyValue: true
          schema:
            type: integer
            format: int32
        - description: >-
            Defines the start location to return.  Ex. offset=100 means starting
            at item 100, return the next [limit] items.
          name: offset
          in: query
          allowEmptyValue: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/DocumentsListEmployeeFilteredDocumentsResponse
            text/json:
              schema:
                $ref: >-
                  #/components/schemas/DocumentsListEmployeeFilteredDocuments200Response
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/DocumentsListEmployeeFilteredDocuments400Response
            text/json:
              schema:
                $ref: >-
                  #/components/schemas/DocumentsListEmployeeFilteredDocuments400Response
        '401':
          description: Unauthorized
          content: {}
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/DocumentsListEmployeeFilteredDocuments500Response
            text/json:
              schema:
                $ref: >-
                  #/components/schemas/DocumentsListEmployeeFilteredDocuments500Response
  /documents/v1/companies/{companyId}/documents/{documentId}/downloads:
    post:
      tags:
        - Documents
      summary: Retrieve a document download URL
      operationId: Documents_createDocumentDownloadUrl
      security:
        - Bearer: []
        - JWTAuthorization: []
        - paylocity_auth: []
      description: >
        **Summary Description**


        This will create a new document downloadURL for the specified company
        ID.
      parameters:
        - description: "The Paylocity Company Identifier. This is the unique value provided by Paylocity to each specific Payroll Entity.\r\n                **Allowable Values:**\r\n                9 char max"
          name: companyId
          in: path
          required: true
          schema:
            type: string
        - description: >-
            The Paylocity Document Identifier. This is the unique value provided
            by Paylocity to each specific Document object.
          name: documentId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentDownloadModel'
            text/json:
              schema:
                $ref: '#/components/schemas/DocumentDownloadModel'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/DocumentsCreateDocumentDownloadUrlResponse
            text/json:
              schema:
                $ref: >-
                  #/components/schemas/DocumentsCreateDocumentDownloadUrl400Response
        '401':
          description: Unauthorized
          content: {}
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/DocumentsCreateDocumentDownloadUrl500Response
            text/json:
              schema:
                $ref: >-
                  #/components/schemas/DocumentsCreateDocumentDownloadUrl500Response
  /coreHr/v1/companies/{companyId}/employees:
    get:
      tags:
        - Employees
      summary: Gets a list of employees by company ID
      operationId: Employees_listByCompanyId
      security:
        - Bearer: []
        - JWTAuthorization: []
        - paylocity_auth: []
      description: >-
        **Summary Description**


        The GET Employee List by Company ID API endpoint provides a list of up
        to 20 employees per call from the Paylocity system. Designed for the
        initial population of user systems with Paylocity's employee data, it
        supports pagination for easy navigation through results. The 'include'
        parameter enables selective retrieval of payload elements, while the
        'Active Only' filter helps obtain only those employees with an 'Active'
        Employee Status Type. This makes the endpoint highly flexible and
        capable of delivering tailored listings to meet specific user
        requirements.


        **GET Employee List by Company ID - Use Cases:**


        - The 'Get Employee List by Company ID' endpoint empowers API users to
        fetch a comprehensive list of employees alongside their relevant data.
        Ideal for initial data loads.


        - The recommended best practice to track employee demographic changes is
        not through regular polling of this endpoint. Instead, utilize our
        employee webhooks in conjunction with the 'GET Single Employee by
        Company and Employee ID' endpoint.
      parameters:
        - description: If true all responses are mocked and generated randomly
          name: testMode
          in: header
          schema:
            type: boolean
        - description: "The Paylocity Company Identifier. This is the unique value provided by Paylocity to each specific Payroll Entity.\r\n                **Allowable Values:**\r\n                9 char max"
          name: companyId
          in: path
          required: true
          schema:
            type: string
          example: A12345
        - description: "Number of employees per page.\r\n                **Default Value:** 20\r\n                **Maximum Value:** 20"
          name: limit
          in: query
          schema:
            type: integer
            format: int32
          example: 5
        - description: Next token for the page.
          name: nextToken
          in: query
          schema:
            type: string
        - description: "Comma separated list of data to be included\r\n                **Allowable Values:**\r\n                info, position, status, payrate and futurePayrates."
          name: include
          in: query
          schema:
            type: string
          example: info,position,status,payrate,futurePayrates
        - description: "Filter only active emplooyes.\r\n                **Allowable Values:**\r\n                true, false"
          name: activeOnly
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeePage'
  /coreHr/v1/companies/{companyId}/employees/{employeeId}:
    get:
      tags:
        - Employees
      summary: Gets a single employee by company and employee IDs
      operationId: Employees_getSingleEmployeeDetails
      security:
        - Bearer: []
        - JWTAuthorization: []
        - paylocity_auth: []
      description: >-
        **Summary Description**


        The GET Single Employee API endpoint allows users to fetch specific
        employee details from a client's Paylocity instance. To use this
        endpoint, the Paylocity Company ID and the Employee ID must be
        specified. The endpoint also offers an 'include' parameter for selective
        data retrieval, enabling users to choose specific payload elements to
        retrieve.


        **GET Specific Employee - Use Cases:**


        - This API endpoint will allow an API user to retrieve an employee
        record for a specific employee ID.


        - For optimal use, pair this API endpoint with the Paylocity Employee
        Change Web Hook. This ensures that you get notified whenever there's a
        change in the employee's data in Paylocity. Along with the notification,
        you will receive the Paylocity Company ID and Employee ID corresponding
        to the employee whose data has been modified. You can then utilize the
        GET Specific Employee API endpoint to access the most recent version of
        the updated employee record.
      parameters:
        - description: If true all responses are mocked and generated randomly
          name: testMode
          in: header
          schema:
            type: boolean
        - description: "The Paylocity Company Identifier. This is the unique value provided by Paylocity to each specific Payroll Entity.\r\n                **Allowable Values:**\r\n                9 char max"
          name: companyId
          in: path
          required: true
          schema:
            type: string
          example: A12345
        - description: "A filter to use to limit results to a specific employee.\r\n                **Allowable Values:**\r\n                255 char max"
          name: employeeId
          in: path
          required: true
          schema:
            type: string
        - description: "Comma separated list of data to be included\r\n                **Allowable Values:**\r\n                info, position, status, payrate and futurePayrates."
          name: include
          in: query
          schema:
            type: string
          example: info,position,status,payrate,futurePayrates
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Employee'
  /apiHub/security/v1/companies/b6001/companyOnboardingStatuses:
    put:
      tags:
        - Client Onboarding
      summary: Upsert onboarding status
      operationId: ClientOnboarding_upsertIntegrationStatus
      security:
        - Bearer: []
        - JWTAuthorization: []
        - paylocity_auth: []
      description: >
        > 🚧 Beta Phase

        > 

        > This resource is in closed beta.  Contact the marketplace team to
        explore early adopter opportunities at
        [marketplaceapisupport@paylocity.com](mailto:marketplaceapisupport@paylocity.com) 


        **Summary Description**


        The new Partner Onboarding API is designed to enable our partners to
        onboard customers through our Paylocity Marketplace-initiated workflow.
        Approved partners will utilize the API to provision a client onto a
        specific integration. This API provides an endpoint that allows partners
        to upsert the status of the integration, using the Paylocity companyId
        specified in the request body. Partners can update the
        companyOnboardingStatus to one of three options: InProgress, Approved,
        or Rejected. If approved the partner will be able to sync the requested
        client data through the API.
      parameters:
        - description: If true all responses are mocked and generated randomly.
          name: testMode
          in: header
          schema:
            type: boolean
            default: false
      requestBody:
        description: Payload of query.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertCompanyOnboardingDto'
          text/json:
            schema:
              $ref: '#/components/schemas/UpsertCompanyOnboardingDto'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/UpsertCompanyOnboardingDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/UpsertCompanyOnboardingDto'
      responses:
        '200':
          description: Returns the upsert response details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpsertResultDto'
        '400':
          description: Bad Request Error - Returns the details of the error.
        '404':
          description: Returns the details of the error.
        '415':
          description: Unsupported Media Type - Returns the details of the error.
  /payroll/v2/companies/{companyId}/payEntryImport:
    post:
      tags:
        - Pay Entry
      summary: Create New Payroll Batch
      operationId: PayEntryV2_GetPayEntryImport
      security:
        - Bearer: []
        - JWTAuthorization: []
        - paylocity_auth: []
      description: |-
        **Summary Description**

         The Paylocity Pay Entry API is a powerful tool designed to streamline and automate payroll processes. It enables API users to transmit crucial payroll data, such as time tracking, earnings, deductions, and taxes. A batch is posted to Paylocity and is added to the Pay Entry Screen for the corresponding check date. This API Endpoint ensures accuracy and efficiency in the payroll process and reduces manual importing, making it a valuable tool for streamlining inputting Payroll data from an external system. 

         **Pay Entry Use Cases:** 

[...]
