openapi: 3.0.3
info:
  title: Reconciliation
  description: Documentation for the Reconciliation API endpoints
  version: 1.0.0
  contact:
    name: Peach Payments Support
    url: https://support.peachpayments.com/support/home
    email: support@peachpayments.com
  termsOfService: https://swagger.io/terms/
  license:
    name: MIT
    url: https://mit-license.org
  x-konfig-ignore:
    potential-incorrect-type: true
servers:
  - description: Sandbox environment.
    url: https://sandbox-reconciliation.ppay.io
  - description: Live environment.
    url: https://reconciliation.peachpayments.com
tags:
  - name: Batch
  - name: Payments API inbound
  - name: Checkout generation
  - name: Payment
  - name: Status
  - name: Files
  - name: Helpers
  - name: Checkout V2 generation
  - name: Payments API outbound
  - name: Transactions recon
paths:
  /checkout/initiate:
    post:
      tags:
        - Checkout generation
      summary: Initiate redirect-based Checkout
      operationId: CheckoutGeneration_initiateRedirectCheckout
      description: >
        Provide a redirect URL to the caller to redirect the user into the
        Checkout experience. The POST request contains the entityId, signature,
        purchase parameters, and any custom parameters that a merchant
        optionally sends. This allows the checkout instance to be created from a
        backend without requiring a "form post", or other similar method, from
        the frontend.


        For more information, see the
        [documentation](https://developer.peachpayments.com/docs/checkout-payment#redirect-based-checkout).
      parameters:
        - description: An allowlisted domain for the merchant.
          in: header
          name: Referer
          required: true
          schema:
            type: string
          example: https://mydemostore.com
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Checkout'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Checkout'
      responses:
        '201':
          description: Request processed successfully.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/CheckoutGenerationInitiateRedirectCheckoutResponse
        '400':
          description: Invalid authentication information.
        '500':
          description: Internal server error.
  /checkout:
    post:
      tags:
        - Checkout generation
      summary: Initiate Checkout
      operationId: CheckoutGeneration_initiatePayment
      description: >
        Load the Checkout frontend to complete a payment. The POST request
        contains the entityId, signature, purchase parameters, and any custom
        parameters that a merchant optionally sends.


        Sign the data on the backend and execute the POST from the browser.


        For more information, see the
        [documentation](https://developer.peachpayments.com/docs/checkout-payment#form-post-checkout).
      parameters:
        - description: An allowlisted domain for the merchant.
          in: header
          name: Referer
          required: true
          schema:
            type: string
          example: https://mydemostore.com
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Checkout'
      responses:
        '200':
          description: Checkout successfully created.
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/CheckoutPage'
        '400':
          description: A validation error has occurred with Checkout.
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/CheckoutErrorPage'
        '500':
          description: Internal server error.
      callbacks:
        Checkout created:
          '{$request.body#/notificationUrl}':
            post:
              description: Checkout created for request.
              requestBody:
                required: true
                content:
                  application/x-www-form-urlencoded:
                    schema:
                      $ref: '#/components/schemas/CheckoutCreatedWebhook'
              responses:
                '200':
                  description: Return this code if your service accepts the webhook.
        Checkout cancelled:
          '{$request.body#/notificationUrl}':
            post:
              description: Checkout cancelled.
              requestBody:
                required: true
                content:
                  application/x-www-form-urlencoded:
                    schema:
                      $ref: '#/components/schemas/CheckoutCancelledWebhook'
              responses:
                '200':
                  description: Return this code if your service accepts the webhook.
        Checkout uncertain:
          '{$request.body#/notificationUrl}':
            post:
              description: Checkout potentially cancelled.
              requestBody:
                required: true
                content:
                  application/x-www-form-urlencoded:
                    schema:
                      $ref: '#/components/schemas/CheckoutUncertainWebhook'
              responses:
                '200':
                  description: Return this code if your service accepts the webhook.
        Checkout pending:
          '{$request.body#/notificationUrl}':
            post:
              description: Transaction created on the checkout instance.
              requestBody:
                required: true
                content:
                  application/x-www-form-urlencoded:
                    schema:
                      $ref: '#/components/schemas/CheckoutPendingWebhook'
              responses:
                '200':
                  description: Return this code if your service accepts the webhook.
        Checkout successful:
          '{$request.body#/notificationUrl}':
            post:
              description: Checkout completed successfully.
              requestBody:
                required: true
                content:
                  application/x-www-form-urlencoded:
                    schema:
                      $ref: '#/components/schemas/CheckoutSuccessfulWebhook'
              responses:
                '200':
                  description: Return this code if your service accepts the webhook.
  /checkout/validate:
    post:
      tags:
        - Checkout generation
      summary: Validate Checkout request
      operationId: CheckoutGeneration_validateRequest
      description: Validate a request before trying to initiate a checkout session.
      parameters:
        - description: An allowlisted domain for the merchant.
          in: header
          name: Referer
          required: true
          schema:
            type: string
          example: https://mydemostore.com
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Checkout'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Checkout'
      responses:
        '200':
          description: Valid request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Valid request.
        '400':
          description: Invalid request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckoutGenerationValidateRequestResponse'
              examples:
                Invalid body:
                  description: Body format not supported.
                  value:
                    message: Body is not in a valid format.
                Missing referer header:
                  description: Referer header required.
                  value:
                    message: Referer header is missing.
                Duplicate signature:
                  description: The same signature has been received in the last 24 hours.
                  value:
                    message: Duplicate signature.
                Mismatched signature:
                  description: >-
                    The received signature does not match the generated
                    signature.
                  value:
                    message: Signatures don't match.
                Invalid entity ID:
                  description: Invalid entity ID.
                  value:
                    message: Invalid entity ID.
                Merchant domain is not whitelisted:
                  description: >-
                    The domain the request was received from is not whitelisted
                    for the merchant.
                  value:
                    message: Merchant domain is not whitelisted.
                Validation Error:
                  description: Validation error with the Checkout body.
                  value:
                    validation_errors:
                      amount: amount is required
        '500':
          description: Internal server error.
  /status:
    get:
      tags:
        - Status
      summary: Query Checkout status
      operationId: Status_checkoutStatusGet
      description: >
        Get the status of a checkout instance.


        For more information, see the
        [documentation](https://developer.peachpayments.com/docs/checkout-payment-status).
      parameters:
        - description: Merchant's entity ID.
          in: query
          name: authentication.entityId
          schema:
            type: string
            example: 8ac7a4ca68c22c4d0168c2caab2e0025
            maxLength: 64
          required: true
        - description: Checkout ID.
          in: query
          name: checkoutId
          schema:
            type: string
            example: 948cc8dec52a11eb85290242ac130003
            maxLength: 64
        - description: Merchant transaction ID.
          in: query
          name: merchantTransactionId
          schema:
            type: string
            example: OrderNo453432
            maxLength: 64
        - description: Signature of data signed with secret key of merchant.
          in: query
          name: signature
          schema:
            type: string
            example: a668342244a9c77b08a2f9090d033d6e2610b431a5c0ca975f32035ed06164f4
            maxLength: 64
          required: true
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckoutStatus'
        '400':
          description: Invalid state, check the body for more details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckoutError'
        '500':
          description: Internal server error.
  /merchant_specs:
    post:
      tags:
        - Helpers
      summary: Retrieve a list of payment methods for a currency
      operationId: Helpers_getPaymentMethods
      description: >
        Retrieve a list of enabled payment methods for a channel given a
        particular currency.


        For more information, see the
        [documentation](https://developer.peachpayments.com/docs/checkout-merchant-specs). 
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HelpersGetPaymentMethodsRequest'
      responses:
        '200':
          description: Request processed successfully.
        '400':
          description: Invalid authentication information.
        '500':
          description: Internal server error.
  /v2/checkout:
    post:
      tags:
        - Checkout V2 generation
      summary: Initiate Checkout
      operationId: CheckoutV2Generation_initiateCheckoutInstance
      description: >
        Create a checkout instance for use from Embedded Checkout.


        For more information, see the
        [documentation](https://developer.peachpayments.com/docs/checkout-embedded-tutorial#tutorial). 
      parameters:
        - description: An allowlisted domain for the merchant.
          in: header
          name: Referer
          required: true
          schema:
            type: string
          example: https://mydemostore.com
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckoutV2'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CheckoutV2'
      responses:
        '200':
          description: Checkout successfully created.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/CheckoutV2GenerationInitiateCheckoutInstanceResponse
        '400':
          description: A validation error has occurred with Checkout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
        '401':
          description: >-
            Request lacks valid authentication, message in response contains
            specifics.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
        '404':
          description: Invalid entity ID passed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
  /api/channels/{entityId}/payments:
    post:
      tags:
        - Payment
      summary: Generate link
      operationId: Payment_generateLink
      description: >
        Generate a unique payment link for a transaction and optionally send
        this link to the recipient via email, SMS, WhatsApp, or a combination of
        the three.


        For more information, see the
        [documentation](https://developer.peachpayments.com/docs/generate-link-1).
      parameters:
        - description: The entity for the request.
          name: entityId
          in: path
          required: true
          schema:
            type: string
            example: 8ac7a4ca694cec2601694cf5f9360026
          style: simple
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateLinkPayment'
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerateLinkResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerateLinkErrorResponse'
        '401':
          description: Request lacks valid authentication.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Request lacks valid authentication.
      callbacks:
        Payment link created:
          '{$request.body#/options/notificationUrl}':
            post:
              summary: Payment link created for request.
              description: Event raised when a payment link is created.
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/PaymentLinkCreatedWebhook'
              responses:
                '200':
                  description: Return this code if your service accepts the webhook.
        Payment link opened:
          '{$request.body#/options/notificationUrl}':
            post:
              summary: Payment link opened by a user.
              description: Event raised when a user opens a payment link.
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/PaymentLinkOpenedWebhook'
              responses:
                '200':
                  description: Return this code if your service accepts the webhook.
        Payment link processing:
          '{$request.body#/options/notificationUrl}':
            post:
              summary: Payment link is processing.
              description: Event raised when a user is directed to Checkout to pay.
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/PaymentLinkProcessingWebhook'
              responses:
                '200':
                  description: Return this code if your service accepts the webhook.
        Payment link expired:
          '{$request.body#/options/notificationUrl}':
            post:
              summary: Payment link expired.
              description: Event raised when a payment link expires.
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/PaymentLinkExpiredWebhook'
              responses:
                '200':
                  description: Return this code if your service accepts the webhook.
        Payment link completed:
          '{$request.body#/options/notificationUrl}':
            post:
              summary: Payment link completed.
              description: Event raised when a payment link is completed.
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/PaymentLinkCompletedWebhook'
              responses:
                '200':
                  description: Return this code if your service accepts the webhook.
  /api/payments:
    get:
      tags:
        - Payment
      summary: Retrieve or export all payment links
      operationId: Payment_getAllPaymentLinks
      description: >-
        Retrieve a paginated list or export a CSV of all payment links. To
        export to CSV, change the request header's `Accept` value to `text/csv`.
        For more information, see the
        [documentation](https://developer.peachpayments.com/docs/retrieve-all-payment-links),
        or to try it out, see our [Postman
        collection](https://www.postman.com/peachpayments/workspace/peach-payments-public-workspace/request/13324425-265d80b0-5baa-478b-be10-debc942ca8f3).
      parameters:
        - description: >-
            The unique merchant ID to scope the list to. Required if you're
            exporting payment links to CSV.
          name: merchant
          in: query
          required: false
          schema:
            type: string
            example: 9f6ea39b121d11e89d9774d4352a31dz
        - description: The offset from which to read data.
          name: offset
          in: query
          required: false
          schema:
            type: integer
            default: 0
        - description: The amount of items to retrieve.
          name: perPage
          in: query
          required: false
          schema:
            type: integer
            default: 50
        - description: Retrieve all payment links from the start date onwards.
          name: filters[startDate]
          in: query
          required: false
          schema:
            type: string
            format: date-time
            example: '2018-03-20T09:12:28Z'
        - description: Retrieve all payment links until the end date.
          name: filters[endDate]
          in: query
          required: false
          schema:
            type: string
            format: date-time
            example: '2018-03-20T09:12:28Z'
        - description: The payment link status to filter on.
          name: filters[status]
          in: query
          required: false
          schema:
            type: string
            enum:
              - initiated
              - processing
              - expired
              - cancelled
              - completed
            example: initiated
        - description: The amount to filter by.
          name: filters[amountValue]
          in: query
          required: false
          schema:
            type: number
            example: 100
        - description: How to use the amountValue for filtering.
          name: filters[amountOperator]
          in: query
          required: false
          schema:
            type: string
            enum:
              - lt
              - lte
              - gt
              - gte
              - eq
            example: lt
        - description: The sending option to filter on.
          name: filters[sendingOptions]
          in: query
          required: false
          schema:
            type: string
            enum:
              - sendEmail
              - sendSms
              - sendWhatsapp
              - emailCc
              - emailBcc
            example: sendEmail
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentGetAllPaymentLinksResponse'
            text/csv:
              schema:
                $ref: '#/components/schemas/PaymentGetAllPaymentLinks200Response'
        '401':
          description: Request lacks valid authentication.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Request lacks valid authentication.
  /api/payments/{paymentId}:
    delete:
      tags:
        - Payment
      summary: Cancel link
      operationId: Payment_cancelLink
      description: >
        Cancel a previously-generated link by supplying the unique paymentId
        which is returned to you in the payment response.


        For more information, see the
        [documentation](https://developer.peachpayments.com/docs/cancel-link).
      parameters:
        - description: The ID of the payment. Returned when creating a new payment.
          name: paymentId
          in: path
          required: true
          schema:
            type: string
          style: simple
          example: b95d6888-591b-4538-b508-6102cf1259c9
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: >-
                  Payment 12cc649f-70e9-4c50-8682-28eb94634ea6 has been
                  successfully cancelled.
        '401':
          description: Request lacks valid authentication.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Request lacks valid authentication.
        '404':
          description: The specified resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: The specified resource was not found.
    get:
      tags:
        - Status
      summary: Query payment status
      operationId: Status_queryPaymentStatus
      description: >
        Query the status of a payment.


        For more information, see the
        [documentation](https://developer.peachpayments.com/docs/query-payment).
      parameters:
        - description: Payment ID. Returned when creating a new payment.
          name: paymentId
          in: path
          required: true
          schema:
            type: string
          style: simple
          example: b95d6888-591b-4538-b508-6102cf1259c9
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusQueryPaymentStatusResponse'
        '401':
          description: Request lacks valid authentication.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Request lacks valid authentication.
        '404':
          description: The specified resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: The specified resource was not found.
  /api/payments/{paymentId}/files/{fileId}:
    get:
      tags:
        - Files
      summary: Download a file
      operationId: Files_downloadFile
      description: Downloads a file that was attached to a payment link.
      parameters:
        - description: Payment ID.
          name: paymentId
          in: path
          required: true
          schema:
            type: string
          style: simple
          example: b95d6888-591b-4538-b508-6102cf1259c9
        - description: File ID.
          name: fileId
          in: path
          required: true
          schema:
            type: string
          style: simple
          example: ca6cd55b-4be6-451d-bd72-fe5b7ec1f75z
      responses:
        '200':
          description: OK.
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
        '401':
          description: Request lacks valid authentication.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Request lacks valid authentication.
        '404':
          description: The specified resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: The specified resource was not found.
  /api/attachments:
    post:
      tags:
        - Files
      summary: Upload a file
      operationId: Files_uploadFile
      description: >-
        Upload a file so that it can be attached to a payment link. Only PDFs
        smaller than 5 MB are supported.
      requestBody:
        description: File content.
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/FilesUploadFileRequest'
            encoding:
              file:
                contentType: application/pdf
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilesUploadFileResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
        '401':
          description: Request lacks valid authentication.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Request lacks valid authentication.
        '404':
          description: The specified resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: The specified resource was not found.
  /api/channels/{entityId}/payments/batches:
    post:
      tags:
        - Batch
      summary: Generate batch link
      operationId: Batch_generateLink
      description: >
        Returns a URL to which the batch file must be uploaded.


        For more information, see the
        [documentation](https://developer.peachpayments.com/docs/generate-bulk-payment-links).
      parameters:
        - description: The entity for the request.
          name: entityId
          in: path
          required: true
          schema:
            type: string
            example: 8ac7a4ca694cec2601694cf5f9360026
          style: simple
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchGenerateLinkRequest'
      responses:
        '200':
          description: Batch ID and URL.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchGenerateLinkResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
        '401':
          description: Request lacks valid authentication.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Request lacks valid authentication.
        '404':
          description: The specified resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Channel not found.
    get:
      tags:
        - Batch
      summary: Get all batch statuses
      operationId: Batch_getBatchStatuses
      description: Query all batch statuses of a batch for a channel.
      parameters:
        - description: The entity for the request.
          name: entityId
          in: path
          required: true
          schema:
            type: string
            example: 8ac7a4ca694cec2601694cf5f9360026
          style: simple
        - description: The offset from which to read data.
          name: offset
          in: query
          required: false
          schema:
            type: number
            default: 0
        - description: The amount of items to retrieve.
          name: perPage
          in: query
          required: false
          schema:
            type: number
            default: 50
        - description: Retrieve all batches from the start date onwards.
          name: filters[startDate]
          in: query
          required: false
          schema:
            type: string
            format: date-time
            example: '2018-03-20T09:12:28Z'
        - description: Retrieve all batches until the end date.
          name: filters[endDate]
          in: query
          required: false
          schema:
            type: string
            format: date-time
            example: '2018-03-20T09:12:28Z'
        - description: The payment link status to filter on.
          name: filters[status]
          in: query
          required: false
          schema:
            type: string
            enum:
              - initiated
              - processing
              - expired
              - error
              - completed
            example: initiated
      responses:
        '200':
          description: URL.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchGetBatchStatusesResponse'
        '401':
          description: Request lacks valid authentication.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Request lacks valid authentication.
        '404':
          description: The specified resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Channel not found.
  /api/batches/{batchId}:
    get:
      tags:
        - Batch
      summary: Batch link status
      operationId: Batch_linkStatusGet
      description: Returns the status of the batch.
      parameters:
        - description: The batch ID for the request.
          name: batchId
          in: path
          required: true
          schema:
            type: string
            example: 421e1e63-ddd5-46ec-8812-74eda861259b
          style: simple
      responses:
        '200':
          description: Status received.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponse'
        '404':
          description: The specified resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Batch ID not found.
  /api/batches/{batchId}/files:
    get:
      tags:
        - Batch
      summary: Get batch error files
      operationId: Batch_getErrorFiles
      description: >-
        Returns a set of URLs that can be accessed to retrieve the batch error
        files.
      parameters:
        - description: The batch for the request.
          name: batchId
          in: path
          required: true
          schema:
            type: string
            example: 421e1e63-ddd5-46ec-8812-74eda861259b
          style: simple
      responses:
        '200':
          description: Error files.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchGetErrorFilesResponse'
        '404':
          description: The specified resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Batch ID not found.
  /:
    post:
      tags:
        - Payments API outbound
      summary: Merchant webhook
      operationId: merchant_webhook
      description: >
        Encrypted and decrypted webhook sent to merchant - retries if response
        HTTP status code is not 200.


        For more information, see the
        [documentation](https://developer.peachpayments.com/docs/payments-api-flows#webhook-flow).
      parameters:
        - in: header
          name: X-Initialization-Vector
          schema:
            description: Initialization vector used to decrypt webhook payload.
            type: string
            example: 34ba8cf802216b4fab4c3f1z
        - in: header
          name: X-Authentication-Tag
          schema:
            description: Authentication tag.
            type: string
            example: 50d697553c37c1f9865acc3dc0f8b5az
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JSONMerchantWebhook'
          text/plain:
            schema:
              $ref: '#/components/schemas/PlainTextMerchantWebhook'
      responses:
        '200':
          description: OK.
  /payments:
    post:
      tags:
        - Payments API inbound
      summary: Payment
      operationId: PaymentsApiInbound_initiateDebitTransaction
      description: >
        Initiate a debit transaction.


        Certain parameters are required for specific payment methods and certain
        parameters act differently depending on the payment method. 


        - For 1Voucher, `customer.mobile` (the customer's phone number for
        receiving change vouchers and refunds) and `virtualAccount.password`
        (the voucher PIN) are required.

        - For M-PESA, `virtualAccount.accountId` (the customer's 12-digit phone
        number) and `shopperResultUrl` are required. M-PESA only accepts integer
        amounts, not decimals, so round up your amount.

        - For blink by Emtel and MCB Juice, `virtualAccount.accountId` (the
        customer's 8-digit phone number) and `shopperResultUrl` are required.

        - For Mobicred, `virtualAccount.accountId` (the customer's Mobicred
        email address), `virtualAccount.password` (the customer's Mobicred
        password), and `shopperResultUrl` are required.

        - For Capitec Pay, `virtualAccount.type` (the customer's identifier
        type; `IDNUMBER`, `CELLPHONE`, or `ACCOUNTNUMBER`),
        `virtualAccount.accountId` (the customer's 13-digit ID number, 10-digit
        phone number starting with `0`, or up-to 64-digit, alphanumeric bank
        account number), and `shopperResultUrl` are required. High-risk
        merchants must provide the verified `IDNUMBER` and cannot use the
        `CELLPHONE` or `ACCOUNTNUMBER` account types.

        - For Payflex, ZeroPay, Scan to Pay, and Peach EFT, the
        `shopperResultUrl` is required.


        For more information, see the
        [documentation](https://developer.peachpayments.com/docs/payments-api-flows#payment-flow)
        and for sample calls, see our [public Postman
        collection](https://www.postman.com/peachpayments/workspace/peach-payments-public-workspace/request/13324425-693c4b18-dad5-4b6f-aeb0-99bc28b94812).
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentRequest'
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/PaymentsApiInboundInitiateDebitTransactionResponse
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400Response'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
    get:
      tags:
        - Payments API inbound
      summary: Query a transaction by merchantTransactionId
      operationId: transaction_status
      description: >
        Query the status of a transaction using the merchantTransactionId. Could
        return multiple results.


        For more information, see the
        [documentation](https://developer.peachpayments.com/docs/payments-api-flows#transaction-status-flow).
      parameters:
        - in: query
          name: authentication.userId
          required: true
          schema:
            $ref: '#/components/schemas/UserId'
        - in: query
          name: authentication.password
          required: true
          schema:
            $ref: '#/components/schemas/Password'
        - in: query
          name: authentication.entityId
          required: true
          schema:
            $ref: '#/components/schemas/EntityId'
        - in: query
          name: merchantTransactionId
          required: true
          schema:
            $ref: '#/components/schemas/MerchantTransactionId'
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantTransactionIdStatusResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /payments/{uniqueId}:
    get:
      tags:
        - Payments API inbound
      summary: Query a transaction by transaction ID
      operationId: PaymentsApiInbound_queryTransactionById
      description: >
        Query the status of a transaction using the Peach Payments unique ID.


        For more information, see the
        [documentation](https://developer.peachpayments.com/docs/payments-api-flows#transaction-status-flow).
      parameters:
        - description: The Peach Payments unique ID for the transaction.
          name: uniqueId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UniqueId'
        - description: Authentication entityId.
          name: authentication.entityId
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/EntityId'
        - description: Authentication userId.
          name: authentication.userId
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/UserId'
        - description: Authentication password.
          name: authentication.password
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/Password'
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionIdStatusResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      tags:
        - Payments API inbound
      summary: Refund
      operationId: PaymentsApiInbound_refundTransaction
      description: >
        Refund a successful debit transaction. You can only refund [certain
        payment
        methods](https://developer.peachpayments.com/docs/pp-payment-methods).


        For more information, see the
        [documentation](https://developer.peachpayments.com/docs/payments-api-flows#refund-flow).
      parameters:
        - description: The Peach Payments unique ID of the original debit transaction.
          name: uniqueId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UniqueId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefundRequest'
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/PaymentsApiInboundRefundTransactionResponse
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400Response'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/RefundErrorResponse'
  /api/merchants/{merchantId}/transactions-recon:
    get:
      tags:
        - Transactions recon
      summary: List transactions-recon
      operationId: TransactionsRecon_list
      description: List transactions for a merchant's reconciliation processes.
      parameters:
        - $ref: '#/components/parameters/merchantIdPathParam'
        - $ref: '#/components/parameters/startDateQueryParam'
        - $ref: '#/components/parameters/endDateQueryParam'
        - description: >
            Whether the transaction was successful or not. If not provided, all
            transactions are returned.
          name: isSuccessful
          in: query
          required: false
          schema:
            type: boolean
        - description: |
            The payment method used to facilitate the transaction, for example:
             - `bnpl`
             - `card`
             - `eft`
          name: paymentMethod
          in: query
          required: false
          schema:
            type: string
            example: card
      responses:
        '200':
          description: A list of transactions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionsReconListResponse'
        '400':
          description: An object containing the error message string.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                merchantId required:
                  $ref: '#/components/examples/merchantIdRequired'
                merchantId empty:
                  $ref: '#/components/examples/merchantIdEmpty'
                merchantId invalid type:
                  $ref: '#/components/examples/merchantIdInvalidType'
                startDate required:
                  $ref: '#/components/examples/startDateRequired'
                startDate empty:
                  $ref: '#/components/examples/startDateEmpty'
                startDate invalid type:
                  $ref: '#/components/examples/startDateInvalidType'
                startDate malformed:
                  $ref: '#/components/examples/startDateMalformed'
                startDate before January 2023:
                  $ref: '#/components/examples/startDateBeforeThreshold'
                endDate required:
                  $ref: '#/components/examples/endDateRequired'
                endDate empty:
                  $ref: '#/components/examples/endDateEmpty'
                endDate invalid type:
                  $ref: '#/components/examples/endDateInvalidType'
                endDate malformed:
                  $ref: '#/components/examples/endDateMalformed'
                startDate after endDate:
                  $ref: '#/components/examples/startDateAfterEnd'
                endDate too long after startDate:
                  $ref: '#/components/examples/requestedTimePeriodTooLong'
                isSuccessful invalid type:
                  $ref: '#/components/examples/isSuccessfulInvalidType'
                paymentMethod invalid type:
                  $ref: '#/components/examples/paymentMethodInvalidType'
                paymentMethod empty:
                  $ref: '#/components/examples/paymentMethodEmpty'
                paymentMethod invalid value:
                  $ref: '#/components/examples/paymentMethodInvalidValue'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
components:
  parameters:
    merchantIdPathParam:
      description: The merchant's identifier.
      name: merchantId
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/merchantId'
    startDateQueryParam:
      description: >-
        Beginning of the query range (inclusive).

        Since this is in the query string, URL-encode the date when specifying a
        timezone. For example, `startDate=2024-01-01T00:00:00.000%2B02:00` for
        midnight in UTC+2.
      name: startDate
      in: query
      required: true
      schema:
        $ref: '#/components/schemas/startDate'
    endDateQueryParam:
      description: >-
        End of the query range (exclusive).

        Since this is in the query string, URL-encode the date when specifying a
        timezone. For example, `endDate=2024-01-01T00:00:00.000%2B02:00` for
        midnight in UTC+2.
      name: endDate
      in: query
      required: true
      schema:
        $ref: '#/components/schemas/endDate'
  responses:
    BadRequest:
      description: Bad request.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error400Response'
    Unauthorized:
      description: Unauthorised.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: Not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    InternalServerError:
      description: Internal server error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Forbidden:
      description: Forbidden.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    RefundErrorResponse:
      description: Bad gateway.
      content:
        application/json:
          schema:
            $ref: >-
              #/components/schemas/PaymentsApiInboundRefundTransaction502Response
    UnauthorizedResponse:
      description: An object containing the error message string.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            default:
              value:
                message: Unauthorised
    ForbiddenResponse:
      description: An object containing the error message string.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            default:
              value:
                message: 'Unauthorised: Please contact your business administrator'
    InternalServerErrorResponse:
      description: An object containing the error message string.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            default:
              value:
                message: Internal server error
  schemas:
    Checkout:
      type: object
      properties:
        authentication.entityId:
          description: The entity for the request. By default, this is the channel ID.
          type: string
          maxLength: 32
          example: 8ac7a4ca68c22c4d0168c2caab2e0025
        signature:
          description: >-
            Token to verify the integrity of the payment, ensuring that only the
            merchant sending the request is accepted.
          type: string
          maxLength: 64
          example: a668342244a9c77b08a2f9090d033d6e2610b431a5c0ca975f32035ed06164f4
        merchantTransactionId:
          description: Merchant-provided reference number unique for your transactions.
          type: string
          maxLength: 16
          minLength: 8
          format: 8-16
          example: OrderNo453432
        amount:
          description: >-
            The amount of the payment request. The period is used as the decimal
            separator. M-PESA does not support decimal amounts, so Checkout
            automatically rounds them up.
          type: string
          format: ^[0-9]{1,8}(\\.[0-9]{2})?$
          example: 1010.22
        paymentType:
          description: >
            The payment type for the request.


            Does not accept `RG`, but you can tokenise a card by performing a DB
            with `createRegistration`.


            PA is only supported when `forceDefaultMethod` is set to `true` and
            `defaultPaymentMethod` is `CARD`.

            Following a PA, you can either
            [capture](https://developer.peachpayments.com/docs/card-manage-payments#capture-a-preauthorisation)
            or
            [reverse](https://developer.peachpayments.com/docs/card-manage-payments#reverse-a-preauthorisation)
            the PA.


            Refund transactions through the Dashboard or as described in the
            [documentation](https://developer.peachpayments.com/docs/checkout-refund).
          type: string
          enum:
            - DB
            - PA
          example: DB
        currency:
          description: The currency code of the payment request amount.
          type: string
          enum:
            - ZAR
            - USD
            - KES
            - MUR
            - GBP
            - EUR
          example: ZAR
        nonce:
          description: Unique value to represent each request.
          type: string
          example: UNQ00012345678
          maxLength: 64
          format: string (1-64)
        shopperResultUrl:
          description: >-
            Checkout uses a POST request to redirect the customer to this URL
            after the customer completes checkout. Must be a valid URL that can
            be accessed through a browser.
          type: string
          format: string (6-2048)
          example: https://mydemostore.com/OrderNo453432
        defaultPaymentMethod:
          description: >-
            The preferred payment method which is active in the checkout page at
            the point of redirecting.
          type: string
          enum:
            - CARD
            - MASTERPASS
            - MOBICRED
            - MPESA
            - 1FORYOU
            - APLUS
            - PAYPAL
            - ZEROPAY
            - PAYFLEX
            - BLINKBYEMTEL
            - CAPITECPAY
            - PAYBYBANK
            - APPLE PAY
            - MCBJUICE
          example: CARD
        forceDefaultMethod:
          description: Force the default payment method to be the only payment method.
          type: string
          enum:
            - 'true'
            - 'false'
          example: 'false'
          default: 'false'
        merchantInvoiceId:
          description: >-
            Merchant-provided invoice number unique for your transactions. This
            identifier is not sent onwards.
          type: string
          minLength: 8
          maxLength: 255
          format: string (8-255)
          example: INV-0001
        cancelUrl:
          description: >-
            The customer is redirected to this URL if they cancel checkout. It
            must be a valid URL that can be reached through a browser.
          type: string
          format: string (6-2048)
          example: https://mydemostore.com/OrderNo453432/cancelled
        notificationUrl:
          description: >-
            Override the preconfigured webhook URL for this checkout instance,
            any changes to checkout will send a webhook to this url.
          type: string
          format: string (6-2048)
          example: https://mydemostore.com/OrderNo453432/webhook
        customParameters[name]:
          description: A name value pair used for sending custom information.
          type: string
          format: 'name: [a-zA-Z0-9\._]{3,64} value: [\s\S]{0,2048}'
          example: 'name: Name1 value: Value1'
        customer.merchantCustomerId:
          description: >-
            An identifier for this customer. Typically this is the ID that
            identifies the shopper in the shop's system.
          type: string
          maxLength: 48
          minLength: 0
          format: '[\s\S]{0,48}'
          example: 971020
        customer.givenName:
          description: >
            The customer's first name or given name.


            Required if you send in any other customer parameters, and for some
            risk checks and payment providers.


            Peach Payments recommends including the name so that it displays in
            the Peach Dashboard and is available for subsequent queries.


            Truncated after 48 characters.
          type: string
          maxLength: 48
          minLength: 0
          format: '[\s\S]{0,48}'
          example: John
        customer.surname:
          description: >
            The customer's last name or surname.


            Required if you send in any other customer parameters, and for some
            risk checks and payment providers.


            Peach Payments recommends including the surname so that it displays
            in the Peach Dashboard and is available for subsequent queries.


            Truncated after 48 characters.
          type: string
          maxLength: 48
          minLength: 0
          format: '[\s\S]{0,48}'
          example: Smith
        customer.mobile:
          description: The customer's mobile number.
          type: string
          maxLength: 24
          minLength: 5
          format: '[+0-9][0-9 \.()/-]{5,24}'
          example: 27123456789
        customer.email:
          description: The customer's email address.
          type: string
          maxLength: 128
          minLength: 6
          format: '[\s\S]{6,128}'
          example: johnsmith@mail.com
        customer.status:
          description: The customer's status. Accepts `NEW` or `EXISTING`.
          type: string
          enum:
            - NEW
            - EXISTING
          example: EXISTING
        customer.birthDate:
          description: The customer's birth date in the yyyy-MM-dd format.
          type: string
          format: yyyy-MM-dd
          example: '1970-02-17'
        customer.ip:
          description: The customer's IP address.
          type: string
          maxLength: 255
          minLength: 1
          format: '[\s\S]{1,255}'
          example: 192.168.1.1
        customer.phone:
          description: The customer's phone number.
          type: string
          maxLength: 24
          minLength: 5
          format: '[+0-9][0-9 \.()/-]{5,24}'
          example: 27123456789
        customer.idNumber:
          description: >-
            The customer's ID number, required for high-risk merchants
            supporting Capitec Pay.
          type: string
          maxLength: 13
          minLength: 13
          format: '[\s\S]{13,13}'
          example: 9001010000084
        billing.street1:
          description: >-
            The door number, floor, building number, building name, and/or
            street name of the billing address.
          type: string
          maxLength: 100
          minLength: 1
          format: '[\s\S]{1,100}'
          example: 1 Example Road
        billing.street2:
          description: The adjoining road or locality, if required, of the billing address.
          type: string
          maxLength: 100
          minLength: 1
          format: '[\s\S]{1,100}'
          example: LocalityA
        billing.city:
          description: The town, district, or city of the billing address.
          type: string
          maxLength: 80
          minLength: 1
          format: '[\s\S]{1,80}'
          example: Cape Town
        billing.company:
          description: The company of the billing address.
          type: string
          maxLength: 64
          minLength: 1
          format: '[\s\S]{1,64}'
          example: CompanyA
        billing.country:
          description: The country of the billing address (ISO 3166-1).
          type: string
          maxLength: 3
          minLength: 3
          format: ISO 3166-1
          example: ZA
        billing.state:
          description: The county, state, or region of the billing address.
          type: string
          maxLength: 50
          minLength: 1
          format: '[\s\S]{1,50}'
          example: Western Cape
        billing.postcode:
          description: The postal code or ZIP code of the billing address.
          type: string
          maxLength: 30
          minLength: 1
          format: '[\s\S]{1,30}'
          example: 1234
        shipping.street1:
          description: >-
            The door number, floor, building number, building name, and/or
            street name of the shipping address.
          type: string
          maxLength: 100
          minLength: 1
          format: '[\s\S]{1,100}'
          example: 1 Example Road
        shipping.street2:
          description: >-
            The adjoining road or locality, if required, of the shipping
            address.
          type: string
          maxLength: 100
          minLength: 1
          format: '[\s\S]{1,100}'
          example: LocalityA
        shipping.city:
          description: The town, district, or city of the shipping address.
          type: string
          maxLength: 80
          minLength: 1
          format: '[\s\S]{1,80}'
          example: Cape Town
        shipping.company:
          description: The company of the shipping address.
          type: string
          maxLength: 64
          minLength: 1
          format: '[\s\S]{1,64}'
          example: CompanyA
        shipping.postcode:
          description: The postal code or ZIP code of the shipping address.
          type: string
          maxLength: 30
          minLength: 1
          format: '[\s\S]{1,30}'
          example: 1234
        shipping.country:
          description: The country of the shipping address (ISO 3166-1).
          type: string
          maxLength: 3
          minLength: 3
          format: ISO 3166-1
          example: ZA
        shipping.state:
          description: The county, state, or region of the shipping address.
          type: string
          maxLength: 50
          minLength: 1
          format: '[\s\S]{1,50}'
          example: Western Cape
        cart.tax:
          description: >-
            The tax percentage applied to the price of the item in the shopping
            cart.
          type: string
          format: ^[0-9]{1,8}(\\.[0-9]{2})?$
          example: '15.00'
        cart.shippingAmount:
          description: The total amount of the cart item including quantity.
          type: string
          format: ^[0-9]{1,8}(\\.[0-9]{2})?$
          example: '12.25'
        cart.discount:
          description: Discount amount applied on order amount.
          type: string
          format: ^[0-9]{1,8}(\\.[0-9]{2})?$
          example: '02.25'
        createRegistration:
          description: >
            Used to enable [card
            tokenisation](https://developer.peachpayments.com/docs/checkout-tokenisation)
            when customer pays with card.


            Cannot be `true` if `allowStoringDetails` is true.
          type: string
          enum:
            - 'true'
            - 'false'
          example: 'false'
        cardTokens:
          description: >-
            List of comma-separated card tokens. The card tokens must be linked
            to the customer as they enable one-click payment support for the
            customer. See the
            [documentation](https://developer.peachpayments.com/docs/checkout-tokenisation)
            for more information.
          type: string
          example: 8ac7a49f8e9f15d2018ea09b285f0ebz,8ac7a49f8e9f15d2018ea09b285f0abs
        allowStoringDetails:
          description: >
            Allow the customer to store their card details for future use. When
            this is set, the customer is given an option to tokenise their card
            during checkout.


            If the customer chooses to store their card details, a
            `registrationId` is returned in the response from checkout. Similar
            to `createRegistration`.


            Cannot be `true` if `createRegistration` is true.


            See the
            [documentation](https://developer.peachpayments.com/docs/checkout-tokenisation)
            for more information.
          type: string
          enum:
            - 'true'
            - 'false'
          example: 'true'
        originator:
          description: >-
            Used to provide a name for the application that is creating the
            checkout instance.
          type: string
          maxLength: 100
          example: Webstore
        returnTo:
          description: Text to display on "Return to Store" button on completing checkout.
          type: string
          enum:
            - STORE
            - INVOICE
      required:
        - authentication.entityId
        - signature
        - merchantTransactionId
        - amount
        - paymentType
        - currency
        - nonce
        - shopperResultUrl
    CheckoutStatus:
      type: object
      properties:
        status:
          description: The status of the object.
          type: string
          example: PROCESSING
        timestamp:
          description: The remaining time, in seconds, of the checkout instance.
          type: string
          example: 1800
        redirect_url:
          description: Redirect URL for Checkout.
          type: string
        redirect_post_data:
          $ref: '#/components/schemas/RedirectPostData'
    RedirectPostData:
      type: object
      properties:
        amount:
          description: The checkout amount.
          type: string
          example: '14.99'
        checkoutId:
          type: string
          example: 948cc8dec52a11eb85290242ac130003
        currency:
          description: The currency code of the payment request amount.
          type: string
          enum:
            - ZAR
            - USD
            - KES
            - MUR
            - GBP
            - EUR
          example: ZAR
        merchantTransactionId:
          description: The merchant transaction ID set when creating the checkout.
          type: string
        paymentType:
          type: string
          enum:
            - DB
            - PA
          example: DB
        result.code:
          description: A code representing the transaction state.
          type: string
          example: 000.200.100
        result.description:
          description: A friendly message.
          type: string
          example: Successfully created checkout.
        timestamp:
          description: Date and time when the checkout was created.
          type: string
          example: '2021-06-17T14:22:22Z'
    CheckoutError:
      type: object
      properties:
        result.code:
          description: A code representing the error.
          type: string
          example: 200.300.404
        result.description:
          description: A friendly error message.
          type: string
          example: Invalid or missing parameter.
    MessageResponse:
      type: object
      required:
        - message
      properties:
        message:
          type: string
    CheckoutPage:
      description: The checkout frontend HTML page.
      type: string
    CheckoutErrorPage:
      description: An error page detailing the error that has occured.
      type: string
    CheckoutBaseWebhook:
      description: The base model for webhooks.
      readOnly: true
      type: object
      properties:
        amount:
          description: >-
            The amount of the payment request. The period is used as the decimal
            separator. M-PESA does not support decimal amounts, so Checkout
            automatically rounds them up.
          type: string
          format: ^[0-9]{1,8}(\\.[0-9]{2})?$
          example: 1010.22
        checkoutId:
          description: Checkout ID.
          type: string
          example: 948cc8dec52a11eb85290242ac130003
          maxLength: 64
        currency:
          description: The currency code of the payment request amount.
          type: string
          enum:
            - ZAR
            - USD
            - KES
            - MUR
            - GBP
            - EUR
          example: ZAR
        merchantTransactionId:
          description: Merchant-provided reference number unique for your transactions.
          type: string
          maxLength: 16
          minLength: 8
          format: 8-16
          example: OrderNo453432
        paymentType:
          description: The payment type for the request.
          type: string
          enum:
            - DB
            - PA
          example: DB
        result.code:
          description: A code representing the checkout state.
          type: string
        result.description:
          description: A friendly message.
          type: string
        signature:
          description: >-
            Token to verify the integrity of the webhook, ensuring the request
            is coming from Checkout.
          type: string
          maxLength: 64
          example: a668342244a9c77b08a2f9090d033d6e2610b431a5c0ca975f32035ed06164f4
        timestamp:
          description: Date and time when the webhook was sent.
          type: string
          example: '2023-07-04T08:10:05Z'
    CheckoutCreatedWebhook:
      description: Webhook sent when a checkout instance is created.
      allOf:
        - $ref: '#/components/schemas/CheckoutBaseWebhook'
        - type: object
          properties:
            result.code:
              type: string
              default: 000.200.100
            result.description:
              type: string
              default: successfully created checkout
    CheckoutCancelledWebhook:
      description: Webhook sent when a checkout instance is cancelled.
      allOf:
        - $ref: '#/components/schemas/CheckoutBaseWebhook'
        - type: object
          properties:
            result.code:
              type: string
              default: 100.396.101
            result.description:
              type: string
              default: Cancelled by user
    CheckoutUncertainWebhook:
      description: >-
        Webhook sent when a checkout instance is potentially cancelled by a
        user.
      allOf:
        - $ref: '#/components/schemas/CheckoutBaseWebhook'
        - type: object
          properties:
            result.code:
              type: string
              default: 100.396.104
            result.description:
              type: string
              default: Uncertain status - probably cancelled by user
    CheckoutPendingWebhook:
      description: Webhook sent when a transaction is created on a checkout instance.
      allOf:
        - $ref: '#/components/schemas/CheckoutBaseWebhook'
        - type: object
          properties:
            id:
              description: The transaction ID.
              type: string
            paymentBrand:
              description: The payment method which the customer is paying with.
              type: string
              enum:
                - VISA
                - MASTERCARD
                - DINERS CLUB
                - AMERICAN EXPRESS
                - MASTERPASS
                - MOBICRED
                - MPESA
                - 1FORYOU
                - APLUS
                - PAYPAL
                - ZEROPAY
                - PAYFLEX
                - BLINKBYEMTEL
                - CAPITECPAY
                - PAYBYBANK
                - MCBJUICE
              example: VISA
            result.code:
              type: string
              default: 000.200.000
            result.description:
              type: string
              default: transaction pending
    CheckoutSuccessfulWebhook:
      description: Webhook sent when a checkout instance is successfully completed.
      allOf:
        - $ref: '#/components/schemas/CheckoutPendingWebhook'
        - type: object
          properties:
            merchant.name:
              type: string
            recon.authCode:
              type: string
            recon.resultCode:
              type: string
            recon.rrn:
              type: string
            result.code:
              type: string
              default: 000.000.000
            result.description:
              type: string
              default: >-
                Request successfully processed in 'Merchant in Integrator Test
                Mode'
            resultDetails.AcquirerResponse:
              type: string
            resultDetails.ConnectorTxID1:
              type: string
            resultDetails.ExtendedDescription:
              type: string
        - oneOf:
            - type: object
              properties:
                card.bin:
                  type: string
                card.holder:
                  type: string
                card.last4Digits:
                  type: string
            - type: object
              properties:
                paymentBrand:
                  type: string
                  default: MOBICRED
    CheckoutV2:
      type: object
      properties:
        authentication.entityId:
          description: The entity for the request. By default, this is the channel ID.
          type: string
          maxLength: 32
          example: 8ac7a4ca68c22c4d0168c2caab2e0025
        merchantTransactionId:
          description: Merchant-provided reference number unique for your transactions.
          type: string
          maxLength: 16
          minLength: 8
          format: 8-16
          example: OrderNo453432
        amount:
          description: >
            The amount of the payment request. The period is used as the decimal
            separator.


            M-PESA does not support decimal amounts, so Checkout automatically
            rounds them up.
          type: number
          minimum: 0.01
          maximum: 99999999.99
          format: ^[0-9]{1,8}(\\.[0-9]{2})?$
          example: 1010.22
        currency:
          description: The currency code of the payment request amount.
          type: string
          enum:
            - ZAR
            - USD
            - KES
            - MUR
            - GBP
            - EUR
          example: ZAR
        paymentType:
          description: >
            The payment type for the request.


            Does not accept `RG`, but you can tokenise a card by performing a DB
            with `createRegistration`.


            PA is only supported when `forceDefaultMethod` is set to `true` and
            `defaultPaymentMethod` is `CARD`.

            Following a PA, you can either
            [capture](https://developer.peachpayments.com/docs/card-manage-payments#capture-a-preauthorisation)
            or
            [reverse](https://developer.peachpayments.com/docs/card-manage-payments#reverse-a-preauthorisation)
            the PA.


            Refund transactions through the Dashboard or as described in the
            [documentation](https://developer.peachpayments.com/docs/checkout-refund).
          type: string
          enum:
            - DB
            - PA
          example: DB
        nonce:
          description: Unique value to represent each request.
          type: string
          example: UNQ00012345678
          maxLength: 64
          minLength: 1
          format: string (1-64)
        shopperResultUrl:
          description: >-
            Checkout uses a POST request to redirect the customer to this URL
            after the customer completes checkout. Must be a valid URL that can
            be accessed through a browser.
          type: string
          format: string (6-2048)
          example: https://mydemostore.com/OrderNo453432
        defaultPaymentMethod:
          description: >-
            The preferred payment method which is active in the checkout page at
            the point of redirecting.
          type: string
          enum:
            - CARD
            - MASTERPASS
            - MOBICRED
            - MPESA
            - 1FORYOU
            - APLUS
            - PAYPAL
            - ZEROPAY
            - PAYFLEX
            - BLINKBYEMTEL
            - CAPITECPAY
            - PAYBYBANK
            - MCBJUICE
          example: CARD
        forceDefaultMethod:
          description: Force the default payment method to be the only payment method.
          type: boolean
          example: true
          default: 'false'
        merchantInvoiceId:
          description: >-
            Merchant-provided invoice number unique for your transactions. This
            identifier is not sent onwards.
          type: string
          minLength: 8
          maxLength: 255
          format: string (8-255)
          example: INV-00001
        cancelUrl:
          description: >-
            The customer is redirected to this URL if they cancel checkout. It
            must be a valid URL that can be reached through a browser.
          type: string
          format: string (6-2048)
          example: https://mydemostore.com/OrderNo453432/cancelled
        notificationUrl:
          description: >-
            Override the preconfigured webhook URL for this checkout instance,
            any changes to checkout send a webhook to this URL.
          type: string
          format: string (6-2048)
          example: https://mydemostore.com/OrderNo453432/webhook
        customParameters:
          description: A name value pair used for sending custom information.
          type: object
          additionalProperties:
            type: string
            minLength: 0
            maxLength: 2048
        customer:
          type: object
          properties:
            merchantCustomerId:
              description: >-
                An identifier for this customer. Typically this is the ID that
                identifies the shopper in the shop's system.
              type: string
              maxLength: 48
              minLength: 0
              format: '[\s\S]{0,48}'
              example: 971020
            givenName:
              description: >
                The customer's first name or given name. Required if you send in
                any other customer parameters, also required for some risk
                checks and payment providers. Truncated after 48 characters.


                Peach Payments recommends including the name so that it displays
                in the Peach Dashboard and is available for subsequent queries.
              type: string
              maxLength: 48
              minLength: 0
              format: '[\s\S]{0,48}'
              example: John
            surname:
              description: >
                The customer's last name or surname. Required if you send in any
                other customer parameters, also required for some risk checks
                and payment providers. Truncated after 48 characters.


                Peach Payments recommends including the surname so that it
                displays in the Peach Dashboard and is available for subsequent
                queries.
              type: string
              maxLength: 48
              minLength: 0
              format: '[\s\S]{0,48}'
              example: Smith
            mobile:
              description: The customer's mobile number.
              type: string
              maxLength: 24
              minLength: 5
              format: '[+0-9][0-9 \.()/-]{5,24}'
              example: 27123456789
            email:
              description: The customer's email address.
              type: string
              maxLength: 128
              minLength: 6
              format: '[\s\S]{6,128}'
              example: johnsmith@mail.com
            idNumber:
              description: >-
                The customer's ID number, required for high-risk merchants
                supporting Capitec Pay.
              type: string
              maxLength: 13
              minLength: 13
              format: '[\s\S]{13,13}'
              example: 9001010000084
        billing:
          type: object
          properties:
            street1:
              description: >-
                The door number, floor, building number, building name, and/or
                street name of the billing address.
              type: string
              maxLength: 100
              minLength: 1
              format: '[\s\S]{1,100}'
              example: 1 Example Road
            street2:
              description: >-
                The adjoining road or locality, if required, of the billing
                address.
              type: string
              maxLength: 100
              minLength: 1
              format: '[\s\S]{1,100}'
              example: LocalityA
            city:
              description: The town, district, or city of the billing address.
              type: string
              maxLength: 80
              minLength: 1
              format: '[\s\S]{1,80}'
              example: Cape Town
            company:
              description: The company of the billing address.
              type: string
              maxLength: 64
              minLength: 1
              format: '[\s\S]{1,64}'
              example: CompanyA
            country:
              description: The country of the billing address (ISO 3166-1).
              type: string
              maxLength: 2
              minLength: 2
              format: ISO 3166-1
              example: ZA
            state:
              description: The county, state, or region of the billing address.
              type: string
              maxLength: 50
              minLength: 1
              format: '[\s\S]{1,50}'
              example: Western Cape
            postcode:
              description: The postal code or ZIP code of the billing address.
              type: string
              maxLength: 30
              minLength: 1
              format: '[\s\S]{1,30}'
              example: 1234
        shipping:
          type: object
          properties:
            street1:
              description: >-
                The door number, floor, building number, building name, and/or
                street name of the shipping address.
              type: string
              maxLength: 100
              minLength: 1
              format: '[\s\S]{1,100}'
              example: 1 Example Road
            street2:
              description: >-
                The adjoining road or locality, if required, of the shipping
                address.
              type: string
              maxLength: 100
              minLength: 1
              format: '[\s\S]{1,100}'
              example: LocalityA
            city:
              description: The town, district, or city of the shipping address.
              type: string
              maxLength: 80
              minLength: 1
              format: '[\s\S]{1,80}'
              example: Cape Town
            company:
              description: The company of the shipping address.
              type: string
              maxLength: 64
              minLength: 1
              format: '[\s\S]{1,64}'
              example: CompanyA
            postcode:
              description: The postal code or ZIP code of the shipping address.
              type: string
              maxLength: 30
              minLength: 1
              format: '[\s\S]{1,30}'
              example: 1234
            country:
              description: The country of the shipping address (ISO 3166-1).
              type: string
              maxLength: 2
              minLength: 2
              format: ISO 3166-1
              example: ZA
            state:
              description: The county, state, or region of the shipping address.
              type: string
              maxLength: 50
              minLength: 1
              format: '[\s\S]{1,50}'
              example: Western Cape
        createRegistration:
          description: >
            Used to enable [card
            tokenisation](https://developer.peachpayments.com/docs/checkout-tokenisation)
            when customer pays with card.


            Cannot be `true` if `allowStoringDetails` is true.
          type: boolean
          example: true
        originator:
          description: >-
            Used to provide a name for the application that is creating the
            checkout instance.
          type: string
          maxLength: 100
          example: Webstore
        returnTo:
          description: Text to display on "Return to Store" button on completing checkout.
          type: string
          enum:
            - STORE
            - INVOICE
          example: STORE
        cardTokens:
          description: >-
            List of card tokens. The card tokens must be linked to the customer
            as they enable one-click payment support for the customer. See the
            [documentation](https://developer.peachpayments.com/docs/checkout-tokenisation)
            for more information.
          type: array
          items:
            type: string
            example: 8ac7a49f8e9f15d2018ea09b285f0ebz
        allowStoringDetails:
          description: >
            Allow the customer to store their card details for future use. When
            this is set, the customer is given an option to tokenise their card
            during checkout.


            If the customer chooses to store their card details, a
            `registrationId` is returned in the response from checkout. Similar
            to `createRegistration`.


            Cannot be `true` if `createRegistration` is true.


            See the
            [documentation](https://developer.peachpayments.com/docs/checkout-tokenisation)
            for more information.
          type: boolean
          example: true
      required:
        - authentication.entityId
        - merchantTransactionId
        - amount
        - currency
        - nonce
        - shopperResultUrl
    Address:
      description: Optional object that can be used for billing or shipping information.
      type: object
      properties:
        street1:
          description: >-
            The door number, floor, building number, building name, and/or
            street name of the billing or shipping address.
          type: string
          maxLength: 100
          minLength: 1
          example: Langtree Lane
          pattern: ^[\s\S]{1,100}$
        city:
          description: The town, district, or city linked to billing or shipping.
          type: string
          maxLength: 48
          minLength: 1
          example: Cape Town
          pattern: ^[\s\S]{1,48}$
        state:
          description: The county, state, or region of the billing address.
          type: string
          maxLength: 50
          minLength: 1
          example: Nasarawa
          pattern: ^[a-zA-Z0-9\.\- ]{1,50}$
        postalCode:
          description: The postal code or ZIP code of the address.
          type: string
          maxLength: 16
          minLength: 1
          example: 7000
        country:
          description: >-
            The country linked to billing or shipping as defined by ISO-3166-1
            alpha-2.
          type: string
          maxLength: 2
          minLength: 2
          example: ZA
          format: iso-3166-1 alpha-2
          pattern: ^[A-Z]{2}$
        company:
          description: The customer's company name.
          type: string
          pattern: ^[\s\S]{1,60}$
          example: Business Mosaics Ltd
        houseNumber1:
          description: Primary house number of the billing or shipping address.
          type: string
          pattern: ^[\s\S]{1,100}$
          example: '25567'
        postcode:
          description: The postal code or zip code of the billing or shipping address.
          type: string
          pattern: ^[\s\S]{1,16}$
          example: '8001'
        street2:
          description: >-
            Secondary house number of the billing or shipping address. Used when
            more addresses are bundled to the same primary house number. If
            present, houseNumber1 is required.
          type: string
          pattern: ^[\s\S]{1,100}$
          example: Loe Street
        customer:
          $ref: '#/components/schemas/Customer'
    Customer:
      description: Optional object sent if customer data is required.
      properties:
        givenName:
          description: >-
            The customer's first name or given name. Peach Payments recommends
            including the name so that it displays in the Peach Dashboard and is
            available for subsequent queries.
          type: string
          example: Jane
          maxLength: 50
          minLength: 1
          pattern: ^[\w'\-,.][^0-9_!¡?÷?¿/\\+=@#$%ˆ&*(){}|~<>;:[\]]{2,127}$
        surname:
          description: >-
            The customer's last name or surname. Peach Payments recommends
            including the surname so that it displays in the Peach Dashboard and
            is available for subsequent queries.
          type: string
          example: Doe
          maxLength: 50
          minLength: 0
          pattern: ^[\w'\-,.][^0-9_!¡?÷?¿/\\+=@#$%ˆ&*(){}|~<>;:[\]]{2,127}$
        email:
          description: The customer's email  address.
          type: string
          example: name@example.com
          maxLength: 128
          minLength: 6
          format: email
          pattern: ^[\s\S]{6,128}$
        mobile:
          description: The customer's mobile phone number.
          type: string
          example: '27610107822'
          maxLength: 25
          minLength: 5
          pattern: ^[+0-9][0-9 \.()/-]{5,25}$
        whatsapp:
          description: >-
            The customer's WhatsApp number. Required for communicating with
            customers regarding payment. Format should be +27123456789. Required
            if sendWhatsapp is true.
          type: string
          maxLength: 25
          minLength: 5
          example: '+27123456789'
        billing:
          $ref: '#/components/schemas/Address'
        fax:
          description: The customer's fax number, if provided.
          type: string
          pattern: ^[+0-9][0-9 \.()/-]{7,25}$
          example: '2919392022'
        phone:
          description: The customer's phone number.
          type: string
          pattern: ^[+0-9][0-9 \.()/-]{7,25}$
          example: '27210030000'
        ip:
          description: The customer's IP address.
          type: string
          pattern: ^[\s\S]{1,255}$
          example: 0.0.0.0
        merchantCustomerLanguage:
          description: The language used for the customer on the merchant's site.
          type: string
          pattern: ^[\s\S]{1,128}$
          example: EN
        status:
          description: Used to determine if this is a new or returning customer.
          type: string
          pattern: ^[\s\S]{1,255}$
          example: NEW
        merchantCustomerId:
          description: The customer's ID on the merchant's site.
          type: string
          pattern: ^[\s\S]{1,255}$
          example: sxxopjqy
        taxId:
          description: The customer's tax ID, if required.
          type: string
          pattern: ^[\s\S]{1,128}$
          example: '4550045030303'
        taxType:
          description: The customer's tax type, if required.
          type: string
          pattern: ^[\s\S]{1,128}$
          example: tax type
        birthDate:
          description: The customer's birth date.
          type: string
          pattern: ^(19|20)([0-9]{2})-(0[1-9]|1[0-2])-(0[1-9]|1[0-9]|2[0-9]|3[0-1])$
          example: '1996-08-07'
        browser:
          description: The customer's browser details.
          type: object
          properties:
            acceptHeader:
              description: The value of the accept header sent from the customer's browser.
              type: string
              pattern: ^[\s\S]{1,2048}$
              example: application/json
            language:
              description: >-
                The value representing the browser language as defined in IETF
                BCP47.
              type: string
              pattern: ^[\s\S]{1,8}$
              example: EN
            screenHeight:
              description: The total height of the customer's screen in pixels.
              type: string
              pattern: ^[\s\S]{1,6}$
              example: '1080'
            screenWidth:
              description: The total width of the customer's screen in pixels.
              type: string
              pattern: ^[\s\S]{1,6}$
              example: '1920'
            timezone:
              description: >-
                The time-zone offset in minutes between UTC and the local time
                of the customer's browser.
              type: string
              pattern: ^[\s\S]{1,5}$
              example: '30'
            userAgent:
              description: The exact content of the HTTP user-agent header.
              type: string
              pattern: ^[\s\S]{1,2048}$
              example: >-
                Mozilla/5.0 (Android 4.4; Mobile; rv:41.0) Gecko/41.0
                Firefox/41.0
            javaEnabled:
              description: >-
                The boolean that represents the ability of the customer's
                browser to execute Java.
              type: string
              pattern: ^(true|false)$
              example: 'false'
            javascriptEnabled:
              description: >-
                The boolean that represents the ability of the customer's
                browser to execute JavaScript.
              type: string
              pattern: ^(true|false)$
              example: 'true'
            screenColorDepth:
              description: >-
                The value representing the bit depth of the colour palette for
                displaying images in bits per pixel.
              type: string
              pattern: ^[0-9]{1,2}$
              example: '24'
            challengeWindow:
              description: >-
                The dimensions of the challenge window that has been displayed
                to the customer.
              type: string
              pattern: ^[0-9]{1,2}$
              example: '01'
      required:
        - givenName
      type: object
    PaymentOptions:
      description: >-
        The options object contains all the communication preferences for the
        payment link.
      type: object
      properties:
        sendEmail:
          description: >-
            Indicates whether to send an email to the customer after creating
            the payment link.
          type: boolean
          default: false
        sendSms:
          description: >-
            Indicates whether to send an SMS to the customer after creating the
            payment link.
          type: boolean
          default: false
        sendWhatsapp:
          description: >-
            Indicates whether to send a WhatsApp message to the customer after
            creating the payment link.
          type: boolean
          example: false
          default: false
        emailCc:
          description: List of comma-separated email addresses to CC.
          type: string
          maxLength: 128
          example: ccexample@mail.com
        emailBcc:
          description: List of comma-separated email addresses to BCC.
          type: string
          maxLength: 128
          example: bccexample@mail.com
        expiryTime:
          description: >-
            Time in minutes until the link expires. By default, expiry time is
            set to 30 days, which is also the maximum expiry time.
          type: integer
          example: 5
          default: 43200
          maxLength: 43200
          minLength: 5
        notificationUrl:
          description: >-
            Webhook notification URL for this payment. Overrides the default set
            on the merchant.
          type: string
          example: https://webhook.site/
    PaymentResponseOptions:
      type: object
      properties:
        sendEmail:
          description: >-
            Indicates whether to send an email to the customer after creating
            the payment link.
          type: boolean
          default: false
        sendSms:
          description: >-
            Indicates whether to send an SMS to the customer after creating the
            payment link.
          type: boolean
          default: false
        sendWhatsapp:
          description: >-
            Indicates whether to send a WhatsApp message to the customer after
            creating the payment link.
          type: boolean
          example: false
          default: false
        emailCc:
          description: List of comma-separated email addresses to CC.
          type: string
          nullable: true
          maxLength: 128
          example: ccexample@mail.com
        emailBcc:
          description: List of comma-separated email addresses to BCC.
          type: string
          nullable: true
          maxLength: 128
          example: bccexample@mail.com
        notificationUrl:
          description: >-
            Webhook notification URL for this payment. Overrides the default set
            on the merchant.
          type: string
          example: https://webhook.site/
    CheckoutOptions:
      description: >-
        The checkout object contains the default payment method and whether to
        tokenise the card number.
      type: object
      properties:
        defaultPaymentMethod:
          description: The default payment method to show when Checkout loads.
          type: string
          nullable: true
          maxLength: 20
          example: CARD
        forceDefaultMethod:
          description: Force the default payment method to be the only payment method.
          type: boolean
          nullable: true
          example: false
          default: false
        tokeniseCard:
          description: Tokenise the card number to allow it to be stored.
          type: boolean
          example: false
          default: false
    CheckoutState:
      allOf:
        - $ref: '#/components/schemas/CheckoutOptions'
        - type: object
          properties:
            registrationId:
              description: Registration ID added if tokeniseCard is true on card payment.
              type: string
              example: 8ac7a4a180223d220180227b2cf649f0
            checkoutId:
              description: Checkout ID of payment.
              type: string
              example: d6a8014a622a442aad90c72320419b2b
            transactionUniqueId:
              description: Unique transaction ID of payment.
              type: string
              example: 450bf3b1-c479-4b30-99ca-5b598a889b8f
            resultCode:
              description: Result code returned for payment.
              type: string
              example: 000.100.110
            paymentBrand:
              description: Payment brand used for payment.
              type: string
              example: VISA
    GenerateLinkPayment:
      type: object
      properties:
        payment:
          description: >-
            The payment object contains the payment details, files, and notes
            for the payment link.
          type: object
          properties:
            merchantInvoiceId:
              description: >-
                Invoice ID that can be used to link the payment to an invoice on
                the merchant's system.
              type: string
              example: INV90001
              maxLength: 16
              minLength: 8
            amount:
              description: Payment amount. Must be positive and less than 1000000.00.
              type: number
              example: 10
            currency:
              description: The currency code of the payment request amount (ISO 4217).
              type: string
              enum:
                - ZAR
                - KES
                - USD
              maxLength: 3
              minLength: 3
              example: ZAR
            files:
              description: Files to attach to the payment link.
              type: array
              items:
[...]
