openapi: 3.0.1
info:
  title: Pipedrive API v1
  description: >-
    Founded in 2010, Pipedrive is an easy and effective sales CRM that drives
    small business growth.


    Today, Pipedrive is used by revenue teams at more than 100,000 companies
    worldwide. Pipedrive is headquartered in New York and has offices across
    Europe and the US.


    The company is backed by majority holder Vista Equity Partners, Bessemer
    Venture Partners, Insight Partners, Atomico, and DTCP.


    Learn more at www.pipedrive.com.
  version: 1.0.0
  x-konfig-ignore:
    object-with-no-properties: true
servers:
  - url: https://api.pipedrive.com/v1
tags:
  - description: >
      Deals represent ongoing, lost or won sales to an organization or to a
      person. Each deal has a monetary value and must be placed in a stage.
      Deals can be owned by a user, and followed by one or many users. Each deal
      consists of standard data fields but can also contain a number of custom
      fields. The custom fields can be recognized by long hashes as keys. These
      hashes can be mapped against `DealField.key`. The corresponding label for
      each such custom field can be obtained from `DealField.name`.
    name: Deals
  - description: >
      Persons are your contacts, the customers you are doing deals with. Each
      person can belong to an organization. Persons should not be confused with
      users.
    name: Persons
  - description: >
      Organizations are companies and other kinds of organizations you are
      making deals with. Persons can be associated with organizations so that
      each organization can contain one or more persons.
    name: Organizations
  - description: >
      Projects represent ongoing, completed or canceled projects attached to an
      organization, person or to deals. Each project has an owner and must be
      placed in a phase. Each project consists of standard data fields but can
      also contain a number of custom fields. The custom fields can be
      recognized by long hashes as keys.
    name: Projects
  - description: >
      Products are the goods or services you are dealing with. Each product can
      have N different price points - firstly, each product can have a price in
      N different currencies, and secondly, each product can have N variations
      of itself, each having N prices in different currencies. Note that only
      one price per variation per currency is supported. Products can be
      instantiated to deals. In the context of instatiation, a custom price,
      quantity, duration and discount can be applied.
    name: Products
  - description: >
      Roles are a part of the Visibility groups’ feature that allow the admin
      user to categorize other users and dictate what items they will be allowed
      access to see.
    name: Roles
  - description: >
      Notes are pieces of textual (HTML-formatted) information that can be
      attached to deals, persons and organizations. Notes are usually displayed
      in the UI in chronological order – newest first – and in context with
      other updates regarding the item they are attached to. The maximum note
      size is approximately 3,000,000 characters (or 3MB per note).
    name: Notes
  - description: >
      Users are people with access to your Pipedrive account. A user may belong
      to one or many Pipedrive accounts, so deleting a user from one Pipedrive
      account will not remove the user from the data store if he/she is
      connected to multiple accounts. Users should not be confused with persons.
    name: Users
  - description: >
      Subscriptions represent the revenue that is occurring over time with
      payments of varying amounts and payment dates (installment subscription)
      or over fixed intervals of time with payments of the same amount
      (recurring subscription).
    name: Subscriptions
  - description: >
      Files are documents of any kind (images, spreadsheets, text files, etc.)
      that are uploaded to Pipedrive, and usually associated with a particular
      deal, person, organization, product, note or activity. Remote files can
      only be associated with a particular deal, person or organization. Note
      that the API currently does not support downloading files although it lets
      you retrieve a file’s meta-info along with a URL which can be used to
      download the file by using a standard HTTP GET request.
    name: Files
  - description: >
      Legacy teams allow you to form groups of users withing the organization
      for more efficient management. Previously Legacy Teams were called Teams
      and occupied the `v1/teams*` path. They're being deprecated because we are
      preparing for an upgraded version of the Teams API, which requires
      migrating the current functionality to a new path URL `v1/legacyTeams*`.
      The functionality and [OAuth
      scopes](https://pipedrive.readme.io/docs/marketplace-scopes-and-permissions-explanations)
      of all the Teams API endpoints will remain the same.
    name: LegacyTeams
  - description: |
      Pipelines are essentially ordered collections of stages.
    name: Pipelines
  - description: >
      Activities are appointments/tasks/events on a calendar that can be
      associated with a deal, a lead, a person and an organization. Activities
      can be of different type (such as call, meeting, lunch or a custom type -
      see ActivityTypes object) and can be assigned to a particular user. Note
      that activities can also be created without a specific date/time.
    name: Activities
  - description: >
      Each filter is essentially a set of data validation conditions. A filter
      of the same kind can be applied when fetching a list of deals, leads,
      persons, organizations or products in the context of a pipeline. Filters
      are limited to a maximum of 16 conditions. When applied, only items
      matching the conditions of the filter are returned. Detailed definitions
      of filter conditions and additional functionality is not yet available.
    name: Filters
  - description: >
      Leads are potential deals stored in Leads Inbox before they are archived
      or converted to a deal. Each lead needs to be named (using the `title`
      field) and be linked to a person or an organization. In addition to that,
      a lead can contain most of the fields a deal can (such as `value` or
      `expected_close_date`).
    name: Leads
  - description: >
      Stage is a logical component of a pipeline, and essentially a bucket that
      can hold a number of deals. In the context of the pipeline a stage belongs
      to, it has an order number which defines the order of stages in that
      pipeline.
    name: Stages
  - description: >
      Deal fields represent the near-complete schema for a deal in the context
      of the company of the authorized user. Each company can have a different
      schema for their deals, with various custom fields. In the context of
      using deal fields as a schema for defining the data fields of a deal, it
      must be kept in mind that some types of custom fields can have additional
      data fields which are not separate deal fields per se. Such is the case
      with monetary, daterange and timerange fields – each of these fields will
      have one additional data field in addition to the one presented in the
      context of deal fields. For example, if there is a monetary field with the
      key `ffk9s9` stored on the account, `ffk9s9` would hold the numeric value
      of the field, and `ffk9s9_currency` would hold the ISO currency code that
      goes along with the numeric value. To find out which data fields are
      available, fetch one deal and list its keys.
    name: DealFields
  - description: >
      Mailbox was designed to be the email control hub inside Pipedrive.
      Pipedrive supports all major providers (including Gmail, Outlook and also
      custom IMAP/SMTP). There are 2 options for syncing user emails: 2-way
      sync: Mail Connection is established with the mail provider (example
      Gmail). There can be only 1 active Mail Connection per user in company.
      1-way sync: SmartBCC feature which stores the copies of email messages to
      Pipedrive by adding the SmartBCC specific address to mail recipients.
    name: Mailbox
  - description: >
      Organization fields represent the near-complete schema for an organization
      in the context of the company of the authorized user. Each company can
      have a different schema for their organizations, with various custom
      fields. In the context of using organization fields as a schema for
      defining the data fields of an organization, it must be kept in mind that
      some types of custom fields can have additional data fields which are not
      separate organization fields per se. Such is the case with monetary,
      daterange and timerange fields – each of these fields will have one
      additional data field in addition to the one presented in the context of
      organization fields. For example, if there is a monetary field with the
      key `ffk9s9` stored on the account, `ffk9s9` would hold the numeric value
      of the field, and `ffk9s9_currency` would hold the ISO currency code that
      goes along with the numeric value. To find out which data fields are
      available, fetch one organization and list its keys.
    name: OrganizationFields
  - description: >
      Person fields represent the near-complete schema for a person in the
      context of the company of the authorized user. Each company can have a
      different schema for their persons, with various custom fields. In the
      context of using person fields as a schema for defining the data fields of
      a person, it must be kept in mind that some types of custom fields can
      have additional data fields which are not separate person fields per se.
      Such is the case with monetary, daterange and timerange fields – each of
      these fields will have one additional data field in addition to the one
      presented in the context of person fields. For example, if there is a
      monetary field with the key `ffk9s9` stored on the account, `ffk9s9` would
      hold the numeric value of the field, and `ffk9s9_currency` would hold the
      ISO currency code that goes along with the numeric value. To find out
      which data fields are available, fetch one person and list its keys.
    name: PersonFields
  - description: >
      Product fields represent the near-complete schema for a product in the
      context of the company of the authorized user. Each company can have a
      different schema for their products, with various custom fields. In the
      context of using product fields as a schema for defining the data fields
      of a product, it must be kept in mind that some types of custom fields can
      have additional data fields which are not separate product fields per se.
      Such is the case with monetary, daterange and timerange fields – each of
      these fields will have one additional data field in addition to the one
      presented in the context of product fields. For example, if there is a
      monetary field with the key `ffk9s9` stored on the account, `ffk9s9` would
      hold the numeric value of the field, and `ffk9s9_currency` would hold the
      ISO currency code that goes along with the numeric value. To find out
      which data fields are available, fetch one product and list its keys.
    name: ProductFields
  - description: >
      Activity types represent different kinds of activities that can be stored.
      Each activity type is presented to the user with an icon and a name.
      Additionally, a color can be defined (not implemented in the Pipedrive app
      as of today). Activity types are linked to activities via
      `ActivityType.key_string = Activity.type`. The `key_string` will be
      generated by the API based on the given name of the activity type upon
      creation, and cannot be changed. Activity types should be presented to the
      user in an ordered manner, using the `ActivityType.order_nr` value.
    name: ActivityTypes
  - description: >
      Call logs describe the outcome of a phone call managed by an integrated
      provider. Since these logs are also considered activities, they can be
      associated with a deal or a lead, a person and/or an organization. Call
      logs do differ from other activities, as they only receive the information
      needed to describe the phone call.
    name: CallLogs
  - description: >
      Goals help your team meet your sales targets. There are three types of
      goals - company, team and user.
    name: Goals
  - description: >
      Organization relationships represent how different organizations are
      related to each other. The relationship can be hierarchical (parent-child
      companies) or lateral as defined by the `type` field - either `parent` or
      `related`.
    name: OrganizationRelationships
  - description: >
      Tasks represent actions that need to be completed and must be associated
      with a project. Tasks have an optional due date, can be assigned to a user
      and can have subtasks.
    name: Tasks
  - description: >
      Channels API allows you to integrate your existing messaging channels into
      Pipedrive through [Messaging app
      extension](https://pipedrive.readme.io/docs/messaging-app-extension). It
      enables you to manage and interact with the channel’s conversations,
      participants and messages inside Pipedrive Messaging inbox: get the
      historical conversation, receive and send new messages. These endpoints
      are accessible only through **Messengers integration** OAuth scope
      together with Messaging manifest in building the [Messaging app
      extension](https://pipedrive.readme.io/docs/messaging-app-extension).
    name: Channels
  - description: >
      Lead labels allow you to visually categorize your leads. There are three
      default lead labels: hot, cold, and warm, but you can add as many new
      custom labels as you want.
    name: LeadLabels
  - description: >
      Project templates allow you to have reusable and dynamic structure to
      simplify creation of a project. Project template can contain information
      about activities, tasks and groups that will be used when creating a
      project.
    name: ProjectTemplates
  - description: >
      Permission sets define what users in the account can do: which actions
      they are allowed to perform and which features they can access. Permission
      sets are app-specific, where apps are large parts of functionality, e.g.,
      sales app, which allows accessing sales data, global permissions, which
      oversee cross-product features (for example contacts, insights, products)
      or account settings, which provides access to billing, user management,
      company settings and security center. Some permission sets with types such
      as admin and regular are pre-created for the account, while other custom
      ones can be created by users (depending on the tier the account is on).
    name: PermissionSets
  - description: >-
      See <a
      href="https://pipedrive.readme.io/docs/guide-for-webhooks?ref=api_reference"
      target="_blank" rel="noopener noreferrer">the guide for Webhooks</a> for
      more information.
    name: Webhooks
  - description: >
      Ordered reference objects, pointing to either deals, persons,
      organizations, leads, products, files or mail attachments.
    name: ItemSearch
  - description: >
      Meetings API allows integrating video calling apps into Pipedrive through
      [Video Calling App
      extension](https://pipedrive.readme.io/docs/video-calling-app-extension).
      It enables you to manage and interact with your video calls and meetings
      inside Pipedrive. These endpoints are accessible only through apps with
      video calls integration [OAuth
      scope](https://pipedrive.readme.io/docs/marketplace-scopes-and-permissions-explanations).
    name: Meetings
  - description: >
      Using OAuth 2.0 is necessary for developing apps that are available in the
      Pipedrive Marketplace. Authorization via OAuth 2.0 is a well-known and
      stable way to get fine-grained access to an API. To retrieve OAuth2 tokens
      you should send requests to the `https://oauth.pipedrive.com` domain.
      After registering the app, you must add the necessary server-side logic to
      your app to establish the OAuth flow. Please read more about authorization
      step on the [Pipedrive Developers
      page](https://pipedrive.readme.io/docs/marketplace-oauth-authorization).
    name: Oauth
  - description: |
      Activity fields represent different fields that an activity has.
    name: ActivityFields
  - description: >
      Billing is responsible for handling your subscriptions, payments, plans
      and add-ons.
    name: Billing
  - description: >
      Supported currencies which can be used to represent the monetary value of
      a deal, or a value of any monetary type custom field. The `Currency.code`
      field must be used to point to a currency. `Currency.code` is the ISO-4217
      format currency code for non-custom currencies. You can differentiate
      custom and non-custom currencies using the `is_custom_flag` property. For
      custom currencies, it is intended that the formatted sums are displayed in
      the UI using the following format: [sum][non-breaking space
      character][currency.symbol], for example: 500 users. Custom currencies
      cannot be added or removed via the API yet — rather the admin users of the
      account must configure them from the Pipedrive app.
    name: Currencies
  - description: >
      A lead source indicates where your lead came from. Currently, these are
      the possible lead sources: `Manually created`, `Deal`, `Web forms`,
      `Prospector`, `Leadbooster`, `Live chat`, `Import`, `Website visitors`,
      `Workflow automation`, and `API`. Lead sources are pre-defined and cannot
      be edited. Please note that leads sourced from the Chatbot feature are
      assigned the value `Leadbooster`. Please also note that this list is not
      final and new sources may be added as needed.
    name: LeadSources
  - description: |
      Note fields represent different fields that a note has.
    name: NoteFields
  - description: |
      Recent changes across all item types in Pipedrive (deals, persons, etc).
    name: Recents
  - description: |
      Manage user connections.
    name: UserConnections
  - description: |
      View user settings.
    name: UserSettings
paths:
  /oauth/authorize:
    get:
      servers:
        - url: https://oauth.pipedrive.com
      tags:
        - Oauth
      summary: Requesting authorization
      operationId: Oauth_requestAuthorization
      description: >-
        Authorize a user by redirecting them to the Pipedrive OAuth
        authorization page and request their permissions to act on their behalf.
        This step is necessary to implement only when you allow app installation
        outside of the Marketplace.
      parameters:
        - description: >-
            The client ID provided to you by the Pipedrive Marketplace when you
            register your app
          in: query
          name: client_id
          required: true
          schema:
            type: string
        - description: >-
            The callback URL you provided when you registered your app.
            Authorization code will be sent to that URL (if it matches with the
            value you entered in the registration form) if a user approves the
            app install. Or, if a customer declines, the corresponding error
            will also be sent to this URL.
          in: query
          name: redirect_uri
          required: true
          schema:
            type: string
        - description: >
            You may pass any random string as the state parameter and the same
            string will be returned to your app after a user authorizes access.
            It may be used to store the user's session ID from your app or
            distinguish different responses. Using state may increase security;
            see RFC-6749. The state parameter is not automatically available in
            Marketplace Manager. To enable it for your app, please write to us
            at marketplace.devs@pipedrive.com.
          in: query
          name: state
          schema:
            type: string
      responses:
        '200':
          description: Authorize user in the app.
          content:
            text/html:
              example: >
                As a result of the request, the customer will see a page with
                the confirmation dialog, which will present the details of your
                app (title, company name, icon) and explain the permission
                scopes that you have set for the app. Customers should confirm
                their wish to install the app by clicking "Allow and install" or
                deny authorization by clicking "Cancel".
  /oauth/token:
    post:
      servers:
        - url: https://oauth.pipedrive.com
      tags:
        - Oauth
      summary: Refreshing the tokens
      operationId: Oauth_refreshToken
      security:
        - basic_authentication: []
      description: >-
        The `access_token` has a lifetime. After a period of time, which was
        returned to you in `expires_in` JSON property, the `access_token` will
        be invalid, and you can no longer use it to get data from our API. To
        refresh the `access_token`, you must use the `refresh_token`.
      parameters: []
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OauthRefreshTokenRequest'
      responses:
        '200':
          description: Returns user Oauth2 tokens.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OauthRefreshTokenResponse'
              example:
                access_token: >-
                  v1u:AQIBAHj+LzTNK1yuuuaLqifzhWb9crUNKTpk4FlQ9rjnXqp/6AErhI98syaV25RmpLJLIgOkAAAAfjB8BgkqhkiG9w0BBwagbzBtAgEAMGgGCSqGSIb3DQEHATAeBglghkgBZQMEAS4wEQQMbGNxa4UccVoXAmLNAgEQgDsiQ7cNdoRBJeFr1i3KW84RYyM1Qtwq1oSBJOl/NFQdVjDI2iQH0LBhS28DbL2KDvoVIihea9Ryt/9rIQ==:RIDnTOIXo8QirT3DMYw0Y0s8xBbxz59f5IMq7T7WhSz313e2MXRHB6g+8OTNCSqVO7QsUhluoAmOfBP1FNkPycy9txn7t2Uoz9y/JDVf4Givv4MMiK/Xq3I7hO4N6FeD+2GqDJDBn24OW6b0SRIr4FEROhGo3BpcPRGehv46NLn1n5LrqXrQwO9qrGD4gIZe40oO2IQgGL9QAPDfqvZ+JhUtcpAipRLp7cCDRfYU8+sdOFJ+hLffqC8isFcV6iPsNrmj
                token_type: Bearer
                expires_in: 3599
                refresh_token: 1:1:2a5496a8bdd0f829dcb09dc8ba82b188f0ea4481
                scope: base
                api_domain: https://user-company.pipedrive.com
  /activities:
    delete:
      tags:
        - Activities
      summary: Delete multiple activities in bulk
      operationId: Activities_deleteBulk
      security:
        - api_key: []
        - oauth2:
            - activities:full
      description: >-
        Marks multiple activities as deleted. After 30 days, the activities will
        be permanently deleted.
      parameters:
        - description: The comma-separated IDs of activities that will be deleted
          in: query
          name: ids
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The activities were successfully deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivitiesDeleteBulkResponse'
              example:
                success: true
                data:
                  id:
                    - 625
                    - 627
    get:
      tags:
        - Activities
      summary: Get all activities assigned to a particular user
      operationId: Activities_listUserActivities
      security:
        - api_key: []
        - oauth2:
            - activities:read
            - activities:full
      description: Returns all activities assigned to a particular user.
      parameters:
        - description: >-
            The ID of the user whose activities will be fetched. If omitted, the
            user associated with the API token will be used. If 0, activities
            for all company users will be fetched based on the permission sets.
          in: query
          name: user_id
          required: false
          schema:
            type: integer
        - description: >-
            The ID of the filter to use (will narrow down results if used
            together with `user_id` parameter)
          in: query
          name: filter_id
          required: false
          schema:
            type: integer
        - description: >-
            The type of the activity, can be one type or multiple types
            separated by a comma. This is in correlation with the `key_string`
            parameter of ActivityTypes.
          in: query
          name: type
          required: false
          schema:
            type: string
        - description: >-
            For pagination, the limit of entries to be returned. If not
            provided, 100 items will be returned.
          in: query
          name: limit
          schema:
            type: integer
            example: 100
        - description: >-
            For pagination, the position that represents the first result for
            the page
          in: query
          name: start
          schema:
            type: integer
            example: 0
        - description: >-
            Use the activity due date where you wish to begin fetching
            activities from. Insert due date in YYYY-MM-DD format.
          in: query
          name: start_date
          required: false
          schema:
            type: string
            format: date
        - description: >-
            Use the activity due date where you wish to stop fetching activities
            from. Insert due date in YYYY-MM-DD format.
          in: query
          name: end_date
          required: false
          schema:
            type: string
            format: date
        - description: >-
            Whether the activity is done or not. 0 = Not done, 1 = Done. If
            omitted returns both done and not done activities.
          in: query
          name: done
          schema:
            title: numberBoolean
            type: number
            enum:
              - 0
              - 1
      responses:
        '200':
          description: A list of activities
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivitiesListUserActivitiesResponse'
              example:
                success: true
                data:
                  - id: 8
                    company_id: 22122
                    user_id: 1234
                    done: false
                    type: deadline
                    reference_type: scheduler-service
                    reference_id: 7
                    conference_meeting_client: 871b8bc88d3a1202
                    conference_meeting_url: https://pipedrive.zoom.us/link
                    conference_meeting_id: '17058746701'
                    due_date: '2020-06-09'
                    due_time: '10:00'
                    duration: '01:00'
                    busy_flag: true
                    add_time: '2020-06-08 12:37:56'
                    marked_as_done_time: '2020-08-08 08:08:38'
                    last_notification_time: '2020-08-08 12:37:56'
                    last_notification_user_id: 7655
                    notification_language_id: 1
                    subject: Deadline
                    public_description: This is a description
                    calendar_sync_include_context: ''
                    location: Mustamäe tee 3, Tallinn, Estonia
                    org_id: 5
                    person_id: 1101
                    deal_id: 300
                    lead_id: 46c3b0e1-db35-59ca-1828-4817378dff71
                    project_id: null
                    active_flag: true
                    update_time: '2020-08-08 12:37:56'
                    update_user_id: 5596
                    gcal_event_id: ''
                    google_calendar_id: ''
                    google_calendar_etag: ''
                    source_timezone: ''
                    rec_rule: RRULE:FREQ=WEEKLY;BYDAY=WE
                    rec_rule_extension: ''
                    rec_master_activity_id: 1
                    series: []
                    note: A note for the activity
                    created_by_user_id: 1234
                    location_subpremise: ''
                    location_street_number: '3'
                    location_route: Mustamäe tee
                    location_sublocality: Kristiine
                    location_locality: Tallinn
                    location_admin_area_level_1: Harju maakond
                    location_admin_area_level_2: ''
                    location_country: Estonia
                    location_postal_code: '10616'
                    location_formatted_address: Mustamäe tee 3, 10616 Tallinn, Estonia
                    attendees:
                      - email_address: attendee@pipedrivemail.com
                        is_organizer: 0
                        name: Attendee
                        person_id: 25312
                        status: noreply
                        user_id: null
                    participants:
                      - person_id: 17985
                        primary_flag: false
                      - person_id: 1101
                        primary_flag: true
                    org_name: Organization
                    person_name: Person
                    deal_title: Deal
                    owner_name: Creator
                    person_dropbox_bcc: company@pipedrivemail.com
                    deal_dropbox_bcc: company+deal300@pipedrivemail.com
                    assigned_to_user_id: 1235
                    file:
                      id: 376892,
                      clean_name: Audio 10:55:07.m4a
                      url: >-
                        https://pipedrive-files.s3-eu-west-1.amazonaws.com/Audio-recording.m4a
                related_objects:
                  user:
                    '1234':
                      id: 1234
                      name: Creator
                      email: john.doe@pipedrive.com
                      has_pic: false
                      pic_hash: null
                      active_flag: true
                  organization:
                    '5':
                      id: 5
                      name: Organization
                      people_count: 2
                      owner_id: 8877
                      address: Mustamäe tee 3a, 10615 Tallinn
                      cc_email: org@pipedrivemail.com
                  person:
                    '1101':
                      id: 1101
                      name: Person
                      email:
                        - label: work
                          value: person@pipedrive.com
                          primary: true
                      phone:
                        - label: work
                          value: '3421787767'
                          primary: true
                      owner_id: 8877
                  deal:
                    '300':
                      title: Deal
                      id: 300
                      status: open
                      value: 856
                      currency: EUR
                      stage_id: 1
                      pipeline_id: 1
                additional_data:
                  pagination:
                    start: 0
                    limit: 100
                    more_items_in_collection: false
                    next_start: 1
    post:
      tags:
        - Activities
      summary: Add an activity
      operationId: Activities_addNewActivity
      security:
        - api_key: []
        - oauth2:
            - activities:full
      description: >-
        Adds a new activity. Includes `more_activities_scheduled_in_context`
        property in response's `additional_data` which indicates whether there
        are more undone activities scheduled with the same deal, person or
        organization (depending on the supplied data). For more information, see
        the tutorial for <a
        href="https://pipedrive.readme.io/docs/adding-an-activity"
        target="_blank" rel="noopener noreferrer">adding an activity</a>.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActivitiesAddNewActivityRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivitiesAddNewActivityResponse'
              example:
                success: true
                data:
                  id: 8
                  company_id: 22122
                  user_id: 1234
                  done: false
                  type: deadline
                  reference_type: scheduler-service
                  reference_id: 7
                  conference_meeting_client: 871b8bc88d3a1202
                  conference_meeting_url: https://pipedrive.zoom.us/link
                  conference_meeting_id: '17058746701'
                  due_date: '2020-06-09'
                  due_time: '10:00'
                  duration: '01:00'
                  busy_flag: true
                  add_time: '2020-06-08 12:37:56'
                  marked_as_done_time: '2020-08-08 08:08:38'
                  last_notification_time: '2020-08-08 12:37:56'
                  last_notification_user_id: 7655
                  notification_language_id: 1
                  subject: Deadline
                  public_description: This is a description
                  calendar_sync_include_context: ''
                  location: Mustamäe tee 3, Tallinn, Estonia
                  org_id: 5
                  person_id: 1101
                  deal_id: 300
                  lead_id: 46c3b0e1-db35-59ca-1828-4817378dff71
                  project_id: null
                  active_flag: true
                  update_time: '2020-08-08 12:37:56'
                  update_user_id: 5596
                  gcal_event_id: ''
                  google_calendar_id: ''
                  google_calendar_etag: ''
                  source_timezone: ''
                  rec_rule: RRULE:FREQ=WEEKLY;BYDAY=WE
                  rec_rule_extension: ''
                  rec_master_activity_id: 1
                  series: []
                  note: A note for the activity
                  created_by_user_id: 1234
                  location_subpremise: ''
                  location_street_number: '3'
                  location_route: Mustamäe tee
                  location_sublocality: Kristiine
                  location_locality: Tallinn
                  location_admin_area_level_1: Harju maakond
                  location_admin_area_level_2: ''
                  location_country: Estonia
                  location_postal_code: '10616'
                  location_formatted_address: Mustamäe tee 3, 10616 Tallinn, Estonia
                  attendees:
                    - email_address: attendee@pipedrivemail.com
                      is_organizer: 0
                      name: Attendee
                      person_id: 25312
                      status: noreply
                      user_id: null
                  participants:
                    - person_id: 17985
                      primary_flag: false
                    - person_id: 1101
                      primary_flag: true
                  org_name: Organization
                  person_name: Person
                  deal_title: Deal
                  owner_name: Creator
                  person_dropbox_bcc: company@pipedrivemail.com
                  deal_dropbox_bcc: company+deal300@pipedrivemail.com
                  assigned_to_user_id: 1235
                  file:
                    id: 376892,X
                    clean_name: Audio 10:55:07.m4a
                    url: >-
                      https://pipedrive-files.s3-eu-west-1.amazonaws.com/Audio-recording.m4a
                related_objects:
                  user:
                    '1234':
                      id: 1234
                      name: Creator
                      email: john.doe@pipedrive.com
                      has_pic: false
                      pic_hash: null
                      active_flag: true
                  organization:
                    '5':
                      id: 5
                      name: Organization
                      people_count: 2
                      owner_id: 8877
                      address: Mustamäe tee 3a, 10615 Tallinn
                      cc_email: org@pipedrivemail.com
                      active_flag: true
                  person:
                    '1101':
                      id: 1101
                      name: Person
                      active_flag: true
                      email:
                        - label: work
                          value: person@pipedrive.com
                          primary: true
                      phone:
                        - label: work
                          value: '3421787767'
                          primary: true
                      owner_id: 8877
                  deal:
                    '300':
                      title: Deal
                      id: 300
                      status: open
                      value: 856
                      currency: EUR
                      stage_id: 1
                      pipeline_id: 1
                additional_data:
                  updates_story_id: 2039
  /activities/collection:
    get:
      tags:
        - Activities
      summary: Get all activities (BETA)
      operationId: Activities_getAllActivities
      security:
        - api_key: []
        - oauth2:
            - activities:read
            - activities:full
      description: >-
        Returns all activities. This is a cursor-paginated endpoint that is
        currently in BETA. For more information, please refer to our
        documentation on <a
        href="https://pipedrive.readme.io/docs/core-api-concepts-pagination"
        target="_blank" rel="noopener noreferrer">pagination</a>. Please note
        that only global admins (those with global permissions) can access these
        endpoints. Users with regular permissions will receive a 403 response.
        Read more about global permissions <a
        href="https://support.pipedrive.com/en/article/global-user-management"
        target="_blank" rel="noopener noreferrer">here</a>.
      parameters:
        - description: >-
            For pagination, the marker (an opaque string value) representing the
            first item on the next page
          in: query
          name: cursor
          required: false
          schema:
            type: string
        - description: >-
            For pagination, the limit of entries to be returned. If not
            provided, 100 items will be returned. Please note that a maximum
            value of 500 is allowed.
          in: query
          name: limit
          schema:
            type: integer
            example: 100
        - description: >-
            The time boundary that points to the start of the range of data.
            Datetime in ISO 8601 format. E.g. 2022-11-01 08:55:59. Operates on
            the `update_time` field.
          in: query
          name: since
          required: false
          schema:
            type: string
        - description: >-
            The time boundary that points to the end of the range of data.
            Datetime in ISO 8601 format. E.g. 2022-11-01 08:55:59. Operates on
            the `update_time` field.
          in: query
          name: until
          required: false
          schema:
            type: string
        - description: >-
            The ID of the user whose activities will be fetched. If omitted, all
            activities are returned.
          in: query
          name: user_id
          required: false
          schema:
            type: integer
        - description: >-
            Whether the activity is done or not. `false` = Not done, `true` =
            Done. If omitted, returns both done and not done activities.
          in: query
          name: done
          schema:
            type: boolean
        - description: >-
            The type of the activity, can be one type or multiple types
            separated by a comma. This is in correlation with the `key_string`
            parameter of ActivityTypes.
          in: query
          name: type
          required: false
          schema:
            type: string
      responses:
        '200':
          description: A list of activities
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivitiesGetAllActivitiesResponse'
              example:
                success: true
                data:
                  - id: 8
                    company_id: 22122
                    user_id: 1234
                    done: false
                    type: deadline
                    conference_meeting_client: 871b8bc88d3a1202
                    conference_meeting_url: https://pipedrive.zoom.us/link
                    conference_meeting_id: '17058746701'
                    due_date: '2022-06-09'
                    due_time: '10:00'
                    duration: '01:00'
                    busy_flag: true
                    add_time: '2020-06-08 12:37:56'
                    marked_as_done_time: '2020-08-08 08:08:38'
                    subject: Deadline
                    public_description: This is a description
                    location: Mustamäe tee 3, Tallinn, Estonia
                    org_id: 5
                    person_id: 1101
                    deal_id: 300
                    lead_id: 46c3b0e1-db35-59ca-1828-4817378dff71
                    project_id: null
                    active_flag: true
                    update_time: '2020-08-08 12:37:56'
                    update_user_id: 5596
                    source_timezone: ''
                    location_subpremise: ''
                    location_street_number: '3'
                    location_route: Mustamäe tee
                    location_sublocality: Kristiine
                    location_locality: Tallinn
                    location_admin_area_level_1: Harju maakond
                    location_admin_area_level_2: ''
                    location_country: Estonia
                    location_postal_code: '10616'
                    location_formatted_address: Mustamäe tee 3, 10616 Tallinn, Estonia
                additional_data:
                  next_cursor: eyJhY3Rpdml0aWVzIjoyN30
        '403':
          description: Forbidden response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivitiesGetAllActivities403Response'
              example:
                success: false
                error: You do not have permissions to do this.
                error_info: Please check developers.pipedrive.com
                data: null
                additional_data: null
  /activities/{id}:
    delete:
      tags:
        - Activities
      summary: Delete an activity
      operationId: Activities_markAsDeleted
      security:
        - api_key: []
        - oauth2:
            - activities:full
      description: >-
        Marks an activity as deleted. After 30 days, the activity will be
        permanently deleted.
      parameters:
        - description: The ID of the activity
          in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: The activity was successfully deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivitiesMarkAsDeletedResponse'
              example:
                success: true
                data:
                  id: 624
    get:
      tags:
        - Activities
      summary: Get details of an activity
      operationId: Activities_getDetails
      security:
        - api_key: []
        - oauth2:
            - activities:read
            - activities:full
      description: Returns the details of a specific activity.
      parameters:
        - description: The ID of the activity
          in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: The request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivitiesGetDetailsResponse'
              example:
                success: true
                data:
                  id: 8
                  company_id: 22122
                  user_id: 1234
                  done: false
                  type: deadline
                  reference_type: scheduler-service
                  reference_id: 7
                  conference_meeting_client: 871b8bc88d3a1202
                  conference_meeting_url: https://pipedrive.zoom.us/link
                  conference_meeting_id: '17058746701'
                  due_date: '2020-06-09'
                  due_time: '10:00'
                  duration: '01:00'
                  busy_flag: true
                  add_time: '2020-06-08 12:37:56'
                  marked_as_done_time: '2020-08-08 08:08:38'
                  last_notification_time: '2020-08-08 12:37:56'
                  last_notification_user_id: 7655
                  notification_language_id: 1
                  subject: Deadline
                  public_description: This is a description
                  calendar_sync_include_context: ''
                  location: Mustamäe tee 3, Tallinn, Estonia
                  org_id: 5
                  person_id: 1101
                  deal_id: 300
                  lead_id: 46c3b0e1-db35-59ca-1828-4817378dff71
                  project_id: null
                  active_flag: true
                  update_time: '2020-08-08 12:37:56'
                  update_user_id: 5596
                  gcal_event_id: ''
                  google_calendar_id: ''
                  google_calendar_etag: ''
                  source_timezone: ''
                  rec_rule: RRULE:FREQ=WEEKLY;BYDAY=WE
                  rec_rule_extension: ''
                  rec_master_activity_id: 1
                  series: []
                  note: A note for the activity
                  created_by_user_id: 1234
                  location_subpremise: ''
                  location_street_number: '3'
                  location_route: Mustamäe tee
                  location_sublocality: Kristiine
                  location_locality: Tallinn
                  location_admin_area_level_1: Harju maakond
                  location_admin_area_level_2: ''
                  location_country: Estonia
                  location_postal_code: '10616'
                  location_formatted_address: Mustamäe tee 3, 10616 Tallinn, Estonia
                  attendees:
                    - email_address: attendee@pipedrivemail.com
                      is_organizer: 0
                      name: Attendee
                      person_id: 25312
                      status: noreply
                      user_id: null
                  participants:
                    - person_id: 17985
                      primary_flag: false
                    - person_id: 1101
                      primary_flag: true
                  org_name: Organization
                  person_name: Person
                  deal_title: Deal
                  owner_name: Creator
                  person_dropbox_bcc: company@pipedrivemail.com
                  deal_dropbox_bcc: company+deal300@pipedrivemail.com
                  assigned_to_user_id: 1235
                  file:
                    id: 376892,X
                    clean_name: Audio 10:55:07.m4a
                    url: >-
                      https://pipedrive-files.s3-eu-west-1.amazonaws.com/Audio-recording.m4a
                related_objects:
                  user:
                    '1234':
                      id: 1234
                      name: Creator
                      email: john.doe@pipedrive.com
                      has_pic: false
                      pic_hash: null
                      active_flag: true
                  organization:
                    '5':
                      id: 5
                      name: Organization
                      people_count: 2
                      owner_id: 8877
                      address: Mustamäe tee 3a, 10615 Tallinn
                      cc_email: org@pipedrivemail.com
                  person:
                    '1101':
                      id: 1101
                      name: Person
                      email:
                        - label: work
                          value: person@pipedrive.com
                          primary: true
                      phone:
                        - label: work
                          value: '3421787767'
                          primary: true
                      owner_id: 8877
                  deal:
                    '300':
                      title: Deal
                      id: 300
                      status: open
                      value: 856
                      currency: EUR
                      stage_id: 1
                      pipeline_id: 1
    put:
      tags:
        - Activities
      summary: Update an activity
      operationId: Activities_updateActivityDetails
      security:
        - api_key: []
        - oauth2:
            - activities:full
      description: >-
        Updates an activity. Includes `more_activities_scheduled_in_context`
        property in response's `additional_data` which indicates whether there
        are more undone activities scheduled with the same deal, person or
        organization (depending on the supplied data).
      parameters:
        - description: The ID of the activity
          in: path
          name: id
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActivitiesUpdateActivityDetailsRequest'
      responses:
        '200':
          description: The request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivitiesUpdateActivityDetailsResponse'
              example:
                success: true
                data:
                  id: 8
                  company_id: 22122
                  user_id: 1234
                  done: false
                  type: deadline
                  reference_type: scheduler-service
                  reference_id: 7
                  conference_meeting_client: 871b8bc88d3a1202
                  conference_meeting_url: https://pipedrive.zoom.us/link
                  conference_meeting_id: '17058746701'
                  due_date: '2020-06-09'
                  due_time: '10:00'
                  duration: '01:00'
                  busy_flag: true
                  add_time: '2020-06-08 12:37:56'
                  marked_as_done_time: '2020-08-08 08:08:38'
                  last_notification_time: '2020-08-08 12:37:56'
                  last_notification_user_id: 7655
                  notification_language_id: 1
                  subject: Deadline
                  public_description: This is a description
                  calendar_sync_include_context: ''
                  location: Mustamäe tee 3, Tallinn, Estonia
                  org_id: 5
                  person_id: 1101
                  deal_id: 300
                  lead_id: 46c3b0e1-db35-59ca-1828-4817378dff71
                  project_id: null
                  active_flag: true
                  update_time: '2020-08-08 12:37:56'
                  update_user_id: 5596
                  gcal_event_id: ''
                  google_calendar_id: ''
                  google_calendar_etag: ''
                  source_timezone: ''
                  rec_rule: RRULE:FREQ=WEEKLY;BYDAY=WE
                  rec_rule_extension: ''
                  rec_master_activity_id: 1
                  series: []
                  note: A note for the activity
                  created_by_user_id: 1234
                  location_subpremise: ''
                  location_street_number: '3'
                  location_route: Mustamäe tee
                  location_sublocality: Kristiine
                  location_locality: Tallinn
                  location_admin_area_level_1: Harju maakond
                  location_admin_area_level_2: ''
                  location_country: Estonia
                  location_postal_code: '10616'
                  location_formatted_address: Mustamäe tee 3, 10616 Tallinn, Estonia
                  attendees:
                    - email_address: attendee@pipedrivemail.com
                      is_organizer: 0
                      name: Attendee
                      person_id: 25312
                      status: noreply
                      user_id: null
                  participants:
                    - person_id: 17985
                      primary_flag: false
                    - person_id: 1101
                      primary_flag: true
                  org_name: Organization
                  person_name: Person
                  deal_title: Deal
                  owner_name: Creator
                  person_dropbox_bcc: company@pipedrivemail.com
                  deal_dropbox_bcc: company+deal300@pipedrivemail.com
                  assigned_to_user_id: 1235
                  file:
                    id: 376892,X
                    clean_name: Audio 10:55:07.m4a
                    url: >-
                      https://pipedrive-files.s3-eu-west-1.amazonaws.com/Audio-recording.m4a
                related_objects:
                  user:
                    '1234':
                      id: 1234
                      name: Creator
                      email: john.doe@pipedrive.com
                      has_pic: false
                      pic_hash: null
                      active_flag: true
                  organization:
                    '5':
                      id: 5
                      name: Organization
                      people_count: 2
                      owner_id: 8877
                      address: Mustamäe tee 3a, 10615 Tallinn
                      cc_email: org@pipedrivemail.com
                      active_flag: true
                  person:
                    '1101':
                      id: 1101
                      name: Person
                      active_flag: true
                      email:
                        - label: work
                          value: person@pipedrive.com
                          primary: true
                      phone:
                        - label: work
                          value: '3421787767'
                          primary: true
                      owner_id: 8877
                  deal:
                    '300':
                      title: Deal
                      id: 300
                      status: open
                      value: 856
                      currency: EUR
                      stage_id: 1
                      pipeline_id: 1
  /activityFields:
    get:
      tags:
        - ActivityFields
      summary: Get all activity fields
      operationId: ActivityFields_getAll
      security:
        - api_key: []
        - oauth2:
            - activities:read
            - activities:full
      description: Returns all activity fields.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityFieldsGetAllResponse'
              example:
                success: true
                data:
                  - id: 1
                    key: title
                    name: Title
                    order_nr: 2
                    field_type: varchar
                    add_time: '2019-02-04 13:58:03'
                    update_time: '2019-02-04 13:58:03'
                    last_updated_by_user_id: 1
                    active_flag: true
                    edit_flag: false
                    index_visible_flag: true
                    details_visible_flag: true
                    add_visible_flag: true
                    important_flag: false
                    bulk_edit_allowed: true
                    searchable_flag: false
                    filtering_allowed: true
                    sortable_flag: true
                    options: null
                    mandatory_flag: true
                  - id: 2
                    key: 9dc80c50d78a15643bfc4ca79d76156a73a1ca0e
                    name: Customer Type
                    order_nr: 1
                    field_type: enum
                    add_time: '2019-02-04 13:58:03'
                    update_time: '2019-02-04 13:58:03'
                    last_updated_by_user_id: 1
                    active_flag: true
                    edit_flag: true
                    index_visible_flag: true
                    details_visible_flag: true
                    add_visible_flag: false
                    important_flag: false
                    bulk_edit_allowed: true
                    searchable_flag: false
                    filtering_allowed: true
                    sortable_flag: true
                    options:
                      - id: 190
                        label: Private person
                      - id: 191
                        label: Company
                      - id: 192
                        label: Government
                    mandatory_flag: true
                additional_data:
                  pagination:
                    start: 0
                    limit: 100
                    more_items_in_collection: false
  /activityTypes:
    delete:
      tags:
        - ActivityTypes
      summary: Delete multiple activity types in bulk
      operationId: ActivityTypes_markAsDeletedBulk
      security:
        - api_key: []
        - oauth2:
            - admin
      description: Marks multiple activity types as deleted.
      parameters:
        - description: The comma-separated activity type IDs
          in: query
          name: ids
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The activity types were successfully deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityTypesMarkAsDeletedBulkResponse'
              example:
                success: true
                data:
                  id:
                    - 1
                    - 2
                    - 3
    get:
      tags:
        - ActivityTypes
      summary: Get all activity types
      operationId: ActivityTypes_listAllActivityTypes
      security:
        - api_key: []
        - oauth2:
            - activities:read
            - activities:full
            - admin
      description: Returns all activity types.
      responses:
        '200':
          description: A list of activity types
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityTypesListAllActivityTypesResponse'
              example:
                success: true
                data:
                  - id: 4
                    order_nr: 1
                    name: Deadline
                    key_string: deadline
                    icon_key: deadline
                    active_flag: true
                    color: FFFFFF
                    is_custom_flag: false
                    add_time: '2019-10-04 16:24:55'
                    update_time: '2020-03-11 13:53:01'
                  - id: 5
                    order_nr: 2
                    name: Call
                    key_string: call
                    icon_key: call
                    active_flag: true
                    color: FFFFFF
                    is_custom_flag: false
                    add_time: '2019-12-21 19:44:01'
                    update_time: '2019-12-21 19:44:01'
    post:
      tags:
        - ActivityTypes
      summary: Add new activity type
      operationId: ActivityTypes_addNewType
      security:
        - api_key: []
        - oauth2:
            - admin
      description: Adds a new activity type.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActivityTypesAddNewTypeRequest'
      responses:
        '200':
          description: The activity type was successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityTypesAddNewTypeResponse'
              example:
                success: true
                data:
                  id: 12
                  order_nr: 1
                  name: Video call
                  key_string: video_call
                  icon_key: camera
                  active_flag: true
                  color: aeb31b
                  is_custom_flag: true
                  add_time: '2020-09-01 10:16:23'
                  update_time: '2020-09-01 10:16:23'
  /activityTypes/{id}:
    delete:
      tags:
        - ActivityTypes
      summary: Delete an activity type
      operationId: ActivityTypes_markAsDeleted
      security:
        - api_key: []
        - oauth2:
            - admin
      description: Marks an activity type as deleted.
      parameters:
        - description: The ID of the activity type
          in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: The activity type was successfully deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityTypesMarkAsDeletedResponse'
              example:
                success: true
                data:
                  id: 12
                  order_nr: 1
                  name: Video call
                  key_string: video_call
                  icon_key: camera
                  active_flag: false
                  color: aeb31b
                  is_custom_flag: true
                  add_time: '2020-09-01 10:16:23'
                  update_time: '2020-09-01 19:59:59'
    put:
      tags:
        - ActivityTypes
      summary: Update an activity type
      operationId: ActivityTypes_updateType
      security:
        - api_key: []
        - oauth2:
            - admin
      description: Updates an activity type.
      parameters:
        - description: The ID of the activity type
          in: path
          name: id
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActivityTypesUpdateTypeRequest'
      responses:
        '200':
          description: The activity type was successfully updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityTypesUpdateTypeResponse'
              example:
                success: true
                data:
                  id: 12
                  order_nr: 1
                  name: Video call
                  key_string: video_call
                  icon_key: camera
                  active_flag: true
                  color: aeb31b
                  is_custom_flag: true
                  add_time: '2020-09-01 10:16:23'
                  update_time: '2020-09-01 14:12:09'
  /billing/subscriptions/addons:
    get:
      tags:
        - Billing
      summary: Get all add-ons for a single company
      operationId: Billing_getAddonsForSingleCompany
      security:
        - api_key: []
        - oauth2:
            - users:read
      description: Returns the add-ons for a single company.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingGetAddonsForSingleCompanyResponse'
              example:
                success: true
                data:
                  - code: leadbooster_v2
                  - code: prospector
                  - code: smart_docs_v2
  /callLogs:
    post:
      tags:
        - CallLogs
      summary: Add a call log
      operationId: CallLogs_addNewLog
      security:
        - api_key: []
        - oauth2:
            - phone-integration
      description: Adds a new call log.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallLogsAddNewLogRequest'
      responses:
        '200':
          description: The call log was successfully created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallLogsAddNewLogResponse'
              example:
                success: true
                data:
                  id: CAd92b224eb4a39b5ad8fea92ff0e
                  activity_id: 7007
                  person_id: 333222111
                  org_id: 123456789
                  deal_id: 553229734
                  subject: Just call me maybe
                  duration: '0'
                  outcome: busy
                  from_phone_number: '+37277774841'
                  to_phone_number: '+37249234343'
                  has_recording: false
                  start_time: '2022-12-12T01:01:01.000Z'
                  end_time: '2022-12-12T01:02:01.000Z'
                  user_id: 777707777
                  company_id: 66660666
                  note: A note for the call log
        '400':
          description: The request contains wrong or incorrectly formatted arguments.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallLogsAddNewLog400Response'
        '403':
          description: You don't have permission to access the resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallLogsAddNewLog403Response'
        '404':
          description: A resource required to process the request was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallLogsAddNewLog404Response'
        '500':
          description: There was an error processing the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallLogsAddNewLog500Response'
    get:
      tags:
        - CallLogs
      summary: Get all call logs assigned to a particular user
      operationId: CallLogs_getAllLogs
      security:
        - api_key: []
        - oauth2:
            - phone-integration
      description: Returns all call logs assigned to a particular user.
      parameters:
        - description: Pagination start
          in: query
          name: start
          schema:
            type: integer
            default: 0
        - description: >-
            For pagination, the limit of entries to be returned. The upper limit
            is 50.
          in: query
          name: limit
          schema:
            type: integer
      responses:
        '200':
          description: A list of call logs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallLogsGetAllLogsResponse'
              example:
                success: true
                data:
                  - id: CAd92b224eb4a39b5ad8fea92ff0eX
                    activity_id: 7007
                    person_id: 333222111
                    org_id: 123456789
                    deal_id: 553229734
                    subject: Just call me maybe
                    duration: '0'
                    outcome: busy
                    from_phone_number: '+37277774841'
                    to_phone_number: '+37249234343'
                    has_recording: false
                    start_time: '2022-12-12T01:01:01.000Z'
                    end_time: '2022-12-12T01:01:01.000Z'
                    user_id: 777707777
                    company_id: 66660666
                    note: A note for the call log
                  - id: CAd92b224eb4a39b11a8fea92ff0e
                    activity_id: 1
                    person_id: 1
                    duration: '0'
                    outcome: no_answer
                    to_phone_number: '+3728439832'
                    has_recording: true
                    start_time: '2022-12-12T01:01:01.000Z'
                    end_time: '2022-12-12T01:01:01.000Z'
                    user_id: 777777777
                    company_id: 66666666
                    note: A note for the call log
                additional_data:
                  pagination:
                    start: 0
                    limit: 50
                    more_items_in_collection: false
                    next_start: 1
  /callLogs/{id}:
    delete:
      tags:
        - CallLogs
      summary: Delete a call log
      operationId: CallLogs_deleteLog
      security:
        - api_key: []
        - oauth2:
            - phone-integration
      description: >-
        Deletes a call log. If there is an audio recording attached to it, it
        will also be deleted. The related activity will not be removed by this
        request. If you want to remove the related activities, please use the
        endpoint which is specific for activities.
      parameters:
        - description: The ID received when you create the call log
          in: path
          name: id
          required: true
          schema:
            type: string
            example: 3cde3b05035cae14dcfc172bd8000d08
      responses:
        '200':
          description: The call log was successfully deleted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallLogsDeleteLogResponse'
              example:
                success: true
        '403':
          description: You don't have permission to access the resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallLogsDeleteLog403Response'
        '404':
          description: A resource required to process the request was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallLogsDeleteLog404Response'
        '410':
          description: The callLog you are trying to access is no longer available.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallLogsDeleteLog410Response'
        '500':
          description: There was an error processing the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallLogsDeleteLog500Response'
    get:
      tags:
        - CallLogs
      summary: Get details of a call log
      operationId: CallLogs_getDetails
      security:
        - api_key: []
        - oauth2:
            - phone-integration
      description: Returns details of a specific call log.
      parameters:
        - description: The ID received when you create the call log
          in: path
          name: id
          required: true
          schema:
            type: string
            example: 3cde3b05035cae14dcfc172bd8000d08
      responses:
        '200':
          description: The requested call log object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallLogsGetDetailsResponse'
              example:
                success: true
                data:
                  id: CAd92b224eb4a39b5ad8fea92ff0eX
                  activity_id: 7007
                  person_id: 333222111
                  org_id: 123456789
                  deal_id: 553229734
                  subject: Just call me maybe
                  duration: '0'
                  outcome: busy
                  from_phone_number: '+37277774841'
                  to_phone_number: '+37249234343'
                  has_recording: false
                  start_time: '2022-12-12T01:01:01.000Z'
                  end_time: '2022-12-12T01:02:01.000Z'
                  user_id: 777707777
                  company_id: 66660666
                  note: A note for the call log
        '404':
          description: A resource required to process the request was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallLogsGetDetails404Response'
  /callLogs/{id}/recordings:
    post:
      tags:
        - CallLogs
      summary: Attach an audio file to the call log
      operationId: CallLogs_attachRecording
      security:
        - api_key: []
        - oauth2:
            - phone-integration
      description: >-
        Adds an audio recording to the call log. That audio can be played by
        those who have access to the call log object.
      parameters:
        - description: The ID received when you create the call log
          in: path
          name: id
          required: true
          schema:
            type: string
            example: 3cde3b05035cae14dcfc172bd8000d08
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CallLogsAttachRecordingRequest'
      responses:
        '200':
          description: The audio recording was successfully added to the log.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallLogsAttachRecordingResponse'
              example:
                success: true
        '404':
          description: A resource required to process the request was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallLogsAttachRecording404Response'
        '409':
          description: Recording for this call already exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallLogsAttachRecording409Response'
        '500':
          description: There was an error processing the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallLogsAttachRecording500Response'
  /channels:
    post:
      tags:
        - Channels
      summary: Add a channel
      operationId: Channels_createNewChannel
      security:
        - api_key: []
        - oauth2:
            - messengers-integration
      description: >-
        Adds a new messaging channel, only admins are able to register new
        channels. It will use the getConversations endpoint to fetch
        conversations, participants and messages afterward. To use the endpoint,
        you need to have **Messengers integration** OAuth scope enabled and the
        Messaging manifest ready for the [Messaging app
        extension](https://pipedrive.readme.io/docs/messaging-app-extension).
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChannelsCreateNewChannelRequest'
      responses:
        '200':
          description: The channel registered
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelsCreateNewChannelResponse'
              example:
                success: true
                data:
                  id: e283f878-7ef9-4294-8e5c-04a7d003fd92
                  name: My Channel
                  avatar_url: http://my-domain.com/images/test.png
                  provider_channel_id: e283f878-7ef9-4294-8e5c-04a7d003fd92
                  marketplace_client_id: 57da5c3c55a82bb4
                  pd_company_id: 123
                  pd_user_id: 321
                  created_at: '2022-03-01 00:00:00'
                  provider_type: other
                  template_support: false
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelsCreateNewChannel400Response'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelsCreateNewChannel403Response'
  /channels/{id}:
    delete:
      tags:
        - Channels
      summary: Delete a channel
      operationId: Channels_deleteChannelById
      security:
        - api_key: []
        - oauth2:
            - messengers-integration
      description: >-
        Deletes an existing messenger’s channel and all related entities
        (conversations and messages). To use the endpoint, you need to have
        **Messengers integration** OAuth scope enabled and the Messaging
        manifest ready for the [Messaging app
        extension](https://pipedrive.readme.io/docs/messaging-app-extension).
      parameters:
        - description: The ID of the channel provided by the integration
          in: path
          name: id
          schema:
            type: string
          required: true
      responses:
        '200':
          description: The channel was deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelsDeleteChannelByIdResponse'
              example:
                success: true
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelsDeleteChannelById400Response'
  /channels/messages/receive:
    post:
      tags:
        - Channels
      summary: Receives an incoming message
      operationId: Channels_receiveMessage
      security:
        - api_key: []
        - oauth2:
            - messengers-integration
      description: >-
        Adds a message to a conversation. To use the endpoint, you need to have
        **Messengers integration** OAuth scope enabled and the Messaging
        manifest ready for the [Messaging app
        extension](https://pipedrive.readme.io/docs/messaging-app-extension).
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChannelsReceiveMessageRequest'
      responses:
        '200':
          description: The message was registered in the conversation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelsReceiveMessageResponse'
              example:
                success: true
                data:
                  id: e283f878-7ef9-4294-8e5c-04a7d003fd92X
                  channel_id: a8aa4db0-91bb-4e90-b9c0-0c6291307e2f
                  sender_id: 5d4bd467-d847-4088-ae43-0c7614233bab
                  conversation_id: 063ffa46-831c-4027-a04c-b65e17f077b7
                  message: This is a message
                  status: sent
                  created_at: '2022-03-01T07:58:35.449Z'
                  reply_by: '2022-03-01T07:58:35.449Z'
                  conversation_link: >-
                    http://my-server.com/conversations/063ffa46-831c-4027-a04c-b65e17f077b7
                  attachments:
                    - id: b0369d1d-6b6a-4293-88b9-e2924782d47e
                      type: image/png
                      name: Image Name
                      size: 600
                      url: >-
                        http://my-server.com/images/b0369d1d-6b6a-4293-88b9-e2924782d47e.png
                      preview_url: >-
                        http://my-server.com/images/b0369d1d-6b6a-4293-88b9-e2924782d47e.preview.png
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelsReceiveMessage400Response'
  /channels/{channel-id}/conversations/{conversation-id}:
    delete:
      tags:
        - Channels
      summary: Delete a conversation
      operationId: Channels_deleteConversation
      security:
        - api_key: []
        - oauth2:
            - messengers-integration
      description: >-
        Deletes an existing conversation. To use the endpoint, you need to have
        **Messengers integration** OAuth scope enabled and the Messaging
        manifest ready for the [Messaging app
        extension](https://pipedrive.readme.io/docs/messaging-app-extension).
      parameters:
        - description: The ID of the channel provided by the integration
          in: path
          name: channel-id
          schema:
            type: string
          required: true
        - description: The ID of the conversation provided by the integration
          in: path
          name: conversation-id
          schema:
            type: string
          required: true
      responses:
        '200':
          description: The conversation was deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelsDeleteConversationResponse'
              example:
                success: true
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelsDeleteConversation403Response'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelsDeleteConversation404Response'
  /currencies:
    get:
      tags:
        - Currencies
      summary: Get all supported currencies
      operationId: Currencies_getAllSupported
      security:
        - api_key: []
        - oauth2:
            - base
      description: >-
        Returns all supported currencies in given account which should be used
        when saving monetary values with other objects. The `code` parameter of
        the returning objects is the currency code according to ISO 4217 for all
        non-custom currencies.
      parameters:
        - description: >-
            Optional search term that is searched for from currency's name
            and/or code
          in: query
          name: term
          schema:
            type: string
      responses:
        '200':
          description: The list of supported currencies
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrenciesGetAllSupportedResponse'
              example:
                success: true
                data:
                  - id: 1
                    code: EUR
                    name: Euro
                    decimal_points: 2
                    symbol: €
                    active_flag: true
                    is_custom_flag: false
                  - id: 2
                    code: USD
                    name: US Dollar
                    decimal_points: 2
                    symbol: $
                    active_flag: true
                    is_custom_flag: false
  /deals:
    get:
      tags:
        - Deals
      summary: Get all deals
      operationId: Deals_getAllDeals
      security:
        - api_key: []
        - oauth2:
            - deals:read
            - deals:full
      description: >-
        Returns all deals. For more information, see the tutorial for <a
        href="https://pipedrive.readme.io/docs/getting-all-deals"
        target="_blank" rel="noopener noreferrer">getting all deals</a>.
      parameters:
        - description: >-
            If supplied, only deals matching the given user will be returned.
            However, `filter_id` and `owned_by_you` takes precedence over
            `user_id` when supplied.
          in: query
          name: user_id
          schema:
            type: integer
        - description: The ID of the filter to use
          in: query
          name: filter_id
          schema:
            type: integer
        - description: If supplied, only deals within the given stage will be returned
          in: query
          name: stage_id
          schema:
            type: integer
        - description: >-
            Only fetch deals with a specific status. If omitted, all not deleted
            deals are returned. If set to deleted, deals that have been deleted
            up to 30 days ago will be included.
          in: query
          name: status
          schema:
            type: string
            default: all_not_deleted
            enum:
              - open
              - won
              - lost
              - deleted
              - all_not_deleted
        - description: Pagination start
          in: query
          name: start
          schema:
            type: integer
            default: 0
        - description: Items shown per page
          in: query
          name: limit
          schema:
            type: integer
        - description: >-
            The field names and sorting mode separated by a comma (`field_name_1
            ASC`, `field_name_2 DESC`). Only first-level field keys are
            supported (no nested keys).
          in: query
          name: sort
          schema:
            type: string
        - description: >-
            When supplied, only deals owned by you are returned. However,
            `filter_id` takes precedence over `owned_by_you` when both are
            supplied.
          in: query
          name: owned_by_you
          schema:
            title: numberBoolean
            type: number
            enum:
              - 0
              - 1
      responses:
        '200':
          description: Get all deals
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DealsGetAllDealsResponse'
              example:
                success: true
                data:
                  - title: Deal One
                    id: 1
                    creator_user_id:
                      id: 8877
                      name: Creator
                      email: john.doe@pipedrive.com
                      has_pic: false
                      pic_hash: null
                      active_flag: true
                      value: 8877
                    user_id:
                      id: 8877
                      name: Creator
                      email: john.doe@pipedrive.com
                      has_pic: false
                      pic_hash: null
                      active_flag: true
                      value: 8877
                    person_id:
                      active_flag: true
                      name: Person
                      email:
                        - label: work
                          value: person@pipedrive.com
                          primary: true
                      phone:
                        - label: work
                          value: '37244499911'
                          primary: true
                      value: 1101
                    org_id:
                      name: Organization
                      people_count: 2
                      owner_id: 8877
                      address: Mustamäe tee 3a, 10615 Tallinn
                      active_flag: true
                      cc_email: org@pipedrivemail.com
                      value: 5
                    stage_id: 2
                    value: 5000
                    currency: EUR
                    add_time: '2019-05-29 04:21:51'
                    update_time: '2019-11-28 16:19:50'
                    stage_change_time: '2019-11-28 15:41:22'
                    active: true
                    deleted: false
                    status: open
                    probability: null
                    next_activity_date: '2019-11-29'
                    next_activity_time: '11:30:00'
                    next_activity_id: 128
                    last_activity_id: null
                    last_activity_date: null
                    lost_reason: null
                    visible_to: '1'
                    close_time: null
                    pipeline_id: 1
                    won_time: '2019-11-27 11:40:36'
                    first_won_time: '2019-11-27 11:40:36'
                    lost_time: '2019-11-27 11:40:36'
                    products_count: 0
                    files_count: 0
                    notes_count: 2
                    followers_count: 0
                    email_messages_count: 4
                    activities_count: 1
                    done_activities_count: 0
                    undone_activities_count: 1
                    participants_count: 1
                    expected_close_date: '2019-06-29'
                    last_incoming_mail_time: '2019-05-29 18:21:42'
                    last_outgoing_mail_time: '2019-05-30 03:45:35'
                    label: '11'
                    stage_order_nr: 2
                    person_name: Person
                    org_name: Organization
                    next_activity_subject: Call
                    next_activity_type: call
                    next_activity_duration: '00:30:00'
                    next_activity_note: Note content
                    formatted_value: €5,000
                    weighted_value: 5000
                    formatted_weighted_value: €5,000
                    weighted_value_currency: EUR
                    rotten_time: null
                    owner_name: Creator
                    cc_email: company+deal1@pipedrivemail.com
                    org_hidden: false
                    person_hidden: false
                related_objects:
                  user:
                    '8877':
                      id: 8877
                      name: Creator
                      email: john.doe@pipedrive.com
                      has_pic: false
                      pic_hash: null
                      active_flag: true
                  organization:
                    '5':
                      id: 5
                      name: Organization
                      people_count: 2
                      owner_id: 8877
                      address: Mustamäe tee 3a, 10615 Tallinn
                      active_flag: true
                      cc_email: org@pipedrivemail.com
                  person:
                    '1101':
                      active_flag: true
                      id: 1101
                      name: Person
                      email:
                        - label: work
                          value: person@pipedrive.com
                          primary: true
                      phone:
                        - label: work
                          value: '3421787767'
                          primary: true
                      owner_id: 8877
                  stage:
                    '2':
                      id: 2
                      company_id: 123
                      order_nr: 1
                      name: Stage Name
                      active_flag: true
                      deal_probability: 100
                      pipeline_id: 1
                      rotten_flag: false
                      rotten_days: null
                      add_time: '2015-12-08 13:54:06'
                      update_time: '2015-12-08 13:54:06'
                      pipeline_name: Pipeline
                      pipeline_deal_probability: true
                  pipeline:
                    '1':
                      id: 1
                      name: Pipeline
                      url_title: Pipeline
                      order_nr: 0
                      active: true
                      deal_probability: true
                      add_time: '2015-12-08 10:00:24'
                      update_time: '2015-12-08 10:00:24'
                additional_data:
                  pagination:
                    start: 0
                    limit: 100
                    more_items_in_collection: false
                    next_start: 1
    post:
      tags:
        - Deals
      summary: Add a deal
      operationId: Deals_createDeal
      security:
        - api_key: []
        - oauth2:
            - deals:full
      description: >-
        Adds a new deal. Note that you can supply additional custom fields along
        with the request that are not described here. These custom fields are
        different for each Pipedrive account and can be recognized by long
        hashes as keys. To determine which custom fields exists, fetch the
        dealFields and look for `key` values. For more information, see the
        tutorial for <a href="https://pipedrive.readme.io/docs/creating-a-deal"
        target="_blank" rel="noopener noreferrer">adding a deal</a>.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DealsCreateDealRequest'
      responses:
        '201':
          description: Add a deal
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DealsCreateDealResponse'
              example:
                success: true
                data:
                  title: Deal One
                  id: 1
                  creator_user_id:
                    id: 8877
                    name: Creator
                    email: john.doe@pipedrive.com
                    has_pic: false
                    pic_hash: null
                    active_flag: true
                    value: 8877
                  user_id:
                    id: 8877
                    name: Creator
                    email: john.doe@pipedrive.com
                    has_pic: false
                    pic_hash: null
                    active_flag: true
                    value: 8877
                  person_id:
                    active_flag: true
                    name: Person
                    email:
                      - label: work
                        value: person@pipedrive.com
                        primary: true
                    phone:
                      - label: work
                        value: '37244499911'
                        primary: true
                    value: 1101
                  org_id:
                    name: Organization
                    people_count: 2
                    owner_id: 8877
                    address: ''
                    active_flag: true
                    cc_email: org@pipedrivemail.com
                    value: 5
                  stage_id: 2
                  value: 5000
                  currency: EUR
                  add_time: '2019-05-29 04:21:51'
                  update_time: '2019-11-28 16:19:50'
                  stage_change_time: '2019-11-28 15:41:22'
                  active: true
                  deleted: false
                  status: open
                  probability: null
                  next_activity_date: '2019-11-29'
                  next_activity_time: '11:30:00'
                  next_activity_id: 128
                  last_activity_id: null
                  last_activity_date: null
                  lost_reason: null
                  visible_to: '1'
                  close_time: null
                  pipeline_id: 1
                  won_time: '2019-11-27 11:40:36'
                  first_won_time: '2019-11-27 11:40:36'
                  lost_time: ''
                  products_count: 0
                  files_count: 0
                  notes_count: 2
                  followers_count: 0
                  email_messages_count: 4
                  activities_count: 1
                  done_activities_count: 0
                  undone_activities_count: 1
                  participants_count: 1
                  expected_close_date: '2019-06-29'
                  last_incoming_mail_time: '2019-05-29 18:21:42'
                  last_outgoing_mail_time: '2019-05-30 03:45:35'
                  label: '11'
                  stage_order_nr: 2
                  person_name: Person
                  org_name: Organization
                  next_activity_subject: Call
                  next_activity_type: call
                  next_activity_duration: '00:30:00'
                  next_activity_note: Note content
                  formatted_value: €5,000
                  weighted_value: 5000
                  formatted_weighted_value: €5,000
                  weighted_value_currency: EUR
                  rotten_time: null
                  owner_name: Creator
                  cc_email: company+deal1@pipedrivemail.com
                  org_hidden: false
                  person_hidden: false
                related_objects:
                  user:
                    '8877':
                      id: 8877
                      name: Creator
                      email: john.doe@pipedrive.com
                      has_pic: false
                      pic_hash: null
                      active_flag: true
                  organization:
                    '2':
                      id: 2
                      name: Organization
                      people_count: 2
                      owner_id: 8877
                      address: Mustamäe tee 3a, 10615 Tallinn
                      active_flag: true
                      cc_email: org@pipedrivemail.com
                  person:
                    '1101':
                      active_flag: true
                      id: 1101
                      name: Person
                      email:
                        - label: work
                          value: person@pipedrive.com
                          primary: true
                      phone:
                        - label: work
                          value: '3421787767'
                          primary: true
                      owner_id: 8877
                  stage:
                    '2':
                      id: 2
                      company_id: 123
                      order_nr: 1
                      name: Stage Name
                      active_flag: true
                      deal_probability: 100
                      pipeline_id: 1
                      rotten_flag: false
                      rotten_days: null
                      add_time: '2015-12-08 13:54:06'
[...]
