openapi: 3.0.0
info:
  title: Workflows
  description: >-
    A few years back, Eric (Co-Founder and CEO) got a frustrated call from his
    dad. His dad's tire shop had plenty of happy customers, but only a handful
    of angry ones were leaving reviews. So we built a product that made getting
    more reviews as easy as sending a text.


    Launching in 2014, we set out to solve the same problem for local businesses
    everywhere, but we realized that messaging with customers wasn't just the
    better way to get reviews—it's the better way to do business. We've since
    built a multi-product platform that's modernizing the way local business
    gets done.


    We are here to provide local businesses with everything they need to win.
    Get more reviews, collect payments, send text marketing campaigns, and
    centralize your communications—all from one easy-to-use platform.


    #Podium #PodiumLove #LocalBusiness #TheFutureIsLocal
  version: 2021.04.01
  x-konfig-ignore:
    object-with-no-properties: true
    potential-incorrect-type: true
servers:
  - url: https://api.podium.com
    variables: {}
tags:
  - name: Contact
  - name: Campaign
  - name: Message
  - name: Contact Attribute
  - name: Conversation
  - name: Invoice
  - name: Webhook
  - name: Contact Tag
  - name: Template
  - name: Location
  - name: Review Invite
  - name: Review Response
  - name: User
  - name: Feedback
  - name: Refund
  - name: Review
  - name: Review Attribution
  - name: Organization
  - name: Appointment
  - name: Campaign Interaction
  - name: Payment
  - name: Reader
  - name: Review Sites Summary
  - name: Review Summary
  - name: Data Feed Event
  - name: Data Stream
paths:
  /v4/locations:
    get:
      tags:
        - Location
      summary: List all locations.
      operationId: Location_listAllLocations
      description: >-
        List of all the locations that the caller has access to.


        If the `cursor` parameter is used then all other parameters will be
        ignored. This is to avoid confusion if passing both a `cursor` and other
        parameters which would change what data is being returned.


        Required scope: `read_locations`.
      parameters:
        - description: String you would like to search for in the `searchFields` parameter.
          in: query
          name: search
          required: false
          schema:
            type: string
        - description: >-
            A list of the fields where you want to search for the `search`
            parameters. e.g. ?searchFields[]=name&searchFields[]=displayname
          in: query
          name: searchFields
          required: false
          schema:
            default:
              - name
            items:
              enum:
                - address
                - displayName
                - name
                - podiumPhoneNumber
              type: string
            type: array
        - description: Max number of items to return per request. Defaults to `10`.
          in: query
          name: limit
          required: false
          schema:
            default: 10
            example: 10
            maximum: 100
            minimum: 0
            type: integer
        - description: Retrieves the page of items that comes after the `cursor`.
          in: query
          name: cursor
          required: false
          schema:
            description: Cursor used to access next or previous page in pagination.
            example: MDAwMDAwMDAtMDAwMC0wMDAwLTAwMDAtMDAwMDAwMDAwMDAw
            type: string
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationListAllLocations200Response'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationListAllLocationsResponse'
      callbacks: {}
  /v4/locations/{uid}:
    get:
      tags:
        - Location
      summary: Get a location.
      operationId: Location_getByUid
      description: |-
        Gets a single location by its uid.

        Required scope: `read_locations`.
      parameters:
        - description: Podium unique identifier for location.
          in: path
          name: uid
          required: true
          schema:
            example: 00000000-0000-0000-0000-000000000000
            format: uuid
            type: string
            x-validate: Elixir.KumeteApi.Schema.Common.UUID
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationGetByUid200Response'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationGetByUidResponse'
      callbacks: {}
    patch:
      tags:
        - Location
      summary: Update a location.
      operationId: Location_updateByUid
      description: >
        Update a single location by its uid. 


        Required scope: `write_locations`.


        Be aware: The `addressDetails` property follows the ISO convention. You
        might see errors


        if trying to update a location's address with an invalid address.
      parameters:
        - description: Podium unique identifier for location.
          in: path
          name: uid
          required: true
          schema:
            example: 00000000-0000-0000-0000-000000000000
            format: uuid
            type: string
            x-validate: Elixir.KumeteApi.Schema.Common.UUID
      requestBody:
        description: Update location params
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LocationUpdateByUidRequest'
        required: false
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationUpdateByUid200Response'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationUpdateByUidResponse'
      callbacks: {}
  /v4/organizations/{uid}:
    get:
      tags:
        - Organization
      summary: Get an organization.
      operationId: Organization_getByUid
      description: |-
        Gets a single organization by its uid.

        Required scope: `read_organizations`.
      parameters:
        - description: Podium unique identifier for organization.
          in: path
          name: uid
          required: true
          schema:
            example: 00000000-0000-0000-0000-000000000000
            format: uuid
            type: string
            x-validate: Elixir.KumeteApi.Schema.Common.UUID
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationGetByUid200Response'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationGetByUidResponse'
      callbacks: {}
  /v4/users:
    get:
      tags:
        - User
      summary: List all users.
      operationId: User_listAllUsers
      description: >
        List of all the users that belong to any of the locations that the
        caller has access to.


        If the `cursor` parameter is used then all other parameters will be
        ignored. This is to avoid confusion if passing both a `cursor` and other
        parameters which would change what data is being returned.


        Required scope: `read_users`.
      parameters:
        - description: String you would like to search for in the `searchFields` parameter.
          in: query
          name: search
          required: false
          schema:
            type: string
        - description: Filter on the `createdAt` date.
          in: query
          name: createdAt
          required: false
          schema:
            properties:
              gt:
                description: Greater than filter.
                example: '2015-01-23T23:50:07Z'
                format: date-time
                type: string
              gte:
                description: Greater than or equal to filter.
                example: '2015-01-23T23:50:07Z'
                format: date-time
                type: string
              lt:
                description: Less than filter.
                example: '2015-01-23T23:50:07Z'
                format: date-time
                type: string
              lte:
                description: Less than or equal to filter.
                example: '2015-01-23T23:50:07Z'
                format: date-time
                type: string
            type: object
          style: deepObject
        - description: >-
            A list of the fields where you want to search for the `search`
            parameters. e.g. ?searchFields[]=name&searchFields[]=displayname
          in: query
          name: searchFields
          required: false
          schema:
            default:
              - fullName
            items:
              enum:
                - address
                - phone
                - fullName
              type: string
            type: array
        - description: Max number of items to return per request. Defaults to `10`.
          in: query
          name: limit
          required: false
          schema:
            default: 10
            example: 10
            maximum: 100
            minimum: 0
            type: integer
        - description: Retrieves the page of items that comes after the `cursor`.
          in: query
          name: cursor
          required: false
          schema:
            description: Cursor used to access next or previous page in pagination.
            example: MDAwMDAwMDAtMDAwMC0wMDAwLTAwMDAtMDAwMDAwMDAwMDAw
            type: string
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserListAllUsers200Response'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserListAllUsersResponse'
      callbacks: {}
  /v4/users/{uid}:
    get:
      tags:
        - User
      summary: Get a user.
      operationId: User_getDetails
      description: |-
        Gets a user.

        Required scope: `read_users`.
      parameters:
        - description: Podium unique identifier for user.
          in: path
          name: uid
          required: true
          schema:
            example: 00000000-0000-0000-0000-000000000000
            format: uuid
            type: string
            x-validate: Elixir.KumeteApi.Schema.Common.UUID
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserGetDetails200Response'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserGetDetailsResponse'
      callbacks: {}
  /v4/appointments:
    post:
      tags:
        - Appointment
      summary: Create an appointment.
      operationId: Appointment_createNewAppointment
      description: |-
        Create an appointment.

        Required scope: `write_appointments`.
      parameters: []
      requestBody:
        description: Create appointment params
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppointmentCreateNewAppointmentRequest'
        required: true
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/AppointmentCreateNewAppointment200Response
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppointmentCreateNewAppointmentResponse'
      callbacks: {}
  /v4/campaign_interactions:
    get:
      tags:
        - Campaign Interaction
      summary: List campaign interactions
      operationId: CampaignInteraction_listInteractions
      description: >
        List the campaign interactions that the caller has access to.


        If the `cursor` parameter is used then all other parameters will be
        ignored. This is to avoid confusion if passing both a `cursor` and other
        parameters which would change what data is being returned.


        Interactions can be filtered by type, uid of the associated resource, or
        timestamp.


        Required scope: `read_campaigns`.
      parameters:
        - description: ''
          in: query
          name: campaignUid
          required: false
          schema:
            description: Campaign UUID
            example: 00000000-0000-0000-0000-000000000000
            format: uuid
            type: string
            x-validate: Elixir.KumeteApi.Schema.Common.UUID
        - description: ''
          in: query
          name: contactUid
          required: false
          schema:
            description: Contact UUID
            example: 00000000-0000-0000-0000-000000000000
            format: uuid
            type: string
            x-validate: Elixir.KumeteApi.Schema.Common.UUID
        - description: ''
          in: query
          name: cursor
          required: false
          schema:
            description: Cursor used to access next or previous page in pagination.
            example: MDAwMDAwMDAtMDAwMC0wMDAwLTAwMDAtMDAwMDAwMDAwMDAw
            type: string
        - description: The type of interaction this record represents
          in: query
          name: interactionType
          required: false
          schema:
            items:
              enum:
                - sent
                - queued
                - failed
                - feedback_left
                - link_clicked
                - opt_out
                - payment_made
                - response
                - review_left
                - resubscribe
              type: string
            type: array
        - description: Max number of items to return per request. Defaults to `10`.
          in: query
          name: limit
          required: false
          schema:
            default: 10
            example: 10
            maximum: 100
            minimum: 0
            type: integer
        - description: ''
          in: query
          name: locationUid
          required: false
          schema:
            description: Location UUID
            example: 00000000-0000-0000-0000-000000000000
            format: uuid
            type: string
            x-validate: Elixir.KumeteApi.Schema.Common.UUID
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/CampaignInteractionListInteractions200Response
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/CampaignInteractionListInteractionsResponse
      callbacks: {}
  /v4/campaigns:
    get:
      tags:
        - Campaign
      summary: List all campaigns.
      operationId: Campaign_listAll
      description: >-
        List of all the campaigns that the caller has access to. The campaigns
        are sorted by the `updatedAt` date, in descending order


        Campaigns can be filtered by their status using the `status` query
        parameter


        Required scope: `read_campaigns`.
      parameters:
        - description: Status of the campaign
          in: query
          name: status
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignListAll200Response'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignListAllResponse'
      callbacks: {}
    post:
      tags:
        - Campaign
      summary: Create a campaign.
      operationId: Campaign_createNewCampaign
      description: |-
        Create a campaign.

        Required scope: `write_campaigns`.
      parameters: []
      requestBody:
        description: Create campaign params
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CampaignCreateNewCampaignRequest'
        required: true
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignCreateNewCampaign200Response'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignCreateNewCampaignResponse'
      callbacks: {}
  /v4/campaigns/{uid}:
    delete:
      tags:
        - Campaign
      summary: Delete a campaign.
      operationId: Campaign_removeCampaign
      description: |-
        Delete an existing campaign.

        Required scope: `write_campaigns`.
      parameters:
        - description: UID of the campaign
          in: path
          name: uid
          required: true
          schema:
            example: 00000000-0000-0000-0000-000000000000
            format: uuid
            type: string
            x-validate: Elixir.KumeteApi.Schema.Common.UUID
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignRemoveCampaign200Response'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignRemoveCampaignResponse'
      callbacks: {}
    get:
      tags:
        - Campaign
      summary: Get a campaign.
      operationId: Campaign_getByUid
      description: |-
        Get a single campaign for the given uid. 


                Required scope: `read_campaigns`.
      parameters:
        - description: UID of the campaign
          in: path
          name: uid
          required: true
          schema:
            example: 00000000-0000-0000-0000-000000000000
            format: uuid
            type: string
            x-validate: Elixir.KumeteApi.Schema.Common.UUID
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignGetByUid200Response'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignGetByUidResponse'
      callbacks: {}
    put:
      tags:
        - Campaign
      summary: Update a campaign.
      operationId: Campaign_updateCampaign
      description: |-
        update a campaign.

        Required scope: `write_campaigns`.
      parameters:
        - description: Podium unique identifier for a campaign.
          in: path
          name: uid
          required: true
          schema:
            example: 00000000-0000-0000-0000-000000000000
            format: uuid
            type: string
            x-validate: Elixir.KumeteApi.Schema.Common.UUID
      requestBody:
        description: Update campaign params
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CampaignUpdateCampaignRequest'
        required: true
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignUpdateCampaign200Response'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignUpdateCampaignResponse'
      callbacks: {}
  /v4/campaigns/{uid}/messages:
    post:
      tags:
        - Message
      summary: Create a message for a given campaign
      operationId: Message_createForCampaign
      description: |-
        Send a message through a campaign.

        Required scope: `write_campaign_messages`.
      parameters:
        - description: Podium unique identifier for campaign.
          in: path
          name: uid
          required: true
          schema:
            example: 00000000-0000-0000-0000-000000000000
            format: uuid
            type: string
            x-validate: Elixir.KumeteApi.Schema.Common.UUID
      requestBody:
        description: Create campaign message body params
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessageCreateForCampaignRequest'
        required: true
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageCreateForCampaign200Response'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageCreateForCampaignResponse'
      callbacks: {}
  /v4/contact_attributes:
    get:
      tags:
        - Contact Attribute
      summary: List contact attributes
      operationId: ContactAttribute_listAttributes
      description: |
        List contact attributes that are tied to the ownerResource on the token.

        Required scope: `read_contacts`.
      parameters: []
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactAttributeListAttributes200Response'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactAttributeListAttributesResponse'
      callbacks: {}
    post:
      tags:
        - Contact Attribute
      summary: Create a contact attribute
      operationId: ContactAttribute_createNewAttribute
      description: >
        Create an application or organization level attribute to be used on
        contacts.


        Required scope: `write_contacts`.
      parameters: []
      requestBody:
        description: Create contact attribute params
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactAttributeCreateNewAttributeRequest'
        required: true
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ContactAttributeCreateNewAttribute200Response
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ContactAttributeCreateNewAttributeResponse
      callbacks: {}
  /v4/contact_attributes/{uid}:
    delete:
      tags:
        - Contact Attribute
      summary: Delete a contact attribute
      operationId: ContactAttribute_deleteByUid
      description: |-
        Delete a contact attribute with its uid.

        Required scope: `write_contacts`.
      parameters:
        - description: Podium unique identifier for attribute.
          in: path
          name: uid
          required: true
          schema:
            example: 00000000-0000-0000-0000-000000000000
            format: uuid
            type: string
            x-validate: Elixir.KumeteApi.Schema.Common.UUID
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactAttributeDeleteByUid200Response'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactAttributeDeleteByUidResponse'
      callbacks: {}
    get:
      tags:
        - Contact Attribute
      summary: Gets a contact attribute by uid
      operationId: ContactAttribute_getAttributeByUid
      description: >
        Gets an application or organization level attribute by its uid, to be
        used on contacts.


        Required scope: `read_contacts`.
      parameters:
        - description: Contacts attribute uid
          in: path
          name: uid
          required: true
          schema:
            example: 00000000-0000-0000-0000-000000000000
            format: uuid
            type: string
            x-validate: Elixir.KumeteApi.Schema.Common.UUID
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ContactAttributeGetAttributeByUid200Response
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactAttributeGetAttributeByUidResponse'
      callbacks: {}
    patch:
      tags:
        - Contact Attribute
      summary: Update a contact attribute
      operationId: ContactAttribute_updateAttribute
      description: >
        Update an application or organization level attribute to be used on
        contacts.


        Required scope: `write_contacts`.
      parameters:
        - description: Podium unique identifier for attribute.
          in: path
          name: uid
          required: true
          schema:
            example: 00000000-0000-0000-0000-000000000000
            format: uuid
            type: string
            x-validate: Elixir.KumeteApi.Schema.Common.UUID
      requestBody:
        description: Update contact attribute params
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactAttributeUpdateAttributeRequest'
        required: false
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ContactAttributeUpdateAttribute200Response
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactAttributeUpdateAttributeResponse'
      callbacks: {}
  /v4/contact_tags:
    get:
      tags:
        - Contact Tag
      summary: List all tags for the organization
      operationId: ContactTag_listAll
      description: |
        List all tags for the organization.

        Required scope: `read_contacts`.
      parameters: []
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactTagListAll200Response'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactTagListAllResponse'
      callbacks: {}
    post:
      tags:
        - Contact Tag
      summary: Create a contact tag for an organization
      operationId: ContactTag_createOrganizationLevelTag
      description: |
        Create an organization level tag for a contact.

        Required scope: `write_contacts`.
      parameters: []
      requestBody:
        description: Create contact tag params
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactTagCreateOrganizationLevelTagRequest'
        required: true
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ContactTagCreateOrganizationLevelTag200Response
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ContactTagCreateOrganizationLevelTagResponse
      callbacks: {}
  /v4/contact_tags/{uid}:
    get:
      tags:
        - Contact Tag
      summary: Get a contact tag for an organization given an uid
      operationId: ContactTag_getByUid
      description: |
        Get a organization level tag given the provided uid.

        Required scope: `read_contacts`.
      parameters:
        - description: Contacts tags uid
          in: path
          name: uid
          required: true
          schema:
            example: 00000000-0000-0000-0000-000000000000
            format: uuid
            type: string
            x-validate: Elixir.KumeteApi.Schema.Common.UUID
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactTagGetByUid200Response'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactTagGetByUidResponse'
      callbacks: {}
    patch:
      tags:
        - Contact Tag
      summary: Update a contact tag
      operationId: ContactTag_updateOrganizationLevelTag
      description: |
        Update an organization level tag to be used on contacts.

        Required scope: `write_contacts`.
      parameters:
        - description: Podium unique identifier for tag.
          in: path
          name: uid
          required: true
          schema:
            example: 00000000-0000-0000-0000-000000000000
            format: uuid
            type: string
            x-validate: Elixir.KumeteApi.Schema.Common.UUID
      requestBody:
        description: Update contact tag params
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactTagUpdateOrganizationLevelTagRequest'
        required: false
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ContactTagUpdateOrganizationLevelTag200Response
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ContactTagUpdateOrganizationLevelTagResponse
      callbacks: {}
  /v4/contacts:
    get:
      tags:
        - Contact
      summary: List all contacts
      operationId: Contact_listAllContacts
      description: |-
        List all contacts.

        Required scope: `read_contacts`.
      parameters:
        - description: Retrieves the page of items that comes after the `cursor`.
          in: query
          name: cursor
          required: false
          schema:
            description: Cursor used to access next or previous page in pagination.
            example: MDAwMDAwMDAtMDAwMC0wMDAwLTAwMDAtMDAwMDAwMDAwMDAw
            type: string
        - description: Max number of items to return per request. Defaults to `10`.
          in: query
          name: limit
          required: false
          schema:
            default: 10
            example: 10
            maximum: 100
            minimum: 0
            type: integer
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactListAllContacts200Response'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactListAllContactsResponse'
      callbacks: {}
    post:
      tags:
        - Contact
      summary: Create a contact
      operationId: Contact_createOrUpdate
      description: >
        Create a contact. If a contact with the same phone number, email, or
        conversation uid is found it will update the contact.


        Required scope: `write_contacts`.
      parameters: []
      requestBody:
        description: Create contact params
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactCreateOrUpdateRequest'
        required: true
      responses:
        '202':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactCreateOrUpdate202Response'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactCreateOrUpdateResponse'
      callbacks: {}
  /v4/contacts/campaigns/opt_in:
    post:
      tags:
        - Contact
      summary: Opt in a contact
      operationId: Contact_optInContact
      description: |-
        Opt in a contact into receiving campaign messages.
                 Note: this endpoint requires your application to be whitelisted.
                  Please contact our support team to get your application whitelisted.

        Required scope: write_contacts
      parameters: []
      requestBody:
        description: Contact campaign opt in params
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactOptInContactRequest'
        required: false
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactOptInContact200Response'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactOptInContactResponse'
      callbacks: {}
  /v4/contacts/campaigns/opt_out:
    post:
      tags:
        - Contact
      summary: Opt out a contact
      operationId: Contact_optOutContact
      description: |-
        Opt out a contact from receiving campaign messages.
                 Note: this endpoint requires your application to be whitelisted.
                  Please contact our support team to get your application whitelisted.

        Required scope: write_contacts
      parameters: []
      requestBody:
        description: Contact campaign opt out params
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactOptOutContactRequest'
        required: false
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactOptOutContact200Response'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactOptOutContactResponse'
      callbacks: {}
  /v4/contacts/{identifier}:
    delete:
      tags:
        - Contact
      summary: Delete a contact
      operationId: Contact_deleteByIdentifier
      description: |-
        Delete a contact with a conversation uid, email, or phone number.

        Required scope: `write_contacts`.
      parameters:
        - description: >-
            Conversation uid, phone number, or email to identify the contact.
            Phone number should be formatted as '+15555555555'
          in: path
          name: identifier
          required: true
          schema:
            type: string
      responses:
        '202':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactDeleteByIdentifier202Response'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactDeleteByIdentifierResponse'
      callbacks: {}
    get:
      tags:
        - Contact
      summary: Retrieve a contact
      operationId: Contact_getByIdentifier
      description: |-
        Get a contact with a conversation uid, email, or phone number.

        Required scope: `read_contacts`.
      parameters:
        - description: >-
            Conversation uid, phone number, or email to identify the contact.
            Phone number should be formatted as '+15555555555'
          in: path
          name: identifier
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactGetByIdentifier200Response'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactGetByIdentifierResponse'
      callbacks: {}
    patch:
      tags:
        - Contact
      summary: Update a contact
      operationId: Contact_updateWithUid
      description: >-
        Update a contact with using a conversation uid, email, or phone number
        as an identifier.


        Required scope: `write_contacts`.
      parameters:
        - description: >-
            Conversation uid, phone number, or email to identify the contact.
            Phone number should be formatted as '+15555555555'
          in: path
          name: identifier
          required: true
          schema:
            type: string
      requestBody:
        description: Update contact params
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactUpdateWithUidRequest'
        required: false
      responses:
        '202':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactUpdateWithUid202Response'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactUpdateWithUidResponse'
      callbacks: {}
  /v4/contacts/{identifier}/attributes/{uid}:
    delete:
      tags:
        - Contact
      summary: Remove an attribute from a contact
      operationId: Contact_removeAttribute
      description: |
        Remove an attribute from a contact.

        Required scope: `write_contacts`.
      parameters:
        - description: Contact identifier
          example: john.doe@podium.com
          in: path
          name: identifier
          required: true
          schema:
            type: string
        - description: Podium unique identifier for attribute.
          in: path
          name: uid
          required: true
          schema:
            example: 00000000-0000-0000-0000-000000000000
            format: uuid
            type: string
            x-validate: Elixir.KumeteApi.Schema.Common.UUID
      responses:
        '202':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactRemoveAttribute202Response'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactRemoveAttributeResponse'
      callbacks: {}
    patch:
      tags:
        - Contact
      summary: Update a contact attribute inside a contact
      operationId: Contact_updateAttribute
      description: |
        Update the value of an existing attribute inside an existing contact.

        Required scope: `write_contacts`.
      parameters:
        - description: Contact identifier
          example: john.doe@podium.com
          in: path
          name: identifier
          required: true
          schema:
            type: string
        - description: Podium unique identifier for attribute.
          in: path
          name: uid
          required: true
          schema:
            example: 00000000-0000-0000-0000-000000000000
            format: uuid
            type: string
            x-validate: Elixir.KumeteApi.Schema.Common.UUID
      requestBody:
        description: Update an attribute params
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactUpdateAttributeRequest'
        required: true
      responses:
        '202':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactUpdateAttribute202Response'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactUpdateAttributeResponse'
      callbacks: {}
    post:
      tags:
        - Contact
      summary: Add a contact attribute to a contact
      operationId: Contact_addAttributeToContact
      description: |
        Add an existing attribute to an existing contact.

        Required scope: `write_contacts`.
      parameters:
        - description: Contact identifier
          example: john.doe@podium.com
          in: path
          name: identifier
          required: true
          schema:
            type: string
        - description: Podium unique identifier for attribute.
          in: path
          name: uid
          required: true
          schema:
            example: 00000000-0000-0000-0000-000000000000
            format: uuid
            type: string
            x-validate: Elixir.KumeteApi.Schema.Common.UUID
      requestBody:
        description: Add an attribute params
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactAddAttributeToContactRequest'
        required: true
      responses:
        '202':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactAddAttributeToContact202Response'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactAddAttributeToContactResponse'
      callbacks: {}
  /v4/contacts/{identifier}/tags/{uid}:
    delete:
      tags:
        - Contact
      summary: Remove an existing tag from an existing contact
      operationId: Contact_removeTag
      description: |
        Remove an existing tag from an existing contact.

        Required scope: `write_contacts`.
      parameters:
        - description: Contact identifier
          example: john.doe@podium.com
          in: path
          name: identifier
          required: true
          schema:
            type: string
        - description: Podium unique identifier for tag.
          in: path
          name: uid
          required: true
          schema:
            example: 00000000-0000-0000-0000-000000000000
            format: uuid
            type: string
            x-validate: Elixir.KumeteApi.Schema.Common.UUID
      responses:
        '202':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactRemoveTag202Response'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactRemoveTagResponse'
      callbacks: {}
    post:
      tags:
        - Contact
      summary: Add an existing tag to an existing contact
      operationId: Contact_addExistingTagToContact
      description: |
        Add an existing tag to an existing contact.

        Required scope: `write_contacts`.
      parameters:
        - description: Contact identifier
          example: john.doe@podium.com
          in: path
          name: identifier
          required: true
          schema:
            type: string
        - description: Podium unique identifier for tag.
          in: path
          name: uid
          required: true
          schema:
            example: 00000000-0000-0000-0000-000000000000
            format: uuid
            type: string
            x-validate: Elixir.KumeteApi.Schema.Common.UUID
      responses:
        '202':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactAddExistingTagToContact202Response'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactAddExistingTagToContactResponse'
      callbacks: {}
  /v4/conversations:
    get:
      tags:
        - Conversation
      summary: List conversations.
      operationId: Conversation_listConversations
      description: >-
        List all conversations. 


        If the `cursor` parameter is used then all other parameters will be
        ignored. This is to avoid confusion if passing both a `cursor` and other
        parameters which would change what data is being returned.


        Required scope: `read_messages`.
      parameters:
        - description: Retrieves the page of items that comes after the `cursor`.
          in: query
          name: cursor
          required: false
          schema:
            description: Cursor used to access next or previous page in pagination.
            example: MDAwMDAwMDAtMDAwMC0wMDAwLTAwMDAtMDAwMDAwMDAwMDAw
            type: string
        - description: Max number of items to return per request. Defaults to `10`.
          in: query
          name: limit
          required: false
          schema:
            default: 10
            example: 10
            maximum: 100
            minimum: 0
            type: integer
        - description: Podium unique identifier for location.
          in: query
          name: locationUid
          required: false
          schema:
            example: 00000000-0000-0000-0000-000000000000
            format: uuid
            type: string
            x-validate: Elixir.KumeteApi.Schema.Common.UUID
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationListConversations200Response'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationListConversationsResponse'
      callbacks: {}
  /v4/conversations/{uid}:
    get:
      tags:
        - Conversation
      summary: Get a conversation.
      operationId: Conversation_getById
      description: |-
        Gets a conversation that has previously been created.

        Required scope: `read_messages`.
      parameters:
        - description: Podium unique identifier for conversation.
          in: path
          name: uid
          required: true
          schema:
            example: 00000000-0000-0000-0000-000000000000
            format: uuid
            type: string
            x-validate: Elixir.KumeteApi.Schema.Common.UUID
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationGetById200Response'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationGetByIdResponse'
      callbacks: {}
    put:
      tags:
        - Conversation
      summary: Update a conversation.
      operationId: Conversation_updateByUid
      description: |-
        Update a conversation.

        Required scope: `write_messages`.
      parameters:
        - description: Podium unique identifier for conversation.
          in: path
          name: uid
          required: true
          schema:
            example: 00000000-0000-0000-0000-000000000000
            format: uuid
            type: string
            x-validate: Elixir.KumeteApi.Schema.Common.UUID
      requestBody:
        description: Update conversation params
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConversationUpdateByUidRequest'
        required: false
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationUpdateByUid200Response'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationUpdateByUidResponse'
      callbacks: {}
  /v4/conversations/{uid}/lead_writeback:
    post:
      tags:
        - Conversation
      summary: Writeback lead
      operationId: Conversation_writeLead
      description: |-
        Writeback lead to the connected CRM.

        Required scope: `write_writebacks`.
      parameters:
        - description: Conversation uid of the lead.
          in: path
          name: uid
          required: true
          schema:
            example: 00000000-0000-0000-0000-000000000000
            format: uuid
            type: string
            x-validate: Elixir.KumeteApi.Schema.Common.UUID
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationWriteLead200Response'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationWriteLeadResponse'
      callbacks: {}
  /v4/conversations/{uid}/notes:
    post:
      tags:
        - Conversation
      summary: Create a note for given conversation.
      operationId: Conversation_createNote
      description: |-
        Creates a note for the given conversation.

        Required scope: `write_messages`.
      parameters:
        - description: Podium unique identifier for conversation.
          in: path
          name: uid
          required: true
          schema:
            example: 00000000-0000-0000-0000-000000000000
            format: uuid
            type: string
            x-validate: Elixir.KumeteApi.Schema.Common.UUID
      requestBody:
        description: Create conversation note body params
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConversationCreateNoteRequest'
        required: true
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationCreateNote200Response'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationCreateNoteResponse'
      callbacks: {}
  /v4/feedback:
    get:
      tags:
        - Feedback
      summary: List all feedback surveys.
      operationId: Feedback_listSurveys
      description: >-
        List of all the feedback surveys that the caller has access to. The
        surveys are sorted by `createdAt` date, with the most recent appearing
        first.


        If the `cursor` parameter is used then all other parameters will be
        ignored. This is to avoid confusion if passing both a `cursor` and other
        parameters which would change what data is being returned.


        Required scope: `read_feedback`.
      parameters:
        - description: Filter on the `createdAt` date.
          in: query
          name: createdAt
          required: false
          schema:
            properties:
              gt:
                description: Greater than filter.
                example: '2015-01-23T23:50:07Z'
                format: date-time
                type: string
              gte:
                description: Greater than or equal to filter.
                example: '2015-01-23T23:50:07Z'
                format: date-time
                type: string
              lt:
                description: Less than filter.
                example: '2015-01-23T23:50:07Z'
                format: date-time
                type: string
              lte:
                description: Less than or equal to filter.
                example: '2015-01-23T23:50:07Z'
                format: date-time
                type: string
            type: object
          style: deepObject
        - description: Max number of items to return per request. Defaults to `10`.
          in: query
          name: limit
          required: false
          schema:
            default: 10
            example: 10
            maximum: 100
            minimum: 0
            type: integer
        - description: Retrieves the page of items that comes after the `cursor`.
          in: query
          name: cursor
          required: false
          schema:
            description: Cursor used to access next or previous page in pagination.
            example: MDAwMDAwMDAtMDAwMC0wMDAwLTAwMDAtMDAwMDAwMDAwMDAw
            type: string
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedbackListSurveys200Response'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedbackListSurveysResponse'
      callbacks: {}
    post:
      tags:
        - Feedback
      summary: Create a feedback survey.
      operationId: Feedback_createSurvey
      description: >-
        Create a feedback survey. The survey is created asynchronously, so only
        the UID is returned.


        Required scope: `write_feedback`.
      parameters: []
      requestBody:
        description: Create feedback survey params
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FeedbackCreateSurveyRequest'
        required: true
      responses:
        '202':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedbackCreateSurvey202Response'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedbackCreateSurveyResponse'
      callbacks: {}
  /v4/conversations/{conversation_uid}/messages/{uid}:
    get:
      tags:
        - Message
      summary: Retreive a message from a conversation
      operationId: Message_getFromConversation
      description: |-
        Retrieve a message from a conversation.

        Required scope: `read_messages`.
      parameters:
        - description: Podium unique identifier for message.
          in: path
          name: uid
          required: true
          schema:
            example: 00000000-0000-0000-0000-000000000000
            format: uuid
            type: string
            x-validate: Elixir.KumeteApi.Schema.Common.UUID
        - description: Podium unique identifier for conversation.
          in: path
          name: conversation_uid
          required: true
          schema:
            example: 00000000-0000-0000-0000-000000000000
            format: uuid
            type: string
            x-validate: Elixir.KumeteApi.Schema.Common.UUID
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageGetFromConversation200Response'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageGetFromConversationResponse'
      callbacks: {}
  /v4/import/messages:
    post:
      tags:
        - Message
      summary: Import a message.
      operationId: Message_importFromExternalSystem
      description: >
        Import a message from a different system. NOTE: This does not send a
        message to number, just imports it into a conversation on Podium's
        system.


        Required scope: `write_messages`.
      parameters: []
      requestBody:
        description: Import message body params
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessageImportFromExternalSystemRequest'
        required: true
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/MessageImportFromExternalSystem200Response
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageImportFromExternalSystemResponse'
      callbacks: {}
  /v4/messages:
    post:
      tags:
        - Message
      summary: Send a message.
      operationId: Message_sendWithAttachment
      description: >
        Send a message. A message can only be sent on behalf of a user if they
        have the necessary permissions to send

        messages in: conversations assigned to them, conversations assigned to
        others, and unassigned conversations.


        Required scope: `write_messages`.
      parameters: []
      requestBody:
        description: Create message body params
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessageSendWithAttachmentRequest'
        required: true
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageSendWithAttachment200Response'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageSendWithAttachmentResponse'
      callbacks: {}
  /v4/messages/attachment:
    post:
      tags:
        - Message
      summary: Send a message with attachment.
      operationId: Message_sendWithAttachment
      description: >
        Send a message with an attachment. A message can only be sent on behalf
        of a user if they have the necessary permissions to send

        messages in: conversations assigned to them, conversations assigned to
        others, and unassigned conversations.


        Required scope: `write_messages`.
      parameters: []
      requestBody:
        description: Create message with attachment body params
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/MessageSendWithAttachmentRequest1'
        required: true
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageSendWithAttachment200Response'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageSendWithAttachmentdefaultResponse'
      callbacks: {}
  /v4/templates:
    get:
      tags:
        - Template
      summary: List all templates
      operationId: Template_listAllTemplates
      description: |-
        List all templates.

        Required scope: `read_templates`.
      parameters:
        - description: >
            Filter by types: "custom", "review_invite", or
            "review_invite_backup", defaults to "custom"
          in: query
          name: types
          required: false
          schema:
            items:
              enum:
                - custom
                - review_invite
                - review_invite_backup
              type: string
            type: array
        - description: Podium unique identifier for location.
          in: query
          name: locationUid
          required: false
          schema:
            example: 00000000-0000-0000-0000-000000000000
            format: uuid
            type: string
            x-validate: Elixir.KumeteApi.Schema.Common.UUID
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateListAllTemplates200Response'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateListAllTemplatesResponse'
      callbacks: {}
    post:
      tags:
        - Template
      summary: Create a message template.
      operationId: Template_createMessageTemplate
      description: |
        Create a message template.

        Required scope: `write_templates`.
      parameters: []
      requestBody:
        description: Create template params
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplateCreateMessageTemplateRequest'
        required: true
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateCreateMessageTemplate200Response'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateCreateMessageTemplateResponse'
      callbacks: {}
  /v4/templates/{uid}:
    delete:
      tags:
        - Template
      summary: Delete a template
      operationId: Template_removeByUid
      description: |-
        Deletes a template by the given uid. 

        Required scope: `write_templates`
      parameters:
        - description: Podium unique identifier for templates.
          in: path
          name: uid
          required: true
          schema:
            example: 00000000-0000-0000-0000-000000000000
            format: uuid
            type: string
            x-validate: Elixir.KumeteApi.Schema.Common.UUID
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateRemoveByUid200Response'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateRemoveByUidResponse'
      callbacks: {}
    put:
      tags:
        - Template
      summary: Update a message template.
      operationId: Template_updateMessageTemplate
      description: |
        update a message template.

        Required scope: `write_templates`.
      parameters:
        - description: Template uid
          in: path
          name: uid
          required: true
          schema:
            example: 00000000-0000-0000-0000-000000000000
            format: uuid
            type: string
            x-validate: Elixir.KumeteApi.Schema.Common.UUID
      requestBody:
        description: Update template params
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplateUpdateMessageTemplateRequest'
        required: true
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateUpdateMessageTemplate200Response'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateUpdateMessageTemplateResponse'
      callbacks: {}
  /v4/invoices:
    get:
      tags:
        - Invoice
      summary: Get all invoices.
      operationId: Invoice_listAllInvoices
      description: |-
        List of all invoices that match the query parameters.

        Required scope: `read_payments`.
      parameters:
        - description: Podium unique identifier for location.
          in: query
          name: locationUid
          required: false
          schema:
            example: 00000000-0000-0000-0000-000000000000
            format: uuid
            type: string
            x-validate: Elixir.KumeteApi.Schema.Common.UUID
        - description: >-
            Return invoices with a payment whose `createdAt` is greater or equal
            to this date.
          in: query
          name: datePaid
          required: false
          schema:
            description: Date time in Coordinated Universal Time (UTC).
            example: '2015-01-23T23:50:07Z'
            format: date-time
            type: string
        - description: >-
            Return invoices with a refund whose `createdAt` is greater or equal
            to this date.
          in: query
          name: dateRefunded
          required: false
          schema:
            description: Date time in Coordinated Universal Time (UTC).
            example: '2015-01-23T23:50:07Z'
            format: date-time
            type: string
        - description: Return invoices whose `createdAt` is greater or equal to this date.
          in: query
          name: dateCreated
          required: false
          schema:
            description: Date time in Coordinated Universal Time (UTC).
            example: '2015-01-23T23:50:07Z'
            format: date-time
            type: string
        - description: Max number of items to return per request. Defaults to `10`.
          in: query
          name: limit
          required: false
          schema:
            default: 10
            example: 10
            maximum: 100
            minimum: 0
            type: integer
        - description: Retrieves the page of items that comes after or before the `cursor`.
          in: query
          name: cursor
          required: false
          schema:
            description: Cursor used to access next or previous page in pagination.
            example: MDAwMDAwMDAtMDAwMC0wMDAwLTAwMDAtMDAwMDAwMDAwMDAw
            type: string
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceListAllInvoices200Response'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceListAllInvoicesResponse'
      callbacks: {}
    post:
      tags:
        - Invoice
      summary: Create an invoice.
      operationId: Invoice_createCardInvoice
      description: >
        Creates an invoice which is either a `card_present` or a
        `card_not_present` invoice.

        Providing the `reader_uid` property will create a `card_present`
        invoice, but if no `reader_uid`

        is provided a `card_not_present` invoice will be created.



        ### Card Present Invoice


        A card-present-invoice is used to process an invoice through a card
        reader. After the invoice

        is created, there is a callback to the card reader to complete the
        transaction. If no

        `accountUid` is given, the card reader's default account is used.


        ### Card Not Present Invoice


        A card-not-present-invoice is used to process an invoice asynchronously.
        After the invoice is

        created, a payment link is sent to the customer from the merchants
        Podium account. The customer

        can click on the link to complete the transaction. If no `accountUid` is
        given, the most

        recently created account is used.


        Required scope: `write_payments`.
      parameters: []
      requestBody:
        description: Create invoice params
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvoiceCreateCardInvoiceRequest'
        required: true
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceCreateCardInvoice200Response'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceCreateCardInvoiceResponse'
      callbacks: {}
  /v4/invoices/{uid}:
    get:
      tags:
        - Invoice
      summary: Get an invoice.
      operationId: Invoice_getByUid
      description: |-
        Gets an invoice that has previously been created.

        Required scope: `read_payments`.
      parameters:
        - description: Podium unique identifier for invoice.
          in: path
          name: uid
          required: true
          schema:
            example: 00000000-0000-0000-0000-000000000000
            format: uuid
            type: string
            x-validate: Elixir.KumeteApi.Schema.Common.UUID
        - description: Podium unique identifier for location.
          in: query
          name: locationUid
          required: true
          schema:
            example: 00000000-0000-0000-0000-000000000000
            format: uuid
            type: string
            x-validate: Elixir.KumeteApi.Schema.Common.UUID
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceGetByUid200Response'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceGetByUidResponse'
      callbacks: {}
  /v4/invoices/{uid}/cancel:
    post:
      tags:
        - Invoice
      summary: Cancel an invoice.
      operationId: Invoice_cancelInvoice
      description: >-
        Cancels an invoice. The seller cannot collect payments for the canceled
        invoice.


        Required scope: `write_payments`.
      parameters:
        - description: Podium unique identifier for invoice.
          in: path
          name: uid
          required: true
          schema:
            example: 00000000-0000-0000-0000-000000000000
            format: uuid
            type: string
            x-validate: Elixir.KumeteApi.Schema.Common.UUID
      requestBody:
        description: Invoice cancel params
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvoiceCancelInvoiceRequest'
        required: true
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceCancelInvoice200Response'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceCancelInvoiceResponse'
      callbacks: {}
  /v4/invoices/{uid}/refund:
    post:
      tags:
        - Invoice
      summary: Refund an invoice
      operationId: Invoice_refundById
      description: >-
        Refunds an invoice. The invoice must currently have a `status` of
        `paid`.If an invoice has a `status` of `created` it cannot be refunded,
        but can be canceled. An invoice can have multiple refunds. The total
        refunded amount cannot exceed the invoice's `amount`.


        Required scope: `write_payments`.
      parameters:
        - description: Podium unique identifier for invoice.
          in: path
          name: uid
          required: true
          schema:
            example: 00000000-0000-0000-0000-000000000000
            format: uuid
            type: string
            x-validate: Elixir.KumeteApi.Schema.Common.UUID
      requestBody:
        description: Invoice refund params
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvoiceRefundByIdRequest'
        required: true
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceRefundById200Response'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceRefundByIdResponse'
      callbacks: {}
  /v4/payments/{uid}:
    get:
      tags:
        - Payment
      summary: Get a payment.
      operationId: Payment_getByUid
      description: |-
        Gets a single payment by its uid.

        Required scope: `read_payments`.
      parameters:
        - description: Podium unique identifier for payment.
          in: path
          name: uid
          required: true
          schema:
            example: 00000000-0000-0000-0000-000000000000
            format: uuid
            type: string
            x-validate: Elixir.KumeteApi.Schema.Common.UUID
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentGetByUid200Response'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentGetByUidResponse'
      callbacks: {}
  /v4/readers/{uid}:
    get:
      tags:
        - Reader
      summary: Get a card reader.
      operationId: Reader_getByUid
      description: |-
        Gets a single card reader by its uid.

        Required scope: `read_payments`.
      parameters:
        - description: Podium unique identifier for reader.
          in: path
          name: uid
          required: true
          schema:
            example: 00000000-0000-0000-0000-000000000000
            format: uuid
            type: string
            x-validate: Elixir.KumeteApi.Schema.Common.UUID
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReaderGetByUid200Response'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReaderGetByUidResponse'
      callbacks: {}
  /v4/refunds:
    post:
      tags:
        - Refund
      summary: Create a refund.
      operationId: Refund_createUnlinked
      description: |
        Creates a refund. (see note)

          **Use with caution.** This action creates an Unlinked Refund that is not associated with an
          Podium Invoice or Payment. This current implementation *only works*
          with a Podium Payment Card Reader, reading the customer's credit card data
          before debiting the refunded amount.

          **Balance requirements.** This action requires that your account have on hand an amount
          equal to or greater than the amount of the refund. The amount for this refund will be
          deducted from the amount still to pay out from the account. If the account does not have
          sufficient funds, the refund will fail.

          **Upcoming change:** When this resource supports refunding a Podium Invoice,
          `/invoices/uid/refund` is planned to be deprecated.

          Required scope: `write_payments`.
      parameters: []
      requestBody:
        description: Create refund params
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefundCreateUnlinkedRequest'
        required: true
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefundCreateUnlinked200Response'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefundCreateUnlinkedResponse'
      callbacks: {}
  /v4/refunds/{uid}:
    get:
      tags:
        - Refund
      summary: Get a refund.
      operationId: Refund_getById
      description: |-
        Gets a refund that has previously been created.

        Required scope: `read_payments`.
      parameters:
        - description: Podium unique identifier for refund.
          in: path
          name: uid
          required: true
          schema:
            example: 00000000-0000-0000-0000-000000000000
            format: uuid
            type: string
            x-validate: Elixir.KumeteApi.Schema.Common.UUID
        - description: Podium unique identifier for location.
          in: query
          name: locationUid
          required: true
          schema:
            example: 00000000-0000-0000-0000-000000000000
            format: uuid
            type: string
            x-validate: Elixir.KumeteApi.Schema.Common.UUID
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefundGetById200Response'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefundGetByIdResponse'
      callbacks: {}
  /v4/reviews:
    get:
      tags:
        - Review
      summary: List all reviews.
      operationId: Review_listAll
      description: >-
        List of all the reviews that you have access to. The reviews are sorted
        by `createdAt` date, with the most recent appearing first.


        If the `cursor` parameter is used then all other parameters will be
        ignored. This is to avoid confusion if passing both a `cursor` and other
        parameters which would change what data is being returned.


        Required scope: `read_reviews`.
      parameters:
        - description: Filter on the `createdAt` date.
          in: query
          name: createdAt
          required: false
          schema:
            properties:
              gt:
                description: Greater than filter.
                example: '2015-01-23T23:50:07Z'
                format: date-time
                type: string
              gte:
                description: Greater than or equal to filter.
                example: '2015-01-23T23:50:07Z'
                format: date-time
                type: string
              lt:
                description: Less than filter.
                example: '2015-01-23T23:50:07Z'
                format: date-time
                type: string
              lte:
                description: Less than or equal to filter.
                example: '2015-01-23T23:50:07Z'
                format: date-time
                type: string
            type: object
          style: deepObject
        - description: Retrieves the page of items that comes after the `cursor`.
          in: query
          name: cursor
          required: false
          schema:
            description: Cursor used to access next or previous page in pagination.
            example: MDAwMDAwMDAtMDAwMC0wMDAwLTAwMDAtMDAwMDAwMDAwMDAw
            type: string
        - description: Max number of items to return per request. Defaults to `10`.
          in: query
          name: limit
          required: false
          schema:
            default: 10
            example: 10
            maximum: 100
            minimum: 0
            type: integer
        - description: Filter on the `updatedAt` date.
          in: query
          name: updatedAt
          required: false
          schema:
            properties:
              gt:
                description: Greater than filter.
                example: '2015-01-23T23:50:07Z'
                format: date-time
                type: string
              gte:
                description: Greater than or equal to filter.
                example: '2015-01-23T23:50:07Z'
                format: date-time
                type: string
              lt:
                description: Less than filter.
                example: '2015-01-23T23:50:07Z'
                format: date-time
                type: string
              lte:
                description: Less than or equal to filter.
                example: '2015-01-23T23:50:07Z'
                format: date-time
                type: string
            type: object
          style: deepObject
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReviewListAll200Response'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReviewListAllResponse'
      callbacks: {}
  /v4/reviews/invites:
    get:
      tags:
        - Review Invite
      summary: List all review invites.
      operationId: ReviewInvite_listAll
      description: >-
        List of all the review invites that you have access to. The review
        invites are sorted by `createdAt` date, with the most recent appearing
        first.


        If the `cursor` parameter is used then all other parameters will be
        ignored. This is to avoid confusion if passing both a `cursor` and other
        parameters which would change what data is being returned.


        Required scope: `read_reviews`.
      parameters:
        - description: Filter on the `createdAt` date.
          in: query
          name: createdAt
          required: false
          schema:
            properties:
              gt:
                description: Greater than filter.
                example: '2015-01-23T23:50:07Z'
                format: date-time
                type: string
              gte:
                description: Greater than or equal to filter.
                example: '2015-01-23T23:50:07Z'
                format: date-time
                type: string
              lt:
                description: Less than filter.
                example: '2015-01-23T23:50:07Z'
                format: date-time
                type: string
              lte:
                description: Less than or equal to filter.
                example: '2015-01-23T23:50:07Z'
                format: date-time
                type: string
            type: object
          style: deepObject
        - description: Filter by the senderUid
          in: query
          name: senderUid
          required: false
          schema:
            description: Podium unique identifier for user.
            example: 00000000-0000-0000-0000-000000000000
            format: uuid
            type: string
            x-validate: Elixir.KumeteApi.Schema.Common.UUID
        - description: Max number of items to return per request. Defaults to `10`.
          in: query
          name: limit
          required: false
          schema:
            default: 10
            example: 10
            maximum: 100
            minimum: 0
            type: integer
        - description: Retrieves the page of items that comes after the `cursor`.
          in: query
          name: cursor
          required: false
          schema:
            description: Cursor used to access next or previous page in pagination.
            example: MDAwMDAwMDAtMDAwMC0wMDAwLTAwMDAtMDAwMDAwMDAwMDAw
            type: string
        - description: Filter on the `updatedAt` date.
          in: query
          name: updatedAt
          required: false
          schema:
            properties:
              gt:
                description: Greater than filter.
                example: '2015-01-23T23:50:07Z'
                format: date-time
                type: string
              gte:
                description: Greater than or equal to filter.
                example: '2015-01-23T23:50:07Z'
                format: date-time
                type: string
              lt:
                description: Less than filter.
                example: '2015-01-23T23:50:07Z'
                format: date-time
                type: string
              lte:
                description: Less than or equal to filter.
                example: '2015-01-23T23:50:07Z'
                format: date-time
                type: string
            type: object
          style: deepObject
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReviewInviteListAll200Response'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReviewInviteListAllResponse'
      callbacks: {}
    post:
      tags:
        - Review Invite
      summary: Create a review invite link.
      operationId: ReviewInvite_createLink
      description: |-
        Create a review invite link.

        Required scope: `write_reviews`.
      parameters: []
      requestBody:
        description: Create review invite link params
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReviewInviteCreateLinkRequest'
        required: true
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReviewInviteCreateLink200Response'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReviewInviteCreateLinkResponse'
      callbacks: {}
  /v4/reviews/invites/{uid}:
    get:
      tags:
        - Review Invite
      summary: Get a review invite.
      operationId: ReviewInvite_getByUid
      description: |-
        Get a single review invite by its uid.

        Required scope: `read_reviews`.
      parameters:
        - description: Podium unique identifier for review invite.
          in: path
          name: uid
          required: true
          schema:
            example: 00000000-0000-0000-0000-000000000000
            format: uuid
            type: string
            x-validate: Elixir.KumeteApi.Schema.Common.UUID
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReviewInviteGetByUid200Response'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReviewInviteGetByUidResponse'
      callbacks: {}
  /v4/reviews/sites/summary:
    get:
      tags:
        - Review Sites Summary
      summary: Summary of all connected review sites.
      operationId: ReviewSitesSummary_getGroupedReviews
      description: >-
        Returns a summary of reviews grouped by the site they are from.

        NOTE: Our docs provider has a bug that doesn't show the correct usage of
        the `locationUids` parameter.In order for the request to succeed, for
        each locationUid you are querying for add a `&locationUids[]` parameter
        to the url.For example:
        `https://api.podium.com/v4/reviews/sites/summary?locationUids[]=00000000-0000-0000-0000-000000000000&locationUids[]=00000000-0000-0000-0000-000000000001`

        If no `locationUids` parameter is used then the data will be based on
        all locations that the caller has access to.


        Required scope: `read_reviews`.
      parameters:
        - description: Filter on the `createdAt` date.
          in: query
          name: createdAt
          required: false
          schema:
            properties:
              gt:
                description: Greater than filter.
                example: '2015-01-23T23:50:07Z'
                format: date-time
                type: string
              gte:
                description: Greater than or equal to filter.
                example: '2015-01-23T23:50:07Z'
                format: date-time
                type: string
              lt:
                description: Less than filter.
                example: '2015-01-23T23:50:07Z'
                format: date-time
                type: string
              lte:
                description: Less than or equal to filter.
                example: '2015-01-23T23:50:07Z'
                format: date-time
                type: string
            type: object
          style: deepObject
        - description: List of locations to filter the results by.
          in: query
          name: locationUids
          required: false
          schema:
            items:
              example: 00000000-0000-0000-0000-000000000000
              format: uuid
              type: string
              x-validate: Elixir.KumeteApi.Schema.Common.UUID
            type: array
        - description: Filter on the user uid that the reviews are attributed to.
          in: query
          name: userUid
          required: false
          schema:
            description: Podium unique identifier for user.
            example: 00000000-0000-0000-0000-000000000000
            format: uuid
            type: string
            x-validate: Elixir.KumeteApi.Schema.Common.UUID
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ReviewSitesSummaryGetGroupedReviews200Response
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ReviewSitesSummaryGetGroupedReviewsResponse
      callbacks: {}
  /v4/reviews/summary:
    get:
      tags:
        - Review Summary
      summary: Summary of all reviews
      operationId: ReviewSummary_getAllReviewsSummary
      description: >-
        Returns a summary of reviews for each location. If the`locationUids`
        parameter is not used then the data will be based on all locations that
        the caller has access to.


        Required scope: `read_reviews`.
      parameters:
        - description: Filter on the `createdAt` date.
          in: query
          name: createdAt
          required: false
          schema:
            properties:
              gt:
                description: Greater than filter.
                example: '2015-01-23T23:50:07Z'
                format: date-time
                type: string
              gte:
                description: Greater than or equal to filter.
                example: '2015-01-23T23:50:07Z'
                format: date-time
                type: string
              lt:
                description: Less than filter.
                example: '2015-01-23T23:50:07Z'
                format: date-time
                type: string
              lte:
                description: Less than or equal to filter.
                example: '2015-01-23T23:50:07Z'
                format: date-time
                type: string
            type: object
          style: deepObject
        - description: List of locations to filter the results by.
          in: query
          name: locationUids
          required: false
          schema:
            items:
              example: 00000000-0000-0000-0000-000000000000
              format: uuid
              type: string
              x-validate: Elixir.KumeteApi.Schema.Common.UUID
            type: array
        - description: Filter on the user uid that the reviews are attributed to.
          in: query
          name: userUid
          required: false
          schema:
            description: Podium unique identifier for user.
            example: 00000000-0000-0000-0000-000000000000
            format: uuid
            type: string
            x-validate: Elixir.KumeteApi.Schema.Common.UUID
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ReviewSummaryGetAllReviewsSummary200Response
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReviewSummaryGetAllReviewsSummaryResponse'
      callbacks: {}
  /v4/reviews/{review_uid}/responses/{uid}:
    patch:
      tags:
        - Review Response
      summary: Update response for a given review
      operationId: ReviewResponse_updateForReview
      description: |
        Update a review response.

        Required scope: `write_reviews`.
      parameters:
        - description: Review UID you are updating the response for.
          in: path
          name: review_uid
          required: true
          schema:
            description: Podium unique identifier for review.
            example: 00000000-0000-0000-0000-000000000000
            format: uuid
            type: string
            x-validate: Elixir.KumeteApi.Schema.Common.UUID
        - description: Review response UID you are updating the response with.
          in: path
          name: uid
          required: true
          schema:
            description: Podium unique identifier for review response.
            example: 00000000-0000-0000-0000-000000000000
            format: uuid
            type: string
            x-validate: Elixir.KumeteApi.Schema.Common.UUID
      requestBody:
        description: Update review response params
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReviewResponseUpdateForReviewRequest'
        required: true
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReviewResponseUpdateForReview200Response'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReviewResponseUpdateForReviewResponse'
      callbacks: {}
  /v4/reviews/{uid}:
    get:
      tags:
        - Review
      summary: Get a review.
      operationId: Review_getByUid
      description: |-
        Gets a single review by its uid.

        Required scope: `read_reviews`.
      parameters:
        - description: Podium unique identifier for review.
          in: path
          name: uid
          required: true
          schema:
            example: 00000000-0000-0000-0000-000000000000
            format: uuid
            type: string
            x-validate: Elixir.KumeteApi.Schema.Common.UUID
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReviewGetByUid200Response'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReviewGetByUidResponse'
      callbacks: {}
  /v4/reviews/{uid}/attributions:
    delete:
      tags:
        - Review Attribution
      summary: Remove a user attribution for a given review
      operationId: ReviewAttribution_removeUserAttribution
      description: |-
        Remove a user attribution from a review.

        Required scope: `write_reviews`.
      parameters:
        - description: Podium unique identifier for review.
          in: path
          name: uid
          required: true
          schema:
            example: 00000000-0000-0000-0000-000000000000
            format: uuid
            type: string
            x-validate: Elixir.KumeteApi.Schema.Common.UUID
      requestBody:
        description: Delete review attribution body params
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/ReviewAttributionRemoveUserAttributionRequest
        required: true
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ReviewAttributionRemoveUserAttribution200Response
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ReviewAttributionRemoveUserAttributionResponse
      callbacks: {}
    post:
      tags:
        - Review Attribution
[...]
