openapi: 3.0.0
info:
  title: Qualtrics Survey API
  description: >-
    The Qualtrics Survey endpoints give you access to the structure of the
    surveys you create. 


    Surveys have a complex structure, and you are encouraged to become familiar
    with the structure using your brand's Qualtrics page to build surveys at
    first. Then you can query those surveys using these endpoints. 


    Once you are familiar, you can use this API to create surveys on the fly, or
    modify existing surveys in your library. 
  version: 3.0.0
  contact:
    name: Support
    url: https://www.qualtrics.com/support/
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  x-konfig-ignore:
    object-with-no-properties: true
servers:
  - description: Canadian Data Center
    url: https://yul1.qualtrics.com/API/v3
  - description: Washington, DC Area Data Center (previously CO1)
    url: https://iad1.qualtrics.com/API/v3
  - description: San Jose, California Data Center (previously AZ)
    url: https://sjc1.qualtrics.com/API/v3
  - description: European Union Data Center (previously EU2 or EU)
    url: https://fra1.qualtrics.com/API/v3
  - description: London, United Kingdom Data Center
    url: https://lhr1.qualtrics.com/API/v3
  - description: Sydney, Australia Data Center (previously AU1)
    url: https://syd1.qualtrics.com/API/v3
  - description: Singapore Data Center
    url: https://sin1.qualtrics.com/API/v3
  - description: Tokyo, Japan Data Center
    url: https://hnd1.qualtrics.com/API/v3
  - description: US Government Data Center
    url: https://gov1.qualtrics.com/API/v3
tags:
  - description: ''
    name: Survey Quotas
  - description: ''
    name: Surveys
  - description: ''
    name: Survey Questions
  - description: ''
    name: Survey Blocks
  - description: ''
    name: Survey Flows
  - description: ''
    name: Survey Versions
  - description: ''
    name: Survey Options
  - description: ''
    name: Survey Languages
  - description: ''
    name: Survey Translations
  - description: ''
    name: Schemas
paths:
  /survey-definitions:
    post:
      tags:
        - Surveys
      summary: Create Survey
      operationId: Surveys_createDefinition
      security:
        - public_oauth2:
            - write:surveys
      description: >-
        Create a new
        [survey](https://api.qualtrics.com/ZG9jOjg3NzY4Mg-survey-api-introduction).
      requestBody:
        description: Create or import a survey request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSurveyRequest'
      responses:
        '200':
          description: Successful create survey response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateSurveyResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestErrorResponse'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedRequestErrorResponse'
              examples:
                Invalid Client:
                  value:
                    meta:
                      httpStatus: 401 - Unauthorized
                      error:
                        errorMessage: invalid_client
                        errorCode: AUTH_6.0
                      requestId: ba475bf2-3a9e-4895-9674-d44a2ea3bc20
        '403':
          description: Operation is forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenRequestErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
  /survey-definitions/{surveyId}:
    get:
      tags:
        - Surveys
      summary: Get Survey
      operationId: Surveys_getDefinition
      security:
        - public_oauth2:
            - read:surveys
      description: >-
        Retrieve the
        [survey](https://api.qualtrics.com/ZG9jOjg3NzY4Mg-survey-api-introduction#survey-definition-api-tenets)
        definition or a specified survey format.
      parameters:
        - name: surveyId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/SurveyID'
        - name: format
          in: query
          schema:
            description: The format of the survey
            type: string
            enum:
              - qsf
      responses:
        '200':
          description: Retrieve the survey definition or a specified survey format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSurveyResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestErrorResponse'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedRequestErrorResponse'
        '403':
          description: Operation is forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenRequestErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
    delete:
      tags:
        - Surveys
      summary: Delete Survey
      operationId: Surveys_removeDefinition
      security:
        - public_oauth2:
            - write:surveys
      description: >-
        Delete a
        [survey](https://api.qualtrics.com/ZG9jOjg3NzY4Mg-survey-api-introduction).
      parameters:
        - name: surveyId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/SurveyID'
      responses:
        '200':
          description: Delete survey successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteSurveyResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestErrorResponse'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedRequestErrorResponse'
        '403':
          description: Operation is forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenRequestErrorResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
  /survey-definitions/{surveyId}/metadata:
    get:
      tags:
        - Surveys
      summary: Get Survey Metadata
      operationId: Surveys_getMetadata
      security:
        - public_oauth2:
            - read:surveys
      description: >-
        Retrieve
        [survey](https://api.qualtrics.com/ZG9jOjg3NzY4Mg-survey-api-introduction)
        metadata.
      parameters:
        - name: surveyId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/SurveyID'
      responses:
        '200':
          description: Survey metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetadataResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestErrorResponse'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedRequestErrorResponse'
        '403':
          description: Operation is forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenRequestErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
    put:
      tags:
        - Surveys
      summary: Update Metadata
      operationId: Surveys_updateMetadata
      security:
        - public_oauth2:
            - write:surveys
      description: >-
        Update
        [survey](https://api.qualtrics.com/ZG9jOjg3NzY4Mg-survey-api-introduction)
        metadata.


        <!-- theme: warning -->

        >### Date fields in this API use MySQL DateTime instead of ISO-8601.
      parameters:
        - name: surveyId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/SurveyID'
      requestBody:
        description: Update metadata request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMetadataRequest'
      responses:
        '200':
          description: Survey metadata updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestSuccessfulResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestErrorResponse'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedRequestErrorResponse'
              examples:
                Invalid Client:
                  value:
                    meta:
                      httpStatus: 401 - Unauthorized
                      error:
                        errorMessage: invalid_client
                        errorCode: AUTH_6.0
                      requestId: ba475bf2-3a9e-4895-9674-d44a2ea3bc20
        '403':
          description: Operation is forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenRequestErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
  /survey-definitions/{surveyId}/blocks:
    post:
      tags:
        - Survey Blocks
      summary: Create Block
      operationId: SurveyBlocks_createNewBlock
      security:
        - public_oauth2:
            - write:surveys
      description: >-
        Create a new
        [block](https://www.qualtrics.com/support/survey-platform/survey-module/block-options/block-options-overview/).
      parameters:
        - name: surveyId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/SurveyID'
      requestBody:
        description: Create block request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BlockDefinition'
            example:
              Type: Standard
              Description: My Block Name
              ID: BL_fakeblockid1234
              BlockElements:
                - Type: Question
                  QuestionID: QID1
              Options:
                BlockLocking: 'false'
                RandomizeQuestions: 'false'
                BlockVisibility: Collapsed
      responses:
        '200':
          description: Successful create block response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateBlockResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestErrorResponse'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedRequestErrorResponse'
              examples:
                Invalid Client:
                  value:
                    meta:
                      httpStatus: 401 - Unauthorized
                      error:
                        errorMessage: invalid_client
                        errorCode: AUTH_6.0
                      requestId: ba475bf2-3a9e-4895-9674-d44a2ea3bc20
        '403':
          description: Operation is forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenRequestErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
  /survey-definitions/{surveyId}/blocks/{blockId}:
    get:
      tags:
        - Survey Blocks
      summary: Get Block
      operationId: SurveyBlocks_getDefinitionBlock
      security:
        - public_oauth2:
            - read:surveys
      description: >-
        Retrieve a
        [block](https://www.qualtrics.com/support/survey-platform/survey-module/block-options/block-options-overview/)
        definition.
      parameters:
        - name: surveyId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/SurveyID'
        - name: blockId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/BlockID'
      responses:
        '200':
          description: Get block response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBlockResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestErrorResponse'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedRequestErrorResponse'
        '403':
          description: Operation is forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenRequestErrorResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
    put:
      tags:
        - Survey Blocks
      summary: Update Block
      operationId: SurveyBlocks_updateDefinitionBlock
      security:
        - public_oauth2:
            - write:surveys
      description: >-
        Update a
        [block](https://www.qualtrics.com/support/survey-platform/survey-module/block-options/block-options-overview/)
        definition.
      parameters:
        - name: surveyId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/SurveyID'
        - name: blockId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/BlockID'
      requestBody:
        description: Update block request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BlockDefinition'
      responses:
        '200':
          description: Block definition updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestSuccessfulResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestErrorResponse'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedRequestErrorResponse'
              examples:
                Invalid Client:
                  value:
                    meta:
                      httpStatus: 401 - Unauthorized
                      error:
                        errorMessage: invalid_client
                        errorCode: AUTH_6.0
                      requestId: ba475bf2-3a9e-4895-9674-d44a2ea3bc20
        '403':
          description: Operation is forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenRequestErrorResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
    delete:
      tags:
        - Survey Blocks
      summary: Delete Block
      operationId: SurveyBlocks_removeBlock
      security:
        - public_oauth2:
            - write:surveys
      description: >-
        Delete a
        [block](https://www.qualtrics.com/support/survey-platform/survey-module/block-options/block-options-overview/)
        from the survey.
      parameters:
        - name: surveyId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/SurveyID'
        - name: blockId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/BlockID'
      responses:
        '200':
          description: Delete block successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestSuccessfulResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestErrorResponse'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedRequestErrorResponse'
        '403':
          description: Operation is forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenRequestErrorResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
  /survey-definitions/{surveyId}/questions:
    get:
      tags:
        - Survey Questions
      summary: Get Questions
      operationId: SurveyQuestions_getList
      security:
        - public_oauth2:
            - read:surveys
      description: >-
        Return a list of a [survey
        questions](https://api.qualtrics.com/ZG9jOjg3NzY4Mw-example-use-cases-walkthrough#add-question-to-survey).
      parameters:
        - name: surveyId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/SurveyID'
      responses:
        '200':
          description: Get questions response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetQuestionsResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestErrorResponse'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedRequestErrorResponse'
        '403':
          description: Operation is forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenRequestErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
    post:
      tags:
        - Survey Questions
      summary: Create Question
      operationId: SurveyQuestions_createNewQuestion
      security:
        - public_oauth2:
            - write:surveys
      description: >-
        Create a new question in the specified
        [block](https://www.qualtrics.com/support/survey-platform/survey-module/block-options/block-options-overview/)
        or the default block if not specified.
      parameters:
        - name: surveyId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/SurveyID'
        - name: blockId
          in: query
          schema:
            $ref: '#/components/schemas/BlockID'
      requestBody:
        description: Create question request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QuestionDefinition'
      responses:
        '200':
          description: Successful create question response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateQuestionResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestErrorResponse'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedRequestErrorResponse'
              examples:
                Invalid Client:
                  value:
                    meta:
                      httpStatus: 401 - Unauthorized
                      error:
                        errorMessage: invalid_client
                        errorCode: AUTH_6.0
                      requestId: ba475bf2-3a9e-4895-9674-d44a2ea3bc20
        '403':
          description: Operation is forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenRequestErrorResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
  /survey-definitions/{surveyId}/questions/{questionId}:
    get:
      tags:
        - Survey Questions
      summary: Get Question
      operationId: SurveyQuestions_getDefinition
      security:
        - public_oauth2:
            - read:surveys
      description: >-
        Retrieve a
        [question](https://api.qualtrics.com/ZG9jOjg3NzY4Mw-example-use-cases-walkthrough#add-question-to-survey)
        definition.
      parameters:
        - name: surveyId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/SurveyID'
        - name: questionId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/QuestionID'
      responses:
        '200':
          description: Get question response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuestionDefinition'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestErrorResponse'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedRequestErrorResponse'
        '403':
          description: Operation is forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenRequestErrorResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
    put:
      tags:
        - Survey Questions
      summary: Update Question
      operationId: SurveyQuestions_updateDefinition
      security:
        - public_oauth2:
            - write:surveys
      description: >-
        Update a
        [question](https://api.qualtrics.com/ZG9jOjg3NzY4Mw-example-use-cases-walkthrough#add-question-to-survey)
        definition.
      parameters:
        - name: surveyId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/SurveyID'
        - name: questionId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/QuestionID'
      requestBody:
        description: Update question request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QuestionDefinition'
      responses:
        '200':
          description: Question definition updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestSuccessfulResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestErrorResponse'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedRequestErrorResponse'
              examples:
                Invalid Client:
                  value:
                    meta:
                      httpStatus: 401 - Unauthorized
                      error:
                        errorMessage: invalid_client
                        errorCode: AUTH_6.0
                      requestId: ba475bf2-3a9e-4895-9674-d44a2ea3bc20
        '403':
          description: Operation is forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenRequestErrorResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
    delete:
      tags:
        - Survey Questions
      summary: Delete Question
      operationId: SurveyQuestions_removeQuestion
      security:
        - public_oauth2:
            - write:surveys
      description: >-
        Delete a
        [question](https://api.qualtrics.com/ZG9jOjg3NzY4Mw-example-use-cases-walkthrough#add-question-to-survey)
        from a survey.
      parameters:
        - name: surveyId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/SurveyID'
        - name: questionId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/QuestionID'
      responses:
        '200':
          description: Delete question successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestSuccessfulResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestErrorResponse'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedRequestErrorResponse'
        '403':
          description: Operation is forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenRequestErrorResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
  /survey-definitions/{surveyId}/flow:
    get:
      tags:
        - Survey Flows
      summary: Get Flow
      operationId: SurveyFlows_getFlowDefinition
      security:
        - public_oauth2:
            - read:surveys
      description: >-
        Retrieve a
        [flow](https://www.qualtrics.com/support/survey-platform/survey-module/survey-flow/survey-flow-overview/)
        definition.
      parameters:
        - name: surveyId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/SurveyID'
      responses:
        '200':
          description: Get flow response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetFlowResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestErrorResponse'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedRequestErrorResponse'
        '403':
          description: Operation is forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenRequestErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
    put:
      tags:
        - Survey Flows
      summary: Update Flow
      operationId: SurveyFlows_updateDefinition
      security:
        - public_oauth2:
            - write:surveys
      description: >-
        Update a
        [flow](https://www.qualtrics.com/support/survey-platform/survey-module/survey-flow/survey-flow-overview/)
        definition.
      parameters:
        - name: surveyId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/SurveyID'
      requestBody:
        description: Update flow request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FlowDefinition'
      responses:
        '200':
          description: Flow definition updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestSuccessfulResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestErrorResponse'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedRequestErrorResponse'
              examples:
                Invalid Client:
                  value:
                    meta:
                      httpStatus: 401 - Unauthorized
                      error:
                        errorMessage: invalid_client
                        errorCode: AUTH_6.0
                      requestId: ba475bf2-3a9e-4895-9674-d44a2ea3bc20
        '403':
          description: Operation is forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenRequestErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
  /survey-definitions/{surveyId}/flow/{flowId}:
    put:
      tags:
        - Survey Flows
      summary: Updates Flow Element Definition
      operationId: SurveyFlows_updateFlowElementDefinition
      security:
        - public_oauth2:
            - write:surveys
      description: >
        Update
        [flow](https://www.qualtrics.com/support/survey-platform/survey-module/survey-flow/survey-flow-overview/)
        by ID.


        If you're having trouble capturing single sign-on (SSO) information,
        make sure you've included all fields within the `Options` object. See
        this example:


        ```JSON

        "Options": {
         "maxAttempts": 3,
         "authenticationError": {
         "SystemMessage": {
         "Section": "Message example",
         "Message": "Test System Message"
         }
         } 
         "failedAuthenticationError": {
         "SystemMessage": {
         "Section": "Message example",
         "Message": "Test System Message"
         }
         } 
         "questionText": "{
         "SystemMessage": {
         "Section": "Question Text section example",
         "Message": "Question Text message example"
         }
         } 
         "allowRetake": "true",
         "loadExistingSession": "false"
        }
      parameters:
        - name: surveyId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/SurveyID'
        - name: flowId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/FlowID'
      requestBody:
        description: Update flow element request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Flow'
      responses:
        '200':
          description: Update flow element response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestSuccessfulResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestErrorResponse'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedRequestErrorResponse'
              examples:
                Invalid Client:
                  value:
                    meta:
                      httpStatus: 401 - Unauthorized
                      error:
                        errorMessage: invalid_client
                        errorCode: AUTH_6.0
                      requestId: ba475bf2-3a9e-4895-9674-d44a2ea3bc20
        '403':
          description: Operation is forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenRequestErrorResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
  /survey-definitions/{surveyId}/options:
    get:
      tags:
        - Survey Options
      summary: Get Options
      operationId: SurveyOptions_getOptions
      security:
        - public_oauth2:
            - read:surveys
      description: >-
        Retrieve [survey
        options](https://www.qualtrics.com/support/survey-platform/survey-module/survey-options/survey-options-overview/)
        for a survey with the `surveyId`.
      parameters:
        - name: surveyId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/SurveyID'
      responses:
        '200':
          description: The survey options
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSurveyOptionsResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestErrorResponse'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedRequestErrorResponse'
        '403':
          description: Operation is forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenRequestErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
    put:
      tags:
        - Survey Options
      summary: Update Options
      operationId: SurveyOptions_updateOptions
      security:
        - public_oauth2:
            - write:surveys
      description: >-
        Update [survey
        options](https://www.qualtrics.com/support/survey-platform/survey-module/survey-options/survey-options-overview/)
        for a survey with the `surveyId`.
      parameters:
        - name: surveyId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/SurveyID'
      requestBody:
        description: Survey Options
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SurveyOptions'
      responses:
        '200':
          description: Options updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestSuccessfulResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestErrorResponse'
              examples: {}
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedRequestErrorResponse'
              examples:
                Invalid Client:
                  value:
                    meta:
                      httpStatus: 401 - Unauthorized
                      error:
                        errorMessage: invalid_client
                        errorCode: AUTH_6.0
                      requestId: ba475bf2-3a9e-4895-9674-d44a2ea3bc20
        '403':
          description: Operation is forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenRequestErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
  /survey-definitions/{surveyId}/versions:
    get:
      tags:
        - Survey Versions
      summary: List Survey Versions
      operationId: SurveyVersions_list
      security:
        - public_oauth2:
            - read:surveys
      description: >-
        Return a list of all [versions of a
        survey](https://www.qualtrics.com/support/survey-platform/survey-module/survey-publishing-versions/),
        including survey metadata.
      parameters:
        - name: surveyId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/SurveyID'
      responses:
        '200':
          description: List of all versions of a survey, with metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSurveyVersionsResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestErrorResponse'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedRequestErrorResponse'
        '403':
          description: Operation is forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenRequestErrorResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
    post:
      tags:
        - Survey Versions
      summary: Create Survey Version
      operationId: SurveyVersions_createNewVersion
      security:
        - public_oauth2:
            - write:surveys
      description: >-
        Create a new [survey
        version](https://www.qualtrics.com/support/survey-platform/survey-module/survey-publishing-versions/).
      parameters:
        - name: surveyId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/SurveyID'
      requestBody:
        description: Create new survey version request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSurveyVersionRequest'
            examples: {}
      responses:
        '200':
          description: Create new survey version response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateSurveyVersionResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestErrorResponse'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedRequestErrorResponse'
              examples:
                Invalid Client:
                  value:
                    meta:
                      httpStatus: 401 - Unauthorized
                      error:
                        errorMessage: invalid_client
                        errorCode: AUTH_6.0
                      requestId: ba475bf2-3a9e-4895-9674-d44a2ea3bc20
        '403':
          description: Operation is forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenRequestErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
  /survey-definitions/{surveyId}/versions/{versionId}:
    get:
      tags:
        - Survey Versions
      summary: Get Survey Version
      operationId: SurveyVersions_getDefinition
      security:
        - public_oauth2:
            - read:surveys
      description: >-
        Retrieve a [survey
        version](https://www.qualtrics.com/support/survey-platform/survey-module/survey-publishing-versions/)
        definition.
      parameters:
        - name: surveyId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/SurveyID'
        - name: versionId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/VersionID'
        - name: format
          in: query
          schema:
            description: The format of the survey export
            type: string
            enum:
              - qsf
      responses:
        '200':
          description: Get survey version definition
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSurveyVersionResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestErrorResponse'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedRequestErrorResponse'
        '403':
          description: Operation is forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenRequestErrorResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
  /survey-definitions/{surveyId}/quotas:
    get:
      tags:
        - Survey Quotas
      summary: Get Quotas for Survey
      operationId: SurveyQuotas_getAll
      security:
        - public_oauth2:
            - write:surveys
      description: >-
        Retrieve all
        [quota](https://www.qualtrics.com/support/survey-platform/survey-module/survey-tools/quotas/)
        definitions for a survey.
      parameters:
        - name: surveyId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/SurveyID'
        - name: pageSize
          in: query
          schema:
            description: The number of quotas to be returned in a page
            type: integer
            minimum: 1
            maximum: 50
        - name: skipToken
          in: query
          schema:
            description: Token to tell the api which page to fetch
            type: string
      responses:
        '200':
          description: Get all quota definitions for a survey
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetQuotasResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestErrorResponse'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedRequestErrorResponse'
        '403':
          description: Operation is forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenRequestErrorResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
    post:
      tags:
        - Survey Quotas
      summary: Create Quota
      operationId: SurveyQuotas_createNewQuota
      security:
        - public_oauth2:
            - write:surveys
      description: >-
        Create a new
        [quota](https://www.qualtrics.com/support/survey-platform/survey-module/survey-tools/quotas/).
      parameters:
        - name: surveyId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/SurveyID'
        - name: quotaGroupId
          in: query
          schema:
            $ref: '#/components/schemas/QuotaGroupID'
      requestBody:
        description: Create quota request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Quota'
      responses:
        '200':
          description: Successful create quota response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateQuotaResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestErrorResponse'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedRequestErrorResponse'
              examples:
                Invalid Client:
                  value:
                    meta:
                      httpStatus: 401 - Unauthorized
                      error:
                        errorMessage: invalid_client
                        errorCode: AUTH_6.0
                      requestId: ba475bf2-3a9e-4895-9674-d44a2ea3bc20
        '403':
          description: Operation is forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenRequestErrorResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
  /survey-definitions/{surveyId}/quotas/{quotaId}:
    get:
      tags:
        - Survey Quotas
      summary: Get Quota for Survey
      operationId: SurveyQuotas_getDefinition
      security:
        - public_oauth2:
            - read:surveys
      description: >-
        Retrieve a specific
        [quota](https://www.qualtrics.com/support/survey-platform/survey-module/survey-tools/quotas/)
        definition.
      parameters:
        - name: surveyId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/SurveyID'
        - name: quotaId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/QuotaID'
      responses:
        '200':
          description: Get specific quota definition
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetQuotaResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestErrorResponse'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedRequestErrorResponse'
        '403':
          description: Operation is forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenRequestErrorResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
    put:
      tags:
        - Survey Quotas
      summary: Update Quota in the Given Survey
      operationId: SurveyQuotas_updateDefinition
      security:
        - public_oauth2:
            - write:surveys
      description: >-
        Update a
        [quota](https://www.qualtrics.com/support/survey-platform/survey-module/survey-tools/quotas/)
        definition.
      parameters:
        - name: surveyId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/SurveyID'
        - name: quotaId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/QuotaID'
      requestBody:
        description: Update quota request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Quota'
      responses:
        '200':
          description: Quota definition updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestSuccessfulResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestErrorResponse'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedRequestErrorResponse'
              examples:
                Invalid Client:
                  value:
                    meta:
                      httpStatus: 401 - Unauthorized
                      error:
                        errorMessage: invalid_client
                        errorCode: AUTH_6.0
                      requestId: ba475bf2-3a9e-4895-9674-d44a2ea3bc20
        '403':
          description: Operation is forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenRequestErrorResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
    delete:
      tags:
        - Survey Quotas
      summary: Delete Quota
      operationId: SurveyQuotas_deleteQuota
      security:
        - public_oauth2:
            - write:surveys
      description: >-
        Delete a
        [quota](https://www.qualtrics.com/support/survey-platform/survey-module/survey-tools/quotas/)
        from a survey.
      parameters:
        - name: surveyId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/SurveyID'
        - name: quotaId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/QuotaID'
      responses:
        '200':
          description: Delete quota successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestSuccessfulResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestErrorResponse'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedRequestErrorResponse'
        '403':
          description: Operation is forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenRequestErrorResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
  /survey-definitions/{surveyId}/quotagroups:
    get:
      tags:
        - Survey Quotas
      summary: Get Quota Groups for Survey
      operationId: SurveyQuotas_listQuotaGroups
      security:
        - public_oauth2:
            - read:surveys
      description: >-
        Return a list of
        [quota](https://www.qualtrics.com/support/survey-platform/survey-module/survey-tools/quotas/)
        group definitions for a survey.
      parameters:
        - name: surveyId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/SurveyID'
        - name: pageSize
          in: query
          schema:
            description: The number of quota groups to be returned in a page
            type: integer
            minimum: 1
            maximum: 100
        - name: skipToken
          in: query
          schema:
            description: Token to tell the api which page to fetch
            type: string
      responses:
        '200':
          description: Get all quota group definitions for a survey
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetQuotaGroupsResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestErrorResponse'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedRequestErrorResponse'
        '403':
          description: Operation is forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenRequestErrorResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
    post:
      tags:
        - Survey Quotas
      summary: Create Quota Group
      operationId: SurveyQuotas_createQuotaGroup
      security:
        - public_oauth2:
            - write:surveys
      description: >-
        Create a new
        [quota](https://www.qualtrics.com/support/survey-platform/survey-module/survey-tools/quotas/)
        group.
      parameters:
        - name: surveyId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/SurveyID'
      requestBody:
        description: Create quota group request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QuotaGroup'
      responses:
        '200':
          description: Successful create quota group response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateQuotaGroupResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestErrorResponse'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedRequestErrorResponse'
              examples:
                Invalid Client:
                  value:
                    meta:
                      httpStatus: 401 - Unauthorized
                      error:
                        errorMessage: invalid_client
                        errorCode: AUTH_6.0
                      requestId: ba475bf2-3a9e-4895-9674-d44a2ea3bc20
        '403':
          description: Operation is forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenRequestErrorResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
  /survey-definitions/{surveyId}/quotagroups/{quotaGroupId}:
    get:
      tags:
        - Survey Quotas
      summary: Get Quota Group for Survey
      operationId: SurveyQuotas_getQuotaGroupDefinition
      security:
        - public_oauth2:
            - read:surveys
      description: >-
        Retrieve a specific
        [quota](https://www.qualtrics.com/support/survey-platform/survey-module/survey-tools/quotas/)
        group definition.
      parameters:
        - name: surveyId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/SurveyID'
        - name: quotaGroupId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/QuotaGroupID'
      responses:
        '200':
          description: Get specific quota group definition
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetQuotaGroupResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestErrorResponse'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedRequestErrorResponse'
        '403':
          description: Operation is forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenRequestErrorResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
    put:
      tags:
        - Survey Quotas
      summary: Update Quota Group
      operationId: SurveyQuotas_updateQuotaGroupDefinition
      security:
        - public_oauth2:
            - write:surveys
      description: >-
        Update a
        [quota](https://www.qualtrics.com/support/survey-platform/survey-module/survey-tools/quotas/)
        group definition.
      parameters:
        - name: surveyId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/SurveyID'
        - name: quotaGroupId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/QuotaGroupID'
      requestBody:
        description: Update quota group request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QuotaGroup'
      responses:
        '200':
          description: Quota group definition updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestSuccessfulResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestErrorResponse'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedRequestErrorResponse'
              examples:
                Invalid Client:
                  value:
                    meta:
                      httpStatus: 401 - Unauthorized
                      error:
                        errorMessage: invalid_client
                        errorCode: AUTH_6.0
                      requestId: ba475bf2-3a9e-4895-9674-d44a2ea3bc20
        '403':
          description: Operation is forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenRequestErrorResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
    delete:
      tags:
        - Survey Quotas
      summary: Delete Quota Group
      operationId: SurveyQuotas_removeQuotaGroup
      security:
        - public_oauth2:
            - write:surveys
      description: >-
        Delete a
        [quota](https://www.qualtrics.com/support/survey-platform/survey-module/survey-tools/quotas/)
        group and all its quotas from a survey.
      parameters:
        - name: surveyId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/SurveyID'
        - name: quotaGroupId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/QuotaGroupID'
      responses:
        '200':
          description: Delete quota group and all its quotas successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestSuccessfulResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestErrorResponse'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedRequestErrorResponse'
        '403':
          description: Operation is forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenRequestErrorResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
  /surveys/{surveyId}/languages:
    get:
      tags:
        - Survey Languages
      summary: Get Languages
      operationId: SurveyLanguages_getAvailableLanguages
      security:
        - public_oauth2:
            - read:surveys
      description: >-
        Returns a list of available
        [languages](https://www.qualtrics.com/support/survey-platform/getting-started/languages-in-qualtrics/)
        for a survey given the `surveyId`.
      parameters:
        - description: The unique identifier of the survey.
          name: surveyId
          in: path
          required: true
          schema:
            title: SurveyId
            type: string
      responses:
        '200':
          description: The languages enabled for the survey
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LanguagesResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestErrorResponse'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedRequestErrorResponse'
        '403':
          description: Operation is forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenRequestErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
    put:
      tags:
        - Survey Languages
      summary: Update Languages
      operationId: SurveyLanguages_updateEnabledLanguages
      security:
        - public_oauth2:
            - write:surveys
      description: >+
        Updates enabled
        [languages](https://www.qualtrics.com/support/survey-platform/getting-started/languages-in-qualtrics/)
        given the `surveyId`.

        <!--From Readme-->

        For more information about using the survey APIs, see [Managing
        Surveys](../../../../docs/Guides/Common%20Tasks/managing-surveys.md).

        <!-- theme: info -->


        >### Permissions

        >**Set Survey Options** permission must be enabled for the user to
        update survey languages.

      parameters:
        - name: surveyId
          in: path
          required: true
          schema:
            title: SurveyId
            type: string
      requestBody:
        description: >-
          All languages to be enabled for the survey. Must include existing
          languages
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SurveyLanguages'
      responses:
        '200':
          description: Languages updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestSuccessfulResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestErrorResponse'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedRequestErrorResponse'
              examples:
                Invalid Client:
                  value:
                    meta:
                      httpStatus: 401 - Unauthorized
                      error:
                        errorMessage: invalid_client
                        errorCode: AUTH_6.0
                      requestId: ba475bf2-3a9e-4895-9674-d44a2ea3bc20
        '403':
          description: Operation is forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenRequestErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
  /surveys/{surveyId}/translations/{languageCode}:
    get:
      tags:
        - Survey Translations
      summary: Get Survey Translations JSON
      operationId: SurveyTranslations_getBySurveyIdAndLanguageCode
      security:
        - public_oauth2:
            - read:surveys
      description: >
        Return a list of all fields in a survey that can be
        [translated](https://www.qualtrics.com/support/survey-platform/survey-module/survey-tools/translate-survey/)
        and their existing translations given a `surveyId` and `languageCode`.

        <!--From Readme-->

        For more information about using the survey APIs, see [Managing
        Surveys](../../../../docs/Guides/Common%20Tasks/managing-surveys.md).
      parameters:
        - name: surveyId
          in: path
          required: true
          schema:
            title: SurveyId
            type: string
        - name: languageCode
          in: path
          required: true
          schema:
            title: LanguageCode
            type: string
      responses:
        '200':
          description: The translations for the given survey and language code
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TranslationsResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestErrorResponse'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedRequestErrorResponse'
        '403':
          description: Operation is forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenRequestErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
    put:
      tags:
        - Survey Translations
      summary: Update Survey Translations
      operationId: SurveyTranslations_updateTranslations
      security:
        - public_oauth2:
            - write:surveys
      description: >+
        Update a [survey
        translations](https://www.qualtrics.com/support/survey-platform/survey-module/survey-tools/translate-survey/)
        for a given `surveyId` and `language code`. Must include existing
        translations.

        <!--From Readme-->

        For more information about using the survey APIs, see [Managing
        Surveys](../../../../docs/Guides/Common%20Tasks/managing-surveys.md).

        <!-- theme: info -->


        >### Permissions

        >**Translate Surveys** permission must be enabled for the user to update
        survey languages.

      parameters:
        - name: surveyId
          in: path
          required: true
          schema:
            title: SurveyId
            type: string
        - name: languageCode
          in: path
          required: true
          schema:
            title: LanguageCode
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SurveyTranslations'
      responses:
        '200':
          description: Survey translations updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestSuccessfulResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestErrorResponse'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedRequestErrorResponse'
              examples:
                Invalid Client:
                  value:
                    meta:
                      httpStatus: 401 - Unauthorized
                      error:
                        errorMessage: invalid_client
                        errorCode: AUTH_6.0
                      requestId: ba475bf2-3a9e-4895-9674-d44a2ea3bc20
        '403':
          description: Operation is forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenRequestErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
components:
  schemas:
    CreateSurveyRequest:
      oneOf:
        - $ref: '#/components/schemas/CreateNewSurveyRequest'
        - $ref: '#/components/schemas/SurveyQSF'
    CreateNewSurveyRequest:
      title: Create survey request body
      type: object
      x-examples:
        example:
          SurveyName: My cool survey
          Language: EN
          ProjectCategory: CORE
      x-tags:
        - Schemas
      properties:
        SurveyName:
          description: The name of the survey.
          type: string
        Language:
          $ref: '#/components/schemas/LanguageCode'
        ProjectCategory:
          $ref: '#/components/schemas/ProjectCategory'
      required:
        - SurveyName
        - Language
        - ProjectCategory
    CreateSurveyResponse:
      title: Create survey response
      type: object
      required:
        - meta
        - result
      properties:
        result:
          title: Create survey result
          type: object
          required:
            - SurveyID
          properties:
            SurveyID:
              $ref: '#/components/schemas/SurveyID'
            DefaultBlockID:
              $ref: '#/components/schemas/BlockID'
        meta:
          $ref: '#/components/schemas/SuccessfulMeta'
      x-examples:
        example:
          SurveyID: SV_5vaK6JpGtrf2Ldz
          DefaultBlockID: BL_0Di21uQq3eUD1D7
      x-tags:
        - Schemas
    GetSurveyResponse:
      title: Get survey response
      type: object
      required:
        - meta
        - result
      properties:
        meta:
          $ref: '#/components/schemas/SuccessfulMeta'
        result:
          $ref: '#/components/schemas/SurveyDefinition'
      x-tags:
        - Schemas
    DeleteSurveyResponse:
      title: Get survey response
      type: object
      x-examples:
        example:
          DeletedDate: 2018-02-22 16:21:211
      x-tags:
        - Schemas
      properties:
        meta:
          $ref: '#/components/schemas/SuccessfulMeta'
        result:
          title: Delete survey result
          type: object
          required:
            - DeletedDate
          properties:
            DeletedDate:
              description: Date of deletion.
              type: string
      required:
        - meta
        - result
    CreateSurveyVersionRequest:
      title: Create survey version request body
      type: object
      x-examples:
        example:
          Description: 2018 Phone Launch
          Published: true
      x-tags:
        - Schemas
      properties:
        Description:
          description: A user-provided description of the survey version.
          type: string
        Published:
          description: When true, mark the survey version as published.
          type: boolean
      required:
        - Description
        - Published
    SurveyVersionMetadata:
      title: Version Metadata
      type: object
      x-tags:
        - Schemas
      properties:
        description:
          title: Version description
          description: A user-provided description of the survey version.
          type: string
        surveyID:
          $ref: '#/components/schemas/SurveyID'
        versionID:
          title: Version Id
          description: The unique identifier for this survey version.
          type: string
        versionNumber:
          title: Version number
          description: The version number of this survey.
          type: integer
        userID:
          $ref: '#/components/schemas/UserID'
        creationDate:
          title: Version creation date
          description: >-
            The creation date of survey version expressed as an [ISO
            8601](https://www.iso.org/iso-8601-date-and-time-format.html) value.
          type: string
          format: date-time
        published:
          title: Published
          description: When true, publish the new version.
          type: boolean
        wasPublished:
          title: Was published
          description: Filter surveys by the publication status.
          type: boolean
        publishEvents:
          title: Version publish events
          type: array
          items:
            title: Publish Event
            type: object
            additionalProperties: true
            properties:
              date:
                description: >-
                  The publication date of the survey expressed as an [ISO
                  8601](https://www.iso.org/iso-8601-date-and-time-format.html)
                  value.
                type: string
                format: date-time
              userID:
                $ref: '#/components/schemas/UserID'
            required:
              - date
              - userID
      required:
        - surveyID
        - versionID
        - versionNumber
        - description
        - userID
        - creationDate
        - published
        - wasPublished
        - publishEvents
    UpdateMetadataRequest:
      title: Update Metadata Request
      type: object
      minProperties: 1
      properties:
        SurveyName:
          title: Survey Name
          description: The name of the survey.
          type: string
        SurveyDescription:
          title: Survey Description
          description: A user-provided description of the survey.
          type: string
          nullable: true
        SurveyStatus:
          $ref: '#/components/schemas/SurveyStatusPutMetadata'
        SurveyStartDate:
          title: Survey Start Date
          description: >-
            The start date of the survey expressed as a [MySQL
            datetime](https://dev.mysql.com/doc/refman/8.0/en/datetime.html)
            value.
          type: string
          pattern: ^\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}$
        SurveyExpirationDate:
          title: Survey Expiration Date
          description: >-
            The expiration date of the survey expressed as a [MySQL
            datetime](https://dev.mysql.com/doc/refman/8.0/en/datetime.html)
            value.
          type: string
          pattern: ^\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}$
    CreateSurveyVersionResponse:
      title: Create survey version response
      type: object
      required:
        - meta
        - result
      properties:
        meta:
          $ref: '#/components/schemas/SuccessfulMeta'
        result:
          title: Create survey version result
          type: object
          required:
            - metadata
          properties:
            metadata:
              $ref: '#/components/schemas/SurveyVersionMetadata'
      x-examples:
        example:
          metadata:
            description: User-published version
            surveyID: SV_6yhT1nisH1SoMzX
            versionID: '9223370503198924109'
            versionNumber: 2
            userID: UR_3pHAmw5pZqDN4VL
            creationDate: '2019-03-15T00:35:58Z'
            published: true
            wasPublished: true
            publishEvents:
              - date: '2019-03-15T00:44:10Z'
                userID: UR_3pHAmw5pZqDN4VL
      x-tags:
        - Schemas
    ListSurveyVersionsResponse:
      title: List survey versions response
      type: object
      required:
        - meta
        - result
      properties:
        meta:
          $ref: '#/components/schemas/SuccessfulMeta'
        result:
          type: object
          required:
            - elements
          properties:
            elements:
              type: array
              items:
                $ref: '#/components/schemas/SurveyVersionMetadata'
      x-examples:
        example:
          elements:
            - description: User-published version
              surveyID: SV_6yhT1nisH1SoMzX
              versionID: '9223370503198923603'
              versionNumber: 2
              userID: UR_3pHAmw5pZqDN4VL
              creationDate: '2019-03-15T00:35:58Z'
              published: true
              wasPublished: true
              publishEvents:
                - date: '2019-03-15T00:44:10Z'
                  userID: UR_3pHAmw5pZqDN4VL
            - description: User-published version
              surveyID: SV_6yhT1nisH1SoMzX
              versionID: '9223370503198924109'
              versionNumber: 1
              userID: UR_3pHAmw5pZqDN4VL
              creationDate: '2019-03-15T00:35:58Z'
              published: false
              wasPublished: true
              publishEvents:
                - date: '2019-03-15T00:44:10Z'
                  userID: UR_3pHAmw5pZqDN4VL
      x-tags:
        - Schemas
    GetSurveyVersionResponse:
      title: Get survey version response
      type: object
      required:
        - meta
        - result
      properties:
        meta:
          $ref: '#/components/schemas/SuccessfulMeta'
        result:
          $ref: '#/components/schemas/SurveyDefinition'
      x-tags:
        - Schemas
    CreateBlockResponse:
      title: Create block response
      type: object
      required:
        - meta
        - result
      properties:
        meta:
          $ref: '#/components/schemas/SuccessfulMeta'
        result:
          title: Create block result
          type: object
          required:
            - BlockID
            - FlowID
          properties:
            BlockID:
              $ref: '#/components/schemas/BlockID'
            FlowID:
              $ref: '#/components/schemas/FlowID'
      x-examples:
        example:
          BlockID: BL_3gAZPwnLtmDuv3f
          FlowID: FL_4
      x-tags:
        - Schemas
    GetQuotaResponse:
      title: Get quota response
      type: object
      required:
        - meta
        - result
      properties:
        meta:
          $ref: '#/components/schemas/SuccessfulMeta'
        result:
          $ref: '#/components/schemas/Quota'
      x-examples:
        example:
          meta:
            httpStatus: 200 - OK
            requestId: 314c6686-12bd-4d77-ae3f-5a044f4eeda7
          result:
            Name: Test Quota
            Occurrences: 1000
            Logic:
              '0':
                '0':
                  LogicType: Question
                  QuestionID: QID1
                  QuestionIsInLoop: 'no'
                  ChoiceLocator: q://QID1/SelectableChoice/1
                  Operator: Selected
                  QuestionIDFromLocator: QID1
                  LeftOperand: q://QID1/SelectableChoice/1
                  Type: Expression
                  Description: >-
                    <span class="ConjDesc">If</span> <span
                    class="QuestionDesc">What is your quest?</span> <span
                    class="LeftOpDesc">To seek the holy grail</span> <span
                    class="OpDesc">Is Selected</span>
                Type: If
              Type: BooleanExpression
            LogicType: Simple
            QuotaAction: EndCurrentSurvey
            ActionInfo:
              '0':
                '0':
                  ActionType: EndCurrentSurvey
                  Type: Expression
                  LogicType: QuotaAction
                Type: If
              Type: BooleanExpression
            ID: QO_abcdefghijklmno
            QuotaRealm: Survey
            QuotaSchedule: null
            EndSurveyOptions:
              EndingType: Default
              ResponseFlag: QuotaMet
              SurveyTermination: DefaultMessage
      x-tags:
        - Schemas
    GetQuotasResponse:
      title: Get quotas response
      type: object
      x-examples:
        example:
          meta:
            httpStatus: 200 - OK
            requestId: 2771b1b0-f0a7-4619-9dc8-046c5bf6f1a3
          result:
            elements:
              - Name: New Quota
                Occurrences: 100
                Logic:
                  '0':
                    '0':
                      LogicType: Question
                      QuestionID: QID1
                      QuestionIsInLoop: 'yes'
                      LoopAndMergeLoops: BL_dj3gtMBWkzXmo7j,6
                      LoopTarget: none
                      ChoiceLocator: q://QID1/SelectableChoice/1
                      Operator: Selected
                      QuestionIDFromLocator: QID1
                      LeftOperand: q://6_QID1/SelectableChoice/1
                      Type: Expression
                      Description: >-
                        <span class="ConjDesc">If</span> <span
                        class="QuestionDesc">What is your quest? (Loop 6: 42,
                        )</span> <span class="LeftOpDesc">To seek the holy
                        grail</span> <span class="OpDesc">Is Selected</span> 
                    Type: If
                  Type: BooleanExpression
                LogicType: Simple
                QuotaAction: EndCurrentSurvey
                ActionInfo:
                  '0':
                    '0':
                      ActionType: EndCurrentSurvey
                      Type: Expression
                      LogicType: QuotaAction
                    Type: If
                  Type: BooleanExpression
                ID: QO_EI9KoaKyVNqatAd
                QuotaRealm: Survey
                QuotaSchedule: null
                EndSurveyOptions:
                  EndingType: Default
                  ResponseFlag: QuotaMet
                  SurveyTermination: DefaultMessage
              - Name: Simple quota
                Occurrences: 1000
                Logic:
                  '0':
                    '0':
                      LogicType: Question
                      QuestionID: QID1
                      QuestionIsInLoop: 'no'
                      ChoiceLocator: q://QID1/SelectableChoice/1
                      Operator: Selected
                      QuestionIDFromLocator: QID1
                      LeftOperand: q://QID1/SelectableChoice/1
                      Type: Expression
                      Description: >-
                        <span class="ConjDesc">If</span> <span
                        class="QuestionDesc">What is your quest?</span> <span
                        class="LeftOpDesc">To seek the holy grail</span> <span
                        class="OpDesc">Is Selected</span> 
                    Type: If
                  Type: BooleanExpression
                LogicType: Simple
                QuotaAction: EndCurrentSurvey
                ActionInfo:
                  '0':
                    '0':
                      ActionType: EndCurrentSurvey
                      Type: Expression
                      LogicType: QuotaAction
                    Type: If
                  Type: BooleanExpression
                ID: QO_hmezLihVIbqWQks
                QuotaRealm: Survey
                QuotaSchedule: null
                EndSurveyOptions:
                  EndingType: Default
                  ResponseFlag: QuotaMet
                  SurveyTermination: DefaultMessage
              - Name: Scheduled quota
                Occurrences: 1000
                Logic:
                  '0':
                    '0':
                      LogicType: EmbeddedField
                      LeftOperand: RecipientLastName
                      Operator: EqualTo
                      RightOperand: Vader
                      Type: Expression
                      Description: >-
                        <span class="ConjDesc">If</span>  <span
                        class="LeftOpDesc">RecipientLastName</span> <span
                        class="OpDesc">Is Equal to</span> <span
                        class="RightOpDesc"> Vader </span>
                    Type: If
                  Type: BooleanExpression
                LogicType: Simple
                QuotaAction: EndCurrentSurvey
                ActionInfo:
                  '0':
                    '0':
                      ActionType: EndCurrentSurvey
                      Type: Expression
                      LogicType: QuotaAction
                    Type: If
                  Type: BooleanExpression
                ID: QO_L6PPxGneqqJFlId
                QuotaRealm: Survey
                QuotaSchedule:
                  QuotaStart: '2019-01-01'
                  QuotaPeriodLength: '3'
                  QuotaNumPeriods: '5'
                  StartTimezone: America/Denver
                EndSurveyOptions:
                  EndingType: Default
                  ResponseFlag: QuotaMet
                  SurveyTermination: DefaultMessage
      x-tags:
        - Schemas
      properties:
        meta:
          $ref: '#/components/schemas/SuccessfulMeta'
        result:
          title: Get quotas
          type: object
          required:
            - elements
          properties:
            elements:
              type: array
              items:
                $ref: '#/components/schemas/Quota'
            nextPage:
              description: >-
                A URL with the parameters required to access the next page of
                quotas.
              type: string
      required:
        - meta
        - result
    CreateQuotaResponse:
      title: Create quota response
      type: object
      required:
        - meta
        - result
      properties:
        meta:
          $ref: '#/components/schemas/SuccessfulMeta'
        result:
          title: Create quota result
          type: object
          required:
            - QuotaID
            - QuotaGroupID
          properties:
            QuotaID:
              $ref: '#/components/schemas/QuotaID'
            QuotaGroupID:
              $ref: '#/components/schemas/QuotaGroupID'
      x-tags:
        - Schemas
    GetQuotaGroupResponse:
      title: Get quota group response
      type: object
      required:
        - meta
        - result
      properties:
        meta:
          $ref: '#/components/schemas/SuccessfulMeta'
        result:
          $ref: '#/components/schemas/QuotaGroup'
      x-examples:
        example:
          meta:
            httpStatus: 200 - OK
            requestId: 17eca504-5c96-45ee-9868-099746a2431d
          result:
            ID: QG_2Ds3413oqlm1sIH
            Name: Quota Group 2
            Selected: false
            MultipleMatch: ReverseOrder
            Public: false
            Quotas:
              - QO_4G2c2sS0P2pzaFW
      x-tags:
        - Schemas
    CreateQuotaGroupResponse:
      title: Create quota group response
      type: object
      required:
        - meta
        - result
      properties:
        meta:
          $ref: '#/components/schemas/SuccessfulMeta'
        result:
          title: Create quota group result
          type: object
          required:
            - QuotaGroupID
          properties:
            QuotaGroupID:
              $ref: '#/components/schemas/QuotaGroupID'
      x-tags:
        - Schemas
    GetQuotaGroupsResponse:
      title: Get quota groups response
      type: object
      required:
        - meta
        - result
      properties:
        meta:
          $ref: '#/components/schemas/SuccessfulMeta'
        result:
          title: Get quota groups
          type: object
          required:
            - elements
          properties:
            elements:
              type: array
              items:
                $ref: '#/components/schemas/QuotaGroup'
            nextPage:
              description: >-
                A url containing the parameters required to access the next page
                of quota groups
              type: string
      x-examples:
        example:
          meta:
            httpStatus: 200 - OK
            requestId: 48718ead-782d-4184-9241-f739543b5d22
          result:
            elements:
              - ID: QG_AQLG9E6J1aK4i7l
                Name: Quota Group 2
                Selected: false
                MultipleMatch: ReverseOrder
                Public: false
                Quotas:
                  - QO_HdEBAA2mkFJA3sB
                  - QO_gaCzAsVQD1n3okL
              - ID: QG_NjQyHmg3bpNHlEl
                Name: Quota Group 1
                Selected: true
                MultipleMatch: PlaceInAll
                Public: false
                Quotas:
                  - QO_CJuQTePP7hDwgC2
                  - QO_toOxdekfSwrWfQQ
      x-tags:
        - Schemas
    BlockDefinition:
      anyOf:
        - $ref: '#/components/schemas/ReferenceBlock'
        - $ref: '#/components/schemas/StandardBlock'
        - $ref: '#/components/schemas/TrashBlock'
        - $ref: '#/components/schemas/ConjointBlock'
      x-tags:
        - Schemas
    ConjointBlock:
      title: Conjoint Block
      description: Experience blocks limit the editable fields on the block.
      type: object
      additionalProperties: true
      required:
        - Type
        - SubType
      properties:
        Type:
          type: string
          enum:
            - ExperienceBlock
        SubType:
          description: >-
            Choice Based Conjoint Blocks hide their elements from editing using
            the Group Flow element and ViewFlow: false
          type: string
          enum:
            - CBConjoint
            - MaxDiff
      x-examples:
        example:
          Type: ExperienceBlock
          SubType: CBConjoint
          Description: Conjoint Block
          ID: BL_dia0gxVQsvJa0UR
          BlockElements: []
      x-tags:
        - Schemas
    ReferenceBlock:
      title: Reference Block
      description: Saved survey in the library that can be referenced by other surveys
      type: object
      additionalProperties: true
      required:
        - Description
        - Type
        - SubType
        - ID
        - LibraryID
        - ReferencedBlockID
      properties:
        BlockElements:
          type: array
          items:
            $ref: '#/components/schemas/BlockElements'
          nullable: true
        Type:
[...]
