openapi: 3.0.3
info:
  title: Rated API Beta
  description: >

    Welcome to Rated API Swagger doc for developers! This doc outlines the Rated
    API functionality and API architecture.


    It is separated into seven categories:


    -   **Validators**: Endpoints to query into individual validator indices or
    aggregations of validator indices.

    -   **Operators**: Endpoints to query into pre-materialized operator
    groupings.

    -   **Network**: Endpoints to query into network aggregate stats.

    -   **Slashings**: Endpoints to query into network aggregate stats.

    -   **Withdrawals (beta)**: Endpoints to query into when a withdrawal is
    expected to land.

    -   **Self Report (beta)**: Endpoint to query into all slashed validators
    and individual slashed validator indices


    [Terms of Use](https://legal.rated.network/terms/api-terms-of-use)


    [API Reference](https://api-docs.rated.network/rated-api/api-reference)
  version: 0.0.1
servers:
  - url: https://api.rated.network
tags:
  - name: Operators
  - name: Validators
  - name: Network
  - name: Slashings
  - name: Solana Validators
  - name: Polygon Validators
  - name: Polygon Delegators
  - name: Withdrawals
  - name: P2P (Beta)
  - name: Blocks
  - name: Solana Network
  - name: Pricing
  - name: Self Reports
  - name: Polygon Network
paths:
  /v0/pricingPlans:
    get:
      tags:
        - Pricing
      summary: Get Pricing Plans
      operationId: Pricing_getPlans
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PricingGetPlansResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v0/eth/validators/{validator_index_or_pubkey}/effectiveness:
    get:
      tags:
        - Validators
      summary: Get Effectiveness
      operationId: Validators_getEffectivenessAggregation
      parameters:
        - required: true
          schema:
            title: Validator Index Or Pubkey
            anyOf:
              - type: integer
                maximum: 2147483648
                minimum: 0
              - type: string
          name: validator_index_or_pubkey
          in: path
        - required: false
          schema:
            title: From
            anyOf:
              - type: integer
                maximum: 2147483648
                minimum: 0
              - type: string
          name: from
          in: query
        - required: false
          schema:
            title: Size
            type: integer
            default: 10
          name: size
          in: query
        - required: false
          schema:
            $ref: '#/components/schemas/GranularityEnum'
          name: granularity
          in: query
        - required: false
          schema:
            $ref: '#/components/schemas/FilterTypeEnum'
          name: filterType
          in: query
        - required: false
          schema:
            title: Include
            items:
              type: string
            type: array
          name: include
          in: query
        - required: false
          schema:
            $ref: '#/components/schemas/Network'
          name: X-Rated-Network
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedValidatorEffectiveness'
        '307':
          description: Validator requested by a valid PubKey
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v0/eth/validators/effectiveness:
    get:
      tags:
        - Validators
      summary: Get Effectiveness Aggregation
      operationId: Validators_getEffectivenessAggregation
      parameters:
        - required: false
          schema:
            title: Pubkeys
            items:
              type: string
            type: array
          name: pubkeys
          in: query
        - required: false
          schema:
            title: Indices
            items:
              type: integer
              maximum: 2147483648
              minimum: 0
            type: array
          name: indices
          in: query
        - required: false
          schema:
            title: From
            anyOf:
              - type: integer
                maximum: 2147483648
                minimum: 0
              - type: string
          name: from
          in: query
        - required: false
          schema:
            title: To
            anyOf:
              - type: integer
                maximum: 2147483648
                minimum: 0
              - type: string
          name: to
          in: query
        - required: false
          schema:
            $ref: '#/components/schemas/FilterTypeEnum'
          name: filterType
          in: query
        - required: false
          schema:
            title: Size
            type: integer
            maximum: 2147483648
            minimum: 0
            default: 10
          name: size
          in: query
        - required: false
          schema:
            $ref: '#/components/schemas/GranularityEnum'
          name: granularity
          in: query
        - required: false
          schema:
            $ref: '#/components/schemas/ValidatorsEffectivenessGroupByEnum'
          name: groupBy
          in: query
        - required: false
          schema:
            title: Include
            items:
              type: string
            type: array
          name: include
          in: query
        - required: false
          schema:
            $ref: '#/components/schemas/Network'
          name: X-Rated-Network
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/PaginatedValidatorEffectivenessDataOrAggregation
        '307':
          description: Validators aggregation requested by valid PubKeys
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v0/eth/validators:
    get:
      tags:
        - Validators
      summary: Get Metadata List
      operationId: Validators_listGet
      parameters:
        - required: false
          schema:
            title: From
            type: integer
            maximum: 2147483648
            minimum: 0
            default: 0
          name: from
          in: query
        - required: false
          schema:
            title: Size
            type: integer
            maximum: 200
            exclusiveMinimum: 0
            default: 100
          name: size
          in: query
        - required: false
          schema:
            title: Operatorsids
            items:
              anyOf:
                - type: string
                - type: string
            type: array
          name: operatorsIds
          in: query
        - required: false
          schema:
            title: Withdrawaladdress
            type: string
          name: withdrawalAddress
          in: query
        - required: false
          schema:
            $ref: '#/components/schemas/PoolOrNodeOperatorIdType'
          name: idType
          in: query
        - required: false
          schema:
            $ref: '#/components/schemas/Network'
          name: X-Rated-Network
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedValidatorMetadata'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v0/eth/validators/{validator_index_or_pubkey}:
    get:
      tags:
        - Validators
      summary: Get Metadata
      operationId: Validators_getMetadata
      parameters:
        - required: true
          schema:
            title: Validator Index Or Pubkey
            anyOf:
              - type: integer
                maximum: 2147483648
                minimum: 0
              - type: string
          name: validator_index_or_pubkey
          in: path
        - required: false
          schema:
            $ref: '#/components/schemas/Network'
          name: X-Rated-Network
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidatorMetadata'
        '307':
          description: Validator requested by a valid PubKey
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v0/eth/validators/{validator_index_or_pubkey}/apr:
    get:
      tags:
        - Validators
      summary: Get Apr
      operationId: Validators_getApr
      parameters:
        - required: true
          schema:
            title: Validator Index Or Pubkey
            anyOf:
              - type: integer
                maximum: 2147483648
                minimum: 0
              - type: string
          name: validator_index_or_pubkey
          in: path
        - required: true
          schema:
            $ref: '#/components/schemas/TimeWindow'
          name: window
          in: query
        - required: false
          schema:
            $ref: '#/components/schemas/AprType'
          name: apr_type
          in: query
        - required: false
          schema:
            $ref: '#/components/schemas/Network'
          name: X-Rated-Network
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidatorApr'
        '307':
          description: Validator requested by a valid PubKey
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v0/eth/operators:
    get:
      tags:
        - Operators
      summary: Get Summaries
      operationId: Operators_getSummaries
      parameters:
        - required: true
          schema:
            $ref: '#/components/schemas/TimeWindow'
          name: window
          in: query
        - required: false
          schema:
            $ref: '#/components/schemas/PoolType'
          name: poolType
          in: query
        - required: false
          schema:
            $ref: '#/components/schemas/IdType'
          name: idType
          in: query
        - required: false
          schema:
            title: From
            type: integer
          name: from
          in: query
        - required: false
          schema:
            title: Size
            type: integer
            default: 15
          name: size
          in: query
        - required: false
          schema:
            title: Parentid
            type: string
          name: parentId
          in: query
        - description: Use parentId
          required: false
          deprecated: true
          schema:
            title: Parententity
            description: Use parentId
            type: string
          name: parentEntity
          in: query
        - required: false
          schema:
            $ref: '#/components/schemas/Network'
          name: X-Rated-Network
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedOperatorEffectivenessSummary'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v0/eth/operators/percentiles:
    get:
      tags:
        - Operators
      summary: Get Percentiles
      operationId: Operators_getPercentiles
      parameters:
        - required: true
          schema:
            $ref: '#/components/schemas/TimeWindow'
          name: window
          in: query
        - required: true
          schema:
            $ref: '#/components/schemas/IdType'
          name: idType
          in: query
        - required: false
          schema:
            $ref: '#/components/schemas/Network'
          name: X-Rated-Network
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperatorsGetPercentilesResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v0/eth/operators/{operator_id}:
    get:
      tags:
        - Operators
      summary: Get Operator
      operationId: Operators_getOperatorById
      parameters:
        - required: true
          schema:
            title: Operator Id
            type: string
          name: operator_id
          in: path
        - required: false
          schema:
            $ref: '#/components/schemas/IdType'
          name: idType
          in: query
        - required: false
          schema:
            $ref: '#/components/schemas/Network'
          name: X-Rated-Network
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operator'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v0/eth/operators/{operator_id}/effectiveness:
    get:
      tags:
        - Operators
      summary: Get Effectiveness
      operationId: Operators_getEffectiveness
      parameters:
        - required: true
          schema:
            title: Operator Id
            type: string
          name: operator_id
          in: path
        - required: false
          schema:
            $ref: '#/components/schemas/IdType'
          name: idType
          in: query
        - required: false
          schema:
            title: From
            anyOf:
              - type: integer
                minimum: 0
              - type: string
                format: date
          name: from
          in: query
        - required: false
          schema:
            title: Size
            type: integer
            default: 10
          name: size
          in: query
        - required: false
          schema:
            $ref: '#/components/schemas/GranularityEnum'
          name: granularity
          in: query
        - required: false
          schema:
            $ref: '#/components/schemas/FilterTypeEnum'
          name: filterType
          in: query
        - required: false
          schema:
            title: Include
            items:
              type: string
            type: array
          name: include
          in: query
        - required: false
          schema:
            $ref: '#/components/schemas/Network'
          name: X-Rated-Network
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedOperatorEffectiveness'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v0/eth/operators/{operator_id}/relayers:
    get:
      tags:
        - Operators
      summary: Get Relayer Stats
      operationId: Operators_getRelayerStats
      parameters:
        - required: true
          schema:
            title: Operator Id
            type: string
          name: operator_id
          in: path
        - required: false
          schema:
            $ref: '#/components/schemas/IdType'
          name: idType
          in: query
        - required: false
          schema:
            $ref: '#/components/schemas/TimeWindow'
          name: window
          in: query
        - required: false
          schema:
            $ref: '#/components/schemas/Network'
          name: X-Rated-Network
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperatorsGetRelayerStatsResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v0/eth/operators/{operator_id}/apr:
    get:
      tags:
        - Operators
      summary: Get Operator Apr
      operationId: Operators_getApr
      parameters:
        - required: true
          schema:
            title: Operator Id
            type: string
          name: operator_id
          in: path
        - required: true
          schema:
            $ref: '#/components/schemas/TimeWindow'
          name: window
          in: query
        - required: false
          schema:
            $ref: '#/components/schemas/IdType'
          name: idType
          in: query
        - required: false
          schema:
            $ref: '#/components/schemas/AprType'
          name: apr_type
          in: query
        - required: false
          schema:
            $ref: '#/components/schemas/Network'
          name: X-Rated-Network
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperatorApr'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v0/eth/operators/{operator_id}/summary:
    get:
      tags:
        - Operators
      summary: Get Operator Summary
      operationId: Operators_getSummary
      parameters:
        - required: true
          schema:
            title: Operator Id
            type: string
          name: operator_id
          in: path
        - required: true
          schema:
            $ref: '#/components/schemas/TimeWindow'
          name: window
          in: query
        - required: false
          schema:
            $ref: '#/components/schemas/IdType'
          name: idType
          in: query
        - required: false
          schema:
            $ref: '#/components/schemas/Network'
          name: X-Rated-Network
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperatorEffectivenessSummary'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v0/eth/operators/{operator_id}/stakeMovement:
    get:
      tags:
        - Operators
      summary: Get Activations Exits Aggregate
      operationId: Operators_getStakeMovement
      parameters:
        - required: true
          schema:
            title: Operator Id
            type: string
          name: operator_id
          in: path
        - required: false
          schema:
            $ref: '#/components/schemas/StakeAction'
          name: stakeAction
          in: query
        - required: false
          schema:
            $ref: '#/components/schemas/TimeWindow'
          name: window
          in: query
        - required: false
          schema:
            $ref: '#/components/schemas/Network'
          name: X-Rated-Network
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperatorsGetStakeMovementResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v0/eth/network/stats:
    get:
      tags:
        - Network
      summary: Get Network Stats
      operationId: Network_getStats
      parameters:
        - required: false
          schema:
            $ref: '#/components/schemas/Network'
          name: X-Rated-Network
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkGetStatsResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v0/eth/network/overview:
    get:
      tags:
        - Network
      summary: Get Network Overview
      operationId: Network_getOverview
      parameters:
        - required: false
          schema:
            $ref: '#/components/schemas/Network'
          name: X-Rated-Network
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkGetOverviewResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v0/eth/network/capacity:
    get:
      tags:
        - Network
      summary: Get Network Churn Capacity
      operationId: Network_getChurnCapacity
      parameters:
        - required: false
          schema:
            $ref: '#/components/schemas/Network'
          name: X-Rated-Network
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkGetChurnCapacityResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v0/eth/network/capacity/pool:
    get:
      tags:
        - Network
      summary: Get Network Churn Capacity Pool
      operationId: Network_getChurnCapacityPool
      parameters:
        - required: false
          schema:
            $ref: '#/components/schemas/TimeWindow'
          name: window
          in: query
        - required: false
          schema:
            $ref: '#/components/schemas/StakeAction'
          name: stakeAction
          in: query
        - required: false
          schema:
            $ref: '#/components/schemas/Network'
          name: X-Rated-Network
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkGetChurnCapacityPoolResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v0/eth/network/dailyRewards:
    get:
      tags:
        - Network
      summary: Get Network Daily Rewards
      operationId: Network_getDailyRewards
      parameters:
        - description: The starting date (UTC) to return. For example, 2024-01-01.
          required: false
          schema:
            title: From
            description: The starting date (UTC) to return. For example, 2024-01-01.
          name: from
          in: query
        - required: false
          schema:
            title: Size
            type: integer
            minimum: 0
            default: 10
          name: size
          in: query
        - required: false
          schema:
            $ref: '#/components/schemas/Network'
          name: X-Rated-Network
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/PaginatedNetworkDailyConsensusExecutionRewards
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v0/eth/network/dailyRewards/{date}:
    get:
      tags:
        - Network
      summary: Get Daily Rewards By Day
      operationId: Network_dailyRewardsByDayGet
      parameters:
        - required: true
          schema:
            title: Date
          name: date
          in: path
        - required: false
          schema:
            $ref: '#/components/schemas/Network'
          name: X-Rated-Network
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkDailyConsensusExecutionRewards'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v0/eth/withdrawals/predicted/operators/{operator_id}:
    get:
      tags:
        - Withdrawals
      summary: Get Withdrawals Predicted By Operator
      operationId: Withdrawals_predictedOperatorsGet
      parameters:
        - required: true
          schema:
            title: Operator Id
            type: string
          name: operator_id
          in: path
        - required: false
          schema:
            title: From
            type: integer
            minimum: 0
          name: from
          in: query
        - required: false
          schema:
            title: Size
            type: integer
            default: 10
          name: size
          in: query
        - required: false
          schema:
            $ref: '#/components/schemas/Network'
          name: X-Rated-Network
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedWithdrawalsPredicted'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v0/eth/withdrawals/predicted/slot/{withdrawal_slot}:
    get:
      tags:
        - Withdrawals
      summary: Get Withdrawals Predicted By Slot
      operationId: Withdrawals_getPredictedBySlot
      parameters:
        - required: true
          schema:
            title: Withdrawal Slot
            type: integer
            maximum: 2147483648
            minimum: 0
          name: withdrawal_slot
          in: path
        - required: false
          schema:
            $ref: '#/components/schemas/Network'
          name: X-Rated-Network
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WithdrawalsGetPredictedBySlotResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v0/selfReports/validators:
    post:
      tags:
        - Self Reports
      summary: Report Validators
      operationId: SelfReports_createReportValidators
      parameters:
        - required: false
          schema:
            $ref: '#/components/schemas/Network'
          name: X-Rated-Network
          in: header
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SelfReportIn'
        required: true
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SelfReport'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v0/eth/slashings/overview:
    get:
      tags:
        - Slashings
      summary: Get Slashing Overview
      operationId: Slashings_overviewGet
      parameters:
        - required: false
          schema:
            $ref: '#/components/schemas/Network'
          name: X-Rated-Network
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SlashingsOverviewGetResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v0/eth/slashings/leaderboard:
    get:
      tags:
        - Slashings
      summary: Get Slashing Leaderboard
      operationId: Slashings_getLeaderboard
      parameters:
        - required: false
          schema:
            title: From
            type: integer
            minimum: 0
            default: 0
          name: from
          in: query
        - required: false
          schema:
            title: Size
            type: integer
            default: 10
          name: size
          in: query
        - required: false
          schema:
            $ref: '#/components/schemas/SlashingRole'
          name: slashingRole
          in: query
        - required: false
          schema:
            $ref: '#/components/schemas/Network'
          name: X-Rated-Network
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedSlashingLeaderboard'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v0/eth/slashings/cohortAnalysis:
    get:
      tags:
        - Slashings
      summary: Get Slashing Cohort Analysis
      operationId: Slashings_getCohortAnalysis
      parameters:
        - required: false
          schema:
            $ref: '#/components/schemas/Network'
          name: X-Rated-Network
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SlashingsGetCohortAnalysisResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v0/eth/slashings/timeseries:
    get:
      tags:
        - Slashings
      summary: Get Slashing Time Series
      operationId: Slashings_getTimeSeries
      parameters:
        - required: false
          schema:
            $ref: '#/components/schemas/Network'
          name: X-Rated-Network
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SlashingsGetTimeSeriesResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v0/eth/slashings:
    get:
      tags:
        - Slashings
      summary: Get Slashing Penalties All
      operationId: Slashings_getAll
      parameters:
        - required: false
          schema:
            title: From
            anyOf:
              - type: integer
                minimum: 0
              - type: string
                format: date
          name: from
          in: query
        - required: false
          schema:
            title: Size
            type: integer
            default: 10
          name: size
          in: query
        - required: false
          schema:
            $ref: '#/components/schemas/Network'
          name: X-Rated-Network
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedSlashingPenalties'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v0/eth/slashings/{validator_index_or_pubkey}:
    get:
      tags:
        - Slashings
      summary: Get Slashing Penalties
      operationId: Slashings_penaltyGet
      parameters:
        - required: true
          schema:
            title: Validator Index Or Pubkey
            anyOf:
              - type: integer
                maximum: 2147483648
                minimum: 0
              - type: string
          name: validator_index_or_pubkey
          in: path
        - required: false
          schema:
            $ref: '#/components/schemas/Network'
          name: X-Rated-Network
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SlashingPenalties'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v0/eth/p2p/geographical:
    get:
      tags:
        - P2P (Beta)
      summary: Get P2P Geographical Distribution
      operationId: P2PBeta_getGeographicalDistribution
      parameters:
        - required: false
          schema:
            $ref: '#/components/schemas/DistType'
          name: distType
          in: query
        - required: false
          schema:
            $ref: '#/components/schemas/Network'
          name: X-Rated-Network
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/P2PBetaGetGeographicalDistributionResponse
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v0/eth/p2p/hostingProvider:
    get:
      tags:
        - P2P (Beta)
      summary: Get P2P Hosting Provider Distribution
      operationId: P2PBeta_getP2pHostingProviderDistribution
      parameters:
        - required: false
          schema:
            title: From
            type: integer
            minimum: 0
            default: 0
          name: from
          in: query
        - required: false
          schema:
            title: Size
            type: integer
            default: 10
          name: size
          in: query
        - required: false
          schema:
            $ref: '#/components/schemas/DistType'
          name: distType
          in: query
        - required: false
          schema:
            $ref: '#/components/schemas/Network'
          name: X-Rated-Network
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedP2PHostingProviderDistribution'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v0/eth/blocks:
    get:
      tags:
        - Blocks
      summary: Get Blocks
      operationId: Blocks_listGet
      parameters:
        - required: false
          schema:
            title: From
            type: integer
            minimum: 0
          name: from
          in: query
        - required: false
          schema:
            title: Size
            type: integer
            minimum: 0
            default: 10
          name: size
          in: query
        - required: false
          schema:
            $ref: '#/components/schemas/Network'
          name: X-Rated-Network
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedBlocks'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v0/eth/blocks/{consensus_slot}:
    get:
      tags:
        - Blocks
      summary: Get Blocks By Slot
      operationId: Blocks_bySlotGet
      parameters:
        - required: true
          schema:
            title: Consensus Slot
            type: integer
            maximum: 2147483648
            minimum: 0
          name: consensus_slot
          in: path
        - required: false
          schema:
            $ref: '#/components/schemas/Network'
          name: X-Rated-Network
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Blocks'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v0/polygon/validators/{validator_id}/effectiveness:
    get:
      tags:
        - Polygon Validators
      summary: Validator Checkpoint Effectiveness
      operationId: PolygonValidators_getEffectiveness
      parameters:
        - required: true
          schema:
            title: Validator Id
            type: integer
            minimum: 0
          name: validator_id
          in: path
        - description: >-
            The starting checkpoint or date (UTC) to return. For example, 41100
            or 2021-01-01.
          required: false
          schema:
            title: From
            description: >-
              The starting checkpoint or date (UTC) to return. For example,
              41100 or 2021-01-01.
          name: from
          in: query
        - description: Checkpoint or UTC day
          required: false
          schema:
            $ref: '#/components/schemas/networks__polygon__granularity__Granularity'
          name: granularity
          in: query
        - required: false
          schema:
            title: Size
            type: integer
            minimum: 0
            default: 15
          name: size
          in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/api__schemas__page_polygon__PaginatedResponse
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v0/polygon/validators/{validator_id}:
    get:
      tags:
        - Polygon Validators
      summary: Validator Metadata
      operationId: PolygonValidators_getMetadata
      parameters:
        - required: true
          schema:
            title: Validator Id
            type: integer
            minimum: 0
          name: validator_id
          in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolygonValidatorMetadata'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v0/polygon/validators:
    get:
      tags:
        - Polygon Validators
      summary: Validator Summaries
      operationId: PolygonValidators_listGet
      parameters:
        - required: true
          schema:
            $ref: '#/components/schemas/TimeWindow'
          name: window
          in: query
        - description: The delegator address to filter by.
          required: false
          schema:
            title: Delegatoraddress
            description: The delegator address to filter by.
            type: string
          name: delegatorAddress
          in: query
        - required: false
          schema:
            title: From
            type: integer
            minimum: 0
          name: from
          in: query
        - required: false
          schema:
            title: Size
            type: integer
            minimum: 0
            default: 15
          name: size
          in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/api__schemas__page_polygon__PaginatedResponse
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v0/polygon/validators/{validator_id}/summary:
    get:
      tags:
        - Polygon Validators
      summary: Validator Summary
      operationId: PolygonValidators_getSummary
      parameters:
        - required: true
          schema:
            title: Validator Id
            type: integer
            minimum: 0
          name: validator_id
          in: path
        - required: true
          schema:
            $ref: '#/components/schemas/TimeWindow'
          name: window
          in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolygonValidatorSummary'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v0/polygon/network/overview:
    get:
      tags:
        - Polygon Network
      summary: Get Network Overview
      operationId: PolygonNetwork_getOverview
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolygonNetworkGetOverviewResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v0/polygon/delegators:
    get:
      tags:
        - Polygon Delegators
      summary: Delegator Summaries
      operationId: PolygonDelegators_getSummaries
      parameters:
        - required: true
          schema:
            $ref: '#/components/schemas/TimeWindow'
          name: window
          in: query
        - required: false
          schema:
            title: From
            type: integer
            minimum: 0
          name: from
          in: query
        - required: false
          schema:
            title: Size
            type: integer
            minimum: 0
            default: 15
          name: size
          in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/api__schemas__page_polygon__PaginatedResponse
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v0/polygon/delegators/{delegator_address}/summary:
    get:
      tags:
        - Polygon Delegators
      summary: Delegator Summary
      operationId: PolygonDelegators_getSummary
      parameters:
        - required: true
          schema:
            title: Delegator Address
            type: string
          name: delegator_address
          in: path
        - required: true
          schema:
            $ref: '#/components/schemas/TimeWindow'
          name: window
          in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolygonDelegatorSummary'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v0/polygon/delegators/{delegator_address}/rewards:
    get:
      tags:
        - Polygon Delegators
      summary: Delegator Rewards
      operationId: PolygonDelegators_getRewards
      parameters:
        - required: true
          schema:
            title: Delegator Address
            type: string
          name: delegator_address
          in: path
        - description: >-
            The starting (highest) checkpoint or date (UTC) to return. For
            example, 41100 or 2021-01-01.
          required: false
          schema:
            title: From
            description: >-
              The starting (highest) checkpoint or date (UTC) to return. For
              example, 41100 or 2021-01-01.
          name: from
          in: query
        - description: >-
            The ending (lowest) checkpoint or date (UTC) to return. For example,
            41100 or 2021-01-01.
          required: false
          schema:
            title: To
            description: >-
              The ending (lowest) checkpoint or date (UTC) to return. For
              example, 41100 or 2021-01-01.
          name: to
          in: query
        - description: Checkpoint or UTC day
          required: false
          schema:
            $ref: '#/components/schemas/networks__polygon__granularity__Granularity'
          name: granularity
          in: query
        - description: Maximum number of time periods (days or checkpoint) in the results.
          required: false
          schema:
            title: Size
            description: >-
              Maximum number of time periods (days or checkpoint) in the
              results.
            type: integer
            minimum: 0
            default: 15
          name: size
          in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/api__schemas__page_polygon__PaginatedResponse
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v0/solana/network/overview:
    get:
      tags:
        - Solana Network
      summary: Get Network Overview
      operationId: SolanaNetwork_getOverview
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SolanaNetworkGetOverviewResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v0/solana/network/validatorDistributions:
    get:
      tags:
        - Solana Network
      summary: Get Validator Distributions
      operationId: SolanaNetwork_validatorDistributionsGet
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SolanaValidatorDistributions'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v0/solana/validators/{validator_id}/rewards:
    get:
      tags:
        - Solana Validators
      summary: Validator Rewards
      operationId: SolanaValidators_getValidatorRewards
      parameters:
        - required: true
          schema:
            title: Validator Id
            type: string
          name: validator_id
          in: path
        - description: UTC day or slot multiple of 3k
          required: false
          schema:
            title: From
            description: UTC day or slot multiple of 3k
          name: from
          in: query
        - description: UTC day or 3k block interval
          required: false
          schema:
            $ref: '#/components/schemas/networks__solana__granularity__Granularity'
          name: granularity
          in: query
        - required: false
          schema:
            title: Size
            type: integer
            minimum: 0
            default: 15
          name: size
          in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/api__schemas__page_solana__PaginatedResponse
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v0/solana/validators/{validator_id}/performance:
    get:
      tags:
        - Solana Validators
      summary: Validator Performance
      operationId: SolanaValidators_getPerformance
      parameters:
        - required: true
          schema:
            title: Validator Id
            type: string
          name: validator_id
          in: path
        - description: UTC day or slot multiple of 3k
          required: false
          schema:
            title: From
            description: UTC day or slot multiple of 3k
          name: from
          in: query
        - description: UTC day or 3k block interval
          required: false
          schema:
            $ref: '#/components/schemas/networks__solana__granularity__Granularity'
          name: granularity
          in: query
        - required: false
          schema:
            title: Size
            type: integer
            minimum: 0
            default: 15
          name: size
          in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/api__schemas__page_solana__PaginatedResponse
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v0/solana/validators/{validator_id}/performance/latency:
    get:
      tags:
        - Solana Validators
      summary: Validator Latency
      operationId: SolanaValidators_getValidatorLatency
      parameters:
        - required: true
          schema:
            title: Validator Id
            type: string
          name: validator_id
          in: path
        - description: Slot to get vote latency from.
          required: false
          schema:
            title: From
            description: Slot to get vote latency from.
            type: integer
            minimum: 0
          name: from
          in: query
        - required: false
          schema:
            title: Size
            type: integer
            minimum: 0
            default: 15
          name: size
          in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/api__schemas__page_solana__PaginatedResponse
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v0/solana/validators/{validator_id}:
    get:
      tags:
        - Solana Validators
      summary: Validator Metadata
      operationId: SolanaValidators_metadataGet
      parameters:
        - required: true
          schema:
            title: Validator Id
            type: string
          name: validator_id
          in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SolanaValidatorMetadata'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v0/solana/validators:
    get:
      tags:
        - Solana Validators
      summary: Validator Summaries
      operationId: SolanaValidators_getSummaries
      parameters:
        - required: true
          schema:
            $ref: '#/components/schemas/TimeWindow'
          name: window
          in: query
        - required: false
          schema:
            title: From
            type: integer
            minimum: 0
          name: from
          in: query
        - required: false
          schema:
            title: Size
            type: integer
            minimum: 0
            default: 15
          name: size
          in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/api__schemas__page_solana__PaginatedResponse
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v0/solana/validators/{validator_id}/summary:
    get:
      tags:
        - Solana Validators
      summary: Validator Summary
      operationId: SolanaValidators_getSummaryById
      parameters:
        - required: true
          schema:
            title: Validator Id
            type: string
          name: validator_id
          in: path
        - required: true
          schema:
            $ref: '#/components/schemas/TimeWindow'
          name: window
          in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SolanaValidatorSummary'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    ActivationsExitsAggregate:
      title: ActivationsExitsAggregate
      properties:
        timeWindow:
          $ref: '#/components/schemas/TimeWindow'
        id:
          title: Id
          type: string
        idType:
          $ref: '#/components/schemas/IdType'
        stakeAction:
          $ref: '#/components/schemas/StakeAction'
        validatorCount:
          title: Validatorcount
          type: integer
          minimum: 0
        avgEpochsToAction:
          title: Avgepochstoaction
          type: integer
          minimum: 0
        avgMinutesToAction:
          title: Avgminutestoaction
          type: number
          minimum: 0
        amountGwei:
          title: Amountgwei
          type: integer
          minimum: 0
      type: object
      required:
        - timeWindow
        - id
        - idType
        - stakeAction
        - validatorCount
        - avgEpochsToAction
        - avgMinutesToAction
    AprType:
      title: AprType
      description: An enumeration.
      type: string
      enum:
        - backward
        - forward
    Blocks:
      title: Blocks
      properties:
        epoch:
          title: Epoch
          type: integer
          minimum: 0
        consensusSlot:
          title: Consensusslot
          type: integer
          minimum: 0
        consensusBlockRoot:
          title: Consensusblockroot
          type: string
        executionBlockNumber:
          title: Executionblocknumber
          type: integer
          minimum: 0
        executionBlockHash:
          title: Executionblockhash
          type: string
        validatorIndex:
          title: Validatorindex
          type: integer
          minimum: 0
        feeRecipient:
          title: Feerecipient
          type: string
        totalType0Transactions:
          title: Totaltype0Transactions
          type: integer
          minimum: 0
        totalType2Transactions:
          title: Totaltype2Transactions
          type: integer
          minimum: 0
        totalTransactions:
          title: Totaltransactions
          type: integer
          minimum: 0
        totalGasUsed:
          title: Totalgasused
          type: integer
          minimum: 0
        baseFeePerGas:
          title: Basefeepergas
          type: integer
          minimum: 0
        totalBurntFees:
          title: Totalburntfees
          type: integer
          minimum: 0
        totalType2TxFees:
          title: Totaltype2Txfees
          type: integer
          minimum: 0
        totalType0TxFees:
          title: Totaltype0Txfees
          type: integer
          minimum: 0
        totalPriorityFees:
          title: Totalpriorityfees
          type: integer
          minimum: 0
        baselineMev:
          title: Baselinemev
          type: integer
          minimum: 0
        executionProposerDuty:
          title: Executionproposerduty
          type: string
        executionRewards:
          title: Executionrewards
          type: integer
          minimum: 0
        missedExecutionRewards:
          title: Missedexecutionrewards
          type: integer
          minimum: 0
        consensusProposerDuty:
          title: Consensusproposerduty
          type: string
        consensusRewards:
          title: Consensusrewards
          type: integer
          minimum: 0
        missedConsensusRewards:
          title: Missedconsensusrewards
          type: number
          minimum: 0
        totalRewards:
          title: Totalrewards
          type: integer
          minimum: 0
        totalRewardsMissed:
          title: Totalrewardsmissed
          type: number
          minimum: 0
        totalType1Transactions:
          title: Totaltype1Transactions
          type: integer
          minimum: 0
        totalType1TxFees:
          title: Totaltype1Txfees
          type: integer
          minimum: 0
        blockTimestamp:
          title: Blocktimestamp
          type: string
          format: date-time
        totalSanctionedTransactions:
          title: Totalsanctionedtransactions
          type: integer
          minimum: 0
        totalPriorityFeesValidator:
          title: Totalpriorityfeesvalidator
          type: integer
          minimum: 0
        relays:
          title: Relays
          items:
            type: string
          type: array
        blockBuilderPubkeys:
          title: Blockbuilderpubkeys
          items:
            type: string
          type: array
        totalType3Transactions:
          title: Totaltype3Transactions
          type: integer
          minimum: 0
        totalType3TxFees:
          title: Totaltype3Txfees
          type: integer
          minimum: 0
      type: object
      required:
        - epoch
        - consensusSlot
        - validatorIndex
        - executionProposerDuty
        - consensusProposerDuty
        - relays
        - blockBuilderPubkeys
      example:
        epoch: 234440
        consensusSlot: 7502102
        consensusBlockRoot: \\x5668a71163c5ec5fcf34185deb36f0c3619a6f00a4ee0a547220f439913b6412
        executionBlockNumber: 18312479
        executionBlockHash: \\x5b138bff063adf335b468150d91eb8c3025a02f6716e3dd4bcee42bf81bb0fe8
        validatorIndex: 888078
        feeRecipient: \\x1f9090aae28b8a3dceadf281b0f12828e676c326
        totalType0Transactions: 19
        totalType2Transactions: 137
        totalTransactions: 156
        totalGasUsed: 11894065
        baseFeePerGas: 7413818806
        totalBurntFees: 88180442776786380
        totalType2TxFees: 11085611875723216
        totalType0TxFees: 23400203843039860
        totalPriorityFees: 34485815
        baselineMev: 0
        executionProposerDuty: proposed
        executionRewards: 34330125
        missedExecutionRewards: 0
        consensusProposerDuty: proposed
        consensusRewards: 41947807
        missedConsensusRewards: 0
        totalRewards: 76277932
        totalRewardsMissed: 0
        totalType1Transactions: 0
        totalType1TxFees: 0
        blockTimestamp: '2023-10-09T11:00:47'
        totalSanctionedTransactions: 0
        totalPriorityFeesValidator: 34330125
        relays:
          - bloxroute_regulated
          - flashbots
          - bloxroute_maxprofit
        blockBuilderPubkeys:
          - >-
            0x978a35c39c41aadbe35ea29712bccffb117cc6ebcad4d86ea463d712af1dc80131d0c650dc29ba29ef27c881f43bd587
          - >-
            0x978a35c39c41aadbe35ea29712bccffb117cc6ebcad4d86ea463d712af1dc80131d0c650dc29ba29ef27c881f43bd587
          - >-
            0x978a35c39c41aadbe35ea29712bccffb117cc6ebcad4d86ea463d712af1dc80131d0c650dc29ba29ef27c881f43bd587
        totalType3Transactions: 10
        totalType3TxFees: 1108561187572321
    ClientDistribution:
      title: ClientDistribution
      properties:
        client:
          title: Client
          type: string
        validatorShare:
          title: Validatorshare
          type: number
          minimum: 0
      type: object
      required:
        - client
        - validatorShare
    ClientEffectiveness:
      title: ClientEffectiveness
      properties:
        client:
          title: Client
          type: string
        avgValidatorEffectiveness:
          title: Avgvalidatoreffectiveness
          type: number
          minimum: 0
      type: object
      required:
        - client
        - avgValidatorEffectiveness
    ClientPercentage:
      title: ClientPercentage
      properties:
        client:
          title: Client
          type: string
        percentage:
          title: Percentage
          type: number
          minimum: 0
      type: object
      required:
        - client
        - percentage
    DistType:
      title: DistType
      description: An enumeration.
      enum:
        - all
        - pros
      type: string
    Error:
      title: Error
      properties:
        loc:
          title: Loc
          items:
            type: string
          type: array
        msg:
          title: Msg
          type: string
        type:
          title: Type
          type: string
      type: object
      required:
        - msg
        - type
    ErrorResponse:
      title: ErrorResponse
      properties:
        detail:
          title: Detail
          items:
            $ref: '#/components/schemas/Error'
          type: array
      type: object
      required:
        - detail
    FilterTypeEnum:
      title: FilterTypeEnum
      description: An enumeration.
      type: string
      enum:
        - hour
        - day
        - datetime
    GeoDistribution:
      title: GeoDistribution
      properties:
        country:
          title: Country
          type: string
        countryCode:
          title: Countrycode
          type: string
        validatorShare:
          title: Validatorshare
          type: number
          minimum: 0
      type: object
      required:
        - country
        - validatorShare
    GranularityEnum:
      title: GranularityEnum
      description: An enumeration.
      type: string
      enum:
        - hour
        - day
        - week
        - month
        - quarter
        - year
        - all
    HTTPValidationError:
      title: HTTPValidationError
      properties:
        detail:
          title: Detail
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
      type: object
    HostingDistribution:
      title: HostingDistribution
      properties:
        hostingProvider:
          title: Hostingprovider
          type: string
        validatorShare:
          title: Validatorshare
          type: number
          minimum: 0
      type: object
      required:
        - hostingProvider
        - validatorShare
    IdType:
      title: IdType
      description: An enumeration.
      type: string
      enum:
        - depositAddress
        - withdrawalAddress
        - nodeOperator
        - pool
        - poolShare
        - entity
        - validator
    Network:
      title: Network
      description: An enumeration.
      type: string
      enum:
        - mainnet
        - prater
        - holesky
    NetworkChurnCapacity:
      title: NetworkChurnCapacity
      properties:
        timeWindow:
          $ref: '#/components/schemas/TimeWindow'
        latestEpoch:
          title: Latestepoch
          type: integer
          minimum: 0
        activatedValidators:
          title: Activatedvalidators
          type: integer
          minimum: 0
        activationCapacityFilled:
          title: Activationcapacityfilled
          type: number
          minimum: 0
        exitedValidators:
          title: Exitedvalidators
          type: integer
          minimum: 0
        exitCapacityFilled:
          title: Exitcapacityfilled
          type: number
          minimum: 0
        activatedPercentage:
          title: Activatedpercentage
          type: number
          minimum: 0
        exitedPercentage:
          title: Exitedpercentage
          type: number
          minimum: 0
        churnLimit:
          title: Churnlimit
          type: integer
          minimum: 0
        activationChurnLimit:
          title: Activationchurnlimit
          type: integer
          minimum: 0
        exitChurnLimit:
          title: Exitchurnlimit
          type: integer
          minimum: 0
      type: object
      required:
        - timeWindow
        - latestEpoch
        - activatedValidators
        - activationCapacityFilled
        - exitedValidators
        - exitCapacityFilled
        - activatedPercentage
        - exitedPercentage
        - churnLimit
        - activationChurnLimit
        - exitChurnLimit
      example:
        time_window: all
        latestEpoch: 186271
        activatedValidators: 238445
        activationCapacityFilled: 0.62372
        exitedValidators: 955
        exitCapacityFilled: 0.0025
        activatedPercentage: 0.47689
        exitedPercentage: 0.00191
        churnLimit: 382294
        activationChurnLimit: 382294
        exitChurnLimit: 382294
    NetworkChurnCapacityPool:
      title: NetworkChurnCapacityPool
      properties:
        timeWindow:
          $ref: '#/components/schemas/TimeWindow'
        stakeAction:
          $ref: '#/components/schemas/StakeAction'
        latestEpoch:
          title: Latestepoch
          type: integer
          minimum: 0
        churnLimit:
          title: Churnlimit
          type: integer
          minimum: 0
        pool:
          title: Pool
          type: string
        validatorCount:
          title: Validatorcount
          type: integer
          minimum: 0
        capacityFilled:
          title: Capacityfilled
          type: number
          minimum: 0
        networkCapacityRemaining:
          title: Networkcapacityremaining
          type: number
          minimum: 0
      type: object
      required:
        - timeWindow
        - stakeAction
        - latestEpoch
        - churnLimit
        - pool
        - validatorCount
        - capacityFilled
        - networkCapacityRemaining
      example:
        time_window: 7d
        stakeAction: activation
        latestEpoch: 187225
        churnLimit: 12600
        pool: Lido
        validatorCount: 3534
        capacityFilled: 0.28048
        networkCapacityRemaining: 0.41198
    NetworkDailyConsensusExecutionRewards:
      title: NetworkDailyConsensusExecutionRewards
      properties:
        date:
          title: Date
          type: string
          format: date
        sumConsensusRewards:
          title: Sumconsensusrewards
          type: integer
          minimum: 0
        sumExecutionRewards:
          title: Sumexecutionrewards
          type: integer
          minimum: 0
        sumPriorityFees:
          title: Sumpriorityfees
          type: integer
          minimum: 0
        sumBaselineMev:
          title: Sumbaselinemev
          type: integer
          minimum: 0
      type: object
      example:
        'date:': '2024-03-01'
        sumConsensusRewards: 5065328672680
        sumExecutionRewards: 679962110741
        sumPriorityFees: 492780713029
        sumBaselineMev: 187181397712
    NetworkOverview:
      title: NetworkOverview
      properties:
        timeWindow:
          $ref: '#/components/schemas/TimeWindow'
        validatorCount:
          title: Validatorcount
          type: integer
          minimum: 0
        validatorCountDiff:
          title: Validatorcountdiff
          type: integer
        medianValidatorAgeDays:
          title: Medianvalidatoragedays
          type: integer
          minimum: 0
        activeStake:
          title: Activestake
          type: integer
          minimum: 0
        activeStakeDiff:
          title: Activestakediff
          type: integer
        avgValidatorBalance:
          title: Avgvalidatorbalance
          type: number
          minimum: 0
        avgValidatorBalanceDiff:
          title: Avgvalidatorbalancediff
          type: number
        consensusLayerRewardsPercentage:
          title: Consensuslayerrewardspercentage
          type: number
          minimum: 0
        priorityFeesPercentage:
          title: Priorityfeespercentage
          type: number
          minimum: 0
        baselineMevPercentage:
          title: Baselinemevpercentage
          type: number
          minimum: 0
        avgValidatorEffectiveness:
          title: Avgvalidatoreffectiveness
          type: number
          minimum: 0
        avgInclusionDelay:
          title: Avginclusiondelay
          type: number
          minimum: 0
        avgUptime:
          title: Avguptime
          type: number
          minimum: 0
        sumMissedSlots:
          title: Summissedslots
          type: integer
          minimum: 0
        missedSlotsPercentage:
          title: Missedslotspercentage
          type: number
          minimum: 0
        avgConsensusAprPercentage:
          title: Avgconsensusaprpercentage
          type: number
        avgExecutionAprPercentage:
          title: Avgexecutionaprpercentage
          type: number
        medianConsensusAprPercentage:
          title: Medianconsensusaprpercentage
          type: number
        medianExecutionAprPercentage:
          title: Medianexecutionaprpercentage
          type: number
        consensusRewardsRatio:
          title: Consensusrewardsratio
          type: number
        executionRewardsRatio:
          title: Executionrewardsratio
          type: number
        avgNetworkAprPercentage:
          title: Avgnetworkaprpercentage
          type: number
        medianNetworkAprPercentage:
          title: Mediannetworkaprpercentage
          type: number
        avgConsensusAprGwei:
          title: Avgconsensusaprgwei
          type: integer
        avgExecutionAprGwei:
          title: Avgexecutionaprgwei
          type: integer
        medianConsensusAprGwei:
          title: Medianconsensusaprgwei
          type: integer
        medianExecutionAprGwei:
          title: Medianexecutionaprgwei
          type: integer
        avgNetworkAprGwei:
          title: Avgnetworkaprgwei
          type: integer
        medianNetworkAprGwei:
          title: Mediannetworkaprgwei
          type: integer
        giniCoefficient:
          title: Ginicoefficient
          type: number
          minimum: 0
        clientPercentages:
          title: Clientpercentages
          items:
            $ref: '#/components/schemas/ClientPercentage'
          type: array
        clientValidatorEffectiveness:
          title: Clientvalidatoreffectiveness
          items:
            $ref: '#/components/schemas/ClientEffectiveness'
          type: array
        latestEpoch:
          title: Latestepoch
          type: integer
          minimum: 0
        activationQueueMinutes:
          title: Activationqueueminutes
          type: number
          minimum: 0
        activatingValidators:
          title: Activatingvalidators
          type: integer
          minimum: 0
        activatingStake:
          title: Activatingstake
          type: integer
          minimum: 0
        exitQueueMinutes:
          title: Exitqueueminutes
          type: number
          minimum: 0
        withdrawalQueueMinutes:
          title: Withdrawalqueueminutes
          type: number
          minimum: 0
        withdrawalProcessingQueueMinutes:
          title: Withdrawalprocessingqueueminutes
          type: number
          minimum: 0
        fullyWithdrawingValidators:
          title: Fullywithdrawingvalidators
          type: integer
          minimum: 0
        partiallyWithdrawingValidators:
          title: Partiallywithdrawingvalidators
          type: integer
          minimum: 0
        totalWithdrawingValidators:
          title: Totalwithdrawingvalidators
          type: integer
          minimum: 0
        fullyWithdrawingBalance:
          title: Fullywithdrawingbalance
          type: integer
          minimum: 0
        partiallyWithdrawingBalance:
          title: Partiallywithdrawingbalance
          type: integer
          minimum: 0
        totalWithdrawingBalance:
          title: Totalwithdrawingbalance
          type: integer
          minimum: 0
        exitingValidators:
          title: Exitingvalidators
          type: integer
          minimum: 0
        exitingStake:
          title: Exitingstake
          type: integer
          minimum: 0
        liquidStakingPenetration:
          title: Liquidstakingpenetration
          type: number
          minimum: 0
        networkNativelyRestaked:
          title: Networknativelyrestaked
          type: number
          minimum: 0
      type: object
      required:
        - timeWindow
        - validatorCount
        - medianValidatorAgeDays
        - activeStake
        - avgValidatorBalance
        - sumMissedSlots
        - missedSlotsPercentage
        - giniCoefficient
        - clientPercentages
        - latestEpoch
        - activationQueueMinutes
        - activatingValidators
        - activatingStake
        - exitQueueMinutes
        - withdrawalQueueMinutes
        - withdrawalProcessingQueueMinutes
        - fullyWithdrawingValidators
        - partiallyWithdrawingValidators
        - totalWithdrawingValidators
        - fullyWithdrawingBalance
        - partiallyWithdrawingBalance
        - totalWithdrawingBalance
        - exitingValidators
      example:
        timeWindow: all
        validatorCount: 513101
        validatorCountDiff: 0
        medianValidatorAgeDays: 446
        activeStake: 16419232000000000
        activeStakeDiff: 0
        avgValidatorBalance: 33989164381.593678
        avgValidatorBalanceDiff: 0
        consensusLayerRewardsPercentage: 71.00716294317242
        priorityFeesPercentage: 17.670898689999394
        baselineMevPercentage: 11.321938366828187
        avgValidatorEffectiveness: 96.24882777017207
        avgInclusionDelay: 1.026223700745488
        avgUptime: 99.60745479648561
        sumMissedSlots: 54305
        missedSlotsPercentage: 0.9463495357389193
        avgConsensusAprPercentage: 4.110372806103757
        avgExecutionAprPercentage: 1.8784786051796751
        medianConsensusAprPercentage: 3.892783165538195
        medianExecutionAprPercentage: 0.6112049138020833
        consensusRewardsRatio: 0.7100716294317242
        executionRewardsRatio: 0.2899283705682758
        avgNetworkAprPercentage: 5.988851411283433
        medianNetworkAprPercentage: 4.503988079340278
        avg_consensus_apr_gwei: 1315319298
        avg_execution_apr_gwei: 601113154
        median_consensus_apr_gwei: 1245690613
        median_execution_apr_gwei: 195585572
        avg_network_apr_gwei: 1916432452
        median_network_apr_gwei: 1441276185
        giniCoefficient: 0.9374772860811317
        clientPercentages:
          - client: Lighthouse
            percentage: 0.3744886640155385
          - client: Nimbus
            percentage: 0.025649007580706686
          - client: Teku
            percentage: 0.19682653817317683
          - client: Prysm
            percentage: 0.4004708894725073
          - client: Lodestar
            percentage: 0.0025649007580706685
        clientValidatorEffectiveness:
          - client: Lighthouse
            avgValidatorEffectiveness: 95.42
          - client: Nimbus
            avgValidatorEffectiveness: 93.4
          - client: Teku
            avgValidatorEffectiveness: 94.9
        latestEpoch: 162521
        activationQueueMinutes: 838.4
        activatingValidators: 787
        activatingStake: 25184000000000
        exitQueueMinutes: 25.6
        withdrawalQueueMinutes: 47392
        withdrawalProcessingQueueMinutes: 47834.2875
        fullyWithdrawingValidators: 32
        partiallyWithdrawingValidators: 35351
        totalWithdrawingValidators: 35383
        fullyWithdrawingBalance: 1024000000000
        partiallyWithdrawingBalance: 1447374543384832
        totalWithdrawingBalance: 39939418387645100
        exitingValidators: 98
        exitingStake: 3136000000000
        liquid_staking_penetration: 0.312321
        network_natively_restaked: 0.035343
    NetworkStats:
      title: NetworkStats
      properties:
        day:
          title: Day
          type: integer
          minimum: 0
        avgUptime:
          title: Avguptime
          type: number
          minimum: 0
        avgInclusionDelay:
          title: Avginclusiondelay
          type: number
          minimum: 0
        avgCorrectness:
          title: Avgcorrectness
          type: number
          minimum: 0
        avgValidatorEffectiveness:
          title: Avgvalidatoreffectiveness
          type: number
          minimum: 0
      type: object
      required:
        - day
        - avgUptime
        - avgInclusionDelay
        - avgCorrectness
        - avgValidatorEffectiveness
      example:
        day: 796
        avgUptime: 0.9957368996638016
        avgInclusionDelay: 1.0192267929181533
        avgCorrectness: 0.9908021620574459
        avgValidatorEffectiveness: 97.15146353052468
    Operator:
      title: Operator
      properties:
        id:
          title: Id
          type: string
        idType:
          $ref: '#/components/schemas/IdType'
        displayName:
          title: Displayname
          type: string
        operatorTags:
          title: Operatortags
          items:
            $ref: '#/components/schemas/OperatorTag'
          type: array
        nodeOperatorCount:
          title: Nodeoperatorcount
          type: integer
          minimum: 0
      type: object
      required:
        - id
        - idType
        - displayName
        - operatorTags
      example:
        id: Stakefish
        idType: nodeOperator
        displayName: Stakefish
        operatorTags:
          - name: operator
        nodeOperatorCount: 2
    OperatorApr:
      title: OperatorApr
      properties:
        id:
          title: Id
          type: string
        idType:
          $ref: '#/components/schemas/IdType'
        timeWindow:
          $ref: '#/components/schemas/TimeWindow'
        aprType:
          $ref: '#/components/schemas/AprType'
        percentage:
          title: Percentage
          type: number
        percentageConsensus:
          title: Percentageconsensus
          type: number
        percentageExecution:
          title: Percentageexecution
          type: number
        activeStake:
          title: Activestake
          type: number
        activeValidators:
          title: Activevalidators
          type: integer
          minimum: 0
      type: object
      required:
        - id
        - idType
        - timeWindow
        - aprType
        - percentage
        - percentageConsensus
        - percentageExecution
        - activeStake
        - activeValidators
      example:
        id: Lido
        idType: pool
        timeWindow: 1d
        aprType: backward
        percentage: 5.35
        percentageConsensus: 4.04
        percentageExecution: 1.31
        activeStake: 4823520000000000
        activeValidators: 150735
    OperatorEffectiveness:
      title: OperatorEffectiveness
      properties:
        hour:
          title: Hour
          type: integer
          minimum: 0
        day:
          title: Day
          type: integer
          minimum: 0
        startDay:
          title: Startday
          type: integer
          minimum: 0
        endDay:
          title: Endday
          type: integer
          minimum: 0
        startEpoch:
          title: Startepoch
          type: integer
          minimum: 0
        endEpoch:
          title: Endepoch
          type: integer
          minimum: 0
        id:
          title: Id
          type: string
        idType:
          $ref: '#/components/schemas/IdType'
        validatorCount:
          title: Validatorcount
          type: integer
          minimum: 0
        avgInclusionDelay:
          title: Avginclusiondelay
          type: number
          minimum: 0
        avgUptime:
          title: Avguptime
          type: number
          minimum: 0
        avgCorrectness:
          title: Avgcorrectness
          type: number
          minimum: 0
        avgProposerEffectiveness:
          title: Avgproposereffectiveness
          type: number
          minimum: 0
        avgValidatorEffectiveness:
          title: Avgvalidatoreffectiveness
          type: number
          minimum: 0
        totalUniqueAttestations:
          title: Totaluniqueattestations
          type: integer
          minimum: 0
        sumCorrectHead:
          title: Sumcorrecthead
          type: integer
          minimum: 0
        sumCorrectTarget:
          title: Sumcorrecttarget
          type: integer
          minimum: 0
        sumInclusionDelay:
          title: Suminclusiondelay
          type: number
          minimum: 0
        sumProposedCount:
          title: Sumproposedcount
          type: integer
          minimum: 0
        sumProposerDutiesCount:
          title: Sumproposerdutiescount
          type: integer
          minimum: 0
        slashesCollected:
          title: Slashescollected
          type: integer
          minimum: 0
        slashesReceived:
          title: Slashesreceived
          type: integer
          minimum: 0
        sumEarnings:
          title: Sumearnings
          type: integer
        sumEstimatedRewards:
          title: Sumestimatedrewards
          type: integer
        sumEstimatedPenalties:
          title: Sumestimatedpenalties
          type: integer
        networkPenetration:
          title: Networkpenetration
          type: number
          minimum: 0
        sumPriorityFees:
          title: Sumpriorityfees
          type: integer
          minimum: 0
        sumBaselineMev:
          title: Sumbaselinemev
          type: integer
        sumMissedExecutionRewards:
          title: Summissedexecutionrewards
          type: integer
        sumConsensusBlockRewards:
          title: Sumconsensusblockrewards
          type: integer
        sumMissedConsensusBlockRewards:
          title: Summissedconsensusblockrewards
          type: integer
        sumAllRewards:
          title: Sumallrewards
          type: integer
        sumCorrectSource:
          title: Sumcorrectsource
          type: integer
          minimum: 0
        avgAttesterEffectiveness:
          title: Avgattestereffectiveness
          type: number
          minimum: 0
        sumMissedSyncSignatures:
          title: Summissedsyncsignatures
          type: integer
          minimum: 0
        sumSyncCommitteePenalties:
          title: Sumsynccommitteepenalties
          type: number
        sumLateSourceVotes:
          title: Sumlatesourcevotes
          type: integer
          minimum: 0
        sumWrongTargetVotes:
          title: Sumwrongtargetvotes
          type: integer
          minimum: 0
        sumLateTargetVotes:
          title: Sumlatetargetvotes
          type: integer
          minimum: 0
        sumWrongTargetPenalties:
          title: Sumwrongtargetpenalties
          type: number
        sumLateTargetPenalties:
          title: Sumlatetargetpenalties
          type: number
        sumMissedAttestations:
          title: Summissedattestations
          type: integer
          minimum: 0
        sumMissedAttestationPenalties:
          title: Summissedattestationpenalties
          type: number
        sumWrongHeadVotes:
          title: Sumwrongheadvotes
          type: integer
          minimum: 0
        sumWrongHeadPenalties:
          title: Sumwrongheadpenalties
          type: number
        sumAttestationRewards:
          title: Sumattestationrewards
          type: number
          minimum: 0
        sumLateSourcePenalties:
          title: Sumlatesourcepenalties
          type: number
        sumExecutionProposedEmptyCount:
          title: Sumexecutionproposedemptycount
          type: integer
          minimum: 0
        sumMissedAttestationRewards:
          title: Summissedattestationrewards
          type: number
          minimum: 0
        sumMissedSyncCommitteeRewards:
          title: Summissedsynccommitteerewards
          type: number
          minimum: 0
        sumExternallySourcedExecutionRewards:
          title: Sumexternallysourcedexecutionrewards
          type: integer
      type: object
      required:
        - id
        - idType
      example:
        day: 796
        startEpoch: 179324
        endEpoch: 179100
        id: StakefishX
        idType: nodeOperator
        validatorCount: 16075
        avgInclusionDelay: 1.0138705386457403
        avgUptime: 0.9999466390184881
        avgCorrectness: 0.9929917401071404
        avgProposerEffectiveness: 99.53271028037379
        avgValidatorEffectiveness: 97.96642775943795
        totalUniqueAttestations: 3616682
        sumCorrectHead: 3547355
        sumCorrectTarget: 3612248
        sumInclusionDelay: 3666847
        sumProposedCount: 213
        sumProposerDutiesCount: 214
        slashesCollected: 0
        slashesReceived: 0
        sumEarnings: 56766373292
        sumEstimatedRewards: 56675239144
        sumEstimatedPenalties: -82967688
        networkPenetration: 0.03132911454080191
        sumPriorityFees: 10662221791
        sumBaselineMev: 5266131924
        sumMissedExecutionRewards: 58181568
        sumConsensusBlockRewards: 6554423259
        sumMissedConsensusBlockRewards: 31228533
        sumAllRewards: 72694727007
        sumCorrectSource: 3614403
        avgAttesterEffectiveness: 97.9580945527236
        sumMissedSyncSignatures: 2837
        sumSyncCommitteePenalties: -44317643
        sumLateSourceVotes: 2279
        sumWrongTargetVotes: 4434
        sumLateTargetVotes: 0
        sumWrongTargetPenalties: -28763358
        sumLateTargetPenalties: 0
        sumMissedAttestations: 193
        sumMissedAttestationPenalties: -1926140
        sumWrongHeadVotes: 48767
        sumWrongHeadPenalties: 0
        sumAttestationRewards: 50120815885
        sumLateSourcePenalties: -7960547
        sumExecutionProposedEmptyCount: 0
        sumMissedAttestationRewards: 269961427
        sumMissedSyncCommitteeRewards: 44317643
        sumExternallySourcedExecutionRewards: 14862131536
    OperatorEffectivenessSummary:
      title: OperatorEffectivenessSummary
      properties:
        id:
          title: Id
          type: string
        idType:
          $ref: '#/components/schemas/IdType'
        timeWindow:
          $ref: '#/components/schemas/TimeWindow'
        validatorCount:
          title: Validatorcount
          type: integer
          minimum: 0
        avgCorrectness:
          title: Avgcorrectness
          type: number
          minimum: 0
        avgInclusionDelay:
          title: Avginclusiondelay
          type: number
          minimum: 0
        avgUptime:
          title: Avguptime
          type: number
          minimum: 0
        avgValidatorEffectiveness:
          title: Avgvalidatoreffectiveness
          type: number
          minimum: 0
        clientPercentages:
          title: Clientpercentages
          items:
            $ref: '#/components/schemas/ClientPercentage'
          type: array
        networkPenetration:
          title: Networkpenetration
          type: number
          minimum: 0
        relayerPercentages:
          title: Relayerpercentages
          items:
            $ref: '#/components/schemas/RelayerPercentage'
          type: array
        nodeOperatorCount:
          title: Nodeoperatorcount
          type: integer
          minimum: 0
        operatorTags:
          title: Operatortags
          items:
            $ref: '#/components/schemas/OperatorTag'
          type: array
        displayName:
          title: Displayname
          type: string
        aprPercentage:
          title: Aprpercentage
          type: number
      type: object
      required:
        - id
        - idType
        - timeWindow
        - validatorCount
        - avgCorrectness
        - avgUptime
        - avgValidatorEffectiveness
        - clientPercentages
        - relayerPercentages
        - operatorTags
      example:
        id: '0xa40dfee99e1c85dc97fdc594b16a460717838703'
        idType: depositAddress
        timeWindow: 1d
        validatorCount: 37361
        avgCorrectness: 0.9872805930783213
        avgInclusionDelay: 1.0209945048723401
        avgUptime: 0.9990847259025307
        avgValidatorEffectiveness: 96.65219797373126
        clientPercentages:
          - client: Prysm
            percentage: 0.8462792766083606
          - client: Nimbus
            percentage: 0.04797904931317324
          - client: Teku
            percentage: 0.034044866093487496
          - client: Lighthouse
            percentage: 0.07169680798497875
        networkPenetration: 0.07855633469653803
        relayerPercentages: []
        operatorTags: []
        displayName: '0xa40dfee99e1c85dc97fdc594b16a460717838703'
    OperatorTag:
      title: OperatorTag
      properties:
        name:
          title: Name
          type: string
        path:
          title: Path
          type: string
        idType:
          $ref: '#/components/schemas/IdType'
      type: object
      required:
        - name
    P2PGeographicalDistribution:
      title: P2PGeographicalDistribution
      properties:
        country:
          title: Country
          type: string
        countryCode:
          title: Countrycode
          type: string
        validatorShare:
          title: Validatorshare
          type: number
          minimum: 0
        distType:
          $ref: '#/components/schemas/DistType'
      type: object
      required:
        - country
        - countryCode
        - validatorShare
        - distType
    P2PHostingProviderDistribution:
      title: P2PHostingProviderDistribution
      properties:
        hostingProvider:
          title: Hostingprovider
          type: string
        validatorShare:
          title: Validatorshare
          type: number
          minimum: 0
        distType:
          $ref: '#/components/schemas/DistType'
      type: object
      required:
        - hostingProvider
        - validatorShare
        - distType
    PageP2P:
      title: PageP2P
      properties:
        fromRank:
          title: Fromrank
          type: integer
        toRank:
          title: Torank
          type: integer
        size:
          title: Size
          type: integer
          exclusiveMinimum: 0
          default: 10
      type: object
      required:
        - fromRank
    PaginatedBlocks:
      title: PaginatedBlocks
      properties:
        page:
          $ref: '#/components/schemas/api__schemas__page__Page'
        total:
          title: Total
          type: integer
          minimum: 0
        data:
          title: Data
          items:
            $ref: '#/components/schemas/Blocks'
          type: array
        next:
          title: Next
          type: string
      type: object
      required:
        - page
        - total
        - data
      example:
        page:
          size: 1
        data:
          - epoch: 234440
            consensusSlot: 7502102
            consensusBlockRoot: >-
              \\x5668a71163c5ec5fcf34185deb36f0c3619a6f00a4ee0a547220f439913b6412
            executionBlockNumber: 18312479
            executionBlockHash: >-
              \\x5b138bff063adf335b468150d91eb8c3025a02f6716e3dd4bcee42bf81bb0fe8
            validatorIndex: 888078
            feeRecipient: \\x1f9090aae28b8a3dceadf281b0f12828e676c326
            totalType0Transactions: 19
            totalType2Transactions: 137
            totalTransactions: 156
            totalGasUsed: 11894065
            baseFeePerGas: 7413818806
            totalBurntFees: 88180442776786380
            totalType2TxFees: 11085611875723216
            totalType0TxFees: 23400203843039860
            totalPriorityFees: 34485815
            baselineMev: 0
            executionProposerDuty: proposed
            executionRewards: 34330125
            missedExecutionRewards: 0
            consensusProposerDuty: proposed
            consensusRewards: 41947807
            missedConsensusRewards: 0
            totalRewards: 76277932
            totalRewardsMissed: 0
            totalType1Transactions: 0
            totalType1TxFees: 0
            blockTimestamp: 123242323
            totalSanctionedTransactions: 0
            totalPriorityFeesValidator: 34330125
            relays:
              - bloxroute_regulated
              - flashbots
              - bloxroute_maxprofit
            blockBuilderPubkeys:
              - >-
                0x978a35c39c41aadbe35ea29712bccffb117cc6ebcad4d86ea463d712af1dc80131d0c650dc29ba29ef27c881f43bd587
              - >-
                0x978a35c39c41aadbe35ea29712bccffb117cc6ebcad4d86ea463d712af1dc80131d0c650dc29ba29ef27c881f43bd587
              - >-
                0x978a35c39c41aadbe35ea29712bccffb117cc6ebcad4d86ea463d712af1dc80131d0c650dc29ba29ef27c881f43bd587
            totalType3Transactions: 10
            totalType3TxFees: 1108561187572321
        next: /v0/eth/blocks/?size=10&from=7502092
        total: 1
    PaginatedNetworkDailyConsensusExecutionRewards:
      title: PaginatedNetworkDailyConsensusExecutionRewards
      properties:
        page:
          $ref: '#/components/schemas/api__schemas__page__Page'
        total:
          title: Total
          type: integer
          minimum: 0
        data:
          title: Data
          items:
            $ref: '#/components/schemas/NetworkDailyConsensusExecutionRewards'
          type: array
        next:
          title: Next
          type: string
      type: object
      required:
        - page
        - total
        - data
      example:
        page:
          size: 1
        data:
          - 'date:': '2024-03-01'
            sumConsensusRewards: 5065328672680
            sumExecutionRewards: 679962110741
            sumPriorityFees: 492780713029
            sumBaselineMev: 187181397712
        next: /v0/eth/network/dailyRewards?size=10&from=2024-02-19
        total: 1
    PaginatedOperatorEffectiveness:
      title: PaginatedOperatorEffectiveness
      properties:
        page:
          $ref: '#/components/schemas/api__schemas__page__Page'
        total:
          title: Total
          type: integer
          minimum: 0
        data:
          title: Data
          items:
            $ref: '#/components/schemas/OperatorEffectiveness'
          type: array
        next:
          title: Next
          type: string
      type: object
      required:
        - page
        - total
        - data
    PaginatedOperatorEffectivenessSummary:
      title: PaginatedOperatorEffectivenessSummary
      properties:
        page:
          $ref: '#/components/schemas/api__schemas__page__Page'
        total:
          title: Total
          type: integer
          minimum: 0
        data:
          title: Data
          items:
            $ref: '#/components/schemas/OperatorEffectivenessSummary'
          type: array
        next:
          title: Next
          type: string
      type: object
      required:
        - page
        - total
        - data
    PaginatedP2PHostingProviderDistribution:
      title: PaginatedP2PHostingProviderDistribution
      properties:
        page:
          $ref: '#/components/schemas/PageP2P'
        total:
          title: Total
          type: integer
          minimum: 0
        data:
          title: Data
          items:
            $ref: '#/components/schemas/P2PHostingProviderDistribution'
          type: array
        next:
          title: Next
          type: string
      type: object
      required:
        - page
        - total
        - data
    PaginatedSlashingLeaderboard:
      title: PaginatedSlashingLeaderboard
      properties:
        page:
          $ref: '#/components/schemas/PageP2P'
        total:
          title: Total
          type: integer
          minimum: 0
        data:
          title: Data
          items:
            $ref: '#/components/schemas/SlashingLeaderboard'
          type: array
        next:
          title: Next
          type: string
      type: object
      required:
        - page
        - total
        - data
    PaginatedSlashingPenalties:
      title: PaginatedSlashingPenalties
      properties:
        page:
          $ref: '#/components/schemas/api__schemas__page__Page'
        total:
          title: Total
          type: integer
          minimum: 0
        data:
          title: Data
          items:
            $ref: '#/components/schemas/SlashingPenalties'
          type: array
        next:
          title: Next
          type: string
      type: object
[...]
