openapi: 3.0.0
info:
  title: Remote API
  description: >-
    Talent is everywhere. Opportunity is not. Remote's mission is to create
    opportunity everywhere, empowering employers to find and hire the best
    talent, and enabling individuals to build financial and personal freedom.


    Remote is a Global HR Platform that helps companies hire, manage, and pay
    their entire team — and more effectively compete in the modern global
    economy through our comprehensive set of core solutions including, HRIS,
    payroll, international employment, contractor management, and more.


    Whether you're just starting your global journey, or looking to optimize
    your existing operations, sign up or book a demo - and see how Remote makes
    global HR simple.
  version: 0.1.0
  x-konfig-ignore:
    object-with-no-properties: true
servers:
  - url: https://gateway.remote.com
    variables: {}
  - url: https://gateway.remote-sandbox.com
    variables: {}
tags:
  - name: Employments
  - name: Expenses
  - name: Time Off
  - name: Incentives
  - name: Sandbox
  - name: Contract Amendments
  - name: Companies
  - name: Cost Calculator
  - name: Company Managers
  - name: Payslips
  - name: Recurring Incentives
  - name: Offboarding
  - name: Billing Documents
  - name: Countries
  - name: Custom Fields
  - name: Employment Contracts
  - name: Resignation
  - name: Company Department
  - name: Files
  - name: Webhook Callbacks
  - name: OAuth2
  - name: Identity Verification
  - name: Identity
  - name: Benefit Offers By Employment
  - name: Time Off Balances
  - name: Benefit Offers
paths:
  /v1/contract-amendments:
    get:
      tags:
        - Contract Amendments
      summary: List Contract Amendment
      operationId: ContractAmendments_listRequests
      security:
        - OAuth2: []
      description: List Contract Amendment requests.
      parameters:
        - description: Starts fetching records after the given page
          example: 1
          in: query
          name: page
          required: false
          schema:
            default: 1
            minimum: 1
            type: integer
            x-struct: null
            x-validate: null
        - description: Number of items per page
          example: 20
          in: query
          name: page_size
          required: false
          schema:
            default: 20
            minimum: 1
            type: integer
            x-struct: null
            x-validate: null
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListContractAmendmentResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
      callbacks: {}
      deprecated: false
    post:
      tags:
        - Contract Amendments
      summary: Create Contract Amendment
      operationId: ContractAmendments_createRequest
      security:
        - OAuth2: []
      description: >+
        Creates a Contract Amendment request.


        This endpoint requires and returns country-specific data. The exact
        required and returned fields will

        vary depending on which country the employment is in. To see the list of
        parameters for each country,

        see the **Show form schema** endpoint under the [Contract
        Amendments](https://gateway.remote.com/v1/docs/openapi.html) category.


        Please note that the compliance requirements for each country are
        subject to change according to local

        laws. Given its continual updates, using Remote's
        [json-schema-form](https://remote.com/resources/api/how-json-schemas-work)
        should be considered in order to avoid

        compliance issues and to have the latest version of a country
        requirements.


        If you are using this endpoint to build an integration, make sure you
        are dynamically collecting or

        displaying the latest parameters for each country by querying the _"Show
        form schema"_ endpoint.


        For more information on JSON Schemas, see the **How JSON Schemas work**
        documentation.


        To learn how you can dynamically generate forms to display in your UI,
        see the documentation for

        the
        [json-schema-form](https://remote.com/resources/api/how-json-schemas-work)
        tool.

      parameters: []
      requestBody:
        description: Contract Amendment
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateContractAmendmentParams'
        required: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractAmendmentResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
      callbacks: {}
      deprecated: false
  /v1/timeoff/{id}:
    get:
      tags:
        - Time Off
      summary: Show Time Off
      operationId: TimeOff_getRecord
      security:
        - OAuth2: []
      description: Shows a single Time Off record
      parameters:
        - description: Timeoff ID
          example: 93t3j-timeoff-id-9suej43
          in: path
          name: id
          required: true
          schema:
            type: string
            x-struct: null
            x-validate: null
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimeoffResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
        '429':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
      callbacks: {}
      deprecated: false
    patch:
      tags:
        - Time Off
      summary: Update Time Off
      operationId: TimeOff_updateRecord
      security:
        - OAuth2: []
      description: >-
        Updates a Time Off record. This endpoint can also be used for cancelling
        a time off.
      parameters:
        - description: Timeoff ID
          example: 93t3j-timeoff-id-9suej43
          in: path
          name: id
          required: true
          schema:
            type: string
            x-struct: null
            x-validate: null
      requestBody:
        description: UpdateTimeoff
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateApprovedTimeoffParams'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimeoffResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
        '429':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
      callbacks: {}
      deprecated: false
    put:
      tags:
        - Time Off
      summary: Update Time Off
      operationId: TimeOff_updateRecord
      security:
        - OAuth2: []
      description: >-
        Updates a Time Off record. This endpoint can also be used for cancelling
        a time off.
      parameters:
        - description: Timeoff ID
          example: 93t3j-timeoff-id-9suej43
          in: path
          name: id
          required: true
          schema:
            type: string
            x-struct: null
            x-validate: null
      requestBody:
        description: UpdateTimeoff
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateApprovedTimeoffParams'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimeoffResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
        '429':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
      callbacks: {}
      deprecated: false
  /v1/incentives:
    get:
      tags:
        - Incentives
      summary: List Incentives
      operationId: Incentives_listAll
      security:
        - OAuth2: []
      description: Lists all Incentives of a company
      parameters:
        - description: Filter by Employment ID
          example: 93t3j-employment-id-9suej43
          in: query
          name: employment_id
          required: false
          schema:
            type: string
            x-struct: null
            x-validate: null
        - description: Filter by Incentive status
          example: paid
          in: query
          name: status
          required: false
          schema:
            type: string
            x-struct: null
            x-validate: null
        - description: Filter by Recurring Incentive id
          example: 2f900aaf-4952-4ec4-ac7c-2b917a2b4da9
          in: query
          name: recurring_incentive_id
          required: false
          schema:
            type: string
            x-struct: null
            x-validate: null
        - description: Starts fetching records after the given page
          example: 1
          in: query
          name: page
          required: false
          schema:
            type: integer
            x-struct: null
            x-validate: null
        - description: >-
            Change the amount of records returned per page, defaults to 20,
            limited to 100
          example: 30
          in: query
          name: page_size
          required: false
          schema:
            type: integer
            x-struct: null
            x-validate: null
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListIncentivesResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
      callbacks: {}
    post:
      tags:
        - Incentives
      summary: Create Incentive
      operationId: Incentives_createIncentive
      security:
        - OAuth2: []
      description: >
        Creates an Incentive.


        Incentives use the currency of the employment specified provided in the
        `employment_id` field.
      parameters: []
      requestBody:
        description: Incentive
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOneTimeIncentiveParams'
        required: false
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncentiveResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
      callbacks: {}
  /v1/custom-fields:
    get:
      tags:
        - Custom Fields
      summary: Lists custom fields definitions
      operationId: CustomFields_listDefinitions
      description: Returns custom fields definitions
      parameters:
        - description: Starts fetching records after the given page
          example: 1
          in: query
          name: page
          required: false
          schema:
            type: integer
            x-struct: null
            x-validate: null
        - description: >-
            Change the amount of records returned per page, defaults to 20,
            limited to 100
          example: 30
          in: query
          name: page_size
          required: false
          schema:
            type: integer
            x-struct: null
            x-validate: null
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListEmploymentCustomFieldsResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
      callbacks: {}
  /v1/cost-calculator/estimation-pdf:
    post:
      tags:
        - Cost Calculator
      summary: Creates a cost estimation of employments
      operationId: CostCalculator_generateEstimationPdf
      parameters: []
      requestBody:
        description: Estimate params
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CostCalculatorEstimateParams'
        required: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CostCalculatorEstimatePDFResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
      callbacks: {}
      deprecated: false
  /v1/incentives/{id}:
    delete:
      tags:
        - Incentives
      summary: Delete an Incentive
      operationId: Incentives_removeIncentive
      security:
        - OAuth2: []
      description: >
        Delete an incentive.


        `one_time` incentives that have the following status **CANNOT** be
        deleted:

        * `processing`

        * `paid`
      parameters:
        - description: Incentive ID
          in: path
          name: id
          required: true
          schema:
            type: string
            x-struct: null
            x-validate: null
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
      callbacks: {}
    get:
      tags:
        - Incentives
      summary: Show Incentive
      operationId: Incentives_showDetails
      security:
        - OAuth2: []
      description: Show an Incentive's details
      parameters:
        - description: Incentive ID
          in: path
          name: id
          required: true
          schema:
            type: string
            x-struct: null
            x-validate: null
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncentiveResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
      callbacks: {}
    patch:
      tags:
        - Incentives
      summary: Update Incentive
      operationId: Incentives_updateIncentive
      security:
        - OAuth2: []
      description: >
        Updates an Incentive.


        Incentives use the currency of the employment specified provided in the
        `employment_id` field.


        The API doesn't support updating paid incentives.
      parameters:
        - description: Incentive ID
          in: path
          name: id
          required: true
          schema:
            type: string
            x-struct: null
            x-validate: null
      requestBody:
        description: Incentive
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateIncentiveParams'
        required: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncentiveResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
      callbacks: {}
    put:
      tags:
        - Incentives
      summary: Update Incentive
      operationId: Incentives_updateIncentive
      security:
        - OAuth2: []
      description: >
        Updates an Incentive.


        Incentives use the currency of the employment specified provided in the
        `employment_id` field.


        The API doesn't support updating paid incentives.
      parameters:
        - description: Incentive ID
          in: path
          name: id
          required: true
          schema:
            type: string
            x-struct: null
            x-validate: null
      requestBody:
        description: Incentive
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateIncentiveParams'
        required: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncentiveResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
      callbacks: {}
  /v1/payslips:
    get:
      tags:
        - Payslips
      summary: List payslips
      operationId: Payslips_listAll
      description: >
        Lists all payslips belonging to a company. Can also filter for a single
        employment belonging

        to that company.
      parameters:
        - description: Employment ID
          example: 93t3j-employment-id-9suej43
          in: query
          name: employment_id
          required: false
          schema:
            type: string
            x-struct: null
            x-validate: null
        - description: >-
            Filters by payslips `issued_at` field, after or on the same day than
            the given date
          example: '"2022-12-15"'
          in: query
          name: start_date
          required: false
          schema:
            type: string
            x-struct: null
            x-validate: null
        - description: >-
            Filters by payslips `issued_at` field, before or or the same day
            than the given date
          example: '"2023-12-15"'
          in: query
          name: end_date
          required: false
          schema:
            type: string
            x-struct: null
            x-validate: null
        - description: >-
            Filters by payslips `expected_payout_date` field, after or on the
            same day than the given date
          example: '"2022-12-15"'
          in: query
          name: expected_payout_start_date
          required: false
          schema:
            type: string
            x-struct: null
            x-validate: null
        - description: >-
            Filters by payslips `expected_payout_date` field, before or or the
            same day than the given date
          example: '"2023-12-15"'
          in: query
          name: expected_payout_end_date
          required: false
          schema:
            type: string
            x-struct: null
            x-validate: null
        - description: Starts fetching records after the given page
          example: 1
          in: query
          name: page
          required: false
          schema:
            type: integer
            x-struct: null
            x-validate: null
        - description: >-
            Change the amount of records returned per page, defaults to 20,
            limited to 100
          example: 30
          in: query
          name: page_size
          required: false
          schema:
            type: integer
            x-struct: null
            x-validate: null
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPayslipsResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
      callbacks: {}
  /auth/oauth2/token:
    post:
      tags:
        - OAuth2
      summary: Token
      operationId: OAuth2_exchangeToken
      security:
        - OAuth2: []
      description: >-
        Endpoint to exchange tokens in the Authorization Code, Client
        Credentials and Refresh Token flows
      parameters: []
      requestBody:
        description: OAuth2Token
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAuth2TokenParams'
        required: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuth2Tokens'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
      callbacks: {}
  /v1/employment-contracts/{employment_id}/pending-changes:
    get:
      tags:
        - Employment Contracts
      summary: Get employment contract pending changes
      operationId: EmploymentContracts_getPendingChanges
      description: >-
        Get all the pending changes (waiting for aproval or signature) for the
        employment contract.
      parameters:
        - description: Employment ID
          example: 93t3j-employment_id-9suej43
          in: path
          name: employment_id
          required: true
          schema:
            type: string
            x-struct: null
            x-validate: null
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmploymentContractPendingChangesResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
      callbacks: {}
      deprecated: false
  /v1/timeoff:
    get:
      tags:
        - Time Off
      summary: List Time Off
      operationId: TimeOff_listRecords
      security:
        - OAuth2: []
      description: Lists all Time Off records.
      parameters:
        - description: Only show time off for a specific employment
          example: 31b8e49b-aa1c-47af-849c-3d0a53e20e0d
          in: query
          name: employment_id
          required: false
          schema:
            type: string
            x-struct: null
            x-validate: null
        - description: Filter time off by its type
          example: sick_leave
          in: query
          name: timeoff_type
          required: false
          schema:
            $ref: '#/components/schemas/TimeoffType'
        - description: Filter time off by its status
          example: approved
          in: query
          name: status
          required: false
          schema:
            $ref: '#/components/schemas/TimeoffStatus'
        - description: Sort order
          example: asc
          in: query
          name: order
          required: false
          schema:
            enum:
              - asc
              - desc
            type: string
            x-struct: null
            x-validate: null
        - description: Field to sort by
          example: timeoff_type
          in: query
          name: sort_by
          required: false
          schema:
            enum:
              - timeoff_type
              - status
            type: string
            x-struct: null
            x-validate: null
        - description: Starts fetching records after the given page
          example: 1
          in: query
          name: page
          required: false
          schema:
            default: 1
            minimum: 1
            type: integer
            x-struct: null
            x-validate: null
        - description: Number of items per page
          example: 20
          in: query
          name: page_size
          required: false
          schema:
            default: 20
            minimum: 1
            type: integer
            x-struct: null
            x-validate: null
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTimeoffResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
        '429':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
      callbacks: {}
      deprecated: false
    post:
      tags:
        - Time Off
      summary: Create Time Off
      operationId: TimeOff_recordCreate
      security:
        - OAuth2: []
      description: Creates a Time Off record
      parameters: []
      requestBody:
        description: Timeoff
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateApprovedTimeoffParams'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimeoffResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
        '429':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
      callbacks: {}
      deprecated: false
  /v1/employments/{employment_id}:
    get:
      tags:
        - Employments
      summary: Show employment
      operationId: Employments_getEmploymentInfo
      security:
        - OAuth2: []
      description: >+
        Shows all the information of an employment.


        This endpoint requires and returns country-specific data. The exact
        required and returned fields will

        vary depending on which country the employment is in. To see the list of
        parameters for each country,

        see the **Show form schema** endpoint under the
        [Countries](https://gateway.remote.com/v1/docs/openapi.html) category.


        Please note that the compliance requirements for each country are
        subject to change according to local

        laws. Given its continual updates, using Remote's
        [json-schema-form](https://remote.com/resources/api/how-json-schemas-work)
        should be considered in order to avoid

        compliance issues and to have the latest version of a country
        requirements.


        If you are using this endpoint to build an integration, make sure you
        are dynamically collecting or

        displaying the latest parameters for each country by querying the _"Show
        form schema"_ endpoint.


        For more information on JSON Schemas, see the **How JSON Schemas work**
        documentation.


        To learn how you can dynamically generate forms to display in your UI,
        see the documentation for

        the
        [json-schema-form](https://remote.com/resources/api/how-json-schemas-work)
        tool.

      parameters:
        - description: Employment ID
          example: 93t3j-employment-id-9suej43
          in: path
          name: employment_id
          required: true
          schema:
            type: string
            x-struct: null
            x-validate: null
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmploymentResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
      callbacks: {}
    patch:
      tags:
        - Employments
      summary: Update employment
      operationId: Employments_updateData
      security:
        - OAuth2: []
      description: >
        Updates an employment.


        **For `created` employments:** You can change all basic params and
        onboarding tasks or perform a per onboarding task update. You can also
        update basic_information.


        **For `active` employments:** You can update the manager (`manager_id`
        field), emergency_contact_details and address_details.


        This endpoint requires and returns country-specific data. The exact
        required and returned fields will

        vary depending on which country the employment is in. To see the list of
        parameters for each country,

        see the **Show form schema** endpoint under the
        [Countries](https://gateway.remote.com/v1/docs/openapi.html) category.


        Please note that the compliance requirements for each country are
        subject to change according to local

        laws. Given its continual updates, using Remote's
        [json-schema-form](https://remote.com/resources/api/how-json-schemas-work)
        should be considered in order to avoid

        compliance issues and to have the latest version of a country
        requirements.


        If you are using this endpoint to build an integration, make sure you
        are dynamically collecting or

        displaying the latest parameters for each country by querying the _"Show
        form schema"_ endpoint.


        For more information on JSON Schemas, see the **How JSON Schemas work**
        documentation.


        To learn how you can dynamically generate forms to display in your UI,
        see the documentation for

        the
        [json-schema-form](https://remote.com/resources/api/how-json-schemas-work)
        tool.



        #### Automatically inviting an employee


        When you submit the `contract_details` and `pricing_plan_details`,
        Remote should have all the required data to automatically

        send an invite to the employee. You can tell if an automatic invite has
        been sent by looking at the `employment_lifecycle_stage`

        field value. If its value is `employee_self_enrollment`, it means the
        employee has received an email to join the Remote platform

        at their `personal_email`.


        After an automatic invite is sent to an employee, **you will not be able
        to update employment data through the Remote API**.

        After onboarding, only a limited set of employment data will be
        available for updates, such as `emergency_contact_details`.

        If you want to provide additional information for an employment, please
        make sure to do so **before** the employee is invited.

        We block updates to some employment data because employees need to agree
        to amendments in certain cases,

        such as when there are changes to their contract_details.

        Currently, these amendments can only be done through the Remote UI.


        Please contact Remote if you need to update contractors via API since
        it's currently not supported.
      parameters:
        - description: Employment ID
          example: 93t3j-employment-id-9suej43
          in: path
          name: employment_id
          required: true
          schema:
            type: string
            x-struct: null
            x-validate: null
      requestBody:
        description: Employment params
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmploymentFullParams'
        required: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmploymentResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
      callbacks: {}
    put:
      tags:
        - Employments
      summary: Update employment
      operationId: Employments_updateDetails
      security:
        - OAuth2: []
      description: >
        Updates an employment.


        **For `created` employments:** You can change all basic params and
        onboarding tasks or perform a per onboarding task update. You can also
        update basic_information.


        **For `active` employments:** You can update the manager (`manager_id`
        field), emergency_contact_details and address_details.


        This endpoint requires and returns country-specific data. The exact
        required and returned fields will

        vary depending on which country the employment is in. To see the list of
        parameters for each country,

        see the **Show form schema** endpoint under the
        [Countries](https://gateway.remote.com/v1/docs/openapi.html) category.


        Please note that the compliance requirements for each country are
        subject to change according to local

        laws. Given its continual updates, using Remote's
        [json-schema-form](https://remote.com/resources/api/how-json-schemas-work)
        should be considered in order to avoid

        compliance issues and to have the latest version of a country
        requirements.


        If you are using this endpoint to build an integration, make sure you
        are dynamically collecting or

        displaying the latest parameters for each country by querying the _"Show
        form schema"_ endpoint.


        For more information on JSON Schemas, see the **How JSON Schemas work**
        documentation.


        To learn how you can dynamically generate forms to display in your UI,
        see the documentation for

        the
        [json-schema-form](https://remote.com/resources/api/how-json-schemas-work)
        tool.



        #### Automatically inviting an employee


        When you submit the `contract_details` and `pricing_plan_details`,
        Remote should have all the required data to automatically

        send an invite to the employee. You can tell if an automatic invite has
        been sent by looking at the `employment_lifecycle_stage`

        field value. If its value is `employee_self_enrollment`, it means the
        employee has received an email to join the Remote platform

        at their `personal_email`.


        After an automatic invite is sent to an employee, **you will not be able
        to update employment data through the Remote API**.

        After onboarding, only a limited set of employment data will be
        available for updates, such as `emergency_contact_details`.

        If you want to provide additional information for an employment, please
        make sure to do so **before** the employee is invited.

        We block updates to some employment data because employees need to agree
        to amendments in certain cases,

        such as when there are changes to their contract_details.

        Currently, these amendments can only be done through the Remote UI.


        Please contact Remote if you need to update contractors via API since
        it's currently not supported.
      parameters:
        - description: Employment ID
          example: 93t3j-employment-id-9suej43
          in: path
          name: employment_id
          required: true
          schema:
            type: string
            x-struct: null
            x-validate: null
      requestBody:
        description: Employment params
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmploymentFullParams'
        required: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmploymentResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
      callbacks: {}
  /v1/payslips/{id}:
    get:
      tags:
        - Payslips
      summary: Show payslip
      operationId: Payslips_showPayslip
      security:
        - OAuth2: []
      description: >
        Given an ID, shows a payslip.


        Please contact api-support@remote.com to request access to this
        endpoint.
      parameters:
        - description: Payslip ID
          example: 93t3j-payslip-id-9suej43
          in: path
          name: id
          required: true
          schema:
            type: string
            x-struct: null
            x-validate: null
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayslipResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
      callbacks: {}
  /v1/incentives/recurring/{id}:
    delete:
      tags:
        - Recurring Incentives
      summary: Delete a Recurring Incentive
      operationId: RecurringIncentives_deleteScheduled
      security:
        - OAuth2: []
      description: >
        Delete a Recurring Incentive, that is, a monthly paid incentive.


        Internally, Remote schedules upcoming incentives. As such, when you
        attempt to

        delete a recurring incentive, Remote will **ONLY** delete scheduled
        incentives

        with the `pending` status.


        Incentives payments that are already scheduled and cannot be deleted
        will be

        included in the response, in case you need to reference them.
      parameters:
        - description: Recurring Incentive ID
          in: path
          name: id
          required: true
          schema:
            type: string
            x-struct: null
            x-validate: null
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteRecurringIncentiveResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
      callbacks: {}
  /v1/sandbox/employments/{employment_id}:
    patch:
      tags:
        - Sandbox
      summary: Update employment
      operationId: Sandbox_updateEmploymentState
      security:
        - OAuth2: []
      description: >
        Updates an employment. Use this endpoint to modify employment states for
        testing

        in the Sandbox environment. This endpoint will respond with a 404
        outside of the

        Sandbox environment.


        For updating an employment's parameters outside of testing purposes, use
        [this

        Employment update
        endpoint](https://gateway.remote.com/v1/docs/openapi.html).
      parameters:
        - description: Employment ID
          example: e3ee69d7-1293-4664-92fc-02625dae5247
          in: path
          name: employment_id
          required: true
          schema:
            type: string
            x-struct: null
            x-validate: null
      requestBody:
        description: Employment params
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmploymentUpdateParams'
        required: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmploymentResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
      callbacks: {}
    put:
      tags:
        - Sandbox
      summary: Update employment
      operationId: Sandbox_employmentUpdate
      security:
        - OAuth2: []
      description: >
        Updates an employment. Use this endpoint to modify employment states for
        testing

        in the Sandbox environment. This endpoint will respond with a 404
        outside of the

        Sandbox environment.


        For updating an employment's parameters outside of testing purposes, use
        [this

        Employment update
        endpoint](https://gateway.remote.com/v1/docs/openapi.html).
      parameters:
        - description: Employment ID
          example: e3ee69d7-1293-4664-92fc-02625dae5247
          in: path
          name: employment_id
          required: true
          schema:
            type: string
            x-struct: null
            x-validate: null
      requestBody:
        description: Employment params
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmploymentUpdateParams'
        required: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmploymentResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
      callbacks: {}
  /v1/employment-contracts:
    get:
      tags:
        - Employment Contracts
      summary: List Employment Contract.
      operationId: EmploymentContracts_getHistory
      description: >-
        Get the employment contract history (list of all contracts active or
        not) for a given employment.
      parameters:
        - description: Employment ID
          example: 93t3j-employment_id-9suej43
          in: query
          name: employment_id
          required: true
          schema:
            type: string
            x-struct: null
            x-validate: null
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListEmploymentContractResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
      callbacks: {}
      deprecated: false
  /v1/resignations/{employment_request_id}/resignation-letter:
    get:
      tags:
        - Resignation
      summary: Download a resignation letter
      operationId: Resignation_downloadLetter
      description: Downloads a resignation letter from an employment request.
      parameters:
        - description: The employment request ID
          example: 3ab2e491-ad1c-47af-849c-3d0a53e20e0d
          in: path
          name: employment_request_id
          required: true
          schema:
            type: string
            x-struct: null
            x-validate: null
      responses:
        '200':
          description: Success
          content:
            application/msword:
              schema:
                $ref: '#/components/schemas/GenericFile'
            application/pdf:
              schema:
                $ref: '#/components/schemas/GenericFile'
            application/vnd.openxmlformats-officedocument.wordprocessingml.document:
              schema:
                $ref: '#/components/schemas/GenericFile'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
        '429':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
      callbacks: {}
      deprecated: false
  /v1/expenses:
    get:
      tags:
        - Expenses
      summary: List expenses
      operationId: Expenses_listRecords
      security:
        - OAuth2: []
      description: Lists all expenses records
      parameters:
        - description: Starts fetching records after the given page
          example: 1
          in: query
          name: page
          required: false
          schema:
            type: integer
            x-struct: null
            x-validate: null
        - description: >-
            Change the amount of records returned per page, defaults to 20,
            limited to 100
          example: 30
          in: query
          name: page_size
          required: false
          schema:
            type: integer
            x-struct: null
            x-validate: null
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListExpenseResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
      callbacks: {}
    post:
      tags:
        - Expenses
      summary: Create expense
      operationId: Expenses_createApprovedExpense
      security:
        - OAuth2: []
      description: Creates an **approved** expense
      parameters: []
      requestBody:
        description: Expenses
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ParamsToCreateExpense'
        required: false
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpenseResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
      callbacks: {}
  /v1/company-departments:
    get:
      tags:
        - Company Department
      summary: List Company Departments
      operationId: CompanyDepartment_list
      description: >
        Lists all departments for the authorized company specified in the
        request.
      parameters:
        - description: Company ID
          example: d2091b1e-b1a4-437a-91ea-2809ffbb6d59
          in: query
          name: company_id
          required: true
          schema:
            type: string
            x-struct: null
            x-validate: null
        - description: >-
            Paginate option. Default: true. When true, paginates response;
            otherwise, does not.
          example: false
          in: query
          name: paginate
          required: false
          schema:
            type: boolean
            x-struct: null
            x-validate: null
        - description: Starts fetching records after the given page
          example: 1
          in: query
          name: page
          required: false
          schema:
            default: 1
            minimum: 1
            type: integer
            x-struct: null
            x-validate: null
        - description: Number of items per page
          example: 20
          in: query
          name: page_size
          required: false
          schema:
            default: 20
            minimum: 1
            type: integer
            x-struct: null
            x-validate: null
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCompanyDepartmentsPaginatedResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
      callbacks: {}
      deprecated: false
    post:
      tags:
        - Company Department
      summary: Create New Department
      operationId: CompanyDepartment_createNewDepartment
      description: >-
        Creates a new department in the specified company. Department names may
        be non-unique and must be non-empty with no more than 255 characters
        (Unicode code points).
      parameters: []
      requestBody:
        description: Create Company Department request params
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCompanyDepartmentParams'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyDepartmentCreatedResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
      callbacks: {}
      deprecated: false
  /v1/expenses/{id}:
    get:
      tags:
        - Expenses
      summary: Show expense
      operationId: Expenses_showRecord
      security:
        - OAuth2: []
      description: Shows a single expense record
      parameters:
        - description: Expense ID
          in: path
          name: id
          required: true
          schema:
            type: string
            x-struct: null
            x-validate: null
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpenseResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
      callbacks: {}
    patch:
      tags:
        - Expenses
      summary: Update an expense
      operationId: Expenses_updateRecord
      description: Updates an expense
      parameters:
        - description: Expense ID
          in: path
          name: id
          required: true
          schema:
            type: string
            x-struct: null
            x-validate: null
      requestBody:
        description: Expenses
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateExpenseParams'
        required: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpenseResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
      callbacks: {}
    put:
      tags:
        - Expenses
      summary: Update an expense
      operationId: Expenses_updateExpense
      description: Updates an expense
      parameters:
        - description: Expense ID
          in: path
          name: id
          required: true
          schema:
            type: string
            x-struct: null
            x-validate: null
      requestBody:
        description: Expenses
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateExpenseParams'
        required: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpenseResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
      callbacks: {}
  /v1/identity-verification/{employment_id}:
    get:
      tags:
        - Identity Verification
      summary: Get Employment Profile
      operationId: IdentityVerification_getEmploymentProfile
      description: >
        Gets necessary information to perform the identity verification of an
        employee.
      parameters:
        - description: Employment ID
          example: 0a8s2d1-company-id-2e3f4th
          in: path
          name: employment_id
          required: true
          schema:
            type: string
            x-struct: null
            x-validate: null
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentityVerificationResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
      callbacks: {}
  /v1/company-managers:
    get:
      tags:
        - Company Managers
      summary: List Company Managers
      operationId: CompanyManagers_listManagers
      security:
        - OAuth2: []
      description: >
        List all company managers of an integration. If filtered by the
        company_id param,

        it lists only company managers belonging to the specified company.
      parameters:
        - description: >-
            A Company ID to filter the results (only applicable for Integration
            Partners).
          example: 0a8s2d1-company-id-2e3f4th
          in: query
          name: company_id
          required: false
          schema:
            type: string
            x-struct: null
            x-validate: null
        - description: Starts fetching records after the given page
          example: 1
          in: query
          name: page
          required: false
          schema:
            type: integer
            x-struct: null
            x-validate: null
        - description: >-
            Change the amount of records returned per page, defaults to 20,
            limited to 100
          example: 30
          in: query
          name: page_size
          required: false
          schema:
            type: integer
            x-struct: null
            x-validate: null
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyManagersResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
      callbacks: {}
    post:
      tags:
        - Company Managers
      summary: Create and invite a Company Manager
      operationId: CompanyManagers_createInvite
      security:
        - OAuth2: []
      description: >-
        Create a Company Manager and sends the invitation email for signing in
        to the Remote Platform.
      parameters: []
      requestBody:
        description: Company Manager params
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanyManagerParams'
        required: false
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyManagerData'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
      callbacks: {}
  /v1/payslips/{payslip_id}/pdf:
    get:
      tags:
        - Payslips
      summary: Download payslip in the PDF format
      operationId: Payslips_downloadPdf
      security:
        - OAuth2: []
      description: >
        Given a Payslip ID, downloads a payslip.

        It is important to note that each country has a different payslip format
        and they are not authored by Remote.
      parameters:
        - description: Payslip ID
          example: 93t3j-payslip-id-9suej43
          in: path
          name: payslip_id
          required: true
          schema:
            type: string
            x-struct: null
            x-validate: null
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayslipDownloadResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
      callbacks: {}
  /v1/identity/current:
    get:
      tags:
        - Identity
      summary: Get token identity
      operationId: Identity_getTokenInfo
      security:
        - OAuth2: []
      description: >
        Shows information about the entities that can be controlled by the
        current auth token.
      parameters: []
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentityCurrentResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
      callbacks: {}
  /v1/files/{id}:
    get:
      tags:
        - Files
      summary: Download file
      operationId: Files_downloadFile
      description: >
        Downloads a file.


        Please contact api-support@remote.com to request access to this
        endpoint.
      parameters:
        - description: File ID
          example: 93t3j-file-id-9suej43
          in: path
          name: id
          required: true
          schema:
            type: string
            x-struct: null
            x-validate: null
      responses:
        '200':
          description: Success
          content:
            application/pdf:
              schema:
                $ref: '#/components/schemas/GenericFile'
          headers:
            content-disposition:
              description: 'content-disposition: attachment; filename=some_file.pdf'
              style: simple
            content-type:
              description: application/pdf; charset=utf-8
              style: simple
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
      callbacks: {}
  /v1/offboardings:
    get:
      tags:
        - Offboarding
      summary: List Offboarding
      operationId: Offboarding_listRequests
      description: Lists Offboarding requests.
      parameters:
        - description: Filter by Employment ID
          example: 93t3j-employment-id-9suej43
          in: query
          name: employment_id
          required: false
          schema:
            type: string
            x-struct: null
            x-validate: null
        - description: Filter by offboarding type
          example: paid
          in: query
          name: type
          required: false
          schema:
            type: string
            x-struct: null
            x-validate: null
        - description: >
            By default, the results do not include confidential termination
            requests.

            Send `include_confidential=true` to include confidential requests in
            the response.
          example: 'true'
          in: query
          name: include_confidential
          required: false
          schema:
            type: string
            x-struct: null
            x-validate: null
        - description: Starts fetching records after the given page
          example: 1
          in: query
          name: page
          required: false
          schema:
            type: integer
            x-struct: null
            x-validate: null
        - description: >-
            Change the amount of records returned per page, defaults to 20,
            limited to 100
          example: 30
          in: query
          name: page_size
          required: false
          schema:
            type: integer
            x-struct: null
            x-validate: null
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOffboardingResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
      callbacks: {}
    post:
      tags:
        - Offboarding
      summary: Create Offboarding
      operationId: Offboarding_createRequest
      description: |
        Creates an Offboarding request.
      parameters: []
      requestBody:
        description: Incentive
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOffboardingParams'
        required: false
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OffboardingResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
      callbacks: {}
  /v1/benefit-offers:
    get:
      tags:
        - Benefit Offers By Employment
      summary: List Benefit Offers By Employment
      operationId: BenefitOffersByEmployment_listByEmployment
      description: |
        List benefit offers by employment.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BenefitOfferByEmploymentResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
      callbacks: {}
      deprecated: false
  /v1/company-managers/{user_id}:
    delete:
      tags:
        - Company Managers
      summary: Deletes a Company Manager user
      operationId: CompanyManagers_deleteUser
      security:
        - OAuth2: []
      description: Deletes a Company Manager user
      parameters:
        - description: User ID
          example: 1a8s2d1-user-id-2e3f4tz
          in: path
          name: user_id
          required: true
          schema:
            type: string
            x-struct: null
            x-validate: null
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
      callbacks: {}
    get:
      tags:
        - Company Managers
      summary: Show company manager user
      operationId: CompanyManagers_showUser
      description: Shows a single company manager user
      parameters:
        - description: User ID
          example: 1a8s2d1-user-id-2e3f4tz
          in: path
          name: user_id
          required: true
          schema:
            type: string
            x-struct: null
            x-validate: null
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyManagerResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
      callbacks: {}
  /v1/custom-fields/{custom_field_id}/values/{employment_id}:
    get:
      tags:
        - Custom Fields
      summary: Show a custom field value
      operationId: CustomFields_showValue
      description: Returns a custom field value for a given employment
      parameters:
        - description: Custom field ID
          in: path
          name: custom_field_id
          required: true
          schema:
            type: string
            x-struct: null
            x-validate: null
        - description: Employment ID
          in: path
          name: employment_id
          required: true
          schema:
            type: string
            x-struct: null
            x-validate: null
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmploymentCustomFieldValueResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
      callbacks: {}
  /v1/contract-amendments/{id}:
    get:
      tags:
        - Contract Amendments
      summary: Show Contract Amendment
      operationId: ContractAmendments_showSingleRequest
      security:
        - OAuth2: []
      description: Show a single Contract Amendment request.
      parameters:
        - description: Contract amendment request ID
          example: 93t3j-contract_amendment_id-9suej43
          in: path
          name: id
          required: true
          schema:
            type: string
            x-struct: null
            x-validate: null
      responses:
[...]
