openapi: 3.0.1
info:
  title: Revenium Metering API
  description: Revenium Metering API
  version: 1.14.0-SNAPSHOT
  contact:
    name: Revenium
    url: https://revenium.io
    email: info@revenium.io
  x-konfig-ignore:
    object-with-no-properties: true
    potential-incorrect-type: true
servers:
  - description: Revenium Metering API (Production)
    url: https://api.revenium.io/meter/v1/api
tags:
  - name: Invoice Reports
  - name: Invoices
  - name: Product Keys
  - name: Products
  - name: Account Tiers
  - name: Asset Metrics
  - name: Users
  - name: Notifications
  - name: Payment Methods
  - name: Assets
  - name: Payment
  - name: Consumer Data Provider Configurations
  - name: API Management Configurations
  - name: Product Family
  - name: Organizations
  - name: Notification Provider Configurations
  - name: Applications
  - name: Site Provider Configurations
  - name: Pricing Rules
  - name: Plans
  - name: Identity Provider Configurations
  - name: Tiers
  - name: Tenants
  - name: Subscription Notifications
  - name: SLA Definitions
  - name: Elements
  - name: Payment Configurations
  - name: Features
  - name: Export Configurations
  - name: Stored filters
  - name: Sites
  - name: Element Definitions
  - name: Asset Reports
  - name: Billing Metadata
  - name: SLA Violations
  - name: Traffic Anomalies
  - name: API Keys
  - description: Metering operations
    name: Metring
  - name: Notification Custom Content
  - name: Communications
  - name: Commerce Portal Acceptance Terms
  - name: Admin
  - name: Internal System Audit Trail
  - name: External System Audit Trail
  - description: Event based metering operations
    name: Events
  - name: Templates
  - name: Registration
  - name: Demo Pricing Rules
  - name: Tags
  - name: SLAs
  - name: Product Reports
  - name: Hubspot
  - name: Environments
paths:
  /users/{id}:
    get:
      tags:
        - Users
      summary: Retrieve a user
      operationId: Users_getUser
      description: Retrieve a user
      parameters:
        - description: The user id
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserView'
        '403':
          description: Forbidden to access this user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersGetUserResponse'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersGetUser404Response'
    put:
      tags:
        - Users
      summary: Update a user
      operationId: Users_updateUserOperation
      description: Update a user
      parameters:
        - description: The user id
          name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserDto'
        required: true
      responses:
        '200':
          description: The user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserView'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersUpdateUserOperationResponse'
    delete:
      tags:
        - Users
      summary: Delete a User
      operationId: Users_deleteUser
      description: Delete a User
      parameters:
        - description: The user id
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: The user has been deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersDeleteUserResponse'
        '403':
          description: Forbidden to access this user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersDeleteUser403Response'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersDeleteUser404Response'
  /users/{id}/deactivate:
    put:
      tags:
        - Users
      summary: Deactivate a user
      operationId: Users_deactivateUserOperation
      description: Deactivate a user
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersDeactivateUserOperationResponse'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersDeactivateUserOperation404Response'
  /users/{id}/activate:
    put:
      tags:
        - Users
      summary: Activate a user
      operationId: Users_activateUserOperation
      description: Activate a user
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersActivateUserOperationResponse'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersActivateUserOperation404Response'
  /traffic-anomalies/rules:
    put:
      tags:
        - Traffic Anomalies
      summary: Update a traffic anomaly rule
      operationId: TrafficAnomalies_updateRule
      description: Update a traffic anomaly rule
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTrafficAnomalyRuleRequest'
        required: true
      responses:
        '201':
          description: The traffic anomaly rule
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrafficAnomalyRuleView'
        '403':
          description: Forbidden to create traffic anomaly rules for this organization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrafficAnomaliesUpdateRuleResponse'
    post:
      tags:
        - Traffic Anomalies
      summary: Create a traffic anomaly rule
      operationId: TrafficAnomalies_createRule
      description: Create a traffic anomaly rule
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTrafficAnomalyRuleRequest'
        required: true
      responses:
        '201':
          description: The traffic anomaly rule
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrafficAnomalyRuleView'
        '403':
          description: Forbidden to create traffic anomaly rules for this organization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrafficAnomaliesCreateRuleResponse'
  /tiers/{id}:
    get:
      tags:
        - Tiers
      summary: Get a tier
      operationId: Tiers_getTier
      description: Get a tier
      parameters:
        - description: The tier id
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The Tier
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TierView'
        '403':
          description: Forbidden to access this tier
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TiersGetTierResponse'
        '404':
          description: Plan not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TiersGetTier404Response'
    put:
      tags:
        - Tiers
      summary: Update a tier
      operationId: Tiers_updateTier
      description: Update a tier
      parameters:
        - description: The tier id
          name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTierRequest'
        required: true
      responses:
        '200':
          description: The updated plan
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TierView'
        '403':
          description: Forbidden to access this user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TiersUpdateTierResponse'
        '404':
          description: Owner not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TiersUpdateTier404Response'
    delete:
      tags:
        - Tiers
      summary: Delete a tier
      operationId: Tiers_deleteTierOperation
      description: Delete a tier
      parameters:
        - description: The tier id
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: NO_CONTENT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TiersDeleteTierOperationResponse'
        '403':
          description: Forbidden to access this tier
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TiersDeleteTierOperation403Response'
        '404':
          description: Tier not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TiersDeleteTierOperation404Response'
  /tenants/{id}:
    get:
      tags:
        - Tenants
      summary: Retrieve a tenant
      operationId: Tenants_getTenantById
      description: Retrieve a tenant
      parameters:
        - description: The tenant id
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The tenant
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantView'
        '404':
          description: Tenant not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantView'
    put:
      tags:
        - Tenants
      summary: Update a tenant
      operationId: Tenants_updateTenantById
      description: Update a tenant
      parameters:
        - description: The tenant id
          name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTenantDto'
        required: true
      responses:
        '200':
          description: The updated tenant
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantView'
        '404':
          description: Tenant not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantView'
    delete:
      tags:
        - Tenants
      summary: Delete a tenant
      operationId: Tenants_deleteTenant
      description: Delete a tenant
      parameters:
        - description: The tenant id
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: The tenant has been deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantsDeleteTenantResponse'
        '404':
          description: Tenant not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantsDeleteTenant404Response'
  /subscription-notification:
    put:
      tags:
        - Subscription Notifications
      summary: Update a subscriber notification
      operationId: SubscriptionNotifications_updateSubscriberNotification
      description: Update a subscriber notification
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSubscriberNotificationRequest'
        required: true
      responses:
        '200':
          description: The subscriber notification
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriberNotificationView'
        '403':
          description: Forbidden to access this subscriber notification
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/SubscriptionNotificationsUpdateSubscriberNotificationResponse
        '404':
          description: Subscriber notification not found
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/SubscriptionNotificationsUpdateSubscriberNotification404Response
    post:
      tags:
        - Subscription Notifications
      summary: Create an subscriber notification
      operationId: SubscriptionNotifications_createSubscriberNotification
      description: Create an subscriber notification
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSubscriberNotificationRequest'
        required: true
      responses:
        '201':
          description: The subscription notification
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriberNotificationView'
        '403':
          description: Forbidden create a subscriber notification
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/SubscriptionNotificationsCreateSubscriberNotificationResponse
  /stored-filters/{filterId}:
    get:
      tags:
        - Stored filters
      summary: Get an stored filter
      operationId: StoredFilters_getFilterById
      description: Get an stored filter
      parameters:
        - description: The stored filter id
          name: filterId
          in: path
          required: true
          schema:
            type: string
        - description: The organization id
          name: organizationId
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The stored filter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoredFilterResponse'
        '403':
          description: Forbidden to access this stored filter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoredFilterResponse'
        '404':
          description: Stored filter not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoredFilterResponse'
    put:
      tags:
        - Stored filters
      summary: Update an stored filter
      operationId: StoredFilters_updateFilterById
      description: Update an stored filter
      parameters:
        - description: The stored filter id
          name: filterId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateStoredFilterRequest'
        required: true
      responses:
        '200':
          description: The updated stored filter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoredFilterResponse'
        '403':
          description: Forbidden to access this stored filter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoredFilterResponse'
        '404':
          description: Owner not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoredFilterResponse'
    delete:
      tags:
        - Stored filters
      summary: Delete an stored filter
      operationId: StoredFilters_deleteFilterById
      description: Delete an stored filter
      parameters:
        - description: Id of asset's organization
          name: organizationId
          in: query
          required: true
          schema:
            type: string
        - description: The stored filter id
          name: filterId
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: NO_CONTENT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoredFiltersDeleteFilterByIdResponse'
        '403':
          description: Forbidden to access this stored filter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoredFiltersDeleteFilterById403Response'
        '404':
          description: Stored filter not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoredFiltersDeleteFilterById404Response'
  /sla-definitions/{id}:
    get:
      tags:
        - SLA Definitions
      summary: Retrieve a sla definition
      operationId: SlaDefinitions_getDefinition
      description: Retrieve a sla definition
      parameters:
        - description: The sla definition id
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The SLA Definition
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SLADefinitionView'
        '403':
          description: Forbidden to access this sla definition
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SlaDefinitionsGetDefinitionResponse'
        '404':
          description: Sla definition not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SlaDefinitionsGetDefinition404Response'
    put:
      tags:
        - SLA Definitions
      summary: Update an sla definition
      operationId: SlaDefinitions_updateSlaDefinition
      description: Update an sla definition
      parameters:
        - description: The sla definition id
          name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSLADefinitionRequest'
        required: true
      responses:
        '200':
          description: The updated sla definition
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SLADefinitionView'
        '403':
          description: Forbidden to access this sla definition
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SlaDefinitionsUpdateSlaDefinitionResponse'
        '404':
          description: Sla definition not found
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/SlaDefinitionsUpdateSlaDefinition404Response
    delete:
      tags:
        - SLA Definitions
      summary: Delete a sla definition
      operationId: SlaDefinitions_deleteDefinition
      description: Delete a sla definition
      parameters:
        - description: The sla definition id
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SlaDefinitionsDeleteDefinitionResponse'
        '403':
          description: Forbidden to access this sla definition
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SlaDefinitionsDeleteDefinition403Response'
        '404':
          description: Sla definition not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SlaDefinitionsDeleteDefinition404Response'
  /sites:
    get:
      tags:
        - Sites
      summary: List sites
      operationId: Sites_list
      description: List sites
      parameters:
        - description: Id of site's organization
          name: organizationId
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The sites
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SitePageResponse'
        '403':
          description: Forbidden to list sites for this organization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SitesListResponse'
        '404':
          description: A required resource is not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SitesList404Response'
    put:
      tags:
        - Sites
      summary: Update a site
      operationId: Sites_updateSite
      description: Update a site
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSiteRequest'
        required: true
      responses:
        '200':
          description: The site
          content:
            site/json:
              schema:
                $ref: '#/components/schemas/SiteView'
        '403':
          description: Forbidden to access this site
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SitesUpdateSiteResponse'
        '404':
          description: Site not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SitesUpdateSite404Response'
    post:
      tags:
        - Sites
      summary: Create an site
      operationId: Sites_createSite
      description: Create a site
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSiteRequest'
        required: true
      responses:
        '201':
          description: The site
          content:
            site/json:
              schema:
                $ref: '#/components/schemas/SiteView'
        '403':
          description: Forbidden to access this site
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SitesCreateSiteResponse'
        '404':
          description: Site not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SitesCreateSite404Response'
  /site-provider/configurations/{id}:
    get:
      tags:
        - Site Provider Configurations
      summary: Retrieve a site provider configuration
      operationId: SiteProviderConfigurations_getConfiguration
      description: Retrieve a site provider configuration
      parameters:
        - description: The site provider configuration id
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The site provider configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SiteConfigurationView'
        '403':
          description: Forbidden to access this site provider configuration
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/SiteProviderConfigurationsGetConfigurationResponse
        '404':
          description: Site provider configuration not found
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/SiteProviderConfigurationsGetConfiguration404Response
    put:
      tags:
        - Site Provider Configurations
      summary: Update a site provider configuration
      operationId: SiteProviderConfigurations_updateConfiguration
      description: Update a siteprovider configuration
      parameters:
        - description: The site provider configuration id
          name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSiteConfigurationRequest'
        required: true
      responses:
        '200':
          description: The updated site provider configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SiteConfigurationView'
        '403':
          description: Forbidden to access this site provider configuration
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/SiteProviderConfigurationsUpdateConfigurationResponse
        '404':
          description: Sitep rovider configuration not found
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/SiteProviderConfigurationsUpdateConfiguration404Response
    delete:
      tags:
        - Site Provider Configurations
      summary: Delete an site configuration
      operationId: SiteProviderConfigurations_deleteConfiguration
      description: Delete an site configuration
      parameters:
        - description: The sit eprovider configuration id
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: NO_CONTENT
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/SiteProviderConfigurationsDeleteConfigurationResponse
        '403':
          description: Forbidden to delete this site provider configurations
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/SiteProviderConfigurationsDeleteConfiguration403Response
        '404':
          description: Site provider configuration not found
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/SiteProviderConfigurationsDeleteConfiguration404Response
  /products/{id}:
    get:
      tags:
        - Products
      summary: Get a product
      operationId: Products_getById
      description: Get a product
      parameters:
        - description: The product id
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The product
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductView'
        '403':
          description: Forbidden to access this product
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductsGetByIdResponse'
        '404':
          description: Product not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductsGetById404Response'
    put:
      tags:
        - Products
      summary: Update a product
      operationId: Products_updateProductById
      description: Update a product
      parameters:
        - description: The product id
          name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProductRequest'
        required: true
      responses:
        '200':
          description: The updated product
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductView'
        '403':
          description: Forbidden to access this user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductsUpdateProductByIdResponse'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductsUpdateProductById404Response'
    delete:
      tags:
        - Products
      summary: Delete a product
      operationId: Products_removeById
      description: Delete a product
      parameters:
        - description: The product id
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductsRemoveByIdResponse'
        '403':
          description: Forbidden to delete this product
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductsRemoveById403Response'
        '404':
          description: Product not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductsRemoveById404Response'
  /products/{id}/remove-trial:
    put:
      tags:
        - Products
      summary: Remove trial from a product
      operationId: Products_removeTrialFromProduct
      description: Remove trial from a product
      parameters:
        - description: The product id
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The Product
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductView'
        '403':
          description: Forbidden to update this product
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductsRemoveTrialFromProductResponse'
        '404':
          description: Product not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductsRemoveTrialFromProduct404Response'
  /product/families/{id}:
    get:
      tags:
        - Product Family
      summary: Get an product family
      operationId: ProductFamily_getById
      description: Get an product family
      parameters:
        - description: The product family id
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The product family
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductFamilyView'
        '403':
          description: Forbidden to access this product family
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductFamilyGetByIdResponse'
        '404':
          description: Product family not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductFamilyGetById404Response'
    put:
      tags:
        - Product Family
      summary: Update an product family
      operationId: ProductFamily_updateFamilyOperation
      description: Update an product family
      parameters:
        - description: The product family id
          name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProductFamilyRequest'
        required: true
      responses:
        '200':
          description: The updated product family
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductFamilyView'
        '403':
          description: Forbidden to access this user
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ProductFamilyUpdateFamilyOperationResponse
        '404':
          description: Owner not found
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ProductFamilyUpdateFamilyOperation404Response
    delete:
      tags:
        - Product Family
      summary: Delete a product family
      operationId: ProductFamily_deleteOperation
      description: Delete a product family
      parameters:
        - description: The product family id
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: NO_CONTENT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductFamilyDeleteOperationResponse'
        '403':
          description: Forbidden to access this product family
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductFamilyDeleteOperation403Response'
        '404':
          description: Product family not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductFamilyDeleteOperation404Response'
  /product-keys/{productKeyId}/upgrade-product-to/{productId}:
    put:
      tags:
        - Product Keys
      summary: Upgrade a product key's product
      operationId: ProductKeys_upgradeProductTo
      description: Upgrade a product key's product
      parameters:
        - description: The product key id
          name: productKeyId
          in: path
          required: true
          schema:
            type: string
        - description: The product to upgrade the product key to
          name: productId
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductKeysUpgradeProductToResponse'
        '403':
          description: Forbidden to access this product key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductKeysUpgradeProductTo403Response'
        '404':
          description: Product key not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductKeysUpgradeProductTo404Response'
  /product-keys/{productKeyId}/downgrade-product-to/{productId}:
    put:
      tags:
        - Product Keys
      summary: Downgrade a product key's product
      operationId: ProductKeys_downgradeProductTo
      description: Downgrade a product key's product
      parameters:
        - description: The product key id
          name: productKeyId
          in: path
          required: true
          schema:
            type: string
        - description: The product to downgrade the product key to
          name: productId
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductKeysDowngradeProductToResponse'
        '403':
          description: Forbidden to access this product key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductKeysDowngradeProductTo403Response'
        '404':
          description: Product key not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductKeysDowngradeProductTo404Response'
  /product-keys/{id}:
    get:
      tags:
        - Product Keys
      summary: Retrieve a product key
      operationId: ProductKeys_getKeyById
      description: Retrieve a product key
      parameters:
        - description: The product key id
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The product key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductKeyView'
        '403':
          description: Forbidden to access this product key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductKeysGetKeyByIdResponse'
        '404':
          description: Product key not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductKeysGetKeyById404Response'
    put:
      tags:
        - Product Keys
      summary: Update a product key
      operationId: ProductKeys_updateKeyOperation
      description: Update a product key
      parameters:
        - description: The Product Key ID
          name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProductKeyRequest'
        required: true
      responses:
        '200':
          description: The product keys
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductKeyView'
        '403':
          description: Forbidden to access this product key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductKeysUpdateKeyOperationResponse'
        '404':
          description: Product key not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductKeysUpdateKeyOperation404Response'
  /product-keys/reactivate/{productKeyId}:
    put:
      tags:
        - Product Keys
      summary: Reactivate a product key
      operationId: ProductKeys_reactivateKeyOperation
      description: Reactivate a product key
      parameters:
        - description: The product key id
          name: productKeyId
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductKeysReactivateKeyOperationResponse'
        '403':
          description: Forbidden to access this product key
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ProductKeysReactivateKeyOperation403Response
        '404':
          description: Product key not found
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ProductKeysReactivateKeyOperation404Response
  /product-keys/force-reset/{productKeyId}:
    put:
      tags:
        - Product Keys
      summary: Force reset a product key
      operationId: ProductKeys_forceResetKey
      description: Force reset a product key
      parameters:
        - description: The product key id
          name: productKeyId
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductKeysForceResetKeyResponse'
        '403':
          description: Forbidden to access this product key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductKeysForceResetKey403Response'
        '404':
          description: Product key not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductKeysForceResetKey404Response'
  /pricing-rules/{ruleId}:
    get:
      tags:
        - Pricing Rules
      summary: Get a pricing rule
      operationId: PricingRules_getRuleById
      description: Get a pricing rule
      parameters:
        - description: The rule id
          name: ruleId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The pricing rule
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PricingRuleView'
        '403':
          description: Forbidden to access this asset
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PricingRulesGetRuleByIdResponse'
        '404':
          description: Asset or pricing rule not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PricingRulesGetRuleById404Response'
    put:
      tags:
        - Pricing Rules
      summary: Update a pricing rule
      operationId: PricingRules_updateRuleById
      description: Update a pricing rule
      parameters:
        - description: The rule id
          name: ruleId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePricingRuleRequest'
        required: true
      responses:
        '201':
          description: The created pricing rule
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PricingRuleView'
        '403':
          description: Forbidden to create the pricing rule
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PricingRulesUpdateRuleByIdResponse'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PricingRulesUpdateRuleById404Response'
    delete:
      tags:
        - Pricing Rules
      summary: Delete a pricing rule
      operationId: PricingRules_deleteRule
      description: Delete a pricing rule
      parameters:
        - description: The rule id
          name: ruleId
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PricingRulesDeleteRuleResponse'
        '403':
          description: Forbidden to access this pricing rule
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PricingRulesDeleteRule403Response'
        '404':
          description: Pricing rule not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PricingRulesDeleteRule404Response'
  /plans/{id}:
    get:
      tags:
        - Plans
      summary: Get an plan
      operationId: Plans_getPlan
      description: Get an plan
      parameters:
        - description: The plan id
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The plan
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanView'
        '403':
          description: Forbidden to access this plan
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlansGetPlanResponse'
        '404':
          description: Plan not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlansGetPlan404Response'
    put:
      tags:
        - Plans
      summary: Update an plan
      operationId: Plans_updatePlanById
      description: Update an plan
      parameters:
        - description: The plan id
          name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePlanRequest'
        required: true
      responses:
        '200':
          description: The updated plan
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanView'
        '403':
          description: Forbidden to access this user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlansUpdatePlanByIdResponse'
        '404':
          description: Owner not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlansUpdatePlanById404Response'
    delete:
      tags:
        - Plans
      summary: Delete a plan
      operationId: Plans_deletePlan
      description: Delete a plan
      parameters:
        - description: The plan id
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: NO_CONTENT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlansDeletePlanResponse'
        '403':
          description: Forbidden to access this plan
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlansDeletePlan403Response'
        '404':
          description: Plan not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlansDeletePlan404Response'
  /plans/{id}/remove-trial:
    put:
      tags:
        - Plans
      summary: Remove trial from a plan
      operationId: Plans_removeTrialOperation
      description: Remove trial from a plan
      parameters:
        - description: The plan id
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The plan
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanView'
        '403':
          description: Forbidden to update this plan
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlansRemoveTrialOperationResponse'
        '404':
          description: Plan not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlansRemoveTrialOperation404Response'
  /plan-elements/{id}:
    get:
      tags:
        - Elements
      summary: Get an plan element
      operationId: Elements_getById
      description: Get an plan element
      parameters:
        - description: The plan element id
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The plan element
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanElementView'
        '403':
          description: Forbidden to access this plan element
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ElementsGetByIdResponse'
        '404':
          description: Plan not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ElementsGetById404Response'
    put:
      tags:
        - Elements
      summary: Update a plan element
      operationId: Elements_updateElementById
      description: Update a plan element
      parameters:
        - description: The plan element id
          name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePlanElementRequest'
        required: true
      responses:
        '200':
          description: The updated plan element
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanElementView'
        '403':
          description: Forbidden to access this user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ElementsUpdateElementByIdResponse'
        '404':
          description: Owner not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ElementsUpdateElementById404Response'
    delete:
      tags:
        - Elements
      summary: Delete a plan element
      operationId: Elements_deletePlanElement
      description: Delete a plan element
      parameters:
        - description: The plan element id
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: NO_CONTENT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ElementsDeletePlanElementResponse'
        '403':
          description: Forbidden to access this plan element
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ElementsDeletePlanElement403Response'
        '404':
          description: Plan not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ElementsDeletePlanElement404Response'
  /payment/pay/customer/{customerId}:
    put:
      tags:
        - Payment
      summary: Pay outstanding invoices
      operationId: Payment_outstandingInvoices
      description: Pay outstanding invoices
      parameters:
        - description: Customer id
          name: customerId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The client secret
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentOutstandingInvoicesResponse'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentOutstandingInvoices404Response'
  /payment/force-reset/product/{productId}/user/{userId}:
    put:
      tags:
        - Payment
      summary: Force reset payment record and payment customer for testing
      operationId: Payment_forceResetProductUser
      description: Force reset payment record and payment customer for testing
      parameters:
        - description: Product id
          name: productId
          in: path
          required: true
          schema:
            type: string
        - description: User id
          name: userId
          in: path
          required: true
          schema:
            type: string
      responses:
        default:
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentForceResetProductUserResponse'
  /payment/customers/{id}/pay:
    put:
      tags:
        - Payment Methods
      summary: Pay all outstanding invoices for payment customer
      operationId: PaymentMethods_payOutstandingInvoices
      description: Pay all outstanding invoices for payment customer
      parameters:
        - description: The payment customer id
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The payment customer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentCustomerView'
        '404':
          description: Payment customer not found
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/PaymentMethodsPayOutstandingInvoicesResponse
  /payment/customers/{customerId}/default/method/{methodId}:
    put:
      tags:
        - Payment Methods
      summary: Set default payment method for a payment customer
      operationId: PaymentMethods_setDefaultMethod
      description: Set default payment method for a payment customer
      parameters:
        - description: The payment customer id
          name: customerId
          in: path
          required: true
          schema:
            type: string
        - description: The default payment method id
          name: methodId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The payment customer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentCustomerView'
        '404':
          description: Payment customer not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentMethodsSetDefaultMethodResponse'
  /payment/customers/force-reset/{id}:
    put:
      tags:
        - Payment Methods
      summary: Force reset payment customer for testing
      operationId: PaymentMethods_forceResetCustomer
      description: Force reset payment customer for testing
      parameters:
        - description: The payment customer id
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The payment customer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentCustomerView'
        '404':
          description: Payment customer not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentMethodsForceResetCustomerResponse'
  /payment/customers/force-reset/user/{userId}/configuration/{paymentConfigurationId}:
    put:
      tags:
        - Payment Methods
      summary: Force reset payment customer for testing
      operationId: PaymentMethods_forceResetCustomerForTesting
      description: Force reset payment customer for testing
      parameters:
        - description: User Id
          name: userId
          in: path
          required: true
          schema:
            type: string
        - description: Product Id
          name: paymentConfigurationId
          in: path
          required: true
          schema:
            type: string
      responses:
        default:
          description: User not found
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/PaymentMethodsForceResetCustomerForTestingResponse
  /payment/configurations/{id}:
    get:
      tags:
        - Payment Configurations
      summary: Retrieve a payment configuration
      operationId: PaymentConfigurations_getConfiguration
      description: Retrieve a payment configuration
      parameters:
        - description: The payment configuration id
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The payment configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentConfigurationView'
        '403':
          description: Forbidden to access this payment configuration
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/PaymentConfigurationsGetConfigurationResponse
        '404':
          description: Payment configuration not found
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/PaymentConfigurationsGetConfiguration404Response
    put:
      tags:
        - Payment Configurations
      summary: Update a payment configuration
      operationId: PaymentConfigurations_updateConfigurationOperation
      description: Update a payment configuration
      parameters:
        - description: The payment configuration id
          name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePaymentConfigurationRequest'
        required: true
      responses:
        '200':
          description: The updated payment configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentConfigurationView'
        '403':
          description: Forbidden to access this payment configuration
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/PaymentConfigurationsUpdateConfigurationOperationResponse
        '404':
          description: Payment configuration not found
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/PaymentConfigurationsUpdateConfigurationOperation404Response
    delete:
      tags:
        - Payment Configurations
      summary: Delete a payment configuration
      operationId: PaymentConfigurations_deleteConfiguration
      description: Delete a payment configuration
      parameters:
        - description: The payment configuration id
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: NO_CONTENT
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/PaymentConfigurationsDeleteConfigurationResponse
        '403':
          description: Forbidden to access this payment configurations
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/PaymentConfigurationsDeleteConfiguration403Response
        '404':
          description: Payment configuration not found
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/PaymentConfigurationsDeleteConfiguration404Response
  /payment/complete-subscription/product/{productId}/user/{userId}:
    put:
      tags:
        - Payment
      summary: Get product key for payment
      operationId: Payment_getProductKey
      description: Get product key for payment
      parameters:
        - description: Product Id
          name: productId
          in: path
          required: true
          schema:
            type: string
        - description: User Id
          name: userId
          in: path
          required: true
          schema:
            type: string
        - name: applicationId
          in: query
          required: false
          schema:
            type: string
        - name: contractExternalId
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Payment record
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentRecordView'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentGetProductKeyResponse'
  /payment/cancel/product/{productId}/user/{userId}:
    put:
      tags:
        - Payment
      summary: Cancel payment
      operationId: Payment_cancelProductPayment
      description: Cancel payment
      parameters:
        - description: Product Id
          name: productId
          in: path
          required: true
          schema:
            type: string
        - description: User Id
          name: userId
          in: path
          required: true
          schema:
            type: string
      responses:
        default:
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentCancelProductPaymentResponse'
  /organizations/{id}:
    get:
      tags:
        - Organizations
      summary: Retrieve an organization
      operationId: Organizations_getOrganization
      description: Retrieve an organization
      parameters:
        - description: The organization id
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The organization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationView'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationsGetOrganizationResponse'
    put:
      tags:
        - Organizations
      summary: Update an organization
      operationId: Organizations_updateOrganizationOperation
      description: Update an organization
      parameters:
        - description: The organization id
          name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOrganizationDto'
        required: true
      responses:
        '200':
          description: The organization
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/OrganizationsUpdateOrganizationOperationResponse
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/OrganizationsUpdateOrganizationOperation404Response
    delete:
      tags:
        - Organizations
      summary: Delete an organization
      operationId: Organizations_removeById
      description: Delete an organization
      parameters:
        - description: The Organization ID
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: The organization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationsRemoveByIdResponse'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationsRemoveById404Response'
  /notification-provider/configurations/{id}:
    get:
      tags:
        - Notification Provider Configurations
      summary: Retrieve a notification provider configuration
      operationId: NotificationProviderConfigurations_getById
      description: Retrieve a notification provider configuration
      parameters:
        - description: The notification provider configuration id
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The notification provider configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationProviderConfigurationView'
        '403':
          description: Forbidden to access this notification provider configuration
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/NotificationProviderConfigurationsGetByIdResponse
        '404':
          description: Notification provider configuration not found
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/NotificationProviderConfigurationsGetById404Response
    put:
      tags:
        - Notification Provider Configurations
      summary: Update a notification provider configuration
      operationId: NotificationProviderConfigurations_updateConfiguration
      description: Update a notification provider configuration
      parameters:
        - description: The notification provider configuration id
          name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/UpdateNotificationProviderConfigurationRequest
        required: true
      responses:
        '200':
          description: The updated notification provider configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationProviderConfigurationView'
        '403':
          description: Forbidden to access this notification provider configuration
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/NotificationProviderConfigurationsUpdateConfigurationResponse
        '404':
          description: Notification provider configuration not found
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/NotificationProviderConfigurationsUpdateConfiguration404Response
    delete:
      tags:
        - Notification Provider Configurations
      summary: Delete a notification provider configuration
      operationId: NotificationProviderConfigurations_removeConfiguration
      description: Delete a notification provider configuration
      parameters:
        - description: The notification provider configuration id
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: NO_CONTENT
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/NotificationProviderConfigurationsRemoveConfigurationResponse
        '403':
          description: Forbidden to delete this notification provider configurations
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/NotificationProviderConfigurationsRemoveConfiguration403Response
        '404':
          description: Notification provider configuration not found
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/NotificationProviderConfigurationsRemoveConfiguration404Response
  /notification-custom-content:
    put:
      tags:
        - Notification Custom Content
      summary: Update a notification template
      operationId: NotificationCustomContent_updateTemplate
      description: Update a notification template
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateNotificationTemplateRequest'
        required: true
      responses:
        '200':
          description: The notification templates
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/NotificationCustomContentUpdateTemplateResponse
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/NotificationCustomContentUpdateTemplate404Response
  /identity-provider/configurations/{id}:
    get:
      tags:
        - Identity Provider Configurations
      summary: Retrieve an Identity Provider Configuration
      operationId: IdentityProviderConfigurations_getConfiguration
      description: Retrieve an Identity Provider Configuration
      parameters:
        - description: The API Management Configuration ID
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The Identity Provider Configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentityProviderConfigurationView'
        '403':
          description: Forbidden to access this Identity Provider Configuration
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/IdentityProviderConfigurationsGetConfigurationResponse
        '404':
          description: Identity Provider Configuration not found
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/IdentityProviderConfigurationsGetConfiguration404Response
    put:
      tags:
        - Identity Provider Configurations
      summary: Update an identity provider management configuration
      operationId: IdentityProviderConfigurations_updateProviderConfig
      description: Update an identity provider configuration
      parameters:
        - description: The identity provider configuration id
          name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateIdentityProviderConfigurationRequest'
        required: true
      responses:
        '200':
          description: The updated identity provider configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentityProviderConfigurationView'
        '403':
          description: Forbidden to access this identity provider configuration
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/IdentityProviderConfigurationsUpdateProviderConfigResponse
        '404':
          description: Identity provider configuration not found
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/IdentityProviderConfigurationsUpdateProviderConfig404Response
    delete:
      tags:
        - Identity Provider Configurations
      summary: Delete an Identity Provider Configuration
      operationId: IdentityProviderConfigurations_deleteProviderConfig
      description: Delete an dentity Provider Configuration
      parameters:
        - description: The Identity Provider Configuration ID
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: NO_CONTENT
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/IdentityProviderConfigurationsDeleteProviderConfigResponse
        '403':
          description: Forbidden to delete this Identity Provider Configuration
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/IdentityProviderConfigurationsDeleteProviderConfig403Response
        '404':
          description: Identity Provider Configuration not found
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/IdentityProviderConfigurationsDeleteProviderConfig404Response
  /features/{id}:
    get:
      tags:
        - Features
      summary: Get an feature
      operationId: Features_getById
      description: Get an feature
      parameters:
        - description: The feature id
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The feature
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeatureView'
        '403':
          description: Forbidden to access this feature
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeaturesGetByIdResponse'
        '404':
          description: Plan not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeaturesGetById404Response'
    put:
      tags:
        - Features
      summary: Update an feature
      operationId: Features_updateFeatureById
      description: Update an feature
      parameters:
        - description: The feature id
          name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateFeatureRequest'
        required: true
      responses:
        '200':
          description: The updated feature
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeatureView'
        '403':
          description: Forbidden to access this user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeaturesUpdateFeatureByIdResponse'
        '404':
          description: Owner not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeaturesUpdateFeatureById404Response'
    delete:
      tags:
        - Features
      summary: Delete a feature
      operationId: Features_deleteFeatureById
      description: Delete a feature
      parameters:
        - description: The Feature ID
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: NO_CONTENT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeaturesDeleteFeatureByIdResponse'
        '403':
          description: Forbidden to access this feature
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeaturesDeleteFeatureById403Response'
        '404':
          description: Plan not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeaturesDeleteFeatureById404Response'
  /export/configurations/{id}:
    get:
      tags:
        - Export Configurations
      summary: Retrieve an export configuration
      operationId: ExportConfigurations_getConfiguration
      description: Retrieve an export configuration
      parameters:
        - description: The export configuration id
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The export configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportConfigurationView'
        '403':
          description: Forbidden to access this export configuration
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ExportConfigurationsGetConfigurationResponse
        '404':
          description: Export configuration not found
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ExportConfigurationsGetConfiguration404Response
    put:
      tags:
        - Export Configurations
      summary: Update an export configuration
      operationId: ExportConfigurations_updateConfiguration
      description: Update an export configuration
      parameters:
        - description: The export configuration id
          name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateExportConfigurationRequest'
        required: true
      responses:
        '200':
          description: The updated export configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportConfigurationView'
        '403':
          description: Forbidden to access this export configuration
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ExportConfigurationsUpdateConfigurationResponse
        '404':
          description: Export configuration not found
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ExportConfigurationsUpdateConfiguration404Response
    delete:
      tags:
        - Export Configurations
      summary: Delete an export configuration
      operationId: ExportConfigurations_deleteConfiguration
      description: Delete an export configuration
      parameters:
        - description: The export configuration's id
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: OK
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ExportConfigurationsDeleteConfigurationResponse
        '403':
          description: Forbidden to access this export configurations
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ExportConfigurationsDeleteConfiguration403Response
        '404':
          description: Export configuration not found
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ExportConfigurationsDeleteConfiguration404Response
  /element-definitions/{id}:
    get:
      tags:
        - Element Definitions
      operationId: ElementDefinitions_getById
      parameters:
        - description: The element definition id
          name: id
          in: path
          required: true
          schema:
            type: string
        - description: The organization id
          name: organizationId
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ElementDefinitionView'
    put:
      tags:
        - Element Definitions
      operationId: ElementDefinitions_updatePricingRule
      parameters:
        - description: The element definition id
          name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ElementDefinitionUpdateRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ElementDefinitionView'
    delete:
      tags:
        - Element Definitions
      operationId: ElementDefinitions_deleteById
      parameters:
        - description: The element definition id
          name: id
          in: path
          required: true
          schema:
            type: string
        - description: The organization id
          name: organizationId
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ElementDefinitionsDeleteByIdResponse'
  /consumer-data-provider/configurations/{id}:
    get:
      tags:
        - Consumer Data Provider Configurations
      summary: Retrieve an data provider configuration
      operationId: ConsumerDataProviderConfigurations_getConfiguration
      description: Retrieve an data provider configuration
      parameters:
        - description: The data provider configuration id
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The data provider configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsumerDataProviderConfigurationView'
        '403':
          description: Forbidden to access this data provider configuration
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ConsumerDataProviderConfigurationsGetConfigurationResponse
        '404':
          description: Data provider configuration not found
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ConsumerDataProviderConfigurationsGetConfiguration404Response
    put:
      tags:
        - Consumer Data Provider Configurations
      summary: Update an data provider configuration
      operationId: ConsumerDataProviderConfigurations_updateConfiguration
      description: Update an consumer data provider configuration
      parameters:
        - description: The consumer data provider configuration id
          name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/UpdateConsumerDataProviderConfigurationRequest
        required: true
      responses:
        '200':
          description: The updated consumer data provider configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsumerDataProviderConfigurationView'
        '403':
          description: Forbidden to access this consumer data provider configuration
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ConsumerDataProviderConfigurationsUpdateConfigurationResponse
        '404':
          description: Consumer data provider configuration not found
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ConsumerDataProviderConfigurationsUpdateConfiguration404Response
    delete:
      tags:
        - Consumer Data Provider Configurations
      summary: Delete a data provider configuration
      operationId: ConsumerDataProviderConfigurations_deleteConfiguration
      description: Delete a data provider configuration
      parameters:
        - description: The consumer data provider configuration id
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: NO_CONTENT
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ConsumerDataProviderConfigurationsDeleteConfigurationResponse
        '403':
          description: Forbidden to delete this consumer data provider configurations
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ConsumerDataProviderConfigurationsDeleteConfiguration403Response
        '404':
          description: Consumer data provider configuration not found
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ConsumerDataProviderConfigurationsDeleteConfiguration404Response
  /billing-metadata/{id}:
    put:
      tags:
        - Billing Metadata
      summary: Update an billing metadata
      operationId: BillingMetadata_updateOperation
      description: Update an billing metadata
      parameters:
        - description: The billing metadata id
          name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateBillingMetadataRequest'
        required: true
      responses:
        '201':
          description: The created billing netadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingMetadataView'
        '403':
          description: Forbidden to create the billingmetadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingMetadataUpdateOperationResponse'
        '404':
          description: Owner not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingMetadataUpdateOperation404Response'
    delete:
      tags:
        - Billing Metadata
      summary: Delete billing metadata
      operationId: BillingMetadata_deleteOperation
      description: Delete billing metadata
      parameters:
        - description: The billing metadata id
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: NO_CONTENT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingMetadataDeleteOperationResponse'
        '403':
          description: Forbidden to access this billing metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingMetadataDeleteOperation403Response'
        '404':
          description: Billing metadata not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingMetadataDeleteOperation404Response'
  /assets/{id}:
    get:
      tags:
        - Assets
      summary: Get an asset
      operationId: Assets_getById
      description: Get an asset
      parameters:
        - description: The asset id
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The asset
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetView'
        '403':
          description: Forbidden to access this asset
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetsGetByIdResponse'
        '404':
          description: Asset not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetsGetById404Response'
    put:
      tags:
        - Assets
      summary: Update an asset
      operationId: Assets_updateAssetById
      description: Update an asset
      parameters:
        - description: The asset id
          name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAssetRequest'
        required: true
      responses:
        '200':
          description: The updated asset
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetView'
        '403':
          description: Forbidden to access this asset
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetsUpdateAssetByIdResponse'
        '404':
          description: Owner not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetsUpdateAssetById404Response'
    delete:
      tags:
        - Assets
      summary: Delete an asset
      operationId: Assets_deleteAsset
      description: Delete an asset
      parameters:
        - description: The asset id
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: NO_CONTENT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetsDeleteAssetResponse'
        '403':
          description: Forbidden to access this asset
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetsDeleteAsset403Response'
        '404':
          description: Asset not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetsDeleteAsset404Response'
  /applications:
    get:
      tags:
        - Applications
      summary: List applications
      operationId: Applications_listApplications
      description: List applications
      parameters:
        - description: Id of application's organization
          name: organizationId
          in: query
          required: true
          schema:
            type: string
        - name: page
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: count
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: order
          in: query
          required: false
          schema:
            type: string
            enum:
              - ASC
              - DESC
        - name: sort
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: The applications
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationPageResponse'
        '403':
          description: Forbidden to access this organization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationsListApplicationsResponse'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationsListApplications404Response'
    put:
      tags:
        - Applications
      summary: Update an application
      operationId: Applications_updateApplicationOperation
      description: Update an application
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateApplicationRequest'
        required: true
      responses:
        '200':
          description: The application
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationView'
        '403':
          description: Forbidden to access this application
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ApplicationsUpdateApplicationOperationResponse
        '404':
          description: Application not found
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ApplicationsUpdateApplicationOperation404Response
    post:
      tags:
        - Applications
      summary: Create an application
      operationId: Applications_createNewApplication
      description: Create an application
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateApplicationRequest'
        required: true
      responses:
        '201':
          description: The application
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationView'
        '403':
          description: Forbidden to access this application
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationsCreateNewApplicationResponse'
        '404':
          description: Application not found
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ApplicationsCreateNewApplication404Response
  /apim/configurations/{id}:
    get:
      tags:
        - API Management Configurations
      summary: Retrieve an API management configuration
      operationId: ApiManagementConfigurations_getConfigurationById
      description: Retrieve an API management configuration
      parameters:
        - description: The API management configuration id
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The API management configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIMConfigurationView'
        '403':
          description: Forbidden to access this API management configuration
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ApiManagementConfigurationsGetConfigurationByIdResponse
        '404':
          description: API management configuration not found
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ApiManagementConfigurationsGetConfigurationById404Response
    put:
      tags:
        - API Management Configurations
      summary: Update an API management configuration
      operationId: ApiManagementConfigurations_updateConfiguration
      description: Update an API management configuration
      parameters:
        - description: The API management configuration id
          name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAPIMConfigurationRequest'
        required: true
      responses:
        '200':
          description: The updated API management configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIMConfigurationView'
        '403':
          description: Forbidden to access this API management configuration
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ApiManagementConfigurationsUpdateConfigurationResponse
        '404':
          description: API management configuration not found
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ApiManagementConfigurationsUpdateConfiguration404Response
    delete:
      tags:
        - API Management Configurations
      summary: Delete an API management configuration
      operationId: ApiManagementConfigurations_deleteConfiguration
      description: Delete an API management configuration
      parameters:
        - description: The API management configuration id
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: NO_CONTENT
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ApiManagementConfigurationsDeleteConfigurationResponse
        '403':
[...]
