openapi: 3.0.0
info:
  title: Salesflare API
  description: >-
    # Introduction


    ## Getting Started


    The Salesflare API allows you to access and build your own applications or
    integrations that interact with Salesflare.


    The Salesflare API provides a RESTful interface with JSON-formatted
    responses to access most Salesflare resources.


    ## Authentication


    The Salesflare API uses bearer token based authentication, which means you
    need to use the key-value pair "Authorization : Bearer APIKEY" in the header
    to authenticate.


    You can make an API key in ["Settings" > "API
    keys"](https://app.salesflare.com/#/settings/apikeys).


    Click on the large orange "+" button on the bottom right of the screen to
    create an API key.


    ![Screenshot API Key
    Settings](https://lib.salesflare.com/api_docs/screenshot_settings_apikeys.png)


    ## Requests


    All requests must be sent using HTTPS with TLS 1.2 or higher. Please make
    sure your developer tools support this version of TLS as older versions or
    SSL are not supported for security reasons.


    For PUT or POST requests (e.g. create, update), the payload must be provided
    as JSON in the request body.


    ## Responses


    Responses use HTTP status codes, with the most typical ones being:


    | Code                   | Meaning               |

    |------------------------|-----------------------|

    | Successful Responses                           |

    | 200                    | OK                    |

    | Error Responses                                |

    | 400                    | Bad Request           |

    | 401                    | Unauthorized          |

    | 404                    | Not Found             |

    | 429                    | Too Many Requests     |

    | 500                    | Internal Server Error |


    ## Testing


    We recommend testing our API with Postman.


    ### Download specification


    Our API is documented following the OpenAPI specification. You can download
    it [here](https://api.salesflare.com/openapi.json)


    ### Import in Postman


    To import the collection, open Postman and click Import, then select "Import
    From Link"


    Copy & Paste the following link and press the "Import" button:


    > https://api.salesflare.com/openapi.json


    ![Screenshot Postman
    Import](https://lib.salesflare.com/api_docs/screenshot_postman_import.png)


    ## Support


    For API questions and support, please email support@salesflare.com or click
    the chat bubble below.
  version: 1.0.0
  contact:
    email: support@salesflare.com
  x-logo:
    url: https://lib.salesflare.com/api_docs/api_logo.png
    backgroundColor: '#3d4d65'
    altText: Salesflare logo
servers:
  - url: https://api.salesflare.com
tags:
  - name: Accounts
  - name: Custom Fields
  - name: Tags
  - name: Workflows
  - name: Contacts
  - name: Opportunities
  - name: Meetings
  - name: Users
  - name: Tasks
  - name: Pipelines
  - name: Internal Notes
  - name: Groups
  - name: Email Data Sources
  - name: Calls
  - name: Regional Settings
  - name: Persons
  - name: Filter Fields
paths:
  /accounts:
    get:
      tags:
        - Accounts
      summary: List accounts
      operationId: Accounts_listAccounts
      parameters:
        - x-constraint:
            single: true
          name: id
          in: query
          explode: true
          schema:
            type: array
            items:
              type: number
        - name: details
          in: query
          schema:
            type: boolean
            default: true
        - name: search
          in: query
          schema:
            type: string
        - name: name
          in: query
          schema:
            type: string
        - name: creation_after
          in: query
          schema:
            type: string
            format: date-time
        - name: creation_before
          in: query
          schema:
            type: string
            format: date-time
        - name: min_size
          in: query
          schema:
            type: number
            minimum: 0
        - name: max_size
          in: query
          schema:
            type: number
        - x-constraint:
            unique: true
            single: true
          name: domain
          in: query
          explode: true
          schema:
            type: array
            items:
              type: string
        - x-constraint:
            single: true
          name: tag
          in: query
          explode: true
          schema:
            type: array
            items:
              type: number
        - x-constraint:
            single: true
          name: tag.name
          in: query
          explode: true
          schema:
            type: array
            items:
              type: string
        - x-constraint:
            single: true
          name: address.country
          in: query
          explode: true
          schema:
            type: array
            items:
              type: string
        - x-constraint:
            single: true
          name: address.city
          in: query
          explode: true
          schema:
            type: array
            items:
              type: string
        - x-constraint:
            single: true
          name: address.state_region
          in: query
          explode: true
          schema:
            type: array
            items:
              type: string
        - description: '1: Room temp, 2: Hot, 3: On fire'
          name: hotness
          in: query
          schema:
            type: number
            enum:
              - 1
              - 2
              - 3
        - name: offset
          in: query
          schema:
            type: number
        - name: custom
          in: query
          x-type: object
          schema:
            type: string
        - description: >-
            Can be just 'key' e.g. 'name' or 'key sortOrder' e.g. 'name desc'.
            Defaults to asc.
          x-constraint:
            single: true
          name: order_by
          in: query
          explode: true
          schema:
            type: array
            items:
              type: string
        - x-alternatives:
            - type: object
              required:
                - condition
                - rules
              x-properties:
                condition:
                  type: string
                  enum:
                    - AND
                    - OR
                rules:
                  type: array
                  items:
                    description: >-
                      Deprecated, please use the slim version with only `id`,
                      `operator`, `value`
                    type: object
                    required:
                      - id
                      - customfield_id
                      - operator
                      - enabled
                    x-alternatives:
                      - description: >-
                          Deprecated, please use the slim version with only
                          `id`, `operator`, `value`
                        type: object
                        required:
                          - id
                          - customfield_id
                          - operator
                          - enabled
                        x-properties:
                          id:
                            type: string
                          query_builder_id:
                            type: string
                          customfield_id:
                            type: string
                          label:
                            type: string
                          type:
                            type: string
                            enum:
                              - integer
                              - double
                              - boolean
                              - tri_state_boolean
                              - string
                              - long_string
                              - select
                              - date
                              - datetime
                              - file
                          input:
                            type: string
                          operator:
                            type: string
                            enum:
                              - equal
                              - not_equal
                              - in
                              - not_in
                              - less
                              - less_or_equal
                              - greater
                              - greater_or_equal
                              - between
                              - not_between
                              - begins_with
                              - not_begins_with
                              - contains
                              - not_contains
                              - ends_with
                              - not_ends_with
                              - is_empty
                              - is_not_empty
                              - is_null
                              - is_not_null
                              - 'true'
                              - 'false'
                              - past_less
                              - past_exactly
                              - past_more_than
                              - future_less
                              - future_exactly
                              - future_more_than
                              - after
                              - 'on'
                              - before
                              - is
                              - is_not
                          value:
                            type: array
                            x-constraint:
                              single: true
                            items:
                              type: string
                              x-alternatives:
                                - type: string
                                - type: number
                                - type: string
                                  format: date-time
                                - type: boolean
                                - type: object
                                  x-properties:
                                    value1:
                                      type: string
                                      x-alternatives:
                                        - type: string
                                        - type: number
                                    value2:
                                      type: string
                                      x-alternatives:
                                        - type: string
                                        - type: number
                            collectionFormat: multi
                            name: value
                          entity:
                            type: string
                            enum:
                              - account
                              - person
                              - opportunity
                              - campaign
                              - tag
                              - task
                              - workflow
                              - workflow_record
                              - workflow_step_record
                          display_entity:
                            type: string
                            enum:
                              - Account
                              - Contact
                              - Opportunity
                              - Campaign
                              - Tag
                              - Task
                              - Workflow
                          pipeline:
                            type: number
                          enabled:
                            type: string
                          internal:
                            type: boolean
                      - type: object
                        required:
                          - id
                          - operator
                          - value
                        x-properties:
                          id:
                            type: string
                          operator:
                            description: >-
                              `is_empty`, `is_not_empty`, `is_null`,
                              `is_not_null`, `true` and `false` are deprecated
                              and should not be used.
                            type: string
                            enum:
                              - equal
                              - not_equal
                              - in
                              - not_in
                              - less
                              - less_or_equal
                              - greater
                              - greater_or_equal
                              - between
                              - not_between
                              - begins_with
                              - not_begins_with
                              - contains
                              - not_contains
                              - ends_with
                              - not_ends_with
                              - is_empty
                              - is_not_empty
                              - is_null
                              - is_not_null
                              - 'true'
                              - 'false'
                              - past_less
                              - past_exactly
                              - past_more_than
                              - future_less
                              - future_exactly
                              - future_more_than
                              - after
                              - 'on'
                              - before
                              - is
                              - is_not
                          value:
                            type: array
                            x-constraint:
                              single: true
                            items:
                              type: string
                              x-alternatives:
                                - type: string
                                - type: number
                                - type: string
                                  format: date-time
                                - type: boolean
                            collectionFormat: multi
                            name: value
                          pipeline:
                            type: number
                      - type: object
                        required:
                          - condition
                        x-properties:
                          condition:
                            type: string
                            enum:
                              - AND
                              - OR
                          rules:
                            type: array
                            items:
                              description: >-
                                Deprecated, please use the slim version with
                                only `id`, `operator`, `value`
                              type: object
                              required:
                                - id
                                - customfield_id
                                - operator
                                - enabled
                              x-properties:
                                id:
                                  type: string
                                query_builder_id:
                                  type: string
                                customfield_id:
                                  type: string
                                label:
                                  type: string
                                type:
                                  type: string
                                  enum:
                                    - integer
                                    - double
                                    - boolean
                                    - tri_state_boolean
                                    - string
                                    - long_string
                                    - select
                                    - date
                                    - datetime
                                    - file
                                input:
                                  type: string
                                operator:
                                  type: string
                                  enum:
                                    - equal
                                    - not_equal
                                    - in
                                    - not_in
                                    - less
                                    - less_or_equal
                                    - greater
                                    - greater_or_equal
                                    - between
                                    - not_between
                                    - begins_with
                                    - not_begins_with
                                    - contains
                                    - not_contains
                                    - ends_with
                                    - not_ends_with
                                    - is_empty
                                    - is_not_empty
                                    - is_null
                                    - is_not_null
                                    - 'true'
                                    - 'false'
                                    - past_less
                                    - past_exactly
                                    - past_more_than
                                    - future_less
                                    - future_exactly
                                    - future_more_than
                                    - after
                                    - 'on'
                                    - before
                                    - is
                                    - is_not
                                value:
                                  type: array
                                  x-constraint:
                                    single: true
                                  items:
                                    type: string
                                    x-alternatives:
                                      - type: string
                                      - type: number
                                      - type: string
                                        format: date-time
                                      - type: boolean
                                      - type: object
                                        x-properties:
                                          value1:
                                            type: string
                                            x-alternatives:
                                              - type: string
                                              - type: number
                                          value2:
                                            type: string
                                            x-alternatives:
                                              - type: string
                                              - type: number
                                  collectionFormat: multi
                                  name: value
                                entity:
                                  type: string
                                  enum:
                                    - account
                                    - person
                                    - opportunity
                                    - campaign
                                    - tag
                                    - task
                                    - workflow
                                    - workflow_record
                                    - workflow_step_record
                                display_entity:
                                  type: string
                                  enum:
                                    - Account
                                    - Contact
                                    - Opportunity
                                    - Campaign
                                    - Tag
                                    - Task
                                    - Workflow
                                pipeline:
                                  type: number
                                enabled:
                                  type: string
                                internal:
                                  type: boolean
                            collectionFormat: multi
                            name: rules
                          not:
                            type: boolean
                          valid:
                            type: boolean
                    x-properties:
                      id:
                        type: string
                      query_builder_id:
                        type: string
                      customfield_id:
                        type: string
                      label:
                        type: string
                      type:
                        type: string
                        enum:
                          - integer
                          - double
                          - boolean
                          - tri_state_boolean
                          - string
                          - long_string
                          - select
                          - date
                          - datetime
                          - file
                      input:
                        type: string
                      operator:
                        type: string
                        enum:
                          - equal
                          - not_equal
                          - in
                          - not_in
                          - less
                          - less_or_equal
                          - greater
                          - greater_or_equal
                          - between
                          - not_between
                          - begins_with
                          - not_begins_with
                          - contains
                          - not_contains
                          - ends_with
                          - not_ends_with
                          - is_empty
                          - is_not_empty
                          - is_null
                          - is_not_null
                          - 'true'
                          - 'false'
                          - past_less
                          - past_exactly
                          - past_more_than
                          - future_less
                          - future_exactly
                          - future_more_than
                          - after
                          - 'on'
                          - before
                          - is
                          - is_not
                      value:
                        type: array
                        x-constraint:
                          single: true
                        items:
                          type: string
                          x-alternatives:
                            - type: string
                            - type: number
                            - type: string
                              format: date-time
                            - type: boolean
                            - type: object
                              x-properties:
                                value1:
                                  type: string
                                  x-alternatives:
                                    - type: string
                                    - type: number
                                value2:
                                  type: string
                                  x-alternatives:
                                    - type: string
                                    - type: number
                        collectionFormat: multi
                        name: value
                      entity:
                        type: string
                        enum:
                          - account
                          - person
                          - opportunity
                          - campaign
                          - tag
                          - task
                          - workflow
                          - workflow_record
                          - workflow_step_record
                      display_entity:
                        type: string
                        enum:
                          - Account
                          - Contact
                          - Opportunity
                          - Campaign
                          - Tag
                          - Task
                          - Workflow
                      pipeline:
                        type: number
                      enabled:
                        type: string
                      internal:
                        type: boolean
                  collectionFormat: multi
                  name: rules
                order_by:
                  type: string
                not:
                  type: boolean
                valid:
                  type: boolean
                search:
                  type: string
            - type: array
              items:
                type: object
                required:
                  - condition
                x-alternatives:
                  - type: object
                    required:
                      - condition
                    x-properties:
                      condition:
                        type: string
                        enum:
                          - AND
                          - OR
                      rules:
                        type: array
                        items:
                          description: >-
                            Deprecated, please use the slim version with only
                            `id`, `operator`, `value`
                          type: object
                          required:
                            - id
                            - customfield_id
                            - operator
                            - enabled
                          x-properties:
                            id:
                              type: string
                            query_builder_id:
                              type: string
                            customfield_id:
                              type: string
                            label:
                              type: string
                            type:
                              type: string
                              enum:
                                - integer
                                - double
                                - boolean
                                - tri_state_boolean
                                - string
                                - long_string
                                - select
                                - date
                                - datetime
                                - file
                            input:
                              type: string
                            operator:
                              type: string
                              enum:
                                - equal
                                - not_equal
                                - in
                                - not_in
                                - less
                                - less_or_equal
                                - greater
                                - greater_or_equal
                                - between
                                - not_between
                                - begins_with
                                - not_begins_with
                                - contains
                                - not_contains
                                - ends_with
                                - not_ends_with
                                - is_empty
                                - is_not_empty
                                - is_null
                                - is_not_null
                                - 'true'
                                - 'false'
                                - past_less
                                - past_exactly
                                - past_more_than
                                - future_less
                                - future_exactly
                                - future_more_than
                                - after
                                - 'on'
                                - before
                                - is
                                - is_not
                            value:
                              type: array
                              x-constraint:
                                single: true
                              items:
                                type: string
                                x-alternatives:
                                  - type: string
                                  - type: number
                                  - type: string
                                    format: date-time
                                  - type: boolean
                                  - type: object
                                    x-properties:
                                      value1:
                                        type: string
                                        x-alternatives:
                                          - type: string
                                          - type: number
                                      value2:
                                        type: string
                                        x-alternatives:
                                          - type: string
                                          - type: number
                              collectionFormat: multi
                              name: value
                            entity:
                              type: string
                              enum:
                                - account
                                - person
                                - opportunity
                                - campaign
                                - tag
                                - task
                                - workflow
                                - workflow_record
                                - workflow_step_record
                            display_entity:
                              type: string
                              enum:
                                - Account
                                - Contact
                                - Opportunity
                                - Campaign
                                - Tag
                                - Task
                                - Workflow
                            pipeline:
                              type: number
                            enabled:
                              type: string
                            internal:
                              type: boolean
                        collectionFormat: multi
                        name: rules
                      not:
                        type: boolean
                      valid:
                        type: boolean
                  - description: >-
                      Deprecated, please use the slim version with only `id`,
                      `operator`, `value`
                    type: object
                    required:
                      - id
                      - customfield_id
                      - operator
                      - enabled
                    x-properties:
                      id:
                        type: string
                      query_builder_id:
                        type: string
                      customfield_id:
                        type: string
                      label:
                        type: string
                      type:
                        type: string
                        enum:
                          - integer
                          - double
                          - boolean
                          - tri_state_boolean
                          - string
                          - long_string
                          - select
                          - date
                          - datetime
                          - file
                      input:
                        type: string
                      operator:
                        type: string
                        enum:
                          - equal
                          - not_equal
                          - in
                          - not_in
                          - less
                          - less_or_equal
                          - greater
                          - greater_or_equal
                          - between
                          - not_between
                          - begins_with
                          - not_begins_with
                          - contains
                          - not_contains
                          - ends_with
                          - not_ends_with
                          - is_empty
                          - is_not_empty
                          - is_null
                          - is_not_null
                          - 'true'
                          - 'false'
                          - past_less
                          - past_exactly
                          - past_more_than
                          - future_less
                          - future_exactly
                          - future_more_than
                          - after
                          - 'on'
                          - before
                          - is
                          - is_not
                      value:
                        type: array
                        x-constraint:
                          single: true
                        items:
                          type: string
                          x-alternatives:
                            - type: string
                            - type: number
                            - type: string
                              format: date-time
                            - type: boolean
                            - type: object
                              x-properties:
                                value1:
                                  type: string
                                  x-alternatives:
                                    - type: string
                                    - type: number
                                value2:
                                  type: string
                                  x-alternatives:
                                    - type: string
                                    - type: number
                        collectionFormat: multi
                        name: value
                      entity:
                        type: string
                        enum:
                          - account
                          - person
                          - opportunity
                          - campaign
                          - tag
                          - task
                          - workflow
                          - workflow_record
                          - workflow_step_record
                      display_entity:
                        type: string
                        enum:
                          - Account
                          - Contact
                          - Opportunity
                          - Campaign
                          - Tag
                          - Task
                          - Workflow
                      pipeline:
                        type: number
                      enabled:
                        type: string
                      internal:
                        type: boolean
                  - type: object
                    required:
                      - id
                      - operator
                      - value
                    x-properties:
                      id:
                        type: string
                      operator:
                        description: >-
                          `is_empty`, `is_not_empty`, `is_null`, `is_not_null`,
                          `true` and `false` are deprecated and should not be
                          used.
                        type: string
                        enum:
                          - equal
                          - not_equal
                          - in
                          - not_in
                          - less
                          - less_or_equal
                          - greater
                          - greater_or_equal
                          - between
                          - not_between
                          - begins_with
                          - not_begins_with
                          - contains
                          - not_contains
                          - ends_with
                          - not_ends_with
                          - is_empty
                          - is_not_empty
                          - is_null
                          - is_not_null
                          - 'true'
                          - 'false'
                          - past_less
                          - past_exactly
                          - past_more_than
                          - future_less
                          - future_exactly
                          - future_more_than
                          - after
                          - 'on'
                          - before
                          - is
                          - is_not
                      value:
                        type: array
                        x-constraint:
                          single: true
                        items:
                          type: string
                          x-alternatives:
                            - type: string
                            - type: number
                            - type: string
                              format: date-time
                            - type: boolean
                        collectionFormat: multi
                        name: value
                      pipeline:
                        type: number
                x-properties:
                  condition:
                    type: string
                    enum:
                      - AND
                      - OR
                  rules:
                    type: array
                    items:
                      description: >-
                        Deprecated, please use the slim version with only `id`,
                        `operator`, `value`
                      type: object
                      required:
                        - id
                        - customfield_id
                        - operator
                        - enabled
                      x-properties:
                        id:
                          type: string
                        query_builder_id:
                          type: string
                        customfield_id:
                          type: string
                        label:
                          type: string
                        type:
                          type: string
                          enum:
                            - integer
                            - double
                            - boolean
                            - tri_state_boolean
                            - string
                            - long_string
                            - select
                            - date
                            - datetime
                            - file
                        input:
                          type: string
                        operator:
                          type: string
                          enum:
                            - equal
                            - not_equal
                            - in
                            - not_in
                            - less
                            - less_or_equal
                            - greater
                            - greater_or_equal
                            - between
                            - not_between
                            - begins_with
                            - not_begins_with
                            - contains
                            - not_contains
                            - ends_with
                            - not_ends_with
                            - is_empty
                            - is_not_empty
                            - is_null
                            - is_not_null
                            - 'true'
                            - 'false'
                            - past_less
                            - past_exactly
                            - past_more_than
                            - future_less
                            - future_exactly
                            - future_more_than
                            - after
                            - 'on'
                            - before
                            - is
                            - is_not
                        value:
                          type: array
                          x-constraint:
                            single: true
                          items:
                            type: string
                            x-alternatives:
                              - type: string
                              - type: number
                              - type: string
                                format: date-time
                              - type: boolean
                              - type: object
                                x-properties:
                                  value1:
                                    type: string
                                    x-alternatives:
                                      - type: string
                                      - type: number
                                  value2:
                                    type: string
                                    x-alternatives:
                                      - type: string
                                      - type: number
                          collectionFormat: multi
                          name: value
                        entity:
                          type: string
                          enum:
                            - account
                            - person
                            - opportunity
                            - campaign
                            - tag
                            - task
                            - workflow
                            - workflow_record
                            - workflow_step_record
                        display_entity:
                          type: string
                          enum:
                            - Account
                            - Contact
                            - Opportunity
                            - Campaign
                            - Tag
                            - Task
                            - Workflow
                        pipeline:
                          type: number
                        enabled:
                          type: string
                        internal:
                          type: boolean
                    collectionFormat: multi
                    name: rules
                  not:
                    type: boolean
                  valid:
                    type: boolean
              collectionFormat: multi
              name: q
          name: q
          in: query
          x-type: object
          x-properties:
            condition:
              type: string
              enum:
                - AND
                - OR
            rules:
              type: array
              items:
                description: >-
                  Deprecated, please use the slim version with only `id`,
                  `operator`, `value`
                type: object
                required:
                  - id
                  - customfield_id
                  - operator
                  - enabled
                x-alternatives:
                  - description: >-
                      Deprecated, please use the slim version with only `id`,
                      `operator`, `value`
                    type: object
                    required:
                      - id
                      - customfield_id
                      - operator
                      - enabled
                    x-properties:
                      id:
                        type: string
                      query_builder_id:
                        type: string
                      customfield_id:
                        type: string
                      label:
                        type: string
                      type:
                        type: string
                        enum:
                          - integer
                          - double
                          - boolean
                          - tri_state_boolean
                          - string
                          - long_string
                          - select
                          - date
                          - datetime
                          - file
                      input:
                        type: string
                      operator:
                        type: string
                        enum:
                          - equal
                          - not_equal
                          - in
                          - not_in
                          - less
                          - less_or_equal
                          - greater
                          - greater_or_equal
                          - between
                          - not_between
                          - begins_with
                          - not_begins_with
                          - contains
                          - not_contains
                          - ends_with
                          - not_ends_with
                          - is_empty
                          - is_not_empty
                          - is_null
                          - is_not_null
                          - 'true'
                          - 'false'
                          - past_less
                          - past_exactly
                          - past_more_than
                          - future_less
                          - future_exactly
                          - future_more_than
                          - after
                          - 'on'
                          - before
                          - is
                          - is_not
                      value:
                        type: array
                        x-constraint:
                          single: true
                        items:
                          type: string
                          x-alternatives:
                            - type: string
                            - type: number
                            - type: string
                              format: date-time
                            - type: boolean
                            - type: object
                              x-properties:
                                value1:
                                  type: string
                                  x-alternatives:
                                    - type: string
                                    - type: number
                                value2:
                                  type: string
                                  x-alternatives:
                                    - type: string
                                    - type: number
                        collectionFormat: multi
                        name: value
                      entity:
                        type: string
                        enum:
                          - account
                          - person
                          - opportunity
                          - campaign
                          - tag
                          - task
                          - workflow
                          - workflow_record
                          - workflow_step_record
                      display_entity:
                        type: string
                        enum:
                          - Account
                          - Contact
                          - Opportunity
                          - Campaign
                          - Tag
                          - Task
                          - Workflow
                      pipeline:
                        type: number
                      enabled:
                        type: string
                      internal:
                        type: boolean
                  - type: object
                    required:
                      - id
                      - operator
                      - value
                    x-properties:
                      id:
                        type: string
                      operator:
                        description: >-
                          `is_empty`, `is_not_empty`, `is_null`, `is_not_null`,
                          `true` and `false` are deprecated and should not be
                          used.
                        type: string
                        enum:
                          - equal
                          - not_equal
                          - in
                          - not_in
                          - less
                          - less_or_equal
                          - greater
                          - greater_or_equal
                          - between
                          - not_between
                          - begins_with
                          - not_begins_with
                          - contains
                          - not_contains
                          - ends_with
                          - not_ends_with
                          - is_empty
                          - is_not_empty
                          - is_null
                          - is_not_null
                          - 'true'
                          - 'false'
                          - past_less
                          - past_exactly
                          - past_more_than
                          - future_less
                          - future_exactly
                          - future_more_than
                          - after
                          - 'on'
                          - before
                          - is
                          - is_not
                      value:
                        type: array
                        x-constraint:
                          single: true
                        items:
                          type: string
                          x-alternatives:
                            - type: string
                            - type: number
                            - type: string
                              format: date-time
                            - type: boolean
                        collectionFormat: multi
                        name: value
                      pipeline:
                        type: number
                  - type: object
                    required:
                      - condition
                    x-properties:
                      condition:
                        type: string
                        enum:
                          - AND
                          - OR
                      rules:
                        type: array
                        items:
                          description: >-
                            Deprecated, please use the slim version with only
                            `id`, `operator`, `value`
                          type: object
                          required:
                            - id
                            - customfield_id
                            - operator
                            - enabled
                          x-properties:
                            id:
                              type: string
                            query_builder_id:
                              type: string
                            customfield_id:
                              type: string
                            label:
                              type: string
                            type:
                              type: string
                              enum:
                                - integer
                                - double
                                - boolean
                                - tri_state_boolean
                                - string
                                - long_string
                                - select
                                - date
                                - datetime
                                - file
                            input:
                              type: string
                            operator:
                              type: string
                              enum:
                                - equal
                                - not_equal
                                - in
                                - not_in
                                - less
                                - less_or_equal
                                - greater
                                - greater_or_equal
                                - between
                                - not_between
                                - begins_with
                                - not_begins_with
                                - contains
                                - not_contains
                                - ends_with
                                - not_ends_with
                                - is_empty
                                - is_not_empty
                                - is_null
                                - is_not_null
                                - 'true'
                                - 'false'
                                - past_less
                                - past_exactly
                                - past_more_than
                                - future_less
                                - future_exactly
                                - future_more_than
                                - after
                                - 'on'
                                - before
                                - is
                                - is_not
                            value:
                              type: array
                              x-constraint:
                                single: true
                              items:
                                type: string
                                x-alternatives:
                                  - type: string
                                  - type: number
                                  - type: string
                                    format: date-time
                                  - type: boolean
                                  - type: object
                                    x-properties:
                                      value1:
                                        type: string
                                        x-alternatives:
                                          - type: string
                                          - type: number
                                      value2:
                                        type: string
                                        x-alternatives:
                                          - type: string
                                          - type: number
                              collectionFormat: multi
                              name: value
                            entity:
                              type: string
                              enum:
                                - account
                                - person
                                - opportunity
                                - campaign
                                - tag
                                - task
                                - workflow
                                - workflow_record
                                - workflow_step_record
                            display_entity:
                              type: string
                              enum:
                                - Account
                                - Contact
                                - Opportunity
                                - Campaign
                                - Tag
                                - Task
                                - Workflow
                            pipeline:
                              type: number
                            enabled:
                              type: string
                            internal:
                              type: boolean
                        collectionFormat: multi
                        name: rules
                      not:
                        type: boolean
                      valid:
                        type: boolean
                x-properties:
                  id:
                    type: string
                  query_builder_id:
                    type: string
                  customfield_id:
                    type: string
                  label:
                    type: string
                  type:
                    type: string
                    enum:
                      - integer
                      - double
                      - boolean
                      - tri_state_boolean
                      - string
                      - long_string
                      - select
                      - date
                      - datetime
                      - file
                  input:
                    type: string
                  operator:
                    type: string
                    enum:
                      - equal
                      - not_equal
                      - in
                      - not_in
                      - less
                      - less_or_equal
                      - greater
                      - greater_or_equal
                      - between
                      - not_between
                      - begins_with
                      - not_begins_with
                      - contains
                      - not_contains
                      - ends_with
                      - not_ends_with
                      - is_empty
                      - is_not_empty
                      - is_null
                      - is_not_null
                      - 'true'
                      - 'false'
                      - past_less
                      - past_exactly
                      - past_more_than
                      - future_less
                      - future_exactly
                      - future_more_than
                      - after
                      - 'on'
                      - before
                      - is
                      - is_not
                  value:
                    type: array
                    x-constraint:
                      single: true
                    items:
                      type: string
                      x-alternatives:
                        - type: string
                        - type: number
                        - type: string
                          format: date-time
                        - type: boolean
                        - type: object
                          x-properties:
                            value1:
                              type: string
                              x-alternatives:
                                - type: string
                                - type: number
                            value2:
                              type: string
                              x-alternatives:
                                - type: string
                                - type: number
                    collectionFormat: multi
                    name: value
                  entity:
                    type: string
                    enum:
                      - account
                      - person
                      - opportunity
                      - campaign
                      - tag
                      - task
                      - workflow
                      - workflow_record
                      - workflow_step_record
                  display_entity:
                    type: string
                    enum:
                      - Account
                      - Contact
                      - Opportunity
                      - Campaign
                      - Tag
                      - Task
                      - Workflow
                  pipeline:
                    type: number
                  enabled:
                    type: string
                  internal:
                    type: boolean
              collectionFormat: multi
              name: rules
            order_by:
              type: string
            not:
              type: boolean
            valid:
              type: boolean
            search:
              type: string
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: number
            minimum: 1
            default: 10
      responses:
        '200':
          description: Successful
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AccountsListAccountsResponse'
    post:
      tags:
        - Accounts
      summary: Create an account
      operationId: Accounts_createAccount
      parameters:
        - name: update_if_exists
          in: query
          schema:
            type: boolean
            default: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountsCreateAccountRequest'
        x-alternatives:
          - type: object
            properties:
              tags:
                type: array
                items:
                  type: string
                  x-alternatives:
                    - type: string
                    - type: object
                      properties:
                        id:
                          type: number
                        name:
                          type: string
                        team:
                          type: number
                        creation_date:
                          type: string
                        modification_date:
                          type: string
                        _deleted:
                          type: boolean
                        _dirty:
                          description: Deprecated, will be ignored
                          type: string
              description:
                type: string
              owner:
                type: number
              name:
                type: string
              domain:
                type: string
              picture:
                type: string
              size:
                type: number
              website:
                type: string
                x-format:
                  uri:
                    allowRelative: true
                    allowQuerySquareBrackets: true
              address:
                type: object
              addresses:
                type: array
                items:
                  type: object
                  properties:
                    city:
                      type: string
                    country:
                      type: string
                    region:
                      description: Deprecated property. Use state_region instead.
                      type: string
                    state_region:
                      type: string
                    street:
                      type: string
                    zip:
                      type: string
                    _dirty:
                      description: Deprecated, will be ignored
                      type: boolean
              email:
                type: string
                maxLength: 1000
                x-format:
                  email:
                    ignoreLength: true
                    tlds:
                      allow: false
                    minDomainSegments: 1
                x-convert:
                  case: lower
                  trim: true
              email_addresses:
                type: array
                items:
                  type: object
                  properties:
                    email:
                      type: string
                      maxLength: 1000
                      x-format:
                        email:
                          ignoreLength: true
                          tlds:
                            allow: false
                          minDomainSegments: 1
                      x-convert:
                        case: lower
                        trim: true
                    _dirty:
                      description: Deprecated, will be ignored
                      type: boolean
                  required:
                    - email
              phone_number:
                type: string
              phone_numbers:
                type: array
                items:
                  type: object
                  properties:
                    number:
                      type: string
                    type:
                      type: string
                    _dirty:
                      description: Deprecated, will be ignored
                      type: boolean
                  required:
                    - number
              social_profiles:
                type: array
                items:
                  type: string
                  x-alternatives:
                    - type: string
                    - type: object
                      properties:
                        type:
                          type: string
                        url:
                          type: string
                        username:
                          type: string
                        _dirty:
                          description: Deprecated, will be ignored
                          type: boolean
              links:
                type: string
              customers:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: number
                    email:
                      type: string
                      maxLength: 1000
                      x-format:
                        email:
                          ignoreLength: true
                          tlds:
                            allow: false
                          minDomainSegments: 1
                      x-convert:
                        case: lower
                    name:
                      type: string
                  required:
                    - id
              _dirty:
                description: Deprecated, will be ignored
                type: boolean
              parent_account:
                type: number
                x-alternatives:
                  - type: number
                  - type: object
                    properties:
                      id:
                        type: number
              custom:
                type: object
          - type: array
            items:
              type: object
              properties:
                id:
                  type: number
                email:
                  type: string
                  maxLength: 1000
                  x-format:
                    email:
                      ignoreLength: true
                      tlds:
                        allow: false
                      minDomainSegments: 1
                  x-convert:
                    case: lower
                name:
                  type: string
              required:
                - id
      responses:
        default:
          description: Successful
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AccountsCreateAccountResponse'
  /contacts:
    get:
      tags:
        - Contacts
      summary: List contacts
      operationId: Contacts_listContacts
      parameters:
        - x-constraint:
            single: true
          name: id
          in: query
          explode: true
          schema:
            type: array
            items:
              type: number
        - name: name
          in: query
          schema:
            type: string
        - name: email
          in: query
          schema:
            type: string
        - name: phone_number
          in: query
          schema:
            type: string
        - name: domain
          in: query
          schema:
            type: string
        - name: modification_after
          in: query
          schema:
            type: string
            format: date-time
        - name: modification_before
          in: query
          schema:
            type: string
            format: date-time
        - name: creation_after
          in: query
          schema:
            type: string
            format: date-time
        - name: creation_before
          in: query
          schema:
            type: string
            format: date-time
        - x-constraint:
            single: true
          name: account
          in: query
          explode: true
          schema:
            type: array
            items:
              type: number
        - x-constraint:
            single: true
          name: tag
          in: query
          explode: true
          schema:
            type: array
            items:
              type: number
        - x-constraint:
            single: true
          name: tag.name
          in: query
          explode: true
          schema:
            type: array
            items:
              type: string
        - x-constraint:
            single: true
          name: position.role
          in: query
          explode: true
          schema:
            type: array
            items:
              type: string
        - x-constraint:
            single: true
          name: address.country
          in: query
          explode: true
          schema:
            type: array
            items:
              type: string
        - x-constraint:
            single: true
          name: address.state_region
          in: query
          explode: true
          schema:
            type: array
            items:
              type: string
        - x-constraint:
            single: true
          name: address.city
          in: query
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: includeArchived
          in: query
          schema:
            type: boolean
        - name: search
          in: query
          schema:
            type: string
        - name: type
          in: query
          schema:
            type: string
            enum:
              - customer
              - mycontacts
        - name: limit
          in: query
          schema:
            type: number
            minimum: 1
            default: 20
        - name: offset
          in: query
          schema:
            type: number
            default: 0
        - name: custom
          in: query
          x-type: object
          schema:
            type: string
        - description: >-
            Can be just 'key' e.g. 'name' or 'key sortOrder' e.g. 'name desc'.
            Defaults to asc.
          x-constraint:
            single: true
          name: order_by
          in: query
          explode: true
          schema:
            type: array
            items:
              type: string
        - x-alternatives:
            - type: object
              required:
                - condition
                - rules
              x-properties:
                condition:
                  type: string
                  enum:
                    - AND
                    - OR
                rules:
                  type: array
                  items:
                    description: >-
                      Deprecated, please use the slim version with only `id`,
                      `operator`, `value`
                    type: object
                    required:
                      - id
                      - customfield_id
                      - operator
                      - enabled
                    x-alternatives:
                      - description: >-
                          Deprecated, please use the slim version with only
                          `id`, `operator`, `value`
                        type: object
                        required:
                          - id
                          - customfield_id
                          - operator
                          - enabled
                        x-properties:
                          id:
                            type: string
                          query_builder_id:
                            type: string
                          customfield_id:
                            type: string
                          label:
                            type: string
                          type:
                            type: string
                            enum:
                              - integer
                              - double
                              - boolean
                              - tri_state_boolean
                              - string
                              - long_string
                              - select
                              - date
                              - datetime
                              - file
                          input:
                            type: string
                          operator:
                            type: string
                            enum:
                              - equal
                              - not_equal
                              - in
                              - not_in
                              - less
                              - less_or_equal
                              - greater
                              - greater_or_equal
                              - between
                              - not_between
                              - begins_with
                              - not_begins_with
                              - contains
                              - not_contains
                              - ends_with
                              - not_ends_with
                              - is_empty
                              - is_not_empty
                              - is_null
                              - is_not_null
                              - 'true'
                              - 'false'
                              - past_less
                              - past_exactly
                              - past_more_than
                              - future_less
                              - future_exactly
                              - future_more_than
                              - after
                              - 'on'
                              - before
                              - is
                              - is_not
                          value:
                            type: array
                            x-constraint:
                              single: true
                            items:
                              type: string
                              x-alternatives:
                                - type: string
                                - type: number
                                - type: string
                                  format: date-time
                                - type: boolean
                                - type: object
                                  x-properties:
                                    value1:
                                      type: string
                                      x-alternatives:
                                        - type: string
                                        - type: number
                                    value2:
                                      type: string
                                      x-alternatives:
                                        - type: string
                                        - type: number
                            collectionFormat: multi
                            name: value
                          entity:
                            type: string
                            enum:
                              - account
                              - person
                              - opportunity
                              - campaign
                              - tag
                              - task
                              - workflow
                              - workflow_record
                              - workflow_step_record
                          display_entity:
                            type: string
                            enum:
                              - Account
                              - Contact
                              - Opportunity
                              - Campaign
                              - Tag
                              - Task
                              - Workflow
                          pipeline:
                            type: number
                          enabled:
                            type: string
                          internal:
                            type: boolean
                      - type: object
                        required:
                          - id
                          - operator
                          - value
                        x-properties:
                          id:
                            type: string
                          operator:
                            description: >-
                              `is_empty`, `is_not_empty`, `is_null`,
                              `is_not_null`, `true` and `false` are deprecated
                              and should not be used.
                            type: string
                            enum:
                              - equal
                              - not_equal
                              - in
                              - not_in
                              - less
                              - less_or_equal
                              - greater
                              - greater_or_equal
                              - between
                              - not_between
                              - begins_with
                              - not_begins_with
                              - contains
                              - not_contains
                              - ends_with
                              - not_ends_with
                              - is_empty
                              - is_not_empty
                              - is_null
                              - is_not_null
                              - 'true'
                              - 'false'
                              - past_less
                              - past_exactly
                              - past_more_than
                              - future_less
                              - future_exactly
                              - future_more_than
                              - after
                              - 'on'
                              - before
                              - is
                              - is_not
                          value:
                            type: array
                            x-constraint:
                              single: true
                            items:
                              type: string
                              x-alternatives:
                                - type: string
                                - type: number
                                - type: string
                                  format: date-time
                                - type: boolean
                            collectionFormat: multi
                            name: value
                          pipeline:
                            type: number
                      - type: object
                        required:
                          - condition
                        x-properties:
                          condition:
                            type: string
                            enum:
                              - AND
                              - OR
                          rules:
                            type: array
                            items:
                              description: >-
                                Deprecated, please use the slim version with
                                only `id`, `operator`, `value`
                              type: object
                              required:
                                - id
                                - customfield_id
                                - operator
                                - enabled
                              x-properties:
                                id:
                                  type: string
                                query_builder_id:
                                  type: string
                                customfield_id:
                                  type: string
                                label:
                                  type: string
                                type:
                                  type: string
                                  enum:
                                    - integer
                                    - double
                                    - boolean
                                    - tri_state_boolean
                                    - string
                                    - long_string
                                    - select
                                    - date
                                    - datetime
                                    - file
                                input:
                                  type: string
                                operator:
                                  type: string
                                  enum:
                                    - equal
                                    - not_equal
                                    - in
                                    - not_in
                                    - less
                                    - less_or_equal
                                    - greater
                                    - greater_or_equal
                                    - between
                                    - not_between
                                    - begins_with
                                    - not_begins_with
                                    - contains
                                    - not_contains
                                    - ends_with
                                    - not_ends_with
                                    - is_empty
                                    - is_not_empty
                                    - is_null
                                    - is_not_null
                                    - 'true'
                                    - 'false'
                                    - past_less
                                    - past_exactly
                                    - past_more_than
                                    - future_less
                                    - future_exactly
                                    - future_more_than
                                    - after
                                    - 'on'
                                    - before
                                    - is
                                    - is_not
                                value:
                                  type: array
                                  x-constraint:
                                    single: true
                                  items:
                                    type: string
                                    x-alternatives:
                                      - type: string
                                      - type: number
                                      - type: string
                                        format: date-time
                                      - type: boolean
                                      - type: object
                                        x-properties:
                                          value1:
                                            type: string
                                            x-alternatives:
                                              - type: string
                                              - type: number
                                          value2:
                                            type: string
                                            x-alternatives:
                                              - type: string
                                              - type: number
                                  collectionFormat: multi
                                  name: value
                                entity:
                                  type: string
                                  enum:
                                    - account
                                    - person
                                    - opportunity
                                    - campaign
                                    - tag
                                    - task
                                    - workflow
                                    - workflow_record
                                    - workflow_step_record
                                display_entity:
                                  type: string
                                  enum:
                                    - Account
                                    - Contact
                                    - Opportunity
                                    - Campaign
                                    - Tag
                                    - Task
                                    - Workflow
                                pipeline:
                                  type: number
                                enabled:
                                  type: string
                                internal:
                                  type: boolean
                            collectionFormat: multi
                            name: rules
                          not:
                            type: boolean
                          valid:
                            type: boolean
                    x-properties:
                      id:
                        type: string
                      query_builder_id:
                        type: string
                      customfield_id:
                        type: string
                      label:
                        type: string
                      type:
                        type: string
                        enum:
                          - integer
                          - double
                          - boolean
                          - tri_state_boolean
                          - string
                          - long_string
                          - select
                          - date
                          - datetime
                          - file
                      input:
                        type: string
                      operator:
                        type: string
                        enum:
                          - equal
                          - not_equal
                          - in
                          - not_in
                          - less
                          - less_or_equal
                          - greater
                          - greater_or_equal
                          - between
                          - not_between
                          - begins_with
                          - not_begins_with
                          - contains
                          - not_contains
                          - ends_with
                          - not_ends_with
                          - is_empty
                          - is_not_empty
                          - is_null
                          - is_not_null
                          - 'true'
                          - 'false'
                          - past_less
                          - past_exactly
                          - past_more_than
                          - future_less
                          - future_exactly
                          - future_more_than
                          - after
                          - 'on'
                          - before
                          - is
                          - is_not
                      value:
                        type: array
                        x-constraint:
                          single: true
                        items:
                          type: string
                          x-alternatives:
                            - type: string
                            - type: number
                            - type: string
                              format: date-time
                            - type: boolean
                            - type: object
                              x-properties:
                                value1:
                                  type: string
                                  x-alternatives:
                                    - type: string
                                    - type: number
                                value2:
                                  type: string
                                  x-alternatives:
                                    - type: string
                                    - type: number
                        collectionFormat: multi
                        name: value
                      entity:
                        type: string
                        enum:
                          - account
                          - person
                          - opportunity
                          - campaign
                          - tag
                          - task
                          - workflow
                          - workflow_record
                          - workflow_step_record
                      display_entity:
                        type: string
                        enum:
                          - Account
                          - Contact
                          - Opportunity
                          - Campaign
                          - Tag
                          - Task
                          - Workflow
                      pipeline:
                        type: number
                      enabled:
                        type: string
                      internal:
                        type: boolean
                  collectionFormat: multi
                  name: rules
                order_by:
                  type: string
                not:
                  type: boolean
                valid:
                  type: boolean
                search:
                  type: string
            - type: array
              items:
                type: object
                required:
                  - condition
                x-alternatives:
                  - type: object
                    required:
                      - condition
                    x-properties:
                      condition:
                        type: string
                        enum:
                          - AND
                          - OR
                      rules:
                        type: array
                        items:
                          description: >-
                            Deprecated, please use the slim version with only
                            `id`, `operator`, `value`
                          type: object
                          required:
                            - id
                            - customfield_id
                            - operator
                            - enabled
                          x-properties:
                            id:
                              type: string
                            query_builder_id:
                              type: string
                            customfield_id:
                              type: string
                            label:
                              type: string
                            type:
                              type: string
                              enum:
                                - integer
                                - double
                                - boolean
                                - tri_state_boolean
                                - string
                                - long_string
                                - select
                                - date
                                - datetime
                                - file
                            input:
                              type: string
                            operator:
                              type: string
                              enum:
                                - equal
                                - not_equal
                                - in
                                - not_in
                                - less
                                - less_or_equal
                                - greater
                                - greater_or_equal
                                - between
                                - not_between
                                - begins_with
                                - not_begins_with
                                - contains
                                - not_contains
                                - ends_with
                                - not_ends_with
                                - is_empty
                                - is_not_empty
                                - is_null
                                - is_not_null
                                - 'true'
                                - 'false'
                                - past_less
                                - past_exactly
                                - past_more_than
                                - future_less
                                - future_exactly
                                - future_more_than
                                - after
                                - 'on'
                                - before
                                - is
                                - is_not
                            value:
                              type: array
                              x-constraint:
                                single: true
                              items:
                                type: string
                                x-alternatives:
                                  - type: string
                                  - type: number
                                  - type: string
                                    format: date-time
                                  - type: boolean
                                  - type: object
                                    x-properties:
                                      value1:
                                        type: string
                                        x-alternatives:
                                          - type: string
                                          - type: number
                                      value2:
                                        type: string
                                        x-alternatives:
                                          - type: string
                                          - type: number
                              collectionFormat: multi
                              name: value
                            entity:
                              type: string
                              enum:
                                - account
                                - person
                                - opportunity
                                - campaign
                                - tag
                                - task
                                - workflow
                                - workflow_record
                                - workflow_step_record
                            display_entity:
                              type: string
                              enum:
                                - Account
                                - Contact
                                - Opportunity
                                - Campaign
                                - Tag
                                - Task
                                - Workflow
                            pipeline:
                              type: number
                            enabled:
                              type: string
                            internal:
                              type: boolean
                        collectionFormat: multi
                        name: rules
                      not:
                        type: boolean
                      valid:
                        type: boolean
                  - description: >-
                      Deprecated, please use the slim version with only `id`,
                      `operator`, `value`
                    type: object
                    required:
                      - id
                      - customfield_id
                      - operator
                      - enabled
                    x-properties:
[...]
