openapi: 3.0.0
info:
  title: Email Activity (beta)
  description: >-
    The Beta endpoints for the new Email Activity APIs - functionality is
    subject to change without notice. You may not have access to this Beta
    endpoint.


    Email Activity offers filtering and search by event type for two days worth
    of data. There is an optional add-on to store 60 days worth of data. This
    add-on also gives you access to the ability to download a CSV of the 60 days
    worth of email event data. The Beta endpoints for the new Email Activity
    APIs - functionality is subject to change without notice. You may not have
    access to this Beta endpoint.


    Email Activity offers filtering and search by event type for two days worth
    of data. There is an optional add-on to store 60 days worth of data. This
    add-on also gives you access to the ability to download a CSV of the 60 days
    worth of email event data.
  version: 1.0.0
  x-apisguru-categories:
    - email
    - marketing
  x-logo:
    url: >-
      https://user-images.githubusercontent.com/21603/27865240-b4c0da22-6189-11e7-9f2c-f35f4c6fa57c.png
  x-origin:
    - version: '3.0'
      format: openapi
      url: https://raw.githubusercontent.com/sendgrid/sendgrid-oai/main/oai.json
  x-providerName: sendgrid.com
  x-konfig-ignore:
    object-with-no-properties: true
servers:
  - url: http://api.sendgrid.com/v3
tags:
  - name: Settings - Mail
  - name: Contacts
  - name: Contacts API - Recipients
  - name: Domain Authentication
  - name: Campaigns API
  - name: Single Sends
  - name: Teammates
  - name: Contacts API - Lists
  - name: Link branding
  - name: Designs API
  - name: Settings - Tracking
  - name: Users API
  - name: Marketing Campaigns Stats
  - name: Sender Verification
  - name: Stats
  - name: IP Pools
  - name: Cancel Scheduled Sends
  - name: Lists
  - name: Webhooks
  - name: IP Access Management
  - name: API Keys
  - name: Suppressions - Suppressions
  - name: Contacts API - Segments
  - name: Segmenting Contacts
  - name: Sender Identities API
  - name: Subusers API
  - name: Transactional Templates
  - name: Alerts
  - name: Suppressions - Unsubscribe Groups
  - name: Contacts API - Custom Fields
  - name: IP Addresses
  - name: Segmenting Contacts V2 - Beta
  - name: Certificates
  - name: Single Sign-On Settings
  - name: Transactional Templates Versions
  - name: Reverse DNS
  - name: Suppressions - Global Suppressions
  - name: IP Warmup
  - name: Custom Fields
  - name: Subuser Statistics
  - name: Subuser Monitor Settings
  - name: Blocks API
  - name: Bounces API
  - name: Invalid Emails API
  - name: Spam Reports API
  - name: Settings - Inbound Parse
  - name: Categories
  - name: Settings - Partner
  - name: Query
  - name: Messages
  - name: CSV (UI only)
  - name: V3
  - name: Single Sign-On Teammates
  - name: Settings - Enforced TLS
  - name: Mail Send
  - name: Senders
  - name: Send Test Email
  - name: API Key Permissions
  - name: Email Address Validation
  - name: Email CNAME records
paths:
  /access_settings/activity:
    get:
      tags:
        - IP Access Management
      summary: Retrieve all recent access attempts
      operationId: IpAccessManagement_getRecentAccessAttempts
      security:
        - Authorization: []
      description: >-
        **This endpoint allows you to retrieve a list of all of the IP addresses
        that recently attempted to access your account either through the User
        Interface or the API.**
      parameters:
        - description: Limits the number of IPs to return.
          in: query
          name: limit
          schema:
            default: 20
            type: integer
        - $ref: '#/components/parameters/trait_onBehalfOfSubuser_on-behalf-of'
      responses:
        '200':
          description: ''
          content:
            application/json:
              examples:
                response:
                  value:
                    result:
                      - allowed: false
                        auth_method: Web
                        first_at: 1444087966
                        ip: 1.1.1.1
                        last_at: 1444406672
                        location: Australia
                      - allowed: false
                        auth_method: Web
                        first_at: 1444087505
                        ip: 1.2.3.48
                        last_at: 1444087505
                        location: Mukilteo, Washington
              schema:
                $ref: >-
                  #/components/schemas/IpAccessManagementGetRecentAccessAttemptsResponse
        '401':
          $ref: '#/components/responses/trait_globalErrors_401'
        '403':
          $ref: '#/components/responses/trait_globalErrors_403'
        '404':
          $ref: '#/components/responses/trait_globalErrors_404'
        '500':
          $ref: '#/components/responses/trait_globalErrors_500'
  /access_settings/whitelist:
    delete:
      tags:
        - IP Access Management
      summary: Remove one or more IPs from the allow list
      operationId: IpAccessManagement_removeIpAddresses
      security:
        - Authorization: []
      description: >-
        **This endpoint allows you to remove one or more IP addresses from your
        list of allowed addresses.**


        To remove one or more IP addresses, pass this endpoint an array
        containing the ID(s) associated with the IP(s) you intend to remove. You
        can retrieve the IDs associated with your allowed IP addresses using the
        "Retrieve a list of currently allowed IPs" endpoint.


        It is possible to remove your own IP address, which will block access to
        your account. You will need to submit a [support
        ticket](https://sendgrid.com/docs/ui/account-and-settings/support/) if
        this happens. For this reason, it is important to double check that you
        are removing only the IPs you intend to remove when using this endpoint.
      parameters:
        - $ref: '#/components/parameters/trait_onBehalfOfSubuser_on-behalf-of'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IpAccessManagementRemoveIpAddressesRequest'
      responses:
        '204':
          description: ''
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/IpAccessManagementRemoveIpAddressesResponse
        '401':
          $ref: '#/components/responses/trait_globalErrors_401'
        '403':
          $ref: '#/components/responses/trait_globalErrors_403'
        '404':
          $ref: '#/components/responses/trait_globalErrors_404'
        '500':
          $ref: '#/components/responses/trait_globalErrors_500'
    get:
      tags:
        - IP Access Management
      summary: Retrieve a list of currently allowed IPs
      operationId: IpAccessManagement_getAllowedIPs
      security:
        - Authorization: []
      description: >-
        **This endpoint allows you to retrieve a list of IP addresses that are
        currently allowed to access your account.**


        Each IP address returned to you will have `created_at` and `updated_at`
        dates. Each IP will also be associated with an `id` that can be used to
        remove the address from your allow list.
      parameters:
        - $ref: '#/components/parameters/trait_onBehalfOfSubuser_on-behalf-of'
      responses:
        '200':
          description: ''
          content:
            application/json:
              examples:
                response:
                  value:
                    result:
                      - created_at: 1441824715
                        id: 1
                        ip: 192.168.1.1/32
                        updated_at: 1441824715
                      - created_at: 1441824715
                        id: 2
                        ip: 192.168.1.2/32
                        updated_at: 1441824715
                      - created_at: 1441824715
                        id: 3
                        ip: 192.168.1.3/32
                        updated_at: 1441824715
              schema:
                $ref: '#/components/schemas/ip-access-response'
        '401':
          $ref: '#/components/responses/trait_globalErrors_401'
        '403':
          $ref: '#/components/responses/trait_globalErrors_403'
        '404':
          $ref: '#/components/responses/trait_globalErrors_404'
        '500':
          $ref: '#/components/responses/trait_globalErrors_500'
    post:
      tags:
        - IP Access Management
      summary: Add one or more IPs to the allow list
      operationId: IpAccessManagement_addAllowedIps
      security:
        - Authorization: []
      description: >-
        **This endpoint allows you to add one or more allowed IP addresses.**


        To allow one or more IP addresses, pass them to this endpoint in an
        array. Once an IP address is added to your allow list, it will be
        assigned an `id` that can be used to remove the address. You can
        retrieve the ID associated with an IP using the "Retrieve a list of
        currently allowed IPs" endpoint.
      parameters:
        - $ref: '#/components/parameters/trait_onBehalfOfSubuser_on-behalf-of'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IpAccessManagementAddAllowedIpsRequest'
      responses:
        '201':
          description: ''
          content:
            application/json:
              examples:
                response:
                  value:
                    result:
                      - created_at: 1441824715
                        id: 1
                        ip: 192.168.1.1/32
                        updated_at: 1441824715
                      - created_at: 1441824715
                        id: 2
                        ip: 192.0.0.0/8
                        updated_at: 1441824715
                      - created_at: 1441824715
                        id: 3
                        ip: 192.168.1.3/32
                        updated_at: 1441824715
              schema:
                $ref: '#/components/schemas/ip-access-response'
        '401':
          $ref: '#/components/responses/trait_globalErrors_401'
        '403':
          $ref: '#/components/responses/trait_globalErrors_403'
        '404':
          $ref: '#/components/responses/trait_globalErrors_404'
        '500':
          $ref: '#/components/responses/trait_globalErrors_500'
  /access_settings/whitelist/{rule_id}:
    parameters:
      - description: The ID of the allowed IP address that you want to retrieve.
        in: path
        name: rule_id
        required: true
        schema:
          type: string
    delete:
      tags:
        - IP Access Management
      summary: Remove a specific IP from the allowed list
      operationId: IpAccessManagement_removeSpecificIpFromAllowedList
      security:
        - Authorization: []
      description: >-
        **This endpoint allows you to remove a specific IP address from your
        list of allowed addresses.**


        When removing a specific IP address from your list, you must include the
        ID in your call.  You can retrieve the IDs associated with your allowed
        IP addresses using the "Retrieve a list of currently allowed IPs"
        endpoint.
      parameters:
        - $ref: '#/components/parameters/trait_onBehalfOfSubuser_on-behalf-of'
      responses:
        '204':
          description: ''
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/IpAccessManagementRemoveSpecificIpFromAllowedListResponse
    get:
      tags:
        - IP Access Management
      summary: Retrieve a specific allowed IP
      operationId: IpAccessManagement_getAllowedIp
      security:
        - Authorization: []
      description: >-
        **This endpoint allows you to retreive a specific IP address that has
        been allowed to access your account.**


        You must include the ID for the specific IP address you want to retrieve
        in your call. You can retrieve the IDs associated with your allowed IP
        addresses using the "Retrieve a  list of currently allowed IPs"
        endpoint.
      parameters:
        - $ref: '#/components/parameters/trait_onBehalfOfSubuser_on-behalf-of'
      responses:
        '200':
          description: ''
          content:
            application/json:
              examples:
                response:
                  value:
                    created_at: 1441824715
                    id: 1
                    ip: 192.168.1.1
                    updated_at: 1441824715
              schema:
                $ref: '#/components/schemas/ip-access-response'
  /alerts:
    get:
      tags:
        - Alerts
      summary: Retrieve all alerts
      operationId: GET_alerts
      security:
        - Authorization: []
      description: >-
        **This endpoint allows you to retrieve all of your alerts.**


        Alerts allow you to specify an email address to receive notifications
        regarding your email usage or statistics. 

        * Usage alerts allow you to set the threshold at which an alert will be
        sent.

        * Stats notifications allow you to set how frequently you would like to
        receive email statistics reports. For example, "daily", "weekly", or
        "monthly".


        For more information about alerts, please see our [Alerts
        documentation](https://sendgrid.com/docs/ui/account-and-settings/alerts/).
      parameters:
        - $ref: '#/components/parameters/trait_onBehalfOfSubuser_on-behalf-of'
      responses:
        '200':
          description: ''
          content:
            application/json:
              examples:
                response:
                  value:
                    - created_at: 1451498784
                      email_to: example1@example.com
                      id: 46
                      percentage: 90
                      type: usage_limit
                      updated_at: 1451498784
                    - created_at: 1451498812
                      email_to: example2@example.com
                      frequency: monthly
                      id: 47
                      type: stats_notification
                      updated_at: 1451498812
                    - created_at: 1451520930
                      email_to: example3@example.com
                      frequency: daily
                      id: 48
                      type: stats_notification
                      updated_at: 1451520930
              schema:
                $ref: '#/components/schemas/GetAlertsResponse'
    post:
      tags:
        - Alerts
      summary: Create a new Alert
      operationId: POST_alerts
      security:
        - Authorization: []
      description: >-
        **This endpoint allows you to create a new alert.**


        Alerts allow you to specify an email address to receive notifications
        regarding your email usage or statistics. There are two types of alerts
        that can be created with this endpoint:


        * `usage_limit` allows you to set the threshold at which an alert will
        be sent.

        * `stats_notification` allows you to set how frequently you would like
        to receive email statistics reports. For example, "daily", "weekly", or
        "monthly".


        For more information about alerts, please see our [Alerts
        documentation](https://sendgrid.com/docs/ui/account-and-settings/alerts/).
      parameters:
        - in: header
          name: on-behalf-of
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostAlertsRequest'
      responses:
        '201':
          description: ''
          content:
            application/json:
              examples:
                response:
                  value:
                    created_at: 1451520930
                    email_to: test@example.com
                    frequency: daily
                    id: 48
                    type: stats_notification
                    updated_at: 1451520930
              schema:
                $ref: '#/components/schemas/PostAlertsResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostAlerts400Response'
  /alerts/{alert_id}:
    parameters:
      - description: The ID of the alert you would like to retrieve.
        in: path
        name: alert_id
        required: true
        schema:
          type: integer
    delete:
      tags:
        - Alerts
      summary: Delete an alert
      operationId: Alerts_deleteAlertById
      security:
        - Authorization: []
      description: >-
        **This endpoint allows you to delete an alert.**


        Alerts allow you to specify an email address to receive notifications
        regarding your email usage or statistics. 

        * Usage alerts allow you to set the threshold at which an alert will be
        sent.

        * Stats notifications allow you to set how frequently you would like to
        receive email statistics reports. For example, "daily", "weekly", or
        "monthly".


        For more information about alerts, please see our [Alerts
        documentation](https://sendgrid.com/docs/ui/account-and-settings/alerts/).
      parameters:
        - $ref: '#/components/parameters/trait_onBehalfOfSubuser_on-behalf-of'
      responses:
        '204':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertsDeleteAlertByIdResponse'
    get:
      tags:
        - Alerts
      summary: Retrieve a specific alert
      operationId: Alerts_getSpecificAlert
      security:
        - Authorization: []
      description: >-
        **This endpoint allows you to retrieve a specific alert.**


        Alerts allow you to specify an email address to receive notifications
        regarding your email usage or statistics. 

        * Usage alerts allow you to set the threshold at which an alert will be
        sent.

        * Stats notifications allow you to set how frequently you would like to
        receive email statistics reports. For example, "daily", "weekly", or
        "monthly".


        For more information about alerts, please see our [Alerts
        documentation](https://sendgrid.com/docs/ui/account-and-settings/alerts/).
      parameters:
        - $ref: '#/components/parameters/trait_onBehalfOfSubuser_on-behalf-of'
      responses:
        '200':
          description: ''
          content:
            application/json:
              examples:
                response:
                  value:
                    created_at: 1451520930
                    email_to: example@example.com
                    frequency: daily
                    id: 48
                    type: stats_notification
                    updated_at: 1451520930
              schema:
                $ref: '#/components/schemas/AlertsGetSpecificAlertResponse'
    patch:
      tags:
        - Alerts
      summary: Update an alert
      operationId: Alerts_updateAlert
      security:
        - Authorization: []
      description: >-
        **This endpoint allows you to update an alert.**


        Alerts allow you to specify an email address to receive notifications
        regarding your email usage or statistics. 

        * Usage alerts allow you to set the threshold at which an alert will be
        sent.

        * Stats notifications allow you to set how frequently you would like to
        receive email statistics reports. For example, "daily", "weekly", or
        "monthly".


        For more information about alerts, please see our [Alerts
        documentation](https://sendgrid.com/docs/ui/account-and-settings/alerts/).
      parameters:
        - $ref: '#/components/parameters/trait_onBehalfOfSubuser_on-behalf-of'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlertsUpdateAlertRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              examples:
                response:
                  value:
                    created_at: 1451520930
                    email_to: example@example.com
                    frequency: daily
                    id: 48
                    type: stats_notification
                    updated_at: 1451522691
              schema:
                $ref: '#/components/schemas/AlertsUpdateAlertResponse'
  /api_keys:
    get:
      tags:
        - API Keys
      summary: Retrieve all API Keys belonging to the authenticated user
      operationId: ApiKeys_getAll
      security:
        - Authorization: []
      description: >-
        **This endpoint allows you to retrieve all API Keys that belong to the
        authenticated user.**


        A successful response from this API will include all available API keys'
        names and IDs.


        For security reasons, there is not a way to retrieve the key itself
        after it's created. If you lose your API key, you must create a new one.
        Only the "Create API keys" endpoint will return a key to you and only at
        the time of creation.


        An `api_key_id` can be used to update or delete the key, as well as
        retrieve the key's details, such as its scopes.
      parameters:
        - in: query
          name: limit
          schema:
            type: integer
        - $ref: '#/components/parameters/trait_onBehalfOfSubuser_on-behalf-of'
      responses:
        '200':
          description: ''
          content:
            application/json:
              examples:
                response:
                  value:
                    result:
                      - api_key_id: some-apikey-id
                        name: API Key Name
                      - api_key_id: another-apikey-id
                        name: API Key Name 2
              schema:
                $ref: '#/components/schemas/ApiKeysGetAllResponse'
        '401':
          $ref: '#/components/responses/trait_globalErrors_401'
        '403':
          $ref: '#/components/responses/trait_globalErrors_403'
        '404':
          $ref: '#/components/responses/trait_globalErrors_404'
        '500':
          $ref: '#/components/responses/trait_globalErrors_500'
    post:
      tags:
        - API Keys
      summary: Create API keys
      operationId: ApiKeys_createKey
      security:
        - Authorization: []
      description: >-
        **This endpoint allows you to create a new API Key for the user.**


        To create your initial SendGrid API Key, you should [use the SendGrid
        App](https://app.sendgrid.com/settings/api_keys). Once you have created
        a first key with scopes to manage additional API keys, you can use this
        API for all other key management.


        > There is a limit of 100 API Keys on your account.


        A JSON request body containing a `name` property is required when making
        requests to this endpoint. If the number of maximum keys, 100, is
        reached, a `403` status will be returned.


        Though the `name` field is required, it does not need to be unique. A
        unique API key ID will be generated for each key you create and returned
        in the response body.


        It is not necessary to pass a `scopes` field to the API when creating a
        key, but you should be aware that omitting the `scopes` field from your
        request will create a key with "Full Access" permissions by default.


        See the [API Key Permissions
        List](https://sendgrid.api-docs.io/v3.0/how-to-use-the-sendgrid-v3-api/api-authorization)
        for all available scopes. An API key's scopes can be updated after
        creation using the "Update API keys" endpoint.
      parameters:
        - $ref: '#/components/parameters/trait_onBehalfOfSubuser_on-behalf-of'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKeysCreateKeyRequest'
      responses:
        '201':
          description: ''
          content:
            application/json:
              examples:
                response:
                  value:
                    api_key: SG.xxxxxxxx.yyyyyyyy
                    api_key_id: xxxxxxxx
                    name: My API Key
                    scopes:
                      - mail.send
                      - alerts.create
                      - alerts.read
              schema:
                $ref: '#/components/schemas/ApiKeysCreateKeyResponse'
        '400':
          $ref: '#/components/responses/trait_apiKeysErrors_400'
        '401':
          $ref: '#/components/responses/trait_globalErrors_401'
        '403':
          $ref: '#/components/responses/trait_apiKeysErrors_403'
        '404':
          $ref: '#/components/responses/trait_apiKeysErrors_404'
        '500':
          $ref: '#/components/responses/trait_globalErrors_500'
  /api_keys/{api_key_id}:
    parameters:
      - description: ''
        in: path
        name: api_key_id
        required: true
        schema:
          type: string
    delete:
      tags:
        - API Keys
      summary: Delete API keys
      operationId: ApiKeys_revokeKey
      security:
        - Authorization: []
      description: >-
        **This endpoint allows you to revoke an existing API Key using an
        `api_key_id`**


        Authentications using a revoked API Key will fail after after some small
        propogation delay. If the API Key ID does not exist, a `404` status will
        be returned.
      parameters:
        - $ref: '#/components/parameters/trait_onBehalfOfSubuser_on-behalf-of'
      responses:
        '204':
          description: ''
        '400':
          $ref: '#/components/responses/trait_apiKeysErrors_400'
        '401':
          $ref: '#/components/responses/trait_globalErrors_401'
        '403':
          $ref: '#/components/responses/trait_globalErrors_403'
        '404':
          $ref: '#/components/responses/trait_globalErrors_404'
        '500':
          $ref: '#/components/responses/trait_globalErrors_500'
    get:
      tags:
        - API Keys
      summary: Retrieve an existing API Key
      operationId: ApiKeys_getByKeyId
      security:
        - Authorization: []
      description: >-
        **This endpoint allows you to retrieve a single API key using an
        `api_key_id`.**


        The endpoint will return a key's name, ID, and scopes. If the API Key ID
        does not, exist a `404` status will be returned.


        See the [API Key Permissions
        List](https://sendgrid.api-docs.io/v3.0/how-to-use-the-sendgrid-v3-api/api-authorization)
        for all available scopes. An API key's scopes can be updated after
        creation using the "Update API keys" endpoint.
      parameters:
        - $ref: '#/components/parameters/trait_onBehalfOfSubuser_on-behalf-of'
      responses:
        '200':
          description: ''
          content:
            application/json:
              examples:
                response:
                  value:
                    result:
                      - api_key_id: some-apikey-id
                        name: API Key Name
                      - api_key_id: another-apikey-id
                        name: API Key Name 2
              schema:
                $ref: '#/components/schemas/ApiKeysGetByKeyIdResponse'
        '400':
          $ref: '#/components/responses/trait_apiKeysErrors_400'
        '401':
          $ref: '#/components/responses/trait_globalErrors_401'
        '403':
          $ref: '#/components/responses/trait_apiKeysErrors_403'
        '404':
          $ref: '#/components/responses/trait_apiKeysErrors_404'
        '500':
          $ref: '#/components/responses/trait_globalErrors_500'
    patch:
      tags:
        - API Keys
      summary: Update API key name
      operationId: ApiKeys_updateKeyName
      security:
        - Authorization: []
      description: >-
        **This endpoint allows you to update the name of an existing API Key.**


        You must pass this endpoint a JSON request body with a `name` property,
        which will be used to rename the key associated with the `api_key_id`
        passed in the URL.
      parameters:
        - $ref: '#/components/parameters/trait_onBehalfOfSubuser_on-behalf-of'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKeysUpdateKeyNameRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              examples:
                response:
                  value:
                    api_key_id: qfTQ6KG0QBiwWdJ0-pCLCA
                    name: A New Hope
              schema:
                $ref: '#/components/schemas/api_key_name_id'
        '400':
          $ref: '#/components/responses/trait_apiKeysErrors_400'
        '401':
          $ref: '#/components/responses/trait_globalErrors_401'
        '403':
          $ref: '#/components/responses/trait_globalErrors_403'
        '404':
          $ref: '#/components/responses/trait_globalErrors_404'
        '500':
          $ref: '#/components/responses/trait_globalErrors_500'
    put:
      tags:
        - API Keys
      summary: Update API key name and scopes
      operationId: ApiKeys_updateNameAndScopes
      security:
        - Authorization: []
      description: >-
        **This endpoint allows you to update the name and scopes of a given API
        key.**


        You must pass this endpoint a JSON request body with a `name` field and
        a `scopes` array containing at least one scope. The `name` and `scopes`
        fields will be used to update the key associated with the `api_key_id`
        in the request URL.


        If you need to update a key's scopes only, pass the `name` field with
        the key's existing name; the `name` will not be modified. If you need to
        update a key's name only, use the "Update API key name" endpoint.


        See the [API Key Permissions
        List](https://sendgrid.api-docs.io/v3.0/how-to-use-the-sendgrid-v3-api/api-authorization)
        for all available scopes.
      parameters:
        - $ref: '#/components/parameters/trait_onBehalfOfSubuser_on-behalf-of'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKeysUpdateNameAndScopesRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              examples:
                response:
                  value:
                    api_key_id: qfTQ6KG0QBiwWdJ0-pCLCA
                    name: Profiles Key
                    scopes:
                      - user.profile.read
                      - user.profile.update
              schema:
                $ref: '#/components/schemas/api_key_name_id_scopes'
        '400':
          $ref: '#/components/responses/trait_apiKeysErrors_400'
        '401':
          $ref: '#/components/responses/trait_globalErrors_401'
        '403':
          $ref: '#/components/responses/trait_globalErrors_403'
        '404':
          $ref: '#/components/responses/trait_globalErrors_404'
        '500':
          $ref: '#/components/responses/trait_globalErrors_500'
  /asm/groups:
    get:
      tags:
        - Suppressions - Unsubscribe Groups
      summary: Retrieve all suppression groups associated with the user.
      operationId: SuppressionsUnsubscribeGroups_getAll
      security:
        - Authorization: []
      description: >-
        **This endpoint allows you to retrieve a list of all suppression groups
        created by this user.**


        This endpoint can also return information for multiple group IDs that
        you include in your request. To add a group ID to your request, simply
        append `?id=123456&id=123456`, with the appropriate group IDs.
      parameters:
        - in: query
          name: id
          schema:
            type: integer
        - $ref: '#/components/parameters/trait_onBehalfOfSubuser_on-behalf-of'
      responses:
        '200':
          description: ''
          content:
            application/json:
              examples:
                response:
                  value:
                    - description: An Unsubscribe Group
                      id: 1234
                      is_default: true
                      last_email_sent_at: null
                      name: Unsubscribe Group
                      unsubscribes: 1234
                    - description: An Unsubscribe Group
                      id: 1234
                      is_default: true
                      last_email_sent_at: null
                      name: Unsubscribe Group
                      unsubscribes: 1234
              schema:
                $ref: >-
                  #/components/schemas/SuppressionsUnsubscribeGroupsGetAllResponse
    post:
      tags:
        - Suppressions - Unsubscribe Groups
      summary: Create a new suppression group
      operationId: SuppressionsUnsubscribeGroups_createNewGroup
      security:
        - Authorization: []
      description: >-
        **This endpoint allows you to create a new suppression group.**


        To add an email address to the suppression group, [create a
        Suppression](https://sendgrid.api-docs.io/v3.0/suppressions-suppressions/add-suppressions-to-a-suppression-group).
      parameters:
        - $ref: '#/components/parameters/trait_onBehalfOfSubuser_on-behalf-of'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/suppression-group-request-base'
      responses:
        '201':
          description: ''
          content:
            application/json:
              examples:
                response:
                  value:
                    description: Suggestions for products our users might like.
                    id: 103
                    is_default: false
                    name: Product Suggestions
              schema:
                $ref: >-
                  #/components/schemas/SuppressionsUnsubscribeGroupsCreateNewGroupResponse
  /asm/groups/{group_id}:
    parameters:
      - description: The ID of the suppression group you would like to retrieve.
        in: path
        name: group_id
        required: true
        schema:
          type: string
    delete:
      tags:
        - Suppressions - Unsubscribe Groups
      summary: Delete a Suppression Group
      operationId: SuppressionsUnsubscribeGroups_deleteGroup
      security:
        - Authorization: []
      description: >-
        **This endpoint allows you to delete a suppression group.**


        If a recipient uses the "one-click unsubscribe" option on an email
        associated with a deleted group, that recipient will be added to the
        global suppression list.


        Deleting a suppression group will remove the suppression, meaning email
        will once again be sent to the previously suppressed addresses. This
        should be avoided unless a recipient indicates they wish to receive
        email from you again. You can use our [bypass
        filters](https://sendgrid.com/docs/ui/sending-email/index-suppressions/#bypass-suppressions)
        to deliver messages to otherwise suppressed addresses when exceptions
        are required.
      parameters:
        - $ref: '#/components/parameters/trait_onBehalfOfSubuser_on-behalf-of'
      responses:
        '204':
          description: ''
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/SuppressionsUnsubscribeGroupsDeleteGroupResponse
    get:
      tags:
        - Suppressions - Unsubscribe Groups
      summary: Get information on a single suppression group.
      operationId: SuppressionsUnsubscribeGroups_getSingleGroup
      security:
        - Authorization: []
      description: '**This endpoint allows you to retrieve a single suppression group.**'
      parameters:
        - $ref: '#/components/parameters/trait_onBehalfOfSubuser_on-behalf-of'
      responses:
        '200':
          description: ''
          content:
            application/json:
              examples:
                response:
                  value:
                    description: Our monthly newsletter.
                    id: 100
                    is_default: true
                    last_email_sent_at: null
                    name: Newsletters
                    unsubscribes: 400
              schema:
                $ref: >-
                  #/components/schemas/SuppressionsUnsubscribeGroupsGetSingleGroupResponse
    patch:
      tags:
        - Suppressions - Unsubscribe Groups
      summary: Update a suppression group.
      operationId: SuppressionsUnsubscribeGroups_updateGroup
      security:
        - Authorization: []
      description: '**This endpoint allows you to update or change a suppression group.**'
      parameters:
        - $ref: '#/components/parameters/trait_onBehalfOfSubuser_on-behalf-of'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/suppression-group-request-base'
      responses:
        '201':
          description: ''
          content:
            application/json:
              examples:
                response:
                  value:
                    description: Suggestions for items our users might like.
                    id: 103
                    name: Item Suggestions
              schema:
                $ref: '#/components/schemas/suppression_group'
  /asm/groups/{group_id}/suppressions:
    parameters:
      - description: The id of the unsubscribe group that you are adding suppressions to.
        in: path
        name: group_id
        required: true
        schema:
          type: string
    get:
      tags:
        - Suppressions - Suppressions
      summary: Retrieve all suppressions for a suppression group
      operationId: SuppressionsSuppressions_getAllSuppressedEmails
      security:
        - Authorization: []
      description: >-
        **This endpoint allows you to retrieve all suppressed email addresses
        belonging to the given group.**
      parameters:
        - $ref: '#/components/parameters/trait_onBehalfOfSubuser_on-behalf-of'
      responses:
        '200':
          description: ''
          content:
            application/json:
              examples:
                response:
                  value:
                    - example@example.com
                    - example2@example.com
              schema:
                $ref: >-
                  #/components/schemas/SuppressionsSuppressionsGetAllSuppressedEmailsResponse
    post:
      tags:
        - Suppressions - Suppressions
      summary: Add suppressions to a suppression group
      operationId: SuppressionsSuppressions_addToGroup
      security:
        - Authorization: []
      description: >-
        **This endpoint allows you to add email addresses to an unsubscribe
        group.**


        If you attempt to add suppressions to a group that has been deleted or
        does not exist, the suppressions will be added to the global
        suppressions list.
      parameters:
        - $ref: '#/components/parameters/trait_onBehalfOfSubuser_on-behalf-of'
      requestBody:
        $ref: '#/components/requestBodies/suppressions-request'
      responses:
        '201':
          description: ''
          content:
            application/json:
              examples:
                response:
                  value:
                    recipient_emails:
                      - test1@example.com
                      - test2@example.com
              schema:
                $ref: >-
                  #/components/schemas/SuppressionsSuppressionsAddToGroupResponse
  /asm/groups/{group_id}/suppressions/search:
    parameters:
      - description: The ID of the suppression group that you would like to search.
        in: path
        name: group_id
        required: true
        schema:
          type: string
    post:
      tags:
        - Suppressions - Suppressions
      summary: Search for suppressions within a group
      operationId: SuppressionsSuppressions_searchWithinGroup
      security:
        - Authorization: []
      description: >-
        **This endpoint allows you to search a suppression group for multiple
        suppressions.**


        When given a list of email addresses and a group ID, this endpoint will
        only return the email addresses that have been unsubscribed from the
        given group.
      parameters:
        - $ref: '#/components/parameters/trait_onBehalfOfSubuser_on-behalf-of'
      requestBody:
        $ref: '#/components/requestBodies/suppressions-request'
      responses:
        '200':
          description: ''
          content:
            application/json:
              examples:
                response:
                  value:
                    - exists1@example.com
                    - exists2@example.com
              schema:
                $ref: >-
                  #/components/schemas/SuppressionsSuppressionsSearchWithinGroupResponse
  /asm/groups/{group_id}/suppressions/{email}:
    parameters:
      - description: >-
          The id of the suppression group that you are removing an email address
          from.
        in: path
        name: group_id
        required: true
        schema:
          type: string
      - description: The email address that you want to remove from the suppression group.
        in: path
        name: email
        required: true
        schema:
          type: string
    delete:
      tags:
        - Suppressions - Suppressions
      summary: Delete a suppression from a suppression group
      operationId: SuppressionsSuppressions_removeSuppressionFromGroup
      security:
        - Authorization: []
      description: >-
        **This endpoint allows you to remove a suppressed email address from the
        given suppression group.**


        Removing an address will remove the suppression, meaning email will once
        again be sent to the previously suppressed addresses. This should be
        avoided unless a recipient indicates they wish to receive email from you
        again. You can use our [bypass
        filters](https://sendgrid.com/docs/ui/sending-email/index-suppressions/#bypass-suppressions)
        to deliver messages to otherwise suppressed addresses when exceptions
        are required.
      parameters:
        - $ref: '#/components/parameters/trait_onBehalfOfSubuser_on-behalf-of'
      responses:
        '204':
          description: ''
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/SuppressionsSuppressionsRemoveSuppressionFromGroupResponse
  /asm/suppressions:
    get:
      tags:
        - Suppressions - Suppressions
      summary: Retrieve all suppressions
      operationId: SuppressionsSuppressions_getAllSuppressions
      security:
        - Authorization: []
      description: '**This endpoint allows you to retrieve a list of all suppressions.**'
      parameters:
        - $ref: '#/components/parameters/trait_onBehalfOfSubuser_on-behalf-of'
      responses:
        '200':
          description: ''
          content:
            application/json:
              examples:
                response:
                  value:
                    - created_at: 1410986704
                      email: test1@example.com
                      group_id: 1
                      group_name: Weekly News
                    - created_at: 1411493671
                      email: test1@example.com
                      group_id: 2
                      group_name: Daily News
                    - created_at: 1411493671
                      email: test2@example.com
                      group_id: 2
                      group_name: Daily News
              schema:
                $ref: >-
                  #/components/schemas/SuppressionsSuppressionsGetAllSuppressionsResponse
  /asm/suppressions/global:
    post:
      tags:
        - Suppressions - Global Suppressions
      summary: Add recipient addresses to the global suppression group.
      operationId: SuppressionsGlobalSuppressions_addRecipientAddresses
      security:
        - Authorization: []
      description: >-
        **This endpoint allows you to add one or more email addresses to the
        global suppressions group.**
      parameters:
        - $ref: '#/components/parameters/trait_onBehalfOfSubuser_on-behalf-of'
      requestBody:
        $ref: '#/components/requestBodies/suppressions-request'
      responses:
        '201':
          description: ''
          content:
            application/json:
              examples:
                response:
                  value:
                    recipient_emails:
                      - test1@example.com
                      - test2@example.com
              schema:
                $ref: >-
                  #/components/schemas/SuppressionsGlobalSuppressionsAddRecipientAddressesResponse
  /asm/suppressions/global/{email}:
    parameters:
      - description: >-
          The email address of the global suppression you want to retrieve. Or,
          if you want to check if an email address is on the global suppressions
          list, enter that email address here.
        in: path
        name: email
        required: true
        schema:
          type: string
    delete:
      tags:
        - Suppressions - Global Suppressions
      summary: Delete a Global Suppression
      operationId: SuppressionsGlobalSuppressions_removeEmail
      security:
        - Authorization: []
      description: >-
        **This endpoint allows you to remove an email address from the global
        suppressions group.**


        Deleting a suppression group will remove the suppression, meaning email
        will once again be sent to the previously suppressed addresses. This
        should be avoided unless a recipient indicates they wish to receive
        email from you again. You can use our [bypass
        filters](https://sendgrid.com/docs/ui/sending-email/index-suppressions/#bypass-suppressions)
        to deliver messages to otherwise suppressed addresses when exceptions
        are required.
      parameters:
        - $ref: '#/components/parameters/trait_onBehalfOfSubuser_on-behalf-of'
      responses:
        '204':
          description: ''
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/SuppressionsGlobalSuppressionsRemoveEmailResponse
    get:
      tags:
        - Suppressions - Global Suppressions
      summary: Retrieve a Global Suppression
      operationId: SuppressionsGlobalSuppressions_getGlobalSuppression
      security:
        - Authorization: []
      description: >-
        **This endpoint allows you to retrieve a global suppression. You can
        also use this endpoint to confirm if an email address is already
        globally suppresed.**


        If the email address you include in the URL path parameter `{email}` is
        already globally suppressed, the response will include that email
        address. If the address you enter for `{email}` is not globally
        suppressed, an empty JSON object `{}` will be returned.
      parameters:
        - $ref: '#/components/parameters/trait_onBehalfOfSubuser_on-behalf-of'
      responses:
        '200':
          description: ''
          content:
            application/json:
              examples:
                response:
                  value:
                    recipient_email: test@example.com
              schema:
                $ref: >-
                  #/components/schemas/SuppressionsGlobalSuppressionsGetGlobalSuppressionResponse
  /asm/suppressions/{email}:
    parameters:
      - description: The email address that you want to search suppression groups for.
        in: path
        name: email
        required: true
        schema:
          type: string
    get:
      tags:
        - Suppressions - Suppressions
      summary: Retrieve all suppression groups for an email address
      operationId: SuppressionsSuppressions_getUnsubscribeGroupsByEmail
      security:
        - Authorization: []
      description: >-
        **This endpoint returns a list of all groups from which the given email
        address has been unsubscribed.**
      parameters:
        - $ref: '#/components/parameters/trait_onBehalfOfSubuser_on-behalf-of'
      responses:
        '200':
          description: ''
          content:
            application/json:
              examples:
                response:
                  value:
                    suppressions:
                      - description: Optional description.
                        id: 1
                        is_default: true
                        name: Weekly News
                        suppressed: true
                      - description: Some daily news.
                        id: 2
                        is_default: true
                        name: Daily News
                        suppressed: true
                      - description: An old group.
                        id: 2
                        is_default: false
                        name: Old News
                        suppressed: false
              schema:
                $ref: >-
                  #/components/schemas/SuppressionsSuppressionsGetUnsubscribeGroupsByEmailResponse
  /browsers/stats:
    get:
      tags:
        - Stats
      summary: Retrieve email statistics by browser.
      operationId: Stats_getEmailStatisticsByBrowser
      security:
        - Authorization: []
      description: >-
        **This endpoint allows you to retrieve your email statistics segmented
        by browser type.**


        **We only store up to 7 days of email activity in our database.** By
        default, 500 items will be returned per request via the Advanced Stats
        API endpoints.


        Advanced Stats provide a more in-depth view of your email statistics and
        the actions taken by your recipients. You can segment these statistics
        by geographic location, device type, client type, browser, and mailbox
        provider. For more information about statistics, please see our
        [Statistics
        Overview](https://sendgrid.com/docs/ui/analytics-and-reporting/stats-overview/).
      parameters:
        - description: >-
            The browsers to get statistics for. You can include up to 10
            different browsers by including this parameter multiple times.
          in: query
          name: browsers
          schema:
            type: string
        - $ref: '#/components/parameters/trait_onBehalfOfSubuser_on-behalf-of'
        - $ref: >-
            #/components/parameters/trait_statsAdvancedQueryStringsLimitOffset_limit
        - $ref: >-
            #/components/parameters/trait_statsAdvancedQueryStringsLimitOffset_offset
        - $ref: >-
            #/components/parameters/trait_statsAdvancedQueryStringsLimitOffset_aggregated_by
        - $ref: >-
            #/components/parameters/trait_statsAdvancedQueryStringsLimitOffset_start_date
        - $ref: >-
            #/components/parameters/trait_statsAdvancedQueryStringsLimitOffset_end_date
      responses:
        '200':
          description: ''
          content:
            application/json:
              examples:
                response:
                  value:
                    - date: '2014-10-01T00:00:00.000Z'
                      stats:
                        - metrics:
                            clicks: 0
                            unique_clicks: 0
                          name: Chrome
                          type: browser
                        - metrics:
                            clicks: 1
                            unique_clicks: 1
                          name: Firefox
                          type: browser
                    - date: '2014-10-02T00:00:00.000Z'
                      stats:
                        - metrics:
                            clicks: 0
                            unique_clicks: 0
                          name: Chrome
                          type: browser
                        - metrics:
                            clicks: 1
                            unique_clicks: 1
                          name: Firefox
                          type: browser
              schema:
                $ref: '#/components/schemas/StatsGetEmailStatisticsByBrowserResponse'
  /campaigns:
    get:
      tags:
        - Campaigns API
      summary: Retrieve all Campaigns
      operationId: GET_campaigns
      security:
        - Authorization: []
      description: >-
        **This endpoint allows you to retrieve a list of all of your
        campaigns.**


        Returns campaigns in reverse order they were created (newest first).


        Returns an empty array if no campaigns exist.
      parameters:
        - description: The number of results you would like to receive at a time.
          in: query
          name: limit
          schema:
            default: 10
            type: integer
        - description: >-
            The index of the first campaign to return, where 0 is the first
            campaign.
          in: query
          name: offset
          schema:
            default: 0
            type: integer
        - $ref: '#/components/parameters/trait_onBehalfOfSubuser_on-behalf-of'
      responses:
        '200':
          description: ''
          content:
            application/json:
              examples:
                response:
                  value:
                    result:
                      - title: March Newsletter
                        categories:
                          - spring line
                        custom_unsubscribe_url: ''
                        html_content: >-
                          <html><head><title></title></head><body><p>Check out
                          our spring line!</p></body></html>
                        id: 986724
                        ip_pool: marketing
                        list_ids:
                          - 110
                          - 124
                        plain_content: Check out our spring line!
                        segment_ids:
                          - 110
                        sender_id: 124451
                        status: Draft
                        subject: New Products for Spring!
                        suppression_group_id: 42
                      - title: February Newsletter
                        categories:
                          - winter line
                        custom_unsubscribe_url: ''
                        html_content: >-
                          <html><head><title></title></head><body><p>Last call
                          for winter clothes!</p></body></html>
                        id: 986723
                        ip_pool: marketing
                        list_ids:
                          - 110
                          - 124
                        plain_content: Last call for winter clothes!
                        segment_ids:
                          - 110
                        sender_id: 124451
                        status: Sent
                        subject: Final Winter Product Sale!
                        suppression_group_id: 42
              schema:
                $ref: '#/components/schemas/GetCampaignsResponse'
    post:
      tags:
        - Campaigns API
      summary: Create a Campaign
      operationId: POST_campaigns
      security:
        - Authorization: []
      description: >-
        **This endpoint allows you to create a campaign.**


        In order to send or schedule the campaign, you will be required to
        provide a subject, sender ID, content (we suggest both html and plain
        text), and at least one list or segment ID. This information is not
        required when you create a campaign.
      parameters:
        - $ref: '#/components/parameters/trait_onBehalfOfSubuser_on-behalf-of'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/campaign_request'
      responses:
        '201':
          description: ''
          content:
            application/json:
              examples:
                response:
                  value:
                    title: March Newsletter
                    categories:
                      - spring line
                    custom_unsubscribe_url: ''
                    html_content: >-
                      <html><head><title></title></head><body><p>Check out our
                      spring line!</p></body></html>
                    id: 986724
                    ip_pool: marketing
                    list_ids:
                      - 110
                      - 124
                    plain_content: Check out our spring line!
                    segment_ids:
                      - 110
                    sender_id: 124451
                    status: Draft
                    subject: New Products for Spring!
                    suppression_group_id: 42
              schema:
                $ref: '#/components/schemas/campaign_response'
        '400':
          description: >-
            "title": "title can't be blank"

            "title": "title is too long (maximum is 100 characters)"

            "categories": "categories exceeds 10 category limit"

            "html_content": "html_content exceeds the 1MB limit"

            "plain_content": "plain_content exceeds the 1MB limit"

            "sender_id": "sender_id does not exist"

            "sender_id": "sender_id is not a verified sender identity"

            "list_ids": "list_ids do not all exist"

            "segment_ids": "segment_ids do not all exist"

            "ip_pool": "The ip pool you provided is invalid"

            "suppression_group_id": "suppression_group_id does not exist"

            "unsubscribes": "Either suppression_group_id or
            custom_unsubscribe_url may be set/used, but not both. Please remove
            one before setting the other."

            "": "The JSON you have submitted cannot be parsed."

            "": "You've reached your limit of 250 campaigns. Please delete one
            or more and try again."
          content:
            application/json:
              examples:
                response:
                  value:
                    errors:
                      - field: title
                        message: title can't be blank
                      - field: title
                        message: title is too long (maximum is 100 characters)
                      - field: categories
                        message: categories exceeds 10 category limit
                      - field: html_content
                        message: html_content exceeds the 1MB limit
                      - field: plain_content
                        message: plain_content exceeds the 1MB limit
                      - field: sender_id
                        message: sender_id does not exist
                      - field: sender_id
                        message: sender_id is not a verified sender identity
                      - field: list_ids
                        message: list_ids do not all exist
                      - field: segment_ids
                        message: segment_ids do not all exist
                      - field: ip_pool
                        message: The ip pool you provided is invalid
                      - field: suppression_group_id
                        message: suppression_group_id does not exist
                      - field: unsubscribes
                        message: >-
                          Either suppression_group_id or custom_unsubscribe_url
                          may be set/used, but not both. Please remove one
                          before setting the other.
                      - field: null
                        message: The JSON you have submitted cannot be parsed.
                      - field: null
                        message: >-
                          You've reached your limit of 250 campaigns. Please
                          delete one or more and try again.
              schema:
                $ref: '#/components/schemas/global_error_response_schema'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostCampaignsResponse'
  /campaigns/{campaign_id}:
    parameters:
      - description: The id of the campaign you would like to retrieve.
        in: path
        name: campaign_id
        required: true
        schema:
          type: integer
    delete:
      tags:
        - Campaigns API
      summary: Delete a Campaign
      operationId: CampaignsApi_deleteCampaignById
      security:
        - Authorization: []
      description: '**This endpoint allows you to delete a specific campaign.**'
      parameters:
        - $ref: '#/components/parameters/trait_onBehalfOfSubuser_on-behalf-of'
      responses:
        '204':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignsApiDeleteCampaignByIdResponse'
        '401':
          description: ''
          content:
            application/json:
              examples:
                response:
                  value:
                    errors:
                      - field: null
                        message: authorization required
              schema:
                $ref: '#/components/schemas/CampaignsApiDeleteCampaignById401Response'
        '404':
          description: '"": "not found"'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignsApiDeleteCampaignById404Response'
    get:
      tags:
        - Campaigns API
      summary: Retrieve a single campaign
      operationId: CampaignsApi_getSingleCampaign
      security:
        - Authorization: []
      description: '**This endpoint allows you to retrieve a specific campaign.**'
      parameters:
        - $ref: '#/components/parameters/trait_onBehalfOfSubuser_on-behalf-of'
      responses:
        '200':
          description: ''
          content:
            application/json:
              examples:
                response:
                  value:
                    title: March Newsletter
                    categories:
                      - spring line
                    custom_unsubscribe_url: ''
                    html_content: >-
                      <html><head><title></title></head><body><p>Check out our
                      spring line!</p></body></html>
                    id: 986724
                    ip_pool: marketing
                    list_ids:
                      - 110
                    plain_content: Check out our spring line!
                    segment_ids:
                      - 110
                    sender_id: 124451
                    status: Draft
                    subject: New Products for Spring!
                    suppression_group_id: 42
              schema:
                $ref: '#/components/schemas/CampaignsApiGetSingleCampaignResponse'
        '401':
          description: ''
          content:
            application/json:
              examples:
                response:
                  value:
                    errors:
                      - field: null
                        message: authorization required
              schema:
                $ref: '#/components/schemas/CampaignsApiGetSingleCampaign401Response'
        '404':
          description: '"": "not found"'
          content:
            application/json:
              examples:
                response:
                  value:
                    errors:
                      - field: null
                        message: not found
              schema:
                $ref: '#/components/schemas/CampaignsApiGetSingleCampaign404Response'
    patch:
      tags:
        - Campaigns API
      summary: Update a Campaign
      operationId: CampaignsApi_updateSpecificCampaign
      security:
        - Authorization: []
      description: >-
        **This endpoint allows you to update a specific campaign.**


        This is especially useful if you only set up the campaign using POST
        /campaigns, but didn't set many of the parameters.
      parameters:
        - $ref: '#/components/parameters/trait_onBehalfOfSubuser_on-behalf-of'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CampaignsApiUpdateSpecificCampaignRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              examples:
                response:
                  value:
                    title: May Newsletter
                    categories:
                      - summer line
                    custom_unsubscribe_url: ''
                    html_content: >-
                      <html><head><title></title></head><body><p>Check out our
                      summer line!</p></body></html>
                    id: 986724
                    ip_pool: marketing
                    list_ids:
                      - 110
                      - 124
                    plain_content: Check out our summer line!
                    segment_ids:
                      - 110
                    sender_id: 124451
                    status: Draft
                    subject: New Products for Summer!
                    suppression_group_id: 42
              schema:
                $ref: '#/components/schemas/campaign_response'
        '400':
          description: >-
            "title": "title can't be blank"

            "title": "title is too long (maximum is 100 characters)"

            "categories": "categories exceeds 10 category limit"

            "html_content": "html_content exceeds the 1MB limit"

            "plain_content": "plain_content exceeds the 1MB limit"

            "sender_id": "sender_id does not exist"

            "sender_id": "sender_id is not a verified sender identity"

            "list_ids": "list_ids do not all exist"

            "segment_ids": "segment_ids do not all exist"

            "ip_pool": "The ip pool you provided is invalid"

            "suppression_group_id": "suppression_group_id does not exist"

            "unsubscribes": "Either suppression_group_id or
            custom_unsubscribe_url may be set/used, but not both. Please remove
            one before setting the other."

            "": "The JSON you have submitted cannot be parsed."
          content:
            application/json:
              examples:
                response:
                  value:
                    errors:
                      - field: title
                        message: title can't be blank
                      - field: title
                        message: title is too long (maximum is 100 characters)
                      - field: categories
                        message: categories exceeds 10 category limit
                      - field: html_content
                        message: html_content exceeds the 1MB limit
                      - field: plain_content
                        message: plain_content exceeds the 1MB limit
                      - field: sender_id
                        message: sender_id does not exist
                      - field: sender_id
                        message: sender_id is not a verified sender identity
                      - field: list_ids
                        message: list_ids do not all exist
                      - field: segment_ids
                        message: segment_ids do not all exist
                      - field: ip_pool
                        message: The ip pool you provided is invalid
                      - field: suppression_group_id
                        message: suppression_group_id does not exist
                      - field: unsubscribes
                        message: >-
                          Either suppression_group_id or custom_unsubscribe_url
                          may be set/used, but not both. Please remove one
                          before setting the other.
                      - field: null
                        message: The JSON you have submitted cannot be parsed.
              schema:
                $ref: >-
                  #/components/schemas/CampaignsApiUpdateSpecificCampaignResponse
        '401':
          description: ''
          content:
            application/json:
              examples:
                response:
                  value:
                    errors:
                      - field: null
                        message: authorization required
              schema:
                $ref: '#/components/schemas/global_error_response_schema'
        '403':
          description: '"": "You may only update a campaign when it is in draft mode."'
          content:
            application/json:
              examples:
                response:
                  value:
                    errors:
                      - field: null
                        message: >-
                          You may only update a campaign when it is in draft
                          mode.
              schema:
                $ref: >-
                  #/components/schemas/CampaignsApiUpdateSpecificCampaign403Response
        '404':
          description: '"": "not found"'
          content:
            application/json:
              examples:
                response:
                  value:
                    errors:
                      - field: null
                        message: not found
              schema:
                $ref: '#/components/schemas/global_error_response_schema'
  /campaigns/{campaign_id}/schedules:
    parameters:
      - in: path
        name: campaign_id
        required: true
        schema:
          type: integer
    delete:
      tags:
        - Campaigns API
      summary: Unschedule a Scheduled Campaign
      operationId: CampaignsApi_unscheduleCampaign
      security:
        - Authorization: []
      description: >-
        **This endpoint allows you to unschedule a campaign that has already
        been scheduled to be sent.**


        A successful unschedule will return a 204.

        If the specified campaign is in the process of being sent, the only
        option is to cancel (a different method).
      parameters:
        - $ref: '#/components/parameters/trait_onBehalfOfSubuser_on-behalf-of'
      responses:
        '204':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignsApiUnscheduleCampaignResponse'
        '403':
          description: |-
            "": "This campaign is already In Progress."
            "": "This campaign is already Sent."
            "": "This campaign is already Paused."
            "": "This campaign is already Canceled."
          content:
            application/json:
              examples:
                response:
                  value:
                    errors:
                      - field: null
                        message: This campaign is already In Progress.
                      - field: null
                        message: This campaign is already Sent.
                      - field: null
                        message: This campaign is already Paused.
                      - field: null
                        message: This campaign is already Canceled.
              schema:
                $ref: '#/components/schemas/global_error_response_schema'
        '404':
          description: '"": "not found"'
          content:
            application/json:
              examples:
                response:
                  value:
                    errors:
                      - field: null
                        message: not found
              schema:
                $ref: '#/components/schemas/global_error_response_schema'
    get:
      tags:
        - Campaigns API
      summary: View Scheduled Time of a Campaign
      operationId: CampaignsApi_getScheduledTime
      security:
        - Authorization: []
      description: >-
        **This endpoint allows you to retrieve the date and time that a campaign
        has been scheduled to be sent.**
      parameters:
        - $ref: '#/components/parameters/trait_onBehalfOfSubuser_on-behalf-of'
      responses:
        '200':
          description: ''
          content:
            application/json:
              examples:
                response:
                  value:
                    send_at: 1490778528
              schema:
                $ref: '#/components/schemas/CampaignsApiGetScheduledTimeResponse'
        '404':
          description: '"": "not found"'
          content:
            application/json:
              examples:
                response:
                  value:
                    errors:
                      - field: null
                        message: not found
              schema:
                $ref: '#/components/schemas/global_error_response_schema'
    patch:
      tags:
        - Campaigns API
      summary: Update a Scheduled Campaign
      operationId: CampaignsApi_updateScheduledTime
      security:
        - Authorization: []
      description: >-
        **This endpoint allows to you change the scheduled time and date for a
        campaign to be sent.**
      parameters:
        - $ref: '#/components/parameters/trait_onBehalfOfSubuser_on-behalf-of'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CampaignsApiUpdateScheduledTimeRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignsApiUpdateScheduledTimeResponse'
        '400':
          description: >-
            "": "The JSON you have submitted cannot be parsed."

            "send_at": "Please choose a future time for sending your campaign."

            "":"You do not have enough credits to send this campaign. Upgrade
            your plan to send more: https://app.sendgrid.com/settings/billing"
          content:
            application/json:
              examples:
                response:
                  value:
                    errors:
                      - field: send_at
                        message: Please choose a future time for sending your campaign.
                      - field: null
                        message: The JSON you have submitted cannot be parsed.
                      - field: null
                        message: >-
                          You do not have enough credits to send this campaign.
                          Upgrade your plan to send
                          https://app.sendgrid.com/settings/billing
              schema:
                $ref: '#/components/schemas/global_error_response_schema'
        '403':
          description: >-
            "send_at": "You cannot update the send_at value of non-scheduled
            campaign."
          content:
            application/json:
              examples:
                response:
                  value:
                    errors:
                      - field: send_at
                        message: >-
                          You cannot update the send_at value of non-scheduled
                          campaign.
              schema:
                $ref: '#/components/schemas/global_error_response_schema'
        '404':
          description: '"": "not found"'
          content:
            application/json:
              examples:
                response:
                  value:
                    errors:
                      - field: null
                        message: not found
              schema:
                $ref: '#/components/schemas/global_error_response_schema'
    post:
      tags:
        - Campaigns API
      summary: Schedule a Campaign
      operationId: CampaignsApi_scheduleCampaign
      security:
        - Authorization: []
      description: >-
        **This endpoint allows you to schedule a specific date and time for your
        campaign to be sent.**


        If you have the flexibility, it's better to schedule mail for off-peak
        times. Most emails are scheduled and sent at the top of the hour or half
        hour. Scheduling email to avoid those times (for example, scheduling at
        10:53) can result in lower deferral rates because it won't be going
        through our servers at the same times as everyone else's mail.
      parameters:
        - $ref: '#/components/parameters/trait_onBehalfOfSubuser_on-behalf-of'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CampaignsApiScheduleCampaignRequest'
      responses:
        '201':
          description: ''
          content:
            application/json:
              examples:
                response:
                  value:
                    id: 1234
                    send_at: 1489771528
                    status: Scheduled
              schema:
                $ref: '#/components/schemas/CampaignsApiScheduleCampaignResponse'
        '400':
          description: >-
            "subject": "subject can't be blank"

            "sender_id": "sender_id can't be blank"

            "plain_content": "plain_content can't be blank, please provide plain
            text or html content"

            "list_ids": "You must select at least 1 segment or 1 list to send
            to."

            "send_at": "Please choose a future time for sending your campaign."

            "unsubscribe_tag": "An [unsubscribe] tag in both your html and plain
            content is required to send a campaign."

            "suppression_group_id": "Either a suppression_group_id or
            custom_unsubscribe_url is required to send a campaign."

            "": "The JSON you have submitted cannot be parsed."

            "":"You do not have enough credits to send this campaign. Upgrade
            your plan to send more: https://app.sendgrid.com/settings/billing"
          content:
            application/json:
              examples:
                response:
                  value:
                    errors:
                      - field: subject
                        message: subject can't be blank
                      - field: sender_id
                        message: sender_id can't be blank
                      - field: plain_content
                        message: >-
                          plain_content can't be blank, please provide plain
                          text or html content
                      - field: list_id
                        message: >-
                          You must select at least 1 segment or 1 list to send
                          to.
                      - field: unsubscribe_tag
                        message: >-
                          An [unsubscribe] tag in both your html and plain
                          content is required to send a campaign.
                      - field: suppression_group_id
                        message: >-
                          Either a suppression_group_id or
                          custom_unsubscribe_url is required to send a campaign.
                      - field: null
                        message: >-
                          You do not have enough credits to send this campaign.
                          Upgrade your plan to send more:
                          https://app.sendgrid.com/settings/billing
              schema:
                $ref: '#/components/schemas/global_error_response_schema'
        '401':
          description: ''
          content:
            application/json:
              examples:
                response:
                  value:
                    errors:
                      - field: null
                        message: authorization required
              schema:
                $ref: '#/components/schemas/global_error_response_schema'
        '403':
          description: >-
            "": "You cannot POST to a campaign that has already sent or
            scheduled. However you can update a scheduled campaign with a
            PATCH."
          content:
            application/json:
              examples:
                response:
                  value:
                    errors:
                      - field: null
                        message: >-
                          You cannot POST to a campaign that has already sent or
                          scheduled. However you can update a scheduled campaign
                          with a PATCH.
              schema:
                $ref: '#/components/schemas/global_error_response_schema'
        '404':
          description: '"": "not found"'
          content:
            application/json:
              examples:
                response:
                  value:
                    errors:
                      - field: null
                        message: not found
              schema:
                $ref: '#/components/schemas/global_error_response_schema'
  /campaigns/{campaign_id}/schedules/now:
    parameters:
      - in: path
        name: campaign_id
        required: true
        schema:
          type: integer
    post:
      tags:
        - Campaigns API
      summary: Send a Campaign
      operationId: CampaignsApi_sendCampaignNow
      security:
        - Authorization: []
      description: >-
        **This endpoint allows you to immediately send an existing campaign.**


        Normally a POST request would have a body, but since this endpoint is
        telling us to send a resource that is already created, a request body is
        not needed.
      parameters:
        - $ref: '#/components/parameters/trait_onBehalfOfSubuser_on-behalf-of'
      responses:
        '201':
          description: ''
          content:
            application/json:
              examples:
                response:
                  value:
                    id: 1234
                    status: Scheduled
              schema:
                $ref: '#/components/schemas/CampaignsApiSendCampaignNowResponse'
        '400':
          description: >-
            "subject": "subject can't be blank"

            "sender_id": "sender_id can't be blank"

            "plain_content": "plain_content can't be blank, please provide plain
            text or html content"

            "list_ids": "You must select at least 1 segment or 1 list to send
            to."

            "unsubscribe_tag": "An [unsubscribe] tag in both your html and plain
            content is required to send a campaign."

            "suppression_group_id": "Either a suppression_group_id or
            custom_unsubscribe_url is required to send a campaign."

            "": "You do not have enough credits to send this campaign. Upgrade
            your plan to send more: https://app.sendgrid.com/settings/billing"
          content:
            application/json:
              examples:
                response:
                  value:
                    errors:
                      - field: subject
                        message: subject can't be blank
                      - field: sender_id
                        message: sender_id can't be blank
                      - field: plain_content
                        message: >-
                          plain_content can't be blank, please provide plain
                          text or html content
                      - field: list_id
                        message: >-
                          You must select at least 1 segment or 1 list to send
                          to.
                      - field: unsubscribe_tag
                        message: >-
                          An [unsubscribe] tag in both your html and plain
                          content is required to send a campaign.
                      - field: suppression_group_id
                        message: >-
                          Either a suppression_group_id or
                          custom_unsubscribe_url is required to send a campaign.
                      - field: null
                        message: >-
                          You do not have enough credits to send this campaign.
                          Upgrade your plan to send more:
                          https://app.sendgrid.com/settings/billing
              schema:
                $ref: '#/components/schemas/global_error_response_schema'
        '401':
          description: ''
          content:
            application/json:
              examples:
                response:
                  value:
                    errors:
                      - field: null
                        message: authorization required
              schema:
                $ref: '#/components/schemas/global_error_response_schema'
        '403':
          description: '"": "You may only send a campaign when it is in draft mode."'
          content:
            application/json:
              examples:
                response:
                  value:
                    errors:
                      - field: null
                        message: You may only send a campaign when it is in draft mode.
              schema:
                $ref: '#/components/schemas/global_error_response_schema'
        '404':
          description: '"": "not found"'
          content:
            application/json:
              examples:
                response:
                  value:
                    errors:
                      - field: null
                        message: not found
              schema:
                $ref: '#/components/schemas/global_error_response_schema'
  /campaigns/{campaign_id}/schedules/test:
    parameters:
      - in: path
        name: campaign_id
        required: true
        schema:
          type: integer
    post:
      tags:
        - Campaigns API
      summary: Send a Test Campaign
      operationId: CampaignsApi_sendTestCampaign
      security:
        - Authorization: []
      description: >-
        **This endpoint allows you to send a test campaign.**


        To send to multiple addresses, use an array for the JSON "to" value
        ["one@address","two@address"]
      parameters:
        - $ref: '#/components/parameters/trait_onBehalfOfSubuser_on-behalf-of'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CampaignsApiSendTestCampaignRequest'
      responses:
        '204':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignsApiSendTestCampaignResponse'
        '400':
          description: >-
            "": "The JSON you have submitted cannot be parsed."

            "to": "Please provide an email address to which the test should be
            sent."

            "to": "You can only send tests to 10 addresses at a time."

            "subject": "Please add a subject to your campaign before sending a
            test."

            "plain_content": "Plain content and html content can't both be
            blank. Please set one of these values before sending a test."

            "sender_id": "Please assign a sender identity to your campaign
            before sending a test."
          content:
            application/json:
              examples:
                response:
                  value:
                    errors:
                      - field: send_at
                        message: Please choose a future time for sending your campaign.
                      - field: null
                        message: The JSON you have submitted cannot be parsed.
                      - field: null
                        message: >-
                          You do not have enough credits to send this campaign.
                          Upgrade your plan to send more:
                          https://app.sendgrid.com/settings/billing
              schema:
                $ref: '#/components/schemas/global_error_response_schema'
        '404':
          description: '"": "not found"'
          content:
            application/json:
              examples:
                response:
                  value:
                    errors:
                      - field: null
                        message: not found
              schema:
                $ref: '#/components/schemas/global_error_response_schema'
  /categories:
    get:
      tags:
        - Categories
      summary: Retrieve all categories
      operationId: GET_categories
      security:
        - Authorization: []
      description: >-
        **This endpoint allows you to retrieve a list of all of your
        categories.**
      parameters:
        - description: The number of categories to display per page.
          in: query
          name: limit
          schema:
            default: 50
            type: integer
        - description: Allows you to perform a prefix search on this particular category.
          in: query
          name: category
          schema:
            type: string
        - description: >-
            The point in the list that you would like to begin displaying
            results.
          in: query
          name: offset
          schema:
            default: 0
            type: integer
        - $ref: '#/components/parameters/trait_onBehalfOfSubuser_on-behalf-of'
      responses:
        '200':
          description: ''
          content:
            application/json:
              examples:
                response:
                  value:
                    - category: category 1
                    - category: category 2
              schema:
                $ref: '#/components/schemas/GetCategoriesResponse'
        '400':
          description: ''
          content:
            application/json:
              examples:
                response:
                  value:
                    errors:
                      - field: sort_by
                        message: invalid sort value
              schema:
                $ref: '#/components/schemas/GetCategories400Response'
  /categories/stats:
    get:
      tags:
        - Categories
      summary: Retrieve Email Statistics for Categories
      operationId: Categories_getEmailStatisticsFor
      security:
        - Authorization: []
      description: >-
        **This endpoint allows you to retrieve all of your email statistics for
        each of your categories.**


        If you do not define any query parameters, this endpoint will return a
        sum for each category in groups of 10.
      parameters:
        - description: >-
            The starting date of the statistics to retrieve. Must follow format
            YYYY-MM-DD
          in: query
          name: start_date
          required: true
          schema:
            type: string
        - description: >-
            The end date of the statistics to retrieve. Defaults to today. Must
            follow format YYYY-MM-DD.
          in: query
          name: end_date
          required: false
          schema:
            type: string
        - description: >-
            The individual categories that you want to retrieve statistics for.
            You may include up to 10 different categories.
          in: query
          name: categories
          required: true
          schema:
            type: string
        - description: The number of results to include.
          in: query
          name: limit
          required: false
          schema:
            default: 500
            maximum: 500
            type: integer
        - description: The number of results to skip.
          in: query
          name: offset
          required: false
          schema:
            type: integer
        - description: >-
            How to group the statistics. Must be either "day", "week", or
            "month".
          in: query
          name: aggregated_by
          required: false
          schema:
            enum:
              - day
              - week
              - month
            type: string
        - $ref: '#/components/parameters/trait_onBehalfOfSubuser_on-behalf-of'
      responses:
        '200':
          description: ''
          content:
            application/json:
              examples:
                response:
                  value:
                    - date: '2015-10-01T00:00:00.000Z'
                      stats:
                        - metrics:
                            blocks: 0
                            bounce_drops: 0
                            bounces: 0
                            clicks: 0
                            deferred: 0
                            delivered: 0
                            invalid_emails: 0
                            opens: 0
                            processed: 0
                            requests: 0
                            spam_report_drops: 0
                            spam_reports: 0
                            unique_clicks: 0
                            unique_opens: 0
                            unsubscribe_drops: 0
                            unsubscribes: 0
                          name: docs
                          type: category
                        - metrics:
                            blocks: 0
                            bounce_drops: 0
                            bounces: 0
                            clicks: 0
                            deferred: 0
                            delivered: 0
                            invalid_emails: 0
                            opens: 0
                            processed: 0
                            requests: 0
                            spam_report_drops: 0
                            spam_reports: 0
                            unique_clicks: 0
                            unique_opens: 0
                            unsubscribe_drops: 0
                            unsubscribes: 0
                          name: mattscategory
                          type: category
                    - date: '2015-11-01T00:00:00.000Z'
                      stats:
                        - metrics:
                            blocks: 0
                            bounce_drops: 0
                            bounces: 0
                            clicks: 0
                            deferred: 0
                            delivered: 0
                            invalid_emails: 0
                            opens: 0
                            processed: 0
                            requests: 0
                            spam_report_drops: 0
                            spam_reports: 0
                            unique_clicks: 0
                            unique_opens: 0
                            unsubscribe_drops: 0
                            unsubscribes: 0
                          name: docs
                          type: category
                        - metrics:
                            blocks: 0
                            bounce_drops: 0
                            bounces: 0
                            clicks: 0
                            deferred: 0
                            delivered: 0
                            invalid_emails: 0
                            opens: 0
                            processed: 0
                            requests: 0
                            spam_report_drops: 0
                            spam_reports: 0
                            unique_clicks: 0
                            unique_opens: 0
                            unsubscribe_drops: 0
                            unsubscribes: 0
                          name: mattscategory
                          type: category
              schema:
                $ref: '#/components/schemas/CategoriesGetEmailStatisticsForResponse'
  /categories/stats/sums:
    get:
      tags:
        - Categories
      summary: >-
        Retrieve sums of email stats for each category [Needs: Stats object
        defined, has category ID?]
      operationId: Categories_getSums
      security:
        - Authorization: []
      description: >-
        **This endpoint allows you to retrieve the total sum of each email
        statistic for every category over the given date range.**


        If you do not define any query parameters, this endpoint will return a
        sum for each category in groups of 10.
      parameters:
        - description: The metric that you want to sort by.  Must be a single metric.
          in: query
          name: sort_by_metric
          required: false
          schema:
            default: delivered
            type: string
        - description: The direction you want to sort.
          in: query
          name: sort_by_direction
          required: false
          schema:
            default: desc
            enum:
              - desc
              - asc
            type: string
        - description: >-
            The starting date of the statistics to retrieve. Must follow format
            YYYY-MM-DD.
          in: query
          name: start_date
          required: true
          schema:
            type: string
        - description: >-
            The end date of the statistics to retrieve. Defaults to today. Must
            follow format YYYY-MM-DD.
          in: query
          name: end_date
          required: false
          schema:
            type: string
        - description: Limits the number of results returned.
          in: query
          name: limit
          required: false
          schema:
            default: 5
            type: integer
        - description: The point in the list to begin retrieving results.
          in: query
          name: offset
          required: false
          schema:
            default: 0
            type: integer
        - description: >-
            How to group the statistics. Must be either "day", "week", or
            "month".
          in: query
          name: aggregated_by
          required: false
          schema:
            enum:
              - day
              - week
              - month
            type: string
        - $ref: '#/components/parameters/trait_onBehalfOfSubuser_on-behalf-of'
      responses:
        '200':
          description: ''
          content:
            application/json:
              examples:
[...]
