openapi: 3.0.0
info:
  title: Shortcut API
  description: Shortcut API
  version: '3.0'
servers:
  - url: https://api.app.shortcut.com
tags:
  - name: Story
  - name: Epic
  - name: File
  - name: Iteration
  - name: Category
  - name: Group
  - name: Label
  - name: Project
  - name: Search
  - name: Template
  - name: Milestone
  - name: Objective
  - name: CustomField
  - name: Member
  - name: KeyResult
  - name: Repository
  - name: Workflow
  - name: ExternalLinkStory
paths:
  /api/v3/categories:
    get:
      tags:
        - Category
      summary: List Categories
      operationId: Category_listAll
      description: List Categories returns a list of all Categories and their attributes.
      responses:
        '200':
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryListAllResponse'
        '400':
          description: Schema mismatch
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
    post:
      tags:
        - Category
      summary: Create Category
      operationId: Category_createNewCategory
      description: Create Category allows you to create a new Category in Shortcut.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCategory'
        required: true
      responses:
        '201':
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
        '400':
          description: Schema mismatch
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
  /api/v3/categories/{category-public-id}:
    get:
      tags:
        - Category
      summary: Get Category
      operationId: Category_getInformation
      description: Get Category returns information about the selected Category.
      parameters:
        - description: The unique ID of the Category.
          in: path
          name: category-public-id
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
        '400':
          description: Schema mismatch
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
    put:
      tags:
        - Category
      summary: Update Category
      operationId: Category_updateName
      description: >-
        Update Category allows you to replace a Category name with another name.
        If you try to name a Category something that already exists, you will
        receive a 422 response.
      parameters:
        - description: The unique ID of the Category you wish to update.
          in: path
          name: category-public-id
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCategory'
        required: true
      responses:
        '200':
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
        '400':
          description: Schema mismatch
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
    delete:
      tags:
        - Category
      summary: Delete Category
      operationId: Category_deleteCategory
      description: Delete Category can be used to delete any Category.
      parameters:
        - description: The unique ID of the Category.
          in: path
          name: category-public-id
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '204':
          description: No Content
        '400':
          description: Schema mismatch
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
  /api/v3/categories/{category-public-id}/milestones:
    get:
      tags:
        - Category
      summary: List Category Milestones
      operationId: Category_listMilestones
      description: >-
        List Category Milestones returns a list of all Milestones with the
        Category.
      parameters:
        - description: The unique ID of the Category.
          in: path
          name: category-public-id
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryListMilestonesResponse'
        '400':
          description: Schema mismatch
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
  /api/v3/categories/{category-public-id}/objectives:
    get:
      tags:
        - Category
      summary: List Category Objectives
      operationId: Category_listObjectives
      description: Returns a list of all Objectives with the Category.
      parameters:
        - description: The unique ID of the Category.
          in: path
          name: category-public-id
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryListObjectivesResponse'
        '400':
          description: Schema mismatch
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
  /api/v3/custom-fields:
    get:
      tags:
        - CustomField
      summary: List Custom Fields
      operationId: CustomField_list
      responses:
        '200':
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomFieldListResponse'
        '400':
          description: Schema mismatch
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
  /api/v3/custom-fields/{custom-field-public-id}:
    get:
      tags:
        - CustomField
      summary: Get Custom Field
      operationId: CustomField_getById
      parameters:
        - description: The unique ID of the CustomField.
          in: path
          name: custom-field-public-id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomField'
        '400':
          description: Schema mismatch
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
    put:
      tags:
        - CustomField
      summary: Update Custom Field
      operationId: CustomField_updateDefinition
      description: >-
        Update Custom Field can be used to update the definition of a Custom
        Field. The order of items in the 'values' collection is interpreted to
        be their ascending sort order.To delete an existing enum value, simply
        omit it from the 'values' collection. New enum values may be created
        inline by including an object in the 'values' collection having a
        'value' entry with no 'id' (eg. {'value': 'myNewValue', 'color_key':
        'green'}).
      parameters:
        - description: The unique ID of the CustomField.
          in: path
          name: custom-field-public-id
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCustomField'
        required: true
      responses:
        '200':
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomField'
        '400':
          description: Schema mismatch
        '404':
          description: Resource does not exist
        '409':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataConflictError'
        '422':
          description: Unprocessable
    delete:
      tags:
        - CustomField
      summary: Delete Custom Field
      operationId: CustomField_deleteField
      parameters:
        - description: The unique ID of the CustomField.
          in: path
          name: custom-field-public-id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: No Content
        '400':
          description: Schema mismatch
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
  /api/v3/entity-templates:
    get:
      tags:
        - Template
      summary: List Entity Templates
      operationId: Template_listEntityTemplates
      description: List all the entity templates for the Workspace.
      responses:
        '200':
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateListEntityTemplatesResponse'
        '400':
          description: Schema mismatch
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
    post:
      tags:
        - Template
      summary: Create Entity Template
      operationId: Template_createNewEntity
      description: Create a new entity template for the Workspace.
      requestBody:
        description: Request paramaters for creating an entirely new entity template.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEntityTemplate'
        required: true
      responses:
        '201':
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityTemplate'
        '400':
          description: Schema mismatch
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
  /api/v3/entity-templates/disable:
    put:
      tags:
        - Story
      summary: Disable Story Templates
      operationId: Story_disableTemplate
      description: Disables the Story Template feature for the Workspace.
      responses:
        '204':
          description: No Content
        '400':
          description: Schema mismatch
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
  /api/v3/entity-templates/enable:
    put:
      tags:
        - Story
      summary: Enable Story Templates
      operationId: Story_enableTemplateFeature
      description: Enables the Story Template feature for the Workspace.
      responses:
        '204':
          description: No Content
        '400':
          description: Schema mismatch
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
  /api/v3/entity-templates/{entity-template-public-id}:
    get:
      tags:
        - Template
      summary: Get Entity Template
      operationId: Template_getInformation
      description: Get Entity Template returns information about a given entity template.
      parameters:
        - description: The unique ID of the entity template.
          in: path
          name: entity-template-public-id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityTemplate'
        '400':
          description: Schema mismatch
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
    put:
      tags:
        - Template
      summary: Update Entity Template
      operationId: Template_updateContents
      description: Update an entity template's name or its contents.
      parameters:
        - description: The unique ID of the template to be updated.
          in: path
          name: entity-template-public-id
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: |-
          Request parameters for changing either a template's name or any of
            the attributes it is designed to pre-populate.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateEntityTemplate'
        required: true
      responses:
        '200':
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityTemplate'
        '400':
          description: Schema mismatch
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
    delete:
      tags:
        - Template
      summary: Delete Entity Template
      operationId: Template_deleteEntityTemplate
      parameters:
        - description: The unique ID of the entity template.
          in: path
          name: entity-template-public-id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: No Content
        '400':
          description: Schema mismatch
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
  /api/v3/epic-workflow:
    get:
      tags:
        - Epic
      summary: Get Epic Workflow
      operationId: Epic_getWorkflow
      description: Returns the Epic Workflow for the Workspace.
      responses:
        '200':
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EpicWorkflow'
        '400':
          description: Schema mismatch
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
  /api/v3/epics:
    get:
      tags:
        - Epic
      summary: List Epics
      operationId: Epic_listAllAttributes
      description: List Epics returns a list of all Epics and their attributes.
      parameters:
        - description: >-
            A true/false boolean indicating whether to return Epics with their
            descriptions.
          in: query
          name: includes_description
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EpicListAllAttributesResponse'
        '400':
          description: Schema mismatch
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
    post:
      tags:
        - Epic
      summary: Create Epic
      operationId: Epic_createNewEpic
      description: Create Epic allows you to create a new Epic in Shortcut.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEpic'
        required: true
      responses:
        '201':
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Epic'
        '400':
          description: Schema mismatch
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
  /api/v3/epics/{epic-public-id}:
    get:
      tags:
        - Epic
      summary: Get Epic
      operationId: Epic_getInformation
      description: Get Epic returns information about the selected Epic.
      parameters:
        - description: The unique ID of the Epic.
          in: path
          name: epic-public-id
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Epic'
        '400':
          description: Schema mismatch
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
    put:
      tags:
        - Epic
      summary: Update Epic
      operationId: Epic_updateDetails
      description: >-
        Update Epic can be used to update numerous fields in the Epic. The only
        required parameter is Epic ID, which can be found in the Shortcut UI.
      parameters:
        - description: The unique ID of the Epic.
          in: path
          name: epic-public-id
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateEpic'
        required: true
      responses:
        '200':
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Epic'
        '400':
          description: Schema mismatch
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
    delete:
      tags:
        - Epic
      summary: Delete Epic
      operationId: Epic_deleteEpic
      description: >-
        Delete Epic can be used to delete the Epic. The only required parameter
        is Epic ID.
      parameters:
        - description: The unique ID of the Epic.
          in: path
          name: epic-public-id
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '204':
          description: No Content
        '400':
          description: Schema mismatch
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
  /api/v3/epics/{epic-public-id}/comments:
    get:
      tags:
        - Epic
      summary: List Epic Comments
      operationId: Epic_getAllEpicComments
      description: Get a list of all Comments on an Epic.
      parameters:
        - description: The unique ID of the Epic.
          in: path
          name: epic-public-id
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EpicGetAllEpicCommentsResponse'
        '400':
          description: Schema mismatch
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
    post:
      tags:
        - Epic
      summary: Create Epic Comment
      operationId: Epic_createComment
      description: This endpoint allows you to create a threaded Comment on an Epic.
      parameters:
        - description: The ID of the associated Epic.
          in: path
          name: epic-public-id
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEpicComment'
        required: true
      responses:
        '201':
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreadedComment'
        '400':
          description: Schema mismatch
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
  /api/v3/epics/{epic-public-id}/comments/{comment-public-id}:
    post:
      tags:
        - Epic
      summary: Create Epic Comment Comment
      operationId: Epic_createCommentComment
      description: >-
        This endpoint allows you to create a nested Comment reply to an existing
        Epic Comment.
      parameters:
        - description: The ID of the associated Epic.
          in: path
          name: epic-public-id
          required: true
          schema:
            type: integer
            format: int64
        - description: The ID of the parent Epic Comment.
          in: path
          name: comment-public-id
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCommentComment'
        required: true
      responses:
        '201':
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreadedComment'
        '400':
          description: Schema mismatch
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
    get:
      tags:
        - Epic
      summary: Get Epic Comment
      operationId: Epic_getCommentInfo
      description: This endpoint returns information about the selected Epic Comment.
      parameters:
        - description: The ID of the associated Epic.
          in: path
          name: epic-public-id
          required: true
          schema:
            type: integer
            format: int64
        - description: The ID of the Comment.
          in: path
          name: comment-public-id
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreadedComment'
        '400':
          description: Schema mismatch
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
    put:
      tags:
        - Epic
      summary: Update Epic Comment
      operationId: Epic_updateComment
      description: This endpoint allows you to update a threaded Comment on an Epic.
      parameters:
        - description: The ID of the associated Epic.
          in: path
          name: epic-public-id
          required: true
          schema:
            type: integer
            format: int64
        - description: The ID of the Comment.
          in: path
          name: comment-public-id
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateComment'
        required: true
      responses:
        '200':
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreadedComment'
        '400':
          description: Schema mismatch
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
    delete:
      tags:
        - Epic
      summary: Delete Epic Comment
      operationId: Epic_deleteComment
      description: This endpoint allows you to delete a Comment from an Epic.
      parameters:
        - description: The ID of the associated Epic.
          in: path
          name: epic-public-id
          required: true
          schema:
            type: integer
            format: int64
        - description: The ID of the Comment.
          in: path
          name: comment-public-id
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '204':
          description: No Content
        '400':
          description: Schema mismatch
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
  /api/v3/epics/{epic-public-id}/stories:
    get:
      tags:
        - Epic
      summary: List Epic Stories
      operationId: Epic_listStories
      description: Get a list of all Stories in an Epic.
      parameters:
        - description: The unique ID of the Epic.
          in: path
          name: epic-public-id
          required: true
          schema:
            type: integer
            format: int64
        - description: >-
            A true/false boolean indicating whether to return Stories with their
            descriptions.
          in: query
          name: includes_description
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EpicListStoriesResponse'
        '400':
          description: Schema mismatch
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
  /api/v3/epics/{epic-public-id}/unlink-productboard:
    post:
      tags:
        - Epic
      summary: Unlink Productboard from Epic
      operationId: Epic_unlinkProductboard
      description: This endpoint allows you to unlink a productboard epic.
      parameters:
        - description: The unique ID of the Epic.
          in: path
          name: epic-public-id
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '204':
          description: No Content
        '400':
          description: Schema mismatch
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
  /api/v3/external-link/stories:
    get:
      tags:
        - ExternalLinkStory
      summary: Get External Link Stories
      operationId: ExternalLinkStory_getStories
      description: Get Stories which have a given External Link associated with them.
      parameters:
        - description: The external link associated with one or more stories.
          in: query
          name: external_link
          required: true
          schema:
            type: string
            maxLength: 2048
            pattern: ^https?://.+$
      responses:
        '200':
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalLinkStoryGetStoriesResponse'
        '400':
          description: Schema mismatch
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
  /api/v3/files:
    get:
      tags:
        - File
      summary: List Files
      operationId: File_listFiles
      description: List Files returns a list of all UploadedFiles in the workspace.
      responses:
        '200':
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileListFilesResponse'
        '400':
          description: Schema mismatch
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
    post:
      tags:
        - File
      summary: Upload Files
      operationId: File_uploadAndAssociate
      description: >-
        Upload Files uploads one or many files and optionally associates them
        with a story.
           Use the multipart/form-data content-type to upload.
           Each `file` key should contain a separate file.
           Each UploadedFile's name comes from the Content-Disposition header "filename" directive for that field.
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/FileUploadAndAssociateRequest'
      responses:
        '201':
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileUploadAndAssociateResponse'
        '400':
          description: Schema mismatch
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
  /api/v3/files/{file-public-id}:
    get:
      tags:
        - File
      summary: Get File
      operationId: File_getFileInfo
      description: Get File returns information about the selected UploadedFile.
      parameters:
        - description: The File’s unique ID.
          in: path
          name: file-public-id
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadedFile'
        '400':
          description: Schema mismatch
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
    put:
      tags:
        - File
      summary: Update File
      operationId: File_updateProperties
      description: >-
        Update File updates the properties of an UploadedFile (but not its
        content).
      parameters:
        - description: The unique ID assigned to the file in Shortcut.
          in: path
          name: file-public-id
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateFile'
        required: true
      responses:
        '200':
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadedFile'
        '400':
          description: Schema mismatch
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
    delete:
      tags:
        - File
      summary: Delete File
      operationId: File_deleteFile
      description: Delete File deletes a previously uploaded file.
      parameters:
        - description: The File’s unique ID.
          in: path
          name: file-public-id
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '204':
          description: No Content
        '400':
          description: Schema mismatch
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
  /api/v3/groups:
    get:
      tags:
        - Group
      summary: List Groups
      operationId: Group_listTeams
      description: >-
        A group in our API maps to a "Team" within the Shortcut Product. A Team
        is a collection of Users that can be associated to Stories, Epics, and
        Iterations within Shortcut.
      responses:
        '200':
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupListTeamsResponse'
        '400':
          description: Schema mismatch
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
    post:
      tags:
        - Group
      summary: Create Group
      operationId: Group_createNew
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateGroup'
        required: true
      responses:
        '201':
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
        '400':
          description: Schema mismatch
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnusableEntitlementError'
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
  /api/v3/groups/disable:
    put:
      tags:
        - Group
      summary: Disable Groups
      operationId: Group_disableWorkspace
      description: Disables Groups for the current workspace2
      responses:
        '204':
          description: No Content
        '400':
          description: Schema mismatch
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
  /api/v3/groups/enable:
    put:
      tags:
        - Group
      summary: Enable Groups
      operationId: Group_enableWorkspace
      description: Enables Groups for the current workspace2
      responses:
        '204':
          description: No Content
        '400':
          description: Schema mismatch
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
  /api/v3/groups/{group-public-id}:
    get:
      tags:
        - Group
      summary: Get Group
      operationId: Group_getDetails
      parameters:
        - description: The unique ID of the Group.
          in: path
          name: group-public-id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
        '400':
          description: Schema mismatch
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
    put:
      tags:
        - Group
      summary: Update Group
      operationId: Group_updateGroupById
      parameters:
        - description: The unique ID of the Group.
          in: path
          name: group-public-id
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateGroup'
        required: true
      responses:
        '200':
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
        '400':
          description: Schema mismatch
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnusableEntitlementError'
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
  /api/v3/groups/{group-public-id}/stories:
    get:
      tags:
        - Group
      summary: List Group Stories
      operationId: Group_listStories
      description: List the Stories assigned to the Group. (By default, limited to 1,000).
      parameters:
        - description: The unique ID of the Group.
          in: path
          name: group-public-id
          required: true
          schema:
            type: string
            format: uuid
        - description: >-
            The maximum number of results to return. (Defaults to 1000, max
            1000)
          in: query
          name: limit
          required: false
          schema:
            type: integer
            format: int64
        - description: The offset at which to begin returning results. (Defaults to 0)
          in: query
          name: offset
          required: false
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupListStoriesResponse'
        '400':
          description: Schema mismatch
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
  /api/v3/iterations:
    get:
      tags:
        - Iteration
      summary: List Iterations
      operationId: Iteration_getAllIterations
      responses:
        '200':
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IterationGetAllIterationsResponse'
        '400':
          description: Schema mismatch
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
    post:
      tags:
        - Iteration
      summary: Create Iteration
      operationId: Iteration_createNewIteration
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateIteration'
        required: true
      responses:
        '201':
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Iteration'
        '400':
          description: Schema mismatch
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
  /api/v3/iterations/disable:
    put:
      tags:
        - Iteration
      summary: Disable Iterations
      operationId: Iteration_disableIterations
      description: Disables Iterations for the current workspace
      responses:
        '204':
          description: No Content
        '400':
          description: Schema mismatch
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
  /api/v3/iterations/enable:
    put:
      tags:
        - Iteration
      summary: Enable Iterations
      operationId: Iteration_enableIterations
      description: Enables Iterations for the current workspace
      responses:
        '204':
          description: No Content
        '400':
          description: Schema mismatch
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
  /api/v3/iterations/{iteration-public-id}:
    get:
      tags:
        - Iteration
      summary: Get Iteration
      operationId: Iteration_getById
      parameters:
        - description: The unique ID of the Iteration.
          in: path
          name: iteration-public-id
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Iteration'
        '400':
          description: Schema mismatch
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
    put:
      tags:
        - Iteration
      summary: Update Iteration
      operationId: Iteration_updateIterationById
      parameters:
        - description: The unique ID of the Iteration.
          in: path
          name: iteration-public-id
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateIteration'
        required: true
      responses:
        '200':
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Iteration'
        '400':
          description: Schema mismatch
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
    delete:
      tags:
        - Iteration
      summary: Delete Iteration
      operationId: Iteration_removeById
      parameters:
        - description: The unique ID of the Iteration.
          in: path
          name: iteration-public-id
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '204':
          description: No Content
        '400':
          description: Schema mismatch
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
  /api/v3/iterations/{iteration-public-id}/stories:
    get:
      tags:
        - Iteration
      summary: List Iteration Stories
      operationId: Iteration_listStories
      description: Get a list of all Stories in an Iteration.
      parameters:
        - description: The unique ID of the Iteration.
          in: path
          name: iteration-public-id
          required: true
          schema:
            type: integer
            format: int64
        - description: >-
            A true/false boolean indicating whether to return Stories with their
            descriptions.
          in: query
          name: includes_description
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IterationListStoriesResponse'
        '400':
          description: Schema mismatch
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
  /api/v3/key-results/{key-result-public-id}:
    get:
      tags:
        - KeyResult
      summary: Get Key Result
      operationId: KeyResult_getInformation
      description: Get Key Result returns information about a chosen Key Result.
      parameters:
        - description: The ID of the Key Result.
          in: path
          name: key-result-public-id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeyResult'
        '400':
          description: Schema mismatch
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
    put:
      tags:
        - KeyResult
      summary: Update Key Result
      operationId: KeyResult_updateValues
      description: >-
        Update Key Result allows updating a Key Result's name or initial,
        observed, or target values.
      parameters:
        - description: The ID of the Key Result.
          in: path
          name: key-result-public-id
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateKeyResult'
        required: true
      responses:
        '200':
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeyResult'
        '400':
          description: Schema mismatch
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
  /api/v3/labels:
    get:
      tags:
        - Label
      summary: List Labels
      operationId: Label_list
      description: List Labels returns a list of all Labels and their attributes.
      parameters:
        - description: >-
            A true/false boolean indicating if the slim versions of the Label
            should be returned.
          in: query
          name: slim
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelListResponse'
        '400':
          description: Schema mismatch
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
    post:
      tags:
        - Label
      summary: Create Label
      operationId: Label_createNew
      description: Create Label allows you to create a new Label in Shortcut.
      requestBody:
        description: Request parameters for creating a Label on a Shortcut Story.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLabelParams'
        required: true
      responses:
        '201':
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Label'
        '400':
          description: Schema mismatch
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
  /api/v3/labels/{label-public-id}:
    get:
      tags:
        - Label
      summary: Get Label
      operationId: Label_getInfo
      description: Get Label returns information about the selected Label.
      parameters:
        - description: The unique ID of the Label.
          in: path
          name: label-public-id
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Label'
        '400':
          description: Schema mismatch
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
    put:
      tags:
        - Label
      summary: Update Label
      operationId: Label_updateNameById
      description: >-
        Update Label allows you to replace a Label name with another name. If
        you try to name a Label something that already exists, you will receive
        a 422 response.
      parameters:
        - description: The unique ID of the Label you wish to update.
          in: path
          name: label-public-id
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateLabel'
        required: true
      responses:
        '200':
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Label'
        '400':
          description: Schema mismatch
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
    delete:
      tags:
        - Label
      summary: Delete Label
      operationId: Label_remove
      description: Delete Label can be used to delete any Label.
      parameters:
        - description: The unique ID of the Label.
          in: path
          name: label-public-id
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '204':
          description: No Content
        '400':
          description: Schema mismatch
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
  /api/v3/labels/{label-public-id}/epics:
    get:
      tags:
        - Epic
      summary: List Label Epics
      operationId: Epic_listEpics
      description: List all of the Epics with the Label.
      parameters:
        - description: The unique ID of the Label.
          in: path
          name: label-public-id
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EpicListEpicsResponse'
        '400':
          description: Schema mismatch
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
  /api/v3/labels/{label-public-id}/stories:
    get:
      tags:
        - Label
      summary: List Label Stories
      operationId: Label_listStories
      description: List all of the Stories with the Label.
      parameters:
        - description: The unique ID of the Label.
          in: path
          name: label-public-id
          required: true
          schema:
            type: integer
            format: int64
        - description: >-
            A true/false boolean indicating whether to return Stories with their
            descriptions.
          in: query
          name: includes_description
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelListStoriesResponse'
        '400':
          description: Schema mismatch
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
  /api/v3/linked-files:
    get:
      tags:
        - File
      summary: List Linked Files
      operationId: File_listLinkedFiles
      description: >-
        List Linked Files returns a list of all Linked-Files and their
        attributes.
      responses:
        '200':
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileListLinkedFilesResponse'
        '400':
          description: Schema mismatch
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
    post:
      tags:
        - File
      summary: Create Linked File
      operationId: File_createLinkedFile
      description: Create Linked File allows you to create a new Linked File in Shortcut.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLinkedFile'
        required: true
      responses:
        '201':
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinkedFile'
        '400':
          description: Schema mismatch
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
  /api/v3/linked-files/{linked-file-public-id}:
    get:
      tags:
        - File
      summary: Get Linked File
      operationId: File_getLinkedFileInfo
      description: Get File returns information about the selected Linked File.
      parameters:
        - description: The unique identifier of the linked file.
          in: path
          name: linked-file-public-id
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinkedFile'
        '400':
          description: Schema mismatch
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
    put:
      tags:
        - File
      summary: Update Linked File
      operationId: File_updateLinkedFile
      description: >-
        Updated Linked File allows you to update properties of a previously
        attached Linked-File.
      parameters:
        - description: The unique identifier of the linked file.
          in: path
          name: linked-file-public-id
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateLinkedFile'
        required: true
      responses:
        '200':
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinkedFile'
        '400':
          description: Schema mismatch
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
    delete:
      tags:
        - File
      summary: Delete Linked File
      operationId: File_deleteLinkedFile
      description: >-
        Delete Linked File can be used to delete any previously attached
        Linked-File.
      parameters:
        - description: The unique identifier of the linked file.
          in: path
          name: linked-file-public-id
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '204':
          description: No Content
        '400':
          description: Schema mismatch
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
  /api/v3/member:
    get:
      tags:
        - Member
      summary: Get Current Member Info
      operationId: Member_getCurrentInfo
      description: Returns information about the authenticated member.
      responses:
        '200':
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemberInfo'
        '400':
          description: Schema mismatch
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
  /api/v3/members:
    get:
      tags:
        - Member
      summary: List Members
      operationId: Member_listWorkspaceMembers
      description: Returns information about members of the Workspace.
      parameters:
        - description: The unique ID of the Organization to limit the list to.
          in: query
          name: org-public-id
          required: false
          x-doc-skip: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemberListWorkspaceMembersResponse'
        '400':
          description: Schema mismatch
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
  /api/v3/members/{member-public-id}:
    get:
      tags:
        - Member
      summary: Get Member
      operationId: Member_getInfo
      description: Returns information about a Member.
      parameters:
        - description: The Member's unique ID.
          in: path
          name: member-public-id
          required: true
          schema:
            type: string
            format: uuid
        - description: The unique ID of the Organization to limit the lookup to.
          in: query
          name: org-public-id
          required: false
          x-doc-skip: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Member'
        '400':
          description: Schema mismatch
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
  /api/v3/milestones:
    get:
      tags:
        - Milestone
      summary: List Milestones
      operationId: Milestone_listAllAttributes
      description: List Milestones returns a list of all Milestones and their attributes.
      responses:
        '200':
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MilestoneListAllAttributesResponse'
        '400':
          description: Schema mismatch
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
    post:
      tags:
        - Milestone
      summary: Create Milestone
      operationId: Milestone_createNew
      description: Create Milestone allows you to create a new Milestone in Shortcut.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMilestone'
        required: true
      responses:
        '201':
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Milestone'
        '400':
          description: Schema mismatch
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnusableEntitlementError'
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
  /api/v3/milestones/{milestone-public-id}:
    get:
      tags:
        - Milestone
      summary: Get Milestone
      operationId: Milestone_getInfo
      description: Get Milestone returns information about a chosen Milestone.
      parameters:
        - description: The ID of the Milestone.
          in: path
          name: milestone-public-id
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Milestone'
        '400':
          description: Schema mismatch
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
    put:
      tags:
        - Milestone
      summary: Update Milestone
      operationId: Milestone_updateProperties
      description: Update Milestone can be used to update Milestone properties.
      parameters:
        - description: The ID of the Milestone.
          in: path
          name: milestone-public-id
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMilestone'
        required: true
      responses:
        '200':
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Milestone'
        '400':
          description: Schema mismatch
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
    delete:
      tags:
        - Milestone
      summary: Delete Milestone
      operationId: Milestone_deleteMilestone
      description: Delete Milestone can be used to delete any Milestone.
      parameters:
        - description: The ID of the Milestone.
          in: path
          name: milestone-public-id
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '204':
          description: No Content
        '400':
          description: Schema mismatch
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
  /api/v3/milestones/{milestone-public-id}/epics:
    get:
      tags:
        - Epic
      summary: List Milestone Epics
      operationId: Epic_listMilestoneEpics
      description: List all of the Epics within the Milestone.
      parameters:
        - description: The ID of the Milestone.
          in: path
          name: milestone-public-id
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EpicListMilestoneEpicsResponse'
        '400':
          description: Schema mismatch
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
  /api/v3/objectives:
    get:
      tags:
        - Objective
      summary: List Objectives
      operationId: Objective_listAll
      description: List Objectives returns a list of all Objectives and their attributes.
      responses:
        '200':
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectiveListAllResponse'
        '400':
          description: Schema mismatch
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
    post:
      tags:
        - Objective
      summary: Create Objective
      operationId: Objective_createNewObjective
      description: Create Objective allows you to create a new Objective in Shortcut.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateObjective'
        required: true
      responses:
        '201':
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Objective'
        '400':
          description: Schema mismatch
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnusableEntitlementError'
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
  /api/v3/objectives/{objective-public-id}:
    get:
      tags:
        - Objective
      summary: Get Objective
      operationId: Objective_getInfo
      description: Get Objective returns information about a chosen Objective.
      parameters:
        - description: The ID of the Objective.
          in: path
          name: objective-public-id
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Objective'
        '400':
          description: Schema mismatch
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
    put:
      tags:
        - Objective
      summary: Update Objective
      operationId: Objective_updateProperties
      description: Update Objective can be used to update Objective properties.
      parameters:
        - description: The ID of the Objective.
          in: path
          name: objective-public-id
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateObjective'
        required: true
      responses:
        '200':
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Objective'
        '400':
          description: Schema mismatch
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
    delete:
      tags:
        - Objective
      summary: Delete Objective
      operationId: Objective_remove
      description: Delete Objective can be used to delete any Objective.
      parameters:
        - description: The ID of the Objective.
          in: path
          name: objective-public-id
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '204':
          description: No Content
        '400':
          description: Schema mismatch
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
  /api/v3/objectives/{objective-public-id}/epics:
    get:
      tags:
        - Epic
      summary: List Objective Epics
      operationId: Epic_listObjectiveEpics
      description: List all of the Epics within the Objective.
      parameters:
        - description: The ID of the Objective.
          in: path
          name: objective-public-id
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EpicListObjectiveEpicsResponse'
        '400':
          description: Schema mismatch
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
  /api/v3/projects:
    get:
      tags:
        - Project
      summary: List Projects
      operationId: Project_getAll
      description: List Projects returns a list of all Projects and their attributes.
      responses:
        '200':
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectGetAllResponse'
        '400':
          description: Schema mismatch
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
    post:
      tags:
        - Project
      summary: Create Project
      operationId: Project_createShortcutProject
      description: Create Project is used to create a new Shortcut Project.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProject'
        required: true
      responses:
        '201':
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '400':
          description: Schema mismatch
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
  /api/v3/projects/{project-public-id}:
    get:
      tags:
        - Project
      summary: Get Project
      operationId: Project_getInformation
      description: Get Project returns information about the selected Project.
      parameters:
        - description: The unique ID of the Project.
          in: path
          name: project-public-id
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '400':
          description: Schema mismatch
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
    put:
      tags:
        - Project
      summary: Update Project
      operationId: Project_updateProperties
      description: Update Project can be used to change properties of a Project.
      parameters:
        - description: The unique ID of the Project.
          in: path
          name: project-public-id
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProject'
        required: true
      responses:
        '200':
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '400':
          description: Schema mismatch
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
    delete:
      tags:
        - Project
      summary: Delete Project
      operationId: Project_deleteProject
      description: >-
        Delete Project can be used to delete a Project. Projects can only be
        deleted if all associated Stories are moved or deleted. In the case that
        the Project cannot be deleted, you will receive a 422 response.
      parameters:
        - description: The unique ID of the Project.
          in: path
          name: project-public-id
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '204':
          description: No Content
        '400':
          description: Schema mismatch
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
  /api/v3/projects/{project-public-id}/stories:
    get:
      tags:
        - Project
      summary: List Stories
      operationId: Project_listStories
      description: >-
        List Stories returns a list of all Stories in a selected Project and
        their attributes.
      parameters:
        - description: The unique ID of the Project.
          in: path
          name: project-public-id
          required: true
          schema:
            type: integer
            format: int64
        - description: >-
            A true/false boolean indicating whether to return Stories with their
            descriptions.
          in: query
          name: includes_description
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectListStoriesResponse'
        '400':
          description: Schema mismatch
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
  /api/v3/repositories:
    get:
      tags:
        - Repository
      summary: List Repositories
      operationId: Repository_listAll
      description: >-
        List Repositories returns a list of all Repositories and their
        attributes.
      responses:
        '200':
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RepositoryListAllResponse'
        '400':
          description: Schema mismatch
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
  /api/v3/repositories/{repo-public-id}:
    get:
      tags:
        - Repository
      summary: Get Repository
      operationId: Repository_getInformation
      description: Get Repository returns information about the selected Repository.
      parameters:
        - description: The unique ID of the Repository.
          in: path
          name: repo-public-id
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Repository'
        '400':
          description: Schema mismatch
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
  /api/v3/search:
    get:
      tags:
        - Search
      summary: Search
      operationId: Search_epicsAndStories
      description: >-
        Search lets you search Epics and Stories based on desired parameters.
        Since ordering of the results can change over time (due to search
        ranking decay, new Epics and Stories being created), the `next` value
        from the previous response can be used as the path and query string for
        the next page to ensure stable ordering.
      parameters:
        - description: >-
            See our help center article on [search
            operators](https://help.shortcut.com/hc/en-us/articles/360000046646-Search-Operators)
          in: query
          name: query
          required: true
          schema:
            type: string
            minLength: 1
        - description: >-
            The number of search results to include in a page. Minimum of 1 and
            maximum of 25.
          in: query
          name: page_size
          required: false
          schema:
            type: integer
            format: int64
        - description: |-
            The amount of detail included in each result item.
               "full" will include all descriptions and comments and more fields on
               related items such as pull requests, branches and tasks.
               "slim" omits larger fulltext fields such as descriptions and comments
               and only references related items by id.
               The default is "full".
          in: query
          name: detail
          required: false
          schema:
            type: string
            enum:
              - full
              - slim
        - description: The next page token.
          in: query
          name: next
          required: false
          x-doc-skip: true
          schema:
            type: string
        - description: >-
            A collection of entity_types to search. Defaults to story and epic.
            Supports: epic, iteration, objective, story.
          in: query
          name: entity_types
          required: false
          x-doc-skip: true
          explode: true
          schema:
            type: array
            items:
              type: string
              enum:
                - story
                - milestone
                - epic
                - iteration
                - objective
      responses:
        '200':
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResults'
        '400':
          description: >-
            **Either:** (1) Schema mismatch **or** (2) Maximum of 1000 search
            results exceeded 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MaxSearchResultsExceededError'
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
  /api/v3/search/epics:
    get:
      tags:
        - Epic
      summary: Search Epics
      operationId: Epic_getEpics
      description: >-
        Search Epics lets you search Epics based on desired parameters. Since
        ordering of stories can change over time (due to search ranking decay,
        new Epics being created), the `next` value from the previous response
        can be used as the path and query string for the next page to ensure
        stable ordering.
      parameters:
        - description: >-
            See our help center article on [search
            operators](https://help.shortcut.com/hc/en-us/articles/360000046646-Search-Operators)
          in: query
          name: query
          required: true
          schema:
            type: string
            minLength: 1
        - description: >-
            The number of search results to include in a page. Minimum of 1 and
            maximum of 25.
          in: query
          name: page_size
          required: false
          schema:
            type: integer
            format: int64
        - description: |-
            The amount of detail included in each result item.
               "full" will include all descriptions and comments and more fields on
               related items such as pull requests, branches and tasks.
               "slim" omits larger fulltext fields such as descriptions and comments
               and only references related items by id.
               The default is "full".
          in: query
          name: detail
          required: false
          schema:
            type: string
            enum:
              - full
              - slim
        - description: The next page token.
          in: query
          name: next
          required: false
          x-doc-skip: true
          schema:
            type: string
        - description: >-
            A collection of entity_types to search. Defaults to story and epic.
            Supports: epic, iteration, objective, story.
          in: query
          name: entity_types
          required: false
          x-doc-skip: true
          explode: true
          schema:
            type: array
            items:
              type: string
              enum:
                - story
                - milestone
                - epic
                - iteration
                - objective
      responses:
        '200':
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EpicSearchResults'
        '400':
          description: >-
            **Either:** (1) Schema mismatch **or** (2) Maximum of 1000 search
            results exceeded 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MaxSearchResultsExceededError'
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
  /api/v3/search/iterations:
    get:
      tags:
        - Search
      summary: Search Iterations
      operationId: Search_iterations
      description: >-
        Search Iterations lets you search Iterations based on desired
        parameters. Since ordering of results can change over time (due to
        search ranking decay, new Iterations being created), the `next` value
        from the previous response can be used as the path and query string for
        the next page to ensure stable ordering.
      parameters:
        - description: >-
            See our help center article on [search
            operators](https://help.shortcut.com/hc/en-us/articles/360000046646-Search-Operators)
          in: query
          name: query
          required: true
          schema:
            type: string
            minLength: 1
        - description: >-
            The number of search results to include in a page. Minimum of 1 and
            maximum of 25.
          in: query
          name: page_size
          required: false
          schema:
            type: integer
            format: int64
        - description: |-
            The amount of detail included in each result item.
               "full" will include all descriptions and comments and more fields on
               related items such as pull requests, branches and tasks.
               "slim" omits larger fulltext fields such as descriptions and comments
               and only references related items by id.
               The default is "full".
          in: query
          name: detail
          required: false
          schema:
            type: string
            enum:
              - full
              - slim
        - description: The next page token.
          in: query
          name: next
          required: false
          x-doc-skip: true
          schema:
            type: string
        - description: >-
            A collection of entity_types to search. Defaults to story and epic.
            Supports: epic, iteration, objective, story.
          in: query
          name: entity_types
          required: false
          x-doc-skip: true
          explode: true
          schema:
            type: array
            items:
              type: string
              enum:
                - story
                - milestone
                - epic
                - iteration
                - objective
      responses:
        '200':
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IterationSearchResults'
        '400':
          description: >-
            **Either:** (1) Schema mismatch **or** (2) Maximum of 1000 search
            results exceeded 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MaxSearchResultsExceededError'
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
  /api/v3/search/milestones:
    get:
      tags:
        - Search
      summary: Search Milestones
      operationId: Search_milestones
      description: >-
        Search Milestones lets you search Milestones based on desired
        parameters. Since ordering of results can change over time (due to
        search ranking decay, new Milestones being created), the `next` value
        from the previous response can be used as the path and query string for
        the next page to ensure stable ordering.
      parameters:
        - description: >-
            See our help center article on [search
            operators](https://help.shortcut.com/hc/en-us/articles/360000046646-Search-Operators)
          in: query
          name: query
          required: true
          schema:
            type: string
            minLength: 1
        - description: >-
            The number of search results to include in a page. Minimum of 1 and
            maximum of 25.
          in: query
          name: page_size
          required: false
          schema:
            type: integer
            format: int64
        - description: |-
            The amount of detail included in each result item.
               "full" will include all descriptions and comments and more fields on
               related items such as pull requests, branches and tasks.
               "slim" omits larger fulltext fields such as descriptions and comments
               and only references related items by id.
               The default is "full".
          in: query
          name: detail
          required: false
          schema:
            type: string
            enum:
              - full
              - slim
        - description: The next page token.
          in: query
          name: next
          required: false
          x-doc-skip: true
          schema:
            type: string
        - description: >-
            A collection of entity_types to search. Defaults to story and epic.
            Supports: epic, iteration, objective, story.
          in: query
          name: entity_types
          required: false
          x-doc-skip: true
          explode: true
          schema:
            type: array
            items:
              type: string
              enum:
                - story
                - milestone
                - epic
                - iteration
                - objective
      responses:
        '200':
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectiveSearchResults'
        '400':
          description: >-
            **Either:** (1) Schema mismatch **or** (2) Maximum of 1000 search
            results exceeded 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MaxSearchResultsExceededError'
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
  /api/v3/search/objectives:
    get:
      tags:
        - Search
      summary: Search Objectives
      operationId: Search_objectives
      description: >-
        Search Objectives lets you search Objectives based on desired
        parameters. Since ordering of results can change over time (due to
        search ranking decay, new Objectives being created), the `next` value
        from the previous response can be used as the path and query string for
        the next page to ensure stable ordering.
      parameters:
        - description: >-
            See our help center article on [search
            operators](https://help.shortcut.com/hc/en-us/articles/360000046646-Search-Operators)
          in: query
          name: query
          required: true
          schema:
            type: string
            minLength: 1
        - description: >-
            The number of search results to include in a page. Minimum of 1 and
            maximum of 25.
          in: query
          name: page_size
          required: false
          schema:
            type: integer
            format: int64
        - description: |-
            The amount of detail included in each result item.
               "full" will include all descriptions and comments and more fields on
               related items such as pull requests, branches and tasks.
               "slim" omits larger fulltext fields such as descriptions and comments
               and only references related items by id.
               The default is "full".
          in: query
          name: detail
          required: false
          schema:
            type: string
            enum:
              - full
              - slim
        - description: The next page token.
          in: query
          name: next
          required: false
          x-doc-skip: true
          schema:
            type: string
        - description: >-
            A collection of entity_types to search. Defaults to story and epic.
            Supports: epic, iteration, objective, story.
          in: query
          name: entity_types
          required: false
          x-doc-skip: true
          explode: true
          schema:
            type: array
            items:
              type: string
              enum:
                - story
                - milestone
                - epic
                - iteration
                - objective
      responses:
        '200':
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectiveSearchResults'
        '400':
          description: >-
            **Either:** (1) Schema mismatch **or** (2) Maximum of 1000 search
            results exceeded 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MaxSearchResultsExceededError'
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
  /api/v3/search/stories:
    get:
      tags:
        - Search
      summary: Search Stories
      operationId: Search_storiesGet
      description: >-
        Search Stories lets you search Stories based on desired parameters.
        Since ordering of stories can change over time (due to search ranking
        decay, new stories being created), the `next` value from the previous
        response can be used as the path and query string for the next page to
        ensure stable ordering.
      parameters:
        - description: >-
            See our help center article on [search
            operators](https://help.shortcut.com/hc/en-us/articles/360000046646-Search-Operators)
          in: query
          name: query
          required: true
          schema:
            type: string
            minLength: 1
        - description: >-
            The number of search results to include in a page. Minimum of 1 and
            maximum of 25.
          in: query
          name: page_size
          required: false
          schema:
            type: integer
            format: int64
        - description: |-
            The amount of detail included in each result item.
               "full" will include all descriptions and comments and more fields on
               related items such as pull requests, branches and tasks.
               "slim" omits larger fulltext fields such as descriptions and comments
               and only references related items by id.
               The default is "full".
          in: query
          name: detail
          required: false
          schema:
            type: string
            enum:
              - full
              - slim
        - description: The next page token.
          in: query
          name: next
          required: false
          x-doc-skip: true
          schema:
            type: string
        - description: >-
            A collection of entity_types to search. Defaults to story and epic.
            Supports: epic, iteration, objective, story.
          in: query
          name: entity_types
          required: false
          x-doc-skip: true
          explode: true
          schema:
            type: array
            items:
              type: string
              enum:
                - story
                - milestone
                - epic
                - iteration
                - objective
      responses:
        '200':
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorySearchResults'
        '400':
          description: >-
            **Either:** (1) Schema mismatch **or** (2) Maximum of 1000 search
            results exceeded 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MaxSearchResultsExceededError'
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
  /api/v3/stories:
    post:
      tags:
        - Story
      summary: Create Story
      operationId: Story_addNew
      description: Create Story is used to add a new story to your Shortcut Workspace.
      requestBody:
        description: Request parameters for creating a story.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateStoryParams'
        required: true
      responses:
        '201':
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Story'
        '400':
          description: Schema mismatch
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
  /api/v3/stories/bulk:
    post:
      tags:
        - Story
      summary: Create Multiple Stories
      operationId: Story_createMultiple
      description: >-
        Create Multiple Stories allows you to create multiple stories in a
        single request using the same syntax as [Create
        Story](https://developer.shortcut.com/api/rest/v3#create-story).
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateStories'
        required: true
      responses:
        '201':
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoryCreateMultipleResponse'
        '400':
          description: Schema mismatch
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
    put:
      tags:
        - Story
      summary: Update Multiple Stories
      operationId: Story_updateMultiple
      description: >-
        Update Multiple Stories allows you to make changes to numerous stories
        at once.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateStories'
        required: true
      responses:
        '200':
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoryUpdateMultipleResponse'
        '400':
          description: Schema mismatch
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
    delete:
      tags:
        - Story
      summary: Delete Multiple Stories
      operationId: Story_deleteMultiple
      description: >-
        Delete Multiple Stories allows you to delete multiple archived stories
        at once.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteStories'
        required: true
      responses:
        '204':
          description: No Content
        '400':
          description: Schema mismatch
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
  /api/v3/stories/from-template:
    post:
      tags:
        - Story
      summary: Create Story From Template
      operationId: Story_createFromTemplate
      description: >-
        Create Story From Template is used to add a new story derived from a
        template to your Shortcut Workspace.
      requestBody:
        description: >-
          Request parameters for creating a story from a story template. These
          parameters are merged with the values derived from the template.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateStoryFromTemplateParams'
        required: true
      responses:
        '201':
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Story'
        '400':
          description: Schema mismatch
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
  /api/v3/stories/search:
    post:
      tags:
        - Search
      summary: Search Stories (Old)
      operationId: Search_storiesOld
      description: Search Stories lets you search Stories based on desired parameters.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchStories'
        required: true
      responses:
        '201':
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchStoriesOldResponse'
        '400':
          description: Schema mismatch
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
  /api/v3/stories/{story-public-id}:
    get:
      tags:
        - Story
      summary: Get Story
      operationId: Story_getInformation
      description: Get Story returns information about a chosen Story.
      parameters:
        - description: The ID of the Story.
          in: path
          name: story-public-id
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Story'
        '400':
          description: Schema mismatch
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
    put:
      tags:
        - Story
      summary: Update Story
      operationId: Story_updateProperties
      description: Update Story can be used to update Story properties.
      parameters:
        - description: The unique identifier of this story.
          in: path
          name: story-public-id
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateStory'
        required: true
      responses:
        '200':
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Story'
        '400':
          description: Schema mismatch
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
    delete:
      tags:
        - Story
      summary: Delete Story
      operationId: Story_remove
      description: Delete Story can be used to delete any Story.
      parameters:
        - description: The ID of the Story.
          in: path
          name: story-public-id
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '204':
          description: No Content
        '400':
          description: Schema mismatch
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
  /api/v3/stories/{story-public-id}/comments:
    get:
      tags:
        - Story
      summary: List Story Comment
      operationId: Story_listComments
      description: Lists Comments associated with a Story
      parameters:
        - description: The ID of the Story that the Comment is in.
          in: path
          name: story-public-id
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoryListCommentsResponse'
        '400':
          description: Schema mismatch
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
    post:
      tags:
        - Story
      summary: Create Story Comment
      operationId: Story_createComment
      description: Create Comment allows you to create a Comment on any Story.
      parameters:
        - description: The ID of the Story that the Comment is in.
          in: path
          name: story-public-id
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateStoryComment'
        required: true
      responses:
        '201':
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoryComment'
        '400':
          description: Schema mismatch
        '404':
          description: Resource does not exist
        '422':
          description: Unprocessable
  /api/v3/stories/{story-public-id}/comments/{comment-public-id}:
    get:
      tags:
        - Story
      summary: Get Story Comment
      operationId: Story_getComment
      description: Get Comment is used to get Comment information.
      parameters:
        - description: The ID of the Story that the Comment is in.
          in: path
          name: story-public-id
          required: true
          schema:
            type: integer
            format: int64
        - description: The ID of the Comment.
          in: path
          name: comment-public-id
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Resource
          content:
            application/json:
              schema:
[...]
