openapi: 3.0.0
info:
  title: SoftLedger Accounting API v2
  description: >-
    SoftLedger provides real-time visibility to critical financial data.


    Our cloud-native accounting software and APIs help organizations manage
    their distributed operations and assets.  This includes a full-featured
    general ledger, accounts receivable, accounts payable, inventory management,
    crypto asset management, and more.
  version: 1.0.0
  contact:
    email: support@softledger.com
  x-logo:
    url: https://sl-ui-assets.s3.amazonaws.com/images/SoftLedger+Logo+White.png
  x-konfig-ignore:
    object-with-no-properties: true
    potential-incorrect-type: true
servers:
  - description: Production(US)
    url: https://api.softledger.com/v2
  - description: Europe
    url: https://eu-api.softledger.com/v2
tags:
  - description: Sales Orders
    name: Sales Orders
  - description: Purchase Orders
    name: Purchase Orders
  - description: Invoices
    name: Invoices
  - description: Bills
    name: Bills
  - description: Coins
    name: Coins
  - description: Crypto Transactions
    name: Crypto Transactions
  - description: Batch Payments
    name: Batch Payments
  - description: Customers
    name: Customers
  - description: Financials
    name: Financials
  - description: Ledger Accounts
    name: Ledger Accounts
  - description: Journals
    name: Journals
  - description: Locations
    name: Locations
  - description: Stock Adjustments
    name: Stock Adjustments
  - description: Vendors
    name: Vendors
  - description: Cash Receipts
    name: Cash Receipts
  - description: Payments
    name: Payments
  - description: Statements
    name: Statements
  - description: Users
    name: Users
  - description: Vendor Credits
    name: Vendor Credits
  - description: Items
    name: Items
  - description: Shipment Receipts
    name: Shipment Receipts
  - description: Wallets
    name: Wallets
  - description: Warehouses
    name: Warehouses
  - description: Addresses
    name: Addresses
  - description: Contacts
    name: Contacts
  - description: Cost Centers
    name: Cost Centers
  - description: Currencies
    name: Currencies
  - description: >
      Each SoftLedger tenant can have up to 3 custom dimensions.


      All of the resources below are for custom dimensions and are accessed
      based on the name of the custom dimension. The {name} parameter should be
      populated with the custom dimension name.
    name: Custom Dimensions
  - description: Jobs
    name: Jobs
  - description: Products
    name: Products
  - description: Transfers
    name: Transfers
  - description: Consolidation Rates
    name: Consolidation Rates
  - description: FX Remeasure
    name: FX Remeasure
  - description: Part Numbers
    name: Part Numbers
  - description: >
      Preferences are used to store user UI preferences. There are currently the
      following types:


      | Type   | Description |

      |--------|-------------|

      | table  | Stores information regarding default column visibility, sorting
      order, and page size |

      | filter | Stores information for a tables view. These can be useful in
      storing different re-usable queries |
    name: Preferences
  - description: Templates
    name: Templates
  - description: Vendor Prices
    name: Vendor Prices
  - description: Accounting Years
    name: Years
  - description: FX Revalue
    name: FX Revalue
  - description: Recurring Jobs
    name: Recurring Jobs
  - description: Settings
    name: Settings
  - description: Stock Counts
    name: Stock Counts
  - description: System Jobs
    name: System Jobs
  - description: Tax Codes
    name: Tax Codes
  - description: Warehouse Items
    name: Warehouse Items
  - description: >
      ### Webhooks


      Webhooks allow you to subscribe to events that happen in SoftLedger. When
      one of those events is triggered, we'll send an HTTP POST payload to the
      webhook's configured URL.

      Webhooks are sent with an 'at-least' once method. We recommend utilizing
      the `uuid` field to ensure that you do not process the same webhook
      multiple times.


      Webhook endpoints should be respond immediately with a http 200 status
      code. The system that receives the webhook should then process the webhook
      asynchronously and not wait for its work to complete prior to responding
      to the webhook request. If the endpoint is slow to respond or returns a
      non 200 status code, the webhook endpoint will be blacklisted by
      SoftLedger. Please contact `support@softledger.com` to resolve the issue
      if this occurs.


      ### Webhook Payload


      The webhook payload will be sent as a JSON object with the following
      structure:


      ```json

      {
        "uuid": "Unique identifier for the webhook",
        "date": "ISO timestamp for when the webhook was triggered",
        "tenantId": "The tenantUUID that triggered the webhook",
        "objectType": "The type of object that triggered the webhook",
        "objectId": "The _id of the object that triggered the webhook",
        "action": "The action that triggered the webhook",
      }

      ```


      ### What webhooks are sent?


      Each endpoint below specifies what webhooks are sent for each request. The
      list will contain the `objectType` and `action` that will be sent in the
      webhook payload.
    name: Webhooks
  - description: Custom Fields
    name: Custom Fields
  - description: Accounting Periods
    name: Periods
  - description: Transactions
    name: Transactions
  - description: Emails
    name: Emails
  - description: Roles
    name: Roles
  - description: >
      ## OAuth v2.0


      SoftLedger API uses OAuth2.0 to access it's API. For any request to the
      API, you'll need to pass a JWT.


      ## Authorization


      Prior to making any API request you'll need to [request an OAuth
      token](https://api-docs.softledger.com/).


      After you receive a token, add the following headers to every subsequent
      request:


      ```json

      {
        "Authorization": "Bearer {access_token}",
        "Content-Type": "application/json"
      }

      ```
    name: Authentication
  - description: Audit Logs
    name: Audit Logs
  - description: Status
    name: Status
  - description: Timezones
    name: Timezones
  - description: >
      Below is an overview of our REST API, including endpoints related to our
      general ledger and other components of SoftLedger's accounting software.


      ## Endpoints


      SoftLedger has the following endpoints.


      | Site       | Endpoint                         |

      |------------|----------------------------------|

      | Production | https://api.softledger.com/v2    |

      | Europe     | https://eu-api.softledger.com/v2 |


      ## Access to the Accounting API 


      Please contact <support@softledger.com> to request access to the API.
    name: Introduction
  - description: >
      Previous versions documentation of the API are available at the linke
      below


      [APIv1 Docs are available here](https://api.softledger.com/docs)


      Note that these docs are deprecated and will reach end of life on April
      30th, 2024.
    name: Version 1
  - description: >
      Actions performed by the api will have their audit logs labelled with the
      name of the api key generated by the SoftLedger team.


      <strong>Performing requests on behalf of users / Labeling audit log
      entries</strong>


      If you would like to use an alternate label, or perform actions on behalf
      of a user, you can pass the `x-softledger-auditlabel` header with the
      email of a user or a string label. This label will then be used in the
      audit log entry.

      * The audit entry will still retain information to know that this was an
      API request and not performed directly by a user in the SoftLedger UI.

      * This header is ignored for tokens generated by a user initiated OAuth
      flow.
    name: Auditing
  - description: >
      Requests to the SoftLedger API are rate limited to 200 requests per
      minute.


      A rate limited request will return a HTTP Status of 429.



      Every request to the API will return the following headers:


      ```X-RateLimit-Remaining: String<integer>``` - The number of api requests
      left during the interval.


      ```X-RateLimit-RetryAfter: String<integer>``` - The number of seconds
      remaining until the next interval.
    name: Rate Limiting
  - description: >
      ## Pagination


      The query paramaters for most GET requests `limit` and `cursor` allow
      pagination through large sets of data.


      By default `limit` is set to `25`


      In order to page forward set the `cursor` query param to the `cursor`
      value returned in the previous requests response data.


      ## Filtering

      ### Building the filter statement


      The query parameter `filter` and `filterType` for most GET endpoints
      allows you to filter on the requested data.


      The `filter` paramater should be a JSON.stringified key: value object.


      The `filterType` should be one of `all` or `any`. It defaults to `all`. 

      If set to `all` all results that match ALL filters are returned.

      If set to `any` all restults that match ANY filters are returned.


      For example, if we wanted to get all Invoices that were paid, the where
      clause would be:


      ```json

      {
        "status": {
          "equals": "paid"
        }
      }

      ```


      This would then be stringified prior to attaching in the URL 


      ```javascript

      let tmp = JSON.stringify({
        status: {
          equals: "paid"
        }
      });

      ```


      Then the request URL would look as follows


      ```

      https://api.softledger.com/api/invoices?filter=tmp&filterType=any

      ```


      ### Available Filter Options


      | Key      |
      Description                                                                                              
      |

      |----------|-----------------------------------------------------------------------------------------------------------|

      | equals   | Exactly
      equals                                                                                           
      |

      | contains | Column contains. *String values
      only                                                                     
      |

      | not      | Does not
      equal                                                                                           
      |

      | gt       | Greater
      than                                                                                             
      |

      | gte      | Greater than or equal
      to                                                                                 
      |

      | lt       | Less
      than                                                                                                
      |

      | lte      | Less than or equal
      to                                                                                    
      |

      | in       | Column is exactly any of the passed columns. Its value should
      be an array of values                       |

      | isNull   | Boolean. Pass true to return columns with a null value and
      false to return columns with a set value.      |


      ### Example


      Get all created or approved bills posted after "2020-01-01"


      ```json

      {
        "status": {
          "in": ["created", "approved"]
        },
        "postingDate": {
          "gt": "2020-01-01"
        }
      }

      ```


      ### Example 2


      Get all Transactions where the reconcileId is not set. Indicating they are
      not reconciled


      ```json

      {
        "reconcileId": {
          "isNull": true
        }
      }

      ```


      ## Errors


      Successful API request responses will be described inline throughout the
      document

      401,403,404 Messages will not contain a body as the error is implied.

      Other 4xx error codes will return as following:


      ```json

      {
        error: "Error Message"
      }

      ```
    name: Request and Responses
paths:
  /oauth/token:
    post:
      tags:
        - Authentication
      summary: Request Token
      operationId: Authentication_requestToken
      description: >
        Request OAuth Token

        - URL for this request should be
        `https://auth.accounting-auth.com/oauth/token` for Production

        - URL for this request should be
        `https://eu.accounting-auth.com/oauth/token` for Europe
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthenticationRequestTokenRequest'
      responses:
        '200':
          description: Authentication Token Details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationRequestTokenResponse'
  /reports/accountBalance:
    post:
      tags:
        - Financials
      summary: Account Balance by Currency
      operationId: Financials_getConsolidatedBalance
      description: >
        Returns the consolidated balance of the Ledger Account passed broken
        down by currency.

        Balance Sheet accounts include all transactions until endDate

        Income Statement accounts include all transactions from start of
        accounting year until endDate
      requestBody:
        description: Account Balance Request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FinancialsGetConsolidatedBalanceRequest'
      responses:
        '200':
          description: Account Balance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinancialsGetConsolidatedBalanceResponse'
  /reports/aging/bills:
    post:
      tags:
        - Financials
      summary: AP Aging Bills
      operationId: Financials_getAgingBills
      description: >
        Returns list of approved but not fully paid bills for the specified
        Vendor.
      requestBody:
        description: AP Aging Bill Request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FinancialsGetAgingBillsRequest'
      responses:
        '200':
          description: AP Aging Bills
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinancialsGetAgingBillsResponse'
  /reports/aging/Invoices:
    post:
      tags:
        - Financials
      summary: AR Aging Invoices
      operationId: Financials_getAgingInvoices
      description: >
        Returns list of issued but not fully paid invoices for the specified
        Customer/Agent.
      requestBody:
        description: AR Aging Invoice Request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FinancialsGetAgingInvoicesRequest'
      responses:
        '200':
          description: AR Aging Invoices
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinancialsGetAgingInvoicesResponse'
  /reports/aging/ap:
    post:
      tags:
        - Financials
      summary: AP Aging
      operationId: Financials_getApprovedBillsAging
      description: |
        Returns list of approved but not fully paid bills. Grouped by date range
      requestBody:
        description: AP Aging request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FinancialsGetApprovedBillsAgingRequest'
      responses:
        '200':
          description: AP Aging
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinancialsGetApprovedBillsAgingResponse'
  /reports/aging/ar:
    post:
      tags:
        - Financials
      summary: AR Aging
      operationId: Financials_getAgingAR
      description: >
        Returns list of issued but not fully paid invoices. Grouped by date
        range
      requestBody:
        description: AR Aging request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FinancialsGetAgingArRequest'
      responses:
        '200':
          description: AR Aging
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinancialsGetAgingArResponse'
  /reports/financialFormula:
    post:
      tags:
        - Financials
      summary: Current Period Income
      operationId: Financials_calculateCurrentPeriodIncome
      description: >
        Returns current period income calculation for specified report type for
        the startDate -> endDate.
      requestBody:
        description: Current Period Income Request
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/FinancialsCalculateCurrentPeriodIncomeRequest
      responses:
        '200':
          description: Current Period Income
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/FinancialsCalculateCurrentPeriodIncomeResponse
  /reports/financialReport:
    post:
      tags:
        - Financials
      summary: Entity Report
      operationId: Financials_generateReportData
      description: |
        Financial Entity report data of account balances by dimension
      requestBody:
        description: Entity Report Request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FinancialsGenerateReportDataRequest'
      responses:
        '200':
          description: Entity Report
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinancialsGenerateReportDataResponse'
  /reports/financials:
    post:
      tags:
        - Financials
      summary: Dimension Report
      operationId: Financials_generateDimensionReport
      description: |
        Financial Dimension report data of account balances by dimension
      requestBody:
        description: Financial Dimension report data request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FinancialsGenerateDimensionReportRequest'
      responses:
        '200':
          description: Financial Dimension report data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinancialsGenerateDimensionReportResponse'
  /reports/generalLedger:
    post:
      tags:
        - Financials
      summary: General Ledger
      operationId: Financials_getGeneralLedgerBalances
      description: |
        Returns General Ledger Balances for Date Range passed
      requestBody:
        description: General Ledger Request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FinancialsGetGeneralLedgerBalancesRequest'
      responses:
        '200':
          description: General Ledger
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/FinancialsGetGeneralLedgerBalancesResponse
  /reports/trialBalance:
    post:
      tags:
        - Financials
      summary: Trial Balance
      operationId: Financials_getTrialBalance
      description: >
        Returns Trial Balance for Date Ranges passed

        Balance Sheet accounts include all transactions until endDate

        Income Statement accounts include all transactions from start of
        accounting year until endDate
      requestBody:
        description: Trial Balance Request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FinancialsGetTrialBalanceRequest'
      responses:
        '200':
          description: Trial Balance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinancialsGetTrialBalanceResponse'
  /fx-revalue/rates/{AccountingPeriodId}:
    get:
      tags:
        - FX Revalue
      summary: Get Rates
      operationId: FxRevalue_getRates
      description: |
        Returns current rates set for the accouting period revaluation
        The results are a list of all currencies and their end of period rate
        (example results are two possible currencies)
      parameters:
        - description: AccountingPeriod._id value
          in: path
          name: AccountingPeriodId
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: List of FX Rates
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FxRevalueGetRatesResponse'
    post:
      tags:
        - FX Revalue
      summary: Save Rates
      operationId: FxRevalue_saveRatesForPeriod
      description: >
        Save the rates for the accounting period

        Example shows rates for two possible currencies. Currencies to save
        rates for should be obtained from GET fx-revalue/rates/:id
      parameters:
        - description: AccountingPeriod._id value
          in: path
          name: AccountingPeriodId
          required: true
          schema:
            type: integer
      requestBody:
        description: Base currency and fx rate currency pairs
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FxRevalueSaveRatesForPeriodRequest'
      responses:
        '200':
          description: Success
  /fx-revalue/adjustments/{AccountingPeriodId}:
    post:
      tags:
        - FX Revalue
      summary: Post Adjustments
      operationId: FxRevalue_postEntries
      description: |
        Post FX Revaluation entries for the period
      parameters:
        - description: AccountingPeriod._id value
          in: path
          name: AccountingPeriodId
          required: true
          schema:
            type: integer
      responses:
        '202':
          description: Accepted
    delete:
      tags:
        - FX Revalue
      summary: Delete Adjustments
      operationId: FxRevalue_deleteAdjustments
      description: |
        Delete FX Revaluation entries for the period
      parameters:
        - description: AccountingPeriod._id value
          in: path
          name: AccountingPeriodId
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Success
  /status/{type}:
    get:
      tags:
        - Status
      summary: Get Status
      operationId: Status_jobStatus
      description: Get the status of a job
      parameters:
        - description: API type
          in: path
          name: type
          required: true
          schema:
            type: string
            enum:
              - costbasis
              - crypto-journals
              - inventory
      responses:
        '200':
          description: Status of job
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusJobStatusResponse'
  /addresses:
    get:
      tags:
        - Addresses
      summary: Search
      operationId: Addresses_searchFilterableSortable
      description: |
        | Field       | Filterable | Sortable |
        |---------------------|:--:|:--:|
        |_id            | ✅ | ✅ |
        |label          | ✅ | ✅ |
        |line1          | ✅ | ❌ |
        |line2          | ✅ | ❌ |
        |city           | ✅ | ❌ |
        |state          | ✅ | ❌ |
        |zip            | ✅ | ❌ |
        |country        | ✅ | ❌ |
        |isDefault      | ✅ | ❌ |
        |isVerified     | ✅ | ❌ |
        |createdAt      | ✅ | ✅ |
        |updatedAt      | ✅ | ✅ |
        |CustomerId     | ✅ | ❌ |
        |VendorId       | ✅ | ❌ |
        |Customer.name  | ❌ | ✅ |
        |Vendor.name    | ❌ | ✅ |
      parameters:
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/filterType'
        - $ref: '#/components/parameters/cursor'
        - $ref: '#/components/parameters/limit'
        - description: Order to return results in. ex "date:desc"
          in: query
          name: order
          schema:
            type: string
            default: label:ASC
      responses:
        '200':
          description: List of Addresses
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddressesSearchFilterableSortableResponse'
    post:
      tags:
        - Addresses
      summary: Create
      operationId: Addresses_createNewAddress
      description: |
        Creates a new address

        <div class="webhooks">
          <h4>Webhooks</h4>
          <div>Address CREATE</div>
        </div>
      requestBody:
        description: >
          JSON body to create new Address


          Only one of `[CustomerId, VendorId, Customer.name, Vendor.name]` can
          be set
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddressesCreateNewAddressRequest'
      responses:
        '201':
          description: Address
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddressesCreateNewAddressResponse'
  /addresses/count:
    get:
      tags:
        - Addresses
      summary: Count
      operationId: Addresses_getCount
      description: >
        The same filters as [Search](https://api-docs.softledger.com/) can be
        used here.
      parameters:
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/filterType'
      responses:
        '200':
          description: Count response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CountResponse'
  /addresses/{id}:
    delete:
      tags:
        - Addresses
      summary: Delete
      operationId: Addresses_deleteAddress
      description: |
        Delete one Address

        <div class="webhooks">
          <h4>Webhooks</h4>
          <div>Address DELETE</div>
        </div>
      parameters:
        - description: Address Id
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '204':
          description: no content success
    put:
      tags:
        - Addresses
      summary: Update
      operationId: Addresses_updateOneAddress
      description: |
        Update One Address

        <div class="webhooks">
          <h4>Webhooks</h4>
          <div>Address UPDATE</div>
        </div>
      parameters:
        - description: Address Id
          in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        description: JSON body containing key and values to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddressesUpdateOneAddressRequest'
      responses:
        '200':
          description: Updated Address
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddressesUpdateOneAddressResponse'
  /addresss/{id}:
    get:
      tags:
        - Addresses
      summary: One
      operationId: Addresses_getOneAddress
      description: Get one Address
      parameters:
        - description: Address Id
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: One Address
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddressesGetOneAddressResponse'
  /audit-logs:
    get:
      tags:
        - Audit Logs
      summary: Search
      operationId: AuditLogs_listDescendingByDate
      description: |
        Returns a list of audit logs in descending order by date

        | Field       | Filterable |
        |---------------------|:--:|
        |_id                  | ✅ |
        |date                 | ✅ |
        |object               | ❌ |
        |objectType           | ✅ |
        |objectId             | ✅ |
        |message              | ✅ |
        |user                 | ❌ |
        |api                  | ❌ |
        |userType             | ✅ |
        |userLabel            | ✅ |
      parameters:
        - $ref: '#/components/parameters/where'
        - $ref: '#/components/parameters/cursor'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: List of Audit Logs. Ordered by date
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditLogsListDescendingByDateResponse'
  /batch-payments:
    get:
      tags:
        - Batch Payments
      summary: Search
      operationId: BatchPayments_searchFilterableSortable
      description: |
        | Field       | Filterable | Sortable |
        |---------------------|:--:|:--:|
        |_id                      | ✅ | ✅ |
        |status                   | ✅ | ✅ |
        |referenceNumber          | ✅ | ✅ |
        |postedDate               | ✅ | ✅ |
        |paymentDate              | ✅ | ✅ |
        |currency                 | ✅ | ✅ |
        |amount                   | ✅ | ✅ |
        |LocationId               | ✅ | ❌ |
        |ClearingAccountId        | ✅ | ❌ |
        |CashAccountId            | ✅ | ❌ |
        |createdAt                | ✅ | ✅ |
        |updatedAt                | ✅ | ✅ |
      parameters:
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/filterType'
        - $ref: '#/components/parameters/cursor'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/LocationId'
        - description: Order to return results in. ex "date:desc"
          in: query
          name: order
          schema:
            type: string
            default: referenceNumber:DESC
      responses:
        '200':
          description: List of batch payments
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/BatchPaymentsSearchFilterableSortableResponse
    post:
      tags:
        - Batch Payments
      summary: Create
      operationId: BatchPayments_createNewBatchPayment
      description: |
        creates a new Batch Payment

        <div class="webhooks">
          <h4>Webhooks</h4>
          <div>BatchPayment CREATE</div>
        </div>
      requestBody:
        description: >
          JSON body to create new Batch Payment


          Created batch payments will be created in `created` status unless the
          setting for Auto-Approve (AP) is enabled, then the status will be
          `approved`
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchPaymentsCreateNewBatchPaymentRequest'
      responses:
        '201':
          description: Batch Payment
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/BatchPaymentsCreateNewBatchPaymentResponse
  /batch-payments/{id}/approve:
    put:
      tags:
        - Batch Payments
      summary: Approve
      operationId: BatchPayments_approve
      description: |
        Approve batch payment

        <div class="webhooks">
          <h4>Webhooks</h4>
          <div>BatchPayment APPROVE</div>
        </div>
      parameters:
        - description: BatchPayment._id
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: no content success
  /batch-payments/{id}/bills:
    get:
      tags:
        - Batch Payments
      summary: Bills
      operationId: BatchPayments_getBills
      description: >
        This endpoint returns bills for the specified batch payment.

        The parameters of this endpoint are the same as for [Bills
        Search](https://api-docs.softledger.com/)
      parameters:
        - description: BatchPayment._id
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: List of Bills
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchPaymentsGetBillsResponse'
  /batch-payments/{id}/bills/count:
    get:
      tags:
        - Batch Payments
      summary: Bills Count
      operationId: BatchPayments_getBillsCount
      description: >
        The same filters as [Search](https://api-docs.softledger.com/) can be
        used here.
      parameters:
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/filterType'
        - $ref: '#/components/parameters/LocationId'
        - description: BatchPayment._id
          in: path
          name: id
          required: true
          schema:
            type: string
        - description: >
            If true, only returns AP Credits i.e. bills with a negative amount.


            If false or not specified, only returns bills with a positive
            amount.
          name: credit
          in: query
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Count response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CountResponse'
  /batch-payments/count:
    get:
      tags:
        - Batch Payments
      summary: Count
      operationId: BatchPayments_getCount
      description: >
        The same filters as [Search](https://api-docs.softledger.com/) can be
        used here.
      parameters:
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/filterType'
        - $ref: '#/components/parameters/LocationId'
      responses:
        '200':
          description: Count response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CountResponse'
  /batch-payments/{id}:
    delete:
      tags:
        - Batch Payments
      summary: Delete
      operationId: BatchPayments_deleteOne
      description: |
        Delete one Batch Payment

        <div class="webhooks">
          <h4>Webhooks</h4>
          <div>BatchPayment DELETE</div>
        </div>
      parameters:
        - description: Batch Payment Id
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '204':
          description: no content success
    get:
      tags:
        - Batch Payments
      summary: One
      operationId: BatchPayments_getOne
      description: Get one Batch Payment
      parameters:
        - description: BatchPayment._id
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: One Batch Payment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchPaymentsGetOneResponse'
  /batch-payments/{id}/payments:
    get:
      tags:
        - Batch Payments
      summary: Payments
      operationId: BatchPayments_getPayments
      description: >
        This endpoint returns payments for the specified batch payment.

        The parameters of this endpoint are the same as for [Payments
        Search](https://api-docs.softledger.com/)
      parameters:
        - description: BatchPayment._id
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: List of Payments
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchPaymentsGetPaymentsResponse'
  /batch-payments/{id}/payments/count:
    get:
      tags:
        - Batch Payments
      summary: Payments Count
      operationId: BatchPayments_getPaymentsCount
      description: >
        The same filters as [Search](https://api-docs.softledger.com/) can be
        used here.
      parameters:
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/filterType'
        - $ref: '#/components/parameters/LocationId'
        - description: BatchPayment._id
          in: path
          name: id
          required: true
          schema:
            type: string
        - description: |
            Filter by AP or AR payments

            If not specified, all payment types will be returned
          name: type
          in: query
          schema:
            type: string
            enum:
              - ap
              - ar
      responses:
        '200':
          description: Count response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CountResponse'
  /batch-payments/{id}/void:
    put:
      tags:
        - Batch Payments
      summary: Void
      operationId: BatchPayments_voidBatchPayment
      description: |
        Void Batch Payment

        <div class="webhooks">
          <h4>Webhooks</h4>
          <div>BatchPayment VOID</div>
        </div>
      parameters:
        - description: BatchPayment._id
          in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        description: |
          JSON body containing void details.
          Can only void a batch in "approved" status
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchPaymentsVoidBatchPaymentRequest'
      responses:
        '200':
          description: no content success
  /bills:
    get:
      tags:
        - Bills
      summary: Search
      operationId: Bills_list
      description: |
        | Field       | Filterable | Sortable |
        |---------------------|:--:|:--:|
        |_id                      | ✅ | ✅ |
        |invoiceNumber            | ✅ | ✅ |
        |externalId               | ✅ | ✅ |
        |description              | ✅ | ✅ |
        |invoiceDate              | ✅ | ✅ |
        |postedDate               | ✅ | ✅ |
        |dueDate                  | ✅ | ✅ |
        |dueAmount                | ✅ | ✅ |
        |amount                   | ✅ | ✅ |
        |VendorId                 | ✅ | ❌ |
        |Vendor.name              | ❌ | ✅ |
        |customFields             | ✅ | ❌ |
        |currency                 | ✅ | ✅ |
        |LocationId               | ✅ | ❌ |
        |ICLocationId             | ✅ | ❌ |
        |status                   | ✅ | ✅ |
        |approvalStatus           | ✅ | ✅ |
        |paymentStatus            | ✅ | ✅ |
        |PurchaseOrderId          | ✅ | ❌ |
        |APAccountId              | ✅ | ❌ |
        |SystemJobId              | ✅ | ❌ |
        |createdAt                | ✅ | ✅ |
        |updatedAt                | ✅ | ✅ |
      parameters:
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/filterType'
        - $ref: '#/components/parameters/cursor'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/LocationId'
        - description: Order to return results in. ex "date:desc"
          in: query
          name: order
          schema:
            type: string
            default: number:ASC
        - description: >
            If true, only returns AP Credits i.e. bills with a negative amount.


            If false or not specified, only returns bills with a positive
            amount.
          in: query
          name: credit
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: List of Bills
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillsListResponse'
    post:
      tags:
        - Bills
      summary: Create
      operationId: Bills_createBill
      description: |
        creates a new Bill

        <div class="webhooks">
          <h4>Webhooks</h4>
          <div>Bill CREATE</div>
        </div>
      requestBody:
        description: |
          JSON body to create new Bill

          One of `[Vendor.name, VendorId]` is Required
          One of `[Location.id, LocationId]` is Required
          One of `[APAccount.number, APAccountId]` is Required
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillsCreateBillRequest'
      responses:
        '201':
          description: Bill Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillsCreateBillResponse'
  /bills/lines:
    get:
      tags:
        - Bills
      summary: Line Search
      operationId: Bills_searchLines
      description: |
        | Field       | Filterable | Sortable |
        |---------------------|:--:|:--:|
        |_id                     | ✅ | ✅ |
        |idx                     | ✅ | ✅ |   
        |description             | ✅ | ✅ |   
        |amount                  | ✅ | ✅ |   
        |quantity                | ✅ | ✅ |   
        |taxAmount               | ✅ | ✅ |   
        |createdAt               | ✅ | ✅ |   
        |updatedAt               | ✅ | ✅ |   
        |BillId                  | ✅ | ❌ |   
        |Bill.invoiceNumber      | ✅ | ✅ |   
        |Bill.status             | ✅ | ✅ |
        |Bill.approvalStatus     | ✅ | ✅ |
        |Bill.paymentStatus      | ✅ | ✅ |   
        |Bill.currency           | ✅ | ✅ |   
        |Bill.description        | ✅ | ✅ |   
        |Bill.invoiceDate        | ✅ | ✅ |   
        |Bill.postingDate        | ✅ | ✅ |   
        |Bill.dueDate            | ✅ | ✅ |   
        |Bill.customFields       | ✅ | ❌ |   
        |Bill.createdAt          | ✅ | ✅ |   
        |Bill.updatedAt          | ✅ | ✅ |  
        |Bill.VendorId           | ✅ | ❌ |   
        |Bill.APAccountId        | ✅ | ❌ |   
        |Bill.LocationId         | ✅ | ❌ |   
        |Bill.ICLocationId       | ✅ | ❌ |   
        |APAccount.number        | ❌ | ✅ |   
        |BillAccount.number      | ❌ | ✅ |   
        |LedgerAccountId         | ✅ | ❌ |   
        |LedgerAccount.number    | ❌ | ✅ |   
        |Vendor.name             | ❌ | ✅ |   
        |Vendor.is1099           | ✅ | ✅ |   
        |Location.name           | ❌ | ✅ |   
        |ICLocation.name         | ❌ | ✅ |   
        |TaxCodeId               | ✅ | ❌ |   
        |TaxCode.code            | ❌ | ✅ |   
        |ItemId                  | ✅ | ❌ |   
        |Item.name               | ❌ | ✅ |   
        |Item.salePrice          | ✅ | ✅ |   
        |Item.purchasePrice      | ✅ | ✅ |   
        |Custom1Id               | ✅ | ❌ |   
        |Custom2Id               | ✅ | ❌ |   
        |Custom3Id               | ✅ | ❌ |   
        |CostCenterId            | ✅ | ❌ |   
        |CostCenter.id           | ❌ | ✅ |   
        |ProductId               | ✅ | ❌ |   
        |Product.id              | ❌ | ✅ |   
        |JobId                   | ✅ | ❌ |   
        |Job.number              | ❌ | ✅ |   
      parameters:
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/filterType'
        - $ref: '#/components/parameters/cursor'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/LocationId'
        - description: Order to return results in. ex "date:desc"
          in: query
          name: order
          schema:
            type: string
            default: Bill.invoiceNumber:ASC
        - description: |
            Filter by credit status of the Bill.
            Operates as follows:
              - If 'credit' is false, lines from Bills that have 'Bill.amount' greater than or equal to zero will be returned
              - If 'credit' is true, lines from Bills that have 'Bill.amount' less than zero will be returned
              - If 'credit' is not provided, all lines will be returned
          in: query
          name: credit
          schema:
            type: boolean
      responses:
        '200':
          description: List of Bill Lines
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillsSearchLinesResponse'
  /bills/unpaid:
    get:
      tags:
        - Bills
      summary: Unpaid Bills
      operationId: Bills_getUnpaid
      description: >
        This endpoint returns unpaid bills/credits.


        The parameters of this endpoint are the same as for [Bills
        Search](https://api-docs.softledger.com/)


        The following parameters are also supported in addition to the ones
        listed in [Bills Search](https://api-docs.softledger.com/)
      parameters:
        - description: |
            Provide this to only show unpaid bills in the specified currency.

            This parameter is optional.
          in: query
          name: filterCurrency
          schema:
            type: string
        - description: >
            Ref: "Location"._id


            Provide this to only show unpaid bills from the specified location.


            Bills from child locations of the provided location are not
            included.


            This parameter is optional.
          in: query
          name: filterLocationId
          schema:
            type: string
            format: number
      responses:
        '200':
          description: List of Bills
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillsGetUnpaidResponse'
  /bills/{id}/approve:
    put:
      tags:
        - Bills
      summary: Approve
      operationId: Bills_approveBill
      description: |
        Approve Bill

        <div class="webhooks">
          <h4>Webhooks</h4>
          <div>Bill APPROVE</div>
        </div>
      parameters:
        - description: Bill._id
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: no content success
  /bills/count:
    get:
      tags:
        - Bills
      summary: Count
      operationId: Bills_countItems
      description: >
        The same filters as [Search](https://api-docs.softledger.com/) can be
        used here.
      parameters:
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/filterType'
        - $ref: '#/components/parameters/LocationId'
        - description: >
            If true, only returns AP Credits i.e. bills with a negative amount.


            If false or not specified, only returns bills with a positive
            amount.
          in: query
          name: credit
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Count response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CountResponse'
  /bills/lines/count:
    get:
      tags:
        - Bills
      summary: Line Count
      operationId: Bills_getLineCount
      description: >
        The same filters as [Search](https://api-docs.softledger.com/) can be
        used here.
      parameters:
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/filterType'
        - $ref: '#/components/parameters/LocationId'
        - description: |
            Filter by credit status of the Bill.
            Operates as follows:
              - If 'credit' is false, lines from Bills that have 'Bill.amount' greater than or equal to zero will be returned
              - If 'credit' is true, lines from Bills that have 'Bill.amount' less than zero will be returned
              - If 'credit' is not provided, all lines will be returned
          in: query
          name: credit
          schema:
            type: boolean
      responses:
        '200':
          description: Count response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CountResponse'
  /bills/count/unpaid:
    get:
      tags:
        - Bills
      summary: Count Unpaid
      operationId: Bills_countUnpaid
      description: >
        The same filters as [Search](https://api-docs.softledger.com/) can be
        used here.
      parameters:
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/filterType'
        - $ref: '#/components/parameters/LocationId'
        - description: |
            Provide this to only show unpaid bills in the specified currency.

            This parameter is optional.
          in: query
          name: filterCurrency
          schema:
            type: string
        - description: >
            Ref: "Location"._id


            Provide this to only show unpaid bills from the specified location.


            Bills from child locations of the provided location are not
            included.


            This parameter is optional.
          in: query
          name: filterLocationId
          schema:
            type: string
            format: number
      responses:
        '200':
          description: Count response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CountResponse'
  /bills/{id}/line:
    post:
      tags:
        - Bills
      summary: Create Line
      operationId: Bills_createLineItem
      description: |
        creates a new Bill Line

        <div class="webhooks">
          <h4>Webhooks</h4>
          <div>BillLineItem CREATE</div>
        </div>
      parameters:
        - description: Bill._id
          in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillsCreateLineItemRequest'
      responses:
        '201':
          description: Bill Line created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillsCreateLineItemResponse'
  /bills/{id}:
    delete:
      tags:
        - Bills
      summary: Delete
      operationId: Bills_deleteOneBill
      description: |
        Delete one Bill

        <div class="webhooks">
          <h4>Webhooks</h4>
          <div>Bill DELETE</div>
        </div>
      parameters:
        - description: Bill Id
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '204':
          description: no content success
    get:
      tags:
        - Bills
      summary: One
      operationId: Bills_getOne
      description: Get one Bill
      parameters:
        - description: Bill._id
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: One Bill
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillsGetOneResponse'
    put:
      tags:
        - Bills
      summary: Update
      operationId: Bills_updateOneBill
      description: |
        Update One Bill

        <div class="webhooks">
          <h4>Webhooks</h4>
          <div>Bill DELETE</div>
        </div>
      parameters:
        - description: Bill Id
          in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        description: |
          JSON body containing key and values to update

          Can only update an bill with "created" status
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillsUpdateOneBillRequest'
      responses:
        '200':
          description: Updated Bill
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillsUpdateOneBillResponse'
  /bills/line/{id}:
    delete:
      tags:
        - Bills
      summary: Delete Line
      operationId: Bills_deleteLine
      description: |
        Deletes an Bill Line

        Can only delete a line from an unapproved bill

        <div class="webhooks">
          <h4>Webhooks</h4>
          <div>BillLineItem DELETE</div>
        </div>
      parameters:
        - description: BillLine._id
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '204':
          description: no content success
    put:
      tags:
        - Bills
      summary: Update Line
      operationId: Bills_updateLineItem
      description: |
        Update a Bill Line

        <div class="webhooks">
          <h4>Webhooks</h4>
          <div>BillLineItem UPDATE</div>
        </div>
      parameters:
        - description: BillLineItem._id
          in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillsUpdateLineItemRequest'
      responses:
        '200':
          description: Bill Line
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillsUpdateLineItemResponse'
  /bills/{id}/payments:
    get:
      tags:
        - Bills
      summary: Payments
      operationId: Bills_getPayments
      description: >
        This endpoint returns only payments for the specified bill.

        The response and parameters of this endpoint are the same as for
        [Payments Search](https://api-docs.softledger.com/)
      parameters:
        - description: Bill._id
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: List of Payments
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentList'
  /bills/{id}/void:
    put:
      tags:
        - Bills
      summary: Void
      operationId: Bills_voidBill
      description: |
        Void Bill

        <div class="webhooks">
          <h4>Webhooks</h4>
          <div>Bill VOID</div>
        </div>
      parameters:
        - description: Bill._id
          in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        description: |
          Bills with linked payments cannot be voided

          Bills in created or voided status cannot be voided
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillsVoidBillRequest'
      responses:
        '200':
          description: no content success
  /cash-receipts:
    get:
      tags:
        - Cash Receipts
      summary: Search
      operationId: CashReceipts_searchSortable
      description: |
        | Field       | Filterable | Sortable |
        |---------------------|:--:|:--:|
        |_id                     | ✅ | ✅ |
        |number                  | ✅ | ✅ |
        |externalId              | ✅ | ✅ |
        |type                    | ✅ | ✅ |
        |amount                  | ✅ | ✅ |
        |unused                  | ✅ | ✅ |
        |description             | ✅ | ✅ |
        |currency                | ✅ | ✅ |
        |receiveDate             | ✅ | ✅ |
        |postingDate             | ✅ | ✅ |
        |status                  | ✅ | ✅ |
        |applyToInvoices         | ✅ | ❌ |
        |CustomerId              | ✅ | ❌ |
        |LedgerAccountId         | ✅ | ❌ |
        |UnappliedCashAccountId  | ✅ | ❌ |
        |LocationId              | ✅ | ❌ |
        |createdAt               | ✅ | ✅ |
        |updatedAt               | ✅ | ✅ |
      parameters:
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/filterType'
        - $ref: '#/components/parameters/cursor'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/LocationId'
        - description: Order to return results in. ex "date:desc"
          in: query
          name: order
          schema:
            type: string
            default: number:ASC
      responses:
        '200':
          description: List of Cash Receipts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CashReceiptsSearchSortableResponse'
    post:
      tags:
        - Cash Receipts
      summary: Create
      operationId: CashReceipts_createNew
      description: |
        Creates a new Cash Receipt

        <div class="webhooks">
          <h4>Webhooks</h4>
          <div>CashReceipt CREATE</div>
        </div>
      requestBody:
        description: >
          JSON body to create new Cash Receipt


          Only one of `[Customer.id, CustomerId]` can be set


          Only one of `[LedgerAccount.number, LedgerAccountId]` can be set


          Only one of `[Location.id, LocationId]` can be set


          Only one of `[UnappliedCashAccount.number, UnappliedCashAccountId]`
          can be set
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CashReceiptsCreateNewRequest'
      responses:
        '201':
          description: Cash Receipt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CashReceiptsCreateNewResponse'
  /cash-receipts/count:
    get:
      tags:
        - Cash Receipts
      summary: Count
      operationId: CashReceipts_getCount
      description: >
        The same filters as [Search](https://api-docs.softledger.com/) can be
        used here.
      parameters:
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/filterType'
        - $ref: '#/components/parameters/LocationId'
      responses:
        '200':
          description: Count response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CountResponse'
  /cash-receipts/{id}:
    delete:
      tags:
        - Cash Receipts
      summary: Delete
      operationId: CashReceipts_deleteOne
      description: |
        Delete one Cash Receipt

        Cannot delete if there are linked journal entries.

        <div class="webhooks">
          <h4>Webhooks</h4>
          <div>CashReceipt DELETE</div>
        </div>
      parameters:
        - description: Cash Receipt Id
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '204':
          description: no content success
    get:
      tags:
        - Cash Receipts
      summary: One
      operationId: CashReceipts_getOne
      description: Get one Cash Receipt
      parameters:
        - description: Cash Receipt Id
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: One Cash Receipt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CashReceiptsGetOneResponse'
    put:
      tags:
        - Cash Receipts
      summary: Update
      operationId: CashReceipts_updateOne
      description: |
        Update One Cash Receipt

        <div class="webhooks">
          <h4>Webhooks</h4>
          <div>CashReceipt UPDATE</div>
        </div>
      parameters:
        - description: Cash Receipt Id
          in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        description: >
          JSON body containing key and values to update


          Cannot update a Cash Receipt if an unapplied cash journal entry was
          created


          Only one of `[Customer.id, CustomerId]` can be set


          Only one of `[LedgerAccount.number, LedgerAccountId]` can be set


          Only one of `[Location.id, LocationId]` can be set
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CashReceiptsUpdateOneRequest'
      responses:
        '200':
          description: Updated Cash Receipt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CashReceiptsUpdateOneResponse'
  /cash-receipts/{id}/payments:
    get:
      tags:
        - Cash Receipts
      summary: Payments
      operationId: CashReceipts_getPayments
      description: >
        This endpoint returns only payments for the specified cash receipt.

        The response and parameters of this endpoint are the same as for
        [Payments Search](https://api-docs.softledger.com/)
      parameters:
        - description: CashReceipt._id
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: List of Payments
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentList'
  /cash-receipts/{id}/void:
    put:
      tags:
        - Cash Receipts
      summary: Void
      operationId: CashReceipts_voidOne
      description: |
        Void one Cash Receipt

        Voided cash receipts with journals will post a voided journal

        Cannot void if there are any unvoided payments linked

        <div class="webhooks">
          <h4>Webhooks</h4>
          <div>CashReceipt VOID</div>
        </div>
      parameters:
        - description: Cash Receipt Id
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: no content success
  /coins:
    get:
      tags:
        - Coins
      summary: Search
      operationId: Coins_list
      description: |
        | Field       | Filterable | Sortable |
        |---------------------|:--:|:--:|
        |_id                     | ✅ | ✅ |
        |symbol                  | ✅ | ✅ |
        |name                    | ✅ | ✅ |
        |impair                  | ✅ | ✅ |
        |hidden                  | ✅ | ✅ |
        |isFiat                  | ✅ | ✅ |
        |rateSymbol              | ✅ | ✅ |
        |rateId                  | ❌ | ❌ |
        |rateSource              | ❌ | ❌ |
        |createdAt               | ✅ | ✅ |
        |updatedAt               | ✅ | ✅ |
      parameters:
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/filterType'
        - $ref: '#/components/parameters/cursor'
        - $ref: '#/components/parameters/limit'
        - description: Order to return results in. ex "date:desc"
          name: order
          in: query
          schema:
            type: string
            default: symbol:ASC
      responses:
        '200':
          description: List of Coins
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoinsListResponse'
    post:
      tags:
        - Coins
      summary: Create
      operationId: Coins_createNewCoin
      description: |
        Creates a new Coin

        <div class="webhooks">
          <h4>Webhooks</h4>
          <div>Coin CREATE</div>
          <div>LedgerAccount CREATE - four ledger accounts are created for each coin created</div>
        </div>
      requestBody:
        description: |
          JSON body to create new Coin
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CoinsCreateNewCoinRequest'
      responses:
        '201':
          description: Coin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoinsCreateNewCoinResponse'
  /coins/{CoinId}/crypto-transactions:
    get:
      tags:
        - Coins
      summary: Crypto Transactions
      operationId: Coins_listCryptoTransactions
      description: |
        List of Coin Crypto Transactions. Not orderable.

        | Field       | Filterable |
        |---------------------|:--:|
        |_id                  | ✅ |
        |CostCenterId         | ✅ |
        |createdAt            | ✅ |
        |currency             | ✅ |
        |Custom1Id            | ✅ |
        |Custom2Id            | ✅ |
        |Custom3Id            | ✅ |
        |CustomerId           | ✅ |
        |externalId           | ✅ |
        |externalSource       | ✅ |
        |fCoinId              | ✅ |
        |fPrice               | ✅ |
        |fQty                 | ✅ |
        |fWalletId            | ✅ |
        |isJournalStale       | ✅ |
        |JobId                | ✅ |
        |JournalId            | ✅ |
        |Journal.number       | ✅ |
        |LedgerAccountId      | ✅ |
        |locked               | ✅ |
        |notes                | ✅ |
        |ProductId            | ✅ |
        |rCoinId              | ✅ |
        |reference            | ✅ |
        |rPrice               | ✅ |
        |rQty                 | ✅ |
        |rWalletId            | ✅ |
        |sCoinId              | ✅ |
        |sPrice               | ✅ |
        |sQty                 | ✅ |
        |sWalletId            | ✅ |
        |SystemJobId          | ✅ |
        |txHash               | ✅ |
        |type                 | ✅ |
        |updatedAt            | ✅ |
        |VendorId             | ✅ |
      parameters:
        - description: Coin._id
          in: path
          name: CoinId
          schema:
            type: string
          required: true
        - description: |
            Wallet._id
            Limits results to transactions that involve the specified wallet
          in: query
          name: walletId
          schema:
            type: string
          required: false
        - description: >-
            Filters for Wallets (Receive, Sent, Fee) in the specified location.
            Defaults to Global Location when not set.
          in: query
          name: LocationId
          schema:
            type: string
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/filterType'
        - $ref: '#/components/parameters/cursor'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: List of Coin Crypto Transactions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoinsListCryptoTransactionsResponse'
  /coins/{CoinId}/summary:
    get:
      tags:
        - Coins
      summary: Id Summary
      operationId: Coins_getSummaryById
      description: |
        List of Coins with balance details by wallet

        | Field       | Filterable | Orderable|
        |---------------------|:--:|:--:|
        |_id                  | ✅ | ✅ |
        |name                 | ✅ | ✅ |
        |rate                 | ❌ | ❌ |
        |value                | ❌ | ❌ |
        |gainLoss             | ❌ | ❌ |
        |isFiat               | ❌ | ❌ |
        |rateSymbol           | ❌ | ❌ |
        |custom               | ❌ | ❌ |
        |impair               | ❌ | ❌ |
        |quantity             | ❌ | ❌ |
        |totalCostBasis       | ❌ | ❌ |
      parameters:
        - description: Coin._id
          in: path
          name: CoinId
          schema:
            type: string
          required: true
        - description: exclude zero balance coins
          in: query
          name: hideZero
          schema:
            type: boolean
        - description: date to filter by. defaults to "now" ISO DateTime
          in: query
          name: date
          schema:
            type: string
            format: date-time
        - description: >-
            Filters for Wallets (Receive, Sent, Fee) in the specified location.
            Defaults to Global Location when not set.
          in: query
          name: LocationId
          schema:
            type: string
        - description: >-
            True = match on the Location & its children. False = match only
            wallets in this location.
          in: query
          name: consolidated
          schema:
            type: boolean
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/filterType'
        - $ref: '#/components/parameters/cursor'
        - $ref: '#/components/parameters/limit'
        - description: Order to return results in. ex "date:desc"
          in: query
          name: order
          schema:
            type: string
            default: name:ASC
      responses:
        '200':
          description: List of Crypto Transactions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoinsGetSummaryByIdResponse'
  /coins/{CoinId}/crypto-transactions/count:
    get:
      tags:
        - Coins
      summary: Count
      operationId: Coins_countCryptoTransactions
      description: >
        Returns a count of transactions based on the passed filters for a single
        coin. 

        If a significantly large amount of transactions, it is possible an
        estimated value will be returned.


        See /crypto-transactions/coin/search for filterable fields.
      parameters:
        - description: Coin._id value
          in: path
          name: CoinId
          required: true
          schema:
            type: string
        - description: >-
            Filters for Wallets (Receive, Sent, Fee) in the specified location.
            Defaults to Global Location when not set.
          in: query
          name: LocationId
          schema:
            type: string
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/filterType'
      responses:
        '200':
          description: Count of transactions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoinsCountCryptoTransactionsResponse'
  /coins/{id}:
    delete:
      tags:
        - Coins
      summary: Delete
      operationId: Coins_deleteCoin
      description: |
        Delete one Coin

        <div class="webhooks">
          <h4>Webhooks</h4>
          <div>Coin DELETE</div>
        </div>
      parameters:
        - description: Coin Id
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '204':
          description: no content success
    get:
      tags:
        - Coins
      summary: One
      operationId: Coins_getById
      description: Get one Coin
      parameters:
        - description: Coin Id
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: One Coin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoinsGetByIdResponse'
    put:
      tags:
        - Coins
      summary: Update
      operationId: Coins_updateOneCoin
      description: |
        Update One Coin

        <div class="webhooks">
          <h4>Webhooks</h4>
          <div>Coin UPDATE</div>
        </div>
      parameters:
        - description: Coin Id
          in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        description: |
          JSON body containing key and values to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CoinsUpdateOneCoinRequest'
      responses:
        '200':
          description: Updated Coin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoinsUpdateOneCoinResponse'
  /coins/list/{rateId}:
    get:
      tags:
        - Coins
      summary: Known Coin
      operationId: Coins_getByRateId
      description: Returns Known Coin by rateId
      parameters:
        - description: RateId for the Coin
          in: path
          name: rateId
          schema:
            type: string
      responses:
        '200':
          description: Known Coin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoinsGetByRateIdResponse'
  /coins/list:
    get:
      tags:
        - Coins
      summary: Known Coins
      operationId: Coins_getList
      description: >
        Returns the 100 coins of the list of coins that SoftLedger can provide
        automatic rates for ordered by rank ascending.

        To see more, filter by symbol or name.
      parameters:
        - description: Case Insensitive filter for symbol or name of coin
          in: query
          name: filter
          schema:
            type: string
      responses:
        '200':
          description: List of Known Coins
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoinsGetListResponse'
  /coins/{id}/rate:
    get:
      tags:
        - Coins
      summary: Coin Rate
      operationId: Coins_getRate
      description: >
        Returns the 'open' rate of the coin in the for the passed date in the
        fiat currency.
      parameters:
        - description: |
            _id of Coin to get rate for
            Ref: Coin._id
          in: path
          name: id
          required: true
          schema:
            type: string
        - description: Date to provide rate on
          in: query
          name: date
          required: true
          schema:
            type: string
            format: date
        - description: |
            Fiat currency to show rate in
            Ref: Currency.code
          in: query
          name: fiat
          schema:
            type: string
            default: USD
      responses:
        '200':
          description: Rate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoinsGetRateResponse'
  /coins/summary:
    get:
      tags:
        - Coins
      summary: Summary
      operationId: Coins_getSummaryCoins
      description: |
        Returns a list of coins with balance descriptions

        | Field       | Filterable | Orderable |
        |---------------------|:--:|:--:|
        |_id                  | ✅ | ✅ |
        |name                 | ✅ | ✅ |
        |symbol               | ✅ | ✅ |
        |rate                 | ❌ | ❌ |
        |value                | ❌ | ❌ |
        |gainLoss             | ❌ | ❌ |
        |isFiat               | ❌ | ❌ |
        |rateSymbol           | ✅ | ✅ |
        |custom               | ❌ | ❌ |
        |impair               | ❌ | ❌ |
        |quantity             | ❌ | ❌ |
        |totalCostBasis       | ❌ | ❌ |
      parameters:
        - description: include hidden coins
          in: query
          name: showHidden
          schema:
            type: boolean
        - description: exclude zero balance coins
          in: query
          name: hideZero
          schema:
            type: boolean
        - description: date to filter by. defaults to "now" ISO Date
          in: query
          name: date
          schema:
            type: string
            format: date
        - description: >-
            Filters for Wallets (Receive, Sent, Fee) in the specified location.
            Defaults to Global Location when not set.
          in: query
          name: LocationId
          schema:
            type: string
        - description: >-
            True = match on the Location & its children. False = match only
            wallets in this location.
          in: query
          name: consolidated
          schema:
            type: boolean
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/filterType'
        - $ref: '#/components/parameters/cursor'
        - $ref: '#/components/parameters/limit'
        - description: Order to return results in. ex "date:desc"
          in: query
          name: order
          schema:
            type: string
            default: name:ASC
      responses:
        '200':
          description: List of Crypto Transactions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoinsGetSummaryCoinsResponse'
  /consolidation-rates:
    get:
      tags:
        - Consolidation Rates
      summary: Search
      operationId: ConsolidationRates_searchFilterableSortable
      description: |
        | Field       | Filterable | Sortable |
        |---------------------|:--:|:--:|
        |_id                     | ✅ | ✅ |
        |AccountingPeriodId      | ✅ | ❌ |
        |ChildId                 | ✅ | ❌ |
        |ParentId                | ✅ | ❌ |
        |AccountingPeriod.end    | ❌ | ✅ |
        |createdAt               | ✅ | ✅ |
        |updatedAt               | ✅ | ✅ |
      parameters:
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/filterType'
        - $ref: '#/components/parameters/cursor'
        - $ref: '#/components/parameters/limit'
        - description: Order to return results in. ex "date:desc"
          in: query
          name: order
          schema:
            type: string
            default: number:ASC
        - description: |
            Will include data from this Parent Location and its children only
          in: query
          name: LocationId
          schema:
            description: 'Ref: Location._id'
            type: number
      responses:
        '200':
          description: List of Cash Receipts
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ConsolidationRatesSearchFilterableSortableResponse
    put:
      tags:
        - Consolidation Rates
      summary: Upsert
      operationId: ConsolidationRates_upsertRate
      description: |
        Upsert consolidation rates
      requestBody:
        description: |
          JSON body of consolidation rates to create or update

          One of ChildId or Child.id must be provided

          One of ParentId or Parent.id must be provided

          Parent.currency and Child.currency must be different
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConsolidationRatesUpsertRateRequest'
      responses:
        '200':
          description: consolidationRates
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsolidationRatesUpsertRateResponse'
  /consolidation-rates/{id}:
    get:
      tags:
        - Consolidation Rates
      summary: One
      operationId: ConsolidationRates_getRecord
      description: Gets one rate record.
      parameters:
        - description: ConsolidationRate._id
          in: path
          name: id
          required: true
          schema:
            type: string
        - description: >-
            Set this to true to return the system generated rate values for this
            record
          in: query
          name: system
          required: false
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Rate details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsolidationRatesGetRecordResponse'
  /consolidation-rates/populate:
    post:
      tags:
        - Consolidation Rates
      summary: Populate
      operationId: ConsolidationRates_populateRates
      description: |
        Populates consolidation rates
      requestBody:
        description: >
          JSON body of period to populate rates for


          Only missing Child/Parent rates will be populated for the period. 


          Safe to run multiple times for the same period and it will not
          overwrite your manually entered rates.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConsolidationRatesPopulateRatesRequest'
      responses:
        '200':
          description: no content success
  /consolidation-rates/{id}/reset:
    put:
      tags:
        - Consolidation Rates
      summary: Reset Rate
      operationId: ConsolidationRates_resetRate
      description: |
        Reset consolidation rate to system generated values

        This will overwrite any manually entered rates on this record.
      parameters:
        - description: ConsolidationRate._id
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Updated rate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsolidationRatesResetRateResponse'
  /contacts:
    get:
      tags:
        - Contacts
      summary: Search
      operationId: Contacts_searchFilterableSortable
      description: |
        | Field       | Filterable | Sortable |
        |---------------------|:--:|:--:|
        |_id            | ✅ | ✅ |
        |name           | ✅ | ✅ |
        |email          | ✅ | ❌ |
        |phone          | ✅ | ❌ |
        |isPrimary      | ✅ | ❌ |
        |createdAt      | ✅ | ✅ |
        |updatedAt      | ✅ | ✅ |
        |CustomerId     | ✅ | ❌ |
        |VendorId       | ✅ | ❌ |
        |Customer.name  | ❌ | ✅ |
        |Vendor.name    | ❌ | ✅ |
      parameters:
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/filterType'
        - $ref: '#/components/parameters/cursor'
        - $ref: '#/components/parameters/limit'
        - description: Order to return results in. ex "date:desc"
          in: query
          name: order
          schema:
            type: string
            default: name:ASC
      responses:
        '200':
          description: List of Contacts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactsSearchFilterableSortableResponse'
    post:
      tags:
        - Contacts
      summary: Create
      operationId: Contacts_createNewContact
      description: |
        Creates a new Contact

        <div class="webhooks">
          <h4>Webhooks</h4>
          <div>Contact CREATE</div>
        </div>
      requestBody:
        description: >
          JSON body to create new Contact


          Only one of `[CustomerId, VendorId, Customer.name, Vendor.name]` can
          be set
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactsCreateNewContactRequest'
      responses:
        '201':
          description: Contact
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactsCreateNewContactResponse'
  /contacts/count:
    get:
      tags:
        - Contacts
      summary: Count
      operationId: Contacts_getCount
      description: >
        The same filters as [Search](https://api-docs.softledger.com/) can be
        used here.
      parameters:
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/filterType'
      responses:
        '200':
          description: Count response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CountResponse'
  /contacts/{id}:
    delete:
      tags:
        - Contacts
      summary: Delete
      operationId: Contacts_deleteOneContact
      description: |
        Delete one Contact

        <div class="webhooks">
          <h4>Webhooks</h4>
          <div>Contact DELETE</div>
        </div>
      parameters:
        - description: Contact Id
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '204':
          description: no content success
    get:
      tags:
        - Contacts
      summary: One
      operationId: Contacts_getById
      description: Get one Contact
      parameters:
        - description: Contact Id
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: One Contact
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactsGetByIdResponse'
    put:
      tags:
        - Contacts
      summary: Update
      operationId: Contacts_updateOneContact
      description: |
        Update One Contact

        <div class="webhooks">
          <h4>Webhooks</h4>
          <div>Contact UPDATE</div>
        </div>
      parameters:
        - description: Contact Id
          in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        description: JSON body containing key and values to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactsUpdateOneContactRequest'
      responses:
        '200':
          description: Updated Contact
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactsUpdateOneContactResponse'
  /cost-centers:
    get:
      tags:
        - Cost Centers
      summary: Search
      operationId: CostCenters_searchFilterableSortable
      description: |
        | Field       | Filterable | Sortable |
        |---------------------|:--:|:--:|
        |_id                  | ✅ | ✅ |
        |id                   | ✅ | ✅ |
        |name                 | ✅ | ✅ |
        |description          | ✅ | ✅ |
        |inactive             | ✅ | ❌ |
        |createdAt            | ✅ | ✅ |
        |updatedAt            | ✅ | ✅ |
      parameters:
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/filterType'
        - $ref: '#/components/parameters/cursor'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/status'
        - description: Order to return results in. ex "date:desc"
          in: query
          name: order
          schema:
            type: string
            default: id:ASC
      responses:
        '200':
          description: List of Cost Centers
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/CostCentersSearchFilterableSortableResponse
    post:
      tags:
        - Cost Centers
      summary: Create
      operationId: CostCenters_createCostCenter
      description: |
        Create Cost Center

        <div class="webhooks">
          <h4>Webhooks</h4>
          <div>CostCenter CREATE</div>
        </div>
      requestBody:
        description: JSON body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CostCentersCreateCostCenterRequest'
      responses:
        '201':
          description: Created Cost Center
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CostCentersCreateCostCenterResponse'
  /cost-centers/count:
    get:
      tags:
        - Cost Centers
      summary: Count
      operationId: CostCenters_countGet
      description: >
        The same filters as [Search](https://api-docs.softledger.com/) can be
        used here.
      parameters:
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/filterType'
        - $ref: '#/components/parameters/status'
      responses:
        '200':
          description: Count response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CountResponse'
  /cost-centers/{id}:
    delete:
      tags:
        - Cost Centers
      summary: Delete
      operationId: CostCenters_deleteOne
      description: |
        Delete one Cost Center

        <div class="webhooks">
          <h4>Webhooks</h4>
          <div>CostCenter DELETE</div>
        </div>
      parameters:
        - description: Cost Center Id
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '204':
          description: no content success
    get:
      tags:
        - Cost Centers
      summary: One
      operationId: CostCenters_getOne
      description: Get one Cost Center
      parameters:
        - description: Cost Center Id
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: One Cost Center
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CostCentersGetOneResponse'
    put:
      tags:
        - Cost Centers
      summary: Update
      operationId: CostCenters_updateWebhook
      description: |
        Update Cost Center

        <div class="webhooks">
          <h4>Webhooks</h4>
          <div>CostCenter UPDATE</div>
        </div>
      parameters:
        - description: Cost Center Id
          in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        description: JSON body containing key and values to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CostCentersUpdateWebhookRequest'
      responses:
        '200':
          description: Updated Cost Center
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CostCentersUpdateWebhookResponse'
  /crypto-transactions/cost-basis:
    delete:
      tags:
        - Crypto Transactions
      summary: Cost Basis
      operationId: CryptoTransactions_cancelCostBasisProcess
      description: Cancel running costbasis process
      responses:
        '204':
          description: No content
    get:
      tags:
        - Crypto Transactions
      summary: Cost Basis
      operationId: CryptoTransactions_getNextCostBasis
      description: Get next date cost basis will run from
      responses:
        '200':
          description: Next Cost Basis Date
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/CryptoTransactionsGetNextCostBasisResponse
    post:
      tags:
        - Crypto Transactions
      summary: Cost Basis
      operationId: CryptoTransactions_startCostBasisProcess
      description: Start costbasis process
      responses:
        '202':
          description: Accepted
  /crypto-transactions/{id}/layers:
    get:
      tags:
        - Crypto Transactions
      summary: Cost Layers
      operationId: CryptoTransactions_listCostLayersDescending
      description: |
        Returns a list of cost layers in descending order
      parameters:
        - description: Transaction id to get cost layers for
          in: path
          name: id
          required: true
          schema:
            type: string
        - description: Type of cost layers to return
          in: query
          name: type
          required: true
          schema:
            description: 's: Sent Cost Layers, f: Fee Cost Layers'
            type: string
            enum:
              - s
              - f
        - $ref: '#/components/parameters/cursor'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: Count of transactions
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/CryptoTransactionsListCostLayersDescendingResponse
  /crypto-transactions/count:
    get:
      tags:
        - Crypto Transactions
      summary: Count
      operationId: CryptoTransactions_getTransactionsCount
      description: >
        Returns a count of transactions based on the passed filters. 

        If a significantly large amount of transactions, it is possible an
        estimated value will be returned.


        See /crypto-transactions/search for filterable fields.
      parameters:
        - description: |
            Coin._id
            Limits results to the specified coin
          in: query
          name: coinId
          schema:
            type: string
        - description: |
            Wallet._id
            Limits results to the specified wallet
          in: query
          name: walletId
          schema:
            type: string
        - description: >-
            Filters for Wallets (Receive, Sent, Fee) in the specified location.
            Defaults to Global Location when not set.
          in: query
          name: LocationId
          schema:
            type: string
        - description: Only returns Crypto Transactions that have unused cost layers.
          in: query
          name: costLayers
          schema:
            type: boolean
            default: false
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/filterType'
      responses:
        '200':
          description: Count of transactions
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/CryptoTransactionsGetTransactionsCountResponse
  /crypto-transactions:
    post:
      tags:
        - Crypto Transactions
      summary: Create
      operationId: CryptoTransactions_createNewTransaction
      description: >
        Create new Crypto Transaction. See below for respective tables 

        containing required fields and fields that are not allowed for 

        each type of transaction.


        | Field           | Deposit | Withdrawal | Trade | Transfer |

        | --------------- |:-------:|:----------:|:-----:|:--------:|

        | rCoinId         |   ✅    |     ❌     |   ✅  |    ✅    |

        | rWalletId       |   ✅    |     ❌     |   ✅  |    ✅    |

        | rQty            |   ✅    |     ❌     |   ✅  |    ✅    |

        | rPrice          |   ✔️     |     ❌     |   ✔️   |    ❌    |

        | sCoinId         |   ❌    |     ✅     |   ✅  |    ✅    |

        | sWalletId       |   ❌    |     ✅     |   ✅  |    ✅    |

        | sQty            |   ❌    |     ✔️      |   ✅  |    ✅    |

        | sPrice          |   ❌    |     ✔️      |   --  |    ❌    |

        | LedgerAccountId |   ✅    |     ✅     |   ❌  |    ❌    |

        | Fee Fields      |   ✔️     |     ✔️      |   ✔️   |    ✔️     |


        ✅ - Required &nbsp;&nbsp; ❌ - Not Allowed &nbsp;&nbsp;   ✔️ - Optional


        __Price fields will pull from rate provider if set to null__


        __sPrice is Ignored for Trades as is autocalculated from rPrice__


        __sQty may be set to 0 if fQty > 0, this allows "fee only"
        transactions__


        | Fee Fields      | | 

        | --------------- |:---:|

        | fCoinId         | ✅  |  

        | fWalletId       | ✅  |  

        | fQty            | ✅  |   

        | fPrice          |  ✔️  |  


        __Setting fCoinId indicates that a fee should be added__


        <div class="webhooks">
          <h4>Webhooks</h4>
          <div>CryptoTransaction CREATE</div>
        </div>
      requestBody:
        description: JSON body to create new Crypto Transaction
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/CryptoTransactionsCreateNewTransactionRequest
      responses:
        '201':
          description: Created Crypto Transaction
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/CryptoTransactionsCreateNewTransactionResponse
    get:
      tags:
        - Crypto Transactions
      summary: Search
      operationId: CryptoTransactions_searchFilterableSortable
      description: |
        | Field       | Filterable | Sortable |
        |---------------------|:--:|:--:|
        |_id                  | ✅ | ✅ |
        |CostCenter.id        | ❌ | ✅ |
        |CostCenterId         | ✅ | ❌ |
        |createdAt            | ✅ | ✅ |
        |currency             | ✅ | ✅ |
        |Custom1Id            | ✅ | ❌ |
        |Custom1.id           | ❌ | ✅ |
        |Custom2Id            | ✅ | ❌ |
        |Custom2.id           | ❌ | ✅ |
        |Custom3Id            | ✅ | ❌ |
        |Custom3.id           | ❌ | ✅ |
        |Customer.id          | ❌ | ✅ |
        |CustomerId           | ✅ | ❌ |
        |date                 | ✅ | ✅ |
        |externalId           | ✅ | ✅ |
        |externalSource       | ✅ | ✅ |
        |fCoin.symbol         | ❌ | ✅ |
        |fCoinId              | ✅ | ❌ |
        |fPrice               | ✅ | ✅ |
        |fQty                 | ✅ | ✅ |
        |fWallet.name         | ❌ | ✅ |
        |fWalletId            | ✅ | ❌ |
        |isJournalStale       | ✅ | ✅ |
        |Job.number           | ❌ | ✅ |
        |JobId                | ✅ | ❌ |
        |Journal.number       | ✅ | ✅ |
        |JournalId            | ✅ | ❌ |
        |LedgerAccount.number | ❌ | ✅ |
        |LedgerAccountId      | ✅ | ❌ |
        |locked               | ✅ | ✅ |
        |notes                | ✅ | ✅ |
        |Product.id           | ❌ | ✅ |
        |ProductId            | ✅ | ❌ |
        |rCoin.symbol         | ❌ | ✅ |
        |rCoinId              | ✅ | ❌ |
        |reference            | ✅ | ✅ |
        |rPrice               | ✅ | ✅ |
        |rQty                 | ✅ | ✅ |
        |rWallet.name         | ❌ | ✅ |
        |rWalletId            | ✅ | ❌ |
        |sCoin.symbol         | ❌ | ✅ |
        |sCoinId              | ✅ | ❌ |
        |sPrice               | ✅ | ✅ |
        |sQty                 | ✅ | ✅ |
        |sWallet.name         | ❌ | ✅ |
        |sWalletId            | ✅ | ❌ |
        |SystemJobId          | ✅ | ✅ |
        |txHash               | ✅ | ✅ |
        |type                 | ✅ | ✅ |
        |updatedAt            | ✅ | ✅ |
        |Vendor.id            | ❌ | ✅ |
        |VendorId             | ✅ | ❌ |
      parameters:
        - description: |
            Coin._id
            Limits results to the specified coin
          in: query
          name: coinId
          schema:
            type: string
        - description: |
            Wallet._id
            Limits results to the specified wallet
[...]
