openapi: 3.0.0
info:
  title: space-invoices-api
  description: ''
  version: 2.0.0
  contact:
    name: Space Invoices Inc
  x-konfig-ignore:
    object-with-no-properties: true
servers:
  - url: https://api.spaceinvoices.com
tags:
  - name: Organization
  - name: Document
  - name: Account
  - name: AtcudSeries
  - name: Unit
  - name: PriceList
  - name: Item
  - name: Tax
  - name: Shopify
  - name: Client
  - name: Subscription
  - name: AccountOrganization
  - name: Recurrence
  - name: Warehouse
  - name: Webhook
  - name: Thrivecart
  - name: Payment
  - name: Category
  - name: DocumentCategory
  - name: Magento1
  - name: Woocommerce
  - name: CustomIntegration
  - name: Bokun
  - name: Shopamine
  - name: AtcudSeriesController
  - name: InvoiceController
  - name: Stripe
  - name: TicketingHub
  - name: Default
  - name: WhiteLabel
  - name: BusinessPremise
  - name: HealthController
  - name: OrganizationMerchantController
  - name: OrganizationPaymentIntentController
  - name: AccountPaymentProcessingController
  - name: AccountStripeConnectController
  - name: Company
  - name: Country
  - name: Price
  - name: Order
  - name: AccountController
  - name: OrganizationStripeConnectAccountController
  - name: Currency
  - name: Plan
  - name: container
  - name: Message
  - name: Tracking
  - name: ElectronicDevice
  - name: Certificate
  - name: GeoIP
  - name: FileMeta
  - name: Typless
  - name: Sendgrid
  - name: Log
  - name: AWSSES
  - name: DocumentPaymentIntentController
  - name: DocumentStripeConnectPaymentIntentController
  - name: FatturaPaController
  - name: OrganizationMerchantLinkController
  - name: SaftPtController
  - name: OrganizationStripeConnectAccountLinkController
  - name: OrganizationTransactionController
  - name: PaymentProcessingController
  - name: StripeConnectAccountController
  - name: StripeConnectController
paths:
  /live:
    get:
      tags:
        - HealthController
      operationId: HealthController_getStatus
      responses:
        '200':
          description: Health Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthControllerGetStatusResponse'
        '500':
          description: Health Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthControllerGetStatus500Response'
        '503':
          description: Health Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthControllerGetStatus503Response'
      x-controller-name: HealthController
      x-operation-name: live
  /ready:
    get:
      tags:
        - HealthController
      operationId: HealthController_getStatus
      responses:
        '200':
          description: Health Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthControllerGetStatus200Response'
        '500':
          description: Health Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthControllerGetStatus500Response'
        '503':
          description: Health Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthControllerGetStatus503Response'
      x-controller-name: HealthController
      x-operation-name: ready
  /v1/accounts/count:
    get:
      tags:
        - AccountController
      operationId: AccountController_getCount
      parameters:
        - name: where
          in: query
          content:
            application/json:
              schema:
                title: Account.WhereFilter
                type: object
                additionalProperties: true
                x-typescript-type: '@loopback/repository#Where<Account>'
      responses:
        '200':
          description: Count sub-Accounts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/loopback.Count'
      x-controller-name: AccountController
      x-operation-name: count
  /v1/accounts:
    get:
      tags:
        - AccountController
      operationId: AccountController_list
      parameters:
        - name: filter
          in: query
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account.Filter'
      responses:
        '200':
          description: Array of sub-Account model instances
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountControllerListResponse'
      x-controller-name: AccountController
      x-operation-name: find
  /v1/documents/{shareableId}/payment-intent:
    get:
      tags:
        - DocumentPaymentIntentController
      operationId: DocumentPaymentIntentController_getPaymentIntentByShareableId
      parameters:
        - name: shareableId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Payment Intent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentIntent'
      x-controller-name: DocumentPaymentIntentController
      x-operation-name: get
  /v1/documents/{shareableId}/stripe-connect/payment-intent:
    get:
      tags:
        - DocumentStripeConnectPaymentIntentController
      operationId: DocumentStripeConnectPaymentIntentController_getByShareableId
      parameters:
        - name: shareableId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Stripe Connect Payment Intent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StripeConnectPaymentIntent'
      x-controller-name: DocumentStripeConnectPaymentIntentController
      x-operation-name: get
  /v1/fattura-pa/webhooks:
    post:
      tags:
        - FatturaPaController
      operationId: FatturaPaController_createWebhooksSubscription
      requestBody:
        description: FatturaPaWebhook
        content:
          text/xml:
            schema:
              $ref: >-
                #/components/schemas/FatturaPaControllerCreateWebhooksSubscriptionRequest
        required: true
      responses:
        '200':
          description: Success response
          content:
            text/plain:
              schema:
                $ref: >-
                  #/components/schemas/FatturaPaControllerCreateWebhooksSubscriptionResponse
      x-controller-name: FatturaPaController
      x-operation-name: webhooks
  /v1/organizations/{organizationId}/atcud/get-active:
    post:
      tags:
        - AtcudSeriesController
      operationId: AtcudSeriesController_getActiveAtcud
      parameters:
        - name: organizationId
          in: path
          schema:
            type: string
          required: true
        - name: type
          in: query
          schema:
            type: string
      responses:
        '200':
          description: AtcudSeries model instance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AtcudSeriesWithRelations'
      x-controller-name: AtcudSeriesController
      x-operation-name: findActive
  /v1/organizations/{organizationId}/atcud/{id}:
    get:
      tags:
        - AtcudSeriesController
      operationId: AtcudSeriesController_getAtcudById
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
        - name: filter
          in: query
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AtcudSeries.Filter'
      responses:
        '200':
          description: AtcudSeries model instance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AtcudSeriesWithRelations'
      x-controller-name: AtcudSeriesController
      x-operation-name: findById
  /v1/organizations/{organizationId}/atcud:
    post:
      tags:
        - AtcudSeriesController
      operationId: AtcudSeriesController_createAtcud
      parameters:
        - name: organizationId
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewAtcudSeries'
        x-parameter-index: 1
      responses:
        '200':
          description: AtcudSeries model instance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AtcudSeries'
      x-controller-name: AtcudSeriesController
      x-operation-name: create
    get:
      tags:
        - AtcudSeriesController
      operationId: AtcudSeriesController_getByOrganization
      parameters:
        - name: filter
          in: query
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AtcudSeries.Filter1'
      responses:
        '200':
          description: Array of AtcudSeries model instances
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/AtcudSeriesControllerGetByOrganizationResponse
      x-controller-name: AtcudSeriesController
      x-operation-name: find
  /v1/organizations/{id}/merchant/link:
    get:
      tags:
        - OrganizationMerchantLinkController
      operationId: OrganizationMerchantLinkController_getMerchantLink
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Organization Payment Processing onboarding link
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/OrganizationMerchantLinkControllerGetMerchantLinkResponse
      x-controller-name: OrganizationMerchantLinkController
      x-operation-name: get
  /v1/organizations/{id}/merchant:
    post:
      tags:
        - OrganizationMerchantController
      operationId: OrganizationMerchantController_createMerchant
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewMerchantInOrganization'
        x-parameter-index: 1
      responses:
        '200':
          description: Merchant model instance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Merchant'
      x-controller-name: OrganizationMerchantController
      x-operation-name: create
    patch:
      tags:
        - OrganizationMerchantController
      operationId: OrganizationMerchantController_updateMerchantById
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
        - name: where
          in: query
          content:
            application/json:
              schema:
                title: Merchant.WhereFilter
                type: object
                additionalProperties: true
                x-typescript-type: '@loopback/repository#Where<Merchant>'
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/MerchantPartialExcluding_id-paymentProcessingId-merchantId-applicationId-organizationId-chargesEnabled-createdAt-updatedAt_
        x-parameter-index: 1
      responses:
        '200':
          description: Organization.Merchant PATCH success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/loopback.Count'
      x-controller-name: OrganizationMerchantController
      x-operation-name: patch
    get:
      tags:
        - OrganizationMerchantController
      operationId: OrganizationMerchantController_getById
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
        - name: filter
          in: query
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      responses:
        '200':
          description: Organization has one Merchant
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Merchant'
      x-controller-name: OrganizationMerchantController
      x-operation-name: get
  /v1/organizations/{id}/payment-intents/authorized:
    post:
      tags:
        - OrganizationPaymentIntentController
      operationId: OrganizationPaymentIntentController_createAuthorizedPaymentIntent
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/OrganizationPaymentIntentControllerCreateAuthorizedPaymentIntentRequest
        x-parameter-index: 1
      responses:
        '200':
          description: PaymentIntent model instance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentIntent'
      x-controller-name: OrganizationPaymentIntentController
      x-operation-name: createAuthorized
  /v1/organizations/{id}/payment-intents:
    post:
      tags:
        - OrganizationPaymentIntentController
      operationId: OrganizationPaymentIntentController_createPaymentIntent
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/OrganizationPaymentIntentControllerCreatePaymentIntentRequest
        x-parameter-index: 1
      responses:
        '200':
          description: PaymentIntent model instance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentIntent'
      x-controller-name: OrganizationPaymentIntentController
      x-operation-name: create
    get:
      tags:
        - OrganizationPaymentIntentController
      operationId: OrganizationPaymentIntentController_getPaymentIntents
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
        - name: filter
          in: query
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      responses:
        '200':
          description: Array of Organization has many PaymentIntent
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/OrganizationPaymentIntentControllerGetPaymentIntentsResponse
      x-controller-name: OrganizationPaymentIntentController
      x-operation-name: find
  /v1/organizations/{id}/saft-pt/report:
    get:
      tags:
        - SaftPtController
      operationId: SaftPtController_generateReportById
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
        - name: from
          in: query
          schema:
            type: string
            format: date
        - name: to
          in: query
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Return value of SaftPtController.generateSaftPt
      x-controller-name: SaftPtController
      x-operation-name: generateSaftPt
  /v1/organizations/{id}/stripe-connect/account/link:
    get:
      tags:
        - OrganizationStripeConnectAccountLinkController
      operationId: OrganizationStripeConnectAccountLinkController_getStripeLink
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Organization Stripe Connect Account onboarding link
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/OrganizationStripeConnectAccountLinkControllerGetStripeLinkResponse
      x-controller-name: OrganizationStripeConnectAccountLinkController
      x-operation-name: get
  /v1/organizations/{id}/stripe-connect/account:
    post:
      tags:
        - OrganizationStripeConnectAccountController
      operationId: OrganizationStripeConnectAccountController_createStripeAccount
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewStripeConnectAccountInOrganization'
        x-parameter-index: 1
      responses:
        '200':
          description: StripeConnectAccount model instance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StripeConnectAccount'
      x-controller-name: OrganizationStripeConnectAccountController
      x-operation-name: create
    get:
      tags:
        - OrganizationStripeConnectAccountController
      operationId: OrganizationStripeConnectAccountController_getById
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
        - name: filter
          in: query
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StripeConnect.Filter'
      responses:
        '200':
          description: Stripe Connect Account instance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StripeConnectAccount'
      x-controller-name: OrganizationStripeConnectAccountController
      x-operation-name: find
  /v1/organizations/{id}/transactions:
    get:
      tags:
        - OrganizationTransactionController
      operationId: OrganizationTransactionController_listById
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
        - name: filter
          in: query
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      responses:
        '200':
          description: Array of Organization has many Transaction
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/OrganizationTransactionControllerListByIdResponse
      x-controller-name: OrganizationTransactionController
      x-operation-name: find
  /v1/payment-processing/webhooks:
    post:
      tags:
        - PaymentProcessingController
      operationId: PaymentProcessingController_createWebhook
      requestBody:
        description: PaymentProcessingWebhook
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/PaymentProcessingControllerCreateWebhookRequest
        required: true
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/PaymentProcessingControllerCreateWebhookResponse
      x-controller-name: PaymentProcessingController
      x-operation-name: webhooks
  /v1/payment-processing:
    post:
      tags:
        - AccountPaymentProcessingController
      operationId: AccountPaymentProcessingController_createPaymentProcess
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewPaymentProcessingInAccount'
      responses:
        '200':
          description: PaymentProcessing model instance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentProcessing'
      x-controller-name: AccountPaymentProcessingController
      x-operation-name: create
    patch:
      tags:
        - AccountPaymentProcessingController
      operationId: AccountPaymentProcessingController_updatePaymentProcessing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchPaymentProcessingInAccount'
      responses:
        '204':
          description: No Content
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/AccountPaymentProcessingControllerUpdatePaymentProcessingResponse
      x-controller-name: AccountPaymentProcessingController
      x-operation-name: patch
    get:
      tags:
        - AccountPaymentProcessingController
      operationId: AccountPaymentProcessingController_getPaymentProcessing
      parameters:
        - name: filter
          in: query
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      responses:
        '200':
          description: PaymentProcessing model instance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentProcessing'
      x-controller-name: AccountPaymentProcessingController
      x-operation-name: get
  /v1/stripe-connect/accounts/{id}:
    patch:
      tags:
        - StripeConnectAccountController
      operationId: StripeConnectAccountController_updateById
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchStripeConnectAccount'
        x-parameter-index: 1
      responses:
        '204':
          description: No Content
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/StripeConnectAccountControllerUpdateByIdResponse
      x-controller-name: StripeConnectAccountController
      x-operation-name: updateById
  /v1/stripe-connect/{id}/webhooks:
    post:
      tags:
        - StripeConnectController
      operationId: StripeConnectController_createWebhooks
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
        - name: connect
          in: query
          schema:
            type: boolean
      requestBody:
        description: StripeConnectWebhook
        content:
          application/json:
            x-parser: raw
            schema:
              $ref: >-
                #/components/schemas/StripeConnectControllerCreateWebhooksRequest
        required: true
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/StripeConnectControllerCreateWebhooksResponse
      x-controller-name: StripeConnectController
      x-operation-name: webhooks
  /v1/stripe-connect:
    post:
      tags:
        - AccountStripeConnectController
      operationId: AccountStripeConnectController_createStripeConnect
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewStripeConnectInAccount'
      responses:
        '200':
          description: StripeConnect model instance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StripeConnect'
      x-controller-name: AccountStripeConnectController
      x-operation-name: create
    patch:
      tags:
        - AccountStripeConnectController
      operationId: AccountStripeConnectController_updateStripeConnect
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchStripeConnectInAccount'
      responses:
        '204':
          description: No Content
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/AccountStripeConnectControllerUpdateStripeConnectResponse
      x-controller-name: AccountStripeConnectController
      x-operation-name: patch
    get:
      tags:
        - AccountStripeConnectController
      operationId: AccountStripeConnectController_getStripeConnect
      parameters:
        - name: filter
          in: query
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      responses:
        '200':
          description: StripeConnect model instance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StripeConnect'
      x-controller-name: AccountStripeConnectController
      x-operation-name: get
  /v2/invoices/{id}:
    put:
      tags:
        - InvoiceController
      operationId: InvoiceController_updateById
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Invoice'
        x-parameter-index: 1
      responses:
        '204':
          description: No Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceControllerUpdateById204Response'
      x-controller-name: InvoiceController
      x-operation-name: replaceById
    patch:
      tags:
        - InvoiceController
      operationId: InvoiceController_updateById
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvoicePartial'
        x-parameter-index: 1
      responses:
        '204':
          description: No Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceControllerUpdateByIdResponse'
      x-controller-name: InvoiceController
      x-operation-name: updateById
    get:
      tags:
        - InvoiceController
      operationId: InvoiceController_getById
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
        - name: filter
          in: query
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice.Filter'
      responses:
        '200':
          description: Invoice model instance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceWithRelations'
      x-controller-name: InvoiceController
      x-operation-name: findById
    delete:
      tags:
        - InvoiceController
      operationId: InvoiceController_removeById
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '204':
          description: No Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceControllerRemoveByIdResponse'
      x-controller-name: InvoiceController
      x-operation-name: deleteById
  /:
    get:
      tags:
        - HealthController
      operationId: HealthController_getStatus
      responses:
        '200':
          description: Health Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthControllerGetStatus200Response'
        '500':
          description: Health Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthControllerGetStatus500Response'
        '503':
          description: Health Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthControllerGetStatus503Response'
      x-controller-name: HealthController
      x-operation-name: health
  /v1/Documents/{id}/recurrence:
    get:
      tags:
        - Document
      summary: Fetches hasOne relation recurrence.
      operationId: Document_getRecurrence
      parameters:
        - description: Document id
          name: id
          in: path
          required: true
          schema:
            type: string
            format: JSON
        - name: refresh
          in: query
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: Request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Recurrence'
            application/xml:
              schema:
                $ref: '#/components/schemas/Recurrence'
            text/xml:
              schema:
                $ref: '#/components/schemas/Recurrence'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Recurrence'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Recurrence'
      deprecated: false
    post:
      tags:
        - Document
      summary: Creates a new instance in recurrence of this model.
      operationId: Document_createInstanceInRecurrence
      parameters:
        - description: Document id
          name: id
          in: path
          required: true
          schema:
            type: string
            format: JSON
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Recurrence'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Recurrence'
          application/xml:
            schema:
              $ref: '#/components/schemas/Recurrence'
          text/xml:
            schema:
              $ref: '#/components/schemas/Recurrence'
      responses:
        '200':
          description: Request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Recurrence'
            application/xml:
              schema:
                $ref: '#/components/schemas/Recurrence'
            text/xml:
              schema:
                $ref: '#/components/schemas/Recurrence'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Recurrence'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Recurrence'
      deprecated: false
  /v1/Documents/{id}/comments/{fk}:
    delete:
      tags:
        - Document
      summary: Delete a related item by id for comments.
      operationId: Document_deleteRelatedItemByIdForComments
      parameters:
        - description: Document id
          name: id
          in: path
          required: true
          schema:
            type: string
            format: JSON
        - description: Foreign key for comments
          name: fk
          in: path
          required: true
          schema:
            type: string
            format: JSON
      responses:
        '204':
          description: Request was successful
      deprecated: false
    put:
      tags:
        - Document
      summary: Update a related item by id for comments.
      operationId: Document_updateRelatedItemById
      parameters:
        - description: Document id
          name: id
          in: path
          required: true
          schema:
            type: string
            format: JSON
        - description: Foreign key for comments
          name: fk
          in: path
          required: true
          schema:
            type: string
            format: JSON
      requestBody:
        $ref: '#/components/requestBodies/Comment'
      responses:
        '200':
          description: Request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Comment'
            application/xml:
              schema:
                $ref: '#/components/schemas/Comment'
            text/xml:
              schema:
                $ref: '#/components/schemas/Comment'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Comment'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Comment'
      deprecated: false
  /v1/Documents/{id}/payments:
    get:
      tags:
        - Document
      summary: Queries payments of Document.
      operationId: Document_getPayments
      parameters:
        - description: Document id
          name: id
          in: path
          required: true
          schema:
            type: string
            format: JSON
        - name: filter
          in: query
          required: false
          schema:
            type: string
            format: JSON
      responses:
        '200':
          description: Request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentGetPaymentsResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/DocumentGetPayments200Response'
            text/xml:
              schema:
                $ref: '#/components/schemas/DocumentGetPayments200Response'
            application/javascript:
              schema:
                $ref: '#/components/schemas/DocumentGetPayments200Response'
            text/javascript:
              schema:
                $ref: '#/components/schemas/DocumentGetPayments200Response'
      deprecated: false
    post:
      tags:
        - Document
      summary: Creates a new instance in payments of this model.
      operationId: Document_createPaymentInstance
      parameters:
        - description: Document id
          name: id
          in: path
          required: true
          schema:
            type: string
            format: JSON
      requestBody:
        $ref: '#/components/requestBodies/_new_Payment'
      responses:
        '200':
          description: Request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
            application/xml:
              schema:
                $ref: '#/components/schemas/Payment'
            text/xml:
              schema:
                $ref: '#/components/schemas/Payment'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Payment'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Payment'
      deprecated: false
  /v1/Documents/{id}/payments/count:
    get:
      tags:
        - Document
      summary: Counts payments of Document.
      operationId: Document_countPayments
      parameters:
        - description: Document id
          name: id
          in: path
          required: true
          schema:
            type: string
            format: JSON
        - description: Criteria to match model instances
          name: where
          in: query
          required: false
          schema:
            type: string
            format: JSON
      responses:
        '200':
          description: Request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentCountPaymentsResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/DocumentCountPayments200Response'
            text/xml:
              schema:
                $ref: '#/components/schemas/DocumentCountPayments200Response'
            application/javascript:
              schema:
                $ref: '#/components/schemas/DocumentCountPayments200Response'
            text/javascript:
              schema:
                $ref: '#/components/schemas/DocumentCountPayments200Response'
      deprecated: false
  /v1/Documents/{id}/comments:
    post:
      tags:
        - Document
      summary: Creates a new instance in comments of this model.
      operationId: Document_createInstanceInComments
      parameters:
        - description: Document id
          name: id
          in: path
          required: true
          schema:
            type: string
            format: JSON
      requestBody:
        $ref: '#/components/requestBodies/Comment'
      responses:
        '200':
          description: Request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Comment'
            application/xml:
              schema:
                $ref: '#/components/schemas/Comment'
            text/xml:
              schema:
                $ref: '#/components/schemas/Comment'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Comment'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Comment'
      deprecated: false
  /v1/Documents/{id}/documentCategories:
    post:
      tags:
        - Document
      summary: Creates a new instance in documentCategories of this model.
      operationId: Document_createInstanceInDocumentCategories
      parameters:
        - description: Document id
          name: id
          in: path
          required: true
          schema:
            type: string
            format: JSON
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_new_DocumentCategory'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/_new_DocumentCategory'
          application/xml:
            schema:
              $ref: '#/components/schemas/_new_DocumentCategory'
          text/xml:
            schema:
              $ref: '#/components/schemas/_new_DocumentCategory'
      responses:
        '200':
          description: Request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentCategory'
            application/xml:
              schema:
                $ref: '#/components/schemas/DocumentCategory'
            text/xml:
              schema:
                $ref: '#/components/schemas/DocumentCategory'
            application/javascript:
              schema:
                $ref: '#/components/schemas/DocumentCategory'
            text/javascript:
              schema:
                $ref: '#/components/schemas/DocumentCategory'
      deprecated: false
  /v1/Documents/{id}:
    get:
      tags:
        - Document
      summary: Find a model instance by {{id}} from the data source.
      operationId: Document_findById
      parameters:
        - description: Model id
          name: id
          in: path
          required: true
          schema:
            type: string
            format: JSON
        - description: >-
            Filter defining fields and include - must be a JSON-encoded string
            ({"something":"value"})
          name: filter
          in: query
          required: false
          schema:
            type: string
            format: JSON
      responses:
        '200':
          description: Request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
            application/xml:
              schema:
                $ref: '#/components/schemas/Document'
            text/xml:
              schema:
                $ref: '#/components/schemas/Document'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Document'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Document'
      deprecated: false
    put:
      tags:
        - Document
      summary: >-
        Replace attributes for a model instance and persist it into the data
        source.
      operationId: Document_replaceAttributesById
      parameters:
        - description: Model id
          name: id
          in: path
          required: true
          schema:
            type: string
            format: JSON
      requestBody:
        $ref: '#/components/requestBodies/Document'
      responses:
        '200':
          description: Request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
            application/xml:
              schema:
                $ref: '#/components/schemas/Document'
            text/xml:
              schema:
                $ref: '#/components/schemas/Document'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Document'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Document'
      deprecated: false
    delete:
      tags:
        - Document
      summary: Delete a model instance by {{id}} from the data source.
      operationId: Document_deleteById
      parameters:
        - description: Model id
          name: id
          in: path
          required: true
          schema:
            type: string
            format: JSON
      responses:
        '200':
          description: Request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentDeleteByIdResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/DocumentDeleteById200Response'
            text/xml:
              schema:
                $ref: '#/components/schemas/DocumentDeleteById200Response'
            application/javascript:
              schema:
                $ref: '#/components/schemas/DocumentDeleteById200Response'
            text/javascript:
              schema:
                $ref: '#/components/schemas/DocumentDeleteById200Response'
      deprecated: false
    patch:
      tags:
        - Document
      summary: >-
        Patch attributes for a model instance and persist it into the data
        source.
      operationId: Document_patchAttributesById
      parameters:
        - description: Document id
          name: id
          in: path
          required: true
          schema:
            type: string
            format: JSON
      requestBody:
        description: An object of model property name/value pairs
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Document'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Document'
          application/xml:
            schema:
              $ref: '#/components/schemas/Document'
          text/xml:
            schema:
              $ref: '#/components/schemas/Document'
      responses:
        '200':
          description: Request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
            application/xml:
              schema:
                $ref: '#/components/schemas/Document'
            text/xml:
              schema:
                $ref: '#/components/schemas/Document'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Document'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Document'
      deprecated: false
  /v1/Documents/{id}/replace:
    post:
      tags:
        - Document
      summary: >-
        Replace attributes for a model instance and persist it into the data
        source.
      operationId: Document_replaceAttributesById
      parameters:
        - description: Model id
          name: id
          in: path
          required: true
          schema:
            type: string
            format: JSON
      requestBody:
        $ref: '#/components/requestBodies/Document'
      responses:
        '200':
          description: Request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
            application/xml:
              schema:
                $ref: '#/components/schemas/Document'
            text/xml:
              schema:
                $ref: '#/components/schemas/Document'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Document'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Document'
      deprecated: false
  /v1/Documents/{id}/send:
    post:
      tags:
        - Document
      summary: ''
      operationId: Document_sendNotification
      parameters:
        - description: Document id
          name: id
          in: path
          required: true
          schema:
            type: string
            format: JSON
        - description: Language flag
          name: l
          in: query
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/DocumentSendNotificationRequest'
        required: true
      responses:
        '200':
          description: Request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentSendNotificationResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/DocumentSendNotification200Response'
            text/xml:
              schema:
                $ref: '#/components/schemas/DocumentSendNotification200Response'
            application/javascript:
              schema:
                $ref: '#/components/schemas/DocumentSendNotification200Response'
            text/javascript:
              schema:
                $ref: '#/components/schemas/DocumentSendNotification200Response'
      deprecated: false
  /v1/Documents/{id}/cancel:
    post:
      tags:
        - Document
      summary: ''
      operationId: Document_cancelById
      parameters:
        - description: Document id
          name: id
          in: path
          required: true
          schema:
            type: string
            format: JSON
        - name: technical
          in: query
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: Request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentCancelByIdResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/DocumentCancelById200Response'
            text/xml:
              schema:
                $ref: '#/components/schemas/DocumentCancelById200Response'
            application/javascript:
              schema:
                $ref: '#/components/schemas/DocumentCancelById200Response'
            text/javascript:
              schema:
                $ref: '#/components/schemas/DocumentCancelById200Response'
      deprecated: false
  /v1/Documents/{id}/uncancel:
    post:
      tags:
        - Document
      summary: ''
      operationId: Document_markUncancelled
      parameters:
        - description: Document id
          name: id
          in: path
          required: true
          schema:
            type: string
            format: JSON
      responses:
        '200':
          description: Request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentMarkUncancelledResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/DocumentMarkUncancelled200Response'
            text/xml:
              schema:
                $ref: '#/components/schemas/DocumentMarkUncancelled200Response'
            application/javascript:
              schema:
                $ref: '#/components/schemas/DocumentMarkUncancelled200Response'
            text/javascript:
              schema:
                $ref: '#/components/schemas/DocumentMarkUncancelled200Response'
      deprecated: false
  /v1/Documents/{id}/fiscally-verify:
    post:
      tags:
        - Document
      summary: Fiscally verify a document that previously failed verification.
      operationId: Document_fiscallyVerify
      parameters:
        - description: Document id
          name: id
          in: path
          required: true
          schema:
            type: string
            format: JSON
        - name: provider
          in: query
          required: false
          schema:
            type: string
        - name: old
          in: query
          required: false
          schema:
            type: boolean
            default: true
      responses:
        '200':
          description: Request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentFiscallyVerifyResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/DocumentFiscallyVerify200Response'
            text/xml:
              schema:
                $ref: '#/components/schemas/DocumentFiscallyVerify200Response'
            application/javascript:
              schema:
                $ref: '#/components/schemas/DocumentFiscallyVerify200Response'
            text/javascript:
              schema:
                $ref: '#/components/schemas/DocumentFiscallyVerify200Response'
      deprecated: false
  /v1/Documents/{id}/e-slog:
    get:
      tags:
        - Document
      summary: Generates eslog xml and returns it
      operationId: Document_generateEslogXml
      parameters:
        - description: Document id
          name: id
          in: path
          required: true
          schema:
            type: string
            format: JSON
        - description: Additional settings for generating the eslog format
          name: options
          in: query
          required: false
          schema:
            type: string
            format: JSON
      responses:
        '200':
          description: Request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentGenerateEslogXmlResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/DocumentGenerateEslogXml200Response'
            text/xml:
              schema:
                $ref: '#/components/schemas/DocumentGenerateEslogXml200Response'
            application/javascript:
              schema:
                $ref: '#/components/schemas/DocumentGenerateEslogXml200Response'
            text/javascript:
              schema:
                $ref: '#/components/schemas/DocumentGenerateEslogXml200Response'
      deprecated: false
  /v1/Documents/{id}/pdf:
    get:
      tags:
        - Document
      summary: Retrieve PDF of document
      operationId: Document_getPdfById
      parameters:
        - description: Document id
          name: id
          in: path
          required: true
          schema:
            type: string
            format: JSON
        - description: Language flag
          name: l
          in: query
          required: false
          schema:
            type: string
        - description: Add UPN QR to PDF
          name: upn_qr
          in: query
          required: false
          schema:
            type: boolean
        - description: Hide header and footer on PDF
          name: hide_header_footer
          in: query
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: Request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentGetPdfByIdResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/DocumentGetPdfById200Response'
            text/xml:
              schema:
                $ref: '#/components/schemas/DocumentGetPdfById200Response'
            application/javascript:
              schema:
                $ref: '#/components/schemas/DocumentGetPdfById200Response'
            text/javascript:
              schema:
                $ref: '#/components/schemas/DocumentGetPdfById200Response'
      deprecated: false
  /v1/Documents/{id}/mark-sent:
    post:
      tags:
        - Document
      summary: Mark document as sent via snail mail
      operationId: Document_markAsSentViaSnailMail
      parameters:
        - description: Document id
          name: id
          in: path
          required: true
          schema:
            type: string
            format: JSON
      responses:
        '200':
          description: Request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentMarkAsSentViaSnailMailResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/DocumentMarkAsSentViaSnailMail200Response'
            text/xml:
              schema:
                $ref: '#/components/schemas/DocumentMarkAsSentViaSnailMail200Response'
            application/javascript:
              schema:
                $ref: '#/components/schemas/DocumentMarkAsSentViaSnailMail200Response'
            text/javascript:
              schema:
                $ref: '#/components/schemas/DocumentMarkAsSentViaSnailMail200Response'
      deprecated: false
  /v1/Documents/{id}/attachments/upload:
    post:
      tags:
        - Document
      summary: Uploads an attachment for a document
      operationId: Document_uploadAttachment
      parameters:
        - description: Document id
          name: id
          in: path
          required: true
          schema:
            type: string
            format: JSON
      responses:
        '200':
          description: Request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentUploadAttachmentResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/DocumentUploadAttachment200Response'
            text/xml:
              schema:
                $ref: '#/components/schemas/DocumentUploadAttachment200Response'
            application/javascript:
              schema:
                $ref: '#/components/schemas/DocumentUploadAttachment200Response'
            text/javascript:
              schema:
                $ref: '#/components/schemas/DocumentUploadAttachment200Response'
      deprecated: false
  /v1/Documents/parse-xml:
    post:
      tags:
        - Document
      summary: >-
        Takes an xml file and returns a json object prepared for saving a
        document.
      operationId: Document_convertXmlToJson
      responses:
        '200':
          description: Request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentConvertXmlToJsonResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/DocumentConvertXmlToJson200Response'
            text/xml:
              schema:
                $ref: '#/components/schemas/DocumentConvertXmlToJson200Response'
            application/javascript:
              schema:
                $ref: '#/components/schemas/DocumentConvertXmlToJson200Response'
            text/javascript:
              schema:
                $ref: '#/components/schemas/DocumentConvertXmlToJson200Response'
      deprecated: false
  /v1/Documents/cron/outgoing:
    get:
      tags:
        - Document
      summary: ''
      operationId: Document_getOutgoingDocuments
      parameters:
        - description: ''
          name: date
          in: query
          required: false
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentGetOutgoingDocumentsResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/DocumentGetOutgoingDocuments200Response'
            text/xml:
              schema:
                $ref: '#/components/schemas/DocumentGetOutgoingDocuments200Response'
            application/javascript:
              schema:
                $ref: '#/components/schemas/DocumentGetOutgoingDocuments200Response'
            text/javascript:
              schema:
                $ref: '#/components/schemas/DocumentGetOutgoingDocuments200Response'
      deprecated: false
  /v1/Documents/cron/incoming:
    get:
      tags:
        - Document
      summary: ''
      operationId: Document_getIncoming
      parameters:
        - description: ''
          name: date
          in: query
          required: false
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentGetIncomingResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/DocumentGetIncoming200Response'
            text/xml:
              schema:
                $ref: '#/components/schemas/DocumentGetIncoming200Response'
            application/javascript:
              schema:
                $ref: '#/components/schemas/DocumentGetIncoming200Response'
            text/javascript:
              schema:
                $ref: '#/components/schemas/DocumentGetIncoming200Response'
      deprecated: false
  /v1/Documents/{id}/share:
    post:
      tags:
        - Document
      summary: >-
        Generates and returns shareable document id that allows access to
        document without authentication
      operationId: Document_generateShareableId
      parameters:
        - description: Document id
          name: id
          in: path
          required: true
          schema:
            type: string
            format: JSON
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/DocumentGenerateShareableIdRequest'
      responses:
        '200':
          description: Request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentGenerateShareableIdResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/DocumentGenerateShareableId200Response'
            text/xml:
              schema:
                $ref: '#/components/schemas/DocumentGenerateShareableId200Response'
            application/javascript:
              schema:
                $ref: '#/components/schemas/DocumentGenerateShareableId200Response'
            text/javascript:
              schema:
                $ref: '#/components/schemas/DocumentGenerateShareableId200Response'
      deprecated: false
  /v1/Documents/public/{id}:
    get:
      tags:
        - Document
      summary: Retrieve document using shareable id
      operationId: Document_getByShareableId
      parameters:
        - description: Shareable id of document to retrieve
          name: id
          in: path
          required: true
          schema:
            type: string
        - name: filter
          in: query
          required: false
          schema:
            type: string
            format: JSON
      responses:
        '200':
          description: Request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentGetByShareableIdResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/DocumentGetByShareableId200Response'
            text/xml:
              schema:
                $ref: '#/components/schemas/DocumentGetByShareableId200Response'
            application/javascript:
              schema:
                $ref: '#/components/schemas/DocumentGetByShareableId200Response'
            text/javascript:
              schema:
                $ref: '#/components/schemas/DocumentGetByShareableId200Response'
      deprecated: false
  /v1/Documents/public/{id}/e-slog:
    get:
      tags:
        - Document
      summary: Generates eslog xml from shareableId and returns it
      operationId: Document_generateEslogXml
      parameters:
        - description: Shareable id of document to retrieve
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentGenerateEslogXml200Response'
            application/xml:
              schema:
                $ref: '#/components/schemas/DocumentGenerateEslogXml200Response'
            text/xml:
              schema:
                $ref: '#/components/schemas/DocumentGenerateEslogXml200Response'
            application/javascript:
              schema:
                $ref: '#/components/schemas/DocumentGenerateEslogXml200Response'
            text/javascript:
              schema:
                $ref: '#/components/schemas/DocumentGenerateEslogXml200Response'
      deprecated: false
  /v1/Documents/public/{id}/pdf:
    get:
      tags:
        - Document
      summary: Retrieve PDF of document
      operationId: Document_getPdfById
      parameters:
        - description: Shareable id of document to retrieve
          name: id
          in: path
          required: true
          schema:
            type: string
        - description: Language flag
          name: l
          in: query
          required: false
          schema:
            type: string
        - description: Add UPN QR to PDF
          name: upn_qr
          in: query
          required: false
          schema:
            type: boolean
        - description: Hide header and footer on PDF
          name: hide_header_footer
          in: query
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: Request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentGetPdfById200Response'
            application/xml:
              schema:
                $ref: '#/components/schemas/DocumentGetPdfById200Response'
            text/xml:
              schema:
                $ref: '#/components/schemas/DocumentGetPdfById200Response'
            application/javascript:
              schema:
                $ref: '#/components/schemas/DocumentGetPdfById200Response'
            text/javascript:
              schema:
                $ref: '#/components/schemas/DocumentGetPdfById200Response'
      deprecated: false
  /v1/Documents/public/{id}/attachments/{attachmentId}/download:
    get:
      tags:
        - Document
      summary: Retrieve attachment of document by shareable id
      operationId: Document_getAttachmentByShareableId
      parameters:
        - description: Shareable id of document to retrieve
          name: id
          in: path
          required: true
          schema:
            type: string
        - description: Id of attachment to retrieve
          name: attachmentId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Request was successful
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/DocumentGetAttachmentByShareableIdResponse
            application/xml:
              schema:
                $ref: >-
                  #/components/schemas/DocumentGetAttachmentByShareableId200Response
            text/xml:
              schema:
                $ref: >-
                  #/components/schemas/DocumentGetAttachmentByShareableId200Response
            application/javascript:
              schema:
                $ref: >-
                  #/components/schemas/DocumentGetAttachmentByShareableId200Response
            text/javascript:
              schema:
                $ref: >-
                  #/components/schemas/DocumentGetAttachmentByShareableId200Response
      deprecated: false
  /v1/Items/{id}/components/{fk}:
    put:
      tags:
        - Item
      summary: Update a related item by id for components.
      operationId: Item_updateRelatedComponentById
      parameters:
        - description: Item id
          name: id
          in: path
          required: true
          schema:
            type: string
            format: JSON
        - description: Foreign key for components
          name: fk
          in: path
          required: true
          schema:
            type: string
            format: JSON
      requestBody:
        $ref: '#/components/requestBodies/Component'
      responses:
        '200':
          description: Request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component'
            application/xml:
              schema:
                $ref: '#/components/schemas/Component'
            text/xml:
              schema:
                $ref: '#/components/schemas/Component'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Component'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Component'
      deprecated: false
  /v1/Items/{id}/inventories:
    get:
      tags:
        - Item
      summary: Queries inventories of Item.
      operationId: Item_queryInventories
      parameters:
        - description: Item id
          name: id
          in: path
          required: true
          schema:
            type: string
            format: JSON
        - name: filter
          in: query
          required: false
          schema:
            type: string
            format: JSON
      responses:
        '200':
          description: Request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemQueryInventoriesResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ItemQueryInventories200Response'
            text/xml:
              schema:
                $ref: '#/components/schemas/ItemQueryInventories200Response'
            application/javascript:
              schema:
                $ref: '#/components/schemas/ItemQueryInventories200Response'
            text/javascript:
              schema:
                $ref: '#/components/schemas/ItemQueryInventories200Response'
      deprecated: false
  /v1/Items/{id}/components:
    post:
      tags:
        - Item
      summary: Creates a new instance in components of this model.
      operationId: Item_createInstance
      parameters:
        - description: Item id
          name: id
          in: path
          required: true
          schema:
            type: string
            format: JSON
      requestBody:
        $ref: '#/components/requestBodies/Component'
      responses:
        '200':
          description: Request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component'
            application/xml:
              schema:
                $ref: '#/components/schemas/Component'
            text/xml:
              schema:
                $ref: '#/components/schemas/Component'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Component'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Component'
      deprecated: false
  /v1/Items/{id}:
    get:
      tags:
        - Item
      summary: Find a model instance by {{id}} from the data source.
      operationId: Item_findById
      parameters:
        - description: Model id
          name: id
          in: path
          required: true
          schema:
            type: string
            format: JSON
        - description: >-
            Filter defining fields and include - must be a JSON-encoded string
            ({"something":"value"})
          name: filter
          in: query
          required: false
          schema:
            type: string
            format: JSON
      responses:
        '200':
          description: Request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Item'
            application/xml:
              schema:
                $ref: '#/components/schemas/Item'
            text/xml:
              schema:
                $ref: '#/components/schemas/Item'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Item'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Item'
      deprecated: false
    put:
      tags:
        - Item
      summary: >-
        Replace attributes for a model instance and persist it into the data
        source.
      operationId: Item_updateAttributesById
      parameters:
        - description: Model id
          name: id
          in: path
          required: true
          schema:
            type: string
            format: JSON
      requestBody:
        $ref: '#/components/requestBodies/Item'
      responses:
        '200':
          description: Request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Item'
            application/xml:
              schema:
                $ref: '#/components/schemas/Item'
            text/xml:
              schema:
                $ref: '#/components/schemas/Item'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Item'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Item'
      deprecated: false
    delete:
      tags:
        - Item
      summary: Delete a model instance by {{id}} from the data source.
      operationId: Item_deleteById
      parameters:
        - description: Model id
          name: id
          in: path
          required: true
          schema:
            type: string
            format: JSON
      responses:
        '200':
          description: Request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemDeleteByIdResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ItemDeleteById200Response'
            text/xml:
              schema:
                $ref: '#/components/schemas/ItemDeleteById200Response'
            application/javascript:
              schema:
                $ref: '#/components/schemas/ItemDeleteById200Response'
            text/javascript:
              schema:
                $ref: '#/components/schemas/ItemDeleteById200Response'
      deprecated: false
  /v1/Items/{id}/replace:
    post:
      tags:
        - Item
      summary: >-
        Replace attributes for a model instance and persist it into the data
        source.
      operationId: Item_replaceAttributesById
      parameters:
        - description: Model id
          name: id
          in: path
          required: true
          schema:
            type: string
            format: JSON
      requestBody:
        $ref: '#/components/requestBodies/Item'
      responses:
        '200':
          description: Request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Item'
            application/xml:
              schema:
                $ref: '#/components/schemas/Item'
            text/xml:
              schema:
                $ref: '#/components/schemas/Item'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Item'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Item'
      deprecated: false
  /v1/Taxes/{id}/taxRates/{fk}:
    delete:
      tags:
        - Tax
      summary: Delete a related item by id for taxRates.
      operationId: Tax_deleteRelatedItemById
      parameters:
        - description: Tax id
          name: id
          in: path
          required: true
          schema:
            type: string
            format: JSON
        - description: Foreign key for taxRates
          name: fk
          in: path
          required: true
          schema:
            type: string
            format: JSON
      responses:
        '204':
          description: Request was successful
      deprecated: false
  /v1/Taxes/{id}/taxRates:
    post:
      tags:
        - Tax
      summary: Creates a new instance in taxRates of this model.
      operationId: Tax_createInstanceInTaxRates
      parameters:
        - description: Tax id
          name: id
          in: path
          required: true
          schema:
            type: string
            format: JSON
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaxRate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/TaxRate'
          application/xml:
            schema:
              $ref: '#/components/schemas/TaxRate'
          text/xml:
            schema:
              $ref: '#/components/schemas/TaxRate'
      responses:
        '200':
          description: Request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaxRate'
            application/xml:
              schema:
                $ref: '#/components/schemas/TaxRate'
            text/xml:
              schema:
                $ref: '#/components/schemas/TaxRate'
            application/javascript:
              schema:
                $ref: '#/components/schemas/TaxRate'
            text/javascript:
              schema:
                $ref: '#/components/schemas/TaxRate'
      deprecated: false
  /v1/Taxes/{id}:
    get:
      tags:
        - Tax
      summary: Find a model instance by {{id}} from the data source.
      operationId: Tax_findById
      parameters:
        - description: Model id
          name: id
          in: path
          required: true
          schema:
            type: string
            format: JSON
        - description: >-
            Filter defining fields and include - must be a JSON-encoded string
            ({"something":"value"})
          name: filter
          in: query
          required: false
          schema:
            type: string
            format: JSON
      responses:
        '200':
          description: Request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tax'
            application/xml:
              schema:
                $ref: '#/components/schemas/Tax'
            text/xml:
              schema:
                $ref: '#/components/schemas/Tax'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Tax'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Tax'
      deprecated: false
    put:
      tags:
        - Tax
      summary: >-
        Replace attributes for a model instance and persist it into the data
        source.
      operationId: Tax_updateById
      parameters:
        - description: Model id
          name: id
          in: path
          required: true
          schema:
            type: string
            format: JSON
      requestBody:
        $ref: '#/components/requestBodies/Tax'
      responses:
        '200':
          description: Request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tax'
            application/xml:
              schema:
                $ref: '#/components/schemas/Tax'
            text/xml:
              schema:
                $ref: '#/components/schemas/Tax'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Tax'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Tax'
      deprecated: false
    delete:
      tags:
        - Tax
      summary: Delete a model instance by {{id}} from the data source.
      operationId: Tax_deleteById
      parameters:
        - description: Model id
          name: id
          in: path
          required: true
          schema:
            type: string
            format: JSON
      responses:
        '200':
          description: Request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaxDeleteByIdResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/TaxDeleteById200Response'
            text/xml:
              schema:
                $ref: '#/components/schemas/TaxDeleteById200Response'
            application/javascript:
              schema:
                $ref: '#/components/schemas/TaxDeleteById200Response'
            text/javascript:
              schema:
                $ref: '#/components/schemas/TaxDeleteById200Response'
      deprecated: false
  /v1/Taxes/{id}/replace:
    post:
      tags:
        - Tax
      summary: >-
        Replace attributes for a model instance and persist it into the data
        source.
      operationId: Tax_replaceAttributesById
      parameters:
        - description: Model id
          name: id
          in: path
          required: true
          schema:
            type: string
            format: JSON
      requestBody:
        $ref: '#/components/requestBodies/Tax'
      responses:
        '200':
          description: Request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tax'
            application/xml:
              schema:
                $ref: '#/components/schemas/Tax'
            text/xml:
              schema:
                $ref: '#/components/schemas/Tax'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Tax'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Tax'
      deprecated: false
  /v1/Taxes/clause-type:
    post:
      tags:
        - Tax
      summary: ''
      operationId: Tax_createClauseType
      requestBody:
        description: Body resembling a document.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaxCreateClauseTypeRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/TaxCreateClauseTypeRequest1'
          application/xml:
            schema:
              $ref: '#/components/schemas/TaxCreateClauseTypeRequest2'
          text/xml:
            schema:
              $ref: '#/components/schemas/TaxCreateClauseTypeRequest3'
        required: true
      responses:
        '200':
          description: Request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaxCreateClauseTypeResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/TaxCreateClauseType200Response'
            text/xml:
              schema:
                $ref: '#/components/schemas/TaxCreateClauseType200Response'
            application/javascript:
              schema:
                $ref: '#/components/schemas/TaxCreateClauseType200Response'
            text/javascript:
              schema:
                $ref: '#/components/schemas/TaxCreateClauseType200Response'
      deprecated: false
  /v1/Clients/{id}:
    get:
      tags:
        - Client
      summary: Find a model instance by {{id}} from the data source.
      operationId: Client_findById
      parameters:
        - description: Model id
          name: id
          in: path
          required: true
          schema:
            type: string
            format: JSON
        - description: >-
            Filter defining fields and include - must be a JSON-encoded string
            ({"something":"value"})
          name: filter
          in: query
          required: false
          schema:
            type: string
            format: JSON
      responses:
        '200':
          description: Request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Client'
            application/xml:
              schema:
                $ref: '#/components/schemas/Client'
            text/xml:
              schema:
                $ref: '#/components/schemas/Client'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Client'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Client'
      deprecated: false
    put:
      tags:
        - Client
      summary: >-
        Replace attributes for a model instance and persist it into the data
        source.
      operationId: Client_replaceAttributesById
      parameters:
        - description: Model id
          name: id
          in: path
          required: true
          schema:
            type: string
            format: JSON
      requestBody:
        $ref: '#/components/requestBodies/Client'
      responses:
        '200':
          description: Request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Client'
            application/xml:
              schema:
                $ref: '#/components/schemas/Client'
            text/xml:
              schema:
                $ref: '#/components/schemas/Client'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Client'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Client'
      deprecated: false
    delete:
      tags:
        - Client
      summary: Delete a model instance by {{id}} from the data source.
      operationId: Client_deleteById
      parameters:
        - description: Model id
          name: id
          in: path
          required: true
          schema:
            type: string
            format: JSON
      responses:
        '200':
          description: Request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientDeleteByIdResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ClientDeleteById200Response'
            text/xml:
              schema:
                $ref: '#/components/schemas/ClientDeleteById200Response'
            application/javascript:
              schema:
                $ref: '#/components/schemas/ClientDeleteById200Response'
            text/javascript:
              schema:
                $ref: '#/components/schemas/ClientDeleteById200Response'
      deprecated: false
    patch:
      tags:
        - Client
      summary: >-
        Patch attributes for a model instance and persist it into the data
        source.
      operationId: Client_updateAttributesById
      parameters:
        - description: Client id
          name: id
          in: path
          required: true
          schema:
            type: string
            format: JSON
      requestBody:
        description: An object of model property name/value pairs
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Client'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Client'
          application/xml:
            schema:
              $ref: '#/components/schemas/Client'
          text/xml:
            schema:
              $ref: '#/components/schemas/Client'
      responses:
        '200':
          description: Request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Client'
            application/xml:
              schema:
                $ref: '#/components/schemas/Client'
            text/xml:
              schema:
                $ref: '#/components/schemas/Client'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Client'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Client'
      deprecated: false
  /v1/Clients/{id}/replace:
    post:
      tags:
        - Client
      summary: >-
        Replace attributes for a model instance and persist it into the data
        source.
      operationId: Client_replaceAttributesById
      parameters:
        - description: Model id
          name: id
          in: path
          required: true
          schema:
            type: string
            format: JSON
      requestBody:
        $ref: '#/components/requestBodies/Client'
      responses:
        '200':
          description: Request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Client'
            application/xml:
              schema:
                $ref: '#/components/schemas/Client'
            text/xml:
              schema:
                $ref: '#/components/schemas/Client'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Client'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Client'
      deprecated: false
  /v1/Clients/{id}/send-reminder:
    post:
      tags:
        - Client
      summary: ''
      operationId: Client_sendReminder
      parameters:
        - description: Client id
          name: id
          in: path
          required: true
          schema:
            type: string
            format: JSON
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ClientSendReminderRequest'
      responses:
        '200':
          description: Request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientSendReminderResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ClientSendReminder200Response'
            text/xml:
              schema:
                $ref: '#/components/schemas/ClientSendReminder200Response'
            application/javascript:
              schema:
                $ref: '#/components/schemas/ClientSendReminder200Response'
            text/javascript:
              schema:
                $ref: '#/components/schemas/ClientSendReminder200Response'
      deprecated: false
  /v1/Organizations/{id}/defaults/{fk}:
    put:
      tags:
        - Organization
      summary: Update a related item by id for _defaults.
      operationId: Organization_updateRelatedItemById
      parameters:
        - description: Organization id
          name: id
          in: path
          required: true
          schema:
            type: string
            format: JSON
        - description: Foreign key for _defaults
          name: fk
          in: path
          required: true
          schema:
            type: string
            format: JSON
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Default'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Default'
          application/xml:
            schema:
              $ref: '#/components/schemas/Default'
          text/xml:
            schema:
              $ref: '#/components/schemas/Default'
      responses:
        '200':
          description: Request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
            application/xml:
              schema:
                $ref: '#/components/schemas/Default'
            text/xml:
              schema:
                $ref: '#/components/schemas/Default'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Default'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Default'
      deprecated: false
  /v1/Organizations/{id}/documents:
    get:
      tags:
        - Organization
      summary: Queries documents of Organization.
      operationId: Organization_queryDocuments
      parameters:
        - description: Organization id
          name: id
          in: path
          required: true
          schema:
            type: string
            format: JSON
        - name: filter
          in: query
          required: false
          schema:
            type: string
            format: JSON
      responses:
        '200':
          description: Request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationQueryDocumentsResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/OrganizationQueryDocuments200Response'
            text/xml:
              schema:
                $ref: '#/components/schemas/OrganizationQueryDocuments200Response'
            application/javascript:
              schema:
                $ref: '#/components/schemas/OrganizationQueryDocuments200Response'
            text/javascript:
              schema:
                $ref: '#/components/schemas/OrganizationQueryDocuments200Response'
      deprecated: false
    post:
      tags:
        - Organization
      summary: Creates a new instance in documents of this model.
      operationId: Organization_createNewInstanceInDocuments
      parameters:
        - description: Organization id
          name: id
          in: path
          required: true
          schema:
            type: string
            format: JSON
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_new_Document'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/_new_Document'
          application/xml:
            schema:
              $ref: '#/components/schemas/_new_Document'
          text/xml:
            schema:
              $ref: '#/components/schemas/_new_Document'
      responses:
        '200':
          description: Request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
            application/xml:
              schema:
                $ref: '#/components/schemas/Document'
            text/xml:
              schema:
                $ref: '#/components/schemas/Document'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Document'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Document'
      deprecated: false
  /v1/Organizations/{id}/documents/count:
    get:
      tags:
        - Organization
      summary: Counts documents of Organization.
      operationId: Organization_countDocuments
      parameters:
        - description: Organization id
          name: id
          in: path
          required: true
          schema:
            type: string
            format: JSON
        - description: Criteria to match model instances
          name: where
          in: query
          required: false
          schema:
            type: string
            format: JSON
      responses:
        '200':
          description: Request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationCountDocumentsResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/OrganizationCountDocuments200Response'
            text/xml:
              schema:
                $ref: '#/components/schemas/OrganizationCountDocuments200Response'
            application/javascript:
              schema:
                $ref: '#/components/schemas/OrganizationCountDocuments200Response'
            text/javascript:
              schema:
                $ref: '#/components/schemas/OrganizationCountDocuments200Response'
      deprecated: false
  /v1/Organizations/{id}/clients:
    get:
      tags:
        - Organization
      summary: Queries clients of Organization.
      operationId: Organization_queryClients
      parameters:
        - description: Organization id
          name: id
          in: path
          required: true
          schema:
            type: string
            format: JSON
        - name: filter
          in: query
          required: false
          schema:
            type: string
            format: JSON
      responses:
        '200':
          description: Request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationQueryClientsResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/OrganizationQueryClients200Response'
            text/xml:
              schema:
                $ref: '#/components/schemas/OrganizationQueryClients200Response'
            application/javascript:
              schema:
                $ref: '#/components/schemas/OrganizationQueryClients200Response'
            text/javascript:
              schema:
                $ref: '#/components/schemas/OrganizationQueryClients200Response'
      deprecated: false
    post:
      tags:
        - Organization
      summary: Creates a new instance in clients of this model.
      operationId: Organization_createClientInstance
      parameters:
        - description: Organization id
          name: id
          in: path
          required: true
          schema:
            type: string
            format: JSON
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_new_Client'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/_new_Client'
          application/xml:
            schema:
              $ref: '#/components/schemas/_new_Client'
          text/xml:
            schema:
              $ref: '#/components/schemas/_new_Client'
      responses:
        '200':
          description: Request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Client'
            application/xml:
              schema:
                $ref: '#/components/schemas/Client'
            text/xml:
              schema:
                $ref: '#/components/schemas/Client'
            application/javascript:
              schema:
                $ref: '#/components/schemas/Client'
            text/javascript:
              schema:
                $ref: '#/components/schemas/Client'
      deprecated: false
  /v1/Organizations/{id}/clients/count:
    get:
      tags:
        - Organization
      summary: Counts clients of Organization.
      operationId: Organization_countClients
      parameters:
        - description: Organization id
          name: id
          in: path
          required: true
          schema:
            type: string
            format: JSON
        - description: Criteria to match model instances
          name: where
          in: query
          required: false
          schema:
            type: string
            format: JSON
      responses:
        '200':
          description: Request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationCountClientsResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/OrganizationCountClients200Response'
            text/xml:
              schema:
                $ref: '#/components/schemas/OrganizationCountClients200Response'
            application/javascript:
              schema:
                $ref: '#/components/schemas/OrganizationCountClients200Response'
            text/javascript:
              schema:
                $ref: '#/components/schemas/OrganizationCountClients200Response'
      deprecated: false
  /v1/Organizations/{id}/items:
    get:
      tags:
        - Organization
      summary: Queries items of Organization.
      operationId: Organization_queryItems
      parameters:
        - description: Organization id
          name: id
          in: path
          required: true
          schema:
            type: string
            format: JSON
        - name: filter
          in: query
[...]
