openapi: 3.0.3
info:
  title: Developer API
  description: >-
    At Sqala, we believe that everyone deserves access to financial services,
    and we are committed to providing secure and reliable payment solutions to
    clients who may have been overlooked by traditional financial institutions.
  version: '1.0'
  x-konfig-ignore:
    object-with-no-properties: true
    potential-incorrect-type: true
servers:
  - url: https://api.sqala.tech/developer/v1
tags:
  - name: Recipient
  - name: Boleto
  - name: QRCode
  - name: ITP
  - name: Webhook
  - name: BankTransfer
  - name: Token
paths:
  /access-tokens:
    post:
      tags:
        - Token
      summary: Create an Access Token
      operationId: Token_generateAccessToken
      description: ''
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenGenerateAccessTokenRequest'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "token": "eyJraWQiOiJwb1NPeDI0VHRmbDZCYjdaZ3RcL296WGpqUzMrTVlkYTNScXdON1dVSXJkbz0iLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiIyZjE5MDk0Mi1jMjY5LTQxMjQtOTNkNy01YTdmYTkwMTQ0YzkiLCJpc3MiOiJodHRwczpcL1wvY29nbml0by1pZHAuc2EtZWFzdC0xLmFtYXpvbmF3cy5jb21cL3NhLWVhc3QtMV82eWdMcFJLMGUiLCJjbGllbnRfaWQiOiIyNXQwOGxwaHYwN2IzZnZqZ2FqcTNsczFrcCIsIm9yaWdpbl9qdGkiOiIzZWZjODY1Yi01MzU2LTQwNWMtOTQxYy1iNmExM2I3ODFhNWYiLCJldmVudF9pZCI6ImMyMTM1NjgzLWY3YTUtNGMxYy04MzUzLWM3MTUyNmQ2NDU5YyIsInRva2VuX3VzZSI6ImFjY2VzcyIsInNjb3BlIjoiYXdzLmNvZ25pdG8uc2lnbmluLnVzZXIuYWRtaW4iLCJhdXRoX3RpbWUiOjE2NTQ4MTY3OTgsImV4cCI6MTY1NDgyMDUyNCwiaWF0IjoxNjU0ODE2OTI0LCJqdGkiOiI2ZmVhODZiNC1kNDVmLTRhOGQtYjEwYi1iOWRhNzkzODQyZmQiLCJ1c2VybmFtZSI6ImNhcmxvc3BlY2FuaGEyQG91dGxvb2suY29tIn0.PfKd8rpnq9xPO3IwSRkDuBDx0VjN41ABKvm0xIybNCxWh5N1b7HZsTPxjh6GiDoHWYnr8_HCzXqk0MQXYHt7ybHKIFPKqOaA4VpBrb-WaazwSAGdTJFt3grZb4KP-ab2gKaYMji9x1l_SDAaEU-frEHErOnJwyMPi1dn2pZAKJMp4p7IIctwYTFITokP4Lqn7amy_PHlsXoNlUPV0BoNBrFFq-sp22NXSdDtIsdSkyRlGqlOHNTd2zMNqqKCFx3lBt1dPfm6gPvx_mwlOiT0icAXwUOsXxi22P5HgEoh3HJw2NneP9xC8Mw1BQvhBdmfnmANQzIHWkFfBMCQo3xF5w",
                      "expiresIn": 3600,
                      "type": "Bearer"
                    }
              schema:
                $ref: '#/components/schemas/TokenGenerateAccessTokenResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/TokenGenerateAccessToken400Response'
      deprecated: false
  /pix-qrcode-payments:
    post:
      tags:
        - QRCode
      summary: Create a Pix QR Code
      operationId: QrCode_generateQrCode
      description: ''
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QrCodeGenerateQrCodeRequest'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \t\"id\": \"6a0b14a9-023c-4198-9ada-6e4684213340\",\n  \t\"code\": \"804a46a7-7012-4159-8782-1090e85e4afa\",\n    \"type\": \"STATIC\",\n    \"amount\": 4990,\n    \"paidAmount\": null,\n    \"payload\": \"00020126580014BR.GOV.BCB.PIX01368ad59cd0-cd85-45eb-a443-b8824285c5f352040000530398654041.295802BR5924RPO GESTAO DE PAGAMENTOS6008SO PAULO6108000000006224052046193bc0333a468fa1ee6304A3E1\",\n    \"payer\": {\n      \"name\": \"Bruce Wayne\",\n      \"taxId\": \"37515868066\"\n    },\n    \"split\": [\n      {\n        \"value\": 990,\n        \"recipientId\": \"009cb956-3b58-4731-927f-20225600b35b\"\n      }\n    ],\n  \t\"status\": \"PROCESSED\",\n    \"createdAt\": \"2022-06-06T11:48:21Z\",\n    \"processedAt\": \"2022-06-06T11:48:26Z\",\n    \"paidAt\": null,\n    \"failedAt\": null,\n    \"metadata\": [\n      {\n        \"name\": \"CUSTOM_FIELD_NAME\", \n        \"value\": \"CUSTOM_FIELD_VALUE\"\n      }\n    ]\n}"
              schema:
                $ref: '#/components/schemas/QrCodeGenerateQrCodeResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n\t\"code\": \"INVALID_BODY\",\n  \"message\": \"Invalid body, check 'errors' property for more info.\",\n  \"errors\": [\n    \"amount must be a positive number\"\n  ]\n}"
              schema:
                $ref: '#/components/schemas/QrCodeGenerateQrCode400Response'
      deprecated: false
    get:
      tags:
        - QRCode
      summary: List all Pix QR Codes
      operationId: QrCode_listAll
      description: ''
      parameters:
        - description: A limit on the number of objects to be returned, between 1 and 50.
          name: limit
          in: query
          schema:
            type: integer
            format: int32
            default: 10
        - description: >-
            A cursor for use in pagination. ```before``` is an object ID that
            defines your place in the list. For instance, if you make a list
            request and receive 50 objects, starting with ```obj_bar```, your
            subsequent call can include ```before=obj_bar``` in order to fetch
            the previous page of the list.
          name: before
          in: query
          schema:
            type: string
        - description: >-
            A cursor for use in pagination. after is an object ID that defines
            your place in the list. For instance, if you make a list request and
            receive 50 objects, ending with obj_foo, your subsequent call can
            include after=obj_foo in order to fetch the next page of the list.
          name: after
          in: query
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                       "data":[
                          {
                             "id":"6a0b14a9-023c-4198-9ada-6e4684213340",
                             "code":"804a46a7-7012-4159-8782-1090e85e4afa",
                             "type":"STATIC",
                             "amount":4990,
                             "paidAmount":null,
                             "payload":"00020126580014BR.GOV.BCB.PIX01368ad59cd0-cd85-45eb-a443-b8824285c5f352040000530398654041.295802BR5924RPO GESTAO DE PAGAMENTOS6008SO PAULO6108000000006224052046193bc0333a468fa1ee6304A3E1",
                             "payer":{
                                "name":"Bruce Wayne",
                                "taxId":"37515868066"
                             },
                             "split":[
                                {
                                   "value":990,
                                   "recipientId":"009cb956-3b58-4731-927f-20225600b35b"
                                }
                             ],
                             "status":"PROCESSED",
                             "createdAt":"2022-06-06T11:48:21Z",
                             "processedAt":"2022-06-06T11:48:26Z",
                             "paidAt":null,
                             "failedAt":null,
                             "metadata":[
                                {
                                   "name":"CUSTOM_FIELD_NAME",
                                   "value":"CUSTOM_FIELD_VALUE"
                                }
                             ]
                          }
                       ],
                       "paging":{
                          "before":null,
                          "after":"aWQ6YzYyZjViNTAtZTNiOS0xMWVjLTk0OWEtNjFkMjljNjZlMmNm"
                       }
                    }
              schema:
                $ref: '#/components/schemas/QrCodeListAllResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/QrCodeListAll400Response'
      deprecated: false
  /pix-qrcode-payments/{id}:
    get:
      tags:
        - QRCode
      summary: Retrieve a Pix QR Code
      operationId: QrCode_getQrCodeById
      description: ''
      parameters:
        - description: Unique identifier for the object.
          name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \t\"id\": \"6a0b14a9-023c-4198-9ada-6e4684213340\",\n  \t\"code\": \"804a46a7-7012-4159-8782-1090e85e4afa\",\n    \"type\": \"STATIC\",\n    \"amount\": 4990,\n    \"paidAmount\": null,\n    \"payload\": \"00020126580014BR.GOV.BCB.PIX01368ad59cd0-cd85-45eb-a443-b8824285c5f352040000530398654041.295802BR5924RPO GESTAO DE PAGAMENTOS6008SO PAULO6108000000006224052046193bc0333a468fa1ee6304A3E1\",\n    \"payer\": {\n      \"name\": \"Bruce Wayne\",\n      \"taxId\": \"37515868066\"\n    },\n    \"split\": [\n      {\n        \"value\": 990,\n        \"recipientId\": \"009cb956-3b58-4731-927f-20225600b35b\"\n      }\n    ],\n  \t\"status\": \"PROCESSED\",\n    \"createdAt\": \"2022-06-06T11:48:21Z\",\n    \"processedAt\": \"2022-06-06T11:48:26Z\",\n    \"paidAt\": null,\n    \"failedAt\": null,\n    \"metadata\": [\n      {\n        \"name\": \"CUSTOM_FIELD_NAME\", \n        \"value\": \"CUSTOM_FIELD_VALUE\"\n      }\n    ]\n}"
              schema:
                $ref: '#/components/schemas/QrCodeGetQrCodeByIdResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/QrCodeGetQrCodeById400Response'
      deprecated: false
  /itp-payments:
    post:
      tags:
        - ITP
      summary: Create an ITP
      operationId: Itp_createPaymentInstruction
      description: ''
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ItpCreatePaymentInstructionRequest'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \t\"id\": \"6a0b14a9-023c-4198-9ada-6e4684213340\",\n  \t\"code\": \"804a46a7-7012-4159-8782-1090e85e4afa\",\n    \"type\": \"STATIC\",\n    \"amount\": 4990,\n    \"paidAmount\": null,\n    \"payload\": \"00020126580014BR.GOV.BCB.PIX01368ad59cd0-cd85-45eb-a443-b8824285c5f352040000530398654041.295802BR5924RPO GESTAO DE PAGAMENTOS6008SO PAULO6108000000006224052046193bc0333a468fa1ee6304A3E1\",\n    \"payer\": {\n      \"name\": \"Bruce Wayne\",\n      \"taxId\": \"37515868066\"\n    },\n    \"split\": [\n      {\n        \"value\": 990,\n        \"recipientId\": \"009cb956-3b58-4731-927f-20225600b35b\"\n      }\n    ],\n  \t\"status\": \"PROCESSED\",\n    \"createdAt\": \"2022-06-06T11:48:21Z\",\n    \"processedAt\": \"2022-06-06T11:48:26Z\",\n    \"paidAt\": null,\n    \"failedAt\": null,\n    \"metadata\": [\n      {\n        \"name\": \"CUSTOM_FIELD_NAME\", \n        \"value\": \"CUSTOM_FIELD_VALUE\"\n      }\n    ]\n}"
              schema:
                $ref: '#/components/schemas/ItpCreatePaymentInstructionResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n\t\"code\": \"INVALID_BODY\",\n  \"message\": \"Invalid body, check 'errors' property for more info.\",\n  \"errors\": [\n    \"amount must be a positive number\"\n  ]\n}"
              schema:
                $ref: '#/components/schemas/ItpCreatePaymentInstruction400Response'
      deprecated: false
    get:
      tags:
        - ITP
      summary: List all ITPs
      operationId: Itp_listAll
      description: ''
      parameters:
        - description: A limit on the number of objects to be returned, between 1 and 50.
          name: limit
          in: query
          schema:
            type: integer
            format: int32
            default: 10
        - description: >-
            A cursor for use in pagination. ```before``` is an object ID that
            defines your place in the list. For instance, if you make a list
            request and receive 50 objects, starting with ```obj_bar```, your
            subsequent call can include ```before=obj_bar``` in order to fetch
            the previous page of the list.
          name: before
          in: query
          schema:
            type: string
        - description: >-
            A cursor for use in pagination. after is an object ID that defines
            your place in the list. For instance, if you make a list request and
            receive 50 objects, ending with obj_foo, your subsequent call can
            include after=obj_foo in order to fetch the next page of the list.
          name: after
          in: query
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                       "data":[
                          {
                             "id":"6a0b14a9-023c-4198-9ada-6e4684213340",
                             "code":"804a46a7-7012-4159-8782-1090e85e4afa",
                             "type":"STATIC",
                             "amount":4990,
                             "paidAmount":null,
                             "payload":"00020126580014BR.GOV.BCB.PIX01368ad59cd0-cd85-45eb-a443-b8824285c5f352040000530398654041.295802BR5924RPO GESTAO DE PAGAMENTOS6008SO PAULO6108000000006224052046193bc0333a468fa1ee6304A3E1",
                             "payer":{
                                "name":"Bruce Wayne",
                                "taxId":"37515868066"
                             },
                             "split":[
                                {
                                   "value":990,
                                   "recipientId":"009cb956-3b58-4731-927f-20225600b35b"
                                }
                             ],
                             "status":"PROCESSED",
                             "createdAt":"2022-06-06T11:48:21Z",
                             "processedAt":"2022-06-06T11:48:26Z",
                             "paidAt":null,
                             "failedAt":null,
                             "metadata":[
                                {
                                   "name":"CUSTOM_FIELD_NAME",
                                   "value":"CUSTOM_FIELD_VALUE"
                                }
                             ]
                          }
                       ],
                       "paging":{
                          "before":null,
                          "after":"aWQ6YzYyZjViNTAtZTNiOS0xMWVjLTk0OWEtNjFkMjljNjZlMmNm"
                       }
                    }
              schema:
                $ref: '#/components/schemas/ItpListAllResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/ItpListAll400Response'
      deprecated: false
  /itp-payments/{id}:
    get:
      tags:
        - ITP
      summary: Retrieve an ITP
      operationId: Itp_getItp
      description: ''
      parameters:
        - description: Unique identifier for the object.
          name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \t\"id\": \"6a0b14a9-023c-4198-9ada-6e4684213340\",\n  \t\"code\": \"804a46a7-7012-4159-8782-1090e85e4afa\",\n    \"type\": \"STATIC\",\n    \"amount\": 4990,\n    \"paidAmount\": null,\n    \"payload\": \"00020126580014BR.GOV.BCB.PIX01368ad59cd0-cd85-45eb-a443-b8824285c5f352040000530398654041.295802BR5924RPO GESTAO DE PAGAMENTOS6008SO PAULO6108000000006224052046193bc0333a468fa1ee6304A3E1\",\n    \"payer\": {\n      \"name\": \"Bruce Wayne\",\n      \"taxId\": \"37515868066\"\n    },\n    \"split\": [\n      {\n        \"value\": 990,\n        \"recipientId\": \"009cb956-3b58-4731-927f-20225600b35b\"\n      }\n    ],\n  \t\"status\": \"PROCESSED\",\n    \"createdAt\": \"2022-06-06T11:48:21Z\",\n    \"processedAt\": \"2022-06-06T11:48:26Z\",\n    \"paidAt\": null,\n    \"failedAt\": null,\n    \"metadata\": [\n      {\n        \"name\": \"CUSTOM_FIELD_NAME\", \n        \"value\": \"CUSTOM_FIELD_VALUE\"\n      }\n    ]\n}"
              schema:
                $ref: '#/components/schemas/ItpGetItpResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/ItpGetItp400Response'
      deprecated: false
  /boleto-payments:
    post:
      tags:
        - Boleto
      summary: Create a Boleto
      operationId: Boleto_createPayment
      description: ''
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BoletoCreatePaymentRequest'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "id": "6a0b14a9-023c-4198-9ada-6e4684213340",
                      "code": "40040b70-89be-40ad-ab7f-7a123cb7ab6a",
                      "amount": 990,
                      "paidAmount": null,
                      "description": "My order",
                      "expiresIn": 3,
                      "barcode": "001 9 337370000000100 05009 401448 16060680935031",
                      "pdf": "https://url.com",
                      "payer": {
                          "name": "Bruce Wayne",
                          "taxId": "06516763208" 
                      },
                      "split": null,
                      "status": "PROCESSED",
                      "createdAt": "2022-06-06T11:48:21Z",
                      "processedAt": "2022-06-06T11:48:26Z",
                      "paidAt": null,
                      "failedAt": null,
                      "metadata": null
                    }
              schema:
                $ref: '#/components/schemas/BoletoCreatePaymentResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n\t\"code\": \"INVALID_BODY\",\n  \"message\": \"Invalid body, check 'errors' property for more info.\",\n  \"errors\": [\n    \"amount must be a positive number\"\n  ]\n}"
              schema:
                $ref: '#/components/schemas/BoletoCreatePayment400Response'
      deprecated: false
    get:
      tags:
        - Boleto
      summary: List all Boletos
      operationId: Boleto_getAll
      description: ''
      parameters:
        - description: A limit on the number of objects to be returned, between 1 and 50.
          name: limit
          in: query
          schema:
            type: integer
            format: int32
            default: 10
        - description: >-
            A cursor for use in pagination. ```before``` is an object ID that
            defines your place in the list. For instance, if you make a list
            request and receive 50 objects, starting with ```obj_bar```, your
            subsequent call can include ```before=obj_bar``` in order to fetch
            the previous page of the list.
          name: before
          in: query
          schema:
            type: string
        - description: >-
            A cursor for use in pagination. after is an object ID that defines
            your place in the list. For instance, if you make a list request and
            receive 50 objects, ending with obj_foo, your subsequent call can
            include after=obj_foo in order to fetch the next page of the list.
          name: after
          in: query
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                       "data":[
                          {
                      "id": "6a0b14a9-023c-4198-9ada-6e4684213340",
                      "code": "40040b70-89be-40ad-ab7f-7a123cb7ab6a",
                      "amount": 990,
                      "paidAmount": null,
                      "description": "My order",
                      "expiresIn": 3,
                      "barcode": "001 9 337370000000100 05009 401448 16060680935031",
                      "pdf": "https://url.com",
                      "payer": {
                          "name": "Bruce Wayne",
                          "taxId": "06516763208" 
                      },
                      "split": null,
                      "status": "PROCESSED",
                      "createdAt": "2022-06-06T11:48:21Z",
                      "processedAt": "2022-06-06T11:48:26Z",
                      "paidAt": null,
                      "failedAt": null,
                      "metadata": null
                    }
                       ],
                       "paging":{
                          "before":null,
                          "after":"aWQ6YzYyZjViNTAtZTNiOS0xMWVjLTk0OWEtNjFkMjljNjZlMmNm"
                       }
                    }
              schema:
                $ref: '#/components/schemas/BoletoGetAllResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/BoletoGetAll400Response'
      deprecated: false
  /boleto-payments/{id}:
    get:
      tags:
        - Boleto
      summary: Retrieve a Boleto
      operationId: Boleto_getById
      description: ''
      parameters:
        - description: Unique identifier for the object.
          name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "id": "6a0b14a9-023c-4198-9ada-6e4684213340",
                      "code": "40040b70-89be-40ad-ab7f-7a123cb7ab6a",
                      "amount": 990,
                      "paidAmount": null,
                      "description": "My order",
                      "expiresIn": 3,
                      "barcode": "001 9 337370000000100 05009 401448 16060680935031",
                      "pdf": "https://url.com",
                      "payer": {
                          "name": "Bruce Wayne",
                          "taxId": "06516763208" 
                      },
                      "split": null,
                      "status": "PROCESSED",
                      "createdAt": "2022-06-06T11:48:21Z",
                      "processedAt": "2022-06-06T11:48:26Z",
                      "paidAt": null,
                      "failedAt": null,
                      "metadata": null
                    }
              schema:
                $ref: '#/components/schemas/BoletoGetByIdResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/BoletoGetById400Response'
      deprecated: false
  /bank-transfer-payments/{bankTransferId}:
    get:
      tags:
        - BankTransfer
      summary: Retrieve a Bank Transfer
      operationId: BankTransfer_getBankTransfer
      description: ''
      parameters:
        - name: bankTransferId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/BankTransferGetBankTransferResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/BankTransferGetBankTransfer400Response'
      deprecated: false
  /bank-transfer-payments:
    get:
      tags:
        - BankTransfer
      summary: List all Bank Transfers
      operationId: BankTransfer_listAllBankTransfers
      description: ''
      parameters:
        - description: A limit on the number of objects to be returned, between 1 and 50.
          name: limit
          in: query
          schema:
            type: string
            default: '10'
        - description: >-
            A cursor for use in pagination. ```before``` is an object ID that
            defines your place in the list. For instance, if you make a list
            request and receive 50 objects, starting with ```obj_bar```, your
            subsequent call can include ```before=obj_bar``` in order to fetch
            the previous page of the list.
          name: before
          in: query
          schema:
            type: string
        - description: >-
            A cursor for use in pagination. after is an object ID that defines
            your place in the list. For instance, if you make a list request and
            receive 50 objects, ending with obj_foo, your subsequent call can
            include after=obj_foo in order to fetch the next page of the list.
          name: after
          in: query
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/BankTransferListAllBankTransfersResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: >-
                  #/components/schemas/BankTransferListAllBankTransfers400Response
      deprecated: false
  /recipients:
    post:
      tags:
        - Recipient
      summary: Create a Recipient
      operationId: Recipient_createRecipient
      description: ''
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecipientCreateRecipientRequest'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"id\": \"80e579ff-e3a6-4573-84ff-30de777e7861\",\n  \"code\": \"a1fc515c-ce4a-45e0-8802-2696b2c0337a\",\n  \"name\": \"Bruce Wayne\",\n  \"taxId\": \"37515868066\",\n  \"type\": \"INDIVIDUAL\",\n  \"status\": \"ACTIVE\",\n  \"createdAt\": \"2022-06-08T15:02:00Z\",\n  \"updatedAt\": null,\n  \"deletedAt\": null,\n  \"metadata\": {\n  \t\"CUSTOM_FIELD_NAME\": \"CUSTOM_FIELD_VALUE\", \n  }\n}"
              schema:
                $ref: '#/components/schemas/RecipientCreateRecipientResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/RecipientCreateRecipient400Response'
      deprecated: false
    get:
      tags:
        - Recipient
      summary: List all Recipients
      operationId: Recipient_listAll
      description: ''
      parameters:
        - description: A limit on the number of objects to be returned, between 1 and 50.
          name: limit
          in: query
          schema:
            type: integer
            format: int32
            default: 10
        - description: >-
            A cursor for use in pagination. ```before``` is an object ID that
            defines your place in the list. For instance, if you make a list
            request and receive 50 objects, starting with ```obj_bar```, your
            subsequent call can include ```before=obj_bar``` in order to fetch
            the previous page of the list.
          name: before
          in: query
          schema:
            type: string
        - description: >-
            A cursor for use in pagination. after is an object ID that defines
            your place in the list. For instance, if you make a list request and
            receive 50 objects, ending with obj_foo, your subsequent call can
            include after=obj_foo in order to fetch the next page of the list.
          name: after
          in: query
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                       "data":[
                          {
                             "id": "80e579ff-e3a6-4573-84ff-30de777e7861",
                             "code": "a1fc515c-ce4a-45e0-8802-2696b2c0337a",
                             "name": "Bruce Wayne",
                             "taxId": "37515868066",
                             "type": "INDIVIDUAL",
                             "status": "ACTIVE",
                             "createdAt": "2022-06-08T15:02:00Z",
                             "updatedAt": null,
                             "deletedAt": null,
                             "metadata": {
                                "CUSTOM_FIELD_NAME": "CUSTOM_FIELD_VALUE"
                             }
                          }
                       ],
                       "paging": {
                         "before": "",
                         "after": "aWQ6YzYyZjViNTAtZTNiOS0xMWVjLTk0OWEtNjFkMjljNjZlMmNm"
                       }
                    }
              schema:
                $ref: '#/components/schemas/RecipientListAllResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/RecipientListAll400Response'
      deprecated: false
  /recipients/{id}:
    get:
      tags:
        - Recipient
      summary: Retrieve a Recipient
      operationId: Recipient_getById
      description: ''
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"id\": \"80e579ff-e3a6-4573-84ff-30de777e7861\",\n  \"code\": \"a1fc515c-ce4a-45e0-8802-2696b2c0337a\",\n  \"name\": \"Bruce Wayne\",\n  \"taxId\": \"37515868066\",\n  \"type\": \"INDIVIDUAL\",\n  \"status\": \"ACTIVE\",\n  \"createdAt\": \"2022-06-08T15:02:00Z\",\n  \"updatedAt\": null,\n  \"deletedAt\": null,\n  \"metadata\": {\n  \t\"CUSTOM_FIELD_NAME\": \"CUSTOM_FIELD_VALUE\", \n  }\n}"
              schema:
                $ref: '#/components/schemas/RecipientGetByIdResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/RecipientGetById400Response'
      deprecated: false
    put:
      tags:
        - Recipient
      summary: Update a Recipient
      operationId: Recipient_updateRecipientById
      description: ''
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"id\": \"80e579ff-e3a6-4573-84ff-30de777e7861\",\n  \"code\": \"a1fc515c-ce4a-45e0-8802-2696b2c0337a\",\n  \"name\": \"Bruce Wayne\",\n  \"taxId\": \"37515868066\",\n  \"type\": \"INDIVIDUAL\",\n  \"status\": \"ACTIVE\",\n  \"createdAt\": \"2022-06-08T15:02:00Z\",\n  \"updatedAt\": \"2022-06-08T15:02:00Z\",\n  \"deletedAt\": null,\n  \"metadata\": {\n  \t\"CUSTOM_FIELD_NAME\": \"CUSTOM_FIELD_VALUE\", \n  }\n}"
              schema:
                $ref: '#/components/schemas/RecipientUpdateRecipientByIdResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/RecipientUpdateRecipientById400Response'
      deprecated: false
  /recipients/{recipientId}/bank-accounts:
    post:
      tags:
        - Recipient
      summary: Create a Bank Account
      operationId: Recipient_createBankAccount
      description: ''
      parameters:
        - name: recipientId
          in: path
          schema:
            type: string
            default: DEFAULT
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecipientCreateBankAccountRequest'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"id\": \"a8a9c988-c2ba-44b9-af2d-ee6fcc00e269\",\n  \"code\": \"ade39877-cb26-42bc-b151-8e6eef84284d\",\n  \"holderName\": \"Bruce Wayne\",\n  \"holderTaxId\": \"37515868066\",\n  \"holderType\": \"INDIVIDUAL\",\n  \"branchNumber\": \"0001\",\n  \"accountNumber\": \"11111-1\",\n  \"bankId\": \"60701190\",\n  \"status\": \"ACTIVE\",\n  \"createdAt\": \"2022-06-06T11:48:21Z\",\n  \"updatedAt\": null,\n  \"deletedAt\": null,\n  \"metadata\": {\n  \t\"CUSTOM_FIELD_NAME\": \"CUSTOM_FIELD_VALUE\"\n  }\n}"
              schema:
                $ref: '#/components/schemas/RecipientCreateBankAccountResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/RecipientCreateBankAccount400Response'
      deprecated: false
    get:
      tags:
        - Recipient
      summary: List all Bank Accounts
      operationId: Recipient_listBankAccounts
      description: ''
      parameters:
        - name: recipientId
          in: path
          schema:
            type: string
            default: DEFAULT
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                       "data":[
                          {
                            "id": "a8a9c988-c2ba-44b9-af2d-ee6fcc00e269",
                            "code": "ade39877-cb26-42bc-b151-8e6eef84284d",
                            "holderName": "Bruce Wayne",
                            "holderTaxId": "37515868066",
                            "holderType": "INDIVIDUAL",
                            "branchNumber": "0001",
                            "accountNumber": "11111-1",
                            "bankId": "60701190",
                            "status": "ACTIVE",
                            "createdAt": "2022-06-06T11:48:21Z",
                            "updatedAt": null,
                            "deletedAt": null,
                            "metadata": {
                              "CUSTOM_FIELD_NAME": "CUSTOM_FIELD_VALUE"
                            }
                          }
                       ],
                       "paging": {
                         "before": "",
                         "after": "aWQ6YzYyZjViNTAtZTNiOS0xMWVjLTk0OWEtNjFkMjljNjZlMmNm"
                       }
                    }
              schema:
                $ref: '#/components/schemas/RecipientListBankAccountsResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/RecipientListBankAccounts400Response'
      deprecated: false
  /recipients/{recipientId}/bank-accounts/{bankAccountId}:
    get:
      tags:
        - Recipient
      summary: Retrieve a Bank Account
      operationId: Recipient_getBankAccount
      description: ''
      parameters:
        - name: recipientId
          in: path
          schema:
            type: string
            default: DEFAULT
          required: true
        - name: bankAccountId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"id\": \"a8a9c988-c2ba-44b9-af2d-ee6fcc00e269\",\n  \"code\": \"ade39877-cb26-42bc-b151-8e6eef84284d\",\n  \"holderName\": \"Bruce Wayne\",\n  \"holderTaxId\": \"37515868066\",\n  \"holderType\": \"INDIVIDUAL\",\n  \"branchNumber\": \"0001\",\n  \"accountNumber\": \"11111-1\",\n  \"bankId\": \"60701190\",\n  \"status\": \"ACTIVE\",\n  \"createdAt\": \"2022-06-06T11:48:21Z\",\n  \"updatedAt\": null,\n  \"deletedAt\": null,\n  \"metadata\": {\n  \t\"CUSTOM_FIELD_NAME\": \"CUSTOM_FIELD_VALUE\"\n  }\n}"
              schema:
                $ref: '#/components/schemas/RecipientGetBankAccountResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/RecipientGetBankAccount400Response'
      deprecated: false
    delete:
      tags:
        - Recipient
      summary: Delete a Bank Account
      operationId: Recipient_deleteBankAccount
      description: ''
      parameters:
        - name: recipientId
          in: path
          schema:
            type: string
            default: DEFAULT
          required: true
        - name: bankAccountId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"id\": \"a8a9c988-c2ba-44b9-af2d-ee6fcc00e269\",\n  \"code\": \"ade39877-cb26-42bc-b151-8e6eef84284d\",\n  \"holderName\": \"Bruce Wayne\",\n  \"holderTaxId\": \"37515868066\",\n  \"holderType\": \"INDIVIDUAL\",\n  \"branchNumber\": \"0001\",\n  \"accountNumber\": \"11111-1\",\n  \"bankId\": \"60701190\",\n  \"status\": \"DELETED\",\n  \"createdAt\": \"2022-06-06T11:48:21Z\",\n  \"updatedAt\": null,\n  \"deletedAt\": \"2022-06-06T11:48:21Z\",\n  \"metadata\": {\n  \t\"CUSTOM_FIELD_NAME\": \"CUSTOM_FIELD_VALUE\"\n  }\n}"
              schema:
                $ref: '#/components/schemas/RecipientDeleteBankAccountResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/RecipientDeleteBankAccount400Response'
      deprecated: false
  /recipients/{recipientId}/withdrawals:
    post:
      tags:
        - Recipient
      summary: Create a Withdrawal
      operationId: Recipient_createWithdrawal
      description: ''
      parameters:
        - name: recipientId
          in: path
          schema:
            type: string
            default: DEFAULT
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecipientCreateWithdrawalRequest'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"id\": \"86cfd98a-dcc5-4b67-b8d7-841e4a9f37fd\",\n  \"code\": \"45447b68-09fc-4af9-be82-d7b4df00fc3b\",\n  \"amount\": 990,\n  \"method\": \"PIX\",\n  \"status\": \"PROCESSED\",\n  \"createdAt\": \"2022-06-06T11:48:21Z\",\n  \"approvedAt\": \"2022-06-06T11:48:21Z\",\n  \"rejectedAt\": null,\n  \"processedAt\": \"2022-06-06T11:48:21Z\",\n  \"paidAt\": null,\n  \"failedAt\": null,\n  \"pixKey\": null,\n  \"bankAccount\": {\n    \"id\": \"a8a9c988-c2ba-44b9-af2d-ee6fcc00e269\",\n    \"code\": \"ade39877-cb26-42bc-b151-8e6eef84284d\",\n    \"holderName\": \"Bruce Wayne\",\n    \"holderTaxId\": \"37515868066\",\n    \"holderType\": \"INDIVIDUAL\",\n    \"branchNumber\": \"0001\",\n    \"accountNumber\": \"11111-1\",\n    \"bankId\": \"60701190\",\n    \"status\": \"ACTIVE\",\n    \"createdAt\": \"2022-06-06T11:48:21Z\",\n    \"updatedAt\": null,\n    \"deletedAt\": null,\n    \"metadata\": null\n  },\n  \"recipient\": {\n    \"id\": \"80e579ff-e3a6-4573-84ff-30de777e7861\",\n    \"code\": \"a1fc515c-ce4a-45e0-8802-2696b2c0337a\",\n    \"name\": \"Bruce Wayne\",\n    \"taxId\": \"37515868066\",\n    \"type\": \"INDIVIDUAL\",\n    \"status\": \"ACTIVE\",\n    \"createdAt\": \"2022-06-08T15:02:00Z\",\n    \"updatedAt\": null,\n    \"deletedAt\": null,\n    \"metadata\": null\n  },\n  \"metadata\": {\n  \t\"CUSTOM_FIELD_NAME\": \"CUSTOM_FIELD_VALUE\"\n  }\n}"
              schema:
                $ref: '#/components/schemas/RecipientCreateWithdrawalResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/RecipientCreateWithdrawal400Response'
      deprecated: false
    get:
      tags:
        - Recipient
      summary: List all Withdrawals
      operationId: Recipient_listWithdrawals
      description: ''
      parameters:
        - name: recipientId
          in: path
          schema:
            type: string
            default: DEFAULT
          required: true
        - description: A limit on the number of objects to be returned, between 1 and 50.
          name: limit
          in: query
          schema:
            type: string
            default: '10'
        - description: >-
            A cursor for use in pagination. ```before``` is an object ID that
            defines your place in the list. For instance, if you make a list
            request and receive 50 objects, starting with ```obj_bar```, your
            subsequent call can include ```before=obj_bar``` in order to fetch
            the previous page of the list.
          name: before
          in: query
          schema:
            type: string
        - description: >-
            A cursor for use in pagination. after is an object ID that defines
            your place in the list. For instance, if you make a list request and
            receive 50 objects, ending with obj_foo, your subsequent call can
            include after=obj_foo in order to fetch the next page of the list.
          name: after
          in: query
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n   \"data\": [\n      {\n         \"id\": \"86cfd98a-dcc5-4b67-b8d7-841e4a9f37fd\",\n         \"code\": \"45447b68-09fc-4af9-be82-d7b4df00fc3b\",\n         \"amount\": 990,\n         \"method\": \"PIX\",\n         \"status\": \"PAID\",\n         \"createdAt\": \"2022-06-06T11:48:21Z\",\n         \"approvedAt\": \"2022-06-06T11:48:21Z\",\n         \"rejectedAt\": null,\n         \"paidAt\":\" 2022-06-06T11:48:21Z\",\n         \"failedAt\": null,\n         \"pixKey\": null,\n         \"bankAccount\": {\n            \"id\": \"a8a9c988-c2ba-44b9-af2d-ee6fcc00e269\",\n            \"code\": \"ade39877-cb26-42bc-b151-8e6eef84284d\",\n            \"holderName\": \"Bruce Wayne\",\n            \"holderTaxId\": \"37515868066\",\n            \"holderType\": \"INDIVIDUAL\",\n            \"branchNumber\": \"0001\",\n            \"accountNumber\": \"11111-1\",\n            \"bankId\": \"60701190\",\n            \"status\": \"ACTIVE\",\n            \"createdAt\": \"2022-06-06T11:48:21Z\",\n            \"updatedAt\": null,\n            \"deletedAt\": null,\n            \"metadata\": null\n         },\n         \"recipient\": {\n            \"id\": \"80e579ff-e3a6-4573-84ff-30de777e7861\",\n            \"code\": \"a1fc515c-ce4a-45e0-8802-2696b2c0337a\",\n            \"name\": \"Bruce Wayne\",\n            \"taxId\": \"37515868066\",\n            \"type\": \"INDIVIDUAL\",\n            \"status\": \"ACTIVE\",\n            \"createdAt\": \"2022-06-08T15:02:00Z\",\n            \"updatedAt\": null,\n            \"deletedAt\": null,\n            \"metadata\": null\n         },\n         \"metadata\": {\n         \t\t\"CUSTOM_FIELD_NAME\": \"CUSTOM_FIELD_VALUE\"\n         }\n      }\n   ],\n   \"paging\": {\n      \"before\": \"\",\n      \"after\": \"aWQ6YzYyZjViNTAtZTNiOS0xMWVjLTk0OWEtNjFkMjljNjZlMmNm\"\n   }\n}"
              schema:
                $ref: '#/components/schemas/RecipientListWithdrawalsResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/RecipientListWithdrawals400Response'
      deprecated: false
  /recipients/{recipientId}/withdrawals/{withdrawalId}:
    get:
      tags:
        - Recipient
      summary: Retrieve a Withdrawal
      operationId: Recipient_getWithdrawalById
      description: ''
      parameters:
        - name: recipientId
          in: path
          schema:
            type: string
            default: DEFAULT
          required: true
        - name: withdrawalId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"id\": \"86cfd98a-dcc5-4b67-b8d7-841e4a9f37fd\",\n  \"code\": \"45447b68-09fc-4af9-be82-d7b4df00fc3b\",\n  \"amount\": 990,\n  \"method\": \"PIX\",\n  \"status\": \"PAID\",\n  \"createdAt\": \"2022-06-06T11:48:21Z\",\n  \"approvedAt\": \"2022-06-06T11:48:21Z\",\n  \"rejectedAt\": null,\n  \"paidAt\": \"2022-06-06T11:48:21Z\",\n  \"failedAt\": null,\n  \"pixKey\": null,\n  \"bankAccount\": {\n    \"id\": \"a8a9c988-c2ba-44b9-af2d-ee6fcc00e269\",\n    \"code\": \"ade39877-cb26-42bc-b151-8e6eef84284d\",\n    \"holderName\": \"Bruce Wayne\",\n    \"holderTaxId\": \"37515868066\",\n    \"holderType\": \"INDIVIDUAL\",\n    \"branchNumber\": \"0001\",\n    \"accountNumber\": \"11111-1\",\n    \"bankId\": \"60701190\",\n    \"status\": \"ACTIVE\",\n    \"createdAt\": \"2022-06-06T11:48:21Z\",\n    \"updatedAt\": null,\n    \"deletedAt\": null,\n    \"metadata\": null\n  },\n  \"recipient\": {\n    \"id\": \"80e579ff-e3a6-4573-84ff-30de777e7861\",\n    \"code\": \"a1fc515c-ce4a-45e0-8802-2696b2c0337a\",\n    \"name\": \"Bruce Wayne\",\n    \"taxId\": \"37515868066\",\n    \"type\": \"INDIVIDUAL\",\n    \"status\": \"ACTIVE\",\n    \"createdAt\": \"2022-06-08T15:02:00Z\",\n    \"updatedAt\": null,\n    \"deletedAt\": null,\n    \"metadata\": null\n  },\n  \"metadata\": {\n  \t\"CUSTOM_FIELD_NAME\": \"CUSTOM_FIELD_VALUE\"\n  }\n}"
              schema:
                $ref: '#/components/schemas/RecipientGetWithdrawalByIdResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/RecipientGetWithdrawalById400Response'
      deprecated: false
  /recipients/{recipientId}/balance:
    get:
      tags:
        - Recipient
      summary: Get Balance
      operationId: Recipient_getBalance
      description: ''
      parameters:
        - name: recipientId
          in: path
          schema:
            type: string
            default: DEFAULT
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/RecipientGetBalanceResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/RecipientGetBalance400Response'
      deprecated: false
  /recipients/{recipientId}/transactions:
    get:
      tags:
        - Recipient
      summary: List all Transactions
      operationId: Recipient_listTransactions
      description: ''
      parameters:
        - name: recipientId
          in: path
          schema:
            type: string
            default: DEFAULT
          required: true
        - description: A limit on the number of objects to be returned, between 1 and 50.
          name: limit
          in: query
          schema:
            type: string
            default: '10'
        - description: >-
            A cursor for use in pagination. ```before``` is an object ID that
            defines your place in the list. For instance, if you make a list
            request and receive 50 objects, starting with ```obj_bar```, your
            subsequent call can include ```before=obj_bar``` in order to fetch
            the previous page of the list.
          name: before
          in: query
          schema:
            type: string
        - description: >-
            A cursor for use in pagination. after is an object ID that defines
            your place in the list. For instance, if you make a list request and
            receive 50 objects, ending with obj_foo, your subsequent call can
            include after=obj_foo in order to fetch the next page of the list.
          name: after
          in: query
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/RecipientListTransactionsResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/RecipientListTransactions400Response'
      deprecated: false
  /webhooks/{id}/attempts:
    post:
      tags:
        - Webhook
      summary: Resend a Webhook
      operationId: Webhook_resendAttempt
      description: ''
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                       "id": "89f4209f-b574-4582-86b6-98584b4f65ef",
                       "event": "payment.paid",
                       "object": {
                          "id": "b6d9473e-5612-4a51-a854-d1d9f62e60e0",
                          "type": "BankTransferPayment"
                       },
                       "signature": "e91aa3f03c7699db37e070ad4224a15c7b39dd383d2b0aef6f270f0a10d42772",
                       "responses": [
                         {
                           "code": 200,
                           "time": 289,
                           "at": "2022-06-06T11:49:03Z"
                         }
                       ],
                       "data": {
                          "id": "96f42ef0-00b1-11ed-bb3a-098b2c4afa72",
                          "code": "ffa16dae-ac66-4830-8984-171f306ca8d7",
                          "transactionId": "E00416968202207061808Ymqobao0YFb",
                          "amount": 1990,
                          "paidAmount": 1990,
                          "method": "BANK_TRANSFER",
                          "status": "PAID",
                          "createdAt": "2022-07-11T00:37:06.009Z",
                          "processedAt": "2022-07-11T00:37:06.116Z",
                          "paidAt": "2022-07-06T00:00:00.000Z",
                          "failedAt": null,
                          "split": [],
                          "payer":{
                             "name": "Bruce Wayne",
                             "taxId": "13703591013"
                          },
                          "source": {
                             "bankName": "ITAÚ UNIBANCO S.A.",
                             "branchNumber": "1",
                             "accountNumber": "99999"
                          },
                          "destination": {
                             "bankName": "NU PAGAMENTOS S.A.",
                             "branchNumber": "1",
                             "accountNumber": "199060"
                          }
                       },
                      "status": "DELIVERED",
                      "createdAt": "2022-06-06T11:48:21Z",
                      "queuedAt": "2022-06-06T11:48:22Z",
                      "deliveredAt": "2022-06-06T11:49:03Z",
                      "failedAt": null,
                      "lastAttemptAt": "2022-06-06T11:49:01Z",
                      "nextAttemptAt": null,
                      "endpointId": "33d8034f-6e13-4d15-b1b4-d88fcced590d",
                      "organizationId": "bd0b3148-8772-4854-8a97-be409ed1ffa8"
                    }
              schema:
                $ref: '#/components/schemas/WebhookResendAttemptResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/WebhookResendAttempt400Response'
      deprecated: false
  /webhooks/{id}:
    get:
      tags:
        - Webhook
      summary: Retrieve a Webhook
      operationId: Webhook_get
      description: ''
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                       "id": "89f4209f-b574-4582-86b6-98584b4f65ef",
                       "event": "payment.paid",
                       "object": {
                          "id": "b6d9473e-5612-4a51-a854-d1d9f62e60e0",
                          "type": "BankTransferPayment"
                       },
                       "signature": "e91aa3f03c7699db37e070ad4224a15c7b39dd383d2b0aef6f270f0a10d42772",
                       "responses": [
                         {
                           "code": 200,
                           "time": 289,
                           "at": "2022-06-06T11:49:03Z"
                         }
                       ],
                       "data": {
                          "id": "96f42ef0-00b1-11ed-bb3a-098b2c4afa72",
                          "code": "ffa16dae-ac66-4830-8984-171f306ca8d7",
                          "transactionId": "E00416968202207061808Ymqobao0YFb",
                          "amount": 1990,
                          "paidAmount": 1990,
                          "method": "BANK_TRANSFER",
                          "status": "PAID",
                          "createdAt": "2022-07-11T00:37:06.009Z",
                          "processedAt": "2022-07-11T00:37:06.116Z",
                          "paidAt": "2022-07-06T00:00:00.000Z",
                          "failedAt": null,
                          "split": [],
                          "payer":{
                             "name": "Bruce Wayne",
                             "taxId": "13703591013"
                          },
                          "source": {
                             "bankName": "ITAÚ UNIBANCO S.A.",
                             "branchNumber": "1",
                             "accountNumber": "99999"
                          },
                          "destination": {
                             "bankName": "NU PAGAMENTOS S.A.",
                             "branchNumber": "1",
                             "accountNumber": "199060"
                          }
                       },
                      "status": "DELIVERED",
                      "createdAt": "2022-06-06T11:48:21Z",
                      "queuedAt": "2022-06-06T11:48:22Z",
                      "deliveredAt": "2022-06-06T11:49:03Z",
                      "failedAt": null,
                      "lastAttemptAt": "2022-06-06T11:49:01Z",
                      "nextAttemptAt": null,
                      "endpointId": "33d8034f-6e13-4d15-b1b4-d88fcced590d",
                      "organizationId": "bd0b3148-8772-4854-8a97-be409ed1ffa8"
                    }
              schema:
                $ref: '#/components/schemas/WebhookGetResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/WebhookGet400Response'
      deprecated: false
  /webhooks:
    get:
      tags:
        - Webhook
      summary: List all Webhooks
      operationId: Webhook_listAll
      description: ''
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum:
              - PENDING
              - QUEUED
              - DELIVERED
              - FAILED
        - name: event
          in: query
          schema:
            type: string
        - name: endpointId
          in: query
          schema:
            type: string
        - description: A limit on the number of objects to be returned, between 1 and 50.
          name: limit
          in: query
          schema:
            type: integer
            format: int32
            default: 10
        - description: >-
            A cursor for use in pagination. ```before``` is an object ID that
            defines your place in the list. For instance, if you make a list
            request and receive 50 objects, starting with ```obj_bar```, your
            subsequent call can include ```before=obj_bar``` in order to fetch
            the previous page of the list.
          name: before
          in: query
          schema:
            type: string
        - description: >-
            A cursor for use in pagination. after is an object ID that defines
            your place in the list. For instance, if you make a list request and
            receive 50 objects, ending with obj_foo, your subsequent call can
            include after=obj_foo in order to fetch the next page of the list.
          name: after
          in: query
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                       "data": [
                          {
                           "id": "89f4209f-b574-4582-86b6-98584b4f65ef",
                           "event": "payment.paid",
                           "object": {
                              "id": "b6d9473e-5612-4a51-a854-d1d9f62e60e0",
                              "type": "BankTransferPayment"
                           },
                           "signature": "e91aa3f03c7699db37e070ad4224a15c7b39dd383d2b0aef6f270f0a10d42772",
                           "responses": [
                             {
                               "code": 200,
                               "time": 289,
                               "at": "2022-06-06T11:49:03Z"
                             }
                           ],
                           "data": {
                              "id": "96f42ef0-00b1-11ed-bb3a-098b2c4afa72",
                              "code": "ffa16dae-ac66-4830-8984-171f306ca8d7",
                              "transactionId": "E00416968202207061808Ymqobao0YFb",
                              "amount": 1990,
                              "paidAmount": 1990,
                              "method": "BANK_TRANSFER",
                              "status": "PAID",
                              "createdAt": "2022-07-11T00:37:06.009Z",
                              "processedAt": "2022-07-11T00:37:06.116Z",
                              "paidAt": "2022-07-06T00:00:00.000Z",
                              "failedAt": null,
                              "split": [],
                              "payer":{
                                 "name": "Bruce Wayne",
                                 "taxId": "13703591013"
                              },
                              "source": {
                                 "bankName": "ITAÚ UNIBANCO S.A.",
                                 "branchNumber": "1",
                                 "accountNumber": "99999"
                              },
                              "destination": {
                                 "bankName": "NU PAGAMENTOS S.A.",
                                 "branchNumber": "1",
                                 "accountNumber": "199060"
                              }
                           },
                          "status": "DELIVERED",
                          "createdAt": "2022-06-06T11:48:21Z",
                          "queuedAt": "2022-06-06T11:48:22Z",
                          "deliveredAt": "2022-06-06T11:49:03Z",
                          "failedAt": null,
                          "lastAttemptAt": "2022-06-06T11:49:01Z",
                          "nextAttemptAt": null,
                          "endpointId": "33d8034f-6e13-4d15-b1b4-d88fcced590d",
                          "organizationId": "bd0b3148-8772-4854-8a97-be409ed1ffa8"
                        }
                       ],
                       "paging": {
                          "before": "",
                          "after": "aWQ6YzYyZjViNTAtZTNiOS0xMWVjLTk0OWEtNjFkMjljNjZlMmNm"
                       }
                    }
              schema:
                $ref: '#/components/schemas/WebhookListAllResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/WebhookListAll400Response'
      deprecated: false
components:
  securitySchemes:
    sec0:
      type: http
      scheme: basic
      flows: {}
  schemas:
    TokenGenerateAccessTokenRequest:
      type: object
      required:
        - refreshToken
      properties:
        refreshToken:
          description: >-
            The Refresh Token is used to get a new Access Token, when the old
            one expires.
          type: string
    QrCodeGenerateQrCodeRequest:
      type: object
      required:
        - amount
      properties:
        code:
          description: Unique identifier for the object in your system.
          type: string
        amount:
          description: Amount in cents to be paid.
          type: integer
          format: int32
        payer:
          description: This object represents a payer of the payment.
          type: object
          properties:
            name:
              description: The customer’s full name or business name.
              type: string
            taxId:
              description: >-
                The tax ID of the customer (CPF for individual customers or CNPJ
                for businesses customers)
              type: string
        split:
          description: >-
            This object represents a list of recipients who will receive part of
            the payment.
          type: array
          items:
            properties:
              value:
                type: integer
                format: int32
              recipientId:
                type: string
            required:
              - value
              - recipientId
            type: object
        metadata:
          description: >-
            Set of key-value pairs that you can attach to an object. This can be
            useful for storing additional information about the object in a
            structured format.
          type: array
          items:
            properties:
              name:
                description: The name of the custom field.
                type: string
              value:
                description: The value of the custom field.
                type: string
            type: object
    ItpCreatePaymentInstructionRequest:
      type: object
      required:
        - amount
        - payer
      properties:
        code:
          description: Unique identifier for the object in your system.
          type: string
        amount:
          description: Amount in cents to be paid.
          type: integer
          format: int32
        payer:
          description: This object represents a payer of the payment.
          type: object
          properties:
            name:
              description: The customer’s full name or business name.
              type: string
            taxId:
              description: >-
                The tax ID of the customer (CPF for individual customers or CNPJ
                for businesses customers)
              type: string
        split:
          description: >-
            This object represents a list of recipients who will receive part of
            the payment.
          type: array
          items:
            properties:
              value:
                type: integer
                format: int32
              recipientId:
                type: string
            required:
              - value
              - recipientId
            type: object
        metadata:
          description: >-
            Set of key-value pairs that you can attach to an object. This can be
            useful for storing additional information about the object in a
            structured format.
          type: array
          items:
            properties:
              name:
                description: The name of the custom field.
                type: string
              value:
                description: The value of the custom field.
                type: string
            type: object
    BoletoCreatePaymentRequest:
      type: object
      required:
        - amount
        - description
        - payer
      properties:
        description:
          type: string
        code:
          description: Unique identifier for the object in your system.
          type: string
        amount:
          description: Amount in cents to be paid.
          type: integer
          format: int32
        expiresIn:
          type: integer
          format: int32
        payer:
          description: This object represents a payer of the payment.
          type: object
          properties:
            name:
              description: The customer’s full name or business name.
              type: string
            taxId:
              description: >-
                The tax ID of the customer (CPF for individual customers or CNPJ
                for businesses customers)
              type: string
        split:
          description: >-
            This object represents a list of recipients who will receive part of
            the payment.
          type: array
          items:
            properties:
              value:
                type: integer
                format: int32
              recipientId:
                type: string
            required:
              - value
              - recipientId
            type: object
        metadata:
          description: >-
            Set of key-value pairs that you can attach to an object. This can be
            useful for storing additional information about the object in a
            structured format.
          type: array
          items:
            properties:
              name:
                description: The name of the custom field.
                type: string
              value:
                description: The value of the custom field.
                type: string
            type: object
    RecipientCreateRecipientRequest:
      type: object
      required:
        - name
        - taxId
        - type
      properties:
        code:
          description: Unique identifier for the object in your system.
          type: string
        name:
          description: The name of the recipient.
          type: string
        taxId:
          description: >-
            The tax ID of the recipient (CPF for individual recipients or CNPJ
            for businesses recipients).
          type: string
        type:
          description: The type of the recipient.
          type: string
          enum:
            - INDIVIDUAL
            - COMPANY
        metadata:
          description: >-
            Set of key-value pairs that you can attach to an object. This can be
            useful for storing additional information about the object in a
            structured format.
          type: array
          items:
            properties:
              name:
                description: The name of the custom field.
                type: string
              value:
                description: The value of the custom field.
                type: string
            type: object
    RecipientCreateBankAccountRequest:
      type: object
      required:
        - holderName
        - holderTaxId
        - holderType
        - branchNumber
        - accountNumber
        - bankId
      properties:
        type:
          description: The type of bank account. Can be CHEKING or SAVINGS.
          type: string
          default: CHECKING
          enum:
            - CHECKING
            - SAVINGS
        holderName:
          description: The name of the person or business that owns the bank account.
          type: string
        holderTaxId:
          description: >-
            The tax ID of the account holder (CPF for individual account holders
            or CNPJ for businesses account holders).
          type: string
        holderType:
          description: >-
            The type of entity that holds the account. Can be INDIVIDUAL or
            COMPANY.
          type: string
          enum:
            - INDIVIDUAL
            - COMPANY
        branchNumber:
          type: string
        accountNumber:
          type: string
        bankId:
          description: The ID of the bank associated with the account.
          type: string
    RecipientCreateWithdrawalRequest:
      type: object
      required:
        - amount
        - method
      properties:
        code:
          description: Unique identifier for the object in your system.
          type: string
        amount:
          description: Amount in cents to be transferred.
          type: integer
          format: int32
        method:
          description: The method of the withdrawal.
          type: string
          enum:
            - STANDARD
            - PIX
        pixKey:
          description: >-
            The PIX key of the destination bank account. Required if method is
            PIX
          type: string
        expectedHolderTaxId:
          description: >-
            The expected TaxId for the bank account holder. If the TaxId of a
            pix key is different from this field, the withdrawal status will be
            failed.
          type: string
        bankAccount:
          description: The destination bank account. Required if method is STANDARD.
          type: object
          required:
            - holderName
            - holderTaxId
            - holderType
            - branchNumber
            - accountNumber
            - bankId
          properties:
            type:
              description: The type of bank account. Can be CHEKING or SAVINGS.
              type: string
              default: CHECKING
              enum:
                - CHECKING
                - SAVINGS
            holderName:
              description: The name of the person or business that owns the bank account.
              type: string
            holderTaxId:
              description: >-
                The tax ID of the account holder (CPF for individual account
                holders or CNPJ for businesses account holders).
              type: string
            holderType:
              description: >-
                The type of entity that holds the account. Can be INDIVIDUAL or
                COMPANY.
              type: string
              enum:
                - INDIVIDUAL
                - COMPANY
            branchNumber:
              type: string
            accountNumber:
              type: string
            bankId:
              description: The ID of the bank associated with the account.
              type: string
        bankAccountId:
          description: >-
            The ID of the destination bank account. Required if method is
            STANDARD.
          type: string
        metadata:
          description: >-
            Set of key-value pairs that you can attach to an object. This can be
            useful for storing additional information about the object in a
            structured format.
          type: array
          items:
            properties:
              name:
                description: The name of the custom field.
                type: string
              value:
                description: The value of the custom field.
                type: string
            type: object
    TokenGenerateAccessTokenResponse:
      type: object
      properties:
        token:
          type: string
          example: >-
            eyJraWQiOiJwb1NPeDI0VHRmbDZCYjdaZ3RcL296WGpqUzMrTVlkYTNScXdON1dVSXJkbz0iLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiIyZjE5MDk0Mi1jMjY5LTQxMjQtOTNkNy01YTdmYTkwMTQ0YzkiLCJpc3MiOiJodHRwczpcL1wvY29nbml0by1pZHAuc2EtZWFzdC0xLmFtYXpvbmF3cy5jb21cL3NhLWVhc3QtMV82eWdMcFJLMGUiLCJjbGllbnRfaWQiOiIyNXQwOGxwaHYwN2IzZnZqZ2FqcTNsczFrcCIsIm9yaWdpbl9qdGkiOiIzZWZjODY1Yi01MzU2LTQwNWMtOTQxYy1iNmExM2I3ODFhNWYiLCJldmVudF9pZCI6ImMyMTM1NjgzLWY3YTUtNGMxYy04MzUzLWM3MTUyNmQ2NDU5YyIsInRva2VuX3VzZSI6ImFjY2VzcyIsInNjb3BlIjoiYXdzLmNvZ25pdG8uc2lnbmluLnVzZXIuYWRtaW4iLCJhdXRoX3RpbWUiOjE2NTQ4MTY3OTgsImV4cCI6MTY1NDgyMDUyNCwiaWF0IjoxNjU0ODE2OTI0LCJqdGkiOiI2ZmVhODZiNC1kNDVmLTRhOGQtYjEwYi1iOWRhNzkzODQyZmQiLCJ1c2VybmFtZSI6ImNhcmxvc3BlY2FuaGEyQG91dGxvb2suY29tIn0.PfKd8rpnq9xPO3IwSRkDuBDx0VjN41ABKvm0xIybNCxWh5N1b7HZsTPxjh6GiDoHWYnr8_HCzXqk0MQXYHt7ybHKIFPKqOaA4VpBrb-WaazwSAGdTJFt3grZb4KP-ab2gKaYMji9x1l_SDAaEU-frEHErOnJwyMPi1dn2pZAKJMp4p7IIctwYTFITokP4Lqn7amy_PHlsXoNlUPV0BoNBrFFq-sp22NXSdDtIsdSkyRlGqlOHNTd2zMNqqKCFx3lBt1dPfm6gPvx_mwlOiT0icAXwUOsXxi22P5HgEoh3HJw2NneP9xC8Mw1BQvhBdmfnmANQzIHWkFfBMCQo3xF5w
        expiresIn:
          type: integer
          example: 3600
          default: 0
        type:
          type: string
          example: Bearer
    TokenGenerateAccessToken400Response:
      type: object
      properties: {}
    QrCodeListAllResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                example: 6a0b14a9-023c-4198-9ada-6e4684213340
              code:
                type: string
                example: 804a46a7-7012-4159-8782-1090e85e4afa
              type:
                type: string
                example: STATIC
              amount:
                type: integer
                example: 4990
                default: 0
              paidAmount: {}
              payload:
                type: string
                example: >-
                  00020126580014BR.GOV.BCB.PIX01368ad59cd0-cd85-45eb-a443-b8824285c5f352040000530398654041.295802BR5924RPO
                  GESTAO DE PAGAMENTOS6008SO
                  PAULO6108000000006224052046193bc0333a468fa1ee6304A3E1
              payer:
                type: object
                properties:
                  name:
                    type: string
                    example: Bruce Wayne
                  taxId:
                    type: string
                    example: '37515868066'
              split:
                type: array
                items:
                  type: object
                  properties:
                    value:
                      type: integer
                      example: 990
                      default: 0
                    recipientId:
                      type: string
                      example: 009cb956-3b58-4731-927f-20225600b35b
              status:
                type: string
                example: PROCESSED
              createdAt:
                type: string
                example: '2022-06-06T11:48:21Z'
              processedAt:
                type: string
                example: '2022-06-06T11:48:26Z'
              paidAt: {}
              failedAt: {}
              metadata:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                      example: CUSTOM_FIELD_NAME
                    value:
                      type: string
                      example: CUSTOM_FIELD_VALUE
        paging:
          type: object
          properties:
            before: {}
            after:
              type: string
              example: aWQ6YzYyZjViNTAtZTNiOS0xMWVjLTk0OWEtNjFkMjljNjZlMmNm
    QrCodeListAll400Response:
      type: object
      properties: {}
    QrCodeGenerateQrCodeResponse:
      type: object
      properties:
        id:
          type: string
          example: 6a0b14a9-023c-4198-9ada-6e4684213340
        code:
          type: string
          example: 804a46a7-7012-4159-8782-1090e85e4afa
        type:
          type: string
          example: STATIC
        amount:
          type: integer
          example: 4990
          default: 0
        paidAmount: {}
        payload:
          type: string
          example: >-
            00020126580014BR.GOV.BCB.PIX01368ad59cd0-cd85-45eb-a443-b8824285c5f352040000530398654041.295802BR5924RPO
            GESTAO DE PAGAMENTOS6008SO
            PAULO6108000000006224052046193bc0333a468fa1ee6304A3E1
        payer:
          type: object
          properties:
            name:
              type: string
              example: Bruce Wayne
            taxId:
              type: string
              example: '37515868066'
        split:
          type: array
          items:
            type: object
            properties:
              value:
                type: integer
                example: 990
                default: 0
              recipientId:
                type: string
                example: 009cb956-3b58-4731-927f-20225600b35b
        status:
          type: string
          example: PROCESSED
        createdAt:
          type: string
          example: '2022-06-06T11:48:21Z'
        processedAt:
          type: string
          example: '2022-06-06T11:48:26Z'
        paidAt: {}
        failedAt: {}
        metadata:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                example: CUSTOM_FIELD_NAME
              value:
                type: string
                example: CUSTOM_FIELD_VALUE
    QrCodeGenerateQrCode400Response:
      type: object
      properties:
        code:
          type: string
          example: INVALID_BODY
        message:
          type: string
          example: Invalid body, check 'errors' property for more info.
        errors:
          type: array
          items:
            type: string
            example: amount must be a positive number
    QrCodeGetQrCodeByIdResponse:
      type: object
      properties:
        id:
          type: string
          example: 6a0b14a9-023c-4198-9ada-6e4684213340
        code:
          type: string
          example: 804a46a7-7012-4159-8782-1090e85e4afa
        type:
          type: string
          example: STATIC
        amount:
          type: integer
          example: 4990
          default: 0
        paidAmount: {}
        payload:
          type: string
          example: >-
            00020126580014BR.GOV.BCB.PIX01368ad59cd0-cd85-45eb-a443-b8824285c5f352040000530398654041.295802BR5924RPO
            GESTAO DE PAGAMENTOS6008SO
            PAULO6108000000006224052046193bc0333a468fa1ee6304A3E1
        payer:
          type: object
          properties:
            name:
              type: string
              example: Bruce Wayne
            taxId:
              type: string
              example: '37515868066'
        split:
          type: array
          items:
            type: object
            properties:
              value:
                type: integer
                example: 990
                default: 0
              recipientId:
                type: string
                example: 009cb956-3b58-4731-927f-20225600b35b
        status:
          type: string
          example: PROCESSED
        createdAt:
          type: string
          example: '2022-06-06T11:48:21Z'
        processedAt:
          type: string
          example: '2022-06-06T11:48:26Z'
        paidAt: {}
        failedAt: {}
        metadata:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                example: CUSTOM_FIELD_NAME
              value:
                type: string
                example: CUSTOM_FIELD_VALUE
    QrCodeGetQrCodeById400Response:
      type: object
      properties: {}
    ItpListAllResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                example: 6a0b14a9-023c-4198-9ada-6e4684213340
              code:
                type: string
                example: 804a46a7-7012-4159-8782-1090e85e4afa
              type:
                type: string
                example: STATIC
              amount:
                type: integer
                example: 4990
                default: 0
              paidAmount: {}
              payload:
                type: string
                example: >-
                  00020126580014BR.GOV.BCB.PIX01368ad59cd0-cd85-45eb-a443-b8824285c5f352040000530398654041.295802BR5924RPO
                  GESTAO DE PAGAMENTOS6008SO
                  PAULO6108000000006224052046193bc0333a468fa1ee6304A3E1
              payer:
                type: object
                properties:
                  name:
                    type: string
                    example: Bruce Wayne
                  taxId:
                    type: string
                    example: '37515868066'
              split:
                type: array
                items:
                  type: object
                  properties:
                    value:
                      type: integer
                      example: 990
                      default: 0
                    recipientId:
                      type: string
                      example: 009cb956-3b58-4731-927f-20225600b35b
              status:
                type: string
                example: PROCESSED
              createdAt:
                type: string
                example: '2022-06-06T11:48:21Z'
              processedAt:
                type: string
                example: '2022-06-06T11:48:26Z'
              paidAt: {}
              failedAt: {}
              metadata:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                      example: CUSTOM_FIELD_NAME
                    value:
                      type: string
                      example: CUSTOM_FIELD_VALUE
        paging:
          type: object
          properties:
            before: {}
            after:
              type: string
              example: aWQ6YzYyZjViNTAtZTNiOS0xMWVjLTk0OWEtNjFkMjljNjZlMmNm
    ItpListAll400Response:
      type: object
      properties: {}
    ItpCreatePaymentInstructionResponse:
      type: object
      properties:
        id:
          type: string
          example: 6a0b14a9-023c-4198-9ada-6e4684213340
        code:
          type: string
          example: 804a46a7-7012-4159-8782-1090e85e4afa
        type:
          type: string
          example: STATIC
        amount:
          type: integer
          example: 4990
          default: 0
        paidAmount: {}
        payload:
          type: string
          example: >-
            00020126580014BR.GOV.BCB.PIX01368ad59cd0-cd85-45eb-a443-b8824285c5f352040000530398654041.295802BR5924RPO
            GESTAO DE PAGAMENTOS6008SO
            PAULO6108000000006224052046193bc0333a468fa1ee6304A3E1
        payer:
          type: object
          properties:
            name:
              type: string
              example: Bruce Wayne
            taxId:
              type: string
              example: '37515868066'
        split:
          type: array
          items:
            type: object
            properties:
              value:
                type: integer
                example: 990
                default: 0
              recipientId:
                type: string
                example: 009cb956-3b58-4731-927f-20225600b35b
        status:
          type: string
          example: PROCESSED
        createdAt:
          type: string
          example: '2022-06-06T11:48:21Z'
        processedAt:
          type: string
          example: '2022-06-06T11:48:26Z'
        paidAt: {}
        failedAt: {}
        metadata:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                example: CUSTOM_FIELD_NAME
              value:
                type: string
                example: CUSTOM_FIELD_VALUE
    ItpCreatePaymentInstruction400Response:
      type: object
      properties:
        code:
          type: string
          example: INVALID_BODY
        message:
          type: string
          example: Invalid body, check 'errors' property for more info.
        errors:
          type: array
          items:
            type: string
            example: amount must be a positive number
    ItpGetItpResponse:
      type: object
      properties:
        id:
          type: string
          example: 6a0b14a9-023c-4198-9ada-6e4684213340
        code:
          type: string
          example: 804a46a7-7012-4159-8782-1090e85e4afa
        type:
          type: string
          example: STATIC
        amount:
          type: integer
          example: 4990
          default: 0
        paidAmount: {}
        payload:
          type: string
          example: >-
            00020126580014BR.GOV.BCB.PIX01368ad59cd0-cd85-45eb-a443-b8824285c5f352040000530398654041.295802BR5924RPO
            GESTAO DE PAGAMENTOS6008SO
            PAULO6108000000006224052046193bc0333a468fa1ee6304A3E1
        payer:
          type: object
          properties:
            name:
              type: string
              example: Bruce Wayne
            taxId:
              type: string
              example: '37515868066'
        split:
          type: array
          items:
            type: object
            properties:
              value:
                type: integer
                example: 990
                default: 0
              recipientId:
                type: string
                example: 009cb956-3b58-4731-927f-20225600b35b
        status:
          type: string
          example: PROCESSED
        createdAt:
          type: string
          example: '2022-06-06T11:48:21Z'
        processedAt:
          type: string
          example: '2022-06-06T11:48:26Z'
        paidAt: {}
        failedAt: {}
        metadata:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                example: CUSTOM_FIELD_NAME
              value:
                type: string
                example: CUSTOM_FIELD_VALUE
    ItpGetItp400Response:
      type: object
      properties: {}
    BoletoGetAllResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              description:
                type: string
                example: My order
              id:
                type: string
                example: 6a0b14a9-023c-4198-9ada-6e4684213340
              code:
                type: string
                example: 40040b70-89be-40ad-ab7f-7a123cb7ab6a
              amount:
                type: integer
                example: 990
                default: 0
              paidAmount: {}
              expiresIn:
                type: integer
                example: 3
                default: 0
              barcode:
                type: string
                example: 001 9 337370000000100 05009 401448 16060680935031
              pdf:
                type: string
                example: https://url.com
              payer:
                type: object
                properties:
                  name:
                    type: string
                    example: Bruce Wayne
                  taxId:
                    type: string
                    example: '06516763208'
              split: {}
              status:
                type: string
                example: PROCESSED
              createdAt:
                type: string
                example: '2022-06-06T11:48:21Z'
              processedAt:
                type: string
                example: '2022-06-06T11:48:26Z'
              paidAt: {}
              failedAt: {}
              metadata: {}
        paging:
          type: object
          properties:
            before: {}
            after:
              type: string
              example: aWQ6YzYyZjViNTAtZTNiOS0xMWVjLTk0OWEtNjFkMjljNjZlMmNm
    BoletoGetAll400Response:
      type: object
      properties: {}
    BoletoCreatePaymentResponse:
      type: object
      properties:
        description:
          type: string
          example: My order
        id:
          type: string
          example: 6a0b14a9-023c-4198-9ada-6e4684213340
        code:
          type: string
          example: 40040b70-89be-40ad-ab7f-7a123cb7ab6a
        amount:
          type: integer
          example: 990
          default: 0
        paidAmount: {}
        expiresIn:
          type: integer
          example: 3
          default: 0
        barcode:
          type: string
          example: 001 9 337370000000100 05009 401448 16060680935031
        pdf:
          type: string
          example: https://url.com
        payer:
          type: object
          properties:
            name:
              type: string
              example: Bruce Wayne
            taxId:
              type: string
              example: '06516763208'
        split: {}
        status:
          type: string
          example: PROCESSED
        createdAt:
          type: string
          example: '2022-06-06T11:48:21Z'
        processedAt:
          type: string
          example: '2022-06-06T11:48:26Z'
        paidAt: {}
        failedAt: {}
        metadata: {}
    BoletoCreatePayment400Response:
      type: object
      properties:
        code:
          type: string
          example: INVALID_BODY
        message:
          type: string
          example: Invalid body, check 'errors' property for more info.
        errors:
          type: array
          items:
            type: string
            example: amount must be a positive number
    BoletoGetByIdResponse:
      type: object
      properties:
        description:
          type: string
          example: My order
        id:
          type: string
          example: 6a0b14a9-023c-4198-9ada-6e4684213340
        code:
          type: string
          example: 40040b70-89be-40ad-ab7f-7a123cb7ab6a
        amount:
          type: integer
          example: 990
          default: 0
        paidAmount: {}
        expiresIn:
          type: integer
          example: 3
          default: 0
        barcode:
          type: string
          example: 001 9 337370000000100 05009 401448 16060680935031
        pdf:
          type: string
          example: https://url.com
        payer:
          type: object
          properties:
            name:
              type: string
              example: Bruce Wayne
            taxId:
              type: string
              example: '06516763208'
        split: {}
        status:
          type: string
          example: PROCESSED
        createdAt:
          type: string
          example: '2022-06-06T11:48:21Z'
        processedAt:
          type: string
          example: '2022-06-06T11:48:26Z'
        paidAt: {}
        failedAt: {}
        metadata: {}
    BoletoGetById400Response:
      type: object
      properties: {}
    BankTransferGetBankTransferResponse:
      type: object
      properties: {}
    BankTransferGetBankTransfer400Response:
      type: object
      properties: {}
    BankTransferListAllBankTransfersResponse:
      type: object
      properties: {}
    BankTransferListAllBankTransfers400Response:
      type: object
      properties: {}
    RecipientListAllResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                example: 80e579ff-e3a6-4573-84ff-30de777e7861
              code:
                type: string
                example: a1fc515c-ce4a-45e0-8802-2696b2c0337a
              name:
                type: string
                example: Bruce Wayne
              taxId:
                type: string
                example: '37515868066'
              type:
                type: string
                example: INDIVIDUAL
              status:
                type: string
                example: ACTIVE
              createdAt:
                type: string
                example: '2022-06-08T15:02:00Z'
              updatedAt: {}
              deletedAt: {}
              metadata:
                type: object
                properties:
                  CUSTOM_FIELD_NAME:
                    type: string
                    example: CUSTOM_FIELD_VALUE
        paging:
          type: object
          properties:
            before:
              type: string
              example: ''
            after:
              type: string
              example: aWQ6YzYyZjViNTAtZTNiOS0xMWVjLTk0OWEtNjFkMjljNjZlMmNm
    RecipientListAll400Response:
      type: object
      properties: {}
    RecipientCreateRecipientResponse:
      type: string
      example: "{\n  \"id\": \"80e579ff-e3a6-4573-84ff-30de777e7861\",\n  \"code\": \"a1fc515c-ce4a-45e0-8802-2696b2c0337a\",\n  \"name\": \"Bruce Wayne\",\n  \"taxId\": \"37515868066\",\n  \"type\": \"INDIVIDUAL\",\n  \"status\": \"ACTIVE\",\n  \"createdAt\": \"2022-06-08T15:02:00Z\",\n  \"updatedAt\": null,\n  \"deletedAt\": null,\n  \"metadata\": {\n  \t\"CUSTOM_FIELD_NAME\": \"CUSTOM_FIELD_VALUE\", \n  }\n}"
    RecipientCreateRecipient400Response:
      type: object
      properties: {}
    RecipientGetByIdResponse:
      type: string
      example: "{\n  \"id\": \"80e579ff-e3a6-4573-84ff-30de777e7861\",\n  \"code\": \"a1fc515c-ce4a-45e0-8802-2696b2c0337a\",\n  \"name\": \"Bruce Wayne\",\n  \"taxId\": \"37515868066\",\n  \"type\": \"INDIVIDUAL\",\n  \"status\": \"ACTIVE\",\n  \"createdAt\": \"2022-06-08T15:02:00Z\",\n  \"updatedAt\": null,\n  \"deletedAt\": null,\n  \"metadata\": {\n  \t\"CUSTOM_FIELD_NAME\": \"CUSTOM_FIELD_VALUE\", \n  }\n}"
    RecipientGetById400Response:
      type: object
      properties: {}
    RecipientUpdateRecipientByIdResponse:
      type: string
      example: "{\n  \"id\": \"80e579ff-e3a6-4573-84ff-30de777e7861\",\n  \"code\": \"a1fc515c-ce4a-45e0-8802-2696b2c0337a\",\n  \"name\": \"Bruce Wayne\",\n  \"taxId\": \"37515868066\",\n  \"type\": \"INDIVIDUAL\",\n  \"status\": \"ACTIVE\",\n  \"createdAt\": \"2022-06-08T15:02:00Z\",\n  \"updatedAt\": \"2022-06-08T15:02:00Z\",\n  \"deletedAt\": null,\n  \"metadata\": {\n  \t\"CUSTOM_FIELD_NAME\": \"CUSTOM_FIELD_VALUE\", \n  }\n}"
    RecipientUpdateRecipientById400Response:
      type: object
      properties: {}
    RecipientListBankAccountsResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                example: a8a9c988-c2ba-44b9-af2d-ee6fcc00e269
              code:
                type: string
                example: ade39877-cb26-42bc-b151-8e6eef84284d
              holderName:
                type: string
                example: Bruce Wayne
              holderTaxId:
                type: string
                example: '37515868066'
              holderType:
                type: string
                example: INDIVIDUAL
[...]
