openapi: 3.0.3
info:
  title: Sumsub API
  description: >-
    Sumsub is the one verification platform to secure the whole user journey.
    With Sumsub's customizable KYC, KYB, transaction monitoring and fraud
    prevention solutions, you can orchestrate your verification process, welcome
    more customers worldwide, meet compliance requirements, reduce costs and
    protect your business.


    Sumsub has over 2,000 clients in fintech, crypto, transportation, trading,
    e-commerce and gaming industries including Binance, Wirex, Avis, Bybit,
    Huobi, Unlimit, Flutter, Kaizen Gaming, and TransferGo.
  version: '1.0'
  x-konfig-ignore:
    object-with-no-properties: true
    potential-incorrect-type: true
servers:
  - url: https://api.sumsub.com
tags:
  - name: Applicant
  - name: Transaction
  - name: Check
  - name: Note
  - name: AccessToken
  - name: Image
  - name: Token
  - name: Verification
  - name: AuditTrailEvent
  - name: Health
  - name: Inspection
  - name: WebSDKLink
  - name: Analysis
  - name: Tag
  - name: VASP
paths:
  /resources/status/api:
    get:
      tags:
        - Health
      summary: API health
      operationId: Health_statusApiGet
      description: Returns the operational status of the API.
      responses:
        '200':
          description: OK
      deprecated: false
  /resources/applicants:
    patch:
      tags:
        - Applicant
      summary: Change top-level information
      operationId: Applicant_updateTopLevelInfo
      description: Updates the existing verification level configuration.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicantUpdateTopLevelInfoRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ApplicantUpdateTopLevelInfoRequest1'
      responses:
        '200':
          description: OK
      deprecated: false
  /resources/applicants/{applicantId}/moveToLevel:
    post:
      tags:
        - Applicant
      summary: Change required documents
      operationId: Applicant_changeRequiredDocumentSet
      description: Changes the list of required documents.
      parameters:
        - description: >-
            A [verification level](https://docs.sumsub.com/reference) name.
            Case-sensitive and must be created in the same
            [environment](https://docs.sumsub.com/reference). If contains
            reserved characters (e.g., `@`, `+"`, white spaces as `%20`), it
            should be URL-encoded, otherwise you may get signature mismatch.
          name: name
          in: query
          required: true
          schema:
            type: string
        - description: A unique applicant identifier.
          name: applicantId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: OK
      deprecated: false
  /resources/applicants/{applicantId}/requiredIdDocs:
    post:
      tags:
        - Applicant
      summary: Get required ID documents
      operationId: Applicant_getRequiredIdDocs
      description: Returns the list of required documents.
      parameters:
        - description: A unique applicant identifier.
          name: applicantId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: OK
      deprecated: false
  /resources/applicants/{applicantId}/info/idDoc:
    post:
      tags:
        - Applicant
      summary: Add ID document
      operationId: Applicant_addIdDocument
      description: Adds an identification document to the verification flow.
      parameters:
        - description: '`true` / `false`'
          name: X-Return-Doc-Warnings
          in: header
          required: true
          schema:
            type: boolean
        - description: A unique applicant identifier.
          name: applicantId
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicantAddIdDocumentRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ApplicantAddIdDocumentRequest1'
      responses:
        '200':
          description: OK
      deprecated: false
  /resources/applicants/{applicantId}/fixedInfo:
    patch:
      tags:
        - Applicant
      summary: Change provided information
      operationId: Applicant_updateFixedInfo
      description: >-
        Updates personal applicant information collected via Web and Mobile
        SDKs.
      parameters:
        - description: A unique applicant identifier.
          name: applicantId
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicantUpdateFixedInfoRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ApplicantUpdateFixedInfoRequest1'
      responses:
        '200':
          description: OK
      deprecated: false
  /resources/applicants/{applicantId}/info:
    patch:
      tags:
        - Applicant
      summary: Change extracted information
      operationId: Applicant_changeExtractedInfo
      description: Updates personal applicant information extracted during verification.
      parameters:
        - description: A unique applicant identifier.
          name: applicantId
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicantChangeExtractedInfoRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ApplicantChangeExtractedInfoRequest1'
      responses:
        '200':
          description: OK
      deprecated: false
  /resources/applicants/-/ingestCompleted?levelName={levelName}:
    post:
      tags:
        - Applicant
      summary: Import applicants
      operationId: Applicant_importCompleted
      description: Imports applicants.
      parameters:
        - description: >-
            A [verification level](https://docs.sumsub.com/reference) name.
            Case-sensitive and must be created in the same
            [environment](https://docs.sumsub.com/reference). If contains
            reserved characters (e.g., `@`, `+"`, white spaces as `%20`), it
            should be URL-encoded, otherwise you may get signature mismatch.
          name: levelName
          in: query
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicantImportCompletedRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ApplicantImportCompletedRequest1'
      responses:
        '200':
          description: OK
      deprecated: false
  /resources/applicants/-/applicantImport:
    post:
      tags:
        - Applicant
      summary: Import applicant with images by archive
      operationId: Applicant_importByArchive
      description: Imports applicant data and images including associated review results.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicantImportByArchiveRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ApplicantImportByArchiveRequest1'
      responses:
        '200':
          description: OK
      deprecated: false
  /resources/applicants/{applicantId}/status/testCompleted:
    post:
      tags:
        - Applicant
      summary: Set review for applicant in sandbox
      operationId: Applicant_sandboxVerificationResponse
      description: Simulates a verification reposnose.
      parameters:
        - description: A unique applicant identifier.
          name: applicantId
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicantSandboxVerificationResponseRequest'
          multipart/form-data:
            schema:
              $ref: >-
                #/components/schemas/ApplicantSandboxVerificationResponseRequest1
      responses:
        '200':
          description: OK
      deprecated: false
      x-readme:
        code-samples:
          - language: curl
            code: |-
              curl -X POST \
                'https://api.sumsub.com/resources/applicants/5bb8cca10a975a624903cf65/status/testCompleted' \
                -H 'content-type: application/json' \
                -d '{
                        "reviewAnswer": "RED",
                        "moderationComment": "We do not accept screenshots. Please upload an original photo.",
                        "clientComment": "Screenshots are not accepted.",
                        "reviewRejectType": "RETRY",
                        "rejectLabels": ["UNSATISFACTORY_PHOTOS","SCREENSHOTS"]
                    }
              '
        samples-languages:
          - curl
  /resources/applicants/{applicantId}/tags/add:
    post:
      tags:
        - Applicant
      summary: Add custom applicant tags
      operationId: Applicant_addCustomTags
      description: Adds custom tags to applicant profiles.
      parameters:
        - description: A unique applicant identifier.
          name: applicantId
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicantAddCustomTagsRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ApplicantAddCustomTagsRequest1'
      responses:
        '200':
          description: OK
      deprecated: false
  /resources/applicants/{applicantId}/tags:
    post:
      tags:
        - Applicant
      summary: Add and overwrite custom applicant tags
      operationId: Applicant_addCustomTags
      description: Adds and overwrites custom tags in applicant profiles.
      parameters:
        - description: A unique applicant identifier.
          name: applicantId
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicantAddCustomTagsRequest2'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ApplicantAddCustomTagsRequest3'
      responses:
        '200':
          description: OK
      deprecated: false
      x-readme:
        code-samples:
          - language: curl
            code: >
              curl -X POST
              'https://api.sumsub.com/resources/applicants/5fd1012c885b5d0009d50e6e/tags'
              \
                -H 'Content-Type: application/json' \
                -d '["Approved Sanctions", "Approved PEP", "821"]'
        samples-languages:
          - curl
    delete:
      tags:
        - Applicant
      summary: Remove custom applicant tags
      operationId: Applicant_removeCustomTags
      description: Removes all custom tags from applicant profiles.
      parameters:
        - description: A unique applicant identifier.
          name: applicantId
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicantRemoveCustomTagsRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ApplicantRemoveCustomTagsRequest1'
      responses:
        '200':
          description: OK
      deprecated: false
  /resources/applicants/{applicantId}/status/pending?reason={reason}:
    post:
      tags:
        - Applicant
      summary: Request applicant check
      operationId: Applicant_initiateApplicantCheck
      description: Initiates a check of the applicant profile.
      parameters:
        - description: A note indicating the reason for checking the applicant profile.
          name: reason
          in: query
          schema:
            type: string
        - description: A unique applicant identifier.
          name: applicantId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: OK
      deprecated: false
  /resources/applicants/{applicantId}/blacklist?note={note}:
    post:
      tags:
        - Applicant
      summary: Add applicant to blocklist
      operationId: Applicant_addToBlocklist
      description: Add an applicant to blocklist.
      parameters:
        - description: A note indicating the reason for blocklisting the applicant profile.
          name: note
          in: query
          required: true
          schema:
            type: string
        - description: A unique applicant identifier.
          name: applicantId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: OK
      deprecated: false
  /resources/applicants/{applicantId}/reset:
    post:
      tags:
        - Applicant
      summary: Reset applicant profile
      operationId: Applicant_resetProfile
      description: >-
        Marks documents uploaded by the applicant as inactive and deletes all
        statuses assigned earlier.
      parameters:
        - description: A unique applicant identifier.
          name: applicantId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: OK
      deprecated: false
  /resources/applicants/{applicantId}/resetStep/{idDocSetType}:
    post:
      tags:
        - Applicant
      summary: Reset verification step
      operationId: Applicant_resetVerificationStep
      description: Resets the specified verification step.
      parameters:
        - description: A unique applicant identifier.
          name: applicantId
          in: path
          schema:
            type: string
          required: true
        - description: >-
            A [step
            name](ref:reset-single-verification-step#available-steps-to-reset)
            to reset.
          name: idDocSetType
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: OK
      deprecated: false
  /resources/inspections/{inspectionId}/resources/{imageId}:
    delete:
      tags:
        - Image
      summary: Mark image as inactive
      operationId: Image_markAsInactive
      description: Marks uploaded images as deleted.
      parameters:
        - description: Set `true` to revert inactivity of the image.
          name: revert
          in: query
          schema:
            type: boolean
            default: false
        - description: >-
            An inspection identifier. You can get this number by using [this API
            method](ref:get-applicant-data).
          name: inspectionId
          in: path
          schema:
            type: string
          required: true
        - description: >-
            An image identifier. You can get this number by using [this API
            method](ref:get-applicant-verification-steps-status).
          name: imageId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: OK
      deprecated: false
    get:
      tags:
        - Image
      summary: Get document images
      operationId: Image_getDocumentImages
      description: Returns document images.
      parameters:
        - description: >-
            An inspection identifier. This identifier is returned as a root
            field upon running [this API method](ref:get-applicant-data).
          name: inspectionId
          in: path
          schema:
            type: string
          required: true
        - description: >-
            An image identifier. You can get this number by using [this API
            method](ref:get-applicant-verification-steps-status).
          name: imageId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: OK
      deprecated: false
  /resources/applicants/{applicantId}/presence/{status}:
    patch:
      tags:
        - Applicant
      summary: Deactivate applicant profile
      operationId: Applicant_deactivateProfile
      description: Deactivates an applicant profile.
      parameters:
        - description: A unique applicant identifier.
          name: applicantId
          in: path
          schema:
            type: string
          required: true
        - description: >-
            Possible values: `deactivated` to deactivate the applicant profile.
            `activated` to reactivate the applicant profile.
          name: status
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: OK
      deprecated: false
  /resources/applicants/{applicantId}/agreement:
    post:
      tags:
        - Applicant
      summary: Add applicant consent
      operationId: Applicant_addConsentToProfile
      description: Adds a consent to the applicant profile.
      parameters:
        - description: >-
            A unique identifier of an applicant profile to which a consent
            should be added.
          name: applicantId
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicantAddConsentToProfileRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ApplicantAddConsentToProfileRequest1'
      responses:
        '200':
          description: OK
      deprecated: false
  /resources/applicants/{applicantId}/one:
    get:
      tags:
        - Applicant
      summary: Get applicant data
      operationId: Applicant_getData
      description: Returns applicant information.
      parameters:
        - description: A unique applicant identifier
          name: applicantId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Individual applicants:
                  value: |-
                    {
                      "id": "5b594ade0a975a36c9349e66",
                      "createdAt": "2020-06-24 05:05:14",
                      "clientId": "ClientName",
                      "inspectionId": "5b594ade0a975a36c9379e67",
                      "externalUserId": "SomeExternalUserId",
                      "fixedInfo": {
                        "firstName": "Chris",
                        "lastName": "Smith"
                      },
                      "info": {
                        "firstName": "CHRISTIAN",
                        "firstNameEn": "CHRISTIAN",
                        "lastName": "SMITH",
                        "lastNameEn": "SMITH",
                        "dob": "1989-07-16",
                        "country": "DEU",
                        "idDocs": [
                          {
                            "idDocType": "ID_CARD",
                            "country": "DEU",
                            "firstName": "CHRISTIAN",
                            "firstNameEn": "CHRISTIAN",
                            "lastName": "SMITH",
                            "lastNameEn": "SMITH",
                            "validUntil": "2028-09-04",
                            "number": "LGXX359T8",
                            "dob": "1989-07-16",
                            "mrzLine1": "IDD<<LGXX359T88<<<<<<<<<<<<<<<",
                            "mrzLine2": "8907167<2809045D<<<<<<<<<<<<<8",
                            "mrzLine3": "SMITH<<CHRISTIAN<<<<<<<<<<<<<<"
                          }
                        ]
                      },
                      "agreement": { //present when SDK was initialized with Agreement screen enabled
                        "createdAt": "2020-06-24 04:18:40",
                        "source": "WebSDK",
                        "targets": [
                          "By clicking Next, I accept [the Terms and Conditions](https://www.sumsub.com/consent-to-personal-data-processing/)",
                          "I agree to the processing of my personal data, as described in [the Consent to Personal Data Processing](https://sumsub.com/consent-to-personal-data-processing/)"
                        ]
                      },
                      "email": "christman1@gmail.com",
                      "applicantPlatform": "Android",
                      "requiredIdDocs": {
                        "docSets": [
                          {
                            "idDocSetType": "IDENTITY",
                            "types": [
                              "PASSPORT",
                              "ID_CARD"
                            ]
                          },
                          {
                            "idDocSetType": "SELFIE",
                            "types": [
                              "SELFIE"
                            ]
                          }
                        ]
                      },
                      "review": {
                        "elapsedSincePendingMs": 115879,
                        "elapsedSinceQueuedMs": 95785,
                        "reprocessing": true,
                        "levelName": "basic-kyc",
                        "createDate": "2020-06-24 05:11:02+0000",
                        "reviewDate": "2020-06-24 05:12:58+0000",
                        "reviewResult": {
                          "reviewAnswer": "GREEN"
                        },
                        "reviewStatus": "completed"
                      },
                      "lang": "de",
                      "type": "individual"
                    }
                Company applicants:
                  value: |2-
                          {
                            "id": "5ecfbe9ad5ea48743f8dd1b8",
                            "createdAt": "2020-05-28 13:37:30",
                            "clientId": "coolclientid",
                            "inspectionId": "5ecfbe9ad5ea48743f8dd1b9",
                            "externalUserId": "externalCompanyId",
                            "info": {
                              "companyInfo": {
                                "companyName": "SUMSUB LIMITED",
                                "registrationNumber": "1555555",
                                "country": "GBR",
                                "incorporatedOn": "2018-02-28 00:00:00",
                                "type": "ltd",
                                "website": "www.sumsub.com",
                                "beneficiaries": [
                                  {
                                    "applicantId": "5ecfbecad5ea48743f8dd438",
                                    "positions": ["director"],
                                    "type": "ubo",
                                    "inRegistry": false,
                                    "imageIds": null,
                                    "applicant": null
                                  }
                                ]
                              }
                            },
                            "requiredIdDocs": {
                              "docSets": [
                                {
                                  "idDocSetType": "COMPANY",
                                  "types": ["COMPANY_DOC"],
                                  "steps": [
                                    {
                                      "name": "company",
                                      "minDocsCnt": 1,
                                      "idDocTypes": ["COMPANY_DOC"],
                                      "idDocSubTypes": null
                                    },
                                    {
                                      "name": "ubos",
                                      "minDocsCnt": null,
                                      "idDocTypes": null,
                                      "idDocSubTypes": null
                                    }
                                  ]
                                }
                              ]
                            },
                            "review": {
                              "elapsedSincePendingMs": 308656,
                              "elapsedSinceQueuedMs": 26993,
                              "reprocessing": true,
                              "createDate": "2020-05-29 12:22:11+0000",
                              "reviewDate": "2020-05-29 12:27:19+0000",
                              "startDate": "2020-05-29 12:26:52+0000",
                              "reviewResult": {
                                "reviewAnswer": "GREEN"
                              },
                              "reviewStatus": "completed"
                            },
                            "lang": "en",
                            "type": "company"
                          }
              schema:
                $ref: '#/components/schemas/ApplicantGetDataResponse'
      deprecated: false
  /resources/applicants/-;externalUserId={externalUserId}/one:
    get:
      tags:
        - Applicant
      summary: Get applicant data (externalUserId)
      operationId: Applicant_getDataByExternalUserId
      description: Returns applicant information based on the provided `externalUserId`.
      parameters:
        - description: A unique applicant identifier in your system.
          name: externalUserId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Individual applicants:
                  value: |-
                    {
                      "id": "5b594ade0a975a36c9349e66",
                      "createdAt": "2020-06-24 05:05:14",
                      "clientId": "ClientName",
                      "inspectionId": "5b594ade0a975a36c9379e67",
                      "externalUserId": "SomeExternalUserId",
                      "fixedInfo": {
                        "firstName": "Chris",
                        "lastName": "Smith"
                      },
                      "info": {
                        "firstName": "CHRISTIAN",
                        "firstNameEn": "CHRISTIAN",
                        "lastName": "SMITH",
                        "lastNameEn": "SMITH",
                        "dob": "1989-07-16",
                        "country": "DEU",
                        "idDocs": [
                          {
                            "idDocType": "ID_CARD",
                            "country": "DEU",
                            "firstName": "CHRISTIAN",
                            "firstNameEn": "CHRISTIAN",
                            "lastName": "SMITH",
                            "lastNameEn": "SMITH",
                            "validUntil": "2028-09-04",
                            "number": "LGXX359T8",
                            "dob": "1989-07-16",
                            "mrzLine1": "IDD<<LGXX359T88<<<<<<<<<<<<<<<",
                            "mrzLine2": "8907167<2809045D<<<<<<<<<<<<<8",
                            "mrzLine3": "SMITH<<CHRISTIAN<<<<<<<<<<<<<<"
                          }
                        ]
                      },
                      "agreement": {  //present when SDK was initialized with Agreement screen enabled
                        "createdAt": "2020-06-24 04:18:40",
                        "source": "WebSDK",
                        "targets": [
                          "By clicking Next, I accept [the Terms and Conditions](https://www.sumsub.com/consent-to-personal-data-processing/)",
                          "I agree to the processing of my personal data, as described in [the Consent to Personal Data Processing](https://sumsub.com/consent-to-personal-data-processing/)"
                        ]
                      },
                      "email": "christman1@gmail.com",
                      "applicantPlatform": "Android",
                      "requiredIdDocs": {
                        "docSets": [
                          {
                            "idDocSetType": "IDENTITY",
                            "types": [
                              "PASSPORT",
                              "ID_CARD"
                            ]
                          },
                          {
                            "idDocSetType": "SELFIE",
                            "types": [
                              "SELFIE"
                            ]
                          }
                        ]
                      },
                      "review": {
                        "elapsedSincePendingMs": 115879,
                        "elapsedSinceQueuedMs": 95785,
                        "reprocessing": true,
                        "levelName": "basic-kyc",
                        "createDate": "2020-06-24 05:11:02+0000",
                        "reviewDate": "2020-06-24 05:12:58+0000",
                        "reviewResult": {
                          "reviewAnswer": "GREEN"
                        },
                        "reviewStatus": "completed"
                      },
                      "lang": "de",
                      "type": "individual"
                    }
                Company applicants:
                  value: |-
                    {
                      "id": "5ecfbe9ad5ea48743f8dd1b8",
                      "createdAt": "2020-05-28 13:37:30",
                      "clientId": "coolclientid",
                      "inspectionId": "5ecfbe9ad5ea48743f8dd1b9",
                      "externalUserId": "externalCompanyId",
                      "info": {
                        "companyInfo": {
                          "companyName": "SUMSUB LIMITED",
                          "registrationNumber": "1555555",
                          "country": "GBR",
                          "incorporatedOn": "2018-02-28 00:00:00",
                          "type": "ltd",
                          "website": "www.sumsub.com",
                          "beneficiaries": [
                            {
                              "applicantId": "5ecfbecad5ea48743f8dd438",
                              "positions": [
                                "director"
                              ],
                              "type": "ubo",
                              "inRegistry": false,
                              "imageIds": null,
                              "applicant": null
                            }
                          ]
                        }
                      },
                      "requiredIdDocs": {
                        "docSets": [
                          {
                            "idDocSetType": "COMPANY",
                            "types": [
                              "COMPANY_DOC"
                            ],
                            "steps": [
                              {
                                "name": "company",
                                "minDocsCnt": 1,
                                "idDocTypes": [
                                  "COMPANY_DOC"
                                ],
                                "idDocSubTypes": null
                              },
                              {
                                "name": "ubos",
                                "minDocsCnt": null,
                                "idDocTypes": null,
                                "idDocSubTypes": null
                              }
                            ]
                          }
                        ]
                      },
                      "review": {
                        "elapsedSincePendingMs": 308656,
                        "elapsedSinceQueuedMs": 26993,
                        "reprocessing": true,
                        "createDate": "2020-05-29 12:22:11+0000",
                        "reviewDate": "2020-05-29 12:27:19+0000",
                        "startDate": "2020-05-29 12:26:52+0000",
                        "reviewResult": {
                          "reviewAnswer": "GREEN"
                        },
                        "reviewStatus": "completed"
                      },
                      "lang": "en",
                      "type": "company"
                    }
              schema:
                $ref: '#/components/schemas/ApplicantGetDataByExternalUserIdResponse'
      deprecated: false
  /resources/applicants/{applicantId}/status:
    get:
      tags:
        - Applicant
      summary: Get applicant review status
      operationId: Applicant_getReviewStatus
      description: Returns the applicant review status.
      parameters:
        - description: A unique applicant identifier.
          name: applicantId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: OK
      deprecated: false
  /resources/applicants/{applicantId}/requiredIdDocsStatus:
    get:
      tags:
        - Applicant
      summary: Get applicant verification steps status
      operationId: Applicant_getVerificationStepsStatus
      description: >-
        Returns information about the documents or separate verification step
        results. The method works both for individuals and company applicants.
      parameters:
        - description: A unique applicant identifier.
          name: applicantId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: OK
      deprecated: false
  /resources/moderationStates/-;applicantId={applicantId}:
    get:
      tags:
        - Applicant
      summary: Clarify rejection reason
      operationId: Applicant_clarifyRejectionReason
      description: Returns rejection reason clarification.
      parameters:
        - description: A unique applicant identifier.
          name: applicantId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: OK
      deprecated: false
  /resources/checks/latest?type=TIN:
    get:
      tags:
        - Check
      summary: Get TIN (SSN) check results
      operationId: Check_tinSsnCheckResults
      description: Returns TIN (SSN) check results.
      parameters:
        - description: A unique applicant identification number.
          name: applicantId
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
      deprecated: false
  /resources/checks/latest?type=EMAIL_CONFIRMATION:
    get:
      tags:
        - Check
      summary: Get email confirmation check results
      operationId: Check_emailConfirmationResults
      description: Returns email confirmation check results.
      parameters:
        - description: A unique applicant identifier.
          name: applicantId
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
      deprecated: false
  /resources/checks/latest?type=PHONE_CONFIRMATION:
    get:
      tags:
        - Check
      summary: Get phone confirmation check results
      operationId: Check_phoneConfirmationResults
      description: Returns phone confirmation check results.
      parameters:
        - description: A unique applicant identifier.
          name: applicantId
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
      deprecated: false
  /resources/checks/latest?type=IP_CHECK:
    get:
      tags:
        - Check
      summary: Get IP check results
      operationId: Check_ipCheckResults
      description: Returns IP check results.
      parameters:
        - description: A unique applicant identifier.
          name: applicantId
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
      deprecated: false
  /resources/applicantFraudNetworks/-/byApplicant/{applicantId}:
    get:
      tags:
        - Applicant
      summary: Get applicant fraud networks
      operationId: Applicant_getFraudNetworksByApplicant
      description: Returns all fraud networks by `applicantId`.
      parameters:
        - description: A unique applicant identifier.
          name: applicantId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: OK
      deprecated: false
  /resources/applicantFraudNetworks/{networkId}/one:
    get:
      tags:
        - Applicant
      summary: Get fraud network by ID
      operationId: Applicant_getFraudNetworkById
      description: Returns fraud network by `networkId`.
      parameters:
        - description: A unique network identifier.
          name: networkId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: OK
      deprecated: false
  /resources/inspections/{inspectionId}?fields=videoIdentData:
    get:
      tags:
        - Inspection
      summary: Get video call data
      operationId: Inspection_getVideoIdentData
      description: Returns the video call results.
      parameters:
        - description: A unique inspection identifier.
          name: inspectionId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: OK
      deprecated: false
  /resources/videoIdent/applicant/{applicantId}/media/{compositionMediaId}:
    get:
      tags:
        - Applicant
      summary: Get video call media
      operationId: Applicant_getVideoCallMedia
      description: Returns video call media.
      parameters:
        - description: A unique applicant identifier.
          name: applicantId
          in: path
          schema:
            type: string
          required: true
        - description: Video call media identifier.
          name: compositionMediaId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: OK
      deprecated: false
  /resources/sdkIntegrations/levels/{levelName}/websdkLink:
    post:
      tags:
        - WebSDKLink
      summary: Generate external WebSDK link
      operationId: WebSdkLink_generateExternal
      description: Creates a link to WebSDK for the specified applicant.
      parameters:
        - description: A lifespan of the link in seconds.
          name: ttlInSecs
          in: query
          schema:
            type: integer
            format: int32
        - description: An external user ID on your side.
          name: externalUserId
          in: query
          schema:
            type: string
        - description: The language for WebSDK in ISO 639-1 format.
          name: lang
          in: query
          schema:
            type: string
        - description: >-
            A [verification level](https://docs.sumsub.com/reference) name.
            Case-sensitive and has to be created in the same environment. If
            contains reserved characters (e.g., `@`, `+"`, white spaces as
            `%20`), it should be URL-encoded, otherwise you may get signature
            mismatch.
          name: levelName
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: OK
      deprecated: false
      x-readme:
        code-samples:
          - language: curl
            code: |
              curl -X POST \
                'https://api.sumsub.com/resources/sdkIntegrations/levels/basic-kyc-level/websdkLink?ttlInSecs=1800&externalUserId=304775ty&lang=en' \
                   -H 'Accept: application/json' \
                   -H 'Content-Type: application/json' \
                   -d '{ }'
        samples-languages:
          - curl
  /resources/applicants/-/levels:
    get:
      tags:
        - Applicant
      summary: Get available applicant levels
      operationId: Applicant_getLevels
      description: Returns a list of verification levels.
      responses:
        '200':
          description: OK
      deprecated: false
  /resources/checks/latest?type=POA:
    get:
      tags:
        - Check
      summary: Get additional PoA data
      operationId: Check_additionalPoaData
      description: Returns PoA data.
      parameters:
        - description: A unique applicant identifier.
          name: applicantId
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
      deprecated: false
  /resources/accessTokens:
    post:
      tags:
        - Token
      summary: Generate access token
      operationId: Token_createActionToken
      description: Creates an applicant action token.
      parameters:
        - description: A lifespan of a token in seconds. Default value is 10 mins.
          name: ttlInSecs
          in: query
          schema:
            type: string
            default: '600'
        - description: An external user ID which will be bound to the token.
          name: userId
          in: query
          required: true
          schema:
            type: string
        - description: An external action ID which will be bound to the token.
          name: externalActionId
          in: query
          required: true
          schema:
            type: string
        - description: >-
            The name of the [verification
            level](https://docs.sumsub.com/reference).
          name: levelName
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
      deprecated: false
  /resources/applicantActions/-;applicantId={applicantId}:
    get:
      tags:
        - Applicant
      summary: Get applicant actions
      operationId: Applicant_getActions
      description: Returns the list of applicant actions.
      parameters:
        - description: Limit of applicant actions to be returned.
          name: limit
          in: query
          schema:
            type: integer
            format: int32
            default: 1000
        - description: Offset of applicant actions to be returned.
          name: offset
          in: query
          schema:
            type: integer
            format: int32
            default: 0
        - description: A unique applicant identifier.
          name: applicantId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: OK
      deprecated: false
  /resources/applicantActions/{actionId}/one:
    get:
      tags:
        - Applicant
      summary: Get action information
      operationId: Applicant_getActionOneInfo
      description: Returns information about the applicant action checks.
      parameters:
        - description: A unique applicant action identifier.
          name: actionId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: OK
      deprecated: false
  /resources/applicantActions/-/forApplicant/{applicantId}?levelName={levelName}:
    post:
      tags:
        - Applicant
      summary: Create applicant action
      operationId: Applicant_createAction
      description: Creates an applicant action.
      parameters:
        - description: A unique aplicant identifier.
          name: applicantId
          in: path
          schema:
            type: string
          required: true
        - description: A name of the level configured in the dashboard.
          name: levelName
          in: query
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicantCreateActionRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ApplicantCreateActionRequest1'
      responses:
        '200':
          description: OK
      deprecated: false
  /resources/applicantActions/-/forApplicant/{applicantId}/?levelName=paymentSource:
    post:
      tags:
        - Applicant
      summary: Create payment source actions
      operationId: Applicant_createPaymentSourceActions
      description: >-
        Creates an action to process a payment source and to confirm the owner
        of the payment method.
      parameters:
        - description: An unique applicant identifier.
          name: applicantId
          in: path
          schema:
            type: string
          required: true
        - description: >-
            A verification level name for which you want to create a payment
            source action.
          name: levelName
          in: query
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicantCreatePaymentSourceActionsRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ApplicantCreatePaymentSourceActionsRequest1'
      responses:
        '200':
          description: '200'
          content:
            text/plain:
              examples:
                Result:
                  value: |-
                    {
                      "id": "65e9624496bed30142a6d15c",
                      "createdAt": "2024-03-07 06:44:24",
                      "key": "SBCJVLAAMRHYAB",
                      "clientId": "client_id",
                      "externalActionId": "payment-source-1fbH9AYHn",
                      "applicantId": "65e881a212b4ef468def3bbb",
                      "review": {
                        "reviewId": "RlWfu",
                        "attemptId": "dhABq",
                        "attemptCnt": 0,
                        "levelName": "paymentSource",
                        "createDate": "2024-03-07 06:44:24+0000",
                        "reviewStatus": "init"
                      },
                      "requiredIdDocs": {
                        "docSets": [
                          {
                            "idDocSetType": "PAYMENT_METHODS",
                            "types": [
                              "PAYMENT_SOURCE"
                            ]
                          }
                        ]
                      },
                      "paymentSource": {
                        "id": "c4032de1-2e1c-4b29-8a81-623103f9cd51",
                        "createdAt": "2024-03-07 06:44:24",
                        "fixedInfo": {
                          "institutionName": "Name",
                          "fullName": "John Doe",
                          "accountIdentifier": "120834387",
                          "email": "JohnDoe@mail.com",
                          "type": "paymentMethod"
                        }
                      }
                    }
              schema:
                $ref: >-
                  #/components/schemas/ApplicantCreatePaymentSourceActionsResponse
      deprecated: false
  /resources/applicantActions/{actionId}/review/status/pending:
    post:
      tags:
        - Applicant
      summary: Request action check
      operationId: Applicant_requestActionCheck
      description: Requests an applicant action check.
      parameters:
        - description: A unique applicant action identifier.
          name: actionId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: OK
      deprecated: false
      x-readme:
        code-samples:
          - language: curl
            code: |2
               curl -X POST \
                'https://api.sumsub.com/resources/applicantActions/5e022e0f0a975a45325c7ff5/review/status/pending'
        samples-languages:
          - curl
  /resources/applicantActions/-/forApplicant/{applicantId}/paymentMethod:
    post:
      tags:
        - Applicant
      summary: Submit payment method
      operationId: Applicant_submitPaymentMethod
      description: Submits a payment method.
      parameters:
        - description: >-
            Use `externalActionId` if you intend to [initialize
            SDK](ref:about-applicant-actions) for that particular action.
          name: X-External-Action-Id
          in: header
          required: true
          schema:
            type: string
        - description: Sets the video selfie at `requiredIdDocs` for the action.
          name: requireSelfie
          in: query
          schema:
            type: boolean
            default: false
        - description: A unique applicant identifier.
          name: applicantId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: OK
      deprecated: false
  /resources/applicantActions/{actionId}/paymentMethod:
    post:
      tags:
        - Applicant
      summary: Add payment method information
      operationId: Applicant_addPaymentMethodInformation
      description: Adds additional information to the payment method.
      parameters:
        - description: A unique applicant action identifier.
          name: actionId
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicantAddPaymentMethodInformationRequest'
          multipart/form-data:
            schema:
              $ref: >-
                #/components/schemas/ApplicantAddPaymentMethodInformationRequest1
      responses:
        '200':
          description: OK
      deprecated: false
  /resources/applicantActions/{actionId}/images/{imageId}?preview={isPreview}:
    get:
      tags:
        - Applicant
      summary: Get bank card image
      operationId: Applicant_getBankCardImage
      description: Returns an original bank card image.
      parameters:
        - description: Indicates if an image thumbnail should be returned.
          name: isPreview
          in: query
          schema:
            type: boolean
            default: false
        - description: A unique applicant action identifier.
          name: actionId
          in: path
          schema:
            type: string
          required: true
        - description: An image identifier taken from `images[].imageId`.
          name: imageId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: OK
      deprecated: false
  /resources/applicantActions/{actionId}/images:
    post:
      tags:
        - Applicant
      summary: Add image to payment method
      operationId: Applicant_addImageToPaymentMethod
      description: Adds an image to the payment method.
      parameters:
        - description: A unique applicant action identifier.
          name: actionId
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicantAddImageToPaymentMethodRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ApplicantAddImageToPaymentMethodRequest1'
      responses:
        '200':
          description: OK
      deprecated: false
  /resources/applicantActions/-/forApplicant/{applicantId}/cryptoSourceOfFunds:
    post:
      tags:
        - Applicant
      summary: Submission
      operationId: Applicant_createCryptoSourceOfFunds
      description: Creates an action with transaction information.
      parameters:
        - description: A unique applicant identifier.
          name: applicantId
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicantCreateCryptoSourceOfFundsRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ApplicantCreateCryptoSourceOfFundsRequest1'
      responses:
        '200':
          description: OK
      deprecated: false
  /resources/standalone/crypto/cryptoSourceOfFunds:
    post:
      tags:
        - Analysis
      summary: Standalone crypto analysis
      operationId: Analysis_standaloneCryptoInitiation
      description: Initiates standalone crypto analysis.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnalysisStandaloneCryptoInitiationRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AnalysisStandaloneCryptoInitiationRequest1'
      responses:
        '200':
          description: OK
      deprecated: false
  /resources/standalone/crypto/availableCurrencies:
    get:
      tags:
        - Token
      summary: Get available tokens
      operationId: Token_getAvailableCurrencies
      description: Returns available tokens.
      responses:
        '200':
          description: OK
      deprecated: false
  /resources/applicants/{applicantId}/info/companyInfo/beneficiaries:
    post:
      tags:
        - Applicant
      summary: Add applicant as beneficiary
      operationId: Applicant_addBeneficiary
      description: Adds an existing individual applicant as a beneficiary.
      parameters:
        - description: A unique company applicant identifier.
          name: applicantId
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicantAddBeneficiaryRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ApplicantAddBeneficiaryRequest1'
      responses:
        '200':
          description: OK
      deprecated: false
  /resources/applicants/{applicantId}/info/companyInfo/beneficiaries/{beneficiaryApplicantId}:
    delete:
      tags:
        - Applicant
      summary: Remove applicant from beneficiary list
      operationId: Applicant_removeFromBeneficiaryList
      description: Removes the applicant from the list of company beneficial owners.
      parameters:
        - description: A unique company applicant identifier.
          name: applicantId
          in: path
          schema:
            type: string
          required: true
        - description: Beneficiary applicant identifier.
          name: beneficiaryApplicantId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: OK
      deprecated: false
  /resources/applicants/{applicantId}/info/companyInfo:
    patch:
      tags:
        - Applicant
      summary: Change company data
      operationId: Applicant_changeCompanyData
      description: Changes the company data.
      parameters:
        - description: A unique applicant identifier.
          name: applicantId
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicantChangeCompanyDataRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ApplicantChangeCompanyDataRequest1'
      responses:
        '200':
          description: OK
      deprecated: false
  /resources/checks/latest?type=COMPANY:
    get:
      tags:
        - Check
      summary: Get additional company check data
      operationId: Check_additionalCompanyData
      description: Returns company check results.
      parameters:
        - description: A unique applicant identifier.
          name: applicantId
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
      deprecated: false
  /resources/applicants/{applicantId}/ekyc/submit (COPY):
    post:
      tags:
        - Verification
      summary: Submit applicant data for non-doc verification
      operationId: Verification_submitApplicantData
      description: Submits the applicant data for Non-Doc Verification.
      parameters:
        - description: A unique applicant identifier.
          name: applicantId
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerificationSubmitApplicantDataRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/VerificationSubmitApplicantDataRequest1'
      responses:
        '200':
          description: OK
      deprecated: false
  /resources/applicants/{applicantId}/ekyc/confirm/{confirmationid}:
    post:
      tags:
        - Applicant
      summary: Confirm applicant data for non-doc verification
      operationId: Applicant_confirmData
      description: Confirms the applicant data with the `otp` code or via `oAuth`.
      parameters:
        - description: A unique applicant identifier.
          name: applicantId
          in: path
          schema:
            type: string
          required: true
        - description: >-
            A confirmation identifier from the
            [submission](ref:submit-applicant-data) response.
          name: confirmationId
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicantConfirmDataRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ApplicantConfirmDataRequest1'
      responses:
        '200':
          description: OK
      deprecated: false
  /resources/checks/latest:
    get:
      tags:
        - Applicant
      summary: Get non-doc verification applicant data
      operationId: Applicant_getDataLatest
      description: Returns the applicant data for Non-Doc Verification.
      parameters:
        - description: Check type.
          name: type
          in: query
          required: true
          schema:
            type: string
            enum:
              - E_KYC_CHECK
              - RESIDENCY_CHECK
        - description: A unique applicant identifier.
          name: applicantId
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
      deprecated: false
  /resources/applicants/{applicantId}/kyt/txns/-/data:
    post:
      tags:
        - Applicant
      summary: Submit transaction for existing applicant
      operationId: Applicant_submitTransactionData
      description: Initiates transaction processing.
      parameters:
        - description: >-
            A unique identification number of the applicant who passed user
            verification (KYC). If you do no have such an applicant, use [Submit
            transaction for non-existing
            applicant](ref:submit-transaction-for-non-existing-applicant)
            instead.
          name: applicantId
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicantSubmitTransactionDataRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ApplicantSubmitTransactionDataRequest1'
      responses:
        '200':
          description: OK
      deprecated: false
  /resources/applicants/-/kyt/txns/-/data:
    post:
      tags:
        - Applicant
      summary: Submit transaction for non-existing applicant
      operationId: Applicant_submitTransactionForNonExisting
      description: Initiates transaction processing for non-existing applicants.
      parameters:
        - description: >-
            A [verification level](https://docs.sumsub.com/reference) name.
            Case-sensitive and has to be created in the same environment. If
            contains reserved characters (e.g., `@`, `+"`, white spaces as
            `%20`), it should be URL-encoded, otherwise you may get signature
            mismatch.
          name: levelName
          in: query
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/ApplicantSubmitTransactionForNonExistingRequest
          multipart/form-data:
            schema:
              $ref: >-
                #/components/schemas/ApplicantSubmitTransactionForNonExistingRequest1
      responses:
        '200':
          description: OK
      deprecated: false
  /resources/kyt/txns/{id}/one:
    get:
      tags:
        - Transaction
      summary: Get transaction information
      operationId: Transaction_informationOne
      description: Returns transaction information.
      parameters:
        - description: A unique transaction identifier.
          name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: OK
      deprecated: false
  /resources/kyt/txns/-;data.txnId={externalTxnId}/one:
    get:
      tags:
        - Transaction
      summary: Get transaction information (externalTxnId)
      operationId: Transaction_getOneData
      description: Returns transaction information based on the provided `externalTxnId`.
      parameters:
        - description: A unique transaction identifier on your side.
          name: externalTxnId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: OK
      deprecated: false
  /resources/kyt/misc/txns/import:
    post:
      tags:
        - Transaction
      summary: Bulk transaction import
      operationId: Transaction_bulkImport
      description: Imports a list of transactions.
      parameters:
        - description: >-
            <ul><li><code>true</code> — all valid transactions will be created
            and returned, errors will be ignored during the processing and
            listed in the response.</li><li><code>false</code> (default) — valid
            transactions will be created up to the first detected error. The
            response will only contain the error on which the processing was
            interrupted.</li></ul>
          name: ignoreErrors
          in: query
          schema:
            type: boolean
            default: false
        - description: >-
            Allows you to control whether scoring should be run on imported
            transactions or not:<ul><li><code>true</code> (default) — start
            scoring after import.</li><li><code>false</code> — do not start
            scoring after import.</li></ul>
          name: scoreSavedTxns
          in: query
          schema:
            type: boolean
            default: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionBulkImportRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/TransactionBulkImportRequest1'
      responses:
        '200':
          description: OK
      deprecated: false
  /resources/kyt/txns/{id}/props:
    patch:
      tags:
        - Transaction
      summary: Change transaction properties
      operationId: Transaction_updateProperties
      description: Updates transaction properties.
      parameters:
        - description: >-
            A list of property names separated by commas that should be set to
            `null`.
          name: unsetKeys
          in: query
          schema:
            type: string
        - description: A unique transaction identification number.
          name: id
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionUpdatePropertiesRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/TransactionUpdatePropertiesRequest1'
      responses:
        '200':
          description: OK
      deprecated: false
  /resources/kyt/txns/{id}/-/score:
    post:
      tags:
        - Transaction
      summary: Re-score transaction
      operationId: Transaction_reScore
      description: Re-scores transactions.
      parameters:
        - description: A unique transaction identification number.
          name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: OK
      deprecated: false
  /resources/kyt/txns/{id}/review/status/completed:
    post:
      tags:
        - Transaction
      summary: Approve and reject transaction
      operationId: Transaction_approveReject
      description: Approves or rejects transactions.
      parameters:
        - description: A unique transaction identification number.
          name: id
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionApproveRejectRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/TransactionApproveRejectRequest1'
      responses:
        '200':
          description: OK
      deprecated: false
  /resources/kyt/txns/{id}/tags:
    get:
      tags:
        - Transaction
      summary: Get tags
      operationId: Transaction_listTags
      description: Returns a list of transaction tags.
      parameters:
        - description: A unique transaction identifier.
          name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: OK
      deprecated: false
    post:
      tags:
        - Tag
      summary: Add tags
      operationId: Tag_addTransactionTags
      description: Adds tags to transactions.
      parameters:
        - description: A unique transaction identifier.
          name: id
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TagAddTransactionTagsRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/TagAddTransactionTagsRequest1'
      responses:
        '200':
          description: OK
      deprecated: false
    delete:
      tags:
        - Transaction
      summary: Remove tags
      operationId: Transaction_removeTags
      description: Removes tags from transactions.
      parameters:
        - description: A unique transaction identifier.
          name: id
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionRemoveTagsRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/TransactionRemoveTagsRequest1'
      responses:
        '200':
          description: OK
      deprecated: false
  /resources/kyt/txns/{id}/notes:
    get:
      tags:
        - Note
      summary: Get notes
      operationId: Note_getTransactionNotes
      description: Returns transaction notes.
      parameters:
        - description: A unique transaction identifier.
          name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: OK
      deprecated: false
  /resources/kyt/txns/notes:
    post:
      tags:
        - Note
      summary: Add notes
      operationId: Note_addToTransaction
      description: Adds notes to transactions.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NoteAddToTransactionRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/NoteAddToTransactionRequest1'
      responses:
        '200':
          description: OK
      deprecated: false
    patch:
      tags:
        - Note
      summary: Edit notes
      operationId: Note_updateTransactionNotes
      description: Updates a note.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NoteUpdateTransactionNotesRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/NoteUpdateTransactionNotesRequest1'
      responses:
        '200':
          description: OK
      deprecated: false
    delete:
      tags:
        - Note
      summary: Remove notes
      operationId: Note_removeFromTransaction
      description: Removes notes from transactions.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NoteRemoveFromTransactionRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/NoteRemoveFromTransactionRequest1'
      responses:
        '200':
          description: OK
      deprecated: false
  /resources/kyt/txns/{txnId}/data/info:
    patch:
      tags:
        - Transaction
      summary: Patch transaction with chain transaction ID
      operationId: Transaction_updateBlockchainInfo
      description: Updates information from the blockchain.
      parameters:
        - description: A unique transaction identifier.
          name: txnId
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionUpdateBlockchainInfoRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/TransactionUpdateBlockchainInfoRequest1'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/TransactionUpdateBlockchainInfoResponse'
      deprecated: false
      x-readme:
        code-samples:
          - language: curl
            code: |
              curl -X PATCH \
                'https://api.sumsub.com/resources/kyt/txns/638f1e3656df2d000138bff0/data/info' \
                -H 'Content-Type: application/json' \
                -d '{
                        "fingerprint": "1328d8738e244eaedfc6172a1038d5c52a689ca7631ece90d7aa1742e59048a2"
                    }'
        samples-languages:
          - curl
  /resources/kyt/txns/{txnId}/applicantId/{applicantId}:
    post:
      tags:
        - Applicant
      summary: Move transaction to another applicant
      operationId: Applicant_moveTransactionToAnotherApplicant
      description: Moves transaction to the specified applicant.
      parameters:
        - description: A unique transaction identifier.
          name: txnId
          in: path
          schema:
            type: string
          required: true
        - description: A unique applicant identifier who should own the transaction.
          name: applicantId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: >-
                  #/components/schemas/ApplicantMoveTransactionToAnotherApplicantResponse
      deprecated: false
      x-readme:
        code-samples:
          - language: curl
            code: |
              curl -X POST \
                'https://api.sumsub.com/resources/kyt/txns/631f268442d8290001e1eee8/applicantId/631f268442d8290001e1eee9'
        samples-languages:
          - curl
  /resources/kyt/txns/{txnId}/data/applicant:
    patch:
      tags:
        - Applicant
      summary: Enriching transaction with Travel Rule
      operationId: Applicant_enrichTransactionWithTravelRuleData
      description: Enriches transaction with the Travel Rule data.
      parameters:
        - description: A unique transaction identifier.
          name: txnId
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/ApplicantEnrichTransactionWithTravelRuleDataRequest
          multipart/form-data:
            schema:
              $ref: >-
                #/components/schemas/ApplicantEnrichTransactionWithTravelRuleDataRequest1
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: >-
                  #/components/schemas/ApplicantEnrichTransactionWithTravelRuleDataResponse
      deprecated: false
      x-readme:
        code-samples:
          - language: curl
            code: |
              curl -X PATCH \
                'https://api.sumsub.com/resources/kyt/txns/638f1e3656df2d000138bff0/data/applicant' \
                -H 'Content-Type: application/json' \
                -d '{
                       "fullName": "John Snow"
                  }'
        samples-languages:
          - curl
  /resources/kyt/txns/{txnId}/ownership/confirmed:
    post:
      tags:
        - Transaction
      summary: Confirm transaction ownership
      operationId: Transaction_confirmOwnership
      description: Confirms that the specified transaction belongs to your exchange (VASP).
      parameters:
        - description: A unique transaction identifier.
          name: txnId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: OK
      deprecated: false
  /resources/kyt/txns/{txnId}/ownership/unconfirmed:
    post:
      tags:
        - Transaction
      summary: Remove transaction ownership
      operationId: Transaction_removeOwnership
      description: Removes the ownership from a previously confirmed transaction.
      parameters:
        - description: A unique transaction identifier.
          name: txnId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: OK
      deprecated: false
  /resources/vasps/-:
    get:
      tags:
        - VASP
      summary: Get available VASPs
      operationId: Vasp_getAvailableVasps
      description: Returns a list of VASPs from the Sumsub VASP directory.
      parameters:
        - description: >-
            Maximum number of the VASPs to be returned. The maximum recommended
            value you can set is 100.
          name: limit
          in: query
          schema:
            type: integer
            format: int32
            default: 10
        - description: Offset of the VASPs to be returned.
          name: offset
          in: query
          schema:
            type: integer
            format: int32
            default: 0
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/VaspGetAvailableVaspsResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/VaspGetAvailableVasps400Response'
      deprecated: false
  /resources/accessTokens/behavior:
    post:
      tags:
        - AccessToken
      summary: Generate access token
      operationId: AccessToken_generateFishermanToken
      description: >-
        Creates an access token to apply [Fisherman](ref:about-fisherman) per
        applicant session.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccessTokenGenerateFishermanTokenRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AccessTokenGenerateFishermanTokenRequest1'
      responses:
        '200':
          description: OK
      deprecated: false
  /resources/applicants/-/kyt/txns/-/data?accessToken={accessToken}:
    post:
      tags:
        - AccessToken
      summary: Confirm applicant platform event
      operationId: AccessToken_confirmPlatformEvent
      description: Confirms that the platform event on the applicant side is completed.
      parameters:
        - description: >-
            Access token that you have [received at the first
            step](ref:generate-access-token-fisherman) of the flow.
          name: accessToken
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccessTokenConfirmPlatformEventRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AccessTokenConfirmPlatformEventRequest1'
      responses:
        '200':
          description: OK
      deprecated: false
  /resources/auditTrailEvents:
    get:
      tags:
        - AuditTrailEvent
      summary: Audit trail events
      operationId: AuditTrailEvent_getEvents
      description: Returns audit trail events.
      parameters:
        - description: >-
            The name of the subject for which events are received. If the name
            is not specified, the events are received for all subjects on the
            key.
          name: subjectName
          in: query
          schema:
            type: string
        - description: >-
            If specified, only the events with this activity will be in the
            response.
          name: activity
          in: query
          schema:
            type: string
        - description: >-
            Date/time events are received from (`yyyy-MM-dd HH:mm:ss`, e.g.
            2022-10-01 12:05:00). If not specified, the events are received from
            the day before.
          name: from
          in: query
          schema:
            type: string
        - description: >-
            To the date/time events are received (`yyyy-MM-dd HH:mm:ss`, e.g.
            2022-10-01 12:15:00). If not specified, the events are received up
            to the present moment.
          name: to
          in: query
          schema:
            type: string
        - description: >-
            The maximum number of events per request. Cannot be more than 20000.
            By default is 10.
          name: limit
          in: query
          schema:
            type: string
            default: '10'
        - description: >-
            Allows to skip the offset events before beginning to return the
            events. By default is 0.
          name: offset
          in: query
          schema:
            type: string
            default: '0'
      responses:
        '200':
          description: OK
      deprecated: false
  /resources/applicantFraudNetworks:
    get:
      tags:
        - Applicant
      summary: Get fraud networks
      operationId: Applicant_getFraudNetworks
      description: Returns fraud networks.
      parameters:
        - description: Offset of the found networks to be returned.
          name: offset
          in: query
          schema:
            type: integer
            format: int32
            default: 0
        - description: >-
            Maximum number of the found networks to be returned. The maximum
            value you can set is 100.
          name: limit
          in: query
          schema:
            type: integer
            format: int32
            default: 10
      responses:
        '200':
          description: OK
      deprecated: false
components:
  securitySchemes:
    sec0:
      type: apiKey
      in: header
      name: X-App-Token
      x-default: ''
  schemas:
    ApplicantUpdateTopLevelInfoRequest:
      type: object
      required:
        - id
      properties:
        id:
          description: A unique applicant identifier.
          type: string
        externalUserId:
          description: An external applicant identifier.
          type: string
        email:
          description: A new email address that you want to assign to the given applicant.
          type: string
        phone:
          description: A new phone number that you want to assign to the given applicant.
          type: string
        sourceKey:
          description: >-
            A new [source key](https://docs.sumsub.com/reference) that you want
            to assign to the given applicant.
          type: string
        lang:
          description: >-
            The language, in which the applicant should see the verification
            results.
          type: string
        questionnaires:
          description: >-
            A [questionnaire](https://docs.sumsub.com/reference) configuration
            with the answers.
          type: array
          items:
            description: >-
              WARNING: Missing items property in array schema. Missing items
              property has been filled with this AnyType schema.
        metadata:
          description: Additional information about the applicant.
          type: array
          items:
            description: >-
              WARNING: Missing items property in array schema. Missing items
              property has been filled with this AnyType schema.
        deleted:
          description: Marks the applicant profile as inactive.
          type: boolean
    ApplicantUpdateTopLevelInfoRequest1:
      type: object
      required:
        - id
      properties:
        id:
          description: A unique applicant identifier.
          type: string
        externalUserId:
          description: An external applicant identifier.
          type: string
        email:
          description: A new email address that you want to assign to the given applicant.
          type: string
        phone:
          description: A new phone number that you want to assign to the given applicant.
          type: string
        sourceKey:
          description: >-
            A new [source key](https://docs.sumsub.com/reference) that you want
            to assign to the given applicant.
          type: string
        lang:
          description: >-
            The language, in which the applicant should see the verification
            results.
          type: string
        questionnaires:
          description: >-
            A [questionnaire](https://docs.sumsub.com/reference) configuration
            with the answers.
          type: array
          items:
            description: >-
              WARNING: Missing items property in array schema. Missing items
              property has been filled with this AnyType schema.
        metadata:
          description: Additional information about the applicant.
          type: array
          items:
            description: >-
              WARNING: Missing items property in array schema. Missing items
              property has been filled with this AnyType schema.
        deleted:
          description: Marks the applicant profile as inactive.
          type: boolean
    ApplicantAddIdDocumentRequest:
      type: object
      properties:
        metadata:
          description: An object that represents an ID document.
          type: object
          required:
            - idDocType
            - country
          properties:
            idDocType:
              description: A document type.
              type: string
            idDocSubType:
              description: '`FRONT_SIDE`, `BACK_SIDE` or `null`.'
              type: string
            country:
              description: ISO 3166-1 alpha-3 country code.
              type: string
            firstName:
              description: First applicant name.
              type: string
            middleName:
              description: Middle applicant name.
              type: string
            lastName:
              description: Last applicant name.
              type: string
            issuedDate:
              description: Issued date (format `YYYY-mm-dd`, e.g. 2001-09-25).
              type: string
            validUntil:
              description: Valid until date (format `YYYY-mm-dd`, e.g. 2001-09-26).
              type: string
            number:
              description: A document number.
              type: string
            dob:
              description: Applicant date of birth.
              type: string
            placeOfBirth:
              description: Applicant birthplace.
              type: string
        content:
          description: A photo of the document.
          type: string
          format: binary
    ApplicantAddIdDocumentRequest1:
      type: object
      properties:
        metadata:
          description: An object that represents an ID document.
          type: object
          required:
            - idDocType
            - country
          properties:
            idDocType:
              description: A document type.
              type: string
            idDocSubType:
              description: '`FRONT_SIDE`, `BACK_SIDE` or `null`.'
              type: string
            country:
              description: ISO 3166-1 alpha-3 country code.
              type: string
            firstName:
              description: First applicant name.
              type: string
            middleName:
              description: Middle applicant name.
              type: string
            lastName:
              description: Last applicant name.
              type: string
            issuedDate:
              description: Issued date (format `YYYY-mm-dd`, e.g. 2001-09-25).
              type: string
            validUntil:
              description: Valid until date (format `YYYY-mm-dd`, e.g. 2001-09-26).
              type: string
            number:
              description: A document number.
              type: string
            dob:
              description: Applicant date of birth.
              type: string
            placeOfBirth:
              description: Applicant birthplace.
              type: string
        content:
          description: A photo of the document.
          type: string
          format: binary
    ApplicantUpdateFixedInfoRequest:
      type: object
      properties:
        firstName:
          description: The first name of the applicant.
          type: string
        lastName:
          description: The last name of the applicant.
          type: string
        middleName:
          description: The middle name of the applicant.
          type: string
        firstNameEn:
          description: Automatic transliteration of the first name.
          type: string
        lastNameEn:
          description: Automatic transliteration of the last name.
          type: string
        middleNameEn:
          description: Automatic transliteration of the middle name.
          type: string
        legalName:
          description: Legal name.
          type: string
        gender:
          description: An applicant gender (`M` or `F`).
          type: string
        dob:
          description: Applicant date of birth (format `YYYY-mm-dd`, e.g. 2001-09-25).
          type: string
        placeOfBirth:
          description: The applicant birthplace.
          type: string
        countryOfBirth:
          description: Applicant country of birth.
          type: string
        stateOfBirth:
          description: Applicant state of birth.
          type: string
        country:
          description: Alpha-3 country code (e.g. `DEU` or `GBR`).
          type: string
        nationality:
          description: Alpha-3 country code.
          type: string
        addresses:
          description: List of applicant addresses.
          type: array
          items:
            description: >-
              WARNING: Missing items property in array schema. Missing items
              property has been filled with this AnyType schema.
        tin:
          description: Tax identification number.
          type: string
    ApplicantUpdateFixedInfoRequest1:
      type: object
      properties:
        firstName:
          description: The first name of the applicant.
          type: string
        lastName:
          description: The last name of the applicant.
          type: string
        middleName:
          description: The middle name of the applicant.
          type: string
        firstNameEn:
          description: Automatic transliteration of the first name.
          type: string
        lastNameEn:
          description: Automatic transliteration of the last name.
          type: string
        middleNameEn:
          description: Automatic transliteration of the middle name.
          type: string
        legalName:
          description: Legal name.
          type: string
        gender:
          description: An applicant gender (`M` or `F`).
          type: string
        dob:
          description: Applicant date of birth (format `YYYY-mm-dd`, e.g. 2001-09-25).
          type: string
        placeOfBirth:
          description: The applicant birthplace.
          type: string
        countryOfBirth:
          description: Applicant country of birth.
          type: string
        stateOfBirth:
          description: Applicant state of birth.
          type: string
        country:
          description: Alpha-3 country code (e.g. `DEU` or `GBR`).
          type: string
        nationality:
          description: Alpha-3 country code.
          type: string
        addresses:
          description: List of applicant addresses.
          type: array
          items:
            description: >-
              WARNING: Missing items property in array schema. Missing items
              property has been filled with this AnyType schema.
        tin:
          description: Tax identification number.
          type: string
    ApplicantChangeExtractedInfoRequest:
      type: object
      properties:
        firstName:
          description: The first name of the applicant.
          type: string
        lastName:
          description: The last name of the applicant.
          type: string
        middleName:
          description: The middle name of the applicant.
          type: string
        legalName:
          description: Legal name.
          type: string
        gender:
          description: An applicant gender (`M` or `F`).
          type: string
        dob:
          description: Applicant date of birth (format `YYYY-mm-dd`, e.g. 2001-09-25).
          type: string
        placeOfBirth:
          description: The applicant birthplace.
          type: string
        countryOfBirth:
          description: Applicant country of birth.
          type: string
        stateOfBirth:
          description: Applicant state of birth.
          type: string
        country:
          description: Alpha-3 country code (e.g. `DEU` or `GBR`).
          type: string
        nationality:
          description: Alpha-3 country code.
          type: string
        addresses:
          description: List of applicant addresses.
          type: string
        tin:
          description: Tax identification number.
          type: string
    ApplicantChangeExtractedInfoRequest1:
      type: object
      properties:
        firstName:
          description: The first name of the applicant.
          type: string
        lastName:
          description: The last name of the applicant.
          type: string
        middleName:
          description: The middle name of the applicant.
          type: string
        legalName:
          description: Legal name.
          type: string
        gender:
          description: An applicant gender (`M` or `F`).
          type: string
        dob:
          description: Applicant date of birth (format `YYYY-mm-dd`, e.g. 2001-09-25).
          type: string
        placeOfBirth:
          description: The applicant birthplace.
          type: string
        countryOfBirth:
          description: Applicant country of birth.
          type: string
        stateOfBirth:
          description: Applicant state of birth.
          type: string
        country:
          description: Alpha-3 country code (e.g. `DEU` or `GBR`).
          type: string
        nationality:
          description: Alpha-3 country code.
          type: string
        addresses:
          description: List of applicant addresses.
          type: string
        tin:
          description: Tax identification number.
          type: string
    ApplicantImportCompletedRequest:
      type: object
      properties:
        info:
          description: >-
            Holds the personal applicant information extracted during
            verification.
          type: object
          properties:
            firstName:
              description: The first name of the applicant.
              type: string
            lastName:
              description: The last name of the applicant.
              type: string
            middleName:
              description: The middle name of the applicant.
              type: string
            firstNameEn:
              description: Automatic transliteration of the first name.
              type: string
            lastNameEn:
              description: Automatic transliteration of the last name.
              type: string
            middleNameEn:
              description: Automatic transliteration of the middle name.
              type: string
            legalName:
              description: Legal name.
              type: string
            gender:
              description: An applicant gender (`M` or `F`).
              type: string
            dob:
              description: Applicant date of birth (format `YYYY-mm-dd`, e.g. 2001-09-25).
              type: string
            placeOfBirth:
              description: The applicant birthplace.
              type: string
            countryOfBirth:
              description: Applicant country of birth.
              type: string
            stateOfBirth:
              description: Applicant state of birth.
              type: string
            country:
              description: Alpha-3 country code (e.g. `DEU` or `GBR`).
              type: string
            nationality:
              description: Alpha-3 country code.
              type: string
            addresses:
              description: List of applicant addresses.
              type: array
              items:
                properties:
                  country:
                    description: Alpha-3 country code.
                    type: string
                  postCode:
                    description: Postal code.
                    type: string
                  town:
                    description: Town or city name.
                    type: string
                  street:
                    description: Street name.
                    type: string
                  subStreet:
                    description: Additional street information.
                    type: string
                  state:
                    description: State name (if applicable).
                    type: string
                  buildingName:
                    description: Building name (if applicable).
                    type: string
                  flatNumber:
                    description: Flat or apartment number.
                    type: string
                  buildingNumber:
                    description: Building number.
                    type: string
                type: object
            tin:
              description: Tax identification number.
              type: string
        externalUserId:
          description: A unique applicant identifier as registered on your side.
          type: string
        review:
          description: Review results.
          type: object
          properties:
            createDate:
              description: >-
                Date of users' creation on your side in a format: "2022-11-21
                08:25:32+0000"
              type: string
            reviewDate:
              description: 'review date on your side in a format: "2022-11-21 08:25:32+0000"'
              type: string
            review:
              type: object
              properties:
                moderationComment:
                  description: Reason of rejection for end-user
                  type: string
                clientComment:
                  description: internal reason of rejection
                  type: string
                reviewAnswer:
                  description: '"GREEN"/"RED"'
                  type: string
                reviewRejectType:
                  description: '"FINAL"/"RETRY"(used only when "reviewAnswer"="RED")'
                  type: string
            reviewStatus:
[...]
