openapi: 3.0.3
info:
  title: Terminal API
  description: >-
    Terminal is a unified API that makes it easy to integrate with the leading
    telematics service providers.


    Contact Support:
     Name: Terminal
     Email: connect@withterminal.com
  version: 1.0.0
  contact: {}
  x-konfig-ignore:
    potential-incorrect-type: true
servers:
  - url: https://api.sandbox.withterminal.com/tsp/v1
tags:
  - description: ''
    name: Vehicles
  - description: ''
    name: Connections
  - description: ''
    name: Data Management
  - description: ''
    name: Hours of Service
  - description: ''
    name: Drivers
  - description: ''
    name: Issues
  - description: ''
    name: Trailers
  - description: ''
    name: Authentication
  - description: ''
    name: Groups
  - description: ''
    name: IFTA
  - description: ''
    name: Providers
  - description: ''
    name: Safety
  - description: ''
    name: Trips
  - description: ''
    name: Devices
  - description: ''
    name: Webhook Events
paths:
  /public-token/exchange:
    post:
      tags:
        - Authentication
      summary: Public Token Exchange
      operationId: Authentication_exchangeToken
      description: >-
        Exchange the `publicToken` returned by our hosted authentication flow
        for a long lived connection token that will be used when requesting data
        from a customer's TSP.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthenticationExchangeTokenRequest'
            examples:
              Public Token Exchange:
                value:
                  publicToken: INSERT_PUBLIC_TOKEN
      responses:
        '200':
          description: ''
  /connections:
    get:
      tags:
        - Connections
      summary: List All Connections
      operationId: Connections_listAll
      description: >-
        List all of the connections you have for your application. Connections
        represent the authenticated access you have to your customer's TSP data.
      parameters:
        - description: Pagination cursor to start requests from
          name: cursor
          in: query
          schema:
            type: string
            example: '{{nextCursor}}'
        - description: The maximum number of results to return in a page.
          name: limit
          in: query
          schema:
            type: string
            example: '1'
        - name: externalId
          in: query
          schema:
            type: string
            example: '123'
        - name: dotNumber
          in: query
          schema:
            type: string
            example: '123'
        - description: Filter connections by tag
          name: tag
          in: query
          schema:
            type: string
            example: ut est
        - description: Filter connections that were last updated on or after a given time.
          name: updatedAfter
          in: query
          schema:
            type: string
            example: '2021-01-06T03:24:53.000Z'
        - description: Filter connections that were last updated on or before a given time.
          name: updatedBefore
          in: query
          schema:
            type: string
            example: '2021-01-06T03:24:53.000Z'
      responses:
        '200':
          description: ''
    post:
      tags:
        - Connections
      summary: Create Connection
      operationId: Connections_createCustomConnection
      description: >-
        Create a new connection via API. This endpoint can be used to provide a
        completely custom connection creation experience for your customers.


        For most use cases we recommend using the [Link
        UI](./rhuaxk9205cn8-link-component) to create connections.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectionsCreateCustomConnectionRequest'
            examples:
              Create Connection:
                value:
                  tags:
                    - Tag Name
                    - Tag Name
                  backfill:
                    days: 47457977.31426272
                    startFrom: '2021-01-06T03:24:53.000Z'
                  company:
                    dotNumbers:
                      - non
                      - sunt ullamco elit
                    name: adipisicing amet ea dolor
                  credentials:
                    database: non consequat sint dolore adipisicing
                    password: culpa non dolore
                    username: reprehenderit nulla Lorem
                  externalId: laborum ullamco pariatur magna
                  provider: geotab
                  syncMode: automatic
      responses:
        '200':
          description: ''
  /connections/current:
    get:
      tags:
        - Connections
      summary: Get Current Connection
      operationId: Connections_getCurrentDetails
      description: >-
        Get the details of the current active connection. The current connection
        is derived from the provided connection token.
      parameters:
        - description: >-
            (Required) The token returned when a user authenticated their
            account. This authorizes access to a specific account.
          name: connection-token
          in: header
          schema:
            type: string
            example: '{{connectionToken}}'
      responses:
        '200':
          description: ''
    patch:
      tags:
        - Connections
      summary: Update Current Connection
      operationId: Connections_updateCurrentConnectionDetails
      description: >-
        Update the details of the current active connection. The current
        connection is derived from the provided connection token.
      parameters:
        - description: >-
            (Required) The token returned when a user authenticated their
            account. This authorizes access to a specific account.
          name: connection-token
          in: header
          schema:
            type: string
            example: '{{connectionToken}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/ConnectionsUpdateCurrentConnectionDetailsRequest
            examples:
              Update Current Connection:
                value:
                  tags:
                    - ullamco sed nisi officia
                    - ullamco fugiat anim
                  company:
                    name: Acme Inc.
                  externalId: officia proident
                  status: veniam sed mollit commodo
                  syncMode: automatic
      responses:
        '200':
          description: ''
  /syncs:
    get:
      tags:
        - Data Management
      summary: List Sync History
      operationId: DataManagement_listSyncHistory
      description: List a log of all batch sync jobs for the current connection.
      parameters:
        - description: The maximum number of results to return in a page.
          name: limit
          in: query
          schema:
            type: string
            example: '1'
        - description: Pagination cursor to start requests from
          name: cursor
          in: query
          schema:
            type: string
            example: '{{nextCursor}}'
        - name: status
          in: query
          schema:
            type: string
            example: in_progress
        - description: Expand related resources in the response to reduce requests.
          name: expand
          in: query
          schema:
            type: string
            example: ''
        - description: >-
            (Required) The token returned when a user authenticated their
            account. This authorizes access to a specific account.
          name: connection-token
          in: header
          schema:
            type: string
            example: '{{connectionToken}}'
      responses:
        '200':
          description: ''
    post:
      tags:
        - Data Management
      summary: Request Sync
      operationId: DataManagement_requestSyncManual
      description: >-
        Manually request to sync the current connections data.


        By default, Terminal will sync all connections where `syncMode =
        automatic` on a regular cadence. For customers that may not need a
        fleet's data to be kept up to date and want to reduce their active
        tracked trucks, you can set `syncMode = manual` and invoke this endpoint
        when you want to sync data.


        If you're wondering if this is relevent to your use case then feel free
        to reach out and we'd be happy to assist.
      parameters:
        - description: >-
            (Required) The token returned when a user authenticated their
            account. This authorizes access to a specific account.
          name: connection-token
          in: header
          schema:
            type: string
            example: '{{connectionToken}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataManagementRequestSyncManualRequest'
            examples:
              Request Sync:
                value:
                  days: 7
      responses:
        '200':
          description: ''
  /syncs/{id}:
    parameters:
      - description: '(Required) '
        name: id
        in: path
        required: true
        schema:
          type: string
          example: '{{syncId}}'
    get:
      tags:
        - Data Management
      summary: Get Sync Job Status
      operationId: DataManagement_getSyncStatus
      description: Get the status of a sync job by ID.
      parameters:
        - description: Expand related resources in the response to reduce requests.
          name: expand
          in: query
          schema:
            type: string
            example: ''
        - description: >-
            (Required) The token returned when a user authenticated their
            account. This authorizes access to a specific account.
          name: connection-token
          in: header
          schema:
            type: string
            example: '{{connectionToken}}'
      responses:
        '200':
          description: ''
  /passthrough:
    post:
      tags:
        - Data Management
      summary: Passthrough
      operationId: DataManagement_makePassthroughRequest
      description: >-
        Make an authenticated request to the underlying telematics provider. 


        This endpoint helps ensure that you are never limited by Terminal. You
        can use passthrough requests to access capabilities that may be limited
        to a specific TSP or not yet in the normalized model.


        Our team is here an ready to support custom use cases that may need
        `/passthrough`
      parameters:
        - description: >-
            (Required) The token returned when a user authenticated their
            account. This authorizes access to a specific account.
          name: connection-token
          in: header
          schema:
            type: string
            example: '{{connectionToken}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataManagementMakePassthroughRequestRequest'
            examples:
              Passthrough:
                value:
                  body: '{"reportId":"1234"}'
                  headers: {}
                  method: POST
                  path: /reports
      responses:
        '200':
          description: ''
  /drivers:
    get:
      tags:
        - Drivers
      summary: List Drivers
      operationId: Drivers_list
      description: List all of the drivers in the connected account
      parameters:
        - description: Pagination cursor to start requests from
          name: cursor
          in: query
          schema:
            type: string
            example: '{{nextCursor}}'
        - description: The maximum number of results to return in a page.
          name: limit
          in: query
          schema:
            type: string
            example: '1'
        - description: Only include records that were last modified after a provided date.
          name: modifiedAfter
          in: query
          schema:
            type: string
            example: '2021-01-06T03:24:53.000Z'
        - description: Only include records that were last modified before a provided date.
          name: modifiedBefore
          in: query
          schema:
            type: string
            example: '2021-01-06T03:24:53.000Z'
        - description: >-
            Include raw responses used to normalize model. Used for debugging or
            accessing unique properties that are not unified.
          name: raw
          in: query
          schema:
            type: string
            example: 'true'
        - description: Expand resources in the returned response
          name: expand
          in: query
          schema:
            type: string
            example: ''
        - description: >-
            (Required) The token returned when a user authenticated their
            account. This authorizes access to a specific account.
          name: connection-token
          in: header
          schema:
            type: string
            example: '{{connectionToken}}'
      responses:
        '200':
          description: ''
  /drivers/{id}:
    parameters:
      - description: '(Required) '
        name: id
        in: path
        required: true
        schema:
          type: string
          example: '{{driverId}}'
    get:
      tags:
        - Drivers
      summary: Get Driver
      operationId: Drivers_getDetails
      description: Get the details of a specific driver
      parameters:
        - description: >-
            Include raw responses used to normalize model. Used for debugging or
            accessing unique properties that are not unified.
          name: raw
          in: query
          schema:
            type: string
            example: 'true'
        - description: Expand resources in the returned response
          name: expand
          in: query
          schema:
            type: string
            example: ''
        - description: >-
            (Required) The token returned when a user authenticated their
            account. This authorizes access to a specific account.
          name: connection-token
          in: header
          schema:
            type: string
            example: '{{connectionToken}}'
      responses:
        '200':
          description: ''
  /groups:
    get:
      tags:
        - Groups
      summary: List Groups
      operationId: Groups_getAllGroups
      description: List Groups
      parameters:
        - description: The maximum number of results to return in a page.
          name: limit
          in: query
          schema:
            type: string
            example: '1'
        - description: Pagination cursor to start requests from
          name: cursor
          in: query
          schema:
            type: string
            example: '{{nextCursor}}'
        - description: Expand resources in the returned response
          name: expand
          in: query
          schema:
            type: string
            example: ''
        - description: >-
            Include raw responses used to normalize model. Used for debugging or
            accessing unique properties that are not unified.
          name: raw
          in: query
          schema:
            type: string
            example: 'true'
        - description: Only include records that were last modified after a provided date.
          name: modifiedAfter
          in: query
          schema:
            type: string
            example: '2021-01-06T03:24:53.000Z'
        - description: Only include records that were last modified before a provided date.
          name: modifiedBefore
          in: query
          schema:
            type: string
            example: '2021-01-06T03:24:53.000Z'
        - description: >-
            (Required) The token returned when a user authenticated their
            account. This authorizes access to a specific account.
          name: connection-token
          in: header
          schema:
            type: string
            example: '{{connectionToken}}'
      responses:
        '200':
          description: ''
  /hos/available-time:
    get:
      tags:
        - Hours of Service
      summary: Available Time for Drivers
      operationId: HoursOfService_getAvailableTime
      description: >-
        List available time for the driver. This endpoint provides live access
        to the driver's available time. Different than most endpoints, this
        endpoint calls the provider's API in real time to get the latest
        available time for the driver. This endpoint is useful for building real
        time applications that need to know the driver's available time.
      parameters:
        - description: Pagination cursor to start requests from
          name: cursor
          in: query
          schema:
            type: string
            example: '{{nextCursor}}'
        - description: The maximum number of results to return in a page.
          name: limit
          in: query
          schema:
            type: string
            example: '1'
        - description: Comma separated list of driver IDs to filter for
          name: driverIds
          in: query
          schema:
            type: string
            example: '{{driverId}}'
        - description: Expand resources in the returned response
          name: expand
          in: query
          schema:
            type: string
            example: ''
        - description: >-
            Include raw responses used to normalize model. Used for debugging or
            accessing unique properties that are not unified.
          name: raw
          in: query
          schema:
            type: string
            example: 'true'
        - description: >-
            (Required) The token returned when a user authenticated their
            account. This authorizes access to a specific account.
          name: connection-token
          in: header
          schema:
            type: string
            example: '{{connectionToken}}'
      responses:
        '200':
          description: ''
  /hos/logs:
    get:
      tags:
        - Hours of Service
      summary: List HOS Logs
      operationId: HoursOfService_listHosLogs
      description: >-
        List all hours of service logs. Currently, HOS logs are tracked as the
        distinct changes in duty status. In the future we will be offering
        endpoints to expose current HOS status and historical daily summaries.
      parameters:
        - description: Pagination cursor to start requests from
          name: cursor
          in: query
          schema:
            type: string
            example: '{{nextCursor}}'
        - description: The maximum number of results to return in a page.
          name: limit
          in: query
          schema:
            type: string
            example: '1'
        - description: Only include records of statuses that started after a provided date.
          name: startedAfter
          in: query
          schema:
            type: string
            example: '2021-01-06T03:24:53.000Z'
        - description: >-
            Only include records of statuses that started before a provided
            date.
          name: startedBefore
          in: query
          schema:
            type: string
            example: '2021-01-06T03:24:53.000Z'
        - description: Only include records that were last modified after a provided date.
          name: modifiedAfter
          in: query
          schema:
            type: string
            example: '2021-01-06T03:24:53.000Z'
        - description: Only include records that were last modified before a provided date.
          name: modifiedBefore
          in: query
          schema:
            type: string
            example: '2021-01-06T03:24:53.000Z'
        - description: Comma separated list of driver IDs to filter for
          name: driverIds
          in: query
          schema:
            type: string
            example: '{{driverId}}'
        - description: Expand resources in the returned response
          name: expand
          in: query
          schema:
            type: string
            example: ''
        - description: >-
            Include raw responses used to normalize model. Used for debugging or
            accessing unique properties that are not unified.
          name: raw
          in: query
          schema:
            type: string
            example: 'true'
        - description: >-
            (Required) The token returned when a user authenticated their
            account. This authorizes access to a specific account.
          name: connection-token
          in: header
          schema:
            type: string
            example: '{{connectionToken}}'
      responses:
        '200':
          description: ''
  /hos/daily-logs:
    get:
      tags:
        - Hours of Service
      summary: List HOS Daily Logs
      operationId: HoursOfService_getDailyLogs
      description: >-
        List daily summary of hours of service. Each daily log represents the
        time a driver spent in each duty status for a given day.
      parameters:
        - description: Pagination cursor to start requests from
          name: cursor
          in: query
          schema:
            type: string
            example: '{{nextCursor}}'
        - description: The maximum number of results to return in a page.
          name: limit
          in: query
          schema:
            type: string
            example: '1'
        - description: Only include daily logs from on or after a specific date
          name: startDate
          in: query
          schema:
            type: string
            example: '1947-03-03'
        - description: Only include daily logs from on or before a specific date
          name: endDate
          in: query
          schema:
            type: string
            example: '1947-03-03'
        - description: Only include records that were last modified after a provided date.
          name: modifiedAfter
          in: query
          schema:
            type: string
            example: '2021-01-06T03:24:53.000Z'
        - description: Only include records that were last modified before a provided date.
          name: modifiedBefore
          in: query
          schema:
            type: string
            example: '2021-01-06T03:24:53.000Z'
        - description: Comma separated list of driver IDs to filter for
          name: driverIds
          in: query
          schema:
            type: string
            example: '{{driverId}}'
        - description: >-
            Include raw responses used to normalize model. Used for debugging or
            accessing unique properties that are not unified.
          name: raw
          in: query
          schema:
            type: string
            example: 'true'
        - description: Expand resources in the returned response
          name: expand
          in: query
          schema:
            type: string
            example: ''
        - description: >-
            (Required) The token returned when a user authenticated their
            account. This authorizes access to a specific account.
          name: connection-token
          in: header
          schema:
            type: string
            example: '{{connectionToken}}'
      responses:
        '200':
          description: ''
  /ifta/summary:
    get:
      tags:
        - IFTA
      summary: Get IFTA Summary
      operationId: Ifta_getMonthlyReports
      description: >-
        Get all vehicle IFTA reports for the requested time span.


        Currently can only increment by full months. 


        _Note:_ data may change for a few days after the month. We will continue
        to update those reports to ensure you get accurate results.
      parameters:
        - description: Pagination cursor to start requests from
          name: cursor
          in: query
          schema:
            type: string
            example: '{{nextCursor}}'
        - description: Expand resources in the returned response
          name: expand
          in: query
          schema:
            type: string
            example: ''
        - description: >-
            Include raw responses used to normalize model. Used for debugging or
            accessing unique properties that are not unified.
          name: raw
          in: query
          schema:
            type: string
            example: 'true'
        - description: (Required) The month from which to start including vehicle reports
          name: startMonth
          in: query
          schema:
            type: string
            example: 2021-01
        - description: (Required) Include vehicle reports up to and including this month
          name: endMonth
          in: query
          schema:
            type: string
            example: 2021-01
        - description: >-
            Computes the total distance traversed within a specified month
            range, with the results grouped by either jurisdiction, vehicle, or
            both. If no grouping parameter is provided, the default grouping is
            `vehicle,jurisdiction`.
          name: groupBy
          in: query
          schema:
            type: string
            example: vehicle,jurisdiction
        - description: >-
            (Required) The token returned when a user authenticated their
            account. This authorizes access to a specific account.
          name: connection-token
          in: header
          schema:
            type: string
            example: '{{connectionToken}}'
      responses:
        '200':
          description: ''
  /issues:
    get:
      tags:
        - Issues
      summary: List Issues
      operationId: Issues_listObservedEvents
      description: >-
        List all issues that have been observed by Terminal.

        Issues are generated when we observe something that may impact the
        completeness or accuracy of the data we provide but do not justify a
        full error.

        For example, if we lack permissions for a specific resource or need to
        skip an item due to invalid data.
      parameters:
        - description: The maximum number of results to return in a page.
          name: limit
          in: query
          schema:
            type: string
            example: '1'
        - description: Pagination cursor to start requests from
          name: cursor
          in: query
          schema:
            type: string
            example: '{{nextCursor}}'
        - description: Timestamp to start when the issue was last observed
          name: lastReportedAfter
          in: query
          schema:
            type: string
            example: '1967-06-22'
        - description: Timestamp to end when the issue was last observed
          name: lastReportedBefore
          in: query
          schema:
            type: string
            example: '1967-06-22'
        - description: Expand related resources to see all details
          name: expand
          in: query
          schema:
            type: string
            example: ''
        - description: Filter issues to a specific connection
          name: connectionId
          in: query
          schema:
            type: string
            example: conn_01GV12VR4DJP70GD1ZBK0SDWFH
        - description: Filter issues to a specific error code
          name: errorCode
          in: query
          schema:
            type: string
            example: missing_safety_configuration
        - description: Filter issues to a specific status
          name: status
          in: query
          schema:
            type: string
            example: ongoing
      responses:
        '200':
          description: ''
  /issues/{issueId}/resolve:
    parameters:
      - description: '(Required) '
        name: issueId
        in: path
        required: true
        schema:
          type: string
          example: ut est
    post:
      tags:
        - Issues
      summary: Resolve Issue
      operationId: Issues_markResolved
      description: Mark an issue's status as `resolved` until the issue is observed again.
      responses:
        '200':
          description: ''
  /providers:
    get:
      tags:
        - Providers
      summary: List Providers
      operationId: Providers_getList
      description: >-
        Retrieve a list of the providers Terminal supports. This endpoint will
        grow to include additional details about the supported capabilities of
        each provider.
      responses:
        '200':
          description: ''
  /safety/events:
    get:
      tags:
        - Safety
      summary: List Safety Events
      operationId: Safety_getEvents
      description: List all safety events detected by the provider.
      parameters:
        - description: Pagination cursor to start requests from
          name: cursor
          in: query
          schema:
            type: string
            example: '{{nextCursor}}'
        - description: The maximum number of results to return in a page.
          name: limit
          in: query
          schema:
            type: string
            example: '1'
        - description: Only include records that were last modified after a provided date.
          name: modifiedAfter
          in: query
          schema:
            type: string
            example: '2021-01-06T03:24:53.000Z'
        - description: Only include records that were last modified before a provided date.
          name: modifiedBefore
          in: query
          schema:
            type: string
            example: '2021-01-06T03:24:53.000Z'
        - description: Only include records of statuses that started after a provided date.
          name: startedAfter
          in: query
          schema:
            type: string
            example: '2021-01-06T03:24:53.000Z'
        - description: >-
            Only include records of statuses that started before a provided
            date.
          name: startedBefore
          in: query
          schema:
            type: string
            example: '2021-01-06T03:24:53.000Z'
        - description: Comma separated list of driver IDs to filter for
          name: driverIds
          in: query
          schema:
            type: string
            example: '{{driverId}}'
        - description: Comma separated list of vehicle IDs to filter for
          name: vehicleIds
          in: query
          schema:
            type: string
            example: '{{vehicleId}}'
        - description: Expand resources in the returned response
          name: expand
          in: query
          schema:
            type: string
            example: ''
        - description: >-
            Include raw responses used to normalize model. Used for debugging or
            accessing unique properties that are not unified.
          name: raw
          in: query
          schema:
            type: string
            example: 'true'
        - description: >-
            (Required) The token returned when a user authenticated their
            account. This authorizes access to a specific account.
          name: connection-token
          in: header
          schema:
            type: string
            example: '{{connectionToken}}'
      responses:
        '200':
          description: ''
  /trailers:
    get:
      tags:
        - Trailers
      summary: List Trailers
      operationId: Trailers_getAllTrailers
      description: List Trailers
      parameters:
        - description: The maximum number of results to return in a page.
          name: limit
          in: query
          schema:
            type: string
            example: '1'
        - description: Pagination cursor to start requests from
          name: cursor
          in: query
          schema:
            type: string
            example: '{{nextCursor}}'
        - description: Expand resources in the returned response
          name: expand
          in: query
          schema:
            type: string
            example: ''
        - description: >-
            Include raw responses used to normalize model. Used for debugging or
            accessing unique properties that are not unified.
          name: raw
          in: query
          schema:
            type: string
            example: 'true'
        - description: Only include records that were last modified after a provided date.
          name: modifiedAfter
          in: query
          schema:
            type: string
            example: '2021-01-06T03:24:53.000Z'
        - description: Only include records that were last modified before a provided date.
          name: modifiedBefore
          in: query
          schema:
            type: string
            example: '2021-01-06T03:24:53.000Z'
        - description: >-
            (Required) The token returned when a user authenticated their
            account. This authorizes access to a specific account.
          name: connection-token
          in: header
          schema:
            type: string
            example: '{{connectionToken}}'
      responses:
        '200':
          description: ''
  /trailers/locations:
    get:
      tags:
        - Trailers
      summary: Latest Trailer Locations
      operationId: Trailers_listLatestLocations
      description: Latest Trailer Locations
      parameters:
        - description: The maximum number of results to return in a page.
          name: limit
          in: query
          schema:
            type: string
            example: '1'
        - description: Pagination cursor to start requests from
          name: cursor
          in: query
          schema:
            type: string
            example: '{{nextCursor}}'
        - description: Expand resources in the returned response
          name: expand
          in: query
          schema:
            type: string
            example: ''
        - description: >-
            Include raw responses used to normalize model. Used for debugging or
            accessing unique properties that are not unified.
          name: raw
          in: query
          schema:
            type: string
            example: 'true'
        - description: >-
            (Required) The token returned when a user authenticated their
            account. This authorizes access to a specific account.
          name: connection-token
          in: header
          schema:
            type: string
            example: '{{connectionToken}}'
      responses:
        '200':
          description: ''
  /vehicles:
    get:
      tags:
        - Vehicles
      summary: List Vehicles
      operationId: Vehicles_getAll
      description: List all of the vehicles in the connected account
      parameters:
        - description: Pagination cursor to start requests from
          name: cursor
          in: query
          schema:
            type: string
            example: '{{nextCursor}}'
        - description: The maximum number of results to return in a page.
          name: limit
          in: query
          schema:
            type: string
            example: '1'
        - description: Only include records that were last modified after a provided date.
          name: modifiedAfter
          in: query
          schema:
            type: string
            example: '2021-01-06T03:24:53.000Z'
        - description: Only include records that were last modified before a provided date.
          name: modifiedBefore
          in: query
          schema:
            type: string
            example: '2021-01-06T03:24:53.000Z'
        - description: >-
            Include raw responses used to normalize model. Used for debugging or
            accessing unique properties that are not unified.
          name: raw
          in: query
          schema:
            type: string
            example: 'true'
        - description: Expand resources in the returned response
          name: expand
          in: query
          schema:
            type: string
            example: ''
        - description: >-
            (Required) The token returned when a user authenticated their
            account. This authorizes access to a specific account.
          name: connection-token
          in: header
          schema:
            type: string
            example: '{{connectionToken}}'
      responses:
        '200':
          description: ''
  /vehicles/{id}:
    parameters:
      - description: '(Required) '
        name: id
        in: path
        required: true
        schema:
          type: string
          example: '{{vehicleId}}'
    get:
      tags:
        - Vehicles
      summary: Get Vehicle
      operationId: Vehicles_getDetails
      description: Get the details of a specific vehicle
      parameters:
        - description: >-
            Include raw responses used to normalize model. Used for debugging or
            accessing unique properties that are not unified.
          name: raw
          in: query
          schema:
            type: string
            example: 'true'
        - description: Expand resources in the returned response
          name: expand
          in: query
          schema:
            type: string
            example: ''
        - description: >-
            (Required) The token returned when a user authenticated their
            account. This authorizes access to a specific account.
          name: connection-token
          in: header
          schema:
            type: string
            example: '{{connectionToken}}'
      responses:
        '200':
          description: ''
  /vehicles/locations:
    get:
      tags:
        - Vehicles
      summary: Latest Vehicle Locations
      operationId: Vehicles_getLatestLocations
      description: >-
        List the latest location of the vehicles in the connected account.

        This endpoint will call the provider's API in real time to get the
        latest location of the vehicle. 

        _Please note: this endpoint will exclude vehicles that have no last
        known location._
      parameters:
        - description: Pagination cursor to start requests from
          name: cursor
          in: query
          schema:
            type: string
            example: '{{nextCursor}}'
        - description: The maximum number of results to return in a page.
          name: limit
          in: query
          schema:
            type: string
            example: '1'
        - description: >-
            Include raw responses used to normalize model. Used for debugging or
            accessing unique properties that are not unified.
          name: raw
          in: query
          schema:
            type: string
            example: 'true'
        - description: Comma separated list of vehicle IDs to filter for
          name: vehicleIds
          in: query
          schema:
            type: string
            example: '{{vehicleId}}'
        - description: Expand resources in the returned response
          name: expand
          in: query
          schema:
            type: string
            example: ''
        - description: >-
            (Required) The token returned when a user authenticated their
            account. This authorizes access to a specific account.
          name: connection-token
          in: header
          schema:
            type: string
            example: '{{connectionToken}}'
      responses:
        '200':
          description: ''
  /vehicles/{vehicleId}/locations:
    parameters:
      - description: (Required) Vehicle to retrieve breadcrumb locations for
        name: vehicleId
        in: path
        required: true
        schema:
          type: string
          example: '{{vehicleId}}'
    get:
      tags:
        - Vehicles
      summary: Historical Vehicle Locations
      operationId: Vehicles_listHistoricalLocations
      description: >-
        List the historical breadcrumb locations for a vehicle.


        _Note:_


        Given the large volume of location data available, we encourage
        customers to accept compressed (`gzip`) responses in order to maximize
        throughput. This is supported with many popular HTTP clients. Result
        limits vary depending on if results are compressed or not.
      parameters:
        - description: Pagination cursor to start requests from
          name: cursor
          in: query
          schema:
            type: string
            example: '{{nextCursor}}'
        - description: The maximum number of results to return in a page.
          name: limit
          in: query
          schema:
            type: string
            example: '1'
        - description: Timestamp to start from - defaults to `TODAY - 1 MONTH`
          name: startAt
          in: query
          schema:
            type: string
            example: '2021-01-06T03:24:53.000Z'
        - description: Timestamp to end at - defaults to `TODAY`
          name: endAt
          in: query
          schema:
            type: string
            example: '2021-01-06T03:24:53.000Z'
        - description: >-
            Include raw responses used to normalize model. Used for debugging or
            accessing unique properties that are not unified.
          name: raw
          in: query
          schema:
            type: string
            example: 'true'
        - description: >-
            (Required) The token returned when a user authenticated their
            account. This authorizes access to a specific account.
          name: connection-token
          in: header
          schema:
            type: string
            example: '{{connectionToken}}'
      responses:
        '200':
          description: ''
  /vehicles/{vehicleId}/stats/historical:
    parameters:
      - description: '(Required) '
        name: vehicleId
        in: path
        required: true
        schema:
          type: string
          example: '{{vehicleId}}'
    get:
      tags:
        - Vehicles
      summary: Historical Vehicle Stats
      operationId: Vehicles_getHistoricalStats
      description: List historical stats and logs about the vehicle.
      parameters:
        - description: Pagination cursor to start requests from
          name: cursor
          in: query
          schema:
            type: string
            example: '{{nextCursor}}'
        - description: The maximum number of results to return in a page.
          name: limit
          in: query
          schema:
            type: string
            example: '1'
        - description: Expand resources in the returned response
          name: expand
          in: query
          schema:
            type: string
            example: ''
        - description: Timestamp to start from - defaults to `TODAY - 1 MONTH`
          name: startAt
          in: query
          schema:
            type: string
            example: '2021-01-06T03:24:53.000Z'
        - description: Timestamp to end at - defaults to `TODAY`
          name: endAt
          in: query
          schema:
            type: string
            example: '2021-01-06T03:24:53.000Z'
        - description: Comma separated list of vehicle stats to filter for
          name: types
          in: query
          schema:
            type: string
            example: odometer,engine_state,fuel_level,total_fuel_consumption
        - description: >-
            Include raw responses used to normalize model. Used for debugging or
            accessing unique properties that are not unified.
          name: raw
          in: query
          schema:
            type: string
            example: 'true'
        - description: >-
            (Required) The token returned when a user authenticated their
            account. This authorizes access to a specific account.
          name: connection-token
          in: header
          schema:
            type: string
            example: '{{connectionToken}}'
      responses:
        '200':
          description: ''
  /trips:
    get:
      tags:
        - Trips
      summary: List Trips
      operationId: Trips_getAllTrips
      description: >-
        List all trips in the connected account. Trips define a period of time
        where a vehicle is in motion.
      parameters:
        - description: Pagination cursor to start requests from
          name: cursor
          in: query
          schema:
            type: string
            example: '{{nextCursor}}'
        - description: The maximum number of results to return in a page.
          name: limit
          in: query
          schema:
            type: string
            example: '1'
        - description: Only include records that were last modified after a provided date.
          name: modifiedAfter
          in: query
          schema:
            type: string
            example: '2021-01-06T03:24:53.000Z'
        - description: Only include records that were last modified before a provided date.
          name: modifiedBefore
          in: query
          schema:
            type: string
            example: '2021-01-06T03:24:53.000Z'
        - description: Only include trips that started after a provided date.
          name: startedAfter
          in: query
          schema:
            type: string
            example: '2021-01-06T03:24:53.000Z'
        - description: Only include trips that started before a provided date.
          name: startedBefore
          in: query
          schema:
            type: string
            example: '2021-01-06T03:24:53.000Z'
        - description: Only include trips that ended after a provided date.
          name: endedAfter
          in: query
          schema:
            type: string
            example: '2021-01-06T03:24:53.000Z'
        - description: Only include trips that ended before a provided date.
          name: endedBefore
          in: query
          schema:
            type: string
            example: '2021-01-06T03:24:53.000Z'
        - description: Comma separated list of driver IDs to filter for
          name: driverIds
          in: query
          schema:
            type: string
            example: '{{driverId}}'
        - description: Comma separated list of vehicle IDs to filter for
          name: vehicleIds
          in: query
          schema:
            type: string
            example: '{{vehicleId}}'
        - description: >-
            Include raw responses used to normalize model. Used for debugging or
            accessing unique properties that are not unified.
          name: raw
          in: query
          schema:
            type: string
            example: 'true'
        - description: Expand resources in the returned response
          name: expand
          in: query
          schema:
            type: string
            example: ''
        - description: >-
            (Required) The token returned when a user authenticated their
            account. This authorizes access to a specific account.
          name: connection-token
          in: header
          schema:
            type: string
            example: '{{connectionToken}}'
      responses:
        '200':
          description: ''
  /devices:
    get:
      tags:
        - Devices
      summary: List Devices
      operationId: Devices_getAllDevices
      description: List all devices in the connected account.
      parameters:
        - description: Pagination cursor to start requests from
          name: cursor
          in: query
          schema:
            type: string
            example: '{{nextCursor}}'
        - description: The maximum number of results to return in a page.
          name: limit
          in: query
          schema:
            type: string
            example: '1'
        - description: Only include records that were last modified after a provided date.
          name: modifiedAfter
          in: query
          schema:
            type: string
            example: '2021-01-06T03:24:53.000Z'
        - description: Only include records that were last modified before a provided date.
          name: modifiedBefore
          in: query
          schema:
            type: string
            example: '2021-01-06T03:24:53.000Z'
        - description: >-
            Include raw responses used to normalize model. Used for debugging or
            accessing unique properties that are not unified.
          name: raw
          in: query
          schema:
            type: string
            example: 'true'
        - description: >-
            (Required) The token returned when a user authenticated their
            account. This authorizes access to a specific account.
          name: connection-token
          in: header
          schema:
            type: string
            example: '{{connectionToken}}'
      responses:
        '200':
          description: ''
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  schemas:
    AuthenticationExchangeTokenRequest:
      type: object
      properties:
        publicToken:
          type: string
          example: INSERT_PUBLIC_TOKEN
    ConnectionsCreateCustomConnectionRequest:
      type: object
      properties:
        tags:
          type: array
          items:
            type: string
            example: Tag Name
          example:
            - Tag Name
            - Tag Name
        backfill:
          type: object
          properties:
            days:
              type: number
              example: 47457977.31426272
            startFrom:
              type: string
              example: '2021-01-06T03:24:53.000Z'
        company:
          type: object
          properties:
            dotNumbers:
              type: array
              items:
                type: string
                example: non
              example:
                - non
                - sunt ullamco elit
            name:
              type: string
              example: adipisicing amet ea dolor
        credentials:
          type: object
          properties:
            database:
              type: string
              example: non consequat sint dolore adipisicing
            password:
              type: string
              example: culpa non dolore
            username:
              type: string
              example: reprehenderit nulla Lorem
        externalId:
          type: string
          example: laborum ullamco pariatur magna
        provider:
          type: string
          example: geotab
        syncMode:
          type: string
          example: automatic
    ConnectionsUpdateCurrentConnectionDetailsRequest:
      type: object
      properties:
        tags:
          type: array
          items:
            type: string
            example: ullamco sed nisi officia
          example:
            - ullamco sed nisi officia
            - ullamco fugiat anim
        company:
          type: object
          properties:
            name:
              type: string
              example: Acme Inc.
        externalId:
          type: string
          example: officia proident
        status:
          type: string
          example: veniam sed mollit commodo
        syncMode:
          type: string
          example: automatic
    DataManagementRequestSyncManualRequest:
      type: object
      properties:
        days:
          type: number
          example: 7
    DataManagementMakePassthroughRequestRequest:
      type: object
      properties:
        body:
          type: string
          example: '{"reportId":"1234"}'
        headers:
          type: object
          properties: {}
        method:
          type: string
          example: POST
        path:
          type: string
          example: /reports
security:
  - bearerAuth: []
