openapi: 3.0.2
info:
  title: API Endpoints
  description: >-
    Deliver monetary rewards and incentives to employees, customers, survey
    participants, and more through the Tremendous API. For organizational tasks,
    like managing your organization and it's members within Tremendous, please
    see the Tremendous Organizational API.
  version: '2'
  termsOfService: https://www.tremendous.com/terms
  contact:
    name: API Support
    email: developers@tremendous.com
  x-konfig-ignore:
    object-with-no-properties: true
    potential-incorrect-type: true
servers:
  - description: Sandbox environment
    url: https://testflight.tremendous.com/api/v2
  - description: Production environment
    url: https://www.tremendous.com/api/v2
tags:
  - name: Invoices
  - name: Rewards
  - name: Orders
  - name: Webhooks
  - name: Organizations
  - name: Members
  - name: Products
  - name: Campaigns
  - name: Funding sources
  - name: Balance transactions
  - name: Fields
paths:
  /rewards:
    get:
      tags:
        - Rewards
      summary: List rewards
      operationId: Rewards_listAllRewards
      description: |
        Retrieve a list of all created rewards
      parameters:
        - description: >-
            Offsets the returned list by the given number of rewards. The
            returned rewards are ordered (and offsetted) by their creation date
            (DESC).
          name: offset
          in: query
          required: false
          schema:
            type: integer
          example: 10
      responses:
        '200':
          description: List of existing rewards. Ordered by creation date (DESC).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RewardsListAllRewardsResponse'
        '401':
          description: Authorization error e.g. due to an invalid or missing API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RewardsListAllRewards401Response'
              example:
                errors:
                  message: Production Access not available for your account
                  payload: {}
        '429':
          description: >-
            Rate limit exceeded, this request was not processed. Future requests
            may not be processed, until your account drops below the rate limit
            threshold, again.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RewardsListAllRewards429Response'
        '500':
          description: >-
            The server encountered an unexpected error or couldn't fulfill the
            request in time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RewardsListAllRewards500Response'
              example:
                errors:
                  message: Something went wrong. We have been notified
  /rewards/{id}:
    get:
      tags:
        - Rewards
      summary: Retrieve single reward
      operationId: Rewards_getSingleReward
      description: |
        Retrieve the reward, identified by the given `id` in the URL
      parameters:
        - description: ID of the reward that should be retrieved
          name: id
          in: path
          required: true
          schema:
            type: string
            pattern: '[A-Z0-9]{4,20}'
            example: SOMEIDSOMEID
      responses:
        '200':
          description: A reward (to be overwritten in specific reponses)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RewardsGetSingleRewardResponse'
        '401':
          description: Authorization error e.g. due to an invalid or missing API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RewardsGetSingleReward401Response'
              example:
                errors:
                  message: Production Access not available for your account
                  payload: {}
        '404':
          description: No resource could be found for the provided ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RewardsGetSingleReward404Response'
        '429':
          description: >-
            Rate limit exceeded, this request was not processed. Future requests
            may not be processed, until your account drops below the rate limit
            threshold, again.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RewardsGetSingleReward429Response'
        '500':
          description: >-
            The server encountered an unexpected error or couldn't fulfill the
            request in time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RewardsGetSingleReward500Response'
              example:
                errors:
                  message: Something went wrong. We have been notified
  /rewards/{id}/generate_link:
    post:
      tags:
        - Rewards
      summary: Generate a reward URL
      operationId: Rewards_generateLink
      description: >
        Generate a redemption link for the reward identified by the `id` in the
        URL
      parameters:
        - description: ID of the reward
          name: id
          in: path
          required: true
          schema:
            type: string
            pattern: '[A-Z0-9]{4,20}'
            example: SOMEIDSOMEID
      responses:
        '200':
          description: A redemption link for a reward
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RewardsGenerateLinkResponse'
        '401':
          description: Authorization error e.g. due to an invalid or missing API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RewardsGenerateLink401Response'
              example:
                errors:
                  message: Production Access not available for your account
                  payload: {}
        '403':
          description: >-
            Operation not permitted; only rewards that are of type link support
            this operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RewardsGenerateLink403Response'
        '404':
          description: No resource could be found for the provided ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RewardsGenerateLink404Response'
        '429':
          description: >-
            Rate limit exceeded, this request was not processed. Future requests
            may not be processed, until your account drops below the rate limit
            threshold, again.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RewardsGenerateLink429Response'
        '500':
          description: >-
            The server encountered an unexpected error or couldn't fulfill the
            request in time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RewardsGenerateLink500Response'
              example:
                errors:
                  message: Something went wrong. We have been notified
  /rewards/{id}/generate_embed_token:
    post:
      tags:
        - Rewards
      summary: Generate a reward token
      operationId: Rewards_generateEmbedToken
      description: >
        Generate a temporary reward token identified by the `id` in the URL.

        These tokens are needed to render a reward when using [Tremendous
        Embed](https://github.com/tremendous-rewards/embed/blob/master/docs/documentation.md).

        The token is valid for 24 hours.
      parameters:
        - description: ID of the reward
          name: id
          in: path
          required: true
          schema:
            type: string
            pattern: '[A-Z0-9]{4,20}'
            example: SOMEIDSOMEID
      responses:
        '200':
          description: A redemption token for a reward
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RewardsGenerateEmbedTokenResponse'
        '401':
          description: Authorization error e.g. due to an invalid or missing API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RewardsGenerateEmbedToken401Response'
              example:
                errors:
                  message: Production Access not available for your account
                  payload: {}
        '404':
          description: No resource could be found for the provided ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RewardsGenerateEmbedToken404Response'
        '429':
          description: >-
            Rate limit exceeded, this request was not processed. Future requests
            may not be processed, until your account drops below the rate limit
            threshold, again.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RewardsGenerateEmbedToken429Response'
        '500':
          description: >-
            The server encountered an unexpected error or couldn't fulfill the
            request in time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RewardsGenerateEmbedToken500Response'
              example:
                errors:
                  message: Something went wrong. We have been notified
  /rewards/{id}/resend:
    post:
      tags:
        - Rewards
      summary: Resend reward
      operationId: Rewards_resendRewardById
      description: >
        Resends a reward, identified by the given `id` in the URL, to its
        recipient.
      parameters:
        - description: ID of the reward that should be resent
          name: id
          in: path
          required: true
          schema:
            type: string
            pattern: '[A-Z0-9]{4,20}'
            example: SOMEIDSOMEID
      responses:
        '200':
          description: Reward will be resent.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RewardsResendRewardByIdResponse'
        '401':
          description: Authorization error e.g. due to an invalid or missing API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RewardsResendRewardById401Response'
              example:
                errors:
                  message: Production Access not available for your account
                  payload: {}
        '404':
          description: No resource could be found for the provided ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RewardsResendRewardById404Response'
        '422':
          description: Validation error of the sent parameters or request body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RewardsResendRewardById422Response'
        '429':
          description: >-
            Rate limit exceeded, this request was not processed. Future requests
            may not be processed, until your account drops below the rate limit
            threshold, again.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RewardsResendRewardById429Response'
        '500':
          description: >-
            The server encountered an unexpected error or couldn't fulfill the
            request in time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RewardsResendRewardById500Response'
              example:
                errors:
                  message: Something went wrong. We have been notified
  /orders:
    get:
      tags:
        - Orders
      summary: List orders
      operationId: Orders_getList
      description: |
        Retrieve a list of orders
      parameters:
        - description: >-
            Offsets the returned list by the given number of orders. The
            returned orders are ordered (and offsetted) by their creation date
            (DESC).
          name: offset
          in: query
          required: false
          schema:
            type: integer
          example: 10
        - description: Only return results with a matching campaign_id.
          name: campaign_id
          in: query
          required: false
          schema:
            type: string
          example: IVM0I3WNJJL0
        - description: Only return results with a matching external_id.
          name: external_id
          in: query
          required: false
          schema:
            type: string
          example: 12878
        - description: >-
            Only return results where the created_at field is greater than or
            equal to the supplied value. The string needs to be an ISO 8601
            datetime.
          name: created_at[gte]
          in: query
          required: false
          schema:
            type: string
          example: '2023-07-15T18:12:18Z'
        - description: >-
            Only return results where the created_at field is less than or equal
            to the supplied value. The string needs to be an ISO 8601 datetime.
          name: created_at[lte]
          in: query
          required: false
          schema:
            type: string
          example: '2023-08-01T18:12:18Z'
        - description: >-
            Limits the number of orders listed. The maximum value is 100 and the
            default is 10.
          name: limit
          in: query
          required: false
          schema:
            type: integer
          example: 10
      responses:
        '200':
          description: List of existing orders. Ordered by creation date (DESC).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersGetListResponse'
        '401':
          description: Authorization error e.g. due to an invalid or missing API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersGetList401Response'
              example:
                errors:
                  message: Production Access not available for your account
                  payload: {}
        '429':
          description: >-
            Rate limit exceeded, this request was not processed. Future requests
            may not be processed, until your account drops below the rate limit
            threshold, again.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersGetList429Response'
        '500':
          description: >-
            The server encountered an unexpected error or couldn't fulfill the
            request in time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersGetList500Response'
              example:
                errors:
                  message: Something went wrong. We have been notified
    post:
      tags:
        - Orders
      summary: Create order
      operationId: Orders_createOrder
      description: >
        Every time you want to send out a reward through Tremendous you need to
        create an order for it.


        > 📘 Getting started with your first order

        >

        > Our step-by-step guide walks you through everything you need

        > to send your first gift card through the Tremendous API:

        >

        > <strong><a style="display: block; margin-top: 20px;"
        href="/docs/sending-rewards-intro">Check it out!</a></strong>


        ## Request body


        <div class="object-schema-request-schema">
          <table>
          <thead>
            <tr>
              <th>Property</th>
              <th>Type</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody class="object-schema-table-body">
            <tr class=""><td><div class="property-name">
          <code class="property-name">external_id</code>
        </div>

        </td><td><span class="property-type">string</span></td><td><p>Reference
        for this order, supplied by the customer.</p>


        <p>When set, <code>external_id</code> makes order idempotent. All
        requests that use the same <code>external_id</code>

        after the initial order creation, will result in a response that returns
        the data of the

        initially created order. The response will have a <code>201</code>
        response code. These responses

        <strong>fail</strong> to create any further orders.</p>


        <p>It also allows for retrieving by <code>external_id</code> instead of
        <code>id</code> only.</p>

        </td></tr>

        <tr class=""><td><div class="property-name">
          <code class="property-name">payment</code>
        </div>

        </td><td><span class="property-type">object</span></td><td></td></tr> 
        <tr>
            <td colspan="3">
              <details>
                <summary>Show object properties</summary>
                <table>
          <thead>
            <tr>
              <th>Property</th>
              <th>Type</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody class="object-schema-table-body">
            <tr class=""><td><div class="property-name">
          <code class="property-name">funding_source_id</code>
        </div>

        </td><td><span class="property-type">string</span></td><td><p>Tremendous
        ID of the funding source that will be used to pay for the order. Use
        <code>balance</code> to use your Tremendous&#39;s balance.</p>

        </td></tr>
          </tbody>
        </table>


        </tr>


        <tr class=""><td><div class="property-name">
          <code class="property-name">reward</code>
        </div>

        </td><td><span class="property-type">object</span></td><td><p>A single
        reward, sent to a recipient. A reward is always part of an order.</p>


        <p>Either <code>products</code> or <code>campaign_id</code> must be
        specified.</p>

        </td></tr>  <tr>
            <td colspan="3">
              <details>
                <summary>Show object properties</summary>
                <table>
          <thead>
            <tr>
              <th>Property</th>
              <th>Type</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody class="object-schema-table-body">
            <tr class="property-conditional-hint-response-only"><td><div class="property-name">
          <code class="property-name">id</code>
        </div>

        </td><td><span class="property-type">string</span></td><td><p>Tremendous
        ID of the reward</p>

        </td></tr>

        <tr class="property-conditional-hint-response-only"><td><div
        class="property-name">
          <code class="property-name">order_id</code>
        </div>

        </td><td><span class="property-type">string</span></td><td><p>Tremendous
        ID of the order this reward is part of.</p>

        </td></tr>

        <tr class="property-conditional-hint-response-only"><td><div
        class="property-name">
          <code class="property-name">created_at</code>
        </div>

        </td><td><span class="property-type">string</span> <span
        class="property-format">date-time</span></td><td><p>Date the reward was
        created</p>

        </td></tr>

        <tr class="property-conditional-hint-request-only"><td><div
        class="property-name">
          <code class="property-name">campaign_id</code>
        </div>

        </td><td><span class="property-type">string</span></td><td><p>ID of the
        campaign in your account, that defines the available products (different
        gift cards, charity, etc.)

        that the recipient can choose from.</p>

        </td></tr>

        <tr class="property-conditional-hint-request-only"><td><div
        class="property-name">
          <code class="property-name">products</code>
        </div>

        </td><td><span class="property-type">array</span> <span
        class="property-format">string</span></td><td><p>List of IDs of product
        (different gift cards, charity, etc.) that will be available

        to the recipient to choose from.</p>


        <p>Providing a <code>products</code> array will override the products
        made available by the campaign

        specified using the <code>campaign_id</code> property unless the
        <code>products</code> array is empty. It will

        <em>not</em> override other campaign attributes, like the message and
        customization of the look and feel.</p>

        </td></tr>

        <tr class=""><td><div class="property-name">
          <code class="property-name">value</code>
        </div>

        </td><td><span class="property-type">object</span></td><td></td></tr> 
        <tr>
            <td colspan="3">
              <details>
                <summary>Show object properties</summary>
                <table>
          <thead>
            <tr>
              <th>Property</th>
              <th>Type</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody class="object-schema-table-body">
            <tr class=""><td><div class="property-name">
          <code class="property-name">denomination</code>
        </div>

        </td><td><span class="property-type">number</span> <span
        class="property-format">double</span></td><td><p>Amount of the
        reward</p>

        </td></tr>

        <tr class=""><td><div class="property-name">
          <code class="property-name">currency_code</code>
        </div>

        </td><td><span class="property-type">string</span></td><td><p>Currency
        of the reward</p>

        </td></tr>
          </tbody>
        </table>


        </tr>


        <tr class=""><td><div class="property-name">
          <code class="property-name">recipient</code>
        </div>

        </td><td><span class="property-type">object</span></td><td><p>Details of
        the recipient of the reward</p>

        </td></tr>  <tr>
            <td colspan="3">
              <details>
                <summary>Show object properties</summary>
                <table>
          <thead>
            <tr>
              <th>Property</th>
              <th>Type</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody class="object-schema-table-body">
            <tr class=""><td><div class="property-name">
          <code class="property-name">name</code>
        </div>

        </td><td><span class="property-type">string</span></td><td><p>Name of
        the recipient</p>

        </td></tr>

        <tr class=""><td><div class="property-name">
          <code class="property-name">email</code>
        </div>

        </td><td><span class="property-type">string</span></td><td><p>Email
        address of the recipient</p>

        </td></tr>

        <tr class=""><td><div class="property-name">
          <code class="property-name">phone</code>
        </div>

        </td><td><span class="property-type">string</span></td><td><p>Phone
        number of the recipient. For non-US phone numbers, specify the country
        code (prefixed with +).</p>

        </td></tr>
          </tbody>
        </table>


        </tr>


        <tr class=""><td><div class="property-name">
          <code class="property-name">deliver_at</code>
        </div>

        </td><td><span class="property-type">string</span> <span
        class="property-format">date</span></td><td><p>Timestamp of reward
        delivery within the next year. Note that if date-time is provided, the
        time values will be ignored.</p>

        </td></tr>

        <tr class=""><td><div class="property-name">
          <code class="property-name">custom_fields</code>
        </div>

        </td><td><span class="property-type">array</span></td><td></td></tr> 
        <tr>
            <td colspan="3">
              <details>
                <summary>Show array item type</summary>
                <table>
          <thead>
            <tr>
              <th>Property</th>
              <th>Type</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody class="object-schema-table-body">
            <tr class=""><td><div class="property-name">
          <code class="property-name">id</code>
        </div>

        </td><td><span class="property-type">string</span></td><td><p>Tremendous
        ID of the custom field</p>

        </td></tr>

        <tr class=""><td><div class="property-name">
          <code class="property-name">value</code>
        </div>

        </td><td><span class="property-type">string</span></td><td><p>Value of
        the custom field</p>

        </td></tr>

        <tr class=""><td><div class="property-name">
          <code class="property-name">label</code>
        </div>

        </td><td><span class="property-type">string</span></td><td><p>Label of
        the custom field</p>

        </td></tr>
          </tbody>
        </table>


        </tr>


        <tr class=""><td><div class="property-name">
          <code class="property-name">language</code>
        </div>

        </td><td><span class="property-type">string</span></td><td><p>Set this
        to translate the redemption experience for this reward. Pass a 2-letter
        <a
        href="https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes">ISO-639-1
        code</a> for the desired language. Defaults to <code>en</code>.</p>

        </td></tr>

        <tr class=""><td><div class="property-name">
          <code class="property-name">delivery</code>
        </div>

        </td><td><span class="property-type">object</span></td><td><p>Details on
        how the reward is delivered to the recipient.</p>

        </td></tr>  <tr>
            <td colspan="3">
              <details>
                <summary>Show object properties</summary>
                <table>
          <thead>
            <tr>
              <th>Property</th>
              <th>Type</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody class="object-schema-table-body">
            <tr class=""><td><div class="property-name">
          <code class="property-name">method</code>
        </div>

        </td><td><span class="property-type">string</span></td><td><p>How to
        deliver the reward to the recipient.</p>


        <table>
          <thead>
            <tr>
              <th>Delivery Method</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><code>EMAIL</code></td>
              <td>Deliver the reward to the recipient by email</td>
            </tr>
            <tr>
              <td><code>LINK</code></td>
              <td>
                <p>Deliver the reward to the recipient via a link.</p>
                <p>The link can be retrieved on a successfully ordered reward via the <code>/rewards</code> or <code>/rewards/{id}</code> endpoint. That link must then be  delivered to the recipient out-of-band.</p>
              </td>
            </tr>
            <tr>
              <td><code>PHONE</code></td>
              <td>Deliver the reward to the recipient by SMS</td>
            </tr>
          </tbody>
        </table>

        </td></tr>
          </tbody>
        </table>


        </tr>

          </tbody>
        </table>


        </tr>

          </tbody>
        </table>


        </div>



        ### Funding sources


        There are different ways to pay for gift cards and rewards on
        Tremendous. Every payment mechanism is called a "funding source".


        You can retrieve a list of all available funding sources by using the
        [Funding sources API
        endpoint](https://tremendous.readme.io/reference/core-funding-source-index).


        The Tremendous API sandbox environment comes with a single funding
        source that allows you to spend up to $5,000 in *fake money* to test the
        API. [Learn more about the sandbox
        environment](https://tremendous.readme.io/reference/sandbox).


        The HTTP status code `200` on the response will be used to indicate
        success.


        After processing successfully the reward gets queued to be delivered to
        it's recipient

        (for delivery method `EMAIL` and `PHONE`). Delivery will happen
        asynchronously, after the response

        has been sent.


        ### Idempotence


        Requests issued with the same external_id are idempotent.


        Submitting an order with an already existing `external_id`, will result
        in a `201` response code.

        In this case the response will return a representation of the already
        existing order in the response body.
      requestBody:
        description: Order to create
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrdersCreateOrderRequest'
      responses:
        '200':
          description: An order (to be overwritten in specific reponses)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersCreateOrderResponse'
        '201':
          description: An order (to be overwritten in specific reponses)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersCreateOrder201Response'
        '202':
          description: An order (to be overwritten in specific reponses)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersCreateOrder202Response'
        '400':
          description: Validation error of the sent parameters or request body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersCreateOrder400Response'
        '401':
          description: Authorization error e.g. due to an invalid or missing API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersCreateOrder401Response'
              example:
                errors:
                  message: Production Access not available for your account
                  payload: {}
        '402':
          description: >-
            Not enough funds to carry out the request. Please top-up your
            account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersCreateOrder402Response'
              example:
                errors:
                  message: >-
                    Not enough funds to carry out this operation. Fund your
                    balance to proceed.
                  payload: {}
        '422':
          description: Validation error of the sent parameters or request body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersCreateOrder422Response'
        '429':
          description: >-
            Rate limit exceeded, this request was not processed. Future requests
            may not be processed, until your account drops below the rate limit
            threshold, again.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersCreateOrder429Response'
        '500':
          description: >-
            The server encountered an unexpected error or couldn't fulfill the
            request in time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersCreateOrder500Response'
              example:
                errors:
                  message: Something went wrong. We have been notified
  /orders/{id}:
    get:
      tags:
        - Orders
      summary: Retrieve order
      operationId: Orders_getOrderById
      description: |
        Retrieve the order, identified by the given `id` in the URL
      parameters:
        - description: >
            ID of the order that should be retrieved. In case the order has an
            `external_id` reference supplied by the

            customer on creation, it's possible to use it instead.
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: An order (to be overwritten in specific reponses)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersGetOrderByIdResponse'
        '401':
          description: Authorization error e.g. due to an invalid or missing API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersGetOrderById401Response'
              example:
                errors:
                  message: Production Access not available for your account
                  payload: {}
        '404':
          description: No resource could be found for the provided ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersGetOrderById404Response'
        '429':
          description: >-
            Rate limit exceeded, this request was not processed. Future requests
            may not be processed, until your account drops below the rate limit
            threshold, again.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersGetOrderById429Response'
        '500':
          description: >-
            The server encountered an unexpected error or couldn't fulfill the
            request in time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersGetOrderById500Response'
              example:
                errors:
                  message: Something went wrong. We have been notified
  /order_approvals/{id}/approve:
    post:
      tags:
        - Orders
      summary: Approve order
      operationId: Orders_approveOrderById
      description: >
        Approves an order that is pending review, identified by the given `id`
        in the URL.


        Approvals is a feature that requires orders to be approved by an
        organization admin

        before they are sent out. To enable approvals for your organization,
        please enable

        'Allow approvals via API' via the organization''s 'Order Approvals'
        settings from the Tremendous dashboard.
      parameters:
        - description: >-
            ID of the order that should be approved. In case the order has an
            `external_id` reference supplied by the customer on creation, it's
            possible to use it instead.
          name: id
          in: path
          required: true
          schema:
            type: string
            pattern: '[A-Z0-9]{4,20}'
            example: SOMEIDSOMEID
      responses:
        '200':
          description: An order (to be overwritten in specific reponses)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersApproveOrderByIdResponse'
        '401':
          description: Authorization error e.g. due to an invalid or missing API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersApproveOrderById401Response'
              example:
                errors:
                  message: Production Access not available for your account
                  payload: {}
        '402':
          description: >-
            Not enough funds in your account. Please send another approval
            request after you have deposited sufficient funds into your balance.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersApproveOrderById402Response'
              example:
                errors:
                  message: >-
                    Not enough funds to carry out this operation. Fund your
                    balance to proceed.
                  payload: {}
        '403':
          description: >-
            API approvals are not enabled. Enable 'Allow approvals via API' in
            the organization's settings on the Tremendous dashboard.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersApproveOrderById403Response'
        '404':
          description: No resource could be found for the provided ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersApproveOrderById404Response'
        '422':
          description: Validation error of the sent parameters or request body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersApproveOrderById422Response'
        '429':
          description: >-
            Rate limit exceeded, this request was not processed. Future requests
            may not be processed, until your account drops below the rate limit
            threshold, again.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersApproveOrderById429Response'
        '500':
          description: >-
            The server encountered an unexpected error or couldn't fulfill the
            request in time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersApproveOrderById500Response'
              example:
                errors:
                  message: Something went wrong. We have been notified
  /order_approvals/{id}/reject:
    post:
      tags:
        - Orders
      summary: Reject order
      operationId: Orders_rejectById
      description: >
        Rejects an order that is pending review, identified by the given `id` in
        the URL.


        Approvals is a feature that requires orders to be approved by an
        organization admin

        before they are sent out. To enable approvals for your organization,
        please enable

        'Allow approvals via API' via the organization''s 'Order Approvals'
        settings from the Tremendous dashboard.
      parameters:
        - description: >-
            ID of the order that should be rejected. In case the order has an
            `external_id` reference supplied by the customer on creation, it's
            possible to use it instead.
          name: id
          in: path
          required: true
          schema:
            type: string
            pattern: '[A-Z0-9]{4,20}'
            example: SOMEIDSOMEID
      responses:
        '200':
          description: An order (to be overwritten in specific reponses)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersRejectByIdResponse'
        '401':
          description: Authorization error e.g. due to an invalid or missing API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersRejectById401Response'
              example:
                errors:
                  message: Production Access not available for your account
                  payload: {}
        '403':
          description: >-
            API approvals are not enabled for this organization. Enable "Allow
            approvals via API" via the organization's order approval settings
            from the Tremendous dashboard.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersRejectById403Response'
        '404':
          description: No resource could be found for the provided ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersRejectById404Response'
        '422':
          description: Validation error of the sent parameters or request body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersRejectById422Response'
        '429':
          description: >-
            Rate limit exceeded, this request was not processed. Future requests
            may not be processed, until your account drops below the rate limit
            threshold, again.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersRejectById429Response'
        '500':
          description: >-
            The server encountered an unexpected error or couldn't fulfill the
            request in time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersRejectById500Response'
              example:
                errors:
                  message: Something went wrong. We have been notified
  /products:
    get:
      tags:
        - Products
      summary: List products
      operationId: Products_getList
      description: |
        Retrieve a list of available products
      parameters:
        - description: >-
            Comma-separated list of [Alpha-2 country
            codes](https://www.iban.com/country-codes), used to only retrieve
            products available in the provided countries
          name: country
          in: query
          required: false
          schema:
            type: string
          example: US,UK
        - description: >-
            Comma-separated list of [currency
            codes](https://www.iban.com/currency-codes), used to only retrieve
            products available in the provided currencies
          name: currency
          in: query
          schema:
            type: string
          example: USD,EUR
      responses:
        '200':
          description: List of available products.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductsGetListResponse'
        '401':
          description: Authorization error e.g. due to an invalid or missing API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductsGetList401Response'
              example:
                errors:
                  message: Production Access not available for your account
                  payload: {}
        '429':
          description: >-
            Rate limit exceeded, this request was not processed. Future requests
            may not be processed, until your account drops below the rate limit
            threshold, again.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductsGetList429Response'
        '500':
          description: >-
            The server encountered an unexpected error or couldn't fulfill the
            request in time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductsGetList500Response'
              example:
                errors:
                  message: Something went wrong. We have been notified
  /products/{id}:
    get:
      tags:
        - Products
      summary: Retrieve product
      operationId: Products_getById
      description: |
        Retrieve a product, identified by the given `id` in the URL
      parameters:
        - description: ID of the product that should be retrieved
          name: id
          in: path
          required: true
          schema:
            type: string
            pattern: '[A-Z0-9]{4,20}'
            example: SOMEIDSOMEID
      responses:
        '200':
          description: Requested product
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductsGetByIdResponse'
        '401':
          description: Authorization error e.g. due to an invalid or missing API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductsGetById401Response'
              example:
                errors:
                  message: Production Access not available for your account
                  payload: {}
        '404':
          description: No resource could be found for the provided ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductsGetById404Response'
        '429':
          description: >-
            Rate limit exceeded, this request was not processed. Future requests
            may not be processed, until your account drops below the rate limit
            threshold, again.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductsGetById429Response'
        '500':
          description: >-
            The server encountered an unexpected error or couldn't fulfill the
            request in time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductsGetById500Response'
              example:
                errors:
                  message: Something went wrong. We have been notified
  /campaigns:
    get:
      tags:
        - Campaigns
      summary: List campaigns
      operationId: Campaigns_getAll
      description: |
        Retrieve a list of all campaigns created in your account
      responses:
        '200':
          description: List of all campaigns in your organization's account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignsGetAllResponse'
        '401':
          description: Authorization error e.g. due to an invalid or missing API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignsGetAll401Response'
              example:
                errors:
                  message: Production Access not available for your account
                  payload: {}
        '429':
          description: >-
            Rate limit exceeded, this request was not processed. Future requests
            may not be processed, until your account drops below the rate limit
            threshold, again.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignsGetAll429Response'
        '500':
          description: >-
            The server encountered an unexpected error or couldn't fulfill the
            request in time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignsGetAll500Response'
              example:
                errors:
                  message: Something went wrong. We have been notified
  /campaigns/{id}:
    get:
      tags:
        - Campaigns
      summary: Retrieve campaign
      operationId: Campaigns_getById
      description: |
        Retrieve a campaign, identified by the given `id` in the URL
      parameters:
        - description: ID of the campaign that should be retrieved
          name: id
          in: path
          required: true
          schema:
            type: string
            pattern: '[A-Z0-9]{4,20}'
            example: SOMEIDSOMEID
      responses:
        '200':
          description: Requested campaign
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignsGetByIdResponse'
        '401':
          description: Authorization error e.g. due to an invalid or missing API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignsGetById401Response'
              example:
                errors:
                  message: Production Access not available for your account
                  payload: {}
        '404':
          description: No resource could be found for the provided ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignsGetById404Response'
        '429':
          description: >-
            Rate limit exceeded, this request was not processed. Future requests
            may not be processed, until your account drops below the rate limit
            threshold, again.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignsGetById429Response'
        '500':
          description: >-
            The server encountered an unexpected error or couldn't fulfill the
            request in time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignsGetById500Response'
              example:
                errors:
                  message: Something went wrong. We have been notified
  /funding_sources:
    get:
      tags:
        - Funding sources
      summary: List funding sources
      operationId: FundingSources_getAll
      description: >
        Retrieve a list of all funding sources available for ordering through
        the API in your organization's account.
      responses:
        '200':
          description: >-
            List of all funding sources available in your organization's
            account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundingSourcesGetAllResponse'
        '401':
          description: Authorization error e.g. due to an invalid or missing API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundingSourcesGetAll401Response'
              example:
                errors:
                  message: Production Access not available for your account
                  payload: {}
        '429':
          description: >-
            Rate limit exceeded, this request was not processed. Future requests
            may not be processed, until your account drops below the rate limit
            threshold, again.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundingSourcesGetAll429Response'
        '500':
          description: >-
            The server encountered an unexpected error or couldn't fulfill the
            request in time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundingSourcesGetAll500Response'
              example:
                errors:
                  message: Something went wrong. We have been notified
  /funding_sources/{id}:
    get:
      tags:
        - Funding sources
      summary: Retrieve funding source
      operationId: FundingSources_getById
      description: |
        Retrieve a funding source, identified by the given `id` in the URL
      parameters:
        - description: ID of the funding source that should be retrieved
          name: id
          in: path
          required: true
          schema:
            type: string
            pattern: '[A-Z0-9]{4,20}'
            example: SOMEIDSOMEID
      responses:
        '200':
          description: Requested funding source
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundingSourcesGetByIdResponse'
        '401':
          description: Authorization error e.g. due to an invalid or missing API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundingSourcesGetById401Response'
              example:
                errors:
                  message: Production Access not available for your account
                  payload: {}
        '404':
          description: No resource could be found for the provided ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundingSourcesGetById404Response'
        '429':
          description: >-
            Rate limit exceeded, this request was not processed. Future requests
            may not be processed, until your account drops below the rate limit
            threshold, again.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundingSourcesGetById429Response'
        '500':
          description: >-
            The server encountered an unexpected error or couldn't fulfill the
            request in time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundingSourcesGetById500Response'
              example:
                errors:
                  message: Something went wrong. We have been notified
  /invoices:
    get:
      tags:
        - Invoices
      summary: List invoices
      operationId: Invoices_getAll
      description: |
        Fetch a list of all invoices on your account.

        > 🚧 Deleted invoices are omitted
        >
        > The response does not include any previously deleted invoices.
      parameters:
        - description: >-
            Offsets the returned list by the given number of invoices. The
            returned invoices are ordered (and offsetted) by their creation date
            (DESC).
          name: offset
          in: query
          required: false
          schema:
            type: integer
          example: 10
        - description: >-
            Limits the number of invoices listed. The maximum and default value
            is 10.
          name: limit
          in: query
          required: false
          schema:
            type: integer
          example: 10
      responses:
        '200':
          description: List of all invoices in state `PAID` or `OPEN`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoicesGetAllResponse'
        '401':
          description: Authorization error e.g. due to an invalid or missing API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoicesGetAll401Response'
              example:
                errors:
                  message: Production Access not available for your account
                  payload: {}
        '429':
          description: >-
            Rate limit exceeded, this request was not processed. Future requests
            may not be processed, until your account drops below the rate limit
            threshold, again.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoicesGetAll429Response'
        '500':
          description: >-
            The server encountered an unexpected error or couldn't fulfill the
            request in time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoicesGetAll500Response'
              example:
                errors:
                  message: Something went wrong. We have been notified
    post:
      tags:
        - Invoices
      summary: Create invoice
      operationId: Invoices_createAndFundAccountBalance
      description: >+
        Creating an invoice is the way for your organization to fund your
        account's balance.


        1. Create an invoice

        2. Pay the invoice

        3. Funds get added to your account's balance


        ## Request body


        <div class="object-schema-request-schema">
          <table>
          <thead>
            <tr>
              <th>Property</th>
              <th>Type</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody class="object-schema-table-body">
            <tr class=""><td><div class="property-name">
          <code class="property-name">po_number</code>
        </div>

        </td><td><span class="property-type">string</span></td><td><p>Reference
        to the purchase order number within your organization</p>

        </td></tr>

        <tr class=""><td><div class="property-name">
          <code class="property-name">amount</code>
        </div>

        </td><td><span class="property-type">number</span> <span
        class="property-format">double</span></td><td><p>Amount of the invoice
        in USD</p>

        </td></tr>

        <tr class=""><td><div class="property-name">
          <code class="property-name">memo</code>
        </div>

        </td><td><span class="property-type">string</span></td><td><p>A note to
        be included in the invoice. This is for your internal use and will not
        be visible to the recipient.</p>

        </td></tr>
          </tbody>
        </table>


        </div>

      requestBody:
        description: Invoice details
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvoicesCreateAndFundAccountBalanceRequest'
      responses:
        '200':
          description: An invoice (to be overwritten in specific reponses)
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/InvoicesCreateAndFundAccountBalanceResponse
        '400':
          description: The invoice couldn't be created
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/InvoicesCreateAndFundAccountBalance400Response
        '401':
          description: Authorization error e.g. due to an invalid or missing API key.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/InvoicesCreateAndFundAccountBalance401Response
              example:
                errors:
                  message: Production Access not available for your account
                  payload: {}
        '429':
          description: >-
            Rate limit exceeded, this request was not processed. Future requests
            may not be processed, until your account drops below the rate limit
            threshold, again.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/InvoicesCreateAndFundAccountBalance429Response
        '500':
          description: >-
            The server encountered an unexpected error or couldn't fulfill the
            request in time.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/InvoicesCreateAndFundAccountBalance500Response
              example:
                errors:
                  message: Something went wrong. We have been notified
  /invoices/{id}:
    get:
      tags:
        - Invoices
      summary: Retrieve invoice
      operationId: Invoices_getById
      description: |
        Retrieve an invoice, identified by the given `id` in the URL

        > 📘 Deleted Invoices
        >
        > This endpoint can be used to retrieve details on deleted invoices
        > that the list of invoices omits.
      parameters:
        - description: ID of the invoice that should be retrieved
          name: id
          in: path
          required: true
          schema:
            description: The invoice number
            type: string
            example: PPS-26873
      responses:
        '200':
          description: An invoice (to be overwritten in specific reponses)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoicesGetByIdResponse'
        '401':
          description: Authorization error e.g. due to an invalid or missing API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoicesGetById401Response'
              example:
                errors:
                  message: Production Access not available for your account
                  payload: {}
        '404':
          description: No resource could be found for the provided ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoicesGetById404Response'
        '429':
          description: >-
            Rate limit exceeded, this request was not processed. Future requests
            may not be processed, until your account drops below the rate limit
            threshold, again.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoicesGetById429Response'
        '500':
          description: >-
            The server encountered an unexpected error or couldn't fulfill the
            request in time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoicesGetById500Response'
              example:
                errors:
                  message: Something went wrong. We have been notified
    delete:
      tags:
        - Invoices
      summary: Delete invoice
      operationId: Invoices_removeInvoice
      description: >
        Removes an invoice. This has no further consequences but is a rather
        cosmetic operation.
      parameters:
        - description: ID of the invoice that should be retrieved
          name: id
          in: path
          required: true
          schema:
            description: The invoice number
            type: string
            example: PPS-26873
      responses:
        '200':
          description: An invoice (to be overwritten in specific reponses)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoicesRemoveInvoiceResponse'
        '401':
          description: Authorization error e.g. due to an invalid or missing API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoicesRemoveInvoice401Response'
              example:
                errors:
                  message: Production Access not available for your account
                  payload: {}
        '404':
          description: No resource could be found for the provided ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoicesRemoveInvoice404Response'
        '429':
          description: >-
            Rate limit exceeded, this request was not processed. Future requests
            may not be processed, until your account drops below the rate limit
            threshold, again.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoicesRemoveInvoice429Response'
        '500':
          description: >-
            The server encountered an unexpected error or couldn't fulfill the
            request in time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoicesRemoveInvoice500Response'
              example:
                errors:
                  message: Something went wrong. We have been notified
  /invoices/{id}/pdf:
    get:
      tags:
        - Invoices
      summary: Retrieve invoice as PDF
      operationId: Invoices_getPdf
      description: |
        Generates a PDF version for an invoice
      parameters:
        - description: ID of the Invoice for that the PDF should be generated
          name: id
          in: path
          required: true
          schema:
            description: The invoice number
            type: string
            example: PPS-26873
      responses:
        '200':
          description: PDF for the specified Invoice
          headers:
            Content-Disposition:
              schema:
                type: string
                example: attachment; filename="Tremendous_Invoice_ABC-12345.pdf"
          content:
            application/pdf:
              schema:
                $ref: '#/components/schemas/InvoicesGetPdfResponse'
        '401':
          description: Authorization error e.g. due to an invalid or missing API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoicesGetPdf401Response'
              example:
                errors:
                  message: Production Access not available for your account
                  payload: {}
        '404':
          description: No resource could be found for the provided ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoicesGetPdf404Response'
        '429':
          description: >-
            Rate limit exceeded, this request was not processed. Future requests
            may not be processed, until your account drops below the rate limit
            threshold, again.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoicesGetPdf429Response'
        '500':
          description: >-
            The server encountered an unexpected error or couldn't fulfill the
            request in time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoicesGetPdf500Response'
              example:
                errors:
                  message: Something went wrong. We have been notified
  /invoices/{id}/csv:
    get:
      tags:
        - Invoices
      summary: Retrieve invoice as CSV
      operationId: Invoices_getCsv
      description: >
        Generates a CSV version for an invoice listing the associated rewards
        and orders
      parameters:
        - description: ID of the Invoice for that the CSV should be generated
          name: id
          in: path
          required: true
          schema:
            description: The invoice number
            type: string
            example: PPS-26873
      responses:
        '200':
          description: CSV for the specified Invoice
          headers:
            Content-Disposition:
              schema:
                type: string
                example: attachment; filename="Invoice_ABC-12345_gift_details.csv"
          content:
            text/csv:
              schema:
                $ref: '#/components/schemas/InvoicesGetCsvResponse'
        '400':
          description: >-
            The invoice can't be exported to CSV because it isn't associated
            with any rewards
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoicesGetCsv400Response'
        '401':
          description: Authorization error e.g. due to an invalid or missing API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoicesGetCsv401Response'
              example:
                errors:
                  message: Production Access not available for your account
                  payload: {}
        '404':
          description: No resource could be found for the provided ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoicesGetCsv404Response'
        '429':
          description: >-
            Rate limit exceeded, this request was not processed. Future requests
            may not be processed, until your account drops below the rate limit
            threshold, again.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoicesGetCsv429Response'
        '500':
          description: >-
            The server encountered an unexpected error or couldn't fulfill the
            request in time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoicesGetCsv500Response'
              example:
                errors:
                  message: Something went wrong. We have been notified
  /balance_transactions:
    get:
      tags:
        - Balance transactions
      summary: List balance transactions
      operationId: BalanceTransactions_listAll
      description: |
        Fetch a list of all balance transactions on your account.
      parameters:
        - description: >-
            Offsets the returned list by the given number of transactions. The
            returned transactions are ordered (and offsetted) by their creation
            date (DESC).
          name: offset
          in: query
          required: false
          schema:
            type: integer
          example: 10
        - description: Limits the number of transactions listed. The default value is 10.
          name: limit
          in: query
          required: false
          schema:
            type: integer
          example: 10
        - description: >-
            Only return results where the created_at field is greater than or
            equal to the supplied value. The string needs to be an ISO 8601
            datetime.
          name: created_at[gte]
          in: query
          required: false
          schema:
            type: string
          example: '2023-07-15T18:00:00Z'
        - description: >-
            Only return results where the created_at field is less than or equal
            to the supplied value. The string needs to be an ISO 8601 datetime.
          name: created_at[lte]
          in: query
          required: false
          schema:
            type: string
          example: '2023-08-01T18:00:00Z'
      responses:
        '200':
          description: List of all transactions on this account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceTransactionsListAllResponse'
        '401':
          description: Authorization error e.g. due to an invalid or missing API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceTransactionsListAll401Response'
              example:
                errors:
                  message: Production Access not available for your account
                  payload: {}
        '422':
          description: Validation error of the sent parameters or request body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceTransactionsListAll422Response'
        '429':
          description: >-
            Rate limit exceeded, this request was not processed. Future requests
            may not be processed, until your account drops below the rate limit
            threshold, again.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceTransactionsListAll429Response'
        '500':
          description: >-
            The server encountered an unexpected error or couldn't fulfill the
            request in time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceTransactionsListAll500Response'
              example:
                errors:
                  message: Something went wrong. We have been notified
  /organizations:
    get:
      tags:
        - Organizations
      summary: List organizations
      operationId: Organizations_getList
      description: >
        The returned list only includes the organization to which the API key
        belongs to, that is used for the request.
      responses:
        '200':
          description: List of all organizations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationsGetListResponse'
        '401':
          description: Authorization error e.g. due to an invalid or missing API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationsGetList401Response'
              example:
                errors:
                  message: Production Access not available for your account
                  payload: {}
        '429':
          description: >-
            Rate limit exceeded, this request was not processed. Future requests
            may not be processed, until your account drops below the rate limit
            threshold, again.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationsGetList429Response'
        '500':
          description: >-
            The server encountered an unexpected error or couldn't fulfill the
            request in time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationsGetList500Response'
              example:
                errors:
                  message: Something went wrong. We have been notified
    post:
      tags:
        - Organizations
      summary: Create organization
      operationId: Organizations_createNewOrganization
      description: >
        Organizations are a way to separate different parts of your business
        within the same Tremendous account.


        You can assign users in your Tremendous team as members to any
        organization. Users can be members of multiple organizations at once.


        API keys belong to a single organization. The API key used in a request
        determines on behalf of which organization the request is carried out.


        **Important note:** When creating an organization, you are required to
        either pass `with_api_key` or `copy_settings[user]` in the request body
        as `true`. This ensures that your new Organization can either be
        accessed via the API or the Dashboard.
      requestBody:
        description: Organization details
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationsCreateNewOrganizationRequest'
      responses:
        '200':
          description: The created organization
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/OrganizationsCreateNewOrganizationResponse
        '400':
          description: Validation error of the sent parameters or request body
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/OrganizationsCreateNewOrganization400Response
        '401':
          description: Authorization error e.g. due to an invalid or missing API key.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/OrganizationsCreateNewOrganization401Response
              example:
                errors:
                  message: Production Access not available for your account
                  payload: {}
        '429':
          description: >-
            Rate limit exceeded, this request was not processed. Future requests
            may not be processed, until your account drops below the rate limit
            threshold, again.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/OrganizationsCreateNewOrganization429Response
        '500':
          description: >-
            The server encountered an unexpected error or couldn't fulfill the
            request in time.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/OrganizationsCreateNewOrganization500Response
              example:
                errors:
                  message: Something went wrong. We have been notified
  /organizations/{id}:
    get:
      tags:
        - Organizations
      summary: Retrieve organization
      operationId: Organizations_getOrganization
      parameters:
        - description: ID of the organization to retrieve
          name: id
          in: path
          required: true
          schema:
            type: string
            pattern: '[A-Z0-9]{4,20}'
            example: SOMEIDSOMEID
      responses:
        '200':
          description: An organization (to be overwritten in specific responses)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationsGetOrganizationResponse'
        '401':
          description: Authorization error e.g. due to an invalid or missing API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationsGetOrganization401Response'
              example:
                errors:
                  message: Production Access not available for your account
                  payload: {}
        '404':
          description: No resource could be found for the provided ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationsGetOrganization404Response'
        '429':
          description: >-
            Rate limit exceeded, this request was not processed. Future requests
            may not be processed, until your account drops below the rate limit
            threshold, again.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationsGetOrganization429Response'
        '500':
          description: >-
            The server encountered an unexpected error or couldn't fulfill the
            request in time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationsGetOrganization500Response'
              example:
                errors:
                  message: Something went wrong. We have been notified
  /organizations/create_api_key:
    post:
      tags:
        - Organizations
      summary: Create API key
      operationId: Organizations_createApiKey
      description: >
        Creates a new API key. The API key used to make the request will remain
        active.


        Created API keys are generated randomly and returned in the response.
        **You cannot retrieve them again.**
      responses:
        '200':
          description: The created API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationsCreateApiKeyResponse'
        '401':
          description: Authorization error e.g. due to an invalid or missing API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationsCreateApiKey401Response'
              example:
                errors:
                  message: Production Access not available for your account
                  payload: {}
        '404':
          description: No resource could be found for the provided ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationsCreateApiKey404Response'
        '429':
          description: >-
            Rate limit exceeded, this request was not processed. Future requests
            may not be processed, until your account drops below the rate limit
            threshold, again.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationsCreateApiKey429Response'
        '500':
          description: >-
            The server encountered an unexpected error or couldn't fulfill the
            request in time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationsCreateApiKey500Response'
              example:
                errors:
                  message: Something went wrong. We have been notified
  /members:
    get:
      tags:
        - Members
      summary: List members
      operationId: Members_listMembers
      description: >
        To list members of a sub-organization [create an API key for that
        organization](https://developers.tremendous.com/) first, then use the
        new API key in the list members request.
      responses:
        '200':
          description: List of all members
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MembersListMembersResponse'
        '401':
          description: Authorization error e.g. due to an invalid or missing API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MembersListMembers401Response'
              example:
                errors:
                  message: Production Access not available for your account
                  payload: {}
        '429':
          description: >-
            Rate limit exceeded, this request was not processed. Future requests
            may not be processed, until your account drops below the rate limit
            threshold, again.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MembersListMembers429Response'
        '500':
          description: >-
            The server encountered an unexpected error or couldn't fulfill the
            request in time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MembersListMembers500Response'
              example:
                errors:
                  message: Something went wrong. We have been notified
    post:
      tags:
        - Members
      summary: Create member
      operationId: Members_createNewMember
      description: >
        Each organization has one or more users that can access and manage that
        organization. These users are called members.


        Members can take actions via the Tremendous web dashboard directly.
        These actions include adding funding sources to the organization,
        creating Campaigns, and more.


        ### Permissions


        Members can have one of two roles that determine their permissions
        within the organization:


        1. `MEMBER`: Limited permissions. Can view their own reward and order
        histories only.

        2. `ADMIN`: Update organization settings, invite other members to the
        organization, and view all member order and reward histories within
        their organization.


        To create members of a sub-organizations [create an API key for that
        organization](https://developers.tremendous.com/) first, then use the
        new API key in the create member request.


        ### Inviting new members


        After creating a member, an automatic invite is sent to the email
        address. If the user is not registered yet, that person will then need
        to sign up for a Tremendous account.


        > ❗️ Automatic invitations are not available in the sandbox

        >

        > You must manually use the returned `invite_url` field in the payload
        instead.
      requestBody:
        description: Member details
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MembersCreateNewMemberRequest'
      responses:
        '200':
          description: A member (to be overwritten in specific responses)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MembersCreateNewMemberResponse'
        '400':
          description: Validation error of the sent parameters or request body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MembersCreateNewMember400Response'
        '401':
          description: Authorization error e.g. due to an invalid or missing API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MembersCreateNewMember401Response'
              example:
                errors:
                  message: Production Access not available for your account
                  payload: {}
        '429':
          description: >-
            Rate limit exceeded, this request was not processed. Future requests
            may not be processed, until your account drops below the rate limit
            threshold, again.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MembersCreateNewMember429Response'
        '500':
          description: >-
            The server encountered an unexpected error or couldn't fulfill the
            request in time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MembersCreateNewMember500Response'
              example:
                errors:
                  message: Something went wrong. We have been notified
  /members/{id}:
    get:
      tags:
        - Members
      summary: Retrieve member
      operationId: Members_getMember
      parameters:
        - description: ID of the member to retrieve
          name: id
          in: path
          required: true
          schema:
            type: string
            pattern: '[A-Z0-9]{4,20}'
            example: SOMEIDSOMEID
      responses:
        '200':
          description: Details on the retrieved member
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MembersGetMemberResponse'
        '401':
          description: Authorization error e.g. due to an invalid or missing API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MembersGetMember401Response'
              example:
                errors:
                  message: Production Access not available for your account
                  payload: {}
        '404':
          description: No resource could be found for the provided ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MembersGetMember404Response'
        '429':
          description: >-
            Rate limit exceeded, this request was not processed. Future requests
            may not be processed, until your account drops below the rate limit
            threshold, again.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MembersGetMember429Response'
        '500':
          description: >-
            The server encountered an unexpected error or couldn't fulfill the
            request in time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MembersGetMember500Response'
              example:
                errors:
                  message: Something went wrong. We have been notified
  /fields:
    get:
      tags:
        - Fields
      summary: List fields
      operationId: Fields_getCustomFields
      description: >
        For reporting and analytics purposes, custom fields can be associated
        with rewards generated through the API. Custom fields must be first
        added by members of your admin team through the Tremendous Dashboard.
      responses:
        '200':
          description: List of all fields
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldsGetCustomFieldsResponse'
        '401':
          description: Authorization error e.g. due to an invalid or missing API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldsGetCustomFields401Response'
              example:
                errors:
                  message: Production Access not available for your account
                  payload: {}
        '429':
          description: >-
            Rate limit exceeded, this request was not processed. Future requests
            may not be processed, until your account drops below the rate limit
            threshold, again.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldsGetCustomFields429Response'
        '500':
          description: >-
            The server encountered an unexpected error or couldn't fulfill the
            request in time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldsGetCustomFields500Response'
              example:
                errors:
                  message: Something went wrong. We have been notified
  /webhooks:
    get:
      tags:
        - Webhooks
      summary: List webhooks
      operationId: Webhooks_getDetails
      description: >
        Every organization can only have one webhook. This endpoint shows the
        details about that webhook.


        > 📘 Learn more about Webhooks

        >

        > Our guide explains everything you need to know about the Tremendous
        webhooks:

        > [Read it here](https://developers.tremendous.com/)
      responses:
        '200':
          description: List of configured webhooks (never more than 1 webhook)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhooksGetDetailsResponse'
        '401':
          description: Authorization error e.g. due to an invalid or missing API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhooksGetDetails401Response'
              example:
                errors:
                  message: Production Access not available for your account
                  payload: {}
        '429':
          description: >-
            Rate limit exceeded, this request was not processed. Future requests
            may not be processed, until your account drops below the rate limit
            threshold, again.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhooksGetDetails429Response'
        '500':
          description: >-
            The server encountered an unexpected error or couldn't fulfill the
            request in time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhooksGetDetails500Response'
              example:
                errors:
                  message: Something went wrong. We have been notified
    post:
      tags:
        - Webhooks
      summary: Create webhook
      operationId: Webhooks_createWebhook
      description: >+
        Tremendous uses webhooks as a notification system for various events
        that happen in your account.


        > 📘 Learn more about Webhooks

        >

        > Our guide explains everything you need to know about the Tremendous
        webhooks:

        > [Read it here](https://developers.tremendous.com/)


        Every organization can define a single webhook endpoint where we send
        requests to, whenever an event happens.


        This endpoint allows you to setup that endpoint. The URL of the endpoint
        can be changed by making a request to this endpoint again with the new
        URL.


        ## Request body


        <div class="object-schema-request-schema">
          <table>
          <thead>
            <tr>
              <th>Property</th>
              <th>Type</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody class="object-schema-table-body">
            <tr class=""><td><div class="property-name">
          <code class="property-name">url</code>
        </div>

        </td><td><span class="property-type">string</span> <span
        class="property-format">uri</span></td><td><p>URL the webhook will make
        requests to</p>

        </td></tr>
          </tbody>
        </table>


        </div>

      requestBody:
        description: Webhook details
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhooksCreateWebhookRequest'
      responses:
        '200':
          description: A webhook (to be overwritten in specific responses)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhooksCreateWebhookResponse'
        '400':
          description: Validation error of the sent parameters or request body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhooksCreateWebhook400Response'
        '401':
          description: Authorization error e.g. due to an invalid or missing API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhooksCreateWebhook401Response'
              example:
                errors:
                  message: Production Access not available for your account
                  payload: {}
        '429':
          description: >-
            Rate limit exceeded, this request was not processed. Future requests
            may not be processed, until your account drops below the rate limit
            threshold, again.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhooksCreateWebhook429Response'
        '500':
          description: >-
            The server encountered an unexpected error or couldn't fulfill the
            request in time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhooksCreateWebhook500Response'
              example:
                errors:
                  message: Something went wrong. We have been notified
  /webhooks/{id}:
    get:
      tags:
        - Webhooks
      summary: Retrieve webhook
      operationId: Webhooks_getDetails
      description: >
        > 📘 Learn more about Webhooks

        >

        > Our guide explains everything you need to know about the Tremendous
        webhooks:

        > [Read it here](https://developers.tremendous.com/)
      parameters:
        - description: ID of the webhook to retrieve
          name: id
          in: path
          required: true
          schema:
            type: string
            pattern: '[A-Z0-9]{4,20}'
            example: SOMEIDSOMEID
      responses:
        '200':
          description: A webhook (to be overwritten in specific responses)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhooksGetDetails200Response'
        '401':
          description: Authorization error e.g. due to an invalid or missing API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhooksGetDetails401Response'
              example:
                errors:
                  message: Production Access not available for your account
                  payload: {}
        '404':
          description: No resource could be found for the provided ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhooksGetDetails404Response'
        '429':
          description: >-
            Rate limit exceeded, this request was not processed. Future requests
            may not be processed, until your account drops below the rate limit
            threshold, again.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhooksGetDetails429Response'
        '500':
          description: >-
            The server encountered an unexpected error or couldn't fulfill the
            request in time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhooksGetDetails500Response'
              example:
                errors:
                  message: Something went wrong. We have been notified
  /webhooks/{id}/simulate:
    post:
      tags:
        - Webhooks
      summary: Test webhook
      operationId: Webhooks_triggerEvent
      description: >
        Making a request to this endpoint will cause our system to trigger a
        webhook for the specified event. This can be very useful when testing
        the setup that processes webhooks on your end.


        > 📘 Learn more about Webhooks

        >

        > Our guide explains everything you need to know about the Tremendous
        webhooks:

        > [Read it here](https://developers.tremendous.com/)
      parameters:
        - description: ID of the webhook to test
          name: id
          in: path
          required: true
          schema:
            type: string
            pattern: '[A-Z0-9]{4,20}'
            example: SOMEIDSOMEID
      requestBody:
        description: Webhook details
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhooksTriggerEventRequest'
      responses:
        '200':
          description: Webhook simulation triggered successfully
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/WebhooksTriggerEventResponse'
        '401':
          description: Authorization error e.g. due to an invalid or missing API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhooksTriggerEvent401Response'
              example:
[...]
