openapi: 3.0.2
info:
  title: Vimeo API
  description: >-
    Build something great. Vimeo's API supports flexible, high-quality video
    integration with your custom apps.
  version: '3.4'
  contact:
    url: https://developer.vimeo.com/help
  x-konfig-ignore:
    potential-incorrect-type: true
servers:
  - description: Vimeo.com
    url: https://api.vimeo.com
tags:
  - description: These are the most common methods for working with live events.
    name: Live\Essentials
  - description: Use these methods to work with live event destinations.
    name: Live\Event destinations
  - description: Use these methods to manage showcase videos.
    name: Showcases\Showcase videos
  - description: Use these methods to work with the thumbnail images of live events.
    name: Live\Event thumbnails
  - description: Use these methods to work with live event videos.
    name: Live\Event videos
  - description: Use these methods to work with user followers.
    name: Users\Followers
  - description: Use these methods to work with video chapters.
    name: Videos\Chapters
  - description: These are the most common methods for working with videos.
    name: Videos\Essentials
  - description: These are the most common methods for working with folders.
    name: Folders\Essentials
  - description: These are the most common methods for working with likes.
    name: Likes\Essentials
  - description: These are the most common methods for working with showcases.
    name: Showcases\Essentials
  - description: Use these methods to manage videos in folders.
    name: Folders\Videos
  - description: Use these methods to work with user pictures.
    name: Users\Pictures
  - description: Use these methods to work with video comments.
    name: Videos\Video comments
  - description: Use these methods to manage user interactions with a category.
    name: Categories\Users
  - description: >-
      Vimeo members with access to embed presets can include their own logo
      images in the embedded player. These custom logos can be part of an embed
      preset.

                  Use these methods to work with custom logos.
    name: Embed Presets\Custom logos
  - description: These are the most common methods for working with embed presets.
    name: Embed Presets\Essentials
  - description: Use these methods to work with On Demand genres.
    name: On Demand\Genres
  - description: Use these methods to work with regions on On Demand pages.
    name: On Demand\Regions
  - description: Use these methods to manage portfolio videos.
    name: Portfolios\Videos
  - description: Use these methods to work with credited users in videos.
    name: Videos\Credits
  - description: >-
      These are the most common methods for working with a user's Watch Later
      queue.
    name: Watch Later Queue\Essentials
  - description: >-
      Use these methods to work with webinar registrations, including signup and
      login.
    name: Webinar\Registrations
  - description: These are the most common methods for working with channels.
    name: Channels\Essentials
  - description: Use these methods to work with channel moderators.
    name: Channels\Moderators
  - description: Use these methods to work with channel subscriptions.
    name: Channels\Subscriptions and subscribers
  - description: Use these methods to work with videos in channels.
    name: Channels\Videos
  - description: These are the most common methods for working with On Demand pages.
    name: On Demand\Essentials
  - description: Use these methods to work with video text tracks.
    name: Videos\Text tracks
  - description: Use these methods to work with video thumbnails.
    name: Videos\Thumbnails
  - description: These are the most common methods for working with webinars.
    name: Webinar\Essentials
  - description: Use these methods to work with embed privacy for live events.
    name: Live\Embed privacy
  - description: Use these methods to work with associated tags.
    name: Videos\Tags
  - description: Use these methods to work with unlisted videos.
    name: Videos\Unlisted videos
  - description: Use these methods to work with video versioning.
    name: Videos\Versions
  - description: Use these methods to work with tags in channels.
    name: Channels\Tags
  - description: Use these methods to work with videos that have embed presets.
    name: Embed Presets\Videos
  - description: Use these methods to manage group members.
    name: Groups\Users
  - description: Use these methods to work with background images on an On Demand page.
    name: On Demand\Backgrounds
  - description: Use these methods to work with promotions on On Demand pages.
    name: On Demand\Promotions
  - description: >-
      Use these methods to manage custom showcase logos, or the supplementary
      images, usually logos, that appear on a showcase's page. These images
      aren't the same as showcase thumbnails, or the images that represent the
      showcase across Vimeo.
    name: Showcases\Custom showcase logos
  - description: >-
      Use these methods to manage custom thumbnail images for showcases. These
      thumbnails come from uploaded image files that aren't necessarily stills
      from a video.
    name: Showcases\Custom showcase thumbnails
  - description: Use these methods to work with animated thumbnails for videos.
    name: Videos\Animated thumbnails
  - description: Use these methods to work with videos in a category.
    name: Categories\Videos
  - description: Use these methods to work with channel categories.
    name: Channels\Categories
  - description: Use these methods to work with private channel members.
    name: Channels\Private channel members
  - description: These are the most common methods for working with groups.
    name: Groups\Essentials
  - description: Use these methods to manage group membership.
    name: Groups\Subscriptions
  - description: Use these methods to manage group videos.
    name: Groups\Videos
  - description: Use these methods to work with poster images on On Demand pages.
    name: On Demand\Posters
  - description: Use these methods to work with videos on On Demand pages.
    name: On Demand\Videos
  - description: These are the most common methods for working with portfolios.
    name: Portfolios\Essentials
  - description: These are the most common methods for working with users.
    name: Users\Essentials
  - description: Use these methods to work with video uploads.
    name: Videos\Uploads
  - description: Use these methods to work with webinar email customizations.
    name: Webinar\Emails
  - description: Use these methods to manage items in folders.
    name: Folders\Items
  - description: Use these methods to work with the activation of live events.
    name: Live\Event activation
  - description: >-
      Use these methods to work with the automated closed captions preferences
      of live events.
    name: Live\Event automated closed captions
  - description: Use these methods to work with the ending of live events.
    name: Live\Event end
  - description: Use these methods to manage a live event's low-latency option.
    name: Live\Event low latency
  - description: Use these methods to work with purchases and rentals on On Demand pages.
    name: On Demand\Purchases and rentals
  - description: Use these methods to work with On Demand seasons.
    name: On Demand\Seasons
  - description: Use these methods to work with team members.
    name: Teams\Members
  - description: Use these methods to work with a user's watch history.
    name: Users\Watch history
  - description: Use these methods to manage the whitelist of embeddable videos.
    name: Videos\Embed privacy
  - description: >-
      Use these methods to work with the video fragments for branched or
      segmented scrubbers.
    name: Videos\Fragments
  - description: These are the most common methods for working with authentication.
    name: Authentication Extras\Essentials
  - description: These are the most common methods for working with categories.
    name: Categories\Essentials
  - description: Use these methods to work with timeline events.
    name: Embed Presets\Timeline events
  - description: Use these methods to work with M3U8 playback URLs for live event streams.
    name: Live\Event M3U8 playback
  - description: These are the most common methods for making product purchases.
    name: Payments\Essentials
  - description: Use these methods to work with user analytics.
    name: Users\Analytics
  - description: Use these methods to work with user feeds.
    name: Users\Feeds
  - description: Use these methods to work with M3U8 playback URLs for live event streams.
    name: Videos\Live M3U8 playback
  - description: Use these methods to work with nondestructive trimming.
    name: Videos\Nondestructive trimming
  - description: Use these methods to work with showcase videos.
    name: Videos\Showcases
  - description: >-
      These are the most common methods for retrieving information about the
      Vimeo API.
    name: API Information\Essentials
  - description: Use these methods to perform authentication.
    name: Authentication Extras\Authenticate
  - description: Use these methods to convert authentication resources.
    name: Authentication Extras\Convert
  - description: Use these methods to exchange authentication resources.
    name: Authentication Extras\Exchange
  - description: Use these methods to work with channels in a category.
    name: Categories\Channels
  - description: Use these methods to work with groups in a category.
    name: Categories\Groups
  - description: Use these methods to work with live event sessions.
    name: Live\Event sessions
  - description: These are the most common methods for working with subscription plans.
    name: Subscription Plans\Essentials
  - description: These are the most common methods for working with tags.
    name: Tags\Essentials
  - description: These are the most common methods for working with the API tutorial.
    name: Tutorial\Essentials
  - description: Use these methods to search for users.
    name: Users\Search
  - description: Use these methods to work with video content ratings.
    name: Videos\Content ratings
  - description: Use these methods to work with Creative Commons licenses.
    name: Videos\Creative Commons
  - description: Use these methods to work with video languages.
    name: Videos\Languages
  - description: Use these methods to work with recommended videos.
    name: Videos\Recommendations
  - description: Use these methods to work with video transcripts.
    name: Videos\Transcripts
paths:
  /:
    get:
      tags:
        - API Information\Essentials
      summary: Get the API specification
      operationId: get_endpoints
      description: This method returns the full OpenAPI specification for the Vimeo API.
      parameters:
        - description: Return an OpenAPI specification.
          in: query
          name: openapi
          required: false
          schema:
            type: boolean
            example: true
        - description: >-
            Return an OpenAPI specification for the specified API version. This
            overwrites the **version** field provided in the **Accept** header.
          in: query
          name: version
          required: false
          schema:
            type: string
            example: '3.4'
      responses:
        '200':
          description: Standard request.
          content:
            application/vnd.vimeo.endpoint+json:
              schema:
                $ref: '#/components/schemas/endpoint'
  /albums/{album_id}/available_videos:
    get:
      tags:
        - Showcases\Showcase videos
      summary: >-
        Get all the user's videos that can be added to or removed from a
        showcase
      operationId: ShowcasesShowcaseVideos_listInShowcase
      description: >-
        This endpoint returns every video belonging to the authenticated user
        that can be added to or removed from the specified showcase. The user
        must be the owner of the showcase.
      parameters:
        - description: The ID of the showcase.
          in: path
          name: album_id
          required: true
          schema:
            type: number
            example: 3706071
        - description: |
            The sort direction of the results.

            Option descriptions:
             * `asc` - Sort the results in ascending order.
             * `desc` - Sort the results in descending order.
          in: query
          name: direction
          required: false
          schema:
            type: string
            example: asc
            enum:
              - asc
              - desc
        - description: The page number of the results to show.
          in: query
          name: page
          required: false
          schema:
            type: number
            example: 1
        - description: >-
            The number of items to show on each page of results, up to a maximum
            of 100.
          in: query
          name: per_page
          required: false
          schema:
            type: number
            example: 10
        - description: |
            The way to sort the results.

            Option descriptions:
             * `alphabetical` - Sort the results alphabetically.
             * `comments` - Sort the results by number of comments.
             * `date` - Sort the results by date.
             * `default` - Sort the results by the default method.
             * `duration` - Sort the results by duration.
             * `last_user_action_event_date` - Sort the results by most recent user interaction.
             * `likes` - Sort the results by number of likes.
             * `modified_time` - Sort the results by last modification.
             * `plays` - Sort the results by number of plays.
          in: query
          name: sort
          required: false
          schema:
            type: string
            enum:
              - alphabetical
              - comments
              - date
              - default
              - duration
              - last_user_action_event_date
              - likes
              - modified_time
              - plays
      responses:
        '200':
          description: The videos were returned.
          content:
            application/vnd.vimeo.video+json:
              schema:
                $ref: >-
                  #/components/schemas/ShowcasesShowcaseVideosListInShowcaseResponse
        '403':
          description: >-
            Error code 3433: The authenticated user can't add videos to this
            showcase.
          content:
            application/vnd.vimeo.video+json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: No such showcase exists.
          content:
            application/vnd.vimeo.video+json:
              schema:
                $ref: '#/components/schemas/legacy-error'
  /categories:
    get:
      tags:
        - Categories\Essentials
      summary: Get all categories
      operationId: get_categories
      description: This method returns every available category.
      parameters:
        - description: |
            The sort direction of the results.

            Option descriptions:
             * `asc` - Sort the results in ascending order.
             * `desc` - Sort the results in descending order.
          in: query
          name: direction
          required: false
          schema:
            type: string
            example: asc
            enum:
              - asc
              - desc
        - description: The page number of the results to show.
          in: query
          name: page
          required: false
          schema:
            type: number
            example: 1
        - description: >-
            The number of items to show on each page of results, up to a maximum
            of 100.
          in: query
          name: per_page
          required: false
          schema:
            type: number
            example: 10
        - description: The way to sort the results.
          in: query
          name: sort
          required: false
          schema:
            type: string
            enum:
              - last_video_featured_time
              - name
      responses:
        '200':
          description: The categories were returned.
          content:
            application/vnd.vimeo.category+json:
              schema:
                $ref: '#/components/schemas/GetCategoriesResponse'
  /categories/{category}:
    get:
      tags:
        - Categories\Essentials
      summary: Get a specific category
      operationId: get_category
      description: This method returns the specified category.
      parameters:
        - description: The name of the category.
          in: path
          name: category
          required: true
          schema:
            type: string
            example: animation
      responses:
        '200':
          description: The category was returned.
          content:
            application/vnd.vimeo.category+json:
              schema:
                $ref: '#/components/schemas/category'
        '404':
          description: No such category exists.
          content:
            application/vnd.vimeo.category+json:
              schema:
                $ref: '#/components/schemas/legacy-error'
  /categories/{category}/channels:
    get:
      tags:
        - Categories\Channels
      summary: Get all the channels in a category
      operationId: CategoriesChannels_listInCategory
      description: >-
        This method returns every channel that belongs to the specified
        category.
      parameters:
        - description: The name of the category.
          in: path
          name: category
          required: true
          schema:
            type: string
            example: animation
        - description: |
            The sort direction of the results.

            Option descriptions:
             * `asc` - Sort the results in ascending order.
             * `desc` - Sort the results in descending order.
          in: query
          name: direction
          required: false
          schema:
            type: string
            example: asc
            enum:
              - asc
              - desc
        - description: The page number of the results to show.
          in: query
          name: page
          required: false
          schema:
            type: number
            example: 1
        - description: >-
            The number of items to show on each page of results, up to a maximum
            of 100.
          in: query
          name: per_page
          required: false
          schema:
            type: number
            example: 10
        - description: The search query to use to filter the results.
          in: query
          name: query
          required: false
          schema:
            type: string
            example: Stop motion
        - description: |
            The way to sort the results.

            Option descriptions:
             * `alphabetical` - Sort the results alphabetically.
             * `date` - Sort the results by date.
             * `followers` - Sort the results by number of followers.
             * `videos` - Sort the results by number of videos.
          in: query
          name: sort
          required: false
          schema:
            type: string
            enum:
              - alphabetical
              - date
              - followers
              - videos
      responses:
        '200':
          description: The channels were returned.
          content:
            application/vnd.vimeo.channel+json:
              schema:
                $ref: '#/components/schemas/CategoriesChannelsListInCategoryResponse'
        '404':
          description: No such category exists.
          content:
            application/vnd.vimeo.channel+json:
              schema:
                $ref: '#/components/schemas/legacy-error'
  /categories/{category}/groups:
    get:
      tags:
        - Categories\Groups
      summary: Get all the groups in a category
      operationId: CategoriesGroups_getAllGroups
      description: This method returns every group that belongs to the specified category.
      parameters:
        - description: The name of the category.
          in: path
          name: category
          required: true
          schema:
            type: string
            example: animation
        - description: |
            The sort direction of the results.

            Option descriptions:
             * `asc` - Sort the results in ascending order.
             * `desc` - Sort the results in descending order.
          in: query
          name: direction
          required: false
          schema:
            type: string
            example: asc
            enum:
              - asc
              - desc
        - description: The page number of the results to show.
          in: query
          name: page
          required: false
          schema:
            type: number
            example: 1
        - description: >-
            The number of items to show on each page of results, up to a maximum
            of 100.
          in: query
          name: per_page
          required: false
          schema:
            type: number
            example: 10
        - description: The search query to use to filter the results.
          in: query
          name: query
          required: false
          schema:
            type: string
            example: Stop motion
        - description: |
            The way to sort the results.

            Option descriptions:
             * `alphabetical` - Sort the results alphabetically.
             * `date` - Sort the results by date.
             * `members` - Sort the results by number of members.
             * `videos` - Sort the results by number of videos.
          in: query
          name: sort
          required: false
          schema:
            type: string
            enum:
              - alphabetical
              - date
              - members
              - videos
      responses:
        '200':
          description: The groups were returned.
          content:
            application/vnd.vimeo.group+json:
              schema:
                $ref: '#/components/schemas/CategoriesGroupsGetAllGroupsResponse'
        '404':
          description: No such category exists.
          content:
            application/vnd.vimeo.group+json:
              schema:
                $ref: '#/components/schemas/legacy-error'
  /categories/{category}/videos:
    get:
      tags:
        - Categories\Videos
      summary: Get all the videos in a category
      operationId: CategoriesVideos_listVideosInCategory
      description: This method returns every video that belongs to the specified category.
      parameters:
        - description: The name of the category.
          in: path
          name: category
          required: true
          schema:
            type: string
            example: animation
        - description: |
            The sort direction of the results.

            Option descriptions:
             * `asc` - Sort the results in ascending order.
             * `desc` - Sort the results in descending order.
          in: query
          name: direction
          required: false
          schema:
            type: string
            example: asc
            enum:
              - asc
              - desc
        - description: |
            The attribute by which to filter the results.

            Option descriptions:
             * `conditional_featured` - Return featured videos.
             * `embeddable` - Return embeddable videos.
          in: query
          name: filter
          required: false
          schema:
            type: string
            enum:
              - conditional_featured
              - embeddable
        - description: >-
            Whether to filter the results by embeddable videos (`true`) or
            non-embeddable videos (`false`). This parameter is required only
            when **filter** is `embeddable`.
          in: query
          name: filter_embeddable
          required: false
          schema:
            type: boolean
            example: true
        - description: The page number of the results to show.
          in: query
          name: page
          required: false
          schema:
            type: number
            example: 1
        - description: >-
            The number of items to show on each page of results, up to a maximum
            of 100.
          in: query
          name: per_page
          required: false
          schema:
            type: number
            example: 10
        - description: The search query to use to filter the results.
          in: query
          name: query
          required: false
          schema:
            type: string
            example: Stop motion
        - description: |
            The way to sort the results.

            Option descriptions:
             * `alphabetical` - Sort the results alphabetically.
             * `comments` - Sort the results by number of comments.
             * `date` - Sort the results by date.
             * `duration` - Sort the results by duration.
             * `featured` - Sort the results by featured status.
             * `likes` - Sort the results by number of likes.
             * `plays` - Sort the results by number of plays.
             * `relevant` - Sort the results by relevance.
          in: query
          name: sort
          required: false
          schema:
            type: string
            enum:
              - alphabetical
              - comments
              - date
              - duration
              - featured
              - likes
              - plays
              - relevant
      responses:
        '200':
          description: The videos were returned.
          content:
            application/vnd.vimeo.video+json:
              schema:
                $ref: >-
                  #/components/schemas/CategoriesVideosListVideosInCategoryResponse
        '404':
          description: No such category exists.
          content:
            application/vnd.vimeo.video+json:
              schema:
                $ref: '#/components/schemas/legacy-error'
  /categories/{category}/videos/{video_id}:
    get:
      tags:
        - Categories\Videos
      summary: Get a specific video in a category
      operationId: CategoriesVideos_getVideoInCategory
      description: >-
        This method returns a single video in the specified category. You can
        use this method to determine whether the video belongs to the category.
      parameters:
        - description: The name of the category.
          in: path
          name: category
          required: true
          schema:
            type: string
            example: animation
        - description: The ID of the video.
          in: path
          name: video_id
          required: true
          schema:
            type: number
            example: 273576296
      responses:
        '200':
          description: The video was returned.
          content:
            application/vnd.vimeo.video+json:
              schema:
                $ref: '#/components/schemas/video'
        '404':
          description: No such category exists, or the video doesn't belong to it.
          content:
            application/vnd.vimeo.video+json:
              schema:
                $ref: '#/components/schemas/legacy-error'
  /channels:
    get:
      tags:
        - Channels\Essentials
      summary: Get all channels
      operationId: get_channels
      description: This method returns all available channels.
      parameters:
        - description: |
            The sort direction of the results.

            Option descriptions:
             * `asc` - Sort the results in ascending order.
             * `desc` - Sort the results in descending order.
          in: query
          name: direction
          required: false
          schema:
            type: string
            example: asc
            enum:
              - asc
              - desc
        - description: |
            The attribute by which to filter the results.

            Option descriptions:
             * `featured` - Return featured channels.
          in: query
          name: filter
          required: false
          schema:
            type: string
            enum:
              - featured
        - description: The page number of the results to show.
          in: query
          name: page
          required: false
          schema:
            type: number
            example: 1
        - description: >-
            The number of items to show on each page of results, up to a maximum
            of 100.
          in: query
          name: per_page
          required: false
          schema:
            type: number
            example: 10
        - description: The search query to use to filter the results.
          in: query
          name: query
          required: false
          schema:
            type: string
            example: Stop motion
        - description: |
            The way to sort the results.

            Option descriptions:
             * `alphabetical` - Sort the results alphabetically.
             * `date` - Sort the results by creation date.
             * `default` - Sort the results by creation date.
             * `followers` - Sort the results by number of followers.
             * `relevant` - Sort the results by relevance. This option is available for search queries only.
             * `videos` - Sort the results by number of videos.
          in: query
          name: sort
          required: false
          schema:
            type: string
            enum:
              - alphabetical
              - date
              - default
              - followers
              - relevant
              - videos
      responses:
        '200':
          description: The channels were returned.
          content:
            application/vnd.vimeo.channel+json:
              schema:
                $ref: '#/components/schemas/GetChannelsResponse'
        '400':
          description: The relevant sort has no search query.
          content:
            application/vnd.vimeo.channel+json:
              schema:
                $ref: '#/components/schemas/legacy-error'
    post:
      tags:
        - Channels\Essentials
      summary: Create a channel
      operationId: create_channel
      security:
        - oauth2:
            - create
      description: This method creates a new channel.
      requestBody:
        required: true
        content:
          application/vnd.vimeo.channel+json:
            schema:
              $ref: '#/components/schemas/CreateChannelRequest'
      responses:
        '200':
          description: The channel was created.
          content:
            application/vnd.vimeo.channel+json:
              schema:
                $ref: '#/components/schemas/channel'
        '400':
          description: A parameter is invalid.
          content:
            application/vnd.vimeo.channel+json:
              schema:
                $ref: '#/components/schemas/legacy-error'
        '403':
          description: The authenticated user can't create channels.
          content:
            application/vnd.vimeo.channel+json:
              schema:
                $ref: '#/components/schemas/legacy-error'
  /channels/{channel_id}:
    delete:
      tags:
        - Channels\Essentials
      summary: Delete a channel
      operationId: delete_channel
      security:
        - oauth2:
            - delete
      description: This method deletes the specified channel.
      parameters:
        - description: The ID of the channel.
          in: path
          name: channel_id
          required: true
          schema:
            type: number
            example: 927
      responses:
        '204':
          description: The channel was deleted.
        '403':
          description: The authenticated user doesn't own this channel.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/legacy-error'
    get:
      tags:
        - Channels\Essentials
      summary: Get a specific channel
      operationId: get_channel
      description: This method returns a single channel.
      parameters:
        - description: The ID of the channel.
          in: path
          name: channel_id
          required: true
          schema:
            type: number
            example: 927
      responses:
        '200':
          description: The channel was returned.
          content:
            application/vnd.vimeo.channel+json:
              schema:
                $ref: '#/components/schemas/channel'
    patch:
      tags:
        - Channels\Essentials
      summary: Edit a channel
      operationId: edit_channel
      security:
        - oauth2:
            - edit
      description: This method edits the specified channel.
      parameters:
        - description: The ID of the channel.
          in: path
          name: channel_id
          required: true
          schema:
            type: number
            example: 927
      requestBody:
        required: false
        content:
          application/vnd.vimeo.channel+json:
            schema:
              $ref: '#/components/schemas/EditChannelRequest'
      responses:
        '200':
          description: The channel was edited.
          content:
            application/vnd.vimeo.channel+json:
              schema:
                $ref: '#/components/schemas/channel'
        '400':
          description: A parameter is invalid.
          content:
            application/vnd.vimeo.channel+json:
              schema:
                $ref: '#/components/schemas/legacy-error'
  /channels/{channel_id}/categories:
    get:
      tags:
        - Channels\Categories
      summary: Get all the categories to which a channel belongs
      operationId: ChannelsCategories_getBelongingCategories
      description: >-
        This method returns every category to which the specified channel
        belongs.
      parameters:
        - description: The ID of the channel.
          in: path
          name: channel_id
          required: true
          schema:
            type: number
            example: 927
      responses:
        '200':
          description: The categories were returned.
          content:
            application/vnd.vimeo.category+json:
              schema:
                $ref: >-
                  #/components/schemas/ChannelsCategoriesGetBelongingCategoriesResponse
        '404':
          description: No such channel exists.
          content:
            application/vnd.vimeo.category+json:
              schema:
                $ref: '#/components/schemas/legacy-error'
    put:
      tags:
        - Channels\Categories
      summary: Add a channel to a list of categories
      operationId: ChannelsCategories_addChannelToMultipleCategories
      description: This method adds the specified channel to multiple categories.
      parameters:
        - description: The ID of the channel.
          in: path
          name: channel_id
          required: true
          schema:
            type: number
            example: 927
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/ChannelsCategoriesAddChannelToMultipleCategoriesRequest
      responses:
        '204':
          description: The channel was added to the categories.
        '400':
          description: >-
            * Error code 2204: You exceeded the maximum number of channel
            categories.

            * Error code 2205: There was no request body, or the request body is
            malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: 'Error code 8003: The user credentials are invalid.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: >-
            Error code 3200: The authenticated user can't add categories to the
            channel.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: No such channel exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/legacy-error'
  /channels/{channel_id}/categories/{category}:
    delete:
      tags:
        - Channels\Categories
      summary: Remove a channel from a category
      operationId: ChannelsCategories_removeChannelFromCategory
      security:
        - oauth2:
            - edit
      description: >-
        This method removes a channel from the specified category. The
        authenticated user must be the owner of the channel.
      parameters:
        - description: The name of the category.
          in: path
          name: category
          required: true
          schema:
            type: string
            example: animation
        - description: The ID of the channel.
          in: path
          name: channel_id
          required: true
          schema:
            type: number
            example: 927
      responses:
        '204':
          description: The channel was removed.
        '401':
          description: 'Error code 8003: The user credentials are invalid.'
          content:
            application/vnd.vimeo.category+json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: >-
            Error code 3200: The authenticated user doesn't own the channel or
            isn't a channel moderator.
          content:
            application/vnd.vimeo.category+json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: No such channel or category exists.
          content:
            application/vnd.vimeo.category+json:
              schema:
                $ref: '#/components/schemas/legacy-error'
    put:
      tags:
        - Channels\Categories
      summary: Add a channel to a specific category
      operationId: categorize_channel
      security:
        - oauth2:
            - edit
      description: >-
        This method adds the specified channel to a single category. The
        authenticated user must be the owner of the channel.
      parameters:
        - description: The name of the category.
          in: path
          name: category
          required: true
          schema:
            type: string
            example: animation
        - description: The ID of the channel.
          in: path
          name: channel_id
          required: true
          schema:
            type: number
            example: 927
      responses:
        '204':
          description: The channel was added to the category.
        '400':
          description: >-
            Error code 2204: You exceeded the maximum number of channel
            categories.
          content:
            application/vnd.vimeo.category+json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: 'Error code 8003: The user credentials are invalid.'
          content:
            application/vnd.vimeo.category+json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: >-
            Error code 3200: The authenticated user doesn't own the channel or
            isn't a channel moderator.
          content:
            application/vnd.vimeo.category+json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: No such channel or category exists.
          content:
            application/vnd.vimeo.category+json:
              schema:
                $ref: '#/components/schemas/legacy-error'
  /channels/{channel_id}/moderators:
    delete:
      tags:
        - Channels\Moderators
      summary: Remove a list of moderators from a channel
      operationId: ChannelsModerators_removeMultipleFromChannel
      security:
        - oauth2:
            - edit
      description: >-
        This method removes multiple moderators from the specified channel. The
        authenticated user must be the owner of the channel.
      parameters:
        - description: The ID of the channel.
          in: path
          name: channel_id
          required: true
          schema:
            type: number
            example: 927
      requestBody:
        required: true
        content:
          application/vnd.vimeo.user+json:
            schema:
              $ref: >-
                #/components/schemas/ChannelsModeratorsRemoveMultipleFromChannelRequest
      responses:
        '204':
          description: The moderators were removed.
        '403':
          description: >-
            The authenticated user doesn't own the channel, a requested user
            isn't a moderator of the channel, or a requested user is the owner
            of the channel.
          content:
            application/vnd.vimeo.user+json:
              schema:
                $ref: '#/components/schemas/legacy-error'
        '404':
          description: No such channel exists, or no such user exists.
          content:
            application/vnd.vimeo.user+json:
              schema:
                $ref: '#/components/schemas/legacy-error'
    get:
      tags:
        - Channels\Moderators
      summary: Get all the moderators of a channel
      operationId: ChannelsModerators_listByChannel
      description: This method returns every moderator of the specified channel.
      parameters:
        - description: The ID of the channel.
          in: path
          name: channel_id
          required: true
          schema:
            type: number
            example: 927
        - description: |
            The sort direction of the results.

            Option descriptions:
             * `asc` - Sort the results in ascending order.
             * `desc` - Sort the results in descending order.
          in: query
          name: direction
          required: false
          schema:
            type: string
            example: asc
            enum:
              - asc
              - desc
        - description: The page number of the results to show.
          in: query
          name: page
          required: false
          schema:
            type: number
            example: 1
        - description: >-
            The number of items to show on each page of results, up to a maximum
            of 100.
          in: query
          name: per_page
          required: false
          schema:
            type: number
            example: 10
        - description: The search query to use to filter the results.
          in: query
          name: query
          required: false
          schema:
            type: string
            example: Stop motion
        - description: |
            The way to sort the results.

            Option descriptions:
             * `alphabetical` - Sort the results alphabetically.
             * `date` - Sort the results by date added.
          in: query
          name: sort
          required: false
          schema:
            type: string
            enum:
              - alphabetical
              - date
      responses:
        '200':
          description: The moderators were returned.
          content:
            application/vnd.vimeo.user+json:
              schema:
                $ref: '#/components/schemas/ChannelsModeratorsListByChannelResponse'
    patch:
      tags:
        - Channels\Moderators
      summary: Replace the moderators of a channel
      operationId: ChannelsModerators_replaceModerators
      security:
        - oauth2:
            - edit
      description: >-
        This method replaces the current list of channel moderators with a new
        list. The authenticated user must be the owner of the channel and a
        follower of each requested user to add them as a channel moderator.
      parameters:
        - description: The ID of the channel.
          in: path
          name: channel_id
          required: true
          schema:
            type: number
            example: 927
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChannelsModeratorsReplaceModeratorsRequest'
      responses:
        '200':
          description: The moderators were replaced.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ChannelsModeratorsReplaceModeratorsResponse
        '400':
          description: 'Error code 2908: The list contains more than 100 users.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: The authenticated user doesn't own the channel.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/legacy-error'
        '404':
          description: No such channel exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/legacy-error'
    put:
      tags:
        - Channels\Moderators
      summary: Add a list of moderators to a channel
      operationId: ChannelsModerators_bulkAddModerators
      security:
        - oauth2:
            - edit
      description: >-
        This method adds multiple users as moderators to the specified channel.
        Include the users by their URI as a JSON array in the body of the
        request using the **user_uri** field, like this: `[{ "user_uri":
        "/users/1234" }, { "user_uri": "/users/1235" }]`. The authenticated user
        must be a follower of a requested user to add this person as a
        moderator. For more information on batch requests like this one, see
        [Using Common Formats and
        Parameters](https://developer.vimeo.com/api/common-formats#working-with-batch-requests).
      parameters:
        - description: The ID of the channel.
          in: path
          name: channel_id
          required: true
          schema:
            type: number
            example: 927
      responses:
        '200':
          description: The moderators were added.
        '400':
          description: 'Error code 2908: The list contains more than 100 users.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: >-
            The authenticated user doesn't own the channel, a requested user is
            already a moderator of the channel, or the authenticated user
            doesn't follow a requested user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/legacy-error'
        '404':
          description: No such channel exists, or no such user exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/legacy-error'
  /channels/{channel_id}/moderators/{user_id}:
    get:
      tags:
        - Channels\Moderators
      summary: Get a specific moderator of a channel
      operationId: ChannelsModerators_getSpecificModerator
      description: This method returns a single moderator of the specified channel.
      parameters:
        - description: The ID of the channel.
          in: path
          name: channel_id
          required: true
          schema:
            type: number
            example: 927
        - description: The ID of the user.
          in: path
          name: user_id
          required: true
          schema:
            type: number
            example: 152184
      responses:
        '200':
          description: The moderator was returned.
          content:
            application/vnd.vimeo.user+json:
              schema:
                $ref: '#/components/schemas/user'
    delete:
      tags:
        - Channels\Moderators
      summary: Remove a specific moderator from a channel
      operationId: ChannelsModerators_removeModerator
      security:
        - oauth2:
            - edit
      description: >-
        This method removes a single moderator from the specified channel. The
        authenticated user must be the owner of the channel.
      parameters:
        - description: The ID of the channel.
          in: path
          name: channel_id
          required: true
          schema:
            type: number
            example: 927
        - description: The ID of the user.
          in: path
          name: user_id
          required: true
          schema:
            type: number
            example: 152184
      responses:
        '204':
          description: The moderator was removed.
        '403':
          description: >-
            The authenticated user doesn't own the channel, the requested user
            isn't a moderator of the channel, or the requested user is the owner
            of the channel.
          content:
            application/vnd.vimeo.user+json:
              schema:
                $ref: '#/components/schemas/legacy-error'
        '404':
          description: No such channel exists, or no such user exists.
          content:
            application/vnd.vimeo.user+json:
              schema:
                $ref: '#/components/schemas/legacy-error'
    put:
      tags:
        - Channels\Moderators
      summary: Add a specific moderator to a channel
      operationId: ChannelsModerators_addModeratorToChannel
      security:
        - oauth2:
            - edit
      description: >-
        This method adds a single user as a moderator to the specified channel.
        The authenticated user must be a follower of the requested user to add
        them as a channel moderator.
      parameters:
        - description: The ID of the channel.
          in: path
          name: channel_id
          required: true
          schema:
            type: number
            example: 927
        - description: The ID of the user.
          in: path
          name: user_id
          required: true
          schema:
            type: number
            example: 152184
      responses:
        '200':
          description: OK
        '403':
          description: >-
            The authenticated user doesn't own the channel, the requested user
            is already a moderator of the channel, or the authenticated user
            doesn't follow the requested user.
          content:
            application/vnd.vimeo.user+json:
              schema:
                $ref: '#/components/schemas/legacy-error'
        '404':
          description: No such channel exists, or no such user exists.
          content:
            application/vnd.vimeo.user+json:
              schema:
                $ref: '#/components/schemas/legacy-error'
  /channels/{channel_id}/privacy/users:
    get:
      tags:
        - Channels\Private channel members
      summary: Get all the users who can access a private channel
      operationId: ChannelsPrivateChannelMembers_getAccessibleUsers
      description: >-
        This method returns all the users who have access to the specified
        private channel. The authenticated user must be the owner of the
        channel.
      parameters:
        - description: The ID of the channel.
          in: path
          name: channel_id
          required: true
          schema:
            type: number
            example: 927
        - description: |
            The sort direction of the results.

            Option descriptions:
             * `asc` - Sort the results in ascending order.
             * `desc` - Sort the results in descending order.
          in: query
          name: direction
          required: false
          schema:
            type: string
            example: asc
            enum:
              - asc
              - desc
        - description: The page number of the results to show.
          in: query
          name: page
          required: false
          schema:
            type: number
            example: 1
        - description: >-
            The number of items to show on each page of results, up to a maximum
            of 100.
          in: query
          name: per_page
          required: false
          schema:
            type: number
            example: 10
      responses:
        '200':
          description: The users were returned.
          content:
            application/vnd.vimeo.user+json:
              schema:
                $ref: >-
                  #/components/schemas/ChannelsPrivateChannelMembersGetAccessibleUsersResponse
        '401':
          description: 'Error code 8003: The user credentials are invalid.'
          content:
            application/vnd.vimeo.user+json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: 'Error code 3200: The authenticated user doesn''t own this channel.'
          content:
            application/vnd.vimeo.user+json:
              schema:
                $ref: '#/components/schemas/error'
    put:
      tags:
        - Channels\Private channel members
      summary: Permit a list of users to access a private channel
      operationId: ChannelsPrivateChannelMembers_permitUserAccess
      security:
        - oauth2:
            - edit
      description: >-
        This method gives multiple users access to the specified private
        channel. The authenticated user must be the owner of the channel.
      parameters:
        - description: The ID of the channel.
          in: path
          name: channel_id
          required: true
          schema:
            type: number
            example: 927
      requestBody:
        required: true
        content:
          application/vnd.vimeo.user+json:
            schema:
              $ref: >-
                #/components/schemas/ChannelsPrivateChannelMembersPermitUserAccessRequest
      responses:
        '200':
          description: The users can access the private channel.
          content:
            application/vnd.vimeo.user+json:
              schema:
                $ref: >-
                  #/components/schemas/ChannelsPrivateChannelMembersPermitUserAccessResponse
        '400':
          description: >-
            * Error code 2205: There was no request body, or the request body is
            malformed.

            * Error code 2900: No such user exists.
          content:
            application/vnd.vimeo.user+json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: 'Error code 8003: The user credentials are invalid.'
          content:
            application/vnd.vimeo.user+json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: 'Error code 3200: The authenticated user doesn''t own this channel.'
          content:
            application/vnd.vimeo.user+json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: 'Error code 2204: A requested user can''t have access to the channel.'
          content:
            application/vnd.vimeo.user+json:
              schema:
                $ref: '#/components/schemas/error'
  /channels/{channel_id}/privacy/users/{user_id}:
    delete:
      tags:
        - Channels\Private channel members
      summary: Restrict a user from accessing a private channel
      operationId: ChannelsPrivateChannelMembers_restrictUserAccess
      security:
        - oauth2:
            - edit
      description: >-
        This method prevents a single user from being able to access the
        specified private channel. The authenticated user must be the owner of
        the channel.
      parameters:
        - description: The ID of the channel.
          in: path
          name: channel_id
          required: true
          schema:
            type: number
            example: 927
        - description: The ID of the user.
          in: path
          name: user_id
          required: true
          schema:
            type: number
            example: 152184
      responses:
        '204':
          description: The user can't acceess the private channel.
        '401':
          description: 'Error code 8003: The user credentials are invalid.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: 'Error code 3200: The authenticated user doesn''t own the channel.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
    put:
      tags:
        - Channels\Private channel members
      summary: Permit a specific user to access a private channel
      operationId: ChannelsPrivateChannelMembers_permitUserAccess
      security:
        - oauth2:
            - edit
      description: >-
        This method gives a single user access to the specified private channel.
        The authenticated user must be the owner of the channel.
      parameters:
        - description: The ID of the channel.
          in: path
          name: channel_id
          required: true
          schema:
            type: number
            example: 927
        - description: The ID of the user.
          in: path
          name: user_id
          required: true
          schema:
            type: number
            example: 152184
      responses:
        '200':
          description: The user can now view the private channel.
        '401':
          description: 'Error code 8003: The user credentials are invalid.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: 'Error code 3200: The authenticated user doesn''t own the channel.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
  /channels/{channel_id}/tags:
    get:
      tags:
        - Channels\Tags
      summary: Get all the tags that have been added to a channel
      operationId: ChannelsTags_getAllChannelTags
      description: >-
        This method returns every tag that has been added to the specified
        channel.
      parameters:
        - description: The ID of the channel.
          in: path
          name: channel_id
          required: true
          schema:
            type: number
            example: 927
      responses:
        '200':
          description: The tags were returned.
          content:
            application/vnd.vimeo.tag+json:
              schema:
                $ref: '#/components/schemas/ChannelsTagsGetAllChannelTagsResponse'
        '400':
          description: No such channel exists.
          content:
            application/vnd.vimeo.tag+json:
              schema:
                $ref: '#/components/schemas/legacy-error'
    put:
      tags:
        - Channels\Tags
      summary: Add a list of tags to a channel
      operationId: ChannelsTags_addMultipleTagsToChannel
      security:
        - oauth2:
            - edit
      description: >-
        This method adds multiple tags to the specified channel. Include the
        tags as a JSON array in the body of the request using the **tag** field,
        like this: `[{ "tag": "funny" }, { "tag": "concert" }]`. The
        authenticated user must be the owner of the channel. For more
        information on batch requests like this one, see [Using Common Formats
        and
        Parameters](https://developer.vimeo.com/api/common-formats#working-with-batch-requests).
      parameters:
        - description: The ID of the channel.
          in: path
          name: channel_id
          required: true
          schema:
            type: number
            example: 927
      requestBody:
        required: true
        content:
          application/vnd.vimeo.tag+json:
            schema:
              $ref: '#/components/schemas/ChannelsTagsAddMultipleTagsToChannelRequest'
      responses:
        '200':
          description: The tags were added.
          content:
            application/vnd.vimeo.tag+json:
              schema:
                $ref: >-
                  #/components/schemas/ChannelsTagsAddMultipleTagsToChannelResponse
        '400':
          description: >-
            * No such channel exists, or a parameter is invalid.

            * Error code 2501: The channel can't have more than 20 tags.

            * Error code 2205: There was no request body, or the request body is
            malformed.
          content:
            application/vnd.vimeo.tag+json:
              schema:
                $ref: '#/components/schemas/legacy-error'
        '401':
          description: 'Error code 8003: The user credentials are invalid.'
          content:
            application/vnd.vimeo.tag+json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: >-
            Error code 3200: The authenticated user can't add tags to this
            channel.
          content:
            application/vnd.vimeo.tag+json:
              schema:
                $ref: '#/components/schemas/error'
  /channels/{channel_id}/tags/{word}:
    delete:
      tags:
        - Channels\Tags
      summary: Remove a tag from a channel
      operationId: ChannelsTags_removeTagFromChannel
      security:
        - oauth2:
            - edit
      description: >-
        This method removes a single tag from the specified channel. The
        authenticated user must be the owner of the channel.
      parameters:
        - description: The ID of the channel.
          in: path
          name: channel_id
          required: true
          schema:
            type: number
            example: 927
        - description: The word to use as the tag.
          in: path
          name: word
          required: true
          schema:
            type: string
            example: awesome
      responses:
        '204':
          description: The tag was removed.
        '400':
          description: The tag is invalid, or a parameter is invalid.
          content:
            application/vnd.vimeo.tag+json:
              schema:
                $ref: '#/components/schemas/legacy-error'
        '401':
          description: 'Error code 8003: The user credentials are invalid.'
          content:
            application/vnd.vimeo.tag+json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: >-
            Error code 3200: The authenticated user can't remove tags from this
            channel.
          content:
            application/vnd.vimeo.tag+json:
              schema:
                $ref: '#/components/schemas/error'
    get:
      tags:
        - Channels\Tags
      summary: Check if a tag has been added to a channel
      operationId: ChannelsTags_checkIfTagAddedToChannel
      description: >-
        This method determines whether a tag has been added to the specified
        channel.
      parameters:
        - description: The ID of the channel.
          in: path
          name: channel_id
          required: true
          schema:
            type: number
            example: 927
        - description: The word to use as the tag.
          in: path
          name: word
          required: true
          schema:
            type: string
            example: awesome
      responses:
        '204':
          description: The tag has been added to the channel.
        '400':
          description: No such tag exists.
          content:
            application/vnd.vimeo.tag+json:
              schema:
                $ref: '#/components/schemas/legacy-error'
        '404':
          description: 'Error code 5000: The tag exists, but the channel isn''t tagged by it.'
          content:
            application/vnd.vimeo.tag+json:
              schema:
                $ref: '#/components/schemas/error'
    put:
      tags:
        - Channels\Tags
      summary: Add a specific tag to a channel
      operationId: ChannelsTags_addTagToChannel
      security:
        - oauth2:
            - edit
      description: >-
        This method adds a single tag to the specified channel. The
        authenticated user must be the owner of the channel.
      parameters:
        - description: The ID of the channel.
          in: path
          name: channel_id
          required: true
          schema:
            type: number
            example: 927
        - description: The word to use as the tag.
          in: path
          name: word
          required: true
          schema:
            type: string
            example: awesome
      responses:
        '204':
          description: The tag was added.
        '400':
          description: |-
            * The tag is invalid, or a parameter is invalid.
            * Error code 2501: The channel can't have more than 20 tags.
          content:
            application/vnd.vimeo.tag+json:
              schema:
                $ref: '#/components/schemas/legacy-error'
        '401':
          description: 'Error code 8003: The user credentials are invalid.'
          content:
            application/vnd.vimeo.tag+json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: >-
            Error code 3200: The authenticated user can't add tags to this
            channel.
          content:
            application/vnd.vimeo.tag+json:
              schema:
                $ref: '#/components/schemas/error'
  /channels/{channel_id}/users:
    get:
      tags:
        - Channels\Subscriptions and subscribers
      summary: Get all the followers of a channel
      operationId: ChannelsSubscriptionsAndSubscribers_listChannelFollowers
      description: This method returns every follower of the specified channel.
      parameters:
        - description: The ID of the channel.
          in: path
          name: channel_id
          required: true
          schema:
            type: number
            example: 927
        - description: |
            The sort direction of the results.

            Option descriptions:
             * `asc` - Sort the results in ascending order.
             * `desc` - Sort the results in descending order.
          in: query
          name: direction
          required: false
          schema:
            type: string
            example: asc
            enum:
              - asc
              - desc
        - description: |
            The attribute by which to filter the results.

            Option descriptions:
             * `moderators` - Return moderators.
          in: query
          name: filter
          required: true
          schema:
            type: string
            enum:
              - moderators
        - description: The page number of the results to show.
          in: query
          name: page
          required: false
          schema:
            type: number
            example: 1
        - description: >-
            The number of items to show on each page of results, up to a maximum
            of 100.
          in: query
          name: per_page
          required: false
          schema:
            type: number
            example: 10
        - description: The search query to use to filter the results.
          in: query
          name: query
          required: false
          schema:
            type: string
            example: Stop motion
        - description: |
            The way to sort the results.

            Option descriptions:
             * `alphabetical` - Sort the results alphabetically.
             * `date` - Sort the results by follow date.
          in: query
          name: sort
          required: false
          schema:
            type: string
            enum:
              - alphabetical
              - date
      responses:
        '200':
          description: The followers were returned.
          content:
            application/vnd.vimeo.user+json:
              schema:
                $ref: >-
                  #/components/schemas/ChannelsSubscriptionsAndSubscribersListChannelFollowersResponse
        '404':
          description: No such channel exists.
          content:
            application/vnd.vimeo.user+json:
              schema:
                $ref: '#/components/schemas/legacy-error'
  /channels/{channel_id}/videos:
    delete:
      tags:
        - Channels\Videos
      summary: Remove a list of videos from a channel
      operationId: ChannelsVideos_removeMultipleFromChannel
      security:
        - oauth2:
            - edit
      description: >-
        This method removes multiple videos from the specified channel. Include
        the videos by their URI as a JSON block in the body of the request using
        the **video_uri** field, like this: `[{ "video_uri": "/videos/1234" }, {
        "video_uri": "/videos/1235" }]`. The authenticated user must be a
        moderator of the channel. For more information on batch requests like
        this one, see [Using Common Formats and
        Parameters](https://developer.vimeo.com/api/common-formats#working-with-batch-requests).
      parameters:
        - description: The ID of the channel.
          in: path
          name: channel_id
          required: true
          schema:
            type: number
            example: 927
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/ChannelsVideosRemoveMultipleFromChannelRequest
      responses:
        '204':
          description: The videos were removed.
        '403':
          description: >-
            The authenticated user can't remove videos from this channel, or a
            video can't be removed from the channel.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/legacy-error'
        '404':
          description: No such channel or user exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/legacy-error'
    get:
      tags:
        - Channels\Videos
      summary: Get all the videos in a channel
      operationId: ChannelsVideos_listInChannel
      description: This method returns every video in the specified channel.
      parameters:
        - description: The ID of the channel.
          in: path
          name: channel_id
          required: true
          schema:
            type: number
            example: 927
        - description: The page that contains the video URI.
          in: query
          name: containing_uri
          required: false
          schema:
            type: string
            example: /videos/258684937
        - description: |
            The sort direction of the results.

            Option descriptions:
             * `asc` - Sort the results in ascending order.
             * `desc` - Sort the results in descending order.
          in: query
          name: direction
          required: false
          schema:
            type: string
            example: asc
            enum:
              - asc
              - desc
        - description: |
            The attribute by which to filter the results.

            Option descriptions:
             * `embeddable` - Return embeddable videos.
          in: query
          name: filter
          required: false
          schema:
            type: string
            enum:
              - embeddable
        - description: >-
            Whether to filter the results by embeddable videos (`true`) or
            non-embeddable videos (`false`). This parameter is required only
            when **filter** is `embeddable`.
          in: query
          name: filter_embeddable
          required: false
          schema:
            type: boolean
            example: true
        - description: The page number of the results to show.
          in: query
          name: page
          required: false
          schema:
            type: number
            example: 1
        - description: >-
            The number of items to show on each page of results, up to a maximum
            of 100.
          in: query
          name: per_page
          required: false
          schema:
            type: number
            example: 10
        - description: The search query to use to filter the results.
          in: query
          name: query
          required: false
          schema:
            type: string
            example: Stop motion
        - description: |
            The way to sort the results.

            Option descriptions:
             * `added` - Sort the results by date added.
             * `alphabetical` - Sort the results alphabetically.
             * `comments` - Sort the results by number of comments.
             * `date` - Sort the results by creation date.
             * `default` - Use the default sorting method.
             * `duration` - Sort the results by duration.
             * `likes` - Sort the results by number of likes.
             * `manual` - Sort the results as the user has arranged them.
             * `modified_time` - Sort the results by last modification.
             * `plays` - Sort the results by number of plays.
          in: query
          name: sort
          required: false
          schema:
            type: string
            enum:
              - added
              - alphabetical
              - comments
              - date
              - default
              - duration
              - likes
              - manual
              - modified_time
              - plays
      responses:
        '200':
          description: The videos were returned.
          content:
            application/vnd.vimeo.video+json:
              schema:
                $ref: '#/components/schemas/ChannelsVideosListInChannelResponse'
        '304':
          description: >-
            No videos have been added to this channel since the given
            `If-Modified-Since` header.
        '400':
          description: >-
            The **sort** field is `default`, but the **direction** field has a
            value.
          content:
            application/vnd.vimeo.video+json:
              schema:
                $ref: '#/components/schemas/legacy-error'
        '404':
          description: No such channel exists.
          content:
            application/vnd.vimeo.video+json:
              schema:
                $ref: '#/components/schemas/legacy-error'
    put:
      tags:
        - Channels\Videos
      summary: Add a list of videos to a channel
      operationId: ChannelsVideos_addMultipleToChannel
      security:
        - oauth2:
            - edit
      description: >-
        This method adds multiple videos to the specified channel. The
        authenticated user must be a moderator of the channel.
      parameters:
        - description: The ID of the channel.
          in: path
          name: channel_id
          required: true
          schema:
            type: number
            example: 927
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChannelsVideosAddMultipleToChannelRequest'
      responses:
        '200':
          description: The videos were added.
        '403':
          description: >-
            The authenticated user can't add videos to the channel, or a video
            can't be added to the channel.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/legacy-error'
        '404':
          description: No such channel or user exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/legacy-error'
  /channels/{channel_id}/videos/{video_id}:
    delete:
      tags:
        - Channels\Videos
      summary: Remove a specific video from a channel
      operationId: ChannelsVideos_removeSpecificVideo
      security:
        - oauth2:
            - edit
      description: >-
        This method removes a single video from the specified channel. The
        authenticated user must be a moderator of the channel.
      parameters:
        - description: The ID of the channel.
          in: path
          name: channel_id
          required: true
          schema:
            type: number
            example: 927
        - description: The ID of the video.
          in: path
          name: video_id
          required: true
          schema:
            type: number
            example: 258684937
      responses:
        '204':
          description: The video was removed.
        '403':
          description: >-
            The authenticated user can't remove videos from this channel, or the
            video can't be removed from the channel.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/legacy-error'
        '404':
          description: No such channel or video exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/legacy-error'
    get:
      tags:
        - Channels\Videos
      summary: Get a specific video in a channel
      operationId: ChannelsVideos_getSpecificVideoInChannel
      description: >-
        This method returns a single video in the specified channel. You can use
        it to determine whether the video is in the channel.
      parameters:
        - description: The ID of the channel.
          in: path
          name: channel_id
          required: true
          schema:
            type: number
            example: 927
        - description: The ID of the video.
          in: path
          name: video_id
          required: true
          schema:
            type: number
            example: 258684937
      responses:
        '200':
          description: The video was returned.
          content:
            application/vnd.vimeo.video+json:
              schema:
                $ref: '#/components/schemas/video'
        '404':
          description: No such channel exists.
          content:
            application/vnd.vimeo.video+json:
              schema:
                $ref: '#/components/schemas/legacy-error'
    put:
      tags:
        - Channels\Videos
      summary: Add a specific video to a channel
      operationId: ChannelsVideos_addVideoToChannel
      security:
        - oauth2:
            - edit
      description: >-
        This method adds a single video to the specified channel. The
        authenticated user must be a moderator of the channel.
      parameters:
        - description: The ID of the channel.
          in: path
          name: channel_id
          required: true
          schema:
            type: number
            example: 927
        - description: The ID of the video.
          in: path
          name: video_id
          required: true
          schema:
            type: number
            example: 258684937
      responses:
        '204':
          description: The video was added.
        '403':
          description: >-
            The video can't be added to a channel, or the authenticated user
            can't add videos to this channel.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/legacy-error'
        '404':
          description: No such channel or video exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/legacy-error'
  /channels/{channel_id}/videos/{video_id}/comments:
    get:
      tags:
        - Videos\Video comments
      summary: Get all the video comments on a video
      operationId: VideosVideoComments_getAllReplies
      description: This method returns every video comment on the specified video.
      parameters:
        - description: The ID of the channel.
          in: path
          name: channel_id
          required: true
          schema:
            type: number
            example: 927
        - description: The ID of the video.
          in: path
          name: video_id
          required: true
          schema:
            type: number
            example: 258684937
        - description: |
            The sort direction of the results.

            Option descriptions:
             * `asc` - Sort the results in ascending order.
             * `desc` - Sort the results in descending order.
          in: query
          name: direction
          required: false
          schema:
            type: string
            example: asc
            enum:
              - asc
              - desc
        - description: The page number of the results to show.
          in: query
          name: page
          required: false
          schema:
            type: number
            example: 1
        - description: >-
            The number of items to show on each page of results, up to a maximum
            of 100.
          in: query
          name: per_page
          required: false
          schema:
            type: number
            example: 10
      responses:
        '200':
          description: The comments were returned.
          content:
            application/vnd.vimeo.comment+json:
              schema:
                $ref: '#/components/schemas/VideosVideoCommentsGetAllRepliesResponse'
    post:
      tags:
        - Videos\Video comments
      summary: Add a video comment to a video
      operationId: VideosVideoComments_addNewComment
      security:
        - oauth2:
            - interact
      description: This method adds a video comment to the specified video.
      parameters:
        - description: The ID of the channel.
          in: path
          name: channel_id
          required: true
          schema:
            type: number
            example: 927
        - description: The ID of the video.
          in: path
          name: video_id
          required: true
          schema:
            type: number
            example: 258684937
      requestBody:
        required: true
        content:
          application/vnd.vimeo.comment+json:
            schema:
              $ref: '#/components/schemas/VideosVideoCommentsAddNewCommentRequest'
      responses:
        '201':
          description: The comment was added.
          content:
            application/vnd.vimeo.comment+json:
              schema:
                $ref: '#/components/schemas/comment'
        '400':
          description: 'Error code 2207: The comment text is missing.'
          content:
            application/vnd.vimeo.comment+json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: 'Error code 8003: The user credentials are invalid.'
          content:
            application/vnd.vimeo.comment+json:
              schema:
                $ref: '#/components/schemas/error'
        '403':
          description: |-
            * Error code 3301: The comment was flagged as spam.
            * Error code 3411: The authenticated user is unverified.
            * Error code 3412: The authenticated user can't comment.
            * Error code 3413: Comments are disabled for this video.
          content:
            application/vnd.vimeo.comment+json:
              schema:
                $ref: '#/components/schemas/error'
  /channels/{channel_id}/videos/{video_id}/credits:
    get:
      tags:
        - Videos\Credits
      summary: Get all the credited users in a video
      operationId: VideosCredits_getAllCreditedUsersInVideo
      description: This method returns every credited user in a video.
      parameters:
        - description: The ID of the channel.
          in: path
          name: channel_id
          required: true
          schema:
            type: number
            example: 927
        - description: The ID of the video.
          in: path
          name: video_id
          required: true
          schema:
            type: number
            example: 258684937
        - description: |
            The sort direction of the results.

            Option descriptions:
             * `asc` - Sort the results in ascending order.
             * `desc` - Sort the results in descending order.
          in: query
          name: direction
          required: false
          schema:
            type: string
            example: asc
            enum:
              - asc
              - desc
        - description: The page number of the results to show.
          in: query
          name: page
          required: false
          schema:
            type: number
            example: 1
        - description: >-
            The number of items to show on each page of results, up to a maximum
            of 100.
          in: query
          name: per_page
          required: false
          schema:
            type: number
            example: 10
        - description: The search query to use to filter the results.
          in: query
          name: query
          required: false
          schema:
            type: string
            example: Stop motion
        - description: |
            The way to sort the results.

            Option descriptions:
             * `alphabetical` - Sort the results alphabetically.
             * `date` - Sort the results by date.
          in: query
          name: sort
          required: false
          schema:
            type: string
            enum:
              - alphabetical
              - date
      responses:
        '200':
          description: The credited users were returned.
          content:
            application/vnd.vimeo.credit+json:
              schema:
                $ref: >-
                  #/components/schemas/VideosCreditsGetAllCreditedUsersInVideoResponse
    post:
      tags:
        - Videos\Credits
      summary: Credit a user in a video
      operationId: VideosCredits_addUserCreditInVideo
      description: This method adds a user credit to the specified video.
      parameters:
        - description: The ID of the channel.
          in: path
          name: channel_id
          required: true
          schema:
            type: number
            example: 927
        - description: The ID of the video.
          in: path
          name: video_id
          required: true
          schema:
            type: number
            example: 258684937
      requestBody:
        required: true
        content:
          application/vnd.vimeo.credit+json:
            schema:
              $ref: '#/components/schemas/VideosCreditsAddUserCreditInVideoRequest'
      responses:
        '201':
          description: The credit was added.
          content:
            application/vnd.vimeo.credit+json:
              schema:
                $ref: '#/components/schemas/credit'
        '400':
          description: >-
            * A parameter is invalid.

            * The authenticated user has an unverified email address.

            * There is a user block between the video owner and the person
            receiving credit.
          content:
            application/vnd.vimeo.credit+json:
              schema:
                $ref: '#/components/schemas/legacy-error'
        '403':
          description: The authenticated user doesn't own the video.
          content:
            application/vnd.vimeo.credit+json:
              schema:
                $ref: '#/components/schemas/legacy-error'
  /channels/{channel_id}/videos/{video_id}/likes:
    get:
      tags:
        - Likes\Essentials
      summary: Get all the users who have liked a video
      operationId: LikesEssentials_getUsersWhoLikedVideo
      description: This method returns every user who has liked the specified video.
      parameters:
        - description: The ID of the channel.
          in: path
          name: channel_id
          required: true
          schema:
            type: number
            example: 927
        - description: The ID of the video.
          in: path
          name: video_id
          required: true
          schema:
            type: number
            example: 258684937
        - description: |
            The sort direction of the results.

            Option descriptions:
             * `asc` - Sort the results in ascending order.
             * `desc` - Sort the results in descending order.
          in: query
          name: direction
          required: false
          schema:
            type: string
            example: asc
            enum:
              - asc
              - desc
        - description: The page number of the results to show.
          in: query
          name: page
          required: false
          schema:
            type: number
            example: 1
        - description: >-
            The number of items to show on each page of results, up to a maximum
            of 100.
          in: query
          name: per_page
          required: false
          schema:
            type: number
            example: 10
        - description: |
            The way to sort the results.

            Option descriptions:
             * `alphabetical` - Sort the results alphabetically.
             * `date` - Sort the results by join date.
          in: query
          name: sort
          required: false
          schema:
            type: string
            enum:
              - alphabetical
              - date
      responses:
        '200':
          description: The users were returned.
          content:
            application/vnd.vimeo.user+json:
              schema:
                $ref: >-
                  #/components/schemas/LikesEssentialsGetUsersWhoLikedVideoResponse
  /channels/{channel_id}/videos/{video_id}/pictures:
    get:
      tags:
        - Videos\Thumbnails
      summary: Get all the thumbnails of a video
      operationId: VideosThumbnails_getAllByVideoId
      description: >-
        This method returns all thumbnail images of the specified video. The
        authenticated user must have team permissions for the video.
      parameters:
        - description: The ID of the channel.
          in: path
          name: channel_id
          required: true
          schema:
            type: number
            example: 927
        - description: The ID of the video.
          in: path
          name: video_id
          required: true
          schema:
            type: number
            example: 258684937
        - description: The page number of the results to show.
          in: query
          name: page
          required: false
          schema:
            type: number
            example: 1
        - description: >-
            The number of items to show on each page of results, up to a maximum
            of 100.
          in: query
          name: per_page
          required: false
          schema:
            type: number
            example: 10
      responses:
        '200':
          description: The thumbnails were returned.
          content:
            application/vnd.vimeo.picture+json:
              schema:
                $ref: '#/components/schemas/VideosThumbnailsGetAllByVideoIdResponse'
    post:
      tags:
        - Videos\Thumbnails
      summary: Add a video thumbnail
      operationId: VideosThumbnails_addThumbnailToVideo
      security:
        - oauth2:
            - upload
      description: >-
        This method adds a thumbnail image to the specified video. The
        authenticated user must have team permissions for the video.
      parameters:
        - description: The ID of the channel.
          in: path
          name: channel_id
          required: true
          schema:
            type: number
            example: 927
        - description: The ID of the video.
          in: path
          name: video_id
          required: true
          schema:
            type: number
            example: 258684937
      requestBody:
        required: false
        content:
          application/vnd.vimeo.picture+json:
            schema:
              $ref: '#/components/schemas/VideosThumbnailsAddThumbnailToVideoRequest'
      responses:
        '201':
          description: The thumbnail was created.
          content:
            application/vnd.vimeo.picture+json:
              schema:
                $ref: '#/components/schemas/picture'
  /channels/{channel_id}/videos/{video_id}/privacy/users:
    get:
      tags:
        - Videos\Unlisted videos
      summary: Get the users who can access an unlisted video
      operationId: VideosUnlistedVideos_listAccessibleUsers
      description: >-
        This method returns every user who has access to the specified unlisted
        video.
      parameters:
        - description: The ID of the channel.
          in: path
          name: channel_id
          required: true
          schema:
            type: number
            example: 927
        - description: The ID of the video.
          in: path
          name: video_id
          required: true
          schema:
            type: number
            example: 258684937
        - description: The page number of the results to show.
          in: query
          name: page
          required: false
          schema:
            type: number
            example: 1
        - description: >-
            The number of items to show on each page of results, up to a maximum
            of 100.
          in: query
          name: per_page
          required: false
          schema:
            type: number
            example: 10
      responses:
        '200':
          description: The users were returned.
          content:
            application/vnd.vimeo.user+json:
              schema:
                $ref: >-
                  #/components/schemas/VideosUnlistedVideosListAccessibleUsersResponse
        '400':
          description: No users can access this unlisted video.
          content:
            application/vnd.vimeo.user+json:
              schema:
                $ref: '#/components/schemas/legacy-error'
    put:
      tags:
        - Videos\Unlisted videos
      summary: Permit a list of users to access an unlisted video
      operationId: VideosUnlistedVideos_grantAccessToUsers
      security:
        - oauth2:
            - edit
      description: >-
        This method gives multiple users permission to access the specified
        unlisted video. The authenticated user must be the owner of the video.
        The body of the request should follow our [batch request
        format](https://developer.vimeo.com/api/common-formats#working-with-batch-requests):
        each object must contain a single **uri** field whose value is the URI
        of the user who can access the video.
      parameters:
        - description: The ID of the channel.
          in: path
          name: channel_id
          required: true
          schema:
            type: number
            example: 927
        - description: The ID of the video.
          in: path
          name: video_id
          required: true
          schema:
            type: number
            example: 258684937
      responses:
        '200':
          description: The users have been granted access to the unlisted video.
          content:
            application/vnd.vimeo.user+json:
              schema:
                $ref: >-
                  #/components/schemas/VideosUnlistedVideosGrantAccessToUsersResponse
  /channels/{channel_id}/videos/{video_id}/texttracks:
    get:
      tags:
        - Videos\Text tracks
      summary: Get all the text tracks of a video
      operationId: VideosTextTracks_getAllTracks
      description: >-
        This method returns every text track of the specified video. The
        authenticated user must be the owner of the video.
      parameters:
        - description: The ID of the channel.
          in: path
          name: channel_id
          required: true
          schema:
            type: number
            example: 927
        - description: The ID of the video.
          in: path
          name: video_id
          required: true
          schema:
            type: number
            example: 258684937
        - description: The page number of the results to show.
          in: query
          name: page
          required: false
          schema:
            type: number
            example: 1
        - description: >-
            The number of items to show on each page of results, up to a maximum
            of 100.
          in: query
          name: per_page
          required: false
          schema:
            type: number
            example: 10
      responses:
        '200':
          description: The text tracks were returned.
          content:
            application/vnd.vimeo.video.texttrack+json:
              schema:
                $ref: '#/components/schemas/VideosTextTracksGetAllTracksResponse'
        '404':
          description: No such video exists.
          content:
            application/vnd.vimeo.video.texttrack+json:
              schema:
                $ref: '#/components/schemas/legacy-error'
    post:
      tags:
        - Videos\Text tracks
      summary: Add a text track to a video
      operationId: VideosTextTracks_addTextTrackToVideo
      security:
        - oauth2:
            - upload
      description: >-
        This method adds a text track to the specified video. For more
        information, see [Working with Text Track
        Uploads](https://developer.vimeo.com/api/upload/texttracks).
      parameters:
        - description: The ID of the channel.
          in: path
          name: channel_id
          required: true
          schema:
            type: number
            example: 927
        - description: The ID of the video.
          in: path
          name: video_id
          required: true
          schema:
            type: number
            example: 258684937
      requestBody:
        required: true
        content:
          application/vnd.vimeo.video.texttrack+json:
            schema:
              $ref: '#/components/schemas/VideosTextTracksAddTextTrackToVideoRequest'
      responses:
        '201':
          description: The text track was added.
          content:
            application/vnd.vimeo.video.texttrack+json:
              schema:
                $ref: '#/components/schemas/text-track'
        '403':
          description: |-
[...]
