openapi: 3.0.1
info:
  title: Content Management
  description: >-
    The content management feed allows you to process content for items in bulk.
    You can take in content via the content feeds. Use the XSDs to manage
    content.
servers:
  - url: https://marketplace.walmartapis.com/v3/feeds
tags:
  - name: Feeds
paths:
  /v3/feeds:
    post:
      tags:
        - Feeds
      summary: Content feeds
      operationId: Feeds_createContentFeed
      description: >-
        You can update 10,000 items at once; updates with more than 10,000 items
        are not supported. Keep feed sizes below 10 MB to ensure optimal feed
        processing time.
      parameters:
        - description: The feed Type
          name: feedType
          in: query
          required: true
          schema:
            type: string
            default: CONTENT_PRODUCT
        - description: >-
            A unique ID to track the consumer request by channel. Use the
            Consumer Channel Type received during onboarding
          in: header
          name: WM_CONSUMER.CHANNEL.TYPE
          required: false
          schema:
            type: string
        - description: >-
            A unique ID which identifies each API call and used to track and
            debug issues; use a random generated GUID for this ID
          in: header
          name: WM_QOS.CORRELATION_ID
          required: true
          schema:
            type: string
          example: b3261d2d-028a-4ef7-8602-633c23200af6
        - description: Walmart Service Name
          in: header
          name: WM_SVC.NAME
          required: true
          schema:
            type: string
          example: Walmart Service Name
        - description: The Epoch timestamp
          name: WM_SEC.TIMESTAMP
          in: header
          required: true
          schema:
            type: string
          example: '1443748249449'
        - description: >-
            The vendor's digital signature, generated by running the JAR file or
            custom generation code
          name: WM_SEC.AUTH_SIGNATURE
          in: header
          required: true
          schema:
            type: string
          example: 9fg3TPeRt0WSGbXNGGj4kSQ9L6PMBX.....9Zj5aDyg=
        - description: A unique ID required to access the API
          name: WM_CONSUMER.ID
          in: header
          required: true
          schema:
            type: string
          example: Get the Consumer ID from Developer Center after logging in
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/FeedsCreateContentFeedRequest'
            examples:
              xml1:
                value: |-
                  <ContentProductFeed xmlns="http://walmart.com/content">
                      <ContentProductFeedHeader>
                          <version>3.0</version>
                      </ContentProductFeedHeader>
                      <ContentProduct>
                          <sku>02782382027292</sku>
                          <SkuUpdate>No</SkuUpdate>
                          <productName>
                              KIND Bars, Nuts and Spices Bar, Dark Chocolate Cinnamon Pecan, 1.4 oz, 12/Box
                          </productName>
                          <productIdentifiers>
                              <productIdentifier>
                                  <productIdType>GTIN</productIdType>
                                  <productId>02782382027292</productId>
                              </productIdentifier>
                              <productIdentifier>
                                  <productIdType>UPC</productIdType>
                                  <productId>278238202729</productId>
                              </productIdentifier>
                          </productIdentifiers>
                          <category>
                              <FoodAndBeverageCategory>
                                  <FoodAndBeverage>
                                      <shortDescription>
                                          Kind Bar, Dark Chocolate Cinnamon Pecan - Mfg Part No. 602652177521
                                      </shortDescription>
                                      <keyFeatures>
                                          <keyFeaturesValue>
                                              Ingredients You Can See &amp; Pronounce. ONLY 5g SUGAR7g FIBER / 6g PROTEIN .All Natural / NON GMO. Gluten Free. No Sugar Alcohols. Low Glycemic .Low Sodium .No Trans Fats .No Sulphur Dioxide. No Hydrogenated Oils Kosher
                                          </keyFeaturesValue>
                                          <keyFeaturesValue>All Natural / NON GMO</keyFeaturesValue>
                                          <keyFeaturesValue>7g fiber. 6g protein. Only 5g sugar</keyFeaturesValue>
                                          <keyFeaturesValue>So go on, have your KIND and eat it too!</keyFeaturesValue>
                                      </keyFeatures>
                                      <unitsPerConsumerUnit>6</unitsPerConsumerUnit>
                                      <brand>Kind</brand>
                                      <manufacturer>Nestle</manufacturer>
                                      <mainImageUrl>
                                          http://i5.walmartimages.com/asr/99eb373e-3041-4a0b-9846-53e0260f8b10_1.5c4c950aae18d21febf427a72d42ad01.jpeg?odnHeight=180&amp;odnWidth=180&amp;odnBg=ffffff
                                      </mainImageUrl>
                                      <isPrivateLabelOrUnbranded>Yes</isPrivateLabelOrUnbranded>
                                      <exclusiveBrandsIndicator>Yes</exclusiveBrandsIndicator>
                                      <isProp65WarningRequired>Yes</isProp65WarningRequired>
                                      <prop65WarningText>
                                          Many food and beverage cans have linings containing bisphenol A (BPA), a chemical known to the State of California to cause harm to the female reproductive system. Jar lids and bottle caps may also contain BPA. You can be exposed to BPA when you consume foods or beverages packaged in these containers. For more information go to: www.P65Warnings.ca.gov/BPA.
                                      </prop65WarningText>
                                      <hasExpiration>Yes</hasExpiration>
                                      <shelfLife>
                                          <measure>500</measure>
                                          <unit>days</unit>
                                      </shelfLife>
                                      <hasPricePerUnit>Yes</hasPricePerUnit>
                                      <pricePerUnitQuantity>1.80</pricePerUnitQuantity>
                                      <pricePerUnitUom>Ounce</pricePerUnitUom>
                                      <hasGMOs>No</hasGMOs>
                                      <isTemperatureSensitive>No</isTemperatureSensitive>
                                      <hasStateRestrictions>No</hasStateRestrictions>
                                      <isIntendedForHumanConsumption>Yes</isIntendedForHumanConsumption>
                                      <isNutritionFactsLabelRequired>Yes</isNutritionFactsLabelRequired>
                                      <nutritionFactsLabel>
                                          http://www.mymreviews.com/wp-content/uploads/2014/02/KIND-Nutrition2.jpg
                                      </nutritionFactsLabel>
                                      <nutritionIngredientsImage>
                                          http://www.mymreviews.com/wp-content/uploads/2014/02/KIND-Nutrition2.jpg
                                      </nutritionIngredientsImage>
                                      <hasIngredientList>Yes</hasIngredientList>
                                      <ingredientListImage>
                                          http://www.mymreviews.com/wp-content/uploads/2014/02/KIND-Nutrition2.jpg
                                      </ingredientListImage>
                                      <isPerishable>No</isPerishable>
                                      <containerType>
                                          <containerTypeValue>box</containerTypeValue>
                                      </containerType>
                                      <isGmoFree>Yes</isGmoFree>
                                      <servingSize>1 bar</servingSize>
                                      <servingsPerContainer>12.00</servingsPerContainer>
                                      <calories>
                                          <measure>200</measure>
                                          <unit>Calories</unit>
                                      </calories>
                                      <caloriesFromFat>
                                          <measure>20</measure>
                                          <unit>Calories</unit>
                                      </caloriesFromFat>
                                      <totalFat>
                                          <measure>8.00</measure>
                                          <unit>g</unit>
                                      </totalFat>
                                      <totalFatPercentageDailyValue>20.00</totalFatPercentageDailyValue>
                                      <fatCaloriesPerGram>
                                          <measure>20</measure>
                                          <unit>Calories</unit>
                                      </fatCaloriesPerGram>
                                      <nutrients>
                                          <nutrient>
                                              <nutrientName>Calcium</nutrientName>
                                              <nutrientAmount>12g</nutrientAmount>
                                              <nutrientPercentageDailyValue>20</nutrientPercentageDailyValue>
                                          </nutrient>
                                      </nutrients>
                                      <foodForm>Bars</foodForm>
                                      <isImitation>No</isImitation>
                                      <usdaInspected>Yes</usdaInspected>
                                      <hasHighFructoseCornSyrup>No</hasHighFructoseCornSyrup>
                                      <foodAllergenStatements>
                                          <foodAllergenStatement>Contains nuts</foodAllergenStatement>
                                      </foodAllergenStatements>
                                      <caffeineDesignation>Naturally Decaffeinated</caffeineDesignation>
                                  </FoodAndBeverage>
                              </FoodAndBeverageCategory>
                          </category>
                      </ContentProduct>
                  </ContentProductFeed>
      responses:
        '200':
          description: Successful Operation
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/FeedsCreateContentFeedResponse'
              example: |-
                <?xml version="1.0" encoding="UTF-8"?>
                <ns2:FeedAcknowledgement xmlns:ns2="http://walmart.com/">
                    <ns2:feedid>039F4AEA0B3A4E1FBEF0A6403507B18C@AQQBAQA</ns2:feedid>
                </ns2:FeedAcknowledgement>
  /v2/feeds:
    post:
      tags:
        - Feeds
      summary: Rich Media
      operationId: Feeds_createRichMediaFeed
      description: >-
        Rich Media includes material such as videos, comparison tables, and
        view360 media which is item-specific.
      parameters:
        - description: The feed Type
          name: feedType
          in: query
          required: true
          schema:
            type: string
            default: item
        - description: >-
            A unique ID to track the consumer request by channel. Use the
            Consumer Channel Type received during onboarding
          in: header
          name: WM_CONSUMER.CHANNEL.TYPE
          required: false
          schema:
            type: string
        - description: >-
            A unique ID which identifies each API call and used to track and
            debug issues; use a random generated GUID for this ID
          in: header
          name: WM_QOS.CORRELATION_ID
          required: true
          schema:
            type: string
          example: b3261d2d-028a-4ef7-8602-633c23200af6
        - description: Walmart Service Name
          in: header
          name: WM_SVC.NAME
          required: true
          schema:
            type: string
          example: Walmart Service Name
        - description: The Epoch timestamp
          name: WM_SEC.TIMESTAMP
          in: header
          required: true
          schema:
            type: string
          example: '1443748249449'
        - description: >-
            The vendor's digital signature, generated by running the JAR file or
            custom generation code
          name: WM_SEC.AUTH_SIGNATURE
          in: header
          required: true
          schema:
            type: string
          example: 9fg3TPeRt0WSGbXNGGj4kSQ9L6PMBX.....9Zj5aDyg=
        - description: A unique ID required to access the API
          name: WM_CONSUMER.ID
          in: header
          required: true
          schema:
            type: string
          example: Get the Consumer ID from Developer Center after logging in
      requestBody:
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/FeedsCreateRichMediaFeedRequest'
            examples:
              xml1:
                value: >
                  <?xml version="1.0" encoding="UTF-8"?>

                  <RichMediaFeed xmlns="http://walmart.com/"
                  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                  xsi:schemaLocation="http://walmart.com/ RichMediaFeed.xsd ">
                      <RichMediaFeedHeader>
                          <version>2.1.2</version>
                          <requestId>requestId</requestId>
                          <requestBatchId>requestBatchId</requestBatchId>
                          <feedDate>2001-12-31T12:00:00</feedDate>
                          <mart>WALMART_US</mart>
                      </RichMediaFeedHeader>
                      <RichMedia>
                          <productIdentifiers>
                              <productIdentifier>
                                  <productIdType>UPC</productIdType>
                                  <productId>815812013182</productId>
                              </productIdentifier>
                          </productIdentifiers>
                          <Modules processMode="MERGE">
                              <view360 provider="">
                                  <html-content>html-content</html-content>
                              </view360>
                              <marketing-content provider="">
                                  <html-content>html-content</html-content>
                              </marketing-content>
                              <product-tour provider="">
                                  <html-content>html-content</html-content>
                              </product-tour>
                              <videos provider="">
                                  <video provider="">
                                      <title>title</title>
                                      <description>description</description>
                                      <language>en-US</language>
                                      <closed-caption>
                                          <url>url</url>
                                          <format>webvtt</format>
                                          <language>en-US</language>
                                      </closed-caption>
                                      <age-gate>0</age-gate>
                                      <source-mobile>
                                          <url>url</url>
                                          <width>720</width>
                                          <height>480</height>
                                          <format>mp4</format>
                                          <thumbnail>
                                              <url>url</url>
                                              <format>png</format>
                                              <width>120</width>
                                              <height>100</height>
                                          </thumbnail>
                                          <poster>
                                              <url>url</url>
                                              <format>jpg</format>
                                              <width>720</width>
                                              <height>480</height>
                                          </poster>
                                      </source-mobile>
                                      <sources>
                                          <source>
                                              <url>url</url>
                                              <width>720</width>
                                              <height>480</height>
                                              <format>mp4</format>
                                              <screen>mobile</screen>
                                              <thumbnail>
                                                  <url>url</url>
                                                  <format>png</format>
                                                  <width>120</width>
                                                  <height>100</height>
                                              </thumbnail>
                                              <poster>
                                                  <url>url</url>
                                                  <format>jpg</format>
                                                  <width>720</width>
                                                  <height>480</height>
                                              </poster>
                                          </source>
                                      </sources>
                                      <duration>0</duration>
                                      <likes>0</likes>
                                      <views>0</views>
                                      <tags>tags</tags>
                                  </video>
                              </videos>
                              <documents provider="">
                                  <document>
                                      <title>title</title>
                                      <url>url</url>
                                      <format>pdf</format>
                                      <pages>0</pages>
                                      <thumbnail>
                                          <url>url</url>
                                          <format>png</format>
                                          <width>120</width>
                                          <height>100</height>
                                      </thumbnail>
                                      <size>0</size>
                                  </document>
                              </documents>
                              <customer-review-videos provider="">
                                  <customer-review-video provider="">
                                      <title>title</title>
                                      <description>description</description>
                                      <language>en-US</language>
                                      <closed-caption>
                                          <url>url</url>
                                          <format>webvtt</format>
                                          <language>en-US</language>
                                      </closed-caption>
                                      <age-gate>0</age-gate>
                                      <source-computer>
                                          <url>url</url>
                                          <width>720</width>
                                          <height>480</height>
                                          <format>mp4</format>
                                          <thumbnail>
                                              <url>url</url>
                                              <format>png</format>
                                              <width>120</width>
                                              <height>100</height>
                                          </thumbnail>
                                          <poster>
                                              <url>url</url>
                                              <format>jpg</format>
                                              <width>720</width>
                                              <height>480</height>
                                          </poster>
                                      </source-computer>
                                      <sources>
                                          <source>
                                              <url>url</url>
                                              <width>720</width>
                                              <height>480</height>
                                              <format>mp4</format>
                                              <screen>mobile</screen>
                                              <thumbnail>
                                                  <url>url</url>
                                                  <format>png</format>
                                                  <width>120</width>
                                                  <height>100</height>
                                              </thumbnail>
                                              <poster>
                                                  <url>url</url>
                                                  <format>jpg</format>
                                                  <width>720</width>
                                                  <height>480</height>
                                              </poster>
                                          </source>
                                      </sources>
                                      <duration>0</duration>
                                      <likes>0</likes>
                                      <views>0</views>
                                      <tags>tags</tags>
                                  </customer-review-video>
                              </customer-review-videos>
                              <comparison-table provider="">
                                  <headline>
                                      <image>
                                          <title>title</title>
                                          <url>url</url>
                                          <height>0</height>
                                          <width>0</width>
                                          <format>png</format>
                                      </image>
                                  </headline>
                                  <feature-column>
                                      <sections>
                                          <section>
                                              <header>
                                                  <caption>caption</caption>
                                              </header>
                                              <feature>
                                                  <caption>caption</caption>
                                              </feature>
                                          </section>
                                      </sections>
                                  </feature-column>
                                  <product-columns>
                                      <product-column>
                                          <products-info>
                                              <product-info>
                                                  <title>title</title>
                                                  <thumbnail>
                                                      <url>url</url>
                                                      <format>png</format>
                                                      <width>120</width>
                                                      <height>120</height>
                                                  </thumbnail>
                                                  <productIdentifiers>
                                                      <productIdentifier>
                                                          <productIdType>UPC</productIdType>
                                                          <productId>productId</productId>
                                                      </productIdentifier>
                                                  </productIdentifiers>
                                              </product-info>
                                          </products-info>
                                          <value>value</value>
                                      </product-column>
                                  </product-columns>
                              </comparison-table>
                              <expert-reviews provider="">
                                  <expert-review provider="">
                                      <html-content>html-content</html-content>
                                  </expert-review>
                              </expert-reviews>
                              <misc-modules provider="">
                                  <misc-module>
                                      <attributeName>attributeName</attributeName>
                                      <attributeValue>attributeValue</attributeValue>
                                  </misc-module>
                              </misc-modules>
                          </Modules>
                          <additionalProductAttributes>
                              <NameValueAttribute>
                                  <name>name</name>
                                  <type>LOCALIZABLE_TEXT</type>
                                  <value>
                                      <value>value</value>
                                      <group>group</group>
                                      <rank>0</rank>
                                  </value>
                              </NameValueAttribute>
                          </additionalProductAttributes>
                      </RichMedia>
                  </RichMediaFeed>
        required: true
      responses:
        '200':
          description: Successful Operation
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/FeedsCreateRichMediaFeedResponse'
  /feeds:
    get:
      tags:
        - Feeds
      summary: Feed status
      operationId: Feeds_displayItemStatus
      description: >-
        You can display an item status for a specific feed ID. Use the feed ID
        returned from the upload an item feed API.
      parameters:
        - description: >-
            A unique ID returned from the Bulk Upload API, used for tracking the
            Feed File. Special characters must be escaped (e.g., feedId:
            '...3456@789...' must be entered in the URL as '...3456%40789).
          name: feedId
          in: query
          required: true
          schema:
            type: string
        - description: >-
            The object response to the starting number, where 0 is the first
            entity that can be requested.
          name: offset
          in: query
          required: false
          schema:
            type: string
            default: '0'
        - description: The number of entities to be returned. Maximum 20 entities.
          name: limit
          in: query
          required: false
          schema:
            type: string
            default: '20'
        - description: >-
            A unique ID to track the consumer request by channel. Use the
            Consumer Channel Type received during onboarding
          in: header
          name: WM_CONSUMER.CHANNEL.TYPE
          required: false
          schema:
            type: string
        - description: >-
            A unique ID which identifies each API call and used to track and
            debug issues; use a random generated GUID for this ID
          in: header
          name: WM_QOS.CORRELATION_ID
          required: true
          schema:
            type: string
          example: b3261d2d-028a-4ef7-8602-633c23200af6
        - description: Walmart Service Name
          in: header
          name: WM_SVC.NAME
          required: true
          schema:
            type: string
          example: Walmart Service Name
        - description: The Epoch timestamp
          name: WM_SEC.TIMESTAMP
          in: header
          required: true
          schema:
            type: string
          example: '1443748249449'
        - description: >-
            The vendor's digital signature, generated by running the JAR file or
            custom generation code
          name: WM_SEC.AUTH_SIGNATURE
          in: header
          required: true
          schema:
            type: string
          example: 9fg3TPeRt0WSGbXNGGj4kSQ9L6PMBX.....9Zj5aDyg=
        - description: A unique ID required to access the API
          name: WM_CONSUMER.ID
          in: header
          required: true
          schema:
            type: string
          example: Get the Consumer ID from Developer Center after logging in
      responses:
        '200':
          description: Successful Operation
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/FeedsDisplayItemStatusResponse'
              example: |-
                <?xml version="1.0" encoding="UTF-8"?>
                <ns2:list xmlns:ns2="http://walmart.com/">
                    <ns2:totalresults>1</ns2:totalresults>
                    <ns2:offset>0</ns2:offset>
                    <ns2:limit>50</ns2:limit>
                    <ns2:results>
                        <ns2:feed>
                            <ns2:feedid>039F4AEA0B3A4E1FBEF0A6403507B18C@AQQBAQA</ns2:feedid>
                            <ns2:feedtype>CONTENT_PRODUCT</ns2:feedtype>
                            <ns2:partnerid>721407</ns2:partnerid>
                            <ns2:itemsreceived>1</ns2:itemsreceived>
                            <ns2:itemssucceeded>1</ns2:itemssucceeded>
                            <ns2:itemsfailed>0</ns2:itemsfailed>
                            <ns2:itemsprocessing>0</ns2:itemsprocessing>
                            <ns2:feedstatus>PROCESSED</ns2:feedstatus>
                            <ns2:feeddate>2016-08-29T21:00:47.546Z</ns2:feeddate>
                            <ns2:batchid>b1234</ns2:batchid>
                            <ns2:modifieddtm>2016-08-29T21:01:17.099Z</ns2:modifieddtm>
                            <ns2:filename>V3_101_Electronics.xlsm</ns2:filename>
                            <ns2:itemdataerrorcount>0</ns2:itemdataerrorcount>
                            <ns2:itemsystemerrorcount>0</ns2:itemsystemerrorcount>
                            <ns2:itemtimeouterrorcount>0</ns2:itemtimeouterrorcount>
                        </ns2:feed>
                    </ns2:results>
                </ns2:list>
  /feeds/{feedId}:
    get:
      tags:
        - Feeds
      summary: Feed item status
      operationId: Feeds_getFeedStatus
      description: >-
        You can display the status of all items for a specific feed ID. Use the
        feed ID returned from the upload an item feed API.
      parameters:
        - description: >-
            A unique ID returned from the Bulk Upload API, used for tracking the
            Feed File. Special characters must be escaped (e.g., feedId:
            '...3456@789...' must be entered in the URL as '...3456%40789).
          name: feedId
          in: path
          required: true
          schema:
            type: string
        - description: >-
            Includes details of each entity in the feed. Do not set this
            parameter to true.
          name: includeDetails
          in: query
          required: false
          schema:
            type: string
            default: 'false'
        - description: >-
            The object response to the starting number, where 0 is the first
            entity that can be requested.
          name: offset
          in: query
          required: false
          schema:
            type: string
            default: '0'
        - description: The number of entities to be returned. Maximum 20 entities.
          name: limit
          in: query
          required: false
          schema:
            type: string
            default: '20'
        - description: >-
            A unique ID to track the consumer request by channel. Use the
            Consumer Channel Type received during onboarding
          in: header
          name: WM_CONSUMER.CHANNEL.TYPE
          required: false
          schema:
            type: string
        - description: >-
            A unique ID which identifies each API call and used to track and
            debug issues; use a random generated GUID for this ID
          in: header
          name: WM_QOS.CORRELATION_ID
          required: true
          schema:
            type: string
          example: b3261d2d-028a-4ef7-8602-633c23200af6
        - description: Walmart Service Name
          in: header
          name: WM_SVC.NAME
          required: true
          schema:
            type: string
          example: Walmart Service Name
        - description: The Epoch timestamp
          name: WM_SEC.TIMESTAMP
          in: header
          required: true
          schema:
            type: string
          example: '1443748249449'
        - description: >-
            The vendor's digital signature, generated by running the JAR file or
            custom generation code
          name: WM_SEC.AUTH_SIGNATURE
          in: header
          required: true
          schema:
            type: string
          example: 9fg3TPeRt0WSGbXNGGj4kSQ9L6PMBX.....9Zj5aDyg=
        - description: A unique ID required to access the API
          name: WM_CONSUMER.ID
          in: header
          required: true
          schema:
            type: string
          example: Get the Consumer ID from Developer Center after logging in
      responses:
        '200':
          description: Successful Operation
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/FeedsGetFeedStatusResponse'
              example: |-
                <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                <ns2:PartnerFeedResponse xmlns:ns2="http://walmart.com/">
                    <ns2:feedId>4BD182294ECD4398AEBF3A4FAEB1AE30@AQMBAAA</ns2:feedId>
                    <ns2:feedStatus>PROCESSED</ns2:feedStatus>
                    <ns2:ingestionErrors/>
                    <ns2:itemsReceived>3</ns2:itemsReceived>
                    <ns2:itemsSucceeded>3</ns2:itemsSucceeded>
                    <ns2:itemsFailed>0</ns2:itemsFailed>
                    <ns2:itemsProcessing>0</ns2:itemsProcessing>
                    <ns2:offset>0</ns2:offset>
                    <ns2:limit>50</ns2:limit>
                    <ns2:itemDetails>
                        <ns2:itemIngestionStatus>
                            <ns2:martId>0</ns2:martId>
                            <ns2:sku>Ikk3EoRhOVsL9kmWgM6y</ns2:sku>
                            <ns2:wpid>2SID2R8VLS5F</ns2:wpid>
                            <ns2:ingestionStatus>SUCCESS</ns2:ingestionStatus>
                            <ns2:ingestionErrors/>
                        </ns2:itemIngestionStatus>
                        <ns2:itemIngestionStatus>
                            <ns2:martId>0</ns2:martId>
                            <ns2:sku>pfszvVuJ8TWgz4nKLHst</ns2:sku>
                            <ns2:wpid>4NZ5M2JBIK2O</ns2:wpid>
                            <ns2:ingestionStatus>SUCCESS</ns2:ingestionStatus>
                            <ns2:ingestionErrors/>
                        </ns2:itemIngestionStatus>
                        <ns2:itemIngestionStatus>
                            <ns2:martId>0</ns2:martId>
                            <ns2:sku>JWEWrfXxN9WSEPuJ1usA</ns2:sku>
                            <ns2:wpid>5C1J547KN0UT</ns2:wpid>
                            <ns2:ingestionStatus>SUCCESS</ns2:ingestionStatus>
                            <ns2:ingestionErrors/>
                        </ns2:itemIngestionStatus>
                    </ns2:itemDetails>
                </ns2:PartnerFeedResponse>
components:
  parameters:
    authorization:
      description: >-
        Basic authorization header. Base 64 encodes the Client ID and Client
        Secret retrieved in step two of the integration steps.
      name: Authorization
      in: header
      required: true
      schema:
        type: string
      example: Basic YzcyOTFjNmItNzI5MC00....
    accessToken:
      description: The access token retrieved in the Token API call
      name: WM_SEC.ACCESS_TOKEN
      in: header
      required: true
      schema:
        type: string
      example: eyJraWQiOiIzZjVhYTFmNS1hYWE5LTQzM.....
    channelType:
      description: >-
        A unique ID to track the consumer request by channel. Use the Consumer
        Channel Type received during onboarding
      name: WM_CONSUMER.CHANNEL.TYPE
      in: header
      required: false
      schema:
        type: string
    correlationId:
      description: >-
        A unique ID which identifies each API call and used to track and debug
        issues; use a random generated GUID for this ID
      name: WM_QOS.CORRELATION_ID
      in: header
      required: true
      schema:
        type: string
      example: b3261d2d-028a-4ef7-8602-633c23200af6
    svcName:
      description: Walmart Service Name
      name: WM_SVC.NAME
      in: header
      required: true
      schema:
        type: string
      example: Walmart Service Name
    accept:
      description: 'Only supported Media Type : application/json'
      name: Accept
      in: header
      required: true
      schema:
        type: string
      example: application/json
    content-type:
      description: 'Only supported Media Type : application/json'
      name: Content-Type
      in: header
      required: true
      schema:
        type: string
      example: application/json
  schemas:
    FeedId:
      type: object
      properties:
        feedId:
          description: >-
            A unique ID, returned from the Bulk Upload API, used for tracking
            the feed file.
          type: string
    Cause:
      type: object
      properties:
        description:
          type: string
        code:
          type: string
        field:
          type: string
        type:
          type: string
      xml:
        name: Cause
    FeedRecord:
      description: Information about the individual feed
      type: object
      properties:
        feedId:
          description: A unique ID used for tracking the Feed File
          type: string
        feedSource:
          description: The source of the feed
          type: string
        feedType:
          description: The feed type
          type: string
        partnerId:
          description: The seller ID
          type: string
        itemsReceived:
          description: The number of items received
          type: integer
          format: int64
        itemsSucceeded:
          description: The number of items in the feed that have successfully processed
          type: integer
          format: int64
        itemsFailed:
          description: >-
            The number of items in the feed that failed due to a data or system
            error
          type: integer
          format: int64
        itemsProcessing:
          description: The number of items in the feed that are still in progress
          type: integer
          format: int64
        feedStatus:
          description: >-
            Can be one of the following: RECEIVED, INPROGRESS, PROCESSED, or
            ERROR. For details, see the definitions listed under 'Feed Statuses'
            at the beginning of this section.
          type: string
        feedDate:
          description: >-
            The date and time the feed was submitted. Format:
            yyyymmddThh:mm:ss.xxxz
          type: string
          format: date-time
        batchId:
          description: The batch ID for the feed, if provided
          type: string
        modifiedDtm:
          description: >-
            The most recent time the feed was modified. Format:
            yyyymmddThh:mm:ss.xxxz
          type: string
          format: date-time
      xml:
        name: feed
    FeedRecordResponse:
      type: object
      properties:
        errors:
          type: array
          xml:
            name: error
          items:
            required:
              - code
            type: object
            properties:
              info:
                type: string
              description:
                type: string
              code:
                type: string
              field:
                type: string
              severity:
                type: string
                enum:
                  - INFO
                  - WARN
                  - ERROR
              category:
                type: string
                enum:
                  - APPLICATION
                  - SYSTEM
                  - REQUEST
                  - DATA
              causes:
                type: array
                xml:
                  wrapped: true
                items:
                  type: object
                  properties:
                    description:
                      type: string
                    code:
                      type: string
                    field:
                      type: string
                    type:
                      type: string
                  xml:
                    name: Cause
              errorIdentifiers:
                type: object
                additionalProperties:
                  type: object
              component:
                type: string
              type:
                type: string
              serviceName:
                type: string
              gatewayErrorCategory:
                type: string
                enum:
                  - INTERNAL_DATA_ERROR
                  - EXTERNAL_DATA_ERROR
                  - SYSTEM_ERROR
            xml:
              name: GatewayError
        totalResults:
          description: Total number of feeds returned
          type: integer
          format: int64
        offset:
          description: >-
            The object response to the starting number, where 0 is the first
            available
          type: integer
          format: int64
        limit:
          description: The number of items to be returned
          type: integer
          format: int32
        results:
          type: array
          xml:
            wrapped: true
          items:
            description: Information about the individual feed
            type: object
            properties:
              feedId:
                description: A unique ID used for tracking the Feed File
                type: string
              feedSource:
                description: The source of the feed
                type: string
              feedType:
                description: The feed type
                type: string
              partnerId:
                description: The seller ID
                type: string
              itemsReceived:
                description: The number of items received
                type: integer
                format: int64
              itemsSucceeded:
                description: >-
                  The number of items in the feed that have successfully
                  processed
                type: integer
                format: int64
              itemsFailed:
                description: >-
                  The number of items in the feed that failed due to a data or
                  system error
                type: integer
                format: int64
              itemsProcessing:
                description: The number of items in the feed that are still in progress
                type: integer
                format: int64
              feedStatus:
                description: >-
                  Can be one of the following: RECEIVED, INPROGRESS, PROCESSED,
                  or ERROR. For details, see the definitions listed under 'Feed
                  Statuses' at the beginning of this section.
                type: string
              feedDate:
                description: >-
                  The date and time the feed was submitted. Format:
                  yyyymmddThh:mm:ss.xxxz
                type: string
                format: date-time
              batchId:
                description: The batch ID for the feed, if provided
                type: string
              modifiedDtm:
                description: >-
                  The most recent time the feed was modified. Format:
                  yyyymmddThh:mm:ss.xxxz
                type: string
                format: date-time
            xml:
              name: feed
      xml:
        name: list
    GatewayError:
      required:
        - code
      type: object
      properties:
        info:
          type: string
        description:
          type: string
        code:
          type: string
        field:
          type: string
        severity:
          type: string
          enum:
            - INFO
            - WARN
            - ERROR
        category:
          type: string
          enum:
            - APPLICATION
            - SYSTEM
            - REQUEST
            - DATA
        causes:
          type: array
          xml:
            wrapped: true
          items:
            type: object
            properties:
              description:
                type: string
              code:
                type: string
              field:
                type: string
              type:
                type: string
            xml:
              name: Cause
        errorIdentifiers:
          type: object
          additionalProperties:
            type: object
        component:
          type: string
        type:
          type: string
        serviceName:
          type: string
        gatewayErrorCategory:
          type: string
          enum:
            - INTERNAL_DATA_ERROR
            - EXTERNAL_DATA_ERROR
            - SYSTEM_ERROR
      xml:
        name: GatewayError
    IngestionError:
      required:
        - code
        - type
      type: object
      properties:
        description:
          description: Error description
          type: string
        type:
          description: Error Type
          type: string
          enum:
            - DATA_ERROR
            - SYSTEM_ERROR
            - TIMEOUT_ERROR
        code:
          description: Error code
          type: string
    IngestionErrors:
      description: List of errors for an item
      type: object
      properties:
        ingestionError:
          type: array
          items:
            required:
              - code
              - type
            type: object
            properties:
              description:
                description: Error description
                type: string
              type:
                description: Error Type
                type: string
                enum:
                  - DATA_ERROR
                  - SYSTEM_ERROR
                  - TIMEOUT_ERROR
              code:
                description: Error code
                type: string
    ItemDetails:
      description: List of ingestion status details for items in the feed
      type: object
      properties:
        itemIngestionStatus:
          description: The ingestion status of an individual item
          type: array
          items:
            description: The ingestion status of an individual item
            required:
              - ingestionStatus
            type: object
            properties:
              martId:
                description: Mart ID that a user or seller uses for a marketplace
                type: integer
                format: int32
              sku:
                description: >-
                  An arbitrary alphanumeric unique ID, seller-specified,
                  identifying each item.
                type: string
              wpid:
                description: An alphanumeric product ID, generated by Walmart
                type: string
              index:
                description: index of items in the feed
                type: integer
                format: int32
              ingestionStatus:
                description: >-
                  Can be one of the following: DATA_ERROR, SYSTEM_ERROR,
                  TIMEOUT_ERROR, or INPROGRESS
                type: string
                enum:
                  - INPROGRESS
                  - SUCCESS
                  - DATA_ERROR
                  - SYSTEM_ERROR
                  - TIMEOUT_ERROR
              ingestionErrors:
                description: List of errors for an item
                type: object
                properties:
                  ingestionError:
                    type: array
                    items:
                      required:
                        - code
                        - type
                      type: object
                      properties:
                        description:
                          description: Error description
                          type: string
                        type:
                          description: Error Type
                          type: string
                          enum:
                            - DATA_ERROR
                            - SYSTEM_ERROR
                            - TIMEOUT_ERROR
                        code:
                          description: Error code
                          type: string
    PartnerFeedResponse:
      type: object
      properties:
        errors:
          type: array
          xml:
            name: error
          items:
            required:
              - code
            type: object
            properties:
              info:
                type: string
              description:
                type: string
              code:
                type: string
              field:
                type: string
              severity:
                type: string
                enum:
                  - INFO
                  - WARN
                  - ERROR
              category:
                type: string
                enum:
                  - APPLICATION
                  - SYSTEM
                  - REQUEST
                  - DATA
              causes:
                type: array
                xml:
                  wrapped: true
                items:
                  type: object
                  properties:
                    description:
                      type: string
                    code:
                      type: string
                    field:
                      type: string
                    type:
                      type: string
                  xml:
                    name: Cause
              errorIdentifiers:
                type: object
                additionalProperties:
                  type: object
              component:
                type: string
              type:
                type: string
              serviceName:
                type: string
              gatewayErrorCategory:
                type: string
                enum:
                  - INTERNAL_DATA_ERROR
                  - EXTERNAL_DATA_ERROR
                  - SYSTEM_ERROR
            xml:
              name: GatewayError
        feedId:
          description: A unique ID used for tracking the Feed File
          type: string
        feedStatus:
          description: >-
            Can be one of the following: RECEIVED, INPROGRESS, PROCESSED, or
            ERROR
          type: string
          enum:
            - RECEIVED
            - INPROGRESS
            - PROCESSED
            - ERROR
        ingestionErrors:
          description: List of errors for an item
          type: object
          properties:
            ingestionError:
              type: array
              items:
                required:
                  - code
                  - type
                type: object
                properties:
                  description:
                    description: Error description
                    type: string
                  type:
                    description: Error Type
                    type: string
                    enum:
                      - DATA_ERROR
                      - SYSTEM_ERROR
                      - TIMEOUT_ERROR
                  code:
                    description: Error code
                    type: string
        itemsReceived:
          description: The number of items received in the feed
          type: integer
          format: int32
        itemsSucceeded:
          description: The number of items in the feed that processed successfully
          type: integer
          format: int32
        itemsFailed:
          description: >-
            The number of items in the feed that failed due to a data or system
            error
          type: integer
          format: int32
        itemsProcessing:
          description: The number of items in the feed that are still processing
          type: integer
          format: int32
        offset:
          description: >-
            The object response to the starting number, where 0 is the first
            entity available for request
          type: integer
          format: int32
        limit:
          description: The number of items returned. Cannot be greater than 1000.
          type: integer
          format: int32
        itemDetails:
          description: List of ingestion status details for items in the feed
          type: object
          properties:
            itemIngestionStatus:
              description: The ingestion status of an individual item
              type: array
              items:
                description: The ingestion status of an individual item
                required:
                  - ingestionStatus
                type: object
                properties:
                  martId:
                    description: Mart ID that a user or seller uses for a marketplace
                    type: integer
                    format: int32
                  sku:
                    description: >-
                      An arbitrary alphanumeric unique ID, seller-specified,
                      identifying each item.
                    type: string
                  wpid:
                    description: An alphanumeric product ID, generated by Walmart
                    type: string
                  index:
                    description: index of items in the feed
                    type: integer
                    format: int32
                  ingestionStatus:
                    description: >-
                      Can be one of the following: DATA_ERROR, SYSTEM_ERROR,
                      TIMEOUT_ERROR, or INPROGRESS
                    type: string
                    enum:
                      - INPROGRESS
                      - SUCCESS
                      - DATA_ERROR
                      - SYSTEM_ERROR
                      - TIMEOUT_ERROR
                  ingestionErrors:
                    description: List of errors for an item
                    type: object
                    properties:
                      ingestionError:
                        type: array
                        items:
                          required:
                            - code
                            - type
                          type: object
                          properties:
                            description:
                              description: Error description
                              type: string
                            type:
                              description: Error Type
                              type: string
                              enum:
                                - DATA_ERROR
                                - SYSTEM_ERROR
                                - TIMEOUT_ERROR
                            code:
                              description: Error code
                              type: string
      xml:
        name: PartnerFeedResponse
    PartnerItemIngestionStatus:
      description: The ingestion status of an individual item
      required:
        - ingestionStatus
      type: object
      properties:
        martId:
          description: Mart ID that a user or seller uses for a marketplace
          type: integer
          format: int32
        sku:
          description: >-
            An arbitrary alphanumeric unique ID, seller-specified, identifying
            each item.
          type: string
        wpid:
          description: An alphanumeric product ID, generated by Walmart
          type: string
        index:
          description: index of items in the feed
          type: integer
          format: int32
        ingestionStatus:
          description: >-
            Can be one of the following: DATA_ERROR, SYSTEM_ERROR,
            TIMEOUT_ERROR, or INPROGRESS
          type: string
          enum:
            - INPROGRESS
            - SUCCESS
            - DATA_ERROR
            - SYSTEM_ERROR
            - TIMEOUT_ERROR
        ingestionErrors:
          description: List of errors for an item
          type: object
          properties:
            ingestionError:
              type: array
              items:
                required:
                  - code
                  - type
                type: object
                properties:
                  description:
                    description: Error description
                    type: string
                  type:
                    description: Error Type
                    type: string
                    enum:
                      - DATA_ERROR
                      - SYSTEM_ERROR
                      - TIMEOUT_ERROR
                  code:
                    description: Error code
                    type: string
    FeedsCreateContentFeedRequest:
      required:
        - file
      type: object
      properties:
        file:
          description: Feed file to upload
          type: string
          format: binary
    FeedsCreateRichMediaFeedRequest:
      type: string
    FeedsCreateContentFeedResponse:
      type: object
      properties:
        feedId:
          description: >-
            A unique ID, returned from the Bulk Upload API, used for tracking
            the feed file.
          type: string
    FeedsCreateRichMediaFeedResponse:
      type: object
      properties:
        feedId:
          description: >-
            A unique ID, returned from the Bulk Upload API, used for tracking
            the feed file.
          type: string
    FeedsDisplayItemStatusResponse:
      type: object
      properties:
        errors:
          type: array
          xml:
            name: error
          items:
            required:
              - code
            type: object
            properties:
              info:
                type: string
              description:
                type: string
              code:
                type: string
              field:
                type: string
              severity:
                type: string
                enum:
                  - INFO
                  - WARN
                  - ERROR
              category:
                type: string
                enum:
                  - APPLICATION
                  - SYSTEM
                  - REQUEST
                  - DATA
              causes:
                type: array
                xml:
                  wrapped: true
                items:
                  type: object
                  properties:
                    description:
                      type: string
                    code:
                      type: string
                    field:
                      type: string
                    type:
                      type: string
                  xml:
                    name: Cause
              errorIdentifiers:
                type: object
                additionalProperties:
                  type: object
              component:
                type: string
              type:
                type: string
              serviceName:
                type: string
              gatewayErrorCategory:
                type: string
                enum:
                  - INTERNAL_DATA_ERROR
                  - EXTERNAL_DATA_ERROR
                  - SYSTEM_ERROR
            xml:
              name: GatewayError
        totalResults:
          description: Total number of feeds returned
          type: integer
          format: int64
        offset:
          description: >-
            The object response to the starting number, where 0 is the first
            available
          type: integer
          format: int64
        limit:
          description: The number of items to be returned
          type: integer
          format: int32
        results:
          type: array
          xml:
            wrapped: true
          items:
            description: Information about the individual feed
            type: object
            properties:
              feedId:
                description: A unique ID used for tracking the Feed File
                type: string
              feedSource:
                description: The source of the feed
                type: string
              feedType:
                description: The feed type
                type: string
              partnerId:
                description: The seller ID
                type: string
              itemsReceived:
                description: The number of items received
                type: integer
                format: int64
              itemsSucceeded:
                description: >-
                  The number of items in the feed that have successfully
                  processed
                type: integer
                format: int64
              itemsFailed:
                description: >-
                  The number of items in the feed that failed due to a data or
                  system error
                type: integer
                format: int64
              itemsProcessing:
                description: The number of items in the feed that are still in progress
                type: integer
                format: int64
              feedStatus:
                description: >-
                  Can be one of the following: RECEIVED, INPROGRESS, PROCESSED,
                  or ERROR. For details, see the definitions listed under 'Feed
                  Statuses' at the beginning of this section.
                type: string
              feedDate:
                description: >-
                  The date and time the feed was submitted. Format:
                  yyyymmddThh:mm:ss.xxxz
                type: string
                format: date-time
              batchId:
                description: The batch ID for the feed, if provided
                type: string
              modifiedDtm:
                description: >-
                  The most recent time the feed was modified. Format:
                  yyyymmddThh:mm:ss.xxxz
                type: string
                format: date-time
            xml:
              name: feed
      xml:
        name: list
    FeedsGetFeedStatusResponse:
      type: object
      properties:
        errors:
          type: array
          xml:
            name: error
          items:
            required:
              - code
            type: object
            properties:
              info:
                type: string
              description:
                type: string
              code:
                type: string
              field:
                type: string
              severity:
                type: string
                enum:
                  - INFO
                  - WARN
                  - ERROR
              category:
                type: string
                enum:
                  - APPLICATION
                  - SYSTEM
                  - REQUEST
                  - DATA
              causes:
                type: array
                xml:
                  wrapped: true
                items:
                  type: object
                  properties:
                    description:
                      type: string
                    code:
                      type: string
                    field:
                      type: string
                    type:
                      type: string
                  xml:
                    name: Cause
              errorIdentifiers:
                type: object
                additionalProperties:
                  type: object
              component:
                type: string
              type:
                type: string
              serviceName:
                type: string
              gatewayErrorCategory:
                type: string
                enum:
                  - INTERNAL_DATA_ERROR
                  - EXTERNAL_DATA_ERROR
                  - SYSTEM_ERROR
            xml:
              name: GatewayError
        feedId:
          description: A unique ID used for tracking the Feed File
          type: string
        feedStatus:
          description: >-
            Can be one of the following: RECEIVED, INPROGRESS, PROCESSED, or
            ERROR
          type: string
          enum:
            - RECEIVED
            - INPROGRESS
            - PROCESSED
            - ERROR
        ingestionErrors:
          description: List of errors for an item
          type: object
          properties:
            ingestionError:
              type: array
              items:
                required:
                  - code
                  - type
                type: object
                properties:
                  description:
                    description: Error description
                    type: string
                  type:
                    description: Error Type
                    type: string
                    enum:
                      - DATA_ERROR
                      - SYSTEM_ERROR
                      - TIMEOUT_ERROR
                  code:
                    description: Error code
                    type: string
        itemsReceived:
          description: The number of items received in the feed
          type: integer
          format: int32
        itemsSucceeded:
          description: The number of items in the feed that processed successfully
          type: integer
          format: int32
        itemsFailed:
          description: >-
            The number of items in the feed that failed due to a data or system
            error
          type: integer
          format: int32
        itemsProcessing:
          description: The number of items in the feed that are still processing
          type: integer
          format: int32
        offset:
          description: >-
            The object response to the starting number, where 0 is the first
            entity available for request
          type: integer
          format: int32
        limit:
          description: The number of items returned. Cannot be greater than 1000.
          type: integer
          format: int32
        itemDetails:
          description: List of ingestion status details for items in the feed
          type: object
          properties:
            itemIngestionStatus:
              description: The ingestion status of an individual item
              type: array
              items:
                description: The ingestion status of an individual item
                required:
                  - ingestionStatus
                type: object
                properties:
                  martId:
                    description: Mart ID that a user or seller uses for a marketplace
                    type: integer
                    format: int32
                  sku:
                    description: >-
                      An arbitrary alphanumeric unique ID, seller-specified,
                      identifying each item.
                    type: string
                  wpid:
                    description: An alphanumeric product ID, generated by Walmart
                    type: string
                  index:
                    description: index of items in the feed
                    type: integer
                    format: int32
                  ingestionStatus:
                    description: >-
                      Can be one of the following: DATA_ERROR, SYSTEM_ERROR,
                      TIMEOUT_ERROR, or INPROGRESS
                    type: string
                    enum:
                      - INPROGRESS
                      - SUCCESS
                      - DATA_ERROR
                      - SYSTEM_ERROR
                      - TIMEOUT_ERROR
                  ingestionErrors:
                    description: List of errors for an item
                    type: object
                    properties:
                      ingestionError:
                        type: array
                        items:
                          required:
                            - code
                            - type
                          type: object
                          properties:
                            description:
                              description: Error description
                              type: string
                            type:
                              description: Error Type
                              type: string
                              enum:
                                - DATA_ERROR
                                - SYSTEM_ERROR
                                - TIMEOUT_ERROR
                            code:
                              description: Error code
                              type: string
      xml:
        name: PartnerFeedResponse
  securitySchemes:
    clientId:
      type: apiKey
      in: header
      name: clientId
    privateKey:
      type: apiKey
      in: header
      name: privateKey
security:
  - clientId: []
    privateKey: []
