openapi: 3.0.1
info:
  title: Wink API
  description: >-
    ## APIs

    Not every integrator needs every APIs. For that reason, we have separated
    APIs into context.


    - [Affiliate](https://api.wink.travel): All APIs related to selling travel
    inventory as an affiliate.

    - [Analytics](https://api.wink.travel): All APIs related to tracking metrics
    across a wide variety of data source segments including, more entertaining,
    leaderboard metrics.

    - [Booking](https://api.wink.travel): All APIs related to creating platform
    bookings.

    - [Channel Manager](https://api.wink.travel): All APIs related to channel
    managers who want to integrate with our platform.

    - [Extranet](https://api.wink.travel): All APIs related to managing travel
    inventory and suppliers.

    - [Inventory](https://api.wink.travel): All APIs related to retrieve known
    travel inventory as it was found using the Lookup API..

    - [Lookup](https://api.wink.travel): All APIs related to locating inventory
    by region, locale and property flags.

    - [Reference](https://api.wink.travel): All APIs related to retrieving
    platform-supported taxonomies.

    - [TripPay](https://api.wink.travel): All APIs related to TripPay account
    management, booking, mapping and integration features.


    ## SDKs

    We are actively working on supporting the most used languages out there. If
    you don't see your language here, reach out to us with a request to
    officially add your language. In the meantime, if you want to roll your own
    SDK, you can do so by downloading the OpenAPI spec and using one of the many
    available OpenAPI generators available:
    [https://openapi-generator.tech/docs/generators](https://openapi-generator.tech/docs/generators).


    - Java SDK
    [https://github.com/wink-travel/wink-sdk-java](https://github.com/wink-travel/wink-sdk-java)


    ## Usage

    These features are made available to you via a [REST
    API](https://en.wikipedia.org/wiki/Representational_state_transfer). This
    API is language agnostic.


    ## Versioning

    We chose to version our endpoints in a way that we hope affects your
    integration with us the least. You request the version of our API you wish
    to work with via the `Wink-Version` header. When it's time for you to
    upgrade, you only have to change the version number to get access to our
    updated endpoints.


    ## Release history

    - 2022-10-15: v2.0 - Removed HATEOAS and added Wink-Version header

    - 2022-05-08: v1 - Exposed channel manager API

    - 2021-07-01: v1 - Initial release


    # Affiliate API

    Welcome to the Affiliate API - A programmer-friendly way to search for and
    display bespoke travel inventory for your audience. Use this API to help you
    prepare travel inventory for sale.


    # Intended Audience

    Programmers are a requirement to start integrating with wink. You will
    benefit from an API integration if you are new or existing travel related
    company that want easy access to great inventory.## Examples:

    - Hotel brands / chains that want to make their own booking engine

    - Travel tech companies that want to create the next hot mobile travel app

    - Destination sites that want to make their own booking engine

    - Bloggers and influencers who want to sell travel inventory to their
    audience

    - OTAs that want access direct relationships with suppliers and better
    quality hotel inventory
  version: 29.54.1
  contact:
    name: Bjorn Harvold
    email: bjorn@wink.travel
  x-logo:
    backgroundColor: '#FFFFFF'
    altText: wink
    url: >-
      https://res.cloudinary.com/traveliko/image/upload/c_scale,h_129/v1653285543/wink/logo_text_white.svg
  x-konfig-ignore:
    object-with-no-properties: true
    potential-incorrect-type: true
servers:
  - description: Production endpoint
    url: https://api.wink.travel
  - description: Sandbox endpoint
    url: https://staging-api.wink.travel
  - description: Developer endpoint
    url: https://dev-api.wink.travel
tags:
  - description: >-
      Grids are made up of 3 categories of lists: 


      - Cured lists

      - Saved searches

      - Ranked lists


      The way to display these lists through our Web Components is by creating
      and configuring lists.
    name: Inventory Grids
  - description: Manage curated list entries and categories for your various Wink accounts.
    name: Syndication Entry Publisher
  - description: >-
      Before you can sell travel inventory, you need to find it. Discover travel
      inventory that fits your niche and your audience.
    name: Discover
  - description: >-
      Configure and manage maps, map data and overlays that you wish to display
      to your users.
    name: Maps
  - description: Manage companies.
    name: Company
  - description: >-
      Card inventory is a single travel inventory record a seller has configured
      and made available for sale.
    name: Inventory Cards
  - description: >-
      Links are the simplest form of travel inventory and can be shared
      everywhere and contains OpenGraph metadata. The same links can also be
      used with our ad banner Web Component.
    name: Shareable Links
  - description: >-
      Use the Application API to create applications to interface with the
      TripPay API.
    name: Application
  - description: >-
      Manage configuration templates you can assign to our Web Components such
      as look-and-feel, integrations with 3rd parties and more.
    name: Customization
  - description: >-
      Supplier links are a direct link to supplier homepage that also includes
      OpenGraph friendly metadata.
    name: Supplier Links
  - description: Track bookings for a company.
    name: Bookings
  - description: Allows suppliers to browse for suppliers to connect with
    name: Supplier
  - description: >-
      Account relationships are initiated by either affiliate or company and
      allows for companys to give sales channel specific pricing to affiliates
      on an individual basis.
    name: Hotel Relationship Requests
  - description: Notifications API
    name: Notification
  - description: Retrieve past and upcoming invoices for company.
    name: Invoice
  - description: Displays relationships between affiliates and suppliers.
    name: Sales channel
  - description: Simple GET request to show that your configuration works.
    name: Test
  - description: Suppliers and inventory by category.
    name: Search Categories
  - description: >-
      Affiliates can connect with suppliers that are not yet in the system by
      creating leads. We will reach out to those suppliers and ask them to join
      and make it easy for them by pre-creating their profile.
    name: Affiliate Lead
  - description: Campaign API
    name: Campaign
paths:
  /api/company/{companyIdentifier}/supplier-url/{supplierUrlIdentifier}:
    get:
      tags:
        - Supplier Links
      summary: Show Link
      operationId: SupplierLinks_getShareableUrl
      security:
        - oauth2ClientCredentials: []
      description: Retrieve a specific shareable url for this seller
      parameters:
        - description: Show link owned by this owner identifier.
          name: companyIdentifier
          in: path
          required: true
          schema:
            type: string
          example: owner-1
        - description: Show link with this identifier.
          name: supplierUrlIdentifier
          in: path
          required: true
          schema:
            type: string
          example: owner-1
        - name: Wink-Version
          in: header
          schema:
            type: string
            enum:
              - '2.0'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupplierUrlView_Affiliate'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupplierLinksGetShareableUrlResponse'
            '*/*':
              schema:
                $ref: '#/components/schemas/SupplierLinksGetShareableUrl400Response1'
            application/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/plain:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            application/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/plain:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '415':
          description: Unsupported Media Type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupplierLinksGetShareableUrl415Response'
            application/xml:
              schema:
                $ref: '#/components/schemas/SupplierLinksGetShareableUrl415Response'
            text/xml:
              schema:
                $ref: '#/components/schemas/SupplierLinksGetShareableUrl415Response'
            text/plain:
              schema:
                $ref: '#/components/schemas/SupplierLinksGetShareableUrl415Response'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            application/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/plain:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SupplierLinksGetShareableUrl503Response'
    put:
      tags:
        - Supplier Links
      summary: Update link
      operationId: SupplierLinks_modifyUrlLink
      security:
        - oauth2ClientCredentials: []
      description: Modify a shareable link
      parameters:
        - description: Update link owned by this owner identifier.
          name: companyIdentifier
          in: path
          required: true
          schema:
            type: string
          example: owner-1
        - description: Update url with this identifier.
          name: supplierUrlIdentifier
          in: path
          required: true
          schema:
            type: string
          example: seller-url-1
        - name: Wink-Version
          in: header
          schema:
            type: string
            enum:
              - '2.0'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertSupplierUrlRequest_Affiliate'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupplierUrlView_Affiliate'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupplierLinksModifyUrlLinkResponse'
            '*/*':
              schema:
                $ref: '#/components/schemas/SupplierLinksModifyUrlLink400Response1'
            application/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/plain:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            application/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/plain:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '415':
          description: Unsupported Media Type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupplierLinksModifyUrlLink415Response'
            application/xml:
              schema:
                $ref: '#/components/schemas/SupplierLinksModifyUrlLink415Response'
            text/xml:
              schema:
                $ref: '#/components/schemas/SupplierLinksModifyUrlLink415Response'
            text/plain:
              schema:
                $ref: '#/components/schemas/SupplierLinksModifyUrlLink415Response'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            application/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/plain:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SupplierLinksModifyUrlLink503Response'
    delete:
      tags:
        - Supplier Links
      summary: Delete Link
      operationId: SupplierLinks_deleteLink
      security:
        - oauth2ClientCredentials: []
      description: Delete a shareable link
      parameters:
        - description: Remove link owned by this owner identifier.
          name: companyIdentifier
          in: path
          required: true
          schema:
            type: string
          example: owner-1
        - description: Remove url with this identifier.
          name: supplierUrlIdentifier
          in: path
          required: true
          schema:
            type: string
          example: seller-url-1
        - name: Wink-Version
          in: header
          schema:
            type: string
            enum:
              - '2.0'
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoveEntryResponse_Affiliate'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupplierLinksDeleteLinkResponse'
            '*/*':
              schema:
                $ref: '#/components/schemas/SupplierLinksDeleteLink400Response1'
            application/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/plain:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            application/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/plain:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '415':
          description: Unsupported Media Type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupplierLinksDeleteLink415Response'
            application/xml:
              schema:
                $ref: '#/components/schemas/SupplierLinksDeleteLink415Response'
            text/xml:
              schema:
                $ref: '#/components/schemas/SupplierLinksDeleteLink415Response'
            text/plain:
              schema:
                $ref: '#/components/schemas/SupplierLinksDeleteLink415Response'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            application/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/plain:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SupplierLinksDeleteLink503Response'
  /api/company/{companyIdentifier}/static/list/{listIdentifier}:
    put:
      tags:
        - Inventory Grids
      summary: Update Curated List
      operationId: InventoryGrids_updateCuratedListByIdentifier
      security:
        - oauth2ClientCredentials: []
      description: Update curated list by its unique identifier
      parameters:
        - description: Update curated list owned by this owner identifier.
          name: companyIdentifier
          in: path
          required: true
          schema:
            type: string
          example: owner-1
        - description: List identifier.
          name: listIdentifier
          in: path
          required: true
          schema:
            type: string
          example: list-1
        - name: Wink-Version
          in: header
          schema:
            type: string
            enum:
              - '2.0'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StaticSellerList_Affiliate'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StaticSellerListWrapper_Affiliate'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/InventoryGridsUpdateCuratedListByIdentifierResponse
            '*/*':
              schema:
                $ref: >-
                  #/components/schemas/InventoryGridsUpdateCuratedListByIdentifier400Response1
            application/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/plain:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            application/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/plain:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '415':
          description: Unsupported Media Type
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/InventoryGridsUpdateCuratedListByIdentifier415Response
            application/xml:
              schema:
                $ref: >-
                  #/components/schemas/InventoryGridsUpdateCuratedListByIdentifier415Response
            text/xml:
              schema:
                $ref: >-
                  #/components/schemas/InventoryGridsUpdateCuratedListByIdentifier415Response
            text/plain:
              schema:
                $ref: >-
                  #/components/schemas/InventoryGridsUpdateCuratedListByIdentifier415Response
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            application/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/plain:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: >-
                  #/components/schemas/InventoryGridsUpdateCuratedListByIdentifier503Response
    delete:
      tags:
        - Inventory Grids
      summary: Remove Curated List
      operationId: InventoryGrids_removeCuratedList
      security:
        - oauth2ClientCredentials: []
      description: Remove curated list by list identifier
      parameters:
        - description: Remove curated list owned by this owner identifier.
          name: companyIdentifier
          in: path
          required: true
          schema:
            type: string
          example: owner-1
        - description: List identifier.
          name: listIdentifier
          in: path
          required: true
          schema:
            type: string
          example: list-1
        - name: Wink-Version
          in: header
          schema:
            type: string
            enum:
              - '2.0'
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoveEntryResponse_Affiliate'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryGridsRemoveCuratedListResponse'
            '*/*':
              schema:
                $ref: >-
                  #/components/schemas/InventoryGridsRemoveCuratedList400Response1
            application/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/plain:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            application/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/plain:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '415':
          description: Unsupported Media Type
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/InventoryGridsRemoveCuratedList415Response
            application/xml:
              schema:
                $ref: >-
                  #/components/schemas/InventoryGridsRemoveCuratedList415Response
            text/xml:
              schema:
                $ref: >-
                  #/components/schemas/InventoryGridsRemoveCuratedList415Response
            text/plain:
              schema:
                $ref: >-
                  #/components/schemas/InventoryGridsRemoveCuratedList415Response
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            application/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/plain:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: >-
                  #/components/schemas/InventoryGridsRemoveCuratedList503Response
  /api/company/{companyIdentifier}/static/list/{listIdentifier}/item/{itemIdentifier}:
    put:
      tags:
        - Inventory Grids
      summary: Move List Item
      operationId: InventoryGrids_moveListItem
      security:
        - oauth2ClientCredentials: []
      description: Move an existing list item from one list to another.
      parameters:
        - description: Move inventory to curated list owned by this owner identifier.
          name: companyIdentifier
          in: path
          required: true
          schema:
            type: string
          example: owner-1
        - description: List identifier.
          name: listIdentifier
          in: path
          required: true
          schema:
            type: string
          example: list-1
        - description: Item identifier.
          name: itemIdentifier
          in: path
          required: true
          schema:
            type: string
          example: item-1
        - name: Wink-Version
          in: header
          schema:
            type: string
            enum:
              - '2.0'
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/CopyMoveStaticSellerListItemRequest_Affiliate
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StaticSellerListItemView_Affiliate'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryGridsMoveListItemResponse'
            '*/*':
              schema:
                $ref: '#/components/schemas/InventoryGridsMoveListItem400Response1'
            application/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/plain:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            application/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/plain:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '415':
          description: Unsupported Media Type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryGridsMoveListItem415Response'
            application/xml:
              schema:
                $ref: '#/components/schemas/InventoryGridsMoveListItem415Response'
            text/xml:
              schema:
                $ref: '#/components/schemas/InventoryGridsMoveListItem415Response'
            text/plain:
              schema:
                $ref: '#/components/schemas/InventoryGridsMoveListItem415Response'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            application/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/plain:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InventoryGridsMoveListItem503Response'
    post:
      tags:
        - Inventory Grids
      summary: Copy Item to List
      operationId: InventoryGrids_copyItemToList
      security:
        - oauth2ClientCredentials: []
      description: Copy an existing list item from one list to another.
      parameters:
        - description: Copy inventory to curated list owned by this owner identifier.
          name: companyIdentifier
          in: path
          required: true
          schema:
            type: string
          example: owner-1
        - description: List identifier.
          name: listIdentifier
          in: path
          required: true
          schema:
            type: string
          example: list-1
        - description: Item identifier.
          name: itemIdentifier
          in: path
          required: true
          schema:
            type: string
          example: item-1
        - name: Wink-Version
          in: header
          schema:
            type: string
            enum:
              - '2.0'
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/CopyMoveStaticSellerListItemRequest_Affiliate
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StaticSellerListItemView_Affiliate'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryGridsCopyItemToListResponse'
            '*/*':
              schema:
                $ref: '#/components/schemas/InventoryGridsCopyItemToList400Response1'
            application/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/plain:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            application/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/plain:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '415':
          description: Unsupported Media Type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryGridsCopyItemToList415Response'
            application/xml:
              schema:
                $ref: '#/components/schemas/InventoryGridsCopyItemToList415Response'
            text/xml:
              schema:
                $ref: '#/components/schemas/InventoryGridsCopyItemToList415Response'
            text/plain:
              schema:
                $ref: '#/components/schemas/InventoryGridsCopyItemToList415Response'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            application/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/plain:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InventoryGridsCopyItemToList503Response'
    delete:
      tags:
        - Inventory Grids
      summary: Delete List Item
      operationId: InventoryGrids_deleteListItemByIdentifier
      security:
        - oauth2ClientCredentials: []
      description: Delete a list item from a curated list by its unique identifier
      parameters:
        - description: Remove inventory from curated list owned by this owner identifier.
          name: companyIdentifier
          in: path
          required: true
          schema:
            type: string
          example: owner-1
        - description: List identifier.
          name: listIdentifier
          in: path
          required: true
          schema:
            type: string
          example: list-1
        - description: Item identifier.
          name: itemIdentifier
          in: path
          required: true
          schema:
            type: string
          example: item-1
        - name: Wink-Version
          in: header
          schema:
            type: string
            enum:
              - '2.0'
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoveEntryResponse_Affiliate'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/InventoryGridsDeleteListItemByIdentifierResponse
            '*/*':
              schema:
                $ref: >-
                  #/components/schemas/InventoryGridsDeleteListItemByIdentifier400Response1
            application/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/plain:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            application/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/plain:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '415':
          description: Unsupported Media Type
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/InventoryGridsDeleteListItemByIdentifier415Response
            application/xml:
              schema:
                $ref: >-
                  #/components/schemas/InventoryGridsDeleteListItemByIdentifier415Response
            text/xml:
              schema:
                $ref: >-
                  #/components/schemas/InventoryGridsDeleteListItemByIdentifier415Response
            text/plain:
              schema:
                $ref: >-
                  #/components/schemas/InventoryGridsDeleteListItemByIdentifier415Response
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            application/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/plain:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: >-
                  #/components/schemas/InventoryGridsDeleteListItemByIdentifier503Response
  /api/company/{companyIdentifier}/seller-url/{sellerUrlIdentifier}:
    get:
      tags:
        - Shareable Links
      summary: Show Link
      operationId: ShareableLinks_getSpecificUrl
      security:
        - oauth2ClientCredentials: []
      description: Retrieve a specific shareable url for this seller
      parameters:
        - description: Show link owned by this owner identifier.
          name: companyIdentifier
          in: path
          required: true
          schema:
            type: string
          example: owner-1
        - description: Show link with this identifier.
          name: sellerUrlIdentifier
          in: path
          required: true
          schema:
            type: string
          example: owner-1
        - name: Wink-Version
          in: header
          schema:
            type: string
            enum:
              - '2.0'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SellerUrlView_Affiliate'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShareableLinksGetSpecificUrlResponse'
            '*/*':
              schema:
                $ref: '#/components/schemas/ShareableLinksGetSpecificUrl400Response1'
            application/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/plain:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            application/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/plain:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '415':
          description: Unsupported Media Type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShareableLinksGetSpecificUrl415Response'
            application/xml:
              schema:
                $ref: '#/components/schemas/ShareableLinksGetSpecificUrl415Response'
            text/xml:
              schema:
                $ref: '#/components/schemas/ShareableLinksGetSpecificUrl415Response'
            text/plain:
              schema:
                $ref: '#/components/schemas/ShareableLinksGetSpecificUrl415Response'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            application/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/plain:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ShareableLinksGetSpecificUrl503Response'
    put:
      tags:
        - Shareable Links
      summary: Update link
      operationId: ShareableLinks_modifyLink
      security:
        - oauth2ClientCredentials: []
      description: Modify a shareable link
      parameters:
        - description: Update link owned by this owner identifier.
          name: companyIdentifier
          in: path
          required: true
          schema:
            type: string
          example: owner-1
        - description: Update url with this identifier.
          name: sellerUrlIdentifier
          in: path
          required: true
          schema:
            type: string
          example: seller-url-1
        - name: Wink-Version
          in: header
          schema:
            type: string
            enum:
              - '2.0'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertSellerUrlRequest_Affiliate'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SellerUrlView_Affiliate'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShareableLinksModifyLinkResponse'
            '*/*':
              schema:
                $ref: '#/components/schemas/ShareableLinksModifyLink400Response1'
            application/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/plain:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            application/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/plain:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '415':
          description: Unsupported Media Type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShareableLinksModifyLink415Response'
            application/xml:
              schema:
                $ref: '#/components/schemas/ShareableLinksModifyLink415Response'
            text/xml:
              schema:
                $ref: '#/components/schemas/ShareableLinksModifyLink415Response'
            text/plain:
              schema:
                $ref: '#/components/schemas/ShareableLinksModifyLink415Response'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            application/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/plain:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ShareableLinksModifyLink503Response'
    delete:
      tags:
        - Shareable Links
      summary: Delete Link
      operationId: ShareableLinks_deleteLink
      security:
        - oauth2ClientCredentials: []
      description: Delete a shareable link
      parameters:
        - description: Remove link owned by this owner identifier.
          name: companyIdentifier
          in: path
          required: true
          schema:
            type: string
          example: owner-1
        - description: Remove url with this identifier.
          name: sellerUrlIdentifier
          in: path
          required: true
          schema:
            type: string
          example: seller-url-1
        - name: Wink-Version
          in: header
          schema:
            type: string
            enum:
              - '2.0'
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoveEntryResponse_Affiliate'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShareableLinksDeleteLinkResponse'
            '*/*':
              schema:
                $ref: '#/components/schemas/ShareableLinksDeleteLink400Response1'
            application/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/plain:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            application/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/plain:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '415':
          description: Unsupported Media Type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShareableLinksDeleteLink415Response'
            application/xml:
              schema:
                $ref: '#/components/schemas/ShareableLinksDeleteLink415Response'
            text/xml:
              schema:
                $ref: '#/components/schemas/ShareableLinksDeleteLink415Response'
            text/plain:
              schema:
                $ref: '#/components/schemas/ShareableLinksDeleteLink415Response'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            application/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/plain:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ShareableLinksDeleteLink503Response'
  /api/company/{companyIdentifier}/map/{mapIdentifier}:
    get:
      tags:
        - Maps
      summary: Show Map
      operationId: Maps_getRecord
      security:
        - oauth2ClientCredentials: []
      description: Retrieve a specific map record
      parameters:
        - description: Show map record owned by this owner identifier.
          name: companyIdentifier
          in: path
          required: true
          schema:
            type: string
          example: owner-1
        - description: Show map record with this identifier.
          name: mapIdentifier
          in: path
          required: true
          schema:
            type: string
          example: map-1
        - name: Wink-Version
          in: header
          schema:
            type: string
            enum:
              - '2.0'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvancedMapConfigurationView_Affiliate'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MapsGetRecordResponse'
            '*/*':
              schema:
                $ref: '#/components/schemas/MapsGetRecord400Response1'
            application/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/plain:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            application/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/plain:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '415':
          description: Unsupported Media Type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MapsGetRecord415Response'
            application/xml:
              schema:
                $ref: '#/components/schemas/MapsGetRecord415Response'
            text/xml:
              schema:
                $ref: '#/components/schemas/MapsGetRecord415Response'
            text/plain:
              schema:
                $ref: '#/components/schemas/MapsGetRecord415Response'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            application/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/plain:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/MapsGetRecord503Response'
    put:
      tags:
        - Maps
      summary: Update Map
      operationId: Maps_updateAdvancedConfiguration
      security:
        - oauth2ClientCredentials: []
      description: Update an advanced map configuration
      parameters:
        - description: Update map owned by this owner identifier.
          name: companyIdentifier
          in: path
          required: true
          schema:
            type: string
          example: owner-1
        - description: update map record with this identifier.
          name: mapIdentifier
          in: path
          required: true
          schema:
            type: string
          example: map-1
        - name: Wink-Version
          in: header
          schema:
            type: string
            enum:
              - '2.0'
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/UpsertAdvancedMapConfigurationRequest_Affiliate
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvancedMapConfigurationView_Affiliate'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MapsUpdateAdvancedConfigurationResponse'
            '*/*':
              schema:
                $ref: >-
                  #/components/schemas/MapsUpdateAdvancedConfiguration400Response1
            application/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/plain:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            application/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/plain:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '415':
          description: Unsupported Media Type
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/MapsUpdateAdvancedConfiguration415Response
            application/xml:
              schema:
                $ref: >-
                  #/components/schemas/MapsUpdateAdvancedConfiguration415Response
            text/xml:
              schema:
                $ref: >-
                  #/components/schemas/MapsUpdateAdvancedConfiguration415Response
            text/plain:
              schema:
                $ref: >-
                  #/components/schemas/MapsUpdateAdvancedConfiguration415Response
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            application/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/plain:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: >-
                  #/components/schemas/MapsUpdateAdvancedConfiguration503Response
    delete:
      tags:
        - Maps
      summary: Delete Map
      operationId: Maps_deleteMapConfiguration
      security:
        - oauth2ClientCredentials: []
      description: Remove an advanced map configuration
      parameters:
        - description: Remove map owned by this owner identifier.
          name: companyIdentifier
          in: path
          required: true
          schema:
            type: string
          example: owner-1
        - description: Remove map record with this identifier.
          name: mapIdentifier
          in: path
          required: true
          schema:
            type: string
          example: map-1
        - name: Wink-Version
          in: header
          schema:
            type: string
            enum:
              - '2.0'
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoveEntryResponse_Affiliate'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MapsDeleteMapConfigurationResponse'
            '*/*':
              schema:
                $ref: '#/components/schemas/MapsDeleteMapConfiguration400Response1'
            application/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/plain:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            application/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/plain:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '415':
          description: Unsupported Media Type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MapsDeleteMapConfiguration415Response'
            application/xml:
              schema:
                $ref: '#/components/schemas/MapsDeleteMapConfiguration415Response'
            text/xml:
              schema:
                $ref: '#/components/schemas/MapsDeleteMapConfiguration415Response'
            text/plain:
              schema:
                $ref: '#/components/schemas/MapsDeleteMapConfiguration415Response'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            application/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/plain:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/MapsDeleteMapConfiguration503Response'
  /api/company/{companyIdentifier}/inventory/ranked/list/{listIdentifier}:
    get:
      tags:
        - Inventory Grids
      summary: Show Ranked Grid
      operationId: InventoryGrids_getSpecificRankedGrid
      security:
        - oauth2ClientCredentials: []
      description: Retrieve a specific ranked grid.
      parameters:
        - description: Retrieve grid for owner identifier.
          name: companyIdentifier
          in: path
          required: true
          schema:
            type: string
          example: owner-1
        - description: Retrieve grid with this identifier.
          name: listIdentifier
          in: path
          required: true
          schema:
            type: string
          example: ranked-grid-1
        - name: Wink-Version
          in: header
          schema:
            type: string
            enum:
              - '2.0'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SellerInventoryRankedListView_Affiliate'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/InventoryGridsGetSpecificRankedGridResponse
            '*/*':
              schema:
                $ref: >-
                  #/components/schemas/InventoryGridsGetSpecificRankedGrid400Response1
            application/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/plain:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            application/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/plain:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '415':
          description: Unsupported Media Type
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/InventoryGridsGetSpecificRankedGrid415Response
            application/xml:
              schema:
                $ref: >-
                  #/components/schemas/InventoryGridsGetSpecificRankedGrid415Response
            text/xml:
              schema:
                $ref: >-
                  #/components/schemas/InventoryGridsGetSpecificRankedGrid415Response
            text/plain:
              schema:
                $ref: >-
                  #/components/schemas/InventoryGridsGetSpecificRankedGrid415Response
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            application/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/plain:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: >-
                  #/components/schemas/InventoryGridsGetSpecificRankedGrid503Response
    put:
      tags:
        - Inventory Grids
      summary: Update Ranked Grid
      operationId: InventoryGrids_updateRankedGrid
      security:
        - oauth2ClientCredentials: []
      description: Update existing ranked grid
      parameters:
        - description: Update list owned by this owner identifier.
          name: companyIdentifier
          in: path
          required: true
          schema:
            type: string
          example: owner-1
        - description: Update list with this identifier.
          name: listIdentifier
          in: path
          required: true
          schema:
            type: string
          example: list-1
        - name: Wink-Version
          in: header
          schema:
            type: string
            enum:
              - '2.0'
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/UpsertSellerInventoryRankedListRequest_Affiliate
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SellerInventoryRankedListView_Affiliate'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryGridsUpdateRankedGridResponse'
            '*/*':
              schema:
                $ref: >-
                  #/components/schemas/InventoryGridsUpdateRankedGrid400Response1
            application/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/plain:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            application/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/plain:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '415':
          description: Unsupported Media Type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryGridsUpdateRankedGrid415Response'
            application/xml:
              schema:
                $ref: '#/components/schemas/InventoryGridsUpdateRankedGrid415Response'
            text/xml:
              schema:
                $ref: '#/components/schemas/InventoryGridsUpdateRankedGrid415Response'
            text/plain:
              schema:
                $ref: '#/components/schemas/InventoryGridsUpdateRankedGrid415Response'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            application/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/plain:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InventoryGridsUpdateRankedGrid503Response'
    delete:
      tags:
        - Inventory Grids
      summary: Delete Ranked Grid
      operationId: InventoryGrids_deleteRankedGrid
      security:
        - oauth2ClientCredentials: []
      description: Delete a ranked grid
      parameters:
        - description: Remove grid owned by this owner identifier.
          name: companyIdentifier
          in: path
          required: true
          schema:
            type: string
          example: owner-1
        - description: Delete grid with this identifier.
          name: listIdentifier
          in: path
          required: true
          schema:
            type: string
          example: ranked-grid-1
        - name: Wink-Version
          in: header
          schema:
            type: string
            enum:
              - '2.0'
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoveEntryResponse_Affiliate'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryGridsDeleteRankedGridResponse'
            '*/*':
              schema:
                $ref: >-
                  #/components/schemas/InventoryGridsDeleteRankedGrid400Response1
            application/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/plain:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            application/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/plain:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '415':
          description: Unsupported Media Type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryGridsDeleteRankedGrid415Response'
            application/xml:
              schema:
                $ref: '#/components/schemas/InventoryGridsDeleteRankedGrid415Response'
            text/xml:
              schema:
                $ref: '#/components/schemas/InventoryGridsDeleteRankedGrid415Response'
            text/plain:
              schema:
                $ref: '#/components/schemas/InventoryGridsDeleteRankedGrid415Response'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            application/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/plain:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InventoryGridsDeleteRankedGrid503Response'
  /api/company/{companyIdentifier}/inventory/list/{listIdentifier}:
    get:
      tags:
        - Inventory Grids
      summary: Show Grid
      operationId: InventoryGrids_getSpecificCuratedList
      security:
        - oauth2ClientCredentials: []
      description: Retrieve a specific curated / saved search list.
      parameters:
        - description: Show seller inventory lists owned by this owner identifier.
          name: companyIdentifier
          in: path
          required: true
          schema:
            type: string
          example: owner-1
        - description: Retrieve list with this identifier.
          name: listIdentifier
          in: path
          required: true
          schema:
            type: string
          example: list-1
        - name: Wink-Version
          in: header
          schema:
            type: string
            enum:
              - '2.0'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SellerInventoryListView_Affiliate'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/InventoryGridsGetSpecificCuratedListResponse
            '*/*':
              schema:
                $ref: >-
                  #/components/schemas/InventoryGridsGetSpecificCuratedList400Response1
            application/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/plain:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            application/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/plain:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '415':
          description: Unsupported Media Type
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/InventoryGridsGetSpecificCuratedList415Response
            application/xml:
              schema:
                $ref: >-
                  #/components/schemas/InventoryGridsGetSpecificCuratedList415Response
            text/xml:
              schema:
                $ref: >-
                  #/components/schemas/InventoryGridsGetSpecificCuratedList415Response
            text/plain:
              schema:
                $ref: >-
                  #/components/schemas/InventoryGridsGetSpecificCuratedList415Response
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            application/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/plain:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: >-
                  #/components/schemas/InventoryGridsGetSpecificCuratedList503Response
    put:
      tags:
        - Inventory Grids
      summary: Update Grid
      operationId: InventoryGrids_updateCuratedList
      security:
        - oauth2ClientCredentials: []
      description: Update an existing curated / saved search list.
      parameters:
        - description: Update list owned by this owner identifier.
          name: companyIdentifier
          in: path
          required: true
          schema:
            type: string
          example: owner-1
        - description: Update list with this identifier.
          name: listIdentifier
          in: path
          required: true
          schema:
            type: string
          example: list-1
        - name: Wink-Version
          in: header
          schema:
            type: string
            enum:
              - '2.0'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertSellerInventoryListRequest_Affiliate'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SellerInventoryListView_Affiliate'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryGridsUpdateCuratedListResponse'
            '*/*':
              schema:
                $ref: >-
                  #/components/schemas/InventoryGridsUpdateCuratedList400Response1
            application/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/plain:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            application/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/plain:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '415':
          description: Unsupported Media Type
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/InventoryGridsUpdateCuratedList415Response
            application/xml:
              schema:
                $ref: >-
                  #/components/schemas/InventoryGridsUpdateCuratedList415Response
            text/xml:
              schema:
                $ref: >-
                  #/components/schemas/InventoryGridsUpdateCuratedList415Response
            text/plain:
              schema:
                $ref: >-
                  #/components/schemas/InventoryGridsUpdateCuratedList415Response
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            application/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/plain:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: >-
                  #/components/schemas/InventoryGridsUpdateCuratedList503Response
    delete:
      tags:
        - Inventory Grids
      summary: Delete Grid
      operationId: InventoryGrids_removeCuratedList
      security:
        - oauth2ClientCredentials: []
      description: Remove a curated / saved search list
      parameters:
        - description: Update list owned by this owner identifier.
          name: companyIdentifier
          in: path
          required: true
          schema:
            type: string
          example: owner-1
        - description: Delete curated list with this identifier.
          name: listIdentifier
          in: path
          required: true
          schema:
            type: string
          example: list-1
        - name: Wink-Version
          in: header
          schema:
            type: string
            enum:
              - '2.0'
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoveEntryResponse_Affiliate'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/InventoryGridsRemoveCuratedList400Response
            '*/*':
              schema:
                $ref: >-
                  #/components/schemas/InventoryGridsRemoveCuratedList400Response2
            application/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/plain:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            application/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/plain:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '415':
          description: Unsupported Media Type
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/InventoryGridsRemoveCuratedList415Response
            application/xml:
              schema:
                $ref: >-
                  #/components/schemas/InventoryGridsRemoveCuratedList415Response
            text/xml:
              schema:
                $ref: >-
                  #/components/schemas/InventoryGridsRemoveCuratedList415Response
            text/plain:
              schema:
                $ref: >-
                  #/components/schemas/InventoryGridsRemoveCuratedList415Response
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            application/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/plain:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: >-
                  #/components/schemas/InventoryGridsRemoveCuratedList503Response
  /api/company/{companyIdentifier}/inventory/item/{inventoryIdentifier}:
    get:
      tags:
        - Inventory Cards
      summary: Show Card
      operationId: InventoryCards_getSingleCard
      security:
        - oauth2ClientCredentials: []
      description: Retrieve a single inventory card.
      parameters:
        - description: Company identifier to retrieve item for
          name: companyIdentifier
          in: path
          required: true
          schema:
            type: string
        - description: Retrieve inventory with this identifier.
          name: inventoryIdentifier
          in: path
          required: true
          schema:
            type: string
          example: card-inventory-1
        - name: Wink-Version
          in: header
          schema:
            type: string
            enum:
              - '2.0'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SellerInventoryItemView_Affiliate'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryCardsGetSingleCardResponse'
            '*/*':
              schema:
                $ref: '#/components/schemas/InventoryCardsGetSingleCard400Response1'
            application/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/plain:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            application/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/plain:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '415':
          description: Unsupported Media Type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryCardsGetSingleCard415Response'
            application/xml:
              schema:
                $ref: '#/components/schemas/InventoryCardsGetSingleCard415Response'
            text/xml:
              schema:
                $ref: '#/components/schemas/InventoryCardsGetSingleCard415Response'
            text/plain:
              schema:
                $ref: '#/components/schemas/InventoryCardsGetSingleCard415Response'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            application/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/plain:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InventoryCardsGetSingleCard503Response'
    put:
      tags:
        - Inventory Cards
      summary: Update Card
      operationId: InventoryCards_updateCard
      security:
        - oauth2ClientCredentials: []
      description: Update an existing card
      parameters:
        - description: Company identifier to update item for
          name: companyIdentifier
          in: path
          required: true
          schema:
            type: string
        - description: Update inventory with this identifier.
          name: inventoryIdentifier
          in: path
          required: true
          schema:
            type: string
          example: card-inventory-1
        - name: Wink-Version
          in: header
          schema:
            type: string
            enum:
              - '2.0'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertSellerInventoryItemRequest_Affiliate'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SellerInventoryItemView_Affiliate'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryCardsUpdateCardResponse'
            '*/*':
              schema:
                $ref: '#/components/schemas/InventoryCardsUpdateCard400Response1'
            application/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/plain:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            application/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/plain:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '415':
          description: Unsupported Media Type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryCardsUpdateCard415Response'
            application/xml:
              schema:
                $ref: '#/components/schemas/InventoryCardsUpdateCard415Response'
            text/xml:
              schema:
                $ref: '#/components/schemas/InventoryCardsUpdateCard415Response'
            text/plain:
              schema:
                $ref: '#/components/schemas/InventoryCardsUpdateCard415Response'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            application/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/plain:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InventoryCardsUpdateCard503Response'
    delete:
      tags:
        - Inventory Cards
      summary: Delete Card
      operationId: InventoryCards_removeItem
      security:
        - oauth2ClientCredentials: []
      description: Remove a unique inventory item
      parameters:
        - description: Company identifier to delete item from
          name: companyIdentifier
          in: path
          required: true
          schema:
            type: string
        - description: Delete inventory with this identifier.
          name: inventoryIdentifier
          in: path
          required: true
          schema:
            type: string
          example: card-inventory-1
        - name: Wink-Version
          in: header
          schema:
            type: string
            enum:
              - '2.0'
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoveEntryResponse_Affiliate'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryCardsRemoveItemResponse'
            '*/*':
              schema:
                $ref: '#/components/schemas/InventoryCardsRemoveItem400Response1'
            application/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/plain:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '401':
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            application/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/xml:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
            text/plain:
              schema:
                $ref: '#/components/schemas/GenericErrorMessage'
        '415':
          description: Unsupported Media Type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryCardsRemoveItem415Response'
            application/xml:
              schema:
                $ref: '#/components/schemas/InventoryCardsRemoveItem415Response'
            text/xml:
              schema:
                $ref: '#/components/schemas/InventoryCardsRemoveItem415Response'
            text/plain:
              schema:
[...]
