openapi: 3.0.3
info:
  title: public
  description: >-
    Workable develops a cloud-based recruitment platform for companies to post
    jobs, track applicants and schedule interviews.
  version: '3.8'
  x-konfig-ignore:
    object-with-no-properties: true
    potential-incorrect-type: true
servers:
  - url: https://www.workable.com/api
tags:
  - name: Candidate
  - name: Job
  - name: Employee
  - name: Account
  - name: Requisition
  - name: Offer
  - name: Subscription
  - name: Member
  - name: Stage
  - name: Event
  - name: Recruiter
  - name: Department
paths:
  /accounts:
    get:
      tags:
        - Account
      summary: /accounts
      operationId: Account_listAccessible
      description: >-
        Returns a collection of all the accounts you have access to. Required
        scope: `r_jobs`. Accessible with all token types.
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n\t\"accounts\": [\n    {\n    \"id\": \"20ff5c50\",\n    \"name\": \"Groove Tech\",\n    \"subdomain\": \"groove-tech\",\n    \"description\": \"<p>We’ve all spent tons of hours trying to book a trip! Well, our guys finally got tired of going through this frustrating process and passionately decided to do something about it: To change the traveller’s experience. Four years later, we stick to that idea by daily plotting the traveling revolution.</p> <p>Like busy little bees, all 98 of us, customise our user-friendly software and innovative services to match leisure and business travellers needs throughout the entire journey. We create innovative and top notch travel products for a simple reason: You deserve it.</p> <p>Whether it’s about booking tickets or hotels, whatever the budget, us travel lovers are dedicated to deliver you a lifetime experience. How? By empowering you to easily discover, book and have fun at the whole world!</p> <p>We are innovators, idealists and perfectionists. We love raising the bar to delight and amaze our customers and that’s exactly why working with us requires a lot of you. But it’s a lot more than that. We’ll brightly reward you. We’ll develop your career. We’ll keep you excited! In other words we promise being the most exciting place for you to work at.</p> <p>We are growing as crazy and we need you industry experts and passionate individuals to do things that matter and take us off! Come aboard ready to share, learn and grow.</p>\",\n    \"summary\": \"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam elementum posuere erat, quis mattis lectus ullamcorper sit amet. Praesent nec aliquet erat. Donec quis arcu id metus tristique eleifend. Aenean sed nunc id tortor vulputate auctor. Pellentesque ut volutpat augue, vel aliquam lectus. Maecenas mattis dictum risus, id varius nisi sodales vitae. Aenean pulvinar lacinia condimentum. Nulla id leo a tortor elementum dapibus id condimentum nibh.\",\n    \"website_url\": \"https://www.workable.com\"\n  \t}\n\t]\n}  "
              schema:
                $ref: '#/components/schemas/AccountListAccessibleResponse'
        '401':
          description: '401'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "error": "Not authorized"
                    }
              schema:
                $ref: '#/components/schemas/AccountListAccessible401Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: shell
            code: "curl \n\t-H \"Content-Type: application/json\" \n  -H \"Authorization:Bearer <Access Token>\" \nhttps://www.workable.com/spi/v3/accounts/"
        samples-languages:
          - shell
  /accounts/{subdomain}:
    get:
      tags:
        - Account
      summary: api/accounts/:subdomain
      operationId: Account_getPublicJobs
      description: Returns a collection of the public jobs for an account
      parameters:
        - name: subdomain
          in: path
          schema:
            type: string
          required: true
        - description: Includes description field for jobs
          name: details
          in: query
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "name": "Groove Tech",
                      "description": "<p>We’ve all spent tons of hours trying to book a trip! Well, our guys finally got tired of going through this frustrating process and passionately decided to do something about it: To change the traveller’s experience. Four years later, we stick to that idea by daily plotting the traveling revolution.</p> <p>Like busy little bees, all 98 of us, customise our user-friendly software and innovative services to match leisure and business travellers needs throughout the entire journey. We create innovative and top notch travel products for a simple reason: You deserve it.</p> <p>Whether it’s about booking tickets or hotels, whatever the budget, us travel lovers are dedicated to deliver you a lifetime experience. How? By empowering you to easily discover, book and have fun at the whole world!</p> <p>We are innovators, idealists and perfectionists. We love raising the bar to delight and amaze our customers and that’s exactly why working with us requires a lot of you. But it’s a lot more than that. We’ll brightly reward you. We’ll develop your career. We’ll keep you excited! In other words we promise being the most exciting place for you to work at.</p> <p>We are growing as crazy and we need you industry experts and passionate individuals to do things that matter and take us off! Come aboard ready to share, learn and grow.</p>",
                      "jobs": [
                        {
                          "title": "Finance Manager",
                          "code": "UK/1/FM",
                          "shortcode": "GROOV006",
                          "country": "United Kingdom",
                          "state": "London",
                          "city": "London",
                          "department": "Finance",
                          "telecommuting": false,
                          "published_on": "2019-04-07",
                          "url": "https://groove-tech.workable.com/jobs/724378555",
                          "application_url": "https://groove-tech.workable.com/jobs/724378555/candidates/new",
                          "shortlink": "https://groove-tech.workable.com/j/GROOV006",
                          "created_at": "2019-04-07",
                          "description": " <p>We are looking for an experienced Finance Manager to undertake all aspects of financial management, including corporate accounting, regulatory and financial reporting, budget and forecasts preparation, as well as development of internal control policies and procedures.</p> <p>Responsibilities:<ul> <li>Manage all accounting operations including Billing, A/R, A/P, GL and Counsel, Cost Accounting, Inventory Accounting and Revenue Recognition</li> <li>Coordinate and direct the preparation of the budget and financial forecasts and report variances</li> <li>Prepare and publish timely monthly financial statementsCoordinate the preparation of regulatory reporting</li> <li>Research technical accounting issues for compliance</li> <li>Support month-end and year-end close process</li> <li>Ensure quality control over financial transactions and financial reporting</li> <li>Manage and comply with local, state, and federal government reporting requirements and tax filings</li> <li>Develop and document business processes and accounting policies to maintain and strengthen internal controls</li> </ul></p><p><strong>Requirements</strong></p><ul> <li>3+ years of experience as a Manager</li> <li>5+ years of overall combined accounting and finance experience</li> <li>Advanced degree in Accounting</li> <li>CPA or CMA preferred</li> <li>Thorough knowledge of accounting principles and procedures</li> <li>Experience with creating financial statements</li> <li>Experience with general ledger functions and the month-end/year end close process</li> <li>Excellent accounting software user and administration skills</li> </ul><p><strong>Benefits</strong></p><ul>\n <li>Great opportunities for career development</li>\r\n <li>All your equipment provided including a laptop</li>\r\n <li>Increasing vacation days with each year of employment</li>\r\n </ul>",
                          "employment_type": "Full-time",
                          "industry": "Business Supplies and <equipment></equipment>",
                          "function": "Finance",
                          "experience": "Mid-senior Level",
                          "education": "Bachelor's Degree"
                        },
                        {
                          "title": "Head of Account Management",
                          "code": "US/4/HAM",
                          "shortcode": "GROOV004",
                          "country": "United States",
                          "state": "New York",
                          "city": "New York",
                          "department": "Sales",
                          "telecommuting": false,
                          "published_on": "2019-04-07",
                          "url": "https://groove-tech.workable.com/jobs/887982564",
                          "application_url": "https://groove-tech.workable.com/jobs/887982564/candidates/new",
                          "shortlink": "https://groove-tech.workable.com/j/GROOV004",
                          "created_at": "2019-04-07",
                          "description": " <p>Account management is a key discipline at our company. Our team of account managers are our front line interacting on a daily basis to train, assist, and answer questions.</p> <p>As we grow we're looking for someone to lead our account management team, help us build out the department/discipline and create a process that will scale as the business grows. If this sounds like you (or someone you know), please let us know. Below is more detail on what we're looking for.</p><p><strong>Requirements</strong></p><ul> <li>Love customer service.</li> <li>Great person-to-person skills</li> <li>Deep understanding of technology </li> <li>Process oriented</li> <li>Hiring experience</li> <li>Salesforce experience</li> <li>Relevant industry experience</li> </ul><p><strong>Benefits</strong></p><ul>\n <li>Great opportunities for career development</li>\r\n <li>All your equipment provided including a laptop</li>\r\n <li>Increasing vacation days with each year of employment</li>\r\n </ul>",
                          "employment_type": "Full-time",
                          "industry": "Business Supplies and equipment",
                          "function": "Sales",
                          "experience": "Director",
                          "education": "Bachelor's Degree"
                        },
                        {
                          "title": "Office Manager",
                          "code": "US/4/OM",
                          "shortcode": "GROOV005",
                          "country": "United States",
                          "state": "Illinois",
                          "city": "Chicago",
                          "department": "Administration",
                          "telecommuting": false,
                          "published_on": "2019-04-07",
                          "url": "https://groove-tech.workable.com/jobs/376844767",
                          "application_url": "https://groove-tech.workable.com/jobs/376844767/candidates/new",
                          "shortlink": "https://groove-tech.workable.com/j/GROOV005",
                          "created_at": "2019-04-07",
                          "description": " <p>We are looking for an Office Manager to organize and coordinate office operations and procedures, in order to ensure organizational effectiveness, efficiency and safety.The ideal candidate will be experienced in handling a wide range of administrative and executive support related tasks and will be able to work independently with little or no supervision. This person must be exceedingly well organized, flexible and enjoy the administrative challenges of supporting an office of diverse people.</p> <p>Responsibilities:<ul> <li>Serve as the point person for maintenance, mailing, shopping, supplies, equipment, bills, and errands</li> <li>Organize and schedule meetings and appointments</li> <li>Partner with HR to maintain office policies as necessary</li> <li>Organize office operations and proceduresCoordinate with IT department on all office equipment</li> <li>Manage relationships with vendors, service providers, and landlord, ensuring that all items are invoiced and paid on time</li> <li>Manage contract and price negotiations with office vendors, service providers and office lease</li> <li>Manage office G&A budget, ensure accurate and timely reporting</li> <li>Provide general support to visitors</li> </ul></p><p><strong>Requirements</strong></p><ul> <li>4+ years of office management, administrative or assistant experience</li> <li>Knowledge of office management systems and procedures</li> <li>Excellent time management skills and ability to multi-task and prioritize work</li> <li>Attention to detail and problem solving skills</li> <li>Excellent written and verbal communication skills</li> <li>Strong organizational and planning skills</li> <li>Proficiency in MS Office</li> </ul><p><strong>Benefits</strong></p><ul>\n <li>Great opportunities for career development</li>\r\n <li>All your equipment provided including a laptop</li>\r\n <li>Increasing vacation days with each year of employment</li>\r\n </ul>",
                          "employment_type": "Full-time",
                          "industry": "Business Supplies and equipment",
                          "function": "Administrative",
                          "experience": "Associate",
                          "education": "High School or equivalent"
                        }
                      ]
                    }
              schema:
                $ref: '#/components/schemas/AccountGetPublicJobsResponse'
        '401':
          description: '401'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "error":"Not authorized"
                    }
              schema:
                $ref: '#/components/schemas/AccountGetPublicJobs401Response'
        '404':
          description: '404'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "error": "not-found"
                    }
              schema:
                $ref: '#/components/schemas/AccountGetPublicJobs404Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: curl
            code: >-
              curl -X
              GETv'https://www.workable.com/api/accounts/groove-tech?details=true'
        samples-languages:
          - curl
  /members:
    get:
      tags:
        - Member
      summary: /members
      operationId: Member_listOfMembers
      description: >-
        Returns a collection of your account members. Required scope: `r_jobs`.
        Accessible with account tokens and user tokens.
      parameters:
        - description: >-
            Specifies the number of members to try and retrieve per page
            (optional)
          name: limit
          in: query
          schema:
            type: integer
            format: int32
            default: 50
        - description: >-
            Returns results with an ID greater than or equal to the specified
            ID. (optional)
          name: since_id
          in: query
          schema:
            type: string
        - description: >-
            Returns results with an ID less than or equal to the specified ID.
            (optional)
          name: max_id
          in: query
          schema:
            type: string
        - description: >-
            Filters for members of the specified role. Can be `simple`, `admin`
            or `reviewer`
          name: role
          in: query
          schema:
            type: string
        - description: Filters for a specific job, only collaborators will be returned
          name: shortcode
          in: query
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "members": [
                        {
                          "id": "13e0eb0e",
                          "name": "Eduardo Vallente",
                          "headline": "Operations Manager",
                          "email": "eduardo.vallente@workabledemo.com",
                          "role": "admin"
                        },
                        {
                          "id": "19782abc",
                          "name": "Nadia Sawahla",
                          "headline": "Talent Manager",
                          "email": "nadia.sawahla@name.com",
                          "role": "recruiter"
                        },
                        {
                          "id": "3247e8c7",
                          "name": "Alexia Middleton",
                          "headline": "Commercial Director",
                          "email": "alexia.middleton@workabledemo.com",
                          "role": "simple"
                        },
                        {
                          "id": "3c00c3ac",
                          "name": "David Bodello",
                          "headline": "IT Specialist Recruiter",
                          "email": "david.bodellos@gmail.com",
                          "role": "recruiter"
                        }
                      ]
                    }
              schema:
                $ref: '#/components/schemas/MemberListOfMembersResponse'
        '401':
          description: '401'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "error":"Not authorized"
                    }
              schema:
                $ref: '#/components/schemas/MemberListOfMembers401Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: shell
            code: "curl \t-H \"Content-Type: application/json\" \\\n\t\t\t-H \"Authorization:Bearer <Access Token>\" \\ https://<subdomain>.workable.com/spi/v3/members"
        samples-languages:
          - shell
  /recruiters:
    get:
      tags:
        - Recruiter
      summary: /recruiters
      operationId: Recruiter_listExternalRecruiters
      description: >-
        Returns a collection of your account external recruiters. Required
        scope: `r_jobs`. Accessible with account tokens and user tokens.
      parameters:
        - description: >-
            The job's shortcode. If provided only recruiters collaborating on
            the correlated job will be returned.
          name: shortcode
          in: query
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "recruiters": [
                        {
                          "id": "19782abc",
                          "name": "Nadia Sawahla",
                          "email": "nadia.sawahla@name.com"
                        },
                        {
                          "id": "3c00c3ac",
                          "name": "David Bodello",
                          "email": "david.bodellos@gmail.com"
                        }
                      ]
                    }
              schema:
                $ref: '#/components/schemas/RecruiterListExternalRecruitersResponse'
        '401':
          description: '401'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "error":"Not authorized"
                    }
              schema:
                $ref: >-
                  #/components/schemas/RecruiterListExternalRecruiters401Response
      deprecated: false
      x-readme:
        code-samples:
          - language: shell
            code: "curl \t-H \"Content-Type: application/json\" \\\n\t\t\t-H \"Authorization:Bearer <Access Token>\" \\\n      https://<subdomain>.workable.com/spi/v3/recruiters"
        samples-languages:
          - shell
  /stages:
    get:
      tags:
        - Stage
      summary: /stages
      operationId: Stage_collectionGet
      description: >-
        Returns a collection of your recruitment pipeline stages. Required
        scope: r_jobs. Accessible with all token types.
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "stages": [
                        {
                          "slug": "sourced",
                          "name": "Sourced",
                          "kind": "sourced",
                          "position": 0
                        },
                        {
                          "slug": "applied",
                          "name": "Applied",
                          "kind": "applied",
                          "position": 1
                        },
                        {
                          "slug": "phone-screen",
                          "name": "Phone Screen",
                          "kind": "phone-screen",
                          "position": 2
                        },
                        {
                          "slug": "interview",
                          "name": "Interview",
                          "kind": "interview",
                          "position": 3
                        },
                        {
                          "slug": "offer",
                          "name": "Offer",
                          "kind": "offer",
                          "position": 4
                        },
                        {
                          "slug": "hired",
                          "name": "Hired",
                          "kind": "hired",
                          "position": 5
                        }
                      ]
                    }
              schema:
                $ref: '#/components/schemas/StageCollectionGetResponse'
        '401':
          description: '401'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "error":"Not authorized"
                    }
              schema:
                $ref: '#/components/schemas/StageCollectionGet401Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: shell
            code: "curl \t-H \"Content-Type: application/json\" \\\n\t\t\t-H \"Authorization:Bearer <Access Token>\" \\\n      https://<subdomain>.workable.com/spi/v3/stages"
        samples-languages:
          - shell
  /departments:
    get:
      tags:
        - Department
      summary: /departments
      operationId: Department_listDepartments
      description: >-
        Returns a collection of your account departments. Required scope:
        `r_account`. Accessible with all token types.
      parameters:
        - description: The account subdomain
          name: subdomain
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    [
                        {
                            "id": "3ff4d641",
                            "name": "Commercial",
                            "parent_id": null
                        },
                        {
                            "id": "3ff4d642",
                            "name": "Customer Success",
                            "parent_id": "3ff4d641"
                        },
                        {
                            "id": "3ff4d643",
                            "name": "Support",
                            "parent_id": "3ff4d642"
                        },
                        {
                            "id": "3ff4d644",
                            "name": "Marketing",
                            "parent_id": "3ff4d641"
                        },
                        {
                            "id": "3ff4d645",
                            "name": "Content",
                            "parent_id": "3ff4d644"
                        },
                        {
                            "id": "3ff4d646",
                            "name": "Sales",
                            "parent_id": "3ff4d641"
                        },
                        {
                            "id": "3ff4d647",
                            "name": "Account Executive",
                            "parent_id": "3ff4d646"
                        },
                        {
                            "id": "3ff4d648",
                            "name": "Business Development",
                            "parent_id": "3ff4d646"
                        },
                        {
                            "id": "3ff4d649",
                            "name": "Engineering",
                            "parent_id": null
                        },
                        {
                            "id": "3ff4d64a",
                            "name": "Finance",
                            "parent_id": null
                        },
                        {
                            "id": "3ff4d64b",
                            "name": "HR",
                            "parent_id": null
                        }
                    ]
              schema:
                $ref: '#/components/schemas/DepartmentListDepartmentsResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/DepartmentListDepartments400Response'
        '404':
          description: '404'
          content:
            application/json:
              examples:
                Result:
                  value: ''
              schema:
                $ref: '#/components/schemas/DepartmentListDepartments404Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: curl
            code: "curl \t-H \"Content-Type: application/json\" \\\n\t\t\t-H \"Authorization:Bearer <Access Token>\" \\\n      https://<subdomain>.workable.com/spi/v3/departments"
        samples-languages:
          - curl
  /legal_entities:
    get:
      summary: /legal_entities
      operationId: legal_entities
      description: >-
        Returns a collection of your account legal entities. Required scope:
        `r_account`. Accessible with all token types.
      parameters:
        - description: The account subdomain
          name: subdomain
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    [
                        {
                            "id": "8b588cb9-8ab2-4ae4-9b14-99a8e0f910f6",
                            "name": "Demo Entity US",
                            "legal_name": "",
                            "type": "entity",
                            "parent_id": null,
                            "display_name": "Demo Entity US"
                        },
                        {
                            "id": "218baa69-a0f2-44bb-a0b4-11cd002f2d6a",
                            "name": "Boston, MA, USA",
                            "legal_name": null,
                            "type": "location",
                            "parent_id": "8b588cb9-8ab2-4ae4-9b14-99a8e0f910f6",
                            "display_name": "Demo Entity US | Boston, MA, USA"
                        },
                        {
                            "id": "f06cd9dd-005c-4a87-bf2d-f972953d96a8",
                            "name": "Financial District",
                            "legal_name": null,
                            "type": "site",
                            "parent_id": "218baa69-a0f2-44bb-a0b4-11cd002f2d6a",
                            "display_name": "Demo Entity US | Boston, MA, USA | Financial District"
                        },
                        {
                            "id": "ae48fc93-6b2c-453e-9e51-5909e090044d",
                            "name": "Demo Entity UK",
                            "legal_name": "",
                            "type": "entity",
                            "parent_id": null,
                            "display_name": "Demo Entity UK"
                        },
                        {
                            "id": "e697173f-5853-48c0-8eb4-b9c67ca11a93",
                            "name": "London, England, United Kingdom",
                            "legal_name": null,
                            "type": "location",
                            "parent_id": "ae48fc93-6b2c-453e-9e51-5909e090044d",
                            "display_name": "Demo Entity UK | London, England, United Kingdom"
                        },
                        {
                            "id": "ab745273-9327-4baf-860f-8ec0a267303c",
                            "name": "London",
                            "legal_name": null,
                            "type": "site",
                            "parent_id": "e697173f-5853-48c0-8eb4-b9c67ca11a93",
                            "display_name": "Demo Entity UK | London, England, United Kingdom | London"
                        },
                        {
                            "id": "552e100e-b12e-4712-99e9-abb456373019",
                            "name": "Demo Entity Australia",
                            "legal_name": "",
                            "type": "entity",
                            "parent_id": null,
                            "display_name": "Demo Entity Australia"
                        },
                        {
                            "id": "ebc4650f-3f8b-4306-90f3-7a18558cdd8f",
                            "name": "Sydney, New South Wales, Australia",
                            "legal_name": null,
                            "type": "location",
                            "parent_id": "552e100e-b12e-4712-99e9-abb456373019",
                            "display_name": "Demo Entity Australia | Sydney, New South Wales, Australia"
                        }
                    ]
              schema:
                $ref: '#/components/schemas/LegalEntitiesResponse'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                $ref: '#/components/schemas/LegalEntities400Response'
      deprecated: false
  /requisitions:
    get:
      tags:
        - Requisition
      summary: /requisitions
      operationId: Requisition_list
      description: >-
        Returns a collection of your account requisitions. Required scope:
        `r_requisitions`. Accessible with all token types.
      parameters:
        - description: >-
            Returns requisitions with the current state. Possible values
            (processing, draft, pending, approved, open, filled, rejected,
            cancelled, reserved, on_hold).
          name: state
          in: query
          schema:
            type: string
        - description: Returns requisitions for the job with the specified ID.
          name: job_id
          in: query
          schema:
            type: string
        - description: >-
            Returns requisitions with plan date after the specified month.
            Format is YYYY-MM (example: 2022-01).
          name: plan_date_from
          in: query
          schema:
            type: string
        - description: >-
            Returns requisitions with plan date before the specified month.
            Format is YYYY-MM (example: 2022-12).
          name: plan_date_to
          in: query
          schema:
            type: string
        - description: >-
            Specifies the number of requisitions to try and retrieve per page
            (optional)
          name: limit
          in: query
          schema:
            type: integer
            format: int32
            default: 50
        - description: >-
            Returns results with an ID greater than or equal to the specified
            ID. (optional)
          name: since_id
          in: query
          schema:
            type: string
        - description: >-
            Returns results with an ID less than or equal to the specified ID.
            (optional)
          name: max_id
          in: query
          schema:
            type: string
        - description: Returns results created after the specified timestamp. (optional)
          name: created_after
          in: query
          schema:
            type: string
            format: date-time
        - description: Returns results updated after the specified timestamp.
          name: updated_after
          in: query
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |
                    {
                      "requisitions": [
                        {
                          "id": "16d60890",
                          "code": "REQ101",
                          "job": {
                            "id": "23c47225",
                            "title": "Pilot"
                          },
                          "department": {
                            "id": "1ee2e1d2",
                            "name": "Flight"
                          },
                          "location": {
                            "location_str": "California, USA",
                            "country": "United States",
                            "country_code": "US",
                            "region": "California",
                            "region_code": "CA",
                            "city": null,
                            "zip_code": null
                          },
                          "hiring_manager": {
                            "id": "31169ee",
                            "name": "Jack Shephard"
                          },
                          "owner": {
                            "id": "2310f579",
                            "name": "John Locke"
                          },
                          "plan_date": "2022-12-31",
                          "start_date": null,
                          "salary_range": {
                            "from": 60000,
                            "to": 80000,
                            "frequency": "year",
                            "currency": "EUR"
                          },
                          "employment_type": "Full-time",
                          "reason": "replacement",
                          "state": "pending",
                          "requisition_attributes": [
                            {
                              "name": "Level",
                              "value": {
                                "body": "Senior"
                              }
                            },
                            {
                              "name": "Relocation Package?",
                              "value": {
                                "body": true
                              }
                            },
                            {
                              "name": "Shift",
                              "value": {
                                "choices": [
                                  "Morning"
                                ]
                              }
                            },
                            {
                              "name": "Number of shares",
                              "value": {
                                "body": 150
                              }
                            },
                            {
                              "name": "Just a random date",
                              "value": {
                                "body": "2018-11-30"
                              }
                            },
                            {
                              "name": "The *real* reason",
                              "value": {
                                "body": "It was more of a spur of the moment thing. We don't really need another stranger bring a fresh perspective."
                              }
                            },
                            {
                              "name": "T-Shirt colors",
                              "value": {
                                "choices": [
                                  "Creamy White",
                                  "Salmon Pink"
                                ]
                              }
                            },
                            {
                              "name": "Unofficial salary",
                              "value": {
                                "data": {
                                  "amount": 5000,
                                  "frequency": "month",
                                  "currency_iso": "USD"
                                }
                              }
                            }
                          ],
                          "approval_groups": [
                            {
                              "id": "129cf872",
                              "approvers": [
                                {
                                  "id": "15046d4c",
                                  "name": "Kate Austen",
                                  "decision": "approved"
                                }
                              ]
                            },
                            {
                              "id": "b95a6fa",
                              "approvers": [
                                {
                                  "id": "2310f579",
                                  "name": "John Locke",
                                  "decision": "rejected"
                                }
                              ]
                            }
                          ]
                        }
                      ]
                    }
              schema:
                $ref: '#/components/schemas/RequisitionListResponse'
        '401':
          description: '401'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "error":"Not authorized"
                    }
              schema:
                $ref: '#/components/schemas/RequisitionList401Response'
        '404':
          description: '404'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "error":"Not found"
                    }
              schema:
                $ref: '#/components/schemas/RequisitionList404Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: shell
            code: "curl \t-H \"Content-Type: application/json\" \\\n\t\t\t-H \"Authorization:Bearer <Access Token>\" \\\n      https://<subdomain>.workable.com/spi/v3/requisitions"
        samples-languages:
          - shell
  /requisitions/{code}:
    get:
      tags:
        - Requisition
      summary: /requisitions/:code
      operationId: Requisition_getById
      description: >-
        Returns a requisition. Required scope: `r_requisitions`. Accessible with
        all token types.
      parameters:
        - description: The code of the requisition
          name: code
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |
                    {
                      "requisitions": [
                        {
                          "id": "16d60890",
                          "code": "REQ101",
                          "job": {
                            "id": "23c47225",
                            "title": "Pilot"
                          },
                          "department": {
                            "id": "1ee2e1d2",
                            "name": "Flight"
                          },
                          "location": {
                            "location_str": "California, USA",
                            "country": "United States",
                            "country_code": "US",
                            "region": "California",
                            "region_code": "CA",
                            "city": null,
                            "zip_code": null
                          },
                          "hiring_manager": {
                            "id": "31169ee",
                            "name": "Jack Shephard"
                          },
                          "owner": {
                            "id": "2310f579",
                            "name": "John Locke"
                          },
                          "plan_date": "2022-12-31",
                          "start_date": null,
                          "salary_range": {
                            "from": 60000,
                            "to": 80000,
                            "frequency": "year",
                            "currency": "EUR"
                          },
                          "employment_type": "Full-time",
                          "reason": "replacement",
                          "state": "pending",
                          "requisition_attributes": [
                            {
                              "name": "Level",
                              "value": {
                                "body": "Senior"
                              }
                            },
                            {
                              "name": "Relocation Package?",
                              "value": {
                                "body": true
                              }
                            },
                            {
                              "name": "Shift",
                              "value": {
                                "choices": [
                                  "Morning"
                                ]
                              }
                            },
                            {
                              "name": "Number of shares",
                              "value": {
                                "body": 150
                              }
                            },
                            {
                              "name": "Just a random date",
                              "value": {
                                "body": "2018-11-30"
                              }
                            },
                            {
                              "name": "The *real* reason",
                              "value": {
                                "body": "It was more of a spur of the moment thing. We don't really need another stranger bring a fresh perspective."
                              }
                            },
                            {
                              "name": "T-Shirt colors",
                              "value": {
                                "choices": [
                                  "Creamy White",
                                  "Salmon Pink"
                                ]
                              }
                            },
                            {
                              "name": "Unofficial salary",
                              "value": {
                                "data": {
                                  "amount": 5000,
                                  "frequency": "month",
                                  "currency_iso": "USD"
                                }
                              }
                            }
                          ],
                          "approval_groups": [
                            {
                              "id": "129cf872",
                              "approvers": [
                                {
                                  "id": "15046d4c",
                                  "name": "Kate Austen",
                                  "decision": "approved"
                                }
                              ]
                            },
                            {
                              "id": "b95a6fa",
                              "approvers": [
                                {
                                  "id": "2310f579",
                                  "name": "John Locke",
                                  "decision": "rejected"
                                }
                              ]
                            }
                          ]
                        }
                      ]
                    }
              schema:
                $ref: '#/components/schemas/RequisitionGetByIdResponse'
        '401':
          description: '401'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "error":"Not authorized"
                    }
              schema:
                $ref: '#/components/schemas/RequisitionGetById401Response'
        '404':
          description: '404'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "error":"Not found"
                    }
              schema:
                $ref: '#/components/schemas/RequisitionGetById404Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: shell
            code: "curl \t-H \"Content-Type: application/json\" \\\n\t\t\t-H \"Authorization:Bearer <Access Token>\" \\\n      https://<subdomain>.workable.com/spi/v3/requisitions/<code>"
        samples-languages:
          - shell
  /requisitions/{code}/approve:
    patch:
      tags:
        - Requisition
      summary: /requisitions/:code/approve
      operationId: Requisition_approveRequisition
      description: >-
        Approves a requisition (must be in a compatible state). Required scope:
        `w_requisitions`. Accessible with user tokens only.
      parameters:
        - description: The code of the requisition
          name: code
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |
                    {
                      "requisitions": [
                        {
                          "id": "16d60890",
                          "code": "REQ101",
                          "job": {
                            "id": "23c47225",
                            "title": "Pilot"
                          },
                          "department": {
                            "id": "1ee2e1d2",
                            "name": "Flight"
                          },
                          "location": {
                            "location_str": "California, USA",
                            "country": "United States",
                            "country_code": "US",
                            "region": "California",
                            "region_code": "CA",
                            "city": null,
                            "zip_code": null
                          },
                          "hiring_manager": {
                            "id": "31169ee",
                            "name": "Jack Shephard"
                          },
                          "owner": {
                            "id": "2310f579",
                            "name": "John Locke"
                          },
                          "plan_date": "2022-12-31",
                          "start_date": null,
                          "salary_range": {
                            "from": 60000,
                            "to": 80000,
                            "frequency": "year",
                            "currency": "EUR"
                          },
                          "employment_type": "Full-time",
                          "reason": "replacement",
                          "state": "pending",
                          "requisition_attributes": [
                            {
                              "name": "Level",
                              "value": {
                                "body": "Senior"
                              }
                            },
                            {
                              "name": "Relocation Package?",
                              "value": {
                                "body": true
                              }
                            },
                            {
                              "name": "Shift",
                              "value": {
                                "choices": [
                                  "Morning"
                                ]
                              }
                            },
                            {
                              "name": "Number of shares",
                              "value": {
                                "body": 150
                              }
                            },
                            {
                              "name": "Just a random date",
                              "value": {
                                "body": "2018-11-30"
                              }
                            },
                            {
                              "name": "The *real* reason",
                              "value": {
                                "body": "It was more of a spur of the moment thing. We don't really need another stranger bring a fresh perspective."
                              }
                            },
                            {
                              "name": "T-Shirt colors",
                              "value": {
                                "choices": [
                                  "Creamy White",
                                  "Salmon Pink"
                                ]
                              }
                            },
                            {
                              "name": "Unofficial salary",
                              "value": {
                                "data": {
                                  "amount": 5000,
                                  "frequency": "month",
                                  "currency_iso": "USD"
                                }
                              }
                            }
                          ],
                          "approval_groups": [
                            {
                              "id": "129cf872",
                              "approvers": [
                                {
                                  "id": "15046d4c",
                                  "name": "Kate Austen",
                                  "decision": "approved"
                                }
                              ]
                            },
                            {
                              "id": "b95a6fa",
                              "approvers": [
                                {
                                  "id": "2310f579",
                                  "name": "John Locke",
                                  "decision": "rejected"
                                }
                              ]
                            }
                          ]
                        }
                      ]
                    }
              schema:
                $ref: '#/components/schemas/RequisitionApproveRequisitionResponse'
        '401':
          description: '401'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "error":"Not authorized"
                    }
              schema:
                $ref: '#/components/schemas/RequisitionApproveRequisition401Response'
        '404':
          description: '404'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "error":"Not found"
                    }
              schema:
                $ref: '#/components/schemas/RequisitionApproveRequisition404Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: shell
            code: "curl \t-X PATCH\n\t\t\t-H \"Content-Type: application/json\" \\\n\t\t\t-H \"Authorization:Bearer <Access Token>\" \\\n      https://<subdomain>.workable.com/spi/v3/requisitions/<code>/approve"
        samples-languages:
          - shell
  /requisitions/{code}/reject:
    patch:
      tags:
        - Requisition
      summary: /requisitions/:code/reject
      operationId: Requisition_rejectRequest
      description: >-
        Rejects a requisition (must be in a compatible state). Required scope:
        `w_requisitions`. Accessible with user tokens only.
      parameters:
        - description: The code of the requisition
          name: code
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequisitionRejectRequestRequest'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |
                    {
                      "requisitions": [
                        {
                          "id": "16d60890",
                          "code": "REQ101",
                          "job": {
                            "id": "23c47225",
                            "title": "Pilot"
                          },
                          "department": {
                            "id": "1ee2e1d2",
                            "name": "Flight"
                          },
                          "location": {
                            "location_str": "California, USA",
                            "country": "United States",
                            "country_code": "US",
                            "region": "California",
                            "region_code": "CA",
                            "city": null,
                            "zip_code": null
                          },
                          "hiring_manager": {
                            "id": "31169ee",
                            "name": "Jack Shephard"
                          },
                          "owner": {
                            "id": "2310f579",
                            "name": "John Locke"
                          },
                          "plan_date": "2022-12-31",
                          "start_date": null,
                          "salary_range": {
                            "from": 60000,
                            "to": 80000,
                            "frequency": "year",
                            "currency": "EUR"
                          },
                          "employment_type": "Full-time",
                          "reason": "replacement",
                          "state": "pending",
                          "requisition_attributes": [
                            {
                              "name": "Level",
                              "value": {
                                "body": "Senior"
                              }
                            },
                            {
                              "name": "Relocation Package?",
                              "value": {
                                "body": true
                              }
                            },
                            {
                              "name": "Shift",
                              "value": {
                                "choices": [
                                  "Morning"
                                ]
                              }
                            },
                            {
                              "name": "Number of shares",
                              "value": {
                                "body": 150
                              }
                            },
                            {
                              "name": "Just a random date",
                              "value": {
                                "body": "2018-11-30"
                              }
                            },
                            {
                              "name": "The *real* reason",
                              "value": {
                                "body": "It was more of a spur of the moment thing. We don't really need another stranger bring a fresh perspective."
                              }
                            },
                            {
                              "name": "T-Shirt colors",
                              "value": {
                                "choices": [
                                  "Creamy White",
                                  "Salmon Pink"
                                ]
                              }
                            },
                            {
                              "name": "Unofficial salary",
                              "value": {
                                "data": {
                                  "amount": 5000,
                                  "frequency": "month",
                                  "currency_iso": "USD"
                                }
                              }
                            }
                          ],
                          "approval_groups": [
                            {
                              "id": "129cf872",
                              "approvers": [
                                {
                                  "id": "15046d4c",
                                  "name": "Kate Austen",
                                  "decision": "approved"
                                }
                              ]
                            },
                            {
                              "id": "b95a6fa",
                              "approvers": [
                                {
                                  "id": "2310f579",
                                  "name": "John Locke",
                                  "decision": "rejected"
                                }
                              ]
                            }
                          ]
                        }
                      ]
                    }
              schema:
                $ref: '#/components/schemas/RequisitionRejectRequestResponse'
        '401':
          description: '401'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "error":"Not authorized"
                    }
              schema:
                $ref: '#/components/schemas/RequisitionRejectRequest401Response'
        '404':
          description: '404'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "error":"Not found"
                    }
              schema:
                $ref: '#/components/schemas/RequisitionRejectRequest404Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: shell
            code: "curl \t-X PATCH\n\t\t\t-H \"Content-Type: application/json\" \\\n\t\t\t-H \"Authorization:Bearer <Access Token>\" \\\n      https://<subdomain>.workable.com/spi/v3/requisitions/<code>/reject\n      -d '{\"rejection_reason\": \"I think the range is not in accordance with the level\"}'"
        samples-languages:
          - shell
  /offers/{id}:
    get:
      tags:
        - Offer
      summary: /offers/:id
      operationId: Offer_get
      description: >-
        Returns an offer. Required scope: `r_offers`. Accessible only with user
        tokens.
      parameters:
        - description: The ID of the offer
          name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |
                    {
                      "requisitions": [
                        {
                          "id": "16d60890",
                          "code": "REQ101",
                          "job": {
                            "id": "23c47225",
                            "title": "Pilot"
                          },
                          "department": {
                            "id": "1ee2e1d2",
                            "name": "Flight"
                          },
                          "location": {
                            "location_str": "California, USA",
                            "country": "United States",
                            "country_code": "US",
                            "region": "California",
                            "region_code": "CA",
                            "city": null,
                            "zip_code": null
                          },
                          "hiring_manager": {
                            "id": "31169ee",
                            "name": "Jack Shephard"
                          },
                          "owner": {
                            "id": "2310f579",
                            "name": "John Locke"
                          },
                          "plan_date": "2022-12-31",
                          "start_date": null,
                          "salary_range": {
                            "from": 60000,
                            "to": 80000,
                            "frequency": "year",
                            "currency": "EUR"
                          },
                          "employment_type": "Full-time",
                          "reason": "replacement",
                          "state": "pending",
                          "requisition_attributes": [
                            {
                              "name": "Level",
                              "value": {
                                "body": "Senior"
                              }
                            },
                            {
                              "name": "Relocation Package?",
                              "value": {
                                "body": true
                              }
                            },
                            {
                              "name": "Shift",
                              "value": {
                                "choices": [
                                  "Morning"
                                ]
                              }
                            },
                            {
                              "name": "Number of shares",
                              "value": {
                                "body": 150
                              }
                            },
                            {
                              "name": "Just a random date",
                              "value": {
                                "body": "2018-11-30"
                              }
                            },
                            {
                              "name": "The *real* reason",
                              "value": {
                                "body": "It was more of a spur of the moment thing. We don't really need another stranger bring a fresh perspective."
                              }
                            },
                            {
                              "name": "T-Shirt colors",
                              "value": {
                                "choices": [
                                  "Creamy White",
                                  "Salmon Pink"
                                ]
                              }
                            },
                            {
                              "name": "Unofficial salary",
                              "value": {
                                "data": {
                                  "amount": 5000,
                                  "frequency": "month",
                                  "currency_iso": "USD"
                                }
                              }
                            }
                          ],
                          "approval_groups": [
                            {
                              "id": "129cf872",
                              "approvers": [
                                {
                                  "id": "15046d4c",
                                  "name": "Kate Austen",
                                  "decision": "approved"
                                }
                              ]
                            },
                            {
                              "id": "b95a6fa",
                              "approvers": [
                                {
                                  "id": "2310f579",
                                  "name": "John Locke",
                                  "decision": "rejected"
                                }
                              ]
                            }
                          ]
                        }
                      ]
                    }
              schema:
                $ref: '#/components/schemas/OfferGetResponse'
        '401':
          description: '401'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "error":"Not authorized"
                    }
              schema:
                $ref: '#/components/schemas/OfferGet401Response'
        '404':
          description: '404'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "error":"Not found"
                    }
              schema:
                $ref: '#/components/schemas/OfferGet404Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: shell
            code: "curl \t-H \"Content-Type: application/json\" \\\n\t\t\t-H \"Authorization:Bearer <Access Token>\" \\\n      https://<subdomain>.workable.com/spi/v3/offers/<id>"
        samples-languages:
          - shell
  /offers/{id}/approve (COPY):
    patch:
      tags:
        - Offer
      summary: /offers/:id/approve
      operationId: Offer_approveAction
      description: >-
        Approves an offer (must be in a compatible state). Required scope:
        `w_offers`. Accessible only with user tokens.
      parameters:
        - description: The ID of the offer
          name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |
                    {
                      "requisitions": [
                        {
                          "id": "16d60890",
                          "code": "REQ101",
                          "job": {
                            "id": "23c47225",
                            "title": "Pilot"
                          },
                          "department": {
                            "id": "1ee2e1d2",
                            "name": "Flight"
                          },
                          "location": {
                            "location_str": "California, USA",
                            "country": "United States",
                            "country_code": "US",
                            "region": "California",
                            "region_code": "CA",
                            "city": null,
                            "zip_code": null
                          },
                          "hiring_manager": {
                            "id": "31169ee",
                            "name": "Jack Shephard"
                          },
                          "owner": {
                            "id": "2310f579",
                            "name": "John Locke"
                          },
                          "plan_date": "2022-12-31",
                          "start_date": null,
                          "salary_range": {
                            "from": 60000,
                            "to": 80000,
                            "frequency": "year",
                            "currency": "EUR"
                          },
                          "employment_type": "Full-time",
                          "reason": "replacement",
                          "state": "pending",
                          "requisition_attributes": [
                            {
                              "name": "Level",
                              "value": {
                                "body": "Senior"
                              }
                            },
                            {
                              "name": "Relocation Package?",
                              "value": {
                                "body": true
                              }
                            },
                            {
                              "name": "Shift",
                              "value": {
                                "choices": [
                                  "Morning"
                                ]
                              }
                            },
                            {
                              "name": "Number of shares",
                              "value": {
                                "body": 150
                              }
                            },
                            {
                              "name": "Just a random date",
                              "value": {
                                "body": "2018-11-30"
                              }
                            },
                            {
                              "name": "The *real* reason",
                              "value": {
                                "body": "It was more of a spur of the moment thing. We don't really need another stranger bring a fresh perspective."
                              }
                            },
                            {
                              "name": "T-Shirt colors",
                              "value": {
                                "choices": [
                                  "Creamy White",
                                  "Salmon Pink"
                                ]
                              }
                            },
                            {
                              "name": "Unofficial salary",
                              "value": {
                                "data": {
                                  "amount": 5000,
                                  "frequency": "month",
                                  "currency_iso": "USD"
                                }
                              }
                            }
                          ],
                          "approval_groups": [
                            {
                              "id": "129cf872",
                              "approvers": [
                                {
                                  "id": "15046d4c",
                                  "name": "Kate Austen",
                                  "decision": "approved"
                                }
                              ]
                            },
                            {
                              "id": "b95a6fa",
                              "approvers": [
                                {
                                  "id": "2310f579",
                                  "name": "John Locke",
                                  "decision": "rejected"
                                }
                              ]
                            }
                          ]
                        }
                      ]
                    }
              schema:
                $ref: '#/components/schemas/OfferApproveActionResponse'
        '401':
          description: '401'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "error":"Not authorized"
                    }
              schema:
                $ref: '#/components/schemas/OfferApproveAction401Response'
        '404':
          description: '404'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "error":"Not found"
                    }
              schema:
                $ref: '#/components/schemas/OfferApproveAction404Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: shell
            code: "curl \t-X PATCH\n\t\t\t-H \"Content-Type: application/json\" \\\n\t\t\t-H \"Authorization:Bearer <Access Token>\" \\\n      https://<subdomain>.workable.com/spi/v3/offers/<id>/approve"
        samples-languages:
          - shell
  /offers/{id}/reject:
    patch:
      tags:
        - Offer
      summary: /offers/:id/reject
      operationId: Offer_rejectOffer
      description: >-
        Rejects an offer (must be in a compatible state). Required scope:
        `w_offers`. Accessible only with user tokens.
      parameters:
        - description: The ID of the offer
          name: id
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OfferRejectOfferRequest'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |
                    {
                      "requisitions": [
                        {
                          "id": "16d60890",
                          "code": "REQ101",
                          "job": {
                            "id": "23c47225",
                            "title": "Pilot"
                          },
                          "department": {
                            "id": "1ee2e1d2",
                            "name": "Flight"
                          },
                          "location": {
                            "location_str": "California, USA",
                            "country": "United States",
                            "country_code": "US",
                            "region": "California",
                            "region_code": "CA",
                            "city": null,
                            "zip_code": null
                          },
                          "hiring_manager": {
                            "id": "31169ee",
                            "name": "Jack Shephard"
                          },
                          "owner": {
                            "id": "2310f579",
                            "name": "John Locke"
                          },
                          "plan_date": "2022-12-31",
                          "start_date": null,
                          "salary_range": {
                            "from": 60000,
                            "to": 80000,
                            "frequency": "year",
                            "currency": "EUR"
                          },
                          "employment_type": "Full-time",
                          "reason": "replacement",
                          "state": "pending",
                          "requisition_attributes": [
                            {
                              "name": "Level",
                              "value": {
                                "body": "Senior"
                              }
                            },
                            {
                              "name": "Relocation Package?",
                              "value": {
                                "body": true
                              }
                            },
                            {
                              "name": "Shift",
                              "value": {
                                "choices": [
                                  "Morning"
                                ]
                              }
                            },
                            {
                              "name": "Number of shares",
                              "value": {
                                "body": 150
                              }
                            },
                            {
                              "name": "Just a random date",
                              "value": {
                                "body": "2018-11-30"
                              }
                            },
                            {
                              "name": "The *real* reason",
                              "value": {
                                "body": "It was more of a spur of the moment thing. We don't really need another stranger bring a fresh perspective."
                              }
                            },
                            {
                              "name": "T-Shirt colors",
                              "value": {
                                "choices": [
                                  "Creamy White",
                                  "Salmon Pink"
                                ]
                              }
                            },
                            {
                              "name": "Unofficial salary",
                              "value": {
                                "data": {
                                  "amount": 5000,
                                  "frequency": "month",
                                  "currency_iso": "USD"
                                }
                              }
                            }
                          ],
                          "approval_groups": [
                            {
                              "id": "129cf872",
                              "approvers": [
                                {
                                  "id": "15046d4c",
                                  "name": "Kate Austen",
                                  "decision": "approved"
                                }
                              ]
                            },
                            {
                              "id": "b95a6fa",
                              "approvers": [
                                {
                                  "id": "2310f579",
                                  "name": "John Locke",
                                  "decision": "rejected"
                                }
                              ]
                            }
                          ]
                        }
                      ]
                    }
              schema:
                $ref: '#/components/schemas/OfferRejectOfferResponse'
        '401':
          description: '401'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "error":"Not authorized"
                    }
              schema:
                $ref: '#/components/schemas/OfferRejectOffer401Response'
        '404':
          description: '404'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "error":"Not found"
                    }
              schema:
                $ref: '#/components/schemas/OfferRejectOffer404Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: shell
            code: "curl \t-X PATCH\n\t\t\t-H \"Content-Type: application/json\" \\\n\t\t\t-H \"Authorization:Bearer <Access Token>\" \\\n      https://<subdomain>.workable.com/spi/v3/offers/<id>/reject\n      -d '{\"rejection_reason\": \"I think the salary we are offering is too high\"}'"
        samples-languages:
          - shell
  /jobs:
    get:
      tags:
        - Job
      summary: /jobs
      operationId: Job_collectionGet
      description: >-
        Returns a collection of your account jobs. Required scope: `r_jobs`.
        Accessible with all token types.
      parameters:
        - description: >-
            Returns jobs with the current state. Possible values (draft,
            published, archived & closed).
          name: state
          in: query
          schema:
            type: string
        - description: Specifies the number of jobs to try and retrieve per page (optional)
          name: limit
          in: query
          schema:
            type: integer
            format: int32
            default: 50
        - description: >-
            Returns results with an ID greater than or equal to the specified
            ID. (optional)
          name: since_id
          in: query
          schema:
            type: string
        - description: >-
            Returns results with an ID less than or equal to the specified ID.
            (optional)
          name: max_id
          in: query
          schema:
            type: string
        - description: Returns results created after the specified timestamp. (optional)
          name: created_after
          in: query
          schema:
            type: string
            format: date-time
        - description: Returns results updated after the specified timestamp.
          name: updated_after
          in: query
          schema:
            type: string
            format: date-time
        - description: >-
            Includes additional fields in each job (description,
            full_description, requirements and benefits).
          name: include_fields
          in: query
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{  \n  \"jobs\": [\n    {\n      \"id\": \"61884e2\",\n      \"title\": \"Sales Intern\",\n      \"full_title\": \"Sales Intern - US/3/SI\",\n      \"shortcode\": \"GROOV003\",\n      \"code\": \"US/3/SI\",\n      \"state\": \"draft\",\n      \"department\": \"Sales\",\n      \"department_hierarchy\": [\n        {\n        \t\"id: 792289334,\n          \"name\": \"Sales\"\n        }\n      ],\n      \"url\": \"https://groove-tech.workable.com/jobs/102268944\",\n      \"application_url\": \"https://groove-tech.workable.com/jobs/102268944/candidates/new\",\n      \"shortlink\": \"https://groove-tech.workable.com/j/GROOV003\",\n      \"location\": {\n        \"location_str\": \"Portland, Oregon, United States\",\n        \"country\": \"United States\",\n        \"country_code\": \"US\",\n        \"region\": \"Oregon\",\n        \"region_code\": \"OR\",\n        \"city\": \"Portland\",\n        \"zip_code\": \"97201\",\n        \"telecommuting\": false\n      },\n      \"salary\": {\n        \"salary_from\": 10000,\n        \"salary_to\": 20000,\n        \"salary_currency\": \"eur\"\n      },\n      \"created_at\": \"2015-07-01T00:00:00Z\"\n    },\n    {\n      \"id\": \"1166bf8c\",\n      \"title\": \"Operations Manager\",\n      \"full_title\": \"Operations Manager - US/02/CM\",\n      \"shortcode\": \"GROOV001\",\n      \"code\": \"US/02/CM\",\n      \"state\": \"archived\",\n      \"department\": \"Operations\",\n      \"url\": \"https://groove-tech.workable.com/jobs/291945146\",\n      \"application_url\": \"https://groove-tech.workable.com/jobs/291945146/candidates/new\",\n      \"shortlink\": \"https://groove-tech.workable.com/j/GROOV001\",\n      \"location\": {\n        \"location_str\": \"Chicago, Illinois, United States\",\n        \"country\": \"United States\",\n        \"country_code\": \"US\",\n        \"region\": \"Illinois\",\n        \"region_code\": \"IL\",\n        \"city\": \"Chicago\",\n        \"zip_code\": \"60290\",\n        \"telecommuting\": false\n      },\n      \"created_at\": \"2015-05-07T00:00:00Z\"\n    },\n    {\n      \"id\": \"167636b1\",\n      \"title\": \"Office Manager\",\n      \"full_title\": \"Office Manager - US/4/OM\",\n      \"shortcode\": \"GROOV005\",\n      \"code\": \"US/4/OM\",\n      \"state\": \"published\",\n      \"department\": \"Administration\",\n      \"url\": \"https://groove-tech.workable.com/jobs/376844767\",\n      \"application_url\": \"https://groove-tech.workable.com/jobs/376844767/candidates/new\",\n      \"shortlink\": \"https://groove-tech.workable.com/j/GROOV005\",\n      \"location\": {\n        \"location_str\": \"Chicago, Illinois, United States\",\n        \"country\": \"United States\",\n        \"country_code\": \"US\",\n        \"region\": \"Illinois\",\n        \"region_code\": \"IL\",\n        \"city\": \"Chicago\",\n        \"zip_code\": \"60290\",\n        \"telecommuting\": false\n      },\n      \"created_at\": \"2015-06-06T00:00:00Z\"\n    }\n  ],\n  \"paging\": {\n    \"next\": \"https://www.workable.com/spi/v3/accounts/groove-tech/jobs?limit=3&since_id=2700d6df\"\n  }\n}"
              schema:
                $ref: '#/components/schemas/JobCollectionGetResponse'
        '401':
          description: '401'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "error":"Not authorized"
                    }
              schema:
                $ref: '#/components/schemas/JobCollectionGet401Response'
        '404':
          description: '404'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "error":"Not found"
                    }
              schema:
                $ref: '#/components/schemas/JobCollectionGet404Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: shell
            code: "curl \t-H \"Content-Type: application/json\" \\\n\t\t\t-H \"Authorization:Bearer <Access Token>\" \\\n      https://<subdomain>.workable.com/spi/v3/jobs?state=published"
        samples-languages:
          - shell
  /jobs/{shortcode}:
    get:
      tags:
        - Job
      summary: /jobs/:shortcode
      operationId: Job_getDetails
      description: >-
        Returns the details of the specified job. Required scope: `r_jobs`.
        Accessible with all token types.
      parameters:
        - description: The job's shortcode
          name: shortcode
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "id": "167636b1",
                      "title": "Office Manager",
                      "full_title": "Office Manager - US/4/OM",
                      "shortcode": "GROOV005",
                      "code": "US/4/OM",
                      "state": "published",
                      "department": "Administration",
                      "url": "https://groove-tech.lvh.me:3000/jobs/376844767",
                      "application_url": "https://groove-tech.lvh.me:3000/jobs/376844767/candidates/new",
                      "shortlink": "https://groove-tech.lvh.me:3000/j/GROOV005",
                      "location": {
                        "country": "United States",
                        "country_code": "US",
                        "region": "Illinois",
                        "region_code": "IL",
                        "city": "Chicago",
                        "zip_code": "60290",
                        "telecommuting": false
                      },
                      "created_at": "2015-06-08T00:00:00Z",
                      "full_description": " <p>We are looking for an Office Manager to organize and coordinate office operations and procedures, in order to ensure organizational effectiveness, efficiency and safety.The ideal candidate will be experienced in handling a wide range of administrative and executive support related tasks and will be able to work independently with little or no supervision. This person must be exceedingly well organized, flexible and enjoy the administrative challenges of supporting an office of diverse people.</p> <p>Responsibilities:<ul> <li>Serve as the point person for maintenance, mailing, shopping, supplies, equipment, bills, and errands</li> <li>Organize and schedule meetings and appointments</li> <li>Partner with HR to maintain office policies as necessary</li> <li>Organize office operations and proceduresCoordinate with IT department on all office equipment</li> <li>Manage relationships with vendors, service providers, and landlord, ensuring that all items are invoiced and paid on time</li> <li>Manage contract and price negotiations with office vendors, service providers and office lease</li> <li>Manage office G&A budget, ensure accurate and timely reporting</li> <li>Provide general support to visitors</li> </ul></p><p><strong>Requirements</strong></p><ul> <li>4+ years of office management, administrative or assistant experience</li> <li>Knowledge of office management systems and procedures</li> <li>Excellent time management skills and ability to multi-task and prioritize work</li> <li>Attention to detail and problem solving skills</li> <li>Excellent written and verbal communication skills</li> <li>Strong organizational and planning skills</li> <li>Proficiency in MS Office</li> </ul><p><strong>Benefits</strong></p><ul>\\\n <li>Great opportunities for career development</li> <li>All your equipment provided including a laptop</li> <li>Increasing vacation days with each year of employment</li> </ul>",
                      "description": " <p>We are looking for an Office Manager to organize and coordinate office operations and procedures, in order to ensure organizational effectiveness, efficiency and safety.The ideal candidate will be experienced in handling a wide range of administrative and executive support related tasks and will be able to work independently with little or no supervision. This person must be exceedingly well organized, flexible and enjoy the administrative challenges of supporting an office of diverse people.</p> <p>Responsibilities:<ul> <li>Serve as the point person for maintenance, mailing, shopping, supplies, equipment, bills, and errands</li> <li>Organize and schedule meetings and appointments</li> <li>Partner with HR to maintain office policies as necessary</li> <li>Organize office operations and proceduresCoordinate with IT department on all office equipment</li> <li>Manage relationships with vendors, service providers, and landlord, ensuring that all items are invoiced and paid on time</li> <li>Manage contract and price negotiations with office vendors, service providers and office lease</li> <li>Manage office G&A budget, ensure accurate and timely reporting</li> <li>Provide general support to visitors</li> </ul></p>",
                      "requirements": "<ul> <li>4+ years of office management, administrative or assistant experience</li> <li>Knowledge of office management systems and procedures</li> <li>Excellent time management skills and ability to multi-task and prioritize work</li> <li>Attention to detail and problem solving skills</li> <li>Excellent written and verbal communication skills</li> <li>Strong organizational and planning skills</li> <li>Proficiency in MS Office</li> </ul>",
                      "benefits": "<ul> <li>Great opportunities for career development</li> <li>All your equipment provided including a laptop</li> <li>Increasing vacation days with each year of employment</li> </ul>",
                      "employment_type": "Full-time",
                      "industry": "Business Supplies and equipment",
                      "function": "Administrative",
                      "experience": "Associate",
                      "education": "High School or equivalent",
                      "keywords": ["manager", "administrative"],
                      "salary": {
                            "salary_from": 10000,
                            "salary_to": 20000,
                            "salary_currency": "eur"
                       }
                    }
              schema:
                $ref: '#/components/schemas/JobGetDetailsResponse'
        '401':
          description: '401'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "error":"Not authorized"
                    }
              schema:
                $ref: '#/components/schemas/JobGetDetails401Response'
        '404':
          description: '404'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "error":"Not found"
                    }
              schema:
                $ref: '#/components/schemas/JobGetDetails404Response'
      deprecated: false
      x-readme:
        code-samples:
          - language: curl
            code: "curl \t-H \"Content-Type: application/json\" \\\n\t\t\t-H \"Authorization:Bearer <Access Token>\" \\\n      https://<subdomain>.workable.com/spi/v3/jobs/<shortcode>"
        samples-languages:
          - curl
  /jobs/{shortcode}/activities:
    get:
      tags:
        - Job
      summary: /jobs/:shortcode/activities
      operationId: Job_getActivityStream
      description: >-
        Returns the activity stream of the given job. Requires scope
        `r_candidates`. Accessible with all token types.
      parameters:
        - description: The job's shortcode
          name: shortcode
          in: path
          required: true
          schema:
            type: string
        - description: >-
            Specifies the number of members to try and retrieve per page
            (optional)
          name: limit
          in: query
          schema:
            type: integer
            format: int32
            default: 50
        - description: >-
            Returns results with an ID greater than or equal to the specified
            ID. (optional)
          name: since_id
          in: query
          schema:
            type: string
        - description: >-
            Returns results with an ID less than or equal to the specified ID.
            (optional)
          name: max_id
          in: query
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
[...]
