openapi: 3.0.2
info:
  title: Zapier AI Actions API
  description: ''
  version: 1.0.0
servers:
  - url: https://actions.zapier.com
tags:
  - name: Action
  - name: Check
  - name: Configuration
  - name: Log
paths:
  /api/v1/check:
    get:
      tags:
        - Check
      summary: Check
      operationId: Check_authTestGet
      security:
        - SessionAuth: []
        - AccessPointApiKeyHeader: []
        - AccessPointApiKeyQuery: []
        - AccessPointOAuth: []
      description: Test that the API and auth are working.
      parameters: []
      responses:
        '200':
          description: OK
  /api/v1/configuration-link:
    get:
      tags:
        - Configuration
      summary: Get Configuration Link
      operationId: Configuration_getConfigurationLink
      security:
        - SessionAuth: []
        - AccessPointApiKeyHeader: []
        - AccessPointApiKeyQuery: []
        - AccessPointOAuth: []
      description: >-
        Provides a link to configure more actions. Alternatively, searching
        through apps and actions will provide more specific configuration links.
      parameters: []
      responses:
        '200':
          description: OK
  /api/v1/exposed:
    get:
      tags:
        - Action
      summary: List Exposed Actions
      operationId: Action_listExposedActions
      security:
        - SessionAuth: []
        - AccessPointApiKeyHeader: []
        - AccessPointApiKeyQuery: []
        - AccessPointOAuth: []
      description: List all the currently exposed actions for the given account.
      parameters: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExposedActionResponseSchema'
  /api/v1/exposed/{exposed_app_action_id}/execute:
    post:
      tags:
        - Action
      summary: Execute App Action Endpoint
      operationId: Action_executeAppAction
      security:
        - SessionAuth: []
        - AccessPointApiKeyHeader: []
        - AccessPointApiKeyQuery: []
        - AccessPointOAuth: []
      description: >-
        Give us a plain english description of exact action you want to do.
        There should be dynamically generated documentation for this endpoint
        for each action that is exposed.
      parameters:
        - in: path
          name: exposed_app_action_id
          schema:
            title: Exposed App Action Id
            type: string
            pattern: ^[A-Z0-9]{26}$
            example: 01ARZ3NDEKTSV4RRFFQ69G5FAV
          required: true
          example: 01ARZ3NDEKTSV4RRFFQ69G5FAV
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExecuteRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExecuteResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v1/execution-log/{execution_log_id}:
    get:
      tags:
        - Log
      summary: Get Execution Log Endpoint
      operationId: Log_getExecutionLog
      security:
        - SessionAuth: []
        - AccessPointApiKeyHeader: []
        - AccessPointApiKeyQuery: []
        - AccessPointOAuth: []
      description: Get the execution log for a given execution log id.
      parameters:
        - in: path
          name: execution_log_id
          schema:
            title: Execution Log Id
            type: string
            pattern: ^[A-Z0-9]{26}$
            example: 01ARZ3NDEKTSV4RRFFQ69G5FAV
          required: true
          example: 01ARZ3NDEKTSV4RRFFQ69G5FAV
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExecuteResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    ExposedActionSchema:
      title: ExposedActionSchema
      type: object
      properties:
        description:
          title: Description
          description: Description of the action.
          type: string
        id:
          title: Id
          description: The unique ID of the exposed action.
          type: string
        operation_id:
          title: Operation Id
          description: The operation ID of the exposed action.
          type: string
        params:
          title: Params
          description: Available hint fields for the action.
          type: object
      required:
        - id
        - operation_id
        - description
        - params
    ExposedActionResponseSchema:
      title: ExposedActionResponseSchema
      type: object
      properties:
        results:
          title: Results
          type: array
          items:
            $ref: '#/components/schemas/ExposedActionSchema'
        configuration_link:
          title: Configuration Link
          description: URL to configure and expose more actions.
          type: string
      required:
        - results
        - configuration_link
    ExecuteResponse:
      title: ExecuteResponse
      description: This is a summary of the results given the action that was executed.
      type: object
      properties:
        id:
          title: Id
          description: The id of the execution log.
          type: string
        action_used:
          title: Action Used
          description: The name of the action that was executed.
          type: string
        input_params:
          title: Input Params
          description: The params we used / will use to execute the action.
          type: object
        review_url:
          title: Review Url
          description: >-
            The URL to run the action or review the AI choices the AI made for
            input_params given instructions.
          type: string
        result:
          title: Result
          description: >-
            A trimmed down result of the first item of the full results. Ideal
            for humans and language models!
          type: object
        additional_results:
          title: Additional Results
          description: The rest of the full results. Always returns an array of objects
          type: array
          items:
            type: object
        result_field_labels:
          title: Result Field Labels
          description: Human readable labels for some of the keys in the result.
          type: object
        status:
          title: Status
          description: The status of the execution.
          default: success
          enum:
            - success
            - error
            - empty
            - preview
          type: string
        error:
          title: Error
          description: The error message if the execution failed.
          type: string
        assistant_hint:
          title: Assistant Hint
          description: A hint for the assistant on what to do next.
          type: string
      required:
        - id
        - action_used
        - input_params
        - review_url
        - additional_results
    ErrorResponse:
      title: ErrorResponse
      type: object
      properties:
        error:
          title: Error
          description: Error message.
          type: string
      required:
        - error
    ExecuteRequest:
      title: ExecuteRequest
      description: >-
        This extends from ExecuteRequestBase to add the preview_only option.


        (1) Providers who allow side effects or (2) actions that do not have a
        side effect should use this class.
      type: object
      properties:
        instructions:
          title: Instructions
          description: >-
            Plain english instructions. Provide as much detail as possible, even
            if other fields are present.
          type: string
        preview_only:
          title: Preview Only
          description: >-
            If true, we will not execute the action, but will return the params
            of the preview.
          default: false
          type: boolean
      required:
        - instructions
  securitySchemes:
    SessionAuth:
      type: apiKey
      in: cookie
      name: nlasession
    AccessPointApiKeyHeader:
      type: apiKey
      in: header
      name: X-API-Key
    AccessPointApiKeyQuery:
      type: apiKey
      in: query
      name: api_key
    AccessPointOAuth:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: /oauth/authorize/
          tokenUrl: /oauth/token/
          scopes:
            nla:exposed_actions:execute: Run AI Actions
