{
  "openapi": "3.0.0",
  "info": {
    "title": "SoftLedger Accounting API v2",
    "contact": {
      "email": "support@softledger.com"
    },
    "version": "1.0.0",
    "x-logo": {
      "url": "https://sl-ui-assets.s3.amazonaws.com/images/SoftLedger+Logo+White.png"
    }
  },
  "servers": [
    {
      "url": "https://api.softledger.com/v2",
      "description": "Production(US)"
    },
    {
      "url": "https://eu-api.softledger.com/v2",
      "description": "Europe"
    }
  ],
  "security": [
    {
      "OAuth2": []
    }
  ],
  "components": {
    "securitySchemes": {
      "OAuth2": {
        "type": "oauth2",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://auth.accounting-auth.com/oauth/token",
            "scopes": {}
          }
        }
      }
    },
    "schemas": {
      "CountResponse": {
        "type": "object",
        "properties": {
          "count": {
            "type": "string",
            "format": "number",
            "description": "Result could be a bigint, so returns as string"
          },
          "estimate": {
            "type": "boolean"
          }
        }
      },
      "BillSearchItem": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "integer"
          },
          "status": {
            "type": "string",
            "enum": [
              "created",
              "approved",
              "partiallyPaid",
              "paid",
              "voided"
            ]
          },
          "approvalStatus": {
            "type": "string",
            "enum": [
              "unapproved",
              "partiallyApproved",
              "approved"
            ]
          },
          "paymentStatus": {
            "type": "string",
            "enum": [
              "unpaid",
              "partiallyPaid",
              "paid"
            ]
          },
          "externalId": {
            "type": "string"
          },
          "invoiceNumber": {
            "type": "string",
            "format": "number"
          },
          "invoiceDate": {
            "type": "string",
            "format": "date"
          },
          "postedDate": {
            "type": "string",
            "format": "date"
          },
          "dueDate": {
            "type": "string",
            "format": "date"
          },
          "notes": {
            "type": "string"
          },
          "attachments": {
            "type": "array",
            "description": "Links to any attached documents",
            "items": {
              "type": "string",
              "format": "uri"
            }
          },
          "approved_on": {
            "type": "string",
            "format": "date"
          },
          "approved_name": {
            "type": "string"
          },
          "approved_email": {
            "type": "string",
            "format": "email"
          },
          "reference": {
            "type": "string"
          },
          "currency": {
            "type": "string",
            "format": "ISO4217 3 Char Code"
          },
          "amount": {
            "type": "string",
            "format": "number"
          },
          "dueAmount": {
            "type": "string",
            "format": "number",
            "description": "Amount left to pay"
          },
          "customFields": {
            "type": "object",
            "description": "Key -> Value hash of custom fields"
          },
          "SystemJobId": {
            "type": "string",
            "description": "Ref: SystemJob._id"
          },
          "LocationId": {
            "type": "integer",
            "description": "Ref: Location._id"
          },
          "Location": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            }
          },
          "ICLocationId": {
            "type": "integer",
            "description": "Ref: Location._id"
          },
          "ICLocation": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            }
          },
          "VendorId": {
            "type": "integer",
            "description": "Ref: Vendor._id"
          },
          "Vendor": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "description": "Ref: Vendor.name"
              }
            }
          },
          "APAccountId": {
            "type": "integer",
            "description": "Ref: LedgerAccount._id"
          },
          "APAccount": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "number": {
                "type": "string"
              }
            }
          },
          "PurchaseOrderId": {
            "type": "integer",
            "description": "Ref: PurchaseOrder._id"
          },
          "PurchaseOrder": {
            "type": "object",
            "properties": {
              "number": {
                "type": "string",
                "description": "Ref: PurchaseOrder.number"
              }
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "InvoiceList": {
        "type": "object",
        "properties": {
          "hasNextPage": {
            "type": "boolean",
            "description": "true if there are more pages"
          },
          "cursor": {
            "type": "string",
            "description": "Send in next query to page forward"
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "_id": {
                  "type": "integer"
                },
                "status": {
                  "type": "string",
                  "enum": [
                    "created",
                    "issued",
                    "partialPayment",
                    "paid",
                    "voided"
                  ]
                },
                "externalId": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                },
                "invoiceDate": {
                  "type": "string",
                  "format": "date"
                },
                "postedDate": {
                  "type": "string",
                  "format": "date"
                },
                "dueDate": {
                  "type": "string",
                  "format": "date"
                },
                "notes": {
                  "type": "string"
                },
                "customFields": {
                  "type": "object",
                  "description": "Key -> Value hash of custom fields, must be defined via the UI to show up in the UI"
                },
                "attachments": {
                  "type": "array",
                  "description": "Links to any attached documents",
                  "items": {
                    "type": "string",
                    "format": "uri"
                  }
                },
                "approved_on": {
                  "type": "string",
                  "format": "date"
                },
                "approved_name": {
                  "type": "string"
                },
                "approved_email": {
                  "type": "string",
                  "format": "email"
                },
                "reference": {
                  "type": "string"
                },
                "currency": {
                  "type": "string",
                  "format": "ISO4217 3 Char Code"
                },
                "amount": {
                  "type": "string",
                  "format": "number"
                },
                "amountPayable": {
                  "type": "string",
                  "format": "number",
                  "description": "Amount left to pay"
                },
                "SystemJobId": {
                  "type": "string",
                  "description": "Ref: SystemJob._id"
                },
                "LocationId": {
                  "type": "integer",
                  "description": "Ref: Location._id"
                },
                "Location": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    }
                  }
                },
                "ICLocationId": {
                  "type": "integer",
                  "description": "Ref: Location._id"
                },
                "ICLocation": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    }
                  }
                },
                "CustomerId": {
                  "type": "integer",
                  "description": "Ref: Customer._id"
                },
                "Customer": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "number"
                    },
                    "name": {
                      "type": "string",
                      "description": "Ref: Customer.name"
                    }
                  }
                },
                "ShippingAddressId": {
                  "type": "integer",
                  "description": "Ref: Address._id"
                },
                "ShippingAddress": {
                  "type": "object",
                  "properties": {
                    "label": {
                      "type": "string"
                    },
                    "line1": {
                      "type": "string"
                    },
                    "line2": {
                      "type": "string"
                    },
                    "city": {
                      "type": "string"
                    },
                    "state": {
                      "type": "string"
                    },
                    "zip": {
                      "type": "string"
                    },
                    "country": {
                      "type": "string"
                    }
                  }
                },
                "BillingAddressId": {
                  "type": "integer",
                  "description": "Ref: Address._id"
                },
                "BillingAddress": {
                  "type": "object",
                  "properties": {
                    "label": {
                      "type": "string"
                    },
                    "line1": {
                      "type": "string"
                    },
                    "line2": {
                      "type": "string"
                    },
                    "city": {
                      "type": "string"
                    },
                    "state": {
                      "type": "string"
                    },
                    "zip": {
                      "type": "string"
                    },
                    "country": {
                      "type": "string"
                    }
                  }
                },
                "ARAccountId": {
                  "type": "integer",
                  "description": "Ref: LedgerAccount._id"
                },
                "ARAccount": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "number": {
                      "type": "string"
                    }
                  }
                },
                "TemplateId": {
                  "type": "integer",
                  "description": "Ref: Template._id"
                },
                "SalesOrderId": {
                  "type": "integer",
                  "description": "Ref: SalesOrder._id"
                },
                "SalesOrder": {
                  "type": "object",
                  "properties": {
                    "number": {
                      "type": "string",
                      "description": "Ref: SalesOrder.number"
                    }
                  }
                },
                "ICJournalId": {
                  "type": "integer",
                  "description": "Ref: Journal._id\n\nID of the IC Journal entry booked for this invoice\n"
                },
                "createdAt": {
                  "type": "string",
                  "format": "date-time"
                },
                "updatedAt": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            }
          }
        }
      },
      "PaymentList": {
        "type": "object",
        "properties": {
          "hasNextPage": {
            "type": "boolean",
            "description": "true if there are more pages"
          },
          "cursor": {
            "type": "string",
            "description": "Send in next query to page forward"
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "_id": {
                  "type": "integer"
                },
                "externalId": {
                  "type": "string"
                },
                "externalCheckId": {
                  "type": "string"
                },
                "externalCheckBankId": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "enum": [
                    "manual",
                    "vendorcredit",
                    "cashreceipt",
                    "refund",
                    "ap_refund"
                  ]
                },
                "checkNumber": {
                  "type": "string"
                },
                "number": {
                  "type": "string"
                },
                "status": {
                  "type": "string",
                  "enum": [
                    "created",
                    "approved",
                    "voided"
                  ]
                },
                "amount": {
                  "type": "string",
                  "format": "number"
                },
                "paymentDate": {
                  "type": "string",
                  "format": "date"
                },
                "postedDate": {
                  "type": "string",
                  "format": "date"
                },
                "memo": {
                  "type": "string"
                },
                "notes": {
                  "type": "string"
                },
                "attachments": {
                  "type": "array",
                  "description": "Links to any attached documents",
                  "items": {
                    "type": "string",
                    "format": "uri"
                  }
                },
                "currency": {
                  "type": "string",
                  "description": "Ref: Currency.code"
                },
                "BillId": {
                  "type": "integer",
                  "description": "Ref: Bill._id"
                },
                "VendorCreditId": {
                  "type": "integer",
                  "description": "Ref: VendorCredit._id"
                },
                "LedgerAccountId": {
                  "type": "integer",
                  "description": "Ref: LedgerAccount._id"
                },
                "CashReceiptId": {
                  "type": "integer",
                  "description": "Ref: CashReceipt._id"
                },
                "AddressId": {
                  "type": "integer",
                  "description": "Ref: Address._id"
                },
                "LocationId": {
                  "type": "integer",
                  "description": "Ref: Location._id"
                },
                "InvoiceId": {
                  "type": "integer",
                  "description": "Ref: Invoice._id"
                },
                "VendorId": {
                  "type": "integer",
                  "description": "Ref: Vendor._id"
                },
                "CustomerId": {
                  "type": "integer",
                  "description": "Ref: Customer._id"
                },
                "BatchPaymentId": {
                  "type": "integer",
                  "description": "Ref: BatchPayment._id"
                },
                "createdAt": {
                  "type": "string",
                  "format": "date-time"
                },
                "updatedAt": {
                  "type": "string",
                  "format": "date-time"
                },
                "Address": {
                  "type": "object",
                  "properties": {
                    "isDefault": {
                      "type": "boolean"
                    },
                    "label": {
                      "type": "string"
                    },
                    "line1": {
                      "type": "string"
                    },
                    "line2": {
                      "type": "string"
                    },
                    "city": {
                      "type": "string"
                    },
                    "state": {
                      "type": "string"
                    },
                    "zip": {
                      "type": "string"
                    },
                    "country": {
                      "type": "string"
                    }
                  }
                },
                "Vendor": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string",
                      "format": "email"
                    },
                    "nameOnCheck": {
                      "type": "string"
                    }
                  }
                },
                "Bill": {
                  "type": "object",
                  "properties": {
                    "invoiceNumber": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    }
                  }
                },
                "Invoice": {
                  "type": "object",
                  "properties": {
                    "number": {
                      "type": "string"
                    },
                    "reference": {
                      "type": "string"
                    }
                  }
                },
                "Customer": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string",
                      "format": "email"
                    }
                  }
                },
                "VendorCredit": {
                  "type": "object",
                  "properties": {
                    "number": {
                      "type": "string"
                    }
                  }
                },
                "CashReceipt": {
                  "type": "object",
                  "properties": {
                    "number": {
                      "type": "string"
                    }
                  }
                },
                "Location": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    }
                  }
                },
                "LedgerAccount": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "number": {
                      "type": "string"
                    }
                  }
                },
                "BatchPayment": {
                  "type": "object",
                  "properties": {
                    "referenceNumber": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "StockAdjustmentSearchItem": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "integer"
          },
          "ItemId": {
            "type": "integer",
            "description": "Ref: Item._id"
          },
          "description": {
            "type": "string"
          },
          "WarehouseId": {
            "type": "integer",
            "description": "Ref: Warehouse._id"
          },
          "locked": {
            "type": "boolean"
          },
          "transactionDate": {
            "type": "string",
            "format": "date"
          },
          "postedDate": {
            "type": "string",
            "format": "date"
          },
          "AdjustmentLedgerAccountId": {
            "type": "integer",
            "description": "Ref: LedgerAccount._id"
          },
          "JournalId": {
            "type": "integer",
            "description": "Ref: Journal._id"
          },
          "type": {
            "type": "string",
            "enum": [
              "fulfill",
              "receive",
              "adjustment",
              "transfer",
              "production",
              "return",
              "voidreceive",
              "unfulfill"
            ]
          },
          "TransferId": {
            "type": "integer",
            "description": "Ref: Transfer._id"
          },
          "POLineItemId": {
            "type": "integer",
            "description": "Ref: POLineItem._id"
          },
          "SOLineItemId": {
            "type": "integer",
            "description": "Ref: SOLineItem._id"
          },
          "PurchaseOrderId": {
            "type": "integer",
            "description": "Ref: PurchaseOrder._id"
          },
          "SalesOrderId": {
            "type": "integer",
            "description": "Ref: SalesOrder._id"
          },
          "ShipmentReceiptLineId": {
            "type": "integer",
            "description": "Ref: ShipmentReceiptLine._id"
          },
          "quantity": {
            "type": "string",
            "format": "number"
          },
          "qtyPicked": {
            "type": "string",
            "format": "number"
          },
          "qtyAvailable": {
            "type": "string",
            "format": "number"
          },
          "currency": {
            "type": "string",
            "description": "Ref: Currency._id"
          },
          "price": {
            "type": "string",
            "format": "number"
          },
          "currencyRate": {
            "type": "string",
            "format": "number"
          },
          "costBasis": {
            "type": "string",
            "format": "number"
          },
          "AdjustmentLedgerAccount": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "number": {
                "type": "string"
              }
            }
          },
          "Item": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "number": {
                "type": "string"
              },
              "sku": {
                "type": "string"
              }
            }
          },
          "Warehouse": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              }
            }
          },
          "PurchaseOrder": {
            "type": "object",
            "properties": {
              "number": {
                "type": "string"
              }
            }
          },
          "SalesOrder": {
            "type": "object",
            "properties": {
              "number": {
                "type": "string"
              }
            }
          },
          "Journal": {
            "type": "object",
            "properties": {
              "number": {
                "type": "integer"
              }
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date"
          },
          "updatedAt": {
            "type": "string",
            "format": "date"
          }
        }
      }
    },
    "parameters": {
      "id": {
        "in": "path",
        "name": "id",
        "description": "id value",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "objectType": {
        "in": "query",
        "name": "objectType",
        "description": "Dimension Object Type",
        "required": true,
        "schema": {
          "type": "string",
          "enum": [
            "Invoice",
            "PurchaseOrder",
            "SalesOrder"
          ]
        }
      },
      "objectId": {
        "in": "query",
        "name": "objectId",
        "description": "Dimension Object Id",
        "required": true,
        "schema": {
          "type": "integer"
        }
      },
      "where": {
        "name": "where",
        "in": "query",
        "description": "JSON Key:Value object to filter results on",
        "schema": {
          "type": "string"
        }
      },
      "filter": {
        "name": "filter",
        "in": "query",
        "description": "JSON Key:Value object to filter results on",
        "schema": {
          "type": "string"
        }
      },
      "filterType": {
        "name": "filterType",
        "in": "query",
        "description": "Results will match \"all\" filters or just \"any\" of the passed filters",
        "schema": {
          "type": "string",
          "enum": [
            "all",
            "any"
          ],
          "default": "all"
        }
      },
      "status": {
        "name": "status",
        "in": "query",
        "description": "Results will return `active` or `inactive` based on the objects `inactive` property. If not set all results will be returned.",
        "schema": {
          "type": "string",
          "enum": [
            "active",
            "inactive"
          ]
        }
      },
      "offset": {
        "name": "offset",
        "in": "query",
        "description": "number of records to skip",
        "schema": {
          "type": "integer",
          "default": 0
        }
      },
      "limit": {
        "name": "limit",
        "in": "query",
        "description": "Maximum number of records to return.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 1000,
          "default": 25
        }
      },
      "cursor": {
        "name": "cursor",
        "in": "query",
        "description": "Cursor key to page forwards from. Must be populated from the result of a previous query call.\n",
        "schema": {
          "type": "string"
        }
      },
      "LocationId": {
        "name": "LocationId",
        "in": "query",
        "description": "Will include items from this Location and its children\n\nFilters on LocationId can further limit data.\n",
        "schema": {
          "type": "number",
          "description": "Ref: Location._id"
        }
      }
    }
  },
  "paths": {
    "/oauth/token": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Request Token",
        "description": "Request OAuth Token\n- URL for this request should be `https://auth.accounting-auth.com/oauth/token` for Production\n- URL for this request should be `https://eu.accounting-auth.com/oauth/token` for Europe\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "grant_type",
                  "audience",
                  "tenantUUID",
                  "client_id",
                  "client_secret"
                ],
                "properties": {
                  "grant_type": {
                    "type": "string",
                    "description": "The OAuth grant type used to generate the toekn.\n- Should be set to `client_credentials`\n"
                  },
                  "tenantUUID": {
                    "type": "string",
                    "description": "The Tenant UUID to request data for\n"
                  },
                  "audience": {
                    "type": "string",
                    "description": "API reference. This will be provided along with your client_id and client_secret."
                  },
                  "client_id": {
                    "type": "string",
                    "description": "The Client ID of the OAuth client"
                  },
                  "client_secret": {
                    "type": "string",
                    "description": "The Client Secret of the OAuth client"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Authentication Token Details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "access_token": {
                      "type": "string",
                      "description": "Access token to be passed in all API requests"
                    },
                    "expires_in": {
                      "type": "integer",
                      "description": "Seconds until token expires"
                    },
                    "scope": {
                      "type": "string",
                      "description": "List of scopes available"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/reports/accountBalance": {
      "post": {
        "tags": [
          "Financials"
        ],
        "summary": "Account Balance by Currency",
        "description": "Returns the consolidated balance of the Ledger Account passed broken down by currency.\nBalance Sheet accounts include all transactions until endDate\nIncome Statement accounts include all transactions from start of accounting year until endDate\n",
        "requestBody": {
          "description": "Account Balance Request",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "LocationId",
                  "LedgerAccountId",
                  "endDate",
                  "accountType"
                ],
                "properties": {
                  "status": {
                    "type": "string",
                    "description": "Journal status, if not set, all journals used",
                    "enum": [
                      "posted",
                      "draft"
                    ]
                  },
                  "LocationId": {
                    "type": "integer"
                  },
                  "LedgerAccountId": {
                    "type": "integer"
                  },
                  "startDate": {
                    "type": "string",
                    "format": "date",
                    "description": "Only used if accountType is Revenue/Expense"
                  },
                  "endDate": {
                    "type": "string",
                    "format": "date"
                  },
                  "accountType": {
                    "type": "string",
                    "enum": [
                      "Asset",
                      "Revenue",
                      "Expense",
                      "Liability",
                      "Equity"
                    ]
                  },
                  "consolidated": {
                    "type": "boolean",
                    "description": "If true, returns consolidated balance of all locations, false returns balance just for that location"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account Balance",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "currency": {
                        "type": "string",
                        "example": "USD"
                      },
                      "balance": {
                        "type": "number"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/reports/aging/bills": {
      "post": {
        "tags": [
          "Financials"
        ],
        "summary": "AP Aging Bills",
        "description": "Returns list of approved but not fully paid bills for the specified Vendor.\n",
        "requestBody": {
          "description": "AP Aging Bill Request",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "locationId",
                  "vendorId",
                  "date"
                ],
                "properties": {
                  "locationId": {
                    "type": "integer"
                  },
                  "vendorId": {
                    "type": "integer"
                  },
                  "date": {
                    "type": "string",
                    "format": "date",
                    "description": "return all bills with postedDate <= date"
                  },
                  "offset": {
                    "type": "integer",
                    "default": 0
                  },
                  "limit": {
                    "type": "integer",
                    "default": 25,
                    "description": "min 1, max 100"
                  },
                  "consolidated": {
                    "type": "boolean",
                    "default": false
                  },
                  "includeDraft": {
                    "type": "boolean",
                    "default": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "AP Aging Bills",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "_id": {
                            "type": "integer",
                            "description": "Bill \"_id\""
                          },
                          "invoiceNumber": {
                            "type": "string",
                            "description": "Bill Invoice Number"
                          },
                          "reference": {
                            "type": "string",
                            "description": "Bill reference"
                          },
                          "invoiceDate": {
                            "type": "string",
                            "format": "date",
                            "description": "Bill Invoice date"
                          },
                          "amount": {
                            "type": "string",
                            "format": "number",
                            "example": 1,
                            "description": "Bill due amount"
                          },
                          "currency": {
                            "type": "string",
                            "description": "currency bill is in",
                            "example": "USD"
                          }
                        }
                      }
                    },
                    "totalItems": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/reports/aging/Invoices": {
      "post": {
        "tags": [
          "Financials"
        ],
        "summary": "AR Aging Invoices",
        "description": "Returns list of issued but not fully paid invoices for the specified Customer/Agent.\n",
        "requestBody": {
          "description": "AR Aging Invoice Request",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "locationId",
                  "customerId",
                  "date"
                ],
                "properties": {
                  "locationId": {
                    "type": "integer"
                  },
                  "customerId": {
                    "type": "integer",
                    "description": "Customer/Agent \"_id\""
                  },
                  "date": {
                    "type": "string",
                    "format": "date",
                    "description": "return all invoices with invoiceDate <= date"
                  },
                  "offset": {
                    "type": "integer",
                    "default": 0
                  },
                  "limit": {
                    "type": "integer",
                    "default": 25,
                    "description": "min 1, max 100"
                  },
                  "consolidated": {
                    "type": "boolean",
                    "default": false
                  },
                  "includeDraft": {
                    "type": "boolean",
                    "default": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "AR Aging Invoices",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "_id": {
                            "type": "integer",
                            "description": "Invoice \"_id\""
                          },
                          "number": {
                            "type": "string",
                            "description": "Invoice number"
                          },
                          "reference": {
                            "type": "string",
                            "description": "Invoice reference"
                          },
                          "invoiceDate": {
                            "type": "string",
                            "format": "date",
                            "description": "Invoice Invoice date"
                          },
                          "amount": {
                            "type": "string",
                            "format": "number",
                            "description": "Invoice due amount",
                            "example": "1"
                          },
                          "currency": {
                            "type": "string",
                            "description": "currency Invoice is in",
                            "example": "USD"
                          }
                        }
                      }
                    },
                    "totalItems": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/reports/aging/ap": {
      "post": {
        "tags": [
          "Financials"
        ],
        "summary": "AP Aging",
        "description": "Returns list of approved but not fully paid bills. Grouped by date range\n",
        "requestBody": {
          "description": "AP Aging request",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "locationId",
                  "currency",
                  "start"
                ],
                "properties": {
                  "locationId": {
                    "type": "integer"
                  },
                  "currency": {
                    "type": "string",
                    "description": "currency to display results in",
                    "example": "USD"
                  },
                  "start": {
                    "type": "string",
                    "format": "date"
                  },
                  "consolidated": {
                    "type": "boolean",
                    "default": true
                  },
                  "includeDraft": {
                    "type": "boolean",
                    "default": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "AP Aging",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "0": {
                        "type": "number",
                        "description": "Balance from 0-30 days"
                      },
                      "1": {
                        "type": "number",
                        "description": "Balance from 31-30 days"
                      },
                      "2": {
                        "type": "number",
                        "description": "Balance from 61-90 days"
                      },
                      "3": {
                        "type": "number",
                        "description": "Balance from 91-120 days"
                      },
                      "4": {
                        "type": "number",
                        "description": "Balance from 121-150 days"
                      },
                      "5": {
                        "type": "number",
                        "description": "Balance from 150+ days"
                      },
                      "_id": {
                        "type": "integer",
                        "description": "Vendor \"_id\""
                      },
                      "id": {
                        "type": "string",
                        "description": "Vendor \"id\""
                      },
                      "name": {
                        "type": "string",
                        "description": "Vendor \"name\""
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/reports/aging/ar": {
      "post": {
        "tags": [
          "Financials"
        ],
        "summary": "AR Aging",
        "description": "Returns list of issued but not fully paid invoices. Grouped by date range\n",
        "requestBody": {
          "description": "AR Aging request",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "locationId",
                  "currency",
                  "start"
                ],
                "properties": {
                  "locationId": {
                    "type": "integer"
                  },
                  "currency": {
                    "type": "string",
                    "description": "currency to display results in",
                    "example": "USD"
                  },
                  "start": {
                    "type": "string",
                    "format": "date"
                  },
                  "consolidated": {
                    "type": "boolean",
                    "default": true
                  },
                  "includeDraft": {
                    "type": "boolean",
                    "default": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "AR Aging",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "0": {
                        "type": "number",
                        "description": "Balance from 0-30 days"
                      },
                      "1": {
                        "type": "number",
                        "description": "Balance from 31-30 days"
                      },
                      "2": {
                        "type": "number",
                        "description": "Balance from 61-90 days"
                      },
                      "3": {
                        "type": "number",
                        "description": "Balance from 91-120 days"
                      },
                      "4": {
                        "type": "number",
                        "description": "Balance from 121-150 days"
                      },
                      "5": {
                        "type": "number",
                        "description": "Balance from 150+ days"
                      },
                      "_id": {
                        "type": "integer",
                        "description": "Customer/Agent \"_id\""
                      },
                      "id": {
                        "type": "string",
                        "description": "Customer/Agent \"id\""
                      },
                      "name": {
                        "type": "string",
                        "description": "Customer/Agent \"name\""
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/reports/financialFormula": {
      "post": {
        "tags": [
          "Financials"
        ],
        "summary": "Current Period Income",
        "description": "Returns current period income calculation for specified report type for the startDate -> endDate.\n",
        "requestBody": {
          "description": "Current Period Income Request",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "colType",
                  "startDate",
                  "endDate",
                  "locationId",
                  "currency",
                  "formulaType"
                ],
                "properties": {
                  "formulaType": {
                    "type": "string",
                    "enum": [
                      "currentPeriodIncome"
                    ]
                  },
                  "colType": {
                    "type": "string",
                    "enum": [
                      "Location",
                      "Month",
                      "CostCenter",
                      "Product",
                      "Job",
                      "Customer",
                      "Vendor",
                      "Custom1",
                      "Custom2",
                      "Custom3"
                    ]
                  },
                  "colIds": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "description": "\"_id\" values of the \"colType\" the report is displayed in.                  \n"
                    }
                  },
                  "startDate": {
                    "type": "string",
                    "format": "date"
                  },
                  "endDate": {
                    "type": "string",
                    "format": "date"
                  },
                  "LocationId": {
                    "type": "integer"
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "draft",
                      "posted"
                    ]
                  },
                  "currency": {
                    "type": "string",
                    "description": "currency to return value in",
                    "example": "USD"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Current Period Income",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "key: colId\nvalue: balance for the specified colId\n"
                }
              }
            }
          }
        }
      }
    },
    "/reports/financialReport": {
      "post": {
        "tags": [
          "Financials"
        ],
        "summary": "Entity Report",
        "description": "Financial Entity report data of account balances by dimension\n",
        "requestBody": {
          "description": "Entity Report Request",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "startDate",
                  "endDate",
                  "LocationId",
                  "currency"
                ],
                "properties": {
                  "startDate": {
                    "type": "string",
                    "format": "date"
                  },
                  "endDate": {
                    "type": "string",
                    "format": "date"
                  },
                  "LocationId": {
                    "type": "integer"
                  },
                  "currency": {
                    "type": "string",
                    "example": "USD"
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "posted",
                      "draft"
                    ],
                    "description": "Journal status to return"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Entity Report",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "_id": {
                        "type": "integer",
                        "description": "Ledger Account \"_id\""
                      },
                      "name": {
                        "type": "string",
                        "description": "Ledger Account \"name\""
                      },
                      "type": {
                        "type": "string",
                        "description": "Ledger Account \"type\""
                      },
                      "subtype": {
                        "type": "string",
                        "description": "Ledger Account \"subtype\""
                      },
                      "LocationId": {
                        "type": "integer"
                      },
                      "parent_path": {
                        "type": "array",
                        "description": "array of the location parent _ids for the given location",
                        "items": {
                          "type": "integer"
                        }
                      },
                      "balance": {
                        "type": "string",
                        "format": "number",
                        "example": "1"
                      },
                      "elimination": {
                        "type": "boolean",
                        "description": "true if it is an elimination balance"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/reports/financials": {
      "post": {
        "tags": [
          "Financials"
        ],
        "summary": "Dimension Report",
        "description": "Financial Dimension report data of account balances by dimension\n",
        "requestBody": {
          "description": "Financial Dimension report data request",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "startDate",
                  "endDate",
                  "LocationId",
                  "type",
                  "objectIds",
                  "currency"
                ],
                "properties": {
                  "startDate": {
                    "type": "string",
                    "format": "date"
                  },
                  "endDate": {
                    "type": "string",
                    "format": "date"
                  },
                  "currency": {
                    "type": "string",
                    "example": "USD"
                  },
                  "LocationId": {
                    "type": "integer"
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "posted",
                      "draft"
                    ],
                    "description": "Journal status to return"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "Customer",
                      "Vendor",
                      "CostCenter",
                      "Product",
                      "Job",
                      "Custom1",
                      "Custom2",
                      "Custom3"
                    ]
                  },
                  "objectIds": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Financial Dimension report data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "_id": {
                        "type": "integer",
                        "description": "Ledger Account \"_id\""
                      },
                      "name": {
                        "type": "string",
                        "description": "Ledger Account \"name\""
                      },
                      "type": {
                        "type": "string",
                        "description": "Ledger Account \"type\""
                      },
                      "subtype": {
                        "type": "string",
                        "description": "Ledger Account \"subtype\""
                      },
                      "LocationId": {
                        "type": "integer"
                      },
                      "parent_path": {
                        "type": "array",
                        "description": "array of the location parent _ids for the given location",
                        "items": {
                          "type": "integer"
                        }
                      },
                      "balance": {
                        "type": "string",
                        "format": "number",
                        "example": "1"
                      },
                      "objectId": {
                        "type": "integer"
                      },
                      "objectID": {
                        "type": "string"
                      },
                      "objectName": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/reports/generalLedger": {
      "post": {
        "tags": [
          "Financials"
        ],
        "summary": "General Ledger",
        "description": "Returns General Ledger Balances for Date Range passed\n",
        "requestBody": {
          "description": "General Ledger Request",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "currency",
                  "LocationId",
                  "startDate",
                  "endDate"
                ],
                "properties": {
                  "status": {
                    "type": "string",
                    "description": "Journal status",
                    "enum": [
                      "posted",
                      "draft",
                      "all"
                    ]
                  },
                  "currency": {
                    "type": "string",
                    "description": "Currency to return results in",
                    "example": "USD"
                  },
                  "LocationId": {
                    "type": "integer",
                    "description": "Location to consolidate results for"
                  },
                  "consolidated": {
                    "type": "boolean",
                    "description": "Show consolidated balance by Location"
                  },
                  "startDate": {
                    "type": "string",
                    "format": "date"
                  },
                  "endDate": {
                    "type": "string",
                    "format": "date"
                  },
                  "offset": {
                    "type": "integer",
                    "default": 0
                  },
                  "limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 99
                  },
                  "order": {
                    "type": "string",
                    "default": "number:DESC"
                  },
                  "where": {
                    "type": "object",
                    "properties": {
                      "or": {
                        "type": "boolean",
                        "description": "true to match any"
                      },
                      "name": {
                        "type": "string"
                      },
                      "number": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "General Ledger",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "_id": {
                            "type": "integer",
                            "description": "Ledger Account _id"
                          },
                          "number": {
                            "type": "string",
                            "description": "Ledger Account number"
                          },
                          "name": {
                            "type": "string",
                            "description": "Ledger Account name"
                          },
                          "type": {
                            "type": "string",
                            "description": "Ledger Account type"
                          },
                          "naturalBalance": {
                            "type": "string",
                            "enum": [
                              "debit",
                              "credit"
                            ]
                          },
                          "startingBalance": {
                            "type": "string",
                            "format": "number",
                            "example": "1"
                          },
                          "endingBalance": {
                            "type": "string",
                            "format": "number",
                            "example": "1"
                          },
                          "activity": {
                            "type": "string",
                            "format": "number",
                            "example": "1"
                          }
                        }
                      }
                    },
                    "totalItems": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/reports/trialBalance": {
      "post": {
        "tags": [
          "Financials"
        ],
        "summary": "Trial Balance",
        "description": "Returns Trial Balance for Date Ranges passed\nBalance Sheet accounts include all transactions until endDate\nIncome Statement accounts include all transactions from start of accounting year until endDate\n",
        "requestBody": {
          "description": "Trial Balance Request",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "currency",
                  "LocationId",
                  "dateRanges"
                ],
                "properties": {
                  "status": {
                    "type": "string",
                    "description": "Journal status",
                    "enum": [
                      "posted",
                      "draft",
                      "all"
                    ]
                  },
                  "currency": {
                    "type": "string",
                    "description": "Currency to return results in",
                    "example": "USD"
                  },
                  "LocationId": {
                    "type": "integer",
                    "description": "Location to consolidate results for"
                  },
                  "dateRanges": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "start": {
                          "type": "string",
                          "format": "date"
                        },
                        "end": {
                          "type": "string",
                          "format": "date"
                        }
                      }
                    }
                  },
                  "offset": {
                    "type": "integer",
                    "default": 0
                  },
                  "limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 99
                  },
                  "order": {
                    "type": "string",
                    "default": "number:DESC"
                  },
                  "where": {
                    "type": "object",
                    "properties": {
                      "or": {
                        "type": "boolean",
                        "description": "true to match any"
                      },
                      "name": {
                        "type": "string"
                      },
                      "number": {
                        "type": "string"
                      }
                    }
                  },
                  "DimensionType": {
                    "type": "string",
                    "enum": [
                      "CostCenter",
                      "Product",
                      "Job",
                      "Customer",
                      "Vendor",
                      "Custom1",
                      "Custom2",
                      "Custom3"
                    ]
                  },
                  "DimensionId": {
                    "type": "integer"
                  },
                  "consolidated": {
                    "type": "boolean",
                    "description": "If true, returns consolidated balance of all locations, false returns balance just for that location"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Trial Balance",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "_id": {
                            "type": "integer",
                            "description": "Ledger Account _id"
                          },
                          "number": {
                            "type": "string",
                            "description": "Ledger Account number"
                          },
                          "name": {
                            "type": "string",
                            "description": "Ledger Account name"
                          },
                          "type": {
                            "type": "string",
                            "description": "Ledger Account type"
                          },
                          "balances": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "format": "number",
                              "example": "1"
                            }
                          }
                        }
                      }
                    },
                    "totalItems": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/fx-revalue/rates/{AccountingPeriodId}": {
      "get": {
        "tags": [
          "FX Revalue"
        ],
        "summary": "Get Rates",
        "description": "Returns current rates set for the accouting period revaluation\nThe results are a list of all currencies and their end of period rate\n(example results are two possible currencies)\n",
        "parameters": [
          {
            "in": "path",
            "name": "AccountingPeriodId",
            "description": "AccountingPeriod._id value",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of FX Rates",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "USD": {
                        "type": "number"
                      },
                      "EUR": {
                        "type": "number"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "FX Revalue"
        ],
        "summary": "Save Rates",
        "description": "Save the rates for the accounting period\nExample shows rates for two possible currencies. Currencies to save rates for should be obtained from GET fx-revalue/rates/:id\n",
        "parameters": [
          {
            "in": "path",
            "name": "AccountingPeriodId",
            "description": "AccountingPeriod._id value",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "description": "Base currency and fx rate currency pairs",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "currency",
                  "rates"
                ],
                "properties": {
                  "currency": {
                    "type": "string",
                    "description": "example \"USD\""
                  },
                  "rates": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "USD": {
                          "type": "number"
                        },
                        "EUR": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/fx-revalue/adjustments/{AccountingPeriodId}": {
      "post": {
        "tags": [
          "FX Revalue"
        ],
        "summary": "Post Adjustments",
        "description": "Post FX Revaluation entries for the period\n",
        "parameters": [
          {
            "in": "path",
            "name": "AccountingPeriodId",
            "description": "AccountingPeriod._id value",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          }
        }
      },
      "delete": {
        "tags": [
          "FX Revalue"
        ],
        "summary": "Delete Adjustments",
        "description": "Delete FX Revaluation entries for the period\n",
        "parameters": [
          {
            "in": "path",
            "name": "AccountingPeriodId",
            "description": "AccountingPeriod._id value",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/status/{type}": {
      "get": {
        "tags": [
          "Status"
        ],
        "summary": "Get Status",
        "description": "Get the status of a job",
        "parameters": [
          {
            "in": "path",
            "name": "type",
            "description": "API type",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "costbasis",
                "crypto-journals",
                "inventory"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Status of job",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "done",
                        "error",
                        "running",
                        "started"
                      ]
                    },
                    "type": {
                      "type": "string",
                      "enum": [
                        "costbasis",
                        "crypto-journals",
                        "inventory"
                      ]
                    },
                    "tenantId": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "_id": {
                          "type": "string"
                        },
                        "progress": {
                          "type": "string"
                        },
                        "timestamp": {
                          "type": "string"
                        },
                        "err": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            },
                            "msg": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/addresses": {
      "get": {
        "tags": [
          "Addresses"
        ],
        "summary": "Search",
        "operationId": "addressesSearch",
        "description": "| Field       | Filterable | Sortable |\n|---------------------|:--:|:--:|\n|_id            | ✅ | ✅ |\n|label          | ✅ | ✅ |\n|line1          | ✅ | ❌ |\n|line2          | ✅ | ❌ |\n|city           | ✅ | ❌ |\n|state          | ✅ | ❌ |\n|zip            | ✅ | ❌ |\n|country        | ✅ | ❌ |\n|isDefault      | ✅ | ❌ |\n|isVerified     | ✅ | ❌ |\n|createdAt      | ✅ | ✅ |\n|updatedAt      | ✅ | ✅ |\n|CustomerId     | ✅ | ❌ |\n|VendorId       | ✅ | ❌ |\n|Customer.name  | ❌ | ✅ |\n|Vendor.name    | ❌ | ✅ |\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/filterType"
          },
          {
            "$ref": "#/components/parameters/cursor"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "in": "query",
            "name": "order",
            "description": "Order to return results in. ex \"date:desc\"",
            "schema": {
              "type": "string",
              "default": "label:ASC"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of Addresses",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "hasNextPage": {
                      "type": "boolean",
                      "description": "true if there are more pages"
                    },
                    "cursor": {
                      "type": "string",
                      "description": "Send in next query to page forward"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "_id": {
                            "type": "integer"
                          },
                          "label": {
                            "type": "string"
                          },
                          "line1": {
                            "type": "string"
                          },
                          "line2": {
                            "type": "string"
                          },
                          "city": {
                            "type": "string"
                          },
                          "state": {
                            "type": "string"
                          },
                          "zip": {
                            "type": "string"
                          },
                          "country": {
                            "type": "string"
                          },
                          "isDefault": {
                            "type": "boolean"
                          },
                          "isVerified": {
                            "type": "boolean"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "CustomerId": {
                            "type": "integer",
                            "description": "Ref: Customer._id\n"
                          },
                          "VendorId": {
                            "type": "integer",
                            "description": "Ref: Vendor._id\n"
                          },
                          "Customer": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string"
                              }
                            }
                          },
                          "Vendor": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Addresses"
        ],
        "summary": "Create",
        "description": "Creates a new address\n\n<div class=\"webhooks\">\n  <h4>Webhooks</h4>\n  <div>Address CREATE</div>\n</div>\n",
        "requestBody": {
          "description": "JSON body to create new Address\n\nOnly one of `[CustomerId, VendorId, Customer.name, Vendor.name]` can be set\n",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "label"
                ],
                "properties": {
                  "label": {
                    "type": "string"
                  },
                  "line1": {
                    "type": "string"
                  },
                  "line2": {
                    "type": "string"
                  },
                  "city": {
                    "type": "string"
                  },
                  "state": {
                    "type": "string"
                  },
                  "zip": {
                    "type": "string"
                  },
                  "country": {
                    "type": "string"
                  },
                  "isDefault": {
                    "type": "boolean",
                    "description": "Set this as the default address for the Customer or Vendor"
                  },
                  "CustomerId": {
                    "type": "integer",
                    "description": "Ref: Customer._id\n"
                  },
                  "VendorId": {
                    "type": "integer",
                    "description": "Ref: Vendor._id\n"
                  },
                  "Customer": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Ref: Customer.name, Can be used in place of CustomerId\n"
                      }
                    }
                  },
                  "Vendor": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Ref: Vendor.name, Can be used in place of VendorId\n"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Address",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "_id": {
                      "type": "integer"
                    },
                    "label": {
                      "type": "string"
                    },
                    "line1": {
                      "type": "string"
                    },
                    "line2": {
                      "type": "string"
                    },
                    "city": {
                      "type": "string"
                    },
                    "state": {
                      "type": "string"
                    },
                    "zip": {
                      "type": "string"
                    },
                    "country": {
                      "type": "string"
                    },
                    "isDefault": {
                      "type": "boolean"
                    },
                    "isVerified": {
                      "type": "boolean"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "CustomerId": {
                      "type": "integer",
                      "description": "Ref: Customer._id\n"
                    },
                    "VendorId": {
                      "type": "integer",
                      "description": "Ref: Vendor._id\n"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/addresses/count": {
      "get": {
        "tags": [
          "Addresses"
        ],
        "summary": "Count",
        "description": "The same filters as [Search](#operation/addressesSearch) can be used here.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/filterType"
          }
        ],
        "responses": {
          "200": {
            "description": "Count response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CountResponse"
                }
              }
            }
          }
        }
      }
    },
    "/addresses/{id}": {
      "delete": {
        "tags": [
          "Addresses"
        ],
        "summary": "Delete",
        "description": "Delete one Address\n\n<div class=\"webhooks\">\n  <h4>Webhooks</h4>\n  <div>Address DELETE</div>\n</div>\n",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "Address Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "no content success"
          }
        }
      },
      "put": {
        "tags": [
          "Addresses"
        ],
        "summary": "Update",
        "description": "Update One Address\n\n<div class=\"webhooks\">\n  <h4>Webhooks</h4>\n  <div>Address UPDATE</div>\n</div>\n",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "Address Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "JSON body containing key and values to update",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "label": {
                    "type": "string"
                  },
                  "line1": {
                    "type": "string"
                  },
                  "line2": {
                    "type": "string"
                  },
                  "city": {
                    "type": "string"
                  },
                  "state": {
                    "type": "string"
                  },
                  "zip": {
                    "type": "string"
                  },
                  "country": {
                    "type": "string"
                  },
                  "isDefault": {
                    "type": "boolean",
                    "description": "Set this as the default address for the Customer or Vendor"
                  },
                  "CustomerId": {
                    "type": "integer",
                    "description": "Ref: Customer._id\n"
                  },
                  "VendorId": {
                    "type": "integer",
                    "description": "Ref: Vendor._id\n"
                  },
                  "Customer": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Ref: Customer.name, Can be used in place of CustomerId\n"
                      }
                    }
                  },
                  "Vendor": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Ref: Vendor.name, Can be used in place of VendorId\n"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated Address",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "_id": {
                      "type": "integer"
                    },
                    "label": {
                      "type": "string"
                    },
                    "line1": {
                      "type": "string"
                    },
                    "line2": {
                      "type": "string"
                    },
                    "city": {
                      "type": "string"
                    },
                    "state": {
                      "type": "string"
                    },
                    "zip": {
                      "type": "string"
                    },
                    "country": {
                      "type": "string"
                    },
                    "isDefault": {
                      "type": "boolean"
                    },
                    "isVerified": {
                      "type": "boolean"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "CustomerId": {
                      "type": "integer",
                      "description": "Ref: Customer._id\n"
                    },
                    "VendorId": {
                      "type": "integer",
                      "description": "Ref: Vendor._id\n"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/addresss/{id}": {
      "get": {
        "tags": [
          "Addresses"
        ],
        "summary": "One",
        "description": "Get one Address",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "Address Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "One Address",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "_id": {
                      "type": "integer"
                    },
                    "label": {
                      "type": "string"
                    },
                    "line1": {
                      "type": "string"
                    },
                    "line2": {
                      "type": "string"
                    },
                    "city": {
                      "type": "string"
                    },
                    "state": {
                      "type": "string"
                    },
                    "zip": {
                      "type": "string"
                    },
                    "country": {
                      "type": "string"
                    },
                    "isDefault": {
                      "type": "boolean"
                    },
                    "isVerified": {
                      "type": "boolean"
                    },
                    "CustomerId": {
                      "type": "integer",
                      "description": "Ref: Customer._id\n"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "VendorId": {
                      "type": "integer",
                      "description": "Ref: Vendor._id\n"
                    },
                    "Customer": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string"
                        }
                      }
                    },
                    "Vendor": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/audit-logs": {
      "get": {
        "tags": [
          "Audit Logs"
        ],
        "summary": "Search",
        "description": "Returns a list of audit logs in descending order by date\n\n| Field       | Filterable |\n|---------------------|:--:|\n|_id                  | ✅ |\n|date                 | ✅ |\n|object               | ❌ |\n|objectType           | ✅ |\n|objectId             | ✅ |\n|message              | ✅ |\n|user                 | ❌ |\n|api                  | ❌ |\n|userType             | ✅ |\n|userLabel            | ✅ |\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/where"
          },
          {
            "$ref": "#/components/parameters/cursor"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "List of Audit Logs. Ordered by date",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "hasNextPage": {
                      "type": "boolean"
                    },
                    "cursor": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "_id": {
                            "type": "string"
                          },
                          "date": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "object": {
                            "type": "object"
                          },
                          "objectType": {
                            "type": "string"
                          },
                          "objectId": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          },
                          "user": {
                            "type": "string"
                          },
                          "api": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "userType": {
                            "type": "string"
                          },
                          "userLabel": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/batch-payments": {
      "get": {
        "tags": [
          "Batch Payments"
        ],
        "summary": "Search",
        "operationId": "batchPaymentsSearch",
        "description": "| Field       | Filterable | Sortable |\n|---------------------|:--:|:--:|\n|_id                      | ✅ | ✅ |\n|status                   | ✅ | ✅ |\n|referenceNumber          | ✅ | ✅ |\n|postedDate               | ✅ | ✅ |\n|paymentDate              | ✅ | ✅ |\n|currency                 | ✅ | ✅ |\n|amount                   | ✅ | ✅ |\n|LocationId               | ✅ | ❌ |\n|ClearingAccountId        | ✅ | ❌ |\n|CashAccountId            | ✅ | ❌ |\n|createdAt                | ✅ | ✅ |\n|updatedAt                | ✅ | ✅ |\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/filterType"
          },
          {
            "$ref": "#/components/parameters/cursor"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/LocationId"
          },
          {
            "in": "query",
            "name": "order",
            "description": "Order to return results in. ex \"date:desc\"",
            "schema": {
              "type": "string",
              "default": "referenceNumber:DESC"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of batch payments",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "hasNextPage": {
                      "type": "boolean",
                      "description": "true if there are more pages"
                    },
                    "cursor": {
                      "type": "string",
                      "description": "Send in next query to page forward"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "_id": {
                            "type": "integer"
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "created",
                              "approved",
                              "voided"
                            ]
                          },
                          "referenceNumber": {
                            "type": "string"
                          },
                          "postedDate": {
                            "type": "string",
                            "format": "date"
                          },
                          "paymentDate": {
                            "type": "string",
                            "format": "date"
                          },
                          "memo": {
                            "type": "string"
                          },
                          "currency": {
                            "type": "string",
                            "format": "ISO4217 3 Char Code"
                          },
                          "amount": {
                            "type": "string",
                            "format": "number"
                          },
                          "LocationId": {
                            "type": "integer",
[...]
