openapi: 3.0.0
info:
  contact:
    email: api@snaptrade.com
    name: SnapTrade
    url: https://snaptrade.com/
  description: Connect brokerage accounts to your app for live positions and trading
  termsOfService: N/A
  title: SnapTrade
  version: 1.0.0
  x-konfig-ignore:
    potential-incorrect-type: true
  x-readme:
    explorer-enabled: false
servers:
- description: SnapTrade Production API
  url: https://api.snaptrade.com/api/v1
security:
- PartnerSignature: []
  PartnerClientId: []
  PartnerTimestamp: []
tags:
- description: Check whether the API is operational and verify timestamps.
  name: API Status
- description: Register and authenticate users with SnapTrade.
  name: Authentication
- description: Retrieve and manage user connections.
  name: Connections
- description: "Retrieve account information, such as positions, balances, etc."
  name: Account Information
- description: Manage orders on user accounts
  name: Trading
- description: Endpoints related to terms of conditions of SnapTrade API use
  name: API Disclaimer
- description: "Retrieve information on account transactions, performance, dividends,\
    \ contributions, etc."
  name: Transactions And Reporting
- description: "Retrieve basic information for API use, such as supported brokerages,\
    \ exchanges, currencies, etc."
  name: Reference Data
- description: Retrieve error logs for your SnapTrade users and API requests.
  name: Error Logs
- description: Endpoints to search for options prices and chains as well as place
    options trades if supported.
  name: Options
paths:
  /:
    get:
      description: Check whether the API is operational and verify timestamps.
      operationId: ApiStatus_check
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: API is alive and kicking in some fashion
        default:
          description: Unexpected error.
      security: []
      summary: Get API Status
      tags:
      - API Status
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--
      x-accepts: application/json
  /snapTrade/registerUser:
    post:
      operationId: Authentication_registerSnapTradeUser
      requestBody:
        $ref: '#/components/requestBodies/RegisterUserRequestBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserIDandSecret'
          description: Successfully registered user
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400FailedRequestResponse'
          description: Bad Request. Could be caused by various reasons. Error message
            is provided in response
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404FailedRequestResponse'
          description: Invalid SnapTrade Client ID provided in query
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/500UnexpectedExceptionResponse'
          description: Unexpected error
          x-do-not-generate: true
      summary: Create SnapTrade user
      tags:
      - Authentication
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--snapTrade-registerUser
      x-content-type: application/json
      x-accepts: application/json
  /snapTrade/login:
    post:
      description: Logs in a SnapTrade user and returns an authenticated connection
        portal URL for them to use to connect a brokerage account.
      operationId: Authentication_loginSnapTradeUser
      parameters:
      - explode: true
        in: query
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: form
      - explode: true
        in: query
        name: userSecret
        required: true
        schema:
          $ref: '#/components/schemas/UserSecret'
        style: form
      requestBody:
        $ref: '#/components/requestBodies/SnapTradeLoginUserRequestBody'
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Login successful. Redirect user to provided URI in response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400FailedRequestResponse'
          description: Bad Request
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403FailedRequestResponse'
          description: Forbidden
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404FailedRequestResponse'
          description: Not Found
          x-do-not-generate: true
        "500":
          description: Unexpected Error
      summary: Login user & generate connection link
      tags:
      - Authentication
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--snapTrade-login
      x-content-type: application/json
      x-accepts: application/json
  /snapTrade/listUsers:
    get:
      description: Returns a list of users you've registered over the SnapTrade API.
      operationId: Authentication_listSnapTradeUsers
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserList'
          description: Successfully retrieved a list of users
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400FailedRequestResponse'
          description: Bad Request. Could be caused by various reasons. Error message
            is provided in response
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404FailedRequestResponse'
          description: Invalid SnapTrade Client ID provided in query
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/500UnexpectedExceptionResponse'
          description: Unexpected error
          x-do-not-generate: true
      summary: List SnapTrade users
      tags:
      - Authentication
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--snapTrade-listUsers
      x-accepts: application/json
  /snapTrade/deleteUser:
    delete:
      description: "Deletes a user you've registered over the SnapTrade API, and any\
        \ data associated with them or their investment accounts."
      operationId: Authentication_deleteSnapTradeUser
      parameters:
      - explode: true
        in: query
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteUserResponse'
          description: Delete successful
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400FailedRequestResponse'
          description: Bad Request
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403FailedRequestResponse'
          description: Forbidden
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404FailedRequestResponse'
          description: Not Found
          x-do-not-generate: true
        "500":
          description: Unexpected Error
      summary: Delete SnapTrade user
      tags:
      - Authentication
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--snapTrade-deleteUser
      x-accepts: application/json
  /snapTrade/encryptedJWT:
    get:
      operationId: Authentication_getUserJWT
      parameters:
      - explode: true
        in: query
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: form
      - explode: true
        in: query
        name: userSecret
        required: true
        schema:
          $ref: '#/components/schemas/UserSecret'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/encryptedResponse'
          description: Successfully obtained encrypted JWT data. See description on
            how to object JWT token
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400FailedRequestResponse'
          description: Bad Request
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403FailedRequestResponse'
          description: Forbidden
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404FailedRequestResponse'
          description: Not Found
          x-do-not-generate: true
        "500":
          description: Unexpected Error
      summary: Generate encrypted JWT token
      tags:
      - Authentication
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--snapTrade-encryptedJWT
      x-accepts: application/json
  /authorizations:
    get:
      operationId: Connections_listBrokerageAuthorizations
      parameters:
      - explode: true
        in: query
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: form
      - explode: true
        in: query
        name: userSecret
        required: true
        schema:
          $ref: '#/components/schemas/UserSecret'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/BrokerageAuthorization'
                type: array
                x-konfig-is-used-in-successful-response: true
          description: A list of all Authorization objects for the authenticated user.
        default:
          description: Unexpected error.
      summary: List all brokerage authorizations for the user
      tags:
      - Connections
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--authorizations
      x-accepts: application/json
  /authorizations/{authorizationId}:
    delete:
      operationId: Connections_removeBrokerageAuthorization
      parameters:
      - description: The ID of the Authorization to delete.
        explode: false
        in: path
        name: authorizationId
        required: true
        schema:
          $ref: '#/components/schemas/Id'
        style: simple
      - explode: true
        in: query
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: form
      - explode: true
        in: query
        name: userSecret
        required: true
        schema:
          $ref: '#/components/schemas/UserSecret'
        style: form
      responses:
        "204":
          description: Brokerage authorization object has been successfully deleted
        "400":
          description: The specified authorizationId is invalid (not a UUID string).
        "404":
          description: The specified authorizationId was not found.
        default:
          description: Unexpected error.
      summary: Delete brokerage authorization
      tags:
      - Connections
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--authorizations-authorizationId
      x-accepts: application/json
    get:
      operationId: Connections_detailBrokerageAuthorization
      parameters:
      - description: The ID of a brokerage authorization object.
        explode: false
        in: path
        name: authorizationId
        required: true
        schema:
          $ref: '#/components/schemas/Id'
        style: simple
      - explode: true
        in: query
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: form
      - explode: true
        in: query
        name: userSecret
        required: true
        schema:
          $ref: '#/components/schemas/UserSecret'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrokerageAuthorization'
          description: Authorization object for the authenticated user.
        default:
          description: Unexpected error.
      summary: Get brokerage authorization details
      tags:
      - Connections
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--authorizations-authorizationId
      x-accepts: application/json
  /sessionEvents:
    get:
      operationId: Connections_sessionEvents
      parameters:
      - explode: true
        in: query
        name: PartnerClientId
        required: true
        schema:
          $ref: '#/components/schemas/ClientID'
        style: form
      - description: Optional comma seperated list of user IDs used to filter the
          request on specific users
        explode: true
        in: query
        name: userId
        required: false
        schema:
          $ref: '#/components/schemas/AccountIDs'
        style: form
      - description: Optional comma seperated list of session IDs used to filter the
          request on specific users
        explode: true
        in: query
        name: sessionId
        required: false
        schema:
          $ref: '#/components/schemas/AccountIDs'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Connections_sessionEvents_200_response_inner'
                type: array
                x-konfig-is-used-in-successful-response: true
          description: A list of all Session Events for the Partner.
        default:
          description: Unexpected error.
      summary: List all session events for the partner
      tags:
      - Connections
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--sessionEvents
      x-accepts: application/json
  /accounts:
    get:
      operationId: AccountInformation_listUserAccounts
      parameters:
      - explode: true
        in: query
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: form
      - explode: true
        in: query
        name: userSecret
        required: true
        schema:
          $ref: '#/components/schemas/UserSecret'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Account'
                type: array
                x-konfig-is-used-in-successful-response: true
          description: A list of all Account objects for the authenticated user.
        default:
          description: Unexpected error.
      summary: List accounts
      tags:
      - Account Information
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--accounts
      x-accepts: application/json
  /holdings:
    get:
      deprecated: true
      operationId: AccountInformation_getAllUserHoldings
      parameters:
      - explode: true
        in: query
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: form
      - explode: true
        in: query
        name: userSecret
        required: true
        schema:
          $ref: '#/components/schemas/UserSecret'
        style: form
      - description: Optional. Comma seperated list of authorization IDs (only use
          if filtering is needed on one or more authorizations).
        explode: true
        in: query
        name: brokerage_authorizations
        required: false
        schema:
          example: 917c8734-8470-4a3e-a18f-57c3f2ee6631
          format: uuid
          type: string
          x-konfig-original-example: 917c8734-8470-4a3e-a18f-57c3f2ee6631
          x-konfig-generated-schema: konfig-generated-schema-paths--holdings-get-parameters-2-schema
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AccountHoldings'
                type: array
                x-konfig-is-used-in-successful-response: true
          description: Returns list of accounts and holdings
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400FailedRequestResponse'
          description: Bad Request
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403FailedRequestResponse'
          description: Forbidden
          x-do-not-generate: true
        "500":
          description: Unexpected Error
      summary: "List all accounts for the user, plus balances, positions, and orders\
        \ for each account."
      tags:
      - Account Information
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--holdings
      x-accepts: application/json
  /accounts/{accountId}/holdings:
    get:
      operationId: AccountInformation_getUserHoldings
      parameters:
      - description: The ID of the account to fetch holdings for.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          example: 917c8734-8470-4a3e-a18f-57c3f2ee6631
          format: uuid
          type: string
          x-konfig-original-example: 917c8734-8470-4a3e-a18f-57c3f2ee6631
          x-konfig-generated-schema: konfig-generated-schema-paths--accounts-accountId-holdings-get-parameters-0-schema
        style: simple
      - explode: true
        in: query
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: form
      - explode: true
        in: query
        name: userSecret
        required: true
        schema:
          $ref: '#/components/schemas/UserSecret'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountHoldingsAccount'
          description: Returns holdings for the account
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400FailedRequestResponse'
          description: Bad Request
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403FailedRequestResponse'
          description: Forbidden
          x-do-not-generate: true
        "500":
          description: Unexpected Error
      summary: "List balances, positions and orders for the specified account"
      tags:
      - Account Information
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--accounts-accountId-holdings
      x-accepts: application/json
  /accounts/{accountId}:
    get:
      operationId: AccountInformation_getUserAccountDetails
      parameters:
      - explode: true
        in: query
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: form
      - explode: true
        in: query
        name: userSecret
        required: true
        schema:
          $ref: '#/components/schemas/UserSecret'
        style: form
      - description: The ID of the account to get detail of.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
          description: Details of a specific investment account
        default:
          description: Unexpected error
      summary: Return details of a specific investment account
      tags:
      - Account Information
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--accounts-accountId
      x-accepts: application/json
    put:
      operationId: AccountInformation_updateUserAccount
      parameters:
      - explode: true
        in: query
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: form
      - explode: true
        in: query
        name: userSecret
        required: true
        schema:
          $ref: '#/components/schemas/UserSecret'
        style: form
      - description: The ID of the account to update.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Account'
                type: array
                x-konfig-is-used-in-successful-response: true
          description: Successfully updated details of an investment account
        default:
          description: Unexpected error
      summary: Update details of an investment account
      tags:
      - Account Information
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--accounts-accountId
      x-accepts: application/json
  /accounts/{accountId}/balances:
    get:
      description: A list of account balances for the specified account (one per currency
        that the account holds).
      operationId: AccountInformation_getUserAccountBalance
      parameters:
      - explode: true
        in: query
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: form
      - explode: true
        in: query
        name: userSecret
        required: true
        schema:
          $ref: '#/components/schemas/UserSecret'
        style: form
      - description: The ID of the account to get balances.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/Balance'
                type: array
                x-konfig-is-used-in-successful-response: true
          description: List of all balances in investment account
        default:
          description: Unexpected error
      summary: List account balances
      tags:
      - Account Information
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--accounts-accountId-balances
      x-accepts: '*/*'
  /accounts/{accountId}/positions:
    get:
      operationId: AccountInformation_getUserAccountPositions
      parameters:
      - explode: true
        in: query
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: form
      - explode: true
        in: query
        name: userSecret
        required: true
        schema:
          $ref: '#/components/schemas/UserSecret'
        style: form
      - description: The ID of the account to get positions.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/Position'
                type: array
                x-konfig-is-used-in-successful-response: true
          description: List all positions in investment account
        default:
          description: Unexpected error
      summary: List account positions
      tags:
      - Account Information
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--accounts-accountId-positions
      x-accepts: '*/*'
  /accounts/{accountId}/orders:
    get:
      description: Fetch all recent orders from a user's account.
      operationId: AccountInformation_getUserAccountOrders
      parameters:
      - explode: true
        in: query
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: form
      - explode: true
        in: query
        name: userSecret
        required: true
        schema:
          $ref: '#/components/schemas/UserSecret'
        style: form
      - description: defaults value is set to "all"
        explode: true
        in: query
        name: state
        required: false
        schema:
          enum:
          - all
          - open
          - executed
          type: string
        style: form
      - description: The ID of the account to get orders.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AccountOrderRecord'
                type: array
                x-konfig-is-used-in-successful-response: true
          description: List all orders in account
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/500UnexpectedExceptionResponse'
          description: Unexpected error
          x-do-not-generate: true
      summary: Get history of orders placed in account
      tags:
      - Account Information
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--accounts-accountId-orders
      x-accepts: application/json
  /accounts/{accountId}/quotes:
    get:
      operationId: Trading_getUserAccountQuotes
      parameters:
      - explode: true
        in: query
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: form
      - explode: true
        in: query
        name: userSecret
        required: true
        schema:
          $ref: '#/components/schemas/UserSecret'
        style: form
      - description: List of universal_symbol_id or tickers to get quotes for.
        explode: true
        in: query
        name: symbols
        required: true
        schema:
          type: string
        style: form
      - description: Should be set to True if providing tickers.
        explode: true
        in: query
        name: use_ticker
        required: false
        schema:
          type: boolean
        style: form
      - description: The ID of the account to get quotes.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SymbolsQuotes'
          description: Returns quotes object with different prices
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/500UnexpectedExceptionResponse'
          description: Unexpected error
          x-do-not-generate: true
      summary: Get symbol quotes
      tags:
      - Trading
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--accounts-accountId-quotes
      x-accepts: application/json
  /trade/impact:
    post:
      operationId: Trading_getOrderImpact
      parameters:
      - explode: true
        in: query
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: form
      - explode: true
        in: query
        name: userSecret
        required: true
        schema:
          $ref: '#/components/schemas/UserSecret'
        style: form
      requestBody:
        $ref: '#/components/requestBodies/ManualTradeFormRequestBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManualTradeAndImpact'
          description: Return trade object and it's impact on the account
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400FailedRequestResponse'
          description: Missing or wrong data format provided in request body
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403FailedRequestResponse'
          description: User does not have permissions to place trades
          x-do-not-generate: true
        "500":
          description: Unexpected Error
      summary: Check impact of trades on account.
      tags:
      - Trading
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--trade-impact
      x-content-type: application/json
      x-accepts: application/json
  /trade/{tradeId}:
    post:
      operationId: Trading_placeOrder
      parameters:
      - description: The ID of trade object obtained from trade/impact endpoint
        explode: false
        in: path
        name: tradeId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: true
        in: query
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: form
      - explode: true
        in: query
        name: userSecret
        required: true
        schema:
          $ref: '#/components/schemas/UserSecret'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountOrderRecord'
          description: Status of order placed
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400FailedRequestResponse'
          description: Failed to submit order to broker
          x-do-not-generate: true
        "500":
          description: Unexpected Error
      summary: Place order
      tags:
      - Trading
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--trade-tradeId
      x-accepts: application/json
  /trade/place:
    post:
      operationId: Trading_placeForceOrder
      parameters:
      - explode: true
        in: query
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: form
      - explode: true
        in: query
        name: userSecret
        required: true
        schema:
          $ref: '#/components/schemas/UserSecret'
        style: form
      requestBody:
        $ref: '#/components/requestBodies/ManualTradeFormRequestBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountOrderRecord'
          description: Trade sucessfully placed
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400FailedRequestResponse'
          description: Trade could not be placed
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403FailedRequestResponse'
          description: User does not have permissions to place trades
          x-do-not-generate: true
        "500":
          description: Unexpected Error
      summary: Place a trade with NO validation.
      tags:
      - Trading
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--trade-place
      x-content-type: application/json
      x-accepts: application/json
  /trade/oco:
    post:
      operationId: Trading_placeOCOOrder
      parameters:
      - explode: true
        in: query
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: form
      - explode: true
        in: query
        name: userSecret
        required: true
        schema:
          $ref: '#/components/schemas/UserSecret'
        style: form
      requestBody:
        $ref: '#/components/requestBodies/OCORequestBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountOrderRecord'
          description: Status of order placed
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400FailedRequestResponse'
          description: Failed to submit order to broker
          x-do-not-generate: true
        "500":
          description: Unexpected Error
      summary: Place a OCO (One Cancels Other) order
      tags:
      - Trading
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--trade-oco
      x-content-type: application/json
      x-accepts: application/json
  /accounts/{accountId}/orders/cancel:
    post:
      operationId: Trading_cancelUserAccountOrder
      parameters:
      - explode: true
        in: query
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: form
      - explode: true
        in: query
        name: userSecret
        required: true
        schema:
          $ref: '#/components/schemas/UserSecret'
        style: form
      - description: The ID of the account to cancel the order in.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/CancelOrderRequestBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountOrderRecord'
          description: Order Record of canceled order
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400FailedRequestResponse'
          description: Unable to cancel open order. Please verify status in brokerage
            account
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/500UnexpectedExceptionResponse'
          description: Unexpected error
          x-do-not-generate: true
      summary: Cancel open order in account
      tags:
      - Trading
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--accounts-accountId-orders-cancel
      x-content-type: application/json
      x-accepts: application/json
  /snapTrade/partners:
    get:
      operationId: ReferenceData_getPartnerInfo
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerData'
          description: Successfully obtained encrypted JWT data. See description on
            how to object JWT token
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400FailedRequestResponse'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401FailedRequestResponse'
          description: Unauthorized
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404FailedRequestResponse'
          description: Not Found
          x-do-not-generate: true
        "500":
          description: Unexpected Error
      summary: Get metadata related to Snaptrade partner
      tags:
      - Reference Data
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--snapTrade-partners
      x-accepts: application/json
  /accounts/{accountId}/symbols:
    post:
      operationId: ReferenceData_symbolSearchUserAccount
      parameters:
      - explode: true
        in: query
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: form
      - explode: true
        in: query
        name: userSecret
        required: true
        schema:
          $ref: '#/components/schemas/UserSecret'
        style: form
      - description: The ID of the account to search for symbols within.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SymbolQuery'
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/UniversalSymbol'
                type: array
                x-konfig-is-used-in-successful-response: true
          description: Array of universal symbol supported by account based on substring
            sent it
        default:
          description: Unexpected error
      summary: Search for symbols available in an account
      tags:
      - Reference Data
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--accounts-accountId-symbols
      x-content-type: application/json
      x-accepts: '*/*'
  /accounts/{accountId}/options:
    get:
      operationId: Options_listOptionHoldings
      parameters:
      - explode: true
        in: query
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: form
      - explode: true
        in: query
        name: userSecret
        required: true
        schema:
          $ref: '#/components/schemas/UserSecret'
        style: form
      - description: The ID of the account to fetch options holdings for.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OptionsPosition'
                type: array
                x-konfig-is-used-in-successful-response: true
          description: The option holdings in the account
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/500UnexpectedExceptionResponse'
          description: Unexpected error
          x-do-not-generate: true
      summary: Get the options holdings in the account
      tags:
      - Options
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--accounts-accountId-options
      x-accepts: application/json
  /accounts/{accountId}/optionsChain:
    get:
      operationId: Options_getOptionsChain
      parameters:
      - explode: true
        in: query
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: form
      - explode: true
        in: query
        name: userSecret
        required: true
        schema:
          $ref: '#/components/schemas/UserSecret'
        style: form
      - description: The ID of the account to get the options chain from.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Universal symbol ID if symbol
        explode: true
        in: query
        name: symbol
        required: true
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptionChain'
          description: List of all Options available for the brokerage symbol
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/500UnexpectedExceptionResponse'
          description: Unexpected error
          x-do-not-generate: true
      summary: Get the options chain
      tags:
      - Options
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--accounts-accountId-optionsChain
      x-accepts: application/json
  /accounts/{accountId}/optionStrategy:
    post:
      operationId: Options_getOptionStrategy
      parameters:
      - explode: true
        in: query
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: form
      - explode: true
        in: query
        name: userSecret
        required: true
        schema:
          $ref: '#/components/schemas/UserSecret'
        style: form
      - description: The ID of the account to create the option strategy object in.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/OptionStrategyRequestBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StrategyQuotes'
          description: Order Quotes
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/500UnexpectedExceptionResponse'
          description: Unexpected error
          x-do-not-generate: true
      summary: Creates an option strategy object that will be used to place an option
        strategy order
      tags:
      - Options
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--accounts-accountId-optionStrategy
      x-content-type: application/json
      x-accepts: application/json
  /accounts/{accountId}/optionStrategy/{optionStrategyId}:
    get:
      operationId: Options_getOptionsStrategyQuote
      parameters:
      - explode: true
        in: query
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: form
      - explode: true
        in: query
        name: userSecret
        required: true
        schema:
          $ref: '#/components/schemas/UserSecret'
        style: form
      - description: The ID of the account the strategy will be placed in.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Option strategy id obtained from response when creating option
          strategy object
        explode: false
        in: path
        name: optionStrategyId
        required: true
        schema:
          $ref: '#/components/schemas/Id'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StrategyQuotes'
          description: Order Quotes
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/500UnexpectedExceptionResponse'
          description: Unexpected error
          x-do-not-generate: true
      summary: Get latest market data of option strategy
      tags:
      - Options
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--accounts-accountId-optionStrategy-optionStrategyId
      x-accepts: application/json
  /accounts/{accountId}/optionStrategy/{optionStrategyId}/execute:
    post:
      operationId: Options_placeOptionStrategy
      parameters:
      - explode: true
        in: query
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: form
      - explode: true
        in: query
        name: userSecret
        required: true
        schema:
          $ref: '#/components/schemas/UserSecret'
        style: form
      - description: The ID of the account to execute the strategy in.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          $ref: '#/components/schemas/Id'
        style: simple
      - description: Option strategy id obtained from response when creating option
          strategy object
        explode: false
        in: path
        name: optionStrategyId
        required: true
        schema:
          $ref: '#/components/schemas/Id'
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/OrderStrategyExecuteBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StrategyOrderRecord'
          description: Status of strategy order placed
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/500UnexpectedExceptionResponse'
          description: Unexpected error
          x-do-not-generate: true
      summary: Place an option strategy order on the brokerage
      tags:
      - Options
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--accounts-accountId-optionStrategy-optionStrategyId-execute
      x-content-type: application/json
      x-accepts: application/json
  /brokerages:
    get:
      operationId: ReferenceData_listAllBrokerages
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Brokerage'
                type: array
                x-konfig-is-used-in-successful-response: true
          description: A list of all defined Brokerage objects.
        default:
          description: Unexpected error.
      summary: List brokerages
      tags:
      - Reference Data
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--brokerages
      x-accepts: application/json
  /brokerageAuthorizationTypes:
    get:
      operationId: ReferenceData_listAllBrokerageAuthorizationType
      parameters:
      - description: Comma separated value of brokerage slugs
        explode: true
        in: query
        name: brokerage
        required: false
        schema:
          example: "QUESTRADE,ALPACA"
          type: string
          x-konfig-original-example: "QUESTRADE,ALPACA"
          x-konfig-generated-schema: konfig-generated-schema-paths--brokerageAuthorizationTypes-get-parameters-0-schema
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/BrokerageAuthorizationTypeReadOnly'
                type: array
                x-konfig-is-used-in-successful-response: true
          description: A list of all defined Brokerage Authorization Type objects.
        default:
          description: Unexpected error.
      summary: List of all brokerage authorization types
      tags:
      - Reference Data
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--brokerageAuthorizationTypes
      x-accepts: application/json
  /currencies:
    get:
      operationId: ReferenceData_listAllCurrencies
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Currency'
                type: array
                x-konfig-is-used-in-successful-response: true
          description: A list of all currencies.
        default:
          description: Unexpected error.
      summary: List currencies
      tags:
      - Reference Data
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--currencies
      x-accepts: application/json
  /snapTrade/listUserErrors:
    get:
      operationId: ErrorLogs_listUserErrors
      parameters:
      - explode: true
        in: query
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: form
      - explode: true
        in: query
        name: userSecret
        required: true
        schema:
          $ref: '#/components/schemas/UserSecret'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UserErrorLog'
                type: array
                x-konfig-is-used-in-successful-response: true
          description: A list of all user errors for a particular user in the last
            90 days.
      summary: Retrieve error logs on behalf of your SnapTrade users
      tags:
      - Error Logs
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--snapTrade-listUserErrors
      x-accepts: application/json
  /currencies/rates:
    get:
      operationId: ReferenceData_listAllCurrenciesRates
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ExchangeRatePairs'
                type: array
                x-konfig-is-used-in-successful-response: true
          description: A list of all exchange rates pairs for supported currencies
      summary: List currency exchange rates
      tags:
      - Reference Data
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--currencies-rates
      x-accepts: application/json
  /currencies/rates/{currencyPair}:
    get:
      operationId: ReferenceData_getCurrencyExchangeRatePair
      parameters:
      - description: "A currency pair based on currency code for example, {CAD-USD}"
        explode: false
        in: path
        name: currencyPair
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExchangeRatePairs'
          description: A list of all exchange rates pairs for supported currencies
      summary: Return the exchange rate of a currency pair
      tags:
      - Reference Data
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--currencies-rates-currencyPair
      x-accepts: application/json
  /exchanges:
    get:
      operationId: ReferenceData_getStockExchanges
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Exchange'
                type: array
                x-konfig-is-used-in-successful-response: true
          description: A list of all supported stock exchanges
      summary: List exchanges
      tags:
      - Reference Data
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--exchanges
      x-accepts: application/json
  /securityTypes:
    get:
      description: List security types available on SnapTrade.
      operationId: ReferenceData_getSecurityTypes
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/SecurityType'
                type: array
                x-konfig-is-used-in-successful-response: true
          description: A list of all defined Security Type objects.
        default:
          description: Unexpected error.
      summary: List of all security types
      tags:
      - Reference Data
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--securityTypes
      x-accepts: application/json
  /symbols:
    post:
      operationId: ReferenceData_getSymbols
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SymbolQuery'
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UniversalSymbol'
                type: array
                x-konfig-is-used-in-successful-response: true
          description: A list of UniversalSymbol objects which match the specified
            substring
        default:
          description: Unexpected error.
      summary: Search for symbols
      tags:
      - Reference Data
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--symbols
      x-content-type: application/json
      x-accepts: application/json
  /symbols/{ticker}:
    get:
      operationId: ReferenceData_getSymbolsByTicker
      parameters:
      - description: The ticker of the UniversalSymbol to get.
        explode: false
        in: path
        name: ticker
        required: true
        schema:
          type: string
        style: simple
      - description: OPTIONAL IN PATH Can be used instead of the ticker ; The ID of
          the UniversalSymbol to get.
        explode: true
        in: query
        name: symbolId
        required: false
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UniversalSymbol'
          description: Successfully gets a symbol
        "404":
          description: No symbol with the specified ticker found.
        default:
          description: Unexpected error
      summary: Get details of a symbol by the ticker
      tags:
      - Reference Data
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--symbols-ticker
      x-accepts: '*/*'
  /activities:
    get:
      description: Returns activities (transactions) for a user. Specifing start and
        end date is highly recommended for better performance
      operationId: TransactionsAndReporting_getActivities
      parameters:
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          $ref: '#/components/schemas/ReportingDate'
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          $ref: '#/components/schemas/ReportingDate'
        style: form
      - description: Optional comma seperated list of account IDs used to filter the
          request on specific accounts
        explode: true
        in: query
        name: accounts
        required: false
        schema:
          $ref: '#/components/schemas/AccountIDs'
        style: form
      - description: Optional comma seperated list of brokerage authorization IDs
          used to filter the request on only accounts that belong to those authorizations
        explode: true
        in: query
        name: brokerageAuthorizations
        required: false
        schema:
          $ref: '#/components/schemas/BrokerageAuthIDs'
        style: form
      - description: "Optional comma seperated list of types to filter activities\
          \ by. This is not an exhaustive list, if we fail to match to these types,\
          \ we will return the raw description from the brokerage. Potential values\
          \ include - DIVIDEND - BUY - SELL - CONTRIBUTION - WITHDRAWAL - EXTERNAL_ASSET_TRANSFER_IN\
          \ - EXTERNAL_ASSET_TRANSFER_OUT - INTERNAL_CASH_TRANSFER_IN - INTERNAL_CASH_TRANSFER_OUT\
          \ - INTERNAL_ASSET_TRANSFER_IN - INTERNAL_ASSET_TRANSFER_OUT - INTEREST\
          \ - REBATE - GOV_GRANT - TAX - FEE - REI - FXT"
        explode: true
        in: query
        name: type
        required: false
        schema:
          example: DIVIDEND
          type: string
          x-konfig-original-example: DIVIDEND
          x-konfig-generated-schema: konfig-generated-schema-paths--activities-get-parameters-4-schema
        style: form
      - explode: true
        in: query
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: form
      - explode: true
        in: query
        name: userSecret
        required: true
        schema:
          $ref: '#/components/schemas/UserSecret'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UniversalActivity'
                type: array
                x-konfig-is-used-in-successful-response: true
          description: Successfully retrieved transaction history
        default:
          description: Unexpected error
      summary: Get transaction history for a user
      tags:
      - Transactions And Reporting
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--activities
      x-accepts: application/json
  /performance/custom:
    get:
      description: "Returns performance information (contributions, dividends, rate\
        \ of return, etc) for a specific timeframe. Total Equity Timeframe and Rate\
        \ of Returns are experimental and should not be trusted to be 100% accurate"
      operationId: TransactionsAndReporting_getReportingCustomRange
      parameters:
      - explode: true
        in: query
        name: startDate
        required: true
        schema:
          $ref: '#/components/schemas/ReportingDate'
        style: form
      - explode: true
        in: query
        name: endDate
        required: true
        schema:
          $ref: '#/components/schemas/ReportingDate'
        style: form
      - description: Optional comma seperated list of account IDs used to filter the
          request on specific accounts
        explode: true
        in: query
        name: accounts
        required: false
        schema:
          $ref: '#/components/schemas/AccountIDs'
        style: form
      - description: "Optional, increases frequency of data points for the total value\
          \ and contribution charts if set to true"
        explode: true
        in: query
        name: detailed
        required: false
        schema:
          example: true
          type: boolean
          x-konfig-original-example: true
          x-konfig-generated-schema: konfig-generated-schema-paths--performance-custom-get-parameters-3-schema
        style: form
      - description: "Optional frequency for the rate of return chart (defaults to\
          \ monthly). Possible values are daily, weekly, monthly, quarterly, yearly."
        explode: true
        in: query
        name: frequency
        required: false
        schema:
          $ref: '#/components/schemas/ReportingFrequency'
        style: form
      - explode: true
        in: query
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/UserID'
        style: form
      - explode: true
        in: query
        name: userSecret
        required: true
        schema:
          $ref: '#/components/schemas/UserSecret'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PerformanceCustom'
          description: Successfully retrieved performance data
        default:
          description: Unexpected error
      summary: Get performance information for a specific timeframe
      tags:
      - Transactions And Reporting
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--performance-custom
      x-accepts: application/json
components:
  requestBodies:
    RegisterUserRequestBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SnapTradeRegisterUserRequestBody'
      required: true
    SnapTradeLoginUserRequestBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SnapTradeLoginUserRequestBody'
    LoginRequestBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UserIDandSecret'
      required: true
    DeleteUserRequestBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UserIDandSecret'
      required: true
    RedeemTokenRequestBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RedirectTokenandPin'
      required: true
    PortfolioGroup:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PortfolioGroup'
      required: true
    TargetAsset:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TargetAsset'
      required: true
    ManualTradeFormRequestBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ManualTradeForm'
      required: true
    CancelOrderRequestBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Trading_cancelUserAccountOrder_request'
      description: The Order ID to be canceled
      required: true
    OCORequestBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Trading_placeOCOOrder_request'
      required: true
    OptionStrategyRequestBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Options_getOptionStrategy_request'
      required: true
    OrderStrategyExecuteBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Options_placeOptionStrategy_request'
      required: true
    SnapTradeAPIDisclaimerAcceptRequestBody:
      content:
        application/json:
          schema:
            additionalProperties: true
            properties:
              accepted:
                description: A boolean that indicates whether this user has accepted
                  the disclaimer or not.
                type: boolean
            type: object
      required: true
  schemas:
    "400FailedRequestResponse":
      additionalProperties: true
      description: Example for failed request response
      properties:
        default_detail:
          example: Unable to verify data sent
          x-konfig-original-example: Unable to verify data sent
        default_code:
          example: 1076
          x-konfig-original-example: 1076
      type: object
      x-konfig-is-used-in-non-successful-response: true
      x-do-not-generate: true
    "401FailedRequestResponse":
      additionalProperties: true
      description: Example for failed request response
      properties:
        default_detail:
          example: Unable to verify signature sent
          x-konfig-original-example: Unable to verify signature sent
        default_code:
          example: 1076
          x-konfig-original-example: 1076
      type: object
      x-konfig-is-used-in-non-successful-response: true
      x-do-not-generate: true
    "403FailedRequestResponse":
      additionalProperties: true
      description: Example for failed request response
      properties:
        default_detail:
          example: User does not have permission to access this resource
          x-konfig-original-example: User does not have permission to access this
            resource
        default_code:
          example: 1066
          x-konfig-original-example: 1066
      type: object
      x-konfig-is-used-in-non-successful-response: true
      x-do-not-generate: true
    "404FailedRequestResponse":
      additionalProperties: true
      description: Example for failed request response
      properties:
        default_detail:
          example: The requested resource does not exist.
          x-konfig-original-example: The requested resource does not exist.
        default_code:
          example: 1011
          x-konfig-original-example: 1011
      type: object
      x-konfig-is-used-in-non-successful-response: true
      x-do-not-generate: true
    "500UnexpectedExceptionResponse":
      additionalProperties: true
      description: Example for a response that failed for unexpected reasons
      properties:
        detail:
          example: Encountered an unexpected exception.
          x-konfig-original-example: Encountered an unexpected exception.
        status_code:
          example: 500
          x-konfig-original-example: 500
        code:
          example: 1000
          x-konfig-original-example: 1000
      type: object
      x-konfig-is-used-in-non-successful-response: true
      x-do-not-generate: true
    CashRestriction:
      additionalProperties: true
      description: Cash restriction rules that apply to this account when undergoing
        portfolio rebalance calculations.
      example:
        amount: 100
        currency: 2bcd7cc3-e922-4976-bce1-9858296801c3
        id: 2bcd7cc3-e922-4976-bce1-9858296801c3
        type: ALLOCATE_MAX
        account: 2bcd7cc3-e922-4976-bce1-9858296801c3
      properties:
        id:
          example: 2bcd7cc3-e922-4976-bce1-9858296801c3
          format: uuid
          type: string
          x-konfig-original-example: 2bcd7cc3-e922-4976-bce1-9858296801c3
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Id
        account:
          example: 2bcd7cc3-e922-4976-bce1-9858296801c3
          format: uuid
          type: string
          x-konfig-original-example: 2bcd7cc3-e922-4976-bce1-9858296801c3
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Id
        currency:
          example: 2bcd7cc3-e922-4976-bce1-9858296801c3
          format: uuid
          type: string
          x-konfig-original-example: 2bcd7cc3-e922-4976-bce1-9858296801c3
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Id
        type:
          enum:
          - ALLOCATE_MAX
          - RETAIN_MIN
          type: string
        amount:
          example: 100
          type: number
          x-konfig-original-example: 100
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-CashRestriction-properties-amount
      type: object
    AccountSyncStatus:
      description: Status of account
      example:
        transactions:
          last_successful_sync: 2022-01-24T00:00:00.000+00:00
          initial_sync_completed: true
      properties:
        transactions:
          $ref: '#/components/schemas/TransactionsStatus'
    TransactionsStatus:
      description: Status of account transaction sync
      example:
        last_successful_sync: 2022-01-24T00:00:00.000+00:00
        initial_sync_completed: true
      properties:
        initial_sync_completed:
          type: boolean
        last_successful_sync:
          description: Date in YYYY-MM-DD format or null
          example: 2022-01-24
          format: date
          nullable: true
          type: string
          x-konfig-original-example: 2022-01-24
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-SyncStatusDate
    Account:
      additionalProperties: true
      description: SnapTradeUser Investment Account
      example:
        number: Q6542138443
        brokerage_authorization: 2bcd7cc3-e922-4976-bce1-9858296801c3
        meta:
          type: Margin
          status: ACTIVE
          institution_name: Alpaca
        name: Registered Retirement Savings Account
        sync_status:
          transactions:
            last_successful_sync: 2022-01-24T00:00:00.000+00:00
            initial_sync_completed: true
        id: 2bcd7cc3-e922-4976-bce1-9858296801c3
        portfolio_group: 2bcd7cc3-e922-4976-bce1-9858296801c3
        created_date: 2021-06-04T16:26:46.523Z
        institution_name: Alpaca
        cash_restrictions:
        - amount: 100
          currency: 2bcd7cc3-e922-4976-bce1-9858296801c3
          id: 2bcd7cc3-e922-4976-bce1-9858296801c3
          type: ALLOCATE_MAX
          account: 2bcd7cc3-e922-4976-bce1-9858296801c3
        - amount: 100
          currency: 2bcd7cc3-e922-4976-bce1-9858296801c3
          id: 2bcd7cc3-e922-4976-bce1-9858296801c3
          type: ALLOCATE_MAX
          account: 2bcd7cc3-e922-4976-bce1-9858296801c3
      properties:
        id:
          example: 2bcd7cc3-e922-4976-bce1-9858296801c3
          format: uuid
          type: string
          x-konfig-original-example: 2bcd7cc3-e922-4976-bce1-9858296801c3
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Id
        brokerage_authorization:
          example: 2bcd7cc3-e922-4976-bce1-9858296801c3
          format: uuid
          type: string
          x-konfig-original-example: 2bcd7cc3-e922-4976-bce1-9858296801c3
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Id
        portfolio_group:
          example: 2bcd7cc3-e922-4976-bce1-9858296801c3
          format: uuid
          type: string
          x-konfig-original-example: 2bcd7cc3-e922-4976-bce1-9858296801c3
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Id
        name:
          example: Registered Retirement Savings Account
          type: string
          x-konfig-original-example: Registered Retirement Savings Account
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Account-properties-name
        number:
          example: Q6542138443
          type: string
          x-konfig-original-example: Q6542138443
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Account-properties-number
        institution_name:
          example: Alpaca
          type: string
          x-konfig-original-example: Alpaca
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Account-properties-institution_name
        created_date:
          example: 2021-06-04T16:26:46.523Z
          type: string
          x-konfig-original-example: 2021-06-04T16:26:46.523Z
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Account-properties-created_date
        meta:
          additionalProperties: true
          example:
            type: Margin
            status: ACTIVE
            institution_name: Alpaca
          type: object
          x-konfig-original-example:
            type: Margin
            status: ACTIVE
            institution_name: Alpaca
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Account-properties-meta
        cash_restrictions:
          items:
            $ref: '#/components/schemas/CashRestriction'
          type: array
        sync_status:
          $ref: '#/components/schemas/AccountSyncStatus'
      type: object
      x-konfig-is-used-in-successful-response: true
    AccountSimple:
      additionalProperties: true
      description: SnapTradeUser Investment Account
      example:
        number: Q6542138443
        name: Registered Retirement Savings Account
        sync_status:
          transactions:
            last_successful_sync: 2022-01-24T00:00:00.000+00:00
            initial_sync_completed: true
        id: 2bcd7cc3-e922-4976-bce1-9858296801c3
      properties:
        id:
          example: 2bcd7cc3-e922-4976-bce1-9858296801c3
          format: uuid
          type: string
          x-konfig-original-example: 2bcd7cc3-e922-4976-bce1-9858296801c3
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Id
        name:
          example: Registered Retirement Savings Account
          type: string
          x-konfig-original-example: Registered Retirement Savings Account
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-AccountSimple-properties-name
        number:
          example: Q6542138443
          type: string
          x-konfig-original-example: Q6542138443
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-AccountSimple-properties-number
        sync_status:
          $ref: '#/components/schemas/AccountSyncStatus'
      type: object
    AccountIDs:
      description: Comma seperated list of account IDs
      example: "917c8734-8470-4a3e-a18f-57c3f2ee6631,65e839a3-9103-4cfb-9b72-2071ef80c5f2"
      type: string
      x-konfig-original-example: "917c8734-8470-4a3e-a18f-57c3f2ee6631,65e839a3-9103-4cfb-9b72-2071ef80c5f2"
      x-konfig-generated-schema: konfig-generated-schema-components-schemas-AccountIDs
    BrokerageAuthIDs:
      description: Comma seperated list of brokerage authorization IDs
      example: "917c8734-8470-4a3e-a18f-57c3f2ee6631,65e839a3-9103-4cfb-9b72-2071ef80c5f2"
      type: string
      x-konfig-original-example: "917c8734-8470-4a3e-a18f-57c3f2ee6631,65e839a3-9103-4cfb-9b72-2071ef80c5f2"
      x-konfig-generated-schema: konfig-generated-schema-components-schemas-BrokerageAuthIDs
    AccountHoldings:
      additionalProperties: true
      description: Account Holdings
      example:
        total_value:
          currency: USD
          value: 32600.71
        balances:
        - currency:
            code: USD
            name: US Dollar
            id: 87b24961-b51e-4db8-9226-f198f6518a89
          cash: 300.71
        - currency:
            code: USD
            name: US Dollar
            id: 87b24961-b51e-4db8-9226-f198f6518a89
          cash: 300.71
        positions:
        - symbol:
            is_quotable: true
            symbol:
              symbol: VAB.TO
              raw_symbol: VAB
              description: VANGUARD CDN AGGREGATE BOND INDEX ETF
              currency:
                code: USD
                name: US Dollar
                id: 87b24961-b51e-4db8-9226-f198f6518a89
              exchange:
                start_time: 09:30:00
                mic_code: XTSE
                code: TSX
                timezone: America/New_York
                name: Toronto Stock Exchange
                id: 2bcd7cc3-e922-4976-bce1-9858296801c3
                close_time: "57600"
                suffix: .TO
              id: 2bcd7cc3-e922-4976-bce1-9858296801c3
              type:
                is_supported: true
                code: cs
                description: Common Stock
                id: 2bcd7cc3-e922-4976-bce1-9858296801c3
              currencies:
              - code: USD
                name: US Dollar
                id: 87b24961-b51e-4db8-9226-f198f6518a89
              - code: USD
                name: US Dollar
                id: 87b24961-b51e-4db8-9226-f198f6518a89
            is_tradable: true
            local_id: "3291231"
            description: VANGUARD CDN AGGREGATE BOND INDEX ETF
            id: 2bcd7cc3-e922-4976-bce1-9858296801c3
          fractional_units: 1.44
          price: 113.15
          open_pnl: 0.44
          units: 40
          average_purchase_price: 108.3353
        - symbol:
            is_quotable: true
            symbol:
              symbol: VAB.TO
              raw_symbol: VAB
              description: VANGUARD CDN AGGREGATE BOND INDEX ETF
              currency:
                code: USD
                name: US Dollar
                id: 87b24961-b51e-4db8-9226-f198f6518a89
              exchange:
                start_time: 09:30:00
                mic_code: XTSE
                code: TSX
                timezone: America/New_York
                name: Toronto Stock Exchange
                id: 2bcd7cc3-e922-4976-bce1-9858296801c3
                close_time: "57600"
                suffix: .TO
              id: 2bcd7cc3-e922-4976-bce1-9858296801c3
              type:
                is_supported: true
                code: cs
                description: Common Stock
                id: 2bcd7cc3-e922-4976-bce1-9858296801c3
              currencies:
              - code: USD
                name: US Dollar
                id: 87b24961-b51e-4db8-9226-f198f6518a89
              - code: USD
                name: US Dollar
                id: 87b24961-b51e-4db8-9226-f198f6518a89
            is_tradable: true
            local_id: "3291231"
            description: VANGUARD CDN AGGREGATE BOND INDEX ETF
            id: 2bcd7cc3-e922-4976-bce1-9858296801c3
          fractional_units: 1.44
          price: 113.15
          open_pnl: 0.44
          units: 40
          average_purchase_price: 108.3353
        account:
          number: Q6542138443
          brokerage_authorization:
            brokerage:
              maintenance_mode: true
              allows_fractional_units: true
              exchanges:
              - 2bcd7cc3-e922-4976-bce1-9858296801c3
              - 4bcd8cc3-c122-4974-dc21-1858296801f4
              description: Questrade is an online brokerage firm and wealth management
                firm based in Canada. It is Canada's largest discount broker.
              display_name: Questrade
              url: https://www.questrade.com/
              enabled: true
              allows_trading: true
              has_reporting: true
              is_real_time_connection: true
              name: Questrade
              allows_trading_through_snaptrade_api: true
              id: 2bcd7cc3-e922-4976-bce1-9858296801c3
              default_currency: 2bcd7cc3-e922-4976-bce1-9858296801c3
              brokerage_type:
                name: Traditional Brokerage
                id: 2bcd7cc3-e922-4976-bce1-9858296801c3
              aws_s3_logo_url: https://www.snaptrade.com/questrade.logo
              slug: QUESTRADE
              is_scraping_integration: true
            disabled_date: 2022-01-21T20:11:19.217Z
            meta:
              identifier: 123456
            name: Connection-1
            disabled: false
            id: 2bcd7cc3-e922-4976-bce1-9858296801c3
            created_date: 2022-01-21T20:11:19.217Z
            updated_date: 2022-01-21T20:11:19.217Z
            type: trade
          meta:
            type: Margin
            status: ACTIVE
            institution_name: Alpaca
          name: Registered Retirement Savings Account
          sync_status:
            transactions:
              last_successful_sync: 2022-01-24T00:00:00.000+00:00
              initial_sync_completed: true
          id: 2bcd7cc3-e922-4976-bce1-9858296801c3
          portfolio_group: 2bcd7cc3-e922-4976-bce1-9858296801c3
          institution_name: Alpaca
      properties:
        account:
          $ref: '#/components/schemas/SnapTradeHoldingsAccount'
        balances:
          items:
            $ref: '#/components/schemas/Balance'
          nullable: true
          type: array
        positions:
          items:
            $ref: '#/components/schemas/Position'
          nullable: true
          type: array
        total_value:
          $ref: '#/components/schemas/SnapTradeHoldingsTotalValue'
      type: object
    AccountHoldingsAccount:
      additionalProperties: true
      description: Account Holdings with Account ID
      example:
        total_value:
          currency: USD
          value: 32600.71
        balances:
        - currency:
            code: USD
            name: US Dollar
            id: 87b24961-b51e-4db8-9226-f198f6518a89
          cash: 300.71
        - currency:
            code: USD
            name: US Dollar
            id: 87b24961-b51e-4db8-9226-f198f6518a89
          cash: 300.71
        positions:
        - symbol:
            is_quotable: true
            symbol:
              symbol: VAB.TO
              raw_symbol: VAB
              description: VANGUARD CDN AGGREGATE BOND INDEX ETF
              currency:
                code: USD
                name: US Dollar
                id: 87b24961-b51e-4db8-9226-f198f6518a89
              exchange:
                start_time: 09:30:00
                mic_code: XTSE
                code: TSX
                timezone: America/New_York
                name: Toronto Stock Exchange
                id: 2bcd7cc3-e922-4976-bce1-9858296801c3
                close_time: "57600"
                suffix: .TO
              id: 2bcd7cc3-e922-4976-bce1-9858296801c3
              type:
                is_supported: true
                code: cs
                description: Common Stock
                id: 2bcd7cc3-e922-4976-bce1-9858296801c3
              currencies:
              - code: USD
                name: US Dollar
                id: 87b24961-b51e-4db8-9226-f198f6518a89
              - code: USD
                name: US Dollar
                id: 87b24961-b51e-4db8-9226-f198f6518a89
            is_tradable: true
            local_id: "3291231"
            description: VANGUARD CDN AGGREGATE BOND INDEX ETF
            id: 2bcd7cc3-e922-4976-bce1-9858296801c3
          fractional_units: 1.44
          price: 113.15
          open_pnl: 0.44
          units: 40
          average_purchase_price: 108.3353
        - symbol:
            is_quotable: true
            symbol:
              symbol: VAB.TO
              raw_symbol: VAB
              description: VANGUARD CDN AGGREGATE BOND INDEX ETF
              currency:
                code: USD
                name: US Dollar
                id: 87b24961-b51e-4db8-9226-f198f6518a89
              exchange:
                start_time: 09:30:00
                mic_code: XTSE
                code: TSX
                timezone: America/New_York
                name: Toronto Stock Exchange
                id: 2bcd7cc3-e922-4976-bce1-9858296801c3
                close_time: "57600"
                suffix: .TO
              id: 2bcd7cc3-e922-4976-bce1-9858296801c3
              type:
                is_supported: true
                code: cs
                description: Common Stock
                id: 2bcd7cc3-e922-4976-bce1-9858296801c3
              currencies:
              - code: USD
                name: US Dollar
                id: 87b24961-b51e-4db8-9226-f198f6518a89
              - code: USD
                name: US Dollar
                id: 87b24961-b51e-4db8-9226-f198f6518a89
            is_tradable: true
            local_id: "3291231"
            description: VANGUARD CDN AGGREGATE BOND INDEX ETF
            id: 2bcd7cc3-e922-4976-bce1-9858296801c3
          fractional_units: 1.44
          price: 113.15
          open_pnl: 0.44
          units: 40
          average_purchase_price: 108.3353
        orders:
        - symbol: 2bcd7cc3-e922-4976-bce1-9858296801c3
          time_placed: 2022-01-21T20:11:19.217Z
          expiry_date: 2022-01-21T20:11:19.217Z
          brokerage_order_id: brokerage_order_id
          limit_price: 31.33
          time_updated: 2022-01-21T20:11:19.217Z
          canceled_quantity: 1.4658129805029452
          time_in_force: null
          execution_price: 31.33
          stop_price: 31.33
          action: null
          total_quantity: 0.8008281904610115
          universal_symbol:
            symbol: VAB.TO
            raw_symbol: VAB
            description: VANGUARD CDN AGGREGATE BOND INDEX ETF
            currency:
              code: USD
              name: US Dollar
              id: 87b24961-b51e-4db8-9226-f198f6518a89
            exchange:
              start_time: 09:30:00
              mic_code: XTSE
              code: TSX
              timezone: America/New_York
              name: Toronto Stock Exchange
              id: 2bcd7cc3-e922-4976-bce1-9858296801c3
              close_time: "57600"
              suffix: .TO
            id: 2bcd7cc3-e922-4976-bce1-9858296801c3
            type:
              is_supported: true
              code: cs
              description: Common Stock
              id: 2bcd7cc3-e922-4976-bce1-9858296801c3
            currencies:
            - code: USD
              name: US Dollar
              id: 87b24961-b51e-4db8-9226-f198f6518a89
            - code: USD
              name: US Dollar
              id: 87b24961-b51e-4db8-9226-f198f6518a89
          filled_quantity: 5.962133916683182
          option_symbol:
            ticker: SPY 220819P00200000
            exchange_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            local_id: "40817960"
            is_mini_option: false
            option_type: CALL
            underlying_symbol:
              symbol: SPY
              description: SPDR S&P 500 ETF Trust
              currency:
                code: USD
                name: US Dollar
                id: 87b24961-b51e-4db8-9226-f198f6518a89
              exchange:
                start_time: 09:30:00
                mic_code: ARCA
                code: ARCX
                timezone: America/New_York
                name: NYSE ARCA
                id: 2bcd7cc3-e922-4976-bce1-9858296801c3
                close_time: "57600"
                suffix: None
                allows_cryptocurrency_symbols: false
              id: 2bcd7cc3-e922-4976-bce1-9858296801c3
              type:
                is_supported: true
                code: cs
                description: Common Stock
                id: 2bcd7cc3-e922-4976-bce1-9858296801c3
              currencies:
              - code: USD
                name: US Dollar
                id: 87b24961-b51e-4db8-9226-f198f6518a89
              - code: USD
                name: US Dollar
                id: 87b24961-b51e-4db8-9226-f198f6518a89
            id: 2bcd7cc3-e922-4976-bce1-9858296801c3
            expiration_date: 2017-07-17T15:13:07.177712+00:00
            strike_price: 200
          order_type: null
          open_quantity: 6.027456183070403
          status: null
        - symbol: 2bcd7cc3-e922-4976-bce1-9858296801c3
          time_placed: 2022-01-21T20:11:19.217Z
          expiry_date: 2022-01-21T20:11:19.217Z
          brokerage_order_id: brokerage_order_id
          limit_price: 31.33
          time_updated: 2022-01-21T20:11:19.217Z
          canceled_quantity: 1.4658129805029452
          time_in_force: null
          execution_price: 31.33
          stop_price: 31.33
          action: null
          total_quantity: 0.8008281904610115
          universal_symbol:
            symbol: VAB.TO
            raw_symbol: VAB
            description: VANGUARD CDN AGGREGATE BOND INDEX ETF
            currency:
              code: USD
              name: US Dollar
              id: 87b24961-b51e-4db8-9226-f198f6518a89
            exchange:
              start_time: 09:30:00
              mic_code: XTSE
              code: TSX
              timezone: America/New_York
              name: Toronto Stock Exchange
              id: 2bcd7cc3-e922-4976-bce1-9858296801c3
              close_time: "57600"
              suffix: .TO
            id: 2bcd7cc3-e922-4976-bce1-9858296801c3
            type:
              is_supported: true
              code: cs
              description: Common Stock
              id: 2bcd7cc3-e922-4976-bce1-9858296801c3
            currencies:
            - code: USD
              name: US Dollar
              id: 87b24961-b51e-4db8-9226-f198f6518a89
            - code: USD
              name: US Dollar
              id: 87b24961-b51e-4db8-9226-f198f6518a89
          filled_quantity: 5.962133916683182
          option_symbol:
            ticker: SPY 220819P00200000
            exchange_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            local_id: "40817960"
            is_mini_option: false
            option_type: CALL
            underlying_symbol:
              symbol: SPY
              description: SPDR S&P 500 ETF Trust
              currency:
                code: USD
                name: US Dollar
                id: 87b24961-b51e-4db8-9226-f198f6518a89
              exchange:
                start_time: 09:30:00
                mic_code: ARCA
                code: ARCX
                timezone: America/New_York
                name: NYSE ARCA
                id: 2bcd7cc3-e922-4976-bce1-9858296801c3
                close_time: "57600"
                suffix: None
                allows_cryptocurrency_symbols: false
              id: 2bcd7cc3-e922-4976-bce1-9858296801c3
              type:
                is_supported: true
                code: cs
                description: Common Stock
                id: 2bcd7cc3-e922-4976-bce1-9858296801c3
              currencies:
              - code: USD
                name: US Dollar
                id: 87b24961-b51e-4db8-9226-f198f6518a89
              - code: USD
                name: US Dollar
                id: 87b24961-b51e-4db8-9226-f198f6518a89
            id: 2bcd7cc3-e922-4976-bce1-9858296801c3
            expiration_date: 2017-07-17T15:13:07.177712+00:00
            strike_price: 200
          order_type: null
          open_quantity: 6.027456183070403
          status: null
        account:
          number: Q6542138443
          brokerage_authorization: 87b24961-b51e-4db8-9226-f198f6518a89
          meta:
            type: Margin
            status: ACTIVE
            institution_name: Alpaca
          name: Registered Retirement Savings Account
          id: 2bcd7cc3-e922-4976-bce1-9858296801c3
          portfolio_group: 2bcd7cc3-e922-4976-bce1-9858296801c3
          created_date: 2022-01-21T20:11:19.217Z
          institution_name: Alpaca
          cash_restrictions:
          - amount: 100
            currency: 2bcd7cc3-e922-4976-bce1-9858296801c3
            id: 2bcd7cc3-e922-4976-bce1-9858296801c3
            type: ALLOCATE_MAX
            account: 2bcd7cc3-e922-4976-bce1-9858296801c3
          - amount: 100
            currency: 2bcd7cc3-e922-4976-bce1-9858296801c3
            id: 2bcd7cc3-e922-4976-bce1-9858296801c3
            type: ALLOCATE_MAX
            account: 2bcd7cc3-e922-4976-bce1-9858296801c3
      properties:
        account:
          $ref: '#/components/schemas/SnapTradeHoldingsAccountAccountId'
        balances:
          items:
            $ref: '#/components/schemas/Balance'
          nullable: true
          type: array
        positions:
          items:
            $ref: '#/components/schemas/Position'
          nullable: true
          type: array
        orders:
          items:
            $ref: '#/components/schemas/AccountOrderRecord'
          nullable: true
          type: array
        total_value:
          $ref: '#/components/schemas/SnapTradeHoldingsTotalValue'
      type: object
      x-konfig-is-used-in-successful-response: true
    AccountOrderRecord:
      additionalProperties: true
      description: Record of order in brokerageaccount
      example:
        symbol: 2bcd7cc3-e922-4976-bce1-9858296801c3
        time_placed: 2022-01-21T20:11:19.217Z
        expiry_date: 2022-01-21T20:11:19.217Z
        brokerage_order_id: brokerage_order_id
        limit_price: 31.33
        time_updated: 2022-01-21T20:11:19.217Z
        canceled_quantity: 1.4658129805029452
        time_in_force: null
        execution_price: 31.33
        stop_price: 31.33
        action: null
        total_quantity: 0.8008281904610115
        universal_symbol:
          symbol: VAB.TO
          raw_symbol: VAB
          description: VANGUARD CDN AGGREGATE BOND INDEX ETF
          currency:
            code: USD
            name: US Dollar
            id: 87b24961-b51e-4db8-9226-f198f6518a89
          exchange:
            start_time: 09:30:00
            mic_code: XTSE
            code: TSX
            timezone: America/New_York
            name: Toronto Stock Exchange
            id: 2bcd7cc3-e922-4976-bce1-9858296801c3
            close_time: "57600"
            suffix: .TO
          id: 2bcd7cc3-e922-4976-bce1-9858296801c3
          type:
            is_supported: true
            code: cs
            description: Common Stock
            id: 2bcd7cc3-e922-4976-bce1-9858296801c3
          currencies:
          - code: USD
            name: US Dollar
            id: 87b24961-b51e-4db8-9226-f198f6518a89
          - code: USD
            name: US Dollar
            id: 87b24961-b51e-4db8-9226-f198f6518a89
        filled_quantity: 5.962133916683182
        option_symbol:
          ticker: SPY 220819P00200000
          exchange_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          local_id: "40817960"
          is_mini_option: false
          option_type: CALL
          underlying_symbol:
            symbol: SPY
            description: SPDR S&P 500 ETF Trust
            currency:
              code: USD
              name: US Dollar
              id: 87b24961-b51e-4db8-9226-f198f6518a89
            exchange:
              start_time: 09:30:00
              mic_code: ARCA
              code: ARCX
              timezone: America/New_York
              name: NYSE ARCA
              id: 2bcd7cc3-e922-4976-bce1-9858296801c3
              close_time: "57600"
              suffix: None
              allows_cryptocurrency_symbols: false
            id: 2bcd7cc3-e922-4976-bce1-9858296801c3
            type:
              is_supported: true
              code: cs
              description: Common Stock
              id: 2bcd7cc3-e922-4976-bce1-9858296801c3
            currencies:
            - code: USD
              name: US Dollar
              id: 87b24961-b51e-4db8-9226-f198f6518a89
            - code: USD
              name: US Dollar
              id: 87b24961-b51e-4db8-9226-f198f6518a89
          id: 2bcd7cc3-e922-4976-bce1-9858296801c3
          expiration_date: 2017-07-17T15:13:07.177712+00:00
          strike_price: 200
        order_type: null
        open_quantity: 6.027456183070403
        status: null
      properties:
        brokerage_order_id:
          description: Order id returned by brokerage
          type: string
        status:
          $ref: '#/components/schemas/AccountOrderRecordStatus'
        symbol:
          example: 2bcd7cc3-e922-4976-bce1-9858296801c3
          format: uuid
          type: string
          x-konfig-original-example: 2bcd7cc3-e922-4976-bce1-9858296801c3
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Id
        universal_symbol:
          $ref: '#/components/schemas/UniversalSymbol'
        option_symbol:
          $ref: '#/components/schemas/OptionsSymbol'
        action:
          $ref: '#/components/schemas/Action'
        total_quantity:
          description: Trade Units
          type: number
        open_quantity:
          description: Trade Units
          nullable: true
          type: number
        canceled_quantity:
          description: Trade Units
          nullable: true
          type: number
        filled_quantity:
          description: Trade Units
          nullable: true
          type: number
        execution_price:
[...]
