openapi: 3.0.1
info:
  title: Revenium Metering API
  description: Revenium Metering API
  contact:
    name: Revenium
    url: https://revenium.io
    email: info@revenium.io
  version: 1.14.0-SNAPSHOT
externalDocs:
  description: Revenium Metering API
  url: https://revenium.io
servers:
  - url: https://api.revenium.io/meter/v1/api
    description: Revenium Metering API (Production)
security:
  - api_key: []
tags:
  - name: Events
    description: Event based metering operations
  - name: Metring
    description: Metering operations
paths:
  /users/{id}:
    get:
      tags:
        - Users
      summary: Retrieve a user
      description: Retrieve a user
      operationId: getUser
      parameters:
        - name: id
          in: path
          description: The user id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserView'
        '403':
          description: Forbidden to access this user
          content:
            application/json:
              schema:
                type: object
        '404':
          description: User not found
          content:
            application/json:
              schema:
                type: object
    put:
      tags:
        - Users
      summary: Update a user
      description: Update a user
      operationId: updateUser
      parameters:
        - name: id
          in: path
          description: The user id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserDto'
        required: true
      responses:
        '200':
          description: The user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserView'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                type: object
    delete:
      tags:
        - Users
      summary: Delete a User
      description: Delete a User
      operationId: deleteUser
      parameters:
        - name: id
          in: path
          description: The user id
          required: true
          schema:
            type: string
      responses:
        '204':
          description: The user has been deleted
          content:
            application/json:
              schema:
                type: object
        '403':
          description: Forbidden to access this user
          content:
            application/json:
              schema:
                type: object
        '404':
          description: User not found
          content:
            application/json:
              schema:
                type: object
  /users/{id}/deactivate:
    put:
      tags:
        - Users
      summary: Deactivate a user
      description: Deactivate a user
      operationId: deactivateUser
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '404':
          description: User not found
          content:
            application/json:
              schema:
                type: object
  /users/{id}/activate:
    put:
      tags:
        - Users
      summary: Activate a user
      description: Activate a user
      operationId: activateUser
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '404':
          description: User not found
          content:
            application/json:
              schema:
                type: object
  /traffic-anomalies/rules:
    put:
      tags:
        - Traffic Anomalies
      summary: Update a traffic anomaly rule
      description: Update a traffic anomaly rule
      operationId: updateTrafficAnomalyRule
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTrafficAnomalyRuleRequest'
        required: true
      responses:
        '201':
          description: The traffic anomaly rule
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrafficAnomalyRuleView'
        '403':
          description: Forbidden to create traffic anomaly rules for this organization
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
        - Traffic Anomalies
      summary: Create a traffic anomaly rule
      description: Create a traffic anomaly rule
      operationId: createTrafficAnomalyRule
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTrafficAnomalyRuleRequest'
        required: true
      responses:
        '201':
          description: The traffic anomaly rule
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrafficAnomalyRuleView'
        '403':
          description: Forbidden to create traffic anomaly rules for this organization
          content:
            application/json:
              schema:
                type: object
  /tiers/{id}:
    get:
      tags:
        - Tiers
      summary: Get a tier
      description: Get a tier
      operationId: getTier
      parameters:
        - name: id
          in: path
          description: The tier id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The Tier
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TierView'
        '403':
          description: Forbidden to access this tier
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Plan not found
          content:
            application/json:
              schema:
                type: object
    put:
      tags:
        - Tiers
      summary: Update a tier
      description: Update a tier
      operationId: updateTier
      parameters:
        - name: id
          in: path
          description: The tier id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTierRequest'
        required: true
      responses:
        '200':
          description: The updated plan
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TierView'
        '403':
          description: Forbidden to access this user
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Owner not found
          content:
            application/json:
              schema:
                type: object
    delete:
      tags:
        - Tiers
      summary: Delete a tier
      description: Delete a tier
      operationId: deleteTier
      parameters:
        - name: id
          in: path
          description: The tier id
          required: true
          schema:
            type: string
      responses:
        '204':
          description: NO_CONTENT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unit'
        '403':
          description: Forbidden to access this tier
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unit'
        '404':
          description: Tier not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unit'
  /tenants/{id}:
    get:
      tags:
        - Tenants
      summary: Retrieve a tenant
      description: Retrieve a tenant
      operationId: getTenant
      parameters:
        - name: id
          in: path
          description: The tenant id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The tenant
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantView'
        '404':
          description: Tenant not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantView'
    put:
      tags:
        - Tenants
      summary: Update a tenant
      description: Update a tenant
      operationId: updateTenants
      parameters:
        - name: id
          in: path
          description: The tenant id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTenantDto'
        required: true
      responses:
        '200':
          description: The updated tenant
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantView'
        '404':
          description: Tenant not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantView'
    delete:
      tags:
        - Tenants
      summary: Delete a tenant
      description: Delete a tenant
      operationId: deleteTenant
      parameters:
        - name: id
          in: path
          description: The tenant id
          required: true
          schema:
            type: string
      responses:
        '204':
          description: The tenant has been deleted
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Tenant not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unit'
  /subscription-notification:
    put:
      tags:
        - Subscription Notifications
      summary: Update a subscriber notification
      description: Update a subscriber notification
      operationId: updateSubscriberNotification
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSubscriberNotificationRequest'
        required: true
      responses:
        '200':
          description: The subscriber notification
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriberNotificationView'
        '403':
          description: Forbidden to access this subscriber notification
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Subscriber notification not found
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
        - Subscription Notifications
      summary: Create an subscriber notification
      description: Create an subscriber notification
      operationId: createSubscriberNotification
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSubscriberNotificationRequest'
        required: true
      responses:
        '201':
          description: The subscription notification
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriberNotificationView'
        '403':
          description: Forbidden create a subscriber notification
          content:
            application/json:
              schema:
                type: object
  /stored-filters/{filterId}:
    get:
      tags:
        - Stored filters
      summary: Get an stored filter
      description: Get an stored filter
      operationId: getStoredFilterById
      parameters:
        - name: filterId
          in: path
          description: The stored filter id
          required: true
          schema:
            type: string
        - name: organizationId
          in: query
          description: The organization id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The stored filter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoredFilterResponse'
        '403':
          description: Forbidden to access this stored filter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoredFilterResponse'
        '404':
          description: Stored filter not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoredFilterResponse'
    put:
      tags:
        - Stored filters
      summary: Update an stored filter
      description: Update an stored filter
      operationId: updateStoredFilter
      parameters:
        - name: filterId
          in: path
          description: The stored filter id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateStoredFilterRequest'
        required: true
      responses:
        '200':
          description: The updated stored filter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoredFilterResponse'
        '403':
          description: Forbidden to access this stored filter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoredFilterResponse'
        '404':
          description: Owner not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoredFilterResponse'
    delete:
      tags:
        - Stored filters
      summary: Delete an stored filter
      description: Delete an stored filter
      operationId: deleteStoredFilter
      parameters:
        - name: organizationId
          in: query
          description: Id of asset's organization
          required: true
          schema:
            type: string
        - name: filterId
          in: path
          description: The stored filter id
          required: true
          schema:
            type: string
      responses:
        '204':
          description: NO_CONTENT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unit'
        '403':
          description: Forbidden to access this stored filter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unit'
        '404':
          description: Stored filter not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unit'
  /sla-definitions/{id}:
    get:
      tags:
        - SLA Definitions
      summary: Retrieve a sla definition
      description: Retrieve a sla definition
      operationId: getSLADefinition
      parameters:
        - name: id
          in: path
          description: The sla definition id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The SLA Definition
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SLADefinitionView'
        '403':
          description: Forbidden to access this sla definition
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Sla definition not found
          content:
            application/json:
              schema:
                type: object
    put:
      tags:
        - SLA Definitions
      summary: Update an sla definition
      description: Update an sla definition
      operationId: updateSLADefinition
      parameters:
        - name: id
          in: path
          description: The sla definition id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSLADefinitionRequest'
        required: true
      responses:
        '200':
          description: The updated sla definition
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SLADefinitionView'
        '403':
          description: Forbidden to access this sla definition
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Sla definition not found
          content:
            application/json:
              schema:
                type: object
    delete:
      tags:
        - SLA Definitions
      summary: Delete a sla definition
      description: Delete a sla definition
      operationId: deleteSLADefinition
      parameters:
        - name: id
          in: path
          description: The sla definition id
          required: true
          schema:
            type: string
      responses:
        '204':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unit'
        '403':
          description: Forbidden to access this sla definition
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unit'
        '404':
          description: Sla definition not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unit'
  /sites:
    get:
      tags:
        - Sites
      summary: List sites
      description: List sites
      operationId: listSites
      parameters:
        - name: organizationId
          in: query
          description: Id of site's organization
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The sites
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SitePageResponse'
        '403':
          description: Forbidden to list sites for this organization
          content:
            application/json:
              schema:
                type: object
        '404':
          description: A required resource is not found
          content:
            application/json:
              schema:
                type: object
    put:
      tags:
        - Sites
      summary: Update a site
      description: Update a site
      operationId: updateSite
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSiteRequest'
        required: true
      responses:
        '200':
          description: The site
          content:
            site/json:
              schema:
                $ref: '#/components/schemas/SiteView'
        '403':
          description: Forbidden to access this site
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Site not found
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
        - Sites
      summary: Create an site
      description: Create a site
      operationId: createSite
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSiteRequest'
        required: true
      responses:
        '201':
          description: The site
          content:
            site/json:
              schema:
                $ref: '#/components/schemas/SiteView'
        '403':
          description: Forbidden to access this site
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Site not found
          content:
            application/json:
              schema:
                type: object
  /site-provider/configurations/{id}:
    get:
      tags:
        - Site Provider Configurations
      summary: Retrieve a site provider configuration
      description: Retrieve a site provider configuration
      operationId: getSiteProviderConfiguration
      parameters:
        - name: id
          in: path
          description: The site provider configuration id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The site provider configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SiteConfigurationView'
        '403':
          description: Forbidden to access this site provider configuration
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Site provider configuration not found
          content:
            application/json:
              schema:
                type: object
    put:
      tags:
        - Site Provider Configurations
      summary: Update a site provider configuration
      description: Update a siteprovider configuration
      operationId: updateSiteProviderConfiguration
      parameters:
        - name: id
          in: path
          description: The site provider configuration id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSiteConfigurationRequest'
        required: true
      responses:
        '200':
          description: The updated site provider configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SiteConfigurationView'
        '403':
          description: Forbidden to access this site provider configuration
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Sitep rovider configuration not found
          content:
            application/json:
              schema:
                type: object
    delete:
      tags:
        - Site Provider Configurations
      summary: Delete an site configuration
      description: Delete an site configuration
      operationId: deleteSiteProviderConfiguration
      parameters:
        - name: id
          in: path
          description: The sit eprovider configuration id
          required: true
          schema:
            type: string
      responses:
        '204':
          description: NO_CONTENT
          content:
            application/json:
              schema:
                type: object
        '403':
          description: Forbidden to delete this site provider configurations
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Site provider configuration not found
          content:
            application/json:
              schema:
                type: object
  /products/{id}:
    get:
      tags:
        - Products
      summary: Get a product
      description: Get a product
      operationId: getProduct
      parameters:
        - name: id
          in: path
          description: The product id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The product
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductView'
        '403':
          description: Forbidden to access this product
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Product not found
          content:
            application/json:
              schema:
                type: object
    put:
      tags:
        - Products
      summary: Update a product
      description: Update a product
      operationId: updateProduct
      parameters:
        - name: id
          in: path
          description: The product id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProductRequest'
        required: true
      responses:
        '200':
          description: The updated product
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductView'
        '403':
          description: Forbidden to access this user
          content:
            application/json:
              schema:
                type: object
        '404':
          description: User not found
          content:
            application/json:
              schema:
                type: object
    delete:
      tags:
        - Products
      summary: Delete a product
      description: Delete a product
      operationId: deleteProduct
      parameters:
        - name: id
          in: path
          description: The product id
          required: true
          schema:
            type: string
      responses:
        '204':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unit'
        '403':
          description: Forbidden to delete this product
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unit'
        '404':
          description: Product not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unit'
  /products/{id}/remove-trial:
    put:
      tags:
        - Products
      summary: Remove trial from a product
      description: Remove trial from a product
      operationId: removeTrial
      parameters:
        - name: id
          in: path
          description: The product id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The Product
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductView'
        '403':
          description: Forbidden to update this product
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Product not found
          content:
            application/json:
              schema:
                type: object
  /product/families/{id}:
    get:
      tags:
        - Product Family
      summary: Get an product family
      description: Get an product family
      operationId: getProductFamily
      parameters:
        - name: id
          in: path
          description: The product family id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The product family
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductFamilyView'
        '403':
          description: Forbidden to access this product family
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Product family not found
          content:
            application/json:
              schema:
                type: object
    put:
      tags:
        - Product Family
      summary: Update an product family
      description: Update an product family
      operationId: updateProductFamily
      parameters:
        - name: id
          in: path
          description: The product family id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProductFamilyRequest'
        required: true
      responses:
        '200':
          description: The updated product family
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductFamilyView'
        '403':
          description: Forbidden to access this user
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Owner not found
          content:
            application/json:
              schema:
                type: object
    delete:
      tags:
        - Product Family
      summary: Delete a product family
      description: Delete a product family
      operationId: deleteProductFamily
      parameters:
        - name: id
          in: path
          description: The product family id
          required: true
          schema:
            type: string
      responses:
        '204':
          description: NO_CONTENT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unit'
        '403':
          description: Forbidden to access this product family
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unit'
        '404':
          description: Product family not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unit'
  /product-keys/{productKeyId}/upgrade-product-to/{productId}:
    put:
      tags:
        - Product Keys
      summary: Upgrade a product key's product
      description: Upgrade a product key's product
      operationId: upgradeProduct
      parameters:
        - name: productKeyId
          in: path
          description: The product key id
          required: true
          schema:
            type: string
        - name: productId
          in: path
          description: The product to upgrade the product key to
          required: true
          schema:
            type: string
      responses:
        '204':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '403':
          description: Forbidden to access this product key
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Product key not found
          content:
            application/json:
              schema:
                type: object
  /product-keys/{productKeyId}/downgrade-product-to/{productId}:
    put:
      tags:
        - Product Keys
      summary: Downgrade a product key's product
      description: Downgrade a product key's product
      operationId: downgradeProductKey
      parameters:
        - name: productKeyId
          in: path
          description: The product key id
          required: true
          schema:
            type: string
        - name: productId
          in: path
          description: The product to downgrade the product key to
          required: true
          schema:
            type: string
      responses:
        '204':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '403':
          description: Forbidden to access this product key
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Product key not found
          content:
            application/json:
              schema:
                type: object
  /product-keys/{id}:
    get:
      tags:
        - Product Keys
      summary: Retrieve a product key
      description: Retrieve a product key
      operationId: getProductKey_1
      parameters:
        - name: id
          in: path
          description: The product key id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The product key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductKeyView'
        '403':
          description: Forbidden to access this product key
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Product key not found
          content:
            application/json:
              schema:
                type: object
    put:
      tags:
        - Product Keys
      summary: Update a product key
      description: Update a product key
      operationId: updateProductKey
      parameters:
        - name: id
          in: path
          description: The Product Key ID
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProductKeyRequest'
        required: true
      responses:
        '200':
          description: The product keys
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductKeyView'
        '403':
          description: Forbidden to access this product key
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Product key not found
          content:
            application/json:
              schema:
                type: object
  /product-keys/reactivate/{productKeyId}:
    put:
      tags:
        - Product Keys
      summary: Reactivate a product key
      description: Reactivate a product key
      operationId: reactivateProductKey
      parameters:
        - name: productKeyId
          in: path
          description: The product key id
          required: true
          schema:
            type: string
      responses:
        '204':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '403':
          description: Forbidden to access this product key
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Product key not found
          content:
            application/json:
              schema:
                type: object
  /product-keys/force-reset/{productKeyId}:
    put:
      tags:
        - Product Keys
      summary: Force reset a product key
      description: Force reset a product key
      operationId: forceResetProductKey
      parameters:
        - name: productKeyId
          in: path
          description: The product key id
          required: true
          schema:
            type: string
      responses:
        '204':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '403':
          description: Forbidden to access this product key
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Product key not found
          content:
            application/json:
              schema:
                type: object
  /pricing-rules/{ruleId}:
    get:
      tags:
        - Pricing Rules
      summary: Get a pricing rule
      description: Get a pricing rule
      operationId: getPricingRule
      parameters:
        - name: ruleId
          in: path
          description: The rule id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The pricing rule
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PricingRuleView'
        '403':
          description: Forbidden to access this asset
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Asset or pricing rule not found
          content:
            application/json:
              schema:
                type: object
    put:
      tags:
        - Pricing Rules
      summary: Update a pricing rule
      description: Update a pricing rule
      operationId: updatePricingRule
      parameters:
        - name: ruleId
          in: path
          description: The rule id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePricingRuleRequest'
        required: true
      responses:
        '201':
          description: The created pricing rule
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PricingRuleView'
        '403':
          description: Forbidden to create the pricing rule
          content:
            application/json:
              schema:
                type: object
        '404':
          description: User not found
          content:
            application/json:
              schema:
                type: object
    delete:
      tags:
        - Pricing Rules
      summary: Delete a pricing rule
      description: Delete a pricing rule
      operationId: deletePricingRule
      parameters:
        - name: ruleId
          in: path
          description: The rule id
          required: true
          schema:
            type: string
      responses:
        '204':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unit'
        '403':
          description: Forbidden to access this pricing rule
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unit'
        '404':
          description: Pricing rule not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unit'
  /plans/{id}:
    get:
      tags:
        - Plans
      summary: Get an plan
      description: Get an plan
      operationId: getPlan
      parameters:
        - name: id
          in: path
          description: The plan id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The plan
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanView'
        '403':
          description: Forbidden to access this plan
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Plan not found
          content:
            application/json:
              schema:
                type: object
    put:
      tags:
        - Plans
      summary: Update an plan
      description: Update an plan
      operationId: updatePlan
      parameters:
        - name: id
          in: path
          description: The plan id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePlanRequest'
        required: true
      responses:
        '200':
          description: The updated plan
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanView'
        '403':
          description: Forbidden to access this user
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Owner not found
          content:
            application/json:
              schema:
                type: object
    delete:
      tags:
        - Plans
      summary: Delete a plan
      description: Delete a plan
      operationId: deletePlan
      parameters:
        - name: id
          in: path
          description: The plan id
          required: true
          schema:
            type: string
      responses:
        '204':
          description: NO_CONTENT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unit'
        '403':
          description: Forbidden to access this plan
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unit'
        '404':
          description: Plan not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unit'
  /plans/{id}/remove-trial:
    put:
      tags:
        - Plans
      summary: Remove trial from a plan
      description: Remove trial from a plan
      operationId: removeTrial_1
      parameters:
        - name: id
          in: path
          description: The plan id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The plan
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanView'
        '403':
          description: Forbidden to update this plan
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Plan not found
          content:
            application/json:
              schema:
                type: object
  /plan-elements/{id}:
    get:
      tags:
        - Elements
      summary: Get an plan element
      description: Get an plan element
      operationId: getPlanElement
      parameters:
        - name: id
          in: path
          description: The plan element id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The plan element
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanElementView'
        '403':
          description: Forbidden to access this plan element
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Plan not found
          content:
            application/json:
              schema:
                type: object
    put:
      tags:
        - Elements
      summary: Update a plan element
      description: Update a plan element
      operationId: updatePlanElement
      parameters:
        - name: id
          in: path
          description: The plan element id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePlanElementRequest'
        required: true
      responses:
        '200':
          description: The updated plan element
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanElementView'
        '403':
          description: Forbidden to access this user
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Owner not found
          content:
            application/json:
              schema:
                type: object
    delete:
      tags:
        - Elements
      summary: Delete a plan element
      description: Delete a plan element
      operationId: deletePlanElement
      parameters:
        - name: id
          in: path
          description: The plan element id
          required: true
          schema:
            type: string
      responses:
        '204':
          description: NO_CONTENT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unit'
        '403':
          description: Forbidden to access this plan element
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unit'
        '404':
          description: Plan not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unit'
  /payment/pay/customer/{customerId}:
    put:
      tags:
        - Payment
      summary: Pay outstanding invoices
      description: Pay outstanding invoices
      operationId: payInvoices
      parameters:
        - name: customerId
          in: path
          description: Customer id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The client secret
          content:
            application/json:
              schema:
                type: object
        '404':
          description: User not found
          content:
            application/json:
              schema:
                type: object
  /payment/force-reset/product/{productId}/user/{userId}:
    put:
      tags:
        - Payment
      summary: Force reset payment record and payment customer for testing
      description: Force reset payment record and payment customer for testing
      operationId: forceReset
      parameters:
        - name: productId
          in: path
          description: Product id
          required: true
          schema:
            type: string
        - name: userId
          in: path
          description: User id
          required: true
          schema:
            type: string
      responses:
        '404':
          description: User not found
          content:
            application/json:
              schema:
                type: string
  /payment/customers/{id}/pay:
    put:
      tags:
        - Payment Methods
      summary: Pay all outstanding invoices for payment customer
      description: Pay all outstanding invoices for payment customer
      operationId: Pay
      parameters:
        - name: id
          in: path
          description: The payment customer id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The payment customer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentCustomerView'
        '404':
          description: Payment customer not found
          content:
            application/json:
              schema:
                type: object
  /payment/customers/{customerId}/default/method/{methodId}:
    put:
      tags:
        - Payment Methods
      summary: Set default payment method for a payment customer
      description: Set default payment method for a payment customer
      operationId: setDefaultPaymentMethod
      parameters:
        - name: customerId
          in: path
          description: The payment customer id
          required: true
          schema:
            type: string
        - name: methodId
          in: path
          description: The default payment method id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The payment customer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentCustomerView'
        '404':
          description: Payment customer not found
          content:
            application/json:
              schema:
                type: object
  /payment/customers/force-reset/{id}:
    put:
      tags:
        - Payment Methods
      summary: Force reset payment customer for testing
      description: Force reset payment customer for testing
      operationId: forceResetById
      parameters:
        - name: id
          in: path
          description: The payment customer id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The payment customer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentCustomerView'
        '404':
          description: Payment customer not found
          content:
            application/json:
              schema:
                type: string
  /payment/customers/force-reset/user/{userId}/configuration/{paymentConfigurationId}:
    put:
      tags:
        - Payment Methods
      summary: Force reset payment customer for testing
      description: Force reset payment customer for testing
      operationId: forceResetByUserAndConfiguration
      parameters:
        - name: userId
          in: path
          description: User Id
          required: true
          schema:
            type: string
        - name: paymentConfigurationId
          in: path
          description: Product Id
          required: true
          schema:
            type: string
      responses:
        '404':
          description: User not found
          content:
            application/json:
              schema:
                type: string
  /payment/configurations/{id}:
    get:
      tags:
        - Payment Configurations
      summary: Retrieve a payment configuration
      description: Retrieve a payment configuration
      operationId: getPaymentConfiguration
      parameters:
        - name: id
          in: path
          description: The payment configuration id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The payment configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentConfigurationView'
        '403':
          description: Forbidden to access this payment configuration
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Payment configuration not found
          content:
            application/json:
              schema:
                type: object
    put:
      tags:
        - Payment Configurations
      summary: Update a payment configuration
      description: Update a payment configuration
      operationId: updatePaymentConfiguration
      parameters:
        - name: id
          in: path
          description: The payment configuration id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePaymentConfigurationRequest'
        required: true
      responses:
        '200':
          description: The updated payment configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentConfigurationView'
        '403':
          description: Forbidden to access this payment configuration
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Payment configuration not found
          content:
            application/json:
              schema:
                type: object
    delete:
      tags:
        - Payment Configurations
      summary: Delete a payment configuration
      description: Delete a payment configuration
      operationId: deletePaymentConfiguration
      parameters:
        - name: id
          in: path
          description: The payment configuration id
          required: true
          schema:
            type: string
      responses:
        '204':
          description: NO_CONTENT
          content:
            application/json:
              schema:
                type: object
        '403':
          description: Forbidden to access this payment configurations
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Payment configuration not found
          content:
            application/json:
              schema:
                type: object
  /payment/complete-subscription/product/{productId}/user/{userId}:
    put:
      tags:
        - Payment
      summary: Get product key for payment
      description: Get product key for payment
      operationId: getProductKey
      parameters:
        - name: productId
          in: path
          description: Product Id
          required: true
          schema:
            type: string
        - name: userId
          in: path
          description: User Id
          required: true
          schema:
            type: string
        - name: applicationId
          in: query
          required: false
          schema:
            type: string
        - name: contractExternalId
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Payment record
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentRecordView'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                type: object
  /payment/cancel/product/{productId}/user/{userId}:
    put:
      tags:
        - Payment
      summary: Cancel payment
      description: Cancel payment
      operationId: cancelPayment
      parameters:
        - name: productId
          in: path
          description: Product Id
          required: true
          schema:
            type: string
        - name: userId
          in: path
          description: User Id
          required: true
          schema:
            type: string
      responses:
        '404':
          description: User not found
          content:
            application/json:
              schema:
                type: object
  /organizations/{id}:
    get:
      tags:
        - Organizations
      summary: Retrieve an organization
      description: Retrieve an organization
      operationId: getOrganization
      parameters:
        - name: id
          in: path
          description: The organization id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The organization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationView'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                type: object
    put:
      tags:
        - Organizations
      summary: Update an organization
      description: Update an organization
      operationId: updateOrganization
      parameters:
        - name: id
          in: path
          description: The organization id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOrganizationDto'
        required: true
      responses:
        '200':
          description: The organization
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OrganizationView'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                type: object
    delete:
      tags:
        - Organizations
      summary: Delete an organization
      description: Delete an organization
      operationId: deleteOrganization
      parameters:
        - name: id
          in: path
          description: The Organization ID
          required: true
          schema:
            type: string
      responses:
        '204':
          description: The organization
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                type: object
  /notification-provider/configurations/{id}:
    get:
      tags:
        - Notification Provider Configurations
      summary: Retrieve a notification provider configuration
      description: Retrieve a notification provider configuration
      operationId: getConsumerNotificationProviderConfiguration
      parameters:
        - name: id
          in: path
          description: The notification provider configuration id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The notification provider configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationProviderConfigurationView'
        '403':
          description: Forbidden to access this notification provider configuration
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Notification provider configuration not found
          content:
            application/json:
              schema:
                type: object
    put:
      tags:
        - Notification Provider Configurations
      summary: Update a notification provider configuration
      description: Update a notification provider configuration
      operationId: updateNotificationProviderConfiguration
      parameters:
        - name: id
          in: path
          description: The notification provider configuration id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/UpdateNotificationProviderConfigurationRequest
        required: true
      responses:
        '200':
          description: The updated notification provider configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationProviderConfigurationView'
        '403':
          description: Forbidden to access this notification provider configuration
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Notification provider configuration not found
          content:
            application/json:
              schema:
                type: object
    delete:
      tags:
        - Notification Provider Configurations
      summary: Delete a notification provider configuration
      description: Delete a notification provider configuration
      operationId: deleteNotificationProviderConfiguration
      parameters:
        - name: id
          in: path
          description: The notification provider configuration id
          required: true
          schema:
            type: string
      responses:
        '204':
          description: NO_CONTENT
          content:
            application/json:
              schema:
                type: object
        '403':
          description: Forbidden to delete this notification provider configurations
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Notification provider configuration not found
          content:
            application/json:
              schema:
                type: object
  /notification-custom-content:
    put:
      tags:
        - Notification Custom Content
      summary: Update a notification template
      description: Update a notification template
      operationId: updateNotificationTemplate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateNotificationTemplateRequest'
        required: true
      responses:
        '200':
          description: The notification templates
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NotificationTemplateView'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                type: object
  /identity-provider/configurations/{id}:
    get:
      tags:
        - Identity Provider Configurations
      summary: Retrieve an Identity Provider Configuration
      description: Retrieve an Identity Provider Configuration
      operationId: getIdentityProviderConfiguration
      parameters:
        - name: id
          in: path
          description: The API Management Configuration ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The Identity Provider Configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentityProviderConfigurationView'
        '403':
          description: Forbidden to access this Identity Provider Configuration
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Identity Provider Configuration not found
          content:
            application/json:
              schema:
                type: object
    put:
      tags:
        - Identity Provider Configurations
      summary: Update an identity provider management configuration
      description: Update an identity provider configuration
      operationId: updateIdentityProviderConfiguration
      parameters:
        - name: id
          in: path
          description: The identity provider configuration id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateIdentityProviderConfigurationRequest'
        required: true
      responses:
        '200':
          description: The updated identity provider configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentityProviderConfigurationView'
        '403':
          description: Forbidden to access this identity provider configuration
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Identity provider configuration not found
          content:
            application/json:
              schema:
                type: object
    delete:
      tags:
        - Identity Provider Configurations
      summary: Delete an Identity Provider Configuration
      description: Delete an dentity Provider Configuration
      operationId: deleteIdentityProviderConfiguration
      parameters:
        - name: id
          in: path
          description: The Identity Provider Configuration ID
          required: true
          schema:
            type: string
      responses:
        '204':
          description: NO_CONTENT
          content:
            application/json:
              schema:
                type: object
        '403':
          description: Forbidden to delete this Identity Provider Configuration
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Identity Provider Configuration not found
          content:
            application/json:
              schema:
                type: object
  /features/{id}:
    get:
      tags:
        - Features
      summary: Get an feature
      description: Get an feature
      operationId: getFeature
      parameters:
        - name: id
          in: path
          description: The feature id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The feature
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeatureView'
        '403':
          description: Forbidden to access this feature
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Plan not found
          content:
            application/json:
              schema:
                type: object
    put:
      tags:
        - Features
      summary: Update an feature
      description: Update an feature
      operationId: updateFeature
      parameters:
        - name: id
          in: path
          description: The feature id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateFeatureRequest'
        required: true
      responses:
        '200':
          description: The updated feature
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeatureView'
        '403':
          description: Forbidden to access this user
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Owner not found
          content:
            application/json:
              schema:
                type: object
    delete:
      tags:
        - Features
      summary: Delete a feature
      description: Delete a feature
      operationId: deleteFeature
      parameters:
        - name: id
          in: path
          description: The Feature ID
          required: true
          schema:
            type: string
      responses:
        '204':
          description: NO_CONTENT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unit'
        '403':
          description: Forbidden to access this feature
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unit'
        '404':
          description: Plan not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unit'
  /export/configurations/{id}:
    get:
      tags:
        - Export Configurations
      summary: Retrieve an export configuration
      description: Retrieve an export configuration
      operationId: getExportConfiguration
      parameters:
        - name: id
          in: path
          description: The export configuration id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The export configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportConfigurationView'
        '403':
          description: Forbidden to access this export configuration
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Export configuration not found
          content:
            application/json:
              schema:
                type: object
    put:
      tags:
        - Export Configurations
      summary: Update an export configuration
      description: Update an export configuration
      operationId: updateExportConfiguration
      parameters:
        - name: id
          in: path
          description: The export configuration id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateExportConfigurationRequest'
        required: true
      responses:
        '200':
          description: The updated export configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportConfigurationView'
        '403':
          description: Forbidden to access this export configuration
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Export configuration not found
          content:
            application/json:
              schema:
                type: object
    delete:
      tags:
        - Export Configurations
      summary: Delete an export configuration
      description: Delete an export configuration
      operationId: deleteExportConfiguration
      parameters:
        - name: id
          in: path
          description: The export configuration's id
          required: true
          schema:
            type: string
      responses:
        '204':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unit'
        '403':
          description: Forbidden to access this export configurations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unit'
        '404':
          description: Export configuration not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unit'
  /element-definitions/{id}:
    get:
      tags:
        - Element Definitions
      operationId: getElementDefinitionById
      parameters:
        - name: id
          in: path
          description: The element definition id
          required: true
          schema:
            type: string
        - name: organizationId
          in: query
          description: The organization id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ElementDefinitionView'
    put:
      tags:
        - Element Definitions
      operationId: updateElementDefinition
      parameters:
        - name: id
          in: path
          description: The element definition id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ElementDefinitionUpdateRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ElementDefinitionView'
    delete:
      tags:
        - Element Definitions
      operationId: deleteElementDefinition
      parameters:
        - name: id
          in: path
          description: The element definition id
          required: true
          schema:
            type: string
        - name: organizationId
          in: query
          description: The organization id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unit'
  /consumer-data-provider/configurations/{id}:
    get:
      tags:
        - Consumer Data Provider Configurations
      summary: Retrieve an data provider configuration
      description: Retrieve an data provider configuration
      operationId: getConsumerDataProviderConfiguration
      parameters:
        - name: id
          in: path
          description: The data provider configuration id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The data provider configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsumerDataProviderConfigurationView'
        '403':
          description: Forbidden to access this data provider configuration
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Data provider configuration not found
          content:
            application/json:
              schema:
                type: object
    put:
      tags:
        - Consumer Data Provider Configurations
      summary: Update an data provider configuration
      description: Update an consumer data provider configuration
      operationId: updateConsumerDataProviderConfiguration
      parameters:
        - name: id
          in: path
          description: The consumer data provider configuration id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/UpdateConsumerDataProviderConfigurationRequest
        required: true
      responses:
        '200':
          description: The updated consumer data provider configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsumerDataProviderConfigurationView'
        '403':
          description: Forbidden to access this consumer data provider configuration
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Consumer data provider configuration not found
          content:
            application/json:
              schema:
                type: object
    delete:
      tags:
        - Consumer Data Provider Configurations
      summary: Delete a data provider configuration
      description: Delete a data provider configuration
      operationId: deleteConsumerDataProviderConfiguration
      parameters:
        - name: id
          in: path
          description: The consumer data provider configuration id
          required: true
          schema:
            type: string
      responses:
        '204':
          description: NO_CONTENT
          content:
            application/json:
              schema:
                type: object
        '403':
          description: Forbidden to delete this consumer data provider configurations
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Consumer data provider configuration not found
          content:
            application/json:
              schema:
                type: object
  /billing-metadata/{id}:
    put:
      tags:
        - Billing Metadata
      summary: Update an billing metadata
      description: Update an billing metadata
      operationId: updateBillingMetadata
      parameters:
        - name: id
          in: path
          description: The billing metadata id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateBillingMetadataRequest'
        required: true
      responses:
        '201':
          description: The created billing netadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingMetadataView'
        '403':
          description: Forbidden to create the billingmetadata
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Owner not found
          content:
            application/json:
              schema:
                type: object
    delete:
      tags:
        - Billing Metadata
      summary: Delete billing metadata
      description: Delete billing metadata
      operationId: deleteBillingMetadata
      parameters:
        - name: id
          in: path
          description: The billing metadata id
          required: true
          schema:
            type: string
      responses:
        '204':
          description: NO_CONTENT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unit'
        '403':
          description: Forbidden to access this billing metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unit'
        '404':
          description: Billing metadata not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unit'
  /assets/{id}:
    get:
      tags:
        - Assets
      summary: Get an asset
      description: Get an asset
      operationId: getAsset
      parameters:
        - name: id
          in: path
          description: The asset id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The asset
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetView'
        '403':
          description: Forbidden to access this asset
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Asset not found
          content:
            application/json:
              schema:
                type: object
    put:
      tags:
        - Assets
      summary: Update an asset
      description: Update an asset
      operationId: updateAsset
      parameters:
        - name: id
          in: path
          description: The asset id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAssetRequest'
        required: true
      responses:
        '200':
          description: The updated asset
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetView'
        '403':
          description: Forbidden to access this asset
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Owner not found
          content:
            application/json:
              schema:
                type: object
    delete:
      tags:
        - Assets
      summary: Delete an asset
      description: Delete an asset
      operationId: deleteAsset
      parameters:
        - name: id
          in: path
          description: The asset id
          required: true
          schema:
            type: string
      responses:
        '204':
          description: NO_CONTENT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unit'
        '403':
          description: Forbidden to access this asset
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unit'
        '404':
          description: Asset not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unit'
  /applications:
    get:
      tags:
        - Applications
      summary: List applications
      description: List applications
      operationId: listApplications
      parameters:
        - name: organizationId
          in: query
          description: Id of application's organization
          required: true
          schema:
            type: string
        - name: page
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: count
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: order
          in: query
          required: false
          schema:
            type: string
            enum:
              - ASC
              - DESC
        - name: sort
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: The applications
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationPageResponse'
        '403':
          description: Forbidden to access this organization
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                type: object
    put:
      tags:
        - Applications
      summary: Update an application
      description: Update an application
      operationId: updateApplication
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateApplicationRequest'
        required: true
      responses:
        '200':
          description: The application
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationView'
        '403':
          description: Forbidden to access this application
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Application not found
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
        - Applications
      summary: Create an application
      description: Create an application
      operationId: createApplication
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateApplicationRequest'
        required: true
      responses:
        '201':
          description: The application
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationView'
        '403':
          description: Forbidden to access this application
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Application not found
          content:
            application/json:
              schema:
                type: object
  /apim/configurations/{id}:
    get:
      tags:
        - API Management Configurations
      summary: Retrieve an API management configuration
      description: Retrieve an API management configuration
      operationId: getAPIMConfiguration
      parameters:
        - name: id
          in: path
          description: The API management configuration id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The API management configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIMConfigurationView'
        '403':
          description: Forbidden to access this API management configuration
          content:
            application/json:
              schema:
                type: object
        '404':
          description: API management configuration not found
          content:
            application/json:
              schema:
                type: object
    put:
      tags:
        - API Management Configurations
      summary: Update an API management configuration
      description: Update an API management configuration
      operationId: updateAPIMConfiguration
      parameters:
        - name: id
          in: path
          description: The API management configuration id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAPIMConfigurationRequest'
        required: true
      responses:
        '200':
          description: The updated API management configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIMConfigurationView'
        '403':
          description: Forbidden to access this API management configuration
          content:
            application/json:
              schema:
                type: object
        '404':
          description: API management configuration not found
          content:
            application/json:
              schema:
                type: object
    delete:
      tags:
        - API Management Configurations
      summary: Delete an API management configuration
      description: Delete an API management configuration
      operationId: deleteAPIMConfiguration
      parameters:
        - name: id
          in: path
          description: The API management configuration id
          required: true
          schema:
            type: string
      responses:
        '204':
          description: NO_CONTENT
          content:
            application/json:
              schema:
                type: object
        '403':
          description: Forbidden to delete this API management configuration
          content:
            application/json:
              schema:
                type: object
        '404':
          description: API management configuration not found
          content:
            application/json:
              schema:
                type: object
  /account-tier:
    get:
      tags:
        - Account Tiers
      summary: Get all account tiers
      description: Get all account tiers
      operationId: getAccountTiers
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
    put:
      tags:
        - Account Tiers
      summary: Update an account tier
      description: Update an account tier
      operationId: updateAccountTier
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAccountTierRequest'
        required: true
      responses:
        '200':
          description: The account tier
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountTierView'
        '404':
          description: Account tier not found
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
        - Account Tiers
      summary: Create an AccountTier
      description: Create an AccountTier
      operationId: createAccountTier
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAccountTierRequest'
        required: true
      responses:
        '201':
          description: The account tier
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountTierView'
        '404':
          description: Account tier not found
          content:
            application/json:
              schema:
                type: object
  /account-tier/{id}/upgrade:
    put:
      tags:
        - Account Tiers
      summary: Upgrade account tier
      description: Upgrade account tier
      operationId: upgradeAccountTier
      parameters:
        - name: id
          in: path
          description: The account tier ID
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpgradeAccountTierRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
  /account-tier/{id}/sync:
    put:
      tags:
        - Account Tiers
      summary: Sync account tier data
      description: Sync account tier data
      operationId: sync
      parameters:
        - name: id
          in: path
          description: The account tier id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
  /account-tier/{id}/payment-methods/{paymentMethodId}/default:
    put:
      tags:
        - Account Tiers
      summary: Set default payment method
      description: Set default payment method
      operationId: setDefaultPaymentMethod_1
      parameters:
        - name: id
          in: path
          description: The account tier id
          required: true
          schema:
            type: string
        - name: paymentMethodId
          in: path
          description: The payment method ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
  /account-tier/{id}/downgrade:
    put:
      tags:
        - Account Tiers
      summary: Downgrade account tier
      description: Downgrade account tier
      operationId: downgradeAccountTier
      parameters:
        - name: id
          in: path
          description: The account tier id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DowngradeAccountTierRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
  /users:
    get:
      tags:
        - Users
      summary: Retrieve a lst of users for the supplied organzization / tenant
      description: Retrieve a lst of users for the supplied organzization / tenant
      operationId: listUsers
      parameters:
        - name: organizationId
          in: query
          description: The Organization ID
          required: false
          schema:
            type: string
        - name: tenantId
          in: query
          description: The Tenant ID
          required: false
          schema:
            type: string
        - name: currentOrganizationId
          in: query
          description: The current organization ID
          required: false
          schema:
            type: string
        - name: roleNames
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: The user
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserView'
    post:
      tags:
        - Users
      summary: Create a user
      description: Create a user
      operationId: createUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUserDto'
        required: true
      responses:
        '201':
          description: The User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserView'
  /tiers:
    get:
      tags:
        - Tiers
      summary: List of tiers owned by a organization
      description: List of tiers owned by a organization
      operationId: listTiers
      parameters:
        - name: organizationId
          in: query
          description: Id of tiers organization
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The Tiers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TierView'
        '403':
          description: Forbidden to access this owner
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Owner not found
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
        - Tiers
      summary: Create a tier
      description: Create a tier
      operationId: createTier
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTierRequest'
        required: true
      responses:
        '201':
          description: The created tier
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TierView'
        '403':
          description: Forbidden to create the tier
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Owner not found
          content:
            application/json:
              schema:
                type: object
  /tenants:
    get:
      tags:
        - Tenants
      summary: List tenants
      description: List tenants
      operationId: listTenants
      responses:
        '200':
          description: The tenants
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TenantView'
    post:
      tags:
        - Tenants
      summary: Create a tenant
      description: Create a tenant
      operationId: createTenant
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTenantDto'
        required: true
      responses:
        '201':
          description: The Tenant
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantView'
  /templates:
    post:
      tags:
        - Templates
      summary: Create a template
      description: Create a template
      operationId: createTemplate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTemplateRequest'
        required: true
      responses:
        '204':
          description: NO_CONTENT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unit'
        '403':
          description: Forbidden to manage templates for this organization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unit'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unit'
  /stored-filters:
    post:
      tags:
        - Stored filters
      summary: Create an storedfilter
      description: Create an storedfilter
      operationId: createStoredFilter
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateStoredFilterRequest'
        required: true
      responses:
        '201':
          description: The created stored filter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoredFilterResponse'
        '403':
          description: Forbidden to create the stored filter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoredFilterResponse'
        '404':
          description: Owner not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoredFilterResponse'
  /sla-violations/review:
    post:
      tags:
        - SLA Violations
      summary: Review sla violations
      description: Review sla violations
      operationId: reviewSLAViolations
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReviewSLAViolationRequest'
        required: true
      responses:
        '201':
          description: The sla violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SLAViolationView'
        '403':
          description: Forbidden to access this organization
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Organization or sla not found
          content:
            application/json:
              schema:
                type: object
  /sla-definitions:
    get:
      tags:
        - SLA Definitions
      summary: List sla definitions by organization
      description: List sla definitions by organization
      operationId: getSLADefinitions
      parameters:
        - name: organizationId
          in: query
          description: The organization id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The sla definitions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SLADefinitionView'
        '403':
          description: Forbidden to access this sla definition
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Sla definition not found
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
        - SLA Definitions
      summary: Create a sla definition
      description: Create a sla definition
      operationId: createSLADefinition
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSLADefinitionDTO'
        required: true
      responses:
        '201':
          description: The sla definition
          content:
            application/json:
[...]
